[2022-08-22 09:08] johngt commented on #8758
Discussed this internally and we believe that although the hack still exists that its behaviour is well known so marking this as a post M2 item.

[2022-08-22 09:14] jadephilipoom commented on #14385
Based on the chip testplan item that this test covers, the only requirement is to run "an ECDSA operation" and then use the interrupt to check when it completes:
https://github.com/lowRISC/opentitan/blob/fdf456cb19475b19d5a1b6e84a9dd21359408f58/hw/top_earlgrey/data/chip_testplan.hjson#L2106-L2117

I'm unsure if there's a need for this to be specifically an _ECDSA_ operation at all, if all we're te

[2022-08-22 09:17] jadephilipoom commented on #8226
Yes, I think so!

[2022-08-22 09:17] #8226 closed

[2022-08-22 09:22] jadephilipoom commented on #7473
Debatable. The naming is still somewhat inconsistent -- different programs use different conventions, and most of the time we use lowercase for variables/pointers (in agreement with the style gude) but refer to the same numbers by capital letters in comments (because this agrees with the NIST documentation). So technically it is still a little inconsistent. However, I've not had any issues followi

[2022-08-22 09:53] vogelpi commented on #8935
I just had another look at this. With e7fcdad95951dc92314348fd4661757f17bd04cd the problem seems to be solved. The following snippet can be run without issues:
[code]
I am thus closing this issue.

Note, the second call to `entropy_testutils_boot_mode_init()` can also be replaced by `entropy_testutils_auto_mode_init()` and then we can run several round trips in a row. In other words, also this wor

[2022-08-22 09:53] #8935 closed

[2022-08-22 09:58] andreaskurth commented on #14386
The unblanked value comes from the `rnd_data_q` register in `otbn_rnd`. It is X in this simulation because that register is not reset and the register is therefore uninitialized before the first complete RND EDN request. In reality, this would be the value of the RND register for the previous RND request. This could be, e.g., from the execution of a prior program. This would even survive a reset,

[2022-08-22 11:14] johngt opened #14424 "[ci] CI linked past results no longer accessible NoSuchKey"
Likely due to the changes being worked on in CI currently.

When looking at past results linked from https://reports.opentitan.org/hw/top_earlgrey/dv/latest/results.html the older entries are showing NoSuchKey errors.
Accessing a past result such as https://reports.opentitan.org/hw/top_earlgrey/dv/2022.08.16_16.23.56/results.html will cause an error.

Error when looking at a past result:
[code]

[2022-08-22 11:57] vogelpi commented on #14386
RND is critical as this is the high-quality randomness but I am not sure what's best here:
1. If we blank the `rnd_data_q` output, we get Hamming weight leakage of RND once the data becomes available. The exact time instance will shift as it depends on the latency of EDN, CSRNG and thus other things going on. But the time instance will be visible in the traces. Maybe someone could even do some pro

[2022-08-22 12:22] vogelpi commented on #14386
If the attacker has access to RND, we're lost anyway.

Yes absolutely.  But it will be harder to exploit because now the observable leakage also depends on two subsequent RND values instead of just the last one.

It sounds reasonable but I am not sure it's worth the effort. It would certainly help against the X propagation. Do you also see this as better from a security perspective? I am not sure

[2022-08-22 12:49] ctopal commented on #14424
I believe it's related with the fix here: https://github.com/lowRISC/opentitan/pull/14423

[2022-08-22 12:54] ctopal commented on #14424
We also don't have visibility to the summary: https://reports.opentitan.org/hw/top_earlgrey/dv/summary/latest/report.html

[2022-08-22 13:33] johannheyszl commented on #14240
cc @jadephilipoom for visibility

[2022-08-22 13:46] arnonsha opened #14427 "[es] entropy_src lfsr has no ext seed"
The entropy_src lfsr has a floating input. For some reason VCS doesn't report it !

https://github.com/lowRISC/opentitan/blob/99c4ebac86600b1dbe0ac0ef5f096173a103661f/hw/ip/entropy_src/rtl/entropy_src.sv#L210

reg2hw is of type entropy_src_reg2hw_t which is defined here:
https://github.com/lowRISC/opentitan/blob/99c4ebac86600b1dbe0ac0ef5f096173a103661f/hw/ip/entropy_src/rtl/entropy_src_reg_pkg.sv#

[2022-08-22 13:46] arnonsha commented on #14427
@Jacob-Levy

[2022-08-22 14:27] vogelpi commented on #14385
Thanks @jadephilipoom for your input! I've now filed #14428 which replaces the clearing to 0 with a secure wipe of DMEM. This should shave off around 444000 clock cycles from the test already. Now most of the time is actually spent on initializing/loading IMEM and DMEM (2x ~360000 cycles). Maybe there is some low hanging fruit for optimizing this further. Otherwise, switching from sign/verify to v

[2022-08-22 14:28] vogelpi commented on #14385
Actually, I just noted that there is another clearing of DMEM to all 0 inside `otbn_load_app()`. This can probably be removed, too.

[2022-08-22 14:47] jdonjdon commented on #11967
This issues are addressed in #14411

[2022-08-22 15:02] moidx commented on #14424
We are working on enabling the reports again. Will provide an update once they are available.

[2022-08-22 16:06] GregAC commented on #14386
Sounds good to me thanks for the discussion @andreaskurth @vogelpi

Oh and FYI, were we to add blanking here we'd need to think very carefully about having the blanker enable fed from combinational logic (rather than just straight from a flop) as glitches can results in your blanking not being as effective as you'd like (or maybe just totally useless). A single OR of two flopped signals may be acc

[2022-08-22 16:11] abdullahvarici commented on #14332
I have tried to find the root cause for this issue.

After running [this](https://github.com/lowRISC/opentitan/blob/72e092e3837aa2ab96e4a58cb3c5f416e52a19a7/sw/device/tests/aes_sideload_test.c#L47) function, KEYMGR.OP_STATUS becomes "0x3 - DONE_ERROR" and lsb bit of the KEYMGR.ERR_CODE is set meaning "Invalid operation issued to key manager, synchronous error".

Maybe error is due to [this](https:

[2022-08-22 16:13] tjaychen commented on #8758
this is related to #14287, which we will discuss in the silicon working group soon.

[2022-08-22 16:20] tjaychen commented on #14409
@martin-lueker  / @andreaskurth / @mwbranstad
yes that's right, the disable is happening because the test is trying to switch from `boot` mode entropy to fips entropy with auto mode enabled in `edn`.   So as a result every single block in the entropy_complex is being disabled and re-enabled.

@andreaskurth
if you look at the waveform, you can see the `csrng` command ready state. It has not fully a

[2022-08-22 16:21] tjaychen commented on #10704
thanks @jadephilipoom . Since this is already marked future release, we should probably revisit it in the future.
But it does seem better to have related hw checks.

[2022-08-22 16:28] cindychip commented on #14395
I like this idea too!

[2022-08-22 16:35] #14395 closed

[2022-08-22 16:37] vogelpi commented on #13974
FYI: I will look into revising the test as discussed in the previous comment tomorrow.

[2022-08-22 16:39] tjaychen opened #14433 "[flash_ctrl/dv] Randomize read, program and erase latencies"
see [this comment](https://github.com/lowRISC/opentitan/pull/14404#discussion_r950640204)

It would be very beneficial to randomize the read / program / erase latencies in the flash block level tests.
This will help ensure the design is robust against a different range of timing.

[2022-08-22 16:50] tjaychen commented on #14332
that is very peculiar. Let me have a look as well.
the `error` suggests we issued a transaction that `keymgr` does not support, given the state the module is in.
But it's pretty strange it's suddenly happening since this stuff is pretty static.

[2022-08-22 16:51] mwbranstad commented on #14409
@tjaychen regarding cmd_stage_fsm - I believe @senelson7 has a pending fix for coverage that also includes checking each state for enable, such that part of the problem in this issue may go away if that PR is approved.

For stalling the edn endpoints, it is not clear what the best implementation might be. It could be in EDN but I think we may need to instruct the endpoint to stop requesting, then

[2022-08-22 16:53] dmcardle opened #14436 "Investigate why //sw/device/lib/base:memory_perftest was flaky"
cc @cfrantz @alphan

Something in PR https://github.com/lowRISC/opentitan/pull/14044 invalidated `memory_perftest`'s hardcoded cycle count expectations. I updated the expectations in #14399, but left the test "flaky" and "manual" because we don't yet understand why it happened.

Disassembly diff: https://gist.github.com/dmcardle/4420de24287f77edf4642b5428d04878. This compares `//sw/device/lib/base

[2022-08-22 16:57] tjaychen commented on #14409
@mwbranstad do you mean @senelson7 fix also adds enable handling in the fsm..?
The fsm i'm referring to is [here](https://github.com/lowRISC/opentitan/blob/master/hw/ip/csrng/rtl/csrng_cmd_stage.sv#L255), i don't immediately see anything obvious in the `CmdAck` state that [handles disable](https://github.com/lowRISC/opentitan/blob/master/hw/ip/csrng/rtl/csrng_cmd_stage.sv#L300), and that was my as

[2022-08-22 17:00] tjaychen commented on #14436
@GregAC
is there any way you can try to force the address alignment to word just to see if it makes a difference?
I know ibex has lower performance when it tries to do word writes across non-word aligned boundaries (i believe it breaks it into multiple writes), but I didn't think that would happen with instruction reads...

Still it would be good if we can check the address alignments to see if th

[2022-08-22 18:22] dmcardle commented on #14436
Oh, interesting! Aligning functions to 32 bits reduces the cycle counts. Instead of the "memcpy" test going from 190290 to 210280, it changes to 190300.

[code]

Here's the new disassembly diff: https://gist.github.com/dmcardle/5ebbf8da62a3aae1ddc7115e908d1e47

And for good measure, here's the results of running the perftest again. This is just 3e99db1e33bbb4988011a9bdb21ab661f666c7e9 plus the BUI

[2022-08-22 18:32] tjaychen commented on #14436
huh.... this is just aligning the starting address of the functions to 32-bit right? Not the actual data buffers?

[2022-08-22 18:33] dmcardle commented on #14436
Following up, if I also add `-falign-functions=32` to 4a22ede583c6b79d696f61c80c2dc2b2c84e295e, I get the same "actually took $n cycles" output, implying that 3e99db1e33bbb4988011a9bdb21ab661f666c7e9 would not have broken the expectations if we were forcing 32-bit function alignment all along.

[code]

[2022-08-22 18:37] tjaychen commented on #14436
ahh... it appears to be a result of [this](https://ibex-core.readthedocs.io/en/latest/03_reference/instruction_fetch.html#misaligned-accesses)

@GregAC can elaborate better than i can. So my memory of how transactions are split was right, just didn't realize it also applied to instruction fetches.

[2022-08-22 19:13] tjaychen commented on #14203
fixed by #14373

[2022-08-22 19:13] #14203 closed

[2022-08-22 19:25] dmcardle commented on #14436
I hastily sent out PR #14438, but then I realized that `-falign-functions=32` is saying to align to 32 **bytes**, not bits. When I use `-falign-functions=4`, I no longer see the same cycle counts in 4a22ede583c6b79d696f61c80c2dc2b2c84e295e and 3e99db1e33bbb4988011a9bdb21ab661f666c7e9.

Based on the doc you shared about [misaligned accesses](https://ibex-core.readthedocs.io/en/latest/03_reference/i

[2022-08-22 19:29] tjaychen commented on #14436
i wonder if 4B / 2B is kind of hit or miss though.. because in the end it's probably not where the entry into `memcpy` that matters, but where the particular loop is aligned right?

so even if memcpy entry is 2B, the loop might still be 4B aligned, or vice versa.

[2022-08-22 20:01] mwbranstad commented on #14409
Yes @senelson7 fix was added to to be consistent with the main sm. He added it mostly for coverage, but it also has a functional component as you would imagine.
I think it is being blocked by how forces should be done. I think it will be addressed in tomorrow's meeting possible.

[2022-08-22 20:03] tjaychen commented on #14409
sounds good. Then let me add a local hack to move on for now. The `edn` one i think probably makes more sense to test at block level. Ie, just randomly disable during the middle of a lot of activity and see if anything locks up.  What do you think?

[2022-08-22 20:05] tjaychen commented on #14409
#14028 will likely address the issue presented in this PR.

[2022-08-22 20:08] tjaychen commented on #14332
just a note to issue filing, it would be good to indicate both the build seed and the run seed.
Most of the time, the run seed is probably more important.

[2022-08-22 20:33] tjaychen commented on #14166
testplan added in #14440

[2022-08-22 20:33] tjaychen commented on #14164
testplan added in #14440

[2022-08-22 20:39] tjaychen commented on #14427
ah okay.
I see now.

This is because the `prim_lfsr` you're looking at is part of the `Stub` function, which is not actually activated as part of lint / synthesis / rtl sims.

https://github.com/lowRISC/opentitan/blob/83f86fa8959de62cc344e90cb4eba604c93417e2/hw/ip/entropy_src/rtl/entropy_src.sv#L190-L215

So that's good news. I'll still fix it for this option in case anyone runs into it in the fut

[2022-08-22 20:59] dmcardle commented on #14436
Ah, I see your point.  The loop starting with memcpy's `lb` instruction is not colocated with the `memcpy` symbol because there are four bytes of setup instructions. I think it's time to organize these results:

| commit | arg | &memcpy | addr of `lb` instr | perftest cycle count|
|----|-----|----|----|---|
|  4a22ede583c6b79d696f61c80c2dc2b2c84e295e | None  |  20001ef8 | 20001efc (% 4 == 0) | 190

[2022-08-22 21:10] timothytrippel commented on #13430
I think I have solved your issue, but please read through / perform the steps below to verify this works you. If so, please close the issue, otherwise I can hop on a call to help you resolve this more quickly.

# TL;DR
Add
[code]
to `hw/top_earlgrey/dv/chip_sim_cfg.hjson` instead of setting the`sw_build_opts` to `["--action_env=MANUFACTURER_HOOKS_DIR=/path/to/closed_source_dir"]`

# Complete Steps

[2022-08-22 21:21] tjaychen commented on #13219
can we double check if this test is a duplicate of this one [here](https://github.com/lowRISC/opentitan/blob/83f86fa8959de62cc344e90cb4eba604c93417e2/hw/top_earlgrey/data/chip_testplan.hjson#L1150-L1161)?

Or whether the test could be enhanced to satisfy the requirements of both?

[2022-08-22 21:28] timothytrippel commented on #14353
At the moment, Bazel builds the Verilator simulation binary by [invoking FuseSoC](https://cs.opensource.google/opentitan/opentitan/+/master:hw/BUILD;drc=00c717be9ae9e3e799c56bd49aadc6b29432f83d;l=24). It should only trigger a rebuild if any dependencies have changed. Unfortunately, the Verilator simulation binary Bazel target [depends on](https://cs.opensource.google/opentitan/opentitan/+/master:h

[2022-08-22 21:29] tjaychen commented on #13218
could you guys check this one against the rstmgr_cpu_info_test?
I think they're pretty similar in nature, so maybe we should enhance a single test to do both?

[2022-08-22 21:37] tjaychen commented on #14125
@moidx
@alphan

I believe this item is duplicated from e2e mask rom, can you guys confirm?
See description [here](https://github.com/lowRISC/opentitan/blob/83f86fa8959de62cc344e90cb4eba604c93417e2/hw/top_earlgrey/data/chip_testplan.hjson#L2881)

[2022-08-22 21:39] #13374 closed

[2022-08-22 21:42] alphan opened #14443 "[sw/silicon_creator] Move bootstrap docs to md"
We should move these docs to markdown. Ok if it is under a bootstrap section under ROM docs.

_Originally posted by @moidx in https://github.com/lowRISC/opentitan/pull/14402#discussion_r951901387_

[2022-08-22 21:44] eunchan commented on #14045
@weicaiyang pointed that if Generic mode and TPM can be active together. With the suggested change (moving TPM FIFOs into DPSRAM), I assume generic and tpm are mutually exclusive. Need to clarify this with the users.

CC: @tjaychen

[2022-08-22 21:47] tjaychen commented on #14147
since cpu access to the rv_dm device is covered [here](https://github.com/lowRISC/opentitan/blob/8365ac4e97ca340e441ff3355fa07862449b9c8d/hw/top_earlgrey/data/chip_testplan.hjson#L527), should this test only check the JTAG access side?

Or maybe we just need to update the testplan to x-ref the other.

[2022-08-22 21:50] tjaychen commented on #14153
I don't think this test is actually required anymore.
@matutem could you help confirm? It's just going to be not setting the hint, there's no related hardware feature here.

[2022-08-22 21:52] tjaychen commented on #14045
ahhhhhh..... thanks for the reminder.
Generic mode and TPM mode at the same time... probably not likely.

However, we did plan for [parallel TPM function](https://docs.google.com/document/d/1krNr5lZDjpVFtp3iT-rCkRU4oQc9lXtHsZrBJuCInZ4/edit#bookmark=id.2glqu8vuyfwc) at the same time.. so I don't think we can actually merge this.

[2022-08-22 22:12] eunchan commented on #14045
So, the current TPM function behaves as "parallel TPM function". The section describes "the SPI device will be able to run TPM and flash functions (described in the sections above) in parallel". Even if generic mode and TPM mode are mutually exclusive, this still satisfy. Is it OK to revise the tech spec to clarify even in the current version of IP (which do not move the FIFOs into DPSRAM yet).

[2022-08-22 22:14] tjaychen commented on #14045
yeah that sounds good.

On Mon, Aug 22, 2022 at 3:12 PM Eli Kim ***@***.***> wrote:

[2022-08-22 22:31] sriyerg commented on #14153
There is no connection from rv_dm to the pwrmgr to prevent pwrmgr from going into low power state.
The associated bug on this is still open: https://github.com/lowRISC/opentitan/issues/7215

[2022-08-22 22:34] tjaychen commented on #14153
that's right, and there's not going to be for this iteration. #7215 should be marked as future release.
If I mark that one as such, then this one can be closed right?

[2022-08-22 22:34] tjaychen commented on #14153
o wait it's already marked future release.

[2022-08-22 22:39] msfschaffner commented on #14153
I think so, yes. We should also remove it from the testplan then...

[2022-08-22 22:56] tjaychen commented on #14140
is this test duplicated by https://github.com/lowRISC/opentitan/blob/8365ac4e97ca340e441ff3355fa07862449b9c8d/hw/top_earlgrey/data/chip_testplan.hjson#L1175?

[2022-08-22 23:16] msfschaffner commented on #14140
Yeah it looks like this is already covered by `chip_sw_rstmgr_alert_info`. Should we just cross ref the test-point, or do you want to remove it entirely?

[2022-08-22 23:17] tjaychen commented on #14436
wow this all makes sense except for the part where it gets even...better.
The only thing i can think of is that in addition to where the `lb` is called, the other elements of the loop are probably also important.  Is the `180310` case somehow... more frequently aligned? Maybe it'd be helpful to see the disassembly.

[2022-08-22 23:19] tjaychen commented on #14140
Feels like `X-ref` is what we usually do, but wanted to confirm that the existing test covers the spirit of the test point.

[2022-08-22 23:21] msfschaffner commented on #14147
I think we can cross reference this.

Note: if we touch the testplan we should also fix this typo: `chip_tap_strap_sampling` -> `chip_sw_tap_strap_sampling`:
https://github.com/lowRISC/opentitan/blob/8365ac4e97ca340e441ff3355fa07862449b9c8d/hw/top_earlgrey/data/chip_testplan.hjson#L599

[2022-08-22 23:21] msfschaffner commented on #14140
I think so yes. @cindychip to confirm.

[2022-08-23 00:44] tjaychen commented on #14163
This item can potentially be addressed by chip connectivity tests.
@cindychip

[2022-08-23 00:45] tjaychen commented on #13393
do we feel like this test is already accomplished by `entropy_src_edn_req_test`? I feel like it is.

[2022-08-23 00:52] tjaychen commented on #14143
@sriyerg since this test seems to mainly want to test CPU access to debug region when not in debug mode, I think we can place it under `Help Wanted: SW` right?

[2022-08-23 01:36] alphan commented on #14443
Also [this](https://docs.google.com/document/d/1i6V3tFTv0UhWeM-IGCxgxkC07Bo_zpbgr6u1KE1Rehs/edit?resourcekey=0-L-XaP9QeLAkEsp8najVkUQ)

[2022-08-23 01:58] alphan opened #14450 "[rom-e2e] rom_e2e_bootstrap_enabled_requested"
### Test point name

[rom_e2e_bootstrap_enabled_requested](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/data/rom_testplan.hjson?q=rom_e2e_bootstrap_enabled_requested)

### Host side component

Unknown

### OpenTitanTool infrastructure implemented

Unknown

### Contact person

@alphan

### Checklist

Please fill out this checklist as items are completed. L

[2022-08-23 01:58] alphan opened #14451 "[rom-e2e] rom_e2e_bootstrap_enabled_not_requested"
### Test point name

[rom_e2e_bootstrap_enabled_not_requested](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/data/rom_testplan.hjson?q=rom_e2e_bootstrap_enabled_not_requested)

### Host side component

Unknown

### OpenTitanTool infrastructure implemented

Unknown

### Contact person

@alphan

### Checklist

Please fill out this checklist as items are comp

[2022-08-23 01:58] alphan opened #14452 "[rom-e2e] rom_e2e_bootstrap_disabled_requested"
**Testpoint name:** [rom_e2e_bootstrap_disabled_requested](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/data/rom_e2e_testplan.hjson?q=rom_e2e_bootstrap_disabled_requested)

**Contact person:** @alphan

**Description:** Verify that ROM does not enter bootstrap when disabled in OTP but requested.

`OWNER_SW_CFG_ROM_BOOTSTRAP_EN` OTP item must be `kHardenedB

[2022-08-23 01:58] alphan opened #14453 "[rom-e2e] rom_e2e_bootstrap_disabled_not_requested"
**Testpoint name:** [rom_e2e_bootstrap_disabled_not_requested](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/data/rom_e2e_testplan.hjson?q=rom_e2e_bootstrap_disabled_not_requested)

**Contact person:** @alphan

**Description:** Verify that ROM does not enter bootstrap when disabled in OTP and not requested.

`OWNER_SW_CFG_ROM_BOOTSTRAP_EN` OTP item must be

[2022-08-23 01:58] alphan opened #14454 "[rom-e2e] rom_e2e_bootstrap_read_status"
### Test point name

[rom_e2e_bootstrap_read_status](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/data/rom_testplan.hjson?q=rom_e2e_bootstrap_read_status)

### Host side component

Unknown

### OpenTitanTool infrastructure implemented

Unknown

### Contact person

@alphan

### Checklist

Please fill out this checklist as items are completed. Link to PRs a

[2022-08-23 01:58] alphan opened #14455 "[rom-e2e] rom_e2e_bootstrap_watchdog_disabled"
**Testpoint name:** [rom_e2e_bootstrap_watchdog_disabled](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/data/rom_e2e_testplan.hjson?q=rom_e2e_bootstrap_watchdog_disabled)

**Contact person:** @alphan

**Description:** Verify that watchdog is disabled upon entering bootstrap.

`OWNER_SW_CFG_ROM_BOOTSTRAP_EN` OTP item must be `kHardenedBoolTrue` (`0x739`).
`

[2022-08-23 01:58] alphan opened #14456 "[rom-e2e] rom_e2e_bootstrap_read_id"
### Test point name

[rom_e2e_bootstrap_read_id](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/data/rom_testplan.hjson?q=rom_e2e_bootstrap_read_id)

### Host side component

Unknown

### OpenTitanTool infrastructure implemented

Unknown

### Contact person

@alphan

### Checklist

Please fill out this checklist as items are completed. Link to PRs and issue

[2022-08-23 01:58] alphan opened #14457 "[rom-e2e] rom_e2e_bootstrap_read_sfdp"
### Test point name

[rom_e2e_bootstrap_read_sfdp](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/data/rom_e2e_testplan.hjson?q=rom_e2e_bootstrap_read_sfdp)

### Host side component

Unknown

### OpenTitanTool infrastructure implemented

Unknown

### Contact person

@alphan

### Checklist

Please fill out this checklist as items are completed. Link to PRs a

[2022-08-23 01:58] alphan opened #14458 "[rom-e2e] rom_e2e_bootstrap_write_enable_disable"
### Test point name

[rom_e2e_bootstrap_write_enable_disable](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/data/rom_testplan.hjson?q=rom_e2e_bootstrap_write_enable_disable)

### Host side component

Unknown

### OpenTitanTool infrastructure implemented

Unknown

### Contact person

@alphan

### Checklist

Please fill out this checklist as items are comple

[2022-08-23 01:58] alphan opened #14459 "[rom-e2e] rom_e2e_bootstrap_phase1_reset"
### Test point name

[rom_e2e_bootstrap_phase1_reset](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/data/rom_testplan.hjson?q=rom_e2e_bootstrap_phase1_reset)

### Host side component

Unknown

### OpenTitanTool infrastructure implemented

Unknown

### Contact person

@alphan

### Checklist

Please fill out this checklist as items are completed. Link to PRs

[2022-08-23 01:58] alphan opened #14460 "[rom-e2e] rom_e2e_bootstrap_phase1_page_program"
### Test point name

[rom_e2e_bootstrap_phase1_page_program](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/data/rom_testplan.hjson?q=rom_e2e_bootstrap_phase1_page_program)

### Host side component

Unknown

### OpenTitanTool infrastructure implemented

Unknown

### Contact person

@alphan

### Checklist

Please fill out this checklist as items are complete

[2022-08-23 01:58] alphan opened #14461 "[rom-e2e] rom_e2e_bootstrap_phase1_erase"
### Test point name

[rom_e2e_bootstrap_phase1_erase](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/data/rom_testplan.hjson?q=rom_e2e_bootstrap_phase1_erase)

### Host side component

Unknown

### OpenTitanTool infrastructure implemented

Unknown

### Contact person

@alphan

### Checklist

Please fill out this checklist as items are completed. Link to PRs

[2022-08-23 01:58] alphan opened #14462 "[rom-e2e] rom_e2e_bootstrap_phase1_read"
### Test point name

[rom_e2e_bootstrap_phase1_read](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/data/rom_testplan.hjson?q=rom_e2e_bootstrap_phase1_read)

### Host side component

Unknown

### OpenTitanTool infrastructure implemented

Unknown

### Contact person

@alphan

### Checklist

Please fill out this checklist as items are completed. Link to PRs a

[2022-08-23 01:58] alphan opened #14463 "[rom-e2e] rom_e2e_bootstrap_phase2_reset"
### Test point name

[rom_e2e_bootstrap_phase2_reset](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/data/rom_testplan.hjson?q=rom_e2e_bootstrap_phase2_reset)

### Host side component

Unknown

### OpenTitanTool infrastructure implemented

Unknown

### Contact person

@alphan

### Checklist

Please fill out this checklist as items are completed. Link to PRs

[2022-08-23 01:58] alphan opened #14464 "[rom-e2e] rom_e2e_bootstrap_phase2_page_program"
### Test point name

[rom_e2e_bootstrap_phase2_page_program](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/data/rom_testplan.hjson?q=rom_e2e_bootstrap_phase2_page_program)

### Host side component

Unknown

### OpenTitanTool infrastructure implemented

Unknown

### Contact person

@alphan

### Checklist

Please fill out this checklist as items are complete

[2022-08-23 01:58] alphan opened #14465 "[rom-e2e] rom_e2e_bootstrap_phase2_erase"
### Test point name

[rom_e2e_bootstrap_phase2_erase](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/data/rom_testplan.hjson?q=rom_e2e_bootstrap_phase2_erase)

### Host side component

Unknown

### OpenTitanTool infrastructure implemented

Unknown

### Contact person

@alphan

### Checklist

Please fill out this checklist as items are completed. Link to PRs

[2022-08-23 01:58] alphan opened #14466 "[rom-e2e] rom_e2e_bootstrap_phase2_read"
### Test point name

[rom_e2e_bootstrap_phase2_read](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/data/rom_testplan.hjson?q=rom_e2e_bootstrap_phase2_read)

### Host side component

Unknown

### OpenTitanTool infrastructure implemented

Unknown

### Contact person

@alphan

### Checklist

Please fill out this checklist as items are completed. Link to PRs a

[2022-08-23 01:58] alphan opened #14467 "[rom-e2e] rom_e2e_bootstrap_shutdown"
### Test point name

[rom_e2e_bootstrap_shutdown](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/data/rom_testplan.hjson?q=rom_e2e_bootstrap_shutdown)

### Host side component

Unknown

### OpenTitanTool infrastructure implemented

Unknown

### Contact person

@alphan

### Checklist

Please fill out this checklist as items are completed. Link to PRs and iss

[2022-08-23 01:58] alphan opened #14468 "[rom-e2e] rom_e2e_boot_policy_no_rom_ext"
### Test point name

[rom_e2e_boot_policy_no_rom_ext](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/data/rom_e2e_testplan.hjson?q=rom_e2e_boot_policy_no_rom_ext)

### Host side component

Unknown

### OpenTitanTool infrastructure implemented

Unknown

### Contact person

@alphan

### Checklist

Please fill out this checklist as items are completed. Link to

[2022-08-23 01:58] alphan opened #14469 "[rom-e2e] rom_e2e_boot_policy_newer"
### Test point name

[rom_e2e_boot_policy_newer](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/data/rom_testplan.hjson?q=rom_e2e_boot_policy_newer)

### Host side component

Unknown

### OpenTitanTool infrastructure implemented

Unknown

### Contact person

@alphan

### Checklist

Please fill out this checklist as items are completed. Link to PRs and issue

[2022-08-23 02:04] cindychip opened #14470 "[kmac] err_chk state not consistent with the sha3 pad state"
Hi Eunchan,

I want to confirm with behavior with you regarding the `en_unsupported_modestrength` usage.

Here is my sequence:
1). Set the `en_unsupported_modestrength` to 0 and set incorrect mode strength.
2). Issue `start` command -> SW err_code gives `ErrUnexpectedModeStrength`. (This is what we expect)
     And we expect the sha3 engine to ignore this cmd `start`, and this is correct as well.

[2022-08-23 02:06] msfschaffner opened #14472 "[prim] Make alert outputs from primitives compatible with comportable IPs"
Alerts output from `prim_flash` and `prim_otp` are currently handled in a very custom way which is not compatible with the common DV infrastructure for common alert sources like sparse FSMs, bus integrity and the like. I.e., the alerts are currently sent over to AST, and then back into `sensor_ctrl` to feed them into the comportable alert subsystem.

In order to leverage the common DV infrastructu

[2022-08-23 02:07] alphan opened #14473 "[rom-e2e] rom_e2e_boot_policy_bad_manifest"
**Testpoint name:** [rom_e2e_boot_policy_bad_manifest](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/data/rom_e2e_testplan.hjson?q=rom_e2e_boot_policy_bad_manifest)

**Contact person:** @alphan

**Description:** Verify that ROM performs some basic checks on manifest fields.

`CREATOR_SW_CFG_MIN_SEC_VER_ROM_EXT` OTP item should be 1, and
`CREATOR_SW_CFG_DEF

[2022-08-23 02:07] alphan opened #14474 "[rom-e2e] rom_e2e_boot_policy_valid"
**Testpoint name:** [rom_e2e_boot_policy_valid](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/data/rom_e2e_testplan.hjson?q=rom_e2e_boot_policy_valid)

**Contact person:** @alphan

**Description:** Verify that ROM chooses the slot with the valid signature.

- Apply bootstrap pin strapping and reset the chip.
- Write the ROM_EXT images to the chip -- same s

[2022-08-23 02:07] alphan opened #14475 "[rom-e2e] rom_e2e_boot_policy_rollback"
**Testpoint name:** [rom_e2e_boot_policy_rollback](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/data/rom_e2e_testplan.hjson?q=rom_e2e_boot_policy_rollback)

**Contact person:** @alphan

**Description:** Verify that ROM rejects rollbacks.

`CREATOR_SW_CFG_MIN_SEC_VER_ROM_EXT` OTP item should be 1, and
`CREATOR_SW_CFG_DEFAULT_BOOT_DATA_IN_PROD` should be `k

[2022-08-23 02:07] alphan opened #14476 "[rom-e2e] rom_e2e_boot_data_recovery"
**Testpoint name:** [rom_e2e_boot_data_recovery](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/data/rom_e2e_testplan.hjson?q=rom_e2e_boot_data_recovery)

**Contact person:** @alphan

**Description:** Verify that ROM can use the default boot data when configured to do so.

- Apply bootstrap pin strapping and reset the chip.
- Write the ROM_EXT images to the

[2022-08-23 02:07] alphan opened #14477 "[rom-e2e] rom_e2e_sigverify_always"
**Testpoint name:** [rom_e2e_sigverify_always](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/data/rom_e2e_testplan.hjson?q=rom_e2e_sigverify_always)

**Contact person:** @alphan

**Description:** Verify that ROM performs signature verification in all life cycle states.

- Prepare a ROM_EXT image with a valid signature generated using an authorized key.
- F

[2022-08-23 02:08] alphan opened #14478 "[rom-e2e] rom_e2e_sigverify_key_auth"
### Test point name

[rom_e2e_sigverify_key_auth](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/data/rom_e2e_testplan.hjson?q=rom_e2e_sigverify_key_auth)

### Host side component

Unknown

### OpenTitanTool infrastructure implemented

Unknown

### Contact person

@alphan

### Checklist

Please fill out this checklist as items are completed. Link to PRs and

[2022-08-23 02:08] alphan opened #14479 "[rom-e2e] rom_e2e_sigverify_key_validity"
**Testpoint name:** [rom_e2e_sigverify_key_validity](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/data/rom_e2e_testplan.hjson?q=rom_e2e_sigverify_key_validity)

**Contact person:** @alphan

**Description:** Verify that ROM only uses authorized keys that are not invalidated.

- For each key entry in `CREATOR_SW_CFG_KEY_IS_VALID`,
  - Invalidate the key by

[2022-08-23 02:08] alphan opened #14480 "[rom-e2e] rom_e2e_sigverify_key_type"
**Testpoint name:** [rom_e2e_sigverify_key_type](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/data/rom_e2e_testplan.hjson?q=rom_e2e_sigverify_key_type)

**Contact person:** @alphan

**Description:** Verify that ROM only uses appropriate key types for each life cycle state.

- For each life cycle state and key type,
  - Prepare a ROM_EXT image with a valid

[2022-08-23 02:08] alphan opened #14481 "[rom-e2e] rom_e2e_sigverify_mod_exp"
**Testpoint name:** [rom_e2e_sigverify_mod_exp](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/data/rom_e2e_testplan.hjson?q=rom_e2e_sigverify_mod_exp)

**Contact person:** @alphan

**Description:** Verify that ROM can verify signatures using both implementations of mod_exp.

Note: The chip can be in any life cycle state except TEST since we use the softwar

[2022-08-23 02:08] alphan opened #14482 "[rom-e2e] rom_e2e_sigverify_usage_constraints"
**Testpoint name:** [rom_e2e_sigverify_usage_constraints](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/data/rom_e2e_testplan.hjson?q=rom_e2e_sigverify_usage_constraints)

**Contact person:** @alphan

**Description:** Verify that ROM enforces usage constraints.

- Generate an otherwise valid ROM_EXT image for the following cases:
  - No constraints specifi

[2022-08-23 02:08] alphan opened #14483 "[rom-e2e] rom_e2e_address_translation"
### Test point name

[rom_e2e_address_translation](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/data/rom_e2e_testplan.hjson?q=rom_e2e_address_translation)

### Host side component

Unknown

### OpenTitanTool infrastructure implemented

Unknown

### Contact person

@alphan

### Checklist

Please fill out this checklist as items are completed. Link to PRs a

[2022-08-23 02:08] alphan opened #14484 "[rom-e2e] rom_e2e_debug"
**Testpoint name:** [rom_e2e_debug](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/data/rom_e2e_testplan.hjson?q=rom_e2e_debug)

**Contact person:** @alphan

**Description:** Verify that ROM can be debugged in appropriate life cycle states.

`CREATOR_SW_CFG_ROM_EXEC_EN` should be set to `0`.

- Verify that ROM can be debugged in TEST, DEV, and RMA life cycl

[2022-08-23 02:08] alphan opened #14485 "[rom-e2e] rom_e2e_debug_disallowed_in_prod"
**Testpoint name:** [rom_e2e_debug_disallowed_in_prod](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/data/rom_e2e_testplan.hjson?q=rom_e2e_debug_disallowed_in_prod)

**Contact person:** @alphan

**Description:** Verify that ROM can be debugged in appropriate life cycle states.

`CREATOR_SW_CFG_ROM_EXEC_EN` should be set to `0`.

- Verify that ROM cannot be

[2022-08-23 02:08] alphan opened #14486 "[rom-e2e] rom_e2e_jtag_inject"
### Test point name

[rom_e2e_jtag_inject](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/data/rom_e2e_testplan.hjson?q=rom_e2e_jtag_inject)

### Host side component

Unknown

### OpenTitanTool infrastructure implemented

Unknown

### Contact person

@alphan

### Checklist

Please fill out this checklist as items are completed. Link to PRs and issues as app

[2022-08-23 02:08] alphan opened #14488 "[rom-e2e] rom_e2e_rom_ext_upgrade"
**Testpoint name:** [rom_e2e_rom_ext_upgrade](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/data/rom_e2e_testplan.hjson?q=rom_e2e_rom_ext_upgrade)

**Contact person:** @alphan

**Description:** Verify that ROM_EXT can be upgraded.

`CREATOR_SW_CFG_MIN_SEC_VER_ROM_EXT` OTP item should be 0, and
`CREATOR_SW_CFG_DEFAULT_BOOT_DATA_IN_PROD` should be `kHardened

[2022-08-23 02:08] alphan opened #14489 "[rom-e2e] rom_e2e_rom_ext_upgrade_interrupt"
**Testpoint name:** [rom_e2e_rom_ext_upgrade_interrupt](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/data/rom_e2e_testplan.hjson?q=rom_e2e_rom_ext_upgrade_interrupt)

**Contact person:** @alphan

**Description:** Verify that an interrupted upgrade does not brick the chip.

`CREATOR_SW_CFG_MIN_SEC_VER_ROM_EXT` OTP item should be 0, and
`CREATOR_SW_CFG_DEFA

[2022-08-23 02:08] alphan opened #14490 "[rom-e2e] rom_e2e_asm_interrupt_handler"
**Testpoint name:** [rom_e2e_asm_interrupt_handler](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/data/rom_e2e_testplan.hjson?q=rom_e2e_asm_interrupt_handler)

**Contact person:** @alphan

**Description:** Verify that asm interrupt handler resets the chip.

`CREATOR_SW_CFG_ROM_EXEC_EN` should be set to `0` and the chip should in a life cycle
 state where d

[2022-08-23 02:08] alphan opened #14491 "[rom-e2e] rom_e2e_asm_watchdog"
**Testpoint name:** [rom_e2e_asm_watchdog](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/data/rom_e2e_testplan.hjson?q=rom_e2e_asm_watchdog)

**Contact person:** @alphan

**Description:** Verify that watchdog is initialized in `rom_start.S`.

`CREATOR_SW_CFG_ROM_EXEC_EN` should be set to `0` and the chip should in a life cycle
 state where debugging is ena

[2022-08-23 02:08] alphan opened #14492 "[rom-e2e] rom_e2e_asm_c_interrupt_handler"
### Test point name

[rom_e2e_asm_c_interrupt_handler](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/data/rom_testplan.hjson?q=rom_e2e_asm_c_interrupt_handler)

### Host side component

None

### OpenTitanTool infrastructure implemented

None

### Contact person

@alphan

### Checklist

Please fill out this checklist as items are completed. Link to PRs and

[2022-08-23 02:08] alphan opened #14493 "[rom-e2e] rom_e2e_asm_init"
**Testpoint name:** [rom_e2e_asm_init](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/data/rom_e2e_testplan.hjson?q=rom_e2e_asm_init)

**Contact person:** @alphan

**Description:** Verify that ROM initializes peripherals properly.

Note: While the following can be checked at ROM_EXT stage, using a debugger in
FPGA-based tests would avoid depending on `rom.c

[2022-08-23 02:08] msfschaffner commented on #14472
CC @tjaychen @jdonjdon @cindychip @arnonsha

[2022-08-23 02:11] alphan opened #14494 "[rom-e2e] rom_e2e_ret_ram_init"
**Testpoint name:** [rom_e2e_ret_ram_init](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/data/rom_e2e_testplan.hjson?q=rom_e2e_ret_ram_init)

**Contact person:** @alphan

**Description:** Verify that ROM initializes the retention SRAM when needed.

`CREATOR_SW_CFG_RET_RAM_RESET_MASK` should be `1 << 3` so that ROM initializes the
retention SRAM after a SW

[2022-08-23 02:11] alphan opened #14495 "[rom-e2e] rom_e2e_ret_ram_keep"
**Testpoint name:** [rom_e2e_ret_ram_keep](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/data/rom_e2e_testplan.hjson?q=rom_e2e_ret_ram_keep)

**Contact person:** @alphan

**Description:** Verify that the retention SRAM is preserved across resets.

- Verify that `reset_reasons` reports POR.
- Write a known pattern into all sections of retention SRAM.
- Perf

[2022-08-23 02:11] alphan opened #14496 "[rom-e2e] rom_e2e_c_init"
**Testpoint name:** [rom_e2e_c_init](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/data/rom_e2e_testplan.hjson?q=rom_e2e_c_init)

**Contact person:** @alphan

**Description:** Verify that ROM initializes various peripherals properly.

- Pinmux: UART pins, SW straps if `OWNER_SW_CFG_ROM_BOOTSTRAP_EN == kHardenedBoolTrue`
- UART
- Bits 0-5 of the `cpuctrl` C

[2022-08-23 02:11] alphan opened #14497 "[rom-e2e] rom_e2e_epmp_init"
**Testpoint name:** [rom_e2e_epmp_init](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/data/rom_e2e_testplan.hjson?q=rom_e2e_epmp_init)

**Contact person:** @alphan

**Description:** Verify that ROM correctly configures the ePMP region for debug ROM.

- ePMP Debug ROM region should be enabled in TEST, DEV, and RMA, anddisabled in PROD and
  PROD_END.

[2022-08-23 02:12] alphan opened #14498 "[rom-e2e] rom_e2e_watchdog_reconfig"
**Testpoint name:** [rom_e2e_watchdog_reconfig](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/data/rom_e2e_testplan.hjson?q=rom_e2e_watchdog_reconfig)

**Contact person:** @alphan

**Description:** Verify that ROM reconfigures the watchdog timer correctly.

- Should be disabled in TEST and RMA.
- In DEV, PROD, and PROD_END, the threshold should be
  `OWNER

[2022-08-23 02:12] alphan opened #14499 "[rom-e2e] rom_e2e_alert_config"
**Testpoint name:** [rom_e2e_alert_config](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/data/rom_e2e_testplan.hjson?q=rom_e2e_alert_config)

**Contact person:** @alphan

**Description:** Verify that ROM configures the alert handler correctly.

- Disabled in TEST.
- Read from OTP in DEV, PROD, PROD_END, and RMA. Checksum of config registers must match
  th

[2022-08-23 02:12] alphan opened #14500 "[rom-e2e] rom_e2e_flash_ctrl_init"
### Test point name

[rom_e2e_flash_ctrl_init](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/data/rom_testplan.hjson?q=rom_e2e_flash_ctrl_init)

### Host side component

Unknown

### OpenTitanTool infrastructure implemented

Unknown

### Contact person

@alphan

### Checklist

Please fill out this checklist as items are completed. Link to PRs and issues as

[2022-08-23 02:12] alphan opened #14501 "[rom-e2e] rom_e2e_keymgr_init"
**Testpoint name:** [rom_e2e_keymgr_init](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/data/rom_e2e_testplan.hjson?q=rom_e2e_keymgr_init)

**Contact person:** @alphan

**Description:** Verify that ROM initializes the keymgr correctly.

- Verify that keymgr is at the "reset" state.
- Verify that
  - attestation sw binding equals
    - the digest of the ROM

[2022-08-23 02:12] alphan opened #14502 "[rom-e2e] rom_e2e_static_critical"
### Test point name

[rom_e2e_static_critical](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/data/rom_testplan.hjson?q=rom_e2e_static_critical)

### Host side component

None

### OpenTitanTool infrastructure implemented

None

### Contact person

@alphan

### Checklist

Please fill out this checklist as items are completed. Link to PRs and issues as appro

[2022-08-23 02:12] alphan opened #14503 "[rom-e2e] rom_functests"
### Test point name

[rom_functests](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/data/rom_testplan.hjson?q=rom_functests)

### Host side component

Unknown

### OpenTitanTool infrastructure implemented

Unknown

### Contact person

@alphan

### Checklist

Please fill out this checklist as items are completed. Link to PRs and issues as appropriate.
- [ ]

[2022-08-23 02:13] alphan commented on #14503
@timothytrippel: "should we add a similar point for chip-level tests?"

[2022-08-23 02:46] #14427 closed

[2022-08-23 03:09] tjaychen opened #14505 "[csrng] Future improvement for reseed blocking"
In the current csrng, if one of the edn interfaces requests for reseed and wins arbitration, it blocks csrng from servicing any other request until the entropy material required for the reseed is ready.  This means in the worst case, a generate request from another interface could be blocked for multiple ms while entropy is slowly being accumulated.

Instead of making entropy collection an action

[2022-08-23 03:10] tjaychen commented on #14505
@mwbranstad just an idea for a future enhancement.
Let me know if this makes sense to you. It can be something we look into long term if we find it could be useful.

[2022-08-23 04:33] tjaychen opened #14506 "[edn] prim_fifo_sync_gencmd"
prim_fifo_sync_gencmd inside `edn` does not appear to be cleared automatically when `edn` is disabled.
As a result, whatever generate command that happens to be sitting in the FIFO is sent out as part of the next intsantiation.

In the wave below, you can see the fifo depth does not go to 0 even though enable becomes false.
![image](https://user-images.githubusercontent.com/1026250/186070135-a9db8

[2022-08-23 04:33] tjaychen commented on #14506
@moidx
@timothytrippel

[2022-08-23 06:30] arnonsha commented on #14472
@danaagur

[2022-08-23 07:36] jadephilipoom commented on #14131
As of https://github.com/lowRISC/opentitan/pull/14093 this test exists but is missing some remaining SystemVerilog-side checks. I checked off some of the items on the checklist accordingly.

[2022-08-23 08:01] engdoreis commented on #13219
I beleive it is dublicated. I discussed with @HU90m and we beleive there's room for improvement in the existing `chip_sw_rstmgr_cpu_info`, thats why this issue is still opened.

[2022-08-23 08:05] engdoreis commented on #13218
See my comment [here](https://github.com/lowRISC/opentitan/issues/13219#issuecomment-1223702313)

[2022-08-23 08:16] engdoreis commented on #13393
I opened this issue motivated by this [comment](https://github.com/lowRISC/opentitan/pull/12966#discussion_r888507880) from @moidx.
@moidx can we close this issue?

[2022-08-23 09:14] prajwalaputtappa commented on #13961
Things to do in the testcase:
1. Wait for top_valid_o to be asserted.
2. Wait for a reasonable random number of clocks.
3. Check if the top_valid_o is still asserted.
4. If yes, read the value of stack_wr_idx.
5. Corrupt the data in stack_storage at the stack_wr_idx value.
6. Wait for a pop.
7. Expect a fatal alert from otbn.

[2022-08-23 09:14] sriyerg commented on #14153
Done in #14508. Thanks!

[2022-08-23 11:22] GregAC opened #14510 "[rv_core_ibex] Consider ICache pinning"
The Ibex ICache currently has no pinning functionality. For security critical code to avoid timing side channels it may be advisable to disable the icache and execute straight from flash.

This has been deemed sufficient for the OpenTitan discrete use case but for integrated it may not work. The memory Ibex is executing from could have higher latency or variable timing. Here ICache pinning, allowi

[2022-08-23 12:16] GregAC commented on #13965
Closing as #14242 has been merged

[2022-08-23 12:16] #13965 closed

[2022-08-23 14:11] andreaskurth commented on #14066
Update: Option A has been implemented in #14388; Option B is deferred as discussed. Changed priority to P3 as Option B is not considered urgent.

[2022-08-23 14:17] johannheyszl commented on #14123
quick question pls: testplan says milestone: V3 instead of V2 for this test. is that correct?

[2022-08-23 14:46] tjaychen commented on #13219
sounds great!

[2022-08-23 15:03] tjaychen commented on #13393
i have a PR where i'm cleaning up `entropy_testutils`.
And yeah, the boot mode terminology is a bit weird...but boot mode has meaning in both `edn` and `entropy_src`, so it's a little annoying. Right now entropy_src is in fips mode, but `edn` is not.

[2022-08-23 15:16] mwbranstad commented on #14505
@tjaychen I think this generally could make sense. Some effort was put into csrng to make requests non-blocking, but this works only between GEN bits deliveries. I think the case you are talking about in when a seed request is blocking all requests, which I assumed would inevitably happen.
However, re-thinking the general arbitration at this point is a good idea. Some flow diagrams showing the spe

[2022-08-23 15:24] tjaychen commented on #14505
yeah i just don't want a reseed operation from one edn to block the generate command from another edn.
It technically doesn't have to, and things should only become truly blocking if both interfaces decide to request reseed / instantiations.

Is my understanding of the current design correct?

[2022-08-23 15:25] mwbranstad commented on #14506
@senelson7 can we re-create this in unit sim?

[2022-08-23 15:30] senelson7 commented on #14407
It seems like option 3 (like I am doing) is a valid way to do it but you're right, the owner has to write the testcase and set outputs to 0 so there isn't a fatal alert. So I would say option 1 if you think that covers it just as well and the error state FPV verifies that we always get a fatal alert is what we really want to prove anyways.

[2022-08-23 15:36] mwbranstad commented on #14505
I think the case you speak of can happen. Maybe this is a possible scenario:
edn0 has done an instanitate cmd, and now getting 10000 gen bit words return based on the gen req. meanwhile, edn1 make a seed-dependent request, which will get it into the arbitration (since csrng is non-blocking for that phase). But the command will block big time waiting for that seed, a step which blocks the command i

[2022-08-23 15:45] tjaychen commented on #14505
yeah that's right. What I'm basically suggesting here is that a csrng hw app only arbitrate for the actual drbg hardawre when all of its inputs (including seed) is available. So this would mean that as long as multiple interfaces are not asking for seed (as you say, an exercise of instantiate / reseeds happening at the same time would do this), our blocking time would be short.  So this would mean

[2022-08-23 15:49] tjaychen commented on #14506
i think for now, when we issue an `edn` disable, i'm also going to explicitly clear FIFOs. I think that should also do the trick.

[2022-08-23 15:57] cindychip commented on #14123
Good question! I think it should be V2, but I will confirm with @sriyerg @eunchan.

[2022-08-23 15:59] tjaychen commented on #14436
i am honestly at a loss.
I can't see any difference in terms of the word alignment for the faster and middle case.
My best guess at this point is these different addresses somehow impact how the instruction prefetch buffer actually fills up.
I don't know enough details about that one works though, so maybe the best we can do at this point is to simulate these and look at the waves.

Just so i unde

[2022-08-23 16:11] #14153 closed

[2022-08-23 16:14] #14137 closed

[2022-08-23 16:21] dmcardle commented on #14436
I haven't done this before. Will looking at the waves give us some insight into instruction fetching?

The code being timed is literally just the `test_memcpy` function and the call it makes to the real `memcpy()`.

[2022-08-23 16:54] weicaiyang commented on #14407
I think the option 3 is also valid. As discussed in the meeting, everyone agreed to rely on Lint and FPV to verify these 2 transitions, which saves some DV efforts. We can probably remove those sequences you added in #14028

[2022-08-23 16:58] weicaiyang commented on #14407
Items to close this issue

- [ ] @msfschaffner: Update lint rule
- [ ] @weicaiyang Enable VCS to exclude reset transitions https://github.com/lowRISC/opentitan/pull/14360
- [ ] @sriyerg  Enable Xcelium to exclude reset transitions

[2022-08-23 17:03] vogelpi commented on #14269
I agree with @GregAC on this. The important point is that we immediately switch the scrambling keys as soon as `state_d` is set to `OtbnStateLocked`. Then it can still take a while until the read data paths become blanked. Thanks to switching the keys, no useful data can be read out during that window.

[2022-08-23 17:34] senelson7 commented on #14407
#13850 excludes fsm reset scoring for xcelium. Currently just comments it out but could remove now since it's the plan.

[2022-08-23 17:43] matutem opened #14518 "[dif] Add missing dif to access fault CSRs"
The hmac, keymgr, and otbn difs are missing functions to read the fatal error CSRs. We need these for a test that will trigger escalation resets for every IP, so we can check the regfile integrity fault bit.

[2022-08-23 19:49] dmcardle opened #14523 "Document bitstream cache / splicing in getting started guide"
We should make sure documentation on the `--define bitstream=(|skip|vivado|gcp_splice)` is up-to-date after #13804.

[2022-08-23 20:57] weicaiyang commented on #12544
closing this as we change to use VCS

[2022-08-23 20:57] #12544 closed

[2022-08-23 21:08] weicaiyang commented on #13463
@msfschaffner Is this fully addressed by your PR #14054?

[2022-08-23 21:14] dmcardle opened #14525 "Fix warnings about implicit declaration of memcpy"
cc @eunchan @a-will

These warnings about an implicit declaration of memcpy are probably related to the manual name mangling from #14009. When compiling for the host machine, the OpenTitan memory functions' names are prefixed with `ot_` to disambiguate from libc's declarations and definitions.

[code]

[2022-08-23 21:32] tjaychen opened #14526 "[test-triage] chip_csr_bit_bash"
### Hierarchy of regression failure

Chip Level

### Failure Description

      Offending '$past(dst_update_i, 1)'
  UVM_ERROR @ 2167.719000 us: (prim_reg_cdc_arb.sv:169) [ASSERT FAILED] HwIdSelCheck_A
  UVM_INFO @ 2167.719000 us: (uvm_report_catcher.svh:705) [UVM/REPORT/CATCHER]

### Steps to Reproduce

- https://github.com/lowrisc/opentitan/tree/e7fcdad95951dc92314348fd4661757f17bd04cd
- ./util/

[2022-08-23 21:34] tjaychen commented on #14389
These tests appear to be still be failing as of 2022-08-22, so they will need to be re-triaged.

[2022-08-23 21:35] tjaychen commented on #14321
removing assignee for triage.

[2022-08-23 21:36] msfschaffner commented on #13463
This has been addressed now, yes. Let's close it.

[2022-08-23 21:36] #13463 closed

[2022-08-23 21:36] tjaychen commented on #14208
re-opening as this is failing for a different reason.

[2022-08-23 21:36] tjaychen commented on #14208
removing assignee for triage.

[2022-08-23 21:41] tjaychen commented on #14526
assigning to @tjaychen for initial triage.

[2022-08-23 21:56] jdonjdon opened #14527 "[flash_ctrl] V2 review checklist"
[Review notes](https://docs.google.com/document/d/1jBv_oWz51irjAF5LuISyY3nII_5QDxtquh0UMnSgeHg/edit)

- [x] Add covergroup for new design delta changes
- [x] Clean up Xcelium stuff inside flash_ctrl directory
- [x] #14433
- [x] [Tim] Update the naming from ECC to ICV in doc
- [x] Update coverage sample point to capture rd_err right
- [x] Add a test to cover lc_escalate_en_i
- [x] Add a link to a n

[2022-08-23 22:07] eunchan commented on #14470
Thanks! I will check the design and fix the behavior

[2022-08-23 22:35] jeoongp commented on #14287
Sorry for late comment.
I agree with the baseline idea that we need to minimize 1. any potential risk 2. RTL-QA/DV efforts. I think option 1 (handing in initiator) is to follow both requirements if this cross-reset handling is needed in the minimum cases. At least, we don't need to touch the existing cdc modules which were already verified.

Option 2 (handling in cdc module) looks simple and good.

[2022-08-23 23:56] timothytrippel commented on #13511
# Tasks

- [ ] Add Bazel rules/macros for creating a single flash binary / VMEM with multiple slots / stages filled
- [ ] cleanup existing [bare metal boot test](https://github.com/lowRISC/opentitan/blob/543297d5de3a8275040112fde97241651f3aec7d/sw/device/silicon_owner/bare_metal/BUILD#L107)
- [ ] Update above Bazel rules/macros for creating single DV sim SW logging database from multiple files
- [

[2022-08-24 00:18] timothytrippel opened #14532 "[ci,dv] scale up number of chip-level tests run in DV sim in presubmit"
Only 2 chip-level tests are currently in private CI as presubmit checks using two different simulators. These include:
- two tests on VCS (`chip_sw_uart_tx_rx` and `chip_plic_all_irqs`)
- one test on Xcelium (`chip_plic_all_irqs`)

With our current SW license constraints, we have plenty of room to significantly scale up presubmit testing using Xcelium.

(After discussions with @mundaym this week a

[2022-08-24 02:02] sriyerg commented on #14321
Missing `test_in_rom` attribute in `chip_sim_cfg.hjson`. Fix coming soon.

[2022-08-24 02:24] sriyerg commented on #14192
Looks like the `bazel cquery` returns empty for the `test_rom`:
[code]

For flash based tests, the `bazel cquery` step returns the `data` artifacts, which also includes the `test_rom` artifacts. In case of tests that are run directly from ROM, the `test_in_rom` flag is set, which also enables the `cquery` step to return the data artifacts. I will go through the rules to understand this better. In

[2022-08-24 02:37] tjaychen commented on #14321
ah great!

[2022-08-24 02:39] tjaychen commented on #14192
wait this is weird... @timothytrippel and I went through a very similar issue some time ago with the other `test_in_rom` tests (chip_sw_flash_init and rma_unlocked).  Is there something that's different for this particular one?

[2022-08-24 02:49] sriyerg commented on #14192
Yes these ones are different from the ones you fixed - they only load the `//sw/device/lib/testing/test_rom:test_rom` image, which does not set the bazel flag `test_in_rom` and the `sw_images` flag, also called `test_in_rom`. In order for `bazel cquery` to return with the `data` artifacts the `test_in_rom` bazel flag needs to be set. So the fix for these tests is simple - just change the image to

[2022-08-24 03:22] sriyerg commented on #14532
See related: https://github.com/lowRISC/opentitan/pull/14535

[2022-08-24 03:37] sriyerg commented on #12043
Full coverage on padring is now being reported. Closing this issue (please reopen if I am missing something).

[2022-08-24 03:37] #12043 closed

[2022-08-24 04:02] tjaychen commented on #14192
sounds good. Thanks for explaining. My bad for not noticing these last time. I probably should have realized the failure signature was similar and fixed them altogether. Thanks for investigating!

[2022-08-24 04:19] tjaychen commented on #14526
the `prim_reg_cdc_arb` assertion forgot to account for the case where a hardware update was made while a handshake is ongoing.

I'm trying a fix to see if it helps.

[2022-08-24 05:17] timothytrippel commented on #14192
So if you want to get the deps of the test ROM (or any `opentitan_rom_binary` for that matter) you need to run:
[code]
instead of
[code]
This is because the `opentitan_rom_binary` macro [instantiates a `filegroup`](https://cs.opensource.google/opentitan/opentitan/+/master:rules/opentitan.bzl;drc=bc0af184fffa7549647d124dd15c15a53b96a922;l=702) with the name set to the name passed to the macro itsel

[2022-08-24 05:40] sriyerg commented on #14192
Thanks @timothytrippel for the explanation!

[2022-08-24 06:01] weicaiyang opened #14538 "[spi_device] last_read_addr latches part of mailbox address"
This part seems incorrect.
addr_in_mailbox is low before all 4 bytes address is collected. And it stores 3 bytes address into `readbuf_addr` before addr_in_mailbox is set.

[code]
![Screen Shot 2022-08-23 at 10 58 06 PM](https://user-images.githubusercontent.com/49293026/186341739-f2a4073c-b6ae-4022-acf8-bedc556fdcfe.png)

waves:

[2022-08-24 07:06] timothytrippel opened #14539 "[bazel,tests] run all Verilator and FPGA test in nightlies and create public dashboard"
All chip-level tests are run in nightly regressions in DV sim. However, the same is not true for Verilator and FPGA tests. Moreover there is a public [dashboard](https://reports.opentitan.org/hw/top_earlgrey/dv/latest/report.html) for DV sim nightlies, but none fore Verilator and FPGA tests. As we scale up testing, adding these will help maintain test integrity.

Tasks:
- [ ] run all Verilator tes

[2022-08-24 07:25] johannheyszl commented on #13769
I believe the FSM transition coverage is well covered by the following and we can close this issue
[#14407](https://github.com/lowRISC/opentitan/issues/14407)
[PR#14028](https://github.com/lowRISC/opentitan/pull/14028)

[2022-08-24 09:36] #8129 closed

[2022-08-24 09:36] #11544 closed

[2022-08-24 09:40] GregAC opened #14540 "[otbn, rtl] One-hot write enable check in base RF should produce bad_internal_state error"
Within the base register file we have a check that ensures the onehot write enable signal is actually onehot. If it fails it triggers a fatal error but it's a register integrity error. I think triggering a bad_internal_state error makes more sense.

Either way we need to ensure we have coverage for this scenario (should be a quick extension to https://github.com/lowRISC/opentitan/pull/14068 if we

[2022-08-24 09:51] GregAC opened #14541 "[otbn, dv] Coverage for MUBI checks and potential addition to bad_internal_state"
We have a few MUBI signals within OpenTitan where we check the MUBI is valid. For some of these an invalid MUBI triggers a bad_internal_state error and coverage for these checks is included in https://github.com/lowRISC/opentitan/pull/14068.

For some others they don't directly factor into bad_internal_state because they themselves are raised when some error condition is occurring to cause escalat

[2022-08-24 09:54] #14269 closed

[2022-08-24 11:18] #13430 closed

[2022-08-24 11:52] bilgiday opened #14542 "[csrng/edn] Add redundancy to EDN-to-CSRNG cmd interface"
The `flag0` field of the CSRNG command header is represented as a single bit inside the EDN IP as well as between the EDN IP and the CSRNG IP. Inside the CSRNG IP, the `flag0` is converted to a MUBI4 signal to improve the resistance against glitching.

We can further improve the fault resistance by extending the protection to cover the `flag0's` transfer from EDNs to CSRNG (for the reseed and inst

[2022-08-24 13:18] #13769 closed

[2022-08-24 14:36] senelson7 commented on #14407
I ran it with/without and with set_fsm_reset_scoring, the fsm coverage shows two reset states, one being transitions due to reset and the other normal state transitions to reset. And without, there is just a single reset state showing normal transitions. So I think that's the proper directive to remove but we can look into it more, I'll check with our Cadence AE, and maybe @weicaiyang and/or @sriy

[2022-08-24 15:45] tjaychen commented on #14205
unassigning for now as test is not under triage

[2022-08-24 15:52] #14192 closed

[2022-08-24 15:52] #14321 closed

[2022-08-24 16:11] cindychip commented on #14138
PR merged and in nightly

[2022-08-24 16:11] #14138 closed

[2022-08-24 17:16] alphan opened #14546 "[bazel] Support for specifying different OTP configurations for e2e tests"
Current functests all use the same RMA OTP image but ROM end-to-end tests will cover various cases that require different OTP configurations. We should add a new macro similar to `manifest()` for specifying different OTP configurations and enhance other macros to support splicing these images to ROM bitstreams.

[2022-08-24 17:19] weicaiyang commented on #14407
Great! Thanks for testing this and confirming with AE. I think https://github.com/lowRISC/opentitan/pull/13850 is what we need.

[2022-08-24 17:39] matutem commented on #14307
This specific issue was diagnosed by the Synopsys folks: we have code that mistakenly disables this assertion, so we can fix this ourselves. I will close this issue with the PR that corrects the problem.

[2022-08-24 17:53] #14526 closed

[2022-08-24 19:05] alphan commented on #6915
Hi @jon-flatley, we used to use the following function at runtime to check the offsets of the individual fields since we didn't run any rust tests back then. Could you remind me if we have any tests for the layout of the manifest in the new implementation?

[code]

[2022-08-24 19:38] moidx opened #14549 "[cryptolib] Error reporting"
This issue is to capture error handling notes for the crypto library.

Some notes on `status_t` provided by @cfrantz.

**hardened checks**

**Usage notes**

[2022-08-24 19:39] moidx commented on #14549
CC @jadephilipoom @alphan

[2022-08-24 20:12] tjaychen opened #14551 "[test-triage] chip_sw_sram_ctrl_main_scrambled_access_jitter_en"
### Hierarchy of regression failure

Chip Level

### Failure Description

  UVM_ERROR @ 4510.502520 us: (sw_logger_if.sv:521) [sram_ctrl_main_scrambled_access_test_prog_sim_dv(sw/device/tests/sim_dv/sram_ctrl_main_scrambled_access_test.c:251)] CHECK-fail: mmio_region_read32(mmio_region_from_addr( TOP_EARLGREY_SRAM_CTRL_RET_AON_RAM_BASE_ADDR), INTEGRITY_EXCEPTION_COUNT_OFFSET) == SRAM_CTRL_TESTUTIL

[2022-08-24 20:14] tjaychen opened #14552 "[test-triage] chip_sw_otbn_smoketest"
### Hierarchy of regression failure

Chip Level

### Failure Description

  UVM_ERROR @ 3052.050920 us: (sw_logger_if.sv:521) [otbn_smoketest_prog_sim_dv(sw/device/tests/otbn_smoketest.c:112)] CHECK-fail: otbn_busy_wait_for_done(otbn_ctx) == kOtbnOk
  UVM_INFO @ 3052.050920 us: (uvm_report_catcher.svh:705) [UVM/REPORT/CATCHER]
  --- UVM Report catcher Summary ---

### Steps to Reproduce

- https:/

[2022-08-24 20:23] tjaychen commented on #14205
assign to @tjaychen for triage.

[2022-08-24 20:54] alphan commented on #14125
I think so. We have two relevant items in the e2e tesplan: [rom_e2e_asm_init](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/data/rom_testplan.hjson?q=rom_e2e_asm_init) that covers the main SRAM scrambling and init + [rom_e2e_ret_ram_init](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/data/rom_testplan.hjson?q=rom_e

[2022-08-24 21:02] tjaychen commented on #14125
thanks @alphan ! Miguel just wanted to make sure that we do in fact check the memory is wiped.

[2022-08-24 21:19] msfschaffner commented on #12974
The exclusions have been removed in https://github.com/lowRISC/opentitan/pull/13947.

[2022-08-24 21:19] #12974 closed

[2022-08-24 21:27] cindychip opened #14556 "[alert_handler] id_to_ping corrupted during new entropy request"
Hi Michael,

As we discussed offline, when I force the `wait_cyc_mask_i` value to a very small value, say `'h7`, the id_to_ping might corrupt.

For example here in this screenshot.
When `reseed_en` is set during `AlertPingSt`, the LFSR state is changed to a new value during ping request.
Then you can see ping request is changed from alert 9 to alert 55.
Then a spurious alert error will fire saying

[2022-08-24 21:52] weicaiyang commented on #14128
@matutem I think your escalation test can cover this, so I assign this to you.

[2022-08-24 22:25] jdonjdon commented on #14202
fixed by #14256

[2022-08-24 22:25] #14202 closed

[2022-08-24 23:25] tjaychen commented on #14552
assign to @tjaychen for initial triage.

[2022-08-25 03:01] tjaychen commented on #14552
I am puzzled by what I'm seeing.. I'm not sure how this hasn't failed before or why it's passing in FPGA.

The `otbn_smoke` test starts by writing a handful of operands into dmem.
Each operand is 48B.

The way this is copied into otbn is that each operand takes up 1.5 wide data entries.
So for example, the first operand is written from address 0x0 ~ 0x30.
The second operand is aligned to a new wid

[2022-08-25 06:48] andreaskurth commented on #14552
Do they fail the storage integrity check? I think they should not, because the [DMEM that is not written should be initialized to zero](https://github.com/lowRISC/opentitan/blob/6d42b3c39bc91118f163d1875f0a08574cc380f4/sw/otbn/code-snippets/barrett384.s#L262-L290).

If this fails in simulation and works on the FPGA, could it be due to a difference/bug in the binary loading procedure?

[2022-08-25 07:21] vogelpi commented on #14552
Ups, it may be that I've recently introduced this when removing the zero initialization of DMEM done by Ibex. We did that twice in a row and I thought it would be completely unnecessary. I did test it on the FPGA and in Verilator only.

[2022-08-25 07:26] johngt commented on #6483
@GregAC - Could you take a look at this and suggest if this is something that we should be doing in M2 / waiver, or if not whether you or someone else should be assigned to it?

[2022-08-25 08:02] vogelpi commented on #14541
I also think that in general invalid MUBI signals should trigger a bad_internal_state error. What I sometimes did (e.g. for the rma_req_i/ack_o) signal inside `start_stop_controller` is to move the local FSM into an error state directly. IIRC, this also triggers a bad_internal_state error.

[2022-08-25 08:03] vogelpi commented on #14540
I agree that a bad_internal_state error is the better choice here. I will look into this.

[2022-08-25 08:16] andreaskurth commented on #14552
I think zero initialization of the entire OTBN DMEM prior to execution should not be necessary. If an OTBN program requires initialized DMEM to execute correctly, it should take care of that. For example, the OTBN program can contain initialized data, and the OTBN loader, which runs on Ibex, [initializes DMEM when loading the program](https://github.com/lowRISC/opentitan/blob/514f199692cad015dd32e

[2022-08-25 08:28] GregAC commented on #6483
I don't think this is something we need to address for M2. Instead this is something to consider for a future version of OTBN. We may want to harden the comparisons but as this isn't something that was raised for D2S in the absence of a particularly compelling security reason to need it I don't think we should implement it at this stage.

@moidx any thoughts?

[2022-08-25 08:36] johngt commented on #8758
Check assertions to see if released

[2022-08-25 08:59] #14224 closed

[2022-08-25 10:14] alphan opened #14570 "[ci] Test SCA setup in CI"
We need to have a test for the SCA setup in the CI in order to avoid issues like #14435 in the future.

[2022-08-25 10:18] johngt commented on #13393
@tjaychen - unless you feel otherwise, from lowRISC side we believe this issue to be closed.
Could you add the related PR for entropy_testutils and close out if nothing else is to be done. Otherwise please comment and let @doreis-lowrisc what is still needed. Thanks!

[2022-08-25 10:50] alphan commented on #14492
#14274 should also cover this (without debugger).

[2022-08-25 10:52] alphan commented on #14493
See #14024

[2022-08-25 11:26] andreaskurth commented on #14552
`./util/dvsim/dvsim.py -t vcs hw/top_earlgrey/dv/chip_sim_cfg.hjson -i chip_sw_otbn_smoketest -s 1905221932 -r 1 --build-seed 3859254937` passes when #14567 is applied.

[2022-08-25 11:55] andreaskurth commented on #14540
I also agree.

@ctopal: Could you add this to the `bad_internal_state_cg` (which you added in #14068), if necessary with a new RTL probe, once the write enable check produces a `bad_internal_state` error?

[2022-08-25 13:35] ctopal commented on #14540
Would something like https://github.com/lowRISC/opentitan/pull/14573 work?

[2022-08-25 14:46] alphan commented on #14549
Also relevant: #14052

[2022-08-25 14:49] tjaychen commented on #14552
thanks for the investigation @andreaskurth and @vogelpi
this fix makes much more sense to me.

[2022-08-25 14:50] tjaychen commented on #13393
let's keep it open for a a bit more.
There are still a fair number of tests that directly use `boot_mode` instead of `auto_mode`.
We can't quite make the switch yet until #14571 is merged, otherwise those tests will likely just hang.

[2022-08-25 14:58] tjaychen commented on #14122
this test is no longer required as it already has coverage for the HW pieces and the software components will overlap with system level tests.

[2022-08-25 14:58] #14122 closed

[2022-08-25 15:41] moidx commented on #6483
I agree with @GregAC. Given the amount of effort required to implement this change and the current stage of development of OTBN, I think it is preferred to harden this on the software side. I think it makes sense to move this issue to the backlog milestone, and label it as enhancement request for a future release.

@jadephilipoom  for visibility.

[2022-08-25 16:35] alphan commented on #6112
[code]

[2022-08-25 17:11] cindychip commented on #14556
PR merged, close this issue.

[2022-08-25 17:11] #14556 closed

[2022-08-25 17:34] alphan opened #14581 "[test, dv] `chip_sw_pwrmgr_smoketest` fails in DV"
`chip_sw_pwrmgr_smoketest` fails in DV after the changes in #14243 with the following error:

[code]

[log](https://dev.azure.com/lowrisc/opentitan-private/_build/results?buildId=91730&view=logs&jobId=a108fe5f-1aa1-5d88-0e90-2681f9ae22bc&j=a108fe5f-1aa1-5d88-0e90-2681f9ae22bc&t=f333052b-f515-5055-643a-c60ecd916b18)

cc @dmcardle @timothytrippel

[2022-08-25 17:53] sriyerg opened #14582 "[chip dv] Investigate the large runtime of the tap_strap_* tests"
Comment reference:
https://github.com/lowRISC/opentitan/pull/14557#pullrequestreview-1085864774

These tests take close to an hour on average:
[code]

This seems a little excessive. The likely reason is the use of `uvm_hdl_force` which is known to hurt the runtime performance. It will be great to profile and speed up the tests if possible.

[2022-08-25 18:40] dmcardle commented on #14581
Should this failure block the merge of #14243?

[2022-08-25 18:40] sriyerg opened #14585 "[test-triage] chip_sw_lc_ctrl_transition"
### Hierarchy of regression failure

Chip Level

### Failure Description

UVM_ERROR @ * us: (prim_reg_cdc_arb.sv:239) [ASSERT FAILED] ReqTimeout_A has 1 failures:

Test chip_sw_lc_ctrl_transition has 1 failures.
6.chip_sw_lc_ctrl_transition.925179959
Line 475, in log /container/opentitan-public/scratch/os_regression/chip_earlgrey_asic-sim-vcs/6.chip_sw_lc_ctrl_transition/latest/run.log

  UVM_ERRO

[2022-08-25 18:43] #14552 closed

[2022-08-25 18:43] sriyerg commented on #14581
I dont think its related to this PR  - this failure is popping up on other tests in the nightly. The triage for the failure is ongoing - the symptom is understood - we are figuring out what is the best way to address it (it will most likely be an RTL fix).

[2022-08-25 18:55] eunchan opened #14586 "[spi_device] Precise Tracking to Last Read Address CSR"
The current `last_read_addr` CSR represents the address field the module lastly latched.

It would be beneficial if the module represents the last byte the host read out from the read buffer

CC: @tjaychen @weicaiyang

[2022-08-25 19:26] cindychip opened #14587 "[dv/chip] chip_sw_alert_handler_entropy test avoid external force"
The chip level test `chip_sw_alert_handler_entropy` intends to check if all the pings can be triggered in the simulation.
To ensure that happens in the current design, we force the `wait_cyc_mask_i` value with SV sequence.

A better way would be to reseed the `LFSR` seed in every run time.

[2022-08-25 19:26] cindychip commented on #14587
@sriyerg @tjaychen FYI

[2022-08-25 19:27] tjaychen commented on #14587
sounds good. Let me have a look at `prim_lfsr` to see if my memory about how it works is correct.

[2022-08-25 19:39] alphan commented on #10792
Fixed by #14577

[2022-08-25 19:39] #10792 closed

[2022-08-25 19:41] alphan commented on #10929
#14488 #14469 #14474 and possibly others cover this case.

[2022-08-25 19:41] #10929 closed

[2022-08-25 19:42] alphan commented on #10930
#14481

[2022-08-25 19:42] #10930 closed

[2022-08-25 19:45] alphan commented on #11609
#14402 updates these tests in the plan, also see corresponding [issues](https://github.com/lowRISC/opentitan/issues?q=is%3Aissue+is%3Aopen+label%3A%22Component%3ARomE2eTest%22+bootstrap+in%3Atitle).

[2022-08-25 19:45] #11609 closed

[2022-08-25 19:47] alphan commented on #10928
#14493

[2022-08-25 19:47] #10928 closed

[2022-08-25 19:47] alphan commented on #11612
#14488 #14489

[2022-08-25 19:47] #11612 closed

[2022-08-25 19:49] alphan commented on #10867
I think this is done now. @dmcardle @timothytrippel please feel free to reopen if you there's any remaining work.

[2022-08-25 19:49] #10867 closed

[2022-08-25 19:51] alphan commented on #10895
@jon-flatley took care of this in #13021

[2022-08-25 19:51] #10895 closed

[2022-08-25 19:52] alphan commented on #11608
#14474 #14478 #14479 #14480 #14468 #14473 #14474

[2022-08-25 19:52] #11608 closed

[2022-08-25 19:53] alphan commented on #11611
see [these issues](https://github.com/lowRISC/opentitan/issues?q=is%3Aissue+is%3Aopen+label%3A%22Component%3ARomE2eTest%22+shutdown+in%3Atitle)

[2022-08-25 19:53] #11611 closed

[2022-08-25 19:56] alphan commented on #11610
See [these issues](https://github.com/lowRISC/opentitan/issues?q=is%3Aissue+is%3Aopen+label%3A%22Component%3ARomE2eTest%22+ret+in%3Atitle+OR+asm+in%3Atitle+)

[2022-08-25 19:56] #11610 closed

[2022-08-25 19:58] alphan commented on #10791
Updated test points [here](https://github.com/lowRISC/opentitan/issues?q=is%3Aissue+is%3Aopen+label%3A%22Component%3ARomE2eTest%22) cover multiple life cycle states.

[2022-08-25 19:58] #10791 closed

[2022-08-25 21:13] #14205 closed

[2022-08-25 21:15] sriyerg commented on #14581
I am testing a fix for the CI version of this failure - will push a PR out soon.

[2022-08-25 21:16] weicaiyang commented on #10038
We may want to re-evaluate this as it affects some base usage.

Case1:
Assume upstream SPI host reads a 1k data from read buffer, and realizes there are some errors, then there is no way to re-read this 1k data again, as there is no way to reset last_read_addr unless we issue an reset, and SW probably already overwrites this 1k due to the flip interrupt.
Hence, we need to assume SPI data loss rate

[2022-08-25 21:25] alphan opened #14591 "[ottool] console can print extra `CR`s"
nit: can add an extra `CR` if the line already ends in `CRLF` which can cause confusion if we decide to save opentitantool's output to a file.

_Originally posted by @alphan in https://github.com/lowRISC/opentitan/pull/13770#discussion_r955435538_

[2022-08-25 22:38] tjaychen commented on #14389
assigning for triage.

[2022-08-25 22:40] tjaychen commented on #14389
There appears to be two layered failures.

1. the first is that the test takes too long because of flash rma wipe (it takes 100+ms without specific run time options)
2. the second is that otbns `ImemRDataBysEnabkedWhenNoCoreAccess` fires because the assertion condition does not account for an active ongoing secure wipe.

The second issue might already be known.

[2022-08-25 22:48] tjaychen opened #14595 "[test-triage] chip_sw_otbn_randomness"
### Hierarchy of regression failure

Chip Level

### Failure Description

Test chip_sw_otbn_randomness has 1 failures.
0.chip_sw_otbn_randomness.3823033481
Line 401, in log /container/opentitan-public/scratch/os_regression/chip_earlgrey_asic-sim-vcs/0.chip_sw_otbn_randomness/latest/run.log

      Offending '((req_i & $past(req_i)) == $past(req_i))'
  UVM_ERROR @ 3701.039724 us: (prim_arbiter_ppc.s

[2022-08-25 22:56] tjaychen commented on #10038
yeah these are good points.
I didn't really consider this when the mode was created.

@a-will any thoughts? I feel like in the worst case, if the host encounters an error, it probably would signal the device in a sideband manner. I don't think we necessarily need to be able to read back the last 1KB buffer, but the device should be able to "start" again from scratch.

@weicaiyang just to confirm,

[2022-08-25 23:07] eunchan commented on #14586
Hum, logic is already tracking the read address. However, it tracks the next byte address not the current one except when it latches the address field.

So, suggestion is:

- do not latch address field
- latch the current address in `StMainOutput`

Related PR is #14590.

[2022-08-25 23:14] a-will commented on #10038
You know me: I prefer not to take risks with correctness by putting software in the loop for feed-forward I/O protocols, so I would never create a system that does (pretend flash array) reads to spi_device in flash mode, myself ;)

In any case, the intended application was for loading pre-validated initial firmware to the host, where the host is doing a straight block read. I don't think there is

[2022-08-25 23:15] cindychip opened #14596 "[dv/kmac] Make sure kmac does not hang when sideload key valid bit is dropped"
Implement a sequence where sideload key valid bit is dropped or toggled during kmac operation.
Make sure the kmac operation won't hang.

[2022-08-25 23:26] eunchan commented on #14586
I will copy the comment above to the PR and close this as this has been implemented but has a bug.

[2022-08-25 23:26] #14586 closed

[2022-08-25 23:26] tjaychen commented on #10038
hahah...i will admit that this kind of feed forward read is kind of scary...but is slightly less scary than some of the "predictive reads" i heard about ... i think we also planned for actual flash read at some point, but there didn't seem to very solid use cases for that.  Do you think that's still the case?

Ah i see, i guess if the host needs to restart..would we be notified somehow to know to

[2022-08-25 23:29] tjaychen commented on #14596
huh this is interesting... i'm not sure we actually thought through this case between keymgr / kmac.
If this were to happen, (the valid line goes low for no apparent reason), it actually might be okay for `kmac` to completely misbehave, since it's basically an attack scenario.

Maybe we should actually add an assertion on `keymgr` side to make sure this doesn't happen outside of an escalation.
Eve

[2022-08-25 23:33] cindychip commented on #14596
I think it is expected for kmac to output unexpected data, I just want to make sure kmac won't wait forever for the valid sideload key :)

[2022-08-25 23:34] tjaychen commented on #14596
o okay sounds good. That's good too. Should we actually check that kmac's output will be incorrect? If that is easy to do?

[2022-08-25 23:44] a-will commented on #10038
There is a use case (the same one that this streaming mode attempts to address), but that mechanism comes with security implications we had previously decided to avoid.

This really depends on the error responses of the host, so it's hard to say. We can always detect out-of-sequence reads, though.

[2022-08-25 23:47] tjaychen commented on #10038
ah, so it's as simple as tying a gpio to a device's reset line or something? (or a gpio that is flipped after reset)

[2022-08-25 23:48] tjaychen commented on #14595
assigning for triage.

[2022-08-25 23:49] a-will commented on #10038
Assuming the RoT has such powers, yes. That may not always be the case, as it depends on the system architecture.

[2022-08-26 00:55] #11116 closed

[2022-08-26 01:11] #14525 closed

[2022-08-26 01:41] tjaychen commented on #14595
the test is failing for 2 reasons:

1. due to entropy_testutil update, entropy is now taking longer to retrieve
2. the test calls both boot_mode and auto_mode entropy, which causes 2 separate sets of entropy disable / enable.  Since this call is invoked when entropy requests are already ongoing, it causes a prim arbiter assertion failure since the entropy request is suddenly de-asserted in the mid

[2022-08-26 01:44] tjaychen commented on #14585
in addition to the one fixed in #14581 , `usbdev` debug event also triggers a similar failure.

[2022-08-26 03:18] alphan commented on #11081
@tjaychen ping :)

[2022-08-26 03:19] tjaychen commented on #10038
sorry that was a typo.. i meant to type "ah so it **ISN'T** as simple as.."

[2022-08-26 03:45] tjaychen commented on #11081
ah yes, confirmed!

[2022-08-26 03:54] tjaychen commented on #14325
the latest run seems to show a similar failure cause to #14389 .
I will close this one down for now.

[2022-08-26 03:54] #14325 closed

[2022-08-26 03:55] tjaychen commented on #14332
unassigned since this is not currently being triaged.

[2022-08-26 03:56] tjaychen commented on #14327
@HU90m is this currently being triaged? If not, you can unassign it for the next on-call.

[2022-08-26 03:57] tjaychen commented on #14198
Not actively triaged, unassign for next on-call.

[2022-08-26 04:10] weicaiyang commented on #10038
Based the discussion and we have a dedicate reset to spi_device, I guess it's fine to leave it as is for now

[2022-08-26 07:00] andreaskurth opened #14602 "[otbn] `{D,I}memRDataBusEnabledWhenNoCoreAccess_A` assertions fail"
These assertions
https://github.com/lowRISC/opentitan/blob/d04a229426d0ce2bfb8a0c74669aa5980e1a2543/hw/ip/otbn/rtl/otbn.sv#L453-L454
https://github.com/lowRISC/opentitan/blob/d04a229426d0ce2bfb8a0c74669aa5980e1a2543/hw/ip/otbn/rtl/otbn.sv#L686-L687
currently sometimes fail.

[2022-08-26 07:01] andreaskurth commented on #14389
Indeed, thanks for pointing this out, @tjaychen. Let's track this in #14602.

[2022-08-26 07:50] andreaskurth commented on #14602
The failure seems to occur when a secure wipe is running, so extending the assertion conditions like this:
[code]
[code]
could solve the problem (see https://github.com/lowRISC/opentitan/pull/14600).

However, I wonder which specified behavior this assertion checks? How I understand the [OTBN specification](https://docs.opentitan.org/hw/ip/otbn/doc/index.html#memories), we only guarantee those mem

[2022-08-26 07:51] andreaskurth commented on #14602
@GregAC What do you think?

[2022-08-26 08:47] andreaskurth commented on #14541
I don't think the locked state always signals an error. For instance in `otbn_start_stop_control`, the `OtbnStartStopStateLocked` state does not set `fatal_error_o`, and not all transitions into `OtbnStartStopStateLocked` set `fatal_error_o`. If we consistently set `fatal_error_o` (or similar in other modules) when we are in the terminal error state, your solution sounds good to me.

[2022-08-26 08:54] GregAC commented on #6665
This would be a useful tidy-up (we don't really want lots of different scrambling implementations everywhere). But certainly not a priority for M2. I will leave this open but I think this is a future release issue.

[2022-08-26 09:11] vogelpi commented on #8758
I've just discussed this with @andreaskurth . Along the discussion we had in the silicon working group and @jeoongp 's feedback in #14287 we concluded to change the assertions inside the prim_reqack_sync primitive as follows:
- If one interface is reset, also the other one needs to be reset.
- If one interface is reset, other assertions no longer need to be checked.
- After releasing the first res

[2022-08-26 10:26] GregAC commented on #14436
I haven't gone over all the details here but note that you can see a performance penalty when executing 32-bit instructions that aren't aligned to 32-bits in particular when jumping/branching to them. The issue is when you do an external memory read for an instruction fetch it is 32 bit aligned, so if your target crosses a 32 bit boundary you need two memory reads before you can execute the instru

[2022-08-26 10:35] ctopal opened #14603 "[otbn] Blanking bug on `BN.SUBM` causes nonzero `adder_y_res`"
OTBN uses result from adder Y while doing a `BN.SUBM` on a certain condition as seen below:

https://github.com/lowRISC/opentitan/blob/80b99560bd8cac62c3b358fe5cae3e1d94be3b04/hw/ip/otbn/rtl/otbn_alu_bignum.sv#L807-L815

This causes a non-blanking behaviour on the datapath of adder Y even when the result from it (adder Y) is not used.

This can be observed with `otbn_smoke` test, around `insn_cnt=

[2022-08-26 11:48] GregAC commented on #14602
Let's go for the `StatusIdle` implies the data busses are enabled option. Seems cleanest.

[2022-08-26 12:49] ctopal commented on #14603
More clarification:

I basically had a rule that said whenever `adder_y_res_used` is low, `adder_y_res` has to be zero. If we get to do a `bn.subm` and see `adder_x_res[WLEN+1] == 1`, we are setting `adder_y_res_used` as 0, which indicates `adder_y_res == '0` but it does not hold.

Reason: `adder_y_res` is not zero because we are actually using adder Y up until we decide not to (when the other add

[2022-08-26 14:05] #13974 closed

[2022-08-26 14:05] #14196 closed

[2022-08-26 14:07] alphan commented on #11081
Thanks @tjaychen!

[2022-08-26 14:43] #13221 closed

[2022-08-26 15:33] engdoreis commented on #14168
I started the test and I'm not able to acknowledge the alert handler nmi. Once it fires for the first time it never stops again.
This is the snippet from my `nmi_handler`.
[code]
These are the steps:
- Acknowledge the irq on the alert_handler.
- Acknowledge the irq on the plic.
- Clear nmi state on the rv_core_ibex.

Am I missing something or could that be a bug?

[2022-08-26 15:48] moidx commented on #10039
At this point is this a DV enhancement or part of the M2 plan? Have we implemented the sw connectivity tests yet?

Marking as M2 assuming this will reduce the number of software tests.

[2022-08-26 15:50] moidx commented on #7954
Marking this as higher priority as we need to improve the DV velocity. There are DV engineers ramping up across organizations that would benefit from instructions on how to reproduce test cases and/or run tests locally.

Many people are currently relying on CI to ensure things are running correctly with dvsim.

[2022-08-26 15:52] moidx commented on #6126
@tjaychen should this be assigned to M2 or M3? Thanks

[2022-08-26 15:53] moidx commented on #2591
Hi @eunchan, should this be assigned to M2, M3 or backlog milestone. Thanks

[2022-08-26 15:55] moidx commented on #12093
Hi @vogelpi, is there additional work needed here?

[2022-08-26 15:57] moidx commented on #12448
Deferring post M2 as there is a workaround.

[2022-08-26 15:57] eunchan commented on #2591
Let me lower the priority and tag Future Release.

[2022-08-26 16:01] moidx commented on #12504
Targeting M2 to be able to track performance requirements wrt benchmarks.

[2022-08-26 16:02] moidx commented on #14424
This is now resolved. Links have been updated in the hw dashboard.

[2022-08-26 16:04] #14595 closed

[2022-08-26 16:20] tjaychen commented on #14168
NMI's are technically considered an escalation phase.
So to stop `alert_handler` from emitting them, you actually need to clear alert escalation (prevent it from continuing escalation).

@cindychip and @msfschaffner know the protocol better than I do, but there should be an associated DIF function for that.

[2022-08-26 16:23] tjaychen commented on #10039
yeah i think this is indeed part of the M2.
And there is a testplan for this [here](https://github.com/lowRISC/opentitan/blob/master/hw/top_earlgrey/data/chip_conn_testplan.hjson)

There are also additional items related to `ast` that fall into this category, so definitely something we need to complete.

[2022-08-26 16:24] tjaychen commented on #6126
just my opinion, but i would vote for M3.

[2022-08-26 16:31] #6671 closed

[2022-08-26 16:31] #12984 closed

[2022-08-26 16:48] engdoreis commented on #14168
Yeah, clear the escalation worked, I thought that calling `dif_alert_handler_alert_acknowledge` would be enough.
Thanks @tjaychen !!

[2022-08-26 16:55] tjaychen commented on #12984
@sriyerg do you want to announce this at the team meetings next week (and week after?)
I really think this is useful for a lot of the chip level tests (especially the super long ones), to break up into smaller ones with more seeds.

[2022-08-26 16:57] sriyerg commented on #12984
sure. sg.

[2022-08-26 17:13] GregAC opened #14611 "[tlul] Data on write responses"
For a response to a write the data in the response packet (the `d_data` field) is irrelevant and could be any arbitrary value. It follows that the data integrity (`data_intg` within `d_user`) is also irrelevant and in particular doesn't need to be the correct integrity for whatever arbitrary value `d_data` has.

A recently found Ibex bug where Ibex was checking data integrity in incoming write res

[2022-08-26 17:15] andreaskurth commented on #14603
Been discussing this with @ctopal; here are our findings:

This `prim_blanker`
https://github.com/lowRISC/opentitan/blob/6d1e7bc337d1a075d8841568614653b9da3e000a/hw/ip/otbn/rtl/otbn_alu_bignum.sv#L496-L501
blanks as it should, but this mux
https://github.com/lowRISC/opentitan/blob/6d1e7bc337d1a075d8841568614653b9da3e000a/hw/ip/otbn/rtl/otbn_alu_bignum.sv#L503-L504
after the blanker selects `adder_

[2022-08-26 17:17] andreaskurth commented on #14603
WDYT, @GregAC?

[2022-08-26 17:21] #14538 closed

[2022-08-26 17:22] eunchan opened #14612 "[spi_device] Add config knob for tracking `last_read_addr` in Passthrough"
Discussed in https://github.com/lowRISC/opentitan/pull/14590

Current `last_read_addr` tracks the last byte host read in Flash / Passthrough mode except it hits the mailbox.

This issue is to implement the config knob, so that SW can select if HW tracks the address or not in passthrough mode.

[2022-08-26 17:32] eunchan commented on #14611
Make `d_data` blank (all zero or all one) is good IMO. Invalid integrity, hum.. I think it still should have integrity with the blank data. And would be good to check the integrity (it is solely up to the host honestly).

[2022-08-26 17:51] dmcardle commented on #12497
Looks like `test_sim_verilator.py` was deleted in #12929. Actually, I think the referenced test was removed earlier in #12482. @milesdai, could you confirm whether [test_openocd_basic_connectivity](https://github.com/lowRISC/opentitan/pull/12482/files#diff-3c555d8427448e4827e4f9cee6362bcecac06ed98b35ecf144006adc2ab74ed8L206-L258) need to be recreated?

[2022-08-26 17:52] andreaskurth commented on #14324
While I don't think it's a big or critical problem, it's not ideal. We should be able to fix this relatively easily. Each round of secure wipe will take a cycle longer, though, but that should not be critical either.

Do you agree, @vogelpi?

[2022-08-26 19:22] milesdai commented on #13521
It seems like the consensus is to move to Ubuntu 20.04. From the CI side, the remaining tasks for this (please lmk if there are more):
- [ ] Transition all Azure runners to 20.04
- [ ] Transition all GCP runners to 20.04
- [ ] Update docs

[2022-08-26 19:33] weicaiyang commented on #14317
Close via https://github.com/lowRISC/opentitan/pull/14323 and https://github.com/lowRISC/opentitan/pull/14592

[2022-08-26 19:33] #14317 closed

[2022-08-26 20:23] matutem opened #14614 "[dv,otp_ctrl] Fix assertion for bus integrity error"
The bus integrity error from the regfile is connected to alert_tx_o[2], but the assertion assumes it is connected to assert_tx_o[1]. This causes the assertion to fail for the all_escalation_resets test (currently in development).

Apparently sec_cm cannot check this?

[2022-08-26 21:11] tjaychen commented on #14332
assigning to @tjaychen for triage.

[2022-08-26 21:31] tjaychen commented on #14332
this issue appears to have been resolved and working in the latest nightly.
I will resolve this for now and re-open later if needed.

[2022-08-26 21:31] #14332 closed

[2022-08-26 21:42] #6609 closed

[2022-08-26 21:47] jdonjdon opened #14616 "[flash_ctrl] csr access hangs in disabled flash"
After flash is disabled, write / read csr does not return any response and is timed out.

[2022-08-26 21:54] tjaychen commented on #14332
i ran a quick local regression of 50 seeds and also could not reproduce the issue.

[2022-08-26 21:59] tjaychen commented on #13393
@vogelpi do you want to close this issue?
I know your latest PR of changing RND to URND also came with switching from boot to auto.  So I think that satisfies the spirit of this issue.

[2022-08-26 22:00] tjaychen commented on #14389
Needs #14606 to also be merged before this is completely fixed.

[2022-08-26 22:01] tjaychen commented on #14389
un-assigning for next on-call

[2022-08-26 22:02] eunchan commented on #14612
CC: @weicaiyang

@a-will Do you think it is helpful the HW tracks which address host read *in passthrough mode*? Current hw supports it by reading `last_read_addr`. However, DV support may be difficult. If not much helpful, then we may remove the feature entirely (actually probably adding conditions)

[2022-08-26 22:15] a-will commented on #14612
I'm not aware of any significant use case for it, nor any feature request from known users. We're likely fine to remove it.

[2022-08-26 22:16] eunchan commented on #14612
Ah OK. Good.

[2022-08-26 22:24] tjaychen commented on #14551
assign to @tjaychen for initial triage.

[2022-08-26 23:10] weicaiyang commented on #14612
I already aligned the scoreboard with the behavior of last_read_addr in passthrough.
I'm fine to either remove it or keep it.

[2022-08-26 23:31] #5760 closed

[2022-08-27 02:58] #14585 closed

[2022-08-27 03:04] tjaychen commented on #14551
After some investigation, it appears the test flow is roughly as follows:

1. provision an error counting offset in the retention sram.
2. request a new scrambling key (across reboots), and read data that has been backdoor written into the main sram using the previous key
3. since the scrambling key is now new, the de-scrambled data is incorrect and should fail integrity checks
4. on each integrit

[2022-08-27 03:04] tjaychen commented on #14551
unassign @tjaychen for next on-call.

[2022-08-27 04:46] #14581 closed

[2022-08-27 08:06] tjaychen commented on #14389
the flash_rma_unlocked test is also failing because of the same assertion, so #14606 should fix a lot of things.

[2022-08-28 13:53] #13471 closed

[2022-08-29 07:35] vogelpi commented on #12093
My understanding is that all the required work has been done.

In CI, we build the SW artifacts for English Breakfast using `ci/scripts/run-english-breakfast-verilator-tests.sh` which under the hood calls `./hw/top_englishbreakfast/util/prepare_sw.py -b` to patch the SW tree and build SW artifacts using Bazel. The tests are then run via opentitantool.

The actual Verilator simulation is not built

[2022-08-29 07:35] #12093 closed

[2022-08-29 07:43] vogelpi commented on #14324
Yes, I agree that this is not ideal and that also one additional secure wipe clock cycle isn't critical. Thanks for flagging this.

[2022-08-29 07:46] vogelpi commented on #13393
Yes, let's close this issue. It's pretty cool that we have are now using auto/continuous mode more widely. Thanks for the effort you've put into this @tjaychen and @andreaskurth !

[2022-08-29 07:46] #13393 closed

[2022-08-29 09:07] marnovandermaas commented on #13521
Fixed by: https://github.com/lowRISC/opentitan/pull/14432

[2022-08-29 09:08] marnovandermaas commented on #13521
We still need to upgrade the GCP agents, so I'll reopen this issue.

[2022-08-29 11:56] vogelpi commented on #14541
I've now created a PR to address the design side of this here: #14626

[2022-08-29 15:50] eunchan commented on #14612
OK then. Let me close this. I may refactor this part of the code later (to consolidate all address calc. inside `spid_readbuffer.sv` module)

[2022-08-29 15:50] #14612 closed

[2022-08-29 16:29] sriyerg opened #14628 "[prim_lfsr] Missing label on initial block"
This results in lint warnings to be thrown - see https://github.com/lowRISC/opentitan/pull/14601/files#r957086642 for reference.

[2022-08-29 16:46] eunchan opened #14631 "[prim] Latch Enable signal for Sparse FSM macro"
`prim_flop_macros.sv` defines `PRIM_FLOP_SPARSE_FSM()` macro. It makes the sparse fsm FFs simple. However, the `prim_sparse_fsm_flop` module does not have a latch enable signal, which is useful in certain cases.

This issue is to track the enhancement:

- Add `latch_en` port in `prim_sparse_fsm_flop` module
- Revise `PRIM_FLOP_SPARSE_FSM()` macro to have optional `__en` argument, (default tied to

[2022-08-29 16:54] tjaychen commented on #14631
sounds good to me. Is there an example of where the `__en` might be useful?

[2022-08-29 17:20] eunchan commented on #14631
About to create a PR :) Let me link here.

[2022-08-29 17:25] timothytrippel opened #14632 "[dif] remove `DIF_TEST_SMOKE` S1 requirement"
Barring any bug fixes or minor enhancements, core DIF development is complete. However, some DIFs (see below) are still marked at `S0`. If we look closely, we find that all of these DIF libraries meet the [`S2` requirements](https://docs.opentitan.org/doc/project/checklist/#s2), however they are missing a single [`S1` requirement](https://docs.opentitan.org/doc/project/checklist/#s1). Specifically

[2022-08-29 17:28] eunchan commented on #14631
PR #14633 has been created.

[2022-08-29 17:47] timothytrippel opened #14634 "[rom-e2e] add selected V2 ROM E2E tests to DV sim nightly regression"
We want to run some (as many as possible?) ROM E2E tests in DV sim nightly regressions. Since these tests take a long time to run in sim ([1hr+](https://github.com/lowRISC/opentitan/pull/14535#discussion_r953323544)) we need to:

- [x] decide which tests from the [ROM E2E testplan](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/data/rom_testplan.hjson?q=rom

[2022-08-29 17:52] sriyerg commented on #3298
We have kept the dumping calls in TCL files/ Closing this issue (feel free to reopen if needed).

[2022-08-29 17:52] #3298 closed

[2022-08-29 17:54] #14628 closed

[2022-08-29 17:55] sriyerg commented on #2422
It appears to have been fixed. Closing.

[2022-08-29 17:55] #2422 closed

[2022-08-29 17:55] weicaiyang commented on #12345
Closing this issue since most of the AES sec_cm tests have been added.
@rasmus-madsen Feel free to re-open this if you have more to discuss

[2022-08-29 17:55] #12345 closed

[2022-08-29 18:25] msfschaffner commented on #14631
Sounds good, although it we should probably check with the DV folks whether this affects any of the common DV infrastructure testing sparse FSMs.

[2022-08-29 18:29] msfschaffner commented on #6126
since the overview part has been updated and split out into a separate datasheet portion, I would also vote to make the more detailed spec updates part of M3.

[2022-08-29 18:31] moidx commented on #6126
Sounds good. Moved to M3. Thanks!

[2022-08-29 18:36] timothytrippel opened #14635 "[rom-e2e] add selected P2 ROM E2E tests to DV sim nightly regression"
Same as #14634, but for P2 ROM E2E tests.

[2022-08-29 19:22] #14356 closed

[2022-08-29 19:33] msfschaffner commented on #14611
This is related to https://github.com/lowRISC/opentitan/issues/11036 which blanks data going from host to device. As far as I remember, we tie the integrity to a fixed bad value whenever the data is blanked (see https://github.com/lowRISC/opentitan/pull/11045#discussion_r820026237), so we should probably do that here as well for consistency.

Relevant code section:
https://github.com/lowRISC/opent

[2022-08-29 19:36] msfschaffner commented on #14168
Yeah the `dif_alert_handler_alert_acknowledge` function just clears the cause register, it does not actually abort the escalation protocol.

[2022-08-29 19:59] alphan opened #14636 "[test] extract_sw_logs_db requires .rodata section"
I ran into this while working on #14627. The test program added in that PR is very minimal and does not have a `.rodata` section because it doesn't need it. We, however, call `extract_sw_logs_db` for the `.rodata` section when building for `sim_dv` unconditionally which causes the following error:

[code]

To work around this for now, I added the following at the end of the`.rodata` section defini

[2022-08-29 20:05] a-will commented on #13042
Reopening so that I add docs on how to do it. Adding the argument is easy enough:
[code]

plus fiddling with the timeout, if necessary.

But it'll take a little thought to describe a good process for _finding_ the waveform. We might just want to make the waveform file path be configurable--It's hard-coded in the software right now.

[2022-08-29 20:47] ballifatih opened #14638 "[chip_sw, kmac_entropy] Verilator EDN timeout"
This is about the interaction between EDN and KMAC, when simulating with verilator. In particular, I encountered the following issue:

In KMAC HWIP, I use the following parameters to configure ENTROPY_PERIOD register:
`prescaler = 0x3FF`
`wait_timer = 0xFFFF`
which should be the maximum timeout value for EDN requests. The expectation is that, since we are using the maximum possible values for the

[2022-08-29 20:56] moidx commented on #14542
This issue also applies to all single bit encodings in the command interface (e.g. command ID). The Gen bits interface also has a single bit point of failure:

`CSRNG_SW_CMD_STS_CMD_RDY_BIT`

[2022-08-30 01:33] #14492 closed

[2022-08-30 01:35] alphan commented on #14492
Done in #14627

[2022-08-30 01:35] #14274 closed

[2022-08-30 01:36] alphan commented on #14274
Done in #14627

[2022-08-30 01:51] alphan commented on #14635
@timothytrippel, thanks for creating this issue. I'm closing this since we are using P1 to indicate the tests that we want to run in DV.

[2022-08-30 01:51] #14635 closed

[2022-08-30 02:07] alphan commented on #14636
@sriyerg, assigning to you as we discussed offline. Thanks a lot!

As I mentioned, part of this issue is the `_gen_sim_dv_logs_db_impl` that passes the `--rodata-sections .rodata` [here](https://cs.opensource.google/opentitan/opentitan/+/master:rules/opentitan.bzl;drc=e77043f96a92a4185ed40b975a0cc6eb46707d10;l=486) unconditionally.

In order to test this in DV with an elf file that doesn't have th

[2022-08-30 09:01] engdoreis opened #14649 "[entropy_src/dv] Use the internal reset monitor to know a mid-test reset occurred"
- [ ] Change `chip_sw_entropy_src_fuse_vseq` use the internal reset monitor to know a mid-test reset occurred.
- [ ] The tests `chip_sw_entropy_src_fuse_en_fw_read_test` and `chip_sw_csrng_fuse_en_sw_app_read_test` depend on this file and needs changes as well.

Refer to [comment](https://github.com/lowRISC/opentitan/pull/14293#discussion_r956328634)

[2022-08-30 09:02] engdoreis commented on #14649
assigning to @sriyerg for visibility.

[2022-08-30 09:26] johngt commented on #11540
https://github.com/lowRISC/opentitan/pull/14319 - merged.

[2022-08-30 09:26] #11540 closed

[2022-08-30 09:30] johngt commented on #11546
Triggering done. Cover points not yet complete @prajwalaputtappa

[2022-08-30 09:32] johngt commented on #14541
Coverage - for V2S
@prajwalaputtappa

[2022-08-30 10:43] andreaskurth commented on #14541
Verification (except coverage) goes to V3, so after coverage is completed we should set this to P3, V3, and M3.

[2022-08-30 11:26] johngt commented on #14204
According to the nightlies the last time that this was showing <100 pass rate was https://reports.opentitan.org/hw/top_earlgrey/dv/2022.08.24_15.46.18/report.html with 40% success rate.

It appears that in all nightlies after that this is resolved. Not sure which PR would have resolved this.
This is a candidate for closing / resolved once tagged with PR that resolved this.

[2022-08-30 12:15] GregAC commented on #14603
As any extra blanking we add (or changes we make to existing blanking) would have to factor the output of adder X I don't think there's anything we can do here. Blanking control must come out of a flop or possibly produced by some short simple logic otherwise glitches can undo what the blanking is aiming to do. So I think relaxing the assertions in this case is the only possibility open to us.

We

[2022-08-30 13:00] #14602 closed

[2022-08-30 13:00] #14389 closed

[2022-08-30 13:36] johngt commented on #14551
Assigning to @engdoreis to look into this. This may be a task for @andreaskurth at some point but it might be best to see if @abdullahvarici and @engdoreis can perform a first pass on this. If it will take more than a couple of hours of work, best to track as an issue; if that is the case ping me and we will create a separate issue for tracking this effort.

[2022-08-30 13:58] johngt opened #14653 "[test-triage] csr_mem_rw_with_rand_reset"
### Hierarchy of regression failure

Chip Level

### Failure Description

UVM_ERROR @ * us: (chip_scoreboard.sv:78) [scoreboard] Check failed item.d_error == * (* [*] vs * [*]) has 1 failures:

Test chip_csr_mem_rw_with_rand_reset has 1 failures.
12.chip_csr_mem_rw_with_rand_reset.733567193
Line 308, in log /container/opentitan-public/scratch/os_regression/chip_earlgrey_asic-sim-vcs/12.chip_csr_me

[2022-08-30 14:05] johngt opened #14654 "[test-triage] chip_jtag_mem_access"
### Hierarchy of regression failure

Chip Level

### Failure Description

Job chip_earlgrey_asic-sim-vcs_run_default killed due to: Exit reason: User job exceeded runlimit: User job timed out has 1 failures:

Test chip_jtag_mem_access has 1 failures.
0.chip_jtag_mem_access.3534966954
Log /container/opentitan-public/scratch/os_regression/chip_earlgrey_asic-sim-vcs/0.chip_jtag_mem_access/latest/run.

[2022-08-30 14:17] johngt opened #14655 "[test-triage] chip_tl_errors. tl_d_oob_addr_access / tl_d_illegal_access"
### Hierarchy of regression failure

Chip Level

### Failure Description

UVM_ERROR @ * us: (cip_base_scoreboard.sv:433) [scoreboard] Check failed item.d_error == exp_d_error (* [*] vs * [*]) On interface chip_reg_block, TL item: req: (cip_tl_seq_item@43366) { a_addr: * a_data: * a_mask: * a_size: * a_param: * a_source: * a_opcode: * a_user: * d_param: * d_source: * d_data: * d_size: * d_opcode: *

[2022-08-30 14:21] johngt commented on #14655
Setting as lower priority as there are other chip level triage items that are of higher priority currently.
This has been failing for over three weeks (<30% success rate) so not a new item.
Will likely take some time to work on this, so once @engdoreis has had a chance at looking at the other items it might need assignment to someone more familiar with TileLink / data bus.

[2022-08-30 15:45] alphan commented on #10371
This is done in 18f93dba829de0f6cc21516896b014713bdf37f3

[2022-08-30 15:45] #10371 closed

[2022-08-30 15:46] alphan commented on #11359
Done in #10295

[2022-08-30 15:46] #11359 closed

[2022-08-30 15:53] alphan commented on #11802
I think this is handled in ef7cf6bc0, please feel free to reopen if there are remaining tasks.

[2022-08-30 15:53] #11802 closed

[2022-08-30 16:09] tjaychen commented on #14638
yes i think so. I believe I integrated ast into both fpga and verilator, so there should be a source there.
This one might be worth a second look to find out what's going on in chip level simulation.

@ballifatih were you able to run this through dvsim? or only verilator so far?

[2022-08-30 17:17] eunchan commented on #14638
I've made a change to run this on dvsim. I am dumping the waveform if EDN returns data correctly or not.

[2022-08-30 17:19] tjaychen commented on #14638
let me know if you need me to have a look @eunchan , i've changed some stuff (on the software side) for this recently, so it's possible edn could be hitting a worst case for reseeding.

[2022-08-30 17:19] eunchan commented on #14638
Hey @vogelpi

I am seeing a weird behavior on kmac_entropy FSM.

https://cs.opensource.google/opentitan/opentitan/+/master:hw/ip/kmac/rtl/kmac_entropy.sv;l=586

Based on the line, the FSM waits in `StRandEdn` until all LFSR has been fed in. (I may be wrong). However, during the time, `edn_req` remains high even after `ack` comes in. Is this intentional? If not, should we create additional state to

[2022-08-30 17:21] eunchan commented on #14638
Besides that, @ballifatih I am seeing the TB updates Wait Timer value after KMAC runs.

<img width="1599" alt="image" src="https://user-images.githubusercontent.com/1192814/187502196-4993d696-9f48-4b24-b573-eeb79d5ac6de.png">

The wait timer should remain stable. Change the code sequence to program wait timer first then change `mode` and then set `entropy_ready`.
I can create a commit on top of th

[2022-08-30 17:24] eunchan commented on #14638
Hum, If I understand correctly, the entropy FSM fetches five entropies from EDN and fed into each top-level LFSR (then spread to total 25 LFSRs). Am I right? then keeping edn_req high always makes sense.

[2022-08-30 17:36] eunchan commented on #14123
Revised to V2.

[2022-08-30 18:04] engdoreis commented on #14198
I discovered that the register `PINMUX_WKUP_DETECTOR_CNT_TH_1_REG_OFFSET` from the pinmux won't accept any value different from 0x01 to be written to it.
Is that some kind of filter?
Have this behavior changed recently?

See PR  #14657

[2022-08-30 18:16] msfschaffner commented on #14198
This is interesting - the register should accept any 8bit value.

Note that the register is synchronized to the AON clock domain, so the write operation in HW will take effect several CPU cycles after the write operation has occurred on the bus. However, HW should take care of blocking any subsequent read accesses to this register until the value has been synchronized and updated, so SW should alw

[2022-08-30 18:57] alphan commented on #14484
@dmcardle assigning this to you too since this is probably a simpler test than the one in #14343

[2022-08-30 19:05] ballifatih commented on #14638
@eunchan I can update the PR and address the issue above (unless you already started working on it).

@tjaychen I was not able to install the dvsim flow yet, so I only tried this with verilator and FPGA.

I should also add that if I set `wait_timer = 0x0` (i.e. wait forever case), then, I don't see the timeout error in `ERR_CODE` register and the correct KMAC output is produced without generating

[2022-08-30 19:18] alphan commented on #14489
@dmcardle's great idea: use gdb to sync at an interesting point and reset.

[2022-08-30 19:30] alphan commented on #14634
@moidx @alphan We should go through the regular bootstrap path instead of backdoor loading for at least one test to cover spi/pinmux/pins/flash/etc.

[2022-08-30 19:38] vogelpi commented on #14638
Hi @eunchan ,
you're right, the FSM is supposed to fetch 5 32-bit words and feed that into 5 top-level LFSRs. At the same time, the previous states of these top-level FSMs are fed into the next 5 LFSRs etc. So the REQ is indeed supposed to stay asserted until the fifth 32-bit word from EDN is ACKed. `lfsr_seed_done` will be high when `seed_idx == 4` and `lfsr_seed_en_red != '0`, i.e., when ACking

[2022-08-30 20:25] matutem commented on #14540
Notice https://github.com/lowRISC/opentitan/pull/14449 triggers this scenario. It currently expects alert 43 to be fired but it doesn't check the specific CSR bit to be set because of issue #14518.

[2022-08-30 20:28] ballifatih commented on #14638
The following was the issue on my sw test implementation:

Namely, I was updating `ENTROPY_PERIOD` register after `CFG_SHADOWED`. Reversing the order fixes my issue. I tested it with [the following commit from @eunchan](https://github.com/ballifatih/opentitan/pull/1/commits/e181b17c1c9d456ffae283a2350f70cd0bbc53d7
).

By experimenting with verilator, I can verify that EDN request correctly times o

[2022-08-30 20:28] #14638 closed

[2022-08-30 20:29] eunchan commented on #14638
No worries. Happy to help.

[2022-08-30 21:56] eunchan commented on #14160
I am looking at this if I can code the test.

[2022-08-30 21:58] eunchan commented on #14160
`pwrmgr` can wake up the chip by `slow_peri_reqs.wakeups` (after masked by `reg2hw.wakeup_en`). `*_peri_reqs` type is `pwr_peri_t`. The *top_earlgrey* assigns 6 wakeup events as below:

| Index | Instance         |
|-------|------------------|
| 0     | sysrst_ctrl_aon  |
| 1     | adc_ctrl_aon     |
| 2     | pinmux_aon (pin) |
| 3     | pinmux_aon (usb) |
| 4     | aon_timer_aon    |
| 5     | s

[2022-08-30 22:29] weicaiyang commented on #14144
@a-will
as discussed, this one can be covered by `chip_sw_uart_tx_rx_bootstrap`, but we need to fix it.

[Here](https://docs.google.com/presentation/d/1uGyfu-2UoWbcATRadOAVb-PBbJk0Eg0DkRzoiNKUH8w/edit#slide=id.g129da33a892_0_5) is new bootstrap protocol.

DV sends the data via SPI in this [task](https://cs.opensource.google/opentitan/opentitan/+/master:hw/top_earlgrey/dv/env/seq_lib/chip_sw_base_v

[2022-08-30 23:01] timothytrippel commented on #14330
This actually has not worked since the meson-->bazel transition (see #12504).
cc: @arunthomas

[2022-08-30 23:03] timothytrippel commented on #14330
Also, see #12671

[2022-08-30 23:22] a-will opened #14665 "[spi_device] Add an enable bit for the IP to prevent partial configuration?"
For the spi_device IP, should we add an IP-wide enable bit in a CSR? Currently, the spi_device IP is never actually off (power / clock / reset inputs notwithstanding). This means that the spi_device could respond to transactions before the full configuration is ready. Should we gate responses to the host, events on CSRs / interrupts, and the filling of FIFOs until software has a chance to complete

[2022-08-30 23:23] a-will commented on #14665
CC @tjaychen @eunchan @jeoongp

[2022-08-30 23:28] a-will opened #14666 "[spi_device] Make the command filter default to deny all?"
For spi_device, shall we change the CSR default to filter all commands?

Currently, the defaults out of reset are to allow all commands. Because configuration does not happen atomically, the sequence of CSR changes must be ordered to prevent disallowed commands from passing through to the SPI flash (i.e. don't turn on passthrough mode until the filter is configured).

We may want to at least docum

[2022-08-30 23:28] a-will commented on #14666
CC @tjaychen @eunchan @jeoongp

[2022-08-30 23:37] tjaychen commented on #14666
yeah i think we might have to do deny_all..otherwise it would imply by default if a host just blasted us with transactions they might be able to alter the state of the flash behind the passthrough.

[2022-08-31 01:11] tjaychen opened #14667 "[i2c] 0 value for tHD"
are we allowed to program tHD_DAT to 0?
It appears to be allowed by spec, but when we do so, the internal counter wraps around and the transaction effectively never starts.  This is potentially a bug, but possibly just an error in the DIF.
![image](https://user-images.githubusercontent.com/1026250/187570855-c14de9a7-5332-4a93-887a-0423db4e200e.png)

[2022-08-31 01:51] msfschaffner commented on #13366
This should be addressed by https://github.com/lowRISC/opentitan/pull/14487.
Can you double check and close this issue?

[2022-08-31 02:25] alphan opened #14668 "[ci] CW310 test failures are ignored - false positive"
Please see the [cw310 tests log](https://dev.azure.com/lowrisc/4c50229e-f6cb-4f39-8522-585bb3841438/_apis/build/builds/92369/logs/200) of fe8a53a299d244d254b4a80eb83d8747d4c046a4:

[code]

![image](https://user-images.githubusercontent.com/57949550/187578939-7260703f-c178-4c82-af9c-7ab20c66694e.png)

[2022-08-31 02:41] alphan commented on #14668
update: test failures are caused by alert config check failures.

[2022-08-31 02:45] alphan commented on #14668
update: it looks like 621b69ea0c35c5d30373755f65fc4108fbceb0dc adds additional alerts without updating the digest value in the RMA OTP image. Log excerpt:
[code]
`05414803` is `kErrorAlertBadCrc32`.

[2022-08-31 03:03] alphan commented on #14668
update: It looks like ba0e3530c3b075c8b551bee36c59b9e209cd742e introduced the false positive problem: `... || echo "..."` always succeeds.

[2022-08-31 03:21] alphan commented on #14668
update: Created draft #14669. This PR does not include test fixes to verify that CI can catch failures in CW310 tests.

[2022-08-31 03:49] alphan commented on #14668
update: Created #14670 (CI fix + OWNER_SW_CFG_ROM_ALERT_DIGEST_RMA update)

[2022-08-31 03:51] alphan commented on #14668
next:
* verify that #14669 fails due to CW310 test failures,
* verify that #14670 passes,
* close #14669,
* merge #14670.

[2022-08-31 04:04] milesdai commented on #14668
Yikes! Thanks for catching and fixing this! Should we revert ba0e3530c3b075c8b551bee36c59b9e209cd742e for now while we wait for your draft PRs to pass to prevent anyone else from creating branches from the bad code?

[2022-08-31 04:20] alphan commented on #14668
Summarizing our chat offline: Reverting that commit would cause cw310 tests to fail immediately. Let's wait for #14670 (a single line change for the digest value) instead of reverting 621b69ea0c35c5d30373755f65fc4108fbceb0dc.

[2022-08-31 05:20] timothytrippel commented on #14634
we will probably need to address #11678 to do so.

[2022-08-31 08:18] engdoreis opened #14673 "[ibex, nmi] Ibex nmi is not fired without enabling plic irq"
The test `chip_sw_rv_core_ibex_nmi_irq` (#14609 ) is enabling the plic irq for both wdog and alert_handler in order to have the nmi handler being called.
It's also acknowledging the irq in the plic in order to stop it from being called.
Acording to @tjaychen this behaviour doesn't look right and needs investigaiton as the nmi path and the plic path are technically supposed to be different.

[2022-08-31 08:19] #14168 closed

[2022-08-31 09:02] #14668 closed

[2022-08-31 09:08] alphan commented on #14668
[Executed 179 out of 179 tests: 179 tests pass.](https://dev.azure.com/lowrisc/opentitan/_build/results?buildId=92398&view=logs&j=be0b5a13-ded6-5a2a-3e48-80a10e7eef12&t=08da8d7b-39e7-587c-6104-066a15914f8d&l=20393)

[2022-08-31 10:02] andreaskurth commented on #14603
Thanks @GregAC! I have added a patch to relax the assertion to #14322.

[2022-08-31 10:39] johngt commented on #14330
Given that this item is being worked on by @arunthomas / @cfrantz but has not been touched for some time we will unassign from @engdoreis. @timothytrippel if you want to leave this assigned to someone from your side please mark accordingly but otherwise we will observe/track for now.

[2022-08-31 12:46] abdullahvarici commented on #14327
I have run the simulation and reviewed the code. Thanks to @andreaskurth, we have found out that the related assertion line has an error and it was fixed in [here](https://github.com/lowRISC/ibex/commit/8282a0d2448463762dba22305896c05377a44f25) and included opentitan yesterday at [this commit](https://github.com/lowRISC/opentitan/commit/a836c21da9116be160a50553ac41b645c8b81a33). Now the test is wo

[2022-08-31 13:20] moidx commented on #11678
Hi @timothytrippel, is this issue now used to track integration of ROM bootstrap into DV tests? If so, can you assign this to M2? Thanks

[2022-08-31 13:22] moidx commented on #11242
Assigning to M3 based on the V3 label.

[2022-08-31 13:37] moidx commented on #10412
CC: @msfschaffner @cindychip @tjaychen

Moving to Backlog milestone for now, please move to M2 or M3 if needed. Thanks

[2022-08-31 13:42] moidx commented on #7780
CC @tjaychen

Moving to backlog as this is P3, Future Release

[2022-08-31 13:43] moidx commented on #13345
Closing as implemented.

[2022-08-31 13:43] #13345 closed

[2022-08-31 13:45] #14327 closed

[2022-08-31 13:47] moidx commented on #7143
Hi @cindychip, I assigned this to M2 but please move to Backlog if it makes more sense.

[2022-08-31 13:48] dmcardle commented on #14668
Nice job, @alphan! I wonder how we could avoid accidentally clobbering the exit code in the future. We should probably do an audit of other instances of `|| echo` in our CI scripts and Yaml files.

[2022-08-31 13:49] dmcardle opened #14675 "Audit CI scripts and Yaml for unwanted exit code clobbering"
_Originally posted by @dmcardle in https://github.com/lowRISC/opentitan/issues/14668#issuecomment-1232964502_

[2022-08-31 13:50] moidx commented on #6502
CC @johngt

[2022-08-31 13:55] moidx commented on #4971
CC @alphan @vogelpi @bilgiday

Is this issue still relevant or is work now being tracked somewhere else?

[2022-08-31 14:02] moidx commented on #2817
CC @arunthomas @sriyerg

Marking as M2 for further triaging.

[2022-08-31 14:04] jadephilipoom commented on #4004
I seem to recall that Felix and I discussed this a while ago and decided not to do padding on OTBN; for ROM we do it on Ibex and that's the plan for the cryptolib as well. I think it's safe to close this unless @felixmiller remembers differently.

[2022-08-31 14:04] moidx commented on #995
Closing as obsolete.

[2022-08-31 14:18] johngt opened #14676 "[test-triage] chip_tap_straps_prod"
### Hierarchy of regression failure

Chip Level

### Failure Description

Offending '(dft_jtag_i == '0)' has 1 failures:

Test chip_tap_straps_prod has 1 failures.
4.chip_tap_straps_prod.3522213289
Line 4817, in log /container/opentitan-public/scratch/os_regression/chip_earlgrey_asic-sim-vcs/4.chip_tap_straps_prod/latest/run.log

      Offending '(dft_jtag_i == '0)'
  UVM_ERROR @ 3571.770040 us: (

[2022-08-31 14:19] moidx commented on #4201
Closing as obsolete.

[2022-08-31 14:19] #4201 closed

[2022-08-31 14:20] johngt commented on #14676
Assigning to @engdoreis to take a first look into this.

[2022-08-31 14:21] moidx commented on #3682
Closing as obsolete as we have now moved to a new bootstrap protocol

[2022-08-31 14:21] #3682 closed

[2022-08-31 14:21] alphan commented on #11946
I don't think so. I checked the log [here](https://dev.azure.com/lowrisc/4c50229e-f6cb-4f39-8522-585bb3841438/_apis/build/builds/92428/logs/132) and couldn't find any related lines.

[2022-08-31 14:21] #11946 closed

[2022-08-31 14:23] moidx commented on #4056
Closing as obsolete.

[2022-08-31 14:24] johngt opened #14678 "[test-triage] chip_sw_ast_clk_outputs"
### Hierarchy of regression failure

Chip Level

### Failure Description

UVM_ERROR @ * us: (prim_reg_cdc_arb.sv:248) [ASSERT FAILED] ReqTimeout_A has 1 failures:

Test chip_sw_ast_clk_outputs has 1 failures.
0.chip_sw_ast_clk_outputs.3259829201
Line 563, in log /container/opentitan-public/scratch/os_regression/chip_earlgrey_asic-sim-vcs/0.chip_sw_ast_clk_outputs/latest/run.log

  UVM_ERROR @ 8237

[2022-08-31 14:24] moidx commented on #3182
Closing as obsolete.

[2022-08-31 14:24] #3182 closed

[2022-08-31 14:25] GregAC commented on #2817
As I understand it the compliance test was never properly supported and has been removed/deprecated in later versions of OpenOCD. So we can close this.

[2022-08-31 14:28] alphan commented on #14668
Yeah, we encountered a similar issue when were using meson (all unittests skipped 💯 ) and an AI was to add some sort of a test, like a meta-check that checks the check, for this step to make sure we don't run into this again. We can consider moving all code to some shell script to keep the job definition minimal and somehow test that script.

[2022-08-31 14:29] johngt commented on #14678
Assigning to @engdoreis
New issue that occurred over night.

[2022-08-31 14:37] johngt opened #14679 "[test-triage] rom_e2e_bootup_success"
### Hierarchy of regression failure

Chip Level

### Failure Description

Job chip_earlgrey_asic-sim-vcs_run_default killed due to: Exit reason: User job exceeded runlimit: User job timed out has 2 failures:

Test rom_e2e_bootup_success has 1 failures.

0.rom_e2e_bootup_success.4002847607
Log /container/opentitan-public/scratch/os_regression/chip_earlgrey_asic-sim-vcs/0.rom_e2e_bootup_success/late

[2022-08-31 14:38] johngt commented on #14679
Assigning @engdoreis
Looks like a timeout issue.
Need to test locally and see if there is still an issue. Then consider increasing timeout length.
Status: Observe/track over the next couple of days

[2022-08-31 14:40] alphan commented on #14668
Also, the real solution to this problem would me coverage measurement and checks, but that work is still in progress.

[2022-08-31 15:20] alphan commented on #11678
I'm not sure how smart those uvm functions can be but if they can send a few bytes before each chunk, we can use the signed flash binaries as is since frames don't have a digest anymore.

[2022-08-31 15:28] a-will commented on #4056
Not obsolete, actually. Sorry I didn't notice this was assigned to me.

[2022-08-31 15:41] alphan commented on #14450
Added in #13998

[2022-08-31 15:41] #14450 closed

[2022-08-31 15:43] alphan commented on #14451
Added in #13998.

[2022-08-31 15:43] alphan commented on #14456
Added in #13998

[2022-08-31 15:44] alphan commented on #14457
Added in #13998, we may want to update the sfdp parser ([comment](https://github.com/lowRISC/opentitan/pull/13998#discussion_r956172691))

[2022-08-31 15:44] moidx commented on #2817
Thanks @GregAC! Marking as not planned.

[2022-08-31 15:53] alphan commented on #14454
Covered by #14450 which was added in #13998.

[2022-08-31 15:53] #14454 closed

[2022-08-31 16:05] a-will commented on #4056
It looks like there is more to do here than initially expected. The lock code is from back when regwen was rw1c, but it's now rw0c. There might need to be an audit for other such changes.

[2022-08-31 16:36] timothytrippel commented on #11678
Good idea @alphan, let me check with the DV folks, doing as you say would certainly simplify things on the Bazel/opentitantool front.

[2022-08-31 16:45] timothytrippel commented on #14330
SG, reassigning to myself / @arunthomas for now.

[2022-08-31 17:48] timothytrippel commented on #11678
reassigning to @a-will as he is working on top-level test that will use the bootstrap path in DV

[2022-08-31 17:48] timothytrippel commented on #14634
CC: @a-will

[2022-08-31 18:55] alphan opened #14686 "[opentitantool] Implement fpga reset command for CW310"
For reference:
* [Notes on CW310 PLL config](https://docs.google.com/document/d/1CSbwGzuCb_pRCIOh__6Hac7p0iVSaG-Vadd0H8cmrRM/edit#heading=h.l2ztj9bgn7wc)
* [PR that adds the set-pll command](https://github.com/lowRISC/opentitan/pull/12870)

@cfrantz @arunthomas

[2022-08-31 19:50] moidx commented on #7143
Sounds good, thanks @sriyerg

[2022-08-31 19:59] weicaiyang commented on #14144
@a-will I forgot to mention that we need to configure the SPI agent, otherwise, it can't recognize the opcode.

We need to do following configuration before sending any flash sequence.
[code]

[2022-08-31 20:13] #14502 closed

[2022-08-31 21:05] msfschaffner opened #14688 "[dv] Create separate core file for DUT hiearchy include files"
We currently define hierarchy paths using SV macros at the chip and block-level. Ideally, the block-level include files should be reusable in the chip-level environment.

However, due to the way the dependencies are currently structured in our fusesoc build flow, the block-level include files are compiled before the chip-level include files. Therefore, the chip-level paths are not yet defined when

[2022-08-31 21:06] msfschaffner commented on #14688
CC @sriyerg

[2022-08-31 21:28] #14170 closed

[2022-08-31 21:34] msfschaffner commented on #10412
Let's tag this as a future improvement for now. I don't think this is urgent.

[2022-08-31 23:09] matutem opened #14692 "[test-triage] shadowed CSR cannot drop either write"
### Hierarchy of regression failure

Block level

### Failure Description

In clkmgr we infrequently see shadowed update recoverable errors. This was traced to a prior update to this shadowed CSR, where one of the writes didn't get a_ready, so it simply didn't complete.

### Steps to Reproduce

./util/dvsim/dvsim.py hw/ip/clkmgr/dv/clkmgr_sim_cfg.hjson -i clkmgr_csr_rw -s 2632315038

### Tests wit

[2022-08-31 23:16] matutem opened #14693 "[dv,cdc] Add random phase delay in clock dividers"
In order to trigger more interesting CDC cases we would want to avoid clocks at fixed phase relations. Specifically, the divided clocks generated by clkmgr are always locked, meaning a transition on a div4 clock always happens on a transition of both div2 and non-div clocks.

Adding a random phase delay means a small CDC delay can probabilistically result in more interesting behavior.

[2022-08-31 23:26] #14324 closed

[2022-09-01 00:11] sriyerg commented on #14688
Discussed in the weekly meeting. We will first try to avoid referencing full hierarchical paths to internal modules in reusable code (which are SVAs at the moment). We will instead fix the SVAs in the following ways:
1. Always bind SVAs to modules never to specific instances
2. If ALL assertions require signals to be referenced from the same internal RTL module FOO, Put those assertions in a separ

[2022-09-01 00:33] felixmiller commented on #4004
Yes, this can be closed.

[2022-09-01 00:33] #4004 closed

[2022-09-01 00:43] milesdai opened #14695 "[ci] Ubuntu version mismatch between machines causes false cache hits"
The recent bump to Ubuntu 20.04 in #14432 caused a version mismatch in glibc (among probably many other things) between the Azure runners and the self-hosted runners. The remote cache is not able to differentiate builds between these two platforms, leading to cache hits where there should not be. This is leading to our self-hosted runners (using Ubuntu 18.04) pulling cached artifacts that were bui

[2022-09-01 00:44] milesdai commented on #14695
Example output from a failing ROM E2E Test:
[code]

[2022-09-01 05:41] matutem commented on #14307
Well, this is a bit subtle since there is no simple way to globally disable a subset of assertions in a module. We are discussing some alternative mechanisms. It is better to close this and track the solution in separate issues.

[2022-09-01 05:41] #14307 closed

[2022-09-01 05:43] matutem commented on #14614
Closed by https://github.com/lowRISC/opentitan/pull/14615.

[2022-09-01 05:43] #14614 closed

[2022-09-01 05:51] matutem opened #14700 "[dv/prim] Fix prim_clock_meas to improve coverage"
There are a couple conditions that cause low coverage for this module and drags the full clkmgr coverage down.

- In the code for setting cnt_ref (line156) cnt_ref is always 0. It is possible to specialize the code for RefCnt == 1?
- In the code incrementing cnt (line 170) the term "cnt_en" in "end else if (cnt_en && cnt_ovfl) begin" is unnecessary.

[2022-09-01 08:22] #13909 closed

[2022-09-01 08:25] marnovandermaas commented on #11794
I pulled in the new changes by the PRs that I mention above. This required updates to the patches I made earlier. I also found a way to change the output directory to use the dvsim scratch directory instead of the out directory in ibex.

[2022-09-01 08:28] marnovandermaas commented on #11794
The current plan is to stop calling the Ibex DV makefile, but use the scripts located in: https://github.com/lowRISC/opentitan/tree/master/hw/vendor/lowrisc_ibex/dv/uvm/core_ibex/scripts
These steps need to be done in: https://github.com/marnovandermaas/opentitan/blob/ibex_dvsim/util/dvsim/CosimCfg.py

[2022-09-01 08:58] #14458 closed

[2022-09-01 10:27] engdoreis commented on #14551
I tested again with the HEAD of master and the test passed with the following command:
[code]
I didn't go dip to discover which commit fixed it. But I beleive it was one of Greg's commits.
@johngt should we close this issue?

[2022-09-01 10:33] vogelpi commented on #12323
The first point (prim_edn_req) is not critical. It would allow to align the RTL with other entropy consumers somehwat. But this can be deferred.

The second point (reseed entire PRNG on demand) is not critical as well IMO. If software wants to perform a complete reseed meaning all cascaded LFSRs, it can do so by triggering five subsequent reseeds. So I think it's also not urgent unless @eunchan, @

[2022-09-01 12:00] engdoreis commented on #14654
I tested again with the HEAD of master and the test passed.

@johngt should we close this issue?

[2022-09-01 12:39] alphan commented on #14038
Hi Chris, just wanted to follow up to make sure that you received my email and the doc. PLMK if you have any questions.

[2022-09-01 14:00] johngt commented on #14551
Thanks @engdoreis - yes this looks like this was resolved after https://reports.opentitan.org/hw/top_earlgrey/dv/2022.08.15_16.33.18/results.html
That was the last failed result and since then it has been passing on the nightlies. Closing out as this error no longer applies.

[2022-09-01 14:10] alphan commented on #14496
related: #14500

[2022-09-01 15:22] johngt commented on #14654
It looks like this is a CI timeout issue.
@engdoreis tried this locally on his machine and it is passing.
Going to see if the test fails again tomorrow and then alter the test with an increased timeout.

Note to self: run_timeout_mins: 120
in chip_jtag_mem_access of hw/top_earlgrey/dv/chip_sim_cfg.hjson

[2022-09-01 15:35] johngt commented on #14678
Passed the Wednesday August 31 2022 07:05:26 UTC nightly
Will check status tomorrow to see if the issue recurs.

[2022-09-01 15:38] #13641 closed

[2022-09-01 16:00] tjaychen commented on #14551
wait, i don't think we should just okay this because it was passing in nightly.  Please see my comment above, this will fail again if we don't think about how to address it.  It's more or less just a matter of probability.

[2022-09-01 16:25] milesdai opened #14706 "[ci] Consider enabling Bazel's low-memory mode in CI"
Bazel has some [flags](https://bazel.build/configure/memory) that reduce its RAM usage at the cost of slower incremental builds. Given that all the CI builds are done in ephemeral machines or containers, there is no need to store incremental results (such as the analysis cache) if there is only a single bazel invocation being done within a job. This will free up more memory for the execution phase

[2022-09-01 16:50] tjaychen commented on #14542
There are two action items from the discussion

- [ ] Investigate the hardware path. How hard / possible is it to mubify the control path from edn all the way into csrng. Need to make sure we consider everything on the datapath
- [ ] If the above is not feasible, investigate how we should add a status register to capture the variables involved during instantiation. That status itself needs to be s

[2022-09-01 17:14] #14692 closed

[2022-09-01 17:33] alphan opened #14707 "[sw/silicon_creator] Review ROM stack usage"
See [clang](https://clang.llvm.org/docs/ClangCommandLineReference.html#cmdoption-clang-fstack-usage)'s and [gcc](https://gcc.gnu.org/onlinedocs/gcc/Developer-Options.html#:~:text=of%20individual%20passes.-,%2Dfstack%2Dusage,-Makes%20the%20compiler)'s documentation.

cc @moidx @cfrantz @arunthomas

[2022-09-01 17:45] msfschaffner commented on #14688
@sriyerg should we capture this in the DV style guide and then resolve this issue?

[2022-09-01 17:49] tjaychen commented on #14678
can you guys see if this test shows a similar failure to #14624 ?
Basically @sriyerg discovered that certain modules need to be quiesced prior to the test ending.

[2022-09-01 17:49] tjaychen commented on #14678
If it is indeed like this, the pass / failure will be pretty random night to night.

[2022-09-01 17:58] sriyerg commented on #14678
The `ReqTimeout_A` error occurs because there is activity in the design that needs to be quiesced before the simulation can be quit. We likely need to quiesce several of our tests to ensure this does not show up at all. Otherwise, it will keep showing up intermittently on several tests. One known offender is the AON timer - tests that use it need to completely turn it off - I will work on a PR tha

[2022-09-01 18:10] weicaiyang opened #14708 "[spi_device] Assertion error after tx underflow occurs"
@eunchan

In this test, I do want to test TX underflow and this error happens. Can you check if it's expected?

Waves:

cc: @jeoongp

[2022-09-01 19:35] jdonjdon commented on #14616
I made reproduce pr (https://github.com/lowRISC/opentitan/pull/14712)
This PR has local RTL change you suggested for csr_rd hang. With that, read issue is solved but write still timedout.
You can reproduce csr_wr hang with this PR.

Test description: it issues normal program flash followed by
'.lc_escalate_en = lc_ctrl_pkg::On'
Then issue program flash again and this transaction will hang.

runcmd

[2022-09-01 19:36] jdonjdon commented on #14616
Once resolve this, please check read and write fix both. I will drop RTL change from my side.

[2022-09-01 19:46] eunchan opened #14713 "[kmac] ERR_CODE not cleared"
@ballifatih found that the KMAC IP's `ERR_CODE` is read-only in #14637 . So that the error code cannot be cleared.

The suggestion is either SW writable or `err_processed` may clear the register.

[2022-09-01 19:52] tjaychen commented on #14275
@tjaychen

[2022-09-01 19:55] tjaychen commented on #14500
@tjaychen need to think about whether flash_init is worth doing in DV.

[2022-09-01 19:55] tjaychen commented on #14713
ah that sounds like a good idea.

@cindychip

[2022-09-01 20:07] #14695 closed

[2022-09-01 20:10] ballifatih commented on #14713
I was thinking RO feature of `ERR_CODE` maybe is not the problem here.

An alternative suggestion might be to correctly update the `event_error` so that `entropy_err.valid` changes do trigger an event (in the top-level module `kmac.sv`). If I am not mistaken, the datapath and the FSM parts are correctly implemented for clearing `ERR_CODE`, what is missing is the correct implementation of the enabl

[2022-09-01 20:50] weicaiyang opened #14717 "[spi_device] Add an enable/active CSR"
@eunchan

As @a-will suggested, we could add an enable/active CSR. When it's off, spi_device is in reset state and it stops the cmd parser and passthrough path, so that any incoming SPI transaction will be ignored.
SW can turn it on after finishing the spi_device configuration.

[2022-09-01 22:09] msfschaffner opened #14718 "[doc] Clean up hard-coded intersignal tables in all IP specs"
Docgen is now able to automatically generate description tables for the intersignals specified in the IP Hjson files.
This obviates the need to maintain hardcoded tables for these signals in the IP specs.
We should go through all specs and clean this up.

A similar cleanup should probably be done for the instantiation parameters as well.

CC @tjaychen @moidx @eunchan @vogelpi @GregAC

[2022-09-01 23:44] matutem opened #14724 "[rtl/clkmgr] Make calib_rdy_i mubi4_t"
The clkmgr heavily protects the clock cycle counters since they are a security counter-measure. However, calib_rdy_i can disable all counters and can even re-enable programming since it modifies the control regwen. It seems calib_rdy_i should be mubi encoded for consistency, and some of the calibration logic in the AST may need some protection.

I suppose only calib_rdy_i == MuBi4False should disa

[2022-09-01 23:54] tjaychen commented on #14724
@Jacob-Levy
i believe `calib_rdy` is tied to `ast_init_done`, so we probably need to trail this back to AST, or else ask software to periodically monitor whether the critical signals have been disabled.

[2022-09-02 01:18] hcindyl opened #14728 "Bitstream breakage that breaks the build"
Tested at `4d3449f83a4f8`
[code]

[2022-09-02 01:25] hcindyl commented on #14728
Looks like a bad cache from https://github.com/lowRISC/opentitan/commit/71b430567c3489fff11840071393ad8793ef99d5. @a-will could you please help out?

[2022-09-02 02:02] eunchan commented on #14713
Yep. Clearing the `ERR_CODE` is missing in the design. So, either SW is allowed to clear the logic or `err_processed` to clear the code can be a solution. I think latter is simpler.

[2022-09-02 02:33] #14728 closed

[2022-09-02 08:43] HU90m commented on #14424
The reports are not working again.

Looks to be the same problem again although now [even block specific links](https://github.com/lowRISC/opentitan/issues/14424#issuecomment-1222319024) are not working.

[2022-09-02 09:04] HU90m commented on #14424
Very sorry just re-read the [last comment](https://github.com/lowRISC/opentitan/issues/14424#issuecomment-1228672704). I was trying to use an old link.

[2022-09-02 09:04] #14424 closed

[2022-09-02 09:20] Jacob-Levy commented on #14724
@tjaychen Turning the `ast_init_done_o` to mubi is all what is needed?

@arnonsha @zi-v

[2022-09-02 09:24] engdoreis commented on #14654
It failed in the last execution on the nightly.
I executed it locally and it failed due to timeout, the log shows:
[code]
The last message repeats until the test timeout.

This test is entirely written in system verilog, so I couldn't progress much in the investigation.

[2022-09-02 13:16] iamKarthikBK opened #14734 "Device tests pass one-by-one but not in a batch"
Hi.

I followed the docs. While running the device tests, I encounter the following issue:

[code]

The issue, is that these tests, when run individually, pass successfully.

[code]

Am I right about this, or is something else is happening completely?

[2022-09-02 13:17] iamKarthikBK commented on #14734
FYI, the machine is fresh install of Ubuntu 20.04, being run on QEMU/KVM.
here's my verilator version:

[code]

[2022-09-02 13:30] alphan commented on #14125
I'll assign this test to me. FYI, if we also care about NMI/escalation + retention RAM in addition to main SRAM, this becomes a slightly different test than the current definition of `rom_e2e_ret_ram_init` (#14494) but we should probably extend it to cover that case as well.

[2022-09-02 13:55] matutem opened #14735 "[dv,sensor_ctrl] Fix WE_ONEHOT_ERROR assertion"
The ASSERT_PRIM_REG_WE_ONEHOT_ERROR_TRIGGER_ALERT macro incorrectly uses alert_tx_o[0], which is for recoverable alerts. This causes top-level escalation tests to fail.

[2022-09-02 14:02] ballifatih commented on #14713
How about the other sources of error? For example, if `sha3` core generates an error (`ErrSha3SwControl`), is it possible to clear this error by using `err_processed`?. In the case of `sha3` core, it looks as if `err_processed` is not even used to reset its internal FSM (I'm not sure about this though).

[2022-09-02 14:15] arnonsha commented on #9541
So far I don't think there's a doc describing what needs to be checked, but I believe  @vogelpi idea is the way to go:
_"This check can be based on e.g. FI simulation experiments and/or some analysis scripts.".

Depending on what should be verified, we can think of what is the best way

[2022-09-02 15:18] GregAC commented on #6089
@cindychip any updates on this?

[2022-09-02 15:27] GregAC commented on #1171
We don't feel the need for a specific example for this in OT. However a chip-level test that brings us to U mode and demonstrates use of OT peripherals from U mode may be useful.

[2022-09-02 15:32] GregAC commented on #73
We haven't seen any issues with compiling our DPI C code with a C++ compiler so closing this.

[2022-09-02 15:32] #73 closed

[2022-09-02 15:36] GregAC commented on #13103
@milesdai what's the status here?

[2022-09-02 15:47] GregAC commented on #4743
@a-will any thoughts on this?

[2022-09-02 15:47] milesdai commented on #13103
Sorry, forgot to update this issue. #14550 addresses this problem by adding documentation to the website describing how to reproduce these errors locally. #13115 is not going to be completed since we currently have the functionality to manually load the bitstream and then skip the loading during a test, so it is redundant.

#13070 was supposed to be an attempt to refactor the test-running script t

[2022-09-02 15:55] GregAC commented on #3731
This has been done

[2022-09-02 15:55] #3731 closed

[2022-09-02 15:57] GregAC commented on #3984
No longer relevant

[2022-09-02 15:57] #3984 closed

[2022-09-02 16:00] GregAC commented on #4131
Bazel is now running these in CI

[2022-09-02 16:00] #4131 closed

[2022-09-02 16:02] GregAC commented on #3075
This is likely tracked by other AES DV tracking so closing. Re-open if you feel this isn't the case

[2022-09-02 16:02] #3075 closed

[2022-09-02 16:11] tjaychen commented on #14724
yes i believe so, we'd like to make this signal "as mubi as possible".
Let us know if this is a change you can absorb at this stage.

If not we will probably tag it for future.

[2022-09-02 16:12] tjaychen commented on #14551
thanks @engdoreis i'll have a look.

[2022-09-02 16:13] tjaychen commented on #14125
sounds good. So should we close this one down @alphan ? since it is more or less covered in #14494?

[2022-09-02 16:14] moidx commented on #14734
It seems your environment is still missing some dependencies in the `PATH`.  Can you double check you have your PATH updated to add the additional folders as described in https://docs.opentitan.org/doc/getting_started/? These are easy to miss. We should probably make those steps more clear.

[2022-09-02 16:23] a-will commented on #2598
usbdev works on CW310. Closing as obsolete.

[2022-09-02 16:23] #2598 closed

[2022-09-02 16:29] a-will commented on #4743
The referenced issues are obsolete at this point, but it would definitely be nice to get CW310's USB hooked up in CI. Initially, we would likely reproduce the usbdev_test on FPGA (use the OT USB as a couple UARTs and send / receive data). We'll probably want more coverage at some point, though.

Tests will need the CW310 physically connected, and if the FPGA runner uses containers, we'll need to f

[2022-09-02 16:41] eunchan commented on #14713
I was saying how to clear the `ERR_CODE` not the actual error handling. I agree KMAC does not have concrete error scenarios yet. But eventual goal is `err_processed` being indicator of the error handling completion to HW.

[2022-09-02 16:45] iamKarthikBK commented on #14734
@moidx You were right! I think the *Step 3* in your docs needs to be modified.

It currently says this:

To build device software you need a baremetal RISC-V toolchain. Even if you already have one installed, we recommend using the prebuilt toolchain provided by lowRISC, because it is built with the specific patches and options that OpenTitan needs. You can install the toolchain using the util/get

[2022-09-02 17:03] jdonjdon commented on #14527
@tjaychen Can you update item#4?
Regarding item#3, do you want me to overwrite from TB using defparam?

[2022-09-02 17:21] tjaychen commented on #14527
ah i think if you tried that, our style lint will immediately block you from merging the PR...
if you want, you could try to push a PR that adds a plusarg for that, what do you think? You might see a lot of test fall out once you flip the feature on.

[2022-09-02 17:31] #14735 closed

[2022-09-02 17:45] matutem commented on #6633
I am closing this: it was really meant to flag a VCS bug. It was added to their bug system in May 2021, and it is probably fixed, but we don't use this construct anymore.

[2022-09-02 17:45] #6633 closed

[2022-09-02 17:48] Jacob-Levy commented on #14724
@tjaychen It is a minor change very similar to clk_src_io_48m_o that was change to mubi.

[2022-09-02 17:50] tjaychen commented on #14724
that would be great, if you can manage it, i think @matutem is right, this would be helpful.

[2022-09-02 18:57] sriyerg commented on #14678
This test is likely fixed by https://github.com/lowRISC/opentitan/pull/14742, which turns off the AON timer at the end of the test.

[2022-09-02 20:53] Jacob-Levy commented on #14724
@tjaychen  Can you merge AST] USB Clock Calibrate Test Supports (PR #14618)first...

For the other PRs, I need to work on the AST sources and generate the OS & NTIL code.

[2022-09-02 21:00] timothytrippel commented on #14636
FYI, the empty `.rodata` section was moved to the `ottf_common.ld` linker script as part of #14521.

[2022-09-02 21:14] tjaychen commented on #14724
i finally have some spare cycles today, let me pull this down and verify it
with the test.

On Fri, Sep 2, 2022 at 1:53 PM Jacob ***@***.***> wrote:

[2022-09-02 21:33] jdonjdon commented on #14433
Enabled by #14745

[2022-09-02 21:33] #14433 closed

[2022-09-02 21:37] timothytrippel commented on #14636
Once #14743 merges, we will no longer need the dummy symbol in the `ottf_common.ld` script that creates an empty `.rodata` section, as we will no longer build SW for device that the test does not target. I.e., since the test @alphan added in #14627 only targets Verilator and CW310, the issue will no longer be encountered. However we should probably still keep this issue open, and fix the root caus

[2022-09-02 22:07] timothytrippel opened #14746 "[dv] enable running SRAM injection tests in DV"
ROM E2E tests such as #14484 and #14486, require injecting programs in SRAM over JTAG. While we have support for such on the FPGA, using OpenOCD + some GDB scripting, we need to add support for running such tests in DV (to address #14634). Specifically, we need to investigate how to generate the proper JTAG transactions to inject a program in SRAM in DV.

CC: @sriyerg @dmcardle

[2022-09-02 22:17] Jacob-Levy commented on #14724
Thanks!

[2022-09-02 22:31] tjaychen commented on #14724
@Jacob-Levy i'm trying it now, and immediately running into an assertion error inside usb_osc, do you expect that?
I'm looking into it more, but it's strange to me that in the same cycle busy immediately goes high, so that immediately fails the assertion on the next cycle.

![image](https://user-images.githubusercontent.com/1026250/188242688-1b4cfd1b-501f-42be-9ef8-b5b297eaf6d6.png)

[2022-09-02 23:34] tjaychen commented on #14724
ugh...it's these stupid simulator "hold-time" issues where they think the 'd' is launched slightly earlier, so you end up in a situation where both d/q transition on the same cycle
@sriyerg @matutem you guys have any thoughts on how to resolve this? Other than bringing in AEs?

In this case the usb reference pulse uses a slightly different cg tree than the interface, but they're supposed to still

[2022-09-03 00:13] sriyerg commented on #14746
Does OpenOCD use the SBA to get to SRAM, or some other way?

[2022-09-03 00:29] tjaychen commented on #14746
I think it's going to have to be the path directly to the core.. otherwise we wouldn't be able to do things like set breakpoints or jump the PC

[2022-09-03 00:59] msfschaffner commented on #14673
I'll take a look at this.

[2022-09-03 01:07] tjaychen commented on #14673
thanks @msfschaffner

[2022-09-03 01:29] Jacob-Levy commented on #14724
@tjaychen In my simulations the asert does not fire... the ref_pulse and the ref_val are assumed as asyncronus to the oscilator clock. I assume that they are driven by the clk_ast_usb_i hence the use of ast_pulse_sync.sv use to the oscillator clock.

[2022-09-03 05:58] #14616 closed

[2022-09-03 05:58] #14700 closed

[2022-09-03 14:14] johngt opened #14754 "[CI] Spec up Jake replacement"
[2407763.pdf](https://github.com/lowRISC/lowrisc-cii/files/9402083/2407763.pdf)
AMD Ryzen Threadripper PRO 5965WX 24 Core CPU ( 4.5GHz, 140MB CACHE)
ASUS® Pro WS WRX80E-SAGE SE WIFI (Intel dual 10 G LAN, USB 3.2 Gen 2x2 Type-C port, SLI)
128GB Kingston DDR4 3200MHz ECC Registered (4 x 32GB)
4GB AMD RADEONTM RX 6500 XT - HDMI, DP - DX® 12
1TB SAMSUNG 970 EVO PLUS M.2, PCIe NVMe (up to 3500MB/R, 330

[2022-09-03 14:15] #14754 closed

[2022-09-03 14:16] johngt opened #14755 "[CI] Build Jake replacement system"
Prepare physical system from components.

[2022-09-03 14:17] johngt commented on #14755
System was built on 31 Aug

[2022-09-03 14:17] #14755 closed

[2022-09-03 14:18] johngt opened #14756 "[CI] Provision Ubuntu 20.04 on Jake replacement"
Ubuntu Desktop 20.04 Setup on Jake replacement system.
Known as Frank

[2022-09-03 14:19] johngt commented on #14756
Ubuntu provisioned on 1 Sept

[2022-09-03 14:19] #14756 closed

[2022-09-03 14:20] johngt opened #14757 "[CI] Jake replacement known as Frank installed in data room"
FPGA runner system known as Frank, replacement to Jake moved into lowRISC infrastructure.

[2022-09-03 15:07] johngt commented on #14757
Installed in Cambridge infra on 2 August

[2022-09-03 15:07] #14757 closed

[2022-09-03 15:08] johngt opened #14758 "[CI] Get Frank working with Azure pipelines"
Get Jake replacement, Frank, FPGA runner working with CI build system.

[2022-09-03 15:10] johngt commented on #14758
@GregAC has managed to configure Frank to work with Azure pipelines. Currently not in the full FPGA pool, but residing in FPGA2.

[2022-09-03 15:10] #14758 closed

[2022-09-03 15:13] johngt opened #14759 "[CI] Increase CI runner instances SSD sizes"
Per Miles request;
Increase storage of ci-public machines to 300 GB and the ci-eda machines to 200 GB

[2022-09-03 15:13] johngt commented on #14759
Sizes were increased on 2 September to try and help with IO throttling issue.

[2022-09-03 15:13] #14759 closed

[2022-09-03 15:14] johngt opened #14760 "[CI] Change type of storage for CI runners to SSD"
Change the storage type of CI runners to SSD to try and improve IO throttling

[2022-09-03 15:16] johngt commented on #14760
Completed on 1st September.
Storage type changed to SSD regional.

[2022-09-03 15:16] #14760 closed

[2022-09-03 15:17] johngt opened #14761 "[CI] Attach JTAG cable to FPGA runner on Frank"
Attach JTAG cable to Frank.

https://www.digikey.co.uk/en/products/detail/olimex-ltd/ARM-USB-TINY-H/3471388
ARM-USB-TINY-H connected to ChipWhisperer Connector port on corner of board.

Connected via USB cable - https://www.digikey.co.uk/en/products/detail/qualtek/3021007-06/1531291
to Frank.

[2022-09-03 15:20] johngt commented on #14761
JTAG cable connected on Frank on 2 September.

[2022-09-03 15:20] #14761 closed

[2022-09-03 15:33] johngt opened #14762 "[CI] Attach JTAG cable to FPGA runners"
Attach a JTAG cable to Jake temporarily until Jake is deprecated.

[2022-09-03 15:35] johngt commented on #14762
Waiting on additional JTAG cable to arrive

[2022-09-03 15:37] johngt commented on #14551
Unassigning from lowRISC / myself as our on-call has ended. @tjaychen may want to revisit @engdoreis proposed PR.

[2022-09-03 15:39] johngt commented on #14654
@engdoreis for the next on-call let's see if we can get @abdullahvarici or @hcallahan-lowrisc involved with looking through the UVM traces. Unassigning for now though.

[2022-09-03 16:24] #13438 closed

[2022-09-03 16:30] msfschaffner commented on #5297
This has now been implemented - closing.

[2022-09-03 16:30] #5297 closed

[2022-09-04 14:40] jdonjdon commented on #14527
item1:  #14641
item2:  #14672
item3:  #14745
item5:  #14641
item6: #14740

[2022-09-05 07:24] iamKarthikBK opened #14764 "Verilator lint warnings/errors result in build failure"
Hi.

I am using verilator version

[code]

and I get the following error while running some of the tests:

[code]

However, I do not see this error while using the docker container provided in the repo.
Could someone point me to what may be going wrong in my setup/env ?

Thanks in advance.

[2022-09-05 16:39] GregAC commented on #11539
@prajwalaputtappa ECC checks are performed on:

- The base register file (within `otbn_rf_base.sv`)
- The bignum register file (within `otbn_rf_bignum.sv`)
- MOD ISPR (within `otbn_alu_bignum.sv`)
- ACC ISPR (within `otbn_mac_bignum.sv`)
- Addresses in the loop stack (top address checked, in `otbn_loop_controller.sv`)
- Fetch instruction (`insn_fetch_resp_data_intg_q` within `otbn_instruction_fetc

[2022-09-05 16:40] martin-lueker opened #14767 "[sw] Bazel: Move default `--output_base` to within OpenTitan Repo"
Bazel by default is putting in `$HOME/.cache`.  For some users the `$HOME` directory has fairly restrictive quotas.  (For instance our job-queuing system rejects all jobs launched in the `$HOME` filesystem).  The `--output_base` option to bazel can be used to fix this, and select something like `$OT_ROOT/bazel-build`, which I see is already in the `.gitignore` file.

We can in principle request us

[2022-09-05 17:08] martin-lueker opened #14768 "[bazel] Handle site-specific environments through env"
Due to the multi-tenant nature of our development system almost nothing we use is installed in the default directory.   Our `PATH`, `LD_LIBRARY_PATH` and `PKG_CONFIG_PATH` environments consist of long strings of site-specific paths holding everything.  We have environment module tools in place to quickly switch from one project to another, and we generally try to do everything through environment

[2022-09-05 17:28] martin-lueker opened #14769 "[bazel] Support for non-standard location of `srec_cat`"
In `sw/rules/opentitan.bzl` it seems that `srec_cat` is invoked directly without checking where it may be in the PATH.   This is not working when this application is in not in some standard path location.   Is there any way in bazel to search the user's PATH to find the correct location?  Passing `PATH` to bazel via the `--action_env` option does not fix this problem (nevermind that this is probab

[2022-09-05 18:52] a-will commented on #14768
For a slightly different approach, would an `OPENTITAN_USER_BAZELRC_PATH` work? Then, when it's defined, we can pass in a user-defined bazelrc arg in bazelisk.sh, and all the bazelrc flexibility exists for site-specific configuration.

[2022-09-05 18:55] martin-lueker commented on #14768
Hi Alex,
   As I was reading more about the documentation was just thinking something similar.  Another approach could be to have something like `try-import .bazelrc-site` in `.bazelrc`.  I'm giving that a try right now actually.   If that works then this would close both #14767 and #14768 for us.

[2022-09-05 18:59] martin-lueker commented on #14768
Having a `.bazelrc-site` located in the repo, would work pretty well in our environment as we are already tracking the repo and so we could just make a common file that our environment script drops into the repo.   Would this be okay for the rest of the team?

[2022-09-05 19:01] martin-lueker commented on #14768
Though I can see how having it completely outside the repo and pointed to by an environment variable would also be cleaner, as there may be less possibility for confusion & cross-site contamination

[2022-09-05 19:16] a-will commented on #14768
I think both approaches work fine. They are described in https://github.com/bazelbuild/bazel/issues/10904#issuecomment-818717854 . You can see there is quite a discussion there around a similar request, heh.

Compared to the wrapper script with the environment variable, the advantage of `try-import` is that you can potentially use the `bazel` executable directly on the command line, which is nice

[2022-09-05 19:23] martin-lueker commented on #14768
Hey neat!  I knew this was probably discussed somewhere, but I just didn't go back far enough.  This is good stuff.  Thanks for the pointer.

[2022-09-06 04:13] cindychip commented on #14713
Thanks for filing this issue! Sorry I am late to the discussion.
Just so I can catch up - I guess the current design will do the following if an error happened:
1). Trigger an error interrupt.
2). Update err_code.
But the issue here is that when next operation does not have an error, the err_code still shows the previous error code.

If that is the case, I have two questions:
1). Do you think it i

[2022-09-06 04:15] cindychip commented on #13366
Thanks Michael for pinging me about this issue, I still see some regression failures after the PR merged. I think it might be some DV enhancement. I will take a closer look asap and let you know!

[2022-09-06 08:50] johngt opened #14773 "[ci] Rename chip-level tests to top-level tests"
There has been a request to change the naming of chip-level tests to top-level tests. This was mentioned at one of the meetings during the week of September 6, but I cannot see any WG minutes with it captured, so it may have been in passing.

There are a number of changes needed as there are references in many places.
Those that come to mind are:
- [ ] Reports at https://reports.opentitan.org/hw/t

[2022-09-06 08:52] johngt commented on #14773
Could those that have access/permissions to make the changes could start changing and then commenting here as changes are made. Please feel free to add other checkbox items as they are identified.

[2022-09-06 09:15] ballifatih commented on #14713
1. I guess it is also possible to use the interrupts to determine whether the operation completed without an error. And if we choose to leave the implementation intact and update the documentation, then `ERR_CODE` refers to the error code of the last error event. So, it will be updated from one error to another, instead of being updated for every KMAC call.
On the other hand, from the driver imple

[2022-09-06 10:44] engdoreis commented on #13225
I can not find the test in the testplan anymore, should we close this issue?

[2022-09-06 14:41] alphan commented on #14125
SGTM @tjaychen! Closing since this will be covered in #14494.

[2022-09-06 14:41] #14125 closed

[2022-09-06 14:56] dmcardle commented on #14767
IIUC, the suggestion is to move Bazel output directories to a subdirectory of the checkout path. Off the top of my head, I have a couple questions:

* Do any CI runners currently benefit from persistent Bazel build directories? If they delete and re-clone the repo, they would now be throwing away build directories and increasing build times. (I suspect they start from scratch, so this is a non-iss

[2022-09-06 15:04] martin-lueker commented on #14767
Hi Dan,
   Thanks for your comments!  My bad about `$REPO_TOP` vs. `$OT_ROOT` (we have a local convention of using $XYZ_ROOT ) for each project.)
   Right now it looks like the easiest way to handle this may be to adopt @a-will's suggestion in #14768 of just having a secondary bazelrc file (e.g. something like .bazelrc-site) that does not go into git, but allows each site to add their own policies

[2022-09-06 16:01] #14165 closed

[2022-09-06 16:01] #14167 closed

[2022-09-06 16:31] tjaychen commented on #13225
yeah i believe this test is being moved to the [connectivity testplan](https://github.com/lowRISC/opentitan/blob/7e957e13d1c1829545b5646af9b1c4a2b8146725/hw/top_earlgrey/data/chip_conn_testplan.hjson#L588).

So it does still need to be implemented.

[2022-09-06 16:38] #2433 closed

[2022-09-06 16:39] #2741 closed

[2022-09-06 16:40] moidx commented on #3275
Hi @cindychip is this issue still relevant? Thanks

[2022-09-06 16:44] #3316 closed

[2022-09-06 16:45] moidx commented on #3316
Closing as stale. Please re-open if this question is still relevant with the current hw/sw implementation.

[2022-09-06 17:05] tjaychen commented on #14667
for now, i'm going to change this so that the software functions have to set a minimum value of 1.  A 0 value doesn't seem to make sense for certain parameters.

[2022-09-06 17:10] #14470 closed

[2022-09-06 18:30] timothytrippel commented on #14769
This should be fixable by bringing the `srec_cat` tool under bazel management.

[2022-09-06 18:43] milesdai commented on #13115
The online docs now describe a process to [manually load a bitstream](https://docs.opentitan.org/doc/getting_started/setup_fpga/#reproducing-fpga-ci-failures-locally) onto the FPGA using opentitantool, so we no longer need this functionality.

[2022-09-06 18:43] #13115 closed

[2022-09-06 18:48] msfschaffner opened #14780 "[chip-test] chip_sw_pwrmgr_main_power_glitch_reset extension"
### Test point name

[chip_sw_pwrmgr_main_power_glitch_reset](https://github.com/lowRISC/opentitan/blob/620c8c0c07dc0ab05448c0e1ad707d82072f58da/hw/top_earlgrey/data/chip_testplan.hjson#L1035)

Add SVAs in order to check that:
- Check that the clock valids are deasserted if a power glitch is detected.
- clocks are stopped if their valid is deasserted
The assertions in the second bulled point above

[2022-09-06 18:50] msfschaffner opened #14781 "[chip-test] Add connectivity tests for AST signals"
### Test point name

TBD. Note that this is an FPV connectivity test.

### Host side component

_No response_

### OpenTitanTool infrastructure implemented

_No response_

### Contact person

@tjaychen @msfschaffner

### Checklist

Please fill out this checklist as items are completed. Link to PRs and issues as appropriate.
- [x] Check if existing test covers most or all of this testpoint (if so,

[2022-09-06 19:00] timothytrippel commented on #14769
Admittedly this might be easier said than done as we would be making assumptions about your system to do so, or building the tool from source after having Bazel pull it down, which might have a significant impact on overall build times.

@martin-lueker  To help me better understand what is not working here, can you share the env vars you plan on passing with `--action_env` using the site-specific

[2022-09-06 19:03] msfschaffner commented on #14493
Test plan is updated in #14779 to capture more details RE the ast_init_done indication and life cycle states.

[2022-09-06 19:03] eunchan commented on #14160
PR has been updated. The test is ready to be merged. However https://github.com/lowRISC/opentitan/pull/14776 needs to be merged then this PR needs revision based on that. I will hold the PR open until the thing is sorted out.

[2022-09-06 19:04] msfschaffner opened #14782 "[chip-test] chip_sw_clkmgr_extended_range"
### Test point name

[chip_sw_clkmgr_extended_range](https://github.com/lowRISC/opentitan/blob/c1686dfd538165041d727fe1427e139bc20e848c/hw/top_earlgrey/data/chip_testplan.hjson#L867)

Description:
Check that the system can run at a reduced, calibrated clock frequency (70MHz) with jitter enabled (which can momentarily bring it down to ~55 MHz). This option is intended as a fall-back in case there a

[2022-09-06 19:08] milesdai commented on #13070
Closing this in favor of the resolution in #14550. The `run-fpga-cw310-tests.sh` currently just performs some backdoor configuration of the bitstream cache and runs a bazel test command on all FPGA tests. This is unlikely to be useful to someone debugging a particular test. These users should just defer to the instructions in the [online docs](https://docs.opentitan.org/doc/getting_started/setup_f

[2022-09-06 19:08] #13070 closed

[2022-09-06 19:09] eunchan commented on #14713
I suggest to change `valid` to RW1C and other fields remained RO.

[2022-09-06 19:09] #13103 closed

[2022-09-06 19:11] eunchan commented on #14717
related (or duplicated) #14665

[2022-09-06 19:57] Jacob-Levy commented on #14782
@msfschaffner To support 70MHz calibration option for the system clock in OS, a plusargs need to be added to the sys_osc.sv. For the real AST, this will be achieved with register programing.
This option will not work for external clock.

[2022-09-06 20:01] eunchan commented on #14717
CDC may be a concern. EN in CSR needs to be propagated to SPI correctly.

I think more safer approach is to block SPI CLK until configuration is done as suggested in https://github.com/lowRISC/opentitan/pull/9503 .

If not, I don't know how I can hand over the en signal to SPI_CLK domain safely and not lose the first SPI transaction.

CC: @tjaychen @a-will

[2022-09-06 20:03] msfschaffner opened #14783 "[chip-test] chip_sw_sensor_ctrl_ast_alerts extension"
### Test point name

[chip_sw_sensor_ctrl_ast_alerts](https://github.com/lowRISC/opentitan/blob/620c8c0c07dc0ab05448c0e1ad707d82072f58da/hw/top_earlgrey/data/chip_testplan.hjson#L2709)

The current testpoint only covers the alert test interface between `sensor_ctrl` and `AST`. The testpoint should be extended in order to cover the autonomous alert generation functionality of `AST` without involvem

[2022-09-06 20:06] tjaychen commented on #14783
sorry my memory is kind of fading from last week, but what are the extensions needed again?

[2022-09-06 20:08] msfschaffner commented on #14783
Sorry, I filed this accidentally while still editing.
I have added another sentence describing the extension.

[2022-09-06 20:12] Jacob-Levy commented on #14783
@tjaychen Correct!

[2022-09-06 20:12] msfschaffner commented on #14783
Ah then I transcribed this incorrectly - let me update the description.

[2022-09-06 20:21] msfschaffner commented on #14783
Let me put this on the agenda for the meeting as well, since it may make more sense to test this with the real AST.

[2022-09-06 20:25] tjaychen commented on #14783
@msfschaffner yeah i think so too.
Because they may have countermeasures in place that can't be exposed to OS where it makes sense to force, instead of literally the flop lines.

[2022-09-06 20:30] Jacob-Levy commented on #14783
@msfschaffner The ast_alert.sv is shared with the real AST. What is missing from the OS is the actual secure logic that generates the alert. The alert source input it tie to '0' for the OS. As I mentioned, you can force it in the OS on the ast_alert.sv port.

[2022-09-06 20:31] msfschaffner opened #14784 "[chip-test] chip_sw_edn_entropy_reqs jitter extension"
### Test point name

[chip_sw_edn_entropy_reqs](https://github.com/lowRISC/opentitan/blob/d91fcd3dfe38cb80ab94778f1418ffb1e85bd26a/hw/top_earlgrey/data/chip_testplan.hjson#L2068)

The test exists, but a jitter variant of this test should be added to the `chip_sw_clkmgr_jitter` testpoint.

### Host side component

None Required

### OpenTitanTool infrastructure implemented

_No response_

### Conta

[2022-09-06 20:32] tjaychen commented on #14783
@Jacob-Levy let's check with Sha-ron. Because I think she needs to have top level tests that exercise "real" alert generation anyways right?

[2022-09-06 20:36] Jacob-Levy commented on #14783
@tjaychen We already doing that as far as we can from the ast_alert.sv. Some of the countermesurs will only implemented on the final gatelevel...

[2022-09-06 20:44] jeoongp opened #14785 "[PWRMGR|RST domains] ESC domain in the future chip"
escalation modules are currently driven by LC rst/clk. However, we will need to keep ESC domain async from LC domain in the future if a tracking issue occurs as discussed in #13950. Fault status regs will also be moved to ESC domain accordingly.

[2022-09-06 21:23] tjaychen commented on #8700
@alphan can you confirm that this is effectively implemented through `OWNER_SW_CFG_ROM_BOOTSTRAP_EN`?

[2022-09-06 21:30] tjaychen commented on #14783
yeah that's right, my assumption is that @sha-ron will probably want specific tests for that final one?

[2022-09-06 21:36] Jacob-Levy commented on #14783
If you force the source input in your OS test, it can easily fit the real AST by moving the force down the logic to the countermessure, creating the same alert.

[2022-09-06 21:36] eunchan opened #14788 "[test-triage] partner_flash_ctrl"
### Hierarchy of regression failure

Block level

### Failure Description

[code]

### Steps to Reproduce

- Commit hash where failure was observed
  `620c8c0c07dc0ab05448c0e1ad707d82072f58da`
- dvsim invocation command to reproduce the failure, inclusive of build and run seeds:
  `dvsim hw/foundry/ip/flash_ctrl/dv/partner_flash_ctrl_sim_cfg.hjson -i partner_flash_ctrl_init_busy`
- Kokoro build nu

[2022-09-06 21:37] tjaychen commented on #14783
when you say "down" the logic, that means to another forcing point? If that's the case, I think it makes sense to just extend this test in close source.

[2022-09-06 21:41] cindychip opened #14789 "[otp/dv] same csr outstanding sequences need to know RAL name"
Current failure in otp_ctrl_same_csr_outstanding is because we have two RAL interfaces:
prim and core interfaces.

This task here need to input the correct sequencer in order to issue the correct TL transaction.
https://github.com/lowRISC/opentitan/blob/master/hw/dv/sv/cip_lib/seq_lib/cip_base_vseq.sv#L791

[2022-09-06 21:41] cindychip commented on #14789
FYI: @jdonjdon this might affect your flash_ctrl but I will try to fix it asap.

[2022-09-06 21:44] Jacob-Levy commented on #14783
Yes, the purpose of the extend is to choose a new force point, more then one point at time.

[2022-09-06 21:46] alphan commented on #14451
Updated in #14787.

[2022-09-06 21:50] cindychip opened #14790 "[otp/dv] sec_cm can link to more than one alert"
The current sec_cm test assumes all the security counter measures only trigger one alert, but in otp_ctrl, all close source related logic will trigger `fatal_prim_otp_alert` instead of `fatal_check_error`.
Shall we support this infrastructure in DV?

[2022-09-06 21:51] cindychip commented on #13366
The design side is implemented!
The two remaining issues in OTP are DV related issues and tracked here:
https://github.com/lowRISC/opentitan/issues/14789
https://github.com/lowRISC/opentitan/issues/14790

[2022-09-06 21:51] #13366 closed

[2022-09-06 21:54] eunchan commented on #14788
CC: @jdonjdon

Looks like it should use `FLASH_BANK_HIER()` to access.

[2022-09-06 21:54] cindychip commented on #14713
I am happy with this proposal.

[2022-09-06 22:02] jeoongp opened #14791 "[CDC][SPI_DEVICE] W_DATA in spi_cmdparse"
RuleDataId : WDATA 120

Is it OK to use CFG intercept input from IO_DIV4_CLK in SPI clock domain without CDC as follows?
https://github.com/lowRISC/opentitan/blob/master/hw/ip/spi_device/rtl/spi_cmdparse.sv#L327

![Screen Shot 2022-09-06 at 2 59 04 PM](https://user-images.githubusercontent.com/103145460/188748574-d4358588-57a6-47b4-9222-f9b84c81e80f.png)

![Screen Shot 2022-09-06 at 2 59 33 PM](ht

[2022-09-06 22:12] jeoongp opened #14793 "[CDC][SPI_DEVICE] W_DATA in spi_passthrough"
This issue is similar to https://github.com/lowRISC/opentitan/issues/14791.

RuleDataId : WDATA 124

Is it OK to use CFG input from IO_DIV4_CLK in SPI clock domain without CDC as follows?
https://github.com/lowRISC/opentitan/blob/master/hw/ip/spi_device/rtl/spi_passthrough.sv#L404

![Screen Shot 2022-09-06 at 3 11 39 PM](https://user-images.githubusercontent.com/103145460/188749598-9acfcbd7-f8b9-4

[2022-09-06 22:20] msfschaffner commented on #14095
@alphan The SRAM manufacturing test has been added to the testplan, right?

[2022-09-06 23:29] msfschaffner commented on #13366
Cool, thanks for confirming!

[2022-09-07 00:22] alphan commented on #8700
Confirmed

[2022-09-07 00:22] #8700 closed

[2022-09-07 00:25] alphan commented on #14095
Correct

[2022-09-07 01:50] msfschaffner commented on #14369
@tjaychen are there any other pending `sensor_ctrl` changes that should be linked here? otherwise I think we are good to merge https://github.com/lowRISC/opentitan/pull/14725.

[2022-09-07 01:56] tjaychen commented on #14369
so jacob's change on ast_init_done will have a small change on d3.
do you want to wait for that? so that technically we can say no more change after d3?

[2022-09-07 02:42] matutem commented on #14654
This test simply takes too long, performing too many consecutive accesses to different memories. It is also subject to timeouts because the number of accesses is random, so it is difficult to diagnose. It may be better to perform a predictable number of accesses and to randomize the target address.

[2022-09-07 02:57] tjaychen commented on #14654
that sounds good to me. Maybe we could do as you say and increase the number of random seeds per night?

[2022-09-07 05:38] martin-lueker commented on #14769
Hi @timothytrippel, I am currently passing `--action_env=PKG_CONFIG_PATH=/path/to/some:/various/pkg-config/directories`. Coincidentally, these directories hold all of the usb/ftdi libraries that we've needed for building `srec_cat`.   So I think odds are good that if you can add srec_cat to the bazel externals, we may be able to link it.

[2022-09-07 06:03] timothytrippel commented on #14769
Sorry I'm not sure I follow the last bit, are you suggesting we instruct Bazel to pull down the `srec_cat` source code as an external dep and then have Bazel build the `srec_cat` tool from src?

[2022-09-07 06:10] msfschaffner commented on #14369
this is going to be a port change, right?
from a checklist point of view, it is fine to fix bugs after D3 - but port changes for features / enhancements we already know of prior to D3 should probably also be merged before D3.
so I would say let's wait for that one before we move to D3, since it will probably be landing soon.

[2022-09-07 07:29] sha-ron commented on #14783
Yes we will have top level tests that exercise the alert in the secure domain.

[2022-09-07 10:04] engdoreis commented on #12596
Closing as it was addressed by #11761

[2022-09-07 10:04] #12596 closed

[2022-09-07 10:34] semihalf-mazurek-michal commented on #10217
Updated documentation file:
https://docs.google.com/document/d/1n9JcT3VlbeHd0DaCoaKjlDO0RXZkfdqLSy4bYw6-bc8/edit?usp=sharing

[2022-09-07 11:46] iamKarthikBK commented on #14764
Hi.

I have tried with various systems, Ubuntu 18.04, 20.04, and 22.04 as well.
I keep getting these verilator issues. Can someone tell me what I may be doing wrong?

[code]

Here's some versioning information about the toolchain:

[code]

Can someone please point me to what I may be doing wrong with my setup?
Thanks in advance.

[2022-09-07 11:54] engdoreis commented on #13507
Starting to work on this issue.

[2022-09-07 12:28] GregAC commented on #14764
The `bazel test --test_tag_filters=verilator --test_output=streamed //sw/device/tests:uart_smoketest` command is working fine for me.

It may be down to your fusesoc version, my system reports '0.1' for `fusesoc --version`. Note we use a custom fork of fusesoc so if you have a standard install you may have issues. Did you install the python requirements as instructed here: https://docs.opentitan.o

[2022-09-07 12:30] GregAC commented on #14764
Sometimes simply clearing out all the bazel build files and starting afresh can help. You can do this with `bazel clean --expunge`

[2022-09-07 13:27] martin-lueker commented on #14769
Ah, I thought this is what you meant by bringing `srec_cat` under bazel management.  What else did you have in mind?

[2022-09-07 16:02] iamKarthikBK commented on #14764
@GregAC Thanks for your reply.

Yes, I installed the python requirements as instructed [here](https://docs.opentitan.org/doc/getting_started/#step-2-install-package-manager-dependencies). Here's my fusesoc, with ``~/.local/bin`` in my PATH.

[code]

Your [python-requirements.txt](https://github.com/lowRISC/opentitan/blob/master/python-requirements.txt#L46) tells me that the dependency listed is fu

[2022-09-07 16:05] GregAC commented on #14611
We should have brought this up in the silicon meeting, apologies managed to forget about it!

I favour the bad integrity as a host consuming the read data on a write response simply shouldn't happen. If we give it good integrity we might miss this happening and end up with a more mysterious bug further down the line.

Being consistent as @msfschaffner states also seems good.

[2022-09-07 16:35] tjaychen commented on #14793
this is related to #14665

[2022-09-07 16:35] tjaychen commented on #14791
this is related to #14665

[2022-09-07 16:38] tjaychen commented on #14665
ah i like this idea...i think it's better than whatever CSb edge hunting idea I had.
To summarize, would it effectively be that when csb goes low and spi_clock starts, everything behaves "as expected" for a couple of cycles.  On the second cycle, you will have discovered whether things are enabled vs not, and then perhaps cycle things back from there?

[2022-09-07 16:38] tjaychen commented on #14665
@weicaiyang

[2022-09-07 16:45] tjaychen commented on #14665
A number of FSMs and stuff would probably need to be "reset" etc.

[2022-09-07 16:53] msfschaffner commented on #13985
Thanks @Jacob-Levy. We've discussed this in the weekly Nuvoton meeting today.

For the Xcelium warning:
We ran into these as well and think it would be best to just promote the warning to an error.
This would have the least impact on the code base, since only the violating instances would have to be fixed (and we fixed already most of them). The fix is straightforward: either make sure the port ty

[2022-09-07 17:21] dmcardle opened #14805 "Fix typos in documentation (Markdown, code comments, etc.)"
* #14794
* #14802
* #15154

[2022-09-07 17:59] eunchan commented on #14665
Should we assign this to "Future Release"? I don't think we have enough time changing the design and review CDC.

[2022-09-07 18:03] dmcardle commented on #12497
@milesdai, can you help me with the archaeology on this one?

[2022-09-07 18:33] dmcardle opened #14806 "[doc] Replace `find` commands with `./bazelisk.sh outquery`"
* [x] Update `./bazelisk.sh outquery` to hide unnecessary UI output.
  * See @timothytrippel's suggestion in https://github.com/lowRISC/opentitan/pull/14804#discussion_r965141883
* [x] In documentation, replace `find` commands with `./bazelisk.sh outquery`.
  * Codesearch for [`file:md$ \$\(find`](https://cs.opensource.google/search?q=file:md$%20%5C$%5C(find&ss=opentitan ) turns up a handful of in

[2022-09-07 19:10] jon-flatley opened #14808 "[opentitantool] Complete support for OTP essential functionality"
This issue is a migration from #13869 and serves to track the outstanding components needed for bringing OTP image generation support in opentitantool to where it can be used to generate OTP images for testing instead of the existing python tool in `util/design/`. This does not track a number of supplemental features that are planned for the `otp` command in opentitantool, those exist in a separat

[2022-09-07 19:14] alphan opened #14812 "[bazel, ci] Investigate sandboxfs to reduce I/O usage in the CI"
https://bazel.build/docs/sandboxing#sandboxfs

[2022-09-07 19:15] alphan commented on #14812
@milesdai @timothytrippel @GregAC @arunthomas

[2022-09-07 19:53] milesdai commented on #12497
Ah yes, this test written in python that made sure that openocd could connect to the FPGA, and that was about it. Given #14343, when we start running SRAM tests, this will probably be unnecessary since each test will be exercising the openocd connectivity.

[2022-09-07 19:53] msfschaffner commented on #14783
As discussed in the weekly Nuvoton meeting today, we are moving this item to the secure domain testplan.

[2022-09-07 19:53] #14783 closed

[2022-09-07 19:59] msfschaffner opened #14814 "[chip-test] chip_sw_power_max_load"
### Test point name

[chip_sw_power_max_load](https://github.com/lowRISC/opentitan/blob/954f0de3bef19ee3080e9dd71dfc647a9c93c779/hw/top_earlgrey/data/chip_testplan.hjson#L3003)

### Host side component

SystemVerilog+Rust

### OpenTitanTool infrastructure implemented

Unknown

### Contact person

@tjaychen @msf for HW, @timothytrippel @sriyer for DV and concurrency framework

### Checklist

Please

[2022-09-07 20:00] msfschaffner opened #14815 "[chip-test] chip_sw_power_idle_load"
### Test point name

[chip_sw_power_idle_load](https://github.com/lowRISC/opentitan/blob/954f0de3bef19ee3080e9dd71dfc647a9c93c779/hw/top_earlgrey/data/chip_testplan.hjson#L3055)

### Host side component

SystemVerilog+Rust

### OpenTitanTool infrastructure implemented

Unknown

### Contact person

@tjaychen and @msfschaffner for HW, @timothytrippel @sriyerg for DV and concurrency framework

### Ch

[2022-09-07 20:01] msfschaffner opened #14816 "[chip-test] chip_sw_power_sleep_load"
### Test point name

[chip_sw_power_sleep_load](https://github.com/lowRISC/opentitan/blob/954f0de3bef19ee3080e9dd71dfc647a9c93c779/hw/top_earlgrey/data/chip_testplan.hjson#L3087)

### Host side component

SystemVerilog+Rust

### OpenTitanTool infrastructure implemented

Unknown

### Contact person

@TimothyTim @msf for HW, @timothytrippel @sriyer for DV and concurrency framework

### Checklist

Pl

[2022-09-07 20:05] dmcardle commented on #13968
Now that we've merged #14343, the next big step is to use ROM instead of the Test ROM. (I'd also like to set the `pmpcfgx` registers with OpenOCD, without reusing code baked into the ROM, but that's another story.)

After replacing the test ROM with the production ROM, `//sw/device/examples/sram_program:sram_program_fpga_cw310_test` has a hard time resetting and halting the device. It just repeate

[2022-09-07 20:12] dmcardle commented on #12497
Thanks for confirming, Miles! I'll close this as "won't-fix".

[2022-09-07 20:12] #12497 closed

[2022-09-07 20:27] a-will commented on #13968
I suspect you're right that it's the watchdog timer. The ROM initially sets up the watchdog bite for early boot, then disables it for test and rma lc states when it reaches here: https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/rom.c;l=148;drc=f70e784824a22be2c8485153d170940bff152d9b

During that window, halting the CPU with the watchdog bite enabled risks ha

[2022-09-07 20:34] msfschaffner commented on #14472
Closing since all the open-source adjustments are now complete.

[2022-09-07 20:34] #14472 closed

[2022-09-07 20:47] #14724 closed

[2022-09-07 20:49] #14788 closed

[2022-09-07 21:32] #14654 closed

[2022-09-07 21:40] eunchan commented on #14713
#14818 has been created to address this issue.

[2022-09-07 22:17] sriyerg commented on #7445
@weicai, PTAL at this issue to see if it can be closed. Thanks!

[2022-09-07 22:20] eunchan commented on #14655
Dup. of #14200

[2022-09-07 22:20] #14655 closed

[2022-09-07 23:05] msfschaffner commented on #14163
@sriyerg we will have to update this issue once the testplan alignments have been merged.

[2022-09-07 23:29] timothytrippel commented on #10217
Can we close this issue now?

[2022-09-07 23:41] msfschaffner commented on #14369
This can now closed, since the ast_init_done alignment in https://github.com/lowRISC/opentitan/pull/14798 has been merged.

[2022-09-07 23:41] #14369 closed

[2022-09-08 01:59] tjaychen opened #14825 "[i2c/dv] issues with i2c_agent"
This issue attempts to describe all the known issues with the existing `i2c_agent` and how they should be fixed.

The `i2c_monitor` directly interprets the line content and creates response items (acknowledgement, read data) instead of just passively observing the line.
The `i2c_driver`, instead of just receiving data and driving it onto the pins, has a method of directly creating randomized data

[2022-09-08 02:00] tjaychen commented on #14825
@sriyerg
@jdonjdon

let me know if there are others you noticed. I admittedly didn't really look at the scoreboard and focused mostly on the driver / monitor / base_seq

[2022-09-08 03:31] #14806 closed

[2022-09-08 03:58] alphan commented on #13968
`0142500d` is `kErrorBootPolicyBadIdentifier`, which means ROM cannot find the ROM_EXT identifier in either of the slots.

Can you try setting `CREATOR_SW_CFG_ROM_EXEC_EN` to `0`? This should make the ROM halt very early in `rom_start.S`.

[2022-09-08 04:03] alphan commented on #13968
I thought that's the image we normally use in CI. Also, `2739ce73` corresponds to the RMA state (this is the life cycle state value as reported by hardware not the one defined in the life cycle driver) so the bitstream looks OK so far.

[2022-09-08 05:11] tjaychen commented on #14665
we might have to quantify the host impact a bit.
Let me ruminate a bit on this offline, since I probably can't put it all in the open.

[2022-09-08 06:35] timothytrippel commented on #14769
No worries at all! Sorry I wasn't very clear above.

There were two meanings to "bring this under bazel management" that I was thinking of (the second is the one you pointed out) I just was confused when you said "we may be able to link it":

1. If the dependency is pre-built, as is the case with lowRISC toolchain, then bazel can simply download and unpack the tarball, which looks like [what we do

[2022-09-08 08:39] #14551 closed

[2022-09-08 09:31] engdoreis commented on #14713
The DIF should be updated, right? Can we keep the issue opened until we update the kmac DIF?

[2022-09-08 09:45] #13185 closed

[2022-09-08 11:55] alphan opened #14828 "[test] flash_ctrl_testutils_increment_counter performs multiple writes to the same address"
_Noticed while working on #14503_

@tjaychen, as you may also remember, we discussed this earlier in the context of invalidating previously written `boot_data` entries in info pages (#9729). IIRC writing to the same address multiple times without erasing first doesn't work if ecc or scrambling is enabled, and is not recommended otherwise.

Please review and update the assignees and labels, thanks!

[2022-09-08 13:17] bilgiday commented on #14542
@johannheyszl and I are wondering if we can use some of the reserved bits [31:25] in the CSRNG command header to implement a hardware/firmware detection mechanism. The main idea is as follows:

-  Use some of the reserved bits to store redundant information for the `flag0` bit.

- The redundancy mechanism can be  triple-modular redundancy, multi-bit encoding, differential encoding, or a checksum o

[2022-09-08 13:47] mwbranstad commented on #14542
We talked about this topic at the last OT security meeting. I looked that the RTL for CSRNG and saw that flag0 was a single bit in the command, but once processed, it was converted into a mubi4 value. Hardware-wise, it would be easiest to convert the flag0 single bit in the command into a mubi4, and then simply assign it to the flopped version within CSRNG as is. Currently there are no alerts assi

[2022-09-08 13:53] johannheyszl commented on #14542
thx, the idea is to not change EDN and use RFU bits in the command for redundancy that are pass through for EDN.
IMHO this would be a fatal alert.

[2022-09-08 15:56] tjaychen commented on #14828
@jdonjdon
yes that is right, if `ecc` or `scrambled` are enabled, writing to the same address does not work.
With just ecc enabled, we can "technically" write 0 to the same location again, but that's about it.

The purpose of the `flash_ctrl_testutils_increment` though, was to create a bit-strike counter that DV can use for non-volatile tracking across escalation resets (because everything else is

[2022-09-08 16:30] #14032 closed

[2022-09-08 16:47] #14467 closed

[2022-09-08 17:08] tjaychen commented on #14828
i should add that the DV usage of this assumes that the region in question has neither ecc nor scramble enabled.
So we probably actually need to align this with what mask_rom does, otherwise these tests are not going to work in silicon.

[2022-09-08 17:23] eunchan opened #14831 "[spi_device] Remove filter CSR"
As passthrough logic filters incoming commands if they are not in the command information entries, filtering CSR usage is low. We could introduce the `filter` field in the CMD_INFO structure if a command needs to be processed internally but filtered in passthrough.

This way we can reduce 256bit CSR into 24 (# of CMD_INFO entries) bit.

[2022-09-08 17:26] dmcardle commented on #13968
Thanks for the context on the watchdog timer, @a-will!

@alphan, how do you know that 0142500d is `kErrorBootPolicyBadIdentifier`? Also, where the "BFV" line printed? I only got as far as finding [where the "ROM" line is printed](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/lib/arch/device_fpga_cw310.c;l=52;drc=776d2abdfa22b2df0de8d70dadc1962811b9b301).

Should I be flashing

[2022-09-08 17:27] ballifatih commented on #14713
Once #14818 is merged, I can also update the DIF accordingly. In #14123, I also need to implement some KMAC DIF changes anyway.

[2022-09-08 18:02] cindychip opened #14832 "[kmac] entropy refresh"
Hello everyone,

I discussed with @eunchan offline about the entropy refresh and would like to get your opinions.

The current design will re-request an entropy when the entropy_cnt reaches a register-configurable threshold.
But in terms of what counts for an entropy_cnt, currently we increment the entropy_cnt when the operation consumes secret key.

However, there are two ways that entropy is con

[2022-09-08 18:04] cindychip commented on #10966
Done in RPs:
https://github.com/lowRISC/opentitan/pull/14519
https://github.com/lowRISC/opentitan/pull/14374
https://github.com/lowRISC/opentitan/pull/14295

[2022-09-08 18:04] #10966 closed

[2022-09-08 18:07] msfschaffner commented on #14816
Note that in order to cover this testpoint completely, the referenced test `chip_sw_pwrmgr_deep_sleep_all_wake_ups` will have to be extended.

[2022-09-08 18:09] dmcardle commented on #14675
When I filed this issue, I was thinking of explicit exit code clobbering with boolean-or, e.g. `foo || echo blah`, where `foo` fails, but the script continues due to the successful `echo`.

Another way to clobber exit codes is with bash pipelines, e.g. `foo | bar`. By default, bash will ignore a failure in `foo` provided that `bar` succeeds. This was an issue in https://github.com/lowRISC/opentita

[2022-09-08 18:22] alphan commented on #14828
@timothytrippel

[2022-09-08 18:24] alphan commented on #14828
@tjaychen I agree, since this is just for tests, I'd suggest allocating a huge chunk of space and treat flash words as bits.

[2022-09-08 18:47] tjaychen commented on #14527
sorry let me look at the documentation stuff today.

[2022-09-08 18:59] timothytrippel commented on #14828
After further discussion with @alphan, there are actually two problems with our current setup:

1. consecutive writes to the same flash address (as you describe above), and
2. (as alphan pointed out) the nonvolatile scratch region currently resides in the signed code region, so if a test runs with ROM (as opposed to test ROM) and it writes to this region before issuing a reset, then the next signa

[2022-09-08 19:00] msfschaffner opened #14833 "[alerts] Need for fast-track analog alerts"
This is a note that we should at some point have a discussion whether there is a need for additional fast track alerts that completely side-step the current alert subsystem.

I.e., the current alert subsystem is still sequential in nature, and even for critical alert events that are configured to escalate ASAP, it still takes a few cycles until an escalation action is triggered.

Fast-track asynch

[2022-09-08 19:00] msfschaffner commented on #14833
CC @tjaychen @zi-v @cdgori @arnonsha @eunchan @johannheyszl

[2022-09-08 19:01] matutem opened #14834 "[test-triage] chip_sw_aon_timer_sleep_wdog_sleep_pause"
### Hierarchy of regression failure

Chip Level

### Failure Description

                UVM_ERROR @ 8166.457112 us: (prim_reg_cdc_arb.sv:248) [ASSERT FAILED] ReqTimeout_A
                "../src/lowrisc_prim_subreg_0/rtl/prim_reg_cdc_arb.sv", 264: tb.dut.top_earlgrey.u_aon_timer_aon.u_reg.u_wkup_count_cdc.u_arb.gen_wr_req.UpdateTimeout_A: started at 8166443368ps failed at 8166457112ps

[2022-09-08 19:09] tjaychen commented on #14828
this sounds good to me.
Although , the two scratch regions, is that something that mask_rom will need to add also? Because our bare metal tests on silicon will jump from mask_rom directly into the test right?

[2022-09-08 19:15] timothytrippel commented on #14632
On second thought, it might be better to:
1. simply remove the [`DIF_TEST_SMOKE`](https://docs.opentitan.org/doc/project/checklist/#dif_test_smoke) from the S1 requirements altogether,
2. add a `DIF_TEST_UNIT_STARTED` requirement back to the list of S1 requirements in its place, and change the name of the [`DIF_TEST_UNIT`](https://docs.opentitan.org/doc/project/checklist/#dif_test_unit) requiremen

[2022-09-08 19:19] matutem opened #14835 "[test-triage] chip_sw_keymgr_key_derivation_jitter_en"
### Hierarchy of regression failure

Chip Level

### Failure Description

  UVM_ERROR @ 4479.730241 us: (chip_sw_keymgr_key_derivation_vseq.sv:279) [uvm_test_top.env.virtual_sequencer.chip_sw_keymgr_key_derivation_vseq] Check failed act_digest == exp_digest (63855981320502608263214719455680146233345385719529674784553966246301008511875 [0x8d2d3462b8ce0554a263ca5935e7bbefc7d9e4aecdff3822e7fb69739c29