[2021-06-14 19:23] tjaychen commented on #6674
i feel like a hardened primitive would make sense (although to be honest i haven't thought a ton about it in terms of timers).
Otherwise we might end up in a situation where everyone does it slightly differently and that could be problematic later.

@cdgori

[2021-06-14 19:25] msfschaffner commented on #6674
Yeah it sounds doable, although we may have to prepare 2-3 different flavors, depending on whether it's a up/down counter etc

[2021-06-14 19:35] sriyerg commented on #6504
Welcome back!

[2021-06-14 19:38] tjaychen commented on #6887
thanks for the reminder @weicaiyang
yes it looks like the data side is not there yet, because the data side generation / checks were meant to be done inside the host.

See this [diagram](https://docs.google.com/presentation/d/1FQZ-Ef0zNxFR4o1Eo5XbT-I4OE_cBKxj-OMm1i-gDYM/edit?usp=sharing).

Tom do you think you'll add the host side generation and checks soon? I can also temporarily add it into the

[2021-06-14 19:43] udinator commented on #6672
doing something like that would make sense to me, let's wait for eunchan to weigh in though

[2021-06-14 20:04] weicaiyang commented on #6887
I see. Thanks for the explanation.

[2021-06-14 20:29] udinator opened #6964 "[dv/common] static unmapped address calculation"
Currently in #6626  mapped/unmapped address ranges are calculated dynamically in the build phase.

Investigate whether there is a way to move some of this functionality to the CSR templates to be initialized during generation itself.

[2021-06-14 20:35] cdgori commented on #4179
Ah, this one completely fell off my radar.

Without clock-gating enabled: there is power consumption for both parts of the process, almost all flops are still built as master-slave latch pairs (this is still the standard terminology so keeping it for now instead of host-device for the purposes of this comment thread).  The clock pulse will activate some part of the master latch even if it's the sa

[2021-06-14 20:59] cfrantz opened #6965 "[mask_rom] Debug alert handler functest on an FPGA board"
The alert handler functest fails in CI on the FPGA boards.

I suspect this is because the test resets the chip and may require some additional support in the test infrastructure for such tests (ie: as imphil suggested, re-opening a uart or somesuch).

[2021-06-14 21:30] cdgori commented on #1920
@mwbranstad at this point, I don't think this should be gating/blocking on CSRNG but rather on consumers of CSRNG entropy?

Agreed that a lot of things have been resolved but we do need to figure out for at least: alert handler, AES (with masking), KMAC (with masking), and OTBN (RND) if we will use LFSRs, some shallow PRINCE structure, etc.

Would be good for everyone to have a quick think-through

[2021-06-14 22:44] tjaychen commented on #4179
@cdgori i think what @arnonsha was saying above is that they do not currently do the XOR compute for clock pulse inhibiting. So if we look at this purely from power perspective, i think feeding in the same value all the time might actually end up clocking that front element always as you say.

For some of my past projects, we had very explicit rules about coding the enable to be a pulse and never

[2021-06-14 23:32] dsandrs commented on #4179
Isn't fine-grain clock gating bad for SCA, even without the XOR self-gating?  Are the SCA tools sophisticated enough to detect a bank of flops being loaded based on the clocks being ungated periodically?

[2021-06-14 23:33] eunchan commented on #6672
Sounds good. In this scenario, do you expect KMAC accepts all the data then report an error with dummy digest value? I will revise the KMAC soon after landing #6753

[2021-06-15 06:04] zi-v commented on #4179
@dsandrs I don't think I understand your scenario.
@tjaychen I can speculate that pulse-based design is slightly more susceptible to fault attacks (just because killing a pulse is easier than killing a level). However, I don' think it is practical to avoid having pulse signals in the design.
As for the "some_signal" related example above, I believe that when xor flag is not activated, the clock ga

[2021-06-15 08:50] rswarbrick commented on #6888
Yep, that was what I was trying to get at.

[2021-06-15 09:00] tomroberts-lowrisc commented on #6887
Planning to work on it soon, but it might not go in for a few weeks. I think it's worth enabling it in the adapters for now.

[2021-06-15 09:00] rswarbrick opened #6976 "[top,dv] Add system-level test for faulted rom_ctrl reset"
We should probably have a test that checks that a faulted reset line to `rom_ctrl` (causing it to run a second time) causes an alert to be fired. I expect this to be noticeable by either the power manager (which will see an unexpected negative edge on the "done" signal) or KMAC (which will see an unexpected second transaction on its application interface).

We could either do this "for real" at a

[2021-06-15 09:11] #6935 closed

[2021-06-15 10:17] imphil opened #6978 "[sw] OpenTitan/Mundane/BoringSSL doesn't build with GCC 11"
In our default build we include the mundane rust create, which itself builds and uses a specific version of boringssl which doesn't build on GCC11 (11.1.1 tested).

The necessary boringssl patches are already merged upstream, e.g. https://boringssl-review.googlesource.com/c/boringssl/+/46404, https://boringssl-review.googlesource.com/c/boringssl/+/46405, but haven't yet made it into the version th

[2021-06-15 12:20] #5953 closed

[2021-06-15 14:28] #6567 closed

[2021-06-15 14:30] cfrantz commented on #6978
+alphan for visibility.

[2021-06-15 14:46] imphil commented on #6978
For others running into this: a workaround is to use an different/older compiler version. To use GCC 10 for example, run

[code]

and then use ninja as usual.

[2021-06-15 14:47] alphan commented on #6978
It looks like #6980 addresses this issue for the time being. I took a quick look at this but it looks like we are already using the latest version of mundane (0.4.4). I will come back to this when I have more time (a newer version, when it comes out, may resolve this issue).

[2021-06-15 16:44] tjaychen commented on #4179
@zi-v thanks ziv vof the input. Yes I agree with what you're saying, and yes my concern is as you say, if the xor flag is not there, the clock gate will just remain open all the time, thus consuming the 100-bit power.

To @dsandrs question, I think our thinking is that fine grained clock gating would amplify the signal of when a flop is loaded.  So the worry is that this potentially creates more s

[2021-06-15 16:45] tjaychen commented on #6887
sounds good, let me do that.
Thanks Tom.

On Tue, Jun 15, 2021 at 2:00 AM Tom Roberts ***@***.***>
wrote:

[2021-06-15 16:55] rswarbrick commented on #1256
I think we're doing this now, right @imphil? The bit range annotations are still quite nice, though. In particular, they make it easier to understand Verilators "unused bits" messages.

[2021-06-15 17:01] sriyerg commented on #6976
Yes: https://docs.opentitan.org/hw/top_earlgrey/doc/dv/#dv-plan
Search for 'chip_rom_ctrl_reset_glitch'.

Feel free to update the wording if needed.

[2021-06-15 17:08] cdgori commented on #6976
great, thank you @rswarbrick for writing this up and @sriyerg for already having this in test plan.

[2021-06-15 17:10] imphil commented on #1256
Yeah, --trace-structs is enabled now and works well.

[2021-06-15 17:10] #1256 closed

[2021-06-15 17:15] sriyerg commented on #6976
Re. your question on reset tests - it should be captured as a part of the [system level scenarios testplan](https://docs.google.com/spreadsheets/u/2/d/1YK3mO9n5xyjT6cIPlW1bixcNVMj833XQfKXPPXvUw78/edit#gid=0) (which will eventually get folded into the chip DV plan).

[2021-06-16 00:01] cdgori commented on #4179
In essence yes they are.

If you are doing something with two distinct power signatures (i.e. scenario 1) Dnext = Qcurrent = 0 (or 1), so gate clock, or scenario 2) Dnext != Qcurrent, so ungate) you are potentially leaking a lot of information.  The only questions are: how many samples/traces it takes to divide the scenario 1 traces from the scenario 2 traces, and does the fact that in both scenar

[2021-06-16 08:20] rswarbrick commented on #6976
Brill, thanks!

[2021-06-16 08:20] #6976 closed

[2021-06-16 08:40] rswarbrick commented on #6775
Is there anything more to do here? I think we're convinced it looks sensible, so I'm not sure it's worth keeping the issue open?

[2021-06-16 08:52] GregAC commented on #6775
I don't think so, seems the FPGA build is happy again, even though we never identified a root cause.

[2021-06-16 08:52] #6775 closed

[2021-06-16 09:42] zi-v commented on #6798
IMO, clkmgr and rstmgr

[2021-06-16 10:01] imphil opened #6993 "[otbn] Use RND/URND in software"
In OTBN software, e.g. in the p256 library, we currently explicitly set blinding parameters and random numbers. These should come from RND and URND instead, which are now hooked up.

* Nonce for p256 and p384 (RND)
* Potentially for the blinding constant for ECDSA (URND or RND)

Update the software to use these WSRs.

[2021-06-16 13:48] JunminHe opened #6996 "How to write back to the original top_earlgrey.hjson file after auto modefied by script top_earlgrey_reduce.py ?"
Hello,
        I am trying to use the opentitan on  NexysVideo FPGA Board . When I deploy size reduction script top_earlgrey_reduce.py , the top_earlgrey.hjson auto changed , but when I want to edit the original top_earlgrey.hjson for configuring i2c inputs and relate pads , I am not sure how to write back to the original top_earlgrey.hjson file after auto modefied by script top_earlgrey_reduce.py

[2021-06-16 14:42] rswarbrick commented on #318
Is this issue still pending? We've got some parameter support now, which I *think* is what this issue was about. Also, I see that the pinmux register that spawned the discussion is now generated by a template :-)

[2021-06-16 14:51] rswarbrick commented on #531
@eunchan: Is this feature still planned? It sounds like it's probably subsumed by the alert manager?

[2021-06-16 14:53] rswarbrick commented on #2008
This is done (and we now explode, rather than just warning, if anything else creeps in!)

[2021-06-16 14:53] #2008 closed

[2021-06-16 15:01] rswarbrick commented on #1977
This should be pretty straightforward to support with the current version of reggen. I don't quite understand your second point (about `w1c`, `r` and `rw` registers). The SW access scheme won't make any difference to the reset value itself.

Do you actually want something like "the value to write to the register to set it back to default"? (if so, I'm not sure that's guaranteed to exist).

[2021-06-16 15:20] rswarbrick commented on #65
The last item (`d_user_t`) was added by Tim in February with d12569fa30.

[2021-06-16 15:20] #65 closed, assigned to nobody

[2021-06-16 15:20] #6458 closed

[2021-06-16 15:33] silvestrst commented on #1977
@rswarbrick thank you for the change!

I think that's what I initially meant, however it was a while ago so I don't remember the exact context.

I agree, I think this change is potentially useful regardless

[2021-06-16 16:04] imphil commented on #6996
Just revert the changes in your working directory using `git checkout -- FILENAME`, as the message indicates.

[2021-06-16 16:05] #6950 closed

[2021-06-16 16:39] #4007 closed

[2021-06-16 16:45] imphil commented on #6176
@vrozic now only the documentation part is missing. The security features section is now part of the otbn spec as well, can you add a bullet point there to mention the instruction count? (Don't need to repeat the register docs, just to mention it.)

If that's done, you can close this issue.

[2021-06-16 17:06] tjaychen commented on #6798
those modules technically don't have any idea of what the top level
connections are..
i feel like this should go into top level documentation (which has not been
updated for awhile).

Maybe i will add something there for now, does that sound okay to you?

On Wed, Jun 16, 2021 at 2:42 AM zi-v ***@***.***> wrote:

[2021-06-16 19:16] weicaiyang opened #7003 "Wire up integrity alerts"
Thanks @msfschaffner for connecting integrity alerts for most of the IPs. I created this list to keep track of the unconnected blocks

- [x] adc_ctrl
- [x] aes
- [x] alert_handler
- [ ] aon_timer
- [ ] clkmgr
- [x] csrng
- [x] edn
- [x] entropy_src
- [ ] flash_ctrl
- [x] gpio
- [x] hmac
- [x] i2c
- [x] keymgr
- [x] kmac
- [x] lc_ctrl
- [ ] otbn
- [ ] otp_ctrl
- [x] pattgen
- [x] pinmux
- [ ] pwm
-

[2021-06-16 21:31] msfschaffner commented on #7003
Hey @weicaiyang, thanks for filing this, but we've already been keeping track of this here ;) : https://github.com/lowRISC/opentitan/issues/5985. So I am closing this because it's a duplicate issue.

[2021-06-16 21:31] #7003 closed

[2021-06-16 21:38] msfschaffner commented on #318
Ah yes, this should be supported by now. Closing down...

[2021-06-16 21:38] #318 closed

[2021-06-16 23:14] msfschaffner commented on #6736
CC @tjaychen

[2021-06-16 23:20] tjaychen commented on #6736
great catch @msfschaffner ! this is indeed true, and this is something i should clarify in the documentation.

The path is basically split in two.
From host -> flash, the expected path is host -> pmp -> flash, so the restriction is done there.
For program / erase, the expected path is host -> flash_ctrl -> flash_ctrl_pmp (the protection we are referring to here) -> flash

I'll make sure to clarify

[2021-06-16 23:24] tjaychen opened #7011 "[flash_ctrl] Add a mechanism to completely disable flash access"
As part of alert escalation, we need a mechanism to completely shut down flash access for any angle.
This should be tied into escalation as well, so it should be a part of the security hardening process.

[2021-06-16 23:24] tjaychen commented on #7011
@cdgori
@msfschaffner

[2021-06-17 01:28] #4603 closed

[2021-06-17 01:46] eunchan commented on #531
The error code somewhat differs from the alert. Each alert has its own dedicated alert line and severity. The error code has one interrupt line (consolidated all error interrupts) and the error code has not only what error occurs, but also useful information, internal states for SW to handle the error. It is up to the IP designer which information should be reported together (up to 24bit as of now

[2021-06-17 02:00] msfschaffner commented on #6937
OK, I have changed the escalation behavior in https://github.com/lowRISC/opentitan/pull/7014, so I think this issue will become obsolete after that change has landed.

[2021-06-17 02:01] msfschaffner commented on #5497
OK, we decided to simplify the escalation actions and combine "wipe secrets" with "scrap lifecycle state" in order to eliminate these artificial corner cases. Change is upcoming here:  https://github.com/lowRISC/opentitan/pull/7014

[2021-06-17 05:08] JunminHe commented on #6996
Thank you for your help ~

[2021-06-17 06:57] zi-v commented on #6798
Thanks Tim.
For us, mainly for DV, it is not crucial where exactly it is documented. We mainly want to use this data to narrow down the DV scenarios of which reset is active when and so

[2021-06-17 10:30] GregAC commented on #6665
I've introduced a C++ scrambling model here: https://github.com/lowRISC/opentitan/pull/7020 the plan would be to do a follow-up PR That would replace `sram_scrambler_pkg` with something using a DPI interface to that model.

[2021-06-17 10:36] GregAC opened #7021 "[otbn] Grant signals on scrambled memories"
The scrambled memory primitive `pram_ram_1p_scr` introduces a grant signal for requests.

OTBN doesn't currently deal with stalling on its memory request interface, it assumes any request is granted.

The scrambled memories only don't grant where there isn't a valid key or a memory initialization using an LFSR is in progress.

Rather than altering OTBN to deal with stalls here I think we're better

[2021-06-17 12:25] rswarbrick commented on #531
Oh, I see. Which IPs currently use this? I know we've done something custom (but basically the same) for OTBN: maybe we should be fitting into an existing framework.

[2021-06-17 12:27] rswarbrick commented on #7021
Maybe a simpler approach would be that we don't rotate keys when OTBN is actually running instructions. So writes to the "rotate my key please" register are ignored while it's running and "start" stalls until the memories are ready.

If we're doing key rotation on failure as a sort of secure wipe, we might need an "almost finished" state, where OTBN is no longer running instructions but hasn't yet

[2021-06-17 13:30] rswarbrick commented on #6654
Looks like the problem is resolved. Closing.

[2021-06-17 13:30] #6654 closed

[2021-06-17 13:31] rswarbrick commented on #4240
This shouldn't be relevant any more, I hope: The reggen code has been heavily re-worked and is now a bit more principled about types.

[2021-06-17 13:31] #4240 closed

[2021-06-17 14:08] JunminHe opened #7024 "[chip_earlgrey_nexysvideo.sv] I want to change input IO_CLK to input clock SYSCLK_N, SYSCLK_P."
Hello,
        I am trying to use the opentitan on Genesys2 FPGA Board . I want to change input  IO_CLK to input  clock SYSCLK_N, SYSCLK_P. How can I modify it in the top_earlgrey.hjson file so that it can automatically generate the corresponding clock logic in the auto-generated chip_earlgrey_nexysvideo.sv file. Can you give me some tips for this question?
this is modified pins_nexysvideo.xdc bel

[2021-06-17 15:14] cfrantz opened #7026 "Convert mask ROM lifecycle driver to use sec_mmio"

[2021-06-17 15:21] #6910 closed

[2021-06-17 15:22] WonHoYoo commented on #6910
I gonna close this issue because I made clear by myself with my custom sustem.

[2021-06-17 16:31] eunchan commented on #531
HMAC, KMAC and maybe flash_ctrl?

[2021-06-17 16:35] #6813 closed

[2021-06-17 17:52] moidx commented on #6610
@mcy value laundering implementation is being introduced in PR lowrisc/opentitan#7028.

[2021-06-17 18:49] #6650 closed

[2021-06-17 19:47] msfschaffner opened #7033 "[rom_ctrl] Keep logical ROM width at 39bit instead of 40bit"
We are currently setting the width of the ROM to 40bit, although the actual data that is being stored inside the ROM is only 32bit (data) + 7bit (ECC) = 39bit: https://github.com/lowRISC/opentitan/blob/ed044fc9760bdf9fc075d0015ba1db07fa075355/hw/ip/rom_ctrl/rtl/rom_ctrl_scrambled_rom.sv#L28-L29

The reason for this alignment to 40bit is that the underlying physical macro cannot be generated for od

[2021-06-17 20:14] tjaychen commented on #6754
@matutem great inputs!

so for you second point above, `pwrmgr` technically isn't aware of who exactly is requesting wakeup / resets, since that is more of a top level decision.  Is there any way to just generically verify this?

yes good point, the spec should be updated to say it requires a successful rom_ctrl check.

[2021-06-17 20:18] tjaychen commented on #7033
i don't have strong feelings regarding the second point. Since the rom scrambling is really meant more for FI and not confidentiality. So my thinking is that even with it being 0 on the MSB, we still gain most of the FI benefits (let me know if this is not true).

Regarding different tech libs being able to build exactly 39b, I also assume that means they can support 40b as well, so we probably wo

[2021-06-17 20:28] tjaychen commented on #6736
closing this issue for now since this is working as intended.
Added #7011 since that is the desired function software would like to have.

[2021-06-17 20:28] #6736 closed

[2021-06-17 21:13] msfschaffner commented on #7033
Yeah it's not super important, since confidentiality is not the main goal here.

One other point I forgot to add was that it would make the parameterization of our scrambling devices more uniform system-wide, since then basically all devices use the same configuration (maybe that is advantageous for code audits).

[2021-06-17 21:34] msfschaffner commented on #7021
I like 1. a bit better. I.e., it would be good to get some feedback from HW when you try to request a key while OTBN is running, since otherwise you don't really know whether a key request has successfully completed, or whether it has just been ignored.

Btwy, what happens when Ibex is trying to access the Dmem and Imem while a key request is pending?

As a side note: if EDN has not been initializ

[2021-06-17 21:42] tjaychen commented on #7021
yeah i think some form of stall handling is inevitable.
I think the normal sequence of events would be

request scramble key rotation -> write into imem / dmem -> start.

So it seems like the start stall is not the case where you will run into issues.

I think it's okay to construct by policy that if a rotation is ongoing, then all accesses are errors.  Then you wouldn't necessarily need to handle

[2021-06-18 09:16] GregAC commented on #7021
It won't get a grant til it's done, which is a point worth raising as I think sram behaves similarly. We might want to return an error response instead as a situation where Ibex reading a memory location that hasn't been configured correctly (i.e. EDN not on with pending key request) leads to a system deadlock isn't great. Even NMI would wait for a pending memory access to complete so if it never

[2021-06-18 09:31] GregAC commented on #6173
Note that the PR that introduces scrambling already contains the RTL for requesting new scrambling key/nonce though it's untested (`otbn_scrambled_ctrl.sv` in https://github.com/lowRISC/opentitan/pull/7020). So for the secure wipe of IMEM/DMEM all that is left to do is create the register interface and hook it up to `otbn_scramble_ctrl` plus check it works!

[2021-06-18 09:33] GregAC commented on #4227
Note that `otbn_scramble_ctrl` in https://github.com/lowRISC/opentitan/pull/7020 handles the scramble keys and nonces. We can wire escalate directly into there and it should revert to the default key/nonce (specified with the `RndCnstxxx` parameters).

[2021-06-18 09:54] rswarbrick commented on #7033
Really easy. Maybe half an hour's work. Very happy to do this if we go that way.

[2021-06-18 09:57] rswarbrick commented on #7021
The question about access to memory while OTBN is running is handled in the somewhat stalled issue #2696. I think that, whatever we decide there, we should make the same decision here.

[2021-06-18 13:10] rswarbrick opened #7041 "[keymgr] Mismatch between "rc" in hjson and RTL behaviour for SW_SHARE*_OUTPUT reg"
The `SW_SHARE0_OUTPUT` and `SW_SHARE1_OUTPUT` multiregs are listed in the hjson as having software access type RC ("read clears"). This doesn't seem to be what the RTL actually does: a read from the register doesn't cause the value to be zeroed.

Either the RTL needs updating to match the hjson or the hjson needs the "rc" entries changing to "ro".

@tjaychen: Could you comment on what's supposed t

[2021-06-18 13:18] rswarbrick commented on #2892
This seems to be fixed now:
![image](https://user-images.githubusercontent.com/104845/122566873-f660fb00-d03f-11eb-8ebe-c5e5f0d68ca0.png)

[2021-06-18 13:18] #2892 closed

[2021-06-18 16:37] tjaychen commented on #7041
hey rupert, could you point me to where you might have run into this?
The register is built using the automated script, so at least inside the
regfile the behavior should be read clear.

I think where things could get odd is how the hardware feeds the value.
Where if we happen to be in the "wipe key" state, the value will constantly
update to a random value even though the software requests for it

[2021-06-18 16:37] tjaychen commented on #7033
does it make sense to throw this topic onto the agenda for next week? we can quickly talk about it for 5 minutes.
Michael's point is well taken, but I'm just saying that if there are a lot of tasks piled up, this may not need to be that high on the priority.

[2021-06-18 16:45] tjaychen commented on #7021
i think from that issue we also settled on errors correct? If that's the case, it seems consistent with the behavior here.
I would also go with otbn error-ing if key rotation is ongoing and any external agent tries to access.

I guess if you couple this with start stall, it would also ensure otbn's processor could never reach this case right?

[2021-06-18 18:39] matutem commented on #6754
Yes, the pwrmgr tests don't care what is the source of these, so the wakeup and reset bit assignments are not needed. Let's drop this part of the request.

[2021-06-19 12:55] JunminHe commented on #6996
Hello, @imphil , when I edit some ports in the top_earlgrey.hjson file, and deployed size reduction script top_earlgrey_reduce.py, a new top_earlgrey.hjson file was auto-generated, but when I want to add something in the top_earlgrey.hjson that I had previously hand-edit, how to undo the changes brought by the top_earlgrey_reduce.py script and write it back to the version before the script was exe

[2021-06-21 05:03] esshiu commented on #6323
The feature is added to https://github.com/lowRISC/opentitan/pull/6314

[2021-06-21 11:19] rswarbrick commented on #7041
Gah, this was caused by a bug in my proposed change (I should have been setting a `we` using the `re` because it was an `RC` register). Thanks for helping me figure out what was going on!

[2021-06-21 11:19] #7041 closed

[2021-06-21 15:39] rswarbrick opened #7052 "[otbn,rtl] insn_cnt_o doesn't follow spec just after operation starts"
The following waveform shows what's going on (extracted from `util/dvsim/dvsim.py hw/ip/otbn/dv/uvm/otbn_sim_cfg.hjson -i otbn_multi --fixed-seed 2100792378 -w` after disabling the failing assertion):

![ss](https://user-images.githubusercontent.com/104845/122788839-a5a30980-d2ae-11eb-9455-0a079ac1a8e4.png)

The spec currently says that INSN_CNT gets zeroed at the start of an operation, then count

[2021-06-21 16:02] GregAC commented on #7052
The `start_i` reaching the controller is delayed by the `otbn_start_stop_control` module.

Perhaps a `controller_reset_insn_cnt_o` signal from `otbn_start_stop_control` that resets the counter that's raised when `start_i` is seen?

[2021-06-21 16:42] rswarbrick commented on #7052
Yep, sounds sensible. Looking again at what I wrote, it was a bit ambiguous: I meant passing an extra un-delayed signal, not removing the delay!

[2021-06-21 16:45] GregAC opened #7054 "[otbn] Scrambling nonce width from OTP"
The OTP provided nonce for scrambling OTBN memories is 256-bit wide.

With integrity protection OTBN requires 320 bits of nonce when using replicated PRINCE primitives to generate the keystream. Potentially nonce bits could be reused to give the full 320 bits.

Alternatively a single PRINCE could be used and the keystream replicated, requiring 64 bits of nonce.

What do we want to do?

[2021-06-21 17:52] msfschaffner commented on #7054
I think we have been discussing that for this particular use case, replicating the keystream of one PRINCE primitive should be good enough.

I.e. we are mainly guarding against FI, and that can be achieved with both replicated and unreplicated keystream.

Am I remembering correctly, @tjaychen @cdgori?

[2021-06-21 19:08] matutem commented on #6754
Some additional suggestions:
The discussion of power domain handling could be clearer, and could highlight the importance of the main_pd_n bit. Perhaps it should also mention the aon and main domains (it says nothing about the number of power domains), and it is not clear about the power domain for the peripherals: they seem to be aon, with the option of disabling their clock.

It would be good to

[2021-06-21 19:33] weicaiyang opened #7056 "TLUL mem access gets stuck when there is a protocol error"
seems like this PR #6994 makes `a_ready` always low when we issue an TLUL mem access with an error.

We removed `error_internal` in the code below, and `gnt_i` is always 0 if `error_internal` is set. So, a_ready is always low if error_internal is set.
`a_ready : (gnt_i | error_internal) & reqfifo_wready & sramreqfifo_wready
`

// `req_o` is the same wire as `gnt_i`
https://github.com/lowRISC/opent

[2021-06-21 20:26] cdgori commented on #7021
If I understood @GregAC 's original comment, he suggested doing both?  Which matches Tim's comment:

| I guess if you couple this with start stall, it would also ensure otbn's processor could never reach this case right?

And is basically what I would suggest.  Stall the start until the keys are loaded, but also fatal-error if a grant is not given for some reason.

[2021-06-21 20:38] rswarbrick commented on #7056
Oops, that's definitely my fault. I'll take a look tomorrow if no-one else fixes it in the meantime.

[2021-06-21 20:42] rswarbrick commented on #7056
Oh! This is an easy fix: the `gnt_i` signal in spi_device was set to equal `req_o` for some reason. Just set it to `1'b1`. Happy to file a PR tomorrow, but it might be worth just fixing immediately.

[2021-06-21 22:30] msfschaffner opened #7059 "[sram_ctrl] Error out upon SRAM accesses during a key request."
Currently, SRAM stalls all bus accesses while a key request is in progress.
This can be problematic, since if EDN is not initialized, such a key request may stall the processor forever, even preventing it from entering an NMI (see the corresponding OTBN discussion https://github.com/lowRISC/opentitan/issues/7021).
A solution currently discussed for OTBN scrambling would be to make the bus access e

[2021-06-21 22:31] matutem commented on #6754
The "Supported low power modes" section fails to mention what triggers deep sleep (main_pd_n). It is also somewhat vague about io power domains: it only mentions disabling the clock (clock gating), not powering units off. Does it mean if the clock is disabled then power will also be off?

[2021-06-21 22:31] msfschaffner commented on #7021
Ok, error-ing out sounds like the consistent solution then (i.e., also error out when an external agent tries to access OTBN memory while OTBN is busy, or a key request is ongoing).

It probably makes sense to carry that behavior over to the SRAM controller as well (https://github.com/lowRISC/opentitan/issues/7059).

[2021-06-21 22:32] weicaiyang commented on #7056
I tried to tie `gnt_i` to 1 and it works for spi_device. `tlul_adapter_sram` is used in many blocks, like otbn, otp_ctrl etc, and they all have a similar issue. Not sure if we can apply this fix for all the blocks. In some blocks, `gnt_i` isn't just simply connected with `req_o`.

[2021-06-21 22:35] tjaychen commented on #7059
these two situations felt a bit different to me. For the otbn, that's always programmed by ibex to go.
For the main sram scramble, I was originally imagining a scenario where live software is running and we need to "rotate" keys.

My original thinking is that we should stall, because of the situation is kind of like a cache invalidate.  We are waiting for the operation to finish before we can safe

[2021-06-21 22:36] tjaychen commented on #7059
i should mention also because of this issue, we explicitly need to setup entropy inside rom, and ensuring the entropy complex can support this is something that's important.

[2021-06-21 22:46] msfschaffner commented on #7033
Sure, let's have a quick chat about this. As Tim mentioned, prio for this is not high - it would be more kind of a cleanup / alignment task to make things more uniform.

[2021-06-21 22:47] tjaychen commented on #7056
hmm... should we consider reverting this?
it seems we have a fair number of cases where the `grant` signal is some version of `req & blah logic`.
So in the error scenario where `req` never goes high, the `grant` never goes high either.

While it's tempting to say that we should probably just remove `req` from most of these it'd be fine, in cases there is arbitration downstream (not sure if there i

[2021-06-21 22:47] msfschaffner commented on #7033
@tomroberts-lowrisc can we put this on the agenda for next week? (5min)

[2021-06-21 22:50] cfrantz commented on #7059
I'm ok with SRAM returning aborts before the scrambling configuration is ready.

I assume that if I request a new scrambling key, I can let that happen "in the background" and execution will be fine as long as I don't touch SRAM before its ready?

Is there a status bit in the SRAM controller that I could spin on if I need to wait for SRAM:

Pseudocode:
[code]

[2021-06-21 22:57] msfschaffner commented on #7059
You should be able to spin on `sram_ctrl.STATUS.SCR_KEY_SEED_VALID` to achieve this.
See also description of `sram_ctrl.CTRL.RENEW_SCR_KEY` in https://docs.opentitan.org/hw/ip/sram_ctrl/doc/index.html.

[2021-06-21 23:39] msfschaffner commented on #7056
Was there a particular reason why `error_internal` has been removed in the first place?
I am with @tjaychen here in that this error path should probably be made independent of the downstream logic. the interface is `req/grant`, and requiring that `grant` be returned without a `req` going high in the first place is violating the interface protocol.

[2021-06-22 02:07] udinator commented on #6596
This issue is resolved by #6626, closing.

[2021-06-22 02:07] #6596 closed

[2021-06-22 02:07] udinator commented on #6594
This is resolved by #6626, closing.

[2021-06-22 02:07] #6594 closed

[2021-06-22 10:47] rswarbrick commented on #7056
You're right. Let's revert that patch and then (maybe) follow up with a rename to rdy/vld if we get around to it.

[2021-06-22 13:32] jackieke724 commented on #6829
I have finally found the problem...

Boot_rom was stuck after the system reset by spiflash (code below). It wasn't until I randomly came across #1159 that I got to fully understand how the `DPS0-7` pins were used. Basically, besided IO_RSTN, spiflash can also reset the whole system using `IO_DPS5`. Spiflash's reset is anded with `IO_RSTN` in clkgen. I did not connect this reset with the other FPGA

[2021-06-22 13:32] #6829 closed

[2021-06-22 14:30] mundaym commented on #7059
Can we always safely ignore `sram_ctrl.STATUS.SCR_KEY_VALID` if we are checking `sram_ctrl.STATUS.SCR_KEY_SEED_VALID`?

[2021-06-22 15:43] #7056 closed

[2021-06-22 16:29] rswarbrick opened #7073 "prim_esc_receiver.sv has a missing dependency on alert_handler_reg_pkg"
This is causing the otbn smoke test to break master CI.

The obvious quick hack is to add `lowrisc:ip:alert_handler_reg` as a dependency in `prim_esc.core`. But it doesn't seem right to have a primitive depend on a block.

@msfschaffner: I think this was caused by commit 5bbfaece4f. Would you mind taking a look? Marking as P1 since our master branch CI is going to be broken until this is fixed. If

[2021-06-22 18:22] tjaychen opened #7074 "[process] create a security review template based on the security design guidance"
Based on the contents of the to-be-made-publicly available security design guidance, we should come with a template for reviewing designs for security.

- [ ] Add examples of what are considered privilege operations

[2021-06-22 18:23] tjaychen commented on #7074
@mateenfaisal
@dsandrs

[2021-06-22 19:59] msfschaffner commented on #7073
This is odd, since the `prim_esc.core` already contains the `lowrisc:ip:alert_handler_reg` dependency:

https://github.com/lowRISC/opentitan/blob/5c94aa683124e57d5fbed1ac00b679ed3fbb960a/hw/ip/prim/prim_esc.core#L10-L15

Let me take a look.

[2021-06-22 20:02] msfschaffner commented on #7073
Yeah the dependency is a bit weird, but it came in as part of the ping monitoring feature on the escalation receiver side.
I.e., each receiver now contains a monitoring counter to check whether pings arrive regularly, and if not the receiver will auto - escalate.
The issue with that mechanism is that we need to calculate the timeout using design constants that come from the alert handler ping time

[2021-06-22 20:13] msfschaffner commented on #7073
@rswarbrick it looks like the OTBN test invocation does not select a fileset (`ip` or `top`), hence this currently fails to include the regs.
We can fix this by adding the appropriate flag to the build script `./hw/ip/otbn/dv/smoke/run_smoke.sh`, i.e., change the fusesoc invocation to
[code]
I'll push a fix.

[2021-06-22 20:38] msfschaffner commented on #7073
Actually, I think I have an even better fix for this: let's just remove the `prim_esc` dependency from `prim.core`, since most IPs including OTBN won't need it.

[2021-06-22 21:43] rswarbrick commented on #7073
Another argument for splitting up `prim:all`! Good plan though.

[2021-06-22 22:23] msfschaffner commented on #7059
Sorry, I believe I have a copy paste error in what I have said in my previous comment.
You can poll on `sram_ctrl.STATUS.SCR_KEY_VALID` and safely ignore `sram_ctrl.STATUS.SCR_KEY_SEED_VALID` while polling.

[2021-06-22 23:36] #7073 closed

[2021-06-23 10:08] mundaym commented on #7059
Thanks. Once `sram_ctrl.STATUS.SCR_KEY_VALID` is set what behavior do we want when `sram_ctrl.STATUS.SCR_KEY_SEED_VALID` is 0? Should we ignore it or should we trigger a shutdown?

[2021-06-23 17:12] tjaychen commented on #6044
@tomroberts-lowrisc @martin-lueker just one thing to note, this obviously increases the access latency dramatically compared to before (i think the old approach you could basically have all the syncs happening together at the same time).

For something like `pwm` I'm guessing it is okay because it is more or less set and forget, but I'm less certain about `aon_timer`.
The `aon_timer` i'm less sure

[2021-06-23 17:23] tjaychen commented on #7011
this should now be addressed.

[2021-06-23 17:23] #7011 closed

[2021-06-23 17:24] tjaychen commented on #6887
this should now hopefully be addressed, @weicaiyang let me know if you still see other issues.

[2021-06-23 17:24] #6887 closed

[2021-06-23 17:26] weicaiyang commented on #6887
Thanks @tjaychen

[2021-06-23 17:35] matutem opened #7102 "[dv/tools] Mark tests that fail to avoid coverage"
Do not use coverage metrics from failing tests.
In VCS we use $cm_post when the test ends, using the UVM warning/error/fatal flags.
We need to add support for other tools.

[2021-06-23 18:50] msfschaffner commented on #7059
So it depends a bit how much knowledge of the provisioning and life cycle state ROM firmware has (or should have).

ROM needs to be able to run in both cases - especially during the test life cycle states where the key seeds have not been provisioned yet.

We could technically double check the seed valid status with the provisioning status of the corresponding OTP partition, and trigger a shutdown

[2021-06-23 19:05] tjaychen commented on #7059
i think it's probably not worth the complexity. As @msfschaffner said the keys are always ephemeral, and entropy information is always pulled to further enhance its creation.   If ROM arms the memory scrambling, we should just go with whatever we have.

The checking of whether the seed was valid IMO is fine to leave to later pieces of software if they care about it.

[2021-06-23 19:25] msfschaffner commented on #7059
Ok, in that case let's just ignore the value of `sram_ctrl.STATUS.SCR_KEY_SEED_VALID` in ROM code.

[2021-06-23 21:06] mundaym commented on #7059
Thanks, that's useful info, sorry for sidetracking the issue. The original proposal (access exceptions for SRAM accesses during scrambling) SGTM.

[2021-06-23 21:27] mundaym opened #7107 "[sram_ctrl] Should it be possible to configure retention SRAM as executable?"
In the `chip_sram_execution` test in the [DV test plan](https://docs.opentitan.org/hw/top_earlgrey/doc/dv/) it is mentioned that *both* SRAMs should be executable when configured as such:

I tried to enable execution through the retention RAM controller when writing a verilator test for the mask ROM PMP implementation and could not get it to execute an instruction (main RAM worked fine). It is pos

[2021-06-23 21:34] tjaychen commented on #7107
ah you're right.
I dont think the retention sram is meant to be executable.
This is probably something outdated we need to update.

On Wed, Jun 23, 2021 at 2:27 PM Michael Munday ***@***.***>
wrote:

[2021-06-23 21:40] msfschaffner commented on #1920
I went through these designs and did a slightly more formal accounting below, with a short description of what each mechanism does.

Block                 | Function               | High Fidelity Required?        | Implemented PRNG Mechanism                  | Accepted & Resolved | RTL
----------------------|------------------------|--------------------------------|--------------------------------

[2021-06-24 05:58] moidx commented on #6653
Hi Tim,

I added additional code to the functional test referenced above to program the `CreatorSecret` and `OwnerSecret` in their respective info flash pages. I have to double check the operations to make sure I am doing this correctly.

The devices by default are running in `RMA` state.

I haven't checked yet to see if other secrets are initialized.

[2021-06-24 06:31] moidx commented on #6653
I tried to lock the `SECRET2` partition and put the device in `DEV` or `PROD` mode, but this results in a flash erase error.

Locking `SECRET2` and running the test in `RMA` mode still fails to advance into `CREATOR_ROOT`.

[2021-06-24 13:11] tomroberts-lowrisc commented on #6044
Agree this looks good for PWM - @tjaychen let's discuss AON timer in our next meeting, we have a few ideas for how we might work around the latency

[2021-06-24 13:13] mwbranstad commented on #1920
@msfschaffner Keeping the LFSR in ES. It was intended for a faster means of generating entropy with the primary goal of software use.

[2021-06-24 13:44] mundaym opened #7117 "[mask_rom] What bounds should be used for the MMIO memory protection region?"
The memory protection specification (https://github.com/lowRISC/opentitan/pull/6959) specifies that one ePMP entry should be used to provide read/write access to the entire MMIO address space.

However as far as I can tell there are currently no auto-generated addresses that specify the bounds of the address space. To workaround this I've temporarily hardcoded the address space as `[0x4000_0000, 0

[2021-06-24 15:29] tjaychen commented on #6044
hey all,
we had a sync with the software team yesterday, and in general they're
quite concerned about potentially having a lot of latency for both touching
the timers and setting up particular modules.
Specifically for the timer, it might be something that is frequently read
as part of determining the next OS tick, so there is more concern.

We are thinking about adding a primitive pulse-sync-with

[2021-06-24 15:31] tjaychen commented on #6653
thanks Miguel.
Let me bring this thing into DV and have a look.
It's very likely you've run into some kind of design issue since this area
of flash is not well tested.

On Wed, Jun 23, 2021 at 11:31 PM moidx ***@***.***> wrote:

[2021-06-24 16:28] msfschaffner commented on #1920
But do I understand correctly that the entropy generated by that LFSR is still being post processed afterwards in CSRNG? It seems that that one does not really fit into this accounting here, since it is not an entropy consumer with the need of a fast local entropy expansion mechanism...

[2021-06-24 17:03] mwbranstad commented on #1920
Correct understanding, the output will ultimately feed into the CSRNG module.

[2021-06-24 19:19] cdgori commented on #7107
I think even more than that, when we reviewed the retention SRAM plan some long time back, I think it's expressly not supposed to be executable.

[2021-06-24 19:19] matutem opened #7126 "[doc/clkmgr] Update spec for clk_hints and status"
The spec for the clk_hints and clk_hints_status needs to add a bit for the otbn.

[2021-06-24 19:24] matutem opened #7127 "[dv/clkmgr] Update hints test to for extra unit"
The otbn is now a transactional unit, so its clock is controlled via the clk_hints CSR using its idle bit.
Update the clkmgr_hints test and trans_cg covergroup.

[2021-06-24 19:41] tjaychen commented on #7126
actually @matutem , when you mentioned the spec was not updated, where are you referring to?
Because it's here in the [hjson](https://github.com/lowRISC/opentitan/blob/master/hw/top_earlgrey/ip/clkmgr/data/autogen/clkmgr.hjson#L289), and also here in the [open source documentation](https://docs.opentitan.org/hw/ip/clkmgr/doc/index.html#Reg_clk_hints)

[2021-06-24 19:42] tjaychen commented on #7054
yeah i agree with @msfschaffner . since this is mostly meant for FI protection, i think replicating the keystream is sufficient.
@msfschaffner also pointed out this could simplify the nonce requesting interface on the otp side, which would be a nice plus.

[2021-06-24 19:42] tjaychen commented on #6819
i believe this one should be fixed now. @matutem feel free to re-open if you see more issues or don't agree.

[2021-06-24 19:42] #6819 closed

[2021-06-24 19:45] tjaychen commented on #6713
i'm late to this, but this lgtm.

[2021-06-24 20:22] cdgori commented on #7033
No strong feelings here, I think @tjaychen covered it all, but seems reasonable to clean things up if we have time.

Actually, one comment - if we do need to treat the ROM contents as confidential for some reason (i.e. the ROM is an asset) then the point about the zero-column in the CTR modes becomes more important, and then this has absolutely has to be done.

[2021-06-24 20:48] cdgori commented on #1920
Questions thinking about other potential LFSR users:

1- Is there no wipe/clear in KeyMgr?  That sort of surprises me.

2- Should we be implementing secure clear of the 1600b state in KMAC (as AES does)?  There's not an obvious "key register" to clear for KMAC but basically the whole hash state is "dirty" if actually doing a KMAC op.

3- For completeness: in theory, if we support sideload to HMAC

[2021-06-24 21:15] tjaychen commented on #1920
1. keymgr's lfsr usage is [here](https://github.com/lowRISC/opentitan/blob/master/hw/ip/keymgr/rtl/keymgr.sv#L142)
2. For any case where the prng output is used for masking purposes we should just require the permutation (so add kmac to the list).
3. ibex's lfsr is [here](https://github.com/lowRISC/opentitan/blob/master/hw/vendor/lowrisc_ibex/rtl/ibex_dummy_instr.sv)

[2021-06-24 21:40] msfschaffner commented on #6713
Ok, thanks @tjaychen. I'll close this issue then.

[2021-06-24 21:40] #6713 closed

[2021-06-24 22:01] tjaychen commented on #6653
okay i think i understand what's going on.

A few things.
- the flash -> keymgr seed transmission only happens at power up when the seed is determined to be transmittable (`SECRET2` is locked)
- the creator flash seeds can only be programmed if `SECRET2` is not locked, ie, you provision the flash seed and the root keys together in one shot.

So I think the two test cases you went through

1. dev_s

[2021-06-24 22:24] msfschaffner commented on #1920
Thanks, I have added the key manager and Ibex LFSRs and added a secure wipe feature for KMAC to the list (that one is marked as not implemented yet).

As for Chris' 3rd point, is HMAC sideload confirmed?

Open items:
- [ ] should Ibex also use a permutation?
- [ ] Add output permutation and sbox4 layer to KMAC LFSR?
- [ ] Add clearing mechanism to KMAC?
- [ ] Add sbox4 layer to key manager?
- [ ]

[2021-06-24 22:41] tjaychen commented on #1920
i don't think it's really necessary for ibex to require the permutation. Since they are just using this to pick the random instructions.
Similarly for keymgr, it's not really meant to be high quality or masking, so probably okay to not have the sbox layer.

I think it makes sense to have the sbox4 layer for KMAC.

I'm tempted to say the KMAC clear is okay as is (clears to 0, but would probably nee

[2021-06-25 01:32] tjaychen commented on #6432
@matutem sorry this part is a bit confusing.
if you look [here](https://github.com/lowRISC/opentitan/blob/master/hw/ip/pwrmgr/pwrmgr_reg.core#L12), you'll see that depending on the fileset flag, we pick different register files.

This is kind of unique to the top specific modules.  I actually regret having the model versions under `hw/ip` now, but for all your DV purposes, could you set the flag t

[2021-06-25 01:34] tjaychen commented on #6472
a bit late to this, but should we check we check whether the technology library we use actually latches also?

[2021-06-25 01:34] tjaychen commented on #6370
i think we can close this one now right?

[2021-06-25 01:59] sriyerg commented on #6432
If the `hw/ip/pwrmgr/rtl/pwrmgr.sv` is already broken for fileset flag = IP, is there any reason at all to keep it in `hw/ip` area? We could just put it in `hw/top_earlgrey` area instead, and get rid of the fileset flag switching. Clearly it's not meant to be used for a different chip implementation (or meant to work standalone).

[2021-06-25 02:40] tjaychen commented on #6432
yep that would be my preference.

[2021-06-25 08:56] vogelpi commented on #1920
FYI: @vrozic has been investigating the masking PRNG inside AES. If I remember correctly (please correct me if I am wrong Vladimir), the main outcome was:
- It looks sufficient but there is room for improvement.
- The sbox4 layer is needed, especially if the PRNG is not reseeded after every block. We still haven't decided when to reseed and at what frequency.

For any PRNG we should check if there

[2021-06-25 11:13] #7052 closed

[2021-06-25 11:53] wallento opened #7136 "[spi_device] Only mode 0 (CPOL=0, CPHA=0) works"
I added a second SPI device. Please find the commit here: https://github.com/wallento/opentitan/commit/75c827987be1d6aed41acecd11872aeff7606080
I am using this new device from my code in OT and it works nearly as expected ;) Unfortunately I cannot get it to work properly and I am running out of ideas. I am interfacing this second device from a Particle Argon and send a sequence "TEST" (`0x54 0x45

[2021-06-25 13:12] nicolast0604 opened #7137 "Eclipse embedded CDT"
Can opentitan nexys video FPGA work with Eclipse for debugging or trace code  in openocd/GDB?

If yes, do I need specific JTGG cable or something like that ?

Thanks a lot.

[2021-06-25 13:14] nicolast0604 opened #7138 "Nexys video with SD"
Hi
The opentitan works on nexys video with Vivado hardware manager.

But I am just wondering if it support SD card and booting from that without the need of Vivado to do it ?

Best Regards

[2021-06-25 15:11] mwbranstad opened #7140 "[entropy_src/rtl] how to support Known Answer Tests"
For CSRNG, KAT is supported through the CSRNG application interface, so pretty straight-forward.

For ES, there are two ways to do this:

1 - Set ES in LFSR mode and set the seed. Generate entropy that flows through the SHA3 block, then read the answer back through the ENTROPY_DATA register and compare. No changes required to support this.

2 - Create a new register that can be used to inject raw

[2021-06-25 15:13] #6085 closed

[2021-06-25 17:36] sriyerg opened #7143 "[dv, test_vectors] Integrate AES test vectors into existing NIST vector testing package"
The [test_vectors](https://github.com/lowRISC/opentitan/tree/master/hw/dv/sv/test_vectors) area currently cater to SHA256, HMAC, SHAKE and KMAC vectors from NIST. For AES, a separate solution is being developed in PR #6981. Ideally, it should integrate a flow for all AES modes / length as well.

[2021-06-25 18:10] msfschaffner commented on #1920
Does it maybe make sense to go over this table in one of our security meetings in order to decide on the mechanisms and resolve this? @felixmiller @moidx

[2021-06-25 18:21] tjaychen commented on #1920
yeah either use the security syncs or the security working groups.
I don't feel like any of the decisions here are very controversial, so we can probably move quickly.

[2021-06-25 19:21] wallento commented on #7136
Okay, after some more experiments I think I am sure that only SPI mode 0 works. I can confirm it does work, I assume I messed something up in testing. May I suggest while fixing this to fix the abstraction naming: `kDifSpiDeviceEdgePositive` and `kDifSpiDeviceEdgeNegative` is probably not the right naming for polarity and phase shift. The actual edges of data assertion on the out side and data sam

[2021-06-25 19:43] msfschaffner commented on #7054
OK, great! The OTP nonce width changes are implemented in #7144.

[2021-06-25 19:44] wallento commented on #7136
To complete the experiments:
- `CPOL=0`, `CPHA=0` works as expected
- `CPOL=0`, `CPHA=1` input is shifted by a bit to the lsb, output works as expected
- `CPOL=1`, `CPHA=0` input works as expected, output is shifted by a bit to the msb
- `CPOL=1`, `CPHA=1` input is shifted by a bit to the lsb and output is shifted by a bit to the msb

[2021-06-25 20:02] rasmus-madsen commented on #7143
Ideally this should handle the read of a full-text file so one does not have to copy by hand.
I have a python script that generated the current aes nist vector systemverilog code.

Also the functions for printing the vectors should be adobted.

[2021-06-25 23:33] cfrantz opened #7148 "[mask_rom] Shutdown cleanups"
The following cleanups need to be applied to the shutdown code before it can be considered complete:

- [x] Choose OTP-acceptable values (ie: constants with high hamming distances) for `shutdown_error_redact_t`, `alert_class_t`, `alert_enable_t`,  and `alert_escalate_t`. Closed by #8330
- [x] Implement FLASH_DISABLE.
- [x] Implement final ePMP restrictions for shutdown. (#14300)
- [x] Bring "local

[2021-06-25 23:35] tjaychen opened #7149 "[kmac/keymgr] kmac masking dependency and keymgr correctness"
It turns out that if kmac masking is not enabled (via parameter), keymgr can't function at all because one of the shares coming back is always 0.

This causes keymgr to fire off its kmac data invalid check and just completely disables the key manager.
We probably need to pass the same parameter information to keymgr also to ensure that the two sides are consistent.

This also brings up the questio

[2021-06-27 02:57] nicolast0604 opened #7155 "top_earlgrey_nexysvideo block diagram"
Are entropy and i2c exists ?

In the block diagram it was shown in light grey text font and I am not sure if it do exist or still under development

Thanks a lot

[2021-06-27 18:28] zi-v commented on #7140
From looking at the entropy source block diagram, I guess we can also push KAT input through fw_ov_wr_data.q (the 64x32b observe FIFO). This does not cover the health test path, but I am not sure it is needed.
In any case, we should submit our plans to the lab well enough before tapeout so we can still change if needed.
.

[2021-06-28 07:47] #6526 closed

[2021-06-28 11:20] rswarbrick opened #7158 "[otbn,spec] Is the SW team happy with our decision not to expose a stop address?"
The current OTBN design doesn't expose the PC of the final instruction that was executed. This is different from Ibex, where we're planning some sort of crash dump mechanism.

We *think* this is probably better from a security point of view, and it's definitely less work for HW and DV. But we thought we should make absolutely sure that the SW team knows and is ok with it.

In general, we expect th

[2021-06-28 11:45] GregAC commented on #7158
Whilst model and HW behaviour should match precisely you could get a divergence if the initial dmem/imem aren't the same. E.g. say you initialise dmem with some initial arguments then your OTBN program reads from an uninitialized location accidentally then branches based upon it. If you fully initialise both 4k memories before every OTBN run this wouldn't be an issue (you could at least do it as a

[2021-06-28 12:32] mundaym opened #7159 "[sw] Make Rust a mandatory dependency"
Right now Rust is an optional dependency. Build targets that depend on Rust are simply skipped if it is not installed. This then leads to test failures since Rust is required to build signed binaries. This is a bad user experience and leads to wasted time investigating the failures. The project is only going to depend on Rust more over time so we should just make it a mandatory dependency.

[2021-06-28 19:39] msfschaffner commented on #7059
We've discussed this in the security design sync today and decided to not change the currently implemented behavior.

I.e., no TL-UL errors will be generated when the SRAM is accessed while a key request is pending.
Rather, the SRAM just stalls the TL-UL request until the key has been obtained.

Software may still choose to use the polling mechanism that we have discussed above, since that has alr

[2021-06-28 19:39] #7059 closed

[2021-06-28 20:13] udinator commented on #7143
I took a quick look at the linked PR, and it doesn't seem like a massive amount of work to add AES vectors to the existing package.

@rasmus-madsen can you add your local python script to the linked PR so I can take a look and adapt it to fit our other test vectors also?

I can definitely also add better vector logging as well.

[2021-06-28 20:33] rasmus-madsen commented on #7143
@udinator sure where would be a good place to put the script?

[2021-06-28 20:35] udinator commented on #7143
`hw/dv/sv/test_vectors` would be a good starting place, I think - this is where the existing test vector collateral is located.
No need to worry about adapting it right now, I'll take care of that part.

[2021-06-28 20:41] rasmus-madsen commented on #7143
@udinator I have added it to the PR in a separate commit.
I apologize for the raw format. at some point I am planning to add input arguments and a help

[2021-06-28 20:47] udinator commented on #7143
Thanks Rasmus!
I'll take a more detailed look at the PR when I have some time - maybe you can make a follow-up PR to #6981 to add the input arguments and tidy it up some more?

[2021-06-28 21:09] rasmus-madsen opened #7166 "[doc] dead link of sim result page"
hi Cindy
on the Different IP simulations results page in the bottom there is a link to the lint results
but they all returning 404
https://reports.opentitan.org/hw/ip/aes/dv/latest/results.html

scroll to the bottom

![image](https://user-images.githubusercontent.com/53917183/123704348-d9110580-d865-11eb-80e7-5171fbb9f117.png)

[2021-06-28 21:27] cindychip commented on #7166
Thanks Rasmus, I will take a look!

[2021-06-28 21:34] udinator commented on #6370
@tjaychen yup you're right, closing now.

[2021-06-28 21:34] #6370 closed

[2021-06-28 21:51] tjaychen opened #7167 "[clkmgr] Security enhancements"
As part of reviews, it was determined that clkmgr needs to some basic security enhancements

- clock frequency measurement to ensure clocks are not drifting away from their intended targets.

if the clock frequency measurement fails, a alert must be triggered.
This will be done only for the fixed frequencies as the jittery clock will anyways change on average.

[2021-06-28 21:51] tjaychen commented on #7167
@dsandrs
let me know what you guys think of this item.  This was a result from the security reviews and I want to make sure we give it some thought.

[2021-06-28 21:53] tjaychen opened #7168 "[rstmgr] Reset security hardening"
There are a few things to enhance on the reset manager side

- reset integrity checking (if a reset fires, it is firing because something in the upper hierarchy nodes has fired)
- reset integrity checks (using potentially multiple bits to determine a reset should have fired
- shadow resets (shadow registers should ideally use different reset lines per copy)

@mateenfaisal
@dsandrs

[2021-06-28 21:53] tjaychen commented on #7168
let me know what you guys think.
These features will incur some impact on the schedule, both design and dv.

[2021-06-28 21:58] sriyerg commented on #7136
@eunchan, @weicaiyang

[2021-06-28 22:00] sriyerg commented on #7136
Note that SPI device IP is not fully verified - it is still in the V1 stage.

[2021-06-28 22:07] sriyerg commented on #7167
I will let Matute assess (and update the clkmgr testplan) these enhancements. For the chip level, the alert will get  tested as a part of the common alert test. LMK if there is any other impact at the chip level, otherwise this seem contained within the IP.

[2021-06-28 22:21] msfschaffner commented on #7021
We've discussed this in our security design meeting and settled on the following:
- external accesses to OTBN memory shall stall if there is a pending key request (same behavior as for SRAM accesses).
- if OTBN is started and memory accesses are not granted immediately by the scrambled OTBN memory - produce an error and stop.
- a CSR should be added that allows software to
  - spin wait while a ke

[2021-06-28 22:51] tjaychen opened #7170 "[clkmgr] bug dealing with multiple clocks under 1 idle"
clkmgr's support for multiple clocks in a transactional block is currently incomplete.
Specifically, it is not clear whether the single idle from a block should cover all clocks or one of them.

To address this, #7121 (and other related PRs) are doing the following:

- each block has one idle signal
- the idle signal is sync'd into the appropriate domain to gate off the clock
- for blocks that hav

[2021-06-28 22:51] tjaychen commented on #7170
@dsandrs
@mateenfaisal

[2021-06-28 23:44] bchetwynd opened #7172 "Incorrect FIFO widths in tlul_fifo_sync.sv"
The following code snippets from tlul_fifo_sync.sv define the width of the underlying fifos:
[code]

The effect of the -2 is that the opcode gets "chopped" and not enough bits are passed through to properly reconstruct the fifo.

[2021-06-29 05:54] weicaiyang commented on #7136
@wallento
I dumped a wave for `CPOL=0, CPHA=1`
![Screen Shot 2021-06-28 at 10 49 43 PM](https://user-images.githubusercontent.com/49293026/123744143-2c358900-d863-11eb-8476-13750cc6ce54.png)

here is the gold wave we refer to.
https://en.wikipedia.org/wiki/Serial_Peripheral_Interface#/media/File:SPI_timing_diagram2.svg

I feel the wave I dumped matches to the gold wave. data starts at rising edge

[2021-06-29 08:37] rasmus-madsen commented on #7143
I will try to get to that asap, as everybody else I am currently swamped

[2021-06-29 08:42] rswarbrick commented on #7172
The `-2` is to drop the `a_valid` and `d_ready` fields: there's no need to pass these through the FIFOs. If you look at the instantiation of the `prim_fifo_sync` just below these definitions, you can see things getting re-packed. I don't *think* there's anything wrong here. Can you explain why you think there's a bug?

[2021-06-29 11:20] rswarbrick opened #7174 "[dv,reggen] Could we make register lookups more efficient for scoreboards?"
When discussing #7142, @sriyerg mentioned that our use of `uvm_reg_block::get_reg_by_name` and (less often) `uvm_reg::get_field_by_name` has the potential to be rather slow.

Maybe we should think about tweaking reggen to make it faster. Looking at the implementation of `get_reg_by_name`, it works by doing a linear search through the registers in the block. We *could* get the reggen code to emit a

[2021-06-29 11:22] rswarbrick commented on #7174
We shouldn't do any of this work without some performance numbers to back it up. As a quick check, I just ran a longish chip simulation:
[code]
on the current HEAD (39df35f). Here's a breakdown by "construct":
![image](https://user-images.githubusercontent.com/104845/123788886-773bb480-d8d4-11eb-9e83-25cd6744582e.png)

If I understand correctly, this means that we only spend 4% of our time running

[2021-06-29 11:38] bchetwynd commented on #7172
As it turns out, it was more of a user issue.  I set the SpareReqW and SpareRspW parameters to zero, as I am not using them (vs using the default in the file).  As a result, the fifo width was incorrect.  Perhaps a parameter assertion?  Again, user error.

[2021-06-29 11:38] #7172 closed

[2021-06-29 13:41] rswarbrick commented on #7170
We had a chat about this at the lowRISC end and it probably makes more sense to have an idle per clock. The only use-case at the moment is OTBN and our discussion quickly got into the exact behaviour that we expect in various weird situations. It looks like this probably needs handling at the block level (where these discussions belong!), which should make clkmgr's life easier too.

[2021-06-29 13:53] wallento commented on #7136
Yes, as I wrote, the output direction works for mode 1. *But* the input direction does not read it properly, it seems the serial-2-parallel samples delayed. Did you confirm you read correctly? Can you confirm output is broken for `CPOL=1` too?

[2021-06-29 15:13] wallento commented on #7136
# Software Test Setup

[code]
# `CPOL=0, CPHA=1`

![SCR06](https://user-images.githubusercontent.com/299017/123821946-250e8980-d8fc-11eb-9182-98711813f370.PNG)

Looks great, but what OT reads: :-1:

[code]

But it sends right, what I read:  :+1:

[code]

# `CPOL=1, CPHA=0`

![SCR07](https://user-images.githubusercontent.com/299017/123822431-8fbfc500-d8fc-11eb-876c-8ffd848c5bc5.PNG)

The MSB is mis

[2021-06-29 16:23] msfschaffner commented on #7054
The PR has been merged, so I think we can close this now.

[2021-06-29 16:23] #7054 closed

[2021-06-29 16:25] sriyerg commented on #7174
The CSR tests do not enable scoreboards. The chip level the scoreboard isn't even developed (and we are not planning to either since most of the testing is done via SW). You need to run some IP level test stress test instead, where the scoreboard is enabled and it looks up the CSR accesses by name for every access.

Also, dvsim exposes `--simprofile time` switch so you dont need to pass `-bo / -ro

[2021-06-29 16:27] sriyerg commented on #7174
You may be right - the savings may be small. Still, its worth fixing our RAL flow because it's quite inefficient.

[2021-06-29 16:41] rswarbrick commented on #7170
Assuming we do decide to have an idle signal per clock, there's a bit of tooling work to do: we need to teach topgen how to wire up the "idle" signals correctly. I've just opened #7176, which is a sort of staging post in that direction. Assuming we're happy with that change, a followup commit can add an optional "idle" field to a `ClockingItem`, which could then be grabbed by the topgen code that'

[2021-06-29 16:43] rswarbrick commented on #7174
Oh! That was a silly way to profile things :-) Do you know a test that takes long enough for this to be measurable?

[2021-06-29 16:46] tjaychen commented on #7170
sure, just do whatever you guys want i guess.
just keep @matutem in the loop. I won't add more to this discussion for now.

[2021-06-29 17:14] tjaychen opened #7177 "[sram] update block level testbench to account for transmission integrity"
After #7066 is merged, need to update block level testbench since now transmission integrity for memory will be fully implemented.

[2021-06-29 17:26] weicaiyang commented on #7136
@wallento thanks for sharing the waveforms. Can you also add the `csb` input signal to the wave? `csb` affects the design sample and output. We can focus on the setting `CPOL=0, CPHA=1` first.

[2021-06-29 18:03] sriyerg commented on #7174
Al classic example would be `rv_timer` where the scoreboard is invoking `uvm_re_match` to match incoming access with the CSR because the CSRs are not indexable.
https://github.com/lowRISC/opentitan/blob/b44afb8dc4584022a9df9c1adead11a22523035b/hw/ip/rv_timer/dv/env/rv_timer_scoreboard.sv#L133

Try running the `rv_timer_stress_all` test.

[2021-06-29 18:19] tjaychen commented on #7177
@weicaiyang
@udinator i can take a first crack at this also, since i'm more familiar with the ...many options i put on tlul_adapter_sram.
But i think in general we just want it to match the version used in top_earlgrey.

[2021-06-29 18:58] weicaiyang opened #7178 "timescale in xcelium"
We use `-timescale 1ns/1ps` in our simulation. I thought we could use `1ps` but it didn't add any delay in the sim. We use `1ps` to solve some racing condition and seems like it doesn't work for xcelium.

I added this print.
[code]

But `before #1ps` and `after #1ps` printed at the same timestamp.

I also found it printed below close to the end of compile log.

Maybe I don't understand how timesca

[2021-06-29 19:27] udinator commented on #7177
sure, that sounds good! LMK if there is any debug that I can help out with.

[2021-06-29 19:35] matutem commented on #7178
1ns/1ps means the time unit is 1ns, and the time precision is 1ps.
timescale has always been messy. Could you try #0.001ns?

On Tue, Jun 29, 2021 at 11:59 AM weicaiyang ***@***.***>
wrote:

[2021-06-29 19:44] rasmus-madsen commented on #7178
as @matutem say - you need to think in terms of parts of the timescale not the resolution.
but are we understanding why these race conditions occurs?

[2021-06-29 20:10] msfschaffner commented on #7177
Another thing that remains is the integrity alert hookup inside the `sram_ctrl` (this is one of the only outstanding modules that still needs to be wired up https://github.com/lowRISC/opentitan/issues/5985).

@tjaychen once you've added the correct adapter parameterizations to the testbench, I can then go in and connect the alert if you want.

[2021-06-29 20:23] weicaiyang commented on #7178
neither `0.001ns` nor `0.1ns` works.

@rasmus-madsen we use #1ps many places. I find AES uses it as well. The race condition I mentioned here is to add some delay after reset release, to avoid seeing transaction when reset is still low.

[2021-06-29 22:46] tjaychen opened #7181 "[rv_core_ibex] Simple address translation open items"
- do we actually need separate configuration for dbus / ibus? Probably not, since there's no reason for them to be translated differently
- we may need more regions for translation as there is no guarantee that various parts of the boot stages will always be in the same flash partition.

[2021-06-29 23:12] cfrantz commented on #7181
My main concern is that each boot stage can make a decision about whether to choose the A or B side:

ROM -> ROM_EXT (A or B)
ROM_EXT -> BL0 (A or B)
BL0 -> Kernel/App (A or B)

Each of these stages have different projected sizes, they may not easily layout nicely into FLASH on power-of-two boundaries.  Consider if ROM_EXT is 16K, BL0 is 16K and Kernel is 256K.

ROM_EXT: start: 0x0, end: 0x4000
BL

[2021-06-29 23:17] tjaychen commented on #7181
@cfrantz do you think it makes more sense to align these to a start/end address (with relatively coarse granularity...say 4K or 16K)?
the alignment of two i'm doing right now would not work so well for some of the cases shown here.

i can also do some research to see what riscv does for their virtual memory systems.

[2021-06-30 02:02] #7138 closed

[2021-06-30 02:03] nicolast0604 commented on #7138
It seems that there is solution with digilent user guide.

[2021-06-30 02:05] nicolast0604 commented on #7155
I found the description in the document that it was coming soon. However, I am curious the progress and if I would like to do it myself, any suggestion?

[2021-06-30 02:06] nicolast0604 commented on #7137
Is this the solution?
https://eclipse-embed-cdt.github.io/debug/openocd/riscv/

[2021-06-30 07:49] alistair23 commented on #5810
Confirming that this is still a problem with a28c280bb976ef15b7192779c2a3f93b746fa2ca

[2021-06-30 08:03] alistair23 opened #7187 "Accessing OTBN registers on FPGA results in system hang"
When running on the FPGA accessing any OTBN register results in a full system hang.

This occurs on commit a28c280bb976ef15b7192779c2a3f93b746fa2ca but has also occurred for awhile.

I have confirmed that running the `otbn_rsa_test_fpga_nexysvideo` or the `otbn_ecdsa_p256_test_fpga_nexysvideo` test results in a hang.

[2021-06-30 08:18] rswarbrick commented on #7187
As @imphil pointed out in another issue, OTBN is stubbed out for NexysVideo builds (because the whole of OpenTitan is now too big to fit on that card). So it ain't gonna respond :-)

If you want OTBN on an FPGA, you'll need to use a larger FPGA like our CW310 builds. (Or do some work to stub out a different part of the design instead to get things fitting on the NexysVideo).

[2021-06-30 10:13] wallento commented on #7136
Ha, that was indeed the issue. I need to properly frame the transfer, the falling edge of CSB was way too early and never re-asserted. Thanks for pointing that out!

[2021-06-30 10:13] #7136 closed

[2021-06-30 10:48] mundaym opened #7189 "[mask_rom] Initialize mask_rom with pre-CRT safe interrupt vector."
The interrupt/exception handlers are setup in the mask ROM before the C runtime is fully initialized. If an NMI or exception occurs during C runtime intialization calling these handlers might result in undefined behavior since the stack and global data will not be fully initialized.

<del>One potential fix is to write a short stub of assembly that checks whether the C runtime is initialized or not

[2021-06-30 10:49] mundaym commented on #7189
Any thoughts on this @cfrantz? I'm thinking we just sit in a `wfi` loop if this happens.

[2021-06-30 10:56] mundaym opened #7190 "[sw/device] Separate interrupt/exception enum definitions from handler code"
Currently the interrupt/exception enum that represents `mcause` values is part of the handler library: https://github.com/lowRISC/opentitan/blob/99e893798a52a2ecb91c1403e1cc0e9ccda6dc35/sw/device/lib/handler.h#L8-L17

To use it one also has to adopt  the handler library's interrupt handlers which isn't ideal. It would be better for these to live in a separate header file so that, for example, the

[2021-06-30 12:13] rasmus-madsen commented on #6497
FYI  @Muqing-Liu

[2021-06-30 12:26] mundaym opened #7192 "[sw/host] Signer should check that `code_start` and `code_end` are 32-bit aligned"
The mask ROM requires that the `ROM_EXT` code region be 32-bit aligned so that it can create a PMP region covering it. The linker script needs to do this explicitly. The mask ROM checks the alignment but it would be better for the signer to catch problems.

I noticed this because the `.text` section for the `ROM_EXT` was not padded to a 32-bit boundary which caused the mask ROM to fail to boot.

[2021-06-30 13:11] rasmus-madsen commented on #6497
@tunghoang290780 can you list what command to run to replicate this?

[2021-06-30 14:50] tjaychen opened #7194 "[flash_ctrl] Erase creator_seed_info during RMA entry as well"
Only owner is wiped right now, but the latest request is for [creator](https://github.com/lowRISC/opentitan/blob/master/hw/ip/flash_ctrl/rtl/flash_ctrl_pkg.sv#L204) to be wiped as well

[2021-06-30 15:59] tjaychen opened #7197 "[otp / flash_ctrl] Isolated partition access during DEV state"
There is some concern that having the isolated partition readable during DEV state could impact the security of secrets injected during the very early stages of production.

We should consider making `ISO_SW_RD_EN` only possible during production states (PROD and PROD_END), but this will come at the cost of some early sample debuggability.

This is something we should quickly settle on.

[2021-06-30 16:09] tjaychen commented on #7194
The same also applies to isolated flash partition

[2021-06-30 16:41] cfrantz commented on #7189
IIUC, the chip boots with `_mask_rom_interrupt_vector` in mtvec and the setting of mtvec in mask_rom_start is merely a formality.  I was going to suggest we have 2 vector tables: pre-CRT and post-CRT.

The pre-CRT vector would do something sensible considering the C runtime is not initialized, whereas the post-CRT vector would invoke the shutdown manager.

In your suggestion, how would you propose

[2021-06-30 16:48] msfschaffner commented on #7197
This is very easy to implement, and requires only 2 lines to be changed in RTL - i.e., the following two lines would have to be set to `Off`.
https://github.com/lowRISC/opentitan/blob/d0cbfad15ccb1e8962e2e961ca69db4aaa3f2090/hw/ip/lc_ctrl/rtl/lc_ctrl_signal_decode.sv#L139-L140

@cindychip are the `lc_iso_part_sw_wr_en` and `lc_iso_part_sw_rd_en` access signals already checked in the DV environment

[2021-06-30 17:11] tjaychen commented on #7197
yeah i agree. And i think @zi-v has a point, we should probably make this change.
Let me just double check to make sure there aren't other unexpected effects.

[2021-06-30 18:24] weicaiyang commented on #7136
Great. Thanks for the update. LMK if you see any other issue on spi_device.

[2021-06-30 20:29] tjaychen commented on #7194
@dsandrs
@mateenfaisal

[2021-07-01 00:36] #7187 closed

[2021-07-01 00:37] alistair23 commented on #7187
Thanks for the clarification

[2021-07-01 02:42] #7192 closed

[2021-07-01 05:37] alistair23 commented on #4730
This has been fixed, I'm not sure when though.

[2021-07-01 05:37] #4730 closed

[2021-07-01 08:56] mundaym commented on #7189
Yeah, I think you are right and we should just have two vectors.

Anything else I can think of is likely to either be a hack (e.g. finding a spare bit in a CSR to use) or unreliable (e.g. using a value in SRAM). We probably wouldn't save much space anyway given the interrupt vector is relatively short.

[2021-07-01 08:57] mundaym commented on #7189
That is correct.

[2021-07-01 12:59] JunminHe opened #7209 "[question] failed to use I2C as host to read and write target registers"
Hello,

I am trying to use the I2C HWIP to control the audio codec chip, ADAU1761 (this audio codec chip is same in NexysVideo board), on Genesys 2. I have been able to run hello_world on Genesys2 . Now I cannot use I2C to do codec register read and write.

I followed the initialization of the I2C HWIP to configure timing parameter and enable I2C host functionality. The figure below is my timing c

[2021-07-01 13:35] #7024 closed

[2021-07-01 17:21] tjaychen commented on #4730
glad it's been fixed! i didnt even know there was an issue filed.
thanks!

On Wed, Jun 30, 2021 at 10:38 PM Alistair Francis ***@***.***>
wrote:

[2021-07-01 20:07] msfschaffner opened #7212 "[rv_core_ibex] Make the rv_core_ibex a comportable module"
Analogous to #7129, we should make `rv_core_ibex` a comportable module.

[2021-07-01 20:23] martin-lueker opened #7214 "[pattgen] Clear enable signal after pattern completion"
Quoting @mcy in #6763:

[2021-07-01 21:38] tjaychen opened #7215 "[rv_dm] Do we need a standard way to prevent low power entry when in debug mode?"
When the system is in an active debug state through the rv_dm, do we need to provision a mechanism that will prevent the debugger from going into low power?

This can obviously be done by the debugger just programming specific configuration in the `pwrmgr`, but just wanted to know if there was a standard way to do this like with other architectures.  If we have to add a fully customizeable bit, I

[2021-07-01 23:11] moidx commented on #5982
Hi @mwbranstad, I am revisiting this. Yes, it would be useful if you can share the nist vector sequencing you tried. I can try to add it to the dif level testing. Thanks!

[2021-07-02 01:23] moidx commented on #7140
For CSRNG we need to have the ability to provide a KAT per DRBG function: `instantiate`, `generate` and `reseed`.  In order to check the expected output, software needs access to the internal state. This means that the following register need to be available during all life cycle stages:

* `INT_STATE_VAL`
* `INT_STATE_NUM`
* `MAIN_SM_STS`
* `HALT_MAIN_SM`

This applies to all FIPS compliant entro

[2021-07-02 15:21] mundaym opened #7221 "[mask_rom] Switch entropy source mode from LFSR to PTRNG"
For development purposes the mask ROM currently enables the entropy source in 'linear feedback shift register' (LFSR) mode. This should be changed to 'physical true random number generator' (PTRNG) mode before production use.

[2021-07-02 16:49] msfschaffner opened #7222 "[dvsim] Add GUI option to CompileOneShot class"
Need to add this switch to enable interactive sessions for lint and synthesis flows.

[2021-07-02 16:50] msfschaffner commented on #7222
CC @cindychip @sriyerg

[2021-07-02 18:46] cfrantz commented on #7181
I think there are two possible solutions here:
1) Relax the NAPOT restrictions and allow the remap region to be assembled from coarse-grained chunks via the remap registers (as you suggested in your prior comments).

2) Keep the NAPOT restrictions and provide several windows at $8x00_0000, such as one per remap register.  If we chose this route, that would mean something like:
- ROM finds ROM_EXT

[2021-07-02 19:02] cfrantz commented on #5956
Having the ability to bind to a usage constraint field is required: at a minimum, we need to be able to node-lock software payloads and constrain them to certain SKU configurations.

In previous chips, a bitmask was used to select the fields (or fuses) to bind to.
- A `1` in the bitmask meant do not bind.
- A `0` in the bitmask meant do bind.

Given the values in the binding bitmask, the ROM (or R

[2021-07-02 19:49] msfschaffner opened #7225 "[sram_ctrl] Correctly calculate integrity bits when triggering the LFSR initialization"
See https://github.com/lowRISC/opentitan/pull/7220#discussion_r663126562 for context.

[2021-07-02 20:01] tjaychen commented on #7181
@cfrantz both sound good to me.
do you have a preference? If we go with the first option, i would recommend doing it on the boundary of our flash erase, since we'll have to at a minimum separate by that granularity anyways.

the second option doesn't require any HW change, so we could stick with that and see how it works out during your software prototyping and pivot as needed.  Let me know.

[2021-07-02 20:13] tjaychen commented on #7140
miguel does it even make sense to have software lockability on those
registers?
or there's no scenario we'd ever lock them out?

On Thu, Jul 1, 2021 at 6:23 PM moidx ***@***.***> wrote:

[2021-07-02 22:49] cindychip opened #7229 "[lc_ctrl] token mismatch error"
Hi Michael,

I am working on a top-level test for LC_CTRL to issue a transition from `testunlock0` state to `rma` state,
I believe this transition requires 0 token.
But I kept getting this invalid_token error on status.

I saw the expected Zero token is `8d05_b96d_5fd2_c1d5_f15f_cfae_5b30_5238`
But the output token from kmac is `3852_305b_aecf_5ff1_d5c1_d25f_6db9_058d`
Looks like the MSB and LSB w

[2021-07-02 22:56] msfschaffner commented on #7222
(it may already be present in one form or another, but I haven't verified that this works for these flows yet).

[2021-07-02 22:57] cindychip commented on #7222
i think the current flow only support SimCfg (simulation mode), I do not think we have any support for other tools yet.

[2021-07-02 22:59] msfschaffner commented on #7229
Hi @cindychip - I almost expected that this might happen. The python cshake library apparently works in reversed order. Let me take a look (might be a scripting change only).

[2021-07-02 23:06] msfschaffner commented on #7229
Can you check whether #7231 fixes the problem?

[2021-07-03 00:30] msfschaffner commented on #7225
@msfschaffner
one thing that i realized about the memory init... because the integrity right now is handled inside `tlul_adapter_sram`, the sram init actually still does not produce correct integrity.

This is probably something we'll want to update and allow the init to happen either in the sram itself or from the tlul adapter sram.

_Originally posted by @tjaychen in https://github.com/lowRISC/o

[2021-07-03 00:30] msfschaffner commented on #7225
yes I can update that. I am in the process of absorbing the ram primitive into the sram_ctrl, so I can technically pull the LFSR back out into the sram_ctrl and compute the correct ECC. let me make an issue for this.

_Originally posted by @msfschaffner in https://github.com/lowRISC/opentitan/pull/7220#discussion_r663219028_

[2021-07-03 00:31] msfschaffner commented on #7225
do you think it makes sense to give the tlul_adapter_sram the "init" ability?
The ecc encoders are tiny..so it doesn't bother me too much, but it feels a little weird to have duplicate copies in tlul_adapter_sram (for the byte purpose), and also one in sram_ctrl.

let me know what you think.

_Originally posted by @tjaychen in https://github.com/lowRISC/opentitan/pull/7220#discussion_r663220213_

[2021-07-03 00:31] msfschaffner commented on #7225
we can also move it into `tlul_adapter_sram`, yes. maybe this init mechanism comes in handy in some other designs in the future. we just have to be aware of the coverage impact in existing modules that make use of this module...

_Originally posted by @msfschaffner in https://github.com/lowRISC/opentitan/pull/7220#discussion_r663292430_

[2021-07-03 04:15] #7229 closed

[2021-07-03 19:08] martin-lueker commented on #5134
Resolved.

The existing passthough interface in #5888 and #5936 is sufficient.   Per conversation with @cfrantz and others, There is no use case where FSM driven commands may be interrupted by passthrough commands, as FSM driven commands will only happen when the upstream SPI host (driving the OpenTitan SPI device) is held in reset.

[2021-07-03 19:09] martin-lueker commented on #5168
Resolution: No support for XIP in OpenTitan SPI Host

[2021-07-03 19:09] #5168 closed

[2021-07-03 19:10] martin-lueker commented on #5216
@rswarbrick: Are we going to do anything further around this issue?

[2021-07-03 19:12] martin-lueker commented on #5484
Hi @weicaiyang,
    Following up on this.  Yes we should treat this as a write-only Memory.  Can you point to an example of the appropriate waivers?
-Martin

[2021-07-03 19:13] martin-lueker commented on #5525
Closing this issue now that #5586 is merged

[2021-07-03 19:13] #5525 closed

[2021-07-03 19:24] martin-lueker commented on #5158
@cfrantz and @mcy: This was a question that came up during a DV review.   It is an odd corner case, where someone tries to abort an ongoing SPI "command segment", by clearing SPIEN while the segment is running.   I think we can do anything we want, but I'd be curious what is preferred by your teams.

@rasmus-madsen:  Now that you are looking at verifying this IP, maybe you can weigh in on this als

[2021-07-03 22:11] martin-lueker commented on #5157
This issue has been changed in the final RTL, and is described in the spec update #7135

[2021-07-05 13:39] rasmus-madsen commented on #5158
@martin-lueker from a verification perspective I would say it is easier to allow the FSM to finish before halting.
This removes a bunch of verification headaches on trying to detect whether an operation was able to finish before the de-
assertion of SPIEN.

IMO this is also conceptually easier to understand - and goes better with the description of the register:

Presumably, this only extends to s

[2021-07-05 16:23] imphil commented on #6420
Implemented in https://github.com/lowRISC/opentitan/pull/7020

[2021-07-05 16:23] #6420 closed

[2021-07-05 16:24] imphil commented on #6423
Implemented in https://github.com/lowRISC/opentitan/pull/7020

[2021-07-05 16:24] #6423 closed

[2021-07-06 19:22] mwbranstad commented on #5982
Pasting a snapshot of my system verilog test file. All code is included in this one file to run nist vectors.

// Description: csrng system verilog unit test bench
//   The intent of this test bench is to get basics running,
//   such as clocks and reset, basic register writes and reads,
//   basic block operation. No configurable BFMs are included
//   in this environment.

module csrng_tb;

  im

[2021-07-06 19:53] mwbranstad commented on #7140
@moidx @tjaychen my take-away here is that we need an issue created to remove the "otp_en_csrng_sw_app_read_i" input that only prevents reading from the internal_state registers. The "lc_hw_debug_en_i" has no affect on this function and can stay.

[2021-07-06 20:00] mwbranstad commented on #7140
After more discussion, here is the current status:
ES: no changes required (use FW override mode to test SHA3)
CSRNG: possibly remove the sw_read efuse, or always enable it
EDN: no known changes needed

[2021-07-07 15:58] cindychip opened #7241 "[lc_ctrl] scrap transition token error"
Hi Michael,

Here is an issue with LC state transition to Scrap state:
1). LC current state: RMA, cnt: 7.
2). Request transition to Scrap state.
3). LC send otp_program_o to update count to 16 (because it is Scrap state)   --> successed
4). LC send otp_program_o to update state to Scrap state ---> Failed because the request count is 8 instead of 16.

Issue:
When we request lc_cnt update, `lc_fsm_s

[2021-07-07 16:28] #5157 closed

[2021-07-07 17:44] imphil commented on #6176
Documentation done in #7239

[2021-07-07 17:44] #6176 closed

[2021-07-07 18:37] weicaiyang commented on #5484
Hi @martin-lueker
Our automatic mem test should be able to handle WO mem. Let me enable that for this block. Will let you know if I see any issue.

[2021-07-07 19:22] tjaychen commented on #7225
yeah. Honestly both are okay with me.
The main reason i was thinking to move this to `init` because as things are structured now `prim_ram_1p_scr` isn't actually aware of the integrity, it just treats it like extra storage bits.

So it feels like if we were to stay consistent, the "init" would also need to be at a place that understood the integrity.

[2021-07-07 20:49] tjaychen commented on #5134
wait hold on, is that true?

[2021-07-07 20:53] martin-lueker commented on #5134
Clarification: By SPI Host, I mean not the SPI Host IP, rather the *system level host*.  Is there a  better term for this.

@cfrantz: can you perhaps clarify (here, for posterity) why we are don't care about collisions between simultaneous FSM-driven or passthrough-driven traffic?

[2021-07-07 20:53] msfschaffner commented on #7197
This issue has been addressed - closing.

[2021-07-07 20:57] tjaychen commented on #5134
yeah the key paragraph from @cfrantz response to me is here.
Basically, there are going to be situations where certain commands from the external `SPI HOST` will trigger the passthrough path to "open".  This opening then allows the internal spi_host to takeover the pins and directly communicate with the external spi device.

It might be perfectly to control this timing from the perspective of the

[2021-07-07 20:59] tjaychen commented on #7197
hmmm...i was hoping to discuss this with the software teams before going through with the change...

[2021-07-07 21:09] tjaychen commented on #7140
@mwbranstad sorry i might be a bit out of date.
For the entropy src case, we are keeping the otp input, but will hardwire in the top level to "enable", i think that's what we agreed on last time right?

For csrng then, shouldn't we do something similar? That way we still have all the flexibility at the block, and can leave the decision to integration level.

[2021-07-07 21:11] msfschaffner commented on #7241
Ok, I think I know what the problem is. Can you check whether #7241 solves the problem?

[2021-07-07 21:13] martin-lueker commented on #5134
Great.  However what I'm understanding is for broader system level reasons, OT firmware  will never want to use the internal SPI HOST, at any time when it is concerned about the external SPI Host issuing these "open" commands.    There is no use case where these collisions can occur.  (Or is there?)

[2021-07-07 21:16] tjaychen commented on #5134
yes there technically shouldn't be any collision.  But there SHOULD be a graceful hand off from..

external host issuing passthrough commands -> spi device "open" passthrough pass (disable it) -> spi host now controls the spi pins

Similarly there probably needs to be a graceful transition in the reverse direction when the software is no longer in need of the interface.

I guess what I'm saying th

[2021-07-07 21:17] martin-lueker commented on #5134
Sure, but isn't all of this outside the scope of the SPI HOST IP?

[2021-07-07 21:25] tjaychen commented on #5134
i.. THINK so :)
but it depends on where you want to put the logic i guess.

You could argue for example, the `spi_host` ip should be the final arbitrator, and that the passthrough_en coming from `spi_device` is just a request signal.  The "close" switch then, could then be implemented on the spi_host side (you could also allocate a software bit to say "i no longer need this interface", similar to

[2021-07-07 21:29] msfschaffner commented on #7197
Ah sorry, I moved a bit too fast on this one. Let me reopen this issue such that we can track this. If needed, I'll revert the RTL change.

[2021-07-07 21:30] mwbranstad commented on #7140
@tjaychen all true. Based on what @moidx was saying for KAT always being available, this would imply that all otp efuses need to be enabled.

[2021-07-07 21:32] tjaychen commented on #7140
yeah i think for CSRNG, it might be good to have that local software bit (the same thing as `entropy_src`)

[2021-07-07 21:33] martin-lueker commented on #5134
FYI @eunchan

SPI_DEVICE is the only and final arbiter.  SPI_HOST IP really has no knowledge of what is happening between SPI_DEVICE and the upstream host.   From what I understand there is really nothing that SPI_HOST can or should do to release this (and this would be an unnecessary complication).  Furthermore if a condition arises where SPI DEVICE needs to grab the bus immediately while SPI_HOS

[2021-07-07 21:33] tjaychen commented on #7197
no it's fine let's close this for now.
I was actually hoping to discuss this today but most of the needed people are out.

i'll bring it up next week, and if there's a need to revert, let's re-open it then.

[2021-07-07 21:33] #7197 closed

[2021-07-07 21:34] tjaychen commented on #5134
that all sounds good to me.
So maybe the right thing to do here is really open a separate `SPI_DEVICE` issue to track this?

[2021-07-07 22:28] tjaychen opened #7244 "[pwm] Request to alter style"
This isn't in our coding style, but after a quick discussions with the physical design guys, we probably want to avoid variable reset values as shown [here](https://github.com/lowRISC/opentitan/blob/master/hw/ip/pwm/rtl/pwm_chan.sv#L90).

The concern is that this may cause set / reset line type race issues (seen in different projects before).

[2021-07-07 22:29] #7241 closed

[2021-07-07 22:31] msfschaffner opened #7245 "[otp_ctrl/lc_ctrl] Open RTL alignments / security bugfixes"
This issue is intended to keep track of the comments on #7150 and the decision whether to move forward with this and related changes.

[2021-07-07 22:34] msfschaffner commented on #7245
@cindychip, please pull this PR locally and run full otp ctrl nightly to assess V2 readiness. If our coverage drops below V2 level, we will need to revert the D/V stage and do a version bump. @msfschaffner, i suppose you need to check the same for D2 readiness.

Also, please assess the amount of work to account for this change and lets have the smartsheet updated to reflect that.

@msfschaffner, a

[2021-07-07 22:35] msfschaffner commented on #7245
Thanks Sri for tagging me. I do need to add more checkings for this new `valid` output ports.
As for DV impact: I ran the DV nightly with this new change. The V1 and V2 tests are all passing. Only failing test is `otp_ctrl_tl_intg_err`.

Not much coverage impact for V2 either:
|  SCORE  |  LINE   |  COND   |  TOGGLE  |   FSM    |  BRANCH  |  ASSERT  |  GROUP  |
|:-------:|:-------:|:-------:|:----

[2021-07-07 22:35] msfschaffner commented on #7245
Sorry I should have communicated this better.

This is fixes a security bug.

For context:
The life cycle controller did not check the provisioning status of `SECRET2` upon life cycle transitions from `PROD*/DEV` into `RMA`, which opens up an undesirable loop hole. In particular:
- The HW currently does not  It is not enforced that `SECRET2` becomes unreadable by SW when moving through `PROD*/DEV`

[2021-07-07 22:39] msfschaffner commented on #7245
The minor alignments #7151 and #7152 have been merged in by now.
The two that are still open are:

- #7150
- #7152

From a discussion that @cindychip and I had, these changes should not affect V2 status (backed by the coverage statistics posted above), nor introduce significant DV overhead as they are not really new features and can be covered with existing vectors.

Can you confirm this, @cindych

[2021-07-07 22:40] tjaychen commented on #7245
okay from my side.

[2021-07-07 22:48] cindychip commented on #7245
Hi Michael. Thanks for documenting it. yes I can confirm both should not affect DV V2 status.

[2021-07-07 23:23] msfschaffner commented on #7245
Thanks for the feedback. Can someone approve the two PRs?

[2021-07-07 23:37] alphan commented on #6653
It looks like this issue was created just before we added signature verification to Mask ROM (#6550). Updated reproduction steps to use `build-bin/sw/device/boot_rom/boot_rom_sim_verilator.scr.40.vmem` since functional tests use the test boot rom but I'm not sure if anything else needs to be updated. @tjaychen @moidx PTAL.

[2021-07-07 23:57] tjaychen commented on #6653
thanks @alphan ! this definitely explains why i couldn't reproduce this test exactly.
@moidx does it make sense for this test, we create a signed version of it? I think you wanted to test the ROM programming of some of the inputs as part of the test?

[2021-07-08 00:03] udinator opened #7246 "Coverage collection on common TL components"
Stems from a discussion in #6974.

A main question is (using the KMAC as an example), should we completely exclude modules like `tlul_adapter_sram` and `tlul_adapter_sram_msgfifo` from coverage collection if the designer thinks it is not very useful, keep full coverage collection on these modules as there isn't a verification source-of-truth for these (and different HWIPs use different parameteriz

[2021-07-08 00:07] msfschaffner commented on #5478
Update: An `rv_core_ibex` peripheral as discussed above has been added in https://github.com/lowRISC/opentitan/pull/7128.

Note: It has in the mean time become possible to have modules with TL-UL device and host plugs.
Hence we plan to make ibex a fully comportable module, and absorb the functionality that has been added as part of the `rv_core_ibex` peripheral mentioned above. This is tracked sep

[2021-07-08 00:11] tjaychen commented on #5478
let's close it for now. The ibex as a peripheral will come separately.

[2021-07-08 00:11] #5478 closed

[2021-07-08 12:39] mwbranstad commented on #7140
not sure what is the intention is here for a local software bit. there are local block enable bits (assuming that is not the reference here), but for otp inputs, they are generally direct combo logic that enable whatever the security sensitive function is - maybe need more context?

[2021-07-08 16:55] tjaychen commented on #7140
@mwbranstad i was referring to something [like this](https://github.com/lowRISC/opentitan/blob/master/hw/ip/entropy_src/rtl/entropy_src_core.sv#L434).

My thinking is that if we have both the fuse and software bit, then if at the top level we hard-wire the fuse bits to '1', it means we basically allow software to fully control its destiny.  If we connect it to the otp controller, then that means s

[2021-07-08 18:23] #6937 closed

[2021-07-08 18:34] cindychip opened #7251 "[lc_ctrl] should we assert escalation_en during PostTrans State?"
This tracks an offline discussion between Michael and I.

Issue:
When lc transition handshake finished without error, LC_CTRL goes to PostTrans state.
In lc_ctrl_signal_decode.sv, this will turn on `escalation_en` signal:
https://github.com/lowRISC/opentitan/blob/master/hw/ip/lc_ctrl/rtl/lc_ctrl_signal_decode.sv#L179

Michael and I found this `escalation_en` will trigger alert, and can potentially

[2021-07-08 19:23] msfschaffner commented on #7245
OK, the pending items have been merged - closing this one down.

[2021-07-08 19:23] #7245 closed

[2021-07-08 21:32] msfschaffner commented on #6046
@cfrantz @a-pronin @jesultra

[2021-07-08 22:07] mwbranstad commented on #7140
I had forgotten that I had that gating condition, so thanks for pointing it out. Yes, having that flexibility would probably be useful. Originally I thought that guarding the function with an additional software bit would not add much from a security point of view, but if we make this bit locked down (REGWRT type bit) maybe that would be the best solution.

[2021-07-08 23:07] eunchan commented on #6831
Thanks for the issue. The current entropy FSM only checks the mode when the SW sets entropy_ready bit.
I think, it is good to move FSM back to `StReset` when SW clears the `entropy_ready` so that it can check the mode again.

And latch the Entropy mode only when it moves from StReset to other state so that the seed cannot be abruptly changed to '0 in case of `EntropyModeNone` while operating.

[2021-07-08 23:29] eunchan commented on #6842
Thanks Udi. This is indeed a bug. Your suggested solution looks good. Let me implement it and check the timing (I think only timing will matter with this solution).

[2021-07-09 02:52] moidx commented on #5982
Thanks @mwbranstad, I am trying the following vector, which is used in the tb from your previous comment:

[code]

I am using `flag0 = 1` in order to skip mixing the entropy source, however, the update command seems to be mixing the seed coming from the entropy source.

![flag0](https://user-images.githubusercontent.com/4177786/125016008-7833bb00-e025-11eb-90a5-edfb65338644.png)

It seems that thi

[2021-07-09 07:17] likewise commented on #5810
Although I am using Ibex independently with a debug module in my case I had a similar error when I used TRSTn. Removing that wire (or using reset_config none in the OpenOCD configuration) helped me pass. (I am not sure why that is, TRST should reset the TAP controller). I am not too familiar with the OpenTitan setup, but are you all using the same debug dongle, OpenOCD settings and FPGA board?

[2021-07-09 15:35] imphil commented on #6948
https://github.com/lowRISC/opentitan/pull/7259 has the trivial hardware implementation.

I also added quick-and-dirty tooling to encode a linear instruction sequence, patch the ELF file, and run it on OTBN to confirm the whole approach works (and it does).

Let's see what the timing reports have to say.

[2021-07-09 15:38] imphil commented on #6948
(Moved back into current sprint now that it has been extended.)

[2021-07-09 15:40] mwbranstad commented on #5982
just for clarity, the "update" command should not be used for the nist vectors test, as that is a private one - maybe you just meant "instantiate" command.
For the scenario, your instantiate command should be -> 32'h0000_01c1 (flag0 set, clen=12, instantiate cmd)
Then set the "adata" to the seed value (EntropyInput).
Once done, the internal state should have the above key, v, and rc values updated

[2021-07-09 16:52] timothytrippel opened #7260 "[doc] too many "Getting Started" pages make its difficult to follow instructions"
In order to make the project more appealing to newcomers I propose:
1. Moving the master [Getting Started](https://docs.opentitan.org/doc/ug/getting_started/) page to the [top level documentation page](https://docs.opentitan.org/).
2. Refactoring the [Getting Started](https://docs.opentitan.org/doc/ug/getting_started/) page to: a) make it more concise, b) add a flowchart highlighting instructions,

[2021-07-09 17:00] alphan commented on #7260
/cc @domrizz0

[2021-07-09 17:09] eunchan commented on #6843
I think the solution is quite similar with #6842 If we block the incorrect command, the MsgFIFO won't catch the assertion.

[2021-07-09 17:31] tjaychen commented on #7260
these all sound good to me.  Do you want to maybe mock up a diagram of what you have in mind? Because that master page also doesn't link any info about DV at the moment, or the top level documentation (which is itself outdated right now).

[2021-07-09 17:35] timothytrippel commented on #7260
@tjaychen Will do.

I also noticed the [Quickstart](https://docs.opentitan.org/doc/ug/quickstart/) page relies on releases almost 2 years old, since the documentation references pre-built Verilator sim. binaries and FPGA bitstreams. Though I think this should be filed as another issue (or will be addressed in future build system upgrades).

[2021-07-09 17:50] cindychip commented on #7251
Close this issue as PR #7252 merged.

[2021-07-09 17:50] #7251 closed

[2021-07-09 18:17] udinator commented on #6843
hmm, that makes sense to me.

[2021-07-09 19:48] timothytrippel commented on #7260
@domrizz0 @tjaychen I was thinking something like this for the figure:

![getting-started-workflow](https://user-images.githubusercontent.com/5633066/125129123-f5663b00-e0cc-11eb-8daa-a09f1e49b3d8.png)

I will include the refactored writing and finalized figure in a PR for review.

[2021-07-09 20:33] tjaychen commented on #7260
o nice, i like that.  Should build SW be its own veritical you think? Because that also technically feeds into DV as well.

@imphil
@sriyerg

would be good to hear from others also.

[2021-07-10 15:45] rswarbrick commented on #5216
I'm not expecting to work on it soon: feel free to take it on :-)

[2021-07-10 15:58] rswarbrick commented on #7260
Definitely, OTBN testing needs a working RISC-V toolchain, and so do some of the chip-level tests (which can be run through VCS or Xcelium, so belong in the "left column" of the diagram)

As the documentation currently stands, we claim that you have to install a whole load of stuff as a "base system": we don't currently distinguish between different use cases. Maybe we should, but that will be qui

[2021-07-12 09:52] imphil commented on #6948
As expected, an in-line full (12 round) PRINCE fails timing by at least 1.8ns. Michael is trying a reduced-round version, but it'll be very tight for sure. That's enough information for now.

[2021-07-12 09:52] #6948 closed

[2021-07-12 09:59] asb commented on #7260
@mundaym has been sketching out some proposals in this area - what do you think Michael? It would make sense for you to join efforts on this I think.

[2021-07-12 10:08] rswarbrick commented on #7246
With no "block level" verification for these components, the only sensible approach seems (to me) that we should enable coverage collection for all users, waiving any unused functionality. If this turns out to be a pain, the next step would be to do separate verification for them and then turn coverage collection off at the use sites.

[2021-07-12 10:22] rswarbrick opened #7271 "[lint] AscentLint overnights seem to be checking a different version of the code?"
Looking at this report, for example: https://reports.opentitan.org/hw/ip/rom_ctrl/lint/ascentlint/2021.07.10_07.07.38/results.html

There are the following lint errors:
[code]

The report claims to be for version cdfb03a14. However, the line numbers look a bit weird compared to the code there. Also, `TopBitInt` has been unsigned since commit fb2d11951f (merged in April), which also got rid of the

[2021-07-12 10:25] imphil commented on #5334
Fixed through #6576

[2021-07-12 10:25] #5334 closed

[2021-07-12 12:32] imphil commented on #6566
Merged in https://github.com/lowRISC/opentitan/pull/6764

[2021-07-12 12:32] #6566 closed

[2021-07-12 12:54] #6449 closed

[2021-07-12 12:58] #2863 closed

[2021-07-12 13:37] rswarbrick opened #7273 "[otbn,dv] Hit coverage for all loop- and call-stack points and crosses"
Placeholder for sprint backlog!

[2021-07-12 13:50] rswarbrick commented on #6482
Other options:

- Tooling: Spit out a warning from the assembler on `BN.ADDI _, _, 0` with a way to waive it.
- Improve documentation (probably not enough?)
- Actually disallow `BN.ADDI _, _, 0` (raise a bad instruction error) to force programmers to use `BN.MOV`. If we do this, we need to make sure no-one is ever going to need to set the flags like this (maybe you could use e.g. `BN.AND` for a si

[2021-07-12 15:17] timothytrippel commented on #7260
Ah got it, I will include 'BUILD SW' under the DV flow too.

Agreed, maybe just keep it simple for now (i.e., install the "base system"), and add more detailed installation guides in the future for the various use cases?

[2021-07-12 15:42] timothytrippel commented on #7260
I was thinking the latter: just adding a big 'GET STARTED' button on the introduction page. Yes agreed, I think it is currently obscured by the text.

Yes, makes sense. Personally, I too am a big fan of Docker containers for reproducibility. There are a couple options here:
1) leave things as they are for now, i.e. just request users to install deps manually, or
2) add a pointer to the Dockerfile

[2021-07-12 16:54] cfrantz commented on #5134
This last comment by @martin-lueker is correct.

My reading of the firmware which implements the interposer in the legacy chip is that we rely on the behavior of the upstream (external) spi host driving a transaction into the spi_device to behave properly.  When an upstream device issues an opcode which is trapped by firmware (e.g. ERASE, PROGRAM), the spi eeprom protocol around the busy bit is wh

[2021-07-12 17:30] tjaychen commented on #5134
sounds good! I think specifically to your last point @cfrantz , that's something we'll have to make sure to test end-to-end in all of our platforms, so that we can ensure when the host is well behaved, everything works correctly together.

[2021-07-12 17:30] tjaychen commented on #5134
i'll also open a separate issue on spi_device to point out we need to do this kind of arbitration, and reference the comments in this one.

[2021-07-12 17:35] imphil opened #7277 "[otbn] Add testing for lifecycle escalate input signal to test plan"
OTBN has a lifecycle escalate input signal. After specifying what it actually does exactly (#4227) we need to specify the testing in the test plan.

[2021-07-12 18:22] msfschaffner commented on #7271
Hey @rswarbrick,

I quickly had a look at https://github.com/lowRISC/opentitan/commit/cdfb03a1419a5b1fe0dcde4c00179c5be9579fd5 and the lint messages seem to be indeed from that commit - so the commit/lint report correspondence seems to be fine.

However, I think you are right and something went awry with the checkout process in the nightly cronjob script. We've recently had a couple of internal to

[2021-07-12 18:38] #6285 closed

[2021-07-12 18:40] eunchan commented on #6831
One issue I am thinking of: If we ever let the state machine back to `StReset`, then the entropy module generates dummy entropy to the following modules. It is mainly for ROM_CTRL to check the rom image when no entropy_src , csrng, edn are ready. Issue #6285 describes it.

So, I think we just stick to whatever programmed when the FSM is out from `StReset` and never go back. WDYT @udinator ?

[2021-07-12 18:43] msfschaffner commented on #7271
Ok something got out of sync in my scratch repositories used for the nightly builds. This should work again now, see [newest lint run](https://reports.opentitan.org/hw/ip/rom_ctrl/lint/ascentlint/latest/results.html) on rom_ctrl.

[2021-07-12 18:56] weicaiyang commented on #7246
Agree with @rswarbrick

The adapter has many parameters. Different IP uses different parameters. I don't think we should exclude it without proving it's actually covered.
https://github.com/lowRISC/opentitan/blob/8888540036f453a40d23e345064e1af5eb644210/hw/ip/tlul/rtl/tlul_adapter_sram.sv#L20-L34

[2021-07-12 19:08] tjaychen opened #7278 "[kmac] Kmac output length encoding and key manager"
The key manager / kmac connection was expanded to 384-bits to accommodate the new expanded seed size in #7255 .
However, the hardware driven kmac usage right now encodes the key size as part of output length encoding.

We should look at this to see if it needs to be updated as well.  It may also have been my misreading of the code, so it would be great if @udinator and @eunchan can chime in, and I

[2021-07-12 19:20] eunchan commented on #7278
Do you expect to increase the secret key size too?

[2021-07-12 19:25] eunchan commented on #7246
IPs use and are going to use highly configurable primitives and TL components. They components should be easy to use, does not require the users to understand their internal implementations but the interfaces.

If we mandate the users ( Designers ) to check the coverages for those primitives / components, it requires the designers to spend times on understanding every primitives they instantiated.

[2021-07-12 19:25] imphil commented on #6955
An item that came up in a meeting today: If we trigger secure wipe as local action to a fatal alert this should be gated by a lifecycle state to enable debugging.

[2021-07-12 19:26] imphil commented on #7158
We talked this through today with @cfrantz, @cdgori, @moidx and others and the initial feeling is that even though having the stop address could be useful for debugging, but for many scenarios the same  debugging insight can be obtained by modifying the software that runs on OTBN to explicitly write out the necessary information.

We need to ensure, however, that the DMEM secure wipe isn't erasing

[2021-07-12 19:26] #7158 closed

[2021-07-12 19:29] tjaychen commented on #7278
at the moment no. The secret key size is the same, it's just the digest
size that is increasing.

On Mon, Jul 12, 2021 at 12:20 PM Eunchan Kim ***@***.***>
wrote:

[2021-07-12 19:30] tjaychen commented on #7278
so this is the part maybe i'm confusing, for kmac does the output size HAVE
to be the same as key size?
I thought it could be different.

On Mon, Jul 12, 2021 at 12:29 PM Timothy Chen ***@***.***> wrote:

[2021-07-12 19:37] msfschaffner commented on #6656
Yes this is a known issue.
The Verilator TB is not fully aligned with the ASIC TB environment.
See also:
- https://github.com/lowRISC/opentitan/issues/295
- https://github.com/lowRISC/opentitan/issues/6103

[2021-07-12 19:42] imphil opened #7279 "[tracking] [OTBN.H.KEY_SIDELOAD] Key sideload support"
This is a tracking issue covering all aspects of specification and implementation for the feature. Please link to/comment in separate issues for subtasks.

* [x] #8502
* [x] https://github.com/lowRISC/opentitan/issues/8692
* [x] #9401
* [x] DIF/host SW (if necessary) (N/A: This is not accessible to SW)

[2021-07-12 19:46] eunchan commented on #7278
It can be different.

[2021-07-12 19:49] imphil commented on #6178
OTBN HW CFI is deprioritized for now, so let's close this issue and revisit if things change.

[2021-07-12 19:49] #6178 closed

[2021-07-12 19:55] tjaychen commented on #7278
sounds good! do you want me to try and make modifications regarding the
different output length?

On Mon, Jul 12, 2021 at 12:46 PM Eunchan Kim ***@***.***>
wrote:

[2021-07-12 20:07] rasmus-madsen opened #7281 "spi_host does not start transmission"
hi @martin-lueker / @Muqing-Liu
as mentioned I am working on a very basic spi_host.
But I can't even get the chip-select to activate.
I am unsure if I am missing a setting in a register or if there is a hardware bug.

polling status until READY is high
then I am writing
config opts: 0x041F_0000
control:        0x8000_0200
CSID:            0x0000_0000

REad Status wait for READY

DATA window: 0x001

[2021-07-12 20:21] sriyerg commented on #7246
Lets exclude these blocks from simulation coverage ONLY if it is deemed too much of an effort with very little ROI to exclude the uncovered bits within these blocks. My hope is once the user has an understanding of why things are uncovered in a primitive in one block, it should be easier to analyze the same primitives in other blocks, so it should get progressively quicker.

I understand analyzing

[2021-07-12 20:27] eunchan commented on #7278
OK no problem. :) Thanks for the help.

[2021-07-12 20:39] udinator commented on #6831
hmm. That makes sense to me - so we would just configure an entropy mode once per reset.

[2021-07-13 00:25] cindychip opened #7286 "[lc_ctrl] assertion error in scrap state"
Hi Michael,

I found an assertion failure when we enter lc scrap state. The lc_ctrl escalation_en signal toggle during scrap state. I think it is mainly an assertion error, but just want to let you know this case, and see if there is any potential issue with this behavior.

Failed assertion:
https://github.com/lowRISC/opentitan/blob/master/hw/ip/lc_ctrl/rtl/lc_ctrl_fsm.sv#L564

Sequence:
1). Lc in

[2021-07-13 00:27] moidx commented on #5982
Hi @mwbranstad, that is correct, I am looking at the `instantiate` command with `flag0` set (`32'h0000_01c1`). In order to implement the KAT test for the `DRBG.instantiate` function, I need to access to the internal state values `k` and `v`. Right now CSRNG is mixing the entropy_src with `adata` even if `flag0 = 1'b1`, which causes the KAT test to fail.

I ended up looking at the internal update f

[2021-07-13 01:23] moffen opened #7287 "OpenTitan to register for PEN with IANA"
Current X.509 proposals include an OpenTitan unique extension, e.g., the "OpenTitan Creator Identity custom extension", see: https://docs.opentitan.org/doc/security/specs/attestation/

Use of OT unique X.509 extensions requires OT to have a PEN with IANA in order to create OIDs for these extensions. Last check (July 12, 2021) indicates that OT does not have its own PEN; see:
https://www.iana.org/a

[2021-07-13 01:50] moidx commented on #7287
CC: @asb @domrizz0

[2021-07-13 08:30] rswarbrick commented on #7174
Good idea! Running `util/dvsim/dvsim.py hw/ip/rv_timer/dv/rv_timer_sim_cfg.hjson -i rv_timer_stress_all --fixed-seed 1 --profile=time` on current HEAD takes about 30 minutes and gives the following:

![image](https://user-images.githubusercontent.com/104845/125417891-cc04a781-816c-4f2c-a36a-21df762bf33c.png)

Since the `uvm_re_match` calls are all on the A channel, they are children of the `a_chan

[2021-07-13 08:33] rswarbrick commented on #7271
Brill, thanks!

[2021-07-13 08:35] rswarbrick commented on #4327
This discussion is a bit outdated and the specific question about stop address was split out (by accident) into #7158, which we've just resolved for now. Let's close this issue since we seem to have agreement that we're not going to report anything extra at the moment.

[2021-07-13 08:35] #4327 closed

[2021-07-13 09:53] imphil commented on #7244
PR: https://github.com/lowRISC/opentitan/pull/7283

[2021-07-13 10:30] imphil opened #7289 "[dvsim] KeyError: <SimCfg.SimCfg object at 0x7f16327f7700>"
When running in GUI mode with more than one test I get the following error. (It works fine without `--gui``):

[code]

@sriyerg

[2021-07-13 12:59] #4228 closed

[2021-07-13 18:57] cindychip opened #7294 "[otp_ctrl] rma_token_valid reflects secret0 partition?"
Hey Michael,

For the recently added `lc_data_o` valid signals, I have a question for `rma_token_valid`:
In otp_ctrl.sv here: https://github.com/lowRISC/opentitan/blob/master/hw/ip/otp_ctrl/rtl/otp_ctrl.sv#L1182
`  assign rma_token_valid = (part_digest[Secret0Idx] != '0) ? lc_ctrl_pkg::On : lc_ctrl_pkg::Off;`
But from the `otp_ctrl_reg_pkg`: https://github.com/lowRISC/opentitan/blob/master/hw/ip/o

[2021-07-13 22:13] msfschaffner commented on #3601
Just came across this issue again and updated it with the current status.
@sriyerg can you take a look at the two DV suggestions above and decide whether to spin them out into separate issues or whether they can be dismissed (such that we can close this issue)?

[2021-07-13 22:28] msfschaffner commented on #7294
Thanks @cindychip, good catch!
1) This is a typo - it should be `Secret2Idx`.
2) Initially I thought about doing it that way, but I then added separate valid signals to make this more generic. I.e., if we ever have to move the RMA token into a different partition than the root secrets, we could still do that without having to change the interface signals. Does that make sense?

[2021-07-14 00:50] #7294 closed

[2021-07-14 01:42] msfschaffner commented on #7286
Hey @cindychip, good catch!

I believe this really uncovers two issues:
1) the first is the ON -> OFF -> ON toggle issue, which appears to be a logic bug in the signal decode process. i.e., deassertion happens for 1 cycle if `lc_state_valid_i` goes to 0 here: https://github.com/lowRISC/opentitan/blob/02e982f3b357340ab49e2d8c2580c77253480b65/hw/ip/lc_ctrl/rtl/lc_ctrl_signal_decode.sv#L87
then in th

[2021-07-14 17:32] #7286 closed

[2021-07-14 17:42] cindychip opened #7308 "[chip/aes] Edn request assertion error in when lc_escalation is `On`"
Hi Pirmin,

In top-level LC Scrap State test, I found AES has an assertion error:

The failure assertion is: https://github.com/lowRISC/opentitan/blob/master/hw/ip/prim/rtl/prim_sync_reqack.sv#L172

The sequence is:
1). After reset, AES sends out an entropy clearing request.
2). The entropy request is interrupted by `lc_escalate_en` signal.
3). Request sets back to 0, and assertion fired because r

[2021-07-14 18:18] msfschaffner commented on #4526
From a design perspective this is easy to do. We just have to agree which unlocked states should not enable NVM debug (probably the last unlocked state?).

[2021-07-14 18:25] msfschaffner commented on #7033
@rswarbrick did you take a stab at that one already? I am mainly asking because I would have to regenerate the ROM wrapper in the closed repo.

[2021-07-14 18:47] msfschaffner commented on #5186
@gkelly did a statistical analysis of existing application code intended to be run on OpenTitan and concluded that only a very small fraction of memory accesses are actually byte writes. The performance impact of slower byte writes in case of ECC is therefore very small, hence the use of ECC on SRAM (instead of byte parity) is considered feasible, and we've decided to move forward with that.

Goin

[2021-07-14 20:01] tjaychen commented on #5186
I think the original analysis was done over some proprietary code, so it's
probably not best to attach them here.
Chris is there a forum where we should raise this? Maybe at the next
software meeting for long term data collection on the open source side?

On Wed, Jul 14, 2021 at 11:48 AM Michael Schaffner ***@***.***>
wrote:

[2021-07-14 20:28] moidx commented on #5982
lowrisc/opentitan#7309

[2021-07-14 20:29] msfschaffner opened #7310 "[topgen] Open TODO's for deprecating the `memory` section in the toplevel Hjson"
There are two things we still need to sort out to get there:
1) `top_englishbreakfast` still makes use of the "standard" ROM, mainly because it does not have a KMAC instance to implement the actual ROM checking. If the ROM check bypass option is still present, we could technically use that to instantiate a dummy `rom_ctrl` as we've had it in `top_earlgrey` at the beginning, when the KMAC app inter

[2021-07-14 20:31] weicaiyang commented on #5484
@martin-lueker

I feel we don't need to make the spi_host.data as a memory. Looks like this `data` needs to be stored in a fifo.
In uart, we have a similar situation. We create a `wdata` reg and connect this reg with a fifo to store the value.
https://github.com/lowRISC/opentitan/blob/4e8dbb72e1627ee69823ae5e6024dfe4c788959e/hw/ip/uart/rtl/uart_core.sv#L176-L188

In spi host, this `data` is a memo

[2021-07-14 20:41] tjaychen commented on #7310
i think for the flash virtual one it's fine to leave it just hard-wired.
It's not really a function of the design, but some arbitrary address chosen
by the software.

On Wed, Jul 14, 2021 at 1:33 PM Michael Schaffner ***@***.***>
wrote:

[2021-07-14 20:42] tjaychen commented on #7310
sorry i should have clarified that the virtual address does directly impact
anything generated in the design.
it's mostly something that impacts the software.

On Wed, Jul 14, 2021 at 1:41 PM Timothy Chen ***@***.***> wrote:

[2021-07-14 21:07] msfschaffner commented on #7310
OK I see. In that case we can probably leave it as-is for now if this remains the same for all top-levels. I've marked this as "done" above. (We can always move this into a dedicated Hjson field if this becomes top-level dependent at some point.)

[2021-07-14 21:07] msfschaffner commented on #7310
@rswarbrick would you mind adding the bypass option back in such that we can instantiate ROM_CTRL in `top_englishbreakfast`?

[2021-07-14 21:17] msfschaffner commented on #77
I believe we have now switched to `flake8` in CI to circumvent the `yapf` problems detailed above.
Can we close this issue?

[2021-07-14 21:19] martin-lueker commented on #5484
Hi Weicai,
   Thanks for taking a look.
   We need this one to be a memory because we need the byte enables.

[2021-07-14 21:33] msfschaffner commented on #72
We do not support OpenTitan on the Arty board anymore. @imphil are we still considering to use the BSCANE2 primitive or can we close this for now?

[2021-07-14 21:35] msfschaffner commented on #66
@eunchan another status ping on this issue :). Can this be closed?

[2021-07-14 21:35] msfschaffner commented on #58
@imphil has this been addressed by now?

[2021-07-14 21:42] msfschaffner commented on #9
On a mission to close down old issues: @asb, @imphil has there been an update regarding the licensing issue?

[2021-07-14 21:43] msfschaffner commented on #93
@tjaychen what is the status on this issue? can we summarize the current handling and close it?

[2021-07-14 21:49] tjaychen commented on #93
yes that's right.

[2021-07-14 21:53] msfschaffner commented on #396
@cindychip what is the status of this issue? Are the tasks above still open?

[2021-07-14 21:55] imphil commented on #58
Yes

[2021-07-14 21:55] #58 closed

[2021-07-14 21:57] cindychip commented on #396
Hey Michael, thanks for checking. They are not our current priority anymore. Do you mind we just leave it for tracking until we have more bandwidth?

[2021-07-14 21:59] weicaiyang commented on #5484
@martin-lueker
I see. memory is fine. But can we use `tlul_adapter_sram` instead of `tlul_adapter_reg`?
https://github.com/lowRISC/opentitan/blob/4e8dbb72e1627ee69823ae5e6024dfe4c788959e/hw/ip/spi_host/rtl/spi_host_window.sv#L30

`tlul_adapter_reg` doesn't allow some of the byte access. For example, we require address[1:0]==0 for CSR, but it's not needed for memory.

[2021-07-14 21:59] msfschaffner commented on #398
Since we've implemented and instantiated a watchdog timer by now, we should be able to close this issue soon.
The only thing that remains to be done is to convert the regular IRQ coming from the watchdog to an NMI.
See also comment here: https://github.com/lowRISC/opentitan/pull/7257#issuecomment-879389067

[2021-07-14 22:00] tjaychen commented on #398
i'm still not sure our latest discussion actually wanted the watchdog to be an NMI.
I have some very vague recollections (i could be wrong) that it's okay to treat it as an interrupt.  If the interrupt is masked off (for whatever reason), the real watchdog will kick in anyhow.

[2021-07-14 22:05] msfschaffner commented on #396
Ok no worries, just wanted to double check (I am on a mission to close down old issues ;)).

[2021-07-14 22:07] #1133 closed

[2021-07-14 22:34] tjaychen commented on #398
i'll take an action to check with software again and actually document this somewhere.

[2021-07-14 22:35] tjaychen commented on #93
thanks for the reminder! closing.

[2021-07-14 22:35] #93 closed

[2021-07-14 23:31] msfschaffner commented on #514
Reviving this old issue:
are we still OK with the decision to not add any more address range checks to the fabric (i.e., add a `devmode` for the fabric)?

In terms of glitch detection, we do have ECC-based bus integrity protection now that checks the address, cmd and data fields.
However, the actual checks are instantiated at the packet consumer side, so the bus fabric itself does not contain any

[2021-07-14 23:32] msfschaffner commented on #514
@eunchan @dsandrs

[2021-07-14 23:32] msfschaffner commented on #375
Has this issue been addressed in the mean time?

[2021-07-14 23:33] tjaychen commented on #514
i think it is okay to close this issue.

[2021-07-14 23:36] #514 closed

[2021-07-14 23:41] msfschaffner commented on #367
@cdgori is this something we could include in the security coding guidelines? or maybe it has already been included?

[2021-07-14 23:41] msfschaffner commented on #367
CC @dsandrs

[2021-07-14 23:50] msfschaffner commented on #761
This is a pretty old issue -  have the TODOs been resolved by now @eunchan?

[2021-07-14 23:50] msfschaffner commented on #777
@cindychip can you update the status of this issue?

[2021-07-14 23:54] sriyerg commented on #375
Yes, we can close this issue. Wrapping covergroups in classes has become the go to method of doing this.

[2021-07-14 23:54] #375 closed

[2021-07-14 23:55] cindychip commented on #375
I believe this is done. We wrapped it around with a class.

[2021-07-14 23:55] msfschaffner commented on #899
CC @cfrantz since he's looking into improvements for our current SW build system.

[2021-07-14 23:55] cindychip commented on #777
They are still TODOs for HMAC to reach V3.

[2021-07-14 23:56] msfschaffner commented on #984
I believe this has been addressed by now - closing this issue.

[2021-07-14 23:56] #984 closed

[2021-07-14 23:57] msfschaffner commented on #1005
@vogelpi is this issue still up to date?

[2021-07-14 23:59] msfschaffner commented on #751
@sriyerg can this issue be closed?

[2021-07-15 00:07] msfschaffner commented on #626
I think this issue can be closed.
The currently implemented solution does basically what @sriyerg suggested above.
I.e., the headers are generated in `$REPO_TOP/build` as part of a build.
If needed, the registers can be build manually using `regs-header`.

[2021-07-15 00:07] #626 closed

[2021-07-15 00:09] msfschaffner commented on #1500
@tjaychen @eunchan @imphil
This should be checked in CI now, right?

[2021-07-15 00:13] msfschaffner commented on #1491
Reviving some old issues:
Do we want to align this? It sounds like the PLIC spec should be stable now...
@dsandrs @tjaychen @eunchan

[2021-07-15 00:16] msfschaffner commented on #1421
CC @towoe

Is this something we would still like to implement, or can we close this issue?

[2021-07-15 00:18] msfschaffner commented on #1411
This seems to be implemented now, so I am closing this issue.
Please reopen if this is not the case.

[2021-07-15 00:18] #1411 closed

[2021-07-15 00:21] alistair23 commented on #1491
The PLIC spec is unlikely to change and I think will be frozen by years end. The PLIC has now been deprecated as well so there won't be more features or changes to it.

It would be good to at least meet the PLIC spec here or otherwise change the name to avoid confusion.

[2021-07-15 00:27] tjaychen commented on #1500
o yeah let's close this. boy this is old.

[2021-07-15 00:27] #1500 closed

[2021-07-15 00:31] msfschaffner commented on #1408
This bug has been fixed in Vivado 2020.2 which we now require for OpenTitan.
We can therefore go ahead and resolve the TODOs, and close down this issue.

[2021-07-15 01:19] sriyerg commented on #1411
I think this refers to adding a shortcode in the `docs.opentitan.org` area itself such that all regression results are directly expanded in there, rather than a separate `reports.opentitan.org` area.

[2021-07-15 02:29] moidx commented on #899
CC @drewmacrae as well.

[2021-07-15 02:57] #7244 closed

[2021-07-15 06:06] zi-v commented on #4526
Yes. The last.

[2021-07-15 07:44] vogelpi commented on #1005
Yes it is. Don''t be mistaken by the date of the issue/comments. I keep updating the first comment as the work on AES continues. For example, if during a review some other task comes up, I'll write that down here and link the comment.

[2021-07-15 07:47] vogelpi commented on #398
That's also what I remember from these discussions!

[2021-07-15 08:29] vogelpi commented on #7308
Hi @cindychip ,
thanks for debugging this and pinging me. The proposed fix looks really simple and I could do this in a minute.

However, I am not sure if this is the right way to solve the issue. I acknowledge that in case `lc_escalate_en` goes active, we don't care anymore about deasserting `req`. But the problem I see is that with the proposed solution, we disable the assertion not just in case

[2021-07-15 08:29] rswarbrick commented on #7033
I haven't done this yet. I'll take a look today or tomorrow but won't merge the PR without your approval (which should give you a chance to get things in place on the synthesis side!)

[2021-07-15 12:15] rasmus-madsen commented on #7308
@cindychip maybe a filter would be better than a complete disable.
I would have the same concerns as @vogelpi

[2021-07-15 13:37] imphil commented on #6953
## URND

Currently: URND. A random number. The number is sourced from an LFSR. Reads never stall.

Replace with: URND. A random number without guaranteed secrecy properties or specific statistical properties. Intended for use in masking and blinding schemes.

## RND
Currently: "RND:  A random number. The number is sourced from the EDN via a single-entry cache. Reads when the cache is empty will ca

[2021-07-15 14:07] imphil commented on #3314
Another point for the coding guidelines: Prefer BN.MOV over `BN.ADDI xd, xs, 0` to maintain integrity protection when copying data between registers (see also https://github.com/lowRISC/opentitan/issues/6482).

[2021-07-15 14:07] imphil commented on #6482
Felix, Vladimir and I discussed this today and we came to the conclusion that we want to keep the ISA as-is. Having BN.MOV(R) available to transfer data between registers if there's register pressure without any side effects (e.g. setting flags) is helpful and commonly used in existing code.

We should:
* Recommend the use of BN.MOV over BN.ADDI for register moves in the coding guidelines, to be c

[2021-07-15 15:56] rswarbrick commented on #7310
Yep, happily. I'll try to get to this tomorrow.

[2021-07-15 16:26] cindychip commented on #7308
Thanks for letting us know. Yeah adding a filter sounds good.

[2021-07-15 16:40] sriyerg commented on #7308
Agree - we should not disable assertion altogether just because it is invalid in certain cases. The right thing to do is to add an input port, and use the `disable iff` construct instead.

Should we audit all of our prims for more cases like this?

[2021-07-15 16:42] cindychip commented on #7308
Sure, I can take a look at all the prims assertions :)

[2021-07-15 16:48] vogelpi commented on #7308
Thanks everybody for the quick feedback. I can work out a PR to replace the parameter by a signal.

[2021-07-15 16:52] imphil opened #7320 "[otbn] Issue a warning in tooling when using BN.ADDI _, _, 0"
`BN.ADDI` can be used to move data between two registers. It's nearly identical to `BN.MOV`, but also sets flags. Less visible is another difference: BN.ADDI moves data through the ALU and strips off integrity-protection, while BN.MOV maintains it.

In addition to recommending the use of BN.MOV for register-to-register transfers, we also should issue a warning to software developers when we encoun

[2021-07-15 16:53] #6482 closed

[2021-07-15 17:14] tjaychen commented on #1005
@vogelpi is sideload still on the table?

[2021-07-15 17:22] eunchan commented on #66
Yup. I think everyone agrees FW wiped function is fine for HMAC.

[2021-07-15 17:22] #66 closed

[2021-07-15 17:37] vogelpi commented on #1005
Good point @tjaychen ! I definitely have that on my list, but forgot to add it here. Now it's added as well.

[2021-07-15 17:59] msfschaffner commented on #1005
Thanks @vogelpi, just wanted to double check.

[2021-07-15 18:21] tjaychen commented on #1005
@vogelpi there's one more item that i've talked briefly to @moidx about (it might already be here, but i can't quite make out which one it is).

To support software redundancy, we probably need some kind of hardware context save / restore for the cipher chain modes, is that something you guys are looking into also? Sorry in advance if this is something you guys have discussed already.

[2021-07-15 18:21] msfschaffner commented on #1411
Apologies if I closed this prematurely - I understood that the mechanism for rendering inline snippets has been implemented, but we're not using it currently since we have settled on a different solution (publishing directly to `reports.opentitan.org`).

Do we still have plans to move the regression results into the docs? If so, let's reopen this issue.

[2021-07-15 19:02] msfschaffner commented on #7308
Yes, adding a filter for this sounds like a better solution.
@vogelpi this input will probably need an "unused" lint waiver since it is only used for the assertion.
Once you have a PR ready I can pipe the PR through AscentLint to check whether it remains clean.

As for auditing our prims:
Candidates are all primitives that have handshake flow control and stability assertions.
I gave the prim libra

[2021-07-15 21:13] alphan opened #7325 "[sw/silicon_creator] Define a memory region for sec_mmio_ctx to share the data with ROM_EXT"
From #6466:

sec_mmio_ctx is currently defined as an extern to simplify testing. For the actual target, we need to define a memory region to share the data with ROM_EXT.

[2021-07-15 21:21] #7033 closed

[2021-07-15 23:49] #5947 closed

[2021-07-15 23:50] #5227 closed

[2021-07-15 23:50] tjaychen commented on #5227
this functionality has been added.

[2021-07-16 02:18] msfschaffner opened #7330 "[lc_ctrl] Updates for secure manufacturing"
It has recently been determined that the life cycle architecture and controller need a few updates to facilitate retest iterations during the secure manufacturing flow. In particular:
- The number of  `TEST_LOCKED`/`TEST_UNLOCKED` states should be increased from 3/4 to 7/8.
- The size of the `DEVICE_ID` field in the `HW_CFG` OTP partition, which is exposed through the LC TAP, should be doubled fro

[2021-07-16 07:36] vogelpi commented on #1005
Thanks for bringing that up. I didn't have this on my list as I wasn't sure it was coming. We would mainly need to save/restore the IV and maybe another internal 128-bit register. But I would hope we can avoid this by other means. But let's discuss this next Tuesday.

[2021-07-16 09:02] #1977 closed

[2021-07-16 10:06] imphil opened #7335 "[otbn] Implement URND in ISS"
The ISS currently implements RND, but not URND.

[2021-07-16 10:17] imphil opened #7336 "[otbn] Update test_label_3 in smoke_test.s"
The test_label_3 test in smoke_test.s needs to be updated to match the current state of OTBN.

* LID/SID is now implemented.
* RND is now also giving random values, and is probably not the best choice for this test (it was likely introduced when RND was still equivalent to what we call URND today).

[2021-07-16 10:38] mundaym opened #7337 "[mask_rom] Update memory protection module to take into account simple address translation"
If the mask ROM is to make use of the [simple address translation unit](https://github.com/lowRISC/opentitan/pull/7147) then the memory protection schema and implementation will need to be modified to take that into account.

Initial thoughts:

- Probably want to keep read access to raw flash region.
- Need new region(s) to grant read access to the virtual flash region(s).
- ROM_EXT code region wi

[2021-07-16 10:52] imphil commented on #4547
We now have a specialized version of RSA verification for secure boot, merged in https://github.com/lowRISC/opentitan/pull/6132 and further updated since.

[2021-07-16 10:52] #4547 closed

[2021-07-16 10:55] imphil commented on #3204
@tjaychen I think we have a complete sideload proposal now? Can you link it here? And it would be good to get that bubbled up to the technical committee as well, since the TC has been talking about key sideload in the past. Let me know when it's ready and I'll add it to the TC agenda.

[2021-07-16 15:33] vogelpi commented on #7308
Thanks @msfschaffner for pointing out the issues in the arbiter primitives. I've also included these in my PR. PTAL.

[2021-07-16 15:59] imphil opened #7340 "[otbn] Fully implement RND in ISS"
Reading RND in the ISS always returns the same value currently. Implement RND CSR/WSR in the ISS fully.

[2021-07-16 16:52] tjaychen commented on #1005
sounds good, thanks Pirmin.

On Fri, Jul 16, 2021 at 12:36 AM Pirmin Vogel ***@***.***>
wrote:

[2021-07-16 17:16] imphil commented on #6082
Depends on https://github.com/lowRISC/opentitan/issues/5465. The EDN DIF is only a header currently, which is of little use.

[2021-07-16 17:33] rswarbrick commented on #7310
The bypass option is back (in slightly more principled form!). See #7338.

[2021-07-16 17:46] tjaychen opened #7346 "[keymgr] keymgr does not input check rom_digest_i"
this was discovered while @rswarbrick was making changes to `rom_ctrl`. This check needs to be added on `keymgr` side.
@weicaiyang FYI

[2021-07-16 17:51] #6953 closed

[2021-07-16 17:52] alphan opened #7347 "[sw/silicon_creator] Integrate OTBN-based modular exponentiation to sigverify"
- [ ] Implement `sigverify_mod_exp_otbn()`.
- [ ] Add functional tests for `sigverify_mod_exp_otbn()`.
- [ ] Unit tests (mostly for testing the interaction between sigverify and the OTBN driver).

[2021-07-16 18:00] imphil opened #7348 "[dvsim] Do not fail build step if build_fail_patterns matches, but exit code is 0"
FuseSoC returns a non-zero exit code it if failed, but a zero exit-code otherwise. If the exit code is 0, the STDOUT should be ignored and not parsed for additional error messages.

In https://github.com/lowRISC/opentitan/pull/6875 we disabled the fail patterns completely for the build step, but a better solution would be:

See https://github.com/lowRISC/opentitan/pull/6875 for detailed informatio

[2021-07-16 18:26] weicaiyang commented on #7346
Thanks @rswarbrick for finding this. just created a PR to fix the TB.

[2021-07-16 21:04] alphan opened #7353 "[sw/silicon_creator] sigverify related OTP values during manufacturing"
#7306 and #7351 adds OTP support for
* checking the validity of public keys and
* determining which mod_exp implementation (sw or otbn) should be used

assuming that these OTP items have already been programmed. Since we need to run ROM_EXT images before these items are programmed during manufacturing, `sigverify.c` and `sigverify_keys.c` should be updated so that
* all keys are considered valid,

[2021-07-16 21:49] msfschaffner commented on #7330
@cfrantz do we have to align anything on the SW / ROM side for the above changes to work correctly?

[2021-07-16 21:57] #1408 closed

[2021-07-16 22:30] cfrantz commented on #7330
There will be some trivial changes required to `sw/device/silicon_creator/lib/drivers/lifecycle.[ch]` to enumerate the additional states.

[2021-07-16 22:31] cfrantz commented on #7330
Could you clarify a bit on the expansion of DEVICE_ID?  I'm given to understand that the extra bits are for testing and that the proper DEVICE_ID is still 256 bits..

[2021-07-16 22:59] msfschaffner commented on #7330
If I recall correctly, the idea was to just double the size of `DEVICE_ID` for simplicity.
Would it be preferable for SW to keep `DEVICE_ID` 256bit in size and split this additional information into a separate CSR field?

[2021-07-16 23:23] moidx commented on #7330
I think it would be preferable to handle the additional bits as `manuf_state`. These bits are primarily for manufacturing tracking purposes, and I don't consider necessary to send them to the key manager. A separate CSR would work better in this case.

[2021-07-16 23:24] cfrantz commented on #7330
Yes, I think so.  SW (the ROM and ROM_EXT) will have the capability to bind software to the DEVICE_ID (think a nodelocked package or a sku-locked package on a subset of DEVICE_ID).  Just from a naming convention perspective it would be nice to keep the `DEVICE_ID` registers as meaning the 256-bit device ID.

The additional bits can be given an appropriate name - they can even be right next to the

[2021-07-17 00:00] msfschaffner commented on #7330
Alright, I've split the extra 256bit into a separate field named `MANUF_STATE` on #7328.
I have also updated the life cycle enum in `sw/device/silicon_creator/lib/drivers/lifecycle.[ch]`.

[2021-07-18 00:08] martin-lueker commented on #7281
Hi Everyone, the first issue seems to be that the registers for this test bench are out of date.  The `passthru` bit has been removed.   I can try to straighten that out.

However may be a secondary issue as the spi_smoke tb doesn't even compile against master.  So we should how this works out once the testbench fixed.

[2021-07-18 13:29] martin-lueker commented on #7281
Update: It's seems there may be *two* bugs in the RTL
1. Data does not seem to be getting into the shift register and the FSM is reporting a stall
2. Rather than indicating a persistent stall the SPI host, FSM is resetting to idle.

Both conditions need to be fixed.

[2021-07-18 14:01] zi-v commented on #7330
@msfschaffner, sounds good. Thanks!

[2021-07-20 07:08] #7308 closed

[2021-07-20 08:24] #4345 closed

[2021-07-20 16:16] #4869 closed

[2021-07-20 16:44] imphil commented on #6993
Prep work going on in #7374

[2021-07-20 16:54] Muqing-Liu opened #7375 "[pwm] Heartbeat mode issue for PWM module"
There's a small bug in setting the duty cycle value for heartbeat mode (dc_htbt_q) in PWM module, in pwm_chan.sv line 117, we should modify the condition to (!htbt_en_i && (dc_htbt_q != duty_cycle_a_i)), otherwise dc_htbt_q will always be set to duty_cycle_a_i.

![image](https://user-images.githubusercontent.com/83983643/126364297-ba032721-040f-44b2-a8f9-00cd3166bbd8.png)

[2021-07-20 18:04] cfrantz commented on #7353
I'm also inclined to say that options 3 and 4 are the options we should pursue.

In addition to the TEST_UNLOCKED_* states, we may want the ROM to be less restrictive in the RMA state.  We should identify the various subsystems which care about OTP to help make this decision.

1. shutdown_init: Reads OTP to configure alerts and alert classes.  Don't want to initialize alerts in TEST_UNLOCKED or RM

[2021-07-20 18:16] tjaychen commented on #7375
sounds good. I touched this part of the logic, so i can help change.
Or if you want to do it, I can approve also.

let me know what you prefer.

[2021-07-20 18:35] matutem opened #7376 "[rtl/pwrmgr] Disable fetch_en when inactive"
The fetch_en output enables the CPU to fetch instructions, thus start running.
Turn it off when the pwrmgr fast fsm is not in active state.

[2021-07-20 18:35] Muqing-Liu commented on #7375
Okay, great, thank you! If it's convenient to you, please feel free to make the changes. I'm sorry that I might confuse you in the previous PR, I found out that in my testbench, I forgot to reset the htbt_en_i to 0, so there's no way to set the dc_htbt_i to the correct initial value.

[2021-07-20 19:54] martin-lueker commented on #7281
PR (#7377) submitted master for RTL fixes.  This PR will fix the present issue.

Minor DV updates submitted to rasmus-madsen/spi_smoke to help confirm fixes. (https://github.com/rasmus-madsen/opentitan-1/pull/4)

Functional waveform (obtained after these changes):
![image](https://user-images.githubusercontent.com/47870387/126387020-2f9653e7-3d3c-46e8-8223-767a6b2f9f7b.png)

[2021-07-20 23:45] cfrantz opened #7385 "Add AON_TIMER frequency to `sw/device/lib/arch/device_*.[ch]`"
Currently, the AON_TIMER frequency is not defined anywhere visible to software in the project.  Add the AON_TIMER frequency to the device_*.c files.

[2021-07-21 00:01] tjaychen opened #7387 "[pwm] Typo on duty cycle used?"
Is this [line of code](https://github.com/lowRISC/opentitan/blob/master/hw/ip/pwm/rtl/pwm_chan.sv#L108) supposed to use `duty_cycle_b_i` instead of `duty_cycle_a_i`?

[2021-07-21 00:12] Muqing-Liu commented on #7387
No, it's not a typo, it's used to check whether it's at the end of the heartbeat cycle, since in heartbeat mode, the duty cycle increases/decreases from duty_cycle_a_i to duty_cycle_b_i and then decreases/increases back to duty_cycle_a_i, so this condition is used to check whether it reaches the end of the heartbeat cycle.

[2021-07-21 00:26] #6366 closed

[2021-07-21 00:30] tjaychen commented on #5805
this is slightly outdated now and will soon be replaced by a different proposal.

[2021-07-21 00:30] #5805 closed

[2021-07-21 00:30] tjaychen commented on #5446
this issue is now outdated and was handled through other mechanisms.

[2021-07-21 00:30] #5446 closed

[2021-07-21 00:34] tjaychen commented on #7387
that's right. But if we are checking whether we're at the end, shouldn't we
compare it against duty_cycle_b and not a..?
maybe i just misunderstood.

On Tue, Jul 20, 2021 at 5:12 PM Muqing-Liu ***@***.***> wrote:

[2021-07-21 01:04] Muqing-Liu commented on #7387
I think in heartbeat mode, the cycle ends at duty_cycle_a not at duty_cycle_b. For example, if duty_cycle_a is 1, duty_cycle_b is 9, and the step size is 4, the duty cycle should be 1->5->9->5->1, and then this pattern repeats, so it's like 1->5->9->5->1->1->5->9->5->1->1->...

[2021-07-21 02:18] tjaychen commented on #7387
@Muqing-Liu let me know if i misunderstood.
I looked at this part of the [spec](https://docs.opentitan.org/hw/ip/pwm/doc/#hardware-controlled-blink-features), and it says that during heartbeat, the value transitions from `duty_cycle_a` to `duty_cycle_b`.   Is this correct?

If that is the case, then in the line of code I hightlighted, don't you want to be equal to the value of `duty_cycle_b` then

[2021-07-21 03:37] weicaiyang opened #7393 "Incorrect KMAC key for the 2nd KDF when advance to CreatorRoot state"
@tjaychen
There are 2 KDF operation for advance command.
When advance to CreatorRoot state, we should use otp_key for both KDF. From waveform, it looks like the 2nd KDF uses the digest data from 1st KDF. PTAL
![Screen Shot 2021-07-20 at 8 37 07 PM](https://user-images.githubusercontent.com/49293026/126426843-f49cbfce-4389-424b-992f-48315c018919.png)

[2021-07-21 11:07] e7p commented on #6694
Hint until the Pull Request is merged into pycryptodome upstream: You can install the cSHAKE additions using this command:
`python3 -m pip install -e git+https://github.com/lowRISC/pycryptodome.git#egg=pycryptodome`

[2021-07-21 11:20] dkabely-ot opened #7399 "[dv/cip_base_vseq] extract_common_csrs overrides doesn't exrtact regs for more than a single RAL"
`cip_base_vseq::extract_common_csrs` should loop over all the RALs in the environment and get their csrs:
https://github.com/lowRISC/opentitan/blob/b3bc45b4a805b4e8d9fcca3c85e3d793ded19ffc/hw/dv/sv/cip_lib/seq_lib/cip_base_vseq.sv#L281-L282

However, due to the way `dv_base_reg_block::get_dv_base_regs` is built, the reference queue passed to it will just get overriden with new values, so only the

[2021-07-21 12:14] rswarbrick commented on #7399
Looks like we just missed something when adding multi-device support. I think the correct fix is just to nest the two `foreach` loops in `extract_common_csrs`?

@dkabely-ot: Would you mind trying the obvious fix? Otherwise, reply and @weicaiyang or I can take a look.

[2021-07-21 13:14] Muqing-Liu commented on #7387
I think you might misunderstood this heartbeat mode, this is the part of spec that describing the heartbeat mode and I'm referring to
![image](https://user-images.githubusercontent.com/83983643/126491717-0a405472-23b7-4fac-b4fb-6209ac12b051.png)
In the heartbeat mode, duty_cycle_b is used to determine when we need to change the direction of duty cycle, like in [line 91](https://github.com/lowRISC/

[2021-07-21 13:25] dkabely-ot commented on #7399
I indeed added a nested foreach loop inside extract_common_csrs and it fixed the problem.
Do you want me to open a PR for it?

[2021-07-21 13:27] dkabely-ot commented on #7399
I added the nested foreach loop and the problem was fixed.

Will create a PR for cip_base_vseq.sv.

[2021-07-21 13:27] #7399 closed

[2021-07-21 14:12] e7p commented on #6654
I double checked the requirements cmake, rust, go, perl and meson (<= 0.54). However, unfortunately this did not the trick and the error of the first comment in this issue is persisting. What else should I check?

[2021-07-21 14:39] imphil opened #7405 "[otbn] Sort out access permissions for CSRs and WSRs"
In RISC-V, writing to a CSR which is read-only raises an illegal instruction exception. In OTBN, we currently ignore writes to read-only registers (without explicitly saying so).

We need to sort that out and implement it consistently in RTL and ISS.

See also review comments at https://github.com/lowRISC/opentitan/pull/7402.

[2021-07-21 14:58] imphil commented on #6654
Since the problem originally reported was resolved for the author of this issue, can you file a new issue and let us know more about your system configuration and the error message you're seeing?

[2021-07-21 15:04] e7p opened #7407 "Missing toolchain leads to error in cargo call (on the example of building rom_ext_signer)"
When trying to build normally using `ninja -C build-out all`, I get the following error:

[code]

The problem here is that there is no toolchain file defined for the rom_ext_signer target [in this line](https://github.com/lowRISC/opentitan/blob/b3bc45b4a805b4e8d9fcca3c85e3d793ded19ffc/sw/host/rom_ext_image_tools/signer/meson.build#L52), as a previously empty one was already removed in 405dd3e (rev

[2021-07-21 15:04] e7p commented on #6654
Of course, I just thought as it was almost exactly the same message and problem this issue could also been reopened or what. See #7407

[2021-07-21 15:12] imphil commented on #7407
Can you attach the whole build log, please?

[2021-07-21 15:58] e7p commented on #7407
Trying to reproduce this to get the full build log (actually in subsequent calls there was not really more output), I found out that something else must have fixed this. It must have been `sw/vendor/rustup/rustup-init.sh -y --default-toolchain 1.52.1` together with  `source $HOME/.cargo/env` what actually fixed it. I just changed two things and thought it was the other one that solved it.

Maybe t

[2021-07-21 16:56] msfschaffner commented on #6694
Thanks for the hint, @e7p. Indeed, we currently host a development fork under lowrisc and plan to replace that once the cSHAKE additions have made it into a release:
https://github.com/lowRISC/opentitan/blob/93536cde3ccca091fac73a0304db54aea4ad32af/python-requirements.txt#L54-L57

[2021-07-21 17:11] tjaychen commented on #7387
sounds good, i think i see what you are saying now.
I had thought it went from a -> b, then reset to a and started again.  Looks like it counts up and then down.

let me close this issue.

[2021-07-21 17:11] #7387 closed

[2021-07-21 17:33] cindychip opened #7409 "[otp_ctrl] internal lc_escalate_en assignment"
Hi Michael,

I would like to confirm the intention of this code:
https://github.com/lowRISC/opentitan/blob/master/hw/ip/otp_ctrl/rtl/otp_ctrl.sv#L401

Is it your intention:
` lc_escalate_en[k] = lc_escalate_en_synced[k] | lc_ctrl_pkg::On;`
Could we simply assign it like this:
 `lc_escalate_en[k] = lc_ctrl_pkg::On;`

Because the original code will assign `lc_escalate_en[k]` to `b1111` instead of `b

[2021-07-21 17:40] msfschaffner commented on #7409
Hey @cindychip, thanks for catching that! Yes I think your proposed solution is fine in this case.

[2021-07-21 17:44] cindychip commented on #7409
Thanks for confirming, I can draft a quick PR for that if you have not done so :)

[2021-07-21 18:51] #7346 closed

[2021-07-21 21:30] cindychip opened #7417 "[Shadow_reg] Unify the shadow reg field update error behavior"
Hi Michael and Pirmin,

With AES and ALERT_HANDLER both have shadow registers, I found the have slight different behaviors:

1). For AES, the shadow registers are extended as registers: https://github.com/lowRISC/opentitan/blob/master/hw/ip/aes/rtl/aes_core.sv#L498

2). For ALERT_HANDLER, shadow registers are extended by each field:
https://github.com/lowRISC/opentitan/blob/master/hw/ip/alert_hand

[2021-07-21 21:41] #7393 closed

[2021-07-21 21:42] eunchan opened #7418 "[spi_device] Add explicit 4B address command in cmd_info"
CC: @tjaychen @cfrantz

As discussed in SPI_DEVICE top intg. DV meeting, SPI_DEVICE command slot may support explicit 4B read commands too. It will ignore address_4B_en configuration and always assume the command has 4B address field.

Example: HPe's iLO issues 4B read command (opcode 0x0C).

[2021-07-21 22:01] cindychip commented on #6569
Close this because now we use a separate function `inject_ecc_errors` to handle error injection.

[2021-07-21 22:01] #6569 closed

[2021-07-21 23:09] tjaychen opened #7419 "[rv_core_ibex] watchdog NMI"
After further discussions with software, the watchdog ideally should be made an NMI.
This means that when the watchdog bark occurs, the software will have a chance to create a panic record before the bite.

[2021-07-21 23:09] tjaychen commented on #7419
@msfschaffner
@tomroberts-lowrisc
@cfrantz

[2021-07-22 00:12] #7194 closed

[2021-07-22 01:13] #7278 closed

[2021-07-22 02:11] #7409 closed

[2021-07-22 07:53] vogelpi commented on #7417
Thanks @cindychip for explaining the issue. I agree that we should try to unify the behavior here. Basically, the question is whether an update error in a single field must prevent updates of 1) all fields in a 32-bit register or 2) just the affected field(s). I think 2) as it is implemented in the alert handler works better with the regtool and is also a bit cleaner. So I am inclined to adapt the

[2021-07-22 08:28] imphil opened #7424 "[otbn] Test OTBN with "correct" EDN configuration"
OTBN requires certain EDN configurations, as described in https://docs.opentitan.org/hw/ip/otbn/doc/index.html#hardware-interfaces. We currently run all tests with the boot EDN configuration, which doesn't meet these requirements.

Figure out the right configuration, and update the tests to use it.

[2021-07-22 08:41] martin-lueker opened #7425 "[PWM] Suggestion for more lightweight check for parameter updates."
Based on a [suggestion by @tomroberts-lowrisc](https://github.com/lowRISC/opentitan/pull/7097/files#r657942570) in #7097.

[2021-07-22 15:34] #6955 closed

[2021-07-22 16:45] #7375 closed

[2021-07-22 17:09] matutem commented on #7215
I guess you mean "... mechanism that will prevent the ..." in the first paragraph above.

I suppose you are referring to the control.core_clk_en CSR bit in pwrmgr? My natural tendency is to avoid replication of mechanisms so I would assume we don't need anything else, but I defer to the software team.

[2021-07-22 17:33] imphil commented on #7215
To narrow things down: All normal debug operations are done by executing code on Ibex, so its idle signal should prevent it from going into low-power mode. Also entering debug mode is effectively an interrupt to ibex, so it goes out of a low-power mode if necessary.

In addition to "normal debugging", the debug module provides bus access (the system bus access/SBA module: https://raw.githubusercon

[2021-07-22 18:06] tjaychen opened #7431 "[flash_ctrl] DV Review Action Items"
- [x] Missing documentation on what happens during `flash init`
- [ ] Need a closed flash documentation (describe testing interface) - Must figure out where to put the closed documentation
- [x] Clarify the pwrmgr / flash interaction on idle entry
- [x] Default value of seeds to keymgr if flash seed read is not enabled
- [x] Document function of flash disable (similar to escalate)
- [x] Look into

[2021-07-22 18:11] cindychip commented on #7417
Thanks Pirmin! Align with alert_handler behavior sounds good to me. @msfschaffner do you have any concerns?

[2021-07-22 18:32] imphil opened #7434 "[otbn] Specify operational states"
We need to better specify what host-software-visible state OTBN can be in, what happens in state transitions, etc.

In the past, we had simplified things as "busy" (OTBN is executing software), and "idle". However, with the recent addition of things like secure wipe (which keeps OTBN busy for a while, but doesn't execute code), and initialization and error handling paths (which also take time), th

[2021-07-22 18:33] msfschaffner opened #7435 "[rv_plic] Synchronize all IRQ source signals"
As title says. The actual location and scheme is to some extent dependent on how we are going to move forward with the REG_TOP CDC scheme.

See also https://github.com/lowRISC/opentitan/pull/7422#discussion_r675040925

[2021-07-22 19:49] #7376 closed

[2021-07-22 19:57] matutem commented on #7126
This is obsolete, and may have been a mistake. Sorry.

[2021-07-22 19:57] #7126 closed

[2021-07-22 23:14] eunchan opened #7440 "[ci] No module named 'google_verible_verilog_syntax_py'"
I found this warning while analyzing the failure of building FPGA bitstream.

BTW, looks like the FPGA build fails even the bitstream is generated.

[code]

[2021-07-23 01:17] #7419 closed

[2021-07-23 01:18] tjaychen commented on #7181
After some discussions, we will stick with NAPOT for now.
If there are issues for software in the future, this scheme will be adjusted accordingly.

[2021-07-23 01:18] #7181 closed

[2021-07-23 01:30] msfschaffner opened #7443 "[prim] Refine target technology and tool switching"
Right now our primitive library supports three `Impl` enums:
- `ImplGeneric`: generic models
- `ImplXilinx`: models used for the FPGA targets only
- `Impl<target tech>`: ASIC technology-specific implementations

However, there are cases where the `ImplGeneric` implementation is only understood by certain tools, but not others. AST is an example for this (VCS vs Verilator). this means that `VERILAT

[2021-07-23 05:05] tunghoang290780 commented on #7281
@rasmus-madsen could you reproduce #6497? Just use "--seed=1129857389". This is RTL bug and Martin solution will fix it. I actually did the same thing to move DV forward and I can see the write transactions are captured correctly by monitor.

[2021-07-23 09:04] rswarbrick opened #7445 "[dv] Split up the tl_agent tests for same-cycle responses?"
This is following up on a [review comment](https://github.com/lowRISC/opentitan/pull/7101#discussion_r674188573) from Sri on PR #7101. At the moment, the TL agent test runs with `device_can_rsp_on_same_cycle = 1`. Maybe we should split this into two tests, one for each mode.

@weicaiyang: What do you think?

[2021-07-23 12:53] #4227 closed

[2021-07-23 16:27] imphil opened #7453 "[otbn] Move crypto algorithms out of the code-snippets directory"
The directory `sw/otbn/code-snippets` has a couple code snippets (e.g. short loop test sequences) along side two RSA implementations and two ECDSA implementations, as well as a variety of tests.

Let's clean that up a bit by moving the crypto algorithms into their own directory. I'd propose to go with a single directory per algorithm/"application", and add a README that explains what it does, its

[2021-07-23 16:46] tjaychen commented on #7445
ehhh? we actually do same cycle responses??
because the last time Weicai and I looked at this, we needed to change
certain things in our fabric to even support it. (see #3295)

Am I missing something?

On Fri, Jul 23, 2021 at 2:04 AM Rupert Swarbrick ***@***.***>
wrote:

[2021-07-23 17:08] msfschaffner commented on #7330
The changes mentioned above have been implemented and merged.

[2021-07-23 17:08] #7330 closed

[2021-07-23 17:09] msfschaffner commented on #4526
This has been addressed in #7328.

[2021-07-23 17:09] #4526 closed

[2021-07-23 17:13] imphil opened #7454 "[otbn] Automate tests in code-snippets directory"
OTBN's code snippets directory has a fair amount of tests for different algorithms which need to be executed manually and then the result compared against a reference at the end of the test file. We should automate these tests (and probably run them in CI).

[2021-07-23 17:13] weicaiyang commented on #7445
@rswarbrick In mode `device_can_rsp_on_same_cycle = 1`, we enable the chance that device may respond in the same cycle. But for most of cases, device doesn't respond immediately as we randomly add some delays. I think one test is sufficient and the CI will tell us if we mess up the TL agent.

[2021-07-23 17:14] weicaiyang commented on #7445
@tjaychen we don't enable this mode when testing our OT designs. Since TL spec supports this by default and I also implemented it to try your PR, I keep this support to make it compliant with the spec. Also added a test to make sure we don't screw up this mode.

[2021-07-23 17:23] tjaychen commented on #7445
thanks weicai!

On Fri, Jul 23, 2021 at 10:14 AM weicaiyang ***@***.***>
wrote:

[2021-07-23 17:35] imphil commented on #7440
The "no module named google_..." error is a problem in the prim setup, but we have a fall-back in place, so it shouldn't cause any build to fail. (I'll have a fix in the coming days.) Thanks for filing an issue for it!

The bitstream error is missing a bit of context (and it's certainly not connected to the verible syntax issue), so let's maybe handle that in a separate issue?

[2021-07-23 17:36] tjaychen opened #7455 "[Regfile Change Proposal] Regfile CDC Handling"
In OpenTitan, there are multiple modules whose core operating frequency differs from the bus interface.  For example:

- usbdev
- spi_host
- spi_device
- pwrmgr
- pinmux
- pwm
- adc_ctrl
- sys_rst_ctrl
- aon_timer

All of these are handling regfile / core CDC function differently in someway.
The slower modules however (from `pwrmgr` to `aon_timer` in the list above) are most critical, because depe

[2021-07-23 17:37] tjaychen commented on #7455
@dsandrs
@cfrantz
@moidx
@Muqing-Liu
@GregAC
@rswarbrick
@rasmus-madsen

[2021-07-23 17:38] rswarbrick commented on #7445
Maybe. The only issue is that the TL monitor works differently when this flag is set, so arguably this test isn't actually running the thing we want for the chip we're making. Not sure whether that's a big deal though. @sriyerg: Do you have an opinion?

[2021-07-23 17:47] tjaychen opened #7456 "[Rstmgr Change Proposal] Shadow Reset Implementation"
To further enhance OpenTitan's shadow register scheme, it was suggested early on during the design (and by security consultation) to augment shadow registers with shadow resets.

The basic idea of shadow resets is that each the normal and shadow copies of a register receive different resets. So if an attack managed to glitch one of the reset lines, the two copies become different and trigger an er

[2021-07-23 17:48] tjaychen commented on #7456
@cdgori
@moidx
@dsandrs
@domrizz0
@imphil
@rswarbrick
@tomroberts-lowrisc
@GregAC

[2021-07-23 18:01] tjaychen commented on #6340
@zi-v sorry just revisiting this information a bit.
Do you have safe defaults we can directly use in ROM? Or rather I'm guessing the "safe defaults" are going to be in ast directly right?

[2021-07-23 19:47] moidx commented on #7424
Capturing @mwbranstad's comment here:

Sounds good. Since EDN1 is expected to be of high quality entropy, I don't think we need to use it in boot init entropy mode.

[2021-07-23 21:40] tjaychen opened #7459 "[rstmgr] Confusing rst_ni / clk_i definition"
At the moment, the ast POR signal is fed through the `rst_ni` port.
This POR is then synchronized and used locally.

This means `rst_ni` cannot be used locally within `rstmgr`, however the same does not apply to `clk_i`.
This usage is confusing and error prone, and in fact has caused a bug on [this line](https://github.com/lowRISC/opentitan/blob/master/hw/top_earlgrey/ip/rstmgr/rtl/autogen/rstmgr.

[2021-07-24 00:05] msfschaffner opened #7461 "[sram_ctrl] Need to handle additional RAW hazards due to byte write handling"
https://github.com/lowRISC/opentitan/pull/7218 updates the `sram_ctrl` to include the scrambled RAM primitive and the `tlul_adapter_sram`, and turns on all bus integrity-related features. Since the bus integrity scheme requires additional read-modify-write operations in case of partial writes, new RAW hazard conditions are introduced which the DV environment cannot handle at the moment.

As a work

[2021-07-24 00:09] msfschaffner opened #7462 "[sram_ctrl] Consider refactoring tlul_adapter_sram"
This module has grown quite a bit over time and seems a bit difficult to read and debug by now.
Also, the byte write logic inside `tlul_sram_byte` needs additional request FIFOs which could potentially be consolidated with the rest of the `tlul_adapter_sram` FIFOs if we were to refactor this module.

[2021-07-24 00:09] tjaychen commented on #7461
can you remind me what this work around is? i actually have no recollection of this.

[2021-07-24 00:11] tjaychen commented on #7461
are you talking about the cycle from wait read to write command? that wasn't intended as a work-around, more i didn't want to have back to back memory timing from clk-to-q to setup.

[2021-07-24 00:17] tjaychen commented on #7462
i actually specifically chose to separate those instead of combining them.
If we need to insert stalls in the adapter sram protocol, it actually creates a lot of complexity on the existing logic handling.

it seems cleaner to separate them by function.

[2021-07-24 00:26] msfschaffner commented on #7461
Sorry I should have been more specific. I added this workaround as part of #7218 to make the smoke tests pass - it is not something that you have added.

[2021-07-24 00:37] msfschaffner commented on #7462
ok, I see. the reason why I brought up the consolidation above is that I had to add another FIFO to keep the `a_size` inside `tlul_sram_byte` in #7218, which makes it somewhat redundant with the request FIFO in `tlul_adapter_sram` (this was needed to return the correct `a_size` in case of byte writes, since the `tl_sram_i` write response is currently always indicating full word writes due to the r

[2021-07-24 02:25] tjaychen commented on #7462
yeah let's think about it... so originally i split it out because the FIFO's inside `tlul_adapter_sram` deposited an entry once it was accepted by sram.  The problem with the sram read modified write is that I need to accept the entry, but also change the back pressuring scheme such that it will deposit the entry even if sram side had not accepted the transaction (because we're are still in the mi

[2021-07-25 05:06] zi-v commented on #6340
We plan for safe defaults in AST hardware.

[2021-07-26 09:31] vogelpi commented on #7456
Hey @tjaychen ,
thanks for creating the issue and the prototype PR. This makes sense.

I think the main open question is how to handle cases where the two resets are not released together as this might trigger a fatal alert:
- On the alert handler side things should be okay: software first needs to activate it. However, if things can be reset while the alert handler is running. This might be a pro

[2021-07-26 13:00] imphil commented on #6993
Another prep PR in https://github.com/lowRISC/opentitan/pull/7466.

I have a patch on top of that that uses RND and URND, but it't not yet completely working, likely to to some software verification error on my end. I'll continue debugging this, but I don't expect that much is left.

[2021-07-26 13:37] vrozic opened #7468 "[otbn] User-demanded secure wipe of internal state not needed"
It seems that there is no situation in which the host software might need to securely wipe the internal state.
Current specification states that the  host software can trigger this operation only when OTBN is not busy and that internal state secure wipe is always performed at the end of the OTBN operation.

I suggest to remove SEC_WIPE.INTERNAL and to adjust the specifications.

[2021-07-26 13:41] imphil commented on #6147
See also
https://github.com/lowRISC/opentitan/blob/c65161ca29fc4bd403314e00de67dc09ff461604/sw/otbn/code-snippets/rsa_verify.s#L702-L704

[2021-07-26 13:43] rswarbrick opened #7469 "[otbn] Implement internal secure wipe"
RTL changes only.

[2021-07-26 13:53] imphil commented on #7335
Before modeling LFSR behind URND (and other functionality) we should ensure that we have agreement on the final LFSR/PRNG structure, see also https://github.com/lowRISC/opentitan/issues/6083

[2021-07-26 14:13] imphil opened #7470 "[otbn] Implement error handling when OTBN is active"
Implement in RTL the outcome of https://github.com/lowRISC/opentitan/issues/2696

[2021-07-26 14:17] imphil commented on #3240
With implementation and verification having progressed significantly already, and no strong reason to change the design, we'll just leave things as they are for now.

[2021-07-26 14:17] #3240 closed

[2021-07-26 15:37] imphil opened #7473 "[otbn] Consistently name and document variables in crypto code"
In P256 and P384, there's dptr_s/s and dptr_r/r, but the comments sometimes refer to this variable in capital letters (R/S), but most of the time in lower-case letters (r/s). We should pick one and consistently use it.

(Seen it for S vs s, R vs r, X vs x at least)

Ideally we can have a list of variables, their meaning, and their commonly used name in "real" and in assembly, and then align the co

[2021-07-26 15:37] imphil opened #7474 "[otbn] Size of scratchpad memory in p384_verify"
In `sw/otbn/code-snippets/p384_verify.s`, the comment doesn't quite match the code -- who's correct?

[code]

@felixmiller

[2021-07-26 18:26] moidx commented on #7140
As pointed out by @alphan, the `csrng` spec states:

Is this still true for the `CSRNG_INT_STATE_VAL` register?  This register should be readable in both `DEV` and `PROD` lifecycle states.

[2021-07-26 21:01] mwbranstad commented on #7140
@moidx that statement is not true. It needs to be updated as internal state will always be available. I see a TODO in the RTL that says add a config bit and an efuse to internal state read, so still need a few updates to the control bits.

[2021-07-26 22:18] moidx commented on #5956
The following implementation proposal allows a manifest signature verifier to validate the signature of a code partition without requiring additional inputs, as the usage constraints are encoded into the manifest.  A masking scheme using a `selector_bits` field is used to allow the signer to configure which usage constraints to apply to the signature configuration. Any unused field is set to a def

[2021-07-26 22:19] cindychip opened #7483 "[prim_esc_sender] what will happen if ping_req_i keeps high"
Hi Michael,

I wanted to ask the desired behavior for this scenario for esc_sender:
1). Drive `ping_req` high
2). Wait for `ping_ok` to assert
3). Here is that okay if user decided to keep the `ping_req` high? If user does not reset `ping_req` back, design will return `signal_int_error` as the screenshot shows.

I do not think it is a use case for current alert_handler and lfsr_timer (I believe al

[2021-07-27 00:23] msfschaffner commented on #7225
This will be addressed as part of #7218.

[2021-07-27 00:35] timothytrippel opened #7488 "[dif/lc_ctrl] Missing support for Life Cycle Controller test states"
#7328 introduced additional test states (from 4 to 8) and the lc_ctrl DIF should be updated accordingly.

[2021-07-27 00:35] timothytrippel commented on #7488
@mcy please assign to me. thanks!

[2021-07-27 00:45] cindychip opened #7489 "[prim_esc_receiver] reserve ping corner case"
Hi Michael,

I wonder if there is a corner case where the reverse ping might not work:

Here is the sequence I was thinking:
1). TB force esc_tx.esc_n to always be 1 to create a signal integrity error.
2). Send first ping request (that can trigger prim_esc_receiver's counters).
3). Ping request failed because esc_tx.esc_n is set to 1. -> However, it does not trigger an `ping_en` in prim_esc_receiv

[2021-07-27 08:28] #7170 closed

[2021-07-27 10:51] rasmus-madsen commented on #7281
Hi Tung yes those are infact the exact same issue - for some reason I forgot about that issue.
would it be ok if I close yours and just mention this - to not have duplicates?

[2021-07-27 12:03] rasmus-madsen opened #7494 "[HW/CI] remove CSR tests from CI"
Currently the CSRs are part of the CI.
while I do find it a great Idea to have the tests added by the IP owner in the CI, I don't think we need the CSRs

not only does the CSR's slow down CI
I also don't see any value add - there is no risk of compromising the master branch with a failing CSR.
but it will hold up DV work - having to go fix CSRs test cases that may be irrelevant in the early phases

[2021-07-27 13:57] mundaym commented on #7189
@imphil suggested that it might be better to have a hardware solution. For example, exceptions could be escalated and trigger a reset unless the software has configured a (new) CSR.

[2021-07-27 14:18] rswarbrick commented on #7189
Isn't that essentially the same behaviour as you'd get if you installed a "`while (1) {}`" loop as the handler until ready to deal with things properly? I'm not sure how writing to the proposed new CSR would be any simpler than just updating the vectors?

[2021-07-27 17:46] msfschaffner commented on #7483
Hey @cindychip,

Yes, there is currently no use case where `ping_req` would kept high after `ping_ok` has been asserted.
However, if we find a localized fix to eliminate the corner case you are seeing, I would be OK with that.
Given that the ping request is actually triggered on the rising edge of `ping_req` here
https://github.com/lowRISC/opentitan/blob/ec5301e7d67e020b7690a957943e6f5c31dd4436/hw

[2021-07-27 17:51] msfschaffner commented on #7489
Hey @cindychip, this is a good point, and essentially corresponds to a situation where the escalation line has been permanently compromised / severed.

At the moment we rely on the remaining escalation channels to trigger other escalation actions in such a case - i.e., if the alert handler detects that one of the escalation senders does not work due to signal inegrity, it can trigger all other esc

[2021-07-27 17:56] cindychip commented on #7489
Thanks Michael - Do you think this will work?
For signal integrity error for the last (most important) escalation_receiver, can we directly trigger `esc_en`?

[2021-07-27 18:11] weicaiyang commented on #7178
got an update below from Cadence. It's a tool bug.

[2021-07-27 18:43] msfschaffner commented on #7489
Something like that, but I don't think we need to distinguish the channels here (i.e., we already have a way to feed this condition back to the other escalation channels via the integrity alert). Rather I was just thinking about asserting the escalation enable in prim_esc_receiver if this condition is detected (similar to the auto-escalation feature of the reverse ping mechanism).

[2021-07-27 21:53] moidx opened #7505 "[hw/sw] CSRNG KAT Generate Bits mistmatch"
The test vector introduced in PR lowrisc/opentitan#7303 matches all internal `{K,V}` states for instantiate and generate commands, but fails to match the output.

[code]

[2021-07-27 22:13] mundaym commented on #7189
@cfrantz has suggested that we could use the watchdog timer to request a reset. I think I'll try that approach and see how far it takes us.

@rswarbrick I think we want to avoid ending up in an infinite loop without first locking down the chip. A reset is one way to achieve that.

[2021-07-27 22:42] msfschaffner commented on #7417
Sorry for being late here. Am I assuming correctly that the difference in behavior is only because in the AES case the shadow register is implemented externally? In that case I also think that it would probably be best to align with the behavior that the regtool would generate.

[2021-07-27 22:52] moidx commented on #5982
lowrisc/opentitan#7303 introduces an initial implementation of KAT tests for the DRBG functionality. The is still an outstanding issue with the generate output when running the test at the top level which is being tracked in lowrisc/opentitan#7505.

[2021-07-27 23:31] msfschaffner opened #7510 "[rv_timer/top] Redundant interrupt connections"
The `rv_timer` interrupt is already connected to a dedicated `rv_core_ibex` interrupt port, hence the connection to `rv_plic` is technically redundant and could be removed (done in this PR https://github.com/lowRISC/opentitan/pull/7509).

@cfrantz Would it still be beneficial (from SW side) to have the `rv_timer` interrupt connected to both the dedicated timer interrupt in Ibex and the PLIC?

[2021-07-28 01:37] #5982 closed

[2021-07-28 05:13] cindychip commented on #7483
Thanks Michael, your proposed solution works!

[2021-07-28 05:15] cindychip commented on #7417
No worries, thanks for your input Michael. II think your understanding is correct. @vogelpi do you mind aligning the AES shadow regs?

[2021-07-28 08:16] rswarbrick commented on #7189
Right, makes sense. I was imagining that the watchdog would kill us quickly. Chris Frantz's idea sounds good to me (assuming it's "in the initial handler, configure the watchdog to reset us ASAP")

[2021-07-28 09:11] rswarbrick commented on #7455
On the DV side, I don't think this should cause any problems. We don't have "register file verification" separate from the blocks themselves, so there's nothing to worry about there. I don't think this should have any impact on a block that doesn't use the scheme. For blocks that do use the scheme, I'd hope we can verify that it's working right: if not, we have other problems :-)

[2021-07-28 13:03] mwbranstad commented on #7505
@moidx this is unexpected. Not sure I can re-create either. I think the best path for debug is to create a VCD wave file, compress it, and then try to send it to me. Think that is possible?

[2021-07-28 17:00] vogelpi commented on #7417
Yes, I can do the realignment of the AES shadow reg.

[2021-07-28 18:09] msfschaffner commented on #7510
LGTM,  @sriyerg, @moidx, and I were discussing this yesterday, as we are looking to port FreeRTOS to OT for driving system level (concurrency) tests (we noticed the timer interrupts had two paths to Ibex). Nice catch!

_Originally posted by @timothytrippel in https://github.com/lowRISC/opentitan/issues/7509#issuecomment-888505659_

[2021-07-28 18:09] msfschaffner commented on #7510
It looks like this is OK from a SW perspective, so we can move forward with the PR and remove this second path.

[2021-07-28 20:22] igk8 commented on #5753
Loopback function is merged, closing this issue.

[2021-07-28 20:22] #5753 closed

[2021-07-28 20:31] igk8 commented on #5112
FIFO depth was made parameterizable in PR #7081; the default is 64. It can be set to a smaller value, if desired. FIFO depth larger than 64 will not work, because of the fixed register field sizes.

Closing this issue.

[2021-07-28 20:31] #5112 closed

[2021-07-28 20:36] cfrantz commented on #6126
eflash: the published document says 512K, but top_earlgrey.hjson says 2 banks of 256 pages (pagesize=2K) for a total of 1MiB of flash (in two banks).

sram: the published document says 64K, but top_earlgrey.json says 128K (in memory/ram_main/size).

[2021-07-28 20:47] igk8 commented on #1921
@martin-lueker Can this issue be closed now?

[2021-07-28 20:59] #7510 closed

[2021-07-28 21:03] msfschaffner commented on #7310
OK we are almost there now. The two open's at this point are:
- [ ] absorb scrambling primitive into `sram_ctrl` (Issue #4709, PR #7218)
- [ ] absorb flash PHY into `flash_ctrl` (Issue #4709)

[2021-07-28 21:46] sriyerg commented on #7494
TL; DR; my vote is to keep the CSR tests, audit the public CI instead and continue profiling the DV env for bottlenecks.

Thanks @rasmus-madsen for raising this issue. FYI, having all CSR tests pass is already a V1 requirement.
https://docs.opentitan.org/doc/project/checklist/#v1

For any new block, the CSR tests come for free as soon as the initial testbench is autogenerated - and as such serve a

[2021-07-28 22:10] #7483 closed

[2021-07-28 22:17] weicaiyang commented on #7494
I also prefer to keep the IP-level CSR tests, but perhaps remove the `chip_csr_rw`.

As Sri mentioned, running CSR tests helps us to capture some mistakes due to some updates the Hjson or design. Designer can make a quick fix or adjust CSR exclusion. Now designers know how to debug all kinds of CSR tests and use correct CSR exclusion. Without running those in CI, DV may end up to spending more tim

[2021-07-29 16:05] matutem opened #7524 "[rtl/clkmgr] Remove clk_io_div4_peri glitches"
I recently noticed the output peripheral clk_io_div4_peri shows a glitch in simulation, but could also happen in the real hardware. Apparently when the reset signal is asserted the clock falls immediately which could result in glitches. Also, reset is meant to be okay to assert asynchronously, so this could happen during normal reset cycles.

If this is deemed to need fixing it seems the prim_cloc

[2021-07-29 18:36] weicaiyang commented on #5484
@martin-lueker can you take a look at my last comment and LMK what you think? Thanks

[2021-07-29 18:37] tjaychen commented on #7524
i'll have a look, but i'm not sure if there is a real way to fix this.
When the reset asserts (especially if it's the POR), it will wipe away all
the dividers and everything.

There's no simple way to change the reset state based on where we last
were..so the only thing we might have to rely on is the reset cleaning up
the system state.

On Thu, Jul 29, 2021 at 9:05 AM Matute ***@***.***> wrote:

[2021-07-29 18:44] martin-lueker commented on #5484
Oh, Hi Weicai.  Apologies... yes, I made a note to look at this, but then haven't had a chance to follow though.  I wasn't aware that there was an sram option.  I can certainly give it a try!

[2021-07-29 18:44] tjaychen commented on #7456
So at the moment I am not too worried about the reset assertions.
Our resets are async so under normal circumstances they will pull related logic to the same value immediately.  There is technically STILL a possibility of false positives if the reset occurs RIGHT on the clock sampling edges and look like two different values.  For the software reset case, this is okay since software-caused resets

[2021-07-29 18:46] tjaychen commented on #7468
would you mind clarifying a bit why there's no need?
Is it because after appropriate operations the Otbn would wipe itself?

On Mon, Jul 26, 2021 at 6:37 AM Vladimir Rozic ***@***.***>
wrote:

[2021-07-29 18:47] tjaychen commented on #6340
thanks @zi-v

[2021-07-29 18:53] weicaiyang commented on #5484
No worries. Just LMK if that doesn't work for you. Thanks

[2021-07-29 18:57] #7459 closed

[2021-07-29 18:58] matutem commented on #7524
POR is fine, but this may affect other resets that keep the clkmgr active. Clock circuitry typically needs to use a latch to avoid glitches, suggesting the prim divider cell is not up to snuff.

[2021-07-29 19:03] tjaychen commented on #7524
are you saying the clock divider out of latches...? can't say i've seen
that before.

On Thu, Jul 29, 2021 at 11:58 AM Matute ***@***.***> wrote:

[2021-07-29 19:05] tjaychen commented on #7524
i think the other piece is all of `clkmgr's` resets used are `por` related.
see [here](https://github.com/lowRISC/opentitan/blob/master/hw/top_earlgrey/data/top_earlgrey.hjson#L357)

[2021-07-29 19:09] sriyerg commented on #7494
I agree with the idea of removing `chip_csr_rw` test from presubmit CI, but unfortunately there is no easy way to selectively remove it for chip but keep it for the blocks.

[2021-07-29 19:34] tjaychen commented on #7524
@matutem for the purposes of this test, could we try to sequence the `resets` after the `pwr_i` req/handshake?
It doesn't REALLY matter at the top level because all the resets are `por` related. But if they are not, the idea is the entity controlling the reset should be cycling through the clocks turning off, THEN asserting reset.

I think that's how this was supposed to addressed at a protocol le

[2021-07-29 21:02] tjaychen commented on #7489
yeah i agree. I think a signal integrity error (assuming i understood correctly) on the receiver side, should definitely start the escalation process. This also makes sense that it's on the receiver side to me, since if we see an integrity error, we can't promise that any further indication from the sender side will actually work.

[2021-07-29 21:05] tjaychen commented on #7505
@moidx @mwbranstad do we have the C code that generates this error merged somewhere?
we can probably see if it can be recreated in DV / verilator.

[2021-07-29 22:27] mwbranstad commented on #7505
I tried to re-create this scenario on my multi-block system verlog testbench (has es, cs, edn0, edn1) and it passed for me. I am sure that something that i cannot guess at this point is aligning and causing an issue. At this point i need a wave file to debug.

[2021-07-29 22:31] tjaychen commented on #7505
mark it could be something specific to verilator.
So we might want to run the vector there and see if anything looks
different.

On Thu, Jul 29, 2021 at 3:27 PM mwbranstad ***@***.***> wrote:

[2021-07-29 23:00] moidx commented on #7505
Hi @tjaychen, https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/tests/dif/dif_csrng_smoketest.c can be used to reproduce the issue. So far, I have only tested this on Verilator.

[2021-07-29 23:29] eunchan opened #7533 "[dv] CI chip_csr_rw fails sporadically."
I am seeing the UVM_ERRORs on `chip_csr_rw` tests. Sometimes from alert_handler other times from the ibex.

[code]

OR

[code]

[2021-07-29 23:30] cindychip commented on #7533
Thanks Eunchan, this is related to issue https://github.com/lowRISC/opentitan/issues/7417. I will work on it soon.

[2021-07-29 23:31] eunchan commented on #7533
Ah OK. Known issues :).

[2021-07-29 23:32] #7533 closed

[2021-07-29 23:32] cindychip commented on #7533
Does this block any PR from merging? I will try to get it done by tmr!

[2021-07-29 23:38] eunchan commented on #7533
Looks liek #7415 #7486 are affected.

[2021-07-29 23:40] cindychip commented on #7533
Oh no! I am super sorry. If AES does not align, we might see error on AES shadow registers. But AES only has one shadow reg,, the possibility should be much lower. Working on it now!

[2021-07-29 23:48] tjaychen commented on #7417
@vogelpi can you remind me, the reason the aes shadow registers are implemented externally, is that because you need a back-pressure behavior that does not natively exist in our normal regfiles?

I'm just wondering that since we are adding the concept of `reg_busy` due to CDC, we could add a similar idea for synchronous registers also.  Let me know what you think.

[2021-07-30 00:08] timothytrippel commented on #3826
I am working on a fix for these with the new alert handler design (#6136: configs are now multireg). Please assign to me. Thanks!

[2021-07-30 02:16] msfschaffner commented on #7489
Ok sounds good I'll look into how this could be added. I need to think about the clock / power management issues anyways now (both for the alert and escalation channels).

[2021-07-30 03:00] eunchan commented on #7417
Oh.. I followed AES design in the PR #7439 . Maybe I should change that to each fields.

[2021-07-30 11:56] vrozic commented on #7468
Indeed, the secure wipe of the internal state (register file + modulus + accumulator) is performed automatically at the end of the OTBN operation, and after an error, so there is no need for the host software to do it afterwards.

On the other hand, data and instruction memories are not always wiped by default, so it makes sense for the host software to request it. This feature will still be provi

[2021-07-30 14:29] rasmus-madsen commented on #7494
@sriyerg @weicaiyang I think I I got a leg in both camps here.
not sure what types of errors in the Hjson would be caught by the CSR's and not the smoke test?
also, CSR tests are mostly relevant for design engineers - the DV engineer does not have any contact with them other than making sure they are not accidentally running tasks from the IP DV.
and there is nothing more frustrating than a CI tha

[2021-07-30 15:45] rswarbrick commented on #7494
I'm not sure what I think about this. Honestly, I'm happy with a super-finicky CI, even if it means a couple of PRs get slightly delayed.

About this comment:

Yeah we are, sort of. Maybe that's unavoidable in a cross-organisation project (because no-one at Google can shout at me if I break stuff, it's better to make sure I don't break it in the first place :smile:)

[2021-07-30 17:06] tjaychen commented on #7468
sounds good!
just to confirm, Felix has a use case where he wanted to preserve certain
content between otbn runs, this will still be supported as well right?

On Fri, Jul 30, 2021 at 4:56 AM Vladimir Rozic ***@***.***>
wrote:

[2021-07-30 17:58] sriyerg commented on #7494
@rasmus-madsen, please note that the CSR tests are developed in DV / UVM environment, they are added to DV testplan and hence, it is absolutely the DV engineer's responsibility to maintain the health. By adding them to CI, we end up saving the DV engineer's time by splitting that maintenance overhead with the designers. Isn't that useful (that is what Weicai was alluding to in his earlier comment)

[2021-07-30 18:05] msfschaffner commented on #7417
@eunchan, if it is not too hard to rewrite, that would be great!

[2021-07-30 19:25] msfschaffner opened #7540 "[lc_ctrl] Perform a security review of the state transition logic"
We should perform a security review of the state transition logic inside `lc_ctrl_fsm` to make sure that there are no single points of failure. We may have to duplicate some signals and hold them in place using `prim_buf` primitives such that the synthesis tools do not optimize them away.

[2021-07-31 00:18] tjaychen commented on #6656
this one should be working for now.
I added some minor fixes in the tb such that pwrmgr can go into sleep and power up (needed for another test on verilator).
The underlying issue still isn't solved, but pwrmgr_smoke can at least run.

[2021-08-01 22:12] martin-lueker commented on #1921
Oh my.  This has been a long time coming.  Yes.  I think so.

-Martin

[2021-08-01 22:12] #1921 closed

[2021-08-01 22:25] martin-lueker opened #7553 "[spi_host, doc] Indicate currently unverified parameter-dependent features"
SPI_HOST has a couple of parameter dependent features which are not used in Earlgrey:

- Endianness
- Multiple CS lines

Given that the our design flow makes it a bit more challenging to change parametrizations.   These features should be listed implemented but unverified, as discussed in #7237

[2021-08-01 22:26] martin-lueker commented on #7553
FYI: @weicaiyang, @rasmus-madsen

[2021-08-02 07:31] vogelpi commented on #7417
For AES, there are two reasons for making shadowed control reg `hwext`:
1. We need to be able to ignore/gate updates to the shadowed control register whenever the module is busy (back-pressure). I think with the current regtool only software can gate writes using the `regwen` feature.
2. We need to be able to resolve invalid values written by software. Most fields are one-hot encoded, if a value w

[2021-08-02 08:48] rswarbrick commented on #7468
Yep. That's all stored in memory, I think. This is to do with things like the loop stack and register data (which are mostly architecturally zeroed at the start of an operation anyway).

[2021-08-02 08:49] rasmus-madsen commented on #7494
@sriyerg I am trying to review what we are doing and make sure it makes sense.
the FGPA builds are another thing that I feel could be removed from CI  or limited to compile and elaboration.

as mentioned we are really using CI for regression - which IMO is at best, an unneeded overhead.

Anyway, it seems between the people who felt like chiming in - the consensus is that the current way works well

[2021-08-02 14:32] #7468 closed

[2021-08-02 16:35] mwbranstad commented on #7505
@moidx @tjaychen I would like to resolve this, but i will need a waveform generated. I am pretty sure I can look at a VCD formatted wave file.

[2021-08-02 17:01] sriyerg commented on #7494
One more problem (likely the most significant) is the RAL tooling is still getting significantly updated to this day (and will likely continue to receive more updates in future), where not just the tooling but also the RTL is getting modified. CSR tests in CI serve as a good check to ensure we are not leaving things in a broken state. The smoke tests IMO are not extensive enough to cover an IP's c

[2021-08-02 17:35] tjaychen commented on #7417
@vogelpi for the resolving to a specified one-hot value, does that have to be done as part of the register itself?
Or can it be some downstream encoding / decoding logic?

[2021-08-02 17:40] tjaychen opened #7560 "[doc] Document regfile cdc handling scheme."

[2021-08-02 17:41] #7455 closed

[2021-08-02 19:05] sriyerg commented on #7494
Sure, that sounds good. Though, your comment above is a bit concerning:

Please do let us know if there were cases where exclusions were added without properly analyzing the failure.

[2021-08-02 21:43] #4177 closed

[2021-08-03 00:43] tjaychen opened #7566 "[reggen] Report error when bit field is reused"
it seems like reggen does not notice if a bit field is re-used, so we end up with code like this

[code]

We should have reggen notice something is being re-used and error out right way so we don't get strange lint errors that a particular net is not being used.

[2021-08-03 02:21] timothytrippel opened #7571 "[dif/alert_handler] Unit tests have been disabled due to RTL changes"
PR #6136 disabled (commented out) several unit tests that were failing since the alert handler RTL had been changed. The following unit tests must be restored, and matching DIF code fixed if necessary:

- [x] ConfigTest.ClassInit
- [x] ConfigTest.BadAlert
- [x] ConfigTest.BadSignalPhase
- [x] ConfigTest.BadDurationPhase
- [x] ConfigTest.BadPointers
- [x] ConfigTest.BadClass
- [x] CauseTest.Ack and

[2021-08-03 02:22] timothytrippel commented on #7571
Please assign to me (@timothytrippel). Thanks!

[2021-08-03 10:36] rswarbrick commented on #7566
Oof! Do you have a way to reproduce the example?

[2021-08-03 11:04] tomroberts-lowrisc commented on #6909
@tjaychen What the aon timer currently does seems to be in-line with what the sysrst block also does (SW visible register which SW must "ack" to drop the level wakeup signal).

If there's no further input on this I'll consider the current approach OK and proceed with D2 prep for the aon timer.

[2021-08-03 16:44] rswarbrick opened #7579 "[otbn] Incorrect behaviour on a BN.LID/BN.SID that increments x1"
Example code that reproduces things:
[code]

The problem is that we sample the value "10" and use it for the base address for the load. Unfortunately, this causes a pop so we then get a bogus value to be incremented before storing back the new `x1`.

Probably the right fix is for the "pop" to take effect on the second cycle of the stalled instruction.

Attached is a simple directory with Makefile

[2021-08-03 18:06] tjaychen commented on #6909
sounds good, thanks Tom.

On Tue, Aug 3, 2021 at 4:04 AM Tom Roberts ***@***.***> wrote:

[2021-08-03 20:41] weicaiyang opened #7587 "[dv] extracted from the pinout configuration for a chip from hjson"
As Sri pointed out, we need a layer (a wire-like data structure) extracted from the pinout configuration for a chip from the HJSon that represents what functionality (either muxed or dedicated) is available on each of these pins, and use that to connect the peripheral agents.

[2021-08-03 21:25] cdgori commented on #7489
100% agree with @tjaychen - it should cause escalation, and on the receiver side (because the sender is now in unknown condition).

[2021-08-03 22:32] tjaychen opened #7591 "[Rstmgr Change Proposal] Reset consistency checks"
To further enhance OpenTitan's reset integrity, it was suggested through security consultation to check for reset consistency.

This means if a node issues a reset, it must be that somewhere upstream has also requested a reset. A reset cannot happen in isolation.  If it does, it is considered a fault.

PROS
Enhance the integrity checks of resets.

CONS
Requires DV directed test cases to ensure tha

[2021-08-03 22:32] tjaychen commented on #7591
@dsandrs
@msfschaffner
@eunchan

[2021-08-03 23:33] tjaychen commented on #7505
sorry @mwbranstad i still didn't have a chance to get back to this.
let me try tonight or some time tomorrow.

[2021-08-04 00:50] timothytrippel opened #7596 "[dif/alert_handler] local alert RTL has changed"
RTL for local alerts has changed since the DIF was last updated (see #6136). The following needs to be added to the DIF:

- [x] bus integrity failure type need to be added to the dif_alert_handler_local_alert_t enum
- [x] switch block in classify_local_alerts() function needs to add the "bus integrity failure" local alert type
- [x] switch block in loc_alert_index() function needs to add the "bus

[2021-08-04 08:20] #6909 closed

[2021-08-04 13:44] GregAC commented on #7579
The `bn.lid x1++, 0(x0)` case also needs consideration, I've settled for a solution where the timing of the write is altered depending on which register is being incremented. See the linked PR