[2022-09-28 00:28] Jacob-Levy commented on #15160
Still failing the same way! All the 11 tests...
[code]

[2022-09-28 00:30] Jacob-Levy commented on #15160
Will try to rebase again later today to see if it helps...

[2022-09-28 00:43] Jacob-Levy commented on #15160
Rebased opentitan and rerun...
It failed the same way!
I run the CHIP level CI test.

[2022-09-28 01:55] a-pronin commented on #15134
Well, there is a spec that addresses how to know when TPM is ready to handle a command and when TPM has the response ready. But it's 2 levels up in the protocol stack, it is determined by reading these "registers" (hw-backed or not).

There's also flow control for delaying the payload part of reads/writes from/to the "registers" until TPM is ready to handle them. The whole reason for having these

[2022-09-28 02:11] colinoflynn commented on #15099
Got it. Unfortunately the SAM3X itself doesn't have really any user I/O (most of the pins are used already), so even using it as a proxy gets tricky. There is the Ethernet connection but it's not used right now so not supported in firmware (may be some effort).

If a top-level remap is possible that might be cleanest, such you can talk directly to OpenTitan (as @a-will mentioned, but it sounds not

[2022-09-28 02:48] tjaychen commented on #15160
@Jacob-Levy we need a bit more information.
What is your setup? What's different in your environment? Did you just pull from open source directly and it just failed?

[2022-09-28 03:03] tjaychen commented on #6220
it's not entirely the same, because the assumption is that some kind of lock-up is happening after we enter life cycle PROD, which means the debugger would no longer be available.  We have seen this from time to time just because during production there's more volume and it can expose corner cases not previously thought of.

We don't necessarily need a fall through like what i'm suggesting, but ju

[2022-09-28 03:09] jdonjdon commented on #15157
@tjaychen Ah~ I messed up while I try to narrow down the issue. Let me rewrite description.
Please see the above.

[2022-09-28 03:12] jdonjdon commented on #15157
New figure is attached here
![image](https://user-images.githubusercontent.com/99843637/192679063-78a5b299-d2b0-42d4-8d97-5ae4023432a3.png)

[2022-09-28 03:16] tjaychen commented on #15157
@jdonjdon sorry i can't tell what's changed. It looks the same to me.

[2022-09-28 03:18] tjaychen commented on #15157
o i see. Let me have a closer look.

[2022-09-28 03:52] tjaychen commented on #15157
is the test supposed to fail? because mine is just running.

[2022-09-28 03:54] jdonjdon commented on #15157
@tjaychen yes this test will fail with following error
UVM_ERROR @ 4313603.8 ns: (csr_utils_pkg.sv:435) [csr_utils::csr_rd_check] Check failed obs == exp (0 [0x0] vs 1 [0x1]) Regname: flash_ctrl_core_reg_block.err_code.rd_err

[2022-09-28 03:58] tjaychen commented on #15157
![image](https://user-images.githubusercontent.com/1026250/192684105-066b9854-a808-4f11-96ab-80d21f22b178.png)

@jdonjdon are you talking about this timestamp here?
if yes... this is still a case where the error is going back to the host.

Are you trying to predict who the error will go back to? Just because `op_start` is set doesn't mean the controller will win this round.  In my setup at least t

[2022-09-28 04:43] msfschaffner commented on #14200
I cherry-picked https://github.com/lowRISC/opentitan/pull/15169 onto https://github.com/lowRISC/opentitan/commit/f781bc270191c7ce152ddc55618ea36d992abb31 and reran with

util/dvsim/dvsim.py hw/top_earlgrey/dv/chip_sim_cfg.hjson -i chip_tl_errors --build-seed 739773536 --fixed-seed 2260535853 --waves

and the test passed.

[2022-09-28 04:58] weicaiyang commented on #15134
Thanks @a-pronin. It makes sense. Will model the scoreboard as you describe here, as well as checking the mixing of 2 values shouldn't occur

[2022-09-28 05:01] weicaiyang commented on #15133
@a-pronin These approaches sound reasonable to me.

@eunchan which option will you pick?

[2022-09-28 05:12] tjaychen commented on #15133
if we feel like all will be okay in practice, i would say let's just stick with 0x28. It seems like there is a 99% chance the singular 0x20 is a typo, so let's stick with that. Even if we are wrong, it doesn't appear it will really hurt.  When the spec is eventually clear and corrected, then we can move to whatever it wants.

[2022-09-28 05:57] tjaychen opened #15170 "[i2c] remaining DV tasks"
This issue tracks the various i2c dv related issues as well as some of the milestone items yet to be completed

Outstanding DV items for i2c_host
- [x] Fix test bench connection setup discovered in #15066
- [x] ensure there are test vectors available #14961
- [x] clean-up i2c host mode regressions and fix existing failures #16889
- [ ] review current testing for scl / sda interference, instability

[2022-09-28 06:00] tjaychen commented on #15037
@jdonjdon once you've reviewed the latest file system assumptions, can you close this if you think we are all good?

[2022-09-28 06:00] timothytrippel commented on #15009
#15171 should clean this up.

[2022-09-28 06:03] tjaychen commented on #15170
@drewmacrae
@a-will
was there anything else you guys noticed that i've missed?
I'll have to file a separate design tracking one.

[2022-09-28 06:47] #1863 closed

[2022-09-28 07:14] Jacob-Levy commented on #15160
@tjaychen This is a simple full-chip test to check the opentitan integrity using VCS...
[code]
Both run fail the same way!
Are you running the CI on VCS?

[2022-09-28 07:29] jdonjdon commented on #15157
@tjaychen This is TB issue.
integrity error is not asserted for some transaction even though it is marked 'err_asserted'.
Fixed in #15142

[2022-09-28 07:29] #15157 closed

[2022-09-28 08:21] Jacob-Levy commented on #15160
[code]

[2022-09-28 09:34] alphan commented on #6220
Yeah, prod can be tricky. I think this deserves an offline discussion.

[2022-09-28 10:40] Jacob-Levy commented on #15160
@tjaychen Sorry for the false alarm! It turns out that the computer I used what not setup correctly for OT. I switched to a different one and the test passes now.
Closing the issue.

[2022-09-28 10:40] #15160 closed

[2022-09-28 12:00] hstr0 commented on #15099
Thanks for your remarks @colinoflynn. The "terrible solution" would be fallback if nothing else works in time.

After some investigation it makes the most sense to utilize the Pmod interface to use SPI as the FTDI chip on our custom board can only be driven in UART mode. A top-level remap seems indeed like the best approach right now.

@a-will, could you elaborate on usability of the current alter

[2022-09-28 14:33] drewmacrae commented on #15170
I think this covers all the issues we talked about that are important to the I2C block as specified. There are a number of corner cases that could become important in multihost systems where OpenTitan's I2C is acting as a host, but given that's not supported, I'll try to remember that they're moot.

[2022-09-28 14:47] a-will commented on #15170
There aren't any other DV-related ones I'm aware of. Thanks for putting together the list!

[2022-09-28 15:04] #15009 closed

[2022-09-28 15:14] a-will commented on #15099
The cw310's hyperdebug bitstream variant exports nearly all the OpenTitan pins to the USERIOA and USERIOB connectors, including the DIOs for spi_device. This bitstream is targeted for an external board to completely drive OpenTitan (including the UART), so the SAM3X would only be responsible for FPGA programming and general CW310 board management. The "hyperdebug" is a board we intend to use for e

[2022-09-28 15:17] drewmacrae commented on #15145
Some of the logic that controls what runs on the host to coordinate e2e tests set this as a default for the dv tests. I'll see if I can fix it

[2022-09-28 15:39] dmcardle opened #15174 "Improve robustness of OpenOCD connection in SRAM execution tests"
Switching from Test ROM to ROM in https://github.com/lowRISC/opentitan/pull/15024 caused our tower of GDB/OpenOCD/JTAG/FPGA to become flaky.

I summarized my thoughts in the commit message for https://github.com/lowRISC/opentitan/pull/15024/commits/473261de0671ac7a62c6524b160f1ad6d1d23afc, which I'll copy here.

[code]

I think it might be possible to eliminate the flakiness by repeating the OpenO

[2022-09-28 15:54] eunchan commented on #15133
Current SPI TPM design has two issues:

1. TPM_HASH_START address is configured to *0x20*. Changing it is easy.
2. TPM_HASH_START, based on TPM spec, exists in Locality 4 only. In other localities, the address is reserved. So, HW may return 0xFF for locality 4 and upload if the request goes to other locality OR HW returns 0x00 for reserved OR HW always return 0xFF. I think second resolution is eas

[2022-09-28 15:55] marnovandermaas commented on #15148
Here's the link to the assert that fails: https://github.com/lowRISC/opentitan/blob/2df7b9257d24ed8e41e1b2388d4d302a62043ed2/hw/ip/rv_core_ibex/rtl/rv_core_ibex.sv#L894
From the chip-level test perspective, the Ibex fails while spinning/waiting for the AON timer interrupt occurring at line:
https://github.com/lowRISC/opentitan/blob/2df7b9257d24ed8e41e1b2388d4d302a62043ed2/sw/device/tests/sim_dv/cl

[2022-09-28 15:56] eunchan commented on #15133
Ah, one thing to add is. `HASH_START` address is from 0x28 to **0x2F**. So, the reg occupies two DWORDs. I think this is also typo in the spec. @a-pronin

[2022-09-28 15:59] drewmacrae commented on #15145
...hmm, When the binary is signed (which the rules default to doing, bazel is using OTT to do the signing of the binaries)

After fixing the test_harness dependency for things that only target dv, and then hacking out the other targets for a test, I still see:

[code]

We can avoid generating these artifacts if we don't need them for DV, @timothytrippel, can you confirm or assign this to someone w

[2022-09-28 16:01] drewmacrae commented on #9653
Hmm, I wonder if it's updates to python packages:

I see python wheels update sometimes, maybe dependabot will help prevent this and resolve it. There are targets in hw/ that depend on python packages.

[2022-09-28 16:08] tjaychen commented on #15160
good to hear. Was there any specific setup that was missing from your end? Would be good to know if this is a common symptom for other partners.

[2022-09-28 16:23] engdoreis commented on #15148
The same behavior is hapening here #15152.

[2022-09-28 16:24] dmcardle commented on #15174
Yeah, I should have mentioned that actually. Disabling execution prevents the ROM from boot-looping and prevents it from setting up the watchdog timer. We could disable execution in a special OTP image and splice it into the CW310 bitstreams, but OTP splicing needs a little work first (https://github.com/lowRISC/opentitan/issues/15162).

[2022-09-28 16:25] tjaychen commented on #15174
ah sounds good. Yeah it would just be good to confirm that having `ROM_EXEC_EN=0` actually makes the connection more stable. If even then it's still flaky, we may have some more issues we need to track down.

[2022-09-28 16:28] dmcardle commented on #15174
I kind of simulated `ROM_EXEC_EN=0` by commenting out the condition on the `wfi` instruction in [`_rom_start_boot`](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/rom_start.S;l=136-142;drc=6b0d4ddebf7d1468d998ea8836679a834286e06c) and I believe that eliminated the flakiness. I should confirm that again, though.

[2022-09-28 16:29] tjaychen commented on #15174
ah sounds good...at least there's no other hidden issue hehe.

[2022-09-28 17:09] cindychip commented on #14790
PR #14911 resolves the issue.

[2022-09-28 17:09] #14790 closed

[2022-09-28 17:27] mwbranstad commented on #14542
PR #15165 has passed 19 tests, but still fails some tests (as expected).
@tjaychen can you take a look?

[2022-09-28 17:31] timothytrippel commented on #15145
@drewmacrae yes we need those targets for dv, removing them will break all the nightly regressions as dvsim [expects](https://cs.opensource.google/opentitan/opentitan/+/master:hw/dv/tools/dvsim/sim.mk;drc=88ab6e2b78e22ea03766ef083f4b8b8e337aceb2;l=103) many targets to be built.

What do you mean by "after fixing the test_harness dependency for things that only target dv ... " ?

Sorry it took me a

[2022-09-28 17:36] #14925 closed

[2022-09-28 17:37] dmcardle commented on #14523
Blocked on #15162. Once I have a better grasp of understand OTP splicing, I'll write it up in detail. Those gritty details probably don't belong in the FPGA Reference Manual, so I'll have to find somewhere to put them.

[2022-09-28 17:40] tjaychen commented on #14542
yes i will have a look, i've assigned myself on the PR already.
@bilgiday if you have time to have a look also, please feel free.

[2022-09-28 17:47] drewmacrae commented on #15145
Above there's discussion of the way we're adding OTT as a direct dependency to the *_sim_dv tests by setting it as a test_harness (which is incorrect, but also moot if we need signed flash images).

[2022-09-28 18:19] drewmacrae commented on #15145
I'm curious, does the high reseed rate indicate we're building OTT more than once and eventually we just thrash the filesystem or network to the point where something blows up?

[2022-09-28 18:19] Jacob-Levy commented on #15160
@tjaychen The tools location and probably some versions did not match the other computers.
After our IT matched it to the other computerd, the test passed.

[2022-09-28 18:28] timothytrippel commented on #15145
the nightly regressions are launched with dvsim, which launches separate VMs for each test. dvsim has two phases, a build phase and a run phase, each are executed on a separate VM I believe (tho @sriyerg please correct me if I am wrong). During the "build" phase, the HW design is elaborated and the sim model is built. During the "run" phase bazel is run to build SW images (if it is a SW top-level

[2022-09-28 18:30] timothytrippel commented on #15145
also, these machines are airgapped, so there is no network access ever happening.

[2022-09-28 19:04] weicaiyang commented on #15027
fixed via #15065

[2022-09-28 19:04] #15027 closed

[2022-09-28 19:19] a-pronin commented on #15133
I asked the 0x20 vs 0x28 question in TCG WGs. if the response comes soon, we can act based on it.

[2022-09-28 19:38] drewmacrae commented on #14111
#15177 Should provide the C Side for this test.

[2022-09-28 19:59] timothytrippel commented on #15145
I did some further digging, it looks like this is a transient issue. We did update our internal infrastructure yesterday a couple times that runs these tests, so lets wait until the next nightly regression results post to the dashboard. This error should disappear on its own.

Also, it looks like it only impacts two tests now (below), so I updated the list in the issue description above.
- chip_sw

[2022-09-28 20:09] luismarques commented on #15145
Thanks for all of the additional information. Even if this issue goes away, can we still try to diagnose it earlier in the build process, when the tarball is fetched, instead of failing when it is extracted? Also, where is it being fetched from (given the air gap)? What caused the fetching to fail?

[2022-09-28 20:10] drewmacrae commented on #14104
By the way, this is also addressed in #14797

[2022-09-28 20:19] alphan commented on #15174
Yeah, both #14484 and #14486 say:

@dmcardle I think you can close this once you can confirm that everything is stable.

We can either
* wait for the OTP issue to be resolved,
* simply comment out the check before `wfi` and `--define bitstream=gcp_splice` as you suggested, or
* set the corresponding entry in the RMA HJSON file to `0` and test using the resulting bitstream.

It's good to know that

[2022-09-28 21:12] msfschaffner opened #15182 "[tlul] How to properly generate errors in address space "holes""
After #15169 is merged, most remaining errors in the `chip_tl_errors` test seem to be transactions that go into CSR node regions that are defined at the system level, but which are undefined within the `reg_top` module. E.g. with the command

[code]
on `e3328df406558afe85bdd1c77b1b1970841106ed` from #15169, we get a transaction that goes to `h403105b0`, which is within the `spi_host1` memory regio

[2022-09-28 21:35] hstr0 commented on #15099
Thanks a lot for the detailed reply and further ideas! This will make life easier with all that gathered information and thoughts here.

[2022-09-28 22:35] weicaiyang opened #15185 "[chip-test] chip_sw_spi_device_tpm"
### Test point name

not test point yet

### Host side component

_No response_

### OpenTitanTool infrastructure implemented

_No response_

### Contact person

_No response_

### Checklist

Please fill out this checklist as items are completed. Link to PRs and issues as appropriate.
- [ ] Check if existing test covers most or all of this testpoint (if so, either extend said test to cover all poi

[2022-09-28 22:42] a-will commented on #15182
For what it's worth, I tend to prefer solution 1, as it avoids having reverse hierarchical information passing (where the IP's `reg_top` depends on the system's connectivity). The crossbar must already match the upper bits of the address to route transactions, so it seems the logical place to mask / drop them. They are redundant information upon reaching the downstream port, no?

[2022-09-28 22:49] msfschaffner commented on #15182
Indeed they are redundant (although the synth tool should optimize this out, since the bits remain unused).

Another solution I just discussed with @weicaiyang would be to adjust the xbar generation script to automatically size the address regions to to fit the defined register space (say you have 30 regs, only make the region 5bit). That way, impact on DV and RTL would be even less, since this ca

[2022-09-28 22:51] weicaiyang commented on #15185
@tjaychen
We discussed this in the DV meeting and decided it's worth adding a test to verify SPI TPM mode. LMK if you think some particular use case is needed to cover.

[2022-09-28 23:35] a-will commented on #14207
This one is relatively straightforward: The CSB inactive time was too short (~34 ns), and that wasn't enough time for CSB de-assertion to be captured by the sys_clk domain. Our IP's sys_clk is 24 MHz, so at minimum, CSB would need to be inactive for ~42 ns.

I'll adjust the configuration.

[2022-09-28 23:55] alphan commented on #7895
@tjaychen closing this since IIRC we agreed that using the ephemeral key is what we want since otherwise the scrambling key would be gone after reset.

[2022-09-28 23:55] #7895 closed

[2022-09-29 00:06] alphan opened #15189 "[sw/silicon_creator] ROM builds (specializations) for tests"
We should look into adding new targets which are _specializations_ of the prod ROM, e.g.
- Fake keys
- No erase verification after bootstrap phase 1
- No signature verification (can replace `test_rom` when combined with the above)
- Coverage support (TBD)
- ...

@tjaychen

[2022-09-29 00:23] jeoongp commented on #15093
I fixed this connection issue from clk_io_div4_secure to clk_io_div4_powerup in #15183.

For consistency checks on u_dx_lc_io_div4(or div4_shadowed), they are automatically disabled because rst_ni comes from lc_io_div4. That is, the main reset does not need to check itself. All these blocks are driven by clk_io_div4. Currently, each reset is paired with its corresponding clock.

However, if the cl

[2022-09-29 00:35] timothytrippel commented on #15145
So unfortunately there is not much we can do regarding when we detect this issue as it is internal to Bazel. The way we prep the airgapped system to do bazel builds is by running the [`util/prep-bazel-airgapped-builds.sh`](https://cs.opensource.google/opentitan/opentitan/+/master:util/prep-bazel-airgapped-build.sh;l=1?q=prep-baze&sq=&ss=opentitan%2Fopentitan) script to generate a directory that co

[2022-09-29 01:12] msfschaffner commented on #15182
Ok it looks like this solution is working, and we can indeed implement it with a scripting change only.
Also, it does not have any impact on the individual modules, which is a plus.
Take a look here: #15192

[2022-09-29 02:22] msfschaffner commented on #14921
This issue has been fixed in https://github.com/lowRISC/opentitan/pull/15169.

[2022-09-29 02:22] #14921 closed

[2022-09-29 02:35] #14207 closed

[2022-09-29 03:42] msfschaffner commented on #14653
I reran this test with the newest state on master (https://github.com/lowRISC/opentitan/commit/e4116b590bb573a35f51cfff9889a2fe336fd2d8) and 256 run seeds and got only one failure:

[code]

repro:

[code]

[2022-09-29 03:43] msfschaffner commented on #14200
Note that with https://github.com/lowRISC/opentitan/pull/15192 merged, I do note get any more failures when rerunning with 200 seeds.

[2022-09-29 03:52] eunchan commented on #15182
This change (removing limitation of min size) affects the timing as OT critical path sits on Xbar (from Ibex to XBAR then Ibex). If this does not lessen the security. I opt for maintaining the min size.

[2022-09-29 04:30] msfschaffner commented on #15182
Good point. If timing is a concern, should we look into solution 1 instead then?

The minimum spacing could actually have some security benefits, but I think the main motivation to fix this here is making the crossbar behave consistently in all regions.

[2022-09-29 05:00] #15136 closed

[2022-09-29 10:41] mundaym commented on #9662
@GregAC This issue is marked done but not closed, can we close it?

[2022-09-29 10:51] vogelpi commented on #15104
I just gave #15151 a try: on the console I can now see
[code]
doing a
[code]
and then
[code]
it is now very easy to rerun a simulation 1) with another, backed up  `Vchip_sim_tb`, 2) where tracing can be enabled/disabled upon request with the `kill command`. This makes working with Verilator again a lot easier which is fantastic. Many thanks @drewmacrae , this is really appreciated!

[2022-09-29 10:58] vogelpi commented on #15106
Thanks @timothytrippel , #15055 did indeed solve this. Also, I just noted that enabling/disabling the tracing via `kill -USR1 PID` now also works when launching the simulation through bazel. This is great, many thanks!

Btw: I am now also using a disk cache via bazelrc file.

[2022-09-29 10:58] #15106 closed

[2022-09-29 12:38] vogelpi commented on #15182
Thanks for raising this issue. I have two questions:
1. Would it be possible to keep the minimum spacing for the routing to not impact timing in the crossbar, but at the same time auto size the address regions on the device side to fit the defined register space? In other words, leave the routing as is but add a check on every device socket? I guess that's actually very similar to Michael's propos

[2022-09-29 13:38] alphan opened #15195 "[rom-e2e] rom_e2e_smoke"
### Test point name

[rom_e2e_smoke](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/data/rom_e2e_testplan.hjson?q=rom_e2e_smoke)

### Host side component

Unknown

### OpenTitanTool infrastructure implemented

Unknown

### Contact person

@alphan

### Checklist

Please fill out this checklist as items are completed. Link to PRs and issues as appropriate.
-

[2022-09-29 14:18] marnovandermaas commented on #15148
This is the PR that caused the assert to be inserted: https://github.com/lowRISC/opentitan/pull/15101

[2022-09-29 15:53] marnovandermaas opened #15198 "[test-triage] chip_csr_rw fails assert IoClkHandshakeOn_A"
### Hierarchy of regression failure

Chip Level

### Failure Description

Test `chip_csr_rw` has 1 failure in 20 runs.

    4.chip_csr_rw.1639693527
    Line 305, in log /container/opentitan-public/scratch/os_regression/chip_earlgrey_asic-sim-vcs/4.chip_csr_rw/latest/run.log

          Offending 'pwr_ast_i.io_clk_val'
      UVM_ERROR @ 3426.767000 us: (pwrmgr_ast_sva_if.sv:43) [ASSERT FAILED] IoCl

[2022-09-29 16:06] tjaychen commented on #15182
@msfschaffner quick question, how does this relate to the version IP registers you guys are having?
Are you planning on put them at the end of the address space for each module? or will it be an arbitrary location per module?

Just curious because if it's the former, then we may in fact be passing a fixed number of bits to all modules.

[2022-09-29 16:12] tjaychen commented on #15182
wait is there a timing concern? because it looks like your solution actually still rounds up to the nearest power of 2, which from the masking perspective is still nice right? We are not doing a lower bound / upper bound comparison.

[2022-09-29 16:15] tjaychen commented on #15185
yes this sounds good to me.

[2022-09-29 16:22] tjaychen commented on #7895
yeah that's right. But just to clarify, we're going to be using the "fixed" scrambling key for FI protection since that will be preserved across reset domains.

[2022-09-29 16:26] tjaychen commented on #15189
thanks for the issue @alphan , this is great.

[2022-09-29 16:28] tjaychen commented on #14207
ahhh....csb inactive time is already showing up eh?

[2022-09-29 16:43] msfschaffner commented on #15182
To @tjaychen's questions:
Yes, it still aligns addresses with powers of 2, so it can still use bitmasks for routing.
The address range compacting (for routing to a secondary XBAR) is also still present.

RE version register: after the last discussion it looks like we are leaning towards putting these registers at the beginning of each peripheral and make an exception for RV_PLIC where we will put

[2022-09-29 17:14] weicaiyang commented on #14940
Regardless of the command, @a-will found that CSB inactive time needs to be at least one sys_clk in this [comment](https://github.com/lowRISC/opentitan/issues/14207#issuecomment-1261571862)

So, no matter what approach we decide for this issue, we should document this timing requirement.

[2022-09-29 17:17] alphan commented on #14468
Covered in #14270

[2022-09-29 17:17] #14468 closed

[2022-09-29 17:18] msfschaffner commented on #7895
indeed, I was also confused by the word `ephemeral`. the default key is a fixed (but secret) netlist constant.

[2022-09-29 17:18] engdoreis commented on #15145
Just an update, the error is transitory, but it happens frequently with different tests, the last execution we had these tests failing:
- chip_sw_flash_ctrl_clock_freqs
- chip_sw_clkmgr_off_peri
- chip_sw_clkmgr_external_clk_src_for_sw_fast
- chip_sw_rv_plic_smoketest

[2022-09-29 18:34] alphan commented on #7895
Yeah, my bad, the "fixed" scrambling key, (edited my comment above) apologies for the confusion.

[2022-09-29 18:41] msfschaffner commented on #15182
Another thought: if we want to enforce a minimum address space size per peripheral (say 0x1000), we could technically just have reggen do that. Together with the solution implemented in https://github.com/lowRISC/opentitan/pull/15192, the xbar would then automatically adjust...

[2022-09-29 19:25] matutem commented on #15093
Hmm, what if we used io_div4_powerup for consistency checkers? Would that enable all resets to be checked? Yes, even the powerup clocks get turned off, but they probably stay on for enough cycles to perform the checks.

[2022-09-29 19:43] weicaiyang commented on #15182
Having a minimum address region on each IP seems not having big impact on DV.
We could update this function to have the mask set to 0xfff if the region is `0x1000`.
https://cs.opensource.google/opentitan/opentitan/+/master:hw/dv/sv/dv_base_reg/dv_base_reg_block.sv;l=151?q=dv_base_reg_b&ss=opentitan%2Fopentitan:hw%2F

For the coverage, OOB region is larger, but it seems fine. We probably don't need

[2022-09-29 19:45] jeoongp commented on #15093
They are still disabled because both clk_io_div4_i and clk_i are connected to the same net clkmgr_aon_clocks.clk_io_div4_powerup.

[2022-09-29 20:06] milesdai opened #15205 "[bazel] `//quality:buildifier_check` does not find all Starlark files"
The `//quality:buildifier_check` rule requires us to specify a list of `srcs` which is the list of files to lint. This is currently being done with a `glob` function, but as mentioned in the [documentation](https://bazel.build/reference/be/functions#glob) under "limitations, 4", `glob` cannot cross package boundaries, meaning that this rule does not find any BUILD/bzl files in any subpackages. The

[2022-09-29 20:14] matutem commented on #15093
Ah, you are right. Any thoughts about unexpected resets going inactive when clocks are stopped?

[2022-09-29 20:40] cindychip opened #15207 "[dv/kmac] V2S TODO items"
- [x] [Cindy] Rerun UNR:
       PR: https://github.com/lowRISC/opentitan/pull/15228
       https://github.com/lowRISC/opentitan/pull/15265
- [x] [Cindy] Re-visit coverage results
- [x] [Cindy] Address the unmapped test
https://github.com/lowRISC/opentitan/pull/15311

Resolve issues:

- [x] [cindy] [[kmac] Entropy ready bit error](https://github.com/lowRISC/opentitan/issues/15140) and [[kmac] Repor

[2022-09-29 20:41] milesdai commented on #15205
There is some existing discussion about this in the buildtools repo:
bazelbuild/buildtools#1005
bazelbuild/buildtools#1075

After an offline discussion with @cfrantz, we have decided that the best course of action right now is probably to patch buildtools with some sandbox-escaping code (like in our clang-format rule) and then submit a PR upstream to see if that's something they would like to adop

[2022-09-29 20:51] tjaychen commented on #6546
specifically for kmac v2s, i do not think this needs to be gating.

[2022-09-29 20:53] alphan commented on #15195
Done in #15113.

[2022-09-29 20:54] cindychip commented on #6546
We also want to check if this is still planning for M2?

[2022-09-29 20:55] tjaychen commented on #6546
i don't think so for now. But let me double check something and get back to you.

[2022-09-29 21:07] timothytrippel opened #15209 "[bazel,dv] support loading both flash slots and using different signing keys in DV"
In order to support running some (P1) ROM E2E tests to DV, e.g., the [`rom_e2e_boot_policy_valid`](https://github.com/lowRISC/opentitan/issues/14474) test, we need some enhancements to our DV testbench infrastructure to support:

- [ ] loading different flash banks (i.e. slots); currently only flash bank 0 is loaded so only tests that run in slot A can be loaded
- [ ] support different signing key

[2022-09-29 21:08] timothytrippel commented on #13511
I have split off the last two tasks into a separate issue, and will close this.

[2022-09-29 21:08] #13511 closed

[2022-09-29 21:54] jeoongp commented on #15093
That's a good point! rstmgr_cnsty_chk is not able to check reset while clocks are stopped. But, once clocks are resumed, as I guess it will check both resets (child reset and parent reset). If reset discrepancy is detected, an error will be raised.

If we can generate this case, we can make sure what's going on.

[2022-09-29 22:08] tjaychen commented on #15158
so i think we've concluded in the meeting that issuing rma transition while any escalation signal is asserted is not supported behavior.

How exactly we create this situation above is still to be determined, but I think we can close this issue.

[2022-09-29 22:41] timothytrippel commented on #15106
Wonderful, thanks for confirming @vogelpi !

[2022-09-29 22:49] timothytrippel commented on #13162
no it doesn't look like it yet

[2022-09-29 22:53] #15182 closed

[2022-09-29 23:50] weicaiyang commented on #15135
solved via #15153

[2022-09-29 23:50] #15135 closed

[2022-09-29 23:50] weicaiyang commented on #15134
Closing this issue now. Thanks everyone

[2022-09-29 23:50] #15134 closed

[2022-09-29 23:53] weicaiyang commented on #14708
@eunchan @jeoongp can you take a look at this when you have a chance?

[2022-09-29 23:55] weicaiyang commented on #14161
I probably clicked a magic button and it converted a string to an issue, but this is unintended. Closing it now

[2022-09-29 23:55] #14161 closed

[2022-09-30 00:53] msfschaffner commented on #14653
After cherry-picking the fixes for the `chip_tl_errors` test in #15192 onto https://github.com/lowRISC/opentitan/commit/e4116b590bb573a35f51cfff9889a2fe336fd2d8, the above failure is gone. I also checked out the newest state on master (https://github.com/lowRISC/opentitan/commit/6b8e4cfb79cdd0dc0485cb407ca3bf0f18f6326c) and reran with 512 seeds and the test did not fail anymore. Hence I think it i

[2022-09-30 00:53] #14653 closed

[2022-09-30 01:23] #15155 closed

[2022-09-30 01:26] #14956 closed

[2022-09-30 04:28] matutem opened #15215 "[sva/prim_pulse_sync] Disable coverage for assertion fanin"
The state variable src_active_flag in https://cs.opensource.google/opentitan/opentitan/+/master:hw/ip/prim/rtl/prim_pulse_sync.sv;drc=2023653b220d6fd4dde5fd9055a6ee5eb0802f2b;l=39 and its associated logic is only used to assert on illegal conditions and is not synthesized.

It also causes a coverage hole in the logic updating it which can be safely ignored, hopefully in ways that make it easy for

[2022-09-30 04:29] matutem commented on #15215
By the way, this is related to https://github.com/lowRISC/opentitan/issues/12899.

[2022-09-30 07:55] jadephilipoom commented on #6546
Yep, I am planning on software redundancy for this in the cryptolib. The measure discussed in that comment (running verify/decrypt after sign/encrypt and running decrypt/verify/mac twice) does impose a significant performance cost. However, it it protects against a wide variety of fault attacks as well as key integrity issues, so I think there's a good chance we'd want to do it even if integrity c

[2022-09-30 09:44] engdoreis commented on #15152
Closing this issue, as it is duplicated here #15148

[2022-09-30 09:44] #15152 closed

[2022-09-30 10:10] #14483 closed

[2022-09-30 10:23] engdoreis commented on #14840
Closing this issue as it seems healthy.
Tests | latest | 2022.09.28 | 2022.09.27 | 2022.09.26/1 | 2022.09.26/2 | 2022.09.24 | 2022.09.23 | 2022.09.22/1 | 2022.09.22/2 |
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- |
chip_sw_entropy_src_fuse_en_fw_read_test | 100.00 | 100.00 | 100.00 | 100.00 | 100.00 | 100.00 | 100.00 | 100.00 | 100.00 |

[2022-09-30 10:23] #14840 closed

[2022-09-30 10:38] engdoreis commented on #14945
Closing this issue based on the latests results:

Tests | latest | 2022.09.28 | 2022.09.27 | 2022.09.26/1 | 2022.09.26/2 | 2022.09.24 | 2022.09.23 | 2022.09.22/1 | 2022.09.22/2 | ... | 2022.09.20/2 | 2022.09.18 | 2022.09.17 | 2022.09.16 | 2022.09.15/1 | 2022.09.15/2 | 2022.09.13 | 2022.09.12 | 2022.09.11 | Suite
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -

[2022-09-30 10:38] #14945 closed

[2022-09-30 10:40] engdoreis commented on #14945
Should we open an issue for the second item mentioned by @Jacob-Levy previously?

[2022-09-30 10:46] marnovandermaas commented on #15198
Just before the UVM error, the following lines appear if verbosity is turned to high:
[code]

[2022-09-30 11:12] marnovandermaas opened #15217 "[rv_core_ibex] Reintroduce assert that PC does not advance when Ibex is disabled"
An assert to add this was merged in this PR: https://github.com/lowRISC/opentitan/pull/15101
However, this caused multiple failures in the top level tests, which are tracked in this issue: https://github.com/lowRISC/opentitan/issues/15148
@engdoreis has created a PR to remove the assert temporarily with this PR: https://github.com/lowRISC/opentitan/pull/15218 (previously https://github.com/lowRISC

[2022-09-30 12:17] #14478 closed

[2022-09-30 13:00] jdonjdon commented on #15158
@tjaychen Can I turn off tb.dut.u_flash_hw_if.ProgRdVerify_A during this test?

[2022-09-30 13:01] GregAC opened #15219 "[rtl,rv_core_ibex] Desired fetch disable behaviour"
Currently when the `fetch_enable_i` input is set to false ibex stops requesting new instructions in the fetch stage, however it doesn't flush out any inflight requests that may be buffered.

When the instruction cache is present requests are buffered in the 4 fetch buffers the icache has. These are effectively prefetches, as it doesn't take branches into account, but assuming no branching these re

[2022-09-30 13:03] GregAC commented on #15217
The assertion doesn't match how the Ibex fetch enable behaves. We either need to adjust the Ibex behaviour or rewrite the assertion, see https://github.com/lowRISC/opentitan/issues/15217

[2022-09-30 13:04] drewmacrae commented on #13162
Since they're being implemented as tests they're pretty easy to run comprehensively now so I'm checking that off

[2022-09-30 14:17] marnovandermaas commented on #15198
@sriyerg would you be able to have a look at what is going on in this test?

[2022-09-30 14:21] cfrantz commented on #13162
Miles said he would start looking into migrating the quick-lints to `//quality`.

[2022-09-30 15:03] engdoreis commented on #14872
Adding the error signatures here so that it can be searched and avoid duplicated issues:
[code]

[2022-09-30 15:10] msfschaffner commented on #14880
Is this a unit test or is this needed for ROM e2e testing?

[2022-09-30 15:10] engdoreis commented on #14200
It's possible to note a significant improvement in this test, but it's still not 100%.

Tests | latest | 2022.09.28 | 2022.09.27 | 2022.09.26/1 | 2022.09.26/2 | 2022.09.24 | 2022.09.23 | 2022.09.22/1 | 2022.09.22/2 |
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- |
chip_tl_errors | 85.00 | 30.00 | 5.00 | 35.00 | 40.00 | 30.00 | 25.00 | 30.00 | 30.00 |

[2022-09-30 15:11] hstr0 commented on #15099
@a-will, I uploaded a freshly generated hyperdebug bitstream to the CW310, but have some trouble flashing hello_world as a first test (`Error: SFDP header contains incorrect signature: 0x00000000`). In https://github.com/lowRISC/opentitan/issues/13484#issuecomment-1256389116 you are talking about acquiring a firmware (probably for SAM3X) and updating of opentitantool, which is all not documented y

[2022-09-30 15:16] msfschaffner commented on #14785
@msfschaffner

[2022-09-30 15:18] msfschaffner commented on #14764
@msfschaffner

[2022-09-30 15:20] msfschaffner commented on #14734
@msfschaffner

[2022-09-30 15:20] moidx commented on #14734
Closing for now. Please re-open if you have additional questions. Thanks

[2022-09-30 15:20] #14734 closed

[2022-09-30 15:30] msfschaffner commented on #15052
Lowering priority since the main issue has been addressed. Documentation pending.

[2022-09-30 15:43] msfschaffner commented on #12641
@alphan is this still relevant? can you recategorize the milestone / prio as needed?

[2022-09-30 15:45] msfschaffner commented on #12395
@moidx

[2022-09-30 15:46] msfschaffner commented on #12395
This could be addressed by #12397.

[2022-09-30 16:22] a-will commented on #15099
Sorry, but this is all not ready for general consumption. spi_device is on the USERIO* connectors, so unless you have a SPI controller connected to the board and supported by work you have done on opentitantool, you won't be able to bootstrap with it. Before being able to use the hyperdebug bitstream variant, you'll probably need to wait for us to get around to finishing the listed tasks, if you n

[2022-09-30 16:51] tjaychen commented on #14945
ah yes good point. @Jacob-Levy did mention there will be discussions whether it can be added to open source, so keeping track of it would be good.

[2022-09-30 16:55] tjaychen commented on #15219
This seems acceptable to me. We did after all name this signal `fetch_enable` and not `execution enable`.
We can also reasonably argue that when this signal arrives, the things that have already been fetched have passed the smell test (integrity check etc), so it's reasonable to just finish them off.

It may be nice in the future to have an execution enable for immediate stop, but I don't think th

[2022-09-30 17:00] tjaychen commented on #6546
@jadephilipoom have a look at #10323
The KAT idea is a bit of a misnomer.  We're not actually trying to compare keymgr internal state.  Rather it's more we get keymgr to generate something during provisioning, and store that something in OTP.

Later, when we get keymgr back to the same state, we can go through the same exercise to see if the same answer can be generated. So it's "known" in that se

[2022-09-30 17:09] tjaychen commented on #15158
yes you can. But wouldn't it be easier to just not have escalation during RMA?
Are you trying to simulate the case where during RMA the random programming fails? If yes, I think it might be easier to force a signal directly on the prim_flash boundary than putting the whole thing into escalation mode.

Based on the discussion yesterday, I think that's a combination we're going to try to avoid at th

[2022-09-30 17:13] hstr0 commented on #15099
Alright then, I will keep an eye on it.

[2022-09-30 17:41] tjaychen opened #15222 "[top / rom] Medium term solution for rma / escalation handling"
#14867 has surfaced a somewhat fundamental trade-off for OpenTitan, specifically security vs debugability.
The core issue is whether we should trade off the ability to enter RMA state for security.

Currently in the OpenTitan design, if the device escalates (either to virtual scrap or reset), RMA entry will fail.
In the former case, `lc_ctrl`, `otp_ctrl` and `flash_ctrl` will all transition to a s

[2022-09-30 18:08] msfschaffner commented on #15222
I agree with @tjaychen, the first approach should be good enough since the early alert settings are programmable in OTP. If we went with that approach we would avoid having to open up ROM again and insert this additional feature.

RE: the question in 2. about observability: the life cycle [status register](https://docs.opentitan.org/hw/ip/lc_ctrl/doc/index.html#Reg_status) is not modulated by the

[2022-09-30 18:16] msfschaffner commented on #14354
@Jacob-Levy the `intg_err_o` is a synchronous signal, meant to be latched by a register in the same clock domain as the bus interface (main clock input for the `reg_top` module). The alert senders within comportable IPs are typically attached to the same clock, hence no synchronization / deglitching is needed.

I suggest to either place all alert handling logic within AST into the bus clock domain

[2022-09-30 18:20] msfschaffner commented on #15219
I agree. We could for instance relax the assertion to allow *linear* execution of up to N instructions, where N is the maximum number of instructions that the prefetch buffer can hold.

As for the place of the assertion: it makes sense to move it into Ibex itself, although in that case we should replace the one in the `rv_core_ibex` wrapper with a generic one that tests for correct propagation to

[2022-09-30 18:23] msfschaffner commented on #5305
https://github.com/lowRISC/opentitan/pull/14958 has been merged. @jeoongp is there anything left to do here?

[2022-09-30 18:40] msfschaffner commented on #15082
Let's consider this as a documentation / terminology cleanup for D3. While both `watermark` and `threshold` are sometimes used interchanegably, I also feel like `watermark` has a somewhat different connotation. if this is really a threshold, why not call it that way? For FIFOs for instance, I am more used to `almost empty` / `almost full` thresholds as opposed to watermarks.

[2022-09-30 19:00] msfschaffner opened #15223 "[ram_ctrl ret] Tie off execution from SRAM feature"
This feature is only used on the main SRAM.

See comment here: https://github.com/lowRISC/opentitan/pull/15213#discussion_r984872547

CC @tjaychen

[2022-09-30 19:06] jeoongp commented on #5305
The connectivity test was not an actual run in #14985. The fix will be merged in #15183.

[2022-09-30 19:27] matutem commented on #15215
Another way to disable coverage for this specific piece of code is using coverage pragmas in the code. For VCS that is
//VCS coverage off
... // code to be excluded
//VCS coverage on

I imagine xcelium may have something similar?

[2022-09-30 20:22] Jacob-Levy commented on #14354
@msfschaffner the `intg_err_o` goes to the AST registers as a synchronous tlul clock signal. A status bit it set and it is added to OTO alert source.

[2022-09-30 20:30] msfschaffner commented on #15223
Turns out the OTP switch has already been tied off, but the `lc_debug_en` was still connected. https://github.com/lowRISC/opentitan/pull/15213 makes sure that this is tied off also.

[2022-09-30 21:12] a-will commented on #15081
Perhaps "target_transaction_complete" or "target_transaction_done"? (since it doesn't require an ACK)

[2022-09-30 21:17] drewmacrae commented on #15081
It's subtler than this I think... It used to be named "tx_ack_stop", but the name was changed in all but one place. I think it's only for the abnormal case where an I2C read transaction terminates with an aknowledged bit. That's why there wasn't one for "acq_ack_stop" (though I would like that name very much if there was a good reason to use it)

[2022-09-30 21:17] drewmacrae commented on #15081
I don't think I realized much of this when I wrote the title for this issue.

[2022-09-30 21:20] drewmacrae commented on #15081
We could also rename it:

- abnormal_rd_termination
- rd_terminated_before_nack

[2022-09-30 22:11] cindychip commented on #15140
Duplicate this issue : https://github.com/lowRISC/opentitan/issues/10933

[2022-09-30 22:11] #10933 closed

[2022-09-30 22:46] cindychip commented on #14596
Sorry I realized I never replied here. In this case, we expect to see an error and expect the keymgr output to be all 0.
This should be checked in the interface already :)

[2022-09-30 23:39] tjaychen opened #15226 "[i2c] acq_fifo has no level or full interrupt / done interrupt"
When i2c is in target mode, it currently does not have a "done" interrupt.
It has a "ack_stop" interrupt, but that only applies when the host is doing a read, and does NOT send a nak->stop sequence (sends ack->start/stop instead).

There is also no tx level interrupt, although there is a tx empty interrupt.

This means when the external host writes to the dut-target, the software actually has no i

[2022-09-30 23:40] tjaychen commented on #15226
@drewmacrae
@a-will

[2022-09-30 23:42] tjaychen opened #15227 "[i2c] Configurable support between stretch and nak."
When in target mode, the i2c AddrRead state also writes to the acq_fifo to indicate a start has been seen.
However, this write is not qualified by acq_wready_i, so in the event the `acq_fifo` is still full from the previous transaction, would just cause an overflow.

The overflow does not stop the fsm from continuing or cause the device to issue a NAK, so it will just get silently dropped in the b

[2022-09-30 23:43] tjaychen commented on #15081
just to note a few things about current i2c

- trans_complete interrupt applies only to "host" mode, it does not apply to "target" mode.
- ack_stop is checking for a very specific case where the host is supposed to send a nak-stop during a read but sends ack stop instead.  This doesn't really seem important. We could just look for stop/start and call it a day.

So I am tempted in this case to actu

[2022-10-02 09:42] zi-v commented on #15222
A dedicated RMA strap sounds safer to me. This way, RMA entry is agnostic to all but some HW and LC state array.
The first approach may be a reasonable bypass for the stage we are in. A couple of questions before we conclude:
1. By hardware default, are all escalation paths disabled, and are only enabled by OTP configuration?
2. What other mechanisms may cause the chip to stuck before the bootstra

[2022-10-02 23:40] jdonjdon commented on #15158
No, the test just asserts reset at the every rma state to stretch fsm coverage. The goal is after the reset,
test should be able to resume rma process by calling 'send_rma_req' task
(https://cs.opensource.google/opentitan/opentitan/+/master:hw/ip/flash_ctrl/dv/env/seq_lib/flash_ctrl_base_vseq.sv;drc=0a24890956704735cddc5ee104a04944aeb60d04;l=1074)

[2022-10-02 23:41] #15158 closed

[2022-10-03 05:42] jdonjdon opened #15231 "[flash_ctrl] assertion look for wrong alert bit location"
PHY_CORE.u_host_outstanding_cnt.err_o triggers tb.dut.reg2hw.fault_status.host_gnt_err and tb.dut.fatal_err

However, this [assertion](https://cs.opensource.google/opentitan/opentitan/+/master:hw/top_earlgrey/ip/flash_ctrl/rtl/autogen/flash_ctrl.sv;drc=e3e20f58c0591ebf0090c3936a378baa229952d9;l=1461) look for alert_tx_o[1].
Should be alert_tx_o[2]

[2022-10-03 07:10] jdonjdon opened #15232 "[flas_ctrl] flash is disabled with lc_escalate_en != Off"
Any random value of flash_ctrl.DIS except MuBi4False or
any random value of lc_escalate_en_i except lc_ctrl:On  will make
tb.dut.u_flash_hw_if.disable_i "not MuBi4False". And by This [line](https://cs.opensource.google/opentitan/opentitan/+/master:hw/ip/flash_ctrl/rtl/flash_ctrl_lcmgr.sv;drc=1366f10298c49cfd318cccec21b1e775eb73fd88;l=568)
tb.dut.u_flash_hw_if.state_d[10:0] will be StDisabled which

[2022-10-03 08:30] engdoreis commented on #14200
I looked again and is passing for 3 days:

Tests | latest | 2022.10.01 | 2022.09.30 | 2022.09.29 | 2022.09.28 | 2022.09.27 | 2022.09.26/1 | 2022.09.26/2 | 2022.09.26
-- | -- | -- | -- | -- | -- | -- | -- | -- | --
chip_tl_errors | 100.00 | 100.00 | 100.00 | 85.00 | 30.00 | 5.00 | 35.00 | 40.00 | 40.00

So I'm closing this issue again.

[2022-10-03 13:24] drewmacrae commented on #15081
This isn't clear in the documentation and I'll need to fix the DIF and the chip_sw_i2c_device_tx_rx entry in the testplan.

There's also a surprising assymetry between tx_empty and tx_nonempty (tx_nonempty occurs when a stop is encountered but there's remaining data to be transmitted, while tx_empty occurs when the transmit fifo is empty but the transaction is continuing.)

[2022-10-03 15:47] vrozic commented on #13225
It looks like this issue was already solved in https://github.com/lowRISC/opentitan/pull/14751/commits/266e54f415a409e1313e8d179959f726c56813eb

@msfschaffner Can you confirm?

[2022-10-03 16:16] GregAC commented on #12764
PR to add this to the testplan here: https://github.com/lowRISC/opentitan/pull/15233

[2022-10-03 16:34] jdonjdon opened #15234 "[test-triage] prim_mubi4_sync OutputDealy_A failure"
### Hierarchy of regression failure

Chip Level

### Failure Description

A couple of tests failed due to mubi sync assertion failure.
 Offending '(mubi_o == {NumCopies {$past(mubi_i, 3)}})'
  UVM_ERROR @ 2917.468646 us: (prim_mubi4_sync.sv:105) [ASSERT FAILED] OutputDelay_A
  UVM_INFO @ 2917.468646 us: (uvm_report_catcher.svh:705) [UVM/REPORT/CATCHER]

chip_sw_uart_tx_rx_alt_clk_freq
chip_sw_uart

[2022-10-03 16:38] jdonjdon commented on #15145
Add more test with the same failure signature

[2022-10-03 16:45] jdonjdon opened #15235 "[test-triage] chip_sw_pwrmgr_b2b_sleep_reset_req over runtime limt"
### Hierarchy of regression failure

Chip Level

### Failure Description

chip_sw_pwrmgr_b2b_sleep_reset_req
Job chip_earlgrey_asic-sim-vcs_run_default killed due to: Exit reason: User job exceeded runlimit: User job timed out

### Steps to Reproduce

- Commit hash :[67a41e3bc](https://github.com/lowrisc/opentitan/tree/67a41e3bc3ff025554a024cdb15fbf892c4752b3)
  ./util/dvsim/dvsim.py hw/top_earlgr

[2022-10-03 16:47] cindychip opened #15236 "Coverage auto-exclusion tool could not detect certain FSM coding style"
PR #15225 was merged to help automatically reduce coverage for state -> Idle state when there is not a direct logic transaction.
However, the tool does not recognize the coding style and we have to make changes in #15225.
Contact AE and see if there is anyway the tool can detect the original coding style.

[2022-10-03 16:52] jdonjdon opened #15237 "[test-triage] chip_sw_rstmgr_alert_info failure"
### Hierarchy of regression failure

Chip Level

### Failure Description

UVM_ERROR @ 13196.098712 us: (sw_logger_if.sv:522) [rstmgr_alert_info_test_prog_sim_dv(sw/device/tests/rstmgr_alert_info_test.c:879)] CHECK-fail: Should have reset before this line
  UVM_INFO @ 13196.098712 us: (uvm_report_catcher.svh:705) [UVM/REPORT/CATCHER]

### Steps to Reproduce

Commit hash :[67a41e3bc](https://github.

[2022-10-03 16:56] jdonjdon opened #15238 "[test-triage] rom_e2e_shutdown_exception_c test runs over timelimit"
### Hierarchy of regression failure

Chip Level

### Failure Description

Job chip_earlgrey_asic-sim-vcs_run_default killed due to: Exit reason: User job exceeded runlimit: User job timed out

### Steps to Reproduce

Commit hash :[67a41e3bc](https://github.com/lowrisc/opentitan/tree/67a41e3bc3ff025554a024cdb15fbf892c4752b3)
./util/dvsim/dvsim.py hw/top_earlgrey/dv/chip_sim_cfg.hjson -i rom_e2e_shu

[2022-10-03 19:13] jrvanwhy commented on #14686
Question: Is this command going to be used in automation? If so, do we need it to wait for the CW310's USB device to become available again before returning?

[2022-10-03 20:21] tjaychen commented on #15222
yes by default, the escalation paths in `alert_handler` are not turned on.  The `rom` does not turn on any of the alert handler feature while in `TEST_UNLOCKED` states, so the otp settings only apply to the later states.   However, it is not entirely true that there are no defenses even if alert escalation is disabled. In addition to `lc_ctrl` and `otp_ctrl`, the `pwrmgr` also will auto escalate i

[2022-10-03 21:09] jdonjdon commented on #15037
Closed with #15214

[2022-10-03 21:09] #15037 closed

[2022-10-03 21:40] tjaychen commented on #15237
@jdonjdon i pushed #15210 last week, hoping it would resolve this issue... maybe the timeout i added still isn't enough?

[2022-10-03 21:41] jdonjdon commented on #15237
@tjaychen hard to tell. This is from Sunday's regression.

[2022-10-03 22:24] weicaiyang opened #15241 "[spi_device] DUT returns 0 for TPM_HASH_START instead of 0xff"
This should be 'hff, right?
https://cs.opensource.google/opentitan/opentitan/+/master:hw/ip/spi_device/rtl/spi_tpm.sv;l=809?q=reghashstart&ss=opentitan%2Fopentitan:hw%2F

[2022-10-03 22:35] tjaychen opened #15242 "[rv_dm] halt and tlul transactions"
I'm not sure if my understanding is correct, so I wanted to poke a few folks.
Based on what I can tell from the debug rom code, when we say a core has "halted", it has not "actually' halted is it correct?
It seems like in the pulp implementation it really means the core will continue cycling around looking for either a resume or go flag.

Is that right? If this is the case, then when we issue an n

[2022-10-03 22:35] tjaychen commented on #15242
@GregAC
@msfschaffner
@sriyerg

[2022-10-03 22:38] weicaiyang commented on #14966
Copied AE's reply here. But I still don't know if this should be referred as a FSM. The logic in this module is to search the index of the max value on pure combination logic. I don't quite understand where can be inferred as the current state and next state.
@msfschaffner @sriyerg Any thoughts?

------------
Yes. I reached out to R&D. Here is their take:

assign vld_tree[Pa] = (sel) ? vld_tree[C1

[2022-10-03 22:50] weicaiyang commented on #11489
As discussed in the last Si meeting, here are the takeaway.
1. it's good to have this transition (*->Idle) covered before signed off V2
2. randomly programming EDN_ENABLE=0 may not be able to hit all the cases. We may need to probe the internal state before programming it, which sounds like a reasonable approach.

@senelson7 Let me know if you think we need more discussion on this issue.

[2022-10-04 00:04] sriyerg commented on #14872
Yeah - the tap strap tests need to be heavily refactored to fit in with the new changes. WIP.

[2022-10-04 00:04] tjaychen commented on #15232
ooooo i think i misunderstood what you were saying before.
I think this is intentional (but let me double check).

Since mubi is 4 bits, it means "disable" can take on a total of 16 values.  Given that, we want all but one of those values (Off) to mean "disable", so that if someone faults it, most of the time they would trigger disable.

Does that make sense to you? Don't close this yet, I will do

[2022-10-04 06:07] weicaiyang opened #15251 "[spi_device] returns 0xff for invalid locality but also file interrupt and upload cmd/addr"
DUT returns 0xff for invalid locality but also file interrupt and upload cmd/addr.

DUT doesn't wait for SW to fill in returned data, so that read fifo is empty. Hence, if another TPM comes before SW clears cmd/addr fifo, the new cmd/addr could be dropped. I have a test that only issues HW read without clearing interrupt and cmd/addr fifo. It only stores 1st cmd/addr that has invalid locality, and

[2022-10-04 14:11] arunthomas commented on #14686
Yup, we'd like to transition CI to using this opentitan-tool command

CC @drewmacrae @milesdai

[2022-10-04 14:15] drewmacrae commented on #14686
Currently we are issuing this command with the python libraries to the CI FPGAs at the end of a test. It's not ideal but works to let setup proceed as normal with a freshly rebooted FPGA.
https://cs.opensource.google/opentitan/opentitan/+/master:ci/scripts/run-fpga-cw310-tests.sh;drc=838afcd5d8f73da7c62f6eb355ceb861c6fca96b;l=33

[2022-10-04 14:21] alphan commented on #12641
Nope, this is handled properly by `bazel` and `opentitantool` now. Thanks @jon-flatley!

[2022-10-04 14:21] #12641 closed

[2022-10-04 15:18] jrvanwhy commented on #14686
Does "loses contact" mean the VM doesn't automatically get a USB reconnect? If so, waiting for the USB reconnect would cause `opentitantool` to hang.

[2022-10-04 15:32] alphan opened #15255 "[ci] Consider using SPIRE instead of exported service account keys"
@arunthomas @drewmacrae @milesdai @GregAC @dmcardle @jprendes @marnovandermaas

[2022-10-04 15:44] alphan opened #15256 "Add reference to guidance on volatile doc"
nit: Add a reference to guidance on volatile doc (once markdown is available), and/or comment on why the variable uses `const` naming conventions while it is not declared as `const`.

_Originally posted by @moidx in https://github.com/lowRISC/opentitan/pull/15253#discussion_r987017256_

[2022-10-04 15:44] drewmacrae commented on #14686
@GregAC:
"When starting up docker [the] USB devices are passed through to the container"
This matches my empirical findings that had me reboot at the end of CI execution instead of the start: after rebooting, the CI containers on the FPGA runners don't have access to the entries in /dev that provide access to the SAM3 or the OT UART.

[2022-10-04 15:54] a-will commented on #14686
When the SAM3X reboots, the USB device disconnects. From the perspective of the host system, any new connection is an entirely new device, so it gets new entries in /dev (different USB device address and different minor device number in the kernel's device node). So the entry that was passed through is effectively null.

Unprivileged containers don't have the ability to do any setup of new devices

[2022-10-04 16:05] martin-lueker opened #15257 "[entropy_src] Scoreboarding mispredicts SHA output in rare exception case"
This issue describes an `entropy_src_fw_ov` test failure that is likely rare and really only appears when the test (intentionally) violates the `entropy_src` usage model.

When in "entropy_insert" mode the `entropy_src` programming model requires that the application check `fw_ov_wr_fifo_full` register before deasserting `fw_ov_sha3_start`.  This prevents the initiation of SHA3 processing while th

[2022-10-04 16:16] cdgori commented on #15219
I think it's ok as well.

However, two questions:
1) What conditions de-assert `fetch_enable_i` ?
2) What happens if there one of the 4 prefetch buffers contains a branch?

[2022-10-04 16:37] #15223 closed

[2022-10-04 16:39] martin-lueker commented on #15257
There numerous seeds with can reproduce this typical case (output is corrupted).  The case where the corruption resolves itself is more rare.  Once can reproduce this case running the following command from branch "issue_15257" in my (@martin-lueker) fork:
[code]

The following log excerpt (with annotations, "NB") illustrates the scoreboarding mismatch:
[code]

[2022-10-04 16:45] #15235 closed

[2022-10-04 16:49] cdgori commented on #15082
I'm also accustomed to this usage of "watermark" for FIFOs, but agree that "threshold" would be a more accurate descriptor of the functionality, if we are going to adjust the documentation / terminology.

[2022-10-04 16:55] eunchan commented on #15241
Yep. I will fix it. Thanks!

[2022-10-04 16:57] jrvanwhy commented on #14686
So it sounds like there is no need for me to implement wait-for-reconnect *now*, but we will likely need to do similar work down the road for testing OT's USB device.

[2022-10-04 17:01] a-will commented on #13807
Another idea: Include a manifest.json file at the top level that describes all the files, and don't rely on file names for meaning. Such a description file could be versioned and include as many fields as we think are useful, and that could inform bitstreams_workspace.py for creation of bazel targets.

With the hyperdebug variants and future bitstreams and integrations, a description file might be

[2022-10-04 17:46] matutem opened #15262 "[dv/pwrmgr] Disable additional escalation reset from tests expected to escalate"
There are a number of sec_cm tests that trigger escalation, and some of them cause escalations on top of other sequences. For these other sequences it is best to prevent them from also triggering escalations,or we end up with inconsistent stimulus.

For example, pwrmgr_sec_cm_lc_ctrl_intersig_mubi triggers escalation while running pwrmgr_repeat_wakeup_reset_vseq.

[2022-10-04 19:48] alphan commented on #13807
SGTM. If we go with this approach, I'd probably prefer a _mechanical_ name for the files (uuid, sha256, etc.) so that we don't solve the same problem twice, i.e. (1) for the contents of the JSON file and (2) for the names of the actual files. Manual debugging will require looking at the JSON but that will be the source of truth anyway. WDYT?

[2022-10-04 20:44] jrvanwhy commented on #14950
#15263 opened to implement this.

[2022-10-04 20:45] weicaiyang opened #15266 "[spi_device] read TPM HW reg with an unaligned address"
@eunchan

In this case, the address is 'hf05. Since TPM_RID is only 1 bytes, design should return 'hff.
Looks like the address latch point is half cycle earlier, so that it got 'hf04.
![Screen Shot 2022-10-04 at 1 41 46 PM](https://user-images.githubusercontent.com/49293026/193923306-21b56d0f-c677-4aa8-b425-2d03aba28dd8.png)

Waves and saved session:
/mnt/disks/filestores/opentitan-shared/users/we

[2022-10-04 20:50] a-will commented on #13807
That's probably fine, but maybe let's put the files that share a "core" in the same folder (and name the folder after either the VLNV or a possibly-mangled bazel target name). Then the directory structure won't be totally opaque. bitstreams_workspace.py shouldn't care about the paths in any case, since it'll get what it needs from the manifest, but the grouping is a bit more human-friendly than a

[2022-10-04 21:24] #15241 closed

[2022-10-04 21:54] eunchan commented on #15266
`isck_fifoaddr` latches the signal a cycle earlier. Yep it is a bug. Thanks for finding it.

[2022-10-04 22:06] cindychip commented on #15140
Close as #15240 implemented

[2022-10-04 22:06] #15140 closed

[2022-10-04 22:14] weicaiyang commented on #15251
fixed via #15261

[2022-10-04 22:14] #15251 closed

[2022-10-04 22:20] matutem commented on #12151
The chip_sw_ast_clk_outputs, chip_sw_clkmgr_sleep_frequency, and chip_sw_clkmgr_reset_frequency tests check this.

Tim, are you okay if I close this?

[2022-10-04 22:26] matutem commented on #12151
Closed after consultation with Tim.

[2022-10-04 22:26] #12151 closed

[2022-10-04 22:46] timothytrippel commented on #14095
since #14814 is already tracking what is left (the power virus test), I am closing this.

[2022-10-04 22:46] #14095 closed

[2022-10-04 22:47] timothytrippel commented on #14814
See #14095 for more details.

[2022-10-04 23:00] matutem commented on #14780
The assertions in pwrmgr_ast_sva_if verify that if the pwrmgr outputs clear *clk_en, the *clk_val inputs from ast will track. They are bound in both pwrmgr unit and full chip environments.

[2022-10-04 23:18] weicaiyang opened #15270 "[spi_device] design uploads TPM write when writing to an invalid locality"
It also triggers an interrupt.
According to the spec, we should drop this transaction since we use TPM FIFO mode and invalid_locality is set to 1.

Waves:
/mnt/disks/filestores/opentitan-shared/users/weicai/scratch/tpm_unalign/spi_device-sim-vcs/0.spi_device_tpm_write_hw_reg/latest

[2022-10-04 23:19] eunchan commented on #15270
Write case, always HW uploads. It is up to SW to drop the request.

[2022-10-04 23:23] weicaiyang commented on #15270
SGTM, then let's update the spec to remove that statement.

[2022-10-04 23:35] msfschaffner opened #15272 "[chip-test] chip_sw_keymgr_disable_test"
### Test point name

chip_sw_keymgr_disable_test

### Host side component

None Required

### OpenTitanTool infrastructure implemented

Unknown

### Contact person

@tjaychen @weicaiyang

### Checklist

This test shall verify that the key manager is disabled in TEST_UNLOCKED* states.
Once the test is developed, it should be added to `chip_sw_lc_ctrl_broadcast`, see also https://github.com/lowRISC/

[2022-10-04 23:38] msfschaffner commented on #14147
Note: once this test exists, it should be ref'd with `chip_sw_lc_ctrl_broadcast` also.

[2022-10-04 23:53] msfschaffner commented on #14780
@matutem just to clarify, are you saying this issue is already addressed?

or do the assertions you mentioned have to be amended to cover the clock stoppage cases?

[2022-10-04 23:57] msfschaffner commented on #13225
Yes this connectivity test has been implemented, hence we can close the issue.

[2022-10-04 23:57] #13225 closed

[2022-10-05 00:00] msfschaffner opened #15273 "[chip-test] chip_sw_flash_ctrl_nvm_debug_en"
### Test point name

chip_sw_flash_ctrl_nvm_debug_en

### Host side component

_No response_

### OpenTitanTool infrastructure implemented

_No response_

### Contact person

@tjaychen @jdonjdon

### Checklist

Double check existing `flash_ctrl` tests whether they test the effect of `lc_nvm_debug_en_o` on `flash_ctrl`.
Amend the tests / create a new test accordingly, and reference the test in the

[2022-10-05 00:03] msfschaffner opened #15274 "[chip-test] chip_sw_otp_ctrl_ast"
### Test point name

[chip_sw_otp_ctrl_ast](https://github.com/lowRISC/opentitan/blob/101063ebdfd099f8eefaf2c80ae0cfbf5a5cb8f9/hw/top_earlgrey/data/chip_testplan.hjson#L2531)

### Host side component

None Required

### OpenTitanTool infrastructure implemented

Unknown

### Contact person

@msfschaffner

### Checklist

Convert this test to a connectivity test.

[2022-10-05 00:06] msfschaffner commented on #14139
Note: there already exist tests for `lc_dft_en_i` and `lc_check_byp_en_i`, but we still need to develop a test for the access control signals `lc_creator_seed_sw_rw_en_i` and `lc_seed_hw_rd_en_i`.

[2022-10-05 00:14] msfschaffner commented on #14354
This is OK and expected. As I mentioned, if the AST alert handling logic is NOT in the same clock domain as the `reg_top`, you need to manually deglitch/synchronize it outside the `reg_top`. It sounds like you already did that, hence I think we can close this issue (feel free to reopen if there  is more to discuss).

[2022-10-05 00:18] tjaychen commented on #15273
Jaedon, it might be worth thinking about whether this issue can just be a
connectivity test.
The things gated by nvm_debug_en aren't actually modeled in open source, so
maybe just checking nvm_debug_en is properly connected is enough at top
level.
We do most of the probing checks at block level right?

On Tue, Oct 4, 2022 at 5:00 PM Michael Schaffner ***@***.***>
wrote:

[2022-10-05 00:27] jdonjdon commented on #15273
Yes, we do check all lc_ctrl inputs with random in block level and I agree this is connectivity test.
Actuall, I was more interested in checking
 - lc_flash_rma_req_o, lc_flash_rma_seed_o,
 - lc_creator*, lc_seed*, lc_owner*, lc_iso*
These tests are assigned to check (chip_sw_flash_rma_unlocked, chip_sw_flash_ctrl_lc_rw_en)
but I want to make sure they do what they suppose to do since we don't hav

[2022-10-05 00:54] msfschaffner commented on #15237
This is still failing in Monday's regression:

[code]

[2022-10-05 01:03] msfschaffner opened #15276 "[test-triage] rom_e2e_static_critical test runs over timelimit"
### Hierarchy of regression failure

Chip Level

### Failure Description

Job chip_earlgrey_asic-sim-vcs_run_default killed due to: Exit reason: User job exceeded runlimit: User job timed out

### Steps to Reproduce

- Commit hash: [67a41e3bc](https://github.com/lowrisc/opentitan/tree/67a41e3bc3ff025554a024cdb15fbf892c4752b3)
- dvsim invocation command to reproduce the failure, inclusive of build

[2022-10-05 01:04] msfschaffner opened #15277 "[test-triage] chip_sw_uart_rand_baudrate test runs over timelimit"
### Hierarchy of regression failure

Chip Level

### Failure Description

Job chip_earlgrey_asic-sim-vcs_run_default killed due to: Exit reason: User job exceeded runlimit: User job timed out

### Steps to Reproduce

Commit hash: [67a41e3bc](https://github.com/lowrisc/opentitan/tree/67a41e3bc3ff025554a024cdb15fbf892c4752b3)
dvsim invocation command to reproduce the failure, inclusive of build and

[2022-10-05 01:05] jdonjdon commented on #15237
@tjaychen made fix candidate [here](https://github.com/lowRISC/opentitan/pull/15275)

[2022-10-05 01:16] msfschaffner opened #15278 "[test-triage] chip_sw_random_sleep_all_reset wait timeout occurred"
### Hierarchy of regression failure

Chip Level

### Failure Description

[code]

### Steps to Reproduce

- Commit hash: [67a41e3bc](https://github.com/lowrisc/opentitan/tree/67a41e3bc3ff025554a024cdb15fbf892c4752b3)
- dvsim invocation command to reproduce the failure, inclusive of build and run seeds:
  ./util/dvsim/dvsim.py hw/top_earlgrey/dv/chip_sim_cfg.hjson -i chip_sw_pwrmgr_random_sleep_all

[2022-10-05 01:22] msfschaffner opened #15280 "[test-triage] chip_sw_alert_handler_ping_timeout test timeout"
### Hierarchy of regression failure

Chip Level

### Failure Description

[code]

### Steps to Reproduce

- Commit hash: https://github.com/lowrisc/opentitan/tree/67a41e3bc3ff025554a024cdb15fbf892c4752b3
- dvsim invocation command to reproduce the failure, inclusive of build and run seeds:
  ./util/dvsim/dvsim.py hw/top_earlgrey/dv/chip_sim_cfg.hjson -i chip_sw_alert_handler_ping_timeout --fixed-s

[2022-10-05 01:32] msfschaffner commented on #15274
Fixed by #15213.

[2022-10-05 05:31] weicaiyang opened #15282 "[spi_device] tpm_header_not_empty interrupt usage"
@eunchan

The current `tpm_header_not_empty` interrupt is edge triggered, which is triggered when fifo level is changed from 0 -> 1. Fifo depth is 2.
I think of 2 program models.

- clear interrupt after read out all the items.

  1. wait for the interrupt
  2. read tpm_cmd_addr and corresponding data fifo(tpm_read/write_fifo) until tpm_status.cmdaddr_notempty == 0
  3. clear the interrupt
  4. lo

[2022-10-05 05:32] weicaiyang commented on #15266
fixed via #15269

[2022-10-05 05:32] #15266 closed

[2022-10-05 07:24] Jacob-Levy commented on #14354
@msfschaffner It is highly recomended that
 a FF will added on the _reg_top to deglitch the  intg_err_o  since an error signal should not be combinatorial.

[2022-10-05 09:33] rasmus-madsen commented on #13579
HI @weicaiyang / @vogelpi  Finally getting back to close these items.
do you remember what we talked about for DATA_REG.LOCAL_ESC
I simply can't remember what the issue was, or what we decided to do?

[2022-10-05 09:49] GregAC commented on #14611
PR now open in Ibex to add integrity checking on write responses back in: https://github.com/lowRISC/ibex/pull/1835

It also updates the documentation to make it clear this is done.

[2022-10-05 11:17] GregAC commented on #15219
Following the silicon meeting we have decided to alter the implementation of the fetch enable to gate instructions moving from the fetch stage to the decode/execute stage. There was concern around the lockstep mismatch in particular. This triggers the local escalation path which disables fetch but with the current behaviour this would may allow a few instructions to executed following a potential

[2022-10-05 12:34] alphan commented on #14501
@engdoreis added the test in #15258. We just need to try with different `OWNER_SW_CFG_ROM_KEYMGR_ROM_EXT_MEAS_EN` values before closing this issue.

[2022-10-05 12:41] GregAC commented on #15242
It seems like in the pulp implementation it really means the core will continue cycling around looking for either a resume or go flag.

That is correct.

This is true, though the 'halt loop' in the debug module doesn't access the bus, so provided we're in that the reset shouldn't leave any dangling transactions.

If the reset resets everything that could be processing a transaction at the same tim

[2022-10-05 14:09] milesdai opened #15284 "[bazel] Add support for multiple bitstreams and metadata to the bitstream cache"
As we start building bitstreams for multiple platforms and creating multiple versions of bitstreams via splicing, we would like to store these bitstreams in the bitstream cache. This requires:
1. Creating a systematic naming scheme/adding metadata to the cache (e.g. a manifest file) to better identify different bitstream configurations (#13807)
2. Modify the bitstream caching code (`bitstream-work

[2022-10-05 15:07] tjaychen commented on #15242
@GregAC actually, if you agree that the transactions towards `rv_dm` could become dangling, I wonder if the better solution overall is actually make use of the change you are going to make to `fetch_enable` to have a real halt req/ack. The scope of this change would be bigger given where we are in the project, so I wouldn't necessarily recommend it.. but it's a thought.

[2022-10-05 15:07] GregAC commented on #15242
Yes it does, my above assertion is just incorrect (I was only thinking of dside accesses and ignoring fetches, plus rv_dm does some dside accesses to itself during the halt loop anyway).

I think this sounds reasonable to me. If I've understood correctly we can do this within our rv_dm.sv top-level with no need for upstream changes?

[2022-10-05 15:10] dmcardle commented on #15162
To summarize, I think the root of this issue is that the MMI file(s) we generate are probably incorrect, causing `updatemem` to do some unwanted edit to our bitstream file.

Ideally, I would just call [`write_mem_info`](https://docs.xilinx.com/r/2020.2-English/ug835-vivado-tcl-commands/write_mem_info) to generate an MMI file for the entire project. I've had no luck running the command in the Vivad

[2022-10-05 15:21] dmcardle commented on #15162
One thing I don't quite understand is that the BRAMs for ROM appear to be "RAMB36", yet we write "RAMB32" into the MMI file. Our OTP BRAMs are "RAMB18", so it's not clear what memory type to claim in the MMI file. Some folks on a forum 5 years ago say that [updatemem does not support RAMB18](https://support.xilinx.com/s/question/0D52E00006hpgY4SAI/updatemem-for-ramb18?language=en_US), but it's not

[2022-10-05 15:21] tjaychen commented on #15242
that is right. Which do you prefer between a block and assert and a cancel afterwards?
I prefer the former, but I will admit it potentially means a wedged ibex (for whatever reason) that does not accept responses could block ndm reset.  This seems REALLY unlikely though.

[2022-10-05 15:36] #15231 closed

[2022-10-05 15:55] alphan commented on #14469
#15264 adds the tests except for the RMA life cycle state. We can add tests for other life cycle states once #15162 is fixed.

[2022-10-05 16:08] #15270 closed

[2022-10-05 17:11] tjaychen commented on #14354
@Jacob-Levy I think I agree with your statement  if the error is something that actually leaves the module boundary, since we can't make assumptions about how the outside world consumes.

But within the block, all but AST consume the error synchronously, so I don't think this is an important thing to fix for now.  Maybe we should add some caveats in the documentation to not use these as asynchrono

[2022-10-05 17:34] Jacob-Levy commented on #14354
@tjaychen The issue was found as a result of not consuming the signal synchronously.

The signal is bus cllk and the alert is in clk_ast_alert_i.

[2022-10-05 17:36] eunchan commented on #15282
Edge triggering is to avoid constant firing of interrupts. It is also possible to fire an interrupt whenever the TPM module receives a command.

For the latter sequence, usually SW can minimize (almost to negligible) the phantom interrupt issue by popping the cmdaddr entry and push to their own event FIFO. so that any new interrupts guarantee that there will be an entry in the FIFO.

[2022-10-05 17:43] sriyerg commented on #15198
Sure, will take a look.

[2022-10-05 17:45] sriyerg commented on #14194
Almost there with this one. PR coming soon.

[2022-10-05 17:47] eunchan commented on #15207
Reviewfs the KMAC SCA issue. No need to update the design (not a must item).

[2022-10-05 18:31] jrvanwhy commented on #14686
Implemented in https://github.com/lowRISC/opentitan/pull/15263

[2022-10-05 18:31] #14686 closed

[2022-10-05 18:48] weicaiyang commented on #15282
There is still a small chance that SW sees an interrupt but he request already is read in the previous ISR. I think it's probably not a big problem.
Maybe @a-will can check how we handle this in SW and see if it's a concern.

FYI, this is the sequence I use in DV.

1. wait for the interrupt
2. clear the interrupt
3. while (!tpm_status.cmdaddr_notempty){
     1. read tpm_cmd_addr
     2. correspond

[2022-10-05 18:53] weicaiyang commented on #13579
From the meeting note, we're not clear what to test for this countermeasure. So, the AI is to let you and @vogelpi figure out if there is anything we need to add for it.

[2022-10-05 18:54] tjaychen commented on #14354
that's right. But what i'm trying to say is that this is somewhat unique to ast because ast split its comportable front end into sensor_ctrl.

If sensor_ctrl logic were inside ast, it is very likely you would not have this problem since the clock driving the alert senders and the bus clock would be one and the same.  The alert sender then handles any async crossing with the alert modules natively.

[2022-10-05 19:38] timothytrippel commented on #15145
Reassigning to @drewmacrae as he will be triaging this further.

[2022-10-05 20:09] tjaychen commented on #14354
I don't agree with that statement. At least in terms of opentitan's current comportability requirements, it is not meant to be used that way. We made an exception for AST, one that we should not have in hindsight.

We expect the primary bus interface, the interrupts, the alert senders and the register block to all be in the same domain.  In fact, the modules have a concept of "primary" clock for t

[2022-10-05 20:20] Jacob-Levy commented on #14354
Some of the alerts in the AST are not generated by the bus clock for a good reason,
and some not related to any of the clocks (fully asynchronous)....

[2022-10-05 20:23] cindychip commented on #15207
Thanks Eli for the update

[2022-10-05 20:30] #15205 closed

[2022-10-05 20:53] msfschaffner commented on #15242
Another thought (just as an option):
At the moment, the life cycle gate only clamps down on the request side and will try to forward all pending responses to the fabric whenever the life cycle enable is deasserted. We could update `tlul_lc_gate` and add a `flush` port (connected to reset_req) which which will ensure all pending transactions are being ignored and flushed until the gate becomes enab

[2022-10-05 21:15] jdonjdon commented on #15273
Added by #15102

I looked at other lc_* signals for chip_sw_flash_rma_unlocked, chip_sw_flash_ctrl_lc_rw_en
and they look ok.

[2022-10-05 21:15] #15273 closed

[2022-10-05 21:24] a-will commented on #15282
That is what interrupt masks are for, right? Generally-speaking, I think status signals feeding interrupts should be a direct representation of the state. Without diving deeper into this particular case, I can't tell if there are harmful race conditions, but...

The "almost to negligible" here sounds alarming, as does the insistence that SW needs to spend time shuffling data around to RAM to avoid

[2022-10-05 21:26] #14950 closed

[2022-10-05 22:13] cfrantz commented on #15282
Generally, interrupts should always be level triggered.  Edges get missed (its a law of nature, right up there with `E=mc^2` and `F=ma`) and and software hangs as a result.  There are exceptions, of course, but I'm hard pressed to think of one.

a-will's description of how software typically handles interrupts is correct: we generally don't do any work in the ISR itself - we set an OS-level event

[2022-10-05 22:33] cdgori commented on #14240
Apologies I did not see this one when originally filed - I was on holiday and missed that I was tagged in my efforts to dig out from post-holiday email, somehow.

I can see we looked at two paths and eventually re-settled on the one that @vogelpi wanted input on initially.

-I completely understand wanting to have this option for SCA setup characterization.  You still plan to move these fields int

[2022-10-05 22:37] cdgori commented on #4244
@tjaychen you unassigned me - anything you needed here for completeness?  Seems like you guys hashed this out pretty thoroughly.

[2022-10-05 22:44] cdgori commented on #15257
Making sure I am understanding correctly: this is when firmware is inserting entropy, fails to check the `fw_ov_wr_fifo_full` register and inserts anyway, there is unpredictable behavior because the backpressure takes variable time to clear and the SHA3 output may or may not be corrupted, and the scoreboard cannot predict which will happen without more detailed sampling of the DUT?

Assuming I hav

[2022-10-05 22:48] tjaychen commented on #4244
o i just unassigned because i think the rest is just actually tracking down the ports / signals.

[2022-10-05 23:01] tjaychen commented on #15093
cc @tjaychen

[2022-10-05 23:02] tjaychen commented on #14978
is this one okay to close this now since we've identified the cause?

[2022-10-05 23:02] tjaychen commented on #14793
@jeoongp is it okay to close this? I think this is already in your waivers right?

[2022-10-05 23:03] tjaychen commented on #14791
@jeoongp is this okay to close? I think it's already in your waivers?

[2022-10-05 23:03] tjaychen commented on #13286
@jeoongp is this okay to close now? i believe the tpm reg issue has been resolved some time ago.

[2022-10-05 23:36] alphan commented on #14978
I think so but it would be good to hear from @dmcardle. @dmcardle can you read my previous comment and confirm that this was just due to the order in which we configured ePMP?

[2022-10-05 23:43] alphan commented on #13807
SGTM.

I was actually hoping for <hex> (no ext) hehe just to forget about the names.

I should probably give more context for my preference for including some sort of a hash in the name: IIRC this is the recommended naming scheme for better sharding and therefore performance. See [here](https://cloud.google.com/blog/products/gcp/optimizing-your-cloud-storage-performance-google-cloud-performance-at

[2022-10-05 23:47] weicaiyang commented on #15282
Thanks @a-will and @cfrantz
New request may arrive between step 9 and 10. We may miss it and interrupt won't be triggered again.
Sounds like level triggered makes more sense for this interrupt. WDYT? @eunchan

[2022-10-06 00:08] a-will commented on #13807
Eliminating the extension isn't necessary for that, though. It'd be nice if we don't totally require looking at the json to make sense of files--That's not very friendly when we need to look at the files and debug the scripts, right?

[code]

It only asks for "prepending a... hash" :)

[2022-10-06 00:35] alphan commented on #13807
I didn't say that the guidance asks for a hash-only filename (hence I said "including"), using only a hash is just my preference for naming given that we are considering having a JSON file (single source of truth). I have a feeling that naming files according to some format (either with some directory structure, or longer names) will end up being similar to what the JSON file is trying to accompli

[2022-10-06 00:39] alphan commented on #14880
unit. this might be closed because we will revisit the way we handle this workflow.

[2022-10-06 00:45] a-will commented on #15162
If you change the minor version of the file to 1, it looks like updatemem accepts the RAMB18:
[code]

[2022-10-06 01:13] dmcardle commented on #13807
I'll throw in that updatemem is quite opinionated and refuses to believe a file is a bitstream unless it ends with `.bit`.

I agree that this probably deserves a design doc given that it simultaneously touches the `@bitstream` workspace, CI, and Bazel!

[2022-10-06 03:07] tjaychen commented on #15232
i just confirmed that is indeed the case. All the flash decoding is using `true_loose`, meaning anything that's not `Off` will trigger disable.  This is working as intended.

[2022-10-06 07:28] timothytrippel opened #15300 "[bazel] fix support for rust-analyzer"
# Background

When #15193 was merged it broke our airgapped build environment (strangely, our blocking CI check did not catch this, though that is a separate issue). After further investigation, it was determined this was due to the fact that #15193 switched to the nightly rust toolchain. While using the nightly toolchain itself shouldn't break airgapped builds, making this change exposed a bug in

[2022-10-06 10:56] rasmus-madsen commented on #13579
@weicaiyang great thanks - I will sync up with @vogelpi friday!

[2022-10-06 13:29] drewmacrae opened #15305 "[test-triage] csr_tests_mode has a comment indicating it has 20 reseeds but it appears to run with 3"
I'm looking into the incidence of a failure building opentitan-tool so I'm inspecting the reseed specifications in https://cs.opensource.google/opentitan/opentitan/+/master:hw/top_earlgrey/dv/chip_sim_cfg.hjson;drc=5220e2275b3bae33225cc77dbc48b839ebd3ef29;l=233
[code]
seems to indicate a different number of reseeds in the code vs comments.

[2022-10-06 14:32] dmcardle commented on #14978
Confirmed! I inserted a few steps into the GDB test `sram_program_fpga_cw310_test` before the existing PMP setup. This variant of the test sets up the unused 12th region with values from the 13th region, then zeroes out pmp13cfg. This does not prevent the GDB script from making further writes to pmpcfg registers, which involves the debug module's program buffer. I also tried a variation where I al

[2022-10-06 14:33] #14978 closed

[2022-10-06 15:51] sriyerg commented on #15305
We used to run these tests with 20 reseeds. But then we decided thats too much, so we brought it down to 3 instead. Just need to update the comment.

[2022-10-06 16:40] #15232 closed

[2022-10-06 17:41] cindychip opened #15308 "[doc] LC state transition documentation discrepancy"
This documentation describes the valid LC state transitions:
https://docs.opentitan.org/doc/security/specs/device_life_cycle/#manufacturing-states

A). regarding if TEST_LOCK state can go to PROD/PROD_END/DEV states, I found it a little bit misleading here:

1). From this diagram, it looks like only TEST_UNLOCK states can transition to PROD/PROD_END/DEV states
![image](https://user-images.githubus

[2022-10-06 17:41] cindychip commented on #15308
This issue is from an offline discussion with @tjaychen

[2022-10-06 18:14] weicaiyang commented on #14111
I don't think I could work on this in the near term. unassigned myself, so that others may take it.

[2022-10-06 18:31] eunchan commented on #14352
I am working on this.

[2022-10-06 19:02] matutem commented on #14785
Closed by https://github.com/lowRISC/opentitan/pull/15183

[2022-10-06 19:02] #14785 closed

[2022-10-06 19:02] #14791 closed

[2022-10-06 19:03] jeoongp commented on #13286
Yes ^_^

[2022-10-06 19:03] #13286 closed

[2022-10-06 19:04] jeoongp commented on #14793
Yes

[2022-10-06 19:04] #14793 closed

[2022-10-06 19:48] drewmacrae commented on #15145
Some of the output from the sw_build phase is missing I'll put it here because it helps give context:
[code]

[2022-10-06 19:56] drewmacrae commented on #15145
The failing bazel command is preceded by
[code]

[2022-10-06 20:00] matutem opened #15315 "[dv/pwrmgr] Remove pwrmgr_clk_ctrl_agent"
This is obsoleted by https://github.com/lowRISC/opentitan/pull/15203, so it should be removed.

[2022-10-06 20:17] zi-v commented on #15222
Indeed, there seem to be a lot of OTP activity, and if I got it right flash info block as well, prior to bootstrap decision.
My concern is that faulty bits in those zones will prevent us from moving to RMA.

[2022-10-06 20:24] drewmacrae commented on #14111
I could especially use help identifying which portions are designed for all I2C validation and which are specific to validating the I2C host.

I poked around a bit to see how/if we could do this as a self-test using two I2C modules to exercise each-other, but there's nothing we could do on the FPGA alone without custom hardware for the PMOD port to provide pullups and connect 2 pairs of pinmux pin

[2022-10-06 20:29] dmcardle commented on #15028
I'm attaching [openocd.log](https://github.com/lowRISC/opentitan/files/9728359/openocd.log), which is the complete stdout/stderr output from OpenOCD when running `//sw/device/examples/sram_program:sram_program_fpga_cw310_test`.

I think we can extract the abstract commands with grep.

[code]

It's a little noisy, but I think the hex representation of the command is all that we'd need. Some creativ

[2022-10-06 21:05] tjaychen opened #15317 "[top] Re-organize reset domains"
The current reset domain organization, specifically the `lc` and `sys` resets, cause a lot of cross domain communication that becomes difficult to manage when `ndm_reset` is requested.

This leads to potentially a lot of instability in the debug module usage and would become problematic on silicon.
This [proposal](https://docs.google.com/presentation/d/1kDKSQTSYhP-Q9GoQLcmapb00ovSeLP6lZ4l0lBfxW18/

[2022-10-06 21:06] tjaychen commented on #15317
@matutem
@sriyerg
@cdgori
@alphan
@dmcardle
@a-will

[2022-10-06 21:19] moidx commented on #7505
No longer an issue, verified as part of #13223

[2022-10-06 21:19] #7505 closed

[2022-10-06 21:30] msfschaffner commented on #15234
Verified https://github.com/lowRISC/opentitan/pull/15295 by cherry-picking the commit onto 67a41e3bc and running the following commands
[code]

[2022-10-06 22:12] #13227 closed

[2022-10-06 22:56] tjaychen commented on #15257
i think i agree with Chris.
If there were no recoverable alerts, I would say the RTL fix is probably desired. Since there is a recoverable alert, AND we make clear in the programmre's model the fifo should be checked, I feel like a DV fix is enough.

That's of course assuming the DV fix is not huge in complexity.  I tend to favor the path of least resistance, so if a slight design tweak helps, I'm

[2022-10-06 22:57] tjaychen commented on #14542
i'm going to close this now since #15165 has been merged. Please re-open if there are objections.

[2022-10-06 22:57] #14542 closed

[2022-10-06 22:58] tjaychen commented on #14287
this is now part of #15317.
When that issue is addressed, this should automatically be resolved.

[2022-10-06 22:59] tjaychen commented on #14287
unassigning everyone since it is now part of another issue.

[2022-10-06 23:00] tjaychen commented on #14086
will be fixed by #15317

[2022-10-06 23:00] tjaychen commented on #13805
just a ping on this one.
has this already been addressed?

[2022-10-06 23:14] matutem opened #15324 "[dv,top,pwrmgr] Remove duplicate test code"
Some of the pwrmgr*sleep* C tests in sim_dv have lots of duplicate code. Create a separate file with the shared code and have the main sequence just call these. See pwrmgr_sleep_all_wake_ups_impl.[ch] in https://github.com/lowRISC/opentitan/pull/15291 for an example.

[2022-10-07 00:19] Jacob-Levy commented on #15317
@tjaychen This looks like the issue with the resets I had with `prim_pulse_sync` which I fixed with new cell I added, `ast_pulse_sync`.

[2022-10-07 00:30] msfschaffner commented on #15237
The test passed again in the nightlies today.
I also reran this with 128 seeds on https://github.com/lowrisc/opentitan/tree/610db294aa521f730e7a44d14795a51a9dc6a337  and got one other (different) timeout failure:
[code]
maybe we need to increase the SW test timeout as well now?

[2022-10-07 00:38] jeoongp commented on #13805
Yes, I think so.
@eunchan can you comment before we close this one?

[2022-10-07 01:07] tjaychen commented on #15237
yeah it's possible. The issue with this test is that it expects there to be a ping timeout error. But the ping timeouts don't necessarily happen immediately since the selection vector is almost 2x the size of our actual number of alerts.   I think I gave it enough time to to try...4 times? it's about 50/50 each time... we could extend that to 8 times or something to "almost" guarantee it will happ

[2022-10-07 01:14] tjaychen commented on #15317
It's very similar but it isn't exactly the same issue. This issue here specifically relates to `ndm` triggered resets. I think the one in your situation was a bit different.
We are still addressing this from an instantiator level, just that this one is a complete re-organization of the `ndm` case.

We actually investigated the path of placing the cross reset directly in the module, but actually id

[2022-10-07 01:21] tjaychen commented on #15317
To elaborate a bit more. What we noticed with modules like these is that even if have the resets affect each other, the upstream / downstream logic is still broken a lot of times.  Ie, even if both sides of the `prim_pulse_sync` reset, it doesn't really help since the upstream that initiated the request effectively "lost" its request.  So we don't want the cross reset to give the illusion of solvi

[2022-10-07 01:36] #15305 closed

[2022-10-07 01:37] #15234 closed

[2022-10-07 05:01] matutem opened #15330 "[tools/verible] enable coverage macros"
Apparently the verible tool cannot handle macros like this

`define PRAGMA_COVERAGE_OFF \
  /``/VCS coverage off \
  /``/ pragma coverage off

This was filed to verible with tracking number 251695088.

These macros are in hw/ip/prim/rtl/prim_macros.svh, and can be deployed once the verible bug is fixed.

[2022-10-07 05:48] sriyerg commented on #15330
You may want to cross-file this issue in the verible repo:
https://github.com/chipsalliance/verible/issues

[2022-10-07 07:58] alistair23 opened #15331 "OTBN RSA 4096 Encryption Failure"
The [RSA 4096 OpenTitan tests](https://github.com/tock/tock/blob/master/boards/opentitan/src/tests/rsa_4096.rs) are failing on Tock when targeting the [latest RTL changes](https://github.com/tock/tock/pull/3249).

A similar failure can also be reproduced with the OTBN RSA tests included in this repo.

First you need to enable the tests as they are disabled by default

[code]

Once the tests are en

[2022-10-07 09:40] vrozic commented on #6923
I've tried  this warning by running
`./util/dvsim/dvsim.py ./hw/top_earlgrey/dv/chip_sim_cfg.hjson -i chip_csr_rw`
but I don't get this warning in the log.

KMAC IP has been significantly reworked singe the time this issue was raised.The number of masked and-gates in the datapath has been reduced from 1600 to 800. It is perhaps possible that this change resolved this warning.

@cindychip Do you st

[2022-10-07 09:42] vogelpi commented on #15144
Thanks for your input @cdgori . I think `RandCnst` would indeed be better than `RndCnst` for the same reason. However, there are now ~750 occurrences in the code base. Most of them are in auto-generated files but there are still many handwritten files affected, in particular module instantiations and DV code. I fear it's to late for changing this entirely.

[2022-10-07 09:42] vogelpi commented on #15144
@vrozic , can you please link the PR's you're working on related to this? This would give other the opportunity to have a look, too.

[2022-10-07 09:51] vrozic commented on #15144
This PR https://github.com/lowRISC/opentitan/issues/15144 adds a strong randomness class containing `getrandbits()`, `shuffle()` and a bookkeeping function `isempy()`. It also contains the script for generating the entropy file.

[2022-10-07 12:51] Jacob-Levy commented on #15317
@tjaychen I understand your analysis for the two issues.
In the AST case, I back-pressured the source pulse to solve the second issue while maintaining the ASSERT  in place.
As for the resets, loosing a pulse was less significant the breaking the function of the cell.
Most likely, the reset asserted will take care for re-issueing the lost pulse, but it will be a good idea to issue a warning/add AS

[2022-10-07 15:17] moidx commented on #5305
Lowering priority as the changes are under review.

[2022-10-07 15:23] moidx commented on #13811
Hi @jeoongp, can we close this issue now that the PR has been merged? Thanks!

[2022-10-07 15:29] moidx commented on #12883
Hi @arunthomas, can you provide an update on the next steps here? Thanks!

[2022-10-07 15:36] GregAC commented on #15217
PR changing fetch enable behaviour and reintroducing a similar assertion is now available in the Ibex repository: https://github.com/lowRISC/ibex/pull/1844

In rv_core_ibex we need to add an assertion that the fetch enable is correctly connected up.

[2022-10-07 15:37] GregAC commented on #15219
PR for new fetch enable in Ibex here https://github.com/lowRISC/ibex/pull/1844

[2022-10-07 15:37] arunthomas commented on #12883
@timothytrippel will work on this

[2022-10-07 15:40] moidx commented on #15028
Hi @dmcardle, can you cross reference the E2E test cases we are planning to run in DV that this issue is blocking?

[2022-10-07 15:51] moidx commented on #14746
Cross-referencing to #15028

[2022-10-07 15:58] moidx opened #15333 "[reggen] RFC: support for block version registers"
Placeholder for register version issues.

[2022-10-07 16:02] msfschaffner commented on #15333
- Register format proposal [doc](https://docs.google.com/document/d/1ItyPMpvtdb9gFIWLe-qVy5py6Qi8kA30r9it4uW6w4U/edit)
- Versioning conventions doc (TBD)

[2022-10-07 16:23] tjaychen commented on #5305
actually this has already been merged as part of #14958 , i will close for now.

[2022-10-07 16:23] #5305 closed

[2022-10-07 16:26] jdonjdon opened #15335 "[test-triage] chip_sw_aon_timer_irq timer value out of range"
### Hierarchy of regression failure

Chip Level

### Failure Description

UVM_ERROR @ 4793.169292 us: (sw_logger_if.sv:522) [aon_timer_irq_test_prog_sim_dv(sw/device/tests/aon_timer_irq_test.c:147)] CHECK-fail: Timer took 336 usec which is not in the range 300 usec and 336 usec
  UVM_INFO @ 4793.169292 us: (uvm_report_catcher.svh:705) [UVM/REPORT/CATCHER]
  --- UVM Report catcher Summary ---

###

[2022-10-07 16:27] tjaychen commented on #12883
hey all, very related to this topic, @alphan had brought up the idea of using a singular ROM for all purposes, with maybe specific features turned off (such as verification and certain hardening).  Do we want to consider this path? Or do we feel its lower priority and okay to live with testrom for now?

I don't know how much work @alphan suggestion is, and I'm not sure how many things in the DV TB

[2022-10-07 16:28] tjaychen commented on #15028
@sriyerg and I were discussing yesterday, and I think his feelings are that the commands are perhaps simple enough that we do not need to do the scraping, and we can simply replicate the steps directly in DV.

@sriyerg can you elaborate more?

[2022-10-07 16:31] jdonjdon opened #15336 "[test-triage] chip_sw_aes_idle unexpected clock enable state"
### Hierarchy of regression failure

Chip Level

### Failure Description

UVM_ERROR @ 2364.078220 us: (sw_logger_if.sv:522) [aes_idle_test_prog_sim_dv(sw/device/tests/aes_idle_test.c:115)] CHECK-fail: Clock enabled state is (0) and not as expected (1).
  UVM_INFO @ 2364.078220 us: (uvm_report_catcher.svh:705) [UVM/REPORT/CATCHER]
  --- UVM Report catcher Summary ---

### Steps to Reproduce

- Comm

[2022-10-07 16:54] jeoongp commented on #5305
The connectivity errors were fixed and merged in #15183.

[2022-10-07 16:59] GregAC commented on #14484
Note that lowRISC will implement this, exact assignee TBD

[2022-10-07 18:15] msfschaffner opened #15337 "[otp/dv/sv] Align OTP image generation for all targets"
We currently generate the OTP image in a different way for DV than for other targets (FPGA, Verilator). In DV, we call the OTP generation script as part of a pre-build command [here](https://github.com/lowRISC/opentitan/blob/3db50d206f0289eb1c9e0c2d36d67c8b85bf1bc5/hw/top_earlgrey/dv/chip_sim_cfg.hjson#L163-L199). This uses the Hjson image configurations in the repository [here](https://github.com

[2022-10-07 18:39] tjaychen commented on #15052
closing this now!

[2022-10-07 18:39] #15052 closed

[2022-10-07 18:40] martin-lueker commented on #15257
Great.   Thanks for the feedback.

Now to answer the question of what is easiest.   I've been thinking about how to add this to DV, and there is a wrinkle.

One of the first challenges that came up when verifying this block was the fact that some seeds can be silently dropped.   This means that there is already no one-to-one correlation between AST/RNG inputs and CSRNG (or CSR) outputs.  Verificat

[2022-10-07 18:40] tjaychen commented on #14913
are we okay labeling this future release for now?

[2022-10-07 18:48] tjaychen commented on #15222
@alphan
@moidx
any thoughts from you guys?

[2022-10-07 19:22] jdonjdon opened #15340 "[flash_ctrl] V2S review checklist"
- [x] Add designated test for flash_ctrl.CTRL_REGWEN (#15348)
- [x] Check macro_error is covered in closed source test
- [x] [Tim] Check rma process doesn't violate closed source endurance time limit (#15633)
- [x] Add functional coverage for std_fault (#15448)
- [x] Add functional coverage and test for fault_status (not triggered by sw transaction) (#15498 )
- [x] Add a test to create rma wipe pr

[2022-10-07 19:49] sriyerg commented on #14913
It is reasonably straghtforward to detect the end of test event like you suggested. We could add a package scoped `bit` (say, `prim_pkg::end_of_test`) which will be set to 1 by our UVM report server which is invoked towards the end of the test. The assertion logic can then look up that value to perform the "cleanup" activity you suggested. I can make a PR for this.

[2022-10-07 20:28] alphan commented on #12883
Thanks for pointing this out @tjaychen. I think it's a good idea to enable this sooner rather than later to unearth any hidden issues (like the interaction between icache and address translation) but @timothytrippel is aware of our plans for _eventually_ converging to a single ROM (with some specializations) and thus I recommended implementing something as simple as possible.

[2022-10-07 20:31] alphan commented on #14978
Thanks @dmcardle!

[2022-10-07 21:21] tjaychen commented on #12883
sounds good. Thanks @alphan / @timothytrippel

[2022-10-07 21:21] matutem commented on #8442
This is all done.

[2022-10-07 21:21] #8442 closed

[2022-10-07 21:23] matutem commented on #14128
Yes, it covers most of this, except we want to add an extra test that introduces sram integrity errors to verify that the CPU will trigger the integrity violation.

[2022-10-07 21:29] matutem commented on #15215
This was fixed in https://github.com/lowRISC/opentitan/pull/15244, for both VCS and xcelium.

[2022-10-07 21:29] #15215 closed

[2022-10-07 21:40] matutem commented on #12899
The coverage of all metrics is over 90% now, so I will create a PR to move clkmgr to V2S.

[2022-10-07 21:46] jdonjdon commented on #12899
thanks @matutem please create sign off PR.

[2022-10-07 21:46] #12899 closed

[2022-10-07 21:49] moidx commented on #15331
CC @jadephilipoom

[2022-10-07 21:58] #15034 closed

[2022-10-07 22:07] tjaychen opened #15349 "[edn] End point behavior when edn disabled"
@moidx and I were wondering about how the `edn` would behave if we disabled it while an end point request were ongoing.  We wanted to make sure that an end point request would not get lost and hang even when the `edn` is re-enabled.

I took a quick look at the rtl, and while I don't think things would deadlock, there might be some other issues.
The interesting code section appears to be here
https

[2022-10-07 22:07] tjaychen commented on #15349
@moidx
@tjaychen

[2022-10-07 22:35] tjaychen commented on #15242
i like @msfschaffner idea, a lot of the logic we'd need seem to be in `tlul_lc_gate` already. There's a blocking command function, and there's outstanding tracking. Let me give that a try and see how it goes.

[2022-10-07 23:43] moidx commented on #13379
This is no longer an issue. The test case now has additional logic to make sure the FIFOs are properly flushed before stopping the conditioner.

[2022-10-07 23:43] #13379 closed

[2022-10-07 23:46] msfschaffner opened #15351 "[otp/flash] Flash scrambling keys initialized in RAW?"
Is there a particular reason why the flash scrambling key is initialized in the RAW OTP image?
https://github.com/lowRISC/opentitan/blob/760a0b635e060d1b7a2087aede139fca9bd6da98/hw/ip/otp_ctrl/data/otp_ctrl_img_raw.hjson#L16-L25

If no, we should probably remove it.

CC @cindychip @moidx @tjaychen

[2022-10-08 00:18] moidx commented on #15351
We should probably remove it and see if anything breaks?

[2022-10-08 00:29] tjaychen commented on #15351
Can you try it against [this test](https://github.com/lowRISC/opentitan/blob/760a0b635e060d1b7a2087aede139fca9bd6da98/hw/top_earlgrey/dv/chip_sim_cfg.hjson#L506-L510)?

I feel like it's the only one that might even be remotely impacted (but it shouldn't...).

[2022-10-08 02:10] msfschaffner opened #15356 "[test-triage] chip_sw_inject_scramble_seed"
### Hierarchy of regression failure

Chip Level

### Failure Description

[code]

### Steps to Reproduce

- Commit hash where failure was observed: 144e5112d
- dvsim invocation command to reproduce the failure, inclusive of build and run seeds:
  ./util/dvsim/dvsim.py hw/top_earlgrey/dv/chip_sim_cfg.hjson -i chip_sw_inject_scramble_seed --fixed-seed 1196693424 --build-seed 1505772856 --waves -v h

[2022-10-08 02:11] msfschaffner commented on #15356
CC @jdonjdon @tjaychen
This failed for the first time yesterday (2022.10.06).

[2022-10-08 02:13] msfschaffner opened #15357 "[test-triage] rom_e2e_smoke"
### Hierarchy of regression failure

Chip Level

### Failure Description

UVM_FATAL @ * us: (sw_logger_if.sv:157) [tb.u_sim_sram.u_sim_sram_if.u_sw_logger_if.parse_sw_log_file.unnamed$$_*.unnamed$$_*] Failed to open sw log db file rom_e2e_smoke_prog_sim_dv.logs.txt. has 3 failures:

Test rom_e2e_smoke has 3 failures.
0.rom_e2e_smoke.3118367884
Line 487, in log /container/opentitan-public/scratch/o

[2022-10-08 02:33] tjaychen commented on #15356
argh, i wonder what i did to break this.
I'll need to have a look.

[2022-10-08 03:19] msfschaffner commented on #14198
@jdonjdon it looks like this test has been passing for a while now in the nightlies, so I think we can close it.
Please reopen if I am mistaken.

[2022-10-08 03:19] #14198 closed

[2022-10-08 05:55] tjaychen opened #15361 "[dv] time based dumps?"
should we consider adding dvsim options to control when dumps should turn on/off?
Some of the longer sims (especially those involving bootstrap), don't always have something interesting to debug until a certain point in time.

I took a look around, and i don't really if the right answer is to add another dvsim argument and pass it all the way through (as environment variables to sim.tcl?), or if t

[2022-10-08 19:16] martin-lueker commented on #15257
After looking at the "simple RTL" solution it seems that requires some updates to register properties.   I instead took a quick stab at the "targeted RTL", which wasn't that hard after all.  See PR #15364

[2022-10-08 23:39] cindychip commented on #15207
Unmasked coverage:
https://reports.opentitan.org/hw/ip/kmac_unmasked/dv/latest/report.html
![image](https://user-images.githubusercontent.com/11466553/194677311-1734199a-3fab-4b41-8a7c-0172c733f7ba.png)

Masked coverage:
![image](https://user-images.githubusercontent.com/11466553/194731304-dfb127f7-a77a-400a-875b-b6a8495c6c8f.png)

https://reports.opentitan.org/hw/ip/kmac_masked/dv/latest/report.h

[2022-10-09 16:21] mwbranstad commented on #15349
@tjaychen I see the concern in this state. My thought is that if the disable comes when in the AckPls state, the prim_packer_fifo will not be cleared until the next clock, such that the entropy at the top of the FIFO should still transfer with the ack.
Mind sim is not reliable however in this case. @senelson7 is planning on running through all of these state to prove this based on the fact that th

[2022-10-10 07:40] jadephilipoom commented on #15331
Thanks for the detailed bug report! My best guess is that it's a read from an uninitialized register -- these used to read as 0 but have been recently changed to cause an error instead. I'll look into it.

[2022-10-10 09:46] #8758 closed

[2022-10-10 10:30] ctopal commented on #14974
To-Do's:

-[] Make invalid RMA requests to not trigger a secure wipe in the model but instead inject bad_internal_state fatal error two clock cycles later.
-[] Check if valid RMA requests works as intended
-[] Check if valid /invalid lc_escalation requests works as intended

[2022-10-10 13:42] johngt opened #15370 "[test-triage] chip_tap_straps_vseq checking failing"
### Hierarchy of regression failure

Chip Level

### Failure Description

Several types of JTAG errors
[code]

[code]

[code]

[code]

### Steps to Reproduce

GitHub revision: [c2a8c64cc](https://github.com/lowrisc/opentitan/tree/c2a8c64ccbca39707be7883dfd2f8c1100813730)
Build seed: 4265629825
Based on test results of Sunday October 09 2022 07:06:02 UTC and many other tests that have previously fa

[2022-10-10 14:04] johngt opened #15371 "[test-triage] chip_sw_lc_walkthrough_testunlocks timeout"
### Hierarchy of regression failure

Chip Level

### Failure Description

[code]

[code]

Timeouts are occurring again now. This behaviour was one of two observed in previous issue [[test-triage] chip_sw_lc_walkthrough_dev chip_sw_lc_walkthrough_prod chip_sw_lc_walkthrough_rma](https://github.com/lowRISC/opentitan/issues/14389)

### Steps to Reproduce

- Commit hash where failure was observed: [c2

[2022-10-10 14:08] johngt commented on #15371
Previously cindychip / tjaychen / andreaskurth worked on this.
Not tagging but just capturing here.
Suggestion @engdoreis is to attempt this on a local machine and see if timeout is occurring, then if it is increase timeout and replicate. Given that this is named as testunlocks this may be expected behaviour so deprioritise over other on-call items.

[2022-10-10 14:20] johngt opened #15372 "[test-triage] chip_sw_sleep_pin_retention"
### Hierarchy of regression failure

Chip Level

### Failure Description

[code]

### Steps to Reproduce

- Commit hash where failure was observed: [c2a8c64cc](https://github.com/lowrisc/opentitan/tree/c2a8c64ccbca39707be7883dfd2f8c1100813730)
- dvsim invocation command to reproduce the failure, inclusive of build and run seeds:
  ./util/dvsim/dvsim.py hw/top_earlgrey/dv/chip_sim_cfg.hjson -i chip

[2022-10-10 14:27] johngt opened #15373 "[test-triage] chip_sw_entropy_src_csrng timed out"
### Hierarchy of regression failure

Chip Level

### Failure Description

[code]

### Steps to Reproduce

- Commit hash where failure was observed: [c2a8c64cc](https://github.com/lowrisc/opentitan/tree/c2a8c64ccbca39707be7883dfd2f8c1100813730)
- dvsim invocation command to reproduce the failure, inclusive of build and run seeds:
  ./util/dvsim/dvsim.py hw/top_earlgrey/dv/chip_sim_cfg.hjson -i chip

[2022-10-10 14:32] johngt opened #15374 "[test-triage] chip_sw_sleep_pwm_pulses Pass patterns missing"
### Hierarchy of regression failure

Chip Level

### Failure Description

[code]

### Steps to Reproduce

- Commit hash where failure was observed: [c2a8c64cc](https://github.com/lowrisc/opentitan/tree/c2a8c64ccbca39707be7883dfd2f8c1100813730)
- dvsim invocation command to reproduce the failure, inclusive of build and run seeds:
  ./util/dvsim/dvsim.py hw/top_earlgrey/dv/chip_sim_cfg.hjson -i chip

[2022-10-10 15:32] abdullahvarici commented on #15072
I have started to work on this issue. I have managed to connect the Winbond BFM to SPI_Host and send transactions. For example I saw that the value of a memory element changed. But I am having some problems and trying to have better understanding of the design. Since this initial work was mostly for exploring, the code is not in a good shape. I'll have meetings with @andreaskurth / @vogelpi and cr

[2022-10-10 16:48] drewmacrae opened #15377 "[i2c_testutils] functions use dif_i2c_write_byte_raw where they could use dif_i2c_write_byte"
The i2c_dif expresses a preference for the use of dif_i2c_write_byte to automate normal host behaviors where possible and it should be possible to use it this way in i2c_testutils.c

[2022-10-10 17:20] sriyerg commented on #15361
For now, you can uncomment `sim.tcl` to set `dump_tb_top` to 0.
https://github.com/lowRISC/opentitan/blob/488fd246967f7916220fc04099f562924804b9c7/hw/dv/tools/sim.tcl#L23

Then, modify line 44 to do:
[code]

[2022-10-10 17:24] cdgori commented on #15361
Ultimately it would be nice to have this (it can really speed up some sims), but if the use cases are limited, I'd do the hack-the-tcl way for now.

Note, it's actually nice to have two params fed though: a delay before starting waveform dumping and a duration or stop time (duration is usually easier to implement).  Sometimes you want a test to finish for scoreboard checking/fifo draining/etc but

[2022-10-10 17:27] eunchan opened #15378 "[chip] Convert Edge-triggered status interrupt to Level"
- [x] Revise the comportability spec
  * Define **event** and **status**. Event is one-time trigger, and status is the current HW status (e.g: FIFO empty)
  * Draw two waveforms (event: set -> SW clears) (status: asserted, HW condition alleviated then status drops)
- [ ] #16693
- [x] #21207
- [x] #21206
- [x] #21049
- [ ] #21208
- [x] #21209
- [x] #21210
- [x] #21211

CC: @weicaiyang @a-will

[2022-10-10 17:32] cdgori commented on #15144
No problem then, it's not a huge issue for me.  If the fix was cheap I would have pushed for it.

[2022-10-10 17:45] cdgori commented on #15222
I think we inherently have to have some level of working OTP once things are provisioned.  There are the vendor-partition tests that can be run before that which could uncover fundamental issues, I believe.

[2022-10-10 18:10] #15356 closed

[2022-10-10 18:13] tjaychen commented on #15361
thanks @sriyerg ! do you want to broadcast this more widely or anything?

[2022-10-10 18:14] #14100 closed

[2022-10-10 18:14] alphan commented on #15222
@zi-v, you're right. We currently `boot_data` from the flash info partition. We already have an OTP item to allow a default value to be used in `PROD` and `PROD_END`. But since bootstrap does not really require `boot_data` I think it makes sense to move the `boot_data_read()` call from `rom_init()` to `rom_try_boot()`, i.e. after bootstrap to derisk it. See #15379.

[2022-10-10 19:01] weicaiyang commented on #15133
@a-pronin just want to follow up this issue. Have you gotten a response from the WGs?

[2022-10-10 19:08] martin-lueker opened #15381 "[entropy_src/dv] entropy_src environment cannot detect unnecessary drops"
The `entropy_src` module drops output seeds frequently, because either the output is stalled and not pulling or occasionally because of certain exception conditions.   Since DV has little way of predicting many of these events, it is currently very lenient of missing seeds.

This is however a problem if there is a bug that could cause seeds to drop indefinitely.  For example, consider the bug noti

[2022-10-10 19:12] martin-lueker commented on #15381
Once can reproduce this case running the following command from branch "issue_15381" in my (@martin-lueker) fork:
[code]
A successful resolution to this issue would cause a test _failure_ with the seed above.

[2022-10-10 21:17] sriyerg commented on #15361
What @cdgori suggested above does not seem too hard to implement (and it was something I already had in mind). Let me see if I can quickly address that.

[2022-10-10 21:27] msfschaffner commented on #15222
@zi-v the OTP only allows up to 1 faulty bit in each word (correctable via ECC).
For multibit failures, the OTP automatically escalates whenever it accesses the word.
This means that it will automatically escalate on all detectable multibit failures in the hardware governed partitions and digest values upon boot, since these are read out automatically. So in these cases it does not matter where yo

[2022-10-10 21:47] a-pronin commented on #15133
From their response:
1) "HASH_START register is indeed offset 28, thank you for catching that."
2) "We are investigating whether the HASH_START needs to be removed from this list [the list in section 7.4.5] or a better reason defined for inclusion."

[2022-10-10 21:50] weicaiyang commented on #15133
Thanks @a-pronin.

@eunchan Perhaps we can merge https://github.com/lowRISC/opentitan/pull/15175 now

[2022-10-10 22:17] msfschaffner commented on #15144
Yeah I agree with @vogelpi, this would cause quite a bit of churn (and several IPs using this are already at D3).

[2022-10-10 23:14] #15351 closed

[2022-10-10 23:32] weicaiyang commented on #15185
This is an [example](https://cs.opensource.google/opentitan/opentitan/+/master:hw/ip/spi_device/dv/env/seq_lib/spi_device_tpm_base_vseq.sv;l=145?q=spi_device_tpm&ss=opentitan%2Fopentitan:hw%2F) to have the SPI driver to send a TPM request.

The other known issue is that we need to connect TPM CSB with the spi_host_if.csb[1] in chip_if.

[2022-10-10 23:41] tjaychen commented on #15349
yes you're right. But I think we have a few cases where `edn` talks to another `async` module. So the 1 cycle in the `edn` clock domain may not be enough to actually transfer the entropy over to the receiving domain.  But just like you said, mind sim is not reliable, so I'm glad that @senelson7 is having a look.

[2022-10-11 00:31] #15257 closed

[2022-10-11 01:28] jdonjdon opened #15392 "[flash_ctrl] typo in flash_ctrl_lcmgr"
From the comment, this assertion look for 'state_q == StInvalid' but
the assertion is written as 'state_q == StDisabled'.
https://cs.opensource.google/opentitan/opentitan/+/master:hw/ip/flash_ctrl/rtl/flash_ctrl_lcmgr.sv;drc=1366f10298c49cfd318cccec21b1e775eb73fd88;l=577

[2022-10-11 04:51] sriyerg opened #15393 "[top_earlgrey, rtl] Instantiate EDN1 with NumEndPoints set to 1"
The `top_earlgrey.sv` (autogenerated) instantiates 2 EDN instances. On the second instance (`u_edn1`), only 1 endpoint is connected (OTBN), the rest are unconnected and tied off.

This results in additional overhead in terms of coverage exclusions for the tied off end points, since they are truly unreachable, and more importantly, redundant logic in the design.

Filing an issue to see if it is fea

[2022-10-11 04:54] sriyerg commented on #15393
@tjaychen @msfschaffner @eunchan @martin-lueker FYI.

[2022-10-11 07:41] eunchan commented on #11751
Yep. Documentation lacks of the detailed information. I plan to add the description for that. There are many checkers inside the KMAC IP design to help SW to configure correctly.

[2022-10-11 08:15] tjaychen commented on #11036
yep that's right. Still on my radar, i got half way through something and
had to drop it to focus on other things.

On Wed, Mar 23, 2022 at 5:13 PM Michael Schaffner ***@***.***>
wrote:

[2022-10-11 08:53] cfrantz commented on #13362
Yes, we should.

What I'd like is to gang them all together under a single rule (e.g.
"//:quality_check") and make that the thing presubmit invokes.

On Thu, Jun 23, 2022 at 10:07 AM Dan McArdle ***@***.***>
wrote:

[2022-10-11 08:57] bilgiday commented on #14126
@cindychip,@msf, I created another version of the test, which is more parameterized and almost ready to be submitted. Before finalizing, I need your input:

- I implemented 3 test phases just in case: 2 in-spec phases (ping_timeout=256, fatal alerts) and 1 out-of-spec test (ping_timeout=2). I can completely remove the out-of-spec test if it doesn't improve the coverage, or I can move it into anoth

[2022-10-11 09:30] eunchan commented on #12096
I remember there was similar issue on TPM, where CSb released and reasserted at the same time. So not visible in the waveform but the event was propagated to the design, design was reset. Could you please double check that is not this case?

[2022-10-11 09:39] engdoreis commented on #15371
This bug is responsible for 22.22% of the failures on October 11 execution.

[2022-10-11 09:58] engdoreis commented on #15198
This test is passing since 29th of September:

Tests | latest | 2022.10.10 | 2022.10.08/1 | 2022.10.08/2 | 2022.10.06 | 2022.10.05/1 | 2022.10.05/2 | 2022.10.03/1 | 2022.10.03/2 | 2022.09.30 | 2022.09.29 | 2022.09.28 | 2022.09.27 | 2022.09.26/1 | 2022.09.26/2 | 2022.09.26 | 2022.09.24 | 2022.09.23 | Suite
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --

[2022-10-11 09:58] #15198 closed

[2022-10-11 10:02] engdoreis commented on #15370
By the signature of this issue it seems to be related to #14872

[2022-10-11 10:34] engdoreis commented on #15336
It seems to be a clock related issue. Have seem a number of clock related issues cropping up.

The last two nightlies has passed.

Tests | latest | 2022.10.10 | 2022.10.08/1 | 2022.10.08/2 | 2022.10.06 | 2022.10.05/1 | 2022.10.05/2 | 2022.10.03/1 | 2022.10.03/2 | ... | 2022.09.30 | 2022.09.29 | 2022.09.28 | 2022.09.27 | 2022.09.26/1 | 2022.09.26/2 | 2022.09.26 | 2022.09.24 | 2022.09.23 | Suite
--

[2022-10-11 10:47] engdoreis commented on #15035
Reopening this issue as it never passed in the nightlies:

Tests | latest | 2022.10.10 | 2022.10.08/1 | 2022.10.08/2 | 2022.10.06 | 2022.10.05/1 | 2022.10.05/2 | 2022.10.03/1 | 2022.10.03/2 | ... | 2022.09.30 | 2022.09.29 | 2022.09.28 | 2022.09.27 | 2022.09.26/1 | 2022.09.26/2 | 2022.09.26 | 2022.09.24 | 2022.09.23 | Suite
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- |

[2022-10-11 10:51] engdoreis commented on #13222
Unfortunately it didn't pass in the latest nightly:

  | Tests | latest | 2022.10.10 | 2022.10.08/1 | 2022.10.08/2 | 2022.10.06 | 2022.10.05/1 | 2022.10.05/2 | 2022.10.03/1 | 2022.10.03/2 | ... | 2022.09.30 | 2022.09.29 | 2022.09.28 | 2022.09.27 | 2022.09.26/1 | 2022.09.26/2 | 2022.09.26 | 2022.09.24 | 2022.09.23 | Suite
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --

[2022-10-11 11:51] hcallahan-lowrisc commented on #15335
Tested locally and was able to recreate failure at the hash recorded: [883c27113](https://github.com/lowrisc/opentitan/tree/883c2711350a72ff8172cfe01b0b07c903d61b25)

After failing 1 test in 3 for 5 consecutive days, the test passed again in nightlies on 10/10/22, I ran it again locally at latest master [d0b9668](https://github.com/lowRISC/opentitan/commit/d0b9668b20f6df02bb242a166ae31d1e7c55ad34)

[2022-10-11 13:01] engdoreis commented on #15276
Closing this issue as the test has been passing for several days.
Tests | latest | 2022.10.10 | 2022.10.08/1 | 2022.10.08/2 | 2022.10.06 | 2022.10.05/1 | 2022.10.05/2 | 2022.10.03/1 | 2022.10.03/2 | ... | 2022.09.30 | 2022.09.29 | 2022.09.28 | 2022.09.27 | 2022.09.26/1 | 2022.09.26/2 | 2022.09.26 | 2022.09.24 | 2022.09.23 | Suite
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --

[2022-10-11 13:01] #15276 closed

[2022-10-11 13:12] GregAC commented on #14974
Draft PR here to address outstanding TODO: https://github.com/lowRISC/opentitan/pull/14999

[2022-10-11 13:13] engdoreis commented on #15278
The test `chip_sw_random_sleep_all_reset` doesn't seem to exist, by the failure log I assume that `chip_sw_pwrmgr_random_sleep_all_reset_reqs` is the correct one.

Which has passed in 4 consecutive executions now.

Tests | latest | 2022.10.10 | 2022.10.08/1 | 2022.10.08/2 | 2022.10.06 | 2022.10.05/1 | 2022.10.05/2 | 2022.10.03/1 | 2022.10.03/2 | ... | 2022.09.30 | 2022.09.29 | 2022.09.28 | 2022.09

[2022-10-11 13:15] GregAC commented on #14386
No longer seeing the assertion failures as originally described, so this is believed to be done.

[2022-10-11 13:15] #14386 closed

[2022-10-11 15:22] andreaskurth commented on #15371
I could reproduce the failure locally at https://github.com/lowrisc/opentitan/tree/c2a8c64ccbca39707be7883dfd2f8c1100813730 with `--fixed-seed 3923158565 --build-seed 4265629825`. From the following run log, I think the test is stuck in Boot ROM and does not even reach the SW binary:
[code]

[2022-10-11 15:51] engdoreis commented on #15372
It relates to #14352, and it will probably be tackled there.

[2022-10-11 15:58] andreaskurth commented on #15371
@tjaychen As the author of https://github.com/lowRISC/opentitan/commit/8b107c473157f391d25654168b62911b02f3d205, maybe you know if [`lc_walkthrough_test.c`](https://github.com/lowRISC/opentitan/blob/af9bcb398bbc60369f00f12eeb9396caeb5601ba/sw/device/tests/sim_dv/lc_walkthrough_test.c) or [`chip_sw_lc_walkthrough_vseq.sv`](https://github.com/lowRISC/opentitan/blob/d0b9668b20f6df02bb242a166ae31d1e7c

[2022-10-11 16:02] eunchan commented on #15372
I don't know why this one is included in the regression. Anyway, the test is not 100% implemented and failure is expected. I will update this Issue when I implement it.

[2022-10-11 16:03] tjaychen commented on #15035
this should have been fixed by #15362
This was just merged yesterday, so likely has not been reflected in nightly results yet.

[2022-10-11 16:03] #15035 closed

[2022-10-11 16:05] #15242 closed

[2022-10-11 16:19] tjaychen commented on #15361
yeah that was my thinking too. Since it looked like the selection of dump format was also being passed via enviornment variables, i figured start / stop time would be the same.

Are you suggesting long term we should move the dumping control directly to sv side? I guess in that case we would just need to pass some ifdef's on what simulator we're using and potentially the format right? That sounds

[2022-10-11 16:22] jdonjdon commented on #15361
Alternatively, we can add "-ucli -do {user_dir}/vcs_waves.tcl" after simv.
As we did -w fsdb.

[2022-10-11 16:26] tjaychen commented on #15237
yes let's close. We merged a fix for it explicitly a few days ago.  Sorry I forgot to come back here and close it.

[2022-10-11 16:26] #15237 closed, assigned to jdonjdon

[2022-10-11 16:33] engdoreis commented on #15372
Thanks @eunchan.

[2022-10-11 16:37] tjaychen commented on #15371
let me double check. I need refresh my memory a bit on what these tests do.

[2022-10-11 16:50] jadephilipoom commented on #15331
It was indeed a read from uninitialized memory, but also a broader off-by-two error in `rsa.s` that has been around for who-knows-how-long. The `work_buf` is only 480 bits, but we need 512 for RSA-4096. I've fixed it locally and will make a PR soon.

[2022-10-11 16:51] GregAC commented on #12764
Closing this now it has been added to the ROM e2e testplan and this work is tracked by https://github.com/lowRISC/opentitan/issues/14484

[2022-10-11 16:51] #12764 closed

[2022-10-11 17:05] moidx commented on #15072
Hi @abdullahvarici, lets sync before submitting any PRs to the public domain, and in the meantime coordinate logistics with @vogelpi. Thanks!

[2022-10-11 17:42] sriyerg commented on #15361
Yeah I have been wanting to move the whole wave dump logic to SV since it is a lot easier to control, but I haven't seen clear pros and cons of either approach.

A slight modification to your suggestion would be to `source` an auxiliary tcl file that would be runtime (i.e. test-specific). It would be sourced after `run 0ns` in sim.tcl so that the user can provide extra dump controls (hierarchies,

[2022-10-11 17:46] sriyerg commented on #15370
Please hold off on triaging this test. The test needs to be completely rewritten.

[2022-10-11 17:53] ballifatih opened #15405 "KMAC is_locked inverse result"
https://github.com/lowRISC/opentitan/blob/cc7d363b4eaf952dd08a79eeacaa4d4d7a58f35a/sw/device/lib/dif/dif_kmac.c#L769-L779

I seem to think that the result `is_locked` is the inverse of what it should be. What I expect is:

- KMAC is locked/busy -> `is_locked = True`
- KMAC is available -> `is_locked = False`

but the result is the other way around. I am not sure if I this is a bug or I am just thi

[2022-10-11 18:06] msfschaffner commented on #14974
We discussed this in the V2S meeting. Since the test is passing for more than 1 seeds we can defer this into V3/M3 as a coverage closure task.

[2022-10-11 18:15] ctopal opened #15408 "[otbn,dv] V2S Review Checklist"
- [x] Documentation update for testplan points (@ctopal) Fixed by #15440
- [x] Fix description of sec_cm_key_sideload (@ctopal) Fixed by #15440
- [x] Add assumption bounding the URND handshake in FPV (@GregAC). FPV issues fixed by #15611
- [x] Create issue for reseeding URND in background for post-M2 (@vogelpi). See #15473
- [x] FSM coverage exclusion for improving FSM coverage (@ctopal) FSM trans

[2022-10-11 18:19] jadephilipoom opened #15409 "[crypto, test] Test second share for ECDSA P-256."
Follow-up to #15332

The OTBN P-256 implementation now handles secret keys in two shares, but to keep the change small I left the test populating only one share. It would be good to add some data to the second share to make sure it's getting handled properly.

[2022-10-11 18:25] weicaiyang commented on #12096
I no longer see this issue when testing upload command. Closing this now

[2022-10-11 18:25] #12096 closed

[2022-10-11 19:08] tjaychen commented on #15405
i feel like your interpretation makes more sense.

@jadephilipoom
@eunchan
@cindychip

are you guys okay with making the change as @ballifatih suggested?

[2022-10-11 19:23] msfschaffner commented on #14147
I assigned myself to this test since it is related to other LC signal tests I am already working on, e.g. #14169.
@sriyerg @cindychip let me know if you already have something in flight for this.

[2022-10-11 19:41] eunchan commented on #15405
So, IIUC, `is_locked` in DIF represents the CFG_REG_WEN directly and it should be the inverse of CFG_REG_WEN?

Maybe @jadephilipoom knows better, but I think so. (and waveform also shows CFG_REG_WEN being **0** while KMAC is running.)

[2022-10-11 20:30] cindychip commented on #11700
Oh thank you for pinging me, this test is fully covered in chip_prim_tl_access. I think it is safe to close it.

[2022-10-11 20:30] #11700 closed

[2022-10-11 20:39] vogelpi commented on #14240
Update: After a lot of work, I've now managed to make CSRNG/EDN0 output the seed AES needs to produce zero masks. YIPPEE!

This uncovered a hardware bug in EDN (for details see #15402) and some issues in the DIF (see #15411). Next is to do the following:
- [ ] FPGA measurement on the CW310
- [ ] Working out a top-level tests, I think we should have one for this because the feature is very complex

[2022-10-11 20:48] tjaychen commented on #15371
You are right, since these tests perform life cycle walkthrough, they all seem to begin with the raw otp image.
This means the starting point of the test does not have `ROM_EXEC_EN` set to 1 and does not background load it at any point during the test.  This means when it is eventually time for software to run, it will just stall on `ROM_EXEC_EN`.

I can make a fix for this.

@cindychip FYI.
Let m

[2022-10-11 20:50] ballifatih commented on #15405
Yes, exactly this.

As a side note, I was able to find only these three unit tests calling `dif_kmac_config_is_locked`. I think these should also be updated because of this meaning change.

https://github.com/lowRISC/opentitan/blob/17a89ad860106aa5ad5d018c80eea27dc2f81c3a/sw/device/lib/dif/dif_kmac_unittest.cc#L590-L610

[2022-10-11 20:52] cindychip commented on #15371
Thanks for debugging this issue. So after the test transitions from raw stage to test unlock, we need to set the `ROM_EXEC_EN`, is that the solution you proposed?
I like the idea just wonder if there is any way to make it a common task or remind people if this field is not set?

[2022-10-11 20:56] tjaychen commented on #15371
i could put it in `dut_init` but it's a little weird when the lc state is supposed to be raw and have this set though.
I'm a little concerned that could hide other failures.

[2022-10-11 20:56] cindychip commented on #15371
Yeah.. Agree. I guess we can just fix this issue first. Maybe later we will have some better ideas.

[2022-10-11 20:58] tjaychen commented on #15371
i could put it in `apply_reset`, but we'd probably need a separate cfg bit to indicate when we want this to be automatically set vs not.  Since there are a few tests that manually set this bit (only 1 as far as i know).

[2022-10-11 21:05] cindychip commented on #15371
Sure, apply reset + a cfg flag sounds like a good solution! Thanks Tim.

[2022-10-11 22:05] sriyerg commented on #14872
I will close this issue in favor of relying on the weekly triaging effort.

[2022-10-11 22:05] #14872 closed

[2022-10-11 22:17] jdonjdon commented on #15340
FPV_SEC_CM is clean with #15416

[2022-10-11 23:44] sriyerg opened #15420 "[chip dv] Exclude prim_cdc_rand_delay module from coverage collection"
This is a verification component instantiated in the 2 flop sync prim. Excluding this module from coverage will improve our overall score significantly, since we do collect "full" coverage of pinmux, plic, padring, and rv_core_ibex (and the glue logic in the generated tops).

[2022-10-11 23:45] #15420 closed

[2022-10-11 23:49] sriyerg opened #15422 "[chip dv] Exclude functional coverage from interface agents"
At the full chip, we instantiate UART, SPI device, I2C (and few other) interface agents, which all provide a suite of functional covergroups. At the chip level, our goal is to not exhaustively test these IO protocols, so several of these functional covergroups show up uncovered. We need to assess and exclude the covergroups which we dont plan to cover.

[2022-10-11 23:59] sriyerg opened #15423 "[dv] In-RTL exclusions for unused signals and SVA logic"
RTL has several `unused` signals that are connected to tied off ports. These show up as uncovered. Also, there are pieces of logic that are not synthesized, but they exist to support in-RTL assertions. These helper pieces of code also show up as uncovered throughout the design. This impacts the coverage of block level as well as top level. These need to be effectively excluded from coverage collec

[2022-10-12 00:00] sriyerg commented on #15423
I believe there are a few more places (in full chip) where these are needed. So, leaving this issue open.

[2022-10-12 00:02] sriyerg commented on #14966
Leaving this open until Synopsys provides a fixed version of VCS.

[2022-10-12 00:06] sriyerg opened #15425 "[chip dv] Exclude *tl*.a_user.rsvd"
The `rsvd` field of `a_user` signal on TL host interfaces show up as uncovered at the chip level pervasively on all TL interfaces, putting a dent in the toggle coverage numbers. This needs to be excluded, since it is unsupported by our design (RTL throughs assertion errors if this value is non-zero). This is already excluded for the block levels. CHip level uses a separate coverage hierarchy file

[2022-10-12 00:07] #15425 closed

[2022-10-12 00:17] sriyerg opened #15426 "[chip, dv, cov] Unused reset signals from rstmgr"
The rstmgr emits resets for all power domains, but the consumers only use the reset corresponding to the power domain they are in. The rest of the reset flavors are unused at the chip level. This significantly dents the rstmgr coverage at the chip level.
https://reports.opentitan.org/hw/top_earlgrey/dv/latest/cov_report/mod29.html#inst_tag_194

As of 10/11/2022, the rstmgr block at the full chip h

[2022-10-12 00:24] sriyerg opened #15427 "[chip, dv, cov] Address low coverage of alert_dump and crashdump signals"
The `alert_dump` and `crashdump` signals from alert handler and ibex respectively are "saved" in registers in rstmgr during an unexpected event causing a reset (such as alert escalation). These signals do not have a full 100% toggle coverage.

Filing an issue to see if there is a scope for improving existing tests to get these to 100%. The crashdump signal holds PC / addresses which may be hard to

[2022-10-12 00:29] #15315 closed

[2022-10-12 02:26] #15272 closed

[2022-10-12 05:18] tjaychen commented on #13222
@moidx let me know if you want me to help take a look.

[2022-10-12 08:33] jadephilipoom commented on #15405
I also agree with Fatih's suggestion. :+1:

[2022-10-12 09:23] rasmus-madsen opened #15433 "AES counter measure verification issues"
Currently there are 2 outstanding verification Items on the AES sec cm testplan.
- sec_cm_key_masking
- sec_cm_data_reg_local_esc

We need to come up with a good method of verifying both of these.
this includes defining what  to probe, and when to probe.
@vogelpi @weicaiyang
Any suggestion on how to go about this?
what was done in the Kmac I assume you have similar issues there?

[2022-10-12 10:18] #15331 closed

[2022-10-12 10:48] engdoreis opened #15435 "[test-triage] chip_rv_dm_ndm_reset_req assert failing"
### Hierarchy of regression failure

Chip Level

### Failure Description

[code]

### Steps to Reproduce

- Commit hash d0b9668b2
- dvsim invocation command to reproduce the failure, inclusive of build and run seeds:
  ./util/dvsim/dvsim.py hw/top_earlgrey/dv/chip_sim_cfg.hjson -i chip_rv_dm_ndm_reset_req --fixed-seed 3778920470 --build-seed 1745750847 --waves -v h

### Tests with similar or relat

[2022-10-12 11:23] ballifatih commented on #15405
I suggested a fix in PR #15431, I can close this issue if someone can merge it.

[2022-10-12 12:06] alphan commented on #14486
@dmcardle can you try enabling this in the CI (if it's not already enabled)? Thanks!

[2022-10-12 12:07] alphan commented on #14484
Assigned to @andreaskurth based on the value of the "planned assignee" field. Please feel free to re-assign.

[2022-10-12 14:05] andreaskurth commented on #15435
The `chip_rv_dm_ndm_reset_req` test fails (with the provided seeds and also on e79e3525c284efe83f957ba62a24cd91be94370b, which is the current head of master) because the source of the following `prim_sync_reqack_data` is reset while the destination is not:

https://github.com/lowRISC/opentitan/blob/e79e3525c284efe83f957ba62a24cd91be94370b/hw/ip/otbn/rtl/otbn_scramble_ctrl.sv#L227-L235

According t

[2022-10-12 14:34] ballifatih commented on #15405
Thank you @jadephilipoom, @eunchan, @tjaychen. Closing this because #15431 is merged.

[2022-10-12 14:34] #15405 closed

[2022-10-12 14:45] dmcardle commented on #14486
It's not already enabled due to the "manual" tag, which is there because connecting OpenOCD to the running device is flaky (issue #15174). I think it's flakier than [ci/scripts/run-fpga-cw310-tests.sh](https://cs.opensource.google/opentitan/opentitan/+/master:ci/scripts/run-fpga-cw310-tests.sh;l=46;drc=46b156a66e1d0e4f7e651b55790347a8fae4fbc0) expects, so dropping the "manual" tag would make CI fl

[2022-10-12 15:08] drewmacrae commented on #15145
I'm going to update the rust rules. There are fixes to the failing code.

[2022-10-12 15:14] drewmacrae commented on #15145
@timothytrippel has beaten me to it. Has this occurred since 10/6?

[2022-10-12 15:44] #15145 closed

[2022-10-12 16:05] ctopal commented on #15408
Opened up https://github.com/lowRISC/opentitan/pull/15440 for testplan description updates

[2022-10-12 16:18] timothytrippel opened #15441 "[bazel] rules_rust bindgen toolchain does not register default clang include path"
rules_rust contains rules to use the rust bindgen tool by registering a hermetic "bindgen toolchain". This toolchain requires a clang binary which it [downloads](https://github.com/bazelbuild/rules_rust/blob/a364d448f2ed2ec4ea2401b33e99341fe62ad11a/bindgen/repositories.bzl#L88) from the LLVM release URL. Then, it proceeds to invoke bindgen (which [leverages libclang ](https://rust-lang.github.io/r

[2022-10-12 16:19] timothytrippel commented on #15441
I am currently looking into ways to patch rules_rust again to overcome this issue.

[2022-10-12 16:21] alphan commented on #14486
SG, let's wait for OTP splicing. Thanks!

[2022-10-12 16:52] #14135 closed

[2022-10-12 16:58] cfrantz opened #15443 "Enable rust clippy on the codebase"
- Enable clippy on the whole codebase.
- Clean up the lint

[2022-10-12 18:33] drewmacrae commented on #12011
This has been fixed and is now covered by a unittest: https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/lib/runtime/print_unittest.cc;drc=32355ad9c593d2b323a5c7e5ecaa975919ab9ae3;l=153

[2022-10-12 18:33] #12011 closed

[2022-10-12 18:50] cdgori commented on #14386
BTW, this was raised when I was on vacation and somehow missed by me, but the analysis (for not adding blanking) is solid from my perspective.

I concur that a path from URND to RND is undesirable, as is the overhead of wiping RND with RND.

Thanks for checking the assertions.

[2022-10-12 18:51] msfschaffner commented on #10541
@moidx @tjaychen I am moving this to M3, since this only affects foundry.

[2022-10-12 19:53] sriyerg opened #15451 "[dv] X's in the operands of the pervasively used `DV_CHECK` macros results in an implicit check pass"
Our `DV_CHECK_*` macros are defined here:
https://github.com/lowRISC/opentitan/blob/d19d492fcac39fe201469b3935c9cb11c979d5a9/hw/dv/sv/dv_utils/dv_macros.svh#L85

They employ a negative check of the condition to throw an error when the condition is not met.
[code]
If the expression `T_` evaluates to 'x' due to Xs in one of the operands in the expression `T_`, `!(T_)` also evaluates to 'x', which is

[2022-10-12 20:11] #14155 closed

[2022-10-12 20:13] eunchan commented on #9106
Related issue #15282

[2022-10-12 20:14] eunchan commented on #9106
Conclusion is to keep notify via status and SW to decide to mask

[2022-10-12 20:14] #9106 closed

[2022-10-12 20:14] cfrantz commented on #15443
TODO:
- [ ] Work out how to deal with version stamping and re-enable clippy for opentitantool.
- [ ] Fix `module_inception` in the `otp` and `image` modules.
- [ ] Investigate the `large_enum_variant` in the `rsa` command.
- [ ] Check and correct the commented line of code in `alert_handler.rs`.

[2022-10-12 20:21] eunchan opened #15452 "[spi_device] Remove Generic (a.k.a. FwMode) from SPI_DEVICE HWIP"
This is a topic brought up multiple times. As TPM can behave almost identical but limited frame size (64B in TPM vs 1kB or more), it is OK to remove Generic mode. TPM protocol, however, has better flow control compared to Generic mode.

The benefit of removing Generic mode is to clean up the complex CDC path on SRAM B port in SPI_DEVICE. It raises many CDC warnings and errors, so that we waived ma

[2022-10-12 20:42] msfschaffner commented on #14126
Thanks @bilgiday!

RE the out-of-spec test: do you have an idea how much longer it takes to simulate with that phase included?
it does not hurt keep it, but we should check whether the test simulation is reasonable.

RE the alert phases - see comments on the PR.

[2022-10-12 20:53] a-will commented on #15452
I'll point out that adjusting the generic mode logic so it doesn't use asynchronous FIFOs in front of the SRAM would also take care of that issue. Removing generic mode altogether may be the best choice, but it's not the _only_ way to get rid of the complex CDC.

[2022-10-12 21:40] eunchan commented on #15452
Yep. you are right. We can fix the issue as DPRPAM now supports byte enable (it wasn't when GenericMode was designed. That's why DPSRAM was in SYS_CLK and async fifo was there). But as I mentioned, it is not worth to have two almost identical modules in SPI_DEVICE.

[2022-10-12 22:24] weicaiyang opened #15457 "[spi_device/dv] Verify CDC path when switching to/out of FW mode"
Depend on how we decide in #15452

1. We need to have CDC model in the sram, in order to verify this
2. The sequence to switch to or out of FW mode is defined in the CSR section - `sram_clk_en`

[2022-10-12 22:33] timothytrippel commented on #15441
I was able to [patch](https://github.com/lowRISC/rules_rust/commit/1d1d05a91737879482030258b9bcdb0309154cbe) our fork of rules_rust to solve this issue. #15446 updates our Bazel workspace to use this patched version of rules_rust again.

[2022-10-12 22:35] #15207 closed

[2022-10-12 22:37] cindychip opened #15458 "[chip/fpga] FPGA only tests to run through all counters in alert_handler"
Alert_handler has esc_counters that have a very large number to saturate.
We could not run them in DV due to the long simulation time but could potentially cover by FPGA tests.

[2022-10-12 22:48] timothytrippel opened #15459 "[test-triage] chip_prim_tl_access"
### Hierarchy of regression failure

Chip Level

### Failure Description

`UVM_FATAL @ * us: (cip_base_vseq.sv:293) [chip_prim_tl_access_vseq] Timeout waiting tl_access : addr=*`

### Steps to Reproduce

- This failure was noticed when trying to add the `chip_prim_tl_access` test as a private CI presubmit test in #15454
- This failure is only happening with Xcelium it seems, as this test is runnin

[2022-10-12 23:24] msfschaffner commented on #14139
This has been added to the regressions and is passing now.

[2022-10-12 23:24] #14139 closed

[2022-10-12 23:34] sriyerg commented on #15427
Discussed offline and agreed on excluding these buses in DV sims in favor of:

- [ ] Ensuring proper latching of these dump signals is done correctly and verified in `ibex_top` and `alert_handler` testbenches
- [ ] Ensuring rstmgr verifies these inputs are randomized and read-checked for correctness after mimicking a reset req scenario
- [ ] Having basic chip level has tests verifying the crash /

[2022-10-13 00:19] weicaiyang opened #15463 "[spi_device] Document update needed for flash/passthrough mode"
EDIT: make this a checklist to include other document update requests.

- [x] As @eunchan mentioned, we support {polarity, phase} to be 'b00 or 'b11 for flash/passthrough mode. Please document it in the spec.

- [ ] since https://github.com/lowRISC/opentitan/pull/15326 is merged, perhaps also document the minimum inactive time between transactions (2 tpm, 2 flash, 1 tpm and 1 flash).

- [x] docume

[2022-10-13 00:52] sriyerg commented on #15371
These tests used to pass. What exactly changed that caused it to fail with this symptom?

[2022-10-13 01:26] msfschaffner commented on #15427
This SGTM!

[2022-10-13 06:31] andreaskurth commented on #15371
These tests started failing in nightlies on 2022-10-08 with c2a8c64cc. The revision tested in nightlies just before, 144e5112d, passed these tests. Given 8b107c473157f391d25654168b62911b02f3d205 is between those two revisions and following [this](https://github.com/lowRISC/opentitan/issues/15371#issuecomment-1274873902) and [this](https://github.com/lowRISC/opentitan/issues/15371#issuecomment-1275

[2022-10-13 09:12] #12883 closed

[2022-10-13 10:48] johngt commented on #15435
Thanks @andreaskurth for the assessment. It looks like we should keep this open until https://github.com/lowRISC/opentitan/issues/15317 is merged in and then see if this issue is resolved.
@engdoreis let's keep this open during our on-call window. If by the end of Friday the issue is not merged please de-assign @andreaskurth but keep the issue open. I'm assigning @tjaychen as the planned assignee

[2022-10-13 12:08] vogelpi opened #15469 "[edn] EDN doesn't support backpressure from CSRNG on RES/GEN commands"
Factored out from #15402.

While working on #14240 it has been noticed that EDN currently doesn't support backpressure from CSRNG when transmitting contents of the command FIFOs. As a result, whenever a RES/GEN command contains more than 1 word of additional data, word 2 and 3 are dropped by CSRNG which then keeps waiting for the last two words forever. Similarly, EDN keeps waiting for the final A

[2022-10-13 12:10] vogelpi commented on #15469
Hey @mwbranstad & @senelson7,
knowing that you're already working on this I thought it's maybe easier to factor out the actual issue out of my hot fix PR. You might even want to create a separate issue for the DV part.

[2022-10-13 12:13] vogelpi commented on #15469
FYI @martin-lueker , I've now assigned a default P1.

[2022-10-13 12:43] vogelpi opened #15470 "[kmac] Options for SCA of KMAC on ES with masking disabled"
Similar to AES, we also need an option for performing SCA on KMAC with the masking switched off (see #14240 for details on AES). The main purpose of this is to allow EM probe positioning and SNR evaluation. We did have a quick conversation on this in the OT SCA meeting. This issue is to keep track of this and to continue the discussion.

Here what we have been thinking so far. The `EnMasking` is o

[2022-10-13 13:01] rasmus-madsen commented on #15433
@vogelpi can you point me to the best place to sample data before and after the escalate?
also if the escalate signal is available in the same place that would be awesome

[2022-10-13 13:22] vogelpi commented on #15433
Sorry, I mixed up two countermeasures, I've now edited my previous message. Regarding `sec_cm_data_reg_local_esc`:

We need to check that the data out and IV register contents don't correspond to these signals inside `aes_cipher_core`:
- `add_round_key_out[0] ^ add_round_key_out[1]` (Where [0] is share 0 and [1] is share 1.)

In addition, we also need to ensure that the data out and IV register co

[2022-10-13 13:49] vogelpi commented on #15469
FYI @tjaychen @moidx

[2022-10-13 14:09] vogelpi opened #15473 "Aligning behavior on local caching of entropy for secure wipe"
During the OTBN V2S review the idea was brought up to align our IPs regarding local entropy caching for secure wipe. At the moment, various IPs follow a different approach. To give some examples:
- OTBN:
  - In case of secure wipe first reseeds URND over EDN, then performs the secure wipe and reseeds again. If the reseed doesn't finish, OTBN will not finish the secure wipe. Further operations (com

[2022-10-13 14:10] vogelpi commented on #15473
FYI @msfschaffner @andreaskurth @GregAC @ctopal

[2022-10-13 14:22] drewmacrae opened #15474 "[test-triage] Bazel builds timing out in 5 nightly regressions"
### Hierarchy of regression failure

Chip Level

### Failure Description

## Failure Buckets

* `Some pass patterns missing: ['^TEST PASSED (UVM_)?CHECKS$']` has 27 failures:
    * Test chip_sw_example_flash has 1 failures.
        * 0.chip_sw_example_flash.723784426\
         Log /container/opentitan-public/scratch/os_regression/chip_earlgrey_asic-sim-vcs/0.chip_sw_example_flash/latest/run.log

[2022-10-13 15:45] arunthomas commented on #14111
Unassigning Drew since the software side of this test is complete

[2022-10-13 16:28] jrvanwhy opened #15477 "[opentitantool] Migrate from `structopt` to `clap`"
From `structopt`'s README:

We should migrate opentitantool from `structopt` to `clap`.

[2022-10-13 16:56] tjaychen commented on #15452
if we remove generic mode, does that mean spi device would have no way of constructing a full duplex protocol if someone wanted to use it that way?

[2022-10-13 17:05] tjaychen commented on #15427
@jeoongp

For the first point, the latching is done partly inside `ibex` and partly inside `rv_core_ibex`.  So for the double fault related things we'll probably need to rely on the 3rd check point.

I believe the 2nd point is already covered in block level, but would need @matutem to confirm.

[2022-10-13 17:12] tjaychen commented on #15435
@jeoongp
@matutem
who will be looking after this change.

[2022-10-13 17:23] msfschaffner commented on #15473
Also adding @tjaychen @moidx.

[2022-10-13 17:32] GregAC opened #15480 "[sw, rv_core_ibex] Is all memory containing executable code initialised with valid ECC?"
This is related to https://github.com/lowRISC/opentitan/issues/11035. In that issue I was seeing a potential problem due to Ibex's speculative iside fetches. Such a fetch could fetch from unmapped memory, getting an error response. If that response didn't have correct integrity we triggered an alert. That's a problem as entirely correct code executing close to some memory region boundary could tri

[2022-10-13 17:35] cindychip opened #15481 "[dv/chip] LC_CTRL related chip level coverage"
- [ ] [cindy] lc_otp_vendor_test_i/o: Move to connectivity test, tied off in open source chip level test.
- [ ] lc_otp_program_o.count/program: sparsely encoded. So some of the toggle values are unreachable.
      But since we are changing build-seeds to generate different encoding pattern, it is very hard to find the unreachables on the fly.
      Are we comfortable to exclude the entire outputs?

[2022-10-13 17:36] tjaychen commented on #15480
hmmm... that's a good question.
For sram, there is an initialization function we can call that goes through and populates the memory with valid, random data. This bit is handled by [ROM](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/rom_start.S;l=236)./  For the injection case however, I don't think ROM has done this part yet, so we might need the external

[2022-10-13 17:41] tjaychen commented on #15452
i've honestly only ever seen 2 use cases of someone doing that.
@a-will may have seen others.

[2022-10-13 17:49] weicaiyang commented on #15463
BTW, since [#15326](https://github.com/lowRISC/opentitan/pull/15326) is merged, perhaps also document the minimum inactive time between transactions (2 tpm, 2 flash, 1 tpm and 1 flash).

cc: @jeoongp

[2022-10-13 17:50] tjaychen commented on #15480
@GregAC just to double check, have you seen a failure so far where pre-fetches to uninitialized flash has caused an alert generation as you described?

The way the flash logic is "supposed" to behave is that we always generate the integrity based on the [data read](https://cs.opensource.google/opentitan/opentitan/+/master:hw/ip/flash_ctrl/rtl/flash_phy_rd.sv;l=646-651).  We may attach sideband err

[2022-10-13 17:55] jdonjdon commented on #15480
As long as input data is not 'x', I don't see any misbehavior.
And I assume all uninitialized flash have random '0' or '1' in real life.

[2022-10-13 17:59] GregAC commented on #15480
Nope, this is based on issues we've seen in the Ibex testbench. We've got tests that cause fetches to uninitialized memory leading to alerts.

[2022-10-13 18:00] tjaychen commented on #15473
@cdgori

thanks for filing.
I do agree we'll need a general philosophy on this should be handled going forward, but to me it will still likely have a few flavors.

[2022-10-13 18:02] tjaychen commented on #15480
@GregAC just to confirm though.. if you prefetch into an area that is marked non-excutable, what happens then? Because in some sense I think we can equate these cases.  I would assume the pmp would actually error that prefetch, and there is some trickle down behavior.  So then as long as we don't enable execution to uninitialized regions, wouldn't we be okay also?

[2022-10-13 18:14] tjaychen opened #15483 "[dv/top] update spi_host to support multiple instances"
The spi_host top level tests right now only support 1 instance.
We need to upgrade the infrastructure here to be able to support any random instance.

- [ ] add support for spi_host test.

[2022-10-13 18:23] msfschaffner commented on #5816
It looks like the only thing that has to be done here is align the `rv_core_ibex.cored` and `rv_dm.sba` lists here:
https://github.com/lowRISC/opentitan/blob/0681ffa10a42f151309530fc10511e284a76fc18/hw/top_earlgrey/data/xbar_main.hjson#L198-L211

[2022-10-13 18:34] GregAC commented on #15480
Nothing, the PMP check occurs between the Fetch and Decode/Execute stages of the pipeline. So we can prefetch on the iside into non-executable space.

[2022-10-13 18:49] drewmacrae commented on #15474
There's a quirk with Bazel that we've encountered before that may be exacerbating a resource constraint here. Jobs are dispatched in a manner appropriate for the host, which may not fit well with a VM or other requirements on cloud machines. We'll try limiting our dispatched build jobs to something more appropriate for the VMs we build on and see if that helps.

[2022-10-13 19:14] tjaychen commented on #15480
ah i see... so then the error conditions associated with that fetch, does it automatically jump into an exception? I'm guess it does not.

However, knowing this then..
1. for sram_ctrl, we can avoid it by calling the init function, which populates every sram location with valid integrity.
2. for flash, we "should" be okay assuming the design does what it does and has at least a `non-x` value on wh

[2022-10-13 19:22] sriyerg opened #15486 "[chip dv] Deprecate jtag_riscv_agent"
The jtag_dmi_agent supercedes the jtag_riscv_agent work and provides a more ergonomic way to access the chip over JTAG. As a step towards tech debt reduction, we should replace it with jtag_dmi_agent / sba_access_utils_pkg methods at the chip level soon.

The replacement should be hopefully straightforward, and should take about a day to complete.

@cindychip @tjaychen

[2022-10-13 19:22] milesdai opened #15487 "[ottf/ci] OTTF flow control test failing on FPGA"
The CW310 tests in CI are failing on the OTTF flow control test on master.

See the [test logs](https://dev.azure.com/lowrisc/opentitan/_build/results?buildId=97167&view=logs&j=be0b5a13-ded6-5a2a-3e48-80a10e7eef12&t=08da8d7b-39e7-587c-6104-066a15914f8d&l=2299)

[2022-10-13 19:28] moidx commented on #15337
Moving this from comment from #15407

+1 to having a single source of truth in the long term so that it is easier to keep test cases in sync across targets (dv, fpga, verilator).

Moving things to Bazel has the benefit of being able to customize OTP images as part of test target definitions. I believe only ROM E2E tests running on FPGA/verilator are taking advantage of this. I assume that once we

[2022-10-13 19:39] msfschaffner commented on #15481
This should be OK since we are testing this with life cycle transition tests at the top-level.

[2022-10-13 20:57] tjaychen commented on #5816
@GregAC
@andreaskurth

i took a quick look at this.. and the only thing `cored` can access that `sba` cannot is `rv_dm.mem`.
Do we see any reason this should be excluded?  I guess I don't see a ton of utility in the path, but I don't see any reason why it should not be there either.

If it's okay with you all, I will add it back to make the two sides consistent.

[2022-10-13 21:23] moidx commented on #15337
@timothytrippel mentioned that for dv, software tests already use the `opentitan_functest` action which already maps OTP dependency targets.

@timothytrippel  can provide more details on how the binaries are packaged.

[2022-10-13 23:05] msfschaffner opened #15494 "[pinmux/rv_dm] Update to strap sampling logic"
In order to accommodate the new reset topology proposed in #15317, we need to make an update to the pinmux strap sampling logic.
Specifically, we need to find a way to prevent de-selection and reset of the RV_DM when an `ndm_reset` is requested.

One solution would be to update the strap sampling submodule to latch the incoming life cycle signals that are used to qualify the TAPs as follows:

1) U

[2022-10-13 23:09] msfschaffner commented on #4244
As discussed above, the main signals that we should audit are the `escalate_en` signals that cross power boundaries. These need to have an `Off` isolation value since they could otherwise cause spurious escalations upon power gating events. All other signals should theoretically be fine with an all-zero isolation value, since only the `On` value will activate the corresponding function.

At the mo

[2022-10-13 23:11] tjaychen commented on #4244
I did a quick audit, there are a few blocks we should have a look at.
always on modules: `pwrmgr`, `rstmgr`, `clkmgr`, `sysrst_ctrl`, `adc_ctrl`, `pwm`, `aon_timer`, `sram_ret`, `pinmux`

- `pwrmgr` - only uses `true_strict` detection.
- `rstmgr` - no `lc_ctrl` broadcast
- `clkmgr` - Used as part of `all clocks bypass`, meaning as currently constructed, we cannot continue to bypass clocks during l

[2022-10-13 23:22] msfschaffner commented on #4244
Ah good point regarding `clkmgr`. As long as the internal oscillators work, this should not be a concern, right?

For the `sram_ctrl` the `lc_debug_en` only applies to the main SRAM now (we disconnected it from the retention SRAM), so I think that one should be fine.

[2022-10-13 23:52] tjaychen commented on #4244
ah thanks for the reminder on `sram_ctrl`.
So it's just `aon_timer` then right?

[2022-10-14 03:00] #14166 closed

[2022-10-14 07:05] andreaskurth commented on #5816
I agree, thanks @msfschaffner  and @tjaychen

[2022-10-14 07:12] johannheyszl commented on #15470
Thanks Pirmin for this summary!

@eunchan it would be mega nice if you could quickly read through to make sure we understand right. thx!

cc @moidx @tjaychen for viz

[2022-10-14 07:24] GregAC commented on #5816
Sounds good to me

[2022-10-14 10:06] rasmus-madsen commented on #15433
@vogelpi
I am confused - do we agree that the register content is the the *_q version of the signal?

so you are saying the register content should not match it self x'or with the round_key?

[2022-10-14 11:26] johngt opened #15504 "Add assumption bounding the URND handshake in FPV for OTBN"

[2022-10-14 11:29] johngt opened #15505 "[otbn,dv] FSM coverage exclusion for improving FSM coverage"
Per OTBN V2S meeting, this was one of the resulting action items.
See https://github.com/lowRISC/opentitan/issues/15408 and https://docs.google.com/document/d/16gA_HA4WxNQm9F-PcOX1kosfY53aWY_TibSFHDLkKcU/edit for further context.

[2022-10-14 12:12] andreaskurth opened #15506 "[rv_dm] Port vendoring patches to patch repository and clean up"
Our vendoring currently applies patches to `pulp_riscv_dbg` that are not part of our [patch repository](https://github.com/lowRISC/riscv-dbg). At least the following PRs are involved: #12613, #12728, and #15436.

Those patches should be ported to the patch repository and then re-imported cleanly with the `--refresh-patches` flag; see https://github.com/lowRISC/opentitan/pull/15436#discussion_r9948

[2022-10-14 12:23] vogelpi commented on #15433
This picture is from the documentation:
![image](https://user-images.githubusercontent.com/20307557/195844352-e7cb0973-bd76-4871-92e2-798bd466fac7.png)

We need to ensure two things upon escalation:
1.  The `data_out` registers inside the CSRs don't contain something that's related to the output signal of the core. This is `add_round_key_out`. It's not sufficient to just check that it doesn't matc

[2022-10-14 12:36] jadephilipoom opened #15507 "[crypto] Harden all handling of k for ECDSA."
Summarizing some offline conversations with @bilgiday, @johannheyszl, and @JPulkus  -- please comment if I'm missing anything. This concerns the nonce `k` for ECDSA, which is an element of the "scalar field", i.e. the field modulo the curve order `n`. There's a really nice, approachable summary of the nonce and different possible attacks [here](https://blog.trailofbits.com/2020/06/11/ecdsa-handle-

[2022-10-14 12:57] jadephilipoom commented on #15507
Yep, this is another great reason not to ever handle `k` in plaintext!

[2022-10-14 15:14] msfschaffner commented on #11447
@GregAC to re-vendor Ibex. That should fix this issue.

[2022-10-14 15:40] msfschaffner commented on #9322
Has this issue been addressed or is there pending work to be done?

[2022-10-14 15:42] msfschaffner commented on #8546
@weicaiyang @msfschaffner to take a look at https://github.com/lowRISC/opentitan/issues/13543 and this issue and close if possible.

[2022-10-14 15:43] msfschaffner commented on #8702
This should now be in the testplan - closing.

[2022-10-14 15:43] #8702 closed

[2022-10-14 15:47] msfschaffner commented on #7845
Has this been addressed by now?

[2022-10-14 15:51] msfschaffner commented on #12301
@weicaiyang we added common tests for the WE checker, right?

[2022-10-14 15:53] msfschaffner commented on #12075
Pwrmgr is at V2S now - can this be closed?

[2022-10-14 15:54] msfschaffner commented on #12117
Closing since pattgen is at V2S now.

[2022-10-14 15:54] #12117 closed

[2022-10-14 16:01] jdonjdon commented on #12075
@msfschaffner we can close this issue but pwrmgr v2s still tied to
new ndm reset update. See #15125

[2022-10-14 16:01] #12075 closed, assigned to tjaychen, cindychip, jdonjdon

[2022-10-14 16:12] alphan commented on #14473
#15511 add the test points that don't depend on OTP splicing.

[2022-10-14 16:13] msfschaffner commented on #14015
These connectivity tests should now all be implemented - closing.

[2022-10-14 16:13] #14015 closed

[2022-10-14 16:34] tjaychen commented on #9322
still pending work :)

[2022-10-14 16:49] cindychip commented on #7845
Oops, I have not finished the functional coverage.. I will do it next week!

[2022-10-14 16:53] tjaychen commented on #15470
@vogelpi just a clarifying question.
For testing during prefix phase only, do you need some kind of instrumentation to know when that period is? Or it's fine to figure out based on the collected traces?  What I'm gathering is that the key portion will always be masked right?

thanks for the investigation!

btw, if for whatever reason we do decide we need to modify something, let's talk things thro

[2022-10-14 17:00] alphan commented on #14455
#15334 adds the test for RMA.

[2022-10-14 17:13] tjaychen commented on #4244
i mis-spoke regarding `aon_timer`.  Looking closer, i think `aon_timer` does actually need its `escalate_en` input to be correctly isolated.
`clkmgr` i don't think really matters, we just need to accept that we can't use that mode across low power.

are those the only things?

[2022-10-14 17:52] weicaiyang commented on #12181
Done and updated the checklist

[2022-10-14 17:52] #12181 closed

[2022-10-14 17:54] weicaiyang commented on #12301
yes, just marked it done.

[2022-10-14 18:04] weicaiyang commented on #14940
fixed via https://github.com/lowRISC/opentitan/pull/15326

[2022-10-14 18:04] #14940 closed

[2022-10-14 18:05] weicaiyang commented on #15133
fixed via https://github.com/lowRISC/opentitan/pull/15175

[2022-10-14 18:05] #15133 closed

[2022-10-14 18:11] weicaiyang commented on #14717
closing as duplicated of https://github.com/lowRISC/opentitan/issues/14665

[2022-10-14 18:11] #14717 closed

[2022-10-14 18:43] weicaiyang commented on #10586
This has been verified and covered as follows for passthrough mode.

But I assume mailbox crossing doesn't happen in flash mode. DV doesn't test it either.
If this looks good, we could close this issue.
@a-will @eunchan

[2022-10-14 18:47] weicaiyang commented on #14666
Looks like this is not an issue and we have filed an issue #14831 to move the filter bit to cmd_info.
Perhaps we can close this issue now.

[2022-10-14 19:52] a-will commented on #14666
Yup, agreed. Since CMD_INFO entries are required, the default behavior effectively _is_ to filter.

[2022-10-14 19:52] #14666 closed

[2022-10-14 19:55] msfschaffner commented on #4244
I believe so, yes. that leaves us with `aon_timer`, `sram_ctrl_main` and `pwrmgr` that need correct isolation values, right?

[2022-10-14 20:06] tjaychen commented on #4244
wait i thought `sram_ctrl_main` didn't need it because it's not always on?
I'm actually not sure `pwrmgr` even needs it, since it does only a strict true check.

[2022-10-14 20:29] eunchan commented on #10586
Agree.

[2022-10-14 20:37] msfschaffner commented on #4244
ah sorry, let me back up (not enough coffee ;)).

you are right and `sram_ctrl_main` does not need it, since it is not AON.

for `pwrmgr`, since that only uses strict checks, we should be good as well. I think I had the escalation interface in mind - but that should not need any special isolation values since we keep the escalation receiver in the same reset domain as the alert handler (which will

[2022-10-14 21:15] msfschaffner commented on #12075
Ah yes, I see. That should be ok - we have an issue that tracks the reset domain changes: https://github.com/lowRISC/opentitan/issues/15317

[2022-10-14 22:09] eunchan opened #15517 "[spi_device] Late CSb de-assertion for op-complete commands"
The current SPI_DEVICE HWIP has a few limitation of detecting the host system's misbehaviors:

- If host de-asserts CSb prior to the full 8 bit opcode, HW IP silently drops
- If host de-assrets CSb later than 8th beat, but the received opcode expects op-complete command (such as chip erase), it is expected to discard the command. The current version of SPI_DEVICE, if host terminates the command at

[2022-10-14 22:25] #10586 closed

[2022-10-14 22:43] #5816 closed

[2022-10-14 22:47] eunchan commented on #14665
I will add an enable bit to CSR (rather than adding CG to SPI_CLK or OR gate on CSb) that blocks cmdparse to activate any datapaths. It would take less effect to the timing.

[2022-10-14 23:03] eunchan opened #15518 "[RFC] Status Type Interrupt"
This RFC proposes an additional interrupt type, _Status_ type interrupt. The idea started from the issue #15282 where we've talked about the benefits of status interrupt (keeping the interrupt line high until the cause disappears).

The details are in the [RFC: Interrupt Types document](https://docs.google.com/document/d/1aOS1GzvtV7UjIUtcn-gANefaoMFWwZub_biSFHJXM-c/edit) (Read / comment permission

[2022-10-14 23:04] msfschaffner commented on #15518
@msfschaffner

[2022-10-14 23:18] #15451 closed

[2022-10-15 01:47] moidx commented on #13222
Fixed in https://github.com/lowRISC/opentitan/pull/15468.  There was an issue with how we were comparing the CSRNG output in DEV mode.

[2022-10-15 01:47] #13222 closed

[2022-10-15 04:15] #14194 closed

[2022-10-15 04:15] #14328 closed

[2022-10-15 10:47] alphan commented on #14475
#15523 adds tests for all cases except for the first one, which is blocked by OTP splicing.

[2022-10-16 00:15] alphan commented on #14481
#15526 adds the test for the first row and placeholders for the rest until #15162 is resolved.

[2022-10-16 03:09] ctopal opened #15527 "[otbn,dv] Parameterize `otbn_intg_err` base class"
When `otbn_intg_err`  got implemented it was explicitly used for injecting integrity errors to bignum registers. Therefore the arguments for the some tasks and functions are written for BigNum lengths. If we can parameterize it, we then don't need to have `otbn_rf_base_intg_err` implement it's own body.

[2022-10-17 08:13] vogelpi commented on #15470
Hey @tjaychen ,
this is a good point. On FPGA, we have modified KMAC design slightly to first provide all the inputs, put Ibex to sleep and then trigger the processing with a delay (see 74cc22123ef9e74312dd4c66f90d43d9e9866f19 for details).

On ES, KMAC will start processing the prefix even before Ibex has provided the full message and has gone to sleep. This is good to generate additional noise w

[2022-10-17 09:17] abdullahvarici commented on #15072
See https://github.com/lowRISC/opentitan-embargoed/pull/91

[2022-10-17 09:47] ballifatih opened #15530 "[kmac] EDN doesn't timeout on FPGA"
With FPGA, I cannot trigger timeout for KMAC's EDN handshake.

For example, I choose the smallest waiting time configuration for KMAC's EDN by setting entropy_prescaler = 0x00 and entropy_wait_timer=0x01, but EDN response still doesn't timeout. This issue is only on the FPGA side, and there is not an issue with verilator and dvsim.

The related chip_sw test is https://github.com/lowRISC/opentitan/

[2022-10-17 09:53] ballifatih commented on #15530
With FPGA, I cannot trigger timeout for KMAC's EDN handshake.

For example, I choose the smallest waiting time configuration for KMAC's EDN by setting `entropy_prescaler = 0x00` and `entropy_wait_timer=0x01`, but EDN response still doesn't timeout. This issue is only on the FPGA side, and there is not an issue with verilator and dvsim.

The related chip_sw test is #14637, and CI fails because of t

[2022-10-17 10:06] ballifatih commented on #15530
I also tried this with a larger number of KMAC invocations (~100) as an experiment, and none of them times out.

https://github.com/ballifatih/opentitan/blob/edn_timeout_fpga/sw/device/tests/kmac_entropy_test.c

[2022-10-17 10:20] vogelpi commented on #15470
Just had a discussion with @johannheyszl and he noted that if the PRNG is updated when processing the key, the masks will still be different for the prefix phase of the next message. So my initial proposal to do the analysis on the prefix phase actually doesn't work. However, there is an alternative: Johann suggested to do the analysis with masking off using the SHA3-only mode, i.e., without key.

[2022-10-17 11:38] johannheyszl commented on #15470
thx Pirmin. cc @ballifatih for viz

[2022-10-17 15:51] engdoreis commented on #13543
I'm going to be working on the sw part of the check boxes.

[2022-10-17 16:37] drewmacrae commented on #14111
LMK if the test needs any re-investigation/explanation.

[2022-10-17 16:51] tjaychen commented on #15470
thanks for clarifying @vogelpi / @johannheyszl . Doing analysis during SHA3-only mode sounds good to me.
Should we run an experiment (maybe it's already been done) that it actually behaves the way we think it should?

[2022-10-17 18:20] cindychip commented on #15277
I think this issue is resolved?

[2022-10-17 18:22] cindychip commented on #15373
Still seen this failure in `chip_sw_alert_handler_ping_timeout` with seed 713603959, build-seed 2438508852, github revision https://github.com/lowrisc/opentitan/tree/84fdd3bf374f168367ba7ffcb07cfa4d79c54875

[2022-10-17 18:25] cindychip commented on #15372
@eunchan looks like this test is passing now? Can we close this issue?

[2022-10-17 18:30] tjaychen commented on #15336
3 more nightlies have passed, so let's close this one down for now.

[2022-10-17 18:30] #15336 closed

[2022-10-17 18:30] cindychip opened #15533 "[test-triage] chip_sw_clkmgr_escalation_reset"
### Hierarchy of regression failure

Chip Level

### Failure Description

  UVM_ERROR @ 3383.073776 us: (cip_base_scoreboard.sv:436) [uvm_test_top.env.scoreboard] Check failed item.d_error == exp_d_error (1 [0x1] vs 0 [0x0]) On interface chip_reg_block, TL item: req: (cip_tl_seq_item@140559) { a_addr: 'h1001fe7c  a_data: 'h0  a_mask: 'hf  a_size: 'h2  a_param: 'h0  a_source: 'h1  a_opcode: 'h4  a_

[2022-10-17 18:32] tjaychen commented on #15371
it looks like the fix didn't address all of the failures, this one is still failing.

[2022-10-17 18:32] eunchan commented on #15372
PR #15421 should be merged before closing this.

[2022-10-17 18:33] cindychip commented on #15435
Adding a few more tests to this failing category (already updated in the description):
Github: https://github.com/lowrisc/opentitan/tree/84fdd3bf374f168367ba7ffcb07cfa4d79c54875
- [ ] chip_sw_pwrmgr_random_sleep_all_wake_ups.3614850612
- [ ] chip_sw_pwrmgr_deep_sleep_all_wake_ups.2335872897
- [ ] chip_sw_pwrmgr_normal_sleep_all_wake_ups.3771606132

[2022-10-17 18:34] tjaychen commented on #15435
hmmm... let me have a look at the `pwrmgr` failures.
If those are actually going into deep sleep, there shouldn't be a domain crossing problem.  So this might be hitting a case that was not originally expected.  @cindychip i might separate those into a different issue if that's the case.

[2022-10-17 18:36] cindychip opened #15534 "[test-triage] chip_sw_sram_ctrl_execution_main"
### Hierarchy of regression failure

Chip Level

### Failure Description

  UVM_ERROR @ 3771.762672 us: (sw_logger_if.sv:522) [sram_ctrl_execution_test_main_prog_sim_dv(sw/device/tests/sim_dv/sram_ctrl_execution_test_main.c:183)] CHECK-fail: Expected exception not observed whilst executing from SRAM!
  UVM_INFO @ 3771.762672 us: (uvm_report_catcher.svh:705) [UVM/REPORT/CATCHER]
  --- UVM Report ca

[2022-10-17 18:38] cindychip opened #15535 "[test-triage] chip_sw_exit_test_unlocked_bootstrap"
### Hierarchy of regression failure

Chip Level

### Failure Description

  UVM_ERROR @ 2598.039700 us: (jtag_riscv_dm_activation_seq.sv:25) [uvm_test_top.env.m_jtag_riscv_agent.sequencer.jtag_dm_activation_seq] Check failed rsp.status == DmiNoErr (x [0xx] vs 0 [0x0]) jtag_csr_dm_activation failed!
  UVM_INFO @ 2598.039700 us: (uvm_report_catcher.svh:705) [UVM/REPORT/CATCHER]
  --- UVM Report catc

[2022-10-17 18:40] cindychip opened #15536 "[test-triage] chip_sw_rv_plic_smoketest"
### Hierarchy of regression failure

Chip Level

### Failure Description

      Offending '(!$isunknown(depth_o))'
  UVM_ERROR @ 3155.528394 us: (prim_fifo_sync.sv:194) [ASSERT FAILED] DepthKnown_A
  UVM_INFO @ 3155.528394 us: (uvm_report_catcher.svh:705) [UVM/REPORT/CATCHER]
  --- UVM Report catcher Summary ---

### Steps to Reproduce

- Commit hash:  https://github.com/lowrisc/opentitan/tree/84f

[2022-10-17 18:42] cindychip opened #15537 "[test-triage] chip_sw_sysrst_ctrl_outputs"
### Hierarchy of regression failure

Chip Level

### Failure Description

      Offending '(!$isunknown(cio_key0_out_o))'
  UVM_ERROR @ 3064.447288 us: (sysrst_ctrl.sv:391) [ASSERT FAILED] Key0OKnown_A
  UVM_INFO @ 3064.447288 us: (uvm_report_catcher.svh:705) [UVM/REPORT/CATCHER]
  --- UVM Report catcher Summary ---

### Steps to Reproduce

- Commit hash https://github.com/lowrisc/opentitan/tree/8

[2022-10-17 18:43] cindychip opened #15538 "[test-triage] chip_sw_rv_core_ibex_lockstep_glitch"
### Hierarchy of regression failure

Chip Level

### Failure Description
  ~UVM_FATAL @ 2740.483524 us: (chip_sw_rv_core_ibex_lockstep_glitch.sv:165) [uvm_test_top.env.virtual_sequencer.chip_sw_rv_core_ibex_lockstep_glitch_vseq] Check failed alert_major_internal == 1'b1 (0 [0x0] vs 1 [0x1]) Glitch did not result in major alert.
  UVM_INFO @ 2740.483524 us: (uvm_report_catcher.svh:705) [UVM/REPORT/

[2022-10-17 18:54] matutem commented on #14780
The SVAs don't check the clocks stopped, only that *clk_val tracks *clk_en. All clocks except for aon will have stopped, so the assertion needs to run on that clock. I think we can do something like this:
- Maintain a cycle count as in
int usb_clk_cycles;
always_ff @(posedge usb_clk) usb_clk_cycles++;

- Add a term to the *Off* assertions, for example https://cs.opensource.google/opentitan/opentit

[2022-10-17 19:26] weicaiyang opened #15539 "[spi_device] V2 review items"
AIs from the meeting [notes](https://docs.google.com/document/d/1_1_hiygzH0JsaxDCWX5LNHDX3G7twTwKOOtXRIv6DVI/edit)

- [x] [Weicai] Implement 2 new planned tests #[15485](https://github.com/lowRISC/opentitan/pull/15485)
- [x] [Weicai] Create an issue and test incomplete command invalid host transaction - Host will send a few transactions and deselect the chip_select line. Make sure this won’t lock

[2022-10-17 20:19] msfschaffner commented on #15277
It looks like this has been mostly passing over the last days - but once in a while it fails with one seed.
From the regression script:
[code]
The last one failed last week on 2022.10.12. We may still want to take a look at the failing seed. Maybe the timeout value just needs to be increased.

[2022-10-17 22:35] msfschaffner commented on #15280
Increasing the timeout for this particular test seems to work, see: https://github.com/lowRISC/opentitan/pull/15542
This was tested locally with the last failure observed in the nightlies (git hash 84fdd3bf374f168367ba7ffcb07cfa4d79c54875):
[code]

[2022-10-17 23:01] weicaiyang opened #15543 "[spi_device] SW fails to update addr_4b_en in the middle of sim"
Here is the sequence
1. host sends EN4B to set addr_4b_en = 1
2. SW programs the CSR to clear addr_4b_en
3. after host sends another command (not EN4B), addr_4b_en is set to 1 again by HW.
4. SW reads addr_4b_en and sees an unexpected value.

I know we expect SW to only set the addr_4b_en during initialization. Not sure if we want to allow SW to update it on the fly when host side is idle?

I save

[2022-10-18 00:23] jeoongp commented on #15543
Here, this error is caused when SW clears addr_4b_en at the right next CSB de-assertion. HW write-protection (#15326) needs at least one more CSB assertion to make sure addr_4b is synchronized from SPI_CLK domain to SYS_CLK domain. After the next CSB assertion, SW can clear it at CSB de-assertion, too.

I am also not sure if his HW requirement is OK. @eunchan @tjaychen to comment.

[2022-10-18 00:32] #15372 closed

[2022-10-18 01:31] cindychip commented on #15537
The failure starts on Oct 15th.
The pin initial inputs changed from 0 to X.
For example, in this case, design configured pinmux to use `IOR5` for sysrst_ctrl pins.
The first iteration did not drive the any value to this pin (looks like the testbench assumes the initial value is 0).
If the intention is to initialize all mio inputs to X, I will modify the SV test to drive sysrst related initial valu

[2022-10-18 09:46] engdoreis commented on #15373
Unassigning as I'm not look at it.

[2022-10-18 11:36] rasmus-madsen commented on #15433
ok so if I understand it correctly the expressions we want to check are

[code]

and that
`iv !=  (add_round_key_out[0] ^ add_round_key_out[1])`

any other combinations that I should check?

[2022-10-18 14:15] dmcardle opened #15552 "[fpga] Generalize gen_vivado_mem_image.py"
After merging #15163, we should try to remove OTP- and ROM-specific behavior from [gen_vivado_mem_image.py](https://cs.opensource.google/opentitan/opentitan/+/master:hw/ip/rom_ctrl/util/gen_vivado_mem_image.py).

* [ ] Add flags that enable us to describe both OTP and ROM behavior.
  * Drop the `--swap-nibbles` flag.
  * Add `--word-width-bits WIDTH`: The width of the architecture, not the width b

[2022-10-18 15:10] tjaychen commented on #15543
Sorry I'm a bit confused. I thought the software setting for 4b_en was just directly synchronized into the spi clock domain, are we saying that synchronization misses the CSB de-assertion window?

[2022-10-18 15:59] tjaychen commented on #15435
The `chip_sw_pwrmgr_*` failures should be addressed by #15541

[2022-10-18 16:01] tjaychen commented on #15435
@jeoongp i'm assigning this to you for now since it is related to the reset domain change.
Once that is ready, we can come back and have a look!

[2022-10-18 16:04] tjaychen commented on #15371
this failure should be addressed by #15540

[2022-10-18 16:04] #15371 closed

[2022-10-18 16:21] #14352 closed

[2022-10-18 16:49] senelson7 opened #15561 "[edn/rtl/dv] EDN handle cmd ready de-assert"
- PR #15478 Contains a fifo-based fix to allow block-level/chip-level tests to pass.
- Once this PR is merged, submit block-based edn/dv PR to randomly create this condition, Tests will include edn_genbits, edn_smoke.
- Need to create new PR that removes additional fifo and fixes handshaking in all modes.

[2022-10-18 17:54] jeoongp commented on #15435
Sounds good.

[2022-10-18 19:08] #15070 closed

[2022-10-18 19:24] timothytrippel opened #15568 "[bazel] rules_rust bindgen does not allow specifying `LD_LIBRARY_PATH` for `libstdc++`"
# Problem

rules_rust contains rules to use the rust bindgen tool by registering a hermetic "bindgen toolchain". This toolchain depends on `libclang` which in turn depends on a specific minimum version of `libstdc++`. On older CentOS/RHEL systems, this causes an issue as the system `libstdc++` is too old.

# Solution

To  overcome this, a newer version of `libstdc++` can be built from source, and

[2022-10-18 19:53] eunchan commented on #15543
@jeoongp is right. The logic prevents the SW from updating the addr_4b until the HW update is synced into SW side (and is visible to SPI_CLK domain again). So, the current impl. needs two SPI transactions to fully unlock the SW access.

The issue is that SW does not know the current HW status unless it polls CFG.addr_4b.

Question is:

[2022-10-18 20:01] senelson7 commented on #15561
dv PR #15570

[2022-10-18 20:42] tjaychen commented on #15543
i think as long as we can support the initial case Alex talked about.. maybe it's okay to table this to future revisions and move on.
It's probably worth documenting this into spec though so the user doesn't think they can change it whenever they like.

[2022-10-18 20:48] tjaychen commented on #15373
this test appears to have been fixed by #15314 (also passing for past 3 nightlies)
Close down for now and see if nightly shows up again.

[2022-10-18 20:53] eunchan commented on #15543
Agreed.

[2022-10-18 20:57] weicaiyang commented on #15543
sounds good, tagged this future release and M3

[2022-10-18 21:49] a-will commented on #15543
Just to be clear, these two cases need to work.

A 4-byte read at the end:
1. Upstream host issues EN4B.
2. SW resets upstream host and clears addr4b_en.
3. Upstream host issues EN4B, then a read (must be 4-byte address).

A 3-byte read at the end:
1. Upstream host issues EN4B.
2. SW resets upstream host and clears addr4b_en.
3. Upstream host issues a read (must be 3-byte address).

[2022-10-18 21:57] #15535 closed

[2022-10-18 22:23] cindychip commented on #15459
For this issue, looks like the csr_wr for AST issued when AST's tlul reset is stil inactive. I will check why it can pass in VCS then try to fix it.

[2022-10-18 22:25] weicaiyang commented on #15543
@a-will
With this issue, we need to reset the spi_device in the step2 of both cases (especially case 2), so that configuring addr4b happens before receiving any transaction.

2. SW resets upstream host and clears addr4b_en **via resetting the spi_device**.

[2022-10-18 22:30] a-will commented on #15543
Okay, but what about the flip side?

A 3-byte read address at the end:

1. Upstream host issues EX4B.
2. SW resets upstream host and sets addr4b_en.
3. Upstream host issues EX4B, then a read (must be 3-byte address).

A 4-byte read address at the end:

1. Upstream host issues EX4B.
2. SW resets upstream host and sets addr4b_en.
3. Upstream host issues a read (must be 4-byte address).

[2022-10-18 22:38] weicaiyang commented on #15543
It's the same. As long as we reset spi_device at step 2, it works. SW can only change addr4b_en before any upstream transaction arrives. Then, upstream can issue any EX/EN4B to configure the address mode.

[2022-10-18 22:42] vogelpi commented on #14240
I've now done the FPGA measurement on the CW310 to verify that the EDN setup (see #15577) and mask forcing work as expected. Below figure shows some results.

![chart](https://user-images.githubusercontent.com/20307557/196557881-17a33a5a-dddc-48de-b4a9-c924e80a8b8a.png)

The y axis is leakage (higher means more leakage), the x axis is number of traces. The dotted lines are for the CW310 including

[2022-10-18 22:46] a-will commented on #15543
Okay, thanks for explaining the limits! Now I still think this implementation ought to be improved: SW should not need to reconfigure spi_device for these use cases. ;)

[2022-10-18 23:07] timothytrippel commented on #15568
I was able to [patch](https://github.com/lowRISC/rules_rust/commit/37e0897299fda3bcbaff9875e0ae65651cf7cb10) our fork of rules_rust to solve this issue. #15446 updates our Bazel workspace to use this patched version of rules_rust again.

[2022-10-19 01:03] matutem commented on #14899
@tjaychen and @matutem discussed a couple options:

1. Run the case of flash_ctrl error injection from ROM.
2. Add alert crash dump capture to confirm the alert was received.

The first option does not address all issues since the test also records whether the regular interrupt and NMI were received, and that is recorded in flash. Also, the ISRs check the alert is recorded correctly.

Option 2 has

[2022-10-19 01:08] eunchan opened #15584 "[chip] plic_all_irqs test processes `*_irq_serviced` incorrectly"
_Related PR: https://github.com/lowRISC/opentitan/pull/15580_

[Related Code](https://cs.opensource.google/opentitan/opentitan/+/master:util/topgen/templates/plic_all_irqs_test.c.tpl;l=198;bpv=0) reads `*_irq_serviced` right after the test code writes to `INTR_TEST` field.

The issue is that there's gap between writing to `INTR_TEST` and the receiving interrupt from the. local processor. The delay

[2022-10-19 05:00] timothytrippel commented on #15459
Thanks @cindychip !

[2022-10-19 06:05] tjaychen commented on #15534
fix in #15583

[2022-10-19 06:31] johannheyszl commented on #14240
Thank you Pirmin, this is great. IMO we are now in a position to achieve exactly what we aimed for thanks to your work!
Also thanks again for verifying. This was extremely important.

[2022-10-19 09:23] johngt commented on #14762
Jake and Frank now have JTAG cables attached.
Jake JTAG installed 17 Oct. Jake brought up with JTAG on 18 Oct.

[2022-10-19 09:23] #14762 closed

[2022-10-19 11:36] jadephilipoom opened #15590 "[crypto] Add sideloaded key support to the cryptolib."
For now, cryptolib functions will error out when they receive sideloaded keys. Once we have a keymgr driver for the cryptolib, these should be changed to actuate the keymgr and wait for a signal that the key has been written.

[2022-10-19 11:40] jadephilipoom opened #15591 "[crypto] Decide on AES padding modes for cryptolib."
Currently the cryptolib API includes many different AES padding modes, which would cost significant code size to implement and do not have concrete use cases. It would probably be better to implement only a couple of the more popular padding modes and null padding, and leave it to the user to pad the input themselves and then use the "null padding" option in the API if they want something less com

[2022-10-19 14:10] dmcardle opened #15595 "Invalidate icache prior to running SRAM example program in GDB test"
Will do. I may need to add an icache_invalidate() function to the SRAM example program because it's tricky to run arbitrary instructions from GDB. It's also possible that I can ask OpenOCD to do `fence.i` somehow.

_Originally posted by @dmcardle in https://github.com/lowRISC/opentitan/issues/15583#issuecomment-1284077470_

[2022-10-19 17:08] tjaychen commented on #14126
@bilgiday i'll close this down for now since #14858 is merged.
Feel free to re-open if anything pops up.

[2022-10-19 17:11] tjaychen commented on #15595
yeah i wouldnt say this is super high priority. If it's difficult to do for any reason, even just leaving a note as something to be aware of I think is good enough.

[2022-10-19 17:13] cindychip commented on #14126
Yes please! Sorry about that @tjaychen. We have one last piece that did not finish in the current test -
we need a separate DV testbench to force a fatal error and turn off the clock. Then check when the clock turned back on, the fatal alert keeps firing.

[2022-10-19 17:14] tjaychen commented on #14126
sounds good!

[2022-10-19 17:35] #15162 closed

[2022-10-19 17:40] #15441 closed

[2022-10-19 17:40] #15568 closed

[2022-10-19 18:34] jeoongp commented on #13811
Sorry for late reply. Yes, this issue was resolved by #13739.

[2022-10-19 18:34] #13811 closed

[2022-10-19 18:37] #13806 closed

[2022-10-19 18:38] alphan commented on #14272
#15596 adds the test for the RMA state.

[2022-10-19 18:47] eunchan commented on #13805
Yes. This has been addressed (OK as mode is static and the sequence of changing mode is well described in the spec)

[2022-10-19 18:54] jeoongp commented on #13805
Thanks @eunchan!

[2022-10-19 18:54] #13805 closed

[2022-10-19 18:54] weicaiyang commented on #15422
@sriyerg all the fcov from interface agents are gone. perhaps we can close this now

[2022-10-19 19:04] moidx commented on #13811
Thanks @jeoongp!

[2022-10-19 19:07] jeoongp commented on #15539
CDC pending issues were all closed.

[2022-10-19 19:25] weicaiyang commented on #15539
Thanks @jeoongp

[2022-10-19 19:45] abdullahvarici commented on #14115
I've started to develop the test. For progress please check: https://github.com/lowRISC/opentitan/pull/15594

[2022-10-19 19:45] martin-lueker commented on #10970
Hi Everyone, I'm reviewing Entropy_complex issues.   This one has not seen much traffic since it was opened.  Are there any updates?

[2022-10-19 19:52] matutem opened #15599 "[dv/ast] Speed up clocks enabled"
In top-level tests the ast seems to add a large number of cycles before clocks are stable and units can start really working. This causes tests to start after a random time duration, and to take longer to complete. The impact of this is particularly large for tests that reset multiple times, as many tests do.

The ask is to have some way to make this wait be predictable and small, ideally with som

[2022-10-19 19:55] matutem commented on #15599
Added @tjaychen as an interested party, not a real assignee.

[2022-10-19 19:59] Jacob-Levy commented on #15599
@matutem I am not sure it is the clocks... It might be the power supply that only after that the oschilator get activated.
Can you send me a wave file with one of the clocks.

[2022-10-19 20:28] mwbranstad commented on #14506
@tjaychen didn't this issue get fixed after @senelson7 put in a hw fix for state coverage?

[2022-10-19 20:42] mwbranstad commented on #15561
The above mentioned first two steps have now been completed. Here is an update on the EDN RTL after some consideration:
The ready issue appears to only affect "auto-request" mode, which is expected to be used by the EDN instance connected to the OTBN complex. The "boot-mode" is not affected because only single beat requests are made, and completed with a CSRNG ack for each command. Likewise, "soft

[2022-10-19 22:24] tjaychen commented on #14506
uhhh... it is possible, but i will need to double check.
I can't completely remember this issue. I've moved it to future release anyways, so no need to worry about it for now :)

[2022-10-19 22:35] #14457 closed

[2022-10-19 23:30] tjaychen commented on #15599
@matutem another part about the clock stabilization is that it depends on on ROM initializing the calibration constants. So even if we fix something in AST, that part will still need to wait though.

[2022-10-19 23:35] tjaychen commented on #14111
just a note the i2c host agent is not fully verified, even at block level, yet.
This is something @jdonjdon is planning to work on over the next few weeks, so you COULD try to wait for that.  Otherwise I don't think we can say for sure how much bugs might be in the agent itself.

[2022-10-19 23:49] #14899 closed

[2022-10-20 05:06] tjaychen commented on #15335
is this still being actively triaged? If not, it would be good to release it into the on-call pool by unassigning.

[2022-10-20 07:02] sriyerg opened #15606 "[test-triage] [UART] uart_perf test"
### Hierarchy of regression failure

Block level

### Failure Description

[code]

### Steps to Reproduce

- Commit hash where failure was observed
- dvsim invocation command to reproduce the failure, inclusive of build and run seeds:
  ./util/dvsim/dvsim.py hw/ip/uart/dv/uart_sim_cfg.hjson -i uart_perf --fixed-seed 2259572504 --waves -v h

### Tests with similar or related failures

NA

[2022-10-20 07:05] sriyerg opened #15607 "[test-triage] [rv_dm] rv_dm_sba_tl_access"
### Hierarchy of regression failure

Block level

### Failure Description

[code]

This is a symptom of the fix made to DV_CHECK macros.

### Steps to Reproduce

- Commit hash where failure was observed
- dvsim invocation command to reproduce the failure, inclusive of build and run seeds:
  ./util/dvsim/dvsim.py hw/ip/rv_dm/dv/rv_dm_sim_cfg.hjson -i rv_dm_sba_tl_access --fixed-seed 2592420076  --w

[2022-10-20 07:10] sriyerg commented on #14986
Can we close this bug, since we are already tracking this in #14935?

[2022-10-20 11:14] jadephilipoom commented on #15591
Discussed at the crypto sync today: the plan is now to preserve the following mode:
- PKCS#7
- ISO9797-M2
- null padding
Other padding modes will be removed and the user can implement these on top if needed.

[2022-10-20 13:51] alphan opened #15613 "[sw/silicon_creator] RMA entry and ROM"
This issue captures ROM tasks for derisking RMA entry in PROD:
- [ ] Add `CREATOR_SW_CONFIG_RMA_SPIN_CYCLES` and `CREATOR_SW_CONFIG_RMA_SPIN_EN` OTP items
- [ ] Check and busy loop in `rom_start.S`
  - [ ] Init pinmux
  - [ ] Check strap pins for RMA strapping (`11_11_00`)
  - [ ] `lc_ctrl.STATUS` busy loop
- [ ] ROM e2e test (#TBD, P1, to be added to DV sim nightly regressions)

[2022-10-20 13:51] alphan commented on #15613
fyi @moidx @cfrantz @tjaychen @msfschaffner

[2022-10-20 14:27] GregAC commented on #15505
I've reviewed the missing FSM coverage. We cannot simply waive it for M2, it relates to transitions that can occur and we don't yet stimulate.

These are the transitions caused by if statements after the main case statement that controls `otbn_start_stop_control` that transition to the locked state see here: https://github.com/lowRISC/opentitan/blob/9644452702ff6cb6eadaa7110a2952ab0d25aab9/hw/ip/o

[2022-10-20 15:12] drewmacrae opened #15615 "Commit that uses bazel instead of bazelisk passes our CI when I don't think Bazel is installed in the containers"
I saw something weird a few days ago and never came up with a good explanation:
The tests on this commit appear to have passed: https://github.com/lowRISC/opentitan/commit/8bd6f35829e5d079f01297276847075ebf5905b4

The commit has changed a python script to run bazel instead of ci/bazelisk.sh, which I'd expect to fail because we no longer install bazel. If a version of bazel is leaking into the CI c

[2022-10-20 15:51] alphan commented on #14484
Please read "step over `wfi` instruction" as "set `PC` to skip over `wfi` instruction" because we don't want to hang forever.

[2022-10-20 16:26] dmcardle commented on #15595
I actually think this is unnecessary because OpenOCD will execute `fence.i` on its own. When we tell GDB `print sram_main()`, OpenOCD eventually hits [`resume_prep()`](https://github.com/openocd-org/openocd/blob/master/src/target/riscv/riscv.c#L1398).

* `resume_prep` is a pointer to [`riscv013_resume_prep()`](https://github.com/openocd-org/openocd/blob/master/src/target/riscv/riscv-013.c#L4278),

[2022-10-20 16:39] tjaychen commented on #15595
o sounds good! then maybe we're fine! why do more work unless it's necessary :)

[2022-10-20 16:51] cindychip commented on #15537
Fixed with PR #15546

[2022-10-20 16:51] #15537 closed

[2022-10-20 17:18] #14986 closed

[2022-10-20 19:43] tjaychen commented on #15374
it looks like this test has been passing for multiple nightlies.
The error seen here is most likely a regression infrastructure issue (there's been a few) that has since been fixed. I will close this one down for now.

[2022-10-20 19:43] #15374 closed

[2022-10-20 20:53] milesdai commented on #15337
A note about passing the seeds into the Bazel rule from #15407: https://github.com/lowRISC/opentitan/pull/15407#discussion_r998804151

[2022-10-20 20:55] alphan opened #15622 "[bazel, dv] Leverage ROM e2e OTP config infra in bazel for DV"
+1 to having a single source of truth in the long term so that it is easier to keep test cases in sync across targets (dv, fpga, verilator).

Moving things to Bazel has the benefit of being able to customize OTP images as part of test target definitions. I believe only ROM E2E tests running on FPGA/verilator are taking advantage of this. I assume that once we start running those tests in DV we wil

[2022-10-20 20:56] alphan commented on #15622
dup of #15337

[2022-10-20 21:05] tjaychen commented on #15599
ah so there are multiple things here.
The ast starts off with uncalibrated clocks, and I believe @Jacob-Levy set this up such that frequency is within a random range.
That's why we get variable time until the rom begins to execute.

Before the rom executes though, the `pwrmgr` has to go through its power up FSM and that takes some time. Eventually the `pwrmgr` fsm will request the clocks to turn o