[2022-02-15 19:46] tjaychen commented on #10857
yeah this is feature that wipes all of flash, and that is the intent of the test, skipping anything is probably a bad idea.

[2022-02-15 19:50] tjaychen commented on #10860
Before you guys add any logic on the jtag signals, make sure to check in with @arnonsha and others.
It may not matter for this particular dft strategy, but there are definitely cases where placing logic on the jtag pins (especially tck and trst_n) can make certain tools in certain situations unhappy.

I don't really think it matters in this case, but it would be good to double check.

[2022-02-15 19:52] tjaychen commented on #10855
thanks for filing. I had a feeling the assertion might cause trouble, I will double check.

[2022-02-15 20:00] tjaychen commented on #10860
@GregAC let me know if you want me to help look at this. I put in the initial hardening a long time ago, not sure if those need to be reverted or not.

[2022-02-15 20:04] tjaychen commented on #10523
i have a pending PR for the pmp reset value integration. I will hopefully clean that one up soon and have it pushed for review.

[2022-02-15 20:06] tjaychen commented on #10523
@GregAC regarding the double fault capturing both addresses for the dump, what did you have in mind?
Right now it looks like the dump is directly fed from `ibex` out, were you thinking on double fault we capture a second output and then feed it out?

[2022-02-15 21:18] msfschaffner commented on #10860
The existing hardening all looked good - the only thing that came up was the additional LC gate on the JTAG signal.

[2022-02-15 21:20] msfschaffner commented on #10860
Good point, let's double check.

[2022-02-15 21:37] timothytrippel opened #10863 "[sw/ottf] reenable PMP for DV backdoor logging when test is launched with mask ROM"
# Problem

In mask ROM, the PMP is configured to whitelist only the necessary (and expected) memory regions used by subsequent boot stages. To increase performance, the DV sim environment reserves a memory region to dump log messages and report tests statuses over, to avoid passing such information over the (slow) UART. Unfortunately, the mask ROM PMP configurations remove this logging window.

#

[2022-02-15 21:45] timothytrippel commented on #10498
Moved last remaining task into a separate issue.

[2022-02-15 21:45] #10498 closed

[2022-02-15 22:03] timothytrippel opened #10864 "[bazel] add signing capabilities to `opentitan_functest` rule"
In order to use Bazel as the test runner for mask ROM E2E tests, several adjustments must be made to the build rules:

- [ ] filegroups for each set of test keys must be added to `sw/device/silicon_creator/mask_rom/keys/BUILD`
- [ ] the building of the current ROM_EXT image signer, in `sw/host/rom_ext_image_tools/signer` must be brought under bazel's control
- [ ] a custom signing rule, that invok

[2022-02-15 22:08] #109 closed

[2022-02-15 22:15] timothytrippel opened #10865 "[sw/opentitantool] Add bitstream ROM splicing capabilities to `load_bitstream` command"
# Problem
The opentitantool `load_bitstream` command loads the FPGA bitstream into the FPGA. By default the FPGA bitstreams contain the test ROM. Unfortunately, in order to run mask ROM E2E tests, the bitstream must contain the mask ROM, not the test ROM. Fortunately, a [utility script](https://github.com/lowRISC/opentitan/blob/master/util/fpga/splice_rom.sh) exists to splice either the test or ma

[2022-02-15 22:22] timothytrippel opened #10867 "[util/fpga,sw/opentitantool] Add FPGA splicing capabilities for OTP images"
# Problem
Several mask ROM E2E tests expect different values to be included in OTP, most importantly the lifecycle state. By default the FPGA bitstreams contain a default OTP image with the lifecycle state set to `RMA`. A [utility script](https://github.com/lowRISC/opentitan/blob/master/util/fpga/splice_rom.sh) exists to splice different ROM images into the bitstream, but not OTP images.

# Soluti

[2022-02-15 23:01] #10847 closed

[2022-02-15 23:21] msfschaffner commented on #10837
Yeah, the bus errors are not well handled in that module.

If we need to fix this so that our test automation works, we can always make a patch in the lowRISC hosted fork of that repo.
The patch would then be applied as part of the vendor-in process.

Would that work?

[2022-02-16 00:11] tjaychen commented on #10837
if you are willing to accept the decreased dv coverage, i honestly don't think we need the dm stuff to perfectly respond based on memory attribute.

@msfschaffner correct me if i'm wrong, but during production functional mode, the entire adapter_sram won't allow access to start with (or should not).  So really we're talking about whether this stuff will behave correctly during debug time only. If

[2022-02-16 00:13] #10748 closed

[2022-02-16 00:17] msfschaffner commented on #10837
Yes indeed, the DM should not be accessible in production mode, so I definitely see this as a polishing item for later (from the design side).

I guess the question is a bit how easy it would be to add an exception for this on the DVside?

[2022-02-16 00:26] tjaychen commented on #10532
@cdgori
that sounds okay to me. My understanding of IVs in general is that they are not secrets.

Could we file an issue to enhance this later?

[2022-02-16 00:34] sriyerg commented on #10837
The workaround in DV turned out to be trivial. Done in https://github.com/lowRISC/opentitan/pull/10858.
I added special knobs in our DV CSR modeling classes to treat accesses to unmapped space as RAZ/WI instead of an error, which the scoreboard looks up to know whether to expect an error response or not.

[2022-02-16 00:41] eunchan commented on #9613
If parity error occurs on the SW access port, it is reported via TL-UL error signal. For port B, as of now it does nothing.

[2022-02-16 00:43] eunchan commented on #1212
yep. I think it should be. Let's ICEBOX this.

[2022-02-16 00:48] weicaiyang commented on #9613
@eunchan
I think the TLUL data integrity is generated on-the-fly rather than storing in the memory. So if we inject a fault in the memory location which triggers a parity error, there is no integrity error when we read this location. So, this parity error doesn't affect any design behavior or lead to any alert, right?

[2022-02-16 00:49] weicaiyang commented on #1212
sounds good, Thanks @eunchan

[2022-02-16 00:50] msfschaffner commented on #10837
Cool, should we keep this bug open and relabel it as P3 / enhancement?

[2022-02-16 01:23] msfschaffner commented on #10773
Great, thanks for the feedback!
In that case let's move forward with #10774.

[2022-02-16 01:24] #10585 closed

[2022-02-16 01:36] eunchan commented on #9613
You are right. It is reported as the TL error only. No alerts are raised.

[2022-02-16 02:01] weicaiyang commented on #9613
I see. At least it reports an error to SW. It will be nice if you can document this in the design spec. Thanks

[2022-02-16 05:31] eunchan commented on #10835
I am not sure it is worth to revise `sha3_idle` in case of error. As error has been reported, SW error handling process may assume the Sha3 state stays in Idle but App FSM needs the attention.

[2022-02-16 05:31] eunchan commented on #10804
Adding Michael here.

[2022-02-16 05:36] sriyerg opened #10872 "[reggen] Assumptions with countermeasures blocking rv_dm V1 progress"
RV_DM implements a custom hjson parsed by reggen for DV purposes. See b87e545d2b7943a9766d3defebbdee3cbc6d6104 for details.

Unfortunately the checks in the reggen codebase surrounding countermeasures results in errors being thrown.

Command:
[code]

If the list of countermeasures are removed altogether, the following error is thrown:
[code]

If the following countermeasure is added to it:
[code]

[2022-02-16 05:38] eunchan opened #10873 "[kmac] expanding 320bit entropy to 1600bit entropy"
As discussed in D2S review meeting, KMAC expands 320bit entropy (64b LFSR x 5) to 1600bit entropy before used in SHA3 DOM AND logic. The logic, as of now, just concatenates 320b five times.

Reviewers suggested that the static permutation may help.

- Option 1: Prepare Rand Const for 1600bit width. Permute 1600bit.
- Option 2: Prepare 4 x 320bit Rand const. Prepare 1600bit by:

[code]

- Option 3:

[2022-02-16 05:39] sriyerg commented on #10872
IMO the whole countermeasure creation / check should happen only when dumping RTL, i.e. when `format == 'rtl'`.

[2022-02-16 05:39] eunchan commented on #10873
For 1600bit permute, we may need really big rand constant:

[code]

[2022-02-16 06:15] sriyerg commented on #10872
I implemented a fix for this here:
https://github.com/lowRISC/opentitan/pull/10858/commits/64d6c581bffc06de0cadf78d0977d98fbf7eb86b#r807576111

PTAL, thanks!

[2022-02-16 06:35] sriyerg commented on #10837
The debug mem does not have an output port to indicate an erroneous access, so this would end up being a bigger change. Re-labeled to P3 / future enhancement.

[2022-02-16 06:44] a-will commented on #10867
A prerequisite will be to have the FPGA flow export the info to get to the correct memories. I believe it currently only exports the ROM's (to rom.mmi).

[2022-02-16 08:01] timothytrippel opened #10876 "[bazel] add flash scrambling rule to `opentitan.bzl`"
Currently the `opentitan_binary` rule in `rules/opentitan.bzl` only provides a rule to scramble compiled binaries for ROM. To facilitate mask ROM E2E testing on Verilator, flash images must be scrambled too (as they are done in the meson build infra). Note, while the Verilator testbench can load either an ELF or scrambled VMEM file into flash, the ROM_EXT signer tool can only process a raw binary.

[2022-02-16 09:28] GregAC commented on #10523
Yes when the double fault signal is seen the `epc` in the output is the `epc` of the original exception so we'll save a copy, the following cycle the `epc` will be where we took the double fault from.

Not yet sorry, been busy with other things mostly OTBN RTL work for the new blanking features on the engineering side of things.

[2022-02-16 09:47] TimEwins commented on #10857
I locally reduced the iteration count to 1, and ran one test with a seed of 1 using both simulators (obviously the seed does not reproduce the same reuslts across simulators)

Both simulations ran to the end, and for VCS I had profiling ON.

VCS - 4.5 Hours (Profiling On)
Xcelium - 12 Mins

Here are snippets from each sim transcript ...

VCS - 4.5 Hours

UVM_INFO @ 5734714343   ps: RMA REQUEST
UVM

[2022-02-16 10:22] rswarbrick commented on #10865
I'm not completely against this, but don't really understand it. Naively, I'd have thought that "produce a bitstream with the stuff you want" is part of the build step and "now load that bitstream onto the FPGA" is part of the run step. This seems like we're slightly conflating the two?

[2022-02-16 11:04] NoamGottlieb opened #10879 "DFT - In usbdev_aon_wake block aon_usb_events_active reset should be controlled in scan-mode"
aon_usb_events_active affecting ~12 FFs. In scan mode it is not controlled, hence these FFs are removed from scan.
SpyGlass-DFT message:
'chip_earlgrey_asic.top_earlgrey.u_pinmux_aon.u_usbdev_aon_wake.aon_usb_events_active' is not disabled for 12 flip-flop(s)
![image](https://user-images.githubusercontent.com/79256454/154251277-b0de3246-0801-4d7f-b859-89836aa0aa46.png)

[2022-02-16 11:05] NoamGottlieb commented on #10879
@arnonsha

[2022-02-16 11:43] m-temp commented on #10823
- #10814 is merged.
- Chris and Tim were assigned to look at #10744
- #10880 and #10814 for LC escalate input is MUBI

[2022-02-16 12:58] arnonsha commented on #10879
Since all the uncontrolled FFs are in the 2 prim_filters inserted in MR  #10527

### Suggested solution
Mux the reset in the filter input with the existing rst_aon_ni (which is controlled in scan)
[code]

Need to do the same for the 2nd filter as well.

[2022-02-16 14:01] m-temp commented on #10804
This is the old "debug-ability" vs "security" discussion. I personally favor the security position to not output any debug information, but in the case of AES the decision was to favor the debug-ability. So, we should probably add this.

However, the question is what is still running in case of an global escalation that could read out this information?

In any case, as this is done after the D2S r

[2022-02-16 15:27] NigelScales opened #10884 "[adc_ctrl] Register adc_wakeup_status does not exist"
Register adc_wakeup_status is mentioned a number of times in the design specification.
This register does not appear to exist in the RTL or adc_ctrl.hjson and thus UVM register model.

It seems that in the current RTL filter_status is masked by adc_wakeup_ctl to generate the wakeup signal.

[2022-02-16 16:55] TimEwins opened #10886 "[flash_ctrl] Clarification Of Arbitration Functionality (Arbiter FSM) In The Flash Protocol Controller"
Hi

I have a clarification question on the function of the Arbiter FSM in the Flash Protocol Controller (to the left-hand side of this Block Diagram)

The Life Cycle Controller can be used to control the output of secret seeds, the otp keys and the RMA.

In all the functions except the RMA, the LC controls hardware signals that either enable or disable access to certain info partitions, but the da

[2022-02-16 18:00] jesultra opened #10889 "[opentitantool] Persistent sessions"
# Problem
OpenTitan tool allows for a variety of backend "Transports", some of which are drivers for hardware debuggers, others emulate OpenTitan or related chips.
By their nature, some of those drivers will maintain state in the Rust struct that implements the Transport trait, others may have USB connections to hardware, which gets disturbed if the USB connection is closed and restablished.
Rust

[2022-02-16 18:42] msfschaffner commented on #10872
Ah I see.

Yes, we added checks that go both ways (so if there are annotations in RTL that are not accounted for in the hjson, it will throw an error).

I think we made the check unconditional, because at that time this did not cause issues, and gives more coverage (so to speak). But I am fine with predicating this on RTL generation, since this check pertains to the RTL files only.

See https://gi

[2022-02-16 18:48] Jacob-Levy opened #10890 "IO clock is 48MHz indication from AST"
@zi-v @arnonsha
During full chip simulation a bug was found on the clocks bypass logic.

The bug involve the incorrect step down  (div4-to-div2) of the IO clock in the lc_ctrl/clkmgr
module/s during other clocks bypass modes.

In order to fix the issue, the AST added a new signal to indicate to the lc_ctrl/clkmgr
modules that the IO clock is 48Mhz.
The interface to the lc_ctrl/clkmgr needs to incl

[2022-02-16 18:52] martin-lueker commented on #10815
Hi @zi-v ,
   Thanks for taking a look.  It's great to have these checks.
   The implementation we have is actually inclusive and superior to the one above.   The implementation above (quoted from SP 800-90B) will only alert if the _first_ symbol is repeated too much.   Our implementation will trigger if any symbol is repeated.  This is analogous to the variation mentioned in the text, which I quo

[2022-02-16 19:16] rasmus-madsen commented on #10532
@martin-lueker

[2022-02-16 19:22] martin-lueker commented on #10532
Hi Everyone, is the P1 priority accurate for this?

[2022-02-16 19:24] moidx commented on #10532
Hi @martin-lueker, yes, this is something we definitely need to support the crypto library use cases.

[2022-02-16 19:25] martin-lueker commented on #10532
Okay, thanks for confirming.

[2022-02-16 19:29] zi-v commented on #10815
Martin, thanks. After reading your above note and the 90B text again, I think you are right.
I agree that it is not a good time for unnecessary changes. Let's simply close it then

[2022-02-16 19:37] weicaiyang commented on #10857
@TimEwins
Can you attach the the profiling log and the command to reproduce it as well as push your change to a draft PR? I will ping Synopsys AE to take a look.

[2022-02-16 19:44] msfschaffner commented on #10860
Sorry for the late reply

If I understand correctly the gating is on the ibex core jtag only. LC and DFT taps are not impacted because of this. am I right ?

Anyhow, I just checked. My DFT related runs were not impacted.

_Originally posted by @arnonsha in https://github.com/lowRISC/opentitan/issues/10866#issuecomment-1042095373_

[2022-02-16 20:41] #9853 closed

[2022-02-16 20:46] mwbranstad commented on #8935
@rswarbrick for some reason when I run your command, the output claims that it is skipping this test. I am able to run other tests, even the otbn smoketest. But not this one:
...work/mark.branstad/opentitan>pytest test/systemtest/earlgrey/test_sim_verilator.py --log-cli-level=DEBUG -k otbn_ecdsa_p256_test
============================================================================== test session s

[2022-02-16 20:54] tjaychen commented on #10873
@eunchan option 2 would just permute within the 320b right? whereas option 1 could potentially relocate a bit across the entire range?

I think the spirit of the request is more inline with option 1.

I honestly don't have any sense how much this matters. My gut feeling tells me the sub-320 is probably sufficient, since this muxing will be obscured from open source anyhow.

[2022-02-16 21:25] timothytrippel commented on #10865
Ultimately, we want to use opentitantool's `load_bitstream` command to flash FPGA bitstreams. Currently, you can provide this command with a file path to the bitstream you want to load (it is just minorly inconvenient to run the splicing script manually and then load, I actually have aliases to do so that I would like to replace). So there really are two options here:

1) embed the splicing functi

[2022-02-16 21:27] tjaychen commented on #10879
@a-will let me add a clear port to `prim_filter` here, that way we can use the `aon_usb_events_active` to achieve the same effect synchronously. I would prefer to not add the bypass mux if possible.

[2022-02-16 21:36] tjaychen commented on #10523
hmmm... so do you think this means i should update the dump format going from cpu to pwrmgr? because technically we want two copies of `epc` now in addition to an indication of double fault right? (to know whether the second epc is valid)

[2022-02-16 22:02] timothytrippel opened #10895 "[sw/opentitantool] move `ROM_EXT` image signer to opentitantool"
# Overview
Currently, a stand-alone Rust tool exists (in [`sw/host/rom_ext_image_tools/signer/`](https://github.com/lowRISC/opentitan/tree/master/sw/host/rom_ext_image_tools/signer)) to sign and prepare the manifest of a `ROM_EXT` image so that it may be successfully booted by the mask ROM. This  tooling is in the process of being migrated to `opentitantool`, in line with the long term goals of `o

[2022-02-16 22:10] tjaychen commented on #10804
if we globally escalate, assuming everything is working as intended, the cpu cannot execute and all debug interfaces are shut down. The case where we will use this as debug is that we WON'T globally escalate, but probably interrupt the cpu to come take a look.

[2022-02-16 22:44] mwbranstad commented on #8935
"Assuming that works, you can get waves by looking at the long command line that appeared and tweaking it to add a -t argument."
@rswarbrick  Very confused by this. I would expect a parameter to be set as input into the pytest script.

[2022-02-16 23:06] msfschaffner opened #10899 "[rstmgr] D2S review opens"
- [x] make another copy of scanmode for shadow usage.
- [x] clean up alert indexing nit
- [x] check whether it makes sense to pull this out as a parameter (maybe a Sec parameter?) - but this is a low-prio cleanup.
- [x] add a terminal error state where the checker FSM should move to upon detecting a fatal error condition.
- [x] split FSM alert from consistency checker alert (i.e. make two channels

[2022-02-16 23:22] tjaychen commented on #10886
yes this is all correct. Is there any language in the spec you would like me to enhance to make all of this clearer?

[2022-02-16 23:28] #10580 closed

[2022-02-16 23:37] rswarbrick commented on #10865
Right, that makes sense. For my 2 cents, I'd probably choose option (2). And it's probably actually easier to implement :-)

[2022-02-16 23:40] #10773 closed

[2022-02-16 23:42] rswarbrick commented on #8935
Ah. You also need to hack `test/systemtest/earlgrey/config.py` to add `sim_verilator` to the list of targets for the test. Sorry, I forgot that would be needed.

For the `-t` argument: try it :-) Pytest doesn't support wave dumping at all (it's a Python testing framework: that would be some serious mission creep :-D). So this is a hack: running pytest with `--log-cli-level=DEBUG` tells it to print

[2022-02-16 23:50] dbeitel-opentitan opened #10900 "[tool] Documentation for building RiscV toolchain needs to be updated"
This page:  https://docs.opentitan.org/doc/ug/install_instructions/#software-development

Describes how to install/build tools for OpenTitan.  The section that describes how to build RiscV gcc toolchain needs to be updated to build a particular version: gcc 9.2.0.  Not sure the exact tag, but I used this one:

% git clone -b rvv-0.9.x --single-branch --recursive https://github.com/riscv/riscv-gnu-

[2022-02-17 00:17] a-will opened #10901 "[usbdev] Differential receiver may turn off without changing the RX mode"
Currently, the differential receiver is turned off when usbdev gets into a suspended state. However, `usb_fs_rx` does not get informed that the single-ended `usb_d_i` is going inactive, and this could lead to undefined behavior for detecting resume.

We'll need to either dynamically switch modes in `usb_fs_rx`, or we'll need to leave the differential receiver on as long as usbdev is receiving powe

[2022-02-17 00:57] tjaychen commented on #10843
let me study this a bit. It is unclear to me why the counter needs to freeze in place, because i think all the status / wakeup etc are all automatically latched upon match.  So it should not really matter.  There might be more to this though, I will have a look.

[2022-02-17 01:23] tjaychen commented on #10884
that is correct, let me fix the documentation.

[2022-02-17 02:58] cindychip commented on #10327
https://github.com/lowRISC/opentitan/pull/10906
This PR should fix the jtag issue. I can run jtag_csr_rw test in close source env now.

[2022-02-17 04:23] cindychip commented on #10835
Okay that sounds good. Just want to raise this up to double check.

[2022-02-17 04:23] #10835 closed

[2022-02-17 06:15] weicaiyang opened #10909 "[sram_ctrl] GLOBAL_ESC/LOCAL_ESC behavior"
@msfschaffner

Question regarding how to verify these 2 countermeasures.

SRAM_CTRL.KEY.GLOBAL_ESC | Scrambling key and nonce are reset to a fixed value upon escalation.
-- | --
SRAM_CTRL.KEY.LOCAL_ESC | Scrambling key and nonce are reset to a fixed value upon local escalation due to bus integrity or counter errors.

In prim_ram_1p_scr, when `intg_error_q` is set, rdata_o is assigned to 0. When LO

[2022-02-17 06:50] arnonsha commented on #10879
Yes, synchronous reset would be the best option:
From ATPG point of view, every clock or reset mux bypass just lowers the coverage because the mux is fixed on one path only. All the other path's faults are not checked.

thanks @tjaychen

[2022-02-17 08:53] m-temp commented on #6544
#10744 is merged. can we close this, or is there anything missing/open from your side?

[2022-02-17 09:12] TimEwins commented on #10886
@tjaychen I think the documentation is OK, I was just checking to make sure I had this requirement clear.  Thanks.

[2022-02-17 09:12] m-temp commented on #10823
As I don't have commit rights, could someone merge:
 - #10812
 - #10819

 - #10842 needs #10812 to be merged first in order to be addressed.

[2022-02-17 09:19] vogelpi commented on #10721
I am closing this issue as the corresponding PR has been merged.

[2022-02-17 09:19] #10721 closed

[2022-02-17 09:48] vogelpi commented on #10873
I would do the following:
1. Create a single 320-bit permutation/shuffling and then
2. Apply that repeatedly, such that:
[code]

[2022-02-17 12:06] GregAC commented on #10523
Yes that's correct.

[2022-02-17 12:26] mtdudek opened #10912 "[Doc] Nexysvideo not supported/tested"
Hi,
I was trying to build bitstream for nexysvideo board with newest master.
Unfortunately it doesn't work, then I found that nexysvideo support was discontinued
in #7818 PR.
The issue is that opentitan website documentation still present nexysvideo as valid option in chapter:
"Getting Started on FPGAs".
It may be mention in other places as well, but I didn't checked where.

[2022-02-17 13:55] GregAC opened #10914 "[ibex] Align behavior of BUS.INTEGRITY in the peripheral registers"
When SecureIbex is set Ibex checks bus data integrity internally. Any issues will be signaled as a core alert rather than an integrity alert. Instead Ibex should indicate when a major alert is specifically bus related so it can signaled as an integrity alert.

A PR to alter Ibex is allow this is available: https://github.com/lowRISC/ibex/pull/1534

Once merged Ibex should be vendored over and the

[2022-02-17 15:48] TimEwins commented on #10855
I can confirm that this Issue is fixed by the Pending PR #10903.

I will close this when the above PR is merged.

[2022-02-17 16:06] Jacob-Levy opened #10916 "CI (private) Failing after 45m — Timeout is too short!"
When running without timeout it passes!

00:18:48  [    build    ]: [Q: 000, D: 000, P: 041, F: 000, K: 000, T: 041] 100%
00:51:12  [     run     ]: [Q: 000, D: 000, P: 107, F: 000, K: 000, T: 107] 100%

Can someone increase the timeout to 60m

[2022-02-17 16:19] GregAC commented on #10916
Timeout increased to 60 minutes. Will leave this open until we've observed reliable private ci runs again.

[2022-02-17 16:36] mdhayter commented on #10901
Turning the differential rx off should  give power savings (depending on the PHY) so probably best to park the signal or have the usb_fx_rx understand this state.

[2022-02-17 17:33] TimEwins commented on #10857
Working on this ....

[2022-02-17 17:37] rswarbrick commented on #10916
Thanks for doing that, Greg. But have we seen widespread flakiness? Or is it just with #10725?

[2022-02-17 18:09] tjaychen commented on #10873
@eunchan you might need to add some enhancements to the script to break down the giant string into multiple lines...

[2022-02-17 18:21] tjaychen commented on #10901
@a-will discussed this a bit yesterday.

In any of the low power states, the `usbdev` clock is turned off.  So the module is not able to interpret any of the signal anyways, `usbdev_aon_wake` has to take over.

In any of the non-low-power states where the `usbdev` is in suspend, the system power (at least right now) would likely dwarf any consumption from the differential receiver.  I will double

[2022-02-17 18:25] tjaychen commented on #10523
@matutem please see

@matutem please see this last part. Unfortunately this means a slight change to the cpu dump format (and thus the related tests).
I will have a look and get back to you.

[2022-02-17 18:28] tjaychen commented on #10886
sounds good. Please feel free to close the issue.

[2022-02-17 18:29] TimEwins commented on #10886
This issue can be closed

[2022-02-17 18:29] #10886 closed

[2022-02-17 18:30] tjaychen commented on #10843
yeah i have a fix for this, but am unable to test it right now due to environment issues with all adc_ctrl tests (for some reason).

[2022-02-17 18:30] tjaychen commented on #6544
let's close this.

[2022-02-17 18:37] GregAC commented on #10916
I've seen a couple more timeouts. We can leave this value as is for now then once we've got a week or so of new run history look at actual times and decide to keep it or not.

[2022-02-17 19:35] sriyerg commented on #10916
Seems reasonably stable to me (aside from the timeouts, which is explained by the increase in number of tests).
https://dev.azure.com/lowrisc/opentitan-private/_build?definitionId=8&_a=summary

[2022-02-17 19:37] cindychip commented on #6789
implemented already.

[2022-02-17 19:37] #6789 closed

[2022-02-17 19:38] cindychip commented on #6069
implemented for rom

[2022-02-17 19:38] #6069 closed

[2022-02-17 19:47] sriyerg commented on #10916
The runtimes are pretty wide, ranging from 30 to 45 minutes. I will investigate if we are seeing a similar spread at our end (unlikely), My best guess is simulations are going into pending state waiting to acquire license, because licenses are getting consumed by other private CI runs happening in parallel due to other PRs. If you have access to the private CI artifacts, perhaps you could investig

[2022-02-17 20:13] eunchan commented on #10823
For shuffling the storage, #10925

Issue: #10873

[2022-02-17 20:17] msfschaffner opened #10926 "[clkmgr] D2S review opens"
- [x] make MUBI / LC synchronizations more generic (multiple places).
- [x] Check whether jitter enable going to AST could be a MUBI. If not, it would be good to flop the signal before sending it to AST.
- [x] Synchronize step_down_ack signals
- [x] Check whether hi_speed_sel_o can be made a MUBI
- [x] we should add a REGWEN to JITTER_ENABLE.
- [x] Look into whether we can add blanking based on ad

[2022-02-17 20:21] cindychip opened #10927 "[kmac] V2 TODO lists"
- [x] File an issue to discuss entropy related error on app interface,
       and add a TODO to update the test based on new design D2S behavior
     Done: https://github.com/lowRISC/opentitan/issues/10933
     TODO added here: https://github.com/lowRISC/opentitan/pull/10940

- [x] Toggle coverage: Strobe can be fully randomized at any cycles
   DONE: https://github.com/lowRISC/opentitan/pull/1096

[2022-02-17 21:00] milesdai opened #10928 "[mask_rom/e2e_tests] Test OTP control of SRAM Scrambling"
SRAM scrambling on startup will be controlled by OTP settings. Mask ROM E2E-tests need to be added to exercise these options.

[2022-02-17 21:06] milesdai opened #10929 "[mask_rom/e2e_tests] Testing both A and B partitions in flash"
The E2E testplan (#10548) implicitly runs all tests in slot A of the flash. We should add some tests under the bootup and upgrade categories that load ROM_EXTs into slot B.

[2022-02-17 21:13] milesdai opened #10930 "[mask_rom/e2e_tests] Test signature verification with SW and OTBN"
Consider testing both SW verification and OTBN verification of the ROM_EXT signature in the Mask ROM e2e tests.

[2022-02-17 21:46] Muqing-Liu opened #10932 "[entropy_src, csrng, edn, dv] Avoid full path references in the test sequences"
There are some full path references in the entropy_src, csrng and edn interrupt, alert and error tests, as suggested by @sriyerg in #9896, it's better to make them partial hierarchies within the DUT.

[2022-02-17 22:04] cindychip opened #10933 "[kmac] Report entropy error on app interface"
Hi KMAC experts,

I would like to confirm a current design behavior:
1). EDN related error occurs (for example: entropy timeout, entropy configured wrong mode etc)
2). The error is reflected to `err_code` register and interrupt `kmac_err_o` will fire
3). However, if the kmac operations is in APP interface, the behavior is different:
    a). If it is keymgr interface, the error bit is set to 1.

[2022-02-17 23:43] msfschaffner commented on #10909
Hey @weicaiyang!

Would it be easier for verification if the design behaved exactly the same way in both cases? I.e., block all transactions?

Also, how hard would it be to probe the nonce and key registers and check whether they have been correctly reset to the `RndCst*` parameter values?

[2022-02-18 00:10] weicaiyang commented on #10909
I guess it's fine, since we don't block the transaction for other errors like integrity. GLOBAL_ESC can be considered as highest severity and it blocks the transactions.
It would be slightly better if the read value is the same as other error cases. Right now have these cases as follows. But I already align these in TB, so it's also fine.
1. d_error=1 with instruction fetch: returns 0
2. other d_e

[2022-02-18 00:15] #9759 closed

[2022-02-18 00:51] msfschaffner commented on #10909
Hm... local escalation is due to fatal error conditions, and should probably behave similarly to global escalation.
I made an alignment patch for that: https://github.com/lowRISC/opentitan/pull/10943

As for the key/nonce reset: this is a multilayered defense. We won't see this directly in the functionality, since as you correctly point out, the keys are not directly used anymore due to other laye

[2022-02-18 01:14] weicaiyang commented on #10909
looks great. Thanks

sounds good. I will probe sram_ctrl.key_q/nonce_q for check. LMK if the path is incorrect.

[2022-02-18 01:27] cindychip commented on #10804
Thanks Tim for the feedback. I guess err_code is really not that important when lc_escalated :)

[2022-02-18 04:06] #9297 closed

[2022-02-18 08:57] arnonsha opened #10952 "illegal enum assignments"
Sorry to nudge again on this but new illegal enum assignment have popped up again in kmac, lc, flash and otp
Please see #10083 on former discussion on these warnings. As I suggested we should have a lint error flagging them in advance. @msfschaffner any progress with this ?

[code]

[2022-02-18 09:00] arnonsha commented on #10952
For some reason I cannot add assignees directly.
@msfschaffner
@tjaychen
@msfschaffner

[2022-02-18 11:20] rasmus-madsen opened #10954 "Change Documentation covergroups to cover points"
In the current DV documentation, there is a list of covergroups.
unfortunately, this method is not practical in capturing the coverpoints.

as an example, in AES I have a cover point (currently documented as a covergroup)
![image](https://user-images.githubusercontent.com/53917183/154672579-6c2a436a-90f8-4632-b89a-96a4ed9b4e13.png)

I think this is a crucial cover point in terms of security - but

[2022-02-18 16:04] mwbranstad commented on #10815
@zi-v i will close this issue but can you give one final confirm to do so?

[2022-02-18 19:38] weicaiyang opened #10962 "[dv] Common exclusions don't work for Xcelium"
@rasmus-madsen

We have these 2 exclusions for toggle, but they don't work. Can you take a look?
https://github.com/lowRISC/opentitan/blob/92173aa54ac2fba4c68b2362eb0bf7b563b09cfb/hw/dv/tools/xcelium/common_cov_excl.tcl#L9-L10

EDN still shows them uncovered.
https://reports.opentitan.org/hw/ip/edn/dv/latest/cov_report/index.html

FYI @sriyerg @senelson7

[2022-02-18 20:00] rasmus-madsen commented on #10962
@weicaiyang sure - I will do this first thing Monday morning as everyone in WD will need these

[2022-02-18 20:35] cindychip opened #10966 "[dv/kmac] cycle-accurate scb"
Consider not support app interface for cycle accurate check.
I think it could be simpler as this:
1) SCB receive data_in,
2) SCB waits for design ack with a timeout check to ensure nothing stuck,
3). SCB check digest data when received done signal, and check intr_state.
In the meantime, check sha3_status Idle is set to 0.

Then we do not need this `app_with_partial_data_vseq` anymore.

[2022-02-18 21:05] msfschaffner opened #10970 "[entropy_complex] Corner case tests at the chip level"
This issue captures recommended tests and associated questions that came up in the [V2 meeting for EDN](https://docs.google.com/document/d/1K1f6Q4hb7tkd3vP7dyO6-xLqGz-kH5_cKzgVOs4HUNs/edit#):

- [x] There is probably a need for an entropy stress test at the system level. Current list of entropy consumers in the system:
  - AES
  - KMAC
  - OTBN
  - Keymgr
  - Ibex
  - Alert Handler (ping timer)

[2022-02-18 21:26] msfschaffner commented on #10909
yes the paths look good.

[2022-02-18 21:42] rasmus-madsen commented on #10962
@weicaiyang the issue is the [6] is not escaped - but for some reason I cannot get it to escape it correctly
which causes the following exclusions to be ignored.

I tried really fast to exclude it, but then I get a signal cannot be found issue.
I will look close monday.

[2022-02-18 21:47] weicaiyang commented on #10962
Thanks for looking into this.
rsp_intg[6] is truly unreachable. If we can't exclude it in a common file, we can rely on the exclusion from UNR.

It will be nice if we can exclude `*alert_rx_*.ping_*` in common exclusion, otherwise, we have to manually add it in each IP.

[2022-02-18 22:26] sriyerg commented on #10857
110ms vs 240ms simtime could be attributed to randomization. Could we reproduce this on a different machine too, just to eliminate other variables?
Also, what are the VCS and Xcelium tool versions used?

[2022-02-18 22:35] msfschaffner commented on #10952
I checked the AscentLint rules but I can't find a rule that would be exactly equivalent to the one thrown by VCS.
I have therefore added a fail pattern to the VCS build flow so that we can catch these in CI in the future: #10973

[2022-02-18 23:22] msfschaffner opened #10976 "[OTBN/SRAM/Icache] Investigate interaction of scrambling and bus integrity"
Issue initially raised by @GregAC

[2022-02-18 23:29] tjaychen commented on #10523
The double fault stuff is ongoing here #10975.
I'm not sure what you guys decided on double fault behavior, but it doesn't make sense to have it locally escalate.
For critical software infrastructure i tend to veer towards being conservative.  You have the option of making things globally escalate already.

[2022-02-19 01:50] tjaychen commented on #10976
i think as long as the ECC isn't misbehaving, there isn't nothing more we can do here unless we increase the storage to have fewer collisions.

Although this kind of accidental match is in my mind no different from an attack on the data path directly, which we are known to be vulnerable against. Those attacks we are guarding with software redundancy, so it will have to do here as well.

[2022-02-19 22:32] martin-lueker opened #10983 "[entropy_src] Timing issues in FW_OV "Insert Entropy" feature"
__Summary:__
The FW_OV "insert_entropy" feature is currently unusable, due to three issues described below.
Some implicit assumptions have been made that inserted entropy is always ready at the same time as the Raw incoming RNG data.   FW cannot synchronize with the `main_sm` to insert processed entropy at the correct time.

__Background on this Feature:__
This feature is provided to allow firmwar

[2022-02-19 22:58] martin-lueker commented on #10983
My initial simple recommendations: (Happy to update them based on discussion):
- [] Solve problem 2: Enable "insert entropy" mode with bypass mode by connecting the `bypass` FIFO controls directly to the `esfinal` FIFO, and popping whenever the bypass FIFO is non empty.  (Note: Dropped seeds here are perfectly okay).
- [] Solve problem 3: Create a `FW_OV_STATUS` register which indicates that there

[2022-02-20 11:30] zi-v commented on #10815
Confirmed

[2022-02-20 23:33] mwbranstad commented on #10815
thanks, closing.

[2022-02-20 23:33] #10815 closed

[2022-02-21 09:52] rasmus-madsen commented on #10962
@weicaiyang  I have reached out to cadence for the rsp_intg[6].

the others work fine if we remove the failing ones.
I will create a PR to update once I hear back from Cadence

[2022-02-21 09:59] TimEwins opened #10987 "[flash_ctrl] Potential Issue In The Flash Protocol Controller Arbiter (RMA Entry)"
Hi @tjaychen I think there might be an issues regarding the Arbiter in the Flash Controller Arbiter, concerning RMA entry.

The Spec says ...

“When an RMA entry request is received from the life cycle manager, the flash controller waits for any pending flash transaction to complete, then switches priority to the hardware interface. The flash controller then initiates RMA entry process and notifie

[2022-02-21 11:24] vogelpi commented on #8460
Hey @cindychip ,

sorry for keeping you waiting. I've added my responses inline below.

Yes, I think eventually we should standardize on that behavior. However, I don't consider it super important for ES. People are probably very busy with other, more critical stuff at the moment. So, I recommend to just do it for AES right now.

This is not fully correct. To clear the update error status bit, the

[2022-02-21 11:26] vogelpi commented on #10422
Ping! Everything has been addressed now. I think we can merge #10846 to move AES to D2S. Please let me know if something else is needed from my side.

[2022-02-21 11:29] vogelpi commented on #10617
Hey guys, sorry I wasn't aware that this issue was blocked by an outstanding response from my side. I've now replied to #8460 .

[2022-02-21 12:45] rasmus-madsen opened #10991 "aes lowering EDN req on error"
the case where an error is detected and an alert is raised while and pending request to EDN is active the dut will lover the request.
this violates an assertion in the push_pull module.

The question is what is correct behavior for the DUT in the case of an alert - it seems completely reasonable that it lowers its request.
if this is the case we need to remove the assertion from the push pull - an

[2022-02-21 12:55] GregAC commented on #10523
I believe the plan was to have a local escalation path that would immediately shut off the fetch enable as well as send out an alert for a global escalation.

[2022-02-21 13:09] vogelpi commented on #10991
Hi @rasmus-madsen ,
thanks for reporting this. As you say, it is reasonable to lower the request in the case of a fatal alert. When this happens, the SVA needs to be switched off. However, this must happen dynamically. We have an input on the primitive for this and use this already for LC escalation. I will file a PR to also do that upon a fatal alert detected internally.

[2022-02-21 13:09] #7834 closed

[2022-02-21 14:08] cryptobsv commented on #8739
Thanks for looking into this. I see some unexpected behaviour:
1. `disas` reads only 0xffff and hence cannot disassemble code. However, `x` shows the correct code memory content.
2. Setting breakpoints does not seem to work. OpenOCD says `Couldn't find an available hardware trigger.` and `can't add breakpoint: resource not available`.
Is there an easy fix for these two issues?

[2022-02-21 14:18] rasmus-madsen opened #10998 "verify EDN behavior for prematurely lowering REQ"
hi @senelson7
in my AES verification I found that currently there is an assertion in the push_pull_if
firering if REQ is lowered before ack is raised indicating this is illegal behavior.
but this behavior is very likely to happen if an attack is made on the aes core.

it will fire an alert and lower the request without waiting for the response.
Locally I have disabled the assertion - but you shoul

[2022-02-21 14:24] TimEwins commented on #10987
This may have been due to an earlier RTL change regarding the RMA needing to be enabled via SW?

[2022-02-21 15:54] vogelpi commented on #10991
Re-opening as my PR only addressed the part in the RTL, there remains a second part to be addressed inside the push-pull agent.

[2022-02-21 16:54] visbaz opened #11000 "SPI_HOST : SW_reset impact on CMD queue"
SW reset happening while ongoing commands doesnt clear the command queue. - Test fails

**Is this the expected functionality ?**

SW_RST as per spec:
SW_RST | Clears the entire IP to the reset state when set to 1, including the FIFOs, the CDC's, the core state machine and the shift register. In the current implementation, the CDC FIFOs are drained not reset. Therefore software must confirm that bo

[2022-02-21 18:04] zliu1Charlotte opened #11002 "Issue on simulating aes moduels using cadence joules"
Hi I am a PhD student in WPI, Worcester, MA. I am simulating aes module in cadence joules to generate traces. I encountered an error on aes_wrap.sv:

few thing before you continue:
1. opentitanaes.sv is the same file as aes_wrap.sv
2. I am using the testbench aes_wrap_tb.sv as a reference, but I added clk and key, plaintext values.

[code]

I left .data.o empty and the error is gone, it was able t

[2022-02-21 20:07] #8814 closed

[2022-02-21 21:59] mwbranstad commented on #10983
Created a PR to fix above. A new control field has been added in the hjson to tell the main sm when to start the sha2 process and when to end.
For problem 3, assuming that SW keeps track of what it extracted, and then writes that amount back. Could easily add a status bit but don't think it is needed in the current use case.
For problem 2, did not test this one yet. Let's make sure problem 1 is fi

[2022-02-21 22:06] mwbranstad commented on #10983
Re-thinking:
Problem 3: have never seen precon fifo ever go not ready. But will this always be the case? Maybe added a status bit will also add some degree of debug capability also. Maybe needed.

[2022-02-21 22:18] martin-lueker commented on #10983
Yeah, I mean can we some how make a guarantee about this?  The right thing to would be to give SW a bit to check, and then create an error event if that check ever fails.

We need an error flag for this because it would be pretty bad if we _DID_ run into a problem and we never had a way of knowing what went wrong.   And then if you make an error condition that it is impossible for SW developers to

[2022-02-21 22:21] martin-lueker commented on #10983
The problems are distinct, and I can tell you that it's a problem just by reading the RTL.  In bypass mode precon fifo pop is driven by the MAIN_SM, which is waiting on the health checks.

[2022-02-21 22:22] martin-lueker commented on #10983
Great thanks.  I'll take a look.

[2022-02-21 22:27] #11002 closed

[2022-02-21 22:33] mwbranstad commented on #10983
Yeah problem 2 looks easy to fix. Will look at it later.

[2022-02-21 22:41] mundaym commented on #10900
cc @luismarques

We've pulled the instructions out for now. They had become quite stale and it was a bit strange that we provided instructions for building GCC but not clang (the default compiler in CI).

We could perhaps add in some additional pointers for people while still avoiding providing step by step build instructions. Is there any information that would have been particularly useful to yo

[2022-02-21 23:15] rswarbrick commented on #6082
This was fixed by d04b048, where @moidx added an `entropy_testutils` module.

[2022-02-21 23:15] #6082 closed

[2022-02-21 23:19] rswarbrick commented on #2619
@felixmiller, @jadephilipoom: This issue is kind of ancient, but I'm not sure of the current status. Have we done everything that we wanted to do? Do we plan to? :-)

[2022-02-21 23:20] rswarbrick commented on #2856
@moidx: Is there anything left to track for this issue? I doubt we're going to change the OTBN ISA before the first tapeout... :-)

[2022-02-21 23:21] jadephilipoom commented on #2619
I think @felixmiller has something in the works?

[2022-02-21 23:22] rswarbrick commented on #3267
@felixmiller: Did you ever look at this? Looking at the git blame for the list of clobbered flag groups in `barrett384`, I think not? Is it worth keeping on our todo list?

[2022-02-21 23:25] rswarbrick commented on #4006
Block-level simulations are mostly done over VCS, where we use ~90% of cycles in VCS and only ~10% in the ISS. Maybe that's slightly inflating the VCS numbers (because of stalls waiting for context switches), but it suggests we won't get a massive speed-up in block-level sims whatever we do.

Chip-level simulations are barely affected by the OTBN / ISS stuff, it seems.

@GregAC: Do you think there

[2022-02-21 23:26] rswarbrick commented on #4519
I think we've settled on the design for this now (exposing FATAL_ALERT_CAUSE and not worrying about it too much).

[2022-02-21 23:26] #4519 closed

[2022-02-21 23:27] rswarbrick commented on #4902
Ok, I think that's what the design does at the moment too. Is there any more discussion needed here or should we close the issue?

[2022-02-21 23:29] rswarbrick commented on #4871
We run objdump with `numeric,no-aliases` and will never generate pseudos. Doing anything else would probably be rather difficult and what we've got is at least canonical :-) Closing this as I can't imagine us ever getting around to working on it!

[2022-02-21 23:29] #4871 closed

[2022-02-21 23:32] rswarbrick commented on #4884
I suspect this is just debug info. Since the segments aren't marked as PT_LOAD, they won't have any effect. The warnings are a bit ugly, but can be reasonably helpful if something has come unstuck. I'd probably favour leaving them in for now (since we're not triggering them with the usual builds).

Closing because I don't think we're going to take action on it. If anyone wants to hack on this in t

[2022-02-21 23:32] #4884 closed

[2022-02-21 23:33] rswarbrick commented on #6148
I think this has probably been superseded by `top_earlgrey/data/chip_testplan.hjson`. Closing.

[2022-02-21 23:33] #6148 closed

[2022-02-21 23:35] rswarbrick commented on #6447
Looks like the meeting didn't happen :-) I think we've got a couple of obvious missing features (nicer loop handling; named CSR/WSRs) which are tracked separately already. Probably no need to keep this open.

[2022-02-21 23:35] #6447 closed

[2022-02-21 23:36] rswarbrick commented on #6448
This is probably superseded by the chip-level testplan. The SW guys can figure out exactly what they want to run to test their software :-)

[2022-02-21 23:36] #6448 closed

[2022-02-21 23:38] rswarbrick commented on #7277
Done, and implemented!

[2022-02-21 23:38] #7277 closed

[2022-02-21 23:38] rswarbrick commented on #7289
Hmm, not sure what was going on there but I've used gui mode successfully more recently. Probably not worth digging into this now, since it's hopefully fixed.

[2022-02-21 23:38] #7289 closed

[2022-02-21 23:40] rswarbrick commented on #7405
We're now explicit that we ignore those writes. RTL & ISS match and we've got an entry for this in the coverage plan.

[2022-02-21 23:40] #7405 closed

[2022-02-21 23:41] rswarbrick commented on #7424
@moidx: Is there still work to do here, do you know?

[2022-02-21 23:48] rswarbrick commented on #8219
Done back in 5197bd7ae61dfda57d43335bf87eadacb2fbbc44.

[2022-02-21 23:48] #8219 closed

[2022-02-21 23:50] rswarbrick commented on #9351
We're getting ever closer to design freeze and we've sort of defaulted to 50:50.

@felixmiller, @jadephilipoom: Speak now or forever hold your peace :-D

[2022-02-21 23:51] rswarbrick commented on #8989
This is done now. It's not enabled by default because it triggers some test failures that seem to be an RTL bug.

[2022-02-21 23:52] rswarbrick commented on #9480
@GregAC: Do you think we still need this, now that we've coalesced into 2 classes and they are split at bit 16?

[2022-02-22 07:22] weicaiyang commented on #10799
closing this as a workaround is found

[2022-02-22 07:23] #10799 closed

[2022-02-22 08:26] vogelpi commented on #10991
I see the second half is tracked here: #10998

[2022-02-22 08:55] felixmiller commented on #2619
Yes, I am currently working on this

[2022-02-22 08:59] GregAC commented on #9480
I think I'd still like the functions, makes things cleaner and ease development if/when we expand things. Definitely super low priority though.

[2022-02-22 09:03] GregAC commented on #4006
Let's close it

[2022-02-22 09:03] #4006 closed

[2022-02-22 09:05] GregAC commented on #8989
Do we have an issue open for that RTL bug?

[2022-02-22 09:31] jadephilipoom commented on #9351
This part of Felix's comment in the earlier thread gives me pause:

It sounds like we're _probably_ okay with 2kiB but it _might_ be an issue if we've misestimated the input sizes or add a new algorithm that requires a large buffer -- and on the other hand we are pretty confident we have nothing to lose by making the scratchpad smaller. If that's still accurate, I'm more comfortable with a 3kiB/1k

[2022-02-22 09:48] #7474 closed

[2022-02-22 10:21] rswarbrick commented on #8989
Hmm, probably not. I'll re-create it and open a specific issue later today and then close this one.

[2022-02-22 16:23] dbeitel-opentitan commented on #10900
Yes, I built the compiler to support MacOS.  The instructions were actually very useful, but the only thing missing was the version of the prebuilt package.  If the clang build is a standard build, we should point to common build instructions for the toolchain and the version we built for.

[2022-02-22 16:23] dbeitel-opentitan commented on #10900
Is it possible for me to get the build instructions for the CLANG toolchain?

[2022-02-22 16:31] luismarques commented on #10900
Check the [script to build the Clang toolchain](https://github.com/lowRISC/lowrisc-toolchains/blob/master/build-clang-with-args.sh) and the [CI parent script that calls it](https://github.com/lowRISC/lowrisc-toolchains/blob/master/azure-pipelines.yml). While that isn't documentation it should be fairly readable. Let me know if there's anything that isn't clear.

[2022-02-22 16:53] jason-hoddinett opened #11012 "[pwm] clarification of 'pulse mode' in pwm_testplan.hjson"
The testplan includes multiple references to a 'pulse mode'.  However, this is not a mode defined within the HWIP technical specification. It is ambiguous as to whether it is supposed to be interpreted as;
- a feature such as heartbeart mode or blink mode
- as reference to any pulses regardless of mode
- iff heartbeat mode and blink mode are both disabled
Thanks,
Jason

[2022-02-22 17:41] rasmus-madsen commented on #10962
@weicaiyang update
I know have Cadence trying to reproduce this, as their solutions does not work:
I expect to hear more by tomorrow

[2022-02-22 17:58] weicaiyang commented on #10962
sounds good. Thanks for the update.

[2022-02-22 18:19] weicaiyang opened #11018 "[sysrst_ctrl/dv] Verify design change on flash_wp_l"
@patel-madhuri
The design change for #10773 has been added. We should add a test or update existing test to verify it before signing off V2.

Creating this issue for tracking it.

FYI @msfschaffner

[2022-02-22 18:29] msfschaffner opened #11019 "[otbn] D2S review opens"
Pre D2S review known actions:
- [x] Finish blanking implementation - #10824
- [x] Implement ECC integrity for ISPRs, including end to end integrity (keep existing ECC from ISPR/Reg when copying to/from register file) - #11973
- [x] Loop stack integrity (see actions below and meeting notes for more details)

From 1st session:

- [x] Add CM labels to RTL https://github.com/lowRISC/opentitan/pull/129

[2022-02-22 19:09] tjaychen commented on #10523
alright, up to you guys i guess. This is not my decision to make.
For the record I think this is a bad idea, but if it was decided already let's move on.

[2022-02-22 19:09] #10927 closed

[2022-02-22 19:22] tjaychen commented on #10987
@TimEwins sorry i might be looking at this wrong. (i'll bring down your PR to have a look also).
But it looks like in this waveform, the arbiter state stays under `StSwActive` for some time even though `rma_req` is `On`.
When the `rd_ack_i` is received, the controller then moves from "software" to "hardware".

That was my intent for how this should behave.  So while it is true that RMA state has e

[2022-02-22 19:30] TimEwins commented on #10987
@tjaychen as I first looked at it, it looked like the rma request was coming up during the SH phase, and then starting immediately.  Looking in the RTL the rma fsm is not gated by anything other than the rma request, but there are two FSM's at play here (as you know) so I could be mistaken.  The test as pushed was in it earlry stages, so you may well be correct (its just a potential issue).

I did

[2022-02-22 19:41] TimEwins commented on #10987
This may well have been what I observed and mis-interpreted

"That was my intent for how this should behave. So while it is true that RMA state has entered erase, that request SHOULD be held off until the hardware interface is selected. I will double check the waves to make sure."

[2022-02-22 20:00] tjaychen commented on #10983
hey all,
i know you're progressing with fixes already. So just a few suggestions, but please only consider it if it makes sense.

Instead of having the fsm determine the state of message done and thus assert process, what if we did it on the number of pops from the pre-conditioner fifo? If I recall correctly that ultimately determines when a "block" of random data has been supplied and the conditi

[2022-02-22 21:07] rasmus-madsen commented on #10962
@weicai so I figured it out .
for some weird reason the [6] needs to go outside the the ''

[2022-02-22 21:58] mwbranstad commented on #10983
hey tim, thanks for the ideas.
1) i actually think that fw control of the sm is actually pretty easy and gives full control to fw in that case. it also takes advantage of re-using certain states, like sha3 and cs_halt handshaking (common for all use cases)
2) back-pressure is probably the best solution, but a status bit also works, and add a slight bit of debug, plus its done already so probably g

[2022-02-22 22:40] tjaychen commented on #10983
ah yes, but just in case it is not, we would actually not push the data into sha, but instead pop it out of the pre-condition packer right?  Wouldn't we lose the data in that case?

[2022-02-22 22:58] mwbranstad commented on #10983
i don't believe so. We are writting 32b words into the precon fifo. the move into the sha2 is 64b, so a pop from the precon fifo will occur on the 2nd write to the precon fifo.
Maybe I am missing something subtle here.

[2022-02-22 23:41] tjaychen commented on #10983
ah we may not.
All i'm pointing out is the pop condition of the pre-condition FIFO and the push condition of the SHA are different.
So there theoretically exists a situation where we have popped but cannot push.  If that situation could occur, it feels like some data could be lost.

[2022-02-23 00:16] mwbranstad commented on #10983
actually i was looking at the push condition for sha3 and was wondering why it had so many guards, which generally i don't like for the reasons i think you are stating. I will take a second look at that. thanks.

[2022-02-23 00:23] tjaychen commented on #10983
sounds good! thanks @mwbranstad !

[2022-02-23 00:59] tjaychen commented on #10987
@TimEwins i took a quick look, and it is behaving as I expected.
The rma state machine does indeed kick off and it does make a request.  However the arbiter holds it off as the "software request" is still being services.

This doesn't mean there aren't other bugs though, you may very well have unearthed something else.

[2022-02-23 01:47] msfschaffner commented on #10523
If I recall correctly, adding the local escalation path for double faults has been suggested mainly for the following two reasons:
- there was a recently published attack that exploited double faults in the main processor (@GregAC can you maybe provide a reference for the paper?), and clamping down early would help defending against these.
- for the software side, double faults are a fatal error c

[2022-02-23 04:31] a-will commented on #10235
Note that the lower severity comes from an assumption that multiple commands can queue up in the FIFO. If this is not the case, it may become critical to handle these instructions in hardware, else there will be a race with firmware.

[2022-02-23 04:41] tjaychen commented on #10523
if we already made the decision (the notes and #8152 don't seem explicit about this, but I just don't remember), let's just move on.
I think we need to get in a habit of sticking to our decisions unless there is concrete evidence to dig it up again.

The entire "well this is bad for software debug" principle I'm operating on has not been mandated as a project tenant, so it's difficult to use it no

[2022-02-23 05:47] moidx commented on #10983
The changes proposed in lowrisc/opentitan#11003 seem like will help to unblock the implementation of KAT tests for the conditioner. It will also unblock CAVP testing.

I agree that back pressure in `FW_OV_DATA` is the best solution. If you decide to keep the status bit, we won't be able to detect dropped words in software unless there is an error bit, so it is worth considering adding one, althoug

[2022-02-23 11:11] TimEwins commented on #10987
@tjaychen Thanks for taking a look at this.  I restored the original flash_ctrl_lcmgr.sv file from the Master and can confirm that the arbiter switches to the RMA as expected using my latest test strategy.

All is looking good, so I will close this issue.

[2022-02-23 11:11] #10987 closed

[2022-02-23 11:11] TimEwins commented on #10987
Closed

[2022-02-23 12:36] #10962 closed

[2022-02-23 14:33] #10998 closed

[2022-02-23 15:03] mwbranstad commented on #10983
@tjaychen thanks for spotting trouble with the pop/push logic related to the sha3. I think I found an error with this logic if sw writes are done too fast (the RNG source will never have this issue). I have changed the logic to pop only when sha3 is also ready and not in bypass mode.
@moidx It appears that if we simply poll the "precon fifo" status bit, that should guarantee that if off, the write

[2022-02-23 16:10] GregAC opened #11035 "[tlul] Integrity on error responses from the crossbar"
In debugging why CI is failing for https://github.com/lowRISC/opentitan/pull/11001 I discovered the error response from the crossbar for a non-existent address has bad integrity bits.

This means that if Ibex accesses any part of the address map that doesn't exist it produces a fatal alert. My PR (https://github.com/lowRISC/opentitan/pull/11001) introduces a local escalation path that shuts down I

[2022-02-23 17:42] msfschaffner opened #11036 "[tlul/xbar] Add blanking based on address"
This has been spun out from the D2S review notes here https://github.com/lowRISC/opentitan/issues/10926.

We should look into whether we can add blanking based on address in reggen (reg_top). Consider putting the gating into the XBAR. Also need to think whether gating to zero is the right thing to do for all critical registers (e.g. invalid MUBI nibble pattern). Make a separate issue that tracks t

[2022-02-23 17:51] GregAC commented on #11035
We should also consider the verification aspect. Presumably each peripheral returns its own error responses where an address is accessed within its part of address space that doesn't map to a register? We should test that errors responses seen that can be generated in various places all work correctly.

[2022-02-23 17:54] tjaychen commented on #11035
that one should TECHNICALLY work because on the peripheral reg file everything is forced through the integrity generator.
But that is also a good point.

@weicaiyang

[2022-02-23 17:56] tjaychen opened #11037 "[ast / clkmgr] Absorb clock dividers directly into ast"
This is a long term enhancement.
We should ideally absorb the `clkmgr` clock dividers directly into `AST` in the long term.
This resolves a lot of corner cases around how clock bypass is handled, and also makes it easier to control when dividers are stepped down based on such a bypass.

[2022-02-23 17:57] tjaychen commented on #11037
hey all,
just filing this issue for long term tracking.

[2022-02-23 18:00] #10855 closed

[2022-02-23 18:18] msfschaffner commented on #11018
FYI I did align some of the tests (`pin access test` that is part of the smoke check) in https://github.com/lowRISC/opentitan/pull/10774 - but that does not cover the entire functionality that has been added.

[2022-02-23 18:30] tjaychen commented on #7902
@weicaiyang can you remind me if there's anything wrong with this issue? since we closed it some time ago. was it mainly to ensure there was an assignee?

[2022-02-23 18:38] weicaiyang commented on #7902
yeah, nothing wrong here, just to add an assignee.

[2022-02-23 19:02] weicaiyang commented on #11035
Yes, we have a test and coverage to verify unmapped addresses in peripherals.

https://github.com/lowRISC/opentitan/blob/fd1d80fd914472aa14f57ed80a7b24e20a723f7b/hw/dv/sv/cip_lib/seq_lib/cip_base_vseq__tl_errors.svh#L231
https://github.com/lowRISC/opentitan/blob/fd1d80fd914472aa14f57ed80a7b24e20a723f7b/hw/dv/sv/cip_lib/cip_base_env_cov.sv#L96

For xbar level's unmapped address, TB expects d_user t

[2022-02-23 19:33] weicaiyang opened #11038 "[rstmgr] V2 review action items"
FYI, these are the AIs that are captured in V2 review meeting.

- [x] Add missing covergroups: https://github.com/lowRISC/opentitan/issues/10687
- [x] Review UNR exclusions with Tim
- [x] The PR of rstmgr_cnsty TB is blocked due to a CI failure. Work with Sri to resolve it.
- [x] Add this at the end of hw/ip/rstmgr/dv/cov/rstmgr_cover.cfg to enable toggle coverage for rstmgr_cnsty_chk:
[code]
- [x

[2022-02-23 19:42] weicaiyang opened #11039 "[sram_ctrl] V2S review action items"
- [x] Talk with Michael offline to discuss otp/sram key interface in top-level test. (Done @msfschaffner commented at https://github.com/lowRISC/opentitan/pull/10490#discussion_r812544527) (Done #11105 )
- [x] Resolve issue https://github.com/lowRISC/opentitan/issues/10909 and make necessary DV update
- [x] Complete FPV_SEC_CM_VERIFIED (Done @cindychip added #11030)

V2S process related AIs
- [x]

[2022-02-23 21:37] weicaiyang commented on #7505
@tjaychen @moidx can you take a look at this issue and assign priority to it?

[2022-02-23 22:39] weicaiyang opened #11041 "[CSRNG] V2 Review items"
Here are the action items from CSRNG V2 review

- [x] crosses for csrng_cmds_cq covergroup in testplan
- [x] Clean up broken links in   “Global types & methods”
- [x] csrng_cmd_o[0/1].csrng_rsp_sts needs a directed test to exercise -> add force bit case to error testing code.
- [x] SIM_ALL_TESTS_PASSING
  - Still waiting for results from intr/err/alert #11006
- [ ] SIM_CODE_COVERAGE_V2
  - Block,

[2022-02-23 22:45] #10860 closed

[2022-02-24 01:53] #10879 closed

[2022-02-24 02:34] tjaychen commented on #10328
yeah i tend to agree with @eunchan. The denial of service of type attacks are not something we really cover.
Because someone could attack the clock, the processor, the memory etc and the results would all be the same.

Still I think this particular enhancement is not cumbersome, i could just absorb it.

[2022-02-24 05:26] weicaiyang commented on #10909
closing this via https://github.com/lowRISC/opentitan/pull/10943

[2022-02-24 05:26] #10909 closed

[2022-02-24 09:29] GregAC commented on #11035
Additionally we should probably have a test that executes code that is right on an address map boundary ideally for both the sram and flash regions. We want to ensure that any fetches Ibex issues that fall the other side of that boundary don't cause issues.

[2022-02-24 10:51] vogelpi commented on #10991
Thanks @rasmus-madsen for explaining the situation. This can certainly be done. I'll do a PR to make the required change.

[2022-02-24 14:18] nasahlpa opened #11060 "[ibex] Yosys synthesis missing lowrisc_ip"
Hi,
Is it planned to support the Yosys design flow in `hw/vendor/lowrisc_ibex/syn` for the Ibex? If yes, the [lowrisc_ip](https://github.com/lowRISC/ibex/tree/master/vendor/lowrisc_ipl) directory is missing in `hw/vendor/lowrisc_ibex/vendor`. When adding this directory, synthesizing the Ibex works out of the box.
If requested, I can open a PR.
Best,
Pascal

[2022-02-24 14:21] martin-lueker commented on #11000
Hi Viswa,
   Thanks for finding this.  This is not expected.   It may come about because the CMD FIFO was a late addition.  I'll take a look.

-Martin

[2022-02-24 14:27] rswarbrick commented on #11060
Hah! The problem is that `lowrisc_ip` is vendored from OpenTitan into Ibex. Then the Ibex RTL is vendored from the Ibex repo into OpenTitan. We drop the `lowrisc_ip` stuff to avoid vendoring OpenTitan into itself(!). But we're lazy and don't carefully rip out all the supporting code like, it seems, the `syn` directory.

Can you run the experiments you need from the Ibex repository? That's probably

[2022-02-24 14:30] nasahlpa commented on #11060
Ah, good to know!
Sure, I'll do that.

[2022-02-24 14:30] #11060 closed

[2022-02-24 15:03] vogelpi commented on #10532
Closing as the corresponding PR #10996  has been merged.

[2022-02-24 15:03] #10532 closed

[2022-02-24 15:03] vogelpi commented on #10422
Closing as all relevant PRs have been merged and AES has reached officially D2S.

[2022-02-24 15:03] #10422 closed

[2022-02-24 16:50] GregAC opened #11071 "[edn] Lockup when both EDNs are running in boot mode"
@mwbranstad and I have done some debugging of this issue: https://github.com/lowRISC/opentitan/issues/8935

Mark identified that both EDNs are configured in boot mode. Initially it was expected only one EDN would ever be run in boot mode. However there is no particular reason they shouldn't work when they are.

Looking through the waves for #8935 it appears the CSRNG/entropy_src are behaving well

[2022-02-24 17:00] rswarbrick opened #11072 "[rom_ctrl] Post-V2S meeting action items"
We had a V2S review meeting on 24th Feb 2022. For OpenTitan members, the meeting notes are [here](https://docs.google.com/document/d/1Hivxbhz1MaHgJ7z7gM89kLdmLbfILb9tv1ZHSXKwM3U).

Action items:
- [x] (@prajwalaputtappa) Sparse FSM checks
- [x] (@rswarbrick) Add a MEM.INTEGRITY countermeasure
- [x] (@prajwalaputtappa) Add an assertion for bus.local_esc
- [x] (@cindychip) Add rom_ctrl to FPV block

[2022-02-24 17:44] tjaychen opened #11073 "[clkmgr, fpga] Enhance clkmgr to allow for different types of clock gates per module"
Specifically, allow additional attributes in the top hjson file to specify what kind of FPGA clock gates a particular module should use.
See #11063 for motivation.

[2022-02-24 17:44] tjaychen commented on #11073
@vogelpi FYI

[2022-02-24 17:47] #10778 closed

[2022-02-24 17:47] #11035 closed

[2022-02-24 17:48] tjaychen commented on #11035
@GregAC just to be sure, you mean on the end of sram / flash for example, so the prefetch that goes "nowhere" doesn't cause issues correct?

[2022-02-24 17:56] vogelpi commented on #11073
Cool, thanks for creating this issue @tjaychen . Automating this based on the top-level sounds like a good idea.

[2022-02-24 17:58] GregAC commented on #11035
Yes exactly

[2022-02-24 19:01] eunchan commented on #10873
OK So as KMAC shuffles 1600bit of entropy, I think we can close this.

[2022-02-24 19:01] #10873 closed

[2022-02-24 19:01] eunchan opened #11078 "UnexpectedModeStrength: add config bit that inhibits progression if this error is set"

[2022-02-24 19:08] visbaz opened #11079 "SPI_HOST Dual mode data"
when Command is Dual Write SPI host outputs data twice.

 pull request https://github.com/lowRISC/opentitan/pull/10913

reproduce:
Test: spi_host_speed (enabled currently for dual only)
cmd: util/dvsim/dvsim.py hw/ip/spi_host/dv/spi_host_sim_cfg.hjson -i spi_host_speed --waves --fixed-seed 2163767791

@martin-lueker spi agent monitor fixes are done for Dual and Quad mode in the above mentioned PR.

[2022-02-24 19:08] eunchan commented on #11078
Default is to prohibit the operation then raise the error.

[2022-02-24 19:27] matutem opened #11081 "[rom] Turn back on disabled peripherals upon reboot"
A new full-chip test was created in https://github.com/lowRISC/opentitan/pull/11080 (clkmgr_peri_off test). It disables the uart peripheral using clkmgr clk_enables CSR, and then attempts a CSR access to it, which causes the CPU to freeze. The test sets up a watchdog bite, so the chip resets.

However, after the reset the clk_enables CSR remains unchanged, which is expected since clkmgr is not res

[2022-02-24 19:52] timothytrippel commented on #11081
(as we discussed offline) Logging messages are only an issue for Verilator and FGPA, since in DV sim I believe these are logged through backdoor memory writes. Regardless, since we want to run tests on these platforms too, it sounds like the **test ROM** should be updated to reenable peripherals (by setting **all?** clk_enable and clk_hint CSRs to their reset values) on reset?

Also not sure how m

[2022-02-24 20:01] matutem commented on #11081
By the way, a similar issue may arise for the clk_hints CSR, since we could reboot with AES, HMAC, KMAC, and/or OTBN disabled.

[2022-02-24 20:14] tjaychen commented on #11081
sorry i should clarify one thing and add to @matutem point.

It's not specific to UART, it really applies to ANY block the rom might want to make use of (both test and mask).

Since we don't know exactly why the system reboot when watchdog fires, (it could be that someone was trying to access otbn but the otbn hint was set to disable clock), so as a precaution ROM should make sure to turn on the c

[2022-02-24 20:25] timothytrippel commented on #11081
Should it just be what {test,mask} ROM needs to operate (e.g., for test ROM that would just be UART for logging and I think HMAC for primitive bootstrap)? Or should we just be safe and re-enable everything? I guess the question is, is there a downside to re-enabling everything besides some wasted power?

[2022-02-24 20:26] tjaychen commented on #11081
i think re-enabling everything is okay. As long as nothing is using those blocks, they shouldn't consume THAT much power.
And we can always start turning things down again once we get to later stages of code that can be updated.

[2022-02-24 20:39] mwbranstad commented on #11071
Due to a recent change to entropy_src, it can be programmed to either do the one-time boot mode, producing 1 seed, or in mission mode where a startup sequence produces 1 seed, with subsequence seeds generated in the continuous mode.
Because of this change, both EDN modules cannot both be in boot_req_mode since only will get the seed and the other EDN will hang forever. So at a minimum, the program

[2022-02-24 20:39] matutem commented on #11081
I think it *should* turn everything back on. By the way, a similar issue may arise with rstmgr sw_rst_ctrl_n CSR.

If the ROM didn't turn things back on we will have a very complicated chip behavior, since it could effectively boot in a lot of different combinations of units on/off or reset, and all of these will need to be fully tested... A bad recipe for success...

[2022-02-24 20:48] tjaychen commented on #11071
i guess all these tests should really switch to the continuous mode @mwbranstad ? And limit the boot mode entropy to actual boot only.

I'm a bit out of the loop here, but does anyone know if rsa/ec verify routine makes use of edn1...? I'm guessing no, but wanted to double check.

[2022-02-24 20:59] timothytrippel commented on #11081
I just filed #11083 to address clkmgr issue in test ROM. PTAL when you get a moment.

[2022-02-24 23:03] sriyerg opened #11087 "[rv_dm] How to deal with TL responses on SBA with failed integrity"
I see this note in the RTL:
[code]

Filing an issue to capture this in the spec - I will prefer not taking this note in the RTL as the source of truth.

On a related note, I did try sending a TL response with bad integrity bits, but it ended up throwing this assertion error:
https://github.com/lowRISC/opentitan/blob/553475e0f630e7a4c76fe3082b011d588b533cee/hw/ip/rv_dm/rtl/rv_dm.sv#L346

This asser

[2022-02-24 23:27] moffen commented on #7287
Closing due to no further activity.

[2022-02-24 23:27] #7287 closed

[2022-02-24 23:54] weicaiyang opened #11090 "RFC: OpenTitan V2S Milestone - Sign-off Process"
Please see this [docs](https://docs.google.com/document/d/150V62yLZPwyPYgPIzpIPYsId3-TrhPK86i-9oAtRcjA/edit#) for the proposal.

[2022-02-24 23:57] rswarbrick opened #11091 "[otbn,rtl] Secure wipe doesn't always wipe WDRs properly"
For example, with 11ff5c9 (current head of master), the following test fails if you modify `hw/ip/otbn/dv/uvm/tb.sv` to set `SecWipeEn` to 1:
[code]
(This isn't too finicky: if you're having trouble reproducing, just run 10 seeds of `otbn_multi` with whatever checkout you have: you should get 3 or 4 failures)

The problem seems to be that we're not correctly passing URND data and then zeros to the

[2022-02-25 00:10] tjaychen commented on #11087
hmm...i feel like you're right. This seems like a bug on `tlul_adapter_host`.
I don't think we should have OR'd `intg_err` into `err`. If we disconnected that, it would also solve this problem right?

It should probably be the integrator's decision whether to OR those.

[2022-02-25 00:18] dbeitel-opentitan opened #11092 "[hw, autogen] Add TOP_EARLGREY_RV_DM_ROM_SIZE_BYTES constant to top_earlgrey_memory.h generation"
Need to add the TOP_EARLGREY_RV_DM_ROM_SIZE_BYTES constant generation to top_earlgrey_memory.h as well as /top_earlgrey.h.

[2022-02-25 00:25] matutem commented on #9340
Sorry, you can discount much of my earlier feedback on this, as I kept thinking of rstmgr reset_req, not sw_rst_ctrl_n.

The RTL puts sw_rst_ctrl_n through a synchronizer and both 0->1 and 1->0 transitions are subject to some delay. rstmgr's clock for the sw_rst_ctrl_n generation is io_div4, which is the slowest one among peripherals that can be software reset... so it seems this logic will work a

[2022-02-25 00:32] tjaychen commented on #9340
ah yes good point!

[2022-02-25 00:41] tjaychen commented on #10926
regarding this item `Check whether the MUBI can be pulled down into the clock divider circuit. Assess design impact first.` i ended up not doing it exactly.

Instead, i kept the `step_down_req` as multi-bit signals through the synchronizer and then did a strict check in front of the prim divider. This is mostly because once inside, it is a purely synchronous signal, so I didn't think there was a g

[2022-02-25 01:00] sriyerg opened #11095 "[rv_dm] Debug module does not support sub-word accesses over SBA"
The debug spec requires the DMI CSR SBCS[SBACCESS] to be implemented as RW, but the design implements it as RO instead.
See: https://github.com/riscv/riscv-debug-spec/raw/4e0bb0fc2d843473db2356623792c6b7603b94d4/riscv-debug-release.pdf
Page 43.

The following logic 'overwrites' any changes made to `sbaccess`:
https://github.com/lowRISC/opentitan/blob/60706c2b1f6b67da6dddbd2d6fb4e607f5ca0e2e/hw/ven

[2022-02-25 01:50] matutem commented on #9340
Okay to close this issue?

[2022-02-25 02:16] tjaychen commented on #11095
@GregAC
@msfschaffner

[2022-02-25 02:30] msfschaffner commented on #10926
I think that should be ok. As you say, the important part is to make sure the MUBI is pulled through the synchronizer.

[2022-02-25 02:38] msfschaffner commented on #11095
There is a PR pending upstream that I think should fix this (https://github.com/pulp-platform/riscv-dbg/pull/106), but since it has not been merged yet we may have to pull that over to our lowRISC fork in the mean time.

We did discuss this on this issue already https://github.com/lowRISC/opentitan/issues/4975 and labeled this as a future enhancement. If that is needed for debug to work correctly,

[2022-02-25 02:42] tjaychen commented on #11095
is this needed for debug to work correctly? The SBA is just a side band debug bus right?

[2022-02-25 02:48] msfschaffner commented on #11095
Yeah I think that is the reason why we had labelled this as P3 in the first place.
Interactive debug should still be possible without it, afaik.

[2022-02-25 03:38] tjaychen commented on #9340
that sounds good to me!

[2022-02-25 03:38] #9340 closed

[2022-02-25 08:34] GregAC commented on #10914
#11076 fixes this

[2022-02-25 08:34] #10914 closed

[2022-02-25 10:37] jadephilipoom opened #11106 "[sw,crypto] Clean up cryptolib test setup scripts"
Currently there are three repetitions of similar cryptolib test setup scripts for different use cases (sigverify, RSA, and ECDSA-P256). Based on code reviews, there are a couple items of cleanup that should be applied to them all:
- handle file inputs/outputs differently (see [discussion](https://github.com/lowRISC/opentitan/pull/10740#discussion_r810146429))
- fix constant naming (e.g. [here](htt

[2022-02-25 13:00] Jacob-Levy commented on #10916
What happen if not egnouth VCS runtime licenses are not available?
I run into this issue localy and just recently increased the number of
available licenses and it seem to resolve the issue...

Is there a way to inrease the timeout when not egnouth VCS runtime licenses are availabe?

[2022-02-25 14:18] semihalf-mazurek-michal opened #11108 "[sw, opentitanlib, opentitantool] Missing rust format checking in CI"
While working on X there was a problem with code formatting.
After a short check, it will turn out that 'CI' does not check the formatting of the code in rust. As @timothytrippel  pointed out, a rust format check should be added similar to https://github.com/lowRISC/opentitan/blob/master/ci/scripts/clang-format.sh .
When using rustfmt  or cargo fmt.

[2022-02-25 16:42] #10765 closed

[2022-02-25 16:50] jpcrypt opened #11113 "OTBN loop problem"
Loop statements in OTBN lead to variable execution times and occasional `kDifOtbnErrBitsIllegalInsn` or` kDifOtbnErrBitsBadDataAddr` errors (as discussed on slack).

This arose during side-channel evaluation of OTBN instructions, which requires constant-time execution so that power traces align properly. Execution time is measured by ChipWhisperer-Husky by counting the number of clock cycles that

[2022-02-25 18:17] eunchan opened #11116 "[kmac] Add per Application-based use of entropy"
ROM_CTRL app.intf needs to run KMAC prior to any SW configuration. To support this, KMAC entropy module generates garbage entropy at the Reset state.

Other app interfaces strictly need the uniformly distributed entropies. KMAC should support a way to not run other app. interfaces  (KeyMgr, LC_CTRL) while in the Reset state. The value should be written down to the compile-time parameter (inside `A

[2022-02-25 18:55] timothytrippel opened #11117 "[silicon_creator/mask_rom] fix bug in AST Init asm"
Both mask and test ROMs have startup .asm files ([`test_rom_start.S`](https://github.com/lowRISC/opentitan/blob/455ccc505c475b3c2b73aff8686359a1414076cc/sw/device/lib/testing/test_rom/test_rom_start.S#L156-L170) and [`mask_rom_start.S`](https://github.com/lowRISC/opentitan/blob/455ccc505c475b3c2b73aff8686359a1414076cc/sw/device/silicon_creator/mask_rom/mask_rom_start.S#L174-L195)) that include AST

[2022-02-25 19:43] eunchan commented on #11078
Implemented in #11119

[2022-02-25 20:09] tjaychen opened #11121 "[rstmgr] clean-up from UNR review"
- [x] add an assertion for rstmgr info dump attribute width to make sure incoming dumps are not too large. This is actually already in the code.
- [ ] clarify the exclusion comment for the info_attr in rstmgr
- [x] consider regtool enhancement -> external constants, exclusion types - file separate issue, see #11124
- [ ] add a parameter or a different module to handle the leaf resets that have no

[2022-02-25 20:09] tjaychen commented on #11121
@matutem FYI

[2022-02-25 22:45] tjaychen opened #11124 "[util] Enhance regtool for exclusion and constant types"
- [ ] All a `hwext` register to be defined as an external constant without a known reset value.  These types should then be automatically excluded from init checks
- [ ] Consider defining exclusions to be block level, top level or both and automatically generate the correct attributes in ralgen.

[2022-02-25 23:13] cindychip opened #11126 "[dv/kmac] support new feature tracking"
- [ ] https://github.com/lowRISC/opentitan/pull/11119

[2022-02-26 01:24] eunchan commented on #11078
@cindychip please close when you add this to the test case . Thanks!

[2022-02-26 04:59] tjaychen commented on #11078
btw @eunchan i completely don't remember... but what was the argument during the meeting this should be an option..?

[2022-02-26 06:30] sriyerg commented on #10872
This is fixed.

[2022-02-26 06:30] #10872 closed

[2022-02-27 06:45] eshapira commented on #10646
Fixed by PR #11061

[2022-02-27 06:45] #10646 closed

[2022-02-27 10:51] shanshuixiangyi opened #11132 "Verdi"
It's a great project.Rarely has such high quality project.How to use verdi tool to view code and debug?

[2022-02-27 10:52] MaayanKashani opened #11133 "[bazel] add support for building closed source test hooks"
After the accomplishment of closed source IPs integration into chip-level testing using Meson (see #11188), we will need to support this solution in Bazel as well. Please refer to issue #10852 and relevant Meson PR #11188.

[2022-02-27 11:08] shanshuixiangyi commented on #11132
Sorry,I sloved. veridi -ssf wave.fsdb

[2022-02-27 11:08] #11132 closed

[2022-02-27 14:52] martin-lueker opened #11134 "[entropy_src] Issues with Observe FIFO interface"
There are two minor usability issues with the Observe FIFO Interface have been observed in the course of verification.

1. It is currently unclear what happens when `OBSERVE_FIFO_THRESH` is set to 0.   From the RTL it appears that if this is set, then the Observe FIFO will always fire an interrupt.
_Recommendation:_ Disable this interrupt when this register is set to zero.
_SW Workaround_: Don't u

[2022-02-27 14:54] martin-lueker commented on #11134
FYI: @cfrantz @mcy @tjaychen @moidx @zi-v

[2022-02-27 16:27] martin-lueker commented on #11134
Note: The workaround to problem 1 has already been merged as part of the test bench flow.  The DV workaround for the problem 2 will be added in an upcoming PR.  (No changes have been made to the DIFs for either of these cases)

[2022-02-27 16:47] zi-v commented on #11134
Re 2: Can we handle the FIFO clearing part of "health check interrupt" at main?
E.g.: Disable CSRNG/EDN inside the interrupt and flag the main SW that it needs to gracefully clean the FIFO and re-enable the RNG subsystem.

[2022-02-27 17:29] martin-lueker commented on #11134
There are lots of ways to work with problem 2 in Software. I just recommend we add a depth register at some point to let SW know what is happening for troubleshooting.

[2022-02-28 11:17] rswarbrick commented on #11113
This is a bit confusing to me! I'm pretty certain that `loop` and `loopi` have deterministic runtimes. Can you explain exactly what you're seeing? It sounds like this is affected by the variable latency of RND (which OTBN has no control over).

Note that if you just want to get "randomish" behaviour and need deterministic timing, you might have more luck with reading URND which uses a local PRNG a

[2022-02-28 11:19] rswarbrick commented on #11113
Oh: you should also be able to reproduce stuff in simulation with the simulator at `hw/ip/otbn/dv/otbnsim/standalone.py`. In particular, you mention getting illegal instruction and bad data address errors: those are hopefully just a sign of bugs in your code and are probably much easier to debug in the simulator. Add the `-v` command line argument to see a trace of all executed instructions.

[2022-02-28 11:21] GregAC commented on #11113
Copy of the assembly code from jupyter.zip for easier reference:

[code]

[2022-02-28 12:15] vogelpi commented on #11116
Yes, I think we should handle this somehow. Your approach @eunchan sounds good to me. Maybe one could also change the design to only run in this ROM_CTRL mode before the first register write through software happens.

[2022-02-28 12:23] vogelpi commented on #10991
I am again closing the issue as the PR fixing this for good has been merged.

[2022-02-28 12:23] #10991 closed

[2022-02-28 15:43] visbaz opened #11139 "SPI_HOST: passthrough mode testplan item"
Pass through mode in test plan is TBD . need more details to be added.
@martin-lueker please comment and add relevant people.

{
      name: passthrough_mode
      desc: '''
            - Verify the function of spi_host in passthrough_mode

            Stimulus:
              - TBD
            Checking:
              - TBD
      '''
      milestone: V2
      tests: []
    }

[2022-02-28 15:54] martin-lueker commented on #11139
Thanks @visbaz.  I'll have to defer this to: @tjaychen @eunchan

[2022-02-28 17:13] matutem opened #11140 "[dv/rstmgr] Remove some exclusions at IP level"
The hjson CSR exclusions for RESET_REQ and SW_RST_CTRL_N are only applicable to full-chip.
Disable them at IP level.

[2022-02-28 17:14] matutem opened #11141 "[dv/rstmgr] Review coverage exclusions"
This is to document the exclusions for rstgr.

There are three kinds of exclusions:

# cm_hier exclusions
We exclude rstmgr_cnsty_chk module since it has its own separate environment. This is well understood.

# Hjson CSR exclusions
- The exclusions of reset_req and sw_rst_ctrl_n are for full chip only, and can be disabled at IP level. See https://github.com/lowRISC/opentitan/issues/11140.
- The e

[2022-02-28 17:44] tjaychen opened #11142 "[flash_ctrl] erase suspend behavior inconsistent with spec"
The erase suspend behavior should be as shown [here](https://docs.opentitan.org/hw/ip/prim/doc/prim_flash/index.html#erase-suspend).

However the current design drops erase_suspend request only on `done_o` instead of `ack_o`.
Thanks to @eshapira for noticing.

[2022-02-28 17:45] tjaychen commented on #11142
FYI @nikola-miladinovic

[2022-02-28 17:47] matutem commented on #10257
I am not aware of pending issues, and I just run an xcelium test that exercises the randomization code.

Closing this issue again, but reopen if I missed something.

[2022-02-28 17:47] #10257 closed

[2022-02-28 17:59] tjaychen commented on #11087
sounds good, let me make an rtl fix as well.

[2022-02-28 18:04] sriyerg commented on #11087
BTW, I am not sure this assertion check is needed, if we are simply stating that the RTL does not deal with error responses. I would like to intentionally send error responses to ensure that subsequent transactions go through, and the RTL does not lock up.

[2022-02-28 18:07] tjaychen commented on #11087
yeah good point. Maybe it should be removed altogether.

On Mon, Feb 28, 2022 at 10:04 AM Srikrishna Iyer ***@***.***>
wrote:

[2022-02-28 18:21] jpcrypt commented on #11113
Sorry, there is some missing context here which was discussed elsewhere: this is for work being done to evaluate the side-channel leakage of different OTBN instructions. For this reason we want identical start-up conditions for each power trace. Currently this means we recompile for each power trace, which is quite slow; I was looking into using RND, with pre-fetch plus a very long idle loop for c

[2022-02-28 18:33] matutem opened #11143 "[rtl/rstmgr] Capture all resets"
The rstmgr logic excludes capture in reset_info, alert_info, and cpu_info until the CPU has completed its reset and notified rstmgr via its rst_cpu_n input.

I suppose the intention was to block recording from the time of POR till the cpu is active... but I don't see a strong reason for that, and it may block diagnosing weird issues during reboot.

[2022-02-28 18:45] Muqing-Liu opened #11144 "[entropy_src, dv] Data integrity check failed when forcing esrng fifo write error"
In PR #9888 when checking the esrng fifo write error, both the sfifo_esrng_full and sfifo_esrng_push should be high, but the data integrity check failed afterwards.
![image](https://user-images.githubusercontent.com/83983643/156040503-4c79e117-444d-45db-9120-348e58626235.png)

[2022-02-28 18:56] alphan opened #11146 "[sw/silicon_creator] Consider adding `sec_mmio_write32_untracked()`"
[context](https://github.com/lowRISC/opentitan/pull/11015#discussion_r814129107)

This function would be basically `sec_mmio_write32()` without the `upsert_register()` call, to be used in places where we want to perform a write-read-comparison but don't want to track the last written value, e.g. flash_ctrl ADDR and CONTROL registers. The latter would also require a mask parameter since the HW upda

[2022-02-28 19:20] tjaychen commented on #11143
i think you are right. I wonder how the code was different before and this was necessary... maybe I didn't have `pwr_i.reset_cause` fully fleshed out.

If I remove `first_reset`, I also end up removing the cpu reset input, that's what we're getting at right? :)

[2022-02-28 20:14] martin-lueker commented on #10764
Is there any reason to change this?

[2022-02-28 20:22] sriyerg commented on #10764
The design may have changed since the testplan was originally written. The testplan may hence need updates to reflect the current state of the design specification (which is well within the scope of DV effort). Please remove the test from the testplan, make a PR and get the designer to approve.

We do not verify what is not taped out - so there is no need to verify design configurations (i.e. para

[2022-02-28 20:23] donghl17 opened #11148 "[dv/top] How to do top_earlgrey verification"
Hi,

I am trying to run top-level dv with Xcelium, but fails the `build` step. I am wondering how to fix these errors and what is the right way to do top-level dv.

The command I used is:
`util/dvsim/dvsim.py hw/top_earlgrey/dv/top_earlgrey_sim_cfgs.hjson -i chip_sw_uart_tx_rx --waves --tool xcelium`

I got errors as below:
[code]

[2022-02-28 21:52] #2704 closed

[2022-02-28 22:06] eunchan commented on #10823
intg_errors of msgfifo *and staterd* are not used. the integrity error of the main TL-UL interface is being checked in `kmac_reg_top.sv`.

Please correct me if I am wrong.

[2022-03-01 00:32] eunchan commented on #11078
SHA3 (in the spec) only supports below combinations:
SHA3-224, 256, 384, 513 / SHAKE 128, 256 / cSHAKE 128, 256

They are required to support TCG(? I don't recall which spec mandates KMAC128 , KMAC256). But we had discussed about the possibility of KMAC-512. So I opened up the module to allow KMAC-512. Still the error checking logic raises an error for that combination (SHAKE-512, cSHAKE-512).

In

[2022-03-01 01:37] matutem commented on #11143
Yes, you would also remove the rst_cpu_n input.

[2022-03-01 04:24] tjaychen opened #11156 "[clkmgr] Idle signal permanence"
This is a tracking issue to investigate how to tweak the `idle` signal from each transactional block such that they are more fault resistant.
The basic idea here is that if a block is "glitched" to idle, it should be able to recover if that's a temporary condition.

This will need to be brought up during the security working group to be further discussed.

[2022-03-01 04:24] tjaychen commented on #11156
@cdgori
@moidx
@felixmiller

[2022-03-01 05:00] tjaychen commented on #11139
from the perspective of `spi_host` block level, I believe we just need to make sure the incoming spi signals can correctly pass through the spi host to whatever agent is on the other side.

[2022-03-01 06:29] matutem opened #11161 "[dv/rstmgr] Check recording of multiple resets"
Send multiple resets for each rst_cpu_n active cycle to check all are recorded.

[2022-03-01 07:58] cdgori commented on #11156
This corresponds to the stuff we talked about earlier today right?  Assuming so... I'll elaborate:

We want the idle/ok-to-clock-gate signalling to be as "expansive" as possible.  Something like "state == IDLE" is kind of ideal (but not always possible) - with sparse state we'll get an alert if the state gets glitched, and if the ok-to-gate indicator is glitched, it should at most suppress one clo

[2022-03-01 10:47] rswarbrick commented on #11148
Hi there! That looks like the right command. Most of the warnings and errors there are stuff that you can ignore: they're telling us that we haven't defined some specific block-level tests yet. You can get a slightly less verbose version with:
[code]
(this should do the same thing, but doesn't read all the block-level files, so it shouldn't be as chatty)

I don't know why the build failed, though,

[2022-03-01 16:36] moidx commented on #6811
Closing as resolved. Please reopen if you have any follow up questions. Thanks

[2022-03-01 16:36] #6811 closed

[2022-03-01 16:40] timothytrippel commented on #11108
@semihalf-mazurek-michal The SW Working Group has approved this request. I will review your PR #11056.

Thanks for submitting this (and the PR)!

CC: @arunthomas @cfrantz @mundaym

[2022-03-01 16:42] rasmus-madsen opened #11166 "[aes] trigger.start - stays until it can be executed"
Currently in manual - if the trigger.start is set to 1 without providing a valid configuration
the trigger will stay until a valid configuration has been provided and then start.

Another example is if in auto mode - and the trigger.start register is set
the start will be ignored. but if then the mode is changed from auto to manual the start will trigger an operation with the current key/IV and mo

[2022-03-01 17:39] moidx commented on #8236
Hi @alphan, @mundaym is this issue still pending feedback from the security WG or has it been resolved?

[2022-03-01 17:42] alphan commented on #8236
#10749

[2022-03-01 17:45] #8236 closed

[2022-03-01 18:36] mwbranstad commented on #11012
Hi @cindychip I think this one goes to @martin-lueker.

[2022-03-01 18:49] msfschaffner opened #11171 "[otbn] Dmem window enhancement"
The isolation between the SW readable and SW unreadable portions of Dmem could be enhanced by employing different scrambling keys or even different physical scrambling devices / memories.

This is a future enhancement.

[2022-03-01 18:54] msfschaffner opened #11172 "[req/ack] Examine req/ack interfaces between IP blocks and enhance their security"
This is a future enhancement / cleanup task.

We should examine all req/ack interfaces and check whether additional crosschecks are needed in order to make these more secure.
The concern here are glitches on the req/ack lines that could affect the data being transferred accross these IP block interfaces.
Examples:

- EDN interfaces
- OTP scrambling key interfaces

[2022-03-01 19:18] rasmus-madsen commented on #11012
@cindychip one could argue it is in the name ;) "PWM"
Anyway
the basic behavior in a PWM is to generate a pulse with a specific duty cycle.
this is referenced as pulse mode in the verification plan, you are correct this mode is not actively named in the hardware spec
but at least there are hints as to what a pulse mode could be where the 3 modes are describes

[2022-03-01 19:26] cindychip commented on #11072
FPV is done with this PR: https://github.com/lowRISC/opentitan/pull/11129

[2022-03-01 19:37] mwbranstad commented on #11071
Yes - the obtn tests all should switch to non-boot mode configuration for the EDN blocks. There still may be an issue, but for sure it will lock up with two EDN blocks both programmed to boot_req_mode.

[2022-03-01 20:19] #10884 closed

[2022-03-01 20:27] #11142 closed

[2022-03-01 20:27] #11143 closed

[2022-03-01 20:39] msfschaffner commented on #4902
We probably want to come back to this in a future iteration. So let's leave it open and label it accordingly.

[2022-03-01 21:17] #10687 closed

[2022-03-01 21:38] a-will commented on #10092
Consider me among the frustrated. I think we ought to not keep such flaky tests in CI and instead, find a different strategy for this block.

[2022-03-01 22:25] mwbranstad commented on #11134
After digesting the two problems, here is my conclusion:
Problem 1: Agreed that zero is not useful, and interrupt should be gated with a zero depth status. Also, update doc to say that zero is reserved.
Problem 2: At construction, considered a depth register, but aim was to limit extra registers if possible (area, testing,etc). But there is no doubt it may be useful in both operation and debug mod

[2022-03-01 23:16] #10983 closed

[2022-03-01 23:24] #11121 closed

[2022-03-01 23:51] #10782 closed

[2022-03-02 02:40] #10779 closed

[2022-03-02 02:40] #10843 closed

[2022-03-02 03:11] #10952 closed

[2022-03-02 03:20] jpcrypt commented on #11113
Mystery solved: it turns out that what looked like variable execution time, was simply that I was reading Husky's `scope.adc.trig_count` (its measure of how many clock cycles the output trigger line was high for) *before* the OTBN application had completed. Sorry for the panic! Thanks @rswarbrick for the discussion which led me to eventually discover my mistake. Everything makes a lot more sense n

[2022-03-02 03:20] #11113 closed

[2022-03-02 10:03] rswarbrick commented on #11071
Ok, this is a firmware change that we need to make. Probably in the mask rom and also in our test rom. @mundaym: As lowRISC's resident mask rom guru :-), do you know the places that we need to tweak? (I can grep, but I'm worried I'll miss something)

[2022-03-02 11:48] zliu1Charlotte opened #11185 "Opantitan AES-128 clock cycles"
Hi,
I wonder why there are 12 cycles in the LUT AES-128, ~1 cycle per round.
How are these 12 clock cycles distributed when there is only 10 rounds/cycles for AES-128 encryption?
For DOM masked AES-128, it has 56 cycles, ~5 cycles per round.
How How are these 56 clock cycles distributed when there is only 10x5 cycles for AES-128 encryption?
Thanks for elaborating this more.

[2022-03-02 12:03] m-temp commented on #10823
- #11138 for the hash shadow register

[2022-03-02 12:53] rswarbrick commented on #11185
@vogelpi, who knows the most about the AES design.

[2022-03-02 16:11] mwbranstad commented on #5580
Following up on this issue post-V2 review. All the comments are still accurate. Unless there is still some confusion, I think we can close this issue. This function has been tested since this issue was written, so more reason to close.
@moidx please confirm no issues here and close if that is the case. thanks.

[2022-03-02 16:55] nikola-miladinovic opened #11191 "[flash_ctrl] Memory protection for INFO partition is not working as expected"
Memory protection for INFO partition is not working as expected while for DATA, INFO1 and REDUNDANCY partitions it is working correctly. Memory model implemented by myself in Flash scoreboard captures data but memory model from DUT is holding data to reset values (0xFFFF_FFFF). Branch for reproducing issue is: https://github.com/nikola-miladinovic/opentitan/tree/flash_ctrl_mp_regions
For seed 1 in

[2022-03-02 17:53] tjaychen commented on #11071
@mwbranstad just to clarify, i dont think the switch to continuous mode is something we intend to do in boot rom.
The main concern is that it will simply take too long.  I think the idea was always to do it in the stages after boot rom, so in this case it would probably be in the test itself.

[2022-03-02 17:57] cindychip opened #11194 "[pinmux] wkup count is not cleared when changing mode"
Hi Michael,

Quick question from this code: https://github.com/lowRISC/opentitan/blob/master/hw/ip/pinmux/rtl/pinmux_wkup.sv#L50
Looks like if user change modes between `HighTimed` and `LowTimed`, the `cnt_q/d` won't be cleared.
Should we clear the count when user switch modes?

Thanks,
Cindy

[2022-03-02 18:30] davebwil opened #11195 "[ast] Asserts in AST firing"
I have been working on updates for "chip_sw_sram_scrambled_access" and rebased my branch twice in the last couple of days. Since then I have been experiencing random firing of asserts in the AST block.

e.g.

from Xcelium
xmsim: *E,ASRTST (..../chip_earlgrey_asic-sim-xcelium/default/src/lowrisc_prim_mubi_0.1/rtl/prim_mubi4_sender.sv,92): (time 15876 NS) Assertion tb.dut.u_ast.u_ast_clks_byp.u_io_c

[2022-03-02 19:02] a-will commented on #2364
@alphan No, software must clear the data toggle for that specific case, since only software implements the USB Device Requests. Essentially, hardware's role is at the transaction level only.

This register is _not_ only for hardware debug.

[2022-03-02 19:39] mwbranstad commented on #11071
@tjaychen totally agree. I did not state that very well, mostly going straight to the root cause of the issue. As with a real system, I would expect the boot ROM to set EDN0 to boot mode, and EDN1 to either auto_req mode or sw port mode. Once up and running, the entropy complex should probably be all re-configured to what might be called mission mode.

[2022-03-02 19:51] Jacob-Levy commented on #11195
The AST does not have any asserts written in the ast_clk_byp.sv block. The block is using the prim_mubi4_sync.sv and prim_mubi4_sender.sv that has assertions that seem to be firing. It might be related to reset on those prim cell. @msfschaffner  is more familiar with those prim cell assertions.

[2022-03-02 22:04] a-will commented on #1677
With https://github.com/lowRISC/opentitan/pull/11086, we've moved to use DIOs for the signals that would become D+/D-, and all of the rest are inter-module signals that are adapted to the particular physical interface used by the implementation.

[2022-03-02 22:04] #1677 closed

[2022-03-02 22:11] cindychip commented on #11194
One more small thing: https://github.com/lowRISC/opentitan/blob/master/hw/ip/pinmux/rtl/pinmux_wkup.sv#L73
Here the mode has 3 bits but we only have 5 valid values, so any mode value that is larger than 5 is default to rising edge. Maybe we can document that in the pinmux doc (if not done already)?

[2022-03-02 22:50] timothytrippel opened #11199 "[bazel] cleanup bazel transition to host platform in `sign_bin` rule"
PR #11136 and #10864 restructured OpenTitan bazel rules to build and sign test images for flash. Part of this introduced a bazel transition from the `OPENTITAN_PLATFORM` config to the host platform config, in order to build the ROM_EXT signer tool, which is a dependency of the `sign_bin` rule. We should investigate other ways to enforce this configuration requirement, perhaps using the [`exec_comp

[2022-03-03 00:06] timothytrippel commented on #11108
Adding a task list:

_Addressed in #11056_:
- [x] format all existing files in `sw/host` with `rustfmt`
- [x] add `cargo fmt` invokation / check in `util/invoke_cargo.sh` to provide a temporary solution to enforce Rust formatting in CI

_Addressed in TBD_:
- [ ] provide a more long-term solution to rust format checking in CI (that will sustain into the future when we fully migrate to bazel) by:

[2022-03-03 00:45] martin-lueker opened #11207 "[entropy_src] FIPS non-compliance with RNG bit select"
When entropy_src is being used with the RNG bit select feature activated, the output is being marked as non fips compliant.
This was first observed in DV and is confirmed by RTL inspection of [this line](https://github.com/lowRISC/opentitan/blob/8eb2bc0879d85d0cd25aa3f6bbfb85f0bef69fb9/hw/ip/entropy_src/rtl/entropy_src_core.sv#L2379)

The specification seems silent on this, however my understandin

[2022-03-03 00:56] weicaiyang opened #11208 "[dv] Create FPV connectivity test for lc_escalation tests in top-level"
As discussed in an email thread, once the cpu is escalated then it is not able to run software. FPV connectivity test is a better way to verify this.

cc: @sriyerg @msfschaffner @davebwil @timothytrippel

[2022-03-03 01:05] msfschaffner commented on #11208
Indeed, this is probably the right way for most IPs since we verify all of these actions at the block level.

However, for the CPU itself, do we need a test that makes sure that indeed it does not run anymore once LC_ESCALATE_EN has been asserted?

I am not sure that path is tested at the block level, since this functionality is part of the `rv_core_ibex` wrapper, which I believe is not part of th

[2022-03-03 01:23] tjaychen commented on #11191
@nikola-miladinovic , i am not completely sure i'm looking at the right failure.
So let me describe it first, and you can let me know i'm roughly right.

When I run, I see the following error
[code]

When I look inside the waves, I see the test issuing a write to address 0x1647.
This should correspond to bank 0, info page type 0, and page 2.

But when I look at the supplied info page attributes, I

[2022-03-03 01:31] tjaychen commented on #11195
@matutem

so various people seem to be encountering some flakiness in this area. I still haven't had a chance to see a wave so I can't say for certain.

@davebwil if you happen to have a test that reproduces this, can you send it my way?

[2022-03-03 01:42] tjaychen commented on #11208
yeah that's something we should check.
I don't think it could be fully self contained, but it would be good to probe the fetch signals and possibly the PC is no longer advancing.

[2022-03-03 02:37] tjaychen commented on #11195
i think i have some idea why this is happening. I am discussing a few people offline, please stay tuned.

[2022-03-03 03:22] #10876 closed

[2022-03-03 04:38] timothytrippel commented on #10852
Adding a task list to track what needs to be done / is already done:

_Addressed in #11188:_
- [ ] add weak hooks to OTTF
- [ ] add meson build configurations

_Addressed in TBD_
- [ ] add bazel build configurations

[2022-03-03 06:04] weicaiyang commented on #11208
yeah, we don't have a block-level testbench to test this ibex glue logic in top_eargley, so we need to have a top-level SW test to verify it

[2022-03-03 08:41] zi-v commented on #11207
It seems we apply the 4-bit symbol tests on a single channel (after the '1 to 4 packer'). I don't think this complies with 90B mandatory health test.
Maybe we should have set the '1 to 4 packer' and mux after the health tests

[2022-03-03 08:56] vogelpi commented on #11185
Hi @zliu1Charlotte ,
the exact cycle counts are related to our cipher core architecture. In both cases (unmasked and DOM) the first cycle is used to load the input data and initial key into the internal registers (please refer to the [block diagram](https://docs.opentitan.org/hw/ip/aes/doc/#block-diagram) and the [detailed description, Step 4](https://docs.opentitan.org/hw/ip/aes/doc/#datapath-arc

[2022-03-03 10:32] jadephilipoom opened #11217 "[doc] Clearer getting-started documentation"
Related to #5181

I've just been helping some collaborators get set up building OpenTitan, and I think that some changes to the installation guide and getting started guides could really improve that setup experience, particularly for those who don't want to edit the hardware at all (like the collaborators I was working with). Some issues I noticed:
- The "Install Build Requirements" page (`docs/u

[2022-03-03 11:39] Jacob-Levy commented on #11195
The issue found to be the at aon_clk oscillator code (and others).
It is not egnouth to start the oscillator at time 0 with 0, it has to stay 0  during the first half of the period.
The 0 at time 0 was good for some runs but it failed in others.
I made sure the the free running oscillator stay at 0 for the first half period and it sould resolve the issue.

[2022-03-03 11:54] silvestrst commented on #8546
Hi @davebwil , as you are in charge of the SRAM tests. Would you be able to take over this issue for me please?

Some of the items on the list might be redundant, but I think you are in a better position to judge it.

Thanks you!

[2022-03-03 11:57] nikola-miladinovic commented on #11191
@tjaychen : I confirm that there are all 0. Also stands for bank 0, info page type 0 and page 1. These are creator and owner partitions so after enabling SW read/erase/program with lc_creator_seed_sw_rw_en, lc_owner_seed_sw_rw_en test is working as expected. Thanks for helping out. Also it is noticed that EN=0 field for all INFO partitions is prohibiting read/erase/program access.

[2022-03-03 11:58] davebwil commented on #8546
@silvestrst, Ok

[2022-03-03 12:00] silvestrst commented on #6009
Redundant, Rust integration in OT has moved on significantly.

[2022-03-03 12:00] #6009 closed

[2022-03-03 12:02] #4746 closed

[2022-03-03 12:03] silvestrst commented on #5353
@mundaym can this be closed?

[2022-03-03 12:04] mundaym commented on #5353
Yes I think so.

[2022-03-03 12:04] #5353 closed

[2022-03-03 12:04] silvestrst commented on #4351
Redundant, ROM_EXT signer has advanced significantly. Some of the previous points do not apply anymore.

[2022-03-03 12:04] #4351 closed

[2022-03-03 12:06] silvestrst commented on #3454
@mundaym  do you know the status of this, can it be closed?

[2022-03-03 12:07] #2737 closed

[2022-03-03 12:07] silvestrst commented on #2139
Redundant, DIFs are not production code.

[2022-03-03 12:07] #2139 closed

[2022-03-03 12:08] mundaym commented on #3454
Let's keep this open for now until we can review it.

[2022-03-03 12:08] #1588 closed

[2022-03-03 17:19] tjaychen commented on #11191
sounds good. Is everything working correctly now @nikola-miladinovic ?
if yes, would you mind closing this?

[2022-03-03 18:37] tjaychen commented on #11207
I honestly can't remember why we have the bit select mode. Maybe as @mwbranstad said it is meant to debug specific channels..because using all the bits is way faster, and i would think that's the mode we want to stick in.

@zi-v was there any worry from your end that one of the channels wouldn't properly behave and we needed a mechanism to exclude it? IF that's the worry, honestly I think it's oka

[2022-03-03 18:42] zi-v commented on #11207
In my mind it was for both debug and fallback option. Note that if we'll ever want to use it fallback, we can still run the health test with SW. It just means that we need to restart the module every time we need fresh entropy because we can't really run continuous health tests with SW.
I agree it is a reasonable decision to keep it as is at this stage.

[2022-03-03 18:46] tjaychen commented on #11207
thanks @zi-v
@martin-lueker should we file a separate issue as future enhancement (or we could re-name this one) to fix the symbol packing as Ziv pointed out?

[2022-03-03 18:57] nikola-miladinovic commented on #11191
OK, closing issue.

[2022-03-03 18:57] #11191 closed

[2022-03-03 19:44] martin-lueker commented on #11207
Sure, we can revise this one.

[2022-03-03 19:48] martin-lueker commented on #11207
Updated and assigned low priority

[2022-03-03 20:29] #10857 closed

[2022-03-03 22:35] weicaiyang opened #11235 "[keymgr, flash] question about finding flash seeds for keymgr"
@tjaychen

I'm creating a top-level test for keymgr, which needs to get some secret seeds from flash.
I wait until flash init is completed, but seeds get all 1s. Should these seed be set to a constant random value?
![Screen Shot 2022-03-03 at 2 02 02 PM](https://user-images.githubusercontent.com/49293026/156662147-d1b37624-02ea-4443-a1dc-da3597b93e26.png)

BTW,  looks like `hw2reg.status.init_wip.

[2022-03-03 22:37] tjaychen commented on #11235
o that's not good on the init, thanks for catching that.

For the seed value, we don't directly backdoor load it right now in the environment. So the test I had worked on awhile back actually wrote the flash values in the test, rebooted and continued that way.  Do you want to try that? Of course backdoor loading in system verilog works too.

[2022-03-03 22:38] tjaychen commented on #11195
i believe this should be fixed now, please give it a try and let us know.

[2022-03-03 22:40] tjaychen commented on #10326
this has been addressed through various open and closed source fixes.

[2022-03-03 22:40] #10326 closed

[2022-03-03 22:41] tjaychen commented on #10071
should we close this now? It seems like everything that's needed has been added.

[2022-03-03 22:42] #8983 closed

[2022-03-03 22:44] #8611 closed

[2022-03-03 22:46] tjaychen commented on #8610
this test has been added [here](https://github.com/lowRISC/opentitan/blob/master/sw/device/tests/clkmgr_peri_off_test.c).

[2022-03-03 22:46] #8610 closed

[2022-03-03 22:46] tjaychen commented on #11235
yep that's right! it does both flash and otp manipulation.

[2022-03-03 22:50] tjaychen commented on #6821
i feel like this is stale by now.

[2022-03-03 22:50] #6821 closed

[2022-03-03 22:51] tjaychen commented on #3930
i'll close this for now. If there are objections, please reopen.

[2022-03-03 22:51] #3930 closed

[2022-03-03 22:52] #2724 closed

[2022-03-03 23:45] rswarbrick commented on #10071
Were we keeping it open until we'd upgraded the warnings to errors?

[2022-03-03 23:52] tjaychen commented on #10071
ah that might be a while until i officially move all my stupid templated
blocks over to ip_autogen...

On Thu, Mar 3, 2022 at 3:46 PM Rupert Swarbrick ***@***.***>
wrote:

[2022-03-03 23:59] #10678 closed

[2022-03-04 00:17] msfschaffner commented on #10071
@tjaychen I believe we should have support for both IPgen'd and legacy gen'd blocks... or does that not fully work on some of your blocks?

[2022-03-04 00:27] tjaychen commented on #10071
o it's not that. It's because some of my blocks are really dependent on top level (ie, the hjson alone isn't enough, it actually needs to wait for other blocks to be parsed), so the hw/ip/* stuff are not really up to date and will be missing certain statements, leading to warnings.

[2022-03-04 00:31] weicaiyang commented on #2464
as discussed with Tim, we plan to move ast inside the top_earlgrey. Closing this issue.

[2022-03-04 00:31] #2464 closed

[2022-03-04 00:43] weicaiyang commented on #11235
yes, that's the plan. Just discussed with Michael and Cindy, we need to probe OTP to get the root key. I will probably probe some internal keymgr key_state that aren't exposed to outside, and compare them as well.

[2022-03-04 00:50] tjaychen commented on #11235
why not probe directly on the `keymgr` boundary? or are you trying to pull it out of the otp image?
For the root key, assuming you follow the example test i gave, you actually know what it is, because you program it into the otp.

I was actually thinking more the internal constants, things you can't program that would make more sense to probe.

[2022-03-04 01:12] weicaiyang commented on #11235
I feel getting it from the otp image may be slightly better, as it's the source, in case it's not propagated to the boundary correctly.

I only see you lock the partition, where did you program root key? In dv test, we load the image, so we don't need to program it.
https://github.com/lowRISC/opentitan/blob/161f2c1f43b0f575b95da2c69b3022bf6f335e91/sw/device/silicon_creator/lib/drivers/keymgr_funct

[2022-03-04 01:18] cindychip opened #11241 "[pinmux] V2 action items"
Action items:

- [x] Generate a UVM TB or develop FPV tests to cover bus integrity, alert and countermeasures for V2S
       Done: issue https://github.com/lowRISC/opentitan/issues/11295

- [x] File an issue for creating assertions to boot reg COI coverage for write to reach V3
        Done: issue #11242

- [x] File an issue to enhance FPV_csr to test d_error (including protocol violations, OOB et

[2022-03-04 01:20] cindychip opened #11242 "[fpv/pinmux] assertions for csr write"
Create assertions to file the missing COI coverage checking for csr reg write.

[2022-03-04 01:20] tjaychen commented on #11235
o oops, i kind of forgot, i lock it and just rely on some random value from
the otp image.
uhh..let me correct myself ..you COULD program it :)

but are you going to generate the expected value in software? or in sv land?
if it's the latter, then i guess reading backdoor via otp is probably way
easier.

On Thu, Mar 3, 2022 at 5:12 PM weicaiyang ***@***.***> wrote:

[2022-03-04 01:21] cindychip opened #11243 "[fpv/pinmux] Enhance tlul_assert to check d_error"
Enhance tlul_assert.sv to test d_error (including protocol violations, OOB etc) and integrity error
For example: https://github.com/lowRISC/opentitan/blob/master/hw/ip/tlul/rtl/tlul_assert.sv#L234-L242
These assumptions might prevent error cases from triggering.

[2022-03-04 01:30] weicaiyang commented on #11235
Thanks for the clarification. I will probably just backdoor read the root key. I may try to call the C function to compute the kmac digest value in C code.

[2022-03-04 01:33] tjaychen commented on #11235
btw, i'd recommend invoking the c function from system verilog land if you can.
since you have to probe / backdoor read, this test is already not portable to other platforms. If that's the case, there's probably no reason to force yourself to do computation in C only on ibex.  That could take quite awhile.

[2022-03-04 04:06] weicaiyang opened #11245 "[dv] VCS option -xprop=mmsopt doesn't work in some tests"
This error occurs in some tests. It's fine when `-xprop=mmsopt` is removed

Edit: backslack after #\ has been inserted to avoid linking to many existing unrelated GitHub issues.

Thanks @tjaychen for finding this issue and the root cause.

[2022-03-04 04:44] weicaiyang commented on #11245
To reproduce this case, get the PR https://github.com/lowRISC/opentitan/pull/11154 and use this command:

[2022-03-04 04:50] weicaiyang commented on #11235
Make sense. Thanks for the suggestion.

[2022-03-04 10:18] SahkaRum opened #11249 "[ipgen] ip generation errors"
generation of rv_plic IP leads to python script error.

[2022-03-04 11:18] rswarbrick commented on #11249
Thanks for the report! The problem is that you didn't add a config file and we had some missing error checking in the script. The error check is fixed in #11250 but you should be able to get something sensible by running e.g.
[code]
Note that our topgen process normally constructs these configurations on the fly, rather than loading them from a file. But we can cheat and grab one of the ones that

[2022-03-04 13:35] vogelpi commented on #11166
Thanks for filing the issue @rasmus-madsen . I completely agree that this behavior is counter intuitive and that the design should be changed to clear the trigger if it cannot be executed. I've filed a PR here #11254.

[2022-03-04 14:17] GregAC commented on #10523
@msfschaffner @tjaychen @cdgori @moidx  once the Ibex PR: https://github.com/lowRISC/ibex/pull/1515 is merged and we vendor across I believe all my actions for Ibex D2S will be complete. Let's aim to hit that early next week.

Note I've added a new minor alert, one that occurs in icache ECC errors. There was a TODO within the Ibex RTL that indicated this was desired (ICache just ditches and refetc

[2022-03-04 15:37] #10343 closed

[2022-03-04 15:38] TimEwins commented on #10343
We can close this Issue now

[2022-03-04 15:38] NigelScales opened #11256 "[adc_ctrl] ADC_CTRL does not signal power down to ADC in low power mode"
ADC_CTRL does not signal power down to ADC in low power mode.
The adc_o.pd port doesn't reflect the low power states of the state machine.

To reproduce:
[code]
![image](https://user-images.githubusercontent.com/78102677/156793352-11fc3530-33a3-4f70-8ed4-3c0b571eb3e7.png)

[2022-03-04 16:45] msfschaffner commented on #11090
We discussed and approved this RFC in the TC meeting today.

[2022-03-04 16:47] msfschaffner commented on #7972
We discussed and approved this RFC in the TC meeting today.

See also [RFC doc](https://docs.google.com/document/d/1aIbGVyQBniR8Lq3GWh3dwqEk5apj_L3DgsylRQfbCaQ/edit#).

[2022-03-04 16:50] davebwil commented on #11195
Thanks, the asserts are now gone. (on Xcelium.)
However, I am having a problem with VCS. The simulator is crashing. I tried this on a clean checkout on a different branch to isolate it from my test under development and used some existing tests (specifically chip_sw_sram_ctrl_smoketest and chip_sw_kmac_mode_cshake_test).

Xcelium seems to work ok.

An example of the VCS run.log is below. I don't k

[2022-03-04 17:08] SahkaRum commented on #11249
Thanks for response

[2022-03-04 17:08] #11249 closed

[2022-03-04 18:07] tjaychen commented on #11195
@davebwil this latest failure is related to #11246
just get the latest, and things should be okay.

[2022-03-04 18:07] tjaychen commented on #11195
if it's okay with you, i will close this first since the issue is resolved on at least xcelium and the vcs issue is something else.

[2022-03-04 18:07] #11195 closed

[2022-03-04 18:08] tjaychen commented on #11256
great catch, let me have a look.

[2022-03-04 18:14] #8464 closed

[2022-03-04 18:14] #11134 closed

[2022-03-04 19:05] msfschaffner commented on #5630
Has this been addressed by now?

[2022-03-04 19:33] cindychip commented on #396
Last item documented in issue #11243

[2022-03-04 19:33] #396 closed

[2022-03-04 19:42] msfschaffner commented on #10071
ah ok, got it.

[2022-03-04 19:58] msfschaffner commented on #10523
Thanks @GregAC. Regarding the ECC error, does that have to be fatal? Just bringing this up since we treat ECC errors on the bus or coming from SRAM as fatal in other cases...

[2022-03-04 20:09] weicaiyang commented on #11090
Thanks @msfschaffner. Closing this issue

[2022-03-04 20:09] #11090 closed

[2022-03-04 21:26] mcy commented on #10750
Jade and I were chatting about another

[2022-03-04 21:46] msfschaffner commented on #10976
Hey @rswarbrick - I think your assumptions make sense for a first order estimation. There may be a slight statistical bias, though, since the diffusion layer employed does not have cryptographic strength. It's would be interesting to gathering some statistics at some point (just randomly inject faults and check ECC after unscrambling) -  but I don't think that is high prio at the moment.

[2022-03-04 22:00] donghl17 commented on #11148
Thanks! We've fixed some environment setups and the issue has been solved.

[2022-03-04 22:27] matutem opened #11264 "[dv/ast] Provide flags to run with calibrated USB frequency"
The current ast model seems to come up with pre-calibration USB frequency. For most tests we expect the USB frequency to be post-calibration at nominal +- 0.25%. There are tests that perform calibration, and for those we can expect a pre-calibration frequency.

The ask is to provide some way to configure the AST with post-calibration USB frequency so the majority of tests won't need to worry about

[2022-03-04 22:29] tjaychen commented on #11264
@Jacob-Levy Could you add a plugarg or something for it? Similar to the aon frequency speed-up?

[2022-03-04 22:34] Jacob-Levy commented on #11264
Can those tests start with a CSR wriet to InitEn address? Or add to the init of those tests?

[2022-03-04 22:35] tjaychen commented on #11264
hey Jacob, these tests (software tests), should include the ast / otp init already.
I think the issue is these are init'd to 48MHz +/- 2.5%, and for example fails our frequency measurement tests (this is a security countermeasure test).

[2022-03-04 22:46] Jacob-Levy commented on #11264
The calibrated USB clock is not in spec for the OS model?

[2022-03-04 22:55] tjaychen commented on #11264
it's the first case. Instead of 48MHz, we are getting 47.2MHz because the ast modeled usb drift.
@matutem has a separate test case, where for security purposes we have hardware that measures the usb frequency and we expect 48MHz.

So we just want to be able to test under ideal circumstances whether this behaves correctly.

[2022-03-04 23:00] Jacob-Levy commented on #11264
Let me check if I can diable the drift... will use plusargs if needed.

[2022-03-04 23:05] cindychip opened #11266 "[otp] In FPV, fatal FSM error was gated by non-fatal errors, and did not send out fatal alert"
Hi Michael,

I am using the countermeasure assertions implemented by @weicaiyang and you, to run FPV, eg: https://github.com/lowRISC/opentitan/blob/master/hw/ip/otp_ctrl/rtl/otp_ctrl.sv#L1124

And I found a countercex in the screenshot below:
So if you look at the cursor with `current 20`, that is where FPV injected a error on `state_o` coming out of the sparse_fsm.
But `error_q` did not change fr

[2022-03-04 23:08] Jacob-Levy commented on #11264
rand32 = $urandom_range((9'd416), -(9'd416));  // +/-416ps (+/-2% max)
I was aiming to 48MHz +/-2%. Need to check my calulations

[2022-03-04 23:27] msfschaffner commented on #11266
Hey @cindychip!
If the FSM is already in the terminal `ErrorSt` due to another reason (e.g. `AccessError`), the error code is not updated on purpose.
So the problem here is likely that OTP has multiple fatal error conditions, and they are not signalled via the same alert channel.

Design-impact wise, it is probably not a good idea to change the number of alert channels at this point.
However, what

[2022-03-04 23:29] Jacob-Levy commented on #11264
48NHz - 2.5%  = 46,8MHz  &
48MHz + 2.5% = 49.2MHz
So for ref_val=0 (no beacon) 47.2MHz is within spec. turn on the beacon and you get 48MHz.

[2022-03-04 23:30] tjaychen commented on #11264
yes that's true. What i'm trying to say is that not every test will turn on the beacon because the usb overhead is very high.
So we'd like the option for some tests, to pretend like the beacon is turned on and that everything is behaving well.

There will be separate tests to check the beacon calibration.

[2022-03-04 23:36] cindychip commented on #11266
Thanks @msfschaffner,
I could be wrong, but i though for this particular case - say `AccessError` does not trigger an y terminal conditions. It is a recoverable error, and `state_q` is still functional after the `AccessError` is triggered?

[2022-03-04 23:37] Jacob-Levy commented on #11264
OK, I will add a plusargs for becon set (ref_val=1)...

[2022-03-04 23:38] tjaychen commented on #11264
thank you Jacob!

On Fri, Mar 4, 2022 at 3:37 PM Jacob ***@***.***> wrote:

[2022-03-04 23:42] Jacob-Levy commented on #11264
Yes.
If you don't set the plusargs it will stay as it is now. In any case, it will only apply to the calibrated clock.

[2022-03-04 23:53] Jacob-Levy commented on #11264
+usb_beacon_on=n   -  n  us is  from the clock calibration to  becon on.

[2022-03-04 23:57] msfschaffner commented on #11266
Hm, in that case the main issue really is that the `AccessError` error code is not overridden when we move into the error state.

Nevertheless, there are other fatal conditions such as `MacroError` and `MacroEccUncorrError` which will be signalled via a different alert channel.
So even if we fix the behavior for `AccessError`, we will still run into the issue I have described above.

[2022-03-05 00:14] cindychip commented on #11266
That is true - `AccessError` and `MacroEccCorrErr` might be the main issues.
For the other fatal error, I can try do something as assumptions to not let error_q go to those fatal stages.

[2022-03-05 00:42] cdgori commented on #11207
Seems correct to me that in single-line it's not expected to be flagged as FIPS mode compliant entropy, to me - you're in a diagnostic/debug mode.

How you want to run the health tests at that point, I'm probably not the one to ask, it's more of a production/failure analysis workflow issue, so I defer to @zi-v et al.

[2022-03-05 00:50] cdgori commented on #10532
Sorry for late comment - this is my understanding as well.

It is also not surprising to me that we need to support these flows given the way data is processed in some of the AES modes.

[2022-03-05 00:58] weicaiyang commented on #11235
closing this via [#11238](https://github.com/lowRISC/opentitan/pull/11238).

[2022-03-05 00:58] #11235 closed

[2022-03-05 01:16] shanshuixiangyi opened #11269 "secded_gen.py"
[code]
At which step the error occurs when I enter K more than 120? For example K=266, this function def _hsiao_code(k, m) may be error ?

[2022-03-05 01:20] tjaychen commented on #11269
could you show your error message? i'm assuming the first case?
large k don't work too well with hsiao codes, it takes awhile to converge last i checked.

if you want to do large k, probably want to do hamming instead, since that's deterministic.

[2022-03-05 01:48] #11194 closed

[2022-03-05 01:58] msfschaffner commented on #11266
Ok let me take a look at that.

[2022-03-05 02:49] msfschaffner commented on #11266
@cindychip can you check whether https://github.com/lowRISC/opentitan/pull/11274 fixes these issues?

[2022-03-05 03:06] tjaychen commented on #11266
question, @msfschaffner i'm guessing your initial thinking was to capture the "first" error so to speak.  So only if there are there no errors you trickle down to the fsm error? This actually still seems like it would be pretty useful.

It actually looks like the fatal_check error already has its own alert, why not just make the fsm_error it's own signal and bypass the filtering directly into the

[2022-03-05 03:40] msfschaffner commented on #11266
Yeah that was the original intent.
You are right, pulling out explicit error signals is probably safer.
I adapted the PR linked above accordingly.

[2022-03-05 10:26] Jacob-Levy commented on #11264
@matutem  @tjaychen  Addressed by [AST] Add usb_beacon_on plusargs option to usb_osc.sv #11275

[2022-03-06 01:27] #11256 closed

[2022-03-07 10:02] jason-hoddinett opened #11279 "[pwm/dv] pwm failing V2 tests, potential corner case."
There appears to be an intermittent failure occurring on V2 tests, this is occurring in approx 10% in 50 tests run.

The issue appears to be caused by the tlm fifo containing an uncompared item upon completion of the test.

Related PR: #11055

[2022-03-07 11:23] #11012 closed

[2022-03-07 13:11] semihalf-mazurek-michal commented on #10217
In connection to Issue [#10889](https://github.com/lowRISC/opentitan/issues/10889) and documentation above following task list was proposed:

Extending the Transport trait with necessary modifications
- [ ] Add new 'Emulator' trait and capabilities.

Add new backend for TockOS Host Emulation - Ti50Emulator:
- [ ] Implementation of Emulator trait
- [ ] Implementation of GPIO trait
- [ ] Implementat

[2022-03-07 15:36] visbaz opened #11287 "SPI_HOST: Passthrough mode design"
Pass through mode in specification:

Pass-through mode for coordination with [SPI_DEVICE IP]

If [Pass-through mode] is enabled then the CSB lines are controlled by neither the SPI_HOST hardware nor the firmware register. In Pass-though mode, control of the CSB lines passes directly to the inter-module port, passthrough_i.csb.

Pass-through Mode
The SPI_HOST also supports a special “Pass-through”

[2022-03-07 16:52] davebwil opened #11290 "[sw/runtime] IBEX_SPIN_FOR not working consistently?"
While making updates for the test "chip_sw_sram_ctrl_ret_scrambled_access"
there seems to be a problem with the IBEX_SPIN_FOR macro. Sometimes it
will work as expected and sometimes not. Is there something that
is dynamic about this, maybe a compiler optimization or reliance on
simulation timing (seems to be consistent between VCS and Xcelium)?

This relates to the pull request #10490

For example

[2022-03-07 17:35] msfschaffner commented on #4975
Support for this has been merged upstream: https://github.com/pulp-platform/riscv-dbg/pull/106.

However, there is a fix for a CDC bug outstanding here https://github.com/pulp-platform/riscv-dbg/pull/123 and I would recommend to wait for that one to land before we vendor in anything.

[2022-03-07 17:37] msfschaffner commented on #4975
Closing this issue since it is a duplicate.
Updates will be tracked here from now on:  #11095.

[2022-03-07 17:38] #4975 closed

[2022-03-07 17:38] msfschaffner commented on #11095
Support for this has been merged upstream: https://github.com/pulp-platform/riscv-dbg/pull/106.

However, there is a fix for a CDC bug outstanding here https://github.com/pulp-platform/riscv-dbg/pull/123 and I would recommend to wait for that one to land before we vendor in anything.

[2022-03-07 17:39] msfschaffner commented on #11095
CC @jrrk2

[2022-03-07 17:44] GregAC opened #11291 "[rv_core_ibex, security] ICache ECC errors and cache memory initialization"
I've just implemented a minor alert from Ibex if the ICache encounters an ECC error and ran into an issue.

We instantly hit a minor alert when we enable the ICache, this is due to two reasons

1. We only initialise the tag ram (so it's all invalid tags with valid ECC) at reset
2. We mux data ram read data based upon hit/miss and then do our ECC check on the way we hit on

So when we do our first

[2022-03-07 17:48] visbaz opened #11292 "SPI_HOST: winbond flash spi model"
name: winbond
      desc: '''
          Replace SPI agent with the Winbond Flash model

Model mentioned in the specification: https://www.winbond.com/resource-files/W25Q01JV%20SPI%20RevB%2011132019.pdf

Queries :
winbond model in the repository ?

[2022-03-07 17:51] eunchan commented on #10823
Thanks @m-temp for taking care of this issue #11138. Looks like we completed the AIs. I will create a PR to move KMAC to D2S.

[2022-03-07 18:09] eunchan commented on #10724
KMAC does not block the ROM_CTRL request after processing a request. The App interface expects the requesters may run multiple times.

[2022-03-07 18:29] tjaychen commented on #11264
thanks @Jacob-Levy , i'll let @matutem approve and merge the PR.

[2022-03-07 18:48] tjaychen commented on #11287
@eunchan
@visbaz
passthrough enablement is completely controlled through the `spi_host` interface, please see [here](https://github.com/lowRISC/opentitan/blob/master/hw/ip/spi_host/rtl/spi_host.sv#L103).

So from a block level testing perspective you just need to stimulate that.

If we were to do full chip level testing, then most of the interesting configuration is inside `spi_device` and not `sp

[2022-03-07 19:05] msfschaffner commented on #10724
Should we make this a future enhancement request then (i.e. label it as P3), and drop the `chip_sw_rom_ctrl_reset_glitch` test for now?

CC @sriyerg

[2022-03-07 19:12] eunchan opened #11293 "[spi_device] `addr_inc` not updated in readcmd"
@a-will reported. `addr_inc` is not updated in read operation.

`addr_inc` should be asserted in `MainAddress` state machine (with the condition of word boundary cross)

CC: @a-will @tjaychen

[2022-03-07 19:36] cindychip opened #11295 "[ip/pinmux] V2S item"
Issue: Pinmux is a FPV only testbench and does not have standard countermeasure checkings from DV.
But Pinmux D2S includes standard tlul bus integrity error checking.

Discussed with Sri and this is what we summarized:
Two solutions:
1). Create another FPV pinmux testbench to verify bus integrity error by putting a stopat at the ECC calculation logic.
     Concerns: two FPV testbench for pinmux, h

[2022-03-07 20:25] zi-v opened #11296 "[otp_ctrl/rtl] Suggestion for OTP test bus blocking enhancement"
Looking at:
https://github.com/lowRISC/opentitan/blob/f20ce2ae6f95448305ef88a9a43349364feb4f34/hw/ip/otp_ctrl/rtl/otp_ctrl.sv#L727-L730

It seems that depending on the synthesis implementation, a single fault may bypass the bus blocking
For example, currently, prim_tl_h2d_gated is equivalent to:
assign dft_en_single_bit = (lc_dft_en[0] == lc_ctrl_pkg::On);
assign prim_tl_h2d_gated = dft_en_single_

[2022-03-07 20:50] martin-lueker commented on #11292
Hi @sriyerg: Has anyone obtained a BFM for this yet?  Once the BFM is obtained, where should it go?

[2022-03-07 21:02] msfschaffner commented on #11296
Thanks for bringing this up, @zi-v.

Note that this implementation already uses two decoders that consume two separately buffered copies of `lc_dft_en`. One copy is used to gate the incoming TL-UL signals, and one copy is used to gate the outgoing TL-UL signals (note the two different indexes `[0]` and `[1]` in the code. So one single fault alone is not sufficient to bypass this mechanism.

That b

[2022-03-07 21:20] rswarbrick commented on #11291
I'm obviously missing something but... can't we just squash ECC failures in the data ram on a cache miss?

[2022-03-07 22:25] GregAC commented on #11291
Yes, that's option 3

[2022-03-07 23:34] sriyerg commented on #11292
I have not, yet. It should be straightforward to download it from their website and upstream it. It needs to go into `hw/vendor/winbond`.

[2022-03-07 23:41] #10901 closed

[2022-03-08 00:30] msfschaffner commented on #11291
So in general I would say we sould check whenever we know that data or tags are valid. Hence I am inclined to go with option 3 as well.

[2022-03-08 00:36] msfschaffner commented on #10523
I see - this is an option we've not considered before since other SRAMs in the system can't refetch the data in case of bad integrity.

I was mainly thinking that making it fatal would align the behavior with other integrity faults in the system, since they are all treated as fatal faults.

I would be interested in what others think.

[2022-03-08 01:02] matutem opened #11301 "[ast,clkmgr] The aon clock slows down with extclk"
When clkmgr's extclk_ctrl.sel is True and extclk_ctrl.hi_speed_sel is True the aon clock frequency is reduced to about 100 kHz. This is unexpected. Keeping sel True and setting hi_speed_sel to False brings the aon clock frequency to its nominal value.

A side-effect of this is that when the clkmgr is programmed with extclk and high speed select enabled the io_div2 and io_div4 measurement modules (

[2022-03-08 01:03] matutem commented on #11301
Assigned to @tjaychen, but please reassign as needed.

[2022-03-08 01:18] msfschaffner commented on #11245
The fix has been merged - but we are keeping the bug open to track any related tool fixes.

[2022-03-08 01:22] weicaiyang commented on #11245
Already ping Synopsys AE to look at this issue. Will keep this posted if I receive any update from them.

[2022-03-08 01:26] msfschaffner commented on #11185
Closing this for now. Please reopen if the question has not been fully addressed.

[2022-03-08 01:26] #11185 closed

[2022-03-08 01:28] #11148 closed

[2022-03-08 01:35] msfschaffner commented on #11133
Please feel free to re-label and re-assign if this does seem correct.

[2022-03-08 01:36] msfschaffner commented on #11126
@cindychip can this be closed?

[2022-03-08 01:41] matutem commented on #11301
Here are some waves:
![image](https://user-images.githubusercontent.com/80294896/157146920-72d6d353-b407-49b3-a2ed-c8dee2562730.png)

[2022-03-08 02:54] sriyerg commented on #11139
We would like to see command filtering in action too, at the chip level, so this will be slightly more involved. I will update it soon. Thanks!

[2022-03-08 04:38] zi-v commented on #11296
Getting the bus stuck on a SW access is hard to debug. On the other hand, if you fix it, you need to make sure that it is not possible to perform an attack with only one side of the I/F (e.g. read a secret value or write RMA sequence directly to OTP).
IMO you should fix both (avoid getting stuck and enhance the protection), but it is your call.

[2022-03-08 05:12] msfschaffner commented on #10327
@cindychip, @sha-ron has this been resolved by now?

[2022-03-08 05:13] msfschaffner commented on #10366
Has this been fixed? If so, please close the issue.

[2022-03-08 05:16] msfschaffner commented on #10453
This is related to other LC-gated TL-UL interfaces, like the one in OTP_CTRL, see https://github.com/lowRISC/opentitan/issues/11296.

@tjaychen should we in general handle these more gracefully and return a bus error in all these cases?

CC @zi-v

[2022-03-08 05:17] msfschaffner commented on #10458
@a-will can this be closed, or should it be updated?

[2022-03-08 05:31] msfschaffner commented on #9631
@camaabdo could you resolve the problem by now or does the issue still persist?

[2022-03-08 05:32] msfschaffner commented on #9652
@drewmacrae can this issue be updated or closed?

[2022-03-08 05:33] a-will commented on #10458
Just waiting for https://github.com/lowRISC/opentitan/pull/10821 to be merged.

[2022-03-08 05:34] msfschaffner commented on #9741
@eunchan can this issue be updated or closed?

[2022-03-08 05:38] msfschaffner commented on #9784
Is this still failing? If so, do other folks have to be pulled in to help debugging?

[2022-03-08 05:48] msfschaffner commented on #9984
@arunthomas this may have to be re-labeled.

[2022-03-08 05:55] msfschaffner commented on #10199
@cindychip can you update this issue so that we know which items we need to revisit at V2S?

[2022-03-08 05:57] msfschaffner commented on #9580
Has this issue been resolved? If yes, can we close it?

[2022-03-08 05:59] timothytrippel commented on #9984
Done. I marked as low-priority for now, as this will only be an issue if this test is re-purposed for the power virus test (where concurrency, and therefore FreeRTOS use, is turned on).

[2022-03-08 06:02] a-will commented on #10053
Removing the usbdev IP component: The synchronization issue mentioned is about the SAM3X microcontroller on the CW310, not the OT IP.

[2022-03-08 06:03] msfschaffner commented on #10523
Unrelated: I just stumbled accross this issue here https://github.com/lowRISC/opentitan/issues/9528. @GregAC can you take a look? It sounds like that one should be addressed as part of D2S, too.

[2022-03-08 06:04] hcindyl commented on #9580
I believe it is the same issue of https://github.com/lowRISC/opentitan/issues/6978 which is solved by the mundane update in https://github.com/lowRISC/opentitan/pull/9920

[2022-03-08 06:07] a-will commented on #10053
On the general assistance side, make sure the software was built from the same commit as the FPGA image (and that the software is built _first_, before the FPGA bitstream).

Otherwise, for reproducing the issue, what is the git commit hash that is giving trouble?

[2022-03-08 06:10] msfschaffner commented on #8442
I am not sure this is implemented already.
If so, please close the issue.

[2022-03-08 06:15] msfschaffner commented on #8702
@sriyerg has this been added to the testplan?

[2022-03-08 06:17] msfschaffner commented on #8707
@saki-osive could you resolve the build problems on your end? If yes, please close the issue.

[2022-03-08 06:17] msfschaffner commented on #8716
@moidx can this one be closed, or is there more work needed?

[2022-03-08 06:19] msfschaffner commented on #8721
@timothytrippel can this issue be closed?

[2022-03-08 06:20] msfschaffner commented on #8769
CC @arunthomas

[2022-03-08 06:21] #8721 closed

[2022-03-08 06:22] msfschaffner commented on #8832
Does this error still persist or can we close the issue?

[2022-03-08 06:24] msfschaffner commented on #9012
@matutem has this issue been addressed?

[2022-03-08 06:26] msfschaffner commented on #8277
CC @arunthomas

[2022-03-08 06:31] msfschaffner commented on #8120
I wasn't sure whether this is supposed to be an enhancement, or something that we need to do - hence I labeled for D2S.
Please relabel if this is inaccurate.

[2022-03-08 06:34] msfschaffner commented on #8059
It appears that this issue has been resolved and can be closed (i.e., the nexysvideo board is no longer supported at this time, and the cw310 board should be used for FPGA builds).

Please feel free to reopen if that is not the case.

[2022-03-08 06:34] #8059 closed

[2022-03-08 06:40] msfschaffner commented on #7591
@matutem I believe the DV side of this has by now also progressed further. Can we close this or do you still want to keep it open?

[2022-03-08 06:41] msfschaffner commented on #7553
@martin-lueker, can we close this issue?

[2022-03-08 06:43] msfschaffner commented on #7347
Is this issue up to date?

[2022-03-08 07:04] cindychip commented on #10199
It is hard to generize it into list, because IPs have different security countermeasure items. Maybe just review the UNR before D2S sign off? Also this PR should help: https://github.com/lowRISC/opentitan/pull/10559

[2022-03-08 08:06] GregAC commented on #7832
Hi @nicolast0604

OpenTitan has JTAG which could be connected to the Seggar J-link. To do this with the FPGA you'd need an FPGA build that exposes the JTAG pins to an external header than the probe could then be plugged into.

OpenOCD can be used to connect to the RISC-V debug module over JTAG and provide a remote target that GDB can connect to. Eclipse or other IDEs can use this to implement inte

[2022-03-08 08:15] visbaz commented on #11287
I understand from spi_host.sv top and the block diagram that when passthrough_en is asserted then mux by passes host output and passthrough input is sent to output.

**my query now in detail is passthrough_en is a top IO signal and passthrough input to output path is independent of spi_host datapath.**

- How would processor or software interacting with host know that passthrough is ongoing?
- whe

[2022-03-08 10:03] bluewww commented on #11095
I reverted the issue that introduced the CDC trst bug [here](https://github.com/pulp-platform/riscv-dbg/commit/7b282f1c790ea9666aacdfd1fdac749628d0a833).

[2022-03-08 11:53] drewmacrae commented on #9784
I think @timothytrippel did some work on this. I'm not familiar with the POR for Mask ROM debuggability WRT printing details on test failures.

[2022-03-08 12:56] sha-ron commented on #10327
No, if we he have a working JTAG test on the foundry database I will close this.

[2022-03-08 14:36] alphan commented on #7347
Should be fixed by #8170, there also have been additional updates since then.

[2022-03-08 14:36] #7347 closed

[2022-03-08 14:37] alphan commented on #10309
Fixed by #10491.

[2022-03-08 14:37] #10309 closed

[2022-03-08 14:48] alphan commented on #11290
@timothytrippel would you mind taking a look at this?

[2022-03-08 15:54] martin-lueker commented on #7553
Hi @msfschaffner, I'm not sure.  This question is still coming up in conversations with @visbaz and others.  So it seems that there are still questions about whether we are going to test non-taped out parameter values like this.   It shouldn't be hard to solve though.  Just one line in the test document somewhere should do it.

[2022-03-08 15:56] martin-lueker commented on #9398
@nicolast0604: Please let me know if there are any other concerns about the documentation.  Otherwise I will close this issue.

[2022-03-08 17:06] #9041 closed

[2022-03-08 17:15] #10890 closed

[2022-03-08 17:17] tjaychen commented on #8120
yeah this is meant to be marked as a future enhancement, since i didn't want to alter the existing keymgr more.

[2022-03-08 17:22] tjaychen commented on #11269
let's close this question for now. Let us know if there are additional questions.

[2022-03-08 17:22] #11269 closed

[2022-03-08 17:59] eunchan commented on #11036
So, What I said in the meeting(3/8/2022) was:

the peripheral xbar has only one requester (TL Host) if I remember correctly. So, if socket_1n broadcast the data (I am not sure), then all peripherals can see the data.

If we can add one more TL host (requester), then we can cover the peripheral to the default requester always unless it is selected. So, from the attacker point of view, they need to

[2022-03-08 18:05] nikola-miladinovic opened #11309 "[flash_ctrl] BANK Erase of data and info partitions clarification"
When Erase of the Bank is initiated, there is a question if protection is applied for both Data (MP regions) and Info partitions(page protection).
Also there is a question if entire Bank is going to be erased (meaning all four partitions) or only specific selected information partition. Please clarify and extend documentation accordingly.

[2022-03-08 18:07] msfschaffner commented on #10453
Ok I'll look into that. Might be worth making a `tlul_lc_gate` component for this, since it can be reused accross IPs (maybe even `sram_ctrl`?).

[2022-03-08 18:08] tjaychen commented on #10453
would this cause more churn on those blocks though? they've already reached v2s right?

[2022-03-08 18:09] msfschaffner commented on #11095
Ah great, thanks for letting us know.
In that case it should be ok to proceed and vendor this in again.

@sriyerg I'll do that later today and will let you know once it is done.

[2022-03-08 18:13] tjaychen commented on #11309
to clarify, the open source controller simply assumes the flash macro underneath will sort this out.
However, we could consider supplying more information from the flash macro to bound check in the open source controller.

[2022-03-08 18:13] msfschaffner commented on #10453
Yeah that is right - we should probably not touch `sram_ctrl` at this point.
The situation is a bit different for `sram_ctrl` anyways, since that one only clamps down when escalating, and not during normal behavior.

As for `rv_dm`, DV has not progressed to V2 yet and we will have to do a vendor-in anyways due to some missing features that just have been merged (see https://github.com/lowRISC/open

[2022-03-08 18:19] tjaychen commented on #10453
yeah for `otp_ctrl` i guess i'm not sure how much you guys have tested the test access interface already.
Because Ziv's enhancement hardening request I think does not change DV modeling behavior, but switching from a hang -> explicit error does.  You guys will be able to judge better than I can there.

[2022-03-08 18:36] tjaychen commented on #11291
What happens if the tag ram is valid, but it's still a cache miss?

In that scenario, if the data ram contents have actually faulted, wouldn't we still want to generate an alert? Otherwise it's kind of like bad data just sitting in the data ram.

[2022-03-08 18:37] jason-hoddinett opened #11310 "[pwm/dv] Testplan includes TBD for clock_domain test case."
Requires clarification/completion in the testplan in order to proceed with sequence creation.

[2022-03-08 18:44] martin-lueker commented on #11310
Thanks for bringing this up.
@weicaiyang, @cindychip, @sriyerg: Can you recommend what should happen for this?   What is being done for similar blocks?

[2022-03-08 18:47] matutem commented on #11264
@Jacob-Levy, the flag is confusing. The intent is to have two modes:
- the current mode where the usb comes up un-calibrated,
- a mode that starts up with a calibrated USB clock, to be enabled by a runtime flag.

Mentioning "beacon" is not helpful: perhaps it relates to the implementation, but it obscures the intent of the flag since most people should not need to know implementation details. A st

[2022-03-08 18:52] msfschaffner commented on #10453
Indeed, the hardening part should not functionally change anything.

As for the error behavior, I'll check with @cindychip what the impact would be.

[2022-03-08 18:57] Jacob-Levy commented on #11264
Not what I was asked to do...
I was asked to bypass the USB beacon that is not available to make the USB clock accurate.
If you use +usb_beacon_on=0, the USB clock will be acurate as soon at the AST init is done.
The AST init done a simple CSR write to offset AST(0x7c).

[2022-03-08 18:59] msfschaffner commented on #11291
I guess that depends on whether data readout is predicated on the access being a hit or not. if we read data unconditionally and select/forward it later in the pipeline, we could always check it (if it is valid).

[2022-03-08 19:01] weicaiyang commented on #7553
we agree that it's not needed to verify non-taped out parameter values. Just clarify it in `Compile-time configurations` section in DV doc.

[2022-03-08 19:04] tjaychen commented on #11036
@eunchan, can you take a look at the PR? In your mind, what's the difference between doing this blanking on the `socket_1n` vs `socket_m1`?

I'm doing it on the former right now.

[2022-03-08 19:07] cindychip commented on #11296
Thanks Ziv for the finding. That is fine for DV. Should be an easy enhancement.

[2022-03-08 19:07] cindychip commented on #10453
Should be easy to handle on OTP DV. Thanks Michael for checking.

[2022-03-08 19:09] tjaychen commented on #11291
yeah my assumption was that the tag and data are read around the same time for the look-up case.
Just double checked the ibex code, it "looks" like that? But I could be wrong.

[2022-03-08 19:11] eunchan commented on #11036
Oh, changing socket_1n is also fine. I misunderstood that socket_1n broadcasts the signal to every downstream ports.

[2022-03-08 19:15] tjaychen commented on #11301
@matutem thanks!
do you know what's the external clock frequency in this test? I can't see it from the waves.

[2022-03-08 19:17] GregAC commented on #11291
If tags have the valid bit set but none of them match the lookup address then whilst we've done a data RAM read we just totally ignore its results.

This is true but when we actually attempt to use that data we'll see fault.

It would be possible to do an ECC check on data where the tag is valid regardless of hit/miss.

[2022-03-08 19:17] tjaychen commented on #11287
ah okay.
So `passthrough_en`, as mentioned, is actually controlled by another module altogether.
The answer to many of your other questions, can actually be found in an ongoing issue, see #10785.  The short answer is that it's kind of complicated.

Have a look at the issue, but when we are in full passthrough, ie, `passthrough_en` is 1, the host really should not be doing anything.

[2022-03-08 19:17] martin-lueker opened #11313 "[doc] Proper rendering of HTML escape sequences"
When rendering hjson files ([particularly for the testplan, case in point]( https://github.com/lowRISC/opentitan/blob/master/hw/ip/entropy_src/data/entropy_src_testplan.hjson)) there is no way to create a '>' symbol in the descriptions.   Using a literal `>` or an html escape `&gt;` both get rendered as `&amp;gt;`, and thus appear as `&gt;` in the rendered documentation.   It seems that both Hugo

[2022-03-08 19:20] tjaychen commented on #11291
i think it is a LITTLE better to check the data ram correctness whenever tag ram is valid.
However, I do not think the gains are big enough that you should go out of your way to do that.
So my suggestion is to go with 3, and make the checks on valid instead of hit if it is convenient.

[2022-03-08 19:22] weicaiyang commented on #11310
IIUC, there are 2 clocks in PWM. The clk_i is for register access and the clk_core_i is for core functionality. After register program is done, we can turn off the clk_i (which means we enter low power mode) and PWM can still generate output. We did this in other blocks as well.
@martin-lueker does this sound a right sequence to test this?

[2022-03-08 19:26] tjaychen commented on #11310
btw, just to add one thing. Once the software configuration is done, we need to make sure (and this is true of other blocks) that `clk_i` can disappear / reappear at effectively random times and the core logic needs to behave correctly.

Once the wakeup requests are asserted, the `clk_i` must resume, but until that happens, everything should work as expected.

[2022-03-08 19:30] martin-lueker opened #11315 "[entropy_src/dv] V2 review checklist"
[V2 Review notes](https://docs.google.com/document/d/1x_GSqiDBBCVHr0n3agOP58X0iKuDQLhnGuliA7PB0WU)

- [x] Add a test to check hardware mediated REGWEN locking (SWREGUPD and auto-lock)
- [x] ~~File issue regarding rendering problem~~ Done: #11313
- [x] Implement new functional coverage testpoints from #11244
- [x] Understand and fix lack of toggle coverage for `cs_aes_halt_req`, `cs_aes_halt_ack`
-

[2022-03-08 19:37] martin-lueker commented on #11310
That is correct Weicai. That sounds like a good test.  Note:This also doesn't need to be a dedicated test sequence. The main test vsequence can randomly enable/disable `clk_i` during testing to satisfy this test point. (We don't need to have explicit vseqs for every test point).

[2022-03-08 20:34] #11241 closed

[2022-03-08 20:36] cindychip commented on #11243
With the two PR, current formal (mainly used for rv_plic and pinmux) checks d_error on below items:
1). OOB address
2). Illegal Opcode
3). d_size smaller than d_mask
4). d_size does not match d_mask
5). addr and d_size does not align

[2022-03-08 20:42] weicaiyang commented on #11310
Agree. We don't need to write a new test.
It's a good idea to randomly enable/disable `clk_i` in the main sequence.

[2022-03-08 22:58] weicaiyang opened #11319 "[dv] Timescale in DV"
In most of the TBs, we use 1ns/1ps timescale for DV components. But @Jacob-Levy and I found a test in private repo, where the DV timescale inherited a 1ps/1ps timescale from a standard cell.

Not sure what the best way to deal with the timescale in DV.
1. make DV timescale agnostic
We do try to make our DV code timescale agnostic, but we don't really test the code with multiple timescale setting.

[2022-03-09 00:22] #9741 closed

[2022-03-09 01:16] martin-lueker commented on #11000
Hi @visbaz,
    So looking more closely I can say the following.
1. The cmd FIFO is clearly properly, so we have to dig more to understand the root of the problem
2. The sentence you've quoted from the specification is out of date.  It shouldn't harm anything to to assert sw_rst, but it's not necessary as there is no longer a CDC inside this block and all the FIFOs in here are synchronous.

[2022-03-09 07:51] m-temp commented on #6543
@moidx, @tjaychen can we close this, as we move to D2S?

[2022-03-09 07:52] m-temp commented on #8982
@tjaychen I think we can close this, as we move to D2S, can we?

[2022-03-09 08:39] sriyerg commented on #10153
A little late, but nice catch! Thank you for your efforts in setting up the CSR suite of tests via JTAG DMI (SBCS) at the chip level. The CSR suite of tests may seem simplistic, but sometimes they do catch critical issues like this.

[2022-03-09 09:22] eshapira commented on #11309
@nikola-miladinovic I'm not really sure, I'm testing the closed source model, but if I understood @tjaychen correctly, only the mp enabled pages in the selected info partition should be erased along side the data partition (and not all of the info partition).

[2022-03-09 09:38] jason-hoddinett commented on #11310
This behaviour is also duplicated for the testpoint pwm_lowpower, I will remove the duplicate and implement this behaviour. Thank you for the clarification.

[2022-03-09 09:39] rswarbrick commented on #11291
The only awkward bit here is that the ways get OR'd together, after ANDing with the "hit" bits. So you can do ECC checks for the way that hits with a single decoder. To do ECC checks for each valid way, each would need a decoder.

[2022-03-09 09:53] GregAC commented on #11291
I've merged the version that implements 3. and have a PR to vendor that across to OpenTItan here: https://github.com/lowRISC/opentitan/pull/11330

Happy to switch to ECC checks in parallel across all data ways but as @rswarbrick it is a little bit of extra work so if we cannot think of a good reason 3. won't suffice I'd be keen to go for that so we can get D2S closed.

[2022-03-09 10:10] GregAC commented on #9528
We want to avoid generating the integrity within `ibex_core` (as currently everything ECC related, other than icache related things, are kept outside of `ibex_core`). I presume this is why we ended up with the current design as `ibex_lockstep` is sort of 'all the Ibex extra security gubbins' rather than exclusively lockstep related things.

I agree it'd make sense to have some replication here. I'

[2022-03-09 11:12] GregAC commented on #9528
Having now thought about more whilst implementing it would duplicating the integrity generation gain us anything?

- If you fault the write data out of Ibex before it gets integrity generated correct ECC will be generated but you'll get a lockstep mismatch
- If you fault the write data after integrity gets generated then either ECC will catch it or you've defeated the protection and that attack wo

[2022-03-09 12:12] TimEwins opened #11333 "[flash_ctrl] Clarification Of Software Control of Flash Code Fetch"
The Specification indicates ……

----------------------------------------------------------------------------------------------------------------------------------
Software control of flash code fetch.

Flash Code Execution Handling

Flash can be used to store both data and code. To support separate access priviledges between
data and code, the flash protocol controller provides EXEC for software c

[2022-03-09 16:13] GregAC opened #11336 "[rv_core_ibex] Bus errors on integrity check failure"
Currently when Ibex sees an integrity check failure on incoming memory request responses it triggers a major alert but the core still accepts the data and will continue executing until the major alert causes some action.

The integrity check occur one cycle after the response is received. We could move it to the same cycle the response is received so it could generate an error response if the chec

[2022-03-09 16:23] rswarbrick commented on #11336
I like this idea and think that it makes things much less mysterious. Otherwise, SW won't necessarily know if it has been given bogus data.

[2022-03-09 16:41] TimEwins commented on #11333
Ok .. I think I am mistaken about the missing error, the TL/UL interface has an error flag 'd_error', and in my simulation I see this going high when there is an error.  I was looking at the error status flags in the DUT, but it is built into TL/UL.

The problem here is that the TB does not handle this at the moment.

[2022-03-09 17:13] tjaychen commented on #11336
o good catch, what you're proposing to do is actually what I assumed was already done.
So this definitely sounds good to me.

[2022-03-09 18:13] weicaiyang commented on #11245
Update: Synopsys AE can reproduce this issue and created an issue (STAR 4148879) on their side.

[2022-03-09 18:35] #11243 closed

[2022-03-09 18:39] tjaychen commented on #11291
ah thanks for clarifying.
Shall we close this issue now?

[2022-03-09 18:43] tjaychen commented on #6543
@cindychip
This is actually more related to the security tool checks where we can check if a signal leaks out in a specific way.
Honestly though, I am not sure we have time for this now..

Do you know Cindy?

[2022-03-09 18:47] tjaychen commented on #10523
sorry just to chime in on icache. I think the main motivation of having an error there continue is mostly because... if the whole thing died, there would be no way for software to even handle an NMI type of behavior.

[2022-03-09 19:31] weicaiyang commented on #11208
Thanks @cindychip for adding the connectivity tests in https://github.com/lowRISC/opentitan/pull/11261
There are 2 remaining items
1. add a ibex with lc_esc test in top-level
2. clean up other lc_esc tests in top-level testplan and add a connectivity testplan

[2022-03-09 19:37] sriyerg commented on #11208
This is a simple assertion check to prove when lc_escalate_en asserts, the PC does not advance.

[2022-03-09 20:25] cdgori commented on #11291
Late to the discussion but option 3 looks quite reasonable to me.

I'd be preferential to @tjaychen 's idea of checking data-ECC for any valid tag, BUT if it means adding all those parallel-ECC checks it seems a little wasteful, given @GregAC 's comment that we would ultimately do the ECC check IF the data were to hit/be-consumed at a later point.

For me, it comes down to if we think the "distrib

[2022-03-09 20:28] cdgori commented on #11336
Likewise, I assumed this was how it worked.  Good catch & thumbs-up on the change to same-cycle from me.

[2022-03-09 20:33] cdgori commented on #9528
In theory, under your "What this will catch" scenario, the lockstep mismatch would be detected sooner, right?  I'm not sure how many cycles earlier this would be though (vs the receiver ECC check).

At a more philosophical level, it does feel "right" to me to have the integrity generation duplicated per-core and enforced by the lockstep in a more closely coupled way, as opposed to indirectly check

[2022-03-09 20:42] tjaychen commented on #11309
@nikola-miladinovic i responded separately via email, please have a look.
Sorry about all the confusion with this part.

[2022-03-09 22:27] msfschaffner commented on #10899
@tjaychen should we split out the POR on scan entry/exit into a separate issue so that we can mark this done and close it?

[2022-03-09 22:29] martin-lueker commented on #11310
Sounds good.  Thank you @jason-hoddinett

[2022-03-09 22:49] tjaychen opened #11354 "[adc_ctrl] remove software facing filter_status"
@timothytrippel
After the recent fix which de-coupled filter status from interrupt status, the only purpose filter_status has left is generating the wakeup.
After discussing with @timothytrippel , we don't have to explicitly have software ack the filter status for wakeup (we can also use the interrupt clear for that).

So I think it would make sense to remove filter status from software view, and

[2022-03-09 22:49] tjaychen commented on #10899
yeah we can do that. Although that particular feature won't show up in open source though, so maybe we should file it as a closed source issue.

[2022-03-09 23:36] msfschaffner commented on #10899
Done.

[2022-03-09 23:56] msfschaffner commented on #10199
Oh I just meant a list of blocks that we need to double check at V2S (i.e. a checkbox list), and not the actual UNR items that are specific to the IPs.

[2022-03-10 00:21] msfschaffner commented on #11087
@tjaychen @sriyerg can this issue be closed?

[2022-03-10 00:54] matutem commented on #11264
Jacob, the ask is to fix this issue, and https://github.com/lowRISC/opentitan/pull/11275 you closed dealt with implementation. For simulation we always write to AST 0x7c, but that is not enough for full calibration. I thought the PR you closed was converging to some solution using +usb_clk_calibrated.

[2022-03-10 00:56] msfschaffner commented on #11336
Same comment as @cdgori and @tjaychen ;).

[2022-03-10 01:05] Jacob-Levy commented on #11264
I added two runtime flags to address the issue, +beacon_on that bypass the USB beacon that makes the clock accurate and a new flag as you requested +usb_clk_calibrated that calibrate the clock from time 0.
Both flags are needed and the code was tested to perform what is needed including the message.
Will you accept the code as is?

[2022-03-10 01:14] tjaychen commented on #11333
sounds good! looks like you got it!
hmmm.. .good point that there is no status flag inside the DUT, we could consider adding one.

[2022-03-10 01:28] msfschaffner commented on #6543
I've relabeled this as a V2S item for now. We can always defer it to a later milestone if needed.

[2022-03-10 01:29] #8982 closed

[2022-03-10 01:38] msfschaffner commented on #10823
@tjaychen there is one open tick here: `Tim to check whether we have to add a spurious valid detection to KEYMGR`

has that been addressed, or do we still need to look into that?

[2022-03-10 01:46] tjaychen commented on #10823
i checked and...we do not :)
This needs to be something where keymgr needs to be enhanced.

[2022-03-10 01:49] msfschaffner commented on #11095
This is now supported - closing.

[2022-03-10 01:49] #11095 closed

[2022-03-10 01:50] msfschaffner commented on #10453
This should now be fixed.

@sriyerg can you close this bug once this has been verified?

[2022-03-10 01:51] msfschaffner commented on #11296
This has now been implemented (both the response behavior when gated, as well as the additional MUBI decoders).

@cindychip can you align the DV side of things and close this issue?

[2022-03-10 01:53] #10760 closed

[2022-03-10 01:57] cindychip commented on #11296
Will come up with a PR soon!

[2022-03-10 02:21] tjaychen commented on #10823
@msfschaffner
@eunchan
@cdgori
i'm having some problems remembering, we were talking about valid detection from the `kmac` going back to the `keymgr` right?

[2022-03-10 02:21] dbeitel-opentitan opened #11359 "Rename mask_rom_epmp.S file so it doesn't overlap mask_rom_epmp.c"
Duplicated C and assembly filenames causes confusion for autogenerated makefile rules.   Rename mask_rom_epmp.S file to not collide:

PR #10295

Also added autogeneration of header files in top level meson build so all headers are in one directory

[2022-03-10 06:27] sriyerg commented on #11087
It cannot be, because [in this comment](https://github.com/lowRISC/opentitan/issues/11087#issuecomment-1050382348) @tjaychen thinks there could be a bug in `tlul_adapter_host`. The fix I made was getting rid of the assertion check altogether.

[2022-03-10 13:46] #10366 closed

[2022-03-10 18:27] nikola-miladinovic commented on #11309
@tjaychen : please confirm following:
Bank Erase is only applicable on data partition and info partition (not info1 and redundancy).
Bank erase with Data partition selected should erase entire data partition no matter of MP region and default protection.
Bank erase with Info partition selected should erase entire data partition and only pages which are not protected of Info partitions.
After that,

[2022-03-10 18:30] tjaychen commented on #11309
@nikola-miladinovic please let's take this offline. We cannot discuss all of this in the open.

[2022-03-10 19:21] tjaychen commented on #10469
fixed in #10974

[2022-03-10 19:21] #10469 closed

[2022-03-10 19:23] tjaychen commented on #11287
let me know if this helped, or if there are other specific questions.
Feel free to reach out to @eunchan as well.

[2022-03-10 20:52] msfschaffner commented on #10823
yes that was regarding the valid bit that goes from `kmac` back to the `keymgr`. a spurious check sounds good!

[2022-03-10 21:00] drewmacrae opened #11381 "[bazel] keep the map files"
Pending resolution of this issue https://github.com/bazelbuild/bazel/issues/6718 Bazel doesn't natively support preservation of .map files in sandboxed builds. There are useful for assessment of binaries after they're built for size and location in either automated or manual settings.

The linked issue mentions a hack that smuggles the map files out of the sandbox by renaming it,, which should wor

[2022-03-10 21:46] msfschaffner commented on #11381
@drewmacrae can you assign labels to an issue whenever you open up a new one (component, but also priority and milestones, if possible)? otherwise we have to go back and manually label many issues every week.

[2022-03-10 21:47] drewmacrae commented on #11381
Yep, sorry about that

[2022-03-10 21:54] drewmacrae commented on #10679
For now, no one's blocked and we don't claim macOS support. In the future we anticipate resolving this issue by either standing up some tests or clarifying our stance on macOS support.

[2022-03-10 22:01] timothytrippel commented on #11217
The main purpose is to be able to use a debugger (like GDB) to step through software on-chip. For example, I have used it to step through a program running on top of a verilator sim (which is nice if you want to narrow down the specific point in a waveform you should be looking at to debug; e.g., I used it in #9508). However, it's real utility will be when we are debugging during bring-up (or even

[2022-03-10 22:23] cindychip commented on #11296
@msfschaffner I modified DV but still see OTP prim_tl_o/i hanging when lc_dft_en is OFF. Could you take a look at the comment here:
https://github.com/lowRISC/opentitan/pull/11324/files#r824223148

[2022-03-10 22:42] a-will commented on #10255
It's not so much "fix" as it is "implement": https://github.com/lowRISC/opentitan/blob/master/hw/ip/usbdev/dv/env/seq_lib/usbdev_smoke_vseq.sv#L12

(Plus adding "usbctrl" to the list of handled CSRs in the scoreboard.)

[2022-03-10 23:46] msfschaffner opened #11387 "[keymgr] D2S review opens"
- [x] [tim] make usage of keymgr state CSR clear in the programming model. #11393
- [x] [tim] add assertion ASSERT_INIT(LfsrWidth_A, LfsrWidth == 64) #11393
- [x] [tim] add assertion ASSERT_INIT(StageCheck_A, KeyMgrStages == (Owner+1)) #11393
- [x] [tim] use a sec_anchor_buf to bury RndCnstNoneSeed #11393
- [x] [tim] add dest_sel / op value crosscheck #11424
- [x] [tim] swap alert indexes #11393
-

[2022-03-10 23:58] #10823 closed

[2022-03-11 00:40] weicaiyang opened #11389 "[dv] SVA error after a soft reset"
I got this error from pwrmgr SVA.

Looks like we intend to disable it, but we put in it `post_start`. If I do something in the body, this disabling happens too late and the error is triggered. Or should I disable it before issuing a soft reset.
https://github.com/lowRISC/opentitan/blob/5a2a27100b6233739b821139141d0071bd84a773/hw/top_earlgrey/dv/env/seq_lib/chip_base_vseq.sv#L33-L36

You can find t

[2022-03-11 01:53] #11266 closed

[2022-03-11 10:29] rswarbrick commented on #1074
With #11396 and #11397 applied, the only build warnings from running `util/dvsim/dvsim.py hw/top_earlgrey/dv/chip_sim_cfg.hjson -i chip_sw_uart_tx_rx --build-only` are to do with bind directives that don't apply (mostly to do with security prim verification). I don't think there's any benefit to keeping this issue open any more.

[2022-03-11 10:29] #1074 closed

[2022-03-11 10:33] rswarbrick commented on #1028
@mcy / @moidx: Is this issue still live? I see that we still have an "is flash blank?" check to support bootstrap in the test rom. Is that the hack you were talking about? Does it actually matter?

[2022-03-11 10:34] rswarbrick commented on #3708
@dbeitel-opentitan: You mentioned that #10610 fixed this issue. That's now merged: do you think we can close this?

[2022-03-11 10:35] rswarbrick commented on #1005
@vogelpi: I think there are a couple of items on the list above that aren't ticked off. Are they still live? (Or is this done?)

[2022-03-11 10:38] rswarbrick commented on #976
I'm not sure this issue is worth keeping open. In particular, I think we've sort of agreed that the current flow works well *except* for the merge-skew problem. But I'm not sure this is the best starting point for an issue tracking that.

@moidx: I think you're the only contributor to this issue who's left on the project(!!). Do you think there's value keeping this open?

[2022-03-11 10:40] rswarbrick commented on #892
@msfschaffner: If I understand correctly, we've "doubled down" on JTAG for all our TAPS, so the idea that this issue is tracking isn't really possible any more. Is that correct?

[2022-03-11 10:46] rswarbrick commented on #456
Are we still seriously considering this? (@eunchan: I think you opened the issue?)

Personally, I'm not convinced it's worth it, and would suggest just closing.

[2022-03-11 10:49] rswarbrick commented on #313
As I understand it, WD are now on RHEL 7 and it's been more than 2 years since we last ran into this. I think it's probably best to close this issue until it next bites us. We already have some "no guarantees about RedHat" text in our install instructions, so this is only going to be a problem if partners need it to work.

[2022-03-11 10:49] #313 closed

[2022-03-11 11:26] rswarbrick commented on #1536
This was handled by #2077. There are a couple of follow-ups from that, but they have their own separate tracking issues.

[2022-03-11 11:26] #1536 closed

[2022-03-11 11:29] rswarbrick commented on #1421
Our current documentation structure isn't really arranged logically in chapters. It probably should be! But I'm not convinced it's worth tracking this feature until it is. I propose closing.

Also, it's been almost 6 months since the last ping, so I really don't think there's anyone who cares too much!

[2022-03-11 11:29] #1421 closed

[2022-03-11 11:31] rswarbrick commented on #1339
This vendored code lost the assertion (and presumably gained some tests) last February (#5298).

[2022-03-11 11:31] #1339 closed

[2022-03-11 11:36] rswarbrick commented on #1191
@mcy: Is this still worth tracking? We seem to be using draft PRs happily and I don't *think* anyone has merged a "DO NOT MERGE" commit in the two years I've been on the project.

Personally, I think it looks like our social conventions (committers are expected to know what they are doing) are working just fine.

[2022-03-11 11:42] rswarbrick commented on #2136
@tjaychen / @moidx: What's the situation with this proposed feature? Has it been implemented? Or have we decided we don't need it?

[2022-03-11 11:45] rswarbrick commented on #2085
A quick grep through the code makes me think that we've standardised and match the decision here.

@tjaychen: Anything left to track here? Or should we close?

[2022-03-11 12:41] matutem opened #11400 "[rtl/mubi] Increase mubi safety"
I noticed the function prim_mubi_pkg::mubi4_and_hi(a, b, MuBi4True) can return non mubi4 values when a or b are not strict mubi values. I think it may be better to output MuBi4False in that case for increased safety. In general if logic operations with non-mubi operands always generate strict mubi values we will maintain maximum haming distance between the two legal values on the mubi nets. Think

[2022-03-11 13:43] dbeitel-opentitan commented on #3708
I believe my changes have fixed this issue, yes.

On Fri, Mar 11, 2022 at 5:34 PM Rupert Swarbrick ***@***.***>
wrote:

--
*Daniel Beitel*
Firmware Engineer

[2022-03-11 14:28] #3708 closed

[2022-03-11 14:39] vogelpi commented on #4833
Thinking about recent RTL changes, some more things come to my mind that should be supported by the DIF:
- [ ] Read out IV registers
- [ ] Configure PRNG reseed rate: CTRL_SHADOWED.PRNG_RESEED_RATE
- [ ] Enable/disable PRNG reseeding on key touch: CTRL_AUX_SHADOWED.KEY_TOUCH_FORCES_RESEED
- [ ] Locking the PRNG reseeding on key touch feature: CTRL_AUX_REGWEN

[2022-03-11 14:59] vogelpi commented on #1005
Thanks for the reminder Rupert. I went through the list again and crossed those items we are not doing for ES (plus added an explanation). Also, after almost 2.5 years it's probably time to start a new tracking issue. This one got really crowded.

[2022-03-11 14:59] #1005 closed

[2022-03-11 15:55] rswarbrick commented on #11400
If we do something like this, we'll have to carefully audit all uses of the functions: there might be some instances where we rely on bad values being passed through (and detected "downstream").

[2022-03-11 17:00] #11079 closed

[2022-03-11 17:17] GregAC commented on #11336
I've opened an PR for this in Ibex: https://github.com/lowRISC/ibex/pull/1556

It also moves the ECC checks and generation into the core itself. This means it all gets replicated as part of the lockstep setup.

[2022-03-11 17:18] #11291 closed

[2022-03-11 17:20] GregAC commented on #9528
I've ended up implementing the duplication and cross checking of write ECC generation in this Ibex PR: https://github.com/lowRISC/ibex/pull/1556 it moves it into the core itself so it gets duplication and cross checked just like everything else. This also moves the read data integrity check into the core so that again will get duplicated.

[2022-03-11 17:23] GregAC opened #11403 "[rv_core_ibex] Consider implementing ECC check across all ways of data RAM in ICache"
As described here: https://github.com/lowRISC/opentitan/issues/11291 checking the ECC from data RAM in the icache is only done when a hit is seen and then only on the way that was hit (tags are always checks across both ways regardless of hit/valid).

It would be possible to extend this check so each way with the data RAM is checked factoring in the tag valid so the pass/fail of the check is only

[2022-03-12 21:59] Jacob-Levy opened #11409 "CI (Build Docker Containers) Failing on missing hmac_testutils.h?"
After opentintan rebase on Friday (3/10/22) CI (Build Docker Containers) started failing.

ERROR: /home/vsts/work/1/s/sw/device/tests/BUILD:79:19: Compiling sw/device/tests/hmac_smoketest.c failed: (Exit 1): gcc failed: error executing command external/bazel_embedded/toolchains/lowrisc_toolchain_rv32imc/gcc_wrappers/nix/gcc -MD -MF ... (remaining 62 argument(s) skipped)
Use --sandbox_debug to see

[2022-03-12 22:05] Jacob-Levy commented on #11264
@sriyerg @matutem The usb_osc.sv file in dispute was remove from this PR #11368.
Will issue a separate PR for the usb_osc.sv when the current AST flag code is understood by DV.

[2022-03-12 22:11] Jacob-Levy commented on #11264
Following is that latest code of the new flags:

[code]

[2022-03-12 22:23] Jacob-Levy commented on #11264
Using 'if' for flags exist in the OS inseveral non vendor files too, e.g., gpio
[code]

[2022-03-12 22:39] Jacob-Levy commented on #11264
Please coment and let me know if you accept the usb_osc.sv as is and I will  PR it.
Thanks, Jacob.

[2022-03-13 10:44] Jacob-Levy commented on #11409
After rebase and pyton update the issue is gone :)

[2022-03-13 10:44] #11409 closed

[2022-03-13 19:26] Jacob-Levy opened #11410 "Block CSR write random data to AST registers"
The AST registers can not be written with random data.
AST registers serve for setting the Analog blocks and have to be written
with specific values during boot time.
All other functions are using dedicated signalling, like alerts, clock mux, etc.

The open source AST registers are dummy registers that was added to let the XBAR know the requirements of the AST space. Any information that is requir

[2022-03-14 08:04] visbaz commented on #10764
Will remove the test from testplan and make a PR for @martin-lueker to approve

[2022-03-14 08:04] #10764 closed

[2022-03-14 09:22] rswarbrick commented on #11410
This should be easy enough: we can just add exclusions to `ast.hjson`.

@sriyerg: Is there anything that the CSR tests would be testing for this block? (Just want to check before I push a PR)

[2022-03-14 12:17] visbaz commented on #11139
A simple test spi_host_passthrough_mode is implented where data on the passthrough_i.s is toggled and captured at cio_sd_o when passthrough_i.passthrough_en is asserted and similar check for passthrough_o.s with cio_sd_i.
Discussed with @martin-lueker
hw/ip/spi_host/dv/env/seq_lib/spi_host_passthrough_mode_vseq.sv
PR#11082

[2022-03-14 12:17] #11139 closed

[2022-03-14 16:09] sriyerg commented on #11410
The CSR tests in the open source do perform random reads and writes to the dummy AST registers. Your closed source testbench replaces the chip RAL with a different chip RAL that has the real AST registers. I would presume that you extend the `chip_base_cfg` and override it with your extension to facilitate this. If so, then I would recommend adding exclusions in your extended cfg class. Alternatel

[2022-03-14 16:16] Jacob-Levy commented on #11410
Since the OS AST registers do not function and are only there for defining XBAR AST space. I will change the to read only registers.
This way, the random write issue will go away.

[2022-03-14 16:20] rswarbrick commented on #11410
Just to make sure we're on the same page: Sri's explanation above shows how you can fix this by changing the closed-source code. I don't think you should need to alter the open source repo.

[2022-03-14 16:46] Jacob-Levy commented on #11410
Consider a fail on OS that not relate to AST registers. If the CSR is randomize the AST registers, the test can not run on the NTIL AST.

[2022-03-14 16:47] martin-lueker commented on #11292
In the SPI HOST spec, we've been citing the [W25Q01JV](https://www.winbond.com/resource-files/W25Q01JV%20SPI%20RevB%2011132019.pdf), as the recommended target model.

[2022-03-14 16:55] sriyerg commented on #11292
Thanks @martin-lueker. You can download it from here:
https://www.winbond.com/hq/support/documentation/?__locale=en&line=/product/code-storage-flash-memory/index.html&family=/product/code-storage-flash-memory/serial-nor-flash/index.html&pno=W25Q01JV&category=/.categories/resources/verilog-model/

[2022-03-14 16:57] TimEwins opened #11412 "[flash_ctrl] General Interrupt Based Queries"
Hi

I have just started looking at the Flash Ctrl Interrupts.

I have initially looked at the Interrupt Test Feature.  I am using registers: -

FLASH_CTRL.INTR_ENABLE
FLASH_CTRL.INTR_TEST
and
FLASH_CTRL.INTR_STATE

The functionality I see, is that INTR_TEST causes INTR_STATE to become set, but there appears to be no reliance on INTR_ENABLE.

The Spec doesn't specifically say that the INTR_TEST doe

[2022-03-14 17:19] msfschaffner commented on #11400
Hey @matutem, as @rswarbrick already alluded to, these functions were implemented like that on purpose:
1. If we rectified all MUBIs at the end of logic ops to legal values, that would require additional reduction operations to single bit signals which we wanted to avoid. Hence we formulated these ops so that each bitslice is treated independently.
2. These functions have the property that they al

[2022-03-14 17:32] tjaychen commented on #2085
okay to close this one.

[2022-03-14 17:32] #2085 closed

[2022-03-14 17:42] tjaychen commented on #11410
A few things.

@Jacob-Levy you can't really change all open source registers to read only. If you do that, it will most likely break against the ROM-AST copy/initialize (ie, you are trying to write a register that cannot be write, I believe our regfile flags this as an error).

If you are just looking for a solution on the open source, why not just use the exclude tag like we've mentioned? That ke

[2022-03-14 17:48] #456 closed

[2022-03-14 17:58] tjaychen commented on #11400
i think i see the point both sides are trying to make here though.
I feel like @matutem's main point is that if we do not make the output "safe", it's possible to get to an output that has a hamming delta of only 1 from a legal state.  Then "attacking" the downstream potentially becomes easier, @matutem is that what you meant?

I can understand where you're coming from, but I feel like that argume

[2022-03-14 18:38] weicaiyang commented on #11290
@timothytrippel please take a look when you have a chance.

[2022-03-14 18:40] timothytrippel commented on #11290
In our meeting this morning, @sriyerg mentioned he may know the cause of this, and that he would take a look. Happy to take look too.

[2022-03-14 19:29] Jacob-Levy commented on #11410
@tjaychen I am looking for the open source to stop writing random data to the AST registers.
It seems that you understand that if I make the OS registers read only it might cause an issue. That exactly my point for random writes to the AST registers on the open source.

[2022-03-14 19:32] tjaychen commented on #11410
@Jacob-Levy can you please enlighten to me as to why you cannot use the exclude tag that every other block uses..?

[2022-03-14 19:41] Jacob-Levy commented on #11410
@tjaychen I am not looking to solve an issue on the close source. We have a much more complex solution than exlused in place.

In order to be able to run/debug a open source tests with real AST, the tests the open source generates must comply with the real AST limitation regardless of the open source AST model capabilities.

[2022-03-14 19:48] tjaychen commented on #11410
yes i understand you are not looking to solve close source. But why can the open source ast.hjson not do the same thing? Ie, add exclude tags?

[2022-03-14 19:55] Jacob-Levy commented on #11410
Can I block only random writes in the ast.hjson?
If so, I will update the ast.hjson to do it.
Can you add an example?

[2022-03-14 20:06] sriyerg commented on #11410
Please follow the example already provided in our email exchanges. Thanks!

[2022-03-14 20:18] sriyerg commented on #11410
Would you please clarify the motivation for using the open source chip level DV environment (which models the dummy AST registers) but with the real AST design? Obviously, the tests are failing because it thinks it is verifying the dummy register space, but in fact, there are real registers in the RTL. Any workarounds you make in the open source to get your experimental environment to work, will h

[2022-03-14 20:33] matutem commented on #11290
There are some clock frequencies that cannot be set in SW. Specifically
values of the FPGA frequencies are determined by hardware timing, so cannot
be set arbitrarily. In addition, the verilator frequencies are constrained
to being multiples of each other. Within these constraints, I think we
should modify the frequencies so they are more sensible, as some values are
pretty off. When that is done

[2022-03-14 20:35] matutem commented on #11301
Should be 100 MHz. Tim, https://github.com/lowRISC/opentitan/pull/11327 was rebased and is ready for review.

[2022-03-14 20:40] timothytrippel commented on #11290
That would work too, but I think it would still be valuable to let SW just "pick up" what the HW-side configuration was (at least for DV and Verilator sim), just in case these values are ever adjusted in the future, then we will not have to worry about updating the SW side too.

[2022-03-14 20:49] Jacob-Levy commented on #11410
@sriyerg  I do not understand why you insist to check a block of registers that is not connected
to anything in the AST model?
Doing so will block the option to run/debug a test from the open source on the real
AST code.

I am trying to bring-up a setup (not the close source) that will enable me to debug issues
that the open source run into with the AST model that might reflect on the real AST or

[2022-03-14 21:43] #10504 closed

[2022-03-14 21:46] sriyerg commented on #11410
We are all expending time and effort to help you. But to do so, we need to better understand first what it is that you are trying to achieve and why. Excluding random writes to the AST dummy registers in the open source is absolutely fine with me, but it needs to solve your original problem. I was questioning whether it would, because for quite a while, none of us could figure out that you were tr

[2022-03-14 22:15] sriyerg commented on #11290
The `clk_freq_mhz` line you referenced in the sim dv testbench is not actually used. I will clean all that up soon. DV and SW are in sync (largely) but I suspect the newly updated AST behavioral model that mimics the real design more closely is causing problems (it introduces jitter and other funky things).

[2022-03-14 22:16] timothytrippel commented on #11290
Ah got it, thanks @sriyerg !

[2022-03-14 22:22] #1542 closed

[2022-03-14 22:22] #11091 closed

[2022-03-14 22:33] matutem opened #11419 "[dv/cip] Fix per multibit regwen"
Some rstmgr common csr tests are failing because the sw_rst_ctrl_n is not getting properly gated by the corresponding sw_rst_regwen bit.

Apparently reggen script seems not generating it correctly. perhaps check why this line is not generated in rstmgr_ral_pkg. https://github.com/lowRISC/opentitan/blob/2f33ce93cade409b32739570882199cc1d850e16/util/reggen/uvm_reg_base.sv.tpl#L629

[2022-03-14 23:40] Jacob-Levy commented on #11410
Block by adding to each register in the ast.hjson
[code]

[2022-03-14 23:40] #11410 closed

[2022-03-15 01:44] eunchan commented on #10785
Adding the idea of splitting the BUSY process and Passthrough interface process here (initial discussion at #11418 )

The intention is for SW to not read check the BUSY (assuming SW can't control CSb assertion)

## BUSY cases

1. SW clears BUSY when CSb = 1. When next SPI transaction begins, HW updates the BUSY @ SCK (clearing the BUSY @ SCK)
2. SW clears BUSY when CSb = 0. Keep the event somewher

[2022-03-15 03:19] a-will commented on #10785
I think we just got our wires crossed. We read the documentation a little differently, and then we started talking about two different subjects at the same time, haha.

[2022-03-15 04:45] #11144 closed

[2022-03-15 09:22] #10757 closed

[2022-03-15 09:34] patel-madhuri commented on #11018
To verify this added functionality, we have 3 tests:
1. Pin access test (which is already aligned)
2. Flash write protect test (which is already implemented and running in regression)
3. Key triggered and interrupt test (i.e edge detect test which is under review)

[2022-03-15 10:06] rasmus-madsen opened #11431 "AES starts encryption without being fully configured!"
running the Aes_clear test I see some new issues - I assume something changed.
the DUT is configured for CFB mode.

data is written to data reg 3 - then key_iv_data is cleared
KEy, IV and the remaining Data registers are written - and the Encryption starts!
According to the specification this should not be possible in auto mode since the datain3 has not been written.
from the picture below
it can

[2022-03-15 12:28] #11310 closed

[2022-03-15 14:53] drewmacrae opened #11436 "[bazel] BUILD files inconsistently named"
At the workspace root the BUILD file is instead named BUILD.bazel to avoid a collision with the build directory generated by meson on systems that are not case sensitive. If we remove meson support entirely, the naming could be made more consistent.

[2022-03-15 14:54] drewmacrae commented on #11436
This refers to this specific file which was renamed to support
Meson builds in OSX. https://cs.opensource.google/opentitan/opentitan/+/master:BUILD.bazel

[2022-03-15 14:59] mcy opened #11437 "[sw] Can't build `//sw/device/tests:hmac_smoketest` with Bazel"
[code]

Looks like we never ported `hmac_testutils.h` to be a Bazel target.

[2022-03-15 15:41] drewmacrae opened #11438 "[bazel] Use bazelisk to set up Bazel in a more straightforward and stable manner"

[2022-03-15 16:00] drewmacrae opened #11440 "Prompts in OT documentation having leading prompts makes it annoying to copy and paste"
https://docs.opentitan.org/doc/ug/install_instructions/#software-development specifically has a bunch of dollar signs in the prompts that make it annoying to copy and paste.

[2022-03-15 16:00] mcy opened #11441 "[bazel] Bazel-invoked fusesoc gets stuck in dependency resolution"
[code]

[2022-03-15 16:02] drewmacrae opened #11442 "[bazel] add verilator to the workspace"
Once we have verilator in CI and we add it to the workspace and we remove all the other dependencies on it we could hopefully stop depending on whatever version is on our workstations so we know why fusesoc is broken and even hopefully stop it from breaking.

[2022-03-15 16:15] a-will commented on #11441
It's fusesoc that is failing, though, not verilator. Is your edalize / fusesoc version new enough?

Might try
[code]

[2022-03-15 16:17] matutem commented on #11400
@tjaychen that is what I meant. In any case, I think it is okay to treat this as an enhancement... probably to be considered in conjunction with raising an alarm for illegal values, since either of them can provide additional security, but together they may become redundant?

[2022-03-15 16:25] matutem commented on #10689
Closing it, since this logic was removed from thge design.

[2022-03-15 16:25] #10689 closed

[2022-03-15 16:47] tjaychen commented on #11354
@NigelScales any comments?
As I mentioned I would prefer not to disturb DV too much. So please let me know.

[2022-03-15 17:19] TimEwins commented on #11412
Just to clarify .... I also see that INTR_ENABLE controls the output HW Interrupt, and does not blocl the setting of the INTR_STATE register.

I expect this functionality is as expected

<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<meta name=ProgId

[2022-03-15 17:30] tjaychen commented on #11412
yes that is correct (sorry for not responding sooner).
In all of opentitan, this is the general interrupt behavior.

The interrupt state is always set, and the interrupt enable is really like an interrupt mask.

[2022-03-15 17:34] #10852 closed, assigned to sriyerg

[2022-03-15 17:34] TimEwins commented on #11412
Just to clarify .... I also see that INTR_ENABLE controls the output HW Interrupt, and does not blocl the setting of the INTR_STATE register.

I expect this functionality is as expected

<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<meta name=ProgId

[2022-03-15 17:45] TimEwins commented on #11412
@tjaychen Thanks for clariyting ... yes this all makes sense now .... I have been observing behaviour, and making sense of it before tackling the details of the test, and the test modelling.

[2022-03-15 17:50] GregAC opened #11447 "[rv_core_ibex] Don't cache instructions whilst in debug mode"
Linking an existing Ibex issue here for visibility: https://github.com/lowRISC/ibex/issues/1472

The instruction cache will cache from the debug module memory area, leading to issues running the debugger as the module uses dynamically changing instruction memory to function.

[2022-03-15 17:55] weicaiyang commented on #11018
If I understand correctly, the flash_wp_l_i shouldn't affect the flash_wp_l_o. Do we have a test for this?

[2022-03-15 18:02] matutem opened #11448 "[rtl/clkmgr] Review trans sec_cm"
The trans idle counter countermeasure seems to be hooked up to alert[1] via the fatal_err_code CSR, but the SEC assertion expects it at alert_tx_o[0].

See line 1128 in clkmgr.sv:
  `ASSERT_PRIM_COUNT_ERROR_TRIGGER_ALERT(
    ClkMainKmacCountCheck_A,
    u_clk_main_kmac_trans.u_idle_cnt,
    alert_tx_o[0])

And line 232:
  assign alerts = {
    |reg2hw.fatal_err_code,
    recov_alert
  };

Other t

[2022-03-15 18:47] msfschaffner commented on #11018
Indeed, `flash_wp_l_i` can only be read out via the CSRs, but it does not have an effect on `flash_wp_l_o`.

[2022-03-15 19:25] matutem opened #11450 "[dv/clkmgr] Enable shadow reg sec_cm automation"
The clkmgr has 5 different shadow registers, one per clock measurement block, and each one sets a separate bit in the fatal_err_code CSR. Apparently the DV infrastructure for shadow registers doesn't support separate bits per shadow register error.

We can either enhance the DV infra for this, or collapse the shadow register errors to a single bit in fatal_err_code.

[2022-03-15 19:32] tjaychen commented on #11450
it's probably faster to change on the design side.

[2022-03-15 19:54] tjaychen commented on #11450
i do think we should add this support in the future though on dv side.
But probably not worth doing at this point.

On Tue, Mar 15, 2022 at 12:50 PM weicaiyang ***@***.***>
wrote: