[2019-11-22 15:51] tomroberts-lowrisc commented on #1035
Did a bit more digging in a verilator run. OpenOCD loads some bogus values into the debug progbuf which results in a load executed to memory address 0x0, which results in a memory error exception. The exception handler / debug re-entry ends up overwriting the stored value of x8 with zero such that when we restore it and return to application code, we restore zero and the original value is lost.

I

[2019-11-22 15:56] mcy commented on #1052
I've filed #1055 to fix the issue with the missing bin and vmem files. The issue with the .a and .h files is entirely cosmetic, and does not affect the distribution (this is a big reason why I wanted an explicit whitelist of files to export in the distribution). Hopefully they will go away once the make_build_bin step is contained within Meson.

[2019-11-22 15:58] towoe commented on #1051
Git worktree is like a copy of the complete directory at a different location, so one can have another branch checkouted without the need to clone the repo.
So this is not really an execution outside of the tree.
Its just that with containers and references the original `.git` folder can not be found and now I can't rely on git to find the repo top.

[2019-11-22 16:08] asb commented on #1051
There's probably a more fundamental question here - do we expect our scripts and tooling to work seamlessly if people are operating on an extracted tarball rather than a copy of the git repo? I think as much as possible, yes.

It would also be nice if you didn't have to explicitly give `BUILD_ROOT` when doing out-of-tree builds.

[2019-11-22 16:12] mcy commented on #1051
I did not know about `$BASH_SOURCE`, that's awesome! I'll file a change to switch over to that.

@asb: I mean, that's a reasonable thing to want. However, this is not the only place that depends on git (I know that chip_info.h really really really really wants to look up the current git repo and dump the current commit hash). If we want to have this property, it needs to be written down as policy.

[2019-11-22 16:12] towoe commented on #1051
I was thinking about this as well Alex, and I agree that we should aim to support this as well, but then I was thinking `git` is a requirement. But I guess, having `git` and having a git clone is something different.

[2019-11-22 16:15] towoe commented on #1051
The only place I had an additional problem with git, was the chip info part, for my testing I just used "undefined". So we might not have so many place for now which rely on git.

[2019-11-22 16:17] imphil commented on #1051
Please file a bug for that. We should have a single script/file in the tree that gives the version when building; this version can come from git if we're operating out of a git tree, but we also must be able to set it manually to a release version.

[2019-11-22 16:29] towoe opened #1057 "chip info dependency on git"
https://github.com/lowRISC/opentitan/blob/b192e6b08960b96a76a05e8ac404787f210c05a6/util/rom_chip_info.py#L60

This line relies on valid git reference.
@imphil suggest in https://github.com/lowRISC/opentitan/issues/1051#issuecomment-557595656 another source for this version info.

To build it outside of a git repo the following could be used
[code]

[2019-11-22 16:32] mcy opened #1058 "[sw] sha256_test and rv_timer_test failing at HEAD"
I broke CI some time last night, and since then two SW tests have started failing. Two SystemVerilog changes went by since I broke CI, so I suspect one of them broke it.

@tjaychen Can you take a look (or delegate to another hadware person who knows what's up?).

[2019-11-22 17:24] #1052 closed

[2019-11-22 18:22] sjgitty commented on #1043
Silvestrs, those comments would be best in the document. I think you just
got comment access thanks
to Garret.

Scott

On Fri, Nov 22, 2019 at 3:33 AM Silvestrs Timofejevs <
notifications@github.com> wrote:

[2019-11-22 18:32] silvestrst commented on #1043
@sjgitty Thanks, I will move them to the document some time this weekend, or more likely on Monday

[2019-11-22 18:42] sjgitty commented on #723
@gkelly bump

[2019-11-22 19:09] #1051 closed

[2019-11-22 19:51] aytong commented on #1058
@mcy, is your PR that broke CI #1026?  The RTL change since then is #1027 AES by @vogelpi.  @tjaychen is OoO this and next week.  @vogelpi, can you PTAL?  Thanks.

[2019-11-22 20:01] mcy opened #1063 "[sw] Structure of sw/device/lib"
At this point sw/device/lib has taken on a kitchen-sink aspect to it, and I'm worried about the "dumping ground"-ness of it getting worse over time. For example, right now it contains (in a flat structure):
- A bunch of proto-DIFs for the current HW design.
- Not-quite-DIF-ey stuff, like `usbdev`.
- Some libc-replacement stuff.
- `common.h`, which itself is a kitchen sink.
- Logging stuff.

As we

[2019-11-22 20:02] mcy commented on #1058
@aytong That's correct, I should have included that in the OP.

[2019-11-22 20:14] alistair23 commented on #1035
In this case the boot ROM is the correct elf. I start debugging with the boot ROM (hence using that as the ELF when starting GDB). When I get to the next executable I use `add-symbol-file` to load the next file.

I'm not at my desk today so I can't check if using the next elf fixes the issue, but it still seems like something that needs to be fixed (either in GDB/OpenOCD or HW).

[2019-11-22 20:52] #1057 closed

[2019-11-25 09:09] tomroberts-lowrisc commented on #1035
Agreed, we'll keep this open and hopefully find a fix

[2019-11-25 13:09] vogelpi commented on #1058
Is there really any problem in the RTL? As pointed out by @imphil [here](https://github.com/lowRISC/opentitan/issues/1052#issuecomment-557499176), the problematic PRs are #1031, and #1026. These changes broke CI, my AES PR did not touch anything related to the sha256_test and rv_timer_test. Moreover, CI ran successfully through for my PR when I created it but before I merged it.

[2019-11-25 13:13] imphil commented on #1058
There were a couple other things going on in that timeframe, including the use of meson-generated software binaries instead of make-generated ones. So the list of changes might be misleading, someone needs to run the test and see what's actually going on.

[2019-11-25 13:17] vogelpi commented on #1058
Alright, I am looking into it.

[2019-11-25 15:37] mcy commented on #1058
@vogelpi #1031 is not relevant, because our changes were passing at that point.

[2019-11-25 16:00] mcy commented on #925
@asb Is there anything I (or you?) should be doing to move this forward? I worry about blocking further changes in `.S` files over style considerations.

[2019-11-25 16:11] imphil commented on #925
@mcy Alex will be back next week. How about you go ahead and do a google doc with the wording of the style guide based on the discussion we had so far?

[2019-11-25 16:28] mcy commented on #925
@imphil I actually already have a Markdown version that I haven't PR'ed yet. I can copy it to a google doc and we can do the comments there, but I think it'd be a bit easier for me to just open the PR and use that to bikeshed it.

I don't care _terribly_ much, so let me know which one you prefer.

[2019-11-25 16:31] imphil commented on #925
Sure, just open a PR then.

[2019-11-25 17:23] mcy commented on #1063
On a related note re: our fake libc (which is absolutely *not* a libc and which I'm going to call libbase until we come up with a better name) implements libc symbols, so that `#include`ing standard headers "just works".

I think we should consider banning standard headers altogether, for two reasons:
- We do not plan to fully implement any standard header, just the stuff out of them we like.
- Si

[2019-11-25 17:26] silvestrst opened #1068 "[doc] Documentation of modules dependent on top level parameterization is not consistent"
[Pinmux](https://docs.opentitan.org/hw/ip/pinmux/doc/), [PLIC](https://docs.opentitan.org/hw/ip/rv_plic/doc/), and probably other HW IP blocks are generated with a specific parameterization, which doesn't correspond to current Earl Grey implementation.

I think the best long term solution would be to match document generation parametrization with Earl Grey.

[2019-11-25 18:02] msfschaffner commented on #1068
Note that this also applies to other modules that are top-level parameterization dependent (plic, alert handler, padctrl). The docs of these modules currently state that the corresponding regfile lists are just examples and may not correspond to the actual top-level config. However, this is not immediately apparent when browsing through.

We should change that and make the docs consistent with the

[2019-11-25 18:12] cindychip commented on #777
item 3 is finished in PR https://github.com/lowRISC/opentitan/pull/1023

[2019-11-25 18:47] vogelpi commented on #1058
Alright, I was able to track down the problem with the timer, it is not in the hardware but in the software or more precisely the build system. Namely, when using meson, the handler for the timer interrupt `handler_irq_timer()` in `device/tests/rv_timer/rv_timer_test.c` is not properly linked. The handler is linked at `0x20000050` but the core expects the handler inside the boot ROM at `0x801C`. W

[2019-11-25 20:34] vogelpi commented on #1058
Also the failure of `sha256_test` is a software/build system issue: The static test data `test.digest` and `test.data` are placed at `0x10000000` in SRAM but this section is never initialized. Even if the this memory section would be initialized at simulation start, the core erases it in the boot ROM (as part of `zero_loop` starting at `0x831a`).

I am not sure but I think this section should be p

[2019-11-25 20:55] mcy commented on #1058
I did a quick glance and my current working theory is some silliness with `__attribute__((weak))`... I'm going to take a closer look.

[2019-11-25 22:16] gaurangchitroda opened #1074 "[dv/top_earlgrey] Remaining compile warnings"
Hi DV-Team,

I have submitted few changes as a part of #1046 to fix few top_earlgrey compile warnings. However, there are still some warnings remaining, and should be addressed by different owners.
Following are the remaining warnings:

Please let me know if you need more information on this.

Best Regards,
Gaurang

[2019-11-25 22:19] udinator commented on #1074
Adding @imphil and @vogelpi for further insight, as I believe that the Ibex warning is related to the RTL tracer module.

[2019-11-26 00:50] eunchan commented on #1068
This is somewhat related to the issue #47 . It is planned to make top-level specific register table under the `hw/top_{name}` and make IP spec to be more generalized.

Before going further down the road to the configurable register module, the tool could be revised to create generated IPs' spec under the top directory and removing the IPs' docs temporary. [Specboard](https://docs.opentitan.org/hw)

[2019-11-26 07:56] #941 closed

[2019-11-26 09:02] silvestrst opened #1076 "[DIF] Implement prototype UART DIF"
OpenTitan DIF specification [document](https://docs.google.com/document/d/1rMDHLQXSDH8CaUg0cID5ARGxdbflV61uk4crKWjhxs0/edit?pli=1#heading=h.jg2hzytlw6rq), although is not final, contains enough information to get started on the DIF implementation.

Providing that the specification doesn't change dramatically, the prototype potentially could turn into the production implementation with some amount

[2019-11-26 10:59] #1024 closed

[2019-11-26 11:32] lenary commented on #1063
It would be good to talk about this more. Can we add it to the software agenda?

[2019-11-26 13:36] asb commented on #1063
For header files: I agree that partially implementing a standard header seems like a bad idea.

Libc functions: If a function is implemented with libc semantics, I don't see a good reason not to use the standard libc symbol name (as is done with memcpy, memset, strlen, abort). If we deviate in some way then we absolutely should not use the same symbol name.

[2019-11-26 13:43] madhava-sahu opened #1077 "out_2019-11-26/asm_tests/riscv_arithmetic_basic_test_0.S: not generating in the out directory."
Hi all,

Here I am getting an issue that the assembly files not getting generated in the out/... directory generated by the run.py.
 command: python3 run.py --test riscv_arithmetic_basic_test --simulator questa
![Lowrisc](https://user-images.githubusercontent.com/55076352/69638516-da25f380-1080-11ea-85ae-76bb6ab968ec.png)
please help me.

[2019-11-26 13:51] silvestrst commented on #1063
I imagine we probably would want to also implement elements from stdbool.h and stdint.h.

[2019-11-26 15:15] mcy commented on #1063
@silvestrst Check out #1073 for an idea of what that would look like. There's *so* many caveats though.

@asb I would lean towards using our own names, and providing e.g. `memcpy` as a linker alias. That way we can deviate from exact ISO standard semantics (I do not want us to be in the business of having to exactly implement ISO-specified functions).

[2019-11-26 15:41] silvestrst commented on #1076
I guess there is no reason not to use regtool.py for DIFs, however I think the format of the produced <device>_regs.h has to change because of the following:

["DIFs must not intrinsically know the location of the hardware blocks"](https://docs.google.com/document/d/1rMDHLQXSDH8CaUg0cID5ARGxdbflV61uk4crKWjhxs0/edit?pli=1#)
Generated register define headers currently expect "<DEVICEn>_BASE_ADDR" to

[2019-11-26 21:07] #1058 closed

[2019-11-26 21:51] rasmus-madsen opened #1079 "[TLUL/RTL] TL_UL Interface X after reset"
I am not sure if this is actually a bug or on purpose.
but the TLUL hoste interface is not reset to a known value when reset is pulled at test startup.

but this triggers some assertions in the AES verification that does not allow the interface to be undefined after reset is set.
same scenario is present in UART sanity test only the uart test does not have these assertions

![image](https://user-i

[2019-11-26 21:54] rasmus-madsen commented on #1079
@vogelpi I think you might want to follow this.
Shouldn't the Assertions be in the TL_UL interface or a bind file?
this seems like a general assertion for that interface
and I think it is better practice to keep assertions out of the RTL and do a bind  instead.
Not sure what the guideline is on this matter

[2019-11-26 23:31] msfschaffner commented on #913
@mwbranstad can we close this one?

[2019-11-27 04:52] sjgitty commented on #1079
@cindychip can you take a look at this to compare against the other uses of TLUL assertions?

[2019-11-27 06:05] cindychip commented on #1079
Hi Rasmus,

1. In your screenshot, I could only see `tl_i` signals. I saw `a_valid` and `d_ready` all have values after reset. I think since `a_valid` and `d_ready` are both low from your waveform (that means we are not writing/reading any registers), it is okay for the rest of the signals to stay undriven, until simulation starts to read/write on TLUL interface.

2. I ran the AES waveup test. Sim

[2019-11-27 06:08] cindychip opened #1082 "[fpv] guidelines for RTL assertion"
related to issue #1079, as @rasmus-madsen brought up, discuss with RTL and DV engineers for the guidelines on where to write assertions.

[2019-11-27 12:23] silvestrst opened #1083 "[regtool] change register definitions to satisfy DIF requirements"
regtool.py generates register definitions with assumed knowledge of base_address, for example:
#define SPI_DEVICE_INTR_STATE(id) (SPI_DEVICE##id##_BASE_ADDR + 0x0)

This format is convenient in present setup, as there is no need to calculate all the peripheral registers absolute address. Instead it is enough to define base address  in the same header, together with device_regs.h file. Example from

[2019-11-27 12:25] silvestrst commented on #1083
I have some local changes, and will submit a pull request later today.

[2019-11-27 12:27] rasmus-madsen commented on #1082
@cindychip
I like adding Assertions in a bind file then they are easy to locate if there is an issue.
and easy to overwrite if you have a special case or altered use of a module.

but I don't have a strong feeling against putting assertions directly in code, I think there are things that are in favor of that.
I do on the other hand feel that it is important to put interface checks with the interfa

[2019-11-27 13:21] rasmus-madsen commented on #1079
@cindychip you are correct I did not look closely enough in the assertion .

@vogelpi
it seem like the output register is indicating data valid but when reading the output register data is X
can you take a look.
any seed with the aes_wakeup_test should show this issue.

[2019-11-27 13:32] vogelpi commented on #1079
Hi Rasmus,
thanks for creating this issue and for keeping me in the loop. I will have a look.

[2019-11-27 14:18] vogelpi commented on #1079
Thanks @cindychip for providing the waves. There seems to be a bug in the AES module. Maybe @rasmus-madsen can provide me the VCD such that I can have a look an provide a fix.

[2019-11-27 14:50] rasmus-madsen commented on #1079
[aes_output_error.zip](https://github.com/lowRISC/opentitan/files/3897318/aes_output_error.zip)

Hi pirmin please find log and vcd.
let me know if you need anything else

[2019-11-27 15:17] #1035 closed

[2019-11-27 15:18] imphil commented on #1035
@alistair23 this should now be fixed in master, please re-open if that's not the case. Thanks @tomroberts-lowrisc for working on this fix!

[2019-11-27 15:44] vogelpi commented on #1079
Thanks @rasmus-madsen , I think I found the bug. The function `aes_set_col()` which I created and used to assign individual columns of the state matrix (now a 2D packed array of bytes, actually a 3D packed logic array) is not properly handled in your tool. It only sets the last column. The other columns are set to don't cares.

This is totally unexpected. It worked perfectly fine with Verilator. I

[2019-11-27 17:28] imphil opened #1092 "[verilator] Build broken in Verilator >= 4.022 due to PROCASSWIRE"
Since https://github.com/verilator/verilator/commit/2aed499e0, first released in Verilator 4.022, we cannot compile earl_grey any more due to the following error message:

[code]

[code]

[2019-11-27 17:43] #552 closed

[2019-11-27 18:09] cindychip commented on #1082
Thanks for the input Rasmus. I would like to see all the assertions in one place as well. My current concern is: if a module includes some sub-modules, then when running simulation, we should also include the bind file assertions for the sub-modules. That might be less convenient than directly writing the essential assertions in the RTL code. Wonder what design engineers think about it @msfschaffn

[2019-11-27 18:39] silvestrst commented on #1076
I think it might be useful to calculate all absolute addresses (base_address + specific register offset) in uart_t (dif dependent) in uart_init function. This would expose the registers for use in DV and the higher level drivers, and also would allow to calculate register addresses once and use then in other DIF routines.

[2019-11-27 19:38] msfschaffner commented on #1082
from the designer's point of view, I think we should allow placement of basic assertions directly into RTL (let's call these "embedded SVAs" for now). these are usually assertions that the designer thinks about when writing the RTL, and I find it much more convenient to directly have them co-located with the functionality itself. as an added benefit, these "sanity checks" are always present even w

[2019-11-27 20:18] aytong commented on #41
@eunchan, ping.

[2019-11-27 20:38] aytong commented on #456
Coming back to this aging issue, I don't have admin privilege to this repo.  @asb, @sjgitty, can you grant me, or reassign?  Thanks.

[2019-11-27 20:41] sjgitty commented on #1082
In addition it is common sense to put portable assertion collections in a file, like
what we've done for TLUL. These are useful when binding to more than one design,
so one could make that determination when writing the assertions, as to whether
or not they would be useful elsewhere in the chip.

[2019-11-27 21:04] sjgitty opened #1093 "[usb] remove inline lint comments"
refers to #1066

the inherited USB code has inline lint waivers. We're using a waiver-file approach
that is currently not yet in-repo. In a separate PR we should remove the
inline `// lint` waivers and create replacement ones that inherit the intent.

@vogelpi @stefanlippuner @msfschaffner

[2019-11-27 22:32] gaurangchitroda opened #1096 "[dv/gpio] Fix gpio stress all test"
GPIO Stress all test is not clean, and it may need scoreboard updates to fix the failures.

[2019-11-28 11:33] imphil opened #1101 "[meson] Document minimum supported meson version"
We should add a `meson_version: '>= xxx',` in `meson.build` to document the minimum supported meson version. We can be fairly aggressive there and update whenever needed, since we install meson from pip and users have easy access to newer versions. But it would be good to bail out if we know that meson is too old.

[2019-11-28 11:34] imphil commented on #1032
@mcy Can you ensure that you're keeping track of the items in https://github.com/lowRISC/opentitan/issues/8 here, and close the other issue (or this one)?

[2019-11-28 11:37] lenary commented on #1101
I think I want to be using some functionality relating to static libraries that has been present since 0.51.0, from June 16 2019.

[2019-11-28 14:44] imphil commented on #312
Assuming this is working now, please re-open if that's still an issue.

[2019-11-28 14:44] #312 closed

[2019-11-28 14:53] imphil opened #1103 "Fusesoc sporadically fails to compile Verilator simulation"
Sporadically we get the following errors from fusesoc when running `fusesoc --verbose --cores-root . run --target=sim --setup --build lowrisc:systems:top_earlgrey_verilator`.

[code]

That's due to `top_earlgrey.core` including files in a directory above the current directory.

https://github.com/lowRISC/opentitan/blob/16aac4a9e3f0c0beadba3f4c045dc845d40c6300/hw/top_earlgrey/top_earlgrey.core#L34-

[2019-11-28 15:17] #1079 closed

[2019-11-28 16:45] lenary commented on #1101
In the end, I didn't use that functionality because it wasn't quite doing the right thing anyway.

[2019-11-29 13:36] imphil opened #1107 "Replace srec_cat with objcopy"
We currently use srec_cat from srecord to create vmem files. objcopy does have similar functionality, but https://sourceware.org/bugzilla/show_bug.cgi?id=19921 was needed first. That patch landed, and binutils 2.33 should be the first release with a fixed objcopy. Once our toolchain has that version of binutils, try it and remove the srecord dependency.

[2019-12-02 08:00] tomoveu opened #1112 "FR: PCR-like functionality"
Hello everyone,

I am really excited to see the project come to fruition! One year just flew by.

What is the likelihood of adding registers with special reset condition?

Or simply put, register that reset only on power-on.

If we add such registers, then we could have the logic to allow only a single operation during normal mode for these registers, exactly like a "PCR Extend" in the Trusted Pla

[2019-12-02 10:47] #1092 closed

[2019-12-02 12:15] towoe commented on #1030
Fixed by #1034

[2019-12-02 12:15] #1030 closed

[2019-12-02 13:00] towoe commented on #1107
For reference: reported by @olofk https://sourceware.org/bugzilla/show_bug.cgi?id=25202

[2019-12-02 17:04] mwbranstad commented on #913
I have verified that the new io exist on the module prim_lfsr.sv in the repo. If there are any functional issues resulting from this change, a new issue will be created.

[2019-12-02 17:04] #913 closed

[2019-12-02 18:48] msfschaffner opened #1115 "[topgen] Need to automatically generate SW mappings from indices to signal names"
For parametric modules such as the PLIC, pinmux, padctrl and alert_handler, topgen should generate headers with a SW mapping from signal names to indices such that firmware can appropriately initialize these modules.

There has been initial work on this for the pinmux by @eunchan in order to provide a default mapping at startup, but this should be extended.

[2019-12-02 19:55] tjaychen commented on #1058
i'm a bit late to the party, but i did experience this issue some time ago as well. See #726
I made some hack fix at the time, but looks like this issue points to something else?

[2019-12-02 21:45] udinator commented on #1077
Hi @madhava-sahu - Can you check the generator compilation log? It should be located at out_2019-11-26/compile.log

[2019-12-02 21:56] sjgitty commented on #723
@gkelly bump

[2019-12-02 22:12] tjaychen commented on #1041
sorry if i'm a bit late to this, but has there been any thought to have
lowrisc host specific licenses for DV sanity?

On Thu, Nov 21, 2019 at 10:19 AM Philipp Wagner <notifications@github.com>
wrote:

[2019-12-02 22:14] gkelly commented on #723
Yep, I think the interesting bits (and some new issues) have been captured in separate issues.  Happy to close this one.

[2019-12-02 22:51] moidx opened #1119 "[security] Provide reference use cases"
Provide reference use cases for OpenTitan.  Each use case should follow the suggested template:

* Overview: High level description of the use case.
* (Optional) Certification Requirements: Any government related certification requirements. For
   example, Common Criteria or FIPS.
* Provisioning Requirements: Manufacturing personalization/provisioning requirements.
* Packaging Constraints: Silicon

[2019-12-02 23:25] eunchan opened #1121 "RFC: SPI Flash Mode"
## Request For Comments: SPI Device Flash / Mailbox Mode

This RFC suggests two features in SPI Device HWIP, which are the SPI Flash mode (EEPROM) and the Mailbox mode. SPI Flash mode is to enable the host to access internal eFlash storage with standardized SPI Flash command set and protocol. It leads to the eventual goal, SPI passthrough mode later. The second feature, Mailbox mode is to communic

[2019-12-02 23:44] sjgitty commented on #723
closing this one as they are all either completed or separated out into other issues.

[2019-12-02 23:44] #723 closed

[2019-12-02 23:51] cindychip opened #1123 "[doc] Hugo printable format"
For all the documents in Hugo, if I try to print them or save as PDF, there are weird line break and "skip to main content" signs.
Anybody has any idea on how to get a better printable doc?

[2019-12-03 01:06] tjaychen commented on #1028
@mcy are you actually trying to support spiflash in verilator? Because if you provide an image via flashinit, i dont think you actually need to bother.

but yeah... in FPGA, we can directly manipulate the IO_RSTN line, there's no equivalent in verilator at the moment.  When the simulation is instantiated, there IS a top level rst_ni signal, but it's not clear to me if you can directly manipulate t

[2019-12-03 06:01] weicaiyang opened #1127 "[dv] RISC-V build error"
@imphil
Will Chen (from Synopsys) met below error when running top-level simulation.
I don't see this error from my side but their OS isn't the same as ours.
Do you know how to solve this problem? Thanks

[2019-12-03 08:02] towoe commented on #1127
My first idea would be to check the toolchain as the error message shows that a double-float `_divdi3.o` is used while linking and soft-float is the one needed.
Best option would be to try install and use https://github.com/lowRISC/lowrisc-toolchains/releases/tag/20191101-1

[2019-12-03 08:57] vogelpi commented on #1007
Alright, the first PR re-aligning the USB top with the current repo state has finally landed. The next step is to move to auto-generate for this.

Before doing that, we should discuss, how to integrate the USB module. There are basically two options 1) have a separate top with the USB included (but don't include it in the normal top), 2) include it in the normal top.

For option 2), we would IMO n

[2019-12-03 11:28] towoe opened #1128 "[util] make_distribution.sh CI dependency for hw"
`util/make_distribution.sh` depends on "binary" output files to be available in `build-bin`.
In the CI flow the hw files are copied "manually" to the location so they are later available, but for a local build this is not automated.

For build artifacts the discussion started in #650 and for intermediate hw artifacts this is specified in #995
For sw meson takes care of intermediate and binary outp

[2019-12-03 11:58] imphil commented on #1128
Fusesoc can do that (as a post-build script). It's not clear, however, if that's the path we want to take, or if fusesoc will be called through meson instead, and then meson takes over that part.

@mcy can you outline your plans there, and a rough ETA? (Depending on that, we might want to look into intermediate solutions.)

[2019-12-03 13:54] towoe commented on #3
Supported by #1091

[2019-12-03 13:54] #3 closed

[2019-12-03 14:01] imphil commented on #1123
This is something can can be fixed in CSS.

@gkelly can you fix that? Otherwise let me know and I'll have a look.

[2019-12-03 14:12] imphil commented on #1127
Yes, this looks like a toolchain issue (mixing a toolchain built with double-precision hardfloat support (D) with software built with softfloat). Please install the pre-built toolchain that we're providing, you can find instructions at https://docs.opentitan.org/doc/ug/install_instructions/#device-compiler-toolchain-rv32imc, which boils down to a single command:

[code]

If you still have problems

[2019-12-03 15:09] towoe opened #1130 "Snapshot release cycle"
I was in the process of updating some documentation when I realized this (`quickstart.md`) is based on a snapshot. `getting_started_verilator.md` on the other hand should reflect the current state of the repo. So these documents might contain different instructions, which could be confusing.

Do we have a plan of how frequently the snapshot should be released? Or is this more on the basis of a nee

[2019-12-03 15:21] imphil commented on #1130
Good that you bring that up. A regular snapshot release is something we should aim for; given that it is a snapshot release, ~1 a month sounds like a good cadence. We should however make sure that we can release such a release with minimal or no manual work/testing.

[2019-12-03 16:04] gkelly commented on #1123
Can do, I know where that's coming from.

[2019-12-03 18:02] cdgori commented on #367
Just putting some random thoughts here for later discussion/incorporation into guidelines, based on some discussion from this morning.  Please add other comments/thoughts here so we can properly write up guidelines going forward.

-In security logic, it's not OK to assume values/states are "not reachable" - explicit handling logic for what happens when those values are present/reached will need to

[2019-12-03 19:06] tjaychen commented on #1024
sorry i'm a bit late to this issue, but what's the resolution exactly?
The original hardcoding path isn't entirely right...and it does feel like the better solution is to pass it on the fly based on where ROM was actually compiled to.

[2019-12-03 19:06] tjaychen commented on #1024
o nvm, i see the related fix.

[2019-12-03 19:11] sjgitty commented on #1123
I believe there are other print artifacts that are odd that @cindychip and I noticed. So there might be more coming. One other she noticed had to do with clipped table widths, for instance in the HMAC dv plan `https://docs.opentitan.org/hw/ip/hmac/doc/dv_plan/`. @cindychip can you file a new issue for the ones you notice?

[2019-12-03 19:41] sjgitty commented on #367
Thanks @cdgori

There is more nuance here, no? Take the case of an `logic [1:0] enum` with three legal states `{mode0, mode1, mode2}`. Which do we want? One that defines it as just a legal case and asserts? One that highlights that it is "special"? Or further, one that detects the problem (but otherwise allows the code to be optimized)?

[code]

[code]

[code]

Agreed, though I imagine we could de

[2019-12-03 19:52] tjaychen commented on #1112
could you elaborate a bit more on the specifics of 'power on'?
In general we will have a few classes of storage elements that respond differently to reset conditions.

For example, do you consider power on literally when someone powers up the main IO rails to the device? Or would it be some kind of main reset to the system?

Naively speaking, we will likely have registers that survive low power, s

[2019-12-03 19:53] eunchan opened #1132 "[uart] Spec/ Design change"
A SW person raises an issue about the `tx_watermark` behavior isn't optimal for the software usage case. It makes more sense if UART creates an tx_watermark interrupt when its TX FIFO drops the level below to the watermark level.

CC: @weicaiyang

[2019-12-03 19:55] #1123 closed

[2019-12-03 20:22] tjaychen commented on #1132
ah good catch, i didn't realize today's implementation is `>=`
So i'm assuming the feedback is that software wants to know when the FIFO has been drained a certain amount so that they can fill in more?

[2019-12-03 20:27] eunchan commented on #1132
Exactly.

[2019-12-03 20:28] eunchan commented on #1132
I remember @weicaiyang raised this issue (spec and the implementation weren't same), and I blindly revised the spec rather digging out the issue deeper. My bad... :)

[2019-12-03 20:43] phil-levis-google commented on #1132
I'm the SW person @eunchan mentions.

The desired behavior is that hardware informs software when it needs to take action. In the case of RX, this happens when the FIFO is too full -- software needs to read it or there will be an overflow and bytes will be lost. The RX interrupt behavior seems correct for this. For TX, this happens when the FIFO is close to empty -- software needs to put more byte

[2019-12-03 21:21] phil-levis-google commented on #1132
On follow-up. While it's important that the TX watermark trigger when the TXFIFO falls *below* the watermark, so a watermark of 1 will trigger at 0, it's equally important that the RX watermark trigger when the RXFIFO rises to be *equal to or greater* than the watermark. This is so that if there is a watermark of 1 and a single byte is received, it will not remain pending in the FIFO for an arbitr

[2019-12-03 21:32] cindychip opened #1133 "[dv/doc] Minor DV doc issues"
Some issues found while browsing the opentitan website:
- [x] All the modules' DV plan block diagram:
  1). pins_if intr_if's arrow should be pointing outwards from the DUT.
  2). under clk_rst_if should label "clock and reset"

[2019-12-03 21:32] cindychip commented on #1123
Thanks for the reminder Scott, filed an issue with some other DV minor issues #1133 .

[2019-12-03 21:39] weicaiyang commented on #979
Fixed

[2019-12-03 21:39] #979 closed

[2019-12-04 00:11] sjgitty opened #1136 "[signoff] add security review to checklist for signoff"
In light of #367 we should add signoff checklist items for having reviewed code from a security-coding as well as security-testing perspective. WDYT, D2 and V2 items?

[2019-12-04 00:49] aytong commented on #1136
Agreed.  RTL code review for security should be a D2 item.  As for security testing, isn't that already part of the test plan?  But I do think there's benefit to explicitily call out security DV in verification checklist.  We probably should flesh out what "security testing" in more details, and capture them as a set of checklist items for V2, and some maybe V3 (e.g. glitch attack simulation).
@cd

[2019-12-04 01:01] sjgitty commented on #1132
Thanks for the feedback, @phil-levis-google, more SW eyes are certainly
welcome.
This seems like the right implementation. Is there another request for a
second (empty)
interrupt, or is one (watermark) sufficient?

On Tue, Dec 3, 2019 at 1:21 PM phil-levis-google <notifications@github.com>
wrote:

[2019-12-04 02:01] cindychip commented on #1082
Thanks everyone for the inputs. Seems like most comments can be summarized as below:
1. Assertions can be either in RTL file or separate file bound with RTL.
2. Common shared assertions such as TLUL assertions should be in a separate file and bound with the RTL.
3. Sanity check assertions (mostly written by the designers) are recommended to write directly in the RTL files.
4. Assertions written fo

[2019-12-04 02:03] weicaiyang commented on #1074
Fixing this one #1137

@eunchan can you take a look at following warning?

[2019-12-04 06:13] snpsverif commented on #1127
Downloading and untarring the pre-built one works. Thanks for the detailed instructions.

[2019-12-04 06:16] phil-levis commented on #1132
I'd suggest changing the TX overflow interrupt to be an empty interrupt: a TX overflow interrupt is not useful. Both the RX and TX paths have two interrupts: RX for watermark and overflow, TX for watermark and empty. Should I put this in a separate issue?

[2019-12-04 11:12] towoe opened #1140 "[util] Codeowner"
We do not have a code owner for not specified `util` contents.
In #1139 only `*.sh` files are changed, but they are not listed in the CODEOWNERS file.
Any suggestion who that should be?

[2019-12-04 11:21] towoe commented on #1130
Once a month sounds like a reasonable suggestion.
The release creation should be automated by adding a tag.
One part which should be updated with this is `doc/ug/quickstart.md`.
Other than that the only manual task would be to test the release? Or do I miss something @imphil?

[2019-12-04 12:08] #340 closed

[2019-12-04 14:09] lenary commented on #1101
I had to use some Meson 0.51.0 features in #1106, so I have added a minimum meson version based on that to `meson.build` and `python-requirements.txt`.

[2019-12-04 14:09] #1101 closed

[2019-12-04 16:20] eunchan commented on #1132
No, we can do it in this issue.
On Tue, Dec 03, 2019 at 10:16:03PM -0800, Philip Levis wrote:

[2019-12-04 18:16] weicaiyang commented on #1127
Thanks @towoe and @imphil It's solved.

[2019-12-04 18:16] #1127 closed

[2019-12-04 18:20] mcy commented on #1140
I think we should just kill `util` altogether. It's a kitchen sink of tools owned by hardware, software, and infrastructure people.

[2019-12-04 18:37] #1119 closed

[2019-12-04 19:27] towoe commented on #1140
While its true that `util` is used by different parts, what would be the suggestion for an improvement? I think it would be hard to organize a `util` for each subsection as there are shared components.

[2019-12-04 19:28] mcy opened #1142 "[sw] Naked functions act as an inlining barrier in Clang."
https://godbolt.org/z/Btr-mt is a very simple naked function that loads a byte. Unfortunately, LLVM chooses not to inline it and turns it into a tail call (because, of course, LLVM is forbidden from peaking inside the asm string).

If, instead, you let the register allocator participate, you get inlining: https://godbolt.org/z/rj3d2R.

My question: I think this suggest we might want to just ban na

[2019-12-04 19:40] tjaychen commented on #1140
would it make sense to create subdirectories under util that better
indicate their function?
For example there are hw design and dv specific ones..stuff like vendor
might be more general?

On Wed, Dec 4, 2019 at 11:27 AM Tobias Woelfel <notifications@github.com>
wrote:

[2019-12-05 00:30] msfschaffner commented on #1082
SGTM, @cindychip

[2019-12-05 00:54] tunghoang290780 opened #1146 "[lint, doc] Document for linting tool"
Do we have the document for linting (tool vendor, script)?

[2019-12-05 00:57] tunghoang290780 commented on #1146
Add: @martin-lueker @mwbranstad @rasmus-madsen @senelson7 @igk8 @smcmaster66

[2019-12-05 01:02] msfschaffner commented on #1146
Hey @tunghoang290780, we have an internal lint flow, yes, but that one is not yet ready to be published openly due to some restrictions from the vendor side.

[2019-12-05 02:20] sjgitty commented on #11
On a mission to clean up old issues, scraping from stalest to freshest.

Did the proposed next steps from Aug 15 result in any conclusions @imphil ?

Anything we can do to converge on a conclusion or recommendation?

[2019-12-05 02:24] sjgitty commented on #29
On a mission to clean up old issues, scraping from stalest to freshest.

@imphil how does the thinking from Jul 22 jibe with today's thinking and with the modifications to `vendor.py` underweigh?

[2019-12-05 02:28] sjgitty commented on #31
On a mission to clean up old issues, scraping from stalest to freshest.

@aytong or @sriyerg any update on thinking on this tracking issue?

[2019-12-05 02:29] sjgitty commented on #39
On a mission to clean up old issues, scraping from stalest to freshest.

@eunchan can you try this again? Is this something that we want to
support @asb @imphil ?

[2019-12-05 02:30] sjgitty commented on #44
On a mission to clean up old issues, scraping from stalest to freshest.

@vogelpi @mdhayter does @stefanlipunner's recent work in this
area change the status of this issue? Related comment: we will initiate
a conversation on how to move forward with USB soon.

[2019-12-05 02:31] sjgitty commented on #49
On a mission to clean up old issues, scraping from stalest to freshest.

I think we can close this as it is being tracked in the 2020 planning for HMAC
improvements, unless @eunchan you would prefer to keep it open until the
specification is updated?

[2019-12-05 02:32] sjgitty commented on #62
On a mission to clean up old issues, scraping from stalest to freshest.

The spacing here is much improved, closing this one.

[2019-12-05 02:32] #62 closed

[2019-12-05 02:33] sjgitty commented on #66
On a mission to clean up old issues, scraping from stalest to freshest.

I think this one should stay open until new "2020 specification" is written.

[2019-12-05 02:34] sjgitty commented on #67
On a mission to clean up old issues, scraping from stalest to freshest.

This is one area that we can discuss next week as part of our HW CI
strategy.

[2019-12-05 02:36] sjgitty commented on #78
On a mission to clean up old issues, scraping from stalest to freshest.

Any movement on this one @vogelpi or @GregAC or @tomroberts-lowrisc ?

[2019-12-05 04:44] mdhayter commented on #44
The recent work was a good clean-up but doesn't really address the code being fragile to timing. I think both these are possible approaches to improvements.

[2019-12-05 04:59] tjaychen commented on #49
it may be helpful to confer with Chris / Felix on how useful they think
this is.

On Wed, Dec 4, 2019 at 6:31 PM Scott Johnson <notifications@github.com>
wrote:

[2019-12-05 05:03] eunchan commented on #1140
I think we don't need CODEOWNERS for `util/`, frankly it is quite hard to determine who should be default reviewers. For instance, `regtool` is designed by Mark (validate/ doc), Sri(gen_dv), Michael(Multireg array), Scott(Multireg, regwen), me (gen_rtl/ data).

[2019-12-05 05:05] tjaychen commented on #1140
it would still be good to have someone be the default reviewr though.. so
that person can tag others in as needed.

On Wed, Dec 4, 2019 at 9:03 PM Eunchan Kim <notifications@github.com> wrote:

[2019-12-05 05:12] tjaychen commented on #1132
yeah i agree on tx_overflow -> tx_empty.

On Wed, Dec 4, 2019 at 8:20 AM Eunchan Kim <notifications@github.com> wrote:

[2019-12-05 08:22] stefanlippuner commented on #1007
Yes, I've cleaned up the tinyfpga files to the point where they match our own standards (SV, no initial values, async. reset). As far as I can see, only three files from tinyfpga are actually used (in usbdev). I could upstream these changes to you if you'd like.

On my side I've gotten the IP + demo software to work in our system. The virtual serial port works quite reliably now with only some min

[2019-12-05 09:18] rasmus-madsen opened #1150 "[tool/gcc/vcs] c files listed as Filetype: systemverilog in fusesoc"
in the Fusesoc
we list all .c/.h files as  `file_type: systemVerilogSource`

this makes xcelium gcc choke on aes_model_dpi.c
particularly it chokes on the include of cstring
![image](https://user-images.githubusercontent.com/53917183/70220381-c5afbe00-1746-11ea-89e2-1f23a365de37.png)

Why are we defining c files as systemverilog type?

I seem to remember seeing something about this being a VCS pro

[2019-12-05 10:04] towoe commented on #1140
I think it would be beneficial to have one as a code owner as we already use this structure.
And my understanding would be that everybody is encouraged to do a code review but if there is no progress its at least clear who to ping for further guidance.

[2019-12-05 12:38] vogelpi commented on #1150
Hi Rasmus,
the original issue is here: #953

Could you please state which core files exactly you had to modify to make it compile? Is it just `hw/ip/aes/dv/aes_model_dpi/aes_model_dpi.core` or also `hw/ip/aes/model/aes_model/aes_model.core`?

If I understand it correctly, you are saying that we should again declare those files as `cSource`. Correct?

Since I cannot test this locally (I do not have

[2019-12-05 12:40] vogelpi commented on #953
Sorry for my late reply @imphil , I do not yet have access to VCS here in Zürich.

[2019-12-05 13:07] rasmus-madsen commented on #1150
@vogelpi
the only file causing problem is the aes_model_dpi.c
but from reading #953
I realize I didn't solve the issue I just remove the file from the compile list..
and as I didn't call any of the functions in side yet I did not any issues.

so the problem seem to be a compile issue.  and not a file_type issue...

@weicaiyang  or @sriyerg
can you try to compile the aes module on my aes_dev using

[2019-12-05 15:22] lenary commented on #1142
I think naked functions are only for when using the calling convention would make your function incorrect. A good example is where you need a custom, hand-coded function prologue/epilogue that you cannot get from either a normal function or a function annotated with `__attribute((interrupt))`.

If we can use inline functions to avoid the overhead of the calling convention for small assembly snippe

[2019-12-05 15:43] mcy commented on #1142
That's awful. That's so, so awful. This is why I keep yelling at the Rust people that they need to guarantee they will never do this.

What sort of function prologue do you want that interrupt can't give you, anyway? If we really really really really need to allow them, I think some guidance on when they're the right hammer is in order.

[2019-12-05 15:46] lenary commented on #1142
We don't have any right now, so I almost certainly meant `interrupt` functions when writing the C11 style guide. I will remove explicit allow of `naked`, which means it is now only recommended against, not banned.

[2019-12-05 17:29] eunchan commented on #39
Oh... I have no longer macOS. We can close this.

On Wed, Dec 04, 2019 at 06:29:16PM -0800, Scott Johnson wrote:

[2019-12-05 17:35] #39 closed

[2019-12-05 18:00] weicaiyang commented on #1150
@rasmus-madsen
Looks like aes_model_dpi isn't yet included in aes TB. I added it as a depend lib in aes_env.core.
Then, I saw below error from Xcelium.
[code]

And following error from VCS.
[code]

Is this the issue you found?

[2019-12-05 18:15] rasmus-madsen commented on #1150
@weicaiyang

its almost the same issue, VCS gives the same error, for xcelium I an error inside the cstring.c file.
I wonder why I have a cstring file and you guys don't - I didn't download it. but since our tools are shared between different groups somebody might have added it.

@pirming any suggestion why including cstring is causing issues?
is this a special package that we need to download?

[2019-12-05 18:38] #1142 closed

[2019-12-05 18:52] weicaiyang commented on #1150
I did some experiment with below changes. Then xcelium is passing while VCS has errors `crypto.c:(.text+0x23): undefined reference to EVP_CIPHER_CTX_new`
1. Comment out `#include <cstring>`, not sure if we need cstring?
2. move files from aes/model/ to aes/dv/aes_model_dpi to solve the issue - missing "aes.h". Seems like *.h file need to be same directory of the file that includes it.

[2019-12-05 18:57] rasmus-madsen commented on #1150
@weicai
ohh thank you for taking a stab at this.

@vogelpi it kinda makes sense to move the aes/model to dv anyway right?
would it be ok to just move all the aes files to aes/dv/aes_model_dpi/ ?

[2019-12-05 19:03] mdhayter commented on #1007
Slowly the tinyfpga files got replaced (when I moved from the PE with buffers integrated to the unbuffered version) apart from those few physical layer files. If they are still compatible I think the tinyfpga would accept PRs, although we may need to check they work with the Lattice workflow they use.

I didn't do any formal USB checking (mostly tested with FPGA connected to Linux or ChromeOS)

[2019-12-05 19:17] sjgitty commented on #1140
I'll take `util/` as default, if needed, and parcel out tags where
appropriate. I'm usually watching
all of the `util/` activity anyway. Generally everyone is awesome at
jumping in and solving problems
so not a tough role.

On Thu, Dec 5, 2019 at 2:04 AM Tobias Woelfel <notifications@github.com>
wrote:

[2019-12-06 00:57] cdgori commented on #49
With Scott's suggestion that sideloading prevents context-saving/swapping, I think it's interesting and pretty safe to implement.

But as to whether we need it or not, I don't have a good sense of the workloads we expect, and if two SHA'ing "threads" are going to be contending for the hardware.  @tjaychen you said this came up in the past, so I'm assuming it's real, but maybe an example would help

[2019-12-06 01:04] tjaychen commented on #49
Yes your description of where this came up is right.  Except the difference
is that the "huge payload" was actually coming off-chip from another
client.  This client does not provide information on exactly how much
information needed to be hashed, other than periodically supplying data and
eventually a "done".
Because of this, there was no good way of knowing when to release the
hardware and use i

[2019-12-06 02:50] sjgitty commented on #49
This is evidently a real case scenario in a certain product whereby they're
forced
to use SW hash / HMAC when the HW unit is busy. Unfortunate situation that
could
be alleviated with this feature (assuming it is worth the cost).

On Thu, Dec 5, 2019 at 5:04 PM tjaychen <notifications@github.com> wrote:

[2019-12-06 09:56] GregAC opened #1159 "[spiflash] Issues with reset/bootstrap"
When you run spiflash earlgrey is reset and begins running the previously loaded program before it resets again and actually loads the new program the second time round.

The issue is something to do with the bootstrap pin. This is the code in spiflash that performs the reset:

https://github.com/lowRISC/opentitan/blob/e416cb84c1ce6e31b80f335e8b39b349eeddf93f/sw/host/spiflash/ftdi_spi_interface.cc

[2019-12-06 13:49] vogelpi commented on #1150
Thanks @weicaiyang for your support!

Regarding the use of `<cstring>`: We need this for `memset()`, `memcpy()` etc. but I accidentally included the C++ variant instead of `<string.h>`. I am sorry, this is my fault. I will create a patch and PR.

Regarding moving the model files from `aes/model/` to `aes/dv/aes_model_dpi`: This is not the right thing to do. The model is independent from the DPI mo

[2019-12-06 17:15] mcy commented on #1032
@imphil I don't believe any of those tasks are in addition to that one:
- The Docker container already pulls in the dependencies for the new build system.
- All of the other requirements are documentation tasks, or tasks I completed before filing this bug.

So I'm gonna go ahead and close it out.

[2019-12-06 17:16] mcy commented on #8
See #1032.

[2019-12-06 17:16] #8 closed

[2019-12-06 17:19] imphil opened #1160 "Idea: Rename meson_init.sh to configure"
The title says it all; in order to help people get started and feel more "at home", can we rename `meson_init.sh` to `configure`? That would give us a sequence of calls rather similar to what we'd have with autotools/make, e.g.

[code]

@mcy @gkelly @asb

[2019-12-06 17:25] vogelpi commented on #1150
Alrighty, I think I found the issue. VCS cannot set up the include paths for the C compilation correctly. When building the simulation environment, the missing sources end up in the wrong folder (together with the other SystemVerilog sources) as they are declared as `systemVerilogSource`.

To fix the problem: Inside `aes/dv/aes_model_dpi/aes_model_dpi.core` the sv files only need to be specified a

[2019-12-06 17:26] vogelpi commented on #1150
What I forgot: the PR I made into the dev branch of Rasmus also contains the fix for the wrong header.

[2019-12-06 19:25] weicaiyang commented on #1150
Thanks @vogelpi for figuring this out.
+ @cindychip

[2019-12-06 19:52] mcy opened #1162 "[meson] Eliminating the duplicated Meson trees"
NOTE: the below assumes I have finished deleting Make, since the changes I wish to make cannot be expressed in Make without significant toil.

Right now, we generate one Meson tree per "platform" we support. Right now that's Verilator and FPGA, but will soon include DV, and eventually the ASIC.

I've been trying to think of a way to effectively unify these trees, for the following reasons:
- Only

[2019-12-06 19:53] mcy commented on #1162
@gkelly @asb @imphil @lenary @silvestrst

[2019-12-06 20:06] imphil commented on #1162
So that's effectively the "trick" way to insert a device tree into a binary at link time? I'm generally fine with that, we might want to to a bit further and actually doing a device-tree like struct and insert that.

@tomroberts-lowrisc did think about how we can run the same binary on different platforms, and effectively that's the first step towards that. The second step then is obviously identi

[2019-12-06 20:16] mcy commented on #1162
Yeah, the exact contents of `platform.h` are a bit wobbly in my head. I think that's the less important detail, honestly. I'm mostly interested in the "dependency injection" mechanism. It can even be at runtime in the future, but I mostly just want to kill the split Meson trees as soon as possible.

[2019-12-06 20:53] lenary commented on #1162
This sounds reasonable, and should mostly accomplish the primary goal.

I suppose where it falls down is if we have compiler flags that we want the entire tree compiled with. For instance, we usually want the whole tree compiled with `-Oz` for normal software, but sometimes (for example benchmarking), we might want the whole tree compiled with `-O3` (and a bunch of other optimisation flags). Note

[2019-12-06 22:40] tjaychen commented on #1159
Hey Greg,
I'm looking at the behavior of mine.. and my setup is always jumping into
bootstrap.
I think Miguel O. is seeing the same behavior.  I'm poking around, will let
you know what we find.

On Fri, Dec 6, 2019 at 1:56 AM Greg Chadwick <notifications@github.com>
wrote:

[2019-12-07 00:05] satnam6502 opened #1169 "Designcheck 2-3 error check fires for top_earlgrey_nexysvideo"
When trying to follow the instructions at https://docs.opentitan.org/doc/ug/getting_started_fpga for building the bitstream for the Earlgrey design for the Nexys Video FPGA board:

[code]

I get the error:

[code]

I changed `ERROR` to `INFO` in `vivado_hook_opt_design_post.tcl` and managed to produce a bitstream that runs the boot loader on my FPGA board so perhaps this is a false error?

[2019-12-07 00:08] tjaychen commented on #1159
@GregAC

So I do see some issues on my end, but I am not sure if they are the same as yours. (@moidx and I appear to be having the same issues).  Let me describe what I am seeing and what I think is causing it.

In my setup, whenever I reset the FPGA (push the CPU_RESET button), I always revert to a state where boot_rom assumes it is waiting for spiflash
![image](https://user-images.githubusercont

[2019-12-07 00:15] tjaychen commented on #1169
Ah I am sorry, you're catching all of this at a bad time when documents are
mid-transition and updates.
The fusesoc core instruction has been updated to expect the rom files
somewhere else.

Instead of using make -C ...
Please do the following instead,
./meson_init.sh -f
ninja -C build-out/sw/fpga sw/device/boot_rom/boot_rom.bin

you can see this PR (https://github.com/lowRISC/opentitan/pull/1070/

[2019-12-07 00:18] satnam6502 commented on #1169
Ah, yes, indeed! I was going to file some more PRs to say the instructions for building the ROM images are wrong. OK: thank you! I shall sit tight and wait it out...
In the meantime I have managed to understand and clobber together enough stuff to get the boot image running on my [Xilinx ZC104 board](https://www.xilinx.com/products/boards-and-kits/zcu104.html) and the UART displaying the correct o

[2019-12-07 00:19] tjaychen commented on #1169
great to hear!

On Fri, Dec 6, 2019 at 4:18 PM Satnam Singh <notifications@github.com>
wrote:

[2019-12-07 00:22] satnam6502 commented on #1169
I wired up the 125MHz LVDS differential clock inputs to the PLL and changed the multiplication and division to get 50MHz and I wired up the UART pins and a push-button for reset so that much works. The JTAG/SPI stuff I have not dealt with yet, but I was doing this while waiting for the  Nexys Video board so perhaps I shall not continue with the porting work on focus instead on the "official board"

[2019-12-07 00:56] satnam6502 commented on #1169
Ah, following the *new* instructions in that PR I got the hello world program to run!

[code]

[2019-12-07 15:07] #1140 closed

[2019-12-07 15:32] imphil commented on #1
That's unnecessary, since we build the bootrom into the bitstream at synthesis time using Vivado directly. The splice script is optional and only used in special cases.

[2019-12-07 15:32] #1 closed

[2019-12-07 15:34] imphil commented on #29
That issue is still valid and would be a nice productivity improvement. But it's not high-prio right now.

[2019-12-07 15:42] imphil commented on #35
Closed through #746

[2019-12-07 15:42] #35 closed

[2019-12-07 15:44] imphil commented on #52
@stefanlippuner @vogelpi you're planning to work on this AFAIK?

[2019-12-08 20:06] imphil opened #1171 "Write demo software exercising U-mode"
We currently have no in-tree software that utilizes U-mode. Write a simple application showing that/how how U-mode works.

Things to do/show:

- Entering/exiting U-mode.
- ~~Read time(h). Requires emulation in a trap handler, see #78~~ - No `time` implementation in Ibex or OT firmware.
- Read U-mode specific registers.

[2019-12-08 20:15] imphil opened #1172 "Document platform-specific SW requirements"
We need a document targeting people porting an operating system to OpenTitan (or writing baremetal software from scratch) where we outline all platform-specific requirements.

- Link to ibex documentation for information which CSR are available.
- Trap handlers which we expect to be there, e.g. https://github.com/lowRISC/opentitan/issues/78

This could be part of the earl grey toplevel docs (https

[2019-12-09 08:22] vogelpi commented on #52
Yes, the we continued this discussion in Stefan's original USB issue here: #1007 .

[2019-12-09 08:47] stefanlippuner commented on #1007
If you're volunteering to upstream the changes to tinyfpga, sure. I'm willing to port the changes back to your system, but I can't really justify setting up yet another project and getting a PR accepted there.

With the current master (probably since #903 ) the USB top simulation is broken again. I think this is a good example why the usb_top should be aligned in a more lasting way.

[2019-12-09 11:19] asb commented on #456
Hi Andy - issue and PR templates can be committed using normal pull requests + review, which would be our preferred path. I think the next step is to draft the proposed PR/issue templates you feel would be useful.

[2019-12-09 11:29] asb commented on #1041
lowRISC can run DV using the licenses it has, though sharing full tool output is typically not possible and the runs can't necessarily be as fully automatic as current per-PR CI. Probably easiest to discuss in a call at some point.

[2019-12-09 11:40] asb commented on #1130
A snapshot release does have some advantages, but I think it might be worth considering instead beefing up testing of bitstreams in CI, and pointing people to artifacts from master instead.

[2019-12-09 12:22] asb commented on #1160
No strong views on this one. Although a `configure` script isn't _always_ an autoconf script, it very frequently is - so there's a chance this is also seen as misleading.

[2019-12-09 12:57] towoe commented on #1160
Depending on the plan what meson should do, `bootstram` or `setup` might be an option.

[2019-12-09 13:01] asb commented on #1171
I'd say this is more of a P3 at best. Having demo applications for all functionality isn't going to scale, and arguably this is more of an Ibex showcase than an OpenTitan one. The best path for demonstrating U-mode support in OpenTitan might be for something such as the Tock port to make use of it.

[2019-12-09 13:09] towoe commented on #1130
Actually I was not aware of the artifacts until Philipp pointed that out to me.
So making this more obvious would indeed help.
But I also think it makes sense to keep the `quickstart.md` together with the release reasonably up to date in order to minimize the difference to the development progress.

[2019-12-09 13:44] asb commented on #1162
Moving to a single Meson tree is definitely a positive step. The advantage of the current define-based approach for these constants is that it's fairly intuitive what will be evaluated at compile time etc. For a non-LTO build, this change may cause some minor code size regressions. But if that becomes a problem, we can always address it by enabling LTO.

[2019-12-09 14:01] #981 closed

[2019-12-09 14:14] asb commented on #11
I'm in favour of allowing exceptions when justified. But I'm also against burning through lots of time on whitespace related discussions.

I note that #1078 appears to have a good example of a case where disabling clang-format improves readability.

@gkelly @mcy - thoughts on this issue?

[2019-12-09 14:30] mcy commented on #1160
Yeah, I agree with @asb, I don't feel excited by the idea of trying to make our project look, on the surface, like a "traditionally" built project, because it absolutely is not once you look past the surface, in a very real way that I think will confuse people.

[2019-12-09 16:06] chrisrauer commented on #1169
Thanks for filing this.  I got stuck on this on friday.  The new instructions worked for me too.

[2019-12-09 17:22] #1160 closed

[2019-12-09 18:57] tjaychen commented on #1041
sounds good, i think this is something we'll discuss in person.

On Mon, Dec 9, 2019 at 3:29 AM Alex Bradbury <notifications@github.com>
wrote:

[2019-12-09 19:14] tjaychen commented on #1121
sorry @eunchan i didn't provide input sooner. I'm going to have a look today.

[2019-12-09 19:50] cdgori commented on #49
I feel a little ... conflicted then.

If there is truly a need for an "interrupting" / quick HMAC (rather than just a SHA), where would the key for the interrupting HMAC come from?  If we disallow context switching when sideloading then the implication is that will be a SW-managed/held key, which I'd prefer not to rely on / force usage of.

Handling context swapping/restoring with sideloaded keys

[2019-12-10 02:18] sjgitty commented on #49
I believe the use case is a) processor-given key for HMAC (or even keyless
SHA-256) is active on a large hash
task; b) secure-given key is requested for HMAC. In this scenario, task a)
is interrupted with a save of the
internal state, task b) is allowed to proceed, then task a) does a restore
and continues. This seems safe in
that task a) is not exposing anything secret via the save/restore proces

[2019-12-10 17:07] mcy opened #1181 "[test] RISC-V Compliance depends on deprecated SW/Make"
RISC-V compliance depends on building SW artifacts using Make, which is going away very soon. This dependency is, by the nature of how compliance has been vendored in, time-consuming to remove.

Since deleting Make is a major blocker for several foundational tasks in SW, such as #1078 and #1143, which themselves are major blockers for other work, we will be disabling RISC-V compliance in CI in #11

[2019-12-10 17:16] mcy commented on #11
I think that the style guide already contains an implicitly understood "if the formatter outputs unreadable garbage, `// clang-format off` is an acceptable workaround for readability", subject to case-by-case approval; I think this is just part of the social contract of a style guide.

I have no problem with making case-by-case judgements as a reviewer, but codifying it seems like overkill.

[2019-12-10 17:57] #1169 closed

[2019-12-10 18:20] asb opened #1183 "Allow multiple verilator simulations to run in parallel"
There are issues with this due to devpts and fixed TCP ports (see e.g. #1155). Although both can be worked around with application of isolation technology like Virtual Machines or containers, this is a far from ideal solution. It should be possible to run multiple OT verilator instances in parallel on a single user account without a container for each one.

This can be used as a tracking issue. Mu

[2019-12-10 18:40] imphil commented on #1183
Effectively the same issue is tracked in #562.

[2019-12-10 18:45] asb commented on #1183
Thanks Philipp, I thought we had something but I failed to find it somehow. Closing this as a dupe.

[2019-12-10 18:45] #1183 closed

[2019-12-10 18:46] asb commented on #562
Copying from #1183:
There are issues with this due to devpts and fixed TCP ports (see e.g. #1155). Although both can be worked around with application of isolation technology like Virtual Machines or containers, this is a far from ideal solution. It should be possible to run multiple OT verilator instances in parallel on a single user account without a container for each one.

Multiple solutions a

[2019-12-11 01:16] rminnich opened #1185 "Create common rules about usable error messages"
%Error: target/riscv32imc-unknown-none-elf/release/rom.vmem:2: $readmem file address beyond bounds of array

This is a bit ridiculous. What was the address and what is the limit? This would be so easy to provide and is so hard to figure out. I think across the tree we should adopt rules about error messages that provide useful information, as opposed to something like the one above.

[2019-12-11 05:17] imphil commented on #1185
That error message is coming from Verilator, it's nothing we can directly influence. The ROM size is 8kB, and the current SW is very close to it last time I looked.

[2019-12-11 05:50] imphil opened #1186 "[fpga] Manage bootrom as Vivado-managed file"
We currently include the bootrom vmem file without having it managed through Vivado. This needs a edalize update (https://github.com/olofk/edalize/pull/86), and https://github.com/imphil/opentitan/commit/75c644b7aec2888e33db4fdb0a8b9bc115d8be20. Let's wait for a couple more weeks to people pick up the edalize updates, and then move over.

[2019-12-11 13:36] silvestrst commented on #1068
For the SW people like myself, that have stumbled upon this issue. You can find the register layout in auto generated rv_plic_reg_pkg.sv file, and base offsets in tl_main_pkg.sv.

For example, for PLIC:
./hw/top_earlgrey/ip/rv_plic/rtl/autogen/rv_plic_reg_pkg.sv
./hw/top_earlgrey/ip/xbar/rtl/autogen/tl_main_pkg.sv

[2019-12-11 16:55] mcy opened #1191 "[ci] DO NOT MERGE and other premerge checks"
A few people (mostly me, but still) like to use comments of the form "DO NOT MERGE" and "DO NOT SUBMIT" to indicate that a change should not be merged. This is primarily useful for marking a pending change as a "draft" at code locations that are still unresolved in some manner.

I think it would be useful to have a CI job that looks for this line in added lines and slams the breaks if it finds any

[2019-12-11 16:56] mcy commented on #1191
@imphil what do you think?

[2019-12-11 17:35] rminnich commented on #867
I think you should disable dark mode until you get it to follow readability guidelines on contrast and so on. There is so much work to do, I don't think supporting dark mode is needed just now.

[2019-12-11 18:16] tjaychen commented on #49
Personally i think we still need to find a way to make the secure-given key case context switchable.
If we for example require the secure case to not be switchable, it would restrict it to a smaller number of use cases.  That might lead to a user eventually deciding to abandon the secure use case altogether and just do everything in SW.

I definitely get Chris' point there are dangers in allowing

[2019-12-11 18:42] cindychip commented on #1082
close as PR #1179 merged

[2019-12-11 18:42] #1082 closed

[2019-12-11 18:45] Avani8 opened #1194 "Questions"
1) is there any reference documentation for adding custom IP core?...like aes, hmac examples at sw/device/tests/. if I've my custom component in verilog/system verilog in hw/ip/ and corresponding software implementation at sw/device/lib or at sw/vendor/ (like crypto).
2) Is there any 32bit linux support available for opentitan?

[2019-12-11 18:56] tjaychen commented on #1194
Please have a look at our [comportability [](specification](https://docs.opentitan.org/doc/rm/comportability_specification/))

The software story is a bit more in flux.  The general idea is that we want to separate out a baremetal, low level library that other pieces of software can build upon.  I've added a few people who can better answer that question.

I do not believe anyone has tried porting

[2019-12-11 18:57] silvestrst opened #1195 "[DIF, PLIC] Implement PLIC DIF"
PLIC is used to configure interrupts for OT peripherals, and being OT peripheral itself, it should be a DIF.

It is useful to have this DIF sooner rather than later, as for the other peripherals it might be useful to implement some proof-of-concept or full implementation of ISRs. Eventually it makes sense to use interrupts instead of polled functionality. For example, UART outside of boot_room (fo

[2019-12-11 19:03] silvestrst commented on #1195
As a part of my UART DIF, I have done fair amount of "playing around" with PLIC, and I think I understand it well. I would really like to do this piece of work, if that would be okay everyone?

[2019-12-11 19:04] gkelly commented on #1194
OpenTitan doesn't have an MMU, no XIP-capable external memory bus, and a very small amount of RAM.  I think it _might_ be possible to get it running, but we don't have any plans to do that work at this point.

[2019-12-11 21:47] gkelly commented on #1195
That's great with me @silvestrst, have at it!

[2019-12-12 12:24] asb commented on #925
As discussed in/after the recent software meeting, I think this is uncontentious and doesn't need to go through the RFC process. In general future style guides really should go through that process, but given it's not quite spun up yet we're best off landing this (assuming there are no major concerns on #1067) for expediency.

[2019-12-12 21:22] imphil opened #1199 "[doc] Style: Left-align testplan bullet points"
Looking at https://docs.opentitan.org/hw/ip/uart/doc/dv_plan/ the right column in the test plan should be left-aligned, not centered.

![image](https://user-images.githubusercontent.com/1467123/70749992-6a249800-1d25-11ea-8d11-6da2a82ae326.png)

[2019-12-13 00:33] #925 closed

[2019-12-13 00:48] tomoveu commented on #1112
@tjaychen thanky you for responding, really good question.

To formulate PCR-like register as requirements:

I suppose there will be a way for the user to invoke a reboot without actually power cycling the chip?
How likely it is to squeeze 24 registers * 24 bytes?

Having PCR-like registers that can be reset to zeroes only on power-on will definitely have applications, but not sure if this is need

[2019-12-13 03:23] weicaiyang opened #1203 "[ip/spi_device] there are 4 cycles window where we can't know a word data in FIFOs"
@eunchan I found an interesting case.
There are 4 cycles between RX async FIFO level changing to 0 (empty to 1) and RX sram FIFO wptr being updated. Within this window, if we read async_fifo level and sram FIFO pointers, we will find both FIFOs are empty but there are a word of data in transfer between 2 FIFOs.

Should we either update async FIFO ptr later, or update sram FIFO earlier to fill this

[2019-12-13 04:46] eunchan commented on #1203
That is expected behavior. We cannot delay updating async FIFO pointer as SCK can be shut off. And cannot update SRAM FIFO pointer earlier as it has to read from FIFO and request send to arbiter then update the pointer.

[2019-12-13 11:54] silvestrst opened #1204 "[hw, uart, reggen] It would be useful to have UART_FIFO_<RX/TX>_DEPTH definition"
uart_regs.h doesn't define RX and TX FIFO depth. In think it would be useful for these defines be auto-generated. This might be relevant for the other peripherals as well.

To put it in more generic terms, I think it would be useful to have defines for some implementation defines, even if there are no corresponding registers.

[2019-12-13 11:57] silvestrst commented on #1204
Not entirely sure who I supposed to tag.

@tjaychen @msfschaffner

[2019-12-13 15:50] silvestrst opened #1206 "[reggen] generate a single set of C defines for the interrupt registers"
Currently reggen generates multiple set of defines for interrupt related registers. For example, uart_regs.h has following defines:
[code]

These are all generated from interrupt_list in uart.hjson.

It is misleading as having multiple sets of defines suggest that these can be different. If the bit offsets don't change between registers there should be only one set of corresponding defines. For so

[2019-12-13 15:53] silvestrst commented on #1206
@lenary @imphil @gkelly @eunchan @sriyerg

[2019-12-13 16:02] lenary commented on #1063
More structure (and more clarity around the structure) is more better, definitely.

Revisiting this issue:
- We're slowly splitting out a `libbase` which contains our freestanding libc headers, and some other useful things we think will be used in lots of places
- It makes sense to have the DIFs in their own directory.
- We are slowly slimming down `common.h`

It makes sense to parcel some of this

[2019-12-13 16:47] mcy opened #1207 "[sw] Figure out a place for abort() to live"
#1143 moves libc-ey functions out of `common.h` and into `memory.h`. `abort()` came along for the ride even though it's not a memory function. For the time being, it's going to live in `memory.h`, but we should find a better place for it.

In particular, naming the header with abort in it should consider other functions of similar nature.

[2019-12-13 18:52] rminnich opened #1208 "The UART should be enabled by default at power-on/reset"
Platforms in general should always have the UART enabled at PO/R. This makes it easy to debug the pinmux setup. Decades of firmware experience has shown that systems that don't have UART enabled at PO/R are a real headache to debug. From what we are seeing OT is a "UART not on by default" system.

[2019-12-13 19:51] mdhayter commented on #1208
Does this suggest one UART should always be on dedicated pins? If the system starts with pinmux connecting the UART then (a) the pins for UART are forced (b) switching the TX pin to another use with the pinmux has the issue that the pin will be driven high for a period after reset dictating something about the alternative use (c) if the RX pin is used for something else then any resistors ensuring

[2019-12-13 21:52] cdgori commented on #1112
Just some more detail about how PCRs are used in TPM, in case this is
helpful:
https://docs.microsoft.com/en-us/windows/security/information-protection/tpm/s
<https://docs.microsoft.com/en-us/windows/security/information-protection/tpm/switch-pcr-banks-on-tpm-2-0-devices>
witch-pcr-banks-on-tpm-2-0-devices
<https://docs.microsoft.com/en-us/windows/security/information-protection/tpm/switch-pcr-ban

[2019-12-13 22:28] rminnich opened #1209 "verilator segv with no indication of cause."
Vtop_earlgrey_verilator -t --rominit=target/riscv32imc-unknown-none-elf/release/rom.vmem "--flashinit=target/riscv32imc-unknown-none-elf/release/oreboot.vmem"
Simulation of OpenTitan Earl Grey
=================================

Tracing can be toggled by sending SIGUSR1 to this process:
$ kill -USR1 5242

Rom initialized with program at target/riscv32imc-unknown-none-elf/release/rom.vmem

Flash ini

[2019-12-14 01:07] tjaychen commented on #1209
Do you have multiple verilator instances running at the same time? We can
only do 1 at a time right now, it is a known issue we are going to address

On Fri, Dec 13, 2019, 14:28 ron minnich <notifications@github.com> wrote:

[2019-12-14 05:09] rminnich commented on #1209
yeah that was it. Should I close this issue? Or is it useful for tracking.

[2019-12-14 06:47] tjaychen commented on #1209
I think it's okay to close, there is already a tracking issue. I'll find it
and link it here.

On Fri, Dec 13, 2019, 21:09 ron minnich <notifications@github.com> wrote:

[2019-12-16 00:19] tomoveu commented on #1112
I am really happy that there is more interest to this FR. Let me briefly explain what PCRs are used for.

Low level:

- PCRs enable us to store a hash of arbitrary input data.

Sounds pretty standard, so why are PCRs so useful?

- Because PCRs allow only one single operation - PCR_Extend, name of cryptographic operation
- PCRs are (almost) impossible to tamper with

Why PCRs are difficult to tampe

[2019-12-16 13:18] towoe commented on #1209
Tracking in #562

[2019-12-16 13:18] #1209 closed

[2019-12-16 17:29] msfschaffner commented on #1204
yes, I see that this could be useful for the firmware. maybe we can achieve this by leveraging the parameters in the register `hjson` file of the IPs, WDYT @eunchan? i.e., we flag certain parameters as "header parameters" and print them into the C header...

[2019-12-16 18:18] tjaychen commented on #1204
just to be clear, are we talking about register read backs that will show the current depth of the FIFOs?

[2019-12-16 18:26] tjaychen commented on #1203
@eunchan @weicaiyang
we might want to be a bit careful here, especially on guidance to software.

Is software in general supposed to be reading the async fifo level? Because if they do as Weicai suggested, and actually find sram to be empty, I can see this causing a lot of confusion for software.

The way I had viewed this is that software would primarily be using the SRAM pointers / levels to fig

[2019-12-16 18:31] tjaychen commented on #1208
i agree with @mdhayter, i don't really think we should be defaulting any pins to a specific functionality unless we are comfortable enforcing a specific use case for all applications.

In addition, our UART functionality isn't enabled by default, it needs to be setup by some piece of software (for example baudrates, which are dependent on clock frequencies), so that same piece of software may as w

[2019-12-16 18:43] eunchan commented on #1203
On Mon, Dec 16, 2019 at 10:26:58AM -0800, tjaychen wrote:

No. SW suffices to read SRAM FIFO, any data inside RX ASYNC FIFO goes into SRAM
eventually, and TX ASYNC FIFO will be sent out when SCK is active.

Your understand is correct. Initial design doesn't have async fifo levels and
they were added for debugging purpose (to check whether any pending items when
hang)

[2019-12-16 18:48] tjaychen commented on #1203
sounds good. It might be good to clarify this in the programmers guide.
Just to make sure a user doesn't end confusing one for the other.  I can
definitely imagine someone getting confused and checking the async level,
and then reading the SRAM directly, and occasionally reading wrong data
(this language might already be in the spec, sorry I can't completely
remember).

On Mon, Dec 16, 2019 at 10:

[2019-12-16 18:53] sjgitty commented on #1112
@tjaychen let's at least track this as we're looking at our future storage requirements.

[2019-12-16 18:59] tjaychen commented on #1112
@tomoveu

thanks for the feedback! Let me just describe what I think OT will have long term.  I believe the PCR functionality can be satisfied.

In OT, we will have registers that survive everything except for power on reset.  We may also have retention memories that behave approximately the same (with the difference being if you pull the power on these, the initial state won't be all 0's).

My th

[2019-12-16 19:35] satnam6502 opened #1211 "[docs] The new dark purple style for the documentation renders console text too faintly"
Perhaps my eyes are just getting too old, but I find the console text on the documentation pages too faint to read with the new dark purple background.

![toofaint](https://user-images.githubusercontent.com/6164339/70936840-0f768f00-1ff8-11ea-913d-6c9b7d67acdb.png)

[2019-12-16 19:38] asb commented on #1211
Thanks Satnam for the report - this is tracked in #867. As @rminnich suggests in that issue, we should probably disable dark mode if we don't have time to fix it up...

I'll close this issue so we can continue discussion in #867.

[2019-12-16 19:38] #1211 closed

[2019-12-16 19:53] weicaiyang commented on #1203
Agree that async fifo level is used for debug purpose as well as async fifo empty/full. And it's good to clarify it in document.

[2019-12-16 19:59] weicaiyang opened #1212 "[ip/spi_device] confusing names on register status.txf_empty/full, rxf_empty/full"
@eunchan
as discussed, status.txf_empty/full and status.rxf_empty/full indicate status of async fifo, it's better to add prefix "async_fifo" since TXF/RXF is used for SRAM FIFO in the document.

[2019-12-16 22:03] tomoveu commented on #1112
@tjaychen wow, you are asking the though questions! :)

A. I am loading the OpenTitan with operations, so the Watchdog is hit, my PCRs are cleared and my System integrity check fails = Denial of Service?

B. I am risking the OpenTitan to hang, so the PCRs retain their last values until power-on reset/reboot. What is the danger here? Someone coudl read the PCR values? Not an issue. They are intenti

[2019-12-17 00:40] tjaychen commented on #1112
yeah so the question really boils down to if you consider a watchdog a possible security attack.  For example if someone is trying to mess with the system in some unexpected way.  In general, I think watchdog should happen very rarely in a normal functional world... that's why my question on whether it should wipe out the PCRs.  I guess this also relates to the question on what kind of effect Open

[2019-12-17 01:36] mdhayter commented on #1208
Of course if the ROM code uses a uart then the discussion may be moot because the ROM code will set it up anyway. On the other hand, Im not sure I agree we would want the ROM to set up most of the pinmuxing.

[2019-12-17 01:40] tjaychen commented on #1208
yeah definitely not. I'd only want ROM code to setup pins it needs.  Certainly dumping debug messages out of ROM is sometimes a nice feature to have, that's why I said it should be modulated by an OTP setting.

[2019-12-17 19:42] tjaychen commented on #1121
sorry again! i finally read through it and left some comments.
Thanks for the write-up @eunchan ! looks pretty good to me overall.

[2019-12-18 01:14] sjgitty commented on #1121
@weicaiyang to review as well

[2019-12-18 09:38] silvestrst commented on #1068
I think it could be useful in the documentation to mention where to find the correct register names and offsets like ./hw/top_earlgrey/ip/rv_plic/rtl/autogen/rv_plic_reg_pkg.sv for PLIC. Not sure how practical that is, and maybe we would just need to wait for the long term fix. However, not matching documentation has already mislead me and @alistair23 , who is working on Tock integration.

[2019-12-18 09:56] silvestrst commented on #1204
@tjaychen do you mean introducing new registers to read back the value? In this case I think that probably would be an overkill, for this particular use-case anyway.

I think @msfschaffner proposal sounds good, however I am not experienced enough in the area to say if its practical.

[2019-12-18 10:09] silvestrst opened #1224 "[DIF] tests"
Just want to start the discussion on DIF testing. From previous conversations it seems that the consensus was to have several types of testing such as "mock" and DV.

I think DIF are ideally suited for "mock" testing, as all/most of the API calls will result in a single or multiple register read/write. A such it would should be easy to verify the API, by mocking out register write/read functions,

[2019-12-18 10:11] silvestrst commented on #1224
@gkelly @asb @lenary @mcy and anyone else

[2019-12-18 11:26] imphil commented on #1191
Hm, I did comment a couple days ago, but apparently this comment never got submitted or disappeared... So let's try again.

GitHub has a feature which allows you to mark PRs as draft. This is probably what you're looking for.

If you prefer you can also use textual markers like DO NOT MERGE. I don't see the need to enforce this in CI: it's the job of the committers and reviewers to take care of th

[2019-12-18 11:28] imphil commented on #1032
This one can be closed now @mcy?

[2019-12-18 15:32] mcy commented on #1032
Yep. I thought it was marked as fixed by #1154.

[2019-12-18 15:32] #1032 closed

[2019-12-18 15:35] mcy commented on #1191
I'm not sure I agree with this, insofar that we should have as many things enforced by the computer as possible. Humans make mistakes, computers generally don't.

[2019-12-18 16:36] mcy commented on #1224
I want to do something similar. I think the main thing we need is to add an injection point to mmio.h to replace it with a mock or fake version.

I suspect the right thing to compile separate "test" versions of each DIF, which we pass special -D flags to to enable an #ifndef in mmio.h that switches to the appropriate fake implementation.

If we instead wind up doing things in Rust, then the right

[2019-12-18 16:57] gkelly opened #1225 "RFC: Rust everywhere"
This isn't an RFC-Process-RFC, this is a testing-the-waters-RFC.  Last week @sriyerg mentioned that he'd be OK writing in Rust.  That begs the question: why don't we just write everything in rust?  The boot stack, etc.  We're already going to be using Tock, with userspace applications written in Rust, so why stop there?

What would this entail?
  * Switching our existing software tree over to Rust

[2019-12-18 17:08] mcy commented on #1225
I'd like to point out: Rust has generics, which are a huge pro for us. A lot of the work we do relies on late-binding of fundamental functions (such as device properties), and generics provide us with a robust mechanism for doing so.

Rust also means we get to throw out all of my foundational libbase work, which simplifies our environment significantly.

Also, I keep a close pulse on Rust compiler

[2019-12-18 17:38] gkelly commented on #1225
We have LLVM expertise/developers through people at lowRISC that are directly involved in the project, which is another pro I think.

These are good points, thanks!

[2019-12-18 18:04] tjaychen commented on #1224
It sounds like what you are talking about is a direct csr test.
There are generally speaking, different types of csrs with different side
effects, and also csrs that act like memory windows (backed by things like
a FIFO).

Would you want to test the effect on those as well?

On Wed, Dec 18, 2019 at 2:11 AM Silvestrs Timofejevs <
notifications@github.com> wrote:

[2019-12-18 18:05] tjaychen commented on #1204
i think maybe i'm not fully understanding the proposal.
I thought you meant you wanted to be able to read the live depth in the UART FIFOs, did I misunderstand?

[2019-12-18 18:45] aloke-tortuga opened #1226 "IP level DV with VCS (uvm 1.2) is failing vcs compilation"
I am trying to run vcs on uart (hw/ip/uart/dv). I could create the scratch directory using the Makefile. The I tried to run the vcs compilation as follows:

cd scratch/uart/default/build/lowrisc_dv_uart_sim_0.1/sim-vcs
make

At the beginning it failed and I realized that the switch '-ntb_opts uvm-1.2 -assert svaext' is needed in the command line of vcs (I am using 2019.06-1). After that it fails w

[2019-12-18 19:33] mcy commented on #1224
For registers implemented as MMIO this isn't an issue, because we can just use the mechanism I described above to mess with mmio.h.

Interacting with CSRs, in the RISC-V sense, is a somewhat harder question. I expect we'll just have csr.h or similar that can be mocked out the same was as mmio.h.

[2019-12-18 19:44] tjaychen commented on #1224
sorry i should have clarified.. i meant to say 'mmio' registers have various types. Think for example read-write, read once, read clear, write clear etc.  And indeed some of these registers map to FIFOs or other memories behind.

[2019-12-18 19:47] gkelly commented on #976
One thing that has happened a few times recently is that a change will get merged (rebased and merged) with CI results that are out of date.  If we used bors or something similar that would guarantee that no change could be merged that didn't pass CI when rebased on top of the current branch...

[2019-12-18 20:29] alphan commented on #1224
I've been thinking about this too. Echoing what @mcy said, we can use function pointers to replace actual implementations with mocks when building for tests.

@tjaychen, I think we can mock any interesting behavior to verify that code under test interacts with such registers properly.

[2019-12-18 21:57] weicaiyang commented on #1226
To run uart simulation with VCS, just `cd hw/ip/uart/dv` and run `make`.
`-ntb_opts uvm-1.2 -assert svaext` will be automatically added as VCS compile options.
`scratch/uart/default/build/lowrisc_dv_uart_sim_0.1/sim-vcs` isn't the right place

[2019-12-18 22:01] weicaiyang commented on #1226
You can find the detail of DV run/build flow at https://github.com/lowRISC/opentitan/blob/master/hw/dv/tools/README.md

[2019-12-18 22:35] aloke-tortuga commented on #1226
Many thanks, and appreciate your help with this issue. I have been able to successfully compile with vcs.
The reason I was originally not able to run make in that directory was, the build machine and the machine on which vcs is available are on different network. However, I could get around that issue for now.
Thanks again. I will follow the page you pointed me to.

[2019-12-18 22:35] #1226 closed

[2019-12-18 22:55] rasmus-madsen opened #1229 "[doc:aes] functionality not documented sufficiently"
@vogelpi
I would like the auto functionality to be documenteed more explicitly

i.e it does not state what causes the AES module to start a new calculation.
I assume that happens when data_in3 is written - but it needs be in the spec.
as far as I can tell there is nothing in your spec that prevenst me from adding data from data_in3  to 0.
or in a random order.
is this allowed?

same goes for the f

[2019-12-18 23:44] sjgitty opened #1231 "[prim] duplicate primitives between OT and Ibex"
At the moment we have a few duplicate primitives in the Ibex tree and
the OpenTitan tree. We should rectify this. We've talked about a shared
tree that we can vendor into OT (and Ibex), not sure if we're ready to cross
that river just yet. Other options are to keep them in Ibex when they're
duplicated and vendor into OT, but that makes the separation a bit happenstance.

[2019-12-18 23:47] tomoveu commented on #1112
@tjaychen I come from industrial background, where if something could go wrong we assume it eventually always will. Therefore, we always enabled the Watchdog as final measure, in case the system fails it can reset/reboot fast enough to start (re)acting. Extremely important in (some) industrial environments, where once you lose control of some processes, there is no going back.

Now, on a HSM such

[2019-12-18 23:50] tjaychen commented on #1231
i think having a separate repo for this level of shared stuff is a good
idea! lowrisc_prim or something.

On Wed, Dec 18, 2019 at 3:44 PM Scott Johnson <notifications@github.com>
wrote:

[2019-12-19 00:01] tjaychen commented on #1112
thanks for the feedback!
To your questions...those aren't things we've completely finalized yet for a final product.  but ...

1. assuming a boot time < 20mS (assuming this means jumping out of boot rom and into mutable software) i think is very reasonable.

2. the watchdog period will definitely be programmable, while 1mS seems small to me (I've worked mostly on consumer products, so that bar is

[2019-12-19 00:15] tomoveu commented on #1112
Indeed @tjaychen This is how the TPM does it. I myself would vote for that option too.

During the boot process, there is a check on the power flags and if they indicate PoR, TPM_Startup/PCR_Clear procedure is issued.

With the difference that most TPMs are really, quite, slow. For personal computers this is not really an issue, because during POST/UEFI initialization so many things are happening

[2019-12-19 00:18] msfschaffner commented on #1231
Indeed, I am also in favor of moving them into a separate repo since that makes it clear where the "root" for these files is.

[2019-12-19 00:23] alistair23 opened #1232 "Unable to clear UART interrupts once they have occured"
The issue that I'm seeing is that once an UART interrupt has occurred, it can't be cleared.

That is, once an interrupt from the UART device has triggered (`intr_state` register is set), the `intr_state` register can't be cleared and I don't see any more interrupts from the UART device.

### Steps to reproduce

You will need to clone the OT software from here: https://github.com/alistair23/opentit

[2019-12-19 00:37] tjaychen commented on #1112
sounds great!

[2019-12-19 00:46] tjaychen commented on #1232
@alistair23
the tx/rx watermark interrupts right now are level driven... meaning if your uart FIFO depth is more than or less than your programmed threshold, the interrupt will keep on asserting even after you clear it.

Do you think you'd prefer a more edge behavior? (there are a few other places where we've made similar changes).  So the basic idea in this case is that you'd have to fill in more

[2019-12-19 01:03] alistair23 commented on #1232
Let's ignore TX watermark for one second, as there is this open issue: https://github.com/lowRISC/opentitan/issues/1132

For the RX case, this is what I image.

 1. SW sets RX watermark to 0, it wants an interrupt anytime there is a char received
 2. The interrupt occurs, SW reacts, reads the data or something else and then clears that interrupt
 3. SW goes back to waiting for the next char

In th

[2019-12-19 01:05] alistair23 commented on #1232
I just pushed an update to my example OT repo mentioned above. The new commit that tries to clear the `intr_state` register is here: https://github.com/alistair23/opentitan/commit/4df4e97999d57ea8967f974bdddd141b3db008ae

It's more aggressive as it reads the rdata buf a few times and now correctly asserts `rxrst` and `txtst` but the `intr_state` bits and still not cleared.

[2019-12-19 01:26] alistair23 commented on #1232
I have tried writing 1 to the `intr_state` register but that doesn't clear them either. I tried writing `0xFFFF_FFFF` but that just resulted in the register being set to `0xb` (`tx_watermark`, `rx_watermark` and somehow `rx_overflow`..).

I tried setting it back to 0 after setting it to 1 and that results in the same value of `0x3` (`tx_watermark` and `rx_watermark`).

[2019-12-19 01:36] weicaiyang opened #1234 "[dv] Set up xprop flow with Xcelium"
@rasmus-madsen @tunghoang290780
Xprop is one of the items for DV sign-off. I have made a PR #1134 to add xprop with VCS. Since you guys may be more familiar with Cadence tool, can you help to set up xprop flow with Xcelium?

[2019-12-19 01:45] tomoveu commented on #1112
I will set up OpenTitan on one of my Artix-7 dev board. If there is anything you need me to test let me know. Especially, if related to this FR. I will also be looking to contribute once I get comfortable with the current design.

Is there a mailing list / irc for the opentitan community, way of communication between members if I hit setup issues for example?

By the way, we added "OpenTitan" sect

[2019-12-19 01:54] tomoveu commented on #1225
Based on my latest interaction with the person who is driving Bare-metal Rust for ST Microelectronics STM32, deploying native firmware in Rust is not something ready for production. Please correct me if I am missing new information.

Last I checked, there is still a heavy usage of bindings bewteen C BSP and libraries before we get to actually writting in Rust the firmware. At least for the critica

[2019-12-19 02:06] gkelly commented on #1225
I believe that use is dominated by links into stm32cube code, which is an extensive peripheral support library for STM parts.  One of the benefits of OpenTitan is that we're not hindered by an extensive peripheral support library codebase. :wink:

Yes, there is some assembly needed for getting out of reset.  I have seen this done as inline assembly in naked linkage fns in rust, but I think the cur

[2019-12-19 02:19] sriyerg commented on #1225
I did say that I *personally* was interested in learning to code in Rust. If we should really use it in favor of C as the language of choice for OpenTitan DV work needs a lot more discussion, in relation to these points:

1. All DV engineers already are familiar with C and can start contributing from day 1
2. If we go with Rust then **all** DV engineers who sign up to work on SoC level DV need to

[2019-12-19 02:44] tomoveu commented on #1225
@gkelly I can confirm that without the BPS and Peripheral library dependencies, it is a matter of one ASM startup file, but there is one detail.

- OpenTitan would need a BSP as well, with or without peripherals.
- Low-level initialization Rust code requires a lot of use of the `unsafe ` keyword
- That eliminates the memory safe benefit for the most critical section, the system boot

The benefit o

[2019-12-19 02:52] tomoveu commented on #1194
@Avani8 would adding a SoftCPU on the same FPGA help?

This way you could have CPU running Linux in parallel of OpenTitan, but then you will also hit the issue of memory isolation.

@gkelly just for the test, it should be possible to add some small footprint SoftCPU and fit it on the Artix-7 FPGA together with the OpenTitan?

[2019-12-19 05:21] Avani8 commented on #1194
@tomoveu .sure, adding SoftCPU on the same FPGA helps, but we are planning on ASIC implementation with our custom component and opentitan. Our work does not require full Linux support. But supporting [coreboot](https://github.com/coreboot/coreboot/tree/master/src/arch/riscv)  or [ecos](https://chromium.googlesource.com/chromiumos/platform/ec/+/master/README.md#EC) is what we might try eventually.

[2019-12-19 05:58] sjgitty commented on #1224
@sriyerg

[2019-12-19 06:28] sjgitty commented on #1112
@tomoveu thank you for the offer. Feel free to poke around the issues for areas to contribute. That captures the majority of the low hanging fruit. More will be coming of course.

Standard GH issues under OpenTitan project are the best means at this point for getting help on particular setup problems. Be sure to use [subject brackets] to target the issue area for fastest response, such as `[UART]

[2019-12-19 08:09] vogelpi commented on #1229
Hi @rasmus-madsen,
thanks for creating this issue.

The order in which those registers are to be written or read is not documented because it does not matter. Software just needs to write/read every register of the set at least once.

I can add this to the documentation. However, thinking more about it: Would it make sense from a DV perspective to change this? Would it be better for DV to e.g. req

[2019-12-19 08:35] sjgitty commented on #1225
Thanks a lot for the detailed thoughts, @sriyerg. All good points. 3) is the one I'm most acutely aware of; I've never been on a chip project where DV wasn't the long pole and our current DV personnel balance is not ideal. 5) *might* not be an issue, depending upon what the Rust-DPI solution looks like, which its own issue that you haven't highlighted here.

I'm wondering if there isn't a half-mea

[2019-12-19 09:00] rasmus-madsen commented on #1229
@vogelpi
oh ok,
I think any order is great - I will just have the sequence randomize which order they are written in.

[2019-12-19 09:00] #1229 closed

[2019-12-19 09:07] rasmus-madsen commented on #1234
@weicaiyang
I think it might already be enabled at least this is the TLUL interface.
![image](https://user-images.githubusercontent.com/53917183/71160038-1e06b580-2247-11ea-86a1-9d96b8cc3eaa.png)

but I look into the settings and get back to you!

[2019-12-19 12:20] rasmus-madsen commented on #1234
@weicaiyang I checked and we need to add either -xprop or xfile (depending on what we need) to the build_opts
 and we need to decide between forward only X
and Compute as ternary

do you have any suggestions on what is the better choice.
I ahve tried both and they seem to work

[2019-12-19 15:57] mcy commented on #1225
I want to answer a few themantic concerns, in no particular order:

---

Getting out of reset, in the current design, is almost no effort:
[code]
We still need to set up the IRQ vector but that's just linker shenanigans at that point, which we cannot avoid.

---

I admit that teaching Rust isn't easy, but the subset that DV needs is, essentially, a reskinned C with none of the stupid baggage. To d

[2019-12-19 19:15] mcy commented on #1043
Some unresolved questions from reviewing other folks' DIF PRs, and from my own. I'm posting them here, but we should probably migrate them to the doc as feelings about them crystalize.
- In https://github.com/lowRISC/opentitan/issues/1224, @silvestrst brings up the testing issue, which @alphan and I have also been thinking about independently. There are two broad questions:
  - How are we doing un

[2019-12-19 19:22] silvestrst commented on #1232
@tjaychen am understanding your comment correctly - TX and RX watermarks will assert until the respective FIFOs are drained above/below the watermark?

How I imagined this works was that the interrupt is triggered on transition, for example:
RX watermark is set to 4 bytes, FIFO grows to 16 bytes (just for the argument sake) - the interrupt is triggered only once, even if SW doesn't drain RX FIFO b

[2019-12-19 19:27] weicaiyang commented on #1234
@rasmus-madsen
I'm not sure how "forward only X" and "Compute as ternary" behave in Xcelium.
For VCS, we use `tmerge` which behaves closer to actual hardware and also the default xprop mode. In below code, a will be 1 even c==x.
[code]

There is another mode in VCS which is more pessimistic and a will become x when c==x in above code.

[2019-12-19 19:36] tjaychen commented on #1232
yes your understanding is correct. Eunchan please correct me if I am wrong.
There have been a few places in our code base where we've moved to edge,
could this be one of those as well?

I guess my worry for an edge usage would be something like the following:

- we set a threshold x
- the FIFO receives more than x, and an interrupt is generated
- software comes in, notices there are y entries (bec

[2019-12-19 21:54] rasmus-madsen commented on #1234
@weicaiyang
I think that is FOX mode I will do some testing tomorrow.
I assume we want to run with xprop always on?

do you want me to make a separate PR for updating xcelium.mk?

[2019-12-19 23:05] weicaiyang commented on #1234
yes, prefer to have it enabled by default unless you see it have much simulation performance impact with Xcelium.

Yes, please make a separate PR. Thanks

[2019-12-19 23:37] tjaychen commented on #1232
@alistair23
i just cloned your repo and i'm giving it a try.  One thing I noticed is that in `handler.c` the clearing of `CC0` doesn't seem to be right.

Our documentation requires us to write the irq_data back into cc0 in order to "complete" the handling.
I tried that in my local copy of yours, and now i'm getting a storm of tx_watermark interrupts, which is really related to #1132.

I'll quickly

[2019-12-19 23:42] alistair23 commented on #1232
Ah ha!

Writing the claim register back to itself does seem to allow multiple interrupts.

I don't see anything in the PLIC documentation saying that you have to write the exact value back: https://github.com/riscv/riscv-plic-spec/blob/master/riscv-plic.adoc#interrupt-claim-process

[2019-12-19 23:45] alistair23 commented on #1232
Ah, it's here: https://github.com/riscv/riscv-plic-spec/blob/master/riscv-plic.adoc#interrupt-completion

I see, I missed that part.

[2019-12-19 23:46] tjaychen commented on #1232
indeed! now i'm getting double rx interrupts when i type into the console. I'm guessing this is related to how we clear it locally, but unfortunately i have to run.

I will have another look tonight.

[2019-12-19 23:50] alistair23 commented on #1232
On Verilator I am also seeing double RX interrupts.

On the FPGA I still don't see any though.

Thanks for your help.

Has anyone tested interrupts on the FPGA?

[2019-12-19 23:54] tjaychen commented on #1232
I've only tried the timer one, but that was purely using the peripheral and
not plic (so it was one and done).

I'll give that a try too once we get through the verilator issue. In the
fpga we probably need to check if the uart state is even filling.

On Thu, Dec 19, 2019, 15:50 Alistair Francis <notifications@github.com>
wrote:

[2019-12-19 23:57] tjaychen commented on #1232
O one difference between verilator and fpga. Fpga actually has pin
configutations, and verilator does not right now (we want to change this in
the future). So maybe that one isn't entirely correct on the rx pin, that
could explain why you're not seeing anything.

On Thu, Dec 19, 2019, 15:54 Timothy Chen <timothytim@google.com> wrote:

[2019-12-20 00:08] alistair23 commented on #1232
I fixed the double interrupt issue, that was just a mistake in when we complete the interrupt.

So on Verilator everything seems to be working, thanks so much for the help.

Still no luck on the FPGA.

What do you mean isn't correct? I see the UART data being printed, just not an interrupt.

[2019-12-20 00:41] alistair23 commented on #1232
On the FPGA I see the PLIC `pending` register being set, but nothing in the `claim` register and no interrupt.

[2019-12-20 01:05] tjaychen commented on #1232
Just to clarify, is the pending bit being set the right one? Im actually
not sure if we expose the mapping in a clear way.

Also, the fpga you are using, is it one of the released versions or did you
build it directly?

On Thu, Dec 19, 2019, 16:41 Alistair Francis <notifications@github.com>
wrote:

[2019-12-20 01:10] alistair23 commented on #1232
I think the `pending` register value is `0x02`.

I'm using the one built by the CI: opentitan-snapshot-20191101-1-384-gc4d8c97

The released one has issues with debuggers that have been fixed since then so it isn't reliable for debugging.

[2019-12-20 01:27] tjaychen commented on #1232
ah did you read RV_PLIC_IP0 or 1? I'm guessing 1?
Also, it might be good to double check the interrupt state inside uart to
make sure it has actually asserted, that way we can rule out it's a
pad->uart issue, and focus on whatever the problem is inside plic.

The other part is that your fpga binary is likely before this change (
https://github.com/lowRISC/opentitan/commit/dddaa14a8559359189ba1615a

[2019-12-20 04:35] tjaychen commented on #1132
i can take this one.

[2019-12-20 10:26] lenary commented on #1043
An opinion on checking preconditions:
- I do not think we should be reckless. C is unsafe, but we can still protect ourselves from its worst corners.
- Testing that pointer arguments are non-null is easy and doesn't take much code. The programmer is in a much better position if they get `false` back because the arguments were invalid, rather than maybe some of the memory writes working and some no

[2019-12-20 13:36] imphil commented on #1191
That's why the draft functionality exists and prevents merging. How does that not work for you?

[2019-12-20 15:15] mcy commented on #1191
Not really, no. I'm interested in marking parts of the change as being incomplete or unresolved, without having to fuss around with keeping the PR description in sync.

[2019-12-21 11:18] imphil commented on #1191
I'm not sure we're talking about the same thing. The draft feature, as described in https://github.blog/2019-02-14-introducing-draft-pull-requests/, allows you to mark a whole PR as draft. There's no modification of the description or the commits needed.

A PR is always merged as a whole, so if any change is incomplete or a draft, then the whole PR is in that status.

[2019-12-23 14:20] imphil commented on #1232
Just FYI, you can get up-to-date FPGA bitstreams from Azure Pipelines. Go to https://dev.azure.com/lowrisc/opentitan/_build?definitionId=5&_a=summary&repositoryFilter=5&branchFilter=566, choose a recent build, and click on the top-right on "Artifacts" (e.g. https://dev.azure.com/lowrisc/opentitan/_build/results?buildId=6745&view=artifacts&type=publishedArtifacts). Download opentitan-dist for a bin

[2019-12-23 14:31] imphil opened #1243 "[verilator] Add Verilator lint support"
Verilator has a built-in lint tool. It's not as powerful as proprietary solutions, but gives a good starting point for developers without the need for commercial licenses.

Steps:
- [x] Add Verilator lint support to our fusesoc core files. (FuseSoC supports Verilator lint.)
- [ ] Create waiver files for existing errors, mirroring existing waivers for proprietary tools. Verilator only supports file

[2019-12-23 16:20] eunchan commented on #1132
Hey Tim,

Thanks for willing to take the task, appreciated it!
If you didn't start, I can do this in this week. Let me know.

Eunchan

On Thu, Dec 19, 2019 at 08:35:13PM -0800, tjaychen wrote:

[2019-12-23 19:23] tjaychen commented on #1132
No problem! I know you have a ton of things to do already, so I figured
might as well since I was looking at interrupt related things with Alistair.

On Mon, Dec 23, 2019, 08:20 Eunchan Kim <notifications@github.com> wrote:

[2019-12-24 21:00] bcantrill opened #1245 "Verilator ELF loader corrupts Tock binaries"
In https://github.com/lowRISC/opentitan/issues/3, the Ibex Verilator was extended to load ELF binaries directly.  The algorithm which this follows does not exactly match that followed by `objcopy` with a binary target, however. Take, for example, a Tock binary (generated from @alistair23's `opentitan` branch); here are the section headers:

[code]

Note in particular the one byte (!) `.apps` secti

[2019-12-24 21:14] gkelly commented on #1245
This support was added as part of the #1091 import and so needs to be fixed in Ibex.

[2019-12-24 21:17] gkelly commented on #1245
Adding @towoe, who did the initial implementation, and @imphil for visibility.

[2019-12-24 22:10] imphil commented on #1245
Thanks for the patch @bcantrill. A pull request at https://github.com/lowRISC/ibex/ would be very much appreciated.

[2019-12-24 22:30] bcantrill commented on #1245
Awesome -- will do!

[2019-12-26 17:42] eunchan commented on #1231
If primitive cells are disintegrated from the opentitan repository, it may trigger the separation of common DV environment too. Also, I expect it will be a headache to dealing with process-dependent libraries (SRAMs, synchronizer, CG, Glitch-free MUXes, etc)

One thing we could do is we could compile separately between OT and Ibex. It is doable in DC, VCS, Xcelium but not sure Verilator supports m

[2019-12-26 18:52] tjaychen commented on #1231
that's a good point on all the common DV components. I would think if we separate this into its own repo, we'd want to move the DV along with it so that it can be pretty self contained. This would imply the headaches you described in the first part...where the "top_earlgrey" common dv components would effectively need to be promoted to 'lowrisc' or 'opentitan' common dv components probably...

I c

[2019-12-26 19:25] tjaychen commented on #1232
thanks for the note @imphil
Do you think we should put this information somewhere in the user docs? I'm sure there will be places where an active developer wants to debug something on the latest build and not one of the released builds.

[2019-12-26 20:39] alistair23 commented on #1232
I just updated to: `opentitan-snapshot-20191101-1-399-g15e1026`, built from commit `15e1026ec5e231be00c1599ade5090c9915b0e5e`, which is the latest I can download without a Google account.

Still no interrupts on the FPGA.

@tjaychen I was reading `RV_PLIC_IP1`. I can see that the interrupts state inside the UART is asserted

I think it would be better to spend that time releasing more often, as lo

[2019-12-27 00:42] cindychip opened #1248 "[alert_handler/rtl] Interrupt_a is gated by "classa_ctrl" en signal"
Hi Michael,

I would like to confirm with you about register `CLASSA_CTRL` bit 0 field `EN`. From the spec, it says `Note that interrupts can fire regardless of whether the escalation mechanisms are enabled for this class or not.`
But from my simulation, when I disable the `EN` bit to 0. Interrupt is not triggered. Could you help me take a look and see if there is any misunderstanding?

Waveform p

[2019-12-27 20:27] bcantrill commented on #1245
Pull request is here: https://github.com/lowRISC/ibex/pull/537

[2019-12-27 21:18] alistair23 commented on #1232
Just confirming with more values:

On the FPGA:
`RV_PLIC_IP1` -> `0x00000002` after a RX IRQ
Nothing in the PLIC `claim` register

[2019-12-27 22:01] tjaychen commented on #1232
@alistair23
sorry i've been meaning to attach this but keep forgetting.  I pulled your repo and just built a new fpga bitfile. Can you try replacing your current bitfile with this one and see how it goes?

[lowrisc_systems_top_earlgrey_nexysvideo_0.1.bit.tar.gz](https://github.com/lowRISC/opentitan/files/4006347/lowrisc_systems_top_earlgrey_nexysvideo_0.1.bit.tar.gz)

[2019-12-27 22:04] tjaychen commented on #1232
also to confirm, i'm guessing all the interrupt enable, threshold settings are the same between your fpga and verilator correct?

[2019-12-27 22:44] alistair23 commented on #1232
I just tried that bitstream and it still doesn't look like it's working. Do interrupts work for you?

[2019-12-27 22:44] alistair23 commented on #1232
Yeah, I'm running the same source code on both

[2019-12-27 22:49] tjaychen commented on #1232
I'm not next to an FPGA right now so I can't really try :(
The fact that it's not working for you isn't really a good sign...

Just to make sure we're on the same page..basically you're saying the
interrupt state sets in uart, the IP bit also sets in PLIC, but you don't
see anything to claim, is that right?

On Fri, Dec 27, 2019 at 2:44 PM Alistair Francis <notifications@github.com>
wrote:

[2019-12-27 22:52] alistair23 commented on #1232
Yes, that is correct. I see all of that while stopped (with GDB) so nothing else can claim the interrupt.

[2019-12-27 23:13] tjaychen commented on #1132
could you just dump out all the rv_plic registers at this point?

[2019-12-27 23:13] tjaychen commented on #1232
could you just dump out all the rv_plic registers at this point?

[2019-12-27 23:46] aytong commented on #31
This one can be closed.  The Issue template is tracked under #456

[2019-12-27 23:46] #31 closed

[2019-12-28 00:26] eunchan commented on #1232
And also UART register too.

[2019-12-28 01:49] alistair23 commented on #1232
Here are the UART registers:
[code]

and the PLIC

[code]

This is after the hello_world binary has run to the loop and I just entered some text (which should generate an interrupt).

[2019-12-28 04:11] tjaychen commented on #1232
i glanced quickly at these, nothing really stands out to me right now...
I'd probably start experimenting with setting different enables / priorities / thresholds just to see if there's anything that alters the behavior (i could try that next week also when i'm actually in front of an FPGA).

Just to be clear also..these results, are they using the released fpga binfile? O are you using the one I

[2019-12-28 06:26] alistair23 commented on #1232
They are using the bitstream you shared. Although the one built from the latest commit that doesn't require a Google account also doesn't work. I'm assuming it's the same values.

[2019-12-28 17:22] tjaychen commented on #1232
thanks alistair.
@eunchan do you see anything that stands out to you from the reg dumps?  I didn't really see anything.

[2019-12-30 18:54] tjaychen opened #1251 "flash ctrl register boundary"
The flash controller region protection registers should be on a separate 4KB boundary from the remaining flash registers.  This is to allow separate control of the core registers and the regions.

[2019-12-31 04:54] alphan commented on #1224
I've just sent a PR (#1254) with some unit tests. Looking forward to your comments!

[2020-01-02 08:59] imphil opened #1256 "[verilator] Trace structs better"
Looks like we can get much nicer signal traces in Verilator with `--trace-structs` passed to Verilator (change the `top_earlgrey_*.core` file for this.). If this works, we can most likely remove the bit range annotations in the generated `reg_pkg.sv` files, which cause large diffs when changing structures.

[2020-01-02 09:07] imphil commented on #79
I'm looking into this now. Thanks for the first step @olofk!

[2020-01-02 09:09] nono0210 opened #1258 "Xbar generation example cannot run in latest version"
when i do the following cmd, the code can be gen Ok but now with lastest version, it cannot
./util/tlgen.py  -t util/example/tlgen/xbar_main.hjson -o ~/tmp/

Traceback (most recent call last):
  File "./util/tlgen.py", line 101, in <module>
    main()
  File "./util/tlgen.py", line 68, in main
    xbar = tlgen.validate(obj)
  File "/home/jiazhu/opentitan/util/tlgen/validate.py", line 198, in valid

[2020-01-02 10:18] GregAC opened #1259 "Improve assertion macros to remove repeated clock and reset references"
The current set of macros for assertions require naming the clock and reset in every use of the assert, e.g.

https://github.com/lowRISC/opentitan/blob/55d7ae8202c2f52d9a9d0857aef9d278235675c3/hw/ip/aes/rtl/aes_control.sv#L390-L396

In the vast majority of cases the clock and reset within a particular module is the same across all asserts and they are named using the standard naming convention (na

[2020-01-02 15:34] vogelpi commented on #953
Thanks for you fix @imphil . I could test it a while back and the C files are now compiled. What is missing is the include path for dependencies. For example, I have aes_model_dpi depending on aes_model (in a different directory). When compiling aes_model_dpi the include path should also comprise aes_model.

[2020-01-02 18:10] cindychip commented on #1259
Thanks Greg for bringing this optimization up. I like the idea and I agree it would save some extra code for default clk_i and rst_ni.

[2020-01-02 19:41] msfschaffner commented on #1248
Oh, good catch @cindychip. Let me fix that.

[2020-01-02 22:02] cindychip opened #1263 "[formal] Opentitan FPV using Symbiyosys"
*This is a tracking bug. Comment if you have suggestions or updates*

[Symbiyosys](https://github.com/YosysHQ/SymbiYosys)  currently support limited functionalities for FPV methodology.

## Yosys
Symbiyosys uses Yosys to synthesize SV. Current list of unsupported Yosys syntax is listed in the link [here](https://github.com/lowRISC/ibex/issues/60).

OpenTitan will need to adopt all these changes/wo

[2020-01-02 22:16] cindychip commented on #1248
PR #1262 merged, close this issue. Thanks Michael for the quick fix.

[2020-01-02 22:16] #1248 closed

[2020-01-02 23:21] sjgitty commented on #1231
I would like to hear from @asb and @imphil since they've done some thinking on this concept all the way back to our June meetings.

[2020-01-03 10:59] GregAC commented on #1259
@sriyerg @msfschaffner @imphil any thoughts?

[2020-01-03 11:17] imphil commented on #1259
I like the first option (default arguments for the assert macros).

I don't think the SVA_SETUP option is needed, on the contrary, it is a bit too much magic to me and could make the code harder to understand.

[2020-01-03 12:25] imphil commented on #1263
Note that https://symbiyosys.readthedocs.io/en/latest/verific.html#supported-sva-property-syntax is talking about the Verific bindings, which are not part of the open source offering. I'm not sure what syntax is supported without Verific, the documentation is slightly confusing to me in that respect.

[2020-01-03 16:01] silvestrst commented on #1224
@alphan thank you for introducing the first set of unit tests, we can now expand on the subject with more depth.

I personally envisioned that dif_device.{c, h} won't be polluted with any testing related functionality, and that any mock tests reside outside of the sw/../lib/dif directory.

Can't we have mock tests built as separate libraries, and at the build time, instead of using real mmio.c lin

[2020-01-03 16:34] cindychip commented on #1259
Somehow my precious comment was not updated. I also think the first option
might be better. I think it is easier to use.

On Fri, Jan 3, 2020 at 2:59 AM Greg Chadwick <notifications@github.com>
wrote:

[2020-01-03 16:43] imphil commented on #1245
@bcantrill your patch is now vendored into the opentitan tree (since https://github.com/lowRISC/opentitan/pull/1257) and the problem should be solved.

Please reopen this issue if the problem persists.

Thanks a lot for your debugging, the patch, and going the extra mile to get it into the right repository!

[2020-01-03 16:43] #1245 closed

[2020-01-03 16:58] alphan commented on #1224
Yes, that's possible. But, by introducing function pointers, we can write more _focused_ test points that test only the new behavior that a function implements. E.g., imagine that we have functions `util_a()` and `util_b()` which are static utility functions implemented in `dif_device.c` and called by almost every other function implemented in that file. First, we write tests to verify them. Then,

[2020-01-03 17:22] aloke-tortuga opened #1266 "Running meson_init.sh complains about runtime dependency libftdi1 not found, though it is installed"
I am trying to build 'top_earlgrey' using the Makefile in hw/top_earlgrey/Makefile

I noticed that while executing the following command:

cd $REPO_TOP/hw/dv/tools/../../.. && \
BUILD_ROOT=$REPO_TOP/hw/top_earlgrey/dv/scratch/top_earlgrey/chip_sanity/latest/sw_build/meson $REPO_TOP/hw/dv/tools/../../../meson_init.sh -f

it reports:
Program python3 found: YES (/usr/bin/python3)
Program srec_cat fou

[2020-01-03 17:26] imphil commented on #1266
- Have you installed all packages listed in https://docs.opentitan.org/doc/ug/install_instructions/#system-preparation? In this case, it could be that libftdi1-dev is missing.
- About the ignored errors: @mcy could you have a look?

[2020-01-03 17:58] aloke-tortuga commented on #1266
Many thanks! It was that libftd1-dev was indeed missing. The build was successful after installing this one. Appreciate your help!

[2020-01-03 17:58] #1266 closed

[2020-01-03 18:31] imphil commented on #1231
I'll think about it and discuss it with Alex next week.

[2020-01-03 18:47] msfschaffner commented on #1259
Hi @GregAC, good proposal! I also find it superfluous to type these every time I write an assertion.
I like the first proposal better since it doesn't change how the assertion macros are used today.

[2020-01-03 18:54] sjgitty commented on #41
@eunchan what is the status on this old bug?

[2020-01-03 18:59] sjgitty commented on #42
@eunchan please refresh with current thinking, has been stale for 6 months

[2020-01-03 19:00] mcy commented on #1266
I'm confused about "ignoring error messages". `set -o errexit` (aka `set -e`) should be causing the script to halt immediately if any command within it produces a non-zero exit.

[2020-01-03 19:01] sjgitty commented on #47
@eunchan or @msfschaffner has the status on this been refreshed based upon current multireg thinking?

[2020-01-03 19:23] sriyerg commented on #1259
Good idea! Agree with the others - very much prefer the first option rather than adding more macro magic.

[2020-01-03 19:30] msfschaffner commented on #47
I think this could still be very beneficial for DV, and given that we have to update the FPV and DOC backends, it probably makes sense to rework the DV backend as well.

Let's revisit this once we have an initial working RTL prototype (on an integration branch, as @eunchan suggested). I think the new multireg structure should be compatible with what @sriyerg had in mind here...

[2020-01-03 20:40] aloke-tortuga commented on #1266
The script, indeed, halted immediately when an error condition occurred (e.g. meson was not installed). However, it did not produce any error message on the stdout. I started seeing the error messages only after commenting out these lines.  At that point it started becoming easier to debug the build failure. But, I understand that I did not install some essential components.

[2020-01-03 21:57] cindychip commented on #1263
Hi Phillip,

Thank you for pointing this out. I did not realize that Verific is not part of the OpenSource. Here are some discussion about Symbiyosys support SV in Verific. [Link](https://www.reddit.com/r/FPGA/comments/cs4kzu/formal_verification_symbiyosys_limitations/)
I tried locally and i do not think SymbiYosys without Verific can support bind.
This is definitely a limitation, but can potentia

[2020-01-03 23:20] sjgitty commented on #1259
+1

[2020-01-03 23:38] sjgitty commented on #52
This issue can be closed once we decide to move forward with USB within `top_earlgrey`, which is our current intention. Discussion next week on game plan.

[2020-01-03 23:38] sjgitty commented on #53
@tjaychen ping since you claimed it.

[2020-01-03 23:39] sjgitty commented on #55
@eunchan any update in the thinking on this one?

[2020-01-03 23:49] sjgitty commented on #60
@mdhayter I looked this over and it doesn't appear to be too much of an overlap. WDYT? Shall we close it? The one thing that is a bit oddly specific in the Comportability spec and not very detailed in the Regtool spec is the three interrupt registers.

[2020-01-04 00:16] sjgitty commented on #67
I'm closing this one, there has been a lot of discussion here including our
December Sunnyvale meetings, and there are things in the works. They'll
spawn new issues.

[2020-01-04 00:16] #67 closed

[2020-01-04 00:19] sjgitty commented on #103
@eunchan @weicaiyang is this still open?

[2020-01-04 00:20] sjgitty commented on #106
@eunchan is this still open?

[2020-01-04 00:22] sjgitty commented on #150
@eunchan or @tjaychen can you refresh this issue with the current thinking on shadow registers since we've made some progress there.

[2020-01-04 00:22] sjgitty commented on #160
@cindychip any update on this one?

[2020-01-04 00:25] sjgitty commented on #366
@msfschaffner is this closeable now that we've executed on the style and coding changes?

[2020-01-04 00:27] #612 closed

[2020-01-04 00:28] sjgitty commented on #694
Leaving `util/index.md`, it is there and has its place and job to do.

[2020-01-04 00:28] #694 closed

[2020-01-04 00:30] sjgitty commented on #778
This was fixed with #851

[2020-01-04 00:30] #778 closed

[2020-01-04 00:32] mdhayter commented on #60
I don't see much overlap.

It just seems strange with having all the detail and example file on registers in the register tool doc and almost nothing on the configuration, whereas there is lots of detail and example file on configuration in comportability spec and almost nothing on registers. So if you want to look up details you have to remember which doc has it.

Certainly this is more of a nit.

[2020-01-04 00:33] sjgitty commented on #878
This appears to be fixed. I experimented with no chip pins and it now says `none`

[2020-01-04 00:33] #878 closed

[2020-01-04 00:34] sriyerg commented on #150
We will need to figure out a way to bake this into the automated CSR testing framework, which I think should not be too difficult to achieve.

[2020-01-04 00:37] sjgitty commented on #942
This appears to be fixed by adding a `<CR>`

[2020-01-04 00:37] #942 closed

[2020-01-04 00:39] sjgitty commented on #988
@asb any updates on the notion of rendering the style guide so that we can deprecate the one in OT repo?

[2020-01-04 00:47] cindychip commented on #160
I just started to work on FPV tooling this week. I will probably have a conclusion for item 1,2,3 by the end of next week. For item 4, this is an enhancement item, I will evaluate if it is worth the change.

[2020-01-04 01:13] weicaiyang commented on #103
Resolution is to provide CSB for SW and SW never updates SRAM pointer when CSB is low and under/overflow is happening.

Verified at #1221

[2020-01-04 09:56] bcantrill commented on #1245
My pleasure -- thanks for the guidance and getting it integrated!

[2020-01-06 16:19] mcy commented on #1162
I wrote a doc last year about this but the holidays got in the way. Here it is: https://docs.google.com/document/d/1dPn0RDTG2cx1eN2U8QkkY299tLDn-DUl_wVFyWDp5Eg

There's a few places that are incomplete, and I think comments got pruned when I copied it over to the OT org, but it expresses the key sentiments.

@gkelly @lenary @asb @imphil @sriyerg

[2020-01-06 16:51] msfschaffner commented on #366
Yes, I'll close this as soon as the coding style is merged.

[2020-01-06 17:04] #366 closed

[2020-01-06 17:05] msfschaffner commented on #366
For reference: https://github.com/lowRISC/style-guides/pull/12

[2020-01-06 17:25] eunchan commented on #55
Thanks for the brought up this issue (buried deeply long long ago). This module, re-order buffer isn't necessary in OT design yet. If we have to adopt TL IPs into OT, reorder buffer will be needed.

We can close this issue for now and re-open when it is needed.

[2020-01-06 17:25] #55 closed

[2020-01-06 17:30] msfschaffner commented on #1243
I can look into this, since I am also about to add the flow for AscentLint...

[2020-01-06 17:38] eunchan commented on #103
Closing the issue. Thanks for heads up

[2020-01-06 17:38] #103 closed

[2020-01-06 18:25] tjaychen commented on #1259
i like the default option also.

[2020-01-06 18:27] tjaychen commented on #150
The diagram below (thanks to @eunchan) represents the current thinking.
We still need to solicit software feedback.  Eunchan I can do that if you're busy with other things.  Let me know.

![Shadow Register](https://user-images.githubusercontent.com/1026250/71838998-09138a00-306f-11ea-87b8-fe0f2d12a340.jpg)

[2020-01-06 18:27] tjaychen commented on #150
and yes, to @sriyerg point, I don't think it will be difficult to add this to automated checks, it's more than we need to get sw onboard with the idea.

[2020-01-06 18:28] tjaychen commented on #53
yep, this fell off my radar, I will get back on it.

On Fri, Jan 3, 2020 at 3:38 PM Scott Johnson <notifications@github.com>
wrote:

[2020-01-06 18:33] eunchan commented on #1258
Thanks. example hjson isn't updated. @tjaychen for visibility.

[2020-01-06 19:24] #607 closed

[2020-01-06 19:24] moidx commented on #607
Closed by lowrisc/opentitan#1001

[2020-01-06 20:02] eunchan opened #1276 "[hmac] Add tx FIFO empty interrupt"
Philip Levis suggested to have TX fifo empty interrupt in HMAC which is also being added to UART for the software to push the message data with ease. This issue is to follow up the suggestion. The design change Pull-Request will follow.

[code]

And, FIFO Full condition doesn't have to be an interrupt. Status register is sufficient.

CC: @tjaychen @sjgitty @cindychip

[2020-01-06 21:35] cdgori commented on #49
Scott's example does not present too many risks to me, since the context-switched-out operation is using a non-sideloaded key.   (If we stick to some rule that says that sideloaded keys are non-context-switchable that makes the analysis very simple.)

Tim's comment that we might need to figure out how to make a sideloaded key context-switchable will require a lot more study.  (but he is correct th

[2020-01-06 21:41] cdgori commented on #150
How did you imagine using update_err and/or storage_err?  Case-by-case
basis depending on what is held in the regs?  Or more generally to create
an alert?

On Mon, Jan 6, 2020 at 10:27 AM tjaychen <notifications@github.com> wrote:

[2020-01-06 21:43] tjaychen commented on #150
The current thinking is that storage_err is terrible, and must generate an
alert.  update_err on the other hand, could be a software mistake, so that
would be interrupt.
Note an update_err should NOT mess up the current value of the storage, so
I view that as "still safe".

What do you think?

On Mon, Jan 6, 2020 at 1:41 PM Chris Gori <notifications@github.com> wrote:

[2020-01-06 22:00] ywanywhere opened #1277 "xbar/tlul unit simulation is broken"
Summary: if you were to cd into hw/top_earlgrey/ip/xbar/dv/autogen/ and make TEST_NAME=xbar_sanity, the build fails.
I assume here is the place we run the xbar/tlul unit simulation.
BTW, the standalone topgen.py and tlgen.py are broken at latest master.

Some detail debug trials:
1. First one will need to move around *.core file to make the FuseSoc to generate the correct filelist (scr).
E.g. move

[2020-01-06 22:04] cindychip commented on #1277
@weicaiyang  could you take a look?

[2020-01-06 23:24] weicaiyang commented on #1277
@ywanywhere Thanks for reporting this issue.
The failure is because of design update at #1236. I'm about to make 2 PRs to fix the error in xbar_main and generate TB for xbar_peri.
You can either get a version without this design update or get my coming fix.

[2020-01-06 23:54] weicaiyang commented on #1277
Just made those PRs I mentioned: #1278 and #1279

[2020-01-07 02:38] weicaiyang opened #1281 "Error: version `GLIBC_2.14' not found"
@imphil
Cadence AE got below error when running the top_earlgrey.
Do you know how to solve this problem? Thanks

[2020-01-07 09:51] imphil commented on #1281
The prebuilt toolchain requires glibc 2.14+, which doesn't seem to be present in this case. Are they using RHEL6? That's not supported, RHEL7+ should work. If using a operating system with a recent-enough glibc is not an option, they can compile the toolchain themselves. All necessary source code is available at https://github.com/lowRISC/lowrisc-toolchains.

[2020-01-07 15:51] mcy commented on #1224
Tests should run for all builds. If a test passes at -O0 but fails at -Oz, we've got a big problem.

[2020-01-07 17:56] ywanywhere commented on #1277
Verified and close this issue.
Thanks for the prompt replies and fixes!

[2020-01-07 17:56] #1277 closed

[2020-01-07 18:35] weicaiyang commented on #1281
Thanks @imphil

[2020-01-07 18:57] thedataking commented on #1225
C2Rust contributor here. 100% agree that the output isn't amazing. I do want to point out that after we got the C2Rust transpiler into decent shape, we have focused more about refactoring and cleaning up the output. We blogged about improvements around header files here: https://immunant.com/blog/2019/12/header_merging/. We're also going to blog about automatic cleanup of integer types and casts.

[2020-01-07 20:01] Avani8 opened #1285 "Questions"
1) how to increase ROM and flash sizes?
based on my understanding .. I tried changing the size
[code]

in hw/top_earlgrey/data/top_earlgrey.hjson. however, I don't know how can I verify the change. please advise.

2)  if I want to add second stage bootloader  (please excuse me if my question is so basic) what I am doing is providing next image location in sw/device/boot_rom/rom_link.ld
[code]
and

[2020-01-07 20:36] tjaychen commented on #1285
thanks for pointing this out!
Sorry the answer here is going to be a bit long and is actually a slight mistake on our end.

For rom / ram, you do indeed change in the hjson, however, that is not immediately reflected until you generate the final output.  To do so, go to `hw` directory, and just do a `make all`.  Then you'll see a bunch of git diffs in your area.

Flash right now seems to not follo

[2020-01-07 20:45] msfschaffner opened #1286 "[lint] Add AscentLint linting flow"
This issue is related to #1243 and tracks the progress of adding a flow for the AscentLint Tool from RealIntent.

- [x] Add AscentLint waiver files
- [x] Add AscentLint target to fusesoc core files
- [x] Add runscripts / makefile
- [ ] Decide what to do with lint errors in generated files.
- [x] Enable low risc linting policy in AscentLint (requires an upcoming release of the Tool)
- [ ] Update do

[2020-01-07 21:01] #1281 closed

[2020-01-07 21:58] imphil opened #1288 "Meson 0.53.0 is broken on Ubuntu 16.04/Python 3.5.2"
Our CI runners get the following meson error with the latest 0.53.0 meson release. It worked fine with the previous release. I have not yet tested other OS/Python versions.

[code]

[2020-01-07 22:12] imphil commented on #1288
Upstream bug report: https://github.com/mesonbuild/meson/issues/6427

[2020-01-07 22:55] eunchan commented on #1285
Also please remind that the master branch has a change of hjson format. `base_addr` and `size_byte` are now changed to `addr_range` field.

[2020-01-07 22:56] weicaiyang opened #1290 "[uart] default values of tx_empty and tx_watermark"
In spec, default values of tx_empty and tx_watermark are 0.

After reset, tx_empty_prev_q will be set to 0 while tx_empty_d is 1. This will trigger an event to update tx_empty. So, after reset, tx_empty will be set.

[code]

Since we reset tx_watermark_prev_q to 1, and tx_watermark_d is also 1 after reset,  event_tx_watermark remains 0.
[code]
Since these 2 interrupts are edge-triggered, should we

[2020-01-07 23:20] tjaychen commented on #1290
yeah that seems like a good idea. Let me add that.

[2020-01-07 23:25] tjaychen opened #1291 "[flash_ctrl] Template flash_ctrl"
Currently, flash memory size is not determined directly through `top_earlgrey.hjson` the way RAM and ROM are done.  Instead, flash size is controlled through `top_pkg.sv` variables.

This means when a user changes the size in the hjson, nothing actually changes when `make all` is run.

To fix this there are a few options:
- Template flash_ctrl and move it as part of topgen, since a different flash

[2020-01-08 01:40] moidx opened #1294 "RFC: Device Life Cycle - State Definitions"
Request for comments for proposed [Device Life Cycle State Definitions](https://docs.google.com/document/d/15QYEZ1kkAs9qG3yCPj3J8frPmpfOvwdWRRB2Z5YVFJw/edit).

Device life cycle states are used to track the operational state of the device during manufacturing, provisioning, regular operation, as well as [RMA](https://en.wikipedia.org/wiki/Return_merchandise_authorization).

An additional set of st

[2020-01-08 01:58] weicaiyang commented on #1290
@tjaychen
Assume tx fifo is empty and we clear tx_empty interrupt, then write a few tx items into the fifo.
When the 1st item is written to the fifo and tx is enabled, fifo will pop it out in next cycle. So, fifo changes from non-empty to empty, which triggers the tx_empty interrupt. This interrupt will occur no matter how fast the data are written. It seems a little bit annoying.

Maybe we can us

[2020-01-08 02:11] weicaiyang commented on #1290
Similar issue happens to tx_watermark==0 (1 character)
when 1st item is written to tx fifo, fifo size will change from 1 to 0 as the item is popped for transfer. Then, tx_watermark will be triggered.

Maybe we can change tx_watermark==0 to be 2 character?

[2020-01-08 02:36] tjaychen commented on #1290
Thanks weicai. I definitely agree on the watermark one, right now the less
than 1 character is the same as empty, so it's not really serving a purpose.

Let me think a bit about the empty case.  I'm not sure I want to qualify
with idle because that means during the entire transfer of the last byte
when the software could have known to prepare new data it's actually doing
nothing.  Maybe there isn'

[2020-01-08 08:33] vogelpi commented on #150
Thanks @tjaychen and @eunchan for explaining visualizing the purpose. It sounds very reasonable and I think we need to have this in all security relevant IP cores.

[2020-01-08 09:01] silvestrst commented on #1043
Following up on yesterday's discussion, what there a consensus on enum range checking? For something like:
[code]

Do, or don't - something like this?:
[code]

I don't have a strong opinion, maybe was being overly paranoid with range checking.

[2020-01-08 09:23] silvestrst commented on #1224
Attempt to summarise the previous discussion on DIF mock testing. Consensus has been reached that only public API should be tested. The DIF (source and header) should be used as is by a testing framework.

There are only several low level libraries that DIFs should depend on (mmio, ...), so for testing purposes only public API in these libraries should be able to be mocked. See #1269 for an exampl

[2020-01-08 09:45] lenary commented on #1043
Yes, the consensus was don't do checking that allows every enum variant, only do the enum checking if `val` can only be a subset of the enum variants.

[2020-01-08 10:35] imphil commented on #1288
Just to increase and reduce confusion: Ubuntu 16.04 is actually using Python 3.5.2 on x86, even though the package is named 3.1.5... (see the list of files at https://packages.ubuntu.com/xenial/python3.5)

[2020-01-08 10:36] silvestrst commented on #1043
Cool, I will remove these checks from my PRs

[2020-01-08 10:48] silvestrst commented on #1043
I have a question regarding static functions documentation. I think it is useful to describe what static functions are doing, but I felt like full function boilerplate like we do for public functions might be overkill. I feel that something like comment style description would be sufficient for static functions. My approach is:
[code]
@alphan approach is to use public function format:
[code]
I don

[2020-01-08 10:52] imphil commented on #1043
You can use Doxygen-style comments without the `@param/@return` parts, so you don't need to choose a different comment style.

[2020-01-08 10:55] lenary commented on #1043
I don't see the value in having two different documentation comment formats. Doxygen seems able to omit generating docs for static functions in C (indeed seems to do this by defaut), so we shouldn't feel documenting static functions with a doxygen-style comment makes them "public".

I think you can choose to omit the `@param`/`@return` parts if you want, but in more complex static functions you sh

[2020-01-08 10:58] silvestrst commented on #1043
Really what I wanted to figure out - how much private functions should be documented. @lenary I agree with what you said, and also I will change my PRs to also use Doxygen style description for private functions.

[2020-01-08 11:04] imphil commented on #1043
My general rule on that: Only document the ones which aren't obvious from the function name, e.g. have non-obvious side effects, pass on data ownership, do allocations, etc. Beyond that, use your intuition.

[2020-01-08 11:08] silvestrst commented on #1043
@imphil sounds good to me!

[2020-01-08 15:15] mwbranstad commented on #150
Apologies in advance for my lack of "design for security" knowledge.
I took at look at this and had a few questions. Was unable to look at the RFC, but was able to see the register transfer diagram.
1) Regarding the diagram, it was very clear except for the "phase" blob. Assuming this is handling a TLUL register write, it seems this needs to be a flop stage here also to sync up for the comparison,

[2020-01-08 16:48] pfmooney commented on #1232
I've been working on driving the UART with a modified version of what @alistair23 [drafted up for Tock](https://github.com/tock/tock/pull/1460).  Using a verilator model built from OpenTitan as of yesterday (including the changes for tx_empty interrupts on the UART), I've found that the internal interrupt state changes do not appear to make sense.

In particular, I was filling the TX FIFO, and the

[2020-01-08 17:16] eunchan commented on #150
On Wed, Jan 08, 2020 at 07:15:52AM -0800, mwbranstad wrote:

`phase` signal is the output of prim_shadow internal state machine. You can
assume `phase` as an indication of 1st write(value 0)/ 2nd write(value 1).

That's true (@tjaychen @cgori correct me if I am wrong). In order to avoid the
detection in prim_shadow, glitch should happen at two consecutive clocks and
also should happen at the exact

[2020-01-08 17:34] eunchan commented on #1121
Adding the comments from @mwbranstad

On Tue, Jan 07, 2020 at 05:21:05PM +0000, Mark Branstad wrote:

This SPI Flash mode is to support SPI interface. It eventually leads to the SPI
Passthrough combining this SPI Flash mode. So that, the host can access the OT
eFlash and the external Flash (BIOS) with same protocol.

It doesn't increase the speed of the SPI interface but the throughput as it can
s

[2020-01-08 17:36] eunchan commented on #1291
This would take long time.. or may be failed to be implemented :(

[2020-01-08 18:32] tjaychen commented on #1232
@pfmooney thanks for input!
I think you are also seeing a bit of a side effect, please see #1290

There are a couple of reasons why you're seeing this.

The TX_EMPTY interrupt is right now an edge event.  Meaning as long as it has happened once, the interrupt state will latch and wait for software to clear it.

The other issue is that interrupt enable does not actually prevent the interrupt state

[2020-01-08 18:38] tjaychen commented on #1290
@gkelly @mcy @phil-levis-google

it would be good to get your take on the TX_EMPTY issue.

The implementation as is right now I dont think will work.  As @weicaiyang pointed out, once you write an entry, the hardware almost immediately takes it out and begins to try and transmit it, meaning EMPTY will assert before the next write data has a chance to come in.  I think this has a chance of confusin

[2020-01-08 18:57] tjaychen commented on #1290
@phil-levis

[2020-01-08 21:54] tjaychen commented on #150
@vogelpi
do you see any way how a similar concept might be absorbed into PMP settings inside ibex? Really those registers are just as sensitive since they will perform a large part of the isolation function.. It may be that we cannot without breaking the spec, but we should really think about what we might do there as well.

[2020-01-08 23:12] eunchan commented on #1258
The fix is merged now. Can we close this issue?

[2020-01-09 00:01] eunchan commented on #1256
Nice!

[2020-01-09 00:03] eunchan opened #1302 "[topgen/tlgen] Move simplify addr code to tlgen"
#1273 introduced the address merge feature. It is implemented in topgen while fabricating xbars. It makes more sense to move to tlgen as it can be done without top-level information nor the values from other crossbars.

[2020-01-09 00:16] eunchan commented on #1232
Assuming the bitstream was before #1290 then I don't see any particular reason why tx watermark interrupt cannot be cleared. tx_fifo_depth is 0 then previous RTL should not create the tx_watermark event.

Is it still reproducible with latest design?

[2020-01-09 01:41] alistair23 commented on #1232
@eunchan the interrupt can be cleared (the title in this issue is out of date). The main issue now is that interrupts don't work in the FPGA. I didn't create a new issue as there is a fair bit of relevant discussion here, but if you want I'm happy to close this and create a new one.

[2020-01-09 01:48] sjgitty opened #1306 "[DV] Vote! Name of "unofficial DV work area""
Opening the voting of the unofficial DV work area directory until
EOD (PST) 2020-01-10. Please vote if you have an opinion.

For context, this area should represent **any** of the following IMO:

- a work area for designers or DVers that is **not** intended to apply towards code coverage
- experimental verification that is worthy of maintaining
- sanity verification that is worthy of maintaining
-

[2020-01-09 01:49] sjgitty commented on #1306
My vote: 1 + 2, ie. `hw/ip/bob/scratch_dv`

[2020-01-09 01:50] aytong commented on #1306
+1 for hw/ip/bob/scratch_dv

On Wed, Jan 8, 2020 at 5:49 PM Scott Johnson <notifications@github.com>
wrote:

[2020-01-09 01:57] #1258 closed

[2020-01-09 01:58] nono0210 commented on #1258
I can run example to gen the xbar successfully

[2020-01-09 01:59] nono0210 commented on #1258
i have close the ticket

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Eunchan Kim"<notifications@github.com&gt;;
发送时间:&nbsp;2020年1月9日(星期四) 上午7:12
收件人:&nbsp;"lowRISC/opentitan"<opentitan@noreply.github.com&gt;;
抄送:&nbsp;"misanthrope"<691460028@qq.com&gt;;"Author"<author@noreply.github.com&gt;;
主题:&nbsp;Re: [lowRISC/opentitan] Xbar generation example cannot run in latest version

[2020-01-09 02:17] mdhayter commented on #1306
Question: is it restricting to think of this just for dv? Should this be generalized to
hw/ip/bob/dv/scratch for scratch things related to dv
hw/ip/bob/rtl/scratch for scratch things related to rtl

Or (given how the votes are going)
hw/ip/bob/scratch

and add a bullets to Scott's list

- experimental code that is worth maintaining
- code/scripts useful during the design process that are worth mai

[2020-01-09 03:42] nono0210 commented on #1258
Have already close the ticket

---Original---
From: "Eunchan Kim"<notifications@github.com&gt;
Date: Thu, Jan 9, 2020 07:12 AM
To: "lowRISC/opentitan"<opentitan@noreply.github.com&gt;;
Cc: "nono0210"<691460028@qq.com&gt;;"Author"<author@noreply.github.com&gt;;
Subject: Re: [lowRISC/opentitan] Xbar generation example cannot run in latest version  (#1258)

The fix is merged now. Can we close this is

[2020-01-09 07:25] Avani8 commented on #1285
@tjaychen  thanks for response. I tried changing ROM size from 2000 to 6000 as we per our need and added custom c code in bootstrap.c.  I did following steps
[code]
it compiles fine but after that when I am running
[code]
it fails with error
[code]

[2020-01-09 10:22] silvestrst commented on #1043
Hey everyone, I have another question regarding the static function parameters. Do we want to constify everything, like in @alphan approach:
[code]

Or we only want to constify the data pointers point to (obviously only when required), like:
[code]

Please let me know what you think.

[2020-01-09 15:36] imphil commented on #1043
Use const for pointers of course.

Beyond that, I'm not a fan of things like `const uint32_t val`, I'd prefer `uint32_t val`. I don't see a benefit of adding `const` in such cases, beyond having to type more.

[2020-01-09 15:41] lenary commented on #1043
I agree with @imphil for pointers and sacalars. For struct parameters, `const` could be helpful, but they should all be passed with a pointer anyway.

[2020-01-09 15:53] jon-flatley opened #1308 "[hmac] Clearing INTR_STATE.hmac_done"
It's possible I'm missing something in the documentation, but I can't find a way to clear the `INTR_STATE.hmac_done` bit short of a restart. This is manifesting as a bug in the HMAC DIF I'm working on; after the first run of HMAC my `dif_hmac_done()` function always returns true and the digest gets read early.

I've tried writing 0 to `INTR_STATE.hmac_done`, clearing `CFG`, clearing `CMD`, writing

[2020-01-09 16:00] GregAC commented on #1308
If you take a look at the register table https://docs.opentitan.org/hw/ip/hmac/doc/#register-table INTR_STATE.hmac_done has a type of 'rw1c', which is read, write 1 to clear.

So writing 1 to INTR_STATE.hmac_done should clear it.

Types can be found in the regtool documentation: https://docs.opentitan.org/doc/rm/register_tool/#configuration-and-register-definition-file-format

[2020-01-09 16:09] gkelly commented on #1043
This guidance is aligned with the style guide, which strongly suggests const where it makes sense.  Pointers, yes.  Scalars, no.

[2020-01-09 16:16] jon-flatley commented on #1308
Yep that does it. I'll refer to my disclaimer about missing something in the documentation. Thanks!

[2020-01-09 16:16] #1308 closed

[2020-01-09 16:48] mwbranstad commented on #1306
I vote for 1 and 3.
Intent is that this code is to be preserved.

[2020-01-09 16:49] senelson7 commented on #1306
1, 3

[2020-01-09 18:00] cindychip commented on #1306
I vote for 1, 3.
But I think Mark has a point to not limit it to DV. If we found it is applicable to add a unofficial RTL work area, I propose:
For vote 1, -> I still for choice 1.
For vote 2, -> we can use more generic name, say : `pre_ip_name`, then under it we can do `pre_dv`, and `pre_rtl`.

[2020-01-09 18:27] weicaiyang commented on #1306
1, 4

[2020-01-09 18:40] tjaychen commented on #1285
thanks for the report! we will have a look at this.

[2020-01-09 18:40] tjaychen commented on #1285
@eunchan for visibility

[2020-01-09 20:15] tjaychen commented on #1285
hi! we think we fixed this in #1309 .. could you give that an update and try again?
I suspect you still might run into FPGA issues because of the way some of post processing scripts work..but give it a try first.

At least there should be no syntax errors.

[2020-01-09 21:08] #1207 closed

[2020-01-09 22:10] rasmus-madsen opened #1315 "[DV/tools/aes] VCS/Xcelium need special compiletime options for aes module"
in order to get aes working correctly
the following parameters needs to be passed to the compiler.

[code]

as these are module specific I found the best place to put them was the in hw/ip/aes/dv/Makefile
Ideally I would think this should how be put into fusesoc.

any comments on how to handle this best?

[2020-01-09 22:11] rasmus-madsen commented on #1315
@vogelpi @imphil @cindychip  you guys might also have an oppinion.

[2020-01-09 22:42] #50 closed

[2020-01-10 00:07] msfschaffner commented on #1306
Just noting here that we also have the `util` subfolder which we typically use to store such scripts (see e.g. under `ip/alert_handler`, `ip/rv_plic` or `ip/prim/util`...

[2020-01-10 00:12] msfschaffner commented on #1306
1, 3

[2020-01-10 07:55] sriyerg commented on #1306
1, 4

'Trial' is loosely synonymous with[ 'initial' / 'preliminary'](https://www.thesaurus.com/browse/preliminary) as well as with ['experimental'](https://www.thesaurus.com/browse/experimental).

[2020-01-10 08:12] vogelpi commented on #1315
IMO, the include paths for the C sources should be set automatically by fusesoc/edalize. @imphil prepared a PR to pass C sources and headers into VCS upstream olofk/edalize#71 (this is already tracked in OpenTitan by #953 ). As far as I understood, he was also working on getting the include paths right.

For the flag `-lcrypto`, this could probably also be passed through fusesoc/edalize?

[2020-01-10 13:41] alphan commented on #1043
I know I'm a little bit late but IMHO qualifying arguments that are passed by value as `const` has benefits. In the majority of the cases arguments to a function are not modified in the function body and `const T val` formally states that (and the compiler enforces it). You don't need to think "I see `val` here, but I wonder if it has been modified since we entered this function." Of course, this

[2020-01-10 15:25] gkelly commented on #1043
and

cover this from the style guide I believe.  So I would say you're allowed to write the physically-const definition even though the declaration isn't.

[2020-01-10 15:32] alphan commented on #1043
Great! Thanks for the clarification!

On Fri, Jan 10, 2020 at 10:26 AM Garret Kelly <notifications@github.com>
wrote:

[2020-01-10 16:03] mwbranstad commented on #1306
Here are some additional comments to address Michael’s questions, and since the idea was original sponsored by me, I will make it clear what I intended.

Historically, myself and others have found it useful to create a small testbench to test the basics of some new RTL module. The level of coverage can be from a simple “clocks and reset” test to make sure the design basically compiles, to developi

[2020-01-10 19:16] Avani8 commented on #1285
@tjaychen  thanks for fixing this...now it passes the build and I can deploy it on FPGA but it is hanging on frame 1 check.

![Screenshot from 2020-01-10 14-05-14](https://user-images.githubusercontent.com/12041484/72179082-456a2180-33b2-11ea-8dd5-cd58cba4d4d0.png)
![Screenshot from 2020-01-10 14-04-53](https://user-images.githubusercontent.com/12041484/72179083-456a2180-33b2-11ea-864d-a172252c702

[2020-01-10 20:26] tjaychen commented on #1285
@Avani8
your understanding is correct.
You do not need to change the pre-computed hash, it is actually done as part of the spiflash program, see [here](https://github.com/lowRISC/opentitan/blob/master/sw/host/spiflash/updater.cc#L128)

At this point we'll probably want to do some debugging to figure out what the ROM is doing because it seems to not be computing the right output.  Before we do that

[2020-01-10 20:42] Avani8 commented on #1285
hi @tjaychen ..yes with 0x2000 everything works fine...to give some more insight I've created sample sum, sub, mult, div functions in c and added that file under sw/device/lib/ included it in meson build and added some uart print results ...that program too works fine.
the problem comes, when I add a big source file(example compression function) and increase the ROM size.

[2020-01-10 20:43] rasmus-madsen commented on #1315
@vogelpi
ok perfect if @imphil  is already working on this.
should we leave this open or should I copy this as a comment in that issue?

[2020-01-10 20:45] Avani8 commented on #1285
now to give details, what I am trying to do here is add data compression logic (only software) in bootstrap.c

[2020-01-10 23:03] eunchan commented on #1232
Thanks for update. Let me go through the comments above to figure out how the software/ hardware are configured.

[2020-01-10 23:04] eunchan commented on #1232
@tjaychen I think we have CDC issue now... don't we? (UART uses peri clock and the PLIC uses main clock)

[2020-01-10 23:25] eunchan opened #1321 "[topgen/plic] Handling interrupt CDC"
Whether inside each HW IP or inside PLIC, it should have 2flip-flop synchronizer if the interrupt is created in different clock domain, currently UART/GPIO/SPI_DEVICE are clocked at fixed clock (even the clock source is same at this moment)

1. RV_PLIC has synchronizer : A little bit hard to templating the plic top
2. CDC on the path at the top: Is it normally OK to have CDC logic at the top (or a

[2020-01-11 00:55] msfschaffner commented on #1321
I added preliminary functionality for this to the alert handler (and the corresponding topgen logic). it's basically a logic parameter that I pass to the alert handler, which indicates whether CDC modules should be instantiated for a particular alert within the RX/TX pairs:

https://github.com/lowRISC/opentitan/blob/e19f42bd81f1a452be7d1528e23d47aec85a9dd4/hw/ip/prim/rtl/prim_diff_decode.sv#L43-L7

[2020-01-11 00:57] msfschaffner commented on #1243
Ok, initial support for Verilator lint is there, but we still have to populate the lint waivers...

[2020-01-11 00:58] msfschaffner commented on #1286
Initial support is there, but we still have to wait for the upcoming release of AscentLint 2019.A.p3 for final integration.

[2020-01-11 02:44] tjaychen commented on #1232
yes technically we would, but all the separate clocks are still tied to the
same source in both FPGA / design isn't it?
we have not actually split it out into multiple sources yet (partially
because i haven't really had a chance to look into how this might impact
the verilator DPI modules)

On Fri, Jan 10, 2020 at 3:04 PM Eunchan Kim <notifications@github.com>
wrote:

[2020-01-11 02:45] tjaychen commented on #1285
is there any way you could push this to a fork and i can pull it to have a
look?

also, are you having issues specifically to compression with bootstrap
calls? I'm wondering if we should just debug separately if the compression
call is causing the core to die.

when you just increase the ROM size (without any change in function), does
everything still work okay?

On Fri, Jan 10, 2020 at 12:45 PM A

[2020-01-11 02:53] sriyerg opened #1322 "[DV Regression Results] Upload to OpenTitan doc server"
I would like to be able to upload the results to the OT web server whenever regressions are run. For starters, it will just be a markdown / html file (sample attached). Eventually, it will also include the tool generated coverage report (several html files). The goal is to have the tool directly copy over the results to the web server once every night (skip GitHub). It is sufficient to maintain th

[2020-01-11 02:59] sriyerg commented on #1322
Sample regr_results.md file:

[code]

[2020-01-11 03:40] Avani8 commented on #1285
@tjaychen here is the [link](https://github.com/Avani8/otcompression) for the fork.
not sure the issue is for only compression function, I think if the code size is increasing 1k or something it fails hash matching .. for example in the fork look at sw/device/lib/hello.c where I have sum/sub/mul/div func along with compression code. I have validated that sum works with ROM size increase but when I

[2020-01-12 07:46] bcantrill opened #1323 "[sw] add versioning to flash header"
When the (one member) flash header was introduced in https://github.com/lowRISC/opentitan/commit/4425b287f8d2c6de6f10410192ee7ef761c71189, both Tock and Oreboot were silently broken (as discussed in https://github.com/tock/tock/pull/1460#issuecomment-573380139 and https://github.com/oreboot/oreboot/issues/217, respectively).  Given that there is OpenTitan software living outside of the OpenTitan r

[2020-01-12 13:39] imphil opened #1324 "[CI] Detect bootloader breakages"
As discussed in https://github.com/lowRISC/opentitan/issues/1323, we currently don't always recognize if we break out-of-tree software by changing the bootrom. We should invest in automated testing to detect such breakages, and then take an informed decision (which can still be: let's move on, it's an intentional breakage).

I'm not quite sure what this testing can look like:
- Boot an older binar

[2020-01-12 13:41] imphil commented on #1323
Thanks for catching this and opening this issue @bcantrill.

OpenTitan, and especially the software startup sequence, are in pretty early stages at the moment, so I'm not sure how many stability guarantees we can and want to make at this point.

What really bothers me, however, is silently breaking others. I've opened https://github.com/lowRISC/opentitan/issues/1324 to discuss ideas how to detect

[2020-01-13 02:21] bcantrill commented on #1323
Sure, that makes sense.  Thank you!

[2020-01-13 10:43] vogelpi commented on #1315
Let's leave this open for the moment.

[2020-01-13 16:35] vogelpi commented on #150
I am not sure but the only way in which the current proposal would violate the spec is that two successive writes to PMP registers would be needed for every change.

This could be avoided making some CSR instructions (e.g. those writing the PMPs) multicycle. The first cycle would update the staged register and the second the shadow + actual register. Unlike for data interface/LSU where the address

[2020-01-13 18:22] cindychip opened #1325 "[ASSERTION/TLUL] TlOutKnown assertion failure"
Hi Michael,

I remembered there is a previous issue reported for invalid read latches, so you added a PR #1230 for it. With the new implementation, I found the assertion fail in HMAC's tlul_adapter_sram model.

Hmac's tlul_adapter_sram is a WO memory(ish) device. In DV's `tl_error` test, we will read the memory, and check if `d_error` is asserted. However, this sequence hits an assertion error.
 A

[2020-01-13 19:12] gkelly opened #1327 "[doc] Docs not building due to missing `tabulate` dependency"

[2020-01-13 19:43] sjgitty commented on #1306
As of EOD Friday, the winner was `1 + 3`, so given this example:

`hw/ip/bob/pre_dv`

I will propose a change to the file `doc/ug/directory_structure.md` to gather
some of the thoughts here, and people can weigh in on that PR.

[2020-01-13 19:54] gkelly commented on #1327
Redeployed builder container and reran on https://github.com/lowRISC/opentitan/commit/056b1ca7a60e1ffff82846cc05d2ad8bb3344a53, which successfully deployed.

[2020-01-13 19:54] #1327 closed

[2020-01-13 20:09] tjaychen commented on #150
that sounds good to me!
do you want to record this in the list of ibex security measures under consideration? we can then see how we feel this stacks up to other items.

I would say if that it is too difficult, maybe extending from one into two writes isn't 100% necessary, but we should definitely consider some way to sanity check the stored contents and fire an alert if needed.

[2020-01-13 22:06] sriyerg commented on #659
A tool for this has been added in `util/dvsim.py`. It is far from complete, but is minimally viable and should help users start running regressions.

[2020-01-13 22:36] gkelly opened #1329 "Generate and publish doxygen outputs for sw tree"

[2020-01-13 22:45] eunchan commented on #1121
Based on [RFC Process](https://docs.opentitan.org/doc/project/rfc_process/) , it is supposed to be tagged with _TC Review_ but I cannot see the tag in the list.

@aytong Could you add the tag to the system? I think it is good to go for TC Review.

[2020-01-13 23:33] weicaiyang commented on #659
Thanks @sriyerg. Close this issue.

[2020-01-13 23:33] #659 closed

[2020-01-14 00:23] msfschaffner commented on #1325
Hm, this might be an implicit `X` due to an invalid (i.e. non-existent) address. RTL should return a known value in any case (preferrably `0`).

Can you add `rspfifo_rvalid` to the qualifier expression on this line?

https://github.com/lowRISC/opentitan/blob/0c8583fc335b4b46aa13abbe62f2930d693bbab9/hw/ip/tlul/rtl/tlul_adapter_sram.sv#L129

[2020-01-14 01:17] cindychip commented on #1325
Thanks Michael, it passed after adding the rspfifo_rvalid

[2020-01-14 03:55] aytong commented on #1121
@eunchan @sjgitty, I don't have privilege to create labels in opentitan repo.  Not sure if it is because I don't have commit rights.  Can either of you create labels?

[2020-01-14 06:23] sjgitty commented on #1121
I can try, I have before. What labels are you looking to create? Or do you
mean applying labels?

Scott

On Mon, Jan 13, 2020 at 7:55 PM Andy Tong <notifications@github.com> wrote:

[2020-01-14 09:57] silvestrst commented on #1043
I hate to come back to the const discussion, but can we just aim to have all the difs consistent in this regard.

I guess the Google C++ Coding Style is not project specific, and hence gives some liberty. I think for DIFs, we should pick one method and stick to it for consistency. I don't have strong opinion one way or another, but I would like to be consistent.

[2020-01-14 10:02] silvestrst commented on #1224
The only issue I can see now is the fact that we won't able to test any API that doesn't do mmio access. There could be some helper routines that don't necessary perform a register access.

[2020-01-14 10:26] silvestrst opened #1330 "[SW, UART] extend UART driver to use interrupts"
Presently UART driver implements only a handful of operations, which are implemented in terms of polled byte write/read. It would be useful to extend the UART driver to use the interrupts for the following reasons:

- An example use of UART DIF API (wider coverage)
- An example use of PLIC DIF API
- An example implementation of a driver in terms of DIFs

[2020-01-14 10:28] silvestrst commented on #1330
@imphil @lenary @alphan @gkelly @mcy

Please mention other people if I have missed someone, thanks

[2020-01-14 14:43] vogelpi commented on #150
Thanks for your feedback @tjaychen , I added this to the mentioned document.

[2020-01-14 16:03] silvestrst commented on #1224
Had a look at following test frameworks: googletest(C++), greatests (c89), theft(c), check(c)

Googletest major positives:
- Well documented
- Is used by large projects (llvm, OpenCV, ...)
- xUnit format
- Can be built as a library
- As far as I understand don't need to create runners if testing all tests (might be wrong).
- Provides xml output, but also allows pretty straight forward way of chang

[2020-01-14 16:28] eunchan commented on #1121
the RFC process doc mentioned that "TC Review" label need to be added to
proceed.

On Mon, Jan 13, 2020 at 10:23:47PM -0800, Scott Johnson wrote:

[2020-01-14 16:35] bcantrill commented on #1330
Are UART interrupts known to be working on the FPGA? Using @alistair23's work as a base, @pfmooney got Tock working with UART interrupts -- but it seems to work only on Verilator, not the FPGA.  (See https://github.com/tock/tock/pull/1460.)

[2020-01-14 16:38] lenary commented on #1330
@bcantrill this is the tracking issue for this functionality. We will be testing it on the FPGA as we go along, in order to try to provide more information for that tock issue.

[2020-01-14 17:15] bcantrill commented on #1330
@lenary, so do UART interrupts currently work on the FPGA? Happy to help diagnose if they are expected to work -- but will leave for others if they're already known to not work on the FPGA.  (We have verified that interrupts do indeed work on Verilator; this doesn't appear to be a Tock issue, at least with @pfmooney's work.)

[2020-01-14 20:37] aalthoff opened #1333 "Test software halts with "Pass" before finish"
Compiling and running test software (in VCS) halts prematurely, printing the "Test passed!" message before the test software actually runs. Attempting the SHA-256 test by running
`cd $REPO_TOP/hw/top_earlgrey/dv ; make TEST_NAME=chip_sha256_test`
halts at either the jump to main from crt, or in the middle of __udivmoddi4 in libgcc2. I adjusted the timeout in $REPO_TOP/hw/top_earlgrey/dv/Makefile j

[2020-01-14 22:43] tjaychen commented on #1285
Thanks!
I still have not had a chance to look into this yet, but I will try to find
time later this week.

On Fri, Jan 10, 2020 at 7:40 PM Avani8 <notifications@github.com> wrote:

[2020-01-15 01:28] cindychip commented on #1325
PR merged

[2020-01-15 01:28] #1325 closed

[2020-01-15 01:43] sjgitty commented on #1121
Created

On Tue, Jan 14, 2020 at 8:28 AM Eunchan Kim <notifications@github.com>
wrote:

[2020-01-15 02:05] weicaiyang commented on #1234
Done

[2020-01-15 02:05] #1234 closed

[2020-01-15 02:06] weicaiyang commented on #660
Done

[2020-01-15 02:06] #660 closed

[2020-01-15 02:58] pfmooney commented on #1330
I was able to get timer interrupts working in Tock with the FPGA, but interrupts from the UART still seem to be problematic there.  I hope to rig up some additional tests with the GPIO pins soon.

[2020-01-15 13:11] jxk304 opened #1339 "Assertion of haltsum in dm_csrs"
Hi all,

I found an Assertion(named haltsum) in dm_csrs.sv file in the debug subsystem, which is to constrain the read of HALT_SUMMARY0, HALT_SUMMARY1, HALT_SUMMARY2, HALT_SUMMARY3 through DMI.
while according to the spec, these registers are readable; and indeed there is the RTL code to support the read of these registers in the dm_csrs.sv file.

the assertion is as below:
  haltsum: assert prope

[2020-01-15 14:31] lenary commented on #1224
Given the current proposed unit testing mechanism (running mock tests on hosts, not RISC-V devices), I am happy for us to proceed with googletest/googlemock.

[2020-01-15 14:48] gkelly commented on #1322
The easiest thing to do would be add a service account with access to the docs serving bucket.  Where do the reports get generated?  I'd like to make sure that a compromise of that serving key doesn't end up with docs.opentitan.org defaced or serving malware, so it might be preferable to add a new subdomain like reports.opentitan.org and give that process access to that bucket only.

[2020-01-15 18:21] silvestrst commented on #1330
@bcantrill I am seeing issues with UART interrupts on FPGA as well (TX watermark firing on verilator, but not FPGA). I will do more investigation tomorrow.

[2020-01-15 18:38] #1302 closed

[2020-01-15 18:40] cindychip opened #1341 "[dv/common] tl_errors_vseq runs very slow on hmac and spi_device"
Running profiling to check why tl_errors_vseq runs slow on hmac and spi_device.
Potentially could related to large memory inside the two devices.

[2020-01-15 18:56] msfschaffner opened #1342 "[tool] Add support for Verible open source verilog style linting"
This issue tracks the addition of [Verible style-lint](https://github.com/google/verible) to our utility tools and CI. Verible style lint is an open-source style linter which implements rules that are very close to the [lowRISC coding style guide](https://github.com/lowRISC/style-guides/blob/master/VerilogCodingStyle.md).

- [x] add build script. note: this requires the bazel build system and GCC7

[2020-01-15 18:58] msfschaffner commented on #1342
@fangism for visibility

[2020-01-15 19:15] eunchan commented on #1121
Thanks @sjgitty

[2020-01-15 19:25] aalthoff commented on #1333
Apparently fixed with updates incl. CRT rewrite.

[2020-01-15 19:25] #1333 closed

[2020-01-16 01:33] sriyerg opened #1351 "[usbdev rtl]Warnings thrown at runtime"
Warning-[RT-NCMUCS] No condition matches in statement
../../../../../../usr/local/google/home/sriyer/opentitan/repo0/opentitan/hw/ip/usb_fs_nb_pe/rtl/usb_fs_tx.sv, 149
  No condition matches in 'unique case' statement. 'default' specification is
  missing, inside tb.dut.usbdev_impl.u_usb_fs_nb_pe.u_usb_fs_tx.proc_fsm, at
  time 0ps.

Warning-[RT-NCMUCS] No condition matches in statement
../../../.

[2020-01-16 08:57] silvestrst commented on #1330
@bcantrill @pfmooney I will be analysing the issue alongside lowRISC hardware team, and will aim to give an update by the end of today.

[2020-01-16 15:13] GregAC commented on #1330
@silvestrst and I are suspicious we've got an RTL issue that causes a key part of the PLIC to be optimized out.

Specifically the issue may be in the the logic that computes the highest priority interrupt in the PLIC target module here: https://github.com/lowRISC/opentitan/blob/a91fc612bfe9d72efbaa3d53df717c9cc7e1b1e0/hw/ip/rv_plic/rtl/rv_plic_target.sv#L49-L101

I've created a bit file with an IL

[2020-01-16 15:39] GregAC commented on #1330
False alarm on the RTL issue (well that RTL issue that I highlighted), slight typo in my ILA hookup that made it appear that the output of the priority logic was constant 0 but I was just looking at the wrong signal!

[2020-01-16 16:43] silvestrst opened #1355 "[HW, RV_PLIC] Claim/Complete register behaviour on FPGA"
Interrupts are firing in verilator but not FPGA. This issue has been first discovered by @alistair23 working on Tock. I have also ran into this issue when doing some proof-of-concept work, related to #1330 .

After examining the netlist, it seems that portions of RV_PLIC are optimised by the FPGA synthesis tool (rv_plic_target, as well as cc0 in rv_plic_reg_top).  One of the hypothesis is that par

[2020-01-16 16:48] silvestrst commented on #1355
@msfschaffner @eunchan could you please look into this?

[2020-01-16 16:49] silvestrst commented on #1330
Please see issue #1355 for the update on the FPGA interrupts issue.

[2020-01-16 16:55] GregAC commented on #1355
So from looking at the ILA outputs what's happening is the gateway seems to set the ip and ia flops up correctly (i.e. bit 32 gets set when the TX watermark interrupt is triggered) but something goes wrong in the target presumably in the logic that determines the highest priority. The reg2hw.cc0.q signal reads as 'h1 on the ILA  (well I'm actually probing complete_id[0] but it's assigned to reg2hw

[2020-01-16 17:05] silvestrst commented on #1355
The SW proof-of-concept code that I have put together lives [here](https://github.com/silvestrst/opentitan/tree/silvestrs/irq-proof-of-concept)

[2020-01-16 17:44] eunchan commented on #1355
Thanks for reporting the issue. When @alistair23 reported this, I overlooked the chance of optimized away the logic. Let me and @msfschaffner dig this issue. Thanks!

CC: @tjaychen

[2020-01-16 17:49] gkelly commented on #1322
To follow up here: I set up [reports.opentitan.org](https://reports.opentitan.org) and have it serving from a separate bucket.  I created a service account and provided the key to Sri.  We discussed on a call that if it's more than one machine running this process, or if it's going to be multiple developers doing it interactively, then it makes sense to switch to authenticating/acting as the devel

[2020-01-16 18:58] tjaychen commented on #1330
since this works on verilator (and this part is not different between fpga
and verilator), could it be some issue with how fpga synthesized this part?
i've been meaning to simplify the rv_plic stuff just to see if it makes a
difference.

On Thu, Jan 16, 2020 at 8:49 AM Silvestrs Timofejevs <
notifications@github.com> wrote:

[2020-01-16 19:09] eunchan commented on #1355
CC: @phil-levis-google

[2020-01-16 19:39] msfschaffner commented on #1355
Thanks for reporting this issue. Might be a simulation/synthesis mismatch, yes. The fastest way to test your hypothesis would be to build two bitstreams (one with the old and one with the new plic target). I've just kicked these builds off and will send the bit files over to you.

[2020-01-16 20:00] #1322 closed

[2020-01-17 03:09] msfschaffner commented on #1355
Ok after running the uart test on both versions (i.e. old/new plic target) in simulation as well as on FPGA, I can confirm that we are likely seeing a simulation/synthesis mismatch here.

I could not root-cause the mismatch just yet (the synthesis reports do not offer any insight). Will continue digging tomorrow.

In the mean time you can use the hotfix
`3828f60da05cacf54c9cac9352a6d4b66c6e49ea`
w

[2020-01-17 05:32] msfschaffner commented on #1355
Btwy, I am using Vivado v2018.3. Has anyone tried with a different version than that yet?

[2020-01-17 07:57] silvestrst commented on #1355
@msfschaffner and @eunchan thank you for looking into this problem, and for the patch.

I use the same version as you.

[2020-01-17 07:58] silvestrst commented on #1330
@tjaychen that is likely the case, please see #1355

[2020-01-17 10:12] silvestrst commented on #1355
@msfschaffner I have tried your temporary patch, and can confirm that I can get TX watermark interrupt to fire on the FPGA. Thank you

[2020-01-17 11:06] GregAC commented on #1355
Tried with Vivado 2019.2, synthesis tool just crashes early, there's some messages from a memory allocater reporting large allocs. Looks like it runs out of memory and crashes.

However the reported allocs have a suspicious progress of sizes:

[code]

So 1 GiB, 2GiB, 4GiB, 8GiB precisely.

[2020-01-17 11:12] GregAC commented on #1355
I tried a run with the priority logic commented out of rv_plic_target (the theory being Vivado is doing something wrong with it, in 2018.3 this is a synthesis bug in 2019.2 it causes the large memory allocations and a crash) but same result.

[2020-01-17 15:50] lenary commented on #1043
My feeling on `const` is that scalar arguments should not have it, and that function declarations should match their definitions exactly. With this in mind, I have a note about `const` to match this in #1354. Let's move discussion of `const` there as it is not the most important part of the DIFs :)

[2020-01-17 18:13] cindychip opened #1361 "[formal] fpv_all issues tracking"
- [ ] Top_earlgrey does not converge.

- [x] usbuart has compiling issues.

- [x] usbdev has cex:
usbdev.u_tlul2sram.rvalidHighWhenRspFifoFull

- [ ] rv_dm has two cexs:
rv_dm.tl_adapter_host_sba.handleErrorResponse
rv_dm.tl_adapter_host_sba.handleErrorResponse

- [x] flash_ctrl has one cex:
flash_ctrl.u_to_rd_fifo.rvalidHighWhenRspFifoFull

- [x] hmac have cexs and unreachables:
hmac.u_sha2.u_pad

[2020-01-17 19:38] msfschaffner commented on #1355
Update: after closer netlist inspection, it looks like Vivado is dropping the whole target module for some reason in 2018.3. I can reproduce this behavior when synthesizing the `rv_plic` in isolation.

Moving to 2019.2 shows no improvement, neither.
I am inclined to file an issue with Xilinx...

[2020-01-17 19:57] eunchan commented on #1355
Thanks for the update Michael!

In the meantime, we could add old (not efficient version) version of RV_PLIC to
target and selectable between the BINTREE and MATRIX?

On Fri, Jan 17, 2020 at 11:38:23AM -0800, Michael Schaffner wrote:

[2020-01-17 20:08] msfschaffner commented on #1355
I am still bisecting the target module and I think I have found something. If that does not lead anywhere within the next 1-2h I will do what you suggested.

[2020-01-17 20:41] msfschaffner commented on #1355
@GregAC, I think you ran into this (known) issue in 2019.2: https://www.xilinx.com/support/answers/73178.html

[2020-01-17 20:52] msfschaffner commented on #1355
Ok I found the problem, which is likely a bug in Vivado.

If you look at the new binary tree implementation of `rv_plic_target`, it has two nested generate loops within which the different nodes of the tree are connected with each other.

Vivado doesn't seem to like the ternary statements on these lines:
https://github.com/lowRISC/opentitan/blob/de3b0108bbaa630a3a005595bdd57ea01f2af1e7/hw/ip/rv_pl

[2020-01-17 20:58] tjaychen commented on #1355
Thanks Michael !

Do you want to send out a general notice? I have to imagine others will run
into this also.

On Fri, Jan 17, 2020, 12:52 Michael Schaffner <notifications@github.com>
wrote:

[2020-01-17 21:09] msfschaffner commented on #1355
Yes will do. The patch for this issue can be found here: #1364. PTAL

[2020-01-17 21:23] Avani8 commented on #1285
@tjaychen did you get a chance to look at this? I am still stuck. I think there is something blocking ROM size extension.  as I tried to extend ROM to 0x7000 and had approx 1K data to dump on the memory I am getting following error [
![Screenshot from 2020-01-17 16-17-56](https://user-images.githubusercontent.com/12041484/72646923-40264d00-3945-11ea-8b6b-899eb2eb53b9.png)
](url)

[2020-01-17 21:37] cindychip commented on #385
The last item is already done by Weicai's PR. Now tl_access task includes randomization in mask, addr, etc

[2020-01-17 21:37] #385 closed

[2020-01-17 22:28] sjgitty commented on #1355
Great debugging and patience, @msfschaffner ! Let us know what Xilinx has to say.

[2020-01-17 23:05] tjaychen commented on #1285
sorry @Avani8 i got kind of tied up looking at other things this week.

I did just pull your patch down to try however..and I was not able to reproduce your latest issue.  Using ROM_size extension 0x7000, and building with your version of ROM (i see the lz77_compress code in bootstrap.c and hello.c) I did not get the issue you are showing above.

What version of of the riscv-toolchain do you have

[2020-01-17 23:10] tjaychen commented on #1285
one other thing that occurs to me... it looks like the compress / uncompress is in the bootstrap function. Do you know have any rough idea how long these functions take? The spi transaction signaling isn't super robust right now, and relies on some hardcoded timing, basically assuming the device side can finish hashing and send back the results within a certain time.  I am not sure what placing a

[2020-01-17 23:44] msfschaffner commented on #1355
Thanks everyone for helping track down this problem.
I have filed an issue with Xilinx:
https://forums.xilinx.com/t5/Synthesis/Simulation-Synthesis-Mismatch-with-Vivado-2018-3/m-p/1065923#M33849
Let's see what they respond...

In the meanwhile, the hotfix for this problem has been merged.
I would be great if somebody could confirm that the problem is resolved now.

[2020-01-17 23:48] Avani8 commented on #1285
for reproducing today's error: I've created uint32_t txt[984] = {somevalues} and wrote a for loop to print the txt[i] 32 bit each using uart_send_int().

Since we had an issue with extending memory size we have changed our work direction to have either compression/ decompression function support, not both. so approx we need 3-4 kb extension in ROM size

yes for smaller function everything works.

[2020-01-18 00:16] tjaychen commented on #1285
I still think there might be issues if you do that within bootstrap. Could
you move your test code to the beginning of bootrom and leave bootstrap as
is? I really think the timing might be affected.

On Fri, Jan 17, 2020, 15:48 Avani8 <notifications@github.com> wrote:

[2020-01-18 00:39] Avani8 commented on #1285
moving code to boot_rom instead of bootstrap defeats the purpose. what we are trying to do here is when hash matching fails we will have this decompressor trigger and get a fresh copy of the data[] and replace it with the affected code. this is a proof of concept work which we are validating in our research paper.

[2020-01-18 00:44] tjaychen commented on #1285
Yes I understand there's no point, but I think we are probably messing some
of the assumed timing between spiflash and ROM.

What you could also try is go into the spiflash code and update the timing
so that the host waits longer for each frame. I'm asking for the move
mostly just to confirm if it's a timing issue or something more
fundamental.

On Fri, Jan 17, 2020, 16:39 Avani8 <notifications@gi

[2020-01-18 00:51] sjgitty commented on #901
@msfschaffner I think this should be migrated to lowRISC/style-guides, no?
I see that it appears to be working within `dm_csrs` and `dm_mem`, but since
`DM` is still in `V0` status I'm not sure we have a definitive answer yet. Qualitatively
it seems to work fine since we've gotten the debug port working fine.

[2020-01-18 00:51] Avani8 commented on #1285
got it trying now (just for a tet run) to see the timing issue as you suggested. will post results in few.

btw got the result of the previous run with just changing base address: 4000 instead of  0x8000. with the size : 4000 instead of 2000.  it fails at frame one check as previously.
did run another test with just changing ROM size: 0x4000 and start : 0x6000 (16kb) without changing anything in b

[2020-01-18 00:52] sjgitty commented on #1342
Related to #56

[2020-01-18 01:01] msfschaffner commented on #901
Indeed, let me carry this one over.

[2020-01-18 01:03] #901 closed

[2020-01-18 01:15] tjaychen commented on #1285
Could you show the uart output when you change the base..? I don't remember
anything that restricts it, but I would have to look around.

On Fri, Jan 17, 2020, 16:51 Avani8 <notifications@github.com> wrote:

[2020-01-18 01:35] Avani8 commented on #1285
it's as attached screen capture
![Screenshot from 2020-01-17 19-50-11](https://user-images.githubusercontent.com/12041484/72656114-357caf80-3967-11ea-9534-351dc0c6d6c3.png)

[2020-01-18 01:36] Avani8 commented on #1285
This means I can change the ROM size but not the starting address

[2020-01-18 01:51] tjaychen commented on #1285
Okay one thing I completely forgot. When you change the ROM size you
probably need to alter the rom_link.ld file under the boot ROM directory.

That makes an assumption regarding the size of the ROM and places the chip
info stuff at a specific place (probably not necessary, but I'd want to
check with mcy for that).

Change that to match your actual size. So for your case, don't change the
base for

[2020-01-18 02:11] msfschaffner commented on #295
Just adding a note that we should remember to implement the top level reorganization as discussed in December at some point.

This issue is related: #892

[2020-01-18 02:11] msfschaffner commented on #892
This issue is related to the top-level reorg.

[2020-01-18 02:13] tjaychen commented on #295
Hey Michael,
I think either you or I drew up a diagram of what this should look like, we
should probably attack to the bug as a reference.

On Fri, Jan 17, 2020, 18:11 Michael Schaffner <notifications@github.com>
wrote:

[2020-01-18 03:23] Avani8 commented on #1285
ok trying now

[2020-01-18 03:27] msfschaffner commented on #295
I think that was this one:
![Top-level Reorg (3)](https://user-images.githubusercontent.com/41358501/72657927-65c05000-395f-11ea-84a5-50a7564d4664.png)

[2020-01-18 04:31] Avani8 commented on #1285
ahh...finally...got it fixed with changing in .hjson and .ld places the size...thanks a lot @tjaychen for all help and troubleshooting. I will put your name in credits for the paper. will reach out to you with the draft. thanks again.

[2020-01-20 08:53] silvestrst commented on #1355
That's great, thank you @msfschaffner

[2020-01-21 13:40] rasmus-madsen opened #1377 "Need for a Precompile makefile"
I think we need a more flexible build system for the IP parts that has custom setup needs
like the AES module. at least until FuseSoc reaches a state where such things can be added there.
the AES dv need to pass a customized input to the compiler to get it to recognize the c-files.
this input is dependent on the compiler.

Currently we are setting up the choice of compiler inside the
`hw/dv/tools/

[2020-01-21 13:41] rasmus-madsen commented on #1377
hmm the codeblocks dissappeard. I hope you can read it.

[2020-01-21 14:04] vogelpi commented on #1377
I think having a `pre_comp.mk` as suggested by @rasmus-madsen is a good idea. It would ease the use of our DV infrastructure for designers, e.g., for debugging.

[2020-01-21 16:57] lenary commented on #1083
This was closed by #1118.

[2020-01-21 16:57] #1083 closed

[2020-01-21 16:59] lenary commented on #1224
This was mentioned in the software meeting on 21 Jan 2020. We are all happy to proceed with googletest/googlemock.

[2020-01-21 17:57] msfschaffner commented on #1355
Quick update:

This is a tooling issue (a signal gets optimized in the wrong way), and a Xilinx internal issue has been filed to get it fixed. In the meanwhile, follow the guidance provided here:
https://forums.xilinx.com/t5/Synthesis/Simulation-Synthesis-Mismatch-with-Vivado-2018-3/m-p/1066319/highlight/true#M33859

[2020-01-21 21:38] weicaiyang commented on #1377
@rasmus-madsen
We're migrating to another sim/regression script. Perhaps we should find a way to set simulator dependent option for the new script. For current makefile flow, maybe just use a simple workaround since it's about to be deprecated.
@sriyerg any thought?

[2020-01-21 23:58] sriyerg commented on #953
I think we can move forward with the fixes made and close this issue. Thoughts?

[2020-01-22 01:26] sriyerg commented on #1315
Apologies for the delayed response; unfortunately this cannot be fixed [within ](https://github.com/olofk/edalize/pull/71#issuecomment-576942907) fusesoc. We invoke fusesoc only to generate the filelist - our DV flow invokes the VCS/Xcelium for compilation / simulation runs. It has a good support for adding compile time / run time options.

Makefile is in the process of deprecation. I just made PR

[2020-01-22 01:32] sriyerg commented on #1377
This is one of the many quirks of using Makefiles - even though the default for SIMULATOR is set to vcs in `hw/dv/tools/Makefile`, constructs like these don't work. There is a file order dependency when including sub-makefiles. I think adding the simulator-dependent build option at the end of `aes/dv/Makefile` (after the line that includes the common Makefile) would probably work.

This ambiguity

[2020-01-22 08:50] rasmus-madsen commented on #1377
@sriyerg not sure this is a quirk ?
it makes sense that the parameter has to be set before you can check it.
your suggestion will probably not work since the rules.mk is called inside tools/Makefile which would out our option after the rules.
for a make based flow I think it makes very good sense to have a pre compile file that setup environment related things before anything else happens.
anyway

[2020-01-22 11:53] vogelpi commented on #953
Yes @sriyerg, let's close this.

To summarize: We are using Philipp's upstream fix to make edalize also pass files declared as `cSource` in the .core file to VCS. The include path (as well as some linker flags) for GCC we set in our manually created Makefile.

Theoretically, the include path for GCC (as well as some linker flags) could be passed through fusesoc/edalize using `vcs_options` in the .

[2020-01-22 11:53] #953 closed

[2020-01-22 13:27] lenary opened #1386 "[Tracking][DIF] UART"
This issue is intended to track the development of the UART Device Interface Functions (DIF) library.

- [x] DIF library landed  (#1111)
- [x] In-tree "driver" uses DIF library (#1111)
- [x] Unit tests (#1477)
- [x] DV extensions (no longer relevant)

The UART DIF library is being implemented by @silvestrst

The UART DIF library was landed in #1111 (which included changes to the in-tree uart "driv

[2020-01-22 13:30] lenary opened #1387 "[Tracking][DIF] PLIC"
This issue is intended to track the development of the PLIC Device Interface Functions (DIF) library.

- [x] DIF library landed (#1282)
- [x] In-tree "driver" uses DIF library (no in-tree driver)
- [x] Unit tests (#1641)
- [x] DV extensions (no longer relevant)

The PLIC DIF library is being implemented by @silvestrst

[2020-01-22 13:35] lenary opened #1388 "[Tracking][DIF] SPI"
This issue is intended to track the development of the SPI Device Interface Functions (DIF) library.

- [ ] DIF library landed (#1135)
- [ ] In-tree "driver" uses DIF library (#1135)
- [ ] Unit tests (no PR yet)
- [ ] DV extensions (no PR yet)

The SPI DIF library is being implemented by @mcy

[2020-01-22 13:36] lenary opened #1389 "[Tracking][DIF] GPIO"
This issue is intended to track the development of the GPIO Device Interface Functions (DIF) library.

- [x] DIF library landed (#1254)
- [x] ~~In-tree "driver" uses DIF library~~ All in-tree code uses DIF library (#1254)
- [x] Unit tests (#1966)
- [ ] DV extensions (no PR yet)

The GPIO DIF library is being implemented by @alphan

[2020-01-22 13:41] lenary opened #1390 "[Tracking][DIF] HMAC"
This issue is intended to track the development of the HMAC Device Interface Functions (DIF) library.

- [ ] DIF library landed (#1320)
- [ ] In-tree "driver" uses DIF library (potentially in #1320)
- [ ] Unit tests (no PR yet)
- [ ] DV extensions (no PR yet)

The HMAC DIF library is being implemented by @jon-flatley

[2020-01-22 13:52] vogelpi commented on #1150
This issue is solved now. The filetype stuff also required an upstream modification in edalize (see #953 for more info). I am closing it now.

[2020-01-22 13:52] #1150 closed

[2020-01-22 14:13] vogelpi opened #1391 "Use clock input ports directly in top_earlgrey.sv"
Currently, the clock input ports in `top_earlgrey.sv` are not forwarded directly to the various modules. Instead, a separate clock assignment block is inserted to connect the clock inputs to the clocks used by the topgen tool.

This could be avoided by modifying the topgen tool to expose the internal clocks as input ports.

[2020-01-22 14:15] vogelpi commented on #1391
Pinging @tjaychen who had in mind to do this.

[2020-01-22 15:08] Avani8 opened #1392 "Question"
do you have specific reason for dividing the flash image into 1KB chunk (in bootstrap) and measuring hash rather measuring hash of single file?

[2020-01-22 19:56] sriyerg commented on #1377
I just tried it and it worked for me, which is why it is a little quirky. This means the value of $(SIMULATOR) is undefined when it encounters the conditional statement (because it happens during the initial parsing step); whereas it is 'vcs' when it executes the target recipes. Using conditionals to set other variables requires an order to be followed, but target and recipes can be placed anywher

[2020-01-22 20:02] rasmus-madsen commented on #1377
I tihnk we can avoid some confusion by changing the code to this

[code]

[2020-01-22 21:03] sriyerg commented on #1377
Sure, this works too.

[2020-01-23 04:20] tjaychen commented on #1391
thanks for the issue @vogelpi

[2020-01-23 04:21] tjaychen commented on #1392
ah i cannot remember.  There's probably no reason this could not be increased, we just need to make the appropriate changes in both the ROM and spiflash tool.

I've cc'd the people who will know this best.

@gkelly
@mcy

[2020-01-23 09:16] GregAC commented on #1392
The spiflash tool can resend corrupt frames, so by breaking it into chunks you just have to resend a chunk rather than the whole image if it's corrupt. Plus if you do have a slightly dodgy SPI line that corrupts the occasional bit you may never manage to send a full uncorrupted image across it but can manage 1kb chunks (with some of the failing and getting resent)

You see the code that handles th

[2020-01-23 10:14] silvestrst opened #1402 "[TEST, IRQ] Test to ensure Earl Grey IRQ integrity"
It is useful to have a simple test that is ran by CI that checks the integrity of the IRQ flow in Earl Grey. The purpose of this test is not to validate entire PLIC or the peripherals, but to ensure that two different IRQs can interrupt the FPGA and be processed. For the purpose of this test, the UART peripheral will be used, and the target interrupted will be Ibex (the only target in present Earl

[2020-01-23 10:21] silvestrst commented on #1402
@lenary @msfschaffner @alistair23 @GregAC @tjaychen @eunchan

Added the people that were directly affected by the mentioned issue. Please feel free to add other people.

[2020-01-23 12:36] vogelpi opened #1403 "[usbdev] Tracking work items"
The goal of this issue is to track work items related to integrating the USB device into the Earlgrey top level.

- [x] Check usbdev documentation for comportability
- [ ] Adjust top-level documentation (block diagrams, address map, etc.)
- [x] Getting the usbdev lint clean: #1093
- [x] Fix warnings in usbdev thrown at runtime: #1351
- [ ] Switch from using dedicated IOs to multiplexed IOs for USB

[2020-01-23 13:05] imphil opened #1404 "Check timer behavior for Tock"
@pfmooney commented in the PR to get Tock support for OpenTitan merged:

https://github.com/tock/tock/pull/1460#issuecomment-575834609

@pfmooney We don't intend to implement non-standard behavior here. Can you let us know what behavior is non-standard?

[2020-01-23 13:05] imphil commented on #1404
CC @lenary

[2020-01-23 16:18] pfmooney commented on #1404
From the spec (2019-06-08):

As it stands, the `rv_timer` peripheral is using the `prim_intr_hw` module and associated register interfacing, requiring a `1` be written to that position in `INTR_STATE0` to clear the interrupt.  I haven't directly tested it, but I don't believe a write to `mtimecmp` will accomplish the same once the interrupt has latched. (The existing opentitan code seems to [sugge

[2020-01-23 16:22] imphil commented on #1404
Good point, that's something we should fix if possible.

@eunchan is this something you can have a look at? If you're busy let us know, and we'll have a look.

[2020-01-23 17:14] Avani8 commented on #1392
Thanks, @tjaychen and @GregAC  for the explanation... this helps a lot.  actually decrement on line 99 should be there as in bootstrap.c when hashes mismatches it retries the corrupt frame check.

[2020-01-23 17:25] tjaychen commented on #1392
so one thing i should mention about the spiflash timing... because we are
using SPI directly instead of having external signals to do flow control,
when the host sends a frame, it is simultaneously receiving an ack.
So i think the way it works (as you suggest) is that the host sends a
frame, and proceeds to send the next frame while waiting for the previous
ack. If that ack fails, then it drops ba

[2020-01-23 18:26] tjaychen commented on #1402
do you think it makes sense in the same test to test not only the PLIC, but also other interrupt sources that connect directly to the hart but not through the PLIC? (such as timer).

[2020-01-23 18:31] lenary commented on #1402
The intention is that this should be a small smoke test that quickly tells you if interrupts are working, and is short enough that grabbing a trace of the hardware (either from FPGA or verilator) during the test is also doable. This suggests keeping it to two interrupts should be enough to tell us "something is wrong", but not "everything is right", and I would suggest comprehensive testing of the

[2020-01-23 18:45] lenary commented on #1076
@silvestrst I propose closing this issue, now that the UART DIF has landed, and using #1386 to track further work on the UART DIF (which is no longer a prototype!)

[2020-01-23 23:28] eunchan commented on #1404
Thanks for the issue. I think we can change rv_timer interrupt behavior to meet the spec (writing to mtimecmp to clear the interrupts).