[2022-03-15 20:00] weicaiyang commented on #11450
yeah, we could extract this from hjson file and put this info in RAL model.

[2022-03-15 20:57] drewmacrae commented on #9652
There's a way I want to fix this and we can still work around it so I'd prefer to just decrease its priority and keep it until I see the fix upstream or get a chance to walk through the rules and figure out where we're dropping the tag.

[2022-03-15 21:12] tjaychen opened #11452 "[pwrmgr] Missing items from d2s / v2s"
- [x] This particular feature is missing from the current `pwrmgr` test plan. #11773
       https://docs.opentitan.org/hw/ip/pwrmgr/doc/index.html#rom-integrity-checks
- [x] Check that pwrmgr clock turn off is correctly emulated at block level #11812
- [x] Improve documentation on escalation timeout #11455
- [x] improve documentation on fsm sparse errors #11455
- [x] Add the global_esc countermeas

[2022-03-15 22:06] matutem commented on #11264
Sorry, I got too busy and lost track of this issue.

Jacob, which PRs are open to deal with this? I know there was #11275, but it was closed. You seem to suggest there was another PR created, or that a new one should be created as described in your last comment? If so, for DV we just need boolean behavior, meaning creating a plusargs flag that calibrates the clock right away, essentially as if BEA

[2022-03-15 22:16] matutem commented on #11290
The actual chip has an external clock, which is used during some lc operations and also used when the clkmgr is programmed to use an extclk. I have a PR that sets it to 100 or 48 MHz, which make sense for the ASIC. I don't know if the FPGA even supports external clocks as in the ASIC, since that is really an AST feature.

[2022-03-15 22:23] Jacob-Levy commented on #11264
I pull the file from the previous PR  since I did not agree to Sri proposed changes.

I have simplified & renamed and left one flag that I think will work for you (see description above).

If this will work for you, I can do a quick PR of the usb_obs.sv.

[2022-03-15 22:28] matutem commented on #11290
By the way, clk_freq_mhz is used in hw/top_earlgrey/dv/env/seq_lib/chip_sw_uart_rand_baudrate_vseq.sv to emulate the extclk functionality. It would be cleaner to just program the chip to use an external clock: see https://github.com/lowRISC/opentitan/pull/11327 for an example of using external clocks.

[2022-03-15 23:39] sriyerg commented on #11264
This is too trivial a thing to be arguing so much over about. Your latest code with a single plusarg looks good to me.

[2022-03-15 23:43] Jacob-Levy commented on #11264
Will PR it, Thanks!

[2022-03-15 23:48] matutem opened #11457 "[rtl/rstmgr] Add regwen to sw_rst_ctrl_n"
The generated CSR docs for rstmgr have no "Register enable" attribute for SW_RST_CTRL_N. This should be SW_RST_REGWEN instead. The lack of this attribute means the generated CSR tests cannot predict when a write won't succeed, which causes lots of failures.

But the failures were not showing up because we were excluding sw_rst_ctrl_n from generated CSR tests, until
https://github.com/lowRISC/opent

[2022-03-16 00:17] weicaiyang commented on #11457
@matutem as discussed, this may due to a RAL gen issue. This line isn't generated in the rstmgr_ral_pkg. LMK if you want me to look into this.

https://github.com/lowRISC/opentitan/blob/2f33ce93cade409b32739570882199cc1d850e16/util/reggen/uvm_reg_base.sv.tpl#L629

[2022-03-16 00:18] tjaychen commented on #11457
yeah this is expected.
`SW_RST_CTRL_N` is implemented as external registers, so it doesn't really apply with REGWEN.

As it is right now, this cannot be done with standardized testing.

I THINK the reason why this was implemented as external, was because back in the day our tooling did not support a separate regwen bit for each member of a multireg.  If i can confirm this is the case, I can conver

[2022-03-16 00:27] weicaiyang commented on #11457
Now I understand. In hjson, `SW_RST_CTRL_N` is associated with the regwen CSR (SW_RST_REGWEN).

[2022-03-16 00:31] msfschaffner commented on #892
Indeed, all TAPs use JTAG now, and the JTAG selection mux has been moved into the `pinmux` hierarchy. This has been done primarily so that debug access to different TAPs can be controlled based on the current the life cycle state.

Also, the DMI is a RISC-V-debug-module-specific protocol which cannot be used for all TAPs in the design. Aligning on JTAG makes things more uniform, which in turn make

[2022-03-16 00:31] #892 closed

[2022-03-16 02:37] #11140 closed

[2022-03-16 06:29] Jacob-Levy commented on #11264
File added to PR [ast] Fix CDC and DFT issues #11439

[2022-03-16 08:07] visbaz commented on #11000
This issue is closed as the clarification from designer is that registers will not be effected by sw_rst.
Test has been modified to check only TX RX fifo empty and not register default values.
@martin-lueker thanks for your clarification and kindly update the information in SPI_HOST specification

[2022-03-16 08:07] #11000 closed

[2022-03-16 13:55] GregAC commented on #11336
The PR has been merged in Ibex and is vendored in here: https://github.com/lowRISC/opentitan/pull/11464

[2022-03-16 13:55] GregAC commented on #9528
The PR has been merged in Ibex and is vendored in here: https://github.com/lowRISC/opentitan/pull/11464

[2022-03-16 16:12] patel-madhuri commented on #11018
In our current tests we have always checked flash_wp_l_o for either 0 or 1

[2022-03-16 19:20] weicaiyang commented on #11018
that's nice. just want to confirm, in the test we check flash_wp_l_o, do we toggle flash_wp_l_i? This is because we need to know if input affects output or not.

[2022-03-16 19:26] matutem commented on #11419
There is some overlap with https://github.com/lowRISC/opentitan/issues/11457.

[2022-03-16 23:14] msfschaffner opened #11474 "RFC: OpenTitan D3 Milestone - Sign-off Process"
[The RFC document](https://docs.google.com/document/d/1kGrIDcaHsCCwNhzUnfTfYdgrjfjpVZGxoqRWSuUyvJk/edit#) is under preparation and hence not ready for TC review just yet

Once approved, there will likely be some checklist and public doc updates.

[2022-03-17 05:09] sriyerg opened #11480 "[rv_dm] Record error response on the SBA TL interface within the SBCS register"
This was brought up during the RV_DM testplan review.

Currently, if the debugger-initiated access into the full chip over the SBA interface results in an error response, the error is silently dropped and the debugger has no way of knowing that that has happened. What the engineer intended to do using the debugger would actually not happen, and they wouldn't know about it.

The SBCS register speci

[2022-03-17 05:10] sriyerg commented on #11480
@tjaychen, @msfschaffner, @rswarbrick, FYI.

[2022-03-17 05:13] sriyerg opened #11481 "[dvsim] Testplan documentation is not rendered properly"
The testplan expanded in the rendered doc is not handling special characters such as `<` and `>` correctly. This was pointed out during the rv_dm testplan review.

[2022-03-17 05:43] sriyerg commented on #11480
This seems to be filed already in the pulp repo: https://github.com/pulp-platform/riscv-dbg/issues/86

[2022-03-17 08:18] matutem commented on #11389
I see, test is chip_sw_keymgr_key_derivation_test. It triggers a deep sleep, and when it wakes up the assertion mistakenly fires because it doesn't realize the rst_main_ni input is is really set due to main_pd_n, not because of a power glitch. The pwrmgr_rstmgr SVA needs some work... looking into it.

[2022-03-17 08:25] matutem commented on #11038
Missing item is double check if pwrmgr issues multiple wakeups at the same time for one low-power exit: issue https://github.com/lowRISC/opentitan/issues/11161.

[2022-03-17 08:25] #11038 closed

[2022-03-17 08:32] matutem commented on #11141
The UNR exclusions became unnecessary because of the specialization of the rstmgr_leaf_chk module for non-sw_rst cases. The removal of exclusions for chip level triggered a bug in sw_rst_regwen/sw_rst_ctrl_n, tracked separately in https://github.com/lowRISC/opentitan/issues/11457.

Closing this as we just need to track https://github.com/lowRISC/opentitan/issues/11457.

[2022-03-17 08:32] #11141 closed

[2022-03-17 08:36] matutem commented on #11419
This is tracked in #11457, so closing it.

[2022-03-17 08:36] #11419 closed

[2022-03-17 08:37] matutem commented on #10694
This urn exclusion file became unnecessary, so closing this.

[2022-03-17 08:37] #10694 closed

[2022-03-17 08:44] matutem commented on #10573
We currently bind pwrmgr_rstmgr_sva_if to pwrmgr in full chip, so it cannot see the ndm_sys_req signal. The better way to do this is binding this sva to top_earlgrey, with most ports bound via u_pwrmgr_aon to the port currently bound, and ndm_sys_req bound via u_rstmgr_aon. This will require the creation of a top_earlgrey_bind.sv under hw/top_earlgrey/dv/sva for binding.

[2022-03-17 08:52] matutem commented on #10554
There is a top_level chip_sw_clkmgr_jitter_test that enables jitter. We currently check that the jitter_enable CSR causes the jitter_en_o output to track, and we also check that that output is connected to the AST clk_src_sys_jen_i input.

To confirm the AST actually jitters the clock we could check that the clock count measurement show a drop in the counts, since jitter should result in an averag

[2022-03-17 08:56] matutem commented on #10039
An update: the global clock and alert_handler cg_en connectivity was instrumented in formal a few weeks ago in https://github.com/lowRISC/opentitan/pull/10965. The reset and alert_handler enable connectivity is yet to be done.

[2022-03-17 09:16] sha-ron commented on #10554
Thanks Matute. The issue doesn't refer to the AST, I meant that we need to check the functionality of things that use the jittery system clock with such clock in the simulation.

[2022-03-17 09:19] GregAC commented on #11336
Vendoring PR is merged

[2022-03-17 09:19] GregAC commented on #9528
Vendoring PR is merged

[2022-03-17 09:19] #9528 closed

[2022-03-17 12:47] nikola-miladinovic commented on #11309
@tjaychen : Documentation says "Instead, whether bank erase is allowed is controlled by [MP_BANK_CFG_SHADOWED](https://docs.opentitan.org/hw/ip/flash_ctrl/doc/#Reg_mp_bank_cfg_shadowed), where there is a separate configuration bit per bank. When the corresponding bit is set, that particular bank is permitted to have bank level operations."

If bank erase is not allowed (i.e. bank 0 is selected and

[2022-03-17 13:08] domrizz0 commented on #8277
I was under the impression regtool addressed this issue?

[2022-03-17 13:57] drewmacrae commented on #11441
I can't reproduce this (presumably because I have a newer version of fuseoc) so I'll assign it back to you @mcy

[2022-03-17 15:42] ctopal opened #11488 "[otbn] `done_o` is not set after SEC_WIPE operations."
When we recieve a write to CMD register to trigger either a DMEM wipe or IMEM wipe, the assumption is to have `done` interrupt high after the operation is complete. However, the behaviour does not match the specification.

Bug first seen in #11484.

To recreate it there are two ways,

1. Write `SEC_WIPE_DMEM` or `SEC_WIPE_IMEM` command to `CMD` register in system level tests.

2. In order to see i

[2022-03-17 15:57] senelson7 opened #11489 "[EDN] V2 Review Items"
- [ ] Steve: fix formatting/link errors in the dv doc

[2022-03-17 16:53] kosta-kojdic opened #11491 "[spi_device] Flash Mode and CMD_INFO"
We have read status command in flash mode without any cmd_info configured. On passthrough_o output we have data and csb assertion, it propagates data downstream. Is it expected behavior? If not, can you summarize expected flow and behavior for flash commands? To reproduce from this PR #11220  :
./util/dvsim/dvsim.py hw/ip/spi_device/dv/spi_device_sim_cfg.hjson -i spi_device_read_status --fixed-see

[2022-03-17 17:18] eunchan opened #11492 "[CDC] AST_BYPASS_CLK tracking"
PR #10706 removes the clock bypass inside AST design. It somehow confuses the CDC tool so that CDC run-time has been increased significantly from 20min to 6~7hours.

Temporary workaround will be adding the definition back only for CDC. But should keep tracking if it is resolved prior to the release.

Should be fixed by #16245

[2022-03-17 17:32] tjaychen commented on #11309
o oops, i should enhance the assertion a bit.
This IS intended behavior in the sense that erase should fail, however this makes it impossible for you to test the negative behavior.   So I need to tweak the assertion slightly.

[2022-03-17 17:34] tjaychen commented on #11309
once i fix the assertion, please make sure to test both negative and positive cases.
ie, if bank0 is allowed, but bank1 is not, erasing bank0 should work, but erasing bank1 should not.
And vice versa.

[2022-03-17 17:39] nikola-miladinovic commented on #11309
Ofcourse. Both aspects,negative and positive, are already there and negative testing found this problem.

[2022-03-17 17:42] eunchan commented on #11491
that is expected if `passthrough_o.passthrough_en` is 0. Intention is to reduce the timing as much as possible and SPI_HOST to put muxes.

[2022-03-17 17:42] #11491 closed

[2022-03-17 17:48] matutem commented on #10573
I need to check if my fix works. Which tests are failing with this?

[2022-03-17 18:00] moidx commented on #10523
Added the mask ROM security review to the task plan.

[2022-03-17 18:07] weicaiyang commented on #11389
It can be reproduced by this PR. https://github.com/lowRISC/opentitan/pull/11493

[2022-03-17 18:38] #10523 closed

[2022-03-17 19:19] msfschaffner commented on #11492
Great, thanks @arnonsha!

[2022-03-17 20:22] drewmacrae commented on #11441
@mcy reported updating the python-requirements resolved this.

[2022-03-17 20:39] drewmacrae opened #11497 "[bazel] Add rules for sw/device/silicon_owner/bare_metal"

[2022-03-17 20:41] drewmacrae opened #11498 "[bazel] Add rules for sw/device/silicon_creator/rom_ext"

[2022-03-17 20:41] drewmacrae opened #11499 "[bazel] Add rules for sw/device/benchmarks"

[2022-03-17 20:43] drewmacrae opened #11500 "[bazel] Add rules for sw/device/riscv_compliance_support"

[2022-03-17 20:43] drewmacrae commented on #11500
We don't know what of this is currently working/tested which leaves the definition of done vague.

[2022-03-17 20:44] drewmacrae opened #11501 "[bazel] Add rules for sw/device/examples/hello_usbdev"

[2022-03-17 20:45] drewmacrae commented on #11501
Currently this depends on many drivers from before we had the difs so we should port this to get it working and then probably enforce some CI to keep it working.

[2022-03-17 20:53] Jacob-Levy opened #11504 "otp_ctrl_reg_pkg.sv parameter CreatorSwCfgAstInitEnOffset need to be set after the AST section"
The current parameter value overlaps with the last address of the AST configuration section.
@sriyerg

[2022-03-17 21:00] a-will commented on #11501
We may want to rebase the usbdev library on top of the DIFs, but that library can still exist and provide the verbs we might expect in a synchronous USB API.

[2022-03-17 21:04] drewmacrae opened #11506 "[bazel] Add rules for sw/otbn/crypto"

[2022-03-17 21:05] drewmacrae opened #11507 "[bazel] Add rules for sw/otbn/code-snippets"

[2022-03-17 21:06] drewmacrae opened #11508 "[bazel] Add rules for sw/device/tests"

[2022-03-17 21:07] drewmacrae opened #11509 "[bazel] add support for sw/device/sca"

[2022-03-17 21:08] drewmacrae opened #11510 "[bazel] test mask rom with bazel in CI"

[2022-03-17 21:20] sriyerg commented on #11504
I have tested a fix for this - PR coming soon.

[2022-03-17 21:26] tjaychen commented on #11504
@sriyerg is the fix on dv side or design side?
Jacob might need your help to clarify.

On the design side, the ast configuration space in otp is defined to be 128 bytes (32 words)
https://github.com/lowRISC/opentitan/blob/master/hw/ip/otp_ctrl/data/otp_ctrl_mmap.hjson#L117

On the open source ast side, there are 31 REGA registers + 1 REGAL register.

Both are 32, so this looks right on the design

[2022-03-17 21:57] Jacob-Levy commented on #11504
I think the issue we saw on the simulation was a DV issue and not a design.
I will close this issue after @sriyerg release the new PR and we retest next week.

[2022-03-17 22:11] sriyerg commented on #11504
Fixed in #11512 - PTAL.

[2022-03-17 22:13] #2104 closed

[2022-03-17 23:03] a-will opened #11517 "[spi_device] ReadSFDP needs to wait 8 dummy cycles before outputting data"
spi_device currently has no gap between the address and data portions for the ReadSFDP command. The spec says there should be 8 dummy cycles between those two phases.

@alphan pointed this out. CC @eunchan

[2022-03-17 23:14] eunchan commented on #11517
If I understand the design correctly, just set dummy_en and dummy count correctly for SFDP command slot. Then, the read command module will handle it.

[2022-03-17 23:20] a-will commented on #11517
Ahh, I see what is in the RTL now. Then perhaps we should change this to... "Document which cmd_info registers have hard-coded opcodes (and what those are)" :smile:

[2022-03-17 23:25] eunchan commented on #11517
Yep. That is in the doc already.

[2022-03-17 23:26] eunchan commented on #11517
https://docs.opentitan.org/hw/ip/spi_device/doc/index.html#spi-flash-and-passthrough-modes

[2022-03-17 23:30] a-will commented on #11517
Ah, thanks, sorry I missed that part! It's not clear from the register table nor the programmer's guide what is going on. But I'll close this, then.

[2022-03-18 01:30] #11504 closed

[2022-03-18 01:44] matutem opened #11520 "[dv/exclusions] Change handling of full-chip exclusions"
In clkmgr, rstmgr, and pwrmgr the CSR exclusions for full-chip are coded in the hjson file. This means by default
they are not tested in IPs. A better way to deal is to remove these exclusions and explicitly add them in the full chip
base sequence. That way we would err on the side of caution.

[2022-03-18 01:47] #11389 closed

[2022-03-18 09:59] visbaz commented on #11292
@sriyerg @martin-lueker updates on winbond  model

[2022-03-18 10:25] visbaz opened #11524 "I2C host_rw_loopback test Clarification"
{
      name: host_rw_loopback
      desc: '''
            Host and Target mode: do write data, read loopback, and compare.

            Stimulus:
              - Drive DUT/Agent to write data to the Agent/DUT then read loopback

            Checking:
              - Ensure read data is matched with write data
            '''
      milestone: V2
      tests: []
    }

Queries:
is this internal loo

[2022-03-18 10:52] visbaz opened #11526 "SPI_HOST: DUT unresponsive with RX FIFO reads at the end when active = 0"
For some of the seeds i find the below scenario.

all tx transactions are sent.
finally any rx transactions are read out.
while active = 0 and TB continue to read transactions from FIFO suddenly DUT is non responsive.
I am polling for rxqd = 0 in status and timing out.

some example seeds:
PR : https://github.com/lowRISC/opentitan/pull/11082
util/dvsim/dvsim.py hw/ip/spi_host/dv/spi_host_sim_cfg.h

[2022-03-18 11:45] patel-madhuri commented on #11018
We have updated the smoke test where we randomize the flash_wp_l_i and check flash_wp_l_o stays low to make sure input pin does not affect output pin. Here is the pull request
https://github.com/lowRISC/opentitan/pull/11527

[2022-03-18 16:26] rswarbrick opened #11533 "[otbn,dv] Wire up standardised sparse FSM tests"

[2022-03-18 16:29] rswarbrick opened #11534 "[otbn,dv] Generalise otbn_escalate test to allow invalid LC signals"

[2022-03-18 16:36] #11481 closed

[2022-03-18 16:42] rswarbrick opened #11535 "[otbn,dv] Trigger EDN "two consective equal numbers" alert"

[2022-03-18 16:45] rswarbrick opened #11536 "[otbn,dv] Trigger the "state is zero" error in URND"

[2022-03-18 16:46] rswarbrick opened #11537 "[otbn,dv] Drive the "fips" signal to the EDN connections"
Check that we get an alert if `fips` is false.

[2022-03-18 16:56] rswarbrick opened #11539 "[otbn,dv] Add coverage for internal ECC integrity checks; hit it!"
This is for all the checks in the design other than ECC on the memory itself.

[2022-03-18 16:59] rswarbrick opened #11540 "[otbn,dv] Trigger a fault to cause the IMEM/DMEM grant signal to be false"
This should cause an alert in the design.

[2022-03-18 17:01] rswarbrick opened #11541 "[otbn,dv] Generate reads of the LOAD_CHECKSUM register"
We've got functional coverage for this, but we need to make sure it happens before V2S.

[2022-03-18 17:01] #11450 closed, assigned to tjaychen, cindychip, weicaiyang, jdonjdon

[2022-03-18 17:04] rswarbrick opened #11542 "[otbn,dv] Add some assertions to check that *mem_rdata_bus signals are indeed blanked when busy"

[2022-03-18 17:05] rswarbrick opened #11543 "[otbn,dv] Wire up prim_count standardised DV for loop counter"

[2022-03-18 17:08] rswarbrick opened #11544 "[otbn,dv] Write coverage and trigger cross-checks between pre-decode and decode"
original estimate 4

[2022-03-18 17:14] drewmacrae commented on #11510
#11490 resolves issue

[2022-03-18 17:20] rswarbrick opened #11545 "[otbn,dv] Trigger integrity checks that we're adding to the call stack"
The plan of record is currently to
1. add some sort of redundancy to the read and write pointers in the call stack
2. add redundant decode to check push/pop signals

Once the RTL is written, figure out how to cause these checks to fail, add coverage for seeing them fail, and generate test sequences that cause them to fail.

[2022-03-18 17:21] rswarbrick opened #11546 "[otbn,dv] Cover and trigger URND/RND spurious ack checking"
OTBN is going to have checks that make sure we don't get acks from either EDN interface when we're not expecting them. Add coverage for these events and then write sequences to trigger them.

[2022-03-18 17:23] rswarbrick opened #11547 "[otbn,dv] Write to the CMD register to start an operation when locked"
This already has coverage but I'm opening an issue to make sure we include this in V2S (it's a test of the local/global escalation countermeasures).

[2022-03-18 17:29] drewmacrae opened #11548 "[bazel] add support for sw/host/rom_ext_image_tools/signer"

[2022-03-18 17:30] drewmacrae commented on #11548
I created an issue to track this work. I think you're both already doing/have already done some of it, I'm just trying to write up the list of things to do as github issues.

[2022-03-18 17:32] drewmacrae opened #11549 "[bazel] build with -c dbg flag"
Bazel allows for control of compilation mode as described in their documentation:

    "--compilation_mode (fastbuild|opt|dbg) (-c)

    The --compilation_mode option (often shortened to -c, especially -c opt) takes an argument of fastbuild, dbg or opt,
    and affects various C/C++ code-generation options, such as the level of optimization and the completeness of debug
    tables. Bazel uses a di

[2022-03-18 17:33] drewmacrae opened #11550 "[bazel] cw310 gets bitstream to run tests without manual intervention"

[2022-03-18 18:01] weicaiyang commented on #11018
That looks good. Thanks
Can you also randomize the `flash_wp_l_i` in test `sysrst_ctrl_flash_wr_prot_vseq`? That test also checks both cases -flash_wp_l_o = 1 and flash_wp_l_o = 0.

[2022-03-18 18:18] a-will commented on #11550
Can you elaborate a little on what this means? What sort of manual intervention were you looking to avoid?

[2022-03-18 18:21] drewmacrae commented on #11550
Currently running cw310 tests with bazel requires that you load a bitstream to the device before starting the tests. Ideally bazel would load the best available bitstream to run a test, either building it with vivado or using one downloaded from the GCP bucket or CI

[2022-03-18 19:03] patel-madhuri commented on #10138
As the bug is resolved and test is merged, I am closing this issue. Thanks!

[2022-03-18 19:03] #10138 closed

[2022-03-18 19:04] patel-madhuri commented on #10144
As the bug is resolved, I am closing this issue. Thanks!

[2022-03-18 19:04] #10144 closed

[2022-03-18 20:34] timothytrippel commented on #11548
This already builds with Bazel (I added this a while back: https://github.com/lowRISC/opentitan/blob/master/sw/host/rom_ext_image_tools/signer/BUILD). And @jon-flatley is integrating the next-gen signing tool directly into opentitantool, which also already builds with bazel, so I think we can close this issue. Is that OK if I close this?

[2022-03-18 20:36] timothytrippel commented on #11548
Specifically, this was done in #10896. I apologize, the name of that PR was not very clear it contained this build already.

[2022-03-18 21:08] #11548 closed

[2022-03-18 22:38] timothytrippel opened #11559 "[bazel] add custom rules for DV sim device specific targets"
To transition building both ROM and flash images with Bazel for DV sim, we need to:

**Addressed in #11755**:
- [x] add custom rule in `opentitan.bzl` to extract DV sim LOGs from an ELF (to mirror [this](https://github.com/lowRISC/opentitan/blob/e586c76f5a728d4a45c7fb28aa0b858cb334a07b/sw/device/tests/meson.build#L1333-L1339) meson rule)
    - [x] invoke from `opentitan_rom_binary` macro
    - [x]

[2022-03-18 22:53] drewmacrae opened #11560 "[bazel] CI should monitor build health in addition to test health"

[2022-03-18 22:54] matutem opened #11561 "[dv/full_chip,clkmgr] Fix clkmgr_external_clk_src_for_sw"
The clkmgr_external_clk_src_for_sw test needs to be split in two: one with the external clock frequency set to 96 MHz, and another with it set to 48 MHz. In the 48 MHz, you can configure hi_speed_sel to true or non-true, but in the 96 MHz, setting hi_speed_sel to true is unspecified. This can reuse most of the code in the existing test. The external frequency is controlled from the SV side, perhap

[2022-03-18 22:57] timothytrippel opened #11562 "[bazel] update DV sim to build ROMs with bazel"
To run DV simulations with a ROM image built with Bazel, some modifications must be made:

- [x] update the dvsim.py companion makefile (sim.mk) to invoke bazel instead of meson for ROM images
- [x] update the top-level DV testbench to load ROM images from the bazel build directory

[2022-03-18 22:58] timothytrippel opened #11563 "[bazel] update DV sim to build flash images with bazel"
After, #12447 is addressed, to run DV simulations with a flash image built with Bazel, some modifications must be made:

- [x] update the dvsim.py companion makefile (sim.mk) to invoke bazel instead of meson for flash images
- [x] update the top-level DV testbench to load flash images from the bazel build directory

[2022-03-18 23:16] cindychip commented on #10804
closed as PR merged

[2022-03-18 23:16] #10804 closed

[2022-03-19 04:31] weicaiyang opened #11565 "[sysrst] intr_status can be only triggered once for a pin edge change"
@msfschaffner

Found an issue when I tried to test a pin edge triggered interrupt.

The key_intr_status was triggered twice, but in the 2nd time, the intr_status kept low. Looks like the `q_sync_q` wasn't clear so that intr_status was no longer set after the 1st interrupt.
![Screen Shot 2022-03-18 at 9 25 59 PM](https://user-images.githubusercontent.com/49293026/159106689-461b4d71-dc62-4164-b4b2-2

[2022-03-19 07:20] timothytrippel opened #11567 "[dif/adc_ctrl] cleanup `dif_adc_ctrl_irq_cause_t` enum to use autogenerated macros"
Due to a [meson issue](kDifAdcCtrlIrqCauseOneshot), in #11483 I could not include the autogenerated register header in the manually implemented ADC controller DIF header in order to more cleanly define, IRQ causes, such as `kDifAdcCtrlIrqCauseOneshot`. Once we transition all of the `sw/` build to Bazel, this will no longer be an issue and can be cleaned up.

[2022-03-21 10:05] #11166 closed

[2022-03-21 16:17] NigelScales commented on #11354
@tjaychen Sorry I missed this.
This will be a reasonably big upheaval.
All the tests check filter_status.
adc_ctrl_filters_polled test only checks filter_status so will be rendered osbolete.
But if you need to remove it go ahead and I'll fix up the environment.

[2022-03-21 16:35] tjaychen opened #11571 "[ibex] Potential timing issues"
@arnonsha identified some areas that are currently impacting timing in ibex.
Basically there is a path in id_stage that goes from `lsu_store_err_i` to `lsu_req_o`.

This appears to be going through the integrity error path into the ibex.
Inside the ibex, it looks like its progressing through a write-back exception into killing the instruction directly, thus resulting in the impact on load store re

[2022-03-21 16:35] tjaychen commented on #11571
@arnonsha
@msfschaffner
@eunchan

[2022-03-21 17:00] GregAC commented on #11571
If it is specifically the new ECC part that's causing the problem we could switch that specifically to an imprecise exception. Would be nice for it to be precise but not essential and as it's a new feature shouldn't be disruptive to do.

[2022-03-21 17:11] arnonsha commented on #11571
all these paths goes through top_earlgrey/u_rv_core_ibex/u_core/u_ibex_core/load_store_unit_i/g_mem_rdata_ecc_u_prim_buf_instr_rdata

At what time did this featureentered the design ?

[2022-03-21 17:14] GregAC commented on #11571
It was added the 17th march, see here: https://github.com/lowRISC/opentitan/commit/f25122dedbb3350b3765345955c81335db912fe3

It does mean memory read data gets factored into the error, which in turn gets factored into the outgoing request. If the data lags the error and rvalid then I can see how this would have introduced a new bad path.

[2022-03-21 17:28] arnonsha commented on #11571
@tjaychen any ideas on how to proceed ?

@GregAC, until we decide I'd like to synthesize with this feature disabled. Is there a simple setting that can do this ? I'll add it as a set_case_analysis.

thanks

[2022-03-21 17:41] GregAC commented on #11571
@arnonsha within the `rv_core_ibex` hierarchy I believe the following constant values via `set_case_analysis` would remove the timing path:

[code]

[2022-03-21 18:17] tjaychen commented on #11571
@GregAC i just noticed one thing.
The error is coming through `ibex_load_store_unit`'s `store_err_o`.

But `store_err_o` really shouldn't be related to the read data integrity right?
so is the issue because we place [data_pmp_err](vendor/lowrisc_ibex/rtl/) into store error?

and this leads to the inclusion of [ecc error](https://github.com/lowRISC/opentitan/blob/master/hw/vendor/lowrisc_ibex/rtl/i

[2022-03-21 18:21] martin-lueker commented on #11292
Hi @sriyerg, do we have an clarity on the license requirements for this?

[2022-03-21 18:24] martin-lueker commented on #11292
Would it be possible to have a script that checks whether the user has installed this, and gives instructions to download it.  That would get around the release issues.

[2022-03-21 18:36] sriyerg commented on #11292
Yes we do - I am following up with legal on this.

[2022-03-21 18:37] GregAC commented on #11571
I think that happens because there's a single signal to say 'memory error' regardless of load or store. The specific load and store error are just used so we can set the cause correctly. We could refactor so it doesn't get factored into `store_err_o` but ultimately it works almost identically to `load_err_o` so I don't think you'll gain anything.

[2022-03-21 18:47] GregAC commented on #11571
Yes we will

[2022-03-21 18:59] msfschaffner commented on #11565
It looks like the interrupt pulse was generated based on the `wkup_req` register status, which means that the interrupt does not fire unless that register is cleared.
This feels awkward from a programming model perspective.
I changed this so that interrupt generation is not dependent on the state of that register in #11575.

[2022-03-21 19:14] sriyerg opened #11576 "[tlul_intg_chk] Should unselected byte lanes of `a_data` be masked before ECC computation"
The tlul cmd intg gen module masks the unused byte lanes in `a_data` when computing the integrity ECC bits. This means, if the host writes garbage onto the unselected data byte lanes, those do not affect the value of the intg bits.
https://github.com/lowRISC/opentitan/blob/834bbe5fc65fe32742b86be6fe22e81242219289/hw/ip/tlul/rtl/tlul_cmd_intg_gen.sv#L41

The tlul intg gen module also masks `a_data`

[2022-03-21 19:18] weicaiyang commented on #11565
I see. The fix makes sense. Thanks @msfschaffner

[2022-03-21 19:38] mcy commented on #11381
Something I'd like to do (separately) is have cc rules emit .ll files when building with Clang. Being able to study the pre-LLVM output is helpful.

[2022-03-21 19:43] tjaychen commented on #11336
I think this change led to the timing issues @GregAC was worried about, see #11571
The main culprit is that the data read path (from memory into ibex) now becomes part of the error timing.
Coupled with the fact that load / store errors are precise, this leads to some pretty big negative slacks.

I wonder if this was part of the reason this was handled differently to start with.  This is something

[2022-03-21 19:55] arunthomas commented on #11507
@jadephilipoom Since you're now our resident OTBN expert, I'm hoping you can take a look at this. Thanks!

[2022-03-21 19:55] arunthomas commented on #11506
@jadephilipoom Since you're now our resident OTBN expert, I'm hoping you can take a look at this. Thanks!

[2022-03-21 21:34] #11565 closed

[2022-03-22 00:27] cindychip opened #11585 "[otp_ctrl] v2s action items"
- [x]  [Sri] Add support in dvsim to pass build-time seeds
https://github.com/lowRISC/opentitan/pull/11661

- [x] [Cindy] Enable mutating the rand const pkg in nightlies as a pre-build command
https://github.com/lowRISC/opentitan/pull/11754

- [x] [Msf and Cindy] Run experiment to see if we can get around coverage collection tool not recoginzing sparse FSM as FSM coverage.

- [x] [Cindy] Will work

[2022-03-22 07:59] vogelpi commented on #11336
Sorry for being late, but yes, this is exactly why Tom moved the ECC decoding into the shadow core/after the delay flops. Our thinking was that an integrity error on the bus is anyway fatal and that the core is not able to recover from that.

[2022-03-22 08:45] vogelpi commented on #11431
Thanks @rasmus-madsen for reporting this bug. I have to investigate this and will report back once I know more.

[2022-03-22 10:12] GregAC commented on #11336
Given the ECC is currently billed as a security feature (indeed for those wanting it for reliability/safety reasons they probably want correction which we don't do) and a feedthrough from data to a request out feels a bit weird (somehow seems better if it's only via control signals) I'm happy with just making it an imprecise exception on the Ibex side without configurability. I'd like to keep the

[2022-03-22 11:30] rswarbrick commented on #11336
Sounds good to me!

[2022-03-22 12:04] visbaz commented on #11524
As per yesterdays Discussion with @igk8 test point host_rw_loopback is redundant in two contexts

1) DUT as both Host and Target - Not Implemented
2) Write to Target and Read back same data - As there are many I2c Rd/Wr transfers already ongoing this scenario is redundant too.

[2022-03-22 13:04] patel-madhuri opened #11595 "[Sysrst_ctrl] Clarification regarding keyintr feature"
Should we except interrupt if there is a edge change before the debounce and detect timer ends?
![edge_change](https://user-images.githubusercontent.com/92722737/159486648-07e60d45-ec8f-4fc1-9e89-15d6e4ae5278.PNG)

In this above waveform screenshot, the timer starts when the L2H edge is detected but before the timer ends there is edge change again(marker 1). The interrupt is still generated (Time

[2022-03-22 14:18] #11510 closed

[2022-03-22 15:14] milesdai commented on #10005
The limited solution of uploading to a cloud bucket is implemented in #11360.

[2022-03-22 15:27] TimEwins opened #11601 "[flash_ctrl] Test flash_ctrl_host_ctrl_arb Failing with certain seeds - Question"
The test flash_ctrl_host_ctrl_arb is failing with certain random seeds.  In a run of 10 tests, I have seen 1 failure.

I think I see WHY this test is failing, the question is whether it is the correct behaviour or not?

When we do a fifo read, we start the op, then wait for the status done (by polling in this test), at which point the fifo is filled and we can read the data out.

If an RMA occurs

[2022-03-22 17:02] weicaiyang commented on #11595
IIUC, from above description, the debounce logic only samples the pin when the timer expires, after detecting the event.
So the design won't see this glitch. It detects L->H, and after timer expires, sample the pin which is still high, hence, the interrupt occurs.

[2022-03-22 17:15] tjaychen commented on #11336
yeah, making it an imprecise exception on ibex side sounds good to me as well.
Would you mind officially documenting the rationale somewhere in the ibex specification? That way we can ensure that we don't look at this in 6 months and think.."hey this looks weird", and end up going through this exercise again.

[2022-03-22 17:18] alphan opened #11605 "Hardware revision register"
It looks like we don't have a register for reading the hardware version yet but we should probably have one, e.g. to populate the device id used during bootstrap and reporting purposes. [context](https://github.com/lowRISC/opentitan/pull/11573#discussion_r831558917)

lc_ctrl seems like a good place for this register.

[2022-03-22 17:20] tjaychen commented on #11605
yeah sorry, i completely forgot something like this is needed. We need to put it "somewhere".
Life cycle makes sense, as it's somewhere we can read out along with device ID.

@moidx
@msfschaffner
@cindychip

I think how this will work is that it will be defined as a top level constant that is then fed into places.
So one would be `lc_ctrl`, and we can feed it into other places as needed.

Any thou

[2022-03-22 18:33] jadephilipoom opened #11606 "[sw,otbn] Create an otbn_test rule to run standalone OTBN binaries."
See https://github.com/lowRISC/opentitan/pull/11597#discussion_r832398664

[2022-03-22 18:47] weicaiyang opened #11607 "[Tooling] Some FSM states are not categorized as FSM coverage"
We found some FSM states are not categorized as FSM coverage after doing some casting.

For example: In OTP_CTRL there is a reg `state_q` under LCI module:
https://github.com/lowRISC/opentitan/blob/master/hw/ip/otp_ctrl/rtl/otp_ctrl_lci.sv#L138
But in coverage report:
https://reports.opentitan.org/hw/ip/otp_ctrl/dv/latest/cov_report/mod98.html#inst_tag_833
We did not see any FSM coverage.

I think

[2022-03-22 19:13] cindychip commented on #11607
Filed the same issue on Xcelium:
https://support.cadence.com/COSCaseDetailPage?CaseID=5003w00001bkqcEAAQ&pageName=COSCaseDetailPage&isNewCase=false&oMenu=46602994

[2022-03-22 19:20] milesdai opened #11608 "[mask_rom/e2e_tests] Bootup tests"
The following end-to-end tests verify the bootup process of the mask ROM. Details for each test are tracked in the test plan from #10548.

- [ ] `mask_rom_e2e_bootup_no_rom_ext`
- [ ] `mask_rom_e2e_bootup_success`
- [ ] `mask_rom_e2e_bootup_bad_rom_ext_signature`
- [ ] `mask_rom_e2e_bootup_bad_manifest_usage_constraint`
- [ ] `mask_rom_e2e_bootup_rom_ext_invalidated_key`
- [ ] `mask_rom_e2e_bootup

[2022-03-22 19:30] milesdai opened #11609 "[mask_rom/e2e_tests] Bootstrap tests"
The following end-to-end tests verify the bootstrap functionality off the mask ROM. Details for each test are tracked in the test plan from #10548.
- [ ] Entering bootstrap mode
  - [ ] `mask_rom_e2e_bootstrap_success`
  - [ ] `mask_rom_e2e_bootstrap_bad_pin_config`
  - [ ] `mask_rom_e2e_bootstrap_disabled`
- [ ] Bootstrap functionality
  - [ ] `mask_rom_e2e_bootstrap_config`
  - [ ] `mask_rom_e2e

[2022-03-22 19:33] milesdai opened #11610 "[mask_rom/e2e_tests] Chip-specific startup"
The following end-to-end tests verify that chip-specific startup processes are performed correctly. Details for each test are tracked in the test plan from https://github.com/lowRISC/opentitan/pull/10548.

- [ ] `mask_rom_e2e_startup_ast_main_sram_init`
- [ ] `mask_rom_e2e_startup_retention_sram_init`
- [ ] `mask_rom_e2e_startup_retention_sram_saved`
- [ ] `mask_rom_e2e_startup_retention_sram_wipe

[2022-03-22 19:36] milesdai opened #11611 "[mask_rom/e2e_tests] Shutdown tests"
The following end-to-end tests verify the shutdown process of the mask ROM. Details for each test are tracked in the test plan from https://github.com/lowRISC/opentitan/pull/10548.

- [ ] `mask_rom_e2e_shutdown_boot_failure`
- [ ] `mask_rom_e2e_shutdown_alert_configuration`
- [ ] `mask_rom_e2e_shutdown_mask_rom_alert_shutdown`
- [ ] `mask_rom_e2e_shutdown_interrupts`

[2022-03-22 19:39] milesdai opened #11612 "[mask_rom/e2e_tests] Upgrade tests"
The following end-to-end tests verify the firmware upgrade process. Details for each test are tracked in the test plan from https://github.com/lowRISC/opentitan/pull/10548.

- [ ] `mask_rom_e2e_upgradable`
- [ ] `mask_rom_e2e_upgrade_min_sec_version`
- [ ] `mask_rom_e2e_upgrade_power_loss`

[2022-03-22 20:21] msfschaffner commented on #11605
This would be easy to add, and LC makes sense since this will allow us to read it even in locked / raw life cycle states (via the LC TAP) where the processor cannot run.

We would have to coordinate with DV, though, since this will need a minor update to the DV env.
@cindychip this should not be much work, right?

CC: @NigelScales

[2022-03-22 20:25] msfschaffner commented on #11595
Thanks for filing the but @patel-madhuri.
@weicaiyang's understanding is correct.

[2022-03-22 20:27] drewmacrae opened #11614 "[bazel] build firmware with clang"

[2022-03-22 20:41] msfschaffner opened #11616 "[JTAG] Determine correct ID codes for LC and RV_DM JTAG TAPs"
We currently have this in the top-level:
[code]
However, this is currently not connected to the RV_DM, nor to the LC TAP.

In order to make this somewhat more parametric, a suggestion would be to move these into the the toplevel hjson using the `param_decl` feature.

Also, I believe we still have to determine what the correct JTAG codes for both RV_DM and LC should be,

[2022-03-22 20:59] a-will commented on #11293
Fixed in #11514

[2022-03-22 20:59] #11293 closed

[2022-03-22 21:09] tjaychen commented on #11616
hmmm... it occurs to me, this is probably something that needs to be populated by Nuvoton specific values right? Especially the Manufacturer identity? It feels like this is something that probably needs to be input from outside of top_earlgrey, or possibly controlled via something inside AST.

[2022-03-22 21:11] cindychip opened #11619 "[dv/lc_ctrl] design changes post V2 that needs verification support"
1). hardware revision register check
 https://github.com/lowRISC/opentitan/pull/11617

[2022-03-22 21:21] a-will commented on #10053
Closing due to inactivity. Please reopen if needed.

[2022-03-22 21:21] #10053 closed

[2022-03-22 22:19] msfschaffner commented on #11616
Yeah that is right. That was the reason I wanted to pull these things out as top-level params (I believe RV_DM is already pulled out - but it is assigned a bogus value of 1).

[2022-03-22 22:21] tjaychen commented on #11616
so i'm wondering if instead of params, we should pull these all the way as AST outputs.
I think our top level params, outside of the random values, don't have a good way of separating between open and closed right?

[2022-03-22 22:40] msfschaffner commented on #11616
Yes, that is correct.
The silicon creator would have to override these values in the Hjson and rerun `make -C hw top`.

However, if I recall correctly, such an override and generate flow has already been put in place for the `RndCnst` (it's something like a script that SED's the Hjson and reruns `make -C hw top`, @arnonsha can provide more info).
So maybe changing this parameter in the Hjson could

[2022-03-22 22:42] tjaychen commented on #11616
Ah okay, so you're suggesting in the same sed script that replaces the seed to also replace the parameter value? That would work too.  I personally prefer an output from ast though :) , but both should work.

[2022-03-22 23:20] msfschaffner commented on #11616
Oh the signals would work also. I just wanted to avoid port changes in `rv_dm`, `lc_ctrl` and `ast` ;)...

[2022-03-23 07:28] arnonsha commented on #11616
I think it would be easier to have these values in a **dedicated** package file.
Any vendor can then replace it with its own package using the "-partner" flag ?

[2022-03-23 09:37] kosta-kojdic opened #11627 "[spi_device] Dual/Quad mode clarification"
@eunchan Can you please clarify what is supported in spi_device regarding dual and quad modes?

Can you list it in readable form, where we have host interface, downstream interface, flash/passthrough mode, supported commands? In the official specification there is still mention of dual/quad not being supported. In order to do proper functionality testing we would need a list of what is exactly sup

[2022-03-23 10:23] visbaz commented on #11524
Closing this clarification and test will be discarded from test plan and updated with PR

[2022-03-23 10:23] #11524 closed

[2022-03-23 11:08] rswarbrick opened #11629 "[dv] Nightly test links to old dates are broken"
All of the "previous version" links on the CHIP-level [test page](https://reports.opentitan.org/hw/top_earlgrey/dv/latest/results.html) result in 404s.

@cindychip: I think you are usually in charge of "care and feeding of the nightlies"?

[2022-03-23 11:58] NigelScales opened #11630 "[lc_ctrl/rtl] replace u_state_regs and u_cnt_regs with prim_sparse_fsm_flop"
On investigation of the implementation of the [security countermeasure verification framework](https://docs.opentitan.org/doc/ug/sec_cm_dv_framework/) it seems that the LC State and LC Count registers can be implemented using prim_sparse_fsm_flop which should enable the pre-defined security countermeasure tests for those registers.

Currently they are implemented using prim_flop:

[code]
This is d

[2022-03-23 12:54] visbaz opened #11631 "I2C: host_rx_oversample test clarification"
{
      name: host_rx_oversample
      desc: '''
            Host mode: test oversampling on received channel.

            Stimulus:
              - Use input clock to sample the target sda (sample with baud rate equal to 1)
              - Drive scl_rx using input clock

            Checking:
              - Read rx data oversampled value and ensure it is same as driven value
            '''

[2022-03-23 14:08] #11506 closed

[2022-03-23 14:12] #10249 closed

[2022-03-23 14:33] visbaz opened #11633 "I2C: hw/ip/i2c/data/i2c_testplan.hjson"
Below are my understandings on test plan.

•	Test names are i2c_testname whereas they have to be i2c_host/target_testname
•	I2c_smoke for target version of test is marked V1 which is still due as DUT was never in target mode.
•	All tests should be renamed with host or target category of tests.

please add your comments as i need to continue to work with I2C DUT in Target mode

This will need chang

[2022-03-23 15:07] #11488 closed

[2022-03-23 16:12] kosta-kojdic commented on #11627
OK, so Output commands can be dual/quad.

On which lines we will observe Dual and Quad data transfers in case of Output commands?

[2022-03-23 16:22] arnonsha commented on #11571
@GregAC , @rswarbrick
Please see @tjaychen 's  draft PR #11622
Synthesizing with the above sampling logic removed **all** timing violations, so probably IBEX does not need to change.

[2022-03-23 16:28] GregAC commented on #11571
Useful to know. I have mostly done the changes to Ibex to switch this to an imprecise exception. I'll push those as a draft PR In the Ibex repository for now so we can go with them if we want.

[2022-03-23 16:32] sriyerg commented on #11633
The entries in the testplan (`i2c_testplan.hjson`) are called "testpoints". A "testpoint" is what you intend to test. An "implemented" test is what you actually end up writing and running with `dvsim` (i.e. the entries in `i2c_sim_cfg.hjson`). The point of the testplan is to capture discrete-enough aspects of the design separately to book-keep everything that is planned to be tested.

The testplan

[2022-03-23 17:02] GregAC commented on #11571
Ibex PR for switching the ECC error to an 'internal interrupt' that won't have this timing issue is here: https://github.com/lowRISC/ibex/pull/1584 we might want to do this fix in Ibex even if we can make OpenTitan timing work without it anyway as the feedthrough is a bit awkward.

[2022-03-23 17:08] tjaychen commented on #11571
sounds good. We can include it as the next drop.

[2022-03-23 17:19] eunchan commented on #11627
I recommend you to read a few SPI Flash datasheets.

Fast Read Dual the device sends data via S[1:0] and S[3:0] for quad.

[2022-03-23 17:31] kosta-kojdic commented on #11627
OK, so any output command will have supported dual and quad responses

[2022-03-23 18:12] nikola-miladinovic commented on #11309
@tjaychen Could you please take a look on seed 1754424185 in Xcelium on https://github.com/nikola-miladinovic/opentitan/tree/flash_ctrl_mp_regions, test is flash_ctrl_mp_regions. I have 6 out of 8 test passing. I also updated SCB and test so that backdoor init set is also reflected in memory of Scoreboard. What I see is that erase is forbidden but still DUT is executing that. I do not know if this

[2022-03-23 18:56] kosta-kojdic commented on #11627
What happens in passthrough mode?

[2022-03-23 19:07] eunchan commented on #11627
Could you clarify your question? Are you asking if the HW returns data for Dual/Quad read commands from the device (IP) in passthrough mode? or the downstream device returns the data in Dual/Quad?

[2022-03-23 19:50] weicaiyang commented on #11630
@msfschaffner should we use `prim_sparse_fsm_flop` for lc_state as well?

[2022-03-23 19:55] kosta-kojdic commented on #11627
I would like to know what happens for both host and downstream interface in passthrough mode?

[2022-03-23 20:50] msfschaffner commented on #11630
This sounds like a good idea - I'll look into it shortly.

[2022-03-23 21:09] eunchan commented on #11627
I don't understand. The host system issues SPI commands. If the host wants to get the data on Dual/ Quad, they will issue Dual/ Quad commands. If the command is allowed to the downstream device, it will go through passthrough module and downstream device will return the data on dual/ quad lines. The data, if command slots are configured correctly, will be returned to the host system on the same li

[2022-03-23 21:30] rasmus-madsen opened #11650 "AES produces output to AES_NONE!"
Configuring the DUT to AES_NONE (0x20) in manual mode
then sending several blocks (16) each following by a write to trigger.start.
the AES stays IDLE as expected.
but when reconfiguring the DUT to CTR mode the DUT produces an output without adding data, key or IV
to reproduce with xcelium:
/util/dvsim/dvsim.py hw/ip/aes/dv/aes_no_masking_sim_cfg.hjson -i aes_stress -r 1 -t xcelium -s=1395975537

f

[2022-03-23 21:54] tjaychen commented on #11309
ah i can explain what happened. So as you say, the erase should not have happened. And that is indeed what happens in the waves.  The erase is issued, it immediately encounters a memory protection error, and halts.

Afterwards, the test issues a read to the same address. However the read itself also encounters a memory protection error (is this intended by the test? It looks like this particular p

[2022-03-23 22:19] msfschaffner commented on #8277
Afaik, our `regtool` can generate such headers for both C and Rust.
@timothytrippel / @drewmacrae can you maybe point @vsukhoml to the appropriate command or build rule in meson / bazel?

[2022-03-23 22:25] #11605 closed

[2022-03-23 22:26] tjaychen commented on #11601
I'm sorry I completely forgot to respond.
Yes your description is correct, and I will add to the documentation to explain that after RMA normal flash operations are locked out (although registers can still be accessed)

[2022-03-23 22:29] tjaychen commented on #11601
actually this is described in https://docs.opentitan.org/hw/ip/flash_ctrl/doc/index.html#flash-protocol-controller.
I will try to highlight it more.

[2022-03-23 22:44] timothytrippel commented on #8277
Meson build rules that invoke `reggen` are [here](https://github.com/lowRISC/opentitan/blob/c3628a53481278bc63e60f40f35e580bc291900e/meson.build#L205-L252). Note meson only builds C headers for now, and we probably won't expand this since we are transitioning to bazel soon.

Custom Bazel rule that invokes `reggen` is [here](https://github.com/lowRISC/opentitan/blob/c3628a53481278bc63e60f40f35e580b

[2022-03-23 22:54] tjaychen commented on #10926
i finally syncd' the spreadsheet! also noticed a few things were missing from the doc / hjson...(siiigh)...

[2022-03-23 22:54] #10926 closed

[2022-03-23 23:20] tjaychen commented on #10899
spreadsheet sync'd.

[2022-03-23 23:20] #10899 closed

[2022-03-24 00:07] msfschaffner commented on #10453
@sriyerg can this bug be closed?

[2022-03-24 00:10] #11630 closed

[2022-03-24 00:12] sriyerg commented on #10453
I have not verified the fix yet. Please close it if you like though.

[2022-03-24 00:13] msfschaffner commented on #11036
Address-based blanking has now been implemented in the xbar in https://github.com/lowRISC/opentitan/pull/11045.

However, we still plan to add spurious WE monitoring to the register nodes as discussed in this comment thread https://github.com/lowRISC/opentitan/pull/11045#discussion_r814145132.

[2022-03-24 01:39] eunchan opened #11660 "[spi_device] Commited Status update"
#11456 left a pending item of how STATUS registers should be returned to the host system.

The consensus is to revise the design as below:

- Keep the scheme as in #11456 for SW update of STATUS.
- Status module to latch the current STATUS when it receives the command.

for the second item, as Status is being activated at the 8th opcode (SCK posedge), it does not have enough time to latch then sen

[2022-03-24 07:58] kosta-kojdic commented on #11627
I think you summed up the full data flow here, thanks. I will close this issue now and work on dual/quad scenarios.

[2022-03-24 07:58] #11627 closed

[2022-03-24 09:29] GregAC commented on #11616
I'd note lowRISC does have a JEDEC ID, might be good for a default value?

[2022-03-24 09:45] GregAC commented on #10573
Closing as this appears resolved @davebwil @matutem please re-open or file a new issue if this is still live

[2022-03-24 09:45] #10573 closed

[2022-03-24 09:51] GregAC commented on #9514
#10574 now merged

[2022-03-24 09:51] #9514 closed

[2022-03-24 09:54] GregAC commented on #8989
Closing as the work this tracks is complete. More specific issues can be opened around bugs and any bring-up required.

[2022-03-24 09:54] #8989 closed

[2022-03-24 09:54] GregAC commented on #9512
Question answered, so closing

[2022-03-24 09:54] #9512 closed

[2022-03-24 09:55] #8371 closed

[2022-03-24 11:35] GregAC commented on #8282
@tjaychen did this go anywhere?

[2022-03-24 11:42] GregAC commented on #7676
@tjaychen Any progress here?

[2022-03-24 11:44] GregAC commented on #7633
@tjaychen is this still a live issue?

[2022-03-24 11:45] GregAC commented on #7614
@weicaiyang can this be closed?

[2022-03-24 11:45] #7246 closed

[2022-03-24 11:46] #7209 closed

[2022-03-24 11:50] #6996 closed

[2022-03-24 11:51] #6175 closed

[2022-03-24 11:52] GregAC commented on #6174
Closing in favour of this issue: https://github.com/lowRISC/opentitan/issues/9662

[2022-03-24 11:52] #6174 closed

[2022-03-24 11:53] GregAC commented on #6173
DV is underway for this, any remaining work there will be captured by tracking for V2

[2022-03-24 11:53] #6173 closed

[2022-03-24 11:53] #6171 closed

[2022-03-24 11:53] #6170 closed

[2022-03-24 11:53] #6169 closed

[2022-03-24 11:53] #6167 closed

[2022-03-24 11:55] GregAC commented on #6152
@sriyerg is this still a live issue?

[2022-03-24 11:55] #6122 closed

[2022-03-24 11:58] GregAC commented on #6103
@msfschaffner any idea what became of this?

[2022-03-24 12:00] #5690 closed

[2022-03-24 12:07] GregAC commented on #4002
@jadephilipoom @felixmiller is this issue still live?

[2022-03-24 12:08] GregAC commented on #4004
@felixmiller is this still live?

[2022-03-24 12:13] GregAC commented on #6233
DV work is being tracked for V2 via other means

[2022-03-24 12:13] #6233 closed

[2022-03-24 12:29] GregAC commented on #7424
As far as I'm aware decide on appropriate end to end testing involving the EDN and OTBN is still an open question

[2022-03-24 12:31] GregAC commented on #7454
@rswarbrick anything planned here? I'll put a future release label on for now. Please change as appropriate if you're thinking of doing this for V2/V2S/V3 milestones

[2022-03-24 12:34] GregAC commented on #9522
To avoid RTL churn as we close on D2S I propose this is dealt with in a future release

[2022-03-24 12:36] GregAC commented on #8689
To avoid RTL churn this is better dealt with in a future release, unless D2S work can be made easier by this refactoring.

[2022-03-24 12:37] GregAC commented on #8129
@rswarbrick has this been done?

[2022-03-24 12:37] GregAC commented on #8226
@rswarbrick do you feel this test is still required?

[2022-03-24 13:25] #10131 closed

[2022-03-24 13:59] patel-madhuri commented on #11018
The sysrst_ctrl_flash_wr_prot test is updated and merged where we randomize the flash_wp_l_in and check both cases flash_wp_l_o = 1 and flash_wp_l_o = 0. Here is the PR https://github.com/lowRISC/opentitan/pull/11599

[2022-03-24 14:28] NigelScales opened #11666 "[adc_ctrl/rtl] Assertion NpCntCheckClr_A does not trigger"
On reviewing the coverage data it seems assertion tb.dut.u_adc_ctrl_core.u_adc_ctrl_fsm.NpCntCheckClr_A never triggers.
The assertion is defined thus:
[code]
The predicate never matches as can be seen in the waves below.
![image](https://user-images.githubusercontent.com/78102677/159935867-d2f949f8-974d-42a7-870b-e8dd88b281ef.png)

Suggest:
[code]
Gives waves:
![image](https://user-images.githubus

[2022-03-24 16:24] rswarbrick commented on #7454
I don't think we're ever going to do anything here. Some of the snippets in question have been moved into the mask rom and are being tested properly there. The others probably don't need any testing. I think we should just close this.

[2022-03-24 16:24] #7454 closed

[2022-03-24 16:25] rswarbrick commented on #8226
I'm probably not the right person to answer this. @jadephilipoom / @felixmiller: Thoughts?

[2022-03-24 16:38] jadephilipoom commented on #4002
I wasn't aware of this issue before now.

[2022-03-24 16:39] visbaz opened #11670 "SPI_HOST: Tests fail when Cpol 0 Cpha 1 and Cpol 1 and Cpha 1"
spi_host_speed test fails for above combinations.

Flaw in ealier version of base vseq
**0416df9b9e2d1d167efb56e0a8dd11eab2a98cbd**:hw/ip/spi_host/dv/env/seq_lib/spi_host_base_vseq.sv
weighted constraint on cpol and cpha being 1 is set to 0.  functional coverage spotted the issue.

Constraint modified to have equal weights on distribution towards cpol and cpha.
Cpol 0 Cpha 1 and Cpol 1 and Cpha 1

[2022-03-24 16:40] #11457 closed

[2022-03-24 16:42] jadephilipoom commented on #8226
We have plenty of end-to-end tests for RSA-3072 now (in `sw/device/silicon_creator/lib/sigverify_functest.c` and `sw/device/tests/crypto/rsa_3072_verify_functest.c`; both files are configured to run a dynamic set of test vectors, which is set to a small sanity-check for CI but can be set to use hundreds of adversarial tests from wycheproof or randomized tests; I test both whenever I make a change)

[2022-03-24 17:06] #7336 closed

[2022-03-24 17:33] NigelScales opened #11673 "Update cip_mubi_cov_if to be usable with other values of True and False"
cip_mubi_cov_if can only be used with the default values of True and False, for four bits 'b1010 and 'b0101.
lc_ctrl instead uses 'b1001 and 'b0110.
It seems that parameters could be passed from the interface to the various classes to enable other values to be used.

[2022-03-24 17:39] tjaychen commented on #7676
not yet. We now allow top hjson to directly declare parameters for modules, but there is no support for top level parameters directly yet.

[2022-03-24 17:40] tjaychen commented on #7614
this is actually labled as future enhance, let me move it to icebox.

[2022-03-24 17:46] vogelpi commented on #11650
Hey @rasmus-madsen ,
I can't fully reproduce this on master. I see the 10 writes to the CTRL_SHADOWED register but output_valid doesn't go high. However, the test still fails and I think there is an issue in the environment here. I see the following things in the logs and waves.

1. The message with AES_NONE is ignored:
[code]
2. The failing message is message number 8:
[code]
3. After switching t

[2022-03-24 17:47] #3306 closed

[2022-03-24 17:47] vogelpi commented on #11650
Maybe this whole thing here is related to #11166 and the corresponding fix which de-asserts the start bit while the mode is set to AES_NONE.

[2022-03-24 17:48] tjaychen commented on #11666
thanks for catching Nigel. Maybe this assertion became stale after some of the previous changes.
I will have a look.

[2022-03-24 17:49] cindychip commented on #10313
Actually this issue is resolved! We updated the UNR in V2 to exclude all V2S items in this PR: https://github.com/lowRISC/opentitan/pull/10614

[2022-03-24 17:49] #10313 closed

[2022-03-24 17:51] GregAC commented on #7614
We've got a new FutureRelease type for things we intend to do for a future release. I think Icebox will be reserved for things we might not want to totally drop on the floor but are likely to continue to ignore. I think this fits better in the FutureRelease category?

[2022-03-24 17:53] tjaychen commented on #7614
yeah that makes sense. Thanks for the correction.

[2022-03-24 17:53] GregAC commented on #11616
Yeah I mean the ID we give within this repository. As for the eventual chip I don't know enough about JTAG IDCODEs to know what would be most appropriate.

[2022-03-24 17:54] tjaychen commented on #11616
sounds good, yeah the ID for this repo i think definitely makes sense to be lowrisc.
Is this something we need to run by the TC? or okay to just proceed?

[2022-03-24 17:55] tjaychen commented on #8282
it did not. Let's place this under future release.

[2022-03-24 17:56] tjaychen commented on #7633
yeah. There's no use case at the moment, but should one arise, we still need to figure out what to do.
I don't think it makes sense to have the hardware write twice (this is really a software guard), but this is something that probably needs the attention of the security wg.

[2022-03-24 17:56] NigelScales commented on #11666
Probably the timing changed. I only spotted it looking at the coverage data.

[2022-03-24 17:58] tjaychen commented on #6103
the status is still the same as the last update.
We managed to split the "chip" portion from the "tb" portion, but the re-templating needed inside chiplevel.sv.top has still not been done.

[2022-03-24 18:14] tjaychen opened #11675 "[flash_ctrl] D2S action items"
- [x] Need to double check whether the prim integrity error are wired into the alerts sent over to ast
- [x] Update to lc_tx_test_true_strict/loose #11687
- [x] widen the disable signal, and feed LC_ESCALATE input to all sparse FSMs. #11687
- [x] Expand the usage of disable into more places #11687
- [x] Document the rationale for standard fault / fault status: some of these errors are handled on t

[2022-03-24 18:15] tjaychen commented on #11675
@msfschaffner
@cdgori
@alphan
@weicaiyang
@moidx

[2022-03-24 18:28] weicaiyang commented on #11018
Thanks @patel-madhuri  for addressing this issue. Closing it now.

[2022-03-24 18:28] #11018 closed

[2022-03-24 18:55] tjaychen commented on #11616
@arnonsha do you mean something like this?
https://github.com/lowRISC/opentitan/blob/master/hw/ip/flash_ctrl/flash_ctrl_pkg.core#L17

That would certainly work too. If this is what you had in mind, let me know and I can place it in.
To Michael's point though, if you DO have a sed script that is replacing things already in `top_earlgrey.hjson`, we can take that route too.  Although I'd agree that y

[2022-03-24 19:19] arnonsha commented on #11616
Yes, This is what I had in mind. Something like this in chip_earlgrey_asic.core

      - "fileset_partner  ? (partner:systems:jtag_id_pkg)"
      - "!fileset_partner ? (lowrisc:systems:jtag_id_pkg)"

The jtag_id_pkg will only contain the JTAG_IDCODE parameter.

[2022-03-24 19:31] cdgori commented on #8689
This is the only part that gives me pause.  We need to think about what happens if they get out of sync (e.g. by fault injection).

[2022-03-24 20:22] arunthomas commented on #11550
I think @cfrantz was planning to look at this.

[2022-03-24 20:22] drewmacrae commented on #11437
https://github.com/lowRISC/opentitan/pull/11642 fixed this one

[2022-03-24 20:28] drewmacrae commented on #9784
Open Questions: When a test in Mask ROM fails how should it report the failure? (Especially if the UART isn't yet initialized)

[2022-03-24 20:45] timothytrippel opened #11678 "[opentitantool] add DV sim bootstrap flash image prep and update bootstrap implementation"
# Overview
To support adding bazel rules to prep flash images for bootstrap in DV sim, bazel rules for building the [spiflash utility](https://github.com/lowRISC/opentitan/tree/master/sw/host/spiflash) were added in #11640. The [spiflash utility] requires `libftdi1-dev` and `libusb-1.0-0` as a dependencies. Preliminarily, related bazel rules just indicated these deps using linkopts, as noted in th

[2022-03-24 20:45] timothytrippel commented on #11678
CC: @alphan @cfrantz

[2022-03-24 21:55] weicaiyang commented on #11673
not sure if I understand this correctly. I have created cip_lc_tx_cov_if. Is it what you need?
https://github.com/lowRISC/opentitan/blob/master/hw/dv/sv/cip_lib/cip_lc_tx_cov_if.sv

[2022-03-24 21:58] timothytrippel opened #11683 "[bazel] add hermetic python toolchain to workspace"
Currently, we reference python scripts as files/filegroups rather than use proper [Python bazel rules](https://github.com/bazelbuild/rules_python). Additionally, we do no register a hermetic python toolchain in workspace. In an effort to enforce hermeticity, python rules and a toolchain should be added/registered in the workspace.

[2022-03-24 22:05] timothytrippel opened #11684 "[bazel] add "dv" target to opentitan_functest"
While additional rules are slated be added to the opentitan_functest macro to support building additional artifacts required for DV simulations (#11559), these targets will not actually be built it there is no test rule that depends on them with the opentitan_functest. This can be addressed by adding a third test target to the opentitan_functest macro that invokes dvsim.py as the test runner inste

[2022-03-24 23:18] msfschaffner commented on #8290
@a-will can you take a look and update this issue accordingly?

CC @vogelpi @mdhayter

[2022-03-24 23:19] msfschaffner commented on #7102
@sriyerg is this still relevant?

[2022-03-24 23:20] msfschaffner commented on #6964
@sriyerg @cindychip is this issue still relevant?

[2022-03-24 23:28] msfschaffner commented on #6908
Closing this for now as there has been no activity in more than 6 months.
Feel free to reopen if you still have questions.

Also, please note that while we are happy to answer questions and provide suggestions for potential solutions, we do not have the bandwidth to debug external code that is not part of the opentitan or ibex repositories.

[2022-03-24 23:28] #6908 closed

[2022-03-24 23:28] #6857 closed

[2022-03-24 23:29] msfschaffner commented on #6857
I believe this question has been addressed. Feel free to reopen if that is not the case.

[2022-03-24 23:29] msfschaffner commented on #6837
This issue has been addressed in #6918.

[2022-03-24 23:29] #6837 closed

[2022-03-24 23:31] msfschaffner commented on #6812
I believe this has been resolved (feel free to reopen if that is not the case).

[2022-03-24 23:31] #6812 closed

[2022-03-24 23:32] msfschaffner commented on #6798
@tjaychen @zi-v has this been addressed in the meantime?

[2022-03-24 23:34] msfschaffner commented on #6758
Closing this due to inactivity - please feel free to reopen if the issue persists.

[2022-03-24 23:34] #6758 closed

[2022-03-24 23:35] msfschaffner commented on #6739
Closing due to inactivity - please feel free to reopen if the problem still persists when using the newest code-base.

[2022-03-24 23:35] #6739 closed

[2022-03-24 23:38] msfschaffner commented on #6332
I believe this has been resolved - feel free to reopen if that is not the case.

[2022-03-24 23:38] #6332 closed

[2022-03-24 23:39] msfschaffner commented on #6121
@sriyerg @rasmus-madsen can this issue be updated?

[2022-03-24 23:40] msfschaffner commented on #6117
@moidx can this issue be closed?

[2022-03-24 23:41] msfschaffner commented on #5907
Can this issue be updated @cindychip?

[2022-03-24 23:43] cindychip commented on #5907
Thanks Michael, updated and the remaining two are still WIP ;)

[2022-03-24 23:43] msfschaffner commented on #5393
Can this issue be updated?

[2022-03-24 23:44] weicaiyang commented on #11673
The documents didn't describe that correctly. Fixed it at #11688

[2022-03-24 23:45] tjaychen commented on #5393
this might need a rethink here..
i know @timothytrippel has some ideas, but the current mechanism we have will not scale particularly well.

[2022-03-24 23:46] msfschaffner commented on #5416
@tjaychen do you know whether this issue has been addressed by now?

[2022-03-24 23:47] msfschaffner commented on #4971
@alphan @vogelpi can you update this issue?

[2022-03-24 23:48] tjaychen commented on #5416
no it still hasn't

[2022-03-24 23:49] msfschaffner commented on #4713
@a-will can you PTAL and relabel as appropriate?

[2022-03-24 23:50] tjaychen commented on #4713
@a-will what do you think? i don't think we need to do this now, but it seems nice to allow transceivers advertise what it can do.

[2022-03-24 23:50] msfschaffner commented on #4605
@rswarbrick can you update this issue & close if this has already been addressed?

[2022-03-24 23:50] eunchan commented on #4892
Hjson should be complete to run tlgen.py The current ones in the repo should be amended by topgen. If anyone wants to run tlgen, they need to prepare a separate, complete hjson.

[2022-03-24 23:51] msfschaffner commented on #4445
@sriyerg @cindychip can you update this issue?

[2022-03-24 23:51] eunchan commented on #4892
Let me close this issue.

[2022-03-24 23:51] #4892 closed

[2022-03-24 23:51] tjaychen commented on #6798
Yeah the document was created some time ago and reviewed.
But it's not been added to any markdown yet. The best place to do it is probably `top_earlgrey.md`.
That update is...coming.

[2022-03-24 23:52] msfschaffner commented on #4427
@weicaiyang can this issue be updated / closed?

[2022-03-24 23:54] msfschaffner commented on #4387
Apologies that this question has never been answered.
This somehow fell through the cracks.

There has been a lot of development in the mean time including many many bugfixes (also in the debug module).
I hence encourage you to try with the most recent version of OpenTitan.

Please feel free to re-open this issue if the problem persists.

[2022-03-24 23:54] #4387 closed

[2022-03-24 23:54] msfschaffner commented on #4301
@sriyerg can this issue be updated / closed?

[2022-03-24 23:56] msfschaffner commented on #4244
@tjaychen @arnonsha @eunchan this is something we should audit again to make sure we use the correct isolation values.

[2022-03-25 00:03] msfschaffner commented on #4190
Apologies that this question never got answered - this somehow fell through the cracks.

By now all templated RTL files can be regenerated using the `make -C hw` command in the project repository root, including the templated `rstmgr` files.
You will see the individual commands used when looking at [this `Makefile`](https://github.com/lowRISC/opentitan/blob/master/hw/Makefile).

We are constantly

[2022-03-25 00:03] #4190 closed

[2022-03-25 00:07] msfschaffner commented on #4188
Thanks for the question, and apologies that this never got answered.

The escalation handshake logic has intentionally not been pipelined to keep the signalling latency (in terms of clock cycles) low.
There are only 4 escalation endpoints, and the frequency of the corresponding clock domain is pretty low (the peripheral clock domain runs at 24MHz).
Hence this is likely not going to create any timi

[2022-03-25 00:07] #4188 closed

[2022-03-25 00:09] msfschaffner commented on #4035
@tjaychen can this issue be updated?

[2022-03-25 00:10] tjaychen commented on #4184
hmmm... since this question is quite old. I'm not sure if it's still relevant.
If you would still like to know the answer let me know, and i can provide guidance.

[2022-03-25 00:12] msfschaffner commented on #3945
Closing this issue due to inactivity - please feel free to reopen if there are more questions.

[2022-03-25 00:12] #3945 closed

[2022-03-25 00:13] msfschaffner commented on #3838
@sriyerg can this issue be updated?

[2022-03-25 00:16] msfschaffner commented on #3611
@cindychip can you update / close this issue?

[2022-03-25 00:17] msfschaffner commented on #3637
@vogelpi can you double check whether this warning still persists?

[2022-03-25 00:24] sriyerg commented on #6121
These were the reasons for doing so:
- What @senelson7 mentioned - most people (especially those working on multiple blocks) prefer the scratch to be under the project root directory so that it can be purged in one shot.
- It aligns with other build systems which also create artifacts in a single directory at the root of the project.
- There were also other motivations that I forget now :) In gene

[2022-03-25 00:24] sriyerg commented on #7102
Yes it is, but we have a workaround, so low priority (ICEBOX maybe).

[2022-03-25 00:32] weicaiyang commented on #4427
There is no update for months.. Let's close this issue. If there is still any issue in tlul_assert, please reopen it or file a new one.

[2022-03-25 00:32] #4427 closed

[2022-03-25 00:32] sriyerg commented on #3838
This was pointed out by @rswarbrick. This has not been an issue for over a year now. Perhaps ok to close?

[2022-03-25 00:34] #4445 closed

[2022-03-25 00:34] msfschaffner commented on #3750
Thanks for reporting this (somehow this issue got lost).

The logo issue has been addressed by now, but the links still seem broken.

I will create PR shortly to fix this.

[2022-03-25 00:34] sriyerg commented on #4301
Low prio pending task.

[2022-03-25 00:43] tjaychen commented on #295
most of the work here is done. The remaining work is tracked in #6103

[2022-03-25 00:43] #295 closed

[2022-03-25 00:44] tjaychen commented on #91
@msfschaffner do you want to take this topic through TC?
I think the conditions defined in the op post of this issue is actually quite reasonable.
We probably just need to officially close on this.

[2022-03-25 00:44] msfschaffner commented on #3360
@sriyerg can this issue be updated?

[2022-03-25 00:46] msfschaffner commented on #3232
@vogelpi @cindychip can you upodate this issue?

[2022-03-25 00:47] tjaychen commented on #4184
i'll close this for now due to inactivity. But again, if there is interest, please re-open.

[2022-03-25 00:47] #4184 closed

[2022-03-25 00:48] msfschaffner commented on #3185
I am closing this issue due to inactivity - but please feel free to reopen if there are more questions related to this topic.

FYI In the meantime, our `spi_device` has gained support for quad (CC @eunchan).

[2022-03-25 00:48] #3185 closed

[2022-03-25 00:49] tjaychen commented on #5134
i think we can officially claim this issue is addressed with #11456 !
let me know if you disagree @eunchan / @a-will , i will close for now.

[2022-03-25 00:49] #5134 closed

[2022-03-25 00:49] msfschaffner commented on #3169
@sriyerg is there still something to do here or can this be closed?

[2022-03-25 00:51] tjaychen commented on #5305
Changing to task to indicate this is a P0 item that should be done prior to gold.

[2022-03-25 00:53] msfschaffner commented on #3097
CC @sriyerg @tjaychen

[2022-03-25 00:54] msfschaffner commented on #3097
Apologies that this has not been answered.

Since the system has undergone many bugfixes in the meantime, could you rerun this with the newest version and check whether the problem still persists?

[2022-03-25 01:01] msfschaffner commented on #2907
In the meantime we have transitioned to the CW310 FPGA board, and the NexysVideo board has been deprecated.

If you look at the [hardware dashboard](https://docs.opentitan.org/hw/), you will see that most of our IPs are at or beyond the D2 design stage, which basically means that IP integration into the top-level is now complete and we are focusing on bug fixes and coverage closure.

Please feel f

[2022-03-25 01:01] #2907 closed

[2022-03-25 01:01] msfschaffner commented on #2740
Can this issue be updated or closed?

[2022-03-25 01:03] msfschaffner commented on #2663
This issue has been fixed upstream by now: https://github.com/pulp-platform/riscv-dbg/pull/84

[2022-03-25 01:03] #2663 closed

[2022-03-25 01:05] msfschaffner commented on #2401
@eunchan can you maybe update this issue a bit? I believe some of this has been done by now, but now all custom wiring has been cleaned up yet.

[2022-03-25 01:07] msfschaffner commented on #2254
@GregAC can this issue be updated / closed?

[2022-03-25 01:08] msfschaffner commented on #2206
@alphan @sriyerg can this issue be updated or closed?

[2022-03-25 01:09] msfschaffner commented on #2162
@sriyerg can this issue be updated or closed?

[2022-03-25 01:14] msfschaffner commented on #1755
@sriyerg can this be closed?

[2022-03-25 01:16] msfschaffner commented on #1868
@GregAC can this issue be updated to reflect the current state?

[2022-03-25 01:16] msfschaffner commented on #1867
@GregAC can this issue be updated to reflect the current state?

[2022-03-25 01:19] sriyerg commented on #3360
Closing due to inactivity.

[2022-03-25 01:19] #3360 closed

[2022-03-25 01:29] sriyerg commented on #2206
A testutil now satisfies this requirement.
https://github.com/lowRISC/opentitan/blob/ba061ed571068884e7f9d7bc10d30cbb8dd4ebf9/sw/device/lib/testing/rv_plic_testutils.c#L13

[2022-03-25 01:29] #2206 closed

[2022-03-25 01:31] msfschaffner commented on #91
Hm... looks like this discussion is from the time when the definitions of D*/V* were still pretty much in flux.

Our D1 checklist now contains an item called [`IP_INSTANTIABLE`](https://docs.opentitan.org/doc/project/checklist/#ip_instantiable):
[code]

Given that this is a D1 item, requiring V1 as well for inclusion in the top-level is going to be difficult.
However, it may make sense to add a se

[2022-03-25 01:44] tjaychen commented on #1868
o sorry i was just refreshing my memory on the history.
I'm pretty sure we did not do PMA.  But looking back at this now, I also don't see why we should not put a mandate on software to access normal device registers with word accesses only.

ibex internally probably already treats the separate 32b transactions as 1, so a failure of any is a failure of the whole, I feel like this is already enough

[2022-03-25 01:46] tjaychen commented on #91
Actually maybe V1 isn't the right term... but I think all block levels have this basic stage that can be reached where we prove TL-UL accesses are operational.  I think really taht's the stage we want, so it's more like...V0 in a way.

WG sounds good too, I think this is just something we can and should close out.

[2022-03-25 01:51] tjaychen commented on #3025
i think this is something wroth exploring in the future.
@a-will also pointed out some concerns, especially for things like reset where it may be difficult for software to gauge something is idle.

We might need to continue this idea of registering software intent, and propagating it through hardware at the right moment.
For now, we should probably mark this as future release.

[2022-03-25 01:54] tjaychen commented on #6248
This was the [last proposal](https://docs.google.com/presentation/d/1_TjfPF2zWtUHb2IC-C2USyK7jH5u7YgnbOex_GCk7ds/edit?usp=sharing) we worked on, but more refinement is probably needed.

For example, @a-will pointed out it might make sense to have an interrupt-mask like function to determine which faults should cause escalation.

[2022-03-25 02:13] tjaychen commented on #6046
I looked back at the original request, and it was indeed requested to be roughly this large for both TX / RX directions.
The original request actually asked for a single memory of 512B that could be split for either TX / RX purposes, but I think what we have now works well too.

The TX is slightly larger i think because we need to be able to send command / address type data in addition to the payl

[2022-03-25 02:31] msfschaffner commented on #91
Sounds good - I will put it on the agenda for the next meeting.

[2022-03-25 02:40] #3750 closed

[2022-03-25 02:41] msfschaffner commented on #7102
Ack - re-labelled accordingly.

[2022-03-25 03:08] a-will commented on #4713
Given that our ASIC and FPGA implementations use exactly the same configuration (and that it's relatively trivial to map any static connection to that configuration), I'm thinking we don't need this. `tx_mode_se` is essentially inert, since both TX interfaces are always available now, and `use_diff_rcvr = 1` can apply to both.

In addition, with the current connectivity at the IP level and templat

[2022-03-25 03:20] a-will commented on #6248
Context: Some designers have expressed a desire to give software control over which faults cause escalation. We have externally-visible classes that are collections of ganged / wired-or contributions, and the alert_handler has one input of each class from each IP. Those inputs are subject to masking in the alert_handler's CSRs.

For finer-grained masking of the contributions from an individual IP

[2022-03-25 03:26] a-will commented on #6046
We should make sure not to only consider spi_host in isolation. The 512 B of memory is to allow one page of SPI flash to be autonomously read into the FIFO while the CPU is busy copying the other page over to some cryptographic accelerator in parallel (and/or processing that page).

There may be smaller sizes that could be used, but we'll want to check on the impact to performance. Interrupt servi

[2022-03-25 03:56] a-will commented on #8290
For `usbdev`, all the necessary hardware features are present, modulo a lack of verification beyond the UART example we have implemented. The HID class uses control and interrupt endpoints, with short packets delimiting the end of a transfer. This is all in scope for the module.

For implementing U2F and the HID class, software will be required to get that "personality," so to speak. I'm not aware

[2022-03-25 07:51] stefanlippuner commented on #4713
For us, I think it's nice to have the single-ended mode as a fall-back and for validation. There the `tx_mode_se_o` signal is useful to indicate, which TX mode is being used. Signaling the hardware capabilities might be nice, but does not seem to be required, as it is fixed for a hardware configuration.

[2022-03-25 08:04] timothytrippel commented on #9784
@cfrantz fixed the UART timeout issue in #11300.

However, now that we removed support for RSA with exponent 3 (#10141), the sigverify takes much longer in Verilator. So long in fact that the 1 hour time limit of an `opentitan_functest` causes a test timeout.

At one point I had it booting and running a mask ROM E2E test, but I think this was before the exponent 3 test key was removed. I need to v

[2022-03-25 09:06] vogelpi commented on #11431
Digging some more I've found the following with #11667 applied.

There is a mismatch in the first CFB block:
[code]
In particular, the last word (bytes 12 - 15) don't match.

Inspecting the waves (see below) one can see that:
1. The DUT is operated in manual operation mode.
2. The DATA_IN_3 register is written before the clear is happening (see baseline).
3. After the clearing only DATA_IN_0, DATA

[2022-03-25 09:16] NigelScales commented on #11673
Ah ok there is a different one for the LC ports.
The other option was to pass the ValueTrue and ValueFalse parameters down the hierarchy to make  cip_mubi_cov_if generic.
They are currently missing from cip_mubi_cov_if and dv_base_mubi_cov.

[2022-03-25 11:49] #11673 closed

[2022-03-25 12:27] moidx commented on #6117
@alphan was the last person to look at coverage. Should we close this? I think it will be easier to integrate coverage with Bazel.

[2022-03-25 12:27] mundaym commented on #8274
I think this issue can be closed now. Please reopen if you disagree.

[2022-03-25 12:27] #8274 closed

[2022-03-25 12:28] #6117 closed

[2022-03-25 12:41] rswarbrick commented on #6773
I've just read through the spec again and can't find anything supporting what Xilinx wrote. Maybe they're talking about an old version of the LRM. Anyway, I propose we do nothing: Vivado spits out vast reams of text which we have to ignore anyway, so the verbosity doesn't really matter.

@msfschaffner: Sound reasonable to you? If so, I suggest just closing.

[2022-03-25 12:42] rswarbrick commented on #6485
I think we'd need some more information on what is being slow here. Is it just that the simulated chip isn't simulated very fast? (If so, not much we can do!) Or are you talking about some sort of timeout? In which case, why are we hitting the timeout at all?

[2022-03-25 12:45] rswarbrick commented on #4605
This was fixed by c43c58b (from PR #5491) last March.

[2022-03-25 12:45] #4605 closed

[2022-03-25 12:49] rswarbrick commented on #4198
Hi @zeeshanrafique23. I'm really sorry that we didn't reply to this earlier. We don't officially support that FPGA, so you're slightly "on your own". Also, the top-level layout and tooling have changed a lot since November 2020. I'm going to close this issue because I don't think it's really describing the problems that you'll have if you try to do this today.

But I still doubt that porting to th

[2022-03-25 12:49] #4198 closed

[2022-03-25 12:52] rswarbrick commented on #4034
Hi @hadirkhan10. Thanks for the question. I think the problem that you were seeing here is due to the fact that OpenTitan uses level-based interrupts. So you have to tell the peripheral (GPIO in this case) to drop its interrupt request before you return from the ISR.

The fact that this has been dormant for over a year suggests that you either figured that out or gave up(!) so I'm going to close t

[2022-03-25 12:52] #4034 closed

[2022-03-25 12:55] rswarbrick commented on #6121
Following up on the "analyze" part, I have the following in my bash history:
[code]
This runs `dve` on the `.vpd` file that was most recently created. Presumably, you can do something similar with `.trn` files and Simvision.

[2022-03-25 13:00] #11217 closed

[2022-03-25 13:03] rasmus-madsen commented on #11431
Hi pirmin
Thanks for the following up debug - i will check on monday. I am still away on holiday

Get Outlook til Android<https://aka.ms/AAb9ysg>
________________________________
From: Pirmin Vogel ***@***.***>
Sent: Friday, March 25, 2022 10:07:08 AM
To: lowRISC/opentitan ***@***.***>
Cc: Rasmus Madsen ***@***.***>; Mention ***@***.***>
Subject: Re: [lowRISC/opentitan] AES starts encryption witho

[2022-03-25 14:05] vogelpi commented on #3232
I think adding a standardized shadow reg status register is out of scope at the moment. The current status is that we have standardized the way of indicating the alerts triggered by the shadow register in the hjson, but not the corresponding status register.

Loooking at some IPs using shadow registers it seems that AES and KMAC both have a status register with one bit per alert. KeyMgr has two se

[2022-03-25 14:24] drewmacrae opened #11699 "Break up the WORKSPACE file"
It makes editing, review and reading more complicated and it will keep growing as we add more things.
Content can be loaded from other .bzl files and registered as appropriate to keep things reasonable, like we do with `//third/party/cargo:crates.bzl` here https://cs.opensource.google/opentitan/opentitan/+/master:WORKSPACE;drc=aa91c773d6a787c9776d51392ad6475dfad2bb6c;l=116

[2022-03-25 14:34] davebwil opened #11700 "[sw,tests] chip_sw_flash_prim_tl_access test questions"
Hi, for this toplevel software flash_ctrl test the description is as follows:

desc:
'''Verify that the SW can read / write the dummy memory in flash phy.
            - The dummy memory is a open source placeholder for the closed source CSRs that will be
              implemented in a translation 'shim'.
            - Verify that this region can be read / written to by the SW.
            - TODO:

[2022-03-25 14:35] davebwil opened #11701 "[sw,tests] chip_sw_flash_ctrl_clock_freqs test questions"
For this toplevel software flash_ctrl test the description is as follows:

desc: '''Verify flash program and erase operations over the ctrl over a range of clock freqs.
            - The range of clock freqs to test is TBD.
            - Reuse chip_flash_ctrl_ops to also enable jitter on the clock as well as run with
              randomized clock frequencies.
            - This sets the test for

[2022-03-25 15:05] #11683 closed

[2022-03-25 15:28] #9784 closed

[2022-03-25 15:38] msfschaffner commented on #11700
We're working on a reggen tooling update for that particular part (see https://github.com/lowRISC/opentitan/pull/10982).
So this may indeed be coverable with standard tests.
I would therefore recommend to wait implementing this test.

[2022-03-25 15:54] rswarbrick commented on #2313
I've just done a bit of a cleanup of the various prim-related lint failures that cropped up last night. See:
- #11702
- #11703
- #11704
- #11705
- #11706
- #11707
- #11708

With all of these fixed, the only Verilator lint failures that mention prims are UNOPTFLAT, which may or may not have anything to do with the primitive in question.

[2022-03-25 16:02] rswarbrick commented on #3838
My take is that we'll probably tidy this up one day, but there's no real need to keep an issue open. Let's close this and fix it if we come across the code and feel motivated :-)

[2022-03-25 16:02] #3838 closed

[2022-03-25 16:13] a-will commented on #6773
@rswarbrick FYI: The warning may be a reference to the blurb in section 6.20.2 of the LRM mentioning that `parameter` becomes `localparam` if a design element's declaration includes an ANSI parameter_port_list.

[2022-03-25 16:55] prajwalaputtappa opened #11709 "[otbn, dv] Illegal mem access when otbn is busy is not resulting in fatal error"
@GregAC , @rswarbrick ,
I'm trying to make bus accesses to imem and dmem when the otbn is busy. I'm seeing that the bus accesses are being ignored, but a fatal error is not raised.
![Screenshot from 2022-03-25 16-54-59](https://user-images.githubusercontent.com/91126414/160166274-42ff49a3-c1de-413a-b5ef-c77a6df4fde3.png)

[2022-03-25 16:57] rswarbrick commented on #6773
As a first pass, I think this should probably find most occurrences:
[code]
I get 46 hits and the first few look reasonable.

[2022-03-25 17:08] weicaiyang commented on #11673
I thought about that too, but users have to always pass 3 parameters (Width, ValueTrue and ValueFalse). I ended up making 2 interfaces. so that users just need pass one parameter (Width) for cip_mubi_cov_if and no parameter for cip_lc_tx_cov_if, which may be easier.

[2022-03-25 17:27] cindychip commented on #6964
I think it is still relevant, but as an optimization of the code, it has very low priority.

[2022-03-25 17:47] martin-lueker commented on #11526
Hi Viswa: FYI, I'm running these now.  The seeds you have input though no longer seem to be failing.  This can happen if you rebase your PR, or edit it. (as of course one will).  That said, in the future can you make a separate branch for the _issue_, and point to that?   That way even if the PR gets updated, the issue-related branch will stay unchanged.

In the meantime, I see that there are many

[2022-03-25 19:57] #11117 closed

[2022-03-25 20:29] a-will opened #11718 "[spi_device] SDC updates & Enhance pass-through rates for wider reads by pipelining the return path"
Add an optional pipeline stage or two to the return path for passthrough reads, and allow read commands to choose whether to use that path or the combinatorial one. Default to the combinatorial path for the first cycle and prepare for the mux selection change. In other words, for the data path it's just...

[code]

..with `is_pipelined_read` coming from `cmd_info` tables.

For wider read opcodes (

[2022-03-25 20:52] martin-lueker commented on #11670
Hi Vishwa,

  So I see there is something wrong with CPHA=1 and so I put in a bug fix for it.  However there is also something wrong with the test bench.

For instance, if I run the seed you suggest I get the following:

[code]

The log seems to be telling me that it is failing because `13 != 13`.  Could you please look into this?

[2022-03-25 21:00] visbaz commented on #11670
@martin-lueker if you open the log you will find that later bytes are not matching ....i found this as well .

[2022-03-25 21:04] martin-lueker commented on #11670
Oh, I see.  Thanks.

[2022-03-25 21:05] cindychip commented on #10327
@sha-ron these two PRs fixed the recent failure in open source JTAG CSR RW tests:
https://github.com/lowRISC/opentitan/pull/11685
https://github.com/lowRISC/opentitan/pull/11691
I also ran the same test in close source, it passed as well. I will send you the waves in email.

[2022-03-25 22:13] eunchan opened #11721 "[clkmgr] `ref_valid` keeps high"
With PR #11676 the pulse_sync catched the input keeps high in clkmgr.

I've checked the design (`prim_clock_meas`). It may happen if `RefCnt` is 1.
If RefCnt is one, it never reaches the last `else if` state at line 72.

<img width="790" alt="image" src="https://user-images.githubusercontent.com/1192814/160209070-d34ba498-64b7-454a-9566-01b540e5a082.png">

[2022-03-25 23:25] alphan commented on #11517
Reopening this to share the output of spi_device in response to `READ_SFDP` (0x5a) (currently working on top of [63c4132d4](https://github.com/lowRISC/opentitan/commit/63c4132d4cab8cd34afc239c8111f25187816b9a), apologies for the noise if this has already been fixed):

Note: `OPCODE = 0x5a` and `VALID = true` for all cases below.

* `DUMMY_EN = false`:

![image](https://user-images.githubuserconten

[2022-03-26 00:05] eunchan commented on #11517
Thanks @alphan Read SFDP and Read Commands are not verified yet. Let me quickly create a direct test case for those paths.

[2022-03-26 00:52] alphan commented on #11517
just a small update: I captured the traces above before filling the unused area in the SFDP buffer space with `0xff`s. After doing that the first five bytes on CIPO became `0x00`, `0xff`, `0xff`, `0xff`, `0x53`.

[2022-03-26 08:02] #2313 closed

[2022-03-26 08:02] #6773 closed

[2022-03-26 18:55] martin-lueker commented on #11670
Hi Viswa,
   Thanks again for the bug report.  I think with #11717 the CPHA bug is fixed, as the seed above now moves on to another problem. However I suspect there are other problems in the testbench.

The log now says:

[code]

I do not understand this error, could you please take a look?   For reproducibility, I've created a branch with just your PR and the fix.  Please see branch `issue_11670`

[2022-03-28 06:31] arnonsha commented on #11616
By the way, Nuvoton DV would need to check the actual Nuvoton values on the original design. We can't wait till we replace all seeds with the mentioned scripts. Alternative packages seems the right approach.

[2022-03-28 09:05] TimEwins commented on #11601
Thanks ... I will make the necessary test changes

[2022-03-28 09:33] patel-madhuri commented on #11595
Thank you @weicaiyang and @msfschaffner for clarifying this question. We have updated the testcase accordingly and merged to the master. I am closing this issue now.

[2022-03-28 09:33] #11595 closed

[2022-03-28 09:34] rswarbrick commented on #10705
All tasks now done. There's still a bit of missing branch/cond coverage. I'll push up a PR to move to V2 once that's above 90% in the nightlies.

[2022-03-28 09:46] rswarbrick commented on #11541
Oh! It turns out I did this last December! (8ed874141c81005e03f7c746e420bf0bdb48f3e9)

[2022-03-28 09:46] #11541 closed

[2022-03-28 10:26] visbaz commented on #11287
closing the issue post clarifications

[2022-03-28 10:26] #11287 closed

[2022-03-28 10:27] visbaz commented on #11526
@martin-lueker closing this issue now and will raise a new one if i find the same in latest regression

[2022-03-28 10:27] #11526 closed

[2022-03-28 10:30] visbaz commented on #11633
@sriyerg thanks for the clarification and as you mentioned i shall move forward and still fix any legacy implementations if necessary.

[2022-03-28 10:30] #11633 closed

[2022-03-28 10:44] NigelScales opened #11731 "[lc_ctrl/rtl] Clarify interpretation of MUBI values other than defined On and Off."
I'm assuming that a MUBI input value other than On is interpreted by the LC_CTRL RTL as Off.

But I see the following in the RTL.
[code]
This means if lc_clk_byp_ack[2] is anything other than On or Off an OTP program error will be generated.
Is this the intended behaviour?

[2022-03-28 12:26] nikola-miladinovic commented on #11309
@tjaychen : this is intendent behaviour from test - we want to test all combinations, including overlapping memory protected regions.

[2022-03-28 12:37] rasmus-madsen commented on #6121
it is a nice to have - I think there are other things that are more important.

like UNR support for xcelium.

other than that I think I agree with all @sriyerg comments

[2022-03-28 13:28] rasmus-madsen commented on #10954
I have not received any response to this issue - so I am adding more people to it.
thinking we can bring this up on next dv meeting @weicaiyang

[2022-03-28 13:49] rswarbrick commented on #11731
Yes, this will be correct.

The point is that you want the "allowed" signal values to be separated by a large Hamming distance so that a single- or double-bit fault can't jump from one value to the other. To enforce that, you need some code that spots when a signal has an "intermediate" value, causing an immediate error. (Otherwise, you might imagine some attack that slowly "walks" the signal from

[2022-03-28 14:21] #11601 closed

[2022-03-28 14:53] NigelScales commented on #11731
I've found another potential issue in lc_ctrl_signal_decode.sv
Input values are being copied to output rather than being resolved to Off/On first.

[code]

[2022-03-28 15:11] mundaym commented on #10037
(Removing the hotlist label on the basis that this is a P2. Feel free to re-add if you would like this to be discussed in the next SW WG.)

[2022-03-28 15:59] kosta-kojdic opened #11735 "[spi_device] Address of flash command"
@eunchan Can you confirm if address given in flash commands (after opcode) is offset within SPI device buffer. SPI device buffer is at 0x1000 offset inside memory space according to spec.
So if we give command address 0x0 will it target first word location within SPI buffer? (at offset 0x1000)

[2022-03-28 16:17] GregAC commented on #3850
Looks like we only have 1 right now. I'll bump that up to 4.

[2022-03-28 16:40] rswarbrick commented on #10954
This seems reasonable to me: maybe we'll need to come up with a format that allows the existing format too (to avoid having to migrate everything). How about the new format living in a dict called `coverpoints` (and everything gets merged when generating the documentation)?

[2022-03-28 16:53] nikola-miladinovic commented on #11309
@tjaychen : After running few regressions, I clearly see for failing tests that bits for program and read are set to 1 while erase bit has value 0. I am getting failures for Bank 0 Info 0 partition Page 3 (isolated partition) and Bank 0 Info 0 partition Page 6. Seems that they are not programmed due to either some DUT protection either to some event which happened before this try of programming.

[2022-03-28 16:56] visbaz commented on #11292
@sriyerg @martin-lueker Closing this issue as this scenario will be achieved as part of google internal simulations.
Test will be excluded from the V2 test plan.

[2022-03-28 17:12] tjaychen commented on #11309
@nikola-miladinovic in the failure case i saw, read was not enabled, so as I mentioned, the read fails.
As mentioned, when read fails due to permission errors, all 1's are returned.  When I say "garbage data" return, what I mean is that the flash controller isn't able to read, so it just returns all 1's.

If you notice a particular seed where program should not have failed, please let me know how

[2022-03-28 17:13] tjaychen commented on #11309
again, if you are seeing this, please let me know how to reproduce so I can take a look.  The particular failure case I saw did not have the program / rd / erase bits set correctly (ie they were all disabled), however there may be other issues.  So I need to know how to reproduce so I can debug.

[2022-03-28 17:13] sriyerg commented on #10954
I initially envisioned that it would enough to capture this at the covergroup granularity, since it not only captures individual coverpoints, but also crosses between them, which are at times, a lot more interesting. What is the limitation of doing the same here (i.e. documenting the covergroup which `dut_busy_cg(p)` coverpoint is a part of instead, and expressing this important coverpoint in the

[2022-03-28 17:18] tjaychen commented on #11309
I can bring up the original case for debug one more time.
Let me confirm the access permissions etc. I will also post waveforms here to clarify.
In the mean time, if you observe program failing when it shouldn't, please let me know what seeds those are as well.

[2022-03-28 17:20] tjaychen commented on #11701
@zi-v
@eshapira
@sha-ron

can Nuvoton specify the range of frequencies desired? I think specifically this refers to the jitter range.

[2022-03-28 17:42] alphan opened #11740 "[spi_device] Auto-generated macros for reserved areas in the buffer"
It would be nice to have auto-generated macros for the offset (`0xc00`) and size (256 bytes) of the SFDP area in `spi_device_regs.h` and some documentation.

@a-will's [comment](https://github.com/lowRISC/opentitan/pull/11742#discussion_r837640358): I wonder if we ought to have regtool generate constants / macros that associate cmd_info slots with the specific hardware-handled commands.

Update: A

[2022-03-28 18:09] nikola-miladinovic commented on #11309
./util/dvsim/dvsim.py hw/ip/flash_ctrl/dv/flash_ctrl_sim_cfg.hjson -i flash_ctrl_mp_regions --tool xcelium --purge -v h --fixed-seed 1754424185

At the end of test, there is wr_access set to 1, erase_access set to 0 and rr_access set to 1, which corresponds to value h'7 written in the mp info regs:

wr_access: 0x1 wr_addr: 0x1800
erase_access: 0x0 part:FlashPartInfo erase_addr: 0x1800
rd_access: 0

[2022-03-28 18:14] eunchan commented on #11735
Read buffer starts from `SPI_BASE_ADDR + 0x1000` and ends at `0x17FF` (2kB). So, yes 0x0 reads 0x1000

[2022-03-28 18:34] tjaychen commented on #6046
hey all,
wanted to clarify a few things.

As far as I understand the code right now (@martin-lueker please correct me if i'm wrong), the RX_FIFO is NOT 512B.  The read side is maxed at 256 bytes right now as Chris pointed out.  For reads I largely understand the need for bit to be bigger, it's really the TX FIFO that I am somewhat questioning.  As @a-will pointed out program times are long and the

[2022-03-28 18:42] mcy opened #11743 "[bazel] Remove temporary #defines for choosing includes based on the build system"
These #defines are a workaround due to Meson and Bazel wanting to use different include paths for vendored-in code.

Upcoming PRs introduce these in
- `//sw/device/lib/testing/test_framework/BUILD`
- `//sw/host/spiflash/BUILD`

[2022-03-28 18:45] tjaychen commented on #11616
sounds good, i'll try to add this today/tomorrow.

On Sun, Mar 27, 2022 at 11:32 PM arnonsha ***@***.***> wrote:

[2022-03-28 18:53] arnonsha commented on #11616
Thanks @tjaychen
Once PR is pushed, I would need to create the "vendor" pkg file on our side. I'll let you know when it is ready and then you can merge.
Sounds good ?

[2022-03-28 19:02] cindychip opened #11744 "[adc_ctrl] V2 review checklist"
- [ ]  [Nigel]: update the doc, there are some templated text: https://docs.opentitan.org/hw/ip/adc_ctrl/doc/dv/index.html

- [x] [TimC]: Move fsm state enum to adc_crtrl_pkg for DV reuse.

Nigel: Covergroup related tasks:
- [ ] Consider adding covergoup to sample switching ADC back and forth between oneshot and continuous modes.
- [ ] Move the coverpoint sampling to scoreboard. Then maybe conside

[2022-03-28 19:07] tjaychen commented on #11354
@timothytrippel after discussing with the dv folks a bit, I think I want to move this to future release instead of an immediate change.
It is a bit unwieldy how things are now, but if possible I don't want to churn this part of the design for now.
Would that be okay from software perspective for now?

[2022-03-28 19:18] timothytrippel commented on #11354
SG no worries, I will update the DIFs to handle this status clearing under the hood for now. If you wouldn't mind leaving this issue open, I will re-assign to me, and close it when I submit the DIF updates. Thanks for following up on this!

[2022-03-28 19:19] tjaychen commented on #11354
thanks @timothytrippel and sorry this is going to cause more software annoyance.
We will aim to fix this in the future.

[2022-03-28 19:20] timothytrippel commented on #11354
No worries!

[2022-03-28 19:47] alphan opened #11747 "[sw/silicon_creator] Typical and max times for flash operations for the SFDP table"
@tjaychen creating this to track the update to the time values in the SFDP table definition. Could you please reply to this issue when you get the chance? Please see the [spreadsheet](https://docs.google.com/spreadsheets/d/1cioU3HgsWZXD4-eoUiH9TuVLZeFpucSdjyq5HND-FpQ/edit#gid=0) for actual definitions and layout of these fields.

- Erase typical time (4 KiB, I think we can extrapolate from 2 KiB p

[2022-03-28 19:59] a-will commented on #6046
That sounds good to me.

[2022-03-28 21:27] #11666 closed

[2022-03-28 21:30] martin-lueker opened #11750 "[entropy_src] Interrupt behavior when conf.entropy_data_reg_enable == 0"
When conf.entropy_data_reg_enable == 0, how should the interrupts behave?  Should they fire constantly once the FIFO is loaded?
Reads should return 0, but should the `prim_packer_fifo` then be emptied once data is read from it?

In this state,  `u_prim_packer_fifo_swread` can currently be filled by seeds, but reads to `entropy_data` return 0 and nothing is ever removed from the FIFO.   This means

[2022-03-28 21:36] weicaiyang opened #11751 "[keymgr, kmac] KMAC prefix affects keymgr internal keys"
Continue the discussion in #11493

Based on KMAC spec, keymgr operation is influenced by KMAC prefix CSR. SW has to provide the right prefix values before starting a keymgr operation. Is there any concern here?

Index | App | Algorithm | Prefix
-- | -- | -- | --
0 | KeyMgr | KMAC | CSR prefix
1 | LC_CTRL | cSHAKE128 | “LC_CTRL”
2 | ROM_CTRL | cSHAKE256 | “ROM_CTRL”

cc: @cindychip @timothytrippel

[2022-03-28 21:54] eunchan commented on #11751
That is the assumption on running KeyMgr Application Interface.

[2022-03-28 22:39] rasmus-madsen commented on #10954
@sriyerg I am not sure what you are saying?
My concern is there is not a 1 to 1 mapping between what we put in the documentation and what is actually implemented.
if you put a "dut_busy_cg" cover group in your coverplan and that does not exist in the implementation, this will look like something was not covered.

if you want to capture the crosses in the documentation I don't see any problem addin

[2022-03-28 22:44] tjaychen commented on #11747
thanks for filing the issue @alphan .
i'll try to dig up the info and fill it in.

[2022-03-28 23:02] tjaychen commented on #11309
@nikola-miladinovic i triaged this some more and this is what i see:
0x1800 is accessed, this is page 3 of info partition type 0
The info configuration is programmed to `rd_en = 1` and `prog_en=1`.

However, since this is page 3 of info 0, this is also the [isolated partition](https://docs.opentitan.org/hw/ip/flash_ctrl/doc/index.html#flash-default-configuration).

The isolated partition accessibi

[2022-03-28 23:12] tjaychen commented on #11309
ah, actually it's [here](https://docs.opentitan.org/hw/ip/flash_ctrl/doc/index.html#isolated-information-partitions) in the docs

[2022-03-28 23:13] tjaychen commented on #11412
@TimEwins is it okay to close this issue now?

[2022-03-28 23:14] tjaychen commented on #11333
@TimEwins is it okay to close this issue now? or is there anything still open from your end?

[2022-03-29 00:33] timothytrippel commented on #11354
#11756 adds the SW fix. Going to leave this issue open though, since it is marked "FutureRelease" now.

[2022-03-29 01:41] tjaychen commented on #11750
@martin-lueker @mwbranstad
i think if data_reg_enable is disabled (or if the fuse overrides it to disabled), then it's reasonable for software also to mask off that interrupt since it no longer has a purpose.

However, having said that, we usually try to avoid tying "empty" directly to an interrupt if we can.  Ie, we try to tie the event of something going from empty->non-empty instead of just non

[2022-03-29 07:02] kosta-kojdic commented on #11735
Thanks, clarified, closing this now

[2022-03-29 07:02] #11735 closed

[2022-03-29 07:41] TimEwins commented on #11412
@tjaychen Closing this issue

[2022-03-29 07:41] #11412 closed

[2022-03-29 07:41] TimEwins commented on #11412
Closed

[2022-03-29 07:43] TimEwins commented on #11333
@tjaychen We can close this issue now

[2022-03-29 07:43] #11333 closed

[2022-03-29 07:43] TimEwins commented on #11333
Closed

[2022-03-29 08:48] NigelScales opened #11759 "[adc_ctrl/rtl] Fix Interrupt clock domain crossing"
Currently the interrupt clock domain crossing uses a primitive with the unfortunate property that multiple triggers on the always on clock side while the gated clock is off can cause difficult to predict results.
The first trigger sets the interrupt, a second occurring during a gated period clears the interrupt again, a third sets it again and so on.
This leads to unexpected results.

Perhaps a sc

[2022-03-29 11:26] zi-v commented on #11701
When setting the main (aka sys) clock frequency to 100 MHz (design target) with jitter, its output is expected to be within 80 MHz to 103 MHz range (this can be tuned post tapeout).
In addition, we have a fallback option to run in lower frequency down to 70 MHz (before jitter).
The latter requires different close source settings if run with the real IP vendor models (not part of the open source).

[2022-03-29 11:51] Jacob-Levy commented on #11701
For the open source when jitter is enabled:

[code]

[2022-03-29 12:35] kosta-kojdic opened #11763 "[spi_device] IoModeChangeValid_A Assertion Error"
In dual mode read test we get this assertion error:
IoModeChangeValid_A

Can you @eunchan comment if the scenario is wrong or something else. In quad mode we don't get same assertion error.

To recreate, in PR #11762 run:
./util/dvsim/dvsim.py hw/ip/spi_device/dv/spi_device_sim_cfg.hjson -i spi_device_dual_mode --fixed-seed 10 --tool xcelium --waves --xprop-off -v h --max-parallel 1

[2022-03-29 12:37] kosta-kojdic opened #11764 "[spi_device] Read command wrong Address"
In dual mode test in flash mode we have read command with intended address 0x1. Looking through waves I see that actual accessed memory address is 0x100.

@eunchan can you please check.

To recreate, in PR #11762 you can run:
./util/dvsim/dvsim.py hw/ip/spi_device/dv/spi_device_sim_cfg.hjson -i spi_device_dual_mode --fixed-seed 10 --tool xcelium --waves --xprop-off -v h --max-parallel 1

[2022-03-29 12:45] oholimoli opened #11765 "Question: Create a Python package for the regtool?"
I have a question regarding the regtool. Since a lot of work has been put into it: Have you discussed the option to move it to a Python package that it can also be used by other projects and where the maintenance would take place?

I was looking for an open source tool like the regtool and the only one in found that looked suitable was https://github.com/esynr3z/corsair but it seems like there is

[2022-03-29 14:04] nikola-miladinovic commented on #11309
That was it! Thanks. PR created.

[2022-03-29 14:57] prajwalaputtappa opened #11768 "[otbn, dv] Fatal alert not asserted when the error is raised before OTBN starts executing instructions"
@GregAC and @rswarbrick ,

In this testcase, I've tried to inject state zero URND error before OTBN starts running and I don't see the fatal alert coming up. Please find screenshot attached.
![Screenshot from 2022-03-29 15-44-02](https://user-images.githubusercontent.com/91126414/160638306-964b4ba5-acf4-45d2-8f93-f955bc656697.png)

[2022-03-29 15:01] mwbranstad commented on #11750
After re-visiting this logic, it seems that the data_reg_enable was intended to simply disable this function (and there is otp enable as well). In this state, I would never expect an interrupt to trigger. The issue that I see is that the fifo can accept entries even when disabled, so that probably puts the fifo in an unexpected state, with the status/intr bit setting when full. This was definitely

[2022-03-29 15:48] semihalf-mazurek-michal commented on #11108
I think the temporary solution (cargo fmt -- check) should be removed from from build script after closing this issue.
Also the current build script (bazel/meson) should be extended with a flag (disabled by default) that automatically corrects formatting in each Rust file.
Then the developer will be able to work on the code without annoying formatting errors and finally build the code only once wi

[2022-03-29 15:48] rswarbrick commented on #11765
Hi there! I don't think we've thought about this seriously, but I don't see any strong reason not to (especially if we could continue to use it "in-tree" with no ill effect). I don't think we're likely to put engineering effort into this in the near future, though: maybe you'd like to try?

[2022-03-29 15:51] martin-lueker commented on #11750
This is a useful solution!  It could be nice long term to apply something like this to the Observe FIFO also.

In such cases though I think we would also want to have separate status bits, from the interrupt bits. Right now the interrupt status bit is the only way to determine that there has been data in these FIFO (entropy_data and observe), and this is clunky to say the least.

[2022-03-29 16:35] cfrantz commented on #11108
You can see how we've done this for C/C++ formatting in the root BUILD file.  The rules to implement this in bazel are in `//rules/quality.bzl` and `//rules/scripts/clang_format.template.sh`.

[2022-03-29 16:37] mwbranstad commented on #11750
maybe not. If this fifo is disabled, so should the associated interrupt. the only enhancement is to keep status clean "under the hood".

[2022-03-29 16:52] milesdai opened #11772 "[ci] CI intermittently fails to report status from Azure"
On March 24, 2022, Azure failed to report test status back to Github on at least two PRs (#11664 and #11667). The CI still ran and tested correctly, but something failed in the final reporting step. #11667 actually [failed CI](https://dev.azure.com/lowrisc/opentitan/_build/results?buildId=73940&view=results) but because the status was not returned, this was not noticed and the PR was merged, break

[2022-03-29 17:01] milesdai commented on #11772
Agreed that this seems less likely to happen with native Github Actions integration. It might also be worth noting that Github appears to have been having some problems in March:
[Github incident history](https://www.githubstatus.com/history?page=1)

[2022-03-29 18:05] weicaiyang commented on #11764
the data width is 32. address 0x1 is at the same word of 0x0.

[2022-03-29 18:13] kosta-kojdic commented on #11764
Yes, but address we get inside readcmd block is 0x100. For address 0x4 we get address 0x400.

[2022-03-29 18:23] jdonjdon commented on #11452
item1 is done #11773

[2022-03-29 18:32] cindychip opened #11774 "[dv] Optimize uvm_map in csr sequence"
Tracking enhancement for discussion: https://github.com/lowRISC/opentitan/pull/11685#discussion_r837786205
Implement a handle to override uvm_map in csr common sequences.

[2022-03-29 19:03] rasmus-madsen opened #11775 "aes deadcode"
@vogelpi
in  aes_reg_top.sv
[code]
reg_busy_sel is tied to 0 so the code could be changed to
`  assign reg_busy = shadow_busy;`

[2022-03-29 19:07] moidx commented on #11751
We are looking into this now. We should have an update by 4/4.

[2022-03-29 19:17] mcy commented on #11549
@cfrantz could you confirm this is still an issue? I think we decided that we didn't want to bother making the mask ROM build in -c dbg. I think there's a separate question about making fastbuild be -O1, because the code clang emits in -O0 is hot garbage. Clang allocates everything on the stack in -O0 and needs a [mem2reg](https://llvm.org/docs/Passes.html#mem2reg-promote-memory-to-register) pass

[2022-03-29 19:18] mcy commented on #11500
I'm going to look into executing compliance from within Bazel.

[2022-03-29 19:28] jadephilipoom commented on #11751
Hmm. Although KMAC/SHAKE are indeed special cases of cSHAKE (with prefix "KMAC" and "" respectively), it seems a bit dangerous to call them all "cSHAKE mode" and rely on the prefix to disambiguate, for the exact reasons discussed on that issue (something else could change the prefix underneath you while you're running KMAC). I think it might make sense to have separate modes for SHAKE, KMAC, and c

[2022-03-29 20:22] milesdai opened #11779 "[bazel] Reconsider argument passing in `opentitan_functest`"
This issue continues the discussion from #11620 (specifically [this comment](https://github.com/lowRISC/opentitan/pull/11620#discussion_r834588889)).

Currently, the device-specific args are appended to the generic args and then passed to opentitantool. However, as seen in #11620, it's sometimes useful to have device-specific arguments at the beginning (e.g. whether or not to bootstrap).

One opti

[2022-03-29 20:27] weicaiyang commented on #10954
This whole area is under coverage tag.
Can we do something like this, then we don't need to update the tooling?
To specify a coverpoint, we'd better provide the covergroup name as well, as different covergroup may have a same name for coverpoint.
[code]

[2022-03-29 20:40] eunchan commented on #11751
Does it mean KMAC IP to have fixed prefix (hard-coded I assume) for KMAC and flexible to cSHAKE? Is it also applied to the SW initiated KMAC operation? If yes, the SW assumes no use of the custom string field in the prefix?

If not and fixed prefix is applied only for KeyMgr operation, we can change the parameter easily.

[2022-03-29 20:46] eunchan commented on #11764
Thanks. I will reproduce on my side and review. As read command / upload functions are not verified at all I am expecting many bugs arose.

[2022-03-29 20:59] eunchan commented on #11764
<img width="2165" alt="image" src="https://user-images.githubusercontent.com/1192814/160706126-a3c5fe12-ab90-4bf3-ba59-b2dc4a8a02fe.png">
The received address is 0x0100. The MSB of address field should come first.

[2022-03-29 21:01] eunchan commented on #11764
sorry. received address is `0x01_0000`.

[2022-03-29 21:02] eunchan commented on #11764
Anyway, I found other issues regardless of this. While you are revising the test sequence, I will also try to revise the design for IO mode change.

[2022-03-29 21:32] alphan opened #11782 "[spi_device] Access fault when reading from command, address, and payload FIFOs"
I tried configuring `CMD_INFO_11` register for `SECTOR_ERASE` (opcode: 0x20, 3-byte address, upload: true, busy: true), sent the command over SPI and printed the fields of the `UPLOAD_STATUS` register. cmdfifo and addrfifo fields looked OK but when I try to read from the command FIFO I get an access fault:

[code]

I see the same behavior for address and payload FIFOs using a pretty recent bitstre

[2022-03-29 21:35] eunchan commented on #11782
Thanks I will check if anything wrong in the TL-UL converting logic inside SPI_DEVICE.

[2022-03-29 22:31] eunchan commented on #11782
The design should be OK. If HW is accessing the DPSRAM through SYS clock port, the logic lowers the SW access and hold it until HW releases the request (by getting the response from DPSRAM). Basically, the access pattern does not change across the entire DPSRAM (0x4005_1000 to 0x4005_1FFF).

Could you please check IOPMP setting? I only can think that may be the reason.

[2022-03-30 00:09] eunchan commented on #11782
Ah.. Could you please initialize the Payload / CmdFIFO/ Addr FIFO ? I think parity error may occur if SW accesses the region.

[2022-03-30 00:26] #11559 closed

[2022-03-30 07:23] kosta-kojdic commented on #11764
Fixed in #11780

[2022-03-30 07:23] #11764 closed

[2022-03-30 07:26] kosta-kojdic commented on #11763
This assertion error disappeared after applying changes from #11780. Closing now, will reopen in case it re-appears.

[2022-03-30 07:26] #11763 closed

[2022-03-30 09:10] NigelScales commented on #11744
Currently only wakeup can occur when the clock is gated.

[2022-03-30 10:53] jadephilipoom commented on #11751
The [spec](https://nvlpubs.nist.gov/nistpubs/SpecialPublications/NIST.SP.800-185.pdf) defines cSHAKE as a function `cSHAKE(X, L, N, S)` and defines KMAC in terms of cSHAKE, where the internal cSHAKE has `N="KMAC"`. (SHAKE is defined as just cSHAKE with `N=""` and `S=""`.) Both KMAC and cSHAKE can additionally take `S`, a "customization string". So for cSHAKE we need to be able to set both N and S,

[2022-03-30 11:36] rasmus-madsen opened #11788 "update to dv_base_reg_block.sv break xcelium flow"
the Update in PR #11685 breaks xcelium simulation flow

could you please investigate and fix this

[2022-03-30 11:59] rswarbrick commented on #11788
Even if there's a simple fix to get the compile working again, the commit in #11685 is a bit odd: it seems to be adding a function that's already available with the same name and (almost) the same behaviour in `uvm_reg_block`. I suggest either dropping it if not needed or adding a big comment explaining why our version exists and why it's different.

[2022-03-30 12:09] rasmus-madsen commented on #11788
Agreed that puzzles me also

[2022-03-30 13:19] sriyerg commented on #11788
Fixed in #11786.

[2022-03-30 13:28] rswarbrick commented on #11788
Thanks, @sriyerg! I think my question about why we've got a seeming duplicate still stands though. @cindychip: I think this code was from you?

[2022-03-30 13:38] rasmus-madsen commented on #11788
@sriyerg thank you for the quick fix.
I will keep the issue open for further clarification on the question raised by @rswarbrick

[2022-03-30 13:57] patel-madhuri opened #11791 "Clarification regarding pattgen count rollover test"
The pattgen count rollover test description in testplan says:

Program the pre-divider and size registers to unconstraint random values
Program the clk_cnt, bit_cnt and rep_cnt to values less than but close to predivider and size registers, so that counting would take a reasonable number of clock cycles

In my test, I am assigning below values
 `DV_CHECK_RANDOMIZE_WITH_FATAL(ch_cfg,
      ch_cfg.p

[2022-03-30 14:01] NigelScales commented on #11744
These are not amenable to incorporation in an interface in the current form so I think best to leave for later.

[2022-03-30 14:13] sriyerg commented on #11788
The map stuff was added mainly to support JTAG map that is used at the chip level to route accesses to the full chip CSRs va JTAG. There is an alternate implementation of the JTAG agent that bypasses the map and uses a custom frontdoor instead. When that replaces the existing implementation, the mapping enhancements in dv_base_reg_block will likely no longer be needed.

[2022-03-30 14:27] sriyerg commented on #11788
It is possible that @cindychip created `dv_base_reg_block::get_map_by_name()` without the knowledge that `uvm_reg_block` already provided it, and the name of the method inadvertently ended up matching the base class method. I will let @cindychip confirm though.

[2022-03-30 14:39] drewmacrae opened #11792 "[bazel] Check sha256s for all external repositories"
Because of the potential for an engineered Sha1 collision, we should check the sha256 of external repos when they're downloaded.

[2022-03-30 15:00] semihalf-mazurek-michal commented on #11108
@cfrantz - Yes
The `//rules/scripts/clang_format.template.sh.` file contains more or less what is needed.
I think it will be possible to use most of this code to make a similar script with rustfmt.

[2022-03-30 15:48] rswarbrick opened #11794 "[rv_core_ibex,dv] Integrate the Ibex "core_ibex" tests with dvsim"
This is needed as part of the V2 milestone.

The lamest possible approach would basically have "run all the Ibex tests" as a one-shot dvsim tool. We can do somewhat better by wrapping calls to the Ibex Makefile for build and "run a test". That way, we'll still essentially be running the Ibex flow, but will expose parallelism to the dvsim scheduler.

[2022-03-30 16:05] davebwil opened #11795 "[dv] sw_symbol_backdoor_overwrite not working for ROM programs"
Following up from our email.

When running tests from ROM for flash_ctrl it would be useful to use **sw_symbol_backdoor_overwrite** to pass data from the virtual sequence to the C program.
For example,
using **sw_symbol_backdoor_overwrite("kLcRmaUnlockToken", rma_unlock_token, Rom, SwTypeRom);**
does not work. There is no error or any other indication that it has not worked but the data written do

[2022-03-30 16:17] sriyerg commented on #11795
Hi @davebwil is there an easy way to reproduce this?

[2022-03-30 16:18] eunchan commented on #11517
@alphan As #11780 was merged, Could you try again? I think the incorrect address issue is gone. I can see the first byte of read can return the correct address.

[2022-03-30 16:27] sriyerg commented on #11795
Aah ok, I will give that a try and get back to you.

[2022-03-30 16:46] cindychip commented on #11788
Thanks Sri and everyone, sorry for causing the compile issue. Yes! I believe we can delete this function. I definitely did not check the `uvm_reg_block` and created the same method. I will create a PR to delete that.

[2022-03-30 16:47] dbeitel-opentitan opened #11799 "[macos,meson,spi] new MacOS build issues"
Couple of new issues have cropped up.  I have workarounds/fixes for most:

1) The Darwin archiver doesn't like archives with no source files.  I had to add an empty source file for a couple of archives.
2) The native clang compiler on Darwin doesn't support the attribute "alias".  So OT_ALIAS for spi unittest has compiler failures.

 #define OT_ALIAS(name) __attribute__((alias(name))).

I will att

[2022-03-30 16:49] alphan commented on #11517
Thanks for the update @eunchan! Sure, but probably I won't be able to do it before tomorrow (need to rebuild the bitstream with debug signals).

[2022-03-30 17:10] alphan commented on #11782
Thanks @eunchan, I was able to read from the FIFOs using UPLOAD_CMDFIFO and UPLOAD_ADDRFIFO registers,. I'm not sure if the data coming out is correct for more complex cases but I tried sending SECTOR_ERASE (0x20) and PAGE_PROGRAM (0x02) back to back and the second read from UPLOAD_CMDFIFO sometimes returned 0x0 and sometimes 0x20. Might worth a closer look.

Re. the payload buffer and access faul

[2022-03-30 17:20] eunchan commented on #11782
Thanks. I think there's some timing issue. Returning 0x0 may indicate the FIFO is empty, which is weird as the FIFO not empty interrupt is generated after the HW fills the FIFO first. Worth to take a look. Thanks for finding the issue.

As the fault occurs due to the integrity feature in the DPSRAM, the upload function can't do anything about this. HW must update only a byte at a time. It does not

[2022-03-30 17:20] #10112 closed

[2022-03-30 17:23] cindychip commented on #11791
Thanks Madhuri for raising this issue. From DV perspective, I agree running such a long test does not really worth the simulation time. Can we force the internal value, such as:`rep_cnt` to be closer to `3ff` to reduce the simulation time, but still test the overflow cases?

[2022-03-30 18:43] mcy opened #11802 "Delete redundant `//sw/device/lib/riscv_compliance_support` once we drop support for Meson."
See https://github.com/lowRISC/opentitan/pull/11801

[2022-03-30 18:49] drewmacrae commented on #11792
We should prefer http_archives that have support for sha256 checks, and use git_repository rules for components that are underdevelopment and not yet reproducible.

A git_repository rule that uses http_archive to carry this out isn't a big list but would require some legwork to find all the expected checksums and lock down all the dependencies.

[2022-03-30 19:34] #11684 closed

[2022-03-30 20:16] tjaychen commented on #11701
thanks all. Since this is something that's enabled as part of the open source ast already, it sounds like we really just need a test that does flash operations (program / erase / read) while enabling jitter, is that correct?

[2022-03-30 20:20] tjaychen commented on #11750
yeah, it's fine to place it in the programmer's model to say "if feature disabled, also diasble interrupt".
And leave the rest to a future enhancement.

The future enhancement, in my mind, would be disabling the interrupt event altogether if the feature is not turned on, and to change the interrupt event to pulse instead of level.

If you guys are okay making a "fix" based on that, it would probab

[2022-03-30 20:26] dbeitel-opentitan commented on #11799
PR #11804

[2022-03-30 20:28] mwbranstad commented on #11750
I was thinking we should add a one gate change and disable the fifo push, which will turn all of the noise off.

[2022-03-30 20:30] tjaychen commented on #11750
that sounds good too! but what happens if you disable it after having enabled it? :)
the fifo might already be non-empty hehe.  I think maybe gating the empty event would still be needed (unless you also use the the disable to clear the FIFO, which would work too).

[2022-03-30 20:35] tjaychen commented on #11751
coming back to this a bit. Let's say we do have the error check, do we still have concerns that during operation the prefix could be changed?

I think at a minimum we need to place regwen protection over prefix like we do with the registers.  Do we also need to supply `N || S' from keymgr during a keymgr operation? The idea that the prefix may be modified during a keymgr operation seems a bit less

[2022-03-30 20:42] timothytrippel opened #11805 "[bazel] cleanup `rules/opentitan.bzl`"
The `rules/opentitan.bzl` has expanded quite a bit to support building various artifacts for each hardware platform. This file could be cleaned up to promote better code re-use, as noted in this [review comment](https://github.com/lowRISC/opentitan/pull/11787#discussion_r838650126). Additionally, the `rules/opentitan.bzl` could benefit from being split into two smaller files for better readability

[2022-03-30 20:55] mwbranstad commented on #11750
i like the later idea. keep all things quiet when disabled.

[2022-03-30 21:00] martin-lueker commented on #11750
This switch cannot be changed while the device is enabled, and IIRC the queue is automatically purged when the module is disabled (Mark can you confirm?).   So I think this may be a non-issue.

[2022-03-30 21:02] weicaiyang commented on #11751
Using fixed prefix in RTL may be easier. Not sure if SW has a usage to supply different prefix for keymgr operations.

[2022-03-30 21:06] mwbranstad commented on #11750
just confirmed, if module enable is on, this bit cannot be changed. when module enable is off, all fifos will reset., so that narrows the number of scenarios.

[2022-03-31 00:26] tjaychen commented on #11750
ah that sounds good. So it gets locked. So maybe preventing push like you said Mark is more than enough.

[2022-03-31 00:28] tjaychen commented on #11751
i dont think software would need that (since there are many other places already they can do isolation).
However given that it can be fully software controllable now, it means that software can delay this decision.  If we change it to fixed we'll have to decide on what we want it to be.

[2022-03-31 03:20] hcindyl opened #11811 "Possible false CI check failure for vendoring"
See https://github.com/lowRISC/opentitan/pull/11810/checks?check_run_id=5764658340

The failure is caused by the change in `util/lowrisc_misc-linters/licence-checker/licence-checker.py` in https://github.com/lowRISC/opentitan/pull/11810, but I am not sure this path should be included in git diff.

cc @rswarbrick

[2022-03-31 04:37] jdonjdon commented on #11452
item 2 is done  #11812

[2022-03-31 05:41] zi-v commented on #11701
yes

[2022-03-31 06:15] #11480 closed

[2022-03-31 08:54] #10705 closed

[2022-03-31 10:56] rswarbrick commented on #11533
Done with #11603.

[2022-03-31 10:56] #11533 closed

[2022-03-31 11:19] rswarbrick commented on #11811
The check that's failing is one that ensures vendored directories match their sources and the CI check is correct to fail on that PR :-D.

If you want to change vendored-in code, you have to do it in two stages:
- File a PR to update the source repository (the [misc-linters](https://github.com/lowRISC/misc-linters) repo, in this case)
- Once it's merged, use the vendor tool to grab the changes (so

[2022-03-31 11:19] #11811 closed

[2022-03-31 11:24] davebwil opened #11816 "Top level tests not working with Xcelium"
Top level tests have been working reliably with Xcelium for some time now but have stopped working recently.

As an example I tried to run the existing test chip_sw_kmac_smoketest. This fails with the following from the log:

file: ../src/lowrisc_ibex_ibex_core_0.1/rtl/ibex_if_stage.sv
    export "DPI-C" function simutil_get_scramble_key;
         |
xmvlog: *E,IMPMOD (../src/lowrisc_ibex_ibex_core

[2022-03-31 12:31] rswarbrick commented on #11816
Looks like this was my change. As a quick hack to get things working locally, you can just delete all the stuff inside the `ifndef SYNTHESIS` block. I'll follow up with a proper fix (hoisting the DPI export declarations out of the `if/else`) in a minute.

[2022-03-31 13:10] rswarbrick commented on #11816
Yep, they're fixed in the PR linked above.

[2022-03-31 14:35] oholimoli commented on #11765
Currently it seems like Corsair will be the choice. Have you considered to use Corsair?

[2022-03-31 16:55] TimEwins opened #11825 "[flash_ctrl] MuBi Changes to RTL flash_ctrl_host_ctrl_arb.sv Effecting ARB and RMA Tests"
Hi @tjaychen

I have been debugging a regression fail isssue in the flash_ctrl_host_ctrl_arb test (which I believe I have solved).

However, when I rebased the code base to the latest, I now see different errors from this test.

After the RMA has completed, the ACK goes On, then one cycle later goes Off again, and the state_q changes from StHw->StSwIdle->StInvalid, and we get a fatal error.

(wave

[2022-03-31 18:10] tjaychen commented on #11825
ah yes let me explain. This is due to the recent security review of flash_ctrl, and we basically decided to make the "disable" indication in flash_ctrl more robust.

The basic idea is that after RMA transition, further flash operations are "disabled".  This disabled actually takes multiple forms and is described [here](https://docs.opentitan.org/hw/ip/flash_ctrl/doc/index.html#flash-access-disable

[2022-03-31 18:28] tjaychen commented on #11825
see #11827

[2022-04-01 02:22] igk8 commented on #11631
@visbaz I didn't write the test plan, so I can only offer my interpretation of it. In this test, I think the host needs to sample the target sda at every input clock High period, whatever the actual value of the input clock is (10 kHz to 1 MHz). The host samples at every scl_i High by design, and in this test scl_i is driven by the input clock clk_i. Normally, scl_i is not clk_i. So, the host shif

[2022-04-01 03:10] msfschaffner commented on #2254
@GregAC it looks like this fix is still pending, right? do you have something that is ready to be pushed?

[2022-04-01 08:48] GregAC commented on #2254
I don't have anything beyond what is in my first comment (that I can remember this is a rather old issue!).

Given this will change a bunch of auto-generated code it may cause significant churn in the software side of things. I can take a look but it's way down the priority list and someone else may be better placed to look at it.

[2022-04-01 08:50] GregAC commented on #11816
We should probably add at least an Xcelium build to the CI to prevent further issues like this. Maybe have it run a few tests also. We can use separate agents to the ones that run VCS so it won't add to CI latency.

[2022-04-01 08:55] rswarbrick commented on #11765
It looks like it started a lot more recently than our register tooling. Maybe we'll switch to it one day, but that's not going to happen soon. If you've found a better match for your needs, that's great. I'm going to close this issue now: please feel free to open another if you need help or find an issue with OpenTitan.

[2022-04-01 08:55] #11765 closed

[2022-04-01 14:18] #11309 closed

[2022-04-01 15:01] NigelScales commented on #11731
I don't see how say
LcStDev: begin
              ...
              lc_seed_hw_rd_en = (secrets_valid_i == On) On : Off;
            end
Would lead to a single bit at any point, particularly as it's part of a case statement with a sparse input.
I believe you would get a big blob of logic with the state and input bus all mangled together.

[2022-04-01 19:48] cindychip opened #11849 "[prim_secded_inv_hamming_39_32] Error detection"
Hi Michael,
In the FPV testbench, I saw failures on some assertions when running `../../../util/dvsim/dvsim.py top_earlgrey_fpv_cfgs.hjson --select-cfgs prim_secded_inv_hamming_39_32_fpv  --gui`

Main issue was that:
When FPV testbench input 1 bit error to the input of the `dec` module, we somehow saw the `dec` module categorize that as a 2-bits error. Here are the values from the screenshot:
1).

[2022-04-01 21:08] cfrantz opened #11854 "Possible CPU bug: fault during lb/sb to RAM"
# Description
While working on enabling ROM builds with bazel and clang, I ran into a fault in the test ROM while trying to print the ROM title string.

During test_rom execution, `printf` has to process it's format specifiers.  When built with no- or low- optimization (-O0 or -O1), the compiler emits this sequence of code for `consume_format_specifier`:

[code]

Emits the following asm:
[code]

I

[2022-04-01 21:37] GregAC commented on #11854
Do you know if the aligned 32-bit region the byte being loaded has previously been written to? If it hasn't its ECC may be corrupt so when Ibex loads it sees an integrity failure triggering the exception.

[2022-04-01 22:03] cfrantz commented on #11854
Thanks Greg, that was the problem.  At some point in the past, we eliminated SRAM init from the test_rom (but not the mask_rom), making it vulnerable to this condition.

[2022-04-01 22:07] #11805 closed

[2022-04-01 23:07] msfschaffner commented on #11731
The part regarding the sparse state input is a fair point, although I think it really depends on how the compiler structures/optimizes the logic, and we only have limited control over that - hence we decided to just copy the MUBI signal to the output in this case.

Is this behavior causing issues in verification?

[2022-04-01 23:09] jdonjdon opened #11858 "[rstmgr] Reset consistency check can't be done in aon_por_io_div4"
This block feeds reset to the reset manager itself.
So any glitch of reset_o can shut off the consistency check for itself.

[2022-04-01 23:11] msfschaffner commented on #11731
CC @cdgori @tjaychen

[2022-04-02 01:37] drewmacrae opened #11860 "[bazel] rules to automate sigverify*functest"
The test created in commit https://cs.opensource.google/opentitan/opentitan/+/093fc86071d41b91272cca8da743ea8d0f098b62 requires manual intervention and is therefore hard to integrate into test suites.

[2022-04-02 02:04] cindychip commented on #11585
All tests are done, closing this issue, OTP V2S now just waiting for coverage results.

[2022-04-02 02:04] #11585 closed

[2022-04-02 02:44] msfschaffner commented on #11849
Thanks @cindychip. I found the problem and fixed it in this PR: #11861

Note: this issue was only present in inverted Hamming codes. It had to do with the fact that the Hamming codes we use are _extended_ Hamming codes, meaning that the last ECC bit is a parity bit calculated over all bits, including ECC bits. The generated encoder logic mistakenly inverted ECC bits before calculating the last par

[2022-04-02 05:51] #11854 closed

[2022-04-04 08:40] NigelScales commented on #11731
I can predict it if required but you'll probably get the same synthesised result as the resolved mux above anyway.
I think if you really want to keep the bus preserved as is, you need to use a mux primitive and add dont_touch_network or similar to the pins otherwise I expect the synthesised logic will be a blob of ANDs and ORs just the same.

[2022-04-04 10:48] visbaz commented on #11670
@martin-lueker Closing this and will re run full regression to come back if i find any issues.

[2022-04-04 10:48] #11670 closed

[2022-04-04 12:53] alphan opened #11869 "[spi_device] Write enable (WREN) and write disable (WRDI) should be handled in hardware"
The write enable command (WREN, 0x06) sets the write enable latch (WEL) bit, while the write disable command (WRDI, 0x04) clears it. The host sends WREN every time before "writing" to the device, e.g. before chip/sector erase or page program. Since handling this in software would introduce additional latency; WREN & WRDI commands should be handled in hardware.

cc @cfrantz @a-will

[2022-04-04 13:20] alphan opened #11871 "[spi_device] When and how should SW read cmdfifo, addrfifo, and payload buffer for correct data?"
* spi_device should have a bit that indicates the completion of a SPI transaction and the FIFOs & the payload buffer are ready to be read from.
  * It looks like `cmdfifo_notempty` and `addrfifo_notempty` are updated independently during a SPI transaction.
  * According to the spec, `upload_payload_not_empty` in `INTR_STATE` register is updated after the transaction ends but it's not useful for co

[2022-04-04 13:23] drewmacrae opened #11872 "CODEOWNERS file has multiple entries for filetypes"
Our .github/CODEOWNERS file has multiple entries for filetypes when github only uses the first of these entries. We should either set up something more robust, or use groups to manage the multi-owner configuration the file implies.

eg: `util/tlgen.py       @eunchan @msfschaffner @tjaychen` has the same effect as `util/tlgen.py       @eunchan` as far as I can tell so the file is at least misleadin

[2022-04-04 14:49] NigelScales opened #11874 "[LC_CTRL/rtl] FSM state FlashRmaSt doesn't detect bad MUBI value."
I see the rtl gets stuck in FlashRmaSt state when a bad value is seen on lc_flash_rma_ack_i
I think the FSM should enter invalid state.

[code]
![image](https://user-images.githubusercontent.com/78102677/161570171-cd0063e8-72f5-4e52-8704-2fa9df508e97.png)

[2022-04-04 15:02] mcy opened #11876 "Some riscv-compliance tests are not passing at head on Verilator."
`I-NOP-01` and `I-EBREAK-01` both time out after ten minutes, where the other tests don't take more than two. This should be investigated as a potential hardware bug. The easiest way to run the tests right now is via this soon-to-be-merged PR: https://github.com/lowRISC/opentitan/pull/11801

[2022-04-04 15:07] mcy opened #11877 "[bazel] Teach Bazel how to vendor-in the remaining third-party software dependencies"
Bazel has robust support for vendoring hermetic dependencies (as well as a mechanism for pre-downloading them through `bazel sync`). Most of our deps are already in this form, with some legacy ones left over using the unmaintained vendor script; this is just a matter of porting the ones that remain. `third_party` contains examples of how to do this.

This issue mostly exists to track the fact that

[2022-04-04 15:13] a-will commented on #11871
That will lead to race conditions, since `csb` may be asserted most of the time to check the BUSY bit. I wouldn't recommend that option. :)

For a hardware solution that may not have the nicest tracking, we could take the sys_clk-sampled csb and `cmdfifo_notempty` and use them to create "command upload done" signal. So, something like...

[code]

So the "done" status gets cleared as soon as the co

[2022-04-04 15:42] vogelpi commented on #11775
Hey @rasmus-madsen ,
this code is completely auto-generated by regtool depending on the hjson. Should we just exclude this code segment for coverage?

[2022-04-04 15:43] vogelpi commented on #11650
I think this can be closed, right @rasmus-madsen ?

[2022-04-04 16:13] mcy commented on #11877
My understanding is no one explicitly owns it, which therefore means it is unmaintained. The only person who ever worked on it has left the project afaik.

[2022-04-04 16:34] GregAC commented on #11877
It remains a crucial part of the HW side of things. There's no new features required and it's working fine for current purposes. So whilst there's no named maintainer it does get worked on as and what it's required.

Is your intent to retire it entirely from use in the SW side? That's fine but as there was a project wide decision to use that vendoring method we should properly revisit that decisio

[2022-04-04 16:36] alphan commented on #11782
Yes, initializing the payload area solves this issue but is there a particular reason why the spi_device buffer is not reset when the chip is reset? Shouldn't the retention SRAM be the only memory whose contents survive a reset?

[2022-04-04 16:41] eunchan commented on #11782
SRAM macro usually does not have reset signals. That's why the SRAM portion needs to be initialized at the beginning. While reset, if power keeps being provided, SRAM contents remain. If we need to guarantee to have clean state of SRAM after every reset, HW should have self-initialization logic inside, which I think some what needed eventually.

[2022-04-04 17:23] TimEwins opened #11882 "[flash_ctrl] Clarification Of Program/Read FIFO Access Using Interrupts"
Hi @tjaychen

I am now verifying the Interrupts, with regard to Reading and Programming through the FIFOs.
Up until now we have only used 'polling' of the Status Bits

STATUS bits (polled)
rd_full
rd_empty
prog_full
prog_empty
init_wip

STATUS bits (Interrupt)
prog_empty
prog_lvl
rd_full
rd_lvl
op_done
corr_err

Also up until now we have generally only Programmed/Read up to 16 Words at a time, but

[2022-04-04 17:31] tjaychen opened #11883 "[flash_ctrl] clarify instruction fetch behavior on invalid mubi"
Please reference this comment
https://github.com/lowRISC/opentitan/pull/11411#discussion_r828601119

[2022-04-04 17:49] cfrantz commented on #11877
Unowned or unmaintained tools eventually suffer from bit rot.

Our intention is to fully convert software dependency management to bazel.  This will be part of the bazel conversion proposal given to the TC.

Longer terrm, we'll eventually place both HW and SW builds under the direction of bazel.  At that time, we'll also convert management of hardware vendoring to bazel (and as with sw, it will be

[2022-04-04 18:48] #11849 closed

[2022-04-04 18:52] #11381 closed

[2022-04-04 18:56] weicaiyang opened #11892 "[sram] Investigate the SRAM issue - partial write followed by read"
The issue should be caught by this sequence - partial write -> b2b read with the same address.
Let me reproduce this case and take a closer look.

cc: @GregAC @tjaychen @msfschaffner

[2022-04-04 18:59] mcy commented on #11438
https://github.com/lowRISC/opentitan/pull/11713 implemented this.

[2022-04-04 18:59] #11438 closed

[2022-04-04 19:56] tjaychen commented on #11571
this specific issue has been addressed by a ROM register slice.
The remaining changes in ibex are tracked separately.

[2022-04-04 19:56] #11571 closed

[2022-04-04 19:56] tjaychen commented on #11452
@jdonjdon can you confirm the clock turn off is also handled now? if yes we can close this issue.

[2022-04-04 20:21] rasmus-madsen commented on #11650
yes I will close it

[2022-04-04 20:21] #11650 closed

[2022-04-04 20:50] #11775 closed

[2022-04-04 21:26] cindychip commented on #11849
sorry for the late reply! Thanks Michael

[2022-04-04 21:49] weicaiyang commented on #11892
This is probably the case that should reproduce this issue.
However, the `wmask_q` is always all 1s, so that the issue won't really fail anything in SRAM_CTRL.

![Screen Shot 2022-04-04 at 2 40 29 PM](https://user-images.githubusercontent.com/49293026/161637247-8a78011d-d151-4b04-b536-d155b7f1aa84.png)

@msfschaffner can you please confirm this?

In case that you want to check the waves, here it i

[2022-04-04 21:58] tjaychen commented on #11892
ah.. i wonder if this is because of the byte handling.
So if you do a byte write, it ends up being stalled for that. If you do a
full word write, it won't matter anyways.

On Mon, Apr 4, 2022 at 2:49 PM weicaiyang ***@***.***> wrote:

[2022-04-04 22:48] eunchan commented on #11869
I remember @a-will @cfrantz and @tjaychen and I had discussion about this. The conclusion was to not implement the feature in HW at the first silicon due to the schedule issue and assumed it is OK to be processed in SW (no latency issue at all here).

If WE is 0, and host sends WREN and PROGRAM commands, SW can process WREN first then PROGRAM, as CMD_FIFO has multiple entries. Then PROGRAM can set

[2022-04-04 23:00] weicaiyang commented on #11892
I guess so. I wonder where @GregAC found this issue. Did it cause some failures in other block or top-level?

[2022-04-04 23:01] tjaychen commented on #11892
i'm guessing this was found in otbn maybe?

[2022-04-04 23:26] cindychip commented on #11791
Hi Madhuri,

Constrain the reg values will work but can you try the following -
Instead of testing all the extreme max values, can we constrain to have at most one max value per run? Will that also reduce the simulation time?
I think it is still good to hit the max val of the register, just not all together.

If the above suggestion works, could you also ensure the functional coverage is implement

[2022-04-04 23:37] a-will commented on #11869
That is not strictly true. Hosts can check the status register immediately following a WREN command, and that would be too fast for firmware to make the observable change. We're playing fast and loose without hardware handling of WREN, but I can't claim to have seen the host that behaves in the way described.

[2022-04-04 23:45] weicaiyang opened #11902 "[tlul] Verify instr_type on non-instruction TLUL interface"
@tjaychen

Some blocks like uart doesn't have an instruction memory. Xcelium expects to sample both True and False value on this port.

I can think of 2 options.
1. since the value of this port doesn't matter if it's an instruction RAM, perhaps we just exclude it for the toggle coverage.
2. issue a write with instr_type=True, then verify it returns d_error=1, as this is a generic check in tlul_err

[2022-04-04 23:51] tjaychen commented on #11902
i feel like 2 would be better.
Instead of issuing a write, could you issue a read? Because long term we should error back also if it's instruction type + write, since that should not be allowed either.

[2022-04-04 23:58] weicaiyang commented on #11902
does read + instr_type=True also return with an error?

[2022-04-05 00:13] tjaychen commented on #11902
read + instr_type is okay.
write + instr_type is also okay now i think...although that's something that should be fixed..

[2022-04-05 00:30] weicaiyang commented on #11902
read is OK, but write + instr_type will fail due to this line. Do you want to change this behavior?

https://github.com/lowRISC/opentitan/blob/faab4c52b820fc5121890174e512c23b61b9a722/hw/ip/tlul/rtl/tlul_err.sv#L32-L33

waves: ot_debug -J smart:57c08e97-21a0-4f58-8dc5-11d4427c2746

[2022-04-05 00:35] tjaychen commented on #11902
o! so i already did that, i completely forgot.
No that's actually the desired behavior, we should not be writing an instruction.
sorry i completely misread what you wanted earlier. You want a scenario that errors right?

[2022-04-05 01:15] weicaiyang commented on #11902
the current behavior also makes sense to me. I would like to know how to test it or just exclude it. perhaps we can test it like this.
1. for all reads, randomize instr_type and it won't affect anything, unless it's to access a real instruction RAM (handle separately).
2. for write (error case), issue a write with instr_type=True, then verify it returns d_error=1. For normal write, keep instr_type

[2022-04-05 01:20] tjaychen commented on #11902
that sounds good.

[2022-04-05 01:22] eunchan commented on #11869
What happens if the host system issues WREN then read back the STATUS but it shows still WE bit is 0?

Honestly, I don't want to revise the design as we are approaching the RTL freeze. If the status read is rare and host is able to handle the incorrect status bit , then I think it is ok to move on?

[2022-04-05 07:06] sriyerg opened #11910 "[chip dv] Rust/cargo invocation error in nightly regressions"
https://reports.opentitan.org/hw/top_earlgrey/dv/latest/results.html

[code]

Reproduced by running:
[code]

The cargo version used is 1.55.

I know the bazel transition is imminent, but its not clear whether it will take a few days or over a week. If it's the latter, it will be great to have this fixed, so that we have more accurate coverage data at the chip level from our nightly regressions.

[2022-04-05 07:46] sriyerg opened #11911 "[spi_agent, dv] Sub-byte transfer information should be a part of transaction class"
Currently, the SPI agent is coded up to indicate sub-byte transfers from the `spi_agent_cfg` object:
https://github.com/lowRISC/opentitan/blob/a01a0cc9621247b40b2a149154496f5cf7377e4d/hw/dv/sv/spi_agent/spi_agent_cfg.sv#L19

It does not seem like a good idea to make {`partial_byte`, `bits_to_transfer`} a part of the agent configuration class. They are better suited to be a part of the transaction

[2022-04-05 07:48] GregAC commented on #11892
So if you do a byte write, it ends up being stalled for that. If you do a
full word write, it won't matter anyways.

Yup a byte write followed by a read won't trigger the issue

It was. It's a 256-bit memory we do 32-bit partial writes to. We scramble on a 32-bit granularity so the 32-bit write doesn't need a RMW cycle.

[2022-04-05 08:15] TimEwins commented on #11825
This issue will be closed whent the rma and host_arb tests are updated to use the new RTL.

This will be done after the remaining V2 tests have been written (within the next couple of weeks).

These tests will fail in the current Flash Ctrl regression because of these RTL changes.

[2022-04-05 09:56] TimEwins commented on #11882
Hi @tjaychen

Thanks for the explanation.

So Programming is limited to up to 16 words, which is a physical flash requirement (and I would guess would ultimately depend on the flash being used).

You agree that the program interrupts here are not helpful .... I can see that, I will just make sure they o what they say they do,

For Read, >16 words is possible using the mechanism you/we have suggest

[2022-04-05 11:27] rasmus-madsen commented on #11788
solved with #11800 closing issue

[2022-04-05 11:27] #11788 closed

[2022-04-05 12:00] ctopal commented on #11876
Hi @mcy can you point out which git version of riscv_compliance bazel gets so that I can test it within the Ibex repository to see if it also fails in there? I am checking the test with https://github.com/lowRISC/riscv-compliance/commit/844c6660ef3f0d9b96957991109dfd80cc4938e2 and saw 4 failures (in line with https://github.com/lowRISC/ibex/issues/100).

In your case it looks like `I-NOP-01` fails

[2022-04-05 12:58] vogelpi opened #11915 "[otbn, dv] Implement checking and handling of FIPS bit in OTBN model"
At the moment, the FIPS bit on the RND EDN interface in the OTBN testbench is forced to a constant 1. This is currently required for two reasons:
1. The OTBN model needs to be extended to properly deal with non-FIPS compliant randomness on the RND interface.
2. The FIPS bit generated by the EDN agent is random (just like the actual bus). This means even if the model would correctly support the FIP

[2022-04-05 13:38] #11534 closed

[2022-04-05 13:57] NigelScales commented on #11731
@msfschaffner @rswarbrick  can you define exactly what you expect to happen if any of the 5 mubi inputs receive a bad value.
In my opinion we should either say:
1. A bad value is treated as an off and no error is generated
or
2. A bad value always generates an error (alert say)

Currently the RTL generates errors most of the time and I'm having difficulty predicting when.

MUBIs being tested for V

[2022-04-05 14:11] NigelScales opened #11919 "[lc_ctrl/dv] Define testing required for security countermeasures"
The descriptions in file lc_ctrl_sec_cm_testplan.hjson are very terse.
e.g. desc: "Verify the countermeasure(s) MAIN.FSM.LOCAL_ESC."

We need to agree on what testing is required to verify these testpoints.
They may already be covered by tests which are written and just require some whitebox coverage to ensure they are being comprehensively tested.

I'll add each vague testpoint RTL as a comment a

[2022-04-05 14:12] NigelScales commented on #11919
[code]

[2022-04-05 14:41] mcy commented on #11699
I've upgraded this to a P1 because merge conflicts in the WORKSPACE file are only going to get worse.

[2022-04-05 16:35] aloke-tortuga opened #11924 "The test chip_sw_aes_smoketest is producing a TIMEOUT error"
Please advise if I am doing something wrong during running the test chip_sw_aes_smoketest on the master branch with VCS as follows:

./util/dvsim/dvsim.py hw/top_earlgrey/dv/chip_sim_cfg.hjson \
      -i chip_sw_aes_smoketest \
      --build-opts "\-l run_vcs.log" \
      --run-opts "\-l run_simv.log"

Produces:
UVM_ERROR @ 5005971440 ps: (chip_sw_base_vseq.sv:181) uvm_test_top.env.virtual_sequenc

[2022-04-05 16:48] timothytrippel commented on #11199
Do you have the PR that closed this issue? Because, it looks like this should not be closed yet: https://github.com/lowRISC/opentitan/blob/81513e9ce92dfad11f374481f15a7db3659126ca/rules/opentitan.bzl#L118

[2022-04-05 16:53] timothytrippel commented on #11910
This was an internal infrastructure issue. I fixed it.

[2022-04-05 16:53] #11910 closed

[2022-04-05 16:53] a-will commented on #11869
It's a misbehaving spi_device, and the host would consider this to be a fault of some sort. I can't exactly give guidance about what response the host application would have, since the severity and action to take would depend on the context.

I would also advocate for us getting this done. If you're concerned about schedule, shall we chat about options?

[2022-04-05 16:57] cindychip commented on #11924
Hello Aloke,

Thanks for giving the top level a try. Yes this failure does exist and we are trying to fix it asap.
Just for your reference, we do run nightly regression of all IPs and top-level and post the result here:
https://reports.opentitan.org/hw/top_earlgrey/dv/latest/results.html

And the direct link to the top-level result is here:
https://reports.opentitan.org/hw/top_earlgrey/dv/summary.

[2022-04-05 16:57] #11924 closed

[2022-04-05 17:03] #11759 closed

[2022-04-05 17:05] aloke-tortuga commented on #11924
Thank you very much, Cindy! Appreciate the insight! I will look forward to working with the fixed version of OT since we are developing a methodology to demonstrate the HW verification capability on this design with the Radix solution from Tortuga.

I will keep an eye on the dashboard.
Best regards,

== Aloke

[2022-04-05 17:12] weicaiyang commented on #11892
@GregAC Thanks for the clarification, so sram_ctrl is fine. Closing this issue.

[2022-04-05 17:12] #11892 closed

[2022-04-05 17:38] TimEwins commented on #11882
Hi @tjaychen

Also @nikola-miladinovic

I have been writing a test (directed at the moment) to read 32 words from the controller using the rd_full interrupt (its simple stuff at the moment)

The code is as below : -
----------------------------------------
    flash_op_intr.op         = FlashOpRead;
    flash_op_intr.partition  = FlashPartData;
    flash_op_intr.addr       = 0;
    flash_op_intr.n

[2022-04-05 17:45] drewmacrae commented on #11199
I was wrong

[2022-04-05 18:07] #11500 closed

[2022-04-05 18:21] #6873 closed

[2022-04-05 18:34] weicaiyang commented on #6873
@msfschaffner has updated the spec

[2022-04-05 19:04] weicaiyang opened #11928 "[Sysrst_ctrl] V2 Review items"
This issue captures AIs from Sysrst_ctrl V2 review [notes](https://docs.google.com/document/d/1hH7gABLqXkuCIDdRcmf-mLlbqgBF8eFwe_2is_Q2-Ak/edit#)

- [x] [Madhuri] update testplan and covergroup #[11820](https://github.com/lowRISC/opentitan/pull/11820)
  - Update the testpoint `sysrst_ctrl_flash_wr_prot_out` to include checking the input.
  - Change the sample point of combo detect to sample it aft

[2022-04-05 19:14] weicaiyang opened #11929 "[cleanup] Add assertion check for all output enables which are tied to 1"
This is an item from Sysrst_Ctrl review.

We can consider updating the checklist as well.
In this [ASSERT_KNOWN_ADDED](https://github.com/lowRISC/opentitan/blob/master/doc/project/checklist.md#assert_known_added), if it's tied to a fixed value, instead of checking it's a known value, we can check it with the actual value.

[2022-04-05 19:49] #11614 closed

[2022-04-05 21:16] alphan opened #11934 "[sw/silicon_creator] Update bootstrap pins in pinmux_init()"
TODO: the real chip will have 3 strapping pins encoding 64-possible values by way of weak and strong pull up/down resistors.  Configure the 3 pins as inputs.

_Originally posted by @cfrantz in https://github.com/lowRISC/opentitan/pull/11920#discussion_r843011560_

[doc](https://docs.google.com/document/d/1_eeimolhDUt5TAsqqZlN_FJQGz1qCHZn_h3AgQi_zfo/edit?usp=sharing)

[2022-04-05 21:17] michael-etzkorn commented on #10255
@a-will Is version one of `usbdev` purely CSR verification then? I'm new to OpenTitan, but I see no tests of USB functionality in the DV document so I'm wondering if there's any software tests or direct tests from the initial design work since I see `FEATURE_COMPLETE` for D2 is done. Presumably during design, there was initial work done on testing the features?

[2022-04-05 21:27] alphan opened #11935 "[spi_device] Does `generic_rx_overflow` reflect whether an overflow occurred in the payload segment? If not, can we add a payload overflow status bit?"
Does `generic_rx_overflow` reflect whether an overflow occurred in the payload segment?  If not, can we add a payload  overflow status bit?

_Originally posted by @cfrantz in https://github.com/lowRISC/opentitan/pull/11884#discussion_r842984786_

[2022-04-05 21:29] a-will commented on #10255
For the "DV simulation" target, it is only CSR verification. For the FPGA and verilator targets, we have a chip-level test that involves implementing a google simple-serial interface on top of the USB device and exercising it (checked in https://github.com/lowRISC/opentitan/blob/master/sw/device/tests/usbdev_test.c ).

The targets all do their own peculiar thing for this usbdev chip-level test. On

[2022-04-05 22:27] tjaychen commented on #11869
@eunchan i think is out for a few days, so just to summarize:

1. if we have a well behaving host that always does WEN then PROGRAM, I think the claim is that this will be okay since we can rely on the second operation setting "BUSY=1" to stall the operations.

2. However if we have a host that sets the status and reads it back, we would be a non-compliant device since it will look like we "ignore

[2022-04-05 22:37] tjaychen commented on #11882
@TimEwins
ah, i see what happened.
If you look at `u_rd_fifo.gen_normal_fifo.fifo_incr_wptr`, you will you first get 16 nicely ordered pulses, indicating the first 16 reads that fill up the read fifo.

At this point the interrupt is asserted (see `intr_rd_full`), and we begin to service the interrupt by reading out the fifo.
If you look at `incr_wptr` again, every time you read out a word, the fla

[2022-04-05 23:16] #11750 closed

[2022-04-05 23:43] msfschaffner commented on #11929
I went through the IPs and fixed the ovious ones: #11936

[2022-04-06 00:04] weicaiyang commented on #11911
Agree.
Currently, we're using byte granularity for the data. IMO, it makes sense as transferring less than a byte is a very special error case.
https://github.com/lowRISC/opentitan/blob/a01a0cc9621247b40b2a149154496f5cf7377e4d/hw/dv/sv/spi_agent/spi_item.sv#L10

We can consider adding a variable - `num_bits_in_last_byte` in spi_item. Only the last byte can be partial and we can set 8 to num_bits_i

[2022-04-06 01:22] #11883 closed

[2022-04-06 03:30] #11929 closed

[2022-04-06 07:27] #10547 closed

[2022-04-06 13:37] kosta-kojdic commented on #11911
Thanks for comments. I will consider it definitely, according to priorities I think it will come up after finishing V2 defined scenarios.

[2022-04-06 14:07] NigelScales opened #11943 "[adc_ctrl/rtl] Mismatch with model for low power counter."
There is an issue with the way the lp_counter is cleared.
The syndrome seen is:
[code]
This is due to the dut exiting low power mode too early, in turn caused by the low power counter not being cleared because the set of matching filters has changed.

In the waves we see that lp_sample_count_q does not get cleared while the model equivalent m_lp_counter does.
In both model and rtl the set of match

[2022-04-06 14:14] #11498 closed

[2022-04-06 14:38] mcy opened #11946 "Clang complains about unknown flag."
Seen when building with Bazel:
[code]

Presumably bazel-embedded is doing something rude.

[2022-04-06 15:10] TimEwins commented on #11882
Hi @tjaychen

For Info @nikola-miladinovic

I was thinking about this yesterday evening, and I realised what I had misunderstood.  Today I have looked at TWO soultions, and enclosed them here .. both work for the simple case of reading 32 words via the FIFO (need to enhance) using the rd_full interrupt (and will modify for the rd_lvl interrupt too).

I propose METHOD 1 and METHOD 2.

I think the b

[2022-04-06 15:12] TimEwins commented on #11882
METHOD 1 - READ (Using Interrupt rd_full)
=========================================

This works.  The test reads 32 words using the interrupt rd_full.

Pseudo Code
1)  Setup Read Op of 32 Words (Bigger than a FIFO buffer)
2)  Start Flash Op Read
3)  Loop (16)
4)    Wait for Interrupt rd_full
5)    Ack Interrupt
6)    Read word from FIFO, push into data queue
7)  end
8)  The code above reads 16 wor

[2022-04-06 15:12] TimEwins commented on #11882
METHOD 2 - READ (Using Interrupt rd_full)
=========================================

This works.  The test reads 32 words using the interrup rd_full.

Pseudo Code
1)  Setup Read Op of 32 Words (Bigger than a FIFO buffer)
2)  Start Flash Op Read
3)  Wait for Interrupt rd_full - FIFO is Full (16 words)
4)  Ack Interrupt
5)  Read 16 words from the FIFO, push into queue - rd_full interrupt will go hig

[2022-04-06 15:28] #11536 closed

[2022-04-06 15:29] tjaychen commented on #11882
METHOD 1 looks fine to me... but i think I overlooked the fact that flash reads are so fast, it's basically matching the host side read outs 1 to 1, ie, you get interrupts one after another.  Normally for something like UART, the fill rate from the hardware side is so much lower than you'd be able to quickly drain from software side and not get a bunch of interrupts like this.

I think it might be

[2022-04-06 15:40] rswarbrick commented on #9938
Fixed by https://github.com/lowRISC/opentitan/pull/10850.

[2022-04-06 15:40] #9938 closed

[2022-04-06 15:42] davebwil commented on #11816
The top level problem is fixed now, closing. Thanks.

[2022-04-06 15:57] tjaychen commented on #11882
@TimEwins i think ideally how this should behave... is that every time a full interrupt is seen by the software, it attempts to read 16 entries. It's a bit odd in METHOD 1 we are clearing on every read.  As I mentioned, this is a side effect of the two sides being almost the same speed.

At these speeds, it's probably better to not have these interrupts at all, but if the flash deposits were so mu

[2022-04-06 16:02] TimEwins commented on #11882
@tjaychen @a-wii @nikola-miladinovic

I agree that the use of the interrupts as given is not that intuitive.  One idea I had is that maybe the rd_full should be a not_empty status .. which I think is what you are concluding.

[2022-04-06 16:23] martin-lueker opened #11951 "[entropy_src] Detailed timing of Observe FIFO Clear pulses"
The `entropy_src` scoreboard anticipates that _all internal state_ is cleared one cycle after the `module_enable` register is set to false.

It has however been observed that the Observe FIFO is not cleared for three cycles after the `module_enable` signal is cleared.

![image](https://user-images.githubusercontent.com/47870387/162019594-f33a939f-8ca1-4d4b-b7d5-281085472257.png)

As this is causin

[2022-04-06 16:27] rswarbrick opened #11952 "[otbn,dv] Need to disable some assertions in prim_lc_sync when sending invalid LC signals"
We recently tweaked the `otbn_escalate` test to send invalid LC signals (see 0813561), but this triggers assertions in `prim_lc_sync.sv`.

I think the intention is that a test that drives invalid values on the `lc_en_i` signal will disable these assertions: we should do so.

[2022-04-06 16:28] rswarbrick commented on #11952
@prajwalaputtappa: If you have time, would you mind picking this up?

(These tests are a complete mess at the moment, mostly my fault. But you'll see the error for some seeds if you take the fixes in #11950).

[2022-04-06 16:32] rswarbrick commented on #11768
I think this should be fixed by #11950 (but we should check again once that's merged to make sure I got it right)

[2022-04-06 16:44] a-will commented on #11882
@tjaychen @TimEwins

I'd agree with the use of FIFO occupancy here. Because the flash controller is quite fast at filling up its FIFO relative to CPU speeds, I'd guess interrupts will likely not be used for flash reads on OT. Instead, the firmware will almost certainly be better off polling.

With an occupancy counter, I'd probably leave the related flash_ctrl interrupts masked, set the rd_lvl thr

[2022-04-06 17:04] mwbranstad commented on #11951
The two delays from setting the bit and setting the observed FIFO clear input can be explained by the tlul reg block (1 delay) and the re-flop for the module enable ( part legacy and part fanout help). Seems like the scoreboard needs some adjustment to handle this delay.

[2022-04-06 17:07] martin-lueker commented on #11951
Two questions:

1. Will there be any variation in this? (is it always three cycles?)
2. Should an alert be expected if we read after this time?

[2022-04-06 17:21] mwbranstad commented on #11951
it appears to be a simple propagation (no gating) so yes, 3 clocks.
I would not expect an alert based on reading the observe FIFO, or any other one that I can think of.

[2022-04-06 18:29] #11497 closed

[2022-04-06 20:31] tjaychen commented on #11943
thanks @NigelScales , let me have a look.

[2022-04-06 20:32] tjaychen commented on #11751
after some discussions during the silicon meeting, it was decided that at a minimum we need to place `regwen` qualification over the prefix CSR.  This will ensure that the prefix does not change during operation.

We also should double check that the prefix is indeed checked against certain values during kmac operation.

[2022-04-06 20:34] tjaychen commented on #11882
yeah that sounds good.
So seems like the answer here for now is I should add a status read back for level, is that right?
That would make it more useable under this scenario.  In the future if we pair with a flash where flash read speeds are MUCH slower (say..NAND flash), then the fifo would probably be more beneficial.

[2022-04-06 21:16] tjaychen commented on #11951
should we add a clarification note into the spec on when we can expect the entire to be cleared after de-assertion of enable?

[2022-04-06 22:43] tjaychen commented on #11751
[this](https://github.com/lowRISC/opentitan/blob/master/hw/ip/kmac/rtl/kmac_errchk.sv#L250) is the check that @eunchan was referring to, so i think we should be okay there.

[2022-04-06 23:03] michael-etzkorn opened #11963 "[Verilator] Multithreading Question"
Hello everyone,

I'm new to OpenTitan and using Verilator. I'm interested in checking out the usbdev. I noticed with `--trace` on it runs quite slow, but I hear Verilator's real performance increases are when multithreading. However, I don't see any info in [verilator setup](https://docs.opentitan.org/doc/getting_started/setup_verilator/) or in the generated binary's help menu for multithreading t

[2022-04-06 23:07] tjaychen opened #11964 "[fpga] Make USR_ACCESS available for software read"
The fpga bitstream information should be made available for software read.
See https://docs.xilinx.com/v/u/en-US/xapp1232-bitstream-id-with-usr_access

We can do this by adding another prim module that instantiates the primitive for fpga and 0 otherwise.

Currently I'm thinking about adding this register into `rv_core_ibex`, but it could go elsewhere also.
`lc_ctrl` isn't really necessary in this

[2022-04-06 23:07] tjaychen commented on #11964
@cfrantz
@a-will
@timothytrippel

[2022-04-06 23:22] weicaiyang commented on #11245
Fixed at version S-2021.09-SP2-1, which will be released later this month

[2022-04-06 23:27] tjaychen opened #11965 "[top] Move tb "simulated" memory to scratch registers"
to address #10863 and eventually facilitate gate level simulation, @sriyerg suggested that we move the testbench simulated memory (which uses a fake address) to real scratch registers within a module (fewer than 32 bytes are needed)

This will avoid situations where a pmp entry needs to be created for a memory that isn't actually there, but also allow these tb functions to be reused during gate le

[2022-04-06 23:32] a-will commented on #11964
That sounds like a good place and plan to me. If I were thinking about it generically, it looks like some sort of extended chip ID.

[2022-04-06 23:35] tjaychen commented on #11964
yeah the chip ID actually goes into `lc_ctrl`, since it can be reached even if the device is dead.
The only reason I'm not placing this there is because...there's really no situation in real silicon where we might need that.
Plus `lc_ctrl` is at d2s and i really don't want to re-open it :)

[2022-04-06 23:37] a-will commented on #11963
What I recommend doing is being selective with what gets put into traces, and that will significantly speed up tracing. `verilator tracing_on` and `verilator tracing_off` in comments can be used to control which instances are traced.

When I wanted to get traces for just usbdev, I would cut out everything but the usbdev instance from top_earlgrey, using this patch to my working directory:
[code]

[2022-04-07 00:03] weicaiyang opened #11967 "[flash_ctrl/dv] Clean up replicated constraints and resolve unaddressed comments"
@nikola-miladinovic @TimEwins

Some constraints like `mp_regions_c`, `flash_op_c` are replicated in many sequences. This is not a good practice as they're hard to maintain in the future. The better approach is to put those generic constraints in base sequence, then in sub-sequence, add more constraint on top of that or override it if needed.

Also address these 2 comments from @rswarbrick
1. https

[2022-04-07 00:11] drewmacrae opened #11968 "Some riscv-compliance tests are not building at head with clang"
`I-RF_x0-01` has trouble building with what looks like a sign extension issue:
`
ERROR: /usr/local/google/home/drewmacrae/opentitan/third_party/riscv-compliance/BUILD:9:21: Compiling riscv-test-suite/rv32i/src/I-RF_x0-01.S failed: (Exit 1): gcc failed:
 error executing command external/bazel_embedded/toolchains/lowrisc_toolchain_rv32imc/clang_wrappers/nix/gcc -MD -MF ... (remaining 82 argument(s)

[2022-04-07 00:18] a-will commented on #11963
Probably this can be done without dirtying the tree. According to https://verilator.org/guide/latest/exe_verilator.html#cmdoption-arg-tracing_off , it looks like we could provide an external config file to do something similar, but I haven't tried it.

[2022-04-07 00:42] michael-etzkorn commented on #11963
This is a good tip. I mention using `--trace`, but the multithreading should also fix some abysmal scheduling in my environment where I'm only getting ~1% of the total processing time. It seems based on `hw/dv/tools/dvsim/verilator.hjson` this is an open TODO:
[code]

Perhaps this isn't yet fixed in edalize but I can try Olof's proposed solution at https://github.com/olofk/fusesoc/issues/472#issue

[2022-04-07 03:13] msfschaffner commented on #11874
Ineed, this currently just checks for ON and will otherwise hang indefinitely (so this is the intended behavior in case of flash RMA req).

@tjaychen what is your view on this?

We could check for invalid values - but if we did that we would have to change the synchronization scheme since this currently only synchronizes each individual bit separately (and I think for all the life cycle signals th

[2022-04-07 04:48] msfschaffner commented on #11919
Thanks for filing this issue, @NigelScales.
I have updated the description of the testplan items here: #11969
Let me know if more detail is needed.

[2022-04-07 04:49] msfschaffner commented on #11731
I have clarified the intended behavior as part of the V2S testplan update here:#11969
Let me know if anything is still unclear.

[2022-04-07 05:10] msfschaffner commented on #11731
That's a fair point. However, if it's not too much work, I would prefer to keep this as is, since the block already went through the security review where this behavior has been explicitly requested.

[2022-04-07 09:54] NigelScales opened #11975 "[dvsim] Provide a method to dump UVM waves for all simulators"
When developing UVM testbenches based on behavioural models it is very useful to be able to view the fields of classes in the wave viewer.
They can be viewed as they change over time along with RTL signals.
Often there is a similar structure and fields which correspond to RTL signals.
Visual comparison of these allows for efficient debug of the RTL or model.

However it's not desirable to record t

[2022-04-07 10:08] NigelScales commented on #11943
Hi @tjaychen
I should have run with more seeds but we are currently a bit short on licenses.
This seems to fix it.

![image](https://user-images.githubusercontent.com/78102677/162175828-410e7009-357e-4fa0-b787-14f049c862bb.png)

[2022-04-07 10:48] rswarbrick commented on #11968
Hmm, looks like a riscv-compliance bug where the binutils assembler was a bit more laid back than LLVM's.

The immediate operand to XORI is a 12-bit signed value (this is the "I-type" encoding in the ISA manual). I guess that the riscv-compliance code sign-extended to 32-bits. If you tweak the value locally to 0x803, does it work?

[2022-04-07 10:52] rswarbrick commented on #11963
I don't know what happens with dvsim. Our CI jobs run fusesoc directly, and turn on multi-threading. See `hw/top_earlgrey/dv/verilator/chip_sim.core` for the details. To build top_earlgrey with fusesoc without having to remember the (arcane!) command line arguments, you might find the wrapper at `ci/scripts/build-chip-verilator.sh` useful.

[2022-04-07 14:46] michael-etzkorn commented on #11963
Thanks for the help! Glad I wasn't crazy for thinking that the fusesoc call looked a little arcane.

[2022-04-07 14:46] #11963 closed

[2022-04-07 15:47] #11507 closed

[2022-04-07 15:58] mcy commented on #8007
Making this a Bazel migration priority. I suspect the way we'll deal with this is with teporary ifdefs, and long term with either a link shim or support for arbitrary tops as separate Bazel platforms.

[2022-04-07 16:18] drewmacrae opened #11981 "[bazel] cannot load rules and deps for lowRISC misc-linters in CI"
https://github.com/lowRISC/misc-linters/blob/master/rules/deps.bzl provides rules that are incompatible with CI

It's running an instance of pip that isn't supported in CI's Python 3.6, it should be rolled back to avoid quietly pushing an upgrade requirement onto CI.

[2022-04-07 16:30] drewmacrae commented on #11981
Since they're currently loaded in the bazel WORKSPACE it makes it incompatible with CI which is a thing

[2022-04-07 16:34] rswarbrick commented on #11981
Honestly, I don't really understand why that repo (which contains ONE PYTHON SCRIPT!!!!) has a whole load of Bazel rules. My preference would probably be to:
1. copy those rules over to OpenTitan
2. Add an ignore file to the vendored directory to ignore the stuff that was there
3. Remove from misc-linters and re-vendor

[2022-04-07 17:17] mcy commented on #11981
Hi Rupert,

The rules are there because the logic to set up appropriate application of the script are somewhat involved (as it is for any linter). This logic is re-used in other lowRISC repositories, including embargoed repos.

The correct solution here is to make misc-linters pick up the python interpreter from OT. I can look into this next week-- I am already underwater with other Bazel cleanups

[2022-04-07 17:19] drewmacrae commented on #11981
I'll see what I can do to get the python interpreter loading. I think I wrote the commit to take it as-is.

[2022-04-07 17:29] drewmacrae opened #11984 "[ci] uses Python 3.6 which has gone EOL"
https://endoflife.date/python shows python 3.6 as EOL. We should upgrade CI and our minimum requirements to a supported version of Python or avoid the requirement

[2022-04-07 19:02] drewmacrae commented on #11981
Bazel doesn't support python 3.6 because it's gone EOL https://github.com/lowRISC/opentitan/issues/11984

[2022-04-07 20:22] mcy commented on #11509
Blocked on https://github.com/lowRISC/opentitan/pull/11988

[2022-04-07 20:54] timothytrippel commented on #11965
If this gets implemented, then we no longer need #10863 (which would be wonderful :) ).

[2022-04-08 01:39] timothytrippel opened #11995 "[opentitantool] move the `LoadBitstream` command under an `fpga` command"
Currently there is a top-level `LoadBitstream` command within opentitantool. However, as we add more FPGA-related commands, it makes sense to move this command under a new top-level `fpga` command.

[2022-04-08 01:40] timothytrippel commented on #11995
CC: @cfrantz, @arunthomas

As we discussed earlier today.

[2022-04-08 09:10] #4833 closed

[2022-04-08 11:30] NigelScales commented on #11874
@msfschaffner The CDC checker isn't going to like this method - it will be flagged as a CDC re-convergence error.
 I suggest you consider using a request/acknowledge synchroniser for each dynamic MUBI bus.

[2022-04-08 12:28] prajwalaputtappa opened #12007 "[ibex]Instruction counter is getting reset as soon as fatal error is flagged and before otbn goes to locked status"
@rswarbrick, @GregAC,

Instruction counter is getting reset as soon as fatal error is flagged and before otbn goes to locked status. Please find screenshot attached.
![Screenshot from 2022-04-08 13-27-59](https://user-images.githubusercontent.com/91126414/162435492-7c347efb-c431-4d82-b0cb-19997969f3a3.png)

[2022-04-08 12:44] NigelScales commented on #11919
I think the only testpoint which is unclear how to test is sec_cm_main_ctrl_flow_consistency.
I can't think of a way to fully positively test that.
I think what you probably need is a property to be used with a formal tool that demonstrates that no state can be transitioned to twice between resets.

[2022-04-08 14:50] NigelScales commented on #11874
@msfschaffner I've fixed the error inject to wait for the FSM to get past FlashRmaSt but there is no error generated.

![image](https://user-images.githubusercontent.com/78102677/162463951-7ec91921-6a0e-4ba1-85d8-6e15a99be1a1.png)

[2022-04-08 14:55] sub-Shodan opened #12011 "Incorrect behaviour of base_printf"
#### Issue description
The function base_printf when used with modifier %d does not produce any output after first "0" is encountered.

#### Steps to reproduce the issue

1.   Calling base_printf().
2.   using %d as modifier.
3.  Example:  base_printf("test %d: text after zero", 0,);

#### What's the expected result?
- The result should be:
- ```test 0: text after zero```

#### What's the actual r

[2022-04-08 15:28] #11542 closed

[2022-04-08 16:40] NigelScales commented on #11731
@msfschaffner I've implemented the pass through behaviour for secrets_valid_i.

Can you check a bad test_tokens_valid_i will cause  TOKEN_ERROR because I'm not seeing it.

[2022-04-08 17:56] #11517 closed

[2022-04-08 18:18] cfrantz opened #12016 "[bazel] clang tries to use the system compiler if `gcc-11-riscv64-linux-gnu` is installed"
If you happen to have `gcc-11-riscv64-linux-gnu` installed, clang finds it and tries to use it as the compiler.

It appears this can be fixed by adding `--gcc-toolchain=<subdir>` to the right invocations of clang.

[2022-04-08 18:36] #8007 closed

[2022-04-08 19:19] cfrantz commented on #12016
To duplicate:
Install the [opentitan riscv32 compiler](https://github.com/lowRISC/lowrisc-toolchains/releases/download/20210412-1/lowrisc-toolchain-rv32imc-20210412-1.tar.xz) somewhere (e.g. `/tools/riscv`).

Install the riscv64 compiler: `apt-get install gcc-11-riscv64-linux-gnu`

## Ask the opentitan compiler what it thinks about itself:
[code]
Why does it think it knows anything about files in

[2022-04-08 19:21] #12016 closed

[2022-04-08 19:31] cindychip opened #12021 "[alert_handler] Enable ping timer"
Hi Michael,

I am enhancing some timer tests and wonder if there is anything wrong with this logic:
https://github.com/lowRISC/opentitan/blob/master/hw/ip_templates/alert_handler/rtl/alert_handler_reg_wrap.sv#L175
Should that be:
[code]
Because we only want to enable ping when alert_regwen is set to 0 right?

Thanks,
Cindy

[2022-04-08 19:32] #11699 closed

[2022-04-08 19:51] #11964 closed

[2022-04-08 21:47] #11509 closed

[2022-04-08 21:55] msfschaffner commented on #12021
Good catch, @cindychip!
This should indeed be inverted, so the fix you proposed is fine.

[2022-04-08 21:56] cindychip commented on #12021
Cool, I can draft a PR for that if you prefer. I think we probably miss this when switching from rw1c to rw0c.

[2022-04-08 22:09] msfschaffner commented on #12021
Yes that probably is the reason. Thanks!

[2022-04-08 22:38] msfschaffner commented on #11919
@NigelScales indeed, this is what I have been thinking as well. FPV is likely the better route for this than a simulation-based test.

[2022-04-08 23:08] weicaiyang opened #12029 "[sysrst_ctrl, dv] Trigger multiple interrupt events when the core clock is off"
sysrst_ctrl should have this issue found in adc_ctrl #11759
We should enhance the test to trigger multiple interrupt events when the core clock is off

Also, run the new test without the design fix #12027 and see if we can reproduce it.

cc: @msfschaffner

[2022-04-08 23:40] cindychip commented on #12021
PR merged, close this issue.

[2022-04-08 23:40] #12021 closed

[2022-04-09 00:32] msfschaffner commented on #12029
CC: @tjaychen

[2022-04-09 00:39] msfschaffner commented on #11731
@NigelScales thanks for the waves.
Can you let me know what the target state for this transition was in this test case?
We need to make sure that the transition actually makes use of the associated token - otherwise the error will not be thrown...

[2022-04-09 00:58] tjaychen commented on #9296
@alphan @moidx @cfrantz
i think we can close this issue now.
We've already talked about how/where AST configuration could be bypassed, and I believe we already have everything we need in ROM.

[2022-04-09 00:59] #9296 closed

[2022-04-09 01:25] msfschaffner commented on #11874
Ok it looks like the ACK synchronization delay of 2 cycles causes this to go unnoticed.

I have made the check more robust in #12031 by extending the token check window from 2 to 4 cycles, and by introducing an additional crosscheck during the programming phase.

[2022-04-09 01:49] tjaychen commented on #11874
@NigelScales this is definitely true.
But part of our principles for secure design is to minimize the number of single bit nets that are critical to security. The reason we don't usually use req/ack is because if the req/ack were attacked / severed in some way (for example tied to a fixed value) it would completely defeat our downstream security.

The idea of using multi-bits here of course is to

[2022-04-09 05:07] tjaychen commented on #10204
this issue has been resolved by changing the behavior of the flash fsm.
this is pretty evidently a tool issue.. but chasing down the root cause for that will be left to another day...

[2022-04-09 05:07] #10204 closed

[2022-04-09 05:13] a-will commented on #10204
I meant to try on the latest Vivado and see if it still showed the same bug, but the installation size grew astronomically. And it wouldn't fit in the current free space...

[2022-04-09 17:38] #11951 closed

[2022-04-11 09:19] NigelScales commented on #11874
@msfschaffner You can still keep the bus multi-bit but you synchronise it is as a whole.
The request/ack protocol controls the transfer of the bus - not the request/ack for the clock bypass say - this is controlled by the bus value so still multi-bit.

It works something like this:
- The control sees that the source clock version of the bus is different to the destination clock version.
- The sour

[2022-04-11 10:12] NigelScales commented on #11731
Ah, I was checking that the current state was a test state.

[2022-04-11 16:04] visbaz commented on #11631
Will try this and open if i find any issue ..thanks for clarifying

[2022-04-11 16:04] eunchan commented on #11869
I understand the reason of the HW-processed WREN/ WRDI commands. @domrizz0 may comment about the schedule :)

[2022-04-11 16:13] timothytrippel commented on #11290
Confirmed with @davebwil, this seems to be working now.

[2022-04-11 16:13] #11290 closed

[2022-04-11 19:18] tjaychen commented on #11874
@NigelScales your fix looks good to me. But I'm trying to figure out why this "any_fst_lp_match" was there to start with.
Let me dig through some old docs to make sure we've not removed some intended use case.

[2022-04-11 19:50] cindychip opened #12043 "[top] padring coverage is not correct"
Current top-level padring only has assert coverage.
This module and its subtree's coverage should all be collected.

[2022-04-11 19:51] cindychip commented on #11295
Done with PR: https://github.com/lowRISC/opentitan/pull/11985

[2022-04-11 19:51] #11295 closed

[2022-04-11 19:52] #10591 closed

[2022-04-11 19:52] cindychip commented on #10260
I think this is all done because lc_ctrl already declared V2.

[2022-04-11 19:52] #10260 closed

[2022-04-11 19:53] #7990 closed

[2022-04-11 19:54] cindychip commented on #3611
I think we can close this issue.

[2022-04-11 19:54] #3611 closed

[2022-04-11 21:07] rswarbrick opened #12044 "[flash_ctrl,rtl] Command integrity isn't connected up correctly to an alert"
Some TL command integrity bits don't seem to be wired up properly from e.g. the `u_tl_adapter_eflash` SRAM adaptor.

(I wouldn't be completely certain, but @tjaychen sounded convinced and asked me to file an issue!)

[2022-04-11 21:26] rswarbrick opened #12046 "[prim] prim_flop_2sync depends on non-synthesizable code"
Commit 43a24e6 added `lowrisc:prim:cdc_rand_delay` as a dependency of `prim_flop_2sync.core`. This causes lots of lint messages and I suspect will be an issue for the synthesis flow as well.

Would it make sense to depend on this from some DV base class instead?

@sriyerg, @weicaiyang, @cindychip: What do you think?

[2022-04-11 21:28] rswarbrick commented on #12046
Ohh. I think we just need an `ifndef VERILATOR` in the file: the module contents are already stubbed out for synthesis.

[2022-04-11 21:36] weicaiyang commented on #12046
this sounds good.

[2022-04-11 21:46] matutem opened #12048 "[dv/ast] Recreate vc main power glitch"
The full chip testpoint chip_sw_pwrmgr_main_power_glitch_reset needs to cause the ast to trigger a main power glitch in order to verify the chip response. In order to trigger this condition the test toggled u_ast.vcmain_supp_i. Apparently some AST change must have caused this to stop working.

We need to know what mechanism can be used in order to cause this condition again.

[2022-04-11 22:01] tjaychen commented on #12046
sounds good to me as well.
I have another PR parallel to this that adds the missing waiver file (which
breaks ascentlint runs).

On Mon, Apr 11, 2022 at 2:36 PM weicaiyang ***@***.***> wrote:

[2022-04-11 22:05] weicaiyang commented on #10125
Some keymgr chip-level tests have been implemented. I don't see this problem. Closing this.

[2022-04-11 22:05] #10125 closed

[2022-04-11 22:05] eunchan commented on #11935
It does not cover the case unfortunately.

Yes, as in previous github issue, I think it is good to have. I think, on top of this, SPI_DEVICE should report the last written address (or write pointer in the payload buffer) so that SW is able to know the first valid byte position.

[2022-04-11 23:37] weicaiyang commented on #10035
@nikola-miladinovic can you update the testplan and add a test for this?

[2022-04-11 23:58] tjaychen commented on #10035
sorry this is my fault for not being more clear.
I believe @TimEwins has implemented this test in #11411

Tim can you confirm and close if I am correct?

[2022-04-12 00:04] eunchan opened #12054 "[spi_device] fifo2sram_adapter enhancement"
#12053 revises the `spid_upload` module to create an overflow event and to track the pointer of the FIFO.

It would be easier if `spid_fifo2sram_adapter` (eventually `prim_fifo2sram_adapter`) provides the overflow event at the same cycle when the producer side pushes an entry when the FIFO is full.

Issue here is:

- fifo2sram only writes data to SRAM no way to track the consumer side.
- SPI_DEVIC

[2022-04-12 00:42] tjaychen commented on #11882
this should be addressed by making the FIFO level readable.
@TimEwins i will close this for now, please re-open if anything is unclear.

[2022-04-12 00:42] #11882 closed

[2022-04-12 00:43] tjaychen commented on #11825
@tjaychen FYI

[2022-04-12 00:43] #11751 closed

[2022-04-12 00:46] tjaychen commented on #11721
this was addressed by an assertion update in #11676

[2022-04-12 00:46] #11721 closed

[2022-04-12 00:49] tjaychen commented on #11700
@msfschaffner once your prim_csr lands, do we even need to have a specific top level test for this?
the prim_flash registers will just become a part of `chip_csr_rw` right?

[2022-04-12 00:50] tjaychen commented on #11616
so we've made all the necessary changes for the packaging, @GregAC do you want to plug in lowrisc ID for the open source version? it makes more sense than using the Google one. Or if you let me know what it is, I can update and close.

[2022-04-12 00:51] tjaychen commented on #11561
sorry @matutem i don't think any progress has been made on this one yet.

[2022-04-12 00:54] #11452 closed

[2022-04-12 00:55] tjaychen commented on #11301
Related to #11561, closing this one for now.

[2022-04-12 00:55] #11301 closed

[2022-04-12 00:56] tjaychen commented on #10785
@a-will @eunchan is it okay to close this issue now? I think this is implemented already isn't it?

[2022-04-12 01:26] msfschaffner opened #12055 "[otbn] Spurious WE strobe check on both regfiles"
We have reason to believe that WE strobes on regfiles are prone to glitch attacks, hence we decided to augment the Ibex register file and the peripheral CSR nodes with additional checks that trigger alerts in case a spurious WE is seen:
- https://github.com/lowRISC/ibex/pull/1605
- https://github.com/lowRISC/opentitan/issues/11036#issuecomment-1076939473.

Should we do the same on the OTBN registe

[2022-04-12 01:38] tjaychen commented on #12055
i think for otbn it is not quite as critical due to the fact that there is always a host processor controlled redundancy.
However, if it is cheap to add, I think it would be worth it.

[2022-04-12 01:48] #12046 closed

[2022-04-12 02:08] msfschaffner commented on #11700
Yeah most of the functionlity will be covered by the automatic CSR tests.
However, there is going to be a custom component here, and this is the life cycle based TL-UL gating.
I.e., in some LC states, all these accesses are going to error back via the tlul error responder in `tlul_lc_gate`, and I think this would have to be modelled (@cindychip is going to look into that).

But to your point, I th

[2022-04-12 02:34] a-will commented on #10785
Fixed by #11456

What may remain is atomically updating all the status bits to a consistent state (one side or the other of a register write horizon).

[2022-04-12 02:34] #10785 closed

[2022-04-12 05:27] weicaiyang commented on #11795
@davebwil
I think I probably know how to fix this. Do you have a case that I can try or any existing test that I can use to verify the fix?

[2022-04-12 06:23] weicaiyang commented on #11902
@tjaychen

is it better to move `prim_mubi_pkg::mubi4_test_invalid(tl_i.a_user.instr_type)` to set `instr_wr_err ` in `tlul_err` module, so that it returns d_error regardless of mem or reg access when instr_type isn't valid.
https://github.com/lowRISC/opentitan/blob/75082fb5a6a92ec58d7adfb9abf7bfacb26f87c7/hw/ip/tlul/rtl/tlul_adapter_sram.sv#L110

https://github.com/lowRISC/opentitan/blob/75082fb5

[2022-04-12 07:43] lfrojasm opened #12058 "Entropy Source - health checks (NIST SP800-90b + Bucket and Markov tests)"
I am currently working on an FPGA implementation of an RNG. At the moment I am performing its validation using the standard tests published in the NIST SP800-22 (R1a) and the results are quite promising, however, the NIST SP800-90b includes 2 health checks for entropy sources that I would like to perform as well.

I was reading the OpenTitan documentation, focused on the entropy source section, an

[2022-04-12 08:26] kosta-kojdic opened #12059 "[spi_device] Upload Command Payload Buffer Address"
@eunchan What is the starting offset in the spi_device buffer for 256B of Upload buffer data?

[2022-04-12 11:22] rswarbrick opened #12061 "[otbn,rtl] Multi-bit encode secure wipe signals"
At the moment, we pass around signals like `sec_wipe_zero_i` and `sec_wipe_acc_urnd_i`. It's probably a better idea to make a sparse enum to represent the different secure wipe stages (and generate errors if we see an invalid value).

The problem is that at the moment, an attacker could poke e.g. `sec_wipe_zero_i` to zero out the result of an arbitrary calculation.

As a side effect, it might also

[2022-04-12 11:25] vogelpi commented on #12061
This sounds like a good idea to me. Especially with the blanking in place, these signals are additionally flopped (glitching the flops is considered easier). However, I think this should have lower priority than the other outstanding D2S tasks.

[2022-04-12 11:42] rswarbrick commented on #12058
@martin-lueker: I suspect you're the best person to point in the right direction?

[2022-04-12 12:08] matutem commented on #12048
We need it for ASIC, but I cannot say if the other platforms need it as well.

[2022-04-12 12:54] #11874 closed

[2022-04-12 12:56] #11919 closed

[2022-04-12 12:56] #11731 closed

[2022-04-12 13:02] Jacob-Levy commented on #12048
@matutem For now in ASIC, you can bypass the use of the `vcmain_supp_i/vcaon_supp_i` by force/release the regulators
`vcmain_pok_h_o/vcaon_pok_h_o` local signals to emulate the power spike.:

  ` u_ast.u_rglts_pdm_3p3v.vcmain_pok_h_o`    for VCMAIN and
  ` u_ast.u_rglts_pdm_3p3v.vcaon_pok_h_o`      for VCAON