[2022-05-16 16:58] tjaychen commented on #11871
@alphan
@eunchan
this might be related to the other issue where you were discussing this, but are we really seeing CHIP_ERASE / SECTOR_ERASE back to back..? I would think the BUSY polling would be in-between.

@eunchan
i might be misremembering here, but i thought you only create the interrupt based on the CSb rising event in case something is uploaded, if that's the case, why would there be multi

[2022-05-16 17:01] tjaychen commented on #12689
hmm...interesting question. Now that you bring this up, I'm really sure what's supposed to happen either.
I will have a look.

[2022-05-16 17:02] mwbranstad commented on #2652
Need confirmation from @moidx, but I believe all support for user input is in place.

[2022-05-16 17:07] alphan commented on #11871
No, I see an erase command followed by `0x00`, which I think because the sw clears the intr_state register before reading from the cmdfifo.

[2022-05-16 17:26] alphan commented on #11871
I moved the clearing of INTR_STATE to the end of `spi_device_cmd_get()` and here is what I get:

* host sends `CHIP_ERASE` (opcode `0xc7`) to the spi_device, `spi_device_cmd_get()` returns command opcode `0xc7`,
* host sends `READ_STATUS` (opcode `0x05, should be handled by the hardware) to the spi_device, `spi_device_cmd_get()` returns command opcode `0x00`.
* subsequent `READ_STATUS` commands se

[2022-05-16 17:27] a-will commented on #12439
Now that we have hardware handling WREN / WRDI, we cover the common use cases with the capability to handle just one uploaded command. Any operation on the arrays causes BUSY to assert, and flash parts do not decode most commands while BUSY.

The program/erase suspend commands don't fit into that set, but I suspect we don't intend to support them. The two-command soft reset sequence also doesn't s

[2022-05-16 17:33] eunchan commented on #11871
The multiple in this context is, when SW didnt pop the entry from the FIFO. The logic creates a pulse again at the next SPI transaction. The logic inside SCK cannot see if the interrupt is cleared by SW or not. Just keep creating events if the FIFO is not popped.

[2022-05-16 17:37] eunchan commented on #11871
It may be considered same as use level signal as event. But the logic should not create a level. If SW pops the entry from CMD_FIFO and the next command is also upload command, then the level stays high. SW could not detect if the command is uploaded or not correctly.

[2022-05-16 17:37] eunchan commented on #11871
Sorry for making this complicated. Let me prepare full SPI_DEVICE IP level test for this. The previous test I did was in spid_upload module level pre_dv. I think I should make this to full IP level test to catch this issue.

[2022-05-16 17:45] cindychip opened #12693 "[fpv/lc_ctrl] Does not treat long enum numbers correctly"
In LC_CTRL, these two sec_cm assertions failed: https://github.com/lowRISC/opentitan/blob/master/hw/ip/lc_ctrl/rtl/lc_ctrl.sv#L729-740
because enum type incorrectly categorized two declared values.
https://github.com/lowRISC/opentitan/blob/master/hw/ip/prim/rtl/prim_sparse_fsm_flop.sv#L43-50

I think the reason is because the enum type is too large -
The lc_state_e is 320 bits enum, and lc_cnt_e i

[2022-05-16 17:47] weicaiyang commented on #12130
@visbaz LMK which items are done. I can check off them

[2022-05-16 18:08] moidx commented on #2652
I believe we can close this. @jadephilipoom please re-open if we need to discuss (1.).  Thanks

This was not implemented, but we expect the cryptolib to use the seed additional data interface instead. @jadephilipoom to confirm this is ok.

There is a CSRNG instance available to software. We are planning to use this in general operations.

[2022-05-16 18:08] #2652 closed

[2022-05-16 18:08] tjaychen commented on #2957
lets do it! (i'll close it first :) )

[2022-05-16 18:29] msfschaffner commented on #10541
We've presented our D2S process to Nuvoton last week, and plan to discuss the logistics this week. Will update this once that part has become clear.

[2022-05-16 18:29] drewmacrae opened #12696 "[bazel/ci] spliced mask_rom depends on meson built software"
This will also include a structured release artifact, with https://github.com/bazelbuild/rules_pkg/releases

[2022-05-16 18:40] tjaychen commented on #12689
alright, it appears i forgot to handle the case where software supplies an invalid command.
So what happens is that the flash transaction will never finish (since it never really gets started from the HW perspective).

I will fix this and have it explicitly error back (i think).

[2022-05-16 19:38] jeoongp commented on #11858
I've commented on https://github.com/lowRISC/opentitan/pull/12627 as follows.

@tjaychen, @jdonjdon thanks for comments. We can think two options here.

rstmgr knows u_daon_por_io_div4 is a leaf that generates rst_ni. So, we can add one bit input at rstmgr_leaf_tst to indicate it's the root that generates rst_ni and propagate it through por_io_div4. Leaf FSM needs to be updated to skip Error state

[2022-05-16 19:40] engdoreis commented on #12670
Yes, The test rom is the first boot stage and it would be responsable for configuring the address translation right?
In that case I'll start that as soon the `rv_core_ibex` dif PR https://github.com/lowRISC/opentitan/pull/12662 get merged

[2022-05-16 20:21] tjaychen commented on #11858
@jeoongp how do you think we should indicate that `por_io_div4` is `rst_ni`?
Right now this information is encoded [here](https://github.com/lowRISC/opentitan/blob/master/hw/top_earlgrey/data/top_earlgrey.hjson#L381).  Were you thinking about updating the templates and generation to pass that info in?

I feel like option 1 is better than 2. Since really what we want to do is skip the consistency c

[2022-05-16 20:48] #9932 closed

[2022-05-16 21:06] tjaychen commented on #12500
@weicaiyang this issue should be fixed now.
let me know if you still run into problems. If not, feel free to close this.

[2022-05-16 21:14] jeoongp commented on #11858
Thanks @tjaychen. Yes, I think the connection/data propagation to be updated in that way. But, we need to also manually update the leaf FSM to skip the consistency check?

[2022-05-16 21:22] tjaychen commented on #11858
ah i think the leaf module already has a parameter bit that skips the consistency check (see [here](https://github.com/lowRISC/opentitan/blob/master/hw/ip/rstmgr/rtl/rstmgr_leaf_rst.sv#L14)). But you should definitely feel free to modify if it makes sense to!

[2022-05-16 21:36] timothytrippel commented on #12670
yeah thats correct, the test ROM is the first to boot for tests, and is responsible for booting the OTTF. Ideally, we want the translation setup to be the same as the mask ROM, since we need OTTF-launched tests (i.e., chip-level tests and mask ROM E2E tests) to be bootable by either test or mask ROMs

[2022-05-16 21:42] jeoongp commented on #11858
Thanks for info! I did not expect the automated parameter propagation. I will update only template files.

[2022-05-16 21:46] patel-madhuri commented on #12545
@cindychip The toggle coverage and expression coverage after adding exclusion have below holes:
1. The pin **cio_pda0_tx_o** is excluded from the toggle coverage which I don't think we should do it as it is data signal for channel 0.
2. The pins **tl_i.a_param, tl_i.a_user, tl_o.d_param, tl_o.d_sink, devmode_i** from **pattgen** are excluded but they are not excluded from **pattgen.u_reg**. Do we

[2022-05-16 22:18] weicaiyang commented on #12688
I think so. Perhaps @patel-madhuri can also double check.
This check that the flash_wp_l is low regardless of the value of pin flash_wp_l_in
https://github.com/lowRISC/opentitan/blob/b465ef9965c0b2cff2f8aebc3686be46f0b1ba91/hw/ip/sysrst_ctrl/dv/env/seq_lib/sysrst_ctrl_smoke_vseq.sv#L28

This check that the ec_rst pulse is generated after reset.
https://github.com/lowRISC/opentitan/blob/b465ef9965c

[2022-05-16 22:28] weicaiyang commented on #12500
Thanks @tjaychen
close via https://github.com/lowRISC/opentitan/pull/12613

[2022-05-16 22:28] #12500 closed

[2022-05-16 22:56] tjaychen commented on #11858
thanks Joshua!

[2022-05-16 23:08] tjaychen commented on #11576
ah you're looking at the decoder.
It's true that we calculate it based on the full word, but the problem is on the encoder side.

Like what @sriyerg is showing [here](https://github.com/lowRISC/opentitan/blob/834bbe5fc65fe32742b86be6fe22e81242219289/hw/ip/tlul/rtl/tlul_cmd_intg_gen.sv#L35).  We use the mask bit to actively zero out the data. If we can get away without doing this, it would be bette

[2022-05-16 23:36] weicaiyang commented on #11576
I see. That problem is on the encoding side. Thanks for the clarification. Using raw data is better.

[2022-05-16 23:44] tjaychen commented on #11576
i just pushed a raw PR to try it out. Assuming we do this though, it would mean that all hosts / DV drivers in the system can not drive `x`, we have to drive only random.  Since the whole integrity schemes breaks when it sees an `x`. That might have been why I originally did the masking..i might have just assumed there were x's, or maybe ibex was spitting out x's

[2022-05-16 23:55] weicaiyang commented on #11576
sounds good. The DV driver won't drive X when valid is high.

[2022-05-17 00:28] eunchan commented on #11871
Here's findings:

- After chip erase, I popped the FIFO entry and cleared the interrupt. I don't see any further interrupts so far. I need to think about a little bit deeper how ghost interrupt may occur.
- Page Program, as the opcode(`0x02`) is adjacent to Normal Read (`0x03`) I see an issue on the mux. the DP select signal is latched by SPI out clock (inverted SCK). So, when opcode is written, t

[2022-05-17 00:36] drewmacrae opened #12704 "[bazel/ci] replace instances of find with cquery"

[2022-05-17 01:16] tjaychen commented on #11871
hey @eunchan let me know if you want any help brainstorming or anything :)

[2022-05-17 02:28] ChiaweiW opened #12706 "Clarification on FLASH_CTRL.ADDR register definition"
Hi All, I am new to OpenTitan SW development and I have a question regarding the FLASH_CTRL.ADDR register.
The document says the address is relative to the requested partition.

`Start address of a flash transaction. This is a byte address relative to the flash only. Ie, an address of 0 will access address 0 of the requested partition.`

However, the code snipets from `info_page_addr()` in `flash_

[2022-05-17 03:08] ChiaweiW commented on #12706
I think I got the idea now.
Each partition is addressed only by bank, page, and offset.
So it is not conflicted with the partition selection located at FLASH_CTRL.CONTROL.
Please correct me if any misunderstanding. I shall close this now. Thanks.

[2022-05-17 03:08] #12706 closed

[2022-05-17 10:57] rswarbrick opened #12707 "[ci,nightly] OTBN nightly tests are broken"
Looking at the [recent results page](https://reports.opentitan.org/hw/ip/otbn/dv/uvm/2022.05.15_22.01.11/results.html), it seems that OTBN tests are running on a machine that can't access the internet.

This presumably broke as part of switching dvsim over to using Bazel (maybe 6134eb9?). Tagging @timothytrippel accordingly, but it might also need someone from the Google DV team, who I understand

[2022-05-17 11:01] prajwalaputtappa opened #12708 "edn_rnd_req_o not asserted when a cssr instruction is run on RND_PREFETCH register"
@GregAC , @rswarbrick ,

In this testcase the following instruction is being run:
270:	7d892ff3          	csrrs	x31,0x7d8,x18
Please note 0X7d8 corresponds to RND_PREFETCH register.
When this instruction is run, the RTL fails to set edn_rnd_req_o.

This is because ispr_rdata_intg_err has been set. Please find the screenshot below:

![Screenshot from 2022-05-17 12-00-28](https://user-images.githubu

[2022-05-17 11:34] nikola-miladinovic commented on #12544
@cindychip the workaround is: remove set_fsm_arc_scoring from the CCF. I tried it and it worked. It might affect FSM transition coverage.

[2022-05-17 11:43] rswarbrick commented on #11576
Hopefully Ibex won't either :-)

[2022-05-17 15:06] dkabely-ot opened #12711 "[dv/formal] FPV & connectivity tests support for foundry DB"
Currently, only OS implementation is supported for formal (FPV & connectivity).
Support for foundry implementation formal connectivity tests is needed.

[2022-05-17 15:50] jadephilipoom commented on #2652
Discussed offline -- it looks like the CSRNG does in fact support additional data (see https://docs.opentitan.org/hw/ip/csrng/doc/#command-description) and fully meets the needs of the cryptolib.

[2022-05-17 16:17] timothytrippel commented on #12707
Ah I think I know what the issue is. @cindychip I can take care of this.

[2022-05-17 17:02] msfschaffner commented on #2652
Thanks for confirming @jadephilipoom!

[2022-05-17 17:22] eunchan commented on #11871
I hope #12717 addresses the `Page Program` issue. I am still not sure how the `Read Status` issue happens. I may play with the latency of checking the `Chip Erase` command from SW so that there maybe a race condition or not. @alphan Is that issue consistent? (100% reproducible?)

[2022-05-17 17:25] alphan commented on #11871
Yes, it was quite reproducible for me. I can give it another try when trying the bitstream of #12717 and let you know if I notice any changes.

[2022-05-17 17:25] tjaychen commented on #1868
The reg tool behavior (and this is consistent with the design right now) is shown [here](https://docs.opentitan.org/doc/rm/register_tool/#error-responses)

The main thing is if we issue a byte write to device CSR, the address must be word-aligned.  Is that what you guys already do in ibex @GregAC ? it kind of sounds like it.

[2022-05-17 17:29] eunchan commented on #11871
If the value is consistently `0x00` then it is the second interrupt for the first Chip Erase command. I think clearing the interrupt status or fetching the entry from the CMDFIFO has issues..

[2022-05-17 17:31] tjaychen opened #12718 "[reg/cdc] reg cdc issues when destination clock is faster than primary clock"
@a-will identified an issue in the current regtool cdc scheme where if the async clock speed is close to primary clock speed, there are issues with how the data update is handled.

Specifically, the `src_update` is created using a `prim_sync_reqack`; however, if the primary clock is less than 4x faster than the async clock, there is no guarantee that the hw won't change the data again since there

[2022-05-17 17:31] tjaychen commented on #12718
@a-will

[2022-05-17 17:32] tjaychen commented on #12706
yes that's right!

[2022-05-17 17:33] alphan commented on #11871
Yes, the value is consistently `0x00`. I've been working around both of these issues with a simple local patch. For what we suspect to be an extra interrupt, ignoring the command if `cmd.opcode == 0x0` works reliably.

[2022-05-17 17:35] eunchan commented on #11871
How did you WA the `Page Program` issue? I think as long as we enable WREN/ WRDI, this issue should occur for every `Page Program`.

[2022-05-17 17:38] alphan commented on #11871
Correct, but during bootstrap we don't really expect any command other that PAGE_PROGRAM to have payload. So, I just set cmd.opcode to 0x02 if there is a payload.

[2022-05-17 17:45] cindychip commented on #12711
Thanks Dror for the issue. I will work on this and get a proposal about file locations and settings etc this week.

[2022-05-17 19:27] msfschaffner opened #12722 "[fpga] Pinout alignments for integration testing"
In order to facilitate debug and integration testing, we need to make sure both the FPGA and ASIC mappings are as aligned as possible.
Specifically, that means the pinmux should be configured to map out all relevant interfaces as defined by the main use case, and the ASIC testbench and FPGA XDC files need to be aligned accordingly.

While this is possible for most functional IOs, it is a bit more

[2022-05-17 21:12] #12639 closed

[2022-05-17 22:01] jeoongp commented on #11858
This issue seems to be resolved by updating the template files and skipping the consistency check. But, another errors show up as follows.

* `UVM_ERROR (uvm_hdl_vcs.c:985) [UVM/DPI/HDL_SET] set: unable to locate hdl path (tb.dut.u_daon_por_io_div*.gen_rst_chk.u_rst_chk.sync_parent_rst)` has 50 failures:
    * Test rstmgr_leaf_rst_cnsty has 50 failures.
        * 0.rstmgr_leaf_rst_cnsty.3811576592

[2022-05-17 22:49] a-will commented on #12696
Hm... I'm not sure what you mean by "wildcards for artifacts." What are you looking to do with a wildcard?

[2022-05-17 23:21] jeoongp commented on #12523
I was not able to generate this issue on a chip level test but did not work.
As discussed with @tjaychen, we need a new test as follows.

Timothy Chen, 46 min
there is no test that creates this issue yet
you basically need a top level test
that creates a fault
inside clkmgr/rstmgr/pwrmgr
then you will see that the fault never goes away
even if the system fully escalates
you can probably talk to Ci

[2022-05-17 23:53] ChiaweiW commented on #12706
Thanks for double confirming this!

[2022-05-17 23:55] drewmacrae commented on #12696
meson seems to wrap up all the products of sw/... that it knows how to build. It doesn't look to me like there's a way to do that without dropping an entry into each of 300 BUILD files.

[2022-05-18 00:19] jeoongp commented on #11858
I and @jdonjdon removed some TB assertions on skipped leaves to resolve these errors. New PR was created in https://github.com/lowRISC/opentitan/pull/12729

[2022-05-18 00:19] #11858 closed

[2022-05-18 07:53] dkabely-ot commented on #12711
Thanks Cindy!

[2022-05-18 13:12] rswarbrick commented on #3808
The plan is now that we're going to wire Ibex testing in with dvsim, so this should be a non-issue. (Obviously, *completing* the verification is another matter, but maybe beyond the scope of this! :-D)

[2022-05-18 13:12] #3808 closed

[2022-05-18 14:16] GregAC commented on #11019
Regarding the PC hardening, @andreaskurth has implemented something here: https://github.com/lowRISC/opentitan/pull/12518 however we don't think it adds any attack resistance over just checking the prefetched instruction matches the instruction requested by the execute stage. I have introduced a new fatal error for a mismatch here in: https://github.com/lowRISC/opentitan/pull/12734

The prefetch s

[2022-05-18 14:59] mwbranstad opened #12736 "[EDN] Add common tests for common CMs"
Steve/Weicai: Add common tests for: EDN.CONFIG.MUBI, EDN.MAIN_SM.FSM.SPARSE, EDN.ACK_SM.FSM.SPARSE, EDN.CTR.REDUN, EDN.TILE_LINK.BUS.INTEGRITY V2S Item

[2022-05-18 15:16] drewmacrae opened #12739 "[opentitan-tool] cw310 tests in bazel sometimes receive a truncated test rom and crash"
About 1% of the time, the test rom check reports:

[code]

and the test fails. We should consider the following

- [ ] Debug the Test ROM reads to make them more consistent
- [x] When an empty Test ROM identifier is received we should just reload the Test ROM.

[2022-05-18 15:17] drewmacrae commented on #12739
For now I've marked the cw310 tests as flaky and bazel can work around the failures at very low cost.

[2022-05-18 15:42] drewmacrae commented on #12739
Can be reproduced with a command like:
[code]

[2022-05-18 15:43] drewmacrae commented on #12739
repeating singular tests individually appears not to cause the failures [as often?]

[2022-05-18 16:40] a-will commented on #12696
Mostly, meson allows us to distinguish between an OBJ_DIR and a BIN_DIR, and it happens to be convenient that the contents of the BIN_DIR is what you'd want in this case.

By contrast, bazel does not have that separation, so there isn't that convenient directory to simply copy over (without a lot of extra baggage, that is).

For what it's worth, we likely could get a representative list of targets

[2022-05-18 16:52] timothytrippel commented on #12707
This has been fixed now I think, see the [latest regression results](https://reports.opentitan.org/hw/ip/otbn/dv/uvm/latest/results.html).

[2022-05-18 16:52] #12707 closed

[2022-05-18 17:24] cindychip commented on #12339
Stress_all_with_rand_reset moved to V3.

[2022-05-18 17:27] #8277 closed

[2022-05-18 17:44] davebwil commented on #12688
Hi @msfschaffner, I had a bit of a misunderstanding with the top level test. I had assumed there would be a configurable action for the combo detect function to set the flash WP but didn't see it.
I can see that the default reset state of the pin override block enables and sets the WP signal as required following reset.  I have added a check to my test which programs the override for the signal hi

[2022-05-18 17:49] mwbranstad commented on #12736
@msfschaffner thanks for cleaning this up. I thought the function to convert a list item to an issue was very useful, but it works best if the list item looks like the issue format.

[2022-05-18 18:10] msfschaffner commented on #12688
Ok great, thanks @davebwil!

[2022-05-18 18:10] #12688 closed

[2022-05-18 19:04] alphan commented on #9227
Discussed this with @cfrantz and @moidx offline and we decided to reset unconditionally on PoR and add an OTP item to configure the mask as needed. Created #12744.

[2022-05-18 19:04] #9227 closed

[2022-05-18 19:43] drewmacrae commented on #12739
Thanks for your help with fixing opentitan-tool Chris. Seems to have worked and is included in #12493

[2022-05-18 19:56] alphan commented on #11871
@eunchan, I tried the bitstream of this [run](https://github.com/lowRISC/opentitan/runs/6495040901). It looks like the issue with page program is resolved: I get 0x02 instead of 0x00. But, the ghost interrupt issue remains, i.e. read_status command results in an interrupt even though it's handled by hw.

[2022-05-18 20:22] visbaz commented on #12130
Viswa: Finalize decision on Winbond. Proposal: Change this to a V3. Make a note on relevant issue: SPI_HOST: winbond flash spi model  #11292
 Weicai/Dom: Can Winbond just contribute their BFM?
 Viswa: Document changes to some structs in the DV document.
 Viswa: Update SPI_AGENT documentation to reflect changes to monitor, as needed.
 Viswa/Martin/Weicai: Confirm that implemented covergroups match

[2022-05-18 20:35] #6965 closed

[2022-05-18 20:55] eunchan commented on #11871
@tjaychen gave some hints of possible scenario.

@alphan if somehow SPI chip select has glitches, this issue may occur. If CSb asserted without SPI clock, the interrupt indicator remains high at the CSb release. It then triggers the `cmdfifo_notempty` interrupt without CMDFIFO entry. It is due to the status is reset by CSb asserted pulse signal not by CSb assertion (1->0).

To prove this hypothesi

[2022-05-18 21:01] tjaychen commented on #11576
i THINK ibex should be okay since we go out of our way to 0-ize all the registers right at the start :)
At least that's my theory...

[2022-05-18 21:01] #11576 closed

[2022-05-18 21:25] eunchan opened #12747 "[spi_device] Chip Select glitch detector"
Many SPI_DEVICE logics rely on a clean Chip Select signal. If Chip Select signal has glitches, the SPI_DEVICE behaves incorrectly. This issue is to add CS glitch detectors (two: one for SPI, other for TPM).

The glitch detectors catch CS assertion and deassertion without enough SPI CLK edges:

- register is reset to 1 by CSb
- register is cleared to 0 by csb_assertion_pulse
- register is latched b

[2022-05-18 22:00] #11747 closed

[2022-05-18 23:56] msfschaffner commented on #12736
Oh that's why this looked this way ;). No worries - some manual steps for applying the labels are required anyways...

[2022-05-19 00:00] weicaiyang commented on #10791
@timothytrippel can you add a priority tag for this?

[2022-05-19 00:00] weicaiyang commented on #10928
@timothytrippel can you add a priority tag for this?

[2022-05-19 00:00] weicaiyang commented on #10929
@timothytrippel can you add a priority tag for this?

[2022-05-19 00:47] drewmacrae opened #12755 "[bazel/ci] Execute tests on CW310 failing with bitstream not found in some commits"
TLDR: I have a low confidence the correct bitstreams are running on the CW310

[Here we see a failing CI test that doesn't make a lot of sense to me](https://dev.azure.com/lowrisc/opentitan/_build/results?buildId=80645&view=logs&j=be0b5a13-ded6-5a2a-3e48-80a10e7eef12&t=2aaa9e8b-9b00-5802-e0c1-7bc55418740f&l=79)
[code]

[2022-05-19 00:48] cindychip commented on #12545
Thanks for the message @patel-madhuri!
1). I can add back cio_pda0_tx_o
2). This is already done by Weicai's fix. You should see it from today's PR.
3). Agree the condition coverage is not really needed there. Let me make a PR to remove it.

[2022-05-19 00:51] drewmacrae commented on #12755
I think the bitstream is properly placed and specified in the commandline at e519772, I'm not quite sure why bazel's using f770f3 as a key yet

[2022-05-19 00:52] drewmacrae commented on #12755
Should we roll-back #12493?

[2022-05-19 01:08] drewmacrae commented on #12755
f770f3 appears to be latest and/or a parent commit.

[2022-05-19 01:17] drewmacrae commented on #12755
Affects 3/9 tests run since merging that weren't broken by running old scripts. Rerunning it may have fixed it in one instance.

[2022-05-19 03:15] timothytrippel commented on #10930
Done.

[2022-05-19 04:38] weicaiyang commented on #12130
Done.

[2022-05-19 08:17] rswarbrick commented on #12707
Brilliant, thanks!

[2022-05-19 08:45] eshapira commented on #12565
Closed via PR #12620

[2022-05-19 08:45] #12565 closed

[2022-05-19 10:27] GregAC commented on #10916
Just reviewed the timeout here, we're still on 90 minutes. Vast majority completed in under 50 minutes but some are taking over an hour. I've decided to leave the timeout as is. Whilst the slight variability in run time and long timeout isn't ideal I don't think it's been causing us any noticeable issues (private CI queuing generally isn't the factor slowing down CI, public CI is). Closing this is

[2022-05-19 10:27] #10916 closed

[2022-05-19 10:53] GregAC opened #12764 "[dv/dbg] End to end test for debug"
We should have a full end to end test for debug that uses OpenOCD and GDB connected to an OT target (ideally we'd have this run against both the verilator simulation and the FPGA, though FPGA should take priority).

The test would load some binary, start OpenOCD and GDB, checking it all connects successfully. Then test the following features:

1. Breakpoints, set some breakpoints and check GDB bre

[2022-05-19 11:24] drewmacrae commented on #12755
This is generating some churn and some delay (~ten more minutes to approve some passing PRs during the workday, longer if someone can't rerun the failing test) now but it shouldn't have a large impact. I've marked it as a P1 but I'm investigating further.

[2022-05-19 12:33] #11431 closed

[2022-05-19 13:04] drewmacrae commented on #12755
I've set up a draft PR to help investigate #12766

[2022-05-19 13:05] GregAC opened #12768 "[otbn,rtl] Potential control flow hardening"
We could add some extra hardening to OTBN to detect glitching on control signals related to program flow.

Already we have a pre-decode stage that pre-decodes control related to the bignum data path. This pre-coded control is cross checked against what the actual decoder produces and a fatal error raised if they do not match.

We could extend this checking to some aspects of the control flow:

- W

[2022-05-19 13:11] arnonsha opened #12769 "[fusesoc] fusesoc 0.2 breaks the freeze script required for TO"
Hi
After running "pip3 install --user -r python-requirements.txt" my fusesoc was updated to 0.2
Now fusesoc fails generating some of the prim cells.

[code]

* technology prim name was replaced by xxxxxx

More ever: There's no error message, and fusesoc exit with 0 status. However prim is not generated at all.

This doesn't happen with fusesoc 0.1.

@NoamGottlieb
@Jacob-Levy

[2022-05-19 13:28] drewmacrae commented on #12755
...soo, #12493 and the testing I did of it implicitly trusted the `--offline` argument to restrict access to unhandled bitstreams in [bitstreams_workspace.py](https://cs.opensource.google/opentitan/opentitan/+/master:rules/scripts/bitstreams_workspace.py;l=27?q=bitstream&ss=opentitan%2Fopentitan). I'm worried because `--list` shows that the available bitstreams include a large number of bitstreams

[2022-05-19 13:31] drewmacrae commented on #12755
This could be causing the failure here: https://github.com/lowRISC/opentitan/pull/12754/checks?check_run_id=6500036645

[2022-05-19 13:37] drewmacrae commented on #12755
That commit doesn't seem to do anything that would change the bitstream so I don't think it's causing the issue.

[2022-05-19 13:43] drewmacrae commented on #12755
I'm seeing other failures which suggest this may be allowing breaking PRs to reach master by validating previous versions of a bitstream.

[2022-05-19 14:11] drewmacrae commented on #12755
I'll keep an eye on batched CI runs, failures should appear there.

[2022-05-19 14:13] alphan opened #12770 "[opentitantool] Do hjson files really have octal fields?"
This came up during our 1:1 with @jon-flatley. It's not clear to us if the hjson files that opentitantool parses really have octal encoded fields or this was just a oversight, e.g. padding with zeros.

[2022-05-19 14:32] drewmacrae commented on #12755
I'm also seeing checkouts of master fail on my local cw310, which has me nervous.

[2022-05-19 14:54] rswarbrick commented on #11336
@GregAC: I think this is all done now, right?

[2022-05-19 15:05] rswarbrick commented on #9664
This one is definitely done! (e150160a6cdcad2c6c3de4ec9c26b0f1224051b4)

[2022-05-19 15:07] #9669 closed

[2022-05-19 15:09] rswarbrick commented on #6172
This was a reasonably generic "harden some stuff" placeholder that we put in when we weren't exactly sure what we needed to do. The D2S review meeting and follow-ups gave us a much more precise definition of what needs doing (see e.g. #11019). Closing this accordingly.

[2022-05-19 15:09] #6172 closed

[2022-05-19 15:10] rswarbrick commented on #2498
@GregAC: This is implemented, but do we document it anywhere? (I guess a more general question is what documentation we're generating for FI countermeasures, and where it should live). Let's leave this open until we've got an answer for the loop hardening, at least.

[2022-05-19 15:11] rswarbrick commented on #12224
@GregAC: What's the follow-on action for this?

[2022-05-19 15:14] rswarbrick commented on #12061
I think we've de-scoped this. Removing D2S milestone accordingly.

@GregAC: Please put it back if I'm wrong :-)

[2022-05-19 15:15] tjaychen commented on #12769
@arnonsha what python version are you running?
Because I think the process you're describing here is run every night for CI, so I am a little surprised there would be something wrong.

Just to confirm, are you seeing this error for every primitive?  Or just this one specifically?

[2022-05-19 15:16] rswarbrick commented on #11019
Since this issue has slightly become a burn-down list of "stuff to do before D2S", I've added a couple of extra items at the bottom of the list, based on looking at the M2 list in the rather slick OpenTitan project view (https://github.com/orgs/lowRISC/projects/13/views/9).

[2022-05-19 15:17] rswarbrick commented on #11768
Pretty certain this is fixed (based on some otbn_escalate tests I ran today)

[2022-05-19 15:17] #11768 closed

[2022-05-19 15:22] rswarbrick commented on #8076
The milestone was wrong here: this is about hitting a specific coverage point (from when I went through a coverage report trying to work out what we were missing). Moving to V3 and removing from the M2 project.

[2022-05-19 15:22] rswarbrick commented on #8077
The milestone was wrong here: this is about hitting a specific coverage point (from when I went through a coverage report trying to work out what we were missing). Moving to V3 and removing from the M2 project.

[2022-05-19 15:22] rswarbrick commented on #8079
The milestone was wrong here: this is about hitting a specific coverage point (from when I went through a coverage report trying to work out what we were missing). Moving to V3 and removing from the M2 project.

[2022-05-19 15:23] rswarbrick commented on #8080
The milestone was wrong here: this is about hitting a specific coverage point (from when I went through a coverage report trying to work out what we were missing). Moving to V3 and removing from the M2 project.

[2022-05-19 15:23] rswarbrick commented on #8087
The milestone was wrong here: this is about hitting a specific coverage point (from when I went through a coverage report trying to work out what we were missing). Moving to V3 and removing from the M2 project.

[2022-05-19 15:24] rswarbrick commented on #8089
The milestone was wrong here: this is about hitting a specific coverage point (from when I went through a coverage report trying to work out what we were missing). Moving to V3 and removing from the M2 project.

[2022-05-19 15:24] rswarbrick commented on #8090
The milestone was wrong here: this is about hitting a specific coverage point (from when I went through a coverage report trying to work out what we were missing). Moving to V3 and removing from the M2 project.

[2022-05-19 15:28] #12440 closed

[2022-05-19 15:30] #12007 closed

[2022-05-19 15:34] arnonsha commented on #12769
To bypass this I returned back to fusesoc 0.1

[2022-05-19 16:13] TimEwins opened #12773 "[flash_ctrl] Correct Use of Interrupt Signals"
Hi @tjaychen

I am looking at the Flash Ctrl Interrupts again, following your RTL updates from a while back now.

I have been having problems getting the interface between the host (the TestBench) and the DUT working for any number of words (using interrupts).  I think this may be due to the difference in speed between the Host (TB) and the DUT (HW), as previously discussed.

The DUT is faster tha

[2022-05-19 16:15] TimEwins commented on #12773
Another question … we now have these parameters defined

  parameter uint ProgFifoDepth = 4;
  parameter uint ReadFifoDepth = 16;

This ‘seems’ to suggest that the Fifo depths for read and prog are different?

Our existing tests are still working assuming both read and prog are 16?  Perhaps it’s the HW allowing backpressure?

[2022-05-19 16:37] rswarbrick commented on #12769
The error message here means "You don't have verible installed, so we're falling back to a regex parser". I think you'll find that everything works despite the message. (It does here at any rate: I keep meaning to install Verible and haven't got around to it)

[2022-05-19 17:33] cindychip opened #12775 "[dv/chip] Allow randomly choose to use internal/external clock"
For lc_walkthrough series of tests, add randomizations so we can randomly choose to use internal/external clock if allows.

[2022-05-19 17:40] tjaychen commented on #12768
Adding Bilgiday for comments.

[2022-05-19 17:46] davebwil opened #12776 "meson_init.sh not working"
On a clean checkout running **meson_init.sh** does not complete correctly and returns with the following error (this is before trying to build and run any specific test)

[code]

Is there a soultion for this? I currently have to work around it by removing references to rom_ext_signer from the following:
sw/device/tests/meson.build
sw/device/silicon_owner/bare_metal/meson.build
sw/device/silicon_cr

[2022-05-19 17:54] #7887 closed

[2022-05-19 18:30] msfschaffner opened #12777 "[rv_core_ibex] Double check whether branch-predictor should be enabled"
the number of HW breakpoints was an update requested by @mundaym and we had an issue hanging around for it.
The one I'm curious about is the branch predictor, since that changed from 1 -> 0.

_Originally posted by @tjaychen in https://github.com/lowRISC/opentitan/issues/12742#issuecomment-1131833143_

[2022-05-19 18:48] msfschaffner commented on #12769
instructions on how to install the correct version of Verible can be found here:
https://docs.opentitan.org/doc/getting_started/#step-6a-install-verible-optional

[2022-05-19 19:02] arnonsha commented on #12769
Thanks but I do have verible installed. From the same shell:

v0.0-2135-gb534c1fe
Commit  2022-04-07 12:23:30 -0700
Built   2022-04-07T19:52:54Z

Python 3.8.1

[2022-05-19 19:12] arnonsha commented on #12769
No it doesn't end up well. This is why I opened this issue. There no "generated" directory under build/lowrisc_systems_chip_earlgrey_asic_0.1/syn-icarus/

@tjaychen , This is the list of all failing prim cells:

INFO: Generating lowrisc:prim:clock_gating-impl:0
INFO: Generating lowrisc:prim:clock_inv-impl:0
INFO: Generating lowrisc:prim:flop-impl:0
INFO: Generating lowrisc:prim:flop_en-impl:0
INFO

[2022-05-19 22:07] rswarbrick commented on #12768
To me, this seems like a reasonable thing to do. Honestly, it's only going to add a small fraction of what we're going to have to do for V2S testing anyway. But (obviously) this needs specifying and implementing before we declare D2S, or it shouldn't go in at all.

[2022-05-19 22:13] eunchan opened #12785 "[chip] Incorrect PC value after synchronous ISR"
Related to #12754
After applying #12782, the return from ISR works. However, right after return from the software ISR, the static variable address is mis-calculated.

`software_intr_triggered` address should be *0x10000064*. However, the core accesses *0x0FFFFD3C* for the address.

The disassembled code shows the code uses `AUIPC` and `ADDI` to access the variable:

[code]

So, it seems that the P

[2022-05-19 22:47] eunchan commented on #12785
As `compute_mepc_on_synchronous_irq` manipulates `MEPC` to point to the next instruction, the `ADDI` never executed. These instructions are right next to SWI.

[2022-05-19 22:48] eunchan commented on #12785
Need to check what is the proper step to call software interrupt...

[2022-05-19 22:56] eunchan opened #12786 "[doc] asm coding style `asm()` does not work"
`asm()` does not work in current build flow. `__asm__()` should be used. The asm coding guideline refers `asm()`.

[2022-05-19 23:17] eunchan opened #12787 "[ibex] Software Interrupt is not synchronous interrupt"
CC: @tjaychen @GregAC @a-will

Not sure who should I assign.

The software interrupt in `ottf_isrs.S` is [assumed as a synchronous interrupt](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/lib/testing/test_framework/ottf_isrs.S;l=167?q=ottf_isrs.S&ss=opentitan%2Fopentitan). However, RV_PLIC raises the interrupt one cycle later it gets the write request. The write request from

[2022-05-19 23:20] eunchan commented on #12787
I revised #12754 by adding two `NOP`s after write to `MSIP`. But this should be temporary.

[2022-05-19 23:32] eunchan commented on #12787
@GregAC I think Ibex would be better to have MSIP internally to reduce the latency. WDYT?

[2022-05-19 23:51] eunchan commented on #12755
#12782 also experiences this issue.

[2022-05-20 00:05] a-will commented on #12787
It looks like we misunderstood, and the software interrupts are asynchronous traps. Shall we close?

[2022-05-20 00:07] #12787 closed

[2022-05-20 00:13] eunchan commented on #12785
Closing this as fixes are merged.

[2022-05-20 00:13] #12785 closed

[2022-05-20 00:37] #12755 closed

[2022-05-20 07:55] timothytrippel commented on #12776
Hmmm, that's odd, I just pulled from master and it seems to be working on my machine.

Normally, we would triage and solve this issue, but I'm not sure it's worth the time in this case, since once #12761 merges (hopefully tomorrow), the nightly regressions will use Bazel only.

There are several examples I will share with you offline, but to also provide an example here, you can use the `bazel bui

[2022-05-20 07:55] #12776 closed

[2022-05-20 09:40] rswarbrick opened #12792 "[tlul,reg,otbn] Something's not wired up correctly for TLUL errors..."
... but I can't work out what!

The nightly tests are currently failing `otbn_csr_mem_rw_with_rand_reset` with quite a few seeds. The problem turns out to be that a TL error sequence writes something that's expected to cause an error to some register. We then expect OTBN's `STATUS` register to switch to `0xff`. It doesn't, and the test fails when we read the register.

The weird bit is that I can'

[2022-05-20 09:57] GregAC commented on #12787
Just to add a bit of background I believe the software interrupt is intended as a simple inter core signalling mechanism. One core interrupts another to let it know some event has happened for instance. Note that while the observed latency measured by instructions executed between interrupt raised and interrupt taken may be 2 in this instance Ibex does not make any latency guarantees and all inter

[2022-05-20 10:01] GregAC commented on #12777
We don't intend to use the branch predictor for OpenTitan, indeed I wasn't aware it had been turned on here.

It does give some performance benefit but we've had a few issues reported for it in the Ibex repository and I never really did any detailed verification of it.

We could turn it on and properly verify it now but I don't think the performance benefits outweigh the added verification risk an

[2022-05-20 11:21] GregAC commented on #12061
I've tagged with FutureRelease as it's probably a good thing to do but not essential now.

[2022-05-20 11:21] GregAC commented on #7888
We haven't and we probably should. I'll add it to the D2S task list.

[2022-05-20 11:31] GregAC commented on #12224
I think we'll leave things as is. Effectively what we have here is potentially more blanking than we actually need. We're agreed the per register write data blanking is needed (which is the part that's expensive in area), maybe we can remove some blanking from the ALU data path but it's not a big deal to leave in.

[2022-05-20 11:31] #12224 closed

[2022-05-20 11:32] GregAC commented on #11336
Yes, this is implemented via the 'internal interrupt' concept.

[2022-05-20 11:32] #11336 closed

[2022-05-20 11:36] TimEwins commented on #12773
I think this method is flawed, as soon as I add more code, things stop working again.  I am noe working on a solution that uses SV queues to record harware interrupts as they occur.

[2022-05-20 14:50] patel-madhuri commented on #12650
@weicaiyang Thank you for adding exclusions and identifying a test to cover the edge detect FSM coverage for V3 but I think we would need it to exclude DetectSt -> IdleSt to get 90%+ FSM coverage for V2.
![image](https://user-images.githubusercontent.com/92722737/169554126-17b4e8ff-285c-4bef-aa6c-80c3c6cd1fa9.png)
There are 14 such instances which would need to exclude it to achieve V2 milestone.

[2022-05-20 16:03] tjaychen commented on #12777
sounds good.
One more related parameter question, i was looking over the icache parameters and noticed we had an option to only cache branches and rely on prefetch for the rest. Is that something we want to consider? It feels like in theory it would be a decent match with OT since the flash latency isn't too long.

[2022-05-20 16:07] GregAC commented on #12777
Potentially, worth experimenting with I guess. Though I worry the latency would still be too long.

[2022-05-20 16:12] tjaychen commented on #12792
sounds good @rswarbrick let me have a look.
Silly bug seems very likely.

[2022-05-20 16:14] tjaychen commented on #12792
wait sorry, could you explain a bit more on the otbn `STATUS` part? do you mean you expect the tlul error to be exposed inside otbn? I probably need to have a closer look at the expectation there.

[2022-05-20 16:25] alphan commented on #11871
Thanks for the update @eunchan. I had to wait for the CI to get a bitstream from #10874 to be able to use my logic analyzer.

Here is what I found:
* AFAICT, there is no glitch on the CSb line.
* However, I didn't see any ghost interrupts when I tried the sequence that you recommended.
* I've been using a very simplified version of `cw_spifash.py` to send individual spi flash commands to test thin

[2022-05-20 16:34] eunchan commented on #11871
Thanks for the investigation, I think touching the pad config in between may have chances to create CSb glitches . So, from the internal SPI_DEVICE point of view, it may see glitches. I don't have test setup on chip-level yet. So when we have, I will try that too.

[2022-05-20 16:37] msfschaffner commented on #12777
Ok sounds good - let's keep this disabled then.
Are we fine with labeling this as P3 / future revision?

[2022-05-20 16:38] tjaychen commented on #12777
yep.

[2022-05-20 17:07] tjaychen commented on #12792
ah sounds good!

On Fri, May 20, 2022 at 10:01 AM Rupert Swarbrick ***@***.***>
wrote:

[2022-05-20 17:18] cindychip opened #12807 "[dv/lc_ctrl] Stress_all_with_rand_reset test hangs"
Currently temp remove lc_ctrl_stress_all_with_rand_reset test because it hangs in nightly regression.

[2022-05-20 17:28] eunchan opened #12808 "[spi_device] Default to Flash Mode"
As BootROM moves to SPI Flash mode to download the images, Generic Mode(a.k.a FwMode) has no usage as of now.

The change to Flash mode needs a few cautious steps due to the clock switch between Generic and Flash/PassThrough mode.

It would be better to have Flash mode by default and SW can skip the clock change sequence from their codes.

[2022-05-20 17:33] cindychip opened #12810 "[dv/tooling] Improve publish results script"
Currently for DV regression, Dvsim won't publish results until all IPs/chip level tests finish running. If one IP gets stuck, we won't be able to publish the results.
A better way would be to publish the results immediately once a IP/chip finished running.

FYI @rswarbrick @weicaiyang

[2022-05-20 17:34] tjaychen commented on #12808
sounds good to me!

[2022-05-20 17:35] alphan commented on #12808
SGTM, this would eliminate 3 writes at the end of `spi_device_init()` ([here](https://github.com/lowRISC/opentitan/blob/421b9a95536da34e9efcc5b84ec6fbd555e02e39/sw/device/silicon_creator/lib/drivers/spi_device.c#L621)).

[2022-05-20 17:36] tjaychen commented on #12777
sounds good to me!

[2022-05-20 17:48] TimEwins commented on #12773
I tried the SV queue method today, and there were still issues.

HOWEVER

Perhaps I have been overthinking this ?

If the FIFO keeps refilling after each read, then perhaps all we need is this…
1)	Read 20 words (example)
2)	Wait for rd_full interrupt (fifo has filled to max)
3)	Read ALL 20 bytes from FIFO, possible because fifo refills after each read, quicker than we can read it
4)	Done

A combin

[2022-05-20 17:49] tjaychen commented on #12773
sorry @TimEwins i've been occupied by a few other things, i will try to have a look later today.

[2022-05-20 17:51] weicaiyang commented on #12650
this requires reset to be triggered at DetectSt. I think we can leave it for V3. No need to worry about the FSM coverage for V2 now. The only coverage we need to improve is the functional coverage.

[2022-05-20 17:51] TimEwins commented on #12773
No problem @tjaychen ... I think I may have found the solution for myself ... but best to check with you beforehand

[2022-05-20 20:49] a-will commented on #12808
For clarity for future readers: "has no usage" and "SW can skip" are only in the context of the boot ROM. Generic mode is supported for post-ROM firmware, and their drivers should take care with power-on defaults. :smile:

[2022-05-20 22:21] a-will opened #12813 "[usbdev] Simplify the transitions and FSM for the AON wake module"
The FSM and inputs for the AON wake module are unnecessarily complex. Reduce it to have a simple suspend trigger to make the AON module active, then a wake ack trigger to exit.

The AON module takes over the pull-ups when it goes active and monitors for suspend exit conditions already. There's no need for the AON module to know whether the system has powered off, nor have an FSM that cares about t

[2022-05-20 22:21] a-will commented on #12813
cc @tjaychen

[2022-05-20 23:20] weicaiyang commented on #12808
quickly checked. Probably no need to change DV sequence as the SPI mode can be updated automatically (DV knows the design default value and the mode sequences want to use)

[2022-05-21 02:54] tjaychen opened #12816 "[dv/top] pwrmgr low power signal coverage"
while debugging #12815 , it occurred to me that we may not have good chip level coverage for pwrmgr's `low_power` output.
This signal is used to inform various blocks (currently `pinmux` and `aon_timer`) that a low power event is in progress and they should respond appropriately. We need to make sure that this behavior works correctly across modules.

More importantly, we need to test this across

[2022-05-21 02:55] tjaychen commented on #12816
@cindychip
@weicaiyang
FYI

[2022-05-21 19:28] arnonsha commented on #12769
@rswarbrick, why do you think this is Verible ? My script doesn't run Verible at all. Also I don't see Verible being called in primgen.py.

[2022-05-21 23:13] moidx commented on #5580
This is now available in the DIF.

[2022-05-21 23:13] #5580 closed

[2022-05-22 13:26] TimEwins commented on #12773
currently,this is working ..

1)  Enable Interrupts rd_full, op_done
2)  LOOP (n)
3)    Randomize a Flash Op (currently Read, DataPartiion, num_words inside {8:64]}
4)    Inititlaize Memory
5)    if num_words >= fifo_depth (16)
6)      Wait for rd_full interrupt
7)      Check Status Register for rd_full
8)    end
9)    Read 'num_words' from FIFO
10)   Check Status 'op_done'
11)   Clear Status 'rd_

[2022-05-22 16:46] TimEwins commented on #12773
Hi @tjaychen

Firstly apologies for all the updates here .... as you have not yet had the time to reply, but I keep adding things.
The pushed code for this branch is also not the latest.

Although READ is not entirely finished, I have started to look at the use of the provided interrupt signals for PROGRAM.

Again I am hitting some unknowns, and again it would be helpful if you, or the softare tea

[2022-05-22 17:33] TimEwins commented on #12773
I had another look ....

If I ignore all the interrupts in my control of the programming, I see this

Enable interrupts prog_empty and op_done
Write to 0x24 - Address
Write to 0x20 - Flash op
Write to 0x1A8 (x1 time)
Interrupt prog_empty goes high
Write to 0x1A8 (x7 times)
Delay
Then prog_empty goes low (seems automatically, or elsewhere)
Then op_done goes high, followed by prog_empty

(Screenshot

[2022-05-23 08:06] vogelpi commented on #12768
This sounds very reasonable to me assuming the DV overhead is acceptable.

[2022-05-23 09:47] rswarbrick commented on #12769
Ok, thanks. I don't think this is enough to figure out what happened. It looks like something is broken in the system (even if your environment is messed up, we should still make sure the relevant error message makes it out to top-level).

Since I understand you can't easily share log files, I think you'll have to do a bit of debugging. What I'd suggest is that you start by adding an `assert 0` to

[2022-05-23 11:04] arnonsha commented on #12769
So I added the "assert 0" to primgen.py .
I get the same results with both 0.1 and 0.2:

[code]

Where do I go from here ?

[2022-05-23 11:11] rswarbrick commented on #12769
Ok, great. So you know that `primgen.py` is running. Now you have to figure out what has changed between the two versions of fusesoc. There might be clever approaches, but I'd start by moving the `assert 0` to where we open an output file and then moving it up the call tree until I could figure out what has come unstuck.

[2022-05-23 13:09] arnonsha commented on #12769
@tjaychen ,
The CI on every PR doesn't use any of the foundry prim cells. Maybe that is why we don't see it happening there.
Can you please check the command below at your end in foundry directory with fusesoc 0.2 ?

`fusesoc --monochrome --log-file fusesoc.log --cores-root ../.. run --no-export --target=syn --tool icarus --setup lowrisc:systems:chip_earlgrey_asic:0.1`

Do you see it at your end ?

[2022-05-23 14:39] eshapira opened #12820 "[flash_ctrl] flash_ctrl_rand_ops test fails due to incorrect modeling"
Hi,
I noticed that the rand_ops test is failing in the OS due to incorrect modeling of bank erase in the flash_ctrl scoreboard.
In the spec it states that whenever a bank erase is initiated to the info partition, **ALL** of the 3 info partitions should be erased, link below:
https://docs.opentitan.org/hw/ip/flash_ctrl/doc/index.html#:~:text=If%20info%20partition%20is%20selected%2C%20all%20data%20i

[2022-05-23 16:18] cindychip commented on #12544
Like @nikola-miladinovic mentioned, this is only a workaround, we will keep this issue open until we have a real solution from Xcelium.

[2022-05-23 16:23] vogelpi commented on #12221
Hi @jprendes ,
I've just opened PR #12821 which addresses most of the items listed above. What's missing is:
- Remove software targets related to NexysVideo (SW targets that are reused for the CW305 should probably be renamed appropriately)

As briefly discussed today, it would be great if you could take care of this at some point. Thanks!

[2022-05-23 16:28] vogelpi commented on #7759
I am closing this issue as there hasn't been activity here for quite some time. Also, it has been decided to drop support for the NexysVideo in the meantime. Our main FPGA platform is the ChipWhisperer CW310 board.

[2022-05-23 16:28] #7759 closed

[2022-05-23 16:31] #10912 closed

[2022-05-23 17:03] #11563 closed

[2022-05-23 17:08] TimEwins commented on #12773
Hi .. today I noticed that I had not copied over a changed task from an earlier branch into this one, concerning the op_done interrupt.  It doesn't effect what I am looking at here, but I pushed the current branch again.

This version illustrates

Enabling IRQs prog_empty and op_done
Sending Flash Op - Read, DataPartition, addr =0; num_words = 8
Start Flash Op
Write the 8 Words
Wait for op_done (n

[2022-05-23 17:50] msfschaffner opened #12822 "[lc_ctrl] D3 Review Opens"
- [x] Move the lc_tx_t / mubi4 assertions to the package. #12823
- [x] update docs to make clear a read will return all 0s if the interface is not successfully claimed #12823
- [x] Fix “before proceeding with step 6.” -> “before proceeding with step 7.” #12823
- [x] https://github.com/lowRISC/opentitan/issues/12232, @matutem Do we still need this? -> it has been determined that the issue will be r

[2022-05-23 19:07] jdonjdon opened #12826 "[xcelium] pass timescale parameter from sim_cfg"
For flash_ctrl, some of tests run really long and 1ps resolution seems overkill.
Can we override timescale param from sim_cfg?
Currently it is set here https://github.com/lowRISC/opentitan/blob/b42dbc2d004358a7036ab4eee2c02b79e091bead/hw/dv/tools/dvsim/xcelium.hjson#L15

[2022-05-23 19:39] colinoflynn commented on #8739
Moving some discussion from #12633, I built a new CW310 firmware (see the [debug](https://github.com/newaetech/cw310-bergen-board/tree/mpsse/microfw/CW310) directory) to reflect the updated strapping pins. I'm not 100% sure of order they need to be toggled in, instead as a test:

1) You can adjust `bergen-mpsse.cfg` to ignore the aux pins by setting the `ftdi layout_init` as:
[code]
And commenting

[2022-05-23 21:18] cindychip opened #12827 "[dv/chip] Improve lc_token assignment"
Follow the discussion here:
https://github.com/lowRISC/opentitan/pull/12751/files#r879507350
We can improve the token assignment to a utility function.

[2022-05-23 21:26] alphan opened #12828 "[opentitantool] Investigate the use cases and flexibility of the opentitantool config files"
#12825 changes the mode of the `RESET` pin to PushPull because OpenDrain is not supported on cw310 and I wasn't successful in overriding it both here in "strappings" and opentitan_cw310.json.

_Originally posted by @alphan in https://github.com/lowRISC/opentitan/pull/12825#discussion_r879764755_

[2022-05-24 00:07] msfschaffner commented on #12769
Running this command with `foundry` seems to work on our end based on current master.
You mentioned that this only fails for specific prims... which ones are failing exactly?
Also, can you post the output of `fusesoc --version`?

[2022-05-24 00:20] msfschaffner commented on #12768
For the already existing pre-decode control signals I think this sounds reasonable since most of the pieces are already in place to support this.

For the address decoding extensions it depends a bit whether we think the effort is justified (because it sounds like this would be more work). Should we discuss this in the next silicon or security WG meetings (we might have to take it to the next sili

[2022-05-24 00:33] msfschaffner commented on #12232
We came accross this issue during the D3 review and were discussing whether this warrants addition of a debug CSR in `lc_ctrl` (i.e. a bit that indicates whether the multibit clock mux ACK has been returned to the `lc_ctrl`). The CSR could be read both by SW or via JTAG. It would not be particularly difficult to add but would require some RTL / DV / SW updates - hence it needs to be well justified

[2022-05-24 07:31] #12185 closed

[2022-05-24 08:00] vogelpi commented on #7733
We've officially dropped support for the NexysVideo (see #7814 ). The ChipWhisperer CW310 is our main FPGA development platform. #10625 will add openocd support but we still need to change some pins in the FTDI MPSEE emulation of the SAM3X. I am closing this issue.

[2022-05-24 08:00] #7733 closed

[2022-05-24 09:51] arnonsha commented on #12769
[code]

You can see the list of prims returning the message in [this comment above](https://github.com/lowRISC/opentitan/issues/12769#issuecomment-1132101668)
Update:
fusesoc 0.1 also returns the messages and **they are not the one to blame**. SO this is not related to my problem.

After further analysis, I think I have found what's breaking my freeze script:
In fusesoc 0.2 there's no "generated"

[2022-05-24 12:22] vogelpi commented on #8739
Thanks @colinoflynn for looking into this. I am not sure on how to enable JTAG exactly. Based on https://github.com/lowRISC/opentitan/blob/d7325402e8b86c5df9c79d19c37587df2a356797/util/fpga/cw_spiflash.py#L188-L209

I would say this looks right. Probably @msfschaffner knows the exact sequence needed.

[2022-05-24 13:05] colinoflynn commented on #8739
OK I had tried something like that too - running the cw_spiflash.py to load the binary then connecting with JTAG gave me the above scan chain (I disabled the other strapping pins from being under OpenOCD control). But I'm not sure if the scan chain itself changed at all or it should be the same as before?

Primarily I wasn't sure if the JTAG/SPI mux was maybe an issue and I wasn't getting it strap

[2022-05-24 14:15] drewmacrae commented on #12191
Tim's worked around this by finding github mirrors that work to avoid the problem all together. It involves less code on my end so I'm giving up on debugging and submitting #12456 for now

[2022-05-24 14:22] #12689 closed

[2022-05-24 14:45] drewmacrae commented on #9652
I'm not sure how much of the Verilator flakiness comes from this.

[2022-05-24 14:47] #9361 closed

[2022-05-24 14:51] drewmacrae commented on #12449
See also: https://github.com/lowRISC/opentitan/issues/12696 and https://github.com/lowRISC/opentitan/issues/12655

[2022-05-24 15:00] tjaychen opened #12837 "[cw310/clk] aon clock frequency seem to be mismatched"
in cw310's [clock generation](https://github.com/lowRISC/opentitan/blob/master/hw/top_earlgrey/rtl/clkgen_xil7series.sv#L42), the always on clock appears to be almost the same speed as the main clock.

However, this is inconsistent with the cw310 device definition in [software](https://github.com/lowRISC/opentitan/blob/master/sw/device/lib/arch/device_fpga_cw310.c).

This is probably something tha

[2022-05-24 15:01] tjaychen commented on #12837
I've not looked closely at whether the always on clock is stepped down separately through other means.

[2022-05-24 15:58] tjaychen commented on #12837
ah yes thanks for reminding me, i now have vague memories of running into that.
I'm a little weary of the aon clock being this fast though, it ends up being effectively faster than the peripheral clocks on fpga.. and that might lead to ...issues.

Without knowing how much work it is, it feels like switching to MMCM might be better.

[2022-05-24 16:05] a-will commented on #12837
I think it should be relatively trivial. The only PLL we're using is this one PLLE2, so we shouldn't have a problem grabbing the MMCM in the same clock management tile. I can spin up a quick PR and give it a try.

[2022-05-24 16:59] nikola-miladinovic commented on #12544
I am seeing some FSM issues - same state has different coding and that is causing false coverage
![example_wrong_fsm_cov](https://user-images.githubusercontent.com/93394800/170091395-1e77a7a3-eb3f-4417-9268-de8658c3c228.JPG)
.

[2022-05-24 17:54] #6528 closed

[2022-05-24 18:30] #11934 closed

[2022-05-24 18:46] msfschaffner commented on #12837
Given that we are also not using the nominal frequency for the main clock on FPGA, it is probably ok to shift to 250kHZ, since that will be a much better approximation of reality than what we have today.
I assume this won't present an issue for SW when it comes to the AON timer, right? I.e., there are probably some normalization constants that can be adjusted accordingly?

[2022-05-24 18:49] #9069 closed

[2022-05-24 18:49] drewmacrae commented on #9069
We check it now

[2022-05-24 18:50] timothytrippel opened #12840 "[bazel,dvsim] increased private CI times since switching build system to Bazel"
Since #12761 merged, it seems we have been getting close to the private CI job timeout (of [90min](https://github.com/lowRISC/opentitan/pull/12761)). My guess is the bazel builds are taking a bit longer to download deps into the workspace, since the CI run starts from a clean slate every time.

In the interim, we have [bumped up the private CI job time limit to 2 hrs](https://github.com/lowRISC/op

[2022-05-24 20:14] arnonsha commented on #12769
Only if I don't use the "--no-export" flag. If the flag is not used prims are left in /tmp and I cannot rely on /tmp (shared resource with other users)
Unfortunately if I don't use this flag I will lose the original location of the sv files (I was asked to use this flag so all sv files would be read from their original path in the repo, and not from the build/src dir)

Why did fusesoc change this

[2022-05-24 20:22] msfschaffner commented on #8739
Hm, the strapping sequence to select the JTAG TAP looks correct to me.

The life cycle state is currently preset to RMA on the FPGA, so the TAP selection straps are sampled continuously.
This means that we can switch back and forth between normal functional mode and JTAG dynamically without resetting the device. See [this section](https://docs.opentitan.org/hw/ip/pinmux/doc/#strap-sampling-and-tap

[2022-05-24 20:23] vogelpi commented on #12837
Yes, this is what I actually meant.

That would be perfect.

[2022-05-24 20:30] weicaiyang commented on #12840
I took a bit closer look at the run time (real time) on the smoke tests
I reran smoke for 2 PRs in my local and the run time doesn't look too much difference for PRs with or without the bazel update. They both took ~20 mins to finish.

I grep `CPU Time` in the log and only the test took 10+ seconds are listed below.

#12819 without recent bazel update. In this PR, private CI finished within 20 min

[2022-05-24 20:38] a-will commented on #12837
@vogelpi After giving the clocking resources guide a quick skim, it looks like there would be a static phase offset for the AON clock when the cascaded dividers are used. So far, I haven't been able to find what that value is.

[2022-05-24 20:43] timothytrippel commented on #12840
I am seeing similar results as @weicaiyang, however, one thing to note is our machines use a pre-populated Bazel repository cache (note, this is different from the Bazel **build** cache) so they can run in air-gapped environment, where as the private CI machines are downloading bazel dep from network. However, barring exceptionally slow network speeds these downloads shouldn't take more than a min

[2022-05-24 20:46] vogelpi commented on #12837
Thanks for checking that out. I think a static phase offset would be fine. It's probably even better for SCA than coinciding clock edges as with a static offset, the glitching activity relevant for SCA (happening right after the clock) will be separated from the AON clock activity. What I am more worried about is some plesiochronous relationship between the clocks as that changes over time and mak

[2022-05-24 21:21] msfschaffner opened #12848 "[top/doc] Autogenerated tables for top-specific IP"
We have several top-level specific IPs for which the configuration is not evident from the technical IP specification alone.
Examples are the plic, alert handler, pinmux, pwrmgr, rstmgr, clkmgr.

For some of these, we do already generate top-level specific documentation, such as for example the pinout and pinmux configuration tables [here](https://docs.opentitan.org/hw/ip/pinmux/doc/#pinout-and-pi

[2022-05-24 21:21] tjaychen commented on #12575
closing this for now since the issue is not observed in CI.

[2022-05-24 21:21] #12575 closed

[2022-05-24 21:24] msfschaffner commented on #12232
Yeah I would also rather add an assertion than change the CSR interface in `lc_ctrl`.
Are we ok with deferring that to V3 then (instead of making it a D3 cleanup item)?

[2022-05-24 21:51] jdonjdon opened #12851 "[flash_ctrl] change simulation time resolution from 1ps to 100ps"
to improve our sim turn around time, I am testing a new timescale
1ns/100ps. Please let me know by the end of Wednesday (5/25) if you think
we have to keep 1ns/1ps.
@tjaychen @eshapira @nikola-miladinovic @TimEwins

[2022-05-24 21:53] tjaychen commented on #12851
i don't see why not.
I took a quick look at the flash timing in their docs, and i don't see anything that needs more than 100ps of precision.

[2022-05-24 22:03] tjaychen commented on #12232
sounds good to me.

[2022-05-24 23:53] timothytrippel commented on #12840
I opened #12852 to test if reverting to using meson to build SW in private CI was the issue, but it seems this did not help. So it looks like bazel is **not** the culprit. There must be something else going on?

[2022-05-25 00:00] tjaychen commented on #10327
i'll close this issue now. @sha-ron please let us know if you have issues with these tests.

[2022-05-25 00:00] #10327 closed

[2022-05-25 12:22] nikola-miladinovic opened #12863 "[flash_ctrl] Erase operation uncovered elements"
Hi @tjaychen,

to reach coverage of erase operation,  could you please provide scenarios in which following code could be covered?

flash_ctrl_erase.sv : (https://reports.opentitan.org/hw/ip/flash_ctrl/dv/latest/cov_report/index.html -> instance u_flash_ctrl_erase)

op_start_i =1	op_addr_oob_i=1  - line 42

flash_req_o =1  flash_done_i = any value oob_err = 1 - line 45

op_done_o=1	oob_err=1

[2022-05-25 14:32] TimEwins commented on #12773
Hi @tjaychen

Whilst waiting for an update on this issue, I have tried another method for Flash Program.

I  have stopped using prog_empty, and have started using prog_lvl (interrupt).  The ony problem is I cannot get a prog_lvl interrupt to fire at all.

If I send a program sequence of 32 words, it does not seem to matter if I set the fifo_lvl.prog to 16, 8, or 4 (F, 7, 3), I get no interrupt fro

[2022-05-25 14:45] tjaychen commented on #12773
sorry i will try to have a look at this today.

On Wed, May 25, 2022 at 7:32 AM TimEwins ***@***.***> wrote:

[2022-05-25 14:50] tjaychen commented on #12863
Anything related to `op_addr_oob_i` can be ignored. That was feature was originally added to guard against software providing a bad value, but that has been addressed through other means. The RTL wasn't removed but simply hardwired off.

For the macro_err, you would need to create a test case that forcibly injects an error on the boundary of the prim_flash during a transaction. See [here](https://

[2022-05-25 15:52] TimEwins commented on #12773
Investigating ... looking at the rtl, there is a signal coming out of a primitive called prim_fifo_sync called 'prog_fifo_depth', this appears to be always 0, even though I can see items written to the fifo??

There is a similar signal for read 'rd_fifo_depth'

perhaps this is why we get no interrupt (and possibly a simillar issue with read).

I don't know the RTL obviously, these are just observa

[2022-05-25 15:54] tjaychen opened #12865 "[clkmgr] reset selection"
This is related to #12284.

While debugging `chip_sw_clkmgr_peri_off`, I realized the fact that clkmgr is using `por` as its main configuration reset once again causes an issue.  In the test, the uart clock is explicitly turned off, causing the access to hang the bus.

This causes a watchdog reset which reboots the system (this is all intended).  However, upon reboot, the rom tries to access uart

[2022-05-25 15:55] tjaychen commented on #12865
@matutem
@jdonjdon

[2022-05-25 15:56] tjaychen opened #12866 "[dv/top] clkmgr_peri_off missing checks"
The test plan states this test should also check for the cpu dump to ensure we have information to determine where the bus hung.
I do not see the test at the moment, this is probably something we need to enhance.

[2022-05-25 15:59] tjaychen commented on #12523
o sorry, i completely mixed up issues.
The discussion i was having with @jeoongp was actually meant to apply to #12284, although this is related.
let me close this down for now.

This all related to #12865

[2022-05-25 15:59] #12523 closed

[2022-05-25 15:59] tjaychen commented on #12284
see discussion [here](https://github.com/lowRISC/opentitan/issues/12523#issuecomment-1129412489)

[2022-05-25 19:18] timothytrippel commented on #12840
closing this as we have reverted dvsim.py to use meson again to build SW

[2022-05-25 19:18] #12840 closed

[2022-05-25 20:24] alphan opened #12872 "[opentitanlib] Find out the meaning of CDCE906 related constants"
Any idea what these constants mean?
If yes, can we add them as impl-level constants and refer to them by `Self::CONSTANT_NAME`?
If no, can we leave a TODO to learn their meanings?

_Originally posted by @cfrantz in https://github.com/lowRISC/opentitan/pull/12870#discussion_r882052240_

[2022-05-25 21:02] a-will commented on #12872
Data sheet: https://www.ti.com/lit/gpn/cdce906

[2022-05-26 00:31] tjaychen commented on #12773
@TimEwins , I think you're having a lot of issues because the way our flash currently behaves, the DUT is almost faster than the host (as you point out). So I think there are two things we could do

1. significantly slow down the flash model speed for the purpose of the interrupt test (via a plusarg)
    - this would more accurately reflect the behavior of the interupt

2. Instead of treating the

[2022-05-26 00:51] tjaychen commented on #12773
Regarding the program test case,
@TimEwins I'll need to have a look at the waves.

The immediate program empty you're getting is likely because the host is not programming quickly enough.
You program a word, and before you get a chance to program another, the phy interface has already taken that word and moved on to the next.  The programming side actually absorbs the write very quickly because it

[2022-05-26 07:16] timothytrippel commented on #12232
can we close this issue then?

[2022-05-26 09:51] TimEwins commented on #12773
@tjaychen Thanks for the updates ... so it seems that the current configuration of Host/DUT speeds is effectively making the interrupt interface non-usable in this current scenario.

I will investigate speeding up the host in our TestBench ....... but, as you say slowing down the flash model speed is probably the way forward, so yes please investigate doing that.

I will report back any new findin

[2022-05-26 10:37] #12792 closed

[2022-05-26 10:43] rswarbrick commented on #12769
@msfschaffner has a PR open to revert the tool for now. We don't want to get stuck forever, though, so please can you get stuff working at your end in the next couple of weeks? If you need specific help with how fusesoc works, feel free to reach out to me.

Michael: would you prefer to close this issue when #12874 lands, and open another "Nuvoton can't move to recent fusesoc" issue? Or would you p

[2022-05-26 10:44] #12708 closed

[2022-05-26 12:23] TimEwins commented on #12773
I have tried to make the host go faster (in terms of less of a gap between accesses), but to no avail.  Somewhere in the tl_access() task, there is an inherent random delay between accesses.

[2022-05-26 13:54] GregAC opened #12883 "[sw] Enable Ibex's icache in test_rom"
The icache within Ibex starts disabled and needs to be specifically enabled via a write to the Ibex specific `cpuctrl` CSR (see https://ibex-core.readthedocs.io/en/latest/03_reference/cs_registers.html#cpu-control-register-cpuctrl).

Do we enable the icache anywhere? We should turn it on for at least some chip level testing (as these are also helping verify Ibex along with the specific things they

[2022-05-26 15:21] tjaychen commented on #12773
actually if we do want the speed-up it's probably i should add to expose a parameter to dv.
but let me take a look at the program behavior first. The empty interrupt is explanable, but the never reaching a certain level seems odd to me.

[2022-05-26 15:27] tjaychen commented on #12883
no it's not turned on right now.
I'm hesitant to turn it on because the flash isn't fully verified and i'm pretty sure could break against the aggressive fetching nature of the icache.

I have brought up this poihnt with both @alphan and @cfrantz before, and it's just something that's pending.  Thanks for filing an issue though.

[2022-05-26 15:39] TimEwins commented on #12773
At the moment .. I have gone back to Read, with zero delays between writes to the FIFO.  I will not uplod a newer version of the WIP code until you have had a look.

[2022-05-26 15:59] jon-flatley opened #12887 "[bazel] Support rust-analyzer"
Many IDE's use rust-analyzer for code completion and other quality of life features when working with Rust projects. This worked fine until we dropped Cargo support, but under bazel rust-analyzer complains

[code]

It seems that the solution is to create a bazel rule to generate the appropriate `rust-project.json`. I was able to find the steps to do this here https://github.com/bazelbuild/rules_ru

[2022-05-26 16:10] tjaychen commented on #12773
i took a quick look, it looks like the program portion of the test forgot about the program resolution window.
See [here](https://docs.opentitan.org/hw/ip/flash_ctrl/doc/#program-resolution)

Basically, certain flash do not allow writes beyond a certain alignment at a time, so we can't for example do a program of 32 words.

In the test I saw at least, the program exceeded the resolution window, an

[2022-05-26 17:24] tjaychen opened #12889 "[sw/hart] busy_spin_micro not completely accurate"
While debugging #12871 , we noticed that the `busy_spin_micro` routine is not completely accurate.
So if you wanted 10us and that equated to 1000 cycles, the actual cycle count you get is slightly lower due to the formula being based on 1.04M insetad of 1M.

@engdoreis has some ideas on how to fix this, so we are opening an issue to track.

[2022-05-26 17:41] eunchan commented on #12808
OK. I will revise the default value. As SPI_DEVICE IP has TPM, Flash modes, I think usage cases of Generic Mode are rare. So, to lessen the burden of back end team, it would be good to remove the feature.

Generic mode creates hassles of maintaining two distinct clocks for the DPSRAM that create many CDC issues to be reviewed.

[2022-05-26 17:41] #12769 closed

[2022-05-26 17:43] eunchan commented on #11871
Let me close this issue @alphan as seems like all things are sorted out. Please re-open this ticket if you find anything weird. Thanks!

[2022-05-26 17:43] #11871 closed

[2022-05-26 17:46] msfschaffner opened #12891 "[fusesoc] Fusesoc 0.2 breaks Nuvoton's release and freeze flow"
As discussed in more detail in #12769, Fusesoc 0.2 breaks the release and freeze flow from Nuvoton due to different temp folder naming for generated primitives. in order to unblock Nuvoton, Fusesoc has therefore been rolled back to 0.1 in #12874 for the time being - but this needs to be resolved so that we can continue rolling in updates.

[2022-05-26 18:23] cindychip commented on #12711
Hey @dkabely-ot I added a cfg.hjson file to run connectivity test for close source, but I think currently there are some compile errors. Could you give it a try and maybe we can see how to bypass/fix these issues.

[2022-05-26 19:41] #12822 closed

[2022-05-26 19:59] #12837 closed

[2022-05-26 21:10] moidx commented on #3875
Marking this issue as obsolete. @alphan please reopen if you have any concerns.

[2022-05-26 21:10] #3875 closed

[2022-05-26 21:15] moidx commented on #6684
Hi @timothytrippel, I am marking this issue as obsolete are already plans for integrating mask ROM testing on the FPGA using Bazel.

[2022-05-26 21:22] #8902 closed, assigned to nobody

[2022-05-26 21:23] moidx commented on #5657
This is already covered by the mask ROM end-end test plan: https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/mask_rom/data/mask_rom_testplan.hjson

[2022-05-26 21:23] #5657 closed

[2022-05-26 21:24] moidx commented on #9073
Hi @jadephilipoom, is this still under consideration?

[2022-05-26 21:25] moidx commented on #9056
Hi @alphan, should we close this issue? I don't think we are going to perform this optimization in the mask ROM?

[2022-05-26 21:25] #7948 closed

[2022-05-26 21:26] moidx commented on #6669
Marking as obsolete as we are moving to Bazel + opentitantool driven test cases.

[2022-05-26 21:26] #6669 closed

[2022-05-26 21:33] alphan commented on #9056
I think so. I'm also not sure if the write performance is that critical, since we expect it to happen much less frequently than reads.

[2022-05-26 21:33] #9056 closed

[2022-05-26 21:34] moidx commented on #7893
Closing this issue as obsolete as the bootstrap mechanism does not operate on the `boot_policy_manifest_*_get()` return values.

[2022-05-26 21:34] #7893 closed

[2022-05-26 22:54] cindychip opened #12899 "[clkmgr] V2S review TODOs"
- [x] [Jaedon] Please check if external clk sw control is covered in any test?

- [x] [Jaedon] Please check if the spelling of `FATA_`?

- [x] [Jaedon] Move coverage to 90% for V2S.

- [x] [TimC, Jaedon, Matute] [Clock manager reset selection](https://github.com/lowRISC/opentitan/issues/12865): gating issue until we came up with a solution.

[2022-05-26 22:57] #13 closed

[2022-05-27 01:55] msfschaffner opened #12903 "RFC: OpenTitan D1 Milestone - Sign-off Process"
[The RFC document](https://docs.google.com/document/d/15qpmNVXVCNkiIvqUXhe0CyqE9U3KiC4ns6vk8DAtl90/edit#) is in preparation and hence not ready for TC review just yet. Once approved, there will likely be some checklist and public doc updates.

[2022-05-27 07:37] jadephilipoom commented on #9073
Happy to close it. I think the original analysis holds -- it's very slightly faster but probably not worth it from a code-readability perspective to have such a nonstandard setup that also diverges from the OTBN implementation. I just left the issue in case we were looking for Ibex sigverify speedups someday, but it seems we haven't needed them!

[2022-05-27 08:17] jadephilipoom commented on #9073
Happy to close it. I think the original analysis holds -- it's very slightly faster but probably not worth it from a code-readability perspective to have such a nonstandard setup that also diverges from the OTBN implementation. I just left the issue in case we were looking for Ibex sigverify speedups someday, but it seems we haven't needed them!

[2022-05-27 08:17] #9073 closed

[2022-05-27 08:29] nikola-miladinovic commented on #12325
All good - closing issue.

[2022-05-27 08:29] #12325 closed

[2022-05-27 08:33] rswarbrick commented on #12891
Great. @arnonsha: Please can you do a bit of digging to figure out what broke for you? I'm very happy to help with the fusesoc-digging side if you need it.

[2022-05-27 08:47] nikola-miladinovic commented on #12863
@tjaychen : since assign oob_err = op_start_i & op_addr_oob_i does this means that we can also exclude lines with oob_err such as in flash_ctrl_erase.sv :
flash_req_o =1 flash_done_i = any value oob_err = 1 - line 45
op_done_o=1 oob_err=1 - line 49
?
I might start implementing flash_macro_err test, dependent of coverage, even before V2S.

[2022-05-27 13:14] alphan opened #12905 "English breakfast, test_rom, and bootstrap"
I ran into this issue while working on #12875 which replaces the previous bootstrap implementation with the new SPI Flash based one. The new implementation performs an OTP read but since it doesn't exist in the english breakfast toplevel all related CI jobs fail.

My workaround to unblock #12875 was to ~fake the OTP using the retention RAM (spoke too soon, turned out to be more complicated than I

[2022-05-27 13:15] alphan commented on #12905
@tjaychen @mundaym @vogelpi

[2022-05-27 13:24] alphan commented on #12905
Related: #12065

[2022-05-27 14:38] arnonsha commented on #12891
I can have a loik. Where can i find the source files of ot-fusesoc ?

[2022-05-27 15:07] rswarbrick commented on #12891
You can find it here: https://github.com/lowRISC/fusesoc

[2022-05-27 16:24] tjaychen commented on #12863
yeah that's okay. The oob error check was removed as a feature.

[2022-05-27 17:25] eunchan opened #12911 "[spi_device] CDC fix"
- [ ] TPM ActiveLocality from SYS_CLK -> SPI_CLK
  - Revise to update at once or 2FF. Either case eventually the path should be waived but safer (not prone to SPI transaction at all)

[2022-05-27 19:33] #12813 closed

[2022-05-27 20:09] jdonjdon opened #12921 "[dv common] sec_cm test macro cannot address multi clock entries"
It is observed from one of clkmgr regression test,
./util/dvsim/dvsim.py hw/ip/clkmgr/dv/clkmgr_sim_cfg.hjson -i clkmgr_sec_cm -v m -r 1 -s 2353277567 --waves -ro "+max_quit_count=5"

Test forces one of SecCmPrimCount entries (tb.dut.u_clk_main_aes_trans.u_idle_cnt.up_cnt_q[0])
to create count error 1 cycle (of tb.dut.clk_main_i).
However, register samples 'de' at slower clock (tb.dut.u_reg.clk_i)

[2022-05-27 20:27] cindychip commented on #12921
Good point, I can add a clk and rst input to this test.

[2022-05-27 21:05] tjaychen commented on #12921
hmmm.. .this sounds a bit more like a design issue.
I need to relate the assertion to the right clock.
I also just noticed that there are probably cdc issues anyways on this that i need to address.

[2022-05-27 21:07] tjaychen commented on #12921
@cindychip
@weicaiyang
there still is an issue that the alert and the original prim_count events are on different domains though, so that might still cause a problem unless in the assertion we extend the window of checking.

[2022-05-27 21:12] jdonjdon commented on #12921
![image](https://user-images.githubusercontent.com/99843637/170789952-85e0ba3f-0e04-412a-957f-2ea36cbef85e.png)
Attached figure to clarify issue. single pulse error from clk_main can be missed in clk_reg_fatal

[2022-05-27 21:16] tjaychen commented on #12921
yeah that's the problem i'm seeing now.
There's some legacy stuff here i need to clean-up along with the assertion clock hook-up.

[2022-05-27 21:17] tjaychen commented on #12921
@jdonjdon can you let me which test you ran to reproduce this?

[2022-05-27 21:19] jdonjdon commented on #12921
From PR12920(https://github.com/lowRISC/opentitan/pull/12920)
run this command
./util/dvsim/dvsim.py hw/ip/clkmgr/dv/clkmgr_sim_cfg.hjson -i clkmgr_sec_cm -v m -r 1 -s 2353277567 --waves -ro "+max_quit_count=5"

[2022-05-29 02:56] shanshuixiangyi opened #12934 "UVMTESTNAME"
Hello ,,,
I am using +UVM_TESTNAME = xxx_test,It's wrong. How to define a uvmtest in the simulation?

Thanks

[2022-05-29 18:43] arnonsha commented on #12891
I grepped for "generated" in ot-0.1:
in ot-0.2 the "generate" function in edalizer.py uses /tmp instead of "generated" used in ot-0.1.

Hope this helps

[2022-05-29 21:03] a-will commented on #12891
Probably due to [0469da452a68d44689bcb347708c7f4a775d3e41](https://github.com/lowRISC/fusesoc/commit/0469da452a68d44689bcb347708c7f4a775d3e41)

[2022-05-30 07:41] vogelpi commented on #12905
Hi @alphan ,
the CW305 is still the primary choice for AES SCA. The reasons are mainly twofold: 1) due to the smaller and different FPGA fewer traces are required to observe any SCA leakage compared to the CW310, 2) due to the smaller FPGA and smaller design, Vivado has less freedom in place & route, as a result we get more reproducible results/less variance due to P&R on the CW305.

I did a compa

[2022-05-30 07:47] vogelpi commented on #12905
Regarding OTP: English Breakfast doesn't have it because of resource constraints. What I don't understand, why does faking OTP with retention RAM or even skipping the OTP read completely for the test ROM not work?

[2022-05-30 09:44] patel-madhuri commented on #12545
Thank you Cindy for adding the exclusions.
Since all the exclusions are in place and pattgen is now signed off for V2S, I am closing this issue.

[2022-05-30 09:44] #12545 closed

[2022-05-30 10:31] patel-madhuri commented on #12543
The condition coverage is now at 96.45% and new V3 test is identified to fill in the FSM coverage. The required exclusions are in place for sysrst_ctrl. I am closing this issue.

[2022-05-30 10:31] #12543 closed

[2022-05-30 11:19] nikola-miladinovic commented on #12863
@tjaychen : Thanks Tim. Here is PR https://github.com/lowRISC/opentitan/pull/12938 for those exclusions.

[2022-05-30 12:19] nikola-miladinovic commented on #12863
To cover FSM state and transitions elements from default/src/lowrisc_prim_generic_flash_0/rtl/prim_generic_flash_bank.sv, in two instances:
tb.dut.u_eflash.u_flash.gen_generic.u_impl_generic.gen_prim_flash_banks[0].u_prim_flash_bank
tb.dut.u_eflash.u_flash.gen_generic.u_impl_generic.gen_prim_flash_banks[1].u_prim_flash_bank
given in picture:

![uncover_FSM_Erase](https://user-images.githubusercont

[2022-05-30 16:07] eshapira opened #12944 "[flash_ctrl] Incorrect modeling in flash_ctrl_mp_regions test"
Hi,
It seems the flash_ctrl_mp_regions test isn't doing the error expectation correctly, which causing this test to fail in the closed-source due to timeout waiting for the alert to arrive when it shouldn't.

Notice that in the sequence the scb_set_exp_alert is being set to 1 once in the beginning of the test and never changed again.
https://github.com/lowRISC/opentitan/blob/50f8a6ed18ef91ca889a6c

[2022-05-31 13:52] alphan commented on #12905
Ack. I remember the trials with CW310 but I think I misremembered that we transitioned to CW310.

It unnecessarily complicates the silicon_creator code (which is our production code). Also, this wasn't the only dependency that caused an issue when building for cw305. I'll take another look. Thanks!

[2022-05-31 17:24] tjaychen commented on #12944
@tjaychen

[2022-05-31 17:25] tjaychen commented on #12944
This should be V2 blocking.

[2022-05-31 17:27] timothytrippel opened #12953 "[bazel,ci] CW305 bitstream build depends on meson built SW"
To build the CW305 bitstreams [requires meson built SW](https://cs.opensource.google/opentitan/opentitan/+/master:azure-pipelines.yml;drc=5533c0504e5b0f2d72e69a3c3a97828c20e1eb94;l=401) (i.e. test ROM).  In order to proceed with merging #12925 and #12929, the `chip_englishbreakfast_cw305` CI job must be altered to no longer depend on meson built SW.

[2022-05-31 19:49] msfschaffner opened #12954 "[adc_ctrl] D3 Opens"
- [x] Return from continuous scan to periodic scan can be emulated by SW, but it would be better to handle this in HW -> open an issue to track this as a future enhancement. Also remove this code section here #13725 : https://github.com/lowRISC/opentitan/blob/bb1701c2872d1ee23e0b41a3e27d0a3c08174559/hw/ip/adc_ctrl/rtl/adc_ctrl_fsm.sv#L152-L160
- [x] Ideally we should split the WE check error condi

[2022-05-31 20:21] eunchan commented on #10586
This has been fixed (not thoroughly verified yet). Let me lower the priority and update when DV catches up.

[2022-05-31 20:42] eunchan opened #12958 "[prim] Packer empty signal"
prim_packer does not have indicators out for the empty status. If partial bits are stored in the `prim_packer`, it cannot be known from outside.

This results in HMAC to rely on packer `rvalid` signal rather than empty signal.

[2022-05-31 21:40] alphan commented on #7190
@timothytrippel would you mind working on this?

[2022-05-31 21:41] alphan commented on #6609
@moidx do we need to keep this issue open? For the test, were you thinking of a functional test?

[2022-06-01 05:56] timothytrippel commented on #7190
sure thing, no problem, I can take this.

[2022-06-01 07:11] johannheyszl commented on #12768
summary after discussing with jade, bilgiday, miguel, tim, greg and rupert:
- implementation effort low and DV impact minimal.
- hardening does address relevant control flow issues from creating suppressing jumps/branches, suppressing loops, or manipulating the stack pointer through creating/suppressing push/pops.
- this is particularly helpful for OTBN asymm crypto to protect control flow in fina

[2022-06-01 13:52] GregAC commented on #11019
Turns out I was mistaken and this is already happening as part of the secure wipe.

[2022-06-01 14:10] alphan commented on #7190
Thanks @timothytrippel!

[2022-06-01 14:22] dkabely-ot commented on #12711
Sure, thanks!

[2022-06-01 14:53] GregAC commented on #7888
No extra work is required here. The predecode cross check already gives us the check.

When we do an indirect RF access (any of BN.SID, BN.MOVR, BN.LID) the controller calculates one-hot read and write enables for the bignum registers after the base register file read. These get flopped in the instruction fetch stage for use in RF read/writes the following cycle. In addition the register indexes a

[2022-06-01 14:53] #7888 closed

[2022-06-01 14:53] drewmacrae opened #12968 "[bazel/ci] Use bazel to control fuseSOC in CI to build and splice CW310 and CW305 bistreams"

[2022-06-01 15:12] #12655 closed, assigned to drewmacrae

[2022-06-01 15:45] tjaychen commented on #12773
@jdonjdon
@cindychip

[2022-06-01 15:51] drewmacrae commented on #12704
There's one use of find to recover paths for bazel artifacts in azure-pipelines.yml used to recovr verilator.

[2022-06-01 16:22] nikola-miladinovic commented on #12863
This issue can be closed.

[2022-06-01 17:27] msfschaffner opened #12974 "[otp_ctrl] Remove CSR test exclusions"
We need to revert commit #12969 once alias registers are supported in chip-level sims.

[2022-06-01 18:05] TimEwins commented on #12773
This is not holding up test development, as I can set these parameters directly in the TB at the moment.  Setting from the command line will be necessary for .json regressions.

[2022-06-01 18:23] jon-flatley commented on #12887
The steps I outlined above are outdated it seems, a better set of instructions is available here http://bazelbuild.github.io/rules_rust/rust_analyzer.html.

Trying this out and running `bazel run @rules_rust//tools/rust_analyzer:gen_rust_project` fails, complaining it can't find a matching toolchain for a non-rust target.

[code]

Not at all sure why it's running on `//sw/otbn/crypto:rsa_verify_30

[2022-06-01 18:34] weicaiyang commented on #12773
define needs to be in the build_opts. @TimEwins you added a build_mode. it need to be enabled by adding `en_build_modes: ["flash_ctrl_interrupts"]`. you can add it to the test, if you just need it for a test

[2022-06-01 19:35] jdonjdon opened #12981 "[pwrmgr] cdc failure in esc_rst_req"
From PR (https://github.com/lowRISC/opentitan/pull/12758)
cmd:
./util/dvsim/dvsim.py ./hw/ip/pwrmgr/dv/pwrmgr_sim_cfg.hjson -i pwrmgr_sec_cm_lc_ctrl_intersig_mubi -s 1932707886 --waves -r 1
If esc_rst_tx_i comes less than 2 cycles of slow_clock,
our dut.u_cdc will miss esc_rst_req pass to slow clock domain
and reset signal is lost.

![image](https://user-images.githubusercontent.com/99843637/17148

[2022-06-01 19:43] jdonjdon opened #12984 "[top,dv] make random available over multiple platform"
Current top tests use SV random to over write variables in c tests.
It works well in simulation platform. But to increase reusability of test suites
over multiple platform (fpga , veerilator etc), we need to create mechanism
to generate random values in those platform.

[2022-06-01 21:22] weicaiyang opened #12989 "[spi_host] Confirm the watermark behavior"
@martin-lueker
just want to understand if the watermark event is edge triggered or level triggered? (In uart, [watermark is edge triggered](https://github.com/lowRISC/opentitan/blob/master/hw/ip/uart/doc/_index.md#tx_watermark--rx_watermark)). Will be great if we can clarify it in the spec

From DV prospective, we may care about these scenario.
Assume we set TX watermark level to 5 and watermark e

[2022-06-01 21:40] weicaiyang opened #12990 "[D2S] set the error flag in default branch for sparse FSM"
Continue the discussion at #12890

There are some benefits to set the error flag in default branch for sparse FSM, instead of jumping to another defined error state and then setting the flag.
- if attacker can constantly glitch to an invalid state, then it never jumps to the state that reports the error.
- it's easier for DV and FPV
  - FPV can safely assume any undefined state will lead to an ale

[2022-06-01 22:15] cfrantz commented on #12887
I _think_ that rust analyzer looks at all rust and cc_* targets because cc_ targets can link with rust.  All of the cross compiler targets reference the riscv32imc toolchain, but our version of bazel rules_rust doesn't know anything about that.

PR #12993 fixes this by loading the riscv32imc rust toolchain (and I need it for tock work anyway).

[2022-06-01 23:09] rswarbrick commented on #12990
I've not tried to do it differently! :-)

In particular, the sparse FSMs in `rom_ctrl` should always generate an alert output in their `default` cases. That said (I've just checked), the FSM in the `rom_ctrl_compare` module is actually missing a terminal error state. That's a different problem, but I'll add one tomorrow.

[2022-06-01 23:25] weicaiyang commented on #12292
fixed via https://github.com/lowRISC/opentitan/pull/12400

[2022-06-01 23:25] #12292 closed

[2022-06-01 23:47] weicaiyang opened #12995 "[DV] No source code shown when opening fsdb generated by Xcelium"
When we open fsdb generated by Xcelium, there is no source code shown in Verdi.
We could use `verdi -f filelist` to load source code, but the waves and source code don't link correctly.

Contacted AE for this issue. Here is the answer.

You will need to recreate the simulator compile commands for Verdi, and pass the same options.  The goal here is to have 0 errors when loading into Verdi. With VCS

[2022-06-01 23:49] cindychip opened #12996 "[kmac/rtl] Used entropy data when rand entropy is not ready"
Hi Pirmin,

Eunchan wrote an assertion in design (kmac_entropy) that is failing in regression.
Assertion: https://github.com/lowRISC/opentitan/blob/master/hw/ip/kmac/rtl/kmac_entropy.sv#L440
Issue: When `fast_process` is enabled and entropy mode is set to `EDN`, we saw that signal `rand_consumed_i` is set to 1 but `rand_valid_o` is not set.

I believe you can reproduce by running the following com

[2022-06-01 23:50] cindychip commented on #12996
I am trying to run this sequence without `fast_process` and see if we still have the same issue.

[2022-06-01 23:59] weicaiyang commented on #12990
sounds great. Thanks @rswarbrick
@prajwalaputtappa I'm gonna remove the 2 cycles delay. Let me know if it breaks something.

[2022-06-01 23:59] eunchan commented on #12996
OK. so the scenario is:
1. Hash threshold is set so that the entropy refreshes seed after a certain amount of key blocks are consumed.
2. right after keyblock, the entropy state tries to move to Edn to fetch new entropy.
3. In EDN state, Entropy does not return new entropy to Keccak
4. Keccak, meanwhile, consumes the entropy while processing the message.

So, in my opinion, the change should be:

[2022-06-02 00:00] eunchan commented on #12996
Also, on top of this, Keccak should check `rand_valid` signal to move to the next step. @vogelpi could you review Keccak and revise accordingly? Currently, the Keccak module blindly moves to `Phase2Clock2`(? or similar) without checking `rand_valid`.

[2022-06-02 00:15] cindychip commented on #12996
Thanks Eunchan! Just FYI - I saw the same issue when `fast_process = 0`.
It still passed from `StRandReady` to `StRandEdn` via this line: https://github.com/lowRISC/opentitan/blob/master/hw/ip/kmac/rtl/kmac_entropy.sv#L538

[2022-06-02 00:19] eunchan commented on #12996
OK Thanks for running the sim.

- Keccak FSM shall wait entropy valid signal.
- Entropy FSM may return garbage while not in keyblock with `fast_process` (This fix cannot solve issue without `fast_process` though)

[2022-06-02 00:32] eunchan commented on #12996
I've set the priority to P1. Should be fixed before D3.

[2022-06-02 09:22] m-temp commented on #12990
As for KMAC: The discussion there was if we want to be able to distinguish between a local error (= default state) and an escalation (=dedicated state). The consensus was that we do start the error output in the default state but then move to the error state (which we need anyways for the escalation input). One downside of this approach is, that if we receive an error escalation we also send an er

[2022-06-02 10:46] drewmacrae opened #13005 "[bazel] jobs "bazel_test" and "Build Software for Earl Grey toplevel design" duplicate effort and should be merged"

[2022-06-02 11:45] TimEwins commented on #12773
@weicaiyang Thanks for the information

[2022-06-02 14:27] msfschaffner commented on #10324
OTP structure change has been done here: https://github.com/lowRISC/opentitan/pull/12824
Flash is still outstanding.

[2022-06-02 16:06] milesdai opened #13008 "Remove Nexysvideo from SW tree"
The CW305 bitstream is currently built using the Nexysvideo board target. Nexysvideo was originally removed from Bazel in #12239, but was reverted in #12976 to allow the CW305 bitstream to be built using only Bazel.

Per the discussion [here](https://github.com/lowRISC/opentitan/pull/12976#issuecomment-1144484469), we should either use the CW310 bitstream or create a `device_fpga_cw305.c` if we pl

[2022-06-02 16:25] #12696 closed

[2022-06-02 16:25] #12953 closed

[2022-06-02 16:37] jeoongp commented on #12981
esc_req is generated from alert_handler as a pulse in the fast clock domain.
two flop synchronizer is supposed to work in slow-to-fast CDC.
Thanks @jdonjdon.

[2022-06-02 16:37] eunchan opened #13011 "[syn] Async FIFO gray pointer timing constraints"
Currently, OpenTitan SDC does not include the Async FIFO timing constraints:

- the max_delay for the gray pointer crossing the clock boundaries.
- Skew within a clock period of other clock domain to ensure only one bit in gray pointer is changed.

[2022-06-02 17:22] drewmacrae opened #13012 "update documentation to point to bazel instead of meson"

[2022-06-02 17:25] #12808 closed

[2022-06-02 17:51] #12704 closed

[2022-06-02 17:58] #12603 closed

[2022-06-02 19:22] weicaiyang commented on #12990
@m-temp once it enters or gets stuck at default state, the fatal alert will be sent, right? I guess `sha3_state_error = 1` should cause the alert.

[2022-06-02 19:43] alphan commented on #12905
We don't actually need any hardware changes, just fake the driver calls so that they return some meaningful value. I was able to put something together that doesn't touch silicon_creator or test_rom sources in #12875.

[2022-06-02 19:59] vogelpi commented on #13008
This is also tracked in #12221 and I think @jprendes wanted to look into this task.

[2022-06-02 20:17] vogelpi commented on #12996
Thanks for the detailed analysis @cindychip and @eunchan. I agree that the Keccak FSM should not move to `StPhase2Cycle2` without the entropy being ready (I forgot to change this and changing the design to no longer use intermediate results for remasking). I'll prepare a PR for this.

In addition the entropy module could be made to output entropy valid during a reseed via EDN if fast process is ac

[2022-06-02 21:08] vogelpi commented on #12996
The PR is here #13018.

[2022-06-02 21:25] timothytrippel opened #13020 "[bazel] cleanup labels in macros to expose some externally"
Some bazel macros, e.g., `opentitan_functest`, are designed to be used in external repositories, e.g. the test_hooks repository. To use these, the rules this macro (and other similar macros) instantiate must reference labels using the `@//` repository prefix. We should take a pass through this repo to determine which of these rules we want to expose externally.

CC: @cfrantz

[2022-06-02 22:21] matutem opened #13022 "[sw,cpu_dump] Provide more support for rstmgr cpu_dump"
Summary:
The dif dif_rstmgr_cpu_info_dump_read causes fatal assertions in simulation.

Bear with me with some verilog stuff:

The cpu dump is represented by the following SV struct

  typedef struct packed {
    // previous valid is true only during double fault
    logic previous_valid;
    ibex_pkg::crash_dump_t previous;
    ibex_pkg::crash_dump_t current;
  } cpu_crash_dump_t;

with

  typedef

[2022-06-02 22:39] weicaiyang opened #13023 "[flash_ctrl/dv] tests flash_ctrl_error_* failing due to a mem issue"
There are 3 error tests in flash_ctrl and they all failed with Xcelium when mem is set to 4G (default)
After increasing to mem to 16G, now some of these tests are still failing. We need to think of a way to solve it

1. investigate the code and see if we can reduce the memory use or simplify constraint (don't know what place needs so large memory) it will be great if @TimEwins knows any place that

[2022-06-02 23:22] jeoongp commented on #12284
@tjaychen, can we consider the same approach for pwrmgr as rstmgr in https://github.com/lowRISC/opentitan/pull/12901?

[2022-06-02 23:40] tjaychen commented on #12284
we will need to look a bit more closely. Becuase there are some things in rstmgr/pwrmgr (the reset info for example) that really does need to survive an escalated reset.

[2022-06-03 00:18] cindychip opened #13026 "[alert_handler] crashdump upon escalation clear"
Hi Michael,

Regarding the register `classa_clr_shadowed` and `crashdump` output,
if the `crashdump_trigger` is set to phase0 and already capture the crashdump, but the escalation is cleared by system using `classa_clr_shadowed` register, I believe currently the crashdump will still capture the current phase0 information even though it is being cleared.

Do you think this behavior is expected? I t

[2022-06-03 05:51] alistair23 commented on #5810
I have tried the latest commit and still no luck. There is `openocd -s util/openocd -f board/lowrisc-earlgrey-cw310.cfg` file as specified at https://docs.opentitan.org/doc/getting_started/setup_fpga/ so I'm unable to start an OpenOCD instance

[2022-06-03 09:08] m-temp commented on #12990
That's correct.

[2022-06-03 10:00] msfschaffner commented on #13026
Hey Cindy,

The crashdump information is not useful anymore in that case since the escalation protocol is aborted.
However, it also does not hurt if the crashdump is captured.
If we re-enter escalation at a later stage it will just be re-captured, if I remember correctly.
So I don't think this needs to be fixed, unless there is an issue with this behavior...

[2022-06-03 10:16] msfschaffner commented on #12461
This has been addressed in #12613.

[2022-06-03 10:16] #12461 closed

[2022-06-03 14:44] moidx commented on #6814
Closed by #11990

[2022-06-03 14:44] #6814 closed

[2022-06-03 14:54] moidx commented on #7337
Closed by #11761.

[2022-06-03 14:54] #7337 closed

[2022-06-03 14:55] moidx commented on #9930
Closed by #11761.

[2022-06-03 14:58] moidx commented on #10631
Discussed offline and recommended to leave the watchdog disabled during bootstrap. @cfrantz can you close this issue if you are ok with this approach? Thanks

[2022-06-03 15:00] moidx commented on #5585
Closing as obsolete.

[2022-06-03 15:00] #5585 closed

[2022-06-03 15:02] drewmacrae opened #13034 "[docs] Write up procedure to update firmware on CW310 boards possibly with a script"
Could probably also look into updating chipwhisperer in our setup

[2022-06-03 15:42] a-will commented on #8739
@vogelpi These two lines go together. The line with "expected" is saying what it did _not_ find. So whatever is responding is constantly putting out a 0xfd or 0xdf pattern. :smiley:

[2022-06-03 15:44] vogelpi commented on #8739
Ah, so you're saying there is something else constantly spamming the JTAG.

[2022-06-03 16:51] cindychip commented on #13026
Hey Michael,

Thanks for the feedback. However I do not think the crashdump will be recaptured when we re-enter escalation, unless there is a RESET.
This screenshot below does not capture the issue well because in both cases, the escalation crashdump data is the same.
But from the code and waves, looks like `crashdump_latched_q` is never cleared after `clr_i` is set, so I assume that means we will

[2022-06-03 17:30] #12445 closed

[2022-06-03 18:06] #12990 closed

[2022-06-03 19:57] timothytrippel opened #13042 "[bazel] add option to enable waveform tracing for verilator"
Running the verilator sim binary with the `--trace` flag produces a waveform file. Currently there is no way to have bazel pipe this through when you issue `bazel test ...`. This would be a useful debugging feature as we can now run verilator sims with `bazel test ...`

[2022-06-03 19:57] timothytrippel commented on #13042
CC: @tjaychen

[2022-06-03 21:03] milesdai opened #13044 "[ci] Restore CW310 test coverage after the FPGA tests are made reliable"
The communication with the CW310 board in CI fails intermittently. To mitigate this problem, I've configured CI to run a subset of tests (the original subset run by systemtest before it was replaced by Bazel). After these tests are made reliable, the full suite of CW310 tests should be restored and the `--notest_keep_going` and `--nokeep_going` flags should be removed.

[2022-06-04 18:02] gtelzur opened #13053 "Opentitan on other FPGAs"
Hi,
The recommended reference FPGA board is quite expensive. Are there any cheap FPGAs (such as ecp5, ice40, Tang nano, …) known to work with Opentitan?
I will appreciate any assistance.

Guy

[2022-06-04 19:08] martin-lueker commented on #5630
This issue can be closed with an additional comment.

Now that the interface prohibits configuration updates while enabled, there is definitely no risk of interactions between the ENTROPY_DATA register and the CSRNG point.   Even still, the implementation would not have allowed this previously any way, though we can now be absolutely confident of this non-interaction and it is easily verified by t

[2022-06-04 19:08] #5630 closed

[2022-06-04 19:50] tjaychen commented on #13053
there are two overall
the cw310 - top_earlgrey, and cw305 - top_englishbreakfast

The latter runs a much reduced version of the former. We moved to cw310 due to utilization and the fact that it can support SCA.

[2022-06-06 17:11] #12380 closed

[2022-06-06 17:32] #12786 closed

[2022-06-06 17:33] alphan commented on #9508
friendly ping @timothytrippel

[2022-06-06 17:41] #9508 closed

[2022-06-06 17:47] drewmacrae opened #13062 "[bazel/ci] some tests have been removed during the bazel transition"
I want a record of tests that have been removed during the bazel transition so wee can make sure they get added back in or reconsidered

[2022-06-06 18:50] timothytrippel opened #13064 "[bazel] detect changes in generated airgapped cache"
#13015 generates the airgapped bazel caches (using the `util/prep-bazel-airgapped-build.sh` script) to optimize downstream CI jobs. Running this script in CI should enable us to detect when new PRs alter the bazel configuration in any way that causes the generated bazel caches to change. We should implement a mechanism to detect such and perhaps trigger a blocking review-request from relevant stak

[2022-06-06 18:58] GregAC commented on #11019
We're not adding SEC_CM labels for such 'functional' features. This isn't an inherent hardware security feature protecting some hardware asset but rather architectural functionality that can be used for security purposes by software.

[2022-06-06 21:06] GregAC commented on #12768
The first half of this (bullet points from the original issue) is implemented in https://github.com/lowRISC/opentitan/pull/13069

Calculating jump targets in predecode to cross check against jump targets calculated in the execute stage is being worked on. If testing demonstrates there's some tricky corner cases I hadn't anticipated I think we'll drop it.

[2022-06-06 21:11] milesdai opened #13070 "[ci] Make run-fpga-cw310-tests.sh locally runnable"
`ci/scripts/run-fpga-cw310-tests.sh` is used in CI to run the top Earlgrey tests on the CW310. This script is hard to reproduce locally, however, for two reasons:
1. It starts by setting some environment variables and backdoor populating the bitstream cache.
2. It uses a special `--define cw310=lowrisc` flag that looks for specific USB ports to find the FPGA.

We should refactor this script to mak

[2022-06-06 21:26] milesdai opened #13072 "[opentitantool] Misleading error message when UARTs are not found"
As an example, if I pass in `--cw310-uarts=/dev/<invalid device>` when running an FPGA test, I will see this in the log:

[code]

While reading through the stacktrace below it will reveal that it's a UART problem, the error message is misleading and suggests that it's having trouble finding the bitstream.

[2022-06-06 21:28] timothytrippel opened #13073 "[util] create common python lib function to return REPO_TOP"
Several tools (e.g., `dvsim.py`, [`ralgen.py`](https://github.com/lowRISC/opentitan/pull/13071), `topgen.py`) attempt to retrieve the REPO_TOP path. rather than reimplement this functionality across scripts, we should create a utility that be be used across tools.

[2022-06-06 21:35] #12446 closed

[2022-06-06 22:10] a-will opened #13076 "[usbdev] Fix the rst_aon_ni connection"
From https://github.com/lowRISC/opentitan/pull/12924#discussion_r884006919

[2022-06-07 13:38] TimEwins commented on #12773
Hi @tjaychen @nikola-miladinovic

I seem to have got READ to work using the the available interrupts and registers (op_done, rd_full, rd_lvl, fifo_lvl.rd, curr_fifo_lvl.rd) which is good news.

So I am now looking at program again.

So back to something that I queried earlier.

In my intterupt test I am programming 16 words, but I am getting a prog_win_error.

I am correct in saying that the follo

[2022-06-07 17:30] davebwil opened #13087 "[sw,tests,dv] Top level test permission problems"
I am having a problem with running top level tests.

In a newly checked out repository (a few hours ago), I am trying to run this command (this is just one example):

`util/dvsim/dvsim.py hw/top_earlgrey/dv/chip_sim_cfg.hjson -i chip_sw_sleep_sram_ret_contents`

The output is:

[code]
It should be noted that I have set the environment variable TEST_TEMPDIR which causes Bazel to use a specific dire

[2022-06-07 17:33] tjaychen commented on #12883
sounds good to turn on to me.
if you guys find any weird flash blocking issues, let me know.

[2022-06-07 17:36] tjaychen commented on #12851
@jdonjdon can this be closed now? I seem to remember you already made the change.

[2022-06-07 17:38] jdonjdon commented on #12851
done with #12888

[2022-06-07 17:38] #12851 closed

[2022-06-07 18:01] tjaychen opened #13091 "[cdc] clean-up cdc constraints"
with #13016. cdc constraints are now being introduced to the flow.
These constraints are separate from sdc constraints and need their own mechanism of sourcing (right now I am temporarily including it into `run-cdc.tcl`, which is not right).

Further, some of the cdc constraints should be made more specific, as it is too broad from async_fifo rdata output to ibex rvalid.

[2022-06-07 18:36] TimEwins commented on #12773
Hi @tjaychen

Started looking at PROGRAM using the interrupts again.

It might be a good idea and speed things along, if you can summarize how you think the op_done, prog_empty and prog_lvl should be used, taking into account the program window.

I have tried a few things, and I am trying to make sense of  it (its getting late here).

Here is an example of what I see in the waves, if I start a fla

[2022-06-07 20:25] a-will opened #13096 "[test_rom, doc] Update reset handling and test methodology"
Some chip-level tests currently rely on there being a POR immediately before running a test, and they check the RESET_INFO register from the rstmgr to determine if it occurred. This runs into various issues:

1. The SPI flash bootstrap method typically involves issuing a software reset before booting into flash. In the test ROM, the RESET_INFO register may contain both a POR and a software reset r

[2022-06-07 20:25] a-will commented on #13096
cc @tjaychen @drewmacrae @alphan

[2022-06-07 20:58] drewmacrae commented on #13096
Doesn't this affect any test that works across a reboot? Those two tests are the only ones that are failing because they haven't yet been modified to work with both a POR and a software reset (which they see after bootstrapping).

Should we have a function
bool first_boot_in_test()
somewhere in a testing library to standardize how this is evaluated  and better let us perform customization of platf

[2022-06-07 21:02] luismarques opened #13097 "[doc] Add visual section header anchors in HTML documentation"
Adding a visual element to represent the anchor in (sub)section headers makes it easier to link to specific sections of HTML documents. For instance, GitHub does this by displaying a link icon when you hover over a section:

<img width="564" alt="section header anchor UI" src="https://user-images.githubusercontent.com/171812/172480641-8df2a5ef-2fcf-4302-80da-107db2319ef0.png">

IMO, we should do t

[2022-06-07 21:26] drewmacrae opened #13098 "[OpenTitan-tool] Bootstrapping should trigger a POR to ensure state is uniform at the start of tests"
After bootstrapping if opentitan-tool triggers a POR, tests will always start with just the POR bit set. This allows for simple tests that use the reset_info to determine that they're running the test software for the first time, and could resolve #13096

[2022-06-07 22:08] weicaiyang commented on #12113
- [ ] Add common test for reg write enable check #13049
- [ ] Enable reg_wr_check test for all blocks #13101
- [ ] Add assertion to check this error leads to a fatal alert
- [ ] Enable FPV for prim_onehot_check and FPV for the block that contains this prim.

[2022-06-07 22:50] moidx opened #13103 "[ci] Instructions on how to reproduce FPGA failures"
Currently, there are two options for reproducing FPGA test failures:

1. Download artifacts and run things manually.
2. Instruct Bazel to built the FPGA bitstream as part of the test invocation, for example `./bazelisk.sh test //sw/device/tests:aes_smoketest --define bitstream=vivado`

Both options are rather time consuming.

It would be nice if CI could upload the FPGA bitstream artifacts to GCS

[2022-06-07 22:52] moidx commented on #13103
Setting initial priority as P2 as this is not currently blocking production. It will become a P1 later on once we start getting more involved in debugging FPGA test failures.

[2022-06-07 23:56] moidx commented on #13070
Cross referencing: https://github.com/lowRISC/opentitan/issues/13103

[2022-06-08 02:10] drewmacrae opened #13106 "[ci] reset cw310 between tests"
This will resolve crashes with jake and isolate tests from previous state that resides in the SAM3U and is currently blocked by

- [ ] Firmware version on the cw310 attached to jake
- [x] https://github.com/newaetech/chipwhisperer/pull/410 must propagate through to https://github.com/newaetech/chipwhisperer-minimal

[2022-06-08 06:08] timothytrippel commented on #13087
Thanks for capturing this @davebwil . Unfortunately, after several tries I am not able to reproduce this on my side. Could you perhaps provide the log files that were generated by dvsim? Additionally, could you provide me with the output of `find -L $(bazel info output_path)/  -type f -name "sram_ctrl_sleep_sram_ret_contents_test_prog_sim_dv*"` after running a failed test?

[2022-06-08 12:12] davebwil commented on #13087
Hi @timothytrippel,
I have run again, changed TEST_TMPDIR and scratch to be on /tmp of the compute server I am using to avoid NFS paths.

the output of the find command:

[code]

The contents of /tmp/davidwil/scratch/toplevel_tests_sram_ret_contents_fix/chip_earlgrey_asic-sim-vcs/0.chip_sw_sleep_sram_ret_contents/out/run.log

[code]
Build log attached from /tmp/davidwil/scratch/toplevel_tests_sram

[2022-06-08 14:36] milesdai opened #13115 "[bazel] Allow bazel to run FPGA tests with a path to a local bitstream"
The bitstream cache mechanism in Bazel currently allows the user to run with three possible configurations:
1. Fetch a bitstream from the cache (`--define bitstream=gcp`)
2. Skip loading a bitstream and just use whatever's already on the FPGA (`--define bitstream=skip`)
3. Build a bitstream with Vivado and load that (`--define bitstream=vivado`)

To make debugging FPGA tests easier, we should add

[2022-06-08 15:14] a-will commented on #13115
Would it make sense to make these be arguments to a test runner instead of build config flags?

What's the blast radius of bitstream configuration flag changes? Does the whole workspace get invalidated? Or is it only a small number of targets?

[2022-06-08 16:10] milesdai commented on #13115
My understanding is that these flags need to be defined at the top-level bazel command since we need to tell Bazel what files to bring into the sandbox and the `vivado` option needs to be able to kick off a Vivado build. Of course, if you're manually invoking opentitantool or any other utility script, you could just point it to whatever bitstream you want. This is just to make the `bazel test` com

[2022-06-08 16:11] alphan opened #13119 "opentitantool as our shared programming tool"
_Originally posted by @a-will in https://github.com/lowRISC/opentitan/issues/13019#issuecomment-1148883814_

@a-will @cfrantz @arunthomas
I'll add this to the agenda of today's meeting.

[2022-06-08 16:23] a-will commented on #13115
If you tested it and no rebuilding was needed, then it's all good! :)

I've just been annoyed that the compilation_mode seems to affect _everything_ in the workspace, even though host tools and device code have very different needs. I wasn't sure what what the scope was for our custom attributes.

[2022-06-08 16:25] Jacob-Levy opened #13120 "CI(private) ENTROPY_SRC build fail on: "Error-[XMRE] Cross-module reference resolution error""
When running CI(private):
`util/dvsim/dvsim.py hw/top_earlgrey/dv/top_earlgrey_sim_cfgs.hjson --purge -w -i smoke --max-parallel 3 --tool=vcs --fixed-seed=1`
The followinf  fails are covered by #13038  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

Four (3) out of six (6) chip test fails...  Tree (3) of the SW tests, chip_sw_uart_tx_rx, chip_sw_pwrmgr_smoketest, and chip_plic_all_irqs, fai

[2022-06-08 16:26] cindychip opened #13121 "[dv] csr exclusion enhancement"
Recently we have fixed a few issues to due putting csr write exclusion to a field.
Here are two solutions:
1). Return an error once we found a write exclusion is applied to the field.
2). Support csr write field exclusion -
     since there is no partial write, supporting this feature can be tricky. I was thinking to just write default/reset value when this field is excluded from write, but it mig

[2022-06-08 17:09] timothytrippel commented on #13087
Thanks @davebwil. @sha-ron is experiencing a similar issue and is working on debugging this too. Sorry for any inconvenience here.

[2022-06-08 17:29] #12538 closed

[2022-06-08 17:29] a-will commented on #13087
Hm... are `\u2018` and `\u2019` referring to the unicode characters for left single quote and right single quote? Do we have some unicode handling problems with paths somewhere?

[2022-06-08 18:32] Jacob-Levy commented on #13120
There is also a second type of fail that is not related to the semaphore....

[2022-06-08 21:36] weicaiyang opened #13129 "[dv] enhance flash_ctrl sequences"
As discussed with @tjaychen, here are things we may consider to enhance the flash sequences.
1. we should randomly send flash transaction to both host and controller ports, in order to stress test the phy arbitration and this is close to the actual use case. Right now, the [phy_arb_vseq](https://github.com/lowRISC/opentitan/blob/master/hw/ip/flash_ctrl/dv/env/seq_lib/flash_ctrl_phy_arb_vseq.sv) is

[2022-06-08 21:54] tjaychen commented on #12981
@jdonjdon can you have a look to see if the fix introduced fixes the problem?
if yes we can close this issue down.

[2022-06-08 23:14] Jacob-Levy commented on #13120
One more fail during CI(private) Build phase:

[code]

[2022-06-09 02:01] jdonjdon commented on #12981
Issue closed with
rtl update (#12988)
tb update (#12758)

[2022-06-09 02:01] #12981 closed

[2022-06-09 04:44] alistair23 opened #13134 "Verilator generating incorrect instructions"
I'm seeing failures when running Tock on the latest-ish (c83a36ce443d5743e270c008721ae69257d28789) Verilator build.

When setting the PMP configuration there is a code segment like this:

[code]

Looking at the Verilator instruction log, I can see that the first 31 times this is run it looks like this:

[code]

Then on the 32nd time I see this

[code]

Notice that the instruction decoding at addre

[2022-06-09 05:58] timothytrippel commented on #13022
I think this makes a lot of sense. Essentially we could split the `dif_rstmgr_cpu_info_dump_read()` into several smaller DIFs, e.g., one for reading each word in the `crash_dump_t` SV struct, and an arg to each of those DIFs could be a current or previous enum val. If said arg is previous and it is invalid, we could just error out (with `kDifBadArg`).

One question though: how will we determine if

[2022-06-09 06:00] tjaychen commented on #13022
i think we probably need to move this out of the `dif_rstmgr`. The `rstmgr` isn't actually aware of the layout of the crash dump.
It just knows there are N number of bits. I think that's partially why I was suggesting this to be in `testutil`, with perhaps the layout information coming in `dif_rv_core_ibex`?

[2022-06-09 06:03] tjaychen commented on #13022
sorry one last thing, this issue is dependent on another.
see [here](https://github.com/lowRISC/ibex/issues/1117)

The current structure of the crash dump from ibex doesn't make a ton of sense with the way i'm concatenating it.

[2022-06-09 06:12] timothytrippel commented on #13022
ohhhh I see. yeah thats works for me too. I just was curious though how we will detect if the previous data is valid? I.e., will there be extra CSRs added to the rv_core_ibex IP that the dif_rv_core_ibex can read? How will we represent the layout of the crash dump data in the rv_core_ibex?

right now it looks like rstmgr has three CSRs (`CPU_INFO_CTRL` for index, `CPU_INFO` for data,  `CPU_INFO_AT

[2022-06-09 06:18] tjaychen commented on #13022
so this is me being kind of naive, so let me know what you think.
I think we will probably need to define a struct or something on `dif_rv_core_ibex` side to represent the actual crash dump layout. This is known as part of the design, so i think it makes sense to hardcode it into that dif.

Then the `dif_rstmgr` i think is just going to stream out "bits" that probably will need to get stored into

[2022-06-09 06:24] timothytrippel commented on #13022
Ah got it, thanks for clarifying. yeah that should work. We should probably just point to said struct in the rv_core_ibex docs then as the official layout, that way the docs have a reference for the layout but the code acts as the official documentation of said layout (for easier long term maintenance :) )

[2022-06-09 06:25] tjaychen commented on #13022
that sounds good to me!

[2022-06-09 06:32] tjaychen commented on #13022
btw @timothytrippel, if there's a better way to approach it, by all means let's do that. This is just what came to off the top of my head.

[2022-06-09 06:46] timothytrippel commented on #13022
The only other way I thought about was having 8 separate CSRs for all crash dump info and then the DIFs could just read each one independently. The problem with this is that you add 5 more CSRs than currently exist and I'm guessing more DV work to verify these. So probably not worth the overhead.

Plus with the struct approach, we can just loop through the indices of the crash dump data which redu

[2022-06-09 09:08] #12417 closed

[2022-06-09 11:26] vogelpi commented on #12768
The additional control flow hardening discussed here has all been implemented. The PRs of Greg have been merged. Thus closing.

[2022-06-09 11:26] #12768 closed

[2022-06-09 12:28] Jacob-Levy opened #13138 "Most CI(private) builds fails the same way after pulling 'opentitan'"
Most CI(private) builds fails the same way after pulling 'opentitan':
[code]
@sha-ron @arnonsha

[2022-06-09 15:58] Jacob-Levy commented on #13138
One more fail during CI(private) Build phase:

[code]

[2022-06-09 16:03] a-will commented on #13022
Changing the DIF to move out top-specific details sounds good to me, but isn't the heart of this issue that there are SVAs that have invalid expectations?

[2022-06-09 17:45] msfschaffner opened #13148 "RFC: OpenTitan D2 Milestone - Sign-off Process"
[The RFC document](https://docs.google.com/document/d/1HpYmP3oqc83JKPuFEGZ_0ScyBSPfvYbxP2u5VFel_Y4/edit) is in preparation and hence not ready for TC review just yet. Once approved, there will likely be some checklist and public doc updates.

[2022-06-09 19:02] a-will commented on #13022
SVA and RTL DV checks are kind of in the same bucket ;)

What I mean is... The RTL and DV don't agree on what values _should_ come out, and we probably ought to consider doing something about it. The DIF changes are nice for other reasons, but with respect to this issue, it's just sidestepping it.

@tjaychen has some ideas, I think, heh.

[2022-06-09 19:47] #12387 closed

[2022-06-09 19:47] alphan commented on #10808
#13082

[2022-06-09 19:47] #10808 closed

[2022-06-09 19:47] alphan commented on #10631
#13082

[2022-06-09 19:47] #10631 closed

[2022-06-09 19:47] alphan commented on #10215
#13082

[2022-06-09 19:47] #10215 closed

[2022-06-09 20:36] drewmacrae commented on #13042
By the way, it's not a solution, but I've been working around this for a while now and I have two ways of doing it.

Within the rule for the opentitan_functest I can use verilator_params to pass `--trace`
[code]

[2022-06-09 20:48] alphan commented on #12552
I have a draft that uses `no-sandbox` here: #13150

[2022-06-09 21:22] timothytrippel commented on #13042
Ah great so its just a matter of piping it through from the bazel side

[2022-06-09 23:21] #11928 closed

[2022-06-10 00:20] tjaychen opened #13155 "[top/spi_device] spi device constraint issues"
While working on #13095, some constraint issues were surfaced with `spi_device` on fpga that caused boot strap to fail.
After some digging @a-will and I have summarized the issues and solutions in [this deck](https://docs.google.com/presentation/d/14VfPqah-27uFUjkAS3WGbNxFH4EK-Y2PAvpjdHoUXn8/edit?usp=sharing).

[2022-06-10 00:28] eunchan commented on #13155
SRAM clock gating is kind of special. The clock input could be come from SPI_DEV_CLK or IO_DIV4_CLK. Maybe would be OK as those clocks are defined asynchronous each other?

BTW, Thanks both of you for finding the constraint issues on FPGA

[2022-06-10 00:41] drewmacrae commented on #13042
With https://github.com/lowRISC/opentitan/pull/12985 you can now see the invocation of opentitantool to repeat the test as invoked by Bazel.
Run: ```bazel test <your test label> --test_output=all```
to have bazel prepare and invoke the test and echo the invocation to the log.

It's then clunky to look up the items outside a sandbox, but `ci/scripts/target-locations.sh` makes it a little easier.
[c

[2022-06-10 00:41] tjaychen commented on #13155
actually @eunchan , is there any reason to hook-up `spi_fwmode`'s `clk_i` to the sram muxed clock?
couldn't that one be `sys_clk` always? I think what's happening is that the tool is seeing that `spi_clk` can propagate to that path, but I think you had intended for all that stuff to work in `sys_clk`, and really the only one that needs the muxed clock is the `sram` itself right?

[2022-06-10 00:42] drewmacrae commented on #13042
```ci/scripts/target-location.sh -v //sw/host/opentitantool``` will view the output from bazel with https://github.com/lowRISC/opentitan/pull/12970 if you want to debug a query.

[2022-06-10 00:50] timothytrippel commented on #13042
instead of `$(ci/scripts/target-location.sh //sw/host/opentitantool) ...` you could also just use `bazel run //sw/host/opentitantool -- ...`

[2022-06-10 00:51] drewmacrae commented on #13042
I tried that and couldn't make it work, I think there may have been something to do with sandboxing, or maybe I made a typo

[2022-06-10 00:56] timothytrippel commented on #13042
ah its probably b/c you have to pass all the paths to the SW images too... thats why I think it would be much easier if we just had something like `bazel test //sw/device/tests:uart_smoketest_sim_verilator --trace` using a command line argument alias and a custom build setting like here: https://www.grahambrooks.com/software-development/2021/08/30/user-defined-bazel-arguments.html

[2022-06-10 06:19] Jacob-Levy commented on #13138
Closing issue since it is a duplicate of: #13087 &  #13120.

[2022-06-10 06:19] #13138 closed

[2022-06-10 07:58] timothytrippel opened #13162 "[bazel] add remaining lint rules that are run in `ci/jobs/quick-lint.sh`"
There are Bazel BUILD, C/C++, and license header lint rules that are easy to run with Bazel. However, there are several other lint checks that are run in CI, including checks for:

- [ ] Python code
- [ ] Rust code
- [ ] autogenerated code
- [ ] non-ascii characters
- [ ] exe bits

We should add Bazel rules for these and perhaps a single rule to run them all so that the [quick-lint.sh](https://git

[2022-06-10 08:09] timothytrippel opened #13163 "[ci] use bazel managed version of clang-format"
Bazel is using the [clang-format provided with the lowrisc tools chain](https://github.com/lowRISC/opentitan/blob/058344a4fc2a27460060718315407f4675fd5f00/rules/quality.bzl#L101), which is what we want since bazel manages the version for everyone, but CI [still uses the system installed clang-format](https://github.com/lowRISC/opentitan/blob/058344a4fc2a27460060718315407f4675fd5f00/ci/scripts/clan

[2022-06-10 12:37] jdonjdon commented on #13121
I think for option2, unless we implement 'partial write', it will be like patch over patch
based on any exception we discover.

[2022-06-10 16:11] msfschaffner commented on #12903
This RFC has been approved by the TC today.

[2022-06-10 18:40] timothytrippel opened #13169 "[util] update and re-vendor `licence-checker.py` to remove meson references"
The `util/lowrisc_misc-linters/licence-checker/licence-checker.py` script contains references to Meson but lives in a different repository. This must be updated and re-vendored.

[2022-06-10 18:51] alphan commented on #12883
@GregAC and @tjaychen I tried enabling icache in #13110 but after that I didn't receive anything from UART (cw310). That PR adds an OTP entry and updates the DEV and RMA hjson files. I've just pushed an update that reverts the value of the OTP entry to `0`. If this doesn't fix the issue I might have to comment out the `CSR_WRITE()`.

cc @moidx @cfrantz

[2022-06-10 23:15] a-will commented on #13098
The answer from the chip-level test meeting was "yes"

[2022-06-10 23:16] #12449 closed

[2022-06-10 23:17] a-will commented on #13022
The original issue of passing 'X' is fixed by #13151

[2022-06-11 00:32] timothytrippel commented on #13087
Thanks for the update @sha-ron . After discussing this with @cfrantz and @arunthomas , we had a couple more questions:

1. Did you try running your fix on a clean checkout of the repo? (i.e. a fresh `git clone`)?
1. did you try using a `cp -f ...` on [this line](https://cs.opensource.google/opentitan/opentitan/+/master:hw/dv/tools/dvsim/sim.mk;drc=e7f754ffc8d592421981e7321aa254901df883f0;l=103) to

[2022-06-11 11:36] msfschaffner opened #13175 "[lc_ctrl] Change request for clock switching mechanism"
We identified an issue in the life cycle external clock request logic.

In particular, the OTP vendor test procedure (controllable/observable via the [VENDOR_TEST_CTRL](https://docs.opentitan.org/hw/ip/lc_ctrl/doc/index.html#Reg_otp_vendor_test_ctrl) and [VENDOR_TEST_STATUS](https://docs.opentitan.org/hw/ip/lc_ctrl/doc/index.html#Reg_otp_vendor_test_status) registers in `lc_ctrl`) needs to be able

[2022-06-11 11:40] msfschaffner opened #13176 "[otp_ctrl] Add frequency assertion to wrapper logic"
Add an assertion to the wrapper logic that checks that the frequency is within valid range during programming operations.

[2022-06-11 12:06] msfschaffner commented on #13026
Hey @cindychip. Good point, I totally forgot that we do not re-arm the latchnig mechanism upon clear.
Would #13177 solve the issue you are experiencing?

[2022-06-11 12:55] sha-ron commented on #13087
1. Trying a clean checkout of the repo didn't help.
2. I tried now the cp -f, still fail on the "same file" error :(
3. I have $TEST_TMPDIR defined: output root default is '/home/users/stopaz' and max_idle_secs default is '15'.
I will be in Boston next week and not sure about the schedule yet.  I can check if someone else from Nuvoton can attend.

[2022-06-12 03:26] jdonjdon opened #13179 "[rv_dm] dmi interface lock up after asserting ndm reset"
I found this issue while I am writing ndm reset request test.
In the test, rv_dm sent ndm reset request initiated by TB jtag agent through jtag_dmi interface.
![image](https://user-images.githubusercontent.com/99843637/173212917-bef68fd6-adfa-4056-a282-aa1f13b31630.png)
After asserting reset, test sent reset de-assert but de-assert command from TB jtag agent can't reach rv_dm because u_pinmux_stra

[2022-06-13 03:32] alistair23 commented on #13134
I see this for a range of other instructions as well, for example

[code]
becomes

[code]
When run on Verilator

and

[code]

becomes

[code]

but only if I make PMP changes, otherwise it's

[code]

[2022-06-13 07:22] timothytrippel opened #13181 "[bazel] cleanup `export_files` in `sw/device/tests/BUILD`"
#13180 added a temporary solution to enable writing closed source tests in the `manufacturer_test_hooks` repository that use open source test code. Specifically, it enabled defining an `opentitan_functest` in the closed source (`manufacturer_test_hooks`) repository without the need to specify the corresponding test hooks that should be used with the test on the command line. This provided a better

[2022-06-13 10:50] TimEwins commented on #12773
I still cannot see what is happening here :(

This is Blocking

[2022-06-13 11:16] msfschaffner commented on #11607
@weicaiyang, @cindychip is this still an issue, or does our workaround in https://github.com/lowRISC/opentitan/pull/11580 solve the problem?

[2022-06-13 11:18] msfschaffner commented on #10541
Nuvoton is going to do their own version of a D2S review and present their findings to us so that we can sign off at D2S. As for the other D/V milestones, this is something we plan to discuss at our next f2f meeting with Nuvoton.

[2022-06-13 12:41] davebwil commented on #13087
I am able to run tests again.
I rebased my repo, deleted the cache for bazel (pointed to by $TEST_TMPDIR) for a fresh start.
Made the cp -f change to sim.mk.
In addition I noticed that I had a previous bazel install in my PATH (from when I was testing a unittest change). I have removed that from the path to avoid any possible conflict.
All of my directories are on NFS mounts  (home, project, scrat

[2022-06-13 13:58] jadephilipoom opened #13185 "[sigverify] Add a test for OTBN instruction count range."
See https://github.com/lowRISC/opentitan/pull/13165#discussion_r895593235

Sigverify currently uses OTBN's built-in instruction counter as an extra protection against fault injection attacks. However, this introduces the risk that if the underlying OTBN program changes, the hardcoded instruction count range could become out of sync, resulting in a valid signature failing verification. We need an a

[2022-06-13 19:00] timothytrippel commented on #13087
@sha-ron could you try what @davebwil describes and see if that fixes the issue?

[2022-06-13 19:00] timothytrippel commented on #13087
CC: @arunthomas @cfrantz (for visibility)

[2022-06-13 20:34] jeoongp opened #13194 "[cdc] CDC data between clk_peri and clk_io_i"
CDC tool complains some clkmgr regs/shadow regs receive data directly from tl_i bus which come from xbar_peri regfifo.
The same errors are also reported between tl_i and sysrst_ctrl/adc_ctrl/pwr/pinmux/aon_timer regs

![Screen Shot 2022-06-13 at 1 29 56 PM](https://user-images.githubusercontent.com/103145460/173439857-49ee7e15-468e-4dfe-9e8e-8a4cd34ef2c1.png)

[2022-06-13 20:54] drewmacrae opened #13195 "[opentitan-tool/cw310] Rom detection timeouts trigger test failures"
On the cw310 when invoked with bazel, Rom detection timeouts trigger test failures, Instead of loading a bit-stream, if the rom detection times out the tests appear to fail.
Engineering a timeout by decreasing the limit in `sw/host/opentitantool/src/command/load_bitstream.rs` causes tests to fail, not to load a new bitstream and proceed as I'd expect.

[2022-06-13 20:54] drewmacrae commented on #13195
I don't know if this is serious as it may be some of the software isn't ready at the time of the earlier timeout, so it may be that a problematic bitstream cannot cause this.

[2022-06-13 21:02] drewmacrae commented on #13195
Hmm, looks like I may have brought in a defect from master and gotten confused.

[2022-06-13 21:14] alphan commented on #9685
#9810 locks `CREATOR_SW_CFG` to disable read access to the AST init region.
#12068 moves the init done check to mask_rom.c

[2022-06-13 21:27] alphan commented on #8858
Closing this issue based on @zi-v and @tjaychen's comments: We can skip AST init based on the value of the OTP entry and even if we skip it SRAM scrambling is expected to work.

[2022-06-13 21:27] #8858 closed

[2022-06-13 21:32] alphan commented on #9228
Thanks for capturing this @tjaychen. I'll close this issue since #13111 adds the `ROM_EXEC_EN` OTP item. PLMK if you think we should keep this open. I'll review #9295 separately.

[2022-06-13 21:32] #9228 closed

[2022-06-13 23:32] jeoongp commented on #13194
About 2k errors come from the same root : err_o from tlul_cmd_intg_chk in reg_top. err_o is directly connected to Flip Flips on the clk_i domain. If we can not waive them, we can consider 2 flops synchronizer on  if two clocks run on the same frequency. Then, we can reduce about half of W_MASYNC errors.

[2022-06-13 23:59] jeoongp opened #13197 "[cdc] CDC between clk_spi_in_buf and clk_spi_out_buf"
<img width="1345" alt="Screen Shot 2022-06-13 at 4 55 08 PM" src="https://user-images.githubusercontent.com/103145460/173465969-9e5a61de-43ef-40f0-986d-dfa04941ae6c.png">

Two signals which come from clk_spi_in_buf and clk_spi_out_buf seem to be propagated to the same destination logic.

<img width="682" alt="Screen Shot 2022-06-13 at 4 59 03 PM" src="https://user-images.githubusercontent.com/1031

[2022-06-14 00:06] a-will commented on #13197
#13108 should help with that :smile:

[2022-06-14 00:28] jeoongp commented on #13197
can I get access to [this deck](https://docs.google.com/presentation/d/14VfPqah-27uFUjkAS3WGbNxFH4EK-Y2PAvpjdHoUXn8/edit?usp=sharing)?

[2022-06-14 00:45] jeoongp commented on #13197
I reviewed #13108. It seems to include FPGA constraint to resolve timing issue on clk_spi_in_buf and clk_spi_out_buf in that both clocks come from the same source clk_spi_out_muxed and generated through different clock buffers. I am not clear of How they are handled in ASIC and SDC. Can you help me to understand?

[2022-06-14 00:52] jeoongp commented on #13197
This CDC issue is related to https://github.com/lowRISC/opentitan/issues/13155.

[2022-06-14 02:16] sha-ron commented on #13087
After cloning the repo again and deleting what I have under $TEST_TMPDIR I can run a test once but then I fail with the errors below:

 _INFO: Build completed successfully, 3 total actions_
__$TEST_TMPDIR defined: output root default is '/home/users/stopaz' and max_idle_secs default is '15'._
**cp:** '/home/users/stopaz/_bazel_stopaz/78fa2193dfc4cb11104e6b9be43225e2/execroot/lowrisc_opentitan/baze

[2022-06-14 02:18] sha-ron commented on #13087
I am using bazel  version 5.1.1, is it ok?

[2022-06-14 02:50] drewmacrae opened #13198 "Running //sw/device/tests:clkmgr_off_aes_trans_test_fpga_cw310 and //sw/device/tests:pwrmgr_wdog_reset_reqs_test_fpga_cw310 more than once cause these tests to fail"
Earlier, opentitantool was loading the bitstream often enough that we were reading these tests as merely flaky. As I'm working on #13174 I'm seeing these tests fail in a way that depends on the ordering of the tests but especially on subsequent reruns:

//sw/device/tests:clkmgr_off_aes_trans_test_fpga_cw310
//sw/device/tests:pwrmgr_wdog_reset_reqs_test_fpga_cw310

The failure can be hit with
`baze

[2022-06-14 02:51] drewmacrae commented on #13198
This at least happens during bootstrap, which is now maintaining the state in question.

[2022-06-14 04:26] a-will commented on #13197
Hm... actually, is the tool confused by all of this?

We have the generated clocks that relate clk_spi_in_buf and clk_spi_out_buf here: https://github.com/lowRISC/opentitan/blob/master/hw/top_earlgrey/syn/chip_earlgrey_asic.sdc#L212-L215 . What rule is their relationship violating? They should be timed, as they have the same source.

Then clk_spi_out_buf and sys_clk are marked as asynchronous grou

[2022-06-14 05:02] jeoongp commented on #13197
@a-will thanks for reply. The rule is W_MASYNC - reports crossings that are being driven by multiple asynchronous transmit clock domains.
== general description =============================================
CDC signals in the design are in multiple clock domains. The following situations are reported:
    A signal entering a clock domain is dependent upon two or more different clock domains.
    A

[2022-06-14 06:53] timothytrippel commented on #13087
yes, that is the correct version of Bazel. are you getting the above error even after you  add the `-f` flag to the `cp` command on [this line](https://cs.opensource.google/opentitan/opentitan/+/master:hw/dv/tools/dvsim/sim.mk;drc=e7f754ffc8d592421981e7321aa254901df883f0;l=103)?

[2022-06-14 07:24] zi-v commented on #8858
Just double confirming that you don't scramble the retention SRAM by ROM code with a per boot key.

[2022-06-14 10:24] dharanendrak opened #13200 "[DV/PWM] when DUTY_CYCLE_0.B_0 < DUTY_CYCLE_0.A_0,duty cycle decrement is not correct"
Martin,
when DUTY_CYCLE_0.B_0 < DUTY_CYCLE_0.A_0, duty cycle decrement is not correct

**Feature understanding  :**

   When DUTY_CYCLE_0.B_0 < DUTY_CYCLE_0.A_0,
    the duty cycle should pulse BLINK_PARAM_0.x+1 pulses and then the duty cycle should be decreased by BLINK_PARAM_0.Y+1 units.

**Observation :**

    the duty cycle is pulsing 2 times the BLINK_PARAM_0.x+1 pulses and then the duty cycl

[2022-06-14 10:49] sha-ron commented on #13087
Yes I am getting the error after adding -f flag to the cp command (without the -f I fail on permission denied error).

[2022-06-14 11:30] drewmacrae commented on #13042
The args can also be temporarily edited in `rules/opentitan_test.bzl` where there's already enough of them being used that you can see what's going on.

[2022-06-14 13:38] vogelpi opened #13201 "[otbn] Check seed_valid bit of OTP scrambling interface"
@ctopal noted that inside OTBN, the `seed_valid` bit of [the OTP scrambling interface](https://opentitan.org/book/hw/ip/otp_ctrl/doc/interfaces.html#interfaces-to-sram-and-otbn-scramblers) is currently not used. We register the bit received from OTP but then don't do anything with it.

If that bit isn't set, it means OTP has used an all-zero constant to derive the scrambling key. Meaning the key i

[2022-06-14 13:47] tjaychen commented on #13134
@arunthomas not sure how we should tag this issue.

[2022-06-14 13:51] alphan opened #13202 "[ci] Consider running cw310 test_rom and mask_rom tests separately for better performance"
Loading a bitstream to cw310 takes around 15 s. It would be nice if the CI could run test\_rom tests and mask\_rom tests separately so that we load each type of rom only once instead of switching between each other.

[2022-06-14 14:11] alphan opened #13203 "[ci] Use clearer suffixes for test_rom and mask_rom bitstreams"
The `splice_rom.sh` script uses `.orig` for test\_rom and `.splice` for mask\_rom which can be confusing in other scripts.
We could probably just use `.test_rom` and `.mask_rom` or something similar.

[2022-06-14 14:17] tjaychen commented on #9228
sounds good.  thanks @alphan!
I think this is good, @moidx / @cfrantz let me know if you think we've missed anything here.

[2022-06-14 14:19] tjaychen commented on #13175
this change sounds good to me.
@zi-v , could you re-iterate, for the purpose of this issue, the importance for such a feature?

[2022-06-14 14:31] tjaychen commented on #13194
thanks @jeoongp, i feel like you probably found a bug.
I didn't completely follow though, are you saying the error is from `err_o` into the shadow registers..? if you could show me the full sample path for one, that would really helpful.

[2022-06-14 15:02] alphan opened #13205 "[sw/silicon_creator] Names of OTP entries in the creator and owner partitions"
It looks like all entries in the creator partition start with the `CREATOR_SW_CFG_` prefix while most items in the owner partition do not start with `OWNER_SW_CFG_`. I think this is something we should fix, right?

[2022-06-14 16:36] jeoongp commented on #13194
The code is in https://github.com/lowRISC/opentitan/blob/master/hw/ip/prim/rtl/prim_reg_cdc.sv#L87.
 top_earlgrey.u_clkmgr_aon.u_reg.u_io_meas_ctrl_shadowed_cdc.src_we_i is connected to a FF.
It comes from tb.dut.top_earlgrey.u_clkmgr_aon.u_reg.u_chk.err_o (FYI, https://github.com/lowRISC/opentitan/blob/master/hw/ip/tlul/rtl/tlul_cmd_intg_chk.sv#L38).
err and data_err are extracted from TL bus dat

[2022-06-14 16:43] Jacob-Levy commented on #13120
Can someone fix the build error...

[2022-06-14 16:52] martin-lueker commented on #13200
Thanks for the issue: Is this for heartbeat or not heartbeat mode.

[2022-06-14 17:00] dharanendrak commented on #13200
Hi,
This is heart beat enabled mode.
Please take a look at the attachment in the issue for reference.

Thanks
Dharan
________________________________
From: Martin Lueker-Boden ***@***.***>
Sent: Tuesday, June 14, 2022 10:22:14 PM
To: lowRISC/opentitan ***@***.***>
Cc: Dharanendra Kumar ***@***.***>; Author ***@***.***>
Subject: Re: [lowRISC/opentitan] [DV/PWM] when DUTY_CYCLE_0.B_0 < DUTY_CYCLE_0.

[2022-06-14 17:17] tjaychen commented on #13194
ah can you have a look at this? the idea is that the these transaction bits should be held until the entire handshake sequence is over. So as long as that remains true, would it be okay?

[2022-06-14 17:18] tjaychen commented on #13120
@martin-lueker / @mwbranstad can you have a look?

[2022-06-14 18:17] moidx commented on #13205
I think the change will make it easier to audit the system by making it easier to map config options to OTP logical partitions.

[2022-06-14 18:44] tjaychen commented on #13179
@jdonjdon thanks for identifying this.
The basic problem is that `pinmux` is in the wrong reset domain (sound familiar?)

I think we need to move pinmux over to the `lc` reset domain. @msfschaffner what do you think? I think I start most blocks in `sys` and move them to `lc` only if needed.

[2022-06-14 18:57] tjaychen commented on #13201
I thought the seed valid was more related to whether a particular seed was burned and locked in the otp.
If that's the case, I don't necessarily think it has to be an error, because maybe during testing we have yet to setup otps yet.

it would make sense to indicate this as a status though, and perhaps instead of the default 0, some kind of random fixed constant that can be parameterized.

[2022-06-14 19:18] tjaychen commented on #13205
this sounds good to me, but i think we should only do this if there isn't much impact to design / dv.

@msfschaffner
@cindychip
can probably best comment on that.

[2022-06-14 19:19] tjaychen commented on #13197
@jeoongp is the tool really misunderstanding paths between `clk_spi_in_buf` and `clk_spi_out_buf`? or is the `sys_clk` the main issue?

[2022-06-14 19:20] tjaychen commented on #13194
@jeoongp this is also changing as part of #12784 , can you have a look there as well?
I'll work on drawing some diagrams today to hopefully clarify this.

[2022-06-14 19:57] jeoongp commented on #13194
Let me digest 51 file changes. The block diagram should be helpful. Thanks

[2022-06-14 19:58] tjaychen commented on #13194
for that one, don't bother review the entire one. Just look at the first commit (much smaller change).

[2022-06-14 20:05] jeoongp commented on #13197
Category 1) CDC between clk_spi_in_buf and clk_spi_out_buf : yes, I think it's the tool issue..
Category 2) CDC between clk_spi_out_buf and sys_clk : it's a potential RTL issue..

[2022-06-14 21:06] martin-lueker commented on #13120
Yes, that was mine.   I wonder why it passed in CI when I merged it?
Has this been holding up CI for six days?

[2022-06-14 21:15] tjaychen commented on #13120
no @martin-lueker it seems to be simulator dependent. It looks like this only fails for vcs and is fine for xcelium. I haven't looked into it to be honest.

[2022-06-15 00:03] jeoongp commented on #13194
I reviewed the CDC RTL updates in https://github.com/lowRISC/opentitan/pull/12784. The handshaking approach makes sense.

src_we_i is an external input from clk_peri domain that indicates a TL cmd error. Can a single pulse happen on src_we_i? If a single pulse error is somehow not captured due to CDC between clk_i and clk_peri, txn_bits_q may not store src_we_i..

[2022-06-15 00:53] tjaychen commented on #13194
yes i think `src_we_i` is a single pulse. But it should get latched on `clk_i` first, and the `busy` is used to pushback future transactions. Is that how you interpret it?

[2022-06-15 01:08] #12552 closed, assigned to alphan

[2022-06-15 01:09] #13106 closed

[2022-06-15 01:18] jeoongp commented on #13194
Is there any timed alignment between clk_i and clk_peri? Otherwise, one single flip flop may not be enough to latch a single pulse when dest clk is asynchronous from src clk..

[2022-06-15 01:34] tjaychen commented on #13194
we use a `prim_pulse_sync` module that translates a pulse from the `clk_i` domain into the `clk_peri` domain.
So what happens is that when `we_i` is seen, the write payload is captured on the `clk_i` side, and the pulse sync is used to generate a write pulse on the `clk_peri` side.

When the pulse appears on the `clk_peri` side, it should be guaranteed by design that the held payload will not chan

[2022-06-15 02:03] jeoongp commented on #13194
Thanks for explanation. prim_pulse_sync translates a pulse captured in clk_i to clk_peri domain. dst_req_from_src from prim_pulse_sync goes to prim_reg_cdc_arb and dst_req is generated in it. My concern is not in dst_req but dst_we_o as follows.

assign {dst_we_o, dst_re_o, dst_regwen_o} = txn_bits_q & {TxnWidth{dst_req}};

dst_req is guaranteed by the prim_pulse_sync. But, txn_bits_q[2] is genera

[2022-06-15 03:44] a-will commented on #13194
`txn_bits_q` are latched when `src_req` begins the pulse synchronization, and `txn_bits_q` are held stable throughout the transaction. `dst_req` goes high after the pulse synchronizer, and it drops low again, only making changes to the signals latched by dst_clk synchronously. The pulse on `dst_req` is then carried back to the src_clk domain through a synchronizer in `prim_reg_cdc_arb`, and `txn_b

[2022-06-15 05:11] alistair23 commented on #13134
It seems related to ePMP. It seems to happen after changing some ePMP addresses, even if the instructions are still in the allowed read/write/exec region by the new PMP configs.

I also see similar failures on the FPGA, so it doesn't seem to be completely isolated to Verilator.

[2022-06-15 06:39] timothytrippel opened #13213 "[bazel] enable option to launch Vivado GUI for debugging"
With the previous meson/fusesoc flow, it was easier to debug FPGA bitstreams with the Vivado GUI following the instructions [here](https://cs.opensource.google/opentitan/opentitan/+/master:doc/getting_started/setup_fpga.md;drc=93138f7ebc85f913898d4bf1228b3424f315da9d;l=100). This is not yet enabled with the Bazel flow.

[2022-06-15 08:16] #12670 closed

[2022-06-15 09:49] engdoreis opened #13215 "rv_core_Ibex - Address translation test"
# Verify the simple address translation functionality.
 - Setup address translation for both slots on the the I and D
   side and check correct translation for I and D accesses.
 - Switch address translation to use different regions that
   overlap for both slots and check translation again. Ensure some
   test accesses match both regions, where the lowest indexed one
   takes priority.
 - Turn of

[2022-06-15 10:54] engdoreis opened #13217 "rv_core_Ibex - rnd test"
# Verify the functionality of the random number generation CSRs.
 - Enable entropy complex so `RND_DATA` can get entropy.
 - Perform multiple reads from `RND_DATA` polling `RND_STATUS` in
   between to only read valid data. Check different random bits
   are provided each time.
 - Ensure `RND_STATUS` indicate invalid data immediately after
   `RND_DATA` read.
 - Perform repeated reads from `RND_DA

[2022-06-15 10:57] engdoreis opened #13218 "[chip-test] - rv_core_Ibex_fault_dump_test"
### Test point name

[chip_sw_rv_core_ibex_fault_dump](https://github.com/lowRISC/opentitan/blob/master/hw/top_earlgrey/data/chip_testplan.hjson?q=chip_sw_rv_core_ibex_fault_dump)

### Host side component

TBD

### OpenTitanTool infrastructure implemented

Unknown

### Contact person

gac

### Checklist

Please fill out this checklist as items are completed. Link to PRs and issues as appropriate.

[2022-06-15 11:00] engdoreis opened #13219 "[chip-test] - chip_sw_rv_core_ibex_double_fault"
### Test point name

[chip_sw_rv_core_ibex_double_fault](https://cs.opensource.google/opentitan/opentitan/+/master:hw/top_earlgrey/data/chip_testplan.hjson?q=chip_sw_rv_core_ibex_double_fault)

### Host side component

TBD

### OpenTitanTool infrastructure implemented

Unknown

### Contact person

gac

### Checklist

Please fill out this checklist as items are completed. Link to PRs and issues as

[2022-06-15 11:04] engdoreis opened #13220 "[chip-test] - chip_sw_csrng_edn_cmd"
### Test point name

[chip_sw_csrng_edn_cmd](https://cs.opensource.google/opentitan/opentitan/+/master:hw/top_earlgrey/data/chip_testplan.hjson?q=chip_sw_csrng_edn_cmd)

### Host side component

N/A

### OpenTitanTool infrastructure implemented

Unknown

### Contact person

martin-lueker

### Checklist

Please fill out this checklist as items are completed. Link to PRs and issues as appropriate.
-

[2022-06-15 11:07] engdoreis opened #13221 "[chip-test] chip_sw_csrng_fuse_en_sw_app_read"
### Test point name

[chip_sw_csrng_fuse_en_sw_app_read](https://cs.opensource.google/opentitan/opentitan/+/master:hw/top_earlgrey/data/chip_testplan.hjson?q= chip_sw_csrng_fuse_en_sw_app_read)

### Host side component

N/A

### OpenTitanTool infrastructure implemented

Unknown

### Contact person

martin-lueker

### Checklist

Please fill out this checklist as items are completed. Link to PRs and

[2022-06-15 11:10] engdoreis opened #13222 "[chip-test] - chip_sw_csrng_lc_hw_debug_en"
### Test point name

[chip_sw_csrng_lc_hw_debug_en](https://cs.opensource.google/opentitan/opentitan/+/master:hw/top_earlgrey/data/chip_testplan.hjson?q=chip_sw_csrng_lc_hw_debug_en)

### Host side component

N/A

### OpenTitanTool infrastructure implemented

Unknown

### Contact person

@mwbranstad

### Checklist

Please fill out this checklist as items are completed. Link to PRs and issues as ap

[2022-06-15 11:12] engdoreis opened #13223 "csrng - src know answer test"
# Verify our ability to run known-answer tests in SW.
- Configure the software instance with the expected seed (as per the NIST-specified test for CTR_DRBG operation)
- Perform several generate operations
- Compare the results to test expectations.

[2022-06-15 11:21] engdoreis opened #13224 "edn - entropy reqs test"
# Verify the entropy requests from all peripherals.
- Verify that there are no misconnects between each peripheral requesting entropy.
- Have all entropy sources request entropy in the same test one after to show boot to post boot load.
- Cycling all entropy blocks off and on again.
- Ensure there are no deadlocks and everything works as expected.
- X'ref'ed with each IP test that requsts entropy

[2022-06-15 11:29] engdoreis opened #13225 "[chip-test] - chip_sw_entropy_src_ast_fips"
### Test point name

[chip_sw_entropy_src_ast_fips](https://cs.opensource.google/opentitan/opentitan/+/master:hw/top_earlgrey/data/chip_testplan.hjson?q=chip_sw_entropy_src_ast_fips)

### Host side component

N/A

### OpenTitanTool infrastructure implemented

Unknown

### Contact person

martin-lueker

### Checklist

Please fill out this checklist as items are completed. Link to PRs and issues as

[2022-06-15 12:32] engdoreis opened #13227 "[chip-test] - chip_sw_entropy_src_csrng"
### Test point name

[chip_sw_entropy_src_csrng](https://cs.opensource.google/opentitan/opentitan/+/master:hw/top_earlgrey/data/chip_testplan.hjson?q=chip_sw_entropy_src_csrng)

### Host side component

N/A

### OpenTitanTool infrastructure implemented

Unknown

### Contact person

martin-lueker

### Checklist

Please fill out this checklist as items are completed. Link to PRs and issues as approp

[2022-06-15 12:37] engdoreis opened #13228 "entropy_src - cs aes halt test"
# Verify the aes halt handshake with CSRNG.

TODO: Define the test details.

[2022-06-15 12:40] engdoreis opened #13229 "[chip-test] chip_sw_entropy_src_fuse_en_fw_read"
### Test point name

[chip_sw_entropy_src_fuse_en_fw_read](https://cs.opensource.google/opentitan/opentitan/+/master:hw/top_earlgrey/data/chip_testplan.hjson?q=chip_sw_entropy_src_fuse_en_fw_read)

### Host side component

N/A

### OpenTitanTool infrastructure implemented

Unknown

### Contact person

martin-lueker

### Checklist

Please fill out this checklist as items are completed. Link to PRs

[2022-06-15 12:42] engdoreis opened #13230 "entropy_src - known answer test"
# Verify our ability to run known-answer tests in SW.
- Configure the device in firmware-bypass mode.
- Feed NIST test-defined entropy sequences into the conditioner
- Read the entropy_data_fifo via SW; verify that it reads the expected values.

[2022-06-15 12:46] engdoreis opened #13231 "entropy_src - ast rng req test"
# Verify the RNG req to ast.
- Program the entropy src in normal RNG mode.
- Route the entropy data received from RNG to the FIFO.
- Verify that the FIFO depth is non-zero via SW - indicating the reception of data over the AST RNG interface.
- Verify the correctness of the received data with assertion based connectivity checks.

[2022-06-15 13:02] engdoreis opened #13232 "aes - sideload test"
# Verify the AES sideload mechanism.
- Configure the keymgr and advance to `CreatorRootKey`.
- Transmit a sideloaded key to the AES.
- Configure AES to use the sideload key.
- Trigger the AES operation to run and wait for it to complete.
- Verify the digest for correctness.

[2022-06-15 13:33] arunthomas commented on #13134
@cfrantz was planning to look into the Tock ePMP issues

[2022-06-15 14:07] drewmacrae commented on #13098
I'm fairly certain it's currently mapped to a physical switch that we don't have control over. Should we remap it? Who should we ask about allocating an FPGA pin to this?

[2022-06-15 14:53] a-will commented on #13098
If it is only mapped to the button right now, I'll take care of adding the GPIO to SAM3X.

[2022-06-15 14:55] alphan commented on #13098
I'm not sure if we really need this. Is there a reason why tests can't just check if the POR is set, instead of requiring that **only** the POR bit is set? Once they start, they clear the reset reasons anyway.

[2022-06-15 15:05] a-will commented on #13098
Because the other reset reasons are reserved for the test to modify, and we do not require bootstrapping to occur as part of the test methodology across all platforms.

Issuing a POR is an extremely simple thing to do, and this expectation has already been baked in to tests. Let's just get it done.

[2022-06-15 15:38] ctopal opened #13236 "[otbn, sec_cm] Predecoded MAC Enable does not match Expected MAC enable"
The issue comes from the assignment of `mac_bignum_en_o` at `otbn_controller`:
https://github.com/lowRISC/opentitan/blob/5948fabb7add084eacddc779fe275872cd7736f1/hw/ip/otbn/rtl/otbn_controller.sv#L915

We are using that output as enable of the `otbn_mac_bignum` module and then set our `expected_op_en` and `expected_acc_rd_en` with that. See: https://github.com/lowRISC/opentitan/blob/5948fabb7add08

[2022-06-15 16:05] a-will commented on #13098
For the pin, we'll likely be using whatever is the highest unused USB_A* pin, possibly with inverted polarity (so the default is to not be in reset). The section you've got there is for a header, which will be useful for the hyperdebug version later.

[2022-06-15 16:57] #12232 closed

[2022-06-15 19:17] senelson7 commented on #13120
PR #13241 Fixes

[2022-06-15 19:28] #13044 closed

[2022-06-15 20:28] matutem opened #13244 "[dv,prim_assert] Simplify ASSERT_FPV_LINEAR_FSM"
Recently added some extra condition in this assertion due to reset going inactive prior to clk, and the old assertion (without the added condition) started failing. Try to find some way to code the assertion that is more clear and intuitive.

[2022-06-15 21:03] martin-lueker commented on #13120
Thanks Steve.   This one doesn't seem to be auto-closed.   @Jacob-Levy, would you mind rebasing and confirming that the issue is resolved from your POV?

[2022-06-15 21:07] Jacob-Levy commented on #13120
CI(Private) running now... will close the issue once the build passes.  Thanks!

[2022-06-15 21:21] milesdai opened #13246 "[ci] Intermittent failures when pre-fetching Bazel dependencies"
CI contains a step called `download_bazel_dependencies`. This step occasionally fails with the following error message:

[code]

For now, the Verilator test step is no longer dependent on this job, and this job has been set to `continueOnError` while we monitor the `download_bazel_dependencies` job to check for recurring errors.

[2022-06-15 21:25] Jacob-Levy commented on #13120
Fixed by #13241

[code]

[2022-06-15 21:25] #13120 closed

[2022-06-15 21:33] milesdai commented on #13246
Re-add the changes in #13015 if this gets resolved.

[2022-06-15 21:42] tjaychen opened #13248 "[clkmgr/dv] Tweak cascade reset assertions for reset domain change"
#13095 moved the `clkmgr` reset from `por` domain to `lc` domain.
This changes many of default cascading assertions.  For now, they are commented out, but need to be restored in the future.

See [hack alert](https://github.com/lowRISC/opentitan/pull/13095/commits/4e147e93ea0776398a64a94c6d21461becc736c0)

[2022-06-15 21:58] tjaychen commented on #13175
shouldn't this be part of M2..?

[2022-06-15 22:02] tjaychen commented on #13155
@eunchan just one remaining question for you on this item.
Just let us know and I can close this.

[2022-06-15 22:03] tjaychen commented on #12865
fixed with #13095

[2022-06-15 22:03] #12865 closed

[2022-06-15 23:26] jeoongp commented on #13197
RuleDataID 1329 (one sample) : ReceivingFlop : top_earlgrey.u_spi_device.u_memory_2p.u_mem.gen_generic.u_impl_generic.mem[129][35:0]

As I dug RuleDataID 1329, it is not a category 1 issue (CDC between clk_spi_in_buf and clk_spi_out_buf).
The generic memory module is designed as follows.

https://github.com/lowRISC/opentitan/blob/master/hw/ip/prim_generic/rtl/prim_generic_ram_2p.sv#L75-L103

Two f

[2022-06-15 23:47] tjaychen commented on #13194
wait... `src_we_i` is coming from `clk_peri` domain? That doesn't sound right.. I thought that would all be coming from `clk_i` domain.

[2022-06-16 00:50] drewmacrae opened #13251 "[bazel/topgen] there's a broken top-genned verilator test in sw/device/tests/autogen"

[2022-06-16 04:52] matutem commented on #12889
Some notes: I created https://github.com/lowRISC/opentitan/pull/13255 with a proposed change that is accurate.

There is one potential drawback: there are comments in the code saying sim_dv may set the main clock to some random value, but I don't really think we do. If we did, then I think a proposal by @drewmacrae that computes the cycles as (kClockFreqCpuHz * (usec + (usec >> 4))) >> 20 is the n

[2022-06-16 06:33] andreaskurth commented on #9751
Correct; when #13192 gets merged, any read from an uninitialized register will trigger an integrity error. That PR will also fix existing software that assumes pre-initialized registers (certainly SW that gets tested in CI).

[2022-06-16 07:52] Jacob-Levy commented on #13087
After getting the last few fixes merged, CI(private) finally passes!

         [   legend    ]: [Q: queued, D: dispatched, P: passed, F: failed, K: killed, T: total]
00:24:43  [    build    ]: [Q: 000, D: 000, P: 043, F: 000, K: 000, T: 043] 100%
01:18:58  [     run     ]: [Q: 000, D: 000, P: 119, F: 000, K: 000, T: 119] 100%

[2022-06-16 08:35] ctopal commented on #13236
I think we are blanking if the predecoded enable signals are low. In the case of instruction not being valid, I thought we would also want to blank the internals. This came up when I was trying to implement some assertions around the functionality so if you think it doesn't make sense it's totally fine I can drop the assertions :)

[2022-06-16 09:49] andreaskurth commented on #13236
I did not think about this from the blanking perspective, sorry :)

As we just discussed, blanking is currently not designed to be mandatory for illegal instructions. The rationale is that blanking hinders SCA, and SCA primarily targets correct programs, where there are no illegal instructions. If an attacker were to combine SCA with FI to disable blanking through illegal instructions, OTBN would

[2022-06-16 09:55] #13236 closed

[2022-06-16 11:08] drewmacrae commented on #12889
Before we consider this issue fixed, can we remove the comments in the code saying sim_dv may be randomly set to ensure that's not the plan of record?

[2022-06-16 15:02] eunchan commented on #13155
that clock is being used to generate SRAM request. As SRAM interface in FWMode is used only when FwMode is active, I think it is OK to use `sys_clk` if SW gates the SRAM mux clock whenever it changes the mode (and currently SW does)

[2022-06-16 15:53] drewmacrae commented on #13096
As this is sufficient and working around this issue for broken tests feels counter-productive, I think I'll create an issue to work on it.

[2022-06-16 16:50] GregAC commented on #13201
I think what @tjaychen suggests is most sensible. We may want to trigger the dmem/imem secure wipe when the bit is 0 for some testing/bring-up reason. Also all recoverable errors currently only occur during software execution. So a recoverable error during execution adds new error behaviour which adds more DV work which I'd rather avoid if at all possible.

[2022-06-16 16:53] jeoongp commented on #13194
I thought both clk_io_div4_powerup was different from clk_io_div4_infra. However, they are the same clock. Thanks for clarification and block diagram. I waived this CDC error pattern. Total # of errors were reduced to 2.5k.

[2022-06-16 17:04] #13194 closed

[2022-06-16 17:17] Jacob-Levy commented on #13087
@sha-ron Can you run your tests to make sure you are getting the same results as I did...

[2022-06-16 19:48] gghere commented on #2659
Does the I2C/SMBUS block need multi-master support to enable MCTP?

[2022-06-16 19:53] drewmacrae opened #13265 "Update the test ROM to handle reset reasons the same way as the mask ROM. Write the reset reason to the retention SRAM, then clear the RESET_INFO register."
As @a-will  suggests in #13096, this should get our tests more consistent and compatible with back-door loading or bootstrapping. It may end up touching all the tests that reboot or check reset info, but we're committed to the cleanup so it seems worthwhile and should fix some of our tests that are having trouble with reboot on the cw310

[2022-06-16 21:02] jdonjdon opened #13266 "[top, flash_ctrl] cpu <-> flash transactions cause spurious test failure during ndm reset test"
This subsequent issue to #13179
- After #13179 fix with #13208, the ndm reset request test (#13261) still fails
  due to residue of outstanding transaction in flash_ctrl.

[2022-06-16 21:34] tjaychen commented on #13266
The issue turned out to be related to flash ctrl's reset domain. flash_ctrl is currently in the `lc` reset domain, this means an `ndm reset req` does not reset it.  This causes a problem because that means if the reset comes when there are tlul transactions inflight it's effectively left "hanging".

So when the reset releases a unexpected response might just show up at the door step of ibex.  This

[2022-06-16 22:38] matutem commented on #12889
One more point about setting the clocks to random values in DV. It is not clear what it accomplishes. We do that for unit testing, but in full chip the frequencies are set at manufacturing.

@drewmacrae removing this comment in the source is a good idea.

[2022-06-16 23:14] matutem commented on #12889
Oops, I didn't remove the comment. I would like to talk to @sriyerg about it next week to close the loop. Reopening this so I don't forget.

[2022-06-16 23:20] tjaychen opened #13268 "[edn] enable while handling command"
while looking at #12966 with @engdoreis, I noticed that while waiting for the command to complete, the fsm in `edn` does not actually honor a disable
https://github.com/lowRISC/opentitan/blob/c16937ec940832a450fba47bea6ea851c5448087/hw/ip/edn/rtl/edn_main_sm.sv#L138-L143
As a result I think `csrng` and `edn` get out of sync (but I have not debugged enough to confirm this).
In the end, even though

[2022-06-16 23:25] tjaychen opened #13269 "[ast] speed up rng generation for simulation?"
https://github.com/lowRISC/opentitan/blob/c16937ec940832a450fba47bea6ea851c5448087/hw/top_earlgrey/ip/ast/rtl/rng.sv#L63-L72

Would it be possible to add a simulation plusarg that shrinks `srate_value` so for simulation purposes we can generate entropy faster?
This would not be something we enable by default, but only for specific tests, such as [this one](https://github.com/lowRISC/opentitan/pull

[2022-06-17 03:05] mkj commented on #2659
Yes. MCTP messages are always transmitted as a block write, so in slave mode to receive messages.

[2022-06-17 04:53] alistair23 commented on #2659
MCTP shouldn't required multi-master support, but other layers on top might (Cerberus does for example)

[2022-06-17 08:23] GregAC commented on #1868
The current behaviour is fine and is documented (though I will check if there's somewhere more prominent we could highlight this). For any loads from Ibex that are unaligned or non-word sized they will succeed, though unaligned accesses to device memory are not recommended as they result in two separate reads. `lb` and `lh` that are aligned to their access sizes will behave as expected (you'll get

[2022-06-17 08:23] #1868 closed

[2022-06-17 10:39] engdoreis commented on #12596
@alphan can I consider the rom_ext size as 64kb?

[2022-06-17 14:27] mwbranstad commented on #13268
Looked at all of the fsm's in the entropy complex and this is the only sm that does not look at enable. There may have been some assumptions made there that are not valid. However, it seems clear that if boot req mode is using the default command (max glen count), this fsm will run for a very long time and no way to kick it out until the request is satisfied.
I will create a pr that will look at e

[2022-06-17 14:58] michael-etzkorn opened #13280 "Link to Ibex's DV methodology is broken"
https://docs.opentitan.org/doc/ug/dv_methodology/#core-ibex-level-dv has a broken link to Ibex's DV methodology.

I'm assuming it's the same link that lives here https://ibex-core.readthedocs.io/en/latest/03_reference/verification.html

[2022-06-17 15:00] michael-etzkorn commented on #13280
The link to `build_docs` also seems broken under testplan.
https://docs.opentitan.org/doc/ug/dv_methodology/#testplan

It leads to https://docs.opentitan.org/README/#documentation

[2022-06-17 16:23] matutem commented on #13022
With the recent change to reset the previous fault fields to a definite value there is no need to perform "per-word" accesses. We can just read the full array in one dif function, and then perform comparisons of individual words as we wish. I am closing this issue.

[2022-06-17 16:23] #13022 closed

[2022-06-17 16:45] matutem opened #13283 "[doc,escalation] Improve documentation of escalation"
There seems to be no documentation stating upon escalation the aon watchdog timer is disabled and the CPU stops running. This behavior involves multiple units, so they may also need to be described in some top-level doc addressing escalation... if there are some.

[2022-06-17 17:51] gghere commented on #2659
From the MCTP  smbus/i2c Transport binding spec https://www.dmtf.org/sites/default/files/standards/documents/DSP0237_1.2.0.pdf

It looks like a slave address is required at both ends, spec quoted below.

"
6.11.1 Slave addresses
Each device on SMBus/I 399 2C shall have a slave address to be the target of transactions by bus masters.
The MCTP transport protocol solely utilizes Master Write transact

[2022-06-17 18:06] mwbranstad commented on #13268
@tjaychen looks like CI is done for the related PR. Should we merge now and try it out?

[2022-06-17 18:13] tjaychen commented on #13268
yeah let's merge! i will put it into my area and give it a whirl.

[2022-06-17 18:21] #13268 closed

[2022-06-17 19:00] jeoongp commented on #13197
Category 1 : We are looking for a tool support to treat this dual-port sram as a black box and generate a mesh model.
Real Intent Roger and Oren are working with us.

Category 2 : I will create a new ticket to track this potential RTL issue

[2022-06-17 19:04] jeoongp opened #13286 "[cdc] CDC between clk_spi_out_buf and sys_clk"
![image](https://user-images.githubusercontent.com/103145460/174386738-d816aee4-903b-45dd-9e81-9f84e9170abb.png)

Data come from u_reg sys_clk domain are captured in spi clk directly.
I think we need to add async FIFO in the same way as other signals.
![Screen Shot 2022-06-17 at 12 04 06 PM](https://user-images.githubusercontent.com/103145460/174386980-5028ee06-376e-48fc-8469-9f7162c2687a.png)

[2022-06-17 19:21] tjaychen commented on #13286
hmmm... this is an interesting find.
I think the intent here was that when the transaction begins, the `sys_clk` content is latched into the `tpm` domain.
Although I am not sure how we can guarantee whether the `sys_clk` contents aren't changing while the latch is happening.

It almost seems like the enable signal needs to move to `sys_clk` domain sampling of `csb` to ensure the contents don't cha

[2022-06-17 19:42] jeoongp commented on #13286
You mean csb_edge detector and the flip flop need to be moved to sys_clk domain?

[2022-06-17 20:08] tjaychen commented on #13286
i THINK so. let me know if that makes sense.
When Csb drops, the transaction begins, so we need to capture the sys_clk domain values.
From Csb dropping, to data actually being returned to the host, there is something like....32 SPI clock cycles.

So if we detect csb dropping on sys_clk, we can capture and hold something that we know will not change for the duration of the transaction. We also know

[2022-06-17 20:13] tjaychen commented on #13268
@mwbranstad that seems to have done the trick, thanks!

[2022-06-17 21:29] mwbranstad commented on #13268
Yea! Thanks for debugging this @tjaychen.

[2022-06-17 22:07] a-will commented on #13286
This is the same situation as the status register in flash mode, right? Detecting the CSB drop in sys_clk can cause a "transit register" to sample the current value in the sys_clk domain, and that would hold for the spi_clk to capture and use during the transaction. As long as spi_clk isn't radically faster than sys_clk (such that the round-trip time is less than the time to use the value), that'd

[2022-06-17 22:51] jeoongp commented on #13286
@a-will @tjaychen thanks for explanation. This approach makes sense!

[2022-06-17 23:36] alistair23 commented on #2659
Ah you're right! I forgot about that
Sorry, it's been ages since I looked at this

[2022-06-17 23:58] a-will commented on #2659
Inspired by IPMI, looks like.

[2022-06-18 07:55] tjaychen commented on #13286
to that point, it might make sense to add an assertion to roughly check for the clock ratios between sys_clk and spi_clk. So if spi_clk ever runs too fast we'll immediately register an error.

[2022-06-19 18:33] alphan commented on #12596
Yes, the current value for max ROM_EXT size is 64 KiB.

[2022-06-19 22:21] alphan opened #13290 "[opentitanlib] `clear_rx_buffer()` implementation for `UltraDebugUart` is affected by libftdi version"
I ran into this issue while working on #13277 which adds the `clear_rx_buffer()` function to the `Uart` trait and implements this for all transports. I wasn't able to implement it for `UltraDebugUart` though because I got the following linker error:

[code]

The gist of the problem is the version of `libftdi`. The buffer clearing interface of`libftdi` was updated on 2020-07-07 (see [here](https://

[2022-06-20 17:42] martin-lueker commented on #13200
FYI: @Muqing-Liu

Hey Dharan, could you please try rebasing on #13295?  This fixes the 12us delay that you mention above, however the test still does not pass, as the test does not like the pulses at and the new duty-cycle.  I'd appreciate your input as to what is going wrong now.

[2022-06-20 21:25] a-will commented on #13098
It turns out the POR is already hooked up on CW310 via USB_A14. This pin was pretending to be a JTAG TAP reset, but because it is also used as a power-on reset, we're actually lacking a TAP reset pin. _That_ cleanup will happen with the rest of the JTAG pins, several of which currently are multiplexed on top of the SPI pins.

[2022-06-21 12:20] alphan commented on #2366
@moidx @timothytrippel

Closing this since part of this issue is based on a misunderstanding around DIFs and production code. Regarding init/config we settled on:
* `dif_ip_init()`: Initializes the `dif_ip_t` struct.
* `dif_ip_configure()`: Configures the peripheral.

Any other peripheral-specific functionality, e.g. resetting buffers, are implemented a needed.

[2022-06-21 12:20] #2366 closed

[2022-06-21 13:41] alphan commented on #13098
#13277 should resolve this as a side effect.

[2022-06-21 13:42] jdonjdon commented on #13023
After switch to vcs (#13186), this is no longer concurrent issue.

[2022-06-21 14:50] davebwil opened #13302 "[sw,dv,pinmux] Dif error for pinmux output select function"
For a test in development for sw_chip_sw_sysrst_ctrl_outputs I am using the function
dif_pinmux_output_select to assign a pad to kTopEarlgreyPinmuxOutselSysrstCtrlAonZ3Wakeup.

The function is failing with a bad arg error.
I believe the problem is that in top_earlgrey.h the value for the pin is

`kTopEarlgreyPinmuxOutselSysrstCtrlAonZ3Wakeup = 77.`

The DIF function (dif_pinmux.c line 175) checks

[2022-06-21 15:21] a-will commented on #13302
Oops, I goofed and used the wrong starting offset (probably copied over from dif_pinmux_input_select, but the output version has one more possible fixed value, so it should start at 3 instead of 2). I'll fix that up.

[2022-06-21 16:38] #2103 closed

[2022-06-21 16:50] alphan opened #13307 "[testing] Review/audit tests that rely on resets"
This came up while discussing #13293 offline with @tjaychen and we thought we should do a quick audit of the existing chip-level tests to make sure we don't have similar issues.

[2022-06-21 17:19] Jacob-Levy commented on #13269
For the OS the 'srate' is fixed at 5 at the moment.
For the NTIL, it is controlled by register.

I can add a plusargs for the OS only with 5 as a defualt.
Is this test need to run on the NTIL version too?

[2022-06-21 18:00] weicaiyang opened #13308 "[dv] Xcelium UNR doesn't work"
@rasmus-madsen

I tried Xcelium UNR, but it doesn't work on our side. I saw we had used it to generate UNR exclusion for a few blocks, so it should work before. Can you quickly try it again on your side, or LMK if you know how to fix this?

I tried this on aes, pwm and spi_host. They all have the same error.
This is the version I'm using.

cc: @cindychip @jdonjdon @dharanendrak

[2022-06-21 18:18] drewmacrae opened #13309 "[CI] Preventing parsing of azure-pipelines.yml prevents running CI jobs described in it"
https://github.com/lowRISC/opentitan/pull/13303 initially skipped CI jobs and shows as passing when it has a change to azure_pipelines.yml

The error is visible on the azure pipeline, but not on github where the PR looks successful.

[2022-06-21 18:20] weicaiyang commented on #13023
Closing this as we switched to VCS

[2022-06-21 18:20] #13023 closed

[2022-06-21 18:43] tjaychen commented on #13269
wait sorry, isn't `srate_value` is 120 here?
This test does need to run on NTIL also, but in terms of whether it should be sped up also..I guess you guys will have to be judge of that.

My honest feeling is probably not for NTIL, because in that case you guys will be running with the real "everything", so probably best to not fake out any values.  That's why I'm asking solely for the OS version on

[2022-06-21 19:02] Jacob-Levy commented on #13269
In the NTIL version the 'srate' is in a register...
I will add the plusargs for the OS only to be able to change the srate_value.

[2022-06-21 20:00] alphan opened #13310 "[testing] Revisit and fix the last round of rstmgr alert_info test"
#13293 fixes some issues in this test (`sw/device/tests/rstmgr_alert_info_test.c`) but the last round of the test should be revisited since it's not working as expected now.

cc @tjaychen

[2022-06-21 20:10] #13302 closed

[2022-06-22 00:31] a-will opened #13316 "[usbdev] Add some basic event counters"
Add some saturating counters to track events that might otherwise be invisible to software, such as...
- Number of NAKs due to missing AV buffer
- Number of NAKs due to full RX buffer
- Number of dropped packets with bad token / CRC
- Number of attempted IN packets that didn't get a handshake

These can be useful for detecting marginal cables / boards and performance issues.

It would also be nice

[2022-06-22 03:07] alphan commented on #11549
lowRISC/bazel-embedded#9 updated `fastbuild` to use `-Os` and `-g`

[2022-06-22 03:07] #11549 closed

[2022-06-22 03:19] alphan opened #13319 "[bazel] Explore LTO for ROM"
This came up in the context of #13257, please see this [comment](https://github.com/lowRISC/opentitan/pull/13257#discussion_r903106227).

[2022-06-22 03:48] alphan commented on #12350
Should be fixed by https://github.com/lowRISC/opentitan/pull/13320.

[2022-06-22 07:52] #12350 closed

[2022-06-22 08:14] Jacob-Levy commented on #13269
@tjaychen I had to limit it to non-synthesis code since 'srate_value' is part of a flop condition path that can not
use run-time option. Is this OK for your needs?

[code]

[2022-06-22 09:23] GregAC commented on #13042
Note the timeout may need increasing also as wave dumping greatly slows things down.

[2022-06-22 10:29] prajwalaputtappa opened #13323 "[otbn, dv] OTBN status is not going to locked when prefetch address doesn't match with fetched address"
@GregAC @vogelpi,

In this testcase, I'm trying to verify OTBN.PC.CTRL_FLOW.REDUN countermeasure. Prefetch address is corrupted and it doesn't match with fetched address. A fatal alert is raised. However, OTBN status is not moved to locked. The instruction counter is also getting incremented. Please find the screenshot below.
![Screenshot from 2022-06-22 10-13-16](https://user-images.githubusercon

[2022-06-22 11:43] TimEwins commented on #12773
Not sure what is happening on this Project at the moment, information at this time is limited.

I have pushed all my work in progress edits for the interrupt test to this issue, so that is not lost.

The test is working, apart from the section on Programming, which still has design issues.

[2022-06-22 12:08] ctopal opened #13325 "[otbn,dv] FIPS error not propagates through the design"
While we are requesting RND from EDN if the word packages don't have FIPS flag high, we produce a recoverable error (see https://docs.opentitan.org/hw/ip/otbn/doc/#Reg_err_bits). However, inside `otbn_rnd` we are not catching the FIPS flag being low correctly. The reason is probably that we are enabling the flop with `rnd_data_en` and also gating the error with `rnd_req_complete` (which actually s

[2022-06-22 12:39] andreaskurth commented on #13325
This
https://github.com/lowRISC/opentitan/blob/c663c108c51ff3179395eb36a69b675bbd075af5/hw/ip/otbn/rtl/otbn_rnd.sv#L162
together with this
https://github.com/lowRISC/opentitan/blob/c663c108c51ff3179395eb36a69b675bbd075af5/hw/ip/otbn/rtl/otbn_rnd.sv#L83
indeed means that `rnd_fips_err_o` is only `1` if the FIPS bit was `0` *and* there is a read from the `RND` register.

I don't know if this is inte

[2022-06-22 14:21] prajwalaputtappa opened #13327 "[otbn,dv] Verify OTBN.SCRAMBLE.KEY.SIDELOAD"

[2022-06-22 14:21] drewmacrae opened #13328 "[bazel] verilated test invocations inherit timeout from bazel test that contains them."

[2022-06-22 14:25] drewmacrae commented on #13042
You can modify the definitons of the timeouts at the command-line
From https://bazel.build/reference/test-encyclopedia:
"The test timeout can be overridden with the --test_timeout bazel flag when manually running under conditions that are known to be slow. The --test_timeout values are in seconds. For example, --test_timeout=120 sets the test timeout to two minutes."

[2022-06-22 14:30] prajwalaputtappa opened #13329 "[otbn,dv] Verify OTBN blanking for V2S"
To-Do's

- [ ] Implement assertions around the design to verify if the blanking happens.
- [ ] Document the implemented assertions to point out which countermeasure point it corresponds to.

[2022-06-22 14:31] prajwalaputtappa opened #13330 "[otbn,dv] Verify OTBN redundancy countermeasures"

[2022-06-22 14:32] prajwalaputtappa opened #13331 "[otbn,dv] Verify OTBN RND countermeasures"

[2022-06-22 14:39] prajwalaputtappa opened #13332 "[otbn,dv] Check if the existing csr tests cover all the register and memory countermeasures"

[2022-06-22 14:40] prajwalaputtappa opened #13334 "[otbn,dv] Verify OTBN glitch detect countermeasures"

[2022-06-22 14:43] ctopal commented on #13331
To-Do's:
- [ ] Testplan update for `sec_cm_rnd_bus_consistency` and `sec_cm_rnd_rng_digest` points.
- [ ] FIPS modelling
- [ ] Back to back EDN responses

[2022-06-22 14:51] ctopal commented on #13329
To-Do's
- [ ] Implement assertions around the design to verify if the blanking happens.
- [ ] Document the implemented assertions to point out which countermeasure point it corresponds to.

[2022-06-22 14:56] ctopal commented on #13327
- [ ] Update the testplan explaining in more detail about how to verify it using non-valid scrambling key

Note: I believe we might already driving the valid signal sideload agent randomly throughout our tests. Need a double check and maybe a talk with the design team to decide if it's enough.

[2022-06-22 15:09] marnovandermaas opened #13336 "[doc,hw] Entropy source IP initialization documentation"
The [initialization documentation of the entropy source](https://docs.opentitan.org/hw/ip/entropy_src/doc/#initialization-1) has an argument `rate` which is not used. How do we use this properly?

More generally, how can I check that these initialization functions for other IP blocks are correct? For example, [the initialization function of the CSRNG](https://docs.opentitan.org/hw/ip/csrng/doc/#in

[2022-06-22 15:19] ctopal commented on #13336
For the sceond part, I believe the name of the register comes before `_REG` part always. So if I would see anything that ends with `_REG`, I would copy the first part of it and search it throughout the register table in the documentation.

[2022-06-22 15:26] tjaychen commented on #12773
thank you @TimEwins
@jdonjdon FYI

[2022-06-22 15:33] tjaychen commented on #13042
could we add this last bit to the [opentitan cheatsheet](https://docs.google.com/document/d/1Ab4AWJAuCmtBZMQFZAq6fDB70lLrumIXLG1PKx4GXx0/edit?usp=sharing)?

[2022-06-22 15:43] msfschaffner commented on #13175
It should be yes, let me change that.

[2022-06-22 16:16] #11743 closed

[2022-06-22 17:08] msfschaffner commented on #83
This issue came up in the D3 review for UART.
Is this something that we can close or re-categorize?

[2022-06-22 17:54] weicaiyang commented on #13308
Thanks Rasmus. Let me try that.

[2022-06-22 19:04] weicaiyang opened #13337 "Rethink how generic prim can be replaced by a tech-specific prim"
When generic prim is replaced by a tech-specific prim, the path to that prim will be changed, which affects DV to locate that prim.

This is a potential solution but not ideal.
In this example, we want to have an assertion to check the rising of `u_otp.gen_generic.u_impl_generic.u_reg_top.err_o` causes a fatal alert.
But the path is different when it's not ImplGeneric. We could use a macro (``` `O

[2022-06-22 21:18] moidx opened #13342 "[rtl/csrng] CSRNG SW Generate output"
As shown in PR #13341, when issuing a DRBG generate command for 16 words, the returned words are in the following order with respect to the NIST test vector:

[code]

A more natural order would be to swap the word order on each 128 bit chunk so that the result word offset sequence is [15...0].

This issue is to check whether this is a possible change on the RTL side.

[2022-06-22 21:36] dmcardle opened #13343 "Shellcheck finds some warnings/errors in shell scripts"
I noticed that Shellcheck[^0] is turning up some results[^1] on OpenTitan's shell scripts. AFAICT, most of the advice seems actionable and correct.

Picking on one script as an example, Shellcheck emits an error when it sees `$@` in a string because it has surprising semantics. There is a well-documented rationale at https://www.shellcheck.net/wiki/SC2145.

[code]

Do any of these scripts process

[2022-06-22 21:38] sriyerg opened #13344 "[chip dv] Coverage collection criteria for blocks at the chip level is broken / incorrect"
Taking clkmgr for example:
https://reports.opentitan.org/hw/top_earlgrey/dv/latest/cov_report/mod349.html#inst_tag_19988

It indicates that the toggle coverage is enabled only on the TLUL ports, but not the other ports of clkmgr. At the chip level, ALL ports need to be covered. The rest show up as unreachable, which is incorrect.

It may be possible that the last change made to the coverage collec

[2022-06-22 21:39] sriyerg commented on #13344
Thanks @weicaiyang for bringing this up.

[2022-06-22 22:01] moidx opened #13345 "[doc] Remove README.md from docs.opentitan.org"
README.md files are often created to provide in source reference documentation, and not always contain valid Hugo Markdown metadata.  This makes the documentation autogenerated indexes and the overall website structure hard to follow.

This issue proposes the following changes:

- [x] Move all docs.opentitan.org relevant documentation to `{_}index.md` and or `docs/.md` files.
- [x] Update all webs

[2022-06-22 23:09] weicaiyang opened #13348 "[dvsim] enhance dvsim to handle jobs that are hung"
When one of the jobs gets hung, the regression result won't be published. This happened frequently recently

These solutions may resolve or mitigate the issue
1. periodically print out what running tests are
2. kill the job if it runs over a time limit like 10h
3. incrementally publish result rather than publish after all jobs are done

cc: @tjaychen @cindychip

[2022-06-22 23:14] tjaychen commented on #12984
@sriyerg it would be good to get your opinion on this issue.

My basic idea is that [this function](https://github.com/lowRISC/opentitan/blob/master/sw/device/lib/testing/rand_testutils.c#L18) can be different per platform. For verilator / fpga we get randomness from entropy directly, but for DV we can use a backdoor path where the SV side can directly supply the entropy.  This for DV nightly at l

[2022-06-22 23:16] tjaychen commented on #12284
@jeoongp i've assigned this issue to you.

[2022-06-22 23:17] tjaychen commented on #13348
yeah i think if it's easier to just kill the regression after 10 hours and at least indicate what might have hung, that would be an improvement already.

@cindychip how do you find out what's hanging now..? If there's a set procedure I wonder if we should add documentation for it so that others can triage this too.

[2022-06-22 23:30] #12718 closed

[2022-06-22 23:33] tjaychen commented on #11492
This is related to #12834

[2022-06-22 23:34] tjaychen commented on #11492
@jeoongp , i'm assigning this to you for now so we can look a bit at how we might absorb the ast cdc model into our flow, and how much similarity there is to the sign-off tool we're using.

[2022-06-22 23:49] weicaiyang commented on #13348
I like this approach too. Hope it's not hard to implement

[2022-06-23 00:02] tjaychen commented on #10069
so this option was actually added to all the synchronous fifos.
Now there is a parameter option to "harden" the counters underneath.

I think at this point, it probably doesn't make sense to apply them to blocks like `entropy`.  The blocks we do want them to apply them to are basically ones that will directly affect cpu execution, so things like flash/sram.

[2022-06-23 00:19] tjaychen commented on #10194
@alphan it just occurred to me, should ROM be doing this..?

[2022-06-23 00:25] weicaiyang commented on #13308
xcelium 21.03 works for me too. Will file an issue to Cadence.

Thanks @rasmus-madsen

[2022-06-23 05:35] tjaychen opened #13354 "[xbar] xbar reset connection issue"
in order to handle async transactions, the xbar takes as its inputs resets related to different clock domains.
Currently, the reset hooked up for connections to blocks like usb/spi_host/ are using the end points reset.

This is a problem because if the end point is reset by software, it may trigger unintentional request / responses due to one side of an asynchronous fifo being reset.  Instead of t

[2022-06-23 08:50] marnovandermaas commented on #13336
That clears up the second part, the only thing left to figure out is what to change in the entropy source initialization function.

[2022-06-23 13:47] Jacob-Levy opened #13358 "CI(Private) Build fails on PWM and SPI_HOST Tests."
Forl PWM test it failed with the following error:
[code]
For the SPI_HOST test it failed with the following error:
[code]
Will try to rerun after rebase to see is the issue still exist...
Still failing after rebase...

@sha-ron  FYI
@tjaychen  Can you pleas assign it to the test owners...

[2022-06-23 14:35] ctopal commented on #13323
I checked it now and it seems like the problem is probably coming from how we handle (or actually not handle) on the model side of things when there is a mismatch. RTL actually propagates the fatal error and initiates secure wipe (we don't go into locked state until the secure wipe is done). I tried to encapsulate the relevant signals in the screenshot below.
![Screenshot from 2022-06-23 15-34-09]

[2022-06-23 14:36] msfschaffner commented on #83
Thanks @a-will. Let's label this as V3 for now, and re-categorize once we are holding the V3 signoff review.

[2022-06-23 15:59] jeoongp commented on #13286
spi_clk is 62.5 MHz while sys_clk runs on 24 MHz? If we assume the data will not change during the pulse generation in the slow clock (sys_clk), the data is supposed to keep the same data during the pulse generation in fast (spi_clk).
That is, the pulse is generated faster in spi_clk. It sounds like we don't need to worry about data changing while capturing in the original code.
If I missed anythi

[2022-06-23 16:05] prajwalaputtappa commented on #13323
Hi @ctopal,
I've run this testcase with seed 1. The model is going to locked status after 99 clocks (once secure wipe finishes). The RTL isn't going to locked status and hence there is a mismatch between the statuses. The instruction counter is incrementing. Please look at the screenshot I've provided above. I will also provide the zoomed in picture here.
![Screenshot from 2022-06-23 17-04-49](htt

[2022-06-23 16:06] tjaychen commented on #13358
yeah i think we have another issue of xcelium vs vcs.
@weicaiyang could you assign to the appropriate folks?

[2022-06-23 16:08] tjaychen commented on #13286
ah i don't think we can assume `spi_clk` will always be a certain speed. It certainly can be slower.
Further though, it's possible that when a `spi_clk` transition starts, software tries to make a chance to the registers at the same time right?

[2022-06-23 16:57] Jacob-Levy commented on #13358
@tjaychen Trying  to PR several issues & upgrades of the AST... Keep failing on CI(private).

[2022-06-23 17:02] tjaychen commented on #13358
yeah i'm pretty sure these blocks are signed off using `xcelium`, and the rules sometimes just aren't the same.
If you push the PR, i'm 99% positive it won't fail CI.

[2022-06-23 17:07] dmcardle opened #13362 "Improve ergonomics of formatters: buildifier, clang-format, license_check, and util/lintpy.py"
Per @cfrantz's comment[^0], these are some useful formatters/checkers.

* `//:buildifier_check`
* `//:clang_format_check`
* `//:license_check` (I think I already saw a presubmit fail on this, but I can't find any code in //ci/ to back that up.)
* `util/lintpy.py`

Proposed improvements:

* Check the include/exclude lists for clang-format rules
* Add Bazel target to run `util/lintpy.py`
* Add meta-

[2022-06-23 17:44] Jacob-Levy commented on #13358
@tjaychen In some cases, @sha-ron will fail on full chip run regardless of the CI...

[2022-06-23 17:48] weicaiyang commented on #13358
These errors are in block level DV testbench, which won't affect full-chip sim. Can you elaborate what the failure is in full-chip?

[2022-06-23 17:49] cindychip opened #13363 "[prim/tlul_lc_gate] missing one TLUL transaction response"
Hi Michael,

Here is a very timing sensitive case where design missed a TLUL transaction response:
I encountered this issue in OTP_CTRL:
1).  After reset, drive `lc_dft_en_i` signal to On.
2). Wait two clock cycle then send a `prim_tl_i` request. (In the screenshot below, it is ID `46`)
3).  As we can see from the screenshot, the return `prim_tl_o` did not send a response for this ID `46`.
4). But

[2022-06-23 17:56] ctopal commented on #13323
Hey Prajwala, I think I finally got to the bottom of the issue. It's related with us not passing the escalate signal back into the internal parts of the core (since it's getting caught in the `instruction_fetch` module, controller wouldn't necessarily know about the fatal error). Since the error is now coming at a relatively later time (because we are getting the fatal errors kind of indirectly!)