[2022-09-08 19:36] timothytrippel commented on #14828
The two scratch regions will be reserved in the [`ottf_common.ld`](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/lib/testing/test_framework/ottf_common.ld?q=ottf_common.ld&ss=opentitan%2Fopentitan), which sets aside space in flash, so it won't matter what boots the test, test ROM or (mask) ROM, right?

[2022-09-08 19:51] tjaychen commented on #14832
My understanding of this is that the key masking of the "mac" is really what's important.
It would probably be ideal that we be consistent and do with the message portion also, but maybe not something we have to change now.

I think @johannheyszl and @jadephilipoom can speak better to this.

[2022-09-08 19:52] tjaychen commented on #14828
sorry, i meant in terms of region setup in the flash memory protect.
but I guess we could do that in ottf also?

[2022-09-08 20:05] tjaychen commented on #14667
fixed in #14797

[2022-09-08 20:05] #14667 closed

[2022-09-08 20:17] timothytrippel commented on #14828
Oh yeah, we can handle that in OTTF initializations, right @alphan?

[2022-09-08 20:26] matutem commented on #14835
It seems the failures in chip_sw_keymgr_key_derivation_prod could be related.

[2022-09-08 20:37] matutem opened #14838 "[test-triage] chip_sw_aon_timer_irq"
### Hierarchy of regression failure

Chip Level

### Failure Description

  UVM_ERROR @ 4322.343512 us: (sw_logger_if.sv:521) [aon_timer_irq_test_prog_sim_dv(sw/device/tests/aon_timer_irq_test.c:147)] CHECK-fail: Timer took 321 usec which is not in the range 286 usec and 321 usec

### Steps to Reproduce

- Commit hash: https://github.com/lowrisc/opentitan/tree/b73727cd502c1a66545c7f84d7861a1474342

[2022-09-08 20:42] eunchan opened #14839 "[plic] Review latest PLIC spec (1.0.0-rc5)"
https://github.com/riscv/riscv-plic-spec/releases/tag/1.0.0_rc5

would be a candidate for the V1.0. Need to check the spec and may suggest changes to the `rv_plic` design.

[2022-09-08 21:01] matutem opened #14840 "[test-triage] chip_sw_entropy_src_fuse_en_fw_read_test"
### Hierarchy of regression failure

Chip Level

### Failure Description

  UVM_ERROR @ 3796.860552 us: (sw_logger_if.sv:521) [entropy_src_fuse_en_fw_read_test_prog_sim_dv(sw/device/tests/sim_dv/entropy_src_fuse_en_fw_read_test.c:66)] DIF-fail: dif_entropy_src_configure(entropy_src, config, kDifToggleEnabled) returns 3

A return value of 3 most likely means regwen is 0.

### Steps to Reproduce

-

[2022-09-08 21:31] matutem opened #14841 "[test-triage] chip_sw_otbn_mem_scramble"
### Hierarchy of regression failure

Chip Level

### Failure Description

  UVM_ERROR @ 4600.294014 us: (sw_logger_if.sv:521) [otbn_mem_scramble_test_prog_sim_dv(sw/device/tests/otbn_mem_scramble_test.c:211)] CHECK-fail: Expecting at least 49 DMEM integrity errors, got 0

This may be fixed now: I just ran the test at HEAD for 6 iterations with no failures.

### Steps to Reproduce

- Commit hash: h

[2022-09-08 21:38] msfschaffner opened #14842 "[prim] Reach coverage metrics for V3"
For most smaller primitives in the `prim_*` library, we collect coverage as part of the comportable IP block-level DV. However, a few larger prims have their own DV environment, and hence they are excluded from coverage collection in the comportable IP block-level DV environments.

In order to reach V3 for the entire top-level, we should make sure that the coverage of these primitives reaches 100%

[2022-09-08 21:39] msfschaffner commented on #14842
CC @tjaychen @sriyerg

[2022-09-08 21:47] msfschaffner commented on #14611
Ok, let's put this on the agenda for the next meeting then!

[2022-09-08 21:52] matutem opened #14843 "[test-triage] chip_sw_usb_ast_clk_calib"
### Hierarchy of regression failure

Chip Level

### Failure Description

      Offending '(!src_busy_o)'
  UVM_ERROR @ 4810.973621 us: (ast_pulse_sync.sv:143) [ASSERT FAILED] NewPulseWhenSrcBusy

### Steps to Reproduce

- Commit hash: https://github.com/lowrisc/opentitan/tree/b73727cd502c1a66545c7f84d7861a1474342963
- ./util/dvsim/dvsim.py hw/top_earlgrey/dv/chip_sim_cfg.hjson -i chip_sw_usb_ast_

[2022-09-08 21:54] matutem commented on #14843
Tim, this may be a nuvoton issue? Could you dispatch it to the right assignee?

[2022-09-08 22:11] tjaychen commented on #14843
unfortunately i probably need to take a look at this one :)
But I think I know why.. similar to the aon_timer test, we need to end the "pulse" generation at the end of the test. I can quickly patch this.

[2022-09-08 22:37] sriyerg commented on #14842
Probably track each one in a separate issue since different DV engineers may be assigned to work on them.

[2022-09-08 22:54] tjaychen commented on #14409
this has been addressed and can be closed.

[2022-09-08 22:54] #14409 closed

[2022-09-08 22:55] tjaychen commented on #14193
unassigning to work on other high priority tests.

[2022-09-08 22:56] tjaychen commented on #13780
this has been added to the chip level test guide.

[2022-09-08 22:56] #13780 closed

[2022-09-08 23:13] tjaychen commented on #14828
@tjaychen

[2022-09-08 23:15] matutem opened #14844 "[test-triage] chip_sw_sensor_ctrl_alert"
### Hierarchy of regression failure

Chip Level

### Failure Description

Job chip_earlgrey_asic-sim-vcs_run_default killed due to: Exit reason: User job exceeded runlimit: User job timed out has 2 failures:
Test chip_sw_sensor_ctrl_alert has 1 failures.

1.chip_sw_sensor_ctrl_alert.3693031979
Log /container/opentitan-public/scratch/os_regression/chip_earlgrey_asic-sim-vcs/1.chip_sw_sensor_ctrl_al

[2022-09-08 23:16] sriyerg commented on #14834
#14742 has a pending FPGA CI error which needs to be reproduced and fixed.

[2022-09-08 23:23] msfschaffner opened #14845 "[prim_alert] Reach coverage metrics for V3"
As explained in #14842, we need to get the coverage for certain primitives to 100% for V3 (with waivers).
This issue tracks `prim_alert`.

[2022-09-08 23:24] msfschaffner opened #14846 "[prim_esc] Reach coverage metrics for V3"
As explained in https://github.com/lowRISC/opentitan/issues/14842, we need to get the coverage for certain primitives to 100% for V3 (with waivers).
This issue tracks `prim_esc`.

[2022-09-08 23:24] msfschaffner opened #14847 "[prim_lfsr] Reach coverage metrics for V3"
As explained in https://github.com/lowRISC/opentitan/issues/14842, we need to get the coverage for certain primitives to 100% for V3 (with waivers).
This issue tracks `prim_lfsr`.

[2022-09-08 23:25] msfschaffner opened #14848 "[prim_present] Reach coverage metrics for V3"
As explained in https://github.com/lowRISC/opentitan/issues/14842, we need to get the coverage for certain primitives to 100% for V3 (with waivers).
This issue tracks `prim_present`.

[2022-09-08 23:25] msfschaffner opened #14849 "[prim_prince] Reach coverage metrics for V3"
As explained in https://github.com/lowRISC/opentitan/issues/14842, we need to get the coverage for certain primitives to 100% for V3 (with waivers).
This issue tracks `prim_prince`.

[2022-09-08 23:25] matutem opened #14850 "[test-triage] chip_sw_lc_walkthrough_dev"
### Hierarchy of regression failure

Chip Level

### Failure Description

Job chip_earlgrey_asic-sim-vcs_run_default killed due to: Exit reason: Pod abruptly killed. Check resource usage. has 2 failures:

Most likely the test times-out for wall-clock time. It already sets run_timeout_mins to 240, which is very long! It failed 1 out of 3 runs.

### Steps to Reproduce

- Commit hash: https://github.

[2022-09-08 23:29] tjaychen commented on #14542
i agree with @mwbranstad, that seems like the best approach.
Are flags1/2/3 actually being used now? If not, we could just consume all of them for flag0, and make flag0 a mubi control.  That way we don't even need to change anything inside `EDN` or any storage elements along the way, we just need to change the interpretation on `CSRNG`.  If we do that, then hopefully the downstream changes won't b

[2022-09-08 23:30] msfschaffner commented on #14842
Done and linked!

[2022-09-08 23:31] cindychip commented on #14850
Oh! Thanks Matute, yeah lc_walkthrough goes through RMA state that takes a long time to erase flash memory. Let me check other tests that also goes to RMA state and see their timeout value.

[2022-09-08 23:37] alphan commented on #14828
ROM leaves things disabled but unlocked so that the next stage can adjust as needed. IIRC this is also needed when running these with test_rom since the reset values for the default data region permissions are disabled:

![image](https://user-images.githubusercontent.com/57949550/189243726-ad52936c-0862-42c1-8a66-8d38f6bbc98c.png)

[2022-09-08 23:37] tjaychen commented on #14850
@cindychip i should have added a run time option to reduce the flash program latency.
That "should" help a little. Do you know how these tests would changed based on random seed otherwise? Is it the primary clock frequency? I can't remember if these tests do the "fake" clock calibration thing to get to a set frequency.

[2022-09-08 23:44] tjaychen commented on #11700
@cindychip sorry can we close this now? Or maybe we need to make some updates after the prim alert merge?

[2022-09-08 23:49] tjaychen commented on #14114
this test was previously assigned to P3 by accident, it really should be a P1 test.

[2022-09-08 23:49] martin-lueker commented on #14769
Hi @timothytrippel,
   A potentially much simpler solution: Would it be okay to just set `use_default_shell_env=True` for `_bin_to_vmem_impl`?
This works on our system

[2022-09-09 02:46] #14838 closed

[2022-09-09 05:42] timothytrippel commented on #14769
yep I think that should be ok, provided it passes CI (which it looks like it is). Glad that works!

I think in the long term, for the sake of hermiticity, we probably still want to do one of the two options above, and since this this issue will close when your linked PR merges I will break my above comment out into an issue with lower priority.

[2022-09-09 05:43] timothytrippel opened #14854 "[bazel] bring `srec_cat` under Bazel management"
From #14769:

No worries at all! Sorry I wasn't very clear above.

There were two meanings to "bring this under bazel management" that I was thinking of (the second is the one you pointed out) I just was confused when you said "we may be able to link it":

1. If the dependency is pre-built, as is the case with lowRISC toolchain, then bazel can simply download and unpack the tarball, which looks li

[2022-09-09 07:14] jadephilipoom commented on #14832
If I'm correctly understanding the original message, it seems like not incrementing `entropy_cnt` when entropy is consumed for `msg_mask` could have implications for the protection of the key as well -- if KMAC consumes all its available entropy for `msg_mask` and doesn't refresh because `entropy_cnt` wasn't incremented, what happens if it then tries to mask the key?

One area to be careful about

[2022-09-09 07:18] semihalf-mazurek-michal commented on #10217
I think this ticket can now be closed.

[2022-09-09 07:18] #10217 closed

[2022-09-09 07:36] johannheyszl commented on #14542
thx @tjaychen, it seems we are all on the same page. I agree it's simpler to use the other 3 flag bits instead of RFU bits for mubi since those other flag bits aren't used atm.

[2022-09-09 07:54] bilgiday commented on #14542
Thanks for the feedback, that sounds good to me.

@tjaychen, afaik, the `flag 1/2/3` bits are currently not being used; they are RFU. We can consume them for `flag0`.

[2022-09-09 08:33] engdoreis commented on #14713
Sounds good!

[2022-09-09 09:43] johannheyszl commented on #14832
Thx @jadephilipoom, sounds very convincing to me. Looks like it would be great to increment in both cases.

[2022-09-09 11:27] engdoreis commented on #14841
Starting to work on this issue.
I just executed in the FPGA and got this error:
[code]

[2022-09-09 13:26] engdoreis commented on #14841
For this test ECC errors never generates internal irq in the FPGA and I noticed that a similar test `sw/device/tests/sim_dv/sram_ctrl_main_scrambled_access_test.c` just executes with dv_sim.
Is it only considence or ECC errors don't really work in the FPGA?

[2022-09-09 14:21] #14603 closed

[2022-09-09 15:51] moidx commented on #3469
Closed as obsolete. We have settled down on using "Development Stages" to refer to hw and software development stages.

[2022-09-09 15:51] #3469 closed

[2022-09-09 15:52] moidx commented on #3512
Hi @martin-lueker, should we keep this issue open?

[2022-09-09 15:54] moidx commented on #2513
We will need to evaluate this again once we have a more up to date repository strategy.

[2022-09-09 16:24] tjaychen commented on #14832
sorry i think i misled the conversation. I don't know what I was thinking yesterday. I read it incorrectly as message not being masked, but that's not what @cindychip  is saying.

I think what she's saying is that the [entropy refresh counter](https://docs.opentitan.org/hw/ip/kmac/doc/index.html#Reg_entropy_refresh_threshold_shadowed) increments only for the key masking usage, and not the message.

[2022-09-09 16:28] tjaychen commented on #14542
@mwbranstad any objections? This does mean we'll need to do some minor documentation update.
But I feel like it feels a bit more streamlined than tacking on later bits.

[2022-09-09 17:00] eunchan commented on #14832
Yep. You correctly described the issue. Thanks!

[2022-09-09 17:38] cindychip commented on #14850
HI Tim, sorry for the late reply:
1). If the seed randomization should have little impact on this, but it might have some depends on how OTP init fetches the EDN requests.
2). This test currently only hard code to use internal clock.

[2022-09-09 18:13] tjaychen commented on #14850
sounds good, let me know if you want me to help have a look.
I thought reducing the program latency would be enough to help..

one thing I forgot, during this walkthrough, we probably progress through certain states where ROM may not run (is that the case..?) If that's true, the clock remains uncalibrated, and the frequency for that clock could vary from run to run.  So it's possible that maybe on

[2022-09-09 18:22] johannheyszl commented on #14832
@tjaychen no worries, you did not mislead. we understood exactly this.

however, @jadephilipoom pointed out 2 things:
- if we consume entropy for masking msg, we might take it away from some subsequent key masking.
- masking msg may not be less important since (longterm) keys are generated through such msgs.

pls @jadephilipoom to add/correct if im inaccurate, thx

[2022-09-09 19:25] #14769 closed

[2022-09-09 20:53] alphan opened #14863 "[opentitanlib] FixedSizeBigInt to_bytes() methods should preserve byte length""
Ran into this while working on #14503: `FixedSizeBigInt` `to_*_bytes()` methods are thin wrappers around the underlying type's `to_*_bytes()` methods which return the minimal `vec<u8>` without any padding.
This is normally not a problem except the `sign()` method of the RSA crate we are using is expecting the input digest buffer to be exactly 32 bytes (256-bits for SHA256) and errors out if it's n

[2022-09-09 20:53] alphan commented on #14863
@jadephilipoom

[2022-09-09 21:10] arunthomas commented on #14632
I've added this to the Software WG meeting agenda.

This approach makes sense to me. The DV tests provide adequate coverage.

[2022-09-09 21:32] alphan opened #14865 "[bazel, opentitantool] Bitstream USR_ACCESS value remains the same after splicing a new ROM"
Ran into this while working on #14460 and fixing some bootstrap issues.

`opentitantool` can detect if the FPGA is already programmed by the correct bitstream by comparing the `USR_ACCESS` value in the bitstream with the value transmitted over UART.
The `USR_ACCESS` value, however, remains the same after splicing the bitstream with a new ROM causing `opentitantool` to skip programming while runnin

[2022-09-09 22:25] mwbranstad commented on #14542
@senelson7 what do you think of this proposal? will require DV changes.
FYI, I will be out next week so have time to think about this one.

[2022-09-09 22:37] a-will commented on #14865
The value for `USR_ACCESS` is currently the default, which is a timestamp of when Vivado built the original bitstream, so the current splicing tools won't change it. We might want to add that feature to the tool.

[2022-09-09 23:17] tjaychen commented on #14114
i've taken over this test for now to add some basic top level spi host testing.
This is a top level smoke test to ensure spi_host can communicate with the outside world, it does not replace more detailed testing of the spi host (for example, interaction with a spi flash module).

[2022-09-09 23:34] tjaychen opened #14867 "[escalation / rma entry] Better cross handling in the future"
This came up during a discussion with @alphan.
Right now, rma_entry and escalation do not talk to one another.

This means in the worst case scenario, if the software (realistically rom or rom_ext, a piece of code that is either hard or impossible to update) gets into some kind of bad loop that constantly escalates / shuts down the chip, we may not be able to issue the rma entry instructions to de

[2022-09-09 23:36] tjaychen commented on #14867
@cindychip
@msfschaffner
@moidx

let me know if there's an issue already. I couldn't immediately find out.
I also can't remember if this is something we already discussed and deemed okay.

[2022-09-10 00:39] timothytrippel commented on #14865
by to "the tool", I assume you mean to the splicing tool? :)

[2022-09-10 01:05] tjaychen commented on #14843
o oops, this is not what i thought. I think this issue has actually already been fixed.
See here https://github.com/lowRISC/opentitan/pull/14749.

Let's give this to the next on-call if see if results are stable for a few days.

[2022-09-10 01:07] alphan commented on #14865
I thought @a-will meant the OT side of things not `updatemem`, right? I wonder if it has a flag for this or we could _splice_ that too maybe? Is that what you meant @a-will ?

[2022-09-10 03:48] a-will commented on #14865
Right, we can just adjust the value in the file. It's a pretty straightforward register write command in the beginning of the bitstream.

[2022-09-10 04:10] #14767 closed

[2022-09-10 04:10] #14768 closed

[2022-09-10 16:26] tjaychen commented on #14867
one thing i forgot about.  For now, as long as boot-strap isnt' disabled, we can also use it as a mechanism to halt ROM execution from getting too far.  We would then have more time to issue an RMA entry command.  This isn't a full proof solution, but would probably be sufficient in most cases.

[2022-09-10 17:17] alphan opened #14871 "[sw/silicon_creator] Bootstrap should clear status bits after ignored commands in phase 1"
Noticed this while working on #14460.

Bootstrap ignores any command other than CHIP_ERASE or SECTOR_ERASE in phase 1, i.e. PAGE_PROGRAM and RESET. Since the spi_device is configured to set the busy bit after receiving PAGE_PROGRAM and RESET, it makes it hard to verify that these commands are ignored with a reasonable spiflash implementation that waits for the busy bit.

@moidx @cfrantz @a-will

[2022-09-10 17:40] sriyerg opened #14872 "[test-triage] Nightly regression fallout due to #14776"
Update:
The following tests are fixed and passing as of PR #14876:

Fixed in #14876:
- chip_sw_uart_smoketest
- chip_sw_uart_smoketest_signed
- chip_sw_uart_tx_rx
- chip_sw_uart_tx_rx_idx1
- chip_sw_uart_tx_rx_idx2
- chip_sw_uart_tx_rx_idx3
- chip_sw_lc_walkthrough_dev
- chip_sw_lc_walkthrough_prod
- chip_sw_lc_walkthrough_prodend
- chip_sw_lc_walkthrough_rma
- chip_sw_lc_walkthrough_testunlocks
-

[2022-09-10 17:49] alphan opened #14873 "[sw/silicon_creator] Buffer over-read in bootstrap"
**Discovery**
Ran into this while working on #14461 which verifies the erase behavior in phase 1 of bootstrap. Instead of bootstrapping the chip with a complete image, I decided to write just to the identifier field of the manifest. If the erase works, the BFV reported by the chip changes after the erase command. Instead of the expected BFV, I observed at `kErrorInterrupt`.

**Reproduction steps**

[2022-09-10 17:51] alphan commented on #14873
@cfrantz @moidx @arunthomas @a-will

[2022-09-10 18:10] alphan opened #14874 "[sw/silicon_creator] Wrong address increment behavior in bootstrap"
**Discovery**
Ran into this while working on #14461 and its fix (issue: #14873, pr: #14824). I decided to try a PAGE_PROGRAM command that starts at a page-misaligned address and has a large enough payload such that the next page is also modified. I noticed that the next page was not modified.

**Reproduction steps**
* A PAGE_PROGRAM command with
  * An address that is not page (256 bytes) aligned,

[2022-09-10 21:54] alphan commented on #14865
Great, I assume there is no integrity protection that we need to worry about, right?

[2022-09-11 02:36] a-will commented on #14865
Nope!

[2022-09-11 02:39] a-will commented on #14874
The next page should _not_ be modified. PAGE_PROGRAM fills a page-sized buffer that wraps. Only one page is ever changed.

[2022-09-11 10:14] alphan commented on #14874
Correct, the code was correct, I was wrong. For some reason I still find this behavior a little bit odd and keep forgetting it. Added a comment right above that line in #14824. Thanks for catching this!

[2022-09-11 10:14] #14874 closed

[2022-09-11 11:14] alphan commented on #14865
Thanks for confirming. Started working on this.

[2022-09-11 11:57] alphan commented on #14865
Hmm, I tried modifying the bytes that [`scan_usr_access`](https://github.com/lowRISC/opentitan/blob/master/sw/host/opentitanlib/src/util/rom_detect.rs#L53-L62) reads but I got:

`Error: FPGA programming failed: unknown error`

I seem to be touching the correct bytes because I can program the FPGA if I set them to the original value.

[2022-09-11 12:19] alphan commented on #14865
![Screenshot_20220911-081821.png](https://user-images.githubusercontent.com/57949550/189527135-66860117-e2ec-4722-a5cb-20a8b9684d29.png)

[2022-09-11 15:24] alphan commented on #14865
I can confirm that the FPGA checks the CRC of the bitstream during configuration whenever it encounters a sequence like this (see table 5.19 in https://docs.xilinx.com/v/u/en-US/ug470_7Series_Config):

[code]

Searching for this pattern and replacing the command and the expected CRC value with NOOP removes the CRC check and makes the bitstream usable again.

Ideally I would like to keep this prote

[2022-09-11 18:30] a-will commented on #14865
Ah, I made a bad assumption that USR_ACCESS was similar to the values I've played with before for multiboot and Master SPI configuration. Sorry, I should've checked!

[2022-09-11 22:55] #14636 closed

[2022-09-11 23:11] alphan commented on #14865
No worries at all, your assumption actually encouraged me to give it a try :) I'll create a PR that adds this capability to opentitantool (but by removing the CRC check along the way) tomorrow - I already have some local changes.

By the way, we don't have to limit this to local workflows because IIRC the USR_ACCESS values of the test_rom and rom bitstreams are the same, which is probably not what

[2022-09-12 08:53] bilgiday commented on #14126
@msfschaffner, @cindychip,

For the first part of the test, I developed an initial test code based on the alert_handler_ping_timeout_test and created a draft PR #14858 so that DV team can reproduce the results below.
- In the code, I turn off the hintable and gateable clocks one by one, and check if a ping-fail alert is triggered by the corresponding alert inputs.
   - If a clock is not gated, the

[2022-09-12 09:48] sriyerg commented on #14872
Most of the new error signatures have been fixed in #14876, Only the following remain:

[code]

- These tests may have to be written properly. The tests force JTAG IO pins to check if the TAP strap was sampled and took effect. Instead of forcing, it may be better to read the JTAG IDCODE register to prove access to the selected TAP went through.
- To quickly fix the test and move on, the interactio

[2022-09-12 10:09] #14863 closed

[2022-09-12 12:41] johngt commented on #14385
@vrozic - do you mind taking a look at where @vogelpi got to with this and pick up the thread?

[2022-09-12 12:44] johngt commented on #8546
@weicaiyang - we are reviewing top-level tests and think that this one slipped through the net for closing out. We believe it may already be addressed. Can you comment on if this still needs testing?

[2022-09-12 14:27] #14871 closed

[2022-09-12 14:27] #14873 closed

[2022-09-12 14:27] #14459 closed

[2022-09-12 14:27] #14460 closed

[2022-09-12 14:27] #14461 closed

[2022-09-12 14:35] cindychip commented on #14832
TODO item for @cindychip: Add a sequence to request entropy in the middle of any kmac operation.

[2022-09-12 14:44] eunchan commented on #14832
We've discussed this issue offline. Here's summary:

- Cryptolib does not prevent the cSHAKE/SHAKE from being used for security sensitive msg
  It means, technically, attacker or non-trusted app (SW app) can request very long cSHAKE XOF op to get the internal 25 x 32b LFSR state, (it is quite hard though)
- KMAC refreshes the entropy only in KMAC mode and `hash_cnt` hits the threshold.
- KMAC also

[2022-09-12 15:08] jadephilipoom commented on #14832
I'll just add a couple extra notes from the discussion so I don't forget them :slightly_smiling_face:

- The KMAC  entropy refresh happens _after_ each KMAC operation. So if we want to prevent KMAC and hashing operations from ever using the same entropy in cryptolib, then we need to reseed KMAC _before_ each KMAC operation as well.
- Software-forced reseeding is via the [CMD register](https://docs

[2022-09-12 15:44] eunchan commented on #14832
Thanks for the summary @jadephilipoom ! Just one note I want to add here.

KMAC refreshes when it hits the hash count threshold not each KMAC op.

[2022-09-12 16:02] abdullahvarici commented on #14653
Success rate dropped 0% in the latest regression (11th September). I think I should try to root cause for occasional failure in earlier commits.

[2022-09-12 16:33] alphan opened #14880 "[opentitantool] Add tests for usr_access module"

[2022-09-12 17:09] tjaychen commented on #14832
thanks for the clarification all.

[2022-09-12 18:02] dmcardle opened #14881 "Warning about missing Cargo.toml when building opentitantool"
cc @alphan

Not sure what these mean, nor how to fix it. Do you have any insight, @cfrantz?

[code]

[2022-09-12 18:10] eunchan opened #14882 "[dv/chip] Allow SPI Dev PADs controllable in `ios_if`"
In PR https://github.com/lowRISC/opentitan/pull/14680 , the test skips below PADs in the candidate of the pin wake up.

`SpiDevD0, SpiDevClk, SpiDevCsL`

They are [connected directly to the `spi_if` ](https://github.com/lowRISC/opentitan/blob/b05a44082aadb68759622caa3d819296a9327042/hw/top_earlgrey/dv/env/chip_if.sv#L182)

This issue is to track the enhancement so that those PADs can be driven in

[2022-09-12 18:26] weicaiyang commented on #7445
Checked the test. It should be able to hit both cases easily. Closing this issue now

[2022-09-12 18:26] #7445 closed

[2022-09-12 18:37] alphan commented on #14503
| Test                                                                                       | Notes |
|--------------------------------------------------------------------------------------------|-------|
| //sw/device/silicon_creator/rom/e2e:e2e_bootstrap_entry_fpga_cw310                         |       |
| //sw/device/tests:pmp_smoketest_tor_fpga_cw310

[2022-09-12 18:38] sriyerg commented on #14882
They were directly connected because they were DIOs. I understand you need to be able to use them for random pin wake up. I will add a mux signal for it.

[2022-09-12 18:43] weicaiyang commented on #14831
this will reduce number of internal process or passthrough commands.
Without this change, we could support all 256 commands passthrough. With this, we can only have 24 commands for internal process and passthrough, plus EN4B/EX4B and WRDI/WREN.

If it's not a concern, this feature SGTM

[2022-09-12 18:43] alphan opened #14883 "[opentitantool] Consider adding the CRC check back to update-usr-access command"
#14877 adds the `update-usr-access` to `opentitantool` and uses it in `bitstream_splice` to improve local workflows that involve splicing a locally built `rom` or `test_rom` into a bitstream from the GCS bucket. See #14865 for details.

One particular shortcoming of the implementation in #14877 is that it disables the CRC check during FPGA programming. We should consider enabling it again.

[2022-09-12 18:54] weicaiyang commented on #14790
not sure if we could handle it like this
For the assertion, add one more line for the other alert
  `ASSERT_PRIM_FSM_ERROR_TRIGGER_ALERT(Check1_A, the_same_path, ALERT1)
  `ASSERT_PRIM_FSM_ERROR_TRIGGER_ALERT(Check2_A, the_same_path, ALERT2)

And override the sec_cm sequence to check it also triggers another alert.

Since only 1-2 blocks have this requirement, it may be easier to treat them separa

[2022-09-12 19:59] #4056 closed

[2022-09-12 20:12] dmcardle commented on #14883
Taking a stab at sketching out the subtasks:

* [ ] Compute the CRC of the bitstream after updating its `USR_ACCESS` value.
* [ ] Overwrite the value following `WRITE_CRC_REG` with the new CRC, instead of overwriting both with `NOOP`.
* [ ] Handle the case that the incoming bitstream does not already have `WRITE_CRC_REG`? Or add an assertion?

[2022-09-12 20:15] tjaychen commented on #14126
@jeoongp
let me help double check something.
This area could be a bit weird depending on how the FPGA CG cells were hooked up.

[2022-09-12 20:35] weicaiyang commented on #8546
The tests have been added. Some of the items may be already addressed (like the item - Run in DV, I just checked it).
It will be nice if someone can trace down the original comments and confirm if those are addressed or not. The person who takes this can consider taking https://github.com/lowRISC/opentitan/issues/13543 as well, which are likely not addressed yet.

[2022-09-12 20:50] #14463 closed

[2022-09-12 20:50] #14464 closed

[2022-09-12 20:50] #14465 closed

[2022-09-12 20:50] #14466 closed

[2022-09-12 22:00] cindychip opened #14887 "[chip/prim_esc_receiver] check if prim_esc_receiver is out-of-sync"
This discussion comes from PR: https://github.com/lowRISC/opentitan/pull/14663#issuecomment-1244540532

We would like some checking between `prim_esc_receiver` and `alert_handler`, and `pwrmgr` to make sure they are not out-of-sync.

For example - When alert_handler/pwrmgr reset, will `prim_esc_receiver` counters clear to 0?
Currently if the `prim_esc_receiver` did not reset, and we configured the

[2022-09-12 22:10] msfschaffner commented on #14126
Hey @bilgiday,

I am not 100% sure the test as you describe it matches with the description in the testplan.
Let me clarify: we should NEVER see a ping fail alert if the alert handler is set up correctly, unless the alert channel signals are being tampered with. So for this particular test, this means that
- We should never get a ping failure alert, no matter whether a clock is gated or not.
- If

[2022-09-12 22:26] jeoongp commented on #14126
Hey @bilgiday, is this issue occurring only on FPGA?

[2022-09-12 23:04] alphan commented on #14883
Thanks @dmcardle! We should check the example bitstream that I quoted in the original issue but IIRC
- checksum starts at a RCRC instruction, computed in rolling fashion and written after each write crc command. So, we might not need to handle the no crc command case specially.
- Also, IIRC they use crc32c.

[2022-09-12 23:14] cindychip opened #14888 "[prim_esc_receiver] output status"
Discussed with Tim, and we think it would be nice to have `prim_esc_receiver` to output its status in case something went out of sync.

Consider output: the enablement of the ping reverse timeout counter.

@tjaychen @msfschaffner

[2022-09-13 00:01] #14882 closed

[2022-09-13 02:17] timothytrippel opened #14891 "[sw,tooling] optimize the `gen-flash-img.py` script"

[2022-09-13 02:21] timothytrippel commented on #14891
As [identified](https://github.com/lowRISC/opentitan/pull/14533#discussion_r961127508) in #14533, the the [`gen-flash-img.py`](https://cs.opensource.google/opentitan/opentitan/+/master:util/design/BUILD;drc=74f9095ab484c27197d232a23a01e10786df8392;l=19) script takes a long time to run.

We should:
- [ ] optimize this, and
- [ ] remove/hardcode the `opentitan_multislot_flash_binary` `image_size` pa

[2022-09-13 02:36] sriyerg commented on #14872
Update:
The following tests are fixed and passing as of PR #14876:

- chip_sw_uart_smoketest
- chip_sw_uart_smoketest_signed
- chip_sw_uart_tx_rx
- chip_sw_uart_tx_rx_idx1
- chip_sw_uart_tx_rx_idx2
- chip_sw_uart_tx_rx_idx3
- chip_sw_lc_walkthrough_dev
- chip_sw_lc_walkthrough_prod
- chip_sw_lc_walkthrough_prodend
- chip_sw_lc_walkthrough_rma
- chip_sw_lc_walkthrough_testunlocks
- chip_jtag_csr_rw

[2022-09-13 03:16] alphan opened #14892 "[sw/silicon_creator] ROM digest and chip_info"
Noticed while working on #14884

From the [rom_ctrl spec](https://docs.opentitan.org/hw/ip/rom_ctrl/doc/#:~:text=The%20top%20eight%20words%20in%20ROM%20(by%20logical%20address)%20are%20interpreted%20as%20a%20256%2Dbit%20expected%20hash.%20Unlike%20the%20rest%20of%20ROM%2C%20their%20data%20is%20not%20stored%20scrambled%2C%20so%20the%20expected%20hash%20can%20be%20read%20directly.):

- [ ] Do we nee

[2022-09-13 05:07] timothytrippel commented on #14892
Noticed this as well while working on #14890 :) ... was just about to file an issue thanks @alphan !

[2022-09-13 06:00] weicaiyang commented on #14872
sure, I can take the first 2 failures.

[2022-09-13 06:05] jadephilipoom commented on #14832
Maybe so. An attacker who wanted to cycle the LFSRs could also request a KMAC for a really huge message, in which case a reseed during `absorb` would be helpful in the same way a reseed during `squeeze` already is. Assuming the bounds for how long this would need to be are quite high, though (which seems to be the case? I don't know the exact number), we can work around it in software by placing l

[2022-09-13 08:23] ctopal commented on #13961
Closed with https://github.com/lowRISC/opentitan/pull/14656

[2022-09-13 08:23] #13961 closed

[2022-09-13 08:24] ctopal commented on #13962
Closed with https://github.com/lowRISC/opentitan/pull/14656

[2022-09-13 08:24] #13962 closed

[2022-09-13 09:16] ctopal commented on #11709
This functionality is checked with `otbn_illegal_mem_acc` test which passes in our nightlies

[2022-09-13 09:30] #11709 closed

[2022-09-13 09:59] #14865 closed

[2022-09-13 10:50] johngt commented on #14872
Looking through triage it seems there are a few failing tests from the nightlies that may have been missed above and are related. Just commenting here in case these are also being worked on / expected to pass.
* chip_sw_uart_rand_baudrate
* chip_csr_rw
* chip_csr_bit_bash
* chip_sw_clkmgr_external_clk_src_for_lc
* chip_sw_clkmgr_external_clk_src_for_lc
* chip_sw_pwrmgr_random_sleep_all_reset_reqs

[2022-09-13 13:41] drewmacrae commented on #14111
Why did we remove Component:ChipLevelTest @engdoreis? I was looking to pick up something Help Wanted that was SW only and unassigned so I'm going to start on this but I feel like I'm missing something (Maybe a lot)

[2022-09-13 14:41] johngt opened #14898 "[test-triage] chip_rv_dm_ndm_reset_req Timeouts"
### Hierarchy of regression failure

Chip Level

### Failure Description

UVM_ERROR @ * us: (chip_sw_base_vseq.sv:221) virtual_sequencer [chip_rv_dm_ndm_reset_vseq] SW TEST TIMED OUT. STATE: SwTestStatusInTest, TIMEOUT = * ns has 3 failures:

Test chip_rv_dm_ndm_reset_req has 3 failures.
0.chip_rv_dm_ndm_reset_req.4027175174
Line 489, in log /container/opentitan-public/scratch/os_regression/chip_e

[2022-09-13 14:47] tjaychen commented on #14832
sounds good.

[2022-09-13 14:49] tjaychen commented on #14111
good catch, i've added the label back.

[2022-09-13 14:51] johngt opened #14899 "[test-triage] chip_sw_all_escalation_resets"
### Hierarchy of regression failure

Chip Level

### Failure Description

Test chip_sw_all_escalation_resets has 2 failures.
17.chip_sw_all_escalation_resets.1083579376
Log /container/opentitan-public/scratch/os_regression/chip_earlgrey_asic-sim-vcs/17.chip_sw_all_escalation_resets/latest/run.log

      File "/root/.cache/bazel/_bazel_default/96f40d218badc03ed33c48f246ec2aa1/external/rules_rust/ru

[2022-09-13 14:55] johngt commented on #14899
This looks like a package / tarball issue, which may mean a file has failed to download completely.
Given it's a software task currently, assigning to @engdoreis

[2022-09-13 14:56] tjaychen commented on #14892
sorry i think i'm a little confused. So are we saying today during build, we insert chip_info into the top 128B, but during the `rom_ctrl` scramble we end up overriding it with the digest..? does that mean chip info doesn't print out correctly today at all?

[2022-09-13 15:53] cindychip commented on #14850
Thanks Tim, we discussed about this offline, but just want to put the summary here:

1). Yes, this test enabled your run time flash optimization `+flash_program_latency=5`
2). This is the current stages of this test:

RAW -> TestUnlocked0 -> Dev -> Rma
a). RAW state is the only one that did not use ROM.
b). TestUnlocked0 -> Dev: use internal clock
c). Dev -> Rma: use external clock
Since dev -> rm

[2022-09-13 16:00] tjaychen commented on #14850
thanks cindy!

[2022-09-13 16:13] johngt commented on #14840
@moidx - I see that you have self-assigned. We think that one of our engineers - @abdullahvarici could start looking into this. If it is something you want to continue to work on please just respond saying so, otherwise please feel free to reassign to @abdullahvarici to look into this week.

[2022-09-13 16:15] alphan commented on #14892
From ROM sync: Remove chip_info, 3-/4-part version, print during shutdown. Use `VER:` for the prefix.

[2022-09-13 16:52] moidx commented on #14840
Thanks @johngt, reassigned the issue.

[2022-09-13 16:54] sriyerg commented on #14872
Aah sorry - I updated the list. All except the last one are expected to pass in in regression from last night (waiting for the new results). The `chip_sw_uart_tx_rx_bootstrap` is a previous known failure.

[2022-09-13 17:18] weicaiyang commented on #14835
@johngt I was on vacation last week. I'm looking at this issue now. already reproduce it locally, but having a trouble to open a wave, will figure it out soon.

[2022-09-13 17:39] drewmacrae commented on #14111
I was going to start on the software side of the work here, and it says you're the contact @martin-lueker, LMK if it's inconvenient.

[2022-09-13 17:41] drewmacrae commented on #14111
I don't see anything relevant in codesearch, I expect I'll be writing a test with a similar architecture to the i2c_host_tx_rx_test, and thought I'd start with the c components and the build rules.

[2022-09-13 17:41] martin-lueker commented on #14111
Hi Drew. Actually, can we add @igk8 as the contact for this?  He would be a much better contact.  Also AFAIK, this block is not thoroughly verified at all due to resourcing issues. I think it is still at V1.  This may be "exciting".

[2022-09-13 17:45] cindychip opened #14902 "[kmac] entropy sw_mode with incorrect configuration"
Hey Eunchan, I have an error case below from SW user error and it potentially hangs the block:

1). Configures masked version of the kmac to SW entropy mode.
2). Set `cfg.entropy_ready` bit to 1 and configure the rest of the `cfg_shadowed` register.
3). Set `cfg.regwen` to 1  ---> Here is a user error, because we did not write the `entropy_seeds`
4). Send cmd: `start` and `process` and send keys a

[2022-09-13 17:54] tjaychen commented on #14111
yeah Drew, I'm working on the i2c_host side, but I think the i2c_device
side is not fully verified (or at all).
It might be good to table this one for now until the DV on this has spun
up.  Because even if we have the C side, the SV side i think is mostly
undeveloped.

On Tue, Sep 13, 2022 at 10:42 AM Martin Lueker-Boden <
***@***.***> wrote:

[2022-09-13 19:07] bilgiday commented on #14126
@msfschaffner, thanks for the feedback and the clarification. I was using a low-timeout value to create a negative test case to verify my own understanding of the IP. I will follow your description and use `ping_timeout=256` in the final code.

@jeoongp, I am getting different behavior behavior from FPGA and Verilator. I need to do a few more tests to figure out what is going on.

[2022-09-13 19:08] msfschaffner commented on #14126
Ah I see. That makes sense yes.

[2022-09-13 19:13] cindychip commented on #14126
@bilgiday thanks for the detailed report.
I commented here in your PR: https://github.com/lowRISC/opentitan/pull/14858#discussion_r969047700
I wonder if that helps clear some error?

[2022-09-13 21:21] moidx commented on #11489
The latest nightly regression shows > 90% coverage for this block. Is there anything else pending to sign-off?

[2022-09-13 21:22] tjaychen commented on #14506
I'm going to move this to future release. This issue can be managed by software right now, but it would be nice to have this natively handled in the future.

[2022-09-13 21:22] moidx commented on #11489
I see FSM coverage is still below 90%.

[2022-09-13 21:38] msfschaffner opened #14908 "[irq] Check whether ISRs need to take into account signal latencies"
OpenTitan [standardizes](https://docs.opentitan.org/doc/rm/comportability_specification/#interrupt-handling) on level encoded interrupts, meaning that an interrupt is considered active as long as the level is asserted high. Also, the PLIC treats all interrupt signals as asynchronous, which means that there is a minimum of 3 PLIC clock cycles of delay until a change of the interrupt signal level is

[2022-09-13 21:38] msfschaffner commented on #14908
CC @tjaychen @alphan @timothytrippel @moidx @cfrantz @arunthomas

[2022-09-13 22:48] msfschaffner commented on #11489
This might be related to branches that we can exclude (due to escalation), but I don't know whether the coverage exclusions have been applied to this block yet.

[2022-09-13 22:56] eunchan commented on #14902
I think `2)` was what I intended. Somehow it was changed later? Let me check the history.

[2022-09-13 23:05] eunchan commented on #14902
Hum, the FSM accept seeds at first then never update the seeds at all. Anyhow, removing `regwen` from `ENTROPY_SEED[i]` seems fine to me as still it only accepts once.

[2022-09-13 23:07] moidx commented on #14134
Reopening to check regression status.

@cindychip  do you want to keep this issue open until we resolve #14887? Thanks

[2022-09-13 23:09] weicaiyang commented on #11489
If the FSM coverage is due to D2S related features, we could just waive it and address during V2S.

[2022-09-13 23:28] cindychip commented on #14789
Close this as PR is merged

[2022-09-13 23:28] #14789 closed

[2022-09-13 23:38] msfschaffner commented on #11489
I quickly glanced over the coverage results and saw that the uncovered arcs in `edn_main_sm.sv` and `edn_ack_sm.sv` are almost exclusively due to `*-> Error` and `*-> Idle` transitions.

@weicaiyang didn't we discuss an option that would automatically exclude reset transitions from coverage collection?
But yes, it feels like we can wave this to V2S.

[2022-09-13 23:40] cindychip commented on #14134
I am fine to close this once the regression passed, since we have the separate issue (#14887) to track the additional checking :)

[2022-09-14 00:00] timothytrippel commented on #13064
this is completed now.

[2022-09-14 00:00] #13064 closed

[2022-09-14 00:39] weicaiyang commented on #11489
@msfschaffner
We exclude transitions triggered by reset only. Looks like it works.
In `edn_ack_sm `, the only missing transition is DataWait-> Idle, which can be caused by disabling the `enable_i`.
And Error -> Idle is gone, which can be triggered by reset only.

[code]

Similar to edn_main_sm . *-> Idle can be triggered by disabling `edn_enable_i`.

Disabling EDN in the middle of the seq may be n

[2022-09-14 00:47] tjaychen commented on #11489
actually that's quite important.
A lot of our entropy complexes get started by ROM and need to later be initialized by software.
So we definitely should test these. @senelson7 previously merged #14534 for this, so it's probably something that should be tested as well.

[2022-09-14 00:48] #14835 closed

[2022-09-14 00:49] weicaiyang commented on #11489
Make sense. Thanks for pointing this out.

[2022-09-14 01:05] matutem opened #14912 "[dv,conn] Use connectivity testplan"
The connectivity testplan should be used to report missing or unmapped tests and to track test progress.
Apparently this testplan is currently not used.

[2022-09-14 01:21] matutem commented on #14693
We discussed this some more, and there is a suggestion to change the CDC instrumentation so it randomly adds a full cycle delay in the destination side instead of adding some time delay on the source side. That seems like an overall better approach.

[2022-09-14 02:45] matutem opened #14913 "[dv,top] Develop better solution for failing assertions on test exit"
Top-level tests need to exit cleanly, but occasionally there are failures if some counters are not fully synchronized
from the AON to core clock domain. A partial solution is implemented in https://github.com/lowRISC/opentitan/pull/14742
which changes the test source for each test that fails unpredictably. The big problem of that solution is that it applies
after diagnosing suspicious failures, wh

[2022-09-14 04:07] tjaychen commented on #14913
one thought i had was that we could try some kind of handshake with all these particular asserts.
Ie, once the test reaches some kind of finish state, we issue a "stop request" of some kind. This request would then ask all these specific asserts to ensure that the most recent update request is ack'd, and once they do, drop some kind of objection to ending the test.  Then this will give us a last c

[2022-09-14 05:08] #10039 closed

[2022-09-14 05:10] #14527 closed

[2022-09-14 05:13] a-will opened #14914 "[dv] spi_host_driver squashes end of flash transaction"
With back-to-back SPI flash transactions using the new chip_if interface, the spi_host_driver can squash the end of the first transaction. While stepping through the simulation, CSB went high to end the first transaction, then immediately went low at the beginning of the next one. There was zero simulation time in the middle, causing the two transactions to merge into one.

In addition, it seems t

[2022-09-14 05:15] tjaychen commented on #14914
o yeah.. driving CSb to `x` probably isn't desired in this case. It's a bit like driving `rst_n` or `a_valid` to `x`.

[2022-09-14 05:30] weicaiyang commented on #14527
@jdonjdon looks like we can sign off the V2 now. Please make a PR to update 2 files like this one https://github.com/lowRISC/opentitan/pull/9925

[2022-09-14 05:49] jdonjdon commented on #14527
Thanks @weicaiyang, PR is created here #14915

[2022-09-14 07:07] sriyerg opened #14918 "[chip dv] Do not use cfg.clk_rst_vif.wait_clks() to wait for clock cycles"
We need to replace the `cfg.clk_rst_if.wait_clks()` invocations in our test sequences with the appropriate clk / rst monitor in `chip_if ` for example, `cfg.chip_vif.sys_clk_rst_if.wait_clks()`.

The reason for this is explained in this commit: https://github.com/lowRISC/opentitan/pull/14917/commits/bb2bb8abf3cefcb5bb0b25680b6c74051809e5cb

Previously, the `wait_clks` on this would wait on the ext

[2022-09-14 07:30] timothytrippel commented on #14632
From our discussion during the SW WG, we agreed to:

1. rename DIF_TEST_SMOKE to DIF_TEST_ON_TARGET in S1, and
2. remove DIF_DV_TESTS from S2

I will update all checklists / documentation to reflect this change.

[2022-09-14 11:56] ctopal commented on #11539
@GregAC We also have an internal ISPR integrity check `ispr_rdata_intg_err` in `otbn_controller.sv`. Shall we add that to the list as well?

[2022-09-14 12:29] ctopal commented on #14540
Implementation is completed with https://github.com/lowRISC/opentitan/pull/14575, and coverage work is done with https://github.com/lowRISC/opentitan/pull/14573. So, I think this is already completed, @GregAC WDYT?

[2022-09-14 13:47] ctopal commented on #11539
Opened up a PR implementing this #14919

[2022-09-14 15:05] bilgiday commented on #14126
@cindychip, thanks for the suggestion, I removed all the local alerts except `kDifAlertHandlerLocalAlertAlertPingFail` but it did not change the behavior.

@jeoongp, I modified a few things to make my Verilator test more reliable: The C code needs to wait for enough time before checking the alert status. To shorten the wait time in Verilator, I manually modified `PING_CNT_DW` parameter to `4` in `

[2022-09-14 15:43] jdonjdon commented on #14140
Closed by #14894

[2022-09-14 15:43] #14140 closed

[2022-09-14 16:16] #14844 closed

[2022-09-14 16:34] abdullahvarici opened #14921 "[rv_dm] Writing read-only section of debug memory does not return an error"
The top-level test `csr_mem_rw_with_rand_reset` with build-seed `2008576760` and seed `4251724826` writes the debug memory at address `0x0001_04e0`, expects an error response, but gets an okay response and fails. According to [`rv_dm.hjson`](https://github.com/lowRISC/opentitan/blob/master/hw/ip/rv_dm/data/rv_dm.hjson#L110), the first 4 KiB of debug ROM are read-only from SW. However, as this top-

[2022-09-14 16:35] abdullahvarici commented on #14921
@msfschaffner @GregAC

[2022-09-14 16:36] patrickerich commented on #14734
This part of your error `"execvp(fusesoc, ...)": No such file or directory` suggests that fusesoc is currently not in your path (i.e. the error has nothing to do with the RISCV toolchain).

If you installed the `python-requirements.txt` as a user, then fusesoc is likely to be in `~/.local/bin`. You should add this to your PATH variable as indicated by the documentation in [step-2-install-package-m

[2022-09-14 16:39] drewmacrae opened #14922 "Does OpenTitan have the ability to reset individual blocks? (UART, SPI, I2C)? If not is it too late to add it?"
Especially with I2C, the block has a reasonable amount of state which can be challenging to clear if impacted by a reset/loss of power etc. Is there a means with which to reset the state of the peripheral block individually? I've looked and can't find it.

How would we decide about implementing such a reset?

[2022-09-14 17:06] tjaychen commented on #14922
yep! This is not super well documented, because our documentation is not templated, so it is not able to take information from the hjson to properly populate.

So for the time being..refer to [here](https://github.com/lowRISC/opentitan/blob/master/hw/top_earlgrey/sw/autogen/top_earlgrey.h#L1648).  All the IO interfaces basically have a reset because we are worried they can get stuck.

Most of the

[2022-09-14 17:11] #14922 closed

[2022-09-14 17:23] alphan commented on #14523
Hi @dmcardle can we close this?

[2022-09-14 17:24] alphan commented on #14353
Looks like this is a long-term enhancement, set to P3, M3. PLMK if you disagree.

[2022-09-14 17:25] eunchan commented on #14713
As dicussed in #14818 This is no longer an issue. `INT_STATE.error` clearing may indicate the error has been addressed to SW. Let me close.

[2022-09-14 17:25] #14713 closed

[2022-09-14 17:25] #13163 closed

[2022-09-14 17:26] tjaychen commented on #14114
i have something that is almost ready for this one. I'll just assign this issue to myself exclusively for now.

[2022-09-14 17:26] eunchan commented on #14902
We can close this.

[2022-09-14 17:26] #14902 closed

[2022-09-14 17:27] #899 closed

[2022-09-14 17:27] alphan commented on #14098
@dmcardle, now that #13804 is merged, can you take a stab at this? Thanks!

[2022-09-14 17:27] #10679 closed

[2022-09-14 17:28] #13012 closed

[2022-09-14 17:30] #13034 closed

[2022-09-14 17:30] weicaiyang commented on #2338
This is due to a tool limitation. It has been 2 years. I guess he simulator is probably fixed.
Closing this now. Feel free to reopen if there is more discussion on this.

[2022-09-14 17:30] #2338 closed

[2022-09-14 17:30] #13309 closed

[2022-09-14 17:32] alphan commented on #12739
Can we close this issue?

[2022-09-14 17:32] msfschaffner commented on #13926
We promoted the associated Xcelium warning to an error in https://github.com/lowRISC/opentitan/pull/14821 so we should be able to catch this now in CI.

[2022-09-14 17:32] #13926 closed

[2022-09-14 17:33] #13119 closed

[2022-09-14 17:35] alphan commented on #13251
@drewmacrae can we close this issue now or do you remember the name of the test?

[2022-09-14 17:36] #1476 closed

[2022-09-14 17:39] drewmacrae commented on #13251
It's been fixed

[2022-09-14 17:39] #12739 closed

[2022-09-14 18:11] cdgori commented on #14922
Tim didn't say it, but this (not having a module-level reset) is intentional, to mimimize the possibility of two blocks being in inconsistent states which can enable certain kinds of security issues due to violated interblock assumptions.

For IO interfaces we understand the (potential) need to get to a known-good-state and therefore support this.

[2022-09-14 18:14] drewmacrae commented on #14922
And UART doesn't have sufficiently durable state to merit it?

[2022-09-14 18:39] jdonjdon commented on #14140
@engdoreis
When you have a chance, can you checkout the [alert_info_test](https://github.com/lowRISC/opentitan/pull/14903)
I heard you might want to add more feature(https://github.com/lowRISC/opentitan/pull/14903#discussion_r969976669)

[2022-09-14 18:40] tjaychen commented on #14922
yeah there's a chance UART was missed because it was considered "simple" (ie, the track record of it getting stuck because of a bad host is lower).

But if we think it's important to have, we should probably file an issue for it.  The design change is trivial, but the verification will take a bit.

[2022-09-14 18:56] matutem opened #14923 "[flash_ctrl] Improve ICV"
We currently use truncated Hamming SECDED for flash integrity, but that is not necessarily good for integrity, since it can fail to detect multiple bit flips. We may want to use a different scheme with better guarantees. @jadephilipoom suggested we may consider https://sites.bu.edu/mark/files/2018/02/214.pdf since they claim better detection, and there may be other such schemes.

I am not suggesti

[2022-09-14 19:14] matutem opened #14925 "[rtl,prim_mubi4_sync] Relax transient SVA checks"
The prim_mubi4_sync module asserts the inputs and outputs must be valid mubi values. This is an overreach, and causes many tests to disable all such assertions when the behavior of non-mubi values are used, typically for sec_cm tests. An additional problem is that this module also asserts the output should not be 'X, which is a desirable check, but it becomes more difficult to only disable the cur

[2022-09-14 19:30] weicaiyang commented on #14914
Thanks @a-will for raising this.

I plan to add a minimum delay between 2 b2b flash transactions in the driver. Default is randomized between 1-100 cycles.

As discussed, since these are dedicated pins, we could exempt them from checking X. There is some value to have X when it's inactive, in case chip samples the X at that time.
Perhaps I can also add an assertion to check sio_en is 0 when CSB is

[2022-09-14 20:15] abdullahvarici commented on #14653
The test passes with 100% success rate with the current state of the design (commit no: 1b4bb0e07) with the build seed `528771580`. But I also checked latest nigthly regression failures and tried the build seed 2008576760 as the test was failing on [August 31](https://reports.opentitan.org/hw/top_earlgrey/dv/2022.08.31_16.44.30/report.html) with that seed. The root cause is found and an [issue](ht

[2022-09-14 21:04] msfschaffner commented on #14923
Thanks for the reference, @matutem / @jadephilipoom! This is really interesting!

Based on Tables 4/5 in the paper it looks like the Vasil'ev code could be a viable alternative for us since it appears to have much better detection performance (only looking at K_d since we only care about detection performance in our use case).

This is probably worth exploring a bit later down the road (once we hi

[2022-09-14 21:05] msfschaffner commented on #14923
CC @vogelpi @vrozic

[2022-09-14 21:13] drewmacrae opened #14930 "I2C dif doesn't control target device registers"
I2C dif doesn't appear to control the following registers that are all related to running in target device mode

[2022-09-14 21:14] drewmacrae opened #14931 "I2C dif doesn't support line loopback"
The i2c has a line loopback setting that can't currently be exercised with the dif
This is independent from #14930 because I'm not ready to fix it yet

[2022-09-14 21:25] drewmacrae commented on #14931
I'm not sure what the use case for this functionality is or how it works, so it's challenging for me to write code to exercise it.

[2022-09-14 22:40] senelson7 commented on #11489
I had code in a PR that forced the *->Error and *->Idle transitions but the consensus was it wasn't necessary just to get FSM transition coverage up. #14407 highlights this. Maybe this was just wrt reset and *->Error but I removed it all. Are you indicating you want the *->Idle due to not enabled to be put back? I probably had only done it for csrng so far but also planned to do it for edn.

[2022-09-14 23:34] martin-lueker commented on #11489
Hi @senelson7,
   My understanding was that there would be sim exclusions paired with formal approaches to close the gap, and these would be done consistently across all IPs.   My assumption though is that this is still pending.  (All: is this just a problem for CSRNG/EDN or are there other gaps as well?)
   Meanwhile, I take it as a really exciting sign that have just the FSM coverage left.   Thi

[2022-09-14 23:37] tjaychen commented on #14931
@drewmacrae sorry this part is a bit confusing.
As you says, almost none of our blocks (outside of maybe uart) supports a line loopback.

So this loopback is more of a device level loopback. I'm working on #14851 right now, which is the host equivalent of this test.

And the idea is basically the device needs to send i2c data out to "somewhere".  The somewhere then replays this data back to device

[2022-09-14 23:58] weicaiyang commented on #11489
For *-> error, we could keep idle -> error as the common sec_cm V2S test can cover it. And add exclusions for non-idle -> error.

#14407 only exclude transition that only happens on reset. So it does't exclude all *->idle, as some can be triggered by `enable=0`. If I recall correctly, you had a PR that forced FSM to any state and do a reset, in order to hit these transition, which seems a bit hack

[2022-09-15 00:01] sriyerg opened #14935 "[chip dv] Deprecate chip_common_plg::chip_io_e and chip_common_plg::chip_peripheral_e"
These enums are hand-written, which means it could go out of date if the design changes.

We ought to instead use `top_earlgrey_pkg::m|dio_pad_e` or autogenerate additional enums as needed.

[2022-09-15 00:01] weicaiyang commented on #11489
The DV portion in https://github.com/lowRISC/opentitan/issues/14407 is done. The transition that only happens on reset are automatically excluded now. It works for EDN. AES FSM coverage is improved to 90%+.

Indeed!

[2022-09-15 00:41] msfschaffner commented on #11489
The lint policy update in https://github.com/lowRISC/opentitan/issues/14407 is pending (we have to wait for an updated policy file bundled with the next AscentLint release from RealIntent). Meanwhile, I ran the new policy already locally and all FSMs in the entire chip conform.

[2022-09-15 00:45] msfschaffner commented on #11489
Hence it sounds like the only thing that we still need to do for EDN is covering functional arcs to IDLE that are not due to the reset. Would the suggestion from @weicaiyang RE programming `EDN_ENABLE=0` in the middle of ongoing operations work?

[2022-09-15 01:19] drewmacrae commented on #14931
In https://docs.opentitan.org/hw/ip/i2c/doc/#Reg_ctrl there's a reference to a i2c.ctrl.LLPBK bit that controls line loopback. I'm not currently planning to add it to the dif because I'm not sure when/why it might be set or read or what other concerns to have around it. I filed this issue to point to in a "FIXME" comment I wrote as I'm working on adding what I need to control the device to the I2C

[2022-09-15 02:23] senelson7 commented on #11489
Maybe, but it'll be totally random which state we are in when we disable. Maybe we can define what edn will be doing when it is disabled? If not, there are several cases to try to hit, i.e. no/some/all endpoints requesting, waiting for entropy, entropy delivered, etc. Same for csrng?

[2022-09-15 05:28] danielmlynek commented on #2338
That is true simulator was fixed

[2022-09-15 05:48] weicaiyang commented on #2338
Thanks for confirming

[2022-09-15 05:54] timothytrippel opened #14939 "[bazel] pin python packages to specific version"
To stabilize autogenerate Bazel airgapped images it is advantageous to pin the python packges to a specific version. This reduces the need to constantly generate new images.

[2022-09-15 05:57] weicaiyang opened #14940 "[spi_device] EN4B/EX4B may fail if the next item comes very shortly"
In this waveform, EX4B(E9) is received and cfg_addr_4b_en drops for a short period then asserts again without receiving a new command.

![Screen Shot 2022-09-14 at 10 50 47 PM](https://user-images.githubusercontent.com/49293026/190325000-92f70c4a-0e47-4c86-b43b-bc388588c7c3.png)

Looks like it's because the next command comes too quickly, `spi_csb_asserted_pulse_i` is asserted again but `spi_reg_c

[2022-09-15 06:12] a-will commented on #14940
Yup, you've got it. The minimum CSB inactive time is a necessary specification in the data sheet. Ours will need to cover the maximum propagation delay of changes like these.

[2022-09-15 06:34] sriyerg commented on #14918
@weicaiyang, FYI.

[2022-09-15 06:46] tjaychen commented on #14940
it looks like right now the 4b address enable stuff is maintained in both the `spi clock` domain and the `sys clock` domain.
so any updates from the spi side has to propagate to the `sys clock` side and come back in time in order for the value to be consistent (am i understanding this right?)

we could also consider just maintaining the control bit on `spi clock` domain only.  On the `sys clock` s

[2022-09-15 06:48] sriyerg commented on #12372
This should now be fixed with the revamped chip IO pinout connections. By default, NO functional interfaces are connected to the chip IOs. All chip IOs do have weak pulls in effect, via `chip_if.ios_if` interface, which can be disabled if required.

To connect UART0, invoke:
[code]

To connect the DFT straps, simply drive DFT straps to a known value in the DFT test sequence (UART0 should not be co

[2022-09-15 07:01] vrozic commented on #14923
Thanks, this is very interesting.
If I understand correctly, the main benefit would be that we reduce the number of miscorrected errors (e.g. a 3-bit error that is misinterpreted as a 1-bit error of a different word). I think that in the current implementation of `prim_secded_39_32_dec.sv` we don't have undetectable errors, i.e. everything that is not a valid code word triggers some error, it just

[2022-09-15 09:07] Jacob-Levy opened #14945 "[test-triage] Issues with ADC's chip_sw_adc_ctrl_sleep_debug_cable_wakeup"
### Test point name

[chip_sw_adc_ctrl_sleep_debug_cable_wakeup](https::// github.com/lowRISC/opentitan)

### Host side component

SystemVerilog

### OpenTitanTool infrastructure implemented

Unknown

### Contact person

Jacob-Levy

### Checklist

Please fill out this checklist as items are completed. Link to PRs and issues as appropriate.
- [ ] Check if existing test covers most or all of this te

[2022-09-15 09:08] engdoreis commented on #14140
@HU90m is working on it to add more feature from the point of view of `rv_core_ibex`, the issue #13218 and #13219 are tracking that.

[2022-09-15 09:09] Jacob-Levy commented on #14945
1.	Assert fail: HwIdSelCheck_A

"../src/lowrisc_prim_subreg_0/rtl/prim_reg_cdc_arb.sv", 169: tb.dut.top_earlgrey.u_adc_ctrl_aon.u_reg.u_adc_chn_val_0_cdc.u_arb.gen_wr_req.HwIdSelCheck_A: started at 18363300000ps failed at 18363300000ps
                Offending '$past(dst_update_i, 1)'
        UVM_ERROR @ 18363.300000 us: (prim_reg_cdc_arb.sv:169) [ASSERT FAILED] HwIdSelCheck_A
       "../src/lowr

[2022-09-15 10:12] sriyerg commented on #14921
Seems like a duplicate of https://github.com/lowRISC/opentitan/issues/10468.

[2022-09-15 12:33] alphan commented on #14908
What is the frequency of the PLIC clock in relation to the CPU clock? Also, what would the CPU read from PLIC registers immediately after clearing them? If 0, then this could be a guard condition at the start of ISRs.

[2022-09-15 12:49] alphan commented on #14867
Correct, flagged something similar [here](https://github.com/lowRISC/opentitan/pull/14577/files#r971919012) in the manufacturing test plan. bootstrap happens somewhat early in `rom.c` but still after `rom_start.S` so we will have limited capability to debug the ROM.

[2022-09-15 13:48] engdoreis commented on #14899
Command to reproduce.
[code]

[2022-09-15 14:13] jdonjdon commented on #14140
@engdoreis @tjaychen , that's good. Just to clarify, you are referring to crashdump from ibex, is that correct?

[2022-09-15 14:30] ctopal commented on #13329
Will be closed with https://github.com/lowRISC/opentitan/pull/14895

[2022-09-15 14:31] ctopal commented on #13964
Will be closed with https://github.com/lowRISC/opentitan/pull/14895

[2022-09-15 14:37] jdonjdon commented on #13891
With the latest update, I don't see this issue anymore.
Close for now.

[2022-09-15 14:37] #13891 closed

[2022-09-15 15:30] a-will commented on #14940
@tjaychen Whoops, I got some strategies mixed up. I agree that we ought to make these work like the busy bit. That means the important timing specs will be SCK-inactive-to-CSB-inactive and/or CSB-active-to-SCK-active probably. The former is for us to latch on CSB de-assertion.

All three will be things we need to get right, though :)

[2022-09-15 15:55] tjaychen commented on #12883
yep that sounds good! thanks for changing the title also to better reflect the issue.

[2022-09-15 16:10] msfschaffner commented on #14923
One thing to note is that we are not using ECC for error correction, but only detection in our system-wide integrity scheme.
That means that 3bit errors are actually not an issue since we're not correcting the data to a different word, but just detect the error and act on it via the alert system.

So one question is whether a different code would be better at detecting multibit errors with more th

[2022-09-15 16:22] engdoreis commented on #14899
A quick update, I discovered that an exception is happening inside this funciton when tested IP is the flash_ctrl just before the sv code triggers the fault.
[code]
![image](https://user-images.githubusercontent.com/65042207/190456619-bff5edb7-6f87-4743-a1fc-ac8d22f8d6e3.png)

[2022-09-15 16:23] engdoreis commented on #14899
@luismarques for visibility

[2022-09-15 16:46] a-will commented on #14940
Yeah, the address mode would be another to have the source-of-truth in the spi_clk domain (as with any other state that isn't protected by the busy bit). Just like the busy bit, software would have to send a change into an async FIFO, and spi_clk can pick it up during the command byte.

Generally-speaking, hardware would handle the addressing mode autonomously. Software would only get involved in

[2022-09-15 16:53] Jacob-Levy commented on #14945
@tjaychen  We are using open source chip-level tests as a starting point by adapting them to the NTIL chip-level extended environment.
For the 1st issue we failed on NTIL first and when we run the test on OS we noticed it failed the same way.

We might be missing the open source update that address the issue on the OS and on the NTIL.
Can you direct us to the update?

@ariel9678 Can you please sho

[2022-09-15 16:59] msfschaffner commented on #14908
It is running on the same clock as the CPU.
If you claim & complete an interrupt in the PLIC but the incoming interrupt signal is still asserted, then you would still read a non-zero interrupt ID in the PLIC CC0 register in the next cycle.

[2022-09-15 17:25] sriyerg commented on #12372
Closing this issue since it is adequately resolved. Feel free to reopen if needed.

[2022-09-15 17:25] #12372 closed

[2022-09-15 17:27] tjaychen commented on #14945
wait really? it failed in OS also? let me check that then. Maybe there's some corner case with the cdc reg handling that's not done.

for the assert, it would just be helpful to have something that isn't proprietary in the open that checks for interface expectations. That way we can help catch these things in the open and not let them fall onto you guys to debug only.

[2022-09-15 17:28] weicaiyang commented on #14918
SGTM

[2022-09-15 17:36] #14160 closed

[2022-09-15 17:39] drewmacrae opened #14949 "I2C may not respond properly to a repeated start condition"
When encountering repeated START conditions, the I2C device FSM (as drawn and implemented) appears to return to the idle state and doesn't prepare the device to listen for its address to be repeated and continue operating. The documentation also appears to show that after a repeated start condition the device is intended to stop listening for addresses which conflicts with the I2C spec for handlin

[2022-09-15 17:39] drewmacrae commented on #14949
I'll make sure the i2c_device test I'm working on hits this behavior to confirm/demonstrate the issue

[2022-09-15 17:42] jrvanwhy opened #14950 "[opentitantool] Move update-usr-access under the fpga command group."
In https://github.com/lowRISC/opentitan/pull/14830#discussion_r971974771, Alphan suggested moving the `update-usr-access` into the new `fpga` command group.

[2022-09-15 17:51] msfschaffner commented on #5305
Action items from the review:
- [ ] Move `clk_i` to the `powerup` clock in `rstmgr`
https://github.com/lowRISC/opentitan/blob/7d941705c42a8bec8f360f5468dd08e28a07d740/hw/top_earlgrey/data/top_earlgrey.hjson#L385-L388
- [ ] Move `pwm` to the `peri` clock group
https://github.com/lowRISC/opentitan/blob/7d941705c42a8bec8f360f5468dd08e28a07d740/hw/top_earlgrey/data/top_earlgrey.hjson#L466
- [ ] Move `

[2022-09-15 18:03] tjaychen commented on #14949
thanks @drewmacrae !

[2022-09-15 18:03] Jacob-Levy commented on #14945
@tjaychen We are using 2week old opentitan version. When did you incorporated the update?
In any case, I asked @sha-ron to move to the latest opentitan early next week.

[2022-09-15 18:07] tjaychen commented on #14931
thanks @drewmacrae ! I actually misread your original issue, i didn't even know we had a line loopback feature.
I think long term it would be good to test against an external DV agent though.

[2022-09-15 18:24] tjaychen commented on #14949
actually looking at this a bit more.
When we get a read, the sequence is something like..

START..ADDR.. R/W bit... ACK START... Data bytes STOP

If you follow the fsm diagram (and i think the implementation matches at a quick glance), upon the completion of the ADDR ACK, we are at the ADDR_ACK state at the top.  This state itself does not look at START / STOP, instead it just assumes the followin

[2022-09-15 18:24] #14841 closed

[2022-09-15 18:28] Jacob-Levy commented on #14945
@tjaychen I will check the local version for the `prim_reg_cdc_arb.sv` version.
Will also run the test on the latest OS version tomorrow.

[2022-09-15 18:32] eunchan opened #14953 "[test-triage] chip_sw_sleep_pin_mio_dio_val"
### Hierarchy of regression failure

Chip Level

### Failure Description

[code]

### Steps to Reproduce

- It in still WIP. Will be addressed when full test sequence is implemented.
- dvsim invocation command to reproduce the failure, inclusive of build and run seeds:
  ./util/dvsim/dvsim.py hw/top_earlgrey/dv/chip_sim_cfg.hjson -i {TEST_NAME}

Reference PR https://github.com/lowRISC/opentitan/pu

[2022-09-15 18:36] engdoreis commented on #14140
Yes, but it would also affect the test reffered in the [comment]( https://github.com/lowRISC/opentitan/pull/14903#discussion_r969976669). Thats why @tjaychen tagged me there.

[2022-09-15 18:39] a-will commented on #14949
The sequence that would fail is the typical addressable read case, where a write transaction gives the command / address, then a repeated start, then a read command to acquire the data.

So it looks like this:
- H: START
- H: Addr / Wr
- T: ACK
- At least once
   - H: Data
   - T: ACK
 - H: START (repeated)
 - H: Addr / Rd
 - T: ACK
 - Zero or more times
    - T: Data
    - H: ACK
 - T: Data (last

[2022-09-15 18:41] drewmacrae commented on #14949
I'd worry about using or relying on the sequence:
`START..ADDR.. R/W bit... ACK START... Data bytes STOP` as it might address another device if the Data matches its address.

[2022-09-15 18:49] drewmacrae commented on #14949
Figure 13. shows a repeated start https://www.nxp.com/docs/en/user-guide/UM10204.pdf that would return to idle when the address should be checked.

[2022-09-15 19:01] tjaychen commented on #14949
yep my bad, I got this confused in my head.
I was somehow only thinking about the latter half of this sequence, and also mistakenly assumed the repeated start was between the second "device address" and the data bytes return.

![image](https://user-images.githubusercontent.com/1026250/190487494-8c5e1e55-9c9d-460d-9269-5431809257f6.png)

[2022-09-15 19:03] cindychip opened #14954 "[lpg] hmac prim_alert_sender clock is off, but prim_alert_receiver clock is still on"
Hi Michael.

This issue is from @bilgiday test: https://github.com/lowRISC/opentitan/pull/14858

I dump the waves and found the following issue:
When using `clkmgr's` register `clk_hints` to turn off hmac clock, I saw that:
1). In hmac module, the clock is OFF, and prim_alert_sender clock is OFF.
2). In alert_handler, the prim_alert_receiver clock is still ON.

This creates a timeout for the ping

[2022-09-15 19:06] tjaychen commented on #14954
hmmm... but isn't the lpg supposed to address this? Ie the fact that hmac
clock is off via the hint should be passed over to the alert receiver?

On Thu, Sep 15, 2022 at 12:03 PM Cindy Chen ***@***.***>
wrote:

[2022-09-15 19:11] timothytrippel opened #14956 "[python] setup dependabot to automatically update python packages"
#14941 pinned python package versions. To address [this comment](https://github.com/lowRISC/opentitan/pull/14941#pullrequestreview-1109045714), we should aim for automatic package version updates to prevent painful upgrade processes in the future.

[2022-09-15 19:12] cindychip commented on #14954
Yes, I think the fact that HMAC'c clock is off should show that the clkmgr configures it correctly. So I wonder if LPG happened to put the receiver into a different group? And we did see some other connections are correct, like AES alert pairs.

[2022-09-15 19:12] tjaychen commented on #14954
o i see. That makes sense.

[2022-09-15 19:33] a-will commented on #14949
I feel like START and STOP are the highest priority events (other than an out-of-band reset). They probably ought to be automatic arrows to AddrRead and Idle, respectively. Then, what happens to the in-progress byte depends on which state we're leaving. For example, a START that is not in the appropriate place suggests a misbehaving or recently-online host causing bus contention in a multi-host en

[2022-09-15 19:50] Jacob-Levy commented on #14945
@tjaychen  The test was run by @ariel9678  on the latest version and PASSED.

So, we left with issue (2) that will be handled next week after we review all the check that was added in NTIL and are valid for the OS too.
We will also fix the configuration to avoid the ASSEET.

[2022-09-15 20:08] weicaiyang commented on #11489
These sound very interesting cases to hit. @martin-lueker may have better idea on what cases are good to test.

[2022-09-15 20:41] tjaychen commented on #14949
yeah agreed. I think there's some similar issue with this on the host side also, remember the glitch on`scl` i saw?
i'll bring that wave up again today and have a closer look. Maybe add to this issue.

[2022-09-15 21:44] cindychip commented on #14954
Also I wonder why this mapping does not have LPG group 7?

[2022-09-15 22:20] tjaychen opened #14961 "[i2c] scl glitch on start"
![image](https://user-images.githubusercontent.com/1026250/190518322-6e7d9d59-8c9d-4571-ab35-49f08fb448d6.png)

When an i2c transaction starts, the scl line glitches low for one cycle.
This is because on the way to "start" we always go through the ACTIVE state.  The ACTIVE state always drive scl low because it assumes it is a continuation of a previous command.

Specifically for IDLE then, we migh

[2022-09-15 22:55] #14939 closed

[2022-09-15 22:56] msfschaffner commented on #14954
There might be an issue in the LPG to alert channel assignment mapping logic.
I will take a look.

[2022-09-15 23:01] tjaychen commented on #14954
@msfschaffner i'm not sure what the most elegant fix is, I have a local trial in my area where in `merge.py` i check for the clock group being `trans` and handle it slightly differently. It feels like there should be a smarter way though... maybe in `clocks.py` we can associate each clock group with some kind of property and have this done automatically.

[2022-09-15 23:02] tjaychen commented on #14954
o damn..we actually do have a `unique` attribute. Let me give that a try.

[2022-09-15 23:03] msfschaffner commented on #14954
yeah I just saw this. all seem to map to LPG group 21 which is currently the AES transactional clock.

[2022-09-15 23:04] msfschaffner commented on #14954
I guess `unique` would have to be interpreted together with `sw_cg`?

[2022-09-15 23:07] tjaychen commented on #14954
yes it looks like it. Do you want to try a fix? I'm still trying to remember how the Clock class was constructed hehe

[2022-09-15 23:08] msfschaffner commented on #14954
yeah I can try to come up with something. still need to find the best place to insert this piece of logic.

[2022-09-15 23:19] msfschaffner commented on #14954
@cindychip @bilgiday this is actually exactly the type of errors we would like to find with this test. I would assume that this would also have been flagged with the correct timeout configuration (i.e., 256 cycles instead of 2)?

[2022-09-15 23:20] cindychip commented on #14954
Yes it should if we configure the timeout to be `256 cycles`, just take a little bit longer hehe.

[2022-09-15 23:34] weicaiyang commented on #14914
@a-will perhaps we can close this issue if https://github.com/lowRISC/opentitan/pull/14942 solves the problem

[2022-09-16 00:42] weicaiyang opened #14966 "[chip, dv] Incorrect recognized FSM"
This [module](https://github.com/lowRISC/opentitan/blob/master/hw/ip/prim/rtl/prim_max_tree.sv) has only combination logic. Not sure why VCS recognizes a FSM in this module and shows 0% FSM coverage in the report.

The coverage report for the upper module of the block can be found in this [link]
(https://reports.opentitan.org/hw/top_earlgrey/dv/latest/cov_report/mod657.html#inst_tag_35205), but if

[2022-09-16 02:15] tjaychen commented on #14163
it's really the same thing. The only difference is that we wanted random transition in and out of different sleep states.

[2022-09-16 04:38] tjaychen commented on #14114
test can be further enhanced, but for now the basics are done.

[2022-09-16 04:39] tjaychen commented on #14104
test can be further enhanced, but for now, the basics are done.

[2022-09-16 05:03] tjaychen commented on #14104
even though the test is done, it should be enhanced for a couple of things.
- [ ] allow randomization of which i2c unit / agent in each test
- [ ] enhance the i2c test to check change of direction in a single transaction. See #14949 for a problem observed in target mode. We should check that host mode does not have similar issues.

[2022-09-16 05:54] tjaychen opened #14969 "[spi_host] output line during RX only segments"
It appears that when the spi_host is configured for an RX only segment, its TX line (this is a standard single lane scenario) may just toggle garbage.

In `spi_host_tx_rx_test`, the test transmits 4 bytes, does 60 bytes of TX/RX, and then finally 4 bytes of RX.
During the final 4 bytes of receive, the TX line appears to just shift a combination of what was already in the shift register plus new bi

[2022-09-16 05:54] tjaychen commented on #14969
@a-will
@cfrantz
@martin-lueker

[2022-09-16 13:01] johannheyszl commented on #10323
IMHO, if the attacker is successful to execute a modified ROM, such that the digest which is computed before actual execution by rom_ctrl is different, everything after this will be sufficiently compromised, and this additional check is more on the nice to have side but would introduce complexity . Suggest to skip this and resolve

[2022-09-16 13:46] bilgiday commented on #14954
Thanks @cindychip, @msfschaffner, @tjaychen  for quickly identifying and solving the issue :)

[2022-09-16 14:04] ctopal opened #14973 "[otbn,fcov] Attempt RW access with TL bus at extreme Scratchpad addresses."
Our scratchpad covergroup is not getting hit because we do not try to read/write to extreme scratchpad addresses from TL-UL bus. For seeing the coverage hole: [scratchpad_writes_cg](https://reports.opentitan.org/hw/ip/otbn/dv/uvm/latest/cov_report/grp73.html)

[2022-09-16 14:07] ctopal opened #14974 "[otbn,dv] Modelled RMA request behaviour is not matching vs RTL"
Failures in `otbn_escalate` test comes from RMA request causing state change earlier in ISS than RTL. Also, it does not change the error bus which actually needs to be pointing at `bad_internal_state` error.

[2022-09-16 14:59] dmcardle commented on #14098
Sorry, this has really been on the back burner but it is something I still want to do.

[2022-09-16 15:07] abdullahvarici commented on #14840
Root cause found. The bug fixed and tested OK. PR#14976 opened.

[2022-09-16 15:09] dmcardle commented on #14523
I consider this partially done by #13813, which updated the [FPGA Reference Manual](https://docs.opentitan.org/doc/rm/ref_manual_fpga/).

Before closing, I think we should update the manual to explicitly mention `--define bitstream=`, rather than expecting folks to find the big comment in [hw/bitstream/BUILD](https://github.com/lowRISC/opentitan/blob/master/hw/bitstream/BUILD).

[2022-09-16 16:40] #14954 closed

[2022-09-16 16:41] cindychip commented on #14954
Thanks to your testcase! I would not be able to dump the waves without it！

[2022-09-16 16:52] tjaychen commented on #10323
I think this came up much later after the original discussion.
But @moidx is considering adding a kind of keymgr known answer test early in the flow.

This would effectively check that all the diversification constants, digests etc done early in flow are smoke checked before the device continues normal operation, and i think would cover the suggestion that @rswarbrick made here indirectly.

[2022-09-16 17:01] eunchan commented on #14163
Hum, then I can modify prev. test to enter in/out from low/ deep power down states randomly (it is already TODO in the code)

[2022-09-16 17:19] dmcardle opened #14978 "OpenOCD hits timeout when setting pmpcfg3 register"
For #14343, we'd like to be able to configure the PMP via GDB. At a high level, GDB talks to OpenOCD, which talks to the debug module via JTAG.

For some reason, Attempting to set `pmpcfg[0-3]` generates "waiting for busy to go low" warnings.

This is OpenOCD's debug output corresponding to `reg pmpcfg3 0x9f000000`, which attempts to set `pmpcfg3`.

[code]

For contrast, this is the output from `r

[2022-09-16 17:20] tjaychen commented on #14163
yeah definitely. Then a single test can cover both test points.

[2022-09-16 17:25] jeoongp commented on #14116
This test was developed and is under review in https://github.com/lowRISC/opentitan/pull/14970.

[2022-09-16 17:26] jeoongp commented on #14119
This test was developed and is under review in https://github.com/lowRISC/opentitan/pull/14970.

[2022-09-16 17:27] tjaychen commented on #14978
huh... i have a dumb question..going to need to examine the code a bit.. but is register...`931` actually correct?

[2022-09-16 17:34] eunchan commented on #14352
`chip_sw_sleep_pin_mio_dio_val` covers this test. Let me assign this to me and revise testplan to point to the `sleep_pin_mio_dio_val` test after it is implemented.

[2022-09-16 17:37] dmcardle commented on #14978
Yeah, it's 0x3a3 (= 931) according to RISC-V Privileged Architectures V1.10.

[2022-09-16 17:38] #10712 closed

[2022-09-16 18:07] tjaychen commented on #14978
sounds good, let me poke around.

[2022-09-16 19:31] tjaychen commented on #14978
does accesses to `a1` work for you? it looks like the `dm_mem` special cases writes to `a0`, but most of the others should be the same..

[2022-09-16 19:33] jeoongp commented on #14126
@bilgiday thanks! Can you provide a command to run observation 3 on FPGA and Verilator?

[2022-09-16 19:50] dmcardle commented on #14978
Yeah, setting `a1` works fine.

[code]

 I've been cross-referencing the codegen in [`dm_mem.sv`](https://cs.opensource.google/opentitan/opentitan/+/master:hw/vendor/pulp_riscv_dbg/src/dm_mem.sv;l=387-395;drc=eef49a584162a29737680efa7101b19c63f8fb88) hoping to find a CSR-specific mistake, but no luck so far.

[2022-09-16 20:27] msfschaffner commented on #14781
This is working in the nightlies now.

[2022-09-16 20:27] #14781 closed

[2022-09-16 20:50] msfschaffner commented on #14139
This is related to #14169.

[2022-09-16 21:04] dmcardle commented on #14978
Bizarrely, I've found that setting `pmpcfg0`, `pmpcfg1`, and `pmpcfg2` just works. I tried setting `pmpcfg0` to both zero and non-zero values and it does not result in timeout.

[code]

[2022-09-16 21:39] tjaychen commented on #14978
are we sure `pmpcfg3` works from the perspective of ibex in general?
btw, do you happen to have the full openocd log for `pmpcfg0~2`?  Just wanted to see the full command.

[2022-09-16 21:54] tjaychen commented on #14978
alright! i think i've finally reproduced this in simulation!
time for a deep dive! please hold :)

[2022-09-16 22:01] #14673 closed

[2022-09-16 22:13] tjaychen commented on #14978
just to double check, i'm just kind of blindly copying here, but is the value 0x9f000000 what we want?

[2022-09-16 22:28] tjaychen commented on #14978
okay coming back to this, i think i might need some more details.
I was able to reproduce it, but that was more of a fluke. What happened was that I programmed some random value into `pmpcfg3`, and that caused an instruction fetch error, which killed everything because the debug rom doesn't have the ability to handle exceptions very cleanly.

but when i switched it to your value, everything worked

[2022-09-16 22:30] tjaychen commented on #14978
ah i should also mention my sim is done using test_rom, which prior to this point, actually goes in and makes region 15 basically the entire address space and fully executable.  So there's very little I could do to actually "break" that.

[2022-09-16 22:48] eunchan opened #14986 "[chip] Re-organize ios_if index and MIO/DIO indexes"
Related PR #14985

Currently, PINs in `chip_if` does not distinguish the PAD types (MIO/DIO). All pads are in a [`ios_if` array](https://cs.opensource.google/opentitan/opentitan/+/master:hw/top_earlgrey/dv/env/chip_if.sv;l=88?q=chip_if.sv&ss=opentitan%2Fopentitan).

In SW, PINMUX configs are based on MIO/DIOs. The mapping information is not given in SV packages yet. PR #14985 manually added the ma

[2022-09-16 23:01] alphan opened #14987 "[test] Consider adding a random increment function to testutils"
should we make this part of the testutil? `random` increment?

_Originally posted by @tjaychen in https://github.com/lowRISC/opentitan/pull/14896#discussion_r973490391_

[2022-09-16 23:11] #14828 closed

[2022-09-17 04:48] martin-lueker commented on #14969
Hi Tim,
    The current implementation was inspired by a lot of daisy chain devices, which shift the most recent input to output on continued input pulses.  The first device repeats it's input to the output, which goes to a second etc.   Though this is not useful for SPI flash, it is common for some other types of SPI devices.
  If this is a concern, it shouldn't be too hard to just load the SR wi

[2022-09-17 04:51] tjaychen commented on #14969
yeah that's what i was thinking. We would just load it up with "silent" data.
I think the suggestion was made though was that we should actually disconnect from the line and not drive it at all.

I'm not sure given how much else we have to do this has to be fixed now.

[2022-09-17 09:14] tjaychen opened #14990 "[i2c/dv] i2c_rx_tx_vseq lockup"
the `i2c_rx_tx_vseq` forks two threads. One thread issues i2c host transactions, while the other thread reads back expected data.
The two threads can get out of sync (specifically, the receive FIFO is not empty, but somehow the expected_item queue maintained on the host side is empty. likely there is a bug in the read data count or the queue creation).

When that happens the `rdata` handling block

[2022-09-17 09:18] moidx commented on #14134
Increased test timeout in https://github.com/lowRISC/opentitan/pull/14929.

[2022-09-17 09:18] #14134 closed

[2022-09-17 13:38] alphan commented on #14978
Yeah, I couldn't look into this in detail yet, but could be an ordering issue like @tjaychen suggests depending on when this command is executed. The sequence [here](https://docs.google.com/document/d/1i6V3tFTv0UhWeM-IGCxgxkC07Bo_zpbgr6u1KE1Rehs/edit?resourcekey=0-L-XaP9QeLAkEsp8najVkUQ#heading=h.m4f6p97t15j8) should work -- but assuming the ePMP config is at its reset values, i.e. we do this at t

[2022-09-18 12:52] johannheyszl commented on #10323
Thanks @tjaychen. I believe the respective issue could be [#6546](https://github.com/lowRISC/opentitan/issues/6546)?
I agreea known answer test for keymgr would serve the same purpose.
However, compromised SW could circumvent the check similarly.
Nonetheless the known answer seems very useful to me since it would not only protect against compromised SW but also against some physical attacks, with

[2022-09-19 03:49] jeoongp commented on #14126
I modified PING_CNT_DW to 4 and ran the below command in #14858.
./util/dvsim/dvsim.py ./hw/top_earlgrey/dv/chip_sim_cfg.hjson -i chip_sw_alert_handler_lpg_clkoff

Errors occurred as follows.
UVM_ERROR @ 12118.828277 us: (chip_sw_base_vseq.sv:223) uvm_test_top.env.virtual_sequencer [uvm_test_top.env.virtual_sequencer.chip_sw_base_vseq] SW TEST TIMED OUT. STATE: SwTestStatusInTest, TIMEOUT = 120000

[2022-09-19 12:42] alphan commented on #14482
@milesdai I'm changing the status of this issue from blocked to in progress since #14862 is merged now. Please feel free to reach out if you have any questions.

[2022-09-19 12:44] alphan commented on #14271
@milesdai you might want to start working on this before #14482 since this doesn't require correct alert config checksum values in OTP.

[2022-09-19 12:48] alphan commented on #14499
@jon-flatley I think this would be a good issue to work on next since it checks the alert handler config values that you handled in #14368.

[2022-09-19 12:51] alphan commented on #14485
@dmcardle this can be a good issue to work on once you are done with the ones on your plate.

[2022-09-19 12:54] alphan commented on #10323
@tjaychen I think I need more context on this one. Would you mind pinging me when you have a free moment to chat about this offline?

[2022-09-19 13:18] ctopal opened #14995 "[otbn] RMA causes `LOCKED` Status, intended?"
In the case of receiving RMA request, OTBN technical specification mentions a secure wipe happening but it does not mention the end state of the module. Currently even if we don't see an error, we end up in `StatusLocked` as a result of RMA request being considered a fatal error in otbn_controller.

Is this behaviour wanted? Because as far as I understand that means OTBN will not be responsive in

[2022-09-19 13:37] ctopal commented on #14974
Turns out the problem is not related with the actual RMA entry case but how we handle non-valid `lc_tx_t` signals. This is also the case for `lc_escalate_en_i` but we currently consider any signal value that is not `Off` as an escalate signal there. So, behaviour wise it is not different (`err_bits` mismatch might happen because an invalid `lc_escalate_en_i` would set `bad_internal_state` and `lif

[2022-09-19 14:04] alphan opened #14996 "Consider adding a glossary to the docs"

[2022-09-19 14:07] dmcardle commented on #14996
For starters:

* BFV: Boot fault value.
* LCV: Life cycle value.

[2022-09-19 14:39] dmcardle commented on #14978
I think so, because we use it in [test_rom_start.S](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/lib/testing/test_rom/test_rom_start.S;l=206-212;drc=43dd4db845cf0506adf26037ff4cdfef5ad105d5).

I attached an OpenOCD log to the first comment, but I just realized it's nearly invisible due to formatting. Here's the link. https://github.com/lowRISC/opentitan/files/9585900/openocd

[2022-09-19 14:43] dmcardle commented on #14978
I don't see anything in the RISC-V debug spec[^0] mentioning this particular footgun. Would it be reasonable to disable the PMP when we're in Debug Mode?

[^0]: https://riscv.org/wp-content/uploads/2019/03/riscv-debug-release.pdf

[2022-09-19 14:47] dmcardle commented on #14978
I suppose as a workaround we should try reusing region 13 rather than obliterating it and trying to non-atomically set up region 15.

[2022-09-19 15:30] dmcardle commented on #14978
Success!

I was able to execute the example SRAM program by preserving the existing values of the pmpcfg registers, only bitwise-oring values in.

The default values of pmpcfg registers are:

[code]

And I'm changing them to:
[code]

The effect is that I'm setting `pmp0cfg` to 0x9f = 0b10011111 (L=1, A=3=NAPOT, X=1, W=1, R=1). This is the lowest-numbered entry, so it happily has the highest priori

[2022-09-19 15:55] eunchan commented on #14940
Revising the address mode updating scheme same to the BUSY is okay to me. But, i am sure we shall spec out our minimum CSb de-assertion time in the datasheet. So the importance of the resolution is low in my opinion.

I am leaning toward to tag this as "Future Release". WDYT?

[2022-09-19 15:59] eunchan commented on #14666
In the current design, filter CSRs are almost useless. The passthrough logic filters commands if they are not in the CMD_INFO entries. So, filtering only affects if the command is in CMD_INFO and valid bit is set AND filter bit in FILTER CSR is set.

I think it is better to move the filter into CMD_INFO entry and remove 256 bit CSR.

[2022-09-19 16:22] a-will commented on #14940
Given that this device might be hooked up to some rather inflexible controllers for initial firmware load, it might behoove us to avoid having an overly large value for the spec, though. A random sampling of parts shows a minimum de-assertion time of 30-50 ns for non-read commands.

At least, if we want to push this off, we should probably check with our lead users and see if the value would preve

[2022-09-19 16:24] tjaychen commented on #14978
sorry for the late reply! time zone differences, but yep!
and to your point, i think we should probably file an issue with the ibex folks to ask this point be clarified.

I'm not sure making abstract command handling through the program buffer is actually something that's generally intended. That might have been an implementation specific choice to serialize things all into one place.

Glad to hea

[2022-09-19 16:26] tjaychen commented on #14978
it's also worth considering as you say, disabling pmp during debug mode. But the only reason why you "might" not want to do that by default is because then the normal execution behavior and the debug execution behavior will diverge. So if you are using debug mode to track down an error in software due to misconfigured pmps, it might be hard to do so.

I would definitely raise this in an issue with

[2022-09-19 16:29] dmcardle commented on #14978
Absolutely, I will make sure to explain this in depth near the part of the GDB script that configures the PMP.

Agreed, this feels like a leaky abstraction.

Thanks for all your help, @tjaychen!

[2022-09-19 16:36] a-will commented on #14666
@eunchan If the absence of a CMD_INFO entry would imply filtering the command, is there any need for the filtering bits at all?

[2022-09-19 16:38] eunchan commented on #14666
One possible case is the command is being processed in flash mode but filtered out on passthrough.

[2022-09-19 16:41] eunchan commented on #14666
I checked multiple times with teams. They were OK with 16 command slots. 8 more entries are for safe margin in any cases more than 16 commands are needed.

[2022-09-19 16:41] tjaychen commented on #14940
could we find out what the minimum de-assertion time for us is first?
Because I think we'll need to try to match this up with host behaviors.  I
have vague memories that being close to 100ns "could" become problematic in
certain situations.

On Mon, Sep 19, 2022 at 9:23 AM Alex Williams ***@***.***>
wrote:

[2022-09-19 18:29] eunchan commented on #14793
Filter CSRs are static. SW can configure this prior to Passthrough enable bit.

[2022-09-19 18:35] eunchan commented on #14791
Intercept en is also static, I assume. However, as mentioned in #14665, host system may access device prior to configuration.

[2022-09-19 19:18] jeoongp commented on #14793
Thanks

[2022-09-19 19:18] jeoongp commented on #14791
Thanks for clarifying

[2022-09-19 19:40] cindychip opened #15002 "[kmac] Inject mubi error in sha3_done, but it disabled hash_cnt"
Hi Eunchan,

I injected some random values for `sha3_done` mubi signal, and found that it stopped the `hash_cnt`.
The RTL code did generate a `Sha3SwControl` error, but this error did not trigger alert or stopped any current KMAC operation.

Here is the sequence:
1). Configure KMAC to run a KMAC operation with masking enabled, and kmac enabled.
2). Deposit the `sha3_done` value to random values. -

[2022-09-19 19:56] tjaychen opened #15003 "[i2c] Output clocks unflopped"
The i2c output clocks `scl` right now mostly depends on what the current state is with [one exception](https://github.com/lowRISC/opentitan/blob/b2267c8b3b30662107ce189ce6455973fe766034/hw/ip/i2c/rtl/i2c_fsm.sv#L577-L578).

Overall this means the value of the clock is dependent on logic decode and can result in momentary glitches.

This sometimes leads to failures in the `i2c_host_rx_tx` test sinc

[2022-09-19 20:22] cindychip commented on #14850
I have not seen this issue since 9/12, and before 9/12 there was some pinmux issue that causes the test to fail.
I will monitor it until the end of this week, if still did not see any failure, I will close it.

[2022-09-19 20:24] eunchan opened #15006 "[chip_if] tap_strap_if.pins as high-Z makes IOs unknown."
chip_if adds muxes to MIOs for JTAG interface. `__enable_jtag` becomes high-Z when `tap_straps_if` is disconnected.

<img width="1804" alt="image" src="https://user-images.githubusercontent.com/1192814/191109506-da4fdcd0-004a-4a38-aaad-3fa42c35f7da.png">

The tap_strap_if pins are also connected to IOC5, IOC8 MIOs.

[2022-09-19 20:29] milesdai opened #15007 "[release] Add Bazel release process to CI"
#13894 and #13899 introduce a Bazel mechanism to create a release archive and post that archive to Github as an official release. We would like to use this feature in CI to create a regular release.

In our current CI setup, the artifacts to be included in the release are generated on separate runners. We don't currently have a good way to share these artifacts between agents in a way that Bazel r

[2022-09-19 21:27] rnongie opened #15009 "[dvsim] Dashboard Includes Testpoints Without "dv" Tag"
Expected behavior was that dashboard [CHIP Simulation Results](https://reports.opentitan.org/hw/top_earlgrey/dv/latest/report.html) **_only_ includes testpoints**, in testplan HJSON file, **with "dv" tag**.  This does not appear to be the case (see example below)

Please help to investigate and debug this issue - accurate tracking of the M2 top-level test progress relies on this dashboard.

<br>

[2022-09-19 22:18] tjaychen commented on #15006
yeah this one is a bit problematic.
we can't really rely on the pins directly for tap strap validity. It should be a combination of life cycle states, only tap-strap0 is more or less dedicated in function.

[2022-09-19 22:23] eunchan commented on #15006
Yup... I could not think of nice solution here as I do not know the details of the chip interface. So I just skip those pins from testing candidate.

[2022-09-19 22:29] eunchan opened #15012 "[chip_if] ext_clk_if set_active() cannot be called at t !=0"
Related PR #14983

ext_clk_if.set_active(0,0) cannot be called if the time is not 0.

[2022-09-20 00:03] weicaiyang commented on #15006
should we just decouple `__enable_jtag` with `tap_straps_if.pins`, and let user decide to connect the jtag or not, like this?

[code]

[2022-09-20 00:16] eunchan commented on #15006
So, the assumption is, always TB decides the JTAG connection (by driving IOC5, IOC8)? Then adding bit seems to be good.

[2022-09-20 00:30] weicaiyang commented on #15006
yes, TB needs to decide that.

[2022-09-20 00:59] sriyerg commented on #15012
Fixed in #15016.

[2022-09-20 01:12] sriyerg commented on #15006
IMO setting the TAP straps should be enough intent to enable JTAG. I have fixed this in #15017.

[2022-09-20 01:15] sriyerg commented on #14990
Do you mean the `i2c_base_seq` in the I2C agent area?

[2022-09-20 01:25] sriyerg commented on #14966
FYI, the report link appears to be broken.

[2022-09-20 01:46] sriyerg commented on #15009
To achieve this, we need to:

- [ ] Explicitly tag testpoints with "dv"
- [ ] Update `chip_sim_cfg.hjson` to include only the tests with `dv` tag

We were not explicitly tagging tests with dv because the motivation was for dv to be a superset. We also need to be careful when adding new testpoints to the testplan - if we miss adding the `dv` tag, it wont show up anywhere.

[2022-09-20 02:13] tjaychen commented on #14990
no, it's the scoreboard itself. There's a section handling the format byte that sets the expected data, and a section handling read data that has a wait statement in there.  When this thing dies, the wait statement is just stuck, so no further tlul elements are processed.  That eventually causes the mirror values to go off the rails.

The read is preceded by an empty check, so it's doing what it's

[2022-09-20 03:17] a-will commented on #14914
It does. Thanks!

[2022-09-20 03:17] #14914 closed

[2022-09-20 06:21] #15012 closed

[2022-09-20 06:25] weicaiyang commented on #14966
oh, I shouldn't use the latest link. Changed to a fixed date report

[2022-09-20 07:18] twilfredo opened #15019 "[Tock OS/Test Rom] Entry point with an absolute address / load error"
Hey!

I'm trying to get Tock OS working on the latest master of OpenTitan. However, I've come across  this issue where at this point of the test_rom

https://github.com/lowRISC/opentitan/blob/b05a44082aadb68759622caa3d819296a9327042/sw/device/lib/testing/test_rom/test_rom.c#L142

 we return `manifest + manifest->entry_point`.

When Tock is built, it has an absolute address for the entry point, so

[2022-09-20 13:02] alphan commented on #10323
Thanks for explaining the KAT idea @tjaychen. Adding the link to the [doc](https://docs.google.com/document/d/1J9gHd5Cb1xoauAp_JbyETdSF6EcECoFY7XtcLo_INQk/edit?resourcekey=0-pS5I-HJawffYP6A9SUr_dA) that I shared earlier in case we want to pursue it further.

[2022-09-20 13:07] drewmacrae commented on #14931
It looks like it configures the block to have data as if it's getting it on the active function (host or device) and to write data it's previously received either as writes or responses. My mental model of it is shaky so far. @a-will pointed out that the I2C block might be used as both host and target simultaneously, and I think I can see how something like this might be useful to bring up a bus d

[2022-09-20 16:58] #14144 closed

[2022-09-20 17:11] rnongie commented on #15009
Hello Sri, through my discussions with TimT and TimC, we had assumed the regression _intended to_ filter for `dv` tag (but missed doing so).  However, it seems from your comment that this was _not the original intention_ as [chip_testplan.hjson](https://github.com/lowRISC/opentitan/blob/master/hw/top_earlgrey/data/chip_testplan.hjson) does not currently contain the `dv` tag

So before asking you t

[2022-09-20 17:14] cdgori commented on #14611
@tjaychen asked me to take a look at this as well.  I know we just spoke about it on the silicon call.

100% agree that it should be a fixed-value return rather than last-read value, that change has to happen.

As far as integrity-good or integrity-bad for the response, I am slightly in favor of integrity-good, for the case 2 mentioned by @weicaiyang above - we effectively get more distributed gli

[2022-09-20 17:28] #14784 closed

[2022-09-20 17:34] tjaychen commented on #15009
yeah i think i agree with @rnongie on his last option.
I think it is safe for us to assume that everything under `top_earlgrey/dv/blah` should be natively opt-in, whereas tests in other hjsons (`rom_e2e`, potentially `manufacturing`) should be opt-out unless otherwise specified.

Would that be more reasonable @sriyerg ?

[2022-09-20 17:49] #15006 closed

[2022-09-20 18:02] GregAC commented on #14611
@cdgori The outcome from the silicon meeting was that we should give a fixed-value with integrity good. @weicaiyang believes this is already done within the TL fabric (it's not last value read as I postulated) but I think it'd be good to positively identify where within the RTL this happens as I didn't see it myself when I did a cursory check.

This was chosen as it's thought this is what is alrea

[2022-09-20 18:04] weicaiyang commented on #14207
Fixed via [#14885](https://github.com/lowRISC/opentitan/pull/14885).

[2022-09-20 18:24] weicaiyang commented on #14676
error message is changed to `  UVM_ERROR @ 2836.217419 us: (chip_if.sv:124) [tb.dut.chip_if] Detected an X on IoR3
`

May relate to recent TB IO update. I will take a look

[2022-09-20 18:33] weicaiyang opened #15026 "[test-triage] chip_sw_lc_ctrl_transition"
### Hierarchy of regression failure

Chip Level

### Failure Description

The test chip_sw_clkmgr_external_clk_src_for_lc has a similar error message (bold the difference)

### Steps to Reproduce

- GitHub Revision: [eaa243085](https://github.com/lowrisc/opentitan/tree/eaa2430855297f50971c1fefe4d03e14a0febc60)
- dvsim invocation command to reproduce the failure, inclusive of build and run seeds:

[2022-09-20 18:38] sriyerg commented on #15009
I was under the impression that we would tag the remaining rom e2e tests as V3 so that we dont have to track them for m2. I dont know what you all decided, but choosing upfront to not run all rom e2e tests in dv sounds like a bad idea.

In any case, the `nodv` tagging is currently already supported and will make the intent clear.

[2022-09-20 18:50] weicaiyang opened #15027 "[test-triage] chip_csr_bit_bash"
### Hierarchy of regression failure

Chip Level

### Failure Description

  UVM_ERROR @ 7357.641568 us: (csr_utils_pkg.sv:435) [csr_utils::csr_rd_check] Check failed obs == exp (4294901760 [0xffff0000] vs 4294967295 [0xffffffff]) Regname: chip_reg_block.entropy_src.extht_lo_watermarks Wrote chip_reg_block.entropy_src.extht_lo_watermarks[0]: 0

### Steps to Reproduce

- GitHub Revision: [eaa243085]

[2022-09-20 18:53] weicaiyang commented on #14899
@engdoreis did you investigate for this error message? The build error is gone now.

[2022-09-20 18:53] dmcardle opened #15028 "Investigate logging and replaying OpenOCD-generated JTAG commands for DV tests"
This idea of replaying a JTAG transcript definitely seems plausible, but there's a few things to sort out first:

* [x] Is this an M2 task? I've tentatively filed it as one.
* [ ] Is JTAG is a replayable protocol? Are there any negotiations that occur? For instance, I believe OpenOCD can automatically determine the JTAG clock speed, so we'd want to make sure to use a fixed clock speed.
* [ ] How c

[2022-09-20 18:54] rnongie commented on #15009
_Alphan or TimT may be able to explain better, but this is what I understand -_

Alphan and team plan to **complete _all_ ROM E2E tests in `rom_e2e_testplan.hjson` for M2 _on the FPGA._**  Therefore the tests are appropriately labeled as `V2` in the file.  (it would be misleading to relabel them as `V3` simply for the dashboard; this labeling decision only came up on Friday 9/16)

**Only 7 of thes

[2022-09-20 19:00] weicaiyang commented on #14843
Closing this one as it's passing on the last 6 nightly

[2022-09-20 19:08] weicaiyang opened #15029 "[test-triage] chip_sw_alert_test"
### Hierarchy of regression failure

Chip Level

### Failure Description

  UVM_ERROR @ 3371.559689 us: (cip_base_scoreboard.sv:200) uvm_test_top.env.scoreboard [uvm_test_top.env.scoreboard] alert lc_ctrl_fatal_prog_error has unexpected alert ping response

### Steps to Reproduce

- GitHub Revision: [eaa243085](https://github.com/lowrisc/opentitan/tree/eaa2430855297f50971c1fefe4d03e14a0febc60)
- d

[2022-09-20 19:09] tjaychen commented on #15028
ah @dmcardle just to chime in a bit here.
I don't think we need to go to the level of JTAG.
I think rather, like when we debugged the openocd / pmpcfg3 issue, we just need the information about what data openocd is trying to program where.

We already know it for register access for example, so now we just need to figure out for things like stepping, jumping the PC to sram etc. Once we have that i

[2022-09-20 19:10] tjaychen commented on #15028
the openocd log to dmi operations i think is close to what i'm describing right? just to make sure i understand.
and if that's the case, i think this would definitely fall into M2, since we have several dv scenarios that are dependent on this.

[2022-09-20 19:12] dmcardle commented on #15028
Oh great, I think you want the DMI transcript rather than a JTAG transcript.

[2022-09-20 19:17] weicaiyang commented on #14679
This test has been passing on many nightly.
But it's an unmapped test. Can @alphan or @timothytrippel add a testplan for this test? Then, we can close this issue.

[2022-09-20 19:19] tjaychen commented on #15028
i think so. Does that make sense to you? Based on our debugging for pmpcfg3, i think that should actually work quite well.
This way you also don't need to worry about the nitty gritty jtag details.

[2022-09-20 19:25] engdoreis commented on #14899
Yes, exactly this error.

[2022-09-20 19:30] weicaiyang commented on #14898
This failed on Sep 12, but passed from Sep 13-20. Perhaps we close it @engdoreis

[2022-09-20 19:41] weicaiyang commented on #14899
Thanks @engdoreis. Let me reassign to @matutem to fix it.

[2022-09-20 19:54] tjaychen commented on #14945
@Jacob-Levy assigning to you for now. Once you guys update, let me know and I can have a look.

[2022-09-20 20:15] #13202 closed

[2022-09-20 21:02] tjaychen commented on #14542
just wanted to circle back on this one. I can help take a look too if we've decided go this direction.
I can help with the dif changes etc as they are needed.

[2022-09-20 21:03] tjaychen commented on #14143
#14984 consolidated this test point with another. So this issue is no longer required.

[2022-09-20 21:03] #14143 closed

[2022-09-20 21:05] tjaychen commented on #12889
let's close this for now. We can re-open this if needed.

[2022-09-20 21:05] #12889 closed

[2022-09-20 21:07] tjaychen commented on #9315
@zi-v
i believe this issue is now resolved with `ROM_EXEC_EN`. The idea is that until calibration (of various things), we will not enable ROM to execute or boot strap in general.

This removes the need to have ROM support boot strap using external clock.

@alphan, let me know if you agree, if yes we can probably just close this issue.

[2022-09-20 21:09] tjaychen commented on #9295
i think the original spirit of this issue has been addressed.
I don't think we really intend to have an option to skip entropy consumption and memory scrambling at this point.

We should probably close this issue if we agree that's the path we are taking.

[2022-09-20 21:11] tjaychen commented on #12284
this issue has been addressed by #13950 .
@jeoongp if you agree, can you close this issue?

[2022-09-20 21:17] tjaychen opened #15033 "[chip-test] chip_lc_strap"
### Test point name

[chip_lc_strap](https://github.com/lowRISC/opentitan/blob/1f3a24718d33c975f12f902994c39d2497b8623e/hw/top_earlgrey/data/chip_testplan.hjson#L3013)

### Host side component

SystemVerilog+Rust

### OpenTitanTool infrastructure implemented

Unknown

### Contact person

@cindychip

### Checklist

Please fill out this checklist as items are completed. Link to PRs and issues as app

[2022-09-20 21:18] tjaychen opened #15034 "[chip-test] chip_sw_exit_test_locked"
### Test point name

[chip_sw_exit_test_locked](https://github.com/lowRISC/opentitan/blob/1f3a24718d33c975f12f902994c39d2497b8623e/hw/top_earlgrey/data/chip_testplan.hjson#L3203)

### Host side component

SystemVerilog+Rust

### OpenTitanTool infrastructure implemented

Unknown

### Contact person

@cindychip, @tjaychen, @msfschaffner

### Checklist

Please fill out this checklist as items are com

[2022-09-20 21:21] tjaychen opened #15035 "[chip-test] chip_sw_inject_scramble_seed"
### Test point name

[chip_sw_inject_scramble_seed](https://github.com/lowRISC/opentitan/blob/1f3a24718d33c975f12f902994c39d2497b8623e/hw/top_earlgrey/data/chip_testplan.hjson#L3220)

### Host side component

SystemVerilog

### OpenTitanTool infrastructure implemented

Unknown

### Contact person

@tjaychen, @moidx, @jdonjdon

### Checklist

Please fill out this checklist as items are completed. L

[2022-09-20 21:36] eunchan commented on #14953
The test is not fully implemented yet. I will add to testplan when the test is ready.

[2022-09-20 21:41] #12284 closed

[2022-09-20 21:42] jeoongp commented on #12284
Yes, this issue has been addressed by #13950.

[2022-09-20 21:47] tjaychen opened #15036 "[rom] how to deal with scramble setup"
This is a tracking issue related to #15035 and [this comment](https://github.com/lowRISC/opentitan/pull/14577/files/d7a59375d57a8a647ce22bb97737ccdc4eb6755f#r973591155)

The basic question is that if flash scramble is enabled, how does ROM figure out which regions it must setup as "scramble enabled"

[2022-09-20 21:47] tjaychen commented on #15036
@moidx
@cfrantz

[2022-09-20 21:50] tjaychen opened #15037 "[flash_ctrl] flash filesystem support"
To support a general flash file system, the flash must be able to support the following behavior:

Assume ECC on a region is enabled

1. The region can be written from an erased value (all 1's) to the desired value (for example 0xFFFF_FFFF_FFFF_FFFF -> 0xAB)
2. The region can be written, without an erase, from the desired value to all 0's (for example 0xAB -> 0x0).

This test can be done at either

[2022-09-20 21:52] #14678 closed

[2022-09-20 21:52] #14834 closed

[2022-09-20 22:01] tjaychen commented on #14969
I believe this issue can be tabled to future release, but would like the chairs to confirm.

[2022-09-20 22:28] #15029 closed

[2022-09-20 23:13] #14632 closed

[2022-09-21 00:34] #14676 closed

[2022-09-21 01:23] twilfredo commented on #15019
Fixed with  LONG(_stext); /* entry_point */ -> SHORT(_stext);

[2022-09-21 01:23] #15019 closed

[2022-09-21 04:33] jeoongp commented on #14940
Sorry for late comment. I have some questions to clarify.
1. Is busy-bit strategy a SW workaround by configuring CSR busy bit to enable the 4b address? In this case, do we need to spec out 50~100ns inactive time?
2. Is a HW workaround to detect EX4B on SPI and autonomously handle it without busy bit?

[2022-09-21 05:38] a-will commented on #14940
The strategy is to have the source of truth in the spi_clk domain. Changes due to flash commands update state on the spi_clk domain immediately, and the CSR read updates via a synchronizer. For software writes, registers in the sys_clk domain latch the intention to set/clear, and the spi_clk domain gets the update before the address phase begins.

Really I wouldn't call this a workaround: This is

[2022-09-21 07:20] matutem opened #15048 "[dv,csr_utils] Fix shadowed CSR partial csr_wr"
In clkmgr_base_vseq there is code to enable frequency measurements. In that code we need to update the *_meas_ctrl_shadowed CSRs. Each of these CSRs has a hi and a lo field. If the update is done as two csr_wr, one updating the hi field and another one updating lo we tend to get occasional failures in clkmgr_stress_all_with_rand_reset.

On the other hand, if the register is written in full with th

[2022-09-21 08:40] engdoreis commented on #14898
This test has been passing since Sep 13, I think we should close this issue.

[2022-09-21 09:55] alphan commented on #9315
Agreed. @zi-v please feel free to reopen if you think we should revisit this.

[2022-09-21 09:55] #9315 closed

[2022-09-21 09:58] alphan commented on #9295
Agreed. Just for the sake of completeness, we now have the following OTP items:
* ROM_EXEC_EN
* AST_INIT_EN
* JITTER_EN (gated by AST_INIT_EN)

[2022-09-21 09:58] #9295 closed

[2022-09-21 11:14] Jacob-Levy commented on #14945
Issue (1) resolved by PR #15047.
Issue (2) requiers `ast_spec_checks.sv`  that includes all the assertion that check the AST Spec restrictions like the "30us wait after power-up"..

[2022-09-21 11:54] Jacob-Levy opened #15050 "[top] ANALOGSIM macro-base solution"
@tjaychen  Since the `chip_earlgrey_asic.sv` and `top_earlgrey_pkg.sv` are generated, the changes that are requiered for the
ANALOGSIM need to be done by the generators.

The following changes are to support both OPEN SOURCE and CLOSE SOURCE testing!

Changes in the `top_earlgrey_pkg.sv` include adding the macros  before the 'endpackage'
[code]

Changes  in the `chip_earlgrey_asic.sv` include the

[2022-09-21 12:06] Jacob-Levy commented on #15050
@tjaychen The changes were made the manually to the files and the `chip_sw_adc_ctrl_sleep_debug_cable_wakeup` test passed on the real AST without using forces with driving the CC1/CC2 with real analog values.

[2022-09-21 12:36] timothytrippel commented on #15009
Yeah that's right (@alphan, @cfrantz, @moidx can confirm) but I believe the intention was to **definitely** run 7 ROM E2E tests (labeled P1) in DV and **hopefully** run as many as possible remaining V2 ROM E2E tests as our infrastructure will tolerate in the short term, as @rnongie describes.

That said, IIUC, I just need to add the `no_dv` to the V2 ROM E2E tests that are considered P2, and we ca

[2022-09-21 12:55] msfschaffner commented on #13395
RFC document [here](https://docs.google.com/document/d/1Fpm6HvenvrUKp7v48iDXb_S4qrzQIlXxEhepnk-DAok/edit#heading=h.1qmc39dhqd9f).

[2022-09-21 13:04] msfschaffner commented on #1191
@moidx WDYT about this one?

[2022-09-21 13:06] msfschaffner commented on #1928
@moidx is this still relevant?

[2022-09-21 14:07] engdoreis commented on #14152
I'm unasingning this test as I thought it would be possible access the register by SW. But it seems to be purely System verilog test.

[2022-09-21 14:15] jdonjdon commented on #11967
This issues are addressed in https://github.com/lowRISC/opentitan/pull/14411

[2022-09-21 14:15] #11967 closed

[2022-09-21 14:55] tjaychen commented on #15050
@Jacob-Levy i think the opentitan project has decided quite some time ago to minimize top level defines, so I'd recommend introducing a PR along with this issue and review it at one of the biweekly silicon meetings and explain why this is necessary.

I would also advise having a look at the generation to see how to do this. In order to mark specific pins as defines as you have shown, we may need t

[2022-09-21 15:40] GregAC opened #15051 "[sw/rtl] Desired debug behaviour with breakpoints and interrupts"
Whilst trialing usage of rv_dm with Ibex I've discovered potentially odd behaviour around breakpoints and interrupts. I had a breakpoint set on a particular line and found that every time I continued I just went straight back to the breakpoint without executing anything further. At first I thought this was a bug then I tried single stepping and ended up in a timer interrupt handler.

What I was ru

[2022-09-21 15:41] GregAC commented on #15051
@tjaychen @msfschaffner @mundaym @alphan @arunthomas @cfrantz @a-will any thoughts?

[2022-09-21 15:46] alphan commented on #15051
@dmcardle

[2022-09-21 15:49] alphan commented on #15051
@GregAC thanks for creating this issue. Can you confirm that you were trying to debug `rom` (not `test_rom`) and the thing that was being triggered was the watchdog NMI, at roughly 1 s)? If so, this is by design and the first thing that should be done during a debugging session should be to disable interrupts (see #15024).

[2022-09-21 15:59] a-will commented on #15051
The rv_dm is supposed to follow the riscv-debug-spec, right? In that spec, it says that all interrupts should be masked upon entering debug mode in section 4.1.

[2022-09-21 16:01] tjaychen commented on #15051
i think the issue is that when we run again (exiting debug), we immediately jump into the interrupt handler and later return to the same place, which break points again.

[2022-09-21 16:03] tjaychen commented on #15051
yeah that seems reasonable..so instead of just resuming from the same place. As Greg says this feels like correct behavior to me. So either we disable the interrupt, so I guess in most cases, we would probably execute the instruction we broke on (or jump somewhere else) and continue.

[2022-09-21 16:04] GregAC commented on #15051
Exactly, interrupts are masked when we enter debug mode. The issue is they become unmasked on a `dret` and the IRQ then takes priority over executing the next instruction pointed to by `depc` (which in this case in the instruction that has a hardware breakpoint set) and the RISC-V privileged requires this behaviour.

[2022-09-21 16:10] GregAC commented on #15051
This is incorrect, RISC-V debug spec defines a control bit that allows you to say whether or not interrupts should be handled during single stepping, for Ibex this bit is hard-wired to 0. Whether or not this actually behaves correctly is another question, I'm looking at that now.

[2022-09-21 16:14] GregAC commented on #15051
Yes so a bit of a false alarm here. Though it does appear that ibex is servicing interrupts when single stepping which it shouldn't do. I will sort out a fix and review whether our current DV setup would have caught this (the single step test is currently failing in nightly regressions and we had yet to take a detailed look).

[2022-09-21 16:17] alphan opened #15052 "[rv_core, ibex] Address translation and instruction cache"
Observed this while trying to run `rv_core_ibex_address_translation_test` with `rom` and instruction cache enabled (#14503 turned out to be a very beneficial exercise):

* Configure an address translation slot, e.g. map `0xa0000000` to the address of some function `fn0`.
* Call `0xa0000000`. `fn0` is executed
* Configure the same slot, this time map `0xa0000000` to the address of another function

[2022-09-21 16:21] GregAC commented on #15052
This is an artifact of the address translation being invisible to the Ibex core. So from Ibex's perspective there is no bug here. In a way you could see it like dynamically altered code, after you've written instructions to memory you must do a `FENCE.I` to remove stale code from the ICache. We need to do the same here.

We could add an external ICache flush request to Ibex (itself a generally use

[2022-09-21 16:22] tjaychen commented on #15052
ah @GregAC beat me to it, yeah this is because translation is unknown to ibex. It's "stupid translation" in nature.
I think like Greg said, maybe we need to require in software, any time we want to change the map, we have to require an icache disable / flush.

[2022-09-21 16:29] sriyerg commented on #15009
You will also need to edit the `testplan` line in `chip_sim_cfg.hjson` to add `:-no_dv` tag at the end to instruct dvsim to not map those testpoints.

[2022-09-21 16:40] GregAC commented on #15051
Ibex issue here to track the fix: https://github.com/lowRISC/ibex/issues/1814 should be pretty straight forward

[2022-09-21 16:44] alphan commented on #15052
SGTM, but this should be clearly documented, right? I don't remember seeing this in the rv_core hwip spec.

[2022-09-21 16:48] tjaychen commented on #15052
ah you are right. It is not. Let me add a note.
To be fair i didnt even realize it until you pointed it out in this issue hehe.

[2022-09-21 17:04] eunchan commented on #14953
Should be resolved in https://github.com/lowRISC/opentitan/pull/15053

[2022-09-21 17:09] #15026 closed

[2022-09-21 17:16] Jacob-Levy commented on #15050
@tjaychen This PR was discuss in one of the weekly meeting already and the proposed macros solution was agreed.
Since that meeting, the files that needed to change become generated and the PR was left for you to  implement.
I just closed the old PR, and opened an issue instead.
@arnonsha @sha-ron

[2022-09-21 17:17] tjaychen commented on #15050
i'm not sure why you would expect someone else to implement this..
if your proposal was made and accepted, why not just make a PR directly?

[2022-09-21 17:18] dmcardle commented on #15028
Yeah, I think this makes sense. It shouldn't be too difficult to create a Bazel target for a txt file containing the DMI commands scraped from the OpenOCD log. I don't have much intuition on what format would be useful for DV — should we parse it and emit JSON or something?

[2022-09-21 17:22] tjaychen commented on #15028
@sriyerg
@weicaiyang
@cindychip
@jdonjdon
i'm adding folks who have touched jtag in DV before.
#15008 kind of shows how it will look like in DV land.

So I feel like a text file showing where we are writing (abstract command / data, something else, program buffer), and what data to write would be helpful. The DV folks can comment better.

[2022-09-21 17:24] Jacob-Levy commented on #15050
the scripts that generate the chip_earlgrey_asic.sv was veri complex and involve LISTs manipulation and when I discuss it with you, you agree to do it.

[2022-09-21 17:26] alphan commented on #15009
SGTM, thanks @timothytrippel!

[2022-09-21 17:32] tjaychen commented on #15050
i would encourage you to look at it. Since this is a close sourced test, it will not be high on our priority list since all the open source items come first.

The scripts are not that complicated and just takes a bit of time to look through, multiple people from different partnerships have already done so.

[2022-09-21 17:36] weicaiyang opened #15054 "[test-triage] i2c_host_tx_rx_test"
### Hierarchy of regression failure

Chip Level

### Failure Description

  UVM_ERROR @ 2826.719088 us: (sw_logger_if.sv:522) [i2c_host_tx_rx_test_prog_sim_dv(sw/device/tests/sim_dv/i2c_host_tx_rx_test.c:190)] CHECK-fail: rx_irq_seen
  UVM_INFO @ 2826.719088 us: (uvm_report_catcher.svh:705) [UVM/REPORT/CATCHER]

### Steps to Reproduce

- GitHub Revision: [eaa243085](https://github.com/lowrisc/open

[2022-09-21 17:37] jdonjdon commented on #15028
If this is cmd / data format like this (https://github.com/lowRISC/opentitan/blob/c1192e8086997a35d0b99f508c04662a6771599b/hw/top_earlgrey/dv/env/seq_lib/chip_jtag_base_vseq.sv#L48-L54)
should be straight forward.

[2022-09-21 17:43] jeoongp commented on #14940
@a-will thanks and sorry. Let me clarify basic things first step-by-step.
1. busy bit is written by the flash commands immediately on spi_clk or written by SW write on sys_clk and synchronized to spi_clk domain?
2. Do we have a timing relation between flash commands/SW write and SPI data that indicates the address phase? In SPI_TPM, SW write has no relation with CSB timing. I would like to learn h

[2022-09-21 17:50] #11678 closed

[2022-09-21 17:52] a-will commented on #11678
It uses the unscrambled version and sends it over SPI, so there's no additional image prep needed.

[2022-09-21 17:56] weicaiyang commented on #14898
Sounds good. Closing it now.

[2022-09-21 17:56] #14898 closed

[2022-09-21 18:02] Jacob-Levy commented on #15050
The IOA2 and IOA3 PADs are used as anlog output in DFT mode. We just found out that it stoped working after one of the changes.

@ariel9678 @sha-ron

[2022-09-21 18:35] cdgori commented on #14611
It does benefit us to check the integrity whenever possible, this is the "distributed glitch detection" I referred to above, so if reverting that fix in Ibex is a reasonable thing to do (i.e. doesn't introduce substantial extra verification overhead/cases), then I would be in favor of reverting it such that integrity is always checked.  If the overhead is high, let's discuss further/with wider aud

[2022-09-21 18:48] alphan commented on #15052
I have a draft here: #15056

[2022-09-21 18:50] weicaiyang commented on #15048
This could be due to a very corner case on the combination of shadow reg partial write, regwen (gated the shadow reg) and random reset.

Last week, @matutem and I figured out `calib_en` could clear regwen and RAL didn't get updated. That issue was fixed, but the problem isn't completed solved. I guess there may be still another corner issue in this complicated combination.

Since we @matutem uses

[2022-09-21 19:18] cindychip commented on #15002
I guess a similar question is:
How fatal is the EDN related failures? For example: ErrWaitTimerExpired?
Similar behavior as above, this error does trigger an interrupt and err_code, but does not block KMAC processing incoming operations. Will that have a risk to expose secret keys in masking mode?

[2022-09-21 19:38] eunchan commented on #15002
Sorry for late response.

If I understand the issue correctly. DV injects incorrect MUBI value in processing. So that the state remains in MsgFeed?

I think in that case, the command should be ignored (as it is not a wanted command) and report an error. However, as the command it also not a strict `MuBi4False`, it is also better to report via alert.

I see the design lacks of reporting alerts on a

[2022-09-21 20:52] tjaychen commented on #15050
sounds good.
There has been a lot of testbench level pin alignment to the use cases defined [here](https://docs.google.com/spreadsheets/d/1jp-paagh2_sJFMUFnewx0XAUmLdCCgXn8NnB2BNEk-Q/edit?usp=sharing)

So if it's possible for you guys, it would be good to define those connections.

[2022-09-21 22:12] cindychip commented on #15002
Thanks Eunchan, yes! In dv, I inject random values to MUBI, and the state remains there.
I think in OTP, we do NOT trigger alerts for MUBI errors -> It just categorizes the random values to True or False depends on the situation. I think the goal there is just trying to make it harder for hackers to inject and change important values/flags.

[2022-09-21 22:23] eunchan commented on #15002
Hum, then changing to loosed check seems good. Let me revise the design.

[2022-09-21 22:48] tjaychen opened #15061 "[rstmgr] General reset domain improvements"
The current `rstmgr` splits things into `lc` and `sys` domain.
The original idea behind this was that `rv_dm` reset requests would only reset the `sys` domain, this gave us some separation to ensure that `ndm_rst_req` could not be used as an attack vector against things like `alert_handler`, `lc_ctrl`, `aon_timer` etc.

While this sounds nice in theory, it creates some issues around `lc` and `sys`

[2022-09-21 22:49] tjaychen commented on #15061
@cdgori
@a-will
@jeoongp
@moidx

[2022-09-21 23:23] jeoongp commented on #15027
hw2reg.extht_lo_watermarks (RD CSR) is updated by internal HW when reg2hw.health_test_window.fips_window is updated multiple times like a sweep test. When it is written by 0, the watermark is also cleared to 0.

As discussed with @weicaiyang, two watermark RO regs (markov_lo_watermarks and extht_lo_watermarks) need to be excluded. I will create a new PR.

[2022-09-22 00:55] tjaychen opened #15066 "[i2c/dv] Incorrect values presented on cio_sda_i and cio_sda_o"
@a-will and I discovered this while discussing some issues related to #15057.
The current i2c testbench does not obey the connection rules and actually drives `cio_sda_i` independently of `cio_sda_o`.

This means when `cio_sda_o` is driving 0, the line feeding back to `i2c` may still be 1.
This makes the data line 2 wires instead of 1 wire, and will mask a lot of potential problems in i2c.

[2022-09-22 01:02] tjaychen opened #15067 "[i2c] incorrect sda_intereference detection"
credit to @a-will for discovering this.

the i2c sda_interference detection is done in the same cycle.
Meaning, if the i2c fsm decides to drive sda high, it must observe the incoming `sda_i` is also high in the same cycle.
This is impossible, as `sda_i` is synchronized and can never be the same value on a transition. Even if there were no synchronization, it could still be difficult for `sda_i` to

[2022-09-22 02:01] tjaychen commented on #14990
after studying this more..it looks like the issue is on both the `fdata` and `rdata` handling.
In `fdata`, only the stop transaction is pushed an expected pending item. This means when a chain read is issued (no stop), the `rdata` gets stuck forever because there is no pending item.

If we let `fdata` push on all transactions, then there is a problem in `rdata` handling because right now it doesn'

[2022-09-22 04:28] tjaychen commented on #15054
fixed by #15060

[2022-09-22 04:28] #15054 closed

[2022-09-22 08:30] vogelpi commented on #14353
Tim and I had a good discussion on this topic at CHES (thanks @timothytrippel !). To summarize the main discussion points:
- When using `--define DISABLE_VERILATOR_BUILD=true` Verilator simulation targets obviously can't be run. So this cannot be used to avoid rebuilding the Verilator simulation when wanting to rerun a modified test program in Verilator.
- Debugging/fixing the frequent Verilator r

[2022-09-22 08:57] timothytrippel opened #15070 "[bazel] fusesoc invocation is getting passed duplicate parameters"
It seems Bazel's incovation of fusesoc is passing the duplicate sets of parameters:

[code]

This might be impacting #14353.

[2022-09-22 08:58] timothytrippel commented on #14353
Thanks for describing the issue @vogelpi ! I filed/linked #15070. I will take a look at these when I get back to California. I think these should be a quick fix.

[2022-09-22 09:12] #13968 closed

[2022-09-22 09:14] #13507 closed

[2022-09-22 09:37] alphan commented on #14486
#15024 resolves this except for the loop over test, dev, and rma.

[2022-09-22 09:39] vogelpi commented on #14385
Sorry I forgot to update this issue. Several PRs have been done related to this issue (see references in this thread) which brought down the simulation time substantially. The latest nightly tests ran for 54min (w/o jitter) and 49 min (w/ jitter) compared to 5 hours before. I think this should be sufficient. I am thus closing the issue.

[2022-09-22 09:39] #14385 closed

[2022-09-22 10:31] GregAC commented on #14978
It'd be simple enough to add in, though may not be strictly RISC-V spec compliant. The debug module has direct system bus access so any GDB/OpenOCD memory access would likely use that and bypass PMP anyway.

It is implementation specific for the PULP RISC-V debug module but it one of the possible implementations listed in the debug spec (See A.2 in https://riscv.org/wp-content/uploads/2019/03/risc

[2022-09-22 10:56] johngt opened #15072 "[SPI_Host] Winbond Flash BFM Integration"

[2022-09-22 10:56] johngt opened #15073 "[SPI_Host] Flash BFM targeted tests"

[2022-09-22 10:59] johngt opened #15074 "[SPI_Host] SPI Top level test - FPGA"

[2022-09-22 10:59] johngt opened #15075 "[SPI_Host] Regression fixing"

[2022-09-22 10:59] johngt opened #15076 "[SPI_Host] SPI enable feature test"

[2022-09-22 11:00] johngt opened #15077 "[SPI_Host] Stress_all_with_Rand_reset_test"

[2022-09-22 11:00] johngt opened #15078 "[SPI_Host] Coverage closure"
Need to improve functional coverage of SPI_Host above 90%.
Changes made by Weicai in SPI_Agent may bring the values down
- [x] spi_host_event: 60%
- [x] spi_host_sw_reset: 64%
- [x] spi_host_idlecsbactive: 76%
- [x] spi_host_overflow_underflow: 80%
- [x] spi_host_status_stall: 82%

spi_host_speed being worked on as part of https://github.com/lowRISC/opentitan/issues/15075
spi_host_stress_all being

[2022-09-22 11:29] GregAC commented on #14978
There was some discussion on this issue back in 2020 on the tech-debug list: https://lists.riscv.org/g/tech-debug/topic/access_memory_abstract/75549024

The summary from that seems to be PMP bypass within debug mode might not be spec compliant but probably should be and implementing it shouldn't be an issue.

The latest (non yet ratified) build of the debug spec (https://raw.githubusercontent.com/

[2022-09-22 12:13] johngt commented on #15072
Tagging @GregAC on any additional points that he envisaged when looking at the initial task description.

[2022-09-22 12:17] johngt commented on #15073
Adding a second level comment with the description as captured from @andreaskurth . This does not map exactly with how @GregAC subdivided the tasks but some relevant points captured there.

Write directed tests to use (configure, write, and read) the W25Q01JV in a way that is representative of the discrete OT. This can take a couple of days, depending on how many directed tests have to be written

[2022-09-22 12:21] GregAC commented on #14540
Yup looks good

[2022-09-22 12:21] #14540 closed

[2022-09-22 12:30] johngt commented on #14969
Please note that for future discussions re. SPI_Host please @tjaychen tag @GregAC , @johngt , @hcallahan-lowrisc
We are looking at closing out SPI_Host so please involve us in any of these discussions. TIA!

[2022-09-22 14:12] dmcardle commented on #14978
Neat, thanks for digging that up, Greg! Pragmatically, I'll point out that we found a workaround for our use case in #15024, so this particular sharp edge of the debug module is not currently blocking tests that run in SRAM.

[2022-09-22 14:40] tjaychen commented on #14969
will do.

[2022-09-22 14:41] alphan commented on #14978
@dmcardle let's talk about this offline today. I need to understand this better to see if this would affect our ability to debug ROM. We should make sure that ePMP changes in ROM do not cause the same kind of behavior.

[2022-09-22 14:50] GregAC commented on #14978
I could imagine some ROM ext bug that messes up the PMP configuration (e.g. in the final stages before handing over to tock or in early tock boot) that would nuke the ability to debug. You could live without the debugger (and boot stages will hopefully be pretty reproducible in sim) but it would make life more awkward.

[2022-09-22 14:55] drewmacrae opened #15081 "[i2c device] consider renaming "ack_stop" interrupt "ack_complete_fault""
the "ack_stop" interrupt is associated with the end of a transaction that is signaled by a STOP or a START condition. It's using the word stop in a way that's distinct from the I2C spec and therefore confusing. We should consider renaming it to avoid future confusion

[2022-09-22 15:03] tjaychen commented on #14978
@GregAC would it be a lot of design / verification overhead to add that feature now?
My feeling (we should ask @alphan to confirm) is that JTAG debug can't be used most of the time in the field anyways (we will be in PROD state).

So the area where this is useful is early during bring up / validation and early stages of manufacturing.  During this phase, if we happen to screw up the pmp in softwar

[2022-09-22 15:07] drewmacrae opened #15082 "[i2c host] "watermark" is being misused as a term and could be changed to "interrupt threshold", "threshold" or "level""
When the I2C host FIFOs pass a configurable level they can trigger an interrupt to signal the device requires software attention. This is referred to as a high-water-mark though it doesn't act as we'd expect high-water-marks to act (doesn't increase to reflect that the level has been passed in the past). It's also then abbreviated as "watermark" which is pretty easily misinterpreted as subtly embe

[2022-09-22 15:15] Jacob-Levy commented on #15050
@tjaychen I gave it one more look to see if I what to try understending the script.
Life is too short,,,

I will write my own script that make the chenges to the files and use then our test bench for NTIL & OS.
If you decide to add the changes yo your scrips. please let me know.

[2022-09-22 15:15] GregAC commented on #14978
The RTL change itself is pretty trivial, DV wise I guess we'd need to introduce some debug mode entry into tests that also test PMP to ensure there's no issue where PMP checks end up remained disabled a cycle or two after the `dret`. Though due to the triviality of the implementation (feed debug mode signal into the PMP block and factor that into the final check to suppress a failure) I'd be fairl

[2022-09-22 15:18] drewmacrae commented on #15070
Adding @a-will because I think this relates to the "required_args" vs "default_args" handling. I'm not sure if anyone has made any intentional changes to the fusesoc logic recently, so this is likely just the first time someone looked at fusesoc's invocation.

[2022-09-22 15:24] vogelpi commented on #14974
I had a look at the RTL:
- `lc_escalate_en_i` is checked inside `otbn.sv`. As you noted, invalid values set both the `lifecycle_escalation` and `bad_internal_state` (through `mubi_err`) bits in the `err_bits` register at this point. The delay is one clock cycle.
- `lc_rma_req_i` is not evaluated at this level. Instead, it's forwarded to `otbn_core.sv` and then `otbn_start_stop_control.sv`. Invalid

[2022-09-22 15:27] a-will commented on #15070
This is an entirely separate rule, though, (completely unrelated to opentitan_functest) and the rules must be written to accommodate the argument processor in whatever program is being invoked. Were you just looking for guidance on how to handle the args for fusesoc?

[2022-09-22 15:28] drewmacrae commented on #14353
Could the software changes have affected the test_rom or rom? This can trigger a rebuild.

If verilator builds are slow, it's pretty easy to encounter problems with the cache being cleaned of artifacts before we get to reuse them. I use a disk cache to prevent bazel from cleaning my caches before I'm done with it. I added:
[code]
to my ~/.bazelrc file and every once in a while I delete the cache b

[2022-09-22 15:34] drewmacrae commented on #14353
I think, maybe, the threads argument in #15070 is setting how many threads the binary is compiled to use, not how many threads are used to compile the binary.

[2022-09-22 15:35] a-will commented on #15070
I'll note that there are two places where the rules and targets create conflicting options.

cores-root doesn't eliminate duplicate directories:
https://cs.opensource.google/opentitan/opentitan/+/master:rules/fusesoc.bzl;l=45-47;drc=aa87069dcb5f8d9430f175f93341d9c50663dcc8

verilator options for threads is specified directly in the verilated core's target, while _also_ having a different value in

[2022-09-22 15:59] vogelpi commented on #14995
At current master (d54b1e031) this seed doesn't result in an invalid `lc_tx_t` value for `lc_rma_req_i`.
![Screenshot from 2022-09-22 17-49-20](https://user-images.githubusercontent.com/20307557/191793674-d2a9dc35-88ea-4443-8e45-0a9280adbac5.png)

@ctopal , can you maybe also provide the git commit at which you observed this behavior? An invalid RMA request signal should cause OTBN to abort the se

[2022-09-22 16:12] drewmacrae commented on #15082
I set the scope for this discussion so narrowly because the "watermarks" were called out as being different from other ones. I'm not familiar with the difference. "(Note that this behavior differs from similar interrupts in other modules, such as the UART IP module.)"

[2022-09-22 16:15] matutem opened #15085 "[dv/csr] Handle reset in the middle of CSR transactions"
The DV code dealing with CSR accesses gets confused if a reset happens while there is an ongoing CSR access. In order to avoid this confusion tests are restricted to avoid resets while there are ongoing CSR accesses. This is undesirable on two accounts:
- It prevents testing IP unit behavior when it gets reset in the middle of a CSR access, which is a pretty realistic scenario.
- It complicates th

[2022-09-22 16:16] eunchan commented on #14163
https://github.com/lowRISC/opentitan/pull/15062 now covers random sleep too. Let me close this ticket. `chip_sw_sleep_pin_wake` covers both cases.

[2022-09-22 16:16] #14163 closed

[2022-09-22 16:18] eunchan commented on #14157
@msfschaffner `chip_sw_sleep_pin_mio_dio_val` may covers this. Do you still think we should create a separate testplan for random sleep?

[2022-09-22 16:20] a-will commented on #15082
While your understanding is technically correct from a strict English language perspective and the term is abused in tech, there is a fair amount of use of "watermark" as a threshold instead of maxima/minima, for better or worse. You'll find this both in software and hardware projects.

I am not opposed to changing it to "threshold" to satisfy what I'm sure will become a pet peeve, though. :joy:

[2022-09-22 16:30] drewmacrae commented on #15082
I was unaware of and am saddened by this trend... Carry on then.

[2022-09-22 16:35] drewmacrae opened #15087 "[bazel] cores-root doesn't eliminate duplicate directories"
I'll note that there are two places where the rules and targets create conflicting options.

cores-root doesn't eliminate duplicate directories:
https://cs.opensource.google/opentitan/opentitan/+/master:rules/fusesoc.bzl;l=45-47;drc=aa87069dcb5f8d9430f175f93341d9c50663dcc8

verilator options for threads is specified directly in the verilated core's target, while _also_ having a different value in

[2022-09-22 16:38] #15087 closed

[2022-09-22 16:44] drewmacrae commented on #15070
I misunderstood your stance on redefining arguments as it should be done this way and tools should support it (and it seems like fusesoc does, I've been building for the correct number of threads pretty reliably, but maybe that's specific to my system or version of fusesoc) and this is how we choose to invoke OTT in the functests. I don't find it particularly readable, but if you run a simulation

[2022-09-22 16:47] drewmacrae commented on #15070
This might create issues, I'm not familiar with the usecase

[2022-09-22 17:00] cindychip opened #15088 "[kmac] Entropy error code"
When reviewing KMAC entropy related error code, here is one concern we want to flag:
There are two KMAC entropy error code: `WaitTimerExpired` and `IncorrectEntropyMode`.
      Currently both of them will flag an KMAC error.

However, the concern here is: the current KMAC error does not block any incoming operations.
So with these error, we believe KMAC will continue to process all the incoming op

[2022-09-22 17:01] tjaychen commented on #15082
b

[2022-09-22 17:57] mwbranstad commented on #14542
haven't forgotten about this one. Is it a go? If so, Steve and I need to work together for the first pass of this PR. The soonest that can happen is next week. So if all are agreed, please indicate so here. thanks.

[2022-09-22 17:58] #14119 closed

[2022-09-22 17:58] #14116 closed

[2022-09-22 18:00] eunchan commented on #15088
In Top Earlgrey, we have a few assumptions that may reduce this risk.

1. App interface (KeyMgr) is initiated by SW always. So, any entropy events SW receives could be assessed and processed prior to the next App request.
2. Incorrect Entropy Mode case, we can assume it is due to FI attacks. If SW is compromised (kernel SW), then there's no way KMAC avoid manipulations. So, in that case, SW is sti

[2022-09-22 18:07] cindychip commented on #14200
Re-triage since this test has new issue.

[2022-09-22 18:12] cindychip commented on #14850
I am going to close this issue because it never happened again. Potentially Tim's flash enhancement fixed it :)

[2022-09-22 18:12] #14850 closed

[2022-09-22 18:39] alphan commented on #14978
@tjaychen yes, JTAG debug can only be used when debugging is enabled but it's a very valuable tool for ES.

@GregAC I agree with holding off the HW change for now. I think we should understand the underlying issue better first: Was it because of the way we clobbered other pmp regions and ended up breaking the 13th region that opens up the rv_dm region or something else, e.g. rv_dm always uses a sp

[2022-09-22 19:13] matutem commented on #15085
Correction: the scenario is actually generated, but the problem is that the sequence cannot terminate in the middle of a transaction. Perhaps csr_rd/wr should immediately return if cst_utils_pkg::under_reset is on to avoid sequences getting wedged?

In any case it would be smart to document this behavior to avoid time wastage.

[2022-09-22 19:41] timothytrippel commented on #14353
ROM changes should only retrigger an FPGA bitstream build (though not even if you specify splicing into a prebuilt bitstream from the GCS bucket), not a Verilator sim binary builds. The ROM, flash, and OTP images are passed to the Verilator sim binary at runtime.

[2022-09-22 20:36] cindychip commented on #15002
PR #15089 resolved the issue.

[2022-09-22 20:36] #15002 closed

[2022-09-22 20:43] tjaychen commented on #14542
it looks good to me, but @bilgiday has looked at this more and should probably give the final go ahead.

[2022-09-22 21:21] weicaiyang commented on #14109
@a-will

As discussed here are some items that need to be addressed for this test.

1. update chip_if for spi_device_if as we did for spi_host_if, so that it can support dual/quad commands.
https://cs.opensource.google/opentitan/opentitan/+/master:hw/top_earlgrey/dv/env/chip_if.sv;l=225

2. need to configure the `cfg.m_spi_device_agent_cfgs[0]`, as we did for m_spi_agent_cfg, (perhaps rename m_spi

[2022-09-22 21:38] #14931 closed

[2022-09-22 21:38] #14930 closed

[2022-09-22 22:39] matutem opened #15093 "[rtl/rstmgr] Revise reset consistency checks"
The reset consistency checkers are connected to clk_io_div4_secure, so they are less active than if they were connected to clk_io_div4_powerup. This is a concern, since it seems they should be active as much as possible. In addition, reset consistency checks are disabled for
u_d0_lc_io_div4
u_d0_lc_io_div4_shadowed
u_daon_lc_io_div4
u_daon_lc_io_div4_shadowed
This could be functionally okay, but i

[2022-09-23 00:04] #14990 closed

[2022-09-23 08:11] Jacob-Levy commented on #15050
Document was updated with AST port names on Nuvoton Test field.

[2022-09-23 09:41] GregAC opened #15098 "[rtl] OTBN secure wipe on RMA entry or DFT enable?"
https://github.com/lowRISC/opentitan/issues/14995 has highlighted to me that the new functionality we added to trigger secure wipe to ensure any sensitive information is wiped before scan entry is triggered on entry to the RMA lifecycle state.

As I understand it in the RMA lifecycle state CPU execution is still allowed and in particular debug is enabled. With the current setup once you enter RMA

[2022-09-23 09:42] GregAC commented on #15098
@vogelpi @andreaskurth @cdgori @tjaychen @msfschaffner @cdgori From your recollection of the discussion here was this the intended behaviour? We should ensure this is explicitly documented as it may be surprising behaviour.

[2022-09-23 10:24] vogelpi commented on #15098
Hi @GregAC ,
AFAIK this is exactly the behavior we wanted. Only once the flash is completely wiped and OTBN has finished secure wipe, LC will enter the RMA state. Then the chip is reset and comes back up in RMA state in which scanmode can be entered.

I've done a PR #15086 to clarify in the documentation that OTBN needs to be reset after handling an RMA request.

[2022-09-23 11:08] GregAC commented on #15098
To put it another way, are we happy that any debugging that occurs in the RMA state cannot execute code that uses OTBN?

[2022-09-23 11:38] #14973 closed

[2022-09-23 12:01] vogelpi commented on #15098
Just checked again with @msfschaffner , after receiving the RMA ack from OTBN, LC starts reprogramming OTP and then enters a virtual scrap state where everything inside the chip is disabled. Only after the next reset, the new OTP state becomes active and the chip is effectively in RMA state.

At this point, also OTBN is no longer in the locked state because the RMA req signal is again `Off` and co

[2022-09-23 12:54] vogelpi commented on #14995
The PR clarifying the documentation has been merged already (#15086). Shall we close this @ctopal ?

[2022-09-23 12:55] hstr0 opened #15099 "Accessing SPI Device in FW Operation Mode using USB"
Hi all,

as the documentation of the Earl Grey design in combination with CW310 doesn't provide much details of using SPI over USB on a lower level, I hope someone here can provide some useful information.

The target is to send custom data from a different board acting as host to the CW310 SPI device in FW Operation Mode, but it's not clear how to supply outgoing data, so that its written to the

[2022-09-23 12:59] ctopal commented on #14995
Yes I think we can close this, I'll check the invalid `lc_txt_t` part again with the latest master and open up a new issue if it appears.

[2022-09-23 13:14] GregAC commented on #15098
Ok sounds good, I'll close this

[2022-09-23 13:14] #15098 closed

[2022-09-23 13:37] vogelpi commented on #8758
I've now filed a PR to rework the SVAs inside prim_sync_reqack as discussed and remove the workaround from the OTBN testbench.

[2022-09-23 13:40] msfschaffner commented on #11208
Connectivity tests for `lc_escalate_en` have been added in #11261 and an assertion checking that the PC does not advance when the CPU is disabled is added here: https://github.com/lowRISC/opentitan/pull/15101 (note that it is sufficient to check this, since the block level DV checks that the `cpu_en` signal is not asserted when in escalation mode).

[2022-09-23 13:55] #13964 closed

[2022-09-23 13:55] #13329 closed

[2022-09-23 13:56] #9665 closed

[2022-09-23 14:44] GregAC commented on #14969
I think this is an M2 issue, in that we need to be confident the current behaviour won't cause any issues with SPI devices we may wish to use with the engineering sample.

[2022-09-23 14:46] GregAC commented on #15072
This looks reasonable to me

[2022-09-23 14:58] GregAC commented on #11546
#14919 merged so closing

[2022-09-23 14:58] #11546 closed

[2022-09-23 15:00] GregAC commented on #14921
Have you actually observed the write altering the memory?

[2022-09-23 15:01] GregAC commented on #14541
#1419 merged so closing

[2022-09-23 15:01] #14541 closed

[2022-09-23 15:01] vogelpi opened #15104 "[bazel] Output Verilator run command including paths to all binaries"
As discussed in #14353 , it would be very useful if bazel would output the command for running the Verilator simulation of Earl Grey including paths to all binaries. I see the following two main advantages especially important when it comes to chip-level tests:
1. When working on software changes, users can easily extract the Verilator simulation binary and then rerun the test manually, i.e., baze

[2022-09-23 15:03] GregAC commented on #11539
That is just derived from the ECC checks on MOD/ACC (all other CSRs don't have ECC so cannot fail the check), so it shouldn't be required.

#14919 merged so closing

[2022-09-23 15:03] #11539 closed

[2022-09-23 15:05] vogelpi commented on #14353
Thanks for your input @drewmacrae , I've now filed a seperate issue regarding the log output and tagged you there.

Regarding the build time. This is a bit weird. Yesterday I was able to build the Verilator simulation binary with a clean cache/from scratch within 5 minutes. Today it takes again 40 min. I did try `bazel clean --expunge` etc. but it doesn't seem to help. Also adding `build --disk_ca

[2022-09-23 15:09] msfschaffner opened #15105 "[CI] Spec up Jake replacement"

[2022-09-23 15:10] msfschaffner commented on #15105
CC @johngt @mundaym @GregAC

This seems to be done already - please reopen if that is not the case.

[2022-09-23 15:10] #15105 closed

[2022-09-23 15:17] msfschaffner commented on #14364
@moidx can you double check the milestone and prio assignments? thanks!

[2022-09-23 15:21] vogelpi opened #15106 "[bazel] Verilator Earl Grey simulation seems to depend on CW310 FPGA board"
I am currently facing issues when trying to run the Verilator Earl Grey simulation without having a CW310 FPGA board attached. For example, running
[code]
without having the FPGA connected gives me
[code]
If I then re-connect the FPGA board, it still doesn't work due to the following failure:
[code]
I can then do two things to get the Verilator simulation working again:
1. `bazel clean --expunge`.

[2022-09-23 15:23] msfschaffner commented on #13958
This has been addressed already.

[2022-09-23 15:23] #13958 closed

[2022-09-23 15:25] msfschaffner commented on #13905
@vogelpi @bilgiday is this something that we need in ES silicon? If so, we should get this in for M2.

[2022-09-23 15:25] a-will commented on #15104
We use the term "Verilator" in rather confusing ways, don't we? Verilator is the toolchain that converts System Verilog to a C++ simulation model, and we add our own C++ code to that to create an actual simulator (which doesn't seem to have a good name, unless you want to go with "Vchip_sim_tb" :joy: ).

In any case, `bazel` can output the commands it calls via the `--subcommands` argument.

Howev

[2022-09-23 15:30] andreaskurth opened #15107 "[rv_dm] CDC and RDC linting and closure"
Clock domain crossing (CDC) and reset domain crossing (RDC) linting and closure happens at the top level. As `rv_dm` is quite involved w.r.t. those two topics, this issue exists to explicitly raise awareness and track progress of CDC and RDC closure. It can be closed once both closures have been reached.

## Notes
- `dmi_cdc` contains a "TODO" comment saying that the JTAG reset must be made clean

[2022-09-23 15:30] GregAC commented on #13841
mypy is utilised extensively within the OTBN python tooling where the type checking it provides is valuable. I would strongly prefer we continue to run those checks in CI.

[2022-09-23 15:34] drewmacrae commented on #15106
@jon-flatley It looks like using opentitantool as the signing tool is depending on the cW310 configuration or transport

[2022-09-23 15:41] msfschaffner commented on #13522
update fpga docs to resolve discussion in #13196

[2022-09-23 15:42] msfschaffner commented on #13522
This appears to be done. Please reopen if that is note the case.

[2022-09-23 15:42] #13522 closed

[2022-09-23 15:42] #14995 closed

[2022-09-23 15:48] msfschaffner commented on #13484
@a-will is there anything else that needs to be done for this?
CC @toshaq

[2022-09-23 15:52] msfschaffner commented on #13377
The meson build flow has been deprecated and is not supported anymore.
Please try again with the bazel build flow and reopen if the warnings still persist.

[2022-09-23 15:52] #13377 closed

[2022-09-23 15:54] msfschaffner commented on #13362
@cfrantz @drewmacrae @dmcardle can this be closed or are there any outstanding tasks?

[2022-09-23 15:59] msfschaffner commented on #13162
@timothytrippel @cfrantz have any of these enhancements been implemented yet?

[2022-09-23 16:08] dmcardle commented on #13362
I'd still like for us to have something like `//:quality_{check,fix}`, this has just been on the back burner.

[2022-09-23 16:08] vogelpi commented on #15104
Thanks for the quick response. Yes, I am running with `bazel test` and using `--test_output=streamed`.

I've overlooked the `Spawning Verilator` line. Beyond the not ideal format, the main problem with that line is that the specified paths are wrong. E.g. the path to `Vchip_sim_tb` needs `bazel-bin` at the beginning, the OTP image is at `bazel-bin/sw/device/tests/aes_smoketest_sim_verilator.runfil

[2022-09-23 16:10] msfschaffner commented on #12820
@jdonjdon has this been fixed in the mean time?

[2022-09-23 16:10] drewmacrae commented on #13362
There will be '//quality/...' soon

[2022-09-23 16:11] jdonjdon commented on #12820
Yes in here(#14442)

[2022-09-23 16:13] msfschaffner commented on #12934
It would be good if you could provide more context on what you are trying to achieve and what testbench / command you are running.
Otherwise it is difficult to provide an answer here.

CC @cindychip @sriyerg @weicaiyang

[2022-09-23 16:15] msfschaffner commented on #12058
Closing since I assume the question has been answered.
Please re-open if that is not the case.

[2022-09-23 16:15] #12058 closed

[2022-09-23 16:16] msfschaffner commented on #2364
@a-will are there any pending doc tasks for this, or can we close this issue?

[2022-09-23 16:18] msfschaffner commented on #2331
The system memory map is now rendered in the top-level docs, hence I think we can close this (otherwise, please reopen): https://docs.opentitan.org/hw/top_earlgrey/doc/design/#memory-map

[2022-09-23 16:18] #2331 closed

[2022-09-23 16:23] a-will commented on #15104
Those paths actually aren't wrong, per se. However, sandboxing does make it obscure where the working directory is: https://bazel.build/reference/test-encyclopedia#initial-conditions

We could ostensibly have opentitan_functest_runner.sh print out the current working directory, so you can see where all relative paths originate. Would that help?

[2022-09-23 16:30] milesdai commented on #1863
Yes, CI currently runs the flake8 check on the entire repo (minus vendored code and some of the linters themselves), and the DV code is passing. @GregAC Is it okay to make this check blocking now (i.e. remove the `continueOnError`?

[2022-09-23 16:38] msfschaffner commented on #12820
Cool, thanks for confirming!

[2022-09-23 16:38] #12820 closed

[2022-09-23 16:41] msfschaffner commented on #13484
Thanks for summarizing this @a-will!

It looks like the P1 aspects of this issue have been addressed (create an alternate pin configuration), hence I think we can relax this to P2 and assign it to M3 for now (please re-categorize if you think this is wrong).

[2022-09-23 16:43] tjaychen commented on #15099
@colinoflynn can provide more information on the sam3x usage.

[2022-09-23 16:44] GregAC commented on #1863
Sure assuming we are flake8 lint clean

[2022-09-23 17:06] weicaiyang commented on #11208
SGTM. Thanks @msfschaffner. Closing this issue

[2022-09-23 17:06] #11208 closed

[2022-09-23 17:07] #14150 closed

[2022-09-23 17:24] a-will commented on #15099
There is also another bitstream that has an alternate pin-out, with nearly all OpenTitan pins on the USERIOA and USERIOB headers, and that is currently undergoing validation. However, even when that is done, note that SPI Device also must be used in Flash Mode to bootstrap your application into the emulated flash before it will be available for use (then the ROM can boot into it, and your applicat

[2022-09-23 17:32] timothytrippel opened #15110 "[bazel] error out when sha256 is missing"
To enable building targets in an airgapped environment, all external Bazel repos (typically imported via an `http_archive` rule) must contain a valid `sha256` field. Since the `sha256` field of the `http_archive` rule is [optional](https://bazel.build/rules/lib/repo/http#attributes), builds don't fail in CI, rather a message is printed to STDOUT that indicates a `sha256` field is missing. However,

[2022-09-23 17:40] a-will commented on #15110
Is this job still flaky? Did we root cause and resolve it?

[2022-09-23 17:42] weicaiyang commented on #12934
also not clear to me what you want to do.
If you're asking how to run a test in simulation, you can find it here.
https://docs.opentitan.org/doc/getting_started/setup_dv/#building-and-running-tests

[2022-09-23 18:00] timothytrippel commented on #15110
For the most part it looks like original flakiness has subsided quite a bit (IIRC it used to fail ~50% of the time, now it seems to happen less frequently (e.g., [1 in 12 past jobs ran](https://dev.azure.com/lowrisc/opentitan/_dashboards/dashboard/0bdec629-d160-4aca-89a7-33efa67e1349)).

There is only one recent [error](https://dev.azure.com/lowrisc/opentitan/_build/results?buildId=94968&view=logs

[2022-09-23 21:04] cfrantz commented on #13362
All of the quality checkers and fixers have been migrated to`//quality` in #15044.  The checkers have been converted to tests, so you can now unconditionally run all of them with:
[code]

The fixers are still executables and require you to run them (e.g. `bazel run //quality:clang_format_fix`)

[2022-09-23 21:12] dmcardle commented on #13362
Awesome! I'll go ahead and close this.

[2022-09-23 21:12] #13362 closed

[2022-09-23 21:32] timothytrippel commented on #14679
#15113 should fix.

[2022-09-23 21:58] weicaiyang commented on #14679
Thanks @timothytrippel

[2022-09-23 23:50] a-will commented on #2364
Ah, this apparently got forgotten, as I did not assign myself. I'll fix that. (still to-do)

[2022-09-26 09:32] andreaskurth opened #15123 "[rv_dm,rtl] Fix acknowledgment of reset in `dmstatus.allhavereset`/`dmstatus.anyhavereset`"
https://github.com/pulp-platform/riscv-dbg/issues/118:

This is incorrect behavior and should be fixed, but it is currently not urgent for us, because the [`rstmgr` resets the system reset domain](https://docs.opentitan.org/hw/ip/rstmgr/doc/index.html#system-reset-tree) unconditionally whenever `ndmreset_req` is asserted (a few cycles after asserting this signal).

[2022-09-26 12:32] bilgiday commented on #14542
It looks good to me, we can move forward with this. It seems everyone agrees with the proposal outlined in this comment: https://github.com/lowRISC/opentitan/issues/14542#issuecomment-1241334593

[2022-09-26 14:04] jadephilipoom commented on #12223
Resolved by #14972

[2022-09-26 14:04] #12223 closed

[2022-09-26 14:45] vogelpi commented on #14240
Looking into this right now. The following needs to be done:
- [ ] Change PRNG implementation to force instead of zeroing masks if the feature is enabled.
- [ ] FPGA SCA experiment with masking disabled and reseed timer disabled. The reseed timer is by default disabled on FPGA.
- [ ] Adapt CSR configuration layout
- [ ] FPGA SCA experiment with masking disabled and skipping reseeding by re-configu

[2022-09-26 18:00] eunchan commented on #15088
@jadephilipoom Exactly!

[2022-09-26 19:06] tjaychen commented on #14542
sounds good to me.
@bilgiday / @mwbranstad do you want to go ahead with the change? or do you want me to help take a look?
let me know what you prefer.

[2022-09-26 19:28] mwbranstad commented on #14542
@senelson7 and I are working on the RTL/DV changes for csrng and edn at the unit level. Then will need help on any firmware/software changes as the chip level.

[2022-09-26 20:19] eunchan commented on #14352
One thing `chip_sw_sleep_pin_mio_dio_val` misses is to check the active output value after wake-up. I think adding the output value checking logic to `chip_sw_sleep_pin_wake` makes sense.

[2022-09-26 22:04] tjaychen opened #15129 "[i2c/dv] Add option to control i2c agent verbosity"
instead of relying on `UVM_HIGH` which tends to bring in too much information while debugging, @martin-lueker suggested we follow `aes` and `entropy_src` example and do it with more granularity.

See [this example](https://github.com/lowRISC/opentitan/blob/master/hw/ip/entropy_src/dv/entropy_src_sim_cfg.hjson#L107-L128) for how it can be done.

[2022-09-26 22:07] tjaychen opened #15131 "[i2c] sda interference during host enable"
the current i2c assumes that when the host function is enabled, if `sda` is already low, then it is registered as bus interference.
@a-will pointed out that is not true in a multi-host situation.

Since the current i2c [explicitly points out](https://docs.opentitan.org/hw/ip/i2c/doc/index.html#description) it does not support multi-host, this is not something that needs to be urgently fixed.

Fili

[2022-09-26 22:09] tjaychen opened #15132 "[i2c] remove unused timing registers"
With #15117, the `setup` timing register is no longer required. It is marked as unused in that PR, but can be removed from the source.
Another candidate for removal are the `t_r` and `t_f` registers. Instead of relying on explicit timing, the logic can be tweaked to sample, filter and vote on the existing line.

[2022-09-26 22:10] weicaiyang opened #15133 "[spi_device] TPM HASH_START offset"
@a-will
As discussed with @eunchan, we found a typo on the latest TPM [spec](https://trustedcomputinggroup.org/wp-content/uploads/PC-Client-Specific-Platform-TPM-Profile-for-TPM-2p0-v1p05p_r14_pub.pdf).

2 offsets are used for TPM HASH_START in the spec. Do you know which the correct one is, 0x20 or 0x28?
![Screen Shot 2022-09-26 at 3 05 12 PM](https://user-images.githubusercontent.com/49293026/19

[2022-09-26 22:21] weicaiyang opened #15134 "[spi_device] race condition on TPM return-by-HW reg"
@a-will

There are some return-by-HW registers on the SPI TPM. There is a chance that SW is updating one of those registers while SPI host is reading it at the same time. @eunchan CDC is properly handled in the design. But SPI host may get either the updated value or the old one. Does the SW have a protocol to avoid this case, or it's OK that SPI host reads either these 2 values in this case, sinc

[2022-09-26 22:24] weicaiyang opened #15135 "[spi_device] connect TPM CSB to the status CSR"
@eunchan

as discussed, we want to update design to connect TPM CSB to the status CSR, so that SW can read it.

cc: @jeoongp

[2022-09-26 22:31] timothytrippel opened #15136 "[bazel,ci] add blocking CI step that tests bazel builds in an airgapped environment"
We support airgapped Bazel builds for various reasons. However, this keeps breaking due to various changes made to our Bazel workspace (e.g., #15044). To prevent regressions it makes sense to create a blocking CI step that:

1. executes the `util/prep-bazel-airgapped-build.sh` script to prefetch all Bazel deps (this is already run but is not a blocking step as it was previously flaky), and
2. runs

[2022-09-26 22:33] timothytrippel commented on #15110
Closing this, as addressing #15136 will also resolve this issue.

[2022-09-26 22:33] #15110 closed

[2022-09-26 23:22] msfschaffner commented on #14157
Is sleep entry / exit already randomized in `chip_sw_sleep_pin_mio_dio_val`?

In any case, I believe this is the only difference between `chip_sw_random_sleep_pin_mio_dio_val` and `chip_sw_sleep_pin_mio_dio_val` so I think I am fine with just updating the existing test point to include randomization...

[2022-09-26 23:24] eunchan commented on #14157
yep. `chip_sw_sleep_pin_mio_dio_val` chooses normal / deep sleep randomly.
Let me close this.

[2022-09-26 23:24] #14157 closed

[2022-09-26 23:27] msfschaffner commented on #14157
Ok, great!

Can you expand the description of `chip_sw_sleep_pin_mio_dio_val` so that this is captured correctly.

[2022-09-26 23:30] a-will commented on #15133
For what it's worth, that one blurb is the only place where I see an offset ending in 0x20 for TPM_HASH_START. Everywhere else I've seen an offset, it's 0x28.

However, I'm not an expert on TPMs. We might want to find one.

Aside: The "before returning the contents of the register" part doesn't seem to apply to TPM_HASH_START, as it always returns 0xFF on reads. However, there are some PCRs that n

[2022-09-26 23:33] eunchan commented on #14157
OK.

[2022-09-26 23:33] msfschaffner commented on #4244
@tjaychen should we do this pre M2, or as part of the UPF review for M3?

[2022-09-27 00:31] tjaychen commented on #4244
hmmm....i feel like we should review this as part of M2.
I think the main thing that worries me is the statement we made about most things are looking for an "ON", i'm not sure how to prove that is the case.

Thankfully we don't have THAT many always on modules, so we can probably walk through them and quickly review.

[2022-09-27 00:53] cindychip opened #15140 "[kmac] Entropy ready bit error"
Record an offline discussion with Eli:

If we do not set the entropy_ready bit:
1). In app mode, we will see keymgr interface error bit set to 1. --> But there is no error code.
2). In sw mode, there isn't any error if we do not set the entropy_ready. And all kmac operations can continue as it is.

For the first case, Eli confirmed that Keymgr side will report errors, so KMAC side does not need to

[2022-09-27 01:22] #15067 closed

[2022-09-27 01:44] tjaychen commented on #15134
@a-pronin.

[2022-09-27 01:44] tjaychen commented on #15133
@a-pronin.

[2022-09-27 04:25] matutem commented on #14785
The fault_status register needs to be cleared on reset though.

[2022-09-27 08:00] vogelpi opened #15144 "[topgen] Improved RndCnst Mechanism"
Topgen currently generates random netlist constants like LFSR seeds and OTP scrambling keys from a fixed seed and with random.py, which [uses Mersenne Twister underneath](https://docs.python.org/3/library/random.html).

It has thus been agreed to replace [random.py](https://docs.python.org/3/library/random.html) with a custom class supporting the loading of an entropy buffer file (e.g. generated f

[2022-09-27 08:33] vogelpi commented on #15144
FYI @msfschaffner @tjaychen @moidx @johannheyszl

[2022-09-27 08:51] vrozic commented on #15144
Thanks @vogelpi for opening this issue.
I am currently working on the first version of this class.

[2022-09-27 08:52] engdoreis opened #15145 "[test-triage] Bazel cache issue"
### Hierarchy of regression failure

Chip Level

### Failure Description

File "/root/.cache/bazel/_bazel_default/96f40d218badc03ed33c48f246ec2aa1/external/rules_rust/rust/private/repository_utils.bzl", line 568, column 20, in load_arbitrary_tool
          ctx.extract(
  Error in extract: java.io.IOException: Error extracting /root/.cache/bazel/_bazel_default/96f40d218badc03ed33c48f246ec2aa1/exter

[2022-09-27 09:02] luismarques commented on #15145
Question for the Bazel experts: would it be possible to check that the file in the cache has the correct hash and, if it does not, emit a message at that point (with a more sensible error message), instead of erroring out during the tarball extraction process?

Given the observed behavior, it seems like a hash check is not being performed. If it is, could there be some concurrency problem where th

[2022-09-27 09:05] engdoreis commented on #14207
Reopening it because it is still failing sporadically for the same timeout reason, this is the result of the latest executions:

|Tests | latest | 2022.09.26 | 2022.09.24 | 2022.09.23 | 2022.09.22 | 2022.09.21 |
| -| - | - | - | - | - | - |
|chip_sw_uart_tx_rx_bootstrap | 100.00 | 66.67 | 66.67 | 100.00 | 66.67 | 66.67|

[2022-09-27 09:16] luismarques commented on #15145
@engdoreis noticed that the tests where this happens seem to have higher `reseed` values. Perhaps running the test multiple times increases the probability of this issue occurring? That would be typical behavior for a concurrency issue.

[2022-09-27 10:08] engdoreis commented on #15145
I also noticed that all these tests are dv only. Given that the error is happening when trying to build opentitantool, can we just remove this dependency? Or does it really use opentitantool for, let's say, signing?
Anyway we should fix the root cause as it can impact other cases.

[2022-09-27 12:56] drewmacrae commented on #15145
@jon-flatley Do we sign //sw/device/tests/sim_dv:lc_ctrl_transition_test_sim_dv with OpenTitanTool?

The bazel managed dv "tests" themselves don't really run anything AFAIK, they just generate the build outputs and pass. Did this occur in a workstation or in CI somewhere?

[2022-09-27 13:26] engdoreis commented on #15145
I checked that opentitantool is a dependency for the tests in `sw/device/tests/dv`, as they use the macro `opentitan_functest`  that has the default argument `test_harness = "@//sw/host/opentitantool"`, but I'm not sure why.

We haven't seen it happening in CI, It seems to happen only in the nightlies for these tests with high reseed values.

[2022-09-27 13:42] alphan commented on #14503
We can now run 85 additional tests with `rom` 🚀

[2022-09-27 13:47] #14503 closed

[2022-09-27 13:51] vogelpi commented on #14200
I am looking into this. It seems that only accesses to debug ROM cause the UVM_ERRORs.

[2022-09-27 14:14] engdoreis opened #15148 "[test-triage] chip_sw_clkmgr_escalation_reset"
### Hierarchy of regression failure

Chip Level

### Failure Description

### Error log from report
[code]
### Log from log file
[code]

### Steps to Reproduce

- Commit hash where failure was observed: `0c214bdb3`
- dvsim invocation command to reproduce the failure, inclusive of build and run seeds:
`./util/dvsim/dvsim.py hw/top_earlgrey/dv/chip_sim_cfg.hjson --build-seed 739773536 -i chip_sw_clk

[2022-09-27 14:50] vogelpi commented on #13905
It would be great to do more FPGA experiments before ES but the focus of various people including @bilgiday and @vrozic has now shifted to other tasks more critical for M2. So this is not going to happen before M2.

In general, the changes suggested in this issue would only matter for FPGA anyway, similar to what we do for AES and KMAC. We will have to figure out the process of making FPGA-only RT

[2022-09-27 15:19] dmcardle commented on #14098
@milesdai You mentioned that you're working on using Bazel for bitstreams in CI. Would it make sense to assign this issue to you?

[2022-09-27 16:18] milesdai commented on #14098
Yes, I can take it

[2022-09-27 16:23] #14953 closed

[2022-09-27 16:28] drewmacrae commented on #15145
Sorry about the signing questions, looks like none of that work is being exercised to do the signing with OTT in CI or under other tools.

@timothytrippel does dvsim.py depend on output from `bazel test sw/device/tests/dsim_dv:lc_ctrl_transition_test_sim_dv`? Could/should it be changed to depend on `bazel build`...?

I'm confused about why reseeding the tests would rebuild opentitantool.

[2022-09-27 16:33] tjaychen commented on #15134
@weicaiyang, @jeoongp, @eunchan i'll probably need your help to remember, but do you know if the spec says anything about update latency? I think usually something like that is mentioned on how long the hardware has to update the value, or there is some kind of busy polling like with flash.

If neither exist and the updates / read both need to be instant, then this might need to look a lot more li

[2022-09-27 16:34] tjaychen commented on #14785
@jeoongp i don't think you need to move the fault registers to escalation domain.  The escalation domain only has to talk to the  escalation receiver right? So we can consider the escalation domain async from the lc domain.

[2022-09-27 16:36] a-will commented on #15134
I'd have to look at the function of these return-by-HW registers, but vaguely, I suspect if SW must get involved, it should disable the immediate return and force wait states. When I get a moment, I'll take a look at the TPM spec and compare against what we have. (Let me know if this needs higher priority, though.)

[2022-09-27 16:38] tjaychen commented on #15134
ah i was actually hoping either @a-pronin knew off the top of his head, or @eunchan / @weicaiyang / @jeoongp have already looked over the spec and knew the answer already.

[2022-09-27 16:39] vogelpi commented on #14200
**Failure Description:**

UVM_ERROR @ 3901.302122 us: (cip_base_scoreboard.sv:431) [uvm_test_top.env.scoreboard] Check failed item.d_error == exp_d_error (0 [0x0] vs 1 [0x1]) On interface chip_reg_block, TL item: req: (cip_tl_seq_item@131626) { a_addr: 'h106d5  a_data: 'hef482b96  a_mask: 'h2  a_size: 'h0  a_param: 'h0  a_source: 'h2e  a_opcode: 'h1  a_user: 'h264cd  d_param: 'h0  d_source: 'h2e

[2022-09-27 16:41] a-will commented on #14207
Probably the timeout I wrote wasn't quite enough to handle the erase phase of bootstrap, but it's hard to tell directly from the report. I wish I knew how to get more of a stack trace for the thread--The log only shows a line from a common function, so I'll have to run the long simulation to find out, heh.

[2022-09-27 16:44] engdoreis opened #15152 "[test-triage] chip_sw_rstmgr_alert_info"
### Hierarchy of regression failure

Chip Level

### Failure Description

[code]

### Steps to Reproduce

- Commit hash where failure was observed 0c214bdb3
- dvsim invocation command to reproduce the failure, inclusive of build and run seeds:
  `./util/dvsim/dvsim.py hw/top_earlgrey/dv/chip_sim_cfg.hjson -i chip_sw_rstmgr_alert_info --build-seed 739773536 --waves -v h`

### Tests with similar or

[2022-09-27 16:45] engdoreis commented on #15152
Stating to look at it.

[2022-09-27 16:54] drewmacrae commented on #14353
The 40min verilator builds seem weird but beyond the scope of a [bazel] issue. We might be able to understand the dependencies better by sandboxing Verilator, and could maybe make it more repeatable but as it stands it's hard to speculate about/improve/control. (This is what I meant by #11442). If verilator's argument parser is non-deterministic we might have an explanation, and if that's caused b

[2022-09-27 17:11] jdonjdon opened #15155 "[flash_ctrl] host read hang with spurious grant"
use [REP_PR](https://github.com/lowRISC/opentitan/pull/15156)
cmd:
./util/dvsim/dvsim.py ./hw/ip/flash_ctrl/dv/flash_ctrl_sim_cfg.hjson -i flash_ctrl_phy_host_grant_err -r 1 -s 1 --waves
Test sends 2 host read (with mixed ctrl txns), and assert host_gnt_err by forcing
"tb.dut.u_eflash.gen_flash_cores[0].u_core.muxed_part" @tb.dut.u_eflash.gen_flash_cores[0].u_core.host_gnt;
or
"tb.dut.u_eflash.gen

[2022-09-27 17:12] jdonjdon commented on #15155
![image](https://user-images.githubusercontent.com/99843637/192592140-61ab2eab-9778-4827-bd28-a48ffd591abe.png)

[2022-09-27 17:14] msfschaffner commented on #4244
Ok, sounds good!
We can probably do that similarly to the clock group review that we did recently...

[2022-09-27 17:30] jeoongp commented on #14785
@tjaychen thanks for suggestion. Yes, it's better to move only escalation receiver to ESC domain async from LC domain where the fault registers are.

[2022-09-27 17:41] jdonjdon opened #15157 "[flash_ctrl] err_code.rd_err doesn't capture intg error in the middle of transaction"
use #15143
cmd:
./util/dvsim/dvsim.py ./hw/ip/flash_ctrl/dv/flash_ctrl_sim_cfg.hjson -i flash_ctrl_integrity -r 1 -s 1670833615 --waves

@4312991.8ns
tb.dut.u_eflash.gen_flash_cores[1].u_core.u_rd.intg_ecc_err_o
tb.dut.u_eflash.gen_flash_cores[1].u_core.rd_err_o
tb.dut.u_eflash.gen_flash_cores[1].u_core.rd_done_o
tb.dut.u_reg_core.u_err_code_rd_err.qs[0:0]

This is ctrl read and read response. Int

[2022-09-27 17:41] jdonjdon commented on #15157
![image](https://user-images.githubusercontent.com/99843637/192598399-9a630f97-c9de-4078-ad98-f7d0ae178139.png)

[2022-09-27 17:44] drewmacrae commented on #12259
I know what's going on here now... I think and I think we can close it, but keeping the workaround from #12237 is still useful to let us build software for verilated tests without building the verilated model.

We don't rely on rdeps in our CI at present and that's an issue with Bazel, not OpenTitan even if we could reproduce it.

Here's what I understand about filtering, why it appeared problemat

[2022-09-27 17:44] #12259 closed

[2022-09-27 17:49] drewmacrae commented on #13042
Does #15151 get us close enough we're comfortable finding the waveform, repeating the test under the shell's control etc?

[2022-09-27 17:53] jdonjdon opened #15158 "[flash_ctrl] ProgVerify_A fail"
use https://github.com/lowRISC/opentitan/pull/15143
cmd:
./util/dvsim/dvsim.py ./hw/ip/flash_ctrl/dv/flash_ctrl_sim_cfg.hjson -i flash_ctrl_hw_rma_reset -r 1 -s 2668974404 --waves

please check if this is real issue

"../src/lowrisc_ip_flash_ctrl_0.1/rtl/[flash_ctrl_lcmgr.sv](http://flash_ctrl_lcmgr.sv/)", 925: tb.dut.u_flash_hw_if.ProgRdVerify_A: started at 35166500ps failed at 35166500ps
Offendi

[2022-09-27 17:54] jdonjdon commented on #15158
![image](https://user-images.githubusercontent.com/99843637/192600861-f2d16229-8185-4881-8012-acf355be48bb.png)

[2022-09-27 17:55] timothytrippel commented on #15106
I dug into the signing tool rules (and deps) and it does not look like this is case.

[2022-09-27 17:56] timothytrippel commented on #15106
@vogelpi I couldn't remember from when we chatted about this but do you happen to be using a [disk cache](https://docs.opentitan.org/doc/ug/bazel_notes/#disk-cache) at all?

[2022-09-27 17:57] jeoongp commented on #15134
In #13859 and #13586, we concluded there was no timing relation between SW write and CSB. So it's working like a sampling transaction as @weicaiyang mentioned "SPI host reads either these 2 values in this case, since the next read will get the updated value." But, we did not confirm it by checking a TPM spec. @a-will, if this assumption is different from the TPM spec, please let me know.

This top

[2022-09-27 17:59] jeoongp commented on #14940
@a-will @tjaychen @eunchan @weicaiyang do you know where we have a spec that defines this timing relation between SW write and SPI address phase?

This timing condition can be compared with #15134.

[2022-09-27 18:00] timothytrippel commented on #15106
Separately, I think #15055 may have solved this issue. Can you confirm if this is true @vogelpi ?

[2022-09-27 18:25] a-will commented on #14940
It is written immediately on spi_clk. Write actions from SW are synchronized to spi_clk before writing to the flop in the spi_clk domain.

The SPI flash protocol always has an 8-bit command (except for eXecute-In-Place mode, which we don't support). Addresses follow the command, so we're guaranteed at least 8 clocks before the address mode _must_ be known (though an implementation could conceivabl

[2022-09-27 18:50] weicaiyang commented on #15134
`disable the immediate return` could cause some other problems
1. another race condition - SPI is reading return-by-HW registers while this is happening
2. some return-by-HW registers is required to return with only 1 wait state.

[2022-09-27 18:56] #14679 closed

[2022-09-27 19:13] msfschaffner commented on #14611
@GregAC Afaik, the error value on responses is not set in the fabric directly, but inside the `tlul_adapter_sram` and `tlul_adapter_reg` modules. The data is set to all-ones in case of an error or write response, see:

https://github.com/lowRISC/opentitan/blob/75e9c17354d9c01aa257b2e2996c1b635c5a003e/hw/ip/tlul/rtl/tlul_adapter_reg.sv#L94-L97

https://github.com/lowRISC/opentitan/blob/75e9c17354d9

[2022-09-27 19:19] colinoflynn commented on #15099
The CW310/SPI interface is currently defined as some specific pins on the SAM3X. Those are programmed in the SAM3X right now for usage with the higher-level interface. This is shown in the [Python higher-level interface file](https://github.com/newaetech/chipwhisperer/blob/develop/software/chipwhisperer/capture/targets/CW310.py#L533). This gets passed through to the SAM3X firmware [here](https://g

[2022-09-27 19:24] colinoflynn commented on #15099
Sorry left the link out - you can see the [OT rust library for USB/SPI](https://github.com/lowRISC/opentitan/blob/master/sw/host/opentitanlib/src/transport/cw310/spi.rs).

There is the original [python loader](https://github.com/newaetech/opentitan/blob/master/util/fpga/cw310_loader.py) which uses the ChipWhisperer API as well - you can see that file as well as the same one in the folder called `c

[2022-09-27 19:24] #15104 closed

[2022-09-27 19:30] #14805 closed

[2022-09-27 19:47] Jacob-Levy opened #15160 "dvsim of: `hw/top_earlgrey/dv/chip_sim_cfg.hjson` fails on syntax error"
After `opentitan` rebase, the dvsim of: `hw/top_earlgrey/dv/chip_sim_cfg.hjson` fails on syntax error.

[code]
@sha-ron @tjaychen @sriyerg  @arnonsha

[2022-09-27 20:37] dmcardle opened #15162 "Fix OTP splicing with updatemem"
I think OTP splicing might not be working properly. I changed the value of `CREATOR_SW_CFG_ROM_EXEC_EN` and modified the SRAM execution test to (1) use an OTP-spliced bitstream and (2) print the OTP value at the expected address. Bazel definitely ran the commands to splice the OTP image in, but when the GDB script ran, it printed the default value for `CREATOR_SW_CFG_ROM_EXEC_EN` rather than the v

[2022-09-27 20:37] tjaychen commented on #15134
@weicaiyang / @jeoongp since @a-will isn't really an expert on tpm, i think maybe we can look into the spec ourselves also and confirm with @a-pronin

[2022-09-27 20:42] weicaiyang commented on #15134
sounds good. Will read the spec again.

[2022-09-27 20:49] tjaychen commented on #15134
yeah i'll help have a peek later also.

[2022-09-27 20:50] weicaiyang commented on #15134
Thanks Tim

[2022-09-27 20:52] tjaychen commented on #15155
let me look at this again, i actually don't completely remember what host grant error even is..

[2022-09-27 20:54] msfschaffner commented on #14921
I believe I know why this is happening - let me take a closer look (errors associated with TL-UL windows have to be generated outside the `reg_top` instance, and this may not be implemented correctly).

[2022-09-27 20:57] msfschaffner commented on #14200
This may be related to #14653 and #14921.
Let me help take a look.

[2022-09-27 21:01] dmcardle commented on #15162
I ran Vivado with a modified TCL script where I don't make modification to `slice_end`. At least superficially, rom.mmi looks unchanged, and otp.mmi doesn't appear to overlap anymore! (Still need to try the spliced bitstream on an FPGA.)

I opened the Vivado GUI and searched for cells of type BMEM.BRAM, and it's now very clear why the placement values have that strange prefix. For example, the OTP

[2022-09-27 21:05] jeoongp commented on #15134
@tjaychen @weicaiyang no problem.
As you know, I am also not familiar with the TPM spec and SPI flash spec..
So, I think it's better for me to learn the timing relation required for busy bit in SPI flash (#14940). Once I understand it, I can also find similar contents from SPI TPM spec.
If you don't mind, can you let me know where we can find the timing relation between SW write for busy-bit and S

[2022-09-27 21:06] weicaiyang commented on #14940
In this issue, I actually wanted to know the relationship between 2 SPI commands. I always let SW update 3b/4b address while SPI is completed idle. This makes me think I need to consider HW and SW racing condition. There is a case that upstream SPI sends EN4B/EX4B to the upload fifo and set busy bit. Then SW updates 3b/4b before clear the busy bit. In the meanwhile, upstream SPI keeps polling the

[2022-09-27 21:14] weicaiyang commented on #14940
IIUC, after SW clears the busy bit, upstream SPI needs to poll 1-2 read status to know the busy bit is cleared and then 8 cycles to sends opcode. After all these, it enters address phase. Not sure if there is any concern on this timing?

[2022-09-27 21:29] tjaychen commented on #14940
@jeoongp it might be good to have a look at one of the spi flash specs to get an idea of the general behavior.
I can send you one that I usually reference.

@weicaiyang is it correct to use read status polling for EN4B/EX4B? I don't think the BUSY bit is required to be set when we send those commands.

[2022-09-27 21:36] jeoongp commented on #14940
@tjaychen @weicaiyang thanks for info. Once I receive the SPI flash spec, I will review it based on the info.

[2022-09-27 21:42] a-will commented on #14940
No, it's not. EN4B / EX4B must complete immediately (same as WREN / WRDI), and that is the motivation for moving their source-of-truth to the spi_clk domain.

[2022-09-27 21:52] jeoongp commented on #14940
Currently, SW busy bit in cmd_info looks like nothing to do with address commands in HW.
@a-will do you suggest HW-based autonomous handling without SW busy-bit as long as the timing (8 spi cycles for cmd and 8 cycles for address) is OK?
Or, do you suggest HW + SW busy-bit approach?

Sorry for repeated questions.. Please correct me if my understanding is incorrect.

[2022-09-27 21:54] tjaychen commented on #15134
i think for that one we need to dig into the actual tpm spec a bit to see if they mention anything.
I don't know off the top of my head at least.

The main things I think we want to look for, is whether there is any protocol provisioning for "how long" after a reg update the host will issue a read.  The spec might give some minimum time, it might not.

You can also feel free to poke Andrey, i've c

[2022-09-27 21:56] a-will commented on #14940
I think we're talking about different things. In this thread, the busy bit handling is an example of a bit that has its source-of-truth in the spi_clk domain, where it is updated immediately in response to incoming flash commands, but it can also have updates coming from software. The design approach we took with it can be applied here.

It otherwise has no relationship to EN4B / EX4B.

[2022-09-27 22:02] a-will commented on #15135
What was discussed? What is our driving use case for it? (Mostly, I'm asking so that we document it, since I suspect a single sentence is plenty of explanation. However, an offline conversation isn't inclusive.)

[2022-09-27 22:05] weicaiyang commented on #14940
I was thinking we use command upload for EN4B/EX4B. Then, we need to set busy bit and let SW read the upload fifo and  update 3b/4b. If it's not via upload command, EN4B/EX4B and WRDI/WREN won't set the busy bit as @a-will mentioned

[2022-09-27 22:06] tjaychen commented on #14940
hey all, if it helps, we can probably set a quick meeting to clear up any confusion.

[2022-09-27 22:10] a-will commented on #14940
No, command upload should not be used for this. Again, EN4B / EX4B _must_ complete before any subsequent command. There is no back pressure, no busy bit, nothing to hold off the next command so software has enough time to respond. This need is the reason EN4B, EX4B, WRDI, and WREN have their own, named command info slots.

[2022-09-27 22:12] tjaychen commented on #15155
@jdonjdon i just pushed an extra commit to the PR, can you have a look?
The definition is changed slightly, but I hope this helps with the hanging issue.

[2022-09-27 22:18] weicaiyang commented on #14940
I see. That makes sense. We shouldn't use upload command for EN4B, EX4B, WRDI, and WREN, otherwise, it violates the protocol.

Then, in term of SW updating 3b/4b address, it should be done at the very beginning before any SPI transaction starts, right? If so, we won't have race condition that SW updates 3b/4b while receiving a SPI transaction with address.

[2022-09-27 22:23] a-will commented on #14940
Yup! As long as we can commit the SW updates before the address mode must be known, we will avoid what I'll call "synchronization issues". Practically-speaking, SW will only change the address mode while the upstream host is in reset, so we just need to get that value synchronized (and if the incoming command is EN4B / EX4B, drop the SW change and prioritize the hardware change).

[2022-09-27 22:44] tjaychen commented on #15157
@jdonjdon i might need some more context on what we are trying to test here.
Specifically in this case, the `rd_err_o` you're seeing at 17320 is actually a read error for the host.
So instead of seeing `rd_done_o`, you'll see `host_req_done_o`.

On the next one, it's actually a controller issued transaction, that's why you'll see `rd_done_o`.

Although now i'm worried we're mixing the host read do

[2022-09-27 22:51] #15003 closed

[2022-09-27 23:03] msfschaffner commented on #14200
I ran

GH revision: [9c0b24ddb](https://github.com/lowrisc/opentitan/tree/9c0b24ddbeb5616bd8db661ec1395f2d4f326bc4)
util/dvsim/dvsim.py hw/top_earlgrey/dv/chip_sim_cfg.hjson -i chip_tl_errors --build-seed 2483310614 --fixed-seed 4154093656

and

Git revision: https://github.com/lowRISC/opentitan/commit/f781bc270191c7ce152ddc55618ea36d992abb31
util/dvsim/dvsim.py hw/top_earlgrey/dv/chip_sim_cfg.hjs

[2022-09-27 23:11] hstr0 commented on #15099
Thank you all for the helpful answers and especially for the nice details @colinoflynn!

In our setting we are reading data from a microSD card on another board directly with an FPGA and have single bytes waiting for transmission to the CW310. From there we unfortunately can't use the proposed API. In fact the protocol doesn't matter as long as the transmission is fast enough and is relatively eas

[2022-09-27 23:16] weicaiyang commented on #14940
Thanks @a-will. The side discussion on the relationship of busy bit and EN4B/EX4B is clear to me now. @jeoongp please raise again if anything isn't clear to you.

Let's back to the original issue. (didn't find a good time slot that works for all of us today. let's see how the discussion goes. I may schedule a quick meeting tomorrow to solve this)

So, we need 5 sys_clk. sys_clk is 24mhz. it's 42x5

[2022-09-27 23:31] tjaychen commented on #15160
hmm... is there anything different in your environment? I don't believe i've seen this issue so far.   We'll also probably need to see more of your run log .

[2022-09-27 23:43] a-pronin commented on #15134
There is no limitation on how quickly after a write to a register the host can issue a read. But there's little hw can do with it. The register contents after a write are not necessarily "<pre-write-value> OR <written-bit>", so hardware can't auto-set it on write. It's up to software to react to writes and set a new value.

Two notes:
1) The host is responsible for polling the register until it se

[2022-09-27 23:43] jeoongp commented on #14940
I am also clear now thanks to this clarification and help from @tjaychen ^__^

[2022-09-27 23:51] tjaychen commented on #15158
okay i had a look at this. This is expected behavior.
When we have a disable event or escalation, it completely blocks off the access to flash such that not even rma can complete.

This is actually related to #14867 , but the effects are even more pronounced than i realized.

[2022-09-27 23:55] tjaychen commented on #15158
let's keep this one open for a bit though and let me think if there's an easy way to allow rma entry to complete.

[2022-09-28 00:07] Jacob-Levy commented on #15160
The run.log has only in it...

[code]

[2022-09-28 00:07] jeoongp commented on #15134
Thanks @a-pronin!
TPM does not have a spec on Erase/Write In Progress (BUSY) in the same way as SPI_FLASH, does it?

[2022-09-28 00:10] Jacob-Levy commented on #15160
I will try to 'bazel --expunge' and rerun to see if it helps...

[2022-09-28 00:22] a-pronin commented on #15133
disclaimer: we don't use HASH_START/_DATA/_END, so never looked at this part of the spec before.

if I were to judge: yes, as @weicaiyang and @a-will say above, it appears to be a bug in the spec (and it is already there in [rev 0.43](https://trustedcomputinggroup.org/wp-content/uploads/TCG_PC_Client_Platform_TPM_Profile_PTP_2.0_r43.pdf) from 2015). and it's not covered in the curent errata.

HASH

[2022-09-28 00:24] alphan commented on #6220
I think we can close this since we now can
* Attach a debugger,
* Build programs to be executed from SRAM (e.g. for dumps over UART) and inject them.

@tjaychen @dmcardle plmk if you have any concerns.