[2022-06-23 18:03] tjaychen commented on #13363
@cindychip this might have been a typo on our side.
can you change [this line](https://github.com/lowRISC/opentitan/blob/master/hw/ip/tlul/rtl/tlul_lc_gate.sv#L157) to `StErrorOutstanding` and let me know if the behavior changes?

[2022-06-23 18:20] cindychip commented on #13363
Thanks @tjaychen for taking a look,
when I changed the state to `StErrorOutstanding`, the state machine stuck at this state and still did not get a TL response.

![image](https://user-images.githubusercontent.com/11466553/175367786-97c78918-ef5c-4817-a25b-7b3bb11c1eb7.png)

[2022-06-23 18:28] cindychip commented on #13363
Thanks Tim! I feel the `err_en` turned off too quickly that RTL did not allow the last gated error transaction to send out. But like I mentioned in the issue, top-level is not likely to see this issue in OTP. Unless other IPs are using this `err_en` signal more robustly, it is not a big issue.

[2022-06-23 18:31] tjaychen commented on #13363
yeah i need to have a quick look. The error outstanding stage is "supposed" to say, keep erroring until all outstanding transactions have completed, i need to have a look at why it's not doing that.

[2022-06-23 19:36] cindychip commented on #13363
Sorry my bad, I pasted a wrong name for the FSM.... The test passed with your FSM fixes.

[2022-06-23 19:57] Jacob-Levy commented on #13358
@weicaiyang here is a new fail that may be a good example...

`../src/lowrisc_prim_onehot_check_0/rtl/prim_onehot_check.sv", 152: tb.dut.u_reg.u_prim_reg_we_check.u_prim_onehot_check.gen_generic.AssertConnected_A: started at 1ps failed at 1ps Offending '((unused_assert_connected === 1'b1) || (!EnableAlertTriggerSVA))' UVM_ERROR @ 1 ps: (prim_onehot_check.sv:152) [ASSERT FAILED] AssertConnected_A`

[2022-06-23 20:05] tjaychen commented on #13358
ahhh.... @weicaiyang since ast isn't a comportable module, (but it does contain a regfile), this assertion doesn't really apply to them.  Should we just disable this for `ast`?

[2022-06-23 20:40] cindychip opened #13366 "[otp_ctrl] prim_tl_i/o does not have bus integrity alert"
Hi Michael,

I want to check if it is expected that prim_tl_o/i open source does not send alert if TL integrity error is triggered. Currently it only sets d_error to 1.
Form the code, currently only this error will trigger alert in prim_tl_o/i interface:
https://github.com/lowRISC/opentitan/blob/master/hw/ip/tlul/rtl/tlul_lc_gate.sv#L170

Thanks,
Cindy

[2022-06-23 20:49] moidx commented on #10194
Added PR #13367 to add support for this in the ROM init sequence.

[2022-06-23 21:11] tjaychen commented on #13358
o that works too! I guess it doesn't have to be an alert.

On Thu, Jun 23, 2022 at 2:03 PM weicaiyang ***@***.***> wrote:

[2022-06-23 21:17] weicaiyang commented on #13358
yeah, ast and alert_handler don't fire an alert, so those are handled differently

[2022-06-23 22:58] #13363 closed

[2022-06-23 23:00] #8778 closed

[2022-06-23 23:07] weicaiyang opened #13373 "[chip, dv] Some pad IO are forced in vseq"
@sriyerg

The chip-level sysrst test directly forces the pad IO in this PR https://github.com/lowRISC/opentitan/pull/13216. I think it may be OK for now.
Once we update the pinmux configuration based on the actual use case, we should also clean up these forces.

[2022-06-23 23:13] moidx opened #13374 "[ci] Skip FPGA build if there are no hardware or `test_rom`|`mask_rom` changes."
This is to optimize the CI iteration time. Alternative as a workaround, we should be able to skip FPGA builds if changes reside in any of the following build paths:

[code]

[2022-06-23 23:28] arunthomas commented on #13374
CCing @milesdai since we talked about this today

[2022-06-24 00:25] drewmacrae commented on #13362
https://cs.opensource.google/opentitan/opentitan/+/master:ci/jobs/quick-lint.sh;l=6?q=quick&sq=&ss=opentitan%2Fopentitan

Does a lot of this, I think some steps could be ported to the bazel version and the vendored versions could be removed.

azure-pipelines.yml duplicates functionality in that shell script

[2022-06-24 00:47] matutem commented on #13354
If I understand correctly, a SW triggered reset for some peripheral was also resetting some part of the xbar... which I assume had undesirable side-effects.

[2022-06-24 01:18] trrrraum opened #13377 "The file starting with xil.default cannot be found when FPGA is built"
When building opentitan with FPGA, bitstream is successfully generated, but looking at Hierarchy, I found that xil_defaultlib.xxxxxx are instantiated under many header files, but they are not added to the project. Could anyone tell me which step is the problem? Thanks!

[2022-06-24 01:23] #13223 closed

[2022-06-24 01:32] trrrraum commented on #13377
I didn't use bazel to build the FPGA, I used:
**./meson_init.sh
ninja -C build-out all
fusesoc --verbose --cores-root . run --flag=fileset_top --target=synth lowrisc:systems:chip_earlgrey_cw310**

[2022-06-24 02:36] a-will commented on #13098
Resolved by #13277. Thanks, @alphan!

[2022-06-24 02:36] #13098 closed

[2022-06-24 02:47] #13283 closed

[2022-06-24 03:43] moidx opened #13379 "[chip fpga] entropy_src_kat_test not working on FPGA"
Test introduced in PR #13378. For the FPGA target the digest comparison provides incorrect results:

[code]

[2022-06-24 08:58] marnovandermaas commented on #13336
For what it's worth, there are these two functions:
- `dif_entropy_src_init` defined at https://github.com/lowRISC/opentitan/blob/master/sw/device/lib/dif/autogen/dif_entropy_src_autogen.c#L14
- `dif_entropy_src_configure`defined at https://github.com/lowRISC/opentitan/blob/master/sw/device/lib/dif/dif_entropy_src.c#L16

We could refer to those in the documentation?

[2022-06-24 09:47] #13323 closed

[2022-06-24 09:51] vogelpi commented on #13325
Thanks for raising this issue. It's indeed intended behavior to only signal the error if the value is actually read from the `RND` register. The reason is that in the current OTBN design, all recoverable errors are synchronous, i.e., they can only happen during OTBN program executing. If we were instead signaling the error upon receiving the non-FIPS entropy, the error could also be triggered afte

[2022-06-24 11:48] alphan opened #13382 "[sw/lib,testing] ibex_mepc_read() might be a bad idea"
Ran into this while working on SRAM execution tests. We have a function called `ibex_mepc_read()` that is used in several places in tests to print the current value of `PC`. The value returned by this function, however, is most likely the PC for `ibex_mepc_read()` and not what the call sites expect.

[2022-06-24 12:00] alphan commented on #13382
Nevermind, this is the machine **exception** program counter register.

[2022-06-24 12:31] #12903 closed

[2022-06-24 15:51] msfschaffner commented on #13148
We've discussed and approved this RFC in the TC meeting today.

[2022-06-24 15:53] engdoreis opened #13393 "Run the test entropy src end reqs in continuous mode"
Run the test entropy src end reqs  in continuous mode and configure the EDN to force a CSRNG trigger a couple of times.

[2022-06-24 15:53] engdoreis commented on #13393
Tagging @moidx for visibility

[2022-06-24 15:58] msfschaffner opened #13395 "RFC: OpenTitan V1 Milestone - Sign-off Process"
This is still TBD.

[2022-06-24 15:59] msfschaffner opened #13396 "RFC: OpenTitan V3 Milestone - Sign-off Process"
This is still TBD.

[2022-06-24 16:04] ctopal commented on #11535
Will be resolved by #13331

[2022-06-24 16:05] ctopal commented on #11537
Will be resolved by #13391

[2022-06-24 16:07] ctopal commented on #7424
@GregAC Any news on this front?

[2022-06-24 16:08] GregAC commented on #7424
@andreaskurth was taking a look at this

[2022-06-24 16:32] #13354 closed

[2022-06-24 16:38] ctopal commented on #9665
Tracked in #13329

[2022-06-24 16:40] ctopal commented on #9663
Hi @GregAC is this considered done because of [this part](https://docs.opentitan.org/hw/ip/otbn/doc/#blanking)? If not, it might be better to have it before starting to the verification of blanking.

[2022-06-24 16:45] ctopal commented on #8088
This is getting covered extensively now under `insn_bn_xid` covergroup (in multiple coverpoints as `inc_both`)

[2022-06-24 17:17] dharanendrak commented on #13358
Fixed, in https://github.com/lowRISC/opentitan/pull/13400

[2022-06-24 17:48] weicaiyang opened #13402 "[dv, style] Disallow to use wait directly without having a timer watchdog"
Thanks @tjaychen for bringing this up.

If the condition of wait statement is never satisfied, the simulation will get stuck until the global timer expires which may take hours in chip-level sim.
We have a macro `DV_SPINWAIT`, which creates a watchdog timer along with the wait statement.

we should update the DV style with this rule - always use `DV_SPINWAIT for wait statement and non-forever whil

[2022-06-24 18:42] drewmacrae opened #13405 "[ci] Scripts should use clang-format from the toolchain"
Right now we're using clang-format from the system path and now that the results are different between the version of clang-format on CI, and on tthe toolchain, we should update CI to use clang-format from the lowrisc toolchain

[2022-06-24 19:04] dmcardle opened #13406 "[util] clangd complaining about unknown argument '-fno-canonical-system-headers'"
I see this on the first line of .c sources, but I'm not exactly sure why.

I have a sneaking suspicion that compile_commands.json is using the wrong gcc, but I'm not sure how that would work; the `bazel aquery` results explicitly call /usr/bin/gcc.

@drewmacrae IIRC, you mentioned something about "gcc" being a lie for host-targeted builds. Could you point me to where that misdirection occurs?

The

[2022-06-24 19:07] jeoongp commented on #13286
RTL update is committed in https://github.com/lowRISC/opentitan/pull/13398.

[2022-06-24 19:36] drewmacrae commented on #13406
https://github.com/lowRISC/bazel-embedded/tree/riscv32/toolchains/lowrisc_toolchain_rv32imc/clang_wrappers There's a set of symlinks in here

[2022-06-24 19:39] dmcardle commented on #13406
Oh, I think I got it backwards! It looks like this only affects cross-compiles for riscv — I'm guessing executing `gcc` causes `clang_wrappers/gcc` to run, which just execs the riscv `clang` binary.

[2022-06-24 20:54] weicaiyang commented on #13308
xcelium 21.09 also works after changing jaspergold version to 2021-12.

[2022-06-24 20:54] #13308 closed

[2022-06-24 21:38] cindychip commented on #13026
Hi @msfschaffner I want to ask another question regarding the fix of this issue: https://github.com/lowRISC/opentitan/pull/13177/files

From the fix, seems like any class clear will cause to re-latch the crashdump.
For example:
1). Crashdump is captured due to class A meets the crashdump trigger critiera.
2). Class D is being cleared.
3). Then this class D clear register also clears crashdump valu

[2022-06-24 22:09] jdonjdon opened #13408 "[flash_ctrl] controller issue same address twice when it compete with host direct access"
In the test,
controller and host compete to access flash device by issuing read request on the same bank (bank1)
For test convenience, all host request(direct) has byte address bit[18] set to distinguish from
controller request.
At the bank 1 phy interface, dut issues bunch of read request mixed with host and controller read request.
But the frist two "controller" read request have the same addres

[2022-06-24 23:11] weicaiyang opened #13411 "[dv] usb clk measurement fails"
@matutem

I enabled the clock measurement in chip-level tests.  Looks like 1/3 usb clk measurement fails. We expect the cnt range to be ee-f0, but it may get to f1. Should we relax the max threshold a bit?
![Screen Shot 2022-06-24 at 4 08 08 PM](https://user-images.githubusercontent.com/49293026/175721447-215680d8-f0bc-427a-a6b4-2cb40a17c806.png)

Here is the waveform:

[2022-06-24 23:17] matutem commented on #13411
Hmm, are you running with calibrated usb clock? Background: the AST starts up with uncalibrated USB, so it will be off. Rather than relaxing the measurement requirements we pass a runtime plusargs to simv so the AST will run with calibrated clocks, which is done with
  run_opts: ["+calibrate_usb_clk=1"]
in your test's json entry.

[2022-06-24 23:42] weicaiyang commented on #13411
I see. Thanks. Let me have a try

[2022-06-25 00:06] matutem commented on #13411
By the way, setting the clock to be calibrated may seem too aggressive, but USB calibration is a very specific step and involves the vendor. It is best to run specific tests for calibration separately, and assume it has already been done for the bulk of tests.

[2022-06-25 00:56] tjaychen commented on #13408
@jdonjdon and i had a look at this.
This is happening because of the flash local buffering.
Since flash words are wider than bus words, flash reads are buffered locally. If the next read matches the address of the local buffer, it reads from there directly instead of the flash.

In the host/controller interleave test however, the first buffered controller read data gets evicted by the burst of hos

[2022-06-25 16:57] #13408 closed

[2022-06-25 16:58] jdonjdon commented on #13408
TB is updated to model local buffer behavior. Will be added with direct rd test.

[2022-06-25 20:10] Jacob-Levy commented on #13358
@weicaiyang  @tjaychen Did you guys made a change to the OS 'ast.sv'?
If so, I am not aware of it and I need to know what the change is for?
I have two 'ast.sv' one for OS and one for NTIL...

[2022-06-27 03:05] tjaychen commented on #13358
i did not make a change.
@weicaiyang added an open source required assertion to [ast](https://github.com/lowRISC/opentitan/commit/357d9fbc93d827812e22ea9350476cf210a80eb1#diff-cee82d13f3ab3ce1ea8fc438d56bdf8bef7e25df0172f7bd96c4b6cac55a86f1R1001-R1003)'

sorry about that, I forgot to mention that during the review. Do you mind taking those changes into your area @Jacob-Levy ?

[2022-06-27 04:44] dharanendrak commented on #12308
This issue has been addressed with the pwm_stress_all testcase

[2022-06-27 05:01] weicaiyang commented on #13411
Thanks @matutem. `+calibrate_usb_clk` works.

Looks like you and Tim have discussed the usb calibration test offline. Closing this issue now

[2022-06-27 05:01] #13411 closed

[2022-06-27 06:29] eshapira commented on #12944
This can be good, but it should be called not once in the beginning of the sequence, but in the begging of each of the transactions.
In addition this will not solve the other problem. The fact that any CSR access will trigger the alert expectation. I think that only when writing to the control register, the alert should start being expected, depending on the exp_alert variable of course.

[2022-06-27 11:19] davebwil opened #13415 "[sw,tests,dv] Top level tests running from ROM do not build/run"
The tests that run directly from ROM rather than flash fail to run in the current build environment.
The example ROM test (chip_sw_example_rom) shows this. It also affects some top level tests for flash_ctrl.

[2022-06-27 11:20] davebwil commented on #13415
Hi @timothytrippel, we discussed this verbally but I have added an issue for visibility, thanks.

[2022-06-27 16:07] #13087 closed

[2022-06-27 16:20] weicaiyang commented on #5158
@visbaz can you take a look?

[2022-06-27 16:28] weicaiyang commented on #12989
@tjaychen can you check if the watermark is edge triggered in spi_host?

[2022-06-27 16:31] weicaiyang commented on #12989
@visbaz can you check if the watermark test covers 3 scenario above?

[2022-06-27 21:43] msfschaffner commented on #13366
Hey @cindychip,

Indeed, these wrapper prims currently do not expose the bus integrity alert, although I believe in the closed source version that error condition is fed into the wrapper specific alerts that are sent over to AST...

@tjaychen do we want to expose the integrity error condition in `prim_flash` and `prim_otp` as a dedicated `intg_err_o` signals so that they can be fed into the correc

[2022-06-27 21:44] dmcardle commented on #10867
@milesdai It seems like we've implemented the same functionality twice in `util/fpga/splice_rom.sh` and `//rules/splice.bzl` (used by `//hw/bitstream/vivado:fpga_cw310_mask_rom`). Is one of these deprecated, or should I be implementing the OTP splicing feature in both?

In Bazel, I think I can just reuse the existing [`bitstream_splice`](https://cs.opensource.google/opentitan/opentitan/+/master:ru

[2022-06-27 22:20] #13230 closed, assigned to moidx

[2022-06-27 22:24] pbf2014 commented on #8049
Hi Rupert,

Just to follow up this issue again.

Earlier I can workaround by changing the parameter setting of NrHarts from default 1 to 2 in rv_dm.hjson, then hacked the top level to wire each bit of "debug_req_o" to different cores.

However, when I looked further (the synthesis will report error as well in multiple harts case), the "rv_dm.sv" wrapper file is already hard coded to one bit.  (See

[2022-06-28 02:15] sriyerg commented on #8049
This does seem like a bug. Thanks for catching it. I can make a fix soon.

Please note that we only verify `NrHarts == 1` case - the onus is on you to verify `NrHarts != 1` design works as intended.

[2022-06-28 04:13] jdonjdon opened #13429 "[flash_ctrl/doc] clarify the access resolution limit of scramble and ecc"
Minimum resolution in host/cotroller interface is 32 bit while flash device is 64 bit.
To mitigate this discrepancy, rtl put all f's to invalid 4byte word when 4byte aligned access
is issued from host/controller.
However, when scramble / ecc are enabled, it requires 64bit per cycle of data. So all invalid
segment become part of scambling / ecc calulation and invalid data cannot be remained as all

[2022-06-28 07:49] sha-ron opened #13430 "[sw tests,dv] Passing arguments from cfg hjson file to bazel"
Need to transfer bazel_opts to a global integer such that we can add options from chip_ast_sim_cfg.hjson.
For example, we need to transfer MANUFACTURER_HOOKS_DIR.
@sriyerg @tjaychen  FYI.

[2022-06-28 12:39] Jacob-Levy commented on #13358
After adding the macro I am getting the following warnings...
[code]

[2022-06-28 13:08] jdonjdon commented on #12944
@eshapira I am looking at this now and update in this thread.

[2022-06-28 13:47] ctopal commented on #13327
After some talks with @vogelpi and @GregAC, it definitely looks like this countermeasure is not actually verifiable since it's more of an architectural countermeasure rather than a functional one. Might need further talk about what to do for this kind of cases in OpenTitan as a whole. For now, no work needs to be done here.

[2022-06-28 13:59] msfschaffner opened #13434 "[pwm] Heartbeat DC overflow question"
Hey @martin-lueker, the PWM spec mentions that during heartbeat mode, the linearly transformed duty cycle will NEVER overflow or underflow when the two values A/B are set close to 0 and 2^16-1:
https://github.com/lowRISC/opentitan/blob/9b6225e63885b551f432a6f89189f9f4383e09ce/hw/ip/pwm/doc/_index.md?plain=1#L275-L277

Is this really the case?
It appears that the RTL allows the value to overflow ex

[2022-06-28 14:06] ctopal commented on #11546
@vogelpi and @GregAC : Is this one only about repetition and `FIPS` related checks?

[2022-06-28 14:32] msfschaffner commented on #10867
Just had a chat with @dmcardle, and noting a few details here for posteriority.

The image generator script knows the architectural widths (read from OTP and LC config files):
https://github.com/lowRISC/opentitan/blob/9b6225e63885b551f432a6f89189f9f4383e09ce/util/design/lib/OtpMemImg.py#L93-L101

Note that the width in the comment inside the hex file is byte aligned.

You could use this info to an

[2022-06-28 14:52] ctopal commented on #13329
Mail from @vogelpi explaining what to do and how (thanks!):

Basically, we should verify two things:

1. We blank according to the pre-decoder output, e.g., Adder X never
sees non-zero inputs unless adder_x_en is set.

2. We blank whenever the output of a unit isn't used, e.g., adder_x_en
is never set unless its output is actually consumed. However, we already
compute the enable signals twice, onc

[2022-06-28 15:07] #8049 closed

[2022-06-28 15:09] sriyerg commented on #8049
@pbf2014, the fix for this is now merged. Please rebase and try. Let us know if it is working for you.

[2022-06-28 15:58] martin-lueker commented on #13434
I see what you are saying.  @Muqing-Liu, can you take a look at this one?

[2022-06-28 16:24] msfschaffner commented on #13434
One way to address this would be to always saturate values exactly at the A/B points.
That would however change the set of points in the backwards sequence B -> A.

[2022-06-28 17:02] msfschaffner opened #13437 "[spi_device] Check whether clock inverter can be removed"
As detailed in @tjaychen's slide deck [here](https://docs.google.com/presentation/d/14VfPqah-27uFUjkAS3WGbNxFH4EK-Y2PAvpjdHoUXn8/edit#slide=id.p), inverters on the clock network can cause significant skew, which in turn can result in very long build times or even infeasible configurations. Ideally, we would want to use negedge flops instead of inverting the clock explicitly.

@eunchan can you chec

[2022-06-28 17:30] #3904 closed

[2022-06-28 17:54] msfschaffner opened #13438 "[otp_ctrl] D3 opens"
- [x] FSM coverage should work now with the sparse FSM workaround. @cindychip  to confirm on https://github.com/lowRISC/opentitan/issues/11607.
- [x] Limited updates to the memory map (e.g. changing partition size, or modifying HW_CFG / SW_CFG items) should not gate D3 (this would be similar to parameterizing a PLIC or alert handler for a specific top-level. However, we should add a documentation

[2022-06-28 17:54] msfschaffner commented on #13438
CC @GregAC @a-will @cindychip

[2022-06-28 18:08] tjaychen commented on #13437
i'm not sure this is worth doing now, unless we find major issues related to this.

[2022-06-28 18:11] drewmacrae commented on #13362
I'm updating CI to use `./ci/bazelisk.sh run //:clang_format_check` and `./ci/bazelisk.sh run //:clang_format_fix` in preference to `clang-format` in the local environment.

[2022-06-28 18:19] tjaychen commented on #12989
@weicaiyang yes i believe that to be the case.
See [here](https://github.com/lowRISC/opentitan/blob/master/hw/ip/spi_host/rtl/spi_host.sv#L563).

@martin-lueker can you confirm?

[2022-06-28 18:21] tjaychen commented on #13366
would we do anything specific to the prim wrapper error? Would it mainly be feeding it into an integrity / fatal alert?
That sounds good to me, but if we do not want port changes on the prim modules, @weicaiyang recently also added a case for AST where the assertion check is slightly different.

Is the main benefit here that the automated CSR tests don't need to specifically expect different behav

[2022-06-28 18:23] tjaychen commented on #13358
that's weird, the assertion is supposed to define that path.
any thoughts @weicaiyang ?

[2022-06-28 18:35] a-will commented on #13437
Just to clarify a bit, behavioral logic on clock signals can be a source of greater skew, uncertainty, and routing congestion in FPGAs (due to going in and out of the fabric, instead of using the dedicated resources). At these low speeds and by itself, that one inverter is probably not a major problem. If we wanted to go at full speed on the FPGA, then it might be an obstacle.

The biggest source

[2022-06-28 18:35] Jacob-Levy commented on #13358
It is my local VCS testing environment...

[2022-06-28 18:37] tjaychen commented on #13437
that sounds good. Thanks for clarifying Alex.

@weicaiyang
I would say if we do want to make a change like this, it would be nice to do it after DV is stable.
That way if we do make a change, we can be reasonably certain we did not break anything.

[2022-06-28 18:40] weicaiyang commented on #12989
See [here](https://github.com/lowRISC/opentitan/blob/master/hw/ip/spi_host/rtl/spi_host.sv#L563).

Thanks Tim.
From what @visbaz and I observed in the waves, it's edge triggered.

[2022-06-28 18:44] tjaychen commented on #13358
do you mean this is specific to running with NTIL? or it also fails with VCS with the OS version?

[2022-06-28 18:52] Jacob-Levy commented on #13358
The added macro is shared by OS and NTIL
and I see the warning in both.

[2022-06-28 19:09] #11607 closed, assigned to nobody

[2022-06-28 19:30] weicaiyang commented on #13366
sounds like sending an alert like the regular bus integrity error is easier for DV. The automated CSR tests can work without update.
If it sends an alert/error to AST, then we need to update the scoreboard, perhaps just override the flash/otp scoreboard to handle that.

[2022-06-28 19:51] jon-flatley opened #13440 "[opentitantool] Tool fails when cw310 isn't connected"
When invoking `opentitantool` with the `--interface=cw310` argument provided, `opentitantool` prints `Error: Found no USB device` and exits. The [FPGA Setup documentation](https://docs.opentitan.org/doc/getting_started/setup_fpga/#flash-the-bitstream-onto-the-fpga) gives instructions to add this flag to `~/.config/opentitantool/config`. This means that all bazel targets that invoke `opentitantool`

[2022-06-28 20:00] tjaychen commented on #13358
@Jacob-Levy i think i read your original message wrong. This warning I think is expected.
The idea is that the module itself does not set it, and the `ASSERT` statement you added does instead. This is how we ensure every module actually provides the path to these standardized checks.

You should see the same thing for `prim_count`, which uses a similar system.  Do you see that?

[2022-06-28 20:14] msfschaffner commented on #13366
Yeah this would basically just expose the integrity error to the instantiating IP and we would connect it the same way as the other bus integrity error from the open-source CSR node.

[2022-06-28 20:17] tjaychen commented on #13366
that sounds good to me. So is it correct to say that we expect these standardized integrity errors to be exposed through usual means AND the vendor can extend it however it likes (for example otp sending an alert event to ast).

If we're going to do this to reg integrity, we should also think about how we feel about this for sparse fsm or prim_count. Would we have the same discussions there?

[2022-06-28 20:39] cindychip commented on #13366
Thanks Tim for your inputs! I discussed with Weicai and here is what we thought:
1). For tl integrity error - if we understand it correctly, we are kinda in an awkward position:
     if we keep the RTL as it is, then in open source TL integrity error happened, we won't see an alert.
     if we add an alert connection in open source code, in close source we will see two alerts firing...
2).  For pr

[2022-06-28 20:43] msfschaffner commented on #13366
Another way to handle 1) would be to add a dedicated alert channel to the comportable IP just for prim alerts, which could also include all the vendor alerts going out to AST at the moment (if AST does not rely on these indications in a functional way, but rather just forwards these things to sensor_ctrl, there is actually no need to send this over to AST in the first place).

For 2) I am still no

[2022-06-28 20:45] msfschaffner commented on #13366
I guess this touches on the discussion that we started here https://github.com/lowRISC/opentitan/issues/13337...

[2022-06-28 21:11] msfschaffner commented on #10069
Are there FIFO instances in the Xbar that we still need to wire up?
I believe you already connected FIFOs inside flash_ctrl, right?

[2022-06-28 21:38] cindychip commented on #13366
1). Sounds like a good plan.
2). For DV testcases, in close source OTP DV environment, we can override the checking that expects a normal alert_o to close source specific alert. This part does not need design inline assertions.
The design inline assertion would indeed expose close source paths, but it is mainly used for FPV. We can move these assertions to close source OTP code, and only check the

[2022-06-28 23:00] jeoongp commented on #13197
Churning out 1k W_MASYNC errors with two interim solutions while waiting for the tool support to recognize bit-masked memory.
1. Black-boxing dual port SRAM
2. Removing bitmask as a CDC model only

[2022-06-28 23:18] Muqing-Liu commented on #13434
Hi @msfschaffner, thanks a lot for pointing this out. I had a misunderstanding of this truncation, I will add a variable to store the untruncated values and decide whether to truncate the value based on the corresponding dc_wrap bit.

[2022-06-29 01:28] tjaychen commented on #13366
regarding number 2, if the closed source design ever decided to change the hierarchy path of the regfile, let's say instead of `prim_otp.u_reg` to `prim_otp.otp_core.u_reg`, we'd have the same issues right?

For 1, how different do we think that is from the existing alert? Is it mainly that we want to separate custom alerts from primitive alerts? Because maybe the right answer is that once they ma

[2022-06-29 02:28] martin-lueker commented on #12989
Yes thanks for looking that up Tim.  I agree.

[2022-06-29 02:29] martin-lueker commented on #12989
@weicaiyang: Is the action here then to update the documentation?

[2022-06-29 05:12] matutem commented on #6754
Most of this issues are already addressed, and some others were dropped, so I consider this done.

[2022-06-29 05:12] #6754 closed

[2022-06-29 05:49] eshapira commented on #12944
@jdonjdon OK thanks!

[2022-06-29 09:53] visbaz commented on #12130
@weicaiyang
AI's
Fix regression failures - done
https://github.com/lowRISC/opentitan/issues/5158 - As discussed over call and we understand that monitor and scoreboard will need fixes for this including development of new test for checking randon spien.
I understand that this would further need  effort significantly and would require Ensilica management approval.

[2022-06-29 10:04] visbaz commented on #5158
@weicai @martin-lueker Basic investigation into this and my observations.
when spien is programmed to 0 while an ongoing spi transaction, state machine holds in InternalClklow.
all spi interface signals continue to remain in same state.
when resumed or programmed to 1 again statemachine continues to InternalClkHigh state and so does the spi interface signals.
Issue i see is csb never toggles when

[2022-06-29 10:49] ctopal commented on #7949
I believe this was mostly handled by https://github.com/lowRISC/opentitan/commit/b51084435ad3a7de7a7719899172ec597d130698 (thanks @prajwalaputtappa!) and for the last little tweaks I opened up https://github.com/lowRISC/opentitan/pull/13451. @GregAC : If you have any suggestions about some more things to do for this one, please let me know.

[2022-06-29 12:44] GregAC commented on #13327
Closing this as no action is required for OTBN V2S.

[2022-06-29 12:44] #13327 closed

[2022-06-29 14:44] #13198 closed

[2022-06-29 16:16] dmcardle commented on #10867
Minor success: I changed `gen-otp-img.py` to encode the architecture width into the output vmem filename, but I've run into an issue passing that file into `gen_vivado_mem_image.py`.

I noticed that the OTP vmem has a different syntax than the Mask ROM vmem files. Unsurprisingly, `gen_vivado_mem_image.py` fails to process it correctly.

For reference, this is what `mask_rom_fpga_cw310.32.vmem` loo

[2022-06-29 16:33] drewmacrae commented on #13345
SGTM, README.md is a sufficiently typical and useful name that shouldn't confuse anyone and there's going to be a version hosted on Github that could be pointed to by a URL if it's important to make reference to it.

[2022-06-29 16:46] dmcardle commented on #13343
The report is not huge, ~500 lines (and there are fewer errors/warnings than lines). I've been planning on whittling away at these, but I haven't gotten started yet. If anyone else wants to pitch in, I'm happy to share!

[2022-06-29 16:47] alphan commented on #13343
BTW thanks for looking into this @dmcardle!

[2022-06-29 16:54] alphan commented on #13073
I'm not sure what these scripts use but I'm using this as a `alias` on my machine: `git rev-parse --show-toplevel`

[2022-06-29 17:22] msfschaffner commented on #13345
Related: #13345

[2022-06-29 18:39] milesdai commented on #13343
Yeah I'm happy to take care of this -- it'll probably be a task for next week.

[2022-06-29 18:51] jdonjdon commented on #12944
@eshapira I updated this test in #13458
Please review.

[2022-06-29 19:08] cdgori commented on #10069
I _think_ that is ok because we have the repetition checks between the various parts of the entropy complex and from the EDN to the endpoints.  In general we were worried about attacks on the fifos inside entropy where the attacker could jam the read ptr to a value (or something similar by manipulating write ptr and filling the fifo with constant data).

If we did targeted swaps on some of the fif

[2022-06-29 19:42] cdgori commented on #10738
I'm closing out some emails that have been languishing in my inbox...

I think this is fine to move to future release.  My only caveat would be if we plan to have any pre-tapeout FIPS review of the CSRNG, that feedback could force this forward.

@moidx do you remember what specifically triggered you to file this issue?  (Or just a general concern?)

[2022-06-29 19:43] drewmacrae commented on #13362
The version of clang-format in CI is old and out of sync with your machine and the lowrisc toolchain. I've updated that here: https://github.com/lowRISC/opentitan/pull/13339

The formatters and checkers are all being run as a part of CI. The proposed improvements seem valid to me.

[2022-06-29 19:44] alphan commented on #13343
Thanks @milesdai! Please coordinate with @dmcardle for fixing the existing lints.

[2022-06-29 20:48] engdoreis opened #13460 "Add a connectivity check to the test `chip_sw_entropy_src_ast_rng_req`"
The software part of the test `chip_sw_entropy_src_ast_rng_req` is done by the PR #13456.
But a assertion based on connectivity check to verify the correctness of the received data is still required by a DV engineer.

[2022-06-29 21:14] matutem commented on #13460
I suppose we need to check the enrtropy_src entropy_src_rng_i input is tied to rng_b_o and rng_val_o outputs of the AST. Could you confirm?

[2022-06-29 21:29] arunthomas commented on #13345
SGTM too

[2022-06-29 22:22] msfschaffner commented on #10867
Hi @dmcardle, I will try to answer some of your questions:

The format we are using for OTP represents one data word per line (with the data word being 22 bit wide for this particular memory). Everything after the comment `//` is human readable debug output, but not actually part of the file format.

It probably makes sense to align the OTP script to emit the image in the same format as the ROM.
W

[2022-06-30 01:11] moidx opened #13463 "[dvsim] Implement configurable URL paths in html reports"
CI Presubmit jobs relying on dvsim html reports require the ability to support relative url links given that in some cases the URL prefix is not known in advance.

Current URL example:

`[AES](https://reports.opentitan.org/hw/ip/aes/lint/ascentlint/latest/results.html)`

Expected URL for CI environment:

`[AES](${BRANCH_NAME}/reports/hw/ip/aes/lint/ascentlint/${TS_FORMAT}/results.html)`

[`TS_FORM

[2022-06-30 01:12] moidx commented on #13463
Hi @sriyerg, does this make sense to you, or is there a better or easier way to achieve this? Thanks!

[2022-06-30 02:57] moidx opened #13465 "[dvsim] Make the html root filename configurable"
In some CI configurations, there are multiple `dvsim` invocations from a single scratch directory. Since the `email.html` report is always placed at the root of the scratch folder, it will get overwritten on each `dvsim` run. This issue is to propose to make the `email` report filename configurable, so that CI scripts can aggregate the reports.

e.g. `--email-report-filename=invocation_foo_bar.htm

[2022-06-30 08:31] marnovandermaas commented on #13345
There's quite a few README pages on docs.opentitan.org. With this plan I'm wondering about the following:
- Does this double the documentation workload in certain places?
- How do we avoid documentation fragmentation where some info is in the README and some in the docs?
- Is there an easy way to update and enforce that OT READMEs have proper Hugo metadata (e.g. linting)?

[2022-06-30 14:15] dmcardle opened #13469 "CODEOWNERS names users without write access to repo"
https://github.com/lowRISC/opentitan/blob/d8af32ff61026d72a7586c66870feaa162335654/.github/CODEOWNERS

The CODEOWNERS file complains about @drewmacrae, @Jacob-Levy , and @milesdai. For each of them, it says, "Unknown owner: make sure $username exists and has write access to the repository".

Skimming Github's ["About code owners"](https://docs.github.com/en/repositories/managing-your-repositorys-s

[2022-06-30 14:18] dmcardle opened #13470 "Use absolute path in CODEOWNERS when referring to specific files"
AFAICT, these files should be
https://github.com/lowRISC/opentitan/blob/d8af32ff61026d72a7586c66870feaa162335654/.github/CODEOWNERS#L29-L36

[2022-06-30 14:44] drewmacrae commented on #13469
This is a new warning to explain an old problem that otherwise goes on under the hood.

Until users are added to the Committers file, review is weird.
- Adding them to the CODEOWNERS file doesn't do anything but throw this warning
- PRs they've reviewed will still appear if you query for review:none and wont appear if you query for review:drewmacrae until someone who is a maintainer submits a revi

[2022-06-30 14:49] dmcardle opened #13471 "Optimize mem* functions in /sw/device/lib/base/"
CC: @alphan

The mem* functions are implemented byte-wise, but they could be optimized to work on whole words at a time.

* memcpy
* memset
* memcmp
* memrcmp
* memchr
* memrchr

For example, see the [definition of memcpy](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/lib/base/memory.c;l=17;drc=3473531260f9a79bb25db283b03bcea41229b252). Peeking at [disassembly of the Mask ROM

[2022-06-30 14:53] drewmacrae commented on #13469
If the error message read: "Unknown owner: make sure $username exists and has **read** access to the repository".

Then it would indicate the about code owners doc is correct and we could perhaps do some work to resolve this by granting read access to these users (Option 2 without extending any unintended powers to the parties discussed here). That might also sort out querying for Unknown/non-exis

[2022-06-30 15:06] dmcardle commented on #13469
Ah, I hadn't seen [COMMITTERS](https://cs.opensource.google/opentitan/opentitan/+/master:COMMITTERS;drc=84869a3ca0106b994a80c358d06a2fafc2f5ef18) yet. Does Github understand this file? Or do we have some automation parsing and controlling Github permissions? COMMITTERS references [doc/project/committers.md](https://docs.opentitan.org/doc/project/committers/), but AFAICT that only discusses policy,

[2022-06-30 16:32] cindychip commented on #13434
We should also reproduce it on DV.

[2022-06-30 16:32] cindychip commented on #13434
@Muqing-Liu has a seed that can reproduce it, but probably need a functional coverpoint. @dharanendrak

[2022-06-30 16:46] Muqing-Liu commented on #13434
./util/dvsim/dvsim.py hw/ip/pwm/dv/pwm_sim_cfg.hjson -i pwm_rand_output --fixed-seed 7 --waves --purge --run-opts "+max_quit_count=10000"

[2022-06-30 16:50] dharanendrak commented on #13200
The RTL fix is verified. So closing the issue.

[2022-06-30 16:50] #13200 closed, assigned to msfschaffner, martin-lueker

[2022-06-30 16:55] cindychip opened #13476 "[pwm] V2 TODO lists"
Based on the V2 review, here are the missing items from pwm V2 checklist:

- [x] Dhara: please check why pwm_env_pkg functional coverage is low. For example, it only covers channel0.
      - Moved to post v2 item: https://github.com/lowRISC/opentitan/issues/13588
- [x] Cindy: fix max_outstanding tlul coverage.
- [x] Martin: please help check output `cio_pwm_en_o` is tied to certain value, as it sh

[2022-06-30 17:39] dmcardle opened #13477 "opentitantool panics when bootstrapping cw310: 'attempt to add with overflow'"
At commit d8af32ff61026d72a7586c66870feaa162335654, I'm seeing a opentitantool panic with 'attempt to add with overflow' in [sfdp.rs:449](https://cs.opensource.google/opentitan/opentitan/+/d8af32ff61026d72a7586c66870feaa162335654:sw/host/opentitanlib/src/spiflash/sfdp.rs;l=449).

@cfrantz Based on nothing but the stack trace and git blame, could this have something to do with cfc6ac6b090fde10caaac

[2022-06-30 18:23] cfrantz commented on #13477
I suspect the real problem is that sfdp.rs is _a tad_ lax on error checking.  I'm not able to duplicate this on my board.  If you can duplicate it on yours, can you add the following line and let me know what you see?

[code]

You _should_ see the following:
[code]

If you aren't seeing the magic number 0x50444653 in the signature field, your board isn't reporting a proper SFDP (and the SfdpHeader

[2022-06-30 19:11] moidx opened #13484 "[fpga] Hyperdebug integration on FPGA targets"
This issue is to track the tasks required to enable Hyperdebug integrations on FPGA targets. Currently, host I/O connectivity is routed to the onboard SM3x in the CW310 board. We need an alternate FPGA pinout configuration to start Hyperdebug enablement.

Ideally the alternate pin configuration will be available in the repository, and Bazel/Fusesoc should be able to select between the available pi

[2022-06-30 19:16] dmcardle commented on #13477
Oh, interesting! I wonder what's different about mine.

Here's the output of that new log line:
[code]

Further, `buf` is actually just 256 0xff bytes.

I'll work on a regression test if that sounds good.

[2022-06-30 19:42] dharanendrak commented on #13434
@Muqing-Liu ,

 Thanks for the reproduce command. Can you give me little more details ?
 1. Which channel you are seeing the issue ?
 2. What is the expected value and observed value ?
 3. Point me the RTL fixed file

thanks
Dharan

[2022-06-30 20:03] martin-lueker commented on #13476
Re:  "check output cio_pwm_en_o is tied to certain value, as it shows 0% in toggle coverage."

This is confirmed [see here](https://github.com/lowRISC/opentitan/blob/9c280944cd69aa74e2b98c0d572e232582bcbf87/hw/ip/pwm/rtl/pwm.sv#L67)

@dharanendrak, or @cindychip could you please write an exception here?

[2022-06-30 20:51] Muqing-Liu commented on #13434
Hi @dharanendrak,

1. In channel 0, 1, 5, there's overflow, and in channel 3, there's underflow
2. For overflow in channel 5,
![image](https://user-images.githubusercontent.com/83983643/176775808-c8883811-dbd9-453a-879b-0387b602aea9.png)
The original RTL takes dc_htbt_q and assigns it to duty_cycle_htbt directly, but for duty cycle 79EC, it's not the expected value, since it's already overflowed,

[2022-06-30 20:59] martin-lueker commented on #13434
Thanks @Muqing-Liu!   These are great examples (both types of errors in one seed even!).

I have a question, is this passing the scoreboarding before this is applied?   How about after?  It seems like the scoreboarding result should change in _some_ way.  What is the scoreboard expecting in these cases?

[2022-06-30 21:49] Muqing-Liu commented on #13434
Currently the test is passing both before and after making the changes... For this test, only channel 0 and 3 are enabled, and dc_resn_i is 0, so only MSB matters. For channel 3, the masked duty cycle is not affected by the change, but for channel 0, the masked duty cycle did change after the RTL update. I am not exactly sure how this passed.

[2022-06-30 23:26] cfrantz commented on #13477
Seeing a value of all ones (e.g. 0xFFFFFFFF) is usually a dead giveaway for something not having been initialized.  It would be interesting to see what your board prints when you just view the console (e.g. `opentitantool console`) and press the reset button on the board (USR-RESET aka USRSW2 near the middle horizontal midpoint of the board on the bottom third).

If you haven't ever set the PLLs o

[2022-07-01 00:32] matutem opened #13489 "[rtl,clkmgr] cycle measurement trigger errors"
If the clock measurements are disabled and then re-enabled right away we get spurious errors due to counter overflows. This can be reproduced with the chip level chip_sw_clkmgr_sleep_frequency test if the busy_wait_cycles around line 129 is commented out:

  // Wait some time for counts to clear.
  busy_spin_micros(10);

In addition, it may be good to examine the behavior of the counters when we d

[2022-07-01 05:03] moidx commented on #13345
There is no need to double the workload. Adding README files to the documentation website was not intended as a feature. Using `doc/...` and `{_}index.md` directives allows us to be more explicit about the content we post on the website, and also allow us to make README files more ergonomic for in repo rendering (e.g. GitHub, code search).

We'll provide some guidelines on what is recommended to g

[2022-07-01 05:22] moidx commented on #13345
The OTBN README is a great example of how I think we should be using README files: https://github.com/lowRISC/opentitan/tree/master/hw/ip/otbn

It has pointers to relevant documentation, and provides a quick reference on how to get started. It also renders well in both GitHub and [code search](https://cs.opensource.google/opentitan/opentitan/+/master:hw/ip/otbn/) given that it does not use any Hug

[2022-07-01 07:29] vogelpi commented on #11546
No, this is not related to repetition and FIPS checks. The repetition and FIPS check tell us something about the quality of the received entropy.

The spurious ack checks tell us whether we've received entropy without requesting it. This is a strong sign that something doesn't behave as expected which may be due to a) a bug, or b) some FI attack going on.

[2022-07-01 09:19] msfschaffner commented on #13026
Hey @cindychip!

We currently don't track which class triggered latching of the crashdump (and therefore qualifies for re-arming).
Are you concerned that a clearable class can potentially wipe out the crashdump latched due to a non-clearable class?

We should probably also remove the `crashdump_q <= '0;` assignment so that the last crashdump state cannot be wiped out.

Assume for instance a case w

[2022-07-01 10:23] engdoreis commented on #13460
@ctopal

[2022-07-01 13:09] drewmacrae opened #13495 "[bazel] cw310=lowrisc implies noudev containery flag isn't generally useful and should be renamed noudev"
https://github.com/lowRISC/opentitan/pull/13419#discussion_r911921562 Dan has found a thing I promised to clean up and then it fell off my radar for a month and a half so here's an issue.

Lowrisc's CI doesn't allow the test-runner access to udev, so we have a method to use serial ports at specific paths in /dev in order to properly command a cw310 to conduct tests.

[2022-07-01 13:42] drewmacrae opened #13496 "[ci] check-gen runs too slowly and should be moved to slow-lint"
This makes check-gen run too slowly to be appropriately left in quick-lint, but reordering the lints will make them fail until #13483 is merged.

_Originally posted by @drewmacrae in https://github.com/lowRISC/opentitan/issues/13482#issuecomment-1172360334_

[2022-07-01 14:12] msfschaffner opened #13497 "[hmac] D3 opens"
- [ ] ~Clarify in the programming model whether the system / bus locks up when the FIFO gets full. Also mention what the guaranteed drain rate is.~
- [x] Update the MSG_FIFO description to make it more clear.
- [x] Add links to ROM driver and DIF for reference.
- [ ] Update the out-of-date constant names in the pseudo-code examples.
- [x] Update the interrupt handling section of the programmers ma

[2022-07-01 14:14] msfschaffner commented on #13497
@rswarbrick @jadephilipoom @tjaychen @cindychip
This has been transcribed from the review notes. Please correct or add more items if I missed something.

[2022-07-01 14:38] a-will commented on #13316
I am realizing that only the device side knows what happens to isochronous OUT transactions. Do we need endpoint-specific information or is the device-wide counter enough?

There is a similar situation for isochronous IN transactions, but this still has the problem of unknown intentions, as above. We don't currently require users to write to usbdev to indicate whether they intentionally want to NA

[2022-07-01 14:39] msfschaffner commented on #9438
I believe this also applies to OTP_CTRL:
https://github.com/lowRISC/opentitan/blob/87d8f84461d05d23f50ced69f0144fe1d39bac4a/hw/ip/otp_ctrl/rtl/otp_ctrl.sv#L207-L231
Although the adapter is used in a simpler configuration there...

Do you think we should add it to the [D3 opens for OTP_CTRL](https://github.com/lowRISC/opentitan/issues/13438) also?

[2022-07-01 14:52] #13231 closed

[2022-07-01 15:11] dmcardle commented on #13477
Reopening so I remember to follow up on Chris's suggestion about setting PLLs when I have physical access to the FPGA — I definitely didn't do that yet.

[2022-07-01 15:29] drewmacrae commented on #13163
Duplicate #13405 which is tracking the fix

[2022-07-01 15:33] #9652 closed

[2022-07-01 15:41] tjaychen commented on #13497
this issue on kmac save/restore is related (https://github.com/lowRISC/opentitan/issues/3479), it probably should be done for hmac also.

[2022-07-01 15:47] tjaychen commented on #9438
this issue probably needs some context.
For the memories and flash specifically, its really a second tlul that's coming into the module that bypasses the reg_top.
I think this otp one is demuxed from inside the reg_top right? So it's piggy-backing on the reg_top checking.

I think the other part (remind me if i'm wrong, does the otp have direct ECC that can be passed back onto the bus? that would

[2022-07-01 16:08] msfschaffner commented on #9438
Ok, added to #13438!

[2022-07-01 16:27] vogelpi opened #13499 "[otbn] Secure wipe modifications"
Related to the @andreaskurth 's PRs adding secure wipe after reset (#13321) and removing the reset from the register files (#13192) we have identified some follow-up points regarding secure wipe that we should discuss:

~- [ ] Add an explicit command to trigger an internal secure wipe from Ibex (see https://github.com/lowRISC/opentitan/pull/13192#issuecomment-1169742708). We already have commands

[2022-07-01 16:31] msfschaffner commented on #10069
yeah a simple way would be to feed errors within the fabric back in-band (e.g. in the error field / or by corrupting the ECC). another way would be to send these errors over to an existing comportable IP, such as the `rv_ibex` wrapper, and wire it up to an alert + CSR there.

[2022-07-01 16:53] drewmacrae commented on #13012
https://cs.opensource.google/search?q=meson&sq=&ss=opentitan%2Fopentitan Shows 8 results at present

I have PRs in-flight to handle most of them

[2022-07-01 16:54] drewmacrae commented on #13012
This is blocked by #12504
but should also include most mentions of ninja here
https://cs.opensource.google/search?q=ninja&sq=&ss=opentitan%2Fopentitan

[2022-07-01 16:57] andreaskurth commented on #13499
I think we want to change the internal secure wipe so that it
1. reseeds the PRNG
2. wipes the internal state with PRNG-provided values
3. reseeds the PRNG

- The reason for the first reseed is to prevent an attacker who knows the PRNG state prior the secure wipe from extracting any information on the overwritten registers by observing power traces during the wipe.
- The reason for not zeroing the

[2022-07-01 17:08] vogelpi commented on #13499
Ah, yes. Thanks @andreaskurth . This is what we have discussed previously.

[2022-07-01 17:18] #11436 closed, assigned to drewmacrae

[2022-07-01 17:19] drewmacrae commented on #11436
Bazel appears to be trending in the BUILD.bazel direction so I'll leave this alone for now

[2022-07-01 17:25] #13005 closed

[2022-07-01 17:32] drewmacrae commented on #10277
This was fixed by #10350 and other issues with the tests were resolved and they pass and are enforced by CI now

[2022-07-01 17:32] #10277 closed

[2022-07-01 17:40] drewmacrae commented on #13062
Tests that were removed from config.py:
- [ ] crt_test verilator
- [ ] otbn_smoketest_rtl verilator
- [ ] otbn_randomness_test verilator fpga
- [ ] otbn_irq_test verilator
- [ ] aes_smoketest verilator
- [ ] aon_timer_smoketest verilator
- [ ] otp_ctrl_smoketest verilator
- [ ] rv_plic_smoketest verilator
- [ ] pwrmgr_smoeketst verilator
- [ ] rstmgr_smoketest verilator
- [ ] rv_timer_smoketest ve

[2022-07-01 17:44] drewmacrae commented on #13062
AES_smoketest running since 91d811e

[2022-07-01 17:47] drewmacrae commented on #13062
We run the following non-broken tests [here](https://cs.opensource.google/opentitan/opentitan/+/master:ci/scripts/run-verilator-tests.sh;bpv=1):     //sw/device/tests:crt_test_sim_verilator \
    //sw/device/tests:otbn_randomness_test_sim_verilator \
    //sw/device/tests:otbn_irq_test_sim_verilator \
    //sw/device/tests:kmac_mode_cshake_test_sim_verilator \
    //sw/device/tests:kmac_mode_kmac_

[2022-07-01 17:55] drewmacrae commented on #13062
We now test otbn_smoketest, aes_smoketest, aon_timer_smoketest, otp_ctrl_smoketest, rv_plic_smoketest, pwrmgr_smoketest, rstmgr_smoketest, rv_timer_smoketest, uart_smoketest, clkmgr_smoketest sram_ctrl_smoketest, kmac_smoketest, pmp_smoketest_napot, and pmp_smoketest_tor on the cw310

[2022-07-01 17:55] #13062 closed

[2022-07-01 19:46] sha-ron opened #13502 "[dv, chip, pwrmgr] Enhance chip_sw_pwrmgr_full_aon_reset test to boot more than once"
Currently all the POR_N resets happen when the CPU is in reset.
Need that at least some will happen when the CPU is running to make sure PWRMGR FSMs are reset and the processor starts running again properly.

[2022-07-01 20:33] sriyerg opened #13505 "[dvsim] Indicate what job / item is currently running in the status bar"
While dvsim prints a status bar indicating the progress of the regression, it is often hard to know what items are still running. This is especially problematic when only 1-2 tests are still running while everything else has completed. Status indicates the regression at 90+% for a long time, and the user has to poke around in the artifacts area to manually figure out what is still running.

A simp

[2022-07-01 21:06] alphan opened #13507 "[sw/silicon_creator] Add ePMP state checks to rom_ext.c"
We currently cannot check ePMP states in `rom_ext.c` since we don't initialize the in-memory copy of the ePMP state.

- [ ] Either initialize the in-memory copy of the ePMP state or move it to `.static_critical`.
- [ ] Add ePMP state checks where appropriate (we typically do these before and after touching ePMP and before handing the execution over to the next stage, see `mask_rom.c`).

@moidx @cf

[2022-07-01 21:48] martin-lueker commented on #9999
(Coming back to this after the V2 review)

The CDC is now managed by the reg-tool interface generator.  That said, do we need any special documentation for this?

[2022-07-02 00:20] #13460 closed

[2022-07-02 04:24] alphan opened #13511 "[bazel] Add support for assembling images at different offsets"
`opentitantool` already supports image assembly as a standalone operation or as a part of the `bootstrap` command.

We need to enhance our bazel macros and rules for test cases like
- Valid ROM\_EXT at slot b, i.e. the ROM\_EXT image should be at offset `flash_size / 2` in the binary file, or
- Valid ROM\_EXT at slot a and valid owner image at slot b.

@cfrantz @arunthomas

[2022-07-02 04:53] alphan opened #13513 "[sw/silicon_creator] Harden vma calculations in mask_rom and rom_ext"
We perform several calculations to obtain the memory region to be unlocked when using address translation. These calculations should be hardened.

[@moidx's comment](https://github.com/lowRISC/opentitan/pull/13084#discussion_r912281352)

[2022-07-02 05:21] dharanendrak commented on #13476
@cindychip
" please check why pwm_env_pkg functional coverage is low. For example, it only covers channel0."
I have updated these changes. I hope these changes will pick in next regressions.

https://github.com/lowRISC/opentitan/pull/13512

[2022-07-04 16:26] dharanendrak commented on #13434
@Muqing-Liu

Thanks for the details. Here is my take :

**A. PWM simulation with seed 7 dump analysis**

1. Only channel 0 is enabled.

   Among you mentioned channels-> 0,1,5 and 3 with seed 7
   Only channel 0 is enabled. Though channel 3 is enabled, since its DC_resn=0 and MSB of dutcycle[3].A = 0x5159 is zero. So the channel is effectively off.
reference #issue[12067] https://github.com/lowRIS

[2022-07-05 12:02] Jacob-Levy opened #13516 "Build fails on CSRNG, ED & N, ENTROPY_SRC on VCS"
* This fails on VCS but passes on Xcelium
[code]
@tjaychen  @sha-ron @arnonsha

[2022-07-05 15:01] martin-lueker commented on #13434
Hi @dharanendrak,

I think this is implicit in the current phrasing.  Though if it would help close verification then we can expand this.

However to bring this back to the real intent of this line of the spec: the real point of this overflow behavior is to maintain the proper visual effect when using the LED's.  If the user wants a 3-color LED to gradually go more red (for instance), you don't wa

[2022-07-05 15:57] #9567 closed

[2022-07-05 16:33] jdonjdon commented on #13310
The issue is closed with #13355

[2022-07-05 16:33] #13310 closed

[2022-07-06 14:44] mundaym opened #13521 "[sw] End of standard support for Ubuntu 18.04 is April 2023"
The operating system we currently use in CI (and therefore recommend) is Ubuntu 18.04 LTS. This OS is now 4 years old and standard support comes to an end in April 2023. I think we should therefore begin the process of updating CI to a newer OS.

Ubuntu 20.04 LTS is potentially a natural choice and already has good support (I daily drive this and only rarely run into issues when working on OpenTIt

[2022-07-06 14:49] drewmacrae opened #13522 "update fpga docs to resolve discussion in #13196"

[2022-07-06 15:21] dmcardle commented on #13477
Setting PLLs did resolve my original issue! The test passed on cw310 (`//sw/device/tests:uart_smoketest`).

Sorry, I didn't wind up running `opentitantool console` while pressing the reset button.

[2022-07-06 15:21] #13477 closed

[2022-07-06 15:36] dmcardle commented on #12968
This is kind of a dupe of #10867, although admittedly this one specifically mentions bazel whereas the other talks about "utility scripts".

[2022-07-06 16:27] drewmacrae commented on #12968
I think you're right, you could close this as duplicate and add that one to the project or use it to track the bazely parts of the work.

I think we still plan on working with the CW305, so we want support with that, but this looks related to #10867.

[2022-07-06 16:36] eunchan commented on #13497
And also https://github.com/lowRISC/opentitan/issues/49

[2022-07-06 16:53] weicaiyang commented on #12989
it will be great if you could document the watermark is edge-triggered. Already confirmed with @visbaz that we can have a test to verify the behavior.

[2022-07-06 17:20] weicaiyang commented on #5158
this sounds fine to me. If the csb is dropped in the middle, the transaction would be considered as terminated.

I'm fine to change this to P2 and leave this to V3, unless @martin-lueker thinks this is an important feature in the block.

[2022-07-06 18:47] cdgori commented on #13521
I'm not sure any of the EDA tools "officially" support it:
https://www.synopsys.com/support/licensing-installation-computeplatforms/compute-platforms/compute-platforms-roadmap.html
https://www.cadence.com/content/dam/cadence-www/global/en_US/documents/support/cadence-platform-support-plan.pdf

I can't find the similar collateral for Siemens EDA/Mentor.

I have no current data to support this, but

[2022-07-06 21:27] weicaiyang commented on #8546
checked these 2 items as they're verified in a connectivity test.

https://github.com/lowRISC/opentitan/blob/9591e1f25d02e10673e259d9c29b42bf0686bfcc/hw/top_earlgrey/formal/conn_csvs/lc_escalate_en.csv#L13-L14

[2022-07-06 21:56] a-will opened #13529 "[sw/testutils] Clean up TODOs in usbdev_testutils_*"
There are various TODOs to be handled, and various functions are missing documentation. Likely the code could generally use an overhaul...

From https://github.com/lowRISC/opentitan/pull/13287#pullrequestreview-1030523040_

[2022-07-06 23:09] visbaz commented on #5158
Issue related:
branch name : spi_host_spien
command: util/dvsim/dvsim.py hw/ip/spi_host/dv/spi_host_sim_cfg.hjson -i spi_host_spien --fixed-seed 764712852 --waves

I apologize for csb observation. csb toggles after spi_en is re asserted.
spien deassertion should suspend transactions and also when reasserted should resume transactions with last configuration and states.
State machine works as expec

[2022-07-07 00:03] martin-lueker commented on #5158
Hi @visbaz, Thanks for posting that seed here.  I've done some detailed analysis, and I think this is a very simple issue with the scoreboard, as I will try to demonstrate.

Simply put: it seems that the problem is that the scoreboard is flushing it's internal queues of segments which were inserted before the DUT was disabled.

   In order to debug this, I set the scoreboard verbosity to UVM_FULL

[2022-07-07 00:34] msfschaffner commented on #12071
This RFC has been approved by the TC on 2022-05-13.

[2022-07-07 00:58] martin-lueker commented on #5158
With all this said, here is what I recommend to close this issue:

- [ ] As a V2 requirement: Fix the scoreboard so it can at least tolerate `en_i` going low without flushing the segment prediction queue.  My hope is that this will be pretty easy to find.
- [ ] Update the _testplan_ to say that we need to make a coverpoint _in V3_ that will catch `en_i` going low in all SPI_HOST FSM states.

That

[2022-07-07 01:05] martin-lueker commented on #5158
As to whether this is an important feature, I just want to be sure that the device doesn't hang in these situations.   However, I think I am at least satisfied from Viswa's sims that this is not the case.  I believe Viswa's seed shows us that the DUT can pause and recover from a disable event.

However I do think that this has outlined a bug in the scoreboard.  If we go the route of demoting this

[2022-07-07 01:06] martin-lueker commented on #5158
I'd also be happy to make both of these into new P2 issues, and close this one.

[2022-07-07 08:45] #13232 closed

[2022-07-07 14:43] drewmacrae commented on #13265
Looking at the test-plan I want to check none of the tests require checking of reset_info that would be invalidated by moving the data to a reset_regions register in retention sram. I think that
- The structure is the same and can hold the same data
- The registers are reset with the same logic
Therefore we shouldn't have an issue rewriting to retention sram.

I will update the chip_testplan to re

[2022-07-07 15:44] weicaiyang opened #13537 "RFC: OpenTitan Chip-Level Tests - Review Process"
It's documented [here](https://docs.google.com/document/d/1TbeSU5X4G5eq2lmL8ugJKAbpUrTudU-XAP8-h-I5EHI/edit)

[2022-07-07 16:14] drewmacrae commented on #13265
Should the rstmgr dif be rewritten to find the reset_reason in sram to stay useful and do this under the hood? Or should we keep the dif as is and just ensure tests aren't using it when it's not useful?

[2022-07-07 16:17] drewmacrae commented on #13265
Are the DIFs meant to be portable between environments with both the test rom and the mask rom?

[2022-07-07 16:25] drewmacrae commented on #13265
I'm wary of leaving dif_rstmgr_reset_info_get if it's always going to point to cleared reset_info. If someone wants to check this does what we say they might want to use it, so I'm planning to leave it for now, but I'm not confident that's the best way to do it.

[2022-07-07 17:00] eunchan commented on #49
Re-open this issue as discussed in #13497

[2022-07-07 17:06] eunchan commented on #13497
It is well described in "Performance in SHA-256 mode and HMAC mode" section.

[2022-07-07 19:12] cindychip opened #13540 "[dv/adc_ctrl] Moving assertions to RTL or interface for reusability"
Detailed discussion here:
https://github.com/lowRISC/opentitan/issues/11744

[2022-07-07 19:34] msfschaffner commented on #13026
Ok I have made the changes that we discussed. In particular, crashdump latching triggers are now tracked per class.
This ensures that a class that has not escalated yet cannot clear / re-arm the crashdump latched due to the escalation of a different class. It also ensures that the crashdump latching feature cannot be re-armed if the class that has escalated is not clearable.

[2022-07-07 19:39] weicaiyang opened #13543 "[dv] Chip-Level Sram_Ctrl tests Review"
[Review notes](https://docs.google.com/document/d/1ipJNmJWA354RFPoYM05jea9y32Fg6ZSUQNokrJF3ZEU/edit#heading=h.fblvh4l4rc6v)

- [x] Address [TODO](https://github.com/lowRISC/opentitan/blob/cbb1d8754089353268897cedd3416fc590f6f1d9/sw/device/tests/sim_dv/sram_ctrl_main_scrambled_access_test.c#L160-L161) in the test
- [x] Resolve this associated issue: [#8546](https://github.com/lowRISC/opentitan/issu

[2022-07-07 20:39] eunchan commented on #13497
I don't see any old constant in the pseudo-code examples. Let me skip this

[2022-07-07 21:08] cindychip commented on #9999
@msfschaffner @tjaychen do you have any insight on this?

[2022-07-07 21:23] eunchan commented on #13497
PR is updated. **Error* section is added and **Interrupt Handling** section is removed. Other interrupts (`hmac_done` and `fifo_empty`) are well described in the register spec. So no need of recite in the doc.

[2022-07-07 21:34] msfschaffner commented on #13499
I had a quick chat about the last point with @cdgori and we think we could potentially reuse the RMA wipe signalling mechanism that we use for wiping flash upon RMA entry:

https://github.com/lowRISC/opentitan/blob/06d2247c2e528c35e1803818a9a74e3bd9c48d38/hw/ip/lc_ctrl/rtl/lc_ctrl.sv#L95-L96

When a transition into RMA is requested, the life cycle controller requests a secure wipe via the `lc_flas

[2022-07-07 21:42] msfschaffner opened #13546 "[otbn, sram_ctrl] Secure wipe of SRAM state upon RMA entry"
This is something that came up while discussing the secure wipe mechanism for the OTBN registers in https://github.com/lowRISC/opentitan/issues/13499#issuecomment-1178253330.

In particular, the question is whether we should also hook up all SRAM wiping mechanisms (secure wipe inside OTBN, init feature in SRAM) to the RMA wipe request coming from the life cycle controller, so that no SRAM state su

[2022-07-07 21:58] weicaiyang commented on #5158
as discussed with @visbaz offline, he is looking at this and see if we can quickly fix the item 1.

[2022-07-07 22:41] msfschaffner commented on #13469
CC @mundaym @moidx

[2022-07-08 05:18] a-will opened #13552 "[fpga] Determine plan for JTAG on CW310"
There are two mechanisms that have been explored for connecting JTAG to OpenTitan:
  - via the SAM3X (ideal for a single-cable setup)
  - via an external debugger connected to the user debug headers

PR #13464 connects JTAG up via an external debugger for now. The MPSSE emulation currently offered by the SAM3X firmware has not successfully communicated with OpenTitan's JTAG core, so there is some

[2022-07-08 05:31] a-will commented on #13552
Is a solution with SAM3X possible?

- On the firmware side, it's plausible to remove the CDC-ACM interrupt endpoints and replace them with an MPSSE interface.
- Alternatively, perhaps a single CDC-ACM UART could be added alongside the MPSSE interface.

However, a path to that point may be awkward. We likely would want to make use of the external debugger while things are in flux. But debugging the

[2022-07-08 15:19] a-will commented on #13552
CC @tjaychen @msfschaffner

[2022-07-08 17:54] andreaskurth commented on #5464
Both the mask ROM
https://github.com/lowRISC/opentitan/blob/a4684e1331fa7f64d091e37a1a4bda140cd3d4d1/sw/device/silicon_creator/mask_rom/mask_rom_start.S#L205-L231

and the test ROM
https://github.com/lowRISC/opentitan/blob/a4684e1331fa7f64d091e37a1a4bda140cd3d4d1/sw/device/lib/testing/test_rom/test_rom_start.S#L179-L205

now contain code to initialize the entropy source and the CSRNG and to let ED

[2022-07-08 17:54] #5464 closed

[2022-07-08 17:56] andreaskurth commented on #13393
With continuous mode you mean the [*Auto Request Mode*](https://docs.opentitan.org/hw/ip/edn/doc/index.html#auto-request-mode), right? If so, code for that will be added to solve #7424.

[2022-07-08 18:23] cindychip opened #13560 "[reggen] ip_template sec_cm testplan error"
In this PR we have an CI failure: https://github.com/lowRISC/opentitan/pull/13446
I directly edited the sec_cm_testplan to match the actual test.

I think when I use `make hw`, the sec_cm_testplan will be override to original template again.
Maybe a better solution is to auto-generate the testplan under `ip_template/alert_handler/data`, then use topgen.py to copy this file over to `top_earlgrey/ip

[2022-07-08 18:24] timothytrippel commented on #13265
Perhaps we want a testutil to replace `dif_rstmgr_reset_info_get` that chip-level tests can use to get the reset info from retention SRAM?

Also, we may not want to remove the `dif_rstmgr_reset_info_get` DIF since it will probable be used in the test ROM to populate the ret SRAM with the reset info. However, we may want to add a pretty noticeable comment around the `dif_rstmgr_reset_info_get` DIF

[2022-07-08 18:26] andreaskurth opened #13561 "[csrng] Uninstantiate does not abort running Generate"
When CSRNG is producing the entropy blocks requested by a Generate command, an Uninstantiate command does not abort the production of those blocks. Instead, the Uninstantiate command is pushed to the command queue, from which it will be popped only after the Generate command has completed.

This is problematic in conjunction with EDN's Boot Mode: Disabling Boot Mode, which is required to enter the

[2022-07-08 18:29] sriyerg commented on #13560
Yeah - that would be the right way to fix the CI failure.

[2022-07-08 19:28] #13148 closed

[2022-07-08 21:29] msfschaffner commented on #10453
Closing this for now. Please reopen the bug if the issue still persists.

[2022-07-08 21:29] #10453 closed

[2022-07-08 22:12] cindychip commented on #13560
great! Thanks for confirming! PR should be out soon!

[2022-07-08 22:56] cindychip opened #13565 "[fpv] Fix compile error on alert_handler_ping_timer"
PR #13564 temp disable an assertion for FPV only (still running on DV) due to a compile error.
Contact AE and see if there is any good solution on FPV side.

[2022-07-08 23:19] msfschaffner commented on #13552
Related: #8739

[2022-07-09 00:15] abhishek-elastics opened #13566 "[dvsim] How to specifying user defined --cores-root instead of the default {proj_root}"
Currently in hw/dv/tools/dvsim/fusesoc.hjson, the cores root provided to fusesoc is fixed.

[code]
Is there a way this can be updated?

[2022-07-11 08:59] rasmus-madsen commented on #9999
@martin-lueker I think this issue can be closed- the responsibility of verifying the CDC is now somewhere else

[2022-07-11 08:59] vogelpi commented on #13561
Thanks for opening this issue @andreaskurth. I think letting the Uninstantiate command abort the preceeding Generate command is the thing to do here. Fine tuning the amount of entropy delivered in boot mode (and tracking that in software somehow) or setting up dummy operation doesn't sound right to me.

@mwbranstad and @martin-lueker , do you have maybe a better alternative in mind?

[2022-07-11 13:32] rasmus-madsen opened #13572 "[aes] Forcing main/cipher core FSM signals sometimes doesn't trigger fatal alerts"
@vogelpi
if you look at PR #13571
and run /util/dvsim/dvsim.py hw/ip/aes/dv/aes_masking_sim_cfg.hjson -i aes_control_fi -r 1 -t xcelium  -s=1108401101

you will see tb.dut.u_aes_core.u_aes_control.gen_fsm[2].gen_fsm_n.u_aes_control_fsm_i.u_aes_control_fsm.cipher_in_ready_i
begin forced  high - and the two other interfaces continuing on as usual - not fatal is asserted.
this is one of the signals i

[2022-07-11 13:35] rasmus-madsen opened #13573 "AES violating Push/pull IF assertion"
@vogelpi
if you look at PR https://github.com/lowRISC/opentitan/pull/13571
and run /util/dvsim/dvsim.py hw/ip/aes/dv/aes_masking_sim_cfg.hjson -i aes_control_fi -r 1 -t xcelium -s=556841197

the test will fail due to an assertion in the push/pull if.
this is similar to #10991
but apparently the issue is not solved in this case!
I am not sure exactly what is going on.

[2022-07-11 15:28] mwbranstad commented on #13561
Thanks for a clear description of the problem observed. Indeed, the uninstantiate command will take effect only after the prior generate terminates. @senelson7 simulated this as the proper behavior.
The scenario to "reset" the entropy blocks operation after the initial boot phase has always been considered. It has been assumed that after boot, all entropy blocks will be "disabled" by turning off t

[2022-07-11 16:06] abhishek-elastics commented on #13566
@sriyerg Tagging Srikrishna for visibility

[2022-07-11 16:54] sriyerg commented on #13566
This dvsim HJSON variable is a list. So you can "append" additional paths that contain sources to it in other HJSON files (for instance, your main 'DUT' HJSON file):

[code]

dvsim appends them all together, regardless of where the HJSON file is in the `import_cfgs` tree.

If you want to not include the `proj_root` dir (not recommended), then dvsim supports an override mechanism (with the limitati

[2022-07-11 17:20] abhishek-elastics commented on #13566
Thank you Srikrishna! This is exactly what I was looking for and it's working as expected.

[2022-07-11 17:20] #13566 closed

[2022-07-11 17:24] msfschaffner opened #13576 "[alert_handler] D3 review opens"
- [x] Check whether we can remove the TODO item [here](https://github.com/lowRISC/opentitan/blob/564f8fe63ef37bbed2ce91c0485d9bebdd9a8196/hw/ip_templates/alert_handler/rtl/alert_handler_ping_timer.sv#L61-L71). If not, make it an icebox. #13593
- [x] Some lint issues due to common prims, Michael is fixing this now
- [x] Create an issue to discuss options for downcount with duplication count #13578

[2022-07-11 17:26] tjaychen commented on #13546
i think we can file this as future release. I don't think we need this for the current version.

Upon RMA entry, as @msfschaffner pointed out, we need to reboot.

When rebooting, I think we should also be clearing the sram via the init function, although I don't remember why mask rom is not doing it right now (@alphan / @moidx do you guys remember?)

The otbn memory usually gets secure wiped as we

[2022-07-11 18:00] vogelpi opened #13578 "[prim] Should DupCnt prim_count get option for down counting?"
Our prim_count primitive supports two hardening options: either cross count (CrossCnt) or duplication count (DupCnt). In CrossCnt mode, it can further be chosen to output the down instead of the up counter. In DupCnt mode, the counter always counts up. However, by supplying an all-one increment step (two's complement value for -1), the counter can effectively be made to count down. This is e.g. us

[2022-07-11 18:17] tjaychen commented on #13546
after discussing with @msfschaffner offline, it sounds like we've already decided to move forward with the wiping in `otbn`, so that's fine with me.

I was also wrong earlier, `mask_rom` does wipe the [sram contents](https://github.com/lowRISC/opentitan/blob/master/sw/device/silicon_creator/mask_rom/mask_rom_start.S#L236) upon reboot always.

[2022-07-11 18:53] tjaychen commented on #13552
"assuming" the external debug can also be handled by hyperdebug long term, it feels a bit like getting it to work harmoniously through sam3x might not be worth it.  From what i understand of our current usage, it's mostly the sca stuff using cw305 that does things exclusively through sam3x, and i don't believe they've really found a need for gdb/openocd there. (@vogelpi / @msfschaffner please corr

[2022-07-11 18:57] weicaiyang opened #13579 "[dv] AES V2S review items"
Here are the action items from [Meeting notes](https://docs.google.com/document/d/11ryZGwCLHpEr7owKSsSE8QW0YArNw1jGVqp4XXPp3lU/edit#)

- [x] Rasmus: Add tests to each test points in sec_cm [testplan](https://github.com/lowRISC/opentitan/blob/master/hw/ip/aes/data/aes_sec_cm_testplan.hjson), see #15873
- [x] Weicai/Rasmus: bind the mubi coverage interface to esc_en. Weicai to provide a [example] (h

[2022-07-11 19:59] msfschaffner commented on #13546
Thanks @tjaychen. I'll rename this issue so that we can use it to track secure wipe upon RMA entry in `sram_ctrl` as a future enhancement.

[2022-07-11 20:01] msfschaffner commented on #13499
@vogelpi let me know if there are any questions regarding the protocol. Also, we will have to update the intersig connections in `top_earlgrey.hjson` once OTBN exposes these ports.

[2022-07-11 20:21] cindychip commented on #13026
Thanks Michael for the fix.

[2022-07-11 20:33] tjaychen commented on #13561
let us know if you have issues with disabling.  @mwbranstad and I have observed a few scenarios (they have been fixed) where the `disable` doesn't "stick". It would be good to know if there are others.

[2022-07-11 20:37] GregAC opened #13581 "[ci] Enforcing D3 RTL Freeze"
Do we want to introduce something to CI that would help enforce an RTL freeze for D3 IP? You can use the existing hjson to determine what IP is at D3 and then the CI check would fail if there were any changes under the `rtl/` directory for that IP. We could allow an override if the PR was labelled with something like `FreezeOverride:IpName` (there's a simple github API to get PR labels as json via

[2022-07-11 20:38] GregAC commented on #13581
@msfschaffner @tjaychen I'll add this to the silicon agenda. A bit last minute but doesn't need a big discussion to start with, just a quick check to see if people favour the idea.

[2022-07-11 20:51] weicaiyang commented on #12130
all issues are addressed except this one. We do want to integrate winbond model into our TB. Let's implement this when someone takes over this block for V3.
  - Weicai/Dom: Can Winbond just contribute their BFM?

[2022-07-11 21:09] luismarques commented on #13097
Closed by PR #13292.

[2022-07-11 21:09] #13097 closed

[2022-07-11 21:34] weicaiyang opened #13582 "[spi_host/dv] post V2 items"
- [ ] test spi enable feature. Related to https://github.com/lowRISC/opentitan/issues/5158
  - Fix the scoreboard so it can at least tolerate en_i going low without flushing the segment prediction queue.
  - Update the testplan to say that we need to make a coverpoint in V3 that will catch en_i going low in all SPI_HOST FSM states. And implement the test.
- [ ] Integrate windbond model into the TB

[2022-07-11 21:36] weicaiyang commented on #5158
SInce Viswa no longer works in this project, I add this as a post V2 item in this issue https://github.com/lowRISC/opentitan/issues/13582 for the person who takes over this block for V3

[2022-07-11 21:37] #5158 closed

[2022-07-11 21:38] #12130 closed

[2022-07-11 22:12] weicaiyang commented on #11292
Moved this to https://github.com/lowRISC/opentitan/issues/13582

[2022-07-11 22:12] #11292 closed

[2022-07-11 22:23] msfschaffner commented on #8343
@cindychip can we remove the corresponding TODOs in the FPV config now?

https://github.com/lowRISC/opentitan/blob/b7daf29ceb4d78615c8434a0a1519f9213aaad9f/hw/top_earlgrey/formal/top_earlgrey_fpv_cfgs.hjson#L62-L89

[2022-07-11 22:29] cindychip opened #13588 "[dv/pwm] Post V2S TODO list"
Because all V2S requirements are met, I am going to move the remaining items to post V2:

- [ ]  pwm_env_pkg functional coverage is low.

![image](https://user-images.githubusercontent.com/11466553/178369385-420f43f0-0a80-4938-be3c-b5489f7283c2.png)

[2022-07-11 22:31] cindychip commented on #8343
Sounds good, will create a PR soon.

[2022-07-11 22:32] cindychip opened #13589 "[alert_handler] V2S TODO lists"
- [x] [Cindy] Create PR for V2S status update.
- [x] [Cindy] clean up manually added regwen covergroup
- [x] [Cindy] update testplan for sec_cm_esc_rx_intersig_bkgn_chk, and mention that it’s not applicable as it’s tested in chip-level
- [x] [Weicai] https://github.com/lowRISC/opentitan/issues/47 Please check if we can close this.
- [x] [Cindy] wait for this issue to close: https://github.com/lowR

[2022-07-11 22:44] cindychip commented on #13476
Thanks Sri, let me file an issue and ask if Xcelium AE can help take a look at it.

[2022-07-11 22:59] weicaiyang commented on #47
already supported multi-reg/field in RAL mode. Closing this

[2022-07-11 22:59] #47 closed

[2022-07-11 23:36] weicaiyang opened #13594 "[kmac] assertion errors"
As discussed offline with @eunchan, if sideload is off, when keymgr requests KDF, key_len_i and key_data_i are changed, at the same time `st` is moving to `stKey`. Hence, these 2 assume will be failed.

  `ASSUME(KeyLengthStable_M, $changed(key_len_i) |-> st inside {StKmacIdle, StTerminalError})
  `ASSUME(KeyDataStable_M, $changed(key_data_i) |-> st inside {StKmacIdle, StTerminalError})

cc: @voge

[2022-07-11 23:43] weicaiyang opened #13595 "[kmac] should we check the PREFIX has correct function name for keymgr requesting KDF"
We check it for SW requesting KMAC operation, and report an error with err_code.IncorrectFunctionName=1 if prefix function name isn't "KMAC", but we didn't check for HW requesting KMAC operation. Should we also do that?

cc: @tjaychen

[2022-07-11 23:55] tjaychen commented on #13595
yeah i think so. I think the prefix even in keymgr mode is controlled by by software CSR is that right?

[2022-07-12 00:04] weicaiyang commented on #13595
yes, user needs to configure KMAC prefix before doing any keymgr operation. Currently, there is no error reported from design if the prefix is wrong.

[2022-07-12 00:06] tjaychen commented on #13595
i don't think there's a golden value for the prefix though, isn't that something software can decide on?

[2022-07-12 00:10] cindychip commented on #8343
Done here： https://github.com/lowRISC/opentitan/pull/13596/files

[2022-07-12 00:11] weicaiyang commented on #13595
To be more clear, we have this check (copied the spec to below) for SW requesting kmac operation, but this check doesn't apply to HW requesting operation.

[2022-07-12 00:13] tjaychen commented on #13595
hmm... this is a bit tricky.
@eunchan i think the prefix checks only apply to software initialized transactions.
But HW doesn't get the same. I think ideally we probably should check also.  For the purpose of this issue, we could just hardwire the keymgr usage to `KMAC`, we don't have to take it from the register value.

[2022-07-12 05:46] sha-ron commented on #13430
Thank you @timothytrippel

[2022-07-12 07:48] vogelpi commented on #13499
Perfect, thanks @tjaychen for the feedback. I will give this a try.

[2022-07-12 10:00] marnovandermaas commented on #13521
Yes, I think this is a good idea, since OpenTitan now also requires packages like GCC-9+ that are not available on Ubuntu 18.04 by default. I can have a go at converting the CI docker scripts to Ubuntu 20.04 to see if things still work well. If that doesn't go too badly then it can be discussed in the technical committee.

[2022-07-12 13:39] #13331 closed

[2022-07-12 16:24] eunchan commented on #13286
The assumption was that the TPM registers are changed while SPI is idle. So the latching here is more like committing the change into SPI clock domain.

But, as @a-will pointed in the Read Status module (in Flash mode) and @tjaychen said, it is unpredictable for SW to check if SPI is idle or not. So, Tim's suggestion looks good (latching @ SYS_CLK first). And #13398 and #13586 addressed that. ( @j

[2022-07-12 16:25] a-will commented on #13552
From the silicon meeting, we've decided to proceed with the external debugger and at least push off debugging the SAM3X path. Having the SAM3X as a single-cable solution may be nice to have in the future, but at least for now, we are not planning to pursue it.

[2022-07-12 16:25] #13552 closed

[2022-07-12 16:30] eunchan commented on #13595
Sure, we can do that. Just changing a parameter in `kmac_pkg` is enough.

The checking @weicaiyang raises here is to check the first 6 bytes are same with `encoded_string("KMAC")` if an application interface uses KMAC operation and **PREFIX** registers rather than a parameter.

[2022-07-12 16:33] eunchan commented on #13594
@cindychip could you please check if we have appintf testcases in the KMAC block-level sim env?
I think this should be caught in the block level.

FYI @cindychip , the key length configured by SW was 128, and AppIntf (KeyMgr) key length was 256, so that when AppIntf requests the hashing operation, key length was switched to 256 from 128. It raised the assertion.

[2022-07-12 16:52] cindychip commented on #13594
That is a good point! Thanks for tagging me. I did see one test from the nightly regression fail due to this assertion, but it might related to reset. Let me check the testplan and testbench and will get back to you!

[2022-07-12 17:19] #13266 closed

[2022-07-12 17:24] #13560 closed

[2022-07-12 17:27] jeoongp commented on #13286
Yes @eunchan. both PRs (https://github.com/lowRISC/opentitan/pull/13398 and https://github.com/lowRISC/opentitan/pull/13586) addressed latching data @sys_clk using csb input. 1) https://github.com/lowRISC/opentitan/pull/13398 generates the edge using 2FFs @sys_clk + glitch protection filter. 2) https://github.com/lowRISC/opentitan/pull/13586 generates the edge @spi_clk and it's converted to the ed

[2022-07-12 17:32] eunchan commented on #13286
So, the safest option is to use 2FF @ SYS_CLK -> latch TPM registers with CSb pulse -> 2FF to SPI_CLK then latch the latched TPM register @ SPI_CLK
These operation should be finished within 32 SPI_CLK cycles to use the value safely. (should have assertion that 3 SYS_CLK < 28 SPI_CLKs)

Other thing is to move the logic inside TPM to be more maintainable. I think #13398 is closer implementation than

[2022-07-12 17:35] cindychip commented on #13594
@weicaiyang is the case you are looking at happens right after reset?
In current kmac env, we can barely hit this case because right after reset, we are doing some kmac init before selecting appintf. This stress_all_with_rand_reset happen to hit this case because of the common_test randomly issued reset.
I should add this case in the testbench.

![Screenshot from 2022-07-12 10-32-10](https://user-

[2022-07-12 17:42] jeoongp commented on #13286
Can you explain why we need 2FF to SPI_CLK before latching TPM regs @ SPI_CLK? If it is to generate a new csb_pulse onto spi_clk after latching TPM regs @sys_clk, I agree.

For #13398, some downstream registers can have unnecessary values after the SPI transaction but they will be flushed and updated with new values at the beginning of the next SPI transaction. @tjaychen and @a-will, what do you t

[2022-07-12 17:51] cdgori commented on #49
Most of my earlier comments/concerns are reduced/eliminated (for HMAC) because we decided to not implement sideload.  Thus, the key material is software-originated/observable in all cases by the processor, regardless of context switch.  Software does probably need to take best-effort care to compartmentalize access to individual HMAC keys though.

KMAC context switch (if used/allowed) needs to be

[2022-07-12 19:15] dmcardle opened #13603 "[ci,fpga] Upload artifacts related to FPGA OTP splicing to GCP"
Context:
* https://github.com/lowRISC/opentitan/pull/13461#discussion_r919279429_
* https://github.com/lowRISC/opentitan/issues/10867

Minimally, we only need to upload `otp.mmi` (in addition to the Test ROM and Mask ROM bitstreams) to enable local splicing.

For convenience, we may also want to upload {test_rom, mask_rom} cross {dev, rma, etc}.

I think there's no need to upload the OPT MEM files

[2022-07-12 20:32] cindychip opened #13606 "[dv/kmac] Relax kmac init settings in app interface"
In current code, when we configure app interface, we always trigger kmac_init, which writes all the correct settings in cfg_shadowed, wr_key_length, set entropy etc.
However, in app interface, we do not need to set certain settings such as key_length, kmac_en, hash_mode, etc. Because they are build-in configurations about this settings already.

Needs to
- [x] update sequence and scb to support th

[2022-07-12 20:34] cindychip commented on #13594
Thanks @eunchan and @weicaiyang for this issue. I created the #13606 to track this change in DV. Besides sequence update, seems like the kmac scb is tied up with `cfg_shadowed` register settings as well even though we are doing app interface operation.
I will make a PR to support this soon.

[2022-07-12 20:37] weicaiyang commented on #13594
Thanks @cindychip

[2022-07-12 20:41] tjaychen commented on #13489
this should be handled by #13490
@matutem turns out I already handled the shallow sleep case (at least in theory), let me know if you observe otherwise during testing.

[2022-07-12 20:41] #13489 closed

[2022-07-12 21:49] msfschaffner commented on #13175
This has now been implemented - closing.

[2022-07-12 21:49] #13175 closed

[2022-07-12 22:34] matutem opened #13611 "[fpga,ast_init] FPGA needs to splice in the ast_init information"
The dif_sensor_ctrl_get_ast_init_done_status function fails to report ast_init is done on FPGAs. Apparently @dmcardle is working in this area in https://github.com/lowRISC/opentitan/pull/13461.

[2022-07-12 22:53] tjaychen commented on #13611
let me clarify a bit.
I believe this issue is because for fpga, the ast configuration otp bit is not set like it is [in DV](https://github.com/lowRISC/opentitan/blob/master/hw/top_earlgrey/dv/env/seq_lib/chip_base_vseq.sv#L68)

So this ties a bit into the splicing work. We can either splice this in on a per test basis, or we can update [the default](https://github.com/lowRISC/opentitan/blob/master

[2022-07-12 23:23] eunchan commented on #12911
Related to #13197 #13398 #13586

[2022-07-13 01:05] tjaychen opened #13617 "[lc_ctrl] Device cannot scrap when transition count saturated"
While writing a top level test I noticed that scrap transition fails when the transition count is saturated.
This is probably a corner case we did not specify very well early on.  In hindsight, scrapping is meant to be an unconditional arc, and probably should be allowed to happen even if transition count has saturated.

An attacker can't gain "more" information by scrapping the part (or we hope).

[2022-07-13 01:16] msfschaffner commented on #13617
Ah that is a fair point! Looks like a corner case we did not think about before...

But I agree, it's probably ok to defer this change to a future version.

[2022-07-13 11:47] hello-eternity opened #13619 "sv2v formal script"
hello, I find there is a sv2v formal in this repo opentitan/blob/master/util/syn_yosys.sh. There is some code like this.
but I did not see the build file. How can I run through this script.
[code]

[2022-07-13 14:08] drewmacrae opened #13622 "csrng fires an unexpected interrupt during plic_all_irqs_test_sim_verilator"
Near the end of the plic_all_irqs_test on a verilated earl grey model, we get an unexpected csrng interrupt and the test fails.

The relative clock rates are a little different in the verilated model so it's not surprising we only see the issue in verilator.

 It looks like the CSRNG is firing an interrupt the test doesn't expect long after the CSRNG's interrupts are explicitly tested. (As if it w

[2022-07-13 14:08] drewmacrae commented on #13622
I'm not yet sure which interrupt has fired, I'm checking that and whether it's relative to csrng init or the testing of the csrng interrupts.

[2022-07-13 14:09] drewmacrae commented on #13622
Is there supposed to be a sort of watchdog and is there a way to "pet the dog" in the CSRNG so it doesn't bark?

[2022-07-13 14:27] dmcardle commented on #13611
OTP splicing is coming along in PR #13461! If you have an OTP definition to point to in [hw/ip/otp_ctrl/data/](https://github.com/lowRISC/opentitan/tree/master/hw/ip/otp_ctrl/data), it's trivial to modify an `opentitan_functest` to use a particular OTP-spliced bitstream.

Caveat: the modified functest would not be runnable on CI instances without Vivado installed until we start uploading selected

[2022-07-13 14:57] drewmacrae commented on #13622
It's reporting an ID of 178
[code]

[2022-07-13 15:00] drewmacrae commented on #13622
Perhaps the test should disable interrupts from the csrng after it's been tested.

[2022-07-13 15:02] drewmacrae opened #13624 "cpu:4 tag not properly applied to verilated tests"

[2022-07-13 15:04] drewmacrae commented on #13624
using --test_tag_filters:cpu:4 doesn't identify verilated tests which seems to indicate the reason it's not working could relate to the application of the tag failing somewhere

[2022-07-13 15:08] drewmacrae commented on #13622
We could also just test the csrng near the end of the test...

[2022-07-13 15:49] cindychip commented on #13617
Yeah that is a good point! Thanks for bringing this up. I think it is a reasonable enhancement.

[2022-07-13 16:52] eunchan commented on #13286
OK. I [summarized my idea](https://docs.google.com/document/d/1YDo6wJHQRo-FAxER62Rqcwq44IlonWQSLkoEBY1uIgY/edit) and the implementation done in #13586. I think #13586 is good.

[2022-07-13 18:14] cindychip opened #13626 "[doc["

[2022-07-13 18:24] cindychip opened #13628 "[dv/flash_ctrl] using coverage for pass and fail"
In current flash_ctrl_rd_buff_evict test, we are using coverage results to create pass and fail.
https://github.com/lowRISC/opentitan/blob/master/hw/ip/flash_ctrl/dv/env/seq_lib/flash_ctrl_rd_buff_evict_vseq.sv#L389-L395

I think instead of relying on coverage, maybe a better way is to just check in scb or sequence.

Discussion:
https://github.com/lowRISC/opentitan/pull/13584#discussion_r920376131

[2022-07-13 19:07] tjaychen commented on #13626
yeah that sounds really good to me. Even if others cant use the exact same version, they'll at least know what the project is running with if they observe differences.

[2022-07-13 21:53] tjaychen opened #13633 "[csrng] drbg command status"
While debugging a separate test, we noticed that the `hw_inst_exc` interrupt would pulse very early on.
However since interrupt enable is not set, this is not registered.

Digging into further, the problem appears to be [here](https://github.com/lowRISC/opentitan/blob/master/hw/ip/csrng/rtl/csrng_ctr_drbg_cmd.sv#L321).

The status return from the command block looks only at the `uninstantiate` com

[2022-07-13 21:54] tjaychen commented on #13633
@a-will
@drewmacrae

[2022-07-13 23:20] tjaychen opened #13634 "[top/rom] Allow software to delay device debug access"
We currently enable debug access purely based on life cycle.
Specifically, when we are in TEST / DEV / RMA states, debug access is automatically enabled.

However, during production states (or any state where the device might be widely distributed, such as DEV state potentially), we can further delay debug enablement to give software a chance to fully wipe out any relevant content.

This is benefi

[2022-07-14 01:58] #13502 closed

[2022-07-14 05:29] matutem opened #13640 "[dv,rstmgr] Generate list of rstmgr_leaf_rst instances"
The rstmgr_leaf_rst_cnsty and rstmgr_leaf_rst_shadow_attack countermeasure tests rely on the LIST_OF_LEAFS and LIST_OF_SHADOW_LEAFS lists of instances of rstmgr_leaf_chk instances in rstmgr, declared in rstmgr_env_pkg.sv.

If the names of these instances changes these tests will start failing, but if a new instance is added there will be no test failures but the countermeasures for the missing ins

[2022-07-14 08:05] andreaskurth opened #13641 "[otbn] `BAD_DATA_ADDR` unknown when taking memory address from empty call stack"
The last instruction in the `bnlid-1.s` test
https://github.com/lowRISC/opentitan/blob/0f7566f207657f39cb045ca18c97c3caef94c22c/hw/ip/otbn/dv/otbnsim/test/simple/multi/bnlid-1.s#L4-L8
intentionally raises multiple errors: a `CALL_STACK` error because the load address is taken from the call stack, which is empty, and an `ILLEGAL_INSN` error because the destination register index is greater than the

[2022-07-14 08:05] andreaskurth commented on #13641
What do you think, @GregAC @ctopal @vogelpi ?

[2022-07-14 11:00] engdoreis opened #13643 "[dif] Standardize the behavior of difs for locking register functions"
Some difs return `kDifLocked` when asked to lock an already locked register such as (`dif_flash_ctrl`),  and others difs return `kDifOk`.

1. Should we standardize this behavior?
2. Which would be the adopted behavior?

I advocate to always return `kDifOk` no matter the current lock state

@timothytrippel for visibility.

[2022-07-14 13:36] drewmacrae commented on #13633
This appears to be the cause of https://github.com/lowRISC/opentitan/issues/13622

[2022-07-14 13:44] mwbranstad commented on #13622
two likely sources of interrupt for csrng would be "cs_cmd_req_done" in which case a SW cmd has finished executing. The second would be "cs_entropy_req" where a request for a new seed from ENTROPY_SRC was made. I would expect that interrupts are not normally enabled for proper operation. There is no "watch dog" function in CSRNG.

[2022-07-14 13:47] rasmus-madsen opened #13646 "[aes] Forcing cipher core FSM signals does not result in fatal alert"
hi @vogelpi
in the cipher_control_fsm forcing the key_dec_sel does not result in the expected fatal
here you can see one is set to two
while one of the two other is set to key_dec_expand
![image](https://user-images.githubusercontent.com/53917183/178997378-9efd1c49-5417-45e8-81b7-1a73bc197b9b.png)

to recreate use PR#13645
and run
./util/dvsim/dvsim.py hw/ip/aes/dv/aes_masking_sim_cfg.hjson -i aes

[2022-07-14 13:49] drewmacrae commented on #13622
My mistake, I misread #13622, I see it's describing a separate issue regarding an earlier interrupt pulse. As I understand there's an entropy request (or many) being made here that's causing this interrupt later in the test.

[2022-07-14 14:06] mwbranstad commented on #13633
Seems very odd. Adding @senelson7. Will try to re-create.

[2022-07-14 14:41] mwbranstad commented on #13633
@tjaychen  re-read your analysis again. It appears that the conditions for setting cs_hw_inst_exc should never happen, which was the intend (unless forced in a sim or an attack). Our unit sim shows this behavior as well. We cannot re-create this issue in module level sim. Is there a way you can create a waveform snapshot that shows how this initial pulse is generated?

[2022-07-14 15:02] ariel9678 opened #13648 "[dv,chip] Wrong register alignment when using process_tl_access"
When using process_tl_access inside the scoreboard, and calling  uvm_reg_addr_t csr_addr = ral.get_word_aligned_addr(item.a_addr);
When accessing address 0x4 the ral.get_word_aligned_addr(item.a_addr) returns csr_addr=0x0 (instead of 0x4).
In chip_sim_cfg.hjson defined tl_dbw=8  because RV_DM reg is 64 bits wide, (but other CSRs are all 32-bits).

[2022-07-14 15:34] cindychip commented on #13626
I think a table on HW dashboard would be sufficient! Shall we also include SW tools?

[2022-07-14 15:46] GregAC commented on #13581
RFC for this is here: https://docs.google.com/document/d/1hl-btL5d165U2O9Ec94ayDBFLkfju8pUrq5rYZVYZxU

[2022-07-14 16:49] tjaychen commented on #13622
sorry, i should have clarified. These two issues are related, they're just manifesting differently depending on test platform.
Let me get some waves out to show.

[2022-07-14 17:14] msfschaffner commented on #13626
I think so. One other thing to note: we already seem to have something like a versions file:
https://github.com/lowRISC/opentitan/blob/master/tool_requirements.py

this is used by *some* fusesoc scripts, but not all of them.

I wonder whether we can consolidate this somehow - given that bazel is going to ensure certain versions of tools are being checked out.

What would be really confusing is if

[2022-07-14 17:29] tjaychen commented on #13633
@mwbranstad have a look here.
This is the first instantiate command of the design (initiated by rom).
![image](https://user-images.githubusercontent.com/1026250/179045675-cadd2d52-9b95-4c58-ad4f-53a12333df5e.png)

When the command is acknowledge however, the "sts_o" is 0, and this eventually leads `event_cs_hw_inst_exc` pulsing for a cycle.  This then gets captured in the interrupt state, although

[2022-07-14 18:28] cindychip opened #13655 "[dv/kmac] keymgr app interface might switch back to select csr keys when msg is short"
Hi Eunchan,

My screenshot function somehow does not work, so apologize ahead of time.
What I think happens here is that when keymgr interface sends out a very short message (in my case only 2 words), the key selection first uses the `sideload` key, then it changes to use `csr keys`.

I think the related codes are here:
1). Key selection: It will only select keymgr keys when `mux_sel_buf_key == Se

[2022-07-14 18:37] eunchan commented on #13655
Thanks for the report. It looks indeed like a bug. Let me dig the logic and prep for fix.

[2022-07-14 18:38] tjaychen commented on #13633
ah yes i was wondering about that. I couldn't tell what the polarity of the
status should have been.
Are you saying 0 means good, and 1 means bad?

I thought it was the other way around. Could you double check the gen block
also? That's the other one that has a status, and I'm not sure what it's
supposed to be either.

On Thu, Jul 14, 2022 at 11:27 AM mwbranstad ***@***.***>
wrote:

[2022-07-14 18:48] mwbranstad commented on #13633
Yes 0 is good.
Both blocks generating status look fine.
Now we need to enhance the TB to catch this.

[2022-07-14 19:10] mwbranstad commented on #13633
yes @tjaychen it will never set. It could be set to zero as well. I think this was a first stab at looking for illegal commands but never found any i guess.

[2022-07-14 19:17] tjaychen opened #13657 "[top/clkmgr] Synchronous resets not supported"
A side effect of #13095 is that synchronous resets are no longer supported for lc reset types, which is the first reset domain to be released.

While at first this did not seem like a problem, there are two issues:
1. There are effective synchronous resets inside ast.  Without synchronous reset support, the logic in question propagates x's.
2. Verilator only understand synchronous resets. So if lc

[2022-07-14 19:21] tjaychen commented on #13633
sounds good!

[2022-07-14 19:49] colinoflynn commented on #13552
I missed the notification this week - but approach sounds reasonable. If you have specific trouble with SAM3X ping @alex-dewar as well. But the SAM3X USB limitations remain awkward no matter how you do it because of the endpoint limitations, so if long-term hyperdebug will be an external tool I would think merging that into SAM3X may have a lot of work with minimal gain.

[2022-07-14 20:50] timothytrippel commented on #13643
Yes I agree with @engdoreis, according to the DIF [style guide](https://docs.opentitan.org/sw/device/lib/dif/) the `kDifLocked` return code is for `DIFs which may fail due to lockout, which is software-detectable...`. The locking DIFs themselves should be reentrant, always returning `kDifOk` if they succeed at doing their job, i.e. locking the IP. Since their job is so simple, the only other retur

[2022-07-14 20:57] tjaychen commented on #13269
this was added by @Jacob-Levy, closing.

[2022-07-14 20:57] #13269 closed

[2022-07-14 20:59] tjaychen commented on #13179
@jdonjdon i'm closing this down.
Let me know if you think anything is lingering and we can re-open.

[2022-07-14 20:59] #13179 closed

[2022-07-14 23:28] cindychip commented on #13565
Fixed here: https://github.com/lowRISC/opentitan/pull/13593

[2022-07-14 23:28] #13565 closed

[2022-07-14 23:29] #13476 closed

[2022-07-15 00:47] drewmacrae commented on #13622
This is resolved by #13656

[2022-07-15 00:55] #13633 closed

[2022-07-15 00:56] #13622 closed

[2022-07-15 03:50] hello-eternity commented on #13619
Thank you for your answer, I still want to know if this project still use Openlane flow. And how can you solve the problem that Openlane just could input verilog file. Without sv2v, I know Surelog+uhdm flow, but I don't think It can support enough systemverilog syntax. Is there any other method?(verific and commercial yosys may be good, but we don't have their license)

[2022-07-15 07:33] vogelpi commented on #13641
Thanks for reporting this issue @andreaskurth . Both your proposals sound sensible to me. I think we should look into this after D2S.

As discussed yesterday, this behavior has been there for a while already but we didn't observe it. The modifications Andreas has been doing for D2S (removing resets from GPRs and WDR, initiating secure wipe after reset etc.) don't change the core's behavior regardi

[2022-07-15 09:31] engdoreis commented on #13594
@cindychip  Should this fix allow  the removal of the kmac initialization from the `aes_sideload_test`?
I tested I'm still getting an assertion error
[code]
You can preduce this erro using the PR #13672

[2022-07-15 10:47] GregAC commented on #13641
Why does that program raise a call stack error? It doesn't touch the `x1` register.

Were `BN.LID` to be reading from an empty call stack I believe it should just raise an illegal instruction error. As the instruction is illegal execution should never be attempted and thus no call stack error should occur. Were the instruction legal we'd just get a call stack error as the load would be attempted a

[2022-07-15 13:39] andreaskurth commented on #13641
You are right of course. I made two mistakes here: I misunderstood that the load of `bn.lid` was also indirect, and I mixed the binaries up when reading the log file (`bnlid-1` instead of `bnlid-8`). Sorry about that. I have update the description. The underlying issue is the same, though.

Why should `BN.LID` raise `ILLEGAL_INSN` when reading from an empty call stack? As far as I understand the c

[2022-07-15 16:19] msfschaffner opened #13676 "[sram_ctrl] D3 review opens"
- [x] Review tlul_adapater_sram parameters (msf / tim) #7462, #13771
- [x] Style nit: sram_ctrl.sv: 146, input port with direct logic expression instead put combinational logic elsewhere with a new signal name to feed into the input port #13677
- [x] Style nit: sram_ctrl.sv: 187: Enclose unary OR in parentheses (more import when change to bitwise OR from above it applied) #13677
- [x] Style nit: S

[2022-07-15 16:28] GregAC commented on #13641
I could have explained that better, I was referring to the `BN.LID` that had both increments set, so the `ILLEGAL_INSN` would take precedence over the call stack error.

Ok great

[2022-07-15 16:32] tjaychen commented on #13197
@jeoongp i think this specific issue is closed right? can we close this one..?

[2022-07-15 16:41] #13265 closed

[2022-07-15 17:24] a-will commented on #13676
The ROM chooses to block on the SRAM accesses instead of checking STATUS.SCR_KEY_VALID. This is okay, since we know for sure that we set up the CSRNG and EDN before changing keys. It's a recommendation for more debuggable user code, not a "should" or "must" ;)

[2022-07-15 17:39] msfschaffner commented on #13676
Cool, thanks for checking.

[2022-07-15 17:45] jeoongp commented on #13197
@tjaychen no problem. AEs are still looking for a tool support. I will keep you posted.

[2022-07-15 17:45] #13197 closed

[2022-07-15 17:48] sriyerg commented on #12984
Yes, that is what I had in mind too. We could add `rand_testutils_init(uint32_t *lfsr)` which can be called by OTTF before entering `test_main()`. It will set the initial `lfsr` value from the entropy source for non-DV platforms. For DV, It could read the initial value from one of the scratch registers we added to `rv_core_ibex` (SV side will need backdoor-force it).

[2022-07-15 17:56] jeoongp commented on #13197
No problem. The PR https://github.com/lowRISC/opentitan/pull/13462 was approved but not merged. I have no permit to merge.. Can you merge it? If any CDC issue in this dual port sram, we can reopen this ticket.

[2022-07-15 18:09] tjaychen commented on #13197
sounds good, thanks @jeoongp

[2022-07-15 18:27] eunchan commented on #13594
Hi Douglas, You should see no assertion errors now #13666 has been merged.

[2022-07-15 20:14] matutem opened #13683 "[sw,sensor_ctrl] Create testutils function for ast_init_done"
Wrapping a call to dif_sensor_ctrl_get_ast_init_done_status in a function that returns the status will enable using IBEX_SPIN_FOR in the check for ast_init_done.

[2022-07-15 20:31] dmcardle commented on #13603
Hmm, the MMI files seem not to be in the latest archive.

[code]

I only see these files:

[code]

Matching the latest archive's ETag value from `https://storage.googleapis.com/opentitan-bitstreams` reveals it came from 77d9624db87f02ba7b9d4e78d18d29b2b377c230. But #13632 was merged before that commit, so I'm not sure why the MMI files aren't in the archive.

[2022-07-15 20:37] cindychip opened #13685 "[dvsim] List CPU runtimes and longest ones in the report"
Current regression user has to go to each individual file to find the CPU time.

Proposing supporting the following feature:
Support searching and abstracting all CPU runtimes, and list the longest ones in the report.

Proposed steps are:
1). Parse the job log file
2). Read out tool-generated statistics representing CPU time (wall clock) and the simulated time (ns)
3). Maintain this on per job bas

[2022-07-15 20:41] eunchan commented on #13655
@cindychip the PR has been merged, could you please check and close this if OK?

[2022-07-15 21:22] engdoreis commented on #13594
Great, it's working now!! Thanks!

[2022-07-15 21:37] dmcardle commented on #13603
Thanks, @a-will! I'll have to dig into this more next week.

I thought it would be sufficient to use `ci/gcp-upload-bitstream-template.yml` in the definition of the [`chip_earlgrey_cw310_splice_mask_rom` job](https://cs.opensource.google/opentitan/opentitan/+/master:azure-pipelines.yml;l=415-425;drc=fefbcad3f0a7db95d009e9f50cb5a2c5431cd487). That [template](https://cs.opensource.google/opentitan/o

[2022-07-15 22:24] tjaychen opened #13689 "[flash_ctrl] data error in flash read pipeline"
#13682 uncovered an issue with how ecc errors are handled in the flash read pipeline.

the flash read pipeline has 3 stages
flash request -> de-scramble -> respond.

Normally, a transactions checks during the first stage to see if it matches a buffer in flash request (even if that buffer is in the process of being filled).  If it matches, that transaction basically skips the first two stages, and

[2022-07-15 22:24] tjaychen commented on #13689
@jdonjdon

[2022-07-15 22:31] matutem opened #13690 "[dv/clkmgr] Fix resets"
The clkmgr gets a single POR reset rst_por_io_n, and all others are reset in regular "lc" resets. In particular, rst_aon_ni is lc.

This needs rework in the apply_reset functions.

[2022-07-16 06:48] tjaychen commented on #9507
Need to try this out by removing the fpga work around for low power entry / exit.

[2022-07-17 10:20] Jacob-Levy opened #13696 "AES buils fails on VCS Compatability"
When running CI(private) check with VCS, the AES fail duyring build:
[code]
@tjaychen @arnonsha  It is time to add VCS run/build to the release process...

[2022-07-18 02:08] martin-lueker commented on #13696
Hi @Jacob-Levy,
   I can let @rasmus-madsen to look into the bugs here, as this is his block.
   AES is a block where the sign-off tool is Xcelium, as [you can see here]:(https://github.com/lowRISC/opentitan/blob/4a7932628d9bca84c7d631528df7175886e2f551/hw/ip/aes/dv/aes_base_sim_cfg.hjson#L15).  The CI(private) will fail when _smoke testing_ with VCS in the base configuration, though what is the p

[2022-07-18 02:17] martin-lueker commented on #13696
As a follow-up, I'm looking more closely into the AES configuration for CI(private) and I see that the masking and no-masking configurations are both being used.   However, with that said, I'm a bit confused why the current CI(private) wouldn't catch this.  What exactly are you trying to do?

[2022-07-18 10:15] rasmus-madsen commented on #13696
@Jacob-Levy @martin-lueker
Thank you for bringing this to my attention - it seems  VCS is lacking some basic VIF support in this case.
@martin-lueker this is not caught because as you said Xcelium is the signoff tool - so everything in CI runs this with xcelium.

this issue will be fixed with the merge of #13645

[2022-07-18 10:23] jadephilipoom commented on #49
There are definitely concrete use cases for this for the OS-visible cryptolib. Concurrent HMAC operations are required in order to comply with the TPM specification, for instance -- of course levels higher up can create software implementations, but if they want to use the hardware they do need save/restore for some cases.

[2022-07-18 10:53] rasmus-madsen commented on #13696
@Jacob-Levy VCS was never the default simulator for the AES block!
the issue is similar to what have been found before.
there are functionality that is supported in one tool but not in the other.

it is never caught by CI but always by the group using the other tool:
I think we have found about the same number of issues on each side.

having CI run both tools is too much overhead, which is why eac

[2022-07-18 11:02] arnonsha commented on #13696
I am not completely sure  but it sounds like the private CI doesn't use the "default sign-off" tool for each block. Instead it uses only a single simulator. Maybe that should be fixed.

[2022-07-18 11:04] rasmus-madsen commented on #13696
@arnonsha it will use the simulator you tell it to i think.

Maybe if @Jacob-Levy give the command he uses to replicate this we will understand better!

[2022-07-18 11:52] Jacob-Levy commented on #13696
`util/dvsim/dvsim.py hw/top_earlgrey/dv/top_earlgrey_sim_cfgs.hjson --purge -w -i smoke --max-parallel 3 --tool=vcs --fixed-seed=1`

[2022-07-18 12:40] rasmus-madsen commented on #13696
@Jacob-Levy ahh - the dvsim does not look at what Tool is used for Signoff
it always assume VCS  unless you configure it differently,

to use xcelium add the `-t xcelium`

[2022-07-18 12:54] vogelpi commented on #13573
Hi @rasmus-madsen ,
thanks for creating the issue. What's happening is that after signaling the alert due to detecting the injected fault, the simulation resets AES. As you can see in the waves below, the EDN request is dropped together with the reset becoming active. This is because the logic added for #10991 uses a flip flop to hold the request. So that the request is dropped is expected in my o

[2022-07-18 14:40] martin-lueker commented on #13696
Alright, my little test is complete.  I am able to run `dvsim` without the -t option, and it succeeds for all 43 test configurations.

[code]

I can also confirm [from the CI-private configuration](https://github.com/lowRISC/opentitan-private-ci/blob/0fb2f44c85c0f24bf997708fef6e45fa221a27c3/jobs.yml#L39) that it is _not_ using `-t` when running the smoke test.   So @Jacob-Levy, the `-t vcs` seems

[2022-07-18 15:04] Jacob-Levy commented on #13696
The -t was delibrate since we are using VCS, but for the CI(private) run before doing a PR, I will remove it.
The big issue is that for the full-chip runs we are using VCS and if some Xeclium features end up there, we will fail to compile...

[2022-07-18 16:18] GregAC opened #13701 "[aon_timer, rtl] Potential missed wakeup bug in aon_timer"
https://github.com/lowRISC/opentitan/pull/7201 fixed a missed wakeup bug in aon_timer and the fix may have been undone by https://github.com/lowRISC/opentitan/pull/7701/files

Investigate and fix if needed

[2022-07-18 16:27] tjaychen commented on #13696
@sriyerg for more thoughts and details

i believe the direction we are going to move in for chip level is that both xcelium / vcs should run (xcelium doesn't yet, but that's something we are working on).

I would think long term block level really needs to be the same.. ie...we may choose to sign-off with a specific tool, but it would be great if multiple tools can run basic simulation (ignoring c

[2022-07-18 16:55] msfschaffner opened #13704 "[aon_timer] D3 review opens"
- [x] https://github.com/lowRISC/opentitan/issues/13701
- [x] @jeoongp to finish the RTL review

[2022-07-18 18:08] dmcardle commented on #10867
Per chat with @cfrantz, let's change //hw/bitstream/vivado:fpga_cw310 to use an empty ROM image as input. We can then generate the test ROM and Mask ROM variants of the bitstream via splicing. This enables developers to iterate on the test ROM without recompiling the whole bitstream.

[2022-07-18 18:34] arnonsha commented on #13696
I agree @tjaychen
@martin-lueker, @rasmus-madsen  thank you for sorting this out.

[2022-07-18 18:49] eunchan opened #13706 "Relaxed Reset Constraints (Gating clock while resetting)"
This issue describes the method to lessen the Reset Domain Crossing check effort.

The suggestion is to gate the relative clock when asserting the reset. A few benefits are:

- The metastability issue when releasing the reset signal will disappear.
- Back-end effort can be reduced as no need to build the reset tree to match the phase.
- reset tree load can be lessened if the reset is released per

[2022-07-18 19:47] sriyerg commented on #13696
V1 signoff mandates the smoke suite to pass with one alternate tool (VCS, if the signoff tool is Xcelium and vice versa). Since the AES block level is signed off with Xcelium, its smoke suite must pass with VCS at the least.

[2022-07-18 20:08] rasmus-madsen commented on #13696
@sriyerg all the tests pass with VCS - this was an issue with VCS and a newly created directed test

[2022-07-18 20:48] sriyerg commented on #13696
Right, but @Jacob-Levy's first comment seems to indicate that the build is itself failing with VCS. I am able to reproduce it too:
[code]
This seems like an easy fix.

[2022-07-19 01:34] tjaychen opened #13716 "[edn/csrng] behavioral questions"
while debugging #12966  today, i came across a few entropy complex behavioral questions and wanted to double check.

- it appears that the [command done](https://github.com/lowRISC/opentitan/blob/master/hw/ip/edn/rtl/edn_core.sv#L462) interrupt may not assert for the very first time because there is a timing mismatch while in boot mode. The csrng_ack signal causes `edn` to set the interrupt gate,

[2022-07-19 01:39] tjaychen commented on #13716
@mwbranstad these aren't necessarily bugs, just things i ran into while debugging a failed edn test.
If you have time, it'd be great if you can have a look. If not, i'll look at it later as well.

[2022-07-19 02:54] sriyerg commented on #13505
Fixed with #13506.

[2022-07-19 02:54] #13505 closed

[2022-07-19 08:32] Jacob-Levy opened #13720 "Chip SW tests are failing due to "error: aborting due to previous error""
@tjaychen @arnonsha  @sha-ron
After rebase, the 3 chip SW tests are failing. All other tests are passing!

[code]

[2022-07-19 08:53] vogelpi commented on #13646
Hi @rasmus-madsen ,
I just had a look at this. The specified seed no longer results in a failure. But what's happening is very similar to #13572.

For example, forcing the following signals doesn't result in a fatal alert:
- out_ready_i to 1, seed 2366617437
- sub_bytes_out_req_i to 1, seed 3323654017
- key_expand_out_req_i to 1, seed 901639764

[2022-07-19 10:49] Jacob-Levy commented on #13720
[code]

[2022-07-19 13:40] ariel9678 opened #13723 "[bazel] Closed source sw build fails due to a missing file"
When running the following bazelisk command to build the closed source test:
**./bazelisk.sh build @manufacturer_test_hooks//:closed_chip_sw_alert_test_sim_dv --action_env=MANUFACTURER_HOOKS_DIR=/tanap1/proj_cd14/opentitan/arcohen/ast_ver_71_check_bazel/nuvoton/verification/sw/device/tests/closed_source**

We get the error below, (the baselisk command above worked fine in the past):

**$TEST_TMPDI

[2022-07-19 13:40] mwbranstad commented on #13716
@senelson7 and I will review these as we have done a lot of unit testing in these areas.

[2022-07-19 15:23] tjaychen commented on #13720
@Jacob-Levy
can you have a look at the [bazel cheat sheet](https://docs.google.com/document/d/1Ab4AWJAuCmtBZMQFZAq6fDB70lLrumIXLG1PKx4GXx0/edit#) and look at the second potential error.

I believe it is what you are seeing.

@timothytrippel

[2022-07-19 15:32] tjaychen opened #13725 "[adc_ctrl] Enhance adc_ctrl low power scan to automatically return to low power"
adc_ctrl's low power could benefit a bit from smarts from scanning.
Currently, the low power scan is just a low duty cycle version of the one used in normal mode.

However, it would make more sense to make the low power scan conditions looser.  When any match is seen, it then wakes up normal scan to confirm whether there is an actual hit. If normal scan timeouts, it should then return to low power

[2022-07-19 15:32] mundaym commented on #13521
This issue was discussed in the software working group meeting (2022-07-19). No objections were raised with regards to updating to 20.04 LTS in the near future.

[2022-07-19 15:37] cindychip commented on #13606
close as both PR merged

[2022-07-19 15:37] #13606 closed

[2022-07-19 15:44] tjaychen opened #13726 "[all] split cm label between bus integrity and WE error check"
At the moment bus integrity and WE error check uses the same error and the same CM label.
Long term, it would be best to split these out separately.

[2022-07-19 16:23] eunchan commented on #49
Thanks for the response Jade. OK. Let's aim to implement this in next release.

[2022-07-19 16:38] timothytrippel commented on #13720
Yeah that's right, looks like that's ^^ the issue.

[2022-07-19 17:21] sriyerg commented on #13465
This should be fixed by PR #13730.

[2022-07-19 18:07] sriyerg commented on #12377
One issue I can think of is if comma is a part of the option value itself, for example. `--run-opts +myplusarg=a,b,c,+myotherplusarg=foo`. The UVM code has usecases like this.

[2022-07-19 18:49] #12377 closed

[2022-07-19 19:17] sriyerg commented on #12462
@olofk, could you please provide some help on how to achieve this? I am not sure if fusesoc config file supports a notion of "ignore these directories".

[2022-07-19 19:20] sriyerg commented on #12462
IMO limiting the `--cores-root` to `hw/` tree would be very  nice, given the amount of artifacts we generate in the repo top area running various tools.

[2022-07-19 20:46] cindychip opened #13735 "[dv/xcelium] simulation run always dumps waves"
I wonder if this happened to anyone else?
When I run any command with xcelium, for example: `./util/dvsim/dvsim.py hw/ip/entropy_src/dventropy_src_sim_cfg.hjson -i entropy_src_rn*`
The output always has `waves.shm` even though I did not specify the `-w` option.
I think we could fix this to improve runtime.

[2022-07-19 23:00] jeoongp commented on #13704
Done. No issues found.

[2022-07-19 23:08] tjaychen commented on #13716
sounds good. The specific test in question basically exhausted all the entropy while in boot mode.
I guess my main point is that if we accidentally did this via bad software, at the moment we have no way of discovering what's happened (other than new entropy fetching just getting stuck).  So I feel like even in boot mode it may be good to allow the interrupt as a way to notify software "you did so

[2022-07-19 23:43] cindychip opened #13741 "[dv/entropy_src] entropy_rng test hanging in nightly regression"
I have seen the nightly regression hanging due to the entropy_rng test.
So I temp disabled this sequence in nightly regression.
I tried to fix it in PR #13740 but still seems to have some issue.

But I think the main issue is `shutdown_indefinite_seqs` did not stop the `m_csrng_pull_seq_single` sequence.

Actually thinking about it more, I thought `m_csrng_pull_seq_single` sequence should only hav

[2022-07-19 23:52] msfschaffner opened #13743 "[otbn] Update docs(?)"
Do we need to update [this](https://docs.opentitan.org/hw/ip/otbn/doc/index.html#security-features) section in the OTBN docs in light of https://github.com/lowRISC/opentitan/issues/11019? It says that the security features are still a work in progress...

[2022-07-20 00:05] msfschaffner commented on #11019
I have aligned the spreadsheet accordingly, so that part should be good now.

The only parts that remain are the reset removal (and related patches).

[2022-07-20 00:18] msfschaffner commented on #6547
What is the status of this issue? Do we need to group it with one of our upcoming milestones / assign a priority?

CC @tjaychen

[2022-07-20 00:22] msfschaffner opened #13745 "[alert_handler]"
Need to formulate SDC constraints for alert signals (to constrain skew between asynchronous differential wires).
This has already been documented in the spec [here](https://docs.opentitan.org/hw/top_earlgrey/ip_autogen/alert_handler/doc/index.html#timing-constraints), but we still need to formulate these constraints at the top-level.

[2022-07-20 01:02] martin-lueker opened #13746 "[entropy_src] Recoverable "FIELD" alerts firing continuously"
This issue is similar to #10134, in that it involves recoverable alerts that are firing continuously.  In this case it is the 11 different `*_FIELD_ALERTS` which are designed to check whether a bad MuBi has been received.   Once a bad MuBi has been written the alert fires continuously until the bad MuBi has been corrected.

This was not caught previously because the up to now the only sequence tha

[2022-07-20 06:13] martin-lueker commented on #13746
@mwbranstad, could you please take a look at #13747 as a possible fix to this?

[2022-07-20 08:41] martin-lueker commented on #13741
Hi @cindychip , thanks for taking a look at this.
I think your ideas in the PR are pretty good.   I'll take a look at this more closely in the next couple days.  In the meantime #13748 will sidestep this issue for now by just eliminating the need for so many resets.

[2022-07-20 09:37] Jacob-Levy commented on #13720
Still failing after installing the 'lld' :(

[code]

[2022-07-20 12:49] jdonjdon opened #13751 "[flash_ctrl] info partitoin overflow is not handled gracefully"
Run #13750
Test sends program FlashPartInfo with page address 10 (which is out of range) @2787751.5ns
@27877619,
tb.dut.u_flash_mp.page_cfg becomes 'x' due to index of info_page_cfgs_i is out of range and
tb.dut.flash_phy_req.req and tb.dut.flash_phy_req.prog become x.

[2022-07-20 14:33] andreaskurth opened #13753 "[otbn] Signal completion of initial secure wipe with `done` signal"
After #13321 is merged, OTBN will perform a secure wipe after reset. During this time, it will not handle commands. This status is exposed as `BUSY_SEC_WIPE_INT` in the `STATUS` register. After the initial secure wipe is complete, `STATUS` will become `IDLE`, but the `done` signal, which can be turned into an interrupt, is not asserted.

The rationale for the current behavior is symmetry with resp

[2022-07-20 14:49] tjaychen commented on #6547
@johannheyszl
@jadephilipoom

Johann do you guys want to take a stab at this?
I think the basic idea here is that we want to give "memory" to alerts in certain scenarios.
Our alert system is effectively non-volatile at the moment, ie once you reset the effect is gone.  (the fact that an alert was there is recorded in reset manager however).

One of the labs we talked to proposed that perhaps we sh

[2022-07-20 14:58] dmcardle opened #13754 "[sw] Enable ASAN and UBSAN for local unit tests"
I'd like to enable various LLVM sanitizers for unit test binaries that run on the host.

If this goes smoothly, maybe we could also enable ASAN for test runs on CI. @milesdai WDYT?

[2022-07-20 15:03] tjaychen commented on #13751
damn it, i had a feeling i didn't handle this case.
Just out of curiosity, did the data side overflow work correctly?

[2022-07-20 15:08] jdonjdon commented on #13751
Haven't checked yet. But data page is constrained by the address size, so not sure how to create the out of range index.
For read I will test with directed tests as we discuss in previous email.

[2022-07-20 15:11] mwbranstad commented on #13716
More responses:

1. Understand the debug concern. A debug mode bit could be added to allow any status to be updated, independent of mode. Not sure if that is useful or not.
2. Actually the max size should be 0x1FFF, as in 13 bits. The documentation reflects this in CSRNG, but I see that the RTL has the old (larger) value of 19 bits. Perhaps a PR of doubling the max size and right-sizing the counte

[2022-07-20 15:11] tjaychen commented on #13751
if it's a situation that can't be created, maybe it's a redundant check on
the HW.
I can't remember how it was implemented...but if you supply a number of
words that is just too large, does it not try to detect the wrap and error?

On Wed, Jul 20, 2022 at 8:09 AM jdonjdon ***@***.***> wrote:

[2022-07-20 15:15] tjaychen commented on #13716
Ah I don't there's a need to add a debug mode. I honestly was thinking that either...
a. we allow the interrupt to occur
b. we document very explicitly this could be a problem and software needs to be careful about being in boot mode all the time, because if entropy runs out there is no recovery without disable.

I think this was just an extension of the previous issue, and I happened to notice th

[2022-07-20 15:32] GregAC commented on #13753
An alternative would be to introduce a second interrupt. I just felt a single interrupt would be neater for software. There's just a single interrupt to worry about if you want to wait for OTBN to be available.

[2022-07-20 15:46] GregAC commented on #13753
I have just realised this behaviour may have an immediate impact on the mask ROM as it may not check if OTBN is idle before attempting to run a program (from a quick look at the source this appears to be the case).

@jadephilipoom @alphan any comments?

[2022-07-20 16:03] jadephilipoom commented on #13753
If [this comment](https://github.com/lowRISC/opentitan/blob/fc9528c6775c9f568a1a341e0efeab33127f588d/sw/device/silicon_creator/lib/drivers/otbn.c#L89) is accurate, then Mask ROM blocks until idle before loading applications (or writing any command) and we should be safe. However, I don't see where the blocking mentioned there actually happens! @alphan , do you know? If not, I think we should add a

[2022-07-20 16:09] cindychip commented on #13741
Reopen because #13748 is a temp solution.

[2022-07-20 16:34] GregAC commented on #13753
The busy wait loop in that looks to be spinning on the interrupt status rather than the OTBN status, plus the wait occurs after the command is issued and it will be ignored if OTBN is busy. I guess that's meant to be the wait until done after the command has started?

[2022-07-20 16:46] GregAC commented on #11019
Just realised there's another outstanding task, https://github.com/lowRISC/opentitan/pull/11026 needs rebasing and merging

[2022-07-20 16:51] sriyerg opened #13756 "[dvsim] Compute and maintain sim runtime and wall-clock time for all jobs"
Simulation runtime is the amount of time the chip is simulated for, which is in the order of milli-seconds. This depends on how long the test is.

Wall clock time is the amount of real time consumed by the CPU(s) executing the simulator tool to finish simulating the test. This often  depends on the simulator tool's and the capabilities of the workstation (CPU speed, memory access latency etc).

It

[2022-07-20 16:53] cindychip commented on #13685
https://github.com/lowRISC/opentitan/issues/13685 duplicate issue :)

[2022-07-20 16:53] #13685 closed

[2022-07-20 16:54] weicaiyang opened #13758 "RFC: OpenTitan V1 Dev Stage - Sign-off Process"
[This](https://docs.google.com/document/d/1Fpm6HvenvrUKp7v48iDXb_S4qrzQIlXxEhepnk-DAok/edit#heading=h.1qmc39dhqd9f) is the doc

[2022-07-20 16:56] timothytrippel commented on #13720
Hmm just to verify, you ran `sudo apt install lld`?

And did you try sym linking that binary to `/usr/bin/`?, i.e. with `ls -s /usr/ucb/lld /usr/bin/lld` ? I think the binary might have to be in `/usr/bin/` for bazel to pick it up.

[2022-07-20 16:57] sriyerg opened #13759 "[dvsim] Implement wall clock timeout per test"
This is somewhat related to #13756.

Each test specification in dvsim has the following fields: `uvm_test`, `uvm_test_seq`, `run_opts`, `sw_images`, `build_mode`.

We could add `job_timeout` as an integer parameter to it, so that we can start maintaining a wall clock timeout for each simulation. `dvsim` will automatically kill the job if the job exceeded this timeout value.

[2022-07-20 17:03] tjaychen commented on #13720
i was wondering about that..if it has to be in `usr/bin/` , i guess we should add that to the cheatsheet

[2022-07-20 17:05] tjaychen commented on #13759
that would be great!

[2022-07-20 17:05] #13743 closed

[2022-07-20 17:19] sriyerg commented on #13685
Whoops, sorry!

[2022-07-20 17:26] mwbranstad commented on #13716
Thanks for the feedback @tjaychen, how about this plan:

1. PR to update EDN doc with the cautions in the programmable section
2. PR to trim the GLEN counter
3. PR to set a status bit when a valid command is not issued

[2022-07-20 17:26] timothytrippel opened #13762 "[doc/bazel] update website with Bazel cheat sheet"
A "cheat sheet" / "quick start" guide has been drafted and been circulating between contributors, but this should be put on the website so everyone can access it.

CC: @cfrantz

[2022-07-20 17:27] tjaychen commented on #13716
that sounds great to me.

[2022-07-20 18:07] Jacob-Levy commented on #13720
It is in /usr/bin/ the /use/ucb/ just point there...

[2022-07-20 18:54] timothytrippel commented on #13720
yeah I was thinking that was the issue, but I guess not?

This is strange. I have not seen the case where installing lld doesn't fix the problem.

@Jacob-Levy were you able to build these tests in the past without errors? Did you recently update your system or any toolchain SW on your system? Also, to clarify, the lld in /usr/ucb/ is really sym linked to lld in /usr/bin/?

This is ultimately linke

[2022-07-20 19:02] msfschaffner commented on #9438
- [ ] tlul_adapter_sram: clarify the meaning of the `ByteAccess` parameter. in particular, this only applies to writes (i.e., it enables the read-modify-write feature for regenerating the integrity):
https://github.com/lowRISC/opentitan/blob/1215e42fa2c629c4bac1a6e0fd53946acd09850a/hw/ip/tlul/rtl/tlul_adapter_sram.sv#L27
- [ ] OTP_CTRL: no issues found
- [ ] SRAM_CTRL: need to make sure `SecFifoPt

[2022-07-20 19:19] sha-ron commented on #13720
Yes we installed lld and there is linking to /usr/bin.
Also we were able to run these tests last week. It started to fail after pulling a new version of the repo.
Where can we find the definition for the different versions required for tools?

[2022-07-20 19:52] timothytrippel commented on #13626
For the SW tools, the end goal is to be able to have Bazel manage all required tools. However, we are still not there yet, so right now there is a hybrid approach of how we install SW tools. Specifically:

1. some software dependencies are completely managed by Bazel, meaning Bazel will go out to the Internet and pull down a tarball from a specific URL and unpack it, etc. These software depedencie

[2022-07-20 19:54] timothytrippel commented on #13720
Please see my comment [here](https://github.com/lowRISC/opentitan/issues/13626#issuecomment-1190692273).

Also one other thing to try: did you do a `bazel clean --expunge` then rerun?

[2022-07-20 20:17] timothytrippel commented on #13720
In case you wanted some more context on the historic causes of this issue, as alluded to in #12448, the error you posted traditionally had come from needing `lld` to build some Rust crates (which are built with the `rules_rust` Bazel rules, which are needed to build `opentitantool`, which is needed to sign tests that run with mask ROM), none of which are you are doing when simply running the pwrmg

[2022-07-20 20:38] timothytrippel commented on #13626
Overall though, I think it is a great idea to have a table describing the exact versions for each package / SW tool to consolidate the information all in one place.

I also think it would be great if we pinned the versions of package manager installed packages the `{apt,yum}-requirments.txt` files, rather than just relying on the default versions for Ubuntu 18.04.

It's worth noting that in the SW

[2022-07-20 21:32] Jacob-Levy commented on #13720
Which build.log you need?
The fail is during the run phase, so it is a SW build.

[2022-07-20 21:53] senelson7 opened #13769 "EDN/CSRNG/ES Error States"
Once the Error state is entered for the main FSMs in these blocks, the only way to exit this state is to assert reset. I'm wondering if disabling/re-enabling the block should allow it to move to the Idle state, the enable would kind of act like a block reset without having to reset the whole chip/system.

[2022-07-20 22:09] tjaychen commented on #13769
could you clarify what are the errors that caused the entry?
is it like sparse fsm decoding error?

[2022-07-20 22:55] weicaiyang opened #13772 "[spi_device] En4B, Ex4B, WrEn, WrDi are always valid"
If we set valid=0 for En4B, Ex4B, WrEn, WrDi, they will still be recognized as a valid command and processed accordingly.

[2022-07-20 22:58] tjaychen opened #13773 "[sw/flash_ctrl_testutils] Add utility to determine whether a particular address is scramble or ecc enabled"
The flash_ctrl testutil currently [does not allow](https://github.com/lowRISC/opentitan/blob/master/sw/device/lib/testing/flash_ctrl_testutils.c#L172) partial flash item programs.

This is correct behavior if the flash address belonged to a page that has either scramble or ecc enabled.
If neither scramble nor ecc is enabled, the specific location is allowed to be written on word boundaries (partia

[2022-07-20 23:04] tjaychen commented on #13626
@timothytrippel this is a dumb question, but is it possible that some of partners may have systems where they don't allow bazel to out into the world and pull down the required tools? In that scenario, I guess similar to our ai-rgapped setup, wouldn't it still be good for them to know what to look for?

[2022-07-20 23:43] timothytrippel opened #13777 "[doc/bazel] update website with Bazel airgapped build setup information"
A guide on how to prepare an airgapped system to build Bazel targets has been drafted and been circulating between contributors, but this should be put on the website so everyone can access it.

[2022-07-20 23:43] timothytrippel commented on #13626
Yeah thats right, in that scenario, the bazel configurations will tell you where to look, but it would still be better to have it documented in some place. Additionally, for the airgapped world, we do have a script [`util/prep-bazel-airgapped-build.sh`](https://cs.opensource.google/opentitan/opentitan/+/master:util/prep-bazel-airgapped-build.sh;l=105?q=prep&sq=&ss=opentitan%2Fopentitan) that will

[2022-07-20 23:48] timothytrippel commented on #13720
The dvsim run log should do, since that kicks off Bazel I should be able to see the full trace of the Bazel error. Also I take it the `bazel clean --expunge` didn't help?

[2022-07-21 00:14] tjaychen opened #13780 "[doc] Document DV / FPGA difference for chip level test writing"
We should add some guidance to the example doc on some of the differences between DV / FPGA platforms and what to pay attention to.  Specifically what can frequently lead to tests passing in one platform but not the other.

Many of these are DV related, some are design / fpga related.

[2022-07-21 00:50] weicaiyang opened #13783 "[spi_device] JEDEC ID questions"
The spec says "one byte device ID and two bytes manufacturer ID", while the device ID is 2 bytes and manufacturer ID is one byte in the reg table.

15:0 | rw | 0x0 | id | Device ID
-- | -- | -- | -- | --
23:16 | rw | 0x0 | mf | Manufacturer ID

I also checked the winbond spec. Their JEDEC data consists of these bytes in order. Ours seems not aligned with them
1. one Manufacturer ID
2. 2 bytes devi

[2022-07-21 03:21] #13676 closed

[2022-07-21 06:27] Jacob-Levy commented on #13720
[code]
Rerun the tests again. and it still fails :(
[code]
Sending/attaching the 'chip_sw_pwrmgr_smoketest' run.log

[2022-07-21 06:37] Jacob-Levy commented on #13720
Will rebase and rerun the tests...

[2022-07-21 10:10] rasmus-madsen commented on #13735
@cindychip
the waves are not actually dumped - so this is not a time consuming thing.
the issue comes from the default setting in waves.tcl
`setDefault dump_tb_top 1`
I am not sure why this is default set, @sriyerg can you elaborate here?
either way I think this is a none issue - and we don't have to do anything

[2022-07-21 10:19] jadephilipoom commented on #13753
Ah, you're right, I misinterpreted the comment. Anyway, I think it would make sense for this routine to spin until idle both before and after the command; I'll go through the documentation again, but I don't think we would ever want to run a command starting from a non-idle state.

[2022-07-21 10:29] johannheyszl commented on #6547
sure

[2022-07-21 10:41] GregAC commented on #11794
@johngt I think we'll need to mirror this issue in the Ibex repository to enable tracking with Yoda. I don't think we can just move it as it's under two projects and the OpenTitan M2 milestone.

[2022-07-21 12:12] senelson7 commented on #13769
I'm just trying to get fsm coverage up and trying to hit transitions from every state to the error state. I wanted to do this, then run a normal testcase but noticed I can't get back to idle from the error state without resetting the block. I'm forcing it to go into a random state, then asserting local_escalate_i to force it into the error state. I was thinking then I could just disable/enable it

[2022-07-21 13:49] mwbranstad commented on #13769
For all of the entropy blocks, a "local escalation" is done when some counter attach occurs and the two parts of the counter miscompare. This puts the FSM into the error state, and stays there until reset. We were thinking if we make the error state like all of the other states and exist upon module enable de-asserting, then the module would recover, and the FSM coverage would naturally improve. W

[2022-07-21 13:53] jdonjdon commented on #13751
@tjaychen
Checked for data partition write with large address and it runs ok.
Basically dut only takes 20 bits of input address and page porttion is exactly 8bits.
(tb.dut.u_flash_mp.page_addr[7:0]) So no overflow can happen in data partition

[2022-07-21 14:22] marnovandermaas commented on #11794
Additional notes from Rupert on which steps to take:

[2022-07-21 14:25] marnovandermaas commented on #11794
Step 2, 3 and 4, I've made some progress on. Specifically I have made an initial version of `CosimCfg.py` to describe a new flow and an initial version of `ibex_sim_cfg.hjson`. All of these are still on a local branch, and I hope to create a draft PR on this soon.

[2022-07-21 14:41] milesdai commented on #13754
I don't see a problem with this, but I'm not sure I understand the sanitizers well enough to say for sure. I'll add some more people to #13761.

[2022-07-21 15:05] tjaychen commented on #13769
@johannheyszl
@moidx

ah okay. So the local escalation types (stuff like mismatched counters, the fsm being in an invalid state) are considered by us to be fatal attacks. So for those, when the alert gets sent out to the alert handler, it actually causes a full system shutdown and eventual reset. So from a security perspective, it's not really necessary to tie this into an enable/disable.

practic

[2022-07-21 16:12] msfschaffner commented on #9438
The review is now complete and action items have been addressed - closing!

[2022-07-21 16:12] #9438 closed

[2022-07-21 16:14] eunchan commented on #13783
Yep.. That's typo. Manufacturer ID is one byte (JEDEC ID)

[2022-07-21 16:17] eunchan commented on #13595
@tjaychen will there be a chance that KeyMgr uses Custom String along with Function Name (`encoded_string("KMAC")`)? If an empty custom string is OK, I can modify KMAC to use hard-wired prefix for KeyMgr app intf.

[2022-07-21 16:21] tjaychen commented on #13595
@jadephilipoom
@moidx

Adding Jade and Miguel to comment here.
I don't personally think it's necessary. The keymgr already provides lots of routes to diversify the creation of its internal keys from KMAC.  So I don't feel like we would need more.

[2022-07-21 16:33] eunchan commented on #2591
No. It is still there.

[2022-07-21 18:06] timothytrippel commented on #13723
This was fixed in #13786.

[2022-07-21 18:06] #13723 closed

[2022-07-21 18:07] tjaychen commented on #13716
@andreaskurth since he's also looking into this area.

[2022-07-21 19:48] tjaychen commented on #13751
turns out i do support this, there's just a minor bug in where the error signal is placed.
I'll push a PR soon.

The data bank one we should still check. This [signal](https://github.com/lowRISC/opentitan/blob/master/hw/ip/flash_ctrl/rtl/flash_mp.sv#L32) is supposed to indicate that the address has completely overflowed and it SHOULD error back.

[2022-07-21 20:44] #13657 closed

[2022-07-21 20:48] eunchan opened #13796 "[prim] Add Reset Synchronizer to the library"
For the RDC flow, it would be easier to define reset synchronizer. The logic could be same as `prim_flop_2sync` or slightly modified.

[2022-07-21 21:01] jdonjdon commented on #13751
Fixed with #13794

[2022-07-21 21:01] jdonjdon commented on #13751
Fixed with https://github.com/lowRISC/opentitan/pull/13794

[2022-07-21 21:07] timothytrippel commented on #13720
Thanks for the log. Can you try a couple more things for me and give me the outputs of each?

1. run `which ld`
2. run `ls -al /usr/bin/lld*`
3. run `ls -al /usr/bin/ld*`
4. run`which lld --version` and if it prints
[code]
then run `ld.lld --version` (if you are on a Unix system)

Another guess is we might have to do something like `ln -s /usr/bin/lld-<version #> /usr/bin/ld.lld` but I'd like to s

[2022-07-21 21:22] andreaskurth commented on #13561
Thanks for your feedback, @mwbranstad. As you described, disabling the CSRNG aborts the generate command from EDN's boot mode, and it can then be used together with EDN's auto mode. This is now implemented in #13569.

[2022-07-21 21:22] #13561 closed

[2022-07-21 21:25] tjaychen commented on #13751
ah let's not close this yet until the fix is actually merged hehe.

[2022-07-21 22:45] Jacob-Levy commented on #13720
[code]

[2022-07-21 23:26] weicaiyang commented on #13783
Thanks @eunchan
This could be another typo. The size of AddrFIFO and CmdFIFO is 32B in the graphic.

https://github.com/lowRISC/opentitan/blob/aaa96c532401e30201f80d0f032f60962578f5b2/hw/ip/spi_device/data/spi_device.hjson#L1318-L1319

[2022-07-22 12:31] #12826 closed

[2022-07-22 12:34] #13746 closed

[2022-07-22 12:35] #13716 closed

[2022-07-22 15:19] dmcardle commented on #13603
Hooray, it's working! We can now use refer to the MMI files with `@bitstreams//:rom_mmi` and `@bitstreams//:otp_mmi`.

[2022-07-22 15:23] dmcardle commented on #13603
Closed this prematurely.

Leaving it open until we resolve the TODOs in the repo.

* https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/mask_rom/BUILD;l=344;drc=bed33ef9b2340cc6ab1873f515251af8297a4af0

* https://cs.opensource.google/opentitan/opentitan/+/master:hw/bitstream/BUILD;l=66;drc=bed33ef9b2340cc6ab1873f515251af8297a4af0

[2022-07-22 16:14] #12566 closed

[2022-07-22 16:17] #13358 closed

[2022-07-22 16:38] jeoongp opened #13805 "[CDC][SPI_DEVICE] W_MASYNC errors between memory_2p and fw mode"
Found from discussion in https://github.com/lowRISC/opentitan/pull/13739.

spi_mode is working as a data on/off switch which is reg2hw.control.mode.q on io_div4_clk.
data is b port from memory_2p on spi clk.
https://github.com/lowRISC/opentitan/blob/master/hw/ip/spi_device/rtl/spi_device.sv#L1087-L1099

![Screen Shot 2022-07-22 at 9 14 45 AM](https://user-images.githubusercontent.com/103145460/180

[2022-07-22 16:55] tjaychen commented on #11492
let's not close this yet until @jeoongp confirms that the conversion is well and working.
If that does not, we will still have to figure out how to deal with this.

[2022-07-22 16:57] tjaychen commented on #13805
@eunchan can confirm, but i think the design might treat the mode as semi-static.
There is I think an entire procedure on how the switching needs to be done.

[2022-07-22 17:03] jeoongp opened #13806 "[CDC][SPI_DEVICE] W_MASYNC errors which come from IO PAD"
SPI Input PAD is XORed with u_pinmux_aon.dio_pad_attr_q.invert driven by io_div4_clk.

 assign.in_o.=.attr_i.invert.^.in_raw_o;

![Screen Shot 2022-07-22 at 9 59 02 AM](https://user-images.githubusercontent.com/103145460/180488290-2eaa2816-4e8c-4c21-b275-b038d75547b2.png)

Then, this W_MASYNC is propagated to readcmd/u_readsram.u_sram_fifo.
![Screen Shot 2022-07-22 at 10 00 36 AM](https://user-ima

[2022-07-22 17:05] tjaychen commented on #13806
yes I believe this one should be okay.
The attribute bits should definitely be semi-static. It should be something we determine very early in the operation of the device.

@msfschaffner do you agree?

[2022-07-22 17:06] tjaychen commented on #13806
@jeoongp instead of waivers, is there a way to set a signal as static in verixcdc land?

[2022-07-22 17:14] jeoongp commented on #13806
@tjaychen yes we can use set_stable_value.

[2022-07-22 17:31] dmcardle opened #13807 "[bazel] Rework cached bitstream naming scheme"
Currently, our cached bitstreams have names ending with `.bit.splice` and `.bit.orig`. This makes splicing into a pre-spliced bitstream tricky because Vivado's `updatemem` command only accepts bitstreams ending with `.bit` — it's trivially solved by renaming the file, but we're planning on uploading caching {test_rom, mask_rom} cross {dev, rma, etc} in #13603 and that's a bit verbose.

I propose t

[2022-07-22 17:41] a-will commented on #13807
Can we avoid file names with characters that must be escaped in bash, though? (i.e. avoid `=` :smile: )

[2022-07-22 18:20] tjaychen opened #13808 "[flash_ctrl] Erroneous early re-allocation in read pipeline"
The flash read pipeline is constructed in 3 stages
read flash -> descramble -> response

When transactions are received, they are deposited first in a response queue.
If the transaction matches an entry already allocated in the flash buffer, or an entry that is currently going through the pipeline, it does not trigger a flash read and simply waits for its turn to be returned.

Currently, while an

[2022-07-22 18:20] msfschaffner commented on #13537
This RFC has been approved by the TC.

[2022-07-22 18:21] #13537 closed

[2022-07-22 18:34] dmcardle commented on #13807
Oh, I intentionally chose those characters because I thought they wouldn't cause trouble!

The script below produces the expected name (`lowrisc_systems+chip=earlgrey_cw310+rom=mask+otp=dev.bit`) and `shellcheck` seems happy.

[code]

Did I miss your point?

I'm also totally open to style suggestions — I think that replacing `+` with `:` might be easier to scan visually, e.g. `lowrisc_systems:chip

[2022-07-22 18:57] jeoongp opened #13811 "[CDC][SPI_DEVICE] W_MASYNC in pinmux FFs"
https://github.com/lowRISC/opentitan/blob/master/hw/ip/pinmux/rtl/pinmux.sv#L346-L372

Data (periph_to_dio_i) from spi_dev_clk or spi_dev_passthru_clk are latched by io_div4_clk.

The tool shows periph_to_dio_i are on three clocks : spi_dev_clk, spi_dev_passthru_clk, and io_div4_clk.
But, as I manually checked, io_div4_clk is not found from the path.
![Screen Shot 2022-07-22 at 11 52 06 AM](https:

[2022-07-22 19:21] tjaychen commented on #13811
i think io_div4_clk might be clocking the `retreg`, is what what you mean?

On Fri, Jul 22, 2022 at 11:57 AM jeoongp ***@***.***> wrote:

[2022-07-22 19:34] tjaychen opened #13812 "[flash_ctrl] Slight restructuring of the flash read pipeline"
A fix for #13808 would be a slight restructuring of the flash read pipeline.

1. Reduce the dependency of the buffers to only "WIP" situations. Ie, the buffer is being filled. These should be blocking, ie, if all buffers are filling, we cannot accept a new transaction, since all resources are in use.

2. If a buffer is "valid" however, it does not need to block.  The transaction can directly takes

[2022-07-22 19:37] jeoongp commented on #13811
Yes

On Fri, Jul 22, 2022, 12:21 PM tjaychen ***@***.***> wrote:

[2022-07-22 19:46] a-will commented on #13807
Ah, it looks like it's bash-completion that does weird things with `=` (and `:`), but that is what makes it annoying for interactive use. Hm... I wonder if those scripts need some bug fixes...

[2022-07-22 19:55] tjaychen commented on #13811
ah i think we this one we can waive. The io_div4 value capture there is really meant for holding the pad value steady prior to going into low power.

For SPI_CLK stuff it's a little bit funny since that is driven by an external clock. I think for stuff like this we will need some kind of protocol with the external world, ie, we need to shut down spi_device in some way.

@eunchan is there something

[2022-07-22 20:26] dmcardle commented on #13807
I guess this is a dupe of #13203. I'll close the other one because we've already had some discussion here.

[2022-07-22 20:26] dmcardle commented on #13203
Closing as a dupe of #13807

[2022-07-22 20:26] #13203 closed

[2022-07-22 20:38] #13689 closed

[2022-07-22 21:16] jeoongp commented on #13811
@tjaychen thanks for clarifying. Are these FFS a kind of retention registers before low power?  I agree with a protocol with the external world. Based on scenarios and sequences for transition to low-power mode, corresponding signals are better to be defined.

[2022-07-22 21:35] Jacob-Levy commented on #13720
Rebased & rerun only chip tests and it still failing :(
`[jlevy@taln85]opentitan> util/dvsim/dvsim.py hw/top_earlgrey/dv/chip_sim_cfg.hjson --purge -w -i smoke --max-parallel 3 --tool=vcs --fixed-seed=1`

[2022-07-22 21:37] msfschaffner commented on #7174
@sriyerg has this been addressed or is this still under discussion?

[2022-07-22 22:01] weicaiyang commented on #7174
Seems like we haven't addressed this, but it probably doesn't affect the run-time too much. We can address it later

[2022-07-22 22:16] msfschaffner commented on #13811
yeah these FFs are retention registers that can latch the "last seen" value before going to low power.
they are activated when the power manager asserts the `sleep_en_i` signal, although they are configurable so that not every interface has to use them.

I agree that we may need something like a protocol with the external world.
because even if we add a double flop here to avoid metastability, the

[2022-07-22 22:21] msfschaffner commented on #13811
one other thing to note: if the pinmux is configured to not enable the retention registers, then the output value will just be tied off to the isolation clamp value when the system goes to sleep.

[2022-07-22 22:32] weicaiyang opened #13816 "[spi_device] TPM read/write frequency and TPM FIFO size"
For TPM read, host sends a CMD with an address to request data. SPI device starts to return data once it receives one byte of data from SW. But SPI device may send faster than SW input. If that's the case, host will receive 0 instead.

The TPM fifo is only 4 bytes. TPM could support up to 64 bytes data per transaction. If our use case may support more than 4 bytes, we need SW to keep polling the F

[2022-07-22 22:35] tjaychen commented on #13816
I think @eunchan and I actually had this discussion before (somewhere in the PR), and I thought Eunchan's conclusion was that 4B was sufficient for what we knew.

Is that right Eunchan?

Although looking at this again, it might make sense to future proof a bit, I completely forgot until now that it is possible for people to re-use the TPM interface for other purposes, and for those they may indeed

[2022-07-22 22:37] tjaychen commented on #13816
see [here](https://screenshot.googleplex.com/9JxqtVCRPpqRRY4)

[2022-07-22 22:41] eunchan commented on #13816
Yes. It is as of now. But the TPM protocol supports up to 64B max transfer size.

I remember others wanted to re-use TPM to receive more than 4B for other purposes (e.g: firmware download). I nudged them to use the generic mode in that case.

anyhow, As the FIFO width is one byte, I think SW struggles a little bit to keep it up to speed if SYS_CLK is much slower than TPM clock speed.
What I want t

[2022-07-22 22:46] tjaychen commented on #13816
i'll confirm with the Nuvoton folks, but I believe the TPM interface is "usually" 1.8v, which means ~24MHz or so is our top speed.
It would be nice to future proof this area a little bit, just in case someone comes with a creative usage.

The TPM interface is kind of nice for host -> device communication because it has built in back-pressure, which the spi-flash interface does not have.

[2022-07-22 23:14] martin-lueker opened #13820 "[entropy_src] prim_cntr failing assertions"
The entropy_src core has a number of instances of `prim_count` in which it seems to use the `clr_i` and `set_i` assertions interchangeably, where the `set_cnt_i` value is set to '0.  This is a problem if a scenario is encountered where `clr_i` and `set_i` ports are asserted simultaneously.

In this case the DUT fails on an assertion check, as `prim_count` does not allow the counters to be set and

[2022-07-22 23:25] msfschaffner commented on #13820
Just a quick heads up that we are re-structuring that counter primitive in https://github.com/lowRISC/opentitan/pull/13591.
The assertion should not fail anymore after that has landed.

[2022-07-22 23:27] martin-lueker commented on #13820
Ah!  And here I already made a fix.

Still it is confusing that both clear and set are used interchangeably isn't it?

[2022-07-22 23:28] msfschaffner commented on #13820
Yeah the assertions are going to be updated in the new version.

In the mean time, if you need to make progress locally, it probably makes sense to just apply your fix or comment out the SVA.

[2022-07-22 23:32] martin-lueker commented on #13820
So, no need to PR it then? Alright, will I'll just set the fix aside then when I'm done

[2022-07-22 23:35] msfschaffner commented on #13820
Yeah that should be fine.

[2022-07-22 23:48] #13820 closed

[2022-07-23 00:28] martin-lueker opened #13823 "[entropy_src] No err_code for sha3_state_err"
If the sha3 engine goes into a bad state (asserts .sparse_fsm_error_o), a fatal error is triggered.

This event however does not have a corresponding bit in the ERR_CODE register. Thus there is no way of identifying the source of these events if they occur.  They also do not have events in the ERR_CODE_TEST register.

[2022-07-23 01:14] sriyerg commented on #7174
Looks like this isn't worth it, based on the profile results. Closing this issue now.

[2022-07-23 01:14] #7174 closed

[2022-07-25 11:19] ariel9678 commented on #13430
@timothytrippel
Thank you for  #13693. it partially solved the problem.
Currently the sim.mk defines in “bazel_label”  the test location and test name as :  “//sw/device/tests/closed_source:closed_chip_sw_alert_test_sim_dv”
When running test from closed source the test label should be “@manufacturer_test_hooks//:closed_chip_sw_alert_test_sim_dv”

[2022-07-25 14:53] #13754 closed

[2022-07-25 15:38] jadephilipoom commented on #13595
I agree, I don't see any reason why it would be necessary to use the customization string for key manager. The documentation specifies that it includes all of the diversification information as input data, and that will produce unrelated keys.

[2022-07-25 16:06] dmcardle opened #13826 "[sw] ASan segfaults in memset() for some unit tests"
FYI @alphan! (First described in https://github.com/lowRISC/opentitan/pull/13761#issuecomment-1190638087)

I'm seeing a segfault in our custom `memset()` when I run some unit tests with ASan enabled. It *might* only happen in unit tests that rely on `//sw/device/lib/base:memory`, but I'm not sure. (As a data point, `:status_unittest` does not segfault and it does not depend on `:memory`.)

The seg

[2022-07-25 16:11] dmcardle commented on #13826
One more tidbit: libc on my machine provides the other `__isoc99_` functions, but not `__isoc99_printf`.

[code]

[2022-07-25 16:19] msfschaffner opened #13828 "[rv_plic] D3 review opens"
- [x] Rv_plic.sv.tpl line 217 alerts[0] should be alerts[i] @eunchan
- [x] link the auto generated doxygen documentation for code snippets. @timothytrippel
- [x] link autogen’d ISRs @timothytrippel

[2022-07-25 16:20] eunchan commented on #13828
https://github.com/lowRISC/opentitan/pull/13827

[2022-07-25 16:25] timothytrippel commented on #13430
yes, #13612 should fix this issue once merged, working on cleaning it up and getting that submitted soon.

[2022-07-25 16:51] jeoongp commented on #13811
@msfschaffner Thanks! I waived this one.

[2022-07-25 21:23] jeoongp opened #13834 "[CDC][SPI_DEVICE] W_MASYNC from tlul xbar_main to memory_2p in spi_device"
![Screen Shot 2022-07-25 at 2 10 20 PM](https://user-images.githubusercontent.com/103145460/180875354-ef95eb6a-8b1e-4bdf-b0b4-f18270291fff.png)

The dual port memory in spi_device receives signals for A (write) port from u_xbar_main on main_clk domain.
They are causing W_MASYNC errors because of conflict with signals from IO_DIV4_CLK.
Are they also for retention or clamp for low power?
![Screen Sh

[2022-07-25 21:49] tjaychen commented on #13834
The dual memory in spi_device has a mode where it can be written by software.
When it is being written by software, the "data" is on the `main_clk` and the control signals are the ones that are synchronized.

So I'm guessing that's where you are getting the M_ASYNC, since the software data is on `main`, and the local configuration is on `IO_DIV4`.  Is that roughly what you are seeing?

[2022-07-25 22:01] jeoongp commented on #13834
@tjaychen yes. But, all A port signals are also on main : a_req, a_write, a_addr, a_wdata, a_wmask
![Screen Shot 2022-07-25 at 3 00 40 PM](https://user-images.githubusercontent.com/103145460/180881192-ca720133-5569-4931-bb0b-5258b4e9180d.png)

[2022-07-26 00:17] sriyerg commented on #13735
I just ran locally and I noticed that `waves.shm` directory gets created regardless of whether wave dump is enabled or not. If you check the size of the directory, it's vastly different **(16K v/s 1.01G)** compared to when waves are actually dumped and when they are not:

[code]

Notice the difference in the runtimes - with shm waves enabled, it's more than triple the runtime **(7.5min v/s 25min)*

[2022-07-26 00:22] sriyerg commented on #13735
I will make a PR to make some minor enhancement to `waves.tcl` to make this usage clear.

[2022-07-26 01:03] eunchan opened #13841 "[util] Removing mypy tool"
Currently, a few python scripts are [being checked by mypy in CI](https://cs.opensource.google/opentitan/opentitan/+/master:ci/scripts/mypy.sh;l=1?q=mypy.sh).

Unless `mypy` becomes mandatory type checker in OpenTitan project, this confuses contributors. For instance, importing 3rd party library may or may not cause errors depending on which python file the contributor revises.

[2022-07-26 01:20] tjaychen commented on #13834
hmm... do you have the path for a_req? a_req at least should be coming out of a synchronized pointer / logic in IO_DIV4.
The others I can understand.

[2022-07-26 09:24] rasmus-madsen commented on #13735
@sriyerg I think we are saying the exact same, that it only actually dump a wave when you ask it to.
my comment was just - since it is not actually dumping waves, this fix was not a MUST.

[2022-07-26 11:27] vogelpi commented on #12891
Update: I've now debugged our OT-specific fusesoc modifications. It turned out that during the last rebase, we forgot set some internal variable for cores generated by primgen (i.e., all the abstract cells) and we should have updated how outputs of generated cores are handled if the `--no-export` argument is provided. With the argument provided, the generator outputs weren't moved anywhere and we

[2022-07-26 12:24] #13823 closed

[2022-07-26 13:13] prajwalaputtappa opened #13847 "[otbn, dv] Assertion of predec_error_o is not causing a fatal alert"
@GregAC, @vogelpi, in this testcase, I'm trying to test CTRL.REDUN countermeasure for otbn. I'm trying to inject a fault by asserting tb.dut.u_otbn_core.u_otbn_mac_bignum.predec_error_o . However, there is no fatal alert and the status of otbn is not going to locked state. Please find screenshot attached.
![Screenshot from 2022-07-26 14-13-01](https://user-images.githubusercontent.com/91126414/181

[2022-07-26 14:42] tjaychen commented on #12891
thanks for looking into this Pirmin.

On Tue, Jul 26, 2022 at 4:28 AM Pirmin Vogel ***@***.***>
wrote:

[2022-07-26 15:41] vogelpi commented on #13847
Hi @prajwalaputtappa ,
thanks for opening this issue. Can you maybe provide the command to reproduce this? Then Greg or I can have a look at the waves. There are multiple versions of `predec_error_o` (reg files, MAC, ALU etc.) and some of them are only taken into account if OTBN is actually seeing a valid instruction, i.e., it is running.

[2022-07-26 15:54] tjaychen commented on #49
@eunchan, @jadephilipoom and I had a quick sync on this topic.  The short term conclusion is that this is not worth doing right now as there are software alternatives.

Longer term, the issue is a bit more nuanced.

It is relatively simple to add the context save and restore feature, however, the current HMAC engine is unhardened.  This makes not only HMAC, but SHA-256 vulnerable to attacks (Jade

[2022-07-26 16:31] cindychip commented on #3022
@eunchan could you confirm if this is implemented? https://github.com/lowRISC/opentitan/blob/master/hw/ip/hmac/rtl/hmac.sv#L518
I still see this err_code here?

[2022-07-26 16:34] jadephilipoom commented on #49
To elaborate on this a bit: if you're hashing a secret value, and the attacker sees your SHA-256 hash state, the attacker can produce the hash of <secret value> || <something else of the attacker's choice>. This is definitely a bit of a niche attack vector and not a huge concern, but it's just to say that under certain circumstances it's possible for an attacker to take advantage of knowing the ha

[2022-07-26 16:42] HU90m opened #13848 "[test, ibex] Unable to disable address translation"
Found when writing a chip level test for address translation (https://github.com/lowRISC/opentitan/issues/13215) that the address translation would never be disabled.

Writing 0 to the enable registers (e.g. [RV_CORE_IBEX.DBUS_ADDR_EN_0](https://docs.opentitan.org/hw/ip/rv_core_ibex/doc/index.html#Reg_dbus_addr_en_0)) seems to have no effect. I have checked that at no point the write protection re

[2022-07-26 17:17] weicaiyang opened #13849 "[dv] V2 function coverage criteria"
@GregAC pointed out this criteria isn't consistent in our doc
1. in development_stages [doc](https://docs.opentitan.org/doc/project/development_stages/) , it says: 100% functional coverpoints covered and 75% crosses covered

2. in the V2 [checklist](https://docs.opentitan.org/doc/project/checklist/#v2), it shows: Functional coverage has reached 70%.

I think we follow the first one (100% coverpoin

[2022-07-26 17:39] jeoongp commented on #13834
![Screen Shot 2022-07-25 at 2 22 10 PM](https://user-images.githubusercontent.com/103145460/181072455-9789adb5-a126-4bb6-9052-bb3a407c1a78.png)
Path A comes from tlul main_clk.
Path A : tl_i.a_valid is propagated to reg2hw.upload_addrfifo.re => sys_addrfifo_rready_i => combined with Path B.
The combined path is connected to the port A without synchronization stage inside the sram arbiter.

Input r

[2022-07-26 17:56] sriyerg commented on #13735
Agreed. @cindychip, please close the issue if you agree with our assessment.

[2022-07-26 18:00] cindychip commented on #13735
Great! Thanks Sri!

[2022-07-26 18:00] #13735 closed

[2022-07-26 18:01] prajwalaputtappa commented on #13847
Hi @vogelpi,
I've made a temp commit to reproduce the issue. The commit id is 857c7495a8d914ba09f010422010848f257b9523. Please use the following command to reproduce the error:
util/dvsim/dvsim.py hw/ip/otbn/dv/uvm/otbn_sim_cfg.hjson  -i otbn_ctrl_redun --fixed-seed 2054388998 -w --tool=xcelium
I hope this helps. Let me know if you've any questions.

[2022-07-26 18:47] sriyerg commented on #13849
90% overall fcov for V2 SGTM.

[2022-07-26 19:20] vogelpi commented on #13847
Thanks @prajwalaputtappa , the command will be useful.

I can't see the commit. What I would need is a branch name and you need to make sure that you actually pushed this branch to your OpenTitan fork. Then, I can checkout the branch and knowing the commit ID I can ensure that I am at the right place. But AFAIK, I cannot just checkout your commit using the provided ID.

If you can provide me the b

[2022-07-26 20:29] #13741 closed

[2022-07-26 21:26] tjaychen opened #13855 "[kmac] Fix remaining triaged FI items"
- [x] Activate fifo duplicate count check in identified sync fifos
- [ ] ~~Revise keccak_round FSM to reset part of storage at a cycle and writes entropy rather than all zero~~
- [x] Changing `clear_i` in `keccak_round` to `mubi4_t`.
- [x] Consider a false positive check on rst_storage, is it asserting when it should not?
- [x] `absorbed_d` in sha3_pad could be MUBI4 signal
- [x] `sw_cmd` in kecca

[2022-07-26 21:39] eunchan commented on #13855
Will tackle this first.

[2022-07-26 22:57] msfschaffner opened #13858 "[doc] Update D2 or D3 review process to include documentation of instantiation parameters"

[2022-07-26 23:36] msfschaffner commented on #49
Related: https://github.com/lowRISC/opentitan/issues/5058

[2022-07-26 23:41] tjaychen commented on #13834
@jeoongp i had a look at this, let me know if i'm in the right ballpark.
When I originally looked at this, I assumed that the orange line coming out of the async fifo was the request signal itself.

Looking at this more, I'm pretty certain it's probably the address (could you confirm?)
The usage of the address "should" be qualified with the actual `a_valid` received by `spi_device`.

So even thoug

[2022-07-26 23:50] jeoongp commented on #13834
![Screen Shot 2022-07-26 at 4 43 23 PM](https://user-images.githubusercontent.com/103145460/181131048-a170bf7d-496a-4c0e-a895-0a9f23a687dc.png)
The previous schematic does not show the detailed signals. This zoomed schematic shows how a_req comes from path A captured by the tool. But, let me check manually if this tool report is correct.

[2022-07-27 00:06] timothytrippel commented on #13430
#13863 should finally resolve this.

[2022-07-27 00:12] tjaychen commented on #13834
o that's not good...why does it think `a_valid` is on the main_clock domain? maybe there's some other issue. Are you able to trace that one?

[2022-07-27 01:16] #13578 closed

[2022-07-27 01:21] #13576 closed

[2022-07-27 09:44] mundaym commented on #13826
(cc @luismarques, Luis has some experience with ASan)

[2022-07-27 10:43] prajwalaputtappa commented on #13847
Pirmin, I've created a temporary PR here - https://github.com/lowRISC/opentitan/pull/13867

[2022-07-27 11:21] johannheyszl commented on #49
agree that read access to SHA-256 state would require hardening in the sense of careful logical restrictions against extension attacks (i.e. through misusing the SW interface and potentially circumventing SW isolation).

agree that hardening against SCA etc. (physical attacks) is another (orthogonal) issue when processing secrets in SHA-256 (i.e. for HMAC computation).

[2022-07-27 11:43] jadephilipoom commented on #49
After some more thought, an even worse case than a length-extension attack is the fact that, if you're hashing secret data (as you would be for HMAC, since you hash the key), the internal hash state after e.g. only one round would leak information about the secret data.

[2022-07-27 12:08] luismarques commented on #13826
It's not clear to me what the root issue is.

My backtrace is a bit different (it crashes on `memset` called from `__asan::AsanMapUnmapCallback::OnMap`) but overall it seems like the same problem. There might be some concurrency issue in the middle of this. In my reproduction, the `memset` seems to crash during the first memory access but when I examine that memory in GDB it seems fine.

[2022-07-27 12:24] luismarques commented on #13826
I think the problem is that it's trying to call an uninstrumented `memset` but then our `memset` *is* instrumented so it probably crashes when writing an invalid shadow memory. If so, I guess we need to ensure the OT `memset` isn't called from ASan when it means to call the real (uninstrumented) `memset`. I don't think we can unconditionally not instrument our `memset` but we could probably introd

[2022-07-27 14:14] dmcardle commented on #13826
Thanks for looking at this! I hadn't considered the possibility that memset is expected to be uninstrumented.

Ideally, we want memset and friends to be instrumented. I'd like a set of passing baselines before I send out PRs that optimize the memory functions. (And it would be great if ASan could catch any new bugs I might introduce!)

Since we want test coverage, option (3) is not useful, but I s

[2022-07-27 14:22] GregAC commented on #13849
Happy with 90% overall fcov also

[2022-07-27 14:46] martin-lueker commented on #13849
I'm concerned that we are now raising the bar for V2.  70% overall fcov (from the checklist) is now changing to 90%.   The 100% coverpoint + 75% cross, seems reasonable.
However this is only equivalent to 90% if you have only a few crosses (<40% of the total)   Our team has been making our effort estimates for V2 based on the 70% overall standard.  If we change this, we are going to have a resourc

[2022-07-27 14:52] #13808 closed

[2022-07-27 15:01] martin-lueker commented on #13849
After thinking about this more I realized that this last item is not such a challenge, if there are sampling issues we can just propose longer slightly longer regressions.

I still think however, that if we are going to change the official threshold, we should review the other V2s and make sure they still qualify, or would have to be rolled back.

[2022-07-27 16:59] jon-flatley opened #13869 "[opentitantool] Complete support for OTP tooling"
The directory `util/design` currently holds a number of python tools for working with OTP memory maps. These tools are responsible for generating OTP images for preloading onto a device as well as generating the documentation tables in `hw/ip/otp_ctrl`. This bug will serve as a tracker as the OTP tools in opentitantool move towards feature parity with their python counterparts, as well as track th

[2022-07-27 17:18] eunchan commented on #13497
#13870 addresses "Check whether the endianness settings can be aligned to avoid confusion by inverting the meaning of one of the two CSRs. E.g.: 1: big endian 0: little endian"

[2022-07-27 17:23] Jacob-Levy commented on #13720
Our IT guy manage to solve the issue. Will ask him to describe what he did to resolve the issue.

[2022-07-27 17:25] tjaychen commented on #13720
that would be great,thanks @Jacob-Levy
whatever you guys did, we can probably add it to the bazel cheatsheet in case others run into the same.

[2022-07-27 17:27] eunchan commented on #13497
It is worth to mention that with the change #13870 , SW needs to set endian_swap to 1 and digest_swap to 0 to pour the SHA2 test vectors from NIST.

[2022-07-27 17:37] cindychip opened #13872 "[kmac] Seeing "x" in entropy generator"
Hi Eunchan,

I have seen 'X' in kmac_entropy module.

I think the issue is related to `mode_i` input:
1). We use `mode_q` with the gated `mode_latch` to control entropy_mode in most places.
2). However, there are some places we are still directly using `mode_i`. I think this is where the "X" is coming from:
https://github.com/lowRISC/opentitan/blob/master/hw/ip/kmac/rtl/kmac_entropy.sv#L556
In reg

[2022-07-27 17:42] jeoongp commented on #13834
As discussed with @tjaychen, when dev_select is qualified with a_valid, a_valid is not generated from rclk (clk_div4).. Since it's 0 depth, it's just a bypass signal of input w_valid from wclk. w_valid is a combo logic with rdata_o from prim_fifo_async in xbar_main.
Its data out seems not qualified because data output is directly connected to the block output without qualification with r_valid. So

[2022-07-27 17:47] sriyerg commented on #13849
I did look at all existing blocks that are at V2/V2S and they all had 90%+ overall fcov coverage, and concluded that it may be ok to set this threshold. We have not seen the need so far to merge coverage with previous invocations, but dvsim supports it if there is a need to turn it on. Also, the number of seeds can be adjusted per test, and DV engineers can modify randomization constraints to stee

[2022-07-27 18:04] weicaiyang commented on #13849
I think 90% overall fcov is easier than 100% coverpoint + 75% cross.
If it's below 90%, most likely coverpoint is not 100%. I kind of feel we actually lower the bar.

But with 100% coverpoint + 75% cross requirement, when it's around 85%, we may think it passes the criteria as it may take a while to open all the covergroup to check if it really meets the criteria.

The criteria (90% overall fcov)

[2022-07-27 20:18] dmcardle opened #13873 "[sw] base_printf() should support width modifier on %s specifier"
* [ ] Add support for width modifier to definition of [`base_printf()`](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/lib/runtime/print.c;l=382;drc=db5ae4da3144f15ac8f5e3150502213b1491b054).
* [ ] Update documentation in [print.h](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/lib/runtime/print.h;l=82-85;drc=db5ae4da3144f15ac8f5e3150502213b1491b054).
* [

[2022-07-27 22:46] timothytrippel commented on #13828
I realized that DIF lists on the doc pages were already autogenerated with doxygen, they were just inconsistent across IPs. #13875 fixes this.

#13876 fixes the above.

After these merge, we should be good to move to D3.

[2022-07-27 23:37] cindychip commented on #13589
All TODOs are implemented.

[2022-07-27 23:37] #13589 closed

[2022-07-28 00:19] tjaychen commented on #10554
i think this is done now, we've added a set of tests with jitter enabled.

[2022-07-28 00:19] #10554 closed

[2022-07-28 01:19] msfschaffner commented on #8178
Hi @nicolast0604 and apologies for the very late reply.

The NexysVideo FPGA board is unfortunately not supported anymore due to the system size.
If you wish, you can try to bring up a stripped down version, similar to the experimental toplevel `top_englishbreakfast` for the CW305 board.

Otherwise I would recommend using the main supported CW310 FPGA board.

The pinmux to pinout mapping can be fo

[2022-07-28 01:20] msfschaffner commented on #8178
I am closing this for now, but please feel free to reopen if you have more questions.

[2022-07-28 01:23] msfschaffner commented on #5297
@towoe this looks like a nice addition, I also found myself in the situation where I was scrolling endlessly until I actually found what I was looking for. Would you mind prepping a PR for this so that we can get this into our docs?

[2022-07-28 07:07] Jacob-Levy commented on #13720
[code]

[2022-07-28 07:42] rasmus-madsen commented on #13849
@sriyerg  I think this is only sort of true!
if we don't have cumulative coverage modifying the constraints, would in this case typically mean opening up the randomization space, which would most like require more runs.

I am all for cumulative coverage collection.

anyway on the main topic. at some point we need to reach 90%+ coverage so the question is where to we set the checkpoint.
for me it i

[2022-07-28 14:39] tjaychen commented on #5834
this is already supported (although documentation not yet updated).
If you look at `flash_ctrl.hjson` for example, you can specify the type as `io`.

[2022-07-28 14:39] #5834 closed

[2022-07-28 19:02] weicaiyang commented on #13849
anyway on the main topic. at some point we need to reach 90%+ coverage so the question is where to we set the checkpoint.
for me it is more a V3 item

We want everything to 100% for V3. what percentage do you think it makes sense for V2?
I personally feel it's not so hard to get to 90% fcov. Since we have a bunch of built-in covergroup in base lib, those covergroups are covered by automatic tests

[2022-07-28 19:35] eunchan commented on #13872
Thanks, Could you share the waveform to me? I want to have a deeper look.

[2022-07-28 20:36] jdonjdon opened #13891 "profiling bazel compile time"
Found bazel run takes about 9~10 minutes of 14 minutes of the total simulation run time.

INFO: Elapsed time: 444.182s, Critical Path: 286.44s
...
INFO: Elapsed time: 126.192s, Critical Path: 102.18s

This is run.log before any vcs activity starts.
Please review bazel compile process to see if there is anything that can be improved this.

[2022-07-28 20:38] jdonjdon commented on #13891
It is for @timothytrippel , I added others just for the reference.

[2022-07-28 20:47] cindychip commented on #13872
Ofc, thanks Eunchan. I sent to you via chat.

[2022-07-28 20:51] sriyerg commented on #13873
DV simulations use an alternate way of logging (that bypasses UART) info messages. It does support a width parameter on all format specifiers, but we need to ensure that it works in DV simulations since it has not been tested so far. Please add me as a reviewer in future PRs that add support for this in our SW lib base code. Thanks!

[2022-07-28 20:58] #13783 closed

[2022-07-28 21:04] dmcardle commented on #13873
Neat! Out of curiosity, where is that defined? Is it in one of the OpenTitan repos or an external dependency?

[2022-07-28 21:25] weicaiyang opened #13893 "[ast] NewPulseWhenSrcBusy assertion error"
This assertion error happens when it's switching to use the external clock.

Looks like one of the clocks is paused during the clock switching and another RNG req may come in before the previous one is completed. Thanks @tjaychen for debugging this. Please add more details for this issue.

To reproduce this issue, get the PR #13892 and run this chip-level test

[2022-07-28 21:59] msfschaffner commented on #13806
Yeah I can confirm that this is a semi-static signal. Should be ok to use `set_stable_value`.

[2022-07-28 22:09] msfschaffner commented on #13828
@eunchan looks like this is good to go, too!

[2022-07-28 22:11] tjaychen commented on #13891
hmmm that seems really long. When I run it locally or on the airgapped setups I don't recall it taking that long..
It could be that since i'm using the airgapped setup none of the dependencies need to be resolved

[2022-07-28 22:35] #13759 closed

[2022-07-28 22:45] jdonjdon opened #13896 "OTBN assertion fail jtag_mem_access test"
cmd:
./util/dvsim/dvsim.py hw/top_earlgrey/dv/chip_sim_cfg.hjson -i chip_jtag_mem_access -s 1 -r 1 -v m --waves

This test accesses all memories in chip through jtag interface.
The test fails with the following assertion:

"../src/lowrisc_ip_otbn_0.1/rtl/otbn.sv", 1212: tb.dut.top_earlgrey.u_otbn.NonIdleImemReadsZero_A: started at 26688597632ps failed at 26688597632ps
	Offending '(imem_rdata_bus =

[2022-07-28 22:45] weicaiyang opened #13897 "[rv_dm] CSR test failed"
@sriyerg

As discussed, the RV_DM csr_rw test are failing in some seeds. The CI in this PR #13822 happens to get this error too.
Please take a look. Or let me know if it's OK to exclude checking the DMI CSR. I can make a PR to fix it.

[2022-07-28 22:45] jdonjdon commented on #13896
![image](https://user-images.githubusercontent.com/99843637/181649688-060dc262-e50b-44cb-a2f8-6d5b4f571c9b.png)
Waveform is attached.

[2022-07-28 22:46] msfschaffner commented on #13849
I agree with Weicai that at V3 everything should be at 100% (with waivers applied).

@martin-lueker, Do you plan to add more covergroups, or are most of them already reflected in the code?
Because looking at the nightlies from yesterday, AES, EDN and CSRNG seem to be pretty close to 90% or even above. Only ES is still at 35%.

Hence, 90% seems within reach for most of these blocks...

[2022-07-28 22:52] tjaychen commented on #13848
looks like the issue is here

[code]

[2022-07-29 04:19] alphan commented on #2740
Hi @msfschaffner, replying to your email here: This issue is about writing a generic piece of software that can work with different numbers of comparators. Can we rearrange the register layout to get rid of the `irq_reg_for_hart()` function [here](https://github.com/lowRISC/opentitan/blob/3db58a50e3b8739cfde242bbf29079a4707c888d/sw/device/lib/dif/dif_rv_timer.c#L221)? Please take a look at the iss

[2022-07-29 04:35] cindychip opened #13903 "[dvsim] enhance computing the sim runtime and wall-clock time for all jobs"
Following issue: https://github.com/lowRISC/opentitan/issues/13756
here are the enhancement:

- [ ]  Use dvsim default job_runtime if we cannot parse the job_runtime from logfile.
- [ ] Update xcelium simulated_time search pattern to make it not UVM printout dependent.
   This depends on PR: https://github.com/lowRISC/opentitan/pull/13843
- [ ] Highlight or color code the longest runtimes.

[2022-07-29 07:30] #13720 closed

[2022-07-29 08:47] twilfredo opened #13904 "[flash_ctrl] err_code register shows mp_err (in tests on Verilator)"
Hey all,

Having run the following test `tests:flash_ctrl_test`. The test output shows that `transaction end error_codes = 00000002`.

Which (I believe) is the `mp_err` flag set in `err_code` register. I'm trying to fixup a flash driver (tock os - showed the err flag), but came across this error during testing. Is this a bug? or is this the expected behavior?

It seems that as a result, I am unabl

[2022-07-29 09:19] vogelpi commented on #13847
Thanks @prajwalaputtappa . I now had a look at this. As suspected, OTBN happens to be idle when the mac_en signal is forced for this test and seed. As you can see in the waves below, the predecode error is triggered inside the MAC unit but it doesn't propagate inside the core as OTBN is halted, i.e., not seeing valid instructions (see also the code snippet below).

![otbn_debug](https://user-image

[2022-07-29 09:58] vogelpi commented on #13499
I am closing this issue as all relevant changes have been implemented and merged.

[2022-07-29 09:58] #13499 closed

[2022-07-29 10:00] vogelpi commented on #9751
I am closing this issue as #13192 has been merged.

[2022-07-29 10:00] #9751 closed

[2022-07-29 10:01] vogelpi commented on #2515
Closing as no one else provided input on this. I am assuming that other people feel the same regarding introducing further duplication in the documentation. We can re-open this discussion needed.

[2022-07-29 10:01] #2515 closed

[2022-07-29 10:13] vogelpi opened #13905 "[otbn/sca] Follow-up tasks to adding capture support"
With #13845 @bilgiday is adding initial support for OTBN SCA captures. The idea of this issue is to track follow-up tasks.

- [x] Remove URND reseed at application start and add a `Sec` parameter to add a deterministic and constant delay the start trigger. This gives Ibex time to go to sleep before the capture is started. This will allows us to better distinguish the start of OTBN. Note, unlike fo

[2022-07-29 10:13] #9351 closed

[2022-07-29 10:40] m-temp opened #13907 "[doc] reggen and tlgen links are broken in topgen_tool.md"
In `doc/rm/topgen_tool.md`  reggen and tlgen are linked as follows
[code]
These links are broken. There are related files in `doc/rm/register_tool` and `doc/rm/crossbar_tool`. However, these files are somehow not served properly by the webserver. Other docs like `doc/projects/checklist.md` link to `/util/reggen/doc` as
[code]
I think this is the right place to link, but I didn't follow the "remove

[2022-07-29 12:28] martin-lueker commented on #13849
Thanks @msfschaffner and @weicaiyang.  I agree about the V3 metric (100% to within some small epsilon)

Thanks also for checking the most recent nightlies. I'd thought we were farther from that based on my conversations with @senelson7 and @rasmus-madsen.  This is good.   It looks like the only one that at marginal is CSRNG at 89%+.  So maybe that's not so bad?  (However I do have a concern that C

[2022-07-29 14:26] tjaychen commented on #13720
thanks @Jacob-Levy . @timothytrippel do you know if the directory requirement is a bug..? or something that could be improved in the future?

[2022-07-29 14:57] johngt commented on #11019
For the final remaining issue (if scratchpad memory is closed off) 'remove critical GPR and WDR registers from reset', believe from internal meeting notes that @andreaskurth has done the following:
#13719 merged
#13321 merged
#13192 was reviewed and merged in yesterday by @vogelpi
#13724 was reviewed and merged in however #13908 mentioning this PR is still open.
If #13908 de-linked then this sub t

[2022-07-29 15:13] GregAC commented on #11019
I believe we're good to go

[2022-07-29 15:24] johngt commented on #2498
Have captured the documentation element of this task in https://github.com/lowRISC/ibex/issues/1710
I believe that based on @rswarbrick comment that there is no further development effort needed for this task and will leave it is an item for the documentation improvement. Tagging @GregAC in case this is not the case and the issue needs re-opening.

[2022-07-29 15:24] #2498 closed

[2022-07-29 15:26] jadephilipoom opened #13909 "[otbn] Add a Bazel rule to check that OTBN programs are constant-time."
We have an OTBN static analysis script that checks if programs are constant-time. It would be nice to run this in CI; should be a simple Bazel rule to write given the script already exists.

CC @moidx

[2022-07-29 15:28] johngt commented on #9663
@ctopal could you coordinate with @GregAC and see if this issue indeed is closed or if there is outstanding effort? If so we can link in to the documentation catch all - https://github.com/lowRISC/ibex/issues/1710
Otherwise it looks like it is resolved and so tagging as closed.

[2022-07-29 15:28] #9663 closed

[2022-07-29 15:31] johngt commented on #13329
@ctopal could you revisit this and state if there is still outstanding effort. If so please tag with [> estimate (value)] / [> remaining YYYY-MM-DD (value)] syntax in top level issue and comment accordingly. Otherwise consider for closing.

[2022-07-29 17:52] bilgiday commented on #13905
Thanks @vogelpi :) I will update the list if needed

[2022-07-29 17:55] eunchan commented on #13872
I will close this issue as the PR has been merged. Thanks for the report and analysis!

[2022-07-29 17:55] #13872 closed

[2022-07-29 18:37] weicaiyang commented on #13849
@martin-lueker
IMO, the criteria may not need to be suitable for all blocks. (it needs to work for most of the block). We can always make an exception if there is a good reason. e.g. we have a good coverage for all combinational pairs, but coverage number is lower than V2 criteria due to cross coverage of all 6 parameters, which is low risk

If I understand the coverage scoring correctly, each cov

[2022-07-29 19:01] msfschaffner commented on #11019
I merged https://github.com/lowRISC/opentitan/pull/13908 also since it LGTM.
I agree, we're ready to go.

[2022-07-29 19:01] #11019 closed

[2022-07-29 19:41] msfschaffner commented on #13858
One possibility would be to add the following checklist item to the D3 checklist:

[code]

[2022-07-31 02:07] sriyerg commented on #13897
Fixed in #13920.

[2022-07-31 17:20] #13756 closed

[2022-07-31 17:57] timothytrippel commented on #2740
Rearranging the register layout won't get rid of the `irq_reg_for_hart()` function, will it? It will just remove the `extra_comparator_offset` from the computation right? B/c there could still be multiple harts, right?

Also note, the [autogenerated DIFs](https://github.com/lowRISC/opentitan/blob/3db58a50e3b8739cfde242bbf29079a4707c888d/sw/device/lib/dif/autogen/dif_rv_timer_autogen.c#L60) should

[2022-07-31 21:01] timothytrippel commented on #13720
It [seems](https://github.com/bazelbuild/rules_rust/issues/1114#issuecomment-1025922191) like the directory requirement is expected behavior, but perhaps we hould file an issue about this on the appropriate Bazel rules GH repo.

[2022-07-31 21:02] timothytrippel commented on #5297
+1, this is a great idea!

[2022-07-31 21:06] timothytrippel commented on #13891
IIUC, @jdonjdon this only occured for you on the airgapped setup correct? and for more context, what do those above build times correspond to? I assume one is the test ROM? and the other is a chip-level test you were trying to build? Do you know what the build times for each are on your workstation?

[2022-08-01 00:20] twilfredo commented on #13904
Closing as the tests were working fine, I incorrectly diagnosed where it was happening.

[2022-08-01 00:20] #13904 closed

[2022-08-01 05:24] abhishek-elastics opened #13924 "[dvsim] How to pass --flag=<xyz> to fusesoc?"
From my understanding of dvsim.py, I don't see a straight forward way of providing --flag=<xyz> to fusesoc. Can you help me in figuring out how to do that?

@sriyerg

[2022-08-01 05:44] #13897 closed

[2022-08-01 05:44] weicaiyang commented on #13897
Thanks @sriyerg

[2022-08-01 06:10] #13619 closed

[2022-08-01 06:10] sriyerg commented on #13924
See:
https://github.com/lowRISC/opentitan/blob/880d289d97d1ecced9a3b9af9e2c3100e10a97c5/hw/dv/tools/dvsim/fusesoc.hjson#L16

The `sv_flist_gen_flags` is a list, to which new flags can be appended to from any hjson config in the import tree. This list gets expanded into `sv_flist_gen_opts` which is the list of command-line switches passed to `fusesoc`. Please try adding this in your DUT hjson entry

[2022-08-01 06:24] timothytrippel commented on #13415
I believe this was fixed by #13898.

[2022-08-01 06:24] #13415 closed

[2022-08-01 13:18] HU90m commented on #13848
Well that's embarrassing.

Thank you @tjaychen! And sorry for wasting your time.

(I'll just check that's the only problem before closing this.)

[2022-08-01 13:29] #13848 closed

[2022-08-01 13:39] abhishek-elastics commented on #13924
Thank you Sri for the pointer. I did notice that list but I want to be able to pass an argument via command line to dvsim to update that list. How do I do that?

[2022-08-01 13:40] Jacob-Levy opened #13926 "Spyglass reported issues on enum error on mubi_o and lc_en_o"
* top_earlgrey:
[code]
5 '0' are 20 bits, need to be 4 '0'....

* otbn:
[code]
enum fail - need to add curly brackets on 'lc_rma_req'

@arnonsha @NoamGottlieb

[2022-08-01 15:08] jdonjdon commented on #13891
Let me put the log file here(#13929) you can grep 'Elapsed time' to get the same out and
the context where the output is created.

[2022-08-01 15:28] abhishek-elastics commented on #13924
One option that I thought could work is to make use of --select-cfgs. Create a hjson file which imports the primary hjson file and add the specific sv_flist_gen_flag to it. But looks like --select-cfgs only accepts primary hjson files. So may be I need to create multiple primary config hjson files each containing the specific sv_flist_gen_flags that I want to pass. That's a lot of code to be dupli

[2022-08-01 16:21] tjaychen commented on #13848
no worries, happy to help.

[2022-08-01 16:22] tjaychen commented on #13848
btw, i still don't know why having no initial values didn't just cause a break during compilation... it feels like to me it should have..hopefully there's a flag we can turn on somewhere.

[2022-08-01 16:23] tjaychen commented on #13926
thanks for the issue @Jacob-Levy

[2022-08-01 16:29] sriyerg commented on #13924
Dvsim command line update of individual hjson variables is not supported. If you could explain your usecase, maybe I can help better. Seems like you have a DUT configuration, but you need an alternate DUT configuration that has a different set of fusesoc flags enabled, but reuse all existing tests? You can do something like this:
[code]

[code]

Yes you can then pass `chip_alt_sim_cfg.hjson` as in

[2022-08-01 16:41] #13224 closed

[2022-08-01 17:18] tjaychen commented on #13893
i should help add some explanation here.
It seems what happens in this test is that the rng inside ast is enabled.

When software tries to make an external clock switch, one of the clocks on the `ast_pulse_sync` is temporarily stopped due to the glitchless switch process.  However, the clock on the other side is still going, so it violates the assertion since one side basically stops responding. '

[2022-08-01 17:19] tjaychen commented on #13834
sounds good @jeoongp !

[2022-08-01 17:23] tjaychen commented on #13811
@jeoongp sorry i can't remember, was the waiver already merged? If yes, we can probably close this issue.

[2022-08-01 17:23] tjaychen commented on #13806
if the waiver / constraint change was merged, let's close this one as well.

[2022-08-01 17:24] tjaychen commented on #13806
@jeoongp i'm sure you're doing this already, but for the things that are waived or set as semi-static etc, could you just add a comment explaining why? You could even link to these issues where the full rationale was explained.

[2022-08-01 17:25] tjaychen commented on #13805
@eunchan might need your input here, unless you and @jeoongp have already discussed.

[2022-08-01 17:38] eunchan commented on #13805
Sorry. I missed the notification. Let me review the issue.

[2022-08-01 17:39] #13751 closed

[2022-08-01 17:59] sha-ron commented on #12564
Closed by PR 12540 in foundry.

[2022-08-01 17:59] #12564 closed

[2022-08-01 18:09] abhishek-elastics commented on #13924
Ah! this is exactly what I needed. I, for some reason, was trying to forcefully use --select-cfg

[code]

Thank you Sri for the quick reply! using alt_sim_cfg did the trick

[2022-08-01 19:01] #13924 closed

[2022-08-01 19:04] weicaiyang opened #13934 "[spi_device] Assertion update needed"
This assume doesn't work for mailbox read, when it reads across mailbox boundary.
[code]

Sounds like it's ok to issue a transaction that sends over 4k bits (512 bytes)
[code]

[2022-08-01 19:13] dmcardle opened #13935 "Enable Kythe semantic indexing for project"
The opentitan project is already visible on the OSS codesearch[^0], but it doesn't have semantic features, e.g. listing a function's callers.

[^0]: https://cs.opensource.google/opentitan

* [ ] Add credentials for a GCS bucket as a GitHub secret
  * This step must be performed by a repo admin.
* [ ] Build and upload kzip files in a GitHub Action
  * #13609
* [ ] Check that the kzips are being upl

[2022-08-01 19:16] dmcardle commented on #13935
I'm looking for volunteers (project admins) to add the GCS credentials secret :)

[2022-08-01 19:29] #10194 closed

[2022-08-01 19:30] tjaychen commented on #9507
@a-will do you want to give this a try?
I bypassed the internal `power okay` indication from the `ast` itself sometime back.  See [here](https://github.com/lowRISC/opentitan/blob/master/hw/top_earlgrey/rtl/autogen/chip_earlgrey_cw310.sv#L785).

We would just swap it back to what it should be and see if things work. I can push a PR for this as well.

[2022-08-01 19:32] tjaychen commented on #9546
@jdonjdon does this test fall into flash block level now?

[2022-08-01 19:34] tjaychen commented on #10561
we ended adding these functions, so this issue can now be closed.

[2022-08-01 19:34] #10561 closed

[2022-08-01 19:38] jdonjdon commented on #9546
@tjaychen , I will update in this thread after sync up with @weicaiyang

[2022-08-01 19:58] msfschaffner commented on #2740
That sounds right, but in that case we can still remove and replace it by `reg_for_hart()` (a different function that is being wrapped by `irq_reg_for_hart()`), right?