[2022-11-17 14:28] drewmacrae commented on #16406
I like and want this.

Could it be simplified by making a wrapper or two for a bash run command that can be passed to it that returns 125 whenever bitstreams aren't available. This would let you run commands like:
`git bisect run ./util/fpga/if_bitstream_available bazel test //sw/device/tests:uart_smoketest_fpga_cw310 &&
git bisect run bazel test //sw/device/tests:uart_smoketest_fpga_cw310 --defin

[2022-11-17 14:31] marnovandermaas commented on #16326
Yes, I think we can check that task off as well and close this issue.

[2022-11-17 14:51] drewmacrae commented on #16406
if you let people write their own git bisect run commands you could let them use verilator to identify exact positions if they preferred that to vivado

[2022-11-17 16:05] a-will commented on #14109
No, I am currently working on this test.

[2022-11-17 16:55] matutem commented on #9314
An update: I made a few changes to the dedicated environment and stimulus generation, generated some exclusions, and the coverage is above 90% for all metrics.

The behavior of the checker has some surprises:
- As we have already discussed, errors are only reported if a child reset becomes active more than one cycle ahead of a sw reset, so it allows the child reset to become active a long time aft

[2022-11-17 18:11] marnovandermaas commented on #16388
PR: https://github.com/lowRISC/opentitan/pull/16397 just got merged, this comment is to update the effort here.

[2022-11-17 18:57] weicaiyang commented on #14109
Thanks for checking this. This test doesn't need the WinBond model and we plan to have it by M2.

[2022-11-17 19:15] marnovandermaas commented on #15743
I fixed the sampling for the recoverable alerts. We now see coverage properly for `ACMD_FLAG0_FIELD_ALERT`, and `CS_BUS_CMP_ALERT`. You can see this fix here: https://github.com/lowRISC/opentitan/pull/16437

Still TODO: stimulate `CS_MAIN_SM_ALERT`

[2022-11-17 19:18] matutem commented on #14164
Regarding the scenario where the test times-out: the reason is that a main power glitch is sent while the device is in deep sleep and the non-aon power domain is off. In that case pwrmgr does not even look for main power glitches since they are not expected to occur, so the timeout should be expected. We could avoid sending main power glitches in deep sleep to prevent this from happening.

A watch

[2022-11-17 19:31] jeoongp opened #16439 "[CDC|JTAG] Output from tap_mux in strap sampling"
![Screen Shot 2022-11-17 at 11 24 45 AM](https://user-images.githubusercontent.com/103145460/202540561-c5343cab-4eb0-4dbd-8a49-689b9167f4df.png)
![Screen Shot 2022-11-17 at 11 26 28 AM](https://user-images.githubusercontent.com/103145460/202540598-79e79969-1477-4351-8a03-efabb8e54dfe.png)

The result of above combinational logic goes to a FF in jtag_clk.
Tool recognizes it in io_div4_clk domain.
I

[2022-11-17 19:45] jeoongp opened #16440 "[CDC|AST] CDC in AST"
rng_en_i comes from main_clk in top_earlgrey but is captured with another clock (io_div4_clk) in ast module as follows.

![Screen Shot 2022-11-17 at 11 41 25 AM](https://user-images.githubusercontent.com/103145460/202544090-6abfa519-9614-4260-91fa-5ff10069c9ea.png)

![Screen Shot 2022-11-17 at 11 40 27 AM](https://user-images.githubusercontent.com/103145460/202544062-31a1133d-974a-4da8-acbc-dccc21

[2022-11-17 19:53] hcallahan-lowrisc commented on #15076
I've made some progress on this issue, but not quite done yet.
I'm optimistic to have this completed by end of tomorrow.

[2022-11-17 20:24] matutem commented on #14164
The other scenario where *ClkGlitchToEnOff_A fail is due to incorrect SVAs: when a main power glitch is triggered the AST will drop its *clk_val outputs, regardless of its *clk_en inputs. The slow pwrmgr fsm is in charge of toggling *clk_en, and it is not involved in these resets, so we don't expect *clk_en to toggle at all.

I will create a PR to fix the SVA.

[2022-11-17 20:32] matutem commented on #16154
The SVA failure is described in https://github.com/lowRISC/opentitan/issues/14164. This is the same issue.

[2022-11-17 21:12] andreaskurth commented on #15747
I've created a separate issue for testing disable & re-enable: https://github.com/lowRISC/opentitan/issues/16430. I'll track the effort for that test there. I think there shouldn't be other work left here, but I'll leave it to @vogelpi to judge that and the estimated efforts.

[2022-11-17 21:34] weicaiyang commented on #16416
yes, the alert is sent out in the same domain, but the handshake is across clock domains.

If it's the 1st error, it's fine because alert_p is set to 1 right after error occurs.
During the alert handshaking, alert_p is up and down. Since alert handler is in slower domain, it takes more cycles (in term of the fast clock) to finish the handshake.
In below waves, alert_p is up 15 cycles and down anot

[2022-11-17 22:11] #16326 closed

[2022-11-17 22:57] msfschaffner commented on #16440
For this one it would be good for @arnonsha to confirm whether this is intended.

[2022-11-17 22:57] weicaiyang opened #16443 "[keymgr] Some chip-level test enhancements"
- [ ] In the recent coverage review, we found otbn_key.valid 1->0 hasn't been covered. We could enhance the otbn sideload test to clear the otbn_key and check otbn operation outputs are different than the earlier operation, like [aes does](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/tests/aes_sideload_test.c;l=108-121?q=aes_sideload&ss=opentitan%2Fopentitan).

- [ ] kmac_ke

[2022-11-17 22:58] jesultra opened #16444 "[i2c] Watermark on all four I2C FIFOs"
The I2C IP has a total of four FIFO buffers, two (FMT and RX) are used in host mode, the two other (ACQ and TX) used in target mode.

In order to improve performance, there is support for "watermark" interrupts on the FMT and RX fifos used in host mode, but no similar feature for the two fifos used in target mode.

I would like to request similar settings for the target mode FIFOs, that is 1/4/8/1

[2022-11-17 23:00] msfschaffner commented on #16439
This is the JTAG mux, which is quasi-static. If we change the muxing index, this will affect all JTAG signals including TRST. But this is fine, since the mux selection stays constant while we are using the selected TAP.

[2022-11-17 23:01] a-will commented on #16444
CC @tjaychen @jdonjdon

[2022-11-17 23:08] msfschaffner commented on #16444
CC @moidx

[2022-11-17 23:15] jeoongp commented on #16439
OK. Thanks for clarifying

[2022-11-17 23:15] #16439 closed

[2022-11-17 23:15] msfschaffner commented on #15649
Pushing this to V3 / M3 as part of coverage closure - as discussed.

[2022-11-17 23:21] msfschaffner commented on #16204
@weicaiyang is this something we need to resolve to hit V2 or can we postpone this and investigate later?

[2022-11-17 23:23] weicaiyang commented on #16204
No, I think we table this to V3.

[2022-11-17 23:32] msfschaffner commented on #16444
Sorry for the noise here. I marked this as P0 for triage purposes only. We need to decide whether we can take this change or not (but likely we have to defer it).

[2022-11-17 23:41] jesultra commented on #16444
Related nice-to-have request:

The specification does not state a particular FIFO size, the watermark levels seem to be chosen for 31 or 32-byte fifos, but the FIFO_STATUS register sets aside 7 bits for the depth of each buffer, suggesting that implementations could have as much as 127 bytes fifos.

I think it is beneficial that the specification does not state any particular depth, but lets it be

[2022-11-18 00:03] weicaiyang commented on #16204
The commit you sent is before your [recent fix](https://github.com/lowRISC/opentitan/commit/a8755be792fed312dc2ee0bb7095d35355a585f5).
It sounds reasonable to me that we saw a bunch of 0xff before that fix, since rsp.data was limited to a small size. When host requests more than that size, device will return a fixed value after sending the that small size of data, but it won't fail the test as bot

[2022-11-18 00:05] eunchan commented on #15107
Current `prim_fifo_async` has one bit pointers inside if `Depth` is 1.

If JTAG TRST is asserted when the pointer is 1, then there's chance the metastability issue occurs on the core clock side.

One way to resolve this is to make the async FIFO synchronous reset. It is not as of now (async assert / sync de-assert for JTAG TRST) in `dmi_cdc`.

Either we can waive the scenario as asserting TRST_N d

[2022-11-18 00:06] eunchan commented on #15107
If I add constraints to the req/rsp_valid signals on dmi_cdc, all RDC errors are gone.

[2022-11-18 01:01] msfschaffner commented on #15107
I believe our assumption was that the debugger can sequence TRST correctly with any JTAG transactions that may be in flight. Hence waiving seems ok. Corresponding PR where this assumption has been stated:
https://github.com/lowRISC/opentitan/pull/12613#issue-1233274955

[2022-11-18 01:18] eunchan commented on #15107
Hum, I think even there's no outstanding transaction in `dmi_cdc`, still issue may occur, as the `fifo_?ptr` inside `prim_fifo_async` could be any values (0 or 1) in idle state.

So, the issue may occur when `fifo_?ptr` are 1. Then, TRST_N may reset them to 0 (asynchronously). It creates the metastability issue on the core clock side as the receiver (consumer of the DMI req) is not reset by TRST_N

[2022-11-18 01:18] eunchan commented on #15107
I created the other method, which I assume is wrong, in https://github.com/lowRISC/opentitan/pull/16449

[2022-11-18 01:19] ballifatih commented on #16213
I wasn't able to actually reproduce the same failure at [81bde034a](https://github.com/lowrisc/opentitan/tree/81bde034a7b21e3444342c96555fc63595a03c65), but the error that I got is slightly different:
[code]

The seed I used was `2680549163`.

[2022-11-18 01:51] msfschaffner commented on #16146
I have added this to the `entropy_src` documentation here: https://github.com/lowRISC/opentitan/pull/16450.

[2022-11-18 02:39] msfschaffner commented on #9314
Regarding the potential improvements to tighten the checks, I believe we can discuss this for a future revision, since that would require an updated checker design.

The unreachable `WaitForChildRelease -> Error` transition however appears to be a bug, see below.

---------------------------------------

The `WaitForChildRelease` state operates on clock ticks synchronized form the child clock doma

[2022-11-18 02:44] bilgiday commented on #14126
After #16305, the test has been passing the last 2 nightly regressions. We are tracking  the enhancement for M3 in #16336.

Could we close the issue for M2 if everyone is okay?

[2022-11-18 02:47] bilgiday commented on #15765
With #16062, the test has passed the last [nightly regression](https://reports.opentitan.org/hw/top_earlgrey/dv/latest/report.html) 3 times. Could we please close the issue if everyone is fine with it?

[2022-11-18 03:29] msfschaffner commented on #15765
SGTM - let's reopen if it fails again.

[2022-11-18 03:29] #15765 closed

[2022-11-18 03:43] msfschaffner commented on #14126
For initial development of a test, we require `Test added to dvsim nightly regression (and passing at time of checking)`. Hence it is ok to close this.

If it breaks in a future nightly regression, we will open a test-triage issue.

[2022-11-18 03:43] #14126 closed

[2022-11-18 03:59] #16146 closed

[2022-11-18 04:02] msfschaffner commented on #14782
The tests have been extended. `chip_sw_sram_ctrl_main_scrambled_access_*` is the only test that fails at the moment - but that failure seems unrelated and is tracked in https://github.com/lowRISC/opentitan/issues/16416. Hence we can close this issue.

[2022-11-18 04:02] #14782 closed

[2022-11-18 04:48] msfschaffner commented on #15107
Ah I see what you are saying. Yeah this could become a problem.

Even if we made the reset synchronous on the core side, wouldn't we still have a potential reconvergent path problem?
I.e., the synchronized reset on the core side would have to be asserted before the JTAG side pointer has been synchronized to the core side - otherwise we could get a ghost transaction on the core side due to the poin

[2022-11-18 06:26] #15483 closed

[2022-11-18 06:26] #14114 closed

[2022-11-18 06:40] abdullahvarici commented on #16204
Thanks @weicaiyang. That makes sense. I am closing the issue.

[2022-11-18 06:40] #16204 closed

[2022-11-18 07:55] vogelpi commented on #16146
Thanks @msfschaffner for taking care of this!

[2022-11-18 08:36] vogelpi commented on #16355
I am closing this as all action items have been addressed.

[2022-11-18 08:36] #16355 closed

[2022-11-18 08:42] johannheyszl commented on #16443
Hi everybody, let's help together next week to fix these. No biggies but let's make sure we use whatever experience we have amongst the three of you to make it go easy :) THX!

[2022-11-18 10:02] johngt commented on #14111
@msfschaffner / @moidx
It looks like this will need to be worked on next week as @vrozic is familiar with this but unable to close it out today as he is OoO. I've temporarily unassigned it in case there is a resource from Google that can look at this, but will reassign to him on Monday morning.

[2022-11-18 10:35] johngt opened #16457 "[test-triage] chip_sw_sram_ctrl_main_scrambled_access_jitter_en_reduced_freq"
### Hierarchy of regression failure

Chip Level

### Failure Description

[code]

### Steps to Reproduce

- GitHub Revision: [f76c18cba](https://github.com/lowrisc/opentitan/tree/f76c18cba6b16896af1179f9859376bae1d368f0)
- dvsim invocation command to reproduce the failure, inclusive of build and run seeds:
  ./util/dvsim/dvsim.py hw/top_earlgrey/dv/chip_sim_cfg.hjson -i chip_sw_sram_ctrl_main_scra

[2022-11-18 10:39] johngt commented on #16457
@msfschaffner / @ariel9678
I know that this test just went in with https://github.com/lowRISC/opentitan/issues/14782 and so this is probably a case of just needing to wait for the next nightly.

[2022-11-18 11:21] ctopal commented on #15744
With #16390 we now have an overall view of the CSRNG internal stage FIFOs which is helpful to see if we are fully utilising them for each App. But we also need to have a checker for catching possible problems like https://github.com/lowRISC/opentitan/issues/15469.

[2022-11-18 12:17] marnovandermaas commented on #15743
Created PR to hit cs_main_sm_alert: https://github.com/lowRISC/opentitan/pull/16459

Also, I think a lot of this effort is already captured in other issues so I am pulling down the estimate to 4 because of that.

[2022-11-18 12:49] abdullahvarici commented on #16205
After removing L100, I've run each test of `spi_host` with 10 seeds without any failure.

I made following change in `spi_host.sv`:
[code]
This was necessary and it prevents following assertion failure: `(spi_host.sv:612) [ASSERT FAILED] CioSdKnownO_A` when I remove L103.

However, if I didn't misunderstood, `cio_sd_i` is sampled by the spi_host whenever `sck` is active. When cio_sd_i is not drive

[2022-11-18 17:15] ctopal commented on #16402
I don't think this is needed now since the change in the RTL resulted with Error state transition not getting reported in the FSM coverage at all (it lives under Expression coverage I think). I'm ticking it off as done but please let me know if you think something else can be done for it.

[2022-11-18 17:33] msfschaffner commented on #13543
Regarding `chip_sw_sram_execution` above: testing all these scenarios for the retention SRAM is not needed, since it does not support these combinations. Execution from SRAM is permanently disabled for the retention SRAM, see tie offs in HW:
https://github.com/lowRISC/opentitan/blob/3ac696b2c7067877104a61664c39e7ca79cb758d/hw/top_earlgrey/rtl/autogen/top_earlgrey.sv#L2040-L2041

The escalation beh

[2022-11-18 17:37] vogelpi commented on #15747
Sounds good, let's close this then.

[2022-11-18 17:37] #15747 closed

[2022-11-18 17:37] msfschaffner commented on #16457
This appears to be a test renaming issue. It may only be partially fixed - let me look into that.

[2022-11-18 17:49] msfschaffner commented on #14111
We will likely not get to this today on our end.

[2022-11-18 17:49] vogelpi commented on #16388
Update: @marnovandermaas and I discussed that there is an easy way to keep running background CSRNG commands while injecting errors. This is still on our list.

[2022-11-18 17:57] vogelpi commented on #15743
I have been discussing with @ctopal today that coverage changed a bit due to the FSM reworking and it seems that dvsim doesn't correctly load the exclusion file for AES. This needs to be investigated.

@ctopal would you mind sharing the latest coverage results you've collected with and without AES exclusions here please? This would then allow us to plan further actions.

[2022-11-18 18:23] msfschaffner commented on #16457
#16465 should take care of this particular signature - although note that this class of scrambled access tests have a different failure signature, too. It's ok to close this issue here though (once #16465 is merged) since that other failure mode is tracked in #16416.

[2022-11-18 18:26] msfschaffner commented on #16416
@weicaiyang do we need to make this SVA more generic and take into account if a handshake is ongoing? because that assertion may fail again in other situations when the clock ratio is even more extreme.

[2022-11-18 18:52] weicaiyang commented on #16416
SGTM, sram_ctrl has a chance to fail as well if we trigger multiple errors, since it's also running 100mhz.
Right now, we set default max 7 cycles to see alert_p, perhaps relax it to 30 cycles, which allows clock ratio to be 1:5 plus some margin.

[2022-11-18 19:00] sriyerg commented on #16416
Aah ok, understood.

[2022-11-18 19:36] msfschaffner commented on #16416
OK, sounds good.

[2022-11-18 20:16] ballifatih commented on #16353
It seems like this passed the last 4 regression runs, so I'm closing the issue.

[2022-11-18 20:16] #16353 closed

[2022-11-18 20:19] marnovandermaas commented on #16388
I think this PR should be good enough for now: https://github.com/lowRISC/opentitan/pull/16473

Unless someone objects, I think we can close this issue once that PR is merged.

[2022-11-18 20:30] msfschaffner commented on #8440
CC @alphan

[2022-11-18 21:06] #16330 closed

[2022-11-18 21:10] msfschaffner commented on #16384
Moving the comment from [XX](https://github.com/lowRISC/opentitan/issues/9314#issuecomment-1319471823) to here.

---------------------------------------

The unreachable `WaitForChildRelease -> Error` transition however appears to be a bug, see below.

The `WaitForChildRelease` state operates on clock ticks synchronized form the child clock domain in order to not time out prematurely. This is need

[2022-11-18 21:16] msfschaffner opened #16475 "[rstmgr] V2S review opens"
- [x] Complete the reset background check testbench and improve the coverage https://github.com/lowRISC/opentitan/issues/9314
- [x] Need to add the SEC_CM FPV environment and check that WE onehot checker and sparse FSMs do indeed trigger an alert. checked with @cindychip -> this is done
- [x] Need to double check bound interfaces since some of the SVAs are uncovered: https://github.com/lowRISC/ope

[2022-11-18 21:26] cindychip opened #16477 "[test-triage] chip_sw_pattgen_ios"
### Hierarchy of regression failure

Chip Level

### Failure Description

  UVM_ERROR @ 8007.933139 us: (chip_sw_base_vseq.sv:236) uvm_test_top.env.virtual_sequencer [uvm_test_top.env.virtual_sequencer.chip_sw_patt_ios_vseq] SW TEST TIMED OUT. STATE: SwTestStatusInTest, TIMEOUT = 5000000 ns

### Steps to Reproduce

- GitHub Revision: [b85591cac](https://github.com/lowrisc/opentitan/tree/b85591caca

[2022-11-18 21:31] msfschaffner commented on #15764
This has been implemented in https://github.com/lowRISC/opentitan/pull/16404.
We are waiting for this to pass in the nightlies now.

[2022-11-18 21:32] msfschaffner commented on #15911
The update for this is coming in #16456.

[2022-11-18 21:44] bilgiday commented on #15764
Hi All, good news, the test passed the latest nightlies :)

As I forget to add it into the chip_testplan.hjson yesterday, the result is shown under `unmapped tests`. @sriyerg just updated the hjson file with #16474. If it is okay for you, we can close the issue.

[2022-11-18 21:47] msfschaffner commented on #15764
Thanks for checking - in that case this is ok to close.

[2022-11-18 21:47] #15764 closed

[2022-11-18 21:48] bilgiday commented on #15764
Thanks @msfschaffner

[2022-11-18 22:05] #14634 closed

[2022-11-18 22:34] #16388 closed, assigned to marnovandermaas

[2022-11-18 23:19] cindychip commented on #16477
This might just need to increase the sw timeout value, I am trying it locally.

[2022-11-18 23:27] jeoongp opened #16478 "[CDC|AST] CDC on ast_init_done in AST"
This is similar to #16440.
rng_init_done comes from main_clk in ast but is captured with another clock (io_div4_clk) in top_earlgrey as follows.
![Screen Shot 2022-11-18 at 3 25 55 PM](https://user-images.githubusercontent.com/103145460/202819563-2a16a079-3b4b-4a15-b007-83653a8ee6de.png)
![Screen Shot 2022-11-18 at 3 24 42 PM](https://user-images.githubusercontent.com/103145460/202819571-ca5d2df0-

[2022-11-18 23:32] weicaiyang opened #16479 "[test-triage] chip_sw_sram_ctrl_scrambled_access"
### Hierarchy of regression failure

Chip Level

### Failure Description

  UVM_ERROR @ 4399.724850 us: (sw_logger_if.sv:523) [sram_ctrl_scrambled_access_test_prog_sim_dv(sw/device/tests/sim_dv/sram_ctrl_scrambled_access_test.c:278)] CHECK-fail: mem_frame->backdoor does not match kBackdoorExpectedWords
  UVM_INFO @ 4399.724850 us: (uvm_report_catcher.svh:705) [UVM/REPORT/CATCHER]

### Steps to Rep

[2022-11-18 23:32] weicaiyang opened #16480 "[test-triage] chip_sw_i2c_host_tx_rx"
### Hierarchy of regression failure

Chip Level

### Failure Description

  UVM_ERROR @ 3444.445892 us: (sw_logger_if.sv:523) [i2c_host_tx_rx_test_prog_sim_dv(w/device/lib/testing/i2c_testutils.c:39)] CHECK-fail: byte_count < I2C_PARAM_FIFO_DEPTH
  UVM_INFO @ 3444.445892 us: (uvm_report_catcher.svh:705) [UVM/REPORT/CATCHER]

### Steps to Reproduce

- GitHub Revision: [b85591cac](https://github.com

[2022-11-18 23:33] weicaiyang commented on #16480
Fixed by #16467
Can be closed if the next nightly shows no error.

[2022-11-18 23:57] weicaiyang commented on #16213
Is this the first error in the simulation? If not, we can ignore it and only deal with the first error.

If it's the 1st error, please let me know how to reproduce it.

[2022-11-19 00:18] ballifatih commented on #16213
Yes in `run.log`, I only see this assertion failure. What I did was following (which is the seed from this issue):
![image](https://user-images.githubusercontent.com/7850700/202823223-049b1d84-5487-4294-a07e-0a493f1554e5.png)

Also, I couldn't find the log of the failed run in the nightly regression (looking at build nr 407 on 9th of Nov.). Are there multiple runs happening in the regression since

[2022-11-19 00:21] weicaiyang commented on #16416
Fixed via #16417

[2022-11-19 00:21] #16416 closed

[2022-11-19 00:32] weicaiyang opened #16482 "[test-triage] chip_same_csr_outstanding"
### Hierarchy of regression failure

Chip Level

### Failure Description

  UVM_ERROR @ 16145.100463 us: (cip_base_vseq.sv:250) [uvm_test_top.env.virtual_sequencer.chip_common_vseq] Check failed masked_data == exp_data (264 [0x108] vs 0 [0x0]) addr 0x40430088 read out mismatch
  UVM_INFO @ 16145.100463 us: (uvm_report_catcher.svh:705) [UVM/REPORT/CATCHER]

### Steps to Reproduce

- GitHub Revision

[2022-11-19 00:44] weicaiyang commented on #16213
Thanks @ballifatih. Let me have a try.

[2022-11-19 01:02] ballifatih commented on #16213
Thanks @weicaiyang. I also started running another one just to make sure I didn't use wrong params. Last time it took around 2 hours though (current run is at 43 min now).

[2022-11-19 02:16] ballifatih commented on #16213
@weicaiyang I actually got the expected result this time, I must have done something wrong the first time.
![image](https://user-images.githubusercontent.com/7850700/202829580-e811bb0a-6a53-4a6e-9398-9f67fd20a517.png)

[2022-11-19 03:09] ballifatih commented on #16213
Could this be about the test writing `EXT_CLOCK_EN` of [lc_ctrl.TRANSITION_CTRL](https://docs.opentitan.org/hw/ip/lc_ctrl/doc/#Reg_transition_ctrl) (which I assume happens randomly)?

The main reason for `pwr_ast_i.io_clk_val = clk_src_io_val_o` to be pulled down by ast seems like ast received `io_clk_byp_req = On` from LC (see below). That is the only input change to ast before `clk_src_io_val_o`

[2022-11-19 03:15] #15718 closed

[2022-11-19 03:26] ballifatih commented on #16213
If overwriting `TRANSITION_CTRL` is the issue (or rather the violation of IoClkHandshakeOn_A from the mentioned commit), then I think this signal trigger should not violate the updated version of the same SVA since #16454. @matutem

The old SVA from the commit [81bde034a](https://github.com/lowrisc/opentitan/tree/81bde034a7b21e3444342c96555fc63595a03c65)
https://github.com/lowRISC/opentitan/blob/8

[2022-11-19 05:03] weicaiyang commented on #16213
Thanks @ballifatih for looking into this.

Seems like @matutem already fixed this. Let me run a test with 100 seeds. If no more failure, let's close this.

[2022-11-19 18:44] matutem commented on #11161
Note only hardware resets and software reset can occur simultaneously, since pwrmgr will not mix those with a low power exit reset, and POR supersedes either of them.

Hardware resets are simply expressed as a bit vector to rstmgr, so the test makes the various bits arrive at different times while rst_lc_req is active. A sw reset can also cause rst_lc_req to rise, and rstmgr itself completes the p

[2022-11-19 19:25] matutem commented on #9314
Need to add the exclusion files in the sim_cfg hjson.

[2022-11-20 04:34] #9314 closed

[2022-11-20 05:58] tjaychen commented on #16478
could you help point out where ast_init_done is captured but isn't synchronized?

[2022-11-20 07:00] tjaychen commented on #16478
it's possible for this one the cdc tool does not understand the behavior of `prim_mubi4_sync`. That module will not look right to a cdc tool.

[2022-11-20 07:28] arnonsha commented on #16478
@jeoongp
ast_init_done_o is defined as being tlul_clk related in [spec](https://docs.opentitan.org/hw/top_earlgrey/ip/ast/doc/).
Let me know what clarification you expect on our side

[2022-11-20 16:45] jeoongp commented on #16478
Ah @tjaychen you are right. CDC is handled through prim_mubi4_sync.
@arnonsha sorry for false alarm.

[2022-11-20 16:45] #16478 closed

[2022-11-21 07:15] andreaskurth commented on #16205
IIUC, your change means `cio_sd_o[i]` must be known *only if `cio_sd_en_o[i]` is high. I think this makes sense.

I agree. I don't think it's possible for `spi_host` to know if `cio_sd_i` is valid, since there is no enable, chip-select, or valid input associated with it. If you agree, let's keep the current design and assertions.

[2022-11-21 07:47] arnonsha commented on #16440
Yes, the rng_en_i is synchronized to tlul_clk inside AST. This is intentional.
Since a synchronizer is not shown in the liberty file, I guess you should add a waiver in top level cdc run.

[2022-11-21 09:41] vogelpi commented on #15743
Based on the latest nightly regression, coverage numbers are currently as follows:

Score | Block | Branch | Statement | Expression | Toggle | Fsm | Assertion | CoverGroup
-- | -- | -- | -- | -- | -- | -- | -- | --
91.40 | 90.76 | 78.02 | 95.51 | 90.40 | 92.25 | 98.15 | 97.11 | 76.85

We need to investigate the following:
- Branch: it looks like the AES exclusions are not properly loaded. -> @ctop

[2022-11-21 09:45] johngt commented on #16423
@vogelpi / @GregAC : I think that @vogelpi has worked on an error in the same test previously in #15538 but this is a different issue.
I'll assign to both of you, but whomever has free time to work on this, please deallocate the other and then it will be clear which of you has taken this on.

[2022-11-21 09:53] GregAC commented on #16423
I'll take this @vogelpi

[2022-11-21 09:59] vogelpi commented on #16423
Many thanks @GregAC ! FYI, @andreaskurth and I had been discussing how we should probably improve the test to get rid of some failures related to undetected alerts [here](https://github.com/lowRISC/opentitan/pull/16264#issuecomment-1312263902).

[2022-11-21 10:41] engdoreis opened #16489 "[test-triage] chip_csr_mem_rw_with_rand_reset timeout"
### Hierarchy of regression failure

Chip Level

### Failure Description

[code]

### Steps to Reproduce

- GitHub Revision: [b010469ed](https://github.com/lowrisc/opentitan/tree/b010469eddd1540aaefbeb679f1f3bcba9557464)
- dvsim invocation command to reproduce the failure, inclusive of build and run seeds:
  ./util/dvsim/dvsim.py hw/top_earlgrey/dv/chip_sim_cfg.hjson -i chip_csr_mem_rw_with_rand_r

[2022-11-21 10:44] engdoreis commented on #16489
The error signature is similar to the one in this issue https://github.com/lowRISC/opentitan/issues/15893, so I would check if what has been done in the PR https://github.com/lowRISC/opentitan/pull/15915 would somehow helps.

[2022-11-21 10:45] abdullahvarici commented on #16205
Yes Andreas, I agree with you. I am closing the issue then.

[2022-11-21 10:45] #16205 closed

[2022-11-21 11:18] engdoreis commented on #13543
I'm back to the office. @msfschaffner are you working on this issue? If not I'm happy to take it over again.

[2022-11-21 12:13] johngt commented on #16489
GitHub revision number Hash for what @engdoreis highlighted is [b010469ed](https://github.com/lowrisc/opentitan/tree/b010469eddd1540aaefbeb679f1f3bcba9557464)

[2022-11-21 12:49] johngt commented on #14132
@ariel9678 - just wondering how the writing of this test is going? I see that this should now be the only task remaining assigned to you after #14782 was marked as done just before the weekend. If there is a blocker please raise it on Slack and hopefully someone will be able to help out. Responses might take longer after Wednesday so please raise any issues asap. Thanks!
@msfschaffner / @moidx

[2022-11-21 14:31] ctopal commented on #15743
I opened up https://github.com/lowRISC/opentitan/pull/16491 for this. It should fix the problem.

[2022-11-21 14:51] vogelpi commented on #15743
Thanks for your feedback @marnovandermaas .

The `csrng_intr` test has a function called `test_cs_hw_inst_exc()` to test this explicitly - at least `cp_hw_inst_exc` should be hit by this. Can you have a look at this please?

This is good to know. But how is the distribution? IIRC, the current dashboard indicates that this SFIFO_CMD_ERR is hit more than 150 times. Maybe it gets many hits in the `cs

[2022-11-21 15:54] marnovandermaas commented on #15743
On my local runs `csrng_intr`, `csrng_alert`, `csrng_cmds`, `csrng_stress_all` and all the V1 tests do not hit any of the `csrng_err_code_test_cg` at all. As for the distribution of the `csrng_err` test, it seems to hit each bucket between 2 and 11 times for 600 iterations. I'm not exactly sure why there is a mismatch with the nightlies.

I will have a look at the `hw_inst_exc` now until I have a

[2022-11-21 16:22] vogelpi commented on #15743
Thanks @marnovandermaas for feeding back. I think the `csrng_err_code_test_cg` isn't hit by `csrng_intr` because `csrng_intr` uses `cfg.which_fatal_err` instead of `cfg.which_err_code`. Only the latter includes the test bits. Thanks for looking into `hw_isnt_exc`.

[2022-11-21 16:40] HU90m commented on #15679
I'm free and more than happy to take this issue back if you would like me to @cindychip

[2022-11-21 17:11] engdoreis commented on #16479
The test fails sometimes when the random backdoor address in the retention SRAM contains the address `0x406007fc` due to the test_rom initialization.
https://github.com/lowRISC/opentitan/blob/4667c741f0aa8c79d5074fc6e4b2e097ea057707/sw/device/lib/testing/test_rom/test_rom.c#L144-L148

[2022-11-21 18:19] marnovandermaas opened #16499 "[csrng] Investigate reseed interval"
Together with @ctopal, we were trying to figure out when the bits of `hw_exc_sts` are set, and the same for `sw_cmd_sts.cmd_sts`. Neither of which are getting coverage.

@ctopal traced the chain of assignments as `ctr_drbg_gen_ccmd_o <- rcstage_ccmd <- sfifo_bencack_ccmd <- bencack_ccmd_modified` through a number of FIFOs. The following line could lead to an error status:
https://github.com/lowRIS

[2022-11-21 18:23] #11161 closed

[2022-11-21 18:40] marnovandermaas commented on #15743
While investigating the value of `hw_exc_sts`, I couldn't find the logic for detecting an overflow of the reseed counter. I created a separate issue for it: https://github.com/lowRISC/opentitan/issues/16499

Tomorrow I will debug the `test_cs_hw_inst_exc()` which should work despite how the reseed counter works because it forces an illegal status.

[2022-11-21 18:47] cindychip commented on #16295
Thanks Sri, the OneShotCfg does not support default field `build_pass_patterns`.
If we enable that, we will need to add a `build_pass_patterns` for all other tools (lint, synthesis, etc).
I think might be easier to add a JG specific failure pattern in the jaspergold.hjson.

[2022-11-21 19:00] marnovandermaas commented on #16499
I've tracked the assignments and uses of the reseed value, but so far have not found an overflow detection.
This is the assignment loop I have currently found:
`csrng_ctr_drbg_cmd::sfifo_keyvrc -> csrng_ctr_drbg_gen::(sfifo_genreq -> sfifo_adstage -> sfifo_rcstage -> sfifo_genbits) -> csrng_state_db::state_db_rc -> csrng_ctr_cmd::(sfifo_cmdreq -> sfifo_rcstage -> sfifo_keyvrc)`
Note: the first and

[2022-11-21 20:47] #15744 closed

[2022-11-21 21:55] matutem commented on #16475
The fix for the SVA issues split some SVA rather than parameterizing.

[2022-11-21 22:10] msfschaffner commented on #13543
That would be great! I probably won't have time to resolve it this week due to the holidays.

[2022-11-21 22:14] msfschaffner commented on #14815
Closing this as it is passing in nightlies. Any further FPGA debugging will be tracked in a test triage issue.

[2022-11-21 22:14] #14815 closed

[2022-11-21 22:43] #16475 closed

[2022-11-21 22:48] cindychip commented on #15679
Thanks Hugo, sorry I was not able to find out the root cause. @weicaiyang and I were suspending here:
https://github.com/lowRISC/opentitan/blob/master/sw/device/lib/testing/flash_ctrl_testutils.c#L395
Should that be:
[code]
We thought the while loop inside `IBEX_SPIN_FOR` might need to be taken out?
But when I implemented a similar idea in https://github.com/lowRISC/opentitan/pull/16408, I found i

[2022-11-21 23:37] vogelpi commented on #15743
Here the latest coverage results:
|  Score  |  Block  |  Branch  |  Statement  |  Expression  |  Toggle  |   Fsm   |  Assertion  |  CoverGroup  |
|:-------:|:-------:|:--------:|:-----------:|:------------:|:--------:|:-------:|:-----------:|:------------:|
| 95.93 % | 97.60 % | 93.41 %  |   98.54 %   |   91.03 %    | 92.10 %  | 96.30 % |   96.47 %   |   78.54 %    |

Branch coverage is now good,

[2022-11-21 23:47] #14109 closed

[2022-11-22 00:13] msfschaffner commented on #16475
Awesome, thanks for taking care of this, @matutem!

[2022-11-22 00:13] #16477 closed

[2022-11-22 00:35] msfschaffner commented on #14132
Ack - we will go through this test tomorrow in our sync meeting with Nuvoton.

[2022-11-22 02:17] msfschaffner commented on #15911
The updates to this test have now been merged - let's check the nightlies tomorrow!

[2022-11-22 02:36] moidx opened #16506 "[test-triage] FPGA chip_power_sleep_load stuck at wait_for_interrupt"
### Hierarchy of regression failure

Chip Level

### Failure Description

The test currently gets stuck in the FPGA right after entering `wfi` via `wait_for_interrupt()` call.

[code]

### Steps to Reproduce

[code]

### Tests with similar or related failures

- [ ] chip_power_idle_load (this test is currently not using `wfi` to avoid this problem)

[2022-11-22 02:43] moidx commented on #14815
Created https://github.com/lowRISC/opentitan/issues/16506 to track FPGA issue.

[2022-11-22 04:35] moidx commented on #16506
The test should pass by increasing the timer count by x100.

[2022-11-22 05:40] #16482 closed

[2022-11-22 06:44] eunchan commented on #15107
I am thinking this a little bit.

TL;DR is to reset the consumer side first then the producer side. So, in `dmi_cdc` TRST_N propagates to core_clk first then the reset is bace synched to TCK domain, which resets the CDC. Then we should not have any issue. Benefit is the transaction does not need any additional delays like #16483 and FIFO depth can be greater than 1 (the reset scheme can be used in

[2022-11-22 08:02] a-will commented on #16506
Might also eliminate the race if we have the NMI handler trigger a software interrupt from the PLIC. We could leave  the global interrupt-enable disabled, but unmask the software interrupt-enable. Then, we shouldn't get stuck at WFI.

[2022-11-22 08:43] vogelpi commented on #16499
Thanks @marnovandermaas for opening the issue and documenting your findings. I think we should have a look at this, but maybe it can be deferred to after M2. For now, we need to focus on functional coverage.

[2022-11-22 10:37] #16213 closed

[2022-11-22 11:44] engdoreis commented on #16354
Passing after the fix:
|     | Tests                    |   2022-11-21 08:11:59 |   2022-11-20 08:10:00 |   2022-11-19 08:10:46 |   2022-11-18 08:16:52 |   2022-11-17 08:11:05 |   2022-11-16 08:14:00 |   2022-11-15 08:11:58 |   2022-11-14 08:10:42 |   2022-11-13 08:12:54 |   2022-11-12 08:04:45 |   2022-11-11 08:07:48 |   2022-11-10 08:10:06 |   2022-11-09 08:04:06 |   2022-11-08 08:03:42 | Suite

[2022-11-22 11:44] #16354 closed

[2022-11-22 11:52] engdoreis commented on #16423
Reopening until it pass in the regression. I'll keep watching it and I'm going to close it as soon as it passes.

[2022-11-22 11:56] #16479 closed

[2022-11-22 12:00] #16480 closed

[2022-11-22 12:01] engdoreis commented on #14104
Closing as passing:
|     | Tests                       |   2022-11-21 08:11:59 |   2022-11-20 08:10:00 |   2022-11-19 08:10:46 | 2022-11-18 08:16:52   | 2022-11-17 08:11:05   | 2022-11-16 08:14:00   | 2022-11-15 08:11:58   | 2022-11-14 08:10:42   | 2022-11-13 08:12:54   | 2022-11-12 08:04:45   | 2022-11-11 08:07:48   | 2022-11-10 08:10:06   | 2022-11-09 08:04:06   | 2022-11-08 08:03:42   | Suite

[2022-11-22 12:38] marnovandermaas commented on #15743
Ok for `cp_hw_inst_exc`, I have now opened a PR to fix the coverage assuming the current testing approach: https://github.com/lowRISC/opentitan/pull/16508

[2022-11-22 13:23] hcallahan-lowrisc opened #16510 "[test-triage,spi_host] spi_host_sw_reset only asserts sw_reset after transaction has ended"
### Hierarchy of regression failure

Block level

### Failure Description

`spi_host_sw_reset` test does not actually assert the sw_reset during the transaction, but only after a transaction has ended.
I checked a bunch of seeds and they were all the same.

[- Test description](https://github.com/lowRISC/opentitan/blob/4d991c505ad6f0bd9b03967652d722a9909fe6c6/hw/ip/spi_host/data/spi_host_testplan.

[2022-11-22 16:14] vogelpi commented on #15743
I am now running a regression with coverage including all open CSRNG PRs. I will post the results shortly.

[2022-11-22 16:26] marnovandermaas opened #16516 "[csrng] Define how CSRNG status response should operate"
With the current RTL, the `sw_cmd_sts.cmd_sts` is never high and the bits `hw_exc_sts` are also never high. This is due to the current design of the RTL not being designed to pass back anything but a successful status. For example, when an illegal command is received the main state machine simply hangs until it is reset and does not return any status.

In the documentation it states that there are

[2022-11-22 16:49] marnovandermaas commented on #16516
This issue is also related to: https://github.com/lowRISC/opentitan/issues/16499

[2022-11-22 16:54] marnovandermaas commented on #15743
Created 2 more PRs to help close this one out:
- https://github.com/lowRISC/opentitan/pull/16508
- https://github.com/lowRISC/opentitan/pull/16509

[2022-11-22 17:16] vogelpi commented on #15743
Latest coverage numbers (Canberk's PR not included):
|  Score  |  Block  |  Branch  |  Statement  |  Expression  |  Toggle  |   Fsm   |  Assertion  |  CoverGroup  |
|:-------:|:-------:|:--------:|:-----------:|:------------:|:--------:|:-------:|:-----------:|:------------:|
| 96.12 % | 97.71 % | 93.76 %  |   98.64 %   |   91.14 %    | 92.25 %  | 98.18 % |   97.14 %   |   79.95 %    |

I don't kn

[2022-11-22 17:29] jesultra opened #16519 "[sysrst] Inconsistent key interrupt bit assignment"
The register KEY_INTR_CTL lists bit 7 as reserved, with the result that the low byte controls the 7 falling edge triggers, and the high byte controls the 7 corresponding rising edge triggers.

The register KEY_INTR_STATUS also has one bit for each of the 14 possible transitions, but that one does not have bit 7 reserved, and instead packs the 14 values into the lowest 14 bits.

I would argue that

[2022-11-22 17:59] vogelpi commented on #15743
@andreaskurth and I have just analyzed the situation. The problem is that the `csrng_host_cmd_cg` and maybe also `csrng_genbits_cg` defined inside `csrng_agent` have very low coverage. In particular the invalid commands are never sampled resulting in extremely low cross coverage. What we need to do:
1. When pushing invalid commands, sample before getting the response because there will be no respo

[2022-11-22 18:18] weicaiyang commented on #14141
completed via #16386

[2022-11-22 18:18] #14141 closed

[2022-11-22 18:53] #15076 closed

[2022-11-22 19:33] weicaiyang commented on #16213
Forgot to update this issue. I ran 100 seeds, and this error no longer occurred.
But I saw some other failures. Will look into it. If needed, will file another issue.

[2022-11-22 19:54] weicaiyang commented on #15969
I found the root cause. It's a very corner case and only happens very occasionally.

Some of chip pins are driven X, when we enable them for wakeup via writing `WKUP_DETECTOR_EN`, the X will be propagated to everywhere.

Will push a PR to fix it soon.

[2022-11-22 20:02] weicaiyang commented on #14104
I addressed the 1st item but I'm not sure if the 2nd item is done or not. Let me reopen this. Will check with @tjaychen when he is back.
Also changed this to M3, as it doesn't seem critical.

[2022-11-22 22:45] msfschaffner commented on #15911
This has passed in the nightlies - closing!

[2022-11-22 22:45] #15911 closed

[2022-11-22 22:45] msfschaffner commented on #15033
This has passed in the nightlies today.
The only thing missing now is the SW side.

[2022-11-22 22:47] msfschaffner commented on #14816
This has passed the nightlies - closing!

[2022-11-22 23:16] vogelpi commented on #15743
Some progress, still not there yet.

|  Score  |  Block  |  Branch  |  Statement  |  Expression  |  Toggle  |   Fsm    |  Assertion  |  CoverGroup  |
|:-------:|:-------:|:--------:|:-----------:|:------------:|:--------:|:--------:|:-----------:|:------------:|
| 96.44 % | 97.73 % | 93.80 %  |   98.68 %   |   90.96 %    | 92.25 %  | 100.00 % |   97.14 %   |   88.42 %    |

[2022-11-23 00:00] vogelpi commented on #16430
I am now closing this. The corresponding PRs have been merged.

[2022-11-23 00:00] #16430 closed

[2022-11-23 00:00] weicaiyang opened #16529 "[lc_ctrl] lc_clk_byp_req alone can switch to extclk in some LC states"
As discussed with @msfschaffner and @cindychip, we found a case that in RMA state,  we only need to set lc_clk_byp_req to make clkmgr switch to use the ext clk. (no need to issue a LC transition)

- [x] update this [table](https://docs.opentitan.org/hw/ip/clkmgr/doc/index.html#clock-frequency-summary) to clarify what LC states allows user to only set lc_clk_byp_req to switch to ext clk. #16687
- [

[2022-11-23 00:14] #15969 closed

[2022-11-23 00:30] vogelpi commented on #15743
Now we're almost there:
|  Score  |  Block  |  Branch  |  Statement  |  Expression  |  Toggle  |   Fsm    |  Assertion  |  CoverGroup  |
|:-------:|:-------:|:--------:|:-----------:|:------------:|:--------:|:--------:|:-----------:|:------------:|
| 96.52 % | 97.74 % | 93.85 %  |   98.70 %   |   91.21 %    | 92.25 %  | 100.00 % |   97.14 %   |   89.66 %    |

I am stopping here for today and wil

[2022-11-23 00:51] vogelpi commented on #15743
The PR is here: https://github.com/lowRISC/opentitan/pull/16531

[2022-11-23 09:45] marnovandermaas commented on #15743
This PR should improve coverage to over the required 90%: https://github.com/lowRISC/opentitan/pull/16531

[2022-11-23 09:51] engdoreis commented on #16055
The test `chip_sw_power_idle_load` mentioned above failed in the nightly with the following error:
[code]
Is this issue intented to fix it, or should we open a new one?

[2022-11-23 09:59] engdoreis commented on #16457
Updating the error message:
[code]
## Steps to Reproduce
GitHub Revision: [56db55c04](https://github.com/lowrisc/opentitan/tree/56db55c04a15724174c635601abc6c0721e09aea)
dvsim invocation command to reproduce the failure, inclusive of build and run seeds:
./util/dvsim/dvsim.py hw/top_earlgrey/dv/chip_sim_cfg.hjson -i chip_sw_sram_ctrl_main_scrambled_access_jitter_en_reduced_freq --build-seed 390803

[2022-11-23 10:34] johngt opened #16533 "[test-triage] chip_sw_power_idle_load"
### Hierarchy of regression failure

Chip Level

### Failure Description

[code]

### Steps to Reproduce

- GitHub Revision: [56db55c04](https://github.com/lowrisc/opentitan/tree/56db55c04a15724174c635601abc6c0721e09aea)
- dvsim invocation command to reproduce the failure, inclusive of build and run seeds:
  ./util/dvsim/dvsim.py hw/top_earlgrey/dv/chip_sim_cfg.hjson -i chip_sw_power_idle_load --b

[2022-11-23 10:38] johngt commented on #16533
@yehuda-bejar / @msfschaffner related to issue https://github.com/lowRISC/opentitan/issues/14815
where the chip_sw_power_idle_load was created there is now an issue as reported in the nightly, with the relevant part captured above.
I would assign @yehuda-bejar but it might be that someone else can look at this before so left the assignment clear.

[2022-11-23 10:40] luismarques commented on #16406
That was my thought as well.

Thanks for writing such a clear and detailed proposal @dmcardle. This will be quite useful.

Regarding the flakiness, a better reset would be the long-term solution but in the meanwhile would it help to introduce some kind of sanity check test tool? If it returned an exit code that stops the bisection it would prevent erroneous bisect results and end broken bisections

[2022-11-23 10:42] johngt commented on #16055
@engdoreis I've created a new issue to track the now failing chip_sw_power_idle_load issue at https://github.com/lowRISC/opentitan/issues/16533

[2022-11-23 10:43] andreaskurth commented on #16489
Can be reproduced on current `master` (commit 4fe90c677ad7cfeb9f7df4015f61d186a23dc36e) with `util/dvsim/dvsim.py hw/top_earlgrey/dv/chip_sim_cfg.hjson -i chip_csr_mem_rw_with_rand_reset -r 1 -s 1768255675 -t vcs`. I'm investigating. Thanks @engdoreis for the pointer to the other issue and PR, the error message looks indeed very related

[2022-11-23 12:23] marnovandermaas commented on #16017
Ok, I created a PR to remove this line from the documentation, but we can leave this issue open to remind us that we should add the mention of the RNG compliance document back in the future once it has been published.

[2022-11-23 13:23] andreaskurth commented on #16489
The problem is that by the time `wait_rom_check_done()` is called here:
https://github.com/lowRISC/opentitan/blob/4fe90c677ad7cfeb9f7df4015f61d186a23dc36e/hw/top_earlgrey/dv/env/seq_lib/chip_stub_cpu_base_vseq.sv#L47-L53
`ral.kmac.cfg_regwen` is already `1`, so this wait times out:
https://github.com/lowRISC/opentitan/blob/4fe90c677ad7cfeb9f7df4015f61d186a23dc36e/hw/top_earlgrey/dv/env/seq_lib/chi

[2022-11-23 13:47] engdoreis commented on #16489
Commenting out all this logs would help?
Or maybe improving `wait_rom_check_done` logic to check another register bit to assess the status of kmac before waiting?

[2022-11-23 13:56] andreaskurth commented on #16489
The failures now happen when `apply_resets_concurrently()` returns before KMAC is out of reset. For example (cursor positioned when that function returns):
![2022-11-23T13:54:06+00:00](https://user-images.githubusercontent.com/3583291/203564314-2b24a49a-949c-4268-9b3a-998a86785f5b.png)

So yes, I think we should adapt `wait_rom_check_done()` to wait for KMAC to come out of reset and then for `cfg_

[2022-11-23 14:51] andreaskurth commented on #16489
This seems to solve the problem with `wait_rom_check_done()` and `post_apply_reset()`, but now `read_and_check_all_csrs_after_reset()`, which is called just after `post_apply_reset()` returns
https://github.com/lowRISC/opentitan/blob/4fe90c677ad7cfeb9f7df4015f61d186a23dc36e/hw/dv/sv/cip_lib/seq_lib/cip_base_vseq.sv#L731-L744
fails because at that time the CSRs no longer have their reset value.

[2022-11-23 15:12] andreaskurth commented on #16489
To summarize, when `apply_resets_concurrently()` returns, we don't know whether all `rst_n`s are already high again or still low -- we could be hundreds of cycles of the positive edge of `rst_n`, see waves above.

This means `post_apply_reset()` must be able to handle both cases, which could be realized as follows:
[code]

Second, it means `read_and_check_all_csrs_after_reset()` must only be calle

[2022-11-23 15:13] andreaskurth commented on #16489
CC @msfschaffner

[2022-11-23 15:18] drewmacrae opened #16543 "Issue setting pll in CI"
Alexander Williams
"  [1:22 PM](https://opentitan.slack.com/archives/C0321T83Y04/p1669141330726729)
It looks like one of the boards in CI might be in need of a kick:
2022-11-22T18:14:38.8985184Z [0mError: PLL programming failed: CDCE906 write error: 3
"

[2022-11-23 15:24] drewmacrae commented on #16543
The set-pll step is flaky and appears to fail in a small set of cases

[2022-11-23 15:26] drewmacrae commented on #16543
In each case it's more than 3m into testing so we can be confident it isn't due to a rapid attempt to set-pll after reset (we do see an issue but that's when it's done after less than a second)

[2022-11-23 15:27] jprendes commented on #16543
Failure logs:
[here](https://dev.azure.com/lowrisc/opentitan/_build/results?buildId=103532&view=logs&j=235242a5-09d5-5a5d-1aef-2327d25103b7&t=586edf67-74b1-55d6-54e3-93b6515d7956&l=100)
[code]

[here](https://dev.azure.com/lowrisc/opentitan/_build/results?buildId=103334&view=logs&j=235242a5-09d5-5a5d-1aef-2327d25103b7&s=96ac2280-8cb4-5df5-99de-dd2da759617d&t=586edf67-74b1-55d6-54e3-93b6515d7956&l=

[2022-11-23 15:30] drewmacrae commented on #16543
Happened on frank-51203120375053503230333236313039
visible here https://dev.azure.com/lowrisc/opentitan/_settings/agentqueues?agentId=1187&queueId=37&view=jobs

and
on frank-51203120375053503230343234313034
https://dev.azure.com/lowrisc/opentitan/_settings/agentqueues?agentId=1189&queueId=37&view=jobs

[2022-11-23 15:35] drewmacrae commented on #16543
These two occurrences happened after a run of the JTAG tests and of the Test Rom tests, so if it's something about the previous test locking up the i2c bus, it's not dependent on a specific type of test.

[2022-11-23 16:00] andreaskurth commented on #16489
`tb.dut.top_earlgrey.u_kmac.u_msgfifo.u_packer.DataIStable_M` fails because the ROM in `rom_ctrl` changes its output even though its address is constant, and this data is connected to `app_i[2]` of KMAC:
![2022-11-23T15:59:13+00:00](https://user-images.githubusercontent.com/3583291/203592157-fa26fee8-fa0c-4e06-be29-36c5afafd663.png)

Could it be that some background manipulation of the ROM is acti

[2022-11-23 17:03] abdullahvarici commented on #16457
I have run the test with 15 seeds and it passed all of them. I also checked the log file and the codes. 2 of the 16 words do not have ECC errors with `--build-seed 3908033694 --fixed-seed 2459178159`. It is very low probability this to be happen but it is possible. I think we can ignore it. What do you think?

[2022-11-23 18:16] alphan opened #16547 "[bazel, ci] Cached flow breakages can be missed if a PR does not use it"
Noticed while investigating the fallout from #16221. I'm not sure if we can hit this the other way but at least we can try running the cached flow if we build the bitstream fully to try to protect against half of the possible issues.

[2022-11-23 19:42] jesultra opened #16549 "Hardware assisted UART -> USB forwarding"
Before OpenTitan, Google has been using internally developed Security Chips, and has recently chosen to use Rust and TockOS as basis for the firmware on those chips.  TockOS discourages performing device driver logic in interrupt handler context, as doing so necessarily means that Rust security guarantees cannot be verified by the compiler.  Most device drivers use "bottom half" handlers exclusive

[2022-11-23 21:49] matutem commented on #16384
The window of time during which inconsistencies are tolerated is large, so we probably need to re-examine the RTL from the point of view of protection from tampering with resets. We may want to model some of the clock ratios in the device via the specialized dv environment to determine the actual delays, and jitter should also be factored in.

[2022-11-23 22:52] jesultra opened #16553 "Unreliable SPI programming"
I attempted to use an UltraDebug device to communicate with the ROM bootloader for SPI flashing, but was unsuccessful.

Looking at the analyzer traces, it is not clear to me what makes the difference, as I see the same SPI data going back and forth.  I see that the UltraDebug has little to no time from chip select being asserted to the clock starts toggling.  I do not know if the FPGA hardware nee

[2022-11-23 22:59] a-will commented on #16553
Generally-speaking, this is always the case, for any SPI flash device. However, it appears any paths related to CSB are not actually constrained in the FPGA build, so I couldn't say what the requirement is. Something to fix up...

[2022-11-24 09:26] marnovandermaas commented on #15748
I think this work has been completed.

[2022-11-24 09:26] #15748 closed

[2022-11-24 09:34] engdoreis commented on #16457
I agree, it passed again in the last nighlty.

[2022-11-24 09:35] johngt commented on #16423
@GregAC
Last nightly showed
[code]

[2022-11-24 09:38] shareefj opened #16555 "Understanding bazel fusesoc rules"
Hi there,

this is more of a question than an issue against OT.  I've been looking at how you've integrated fusesoc into your bazel flow and had a question.

In my use case I'm trying to integrate gRPC with Verilator so am trying to work out the best way to compile the project as a whole.  My understanding of your Verilator flow is that you don't have any external dependencies so all your CPP file

[2022-11-24 10:23] #15743 closed

[2022-11-24 11:42] ballifatih opened #16556 "[sw, bazel] Passing `-fno-strict-aliasing` to SW targets"
This is a spin-off from the thread https://github.com/lowRISC/opentitan/pull/16180#discussion_r1030827224.

Some parts of crytpolib (at least KMAC) are implemented in a way that they violate memory aliasing. There is an ongoing work to address this soon, but at the moment these violations slip by without any warning and they might break at some point. @dmcardle suggested that we can pass `-fno-str

[2022-11-24 11:49] marnovandermaas commented on #16402
After having merged this PR: https://github.com/lowRISC/opentitan/issues/16430
I think we can close this issue. Closing V2S is now tracked here: https://github.com/lowRISC/opentitan/pull/16517

[2022-11-24 11:49] #16402 closed

[2022-11-24 11:50] marnovandermaas commented on #11041
We have been able to get the coverage above 90%. The check off of V2 is tracked here: https://github.com/lowRISC/opentitan/pull/16517

[2022-11-24 11:50] #11041 closed

[2022-11-24 14:33] vogelpi commented on #15746
Let's close this. All additional work has been done. The biggest item disable/re-enable testing was covered by a seperate issue.

[2022-11-24 14:33] #15746 closed

[2022-11-24 14:54] dmcardle commented on #16556
Thanks, @ballifatih!

I'll add that it's probably a good idea to compare binary size before and after adding `-fno-strict-aliasing`.

I'm assigning myself so this doesn't slip through the cracks, but if anyone wants to prioritize it, feel free to steal it and assign yourself.

[2022-11-24 14:56] vogelpi commented on #16516
Thanks for filing this @marnovandermaas and @ctopal . I agree with you, we should discuss how the RTL should behave and then also verify that. I don't think any of this is super critical for ES but it seems that there is at least the need for some clarification. Maybe it's all about aligning the documentation, maybe some RTL changes should be done. It would be best to discuss this with @mwbranstad

[2022-11-24 15:46] ballifatih opened #16558 "[crypto, otbn] Speeding up Montgomery constant calculations"
@JPulkus has proposed some ideas during our crypto meeting for speeding up the algorithm that we use to compute some constants for Montgomery arithmetic, and I think we can use this PR to have a more broader discussion on that.

I think it will take some time for me to get the full context here and also ramp up on OTBN, but here is my understanding so far:
  * The so-called algorithm computes `R^2

[2022-11-25 02:59] gzyangcs opened #16562 "Flow error that dc is unsupported for job runtime extraction"
I ran a dc synthesis flow but dvsim gives report below.
The command i ran is "./util/dvsim/dvsim.py -t dc hw/top_earlgrey/syn/chip_earlgrey_asic_syn_cfg.hjson --purge --local" , which found at readme "OpenTitan Synthesis Flow".

[code]

Below is build.log

[code]

I saw the issue #16295 and  tried the fixes proposed in #16501 , but it's not work for me.

[2022-11-25 09:07] vogelpi opened #16563 "[csrng] Pushing to genbits FIFO command stage without taking into account full and ready signals"
During the V2/V2S work, @andreaskurth noted that the `full_o` and `wready_o` signals of the genbits FIFO inside the command stages of CSRNG (`csrng_cmd_stage.u_prim_fifo_genbits`) are not taken into account when pushing to the FIFO. In case the FIFO is indeed written when full, a `sfifo_genbits_err` is generated and a fatal alert is triggered.

At the moment, there are no issues with that but it m

[2022-11-25 09:24] vogelpi opened #16564 "[csrng] Should we remove some I/O muxes?"
During the V2/V2S work I noticed that inside CSRNG there are two muxes that are potentially problematic for FI and I was wondering if we should do something about them.

The first one is on the genbits output to the software interface and the command stages:
https://github.com/lowRISC/opentitan/blob/12c8613ab849d256aea590f0a509166193d3b2b0/hw/ip/csrng/rtl/csrng_core.sv#L971

The problem I see with

[2022-11-25 09:42] vogelpi opened #16565 "[dv] Bias in randomization of MuBi values"
During the V2/V2S work for CSRNG, it occurred to @andreaskurth , @marnovandermaas and me that there is bias when randomizing MuBi signals in DV (see also https://github.com/lowRISC/opentitan/pull/16531#discussion_r1029937898). For example, when using
[code]
or
[code]
or
[code]
we seemed to get ratios of  `MuBi4True` / `MuBi4False` of ~1/15 or ~1/20 wit Xcelium.

Due to a lack of time we didn't fur

[2022-11-25 09:49] vogelpi commented on #15789
During the work for V2 and V2S @andreaskurth has updated the documentation of all three blocks to document how the disable/re-enable sequence is supposed to work.

In addition, issues to verify the disable/re-enable feature for EDN #16429 and entropy_src #16431 for V3 have been filed. For CSRNG, the feature has already been verified as part of V2/V2S (see #16430). I am thus closing the issue but f

[2022-11-25 09:49] #15789 closed

[2022-11-25 10:40] vogelpi commented on #15947
Actually, we ended up testing this as part of V2/V2S. IIRC @marnovandermaas implemented this. The `csrng_alert` test now also writes invalid commands and ensures the main FSM signals a recoverable alert and halts. The test then disables/re-enables CSRNG to push in another command. So this is actually done and I am thus closing the issue.

We have now filed a follow-up issue to define what the corr

[2022-11-25 10:40] #15947 closed

[2022-11-25 10:50] vogelpi commented on #15561
This is something we should still consider for D3. The required DV components are now there. Removing these additional FIFOs would save 5 - 6.5 kGE for ES.

[2022-11-25 11:21] vogelpi commented on #15894
The exact same question cam also up during the work for CSRNG V2/V2S (#16516). And I think there are two different questions to answer here:
1. What should EDN do in case it gets a `csrng_rsp_sts` error signaled from CSRNG?
2. When should CSRNG signal a `csrng_rsp_sts` error to SW/EDN?

The second question is probably better discussed in #16516 which gives some more context. I am thus removing the

[2022-11-25 11:28] GregAC commented on #16423
@johngt fixed by https://github.com/lowRISC/opentitan/pull/16566

[2022-11-25 11:34] vogelpi commented on #16516
I just noted that the same question was brought up by @cindychip for EDN in #15894:

@mwbranstad explained

and @tjaychen agreed

To not disturb things further, we can leave the interrupt and also add the fatal indication.
What do you think?

In general, my feeling is that fatal errors should not be factored into the sts error signal. Because these are a very strong indication of an attack going o

[2022-11-25 12:29] johngt commented on #14132
Just wondering how the progress is on this @ariel9678 ?

[2022-11-25 12:31] johngt commented on #14816
@yehuda-bejar - tagging due to the failed nightly. This failed last night's run as well.
How is progress on this?

Error report captured below:
[code]

[2022-11-25 13:26] vogelpi commented on #16203
Thanks for filing the PR @marnovandermaas .

Regarding No. 2:

I think this is exactly what Mark meant: Only 3 bits may actually be used today. But 4 bits are claimed/reserved by the specification. Bit No. 4 is ignored at the moment but future versions may use it. In the current version, behavior is undefined if Bit No. 4 is set. We've agreed that no no further action is required for this one.

I

[2022-11-25 13:26] #16203 closed

[2022-11-25 13:57] johngt commented on #15947
Modified to M2 given that this was closed out. Follow up issues remain post M2

[2022-11-25 15:33] a-will commented on #14816
The PR fixes the issue and a few others. I was waiting for a review from a DV resource before merging.

[2022-11-25 16:02] vogelpi commented on #13342
I have also come across this and spent quite some time to reverse engineer the order in which bytes need to be fed to CSRNG and in which order they can be retrieved from the GENBITS and INT_STATE_VAL registers. The information in this issue and in the CSRNG testutils were useful. I've now filed a PR to add a section about this to the CSRNG documentation: #16568

[2022-11-25 21:35] GregAC opened #16572 "[dv] More targetted FI testing for hardened FSMs and coverage"
The current testing for hardened FSMs is standardized and just blindly injects a fault whilst some standard sequence is running.

There are a couple of issues with this:

1. The sequence may not be exploring all parts of the functionality of the block, so in particular some FSM states may simply never occur
2. On any given cycle some states may be considerably more likely than others

As a result

[2022-11-25 21:36] GregAC commented on #16572
@sriyerg @cindychip @weicaiyang @msfschaffner @cdgori @vogelpi @tjaychen what are your thoughts?

[2022-11-25 22:35] vogelpi commented on #16572
Thanks for starting the discussion @GregAC , I think this is relevant and we should indeed go into that direction for V3. Your approach of waiting for a specific state to occur before injecting a fault is exactly what we do in AES. Sidenote: AES has three redundant copies of every FSM (multirail) to extend the FI hardening beyond the FSM state register to combinatorial signals and the interplay of

[2022-11-28 10:50] engdoreis commented on #16457
This is test is failing more than expected, so I'm investigating it.
|     | Tests                                                          |   2022-11-27 08:09:15 |   2022-11-26 08:09:18 |   2022-11-25 08:08:49 |   2022-11-24 08:12:13 |   2022-11-23 08:13:17 |   2022-11-22 08:08:19 |   2022-11-21 08:11:59 |   2022-11-20 08:10:00 |   2022-11-19 08:10:46 | Suite                         |
|----:|:--

[2022-11-28 11:12] engdoreis commented on #13543
Update: The PR #16259 is waiting review and will close this issue when merged.

[2022-11-28 12:06] johngt commented on #14111
WIP branch - https://github.com/andreaskurth/opentitan/commits/chiptest_i2c
@andreaskurth / @vrozic

[2022-11-28 12:12] johngt commented on #16444
@msfschaffner / @moidx this is currently tagged as an M2 task. Should this be moved to Post M2 / M3 for now?
If needed for M2 then we will need to address this promptly.

[2022-11-28 14:02] drewmacrae opened #16574 "Bitstream loading fails in a small number (<1%) of attempts on OpenTitanTool"
This may be related to timing as I see it when my workstation is particularly busy:

[code]

We're more likely to see it when we mix rom and test-rom tests or otherwise increase the number of bitstream loads.

[2022-11-28 15:29] drewmacrae opened #16576 "//sw/device/tests:rstmgr_alert_info_test_fpga_cw310_test_rom fails if run in isolation"
I'm seeing persistent failures on a test that's passing in CI after reloading bitstreams and resetting the sam3a o the CW310.

[code]
...
[code]

[2022-11-28 15:38] alphan commented on #16556
I'd prefer not adding this flag and instead treating current strict aliasing violations as bugs and fixing them. Having this flag will potentially hide issues. Also, if our exit criteria is not clear then we will probably hesitate to remove it.

cc @arunthomas @cfrantz @moidx

[2022-11-28 16:22] drewmacrae commented on #16576
I can reproduce on my FPGA and will be able to presumably until I find something that clears the state. I haven't been able to try a hard power cycle of the FPGA or pressing USR_RESET.

I hit this by running a full suite of tests:
[code]

[2022-11-28 16:23] drewmacrae commented on #16576
@dmcardle PLMK if there are more details I should include or things I should try

[2022-11-28 16:31] dmcardle commented on #16576
Can you describe in more detail what makes this different than a regular broken test?

I reproduced this failure locally, then I tried running a sibling test right after and that passed (`//sw/device/tests:rv_core_ibex_rnd_test_fpga_cw310_test_rom`).

[2022-11-28 16:34] drewmacrae commented on #16576
Many other tests pass on my cw310, but this test continues to fail even when checking out: 5af4ad37777f38efc31c579efce649dddaa2541b and rerunning (which passed in batched CI on a rolling build/test)

Somehow my cw310 is different from the ones in CI and remains so through SAM3 resets and bitstream loads.

[2022-11-28 17:17] dmcardle commented on #16556
In my experience, neither clang nor gcc are forthcoming about strict aliasing violations, even with `-Wstrict-aliasing`. For example: https://godbolt.org/z/vhnoWoMGo .

I agree that we should not sweep strict aliasing bugs under the rug. If we don't want to use `-fno-strict-aliasing`, then I think we need a plan for detecting these bugs. Maybe the right compiler flags would do the trick, or maybe

[2022-11-28 17:40] drewmacrae commented on #16576
It's still failing so I can generate and get a whole log again:
[code]

[2022-11-28 17:41] drewmacrae commented on #16576
Looks like it fails in round 3

[2022-11-28 18:07] #13342 closed

[2022-11-28 18:08] mdhayter commented on #16549
It may be possible to use the UART fifos instead of the USB buffer. More like the way the "usbuart" is done. The fifos would be presented as an additional endpoint. There would need to be a bit of work done to make the number of edpoints seen by the bottom half of the usb be more than the stuff that controls the buffer, but I think that would be less tricky than having to find a way to get the UAR

[2022-11-28 18:49] jesultra opened #16579 "I2C clock stretching, need interrupts"
The TPM protocol via I2C make use of request-response interactions, that is, the AP may do a one-byte I2C write to ask for the content of a particular "register", and then do a multi-byte I2C read to retrieve the bytes.  It may read fewer than the full contents of the register, before doing another I2C write to request another register.
In order to avoid bytes left in the TX FIFO from being errone

[2022-11-28 18:50] jesultra commented on #16444
In my opinion, this is a "nice-to-have" feature, not worth rushing through.  I would much rather have efforts towards e.g. issue #16579, as that one seriously impacts Ti50 development.

[2022-11-28 18:57] jesultra commented on #8769
This has been done a long time ago.

[2022-11-28 18:57] #8769 closed

[2022-11-28 18:58] jesultra commented on #10889
Final PR has merged a long time ago.

[2022-11-28 18:58] #10889 closed

[2022-11-28 19:05] msfschaffner commented on #16444
This is something we need feedback from @tjaychen, since he did most of the design updates for M2 in I2C.

[2022-11-28 19:42] drewmacrae commented on #16406
I'm fairly certain that git bisect run updates good/bad ptrs as it goes except if you tell it to skip.

[2022-11-28 20:00] sriyerg commented on #16562
The `dc is unsupported for job runtime extraction` is a benign warning that can be ignored. The real issue appears to be elsewhere. Perhaps there is a syntax error in one of your fusesoc core files?

Please see these warnings:
[code]

And this error:
[code]

[2022-11-28 20:46] #16295 closed

[2022-11-28 20:52] dmcardle commented on #16406
I believe that `skip` is sticky, just like `good` and `bad`. If you start a bisect session and run a script that skips all the commits it sees, a second `git bisect run` is doomed to fail because git won't retry the previously-skipped commits. This means users would have to do a bit more than `git bisect run $FAST_CMD && git bisect run $SLOW_CMD`.

I wrote a little script that seems to confirm thi

[2022-11-28 21:16] drewmacrae commented on #16406
huh, gross...

To avoid re-implementing bisection, could you write a log, edit it and replay it without the skips to establish only the goods and bads in preparation for a slow command?

[2022-11-28 21:34] timothytrippel commented on #16553
when you say "unreliable SPI programming" do you mean that sometimes the programming succeeded?

[2022-11-28 21:34] timothytrippel commented on #16553
CC: @alphan

[2022-11-28 21:42] dmcardle commented on #16406
That's certainly a strategy we could use! I think I'd prefer to keep the sessions separate, though, so the conditions under which each commit passed/failed are clear. (AFAIK, Vivado builds are not truly hermetic, so a cached bitstream at commit C is not necessarily equivalent to one built locally with `--define bitstream=vivado`.)

I'm imagining that the tool would execute `git bisect run $FAST_CM

[2022-11-28 21:45] ballifatih commented on #16558
I spent some time digesting [the algorithm that uses Newton's method](http://marc-b-reynolds.github.io/math/2017/09/18/ModInverse.html) to more quickly compute the multiplicative inverse of an odd number modulo 2^k.

Let me briefly explain the difference between the plain algorithm (the one implemented in our repo), and the faster algorithm (with Newton's method). Both algorithms compute the inver

[2022-11-28 23:47] msfschaffner commented on #16519
This appears to be a bug in the CSR layout, hence we can fix this right away as part of M3.
There should be no DV impact since it neither removes nor adds a new feature.
The DV environment and DIFs should pick up the bit index change automatically.

[2022-11-28 23:51] a-will commented on #16579
That's actually not how that feature was intended to be used. In the current form, STOP_TX should only be set _after_ receiving the read command, for correctness. It sounds like your code is speculating that it can prepare data for a future, expected read command and is committing an error. I do see the attempt to avoid the currently unavoidable latency, though.

Thus, it sounds like this isn't ac

[2022-11-29 00:57] matutem opened #16586 "[dv/prim_mubi*_sync] Improve coverage closure support"
For V3 we need 100% coverage, and it will be desirable to reduce the need for explicit coverage exclusions.

There are two cases that can be improved in prim_mubi*sync:
- When instantiated with AsyncOn == 0 and the clk_i and rst_ni inputs are tied to constant both OutputDelay_A and OutputsKnown_A concurrent assertions never fire because the clock doesn't tick. We could make them non-concurrent, as

[2022-11-29 01:01] eunchan commented on #15107
Hum.. maybe no need of syncing reset from core clock side to create the TCK side reset. Just passing two posedge of TCK should be fine as no matter how fast TCK is (usually slower though), always core_clk side is reset first then the synced pointers will arrive.

As long as TRST_N holds the reset for long enough (to cover the 2 TCK + 2 core_clk), any intermediate pointer values will be ignored.

A

[2022-11-29 01:07] msfschaffner commented on #16576
Technically you are right about the spurious alerts when the ping timeout is set to a very low value, @a-will. But based on the test description, we should not get spurious alerts in phase 3 since the test does not reduce the ping timeout value before phase 4.

In order to further debug this, can you try to read and print out the FAULT_STATUS CSR inside the flash_ctrl right before resetting?
https

[2022-11-29 01:23] msfschaffner commented on #16586
For the first one, we should probably just connect the clocks/resets. We have other modules that just pull in the clock/reset for the SVA, so this would be nothing new...

[2022-11-29 01:30] msfschaffner commented on #16586
For the second one: we can probably replace the `prim_clock_mux2` primitives since they are not strictly necessary. I.e., the input signals `mubi_q[k]` and `sig_unstable_buf` come out of a constrained buffer or reg, and the output `mubi[k]` goes through a constrained output buffer again - hence we do not loose any constraints by doing that.

[2022-11-29 01:39] msfschaffner commented on #16533
also CC @moidx

[2022-11-29 01:59] msfschaffner commented on #15033
SW side is coming in this PR here: https://github.com/lowRISC/opentitan/pull/16578

[2022-11-29 03:33] msfschaffner commented on #16489
In order to address the first issue regarding the determination of whether `kmac` is still in reset: should we change the  condition used inside `wait_for_rom_check_done()` so that this becomes simpler and less flaky? For example, we could read the `DIGEST` register in `rom_ctrl` instead and check whether any of the words are set to a non-zero value:
https://github.com/lowRISC/opentitan/blob/b7d51

[2022-11-29 04:23] a-will commented on #16533
Does it need fixes similar to #16518 perhaps? The log messages don't match up.

[2022-11-29 06:09] GregAC opened #16588 "[dv, alert_handler] Low FSM coverage in esc_timer and ping_timer"
We are missing transitions to the error state from most states in the esc_timer and ping_timer FSMs.

This occurs as the testing for standardized countermeasures runs with a sequence that isn't stimulating the use of these state machines. Further more the state machines are likely to spend far more time in one or two states vs all the others so with purely random stimulus of countermeasures that w

[2022-11-29 06:10] GregAC commented on #16588
@cindychip @tjaychen any thoughts?

[2022-11-29 06:12] GregAC commented on #16572
There's a similar issue with transitions to the error state caused by other countermeasures being triggered: https://github.com/lowRISC/opentitan/issues/16588 against we're not seeing many of these transitions due to the way we test the countermeasures.

[2022-11-29 07:40] johannheyszl commented on #16558
Thanks @ballifatih and @JPulkus. This is interesting and elegant.
However, due to the small impact on overall performance, we need to put it into the backlog for now and revisit at a later time.

[2022-11-29 10:07] shanshuixiangyi opened #16590 "Scoreboard"
It‘s a nice project to study uvm. I'm confused about scoreboard only read registers do check mirror with dut value. Why we don't check register vaule in both write and read time ?

[2022-11-29 11:08] mundaym opened #16591 "[otbn] OTBN smoke test fails to build with Verilator 4.228"
The following error was seen when trying to update to Verilator 4.228 (#16460).

[code]

[2022-11-29 12:10] andreaskurth commented on #16572
I think randomly picking a value from the state enum (to select the state to wait for) and then randomly waiting some cycles could make FI tests more directed to achieve sufficient coverage. I don't know if this can be generically implemented in SystemVerilog, but at least it should be generatable automatically. The randomization bounds for the number of cycles to stay in a state before injecting

[2022-11-29 15:30] drewmacrae commented on #16576
I didn't understand that the test is broken for anyone else that hadn't fuzzed their FPGAs by running tests with weird timing issues affecting host interactions.

I thought I'd done something to make this start failing and that rolling back code couldn't rescue it for some reason.

[2022-11-29 15:53] cindychip commented on #16588
Hey Greg,
Thanks for filing the issue. I think for any non-idle to Error state, since the error is created by standard countermeasure, we have FPV testbench to verify it will always trigger fatal alert.
I think it is safe to exclude non-idle to Error state for V2S. Do you have any concerns?

[2022-11-29 16:17] cindychip commented on #16588
Actually I think the exclusion file already excluded it: https://github.com/lowRISC/opentitan/blob/master/hw/ip_templates/alert_handler/dv/cov/alert_handler_cov_excl.el
But maybe there are some RTL change that the checksum does not match anymore.
I can update that exclusion file.

[2022-11-29 16:59] jesultra commented on #16579
I am quite certain that the option of setting STOP_TX before the read transaction arrives was discussed when I requested this feature. (Or maybe it was only for STOP_ACQ, https://docs.google.com/document/d/1VvlgsJIGaHnSCflTKts9LULCaI-tC8czK4YB8eZSxG4/edit?disco=AAAALO0HbXk )

Anyway, as you say, the problem could be solved by not setting the "stop stretching" bit until the transaction is there.  M

[2022-11-29 17:06] jdonjdon commented on #14816
I will close this issue when regression passes.

[2022-11-29 17:20] a-will commented on #16579
Haha, yeah, I hear you. After @tjaychen took on fixing up the target mode, adding that interrupt got on our to-do list, but this is a good reminder why we _needed_ it! :smile:

[2022-11-29 17:49] marnovandermaas commented on #16572
I think this issue is quite important. To give a bit of context, while we looked at the FSMs in CSRNG and EDN, there were quite some intricacies in deciding what to do in illegal states and error states. For example:
- Having to go into error state when an illegal state is encountered and the module is disabled.
- Making sure that all output signals are tied off before going into the error mode.

[2022-11-29 17:51] vrozic commented on #14111
PR #15700 has been updated and it is now ready for review.
It has been tested using 10 seeds, and it passes in all cases.

[2022-11-29 17:52] marnovandermaas opened #16593 "[hw] Automatically add FSM asserts"
For CSRNG and EDN, I added asserts to make sure that error states are stable. These and possibly other asserts could be automatically added to a dedicated FSM macro, especially one that is aware of what is an error state.

The asserts that I am talking about are similar to the ones I added at the bottom of the files in this PR: https://github.com/lowRISC/opentitan/pull/16535/files

[2022-11-29 18:11] cindychip commented on #16572
1). For standard countermeasure test, currently implementation only covers Idle -> Error transition.
     If the IP wants to cover non-idle to Error state, you can use the hook: https://github.com/lowRISC/opentitan/blob/master/hw/dv/sv/cip_lib/seq_lib/cip_base_vseq__sec_cm_fi.svh#L15
   to implement the pre-conditions in order to hit non-idle to error states.

2). We also have FPV testbench that v

[2022-11-29 18:16] sriyerg commented on #16572
@cindychip and @weicaiyang can provide better context here, when we set up the sec cm testing framework, we did realize that any sparse FSM state to invalid state would be hard to cover while also having a common sec cm testing framework that works for ALL IP blocks. So we settled on the following course of action:

- Rely on the common testing framework in DV which only injects faults in the idle

[2022-11-29 18:20] arnonsha commented on #16440
I guess there are no more, or otherwise the tool would have found them, right ?
Anyway I don't believe we can modify the lib file. It is generated by PT and describes IF only.

[2022-11-29 18:21] jesultra commented on #16579
Yes, a single "transaction started" interrupt would suffice (rather than the two special-purpose ones I proposed), provided that the START entry is going on the ACQ FIFO **before** clock stretching of the address ack bit is stopped by software intervention.  I really hope that such an interrupt can make it into the first silicon.

[2022-11-29 18:28] jesultra commented on #16553
I use `opentitantool --interface ultradebug bootstrap` to attempt programming.  I assume its bootstrapping logic knows to wait for READ_SFDP, as basically only the back-end driver to issue SPI transactions differs between UltraDebug and HyperDebug (and the latter of course works.)
I do see the usual "Boot strap requested" banner when attempting programming with UltraDebug.  I think it could be int

[2022-11-29 18:31] tjaychen commented on #16411
just curious, wouldn't this get picked up through payload length or something?
ie, after we get the CSb rise, and software comes to look what was received and discover it's one byte short?

[2022-11-29 18:36] a-will commented on #16411
@tjaychen There is no payload for Sector Erase, though :)

[2022-11-29 18:44] eunchan commented on #15107
For the 2FF on both side, I think the approach is simpler and doable.
![image](https://user-images.githubusercontent.com/1192814/204618276-64011ff3-5d70-4ada-8d3a-83f4d48ff672.png)

The benefit is, inside `dmi_cdc`, we do not have to create four resets (2 for req, 2 for rsp).

[2022-11-29 18:52] #16457 closed

[2022-11-29 18:52] tjaychen commented on #16478
@jeoongp we might need to consider the suggestions from RI later on instead of waiving this path.
I worry if long term we accidentally remove the `mubi_sync` module, we may not realize there is a real violation here.

[2022-11-29 18:53] jeoongp opened #16594 "[SDC] Multiple clocks on PAD"
Is IOC6 dedicated on AST_EXT_CLK?

Two SDC commands seem to conflict as follows.
1.
set IO_BANKS [get_ports IOA*]
append_to_collection IO_BANKS [get_ports IOB*]
append_to_collection IO_BANKS [get_ports IOR*]
append_to_collection IO_BANKS [get_ports IOC*]

2. set AST_EXT_CLK_PIN IOC6

If IOC6 is not used for DIV2 or DIV4 clocks, I think we need to exclude IOC6 from IO_BANKS. Some CDC issues are cau

[2022-11-29 18:59] msfschaffner commented on #16594
Hm no I don't think it is dedicated. Normally, IOC6 is only used for PWM or some other GPIO - but when an external clock is needed, AST uses this pin as a clock input (the pin is connected to AST at the chip-level). So it can be used for both scenarios...

[2022-11-29 19:07] eunchan commented on #15107
One thing bothers me is, as the logics inside the FIFO uses async reset, there may be a timing issue. As soon as the reset is synced, the reset affects the pointers inside the FIFO without waiting the next posedge of CLK. Then the value is propagating to the consumer logic (which is not affected by the reset). If the path is on the critical path and the synthesis tool assumes the reset sync as a r

[2022-11-29 19:08] tjaychen commented on #14104
sorry what's the issue? i'm a bit out of the loop.

[2022-11-29 19:10] tjaychen commented on #16529
sounds good, thanks for the update. I think I keep on forgetting to include RMA in a ton of stuff.

[2022-11-29 19:16] jeoongp commented on #16478
Yeah I agree. I will take some experiments based on their suggestion. I will create a new ticket to track this.

[2022-11-29 19:16] tjaychen commented on #15561
yeah agreed, especially if such a fix does not cause existing DV churn.

[2022-11-29 19:19] tjaychen commented on #15894
but for random bits already generated and distributed to the EDN fifo's, wouldn't it be okay for them to continue distribution? I do agree though that `edn` could halt further requests / acks with `csrng` though.

I guess if we go down this route though, we need to do a check of the edn consumers to make sure that if the edn interface doesn't ack (because something has stopped due to errors upstre

[2022-11-29 19:37] tjaychen commented on #16564
this sounds good to me.
For the second one, I'm not convinced we need all the muxing. I was tracing where the entropy was being consumed, and it has a separate req/valid signal of some sort, so I don't know if we need more than lines `1249 and 1250`.

[2022-11-29 19:39] msfschaffner commented on #15107
Yeah that is the part that I tried to avoid by making a "simpler" CDC module that does not have pointer states. Let me set up a short meeting so that we can discuss the course of action this afternoon.

[2022-11-29 19:46] jeoongp commented on #16594
I will also ask this question to RI.

[2022-11-29 19:48] matutem commented on #14164
The non-SVA failure should be fixed by #16554. Closing this.

[2022-11-29 19:48] #14164 closed

[2022-11-29 19:51] tjaychen commented on #16444
@jdonjdon

[2022-11-29 19:52] tjaychen commented on #16411
Ah, thanks for the clarification.

[2022-11-29 19:52] #16519 closed

[2022-11-29 19:54] msfschaffner commented on #16594
@jeoongp do you mind posting the error message related to this?

[2022-11-29 19:56] tjaychen commented on #15107
sounds good, thanks for setting up the meeting.
I'll also be there in person tomorrow, if you guys want to do that. Both are okay with me.

[2022-11-29 20:00] jeoongp opened #16595 "[CDC] To run RI script to resolve unrecognized signals from async_fifo"
Ri provided an interim script to resolve the async_fifo issue as below.
We need to run it to check if the async_fifo issue is resolved.

 === Issue description ====
We've been having some issues trying to figure out the best way to deal with a FIFO connection in our system that verixcdc does not seem to understand.

The diagram below shows the general situation.

![image](https://user-images.githu

[2022-11-29 20:07] a-will commented on #16549
Correct me if I'm wrong, but this isn't a true low latency requirement, is it? It seems like a simpler approach might be to increase the size of the UART buffers to cover the deferred work latency, for example.

If we were also concerned about CPU utilization for moving data, then we might need to think about accelerators, but it wasn't mentioned in the rationale.

[2022-11-29 20:19] jeoongp commented on #16478
I generated https://github.com/lowRISC/opentitan/issues/16595

[2022-11-29 20:28] jeoongp commented on #16594
![Screen Shot 2022-11-29 at 12 25 25 PM](https://user-images.githubusercontent.com/103145460/204640437-3bbe5997-da29-4011-a0c3-41240e013406.png)
![Screen Shot 2022-11-29 at 12 25 46 PM](https://user-images.githubusercontent.com/103145460/204640474-5833df22-50ae-49eb-a4b0-1336ee0335a7.png)

The tool seems to recognize AST_EXT_CLK as IO_BANKS group.

[2022-11-29 20:28] msfschaffner opened #16597 "[test-triage] Need for software reset at end of test in SRAM tests"
### Hierarchy of regression failure

Chip Level

### Failure Description

We should investigate why some SRAM tests need a software reset at the end of the test in order to not time out in DV simulations, see comment here: https://github.com/lowRISC/opentitan/pull/16259#discussion_r1034558860

CC @engdoreis @sriyerg @weicaiyang @cindychip

### Steps to Reproduce

[code]

### Tests with similar or

[2022-11-29 20:29] #13543 closed

[2022-11-29 20:34] tjaychen commented on #16594
the ast external clock i think eventually is divided down into various other clocks inside ast.
So it does find it's way to IO_DIV4 eventually for example.

Is that the violation you are seeing?

[2022-11-29 20:49] drewmacrae commented on #16576
Finding the first bad commit has been a bit of a journey, historical cw310 test bisection has a number of challenges which are discussed in #16406 and #15603

The action cache can hold state and hides it until I "bazel clean" which leads to tests run on a particular SHA (especially older ones) using arbitrarily old bitstreams.

I recall a test where we ran out of entropy and fired an interrupt lik

[2022-11-29 21:02] jeoongp commented on #16594
I think this ticket is a false alarm. ^_^
The CDC violation message shows two clocks in its info column. And, IOC6 is not found in paths associated with DIV2/DIV4 clocks. Tool seems to recognize it with SDC.

[2022-11-29 21:39] jdonjdon opened #16598 "i2c_target_intr : tx_nonempty goes low spontaneously."
step to reproduce:
ToT (or 943ada2193860db2db90439ae581bc9405336478)
cmd:
./util/dvsim/dvsim.py ./hw/ip/i2c/dv/i2c_sim_cfg.hjson -i i2c_target_tx_ovf -r 1 -v m -s 1 -w fsdb

result:
UVM_ERROR @ 1295618986 ps: ([i2c_base_vseq.sv:963](http://i2c_base_vseq.sv:963/)) [uvm_test_top.env.virtual_sequencer.i2c_target_tx_ovf_vseq] Check failed data == 1 (0 [0x0] vs 1 [0x1])

tb.dut.i2c_core.intr_tx_nonempt

[2022-11-29 21:43] jdonjdon opened #16599 "i2c_target_intr ; host_timeout interrupt back to '1' after it is cleaned."
use (https://github.com/lowRISC/opentitan/pull/16495)
run following.
./util/dvsim/dvsim.py ./hw/ip/i2c/dv/i2c_sim_cfg.hjson -i i2c_target_timeout -r 1 -v m -s 1 -w fsdb

result:
UVM_ERROR @ 270983647 ps: ([i2c_scoreboard.sv:470](http://i2c_scoreboard.sv:470/)) [uvm_test_top.env.scoreboard] Check failed obs.num_data == exp.num_data (6 [0x6] vs 13 [0xd])
 ignore this error mesagge for now.

@1144686

[2022-11-29 21:44] tjaychen commented on #16579
yes @a-will and i noticed an issue some time ago that the stop_clock features weren't very helpful because software has no way to know when it's happening (i have an issue somewhere).

As you say though, there is a problem with the currently re-worked target mode in that the place the clock stretching is done the entry does not get deposited into the ACQ fifo. I can't remember if I had intended to

[2022-11-29 21:45] jdonjdon opened #16600 "i2c_target_intr: ack stop triggers tx_nonempty"
use (https://github.com/lowRISC/opentitan/pull/16496)
run
./util/dvsim/dvsim.py ./hw/ip/i2c/dv/i2c_sim_cfg.hjson -i i2c_target_ack_stop -r 1 -v m -s 1 -w fsdb

ignore error, and see @77620204ps
'tb.dut.intr_ack_stop_o' and 'tb.dut.intr_tx_nonempty_o'

When ack_stop condition is hit, dut also set tx_nonempty interrupt too. Is this expected?

[2022-11-29 22:04] dmcardle commented on #15028
Hey @sriyerg, I've worked around caveat 1 from the previous comment by dropping the verbose `-d` flag from OpenOCD and adding some custom logging [[branch](https://github.com/openocd-org/openocd/compare/master...dmcardle:openocd:dmcardle/custom-logging)]. I think the issue was timing-related, and that by only logging what we want, we can squeak by under some threshold.

* [rom_e2e_debug_test_otp_r

[2022-11-29 22:27] jdonjdon opened #16603 "[test-triage] coremark test timeout"
### Hierarchy of regression failure

Chip Level

### Failure Description

 UVM_ERROR @ 22028.580270 us: (chip_sw_base_vseq.sv:236) uvm_test_top.env.virtual_sequencer [uvm_test_top.env.virtual_sequencer.chip_sw_base_vseq] SW TEST TIMED OUT. STATE: SwTestStatusInTest, TIMEOUT = 22000000 ns

### Steps to Reproduce

- GitHub Revision: [5af4ad377](https://github.com/lowrisc/opentitan/tree/5af4ad37777f3

[2022-11-29 23:03] eunchan opened #16604 "[test-triage] chip_sw_aon_timer_irq"
### Hierarchy of regression failure

Chip Level

### Failure Description

0.chip_sw_aon_timer_irq.3383118308
Line 493, in log /container/opentitan-public/scratch/os_regression/chip_earlgrey_asic-sim-vcs/0.chip_sw_aon_timer_irq/latest/run.log

  UVM_ERROR @ 3863.306594 us: (sw_logger_if.sv:523) [aon_timer_irq_test_prog_sim_dv(sw/device/tests/aon_timer_irq_test.c:147)] CHECK-fail: Timer took 331 use

[2022-11-29 23:24] eunchan commented on #16604
@engdoreis I have one question here. The `aon_timer_irq_test.c` assumes the variation of the timer is 5%. Somehow the error hit the upper bound. Could you let me know where the 5% came from? Is it based on the code?

[2022-11-30 00:10] tjaychen commented on #16600
ah yes, if i'm understanding this correctly, this is somewhat orthogonal.
The `ack_stop` interrupt really is telling the software we encountered an unexpected stop condition during a read. It should be `nack-stop`, but we saw `ack-stop` instead.

This is independent from the `non-empty` interrupt, which fires whenever a `stop` is seen with data left over in the tx_fifo.
It looks like in this case

[2022-11-30 00:11] eunchan commented on #16604
Since `dif_aon_timer_watchdog_start()` does not lock the register sync, the max delay between the SW writes to the CSR and the tick start could be 5us. Also, the test assumes the cycle 62. But the real time with value `0x3e` is 63 cycles as the interrupt is latched to CSR first then generate. I will revise the test to account for one more cycle (`irq_time -1` )

[2022-11-30 00:20] msfschaffner commented on #16576
@drewmacrae just so I understand correctly: are you saying this may be caused due to SW running on an out-of-date bitstream, rather than an actual bug in the HW?

[2022-11-30 00:24] drewmacrae commented on #16576
Sometimes it is, sometimes it isn't.

There's a couple issues here I’ll split as soon as I understand them a little better.

[2022-11-30 00:32] eunchan commented on #16604
https://github.com/lowRISC/opentitan/pull/16606 has been created to address this.

[2022-11-30 01:51] sriyerg commented on #16004
Re-assigning this to myself - these are in progress now.

[2022-11-30 02:59] #13704 closed

[2022-11-30 07:18] sriyerg commented on #15028
To clarify, I have not yet modeled the GDB `call` functionality yet - I wanted to see what OpenOCD did first.

Thanks @dmcardle for the log. The first log was super helpful - the verbose debug level messages provided info at all levels of abstraction which helped me make sense of the sequence of events. For example, see these messages from the first log (this is the output of grep looking for very

[2022-11-30 09:33] ariel9678 opened #16611 "[adc_ctrl,doc] adc_fsm_rst register usage is not described in the programmers guide"
The sw needs to write to adc_fsm_rst register in order to clear the np_sample_cnt counter after interrupt is generated.

[2022-11-30 10:51] andreaskurth commented on #16593
Thanks @marnovandermaas, I think automatically adding some assertions on sparse FSMs could be valuable, at least for certain IPs. Were you thinking of something like this?
[code]
which could be used like this
[code]

Would this mean FPV could prove properties that it currently cannot?

[2022-11-30 11:31] marnovandermaas commented on #16593
Yes, I think that that is pretty much what I was imagining. As far as I know the current FPV does not provide this functionality, but it would be good for someone else to chime in on that topic.

[2022-11-30 12:36] johngt opened #16613 "[test-triage] chip_sw_rv_dm_access_after_wakeup - sporadic failures"
### Hierarchy of regression failure

Chip Level

### Failure Description

[code]

### Steps to Reproduce

- GitHub Revision: [5af4ad377](https://github.com/lowrisc/opentitan/tree/5af4ad37777f38efc31c579efce649dddaa2541b)
- dvsim invocation command to reproduce the failure, inclusive of build and run seeds:
  ./util/dvsim/dvsim.py hw/top_earlgrey/dv/chip_sim_cfg.hjson -i chip_sw_rv_dm_access_after_

[2022-11-30 12:38] johngt commented on #16613
Have observed this issue coming up 3 times in the last 15 reports.
IMO warrants further investigation.

|     | Tests                             |   2022-11-29 08:12:00 |   2022-11-29 08:03:55 |   2022-11-28 08:13:41 |   2022-11-27 08:09:15 |   2022-11-26 08:09:18 |   2022-11-25 08:08:49 |   2022-11-24 08:12:13 |   2022-11-23 08:13:17 |   2022-11-22 08:08:19 |   2022-11-21 08:11:59 |   2022-11-20

[2022-11-30 12:43] HU90m commented on #15679
The test has failed on one seed in the [2022-11-28 report](https://reports.opentitan.org/hw/top_earlgrey/dv/2022.11.28_22.03.58/report.html) with the same error described in https://github.com/lowRISC/opentitan/issues/15679#issuecomment-1315991274:

[code]

[2022-11-30 13:37] engdoreis commented on #16604
The test was developed using Verilator and the 5% came from testing on Verilator.

[2022-11-30 14:12] HU90m commented on #16613
They all fail at the same read back check.

[code]

[2022-11-30 15:01] johngt commented on #16423
All nightlies since Greg fixed this have passed.
Closing the issue as resolved.

|     | Tests                                |   2022-11-29 08:12:00 |   2022-11-29 08:03:55 |   2022-11-28 08:13:41 |   2022-11-27 08:09:15 |   2022-11-26 08:09:18 |   2022-11-25 08:08:49 |   2022-11-24 08:12:13 |   2022-11-23 08:13:17 |   2022-11-22 08:08:19 |   2022-11-21 08:11:59 |   2022-11-20 08:10:00 |   2022-1

[2022-11-30 15:01] #16423 closed

[2022-11-30 15:19] ballifatih commented on #16558
Let me add two more points from our offline discussions before I forget/lose them in my mailbox:

- What I missed during last week's discussion was that @JPulkus suggests this idea also helps to prevent the burden of storing this constant somewhere in NVM (or transmitting it to device). It might be an alternative solution, if we want to avoid storing these values in NVM.
- At the moment, minimizin

[2022-11-30 15:23] johannheyszl commented on #16558
thx.
Regarding storage: I had last assumed we either load the constant from NVM once or compute once, then store in OTBN SRAM? So load / transmit overhead is minimal?

[2022-11-30 17:17] tjaychen commented on #15227
@jesultra @a-will
can you guys have a look at this one and let me know if this is an option we have to get in?

@jdonjdon fyi

[2022-11-30 17:43] tjaychen commented on #14825
actually @jdonjdon were some of these items already addressed? do you want to update the description to be more accurate?

[2022-11-30 17:48] tjaychen commented on #16070
assigning to @ballifatih and @weicaiyang for now to update the testplan description, since it is left as "TBD" right now for what happens when an error occurs.

[2022-11-30 17:49] jdonjdon commented on #14825
This issues are only applied to "host mode' rtl test bench. Unfortunately none of these are addressed during recent "target mode" rtl verification.

[2022-11-30 17:52] tjaychen commented on #14825
do you think this is even worth fixing in V3?

[2022-11-30 17:53] tjaychen commented on #16276
Can someone remind us if the intent was to not verify this for ES and only for PROD?
That would be a reasonable approach in my mind.

[2022-11-30 17:55] tjaychen commented on #16206
@vogelpi let me know if you agree with the priority of this issue?

[2022-11-30 17:56] tjaychen commented on #16352
does a priority of P1 make sense to you guys?

[2022-11-30 17:57] jdonjdon commented on #14825
I am neutral at this point. Can we revisit after v2?

[2022-11-30 17:57] tjaychen commented on #15131
since this is actually only needed for multi-host, which we do not support, i'm kicking this to backlog.
Let me know if anyone objects.

[2022-11-30 17:58] eunchan commented on #16604
I see.. I thought the AON clock frequency is defined per target platform. anyhow, thanks for the explanation.

[2022-11-30 18:15] jesultra commented on #16579
The feature is actually quite close to being useful to me, even absent interrupts.  The reason being that e.g. the STOP_TX bit can be set ahead of the transaction being initiated on the bus.  So the typical mode of operation is going to be that whenever processing of the previous transaction completes, I set the STOP_xxx bit to allow the next one through, not needing to know if it is already waiti

[2022-11-30 18:21] vogelpi commented on #16206
Hey @tjaychen,
I think the changes for this are pretty straightforward. I thought to ask Vladimir to take care of this after the I2C TLT work. Ideally, it would be done next week. Or did you have something else in mind Tim?

[2022-11-30 18:33] matutem commented on #13248
Closing this, since these assertions are passing.

[2022-11-30 18:33] #13248 closed

[2022-11-30 18:39] #13935 closed

[2022-11-30 18:43] sriyerg commented on #16004
I will take the first 2, and @timothytrippel will take up the last 2.

[2022-11-30 18:50] msfschaffner opened #16616 "[rfc] V3 Review Process"
Document TBD, we should target a TC meeting mid December of early Jan.

[2022-11-30 19:11] milesdai commented on #16352
Yes, I can take this as a P1

[2022-11-30 19:16] msfschaffner commented on #16586
This can be closed since the items have been addressed in https://github.com/lowRISC/opentitan/pull/16587.

[2022-11-30 19:16] #16586 closed

[2022-11-30 19:25] matutem opened #16617 "[dv/tools] Use more recent VCS version"
VCS has fixed some coverage-related issues in 2022.06-SP1-1. These will be useful to help with coverage closure.

This can be fixed in both the internal Google tooling and agreed to by the partners.

[2022-11-30 19:33] tjaychen commented on #16206
that sounds good to me.
I was just trying to assign this a priority since it didn't have one. It sounds like P2 would be appropriate? As in, easy to do, not any imminent need, am i understanding correctly?

[2022-11-30 19:33] drewmacrae opened #16619 "Make installation of vivado tools (updatemem) a non-optional part of getting started to work on FPGAs"
As FPGA tests rely on a growing set of bitstreams it's become challenging to allow users to run FPGA tests without installing vivado tools to provide updatemem. We can run updatemem without purchasing or acquiring a license and can use it to perform necessary bitstream splices to construct a number of bitstreams necessary for FPGA tests.

We should also consider setting it up in all CI environment

[2022-11-30 19:34] drewmacrae commented on #16619
Currently the installation is marked as optional and we've discussed making it non-optional in slack but I'd like to track the issue more formally here.

[2022-11-30 19:38] drewmacrae opened #16620 "Proposal: Cache spliced bitstreams consistently in GCP bitstream cache"
We should figure out what we're doing with https://github.com/lowRISC/opentitan/issues/16619

In addition to the synthesized bitstream, we currently cache 1 spliced bitstream in GCP, we should consider caching all or none of them. This is related to and depends upon https://github.com/lowRISC/opentitan/issues/13807 but will let users testing software rely on updatemem more consistently.

[2022-11-30 19:42] sriyerg commented on #16572
Also. see issue https://github.com/lowRISC/opentitan/issues/14407 which tracks this to some extent.

[2022-11-30 19:53] dmcardle commented on #15028
OK, I tried another tactic to get the regular OpenOCD verbose log. I temporarily enabled debug logging just for `call uart_putchar('G')`. I also temporarily redirected the log output to a file. (For some reason, when I let it write the verbose log to stderr, the test hangs. Not really sure what's up with that.)

Here's the log:
* [rom_e2e_debug_openocd.log](https://github.com/lowRISC/opentitan/fil

[2022-11-30 20:38] tjaychen commented on #16579
sorry i need to summarize a bit, there are a lot of ideas flying around.

First off, my original plan was to add an interrupt for the completion of the address phase, and I am also adding #16605.

My assumption is that #16605 would clear out any "stale" contents, and the inclusion of the interrupt would let the software know when a new transaction has arrived.  In this scenario, either the new "ad

[2022-11-30 21:31] timothytrippel commented on #15337
Sorry for the delay, I just realized this issue was tracking the OTP image gen stuff for dvsim. Some updates, as part of addressing #14634 during the M2 sprint , I merged:
- #16052: which enabled passing the `--img-seed` and `--otp-seed` parameters to Bazel's OTP image generation rule (which simply invokes the OTP image generation Python script), and
- #16053: enables generating OTP images using B

[2022-11-30 23:22] jdonjdon commented on #16603
This issue is already created in #14330

[2022-11-30 23:22] #16603 closed