[2022-08-01 20:02] alphan commented on #2740
Yes, @eunchan's change [here](https://github.com/lowRISC/opentitan/pull/13914/files#diff-26cec7db5f770f90023fc546347a1a38a122ad8a2d4e29ea227a53efddf310ab) is basically what I had in mind.

[2022-08-01 20:10] msfschaffner opened #13939 "[rv_timer] D3 review opens"
- [x] Adjust the register layout to simplify the DIF (#2740, #13914)

[2022-08-01 20:21] #2740 closed

[2022-08-01 21:34] #13939 closed

[2022-08-01 23:18] #12954 closed

[2022-08-02 01:12] jeoongp commented on #13811
@tjaychen it's not merged due to a whitespace error in https://github.com/lowRISC/opentitan/pull/13739. I just fixed it.

[2022-08-02 01:18] jeoongp commented on #13806
This semi-static signal was already waived by another waiver.

set_rule_status -rule {W_MASYNC} -status {Waived}        \
  -expression {(Driver=~"*u_pinmux_aon.dio_pad_attr_*")} \
  -comment {PAD Attributes are static signals.}

These errors somehow showed up as a tool glitch but are not shown anymore now.
I've added a comment and this issue # in https://github.com/lowRISC/opentitan/pull/13739.

[2022-08-02 02:53] abhishek-elastics opened #13951 "[dvsim] How to enable the rerun feature?"
I see that there is a flag "--no-rerun" with the following description

    rung.add_argument("--no-rerun",
                      action='store_true',
                      help=("Disable the default behaviour, where failing "
                            "tests are automatically rerun with waves "
                            "enabled."))

I'm not seeing the default behavior of the tests being reru

[2022-08-02 03:02] sriyerg commented on #13951
The auto-rerun on failure feature does not exist (and there is no ETA on its enablement at this time). This switch is a stub for future enhancement. Please rerun failures with waves manually.

[2022-08-02 03:02] #13951 closed

[2022-08-02 03:17] abhishek-elastics commented on #13951
Gotcha! Thanks.

[2022-08-02 06:54] johannheyszl commented on #13769
@senelson7 I agree with @tjaychen that it would we interesting to understand the causes. Do you have more insight there?
@moidx will put the issue on this week's agenda of the security WG so we can talk about it more there.

For the causes that relate to attack attempts (as @tjaychen listed), it makes sense to keep the local escalation IMO.

[2022-08-02 07:40] Jacob-Levy commented on #13926
Missing curly brackets on 'scanmode' at 'prim_mubi4_sync'

[code]

[2022-08-02 07:44] Jacob-Levy commented on #13926
I suggest that we review all the instantiations of 'prim_mubi*_sync' for curly brackets...

[2022-08-02 13:04] johngt commented on #13847
Closing issue - as this is not a bug.

[2022-08-02 13:04] #13847 closed

[2022-08-02 13:06] johngt commented on #13334
Automated test case.
Integrate test case with OTBN.
Now marked as completed

[2022-08-02 13:06] #13334 closed, assigned to prajwalaputtappa

[2022-08-02 13:09] johngt commented on #13332
otbn_csr_rw test case that covers registers and memory countermeasures

[2022-08-02 13:09] #13332 closed

[2022-08-02 13:10] johngt commented on #13330
In open discussion with @GregAC and @vogelpi about this.
Specifically the countermeasure in discussion is OTBN.TLUL_FIFO.CTR.REDUN

[2022-08-02 13:11] johngt commented on #6188
@GregAC could you confirm whether this is still an active issue or if it can be closed out?

[2022-08-02 13:13] johngt commented on #11543
Standardised DV Test for loop counter.
PR pending.
https://github.com/lowRISC/opentitan/pull/13956

[2022-08-02 13:16] johngt commented on #11709
@prajwalaputtappa believes that this has now been resolved.
100% passing as of check 2 Aug 2022
@GregAC - it looks like we can close out this issue. Unsure of the PR that fixed this. Might want to tag PR before closing out.

[2022-08-02 13:18] johngt commented on #11545
@prajwalaputtappa : waiting on PR https://github.com/lowRISC/opentitan/pull/13956

[2022-08-02 13:28] johngt commented on #11540
@prajwalaputtappa : Test case exists that injects a fault into IMEM / DMEM

[2022-08-02 13:52] alphan commented on #13753
Yes, [here](https://github.com/lowRISC/opentitan/blob/fc9528c6775c9f568a1a341e0efeab33127f588d/sw/device/silicon_creator/lib/drivers/otbn.c#L110).

Yeah, but we assume that the HW will be at the idle state. We should be able to handle this by calling `otbn_is_busy()` before using OTBN.

[2022-08-02 14:04] alphan commented on #13634
IIRC we erase the owner flash when transitioning to RMA, can we erase any memories that we are worried about during that process? Are we concerned about the additional hardware this might require?

[2022-08-02 14:45] GregAC opened #13958 "[ibex, sw] Clarification of ePMP behaviour"
I wish to draw attention to the following rules in the Smepmp specification (https://github.com/riscv/riscv-tee/blob/main/Smepmp/Smepmp.pdf)

When `mseccfg.MML` is set:

These behaviors are not yet implemented in Ibex, an oversight on my part when I did the original implementation, see Ibex issues: https://github.com/lowRISC/ibex/issues/1740 and https://github.com/lowRISC/ibex/issues/1736

This wa

[2022-08-02 14:46] tjaychen commented on #13926
that sounds like a good idea. I'm curious as to why these did not show up when we did the xcelium prep though...
Do you have any thoughts @sriyerg ?

[2022-08-02 14:49] tjaychen commented on #13634
yes that's something we added to `otbn`.
So we filed this issue as a future enhancement to see if there are even more secure approaches.

[2022-08-02 14:56] tjaychen opened #13959 "[entropy_src] question on window count"
This came up while I was debugging a test.
Basically, the test incorrectly set the window_count to '0' instead of a sensible value.

This created a situation where the healthtest stuff was basically constantly bypassed.  I just wanted to double check that this is intended behavior and it's something software could do to effectively bypass the health tests.  Because if so, the software probably sho

[2022-08-02 14:56] tjaychen commented on #13959
@johannheyszl
@moidx
@timothytrippel

[2022-08-02 14:57] milesdai opened #13960 "[otp/testing] device_id being set randomly makes testing difficult"
I'm working on writing a test that ensures the MaskROM is checking the manifest usage constraints correctly against the hardware. This involves toggling the 4 selector bits in the manifest and testing each of the constraints. One of these usage constraints is the DEVICE_ID which is currently being set randomly in the OTP (e.g. https://github.com/lowRISC/opentitan/blob/master/hw/ip/otp_ctrl/data/ot

[2022-08-02 14:58] milesdai commented on #13960
@cfrantz @msfschaffner

[2022-08-02 14:59] timothytrippel commented on #13430
Since this is taking a little longer than expected, I wanted to share more details on what resolving this issue involves / the progress that has been made for transparency.

First, while this issue primarily states "passing Bazel arguments from HJSON cfg file to Bazel", it also implies (states in a follow up comment) that the goal run tests defined in the "manufacturere_test_hooks" Bazel repositor

[2022-08-02 15:28] prajwalaputtappa opened #13961 "[otbn, dv] Add testcase to verify OTBN.LOOP_STACK.ADDR.INTEGRITY"
Original effort estimate: 32

[2022-08-02 15:30] prajwalaputtappa opened #13962 "[otbn, dv] Add testcase to verify OTBN.CALL_STACK.ADDR.INTEGRITY"
Original effort estimate:

[2022-08-02 15:35] prajwalaputtappa opened #13963 "[otbn, dv] Verify OTBN.START_STOP_CTRL.STATE.CONSISTENCY"
Figure out what is OTBN.START_STOP_CTRL.STATE.CONSISTENCY and add necessary checkers and tests or stimulus generation for verifying it.
Original time estimate: 32

[2022-08-02 15:43] prajwalaputtappa opened #13964 "[otbn, dv] Verify SEC_WIPE countermeasures"
There are three SEC_WIPE pending countermeasures that need investigation+
OTBN.DATA.MEM.SEC_WIPE
OTBN.INSTRUCTION.MEM.SEC_WIPE
OTBN.DATA_REG_SW.SEC_WIPE

There is already a checker in the otbn_model.cc that ensures secure wiping is happening properly with two different random keys. Check if this is sufficient or additional checks or tests are required.

original estimation: 8

[2022-08-02 15:50] prajwalaputtappa opened #13965 "[otbn, dv] Verify OTBN.DATA.MEM.SW_NOACCESS"
Figure out what needs to be done for verifying OTBN.DATA.MEM.SW_NOACCESS and add necessary checks and TC.
Original effort estimate:

[2022-08-02 15:54] sriyerg commented on #13926
Interesting - I will take a look.

[2022-08-02 15:57] sriyerg commented on #13960
Fine with me - though lets keep this open until we re-randomize it in DV.

[2022-08-02 15:58] mundaym commented on #13634
This issue was briefly discussed in the software working group (2022-08-02). The consensus was to wait for suggestions from the hardware teams before discussing further.

[2022-08-02 16:00] mundaym commented on #13753
This issue was discussed in the software working group (2022-08-02). The consensus was that the current interface is sufficient.

[2022-08-02 16:13] #12332 closed

[2022-08-02 17:33] Jacob-Levy commented on #13926
Issue is still ongoing...

[2022-08-02 17:45] jeoongp commented on #13811
@tjaychen can you approve #13739? Once it's merged, we can close this ticket.

[2022-08-02 19:49] dmcardle opened #13968 "Automate early manufacturing steps to execute programs from SRAM"
In early manufacturing, we won't be read or write to flash yet. We need to define the steps to copy a program into SRAM and execute it.

PR #13383 adds an example SRAM program: `sw/device/examples/sram_program/sram_program.c`.

We need some machinery (Bazel, shell script, and/or opentitantool command?) to spin up Verilator or VCS, start OpenOCD, and then attach GDB. Then, we can use GDB commands t

[2022-08-02 20:26] mwbranstad commented on #13959
The answer is that this was not intended way to bypass health tests. At one time, there were explicit control bits to disable each test on an individual basis, but these were removed. Instead, it was deeded that the threshold values for a certain test would be increased to a very large value that, in effect, the test would be disabled.
This seems like a basic programming error. There are too many

[2022-08-02 20:29] tjaychen commented on #13959
sounds good. I should say that it wasn't exactly disabled, the logic just behaved like it was always working constantly.
But that sounds good, I just wanted to double check.  This is probably something software needs to pay extra attention.

[2022-08-02 20:29] #13959 closed

[2022-08-02 20:57] nmosier opened #13970 "`spi_device_cmd_get()` bug"
# `spi\_device\_cmd\_get()` Bug

### Overview

On July 12 2022, we found a potential fault injection vulnerability that could enable a classic stack buffer overflow in the [spi\_device\_cmd\_get()](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/lib/drivers/spi_device.c;l=654;drc=e7482d402bb5e6b5b9924e2dbcdc3a422b8f73ab) function ([spi\_device.c](https://cs.open

[2022-08-02 20:58] nmosier commented on #13970
Fixed in PR #13853.

[2022-08-02 20:58] #13970 closed

[2022-08-02 22:21] cindychip opened #13974 "[dv/otbn] chip level scramble test failure"
Hi Douglas,

I am looking at the `X` failure in otbn_scramble test, and have two questions to confirm with you:

1). Will `imem_sec_wipe` wipe out the actual i_mem to some random value or just the keys and some associated CSRs?

2). This is related to where the `X` generated:
     From the c test, looks like the test did the following things
     a). Randomly pick some imem and dmem to write.

[2022-08-02 22:39] tjaychen commented on #13465
seems like this one can be closed! feel free to re-open if you don't agree.

[2022-08-02 22:39] #13465 closed

[2022-08-02 22:43] eunchan commented on #13934
Both fixes have been merged. Let me close the issue. Thanks for the report!

[2022-08-02 22:43] #13828 closed

[2022-08-02 22:46] eunchan commented on #13595
OK. Let me revise the design to use hard-coded PREFIX (`encoded_string("KMAC") || encoded_string("")`) In this case the PREFIX value would be...

[code]

Not sure it should be `01 02 4B 4D 41 43` then padded with `00`. :( let me double check cSHAKE spec.

[2022-08-02 22:47] eunchan commented on #13497
HMAC has been reached to D3. Let me close this

[2022-08-02 22:47] #13497 closed

[2022-08-02 22:50] #2166 closed

[2022-08-02 23:21] sriyerg opened #13977 "[rv_dm] Intg error on d_data is ignored by rv_dm"
The `tlul_adapter_host` does not internally check intg error on d_data - it instead forwards it to an output port. It does check the intg error on other d_rsp fields.

In rv_dm, this port is unconnected, which means an intg error on d_data is completely ignored.

An easy fix would be to add a parameter to `tlul_adapter_host` which will be set to 0 by default. This parameter will enable intg error

[2022-08-03 00:24] weicaiyang commented on #13402
Closing as related tasks are done

[2022-08-03 00:24] #13402 closed

[2022-08-03 00:31] tjaychen opened #13981 "[sw/entropy_src] update entropy_src_smoketest"
the current entropy_smoketest is not very usable because it expects to see a deterministic output, which is completely contradictory to a random number generator.

To make this better, we should change the test to do the follwing:
- [ ] Have an entity consume entropy from entropy_src and make sure successive reads are actually different
- [ ] Probe the entropy_src state to make sure healthtests ar

[2022-08-03 01:35] Jacob-Levy commented on #13720
Final setup note from our IT guy
[code]

[2022-08-03 03:01] Jacob-Levy commented on #13926
It looks that the enum error is reported only when the cells, prim_mubi*_sync or lc_en_sync, are used as a synchronizer (AsyncOn being set to 1).

[2022-08-03 03:56] jdonjdon commented on #9546
@tjaychen , @weicaiyang
flash has directed test for this.
https://github.com/lowRISC/opentitan/blob/044b8e8cb9f2505d48870dbf697ba06cdfbd5e8d/hw/ip/flash_ctrl/dv/flash_ctrl_base_sim_cfg.hjson#L359

Test check whether dut can identify corruption of integrity check value or
mismatch of regenerated integrity check value with stored 4bit value during read operation.
Upon detecting integrity check fail,

[2022-08-03 07:36] andreaskurth commented on #13753
Thanks for the feedback! I am closing this as *not planned*.

[2022-08-03 07:36] #13753 closed

[2022-08-03 07:43] #11860 closed

[2022-08-03 10:51] Jacob-Levy opened #13985 "Separate the buffer and the syncronizer functions in prim_mubi*_sync and prim_lc_sync cells"
In order to eliminate lint issue and reduce complexity, it is suggested to remove the parameter AsyncON and add na new cells
prim_mubi*_buf and prim_lc_buf.

This will enable to bypass the enum error issue in Spyglass and the issue with Xecilum.

The current implementation when AsyncOn=0  only a buffer is generated and when the parameter is set to '1' a syncronizer
will be added.  These might crea

[2022-08-03 10:58] engdoreis commented on #13974
Hi Cindy,

Your analysis about the test design is accurate, but I would add an additional step.
   e) Expect an ECC error by checking whether an exception has occurred.

This was the original design of the tests, however Ibex/OTBN changed to trigger an internal interrupt in case of ECC error rather than an exception so I created the #13954.
But even though the test is passing just with Verilator (

[2022-08-03 13:56] jdonjdon commented on #13896
@vogelpi Did you have a chance to look at yet?

[2022-08-03 14:03] johngt commented on #7424
Tagging @andreaskurth to comment on latest status

[2022-08-03 14:32] andreaskurth commented on #7424
In progress in #13569.

[2022-08-03 15:30] tjaychen commented on #13896
adding a few others to comment.
This is probably related to how the wiping feature has been implemented.

[2022-08-03 15:43] rasmus-madsen commented on #13849
Im ok with this

[2022-08-03 15:51] tjaychen commented on #13896
@jdonjdon could you take a look at the signals [here](https://github.com/lowRISC/opentitan/blob/master/hw/ip/otbn/rtl/otbn.sv#L421-L440)?

It looks like the idea is that if we are in not the right state (other than lock), the read output should be blanked.
It looks like this condition is probably missing the secure wipe term, and only has the dummy / execution terms.

[2022-08-03 15:55] jdonjdon commented on #13896
I think so. The waveform I captured, the state was StatusBusySecWipeInt.

[2022-08-03 16:07] cindychip commented on #13974
Thank you so much for the explanation. And thanks for pointing to the fix.
Now I understand - you are expecting to see an interrupt when reading the re-scrambled memory, but in DV, the assertion error hits first because you are reading out `X` (uninitialized value)...

Just curious how you plan to resolve this issue?
Do you plan to initialize all the imem and dmem in step a), or find out a way to

[2022-08-03 16:38] andreaskurth commented on #13896
I tend to agree. I wanted to reproduce the problem and come up with a fix, but I get an `Identifier not declared` error when running `util/dvsim/dvsim.py hw/top_earlgrey/dv/chip_sim_cfg.hjson -i chip_jtag_mem_access -s 1 -r 1 -v m`:
[code]
Did I miss that something needs to be regenerated? Or is this a tool issue (I tried VCS)?

[2022-08-03 16:43] jdonjdon commented on #13896
@andreaskurth Looks like your xbar_peri_bind.sv is outdated
https://github.com/lowRISC/opentitan/blob/master/hw/top_earlgrey/ip/xbar_peri/dv/autogen/xbar_peri_bind.sv

[2022-08-03 16:43] tjaychen commented on #13896
hmmmm... that doesn't look good. We also use VCS as well. Let me take a look, i wonder if something on tip of tree brokoe.

[2022-08-03 16:54] weicaiyang commented on #13849
Thanks @rasmus-madsen. If no objection, I will make a PR to update the criteria to 90% overall fcov later today

[2022-08-03 16:56] sriyerg commented on #13849
Thanks @weicaiyang for addressing this!

[2022-08-03 16:59] sriyerg commented on #13977
Fixed in https://github.com/lowRISC/opentitan/pull/13955/commits/bda512b9af50327a7c4b5a4a08b9752c1231d6bf.

[2022-08-03 17:16] andreaskurth commented on #13896
Thanks for the hint; how do I update it? I have tried
- `bazel build //hw/top_earlgrey:all_files`
- `bazel build //hw/top_earlgrey/ip/xbar_peri:all_files`
- `make -C hw top`
- `make -C hw -B top`

without success. I have also tried removing the `src` folder in the `scratch` directory after the above, but that did not help either. (This may sound really stupid, but I think I did not have to take ma

[2022-08-03 17:20] jdonjdon commented on #13896
If your repo is up to date, would you try
bazel clean --expunge
to clean all bazel artifacts?

[2022-08-03 17:27] weicaiyang commented on #9546
Thanks @jdonjdon
Closing this issue now

[2022-08-03 17:27] #9546 closed

[2022-08-03 17:28] martin-lueker commented on #13849
Thanks for working this out Weicai.   Given that we are so close on most of these blocks (and the one block where we are not is my own responsibility) I'm happy to agree to this as well, (especially if people are willing to be reasonable about the large goofy crosses, when the CP's are 100%).  Thanks.

[2022-08-03 17:36] andreaskurth commented on #13896
Yes, I am on `master` and fully up to date.

I have tried
[code]
but the same error persists

[2022-08-03 18:18] a-will commented on #13643
Just keep in mind that certain "lock registers" do _not_ behave the same way for flash_ctrl. `kDifUnavailable` is the correct return value for CSRs guarded by `CTRL_REGWEN`. `CTRL_REGWEN` changes state based on the flash controller's status; it is not actually a lock register in the same sense as others, and it unlocks simply with time.

[2022-08-03 18:33] timothytrippel commented on #13643
Ah good point, @a-will.

[2022-08-03 18:43] cindychip commented on #13849
The proposal sounds great.

[2022-08-03 18:58] jdonjdon commented on #13896
Ah.. this is in "can't reproduce" category. I mean reproduce this compile err.
I clone a fresh tree and run only dvsim command
util/dvsim/dvsim.py hw/top_earlgrey/dv/chip_sim_cfg.hjson -i chip_jtag_mem_access -s 1 -r 1 -v m
without any bazel command, I can still hit this assertion error.
Not sure how you got into this compile error.

[2022-08-03 19:20] milesdai opened #13993 "[ci] Azure Pipelines performs a new merge per job"
Our CI pipeline currently performs a checkout action at the beginning of each job.[^1] This is a problem because the checkout step also performs a merge with the HEAD of master (this is the default behavior to reduce merge skew). Because some of our jobs take a long time, additional commits can be merged into master after an earlier job has run but before later jobs have started. This can lead to

[2022-08-03 19:21] milesdai commented on #13993
To remove this behavior, we can check out the repository and merge exactly once at the beginning of the pipeline run. This merged version of the repository is uploaded as a pipeline artifact that subsequent jobs can download instead of running the checkout job again.

A couple cases to consider:

__What happens on master?__
This works the same way on master as it does on any other PR. A snapshot o

[2022-08-03 19:28] GregAC commented on #13849
This sounds good to me, if I've understood @weicaiyang correctly where you have large crosses that are hard to hit it can be acceptable to add smaller crosses that are a subset of the big cross to bring the numbers up for V2 (subject to review of course, e.g. demonstrating the new smaller crosses are dealing with the most important/most used behaviours where the larger cross is checking all possib

[2022-08-03 19:42] weicaiyang commented on #13849
yes, I think it's ok to add small crosses (subset of big cross), which helps coverage review too.

[2022-08-03 20:17] msfschaffner commented on #13849
Cool, thanks for driving this @weicaiyang. The proposal SGTM.

[2022-08-03 20:50] a-will commented on #12632
This may also help reduce the size of the critical path. We're currently building all the tests and tools in the same step that runs them, and as a result, the FPGA can sit idle while the container is doing other things. At least at the moment, that resource appears to be experiencing a fair amount of queuing.

(But that could also be helped with more FPGA boards for CI, possibly.)

[2022-08-03 21:22] martin-lueker commented on #13849
Ah interesting.  I like this actually, I hadn't thought of having both big and small crosses, though I can see how they are both valueable.

[2022-08-03 21:44] msfschaffner opened #13995 "[sysrst_ctrl] D3 Review Opens"
- [x] Rerun with Xcelium and promote array connection error in MUBI syncs to an error @sriyerg. split out as a separate issue: #14032
- [x] Open an issue for making the signal names more generic (track as a future item). #14033
- [x] Fix the the IRQ clearing priority in RTL. #14042
- [x] Nit: rst_req_o doesn’t really need the `aon_sysrst_ctrl` prefix, similar to wkup_req_o #14042
- [x] Nit: It fee

[2022-08-03 22:41] eunchan commented on #13816
I will revise SPI_TPM design to make 64B support easier:

- Increase WrFIFO to 64B (Additional 480-bit FF) It will cover the full TPM transaction.
- Widen the RdFIFO to 32-bit (full word) and increase the size to 16B (96-bit): If the FIFO is wide enough, SW has enough time to keep up the TPM CLK. (32-to-1 ratio)

Total 576-bit (~4.8k gates) will be increased. It is complex to widen the WrFIFO widt

[2022-08-03 22:43] eunchan opened #13996 "[spi_device] Widen TPM WrFIFO to 32-bit"
Related Issue #13816

Widen WrFIFO width requires logic change in SPI_TPM. The idea is tabled for future release.

[2022-08-04 00:50] weicaiyang opened #13999 "[dv] chip level unmapped tests"
chip_sw_pwrmgr_usbdev_wakeup
@jdonjdon this test is removed from the testpoint in this commit. Do you plan to map it to other test point? Please help to map it to the right testpoint. Thanks
https://github.com/lowRISC/opentitan/commit/251674e04548cfac45bd3e20e45679dbf3c9f809

chip_sw_hmac_enc_irq
@doreis-lowrisc Looks like you haven't mapped this test when you added it in this commit. Please map i

[2022-08-04 01:04] msfschaffner commented on #12429
Just a quick note that the packing optimization suggested by @eunchan above has now been implemented.
The ROM verification time is now shortened to 62.5% (= 5/8) of what it initially was.

[2022-08-04 01:54] #13977 closed

[2022-08-04 01:58] jdonjdon commented on #13999
@weicaiyang , This test has been removed from chip_sw_pwrmgr_normal_sleep_all_wake_ups
because it partially covers all_wake_up features. A new test covers all_wake_ups in a single test.
Same for chip_sw_pwrmgr_deep_sleep_all_wake_ups.

So we don't need this test for these test items anymore.

[2022-08-04 06:18] andreaskurth opened #14004 "[dvsim] Ensure run options don't contain duplicates"
_Originally posted by @sriyerg in https://github.com/lowRISC/opentitan/pull/13989#discussion_r936973059_:

This is a follow-up of #13989, which changes global options to only extend run options if an option is not already present in the run options.

[2022-08-04 07:31] sriyerg commented on #14004
This actually applies to all lists in the hjson.

[2022-08-04 09:02] engdoreis commented on #13974
@GregAC Could you let me know your thoughts on a possible approach?

[2022-08-04 15:35] engdoreis commented on #13999
@weicaiyang, It seems that I accidentally added the `chip_sw_hmac_enc_irq` to the `chip_sim_cfg.hjon`. I apologize!
Besides that:
1. The hmac irq test is also implemented by the `chip_sw_hmac_enc` test.
2. There's no test named `*_hmac_enc_irq` in the test plan to be linked to.

With that been said, should I just erase the entry from the `chip_sim_cfg.hjon` file? Or add a `chip_sw_hmac_enc_irq` to

[2022-08-04 16:02] #11779 closed

[2022-08-04 16:06] marnovandermaas commented on #11794
Today, I got a base version of the cosimulation flow working by adding a `cosim.mk` flow makefile.

It's not currently ready to be a PR, but you can have a look at my branch here: https://github.com/marnovandermaas/opentitan/tree/ibex_dvsim

[2022-08-04 17:09] #13849 closed

[2022-08-04 17:10] johannheyszl commented on #13769
From the discussion in the security WG:
- situation like like mismatched counters, the fsm being in an invalid state etc (as @tjaychen mentioned) are unlikely/impossibly triggered through SW but are rather results from FI/badness. For those, it seems to make sense to keep the fatal alert local escalation.
- on the other side it makes sense to minimize cases where SW could trigger fatal alerts unwi

[2022-08-04 17:12] msfschaffner commented on #13769
Side note: our current design guidance around recoverable and fatal alerts is captured [here](https://docs.opentitan.org/doc/rm/comportability_specification/#alert-handling).

[2022-08-04 17:12] cdgori commented on #13769
Just to agree/confirm what the others have said - if the error state transitions are because of {invalid state encoding, invalid mubi value, redundant counter mismatch} then those should be fatal/not easily recovered, as they are indicating a potential glitch/fault attack.  (In essence, all of these checks chip-wide are acting in concert to try to detect such an attack and prevent the adversary fr

[2022-08-04 17:21] msfschaffner commented on #13769
Besides the question whether we have SW triggered alerts that need to be downgraded to recoverable, it looks like this issue is mostly about reaching coverage as @cdgori pointed out above.

If we are mainly using standardized countermeasures like `prim_count` and sparse FSMs, this may actually be covered by the formal mechanisms that the DV team has put in place. @weicaiyang and @cindychip, what i

[2022-08-04 17:29] cindychip commented on #13769
Thanks for tagging us!
For DV fatal alert related FSM coverage, because the standard counter measures only cover idle -> FSMErrorSt, we usually waive the other transitions, because they are covered in FPV testbench.
So if your issue is:
1). Idle -> FsmErrorSt: covered
2). St1 -> FsmErrorSt: not-covered
3). St2 -> FsmErrorSt: not-covered
Then 2) and 3) could be waived so long as FPV covered it in a

[2022-08-04 17:35] senelson7 commented on #13769
I just wanted some discussion/thought about allowing enable to get the fsm out of the Error state and the answer seems to be no so I'll close this issue unless anybody has more input.

[2022-08-04 17:40] weicaiyang commented on #13999
I'm not familiar with these hmac tests.
In general, If `chip_sw_hmac_enc_irq` is just a subset of the other test, we could just remove the test.

if `chip_sw_hmac_enc_irq` can increase coverage or test something the other tests don't cover, it's worth keeping it. Then we could either create a test entry in testplan for it or add it to an existing test entry (one test entry can have multiple test c

[2022-08-04 17:48] msfschaffner commented on #13769
Are there any fatal alert events in the design that can be triggered by SW? E.g. a SW error or a misconfigured threshold?

If yes, we may want to discuss to make them recoverable (and add a way to move the FSM back to an idle state at runtime, as you described).

If the sources are only from sparse FSMs and redundant counters (meaning that in the absence of glitches in the design these will never

[2022-08-04 19:09] msfschaffner commented on #13758
This RFC has been approved today.

[2022-08-04 19:13] msfschaffner commented on #13581
We discussed this in the TC today. The RFC has been conditionally approved, meaning that implementation and testing can proceed. However, please report back to the TC before activating this as a blocking step in CI.

[2022-08-04 19:13] msfschaffner commented on #13581
CC @alphan

[2022-08-04 19:17] weicaiyang commented on #13758
Thanks @msfschaffner

[2022-08-04 19:17] #13758 closed

[2022-08-04 20:32] cindychip opened #14015 "[conn] Implement the newly added conn test"
https://github.com/lowRISC/opentitan/pull/14014
Implement these newly added connectivity tests.

[2022-08-05 00:31] weicaiyang commented on #13999
cc: @msfschaffner

[2022-08-05 01:21] msfschaffner commented on #10324
The flash controller has been updated to use alias registers as well now: https://github.com/lowRISC/opentitan/pull/13917
Also, the foundry chip-level simulation has been updated to use both OTP and Flash aliases.

Hence, we can close this issue.

[2022-08-05 01:21] #10324 closed

[2022-08-05 01:21] msfschaffner commented on #10324
CC @arnonsha

[2022-08-05 01:27] sriyerg commented on #14004
This is actually tricky to achieve. We actually have cases like this: `*_opts: ["--foo-things", "bar", "--foo-things", "baz"]`. Uniquifying this results in `["--foo-things", "foo", "bar"]`. which causes a breakage.

[2022-08-05 01:28] sriyerg commented on #14004
The original error was a symptom of duplicated tests in the `ci` regression target in `hw/ip/otbn/dv/uvm/otbn_sim_cfg.hjson`. This is fixed both in dvsim and in otbn in #14017.

[2022-08-05 06:45] andreaskurth commented on #14004
Ah, I see. We may need a more structured representation of options (rather than just strings), to distinguish "unary" flags from "binary" argument-value pairs?

[2022-08-05 13:37] prajwalaputtappa commented on #13330
Nothing needs to be done for verifying OTBN.TLUL_FIFO.CTR.REDUN as it is a feature of TLUL module.
This task will be closed once https://github.com/lowRISC/opentitan/pull/13867 can be closed.

[2022-08-05 14:22] johngt commented on #6188
ECC checking on registers. Have tests for ECC inside the registers.
CSR tests

[2022-08-05 14:22] #6188 closed

[2022-08-05 14:25] johngt commented on #11539
@GregAC to provide a list of places where ECC checked.
What signals get set high.
Coverage that shows that coverage checks are fired.

[2022-08-05 14:26] johngt commented on #8129
Could do a directed test.
Add cover point

[2022-08-05 14:31] johngt commented on #11546
Adding coverage point to see it happening.
Change response to see random ack.

[2022-08-05 14:34] johngt commented on #11544
Redundancy checks.
Checks for blanking. Check against decode.
@prajwalaputtappa has written a test for this case.
If fatal alert doesn't get triggered then checks in place.

Coverage missing.

[2022-08-05 14:36] johngt commented on #13963
URND / RND ret ack.
Ack interface between start / stop controller.

Same sort of check on two different signals.
Internal signalling for wipe.
2 failure modes.
1) False ACK
2) Killing ret before ACK, whilst Ret held high

[2022-08-05 14:39] johngt commented on #13964
Documentation update to ensure we know what to expect. @johngt

[2022-08-05 14:41] johngt commented on #13965
Issue some r/w to areas of DMEM that IBex side of interface not able to access.
Address range needed from @GregAC

[2022-08-05 14:44] engdoreis opened #14029 "[dif, flash_ctrl] DIFs missing implementation"
The folowing functions are missing implementation in the `dif_flash_ctrl`:
- [ ] dif_flash_ctrl_set_phy_configuration
- [ ] dif_flash_ctrl_get_phy_configuration
- [ ] dif_flash_ctrl_phy_configuration_is_locked
- [ ] dif_flash_ctrl_lock_phy_configuration

[2022-08-05 14:44] engdoreis commented on #14029
@timothytrippel

[2022-08-05 14:48] ctopal commented on #7949
Closing this as it's discussed as done in OTBN planning meeting

[2022-08-05 14:48] #7949 closed

[2022-08-05 14:49] a-will commented on #14029
Heh, looks like @tjaychen removed the functionality in hw and sw, but the skeletons remain. They can be deleted now.

[2022-08-05 14:57] andreaskurth commented on #7424
cannot edit original post

[2022-08-05 15:36] marnovandermaas commented on #11794
Today, I got OT dvsim to call the Ibex DV makefile. I pointed the Ibex DV to the OpenTitan IP, which is vendored in in the main Ibex repo, but ran into a divergence. I created a PR on Ibex to fix this divergence:
https://github.com/lowRISC/ibex/pull/1749

[2022-08-05 15:37] andreaskurth commented on #7424
Done in #13569.

[2022-08-05 15:37] #7424 closed

[2022-08-05 15:45] ctopal commented on #13964
In accordance to our internal talks with @andreaskurth, we have four main features we need to check in order to claim SEC_WIPE countermeasures are verified.

- [ ] A secure wipe happens before every program execution.
- [ ] A secure wipe happens after an error.
- [ ] Wiped registers are non-zero (optimally: values of registers is derived from EDN).
- [ ] A secure wipe happens on RMA request, and t

[2022-08-05 19:00] msfschaffner opened #14032 "[xcelium] Promote array connection warning to an error"
We have modules in the design that with certain parameterizations output a degenerate array (e.g. [0:0][3:0]).
In such cases, some tools are fine with connecting a one dimensional array with the same amount of bits to that port - but others like Xcelium and some backend tools throw warnings or even errors.
Since we do not have a lint rule that captures exactly this case in CI, it is suggested to p

[2022-08-05 19:09] msfschaffner opened #14033 "[sysrst_ctrl] Make module and names more generic and homogenous"
The `sysrst_ctrl` module could be implemented in a more generic way, without explicitly named signal channels that all have slightly different functionality. I.e., it could be implemented in a homogeneous way where each channel has the same capabilities. Then it is basically a matter of instantiating these channels with a for loop, similar to the GPIO module.

[2022-08-05 19:46] alphan opened #14037 "[sw/silicon_creator] Bit manipulation extension for crc32"
#13468 moves the current crc32 implementation to `sw/device/silicon_creator/lib`. This implementation, however, does not take advantage of the bit manipulation extension. We should
(1) check the disassembly of the current implementation to confirm that we need a specialized bitmanip implementation, and
(2) implement a risc-v specific version that takes advantage of the bitmanip extension.

Please

[2022-08-05 19:50] alphan opened #14038 "[opentitantool] Alert handler configuration digests for different life cycle states"
#13468 adds a check that compares the crc32 of the alert handler configuration with the expected value in OTP before jumping to ROM_EXT. `opentitantool` should be enhanced to produce this value as described in this [doc](https://docs.google.com/document/d/1exWkL6VBt7qBRcbaIbZCvcRTRnuyZkTn-kQslHf7xY4/edit?resourcekey=0-6sqWIiKEUEoh01xb4upXww).

cc @cfrantz @arunthomas @moidx

[2022-08-05 20:36] msfschaffner opened #14041 "[sysrst_ctrl/dv] Testbench does not have all interfaces connected"
The `sysrst_ctrl` testbench does not connect all interface signals.
While most of the unconnected signals are just static output enable signals (which can be tested with an assertion), it seems like the `wkup_req` interface and feature is untested.

https://github.com/lowRISC/opentitan/blob/acd8a2b4ba40d3a1d3b37fa42f239d02fe0f30dd/hw/ip/sysrst_ctrl/dv/tb.sv#L46-L73

It looks like we've missed this

[2022-08-05 20:36] msfschaffner commented on #14041
CC @tjaychen

[2022-08-05 20:39] jon-flatley commented on #14038
Thanks @alphan! I'll add this to the OTP checklist for opentitantool integration: #13869

[2022-08-05 21:44] msfschaffner commented on #13995
@tjaychen for the question about detector behavior, is your concern that we do not continuously sample the signal while debouncing?

if so, we may already have discussed this here:

https://github.com/lowRISC/opentitan/issues/10663
https://github.com/lowRISC/opentitan/pull/10636

TL;DR; we switched back to this behavior (which was originally implemented by Eric) as it easier to test and interact w

[2022-08-05 21:55] sriyerg commented on #14041
Wow, I will prioritize fixing this right away.

[2022-08-05 22:01] weicaiyang commented on #14041
Good catch. Thanks @msfschaffner
toggle coverage is already 100%. Looks like we have the sequence, but didn't really check the output - wkup_req

[2022-08-05 22:02] sriyerg commented on #14041
It is a V2 item that is marked as complete:
https://docs.opentitan.org/hw/ip/sysrst_ctrl/doc/checklist/index.html#v2 (ALL_INTERFACES_EXERCISED)

We need to revisit our V2 review playbook to ensure we do not miss it again for a different block. @weicaiyang

[2022-08-05 22:02] sriyerg commented on #14041
@msfschaffner, how did you catch it btw?

[2022-08-05 22:05] weicaiyang commented on #14041
it is indeed all exercised. The biggest hole of coverage driven verification is that we don't know if we have implemented all the checkers correctly.

[2022-08-05 22:08] eunchan opened #14045 "[spi_device] TPM FIFOs in DPSRAM"
Related Issue #13816

Increasing Wr/Rd FIFOs in TPM affect the overall area by 8k~10k gates. If the FIFOs are moved to DPSRAM space, most of the increment could be remedied.

The SRAM FIFO interface should have a signal to reset the pointer. Read FIFO should be reset every time new TPM transaction begins.

[2022-08-05 22:08] eunchan commented on #14045
CC: @tjaychen

[2022-08-05 22:13] sriyerg commented on #14041
Right - exercised != verified. We have not yet proven `wkup_req_o` turns on / off at the right times (IIUC), which is a glaring hole.

[2022-08-05 22:15] msfschaffner commented on #14041
I was doing a D3 naming cleanup, and as I was aligning the TB I realized that there are far too few output signals attached to this IP...

[2022-08-05 22:16] msfschaffner commented on #14041
Does VCS spit out a warning if output ports are left unconnected (implicitly)? We could bump that to an error. That way, you have to at least explicitly leave ports unconnected.

[2022-08-05 22:24] sriyerg commented on #14041
I am not sure if that is a good idea - during early RTL development - there will be more frequent breakages, and the RTL engineer may just connect a wire to get around it. It does not help us much. We can, however, promote this to an error when the DV is ready to sign off V2. This can be achieved by having them import a dvsim cfg file (so its super simple for the engineer). That cfg file will cont

[2022-08-05 22:30] msfschaffner commented on #14041
Yeah that sounds good to me.

[2022-08-05 22:37] weicaiyang opened #14047 "[lc_ctrl] keymgr div key inconsistency"
@msfschaffner

KEYMGR_EN is only enabled in one of these states: DEV, RMA, PROD, PROD_END.

Why the key is still available in TEST_UNLOCKED*?

Life Cycle State Group | Assigned Diversification Constant
-- | --
TEST_UNLOCKED*, DEV, RMA | LcKeymgrDivTestDevRma
PROD, PROD_END | LcKeymgrDivProduction

cc: @cindychip

[2022-08-06 00:06] cindychip opened #14049 "[fpv] Write assertions to check EDN output valid data"
From discussion here:
https://github.com/lowRISC/opentitan/pull/14046/files#r939445233

To make sure EDN always provide valid (non-zero, non-all-ones, unique) data, we can add assertions to EDN data output.

CC: @sriyerg @msfschaffner @martin-lueker

[2022-08-06 00:29] weicaiyang opened #14051 "[spi_device] payload upload ignores dummy cycles"
@eunchan

Looks like payload upload ignores dummy cycles. We starts to upload payload when all addresses are collected regardless of the value of dummy_size, right?

Perhaps I can assume dummy cycle is 0 when it's not a read, right?

[2022-08-06 01:06] msfschaffner commented on #14047
I believe the main idea here was to reduce the amount of diversification constants needed (no matter whether the key manager is enabled or not). Hence, `TEST_UNLOCKED*` gets the same diversification constant as the `DEV` and `RMA` states (instead of creating yet another diversification constant).

The important part is that the `PROD*` states have a different constant than  `TEST_UNLOCKED*`, `DEV`

[2022-08-06 01:31] msfschaffner commented on #13995
Regarding power compile: I ran a couple of experiments, and it appears that DC is smart enough to figure out how to clock gate counters formulated in this manner.

However, one change that we should make is remove the constant assertion of `cnt_clr` in the Idle state of the debouncer FSM. I.e. if we always clear and otherwise count, there are effectively no cycles where the flop is NOT enabled, an

[2022-08-06 04:35] martin-lueker commented on #14049
@mwbranstad

[2022-08-06 05:35] sriyerg commented on #13348
I believe this issue is addressed now?
Incremental result publish is sort of unrelated and should be tracked as a separate issue.

[2022-08-06 22:12] a-will commented on #11550
This can be closed now, right?

[2022-08-07 11:56] ariel9678 commented on #13430
Thank you Tim.
Trying to implement it, we are still getting the following errors:
ERROR: Skipping '@manufacturer_test_hooks//:closed_chip_sw_alert_test_sim_dv': no such target '@manufacturer_test_hooks//:closed_chip_sw_alert_test_sim_dv': target 'closed_chip_sw_alert_test_sim_dv' not declared in package '' defined by /home/users/arcohen/_bazel_arcohen/4018e373332d5ea1abead4c114838380/external/manu

[2022-08-07 17:05] tjaychen commented on #14029
oops my bad.

[2022-08-07 17:13] tjaychen commented on #13995
sounds good, thanks for looking it up.

[2022-08-07 17:15] tjaychen commented on #13995
sounds great. Do you actually want to add this as part of style guidance? Otherwise people like me might forget and ask again in a few months.

[2022-08-07 23:35] #11550 closed

[2022-08-08 05:53] weicaiyang opened #14057 "[spi_device] invalid cmd could be uploaded unexpectedly"
@eunchan

In this case, an invalid cmd with payload/address is sent to DUT. The 1st byte is latched and DUT knows it's an invalid cmd, so it stays at StIdle, but the following logic keeps processing since it's at StIdle. If any address/payload value matches with a valid opcode with upload enabled, then this invalid cmd will be uploaded, and busy bit could be set as well.
Perhaps we need to only en

[2022-08-08 09:29] #13217 closed

[2022-08-08 12:21] ctopal commented on #8129
@GregAC Do we want a cross where we have: (straight-line instruction mnemonic x (instr_addr == top_addr)). Or just any straight-line instruction would be enough to mark this coverpoint as seen. WDYT? I tend towards the second option since response from OTBN would not necessarily change depending on which straight-line instruction is at the top of the instruction memory.

[2022-08-08 15:38] GregAC opened #14063 "[tlul, rtl] Use of devmode_i"
On reviewing some OTBN RTL I realised the `devmode_i` input of the autogenerated `otbn_reg_top` is hard-wired to 1.

The documentation for register tool (here: https://docs.opentitan.org/doc/rm/register_tool/#error-responses) explains that the `devmode_i` input is meant to indicate if the device is in development or production mode. The idea being in production mode, for security critical blocks,

[2022-08-08 15:57] eunchan commented on #14051
Yes. It assumes no dummy cycle between the address and payload.
Still, I think supporting the dummy cycle is a good idea.

Let me change this ticket to Future Release Thanks!

[2022-08-08 16:40] eunchan commented on #14057
Thanks for finding the issue. I will fix the design asap.

[2022-08-08 16:44] eunchan commented on #14057
Hum, I checked the logic and https://cs.opensource.google/opentitan/opentitan/+/master:hw/ip/spi_device/rtl/spi_cmdparse.sv;l=378?q=spi_cmdparse.sv&ss=opentitan%2Fopentitan line already takes care of invalid command .

Probably the priority case may not behave as I intended (missing default case if invalid?)

[2022-08-08 16:46] eunchan commented on #14057
Oh... I should have a condition in the FSM (without `cmd_info_d.dvalid`) I will fix that!

[2022-08-08 16:59] marnovandermaas commented on #11794
Vendor in the new Ibex fixes and added a patch for the DV Makefile. Make a change to `util/vendor.py` to warn when patch directories don't exist.
https://github.com/marnovandermaas/opentitan/tree/dbd608c2cbaf6920d59882d6212ef9e705829abe

[2022-08-08 17:00] andreaskurth opened #14066 "[otbn] DMEM and IMEM read blanking during secure wipe"
We have assertions in place to ensure that reads from DMEM and IMEM are blanked when OTBN is not in the IDLE state. They currently fail because reads are not blanked during secure wipe. We have two options to resolve this:
1. Allow DMEM and IMEM reads to be non-blank during secure wipe.
2. Blank DMEM and IMEM reads also during secure wipe.

A secure wipe happens on two occasions: after reset and a

[2022-08-08 17:01] andreaskurth commented on #14066
DMEM and IMEM reads are already blanked while `locking` is asserted, so implementing (A) would boil down to
- ensuring that there is no time gap between `busy_execute_d` and `locking`
- adapting the assertion to allow this case.

[2022-08-08 17:02] andreaskurth commented on #14066
WDYT, @GregAC @vogelpi?

[2022-08-08 17:03] weicaiyang commented on #14051
@eunchan Thanks for the confirmation

[2022-08-08 17:04] andreaskurth commented on #13896
Thanks for your help, @jdonjdon! I was only able to resolve the compile error with a fresh clone and did not investigate that further.

To resolve the actual issue that this test is hitting, I created #14066.

[2022-08-08 17:09] jdonjdon commented on #13896
Awesome 👍

[2022-08-08 17:27] cindychip commented on #12816
More importantly, we need to test this across all the power modes to make sure there are no gaps.
-> Should we enhance the testplan to cover these testcase? Maybe talk about it in weekly DV meeting?

[2022-08-08 17:29] weicaiyang commented on #12610
done via https://github.com/lowRISC/style-guides/pull/58

[2022-08-08 17:29] #12610 closed

[2022-08-08 17:53] eunchan commented on #13855
Will working on this. Looks like `pos_next` has been renamed to `pos_d`

[2022-08-08 18:03] weicaiyang commented on #12921
@jdonjdon Thanks for catching this bug. perhaps we can close this issue if the design is fixed.

[2022-08-08 18:07] weicaiyang commented on #13348
closing this as it's fixed now. Thanks @sriyerg

[2022-08-08 18:07] #13348 closed

[2022-08-08 19:10] moidx commented on #5771
Hi @johannheyszl, can you triage this from a security perspective and determine if we need to get others involved? We should aim to have discussion points for this for the next security WG so that we can close sign off D3 for the rom_ctrl block. Thanks!

[2022-08-08 19:20] weicaiyang commented on #14047
As discussed with @msfschaffner, using `LcKeymgrDivInvalid` for TEST_UNLOCKED* may be more consistent as keymgr is disabled at that state.
But as @msfschaffner  mentioned it's not the same one used in PROD state and LC_CTRL is already in D3, I guess it's fine to leave it as is.

[2022-08-08 20:23] cdgori commented on #14038
This may be (probably is) coming from left-field, but what is the intent of the CRC32 here?  (I can't access the document due to permissions)

If we are protecting the configuration from tampering by a malicious adversary, should we consider using a SHA2 instead?

[2022-08-08 20:36] cdgori commented on #14047
Agree with @msfschaffner / @weicaiyang - using `LcKeymgrDivInvalid` is better here, but as long as it is not the one used in PROD state, this could be deferred in the interest of keeping D3 freeze/stable on LC_CTRL.

[2022-08-08 20:51] cindychip opened #14072 "[kmac] LC transition kmac reset question"
Hi Tim,

Michael and I would like to confirm the following behavior with you:
1). LC state transition request starts
2). LC requests KMAC scrambled value
3). KMAC gets a reset from sys domain, but this reset does not affect LC
4). -> Would like to confirm here: LC will hang at waiting for KMAC value until a POR or LC domain reset

The above sequence, chip level test will make sure LC did not go to

[2022-08-08 21:06] msfschaffner commented on #14072
I think it should not matter since we are not allowing the LC_CTRL to proceed. The only "bad" thing that happens is that the transition counter gets incremented - but then again this is clearly not correct use of the life cycle transition mechanism (SW should ensure everything remains stable during that time).

We just want to confirm whether you think so, too, or whether we need to plan for a fea

[2022-08-08 21:13] cdgori commented on #13595
Replying late, but agree with @jadephilipoom so the change proposed by @eunchan is good for me.

[2022-08-08 21:57] weicaiyang commented on #13934
@eunchan
reopen this, as the intercept assertion may need some more tuning.

intercept.status, intercept.jedec, intercept.sfdp raises 1 cycles earlier than `intercept_en`. `intercept_en`
and ` $stable(intercept_en)` means ` $past(intercept_en) == intercept_en`

adding `##1` can fix it
[code]

![Screen Shot 2022-08-08 at 2 13 54 PM](https://user-images.githubusercontent.com/49293026/183515948-678a9

[2022-08-09 00:02] martin-lueker opened #14078 "[entropy_src] Confusion when handling Continuous vs. Windowed HT's"
The REPCNT & REPCNTS differ from the other health tests in that they look at the RNG data stream as a continuous time series, as opposed to the other health tests which break the data into windows.  These tests can detect statistical anomalies at any time during an HT window, or can even detect multiple anomalous time regions during a window.

Unfortunately, this leads to some potential points of

[2022-08-09 00:15] msfschaffner commented on #14063
Hey @GregAC! This has been discussed in the security WG here: https://github.com/lowRISC/opentitan/issues/10311 and deemed ok to leave as is (i.e. `devmode_i` hardwired to 1) for the current OpenTitan iteration.

[2022-08-09 01:01] cindychip commented on #14072
Hey Michael and Tim,

I just realized that LC_CTRL actually connects to KMAC rst/clk ports. So even though they are in the different clock domain, LC will resend the KMAC data request if kmac is being reset. So I think the only possible way for LC to hang is just KMAC somehow does not response to LC request.

[2022-08-09 05:02] martin-lueker commented on #14078
Note: The proposed change has been implemented and verified with good results (See #14083 and #14084)

[2022-08-09 06:35] zi-v commented on #14078
Sounds good to me. Alternatively you could have considered zeroizing the repetition counter upon reaching the threshold, this might have given a slightly more accurate statistical view.
However, since you have already implemented and checked this, I don't think you should change.

[2022-08-09 06:45] cindychip opened #14086 "[prim/rtl] Does prim_sync_reqack support different reset domain for src and dst?"
Hi Michael, Pirmin, and Tim,

When I implemented lc_ctrl transition with kmac reset test, I saw that prim_sync_reqack sent an extra kmac data request after kmac handshake is done. Though LC transition finishes without any error, but I still want to double check the behavior with you.

Sequence:
1). Send a LC_CTRL transition request
2). Wait until LC_CTRL sends a kmac data request to scramble token

[2022-08-09 08:30] GregAC commented on #14063
Ah great, we should review the register tool documentation to make it clear we're not planning on using `devmode_i` set to 0 for the current iteration of OpenTitan but it's a considering for future work. There may be a few TODOs to clean up here as well. I'm happy to take this on. I'll leave this issue open to track.

[2022-08-09 08:44] andreaskurth commented on #13964
I agree.

Which case was that?

The model currently checks that registers are not written twice with the same value during secure wipe. It thereby eliminates some mechanisms through which the registers could be all-zero or remain unchanged after secure wipe. But that is not sufficient to ensure that the registers are wiped to a value different from zero and their pre-wipe state. So I agree this ne

[2022-08-09 08:50] ctopal commented on #13964
"A secure wipe happens before every program execution" suggests at least an assertion is needed. Also if we claim to raise an error in the case of a secure wipe not happening before program execution, we need to see/test that behaviour too.

[2022-08-09 11:16] vogelpi commented on #14066
Thanks for looking into this @andreaskurth . Option A sounds very reasonable. I think also B should be done but as it requires some DV changes as well, it's probably better to postpone this at the moment. Your proposal sounds good to me.

[2022-08-09 12:39] johannheyszl commented on #5771
Relevant info IMO:
- ROM uses reduced-round PRINCE in CTR mode with additional diffusion within words (see hw/ip/rom_ctrl/rtl/rom_ctrl_scrambled_rom.sv which refers to hw/ip/prim/rtl/prim_ram_1p_scr.sv)
- ROM content is padded as described above (partly with PRNG generated sequence)
- Confidentiality of ROM is not a goal AFAIK
- Integrity seems protected with a cSHAKE-256 hash by comparison to a v

[2022-08-09 12:44] andreaskurth commented on #13964
This should be a relatively straightforward assertion, since OTBN tracks if the initial secure wipe is complete with `init_sec_wipe_done_q`. The assertion could thus check that OTBN executes a program only if `init_sec_wipe_done_q`.

[2022-08-09 15:33] engdoreis commented on #12889
Hi @matutem, this is a kind remind, can we close this issue?

[2022-08-09 15:34] alphan opened #14089 "[sw/dif] Replace `dif_result_t` with `status_t`"
#14052 adds `INTO_STATUS` to convert different error types to `status_t`. Since `dif_result_t` does not have the same layout as `status_t`, `INTO_STATUS` has to handle the `dif_result_t` to `status_t` conversion separately. This also introduces a dependency from `lib:base` to `lib:dif`, which we would like to avoid.

We should
- [ ] Replace `dif_result_t` with `status_t`,
- [ ] Remove `__builtin_t

[2022-08-09 15:42] tjaychen commented on #12816
yeah i think it would be good to discuss to see if we feel this is already covered.

[2022-08-09 15:45] tjaychen commented on #13855
yeah that's right.  Based on what we were looking at the other day, it seems this COULD be mapped to the new prim count, but i'm not completely certain.

[2022-08-09 15:55] cindychip commented on #12816
Thanks Tim, added to the meeting note.

[2022-08-09 16:09] tjaychen opened #14090 "[sha3] Padding logic handling"
Refer to [this link](https://github.com/lowRISC/opentitan/pull/13921#discussion_r935911685) for more details.

[2022-08-09 16:11] tjaychen commented on #14047
sounds good to me.

[2022-08-09 16:22] tjaychen commented on #14086
yeah this is an issue, it's popped up a few other areas as well.
the cdc modules in prim can't "really" (related #14072) be reset one side at a time. The reset really needs to be the "same" root, but different clock domain.

can you remind me where the `prim_sync_reqack` is located in the hierarchy? I want to take a closer look at a couple of things.

[2022-08-09 16:29] cindychip commented on #14086
Sure! Thanks for the feedback -  it is located here:
https://github.com/lowRISC/opentitan/blob/master/hw/ip/lc_ctrl/rtl/lc_ctrl_kmac_if.sv#L76
https://github.com/lowRISC/opentitan/blob/master/hw/ip/prim/rtl/prim_sync_reqack_data.sv#L45

[2022-08-09 16:32] eunchan commented on #13855
https://github.com/lowRISC/opentitan/pull/14073 for `pos_next` protection.

[2022-08-09 16:38] weicaiyang commented on #14057
fixed via https://github.com/lowRISC/opentitan/pull/14065

[2022-08-09 16:38] #14057 closed

[2022-08-09 16:39] msfschaffner commented on #8947
Should we tag this as a future enhancement as well?

[2022-08-09 16:47] tjaychen commented on #14072
Yeah i think this is fine. I'm guessing that if kmac resets in the middle, the kmac results are going to either be wrong (if we reset when it's still processing), or a hang (if the reset happens when the results are sent back).

In the former case I guess the transition would just fail.  Even if the two sides were the same reset domain, if I remember the counter would have been incremented anyways

[2022-08-09 16:58] tjaychen commented on #14086
sorry i'm jumping around.
I responded in the other thread, I agree with you guys this is probably acceptable behavior.
But it would be nice to fix the behavior from prim_sync_reqack where it creates ghost transactions (even if the macro behavior is acceptable).

This mostly just means we need to wire up a different reset on the interface, i can have a look at this.

[2022-08-09 17:37] weicaiyang opened #14092 "[dvsim] run_timeout_mins can't be overridden"
I got this error when I added `run_timeout_mins: 120` in chip_sim_cfg at https://github.com/lowRISC/opentitan/pull/14075

this works for block-level like uart, but chip-level fails.

cc: @matutem @cindychip @jdonjdon

[2022-08-09 17:38] jdonjdon commented on #14092
it doesn't work for flash_ctrl either.

[2022-08-09 17:52] #13934 closed

[2022-08-09 18:54] tjaychen opened #14095 "[top] Track system level test cases"
There are a few system level test cases that need to be written but are currently not tracked in any of nightly collateral.
For now, track them in this issue here until a more suitable home is found.

- [ ] [Power virus test](https://docs.google.com/document/d/1OMnxqSZ0OGNzHkWH8Le6utW6llyIR1QgrUnbZpOkwYU/edit?usp=sharing)
- [x] [Sram manufacturing test](https://docs.google.com/document/d/1i6V3tFTv

[2022-08-09 18:58] tjaychen commented on #14078
this sounds good to me.
I'll leave any other comments in #14083

[2022-08-09 19:22] msfschaffner opened #14097 "[rom_ctrl] D3 Review Opens"
- [x] Need to remove * from the [FI hardening section in documentation](https://docs.opentitan.org/hw/ip/rom_ctrl/doc/#fault-injection-hardening) as all relevant signals are using multi-bit encoding now. @vogelpi
- [x] Add mask_rom padding and report utilization at build time [#5771](https://github.com/lowRISC/opentitan/issues/5771), Pending answer from the security WG (Johann) -> AI: wait for res

[2022-08-09 19:32] alphan commented on #10865
I think this is better handled by the build system/bazel. Closing this in favor of #13804. Please reopen if you think otherwise. Thanks!

[2022-08-09 19:32] #10865 closed

[2022-08-09 19:40] alphan opened #14098 "Remove `util/fpga/splice_rom.sh`"
We should remove `util/fpga/splice_rom.sh` and replace its usages with this change once this PR merged.

_Originally posted by @alphan in https://github.com/lowRISC/opentitan/issues/13804#issuecomment-1209798049_

[2022-08-09 19:40] alphan commented on #14098
cc @cfrantz @arunthomas

[2022-08-09 20:56] eunchan commented on #13855
Working on this now.

[2022-08-09 21:20] msfschaffner opened #14100 "[chip-test] chip_sw_adc_ctrl_debug_cable_irq"
### Test point name

[chip_sw_adc_ctrl_debug_cable_irq](https://github.com/lowRISC/opentitan/blob/8e7294516edb183db9377009235bc504fde40a78/hw/top_earlgrey/data/chip_testplan.hjson#L1633)

### Host side component

SystemVerilog

### OpenTitanTool infrastructure implemented

No

### Contact person

tjaychen

### Checklist
Please fill out this checklist as items are completed. Link to PRs and issues

[2022-08-09 21:30] eunchan commented on #13855
https://github.com/lowRISC/opentitan/pull/14103 has been created to address `rst_storage` false positive check.

[2022-08-09 21:31] eunchan commented on #13855
So long as we have `rst_storage` integrity check now. Not sure it is worth to revise the design for the issue. WDYT @tjaychen @msfschaffner ?

[2022-08-09 21:42] weicaiyang opened #14104 "[chip-test] chip_sw_i2c_host_tx_rx"
### Test point name

[chip_sw_i2c_host_tx_rx](https://github.com/lowRISC/opentitan/blob/07ece748876891301ac6eaba354541d4a57d39c6/hw/top_earlgrey/data/chip_testplan.hjson#L225)

### Host side component

SystemVerilog+Rust

### OpenTitanTool infrastructure implemented

Unknown

### Contact person

@Martin-Lueker

### Checklist
Please fill out this checklist as items are completed. Link to PRs and is

[2022-08-09 21:45] cindychip opened #14105 "[chip-test] chip_sw_sysrst_ctrl_ulp_z3_wakeup"
### Test point name

[chip_sw_sysrst_ctrl_ulp_z3_wakeup](https://github.com/lowRISC/opentitan/blob/master/hw/top_earlgrey/data/chip_testplan.hjson#L1614)

### Host side component

_No response_

### OpenTitanTool infrastructure implemented

_No response_

### Contact person

msfschaffner

[2022-08-09 22:00] martin-lueker commented on #14104
Thanks for the heads up.  This may be a bit challenging until we get this to V2.

[2022-08-09 22:08] matutem opened #14106 "[chip-test] chip_sw_clkmgr_escalation_reset"
### Test point name

[chip_sw_clkmgr_escalation_reset](

### Host side component

_No response_

### OpenTitanTool infrastructure implemented

_No response_

### Contact person

tjaychen

[2022-08-09 22:18] #14106 closed

[2022-08-09 22:18] weicaiyang commented on #14104
Sorry for accidentally tagging you. This is a chip-level V2 test. We're moving the tracking of these tests to github and create an issue for each test.

[2022-08-09 22:19] tjaychen commented on #13855
i think the concern was that a reset could hit the storage and produce a zero'd / valid result.
Talking to @johannheyszl , this seems like a valid attack path.

[2022-08-09 22:20] martin-lueker commented on #14104
Oh, I see. Thanks for the explanation.

[2022-08-09 22:24] matutem opened #14107 "[chip-test] chip_sw_clkmgr_escalation_reset"
### Test point name

[chip_sw_clkmgr_escalation_reset](https://github.com/lowRISC/opentitan/blob/ec2c5dee719b65882057e57ce815af238f926b96/hw/top_earlgrey/data/chip_testplan.hjson#L869)

### Host side component

SystemVerilog

### OpenTitanTool infrastructure implemented

_None_

### Contact person

tjaychen

### Checklist

Please fill out this checklist as items are completed. Link to PRs and issu

[2022-08-09 22:25] #14105 closed

[2022-08-09 22:26] msfschaffner opened #14108 "[chip-test] test"
### Test point name

[chip_sw_adc_ctrl_debug_cable_irq](https://github.com/lowRISC/opentitan/blob/master/hw/top_earlgrey/data/chip_testplan.hjson#L24)

### Host side component

_No response_

### OpenTitanTool infrastructure implemented

_No response_

### Contact person

_No response_

### Checklist

Please fill out this checklist as items are completed. Link to PRs and issues as appropriate.
- [

[2022-08-09 22:26] tjaychen opened #14109 "[chip-test] chip_sw_spi_device_pass_through_collision"
### Test point name

[chip_sw_spi_device_pass_through_collision](https://cs.opensource.google/opentitan/opentitan/+/master:hw/top_earlgrey/data/chip_testplan.hjson?q=chip_sw_spi_device_pass_through_collision&ss=opentitan%2Fopentitan:hw%2F)

### Host side component

SystemVerilog+Rust

### OpenTitanTool infrastructure implemented

No

### Contact person

@eunchan

### Checklist

Please fill out thi

[2022-08-09 22:27] cindychip opened #14110 "[chip-test] chip_sw_sysrst_ctrl_ulp_z3_wakeup"
### Test point name

[chip_sw_sysrst_ctrl_ulp_z3_wakeup](https://github.com/lowRISC/opentitan/blob/master/hw/top_earlgrey/data/chip_testplan.hjson#L1614)

### Host side component

SystemVerilog

### OpenTitanTool infrastructure implemented

_No response_

### Contact person

@msfschaffner

### Checklist

Please fill out this checklist as items are completed. Link to PRs and issues as appropriate.

[2022-08-09 22:27] #14108 closed

[2022-08-09 22:27] weicaiyang opened #14111 "[chip-test] chip_sw_i2c_device_tx_rx"
### Test point name

[chip_sw_i2c_device_tx_rx](https://github.com/lowRISC/opentitan/blob/07ece748876891301ac6eaba354541d4a57d39c6/hw/top_earlgrey/data/chip_testplan.hjson#L240)

### Host side component

SystemVerilog+Rust

### OpenTitanTool infrastructure implemented

Unknown

### Contact person

@igk8, @drewmacrae

### Checklist

Please fill out this checklist as items are completed. Link to PRs

[2022-08-09 22:28] weicaiyang opened #14112 "Bazel build rules developed"

[2022-08-09 22:29] msfschaffner opened #14113 "[chip-test]"
### Test point name

sdfdsfds

### Host side component

SystemVerilog

### OpenTitanTool infrastructure implemented

Yes

### Contact person

dslifhldfhldsfkhds

### Checklist

Please fill out this checklist as items are completed. Link to PRs and issues as appropriate.
- [ ] Check if existing test covers most or all of this testpoint (if so, either extend said test to cover all points, or skip th

[2022-08-09 22:29] tjaychen opened #14114 "[chip-test] chip_sw_spi_host_tx_rx"
### Test point name

[chip_sw_spi_host_tx_rx](https://github.com/lowRISC/opentitan/blob/ec2c5dee719b65882057e57ce815af238f926b96/hw/top_earlgrey/data/chip_testplan.hjson#L206)

### Host side component

SystemVerilog+Rust

### OpenTitanTool infrastructure implemented

No

### Contact person

martin-lueker

### Checklist

Please fill out this checklist as items are completed. Link to PRs and issues

[2022-08-09 22:29] #14113 closed

[2022-08-09 22:31] eunchan commented on #13855
#14103 prevents that attack (part of it honestly). Then, we may protect `clear_i` input signal in `keccak_round`. Maybe changing it to `mubi4_t` would be sufficient?

[2022-08-09 22:31] tjaychen opened #14115 "[chip-test] chip_sw_sysrst_ctrl_in_irq"
### Test point name

[chip_sw_sysrst_ctrl_in_irq](https://github.com/lowRISC/opentitan/blob/master/hw/top_earlgrey/data/chip_testplan.hjson#L1507)

### Host side component

SystemVerilog+Rust

### OpenTitanTool infrastructure implemented

Unknown

### Contact person

msfschaffner

### Checklist

Please fill out this checklist as items are completed. Link to PRs and issues as appropriate.
- [x] Che

[2022-08-09 22:33] tjaychen opened #14116 "[chip-test] chip_sw_sysrst_ctrl_ec_rst_l"
### Test point name

[chip_sw_sysrst_ctrl_ec_rst_l](https://github.com/lowRISC/opentitan/blob/ad1905ff86ab2ba171b156a4db8717508227a043/hw/top_earlgrey/data/chip_testplan.hjson#L1641)

### Host side component

SystemVerilog+Rust

### OpenTitanTool infrastructure implemented

Unknown

### Contact person

msfschaffner

### Checklist

Please fill out this checklist as items are completed. Link to PRs

[2022-08-09 22:34] cindychip opened #14117 "[chip-test] chip_sw_usb_fs_tx_rx"
### Test point name

[chip_sw_usb_fs_tx_rx](https://github.com/lowRISC/opentitan/blob/master/hw/top_earlgrey/data/chip_testplan.hjson#L257)

### Host side component

SystemVerilog

### OpenTitanTool infrastructure implemented

Unknown

### Contact person

@a-will

### Checklist

Please fill out this checklist as items are completed. Link to PRs and issues as appropriate.
- [x] Check if existing te

[2022-08-09 22:34] tjaychen opened #14119 "[chip-test] chip_sw_sysrst_ctrl_flash_wp_l"
### Test point name

[chip_sw_sysrst_ctrl_flash_wp_l](https://github.com/lowRISC/opentitan/blob/master/hw/top_earlgrey/data/chip_testplan.hjson#L1605)

### Host side component

SystemVerilog+Rust

### OpenTitanTool infrastructure implemented

Unknown

### Contact person

msfschaffner

### Checklist

Please fill out this checklist as items are completed. Link to PRs and issues as appropriate.
- [ ]

[2022-08-09 22:34] matutem opened #14120 "[chip-test] chip_sw_flash_prim_tl_access"
### Test point name

[chip_sw_flash_prim_tl_access](https://github.com/lowRISC/opentitan/blob/ec2c5dee719b65882057e57ce815af238f926b96/hw/top_earlgrey/data/chip_testplan.hjson#L2541)

### Host side component

_No response_

### OpenTitanTool infrastructure implemented

_No response_

### Contact person

tjaychen

### Checklist

Please fill out this checklist as items are completed. Link to PRs and

[2022-08-09 22:35] cindychip opened #14121 "[chip-test] chip_sw_usb_vbus"
### Test point name

[chip_sw_usb_vbus](https://github.com/lowRISC/opentitan/blob/master/hw/top_earlgrey/data/chip_testplan.hjson#L273)

### Host side component

SystemVerilog

### OpenTitanTool infrastructure implemented

Unknown

### Contact person

@a-will

### Checklist

Please fill out this checklist as items are completed. Link to PRs and issues as appropriate.
- [x] Check if existing test c

[2022-08-09 22:36] tjaychen opened #14122 "[chip-test] chip_sw_device_ownership"
### Test point name

[chip_sw_device_ownership](https://github.com/lowRISC/opentitan/blob/master/hw/top_earlgrey/data/chip_testplan.hjson#L2840)

### Host side component

None Required

### OpenTitanTool infrastructure implemented

No

### Contact person

moidx

### Checklist

Please fill out this checklist as items are completed. Link to PRs and issues as appropriate.
- [ ] Check if existing test

[2022-08-09 22:36] weicaiyang opened #14123 "[chip-test] chip_sw_kmac_entropy"
### Test point name

[chip_sw_kmac_entropy](https://github.com/lowRISC/opentitan/blob/07ece748876891301ac6eaba354541d4a57d39c6/hw/top_earlgrey/data/chip_testplan.hjson#L1840)

### Host side component

None required

### OpenTitanTool infrastructure implemented

unknown

### Contact person

@eunchan

### Checklist

Please fill out this checklist as items are completed. Link to PRs and issues as app

[2022-08-09 22:36] timothytrippel opened #14124 "[chip-test] testing template"
### Test point name

something

### Host side component

None Required

### OpenTitanTool infrastructure implemented

Unknown

### Contact person

TimT

### Checklist

Please fill out this checklist as items are completed. Link to PRs and issues as appropriate.
- [ ] Check if existing test covers most or all of this testpoint (if so, either extend said test to cover all points, or skip the next 3

[2022-08-09 22:37] #14124 closed

[2022-08-09 22:37] tjaychen opened #14125 "[chip-test] chip_sw_sram_nmi_wipe"
### Test point name

[chip_sw_sram_nmi_wipe](https://github.com/lowRISC/opentitan/blob/c7cb30c201ff855c9f24a142ead16f29200db80f/hw/top_earlgrey/data/chip_testplan.hjson#L2881)

### Host side component

None Required

### OpenTitanTool infrastructure implemented

No

### Contact person

msfschaffner

### Checklist

Please fill out this checklist as items are completed. Link to PRs and issues as app

[2022-08-09 22:38] msfschaffner opened #14126 "[chip-test] chip_sw_alert_handler_lpg_clock_off"
### Test point name

[chip_sw_alert_handler_lpg_clock_off](https://github.com/lowRISC/opentitan/blob/b65e2705eb4ee814b46939d44f84d1adfee133c3/hw/top_earlgrey/data/chip_testplan.hjson#L1302)

### Host side component

None Required

### OpenTitanTool infrastructure implemented

_No response_

### Contact person

@msfschaffner

### Checklist

Please fill out this checklist as items are completed. Lin

[2022-08-09 22:38] cindychip opened #14127 "[chip-test] chip_sw_usb_suspend"
### Test point name

[chip_sw_usb_suspend](https://github.com/lowRISC/opentitan/blob/master/hw/top_earlgrey/data/chip_testplan.hjson#L288)

### Host side component

SystemVerilog

### OpenTitanTool infrastructure implemented

Unknown

### Contact person

a-will

### Checklist

Please fill out this checklist as items are completed. Link to PRs and issues as appropriate.
- [ ] Check if existing test

[2022-08-09 22:39] tjaychen opened #14128 "[chip-test] chip_sw_data_integrity"
### Test point name

[chip_sw_data_integrity](https://github.com/lowRISC/opentitan/blob/master/hw/top_earlgrey/data/chip_testplan.hjson#L453)

### Host side component

SystemVerilog

### OpenTitanTool infrastructure implemented

No

### Contact person

tjaychen

### Checklist

Please fill out this checklist as items are completed. Link to PRs and issues as appropriate.
- [ ] Check if existing test

[2022-08-09 22:39] cindychip opened #14129 "[chip-test] chip_usb_sof"
### Test point name

[chip_usb_sof] (https://github.com/lowRISC/opentitan/blob/master/hw/top_earlgrey/data/chip_testplan.hjson#L315)

### Host side component

SystemVerilog

### OpenTitanTool infrastructure implemented

Unknown

### Contact person

a-will

### Checklist

Please fill out this checklist as items are completed. Link to PRs and issues as appropriate.
- [ ] Check if existing test cover

[2022-08-09 22:39] msfschaffner opened #14130 "[chip-test] chip_sw_alert_handler_lpg_reset_toggle"
### Test point name

[chip_sw_alert_handler_lpg_reset_toggle](https://github.com/lowRISC/opentitan/blob/b65e2705eb4ee814b46939d44f84d1adfee133c3/hw/top_earlgrey/data/chip_testplan.hjson#L1314)

### Host side component

None Required

### OpenTitanTool infrastructure implemented

_No response_

### Contact person

@msfschaffner

### Checklist

Please fill out this checklist as items are completed.

[2022-08-09 22:40] matutem opened #14131 "[chip-test] chip_sw_keymgr_sideload_kmac"
### Test point name

[chip_sw_keymgr_sideload_kmac](https://github.com/lowRISC/opentitan/blob/ec2c5dee719b65882057e57ce815af238f926b96/hw/top_earlgrey/data/chip_testplan.hjson#L2048)

### Host side component

_No response_

### OpenTitanTool infrastructure implemented

_No response_

### Contact person

_No response_

### Checklist

Please fill out this checklist as items are completed. Link to PR

[2022-08-09 22:41] tjaychen opened #14132 "[chip-test] chip_sw_ast_clk_rst_inputs"
### Test point name

[chip_sw_ast_clk_rst_inputs](https://github.com/lowRISC/opentitan/blob/master/hw/top_earlgrey/data/chip_testplan.hjson#L2583)

### Host side component

SystemVerilog

### OpenTitanTool infrastructure implemented

No

### Contact person

tjaychen

### Checklist

Please fill out this checklist as items are completed. Link to PRs and issues as appropriate.
- [ ] Check if existing

[2022-08-09 22:41] cindychip opened #14133 "[chip-test] chip_usb_wake_debug"
### Test point name

[chip_usb_wake_debug](https://github.com/lowRISC/opentitan/blob/master/hw/top_earlgrey/data/chip_testplan.hjson#L330)

### Host side component

SystemVerilog+Rust

### OpenTitanTool infrastructure implemented

Unknown

### Contact person

@a-will

### Checklist

Please fill out this checklist as items are completed. Link to PRs and issues as appropriate.
- [ ] Check if existin

[2022-08-09 22:41] msfschaffner opened #14134 "[chip-test] chip_sw_alert_handler_reverse_ping_in_deep_sleep"
### Test point name

[chip_sw_alert_handler_reverse_ping_in_deep_sleep](https://github.com/lowRISC/opentitan/blob/b65e2705eb4ee814b46939d44f84d1adfee133c3/hw/top_earlgrey/data/chip_testplan.hjson#L1324)

### Host side component

None Required

### OpenTitanTool infrastructure implemented

_No response_

### Contact person

@msfschaffner

### Checklist

Please fill out this checklist as items are c

[2022-08-09 22:42] weicaiyang opened #14135 "[chip-test] chip_sw_pattgen_ios"
### Test point name

[chip_sw_pattgen_ios](https://github.com/lowRISC/opentitan/blob/07ece748876891301ac6eaba354541d4a57d39c6/hw/top_earlgrey/data/chip_testplan.hjson#L415)

### Host side component

SystemVerilog

### OpenTitanTool infrastructure implemented

Unknown

### Contact person

@Martin-Lueker

### Checklist

Please fill out this checklist as items are completed. Link to PRs and issues as

[2022-08-09 22:42] cindychip opened #14136 "[chip-test] chip_usb_enumeration"
### Test point name

[chip_usb_enumeration](https://github.com/lowRISC/opentitan/blob/master/hw/top_earlgrey/data/chip_testplan.hjson#L340)

### Host side component

SystemVerilog+Rust

### OpenTitanTool infrastructure implemented

No

### Contact person

@a-will

### Checklist

Please fill out this checklist as items are completed. Link to PRs and issues as appropriate.
- [x] Check if existing te

[2022-08-09 22:42] tjaychen opened #14137 "[chip-test] chip_sw_ast_usb_clk_calib"
### Test point name

[chip_sw_ast_usb_clk_calib](https://github.com/lowRISC/opentitan/blob/master/hw/top_earlgrey/data/chip_testplan.hjson#L2601)

### Host side component

SystemVerilog

### OpenTitanTool infrastructure implemented

No

### Contact person

tjaychen

### Checklist

Please fill out this checklist as items are completed. Link to PRs and issues as appropriate.
- [ ] Check if existing

[2022-08-09 22:44] cindychip opened #14138 "[chip-test] chip_sw_alert_handler_entropy"
### Test point name

[chip_sw_alert_handler_entropy](https://github.com/lowRISC/opentitan/blob/c7cb30c201ff855c9f24a142ead16f29200db80f/hw/top_earlgrey/data/chip_testplan.hjson#L1251)

### Host side component

SystemVerilog

### OpenTitanTool infrastructure implemented

Yes

### Contact person

@msfschaffner

### Checklist

Please fill out this checklist as items are completed. Link to PRs and iss

[2022-08-09 22:44] #14112 closed

[2022-08-09 22:45] msfschaffner opened #14139 "[chip-test] chip_sw_otp_ctrl_lc_signals"
### Test point name

[chip_sw_otp_ctrl_lc_signals](https://github.com/lowRISC/opentitan/blob/b65e2705eb4ee814b46939d44f84d1adfee133c3/hw/top_earlgrey/data/chip_testplan.hjson#L2345)

### Host side component

Unknown

### OpenTitanTool infrastructure implemented

_No response_

### Contact person

@msfschaffner

### Checklist

Please fill out this checklist as items are completed. Link to PRs and i

[2022-08-09 22:45] cindychip opened #14140 "[chip-test] chip_sw_alert_handler_crashdump"
### Test point name

[chip_sw_alert_handler_crashdump](https://github.com/lowRISC/opentitan/blob/8365ac4e97ca340e441ff3355fa07862449b9c8d/hw/top_earlgrey/data/chip_testplan.hjson#L1264)

### Host side component

None Required

### OpenTitanTool infrastructure implemented

_No response_

### Contact person

@msfschaffner

### Checklist

Please fill out this checklist as items are completed. Link to

[2022-08-09 22:47] matutem opened #14141 "[chip-test] chip_sw_keymgr_sideload_aes"
### Test point name

[chip_sw_keymgr_sideload_aes](https://github.com/lowRISC/opentitan/blob/ec2c5dee719b65882057e57ce815af238f926b96/hw/top_earlgrey/data/chip_testplan.hjson#L2063)

### Host side component

SystemVerilog

### OpenTitanTool infrastructure implemented

_No response_

### Contact person

@tjaychen

### Checklist

Please fill out this checklist as items are completed. Link to PRs and

[2022-08-09 22:48] msfschaffner opened #14142 "[chip-test] chip_sw_padctrl_attributes"
### Test point name

[chip_sw_padctrl_attributes](https://github.com/lowRISC/opentitan/blob/b65e2705eb4ee814b46939d44f84d1adfee133c3/hw/top_earlgrey/data/chip_testplan.hjson#L406)

### Host side component

SystemVerilog

### OpenTitanTool infrastructure implemented

_No response_

### Contact person

@msfschaffner

### Checklist

Please fill out this checklist as items are completed. Link to PRs a

[2022-08-09 22:48] tjaychen opened #14143 "[chip-test] chip_rv_dm_cpu_debug_mem_not_accessable"
### Test point name

[chip_rv_dm_cpu_debug_mem_not_accessable](https://github.com/lowRISC/opentitan/blob/8365ac4e97ca340e441ff3355fa07862449b9c8d/hw/top_earlgrey/data/chip_testplan.hjson#L527)

### Host side component

SystemVerilog

### OpenTitanTool infrastructure implemented

No

### Contact person

msfschaffner, gregac

### Checklist

Please fill out this checklist as items are completed. Link

[2022-08-09 22:49] weicaiyang opened #14144 "[chip-test]chip_sw_spi_device_flash_mode"
### Test point name

[chip_sw_spi_device_flash_mode](https://github.com/lowRISC/opentitan/blob/07ece748876891301ac6eaba354541d4a57d39c6/hw/top_earlgrey/data/chip_testplan.hjson#L134)

### Host side component

SystemVerilog+Rust

### OpenTitanTool infrastructure implemented

Unknown

### Contact person

@eunchan

### Checklist

Please fill out this checklist as items are completed. Link to PRs and

[2022-08-09 22:50] tjaychen opened #14145 "[chip-test] chip_rv_dm_perform_debug"
### Test point name

[chip_rv_dm_perform_debug](https://github.com/lowRISC/opentitan/blob/master/hw/top_earlgrey/data/chip_testplan.hjson#L517)

### Host side component

SystemVerilog+Rust

### OpenTitanTool infrastructure implemented

Yes

### Contact person

msfschaffner, gregac

### Checklist

Please fill out this checklist as items are completed. Link to PRs and issues as appropriate.
- [x] Ch

[2022-08-09 22:50] msfschaffner opened #14146 "[chip-test] chip_sw_pin_mux"
### Test point name

[chip_sw_pin_mux](https://github.com/lowRISC/opentitan/blob/b65e2705eb4ee814b46939d44f84d1adfee133c3/hw/top_earlgrey/data/chip_testplan.hjson#L351)

### Host side component

SystemVerilog

### OpenTitanTool infrastructure implemented

_No response_

### Contact person

@msfschaffner

### Checklist

Please fill out this checklist as items are completed. Link to PRs and issues a

[2022-08-09 22:50] cindychip opened #14147 "[chip-test] chip_sw_rv_dm_lc_disabled"
### Test point name

[chip_sw_rv_dm_lc_disabled](https://github.com/lowRISC/opentitan/blob/8365ac4e97ca340e441ff3355fa07862449b9c8d/hw/top_earlgrey/data/chip_testplan.hjson#L592)

### Host side component

SystemVerilog+Rust

### OpenTitanTool infrastructure implemented

Unknown

### Contact person

@msfschaffner

### Checklist

Please fill out this checklist as items are completed. Link to PRs and

[2022-08-09 22:50] weicaiyang opened #14148 "[chip-test] chip_sw_spi_device_pass_through"
### Test point name

[chip_sw_spi_device_pass_through](https://github.com/lowRISC/opentitan/blob/07ece748876891301ac6eaba354541d4a57d39c6/hw/top_earlgrey/data/chip_testplan.hjson#L147)

### Host side component

SystemVerilog+Rust

### OpenTitanTool infrastructure implemented

Unknown

### Contact person

@eunchan

### Checklist

Please fill out this checklist as items are completed. Link to PRs an

[2022-08-09 22:51] tjaychen opened #14149 "[chip-test] chip_rv_dm_ndm_reset_req_when_cpu_halted"
### Test point name

[chip_rv_dm_ndm_reset_req_when_cpu_halted](https://github.com/lowRISC/opentitan/blob/8365ac4e97ca340e441ff3355fa07862449b9c8d/hw/top_earlgrey/data/chip_testplan.hjson#L558)

### Host side component

_No response_

### OpenTitanTool infrastructure implemented

_No response_

### Contact person

msfchaffner, gregac

### Checklist

Please fill out this checklist as items are comp

[2022-08-09 22:52] cindychip opened #14150 "[chip-test] chip_sw_rv_dm_jtag_tap_sel"
### Test point name

[chip_sw_rv_dm_jtag_tap_sel](https://github.com/lowRISC/opentitan/blob/8365ac4e97ca340e441ff3355fa07862449b9c8d/hw/top_earlgrey/data/chip_testplan.hjson#L580)

### Host side component

SystemVerilog+Rust

### OpenTitanTool infrastructure implemented

Unknown

### Contact person

@msfschaffner

### Checklist

Please fill out this checklist as items are completed. Link to PRs an

[2022-08-09 22:52] msfschaffner opened #14151 "[chip-test] chip_sw_normal_sleep_pin_mio_dio_val"
### Test point name

chip_sw_normal_sleep_pin_mio_dio_val

### Host side component

None Required

### OpenTitanTool infrastructure implemented

_No response_

### Contact person

@msfschaffner

### Checklist

Please fill out this checklist as items are completed. Link to PRs and issues as appropriate.
- [ ] Check if existing test covers most or all of this testpoint (if so, either extend said tes

[2022-08-09 22:53] tjaychen opened #14152 "[chip-test] chip_rv_dm_access_after_wakeup"
### Test point name

[chip_rv_dm_access_after_wakeup](https://github.com/lowRISC/opentitan/blob/8365ac4e97ca340e441ff3355fa07862449b9c8d/hw/top_earlgrey/data/chip_testplan.hjson#L570)

### Host side component

SystemVerilog

### OpenTitanTool infrastructure implemented

No

### Contact person

msfschaffner, tjaychen

### Checklist

Please fill out this checklist as items are completed. Link to PRs

[2022-08-09 22:53] msfschaffner commented on #14151
This test still needs to be added to the chip-level testplan.

[2022-08-09 22:53] cindychip opened #14153 "[chip-test] chip_sw_pwrmgr_debug_sleep"
### Test point name

[chip_sw_pwrmgr_debug_sleep](https://github.com/lowRISC/opentitan/blob/8365ac4e97ca340e441ff3355fa07862449b9c8d/hw/top_earlgrey/data/chip_testplan.hjson#L1082)

### Host side component

SystemVerilog+Rust

### OpenTitanTool infrastructure implemented

Unknown

### Contact person

@msfschaffner

### Checklist

Please fill out this checklist as items are completed. Link to PRs a

[2022-08-09 22:54] weicaiyang opened #14154 "[chip-test] chip_sw_spi_device_pass_through_filter"
### Test point name

[chip_sw_spi_device_pass_through_filter](https://github.com/lowRISC/opentitan/blob/07ece748876891301ac6eaba354541d4a57d39c6/hw/top_earlgrey/data/chip_testplan.hjson#L166)

### Host side component

SystemVerilog+Rust

### OpenTitanTool infrastructure implemented

Unknown

### Contact person

@eunchan

### Checklist

Please fill out this checklist as items are completed. Link to

[2022-08-09 22:54] msfschaffner opened #14155 "[chip-test] chip_sw_sleep_pin_mio_dio_val"
### Test point name

[chip_sw_sleep_pin_mio_dio_val](https://github.com/lowRISC/opentitan/blob/b65e2705eb4ee814b46939d44f84d1adfee133c3/hw/top_earlgrey/data/chip_testplan.hjson#L361)

### Host side component

None Required

### OpenTitanTool infrastructure implemented

_No response_

### Contact person

@msfschaffner

### Checklist

Please fill out this checklist as items are completed. Link to PR

[2022-08-09 22:54] tjaychen opened #14156 "[chip-test] chip_sw_secure_boot"
### Test point name

[chip_sw_secure_boot](https://github.com/lowRISC/opentitan/blob/master/hw/top_earlgrey/data/chip_testplan.hjson#L2813)

### Host side component

None Required

### OpenTitanTool infrastructure implemented

No

### Contact person

alphan

### Checklist

Please fill out this checklist as items are completed. Link to PRs and issues as appropriate.
- [ ] Check if existing test cov

[2022-08-09 22:55] msfschaffner opened #14157 "[chip-test] chip_sw_random_sleep_pin_mio_dio_val"
### Test point name

chip_sw_random_sleep_pin_mio_dio_val

### Host side component

None Required

### OpenTitanTool infrastructure implemented

_No response_

### Contact person

@msfschaffner

### Checklist

Please fill out this checklist as items are completed. Link to PRs and issues as appropriate.
- [ ] Check if existing test covers most or all of this testpoint (if so, either extend said tes

[2022-08-09 22:55] weicaiyang opened #14158 "[chip-test] chip_sw_spi_device_pass_through_flash_model"
### Test point name

[chip_sw_spi_device_pass_through_flash_model](https://github.com/lowRISC/opentitan/blob/07ece748876891301ac6eaba354541d4a57d39c6/hw/top_earlgrey/data/chip_testplan.hjson#L181)

### Host side component

SystemVerilog+Rust

### OpenTitanTool infrastructure implemented

Unknown

### Contact person

@eunchan

### Checklist

Please fill out this checklist as items are completed. Li

[2022-08-09 22:55] msfschaffner commented on #14157
This test still needs to be added to the chip-level testplan.

[2022-08-09 22:55] tjaychen commented on #13855
ah wait, #14103 is probably sufficient then.

[2022-08-09 22:56] matutem opened #14159 "[chip-test] chip_sw_keymgr_sideload_otbn"
### Test point name

[chip_sw_keymgr_sideload_otbn](https://github.com/lowRISC/opentitan/blob/ec2c5dee719b65882057e57ce815af238f926b96/hw/top_earlgrey/data/chip_testplan.hjson#L2072)

### Host side component

SystemVerilog

### OpenTitanTool infrastructure implemented

_No response_

### Contact person

@tjaychen

### Checklist

Please fill out this checklist as items are completed. Link to PRs an

[2022-08-09 22:57] msfschaffner opened #14160 "[chip-test] chip_sw_sleep_pin_wake"
### Test point name

[chip_sw_sleep_pin_wake](https://github.com/lowRISC/opentitan/blob/b65e2705eb4ee814b46939d44f84d1adfee133c3/hw/top_earlgrey/data/chip_testplan.hjson#L375)

### Host side component

None Required

### OpenTitanTool infrastructure implemented

_No response_

### Contact person

@msfschaffner

### Checklist

Please fill out this checklist as items are completed. Link to PRs and i

[2022-08-09 22:57] weicaiyang opened #14161 "HJSON test plan updated with test name (so it shows up in the dashboard)"

[2022-08-09 22:58] msfschaffner opened #14162 "[chip-test] chip_sw_deep_sleep_pin_wake"
### Test point name

chip_sw_deep_sleep_pin_wake

### Host side component

None Required

### OpenTitanTool infrastructure implemented

_No response_

### Contact person

@msfschaffner

### Checklist

Please fill out this checklist as items are completed. Link to PRs and issues as appropriate.
- [ ] Check if existing test covers most or all of this testpoint (if so, either extend said test to cove

[2022-08-09 22:59] msfschaffner commented on #14162
This still needs to be added to the chip-level testplan.

[2022-08-09 22:59] msfschaffner opened #14163 "[chip-test] chip_sw_random_sleep_pin_wake"
### Test point name

chip_sw_random_sleep_pin_wake

### Host side component

None Required

### OpenTitanTool infrastructure implemented

_No response_

### Contact person

@msfschaffner

### Checklist

Please fill out this checklist as items are completed. Link to PRs and issues as appropriate.
- [ ] Check if existing test covers most or all of this testpoint (if so, either extend said test to co

[2022-08-09 23:00] msfschaffner commented on #14163
This still needs to be added to the chip-level testplan.

[2022-08-09 23:00] msfschaffner opened #14164 "[chip-test] chip_sw_pwrmgr_random_sleep_power_glitch_reset"
### Test point name

chip_sw_pwrmgr_random_sleep_power_glitch_reset

### Host side component

None Required

### OpenTitanTool infrastructure implemented

_No response_

### Contact person

@msfschaffner

### Checklist

Please fill out this checklist as items are completed. Link to PRs and issues as appropriate.
- [ ] Check if existing test covers most or all of this testpoint (if so, either exten

[2022-08-09 23:01] msfschaffner commented on #14164
This still needs to be added to the chip-level testplan.

[2022-08-09 23:01] weicaiyang opened #14165 "[chip-test] chip_sw_pwrmgr_escalation_reset"
### Test point name

[chip_sw_pwrmgr_escalation_reset](https://github.com/lowRISC/opentitan/blob/07ece748876891301ac6eaba354541d4a57d39c6/hw/top_earlgrey/data/chip_testplan.hjson#L1082)

### Host side component

None Required

### OpenTitanTool infrastructure implemented

Unknown

### Contact person

@tjaychen

### Checklist

Please fill out this checklist as items are completed. Link to PRs and i

[2022-08-09 23:01] msfschaffner opened #14166 "[chip-test] chip_sw_pwrmgr_random_sleep_all_wake_ups"
### Test point name

chip_sw_pwrmgr_random_sleep_all_wake_ups

### Host side component

None Required

### OpenTitanTool infrastructure implemented

_No response_

### Contact person

@msfschaffner

### Checklist

Please fill out this checklist as items are completed. Link to PRs and issues as appropriate.
- [ ] Check if existing test covers most or all of this testpoint (if so, either extend said

[2022-08-09 23:02] eunchan commented on #13855
Anyhow, I think changing `clear_i` to `mubi4_t` is a good option too. Let me implement that. Thanks for the input!

[2022-08-09 23:02] msfschaffner commented on #14166
This still needs to be added to the chip-level testplan.

[2022-08-09 23:03] weicaiyang opened #14167 "[chip-test] chip_sw_rstmgr_escalation_reset"
### Test point name

[chip_sw_rstmgr_escalation_reset](https://github.com/lowRISC/opentitan/blob/07ece748876891301ac6eaba354541d4a57d39c6/hw/top_earlgrey/data/chip_testplan.hjson#L1185)

### Host side component

None Required

### OpenTitanTool infrastructure implemented

Unknown

### Contact person

@tjaychen

### Checklist

Please fill out this checklist as items are completed. Link to PRs and i

[2022-08-09 23:03] msfschaffner opened #14168 "[chip-test] chip_sw_nmi_irq"
### Test point name

[chip_sw_nmi_irq](https://github.com/lowRISC/opentitan/blob/b65e2705eb4ee814b46939d44f84d1adfee133c3/hw/top_earlgrey/data/chip_testplan.hjson#L2662)

### Host side component

None Required

### OpenTitanTool infrastructure implemented

_No response_

### Contact person

@msfschaffner

### Checklist

Please fill out this checklist as items are completed. Link to PRs and issues

[2022-08-09 23:06] cindychip opened #14169 "[chip-test] chip_sw_lc_ctrl_broadcast"
### Test point name

[chip_sw_lc_ctrl_broadcast](https://github.com/lowRISC/opentitan/blob/1c178b8a22cd4491237b48e9400f43b419af7c1a/hw/top_earlgrey/data/chip_testplan.hjson#L1465)

### Host side component

None Required

### OpenTitanTool infrastructure implemented

_No response_

### Contact person

@msfschaffner

### Checklist

Please fill out this checklist as items are completed. Link to PRs a

[2022-08-09 23:08] cindychip opened #14170 "[chip-test] chip_sw_lc_ctrl_key_div"
### Test point name

[chip_sw_lc_ctrl_key_div](https://github.com/lowRISC/opentitan/blob/1c178b8a22cd4491237b48e9400f43b419af7c1a/hw/top_earlgrey/data/chip_testplan.hjson#L1453)

### Host side component

None Required

### OpenTitanTool infrastructure implemented

_No response_

### Contact person

@tjaychen

### Checklist

Please fill out this checklist as items are completed. Link to PRs and iss

[2022-08-09 23:10] matutem opened #14171 "[chip-test] chip_sw_kmac_app_keymgr"
### Test point name

[chip_sw_kmac_app_keymgr](https://github.com/lowRISC/opentitan/blob/ec2c5dee719b65882057e57ce815af238f926b96/hw/top_earlgrey/data/chip_testplan.hjson#L1796)

### Host side component

_No response_

### OpenTitanTool infrastructure implemented

_No response_

### Contact person

@eunchan

### Checklist

Please fill out this checklist as items are completed. Link to PRs and issu

[2022-08-09 23:10] cindychip opened #14172 "[chip-test] chip_sw_lc_ctrl_kmac_reset"
### Test point name

[chip_sw_lc_ctrl_kmac_reset](https://github.com/lowRISC/opentitan/blob/master/hw/top_earlgrey/data/chip_testplan.hjson#L1422)

### Host side component

SystemVerilog

### OpenTitanTool infrastructure implemented

_No response_

### Contact person

@msfschaffner

### Checklist

Please fill out this checklist as items are completed. Link to PRs and issues as appropriate.
- [ ] C

[2022-08-09 23:11] cindychip commented on #14172
PR：https://github.com/lowRISC/opentitan/pull/14099

[2022-08-09 23:19] weicaiyang commented on #14171
This test can cross-reference with #14131. Once #14131 is done, we can close this too.

[2022-08-09 23:36] cindychip opened #14173 "[chip-test] chip_sw_prim_tl_access"
### Test point name

chip_sw_otp_prim_tl_access

### Host side component

None Required

### OpenTitanTool infrastructure implemented

_No response_

### Contact person

@msfschaffner

### Checklist

Please fill out this checklist as items are completed. Link to PRs and issues as appropriate.
- [ ] Check if existing test covers most or all of this testpoint (if so, either extend said test to cover

[2022-08-09 23:36] cindychip commented on #14173
Also remember to add a testplan entry.

[2022-08-09 23:37] weicaiyang commented on #14142
@sriyerg suggested doing this in stub_cpu mode

Also related to https://github.com/lowRISC/opentitan/issues/12103

[2022-08-09 23:57] hcindyl opened #14174 "sw/device/silicon_creator/lib/drivers/spi_device_unittest failed to build with gcc-12"
Debian testing recently updated the default gcc and g++ to gcc-12 and g++-12, which cause the build breakage for some of the SW targets

[code]

[2022-08-10 00:10] msfschaffner commented on #13704
I think we still need to wait for #13701 to be addressed before we can close this...

[2022-08-10 00:39] msfschaffner commented on #14151
We've decided to not implement this testpoint, since it should already be covered by https://github.com/lowRISC/opentitan/issues/14157.

[2022-08-10 00:39] #14151 closed

[2022-08-10 00:40] msfschaffner commented on #14162
We've decided to not implement this testpoint since it is already covered by https://github.com/lowRISC/opentitan/issues/14163.

[2022-08-10 00:40] #14162 closed

[2022-08-10 08:17] jadephilipoom commented on #14141
I think this test is covered already, as long as "encrypt, decrypt, and check if the plaintext matches the original" is a sufficient test. @weicaiyang what do you think? Does anything more need to be done here?

https://github.com/lowRISC/opentitan/blob/9c0b24ddbeb5616bd8db661ec1395f2d4f326bc4/hw/top_earlgrey/dv/chip_sim_cfg.hjson#L700-L706

[2022-08-10 09:57] jadephilipoom commented on #5771
I think there should be no issue with padding using zeroes in this case. Since a lot of the ROM is based on open-source code, the attacker already has a lot of known plaintext to work with; I don't see why adding a few extra zeroes would cause a problem that the known code doesn't already cause. But maybe I've missed a reason why these would be an issue? @cdgori , was there another reason for avoi

[2022-08-10 12:21] johannheyszl commented on #5771
@jadephilipoom thank you and agree.

Mem sizes are listed here https://docs.opentitan.org/hw/top_earlgrey/doc/
32kB ROM means 4k = 2^12 plaintext/ciphertext pairs.
This should mean 126-12=114 bits of security which should be sufficient here (attacker has to extract image first).

@moidx and @cdgori do you remember any other reason for avoiding zeros that we are missing?

[2022-08-10 14:41] HU90m commented on #13215
Added in https://github.com/lowRISC/opentitan/pull/13729

[2022-08-10 14:41] #13215 closed

[2022-08-10 14:55] #13330 closed

[2022-08-10 14:56] #11543 closed

[2022-08-10 14:56] #11545 closed

[2022-08-10 15:27] dmcardle commented on #13807
The `updatemem` command doesn't seem to care, as long as the filename ends with ".bit". We already give it filenames ending with "0.1.splice.bit".

I'm of two minds about the explicit tagging `a=b` style. It's easier to parse mechanically, and it gives the reader a hint about what other values might be possible. On the other hand, it's more verbose and may be harder for humans to scan visually. If

[2022-08-10 15:28] tjaychen commented on #12773
@jdonjdon can this be closed now?

[2022-08-10 15:31] jdonjdon commented on #12773
Can you review #13862 before closing?

[2022-08-10 15:45] GregAC opened #14180 "[rtl, rv_core_ibex] Desired icache scrambling key request behaviour and `FENCE.I`"
Currently Ibex will request a new icache scrambling key on an execution of `FENCE.I`. When a new scramble key is available all tags are rewritten as invalid using the new scramble key.

In the meantime Ibex will continue to execute. Instruction fetches still go to the icache but are effectively forced to miss and fetched directly from memory over the tilelink bus. This means you just see reduced p

[2022-08-10 16:24] cindychip commented on #14173
https://github.com/lowRISC/opentitan/pull/14181 testplan entry

[2022-08-10 17:14] tjaychen opened #14183 "[entropy_src/sha3] Hook-up reset storage error"
sha3 has added a security feature #14103 to ensure that storage resets/clears cannot be easily attacked. If attacked, this would result in the storage being all 0, which is very undesirable for the sha3 condition use case.

This issue is filed to make sure we hook-up the error indication as a proper alert.

[2022-08-10 17:16] dmcardle commented on #13521
Apparently, Ubuntu 18.04 will be "fully unsupported" on GitHub Actions as of 12/1/22. https://github.com/actions/runner-images/issues/6002

Has the timeline changed, or is this distinct from the support schedule on Azure Pipelines?

[2022-08-10 17:25] #8928 closed

[2022-08-10 17:26] eunchan commented on #13816
As the changes have been merged, let me close this issue. Please re-open if hit the same issue.

[2022-08-10 17:26] #13816 closed

[2022-08-10 17:27] weicaiyang commented on #13816
Thanks @eunchan

[2022-08-10 18:07] msfschaffner commented on #13995
Yes, good idea - let's add this to the style guide.

[2022-08-10 18:07] #13995 closed

[2022-08-10 19:35] weicaiyang commented on #14141
@jadephilipoom yes, just need to check the sideload key and the output of aes on SV side. I will make a PR to link keep chip_sw_aes_sideload  to this testpoint. Let's keep this open until the check is added.

[2022-08-10 19:38] alphan opened #14185 "[sw/silicon_creator] Potentially unused OTP words"
I noticed that the `ROM_FAULT_RESPONSE` OTP item is not used. Creating this issue to track a second pass over `otp_ctrl_mmap.hjson`.

[2022-08-10 20:21] eunchan commented on #13595
As the design change has been merged, I will close this issue.

[2022-08-10 20:21] #13595 closed

[2022-08-10 20:22] eunchan commented on #11116
I am working on this issue.

[2022-08-10 20:34] tjaychen commented on #11116
wait actually i just realized, we probably cannot place `lc_ctrl` into that same cateogry.
One of the first token checks for `lc_ctrl` happens before the device is provisioned in any way (the ROM won't even be running).  `lc_ctrl` probably needs to be allowed in `ResetState` also.

`keymgr` may be the only one that can require uniform entropy.

@msfschaffner
@cindychip

[2022-08-10 20:36] eunchan commented on #11116
Thanks for the info @tjaychen . Then, probably, `EnUniformEntropy` and set to `KeyMgr` app interface only would be better and raises an error (or alert) if KeyMgr AppIntf anyhow requests KMAC operation without proper entropy configurations.

[2022-08-10 20:58] matutem commented on #14092
A workaround is created in https://github.com/lowRISC/opentitan/issues/14092. A better solution needs to be implemented once Sri has had a chance to provide feedback.

[2022-08-10 21:21] tjaychen commented on #14180
@GregAC thanks for the really well worded issue.

1.  To your question on whether we should make it a requirement that we get a new scramble key..
I think we actually want to require that. Since there is no separate mechanism to request a scramble key, it feels like we have to guarantee it, otherwise the hardware behavior may be slightly different from what the user expects. I know you're pointing

[2022-08-10 22:18] msfschaffner opened #14192 "[test-triage] chip_tap_straps_dev"
### Hierarchy of regression failure

Chip Level

### Failure Description

UVM_FATAL @ * us: (mem_bkdr_util.sv:480) [mem_bkdr_util[Rom]] file test_rom_sim_dv.scr.*.vmem could not be opened for r mode has 15 failures:

### Steps to Reproduce

- GH revision: [9c0b24ddb](https://github.com/lowrisc/opentitan/tree/9c0b24ddbeb5616bd8db661ec1395f2d4f326bc4)
- util/dvsim/dvsim.py hw/top_earlgrey/dv/chip_si

[2022-08-10 22:25] moidx opened #14193 "[chip-test] chip_sw_entropy_src_cs_aes_halt"
### Test point name

[chip_sw_entropy_src_cs_aes_halt](https://cs.opensource.google/opentitan/opentitan/+/master:hw/top_earlgrey/data/chip_testplan.hjson?q=chip_sw_entropy_src_cs_aes_halt)

### Host side component

_No response_

### OpenTitanTool infrastructure implemented

_No response_

### Contact person

martin-lueker

### Checklist

Please fill out this checklist as items are completed. Link

[2022-08-10 22:26] cindychip opened #14194 "[test-triage] chip_sw_gpio"
### Hierarchy of regression failure

Chip Level

### Failure Description

  Offending '(!$isunknown(intr_gpio_o))'
  UVM_ERROR @ 3594.763392 us: (gpio.sv:187) [ASSERT FAILED] IntrGpioKnown

### Steps to Reproduce

- GH revision: [9c0b24ddb](https://github.com/lowrisc/opentitan/tree/9c0b24ddbeb5616bd8db661ec1395f2d4f326bc4)
- util/dvsim/dvsim.py hw/top_earlgrey/dv/chip_sim_cfg.hjson -i chip_sw_gpio

[2022-08-10 22:32] jdonjdon opened #14195 "[test-triage] chip_jtag_mem_access"
### Hierarchy of regression failure

Chip Level

### Failure Description

      Offending '(dmem_rdata_bus == 'b0)'
  UVM_ERROR @ 9128.296472 us: (otbn.sv:1217) [ASSERT FAILED] NonIdleDmemReadsZero_A

### Steps to Reproduce

GH revision: [9c0b24ddb](https://github.com/lowrisc/opentitan/tree/9c0b24ddbeb5616bd8db661ec1395f2d4f326bc4)
util/dvsim/dvsim.py hw/top_earlgrey/dv/chip_sim_cfg.hjson -i chip_

[2022-08-10 22:32] cindychip opened #14196 "[test-triage] chip_sw_otbn_mem_scramble"
### Hierarchy of regression failure

Chip Level

### Failure Description

      Offending '(((((((((!d_mask[0]) || (d_mask[0] && (!$isunknown(d_data[(8 * 0)+:8])))) && ((!d_mask[1]) || (d_mask[1] && (!$isunknown(d_data[(8 * 1)+:8]))))) && ((!d_mask[2]) || (d_mask[2] && (!$isunknown(d_data[(8 * 2)+:8]))))) && ((!d_mask[3]) || (d_mask[3] && (!$isunknown(d_data[(8 * 3)+:8]))))) && ((!d_mask[4]) || (d

[2022-08-10 22:33] cindychip commented on #14196
This is duplicated with issue https://github.com/lowRISC/opentitan/issues/13974

[2022-08-10 22:33] weicaiyang opened #14197 "[test-triage] chip_sw_uart_tx_rx_alt_clk_freq_low_speed"
### Hierarchy of regression failure

Chip Level

### Failure Description

Job chip_earlgrey_asic-sim-vcs_run_default killed due to: **Exit reason: User job exceeded runlimit**: User job timed out has 7 failures:

Test chip_sw_uart_tx_rx_alt_clk_freq_low_speed has 1 failures.

0.chip_sw_uart_tx_rx_alt_clk_freq_low_speed.4088507876
Log /container/opentitan-public/scratch/os_regression/chip_earlgrey_

[2022-08-10 22:35] jdonjdon opened #14198 "[test-triage] chip_rv_dm_ndm_reset_req"
### Hierarchy of regression failure

Chip Level

### Failure Description

  UVM_ERROR @ 4213.817590 us: (sw_logger_if.sv:521) [rv_dm_ndm_reset_req_prog_sim_dv(sw/device/tests/sim_dv/rv_dm_ndm_reset_req.c:214)] CHECK-fail: reg[1]: obs:0x0  exp:0x44

### Steps to Reproduce

GH revision: [9c0b24ddb](https://github.com/lowrisc/opentitan/tree/9c0b24ddbeb5616bd8db661ec1395f2d4f326bc4)
util/dvsim/dvsim.p

[2022-08-10 22:38] cindychip opened #14199 "[test-triage] chip_sw_uart_tx_rx_alt_clk_freq"
### Hierarchy of regression failure

Chip Level

### Failure Description

  Offending '(!src_busy_o)'
  UVM_ERROR @ 2732.849361 us: (ast_pulse_sync.sv:144) [ASSERT FAILED] NewPulseWhenSrcBusy
  UVM_INFO @ 2732.849361 us: (uvm_report_catcher.svh:705) [UVM/REPORT/CATCHER]
  --- UVM Report catcher Summary ---

### Steps to Reproduce

- GH revision: [9c0b24ddb](https://github.com/lowrisc/opentitan/tre

[2022-08-10 22:39] msfschaffner opened #14200 "[test-triage] chip_tl_errors"
### Hierarchy of regression failure

Chip Level

### Failure Description

UVM_ERROR @ * us: (cip_base_scoreboard.sv:433) [scoreboard] Check failed item.d_error == exp_d_error (* [*] vs * [*]) On interface chip_reg_block, TL item: req: (cip_tl_seq_item@34189) { a_addr: * a_data: * a_mask: * a_size: * a_param: * a_source: * a_opcode: * a_user: * d_param: * d_source: * d_data: * d_size: * d_opcode: *

[2022-08-10 22:39] weicaiyang opened #14201 "[test-triage] chip_sw_hmac_enc_irq"
### Hierarchy of regression failure

Chip Level

### Failure Description

   - /workspace/mnt/repo_top/sw/device/tests/hmac_enc_irq_test
  WARNING: Target pattern parsing failed.
  Analyzing: 0 targets (0 packages loaded)
  ERROR: no such package 'sw/device/tests/hmac_enc_irq_test': BUILD file not found in any of the following directories. Add a BUILD file to a directory to mark it as a package.

[2022-08-10 22:40] jdonjdon opened #14202 "[test-triage] chip_sw_pwrmgr_random_sleep_all_reset_reqs"
### Hierarchy of regression failure

Chip Level

### Failure Description

  UVM_FATAL @ 17433.896718 us: (dv_utils_pkg.sv:147) [uvm_test_top.env.virtual_sequencer.chip_sw_random_sleep_all_reset_vseq] 1-
  UVM_INFO @ 17433.896718 us: (uvm_report_catcher.svh:705) [UVM/REPORT/CATCHER]
  --- UVM Report catcher Summary ---
UVM_FATAL @ * us: (dv_utils_pkg.sv:147) [chip_sw_deep_sleep_all_reset_vseq] wait

[2022-08-10 22:41] weicaiyang commented on #14201
Related to https://github.com/lowRISC/opentitan/issues/13999

[2022-08-10 22:44] msfschaffner commented on #14200
Note that there are multiple seeds that fail with this error mode.

[2022-08-10 22:45] jdonjdon opened #14203 "[test-triage] chip_sw_entropy_src_smoketest"
### Hierarchy of regression failure

Chip Level

### Failure Description
UVM_ERROR @ * us: (sw_test_status_if.sv:75) [tb.u_sim_sram.u_sim_sram_if.u_sw_test_status_if] ==== SW TEST FAILED ==== has 1 failures:

Test chip_sw_entropy_src_smoketest has 1 failures.
0.chip_sw_entropy_src_smoketest.199281036
Line 407, in log /container/opentitan-public/scratch/os_regression/chip_earlgrey_asic-sim-vcs/0.ch

[2022-08-10 22:47] msfschaffner opened #14204 "[test-triage] chip_same_csr_outstanding"
### Hierarchy of regression failure

Chip Level

### Failure Description

~~UVM_ERROR @ * us: (cip_base_vseq.sv:250) [chip_common_vseq] Check failed masked_data == exp_data (* [*] vs * [*]) addr * read out mismatch has 1 failures:~~

New error message:
UVM_ERROR @ 5596.731437 us: (tl_monitor.sv:179) uvm_test_top.env.m_tl_agent_chip_reg_block.monitor [uvm_test_top.env.m_tl_agent_chip_reg_block.moni

[2022-08-10 22:47] cindychip opened #14205 "[test-triage] chip_sw_alert_handler_escalation"
### Hierarchy of regression failure

Chip Level

### Failure Description

UVM_ERROR @ 3935.230296 us: (chip_base_vseq.sv:159) uvm_test_top.env.virtual_sequencer [uvm_test_top.env.virtual_sequencer.chip_sw_alert_handler_escalation_vseq] lc_escalate_en_o: 0xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

[2022-08-10 22:48] matutem opened #14206 "[test-triage] chip_sw_rv_core_ibex_rnd"
### Hierarchy of regression failure

Chip Level

### Failure Description

  ERROR: Skipping 'sw/device/tests/rv_core_ibex_rnd_test:1_sim_dv': no such package 'sw/device/tests/rv_core_ibex_rnd_test': BUILD file not found in any of the following directories. Add a BUILD file to a directory to mark it as a package.

### Steps to Reproduce

- GH revision: [9c0b24ddb](https://github.com/lowrisc/opentit

[2022-08-10 22:48] tjaychen commented on #14195
related to #14066

[2022-08-10 22:49] weicaiyang opened #14207 "[test-triage] chip_sw_uart_tx_rx_bootstrap"
### Hierarchy of regression failure

Chip Level

### Failure Description

UVM_FATAL @ * us: (dv_utils_pkg.sv:147) [chip_sw_uart_tx_rx_vseq] wait timeout occurred! has 1 failures:

### Steps to Reproduce

- Commit hash where failure was observed
- dvsim invocation command to reproduce the failure, inclusive of build and run seeds
- Kokoro build number if applicable

### Tests with similar or relate

[2022-08-10 22:50] weicaiyang commented on #14207
Put it on hold until we finish verifying spi_device flash model in block level.

[2022-08-10 22:50] jdonjdon opened #14208 "[test-triage] chip_sw_flash_init"
### Hierarchy of regression failure

Chip Level

### Failure Description

  UVM_ERROR @ 7170.060233 us: (chip_sw_flash_init_vseq.sv:236) [uvm_test_top.env.virtual_sequencer.chip_sw_flash_init_vseq] Check failed creator_seed == last_creator_seed (111645113955757300911896600289800587841820841695858686554670916370475312786582 [0xf6d4e529c9f758f873d25a17251fbe68478b95e538de6eb34dfa33f033a4ac96] vs 106

[2022-08-10 22:56] tjaychen commented on #14203
related to #13981

[2022-08-10 22:57] msfschaffner opened #14209 "[test-triage] mask_rom_e2e_bootup_success"
### Hierarchy of regression failure

Chip Level

### Failure Description

Test mask_rom_e2e_bootup_success has 1 failures.

0.mask_rom_e2e_bootup_success.3436865675
Log /container/opentitan-public/scratch/os_regression/chip_earlgrey_asic-sim-vcs/0.mask_rom_e2e_bootup_success/out/run.log

  Loading: 0 packages loaded
  Loading: 0 packages loaded
  ERROR: Skipping '//sw/device/silicon_creator/mask_r

[2022-08-10 23:00] weicaiyang opened #14210 "[test-triage] chip_sw_uart_smoketest_signed"
### Hierarchy of regression failure

Chip Level

### Failure Description

  UVM_ERROR @ 20013.398695 us: (chip_sw_base_vseq.sv:218) uvm_test_top.env.virtual_sequencer [uvm_test_top.env.virtual_sequencer.chip_sw_base_vseq] SW TEST TIMED OUT. STATE: SwTestStatusBooted, TIMEOUT = 20000000 ns

### Steps to Reproduce

GH revision: [9c0b24ddb](https://github.com/lowrisc/opentitan/tree/9c0b24ddbeb5616bd8

[2022-08-10 23:01] weicaiyang commented on #14210
@timothytrippel

I increased the run-time for this test, but it still timed out. Sounds like it's not just due to the test timeout limit.

The one (chip_sw_uart_smoketest) without the "signed" is passing now (thanks to your recent update). Not sure if you have a clue what may cause the failure?

[2022-08-10 23:03] weicaiyang commented on #14199
Depend on #13893

[2022-08-10 23:31] weicaiyang commented on #14192
The straps tests were passing before. The test doesn't really need to run any SW test, but it needs to load a rom image to pass the rom check. Seems like the vmem is no longer generated after https://github.com/lowRISC/opentitan/pull/13863 is landed?

[2022-08-10 23:31] cindychip commented on #14072
Thanks Tim, so I think we are safe to close this issue but leave #14086 open.

[2022-08-10 23:31] #14072 closed

[2022-08-10 23:33] cindychip commented on #14172
PR #14099 merged

[2022-08-10 23:33] #14172 closed

[2022-08-11 00:07] msfschaffner commented on #14072
RE

That is correct - we first increment the counter before sending anything to KMAC. Hence the outcome is essentially the same.

[2022-08-11 00:31] jdonjdon opened #14213 "[flash_ctrl] Please review this assertion if it is valid"
https://github.com/lowRISC/opentitan/blob/ca7f4841917235e26c9c69ef673bb453804ecaad/hw/ip/flash_ctrl/rtl/flash_phy_rd.sv#L727

It triggers any rd_test failure including slow flash interrupt test.

[2022-08-11 01:07] eunchan commented on #11116
Hum, then, KMAC has three kinds of applications. KeyMgr, which shall run only with uniformly distributed random variables. LC_CTRL, which may run at reset state + with entropy after config. ROM_CTRL, which runs only at reset state.

Then, we may define three modes and check if the application interface requests any time other than their expected config.

[2022-08-11 02:18] tjaychen commented on #11116
i think it may be simpler to just say that lc_ctrl / rom_ctrl are allowed to run at reset state, but keymgr is not.
The issue with lc_ctrl is that it needs to support rma transition, so there's no good rule to say when it can be guaranteed to have good entropy.

[2022-08-11 02:27] tjaychen commented on #14213
wait...i thought in a previous PR of yours you already removed this?

[2022-08-11 02:39] jdonjdon commented on #14213
I removed in my local. If you are ok, I can add to interrupt PR

[2022-08-11 02:46] tjaychen commented on #14213
ah sounds good! hmm.. maybe i'll make a PR for it, so i can leave a comment or something. I've already forgotten what i discovered during the debug process...sigh...

[2022-08-11 02:47] jdonjdon commented on #14213
@tjaychen , ok, I will leave this to you then :)

[2022-08-11 02:52] tjaychen commented on #14213
yes thank you for filing the issue.

[2022-08-11 06:24] johngt opened #14215 "[otbn] Documentation catch all"
Catch all placeholder for all documentation improvement tasks related to OTBN

[2022-08-11 06:24] johngt commented on #14215
https://github.com/lowRISC/opentitan/issues/13964

[2022-08-11 09:46] engdoreis opened #14219 "[test-triage] chip_sw_otbn_ecdsa_op_irq"
### Hierarchy of regression failure

Chip Level

### Failure Description
[code]
I'm assuming the error is a Timeout

### Steps to Reproduce

- Commit hash where failure was observed
  - fc9ce22c1c836951396af5af0cb9306ca9ba09f8
- dvsim invocation command to reproduce the failure, inclusive of build and run seeds
  -   ./util/dvsim/dvsim.py hw/top_earlgrey/dv/chip_sim_cfg.hjson -i chip_sw_otbn_ecdsa

[2022-08-11 13:08] #1824 closed

[2022-08-11 13:08] #5652 closed

[2022-08-11 13:08] #6667 closed

[2022-08-11 13:31] vogelpi commented on #13974
Hi,
I had a look at this as part of debugging #14196 . As @cindychip correctly pointed out, due to the re-scrambling (which also changes the addressing order of the memories) it's highly unlikely to actually read initialized addresses in step d) .

Initializing the entire DMEM and IMEM sounds reasonable but for this to work we would also have to load and run an OTBN application that initializes th

[2022-08-11 14:01] #13603 closed

[2022-08-11 14:45] timothytrippel commented on #14210
Thanks for adding this issue, I think #14190 should solve this once I can get it to pass CI. Stay tuned.

[2022-08-11 15:14] marnovandermaas commented on #13521
I think this is separate from our CI tasks. The GitHub Actions workflow files all use the latest Ubuntu:
https://github.com/lowRISC/opentitan/tree/master/.github/workflows

[2022-08-11 15:24] GregAC commented on #14066
Option A sounds reasonable to me, though I'm unclear why Option B has a DV impact? The blanking just means outputs end up being held to 0 at points they couldn't have been used anyway.

[2022-08-11 15:43] sriyerg commented on #14092
I have a fix in mind for this. PR coming soon.

[2022-08-11 15:51] eunchan commented on #13855
Only this item remains. I think revising prim_fifo_sync in a similar way to the `prim_packer` may cause a lot of changes to the OpenTitan design overall. What I did to `prim_packer` are:

- duplicated counter with `prim_count`
- create an error output port
- Compile-time parameter Configurable On/Off of the counter check `EnProtection`

So, I rather create a module `prim_fifo_sync_protected` (or s

[2022-08-11 15:55] ctopal opened #14223 "[otbn,dv] Loop warps does not work for OTBN"
Trying to do a loop warp in our current DV environment generates an count error from `prim_counter`. However, we assume it shouldn't at the ISS side. That results with mismatches. This can be reproduced by running:

`util/dvsim/dvsim.py hw/ip/otbn/dv/uvm/otbn_sim_cfg.hjson -i otbn_sw_errs_fatal_chk --reseed=1 --tool=xcelium -w --fixed-seed=2654402148`

@msfschaffner I think this behaviour might ha

[2022-08-11 16:04] mundaym commented on #13521
This message does seem to be appearing in our CI logs a lot, so I think we are affected:

[code]

[2022-08-11 16:15] #12891 closed

[2022-08-11 16:24] marnovandermaas commented on #13521
Ok, I will make this issue higher on my priority list then.

[2022-08-11 16:33] tjaychen commented on #13855
actually i think `prim_fifo_sync` already has this function under a parameter.
Can you have a quick look if it fits what you have in mind?

[2022-08-11 16:34] vogelpi opened #14224 "[sca] FPGA SCA capture setup currently broken"
@vrozic and I recently discovered that the FPGA capture setup is currently broken. It seems that the target implemented on the CW310 never responds to the commands sent from the scope via simple serial (UART1).

Since we are using different mechanisms to load binaries with bazel (OpenTitan tool) and the ot-sca framework (Python loader) we first anticipated one of the recurring problems such as:
-

[2022-08-11 16:34] vogelpi commented on #14224
FYI @vrozic , @abdullahvarici , @andreaskurth

[2022-08-11 16:47] eunchan commented on #13855
Oh.. didn't know that. It has `Secure` parameter already. Thanks!

[2022-08-11 16:50] marnovandermaas commented on #13521
Azure seems to run GitHub Actions through this YAML file:
https://github.com/lowRISC/opentitan/blob/master/azure-pipelines.yml
My current idea is that I can bump the Ubuntu version to 20.04 in the above file and then test the change locally with:
https://github.com/nektos/act

[2022-08-11 17:07] eunchan commented on #13855
#14225 has been created to address the dup counter.

[2022-08-11 17:09] eunchan commented on #13855
OK, as all items are addressed, let me close this issue.

[2022-08-11 17:09] #13855 closed

[2022-08-11 17:21] msfschaffner commented on #13855
Thanks @eunchan and @m-temp for helping with this!

[2022-08-11 19:25] tjaychen opened #14228 "[prim] Certain assertions do not trigger in vcs"
as part of #13986, @ctopal discovered that [this type of assertion](https://github.com/lowRISC/opentitan/blob/7fd5e8c34a6e313f554e61e40583c0c43fc2ad1b/hw/ip/prim/rtl/prim_reg_cdc_arb.sv#L229) does not always work.

Specifically, the `strong(##[0:$])` check, does not always trigger an error when the simulation ends.
In xcelium, the assertion fires, but in vcs, it does not.

@cindychip then suggeste

[2022-08-11 22:09] weicaiyang commented on #12113
closing this since all items are done.

[2022-08-11 22:09] #12113 closed

[2022-08-11 22:14] jdonjdon commented on #12921
fixed with #12932

[2022-08-11 22:14] #12921 closed

[2022-08-11 22:16] cindychip opened #14232 "[fpv] Add a testbench for prim_double_lfsr"
Add a FPV testbench for prim_double_lfsr, please remember to add assertions to check `err_o` goes out of sync.

[2022-08-11 23:04] weicaiyang commented on #10704
just debugged a chip-level case with @cindychip, and we saw this could happen in a real case.

If kmac starts an operation with sideload enabled, but forget to configure keymgr to provide the sideload key, the kmac operation will still complete without any error. kmac seems to use all 0s as the key in this case.

[2022-08-11 23:06] tjaychen commented on #10704
@jadephilipoom
in lieu of larger changes, maybe we could consider an all 0 or all 1 key kind of an error case...

[2022-08-12 00:12] tjaychen commented on #13896
just FYI, i ran into this issue as well. After some debugging, mine turned out to be because `top_englishbreakfast/ip` contained the auto-generated modules (`xbar`, `pinmux` etc).

Since i think our fusesoc search path is at the moment still not top specific, it ends up picking up from here instead of `top_earlgrey`. This might have been the issue you ran into also especially if you were experimen

[2022-08-12 00:18] martin-lueker commented on #14078
Thanks everyone.   This proposed fix does have one issue in that it complicates the processing of the REPCNT outputs, and by putting an extra flop to mask them in there, which I don't think is a great. Idea, I've closed #14083, in favor of the simpler #14238, which just shifts to outputs of the REPCNT and REPCNTS health tests to make them easier to predict.

[2022-08-12 00:18] #14078 closed

[2022-08-12 02:03] tjaychen commented on #14228
@sriyerg pointed out that this is known.
https://github.com/lowRISC/opentitan/blob/8f6da639073ffabb0ee39df13953d23f2b403691/hw/top_earlgrey/dv/tb/tb.sv#L580-L585

[2022-08-12 02:06] sriyerg commented on #14228
It is documented in VCS. See this note:
https://github.com/lowRISC/opentitan/blob/8f6da639073ffabb0ee39df13953d23f2b403691/hw/top_earlgrey/dv/tb/tb.sv#L580

[Repeating it here for clarity]
[code]

Xcelium reports these as failures, but VCS considers them benign enough to let the users decide. I made this fix very recently at the top level by just killing those assertions off at the end of simulati

[2022-08-12 06:03] andreaskurth commented on #14066
That is correct, but some tests read IMEM or DMEM when OTBN is not idle; e.g., `chip_jtag_mem_access` currently fails on an assertion for this reason. Such tests will have to be changed. I estimate the DV impact to be not deep/complex but potentially wide (all test code accessing OTBN IMEM or DMEM should be checked).

[2022-08-12 08:28] vogelpi opened #14240 "[aes] Shall we enable SecAllowForcingMasks for ES?"
At the moment, the masking in AES is always enabled on ASIC. Exclusively on FPGA, we allow disabling the masking using the `SecAllowForcingMasks` SV parameter in combination with the FORCE_ZERO_MASKS field in the main control register (on ASIC, the corresponding logic is simply not there). Having the option to disable the masking is useful to tune the SCA capture setup and evaluate the noise.

Rec

[2022-08-12 10:01] GregAC commented on #13974
I think we should try to test both the IMEM and DMEM scrambling. We're happy the primitive is fine what this is testing is the integration and there we could have messed up the IMEM but not the DMEM and vice versa.

The suggestion of initialising the DMEM using a simple OTBN programs sounds reasonable to me. The following should do the trick

[code]

It will fill the dmem with whatever happens to

[2022-08-12 10:59] prajwalaputtappa commented on #13965
Waiting for https://github.com/lowRISC/opentitan/pull/14242 to be merged

[2022-08-12 11:04] #13963 closed

[2022-08-12 11:20] vogelpi commented on #14219
I had a look at this. It's indeed a timeout. First of all, we define a simulation time timeout in `hw/top_earlgrey/dv/chip_sim_cfg.hjson` with `run_opts: ["+sw_test_timeout_ns=28_000_000"]`. After increasing that, the test still fails due to a wall clock timeout after 120 minutes on my machine. I need to rerun this without timeout and see how long it actually takes.

[2022-08-12 11:23] vogelpi commented on #13974
Thanks @GregAC for your input. I'll try this out. After including @engdoreis ' fix from #13954 and zeroing the entire IMEM and the bus accessible DMEM part, the test fails with an integrity failure:
[code]

[2022-08-12 12:20] GregAC commented on #11540
Signals to target here are `dmem_gnt` and `imem_gnt`within the top-level `otbn` module.

To trigger the fault the same cycle you see a `dmem_req` force the `dmem_gnt` signal low and similarly for imem. This in turn should cause `dmem_missed_gnt`/`imem_missed_gnt` to get asserted resulting in a fatal alert (a `bad_internal_state` fatal error).

[2022-08-12 14:17] GregAC commented on #14223
I think this is due to the renaming of the internal counter flops that hold the counts. The loop warping code probe these directly. I can take a look though it should be a pretty easy fix if you want to check it out @ctopal? The RTL side of the loop warping is handled in C++ via DPI, there's some functions to directly set counter values that will need updating.

[2022-08-12 16:09] tjaychen commented on #14240
@vogelpi just ack-ing that i see where you're coming from.
I have a couple of follow-up questions for @johannheyszl, but those probably can't be asked in the open, so I will get back to this hopefully early next week.

[2022-08-12 16:25] tjaychen commented on #12429
great! i'm closing this issue down now, since a lot of the calculation shown here is already absorbed into a comment in the design.

[2022-08-12 16:25] #12429 closed

[2022-08-12 16:25] tjaychen commented on #9507
addressed by #14187

[2022-08-12 16:25] #9507 closed

[2022-08-12 16:58] sriyerg commented on #14092
Fixed in #14236. Please reopen if still not working.

[2022-08-12 16:58] #14092 closed

[2022-08-12 17:12] #14090 closed

[2022-08-12 18:03] weicaiyang opened #14245 "[dvsim] "-i all" doesn't work when running all the sim_cfgs"
When I run the command above, I got these errors. The first 2 errors are fine, although we'd better fix them, but the 3rd error kills the regression.

-----

When I changed to "nightly", it's fine, so it doesn't affect our nightly regression.

It doesn't have the third error, and the regression starts normally.

BTW, this isn't related to the recent update on run_timeout_mins. The issue occurs reg

[2022-08-12 18:23] sriyerg commented on #14245
Yes - this is due to the fix https://github.com/lowRISC/opentitan/pull/14055/commits/51000a8bebdd0d89219dde371f02e66c29316699 that was made to resolve the incorrect chip level coverage issue.

`prim_lfsr` config lists 2 tests - one for smoke and the other for nightly. Both use a different build mode, which are mutually exclusive. This is an unexpected usage model. We can fix this by renaming the `

[2022-08-12 18:34] moidx commented on #14206
Closed by #14229

[2022-08-12 18:34] #14206 closed

[2022-08-12 21:54] weicaiyang commented on #10704
@tjaychen If SW doesn't configure keymgr to provide sideload key before start a kmac operation, key with all 0s is used and SW doesn't know the digest is generated with an invalid key (since no error is reported), right?

[2022-08-12 22:01] tjaychen commented on #10704
yes that's right.
I was originally thinking software could read it out to check, but I forgot the kmac key shares are write-only by software.
So if were to check, it would have to be from hardware.

Let's get @jadephilipoom opinion to see if this is something we should explicitly check for.

[2022-08-12 22:33] #14245 closed

[2022-08-12 23:47] jdonjdon commented on #14202
All 3 tests fail with the same reason.
chip_sw_pwrmgr_deep_sleep_all_reset_reqs is fixed with #14256
Others will fix in separate PR.

[2022-08-13 05:37] matutem commented on #9012
This is all done.

[2022-08-13 05:37] #9012 closed

[2022-08-13 05:44] matutem commented on #12866
This was fixed by https://github.com/lowRISC/opentitan/pull/13142

[2022-08-13 05:44] #12866 closed

[2022-08-13 16:53] matutem commented on #11081
It seems this can be marked as Fixed. @tjaychen WDYT?

[2022-08-13 22:01] alphan opened #14260 "[ci] Deprecation warning: ubuntu-18.04 environment"
I saw the following warnings on the azure pipelines page. It looks like we should start thinking about moving to a newer version.

![image](https://user-images.githubusercontent.com/57949550/184512043-04064f23-a33c-4520-8d60-29faabf64028.png)

cc @arunthomas @moidx @timothytrippel @cfrantz

[2022-08-13 23:22] sriyerg commented on #13999
Remove entry from sim_cfg.hjson, since the testplan description of `chip_sw_hmac_enc` suggests covering the interrupts (and the SW test with that name does not exist anymore). IIRC it was my suggestion to you to combine smaller unit tests into one if they almost do the same set of things.

[2022-08-14 00:16] moidx commented on #2920
@timothytrippel Closing as obsolete.

[2022-08-14 00:16] #2920 closed

[2022-08-14 00:18] moidx commented on #1388
Closing as obsolete

[2022-08-14 00:18] #1388 closed

[2022-08-14 00:18] moidx commented on #1390
Closing as obsolete

[2022-08-14 00:18] #1390 closed

[2022-08-14 00:18] moidx commented on #1601
Closing as obsolete

[2022-08-14 00:18] #1601 closed

[2022-08-14 00:19] moidx commented on #1617
Closing as obsolete. We have now switched to Bazel.

[2022-08-14 00:19] #1617 closed

[2022-08-14 00:20] moidx commented on #12071
Closing as approved.

[2022-08-14 00:20] #12071 closed

[2022-08-14 00:23] moidx commented on #13053
Closing. For now. Please reopen if you have follow up comments. Thanks

[2022-08-14 00:23] #13053 closed

[2022-08-14 00:29] moidx commented on #976
Closing as obsolete.

[2022-08-14 00:29] #976 closed

[2022-08-14 00:47] moidx commented on #14260
See also #13521

[2022-08-14 01:11] sriyerg opened #14261 "[test-triage] chip_csr_bit_bash, chip_csr_aliasing"
### Hierarchy of regression failure

Chip Level

### Failure Description

Run timeout exceeded. Try with increased `run_timeout_mins` setting.

### Steps to Reproduce

- Commit hash where failure was observed
- dvsim invocation command to reproduce the failure, inclusive of build and run seeds
- Kokoro build number if applicable

util/dvsim/dvsim.py hw/top_earlgrey/dv/chip_sim_cfg.hjson -i chip_sw

[2022-08-14 06:44] ariel9678 commented on #13430
Tim,
The MANUFACTURER_HOOKS_DIR is set to the location of the local closed source.
It seems that when adding new test in local folder, although the test added to the local BUILD.bazel ,if the test name was not defined in open source BUILD.bazel ($REPO_TOP/sw/device/tests/closed_source/BUILD.bazel ) the build will fail, with target test not found.

[2022-08-14 08:02] arnonsha commented on #13893
@Jacob-Levy can you please take a look ?

[2022-08-14 09:22] Jacob-Levy commented on #13893
@tjaychen  There were two (2) issues in the prim_pulse_sync.sv cell that were fixed by the ast_pulse_sync.sv
   1) The resets from both side needs to reset the flops in the cell.
   2) The prim_pulse_sync.sv dose not implement 'busy' when hadling  a pulse.  moreover a new pulse is not blocked
       when the current pulse is still working (no assert too).

I suggest that I will open an issue on th

[2022-08-14 09:30] Jacob-Levy commented on #13893
You can bypass the issue by stopping the RNG when you switching to external clock. Once the switch is done , you can reenable the RNG. The RNG clock is the system clock that is affected by the switch to external clock.
In real silicon the new pulse will be ignored (blocked) and the "alert" not fire...

We can reduce the allert to warning if needed...

[2022-08-14 11:23] Jacob-Levy commented on #13893
In the prim_pulse_sync.sv the check/ASSERT is conditioed by INC_ASSERT.
[code]

A can add the same condition in the ast_pulse_sync.sv
[code]

[2022-08-14 21:48] jdonjdon commented on #14202
Update #14256 to address all 3 test failures.

[2022-08-15 08:55] Jacob-Levy commented on #13893
After looking at the rng.sv code, the issue you are seeing might releate to the 'srate_value..
The clocks involve is RCLK (TLUL) (24MHz) and RNG (SYS) (100MHz), both are affected during external switching.

The 'srate_value' is updated by RCLK and if the 'dv_srate_value' is set too low, it might generate a new pulse while the
perivous one is still active. I will check if I can use the 'src_busy' t

[2022-08-15 13:04] Jacob-Levy commented on #13893
I can fix the issue in the rmg.sv by holding the generation of the `srate_rng_val` pulse when `src_busy` is active.
[code]

[2022-08-15 13:20] engdoreis commented on #13974
Thanks @GregAC and @vogelpi, I started with `IMEM` to see whether the suggested approach would work, and there's been some progress.
When I run the test with the memory initialized I get a different error. It seems to me that some `sv` code is asserting that the value doesn't match before the internal irq fires.
[code]
What do you suggest?

[2022-08-15 13:22] Jacob-Levy commented on #13893
@weicaiyang With this fix, I can leave all the assertion in place.
Attached id the modified rng.sv. Can you test the fix? If it works I will PR it.

[2022-08-15 13:43] #14183 closed

[2022-08-15 15:01] ctopal commented on #13964
remaining 2022-08-15 3

[2022-08-15 15:58] ctopal commented on #14223
Hi Greg, I assigned this back to myself because I think I can handle it with your explanation about the RTL side. Thanks!

[2022-08-15 16:05] cindychip commented on #11126
Implementation done in DV.

[2022-08-15 16:33] sriyerg commented on #14228
We contacted our Synopsys AE and they confirmed the limitation. They said that this behavior is in compliance with LRM in their latest version 2022.06, in which this would be reported as a failure. I will test this out locally and will send out an email to establish the new version across all OT partners.

[2022-08-15 16:46] tjaychen commented on #14228
thanks Sri!

[2022-08-15 16:53] sriyerg commented on #14219
Hi @vogelpi, in addition to the simulation timeout for the SW, we recently also added a wall clock timeout (i.e. kill the simulation externally if it exceeds N minutes). The default timeout value is 60 minutes.

There were some other tests that also failed due to the wall clock timeout. I ended up finding the worst case wall clock time for ALL tests that failed due to timeout (including these ones

[2022-08-15 16:53] tjaychen commented on #13974
@engdoreis how are you doing the memory initialization? the `otbn` memory is stored with integrity that is directly forwarded. Are you backdoor initializing it? or going through the CPU to load all 0's?

[2022-08-15 17:01] engdoreis commented on #13974
@tjaychen I doing by SW using the DIF.
[code]

[2022-08-15 17:14] andreaskurth opened #14269 "[otbn] Locking timing differs between initial and post-execution secure wipe"
When `otbn_controller` enters the *Locked* state during an initial (i.e., post-reset) secure wipe, it immediately sets the `locking_o` output. When `otbn_controller` enters the *Locked* state during a post-execution secure wipe, however, it waits for the secure wipe to complete before setting the `locking_o` output. This is coded here:
https://github.com/lowRISC/opentitan/blob/90c0de7375e664c1a178

[2022-08-15 17:20] alphan opened #14270 "[rom-e2e] rom_e2e_shutdown_output"
**Testpoint name:** [rom_e2e_shutdown_output](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/data/rom_e2e_testplan.hjson?q=rom_e2e_shutdown_output)

**Contact person:** @alphan

**Description:** Verify that ROM can properly report errors over UART.

- Attempt to boot without a valid ROM_EXT.
- Verify that we can receive the 28 character long (`BFV:xxxxxxxx\

[2022-08-15 17:20] alphan opened #14271 "[rom-e2e] rom_e2e_shutdown_redact"
**Testpoint name:** [rom_e2e_shutdown_redact](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/data/rom_e2e_testplan.hjson?q=rom_e2e_shutdown_redact)

**Contact person:** @alphan

**Description:** Verify that ROM redacts errors properly.

- Attempt to boot without a valid ROM_EXT.
- Verify that there is no redaction in TEST_UNLOCKED* and RMA.
- For DEV, PROD,

[2022-08-15 17:20] alphan opened #14272 "[rom-e2e] rom_e2e_shutdown_watchdog"
**Testpoint name:** [rom_e2e_shutdown_watchdog](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/data/rom_e2e_testplan.hjson?q=rom_e2e_shutdown_watchdog)

**Contact person:** @alphan

**Description:** Verify that ROM configures the watchdog properly.

- Attempt to boot with a valid ROM_EXT.
  - ROM_EXT needs to print something and busy loop (bounded) until wa

[2022-08-15 17:20] alphan opened #14273 "[rom-e2e] rom_e2e_shutdown_exception_asm"
**Testpoint name:** [rom_e2e_shutdown_exception_asm](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/data/rom_e2e_testplan.hjson?q=rom_e2e_shutdown_exception_asm)

**Contact person:** @alphan

**Description:** Verify that ROM asm exception handler resets the chip.

- Power on with the `CREATOR_SW_CFG_ROM_EXEC_EN` OTP item set to `0`.
  - Execution should hal

[2022-08-15 17:20] alphan opened #14274 "[rom-e2e] rom_e2e_shutdown_exception_c"
### Test point name

[rom_e2e_shutdown_exception_c](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/data/rom_testplan.hjson?q=rom_e2e_shutdown_exception_c)

### Host side component

None

### OpenTitanTool infrastructure implemented

None

### Contact person

@alphan

### Checklist

Please fill out this checklist as items are completed. Link to PRs and issue

[2022-08-15 17:20] alphan opened #14275 "[rom-e2e] rom_e2e_shutdown_alert_config"
**Testpoint name:** [rom_e2e_shutdown_alert_config](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/data/rom_e2e_testplan.hjson?q=rom_e2e_shutdown_alert_config)

**Contact person:** @alphan

**Description:** Verify that alerts trigger a chip reset when enabled.

- For PROD, PROD_END, DEV, and RMA life cycle states
  - Use an OTP image with an alert enabled.

[2022-08-15 17:25] sriyerg opened #14276 "[chip dv] Generated `xbar_*_bind` SV sources need top-specific diasmbiguation"
The top_earlgrey XBAR block level as well as the full chip level use the generated `xbar_*_bind` SV files which bind the `tlul_assert` instances to all hosts and devices.

The associated fusesoc core is named `lowrisc:dv:xbar_main_bind`, `lowrisc:dv:xbar_peri_bind`.

These sources are generated for `top_englishbreakfast` as well. Ideally they should not have been generated for this top, because it

[2022-08-15 17:26] andreaskurth commented on #14269
WDYT, @GregAC @vogelpi?

[2022-08-15 17:26] sriyerg commented on #14276
@weicaiyang @tjaychen @msfschaffner
FYI

[2022-08-15 17:34] tjaychen commented on #13893
@Jacob-Levy yes i think your description of `srate_value` is what i remember as well. I think that count doesn't stop, and the eventual count triggers another pulse is what i roughly remember.

and yes you're right the current `pulse_sync` does not handle the extra pulse before sync is done, so we added an assertion. I think our thinking at the time was that even if we added that busy, this may no

[2022-08-15 17:34] ctopal commented on #14269
P.S. https://github.com/lowRISC/opentitan/pull/11405 For more context behind https://github.com/lowRISC/opentitan/commit/5c72c96a6fd06aacfcf4e216afb324915d5d24b8

[2022-08-15 17:44] tjaychen commented on #13974
i'm sorry, i think i completely misunderstood the point of this issue (skipped over a few comments in the beginning).
so sounds like what we're saying is that we actually expect integrity failures, since the initialization done in the beginning no longer applies after requesting for a new scramble key correct?

If that's the case I think we just need to update the DV side to either disable that ch

[2022-08-15 18:03] cindychip commented on #14173
Close because this PR is merged : https://github.com/lowRISC/opentitan/pull/14255

[2022-08-15 18:03] #14173 closed

[2022-08-15 18:04] cindychip commented on #14120
PR is merged : https://github.com/lowRISC/opentitan/pull/14255
Waiting for nightly regression result.

[2022-08-15 18:07] #14201 closed

[2022-08-15 18:13] Jacob-Levy commented on #13893
@tjaychen  I wanted him to use the failing case as a qualifier to my fix by simply replacing the rng.sv. The fix is very local and simple and only suspend the ofending pulse.

[2022-08-15 18:18] Jacob-Levy commented on #13893
@tjaychen BTW, the prim_pulse_sync.sv does not block the extra pulse like in the ast_pulse_sync.sv. The assertion code, if enabled, creats an only an error. After synthesis, the ASSERT is gone and the next pulse is not blocked.

[2022-08-15 18:24] weicaiyang commented on #13893
I haven't run the test yet, but just look at the change. `src_busy` isn't not assigned with any value. ` if ( (srate_cnt == srate_value) && src_busy )` is always false. Seems like the change won't make any difference, or I may miss something.

[code]

[2022-08-15 18:33] tjaychen commented on #13893
yes that's right. Our intent is to flag them at the design state and force the design to deal with the corner case. If it is allowed (ie new pulse when handshake is ongoing), then the design should swallow the pulse. If it is not allowed, then the design should adjust accordingly.

[2022-08-15 18:35] Jacob-Levy commented on #13893
It is the output of the ast_pulse_sync cell instatiated just bellow.

[2022-08-15 18:35] tjaychen commented on #13893
having said that @Jacob-Levy, why don't you raise this point as a separate issue? and let's bring it to the biweekly silicon meeting for more community input. It might be that people prefer a busy approach natively.  Those meetings are usually good for discussions like that.

[2022-08-15 18:40] Jacob-Levy commented on #13893
I will open an issue on prim_pulse_sync.sv cell with the two issues I mentioned and put all the information in the issue.

[2022-08-15 18:43] weicaiyang commented on #13893
oh, I see. `src_busy` isn't a new variable. You just move the declaration.

[2022-08-15 18:50] msfschaffner commented on #14223
Yeah I attempted to update most of the DV environment, but there may be some things that I missed.
Let me know if you have further questions regarding the updated `prim_count` internals.
The internal structure should be a bit more homogeneous now.

[2022-08-15 19:17] Jacob-Levy opened #14282 "prim_pulse_sync.sv functional issues"
The current implementation of the prim_pulse_sync.sv present 2 functional issues
* The source and dest resets are not effecting eachother and if only one is applied, the toggle state is not initilized which creat a wrong pulse. This issue was detected in the RNG logic which has 2 clocks system, RNG (SYS) and RCLK (TLUL).
* When the cell is handling a pulse and a new one is introduced and ASSERT is

[2022-08-15 19:41] #14261 closed

[2022-08-15 19:41] #14219 closed

[2022-08-15 19:50] tjaychen commented on #14213
this has been fixed.

[2022-08-15 19:50] #14213 closed

[2022-08-15 20:09] Jacob-Levy commented on #13893
See PR [AST] Fix RNG srate_rng_val and update comments #14280

[2022-08-15 21:23] alphan commented on #14260
Closing as a dup of #13251, thanks @moidx

[2022-08-15 21:23] #14260 closed

[2022-08-15 21:36] moidx commented on #13053
Hi @gtelzur, just one small clarification. We are able to use the cw305 board based on the Artix7, and we integrate some of our SCA measurements for AES using scripts located in our https://github.com/lowrisc/ot-sca repository. The measurements can be taken with a Chipwhisperer Lite or Husky board.

[2022-08-15 22:44] jdonjdon commented on #14208
![image](https://user-images.githubusercontent.com/99843637/184732887-dba02b03-a0fb-4980-a8f7-74b0c998b303.png)
At UNSCRAMBLED_TEST2 state in 'chip_sw_flash_init_vseq.sv',  (after 6.71 msec)
tb.dut.top_earlgrey.u_pwrmgr_aon.u_fsm.rom_intg_chk_ok[3:0] never be true and causes test hang.
@tjaychen Can you tell why this rom_intg_chk fails at this point?

[2022-08-15 22:50] tjaychen commented on #14208
hmmm.... i might need to run the test to have a closer look. can't say for sure at first glance.
do you want me to have a look? one possibility is that an alert or escalation triggered.
do you see that?

[2022-08-15 23:19] cindychip opened #14286 "[kmac] Status register question"
Hi Eunchan,

When I am trying remove the cycle accurate scb in status register, I wanted to clarify this question.
This is related to change: https://github.com/lowRISC/opentitan/pull/9276/files

With this change, when KMAC starts to writes input data, there is one clock cycle where status register has the following output:
1). FifoEmpty  -> 0
2). FifoFull      -> 0
3). Fifo Depth -> 0
I think 1)

[2022-08-15 23:30] tjaychen opened #14287 "[prim] cdc cross reset issue"
most of our prim cdc modules take two resets and two clocks.
we occasionally get into a weird situation where only one side of these modules reset, and that causes creation of fake events, for example in #14086

we could deal with this natively in the cdc module, ie, any time one side resets the other side must reset as well.
To do so we would need to pass both the scan reset and scan mode indicat

[2022-08-16 05:53] GregAC commented on #14269
At this stage we want to minimise behaviour changes so I'd prefer for the new initial secure wipe to match the existing secure wipe behaviour, i.e. `locking_o` is asserted once the secure wipe is complete. If we want to alter the existing behaviour we need a solid reason.

I've had a look at what `locking_o` is actually doing at the top-level. It factors into a few things:

 * Blanking of read dat

[2022-08-16 06:26] GregAC commented on #14180
So to clarify @tjaychen your favoured solution is:

`FENCE.I` is guaranteed to provide a new scrambling key. When a `FENCE.I` is executed whilst a previous `FENCE.I` is awaiting a new scrambling key, stall until the in-flight request is complete then immediate request a new scrambling key.

Instructions executed whilst scramble key request/tag invalidation are ongoing can fetch direct from main me

[2022-08-16 07:39] GregAC commented on #14287
I feel at this stage we should drive all decisions based upon impact, so unless we have strong reasons to implement this natively to the CDC module we should go for asking the instantiator to deal with it. Perhaps we should do a quick review of uses of this module to check the assumption this option has lesser impact?

[2022-08-16 08:17] #13643 closed

[2022-08-16 08:17] #14029 closed

[2022-08-16 08:22] johannheyszl commented on #14240
@bilgiday to have a look too

[2022-08-16 08:22] vogelpi commented on #14287
Thanks @tjaychen for summarizing the situation and outlining options. I agree with you that this is probably better left to instantiators. Getting the reset of CDCs right is tricky and tends to get more involved, especially as one wants to cover all possible use and corner cases. I think there are cases where it's potentially worth doing (see e.g. debug module) but I have seen quite some cores (on

[2022-08-16 08:56] marnovandermaas commented on #11794
The next step for this task is to execute the individual tests through dvsim instead of running the whole test suite. This also allows us to report the individual passes and failures in the dvsim format.

I had a discussion with @hcallahan-lowrisc and we decided to base this change off of a build system refactor of Ibex DV that is currently tracked in this PR: https://github.com/lowRISC/ibex/pull/

[2022-08-16 09:54] Jacob-Levy commented on #14287
This prim cell has two issues. The first that you call CDC is not just CDC it is also functional. The second is functional too and involve getting a new pulse when the current one is still active. Both can be address with-in the prim cell with very low involvemenet of the instantiator.  See issue #14282.

[2022-08-16 12:41] #14223 closed

[2022-08-16 14:09] milesdai commented on #13993
Closed in #13971

[2022-08-16 14:09] #13993 closed

[2022-08-16 14:14] milesdai commented on #13343
Fixed in #13542

[2022-08-16 14:14] #13343 closed

[2022-08-16 16:07] #12911 closed

[2022-08-16 16:08] tjaychen commented on #14287
@Jacob-Levy to me having an active pulse while handshaking is ongoing is yet another instantiator issue. The fact that there's a busy push back on a new pulse potentially means a new event could be ignored, depending on how the module is used.

That's also why I prefer erroring out (via assertion) in that case and asking the instantiator to deal with it.  For example we have had cases in `adc_ctrl

[2022-08-16 16:12] eunchan commented on #14286
As described in #9276, The logic intentionally lowers the empty signal even if the FIFO does not have to store the data internally (`Pass` parameter is `1'b1`). However, the `depth` represents how many entries the FIFO currently stores.

We could change the logic to show the # of entries + current outgoing entry. It affects timing though.

[2022-08-16 16:25] cindychip commented on #14286
Thanks for explaining!
Oh I see what you mean by lowers the empty fifo signal now.
I do not mind keeping the current design if sw is fine with it and maybe we can mention that in the register description?
If we plan to change the logic, that is fine too. I am working on removing the cycle-accurate scb.
So up to you in terms of what is the best design approach :)

Thanks,
Cindy

[2022-08-16 16:34] tjaychen commented on #14180
ah i see. I think you're the better judge of what is most practical in this case, so your suggestion works fine for me also.

[2022-08-16 16:36] tjaychen commented on #14208
part of this issue is addressed by #14288
With that fix, at least now `rom_ctrl` outputs are "good" for these tests.

The test may have other failures that prevent it from completing however.

[2022-08-16 16:48] engdoreis opened #14296 "[otbn] Fix DMEM size"
The OTBN DMEM should have 3kB visible over the bus according to the [otbn.hjson](https://github.com/lowRISC/opentitan/blob/4410d4590b4a1c613eb6a7e0b8e59ec1959edf4d/hw/ip/otbn/data/otbn.hjson#L729).
However the auto generated file `otbn_regs.h` shows only 2kB.
[code]
Is it a bug?

[2022-08-16 16:51] cindychip commented on #14120
Done and passed in regression.

[2022-08-16 16:51] #14120 closed

[2022-08-16 16:57] engdoreis commented on #14296
Sorry, my intellisense was point at an old auto-generated file.

[2022-08-16 16:57] #14296 closed

[2022-08-16 17:55] cindychip commented on #13974
Hi Tim,

1). At the beginning, the issue is that we did not initialize the memory, but relies on write and read back randomly address. Then when we re-scramble data and address to read again, we are likely to choose an uninitialized address.

2). Now I believe (if I understand this part correctly) we moved forward to randomize the entire IMEM, the issue comes at DV interface and get the UVM_ERROR.

[2022-08-16 18:01] cindychip commented on #13974
@engdoreis, @weicaiyang suggested to try adding this to chip_sim_cfg.hjson your test entry:
`run_opts: ["+en_scb_tl_err_chk=0"]`
This should disable scb check for integrity error.
Example:
https://github.com/lowRISC/opentitan/blob/master/hw/top_earlgrey/dv/chip_sim_cfg.hjson#L530

[2022-08-16 18:02] eunchan commented on #14286
Let's keep the design as is and update the doc. If this really bothers SW folks, then we can update in the next version.

[2022-08-16 18:02] cindychip commented on #14286
Sounds good, thanks Eunchan!

[2022-08-16 18:47] tjaychen commented on #14287
although i agree with @Jacob-Levy , adding a `busy_o` indication would be kind of nice.

[2022-08-16 18:52] eunchan commented on #14287
+1 to initiator. I always assume that the both side resets in CDC modules come from _a single source_, whether adding reset synchronizer to other side clock domain or not. If we decide the initiator to deal with the issue. Will we mandate reset synchronizer?

[2022-08-16 18:56] weicaiyang commented on #11245
already fixed

[2022-08-16 18:56] #11245 closed

[2022-08-16 19:03] Jacob-Levy commented on #14287
This assumption that the both side resets is not correct and that how this issue was found a year ago in the RNG logic.
The fix to the issue inside the cell is simple and only requies one more input, scanmode, for DFT.

[code]

[2022-08-16 19:10] eunchan commented on #14287
If I instantiate Async FIFOs (for instance inside the TL-UL), I will create a reset signal for TL-UL then sync to other clocks. This guarantees single reset source resets entire logic fully.

There're some cases I can't put synchronizers. For instance SPI_DEVICE has no SPI_CLK when sys reset signal is asserted. So in SPI_DEVICE I directly use sys_rst_ni for async FIFOs or logics crossing both cloc

[2022-08-16 19:41] alphan opened #14303 "[sw/silicon_creator] Add doc describing OTP settings"
We should add a doc describing where to find the list of OTP settings and the policy for deciding what goes in the creator versus owner partitions.

Maybe here? `sw/device/silicon_creator/rom/docs/otp.md`

_Originally posted by @moidx in https://github.com/lowRISC/opentitan/pull/14289#pullrequestreview-1074442109_

[2022-08-16 19:43] #13205 closed

[2022-08-16 19:43] #14185 closed

[2022-08-16 20:04] Jacob-Levy commented on #14287
SPI is a special case and pulse_syncronizer were developed for traditional clock domain data clrossing.

[2022-08-16 20:19] matutem opened #14304 "[dv] VCS UNR misses simple cases"
The VCS UNR flow misses the following simple cases for clkmgr:

- The clkmgr output cg_en_o.aon_infra, cg_en_o.aon_powerup, and a few other members of cg_en_o were *not* found to be unreachable for toggle, even if they are driven by constants, like
  assign cg_en_o.aon_infra = MuBi4False;

- The u_idle_cnt instance in module clkmgr_trans ties input step_i to a constant, but UNR fails to detect it

[2022-08-16 20:24] jdonjdon commented on #14208
The remaining issue is fixed by #14305

[2022-08-16 20:24] matutem opened #14307 "[dv] VCS coverage incorrect report"
The OutputsKnown_A assertion in prim_mubi4_sync shows no attempts in many instances, but that cannot be since the mubi_i input and mubi_o output toggle, so the assertion should have attempts. One example is for u_io_div2_div_scanmode_sync in [clkmgr.sv](http://clkmgr.sv/). Notice the prim_mubi4_sync parameter AsyncOn is set to 0 for most instances I reviewed.

This failure causes the coverage repo

[2022-08-16 20:27] #13893 closed

[2022-08-16 20:27] #14199 closed

[2022-08-16 21:27] arunthomas commented on #13374
Updating assignee: @a-will offered to take this over; @milesdai was happy to pass the baton

[2022-08-16 21:57] #14276 closed

[2022-08-16 23:42] jdonjdon commented on #14208
chip_sw_flash_rma_unlocked still fails

[2022-08-17 00:23] timothytrippel commented on #11081
I spoke with @matutem today and he said that the HW was updated to no longer require ROM to reenable/reset clocks. If this is indeed true, then #14312 cleans up the test ROM, and when it merges, this issue can be closed.

Can you either confirm / deny @tjaychen ?

[2022-08-17 00:46] #14197 closed

[2022-08-17 02:15] ChiaweiW opened #14315 "Question about secure boot public key initialization"
hi all,

I have a question about the initial Creator public keys used for secure boot.
The codebase shows that the keys are hardcoded in the ROM code. The OTP only controls their validity.

I am wondering why OpenTitan does not use OTP to keep public keys in the hash digest way?
Silicon creators would have more flexibility to decide the secure boot keys with OTP provisoning at the manufacturing ph

[2022-08-17 02:44] tjaychen commented on #14315
others can chime in more, but from my perspective.. allowing otp digest of keys means at some point in the flow, the keys used for verification can be arbitrarily controlled. By baking it into ROM, we are enforcing that each revision / version of opentitan is strongly bound to the creator.  The early stages of code, as you see in our documentation, were also not meant to be controlled by owners la

[2022-08-17 02:48] moidx commented on #5771
This issue was probably added before we agreed on using cSHAKE for the digest calculation. Given that the attacker already has access to the ROM source code, I can only think of the following attack scenarios:

1. Recovering the scrambling key to be able to identify sections in the code that could be targeted in scrambled form. This is mitigated by the cSHAKE measurement.
2. Manipulation of the ta

[2022-08-17 03:08] moidx commented on #14315
What @tjaychen summarizes our thinking behind storing the keys in the ROM. We want a strong link to the creator to ensure ROM_EXT signatures are verifiable against operational and infrastructure production requirements.

We also want to avoid having to rely on the security of the manufacturing process to provisioning the verification keys, and don't plan to use identity key injection in our refere

[2022-08-17 03:44] ChiaweiW commented on #14315
Thanks for your kind explanation!

The reason I have this question is due to the consideration on commercial chain.
If one chip vendor joins different creator groups, the chip may not be commonly used unless all of the secure boot public keys are forseen and embedded in ROM. (not a good idea)

[2022-08-17 03:50] tjaychen commented on #14315
if you follow along our security documentation, i think our recommendation is to diversify a lot of the related use cases to the next stage of code.  This means the first stage of software after ROM (ROM_EXT in our terminology) is really tightly coupled with the ROM and bears the responsibility of adapting to later use cases.

By doing this, it allows us to keep the branches inside ROM small and t

[2022-08-17 04:18] ChiaweiW commented on #14315
Agree to keep ROM small and simple.
Balancing security and flexibility is always the dilemma.

Great thanks for your kind response, giving me more clear picture about the security design.
Issue closed.

[2022-08-17 04:18] #14315 closed

[2022-08-17 04:23] weicaiyang opened #14317 "[flash] Reset creator/owner seeds when hw_rd_en is off"
As discussed in #14305, in current design, these seeds remain the existing value when hw_rd_en is switched to off. It may be better to reset these seed.

The other issue is that, in [chip_sw_flash_init_vseq.sv](https://github.com/lowRISC/opentitan/pull/14305/files#diff-0b0b0acb5c0c027f3b162857e836eda0e14d94a97a8242aaa248a4eb0150e35d) we rely on the internal signal `lc_seed_hw_rd_en` to determine w

[2022-08-17 06:10] sriyerg commented on #11087
The original issue was the lack of documentation describing the behavior of responses with bad integrity bits. While we did fix the design to properly propagate the integrity error to the SBA system, it will be nice to have the behavior documented in the RV_DM design specification (and in PULP repo also, since we enhanced its behavior to allow "other" errors to also be signaled externally) before

[2022-08-17 06:16] #2162 closed

[2022-08-17 06:18] sriyerg commented on #6660
Bumping down to P3.

[2022-08-17 06:19] sriyerg commented on #13344
This is now fixed.

[2022-08-17 06:19] #13344 closed

[2022-08-17 06:24] sriyerg commented on #10468
I think nothing needs to be done for this at the moment - a more accurate RAL model for the debug mem space was manually created for DV.

[2022-08-17 06:24] #10468 closed

[2022-08-17 06:26] sriyerg commented on #4436
Support for this was added quite a while ago. CTRL-C does print all those stats rather than abruptly exitting.

[2022-08-17 06:26] #4436 closed

[2022-08-17 06:27] sriyerg commented on #4929
Closing this due to infeasibility.

[2022-08-17 06:27] #4929 closed

[2022-08-17 06:29] sriyerg commented on #2160
Closing - no longer relevant.

[2022-08-17 06:30] #751 closed

[2022-08-17 06:31] sriyerg commented on #1770
No longer relevant.

[2022-08-17 06:31] #1770 closed

[2022-08-17 06:32] #1777 closed

[2022-08-17 06:38] sriyerg commented on #6661
Duplicated in #13759.

[2022-08-17 06:38] #6661 closed

[2022-08-17 06:45] sriyerg commented on #6660
Extraction and display of runtime is duplicated in issue #13756 and is now addressed. Extraction and display of pend time does not necessary atm. Closing.

[2022-08-17 06:45] #6660 closed

[2022-08-17 06:47] #2160 closed

[2022-08-17 06:59] sriyerg commented on #12984
This is related to an issue that was already filed: https://github.com/lowRISC/opentitan/issues/667. Fix coming soon.

[2022-08-17 07:04] ariel9678 commented on #13430
Trying to add new test under closed source I see the following behavior:
(All test executions run with dv_sim script)
1.      Running the example_test (appear in closed & open source directories) with MANUFACTURER_HOOKS_DIR fleg - test pass.
2.      Added error to example_test in my local closed source directory – the build failed with compilation error
3.      Added new_test to BUILD.bazel in my

[2022-08-17 07:08] ariel9678 commented on #13430
- In chip_ast_sim_cfg.hjson defined:
   {
     name: new_test
     uvm_test_seq: ntil_chip_sw_alert_vseq
     sw_images: ["@manufacturer_test_hooks//:new_test:1"]
     en_run_modes: ["sw_test_mode_test_rom"]
     sw_build_opts: [" --action_env=MANUFACTURER_HOOKS_DIR=/nuvoton/verification/sw/device/tests/closed_source"]
   }
- new_test definition in BUILD.bazel in my local folder:
opentitan_functes

[2022-08-17 07:14] ariel9678 commented on #13430
- In chip_ast_sim_cfg.hjson defined:
   {
     name: new_test
     uvm_test_seq: ntil_chip_sw_alert_vseq
     sw_images: ["@manufacturer_test_hooks//:new_test:1"]
     en_run_modes: ["sw_test_mode_test_rom"]
     sw_build_opts: [" --action_env=MANUFACTURER_HOOKS_DIR=/nuvoton/verification/sw/device/tests/closed_source"]
   }
- new_test definition in BUILD.bazel in my local folder:
opentitan_functes

[2022-08-17 09:50] #14107 closed

[2022-08-17 10:30] #13690 closed

[2022-08-17 10:34] #13683 closed

[2022-08-17 11:41] johannheyszl commented on #14240
thanks @moidx @tjaychen @bilgiday for the pointers. Adding from the mail thread:
- There is a way to inject a known seed into the CSRNG (flag0) which is supplying the randomness to the AES core's PRNG for mask generation via the EDN.
- This mechanism is protected against FI. (Short summary on this will be added by @bilgiday soon.)
- The current assumption is that based on such a known seed, we can

[2022-08-17 14:51] tjaychen commented on #4139
i think @sriyerg and @msfschaffner had a discussion especially on the instantiable box. I can't remember the complete details now, but I believe our checklist has already been updated to reflect that.

[2022-08-17 14:57] alphan commented on #7893
@moidx this issue is not really related to bootstrap and boot_policy still uses the return values of these functions.

I thought about this a little bit and also discussed this offline with @luismarques. My thoughts were:

@luismarques also agreed.

I think we can keep this closed. Please feel free to reopen if you don't agree.

[2022-08-17 15:25] #13762 closed

[2022-08-17 15:34] johngt commented on #14194
Appears on daily reports:

<google-sheets-html-origin><style type="text/css"></style>

https://reports.opentitan.org/hw/top_earlgrey/dv/2022.08.12_14.52.16/results.html | https://github.com/lowrisc/opentitan/tree/b233d1417fd7bb95c3e5078ba56d0742459f98d4 | b233d1417 | 1504369765
-- | -- | -- | --
https://reports.opentitan.org/hw/top_earlgrey/dv/2022.08.13_15.58.33/results.html | https://github.com/

[2022-08-17 15:51] johngt opened #14321 "[test-triage] chip_sw_example_rom"
### Hierarchy of regression failure

Chip Level

### Failure Description

UVM_FATAL @ * us: (mem_bkdr_util.sv:480) [mem_bkdr_util[Rom]] file example_test_from_rom_sim_dv.*.scr.vmem could not be opened for r mode

0.chip_sw_example_rom.3944198162
Line 361, in log /container/opentitan-public/scratch/os_regression/chip_earlgrey_asic-sim-vcs/0.chip_sw_example_rom/out/run.log

  UVM_FATAL @   0.863910

[2022-08-17 16:11] marnovandermaas commented on #11794
Vendor in the new Ibex DV build system.

[2022-08-17 16:12] engdoreis commented on #13974
Thanks @cindychip, it worked.

However there's another issue, dvsim is failing due to timeout.
[code]
As a reference, this is the verilator time:
[code]
But what I don't understand is that the dvsim log shows that vcs simulated 6911.794856 us, which should take no more than 10 minutes
[code]

[2022-08-17 16:13] johngt commented on #14205
Adding tests with similar or related failures
- [ ] chip_sw_alert_handler_escalations
- [ ] chip_sw_lc_ctrl_alert_handler_escalation

[2022-08-17 16:14] ctopal opened #14324 "[otbn] `WDR[31] == ACC ISPR` when doing internal secure wipe"
While I was working on writing assertions for secure wipe countermeasure, I saw that our last WDR has the same value as ACC ISPR while doing an internal secure wipe. I think that happens because we are writing them at the same cycle with the value from URND. Not exactly sure if that's a big problem. @andreaskurth @vogelpi  WDYT?

[2022-08-17 16:16] tjaychen commented on #13974
does this expected error generate an alert in the test? If yes, you either need to handle the alert, or tell the DV environment to not gate on that check as well.
I think this is the option `run_opts: ["+bypass_alert_ready_to_end_check=1"]`

[2022-08-17 16:16] johngt commented on #14208
Adding Tests with similar or related failures
- [ ] chip_sw_otp_ctrl_keys
- [ ] chip_sw_otp_ctrl_entropy
- [ ] chip_sw_flash_init
- [ ] chip_sw_flash_scramble

[2022-08-17 16:22] johngt opened #14325 "[test-triage] chip_sw_flash_rma_unlocked"
### Hierarchy of regression failure

Chip Level

### Failure Description

UVM_FATAL @ * us: (dv_utils_pkg.sv:147) [chip_sw_flash_rma_unlocked_vseq] wait timeout occurred!

Occurs in sequence chip_sw_flash_rma_unlocked_vseq

### Steps to Reproduce

Observed in all runs since 12 August at least.
[cab5ffb90](https://github.com/lowrisc/opentitan/tree/cab5ffb9055258dcad355d60ac2c655519fbc000)
Build see

[2022-08-17 16:34] johngt opened #14327 "[test-triage] chip_sw_rv_core_ibex_address_translation"
### Hierarchy of regression failure

Chip Level

### Failure Description

Error was reported as

[code]

Could be related to [[test-triage] chip_sw_rv_core_ibex_rnd](https://github.com/lowRISC/opentitan/issues/14206) but seems different.

Then changed to
[code]
[code]
from  16 August - see https://reports.opentitan.org/hw/top_earlgrey/dv/2022.08.16_16.23.56/results.html

### Steps to Reproduce

Mi

[2022-08-17 16:43] johngt opened #14328 "[test-triage] chip_sw_gpio_smoketest"
### Hierarchy of regression failure

Chip Level

### Failure Description

[code]
GPIOs differs on different test runs, e.g. 42fb (17 Aug), 199c (16 Aug), 4c6a (15 Aug), b9e (14 Aug), 2fae (13 Aug), 21b0 (12 Aug)

Different error to that reported in [[test-triage] chip_sw_gpio](https://github.com/lowRISC/opentitan/issues/14194)

### Steps to Reproduce

Observed in all nightlies from at least 12 Aug

[2022-08-17 16:48] johngt commented on #14210
Note for devs. Looks like the timeout has gone but now have some bazel / fastbuild issues.

Since https://reports.opentitan.org/hw/top_earlgrey/dv/2022.08.16_16.23.56/results.html
chip_sw_uart_smoketest is passing but
chip_sw_uart_smoketest_signed is still not passing.

Error observed between 12 and 16 August
[code]

So now it may be a new type of issue
[code]

[2022-08-17 16:52] johngt opened #14330 "[test-triage] chip_sw_coremark"
### Hierarchy of regression failure

Chip Level

### Failure Description

[code]

### Steps to Reproduce

Observed in all nightlies since at least 12 August.
[cab5ffb90](https://github.com/lowrisc/opentitan/tree/cab5ffb9055258dcad355d60ac2c655519fbc000)
Build seed 3773991536, VCS

### Tests with similar or related failures

NA

[2022-08-17 16:56] johngt commented on #14209
Note per change announced on 16 August, mask_rom is now known as rom.
Same issue from 16 August but under a new name
https://reports.opentitan.org/hw/top_earlgrey/dv/2022.08.16_16.23.56/results.html

[2022-08-17 16:59] timothytrippel commented on #14210
Yeah, I looked into this, it's an issue with how we query Bazel `opentitan_functest` data deps and copy them to the run dir [here](https://cs.opensource.google/opentitan/opentitan/+/master:hw/dv/tools/dvsim/sim.mk;drc=d69bcd72c1ec822a85c415ab079c2ce83d1143ac;l=103). Basically since the UART smoketest BUILD target is used for both unsigned and signed tests, and the BUILD target doesn't specify whic

[2022-08-17 16:59] sriyerg commented on #14328
Both, this one and #14194 are under debug.

[2022-08-17 17:02] johngt opened #14332 "[test-triage] chip_sw_aes_sideload"
### Hierarchy of regression failure

Chip Level

### Failure Description

[code]
New issue - only observed since 17 August. All runs before passing

### Steps to Reproduce

Observed only since 17 August
[cab5ffb90](https://github.com/lowrisc/opentitan/tree/cab5ffb9055258dcad355d60ac2c655519fbc000)
Build seed 3773991536, VCS

### Tests with similar or related failures

- [ ] chip_sw_keymgr_sideload

[2022-08-17 17:06] johngt commented on #14196
Add Tests with similar or related failures
- [ ] chip_sw_otp_ctrl_keys
- [ ] chip_sw_otp_ctrl_entropy

[2022-08-17 17:44] a-will commented on #13968
FYI: If you'd like to skip the gdb dependency, sending Tcl commands to OpenOCD likely could effect the same outcome.

[2022-08-17 19:46] alphan commented on #6609
Adding notes from the ROM sync:

[2022-08-17 20:43] tjaychen commented on #6519
the spirit of this issue is now being tracked in #8440
Eventually when the movement of these blocks into `ipgen` is complete, this will be resolved as well.
I'm closing this one down to track in the other.

[2022-08-17 20:43] #6519 closed

[2022-08-17 20:44] tjaychen commented on #6042
the issue is a bit outdated, and the spirit of what was originally pointed out has also been largely done by the `usbdev / pinmux / top` refactoring. So I'm closing this down for now.

[2022-08-17 20:44] #6042 closed

[2022-08-17 20:56] msfschaffner opened #14341 "[pinmux] D3 review opens"
- [x] Cindy to look at [#3158](https://github.com/lowRISC/opentitan/issues/3158) and check whether it can be closed.
- [x] Waive USB submodule review and cover it as part of the USB checklist. https://github.com/lowRISC/opentitan/pull/14377
- [x] stick in a comment into RTL to explain the constant offset in the wakeup signal selection mux. https://github.com/lowRISC/opentitan/pull/14377

[2022-08-17 21:13] #7190 closed

[2022-08-17 21:19] msfschaffner commented on #4139
Yeah for the `IP_INSTANTIABLE` one we've already made an update, so I think that one we can check off.
For the other two I can add a little bit more decription.

[2022-08-17 21:50] sriyerg commented on #12816
For pinmux, low_power triggers the retention register. The AI here is to add a testplan entry to verify this logic. There are several tests the exist which could be updated to get this logic verified.

For aon_timer: `chip_sw_aon_timer_sleep_wdog_sleep_pause` is already in the tesplan.

[2022-08-17 23:04] #11081 closed

[2022-08-17 23:13] #7148 closed

[2022-08-17 23:27] msfschaffner commented on #5771
To your questions @moidx:
- the hash value itself is stored in unscrambled form and read verbatim for the comparison.
- changing the PRNG data to zero should be an easy change in the scrambling script. if that is preferred, I can change this right away.
https://github.com/lowRISC/opentitan/blob/1447b4853447dffbc0193b5aab27d96012f950ff/hw/ip/rom_ctrl/util/mem.py#L279-L321

[2022-08-17 23:33] msfschaffner commented on #14097
@vogelpi looks like we're almost done with this (one last question remains on #5771). @vogelpi would you mind prepping the D3 sign-off PR?

[2022-08-17 23:43] alphan opened #14345 "[top] "rom" interface of "rv_dm" is not a memory in top_earlgrey.hjson"
Noticed this while working on #14336 and discussed offline with @tjaychen. Currently, the entry for rv_dm [here](https://github.com/lowRISC/opentitan/blob/1447b4853447dffbc0193b5aab27d96012f950ff/hw/top_earlgrey/data/top_earlgrey.hjson#L572) looks like this:

[code]
which doesn't create a memory.

As a result, it is not included in the return value of `TopGenC::memories()` and required a minor wor

[2022-08-17 23:53] moidx commented on #5771
@alphan wdyt?

[2022-08-18 02:32] sriyerg commented on #12764
This is planned for DV also.

[2022-08-18 04:52] sriyerg commented on #12816
@tjaychen, please let me know if the new PR (and previous response) adequately satisfy this issue. Thanks!

[2022-08-18 05:09] sriyerg opened #14352 "[chip-test] chip_sw_sleep_pin_retention"
### Test point name

[chip_sw_sleep_pin_retention](https://github.com/lowRISC/opentitan/blob/master/hw/top_earlgrey/data/chip_testplan.hjson#L387)

### Host side component

SystemVerilog

### OpenTitanTool infrastructure implemented

_No response_

### Contact person

@tjaychen

### Checklist

Please fill out this checklist as items are completed. Link to PRs and issues as appropriate.
- [x] Check

[2022-08-18 05:10] sriyerg commented on #14352
Note that for this test, it will be preferred to reuse the `chip_sw_sleep_pin_wake` test which does not appear to be developed yet.

[2022-08-18 05:55] sriyerg commented on #14194
The breakage is due to lack of pins and newly developed tests for new functions. Since there are more functions that IO pins, the chip level IOs need to be properly muxed in the testbench to enable testing of various functions. Once the connections in the testbench are properly made according to ChromeOS usecase, this test will pass. It will likely remain broken for one more week.

[2022-08-18 05:56] sriyerg commented on #14328
The breakage is due to lack of pins and newly developed tests for new functions. Since there are more functions that IO pins, the chip level IOs need to be properly muxed in the testbench to enable testing of various functions. Once the connections in the testbench are properly made according to ChromeOS usecase, this test will pass. It will likely remain broken for one more week.

[2022-08-18 07:57] vogelpi opened #14353 "[bazel] Bazel frequently rebuilds the Verilator simulation from scratch"
When working on chip-level tests I noted that bazel frequently decides to rebuild the Earlgrey Verilator simulation from scratch even without doing hardware changes. For example:
- The other day while waiting for bazel to compile the Verilator simulation I rebased a couple of software-only commits. Once the compilation finished, the test was run. Upon the next command, bazel then decided to rebuil

[2022-08-18 07:59] vogelpi commented on #14353
Maybe @timothytrippel has an idea of what's going wrong here or a how I could work around this in a better way.

[2022-08-18 09:36] Jacob-Levy opened #14354 "Zero width glitches on 'intg_err_o' output of <xxx>_reg_top.sv (regtool generated file)"
When using this signal, `intg_err_o`. in the AST code, we faced an issue that this signal is setting the alert with no
apparent reason.  After some debug, we suspected that the signal has zero width glitches. The glitched happens
on the clock rizing edge after a write ( `assign enable_err = !en_i && or_tree[0];` is generating the glitch )..
De-glitching the signal with a FF solved the issue (see i

[2022-08-18 09:43] Jacob-Levy commented on #14354
@tjaychen Please assign the propare person to this issue.

[2022-08-18 13:54] engdoreis commented on #14203
Assigning to @tjaychen as #13981

[2022-08-18 14:06] engdoreis commented on #13228
Closing as this issue is duplicated and covered by #14193

[2022-08-18 14:06] #13228 closed

[2022-08-18 14:07] dmcardle opened #14356 "[ci] Upload googletest-generated logs as artifacts"
Is it possible to obtain googletest-generated logs from Azure Pipelines when tests fails in CI?

I'm adding a new test in PR #14343. I'm not surprised the test [failed](https://dev.azure.com/lowrisc/opentitan/_build/results?buildId=90626&view=logs&j=5df5adf8-3577-5927-f0b2-31afed2697ee&t=1253ba27-4e8c-57af-d0ba-888237644875&l=15026), but I don't know how to obtain the test log.

[code]

Based on `

[2022-08-18 14:26] #12905 closed

[2022-08-18 14:44] #7117 closed

[2022-08-18 14:47] tjaychen commented on #12764
i think @dmcardle was exploring this for FPGA already.

[2022-08-18 14:50] tjaychen commented on #12816
lgtm. i'll close this one first.

[2022-08-18 14:50] #12816 closed

[2022-08-18 14:56] tjaychen commented on #14203
actually maybe that was right, i'm blocked on another test anyhow, i'll work on this one.

[2022-08-18 15:00] Jacob-Levy commented on #14354
All the alerts are set asyncronusly (some has no clock). The one that are clocked were assumed to be glitch free or we de-glitch the before use. In the case of the regtool output we assumed it is glitch free...

[2022-08-18 15:04] tjaychen commented on #14354
i'm not sure why ast made that assumption, it was not the assumption made for the rest of OpenTitan (although to be fair this was not explicitly documented, it's just that `intg_err` were fed into `prim_alert_sender` which did the de-glitching for us).

The reason it was not immediately de-glitched is before use is because there is a fair amount of synchronous logic that immediately react to the e

[2022-08-18 15:21] #14228 closed

[2022-08-18 15:23] tjaychen commented on #13981
resolution to #10092

[2022-08-18 15:23] tjaychen commented on #10092
see #13981 for how the test should work going forward.

[2022-08-18 15:23] #10092 closed

[2022-08-18 15:50] eunchan commented on #14286
Let me close this as the change has been merged.

[2022-08-18 15:50] #14286 closed

[2022-08-18 16:19] Jacob-Levy commented on #14354
I already de-glitched the intg_err_o as intg_err in the waveform. Documentation is needed! But I think the logic creating the glitch, reg_wr_err, can be fixed.

[2022-08-18 16:25] marnovandermaas commented on #11794
Made some changes necessary to the new Ibex DV build system to be used inside the OpenTitan repository.
- There's a PR in Ibex that helps: https://github.com/lowRISC/ibex/pull/1786
- In the process created a cleanup PR: https://github.com/lowRISC/ibex/pull/1785
- Also, I added a patch inside OpenTitan, which are currently in this working branch: https://github.com/marnovandermaas/opentitan/tree/ib

[2022-08-18 16:39] tjaychen commented on #14354
ah i can let @msfschaffner comment more on that one. But that is actually a specific defense added to FI attacks (discovered by a security lab) to ensure we don't write to registers we did not intend to write.

The thing is, all of these errors are done during the command phase (`reg_we_err` and `intg_err`) so we can immediately respond during the dataphase (with a transactional error). If we want

[2022-08-18 16:49] alphan commented on #5771
Correct. Entire ROM region is LRX at [reset](https://github.com/lowRISC/opentitan/blob/aacbe3f39b498bd0e7aef611ab925cca5963c181/hw/ip/rv_core_ibex/rtl/ibex_pmp_reset.svh#L37), but reconfigured soon after [here](https://github.com/lowRISC/opentitan/blob/master/sw/device/silicon_creator/rom/rom_epmp_init.S).

Revisiting reset values definitely sounds like a good idea since it would improve the secur

[2022-08-18 16:53] alphan commented on #5771
We could also mask this PRNG data to make it invalid as we discussed offline.

[2022-08-18 17:02] alphan commented on #5771
From 2022-08-18 security meeting:
- [ ] @msfschaffner could you please update the script to pad with zeros?
- [ ] @alphan will look into shrinking the ePMP reset config.

[2022-08-18 17:05] vogelpi commented on #14240
Thanks @johannheyszl for your summary. Using the flag0 mechanism of CSRNG also sounds good to me. In the Security Working Group meeting we have been discussing the following challenges related to that:
1. We would need to ensure that no other EDN0 consumer is active during the AES capture. This is probably doable but as @tjaychen correctly suggested we need to prototype this before tapeout to be a

[2022-08-18 17:20] dmcardle commented on #14356
Ooh, I had an idea: what if we just add `--test_output=errors` to the Bazel test invocation? Then we wouldn't need to hunt down the correct artifacts tarball, we'd just see it in the default Azure Pipelines log.

[2022-08-18 17:21] vogelpi commented on #13974
Although instructing Ibex and OTBN to write IMEM and DMEM works, I think it would actually be better initialize these memories in VCS/Xcelium only. This will be a lot faster in simulation. I've now filed a PR that allows doing this selectively here: #14355 .

[2022-08-18 17:23] matutem commented on #13342
If the RTL cannot change, write a function that returns the data reordered.

[2022-08-18 18:03] engdoreis commented on #13974
That makes much more sense to me, as it is only a requirement for dvsim (because of the X), and as a consequence we would save some time in the Verilator test.

[2022-08-18 18:50] moidx commented on #13342
I will capture this in software documentation.

[2022-08-18 19:33] moidx opened #14363 "[cryptolib] entropy driver"
The Entropy driver aims to provide the following services:

- [x] Interface to software `csrng` instance [#14372 ](https://github.com/lowRISC/opentitan/pull/14372)
- [ ] Interface to pre-conditioned entropy provided by the `entropy_src`
- [ ] `csrng` KAT interface.
- [ ] `entropy_src` pre-conditioner (SHA3-384) KAT interface.
- [ ] #14364
- [ ] `edn0` and `edn1` helper routines to configure entrop

[2022-08-18 19:34] moidx opened #14364 "`entropy_src` continuous mode configuration including health checks."

[2022-08-18 19:37] tjaychen commented on #14363
@moidx at one point we talked about needing additional software checks for some of the register healthtest configurations (since they are not shadowed). Should that be part of this issue also? Or not since it's not an explicit service?

[2022-08-18 19:40] moidx commented on #14363
Hi @tjaychen, yes, let me add it to the list. We are planning to use this driver as part of the cryptolib, which will cover ROM_EXT, manufacturing and other use cases.

Marking as M2 since I am planning to implement some system level tests with this driver.

[2022-08-18 19:50] tjaychen commented on #14363
thanks @moidx

[2022-08-18 20:03] jdonjdon commented on #12773
closed with #13862

[2022-08-18 20:03] #12773 closed

[2022-08-18 20:13] jdonjdon commented on #13129
This sequence should address issues.
https://github.com/lowRISC/opentitan/blob/master/hw/ip/flash_ctrl/dv/env/seq_lib/flash_ctrl_rw_vseq.sv

[2022-08-18 20:13] #13129 closed

[2022-08-18 20:14] jdonjdon commented on #12944
closed with #13458 #14652

[2022-08-18 20:14] #12944 closed

[2022-08-18 20:23] jdonjdon commented on #13628
This test has self checking routine at the end of each scenario such as
https://github.com/lowRISC/opentitan/blob/ce27ee70f912541209de712d3c78f1349d2761e0/hw/ip/flash_ctrl/dv/env/seq_lib/flash_ctrl_rd_buff_evict_vseq.sv#L194
https://github.com/lowRISC/opentitan/blob/ce27ee70f912541209de712d3c78f1349d2761e0/hw/ip/flash_ctrl/dv/env/seq_lib/flash_ctrl_rd_buff_evict_vseq.sv#L224
(there are 7 scenarios

[2022-08-18 20:23] #13628 closed

[2022-08-18 20:34] jdonjdon opened #14367 "[test-triage] chip_sw_flash_rma_unlocked"
### Hierarchy of regression failure

Chip Level

### Failure Description

                UVM_FATAL @ 19553.977652 us: (dv_utils_pkg.sv:147) [uvm_test_top.env.virtual_sequencer.chip_sw_flash_rma_unlocked_
vseq] timeout while wait for flash rma complete
                UVM_INFO @ 19553.977652 us: (uvm_report_catcher.svh:705) [UVM/REPORT/CATCHER]
                --- UVM Report catcher Summary ---

#

[2022-08-18 20:35] jdonjdon commented on #14208
move chip_sw_flash_rma_unlocked to #14367 because it is separate issue

[2022-08-18 20:36] jdonjdon commented on #14367
fixed by #14365

[2022-08-18 20:36] #14367 closed

[2022-08-18 21:06] msfschaffner opened #14369 "[sensor_ctrl] D3 review opens"
- [x] Remove unnecessary portions of the documentation #14723
- [x] Block D3 on #13366, #14721
- [x] Naming inconsistencies between sensor_ctrl and sensor ctrl #14723
- [x] Uses bit_toggle_t as a boolean #14723

[2022-08-18 23:57] a-will commented on #13096
Closing this, as most tasks are done. Issue #5760 can continue to track the documentation portion.

[2022-08-18 23:57] #13096 closed

[2022-08-19 00:32] msfschaffner commented on #3158
@cindychip can this be closed?

[2022-08-19 03:52] timothytrippel commented on #14210
#14382 should fix this.

[2022-08-19 03:54] timothytrippel commented on #10863
#14328 shows that #11965 works so we can close this.

[2022-08-19 03:54] #10863 closed

[2022-08-19 09:34] vogelpi commented on #13974
I've now merged the PR to initialize IMEM and DMEM to all zero. In addition, I've rebased #14355 and included all uncontroversial changes there. The test still fails and it's very hard to debug, most likely because there is always a chance that after changing the scrambling key there is a certain chance that the ECC bits are correct and no IRQ is triggered. The test fails if a single read at the e

[2022-08-19 11:09] vogelpi opened #14385 "[chip-test, otbn] Speed up otbn_ecdsa_op_irq_test"
As mentioned in https://github.com/lowRISC/opentitan/pull/14279#discussion_r946000686 the otbn_ecdsa_op_irq_test chip-level test now takes over 5 hours to complete in VCS. This is massive and we should try to reduce the run time spent for this test. In general, most of these OTBN programs take a very long time to run. This is why we typically don't simulate them but rather just execute them on the

[2022-08-19 12:57] ctopal opened #14386 "[otbn,rtl] X propagation to blanked path while requesting RND"
Scenario:
We are executing the snippet below:
[code]

CSRRW enables RND prefetch, BN.WSRR reads out RND. We see a non-zero value at `wr_data_blanked` for w2. Specifically, we see X propagation to a blanked signal while there is no entropy provided to RND yet.

To recreate the problem:
`util/dvsim/dvsim.py hw/ip/otbn/dv/uvm/otbn_sim_cfg.hjson -i otbn_smoke --reseed=1 --fixed-seed=2163599489 --tool=

[2022-08-19 13:08] ctopal commented on #14386
When I peaked into the internals, it looks like `stall` signal from `otbn_controller` blocks `u_otbn_rf_bignum_inner.wr_en_i`  but does not block `u_otbn_rf_bignum_inner.rf_predec_bignum_i.rf_we`. Since we are controlling the blanking with `rf_we`, we don't blank while we are stalling to get RND.

[2022-08-19 13:48] #14097 closed

[2022-08-19 14:54] GregAC commented on #14386
@vogelpi @andreaskurth what do you think?

As OTBN is stalled whilst RND isn't blanked we shouldn't be generating a
useful power signature most of the time but you'd get something at the
beginning and the end. Given it relates to RND which the instruction is
accessing anyway you're already bound to get some signature this just
results in a bit more.

On Fri, 19 Aug 2022, 14:08 Canberk Topal, ***@*

[2022-08-19 15:19] moidx commented on #11772
@milesdai should we close as obsolete?

[2022-08-19 15:23] moidx commented on #10966
Hi @cindychip, marking as M2, but please update if needed.

[2022-08-19 15:25] mundaym commented on #7843
This has been fixed (at some point).

[2022-08-19 15:27] moidx commented on #8739
We are working on using a JTAG cable connection. Pending documentation updates.

[2022-08-19 15:28] #5996 closed

[2022-08-19 15:30] #3454 closed

[2022-08-19 15:33] moidx commented on #8395
Closing as obsolete. We now have a standard process for listing/auditing countermeasures.

[2022-08-19 15:33] #8395 closed

[2022-08-19 15:34] moidx commented on #8460
Hi @cindychip is this still an issue? Who should it be assigned to?

[2022-08-19 15:37] moidx commented on #8226
Hi @jadephilipoom, can this issue be closed now?

[2022-08-19 15:38] johngt commented on #14198
Noting that lowRISC may take this effort on but official handover has not happened and the priorities lie with OTBN and IBEX.

[2022-08-19 15:39] moidx commented on #7407
Closing as obsolete.

[2022-08-19 15:39] #7407 closed

[2022-08-19 15:41] moidx commented on #7473
@jadephilipoom can this be closed now?

[2022-08-19 15:42] johngt commented on #14202
Linked PR just awaiting review from @tjaychen @timothytrippel

[2022-08-19 15:42] moidx commented on #6783
I believe this has been fixed now. Closing as obsolete.

[2022-08-19 15:42] #6783 closed

[2022-08-19 15:43] moidx commented on #6802
Marking as obsolete as Nexys is no longer supported.

[2022-08-19 15:43] #6802 closed

[2022-08-19 15:44] moidx commented on #6878
Marking as M2 Milestone for further triaging.

[2022-08-19 15:45] moidx commented on #6915
HI @alphan, marking as Backlog. Can this be closed now?

[2022-08-19 15:47] moidx commented on #6978
Closing as obsolete. I believe we don't use Mundane anymore.

[2022-08-19 15:47] #6978 closed

[2022-08-19 15:49] moidx commented on #7159
This is the case now with Bazel. Closing as Done.

[2022-08-19 15:49] #7159 closed

[2022-08-19 15:49] johngt commented on #14325
Although a similar issue [[test-triage] chip_sw_flash_rma_unlocked](https://github.com/lowRISC/opentitan/issues/14367) seems to be related to rma timeout whereas the issue highlights a test level timeout.
Fix has gone in for the other possibly related issue. Will need to see what happens with the next nightly runs to understand if this behaviour has been resolved.

[2022-08-19 15:51] moidx commented on #6549
Is this still an issue?

[2022-08-19 15:52] moidx commented on #6549
Closing as obsolete.

[2022-08-19 15:52] #6549 closed

[2022-08-19 15:57] moidx commented on #6665
Hi @GregAC marking as M2 for further triage.

[2022-08-19 15:59] moidx commented on #6137
We are moving in this direction with the `status_t` implementation. Closing as obsolete.

[2022-08-19 15:59] #6137 closed

[2022-08-19 16:00] johngt opened #14389 "[test-triage] chip_sw_lc_walkthrough_dev chip_sw_lc_walkthrough_prod chip_sw_lc_walkthrough_rma"
### Hierarchy of regression failure

Chip Level

### Failure Description

[code]
These are new tests introduced August 16 so are probably known issues, just tagging for completeness.

[code]

### Steps to Reproduce

Occurs on Aug 16 and Aug 17 runs
August 17 2022 07:06:16 UTC

[cab5ffb90](https://github.com/lowrisc/opentitan/tree/cab5ffb9055258dcad355d60ac2c655519fbc000)
Build seed: 3773991536
VCS

[2022-08-19 16:00] moidx commented on #6483
Assigning to M2 for further triaging.

[2022-08-19 16:02] johngt commented on #14200
- [ ] tl_d_oob_addr_access
- [ ] tl_d_illegal_access

[2022-08-19 16:02] moidx commented on #5804
Marking as obsolete.

[2022-08-19 16:02] #5804 closed

[2022-08-19 16:04] moidx commented on #5980
Leaving open as there are some otbn dependencies still using ninja.

[2022-08-19 16:05] #5997 closed

[2022-08-19 16:09] moidx commented on #5746
This is done now. Marking as obsolete.

[2022-08-19 16:09] #5746 closed

[2022-08-19 16:15] a-will commented on #6878
Closing, as this is an issue in the CW310's SAM3X firmware, and the upstream bug (https://github.com/newaetech/cw310-bergen-board/issues/3) is marked closed.

[2022-08-19 16:15] #6878 closed

[2022-08-19 16:21] a-will commented on #8739
Closing, as JTAG support was implemented in #13464 and documented in #13744. The decision to pause pursuits of JTAG through the SAM3X came from the silicon WG meeting, after discussing #13552.

[2022-08-19 16:21] #8739 closed

[2022-08-19 16:22] a-will commented on #6683
Closing, as all tasks have been completed.

[2022-08-19 16:22] #6683 closed

[2022-08-19 16:38] cindychip commented on #14389
These tests need more time because they have RMA transition. I will add a fix soon. Thanks for adding the issue.

[2022-08-19 16:46] tjaychen commented on #14205
hmm? can i ask why this was assigned to me?
Has there been any more triage on the failure reason?

[2022-08-19 16:51] sriyerg commented on #14345
I ran into the same issue in rv_dm block level DV. I ended up manually writing the register / memory models for the debug mem region (which is typically auto-generated from the IP hjson).

[2022-08-19 17:04] weicaiyang commented on #14210
Thanks @timothytrippel

[2022-08-19 17:09] tjaychen commented on #14345
yeah it feels like we should make this more consistent somehow at the `top_earlgrey.hjson` level.

[2022-08-19 17:38] milesdai commented on #11772
Yes, we have not seen any additional problems like this recently.

[2022-08-19 17:38] #11772 closed

[2022-08-19 17:55] cindychip commented on #3158
PR merged, close it

[2022-08-19 17:55] #3158 closed

[2022-08-19 17:58] tjaychen opened #14395 "[dv/flash_ctrl] shorten open source RMA time"
#14365 showed that because of flash rma, the test run time is VERY long.
This is due to the fact that the rma entry process has a combination of erase, program and reads.

In the open source modeling, the program is just blindly set to take 50 cycles, a lot of time is wasted just waiting for something that really only takes 1 or 2 cycles. We should allow this to be an exposed build time option suc

[2022-08-19 17:59] tjaychen commented on #14395
could folks on the dv side let me know if this is a bad idea? We do something similar for interrupts, where sometimes we slow down the read latency to hit different corner cases.

This obviously has no impact on the "real" model, it only impacts the open versions.

[2022-08-19 18:58] #9045 closed

[2022-08-19 19:06] weicaiyang commented on #14395
I think it's a good idea. This will be very useful to DV.

[2022-08-19 19:23] milesdai opened #14400 "[ci] Simplify the test-running logic in Azure Pipelines"
`ci/scripts/get-build-type.sh` currently defines the variables being used in `azure-pipelines.yml` to control which jobs run for different PRs. This logic was built up incrementally and needs to be consolidated and cleaned up. We should re-examine which jobs need to run for which PRs and document these conditions with clearer logic in these two files.

For example, PRs that make changes to DV file

[2022-08-19 19:35] dmcardle opened #14401 "IWYU for memcpy, memset, etc."
It looks like there are a number of places that we call memcpy() and friends without including the declaration.

We should add `#include "sw/device/lib/base/memory.h"` to any files that need it.

This query is far from a full audit, but it's a start: https://cs.opensource.google/search?q=file:c$%20memcpy%20-memory%5C.h%20-file:vendor&ss=opentitan&start=1

[2022-08-19 19:55] tjaychen commented on #14317
the rtl side fix is in, now we just need to update the test to reflect this.

[2022-08-19 20:32] engdoreis commented on #14205
I quickly tried to debug this test, but I could not find any easy solution. So I assigned it to you because the `sw/device/tests/sim_dv/alert_handler_escalation.c` was committed by you.
But maybe I misunderstood the regression on call process.

[2022-08-19 20:33] tjaychen commented on #14205
okay sounds good, if you could just leave a few notes and what you were able to see during the triage process (what was tried etc), or if anything seemed peculiar, that would be great.

I can have a look.

[2022-08-19 20:54] sriyerg commented on #14395
SGTM.

[2022-08-19 21:36] #14341 closed

[2022-08-19 22:41] weicaiyang commented on #14317
Thanks @tjaychen

[2022-08-19 22:44] #13981 closed

[2022-08-19 22:52] tjaychen commented on #14193
i'll take this for now.
The plan is to just add a top level assertion to check for this behavior.
Most of the edn req test can be re-used, but we want to update that to do reseeds more frequently so we can create a conflict situation between sha3 and aes.

[2022-08-20 00:13] #14209 closed

[2022-08-20 00:23] weicaiyang opened #14407 "[dv] FSM transition coverage"
### Problem
These 2 types of transitions aren't easy to be covered in regular function tests as raised in #14028
  - any state -> reset
  - any state -> error in the sparse_state_fsm

### any state -> reset
#### Approach 1
If we want to ensure that the FSM goes back to reset state when reset happens, RTL lint tool can check it. @msfschaffner has done some experiment - enable `RESET_STATE_REQ` rule

[2022-08-20 02:14] tjaychen opened #14409 "[csrng/edn] instantiate lock-up?"
I'm running into what appears to be a lock-up between otbn / csrng.

![image](https://user-images.githubusercontent.com/1026250/185725176-86e85551-acfc-4c30-9c71-cdbba56039f9.png)

I've attached the waves above, but generally speaking this is the scenario.

1. csrng and edn0/edn1 are both activated
2. edn1 specifically makes an instantiation request with csrng
3. Before the instantiation request i

[2022-08-20 02:16] tjaychen commented on #14409
I will push the modifications need to reproduce this soon.
It was hidden earlier because `entropy_src` was misconfigured in the test, see #13959.  I thought I had fixed it, but I think through some kind of merge conflict it crept back it.

This misconfiguration generates a lot of "fake" entropy and allows all the steps to complete way before they should.

Still, there could be a user error here, s

[2022-08-20 06:15] #14210 closed

[2022-08-21 21:09] martin-lueker opened #14417 "[entropy_src] Power Management Improvements"
This issue is a follow up to PR #14391, which removed some unverifiable behaviors from the `entropy_src`, one such behavior was a return to Idle if there was no room for further outputs.

This leads to questions about how to prevent unnecessary power usage in this block, as there
is no need to generate conditioned outputs if those seeds will not be used.

This is not the only power consideration e

[2022-08-21 21:36] #5771 closed

[2022-08-21 22:14] martin-lueker commented on #14409
Is there some reason CSRNG is being disabled in step 3?

[2022-08-22 07:29] andreaskurth commented on #14409
CC @vogelpi

[2022-08-22 07:31] andreaskurth commented on #14409
Yes, please see https://github.com/lowRISC/opentitan/issues/13561#issuecomment-1180553769

[2022-08-22 07:53] ctopal commented on #13329
remaining 2022-08-22 2

[2022-08-22 08:00] andreaskurth commented on #14409
I am assuming steps 1-4 are performed as the entropy components are first configured for boot mode and then for auto mode, so the procedure in general does not seem odd to me. However, the *disable before request completed* part seems odd.

You wrote "Before the instantiation request is completed and ack'd, the csrng is disabled"; did you check the `crsng_req_ready` and `csrng_rsp_ack` signals to

[2022-08-22 08:33] jadephilipoom commented on #10704
I think it would be nice to have a hardware-side check. From software all I can do is see that the key manager says it's done writing the sideloaded key, but I can't check that this loading was successful in any way since I can't read the KMAC key registers. I can make sure that SW always checks the key manager status, of course, but it would be a helpful extra layer of assurance if the hardware c