[2021-03-05 22:09] tjaychen commented on #5462
yeah, replacing aon_timer with `lc_cpu_en` makes sense to me.
I can quickly do that PR since Tom might be really busy with other things at the moment.

[2021-03-05 22:09] #5339 closed

[2021-03-05 22:10] #5198 closed

[2021-03-05 22:12] tjaychen commented on #4263
just wanted to document our discussion, and we've agreed that the 1-bit error out of the full 16b should be okay.

[2021-03-05 22:12] weicaiyang commented on #5262
temporary fix this in TB at #5479. this should be solved when we add mem initialization in design.

[2021-03-05 22:19] tjaychen commented on #5468
hmm...if you don't have reset manager, how are all the resets in the system
wired? Did you convert them all to using rst_ni?

On Fri, Mar 5, 2021 at 4:27 AM Usman <notifications@github.com> wrote:

[2021-03-06 01:21] weicaiyang opened #5484 "spi_host mem outputs are tied 0"
spi_host has been added to top level but looks like most of features are not completed, and memory outputs are tied to 0, which causes top-level memory tests failing.

No rush to fix this. Please let me know when the memory is added, so that I can check those tests.

[2021-03-06 04:59] usmnzain commented on #5468
Right now I have only ibex core  a gpio module and debug module. So there are two reset signals one is external rst_ni and other one is ndmreset.
Actually I am also confused with the reset management when I have two reset signals for the system how should I manage them with the simplest logic.
Is the issue I am getting is due to reset management??
If I don't want to go for reset manager of opentit

[2021-03-06 05:43] tjaychen commented on #5468
hmmm ...we'd have to get a better sense of what else you took out.
OpenTitan has security protection on where the processor can execute.  And
that attribute is carried on the bus, which then relies on life cycle from
the perspective of the memory.
So depending on what / how much you removed, the debug module memories
might not be executable, and that could explain at least some of this.

On Fri, M

[2021-03-06 07:54] sajjadahmed677 commented on #5468
Hello @tjaychen!
actually it is very simple design which doesn't include any of the security module of opentitan right now. we are trying to configure Debug module along with ibex core. the whole system includes tlul bus, program and data memories, ibex core and debug module.
we are facing the issue as described in above comments. so, need guidance on the issue.

[2021-03-06 13:32] vogelpi opened #5487 "[top, edn] Group entropy consumers and re-assign to EDNs according to entropy quality"
Currently, the different entropy consumer devices are arbitrarily connected to the two EDN instances. Once the entropy story is more finalized we should group the various endpoint devices according to the required entropy quality and connect one group to EDN0 and a second group requiring higher-quality entropy to EDN1 (as discussed in the security meeting on March 4).

See for example below diagra

[2021-03-06 16:33] sjalloq commented on #5416
If I look at something like the uvm_reg_field description of `set_access`, it notes that:

So perhaps if you want to keep the current behaviour of the arbiter, you need to update the register read path to return the correct data.

[2021-03-07 18:11] felixmiller commented on #3191
Here is some typical example code to continue this discussion:

P-256 quantities are represented as single limb 256-bit wide numbers and a typical "pseudo" modular add is:
`addm w1, w2, w3`
This implements `w1 <= w2 + w3 mod MOD` where `MOD` is the contents of the MOD WREG.

In the current microarchitecture, P-384 quantities are represented as dual limb numbers, occupying a full 256-bit reg and 12

[2021-03-08 09:25] imphil commented on #5336
PR: https://github.com/lowRISC/opentitan/pull/5489

[2021-03-08 10:45] imphil commented on #5336
Resolved through the PR listed above.

[2021-03-08 10:45] #5336 closed

[2021-03-08 14:30] rswarbrick opened #5492 "[otbn] Failing nightly CSR tests"
These are failing sporadically at the moment. Figure out what's going on and fix it (probably just a missing tag).

An example:
[code]

[2021-03-08 14:31] rswarbrick opened #5493 "[otbn] Failing "single" test in nightlies"
The `single_binary` test failed on Sunday 7th March. Figure out why.

[code]

[2021-03-08 14:42] imphil opened #5494 "[otbn] Increase IMEM and DMEM width"
Increase imem width to ~40 bit~ 39 bit.

Increase dmem width to ~8*40 = 320 bit~ 8*39 = 312 bit

@msfschaffner are these the widths we should be using, or is 32 -> 39 bit the right width for SRAMs?

[2021-03-08 14:45] imphil opened #5495 "[otbn] Instantiate local LFSR for URND"
Instantiate local LFSR for URND

[2021-03-08 16:57] cindychip opened #5497 "[otp_ctrl] otp_check failures and error status"
Hey Michael,
I have three questions/issues related to OTP_CHECK failure.

1. If otp check has timeout error, it reports incorrect status error:
   Expected status: "timeout_error" should stay high;
   Actual status: "timeout_error" is high for ONE CLOCK CYCLE, then "lsfr_fsm_error" stays high.

   Reason: [`chk_timeout_d`](https://github.com/lowRISC/opentitan/blob/master/hw/ip/otp_ctrl/rtl/otp_ctr

[2021-03-08 17:29] cindychip commented on #5493
Thanks for working on this Rupert,
Here are some more detailed error message, hope it helps:
[code]

[2021-03-08 18:18] tjaychen commented on #5468
are you instantiating `rv_dm` in your design?
if yes, what are you tying the `hw_debug_en_i` input to?

On Fri, Mar 5, 2021 at 11:54 PM Sajjad Ahmed <notifications@github.com>
wrote:

[2021-03-08 18:18] tjaychen commented on #5487
thanks for filing the issue @vogelpi

[2021-03-08 18:20] tjaychen commented on #5416
i think what you're saying makes sense, but i've not really had time to give it more thought.
Adding a few others.

@eunchan
@vogelpi
@weicaiyang

[2021-03-08 18:27] eunchan commented on #5416
There are a few places HW's behavior needs to be considered in. Clear example is the interrupt status, which HW sets the status while SW clears the interrupt. RC is more like the interrupt status clearing. So, I am weighing in to @sjalloq 's opinion.

But, generally "RC" type is strongly discouraged to use. As explained above, it is there for compatibility. We can change the behavior though.

[2021-03-08 18:28] tjaychen commented on #5494
the one where we have the 40b restriction is ROM only, so 39b is the right width for SRAMs

[2021-03-08 18:41] msfschaffner commented on #5462
Great, thanks!

[2021-03-08 19:21] msfschaffner commented on #5497
Hey @cindychip, thanks for catching these issues.

1. Yes, the timeout indication should be latched. This is easy to fix.
2. Indeed, the buffered partitions never ack back to the LFSR timer in case one of the checks fail. One could argue that it does not matter in that case, since such an error is fatal. However, there may be some value in letting the LFSR timer continue to operate and continue tr

[2021-03-08 20:16] cindychip commented on #5497
Thanks Michael for the quick fix, I will take a look soon.

For question 3) I did a quick sequence and seems like not all HW outputs returned to its default values:
Here are three signals (are they considered HW outputs?):
1). `pwr_otp_o`: I think this signal should be fine, the `otp_idle` should be 1 so power manager can send out reset
2). `otp_hw_cfg_o`
3). `otp_lc_data_o`
I was thinking we migh

[2021-03-08 20:24] msfschaffner commented on #5497
Hey @cindychip, sorry I should clarify:

Only the signals that carry buffered partition data will be reset to their RTL defaults.
1) is a control signal that should not be affected by this.

As for 2) and 3), they will only be reset to their default values if the corresponding partition controller actually moved into the terminal error state.

Moving all partitions to the terminal error state simu

[2021-03-08 20:36] cindychip commented on #5497
Hi Michael,
Thanks for clarifying. Sorry I somehow thought `the OTP controller will send out a fatal_check_error alert and reset all of *its* hardware outputs to their defaults`. I thought the its refer to OTP controller :)
I personally think it is fine to only disable the corresponding failed partitions. But would be nice to see if Tim has any inputs or concerns.

[2021-03-08 20:37] msfschaffner commented on #5494
Yes I have prepared a 39bit wide SRAM for IMEM, and a 312bit wide configuration for DMEM.

[2021-03-08 23:09] weicaiyang commented on #5416
The only "RC" reg I can find in our repo is in keymgr to read out the SW_SHARE. I feel SW should only read it when the keymgr operation is done, so that race condition should never happen. For those where HW update and SW clear may happen at the same time, we should probably not use "RC". So, either behavior seems fine to me.

[2021-03-09 01:38] galsanka opened #5509 "Building binaries without instruction compression"
Hello all,

I have been trying to build OpenTitan software from C sources using this tutorial: https://docs.opentitan.org/doc/ug/getting_started_sw/.

I want to generate the binaries without instruction compression. I built the riscv toolchain without the C extension (i.e. by [using all the recommended flags except for `--with-arch=rv32im`](https://docs.opentitan.org/doc/ug/install_instructions/#c

[2021-03-09 07:27] usmnzain commented on #5468
[code]

I cannot find the pin that you have mentioned in the ```rv_dm``` module.

[2021-03-09 09:34] GregAC commented on #5120
There's already one OTBN hookup, that was before I knew we had two seperate hookups planned. Shall I implement the second one now? Do we need to worry about what is connected to what EDN instance or is it sufficient to just have all hookups in place and we can worry about IP -> EDN allocation later?

[2021-03-09 13:05] rswarbrick opened #5512 "[tlul] Confusing comment in tlul_adapter_sram.sv"
There's a note about "outstanding + 1" on line 328 of `tlul_adapter_sram.sv`, which was added by commit 281a7b2f99. Looking at the history, I think it was rendered moot by @eunchan's commit 6c731a8982.

@eunchan, @tjaychen: I think you're the two people involved. Can that paragraph of the comment just be removed?

[2021-03-09 13:20] rswarbrick commented on #4902
@weicaiyang: I agree. I would have thought the unmapped address behaviour should be the same as the "expose alert cause" behaviour. Am I right in thinking that `devmode_i` isn't actually wired up anywhere yet? `git grep '\.devmode_i'` shows everything wiring it up to a constant `1'b1`.

[2021-03-09 13:33] jackieke724 opened #5514 "[Question] Temporary work around for FPGA boards without SPI interface"
I added a customized IP. Due to the size of my IP, I need to switch to VC707, but this board does not seem to have any compatible SPI interface. I also tried to use FMC to access the IOs on Genesys2, but the FMC pins on VC707 cannot supply the 3.3V required by the DPTI/DSPI interface. All the "large-enough" FPGA boards I looked can only supply 1.8V for their FMC pins.

Is there any work-around to

[2021-03-09 14:39] imphil commented on #5514
You can remove the SPI device peripheral if you only want to use it to load the memories -- you can do the memory loading through JTAG/OpenOCD as well.

[2021-03-09 14:46] silvestrst commented on #5353
#5516 adds a single MaskROM + ROM_EXT smoke test for now - the expectation is that we eventually would add all the rest. The versions of MaskROM and ROM_EXT will be "lightweight" - excluding things like signature verification, etc...

[2021-03-09 16:16] imphil commented on #5509
@silvestrst

[2021-03-09 16:23] imphil opened #5519 "[ipgen] Provide a clean way to produce IPs from IP templates"
We have a number of IP blocks currently in top_earlgrey which are produced from IP Templates:

- alert_handler
- ast
- clkmgr
- flash_ctrl
- padctrl
- pinmux
- pwrmgr
- rstmgr
- rv_plic
- sensor_ctrl
- xbar
- xbar_main
- xbar_peri

The instantiation of an IP block from a template is currently done within `topgen.py`, and additionally with a script within most of the IP blocks. The variables which

[2021-03-09 17:03] tjaychen commented on #5468
ah are you using an older version?
This is top of tree right now
https://github.com/lowRISC/opentitan/blob/master/hw/ip/rv_dm/rtl/rv_dm.sv#L22

On Mon, Mar 8, 2021 at 11:28 PM Usman <notifications@github.com> wrote:

[2021-03-09 17:04] tjaychen commented on #5120
yeah if you can just add a second interface, I will make sure to hook it up
to the correct edn instance.
For now, would you mind just diversifying the names a bit with something
like rnd / urnd? That would be very helpful at the top level.

On Tue, Mar 9, 2021 at 1:34 AM Greg Chadwick <notifications@github.com>
wrote:

[2021-03-09 17:12] eunchan commented on #5519
#4345 is related RFC

[2021-03-09 17:19] imphil opened #5523 "[otbn] Create a second EDN connection for RND/URND"
We currently have a single EDN connection towards OTBN, we need to also create the second one to edn1 (which will then feed RND).

(Even though we don't connect it internally yet we need to have it connected for silver.)

[2021-03-09 18:05] imphil commented on #5519
Now I know why I've heard of the proposal before (and then almost completely forgot about it). Thanks @eunchan

[2021-03-09 18:09] imphil opened #5525 "[edn] Make NumEndPoints a Hjson parameter"
NumEndPoints is currently set in the RTL (edn.sv) but also used as parameter in edn.hjson (e.g. for the width field). Make this setting a parameter in the Hjson and use the generated parameter in RTL.

[2021-03-09 18:13] imphil commented on #5525
@mwbranstad would you mind having a look? If you're looking for examples on how the Hjson params can be used you can look at e.g. the Hjson of spi_host.

[2021-03-09 19:20] mwbranstad commented on #5525
@imphil I will take a look.

[2021-03-09 19:40] tjaychen opened #5526 "[util] intermodule signal to multiple destination types"
There is a need for certain intermodule signals to both go to other modules (connect category) and external to `top_earlgrey` (external category).

The current intermodule setup is not really equip to handle this. Instead of quickly hacking something in, I wanted to see if it makes sense to think about some kind of refactoring similar to what @rswarbrick has done with the register side.  Does it m

[2021-03-09 19:42] tjaychen opened #5527 "[util] dvsim dry-run and remote"
This was encountered while adding a new module to the regression list.

It seems that when the dry-run option is given, the remote syncing step is skipped.  As a result, the dry-run is performed over either stale data or errors out.  This may be work as intended, but I wanted to clarify what the ideal behavior should be.

[2021-03-09 20:09] tjaychen commented on #5527
yeah that's fine.  Should we have an error check that catches that case?

[2021-03-09 20:09] weicaiyang commented on #5527
I suggested not to use `--remote` with dry-run yesterday too. But `--job-prefix` should not matter, right?
But if user does `--remote` with dry-run, what should the right behavior be? perhaps we should do remote copy first.

[2021-03-09 20:54] mwbranstad commented on #5525
@imphil I took at look at spi_host. I really am not sure how what is in edn now is different than what is in spi_host for how the parameters are generated. Need another clue here.

[2021-03-10 01:24] sriyerg commented on #5527
Fix in #5531. PTAL, thanks for reporting.

[2021-03-10 01:46] weicaiyang commented on #4263
Closing this. DV update is done at #4178

[2021-03-10 01:46] #4263 closed

[2021-03-10 01:47] weicaiyang commented on #3599
close via  #4178

[2021-03-10 01:47] #3599 closed

[2021-03-10 02:12] tjaychen commented on #4902
yeah devmode_i really needs to be hooked up to lc_hw_debug_en or something
along those lines.

On Tue, Mar 9, 2021 at 12:23 PM weicaiyang <notifications@github.com> wrote:

[2021-03-10 02:12] tjaychen commented on #4902
btw regarding the alert cause i don't think we can actually qualify them with life cycle.
I'll try to write a more thought out response later.

[2021-03-10 03:40] jackieke724 commented on #5514
Thank you @imphil. The JTAG pins on VC707 are dedicated pins, so I think I cannot use them for loading the memories.

[2021-03-10 06:06] #5527 closed

[2021-03-10 07:49] rswarbrick commented on #5525
I *think* that all that's needed is the equivalent of https://github.com/lowRISC/opentitan/pull/5522. @imphil: is there something else I'm missing?

[2021-03-10 10:40] silvestrst commented on #5509
Hi Georges,

Thank you for your question.

Am I understanding it correctly that you are trying to selectively compile
some of the binaries without the `C` extension, whilst keeping all the rest
built with the provided toolchain?

If my above conclusion is correct, then I think that the project as is
doesn't support this option. Moreover I think meason doesn't support mixing
and matching of differe

[2021-03-10 12:57] mwbranstad commented on #5525
i think i have the equivalent, so blind to something.

[2021-03-10 13:04] rswarbrick commented on #5525
That PR removes the parameters from the module declaration. I believe that `edn.sv` currently defines parameters on the `edn` module (rather than getting their values from a package).

[2021-03-10 14:02] mwbranstad commented on #5525
ah yes thanks @rswarbrick - missed the removal part.

[2021-03-10 15:48] jackieke724 commented on #5514
I have found an FMC interface card, [DC2159A](https://www.analog.com/media/en/dsp-documentation/evaluation-kit-manuals/dc2159af.pdf), which has FT2232H, but I am not sure if it can support 1.8V yet.

If there is neither a JTAG nor SPI interface, can I still load memory?

[2021-03-10 15:52] imphil commented on #5514
No.

[2021-03-10 17:49] cfrantz commented on #5134
We have this same issue with the interposer on current Google Titan chips.

When using the interposer to connect the SPI_DEVICE through to SPI_HOST within the Root-of-Trust (connecting SPS to SPI using the existing chip's terminology), we must assume that the upstream SPI host (spi master) has complete control over the SPI bus.

Discussing this in terms of the existing Titan chip and how its firmw

[2021-03-10 21:49] tjaychen commented on #5526
as it turns out i've already addressed this particular problem and forgot about it.... maybe let me close this for now.

[2021-03-10 21:49] #5526 closed

[2021-03-10 21:50] tjaychen commented on #5453
this issue should be fixed. Please re-open if you still see problems (or open a new one).

[2021-03-10 21:50] #5453 closed

[2021-03-10 21:50] tjaychen commented on #5452
this issue should be fixed. Please re-open if you still see problems (or open a new one).

[2021-03-10 21:50] #5452 closed

[2021-03-10 22:44] esshiu opened #5550 "[sysrst_ctrl] ULP wakeup feature"
I have one more feature to implement. It's the wakeup circuitry to exit from the ultra-low-power state.

-Eric

[2021-03-10 23:31] weicaiyang opened #5552 "[dv] `BUILD_ROOT=${sw_build_dir}` doesn't work for tcsh"
Thanks @snpsverif for finding this issue.

It's fine when we run in bash, but seems like we need to use `setenv BUILD_ROOT ${sw_build_dir}` for tcsh
how can we code this better to support tcsh as well?

https://github.com/lowRISC/opentitan/blob/d20804dfa0f1699919dd8c189561a9ec9078d697/hw/dv/tools/dvsim/sim.mk#L59

@sriyerg @rswarbrick any thoughts?

[2021-03-11 00:46] imphil commented on #5552
You can simply set the SHELL variable in the makefile to bash to ensure all commands within the makefile are run through bash.

[2021-03-11 03:53] tjaychen opened #5555 "[flash] d2 pending items"
- [x] flash native integrity checking
- [x] flash ECC handling for instruction and data read paths
- [ ] optional - shared scrambler

[2021-03-11 03:54] tjaychen commented on #5555
@mateenfaisal
@dsandrs

[2021-03-11 03:56] tjaychen commented on #5450
@tomroberts-lowrisc
@GregAC
@imphil
@msfschaffner
@eunchan

[2021-03-11 03:57] #5363 closed

[2021-03-11 03:58] tjaychen commented on #5194
@alphan this change has been merged.
I'm keeping this issue open for now in case there's anything we need to do on software side.

[2021-03-11 09:49] #5523 closed

[2021-03-11 10:06] silvestrst commented on #5509
Hi Georges,

I don't see why this would be an issue?

Have you tried building without instruction compression and encountered any
issues?

Thanks,
Silvestrs

On Wed, Mar 10, 2021 at 5:54 PM Georges Alsankary ***@***.***>
wrote:

[2021-03-11 12:47] tomroberts-lowrisc commented on #5468
Hi @sajjadahmed677
We have two ways of controlling debug in verilator simulations. One connects up to the jtag signals via DPI, the other bypasses the JTAG interface and connects directly onto a bus inside the debug module via DPI (this makes the simulation much quicker). When the DMIDirectTAP parameter is set, we use the latter mechanism.

If you are using jtagdpi, then you should set DMIDirectTA

[2021-03-11 15:16] sajjadahmed677 commented on #5468
thank you @tomroberts!
i have tried both ways with jtag and with direct dmi connections. what i got is the issue with memory map as you said. so, yes i have reconfigured tlul connections with my own memory map. and this is the base address for debug mem.

``` ADDR_SPACE_DEBUG_ROM  = 32'h 10040000; ```
``` .DmHaltAddr       (ADDR_SPACE_DEBUG_ROM + dm::HaltAddress),```
is there any problem with my a

[2021-03-11 15:57] tomroberts-lowrisc commented on #5468
Hi @sajjadahmed677
I think you'll have to debug this using the waveforms. The CPU should start fetching from that address when the debug request goes high. See whether those requests make it to the device port of the debug module.

[2021-03-11 18:09] tjaychen opened #5566 "[clkmgr] Add ability to manually switch to external clocks when in test life cycle states"
This will enable a cleaner clock control for SCA on silicon.

[2021-03-11 18:09] tjaychen commented on #5566
@msfschaffner
@zi-v
@moidx

FYI

[2021-03-11 18:47] #5552 closed

[2021-03-12 02:36] weicaiyang opened #5573 "d_data and d_user are unknown in a TL write"
@tjaychen
Do we change to d_data always return the CSR value even it's a write? I didn't really pay attention to what d_data is when it's a write.
We have excluded to read the CSR when it may return unknown value in CSR tests, but now seems like the unknown can be propagated at a write.

![Screen Shot 2021-03-11 at 6 28 02 PM](https://user-images.githubusercontent.com/49293026/110882945-8cde8d00-8

[2021-03-12 02:52] tjaychen commented on #5573
hmmm i don't think we did anything explicit to do this.
It seems like a side effect of just how the read back path is written, it doesn't check for read enable.

I think it's probably best to change this behavior.  Are you saying the behavior was different before?

[2021-03-12 03:42] moidx opened #5576 "[csrng] Consider making AES_CIPHER_DISABLE configurable by fuses or RTL parameters"
Evaluate the purpose of `AES_CIPHER_DISABLE` and determine if it needs to have OTP support or be converted to an RTL parameter. If left as a register, document the rationale for doing so.

[2021-03-12 03:55] moidx commented on #5576
@mwbranstad @martin-lueker @cdgori @tjaychen

[2021-03-12 04:11] jackieke724 commented on #5514
I think there is no way to drive the DPTI/DSPI interface by the 1.8V FMC, but I have found an FMC carrier card [TSW14J10](https://media.digikey.com/pdf/Data%20Sheets/Texas%20Instruments%20PDFs/TSW14J10.pdf) that I can attach to VC707. It has a FT4232HL USB device onboard. You also mentioned this device in #1008.

[2021-03-12 04:43] jackieke724 commented on #4167
Hi @berkguldiker , how did you get the PMOD card?

[2021-03-12 05:24] weicaiyang commented on #5573
@tjaychen
I'm not sure if it's due to recent change, as I didn't pay too much attention to the d_data for write before. From regression report, only 1-2 cases have the similar failure. Maybe it's because of the behavior of this particular CSR in pinmux.

[2021-03-12 05:39] tjaychen commented on #5573
there's a simple fix to change the behavior, i can do that.

On Thu, Mar 11, 2021 at 9:24 PM weicaiyang ***@***.***> wrote:

[2021-03-12 05:44] weicaiyang commented on #5573
Great, thanks @tjaychen

[2021-03-12 07:15] moidx opened #5580 "[csrng] Instantiation of CSRNG in full deterministic mode"
Reference doc: https://docs.opentitan.org/hw/ip/csrng/doc/

I am trying to understand how to perform instantiation of CSRNG in full deterministic mode by setting `flag0` to 1 while meeting the `seedlen` requirements specified in SP 800-90Ar1 section 10.2.1.3.

Is CSRNG using the instantiation function without a derivation function as specified in section 10.2.1.3.1?

If so,  is this interpretation

[2021-03-12 07:21] martin-lueker commented on #5580
Hi Miguel,
   That is correct, we are not using a derivation function.  Furthermore the personalization string can be used this way, but it is optional.   @mwbranstad, would probably be the best authority on the software options here.

[2021-03-12 07:37] moidx commented on #5465
Cross-linking:

- entropy_src (lowrisc/opentitan#5187)
- csrng: (lowrisc/opentitan#5581 (draft))
- edn: (wip)

[2021-03-12 10:03] sajjadahmed677 commented on #5468
Alright @tomroberts i will look into it.
one more question. i am using a single clock for whole system. there is no clock manager in it. is it be a problem for debug module??

[2021-03-12 11:21] rswarbrick opened #5583 "[fpv] Inefficient sizing in fpv_csr.sv.tpl"
Commit f3b61c0 massively tidied up `fpv_csr.sv.tpl` (which is nice!), but it defines an array of expected values like this:
[code]
where
[code]

Essentially, this says "take the offset of the last register within the block, convert it to a register index, and add 1". The idea is that now `exp_vals` will have an entry for each register. The problem is that this is quite pessimistic if the block has

[2021-03-12 12:43] tomroberts-lowrisc commented on #5468
A single clock should be fine

[2021-03-12 14:12] berkguldiker commented on #4167
hi @jackieke724,
https://oshpark.com/shared_projects/xMKhTIHn

[2021-03-12 15:40] mwbranstad commented on #5580
Hi Miguel, as Martin says, true about the DF - not using this mode.
For the CSRNG command, it sounds like you want to set up a instantiate command with your own seed (seed_material equation above). If that is the case, I would set the clen to 12 (384 bits/32b bus). Setting flag0=1 and clen= 12 will give you a fully deterministic set of entropy being returned. If I misinterpreted any of your commen

[2021-03-12 15:45] mwbranstad commented on #5576
This bit is also qualified by the state of the LC input, which if in "debug" will always ENABLE the AES cipher. Untimately this was a convenience bit for verification and validation, which we cannot completely ignore.
@senelson7 any comments on this one?

[2021-03-12 15:52] moidx commented on #5580
Thanks @mwbranstad  and @martin-lueker! Sounds good. I will leave this issue open until this details incorporated into the DIF.

[2021-03-12 16:28] alphan opened #5585 "[sw/mask_rom] Device measurements for ROM_EXT image signature"
It looks like we have an agreement on how to use device measurements when generating and verifying the signature of a ROM_EXT image (as a prefix according to [ROM_EXT Manifest Format][1]). We need to finalize this set of measurements and update ROM_EXT tooling and signature verification module.

[1]: https://docs.opentitan.org/sw/device/silicon_creator/rom_ext/docs/manifest/index.html

[2021-03-12 16:33] mwbranstad commented on #5525
The PR #5586 will take care of this issue, so it can be closed now.

[2021-03-12 16:48] alphan commented on #5585
@silvestrst @asb for visibility.

[2021-03-12 16:50] imphil commented on #5525
If you add a line `Fixes: #5525` to the commit message then the issue will be closed as soon as the PR is merged.

[2021-03-12 17:32] rswarbrick commented on #5525
More accurately: you have to add the line to the PR message (which is auto-populated from the commit message if there's just one commit). Personally, I think it's better to keep commit messages self-contained, so I'd probably put the magic "fixes" text in just the PR message, appending it to the commit message. I'm not sure that everyone else feels the same way, though.

[2021-03-12 17:35] imphil commented on #5525
Putting the Fixes line into the commit message [is sufficient](https://docs.github.com/en/github/managing-your-work-on-github/linking-a-pull-request-to-an-issue#linking-a-pull-request-to-an-issue-using-a-keyword) and something I'd actually encourage, since then the connection between issue and commit is much easier to find when looking just at the "git log".

[2021-03-12 18:08] mwbranstad commented on #5525
So this process is new to me. If I put "fixes #1234" in the commit message, will github close automatically, or is it still a manual process? Also, is that all that should be in the commit message, or add additional descriptive text or not?
Also, I can just "edit" the commit message without a CI re-run correct?

[2021-03-12 18:11] alphan commented on #5194
Thanks, updated description.

[2021-03-12 19:44] weicaiyang opened #5589 "Assertion error from alert handler"
@msfschaffner

I found these 2 assert errors from alert handler
run.log:UVM_ERROR @ 63107981664 ps: (prim_diff_decode.sv:253) [ASSERT FAILED] RiseCheck_A
run.log:UVM_ERROR @ 63107981664 ps: (prim_diff_decode.sv:255) [ASSERT FAILED] EventCheck_A

I compared with the other 2 alert which don't have error. It seems like the alert is sent from an async domain, and when the alert occurs at the active ed

[2021-03-12 20:01] udinator opened #5590 "[sram] memory request during lifecycle escalation + PRINCE key latching"
Hi @msfschaffner,

I ran into an interesting issue as a result of #5568 that I wanted to bring up, the waveform of the situation is below:

![Screenshot from 2021-03-12 11-44-24](https://user-images.githubusercontent.com/16736281/110991067-fd81ba00-8328-11eb-8be5-8f1e2960d092.png)

Basically, at marker M2 the testbench sends an escalation  request of `lc_ctrl_pkg::On`, which then correctly gets la

[2021-03-12 20:09] alphan opened #5592 "[sw/dif_pwrmgr] Add smoke tests for dif_pwrmgr"
Creating this issue based on @tjaychen's [comment](https://github.com/lowRISC/opentitan/pull/5553#issuecomment-797669304) in lowRISC/openTitan#5553.

I created a draft PR (lowRISC/opentitan#5591) with some boilerplate code that may save you some time.

[2021-03-12 20:53] senelson7 commented on #5576
For verification, I can control the LC input and don't really need the register bit unless the LC input also affects something else. But for hardware validation, is the register bit the only way to easily enable/disable AES?

[2021-03-12 21:52] msfschaffner commented on #5590
Hey @udinator,

Indeed, this corner case can occur due to the lack of the key pipeline register in the PRINCE module.
I have not instantiated this register because it is really costly (128bit), and this corner case is technically not something that we care about.
I.e., once we escalate, we want to escalate as soon as possible, and if a transaction into SRAM gets corrupted along the way that is ok.

[2021-03-12 22:26] udinator commented on #5590
I see, that makes sense.

It might be a bit tricky to account for this in DV, but definitely not impossible.
I'll give it a look and see what I can do.

Thanks for the info!

[2021-03-12 22:53] msfschaffner commented on #5589
Hey @weicaiyang!

I believe this is because we had not fully propagated the `AlertAsyncOn` parameter in topgen yet.
Can you check whether fix #5594 solves the issue?

[2021-03-13 01:42] weicaiyang commented on #5589
Yes, the test is passing with the fix. Thanks @msfschaffner

[2021-03-13 01:45] weicaiyang commented on #5589
Fixed via #5594

[2021-03-13 01:45] #5589 closed

[2021-03-13 06:38] jackieke724 commented on #4167
Thank you @berkguldiker for the link. I saw it in the spec mentioned above, but I am not sure if it means we have to make the PCB, buy the parts, and then solder them ourselves?

[2021-03-13 08:44] rswarbrick commented on #5525
Thanks, Philipp, I didn't know that. Mark: the page that Philipp linked explains exactly how things work. Essentially, GitHub looks for some magic phrases in the commit message and PR text and, if it finds them, links the given issues to the PR. The net result is the same as if you'd done it by clicking on the "Linked pull requests" thing on the right of the issue page, or the "Linked issues" thin

[2021-03-14 09:46] jackieke724 opened #5598 "[question] adding a DDR3 controller"
For my project, I would like to create a `ddr_ctrl` IP on Genesys2. It includes an MIG7 and a custom interface module. Right now, I need to connect the ports of the `ddr_ip` to the physical pins. I am not sure if it is a good idea to either add 71 DDR3 pins to `pinmux`, or use the `external` section of `inter_module` which does not seem to support inout, so how should I connect the pins through `t

[2021-03-14 12:18] NoamGottlieb opened #5600 "DFT - jtag_trst_no reset should be controlled in scan-mode"
jtag_trst_no affecting ~193 FFs. In scan mode it is not controlled, hence these FFs are removed from scan.

SpyGlass-DFT message:

'top_earlgrey_asic.jtag_mux.jtag_trst_no' is not disabled for 193 flip-flop(s)

jtag_mux.sv file, line 63: assign jtag_trst_no = (jtag_en) ? in_padring_i[TrstIdx] : 1'b1;
![image](https://user-images.githubusercontent.com/79256454/110760398-5719b400-8257-11eb-83e9-3591

[2021-03-14 12:21] NoamGottlieb commented on #5600
@tjaychen
@msfschaffner

Please add scan mux for jtag_trst_no

[2021-03-14 12:21] NoamGottlieb commented on #5600
@arnonsha

[2021-03-14 13:59] sajjadahmed677 commented on #5468
Hi @tomroberts
I have tried with direct dmi connections but here is the problem.
[code]
it is not proceeding forward from this point

[2021-03-14 14:40] NoamGottlieb opened #5601 "DFT - In rstmgr_ctl block rst_pd_nq[0] and rst_aon_nq resets should be controlled in scan-mode"
rst_pd_nq[0] and rst_aon_nq affecting ~26 FFs. In scan mode it is not controlled, hence these FFs are removed from scan.

SpyGlass-DFT messages:

'top_earlgrey_asic.top_earlgrey.u_rstmgr_aon.u_sys_src.rst_pd_nq[0]' is not disabled for 20 flip-flop(s).

'top_earlgrey_asic.top_earlgrey.u_rstmgr_aon.u_sys_src.rst_aon_nq' is not disabled for 6 flip-flop(s).
![image](https://user-images.githubuserconte

[2021-03-14 14:40] NoamGottlieb opened #5602 "DFT – In rstmgr_por block rst_nq and rst_root_n resets should be controlled in scan-mode"
rst_nq and rst_root_n affecting ~13 FFs. In scan mode it is not controlled, hence these FFs are removed from scan.

SpyGlass-DFT messages:

'top_earlgrey_asic.top_earlgrey.u_rstmgr_aon.\gen_rst_por_aon[0].gen_rst_por_aon_normal.u_rst_por_aon .rst_nq' is not disabled for 10 flip-flop(s).

'top_earlgrey_asic.top_earlgrey.u_rstmgr_aon.\gen_rst_por_aon[0].gen_rst_por_aon_normal.u_rst_por_aon .rst_root

[2021-03-14 14:41] NoamGottlieb commented on #5601
@tjaychen
@msfschaffner

Please add scan mux for rst_pd_nq[0] and rst_aon_nq

[2021-03-14 14:41] NoamGottlieb commented on #5601
@arnonsha

[2021-03-14 14:41] NoamGottlieb commented on #5602
@tjaychen
@msfschaffner

Please add scan mux for rst_nq and rst_root_n

[2021-03-14 14:41] NoamGottlieb commented on #5602
@arnonsha

[2021-03-15 12:46] KVISDAOWNER opened #5607 "[mask_ROM] Is the boot policy verified during boot?"
To my knowledge, there is no documentation stating that the boot policy is verified against any signature or hash. Will the boot policy be verified in any way during boot or is it inherently trusted?

[2021-03-15 22:14] cindychip opened #5616 "[otp_ctrl] otp check timeout but checks are still running in the background"
Hey Michael,

I found from simulation that even though otp check timeout (when I set timeout register to very small number like 5 cycles), the background is still doing checks by each partitions. (Please refer to the screenshot below)

I think the main reason is the [`integ_chk_req_q`](https://github.com/lowRISC/opentitan/blob/master/hw/ip/otp_ctrl/rtl/otp_ctrl_lfsr_timer.sv#L254) or `cnsty_chk_re

[2021-03-16 08:39] vogelpi commented on #5416
I agree with @eunchan and @weicaiyang that "RC" should not be used lightly because of the side effect.

As for the actual behavior of the "RC" type: I agree with @sjalloq 's proposal here:

If the SW read + clear collides with a HW update, we should clear the reg, but return the value HW tried to write. More precisely, inside `prim_subreg`, we need to change

[code]
to
[code]
This way nothing is l

[2021-03-16 14:14] TRJensen opened #5626 "[otbn/sw] Add missing OTBN ECDSA signature_r value to test verification step."
An ECDSA test exists in sw/device/tests/otbn/otbn_ecdsa_p256_test.c

The ECDSA signature verification step requires the R value as input.
In the OTBN test code, a signing is done followed by a verification.
Because the correct R value already exists in OTBN memory,
we get a successful signature verification. However when clearing
OTBN memory between the signing and verification step, the
verificat

[2021-03-16 14:20] imphil commented on #5626
Thanks for this bug report. Would you mind doing a pull request that addresses the problem as you propose?

[2021-03-16 14:23] TRJensen commented on #5626
Suggest adding Philipp Wagner.
I have a suggested update available on a local branch ( also attached here )

[ECDSA_TEST_PATCH.TXT](https://github.com/lowRISC/opentitan/files/6149671/ECDSA_TEST_PATCH.TXT)

[2021-03-16 14:30] TRJensen commented on #5626
Yes, I would be happy to - I am however still new - just created GitHub account yesterday.
I have however worked with GIT for last couple of years, but I am still new to the process for opentitan.

I have a branch available locally - but it is branched out from master.
I understand I cannot push my development branch directly and need to do a pull instead.

How do I do the pull step specifically?

[2021-03-16 14:34] TRJensen commented on #5626
Yes, I would be happy to - just investigating process (as I am new) - will let you know if I need support.

[2021-03-16 14:43] imphil commented on #5626
No problem! If you'd like to give it a try, there's a OpenTitan-specific documentation at https://docs.opentitan.org/doc/ug/github_notes/. If you have further questions, feel free to ask them here or join the lowRISC zulip chat at https://lowrisc.zulipchat.com/.

[2021-03-16 15:28] TRJensen commented on #5626
Thank you for the link - it was a great help :)
I have created the pull request. Hope I did it correctly :)

[2021-03-16 16:00] martin-lueker opened #5630 "[entropy_src] Behavior of ENTROPY_DATA register on partial reads"
From @asb on Slack “I've been working through @mcy 's entropy_src DIF header in companion with the IP spec. Under "Entropy Processing" the spec says "A full twelve 32-bit words need to be read at a time." Am I misunderstanding this - i.e. is this just a requirement in a specific scenario? The programmer's guide for instance doesn't provide an interface where 12 words are read at a time”

I respond

[2021-03-16 16:01] martin-lueker commented on #5630
FYI: @moidx, @asb

[2021-03-16 22:20] imphil commented on #5519
Duplicate of #4345

[2021-03-16 22:20] #5519 closed

[2021-03-16 22:21] imphil commented on #4345
Eunchan's design doc is available at https://docs.google.com/document/d/1jimqHdR1x8on3jwzsi8SHTdhXFvujHj-EFk-eGU9mX4/edit

[2021-03-16 23:08] martin-lueker opened #5639 "[ entropy, security ] Do we want access to for PTG.2 in EDN?"
This is a follow on that came up as part of a discussion around #5630.

Essentially entropy_src has a ENTROPY_DATA register who's implementation predates CSRNG and EDN.   This ENTROPY_DATA register as implemented has some implementation flaws (due to it's realization as a prim_packer_fifo), and currently the POR is to remove this register entirely.

The question however is whether to replace it wi

[2021-03-16 23:15] martin-lueker commented on #5630
Update: this was discussed in our weekly entropy discussion.

It turns out this dates back from a very early version of this IP, one that predates CSRNG and EDN.  As such it is no longer strictly needed.

It is also undesirable as it is an interface which is distinctly different from CSRNG and EDN, and provides an alternative software path to something that is also available in CSRNG.  In a meetin

[2021-03-17 00:26] msfschaffner commented on #5616
Hey Cindy,

Yeah that is correct.
Note that even if we clear the requests bits inside the timer, most partitions will already have switched into the checking mode in their FSMs, hence it is unfortunately not so straightforward to abort all checks once the timeout is reached.
Is it a problem if the checks are ongoing?

Best,
Michael

[2021-03-17 00:40] cindychip commented on #5616
I see, thanks for confirming Michael. Yeah I just think it is a little bit unusual.. When I access some DAI interface after the check timeout, the timing is longer than expected. But in theory, if a check timeout happened, user should not try to access any OTP memories.
I can align on the DV side.

[2021-03-17 01:08] msfschaffner commented on #5600
Hey @NoamGottlieb! Thanks for reporting this, I have added the mux in the linked PR.
Note that the JTAG mux has just recently been moved and is now located inside the pinmux.

[2021-03-17 01:15] matutem opened #5646 "aes block doesn't reset with idle_o set"
After POR the AES block's idle_o output is 1'b0, yet the ctrl fsm is in the IDLE state. In addition, the equation setting idle_o in aes ctrl fsm is
      IDLE: begin
        idle_o    = (start_chk == SP2V_HIGH || key_iv_data_in_clear_i || data_out_clear_i ||
                    prng_reseed_i) ? 1'b0 : 1'b1;
        idle_we_o = 1'b1;
and it turns out the last three terms in the condition of the ter

[2021-03-17 01:22] matutem commented on #5646
![Screenshot 2021-03-16 18 21 33](https://user-images.githubusercontent.com/80294896/111400414-862f8b80-8684-11eb-9245-28d958407eaf.png)

[2021-03-17 01:25] sriyerg commented on #5646
Looks like there are a couple of factors (branches in terms of design coverage) that affect the clk idle signal. I suppose it got added in the design after the AES testplan was last reviewed. Please consider adding and entry for it:
https://docs.opentitan.org/hw/ip/aes/doc/dv_plan/#testplan

Thanks!

[2021-03-17 02:11] msfschaffner commented on #5616
Yeah exactly, this is a case that should never occur, and if it does, we are anyways in a failure condition.

[2021-03-17 06:11] moidx commented on #5639
@zi-v, @felixmiller it would be good to get your thoughts on this from a PTG.2 characterization/testing perspective, even if the mode is not going to be exposed in production mode.

I assume we are still planning to support `FW_OV_RD_DATA`, which may be sufficient for characterization/testing of the raw entropy bits.

[2021-03-17 06:28] moidx commented on #5630
+1 on removing `ENTROPY_DATA` from `entropy_src` . Stalling flow into CSRNG can easily result in unintended side effects.

[2021-03-17 07:56] vogelpi commented on #5646
Hi @matutem ,
thanks for opening the issue. This is actually intended behavior: The reset causes the KEY_IV_DATA_IN_CLEAR, DATA_OUT_CLEAR and PRNG_RESEED bits in the TRIGGER register to be set to 1 (see the aes.TRIGGER in the [register table](https://docs.opentitan.org/hw/ip/aes/doc/#register-table)). As a result, the main controller FSM will reseed the PRNG and then clear key, IV, and data regist

[2021-03-17 09:44] rasmus-madsen commented on #5646
@sriyerg sorry I am not following your comment - maybe part of the conversation was internal between you and @matutem?
I am unsure what you feel is missing in the dv-doc?
if it is the idle_o that will eventually be documented when I finish everything else in V2, it has very low priority as it is a status only and is already documented in the AES spec.

but also edn, and lifecycle is missing. these

[2021-03-17 10:19] rasmus-madsen opened #5652 "Alert testing"
For our next DV meeting
a good topic to start talking about could be how to verify the Alerts.

Do we have a plan on how to verify the Fatal alerts?
as I see it there are two things that need to be verified.

1. Fatal alerts are making the DUT behaving as expected.
    this is fairly simple to verify if we have a backdoor to trigger an alert.
2. that the expected Alerts are actually triggered unde

[2021-03-17 11:38] mundaym opened #5653 "[epmp] switch on machine mode lockdown mode (mseccfg.MML)"
This a proposal to switch on machine mode lockdown (MML) during CRT in the mask ROM. Machine mode lockdown is described in more detail here: https://ibex-core.readthedocs.io/en/latest/_downloads/adbc55b5b9bad5f92968b58e7b12fc57/riscv-epmp.pdf. Enabling MML in the mask ROM would have two main advantages:

* Enabled but unlocked (i.e. `A != OFF` and `L = 0`) entries would no longer confer full read-

[2021-03-17 11:40] mundaym commented on #5653
@silvestrst @moidx @alphan @GregAC @asb

[2021-03-17 12:16] rswarbrick opened #5655 "[otbn] Flag state not cleared on start"
If you run a simulation with X propagation, you can see `x`'s coming out in the trace. For example:
[code]
This example happens because it does a `csrrw` near the start of the instruction stream which reads the FLAGS CSR. However, the flags don't actually have a definite value at this point. They get set to `x` just after reset (because signals like `operation_i` are `x` in `otbn_alu_bignum.sv`).

[2021-03-17 13:22] felixmiller commented on #5639
I am hesitant here. What speaks for having access to PTG.2 output would be:
- Having a fallback option if there is an issue with the CSRNG
- If we plan to implement a SW based DRG.4 at some point

@martin-lueker Can you quickly refresh my memory on the "though at 1/3 the bandwidth achievable by a raw PTG.2 port" aspect? Is that b/c you assume 128 bit output to the EDN (from CSRNG) per 384 bit inpu

[2021-03-17 15:12] alistair23 commented on #5653
From a Tock perspective this should be fine as long as the `RLB` bit works as expected.

Is ePMP currently enabled in the bitstreams?

[2021-03-17 15:41] moidx opened #5657 "[sw/rom_ext] ROM_EXT slot B configuration"
Integrate test cases for ROM_EXT slot B configuration.

[2021-03-17 15:44] sajjadahmed677 commented on #5468
thank you @tomroberts and @tjaychen!
issue is resolved now. problem was with ```xbar``` which is now working fine.

[2021-03-17 15:48] #5040 closed

[2021-03-17 15:56] sajjadahmed677 opened #5658 "[Question]:GDB can not access memory address"
I am trying to debug my program using debug module but it showing me this.
[code]
what does it mean how can i define memory regions which gdb can understand??
this is my scaled down version of opentitan. but i am facing same problem with the original opentitan simulation. which is as below.

[code]
this is the issue gdb is providing.
[code]

[2021-03-17 16:50] mundaym commented on #5653
The version of Ibex currently vendored into OpenTitan supports ePMP but we aren't using any ePMP features in any of the boot stages yet.

[2021-03-17 16:51] matutem commented on #5646
Pirmin, I am just learning the design, so it would help me if you mention why we need to go through a long sequence of operations after reset instead of just clearing all state. Commenting on #5651 is okay, since I am closing this one.

[2021-03-17 16:51] #5646 closed

[2021-03-17 18:14] #5573 closed

[2021-03-17 18:18] tjaychen commented on #5416
thanks all.
Since there are no objections, I can take this issue and make the related changes.

[2021-03-17 18:21] tjaychen commented on #5607
@moidx
@alphan
@silvestrst

[2021-03-17 18:23] tjaychen commented on #5602
thanks, i will add.

[2021-03-17 18:24] tjaychen commented on #5601
thanks, i will add.

[2021-03-17 18:25] tjaychen commented on #5598
the best way to do this would probably be to add 71 dedicated pin through
pinmux.
that way we don't really add any logic (pinmux just feeds them through) and
they will not be useable by anyone except the ddr3 module.

you can look at top_earlgrey.hjson to get an idea how the dedicated module
pins are hookedup.

On Sun, Mar 14, 2021 at 1:46 AM jackieke724 ***@***.***>
wrote:

[2021-03-17 18:27] tjaychen commented on #5576
technically for the final production design, we "should" have no reason to
bypass the aes.
I think Miguel's concern is that if we are able to bypass the aes via some
kind of attack, it would completely weaken the drbg construction.
So maybe it's better to not have it there at all.

On Fri, Mar 12, 2021 at 12:53 PM senelson7 ***@***.***> wrote:

[2021-03-17 20:32] alphan commented on #5607
Thanks for the question @KVISDAOWNER. We are still working on the design but the current plan is to verify its integrity using a checksum.

[2021-03-17 22:23] cdgori commented on #5630
Just tagging onto here so I get notifications for comments.  (@martin-lueker has me @ mentioned above as corgi - he's not the first to do that, and certainly won't be the last ;) - I'm very used to it at this point!)

[2021-03-17 22:32] martin-lueker commented on #5630
Lol...  I once knew better, however when I once saw you tagged as corgi I was so charmed and delighted, that may first thought was "That man Chris is a genius!".  Though I do wonder what the real corgi thinks of our random tags.  Just think of all the github spam!

[2021-03-17 23:41] cindychip commented on #5616
close via PR #5661

[2021-03-17 23:41] #5616 closed

[2021-03-18 00:19] tjaychen commented on #5120
i believe this is done.
Thanks everyone.

[2021-03-18 00:19] #5120 closed

[2021-03-18 02:12] #5487 closed

[2021-03-18 07:58] vogelpi commented on #5487
Thanks @tjaychen for taking and solving this issue :+1:

[2021-03-18 08:50] Bjerkk opened #5671 "[doc] Validation of public keys in ROM_EXT manifests"
It is my understanding that the public keys found in each ROM_EXT manifest must be validated somehow. I am curious about the function _check_pub_key_id_valid(rom_ext_pub_key_id)_ found in the pseudocode under the section [Secure Boot Process](https://docs.opentitan.org/sw/device/mask_rom/docs/) .

From my understanding, based on reading through the documentation, the function takes the calculated

[2021-03-18 09:20] KVISDAOWNER commented on #5607
Thank you for the response. I suspect that there could be security risks involved if the checksum is distributed along with the boot policy. Is it stored in a different part of memory or transmitted at a different time? In other words, are there any enforcements that prevent the checksum from being altered along with the boot policy?

[2021-03-18 11:14] imphil commented on #5671
@moidx @alphan

[2021-03-18 15:19] GregAC commented on #5655
The issue was dodgy enable signals that weren't factoring in whether we had a valid instruction.

We could introduce a 0 all flags at start though we might want similar behaviour for other CSRs/WSRs or indeed the register file. #5678 will fix this bug and we can discuss whether we want a flag clear at start along with the other state clearing stuff.

[2021-03-18 15:22] #5626 closed

[2021-03-18 15:54] GregAC commented on #5494
This was completed with #5547

[2021-03-18 15:54] #5494 closed

[2021-03-18 16:40] rswarbrick commented on #5655
Thanks for tracking this down. Re state clearing: I'm not sure. The RIG has been careful not to use WDRs/GPRs before writing to them so that the results are independent of state clearing. I think the fact that I didn't check flags have been set is a bug: I'll file a follow-up to track that.

[2021-03-18 16:42] #5655 closed

[2021-03-18 16:43] rswarbrick opened #5679 "[otbn] RIG can generate instruction streams that depend on the state of flags before setting them"
At the moment, the RIG is careful to only use registers and memory that have architectural values. The spec doesn't say that flags are cleared on start, so we should make sure not to do things like issue `csrrw` instructions to read the flags before they will have a value.

This meant that the generated binary triggered #5655. Alternatively, we might decide to specify that registers and CSRs are a

[2021-03-18 19:11] tjaychen commented on #5671
@tjaychen

[2021-03-18 20:44] tjaychen commented on #5185
hey all, #5572 has been implemented.
So software should be able to trigger a memory initialization that is relatively fast.
The caveat to using this is that we first need to enable the entropy subsystem, there is some basic code do that as well.

[2021-03-18 20:45] tjaychen commented on #4731
hey all, #5572 has been implemented.
So software should be able to trigger a memory initialization that is relatively fast.
The caveat to using this is that we first need to enable the entropy subsystem, there is some basic code do that as well.

[2021-03-18 21:19] chenc6 opened #5690 "Run Opentitan ELF files on Spike"
Hi folks

I am having some issues when using spike to run **hello_world_sim_verilator.elf** from _opentitan/build-bin/sw/device/examples/hello_world_
I have tried to run it in both baremetal and pk methods. Unfortunately, neither of them work.
Here are how I run them:
1. baremetal method:
	$spike --isa=rv32imc -l hello_world_sim_verilator.elf
	$Error: terminate called after throwing an instance of

[2021-03-19 01:50] moidx commented on #5671
Hi @Bjerkk,

The pseudo code notes aim to capture earlier conversations on secure boot, and may not reflect the final implementation.

This aims to capture the public key lookup stage. Devices usually have multiple public keys that can be disabled in the manufacturing stage, so the mask rom needs to ensure that the key used to verify ROM_EXT is part of the valid key allow list.

ROM_EXT verificati

[2021-03-19 07:41] moidx opened #5694 "Enable mask_rom and rom_ext boot in FPGA"
This issue tracks the implementation and documentation of  local FPGA builds with `mask_rom`.

[2021-03-19 07:42] moidx opened #5695 "Enable CI FPGA tests with mask_rom enabled"

[2021-03-19 07:43] moidx commented on #5694
Consider enabling splice script with mask_rom to speed up local development.

[2021-03-19 12:44] rswarbrick commented on #5493
Hmm, maybe, but if anything's not known you end up with a mismatched trace as well, so it's not too confusing.

I think this example was probably fixed by commit 96fe705b8 (I can't reproduce it because I don't have the same version of VCS as Google used for nightlies on 7th March, but the symptom is the same as a more recent failure which *was* definitely fixed by that commit.

[2021-03-19 12:44] #5493 closed

[2021-03-19 12:48] rswarbrick commented on #2618
There are a few things left here, but we've definitely got to the "decreasing return for effort" stage. I'm going to close this and we can always track and/or fix specific further improvements separately.

[2021-03-19 12:48] #2618 closed

[2021-03-19 13:11] alistair23 commented on #4731
Is the expectation that Tock does that or that the stage before Tock does that?

[2021-03-19 14:16] #5492 closed

[2021-03-19 15:06] rswarbrick commented on #4961
This will be done once #5703 and #5704 are merged.

[2021-03-19 17:12] #5330 closed

[2021-03-19 17:16] tjaychen commented on #4731
i think ideally we want this to be done really early in the boot chain,
right after memory scrambling is enabled.
So I would say stage before Tock, but someone from the software side should
chime in.

On Fri, Mar 19, 2021 at 6:12 AM Alistair Francis ***@***.***>
wrote:

[2021-03-19 17:20] tjaychen commented on #5695
quick question, don't we already include the ROM as part of FPGA?
Also, it would be great to keep @sriyerg in the loop.  As the ROM starts getting heavier, we need to have a discussion how to keep things factored so that DV does not incur a heavy start-up penalty.  This might mean DV needs to be able to stub out certain functions.

[2021-03-19 20:24] senelson7 opened #5713 "Not executing clocking block wait in do-while loop"
In push_pull_host_driver.drive_push() task, it's not executing the "@(`PUSH_DRIVER)" inside the do-while for the first req. While debugging, I found that it sets valid high, then sets valid low in the same time just for the first one, then it works fine for subsequent ones. I've recently seen this in a WD project too. If I add an "@(`PUSH_DRIVER)" at the beginning of the drive_push() task, it work

[2021-03-19 20:39] cindychip commented on #5713
Thank Steve, do you have a specific test that we can run and check waveforms? I think all my testbenchs are using pull agent only :)

[2021-03-19 21:16] senelson7 commented on #5713
I don't think this issue is unique to drive_push, drive_pull is pretty much the same idea. But it's good to check apples-apples. Anyways, I checked-in branch es_dv and run entropy_src_rng_test with fixed_seed 1234 (although it fails with other seeds I've tried too). It'll pass right now but looking at the wave, with Cadence at least, you should see no rng_if.valid. I'd like to know if you do with

[2021-03-19 21:22] udinator commented on #5713
Hi Steve, thanks for bringing this issue up! I'll take a look at the test and seed that you provided, and will update this thread afterwards.

[2021-03-19 21:33] weicaiyang commented on #5713
I feel it makes sense to wait for the clock before we call `try_next_item`. So it created #5715, PTAL

[2021-03-19 21:38] weicaiyang commented on #5713
right now our reset finishes after active edge of clock. If an item is received right after reset, it seems like there is race condition in Xcelium and it starts the item and finishes at the same time. I feel we can update driver to avoid this situation.

[2021-03-19 23:20] senelson7 commented on #5713
Just curious, have you determined if this is just an xcelium issue or vcs too?

[2021-03-20 00:05] tjaychen commented on #5185
see #5714 for how boot rom can set this up.

[2021-03-21 15:41] NoamGottlieb commented on #5601
checked with SG-DFT, all looks good.

[2021-03-21 15:41] NoamGottlieb commented on #5602
checked with SG-DFT, all looks good.

[2021-03-22 05:53] jackieke724 commented on #5514
I am trying to use DC2159A (mentioned above) for the JTAG/SPI interface. I have attached it to FMC2 on VC707, but when I ran spiflash with:
`build-bin/sw/host/spiflash/spiflash --dev-id=0403:6010 --dev-sn=LT1UZH97 --input build-bin/sw/device/examples/hello_world/hello_world_fpga_nexysvideo.bin`, it returns

Does anyone know if I need to modify `spiflash` or if DC2159A is just not compatible? Thank

[2021-03-22 06:54] jackieke724 commented on #5598
Thank you @tjaychen. I have added the ddr pins in the dio_modules of pinmux, but now I am not sure how to generate the `_oe` signals for every output. Is there a way to bypass the pads since the IOBUF's are already handled in Xilinx `mig7`?

[2021-03-22 11:09] #4009 closed

[2021-03-22 11:16] imphil opened #5726 "[otbn] Propose approach to protect integrity of basic blocks"
Propose approach to protect the instruction integrity within a basic block. Consider especially approaches which can be expanded to also cover the control flow graph integrity.

[2021-03-22 14:11] rswarbrick opened #5731 "[otbn] Teach the RIG not to generate BN.LID / BN.SID instructions with a register index bigger than 31"
We've decided that we'll generate an error if this happens, so need to teach the RIG not to do it by accident.

[2021-03-22 14:12] rswarbrick commented on #4808
RIG changes required are tracked in #5731.

[2021-03-22 14:18] imphil opened #5732 "[otbn] P384: implement coordinate transformation (projective <-> affine)"
P384:  implement coordinate transformation (projective <-> affine)

Subtask of https://github.com/lowRISC/opentitan/issues/2982

[2021-03-22 14:38] imphil opened #5733 "[otbn] Specify internal state at the start of an operation"
Specify the value of internal state where possible: is it zero at the beginning, or an "unknown" value?

Unknown value at the beginning:
* GPR/WDR?

Zero at beginning of an operation:
* CSR/WSR
* Flags
* ACC

Document and implement RTL changes.

[2021-03-22 14:56] #5495 closed

[2021-03-22 15:02] #5679 closed

[2021-03-22 17:17] rasmus-madsen commented on #5713
@senelson7 @weicaiyang
I just tested with Verdi , it seem to work.
![image](https://user-images.githubusercontent.com/53917183/112030705-d1411700-8b3a-11eb-8569-f4816cca132a.png)

[2021-03-22 17:48] tjaychen commented on #5598
do you mean the oe's are already handled?
If not, at your ddr module, which hooks up to pinmux, you need to create the oe's and hardwire them.
You could take a look at usbdev.sv to see an example.

Not sure if i answered your question..

[2021-03-22 21:48] moidx commented on #5695
Hi @tjaychen, we'll make sure to keep you and @sriyerg in the loop with any planned changes here.

Currently we have `boot_rom` integrated in FPGA testing, and we want to also enable `mask_rom` which will be the target used to implement all the MaskROM functionality.

Eventually, we'll either phase out `boot_rom` or use it only in constrained test configurations.

[2021-03-22 22:54] #5601 closed

[2021-03-22 22:54] #5602 closed

[2021-03-23 00:46] jackieke724 commented on #5598
@tjaychen , sorry, I think I did not phrase my question clear enough. The oe's are handled internally in the vivado MIG7 IP. I have no idea how to generate them myself outside of MIG7. Therefore, I am asking if there is a way to just pass through the DDR pins to the ddr_ctrl IP? For example, can I disable the oe's in the padring (replacing the IOBUF by a pass-through)?

[2021-03-23 00:57] tjaychen commented on #5598
ah, do you have to instantiate the MIG7 IP?
if you do, the easiest thing might be to put a wrapper around that such that it is "comportable" with the rest of the design.
And just feed through the oe's that way.

I'm not really sure i'm understanding the setup very well though.

[2021-03-23 01:01] weicaiyang commented on #5652
@rasmus-madsen

thanks for bringing up this topic. Will add this in the next DV meeting. Here are my thoughts

For common alert like storage error in shadow reg, we have handled it in the base vseq. Just need to include `shadow_reg_errors_tests.hjson` and related testplan to the IP which supports shadow reg. Looks like AES has added that. We will add support for the alert due to TLUL integrity che

[2021-03-23 01:19] tjaychen commented on #5598
Yeah okay so this is a bit complicated.
In your comportable layer, you should have created all the cio_* io right?

This will connect the comportable wrapper to the pinmux.  If you used
dedicated pins, this will now expose extra dio's at the top_earlgrey.sv
level.
Now inside your fpga top level, you will need to connect those ports to the
top level ports, which I guess you can then pinpoint in you

[2021-03-23 01:37] jackieke724 commented on #5598
Thanks for the quick reply. Yes, I have created all the cio_*io in top_earlgrey.sv, but I cannot connect them directly to the MIG7 instantiated in my comportable IP wrapper. I do not know how to handle the *_oe and inout pins.

[2021-03-23 01:44] tjaychen commented on #5598
if you look at another module that has ios, for example see usbdev, you
will see that in the hjson file we need to define that we have connections
to pinmux.
We also in top_earlgrey.hjson need to define which module has pins that
need to be muxed, then the top level build tool will bring them all out as
dedicated IOs, which you can then connect to your fpga IOs.

does that help? our documentation

[2021-03-23 01:52] jackieke724 commented on #5598
I think you are talking about the top level ports. I have completed that part by referencing to other IPs like usbdev like you said. I have already constrained the top level ports to the DDR pins in .xdc and connected the top level ports to the dio pins of pinmux.

my problem is about the dio pins to the IP wrapper file. Once the cio_*io and _*oe are generated, I do not know how to connect them to

[2021-03-23 02:13] tjaychen commented on #5598
hmm... sorry without seeing your MIG7, it's hard for me to say (i'm not too
familiar with the module).
I assume the MIG7 has similar oe/o ports..? does it not?

On Mon, Mar 22, 2021 at 6:52 PM jackieke724 ***@***.***>
wrote:

[2021-03-23 02:55] jackieke724 commented on #5598
No. Usually, we connect the MIG7 ports to the FPGA physical pins directly.

In attempting to explain my problem, I have posted 4 images below for the comportable wrapper file and the FPGA top level file.  Basically, I need to match the top level ports (image 3) to the comportable wrapper ports (image 1). MIG7 do not use the oe/o signals (image 2). Image 4 shows how I connected to the dio pins as m

[2021-03-23 05:03] jackieke724 commented on #5514
Which mode of FT2232H are we using? Currently I have only set the constraints for the ADBUS[7:0] of the FT2232H pins, corresponding to the FMC LA02_P/N, LA04_P/N, LA07_P/N, LA11_P/N pins. To me, that seems to match the configuration on Nexys Video, but it could be that I did not set the pins appropriately.

Are the rest of FT2232 I/O's shown in the [schematic](https://www.analog.com/media/en/dsp-d

[2021-03-23 07:41] jackieke724 commented on #5514
I figured that I need to run in sudo mode to open the device. Nevertheless, I still cannot send data by SPI or JTAG, which probably means DC2159a does not support 1.8V IO. Could anyone confirm that from the schematic? Is there any other 1.8V-compatible FMC interface card, or PMOD for FT2232H?

[2021-03-23 07:59] #5731 closed

[2021-03-23 11:43] rasmus-madsen commented on #5652
@weicaiyang  sounds great - I figured that we already had some thoughts on this, looks like we are much farther than that. great.
Looking forward to the next meeting

[2021-03-23 13:09] asb opened #5746 "[sw, difs] Inconsistency around use of bool vs dif_ipname_toggle_t"
It looks like some DIF APIs are using a bool for indicating things like lock state (`bool *is_locked`), while others are using `dif_$IPAME_toggle_t` for the same purpose (mostly `dif_$IPNAME_toggle_t *state`). We should pick one or the other and use it consistently.

[2021-03-23 13:27] silvestrst commented on #5746
In this particular case I probably prefer `bool`, bot don't have strong feelings.

[2021-03-23 16:38] eunchan opened #5749 "[spi_device] pending items to silver milestone"
- [ ] support quad I/O addr checker in `readcmd` module
- [ ] double buffering in readcmd
- [ ] add CSRs : e.g) dummy cycle / addr mode / threshold
- [ ] Read STATUS
- [ ] Read SFDP
- [ ] Read JEDEC
- [ ] Upload commands
- [ ] Passthrough: Command filtering

[2021-03-23 16:50] imphil opened #5750 "[ci] Provide access to CI instances for developers"
To be able to reproduce CI failures we want to make CI runners available to developers for interactive use to drill into log files and other artifacts which are produced as part of a build, but not retained after the build completes.

Exact details are yet to be figured out.

[2021-03-23 16:58] imphil opened #5751 "[fpga] Look into ways to make ROM loadable on FPGA"
To aid the development of mask rom we want to have an easy way to update the ROM in development FPGA images.

One approach would be making the ROM accessible through OpenOCD. This would mean attaching the ROM (or a backdoor interface to the ROM) to the TL-UL bus, which can be accessed by the system bus access (SBA) debug module.

None of this loading should obviously leak into the production image

[2021-03-23 17:02] tjaychen commented on #5598
O i see.
Okay, so right now, the connection path is as follows

ddr_ctrl -> pinmux -> padring -> top_earlgrey_nexysvideo

and you would prefer to have

ddr_ctrl -> top_earlgrey_nexysvideo, is that correct?

Yes there is a way to do this (but you'll have to do a bit of surgery).

So first thing, if you follow the example from usbdev, you want to add all the signals you care about into the inter_sig

[2021-03-23 17:33] cindychip opened #5752 "[otp_ctrl] access error return data"
Hi Michael,

Here is a question regarding access error return data.
1. In DAI interface, if trying to read a locked partition, the CSR `rdata` will return 0.
2. In TLUL interface, if trying to read a locked sw partition, the `d_error` is set, `d_data` will previous valid read data.

The related code is [here](https://github.com/lowRISC/opentitan/blob/master/hw/ip/otp_ctrl/rtl/otp_ctrl_part_unbuf.s

[2021-03-23 18:02] sjalloq commented on #5416
Thanks for the comments here.  A couple of questions:

@vogelpi , your solution is fine but I'm not quite understanding your last comment, "because this will ignore the side effect completely.".  In my implementation, there is no side effect until the field has been set.  The side effect in this case is that the bit is cleared by the read right?  With the priority mux, no value is returned to soft

[2021-03-23 19:15] igk8 opened #5753 "[i2c] Loopback test"
During D1 review, I've been asked to add loopback test to the IP. Would the following match the expectations?
1. LOOPBACK bit will be asserted and provided to the IP through the register interface to perform the loopback test.
2. In the host mode, the IP will retrieve the data from fmt_fifo, remove the formatting bits and deposit the data into rx_fifo. The outputs scl_o and sda_o will be released.

[2021-03-23 19:57] vogelpi commented on #5416
Thanks for getting back @sjalloq . You are right: with "side effect" I was referring to the clear operation performed by the read. In the priority mux implementation, this is not happening if the read collides with an update from the hardware side and software gets the old value. So, if we assume software is pinging the register until hardware changes it, we are fine.

As for why the RC type is no

[2021-03-23 20:14] rasmus-madsen opened #5755 "[kmac/dv] kmac smoke test compile fails on xcelium"
when trying to run the kmac masked smoke test I get the following error

it seems like this code is the cause of the problem
[code]

to reproduce
`util/dvsim/dvsim.py kmac_masked_sim_cfg.hjson -i kmac_masked_smoke -r 1 -t xcelium`

[2021-03-23 20:17] cindychip commented on #5755
@udinator I saw the same issue in otp_ctrl before.. PR https://github.com/lowRISC/opentitan/pull/5659

[2021-03-23 20:37] udinator commented on #5755
Thanks for reporting this @rasmus-madsen !
I'll take a look and update this.

Should we file an issue with Cadence to add support for this feature, since it is part of the LRM?

[2021-03-23 20:45] rasmus-madsen commented on #5755
@udinator yep already on it.
I have asked our local FAE about it, once he returns with an answer I will file an issue

[2021-03-23 22:21] cfrantz opened #5760 "Create Retention RAM memory map"
We currently do not have a detailed memory map for the retention RAM.

Since the retention ram is used to communicate request and state-change info between owner runtime and services provided by the ROM and ROM_EXT, we need to specify the static allocations of these request structures in the retention RAM.

[2021-03-23 22:38] tjaychen commented on #5753
@igk8 for the first case, do you literally mean go from `fmt_fifo` into `rx_fifo`? I think ideally it would go onto the lines that would have exited the module and then loop from there back to the incoming line (kind of like the system loopback in uart), is that what you mean?

The second case sounds good to me!

[2021-03-23 22:41] cfrantz opened #5761 "Create usage map for flash INFO pages"
Currently, no document exists detailing the allocations of space within the flash INFO pages.

Since these pages will be used to hold boot policy and ownership data, we need to define an usage layout for the INFO pages.  Since the specific geometry of the INFO pages is often a proprietary detail of a vendor flash macro, we should start with a generic memory layout and then refine the layout to fit

[2021-03-23 23:03] moidx commented on #5694
Investigation on how to load ROM in to FPGA bitstream without requiring full synthesis: lowrisc/opentitan#5751

[2021-03-23 23:07] moidx commented on #5694
Running the following command, after following regular setup instructions:

[code]

Results in the following error:

[code]
Taking a look in Vivado next to check what primitive is being used for the ROM.

[2021-03-23 23:13] tjaychen opened #5763 "[regtool] Native support for multi-bit regwen"
Add support in regtool for multi-bit `regwen`.
Ideally, the multiple bits of the `regwen` should be used differently to gate the register being written.

We do not need to support arbitrary bit-length of `regwen`, but it would be good to have an option of maybe 1/2/4.
When multi-bit, ANY value that does not correspond to the "enable" value should be "disabled".

For example, assume a 4b `regwen` w

[2021-03-23 23:15] tjaychen commented on #5763
@rswarbrick
@cindychip
@weicaiyang

FYI

[2021-03-23 23:17] #5260 closed

[2021-03-24 02:34] jackieke724 commented on #5598
Thank you @tjaychen. What you described is exactly what I want to do.
In the .hjson, are you refering to the `top `section or the `external `section? Can this handle inout?

[2021-03-24 05:31] moidx commented on #5694
OK, it seems the issue is that the MaskROM is less that one BRAM block size, and thus `/home/moidx/opentitan/hw/top_earlgrey/util/vivado_hook_opt_design_post.tcl` fails to find `*room_rom*rdata_o_reg_*`. The design only has `top_earlgrey/u_rom_rom/u_prim_rom/gen_generic.u_impl_generic/rdata_o_reg` available in this case.

We should add `mask_rom` padding to the expected ROM size, and report utiliz

[2021-03-24 05:38] moidx opened #5771 "Add `mask_rom` padding and report utilization at build time"
This issue is a follow up of lowrisc/opentitan#5694.

We should add mask_rom padding to the expected ROM size, and report utilization as part of the build flow.

We should also discuss what type of padding to use to mitigate against any potential fault attacks, and/or what isolation configuration to use out of reset. In any case.

`/home/moidx/opentitan/hw/top_earlgrey/util/vivado_hook_opt_design_

[2021-03-24 05:55] moidx opened #5773 "[sw/mask_rom] Production ready console logging utilities"
`/home/moidx/opentitan/sw/device/lib/runtime/log.h` requires some changes for production readiness. Consider adding support for a PROD release flag in the build system, or an alternative option to meet the following requirements:

1. Some log messages are only useful for debug in pre-silicon and FPGA environments. Consider adding support for debug messages.  Debug messages should not be included i

[2021-03-24 07:55] rswarbrick commented on #5763
Sounds like a good idea. Are you happy to encode the "enabled" value in the hjson? In which case, we can probably support arbitrary lengths reasonably easily. For example, we could add an hjson field like `regwen_value: "b1010"` to the register that's used as a write-enable (defaulting to `b1`). Here, the RHS is a binary string which gives both value and length. (Hint: it's painful to use a bare n

[2021-03-24 10:07] rswarbrick opened #5774 "[spi_device] Combinational loop"
Verilator lint reports a genuine combinational loop in the code. The Verilator report is:
[code]
but this took me a bit of time to unpack. What's going on is:
- `spi_cmdparse` generates `sel_dp`, exposing it as `sel_dp_o`.
- This is used in `spi_device` as `cmd_dp_sel` and, through some logic, controls `io_mode`
- This, in turn, is passed to `u_s2p` (an `spi_s2p`) as the `io_mode_i` input
- In `sp

[2021-03-24 12:20] imphil opened #5778 "[alert_handler] DIF is using the wrong auto-generated header"
The alert_handler DIF is using the Hjson file at `hw/ip/alert_handler` to generate its register interface. This is actually an "example" Hjson file, and not the Hjson file we use for top_earlgrey.

If I change the SW build to use the right one:

[code]

I get a compile error:

[code]

The Hjson files aren't that different, not sure why the generate different defines here.

@mcy can you have a look

[2021-03-24 12:25] imphil commented on #5778
Obviously `ALERT_HANDLER_ALERT_CLASS_` -> `ALERT_HANDLER_ALERT_CLASS_0_`, but the tooling here seems to be a bit fragile. The less parameter dependencies we have, the better actually.

[2021-03-24 13:38] jackieke724 commented on #5598
I am using the `external` section for now, but I think external only supports req_rsp and uni types which tranform to input/output. As a result, I need to manually change the port to inout after each topgen.

[2021-03-24 15:51] eunchan commented on #5774
Thanks for spotting this out. The path never activates in logically. I think I should split, input mode and output mode. I will address this.

[2021-03-24 16:40] rasmus-madsen commented on #5755
@weicaiyang @udinator @cindychip
according to out CAdence FAE support for contamination streams should be  included in 21.03

[2021-03-24 16:42] tunghoang290780 commented on #5753
@tjaychen @igk8 first it would go to the sending data state in which scl and sda are originally driven. However, in loopback, we will disable driving scl_o and sda_o and route data back to receiving data state (also disable receiving data from scl and sda)

[2021-03-24 16:44] tjaychen commented on #5598
ah yes you are right. That is something we ran into as well, inout I do not
believe is currently supported.
Could you file an issue for now? That's something we should enhance long
term.

On Wed, Mar 24, 2021 at 6:38 AM jackieke724 ***@***.***>
wrote:

[2021-03-24 16:46] cindychip commented on #5755
Nice, thanks for checking Rasmus

[2021-03-24 16:48] tjaychen commented on #5753
do you think there's any downside to just allowing it to go to sclk_o and
sda_o and loop that directly back to scl_i / sda_i?
Maybe in the end it doesn't make a huge difference, but it would be nice to
loopback as much as possible.

On Wed, Mar 24, 2021 at 9:42 AM Tung Hoang ***@***.***> wrote:

[2021-03-24 16:49] cindychip commented on #5752
Also one more question I would like to confirm:
For TLUL memory access error from SW partitions: we WON'T trigger interrupts but will update status. Is that also expected?

Thanks Michael :)

[2021-03-24 16:54] tjaychen commented on #5774
hey Eunchan I actually have an open PR where i just temporarily
disconnected it (although some of my fixes also conflicted with Rupert's).
should i just abandon that PR for now?

On Wed, Mar 24, 2021 at 8:51 AM Eunchan Kim ***@***.***>
wrote:

[2021-03-24 16:56] tjaychen commented on #5763
ah, so one of the reasons I was thinking fixed values, is mostly because it "might" be easier for us to work out where to connect the multiple bits to a register write.  So if we allow arbitrary length, and arbitrary values, it might be harder to determine on the fly how to use each bit of regwen to qualify the write.

Just as an example, I was thinking for example...if the regwen were 2 bits, bit

[2021-03-24 17:13] eunchan commented on #5774
Hi Tim, Thanks for quick heads up. I just created a PR to address this issue.

intrinsic SPI nature really makes me struggle to make clean design (**halt clk period** things..) Still not sure this fix is OK, maybe just temporary duct tape.

I hope we can review the design later, specifically this kind of weird CDC signals.

[2021-03-24 17:21] tjaychen opened #5781 "[keymgr] Allow sideload key clear to be done per sideload slot"
Right now sideload key clear clears all slots.  But ideally we should be able to do it per crypto primitive (one each for aes / hmac / kmac).

[2021-03-24 17:21] tjaychen commented on #5781
@felixmiller
@weicaiyang
@moidx

[2021-03-24 17:54] #4808 closed

[2021-03-24 18:50] msfschaffner commented on #5752
Hey @cindychip!
Good catch, that line should be modified to:
[code]
in order to unify the behavior as you describe.

The data output should then always be gated to 0 except in cases where the response is valid and there is no error.

As for your last comment, access errors should always be reported (including IRQ):
https://github.com/lowRISC/opentitan/blob/4ca4a2f07bce8912d6adc10a56584319cea67491/

[2021-03-24 18:57] cindychip commented on #5752
Thanks Michael, I also found an overflow issue that in dai_access, we do not correctly categorize `LC Partition`.

The issue is in line:
https://github.com/lowRISC/opentitan/blob/master/hw/ip/otp_ctrl/rtl/otp_ctrl_dai.sv#L640
For LC partition: offset is `'d1904` and size is `d'88`. The `PartEndInt` is `d'2068`, hex `12'b100_000_000_000`

Then in line:
https://github.com/lowRISC/opentitan/blob/mast

[2021-03-24 19:07] msfschaffner commented on #5752
Ah yes, Rupert and I have just recently discussed and merged a change there to address lint warnings.
https://github.com/lowRISC/opentitan/pull/5698/commits/4f8dbd61fa39f25ea7e15c674795b9292d60fb49

That may have introduced an issue.
Let me look into that.

[2021-03-24 19:15] msfschaffner commented on #5752
Ok I have added a second commit to that PR that should fix the PartEnd issue.

[2021-03-24 19:48] cindychip commented on #5752
Thanks Michael for fixing all these. I have one more small question regarding TLUL sw partition memory access:

From the current RTL implementation, looks like if sw partition is read locked, then any TLUL sw addresses (INCLUDING SW DIGEST) cannot be read out, and will return a `d_error`.
But if we access from DAI interface, we can still read out digest data.
That is expected right?

[2021-03-24 21:07] alistair23 commented on #4731
Agreed! It seems like https://github.com/lowRISC/opentitan/pull/5714 does this and now SRAM it initalised in the ROM https://github.com/lowRISC/opentitan/blob/4ca4a2f07bce8912d6adc10a56584319cea67491/sw/device/boot_rom/rom_crt.S#L99

Is that correct?

[2021-03-24 21:08] tjaychen commented on #4731
yes that's right.

On Wed, Mar 24, 2021 at 2:07 PM Alistair Francis ***@***.***>
wrote:

[2021-03-24 21:50] #4961 closed

[2021-03-24 21:57] udinator commented on #5755
Great, thanks for checking Rasmus!

[2021-03-24 22:15] weicaiyang opened #5786 "[CI(private)] Reproduce CI failure"
Recently we found we couldn't reproduce some CI failures. After worked with Synopsys AE, we found the root cause is probably due to tool version of Python, which causes some orders of generated codes are different.

There are 2 kinds of difference
1. parameter order in generated design, but this is probably not an issue as long as we use it by name rather than by position.
![Screen Shot 2021-03-24

[2021-03-24 23:10] msfschaffner commented on #5752
Yeah I think the SW partitions are entirely locked down (even the SW digests) once they are read locked via the read enable bit in the CSRs.
This has been implemented that way for simplicity in HW, such that no more address filtering has to be implemented on the TL windows.

The section that you read in the spec was intended for HW managed digests, for which I think the explanation is correct.
I.e

[2021-03-25 00:27] cindychip commented on #5752
Oh HW partitions only! That makes sense. Yeah and we do not want the tlul interface to be too complicated. SGTM. Thanks Michael for your explanation. I will close this issue as all my questions are answered here!

[2021-03-25 00:27] #5752 closed

[2021-03-25 00:32] tjaychen commented on #5786
wow good find Weicai.
It looks like the parameter port list at least is just the output of a
regular expression search.. and then the whole thing is plastered on the
wrapper file.
Does it make sense for us to parse this a bit and maybe sort them? That way
it'll always be the same.

I'm guessing the same thing could happen to ports as well?

On Wed, Mar 24, 2021 at 3:16 PM weicaiyang ***@***.***> w

[2021-03-25 01:10] cindychip opened #5790 "[otp_ctrl] TLUL sw partition window has no return after lc_escalate_en is On"
Hi Michael,

I found that after lc_escalate_en is `On`, and we try to access TLUL SW partitions. I expect to get a `d_error` with `d_data` 0, but design does not return anything on the bus.

I saw the `tlul_req_i` goes up, but `tlul_rvalid_o` stays 0 because the state machine it is in `ErrorSt`.

Personally, I think it is easier for the user to get a d_error instead of hanging on the TLUL bus :)

[2021-03-25 01:57] tunghoang290780 commented on #5753
@tjaychen the downside is we can not examine all states of fsm (e.g. states that drive scd_o/scl_o and receive scl_i/sda_i) but in that case, dut can do loopback itself regardless of the target devices.

if you want to loopback outside the i2c top, we need either modifying testbench or require i2c_agent support which means that dut is not able to support loopback itself

[2021-03-25 02:06] tjaychen commented on #5753
i'm sorry, i did not mean outside of i2c top.
i meant something like what uart is doing.
https://github.com/lowRISC/opentitan/blob/master/hw/ip/uart/rtl/uart_core.sv#L250

Basically looping back at the last point, and not going from one fifo
directly to another.
Does that make sense? Maybe that's what you were saying already.

On Wed, Mar 24, 2021 at 6:57 PM Tung Hoang ***@***.***> wrote:

[2021-03-25 08:11] rswarbrick commented on #5763
Hmm, I don't think I understand, sorry. Can you elaborate on what you mean with bit1?

[2021-03-25 11:33] rswarbrick commented on #5786
I'm a fan of explicitly sorting anything where the order matters. As you say, (1) shouldn't really matter. But (2) does!

The thing is, I looked at the code and it *should* get the ordering right (essentially because Python's dict has respected insertion order since version 3.6). So I tried to reproduce this using Vagrant.

I checked out the current tip of master (da490e7b1) and then ran `mkdir OL

[2021-03-25 12:43] senelson7 opened #5800 "[entropy_src] entropy_data does not match incoming entropy"
Value read from entropy_data register does not equal concatenation of incoming entropy in bypass mode. It appears not all of the incoming entropy data is captured.

[2021-03-25 13:16] rswarbrick opened #5801 "[c++] Rewrite bits of the verilator-support infrastructure to avoid exceptions"
These aren't allowed by the Google style guide. Pointed out by @mcy in a recent review.

[2021-03-25 16:35] #5800 closed

[2021-03-25 16:50] mwbranstad commented on #5800
@imphil Steve and I were thinking that he would close this issue once he has verified the fix with his test - this closes the loop. Do you agree, or have a different process in mind? Or are we doing this wrong since we wanted to test out the debug/fix loop path.

[2021-03-25 16:56] imphil commented on #5800
If you add a "Fixes #NNN" to a commit message or a PR, the issue gets close automatically when merging ([docs](https://docs.github.com/en/github/managing-your-work-on-github/linking-a-pull-request-to-an-issue#linking-a-pull-request-to-an-issue-using-a-keyword)). That's the "normal" flow. If that doesn't match what you're looking for, you can:

* Avoid "Fixes #NNN" in the commit message, and instea

[2021-03-25 17:02] mwbranstad commented on #5800
Thanks, that was very helpful.

[2021-03-25 17:28] alphan opened #5804 "Consider moving the classes for testing bad argument cases in dif_keymgr_unittest.cc to a library"
PR: #5463, @mcy's [comment](https://github.com/lowRISC/opentitan/pull/5463/files#r597739811)

[2021-03-25 17:51] tunghoang290780 commented on #5753
i'm sorry, i did not mean outside of i2c top. i meant something like what uart is doing. https://github.com/lowRISC/opentitan/blob/master/hw/ip/uart/rtl/uart_core.sv#L250 Basically looping back at the last point, and not going from one fifo directly to another. Does that make sense? Maybe that's what you were saying already.

@tjaychen thanks, it makes sense

[2021-03-25 17:52] sriyerg commented on #5786
+1 for always keeping things sorted rather than rely on insertion order when generating RTL / DV sources.

[2021-03-25 18:47] tjaychen opened #5805 "[sw] dif_aon_timer delay"
In one of the [smoketests](https://github.com/lowRISC/opentitan/blob/master/sw/device/tests/dif/dif_aon_timer_smoketest.c#L63), we program a few registers in the `aon_clk` domain of `aon_timer`, and then explicitly place a software wait for this write to take effect.

For `aon_timer` at least, I thought the written value would propagate into the other domain and then feed back for the register to

[2021-03-25 19:01] tunghoang290780 opened #5806 "[spi_host, spec] Support independent configuration per CS line"
According to the specification, `spi_host `is able to support programming independent configuration for CS by using `multireg` with `MaxCS` parameter for `CONFIGOPTS `and `COMMAND` registers. Although the value of `MaxCS` is currently set to 1 in RTL meaning one configuration is supported, it still requires efforts to developing a parameterize spi_agent for general cases.

@tjaychen @msfschaffner

[2021-03-25 19:02] alistair23 commented on #5291
This seems to be working so I'm closing this.

[2021-03-25 19:02] #5291 closed

[2021-03-25 19:02] alistair23 commented on #4731
Great! I can now run Tock again, closing this issue.

[2021-03-25 19:02] #4731 closed

[2021-03-25 19:24] matutem opened #5808 "[clkmgr/rtl] The clkmgr hw/ip rtl block doesn't match the specification"
hw/ip/clkmgr/rtl/clkmgr_reg_pkg.sv declares clk_enables_reg_t as having 2 bits: clk_fixed_peri_en and clk_usb_48mhz_peri_en, which doesn't match the CSR spec. Similarly, it declares the clk_hints and clk_hints_status as also having 2 bits: clk_main_aes and clk_main_hmac, which doesn't match the spec either (it has 4 bits). A similar mismatch also exists in the clkmgr ports.

On the other hand, the

[2021-03-25 19:25] tjaychen commented on #5808
yeah `hw/ip/clkmgr/rtl/*` is now woefully out of date.
I actually plan to remove them altogether to make it clear that the one under `top_earlgrey` should be referenced.

[2021-03-25 19:27] tjaychen commented on #5806
if it's make it easier, we don't need to keep this parameterizeable and can hard-code it.
I can't imagine we would need more than 4 in the long term.

[2021-03-25 19:50] senelson7 opened #5809 "Push_pull_agent cfg knob"
Currently, the push_pull_agent drives valid/data every clk. I would like a cfg knob that controls how many clocks between valids (so I can randomize to vary speed of valid/data). I would envision something that if 0: drives every clk, 1: drives every other clk, etc. Let me know if there's another way to do this currently but I think a new cfg knob would be a useful enhancement.

[2021-03-25 20:14] alistair23 opened #5810 "Unable to connect OpenOCD and GDB"
With the lowRISC/opentitan@99cb19827ebbd5dcee097c061a271ac09be5b523 bitstream built from the CI I am unable to connect OpenOCD and GDB.

Using mainline OpenOCD 0.11.0 and the RISC-V fork results in the same problem.

The first time I try and connect OpenOCD successfully connects, but then when I attach with GDB I see this error printed continuously:

[code]

After that if I kill GDB and OpenOCD an

[2021-03-25 21:30] msfschaffner commented on #5790
Hey Cindy,

This is not hard to fix, see linked PR and let me know if that is along the lines of what you where thinking.

[2021-03-25 23:11] tjaychen opened #5816 "[top] Audit xbar connections"
It seems the `core_d` and `dm_sba` xbar connections list can sometimes get out of sync.
It's probably good to audit these before major milestones to make sure `dm_sba` is able to access all the modules it is supposed to.

[2021-03-26 00:18] #5806 closed

[2021-03-26 01:15] #5790 closed

[2021-03-26 02:00] moidx opened #5820 "[sw] Utilization reports"
It is very useful to get utilization reports integrated with the build infrastructure. This helps in tracking various binary sizes, and setup alerts if the code size starts getting above certain threshold.

This issue is to propose setting up utilization reports for all device libraries and executable targets. Ideally, we should also have an aggregated report in a parsable format providing a compr

[2021-03-26 02:02] moidx commented on #5771
Added lowrisc/opentitan#5820 to track the implementation of binary size tracking integrated into the build system.

[2021-03-26 08:09] rswarbrick commented on #5805
Sounds like a good idea to me. I guess the only question for this sort of thing (probably not relevant for aon_timer) is exactly how long the write latency might be. If it's ~10 cycles, I shouldn't think it matters, but if it's hundreds of cycles then SW might want to be able to do stuff while it waits, meaning we'd need a "fork; join"-style flow.

[2021-03-26 09:02] #5671 closed

[2021-03-26 09:46] silvestrst commented on #5805
Do you mean something like a `polled` (function polls until the slow clock domain have registered the change) type of behaviour that can be requested via flag?

I guess that is up to higher level driver that uses the DIF.

[2021-03-26 09:59] tomroberts-lowrisc commented on #5805
Please go ahead! I meant to give this a go myself but have been tied up with other things.

[2021-03-26 10:14] rswarbrick commented on #5805
Yes, but I think that the design Tim is suggesting would stall the CPU on a write to the config register, which means that neither the DIF nor the higher level driver could support this sort of "fork; join" behaviour. As I said, no biggie if it's just a few cycles, but it might be an issue if it's hundreds.

[2021-03-26 10:27] silvestrst commented on #5805
I see, thank you for the clarification.

[2021-03-26 14:58] senelson7 commented on #5809
It looks like I can do this with the host_delay knob so closing for now.

[2021-03-26 14:58] #5809 closed

[2021-03-27 08:36] sajjadahmed677 commented on #5810
Why it is showing the error of version I guess the implemented version of debug module is 0.13?? Are you using openocd according to this version??

[2021-03-27 08:42] sajjadahmed677 opened #5833 "[Question]: Programming Opentitan with Jatg"
I am trying to program opentitan using GDB and jtag interface. But when I run ```load``` command on gdb it gets failed. So, my question is can we program opentitan using jtag.?? Right now am testing it on verilator.

[2021-03-27 09:00] jake-ke opened #5834 "[feature request] add inout to inter-module signal type"
According to the [Comportability Spec](https://docs.opentitan.org/doc/rm/comportability_specification/#inter-signal-handling), inter-module signals can only be input/output as specified by the `type` attribute. I would appreicate an extension of `type` so that topgen can interpret signals as `inout`.

My use case, as shown in #5598, is passing FPGA DDR3 inout pins directly to an IP which instantia

[2021-03-27 09:03] jackieke724 commented on #5598
@tjaychen , thank you so much for your support! I have finished `ddr_ctrl` and tested on the board. I have also filed the issue.

[2021-03-27 09:03] #5598 closed

[2021-03-29 08:24] GregAC commented on #5810
Just tried OpenOCD and GDB with a verilator sim build from that commit and all looks to be working, so this may be an FPGA specific issue, I don't have a board to hand so can't check myself.

Have you a tried a newer bitstream?

[2021-03-29 10:08] rswarbrick commented on #3362
We've had a testplan review meeting and PR #5840 adds the extra tests that we agreed on. Once that's merged, all that remains is the signoff commit.

[2021-03-29 11:43] GregAC opened #5841 "[otbn] Add CSR/WSR definitions to yaml and refactor to use them"
The OTBN ISS uses hard-coded constants for the CSR and WSR addresses. These should be defined in a yaml file somewhere instead. The ISS can be refactored to use the names from the yaml and strip out magic constants. This will also enable named CSR/WSRs for otbn assembly and can be used to autogenerate the CSR/WSR documentation.

[2021-03-29 16:31] cfrantz opened #5843 "Create commit hooks which warn about private key material"
In the past, private key material has been accidentally exposed by submitting private keys into public codebases.

Example:  This key is called the "test key" and its existence in a public repository allows anyone to sign code to run on a prior generation of security chip:
https://chromium.googlesource.com/chromiumos/platform/ec/+/ee86a8ce1f343186bcc545cd68d7ad54ec7f3ea6/util/signer/loader-testkey

[2021-03-29 16:40] cfrantz opened #5844 "Idiomatic Rust: permit tests to return Result<()>"
According to [the Rust docs](https://doc.rust-lang.org/rust-by-example/testing/unit_testing.html#tests-and-), tests are permitted to return `Result<()>` so you can use `?` in place of `unwrap()`.

1. Update the codebase.
2. Update the rust style guide documentation (and/or _start_ some rust style guide documentation).

[2021-03-29 16:42] mcy commented on #5844
This mostly affects Manticore, but it's useful to unify this across OT projects.

[2021-03-29 17:18] weicaiyang commented on #5786
@rswarbrick

I checked out the same master.

But I got a different result for `find OLD -type f | xargs md5sum`
[code]

My local machine is Debian and python version is as below

Maybe we should use `OrderDict` to avoid this problem?

[2021-03-30 01:12] weicaiyang opened #5852 "RAL genaration update needed"
1. generate multi-reg to an array. refer to discussion at #5796
2. generate correct backdoor path when there are multiple regfiles in a IP

FYI @sriyerg @tunghoang290780 @cindychip

[2021-03-30 01:39] weicaiyang opened #5853 "[keymgr] return OpDoneSuccess when lifecycle is off during an operation"
@tjaychen
since LC is off, expect any OP will return failed status. WDYT?

![Screen Shot 2021-03-29 at 6 36 50 PM](https://user-images.githubusercontent.com/49293026/112920410-c0a21b00-90bd-11eb-80d8-0212514c2d60.png)

/edascratch/weicai-opentitan/ot/fix_lc/keymgr-sim-vcs/0.keymgr_lc_disable/out

[2021-03-30 07:02] rswarbrick commented on #5786
I don't think that using `OrderedDict` will make any difference to this if you are using Python >= 3.6. As Sri said above, the "big guns" solution is just to sort alphabetically when we emit things. However, I think we should probably figure out what's going on here.

Given that this doesn't seem to be caused by Python versions in exactly the way you suggested, I think you're going to have to do s

[2021-03-30 07:54] rswarbrick commented on #5852
(2) should hopefully be fixed by #5856.

[2021-03-30 08:42] rswarbrick commented on #3362
I've just gone down the checklist again. There are a couple of items that probably need discussion:
- [**DESIGN_SPEC_REVIEWED**](https://docs.opentitan.org/doc/project/checklist/#design_spec_reviewed): I think we can reasonably say that this has happened? (many times!)
- [**STD_TEST_CATEGORIES_PLANNED**](https://docs.opentitan.org/doc/project/checklist/#std_test_categories_planned): I'm not sure w

[2021-03-30 09:16] Bjerkk opened #5859 "[doc] Use of HMAC in the booting process"
I am trying to understand at what point in the booting process the HMAC component is used.

From what I can gather currently the HMAC component would be used as part of the verification of signatures of the ROM_ext manifests. This is based on [Mask_ROM](https://docs.opentitan.org/sw/device/mask_rom/docs/).  Is it correctly understood that the HMAC will  be used to calculate the hash in order to be

[2021-03-30 12:54] #5778 closed

[2021-03-30 13:40] sajjadahmed677 commented on #5810
Actually i am also doing it on verilator.

[2021-03-30 15:36] alistair23 commented on #5810
The latest master commit doesn't fix the issue.

It seems that I can sometimes get a connection and somethings seem to work. The part that reliably doesn't work is resetting the board with the `monitor reset halt` command in GDB.

[2021-03-30 15:44] GregAC commented on #5810
Given we're pushing the FPGA to its limit on area at least I wonder if it's a timing issue, given the message 'This error might be caused by a JTAG signal issue. Try reducing the JTAG clock speed.'

I do now have a board so I can take a look

[2021-03-30 16:32] sriyerg commented on #3362
The second one is more of a reminder. In larger designs especially, some of those features are often subtle / small and tend to get overlooked (especially if an IP has performance / debug / DFT type features). They are to be captured in the tesplan as applicable. There is nothing mandating these tests to be present (or appropriately waived) - its more of a self-service.

[2021-03-30 17:30] weicaiyang opened #5867 "[keymgr] width mismatch on hw data input check"
@tjaychen
HealthStateWidth is 128 while MaxWidth is 256. so when I input health_state_i = '1, it checks `{128'{0}, 128'{1}}` and it passes.

https://github.com/lowRISC/opentitan/blob/d15513ae70572efa698d4c5113302b9f81af8be7/hw/ip/keymgr/rtl/keymgr_input_checks.sv#L18-L19

https://github.com/lowRISC/opentitan/blob/d15513ae70572efa698d4c5113302b9f81af8be7/hw/ip/keymgr/rtl/keymgr_input_checks.sv#L37-

[2021-03-30 17:55] cdgori commented on #4603
We talked about this a little today/this morning in our weekly discussion.  I/we need to be precise about where this would happen, because the behavior is different for entropy_src as for CSRNG.  It might be that for both cases this isn't particularly interesting as an attack (as noted, the results are not meant to be deterministic).

Also, @tjaychen since it's only a SHA3 (not a SHAKE/cSHAKE) we

[2021-03-30 18:32] martin-lueker commented on #4603
Status: revisited in meeting 2021/03/30:
First off: @cdgori points out that the real goal here is to work out some way to modulate the behavior of the input to the **entropy_src** conditioner.

CSRNG has a defined personalization string input that can achieve this DEV/PROD distinction.
Likewise SHA3 has a term "customization string" concept, though we aren't sure as to whether that is implemented

[2021-03-30 20:04] bluegate010 opened #5869 "Flash space usage for ownership transfer context"
Just wondering, roughly how much flash will be required to store the ownership transfer context managed by ROM_EXT?

[2021-03-30 21:33] weicaiyang commented on #5852
Thanks @rswarbrick for fixing it

[2021-03-30 23:06] igk8 commented on #5753
This implies that the IP (in either host or target mode) must be able to transmit serial data and receive it concurrently. This is what UART is doing.

Is there a real need to enable multi-host features (host-host clock synchronization and host bus arbitration)? The bus arbitration also requires the host to transmit and receive data concurrently.

[2021-03-30 23:29] cindychip opened #5870 "[otp_ctrl] consistency check failed when triggered between digest and reset"
Hi Michael,

Here is a corner case:
1. DAI interface issue digest command for Secret0 partition.
2. Consistency check triggered. (this happened before reset is issued)
-> error: a consistency check failure reported for the Secret0 partition.

Looking at the code here: https://github.com/lowRISC/opentitan/blob/master/hw/ip/otp_ctrl/rtl/otp_ctrl_part_buf.sv#L332
`if (digest_o == data_mux || data_mux

[2021-03-31 00:25] msfschaffner commented on #5870
Hey @cindychip,

Ah I see - yes this is a problem.
Your proposed solution looks good to me.

Michael

[2021-03-31 01:53] weicaiyang commented on #5786
I tried this print
[code]
I gave me this. Don't know how they order it.

--------

I looked at the top.py.  Here is how we add item to the blocks.
[code]

And it generates the block in this order. Let's sync up offline to check where we have a different result. Thanks

[2021-03-31 07:59] rswarbrick commented on #5786
Ah, right, so that's the problem: there's no well-defined ordering from the glob expression. I don't think you're looking at the right place in `top.py` (that's sorting things by base address, so won't depend on the input order). Thank you very much for looking into things.

I'll push up a commit in a minute that adds a canonical order.

[2021-03-31 10:16] rswarbrick opened #5879 "[otbn,lint] AscentLint warning about imem_rdata"
AscentLint is warning about:
[code]

This is a bit odd because we have this code in the file:
[code]

I think that our AscentLint config respects `unused_foo` signals: what's going on?

@imphil: I think you have a bit of experience of the care and feeding of grumpy AscentLints. Any ideas?

[2021-03-31 10:19] #3362 closed

[2021-03-31 12:08] #5786 closed

[2021-03-31 14:19] silvestrst opened #5882 "[rtl, aon_timer] common interrupt bit offsets"
The question has really originated from this [comment](https://github.com/lowRISC/opentitan/pull/5624#discussion_r599565167).

Is the flag in `no_auto_intr_regs: "true"` deliberate, and also whether we are correctly using this flag to determine whether to generate `_INTR_COMMON_` set of defines? From software perspective all the `aon_timer` software interrupt bit offsets are the same across `intr_

[2021-03-31 16:37] #5755 closed

[2021-03-31 17:34] tjaychen commented on #4603
hey all,
please correct me if i'm wrong, but i think the personalization string inside csrng is software input right?
If that's the case, we probably can't rely on that exclusively since the software could just claim to be in whatever state it wants to be.  So if we do go that route, it would be better to attach something extra to the string that software already provides.  Is that feasible? I can

[2021-03-31 21:16] tjaychen commented on #5853
wait are you saying right now it 'does not' return failed status? because i think the intent is that it should.
let me check the waveform.

[2021-03-31 21:32] weicaiyang commented on #5853
yes, it returns OpDoneSuccess. in the issue title I said "return OpDoneSuccess when lifecycle is off during an operation", perhaps I should repeat this in the issue body too.

[2021-04-01 00:01] cindychip commented on #5870
close it via #5873

[2021-04-01 00:01] #5870 closed

[2021-04-01 00:06] cfrantz opened #5896 "Alert Manager should have a software alert"
There are cases where it is useful for software to trigger alert escalation (e.g. boot ROM or other software encounters an exceptional condition and wants to shut everything down).

Add a software alert source to alert manager and add a register interface to trigger the software alert.

[2021-04-01 00:20] weicaiyang commented on #5786
@rswarbrick thanks for fixing this.

But we may need to add `sorted` for creating reg and field as well. These orders also matter in term of randomization. maybe we should always use `for ... in sorted(...)` in tpl file, especially for RAL. WDYT?

[2021-04-01 00:23] tjaychen commented on #5853
good catch @weicaiyang , it turns out this one the en dropped during the middle of transitioning to invalid.
I forgot to mark operations as invalid during that state.  Can you see if this helps?

[2021-04-01 00:28] tjaychen commented on #5786
if we sort the original creation of the list of modules ..would that
property hold throughout..?

On Wed, Mar 31, 2021 at 5:20 PM weicaiyang ***@***.***> wrote:

[2021-04-01 00:28] msfschaffner commented on #5896
This should not be difficult to add. How soon is this feature needed?

I have a couple of other pending alert handler tasks and would bunch this together with those if this is not urgent (post silver).

[2021-04-01 00:36] weicaiyang commented on #5853
thanks for quickly fixing this. the change looks good to me.

[2021-04-01 01:09] tjaychen commented on #5896
i dont' think it's super urgent, so definitely okay to be post-silver.
Michael if you get tied up with other things, let me know also, i can help
look at it.

On Wed, Mar 31, 2021 at 5:28 PM Michael Schaffner ***@***.***>
wrote:

[2021-04-01 01:24] moidx opened #5900 "[hw/sw] entropy_src seems to have the output stuck"
@tjaychen noticed that the entropy src initialization in `boot_rom` is preventing `dif_entropy_configure` to configure the lfsr seed value.  The dif should toggle the enable bit to handle this issue, or the dif should provide a mechanism to toggle the enable bit.

@tjaychen is also looking at a top level issue with an OTP signal used to disable the entropy_src sw output.

[2021-04-01 01:40] tunghoang290780 opened #5901 "[Question] Incorrect nightly DV report"
I received nightly DV reports via email which sometimes showed error tests for IP (see below screenshot). However, when I click into failed IP (e.g. pattgen IP), it showed all tests passed. There might be issues in scripts used to collect and generate the nightly reports.

![image](https://user-images.githubusercontent.com/53881329/113231547-55d51900-9250-11eb-9b78-7edc1b76bfca.png)

[2021-04-01 02:02] cindychip commented on #5901
Thank you for raising this issue Tung.
Here is what happened:
1. When you received the email it is Tuesday March 30th, and when you click the link to pattgen, it refers to the [latest report](https://reports.opentitan.org/hw/ip/pattgen/dv/latest/results.html) (for today it is actually March 31st).
  So that means if you check it tomorrow, the link should refer to April 1st.
2. If you go down [patt

[2021-04-01 07:35] rswarbrick commented on #5786
Yes, that should be sorted already (as I said in my previous comment).

[2021-04-01 09:00] jackieke724 opened #5905 "[question] clock frequencies on FPGA"
The [clk_mgr spec ](https://docs.opentitan.org/hw/ip/clkmgr/doc/) does not match the actual clock frequencies on FPGA. For example, it says the CPU runs at 100 MHz but actually 10 MHz on FPGA. According to #3647, it seems to be a temporary hack due to the large negative slack. Is that correct?

If I do not include OTBN, can the design at the current stage run at the frequencies on the spec?

[2021-04-01 12:25] imphil commented on #5905
You'll need to give it a try and see how far you get, unfortunately.

[2021-04-01 13:54] jackieke724 commented on #5905
Ok, thanks.
Do you plan to improve timing? When would that be?
Do I assume all frequencies on the spec are divided by 10? For example, does the spi device operates at 2.5 MHz, and its SCK operates at 10 MHz?

[2021-04-01 14:22] imphil commented on #5905
In OpenTitan, FPGAs are only a prototyping platform. As such, we are not specifically optimizing timing for FPGAs. However, we're happy to accept contributions to improve timing on FPGAs, e.g. by you. Please open a pull request!

For the individual frequencies the most reliable approach is to look at the synthesized design in Vivado to see what frequencies get calculated -- otherwise it's easy to

[2021-04-01 16:20] #5853 closed

[2021-04-01 16:21] tunghoang290780 commented on #5901
@cindychip thank you for the explanation

[2021-04-01 16:21] #5901 closed

[2021-04-01 17:40] #5867 closed

[2021-04-01 18:35] cindychip opened #5907 "[connectivity] TODOs"
- [x]  README (PR: #5913)

- [x]  VC Formal error msg (PR: https://github.com/lowRISC/opentitan/pull/5967)

- [x] Set up connectivity to nightly dashboard (PR:https://github.com/lowRISC/opentitan/pull/6087)

- [ ] Connectivity test toggle coverage (right not it does not coverage)

- [x] batch script, if not go to hw/formal, it gets a wrong path.

- [ ] connectivity and simulation coverage merge.

[2021-04-01 18:36] cindychip commented on #5907
@sriyerg @matutem for the visibility. Please feel free to add more feedback and support requests :)

[2021-04-01 21:25] moidx commented on #5859
Hi @Bjerkk,

We have a couple of options for signature verification, we can use HMAC for SHA2, which is constrained to SHA2-256, or we can use the KMAC engine, which provides a SHA-3 mode {256, 385, 512}.

Each boot stage uses the appropriate SHA function for verification.  We use the hardware implementations for performance reasons.

HMAC and KMAC are two separate hardware components.  The key ma

[2021-04-01 21:31] moidx commented on #5801
code search query:

 https://cs.opensource.google/search?q=throw%20language:cc%20-file:.*vendor.*&sq=&ss=opentitan%2Fopentitan

[2021-04-01 21:51] bluegate010 opened #5911 "Ownership transfer: can owners specify the next owner at unlock time?"
My reading of the [ownership transfer spec](https://docs.opentitan.org/doc/security/specs/ownership_transfer/) indicates that ROM_EXT must be provided with two separate endorsements, in sequence:

* This particular chip is now unlocked for ownership transfer, to whomever. Includes an unlock nonce. May be signed by a key held in an online key manager service.
* Any chip I own is allowed to transit

[2021-04-01 22:27] sriyerg opened #5912 "[lint] Lint errors if any is reported again as a tool error"
Example: AON_TIMER below has 4 lint errors, which are correctly reported. But because the tool exits with a non-zero exit code (because those lint errors were encountered), these errors are doubly reported as a tool error as well.

[code]

After some investigation, it looks like Ascentlint (rightly so) exits with a zero exit code, since the tool itself ran successfully. It is the FuseSoC generated

[2021-04-01 22:59] weicaiyang opened #5914 "[keymgr] width mismatch"
In LC, lc_keymgr_div_t is 64 bit wide, while we expect 128 in keymgr.

https://github.com/lowRISC/opentitan/blob/4653df9a423b5c13ea33da5bd0d50a756aee9667/hw/ip/lc_ctrl/rtl/lc_ctrl_pkg.sv#L46-L47

https://github.com/lowRISC/opentitan/blob/4653df9a423b5c13ea33da5bd0d50a756aee9667/hw/ip/keymgr/rtl/keymgr.sv#L380

https://github.com/lowRISC/opentitan/blob/4653df9a423b5c13ea33da5bd0d50a756aee9667/hw/ip

[2021-04-01 23:07] bluegate010 commented on #5911
cc @moidx

[2021-04-01 23:18] cfrantz commented on #5869
The size of the ownership transfer manifest will vary in the type and number of keys to be endorsed for the next owner, and there may be some additional hardware binding info in the manifest (still working through the details; think fuse config).  Please take the following numbers as initial estimates.

1) We expect the ownership transfer manifest to be 4KiB or less.
2) We expect the ROM_EXT binar

[2021-04-02 02:08] jackieke724 commented on #5905
Thank you.

[2021-04-02 02:08] #5905 closed

[2021-04-02 18:34] weicaiyang opened #5922 "[keymgr] LC turns off when advancing from StReset to StInit"
@tjaychen
advancing from StReset to StInit is a bit special. When LC turns off during this operation, op_status will be success and no error, no alert will be triggered. State is updated to StInvalid and key are wiped. Does this make sense? Triggering an error seems better.

![Screen Shot 2021-04-02 at 11 34 03 AM](https://user-images.githubusercontent.com/49293026/113443703-58965200-93a7-11eb-93e

[2021-04-02 19:09] tjaychen commented on #5922
yes that doesn't sound quite right. Let me take a look.
If it goes to StInvalid it should mark as an error.

On Fri, Apr 2, 2021 at 11:34 AM weicaiyang ***@***.***> wrote:

[2021-04-02 19:10] msfschaffner opened #5925 "[usb] Wire up usbdev_aon_usb_rx_enable to AST on the chiplevel"

[2021-04-02 19:10] msfschaffner commented on #5925
https://github.com/lowRISC/opentitan/pull/5793#discussion_r606377953 for reference.

[2021-04-05 07:36] rswarbrick commented on #5879
For whatever reason, this warning has gone away now. Let's close this and forget it ever happened :-)

[2021-04-05 07:36] #5879 closed

[2021-04-05 10:56] felixmiller opened #5940 "[otbn] P384: implement ECDSA signature generation"
Implementation of signature generation routine and test for curve P-384.

Subtask of #2982

[2021-04-05 12:06] rswarbrick commented on #2309
I just had a quick look at this, but I'm not sure how best to do it. @imphil: Are you imagining putting the core file, the script and `tool_requirements.py` into e.g. `util/check-tool-requirements`? Or do we want to keep `tool_requirements.py` at top-level? In the latter case, I can't see a nice way to group things.

[2021-04-05 15:10] mwbranstad opened #5941 "[entropy_src/csrng/edn] need a start/stop/start function for the entropy complex blocks"
It appears that there are use cases that require the capability to start, then later stop the entropy flow. At that point the blocks would be re-programmed and then re-started again. This is really the difference between the boot-time case and the normal operational case for the entropy complex blocks.

[2021-04-05 17:42] cindychip opened #5942 "[otp_ctrl] LC program partial write"
Hey Michael,

I have a sequence below and would like to see if you think the behavior is acceptable:
1. Current LC state: `LcStTestUnlocked1`, LC count: `LcCnt12`
2. LC program request with new state: `LcStRma`, LC count: `LcCnt9`
     -> return an error for writeblank error, and LCI goes to `ErrorSt`
3. Issue another LC program request, request ignored due to LCI in error state.
4. Issue reset, a

[2021-04-05 18:03] tjaychen commented on #5879
ah just fyi, this i think went away with the new integrity PRs.  Since those actually take the full 39b data into the tlul adapters now.

[2021-04-05 18:56] sriyerg opened #5945 "[dvsim] Maintain command as a list of args"
Relevant comment here:
https://github.com/lowRISC/opentitan/pull/5927#discussion_r606965336

[2021-04-05 20:57] msfschaffner commented on #5942
Hey @cindychip,

I see what you're saying.
This should in general not be an issue since the life cycle controller actually performs two requests: first it increments counter and then it updates the life cycle state in a second request.

However, in order to make this more secure, we could consider interchanging the counter and the LC state positions in the memory map, such that the counter words w

[2021-04-05 21:05] eunchan opened #5946 "[spi_device] CSb ideal network"
This issue is related to #5910

SPI_DEVICE IP uses CSb as an async reset in its design. SDC(Synopsys Design Constraint) ideally defines this input signal from host system as an ideal_network so that DC assumes the line has zero delay and PD deals with it.

But to define `set_ideal_network` requires leaf node pin or port. As OT muxed scan signal to any resets, SPI_DEVICE also instantiates `prim_clo

[2021-04-05 21:21] cindychip commented on #5942
Hey @msfschaffner

Thanks for the quick feedback. Yeah I agree that in general cases, LC always updates LcCnt first, then LcState, so that should not be a concern.
I do like the idea to interchange the counter and state position - that seems to be an easy solution, and no issue on the DV side. If this solution does not affect Nuvoton, sw, or other parties, I am totally for the change :) If not, I

[2021-04-05 22:06] tjaychen opened #5947 "[top] Add simple address translation to better support A/B execution"
Please see doc for more [details](https://docs.google.com/document/d/1uU2Zh46SJtoaOqZ9dCRO7oAQnhTUcWWZ7CstOa1PZiM/edit?usp=sharing)

[2021-04-06 04:08] moidx commented on #5081
@cfrantz

[2021-04-06 04:48] moidx opened #5953 "[sw/silicon_creator] Add support for FW minor version to the manifest"
Currently the manifest only has support for a `uint32_t version` field.  This issue is to request the refactoring of the version fields to be as follows:

[code]
This will allow the ROM EXT developer to implement a versioning policy with a higher level of granularity.

[2021-04-06 04:53] moidx opened #5954 "[sw/silicon_creator] Manifest software binding configuration"
The following are required in the manifest to implement software binding and key versioning as defined in the key manager spec and the identities and root keys documentation:

[code]

[2021-04-06 04:59] moidx opened #5955 "[sw/silicon_creator] Generate ROM_EXT manifest in C struct format"
Implement the ROM_EXT manifest as a C struct to adhere to the Embedded Systems: Struct Layouts for Long-term Storage guidance.

[2021-04-06 06:01] moidx opened #5956 "[sw/silicon_creator] Specify the use of ROM_EXT Usage Constraint field"
The `usage_constraint` field is used to constraint the software to run on devices based on any of the following:

*   `DEVICE_ID`: 32 bytes, HW_CFG OTP partition. Partial 32-byte matches should be supported based on the configuration
     at signing time. This will allow the signature to be constrained to run on a class of devices or a single device (node locked).
*   Manufacturing state: Aggregat

[2021-04-06 06:54] cindychip commented on #5942
Hey @msfschaffner,
I am super sorry that I totally missed this on PR #5949, but I think we forget to reverse the otp_address in `otp_ctrl_lci.sv`.
This line: https://github.com/lowRISC/opentitan/blob/master/hw/ip/otp_ctrl/rtl/otp_ctrl_lci.sv#L223
`cnt_q` still start with processing lc_state, then lc_cnt, we need to reverse the `otp_addr_o` here.
I think we need to update it to some logic similar t

[2021-04-06 07:55] rswarbrick commented on #5879
Ah, good point. I've just filed https://github.com/lowRISC/opentitan/pull/5957 to remove the waiver too.

[2021-04-06 13:29] rswarbrick opened #5959 "[otbn] Produce an initial functional coverage document / framework"
This will probably be folded into something more general once the OpenTitan framework is done, but get something started now to avoid being stalled.

[2021-04-06 13:36] felixmiller opened #5960 "[otbn] optimized RSA implementation for verified boot"
- fix key size to 3072
- remove some constant time features
related to #4547

[2021-04-06 15:51] cindychip commented on #5942
Hi Michael,

Sorry I thought about the reverse solution again, and I am  not sure if I am convinced it will work or not.
I think my confusion comes from the code here: https://github.com/lowRISC/opentitan/blob/master/hw/ip/otp_ctrl/rtl/otp_ctrl_lci.sv#L158
It seems like no matter there are otp_errors or not, the LC will continue to finish program all LC words. In that case even though we reverse t

[2021-04-06 16:19] msfschaffner commented on #5942
Hey Cindy,

First of all, the reversal error you saw is actually my bad.
It is not the address mapping, but the data mapping that was hardcoded in the LCI.
I have made that parametric in this PR https://github.com/lowRISC/opentitan/pull/5963.

Regarding your question: yes this is something we've recently added to ensure a device can still be put into SCRAP even if some of the life cycle words have

[2021-04-06 16:33] vogelpi commented on #5464
I am not sure Martin. There has been quite a lot of work on the ES, CSRNG, EDN DIFs but I don't know if the DIF consists such a sequence. I can imagine that such a sequence would be constructed by a higher-level driver. Maybe @moidx who was working on the DIFs has a clearer idea.

[2021-04-06 16:53] tjaychen commented on #5464
i think @mwbranstad addressed this through this [commit](https://github.com/lowRISC/opentitan/commit/67d2915fb456a2fefe5e4e984564e24e6208ee5c#diff-a01460191c72aae34f1f119116be0e26302343a552184bbe8bdbe3be4606f4c6)

[2021-04-06 17:11] cindychip commented on #5942
Thanks for explaining. I think allowing the device to go into SCRAP state is more important so continuing program sounds good here.
Splitting the state machine does not seem like a small fix. I can just align on the DV side.

[2021-04-06 17:19] igk8 commented on #5753
@tjaychen Thank you! The "line" loopback test mode is implemented in PR #5964.

[2021-04-06 17:48] msfschaffner commented on #5942
Just to clarify, this two-step sequencing is already implemented in the life cycle controller FSM (not here in the LCI), so no additional changes are needed, except for DV alignments for the LCI (as you have mentioned).

[2021-04-06 17:52] cindychip commented on #5942
Oh sorry about that. I somehow thought you meant spilt the state machine. Got it and that sounds good. Will update the DV side accordingly.

[2021-04-06 23:05] weicaiyang commented on #5914
close via #5950

[2021-04-06 23:05] #5914 closed

[2021-04-06 23:16] chenc6 commented on #5690
Hi Folks,

I just want to check if someone can help me solve this issue?

Any help would be greatly appreciated!

Thank you

[2021-04-07 00:51] #4812 closed

[2021-04-07 06:25] moidx commented on #5464
What is the order of operations here once we are in boot_rom to switch to regular entropy?

1. Toggle entropy_src to switch to regular entropy
2. Toggle CSRNG enable; and,
3. Configure EDN

[2021-04-07 08:02] vogelpi commented on #5464
My understanding is that the commit referenced by Tim just increases the amount of entropy delivered without proper configuration. Once the specified amount has been served to consumers, EDN will just stop responding and any consumer will wait and eventually stall forever. As a temporary workaround, we disabled and re-enabled EDN which makes it serving once more the specified amount of entropy bef

[2021-04-07 11:24] luismarques commented on #5690
Hi @chenc6,

Spike simulates a RISC-V machine, with (despite some command-line options) a very specific configuration in terms of devices, memory mappings, etc. PK is a basic kernel that runs on that machine and implements the Linux syscall interface. It forwards those calls to the Linux host that spike is running on, so in general it only makes sense to use it to run Linux-style programs. Linux a

[2021-04-07 11:43] rasmus-madsen commented on #5755
@udinator @sriyerg I just tested an agile version of the upcoming release of xcelium.
and I can confirm that the support has been added.
The stable release is expected in May. (21.03)

[2021-04-07 14:10] alistair23 commented on #5690
There is an OpenTitan model in QEMU that you can use instead. There are instructions available here: https://github.com/tock/tock/tree/master/boards/earlgrey-nexysvideo#running-in-qemu

[2021-04-07 16:55] rswarbrick opened #5980 "[sw,tooling] Repeated calls to ninja repeat work"
Repeated calls to `ninja -C build-out` with no changes in the source tree seem to repeatedly call `export_target.sh` to copy things to the `build-bin` directory. This seems to be because `build_always_stale` is set: is that *really* what we want to do?

@imphil (as the lowRISC Meson expert) and @mcy (as a less local Meson expert!)

[2021-04-07 16:56] mwbranstad commented on #5464
Here is what I am seeing as a possible sequence:
1) do the basic boot sequence for fast entropy: enable ES, enable CS, set EDN to boot req mode
2) once the chip boot sequence has reached some near steady state, re-init the two EDN blocks. Set EDN0 to auto req mode with a very long time between reseeds. Set EDN1 to very short times, possibly a toggle between a GEN and a RESEED command.
3) There are

[2021-04-07 17:00] cfrantz commented on #5773
As far as the mask_rom (and rom_ext) are concerned, this is my perference:

1. Developers may use LOG() statements for any debug messages.
2. All LOG() statements will be eliminated in a production build (e.g. compiler flags will be used to redefine LOG statements as do-nothing macros).
3. Anything that must be printed to the console should use `printf` directly.  All intentional prints to the con

[2021-04-07 17:35] mwbranstad commented on #5630
Adding @felixmiller since I believe he was looking into this as a requirement or not.

[2021-04-07 18:30] moidx opened #5982 "[hw] CSRNG software path without entropy source"
I am in the process of writing a functional test case to verify the hw + dif implementation using a known test vector.

https://github.com/lowRISC/opentitan/pull/5973

Test plan based on the test vector requirements:

1. Enable CSRNG
2. Instantiate with flag0 = true, and set seed_material to test vector.
3. Reseed with clen = 0
4. Generate (1)
5. Generate (2)
6. Compare Generate (2) output against

[2021-04-07 19:33] mwbranstad commented on #5982
@moidx can you give me the exact values that are written into the sw app command reg? Also, did you intend to do a reseed right after an instantiate (you can, but not sure why)? Need to know the generate commands as well. Also, did you enable AES bypass? can you provide the CTRL write value as well?

[2021-04-07 20:10] tjaychen commented on #5464
yeah what @mwbranstad is describing is more or less what I expect to happen.
The boot time entropy is increased to accommodate boot purposes.  Once we get into individual tests (or software proper), then the fips-mode sequence needs to formally setup for "good" entropy.

I think this will trickle in slowly as the difs for entropy_src / csrng / edn are gradually ready.

[2021-04-07 20:16] tjaychen commented on #5982
we can add this test to run in the DV environment also Mark, that might
make it easier for you to triage.

On Wed, Apr 7, 2021 at 12:33 PM mwbranstad ***@***.***> wrote:

[2021-04-07 20:27] mwbranstad commented on #5982
Here is my quick and dirty sequence. AES is turned off, no reseed cmd, just instantiate, then gen1 and gen2. Note the genbits returned are not the same in this case.

      wr_reg({26'b0,CSRNG_CTRL_OFFSET},32'h000000003); // enable block and disable AES block

      $display("%t Request Instantiate cmd on app3...",$time);
      wait_for_cmd_rdy(0);
      wr_reg({26'b0,CSRNG_CMD_REQ_OFFSET},32'h000

[2021-04-07 20:41] moidx commented on #5982
This just part of the test vector specification. They expect that order of operations 1. instantiate, 2. reseed, 3. generate, 4. generate.

[2021-04-07 20:50] mwbranstad commented on #5982
Reseed with clen = 0

If you do this then, this forces CSRNG to use the ES seed, and will always generate random results between Gen commands.

[2021-04-07 20:52] tjaychen commented on #5982
@mwbranstad, i've pushed a commit to #5973 that now allows you to run @moidx test in DV.
The first thing it runs into you are already addressing as part of #5983

If you can pull down @moidx PR, you should be able to give it a try in your area. What sorts of problem are you having with top level sims?

[2021-04-07 20:52] moidx commented on #5982
Is it possible to add support for reseed w/ clen = 0 and flag0 = true? This is something that will come up as part of FIPS known answer tests (I can double check with the lab).

[2021-04-07 21:04] mwbranstad commented on #5982
@moidx the csrbg doc does not seem to support this at this time. However, if we use the same definition as the instantiate command, this function could be easy to add.

@tjaychen two problems with full chip. The build step seems to run, but the sim step fails with a message about ninja. Back when this was running ok, we can only run vcs (which is ok but a different tool set), but it cannot produce

[2021-04-07 21:09] tjaychen commented on #5982
hmm...if you're seeing an issue with ninja, then that probably means your software build is not working.

if you go to your repo root, and just do the following, what error do you see?

[code]

[2021-04-07 21:20] mwbranstad commented on #5982
Unable to find ninja. Please install ninja before running this command.
make: *** [sw_build] Error 1

...work/mark.branstad/opentitan>./meson_init.sh
Detected $REPO_TOP at /wdc/proj/cto/top/work/mark.branstad/opentitan.
Object directory set at /wdc/proj/cto/top/work/mark.branstad/opentitan/build-out.
Binary directory set at /wdc/proj/cto/top/work/mark.branstad/opentitan/build-bin.
OpenTitan versio

[2021-04-07 21:21] tjaychen opened #5985 "[top] Hook-up integrity alerts to all module regfiles"
Need to hook up integrity failure outputs to fatal alerts for all modules.

[2021-04-07 21:24] tjaychen commented on #5478
During a quick discussion on this today it was determined that instead of doing all the work to template `rv_core_ibex`, it would be better to create an "rv_core_ibex" device module.  The events would connect from the host module to device module, and then from the device module to the alert handler.

This would also give us an easy way to handle #5896 without changing anything in the alert handle

[2021-04-07 21:25] tjaychen commented on #5753
just wanted to double check, is this one of the last features for I2C? I think almost everything else is in?

[2021-04-07 21:31] tjaychen commented on #5982
ah you need to install ninja build
The following is just copied from the public install instructions.  You can
just pick the one you need.

$ sudo apt install autoconf bison build-essential clang-format curl doxygen \
    flex g++ git libelf1 libelf-dev libftdi1-2 libftdi1-dev libncurses5 \
    libssl-dev libusb-1.0-0 lsb-release make ninja-build pkgconf python3 \
    python3-pip python3-setuptool

[2021-04-07 21:42] mwbranstad commented on #5982
@rasmus-madsen or @tunghoang290780 i am assuming we cannot use these directions. Is there process that we use for WD internal?

[2021-04-08 00:40] igk8 commented on #5753
Yes, this is one of the last features for I2C, probably the last one. Unless we decide to support multi-host features at some point.

From: tjaychen ***@***.***>
Reply-To: lowRISC/opentitan ***@***.***>
Date: Wednesday, April 7, 2021 at 2:25 PM
To: lowRISC/opentitan ***@***.***>
Cc: Igor Kouznetsov ***@***.***>, Mention ***@***.***>
Subject: Re: [lowRISC/opentitan] [i2c] Loopback test (#5753)

CAU

[2021-04-08 01:37] #5900 closed

[2021-04-08 02:23] moidx commented on #5982
I am enabling the block with AES enabled. The sequence of commands is as follows:

1. 0x000001c1 + 12 uint32_t (Instantiate)
2. 0x00000002 (Reseed)
3. 0x00004003 (Generate 4 x 128bit)

I have a verilator trace which I can try to share. Some quick observations:

*   `cmd_stage_ack[2:0]` seems to toggle at the end of each command.
*   `intrs_state.cmd_hw_inst_exec` seems to be set early in the boot

[2021-04-08 06:51] rswarbrick commented on #5985
OTBN done at #5993; rom_ctrl done at #5994.

[2021-04-08 07:01] rswarbrick opened #5995 "[dv] Testing for bus integrity errors"
It would probably be good to teach the TL agent to generate transactions that fail the ECC-based bus integrity checks. This will need some configuration at the block level too, because we want to check that this causes an alert in the expected way.

Let's make this issue track the work on the TL agent, plus some sort of configuration knob that allows the block-level testsuite to tell a generic tes

[2021-04-08 07:13] tjaychen commented on #5985
thanks Rupert!

On Wed, Apr 7, 2021 at 11:52 PM Rupert Swarbrick ***@***.***>
wrote:

[2021-04-08 08:05] rasmus-madsen commented on #5982
@mwbranstad we cannot do anything that requires superuser privileges.
but we do have ninja 1.10.2 installed
![image](https://user-images.githubusercontent.com/53917183/113990394-b4525680-9851-11eb-92d3-cba192761408.png)

@tjaychen  it looks like the meson_init scripts expects the riscV compiler to be located under /tools/
is this something specific to opentitan?
![image](https://user-images.github

[2021-04-08 08:11] rswarbrick commented on #5982
For the second point, you can override the toolchain path with TOOLCHAIN_PATH. For example, I've got it set to `/src/lr/tools/lowrisc-toolchain-gcc-rv32imc-20200504-1`. Set it and then run `meson_init.sh` and all should be well.

[2021-04-08 08:13] tjaychen commented on #5982
if you look [here](https://github.com/lowRISC/opentitan/blob/master/meson_init.sh#L58) you can see that there is a default that can also be overwritten by the user.

[2021-04-08 08:48] rasmus-madsen commented on #5982
@mwbranstad @tjaychen
I will see if I can get this going.
but I have some challenges with the symbolic link for cc that points to an old version of cc (4.6)
and I do not have permission to change it.

I will keep you posted

[2021-04-08 10:07] silvestrst opened #5996 "[mask_rom_lockdown] ePMP configuration handover from Silicon Creator to Silicon Owner"
# Introduction

The current thinking is that the necessary parts of the address space are unlocked gradually throughout the Secure Boot execution flow, where the next execution stage in chain is responsible for clearing the regions that are not needed anymore. This approach does not distinguish between Silicon Creator and Silicon Owner code, which mean that in an example jump from ROM_EXT to BL0,

[2021-04-08 10:24] silvestrst opened #5997 "[silicon_<creator, owner>] Interrupt vectors and exception handlers"
# Introduction

The current thinking is that after the jump/handover, there is a time period where the current executing stage will use interrupt vectors and handlers from the previous execution stage. For example in transition from MaskROM to ROM_EXT, until ROM_EXT CRT re-configures `mtvec` - in case of an exception the MaskROM exception handler will be executed.

This is also related to #5996 .

[2021-04-08 12:53] silvestrst opened #6003 "[mask_rom_lockdown] ePMP MMWP status in Tock for OpenTitan"
# Introduction

The current thinking is that an OpenTitan chip starts with the ePMP MMWP bit set (any access to the memory space that has not been explicitly granted by ePMP is denied). The implication is that this bit once set, cannot be unset.

Tock OS is Silicon Owner code kernel, and should be able to operate in ePMP MMWP mode.

# Questions

- How much Tock OS for OpenTitan is expected to dive

[2021-04-08 14:56] martin-lueker commented on #5982
Hi Rupert,
  This is interesting, though I'm trying to think if there is some way we can leverage this and still use the package manager.

@rasmus-madsen,
  I'm wondering if there might be a way to just install *all* the OT system deltas to a group directory, ie. with "yum --installroot /our/team/directory/" (Probably a big hog) or "rpm --relocate /our/team/directory/ -i  <OTRQDPKGs>".  This would

[2021-04-08 15:06] rasmus-madsen commented on #5982
@martin-lueker  I was thinking a bit along the same lines
I am working on resolving some other issues first.

[2021-04-08 15:21] imphil commented on #5982
@mwbranstad @rasmus-madsen There are no RPM packages for the RISC-V toolchain (they are binary archives only). The TOOLCHAIN_PATH is about the RISC-V toolchain.

The problem you're seeing is with the host toolchain. For this toolchain you can and should use RPMs provided by RHEL (or maybe your IT department). RHEL provides updated toolchains as part of their SCLs, for example.

I guess the easiest

[2021-04-08 16:06] alistair23 commented on #5810
Any updates? I checked today with the latest bitstream and I'm seeing lots of errors when trying to using GDB

[2021-04-08 16:12] tjaychen commented on #5810
did you get a chance to try Greg's suggestion of reducing the clock speed?

On Thu, Apr 8, 2021 at 9:07 AM Alistair Francis ***@***.***>
wrote:

[2021-04-08 16:15] alistair23 commented on #5810
Ah, sorry I missed that. I have tried reducing the clock speed OpenOCD uses but that didn't help.

[2021-04-08 16:24] rswarbrick commented on #5982
I agree with what @imphil said. However, since I understand that you guys use module files for your EDA tools, I don't think it would be particularly difficult to wrap up a lowRISC toolchain in a module file (which could then set TOOLCHAIN_PATH for you). I'd guess that your IT department have lots of experience of this sort of thing.

[2021-04-08 16:28] silvestrst opened #6009 "[CI, rust] Add Rust lint check to CI"
Although we are not yet building any rust code in CI, there is no reason why we shouldn't code formatting check.

[2021-04-08 16:28] silvestrst commented on #6009
@mcy @imphil for visibility

[2021-04-08 16:30] rasmus-madsen commented on #5982
the problem as I see it is that some of the RPMs that should be installed in with the OS are missing.
setting the toolchain_path is not a problem - not sure we want to set this with a module as that would make the toolchain shared by all users.

[2021-04-08 16:45] alistair23 commented on #6003
Hopefully very little :)

Right now Tock expects to be able to set all of the PMP config/addresses and then sets the `MML` bit. If the `MML` bit was already set this should be fine as long as Tock can edit all of the regions.

[2021-04-08 16:57] mwbranstad commented on #5982
@moidx I looked at the NIST test vectors briefly. This appears very interesting, in that we need to support this and it should confirm the RTL results. I will look into this further.

[2021-04-08 17:31] tjaychen opened #6011 "[doc] align pad_ctrl doc with new rtl"
see comments in #5992 from @imphil
Also change the multi-bit indication from `x/y` to `x-y`

[2021-04-08 21:30] cindychip commented on #5942
Close this as both DV and RTL aligned.

[2021-04-08 21:30] #5942 closed

[2021-04-09 01:57] cindychip commented on #5995
Thanks Rupert for bringing this up. Yes this will fit well with the entire alert automation plan.

[2021-04-09 02:16] tjaychen commented on #5995
I actually Weicai had written in a doc (can't remember where now) the
various steps to gradually enable this.

On Thu, Apr 8, 2021 at 6:58 PM cindychip ***@***.***> wrote:

[2021-04-09 04:31] weicaiyang commented on #5995
Thanks for bringing this up. yes, this is in my TODO list.

[2021-04-09 05:50] #6011 closed

[2021-04-09 17:57] tjaychen opened #6038 "[top] Enable secure ibex for asic variant"
With #6033, lock step cores are introduced.
We need to make sure the `SecureIbex` parameter is properly set in the asic variant (but probably not in FPGA for now).

[2021-04-09 17:57] tjaychen commented on #6038
@tomroberts-lowrisc
@imphil

[2021-04-09 17:57] moidx commented on #5771
@mcy @cfrantz

[2021-04-09 18:13] rswarbrick commented on #5771
Possibly wait on the padding until the rom_ctrl stuff is merged? Since we want to avoid padding with (and "encrypting") zeros, my scrambling script currently takes the ELF and adds a pseudo-random sequence to fill in the gaps. So, basically, I might have done the work already :-)

[2021-04-09 18:22] cdgori commented on #5771
We should probably have a quick cryptographic review of the padding scheme once it's done.  There's lots of weird edge cases there.

[2021-04-09 21:44] cfrantz opened #6041 "Discuss alert handler configuration"
I've requested we add a SW alert to alert handler in https://github.com/lowRISC/opentitan/issues/5896.

The alert handler documentation states that the ping timer won't start until the initial configuration is set and "locked in", which later (in Initialization step 4) implies write-locking the configuration registers.

This means in order to generate a SW alert in the ROM, I need to lock in an al

[2021-04-09 21:50] tjaychen opened #6042 "[pinmux/pad] Possible enhancements"
- Referencing #5984, it may not always be clear from usbdev's perspective whether a signal should be `pinmux` able or `inter-signal` able. If we make them all pinmuxable, it might make sense to be able in `top_earlgrey.hjson` decide which signal actually gets hooked up into `pinmux`.  This is already partially supported, but it is not on the actual module instantiation.

- Assuming we have this fu

[2021-04-09 21:59] tjaychen opened #6043 "[usbdev] revisit connections"
revisit usbdev connections one more time and make sure all the relevant signals are muxed correctly for production purposes.
There is an explicit split between `asic` and `fpga` right now, and we need to make sure that the `asic` side has all the functionality it needs.

- [ ] `sense` should be moved to a muxed pin that can be used in both `asic` and `fpga`.

See also #6042

[2021-04-09 21:59] tjaychen commented on #6043
@mdhayter

[2021-04-09 22:05] martin-lueker opened #6044 "[ pwm ] Pare down PWM CDC"
This recommendation comes from @msfschaffner in PR #5556

[2021-04-09 22:11] tjaychen commented on #6044
@martin-lueker another option we are going to propose soon is a split regfile.
Ie a module can have two regfiles, each corresponding to a different domain.  There are latency concerns, so ultimately it will be up to you to decide which makes sense.

On the parallel side though, we will probably also need to formalize a bit so we don't have too many splinter options.

[2021-04-09 22:14] martin-lueker opened #6046 "[ spi_host ] Discuss FIFO size requirements"
Question from #5936:   Do the spi_host FIFOs really need to be 256+ bytes large?   They can be refilled under interrupt control.  This is a question for the software team.

(FYI @tjaychen)

[2021-04-09 22:21] martin-lueker commented on #6044
I'm happy to execute Michael's option 1.  However if there is an option of putting a regfile in AON then really this whole IP can go there.  There is nothing in this IP that needs to be on the bus domain, not even an interrupt.

[2021-04-09 22:38] tjaychen commented on #6044
There's nothing stopping you really from putting an entire module onto the `aon` clock domain.
Putting the entire module there seems extreme though, but I can see it for something like pwm.

Does this mean you don't have any data or anything really you need to read back? It's pretty much configure in aon domain and let it go?

[2021-04-10 07:13] #4791 closed

[2021-04-10 07:28] #32 closed

[2021-04-10 07:40] moidx commented on #359
This is being tracked somewhere else now.

[2021-04-10 07:40] #359 closed

[2021-04-10 07:43] #417 closed

[2021-04-10 07:58] #1003 closed

[2021-04-10 15:09] #1329 closed

[2021-04-10 15:27] moidx commented on #1928
Can we promote a successful build?

[2021-04-10 15:32] moidx commented on #1964
Hi @bling206, not at the moment. We are currently working on the hw and lower firmware layers. We don't have a timeline yet on any reference code.

[2021-04-10 15:33] moidx commented on #1964
Please feel free to open if you have any other questions related to this issue. Thanks!

[2021-04-10 15:33] #1964 closed

[2021-04-10 15:53] moidx commented on #2947
Closing this issue as we are moving into implementation.

[2021-04-10 15:53] #2947 closed

[2021-04-10 16:05] moidx commented on #3931
Dup of #5761

[2021-04-10 16:05] #3931 closed

[2021-04-10 16:12] moidx commented on #4596
Please reopen the issue if you have any follow up questions in this topic. Thanks.

[2021-04-10 16:12] #4596 closed

[2021-04-12 07:47] tomroberts-lowrisc opened #6058 "[ibex] Add DFT override for shadow core reset"
As noted in #6033 we'll need some way of controlling the reset to the second lockstep core.

[2021-04-12 11:26] rswarbrick opened #6059 "[dv] Failing chip-level csr_rw tests"
Running 40 copies of this test with
[code]
on commit 1def47b gives a 60% pass rate.

Unfortunately this gates updates to add the real guts of `rom_ctrl` (because seed 1, used in CI, happens to start failing). The failures mostly seem to be ASSERT_KNOWN checks, but there are some others too. Here's the output from dvsim, but with triple back-ticks replaced by `'''`.
[code]

[2021-04-12 11:27] rswarbrick commented on #6059
I'm labelling this as a DV bug, because my guess is that we're just writing to registers that we shouldn't.

[2021-04-12 11:35] rswarbrick opened #6060 "[dvsim] Dubious csr_rw test dispatch for chip-level testing"
If you run
[code]
with commit 1def47b then you'll run 20 tests (good!). But they get reported like this:
[code]

Should this command have actually run 40 tests (where two different "name"d tests each use the same sequence)? Or is there something wrong with how we're reporting things?

@sriyerg: You can probably understand this the quickest: I suspect something's come a bit unstuck in dvsim.

[2021-04-12 11:47] rswarbrick opened #6061 "[dvsim] Ctrl-C now waits 10 seconds"
If you start a dvsim run and immediately hit Ctrl-C, you'll see something like this:
[code]

We used to stop immediately, but it seems that recent changes to the scheduler/launcher/dispatcher (I'm not sure which bit) have broken things.

@sriyerg: I think this was your change. Could you take a look and see whether there's something simple to fix things?

[2021-04-12 13:27] martin-lueker opened #6062 "[ dv, gpio ] GPIO agent injecting X's into cio_gpio_i"
This is an issue I discovered in #5557.   The CI private for this PR is failing because the IrqKnown_A assertion is failing in rv_plic, with X's coming in on a number of interrupts between 32 and 64, the GPIO interrupt block.  (Images below)

The source of this issue seems to be an X input to cio_gpio_i[31] from the relevant agent.   Should agents ever inject X's to GPIO inputs?

**Reproducing thi

[2021-04-12 13:52] rswarbrick commented on #6062
I think this might be the same problem as #6059. My suspicion is that something has gone wrong with recent pad control / pinmux changes. I'm doing a bit of digging now, but maybe @msfschaffner will have a clever idea when the day starts in the US.

[2021-04-12 15:01] rswarbrick commented on #6062
If you're in a hurry to get things working, a hacky work-around is to force the `jtag_tdo` signal to zero in the chip-level testbench.

[0001-chip-dv-Add-a-pull-down-to-jtag_tdo-to-chip-level-TB.patch](https://github.com/lowRISC/opentitan/files/6297706/0001-chip-dv-Add-a-pull-down-to-jtag_tdo-to-chip-level-TB.patch.txt)

[2021-04-12 15:22] martin-lueker commented on #6062
Thanks Rupert for the suggestion.  I can try that to at least see if that gets everything else out of the way.

[2021-04-12 15:59] rswarbrick commented on #4498
I think we can safely say that this is done :-D

[2021-04-12 15:59] #4498 closed

[2021-04-12 16:14] cindychip commented on #5833
Hello,

Thank you for raising this question. For DV testing, I have not tested on TOP_LEVEL, but I think JTAG works on LC_controller (i have a pending PR here for jtag driver updates： https://github.com/lowRISC/opentitan/pull/5439). Could you share more on what kind of error you see on Verilator?
@msf for visibility.

Cindy

[2021-04-12 16:18] cindychip commented on #5583
That is a good point, thanks Rupert for pointing it out. Yeah absolutely it will create a giant array. I will try generate a map in Python and use that for the size of `exp_val` as you recommended.

[2021-04-12 16:33] cfrantz commented on #1513
I've written a [Proposal Document](https://docs.google.com/document/d/16NRCDkNss_IbcyEkIjOFwQ7pKxdpGr6V3gqfwOElRek/edit#) which captures the technical details at the start of this bug.

[2021-04-12 16:33] cindychip commented on #5297
I like this one too, Thanks for suggesting this! For modules that have many registers, it is browse them all.
I agree with Rupert that we maybe can remove the `uart` title, but i think the `length` might be useful to show memory size?

[2021-04-12 16:36] cindychip commented on #4895
Hi @vogelpi! Just want to follow up on this:

Have you implemented this already? I just want to double check to make sure I did not miss your PR.

Thanks,
Cindy

[2021-04-12 16:39] moidx commented on #6041
For initial bringup, it is recommended to set the alert configuration in OTP.

Is it possible to gradually lock down alert enablement? In case we want MaskROM to enforce certain alerts, and then delay further configuration in the ROM_EXT?

[2021-04-12 16:55] cfrantz commented on #6041
[Initialization](https://docs.opentitan.org/hw/ip/alert_handler/doc/#initialization) step 4 says one must write-lock the registers to enable the ping timer (and thus, I assume, any alert manager activities like escalations).

In order to support a gradual lockdown, I think we'd want to separate enable and register-locking.  If we were to do that, we could have Mask ROM turn on the alerts it cares

[2021-04-12 16:57] chenc6 commented on #5690
Hi @luismarques,
Thank you for your suggestions. I think running a subset of firmware is exactly what I want to do.

May I know how should I disable those IO and UART relevant registers, or how should I modify the firmware to what I want?

Also, it seems like each time the spike can only emulate one elf file, however, opentitan requires three files (bootrom, flash, otp) to simulate properly. Could

[2021-04-12 17:20] eunchan opened #6069 "[kmac] Make entropy valid in reset state."
ROM_CTRL sends SHA3/cSHAKE operations through KMAC Application Interface when no SW is loaded. It is to verify ROM code is genuine and not corrupted.

Current KMAC requires some SW configurations to run the module. Need to check the CSRs and revise the design to use pre-defined value right out of reset.

**To Be Added to the list**

- [ ] `CFG.entropy_ready`: Make `rand_valid` to 1 and send garbag

[2021-04-12 17:36] vogelpi commented on #4895
Hey @cindychip ,
the corresponding PR (#4909) got merged quite a while ago. Sorry, I didn't ping you in here, but just in the PR.

The behavior of the two alerts is as described initially:
- `recov` fires for just one clock cycle. The corresponding status bit in the STATUS register remains high until the next write to the shadow register occurs. This second part (keep status big asserted until nex

[2021-04-12 17:46] cindychip commented on #4895
Thanks @vogelpi for getting back to me! I think the AES sides should be good as well. I am just reviewing this issue and see if i missed anything. The status register checking is covered in the shadow_reg_err sequence.
I will close this PR since all the updates are covered in the `shadow_reg_errors` sequence.
Please feel free to open it again if you find anything missing :)

Thanks,
Cindy

[2021-04-12 17:46] #4895 closed

[2021-04-12 17:58] msfschaffner commented on #6062
Hi @martin-lueker / @rswarbrick, thanks for reporting this!
This is likely a side effect of the recent structural pinmux/padctrl updates.
I will take a closer look.

[2021-04-12 18:00] martin-lueker commented on #6062
Update: This also fixes smoke test locally.   So this is a good sign that fixing this will unjam #5557

[2021-04-12 20:09] mwbranstad commented on #5982
"I am enabling the block with AES enabled. The sequence of commands is as follows:

0x000001c1 + 12 uint32_t (Instantiate)
0x00000002 (Reseed)
0x00004003 (Generate 4 x 128bit)
I have a verilator trace which I can try to share. Some quick observations:

cmd_stage_ack[2:0] seems to toggle at the end of each command.
intrs_state.cmd_hw_inst_exec seems to be set early in the boot flow. I haven't looke

[2021-04-12 21:19] msfschaffner commented on #6062
Sorry for the late reply.

This is something I have noticed as well as part of a different PR I was working on:
https://github.com/lowRISC/opentitan/pull/6045

That PR fixes this testbench issue by inserting weak pulls - but we have not yet merged it in.
Let me do that ASAP - that should address both this issue and  #6059.

[2021-04-12 21:30] tjaychen commented on #6041
yeah i think separate enable / locking would be possible, but we'd have to
see how that maps to the classes though... because that might not be so
easily differentiated.

On Mon, Apr 12, 2021 at 9:56 AM cfrantz ***@***.***> wrote:

[2021-04-12 22:35] #5555 closed

[2021-04-12 22:36] #5450 closed

[2021-04-12 22:37] tjaychen commented on #5592
`dif_pwrmgr_somketest` has been added.

[2021-04-12 22:41] tjaychen commented on #5896
@msfschaffner
since we have to add a `device` module for ibex to capture all of its alerts for forwarding, I'm thinking we can add the software triggered alerts there as well.  That way we don't have to change anything about the existing `alert_handler`, other than expand the number of connections.

[2021-04-12 22:42] #5592 closed

[2021-04-12 22:43] #4899 closed

[2021-04-12 22:47] tjaychen commented on #5497
That seems like a reasonable thing to do.  @msfschaffner in your mind, is there any reason we would ever configure only one of the partitions to error, but the other does not (for example we explicitly tell it not to in the alert handler).  It does kind of feel like if one partition has gone wrong, the whole thing is probably at risk.   Let me think a bit on this also.

@cdgori

[2021-04-12 22:47] msfschaffner commented on #5896
Good idea, That sounds good to me!

On Mon, Apr 12, 2021 at 3:42 PM tjaychen ***@***.***> wrote:

[2021-04-12 23:02] msfschaffner commented on #5497
OK, let me investigate how easy this would be to add.

[2021-04-12 23:18] msfschaffner commented on #6062
@martin-lueker, @rswarbrick
The PR has landed.
Can you rebase and try whether it resolves the issue on your end?

[2021-04-12 23:20] martin-lueker commented on #6062
Will do!

[2021-04-12 23:39] msfschaffner commented on #5497
I think I have found a relatively localized fix that achieves what we want: #6077

[2021-04-13 00:41] martin-lueker commented on #6062
Well, I now have a different error at least:
[code]
I'll have to dig a bit deeper after dinner.

[2021-04-13 01:05] msfschaffner commented on #5833
Hi @sajjadahmed677,

Thanks for trying out OpenTitan.
As described in the documentation, it is indeed possible to connect to OpenTitan via OpenOCD/GDB:
https://docs.opentitan.org/doc/ug/getting_started_verilator/

However, the programs are executed from the embedded flash, and **write** accesses to the flash memory are not memory mapped. That means that a special SW driver is be needed on the devi

[2021-04-13 01:07] tjaychen commented on #5833
yeah that's right. Flash cannot be directly written via memory map.
You can take a look at sw/device/lib/flash_ctrl.c to get an idea how to
actually write to it.

Although, you should be able to load the program into sram and execute from
there if that's what you want.
How does load program decide where to write..? sorry i'm not too familiar
with this area.

On Mon, Apr 12, 2021 at 6:05 PM Michael

[2021-04-13 08:00] tomroberts-lowrisc commented on #5882
Sorry I didn't get to this earlier!
`no_auto_intr_regs: "true"` is set deliberately to avoid generating the interrupt enable registers. For both timers, we don't need a mechanism to disable interrupts (that's all the module does). Also, for the watchdog timer we definitely can't have an auto-generated enable that isn't locked (defeats the point of the lock).

[2021-04-13 08:23] silvestrst commented on #5882
@tomroberts-lowrisc thanks! I think we might be misusing this flag in SW for common interrupts generation, but that's a different story.

[2021-04-13 08:23] #5882 closed

[2021-04-13 10:05] #5733 closed

[2021-04-13 10:35] imphil commented on #5337
Done as part of #5939

[2021-04-13 10:35] #5337 closed

[2021-04-13 10:36] imphil commented on #5732
Fixed in #6000

[2021-04-13 10:36] #5732 closed

[2021-04-13 14:21] luismarques commented on #5690
If the answer to those questions isn't relatively straightforward for you to answer, perhaps Alistair's suggestion of using QEMU is a better fit for your situation? It already implements the appropriate OpenTitan machine model.

[2021-04-13 15:50] GregAC opened #6082 "[otbn] Use Entropy Src/EDN/CSRNG DIFs in OTBN tests"
The OTBN smoke test and RSA/ECDSA tests contain direct register writes to setup the entropy src, EDN and CSRNG. These should be replaced with DIF usage when the DIF is available.

[2021-04-13 15:54] GregAC commented on #6082
Initial DIFs are available for entropy SRC and CSRNG but not EDN

[2021-04-13 16:00] GregAC opened #6083 "[otbn] Choose a final LFSR structure for URND"
The current URND implementation is taken from the AES blocks LFSR implementation for masking. It uses 4  Galois XOR LFSRs (64 bits each) with some final scrambling provided by an SBox. URND required for OTBN must be carefully evaluated and a final URND implementation chosen to meet them.

Scope: PR with RTL for new PRNG block, replacing the current setup in OTBN for URND, ask Michael to do a synth

[2021-04-13 16:00] mwbranstad opened #6084 "[entropy_src/rtl] optional new drop points when entropy overflows FIFOs"
Requirements have changed such that the drop point where new entropy cannot be consumed by entropy_src should be changed. A proposal would be to make this selectable (config bits). The choices would be the current input to the FIFO chain, the tail of the final FIFO (keep prior entropy seeds), and the head of the final FIFO (always push old entropy seeds out).

The attached diagram shows where thes

[2021-04-13 16:07] mwbranstad opened #6085 "[entropy_src/rtl] add a startup phase for health testing with its set of window and threshold regs"
The requirements for the startup health tests appear to be different from the continuous health test phases. For this reason, an extra set of threshold registers and a new window registers need to be added. With these new values, the hardware sequencer can choose between the boot phase, the startup phase, and the continuous phase.

The attached diagram shows the health test phases and what the new

[2021-04-13 16:20] mwbranstad opened #6086 "[entropy_src/rtl] move the fw FIFO out of the main path for simplicity"
The firmware override path currently has a FIFO buffer in the mainline path. This FIFO is not needed for the main hardware only path of operation. Because of this construction, there are extra controls required, and some unnecessary limitations.

A new proposal is to move the FIFO out on its own path. Also, the depth of the FIFO will be made available to the firmware, with a comparison register to

[2021-04-13 16:23] mwbranstad commented on #6086
For entropy meeting discussion: @tjaychen @martin-lueker @cdgori @felixmiller @moidx

[2021-04-13 16:23] mwbranstad commented on #6085
For entropy meeting discussion: @tjaychen @martin-lueker @cdgori @felixmiller @moidx

[2021-04-13 16:24] mwbranstad commented on #6084
For entropy meeting discussion: @tjaychen @martin-lueker @cdgori @felixmiller @moidx

[2021-04-13 16:25] mwbranstad commented on #6084
forget @senelson7 @zi-v

[2021-04-13 16:25] mwbranstad commented on #6085
forget @senelson7 @zi-v

[2021-04-13 16:25] mwbranstad commented on #6086
forget @senelson7 @zi-v

[2021-04-13 18:56] tjaychen commented on #6038
Fixed in #6074

[2021-04-13 18:56] #6038 closed

[2021-04-13 18:57] tjaychen commented on #5753
thanks @igk8 .

Feel free to close this issue once the loopback function is merged.

[2021-04-13 18:58] tjaychen commented on #5566
Fixed in #5759 and #5891

[2021-04-13 18:58] #5566 closed

[2021-04-13 18:59] tjaychen commented on #5185
this issue should be resolved through memory init.

[2021-04-13 18:59] #5185 closed

[2021-04-13 19:02] tjaychen commented on #381
@msfschaffner i think everyone described here has been implemented in some way.
What do you think? Feel free to close the issue.

[2021-04-13 20:33] cindychip opened #6089 "[dv/alert_sender] Add more support to common alert checking sequence"
This PR tracks what need to be add to alert common sequence (mainly alert_test, which is a one time alert, not fatal):

- [ ] Add ping request, and ensure if ping request comes with alert_handshake, alert_sender should send another alert request. And add functional coverage.
- [ ] Add signal integrity fail, ensure alert handshake will stay high. And add function coverage.

[2021-04-13 20:50] mwbranstad commented on #6086
Meeting review consensus was that this change is good and should be implemented.

[2021-04-13 20:55] mwbranstad commented on #6085
Meeting review was that the current thresholds and window register should be re-programmed when transitioning from startup phase to continuous checking phase. This means less registers and documentation updates. However, to make this work, the stop/start feature is needed, and probably a per transaction register lock function.

[2021-04-13 20:56] mwbranstad commented on #6084
Meeting consensus was that this should not be programmable, but rather just fixed, and that option #2 was preferred. Since this is trivial, that will be the direction of this issue.

[2021-04-13 20:59] mwbranstad commented on #5941
Meeting consensus was that this issue will also need a transactional register lock function, versus the current software global lock.

[2021-04-13 21:38] moidx commented on #5947
CC @cfrantz @alphan @cdgori @felixmiller

[2021-04-13 23:58] msfschaffner commented on #381
Indeed, this one can be closed down. Thanks!

[2021-04-13 23:58] #381 closed

[2021-04-14 13:44] vogelpi opened #6097 "[syn] Add and adjust DC primitives for pim_xor2, prim_flop_en and prim_buf"
With #6037, we've added generic and Xilinx-specific primitives `prim_xor2` and `prim_flop_en` and we've added a width parameter to the `prim_buf` primitives. The same primitives need to be created for DC and `prim_buf` needs to be adjusted accordingly.

This is related to #4238.

[2021-04-14 14:11] imphil opened #6098 "[dvsim] Error messages on STDOUT got less useful"
It seems that with 76caf9ac8c8b4a416422f75c3317e0fbf6cf1a7f/#6015 being merged the output of dvsim got significantly less useful to debug errors. Here's an example where the vcs command was not found.

[code]

Today (0e8660b15f0f27bfbadc7dacfd0aae0542be3b0e)
[code]

Before (9312b9e529636114dc33dbd2937b489fe338af98):

[code]

[2021-04-14 14:24] rswarbrick commented on #6062
Success! Thanks.

[2021-04-14 14:53] rswarbrick commented on #6059
Looks like this was fixed by commit 68c733c01 (part of PR #6045). Thanks, @msfschaffner!

[2021-04-14 14:53] #6059 closed

[2021-04-14 16:23] martin-lueker commented on #6062
I think it has fixed my problem, I'm no longer seeing IrqKnown assertions.  Thank you Michael!
Unfortunately I'm now having issues that are completely mystifying me.  Though I think we can close this issue.

[2021-04-14 16:34] #6062 closed

[2021-04-14 16:49] matutem commented on #6098
Sorry for the inconvenience. In the process of getting failures classified for triage the extra lines in the log were removed, but we intend to put them back shortly.

[2021-04-14 16:50] sriyerg commented on #6098
This is easily fixed. PR coming soon.

[2021-04-14 17:02] msfschaffner opened #6102 "[pinmux/padctrl] Update and merge pinmux and padctrl documentation"
Split out from https://github.com/lowRISC/opentitan/issues/5221.

- [ ] Update and merge pinmux and padctrl documentation
- [ ] Automatically generate pinmux documentation tables

[2021-04-14 17:03] msfschaffner opened #6103 "[Verilator] Split top_*_verilator into testbench and chip-level module"
Split out from https://github.com/lowRISC/opentitan/issues/5221.

- [ ] Split the Verilator top into a Verilator chip-level module (with padring and etc.) and a separate Verilator testbench.
- [ ] Re-enable Verilator JTAG DPI

[2021-04-14 17:04] msfschaffner commented on #5221
I've split out the remaining low-prio tasks as separate issues, such that we can close this one down.

[2021-04-14 17:04] #5221 closed

[2021-04-14 17:31] matutem opened #6104 "[ip/clkmgr] clkmgr is missing devmode input."
Apparently this is an omission, but it is required to have one.

[2021-04-14 20:40] moidx opened #6107 "[sw] Move unittests next to the module under test"
This makes unittest maintenance more intuitive.

Example:

[code]

Currently, this is what we have:

[code]

[2021-04-14 21:35] matutem commented on #6098
I intend to commit the following changes:

*   For failures with non-zero exit code the last 10 lines of the log are also shown.
*   For build failures the 10 lines starting at the error are also shown, since we typically have one build per dvsim run.
*   For run failures we keep the messages as they are, since failures are bucketized.

[2021-04-14 21:39] tjaychen opened #6108 "[alert_handler] Enhancements for mask ROM"
Mask ROM will activate a subset of alerts as part of its boot-up and shutdown procedure.
As a result of this, we need more fine grained control over how the alert handler can be locked and configured.

Specifically

- Alert enable and assignment to classes need to be individually lockable
- The configurations for a particular class need to be individually lockable
- The enabling of the alert mecha

[2021-04-14 21:46] tjaychen opened #6109 "[flash_ctrl] Initialization after boot"
Currently, the flash is initialized directly through the `pwrmgr`.  However this creates a sequencing problem.
One of the first things that the flash controller does during initialization is to request the scrambling key from otp_ctrl.

This process requires real entropy (the fallback random key when integrity errors are detected).  This means if the entropy complex (ast, entropy_src, csrng, edn)

[2021-04-14 21:47] tjaychen commented on #6109
FYI
@mwbranstad
@msfschaffner
@cfrantz
@moidx

[2021-04-14 21:50] moidx commented on #843
Closing this as we are currently using a vendored in library from the chromeos project.

[2021-04-14 21:50] #843 closed

[2021-04-15 00:45] moidx opened #6112 "[sw/device] Consider adding base/math.h"
This is a follow of PR [lowrisc/opentitan#5973]. The sw/device codebase has many instances of ad-hoc rounding and alignment operations. This issue is to track the introduction of a math module providing a canonical implementation of such functions.

[2021-04-15 05:53] moidx opened #6117 "[sw] Coverage build configuration is broken due to missing `sw_lib_uart`"
1. Switch coverage dependencies to use `dif_uart`.
2. Enable coverage in CI

See also lowrisc/opentitan#3155

[2021-04-15 07:44] #6098 closed

[2021-04-15 08:16] imphil commented on #6117
I had a fix for that around for a while and pushed it now to https://github.com/lowRISC/opentitan/pull/6120. The coverage in CI is tracked in #3155 I guess.

[2021-04-15 08:17] imphil commented on #3155
For coverage in CI (on FPGAs), the main work item is producing two software builds, one with coverage and one without. We can then run the ones with coverage through the systemtest machinery and fetch the coverage data afterwards. Not hard, just a bit of work.

[2021-04-15 12:06] rasmus-madsen opened #6121 "DVSIM suggestions for output after the latest updates"
in the next DV meeting it would be relevant to go over the latest updates of DVsim and the reason behind it.
as I actually feel they make dvsim less user friendly than before and would like to know the motivation for the changes.
we could also use this as a good segue into a talk about what we would like from dvsim.

some of the thought I have are:

-  the latest updates that always put the scratc

[2021-04-15 12:27] senelson7 commented on #6121
Well at least for the first bullet, I like the scratch being in the root so I can delete all the logs in one place (ie by removing single scratch directory). But I always run from root so just my opinion.

[2021-04-15 14:54] rasmus-madsen commented on #6121
but if you run from root this was always the case!

[2021-04-15 15:10] moidx commented on #6117
Thanks @imphil!

[2021-04-15 16:08] wxz1003083273 opened #6122 "Key 'cores' not found in GAPI structure. Install a compatible version with 'pip3 install --user -r python-requirements.txt'."
the following cmd is what i run, i just can not run the test, i am very confused, who knows what the problem is, help me please~

[xiaotu@xiaotu-eda ~/Desktop/work/git_test/opentitan]$pip3 install --user -U -r python-requirements.txt
Collecting fusesoc>=1.11.0
  Cloning https://hub.fastgit.org/lowRISC/fusesoc.git (to revision ot) to /tmp/pip-install-lrrps_3d/fusesoc_cb2252644cc04b66ac23a56c5d185ea

[2021-04-15 16:13] wxz1003083273 commented on #6122
@imphil

[2021-04-15 16:16] imphil commented on #6122
OpenTitan uses a modified version of fusesoc. Ensure you run pip with python-requirements.txt, e.g. `pip3 install --user -r python-requirements.txt` See https://docs.opentitan.org/doc/ug/install_instructions/#system-preparation for full system requirements.

[2021-04-15 17:39] tjaychen opened #6126 "[top] update documentation"
Update `top_earlgrey/doc/_index.md` with relevant top level information. Such as

- [ ] how alert escalation is handled
- [ ] how sram execution is handled
- [ ] what modules are connected for wakeup / reset request
- [ ] updated memory map
- [ ] what modules are always on

This list goes on.

[2021-04-15 17:40] tjaychen commented on #6126
@dsandrs
@cfrantz
@moidx
@imphil
@rswarbrick
@GregAC
@tomroberts-lowrisc
@cdgori

[2021-04-15 17:47] tjaychen opened #6127 "[entropy, sw] restore entropy_smoketest in CI"
Now that #6105 is in, we have a reliable way to disable and re-enable `entropy_src`.
This should mean now the `entropy_smoketest` can create reliable outputs when given a specific seed.

Update the test and re-enable in CI.

[2021-04-15 17:48] tjaychen commented on #6127
@mwbranstad
@senelson7

FYI

[2021-04-15 19:38] eunchan commented on #4937
CC: @tjaychen @eunchan

Either waive it in DC or change all of them to localparam is fine to me.

[2021-04-15 19:41] tjaychen commented on #4937
i'm fine with changing all to localparam as well.
I probably prefer that solution.

On Thu, Apr 15, 2021 at 12:38 PM Eunchan Kim ***@***.***>
wrote:

[2021-04-15 20:41] matutem commented on #6098
The fix is a bit different than described here: we will add 5 lines of context for all detected failures, similar how we
used to show failures prior to the bucketizer change. Failures with non-zero exit code still get 10 lines of context.

[2021-04-16 01:11] msfschaffner commented on #4937
I have no strong preference - both solutions sound good to me (although changing all to localparam is maybe a bit more invasive at this point).

[2021-04-16 05:07] moidx opened #6137 "[sw/dif] Move to unified error space"
Similar to discussions on MaskROM,  consider creating an unified error space for the DIFs. As an intermediate step limit the error space to a global scope per DIF to make the interfaces more ergonomic.

[2021-04-16 05:40] moidx commented on #6137
I will take a first pass at `sw/device/lib/dif/dif_aes.h` as a POC.

[2021-04-16 07:07] rswarbrick commented on #6121
My only comment is that dvsim has grown a lot of features and I don't think I'd propose adding yet another. So my suggestion for the "analyze" option you mention is that we just print out the path to the dumped wave file. The user can probably copy and paste and add "dve" or whatever to the front of the command line. That way, dvsim doesn't need to know or care what viewer they are using.

[2021-04-16 11:02] sajjadahmed677 commented on #5833
Thank you all for your response!
the syntax of command that i am trying to run is as
```load filename offset```
we know that gdb reads symbols from elf file so if i give offset in this command it will add the offset value to the base address that is defined in elf file and load the file into that address.
i have tried this command on opentitan but as you mentioned flash is not physically writable

[2021-04-16 11:15] wxz1003083273 commented on #6122
i do run the cmd "**pip3 install --user -U -r python-requirements.txt**" and it runs well but get an warning below,
**WARNING: Requested fusesoc>=1.11.0 from git+https://hub.fastgit.org/lowRISC/fusesoc.git@ot#egg=fusesoc >= 1.11.0 (from -r python-requirements.txt (line 30)), but installing version 1.11.dev57+g1fb8c93**
then i run fusesoc --version, it is **1.11.dev57+g1fb8c93**

[2021-04-16 11:17] wxz1003083273 commented on #6122
and i see lowRISC the newest tag of fusesoc is 1.10.0, there is not 1.11.0 version

[2021-04-16 14:34] rasmus-madsen commented on #5652
@weicaiyang @sriyerg @rswarbrick @cindychip @tunghoang290780 @senelson7
@cindychip alert document https://docs.google.com/document/d/1_BJQDxdyKR-tVncHPUSZqlWknUmGR1EHONGYjw1LfMQ/edit?usp=sharing

presents one way of forcing signals - designed by @weicaiyang which involving creating an interface and adding it to the config object such that the sequences can reach it.
take a look here:
https://githu

[2021-04-16 15:21] imphil opened #6147 "[otbn] Document/provide a way to issue alerts from OTBN software"
OTBN software can sometimes detect invalid conditions and could want to raise an alert as consequence. Think of it like support for `assert()` in OTBN software.

We do have a number of ways to to raise such an alert currently (insert an invalid instruction, access an invalid memory address, etc.), but maybe we want to something like a "software alert" that is either fatal or recoverable?

Even if

[2021-04-16 15:25] imphil opened #6148 "[otbn] Provide Ibex-based test for secure boot RSA implementation"
With #6132 we have a tailored RSA implementation for boot verification. Write a test similar to the RSA test we have currently that runs on Ibex and triggers the RSA routine on OTBN.

[2021-04-16 18:17] sriyerg opened #6152 "[dvsim] Disallow --max-parallel to be set if local launcher is not chosen"
Related comment thread:
https://github.com/lowRISC/opentitan/pull/6133/files#r614704220

[2021-04-16 21:49] moidx commented on #6137
This issue supersedes the discussion in lowrisc/opentitan#1911.

[2021-04-18 13:48] NoamGottlieb opened #6161 "DFT – In ibex_lockstep block rst_shadow_set_q reset should be controlled in scan-mode"
rst_shadow_set_q affecting 1814 FFs. In scan mode it is not controlled, hence these FFs are removed from scan.
SpyGlass message: 'chip_earlgrey_asic.top_earlgrey.u_rv_core_ibex.u_core.\gen_lockstep.u_ibex_lockstep .rst_shadow_set_q' is not disabled for 1814 flip-flop(s)
ibex_lockstep.sv file, line 117: rst_shadow_set_q <= rst_shadow_set_d;
![image](https://user-images.githubusercontent.com/7925645

[2021-04-18 13:49] NoamGottlieb commented on #6161
@tjaychen
@msfschaffner
@tomroberts-lowrisc

[2021-04-18 13:50] NoamGottlieb commented on #6161
@arnonsha

[2021-04-19 05:11] weicaiyang commented on #5652
thanks for summarizing this.
One advantage of using an interface to do `force` is that it will be a compile error when the path is wrong. And we can catch it in CI as we compile the entire TB. I already created `keymgr_if` for handling all kinds of HW secret inputs. Putting the force statement in that interface is also very nature.
I understand  UVM_HDL sometimes is super useful. Since the input i

[2021-04-19 08:16] silvestrst commented on #6137
Should we keep existing DIFs as they are? Otherwise it potentially could be fair amount of work to switch them all to bools or ints.

[2021-04-19 08:19] silvestrst commented on #6137
Sounds like a good idea, that (or unix like error codes) was always my preference.

[2021-04-19 08:57] imphil commented on #5726
Status update here: I put together half a presentation with CFI basics and an overview of the "Protecting the Control Flow of Embedded Processors against Fault Attacks" paper. To explore further what kind of performance impact we'll get I'm porting the statistics collection code from the old simulator to the new one with a PR expected soon.

[2021-04-19 08:58] imphil commented on #5960
Fixed in #6132

[2021-04-19 08:58] #5960 closed

[2021-04-19 08:59] imphil commented on #2638
Implemented in #5470

[2021-04-19 08:59] #2638 closed

[2021-04-19 09:18] GregAC opened #6164 "[otbn] Implement StandaloneSim class for ISS"
`OTBNSim` contains a method `run` to run a simulation to completion. In particular it contains some code to provide the ISS with bits for RND when they are requested.

It would be preferable for `OTBNSim` to remain the 'core' of the simulator and convenience methods for standalone running to live elsewhere. One possibility is a new `StandaloneSim` class. We don't just want to move the implementati

[2021-04-19 09:21] GregAC opened #6165 "[otbn] Implement EDN agent for OTBN testbench"
Within the OTBN UVM testbench a mock EDN is used that just returns fixed data immediately when it is requested. This should be replaced with a proper agent that returns varying data with random delays.

[2021-04-19 09:21] imphil commented on #4836
I'm assuming this issue is resolved. Please re-open or create a new issue for follow-ups.

[2021-04-19 09:21] #4836 closed

[2021-04-19 09:22] imphil commented on #4821
That's resolved now with waivers.

[2021-04-19 09:22] #4821 closed

[2021-04-19 09:24] #4202 closed

[2021-04-19 09:29] imphil commented on #4133
Instruction memory clearing/wiping will be covered by the security feature `OTBN.H.SEC_WIPE_IMEM`, which can be triggered separately from other wiping functionality (according to current plans). This gives SW developers to clear IMEM on demand cheaply/with hardware support.

[2021-04-19 09:29] #4133 closed

[2021-04-19 09:38] imphil opened #6167 "[tracking] [OTBN.H.REG_INTEGRITY] Register file with integrity protection"
This is a tracking issue covering all aspects of specification and implementation for the feature. Please link to/comment in separate issues for subtasks.

* [x] Document/specify feature in OTBN documentation: #4007
* [x] Implementation: #6186
* [ ] Design Verification: #6188
* [x] DIF/host SW (not necessary, feature transparent to SW)

[2021-04-19 09:41] imphil opened #6168 "[tracking] [OTBN.H.DMEM_INTEGRITY] Data memory with integrity protection"
This is a tracking issue covering all aspects of specification and implementation for the feature. Please link to/comment in separate issues for subtasks.

* [x] Document/specify feature in OTBN documentation: #6469
* [x] Implementation: #6421
* [x] Design Verification #8991, #8990
* [x] DIF/host SW (waived; feature is transparent to software)

[2021-04-19 09:42] imphil opened #6169 "[tracking] [OTBN.H.DMEM_SCRAMBLING] Data memory scrambling"
This is a tracking issue covering all aspects of specification and implementation for the feature. Please link to/comment in separate issues for subtasks.

* [x] Document/specify feature in OTBN documentation: #6469
* [x] Implementation: #6420
* [ ] Design Verification
* [x] DIF/host SW (if necessary)

[2021-04-19 09:47] imphil opened #6170 "[tracking] [OTBN.H.IMEM_INTEGRITY] Instruction memory with integrity protection"
This is a tracking issue covering all aspects of specification and implementation for the feature. Please link to/comment in separate issues for subtasks.

* [x] Document/specify feature in OTBN documentation: #6469
* [x] Implementation: #6422
* [ ] Design Verification
* [x] DIF/host SW (waived; feature is transparent to software)

[2021-04-19 09:48] imphil opened #6171 "[tracking] [OTBN.H.IMEM_SCRAMBLING] Instruction memory scrambling"
This is a tracking issue covering all aspects of specification and implementation for the feature. Please link to/comment in separate issues for subtasks.

* [x] Document/specify feature in OTBN documentation: #6469
* [x] Implementation
* [ ] Design Verification
* [x] DIF/host SW (if necessary)

[2021-04-19 09:52] imphil opened #6172 "[tracking] [OTBN.H.STATEHARDENING] State Hardening"
This is a tracking issue covering all aspects of specification and implementation for the feature. Please link to/comment in separate issues for subtasks.

* [ ] Document/specify feature in OTBN documentation
* [ ] Implementation
* [ ] Design Verification
* [ ] DIF/host SW (if necessary)

[2021-04-19 09:55] imphil opened #6173 "[tracking] [OTBN.H.SEC_WIPE_*] State wiping"
This is a tracking issue covering all aspects of specification and implementation for the feature. Please link to/comment in separate issues for subtasks.

This issue tracks collective progress on the features OTBN.H.SEC_WIPE_FULL, OTBN.H.SEC_WIPE_DMEM, OTBN.H.SEC_WIPE_IMEM, and OTBN.H.SEC_WIPE_INTERNAL.

* [x] Document/specify feature in OTBN documentation: https://github.com/lowRISC/opentitan/is

[2021-04-19 09:57] imphil opened #6174 "[tracking] [OTBN.H.BLANKING] Blanking unused data and control paths"
This is a tracking issue covering all aspects of specification and implementation for the feature. Please link to/comment in separate issues for subtasks.

* [ ] Document/specify feature in OTBN documentation
* [ ] Implementation
* [ ] Design Verification
* [x] DIF/host SW (transparent to SW)

[2021-04-19 09:57] felixmiller commented on #3191
Given the first results from P-384 signature generation it seems less likely that we will do anything about this.

[2021-04-19 10:02] imphil opened #6175 "[tracking] [OTBN.H.IMEM_LOAD_INTEGRITY] Checksum data loaded into instruction memory"
This is a tracking issue covering all aspects of specification and implementation for the feature. Please link to/comment in separate issues for subtasks.

* [x] #8503
* [x] #9221
* [x] #9402
* [ ] DIF/host SW (if necessary)

[2021-04-19 10:03] imphil opened #6176 "[tracking] [OTBN.H.INSTR_COUNT] Provide an instruction count to host software"
This is a tracking issue covering all aspects of specification and implementation for the feature. Please link to/comment in separate issues for subtasks.

* [x] Document/specify feature in OTBN documentation: Add a line to the list of security features
* [x] Implementation: #6687
* [x] Design Verification: https://github.com/lowRISC/opentitan/issues/6567
* [x] DIF/host SW (if necessary): #6883

[2021-04-19 10:04] felixmiller opened #6177 "[otbn] move P-384 curve domain parameters to lib"
Currently the domain parameters are loaded to dmem externally or by the test assembly. Since the P-384 lib is a specific implementation for this curve, the parameters can be moved as constants to the `.data` section of `p384.s`.

[2021-04-19 10:05] imphil opened #6178 "[tracking] [OTBN.H.CFI] Instruction/Control Flow Integrity"
This is a tracking issue covering all aspects of specification and implementation for the feature. Please link to/comment in separate issues for subtasks.

* [ ] Document/specify feature in OTBN documentation
* [ ] Implementation
* [ ] Design Verification
* [ ] DIF/host SW (if necessary)

[2021-04-19 10:06] imphil opened #6179 "[tracking] [OTBN.H.DOUBLE_DECODE] Duplicate the instruction decoder"
This is a tracking issue covering all aspects of specification and implementation for the feature. Please link to/comment in separate issues for subtasks.

* [ ] Document/specify feature in OTBN documentation
* [ ] Implementation
* [ ] Design Verification
* [x] DIF/host SW (waived; transparent to SW)

[2021-04-19 10:07] felixmiller commented on #2856
ECDSA sign: 17.9 ms on OTBN @ 100Mhz

[2021-04-19 10:20] felixmiller opened #6181 "[otbn] handle data sections of multiple assembly inputs"
So far we supplied constants and input data only in the self-contained test assembly (e.g. [here](https://github.com/lowRISC/opentitan/blob/master/sw/otbn/code-snippets/p384_scalar_mult_test.s#L65)) or some wrapper assembly containing the entry point that is called by SW (e.g. [here](https://github.com/lowRISC/opentitan/blob/master/sw/otbn/code-snippets/rsa.s)).

With EC crypto we have now the iss

[2021-04-19 10:21] felixmiller commented on #6181
@imphil
@rswarbrick

[2021-04-19 11:31] Bjerkk commented on #5859
I have a follow-up question about how the different components interact during signature verification of a ROM_ext manifest. As far as I understand the OTBN performs the RSA algorithm on the public key (modulus and exponent) and image code of the ROM_ext manifest. However, I can also see that the HMAC module is used during signature verification on the following link: [Secure Boot Process](https:/

[2021-04-19 11:46] rasmus-madsen commented on #5652
@weicaiyang in my small example I have a check to see if the path exists using  uvm_hdl_check_path
[code]

but I guess one could just check the response of the force!

[2021-04-19 11:55] rswarbrick commented on #5652
I think that maybe Weicai is saying that it's nice to have this checked at compile time, rather than runtime.

[2021-04-19 11:59] rasmus-madsen commented on #5652
@rswarbrick ahh yes - I can see that  if there is already an interface I guess this solution is as good as any.
but I feel if one has to create an entire interface for the sole purpose of gaining a path check I would opt for the uvm_hdl_force.
I coulnd't measure any compile/run time difference at all (but I only have one force)

[2021-04-19 13:42] zi-v commented on #6085
Some comments regarding health tests with reference to NIST.SP.800-90B.

In '4.4.2 Adaptive Proportion Test' section, the flow and window size is defined as follows:
"The test takes a sample from the noise source, and then counts the number of times that the same value occurs within the next W-1 samples. If that count reaches the cutoff value C, the test declares an error. The window size W is sel

[2021-04-19 13:45] zi-v commented on #6086
Some questions and comments:
The latency calculation above assume 100kbps. We might want to be prepared for upside (better bit rate).
Now that we understand that it is just a latency FIFO and does not need to consume the whole buffer, maybe we need to think about its optimal size (it does not necessarily need to be 2kB).
In case we use firmware health test, is there a way to stall the RNG flow fro

[2021-04-19 13:55] zi-v commented on #6084
Does "The choices would be the current input to the FIFO chain" drop point mean after the health tests and before the '2kB' FIFO?

[2021-04-19 13:55] rswarbrick opened #6185 "[otbn,tooling] Teach otbn-as about relocations"
Add support for passing through the various `%foo(...)` RISC-V assembler modifiers (as defined in the GNU As manual). This will only work for instructions that we can generate as `.insn` lines, but that should be enough for anything that cares about addresses.

Then add an `la` pseudo-instruction, matching what RISC-V does (but we can cheat and depend on our small address space to avoid needing th

[2021-04-19 13:57] imphil opened #6186 "[otbn] Implement OTBN.H.REG_INTEGRITY"
Write RTL for it.

[2021-04-19 13:57] felixmiller opened #6187 "[otbn] P384: implement ECDSA signature verification"
Implementation of signature verification routine and test for curve P-384.

Subtask of #2982

[2021-04-19 13:57] imphil opened #6188 "[otbn] Verify OTBN.H.REG_INTEGRITY"
Verify OTBN.H.REG_INTEGRITY

[2021-04-19 13:58] rswarbrick opened #6189 "[otbn,dv] List initial coverage points for instructions across the full ISA"
This is just a human-readable list. Actual SystemVerilog coverage points and connections between the document and coverage reports will come later.

[2021-04-19 14:02] rswarbrick commented on #6181
Should be handled by #6185.

[2021-04-19 15:07] NoamGottlieb opened #6191 "DFT – In WORK_dmi_jtag block lc_jtag_req[trst_n] and rv_jtag_req[trst_n] resets should be controlled resets in scan mode"
This is a reminder on lc_jtag_req and rv_jtag_req signals in pinmux_strap_sampling block which connected to zero and affecting the resets of 386 FFs in WORK_dmi_jtag block in scan mode, hence these FFs are removed from scan.
SpyGlass message:
'chip_earlgrey_asic.top_earlgrey.u_pinmux_aon.u_pinmux_strap_sampling.lc_jtag_req[trst_n][1]' is not disabled for 193 flip-flop(s)
'chip_earlgrey_asic.top_ea

[2021-04-19 15:07] NoamGottlieb commented on #6191
@tjaychen
@msfschaffner

[2021-04-19 15:07] NoamGottlieb commented on #6191
@arnonsha

[2021-04-19 16:10] rswarbrick commented on #6181
This should hopefully be sorted by #6192, but I'm not going to link the issue and PR. When it's merged, @felixmiller, could you check that this works the way you expect?

[2021-04-19 16:33] NoamGottlieb opened #6193 "DFT – In rstmgr_ctl block rst_aon_n resets should be controlled in scan-mode"
rst_aon_n affecting ~2 FFs. In scan mode it is not controlled, hence these FFs are removed from scan.
SpyGlass-DFT messages:
'chip_earlgrey_asic.top_earlgrey.u_rstmgr_aon.u_lc_src.rst_aon_n' is not disabled for 1 flip-flop(s)
'chip_earlgrey_asic.top_earlgrey.u_rstmgr_aon.u_sys_src.rst_aon_n' is not disabled for 1 flip-flop(s)

![image](https://user-images.githubusercontent.com/79256454/115271384-f

[2021-04-19 17:53] tjaychen commented on #6161
yes this one is known.  Please see #6058

[2021-04-19 17:55] imphil commented on #6161
Closing as duplicate of #6058. Let's keep one issue around to make tracking easier.

[2021-04-19 17:55] #6161 closed

[2021-04-19 18:23] msfschaffner commented on #6191
Thanks Noam, I'll take a look.

[2021-04-19 18:49] arnonsha commented on #6058
@arnonsha
@NoamGottlieb

[2021-04-19 19:21] arnonsha commented on #6193
Please note that in each case only one FF is affected by the non controlled reset, Adding a mux may not be "economical"  in terms of additional faults to add a mux. We usually fix such cases by ANDing with scan_shift:
`rst_scan = rst & ~scan_shift;
rst_scan_n = rst_n | scan_shift;
`
This way the reset reaching the FF is inactive during shift.

[2021-04-19 21:35] chenc6 commented on #5690
Hi @alistair23 @luismarques

Thank you for your suggestions. We are trying to use qemu. However, we are not sure whether the qemu is working or not and how to verify it.

I follow the link provided by Alistair, [https://github.com/tock/tock/tree/master/boards/earlgrey-nexysvideo#running-in-qemu](url)  . I have tried either
           `make OPENTITAN_BOOT_ROM=<path_to_opentitan>/sw/device/boot_rom/

[2021-04-19 22:02] tjaychen commented on #6167
I take it this means the registers have not widened for ECC yet is that
right?
Should we try to do that first for silver area purposes?

On Mon, Apr 19, 2021 at 2:38 AM Philipp Wagner ***@***.***>
wrote:

[2021-04-19 22:06] tjaychen commented on #5859
i think the hashing process is meant to be shepherded by software.  The
digest is also fed by software to otbn for resulting steps.

On Mon, Apr 19, 2021 at 4:32 AM Bjerkk ***@***.***> wrote:

[2021-04-20 00:09] tjaychen commented on #6191
hey all, before we fix this one, can Nuvoton confirm that trst_n does not affect the value of `scan_mode` in your design?
I'm pretty sure this is the case, but I wanted to make sure.

[2021-04-20 00:54] tjaychen commented on #6084
not quite. If you click on mark's diagram, you'll see that drop point 2 is after the final FIFO.  Which means data will get healthtested, conditioned via the sha3 and deposited into the FIFO.  An older entry in the FIFO will simply just be evicted.

@mwbranstad let me know if i misunderstood.

[2021-04-20 00:57] tjaychen commented on #6086
I think what we discussed during the meeting is that the FIFO would follow
the same behavior as the final FIFO.
Ie, new entries will evict older entries if the FIFO overflowed.

I don't really see this as a problem, but let me know if you think
otherwise and we can discuss tomorrow.

On Mon, Apr 19, 2021 at 6:46 AM zi-v ***@***.***> wrote:

[2021-04-20 01:10] mwbranstad commented on #6084
The current drop point is at the very first FIFO, before the health tests. The proposed change is drop point #2, as @tjaychen has properly described.

[2021-04-20 04:56] arnonsha commented on #6191
Yes
trst_n will not take the chip out of scan mode

[2021-04-20 07:15] rswarbrick commented on #6168
The memories are expanded already, but we're currently ignoring the top bits.

[2021-04-20 07:16] rswarbrick commented on #6167
You're right, the register files aren't widened yet. I think Greg's planning to work on this in this sprint anyway, so maybe it's better just to do it for real - I think that should still be in time for the silver drop?

[2021-04-20 07:20] Bjerkk commented on #5859
Thank you for taking the time to answer my questions.

The reason I am interested in this is that I am writing a master thesis on the use of formal verification for verifying boot code. For this I am using the OpenTitan system as my case. Therefore I would like as detailed an overview of the design as possible (specifically the design relevant to the ROM stage).
When you say that the hashing proce

[2021-04-20 12:01] rasmus-madsen opened #6201 "[aes/dv] Failing to trigger fatal alert after forcing illegal mode"
@vogelpi
so I have created at test aes_alert
that for now just forces `tb.dut.u_aes_core.ctrl_q.mode` by setting multiple bits (usually one hot)
the value is kept for the duration of the test.
the test fails so the mode is not ignored but the neither the alert output or the status bit is set to indicate an alert had happened.
![image](https://user-images.githubusercontent.com/53917183/115392250-a3

[2021-04-20 13:08] vogelpi commented on #6201
Hey @rasmus-madsen,
thanks for looking into this and filing the issue. This kind of error should definitely signal a fatal alert and lock up the FSM.

However, in this particular case, I think it doesn't happen because the detection happens inside the shadow register `tb.dut.u_aes_core.u_ctrl_reg_shadowed`. Can you try to force the signal `tb.dut.u_aes_core.u_ctrl_reg_shadowed.committed_q` instead

[2021-04-20 13:48] mwbranstad commented on #6086
I think we have an opportunity to reduce the FW FIFO to maybe 1K bits or so. It is sized to make sure that the processor can remove bits out of the FIFO before the FIFO overruns. It was stated as a requirement prior that bits from RNG are not dropped. Maybe this is not the case now.

[2021-04-20 14:15] rasmus-madsen commented on #6201
@vogelpi that works thank you

[2021-04-20 14:16] #6185 closed

[2021-04-20 16:16] #6193 closed

[2021-04-20 16:28] imphil opened #6209 "[otbn] Produce an area estimate for the final netlist (gold)"
Assess the area impact of planned features and add them to the current area.

[2021-04-20 16:46] cdgori commented on #5771
Thanks for that detailed breakdown @rswarbrick !

I think the key parts to review then are the 2nd and 4th bullet, since that's where the actual padding insertion happens (either at the 32-bit-word level or at the chunk level).  I am not nearly cryptographically qualified enough to review the padding though, since there are many subtle ways it can go wrong, maybe @moidx knows someone whom we could

[2021-04-20 18:49] tjaychen commented on #6167
yeah if you guys feel this is important, just make sure Faisal / Don are
aware.

On Tue, Apr 20, 2021 at 12:16 AM Rupert Swarbrick ***@***.***>
wrote:

[2021-04-20 21:11] tjaychen opened #6220 "[sw] polling in ROM"
Certain setup routines (for example sram / flash scramble key request) require the ROM to make a hardware request and poll for its completion.  Polling in ROM however, can be bad if the hardware underneath failed and the ROM just never gets out of the loop.

As a result, we should think a bit about what kind of polling-timeout scheme we want in ROM and how that should terminate in the event of a f

[2021-04-20 23:40] msfschaffner opened #6222 "[sysrst_ctl] Determine maximum IO delays for asynchronous paths through sysrst_ctrl"
At the moment, we arbitrarily constrain the maximum delay from pad-in -> sysrst_ctrl -> pad-out to 50ns.
We should double check this is fine for the intended use cases.

[2021-04-20 23:48] esshiu commented on #6222
@msfschaffner Can you please clarify "asynchronous paths"? Do you mean un-registered timing path? In other words, just the combinational logic delay from pad-in -> sysrst_ctrl -> pad-out.

[2021-04-20 23:59] msfschaffner commented on #6222
Yes indeed, I am talking about combo paths that are not registered.

[2021-04-20 23:59] tjaychen commented on #6222
@esshiu yes i believe that's right.  We just wanted to get some sense if there was a system requirement on how long these path delays are? My guess is that the delays can be really large.

[2021-04-21 01:05] tjaychen commented on #6127
done with #6135

[2021-04-21 01:05] #6127 closed

[2021-04-21 01:10] #6109 closed

[2021-04-21 01:12] tjaychen commented on #5925
this has been connected.

[2021-04-21 01:12] #5925 closed

[2021-04-21 01:13] tjaychen commented on #5753
@igk8 just checking in again on this one.
If it's done, let's close the issue and officially advance i2c to d2.

[2021-04-21 01:42] esshiu commented on #6222
In the one-paper:
At least 4 input pins with hardware passthrough to 4 matching output pins.
Nominally assigned to power button, keyboard column, 2 keyboard rows

sysrst_ctrl operates in "always-on" clock domain, 200KHz (5us clock period). So, by default, Hvt library cells. I checked the sysrst_ctrl logic. From cio_key0/1/2_in_i to cio_key0/1/2_out_o, it goes through inversion logic(sysrst_ctrl_in

[2021-04-21 01:44] esshiu commented on #6222
@mdhayter to comment on Tim's system-level delay question.

[2021-04-21 07:09] vogelpi commented on #6201
Okay cool, glad to hear this is working :-)

[2021-04-21 09:45] rswarbrick opened #6228 "[otbn,doc] Properly document LOOP and LOOPI"
We've got a gap here because we don't properly document what these instructions do (the extracted pseudo-code isn't particularly helpful either). Either fill out the instruction entries in the ISA, or add some more information to "Using hardware loops" in the main tech spec.

[2021-04-21 14:25] mwbranstad opened #6230 "[prim_fifo_sync] case of write, read, and full fifo state acts unexpected"
@msfschaffner @tjaychen recommended that an issue be written for this case.

What is observed is that when the fifo is full (say a depth count of 4 is reached and is the depth size of the fifo), if a write fifo pulse and a read fifo pulse arrive at the same cycle, in the next cycle the depth counter goes to 3. I would have expected it to remain at 4, where the new entry gets pushed in at the same

[2021-04-21 14:26] mwbranstad commented on #6230
@msfschaffner maybe this goes to @eunchan, please re-assign if that is the case.