[2022-01-25 18:35] #10195 closed

[2022-01-25 18:43] sriyerg commented on #10332
Agreed - enabling this option will capture the transition to known value on reset assertion, which is not necessarily useful. Does VCS capture these transitions by default (I would not think so)?

Do you have an example where capturing this is useful?

[2022-01-25 18:45] sriyerg commented on #10332
Hmm, I suppose we toggle the `valid` qualified payloads (such as TL) between X and value we want to send, so they will only see X->0|1 and 0|1->X.

[2022-01-25 19:11] martin-lueker commented on #9853
FYI @msfschaffner

[2022-01-25 19:24] msfschaffner commented on #10332
I think in this particular case this came up while patching up the lc_ctrl DV environment, where @NigelScales is not seeing the expected coverage increase due to this issue (is that right, Nigel?).

[2022-01-25 19:32] msfschaffner commented on #10324
Thanks for filing this one.
This is related to https://github.com/lowRISC/opentitan/issues/7688

[2022-01-25 19:46] msfschaffner opened #10346 "[dvsim/CI] Enhancement for test status exclusion tags within a regression"
This came up in the Silicon meeting today.

In particular, we discussed that it would be great to have a way to label/tag tests that are currently not passing, so that a regression can still be run without failing and thus blocking a PR, for instance. If this feature is integrated into Dvsim, impact on the CI infrastructure would be minimal.

Note that while Dvsim already has a notion of regressio

[2022-01-25 19:50] sriyerg commented on #10332
We only collect toggle coverage on DUT ports (and ports of pre-verified sub-modules). The outputs of all modules is already checked for unknown value when out of reset. The problem is only with inputs, which eventually is sourced by our testbench components (agents). Most if not all of our agents are designed to assign an X to payloads when their qualifying valid is 0. With these in mind, my vote

[2022-01-25 20:33] msfschaffner commented on #10071
Ok generated IPs should now be covered.
However, we still need to figure out how we want to deal with vendored-in IP like Ibex, for instance.
We probably need a way to redirect reggen to include and scan vendored-in RTL files.

@rswarbrick @GregAC for thoughts.

[2022-01-25 20:52] msfschaffner commented on #10156
Spreadsheet has been updated.

[2022-01-25 20:53] #10156 closed

[2022-01-25 21:20] weicaiyang commented on #10296
This is exactly the propose to let reset between vseq find most of the bugs and let reset in the middle of operations find less errors.
Most of block has the stress_all and stress_all_with_rand_reset tests. stress_all_with_rand_reset will test reset in the middle of operations

[2022-01-25 21:37] rswarbrick commented on #10346
I'm not massively keen, because I don't really understand the use case. For CI, it doesn't seem unreasonable to *require* one seed of one test to pass! Is there anywhere else where we look at the dvsim exit status?

[2022-01-25 21:43] weicaiyang commented on #10332
Agree that we probably don't need `set_toggle_includez`. For `set_toggle_includex`, we don't assign X to valid/ready signals, which we could do during reset, but this may cause some issue when there are multiple resets/clocks.
For example, assume `valid` is in rst/clk domain 1 and it's X as it's in reset. If domain 2 is out of reset earlier, the X on the `valid` may be propagated to domain 2.

[2022-01-25 22:39] tjaychen commented on #10318
fine with anything.

[2022-01-25 22:43] drewmacrae commented on #10335
I think this is addressed in https://github.com/lowRISC/opentitan/pull/10351

[2022-01-25 22:47] tjaychen commented on #10343
Thank you for bringing this point up. The part about the system no longer being accessible is actually not accomplished by the flash. When doing an RMA transition, the system sequence is as follows:
`lc_ctrl` -> `flash_ctrl` -> `otp_ctrl`.

So the life cycle controller makes the request, the flash controller wipes the contents and finally the otp controller does the RMA transition.  Once the trans

[2022-01-25 22:51] sriyerg commented on #10346
Looking at the past failures:
https://dev.azure.com/lowrisc/opentitan-private/_build?definitionId=8&_a=summary&statusFilter=failed

The ones that ran and failed within 1 minute have been due to repo checkout and other random unrelated (infrastructural) issues. The ones where actual tests failed (at least the top 10) were due to changes made in the PR itself (so the presubmit check did its job). I

[2022-01-25 23:32] msfschaffner commented on #10346
@moidx, since you brought this one up, is there a specific use case you had in mind?

[2022-01-26 01:43] moidx commented on #10346
Currently the internal CI is failing and it is not clear if there are any new test failures accumulating over time because the CI result is binary and it is hard to keep everyone in the loop with expected failures.

In the past we have opted from commenting out tests from the test config to get CI to pass. I think this is difficult to maintain over time because the test plan may have multiple test

[2022-01-26 05:10] sriyerg commented on #10346
DVSim only runs a limited subset of tests per design (there are 41 at the moment, including the full chip). The `smoke` suite for each design is fixed and does not grow over time. We rely on the nightly for the bulk of the tests, which not only map to testplan entries, but also have an associated V milestone target. We do not qualify a block to Vx unless ALL tests V1-Vx are 100% passing in the nig

[2022-01-26 05:29] sriyerg commented on #10325
I assume you are talking about CI for the foundry repo?

This is now setup. Any time someone creates a PR in the foundry repo, `kokoro` will trigger a presubmit check. You can see an existing PR for details. It runs the following simulation set:

[code]

`kokoro` voting (which will gate the PR from being submitted if there are failures) is currently disabled, since ALL tests in ALL setups added to

[2022-01-26 08:25] rswarbrick commented on #10296
Ah, I see. Right, makes sense I guess, and you can just run the stress_all test for twice as long to get the same (non-testbench) coverage as you'd get without the resets.

[2022-01-26 09:10] m-temp commented on #9447
@tjaychen kmac: https://github.com/lowRISC/opentitan/pull/9394 has been merged.

[2022-01-26 09:14] m-temp commented on #8982
@tjaychen, @eunchan Most of the points should be covered by now.
Only the external escalation request hasn't been implemented yet.
... and the documentation.

[2022-01-26 09:15] NigelScales commented on #10332
That's what I see.
Without set_toggle_includex those busses show as uncovered.

It does seem that VCS counts X->1,0 as a rising or falling edge for toggle coverage - if those busses are marked as covered.

[2022-01-26 09:16] m-temp commented on #9041
@eunchan We can update the tasks here as well.

[2022-01-26 09:19] m-temp commented on #7747
https://github.com/lowRISC/opentitan/commit/63bd755d052a9a7f1282d632caf075b38dc141d6 covers that.

[2022-01-26 09:22] m-temp commented on #8612
Regarding KMAC:
https://github.com/lowRISC/opentitan/commit/63bd755d052a9a7f1282d632caf075b38dc141d6 implements the key index counter. Other counters were also covered in https://github.com/lowRISC/opentitan/pull/9477

[2022-01-26 10:23] TimEwins commented on #10343
Hi Tim

Thanks for the reply.

I have checked in a version of my test repositry

The reposirty branch is
https://github.com/TimEwins/opentitan/tree/host_crl_hw_if2

What this test does is

Reset
Intitialise
Erase
Program (data1)
Read (data1)
RMA Request
Check SW has no access to the Flash (CONTROL Reg)
Reset
Read (data2) .. compare data2 != data1

What happens after the RMA Request is completed, i

[2022-01-26 11:06] davidp135 commented on #9514
I have set up a pull request to change the set_response_queue_depth to unbounded.

With the other Questa issues (clocking and associative arrays) Mentor have not yet changed their software. Hopefully they will be in the next Questa release. Shall I leave this issue open whilst I wait for this?

[2022-01-26 11:17] dkabely-ot opened #10366 "CS OTP: 2nd tl_agent on PRIM vif"
A new tl_agent on PRIM TL-UL virtual interface was introduced in `otp_ctrl_env` and OS TB:
https://github.com/lowRISC/opentitan/blob/93b72864a668a983f1db177512811c24681421f5/hw/ip/otp_ctrl/dv/env/otp_ctrl_env.sv#L67
https://github.com/lowRISC/opentitan/blob/68e86515989c047e28915f6d5d534c578c9bdb3d/hw/ip/otp_ctrl/dv/tb.sv#L226

However, there's already a tl_agent automatically created for the this

[2022-01-26 11:52] ctopal opened #10367 "[aon_timer] Exceeding threshold with register write causes no effect"
If we are jumping above the threshold for both WDOG and WKUP timers, the expected behaviour is a level interrupt to be generator to the processor.

**For WDOG:**
When the first threshold is met or exceeded, a level wakeup signal (if enabled) is sent to the power manager. Simultaneously, a level IRQ signal is also generated to the processor.

**For WKUP:**
When it reaches / exceeds the wake thresho

[2022-01-26 12:34] sha-ron commented on #10325
I meant for CI for github that will check that a new code added to github doesn't break the foundry database. For example, yesterday we spent a day debugging issue #10366 which is an open source addition that broke the foundry database.

[2022-01-26 13:11] GregAC commented on #10367
Jumping the count above the threshold (or moving the threshold below the count) will trigger the interrupt on the next clock tick rather than immediately. See Interrupt Handling in the documentation: https://docs.opentitan.org/hw/ip/aon_timer/doc/index.html#interrupt-handling

[2022-01-26 15:25] jadephilipoom opened #10371 "[sw/silicon_creator] Remove exponent field from manifest"
See https://github.com/lowRISC/opentitan/pull/10141#discussion_r791986403_

Now that sigverify RSA accepts only one exponent for public keys, there's no need to include a field for it in the manifest.

[2022-01-26 16:03] TimEwins commented on #10218
@tjaychen @nikola-miladinovic

Hi Tim

I reversed that RTL mod that I tried, which may have been incorrect.

I see the following behaviour with the original checked in RTL (note not well documented).

To me this looks incorrect, but you obviously know more about the design intent.

After reset, the Flash Controller requests (req/ack) two keys from the otp interface.  These make there way to the sc

[2022-01-26 17:21] TimEwins opened #10376 "[flash_ctrl] Confirmation Of Control FIFO Access"
Hi
There appears to be some confusion on how SW should exactly control the Program (Write) and Read FIFOs in the DUT/Testbench.

1)	FIFO Polling

If you look in the existing TB, when the FIFO is written/read , the code implies some sort of poll fifo status to control Data Flow.

  virtual task flash_ctrl_write(data_q_t data, bit poll_fifo_status);
  virtual task flash_ctrl_read(uint num_words, ref

[2022-01-26 17:29] TimEwins commented on #10142
Hi @tjaychen

I can confirm that your suggestion fixes the problem I was seeing.

I assume the person that raises the issue in the first place can close it ? Or is that not the case ?

[2022-01-26 17:33] tjaychen opened #10377 "[ROM] Confirm default flash settings are sufficient for boot strap"
We need to confirm that the default proprietary settings of flash registers are sufficient for boot-strap.
The details of this issue may need to be discussed offline, however filing an issue to track it first.

[2022-01-26 17:48] tjaychen commented on #8982
thank you @m-temp

[2022-01-26 17:49] tjaychen commented on #8612
thanks @m-temp.
It looks like we can close this issue now.

[2022-01-26 17:49] #8612 closed

[2022-01-26 17:49] tjaychen commented on #7747
thank you @m-temp

[2022-01-26 17:52] cindychip commented on #10366
https://github.com/lowRISC/opentitan/pull/10344 should fix it :)

[2022-01-26 17:54] weicaiyang opened #10378 "prim_count may never trigger an error"
In otp, this prim_count is parameterized to a up increasing CrossCnt, but `set_i` is tie to 0 as it uses the default max value (all 1s).
https://github.com/lowRISC/opentitan/blob/68e86515989c047e28915f6d5d534c578c9bdb3d/hw/ip/otp_ctrl/rtl/otp_ctrl_part_buf.sv#L585-L599

However, since `set_i` is always 0. `cmp_valid` is always invalid, which causes the error is always 0 regardless the counter valu

[2022-01-26 17:54] cindychip commented on #777
https://github.com/lowRISC/opentitan/pull/10363 Finished TODO 1).

[2022-01-26 17:56] sriyerg commented on #10332
Absolutely agree. All supported simulators need to be 100% aligned with each other.

[2022-01-26 18:00] sriyerg commented on #9514
The original issue was about supporting Questa with dvsim, which seems to be resolved. Please make a PR that enables Questa with dvsim. Anything unrelated to this should be filed as a separate issue.

[2022-01-26 18:06] sha-ron commented on #9766
Fixed via PR in the close source database.

[2022-01-26 18:06] #9766 closed

[2022-01-26 18:07] arnonsha opened #10379 "AES - compilation warnings"
Hi
In VCS I get the following 2 warnings:

Are you aware of these ?

thanks

[2022-01-26 18:08] weicaiyang commented on #10332
ohh, now I understand why we need `set_toggle_includex`.
Without `set_toggle_includex`, we need 0->1 and 1->0. With `set_toggle_includex`, we only need X->0|1 and 0|1->X. For data in TLUL, we should never see 0->1 or 1->0 as they will be always changed from X->1|0->X.

also vote to enable set_toggle_includex!

[2022-01-26 18:19] #6610 closed

[2022-01-26 18:34] sriyerg commented on #10325
There are 3 things - presubmit CI (which is what I talked about in the previous comment), CI (which will run foundry DV anytime the open source or closed source repos are updated) and the nightly.

The CI for the foundry will not gate the open source, but it will give you early warning that something changed in open source that needs to be fixed in the closed source. I don't see a way to actually

[2022-01-26 18:47] #9637 closed

[2022-01-26 19:44] tjaychen commented on #10218
this is indeed very strange. I will have a look with your PR.
I will also update the documentation to make clear what each key is used for.

[2022-01-26 19:45] tjaychen commented on #10142
Ah we do not have strict rules, either is okay.
Since you've confirmed its behaving as expected now, I will close the issue.

[2022-01-26 19:45] #10142 closed

[2022-01-26 19:54] tjaychen commented on #10378
i don't completely remember the reason `cmp_valid` was needed to start with.. i'll need to have a look.

[2022-01-26 19:55] tjaychen commented on #10378
okay i think it's `set_i` is used to define the maximum value of the cross count.
I probably need to add a parameter that says the `set_i` is not necessary, thus the comparison is always valid.

[2022-01-26 19:59] #9303 closed

[2022-01-26 20:40] tjaychen commented on #10218
@TimEwins
i took a look at this, and it's because the timing of `rand_key` in your waveform above is not quite right.
When the otp `ack` is signaled, the returning payload must already be ready.

See this attached diagram for how things behave at chip level.
![Screenshot from 2022-01-26 12-38-31](https://user-images.githubusercontent.com/1026250/151243327-c06c0918-5f89-4c82-991d-075f540e36ff.png)

[2022-01-26 20:55] msfschaffner commented on #9447
@tjaychen I believe all blocks above have moved to sparse FSMs by now, right?

[2022-01-26 21:01] tjaychen commented on #10376
Where did you see it is tied to 0? See here in [rtl](https://github.com/lowRISC/opentitan/blob/master/hw/ip/flash_ctrl/rtl/flash_ctrl.sv#L749), it is tied to the rd fifo's rvalid (inverted).

please see above, i'm not sure where you saw it was tied to 0.

you can really do both. The fifo read as constructed are blocking. Ie, if you read it, and there's nothing there yet (but will come later), it w

[2022-01-26 21:01] msfschaffner commented on #8629
@eunchan @m-temp can you take a look at the KMAC item? Thanks!

[2022-01-26 21:03] matutem opened #10383 "[doc/rstmgr] Correct functional spec"
The section "Reset Information" has a table of reset info outcomes that is missing SW_RST. I think it could just refer to the reset_info CSR for the fields. Up to you...

Also, I see both "low power entry" and "low power exit" in the spec, referring to the same thing. Use "exit" throughout?

[2022-01-26 21:35] weicaiyang commented on #10378
sounds good. Then we can solve the case that `set_i` is tie to 0

how about the case below? assume `set_i` is needed before start the counter. It's illegal case, but it's nice if we can gate it, or at least don't gate the error to be triggered.

[2022-01-26 21:49] tjaychen commented on #10378
i'm going to try to change it so if you don't set `set_i`, there will be some kind of error, so we can force the user to clearly make a choice.

[2022-01-26 21:51] tjaychen commented on #9447
yeah looks like.

[2022-01-26 21:51] #9447 closed

[2022-01-26 22:41] rasmus-madsen opened #10387 "[AES] missing output"
@vogelpi
I am seeing some wierd behavior which happens quite seldom.
but every now and then when I reset the DUT and restart - the DUT seems to start correctly but then after a while goes to IDLE with no output having been produced.
which the ENV detects as an error and clears the registers and tries again.
but it seems the AES is stuck in this mode where the output is never produced.
the light bl

[2022-01-26 23:31] martin-lueker opened #10388 "[entropy_src] RFC: Programming Model for FW_OV_ENTROPY_INSERT"
**TL;DR:** We want to make a new class of recoverable error in entropy_src for unexpected entry or exit from the FW_OV mode.

**Overview**

In `entropy_src`, we need to determine how to properly handle entry and  exit envents when activating the FW_OV modes.   There no intention to support dynamic switching in or out of this mode.  Thus we need to make  a plan for handling unexpected transitions i

[2022-01-26 23:36] martin-lueker commented on #10388
Many thanks goes to @rswarbrick and @weicaiyang for their earlier feedback!

[2022-01-26 23:39] martin-lueker commented on #10388
For future documentation purposes here is the wavedrom JSON for the figure above:
[code]

[2022-01-27 00:06] tjaychen commented on #10388
@martin-lueker could you clarify a bit under what circumstances the writes would be considered legal and illegal?
It sounds like what you're saying is that once the hardware is enabled, we should not be allowed to toggle the settings, and once disabled, it would be fine to change it again?
This sounds a lot like the other entropy_src configurations to me.

A recoverable error sounds fine to me if

[2022-01-27 00:43] tjaychen commented on #10343
@TimEwins i'll take a look at the test, but it sounds like what you're pointing out is a DV driver issue correct..?

[2022-01-27 00:45] sriyerg opened #10393 "[pwrmgr] V2 Review Action Items"
Original Google doc:
https://docs.google.com/document/d/1AtEiXPjxzaStOj6xR5gPsceaiL9op8dN481ukiE9XaY/edit?resourcekey=0-yQvzdv7n76tHx1Xn_riS9g#

### PWRMGR V2 Review
**Attendees: Matute, Cindy, Tim, Weicai, Sri**

#### Status for review

1. Main design updates
  a. Splitting `ip_clk_en` and `clk_status` into per clock signals for `io`, `main`, and `usb`.
  b. Add direct software reset from rstmgr.

[2022-01-27 01:16] matutem opened #10395 "[dv/pwrmgr] Disable coverage exclusions"
Disable exclusions for CSR CONTROL.USB_CLK_EN_ACTIVE, RESET_EN in IP level.

[2022-01-27 01:18] martin-lueker commented on #10388
Hi @tjaychen, that is actually a good point, and yes you have it all exactly correct.   Once enabled, the hardware should not be messed with, and we would like to enforce that.

Now that you mention it, you are also correct that the same argument applies to all the other configurations.  This came to mind though because writing a scoreboard for this case is particularly challenging.  This is a ver

[2022-01-27 01:22] tjaychen commented on #10388
yeah i think a recoverable alert is fine too. It's just because we have no way in our regtool to "prevent" a write to a register under certain conditions, you will probably need to implement this an external register, absorbing the `qe` output so on and so forth.

[2022-01-27 01:22] matutem commented on #10393
All items ready, one postponed to V2 and tracked in a separate issue.

[2022-01-27 01:22] #10393 closed

[2022-01-27 01:33] martin-lueker commented on #10388
The `keymgr` implementation is pretty simple, but it doesn't lend it self to what we need.   In `keymgr` there is a regwen that is 100% hardware controllable.  We want one that is hardware controllable (and hardware reversable), but if software flips it, it is `rw1c`, and so it stays low.  `regtool` won't do that for sure.

[2022-01-27 01:38] tjaychen commented on #10388
o i think what you're looking for is doable via regtool also. The main thing the regtool can't do is the recov_alert.

[2022-01-27 01:38] tjaychen opened #10396 "[flash_ctrl] Additional security hardening"
Filing this to head off D2S

- need to convert rma_wipe_idx to prim_count
- after rma transition, disable flash access altogether (even though this will be done at system level, it won't hurt to have it at block level also).

[2022-01-27 01:51] martin-lueker commented on #10388
I'm now looking at both options.  (Really I want whatever secure solution is the easiest to implement)
Will regtool allow you to control a register with multiple REGWENs?

If not I can think up solutions.

For instance you could:
1. Make a CFG_REGWEN that is SW ro and HW rw.
2. Configure the HJSON so that all the configuration registers are controlled by HW_REGWEN
3. Make a SW_CFG_REGWEN that is S

[2022-01-27 01:52] martin-lueker commented on #10388
Naturally the names are up to debate here (and yes, Mark, whatever we do I volunteer to smush the solution through CI)

[2022-01-27 01:59] tjaychen commented on #10388
o that sounds good. Yes yo'ure right, the regtool is only able to support regwen's that are software locked, hardware unlocked (or vice versa). It doesn't have the understanding that since it was software that issued a lock, it should never be unlocked.  So to accomplish the behavior you want (irreversible should software choose to lock, reversible if it's simply enable / disable), i think what yo

[2022-01-27 02:35] tjaychen commented on #10343
@weicaiyang pointed out the transaction timeout is because a csr transaction is immediately issued after calling `apply_reset`. He suggested we switch to `dut_init` since it has built in delays. I'm trying that now, will report back later. So far the behavior here seems consistent.

One thing I'm not sure how we're going to check.. the rma process randomly programs each word and verifies it. If th

[2022-01-27 03:10] matutem opened #10398 "[edn/doc] Describe SW_CMD_REQ"
The EDN functional spec has no description of the SW_CMD_REQ, RESEED_CMD, and GENERATE_CMD. Apparently they correspond to CSRNG commands. I think the spec should be more clear about this correspondence, and perhaps link to CSRNG.

[2022-01-27 03:29] tjaychen commented on #10343
hmm.. @weicaiyang it seems like even with the extra delay it's still failing. I need to have a closer look to make sure I put it in the right place.  Will get back to this later.

[2022-01-27 05:09] moidx commented on #10388
In terms of FIPS enablement we have to run KAT tests on the conditioner. The sequence of events is as follows:

- Stop `entropy_src` after completing boot mode.
- Configure FW OVR to execute KAT test using `FW_OV_WR_DATA` and `ENTROPY_DATA` registers.
- Enable continuous mode of execution (FW OVR disabled).

The following test configures `entropy_src` in FW OVR mode: https://cs.opensource.google/o

[2022-01-27 05:39] martin-lueker commented on #10388
Hi @moidx, under the current proposal that is all fine.  (also, thanks for pointing out that test!)
We just want to make sure that the IP is in a known (stable = disabled) state whenever we switch modes.

[2022-01-27 05:41] martin-lueker commented on #10388
That is an interesting point, but I personally don't know how to cleanly disable writes without another REGWEN.  We don't have access to the actual `we` lines on the registers themselves.  The `keymgr` regwen approach is nice and clean!

[2022-01-27 06:19] tjaychen commented on #10388
i might not have been thinking about it too clearly. I was thinking you could have one regwen, and implement most of the logic as to the regwen's behavior outside.  So then you could look at qe in combination with the enable to decide the final value.  So if you see a qe and q = 0, then you can transition the regwen to permanently 0.  If you've never seen qe and q = 0, then you could let the enabl

[2022-01-27 06:28] weicaiyang commented on #10343
LMK if you want me to take a look as well.

[2022-01-27 07:50] ctopal commented on #10367
![Screenshot from 2022-01-27 07-46-32](https://user-images.githubusercontent.com/87007427/151314163-f3080462-6e11-46b6-b065-2a17aecf1db8.png)

Hi Greg,

I have relaxed the check on the scoreboard to test if we get the interrupt after some clock cycles but couldn't see it. Looking at the RTL it looks like we only raise the flag when we hit `==` condition. I believe we are not hitting that condition

[2022-01-27 08:40] GregAC commented on #10367
Ah turns out I haven't merged the PR that fixes this yet! PR is here https://github.com/lowRISC/opentitan/pull/10221

You could try running the tests with those changes applied.

[2022-01-27 08:55] TimEwins commented on #10343
@tjaychen "DV driver issue" it did look that way, but I will investigate your suggestion about the reset today

[2022-01-27 09:06] TimEwins commented on #10343
@tjaychen

"One thing I'm not sure how we're going to check.. the rma process randomly programs each word and verifies it. If there was a hardware bug there (ie we don't actually program, or we don't actually read), this higher level testing won't check it. Need to think a bit about how to check it, may need to add an SVA instead"

The way I am doing this is as follows ...

// Initialise
// Loop {

[2022-01-27 09:26] davidp135 commented on #9514
Sure, thanks for all the help.

[2022-01-27 09:31] m-temp commented on #8629
Thx for mentioning that. I totally forgot about that. I'll have a look.

[2022-01-27 09:40] vogelpi commented on #10379
Hi @arnonsha ,
thanks for reporting this issue. I don't understand why VCS sees a problem here. The RTL code looks as follows (second warning):
[code]
So, whenever `j` is zero, we use `out_prd[i][3]` instead of `out_prd[i][0-1]` (what VCS thinks). Also I don't see this warning locally (VCS R-2020.12-SP2).

[2022-01-27 09:58] rswarbrick commented on #10137
Looks like someone else has just shot themselves in the foot in the same way: https://github.com/lowRISC/opentitan/issues/10343#issuecomment-1022789653.

I'm *really* unconvinced that this is the right way to do things.

[2022-01-27 10:02] TimEwins commented on #10376
@tjaychen @nikola-miladinovic

Hi Tim

Regarding that poll_fifo_status bit ....... yes, I think you are correct, I mis-interpreted the RTL ... probaby why as a verification guy, I shouldn't really be looking at it :)

I am sure when I tested this feature It did not work as expected.  I need to revisit that to make sure.

In ctrl_core_reg_top.sv I saw this

  //   F[rd_empty]: 1:1
  prim_subreg #(

[2022-01-27 11:30] vogelpi commented on #10387
Thanks @rasmus-madsen for reporting the issue. We've just discussed this. What happens is that after writing the last key register, the module is reseeding the internal PRNGs. It becomes busy and while being busy, updates to the key and IV registers are ignored. So the module never actually starts encryption as it just has a partial IV.

What should be done:
1. The environment should track when th

[2022-01-27 11:37] vogelpi commented on #8460
Hey @cindychip ,
@rasmus-madsen and I noted that AES currently has some CSR tests failing. Investigating the failures it seems that the environment expects the recoverable alert bit (shadow register update error) to remain set until the corresponding status bit is read.

However, if another write to the shadow register happens, this actually resolves the condition for the recoverable alert. So in

[2022-01-27 12:11] TimEwins commented on #10376
@tjaychen @nikola-miladinovic

Hi Tim

I confirm the existance and correct operation of the FIFO Poll Status Flag.  A previously written test works with both poll_fifo_status set to 0 and to 1.

Apologies for the misunderstanding.

However, in all the testcases written so far, to my knowledge this status bit has been set to 0 (no polling used).  I have noted this.

This has been done by either set

[2022-01-27 15:55] a-will opened #10408 "[pinmux] Add peripheral select mux constants to a header file"
The header for the top-level handles all the select values for MIOs, but the base cases (tie to 0, tie to 1, high-z) are not covered by any header.

From https://github.com/lowRISC/opentitan/pull/10253#discussion_r793636392_

[2022-01-27 16:46] TimEwins commented on #10218
@tjaychen @nikola-miladinovic

Hi Tim

I am applying the following input timing and response

  assign #1ns otp_rsp.addr_ack = otp_req.addr_req;  // Addr Ack
  assign #1ns otp_rsp.data_ack = otp_req.data_req;  // Data Ack

The TB is emulating the OTP ..... it asserts the REQs, and puts a keys on otp_rsp.key and otp_rsp.rand_key (at that instant)
The Flash replies with ACKs

The Flash replies in th

[2022-01-27 17:08] Jacob-Levy opened #10409 "CI (Execute tests on the Verilated system) fails on timeout."
The test is consistently hit the timeout of 120 minute. This is most likely as a result of the por_ni derived resets behaviour change.

The CI include 35 test that 29 of them passes before the timeout reached. The reset delay need to be reduced to shorten the test time.

If the individual test time can not be reduce, the CI need to be split into more then one CI.

As a temporary bypass, the timeou

[2022-01-27 17:11] Jacob-Levy commented on #10409
@lowRISC/ot-dv-reviewers

[2022-01-27 17:25] TimEwins commented on #10218
@tjaychen @nikola-miladinovic

OK, the above seems to make more sense now .....

**addr_req/addr_ack**
,key = 1111....
.rand_key = 2222...

**data_req/data_ack**
,key = 8888....
.rand_key = 9999...

Then after all this has happened we see this at the Scramble Block
.addr_key = 1111 ...
.data_key = 888 ...
.rand_addr_key = 2222....
rand_data_key = 9999.....

![Screen Shot 01-27-22 at 05 18 PM](http

[2022-01-27 18:08] sriyerg commented on #9514
Sorry if I was not clear - I do not see a PR yet that adds `hw/dv/tools/dvsim/questa.hjson` which works with dvsim. Please check that into our repo and then close this issue.

[2022-01-27 18:18] tjaychen opened #10412 "[reggen] Check for unused regwen"
We should add the ability to check for "dangling" regwen, ie, regwen's that are declared but not used.
At the moment, if we have situations like this, it's not clear it would be catch by DV's automated testing, since I believe DV checks for correct behavior for regwen's that are actually used.

[2022-01-27 18:18] tjaychen commented on #10412
@cindychip can you let me know if my statement is correct?

[2022-01-27 18:32] tjaychen commented on #8982
@eunchan @m-temp i just added one more item based on feedback from the Aes review (@vogelpi @cdgori )
This might already be done, but I think it would be good to double check.

[2022-01-27 18:35] tjaychen commented on #10218
sounds good. Yes it looks like I should add a timing diagram for this particular section.

[2022-01-27 18:36] tjaychen opened #10414 "[flash_ctrl] Documentation enhancements"
- [ ] Add a timing diagram for the otp interface

[2022-01-27 18:37] tjaychen commented on #10218
@TimEwins i think this issue can be closed? I will keep a running list of documentation improvements in #10414

[2022-01-27 18:37] #10218 closed

[2022-01-27 18:45] tjaychen commented on #10376
sounds great! I'll close this issue for now. But feel free to re-open if anything is unclear.

[2022-01-27 18:45] #10376 closed

[2022-01-27 19:08] TimEwins commented on #10218
Hi Tim

I can confirm that this is worlking as expected now.

We can close (you already have), and add doc updates to #10414

Thanks

[2022-01-27 19:23] weicaiyang commented on #10137
@rswarbrick

I understand that this approach causes some inconvenient, but it doesn't work if we only flush the queue when we just enter reset or 1ps after. It is because we have the stress_all_with_rand_reset test which will trigger reset at any place of any vseq. The vseq isn't reset-aware. It may still send requests when reset is active.
I know otbn has a different way to test reset so that it

[2022-01-27 20:01] weicaiyang commented on #10332
some SPI pins could be driven with Z, but all the pins should have 1->0, 0->1 transition, so toggle coverage can be 100%. So `set_toggle_includez` isn't needed for SPI device.

[2022-01-27 21:25] msfschaffner opened #10420 "[otp_ctrl] D2S review opens"
Taken care of in #10435:

- [x] [msf] update docs, define DAI/KDI/LCI towards the top
- [x] [msf] highlight in the programmer’s model that SW is responsible for integrity handling in the SW partitions
- [x] [msf] extend lc_sender primitive to have non-flopped option and instantiate it here for the token valid signals
- [x] [msf] replace CSRNG with EDN in the docs
- [x] [msf] This section suggests

[2022-01-27 21:36] msfschaffner opened #10422 "[aes] D2S review opens"
- [x] [vogelpi] move counter flops into multi-rail FSM, remove custom design counter. See #10511
- [x] [vogelpi] fix REGWEN in Hjson. See #10488
- [x] [vogelpi] Label IV as separate asset (IV.CONFIG.SW_UNREADABLE, and IV.CONFIG.SEC_WIPE). See #9961
- [x] [vogelpi] expand description of all FSM.LOCAL_ESC descriptions, link to individual triggers (e.g. CTRL.SPARSE). Note that some of the other non-F

[2022-01-27 22:05] tjaychen commented on #10343
yeah i think SVA is probably the better approach, I will look into adding it.

[2022-01-27 22:06] tjaychen opened #10425 "[flash_ctrl] Add SVA for rma entry flow"
The rma entry flow programs each word with random data and reads it back for consistency.
This flow isn't easily checked by DV since each word is random.  It is better to add an assertion check for this to make sure it never fires.

[2022-01-27 22:06] tjaychen commented on #10425
@TimEwins

[2022-01-27 22:20] dbeitel-opentitan commented on #10131
I've submitted a pull request that enables Debug ROM in the ePMP for RMA lifecycle (PR #10426). Let me know if there are any objections.

[2022-01-27 22:54] tjaychen commented on #10409
@Jacob-Levy i'm having a look at the logs now, I think actually in your case most of the tests have passed.
As an example, the first test (mask_rom_epmp) passes, but on the second test, crt_test it immediately fails.  The tests afterwards fail, and if i'm reading it right, they don't appear to printing anything on uart or the console log (we usually have a log message that indicates rom / flash ha

[2022-01-27 23:32] mwbranstad commented on #10388
Just sync'ed with @martin-lueker on this thread. I think the external REGWEN solution solves a lot of issues pretty easily. Will look at implementation details a bit more but do not expect any complications.

[2022-01-27 23:50] matutem opened #10430 "[dv/clkmgr] Add check for hi_speed_sel_o"
The hi_speed_sel_o is recent, and needs to be checked.

[2022-01-28 00:04] mwbranstad commented on #10398
Seams reasonable.

[2022-01-28 00:11] timothytrippel commented on #8011
This was fixed in #10040.

[2022-01-28 00:11] #8011 closed

[2022-01-28 01:22] msfschaffner commented on #10412
Indeed we do have such dangling REGWENs, for instance this one here in AES:
https://github.com/lowRISC/opentitan/blob/95ba869ee4359cdc5627a88046abcc1a11da80e2/hw/ip/aes/data/aes.hjson#L555

I guess the question is on how we would identify them.
At the moment, I believe this would have to be done by name only (which is probably ok, since the regtool checks whether these regs are named correctly).

[2022-01-28 01:59] msfschaffner opened #10432 "[cdc] primitives to instrument in simulations"
The [prim_flop_2sync](https://github.com/lowRISC/opentitan/blob/master/hw/ip/prim_generic/rtl/prim_generic_flop_2sync.sv) primitive is a central synchronizer primitive that is used by almost all other more complex CDC primitives in our repo.

It therefore would make sense to use this as a starting point to do CDC instrumentation for simulations, since many other primitives would automatically bene

[2022-01-28 02:02] tjaychen commented on #10432
it's okay to make it not technology dependent now, but I imagine in the future we will work with vendors that actually have sync cells (even if the current one does not). If that happens, we will need to move it back.

Do `prim_sync_reqack` need any instrumentation for DV? Those are just built on top of `prim_flop_2sync` aren't they?

When you say instrumentation, you're referring to the randomize

[2022-01-28 02:05] matutem commented on #10432
Yes, delay randomization.

[2022-01-28 02:05] msfschaffner commented on #10432
Yes I am referring to the CDC model that Udi had built here https://github.com/lowRISC/opentitan/pull/7937 a while ago.

The plain `prim_sync_reqack` without data should be fine, since it synchronizes the single bit control signals using the 2 flops synchronizers.

As for the tech dependent sync cells, that is a fair point.
Could we maybe handle that underneath `prim_flop_2sync`, e.g. by adding a

[2022-01-28 02:10] tjaychen commented on #10432
o i see. Do you mean make `prim_flop_2sync` just a normal prim, and then underneath we can choose between the actual technology versions or the DV version..? Let me know if I understood right.

[2022-01-28 02:17] msfschaffner commented on #10432
yeah so the idea was to make `prim_flop_2sync` a normal prim (should be straightforward since we do not have xilinx or asic versions for this at the moment), and resolve any tech-dependency at a level below (currently this would be `prim_flop`). the DV delay model could then be inserted inside `prim_flop_2sync` itself with a `SIMULATION` macro (or similar) so that all views (xilinx / asic / generi

[2022-01-28 02:19] tjaychen commented on #10432
that sounds good to me!

[2022-01-28 02:20] tjaychen commented on #10412
I think we have a check that kind of does this right now..where it looks to all the things used as regwen and if there's a register declared with that name.  I think we just want the reverse of that (I will double check).

[2022-01-28 02:24] msfschaffner commented on #10412
Yeah that reverse check is probably exaclty what we need.

[2022-01-28 02:55] msfschaffner opened #10434 "[otp_ctrl] Enhancement for device-specific scrambling keys"
The OTP_CTRL currently uses a global random netlist constant for secret partition scrambling. This could be enhanced in the future by making the scrambling key device-specific. For this to work, we would have to allocate another partition (possibly scrambled by a netlist constant) which holds the scrambling key. That partition would then have to be sensed and checked before descrambling any other

[2022-01-28 03:25] tjaychen commented on #10434
yeah i think scrambled with another netlist constant is probably ideal.  Then at least we mandate breaking two separate things to get the final scramble key.

[2022-01-28 08:03] m-temp commented on #10378
@tjaychen looks like now the documentation/comments at the beginning of prim_count are out of sync. Can you update the section about set_i?

ersonally, I like the idea that clear sets the downcount to its max value, as this more intuitive. The original behavior confused me before. See 55bc695

[2022-01-28 09:42] rswarbrick commented on #10137
I won't be in the next DV meeting, I'm afraid (it clashes with an Ibex D2S meeting). If the problem really is just the `stress_all_with_rand_reset` test, it's reasonably contained, which is nice. Once I've got a bit more time (hopefully soon, when OTBN reaches V2), I'll spend a bit of time and try to come up with a different solution.

[2022-01-28 11:06] ctopal commented on #10367
Hi Greg, that PR fixes the problem. Thanks!

[2022-01-28 11:06] #10367 closed

[2022-01-28 12:48] TimEwins commented on #10343
@tjaychen @weicaiyang @rswarbrick

Hi .. I changed my test to use 'dut_init' rather than 'apply_reset' and I too see the same issue.

I think basically that at hard rest, the transaction queues need to be cleared.  This would stop this error from happening.

I have also tried adding delay, moving operations around and even setting CONTROL.START back to 0 after the timeout, but I keep getting the s

[2022-01-28 14:10] GregAC opened #10441 "[otbn] RFC: OTBN Blanking"
OTBN Blanking Proposal
----------------------

To reduce potential leakages OTBN will employ blanking where unused data paths are blanked to zero.

This blanking will be applied to:
 * The bignum register files
 * Input to bignum computational units.
 * ISPR register read muxing (in particular to protect the sideload key WSRs)

To achieve this certain muxes will be implemented as a two-level AND/O

[2022-01-28 14:11] GregAC commented on #10441
@vogelpi I'd be interested in your thoughts on this

[2022-01-28 14:43] TimEwins commented on #10189
Spec updated .. close

[2022-01-28 14:43] #10189 closed

[2022-01-28 16:09] Jacob-Levy commented on #10409
Issue got resolved by PR 10437.

[2022-01-28 17:04] msfschaffner opened #10445 "[lc_ctrl] How to structure RndCnst multiplexors"
This has been spun out from #10360.

------------------------------------------------------------------------------

This still has a 1-bit signal to poke (`test_tokens_valid[i] == On`). What I was suggesting in the meeting was that we'd use the four bits of `test_tokens_valid[i]` to control the four 64-bit chunks of the signal. That way, a single-bit fault can't flip the token to zero.

_Original

[2022-01-28 17:05] msfschaffner commented on #10445
We could slice them, but I am not sure it's needed, and I wanted to avoid introducing another way of consuming the LC signals (after all, we ask that they be consumed with a "strict" comparison in each place where they are needed).
The single bit signal is only combinational at this point, which is difficult to attack with just a glitch.
@cdgori WDYT? Is it worth splitting this into 4 slices that

[2022-01-28 17:13] tjaychen commented on #10409
@Jacob-Levy to @rswarbrick point, I really should not jam your PR into that one. I had to include yours in there because I needed to check CI behavior.

I will remove your commit from mine and individually merge the top level fix.  Then we can review this PR standalone.

[2022-01-28 17:14] a-will commented on #1403
One more quick one...
- [ ] Change isochronous register bits so that the IN and OUT endpoints may be configured independently. Isochronous transfers are done over stream pipes, which are unidirectional. The endpoints may be used independently (e.g. one isochronous, one bulk).

[2022-01-28 17:15] tjaychen commented on #10343
@TimEwins do you have any idea where the queue item is coming from? When I looked at this (admittedly a couple of days ago) it looked like before the reset pulse, all the tlul transactions were complete (as far as I could tell).

In fact, there was a small time gap between the last tlul transaction and the last reset pulse, so I'm not sure where it's coming from.  Is there any way for you to dump

[2022-01-28 17:17] tjaychen commented on #10378
yeah that confusion was definitely warranted.  @weicaiyang's suggestion actually works out much better, and even revealed a faulty assertion. I will push a separate header update.

[2022-01-28 17:26] TimEwins commented on #10343
Hi Tim

I think the issue (if it is an issue) is within the Verification domain (in the TL driver code somewhere)

The last write to the flash before the error was to the control register, the transaction times out, status is not returned in a sufficient time (which is expected as the RMA has just happened), I then RESET the TB and DUT.  But for some reason (?) when the TB and DUT come out of rese

[2022-01-28 17:35] tjaychen commented on #10343
@TimEwins do you see this timed out transaction in the waves though?
Because when i looked, there was no pending `a_valid` directed at `flash_ctrl`.  All the transactions that went to `flash_ctrl` had been acknowledged, that's why I find it odd.

[2022-01-28 17:50] tjaychen commented on #10441
I feel like we might need another custom FPGA build if we wanted to do this.. I have some recollection of Michael converting the otbn wide memory to flops when he was experimenting with the inverted ECC. And I'm pretty sure cw310 wouldn't build.

The base side is there to mostly handle control flows right? Do we expect sensitive material to pass through the base side or heavily processed? That doe

[2022-01-28 17:56] mwbranstad commented on #10262
@cdgori chris, can you confirm the last two checklist items, then check them off?

[2022-01-28 17:57] TimEwins commented on #10343
@tjaychen Thanks .. I will take another look

[2022-01-28 17:58] mwbranstad commented on #10095
@cdgori Chris, one checklist item for you, and @moidx Miguel, one for you. Can we get these checked off?

[2022-01-28 18:16] #10296 closed

[2022-01-28 18:30] GregAC commented on #10441
Yeah @vogelpi confirmed prior experiments have shown this won't fit. So let's not worry about this for now

That's the intent, sensitive data should only ever be in the bignum register file.

[2022-01-28 19:15] weicaiyang commented on #10343
This may be because you kill the sequence when a CSR access is ongoing, which causes a deadlock in RAL and we can never issue a new access to this CSR. Also a pending source ID is stuck at the `cfg.a_source_pend_q`.

I check your branch and find below codes that you kill the CSR access, which may cause the UVM_ERROR.
[code]

you can change `join_any` to `join` and remove `disable fork`, so that on

[2022-01-28 19:18] tjaychen commented on #10343
@weicaiyang that's what i was originally thinking too. But I don't see another tlul transaction triggered to flash while the reset occurs.

Are you saying it's possible for the transaction to have been registered in DV but not yet shown up in waves?

[2022-01-28 19:21] sriyerg opened #10453 "[rv_dm] Access to debug ROM space hangs when HW debug en is not set"
Associated logic in `hw/ip/rv_dm/rtl/rv_dm.sv`:
[code]

![image](https://user-images.githubusercontent.com/46467186/151608371-dd0333a6-612e-4bf9-8a49-562da6e1e210.png)

`rom_en` is wired up to `gnt_i` of the `tl_adapter_sram`. When `lc_hw_debug_en` is not set, the access to ROM hangs the bus since the `gnt_i` never gets asserted.

Seems benign, but should this be handled more gracefully as a bus e

[2022-01-28 19:25] matutem commented on #10257
Running 1000 randomizations with the current code and weights False=4, True=2, Others=2 gives the following per value frequency:
mubi 00000000 count 0.016638
mubi 00000001 count 0.016647
mubi 00000002 count 0.016696
mubi 00000003 count 0.016588
mubi 00000004 count 0.016559
mubi 00000005 count 0.499670
mubi 00000006 count 0.020759
mubi 00000007 count 0.021234
mubi 00000008 count 0.020884
mubi 00000

[2022-01-28 19:27] TimEwins commented on #10343
I see the point you are making ..... graceful exit ... yes, its not the write to fifo that is locking up, its the polling of the status .. I'll try this solution .... unless anything else gets added here in the meantime

[2022-01-28 19:28] tjaychen commented on #10445
I think it's okay to leave this one as is.  If someone glitched the valid signal, as you say, they would need to get it to an exact value to have an effect.  If someone were to glitch the mux, they'd still have to attack a few hundred muxes to get the values right.

Even if they did ALL of that, they would still need to find a pre-image value that would then match the new token value.  This all se

[2022-01-28 19:30] weicaiyang commented on #10343
This problem won't be shown in the waves as DUT and driver process correctly.
It's just the sequence that gets stuck.

A CSR read sequence looks like this.
[code]

If we kill the seq in the middle of `do_read`, RAL is in deadlock, and `a_source_pend_q` has a ID that won't be removed.

[2022-01-28 19:49] tjaychen commented on #10343
sounds good, thanks for explaining @weicaiyang

[2022-01-28 20:02] a-will opened #10456 "[usbdev] Packet response compliance gaps (for D2 waiver for M1)"
- [x] Add out_endpoint_enable and in_endpoint_enable so the firmware can decide which endpoints are implemented, not just the Verilog parameters.
- [x] Ignore packets to unimplemented and/or disabled endpoints. A non-existent endpoint can't respond, and the host would have sent a bad token.
- [x] Don't reset the data toggle for ignored SETUP packets.
- [x] Ignore SETUP packets to non-control endpo

[2022-01-28 20:11] a-will opened #10457 "[usbdev] Wake from deep sleep gaps (for D2 waiver for M1)"
- [x] Detect all three possible state transitions in the AON domain, and report back to usbdev, so it may begin in the correct state from Suspended. From highest to lowest priority, those three are (1) VBUS power interruption, (2) bus reset, (3) bus resume.
- [x] Add software-directed change of link state for wake from deep sleep to handle . From discussion on #7950

[2022-01-28 20:14] a-will opened #10458 "[usbdev] Usability gaps for feature completion (for D2 waiver for M1)"
- [ ] Add set stall/nak bits to endpoint registers, so the STALL or NAK response is ready immediately after a buffer is retired.
- [ ] Make IN and OUT endpoints be independently configurable wrt whether they are isochronous.

[2022-01-28 20:19] tjaychen commented on #10457
cc @tjaychen

[2022-01-28 21:05] #10398 closed

[2022-01-28 21:26] mwbranstad commented on #10388
This really seems like a good solution to me, and a proper use of REGWEN.
I am now wondering if we want to do this for EDN and CSRNG as well. It would require splitting out the MODULE_ENABLE bit unfortunately, but it would be consistent across blocks.

[2022-01-28 21:31] tjaychen commented on #10388
@mwbranstad if this seems like a good general solution to you, would you be open to making it a prim cell? :)
then long term either others can re-use it, or we can absorb it into regfile proper.

[2022-01-28 21:38] mwbranstad commented on #10388
I was planning on prototyping this to make sure it is as simple as i think it is. once done, let's discuss what that might look like.

[2022-01-28 22:00] timothytrippel commented on #9744
As discussed offline, @sriyerg will make updates to the testpoint names in the testplan to resolve this.

[2022-01-28 22:49] msfschaffner opened #10462 "[lc_ctrl] Add debug register for observing critical system signals"
This is a future enhancement identified on #10444.
A debug register could be added to `lc_ctrl` in order to expose important system-level signals through the life cycle TAP.

[2022-01-28 22:55] cdgori commented on #10095
Done, but you will have to check the box as I cannot edit your comment.

For anyone else doing this work, I decided to align the order in the spreadsheet with the order in the hjson for easier maintenance in the future at the expense of a little tedium now.

[2022-01-28 23:07] sriyerg opened #10463 "[RV_DM] TL integrity alert not firing on ROM device interface"
The test sends a TL access over `rom_tl_d_i` interface with TL intg corrupted on both, address and data channel. The expectation is for RV_DM IP to detect the integrity violation and raise an alert, which it does not do so.

The debug ROM reg top `rv_dm_rom_reg_top` forwards the TL access to the window and assumes that the TL intg check will be done by the next stage (TL ROM adapter or the memory

[2022-01-28 23:09] msfschaffner commented on #8629
Closing since the KMAC is now also using `prim_double_lfsr`.

[2022-01-28 23:09] #8629 closed

[2022-01-28 23:35] timothytrippel opened #10465 "[sw/rom_ext_image_tools] Cargo.lock file is checked in to support sim tooling"
Currently, we do not check in Cargo.lock files across our repository. This caused an issue when trying to satisfy changing rust crate dependencies on internal DV simulation infrastructure to enable running chip-level tests with mask ROM (instead of just test ROM). see #10394.

According to Rust [development guidelines](https://doc.rust-lang.org/cargo/faq.html#why-do-binaries-have-cargolock-in-vers

[2022-01-28 23:55] cdgori commented on #10262
I added the missing countermeasure and aligned the entire spreadsheet with the HJSON, so those 2 tasks are complete.

I can't edit your comment to check the boxes though (?)

[2022-01-29 01:33] tjaychen commented on #10388
sounds good, thanks mark.

[2022-01-29 01:42] sriyerg opened #10468 "[RV_DM] Writes to debug ROM do not return an error response"
The fix for this is simple - instantiate `tl_adapter_sram` for the ROM window with `ErrOnWrite` parameter to 1. Otherwise, writes to the debug ROM (though unlikely to happen), go through without any effect. But maybe there is a specific reason why this parameter was not set?

[2022-01-29 01:49] tjaychen commented on #10468
yeah it would not hurt to add it. I think it was probably an oversight that it was not.

[2022-01-29 02:20] tjaychen opened #10469 "[top] Connect debug observe bus between ast and otp_ctrl / flash_ctrl"
AST has a debug observe function that must be hooked up between otp_ctrl and flash_ctrl.

@Jacob-Levy has already implemented the ast side function, but currently the `prim_flash` and `prim_otp` functions are still missing.
@arnonsha @danaagur @zi-v can you guys let us know when the prim functions are in and we can make the appropriate hook-up?

[2022-01-29 02:20] tjaychen commented on #10469
I'm not able to add Dana to the assign list.

[2022-01-29 02:25] msfschaffner opened #10470 "[hmac] Indicate in the docs that the design is not a hardened implementation"
This came up in #10362. We should probably align the HMAC docs accordingly.

---------------------------------------------------------

Sorry for post-merge comment.  This is fine in general for me.  I think it feels a little weird to have HMAC considered a non-security IP, I get why it is marked so, but I'm not sure how we indicate to potential consumers very very strongly that it's not hardened

[2022-01-29 02:27] tjaychen commented on #10470
yeah we can certainly add it. I can throw something in.
Its' certainly worth pointing out there are no sca / fi countermeasures.

[2022-01-29 03:08] alphan opened #10472 "Add `hmac_sha256()`"
nit: maybe at this point we should have a one shot function as well for `hmac_sha256()`

_Originally posted by @moidx in https://github.com/lowRISC/opentitan/pull/10451#discussion_r794924478_

[2022-01-29 05:21] sriyerg commented on #10468
The debug ROM is read only, right? I am going through PULP and riscv debug spec and honestly I cannot say for sure yet.

See:
https://github.com/lowRISC/opentitan/blob/master/hw/vendor/pulp_riscv_dbg/doc/debug-system.md#debug-memory

It says the debug ROM has CSRs, RAM and a program buffer. It also says its 16kB, whereas our HJSON marks it as 1K region.

[2022-01-29 20:45] mwbranstad commented on #10388
Not much code to it:

  logic es_regwen_hw;

  assign hw2reg.regwen_hw.de = 1'b1;
  assign hw2reg.regwen_hw.d = es_regwen_hw;
  assign  es_regwen_hw = reg2hw.regwen_sw.q && !es_enable_pfe;

[2022-01-29 21:04] mwbranstad opened #10477 "[csrng/security] Access to key and v register issue - security lab feedback"
An issue was brought in the CSRNG D2S review about how access should be allow for the key and v register fields in the internal state registers. More details to be supplied by @moidx.

@tjaychen
@msfschaffner

[2022-01-29 21:18] arnonsha commented on #10379
This is strange
I am running the same version and get this warning, without any special flags.
According to documentation there's a "-boundscheck" option that can be used. Can you please try at your end ?

[2022-01-29 21:31] cindychip opened #10478 "[otp_ctrl] background check does not take `CONSISTENCY/INTEG_CHECK_PERIOD` csrs until one timeout triggered"
Hi Michael,

With recent issue found about how OTP uses prim_count: https://github.com/lowRISC/opentitan/issues/10378
And Tim's fix: https://github.com/lowRISC/opentitan/pull/10386
I do not think OTP treats the `CONSISTENCY/INTEG_CHECK_PERIOD` as before -

In previous assumption, prim_count will output 0 if the counter is not enabled.
However, in the new prim_count implementation, because we confi

[2022-01-30 00:12] tjaychen commented on #10388
just to confirm Mark, does this mean there are separate regwen_sw and
regwen_hw fields?
Originally I was thinking you could just have one regwen field, of course,
that would require more tracking externally.

On Sat, Jan 29, 2022 at 12:45 PM mwbranstad ***@***.***>
wrote:

[2022-01-30 00:13] tjaychen commented on #10477
o damn seriously? @moidx is this related to one of the FIPs test?
@mwbranstad was there any discussion on whether this read feature needs to be software and/or otp qualified?

[2022-01-30 00:15] tjaychen commented on #10468
i will have a look. There is definitely a ROM to read out default debug instructions, there is also way to shove in extra instructions for the core to know what to do.  I don't remember what path is where anymore (been a long time since I looked at it).
But I would think the path to the actual rom read should be error on write.

[2022-01-30 00:22] martin-lueker commented on #10388
Hi @tjaychen, looking at the [register topology for rw1c regs](https://docs.opentitan.org/doc/rm/register_tool/subreg_rw1c.svg)
from the regtool documentation, if you only use one, you can't achieve HW reversibility.   We could of course create a new register type or REGWEN interaction model within regtool, but that would be much more complex in scope.

[2022-01-30 15:56] TimEwins opened #10480 "[flash_ctrl] Compilation Errors In Base Testbench"
I am seeing the following issues in the base testbench components, which are giving me compilation errors.  Note this is using Xcellium

1) File : mem_bkdir_util.sv

Error seen:

[code]

Code and possible fix:

[code]

2) File: cip_base_pkg.sv

After 'fixing' the bove problem locally, I now see this

Error Seen:

[code]

Code Fix - Temporary Comment Out Lines:

[code]

I have made these 'fixes' lo

[2022-01-30 17:08] mwbranstad commented on #10388
To keep it simple and useful, we need two REGWENs. The third is already place (REGWEN_ME) which some use case might use to truly lock everything down. however I do not see OT using this option so far.

[2022-01-30 17:10] mwbranstad commented on #10477
@tjaychen I honestly do not recall what the real issue is here - I just created the issue to track, hoping that @moidx would add in the specific details. Maybe we can drop this issue as it may not be a problem, but let's see what the response is.

[2022-01-30 17:21] mwbranstad commented on #10262
@msfschaffner all the boxes are checked now. Should we close this issue, or are there some additional steps to do before that happens in the security review flow?

[2022-01-30 17:21] mwbranstad commented on #10096
@msfschaffner all the boxes are checked now. Should we close this issue, or are there some additional steps to do before that happens in the security review flow?

[2022-01-30 17:22] mwbranstad commented on #10095
@msfschaffner all the boxes are checked now. Should we close this issue, or are there some additional steps to do before that happens in the security review flow?

[2022-01-31 09:28] rswarbrick commented on #10445
The thing I'm worried about is that we've got a 1-bit signal that controls 128 1-bit muxes and one input to these muxes is the values that came from OTP. But that's going to be `'0` when things haven't been provisioned yet (if I understood Michael correctly). So the attack would be to flip that one bit somehow and then find a SHA-3 pre-image of a single known vector. I don't know how difficult tha

[2022-01-31 10:18] rswarbrick commented on #10480
Nit: If you're putting big code examples in a GitHub issue or PR, please use markdown to make them more readable. I'll fix this up now, but it will save people time if you can do it yourself.

[2022-01-31 10:23] rswarbrick commented on #10480
For the first fix: yep, I completely agree. Please could you make a PR?

For the second, the problem is that @msfschaffner switched the `lc_ctrl_t` encoding in d4655407b4. We were surprised that nothing broke, but it looks like we spoke too soon :-) The easiest fix is probably to define a function from `logic [3:0]` to itself that is a bijection and maps the true/false magic values appropriately.

[2022-01-31 10:34] TimEwins commented on #10480
@rswarbrick As this is backbone TB code, it is not directly under my control (flash_ctrl), so I would suggest one of the other assignees take a look at this.  I am not sure I am allowed to PR for these changes.  Thanks.

[2022-01-31 10:40] rswarbrick commented on #10480
You absolutely are! That's the joy of an open source project :-) Otherwise, someone will probably fix things eventually but it's going to be much quicker to do it yourself!

[2022-01-31 10:40] #9488 closed

[2022-01-31 11:47] rasmus-madsen commented on #8460
@vogelpi @cindychip
we need to resolve this fairly quickly as it is holding back PRs due to CI failures
I am inclined to just exclude the registers

[2022-01-31 17:20] vogelpi opened #10487 "[sw, dif, aes] The AES DIF is mixing up MODE and OPERATION"
The AES DIF is currently mixing up different fields of the AES main control register such as MODE, OPERATION and MANUAL_OPERATION. From the documentation, the meaning of these fields should be pretty clear:

![operation_mode](https://user-images.githubusercontent.com/20307557/151838737-47e895e1-0f07-411e-a554-86c3b5c30c77.png)
![manual_operation](https://user-images.githubusercontent.com/20307557/

[2022-01-31 17:21] vogelpi commented on #10487
@martin-lueker @doreis-lowrisc @mundaym

[2022-01-31 17:26] vogelpi commented on #10487
Here is the PR fixing point 2 and 3: #10483

[2022-01-31 17:33] vogelpi commented on #4833
I've ticked some boxes and linked the corresponding PRs + added some new boxes, sorry :-/

@doreis-lowrisc since you have been working on the AES DIF and unit tests before.

[2022-01-31 17:44] msfschaffner commented on #10445
Note that the comparison of the token is done three times in different cycles.
Since this is a combo signal, it would therefore have to be glitched in 3 different cycles AND you would have to make sure the glitch propagates to all 128 individual mux cells as @tjaychen pointed out.

However, @rswarbrick is right that the unprovisioned token value is all-zero, which may (?) be easier to find a colli

[2022-01-31 17:56] tjaychen commented on #10480
I think @sriyerg is looking at a different overall fix for this as well.
But we should probably merge something quickly.

[2022-01-31 17:57] moidx commented on #8460
I agree with @tjaychen. It is possible for software bugs to trigger recoverable errors, inclusive when operations are interrupted due to unexpected context switching.  An attacker with access to the software interface will presumably know how to trigger this error by looking at the RTL, so I think hiding this information is has a lower security value in our implementation.

I prefer to prioritize

[2022-01-31 18:27] tjaychen commented on #10388
sounds good. I'm not against whatever is here.
I should just clarify that I was thinking you could use `hwext` mostly to do this.

So like i mentioned before, if it's `hwext` you have the freedom to a lot of different kinds of detection.
This is fine too however.

[2022-01-31 18:28] tjaychen commented on #10477
sounds good.
if we do need access to these internal states, it would be good know if we need otp / software qualification like we do with the entropy_src internal state override.

[2022-01-31 19:12] msfschaffner commented on #10445
Ok, in that case, let me add the steering. It should be a minor fix without DV impact.

[2022-01-31 19:48] msfschaffner commented on #10096
@mwbranstad we can close it once the D2S prj.hjson has landed. You could even do this automatically by adding `Fixes #10096` to the commit message of the D2S prj.hjson commit.

[2022-01-31 20:08] msfschaffner commented on #10096
@mwbranstad, a few questions regarding the D2S opens:
1) Should #10388 be addressed before we declare D2S?
2) Can you add the link to the following issue? I don't seem to find that one `[Martin] File issue for future improvements: split out fatal error conditions into indication CSRs`
3) In general it would be good to indicate where things have been addressed if possible, either providing the link

[2022-01-31 20:15] msfschaffner commented on #10160
We already have a piece of hardware that basically does what this circuit has to accomplish (finding a max value using a binary tree implementation), and that one sits in the `rv_plic`:

https://github.com/lowRISC/opentitan/blob/647f929903e33d2eef25506487522ae13de8296e/hw/ip_templates/rv_plic/rtl/rv_plic_target.sv#L10-L24

I can move this to a primitive real quick so that we can reuse the same cir

[2022-01-31 20:18] msfschaffner commented on #10262
@mwbranstad same comment as on https://github.com/lowRISC/opentitan/issues/10096#issuecomment-1026162205, number 3). Also, some of the links above seem to be broken.

[2022-01-31 20:19] tjaychen commented on #10160
thanks for the reminder @msfschaffner ! i completely forgot about this.

[2022-01-31 20:21] msfschaffner commented on #10095
@mwbranstad same comments as on https://github.com/lowRISC/opentitan/issues/10096#issuecomment-1026162205, number 3).

We'll close the issue automatically with the prj.hjson update.

[2022-01-31 21:06] matutem commented on #10257
Sri, I found xcelium was failing and perhaps this is why it was reopened? I have a fix for it.

[2022-01-31 21:12] sriyerg commented on #10257
Yes, thats right. IMO the distribution will need to be an autogenerated piece of code.

[2022-01-31 22:09] sriyerg commented on #10480
#10494 fixes the second issue.

[2022-01-31 22:11] sriyerg commented on #10480
You are free (and encouraged) to change anything that needs to be fixed - that is why we have a strict code review process in place.

[2022-01-31 23:02] moidx commented on #10477
We will need access to the internal state for compliance testing. This is something we can do now with the right OTP config settings. I am not sure if it will be required for KAT tests as well, but it seems that should work as well.

We have a chip level test that exercises this interface:

https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/tests/csrng_smoketest.c?q=check_internal

[2022-01-31 23:10] cindychip commented on #9202
@eunchan @doreis-lowrisc
I am super sorry for the late reply, somehow I totally missed this comment and thought it was fixed - We do have DV checks the fifo empty interrupt, and I did see some corner case as below:
Looks like the signal in `prim_fifo_sync`, the signal `wvalid_i` will gate the fifo_empty signal, even though the ptr_rd and ptr_wr are equal.
![image](https://user-images.githubusercon

[2022-01-31 23:17] msfschaffner commented on #10468
Some sections inside the RV_DM address space are read only, including the `debug_rom` and the modifiable instruction buffers that Tim has mentioned above (these can be modified from the debugger / JTAG side only). However, looking at the RV_DM CSRs, there are some writable regions in there, too.

So if we want to handle this properly, we probably have to return a bus error based on the address dec

[2022-01-31 23:31] cindychip commented on #9202
I tried a test sequence that only stream in 4 bytes of data. Looks like FIFO empty is not asserted until KMAC is done.
Is that work SW is waiting for?

![image](https://user-images.githubusercontent.com/11466553/151889928-53b1cc8d-fc28-4115-8663-e65d7bc3f577.png)

[2022-01-31 23:32] msfschaffner commented on #10468
Looking at this some more, I see that the ROM is marked as entirely read-only in the Hjson. This may be one of the reasons why some of the debug module functions do not seem to work anymore on some of the FPGA mappings (so this here may be related: https://github.com/lowRISC/opentitan/issues/7759). This is probably a bug that I introduced when I converted this IP into a fully comportable module so

[2022-01-31 23:33] msfschaffner commented on #10468
As for the `rv_dm` address region size: The address map listed on https://github.com/lowRISC/opentitan/blob/master/hw/vendor/pulp_riscv_dbg/doc/debug-system.md#debug-memory
goes up to 0x808, which is 514 words. So this is probably why the Hjson just configures this to the next power of two (1024 words or 4kB). If we want to be on the safe side we can increase this to 4096 words / 16kB, but I don't

[2022-01-31 23:35] tjaychen commented on #10468
does this part actually matter? since we configure it as a window, i'm not sure the read attribute is actually checked inside the reg top. Is that what you're referring to?

[2022-01-31 23:39] tjaychen commented on #10468
since @msfschaffner points out that `dm_mem` internally contains writes, should we just include that entire address range from random csr read write tests? It feels a bit similar to the tlul window exposure where at the moment we don't have a good way of specifying the underneath attributes.

[2022-01-31 23:49] msfschaffner commented on #10468
Ah, you are probably right - we just pass the bus through in that case:
https://github.com/lowRISC/opentitan/blob/a45456ab3434369c06d62bc249970e5a8669bd70/hw/ip/rv_dm/rtl/rv_dm_rom_reg_top.sv#L46-L47

[2022-01-31 23:53] msfschaffner commented on #10468
yeah that would make sense. do we randomly write to windows by default?
because the `rv_dm` region is exposed through the window specified in the ROM TL-UL plug (we should probably rename that to DM_MEM or something).

[2022-01-31 23:57] tjaychen commented on #10468
i'm sorry, i meant to say "Exclude". Because I think in automated csr testing we do assume it could behave like a memory and read-write the whole thing. So if we say its ro, it might try to write it, and either expect an error or expect that nothing has changed.  If we say its rw, it might try to write it and see if the change is reflected.  I think if we really want to get around this, we'd need

[2022-02-01 00:07] msfschaffner commented on #10468
yeah I agree. since the `rv_dm` has mixed attributes underneath (it's basically like another CSR node behind a comportable IP window), excluding this from automated tests is probably the easier way to deal with this right now.

[2022-02-01 01:04] sriyerg commented on #10468
Yes, we can exclude it. Though, `dm_mem` region is a lot more nuanced than just a window (which we assume to be a rom or an sram). We will need to somehow (manually :( ) replicate those regions as DV abstractions to make our automated tests effective.

[2022-02-01 01:17] #10480 closed

[2022-02-01 01:17] timothytrippel opened #10498 "[dv] Enable running OTTF-launched tests with both test and mask ROMs"
# Overview
Currently, all OTTF-launched tests (e.g., chip-level tests and, future, mask ROM E2E tests) are only run via the test ROM. However, we need to run said tests with mask ROM as well. To facilitate this, several problems must be addressed:

# Problems
1. The dvsim environment is not configured to be able to load different ROM images into the simulated ROM, and signed binaries into flash.

[2022-02-01 01:20] timothytrippel commented on #10498
CC: @moidx @alphan @sriyerg

Just filing this issue to track the tasks needed to complete this.

[2022-02-01 01:31] weicaiyang opened #10499 "[TLUL integrity] check data_intg for a_data"
Hi @tjaychen

From the codes below, we skip checking data_intg error on address channel when it's a read.
https://github.com/lowRISC/opentitan/blob/8904a5884e6429307cfd8a2b98790c99a9a2bb93/hw/ip/tlul/rtl/tlul_cmd_intg_chk.sv#L42-L43

The a_data is useless to the block, when it's a read. But is it better to also check it, in case there is an attack which happens to flip this data bus.
This is very

[2022-02-01 01:33] tjaychen commented on #10499
ah i think i might have done that because i thought the dv randomization during reads puts X on the data bus.
Is that not the case? If it's always randomized, then yes it's almost free to also check it.

[2022-02-01 01:43] weicaiyang commented on #10499
We only use X for data when valid is 0. For read, a_data is random data.
Let me make a PR to remove the condition `wr_txn`.

[2022-02-01 01:44] tjaychen commented on #10499
sounds good.

[2022-02-01 05:12] msfschaffner commented on #10478
Thanks @cindychip, this should be an easy fix.
Note that we probably have to fix the same thing in the alert_handler as well (it's at least worth checking, since that one uses the down count output in the same way).

[2022-02-01 06:24] timothytrippel opened #10504 "[sw/dif] DIF milestone requirements / checklists are outdated"
The [DIF milestones listed on the website](https://docs.opentitan.org/hw/) are outdated. While some DIFs are still missing implementations, most are complete, and being used by chip-level tests already. We probably should do one of the following:
1. update the milestones to reflect the actual state of of the DIFs, or
2. remove this tracking information from the website.

Given that the DIF milesto

[2022-02-01 09:02] #10463 closed

[2022-02-01 11:01] vogelpi commented on #10379
Oh, checking the logs again I can see the warnings, too. After discussing with @rswarbrick it looks like VCS has a problem with this ternary. I will prepare a PR to fix it.

[2022-02-01 14:37] mwbranstad commented on #10477
From a controls point of view, CSRNG internal state access is the same as ES register access to entropy right now. It seems that if the KAT is to verify the NIST vectors, it would need access to the internal state, which it does when controls are set properly. Is there still an issue here, or can this issue be closed?

[2022-02-01 15:45] mwbranstad commented on #10096
A1: #10388 can be added to the list. It did not start out as a security topic, but morphed into one.
A2: It was determined that the ERROR_CODE status register does this function, so no issue was opened.
A3: Will review again, but thought every AI had either a link or some explanation.

[2022-02-01 16:11] mwbranstad commented on #10095
Links added where needed.

[2022-02-01 16:12] mwbranstad commented on #10262
Fixed broken links.

[2022-02-01 16:28] m-temp opened #10516 "[kmac] fatal and recoverable alerts seem to be mixed up"
While having a look at KMAC it seems like the fatal and recoverable alerts got mixed up in https://github.com/lowRISC/opentitan/pull/7439

In [kmac.sv lines 1131-1163](https://github.com/eunchan/opentitan/blob/78b1e671fcabb21a64ccbd57986716273928b6b2/hw/ip/kmac/rtl/kmac.sv#L1131-L1163) it states:
[code]

`IsFatal(i)` is true for `i=1`, but the fatal alert is declared to be `[0]`. Do I miss here so

[2022-02-01 16:28] msfschaffner commented on #10445
This issue has been addressed in #10496.

[2022-02-01 16:28] #10445 closed

[2022-02-01 16:41] #10294 closed

[2022-02-01 16:42] timothytrippel commented on #10504
As we discussed during the SW WG, it is OK to keep the DIF milestones on the website, provided we do the following:
1. keep the various DIF milestones (S1, S2, S3) lean, specifically many of the milestone requirements are not necessary anymore and can be removed, including, but not limited to:
    - DIF_TEST_SMOKE
    - DIF_HW_USAGE_REVIEWED
    - DIF_HW_PARAMS
    - DIF_CODE_STYLE
    - DIF_REVIE

[2022-02-01 16:57] msfschaffner commented on #10504
CC: @sriyerg @tjaychen

[2022-02-01 17:18] cindychip commented on #10478
Thanks Michael, alert_handler does have some timeout today. I will dump waves and take a look today.

[2022-02-01 17:27] patel-madhuri commented on #9963
Thank you for the feedback. As we now have clear understanding, I am closing this issue.

[2022-02-01 17:27] #9963 closed

[2022-02-01 17:30] #9714 closed

[2022-02-01 17:33] sriyerg commented on #10504
Possibly controversial opinion here ;)
I would get rid of unit testing requirements given the amount of work left for chip V2. I don't think there is a need to verify that the verification code works. Or, postpone to S3 if we must.

[2022-02-01 17:34] timothytrippel commented on #10504
I think we definitely move to S3 at the least.

[2022-02-01 17:46] tjaychen commented on #10477
it sounds like the original issue was more about whether storing the internal state without integrity is okay with labs. So probably no need to change anything until we hear back.

[2022-02-01 17:48] eunchan commented on #10516
Thanks for finding this. I will fix it.

[2022-02-01 18:21] rasmus-madsen opened #10518 "[aes/reseeding] DUT REPORTS status IDLE and INPUT_READY when in fact not ready"
reproduce
get aes_sideload branch from my repo
sha 40ea78453ef2af47413c690299b1089effef504b
seed = 2261118925
./util/dvsim/dvsim.py hw/ip/aes/dv/aes_sim_cfg.hjson -i aes_sideload -r 1 -t vcs -w=vpd -s=2261118925 --verbosity=m

When writing the CTRL shadow reg which requires two writes to update the DUT status register reads idle - while the dut idle output indicates that In fact the dut is busy, t

[2022-02-01 18:25] rasmus-madsen commented on #10518
@vogelpi if you want to use the mnemonic for the address bus like above.
save this in a file

[code]
the file format is not important.
in the DVE wave right click and go to radix->user-defined->edit
click new
add a name
set the check mark in table based
click import and find your file.
then click apply, and then ok.
 let me know if you have any trouble

[2022-02-01 18:37] cindychip commented on #10327
@sha-ron could you check if https://github.com/lowRISC/opentitan/blob/master/hw/top_earlgrey/dv/env/seq_lib/chip_jtag_csr_rw_vseq.sv meets your need?
With that test and setting, you can use `csr_wr(.ptr(ral.close_otp_addr), .data(any_data))` to write, and similarly `csr_rd` to read out close source OTP regsiters.
And if close source top-level `chip_csr_rw` test can run without any error, this `chi

[2022-02-01 18:39] cindychip commented on #10412
Thanks @tjaychen , yeah current DV did not check any unused regwen. But I can make add a quick check in DV to ensure every regwen has its enabled registers under it. Does that meet your need?

[2022-02-01 18:54] tjaychen commented on #10412
ah i was thinking we would check this directly on the regtool side. I wasn't originally thinking to put this on DV.
Do you think it would be easier on DV..?

[2022-02-01 18:57] cindychip commented on #10412
Not too hard for DV to check, the only downside is that if the IP does not have a DV testbench...

[2022-02-01 18:59] tjaychen commented on #10412
ah sounds good. Maybe let's see if we can manage this in the regtool first.
Because the regtool does do "some" kind of checking already.

On Tue, Feb 1, 2022 at 10:57 AM cindychip ***@***.***> wrote:

[2022-02-01 20:25] sha-ron commented on #10327
Thanks Cindy, I don't think we need the full csr_rw test for now (but it will be very good for the future of course).
Did you try to run any JTAG transaction (even just one write and read) in the close source database?

[2022-02-01 20:31] msfschaffner commented on #10478
Ok. Note that the patch above might already have taken care of this problem.

[2022-02-01 20:36] arunthomas commented on #8739
@colinoflynn Thought I'd send a ping for the status of OpenOCD/JTAG support for CW310. Thanks a lot!

[2022-02-01 20:53] msfschaffner opened #10523 "[rv_core_ibex] D2S Review Opens"
- [x] #10914, #11076
- [x] [msf] Add MUBI ADD/OR functions for LC -> #10560
- [x] [greg] Add a multibit encoded fetch enable signal (see notes for details) -> https://github.com/lowRISC/ibex/pull/1538, #11076
- [x] [greg] Add prim_buf around bus integrity checkers as described in notes, correction (vogelpi): I meant we should add prim_bufs around the regfile integrity checkers for the main core (s

[2022-02-01 20:53] msfschaffner commented on #10523
CC @tjaychen

[2022-02-01 20:57] #10335 closed

[2022-02-01 21:19] tjaychen opened #10524 "[spi_device] mode description in hjson"
it looks like the [mode description](https://github.com/lowRISC/opentitan/blob/master/hw/ip/spi_device/data/spi_device.hjson#L152) in hjson is out of date.

[2022-02-01 21:27] mwbranstad commented on #10477
ah yes, that now sounds familiar, makes sense.

[2022-02-01 21:36] moidx commented on #10504
These changes seem reasonable to me.

[2022-02-01 21:43] arunthomas commented on #10504
SGTM too

[2022-02-01 22:04] colinoflynn commented on #8739
@alex-dewar has this "seemingly" working - the code works on other platforms and he was seeing what (looked) like appropriate activity on the relevant lines. But no response was seen - I think there is a CW310 firmware with this enabled but I'll let him chime in to confirm. We hadn't tested with latest CW310 I admit so that was our next step but delayed for other reasons.

Is there an easy way to

[2022-02-01 22:49] eunchan commented on #10524
Thank you for finding it. I will address this right away.

[2022-02-01 22:49] moidx opened #10532 "[hw/aes] Support IV save/restore flows"
The software implementation of the crypto library that wraps the AES interface expects the IV register to be readable and updated after each block operation. This is to support AES context switching for long running operations at the API level, as well as to facilitate the implementation of additional decoy operations which may be needed to meet our hardening goals of the crypto library.

Currentl

[2022-02-01 22:53] moidx commented on #10532
CC: @vogelpi, @jadephilipoom

[2022-02-01 23:19] moidx commented on #10441
LGTM. All data paths potential points of failure were considered in this proposal to avoid unintended glitch propagation of secret shares. Performance impact has been discussed previously in different forums.

[2022-02-02 01:06] cindychip opened #10538 "[dv/cip_env_cfg] reduce the flag has_shadowed_regs"
Detailed discussion see PR: https://github.com/lowRISC/opentitan/pull/10528#discussion_r797169804

[2022-02-02 03:38] msfschaffner opened #10541 "[otp_ctrl/flash] Determine how to proceed with wrapper signoff"
As it stands now, the open-source review and sign-off processes for `otp_ctrl` and `flash_ctrl` do not take into account any closed-source wrapper aspects.

To that end, I believe we had started to follow the OpenTitan checklist for the closed-source wrappers some time ago, and they should be somewhere around D1-D2 now if I remember correctly.

As we're working towards our next milestone, we shoul

[2022-02-02 03:59] msfschaffner commented on #10504
That SGTM as well.

[2022-02-02 04:21] tjaychen commented on #10541
I think we need to view this as a "per" technology / vendor milestone process.
So we can still proceed with Dx / Vx as we know it, but that should probably be defined to mean the open source implementation.

To me it makes sense to probably have a separate set of tracking for whichever technology node we are targeting (so if we had multiple, we would also need to target multiple).

This makes thin

[2022-02-02 06:03] alex-dewar commented on #8739
Yup, https://github.com/newaetech/chipwhisperer/blob/develop/software/chipwhisperer/hardware/firmware/cwbergen.py has OpenOCD support enabled. You'll need the latest commits from the chipwhisperer repo as well. With newest firmware/chipwhisperer sw, doing

[code]

will cause the CW310 to reenumerate with two custom interfaces instead of one custom interface and two CDC serial ports.

I'm going to

[2022-02-02 06:56] ankasol commented on #10541
My recommendation is to discuss this as a team and with Dom and see what we can do. But linking the open source with Nuvoton I don't believe is the right approach, as well linking Nuvoton code to D2x/Vx milestones. Soon we'll have a 2nd source so we need to come with a solution to differentiate between open source and close source and have "per technology / vendor milestone process.

[2022-02-02 09:54] suehnel opened #10543 "Compile for pwm and i2c fails because of a fatal error"
When running the simulation for pwm I get a compilation fatal error related to project macros.
See here
file: ../src/lowrisc_dv_cip_lib_0/cip_base_pkg.sv
  `_DV_MUBI_RAND_VAL(4)
                      |
xmvlog: *E,ILLPRI (../src/lowrisc_dv_cip_lib_0/cip_base_pkg.sv,94|22): illegal expression primary [4.2(IEEE)].
(`define macro: DV_CHECK [../src/lowrisc_dv_dv_macros_0/dv_macros.svh line 86], `define

[2022-02-02 10:55] rswarbrick commented on #10543
Thanks for the report. This was fixed by 5d9ed6e, so pulling the most recent version of the repo should get things working again.

[2022-02-02 10:55] #10543 closed

[2022-02-02 13:55] rasmus-madsen opened #10544 "AES Fails Decryption using Nist vector examples"
This is a directed test that used to work in sha 02e982f3b357340ab49e2d8c2580c77253480b65
there has been quite a lot of changes since then, but none that should affect the test.

the first encryption goes well - but the decryption fails.
the output from the DUT does not match expected. (all seeds fail with same issue since the test pattern is static)

I have verified that the correct key and data

[2022-02-02 14:16] alphan opened #10545 "[opentitantool] test data"
Would a PathBuf be more appropriate?

_Originally posted by @mcy in https://github.com/lowRISC/opentitan/pull/10450#discussion_r796019001_

[2022-02-02 14:17] alphan commented on #10545
It looks like `sw/host/opentitanlib/src/util/image.rs` uses a similar function, we should update both the one added #10450 when we revisit this.

[2022-02-02 15:03] alphan commented on #10504
SGTM

[2022-02-02 17:09] rswarbrick opened #10547 "[otbn,dv] Add a check to make sure wiping does something"
Commit 3a9ea9bc1 cunningly avoids us having to model the secure wipe timing in the ISS, but it does mean that we don't actually check that some pseudo-random data was written before the zeros.

Change the C++ code so that instead of storing `loc -> value`, it stores `loc -> list value` for a trace entry. Then the comparison should just check the end of the list (matching the existing behaviour). B

[2022-02-02 17:25] tjaychen commented on #10409
i will close this now since i think this problem is resolved.

[2022-02-02 17:25] #10409 closed

[2022-02-02 17:25] tjaychen commented on #10343
@TimEwins just wanted to check-in to see if there's anything gated on me for this issue?

[2022-02-02 18:02] tjaychen commented on #10343
sounds good. I just wanted to make sure you were not waiting on something.

On Wed, Feb 2, 2022 at 9:52 AM TimEwins ***@***.***> wrote:

[2022-02-02 18:16] alphan opened #10549 "[sw/silicon_creator] EXPECT_DEATH instead of ASSERT_DEATH in unit tests"
Nit: this can be EXPECT.

_Originally posted by @mcy in https://github.com/lowRISC/opentitan/pull/10522#discussion_r797888010_

[2022-02-02 19:44] #10160 closed

[2022-02-02 19:59] sha-ron opened #10554 "[dv/top_level] Randomize jitter for the system clock"
Enable and disable jitter in tests that activate modules that use the system clock

[2022-02-02 21:49] m-temp commented on #8982
#9583 adds the lc_ctrl_escalate_en input and a first draft for a local escalation.

@tjaychen What do you exactly mean with "suppress the output capture"? Set a random/all-zero digest and bring all output ports of the FSM/KMAC in a defined and secure state?

What also could be discussed in this issue: Do we need key wiping for `sw_key_data`?

[2022-02-02 21:51] msfschaffner commented on #10096
Thanks @mwbranstad. It looks like the only pending item is #10520 - after that EDN appears to be good to go.

[2022-02-02 21:52] msfschaffner commented on #10071
Testplan support for countermeasure items in Hjson is about to be added in #10556 by @sriyerg.

[2022-02-02 21:59] tjaychen commented on #8982
so aes has a mechanism where basically if a fault is detected, it does not populate the output registers with results. Because those results could be used as a kind of attack vector.  So either we don't allow the `de` to be set, or we can simply populate with random data, both would work.

The `sw_key_data` is the software supplied key correct?  Since that is `wo`, there is no way already for soft

[2022-02-02 22:04] msfschaffner commented on #10262
Thanks for fixing them @mwbranstad. Just noting here that it seems interesting to see several mentions of https://github.com/lowRISC/opentitan/pull/10132 which does not touch any of the EDN files... did you perchance paste the wrong reference?

[2022-02-02 22:23] eunchan commented on #9202
Thanks for testing @cindychip . As we discussed offline, this shouldn't be a problem right? Can we close this issue?

[2022-02-02 22:46] msfschaffner opened #10561 "[lc_ctrl] System-wide alignment of lc_tx_t usage"
This is a low-prio cleanup task (post ES), intended to align the usage of the `lc_tx_t` with how we are using `mubi*_t` today. I.e., leveraging pre-defined functions for AND/OR combinations and tests (reductions to 1 bit), rather than manipulating the signals directly in RTL.

To this end I prepared functions similar to what is available in [prim_mubi_pkg.sv](https://github.com/lowRISC/opentitan/b

[2022-02-02 22:51] cdgori commented on #10441
LGTM too.  I looked at all of the code in `otbn_alu_bignum` and the identified sections of `otbn_controller` and that all seems good.

Thinking about the FPGA case a little, could you possibly implement the regfile read blanking by doing something to the read address ports instead (rather than the output data)?  That might make things more palatable for the FPGA version too (?)
I haven't thought a

[2022-02-02 23:10] cdgori commented on #10445
To my knowledge, I don't think all-zero is easier to collide, though it's possible that more rainbow-table type of things might be available for all-zero output.

[2022-02-03 00:20] msfschaffner commented on #10445
Yes what you mentioned is what I was thinking about.
It's probably good to avoid a token value with a `nicely` aligned value of some sort (all-zero in this case).

[2022-02-03 00:22] tjaychen commented on #10445
i can't completely remember now, but are we running sha3 or kmac when generating the tokens?
I thought it was the latter for some reason...which would mean there's another key to break.
I'm guessing this is only sha3?

[2022-02-03 01:18] msfschaffner commented on #10303
All items here have been addressed, and the IP has been moved to D2S.

[2022-02-03 01:18] #10303 closed

[2022-02-03 01:23] msfschaffner commented on #10445
We're running cSHAKE128 with a custom function string ('lc_ctrl'). so it is a sha3 variant and does not do any additional authentication. were you referring to the authentication part above?

[2022-02-03 01:36] tjaychen commented on #10445
ah... okay. That's too bad, if we were running kmac I think the collision would be less of a concern since there is yet another constant to break.

If it's actually just cshake it's probably better to not have 0's then.. since i assume the string will be clearly visible in open source.

[2022-02-03 04:09] msfschaffner commented on #10445
Yeah right. With the patch above, we're switching the all-zero constant to a `RndCnst` instead to mitigate that.

[2022-02-03 09:40] doreis-lowrisc commented on #9202
Thanks @eunchan and @cindychip, I'll test it again and let you know the results.

[2022-02-03 09:40] davebwil opened #10573 "[pwrmgr,rstmgr] Asserts firing following software or hardware reset."
When calling the function "dif_rstmgr_software_device_reset" the following asserts are firing and causing tests to fail:

tb.dut.top_earlgrey.u_pwrmgr_aon.pwrmgr_rstmgr_sva_if.SwRstOn_A
tb.dut.top_earlgrey.u_pwrmgr_aon.pwrmgr_rstmgr_sva_if.SwRstOff_A

Also, when the watchdog timer bites and causes a HW reset the following fire:

tb.dut.top_earlgrey.u_pwrmgr_aon.pwrmgr_rstmgr_sva_if.gen_rstreqs_che

[2022-02-03 10:29] davidp135 commented on #9514
Ah right, sure ok. I have raised a PR with the changes. It is number 10574. Thanks

[2022-02-03 10:31] #10379 closed

[2022-02-03 10:52] m-temp commented on #8982
yeah, that makes sense. I'll have look on that.

Yes, it's `wo` but internally latched. As long as we make sure that in `kmac` does not combine the shares in the event of a fault or messes around otherwise, we are fine.

I'll address both points in a separate PR that drives `kmac` in a secure state in the event of a fault / escalation.

[2022-02-03 11:34] vogelpi commented on #10518
Hey @rasmus-madsen ,
thanks for providing the details. I cannot reproduce it from your branch - the git hash changed. But I agree that this is a problem and I have an idea how to fix it. I am looking into this now.

[2022-02-03 13:32] davebwil commented on #10573
These asserts also:
tb.dut.top_earlgrey.u_pwrmgr_aon.pwrmgr_rstmgr_sva_if.gen_rstreqs_checks.SwRstOn_A
tb.dut.top_earlgrey.u_pwrmgr_aon.pwrmgr_rstmgr_sva_if.gen_rstreqs_checks.SwRstOff_A

[2022-02-03 13:44] mwbranstad commented on #10262
yes, the links were indeed wrong, and have now been corrected.

[2022-02-03 15:16] vogelpi commented on #10518
Hey @rasmus-madsen ,
I've created a PR with a fix here: #10578

Can you please give this a try to see if it solves the issue?

[2022-02-03 16:11] cindychip commented on #10516
Hi Michael,
Yes, actually it could be detected by shadow_reg tests, but the tests are
gated by this discussion - https://github.com/lowRISC/opentitan/issues/8460
I can probably align it, then we can see the error that the recoverable
alert keeps firing.

I actually check the integrity error, even though it is a recoverable
alert, it still fires continuously like a fatal alert because the intg_err

[2022-02-03 16:18] davebwil opened #10579 "[rom_ctrl] Unable to reset just rom_ctrl for glitch test."
For the test "chip_sw_rom_ctrl_reset_glitch" the description states to randomly glitch the ROM ctrl's reset input to cause a fatal alert. This reset line is connected to a common wire that connects to many blocks so it is not possible to glitch this specific reset input alone.
Is there a solution to this?
(Follow up issue for previous email discussion.)

[2022-02-03 16:43] rswarbrick commented on #10579
Possibly a naive question, but doesn't an RTL force applied to `path.to.rom_ctrl.rst_ni` work? I didn't *think* it would "travel upstream" ?

[2022-02-03 16:46] rswarbrick opened #10580 "[rom_ctrl] Action items from V2 meeting"
Notes from meeting [here](https://docs.google.com/document/d/164mFvT4qt6lMp2X-bnzFKUfoiGO6bYFFAriQttES3xw).

- [x] (Rupert) Update RTL to handle the error response from KMAC properly (https://github.com/lowRISC/opentitan/pull/10719)
- [x] (Prajwala) Add / modify a test to make sure this works right
- [x] (Cindy) Create a waiver file for the FSM edges we think are truly unreachable.
     Hopefully

[2022-02-03 16:48] davebwil commented on #10579
I tested it to confirm, as the signal is a verilog wire the entire net takes on the same value.

[2022-02-03 16:52] vogelpi commented on #10544
Thanks @rasmus-madsen for opening the issue. There have been several problems causing this test to fail. Two problems I've introduced recently. Sorry for that.

I've now filed a PR here to get this solved: https://github.com/lowRISC/opentitan/pull/10581

[2022-02-03 16:58] rswarbrick commented on #10579
Ah, I didn't know that's how it worked. Thanks for explaining! Hmm, yes it looks like supporting this properly would need some RTL changes to the top-level wrapper. I think we'd basically just need a whole load of lines like:
[code]

@msfschaffner / @vogelpi: Do either of you know whether this will cause havoc with the ASIC or FPGA synthesis flows?

[2022-02-03 17:18] rswarbrick opened #10585 "[usbdev,sw] Unused function warning in usbdev.c"
With commit 0127dd14 (current HEAD), compiling the device software spits out the following warning:
[code]
The code was added in e18d88b: is it left over from a previous approach, maybe? (@a-will: I think this is yours?)

[2022-02-03 17:27] a-will commented on #10585
Yeah, I need to clean that stuff up... I left the FIXME in usbdev_halt() to handle the IN and OUT endpoints independently, and it looks like I didn't get around to finishing that API tweak.

What's unclear is whether much of the code in usbdev.c should be removed and replaced with the DIFs.

[2022-02-03 17:27] tjaychen commented on #10579
@rswarbrick do you actually want to place a prim_buf cell on the input of the rom_ctrl?
That way we will preserve the hierarchy and we could even run this test (if desired) during gate level sims.

[2022-02-03 17:29] a-will opened #10586 "[spi_device] Determine how internal/external boundary crossings should be handled for passthrough mode"
From discussion at https://github.com/lowRISC/opentitan/pull/10245#discussion_r794751570

A host connected to the spi_device is able to make reads of any size in a single command--There are no limitations on the start and end addresses. However, a spi_device may have some portions of the address space mapped to the internal SRAM (mailbox, emulated flash) in addition to the pass-through to an exter

[2022-02-03 17:30] a-will commented on #10586
CC @tjaychen @eunchan

[2022-02-03 17:35] tjaychen opened #10587 "[ast / otp] Consider tying specific read / write lock to dev mode"
To prevent specific proprietary pieces from being explored in DEV mode (thus preventing wider distribution of DEV mode parts at the moment), we should enhance `ast` and `otp` to lock out specific pieces even during DEV mode.

This would include ast register read / write lock and also a specific software partition inside otp.

These would be fairly big changes on `otp` right now, so we might not be

[2022-02-03 18:07] davebwil commented on #10573
Hi @tjaychen, these problems were from tests in development and are not checked in but you could try adding the following to a test:

 CHECK_DIF_OK(dif_rstmgr_software_device_reset(&rstmgr));

For the watchdog timer asserts I am doing the following:

  CHECK_DIF_OK(dif_pwrmgr_set_request_sources(
        &pwrmgr, kDifPwrmgrReqTypeReset, kDifPwrmgrResetRequestSourceTwo, kDifToggleEnabled));
  CHECK

[2022-02-03 18:09] vogelpi commented on #8460
We have been discussing this issue in the Security meeting and concluded the following:

1. In the case of fatal alerts, we prefer debug-ability over hiding information. This holds not just for software that can cause fatal alert conditions (in many modules such as AES, KMAC this isn't even possible) but also for physical chip-level effects that may trigger some FI countermeasures, e.g., power dis

[2022-02-03 18:10] tjaychen commented on #10573
sounds good. I will have a look.

On Thu, Feb 3, 2022 at 10:07 AM davebwil ***@***.***> wrote:

[2022-02-03 18:17] tjaychen commented on #8982
thank you! btw, if it's super simple for you to clear, don't feel like you HAVE to skip it.
I assume clearing is still better than not clearing.

[2022-02-03 18:30] msfschaffner commented on #10262
Thanks for correcting them.
It looks like we've addressed all EDN items then (waiting to close this via the D2S PR).

[2022-02-03 18:47] cindychip commented on #8460
Thank you Pirmin, that sounds great. I will align the DV common test accordingly for 2).
@eunchan, could you see if we want to align Kmac for 1). Currently in hmac storage fatal alert, it will clear the update recoverable alert bit to 0.

[2022-02-03 19:03] #10544 closed

[2022-02-03 19:09] davebwil opened #10589 "[flash_ctrl,pwrmgr] Flash low power entry problem?"
For the test "flash_ctrl_idle_low_power"

desc: '''Verify flash_idle signaling to pwrmgr.
            - Initiate flash program or erase over the controller.
            - Program the pwrmgr to go into deep sleep.
            - Issue a WFI.
            - Ensure that the low power entry is gated until the flash operation completes.
            '''

I am attempting to set the low power entry mode whi

[2022-02-03 19:14] tjaychen commented on #10589
ah yes this is intended.
What the `pwrmgr` does is when it receives the entry hint is it first gates all clocks.
That allows it to observe a "snapshop" of the device in that moment (and it can also be guaranteed if it decides to proceed to low power nothing will change).

So during that snapshot it looks at the flash idle.  If it is indeed idle (meaning it will be not become non-idle later), it is

[2022-02-03 19:33] cindychip opened #10591 "[xcelium] compile error on equivalence operator in assertion"
PR #10588 fixed the compile error while this issue is tracking the case 46591452 in Xcelium to see if the simulator can support this syntax.
https://support.cadence.com/apex/COSCaseDetailPage?CaseID=5003w00001b5RtA

[2022-02-03 19:39] msfschaffner commented on #10587
Agree with Tim. I don't think such a change is feasible for the upcoming milestones, so we may want to keep it as a future enhancement.

[2022-02-03 19:55] msfschaffner commented on #10579
Yeah I think that would be the way to go if this is only needed for `rom_ctrl`. Note that there should be a clock buffer version that has nice symmetric rise and fall times: `prim_clock_buf`.

[2022-02-03 19:59] sriyerg commented on #10591
I a unable to see the case linked above. What is the error signature?

[2022-02-03 20:02] nikola-miladinovic opened #10592 "[flash_ctrl] PHY CONTROLLER ARBITRATION IS NOT WORKING AS EXPECTED"
When parallel  host reads and controller programs
 are sent, everything what controller send is accepted without any arbitration. Operations are done on same bank and both starting on address 0 (but until controller program, addresses diverge).

[2022-02-03 20:07] tjaychen commented on #10592
thanks Nikola, if you can let me know how to reproduce, I will have a look.

[2022-02-03 20:10] cindychip commented on #10591
Thanks for catching that, I updated the link, could you give it another try?
If not, the error signature I filed is:
xmvlog: *E,UNSEQO (../src/lowrisc_prim_max_tree_0/rtl/prim_max_tree.sv,138|60): The equivalence operator is unsupported in that context.
Case number is: 46591452

[2022-02-03 20:12] nikola-miladinovic commented on #10592
Branch: https://github.com/nikola-miladinovic/opentitan/tree/flash_ctrl_phy_arb_issue.
Seed 1 on Xcelium ( i would say any seed is valid since test is passing)

[2022-02-03 20:14] tjaychen commented on #10592
o sounds good. So just run any test and look at the waveforms when they're targeting the same bank, is that right?

[2022-02-03 20:32] sriyerg commented on #10591
Thanks @cindychip!
When I click on the link, I unfortunately get "You don't have sufficient privileges" error, but that is probably ok.

[2022-02-03 22:51] cdgori commented on #10445
Ah, the custom function string basically means no rainbow tables should be pre-generated.  But it's fine to use a `RndCnst` here to be very safe.

[2022-02-03 22:54] tjaychen opened #10597 "[rstmgr] Update to improve DV coverage in reset consistency checks"
The code below handles sw reset requests for rstmgr consistency checks.
See [here](https://github.com/lowRISC/opentitan/blob/master/hw/ip/rstmgr/rtl/rstmgr_leaf_rst.sv#L53)

However, since many leaf resets do not have software controls, this logic is frequently hardwired off.
This leads to issues in coverage because certain things can just never toggle.

Instead, change this to a parameter so that

[2022-02-03 22:54] tjaychen commented on #10597
@matutem
@cindychip
@weicaiyang
@sriyerg
FYI

[2022-02-03 22:56] msfschaffner opened #10598 "[reggen/doc] Enhance reggen to explicitly indicate that no registers are defined"
This issue became apparent in one of our D2S reviews.

Some of our IPs have a second TL plug that merely serves as a window to a memory or closed source primitive.

Since these do not instantiate a `reg_top` block (and as such do not declare a TL-UL window in the CSR node), the documentation page ends up rendering a title for the TL plug, but no contents underneath (examples are `sram_ctrl` and `o

[2022-02-03 23:00] msfschaffner commented on #10420
The action items have all been addressed and the block has been moved to D2S.

[2022-02-03 23:00] #10420 closed

[2022-02-03 23:06] cdgori commented on #10598
Thanks for capturing this!

[2022-02-03 23:14] #10597 closed

[2022-02-03 23:14] tjaychen commented on #10597
turns out DV folks found an even better way, this is not needed!

[2022-02-03 23:21] tjaychen commented on #10425
Fixed through #10452

[2022-02-03 23:21] #10425 closed

[2022-02-03 23:25] tjaychen commented on #10592
@nikola-miladinovic
I ran a test and looked at the waves, this actually looks like it's working as expected to me.

![Screenshot from 2022-02-03 15-20-41](https://user-images.githubusercontent.com/1026250/152445848-cd362df0-e46b-4383-a257-187f603c74fd.png)

If you look at the above diagram, it's captured from one of the completed tests.

You'll see that the device is currently doing host reads whi

[2022-02-04 00:07] tjaychen commented on #10598
let me know if p2 priority seems appropriate for this.

[2022-02-04 00:08] tjaychen commented on #10499
thanks to @weicaiyang for resolving this.

[2022-02-04 00:08] #10499 closed

[2022-02-04 00:19] msfschaffner commented on #10598
Yeah that is probably adequate.
Also, it should not be difficult to fix this.

[2022-02-04 00:22] tjaychen commented on #10414
actually this diagram already exists in `otp_ctrl`, reference that one instead.

[2022-02-04 00:25] tjaychen commented on #10414
turns out this reference is already in the flash documentation. Closing.

[2022-02-04 00:25] #10414 closed

[2022-02-04 00:27] tjaychen commented on #10383
this has been addressed.

[2022-02-04 00:27] #10383 closed

[2022-02-04 00:36] tjaychen commented on #10377
we've discussed this issue offline and I believe the consensus is this is okay.

[2022-02-04 00:36] #10377 closed

[2022-02-04 00:37] tjaychen commented on #10209
turns out @rswarbrick already had a mechanism to address this in `mem_bkdr_util`.
After adding the "extra" bits to ROM, everything now works fine.

[2022-02-04 00:37] #10209 closed

[2022-02-04 00:38] tjaychen commented on #10252
just a note that @NigelScales and I have been debugging this in the background. I believe #10603 should finally address these issues.

[2022-02-04 00:55] tjaychen commented on #10311
After discussions today, it was decided that for OpenTitan's "current usecase", there is no need to hide the tlul error from software.
Further, exposing these errors may be beneficial for in the field debugging.

For future usecases, this question should be re-examined as it may be a very reasonable choice to lock down the error response and indication.

[2022-02-04 00:57] tjaychen commented on #9759
@martin-lueker
@mwbranstad i think this is already addressed right..? assuming i remember correctly.

[2022-02-04 00:59] martin-lueker commented on #9759
No, not quite yet.

[2022-02-04 00:59] tjaychen commented on #9322
the integrity and reliability ecc's are both there now. Just need to do the actual scramble next.
Hopefully this will not be too painful.

[2022-02-04 01:55] #10470 closed

[2022-02-04 01:56] dbeitel-opentitan opened #10607 "[spiflash] Several issues running spiflash with verilator"
Ran into a few issues with spiflash when downloading images to verilator:

1.  pseudo-tty buffer on MacOS is only 1KB, so need to change frame transmit to interleave SPI write/reads so read buffer would not cause verilator to stall and assert on the write().
2. spiflash has hardcoded delays for flash erase and frame processing that need to change based on performance of system running verilator.

[2022-02-04 02:40] dbeitel-opentitan commented on #10607
Submitted PR #10610

[2022-02-04 02:44] cindychip opened #10611 "[otp] read otp when there is error"
Continue the discussion here:
https://github.com/lowRISC/opentitan/pull/10590

Do we need to standardize OTP error output value? DV can handle current behavior, so it is not a need for DV.
But I thought would be good to summarize it here and let designer confirm if it is the desired behavior:

1). Partitions errors that moves the FSM to terminated states. Then read out OTP via CSR or TLUL interfac

[2022-02-04 03:03] dbeitel-opentitan commented on #3708
I have fix for this issue:  PR #10610
You may need to increase delays depending on performance of verilator simulation.

[2022-02-04 05:39] weicaiyang commented on #10311
Thanks @tjaychen for the update.

[2022-02-04 05:49] #10378 closed

[2022-02-04 07:52] vogelpi commented on #10579
Yes, I think adding a `prim_clock_buf` is the right thing to do here. I recommend to set its parameter `NoFpgaBuf` to 1 to not infer a clock buffer on FPGA because we are short on these.

[2022-02-04 07:55] vogelpi commented on #8460
Thanks @cindychip that would be appreciated if you could take care of the DV adjustment. If you have any questions, don't hesitate.

[2022-02-04 08:09] vogelpi commented on #10532
Thanks @moidx for creating the issue. Making the IV register readable can certainly be done but it might have security implications. I thus suggest to protect it with a `regren` bit. Does this sound reasonable to you?

[2022-02-04 09:42] mundaym commented on #10131
This issue was discussed in the security meeting and it was decided that it should be fixed. @alphan and I will review the PR @dbeitel-opentitan sent to address the issue.

[2022-02-04 09:56] rswarbrick commented on #10209
Tada! :-D

[2022-02-04 09:58] rswarbrick commented on #9322
For the scrambling, you might be able to nick some stuff from `hw/ip/rom_ctrl/util/scramble_image.py`.

[2022-02-04 10:15] m-temp commented on #10516
Hi Cindy,
thx for the info.

I was just curious, because `prim_count`, `prim_double_lfsr`,  `prim_sparse_fsm`  also enforce an `ASSERT_<PRIM_NAME>_ERROR_TRIGGER_ALERT` but it looks like they didn't catch it neither. Even worse, when the alerts were changed in #10517 the corresponding assertions haven't been updated and there was probably no CI failure? #10562 fixed that as an side effect. Or do I

[2022-02-04 13:26] rasmus-madsen opened #10617 "aes_csr tests failing"
./util/dvsim/dvsim.py hw/ip/aes/dv/aes_sim_cfg.hjson -i aes_shadow_reg_errors_with_csr_rw -r 1 -t xcelium -s=627433368

fails with the following message:

I have made two observations -

1.  the expected value does not match what is actually written to the CTRL reg. because the test does not expect the operation to be forced to 01 for illegal values
2. the response is missing the FORCE_ZERO_MASKS

[2022-02-04 17:27] tjaychen commented on #9322
yes i definitely plan to, there are just a few other kinks to work out.
The flash scramble key is device specific, so I need to figure out how to pull the correct contents out of `otp` and mix it with the correct constant from top.  After that I just need to find an appropriate galois field multiplier and HOPEFULLY that will be it.

[2022-02-04 17:45] tjaychen commented on #10532
@vogelpi would this regren imply that when it is set to '0', we will not be able to do IV save / restore as mentioned?

[2022-02-04 17:47] nikola-miladinovic commented on #10592
Tim, thanks for explanation. I was confused since at Core TL Interface, I saw posted transactions from controller. Now I have updated this branch so that you can see how i manage to invoke at same address controller program and host read and also i have added check that host read data lost priority and read what was written by controller. Unfortunately, scoreboard and three tests need to be update

[2022-02-04 17:58] vogelpi commented on #10532
Yes. I just thought we could ask software to first set the read enable before reading the IV and then disable it again in order to continue encryption/decryption. Just to make a little bit harder to extract the IV at any given point because the IV should actually be treated as a secret as well. But it depends on the thread model whether we want to add the `regren`.

[2022-02-04 17:58] tjaychen commented on #10592
thank you @nikola-miladinovic
if all seems right to you, feel free to close the issue.

[2022-02-04 17:59] #10592 closed

[2022-02-04 18:46] cindychip commented on #10516
Thanks Michael,

1). About assertion firing with change
https://github.com/lowRISC/opentitan/pull/10517, that is a good point! We
did not see any assertion firing because we did not have stimulus to
trigger or reach the assertion.
     If we refer to the assertion coverage report
<https://reports.opentitan.org/hw/ip/kmac_masked/dv/latest/cov_report/asserts.html>,
they are currently classified as u

[2022-02-04 19:22] msfschaffner commented on #10096
Ok #10520 has been merged, thanks to @tjaychen's help.
There is one more minor RTL fix that has to go in (#10621) and then we should be g2g here.

[2022-02-04 19:23] msfschaffner commented on #10388
This issue has been addressed as part of https://github.com/lowRISC/opentitan/pull/10520.

[2022-02-04 19:23] #10388 closed

[2022-02-04 19:38] msfschaffner commented on #10095
OK the last thing missing now is is the AES label cleanup, see this comment: https://github.com/lowRISC/opentitan/pull/10132#discussion_r793137647

[2022-02-04 20:13] colinoflynn commented on #8739
Good news - we seem to have this working. It looks like the issue was a few FTDI commands that got used with openocd+opentitan, but not with other targets, meant we had a bug in our "FTDI mode" that we had trouble finding.

You'll need to firmware update the CW310. If you have the latest ChipWhisperer (develop branch) you can do this with:
[code]

Then - use the CW310 to program the FPGA as normal

[2022-02-04 20:42] #10545 closed

[2022-02-04 22:28] alphan commented on #9322
FYI @jon-flatley (since this can end up affecting opentitantool)

[2022-02-04 22:35] tjaychen commented on #9322
O is opentitantool used for backdoor loading verilator also?

[2022-02-04 23:09] tjaychen commented on #6220
@alphan
@moidx
is this already handled? I figure you guys probably have something planned for it already.

[2022-02-04 23:18] tjaychen commented on #10554
@sriyerg not sure if P1 is the right priority, but I've placed it there for now.

[2022-02-04 23:19] #10524 closed

[2022-02-04 23:22] tjaychen commented on #10478
sounds like this is resolved?

[2022-02-04 23:23] tjaychen commented on #10430
i believe this is already addressed.
I'll close for now, please reopen if you don't agree @matutem

[2022-02-04 23:23] #10430 closed

[2022-02-04 23:24] cindychip commented on #10478
yup, thanks for the reminder :)

[2022-02-04 23:24] #10478 closed

[2022-02-04 23:28] cindychip commented on #10617
Thanks Rasmus for the detailed debug analysis.
Since this register does not take write data as it is, but rather mapping it to legal values, do you think we can exclude the register from read check in the csr automated tests?
You can add a tag (either to the entire register, or to specific fields that map illegal value):
[code]

[2022-02-04 23:40] mundaym opened #10631 "[rom] Enable watchdog timer during bootstrap"
Watchdog timer will be disabled when the ROM enters bootstrap. It might be more desirable to keep it enabled but we then need to figure out when to pet the watchdog.

[2022-02-05 02:29] domrizz0 commented on #10541
let's chat about this next week? I see what @tjaychen is getting at and think that's the right approach. hopefully it survives contact with tactical concerns w/o too many bruises. ;-)

[2022-02-05 04:10] msfschaffner commented on #6323
This feature has been implemented and connected at the top-level.

[2022-02-05 04:10] #6323 closed

[2022-02-05 04:11] msfschaffner commented on #5550
This has been implemented.

[2022-02-05 04:11] #5550 closed

[2022-02-05 04:31] msfschaffner commented on #10138
@patel-madhuri #10636 updates the debounce behavior, so we should reassess whether this bug with that fix applied.

[2022-02-05 04:31] msfschaffner commented on #10144
@patel-madhuri #10636 updates the debounce behavior, so we should reassess whether this bug with that fix applied.

[2022-02-06 14:09] rasmus-madsen commented on #10617
Sure that is fine with me - I will make a PR with the update

[2022-02-06 14:29] rasmus-madsen commented on #10617
@cindychip it looks like the exclusion is already there but it is being ignored.
I tried changing it to all - but it still checks the value.

could you take a look and see why the exclusion is not working?

[2022-02-06 16:50] TimEwins commented on #10188
As the documentation updates ahve been marked as fixed, we can close thie Ticket.

[2022-02-06 16:50] #10188 closed

[2022-02-06 16:52] TimEwins commented on #10343
Leaving this open until I do the PR for the RMA Tests.

[2022-02-07 00:31] timothytrippel commented on #9322
No, I believe opentitantool will just be able to create OTP images (from Hjson descriptions). Correct @alphan?

[2022-02-07 02:48] nicolast0604 opened #10642 "Can I use ZCU102 to develop FPGA instead of CW310?"
Hi All
As I always encounted issues of transfering by using CW310, can I use ZCU102 to do the opentitan FPGA verfication ?

Any suggestion is welcome.

[2022-02-07 06:07] nicolast0604 commented on #1169
@satnam6502
Hi
Do you mean that you migrate the opentitan from nexysvideo to ZCU104?
It's exciting as I am trying to do the same thing.
Could you please give me guidance for how to do it as I am a very beginner?

Thanks a million.

[2022-02-07 10:24] #9833 closed

[2022-02-07 14:04] eshapira opened #10646 "[flash_ctrl] rand_ops test doesn't cover all partitions"
**flash_ctrl_rand_ops** test is only accessing the data partition even though it covers **all_partitions** test-plan item.
Shouldn't more tests access all of the partitions?

Fix suggestion:
in file **hw/ip/flash_ctrl/dv/env/seq_lib/flash_ctrl_rand_ops_vseq.sv** , in **configure_vseq** method add:
[code]

[2022-02-07 15:36] sha-ron opened #10650 "[top] USB reference clock valid and pulse connection"
In  hw/top_earlgrey/rtl/autogen/chip_earlgrey_asic.sv:
    .usbdev_usb_ref_**val**_o         ( usb_ref_**pulse**              ),
    .usbdev_usb_ref_**pulse**_o       ( usb_ref_**val**                ),
Looks like the pulse is interleaved with the valid signal.

[2022-02-07 18:26] tjaychen commented on #10650
o good catch.

[2022-02-07 18:30] cindychip commented on #10617
sure I will take a look!

[2022-02-07 19:09] alphan commented on #9322
Correct, it can create OTP images thanks to @jon-flatley. I'm not sure if we would be interested in handling flash images as well (since we can run verilator tests from bazel). Just wanted to tag since the operation seemed somewhat similar.

[2022-02-07 19:32] msfschaffner commented on #7966
@weicaiyang has this been addressed by now? If yes, can we close this?

[2022-02-07 19:36] msfschaffner commented on #398
Hey @tjaychen, has this been documented somewhere so that we can close it?

[2022-02-07 19:37] msfschaffner commented on #3421
@eunchan @tjaychen Can we resolve this or should we move some of this guidance into our documentation still?

[2022-02-07 19:39] msfschaffner commented on #109
@tjaychen I believe we took care of this via debug life cycle gating is that correct?

[2022-02-07 19:40] msfschaffner commented on #106
@eunchan may have addressed this by now. Can we close this issue?

[2022-02-07 19:41] msfschaffner commented on #7456
@tjaychen Afaik this has been implemented so I think we can close this.

[2022-02-07 19:44] tjaychen commented on #7456
yes sounds good.

[2022-02-07 19:44] msfschaffner commented on #3601
Hey @sriyerg, just came accross this rather dated issue. Is there anything to be done here, still, or can we close this?

[2022-02-07 19:44] #7456 closed

[2022-02-07 19:44] tjaychen commented on #109
yep, and this should go through rv_dm review.

[2022-02-07 19:45] msfschaffner commented on #1136
We've addressed this by adding explicit security development and verification stages (D2S/V2S).

[2022-02-07 19:45] #1136 closed

[2022-02-07 19:45] tjaychen commented on #3421
i think we should move this to future enhancement and documentation guidance.
it's still good to do long term.

[2022-02-07 19:46] tjaychen commented on #398
yep, this can be closed.

[2022-02-07 19:46] #398 closed

[2022-02-07 19:50] tjaychen commented on #562
i think this has long been addressed.  Can probably be closed now.

[2022-02-07 19:50] #562 closed

[2022-02-07 19:51] tjaychen commented on #858
i think we can close this now..especially both tlul and its related dv are now all templated code..

[2022-02-07 19:51] #858 closed

[2022-02-07 19:51] tjaychen commented on #531
There is a [proposal](https://docs.google.com/presentation/d/1_TjfPF2zWtUHb2IC-C2USyK7jH5u7YgnbOex_GCk7ds/edit?usp=sharing) written that we should revisit when time permits.

[2022-02-07 19:52] msfschaffner commented on #109
FYI @rswarbrick @GregAC

[2022-02-07 19:53] tjaychen commented on #1909
hmm.. .this seems like a very stale issue that we can close down.

[2022-02-07 19:53] #1909 closed

[2022-02-07 19:55] tjaychen commented on #3678
i think we've temporarily decided to classify these with the labels enhancement and some low priority.
@msfschaffner

[2022-02-07 19:56] #3511 closed

[2022-02-07 19:57] #3414 closed

[2022-02-07 20:00] #7385 closed

[2022-02-07 20:00] #7214 closed

[2022-02-07 20:01] tjaychen commented on #6831
@eunchan i think this was already fixed? could you close if that's the case?

[2022-02-07 20:10] sriyerg commented on #3601
Let me take a look later tonight, thanks!

[2022-02-07 20:22] msfschaffner commented on #3678
ah yes, I believe this is related to #10318. @moidx

[2022-02-07 20:54] msfschaffner opened #10657 "[tlul] Unused signal within tlul_cmd_intg_chk"
This seems to produce a lint warning in several IPs (since it is instantiated as part of the TL-UL plug):
https://github.com/lowRISC/opentitan/blob/4b1d4ab0abca40dab6b8a90b88f617d3c0087d9f/hw/ip/tlul/rtl/tlul_cmd_intg_chk.sv#L36-L40

Did we forget to remove it, or should this signal actually be used to qualify the error condition?

[2022-02-07 21:03] msfschaffner commented on #9853
@martin-lueker The above PR referenced PRs have been merged. What is the status of this right now?

[2022-02-07 21:03] tjaychen commented on #10657
yeah @weicaiyang recently made a change where we no longer condition the check on there being a write transaction.
I noticed this too, but just haven't gotten around to it.  Figure we would do it as the next round of lint cleaning.

[2022-02-07 21:07] #8805 closed

[2022-02-07 21:08] tjaychen commented on #7716
@eunchan do you mind having a look at this? from what i remember this has also been addressed.

[2022-02-07 21:09] tjaychen commented on #7693
is this one still valid? not sure what fpga this was tried on.
but gdb / jtag access has only recently been enabled on cw310.  I will close this for now, feel free to re-open if my assumptions are incorrect.

[2022-02-07 21:09] #7693 closed

[2022-02-07 21:10] tjaychen commented on #7848
@eunchan i'm closing this one for now since this has been implemented.
let me if you disagree.

[2022-02-07 21:10] #7848 closed

[2022-02-07 21:13] tjaychen commented on #4450
@GregAC @rswarbrick do you guys want to close this issue?
I know this area has been heavily discussed and implemented, so the issue is probably either stale or already addressed.

[2022-02-07 21:13] #4332 closed

[2022-02-07 21:13] weicaiyang commented on #10657
Thanks @msfschaffner for catching this. didn't know my update made this wire become unused.

[2022-02-07 21:13] tjaychen commented on #3388
is this still an issue.. ?

[2022-02-07 21:14] tjaychen commented on #2848
i believe this is addressed.
Will close now, @eunchan let us know if you disagree.

[2022-02-07 21:14] #2848 closed

[2022-02-07 21:15] tjaychen commented on #7901
This issue somewhat duplicates the idea behind #531
There is also a [general proposal](https://docs.google.com/presentation/d/1_TjfPF2zWtUHb2IC-C2USyK7jH5u7YgnbOex_GCk7ds/edit) for how to unify errors that should be considered at a later date.

[2022-02-07 21:15] weicaiyang commented on #858
sounds good. Current templated ports are probably better than an array, as it's more readable.

[2022-02-07 21:16] tjaychen commented on #531
duplicated by #7901

[2022-02-07 21:16] #531 closed

[2022-02-07 21:17] msfschaffner commented on #10657
Ok, thanks for the feedback. I was just looking at some of the lint errors of common IPs and wanted to make sure it is ok to completely remove this signal.

[2022-02-07 21:31] weicaiyang commented on #10332
Update from Synopsis AE. Below is how VCS handle X/Z for toggle coverage.

[2022-02-07 21:35] weicaiyang commented on #10332
Back to this topic, let me make a PR to add `set_toggle_includex` for Xcelium to close this issue.

[2022-02-07 21:35] a-will commented on #10650
Should be fixed now with #10653 . Thanks for reporting that!

[2022-02-07 21:35] #10650 closed

[2022-02-07 21:42] mwbranstad commented on #9853
@msfschaffner I can answer this. I believe consensus has been reached (here and possibly some other related issues) so implementation will be done soon. PR in progress.

[2022-02-07 21:44] weicaiyang commented on #7966
yes, this is done. Closing it now.

[2022-02-07 21:44] #7966 closed

[2022-02-07 21:44] msfschaffner commented on #8397
I went through the blocks quickly and corrected some of the inconsistencies in #10661.
For the blocks that we have not marked off above: these will still go through D2S reviews, so we're going to correct them / check them off later.

[2022-02-07 21:48] msfschaffner commented on #9853
Ok good, thanks. Does this gate D2S?

[2022-02-07 21:55] mwbranstad commented on #9853
This is not a security based item, but a functional phasing issue. This should not gate D2S.

[2022-02-07 22:03] cindychip commented on #2848
I do not think it is fixed yet, but Eunchan created another issue to track this issue. I am happy with closing this one, and let us track it on Eunchan's issue https://github.com/lowRISC/opentitan/issues/3022 to avoid duplication :)

[2022-02-07 22:29] satnam6502 commented on #1169
Hello @nicolast0604 . Sadly this was so long ago that I forgot exactly what I did! I think I used the ZCU104 board for a while, but then switched over to using the nexysvideo for the rest of the project since it was properly supported by the OpenTitan project. I've left that project and Google and work elsewhere on very different things so sadly I have lost the thread on this :-(

[2022-02-07 22:39] alistair23 commented on #3388
It seems to be fixed now

[2022-02-07 22:39] #3388 closed

[2022-02-07 22:50] msfschaffner opened #10663 "[sysrst_ctrl] Clarification regarding debounce method used"
Before proceeding with any RTL fixes, I quickly want to clarify a few things related to debouncing.
@toshaq @a-pronin can you PTAL and confirm whether this is implemented as intended?

## Debounce scheme

`sysrst_ctrl` uses debouncer FSMs with a configurable debounce timer that runs on the AON clock (see Hjson description [here](https://docs.opentitan.org/hw/ip/sysrst_ctrl/doc/index.html#Reg_key_i

[2022-02-07 22:56] toshaq commented on #3699
Yeah this looks OK to me. I think as long as we continue to drive it low and never drive it high we should be OK. Is the sink current capability in Push Pull configuration 8mA? Will there be any concern if someone is actively driving it high (like an intruder for example?)

[2022-02-07 22:58] #8397 closed

[2022-02-07 23:00] msfschaffner commented on #10611
@cindychip, just to clarify, when you say readout via CSR, you are referring to a normal register read that does not have a TL-UL error condition, right?

[2022-02-07 23:11] cindychip commented on #10611
Correct! Sorry about the confusion! Only item 3) are TLUL bus integrity error.

[2022-02-07 23:19] msfschaffner commented on #10611
Ok, but for 1) and 2) we have two access paths:
a) indirect reads / writes through CSRs (DAI) and b) reads through TL-UL windows.

I think that we should not change the behavior of regular CSR reads (a), since the error condition itself does not pertain to the TL-UL protocol . i.e., the accesses complete normally and return valid data. if there is an access error during such indirect accesses, it

[2022-02-07 23:21] eunchan commented on #7716
Yep. Thanks for pinging me. This has been addressed. There's explicit errchk module to check the sequence.

[2022-02-07 23:21] #7716 closed

[2022-02-07 23:22] #10332 closed

[2022-02-07 23:23] eunchan commented on #106
Yep

[2022-02-07 23:23] #106 closed

[2022-02-07 23:23] #6831 closed

[2022-02-07 23:39] cindychip commented on #10611
Thanks Michael, what you mentioned totally makes sense, I agree on the CSR (DAI) access part.
For case b), if we align, I only have one concern -
say if user is trying to access a read locked sw partition, then reading via CSR will return all zeros, but reading via TLUL will return all ones. Will that create any confusion for the user?

So I am okay with the current implementation without any chan

[2022-02-07 23:39] #10095 closed

[2022-02-07 23:39] #10096 closed

[2022-02-07 23:39] #10262 closed

[2022-02-07 23:47] msfschaffner commented on #10611
Well, the TLUL transaction will return with an error.
So the user can't rely on the value being returned in that case.

For b), the current design should already return a TL-UL bus error if a read locked SW partition is accessed, right?
Does the design currently return 0 or all ones in that case?

[2022-02-08 00:07] cindychip commented on #10611
Yes, for b). the TLUL bus will return an error if user is trying to read a locked SW partition.
And yes currently it will return 0.

Agree on the proposal to align the behavior on TLUL bus. One more thing to clarify - we are going to align on TLUL bus SW read to return all ones on any fatal error states (including: FSM state error, access error, and ECC uncorrectable error).

Thanks for your input

[2022-02-08 00:26] #10657 closed

[2022-02-08 00:37] msfschaffner commented on #10611
OK, sounds good thanks for bearing with me, @cindy

Yes, as far as I understand that was the proposal.
However, I believe what @weicaiyang mentioned [here](https://github.com/lowRISC/opentitan/pull/10590#issuecomment-1029424251) is only true for errors internal to the `tlul_adapter_sram`.
I.e. for all errors detected inside the adapter, we will return all-ones.
However, if an uncorrectable error b

[2022-02-08 00:54] cindychip commented on #6831
@eunchan sorry for being late for the discussion. I totally agree with the conclusion - "So, I think we just stick to whatever programmed when the FSM is out from StReset and never go back."

Just to clarify: Basically we cannot change the entropy_mode unless
1). KMAC being reset
2).  In error states with `err_processed` issued.

Do you think we should document it in KMAC spec to clarify the behav

[2022-02-08 01:16] eunchan commented on #6831
OK. Let me add that to register spec.

[2022-02-08 01:19] cindychip commented on #6831
Thanks Eunchan, appreciate it :)

[2022-02-08 01:19] weicaiyang commented on #10611
I.e. for all errors detected inside the adapter, we will return all-ones.

Thanks @msfschaffner for correcting me. So far we haven't checked the d_data when there is an error in TLUL.
Looks like with the design update, we align all the error to return all 1s, except DataWhenInstrError which returns 0, right? Should we make DataWhenInstrError return all 1s as well?

[2022-02-08 02:16] msfschaffner commented on #10611
Indeed, that is correct.

`DataWhenInstrError` has intentionally been set to all zero since that produces an illegal instruction error in the RISC-V instruction decoder (@GregAC please correct me if I am wrong). So I suggest to leave the behavior of instruction fetch errors unchanged.

[2022-02-08 02:19] msfschaffner commented on #10579
@davebwil can you try again now by forcing `top_earlgrey.u_rom_ctrl.u_prim_clock_buf_rst_n.clk_o` for this test, and close the issue if that works?

[2022-02-08 04:08] weicaiyang commented on #10611
Sure, sounds good.

[2022-02-08 07:29] cindychip commented on #10617
Oh sorry my bad! I totally did not check the regression results. I will fix `aes_shadow_reg_errors_with_csr_rw` and `aes_shadow_reg_errors` tests. I was just waiting for the alignment on this issue: https://github.com/lowRISC/opentitan/issues/8460

[2022-02-08 07:30] cindychip commented on #8460
My pleasure. @vogelpi could you tag me on the PR that reflects the change on item (1) once it is ready?

[2022-02-08 13:13] rswarbrick commented on #4450
It's still duplicated, with comments pointing at the other lists. Might be worth keeping it as a low-priority future enhancement.

[2022-02-08 13:26] rasmus-madsen commented on #10062
@martin-lueker could you take a look at this,
@christoph-suehnel is starting to look at the PWM IP and is experiencing issues due to this bug

[2022-02-08 14:13] #10579 closed

[2022-02-08 14:27] alphan commented on #8536
Fixed in #10159.

[2022-02-08 14:27] #8536 closed

[2022-02-08 14:32] #8288 closed

[2022-02-08 14:35] alphan commented on #8152
Closing this based on the discussion in the security meeting:
- Flash execution is not enabled until the signature of the next stage is verified,
- Reset values of mtvec are well-defined, and
- Ibex has a double fault detection mechanism.

@moidx PLMK if I missed anything.

[2022-02-08 14:35] #8152 closed

[2022-02-08 15:20] alphan commented on #7948
We should also document that actual hw values of the usage constraints fields should not be `0xA5A5A5A5` (`MANIFEST_USAGE_CONSTRAINT_UNSELECTED_WORD_VAL`).

[2022-02-08 15:35] NigelScales commented on #10252
Looks good now.

[2022-02-08 15:35] #10252 closed

[2022-02-08 16:33] a-will opened #10678 "[usbdev] Increment frame number even when SOF is lost"
A device must not expect valid SOF packets for every frame. SOF packets may be lost due to random bit errors, but isochronous endpoints especially still need to keep up.

Currently, the IP does not handle this correctly. Add logic to handle the missing SOF after a suitable count indicating lateness.

[2022-02-08 16:35] mwbranstad commented on #10477
@moidx can you create an issue that replaces this issue with more specifics? Then I will close this one.

[2022-02-08 16:38] mcy opened #10679 "Determine the degree of official support for macOS as a build platform"
#10164 adds support for Meson on macOS. This poses a potential testing concern unless we chose one of two paths:
* If it breaks you get to keep both pieces: we won't prioritize keeping this working but will review changes to unbreak it.
* We run this in CI to prevent breakage.

Seeing as we have long only supported Linux, this seems like a place where applying the [Beyoncé Rule](https://nilendu-mi

[2022-02-08 16:39] mcy commented on #10679
Drew, assigning you as you're the current build czar; feel free to do what you wish with this issue.

[2022-02-08 16:52] #10607 closed

[2022-02-08 16:53] visbaz opened #10680 "SPI HOST Direction and Speed - CMDINVAL"
Scenario: Speed is DualSPI or QuadSPI and Direction is "1" RX Only

STATUS.CMDINVAL asserted when above scenario appears.

RTL: hw/ip/spi_host/rtl/spi_host.sv - line 188
      Dual, Quad: begin
        test_dir_inval   = (reg2hw.command.direction.q != Bidir);
        test_speed_inval = 1'b0;
      end

Expecting :     test_dir_inval   = (reg2hw.command.direction.q == Bidir); as per specification.

[2022-02-08 16:54] #10611 closed

[2022-02-08 17:46] cindychip commented on #6672
@eunchan just want to check if there is any updates on this issue? Thank you!

[2022-02-08 17:53] matutem commented on #10115
Fixed in PR #10431.

[2022-02-08 17:53] #10115 closed

[2022-02-08 18:01] matutem commented on #9340
It seems SW could not clear this until it comes back from reset, at which point it will get reset again? Seems like a must-fix. Don't worry so much about the DV impact, but I appreciate the intention :)

[2022-02-08 18:04] tjaychen commented on #9340
no without this, software would basically need to clear, wait for "some" amount of time (we would have to tell them) and then release...  this is specific to the peripheral resets.

[2022-02-08 18:04] matutem commented on #9314
An update on this: a separate dv environment is created for rstmgr_cnsty_chk: https://github.com/lowRISC/opentitan/pull/10673.

[2022-02-08 18:11] tjaychen opened #10682 "[rstmgr] Issue with non-always-on POR handling"
When the non-always-on POR drops in unexpected scenarios (ie, instability of power instead of low power entry), the fast clocks in the system may also be simultaneously turned off.   This situation is not handled by the rstmgr right now as the non-always-on domain resets are typically treated as a synchronous event instead of asynchronous event.

This means when the clocks disappear, the synchrono

[2022-02-08 18:17] cindychip commented on #9673
https://github.com/lowRISC/opentitan/issues/7738
Close as duplicated

[2022-02-08 18:17] #9673 closed

[2022-02-08 18:26] nikola-miladinovic opened #10685 "[flash_ctrl] INFORMATION PARTITIONS DOC UPDATE"
It is noticed that Information partitions can also be programmed and erased. Documentation should be updated accordingly.

[2022-02-08 18:31] #7738 closed

[2022-02-08 18:36] eunchan commented on #6672
It was implemented. We can close now.

KMAC, if no side load key exists, moves to Error state and when any application interface requests the last message data, it returns with all 0 digest.

[2022-02-08 18:36] #6672 closed

[2022-02-08 18:52] matutem opened #10687 "[dv/rstmgr] Add missing covergroups"
The following covergroups mentioned in the testplan are yet to be implemented:
* `alert_info_cg`
* `cpu_info_cg`
* `alert_info_capture_cg`
* `cpu_info_capture_cg`
* `sw_rst_cg`

[2022-02-08 19:21] matutem opened #10689 "[dv/rstmgr] Exercise rst_cpu_n_i input"
This input is used to detect the first CPU reset, after which the reset_info starts recording.

[2022-02-08 19:42] sriyerg commented on #9271
We now have testsplans autogenerated from the list of countermeasures for each block, which will help with the DV gap analysis.
Example: https://reports.opentitan.org/hw/top_earlgrey/ip_autogen/alert_handler/dv/latest/results.html

These autogen testplans add V2S testing requirements which will be tracked for V2S closure. Existing or newly written tests need to be mapped to these testpoints approp

[2022-02-08 19:42] #9271 closed

[2022-02-08 19:57] sriyerg commented on #9744
[Side note] Tests not prefixed with `chip_sw` are not necessarily all connectivity tests. We have SystemVerilog-only tests that keeps the CPU held in suspended animation while our SV-based TL agent actuates the chip pretending to be the CPU.

[2022-02-08 20:12] matutem opened #10694 "[dv/rstmgr] Review unr exclusion file with designer"
The rstmgr_unr_excl.el file needs to be reviewed.

[2022-02-08 21:05] msfschaffner commented on #3699
Ok, so based on this thread and the discussion we had via email, I think the conclusion was that this is ok as-is and does not require any more design changes. Right @tjaychen?

[2022-02-08 21:15] tjaychen commented on #3699
yep this sounds good to me.

[2022-02-08 21:15] #3699 closed

[2022-02-08 22:57] tjaychen commented on #10323
this seems like a good idea to "look back" just in case to make sure we are where are intentionally.
@cdgori

[2022-02-08 22:58] tjaychen commented on #10078
i will close down this issue for now since there hasn't been further questions.
Feel free to open another if there are more concerns.

[2022-02-08 22:58] #10078 closed

[2022-02-08 22:59] tjaychen commented on #10042
we'll close this issue for now since there is example host code.
If you find any issues, feel free to open another ticket to track.

[2022-02-08 22:59] #10042 closed

[2022-02-08 22:59] tjaychen commented on #9507
oops, i've not circled back to check if the latest code is more FPGA friendly, I will try to do that.

[2022-02-08 22:59] #9497 closed

[2022-02-08 23:00] tjaychen commented on #9085
finally done!

[2022-02-08 23:00] #9085 closed

[2022-02-08 23:08] tjaychen commented on #8016
this has already been addressed!

[2022-02-08 23:08] #8016 closed

[2022-02-08 23:08] tjaychen commented on #10682
Related to #8010, which was an incomplete fix.

[2022-02-08 23:09] tjaychen commented on #6551
@mwbranstad @moidx @cdgori i think we can close this now.
Ultimately we settled on the output checks from `entropy_src`, `edn` and `csrng`.

I'll close for now, but let me know if you disagree.

[2022-02-08 23:09] #6551 closed

[2022-02-08 23:10] tjaychen commented on #6546
@moidx i believe the conclusion for this is that we will not have integrity checks, but it would be good to duplicate in software space to ensure results are consistent.

We've also discussed the idea of adding keymgr `known answer tests` to ensure the seeds are programmed correctly.

[2022-02-08 23:12] mwbranstad commented on #6551
SGTM.

[2022-02-08 23:12] tjaychen commented on #6545
@m-temp @eunchan
I believe this has already been done [here](https://github.com/lowRISC/opentitan/blob/master/hw/ip/kmac/rtl/keccak_round.sv#L407)

I'll close this for now, but let me know if you disagree.

[2022-02-08 23:12] #6545 closed

[2022-02-08 23:20] tjaychen commented on #6544
@eunchan @m-temp i think we might have missed this one.
I think the area of interest is [here](https://github.com/lowRISC/opentitan/blob/master/hw/ip/kmac/rtl/kmac_app.sv#L615), can you confirm?

If yes, we might want to...
1. make the `mux_sel` type a bit wider
2. pass both the `mux_sel` and `reg_state_valid_o` signals through a [secure anchor buf](https://github.com/lowRISC/opentitan/blob/master

[2022-02-08 23:21] tjaychen commented on #6542
I think this is related / similar to #7614, can you confirm?

[2022-02-08 23:22] tjaychen commented on #6541
@moidx @mwbranstad @cdgori i believe we have now satisfied this issue.
I'm going to close it down for now, but let me know if you disagree.

[2022-02-08 23:22] #6541 closed

[2022-02-08 23:23] tjaychen commented on #6540
I believe we have addressed these concerns in the latest hardening.
@moidx @mwbranstad @cdgori let me know if you disagree.

[2022-02-08 23:23] #6540 closed

[2022-02-08 23:23] tjaychen commented on #6539
I believe this has been done.
@mwbranstad to confirm.

[2022-02-08 23:23] #6539 closed

[2022-02-08 23:23] tjaychen commented on #6525
i believe this has already been added.

[2022-02-08 23:23] #6525 closed

[2022-02-08 23:24] tjaychen commented on #6505
i think this one has long been fixed. closing.

[2022-02-08 23:24] #6505 closed

[2022-02-08 23:24] #6472 closed

[2022-02-08 23:25] tjaychen commented on #6503
i believe this been addressed some time ago.

[2022-02-08 23:25] #6503 closed

[2022-02-08 23:26] tjaychen commented on #6425
@GregAC think this is already done.

[2022-02-08 23:26] #6425 closed

[2022-02-08 23:26] #6321 closed

[2022-02-08 23:30] mwbranstad commented on #6539
The LFSR has been completely removed now, so no issue anymore.

[2022-02-08 23:40] cindychip opened #10704 "[kmac] kmac does not check key validation in sw initiated sequence"
Hi Eunchan,

I have two questions regarding kmac ErrKeyNotValid error:
1). Right now this error ErrKeyNotValid is specifically triggered when design is configured to KMAC mode.
     However, if design is in other mode (such as Cshake128), user can still use keymgr key input when configure the `sideload` field to 1 right?
    In that case, if keymgr's key is not valid, shall we flag a ErrKeyNotVali

[2022-02-08 23:43] #9744 closed

[2022-02-08 23:46] rswarbrick opened #10705 "[OTBN] V2 follow-ups"
We had a V2 review meeting for OTBN on 4th February. For OpenTitan members, notes are [here](https://docs.google.com/document/d/1oxjd_Rf1mb3ki3Es0nRpZwUApq3KtuD497UVjb8I1uc).

Action items:
- [x] (Rupert) Test key rotation, which will address missing toggle coverage
- [x] (Rupert) Add a coverpoint for pairwise consecutive mnemonics (#11013)
- [x] (Rupert) Tweak key sideload agent to send all 384 b

[2022-02-08 23:47] #10119 closed

[2022-02-08 23:48] rswarbrick commented on #8935
@colinoflynn: Is this still something you're working on? Do you still see this being broken?

[2022-02-09 00:13] eunchan commented on #10704
Only when the key is needed, KMAC checks the side load key is valid or not. cSHAKE, SHAKE, SHA mode does not use the key.

In cSHAKE mode, it shouldn't use key at all. Let me check the waveform.

[2022-02-09 00:36] colinoflynn commented on #8935
We had worked around it for ECDSA testing using RND so it's not a real block. Running the test case above with a recent (earlier today) checkout of opentitan seems to have the same behaviour (test fails second time). It may be an "invalid" error related to something w.r.t. URND usage in the test mode, in which case ok to close!

[2022-02-09 00:43] cindychip commented on #10704
After the discussion with Eunchan, this sequence actually is in KMAC MODE.
So we plan to support it by enhancing the RTL to check key validation in sw initiated sequence.

[2022-02-09 00:46] eunchan commented on #10704
So, based on the discussion, the test case is SW initiated KMAC operation with sideload key. This version of KMAC does not check the Key validity for SW initiated operation. But it is good to have.

Brief review of the design seems like adding a condition when SW initiated the request, then check `keymgr_key_en_i` and `reg_kmac_en_i` is a good start. But the actual handling of the error should dif

[2022-02-09 02:48] #10396 closed

[2022-02-09 04:28] timothytrippel opened #10712 "[bazel,ottf] Enable running OTTF-launched tests at various boot stages"
# Overview
After the tasks in #10498 are completed, OTTF-launched tests (e.g., chip-level tests) will be able to run with either the test ROM or mask ROM. When they are run via the test ROM, said tests will run as the 2nd boot stage, i.e., after the test ROM finishes executing. However, when they are run via the mask ROM, there are two options:
1.  a test could run at the second (ROM_EXT equivalen

[2022-02-09 04:54] #4694 closed

[2022-02-09 05:46] sriyerg opened #10714 "[tooling, xcelium] Have Xcelium generated HTML coverage report provide a link directly to test ranking"
Referenced from this comment from @weicaiyang in PR #7210:
https://github.com/lowRISC/opentitan/pull/7210#issuecomment-875854438

[2022-02-09 08:29] timothytrippel opened #10716 "[sw/opentitantool] move `backend/` to opentitanlib"
In order to write mask ROM E2E tests as host-side Rust programs that make use of opentitanlib, the source code in `sw/host/opentitantool/src/backend` must be moved to `sw/host/opentitanlib`.

Once completed, mask ROM E2E tests will take the shape of the current opentitantool `main()`, except will perform custom actions for each test.

[2022-02-09 08:38] m-temp commented on #6544
Thx @tjaychen for pointing this out. When I had a brief overview a couple of weeks ago, I thought everything is fine here, because the sparse_fsm takes care of that `valid` signal.  However, I just noticed that `reg_state_valid_o` isn't used at all! See [kmac.sv#L957-L958](https://github.com/lowRISC/opentitan/blob/master/hw/ip/kmac/rtl/kmac.sv#L957-L958).

@eunchan Is there any reason for that? Sh

[2022-02-09 09:37] rswarbrick commented on #8935
Hmm, that's frustrating.

@mwbranstad: Looking back at the conversation above, it looks like there was a possible bug in the EDN/CSRNG interface. I know that this was all a bit flaky back in October, but it should be more robust now, I think? The fact that things are still not working for this system test suggests there's still something broken. Have you got time to look into this further? If not,

[2022-02-09 09:42] TimEwins commented on #9215
I have added a cfg object to control Flash Initialisation at RESET.  This will be available when PR 10513 is merged

https://github.com/lowRISC/opentitan/pull/10513

[2022-02-09 15:15] vogelpi opened #10721 "[lint] Trigger lint errors for non-default Sec parameter values"
We use parameters prefixed with `Sec` to identify and control some security-critical features in the design. So far we have mainly used them inside AES and KMAC to control a couple of features to simplify FPGA-based SCA. Examples include delay counters to enable Ibex reaching a WFI before the crypto operation and trace collection starts.

To make sure such features are not accidentally enabled on

[2022-02-09 15:47] mwbranstad commented on #8935
@rswarbrick to your question, yes, the entropy blocks are much more tested at the unit level. However, basic flow has not changed that much from when this thread started. I would like to confirm that the rtl is working properly, but we cannot seem to run chip level tests at WD because of tool issues. So I will again offer to debug this issue with a live meeting over a desktop share. Please schedul

[2022-02-09 16:21] #10062 closed

[2022-02-09 16:58] #9468 closed

[2022-02-09 18:08] tjaychen commented on #6544
good point, i did not realize the `valid` isn't used either :) we should probably improve that.

[2022-02-09 18:10] tjaychen commented on #6543
ah i think this is really just a matter of verification, and it is indeed related to that issue (at least part of it).

[2022-02-09 18:27] tjaychen commented on #10721
couldn't we just create an unused signal? Or better yet, an undriven signal used by unused logic?
`NOT_DRIVEN` always catches people's attention (more so than NOT READ)

[2022-02-09 18:31] alphan opened #10723 "Consider adding error messages to use in `EXPECT_DEATH()`."
Should we make this emit an appropriate error message so that we know that this is actually crashing the way we'd like it to.

_Originally posted by @mcy in https://github.com/lowRISC/opentitan/pull/10698#r802964583_

[2022-02-09 18:39] eunchan commented on #10721
I've checked but no. There's no way we can waive the errors conditionally with AscentLint. It does not parse the design based on the parameter.

NOT_DRIVEN always catches people's attention (more so than NOT READ)

@tjaychen I think Pirmin says the lint errors occur regardless of the parameter value. The intention was to turn off the lint error when Security critical parameter (for SCA only) is tu

[2022-02-09 18:43] davebwil opened #10724 "[kmac] ROM_CTRL reset glitch alert not working?"
Now we have the ability to glitch the reset line on the rom_ctrl independently I have written a test for "chip_sw_rom_ctrl_reset_glitch". The test waits for a WFI and the testbench then forces the rom_ctrl reset line. On the waves I can see in the KMAC that the rom_ctrl is requesting a validity check after the resets, however the KMAC is not raising an alert and resetting the system.

Is there mor

[2022-02-09 18:44] tjaychen commented on #10721
what about! an adder that will overflow based on the value of the bit?
Would that work? let me try it out...

[2022-02-09 18:45] eunchan commented on #10721
Hum.. That is quite interesting idea. :) So you want to define arbitrary width of signal based on Sec parameter? I think it would work!

[2022-02-09 19:07] tjaychen commented on #10721
this seems to work for me.
if `SecTesting` is 1, i don't get an error.
if I then set it to 0, I do get an error.
[code]

[2022-02-09 19:10] eunchan commented on #10721
Nice!

[2022-02-09 19:10] tjaychen commented on #10721
i wish there was a way we could make this a prim module that could be invoked...but looking at `aes` that types are not always the same..

[2022-02-09 19:33] eunchan commented on #10721
Probably `define` would be an option?

[code]

`Expression` is the true condition of generating the error.

[2022-02-09 19:40] martin-lueker commented on #10680
Hi Viswa,  The fix you suggested has been merged.  Let me know if you need anything else.

[2022-02-09 21:44] tjaychen commented on #10724
i think i raised this point in the previous issue, I don't believe this "check again" feature actually exists in `kmac`.

[2022-02-09 22:00] msfschaffner commented on #10721
This looks pretty cool indeed. We can maybe add it as an assertion macro? E.g.
[code]

Since we are at it: There is a similar trick to clobber elaboration in case an unknown parameterization is provided, and that one could be spun out into a similar macro:
https://github.com/lowRISC/opentitan/blob/96ec26e144a62986d8be33a3ba1be85d1eab088b/hw/ip/otp_ctrl/rtl/otp_ctrl.sv#L1242-L1245
https://github.co

[2022-02-09 22:53] tjaychen commented on #10589
@davebwil let me know if this is all clear.
We can close this issue if it makes sense.

[2022-02-09 23:00] tjaychen commented on #8982
@m-temp would you mind checking off the boxes above if they're already done? I feel like they have already been handled.

[2022-02-09 23:45] rswarbrick commented on #9537
Looks like this is sometimes useful and doesn't really hurt. Probably worth keeping for now, at least.

[2022-02-09 23:45] #9537 closed

[2022-02-10 00:48] #10685 closed

[2022-02-10 00:52] cindychip commented on #8460
Thanks Pirmin for the PR, one last question - for item 2), do we plan to standardize it across the IPs or just AES only?

[2022-02-10 01:32] tjaychen commented on #5810
@alistair23 could you give #10625 a try? it should officially add support now.

[2022-02-10 01:38] tjaychen commented on #5859
sorry for the late reply.
I believe everything you're saying is true. You can also follow along with the more mature ROM code [here](https://github.com/lowRISC/opentitan/tree/master/sw/device/silicon_creator/mask_rom)

[2022-02-10 01:38] #5859 closed

[2022-02-10 01:39] tjaychen commented on #5869
i'm closing this issue, please file another or re-open if there are follow-on questions.

[2022-02-10 01:39] #5869 closed

[2022-02-10 01:43] sriyerg commented on #5852
Yes, this issue has been addressed. Closing.

[2022-02-10 01:43] #5852 closed

[2022-02-10 01:49] tjaychen commented on #5945
closing this since it appears to have been fixed :)

[2022-02-10 02:03] tjaychen commented on #5774
looks like this has been addressed, closing.

[2022-02-10 02:03] #5774 closed

[2022-02-10 02:07] tjaychen commented on #5751
@moidx can we close this? i know you did a lot of work on the rom splicing stuff.

[2022-02-10 02:09] #5600 closed

[2022-02-10 02:09] tjaychen commented on #5497
closing! thanks all.

[2022-02-10 02:09] #5497 closed

[2022-02-10 02:12] tjaychen commented on #5436
i'm actually not sure why i originally asked for flash to be a part of this.
Flash has rom / boot-strap, and that will be the way to actually get code in there (which also implicitly takes care of the ECC / scrambling).

Verilator however, does need a preload mechanism.

[2022-02-10 02:13] tjaychen commented on #5371
given that rv_dm is already d2 signed off..it's fair to say this issue is stale...

[2022-02-10 02:13] #5371 closed

[2022-02-10 02:14] tjaychen commented on #5237
this has been implemented in hw and rom.

[2022-02-10 02:14] #5237 closed

[2022-02-10 02:14] #5230 closed

[2022-02-10 02:14] tjaychen commented on #5212
i believe this is okay to close.

[2022-02-10 02:14] #5212 closed

[2022-02-10 02:16] tjaychen commented on #5158
@martin-lueker did we already address this..?

[2022-02-10 02:16] tjaychen commented on #5134
@eunchan do you mind refreshing our memories :)

[2022-02-10 02:25] martin-lueker commented on #5158
Yes.   This is a non-issue with the current use cases.

[2022-02-10 02:25] tjaychen commented on #5134
@eunchan i took a quick look, and i think `passthrough_en` right now is based on the mode only, which is programmed by software.

I think this means that if a command / payload is captured by software, it will be firmware responsibility to flip the bit. This means it is possible to flip it in the middle of a transaction.

By my reading this is "probably" okay, since the `spi_host` will just direct

[2022-02-10 02:28] tjaychen commented on #5193
i believe this is done!

[2022-02-10 02:28] #5193 closed

[2022-02-10 02:28] tjaychen commented on #5194
i believe this is done

[2022-02-10 02:28] #5194 closed

[2022-02-10 02:31] #5022 closed

[2022-02-10 02:33] tjaychen commented on #4902
i think this is related to the recent `devmode` discussion that was had. So for the purposes of "this" iteration, we probably want to keep the alert cause readable by software.

[2022-02-10 02:35] tjaychen commented on #4433
@cindychip
we probably want to double check if these are still valid :)
I think in all liklihood it has been handled in a different way (probably the `kmac_app` interface arbitration).

[2022-02-10 03:40] moidx opened #10738 "[hw/csrng] Integrity protection for KV in CSRNG"
This issue is to investigate integrity protection requirements for the DRBG internal state.

[2022-02-10 03:42] moidx commented on #10477
We'll use #10738 to track the internal integrity open brought up by @tjaychen.

[2022-02-10 03:42] #10477 closed

[2022-02-10 03:46] moidx commented on #5751
Hi @tjaychen, this is ok to close. We have splicing integrated into CI now.

[2022-02-10 03:46] #5751 closed

[2022-02-10 03:49] moidx commented on #5464
SGTM. I think there is also a configuration register in EDN to increase the number of gen bytes in boot mode, so this is ok to close for my perspective.

Before any critical operations we should enable the entropy complex in continuous mode.

[2022-02-10 06:30] matutem commented on #10432
There is an unfortunate shortcoming of instrumenting the prim_cdc_rand_delay module inside the prim_flop_2sync: it has no access to the source clock, so it needs to rely on a couple of configurable delays. These values would ideally be related to the source clock period, but that means the delays will need to be configured in order to get a good distribution of post 2sync data jitter.

[2022-02-10 08:32] vogelpi commented on #5464
SGTM as well. Do we need to track the task for enabling continuous mode somewhere, or can software already do this today?

[2022-02-10 08:39] davebwil commented on #10589
@tjaychen, many thanks, yes I think it is clear now. Closing.

[2022-02-10 08:39] #10589 closed

[2022-02-10 09:04] nikola-miladinovic commented on #9215
Ok,closing issue.

[2022-02-10 09:04] #9215 closed

[2022-02-10 09:33] nicolast0604 opened #10739 "spiflash for FT4232h of ZCU104"
As I always encountered errors when loading firmeare like.
"Error transferring frame: 0x00000000, try pressing the “USB RST” button before loading the bitstream.". with CW310 even though I did press the “USB RST” button before loading the bitstream.
and Nexys Video is too small and no longer supported by opentitan.

I would like to migrate to ZCU104. However, I noticed that ZCU104 is with FT4232h

[2022-02-10 10:47] m-temp commented on #6544
When hardening the mux, we should also add a check for `lc_ctrl_escalate_en` as suggested in #8982

[2022-02-10 11:36] rswarbrick commented on #10724
Removing myself, since this seems to be a missing KMAC feature.

[2022-02-10 11:43] cryptobsv commented on #10642
I can't answer your question, but because "any suggestion is welcome", I'll comment anyway, as I also had difficulties getting the board to work.
What exactly is not working? Loading the bitstream? Loading the firmware?
Loading the bitstream takes a while, a few minutes in my setup. Loading the firmware immediately after the bitstream (without disconnecting) seems to be a bit more stable to me.

[2022-02-10 14:43] mwbranstad commented on #8935
If @rasmus-madsen can get this chip level test running in the WD env, I would be happy to look at this test and do local debug on it.

[2022-02-10 15:18] nikola-miladinovic opened #10748 "[flash_ctrl] ERASE SUSPEND REQ BIT IS NOT WORKING AS EXPECTED"
it is noticed that when erase is not in progress and erase suspend req is set to 1, it remains on 1. Spec says following:
"0 | rw | 0x0 | REQ | When 1, request erase suspend. If no erase ongoing, the request is immediately cleared by hardware ... "
Branch for reproducing failure (any seed can be used):
https://github.com/nikola-miladinovic/opentitan/tree/flash_ctrl_erase_suspend

[2022-02-10 16:06] mcy opened #10750 "Brainstorming future OTBN ISA extensions"
@moidx, @jadephilipoom, and I have been discussing future extensions we'd like to see in the OTBN ISA in future revisions. This issue is intended to record those in a central place, but they are in no way plan-of-record or intended to make it into the timeline for the current revision.

(Previously: https://github.com/lowRISC/opentitan/issues/5058).

An incomplete list of things we would like to s

[2022-02-10 16:15] rswarbrick commented on #8935
I think you can probably do the following:
- Hack `test_main` in `otbn_ecdsa_p256_test.c` to duplicate things as described in the original report
- Build everything (`ninja -C build-out all`)
- Run the chip-level test through pytest.
  - Run the test with `pytest test/systemtest/earlgrey/test_sim_verilator.py --log-cli-level=DEBUG -k otbn_ecdsa_p256_test`
  - Assuming that works, you can get waves

[2022-02-10 16:38] rswarbrick commented on #10750
These look fun! When thinking seriously about these, we'd need to work out why we're adding them. A couple of quick thoughts:

1. **Vectorized instructions**
     Specifying these is always hard because there are so many different things you can do. Compare x86 SSE/AVX and the RISC-V vector extension, for example. We'd probably need some firm use cases to convince ourselves we were building the ri

[2022-02-10 16:39] jadephilipoom commented on #10750
It could also still be useful for unsaturated limbs to have something that doesn't need a carry between adds -- e.g. I have 4 limbs but none of them are storing the full 256 bits, so an instruction could add the 4 pairs of corresponding limbs but have no need to carry between them (that would be done later as a multi-bit carry).

@felixmiller, any instructions you would like to see?

[2022-02-10 16:53] tjaychen commented on #10748
sounds good, let me have a look.
This maybe an issue on the modeling side.

[2022-02-10 17:04] nikola-miladinovic commented on #10748
@tjaychen : I have just tested and it seems that it does not work also when erase is in progress.

[2022-02-10 17:21] tjaychen commented on #6544
i'm sorry I feel like I was looking at the wrong thing earlier.
Invalidating on escalation sounds good to me.
Just to confirm, on escalation, you would probably mark the digest as not done, and that the digest does not assume the new value?

[2022-02-10 17:28] moidx commented on #10750
Marking as P2 as this is not currently part of the current iteration plan.

[2022-02-10 18:05] vogelpi commented on #10721
Oh, that's cool @tjaychen , and it's pretty easy. If it's fine for you guys I am going ahead an prepare a PR following this approach.

Actually, I could directly try to wrap this into an assertion macro. Let me try this out. Thanks for all your feedback guys!

[2022-02-10 18:10] tjaychen commented on #10721
sounds good! thanks @vogelpi

[2022-02-10 19:02] rasmus-madsen opened #10757 "aes V2 action items"
this is a list of action items in the V2 review, meeting notes can be found here:https://docs.google.com/document/d/1ylaS4mXN_Y70PbSSOGihweZlRVU90deqAKwG6fRZdj0/edit?usp=sharing

- [x] update description of back2back test. #10763
- [x] Add testpoint for reseeding #10763
- [x]  Remove force zero mask from testplan #10763
- [x] remove regwen from testplan and coverplan ,  #10763
        only the gen

[2022-02-10 19:07] drewmacrae commented on #10679
We're going to discuss this during the SW/WG meeting.

[2022-02-10 19:34] cindychip opened #10760 "[kmac] shadow reg recoverable error status bit does not stay high for more than a cycle"
Hi Eunchan,

Here is the sequence:
1). Write `cfg_shadowed` register twice with different value -> create an update error.
2). Wait alert handshake to finish.
3). Read status via `status` register and check field `ALERT_RECOV_CTRL_UPDATE_ERR` ---> This field is set back to 0, but I expect a 1 here.

I think because for `ALERT_RECOV_CTRL_UPDATE_ERR` field `de` is always 1, and `alert_recov_operatio

[2022-02-10 19:56] tjaychen commented on #10008
@a-will filed #10586 as a result of this discovery.
I'll close this one for now since that one I believe covers the whole range of issue (from framing to possible solutions)

[2022-02-10 19:57] tjaychen commented on #10065
@eunchan i'm pretty sure this one has already been handled.
I'll close for now, please re-open if you disagree.

[2022-02-10 19:57] #10065 closed

[2022-02-10 20:07] cindychip commented on #10760
And if you have some bandwidth - we discussed about some common behavior for shadow reg: https://github.com/lowRISC/opentitan/issues/8460#issuecomment-1029293309
If you could provide some input, that would be great.

[2022-02-10 20:07] martin-lueker commented on #5134
To reiterate the points above, there is no back pressure in SPI and when SPI passthrough is needed there is _no time_ to coordinate a shutdown of the transaction.   This really can only be resolved by a SPI_DEVICE FW programming model which realizes that there is no way these two things can be allowed to interact.   A register switch could be added to lock things out to stop glitches from bad firm

[2022-02-10 20:14] a-will commented on #5134
The case of being able to re-enable passthrough in the middle of an incoming command is not a firmware fault. It would be a bug in the hardware. Firmware can't do anything to ensure the switch happens on command boundaries.

If reads are suddenly enabled in the middle of a command, the external SPI flash may see a different opcode, and actual stateful changes to the external SPI flash may occur (t

[2022-02-10 20:15] moidx commented on #10053
I am able to run things ok. The only difference I can tell from the picture above is that I am using the "Barrel" option for the power source instead of USB-C.

I have seen USB synchronization issues in the past, but those are usually solved by pushing the "USB RST" button. The USB led (next to the button) should be blinking if the interface is running in operational mode.

Another thing you can d

[2022-02-10 20:19] tjaychen commented on #5134
my preference is to have a more sequenced switch as well. Especially since, as @cfrantz pointed out above, this usually happens during a busy poll, we can align to transaction ends to make changes (so make sure we only change when things are idle).

[2022-02-10 20:25] a-will commented on #5134
Sorry we kind of corrupted your original issue ;) Changes would all need to go in `spi_device`.

`spi_host` is good with just the `passthrough_en` signal. If you wanted to isolate `spi_host` from bugs in `spi_device`, then a single software register that gates the `passthrough_en` signal would do the trick. But I don't think that's necessary.

[2022-02-10 21:01] martin-lueker commented on #5134
I see, well can we rename the issue then?

[2022-02-10 21:10] tjaychen commented on #5134
unfortunately this is definitely NOT the case. (i believe @cfrantz explained above).  Passthrough operation and normal FSM driven operation are intended to co-exist.  As an example when the host issues an erase operation, it will, when behaving correctly, go into a busy poll loop.  The device is then expected to switch to FSM driven operation to handle the transaction that was just received.  Duri

[2022-02-10 21:16] visbaz opened #10764 "SPI_HOST Little&Big Endian Design Verification"
Test for SPI HOST endian fronm spi_host.hjson is as below:
 name: endian
      desc: '''
            Stimulus:
              - set the compile time parameter to configure the DUT in both modes.
              if possible this should be randomized for all test to verify support in both modes

            Checking:
              - Check all features are supported correctly in both little and big endi

[2022-02-10 21:37] martin-lueker commented on #8935
@rswarbrick: I'm truly sorry, I was trying to quote your flow chart above, and instead I edited it (and deleted most of it).  Most sincere apologies.   Is there someway to unedit that?

[2022-02-10 21:40] martin-lueker commented on #8935
Never mind, I fixed it.

[2022-02-10 21:42] sriyerg opened #10765 "[rv_dm] Debug memory supports byte writes, but the TL adapter does not"
`rv_dm.sv` has a TODO to track this:
[code]

But also, the `tl_adapter_sram` is instantiated with `ByteAccess` parameter set to 0, which returns an error response on `a_mask != '1`.

[2022-02-10 21:44] a-will commented on #10458
Completed with #10527 and #10605

[2022-02-10 21:45] a-will commented on #10458
Oops, commented on the wrong one.

[2022-02-10 21:45] a-will commented on #10457
Complete with #10527 and #10605

[2022-02-10 21:45] #10457 closed

[2022-02-10 21:46] a-will commented on #10456
Complete with #10358 and #10527

[2022-02-10 21:46] #10456 closed

[2022-02-10 22:01] a-will commented on #6043
The 1 task looks to be done, as of #10253. Please re-open if I've jumped the gun.

[2022-02-10 22:01] #6043 closed

[2022-02-10 22:38] eunchan commented on #5134
My expectation was (I am not sure I understand the issue correctly), when SW wants the `busy` is set, SW may configure filtering on.

But the issue @a-will ask is, the following commands right? (probably Read Status?). The status checking falls into the SPI_DEVICE. So expected to be filtered to the downstream device. But you are right. There're collision cases.

So, looks like it is safe to turn o

[2022-02-10 23:13] a-will commented on #5134
Hm... I suspect it won't be entirely that straightforward. It's a bit of a struggle to get everything latched into the SCK domain, due to the dearth of clock edges. @tjaychen has good ideas for handling that transfer, though.

[2022-02-10 23:18] eunchan commented on #5134
busy signal in the current SPI_DEVICE is maintained in peripheral clock domain and also SCK domain. First, when SPI_DEVICE receives a command setting busy, the IP sets SCK domain busy signal first. It is propagated into other modules in SPI_DEVICE. Then, when the transaction ends, the signal is then latched into the peripheral clock domain, which is visible to the SW. When SW clears the BUSY signa

[2022-02-10 23:22] a-will commented on #5134
Oh, great! You've already thought all of that through. I think we'll be okay if the host suddenly performs some other command -- That's either a violation of protocol, or the host rebooted or something. For the latter case, we'll almost certainly see a non-pass-through command first, like Read (JEDEC) ID or Read SFDP, something to query our device.

[2022-02-10 23:43] msfschaffner commented on #10642
Hi @nicolast0604,

Indeed it would be good to know a bit more about what exactly is not working.

You are welcome to use another FPGA board - but you would have to port OpenTitan over to that board yourself, since the ZCU102 is currently not among the FPGA boards we support and maintain.

CC @colinoflynn for CW310-specific questions.

[2022-02-10 23:55] msfschaffner commented on #10680
Closing this for now since it looks like this issue has been addressed.
If not, please feel free to reopen it.

[2022-02-10 23:55] #10680 closed

[2022-02-11 00:03] msfschaffner commented on #10516
@eunchan has this bug been addressed? I think the alert connections are fixed by now, right?

[2022-02-11 00:11] msfschaffner commented on #10408
I believe this is already implemented:
https://github.com/lowRISC/opentitan/blob/f86fcb99fe1cb1359c12876e208ff4853eafc0b5/hw/top_earlgrey/sw/autogen/top_earlgrey.h#L1431-L1432
https://github.com/lowRISC/opentitan/blob/f86fcb99fe1cb1359c12876e208ff4853eafc0b5/hw/top_earlgrey/sw/autogen/top_earlgrey.h#L1541-L1543
Is there anything else that is missing?

[2022-02-11 00:17] msfschaffner commented on #10313
Cindy, does this have to be updated? Also, at what stage should this issue be resolved? V2S or V3?

[2022-02-11 00:19] msfschaffner commented on #10318
We've discussed this in the silicon meeting and agreed that deferred TODOs should be renamed to ICEBOX. Also, an issue should be added to the ICEBOX comment as explained above. We added an extra ICEBOX issue type so that these issue can be filtered.

[2022-02-11 00:19] #10318 closed

[2022-02-11 00:20] msfschaffner commented on #3678
See #10318 for the resolution.

[2022-02-11 00:20] #3678 closed

[2022-02-11 00:24] msfschaffner commented on #10213
@m-temp does this answer your questions? If yes, can we close the issue?

[2022-02-11 00:24] msfschaffner commented on #10257
@matutem @sriyerg has this been fixed in the meantime?

[2022-02-11 00:25] #10516 closed

[2022-02-11 00:26] msfschaffner commented on #10260
@NigelScales @cindychip can you go over this list and check off what has been done so that we can resolve this issue?

[2022-02-11 00:27] msfschaffner commented on #10258
Have these warnings been cleaned up? If yes, please close the issue.

[2022-02-11 00:31] sriyerg commented on #3300
Closing this issue, which seems to no longer be applicable.

[2022-02-11 00:31] #3300 closed

[2022-02-11 00:39] colinoflynn commented on #10642
Hi @nicolast0604 - The boards do get "opentitan specific tests" run (loading the bitstream + tests). Normally the loading time is ~60 seconds for the FPGA (I haven't timed recently), and the firmware is much faster after. There is a speed setting for how quickly the programming happens on the first stage, which you can also tune (it's set to a "mostly safe" default, there is some variation in prac

[2022-02-11 01:36] timothytrippel commented on #10504
Tasks:

- [ ] Update DIF milestones, and milestone requirements as described above.
- [ ] Go through each IP, audit DIF library, and update DIF milestone label and checklist.
    - [ ] adc_ctrl
    - [ ] aes
    - [ ] alert_handler
    - [ ] aon_timer
    - [ ] ast
    - [ ] clkmgr
    - [ ] csrng
    - [ ] edn
    - [ ] entropy_src
    - [ ] flash_ctrl
    - [ ] gpio
    - [ ] hmac
    - [ ] i2c

[2022-02-11 01:56] tjaychen commented on #5134
@eunchan would this `busy` be the one maintained in peripheral clock domain..?

[2022-02-11 02:02] msfschaffner opened #10773 "[sysrst_ctrl] Change request: add input path for flash_wp_l"
It has been determined that for added system security, the dedicated `flash_wp_l` output should have a read-back path so that firmware can determine whether the write protect signal has been overridden by an external driver.

The simplest way to implement this is to add an input path for `flash_wp_l` to `sysrst_ctrl` so that firmware can sample its value and configure edge detectors with interrupt

[2022-02-11 02:17] tjaychen commented on #10773
this looks very reasonable to me. Correct me if I am wrong, but essentially you've given the `flash_wp_l` pin a lot of the same interrupt / observability function that `ec_rst_l` already has right?

[2022-02-11 02:23] msfschaffner commented on #10773
indeed, yes. it has exactly the same input path as `ec_rst_l` (that signal also does not have an input inverter).

the only difference is that `ec_rst_l` has a bypass path with reset stretching functionality, whereas `flash_wp_l` does not have a bypass path.

[2022-02-11 02:28] tjaychen commented on #8982
@m-temp i actually just noticed that in kmac, when escalated the `mux_sel` is always `SelNone`. So this protection I'm talking about is in fact partially there. I think like you said, we need to actually make use of the valid.. and maybe it would be a good idea to make the app selection wider as well.

@msfschaffner has a PR in life cycle control where the mux selection is more manipulated based o

[2022-02-11 02:33] tjaychen commented on #10773
that sounds good to me honestly. So whatever testing is to be applied to `ec_rst_l` for those functions, we apply it to `flash_wp_l` also.

[2022-02-11 03:15] msfschaffner commented on #8982
For reference, this is the PR that @tjaychen mentioned: https://github.com/lowRISC/opentitan/pull/10496

[2022-02-11 03:29] weicaiyang commented on #10773
sounds reasonable to add this feature and not a big impact to DV.

[2022-02-11 05:13] cdgori commented on #10750
Yea, we should be very careful here with SHA2 instructions.  We should discuss the exact use case too.

[2022-02-11 05:49] weicaiyang commented on #10039
@matutem this sounds like a P1 task. WDYT?

[2022-02-11 06:55] tjaychen opened #10778 "[tlul] socket_1n error responder incorrect integrity"
the socket elements typically do not contain any integrity generation, this is because the end points are expected to generate them.
The only exception is the error responder, which acts on behalf of a non-existent end point.

When a transaction is directed towards the error responder, the received integrity is incorrect because the module just hardwires it to '0.

There is technically nothing wro

[2022-02-11 06:55] tjaychen commented on #10778
@weicaiyang FYI.
Maybe the bad address case is missed or just not checked for integrity during xbar tests?

[2022-02-11 07:18] weicaiyang commented on #10778
We don't check integrity in xbar test since a/d_user are just passed through. We check a/d_user are passed through correctly

It's a good point. OOB in XBAR will also lead to an integrity error.

[2022-02-11 08:13] m-temp commented on #6544
Yes, I assigned you as a reviewer for #10744 There are only a couple of line of codes. I think looking at them is faster than me explaining it. Let me know if there any questions.

[2022-02-11 08:23] m-temp commented on #8982
@tjaychen @msfschaffner I see. Could you habe a look at #10744?
- I used a sparse encoding, so if there's a missmatch the `mux_sel` is not set to `SelSw` and `reg_state_o = '{default:'0}`
- `mux_sel` and `reg_state_valid_o` are buffered now
- and if `reg_state_valid_o` is zero, the TL input is not `reg_state_o`  but zero.

[2022-02-11 08:28] m-temp commented on #10213
@msfschaffner Well, I guess that there's no clear answer ;) We can close this for now, but we might want to add an icebox to streamline things in the future.

[2022-02-11 09:22] #9822 closed

[2022-02-11 09:56] vogelpi commented on #10518
This should have been fixed by #10578. If not, feel free to reopen it.

[2022-02-11 09:56] #10518 closed

[2022-02-11 10:09] vogelpi commented on #10387
Hey @rasmus-madsen ,
Is this still an issue or did this get fixed by #10578 as well?

[2022-02-11 10:33] rasmus-madsen commented on #10387
it is fixed I will close this one - we currently only have bugs in the CSRs

[2022-02-11 10:33] #10387 closed

[2022-02-11 10:43] NigelScales opened #10779 "[adc_ctrl] Clarify semantics for filter_status and adc_intr_status register."
It seems bits in adc_intr_status are set when there is a rising edge of the corresponding bit of filter_status rather than a rising edge in the corresponding bit of the match vector directly.
So to clear an interrupt for a bit and have another subsequently detected the corresponding filter_status bit must be cleared too.

Is this the intended behaviour?

[2022-02-11 10:57] rasmus-madsen commented on #10757
@martin-lueker if you want to track the status

[2022-02-11 13:09] NigelScales opened #10782 "[adc_ctrl] Power up timing not as specified in the design spec."
The first channel select should occur a number of cycles after power down (adc_o.pd) is set to 0.
This is determined by the field pwrup_time of register adc_pd_ctl.
The current RTL adds an extra 2 cycles to the number programmed in the register.

![image](https://user-images.githubusercontent.com/78102677/153596770-1e302e8c-64d7-4a89-a9ff-265cc7b9d0e8.png)

[2022-02-11 13:27] #10549 closed

[2022-02-11 15:46] arunthomas commented on #7972
The Mask ROM currently builds with Bazel. The major remaining gap is clang build support.

[2022-02-11 16:41] #8165 closed

[2022-02-11 16:52] eunchan commented on #10328
The attack scenario, even with the changes, cannot be prevented in my opinion. As `d_valid` somehow was corrupted already, the transactions are not paired anymore.

The list goes on and on to completely block this attack. I think it would be simpler to rely on Watchdog timer in this case as the crossbar hangs.

[2022-02-11 16:55] felixmiller commented on #10750
Two things we were discussing in the past:

**Carry-less multiplication**
Nothing that we desperately need right now, but we probably want to support this in the (very) long term to enable polynomial arithmetic.

**Composable (multi-limb) pseudo modular addm subm**
The `addm `and `subm `instructions (pseudo modular add/sub) come in very handy for any 256-bit elliptic curve implementations. For any

[2022-02-11 16:57] eunchan commented on #5134
Hum... That would be good for blocking the passthrough interface (assume no CDC protection  here). Releasing (clearing the BUSY) then would be the SW responsibility to not clear BUSY when the host system tries to send SPI transactions.

I will revise the SPI_DEVICE to support this.

[2022-02-11 16:59] eunchan opened #10785 "[spi_device] BUSY to block passthrough interface"
Discussed in #5134

- Add BUSY_CTRL_EN CSR to CONTROL (or CFG?)
- BUSY_CTRL_EN and BUSY (in peripheral domain) to clear the `passthrough_en` when BUSY is set and CTRL_EN is set.

CC: @tjaychen @a-will @martin-lueker

[2022-02-11 17:21] a-will commented on #5134
That is impossible. The host can send SPI transactions whenever it wants. Changes to passthrough_en should be on command boundaries only, done in the SPI clock domain, else we get the potential for corruption.

[2022-02-11 17:27] a-will commented on #10785
`BUSY` changes in the peripheral domain leave open the potential for corruption. `passthrough_en` needs to change on command boundaries only, else partial commands could get through. There is nothing firmware can do to guarantee the timing.

[2022-02-11 18:15] weicaiyang commented on #8464
@tjaychen is this still true, or we have updated the design?

[2022-02-11 18:42] jesultra commented on #10716
This is actually also needed for our "session" support. (See https://docs.google.com/document/d/18JIqdYcmJKDzANheNS9JI1rEre6-iXPZhjMjliAS0TE/edit# )

I am going to propose a PR shortly.

[2022-02-11 19:41] tjaychen commented on #10779
sorry i'm out for a couple of days, so i'll make sure to have a look when i'm back.
It does sound a little redundant based on your description here, so i'll take a look.

[2022-02-11 20:07] cindychip commented on #10327
Hi Sharon, sorry for the late feedback. I somehow missed this. I tried to run in close source, seems like it takes a long time to run. i will check the results this weekend.

[2022-02-11 20:13] milesdai opened #10791 "[mask_rom/e2e_tests] Testing across LC states"
#10548 does not currently contain testing across lifecycle states. Tests should be added to exercise functionality that is present in some states but not in others.

[2022-02-11 20:21] milesdai opened #10792 "[mask_rom/e2e_tests] Testing behavior during manufacture"
https://github.com/lowRISC/opentitan/pull/10548 does not test behavior during the manufacturing process and RMA. Tests should be added to exercise functionality related to manufacturing (e.g. bringup keys for manufacturing and RMA).

[2022-02-11 20:47] moidx commented on #628
Closing as the software builds are not moving to bazel lowrisc/opentitan#7972.

[2022-02-11 20:47] #628 closed

[2022-02-11 21:00] moidx commented on #5694
As of lowrisc/opentitan#9722, FPGA splicing is enabled in CI. We also have bootstrap support in the production ROM to enable loading of ROM_EXT.

[2022-02-11 21:00] #5694 closed

[2022-02-11 21:04] moidx commented on #5607
The boot policy implementation is now available here: https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/lib/boot_data.c

The boot policy is stored in internal info flash pages and it is only accessible to the ROM and ROM_EXT. The info pages are lockdown before jumping into the next boot stage.

Closing this issue for now, but feel free to re-open if there are any

[2022-02-11 21:04] #5607 closed

[2022-02-12 05:51] weicaiyang opened #10799 "[dv] inout port connection issue"
@rasmus-madsen

We follow your example in spi_host [tb](https://github.com/lowRISC/opentitan/blob/2babd940e9b65794cabd1351c112e7b016475d57/hw/ip/spi_host/dv/tb.sv) to connect spi_device.
It works for VCS, but it behaves very strange with Xcelium. Not sure if you have seen the same issue in spi_host.
[code]

We use SPI device single mode for now. sio[0] is driven by TB. sio[1] is driven by DUT.
Whe

[2022-02-12 06:14] #10682 closed

[2022-02-13 01:53] cindychip opened #10804 "[kmac] error code for lc_escalation"
Hi Eunchan,

I have two questions regarding lc_escalation:

1).
Right now when lc_escalation is asserted, the err_code is `ErrNone`, but `status` field `ALERT_FATAL_FAULT` is 1.
I wonder if we should have an err_code for lc_escalation?

![image](https://user-images.githubusercontent.com/11466553/153734921-75ac3007-14da-414c-9842-6d22e138733c.png)

2).
When lc_escalation_en_i asserted to On, the ap

[2022-02-13 07:59] arnonsha opened #10805 "[prim] foundry prim should be updated whenever a generic prim changes interface or params"
Following pr #10735 our nightlies have stopped running. This is because the generic prim cells and the foundry prim cells have different parameter list.

VCS sees the problem but ignores it:
`
Warning-[AOUP] Attempt to override undefined parameter
...spyglass_220213/opentitan/hw/foundry/generated/lowrisc_prim_flop_en-impl_0/prim_flop_en.sv, 37
  Attempting to override undefined parameter "EnSecBuf

[2022-02-13 09:45] arnonsha commented on #10805
@NoamGottlieb

[2022-02-13 17:12] alphan opened #10808 "[sw/silicon_creator] Minimum watchdog threshold"
we should disallow configuration if the threshold is set to 0. Maybe just compare against a reasonable threshold.

_Originally posted by @moidx in https://github.com/lowRISC/opentitan/pull/10632#discussion_r805014876_

[2022-02-14 10:52] jprendes opened #10813 "[doc] Broken link"
The link "[the relevant User Guide](https://docs.opentitan.org/sw/doc/ug/getting_started_sw.md)." in https://docs.opentitan.org/sw/README/ results in a 404.

[2022-02-14 12:21] mundaym commented on #10813
I think it should point to https://docs.opentitan.org/doc/ug/getting_started_build_sw/. Would you like to send a PR to fix?

[2022-02-14 14:31] zi-v opened #10815 "[entropy_src] Bucket test may not address 4-bit symbol APT health test requirements"
APT test is described in https://nvlpubs.nist.gov/nistpubs/SpecialPublications/NIST.SP.800-90B.pdf, section 4.4.1, quoting:
"Let next() yield the next sample from the noise source. Given a continuous sequence of noise
samples, the cutoff value C and the window size W, the adaptive proportion test is performed as
follows:
1. A= next()
2. B=1.
3. For i = 1 to W–1
     If (A = next()) B=B+1
     If (

[2022-02-14 14:55] vogelpi commented on #10721
Here is the PR #10817, please take a look.

[2022-02-14 15:28] rswarbrick opened #10818 "[tlul] tlul_adapter_sram doesn't use blanking data on a TL error"
The check that @cindychip added in #10794 fails on some stress tests because `tlul_adapter_sram` has the following code to compute the "rdata" that it responds with:
[code]
This looks like it should work, but `vld_rd_rsp` is:
[code]

If the original TL request has invalid integrity bits, we squash the request and stop it going out to the SRAM side. But that means that the `rvalid_i` signal doesn't

[2022-02-14 15:33] rswarbrick commented on #10818
I think the fix might be as simple as:
[code]
but I'd like someone who knows what they're doing to take a look :-)

[2022-02-14 17:51] msfschaffner opened #10823 "[kmac] D2S review opens"
- [x] Align CFG_SHADOWED with CONFIG.SHADOW name
- [x] Add sparse FSM in kmac_core, which isn’t listed in the hjson
- [x] LFSR.REDUN Nit: The [countermeasure](https://github.com/lowRISC/opentitan/blob/master/hw/ip/aes/data/aes.hjson#L221) text says “prim_lfsr”, which needs fixing.
- [x] LFSR.REDUN Nit: The comment above the instantiation of u_lfsr has a note about the “FSM below” which probably ne

[2022-02-14 17:57] msfschaffner opened #10825 "[pwrmgr] D2S review opens"
- [ ] Double check that bus integrity error is connected to fatal alert
- [ ] FSM.GLOBAL_ESC: rename this to CTRL_FLOW.GLOBAL_ESC (or similar)
- [ ] Double check why the countermeasure table is not generated in the docs.
- [ ] Check whether rom_intg_chk_dis/rom_intg_chk_ok this should use MUBI AND/OR functions
- [ ] Clean up side comments in the docs
- [ ] Chris to update the spreadsheet with newe

[2022-02-14 18:26] arnonsha commented on #10805
DC also breaks:
[code]
XXX is the technology name used in foundry

setting P0 as this is a show stopper

[2022-02-14 20:49] #10813 closed

[2022-02-14 20:54] toshaq commented on #10663
LGTM @msfschaffner

[2022-02-14 21:02] msfschaffner commented on #10818
Hey @rswarbrick, I don't see any problem responding with the blanking data in case of write ops. The data returned is a don't care in that case anyways...

[2022-02-14 21:08] msfschaffner commented on #10663
Thanks for double checking!

FYI @tjaychen @weicaiyang @patel-madhuri

[2022-02-14 21:08] #10663 closed

[2022-02-14 21:13] cindychip commented on #10327
Hi Sharon,
I think close source now has this compile error - #10805
Once this is fix, could you give this test a try and let me know if there is any issue? I am happy to debug with you together if it is not working out.

Thanks,
CIndy

[2022-02-14 21:47] msfschaffner commented on #10805
Ah this prim has been updated very recently.
I'll make a fix for the foundry repo.

[2022-02-14 21:50] cindychip opened #10828 "[kmac] lc_escalation signal value that is not `On` or `Off`"
Hi Michael and Eunchan,

I think for other IPs, when `lc_escalate_en` != `Off`, it will trigger escalation.
But in kmac, we will trigger escalation only when `lc_escalate_en` == `On`

I believe the related code is here:
https://github.com/lowRISC/opentitan/blob/master/hw/ip/kmac/rtl/kmac.sv#L1296
Should that be:
[code]

Other IPs:
https://github.com/lowRISC/opentitan/blob/master/hw/ip/sram_ctrl/rt

[2022-02-14 22:44] msfschaffner commented on #10805
This has been addressed in the internal repo.
Please confirm and close this issue if it works for you.

[2022-02-14 22:58] rswarbrick commented on #10828
This has just changed slightly with #10814 landing. Now a malformed `lc_escalate_en_sync` will propagate. I assume we've got a well-formedness check in whatever consumes it eventually? If not, we probably should have :-D

[2022-02-14 23:01] cindychip commented on #10828
Oh thank you for pointing that out. I did not rebase the code. Let me double check with the latest codebase.

[2022-02-14 23:30] weicaiyang commented on #10799
an interesting discovery:
First, I changed to a simple way that assigns 'bz if design isn't driving the pin, which is the same approach that we use in GPIO TB. It works for VCS, but not for Xcelium.
[code]
Here is the failing waves. When csb=0, driver drives sio[0] and the places that show Z should be zero.
![Screen Shot 2022-02-14 at 3 25 09 PM](https://user-images.githubusercontent.com/49293026/

[2022-02-14 23:32] weicaiyang commented on #10799
@kosta-kojdic @patel-madhuri I created a draft PR with the workaround [here](https://github.com/lowRISC/opentitan/pull/10831/commits/e33b0b28da0a77c5028440290e6450122d3e11f0). If that works for you, please update the PR and also make the same change to the passthrough ports.

[2022-02-14 23:39] cindychip commented on #10828
No more error with #10814. Thanks Rupert.

[2022-02-14 23:39] #10828 closed

[2022-02-14 23:43] msfschaffner commented on #10523
Are there any updates regarding these tasks?
If yes, it would be good to link the corresponding PRs for reference.

[2022-02-14 23:48] weicaiyang opened #10832 "[dv] bi-direction assignment issue in Xcelium"
This issue is created to follow up with Cadence. A workaround has been found.

We use the following way to drive bi-direction port. It works for VCS, but not for Xcelium.
When `cio_sd_en_o[0]` (output enable) is set, `spi_if.sio` should be driven by DUT, otherwise, driver can drive it.
In this case, `cio_sd_en_o[0]` is assigned to 0 after time 0. Only driver may drive it.
[code]
Here is the failin

[2022-02-15 00:32] msfschaffner commented on #10422
@vogelpi is there anything else that is gating the AES to go to D2S?

[2022-02-15 01:09] msfschaffner commented on #109
@cdgori

[2022-02-15 01:14] msfschaffner commented on #7215
Are we ok with punting this to a future revision then (just to document what the decision is)?

[2022-02-15 01:17] msfschaffner commented on #4975
I have the feeling that this is not strictly required for the first revision, and would recommend to label this as a future enhancement that we can vendor in once the patch mentioned above has landed upstream.

[2022-02-15 01:44] sriyerg commented on #4975
Agreed, as long as it is clearly documented somewhere.

[2022-02-15 01:45] cindychip opened #10835 "[kmac] status is idle while in `KeyNotValid` error mode"
Hi Eunchan,

I think we mentioned this in D2S review, but just file an issue for tracking.
When the APP interface has a request from keymgr, but keymgr's key is not valid, we will fire an `KeyNotValid` error.
However, during the entire time, the `sha3_fsm` is in `StIdle` state, which means if SW polls `status` register, it will return `Sha3Idle` even though internally it is processing keymgr app i

[2022-02-15 05:20] sriyerg opened #10837 "[rv_dm] Injecting accesses into unmapped regions of the debug memory space does not return an error response"
The debug mem is the 'second' TL interface into `rv_dm` where the debug memory (rom) resides, which has a bunch of CSRs, program buffer and ROM. Its specification can be found here:
https://github.com/lowRISC/opentitan/blob/master/hw/vendor/pulp_riscv_dbg/doc/debug-system.md#debug-memory

The `dm_mem` implementation from PULP does not seem to implement a an error response for accesses made to unma

[2022-02-15 06:04] weicaiyang commented on #5262
This has been fixed. Closing it now

[2022-02-15 06:04] #5262 closed

[2022-02-15 06:17] #1203 closed

[2022-02-15 06:17] weicaiyang commented on #1212
@eunchan this is a very old issue. Do you think if it's still valid to rename the CSR?

[2022-02-15 07:05] arnonsha commented on #10805
Thanks @msfschaffner
All is back to normal and our nightlies stated working again.
Closing the issue.

[2022-02-15 07:05] #10805 closed

[2022-02-15 09:51] rswarbrick commented on #4975
Sounds good to me.

[2022-02-15 10:55] NigelScales opened #10843 "[adc_ctrl] Normal power debounce counter mismatch to spec."
To reproduce:
./util/dvsim/dvsim.py hw/ip/adc_ctrl/dv/adc_ctrl_sim_cfg.hjson -i adc_ctrl_filters_polled --fixed-seed 1 --tool xcelium --run-opts  "+pwrup_time_chk=0" --waves

From the spec (https://docs.opentitan.org/hw/ip/adc_ctrl/doc/index.html):

If the counter is the debounce counter and it reaches its limit then:
If an interrupt is not already being raised then the current sample values are l

[2022-02-15 11:29] vogelpi commented on #10422
Some time ago, someone also suggested to convert the `Masking` and `SBoxImpl` parameters to `Sec` parameters to prevent that the masking is accidentally switched off or a less secure S-Box implementation is selected for tapeout. We didn't explicitly discuss this during the D2S meeting but it can be considered a security feature as well. The corresponding PR is here: #10844

[2022-02-15 11:55] davebwil opened #10847 "[sw/dif] Flash_ctrl DIF, change word count check for erase operations"
When doing an erase operation the transaction is setup to use a word_count of 0 as the erase does not read/write data to/from the FIFOs. The current code checks that word_count is not zero in "dif_flash_ctrl_start" and fails with kDifBadArg if that is the case.
Setting the word_count for the erase operation to >0 does not provide a solution as the subsequent call to "dif_flash_ctrl_end" never sees

[2022-02-15 13:09] eshapira opened #10848 "[flash_ctrl] Wrong page size in flash_ctrl C test"
The chip's test **chip_sw_flash_access** is running the method **test_basic_io** in the file **sw/device/tests/flash_ctrl_test.c** https://github.com/lowRISC/opentitan/blob/b1e181b4ff83e60f4ee3a567bf358721d5336ad8/sw/device/tests/flash_ctrl_test.c#L37
In this test, the **input page** and **output page** variables declared as arrays that should be in the size of 1 full page of the flash.
The flash

[2022-02-15 13:37] #10487 closed

[2022-02-15 13:59] a-will commented on #10847
Yes, that behavior totally makes sense, and the solution you proposed is perfect. Thanks for finding the bug.

It looks like we don't describe how to do erase operations in the doc, so we might want to add that too

[2022-02-15 14:27] a-will commented on #10847
Actually, small tweak: We'd probably want to force word_count to be zero when the operation is an erase, so the check would have an "else" clause.

[2022-02-15 16:24] sha-ron opened #10852 "[top] Extending the open source SW mode tests in the close source"
Even though we already have an initial solution, I am opening this issue for visibility and tracking,
The purpose is to run open source tests on the close source database with additional configurations and checks (without duplicating the open source tests).
This will require adding some hooks to the open source code that will be extended in the close source tests.

[2022-02-15 17:08] TimEwins opened #10855 "[flash_ctrl] RMA Check Assertion In The RTL Might Need Fixing"
When I merged the Flash Ctrl RMA test (flash_ctrl_hw_rma) I pulled in the latest Flash RTL changes.

@tjaychen Added an assertion to internally check the RMA.  In this test, this Assertion is now firing (if I remove it passes)

Looking in the waves, the Assertion may need tweaking.  I attach a waveform file, and assertion detail.  It seems we are comparing x's.

Note the test flash_ctrl_hw_rma is

[2022-02-15 17:33] TimEwins opened #10857 "[flash_ctrl] RMA Cycle Time Taking Too Long To Simulate Using VCS"
Just before raising the PR https://github.com/lowRISC/opentitan/pull/10854 I ran the RMA test through VCS.

The actual time (real time) spent in the RMA cycle (as in Request to Acknowledge) is enormous, for some reason.

Each test run does 4 RMA cycles (seperated by Resets)

Using Xcellium this takes approx 30mins
Using VCS this takes in excess 0f 15 Hours !

The test issues an RMA Request, and th

[2022-02-15 18:45] msfschaffner opened #10860 "[rv_dm] D2S review opens"
- [x] Add comment for bust host integrity error (https://github.com/lowRISC/opentitan/pull/10866)
- [x] Add an LC gate on the JTAG signals (https://github.com/lowRISC/opentitan/pull/10866)
- [x] Add the EN_IFETCH.CTRL.MUBI (https://github.com/lowRISC/opentitan/pull/10866)
- [x] Double-check why countermeasures are not rendered in public docs (auto generate tags are probably missing) (https://githu

[2022-02-15 19:00] weicaiyang commented on #10857
@TimEwins you can try to run VCS profiling which will tell which part takes most of the time.

perhaps reduce some iterations, otherwise, it may take too long.

[2022-02-15 19:09] TimEwins commented on #10857
@weicaiyang Thanks ... I'll try that (profiling), but I haven't seen the test end in VCS yet .. we only have one VCS license .. our main simulator is Xcelium....... I have reduced the polling interval to save cycle time, but I think there is more to look at.

The polling loop is ...

    done = 0;
    rma_ack_seen = 0;
    fork
      begin
        fork
          begin  // Poll RMA ACK

[2022-02-15 19:26] weicaiyang commented on #10857
oh, looks like it takes really long sim time for each RMA. perhaps we can consider to force the internal timer to shorten the sim time, or configure to small value if it's configurable.