[2022-11-04 20:10] msfschaffner opened #16024 "[test-triage] chip_sw_pwrmgr_random_sleep_all_reset_reqs"
### Hierarchy of regression failure

Chip Level

### Failure Description

Offending '$fell(src_ack_o)' has 17 failures:

Test chip_sw_pwrmgr_random_sleep_all_reset_reqs has 3 failures.

0.chip_sw_pwrmgr_random_sleep_all_reset_reqs.941553995
Line 650, in log /container/opentitan-public/scratch/os_regression/chip_earlgrey_asic-sim-vcs/0.chip_sw_pwrmgr_random_sleep_all_reset_reqs/latest/run.log

[2022-11-04 20:13] msfschaffner opened #16025 "[test-triage] chip_sw_sysrst_ctrl_ec_rst_l"
### Hierarchy of regression failure

Chip Level

### Failure Description

UVM_ERROR @ * us: (chip_sw_sysrst_ctrl_ec_rst_l_vseq.sv:132) virtual_sequencer [chip_sw_sysrst_ctrl_ec_rst_l_vseq] Flash write protect signal expected *. has 3 failures:

Test chip_sw_sysrst_ctrl_ec_rst_l has 3 failures.
0.chip_sw_sysrst_ctrl_ec_rst_l.1701720559
Line 610, in log /container/opentitan-public/scratch/os_regress

[2022-11-04 20:16] msfschaffner opened #16026 "[test-triage] chip_sw_sysrst_ctrl_outputs"
### Hierarchy of regression failure

Chip Level

### Failure Description

UVM_FATAL @ * us: (chip_sw_sysrst_ctrl_outputs_vseq.sv:113) [chip_sw_sysrst_ctrl_outputs_vseq] Check failed output_pad_read_values == OUTPUT_NONE_SET (Z [0xZ0] vs * [*]) has 3 failures:

Test chip_sw_sysrst_ctrl_outputs has 3 failures.
0.chip_sw_sysrst_ctrl_outputs.4035106373
Line 622, in log /container/opentitan-public/scra

[2022-11-04 20:21] msfschaffner opened #16027 "[test-triage] chip_sw_otbn_randomness"
### Hierarchy of regression failure

Chip Level

### Failure Description

Offending '$stable(edn_o[*].edn_bus)' has 27 failures:

Test chip_sw_otbn_randomness has 3 failures.
0.chip_sw_otbn_randomness.302192628
Line 613, in log /container/opentitan-public/scratch/os_regression/chip_earlgrey_asic-sim-vcs/0.chip_sw_otbn_randomness/latest/run.log

      Offending '$stable(edn_o[1].edn_bus)'
  UVM_ERR

[2022-11-04 20:40] engdoreis commented on #13543
it could match with `kRamTestPattern2` if the main sram wasn't scrambled. But it was.
https://github.com/lowRISC/opentitan/blob/78fdfa23c9de6a01c20cf9ee81509eeb20ce4faf/sw/device/tests/sim_dv/sram_ctrl_main_scrambled_access_test.c#L309-L310

I have a second look.
Anyway thank you folks for unblocking me. I may have a PR for review by monday.

[2022-11-04 20:48] msfschaffner opened #16028 "[test-triage] chip_csr_mem_rw_with_rand_reset"
### Hierarchy of regression failure

Chip Level

### Failure Description

NOTE: Multiple error signatures for this test

[code]
### Steps to Reproduce

- GitHub Revision: [3e32a31a2](https://github.com/lowrisc/opentitan/tree/3e32a31a2ba47298a1041913daa27e827b5068b0)
- dvsim invocation command to reproduce the failure, inclusive of build and run seeds:
  ./util/dvsim/dvsim.py hw/top_earlgrey/dv/chi

[2022-11-04 20:50] msfschaffner opened #16029 "[test-triage] chip_sw_sleep_pin_wake"
### Hierarchy of regression failure

Chip Level

### Failure Description

UVM_FATAL @ * us: (chip_sw_sleep_pin_wake_vseq.sv:89) [chip_sw_sleep_pin_wake_vseq] wait timeout occurred! has 2 failures:

Test chip_sw_sleep_pin_wake has 2 failures.
1.chip_sw_sleep_pin_wake.1469827049
Line 631, in log /container/opentitan-public/scratch/os_regression/chip_earlgrey_asic-sim-vcs/1.chip_sw_sleep_pin_wake/lat

[2022-11-04 20:51] msfschaffner commented on #16029
Duplicate of #15954 - closing.

[2022-11-04 20:51] #16029 closed

[2022-11-04 20:55] msfschaffner opened #16030 "[test-triage] chip_sw_otbn_smoketest"
### Hierarchy of regression failure

Chip Level

### Failure Description

No signature available on the dashboard (unknown why).

CC @tjaychen @sriyerg

### Steps to Reproduce

- GitHub Revision: [3e32a31a2](https://github.com/lowrisc/opentitan/tree/3e32a31a2ba47298a1041913daa27e827b5068b0)
- dvsim invocation command to reproduce the failure, inclusive of build and run seeds:
  ./util/dvsim/dvsim.

[2022-11-04 20:58] msfschaffner commented on #13543
True, if the SRAM wasn't scrambled correctly, it should match (hence it probably makes sense to have this as an additional check so that we do not only rely on the checks of the copy).

[2022-11-04 21:00] moidx commented on #16027
CC @cindychip

[2022-11-04 21:05] tjaychen commented on #16027
yeah i wouldn't worry about this batch until the next regression results are out :)

[2022-11-04 21:08] msfschaffner commented on #16018
Related failures reported in [#16024](https://github.com/lowRISC/opentitan/issues/16024)

[2022-11-04 21:26] sriyerg commented on #16030
It should be the same error signature as this one:
[code]
Notice `...and 4 more tests`. These are the 4.

[2022-11-04 21:27] msfschaffner commented on #14518
If this is not needed for our current planned top-level tests at V2, it's probably fine to defer this to M3 as a cleanup step.
Note that we do such SW API cleanups typically as part of the D3 review.

[2022-11-04 21:57] msfschaffner commented on #16030
Oh I see. Let me link that as a potential duplicate then: [#16027](https://github.com/lowRISC/opentitan/issues/16027)

[2022-11-04 21:57] msfschaffner commented on #16027
Potential duplicates: [#16027](https://github.com/lowRISC/opentitan/issues/16027)

[2022-11-04 23:02] moidx commented on #15980
Running with a few seeds after rebasing with #16011 and #16005

[2022-11-04 23:38] msfschaffner commented on #15898
Passing 3 times in a row, so we can close this!

[code]

[2022-11-04 23:38] #15898 closed

[2022-11-04 23:45] #15217 closed

[2022-11-04 23:50] cindychip opened #16039 "[edn] sw_cmd_req and auto_req_mode"
In the design doc, for the  `sw_cmd_req` it mentions:
"If !!AUTO_REQ_MODE is set, this register will have no effect on operation. "
(Link: https://docs.opentitan.org/hw/ip/edn/doc/index.html#Reg_sw_cmd_req)

But from the design code:
https://github.com/lowRISC/opentitan/blob/master/hw/ip/edn/rtl/edn_core.sv#L473
Does not look like the `sw_cmd_req` is gated by the `auto_req_mode`.

Also looking at

[2022-11-04 23:57] cindychip commented on #16039
Note for my own:

Reproduce command: ../../../../util/dvsim/dvsim.py edn_sim_cfg.hjson -i edn_genbits --reseed 1 --seeds 1102377242 -w fsdb

Draft PR: https://github.com/lowRISC/opentitan/pull/16042

[2022-11-05 01:58] weicaiyang opened #16046 "[keymgr] missing prim_sparse_fsm_flop"
@tjaychen
Should we change [this](https://cs.opensource.google/opentitan/opentitan/+/master:hw/ip/keymgr/rtl/keymgr_sideload_key_ctrl.sv;l=67?q=sideload_key_ctrl&ss=opentitan%2Fopentitan:hw%2F) to prim_sparse_fsm_flop?

[2022-11-05 02:30] tjaychen commented on #16046
ah yes we should, good catch.

[2022-11-05 03:36] tjaychen commented on #16039
good find @cindychip!
@mwbranstad i think the intent was probably to block it right? Did we decide for any specific reason to allow it..?

@cindychip i feel like in the worst case we could table this bug to a future revision :). Becuase I think even if the path is alive...we could always just choose to not use it in software...

[2022-11-05 07:28] cindychip commented on #16039
Thanks Tim for the reply. Happy o table it for future release :)
 I "guess" (Mark please correct me if I am wrong) one reason to allow it - is to instantiate the CSRNG before the auto-req? But I am not sure what is the exact order of the following items:
1). Write cmds and reseeds to `generate_cmd` and `reseed_cmd` registers.
2). Enable auto-req-mode.
3). Write `sw_cmd_req` to instantiate CSRNG.

[2022-11-05 07:32] tjaychen commented on #16039
yeah that's right, i think that's the normal case. Except after that initial part, which i think the fsm actually [expects](https://cs.opensource.google/opentitan/opentitan/+/master:hw/ip/edn/rtl/edn_main_sm.sv;l=181-193?q=edn_main_sm&ss=opentitan%2Fopentitan:hw%2F), there technically could be no more usage for it.

[2022-11-05 07:37] tjaychen commented on #16039
hmm... come to think of it..i guess another use case would be to uninstantiate it also? but i don't think that's something that the edn fsm really supports right now.. so I guess we would have to disable...

[2022-11-05 16:33] sriyerg commented on #15955
Test is passing in Nov 4 results.

[2022-11-05 16:33] #15955 closed

[2022-11-05 16:34] sriyerg commented on #15954
Test is passing in Nov 4 results.

[2022-11-05 16:34] #15954 closed

[2022-11-05 16:36] sriyerg commented on #15956
The job got killed because the machine running the job unexpectedly shut down.
Except `rom_e2e_shutdown_exception_c`, others are now passing. This is indeed a transient issue and we can perhaps close it?

[2022-11-05 21:08] mwbranstad commented on #16039
@cindychip your sequence above looks good to me. The general idea is to require SW the freedom to set up the initial instantiate command. Thereafter, the hw will automatically do gen cmds and reseeds forever in the background. The expected use case is for the OTBM high entropy SW functions.
I would say the HW is fine and the spec needs to be modified to make this capability more clear. Make sense?

[2022-11-06 05:33] cindychip commented on #16039
Thanks Mark for the clarification. Just a follow up question - after the EDN is instantiated, and auto_req_mode is set, if user still somehow uses sw_cmd_req to send any CSRNG request (like a GEN command), EDN will still take it right?

[2022-11-06 09:23] yehuda-bejar opened #16055 "[chip, dv] False error of alert-ping-timeout"
The alert monitor does not recognize the response to a ping.

The 1st issue:
The alerts monitor, used in the chip level env., has an issue that causes false errors of “ping timeout”:
The monitor …/opentitan/hw/dv/sv/alert_esc_agent/alert_monitor.sv
has these parallel threads in a fork in task “ping_thread()”:
[code]
Thread wait_ping_handshake (1) Is supposed to detect the alert ping  handshake.
Th

[2022-11-06 14:40] zi-v commented on #10970
I think there should be at least one test that checks that the boot timing is reasonable. IMO, there's no need to write a generic model that cover all configuration options or something like that, just one, or a few, tests with specific configuration that makes sense. We should run it in both open- and close-source environment. Running it with slowest possible uncalibrated clocks would be a good i

[2022-11-06 15:10] drewmacrae opened #16056 "//sw/device/silicon_creator/rom/e2e:boot_policy_bad_mandfest_* tests failing"
These tests don't appear to be configured to work properly in verilator and the test appears to break while the memories are being loaded.

[2022-11-06 15:10] drewmacrae commented on #16056
//sw/device/silicon_creator/rom/e2e:boot_policy_bad_manifest_bad_identifier_a_sim_verilator FAILED in 60.2s
//sw/device/silicon_creator/rom/e2e:boot_policy_bad_manifest_bad_identifier_b_sim_verilator FAILED in 60.2s
//sw/device/silicon_creator/rom/e2e:boot_policy_bad_manifest_code_end_unaligned_a_sim_verilator FAILED in 60.2s
//sw/device/silicon_creator/rom/e2e:boot_policy_bad_manifest_code_end_un

[2022-11-06 15:11] drewmacrae commented on #15877
I'm tracking //sw/device/silicon_creator/rom/e2e:boot_policy_bad_manifest_bad_identifier_a_sim_verilator FAILED in 60.2s
//sw/device/silicon_creator/rom/e2e:boot_policy_bad_manifest_bad_identifier_b_sim_verilator FAILED in 60.2s
//sw/device/silicon_creator/rom/e2e:boot_policy_bad_manifest_code_end_unaligned_a_sim_verilator FAILED in 60.2s
//sw/device/silicon_creator/rom/e2e:boot_policy_bad_manifes

[2022-11-06 16:40] cindychip commented on #16055
Thank you for reporting this issue!
Currently there is a known issue for this alert_esc_agent, as this is mainly used for block level testitng.
In chip level, we mainly use it to make sure there is no fatal alert firing continuously at the end of the test.

For now, could you try adding a switch to disable this check?
https://github.com/lowRISC/opentitan/blob/master/hw/top_earlgrey/dv/chip_sim_cfg

[2022-11-06 18:00] mwbranstad commented on #16039
@cindychip The design was not intended to run that way. If EDN is to switch from auto-req mode to sw port mode, I would expect that SW will disable EDN first, then set the mode bits for the new operational mode, then enable EDN again.

[2022-11-06 19:06] #16056 closed

[2022-11-06 19:08] drewmacrae commented on #16056
Duplicate to #15977

[2022-11-07 07:46] johannheyszl commented on #15470
Thanks @m-temp and @wettermo!

Re leakage at the beginning, trying to summarize: @m-temp seems to think that the leakage at the very beginning could be due to bus transfers of **data** (not key) to the core. This seems very reasonable to me since even with CFG_SHADOWED.msg_mask = true, the msg is transferred over the TLUL bus unmasked. Note that this is **no issue** for KMAC since the msg is suppo

[2022-11-07 08:46] vogelpi commented on #15709
I am closing this issue as we don't need to waive anything. To meet the coverage target for V2S we had to make some changes to these FI tests which caused the problematic behavior to become more significant. As a result, the pass rate of these tests dropped below the threshold. We thus files #16001 to fix this and solve the underlying issue.

[2022-11-07 08:46] #15709 closed

[2022-11-07 08:47] vogelpi commented on #13579
Update: all action items have been adressed and the sign-off PR is here #16002.

[2022-11-07 09:00] HU90m commented on #15427
The `chip_sw_rstmgr_cpu_info` test checks the fields of cpu info dump after a single and a double fault. It doesn't have any randomization so, for example, the fault is always caused by the same memory access faults at the same addresses. I think it is currently sufficient for a top level test, but if it's lacking coverage we could add some randomization?

[2022-11-07 09:22] vogelpi commented on #15427
Hi @HU90m ,
adding some randomization sounds reasonable to me. But @engdoreis has probably a better overview of the current state of TLT to judge where further effort is best spent.

For inspiration, you can have a look at the [`otbn_mem_scramble_test.c`](https://github.com/lowRISC/opentitan/blob/master/sw/device/tests/otbn_mem_scramble_test.c) which uses randomness from rv_core_ibex (provided thr

[2022-11-07 09:44] vogelpi commented on #15470
Nice, thanks for sharing the figures @m-temp and @wettermo !

I'm pretty sure the initial leakage is not due to bus transfers because when the capture starts, Ibex is already sleeping. After the last bus transfer which kicks off the processing, it takes another 40 clock cycles (800 samples) on FPGA until the processing as well as the capture actually starts. So this leakage is mostly due to loadin

[2022-11-07 10:22] engdoreis opened #16060 "[test-triage] rom_keymgr_functest timing out"
### Hierarchy of regression failure

Chip Level

### Failure Description

Job chip_earlgrey_asic-sim-vcs_run_default killed due to: Exit reason: User job exceeded runlimit: User job timed out has 3 failures:

Test rom_keymgr_functest has 3 failures.
0.rom_keymgr_functest.1067358432
Log /container/opentitan-public/scratch/os_regression/chip_earlgrey_asic-sim-vcs/0.rom_keymgr_functest/latest/run.log

[2022-11-07 10:33] engdoreis commented on #14204
Closing this issue as the tests passed 4 regressions already:
|    | Tests             |   2022-11-06 07:11:02 |   2022-11-05 07:11:23 |   2022-11-04 07:12:05 |   2022-11-03 07:11:23 |   2022-11-02 07:03:26 |   2022-11-01 07:10:18 |   2022-10-27 07:09:48 |   2022-10-26 07:06:46 |   2022-10-25 07:06:33 |   2022-10-24 07:05:24 | Suite

[2022-11-07 10:33] #14204 closed

[2022-11-07 10:47] engdoreis commented on #15538
I just updated the error message to:
[code]

[2022-11-07 14:38] #14477 closed

[2022-11-07 14:59] HU90m commented on #15427
I just spoke to @engdoreis. We're interested in whether adding randomization to the fault cause and, for memory faults, the addresses would increase coverage for `rv_core_ibex` (the wrapper) or `rstmgr`?

[2022-11-07 15:09] johngt opened #16063 "[entropy_src] Coverage items to pass V2 threshold"
Get the remaining two V2 tests above 90% pass rate.

[2022-11-07 15:11] johngt opened #16064 "[entropy_src] Close coverage"
Close coverage
- [ ] Improve functional coverage first, then toggle coverage.
- [ ] Confirm refine files.
- [ ] Review functional coverage code for holes.

[2022-11-07 15:13] johngt opened #16065 "[entropy_src] Implement V2S tests"
- [x] Map as many CMs to common tests or FPV as possible.
- [x] For the remaining CMs, extend existing tests or write new tests.

[2022-11-07 15:22] m-temp commented on #15470
I agree, bus transfer was not very precise. What I meant was: Leakage is due some transfer/loading, but before the SHA3 core.

anyways, I made some more measurements for the masked version

1 Mio traces with and without an offset of 800

no offset | 800 samples offset
:-------------------------:|:-------------------------:
![sha3_masks_on_1M](https://user-images.githubusercontent.com/8276171/20034

[2022-11-07 15:43] johngt commented on #15278
@vrozic - pinging for an update on the issue? Do you have a draft PR or an update on what is currently blocking this?

[2022-11-07 15:56] vrozic commented on #15278
PR #15874 should fix this problem.
I am currently testing this fix with more seeds to be sure that the problem is indeed gone.

[2022-11-07 16:13] #14154 closed

[2022-11-07 16:30] cindychip commented on #16039
I see, thanks for confirming!

[2022-11-07 16:40] dmcardle opened #16067 "JTAG regression: "The target is either really slow or broken. ""
CC: @a-will @alphan @arunthomas

Last week, I observed an issue with JTAG-based ROM e2e tests like [:sram_program_fpga_cw310_test_otp_dev](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/e2e/BUILD;l=1475;drc=968977a1defaf3af826c5d71889f57be69061d61). OpenOCD connects, but when it tries to service the commands issued by GDB, it eventually prints out this fasc

[2022-11-07 16:47] dmcardle commented on #16067
cc @jeoongp @msfschaffner

[2022-11-07 17:15] tjaychen commented on #15538
well that's weird... that's not an error message i expect.
Is @vogelpi hardening already in, and this is still failing?

[2022-11-07 17:29] tjaychen commented on #16067
should be addressed by
#15998
#16012

[2022-11-07 17:42] tjaychen commented on #14330
actually, do we think it's important to have this as a v2 test?
This doesn't really check for anything specific functional changes..

in theory we would use this to know our architecture is too slow and requires big changes, but we are far beyond that point now.

[2022-11-07 17:45] tjaychen commented on #15427
yeah i think some of it relates to the memory address.
However, if you look at what the crash dump actually contains, it contains things like the data address, current pc, next pc etc.
So even if you randomize the memory fault address, it only impacts the first.  The current pc / next pc may not shift around a ton because the test is pretty much going to be the same.  So I don't believe the covera

[2022-11-07 17:47] msfschaffner commented on #2111
This appears to be mostly a documentation exercise that we can take care of when signing off to D3. As such, it does not have to go into V2S / M2. Let me relabel that accordingly.

CC @moidx @tjaychen let me know if you think otherwise.

[2022-11-07 17:47] tjaychen commented on #16039
@mwbranstad if that's the case, ie after instantiation `sw_cmd_req` should not be accepted, would you be against us adding a `regwen` on the `sw_cmd_req` register? It seems that one should basically be inactive until disable.

[2022-11-07 17:49] zi-v opened #16068 "[doc,datasheet,spec] USB is missing under IO peripherals of OpenTitan Earl Grey Chip datasheet/specification docs"
Reference files:
https://github.com/lowRISC/opentitan/blob/2fda8fa3159893257d289e93047565d0ec301af5/hw/top_earlgrey/doc/_index.md
https://github.com/lowRISC/opentitan/blob/2fda8fa3159893257d289e93047565d0ec301af5/hw/top_earlgrey/doc/design/index.md

[2022-11-07 17:51] tjaychen commented on #2111
since others are helping with some of the directed M2 tasks of `entropy_src`, it would be nice if @martin-lueker could help out with the documentation side things just in case it has any impact on V2S/

[2022-11-07 17:57] tjaychen commented on #15939
@jdonjdon i'll help triage this one since you're busy with i2c block level.
There are more dv things than design things to do there :)

[2022-11-07 17:59] msfschaffner commented on #15956
We already have an open issue for #15238, so I think it is ok to close, since the other tests have been passing in the nightlies as you mentioned:
[code]

[2022-11-07 17:59] #15956 closed

[2022-11-07 18:13] jdonjdon commented on #15939
Just make a note what I found for future debug.
Test failing right after 'read_host_if' is called.
'read_host_if' does flash read from host interface.

[2022-11-07 18:15] sriyerg opened #16069 "[chip-test] chip_sw_lc_ctrl_kmac_error"
### Test point name

[chip_sw_lc_ctrl_kmac_error](https://github.com/lowRISC/opentitan/blob/72211c306ccacc11da7f4f2059c291690abcf9de/hw/top_earlgrey/data/chip_testplan.hjson#L1712)

### Host side component

SystemVerilog / Rust

### OpenTitanTool infrastructure implemented

Yes

### Silicon Validation (SiVal)

Yes

### Emulation targets
- [ ] None
- [ ] CW310
- [ ] Hyperdebug + CW310

### Contact

[2022-11-07 18:18] sriyerg opened #16070 "[chip-test] chip_sw_keymgr_sideload_kmac_error"
### Test point name

[chip_sw_keymgr_sideload_kmac_error](https://github.com/lowRISC/opentitan/blob/72211c306ccacc11da7f4f2059c291690abcf9de/hw/top_earlgrey/data/chip_testplan.hjson#L2383)

### Host side component

SystemVerilog

### OpenTitanTool infrastructure implemented

_No response_

### Contact person

@tjaychen, @eunchan, @weicai

### Checklist

Please fill out this checklist as items are

[2022-11-07 18:20] sriyerg opened #16071 "[chip-test] chip_sw_rom_ctrl_kmac_error"
### Test point name

[chip_sw_rom_ctrl_kmac_error](https://github.com/lowRISC/opentitan/blob/72211c306ccacc11da7f4f2059c291690abcf9de/hw/top_earlgrey/data/chip_testplan.hjson#L2503)

### Host side component

SystemVerilog

### OpenTitanTool infrastructure implemented

_No response_

### Contact person

@tjaychen, @eunchan, @ctopal

### Checklist

Please fill out this checklist as items are complet

[2022-11-07 18:33] sriyerg opened #16072 "[rom_ctrl] The ROM ctrl ignores integrity bits when fetching the digest for comparison"
This was uncovered in #16037 which improved the `chip_sw_rom_ctrl_integrity_check` test.

In this PR, the test was slightly updated such that rather than violating a digest entry with completely random data, it flipped a single bit in the original 39-bit word digest entry. The test then had a failure rate of ~9%. On further debug, it was found that the digest comparison matched (which means the in

[2022-11-07 18:37] mwbranstad commented on #16039
@tjaychen that makes sense since it would be consistent with other entropy complex blocks, such as entropy_src. Since this is how auto-mode was intended to work, i would not be against adding a regwen to this register.

[2022-11-07 18:39] tjaychen commented on #16072
thanks @sriyerg for finding this.
@johngt anyone on your side who can help have a look?

If not, maybe someone on our end will have time in a week or so?

[2022-11-07 18:40] cindychip commented on #16039
Great thank you both! For M2 maybe we can treat it as a software guidance, and maybe enhance this feature with a REGWEN for M3?

[2022-11-07 18:41] yehuda-bejar commented on #16055
Regarding "Currently there is a known issue for this alert_esc_agent": is this issue already reported in GitHub?

[2022-11-07 18:43] cindychip commented on #16055
Hi Yehuda,

I do not think so. Sorry about that. Could you keep this open until I fix it?

[2022-11-07 19:05] sriyerg commented on #15427
Adding elements of randomization to maximize the coverage of these signals (to the extent possible) would be great, but not a high priority IMO. We can address it in M3. They have already been excluded from coverage collection at the chip level.

[2022-11-07 19:06] tjaychen commented on #16039
that sounds good to me! thanks Cindy.

[2022-11-07 19:18] msfschaffner commented on #15427
Yeah I agree, let's work on the randomization enhancements in M3 then.

@GregAC plans on add an assertion in ibex to check the basic functionality which should address the concern that we had here (see https://github.com/lowRISC/ibex/issues/1901).

[2022-11-07 19:27] msfschaffner opened #16075 "[mubi/lc] Switch to rectifying AND/OR functions for safety?"
See https://github.com/lowRISC/opentitan/pull/15998#discussion_r1015769157 for context.

CC @tjaychen

[2022-11-07 19:37] martin-lueker commented on #2111
Hi All,
   This issue is really intended as a guideline for firmware and software developers defining the health test thresholds and window sizes.   The real impacts will come in defining the thresholds:
   1. Boot thresholds to be written to OTP
   2. "FIPS-mode" thresholds written as part of RomExt or even later.
Any changes to the DUT as a result of these documentation would be an optimaization

[2022-11-07 19:49] msfschaffner commented on #16027
[code]

[2022-11-07 19:49] #16027 closed

[2022-11-07 20:34] ballifatih commented on #14131
This is merged in #16058, it would be nice if someone (with committer rights) can tick the boxes accordingly. Thanks.

[2022-11-07 20:35] weicaiyang commented on #14131
Done, thanks @ballifatih

[2022-11-07 20:47] tjaychen commented on #15940
these tests are now encountering new failures after the previous fix.

[2022-11-07 20:47] tjaychen commented on #15899
these tests are now encountering new failures after the previous fix.

[2022-11-07 20:47] tjaychen commented on #16024
these tests are now encountering new failures after the previous fix.

[2022-11-07 20:48] msfschaffner commented on #16072
Thanks for raising this issue. It is probably worth discussing whether this is acceptable behavior or not before making a fix for this:

1) Non-digest portion of the ROM:
As @sriyerg points out, the ROM_CTRL does not check ECC bits explicitly when computing the digest. It does however implicitly check it, since the digest is computed over the entire 39bits (data + ecc in scrambled form). That way,

[2022-11-07 20:58] tjaychen commented on #16072
I think to me, the more basic issue is that the integrity of the digest is ignored. This means that at a basic level if there were a bit flip in the integrity area (potentially suggesting attacks), we don't really register it. To me that doesn't feel quite right.

However, you make a really good point that the higher exploits would be hard, so maybe this suggests that it should be a post M2 fix at

[2022-11-07 21:13] jdonjdon commented on #15939
@tjaychen, yes I need a help to debug this.
After mmio read is called with address 0x40000000,
Load Access Fault comes out.
MCAUSE=00000005 MEPC=20002dcc MTVAL=60000000

[2022-11-07 21:30] #13579 closed

[2022-11-07 21:35] msfschaffner commented on #4244
with #15494 we now need non-zero iso values on:
- aon_timer / escalate_en
- pinmux / escalate_en
- pinmux / lc_check_byp

I will add a TCL file for this shortly.

[2022-11-07 21:35] msfschaffner commented on #15494
This issue has now been addressed and can be closed.

[2022-11-07 21:35] #15494 closed

[2022-11-07 21:41] vogelpi commented on #15538
Ui, sorry @tjaychen I forgot about this one. It's okay that you assigned this to me.

In the last regression from Sunday, the test passed. On Saturday, we got one failure with the error message reported by @engdoreis . In both revisions the hardening of the `core_busy_o` signal was in. I need to investigate this.

[2022-11-07 21:47] tjaychen commented on #15226
there's actually no level interrupt either, do we think this is useful?
i guess it might be nice to support transactions > acq_fifo size right?

[2022-11-07 22:06] msfschaffner commented on #16030
@moidx I think you added that part - WDYT?

[2022-11-07 22:10] tjaychen commented on #15226
o so maybe it's relying on the overflow interrupt? i will need to double check. Let me confirm if that's the case and I will close.

[2022-11-07 22:16] johngt commented on #16072
@vogelpi - tagging you for your security expertise. Might be worth following up the discussion; there might be more during our evening and then seeing whether from our side this is something we would look at doing as an M2 fix or potentially work on as an M2.5 task / V3.

[2022-11-07 22:31] moidx commented on #16030
Is this because `LOG_ERROR` gets logged as a test bench error? If so, we can update it to `LOG_INFO`. I just wanted to have some feedback in the log from the otbn runtime to debug in other platforms.

[2022-11-07 22:34] moidx commented on #16030
Also, which model is the `TODO` comment referring to? Is the error being observed something we should fix? I feel that TODO should at least point to an issue tracking the work required to get things to work.

[2022-11-07 22:37] msfschaffner commented on #16030
That would work I think, yes. Let me propose a fix.

[2022-11-07 22:37] msfschaffner commented on #16030
It's the OTBN C model. @GregAC probably knows better whether there already exists an issue for this that could be linked.

[2022-11-07 22:38] vogelpi commented on #15538
Just to confirm, the failure seen on Saturday can be reproduced on the current master (f753444e59409b74182606be441024200a6b13c6):
[code]

[2022-11-07 22:53] tjaychen commented on #16072
i think @msfschaffner is right and we should probably punt discussion of this completely to M3.
This won't kill us now (either functionally or security wise).

it might mean that for some of the fixes @sriyerg made we'll have to relax them a bit for the time being.

[2022-11-07 22:57] vogelpi commented on #16072
Thanks for tagging me @johngt . This is an interesting discussion.

I think @msfschaffner nicely outlined our original rationale for this: glitching the digest itself isn't sufficient for an adversary. During the [D3 review (see notes here)](https://docs.google.com/document/d/1o3_Js_DsUxGYBI3hooFB8AgS94g4NQTBVP4LqmW0G5U/edit#) we had a similar discussion on further hardening the digest comparison

[2022-11-07 22:59] msfschaffner commented on #15381
CC @tjaychen @cdgori

Is this a must fix for M2?

[2022-11-07 23:02] tjaychen commented on #15858
closing this one down since it has been addressed.
Please re-open if you think otherwise @weicaiyang

[2022-11-07 23:02] #15858 closed

[2022-11-07 23:04] timothytrippel commented on #14330
Agreed with @tjaychen , but since this took literally 30s to fix, I fixed it hehe (in #16091). Sorry for the delay.

[2022-11-07 23:07] tjaychen commented on #14330
even better hehe.

[2022-11-07 23:10] tjaychen commented on #15381
@martin-lueker  correct me if i'm wrong, but my understanding of this is that our DV is not currently able to catch errors where we drop seeds when we should not. The issue you found was already fixed, so this is more a DV probelm right?

If my understanding is right, I think whoever is taking over entropy_src v2/v2s should probably have a look to see if it's an enhancement that can be done. I don

[2022-11-07 23:23] msfschaffner commented on #13701
I believe the answer to whether it has been undone by the fix in #7701 can be found on the corresponding review comment thread https://github.com/lowRISC/opentitan/pull/7701/files#r688059275:

So I believe we are good here and no further action is needed.

WDYT @tjaychen?

[2022-11-07 23:25] #15786 closed

[2022-11-07 23:27] msfschaffner commented on #13091
@tjaychen it sounds like this is mainly a cleanup item - can we potentially move this into M3?

[2022-11-07 23:38] msfschaffner commented on #16072
Thanks for the feedback, everyone. From the discussion above it sounds like we agree that this (mis)behavior is low risk security-wise, and the functionality is aligned with the current spec. I therefore think it should be ok to punt further discussion of this to M3.

[2022-11-07 23:38] tjaychen commented on #13091
yes let's move this to M3.

[2022-11-07 23:48] tjaychen commented on #13701
yeah this looks like it should be fine. Okay to close.

[2022-11-07 23:51] vogelpi commented on #15538
Alright, the problem is actually the following: for this particular seed the test happens to glitch the instruction address of the main core for one clock cycle and the device doesn't send `a_ready` in the first clock cycle.

In general, changing the request signals before a request is acknowledged usually isn't allowed. As a result, the crossbar / device is seeing multiple requests with the same

[2022-11-08 00:00] #13701 closed

[2022-11-08 00:02] #16013 closed

[2022-11-08 00:15] vogelpi commented on #15538
The fix is here: #16099
I've tested this successfully with the previously failing seeds.

[2022-11-08 00:31] vogelpi commented on #15470
This is great, thanks for sharing the new plots. So what remains is just running the experiments with a more recent bitstream. Looking forward to these results :-)

[2022-11-08 02:50] drewmacrae commented on #15226
Ugh, I should have looked at the doc. There are status bits for stretching and for the acq fifo being full, but there aren't references to interrupts.

[2022-11-08 04:21] tjaychen commented on #15226
i dont know this for sure (need to read doc and code), but i'm assumign acq_overflow should do what you're thinking.
As in ...it represents "full" and us entering the stretch state. I'll let you know.

[2022-11-08 04:59] #16046 closed

[2022-11-08 05:08] tjaychen commented on #15085
@weicaiyang
@sriyerg

might need your help to gauge whether this is something that's M2 gating or not.
It sounds like to me it's closer to V3 / M3 ..

[2022-11-08 05:09] tjaychen commented on #15170
@jdonjdon we might need to split this issue up a bit for what makes sense for M2 and what makes sense for M3.

[2022-11-08 05:10] tjaychen commented on #15028
@sriyerg do you still need any info from @dmcardle for the injection tests?
@dmcardle had pointed me to the gdb code that does the injection and it's ..quite high level, so I thought getting the actual dmi commands might be nice, it's up to you though.

[2022-11-08 05:12] tjaychen commented on #13248
@matutem was this actually done../ I thought I saw a PR, but now I can't remember (and also can't find it).

[2022-11-08 05:12] jdonjdon commented on #15170
Let me review and add comment here

[2022-11-08 05:14] tjaychen commented on #9314
now that cdc instrumentation is turned on..is this almost good to go @matutem ?

[2022-11-08 05:18] tjaychen commented on #15649
let's plan to bring this item up soon (Wednesday latest). I'm not convinced these all have to be M2 tests, but if they do, we need to convert this to chip level test issues as soon as possible so there is partnership visibility and potential help.

[2022-11-08 05:36] weicaiyang commented on #15085
I have discussed this offline with @matutem.
We don't restrict a sequence to issue a reset in the middle of a CSR access, but RAL access can't be killed before it finishes, otherwise, RAL is locked up.
We could either wait until all CSR accesses are done, before killing the sequence, or use the stress_all_with_rand_reset approach. @matutem LMK if you have any problem on this issue.
I think it's ok

[2022-11-08 05:44] tjaychen commented on #15085
personally i think killing after completion is probably better...
but sounds good, let's table this to M3 for now.

If anyone objects, please add to the thread.

[2022-11-08 06:27] tjaychen commented on #15795
@msfschaffner i changed the assignment for this for the time being.  Since this is related to the possible issue in rv_dm.

[2022-11-08 08:24] andreaskurth commented on #16063
Preliminary results with recent `entropy_src` PRs (not merged as of yesterday morning) look promising; will reassess once those PRs are merged.

[2022-11-08 08:33] jadephilipoom commented on #14131
Should this issue be closed as completed now, then? (It doesn't happen automatically when you tick off all the boxes.)

[2022-11-08 09:19] engdoreis commented on #14782
all the related tests are passing
|     | Tests                                             |   2022-11-07 08:08:10 |   2022-11-06 07:11:02 |   2022-11-05 07:11:23 |   2022-11-04 07:12:05 |   2022-11-03 07:11:23 |   2022-11-02 07:03:26 |   2022-11-01 07:10:18 | 2022-10-27 07:09:48   | 2022-10-26 07:06:46   | 2022-10-25 07:06:33   | Suite                                                |
|----:|:---

[2022-11-08 09:20] vogelpi commented on #15538
The PR has been merged. Let's see how the nightly results evolve.

[2022-11-08 09:28] engdoreis commented on #14501
Yes! I'll start tomorrow (Nov 9th).

[2022-11-08 10:30] johngt commented on #15744
CSRNG pushback on EDN. EDN then pushback on CSRNG. Etc. Both would then keep hanging

[2022-11-08 10:31] andreaskurth commented on #16065
@johngt

[2022-11-08 10:33] GregAC commented on #15746
From discussions and review believe no new test cases are required

[2022-11-08 10:34] johngt opened #16112 "[csrng] Formal / Jasper Gold"
For V2S - need to improve coverage level from ~44% currently.

[2022-11-08 10:35] GregAC commented on #15747
@ctopal is adding some further coverage, please update the remaining and estimate once you have a clear idea of the effort needed here.

[2022-11-08 10:38] GregAC commented on #15746
@marnovandermaas to comment once he's done some further review

[2022-11-08 11:35] johngt opened #16113 "[entropy_src] Formal / Jasper Gold"
Per other V2S tasks we will likely need Formal methods applied to entropy_src.

[2022-11-08 11:48] johngt commented on #15538
@engdoreis - please track this one over the next few nightlies and see if this is closed out or if we need to get back to @vogelpi. If it fails, please ping straight away, otherwise let's see if we can close this out on Friday if it passes a few nightlies.

[2022-11-08 12:09] johngt opened #16114 "[test-triage] chip_sw_lc_ctrl_kmac_reset"
### Hierarchy of regression failure

Chip Level

### Failure Description

[code]

### Steps to Reproduce

- GitHub Revision: [a029fa5c6](https://github.com/lowrisc/opentitan/tree/a029fa5c6c48ddb5e23d473c793f1f279a943fe9)
- dvsim invocation command to reproduce the failure, inclusive of build and run seeds:
  ./util/dvsim/dvsim.py hw/top_earlgrey/dv/chip_sim_cfg.hjson -i chip_sw_lc_ctrl_kmac_reset

[2022-11-08 12:11] johngt commented on #16114
Failing in the nightlies for some time:
|     | Tests                      |   2022-11-07 08:08:10 |   2022-11-06 07:11:02 |   2022-11-05 07:11:23 |   2022-11-04 07:12:05 |   2022-11-03 07:11:23 |   2022-11-02 07:03:26 |   2022-11-01 07:10:18 |   2022-10-27 07:09:48 |   2022-10-26 07:06:46 |   2022-10-25 07:06:33 | Suite                      |
|----:|:---------------------------|------------------

[2022-11-08 12:32] johngt commented on #15679
Per comment to @engdoreis it looks like it passed only one nightly and has been failing since. Reopening and assigning to @engdoreis . If inaccurate, please close the issue.

|     | Tests                        |   2022-11-07 08:08:10 |   2022-11-06 07:11:02 |   2022-11-05 07:11:23 |   2022-11-04 07:12:05 |   2022-11-03 07:11:23 |   2022-11-02 07:03:26 |   2022-11-01 07:10:18 |   2022-10-27 07:09

[2022-11-08 12:37] johngt commented on #14149
@tjaychen - I see you are working on chip_rv_dm_ndm_reset_req https://github.com/lowRISC/opentitan/issues/15795

[2022-11-08 12:40] johngt commented on #15238
@engdoreis let's monitor this in the nightlies over the next three days and then close out if not an issue. If an issue let's ping the devs asap.

[2022-11-08 12:43] johngt commented on #16026
This does not appear to have resolved the issue @msfschaffner
Nightlies still showing issues.

|     | Tests                       |   2022-11-07 08:08:10 |   2022-11-06 07:11:02 |   2022-11-05 07:11:23 |   2022-11-04 07:12:05 |   2022-11-03 07:11:23 |   2022-11-02 07:03:26 |   2022-11-01 07:10:18 |   2022-10-27 07:09:48 |   2022-10-26 07:06:46 |   2022-10-25 07:06:33 | Suite

[2022-11-08 12:47] johngt commented on #16030
@engdoreis although this is marked as resolved - the nightlies have not yet shown this passing. Another one to observe to see if failures are still being reported.

[2022-11-08 12:53] johngt commented on #15427
@msfschaffner safe to retag this issue as M3 based on discussion above? https://github.com/lowRISC/ibex/issues/1901 captures the M2 part of this / V2.

[2022-11-08 12:58] johngt opened #16115 "[test-triage] chip_sw_otp_ctrl_lc_signals_dev"
### Hierarchy of regression failure

Chip Level

### Failure Description

[code]

### Steps to Reproduce

- GitHub Revision: [a029fa5c6](https://github.com/lowrisc/opentitan/tree/a029fa5c6c48ddb5e23d473c793f1f279a943fe9)
- dvsim invocation command to reproduce the failure, inclusive of build and run seeds:
  ./util/dvsim/dvsim.py hw/top_earlgrey/dv/chip_sim_cfg.hjson -i chip_sw_otp_ctrl_lc_signals

[2022-11-08 12:59] johngt commented on #16115
Nightlies not completely succeeding since from the weekend.

|     | Tests                           |   2022-11-07 08:08:10 |   2022-11-06 07:11:02 |   2022-11-05 07:11:23 |   2022-11-04 07:12:05 |   2022-11-03 07:11:23 |   2022-11-02 07:03:26 |   2022-11-01 07:10:18 |   2022-10-27 07:09:48 |   2022-10-26 07:06:46 |   2022-10-25 07:06:33 | Suite                                                  |

[2022-11-08 13:03] johngt commented on #15970
@engdoreis. The draft PR might also assist with chip_sw_all_escalation_resets that is mentioned by @matutem above. If not we will likely need a new separate issue for dealing with the regression found in the test highlighted.

[2022-11-08 13:29] #14491 closed

[2022-11-08 13:35] vogelpi commented on #16065
I am currently reviewing both the regular and the security testplan as well as test descriptions and constraints to see which countermeasures are already covered by which test. This will tell us for which CMs we actually need directed tests. So far it looks like only 2 or 3 CMs need an additional tests.

[2022-11-08 13:35] drewmacrae commented on #15877
There are now more failing tests, but here are the ones from this run not addressed above
[code]

[2022-11-08 13:41] johngt commented on #16114
Had a quick chat with @vogelpi about this.
Lifecycle controller interaction with KMAC.
@msfschaffner / @tjaychen - is this something that you could assign internally. We could get someone to look at it, but there may be a ramp up needed.

[2022-11-08 13:47] m-temp commented on #15470
I've run the experiments with the bitstream from https://github.com/lowRISC/ot-sca/pull/103/commits/787af0521a26b66d4d9f46599236ec24a8309735

However, the results are slightly worse. There's now some 1st order leakage, but the difference between masked and unmask is still huge.

1 Mio traces with and without an offset of 800

no offset | 800 samples offset
:-------------------------:|:------------

[2022-11-08 14:01] vogelpi commented on #15470
Nice, thanks for rerunning the experiments and sharing the results! I think we have high confidence now that we will be able to perform the experiments on the ASIC.

I wouldn't worry about the results of the masked implementation. We ran plenty of experiments when designing the countermeasures. I see two potential reasons for observing worse results for the new bitstream:
- Place & route variation

[2022-11-08 14:04] engdoreis commented on #16114
This may be fixed tomorrow because the PR https://github.com/lowRISC/opentitan/pull/15998 has been merged recently.

[2022-11-08 14:48] andreaskurth commented on #15381
From the description, I share the understanding that this currently is a DV concern and no known RTL bug.

Could we eliminate this concern by adding an assertion that ensures that the SHA-3 output is pushed into the `esfinal` FIFO unless
- bypass mode is active, or
- the SHA-3 block is being flushed, or
- the SHA-3 block has produced <= 2 outputs since the `es_fw_ov_disable_alert` has last happene

[2022-11-08 15:05] GregAC opened #16118 "[rv_core_ibex, fpv] Write assertions to check connection between OT side alert and various errors in Ibex"
Various errors within ibex result in alerts being signaled at the `rv_core_ibex` top-level. This functionality is checked within the Ibex DV environment which doesn't include the `rv_core_ibex` outer wrapper. Write assertions to ensure that errors signaled from Ibex do result in the correct alerts.

[2022-11-08 15:05] GregAC opened #16117 "[rv_core_ibex, fpv] Write assertion to check side loaded scramble key is correctly used"
I think we need two assertions

1. Ensure that when a `FENCE.I` is executed we eventually (for simplicity this can probably be bounded to within a few cycles) see a request for a new scramble key at the rv_core_ibex top level if a request isn't already on going.
2. Ensure that when a scramble key is received at the rv_core_ibex top level it is correctly applied to the icache scrambled memory primi

[2022-11-08 15:10] marnovandermaas commented on #15746
I've made some changes to the test plan and coverage plan. I don't think they require any major changes or effort. The updated test plan as I see it is tracked in this PR: https://github.com/lowRISC/opentitan/pull/16116

[2022-11-08 15:24] andreaskurth commented on #16113
55/57 `entropy_src_sec_cm` assertions are currently proven, the following two are cex:
- `FpvSecCmCtrlMainFsmCheck_A`
- `FpvSecCmCtrlAckFsmCheck_A`

I'll investigate

[2022-11-08 15:59] msfschaffner commented on #15970
@johngt I believe we just fixed the issue for `chip_sw_all_escalation_resets` in a separate pull request here (unless there has been another regression): https://github.com/lowRISC/opentitan/pull/16106

The draft PR above is only for an extension of the `chip_sw_all_escalation_resets` and `chip_sw_data_integrity` tests.

[2022-11-08 16:19] HU90m commented on #16060
The software test passes but the simulation doesn't stop. This appears to be due to objections raised by the environment's
`m_alert_agent_adc_ctrl_aon_fatal_fault` and other 'alert' agents after the sw test passes.

Here is a snippet from the log with objection tracing enabled:

[code]

[2022-11-08 16:25] HU90m commented on #16060
Resetting the chip just before returning from the `test_main` fixes the issue:

[code]

This appears to be what is also done in `sw/device/tests/sim_dv/sram_ctrl_ret_scrambled_access_test.c`.

This feels like a bit of a band-aid solution. It would be nice to know why the objections are being raised after test completion, but I am unsure where to start.

[2022-11-08 16:29] johngt commented on #16114
Assigning to @engdoreis just while monitoring for close-out.

[2022-11-08 16:34] johngt commented on #15877
Assuming that this is all M2 effort so labelled accordingly. If incorrect, please feel free to change the label @drewmacrae

[2022-11-08 16:45] msfschaffner commented on #16026
We just merged this yesterday, so the fix has not run through CI yet. We can reopen this bug to confirm, though (it got auto-closed since I linked the issue in the PR).

[2022-11-08 16:48] msfschaffner commented on #16030
Ah this got auto-closed since it was linked in the PR - sorry about that. We can reopen it for observation.

[2022-11-08 16:50] msfschaffner commented on #16115
I can take a look at this.

[2022-11-08 17:05] tjaychen commented on #16114
sorry all, I had not updated this yet.
but @cindychip and I had discussed that after the reset domain organization, this test will probably be completely deprecated.
Let me and Cindy have a look today.

[2022-11-08 17:12] tjaychen commented on #15381
that seems very reasonable to me, i suppose we can always try that and see if block level regression gets unhappy :)

[2022-11-08 17:19] tjaychen commented on #15483
@johngt

[2022-11-08 17:25] timothytrippel commented on #15238
This should be fixed in #16096. I tested it locally and it passed. But let's keep an eye on the dashboard today when it updates.

[2022-11-08 17:28] timothytrippel commented on #14501
Since we will want to enhance this test with different OTP values, it will require a custom SV sequence in DV, so lmk when you update the test.

[2022-11-08 17:45] johngt opened #16124 "[test-triage] Nightly runner issue with Xcelium licenses - e.g. AES"
### Hierarchy of regression failure

Block level

### Failure Description

[code]

### Steps to Reproduce

- GitHub Revision: [a029fa5c6](https://github.com/lowrisc/opentitan/tree/a029fa5c6c48ddb5e23d473c793f1f279a943fe9)
- dvsim invocation command to reproduce the failure, inclusive of build and run seeds:
  ./util/dvsim/dvsim.py hw/top_earlgrey/dv/chip_sim_cfg.hjson -i TEST_NAME --build-seed 710

[2022-11-08 17:53] johngt commented on #16124
Pass rate was fairly high the night before - see https://reports.opentitan.org/hw/ip/aes_no_masking/dv/2022.11.07_03.35.37/report.html
This report then showed all 0s across the board.

[2022-11-08 17:56] weicaiyang commented on #14131
Thanks Jade. I checked all the boxed, but forgot to close the issue...

[2022-11-08 18:01] martin-lueker commented on #15381
Well, my concern is that there is something we _don't_ understand.  Let me take a stab at this I have an idea, it's one more PR.

[2022-11-08 18:01] martin-lueker commented on #15381
To confirm this is a DV problem, yes.

[2022-11-08 18:03] tjaychen commented on #15381
sounds good. Thanks Martin.
If we think it is a DV issue purely, outside of adding assertions, I think it is OKAY to move this issue to M3.
We will then make sure to complete the coverage story as part of D3 / V3 sign-off.

[2022-11-08 18:23] tjaychen commented on #14149
hmm... it is very similar. I think @sriyerg will be able to say better whether this should be a separate test or we can roll it into the existing. The current ndm test does not do the specific things this test is looking for, but it would not be hard to roll in (i think).

[2022-11-08 18:28] sriyerg commented on #16124
The nightly regression runner killed all jobs after hitting the 24 hour limit. Investigating now why this happened.

[2022-11-08 18:55] cindychip opened #16129 "[edn/doc] EDN generate_cmd description out of date?"
Hey Mark and Tim,

I wonder if I misunderstand this part of the description in `generate_cmd`: https://docs.opentitan.org/hw/ip/edn/doc/index.html#Reg_reseed_cmd
"On overflow this FIFO pops the oldest word from the previous command. Updated commands can be inserted by pushing 13 command words into the FIFO, pushing the previous command out."

From what I understand, the FIFO depth is 13, and I tho

[2022-11-08 19:16] mwbranstad commented on #16129
@cindychip i believe the intent of the text was to say when setting up the FIFO, a SW command write could write up to 13 words for a complete command. However, it is possible (but very unlikely) that if that same SW "changed it's mind", it could write another 13 words and push out the original command. When in operation mode, yes, the original command will recycle back into the same FIFO while the

[2022-11-08 19:21] tjaychen commented on #16129
hmmmm... i think even if software pushes another 13 words right now, even if we are not in operational mode, wouldn't we still trigger an alert? @cindychip let me know if i'm reading this wrong.

[2022-11-08 19:22] cindychip commented on #16129
Sorry for the confusion, correct! Right now what I see is that:
If I just directly write 14 items to the FIFO (not in operation mode), it will trigger an alert :)

[2022-11-08 19:24] tjaychen commented on #16129
@mwbranstad looking at the rtl, i don't really see the "push-out" mechanism that was described.
If that's really the case, should we drop this feature description from the text in this version??

[2022-11-08 19:25] mwbranstad commented on #16129
the push out behavior was originally that way it worked. i suspect the alert feature came later.
So let's document that. It simple, straight forward, and the alert makes sense in this case.

[2022-11-08 19:27] tjaychen commented on #16129
sounds good, should we remove the push-out feature description for now? I can file an issue for M3 and later to put this back in to coordinate alongside the alerts.

[2022-11-08 19:34] cindychip commented on #16129
Thanks great, thank you both!!

[2022-11-08 19:34] msfschaffner commented on #16124
I assigned this to you @sriyerg for now (just so that the status is clear on the dashboard). Feel free to change that if needed.

[2022-11-08 19:37] mwbranstad commented on #16129
yes, remove it completely.

[2022-11-08 19:37] alphan commented on #14501
Thanks @engdoreis!

[2022-11-08 20:01] #14498 closed

[2022-11-08 20:32] tjaychen commented on #16060
ah yes you're right.
So usually this means the test had an alert fire that should not have fired.
By resetting the chip, we basically wipe out the alert and allow the objections to drop.  Based on your description here, it sounds like we should not have expected something to fire, so it would probably be good to look into that to see what's going on.

[2022-11-08 20:37] msfschaffner commented on #15649
@matutem and I are working on this.

[2022-11-08 21:19] tjaychen opened #16137 "[test-triage] chip_sw_spi_device_tpm"
### Hierarchy of regression failure

Chip Level

### Failure Description

      Offending '(!$isunknown(cio_sd_en_o))'
  UVM_ERROR @ 2568.691920 us: (spi_device.sv:2131) [ASSERT FAILED] CioSdoEnOKnown
  UVM_INFO @ 2568.691920 us: (uvm_report_catcher.svh:705) [UVM/REPORT/CATCHER]

### Steps to Reproduce

- GitHub Revision: [a029fa5c6](https://github.com/lowrisc/opentitan/tree/a029fa5c6c48ddb5e23d47

[2022-11-08 21:43] matutem commented on #10432
This was addressed in https://github.com/lowRISC/opentitan/pull/15863

[2022-11-08 21:43] #10432 closed

[2022-11-08 21:55] msfschaffner commented on #15427
Yes, let's do that.

[2022-11-08 22:06] msfschaffner commented on #16017
CC @tjaychen @moidx

[2022-11-08 22:13] moidx commented on #16017
Are you asking about RNG compliance from a certification perspective? If so, this is not something we are planning to open source as it is specific to each silicon instantiation.

[2022-11-08 22:13] msfschaffner commented on #15530
CC @tjaychen @alphan @moidx @weicaiyang @cindychip

I am not certain, but may be this is because of different clock ratios between req/ack domains on the FPGA.

Given that the DV test works I move this into M3 for now, but please LMK if you think this needs to be addressed as part of M2.

[2022-11-08 22:22] tjaychen commented on #15530
i think it's fine to table. As long as we have a good feel for this on simulation for now.
The clock ratios on FPGA should actually maintain between edn and kmac.  However, in fpga, the entropy source i think is way faster (need to confirm this), so it just might be that by the time you request everything is already pre-generated...

[2022-11-08 23:06] vogelpi commented on #16065
I've now done the initial work of checking which existing tests cover which countermeasures and what additional work is needed. The corresponding PR to update the testplan is here #16141.

The main action items as I see them are (for details see the updated testplan/linked PR):
- [ ] CONFIG.REGWEN: Add a directed test to verify points 1), 2) and 3b) as the corresponding CSRs are exlcuded from the

[2022-11-09 01:35] martin-lueker opened #16146 "[entropy_src] Support for Different Bypass window sizes in M2"
Looking at the last few coverpoints for `entropy_src` has revealed a (potentially unimportant) gap in the specification and documentation that bears some discussion for M2.

Currently the `entropy_src` when in bypass modes (e.g. Boot) implicitly only supports one window size.  This is not explicit in the documentation.  The register `HEALTH_TEST_WINDOWS.BYPASS_WINDOW` says that the default is 384,

[2022-11-09 01:54] tjaychen commented on #15170
@jdonjdon but does that mean verification of target mode is not included?
I think we are planning basic verification of target mode right + maybe clock stretching?

[2022-11-09 03:41] matutem commented on #15262
We dealt with the tests that caused this problem, but I fail to remember how... sorry.
I will close this, and reopen or create a new one if this problem shows up again.

[2022-11-09 03:41] #15262 closed

[2022-11-09 03:55] timothytrippel commented on #15357
I have confirmed, this is an internal infrastructure issue. I have fix out for this now. If it merges tonight, then tomorrow's regressions should show the results. Otherwise, we will see the results on Thursday.

[2022-11-09 04:48] matutem opened #16148 "[dv/rstmgr] Apply different reset kinds where applicable"
Most unit tests use the default apply_reset kind argument. The rstmgr unit has both AON and non-AON domain components, so the apply_reset distinction is important. One way to exercise it could be to call apply_reset with a randomized kind argument between rounds of various tests.

[2022-11-09 04:51] matutem commented on #13248
The branch with the changes is ready, but I am not getting the huge fall-out I expected from the reset domain changes, so I was procrastinating on pushing it.

The other part of this issue, that you labelled hack alert is already fixed, since we created special rst_root* interfaces driving reset. The timing of them is such that they release before all non-root resets. I forgot to remove the "hack

[2022-11-09 04:55] matutem commented on #11520
I think it should be an M3 issue,,, it is really a nice-to-have methodology improvement. I made it an M3 Enhancement.

[2022-11-09 06:27] #16114 closed

[2022-11-09 06:37] sriyerg commented on #16124
This has been fixed for now.   I will closely monitor the performance in subsequent days and reopen if needed.

[2022-11-09 06:37] #16124 closed

[2022-11-09 06:38] tjaychen commented on #14111
see #15700

[2022-11-09 06:43] sriyerg commented on #16148
Please see example:
https://github.com/lowRISC/opentitan/blob/82278f92b83d280102116941dd1d6c19e6953bd8/hw/ip/rv_dm/dv/env/seq_lib/rv_dm_base_vseq.sv#L57

For `rv_dm` I defined 3 different reset strings, each with a different behavior, with the same goal as yours - be able to apply different kinds of resets randomly and verify expected behavior.

[2022-11-09 07:06] cindychip opened #16152 "[edn] Seeing "X" in gencmd_fifo when disable EDN during `AutoSendGenCmd`"
From what I see in the waves:
1). https://github.com/lowRISC/opentitan/blob/master/hw/ip/edn/rtl/edn_core.sv#L592
`auto_req_mode_busy` is reset to 0 when there is no valid TL transaction to `sw_gen_cmd` register.
(In tl DV agent, we will drive "X" data when there is no valid transaction)

2). Tracing back, looks like
https://github.com/lowRISC/opentitan/blob/master/hw/ip/edn/rtl/edn_main_sm.sv#L25

[2022-11-09 08:00] #16129 closed

[2022-11-09 08:01] #15795 closed

[2022-11-09 09:35] marnovandermaas commented on #16017
@moidx, well the public documentation refers to "our RNG compliance strategy document". I have not been able to find this anywhere. I suggest that if the document does not exist or if the document is not meant to be public that we remove it from the public facing CSRNG docs.

[2022-11-09 09:36] engdoreis commented on #15970
This test `chip_sw_sram_lc_escalation` is linked to `chip_sw_all_escalation_resets` in the testplan, which passed in the last regression due to https://github.com/lowRISC/opentitan/pull/16106 I assume.
So I'll keep this issue opened until the test pass 3 regressions in a row.

[2022-11-09 09:42] engdoreis commented on #15969
This test is still failing some times with a slight different error message.
[code]

[2022-11-09 09:51] engdoreis opened #16154 "[test-triage] chip_sw_pwrmgr_main_power_glitch_reset"
### Hierarchy of regression failure

Chip Level

### Failure Description

Offending '(!pwr_ast_o.core_clk_en)'
  UVM_ERROR @ 2319.468000 us: (pwrmgr_ast_sva_if.sv:48) [ASSERT FAILED] CoreClkGlitchToEnOff_A
  UVM_INFO @ 2319.468000 us: (uvm_report_catcher.svh:705) [UVM/REPORT/CATCHER]
  --- UVM Report catcher Summary ---

### Steps to Reproduce

- GitHub Revision: [32d4a1eef](https://github.com/low

[2022-11-09 09:55] engdoreis commented on #14330
I'm reopening this due to the failured in the latest regression and I'll close it when it pass in 3 consecutive regressions.

[2022-11-09 09:59] #14480 closed

[2022-11-09 10:44] johngt commented on #15483
For I2C host component of this; Either @vrozic or @hcallahan-lowrisc could be assigned to work on this. @hcallahan-lowrisc has familiarity with SPI_Host now after having worked on this. Will coordinate with @engdoreis for assignment

[2022-11-09 10:53] johngt commented on #14330
@timothytrippel : just highlighting that this has been reopened.
It looks like it was just a timeout issue.
Not sure how long coremark will need to run but the default timeout may need to be upped. @engdoreis - possible to replicate on local system and see how long the task takes and then set timeout accordingly?

[code]

[2022-11-09 11:03] #14485 closed

[2022-11-09 11:23] andreaskurth commented on #16117
@johngt

[2022-11-09 11:33] engdoreis commented on #16030
The test passed last regression, I'll watching and I'll close this issue when it passes 3 regressions.

[2022-11-09 11:38] engdoreis commented on #15238
It passed in the latest regression, I'll keep watching and close this issue when it passes 3 times.

[2022-11-09 11:40] johngt commented on #16117
Thanks @andreaskurth - will need @GregAC to edit the issue as I don't have rights to edit others' issues.

[2022-11-09 12:55] andreaskurth commented on #16063
Current `master` plus PRs #14907, #16088, #16095, #16101, #16102, and #16103 applied:

### Test Results
Only `entropy_src_rng` test has <90% (42/50) pass rate. 7/8 fails are due to this check failing
https://github.com/lowRISC/opentitan/blob/0aa0b1cbfde8c0ad4646c90615404e0a1b5a3f3f/hw/ip/entropy_src/dv/env/entropy_src_scoreboard.sv#L1761-L1764
with `reg name: entropy_src_reg_block.repcnt_total_fai

[2022-11-09 15:03] drewmacrae commented on #14193
The only way I can see here to do reseeds is to call it in the dif: [dif_csrng_reseed](https://docs.opentitan.org/sw/apis/dif__csrng_8h.html#a0f9a7fe777c961afd3cacfe41336bdb5)

[2022-11-09 15:24] alphan commented on #15530
Makes sense, thanks for the possible explanation @tjaychen! I also think that it's OK to move this into M3.

[2022-11-09 15:30] alphan commented on #16067
Thanks @tjaychen !

[2022-11-09 15:49] drewmacrae opened #16158 "[i2c_device] graphic shows Clock is only stretched at the start of a READ/WRITE when ACQ FIFO is full."
https://docs.opentitan.org/hw/ip/i2c/doc/I2C_state_diagram_target.svg Shows no way for clock to be stretched if the acq_fifo is filled within an I2C READ/WRITE

Ideally the clock would stretch whenever the FIFO is full, but if we leave this as described in the picture we would be able to overflow the FIFO and fire the interrupt for that one here:https://github.com/lowRISC/opentitan/issues/15226

[2022-11-09 15:54] bilgiday opened #16159 "[hmac] Got confused regarding hmac alert behavior"
@cindychip, @sriyerg, @msfschaffner,

Today, I was trying to develop a SV sequence to trigger fatal alert for the last part of the [alert_handler_lpg_clkoff test](https://github.com/lowRISC/opentitan/blob/b65e2705eb4ee814b46939d44f84d1adfee133c3/hw/top_earlgrey/data/chip_testplan.hjson#L1307). I noticed an interesting behavior from hmac alert, and I just wanted to bring this to you attention. You

[2022-11-09 15:55] drewmacrae opened #16160 "[i2c_device] i2c_stretch_timeout would be useful in device mode as well"
i2c_stretch_timeout is described as host only, but would allow a device's i2c block to monitor it's code for a fault where it's the one performing the stretch. Setting a short timeout could even serve as a acq_full interrupt in this case mooting some of the problems in https://github.com/lowRISC/opentitan/issues/15226

[2022-11-09 16:00] drewmacrae commented on #16160
This is a nice-to-have, but could also be used in lieu of a acq_fifo_full event by setting the timeout very short and servicing the interrupt.

[2022-11-09 16:00] tjaychen commented on #16154
let me take a quick look at this one, i think it might be merge skew.

[2022-11-09 16:00] drewmacrae commented on #15226
I was wrong again (if the drawing of the state machine is correct, we can overflow the ACQ FIFO if we fill it with anything but the start of a transaction, I think @a-will may have mentioned or filed an issue on this but I'm very bad at searching github issues.) We can overflow the acq fifo and I've mentioned this in #16158.

[2022-11-09 16:01] tjaychen commented on #15483
thank you for taking this on!

On Wed, Nov 9, 2022 at 2:44 AM johngt ***@***.***> wrote:

[2022-11-09 16:03] drewmacrae commented on #15226
Instead of the acq_fifo_full interrupt, if the i2c_stretch_timeout were to work in both modes (the documentation was vague on this until recently though the RTL had it as host only) then it could be used to monitor for tx_fifo_empty and acq_fifo_full by setting to a short timeout. I've opened #16160 to track that possibility.

[2022-11-09 16:11] andreaskurth commented on #16065
Confirming that @vrozic will start working on the `CONFIG.REGWEN` item (points 1 and 2, since 3b seems to be covered already) and that I am working on the `INTERSIG.MUBI` item.

[2022-11-09 16:13] tjaychen commented on #16158
yeah good catch, this seems like a pretty serious issue, and is somewhat related to #15227.
I'll need to have a look.

[2022-11-09 16:14] dmcardle commented on #16067
Yes, thank you @tjaychen! Closing this now.

[2022-11-09 16:23] tjaychen commented on #16067
wait, i thought the issue wasn't fixed yet? didn't we discover yesterday that there were still problems?

[2022-11-09 16:49] tjaychen commented on #16152
@cindychip just to confirm, this means `sfifo_gencmd_push` was 1 right? And we actually pushed the `x` directly into the FIFO?

[2022-11-09 16:56] johngt commented on #16146
@tjaychen or @moidx - final decision on which approach(es) to go with?

[2022-11-09 17:01] moidx commented on #16146
I recall discussing the boot window size of 384 to optimize boot time. Overall, I prefer option 2. to leave the register in case we need to revisit this during M2.

[2022-11-09 17:10] martin-lueker commented on #16146
Thanks @tjaychen @moidx, By 3 I was thinking of leaving the register but just rendering it toothless in HW.
It really is a matter of priority, and goals for the ES chip.   Changing this register has unpredictable consequences.  If that is Okay, then 2 is fine.

[2022-11-09 17:15] tjaychen commented on #15435
this should now hopefully be fixed, just waiting on regression results.

[2022-11-09 17:15] tjaychen commented on #15940
this should now be fixed, waiting on regression results.

[2022-11-09 17:16] tjaychen commented on #15939
should be fixed by #16084, waiting on regression results.

[2022-11-09 17:16] tjaychen commented on #16018
should be fixed by #16089

[2022-11-09 17:21] #14479 closed

[2022-11-09 17:43] drewmacrae commented on #14488
Ok, so this should definitely be an opentitan_functest the details of which are in the description. Let's see how it goes to put it all together.
In addition to the splices we're already using, I'll need to write a ROM_EXT that does the custom stuff described above.

- [ ] Stub out the functest
- [ ] Find appropriate ROM_EXT to modify
- [ ] Modify ROM_EXT
- [ ] Check UART with the functest
- [ ] D

[2022-11-09 17:48] cindychip commented on #16152
Correct!
![image](https://user-images.githubusercontent.com/11466553/200903270-8c65eb11-2e15-41a1-8087-d913c3152a05.png)

[2022-11-09 17:56] dmcardle commented on #14273
I think the `stepi` will need to be `continue` as of https://github.com/lowRISC/ibex/pull/1824

[2022-11-09 17:57] sriyerg commented on #15969
Ugh, not again...Will take a look soon.

[2022-11-09 18:06] GregAC commented on #16023
This was fixed via https://github.com/lowRISC/opentitan/pull/16080 two days ago and is passing in the currently nightly.

[2022-11-09 18:06] #16023 closed

[2022-11-09 18:31] dmcardle commented on #14497
I think I'll write a GDB test that attempts to read from [`rv_dm.ROM`](https://docs.opentitan.org/hw/ip/rv_dm/doc/#Reg_rom).  For TEST, DEV, and RMA it should just work. For PROD and PROD_END, there should be an exception.

[2022-11-09 18:50] ballifatih commented on #14193
Is anyone actively working on this test (in case assignees field is not up to date)?

[2022-11-09 18:51] timothytrippel commented on #15357
passing now

[2022-11-09 18:51] #15357 closed

[2022-11-09 18:53] msfschaffner commented on #16017
I agree, if this is not publicly accessible we should probably remove the reference from the docs.

[2022-11-09 18:56] drewmacrae commented on #14193
@sriyerg discussed updating the testplan, but I haven't heard any discussion of writing the sv assertion and seeing if we hit it.

[2022-11-09 19:02] alphan commented on #14488
PTAL at `boot_data_{write, read}()` for updating and getting the minimum required security version. You can use any of the c files in sw/device/silicon_creator/rom/e2e as a starting point but `empty_test.c` can be a good option since it's basically empty :)

[2022-11-09 19:15] alphan commented on #14455
I'll add the the iteration over other life cycle states before closing this.

[2022-11-09 19:40] alphan commented on #14455
See #16173

[2022-11-09 19:49] msfschaffner commented on #16159
This appears to be a bug - @tjaychen @eunchan to double check.

[2022-11-09 20:19] drewmacrae commented on #14488
I need to think more about how this test might be monitored to trigger a failure. Maybe I can make the ROM_EXT count resets somehow. I'll see if I can get it passing or timing out first.

[2022-11-09 20:30] eunchan commented on #16159
Looks like [this it the commit](https://cs.opensource.google/opentitan/opentitan/+/8a6bedc600ccb8f690724f6a71b96c0fce166a9b) introduced alert to HMAC. The intention was fatal alert and HMAC do not have recov. alert. So change it to fatal make sense. But changing it to `1'b 1` may cause human errors if HMAC introduces new alert.

[2022-11-09 20:31] drewmacrae commented on #14488
I feel like this should be written as a resetting test that fails if it enters the test after resetting.

[2022-11-09 20:35] msfschaffner commented on #16159
@eunchan do you suggest to keep the alert sender generate loop? and feed the alert type in via a `parameter logic [NumAlerts-1:0] AlertIsFatal = 1'b1;`?

[2022-11-09 20:36] eunchan opened #16178 "[rdc] Option to dump waveform for all violations"
RDC tool may dump waveforms for violations if a few config variables are set to true.

However, dumping waveforms at every run wastes resources.

This ticket is to track the enhancement of dvsim RDC flow:

- Give option to add waveform when dvsim is called.
- revise `run-rdc.tcl` to set the config variables when the given option is set.
-

[2022-11-09 20:45] drewmacrae commented on #14488
Why does the test plan say "a ROM_EXT" image? I can see how I'd do this in a flash_binary test and how I could set the ROM_EXT manifest, but I'm not sure if this should involve custom ROM_EXT software.

[2022-11-09 21:05] #14482 closed

[2022-11-09 21:07] alphan commented on #14488
That's what we need (rom_ext image = manifest + rom_ext binary)

[2022-11-09 21:10] alphan commented on #14488
I'd recommend observing the UART output and making flash binaries simpler. We typically look at a particular string the program prints to detect a successful boot and the shutdown output (`BFV:...\r\nLCV:...\r\n`) to detect boot failures.

[2022-11-09 21:23] drewmacrae commented on #14488
I didn't understand that we're calling the flash binary the ROM jumpts to a ROM_EXT regardless of it's differences from https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom_ext/rom_ext.c;l=172?q=rom_ext.c&sq=&ss=opentitan%2Fopentitan

[2022-11-09 22:54] weicaiyang opened #16183 "[keymgr] V2S review items"
From [notes](https://docs.google.com/document/d/1GDUpGAcLPJnLGNMlHED5HtbXUpEQx9M3oWbef8P_bdo/edit#)

- [x] [weicai] improve FSM coverage to 90%+ #16222
- [x] [weicai] Some test (keymgr_regwen_test) passing rate is 80%+, please take a look. #16241
- [x] [weicai] Update sec_cm testplan “sw_binding_config_regwen” #16188
- [x] [weicai] Update sec_cm testplan “sec_cm_hw_key_sw_noaccess” #16188
- [x] [w

[2022-11-10 00:56] #14455 closed

[2022-11-10 01:23] martin-lueker commented on #14193
Hi Fatih,
   I see that @drewmacrae has updated definition very recently.  I think this can be incorporated into `chip_sw_entropy_src_csrng`, with the addition of an assertion which insists that _when in FIPS mode_ every output between the `entropy_src` and the `csrng` get a four-phase handshake on the `cs_aes_halt` if before outputting any thing to CSRNG.   There are two tricky parts to consider:

[2022-11-10 01:28] sriyerg opened #16190 "[kmac] Question re. KMAC idle indication"
This came up during the development of [alert_handler_lpg_clkoff test](https://github.com/lowRISC/opentitan/blob/b65e2705eb4ee814b46939d44f84d1adfee133c3/hw/top_earlgrey/data/chip_testplan.hjson#L1307).

The test requires the SV side to inject a fatal fault in KMAC. Then, the SW turns off the KMAC clock, and after some delay turns it back on, and then verifies that the fatal alert is still there.

[2022-11-10 01:29] sriyerg commented on #16190
@cindychip @bilgiday @tjaychen for reference.

[2022-11-10 01:45] tjaychen commented on #16190
is the reason we want to check the alert after clock disable that alert handler's lpg functions don't disturb alerts that are already there?

If that's what we're looking for, would triggering an alert through `ALERT_TEST` afterwards be sufficient? Mostly we just need to prove that after an lpg off event the prim alert sender is still working right? Was the intent of this test?

[2022-11-10 02:02] drewmacrae commented on #14488
I think I can reset with a "shutdown_finalize()" call, I'm going to try to come up with a reasonable reason.

[2022-11-10 02:11] drewmacrae commented on #14488
all the calls to shutdown_finalize appear to be in response to errors, not intentional and const.
There is a kErrorOk state I might try

[2022-11-10 02:15] drewmacrae commented on #14488
rstmgr_reset() is more straightforward so maybe I'll start there.

[2022-11-10 02:40] drewmacrae commented on #14488
Hey, that kindof works, I can walk through the whole flow, now I just have to set things up to identify it's doing the correct thing and pass the test.

I also have to cleanup after the test or subsequent ones with the same bitstream just see `BFV:kErrorBootPolicyRollback`

[2022-11-10 02:47] drewmacrae commented on #14488
I have it going through the whole thing without bootstrapping a second time. Not sure why I need a second flash image. My biggest concern now is that a subsequent test is going to be messed up if it uses the same bitstream.

[2022-11-10 02:49] drewmacrae commented on #14488
Are there other tests that use the OTP to brick the chip and then recover it?

[2022-11-10 02:52] sriyerg commented on #14126
SV portion completed in #16193.

[2022-11-10 03:02] drewmacrae commented on #14488
Is the suggestion I bootstrap again that I do so in order to rescue the CW310 by loading something with a higher security setting to return the requirement to 0?

[2022-11-10 03:03] sriyerg commented on #16190
According to the testplan entry description:
https://github.com/lowRISC/opentitan/blob/98bd47a79e5f4191c3e233bfd7b6576c0109f2fc/hw/top_earlgrey/data/chip_testplan.hjson#L1474

IIUC, the intent of the test is to verify the persistence of fatal alerts, which could be hampered by a clock gating event. If the clock to the peripheral firing a fatal alert somehow gets gated, the fatal alert firing would

[2022-11-10 03:07] drewmacrae opened #16194 "CPUCTRL CSR May not be reset properly"
This test is definitely flaky on the cw310 I've seen
[code]
both pass and fail. I wonder if there's an interaction with the sam3 in this test, though that it fails in verilator indicates that's not the only problem.

Is it flaky in verilator?

_Originally posted by @drewmacrae in https://github.com/lowRISC/opentitan/issues/15788#issuecomment-1295027251_

[2022-11-10 03:20] drewmacrae commented on #16194
hmm, the test_rom version of the test is passing, it's the rom version that is failing, which makes no sense with it bisecting to  https://github.com/lowRISC/opentitan/commit/e5de5869cfd24ec6d23d19b2f75e89f7d9a61b7d

[2022-11-10 03:23] drewmacrae commented on #16194
Well, There's weird stuff going on here, but I can't put together what I know here into anything cohesive

[2022-11-10 03:23] #16194 closed

[2022-11-10 03:27] sriyerg commented on #16072
I amended the test to only introduce a bit flip to the data bits and leave the intg bits alone. See https://github.com/lowRISC/opentitan/pull/16195. That should get the test to reliably pass on all iterations.

[2022-11-10 03:36] tjaychen commented on #16190
hmmm.. i see. I was thinking that we just need to test the alert firing mechanism is still working after an LPG reset, but if the intent is to test fault persistence then that's different.

@eunchan do you recall if there was any specific reason to indicate not idle while in error state?
I don't think reporting "not idle" is incorrect, but if it's an easy fix we may as well do it.

Another option

[2022-11-10 03:43] tjaychen commented on #16146
sounds good to me. @martin-lueker since we've agreed on a resolution, are you okay with lowering the priority of this issue to P1/P2?

[2022-11-10 03:44] tjaychen commented on #10970
@msfschaffner and i talked through this today.
We believe the major points in this test can be covered by the `power virus` test and Nuvoton tests.
We do need to add one test in M3 to check the upper limit of secure boot, but we don't believe that needs to be M2 gating.

Let me know if anyone objects, otherwise we will drop this to M3 at the end of day tomorrow.

[2022-11-10 04:13] tjaychen commented on #15487
discussed with @cfrantz / @arunthomas , and it is okay to move this to the M3 milestone.

[2022-11-10 04:14] #16152 closed

[2022-11-10 04:18] tjaychen commented on #16154
sorry i just didnt have time to get to this. I've released it to the pool for now, pending the next time I have some more bandwidth.

[2022-11-10 04:56] msfschaffner commented on #16115
Should be fixed #16191, leaving the issue open to confirm.

[2022-11-10 04:57] cindychip opened #16198 "[dv] Check if alert is configured to fatal correctly"
From issue #16159 and discussion https://github.com/lowRISC/opentitan/pull/16176#issuecomment-1309336183
We need a better way to check if `is_fatal` parameter is configured correctly, regardless of alert request is sticky or not.

To solve this issue, we can consider adding a DV interface for prim_alert_sender and drive `alert_req` manually to make sure the `IsFatal` is set correctly.

[2022-11-10 05:26] zi-v commented on #10970
I agree

[2022-11-10 06:23] tjaychen commented on #15170
for target verification, i think after smoke, it's probably good to verify the basic operational interrupts + stretching.  They basically come together. Let me double check if the spec has laid this out clearly, if not we can quickly discuss.

[2022-11-10 06:30] martin-lueker commented on #14193
The check that every FIPS seed is preceded by a CS_AES_HALT handshake will be added with https://github.com/lowRISC/opentitan/pull/16200

With this we can probably at least simplify the need for the assertion, (or perhaps even no longer need it?).  With `chip_sw_entropy_src_csrng` the generation of the seeds will imply that _something_ is giving the `entropy_src` a handshake.  The one check might

[2022-11-10 08:12] sriyerg commented on #14114
I was reviewing chip level coverage, and indeed the SPI HOST1 interface appears to not be covered, which means the connection of SPI_HOST1 to pinmux is untested. Could we address the randomization of the SPI_HOST interface in M2? Seems like the hooks are all there - just need some tweaks.

[2022-11-10 08:21] sriyerg commented on #14114
I am reopening this issue, since the testplan intent is not fully covered. We could tag it to M3 if deemed lower priority than other things.

[2022-11-10 08:34] sriyerg commented on #14114
I stumbled upon https://github.com/lowRISC/opentitan/issues/15483 which appears to track the enhancement to randomize the instance. I will close this issue in that case.

[2022-11-10 08:55] sriyerg commented on #16190
For reference, the testplan was originally updated by @cindychip in this PR: https://github.com/lowRISC/opentitan/pull/13153.

[2022-11-10 09:17] engdoreis commented on #16024
The tests are neither faling nor the error signature can be found in the report.
|     | Tests                                    |   2022-11-09 08:04:06 |   2022-11-08 08:03:42 |   2022-11-07 08:08:10 |   2022-11-06 07:11:02 |   2022-11-05 07:11:23 |   2022-11-04 07:12:05 |   2022-11-03 07:11:23 |   2022-11-02 07:03:26 |   2022-11-01 07:10:18 |   2022-10-27 07:09:48 | Suite

[2022-11-10 09:17] #16024 closed

[2022-11-10 09:18] engdoreis commented on #16018
The test is neither faling nor the error signature can be found in the report.
|    | Tests                             |   2022-11-09 08:04:06 |   2022-11-08 08:03:42 |   2022-11-07 08:08:10 |   2022-11-06 07:11:02 |   2022-11-05 07:11:23 |   2022-11-04 07:12:05 |   2022-11-03 07:11:23 |   2022-11-02 07:03:26 |   2022-11-01 07:10:18 |   2022-10-27 07:09:48 | Suite

[2022-11-10 09:18] #16018 closed

[2022-11-10 09:35] marnovandermaas opened #16201 "[csrng] csrng_internal_cg implementation"
Based on the changes to the test plan proposed in: https://github.com/lowRISC/opentitan/pull/16116

We need an extra cover group to create coverage on the internal state of the CSRNG block.

Old estimate before 2022-11-11 8

[2022-11-10 10:02] vogelpi opened #16202 "[aes, kmac, sca] Repeat formal masking verification experiments prior to tapeout"
@johannheyszl  brought it up in today's SCA meeting that we need to repeat the formal masking verification experiments close to tapeout. We have been running these experiments in the past (as well as with FPGA measurements) but there is the risk that something is introduced into the the RTL which doesn't show on FPGA but only in the ASIC netlist.

Related to that, we should try to port he formal m

[2022-11-10 10:20] johannheyszl commented on #15470
Thanks @m-temp @wettermo and @vogelpi !

[2022-11-10 10:25] marnovandermaas opened #16203 "[csrng,doc] CSRNG documentation questions"
These are some questions I had when I was writing the test plan and could not find in the documentation:

1. When do the interrupt flags in `intr_state` clear? Do they clear when the CSRNG receives the next command? **Update:** Clarified in: https://github.com/lowRISC/opentitan/pull/16116
1. In the documentation the cmd type is 4 bits, but it is only 3 bits in the implementation. Values (`0x0`,`0x

[2022-11-10 10:52] johngt commented on #12989
If I read and summarise the thread correctly this looks to only need a documentation effort at this point.
Any documentation efforts could potentially be done post M2, so lowering the priority to P3.
@msfschaffner - we could mark this as a post M2 task, but just want your confirmation before moving it out of the milestone.

[2022-11-10 10:58] vogelpi commented on #16203
Hi @marnovandermaas ,
thanks for factoring this out into a seperate issue. I am don't know about the first question, maybe @mwbranstad can help with this one. For the other ones:

2. My understanding is that this is why they're marked as "reserved" in the documentation already. If someone drives non-zero values to these bits, undefined behavior may result.
3. Also here I think this is the meaning

[2022-11-10 11:30] abdullahvarici opened #16204 "[SPI_Host] spi_agent behaviour in spi_host_speed test"
I saw that when spi_host_speed tests were passing, the random responses that spi_agent created for read requests was not seen in the bus, instead the busses were all driven to high but this wasn't causing a failure. It would be good to review the related functions in monitor and scoreboard.

[2022-11-10 11:34] abdullahvarici commented on #15075
With the last commit on PR #16015, I think most of the tests will pass. We are running a full regression test on spi_host and spi_device using that PR and will publish the results. When the discussions are over, and after seeing the test results, maybe we can merge the PR and close this issue.

estimate 4

@johngt

[2022-11-10 11:47] vogelpi commented on #16065
Based on @martin-lueker 's feedback, one of the three items above could be crossed out and the first one taken by @vrozic simplifies somewhat.

[2022-11-10 11:56] andreaskurth opened #16205 "[spi_host,dv] Revisit default pull-up in block-level TB"
[We think](https://github.com/lowRISC/opentitan/pull/16015#discussion_r1014570884) this pull-up in the `spi_host` block-level TB
https://github.com/lowRISC/opentitan/blob/d856706cac88b04486775c74887408c9cc7ca186/hw/ip/spi_host/dv/tb.sv#L100-L102
is not required, but tests currently fail without it. We should investigate this.

[2022-11-10 12:07] vogelpi opened #16206 "[kmac] Add parameter to optionally allow unshared software keys for the unmasked implementation"
With #14178, we've changed KMAC to always take the key in two shares independent on the interface (SW or keymgr sideload) and the Verilog parameters (masking on/off). This aligns the design with AES and more importantly simplifies software and the SCA setup as people can use the same software binaries when analyzing unmasked or masked KMAC. This matters as when starting experiments, prototyping at

[2022-11-10 12:25] johngt commented on #15483
@tjaychen / @weicaiyang - email discussion started on this due to this being potentially a very large task. Devs are working on other SPI_Host items for now but we will await your further description on this issue or in the email.

[2022-11-10 12:36] alphan commented on #14488
Tests should not affect each other since they bootstrap the chip -- unless FPGA is in a bad state but that's not related to the test.

[2022-11-10 12:36] alphan commented on #14488
This test doesn't touch OTP, does it?

[2022-11-10 12:37] drewmacrae commented on #14488
I thought boot data was in otp

[2022-11-10 12:41] alphan commented on #14488
I see, no. It's in flash info. But it behaves somewhat similar to OTP w.r.t. bootstrap because bootstrap does not touch it.

[2022-11-10 12:45] ballifatih commented on #14193
Thanks for the detailed description @martin-lueker, and thanks @sriyerg for the recent update on the test plan #16186. I will need some time to digest this (given my unfamiliarity with these IPs). Meanwhile, I am self-assigning the test.

[2022-11-10 15:11] yehuda-bejar opened #16207 "[i2c] i2c_monitor overrides its super's run_phase"
The I2C Monitor (class i2c_monitor) extends the DV Base Monitoer (class dv_base_monitor).
However, the implementation of its run_phase, does not call super.run_phase() anywhere,
thus completely overriding the DV-Base implementation.

In addition to not complying with OT and UVM methodology, this is problematic in:
1. normal use, as i2c_monitor will not, automatically, get upgrades implemented in d

[2022-11-10 15:27] arunthomas commented on #15921
@jprendes @dmcardle Can we got ahead and close this issue now?

[2022-11-10 15:33] alphan commented on #15613
Closing since we have an issue for the test

[2022-11-10 15:34] yehuda-bejar opened #16208 "i2c_monitor may cause chip-level tests to get stuck"
The I2C monitor watches the SDA/SCL pins of the chip.
These ping are multiplexed with other peripherals such as GPIO and PWM (and their corresponding monitors)*.

*Note:
This may be dependent on test-bench configuration and in that case, we are referring to the default configuration.
Other test-bench configurations, if exist, were not explored!

First issuel
The I2C monitor is enabled by default.

[2022-11-10 15:35] arunthomas commented on #15977
Moving to M3, since this failure only affects Verilator

[2022-11-10 16:10] tjaychen commented on #16207
@sriyerg
@weicaiyang
@cindychip

[2022-11-10 16:11] tjaychen commented on #16207
@yehuda-bejar is this actively blocking you right now? If not, I am inclined to bump this to after M2.

[2022-11-10 16:13] tjaychen commented on #16208
Does this mean we should tie the enablement of the monitor into this task and perhaps disable it by default in the chip level environment?

[2022-11-10 16:14] yehuda-bejar opened #16209 "CL S/W Test-Status I/F does not allow time for"

[2022-11-10 16:15] GregAC commented on #14129
@alees24 (a new starter at lowRISC) is taking a look at USB device TLT, I've put him in planned assignee for now as he's ramping up currently rather than actively working on any particular test.

[2022-11-10 16:15] GregAC commented on #14136
@alees24 (a new starter at lowRISC) is taking a look at USB device TLT, I've put him in planned assignee for now as he's ramping up currently rather than actively working on any particular test.

[2022-11-10 16:16] GregAC commented on #14133
@alees24 (a new starter at lowRISC) is taking a look at USB device TLT, I've put him in planned assignee for now as he's ramping up currently rather than actively working on any particular test.

[2022-11-10 16:16] GregAC commented on #14121
@alees24 (a new starter at lowRISC) is taking a look at USB device TLT, I've put him in planned assignee for now as he's ramping up currently rather than actively working on any particular test.

[2022-11-10 16:17] GregAC commented on #14117
@alees24 (a new starter at lowRISC) is taking a look at USB device TLT, I've put him in planned assignee for now as he's ramping up currently rather than actively working on any particular test.

[2022-11-10 16:17] tjaychen commented on #16190
do you guys think the shallow sleep approach would work for the purposes of this test?

[2022-11-10 16:20] a-will commented on #14117
FYI, I probably need to take a look at the test plan and make some adjustments. They don't currently cover all the different endpoint types, for example, and it would be good to test out isochronous endpoints. We already have code to handle control and bulk endpoints but not isochronous (and interrupt endpoints aren't meaningfully different from bulk endpoints).

[2022-11-10 16:30] andreaskurth commented on #16065
(potentially less, but let's not get ahead of ourselves until we have the full picture of pass rate and coverage)

[2022-11-10 16:35] weicaiyang commented on #12989
sgtm, moved this to M3

[2022-11-10 16:40] #4244 closed

[2022-11-10 16:42] milesdai commented on #14494
`CREATOR_SW_CFG_RET_RAM_RESET_MASK` should be set to `1 << 2`, not `1<<3` right? Since `kRstmgrReasonSoftwareRequest` is 2?

[2022-11-10 16:42] msfschaffner opened #16210 "[dv] clean up dynamic SVA disablement due to escalation"
ah i see, so when we've escalated, we dont need to obey this check any further? I honestly wonder if long term we should make this a wire in the tb (`chip_if` for example) so that all blocks can have something to reference without needing to pull a signal through the hierarchy.

@sriyerg what do you think?

_Originally posted by @tjaychen in https://github.com/lowRISC/opentitan/pull/16199#discussi

[2022-11-10 16:49] msfschaffner commented on #14782
We should wait because #15781 extends the tests which are already passing.

[2022-11-10 16:51] yehuda-bejar opened #16211 "CL S/W Test-Status I/F does not allow time for CDC to complete"
When a S/W test is run on the Chip-Level test-bench, the simulation ends soon after the S/W Test Status I/F line "sw_test_done" is asserted.
In some IP's, write accesses to the CSR registers go via CDC logic in module: prim_reg_cdc.
This module has an internal signal "src_req" which is derived, directly from reg_we at the source domain
and another internal signal "src_ack" which is derived from th

[2022-11-10 16:52] tjaychen commented on #16211
do you know which module this is?
@sriyerg went through this exercise a little while ago and we purposely silenced all transactions at the end of test.

[2022-11-10 16:52] bilgiday commented on #16190
@tjaychen, actually we have a new test in the chip testplan: `chip_sw_alert_handler_lpg_sleep_mode_alerts`
https://github.com/lowRISC/opentitan/blob/b65e2705eb4ee814b46939d44f84d1adfee133c3/hw/top_earlgrey/data/chip_testplan.hjson#L1266-L1275

This test and the fatal alert part of the lpg_clkoff test looks very similar to me. I wonder if `chip_sw_alert_handler_lpg_sleep_mode_alerts` test also cove

[2022-11-10 16:53] johngt commented on #15483
Based on the discussion via email and also on the thread https://github.com/lowRISC/opentitan/issues/14114 it looks like the majority of this work, at least for the SPI_Host sub-task is to ensure that the different SPI_Host interfaces are tested.

From Sri:

So this issue will look into the randomisation of SPI_Host interface

Tim has suggested that devs working on this look at UART to see how thi

[2022-11-10 16:55] #16209 closed

[2022-11-10 17:01] msfschaffner commented on #16028
@vrozic since I made that change, I can take a look also.

[2022-11-10 17:12] martin-lueker commented on #16203
We do not use a derivation function for thi block..   The specification for the derivation function is a major pain to implement in HW.  We instead insist that the output of the `entropy_src` is "full-entropy" to satisfy SP 800-90A.

[2022-11-10 17:13] andreaskurth commented on #16065
The `INTERSIG.MUBI` item is coming to close, I'm planning to work on `CTR.LOCAL_ESC` next.

[2022-11-10 17:16] vogelpi commented on #16203
Thanks for your inputs @mwbranstad and @martin-lueker . All clear then, this is useful for the DV work we're doing. I think we can make any documentation changes related to this after M2.

[2022-11-10 17:20] johngt opened #16213 "[test-triage] chip_csr_aliasing"
### Hierarchy of regression failure

Chip Level

### Failure Description

[code]

### Steps to Reproduce

- GitHub Revision: [81bde034a](https://github.com/lowrisc/opentitan/tree/81bde034a7b21e3444342c96555fc63595a03c65)
- dvsim invocation command to reproduce the failure, inclusive of build and run seeds:
  ./util/dvsim/dvsim.py hw/top_earlgrey/dv/chip_sim_cfg.hjson -i chip_csr_aliasing --build-s

[2022-11-10 17:23] sriyerg commented on #16211
`dvsim` is correctly flagging the test failure because the test completed when there was still some unfinished activity in the DUT.
You will most likely need to update the SW test to completely silience the DUT before exiting.

This bug is a duplicate of https://github.com/lowRISC/opentitan/issues/14913. Lets use that one for discussion. I will close this, thanks!

[2022-11-10 17:23] #16211 closed

[2022-11-10 17:50] HU90m commented on #16060
Sorry, only just getting back to this.
Would it be worth creating a pull request using the band-aid solution (resetting the chip),
so the CI report goes a nice green colour,
before creating an issue and investigating further?

[2022-11-10 17:51] sriyerg commented on #16207
I think it is ok for the downstream agent monitors to not have to call `super.run_phase(phase)`, given the `dv_base_monitor::run_phase` could be restrictive (it only forks off 1 thread).

I would actually propose `dv_base_monitor::run_phase()` to immediately throw a fatal error and force the actual agent monitors to implement the monitoring logic. The more important pieces are `watchdog_ready_to_e

[2022-11-10 17:55] cindychip commented on #16190
I agree, I think the current behavior is safer.

I think the intention of this testpoint is to make sure: say if fatal alert just fired, but the system somehow turned off the IP's clock, we are still able to see fatal alert keep firing afterwards.

We can cross reference them!

[2022-11-10 18:06] tjaychen commented on #16060
normally i would say yes...but if your test really isn't expecting any alerts (are you?) but you are getting one, that's usually kind of alarming.  If what i'm saying is true, that part is worth investigating.

[2022-11-10 18:20] sriyerg commented on #16208
1. Issue 1:
    I agree this is a problem. We can add `dv_base_agent_cfg::en_monitor` which must be used effectively by the agent monitors to disable the monitoring logic until the IP is ready to be used.

2. Issue 2:
  What is the actual idle condition for the I2C? Should both pins be left undriven by either party? If so, then we can update it that way. Note that I2C agent is still under active d

[2022-11-10 18:23] tjaychen commented on #16208
if i2c is idle, both scl and sda should be weakly pulled up.

[2022-11-10 18:23] tjaychen commented on #16208
sorry i mean that in the sense of hte protocol, not trying to say that's how the tb should behave necessarily.

[2022-11-10 19:05] cindychip opened #16218 "[edn] error_code_test value 2 is reserved, but can trigger fatal alert"
From the spec:

https://docs.opentitan.org/hw/ip/edn/doc/index.html#Reg_err_code_test
https://docs.opentitan.org/hw/ip/edn/doc/index.html#Reg_err_code

`err_code` value [19:2] are reserved, but when writing value 2 to `err_code_test` register, it actually triggers a fatal alert.
From the RTL code, it looks like:
https://github.com/lowRISC/opentitan/blob/master/hw/ip/edn/rtl/edn_core.sv#L312
test b

[2022-11-10 19:32] #15426 closed

[2022-11-10 19:46] weicaiyang commented on #16207
Agree. dv_base_monitor::run_phase doesn't contain any really useful function for extended monitors. We probably don't need to mandate how the extended monitors use it.

[2022-11-10 19:55] dmcardle commented on #15921
I think we can close this. As of #15853, all tests defined with `opentitan_gdb_fpga_cw310_test()` are using the Bazel-built OpenOCD.

@jprendes You could delete OpenOCD from the container if you're so inclined.

[2022-11-10 20:02] arunthomas commented on #15921
Thanks, @dmcardle. Closing the issue.

[2022-11-10 20:02] #15921 closed

[2022-11-10 20:08] HU90m commented on #16060
Yeah, you're right it is alarming and probably best to investigate.

[2022-11-10 20:11] mwbranstad commented on #16218
@cindychip this is an error in the hjson, which needs to change to 19:3 as reserved. After that, everything will line up. Bit 2 was a recent change to fix another bug. Good catch!

[2022-11-10 20:12] msfschaffner commented on #16072
Sounds good, thanks for amending that!

[2022-11-10 20:13] tjaychen commented on #16218
thanks @cindy.
@mwbranstad do you want me to go ahead with a fix?

[2022-11-10 20:13] drewmacrae commented on #14488
Bootstrapping multiple times works well but I didn't use it for this test.

[2022-11-10 20:17] tjaychen commented on #16218
ah if you're not too busy, it would probably be best to come from you.
If you're tied up, just let me know and I can do it.
We should probably try to get all this in prior to EDN's review tomorrow.

[2022-11-10 20:19] mwbranstad commented on #16218
sure, i will do it.

[2022-11-10 20:23] msfschaffner commented on #12989
SGTM (although we may still want to discuss whether this needs a different interrupt type as part of the D3 review).

[2022-11-10 20:50] martin-lueker commented on #16063
This should be fixed by: https://github.com/lowRISC/opentitan/pull/16223

[2022-11-10 21:04] alphan commented on #14494
You're right, can you also update the testplan hjson file? (I can update this issue once the hjson is merged). Thanks @milesdai !

[2022-11-10 21:05] #16113 closed

[2022-11-10 21:38] andreaskurth commented on #16063
That would be amazing, thanks @martin-lueker! I'll run a full regression tomorrow and post the results.

[2022-11-10 22:29] weicaiyang opened #16233 "[keymgr] Clarify countermeasure CTRL.REDUN"
Please clarify the outcome when data_en or data_valid is flipped.
As discussed, we may need to split the data_en for SW update and HW sideloads.

[2022-11-10 22:29] weicaiyang opened #16234 "[keymgr] LC disable happens at the 1st advance"
When LC disable happens at the 1st advance, the operation completes successfully. I expect op_status to fail because any other operation will fail if LC disable happens in the middle of the operation.

However, we wipe keys and move the state to StInvalid after that. So it's just a small inconsistency.
I'm fine to keep it as is if it's not easy to fix. I can update scb to align with it.

Wave sess

[2022-11-10 23:01] vogelpi opened #16238 "[csrng] Implement V2S tests"
[ ] Map as many CMs to common tests or FPV as possible.
[ ] For the remaining CMs, extend existing tests or write new tests.

[2022-11-10 23:04] vogelpi commented on #16238
I've started reviewing the test plans, tests and countermeasures to see what CMs are tested how and what needs to be done. It looks like quite some work is waiting here. We might however borrow ideas and code from entropy_src and AES DV.

[2022-11-11 00:03] eunchan opened #16242 "[CDC] Remove top specific config from `run-cdc-tcl`"
[Current `run-cdc.tcl`](https://cs.opensource.google/opentitan/opentitan/+/2b989a42bad3aff373e024ce841b406eec1b3970:hw/cdc/tools/verixcdc/run-cdc.tcl;l=112-120;bpv=1;bpt=0) has **top_earlgrey** specific configs. It The part is better to be placed under `hw/top_earlgrey/cdc/` and source from `run-cdc.tcl` depending on the target top.

CC: @jeoongp @tjaychen @msfschaffner @eunchan

[2022-11-11 01:04] #15209 closed

[2022-11-11 05:11] #14949 closed

[2022-11-11 05:11] #15226 closed

[2022-11-11 05:54] sriyerg commented on #16190
I think rather than Xref, IMO we can keep the scope separate since `chip_sw_alert_handler_lpg_sleep_mode_alerts` sorta covers the test intent "fatal alerts persist across a clock gating event".

I propose the following next steps:
- Reduce the scope of `chip_sw_alert_handler_lpg_clkoff` test to indicate that it verifies that the alert ping system is stable across an LPG clock gating event for all

[2022-11-11 05:57] sriyerg commented on #16190
I wouldn't be surprised though, if we find out that the injection of fatal alert somehow also prevents us from going into sleep. In any case, it will be an interesting test to develop.

[2022-11-11 05:59] sriyerg commented on #16190
Yes that sounds very good to me.

[2022-11-11 06:17] tjaychen commented on #16190
sounds good to me.

[2022-11-11 09:36] andreaskurth commented on #16065
Cross-linking and documenting the actions on those comments:

[First comment](https://github.com/lowRISC/opentitan/pull/16141#pullrequestreview-1173071813)

(1) is covered by FPV, so I think extending a test to trigger and check it would be redundant work.
(2) I'll do by extending the `entropy_src_functional_errors` test.

[Second comment](https://github.com/lowRISC/opentitan/pull/16141/files#r101

[2022-11-11 09:46] johngt commented on #16146
@martin-lueker - I think that based on @tjaychen and @moidx responses that just option 2 is the decision. I think you are working on documenting cases so I'll leave the assignment with just you and leave it as an M2 task but with a P1 priority.

[2022-11-11 09:52] andreaskurth commented on #16063
[Current `master`](https://github.com/lowRISC/opentitan/tree/5a2b91c453b610dea9496579cc472efb1379bfe7) plus PR #16101 applied:

## Test Results

Only `entropy_src_fw_ov` has <90% (43/50) pass rate.
- 4/7 fails are due to `UVM_ERROR (entropy_src_scoreboard.sv:1773) [scoreboard] Check failed csr.get_mirrored_value() == item.d_data (* [*] vs * [*]) reg name: entropy_src_reg_block.recov_alert_sts`.
-

[2022-11-11 10:55] vogelpi commented on #16238
Based on #16251, there is quite some work to be done. In particular we need (for details check out the testplan):
- [ ] CONFIG.REGWEN: Add a directed test to verify CTRL and ERR_CODE_TEST cannot be modified unless REGWEN is high. This is a task for @vrozic who did the same for entropy_src
- [ ] CONFIG.MUBI: Check that the recoverable alert actually fires.
- [ ] INTERSIG.MUBI: Drive also False valu

[2022-11-11 11:03] engdoreis commented on #13543
@msfschaffner I checked again and the main sram still maches the pattern after the scrambling. I think that the reason it is the chip reset after the scrambling which I assume that is restoring the original key ( I think I've heard something like that in one of the security meetings). Please let me know your thoughts.

[2022-11-11 11:27] marnovandermaas commented on #16201
I've added an initial implementation on the internal cover group, but am struggling with how to implement the sampling.

[2022-11-11 11:38] andreaskurth commented on #15742
Summarizing the discussion just held:

It's hard to get coverage with backdoor accesses because sampling happens in scoreboard on TL interface, but backdoor accesses don't go through TL interface. Sampling on alert or in vseq could be an alternative.

Impl of CG currently ready, sampling WIP.

[2022-11-11 11:41] johngt commented on #15483
@hcallahan-lowrisc will look into the SPI_Host part of this issue.

[2022-11-11 11:46] johngt commented on #16213
@sriyerg there are some intermittent issues with this but last night's report seemed to show it was ok.

|    | Tests             |   2022-11-10 08:10:06 |   2022-11-09 08:04:06 |   2022-11-08 08:03:42 |   2022-11-07 08:08:10 |   2022-11-06 07:11:02 |   2022-11-05 07:11:23 |   2022-11-04 07:12:05 |   2022-11-03 07:11:23 |   2022-11-02 07:03:26 |   2022-11-01 07:10:18 | Suite

[2022-11-11 11:46] vogelpi commented on #16201
genbits (can see that from toggle coverage), genbits_v, sw_cmd_status, intr_state, intr_en - to sample on every clock edge, Andreas shared an example

[2022-11-11 12:02] johngt commented on #11315
Just a gentle nudge / reminder @martin-lueker / @mwbranstad on the final issues here.
There is a review meeting scheduled for Entropy_src V2S on 14 November and one of the things that will be checked is if overall V2 has been signed off. Thanks!

[2022-11-11 12:05] marnovandermaas commented on #16201
We decided this issue can be roped into https://github.com/lowRISC/opentitan/issues/15742
I opened a draft PR (very incomplete) as a reference for what I did so far: https://github.com/lowRISC/opentitan/pull/16254

[2022-11-11 12:06] vogelpi commented on #16201
Thanks @marnovandermaas , this is helpful. I am un-assigning you for the moment to let you work on the V2S task as just discussed.

[2022-11-11 12:08] vogelpi commented on #16112
We discussed that maybe @andreaskurth could have a look at that. Because he already solved these issues for entropy_src and we expect the problems inside CSRNG are of very similar nature.

[2022-11-11 12:17] johngt commented on #15967
Pinging @eunchan / @weicaiyang as block maintainers for UART.
Believe that this is more of a question than a specific task for M2. Labelling as such.

[2022-11-11 12:23] johngt commented on #15278
@vrozic - did you manage to test with more seeds? Can this issue now be closed out?

[2022-11-11 12:26] vrozic commented on #15278
I've tested the fix with 30 seeds and didn't see any timeouts (previously timeouts were occurring about 20% of the time).
I think that the issue can be closed now.

[2022-11-11 12:27] johngt commented on #15435
2 nightlies passed - If ok during the weekend we can close this out on Monday.

|    | Tests                                     | 2022-11-10 08:10:06   | 2022-11-09 08:04:06   | 2022-11-08 08:03:42   | 2022-11-07 08:08:10   | 2022-11-06 07:11:02   | 2022-11-05 07:11:23   | 2022-11-04 07:12:05   | 2022-11-03 07:11:23   | 2022-11-02 07:03:26   | 2022-11-01 07:10:18   | Suite

[2022-11-11 12:29] johngt commented on #15940
Passed 3 nightlies. Ping on @engdoreis if this needs to be re-opened.

|     | Tests                   |   2022-11-10 08:10:06 |   2022-11-09 08:04:06 |   2022-11-08 08:03:42 |   2022-11-07 08:08:10 |   2022-11-06 07:11:02 |   2022-11-05 07:11:23 |   2022-11-04 07:12:05 |   2022-11-03 07:11:23 |   2022-11-02 07:03:26 |   2022-11-01 07:10:18 | Suite

[2022-11-11 12:29] #15940 closed

[2022-11-11 12:30] johngt commented on #15939
Passed on 3 nightlies. Ping on @engdoreis if this needs to be reopened.

|    | Tests                     |   2022-11-10 08:10:06 |   2022-11-09 08:04:06 |   2022-11-08 08:03:42 |   2022-11-07 08:08:10 |   2022-11-06 07:11:02 |   2022-11-05 07:11:23 |   2022-11-04 07:12:05 |   2022-11-03 07:11:23 |   2022-11-02 07:03:26 |   2022-11-01 07:10:18 | Suite                               |
|---:|:-------

[2022-11-11 12:32] johngt commented on #15980
@moidx / @tjaychen this seems to have passed in the nightlies for the last 3 nights.

I'm happy for this to be closed out, but leaving it open for now in case there is some other behaviour that needs to be assessed.

|    | Tests                         |   2022-11-10 08:10:06 |   2022-11-09 08:04:06 |   2022-11-08 08:03:42 | 2022-11-07 08:08:10   | 2022-11-06 07:11:02   | 2022-11-05 07:11:23   |

[2022-11-11 12:34] johngt commented on #16026
@msfschaffner this has passed the last 3 nightlies now - so I'm happy to close this out. Please re-open if there is something else you want to check.

|     | Tests                       |   2022-11-10 08:10:06 |   2022-11-09 08:04:06 |   2022-11-08 08:03:42 |   2022-11-07 08:08:10 |   2022-11-06 07:11:02 |   2022-11-05 07:11:23 |   2022-11-04 07:12:05 |   2022-11-03 07:11:23 |   2022-11-02 07:03:

[2022-11-11 12:34] #16026 closed

[2022-11-11 12:35] johngt commented on #16030
This has passed the last 3 nightlies, so closing out. @engdoreis

|     | Tests                  |   2022-11-10 08:10:06 |   2022-11-09 08:04:06 |   2022-11-08 08:03:42 |   2022-11-07 08:08:10 |   2022-11-06 07:11:02 |   2022-11-05 07:11:23 |   2022-11-04 07:12:05 |   2022-11-03 07:11:23 |   2022-11-02 07:03:26 |   2022-11-01 07:10:18 | Suite             |
|----:|:-----------------------|---------

[2022-11-11 12:35] #16030 closed

[2022-11-11 12:36] johngt commented on #16115
Thanks @msfschaffner - this has passed the last 3 nightlies so closing this out.

|     | Tests                           |   2022-11-10 08:10:06 |   2022-11-09 08:04:06 |   2022-11-08 08:03:42 |   2022-11-07 08:08:10 |   2022-11-06 07:11:02 |   2022-11-05 07:11:23 |   2022-11-04 07:12:05 |   2022-11-03 07:11:23 |   2022-11-02 07:03:26 |   2022-11-01 07:10:18 | Suite

[2022-11-11 12:36] #16115 closed

[2022-11-11 12:37] johngt commented on #16137
Passed the last 2 nightlies. Will wait until Monday and then check the status and close out if appropriate then.

[2022-11-11 12:39] johngt commented on #15538
@vogelpi - this unfortunately has come up with issues in the nightlies.
|     | Tests                                |   2022-11-10 08:10:06 |   2022-11-09 08:04:06 |   2022-11-08 08:03:42 |   2022-11-07 08:08:10 |   2022-11-06 07:11:02 |   2022-11-05 07:11:23 |   2022-11-04 07:12:05 |   2022-11-03 07:11:23 |   2022-11-02 07:03:26 |   2022-11-01 07:10:18 | Suite                                |
|-

[2022-11-11 12:51] johngt commented on #15278
Thanks @vrozic !
Closing out.

[2022-11-11 12:51] #15278 closed

[2022-11-11 13:10] #8546 closed

[2022-11-11 13:15] vogelpi commented on #15538
Thanks John, I've started looking into this again.

[2022-11-11 14:52] HU90m commented on #15679
The failure in the [2022-11-07 report](https://reports.opentitan.org/hw/top_earlgrey/dv/2022.11.07_04.24.21/report.html) was caused by the `flash_wp` asserted restart check failing. Due to it being checked after the software de-asserted `flash_wp`. This appears to have been fixed in https://github.com/lowRISC/opentitan/pull/16045 .

However, the test has failed with a different error since (in the

[2022-11-11 14:59] johngt commented on #16060
Un-assigning @HU90m as he is working on two other issues in case someone else can take this on. Will otherwise re-assign to him on Wednesday if this has not been taken on by someone else.

[2022-11-11 15:34] dmcardle commented on #16067
Update on this: I merged #15713 yesterday, which uses CI to help us keep an eye on potential flakiness of JTAG tests. The  tests passed on that PR, but later I saw 2/3 of the tests [fail](https://dev.azure.com/lowrisc/opentitan/_build/results?buildId=101775&view=logs&j=421a2038-410f-5c10-767f-4482292362ca&t=fe805732-5e37-5249-8636-c69eaa5ddf8e&l=83955) on #16226.

Note that the tests are failing d

[2022-11-11 15:42] vogelpi commented on #15538
I could reproduce the issue locally, it seem that we're faulting the ECC bits of one of the register file read ports while the core isn't reading from the register file. The core as well as the test actually have some logic to determine whether the error needs to be taken into account or not. And both decide it doesn't matter because in that particular clock cycle the core doesn't read from this r

[2022-11-11 16:12] marnovandermaas commented on #16203
Forgive my ignorance, but it looks like it is 3 bits from the `csrng_core.sv`:

I can't exactly find where the glen field is written from the bus, but I agree that glen should be 13 bits, which I've found in the RTL here: https://github.com/lowRISC/opentitan/blob/21b703db5740e68b64e7bfd4700ea24786479858/hw/ip/csrng/rtl/csrng_cmd_stage.sv#L52

[2022-11-11 17:39] matutem commented on #13248
An update: the rstmgr_cascading_sva_if interface has a number of assertions that are not specific to the cascading behavior. t seems better to remove only the cascading ones and rename the file for clarity.

[2022-11-11 17:53] vogelpi commented on #15538
A PR that should fix the failures observed today is here: https://github.com/lowRISC/opentitan/pull/16264

[2022-11-11 17:59] andreaskurth commented on #16112
Current status:

CEX:
- `gen_cnt_asserts[0].FpvSecCmDrbgCmdFsmCheck_A`
- `gen_cnt_asserts[1].FpvSecCmDrbgCmdFsmCheck_A`
- `gen_cnt_asserts[2].FpvSecCmDrbgCmdFsmCheck_A`
- `FpvSecCmCtrlMainFsmCheck_A`
- `FpvSecCmDrbgGenFsmCheck_A`
- `gen_aes_cipher_control_fsm_svas[0].gen_aes_cipher_control_fsm_svas_p.FpvSecCmAesCipherControlFsmCheck_A`
- `gen_aes_cipher_control_fsm_svas[1].gen_aes_cipher_control_f

[2022-11-11 18:04] cindychip commented on #16112
Unreachables could be we did not add the `stopat` path. Please feel free to ping me on slack if you have any other questions. https://github.com/lowRISC/opentitan/blob/master/hw/top_earlgrey/formal/top_earlgrey_fpv_sec_cm_cfgs.hjson#L67

[2022-11-11 18:37] ctopal commented on #16201
Okay, I think I'll just use the scoreboard more effectively to sample interrupt related covergroups that gets generated from `cip_base_env_cov`. For other coverpoints, I believe adding them to err_cg would be sufficient.

[2022-11-11 18:57] cindychip opened #16268 "[edn/dv] V2S TODOs"
- [x] [Steve]: Could you help check with Mark and see if we can unify the `local_escalate_i` and `edn_enable_i` at the end of the state machine case statement.

- [x] [Cindy]: Add assertions to check if local escalation can trigger fatal alerts. Currently file an issue

- [x]  [Cindy] Increase the length of genbits request. (Current max is 16/4?)
https://github.com/lowRISC/opentitan/pull/16297

-

[2022-11-11 18:57] sriyerg commented on #16213
The failure needs to be debugged. The tests run with different randomization seeds each night. Depending on the seed value, they may occasionally hit a corner failure case. Lets keep the bug open.

[2022-11-11 18:59] cindychip opened #16269 "[dv/sec_cm] Add assertions to check if local escalation can trigger fatal alerts"
In EDN V2S review meeting, we identified a low risk coverage hole in terms of local escalation.

We need some assertion checks to ensure all local escalation will eventually trigger FSM fatal errors or alerts.

And we need to double check if all these assertions are written correctly.

[2022-11-11 19:02] tjaychen commented on #15483
thank you!
should i spilt this into 2 issues?

On Fri, Nov 11, 2022 at 3:41 AM johngt ***@***.***> wrote:

[2022-11-11 19:02] tjaychen commented on #15980
i think it's good to close!

[2022-11-11 19:08] martin-lueker commented on #16146
Acknowledged.  I'll put a doc & waiver PR together.

[2022-11-11 19:48] hcallahan-lowrisc commented on #15483
@tjaychen Yes please, it's likely at this point that someone else will pick up the i2c_host part. Thanks!

[2022-11-11 19:55] #16233 closed

[2022-11-11 19:58] milesdai commented on #14494
Updated the testplan in #16217

[2022-11-11 20:16] weicaiyang commented on #13543
I took a closer look on this. I think @engdoreis is right.

If we don't do scramble, sram uses the default constant key, so the value matches.
![Screen Shot 2022-11-11 at 12 10 02 PM](https://user-images.githubusercontent.com/49293026/201423907-3ec344b0-c1cb-43ba-93d3-1d25b9204b26.png)

In the real boot-up sequence, we should always have main sram scramble, before starting executing instructions.

[2022-11-11 20:20] tjaychen opened #16271 "[dv/top] update i2c to support multiple instances"
The i2c top level tests right now only support 1 instance.
We need to upgrade the infrastructure here to be able to support any random instance.

similar to #15483

[2022-11-11 20:24] weicaiyang commented on #15967
This sounds like a support for Verilator? Maybe others can chime in.
@tjaychen @sriyerg

[2022-11-11 20:27] tjaychen commented on #16190
btw, since we have a plan for the tests, should we close this issue down? Or i guess we should do that after we update the testplan?

[2022-11-11 20:28] tjaychen commented on #16158
i am fixing this in the design and will push a PR soon, but I probably won't fix the documentation in time.
I'm going to punt the documentation fix to M3 for now, but rest assured the design issue will be addressed.

[2022-11-11 20:29] tjaychen commented on #16067
sounds good to me!

[2022-11-11 20:32] tjaychen commented on #15967
as @weicaiyang said this is part of verilator and probably not going to be our focus as the current milestone.
@cfrantz looks after the verilator stuff more closely and can probably comment better.

Having said that, OpenTitan welcomes participation, so if you feel this is a good thing to have, I would also strongly encourage you to try the changes and push a PR!

[2022-11-11 20:41] sriyerg commented on #16271
Should we just reopen the original test tracking issue #14104, since technically the test is not fully complete (the testplan entry alreasdy mandates testing both instances). Likewise for #15483. It will also show up in the charts that filter the `ChipLevelTest` tag.

[2022-11-11 20:47] tjaychen commented on #16271
that sounds good to me too.

[2022-11-11 20:47] #16190 closed

[2022-11-11 21:07] senelson7 commented on #16268
I checked with Mark, and we think we used to have it that way but changed it for some reason. Anyways, we can't think of any reason the local_escalate_i -> Error, edn_enable_i -> Idle can't be done outside of the State/case statement.

[2022-11-11 21:23] sriyerg commented on #14104
Reopening this issue to track the work on missing work items highlighed in https://github.com/lowRISC/opentitan/issues/14104#issuecomment-1248921924.

[2022-11-11 21:24] sriyerg commented on #14104
@rnongie, FYI

[2022-11-11 21:39] martin-lueker opened #16276 "[entropy_src/dv] Complete extht verification"
- Remove extht toggle and coverage exclusions
- Implement continuous and windowed extht functionality in the extht agents
- Revisit functional and toggle coverage, making vseq changes as necessary

[2022-11-11 21:40] tjaychen commented on #14111
this is now unblocked!
Please move ahead, both the dv side changes and the rtl fixes are in.

[2022-11-11 21:41] martin-lueker commented on #16276
Exclusion file in question:
https://github.com/lowRISC/opentitan/pull/16256/files#diff-0e1ed0d4dc2f025f39e8cdc4859c4454fe37c30d82120d56c95a06610585c93f

[2022-11-11 21:42] martin-lueker commented on #16276
Hi @sriyerg, as you requested.

[2022-11-11 21:45] cindychip commented on #16268
That is awesome, thank you Steve and Mark for confirming that. Do you want our side to make a PR for that, or do you want to do it. Either way is fine for me :)

[2022-11-11 22:12] cfrantz commented on #15967
Does `//sw/device/test/test_framework:ottf_flow_control_functest` happen to cover this request?

That test's reason for existence it to make sure the software flow control implementation for ottf can send XON/XOFF characters appropriately as the UART receive FIFO fills.  Part of the test has the CPU read characters out of the UART and send them back.

[2022-11-11 22:35] dmcardle opened #16278 "Test idempotency of bitstream splicing with INIT_XX strings"
Problems:

* ROM and OTP splicing is kind of fragile. If it stopped working due to some implementation detail (e.g. the BRAM type for OTP changed), we would only notice because e2e tests fail, and it would take some effort to figure out what's going on.
* Currently, updatemem writes *tons* of lines to stdout, roughly 100k lines. The information is mostly useless unless you're actively working on s

[2022-11-11 22:43] msfschaffner commented on #13543
Good catch!

So this needs to happen very early before SW initializes the stack/heap in the main SRAM.
That is why the ROM's typically do this early on in assembly.

Now, the test ROM skips this step if running in sim_dv:
https://github.com/lowRISC/opentitan/blob/3ba0b5a3bb02b01272f341fc4d399ac3214b31a4/sw/device/lib/testing/test_rom/test_rom_start.S#L214-L222

But the real ROM doesn't:
https://gi

[2022-11-11 22:46] msfschaffner opened #16280 "[test] Should test ROM also scramble the SRAM when initializing on FPGA / Verilator?"
I just noticed that when the test ROM initializes the main SRAM (happens only in Verilator sims and FPGA runs), the test ROM does not use request a new scrambling key:
https://github.com/lowRISC/opentitan/blob/3ba0b5a3bb02b01272f341fc4d399ac3214b31a4/sw/device/lib/testing/test_rom/test_rom_start.S#L214-L222

The real ROM however does that:
https://github.com/lowRISC/opentitan/blob/3ba0b5a3bb02b012

[2022-11-11 22:48] dmcardle commented on #16278
CC @a-will @alphan

[2022-11-11 22:54] tjaychen commented on #16280
yeah for this stuff it would be best to align test_rom / real_rom as much as possible.
I don't completely remember, but we might have taken it out to speed up boot? Because otherwise we need to wait for entropy_src to collect its seeds and all that exciting stuff.

Was this by any chance removed when @matutem went through and did a bunch of rom speed up?

[2022-11-11 23:08] msfschaffner commented on #16280
Yeah but wasn't that mostly intended for sim_dv tests? Given that we skip this entirely and backdoor initialize in sim_dv, adding the scrambling key request back to `test_rom` would not impact sim_dv runtimes...

[2022-11-11 23:14] vogelpi commented on #16065
I am closing this now as all the outstanding work items have been addressed. Thanks @vrozic and @andreaskurth !

[2022-11-11 23:14] #16065 closed

[2022-11-11 23:16] tjaychen commented on #16280
o do we skip it compoletely for sim_dv? we can't make rom skip this code right? I thought that's why we maybe did not do it in the assembly so it doesn't kick off an entire stalled process for key update.

[2022-11-11 23:20] weicaiyang commented on #13543
make sense to run with the real ROM. We also want to ensure the real ROM doesn't scramble ret_sram, so that data can be retained across reset.

[2022-11-11 23:20] #16112 closed

[2022-11-11 23:21] #14488 closed

[2022-11-11 23:23] sriyerg commented on #16276
Thanks @martin-lueker!

[2022-11-11 23:28] matutem opened #16281 "[rstmgr] Clarify reset_info bits"
The documentation is pretty vague about most of the reset_info bits. This is an important CSR, so more clarity would be desirable, both about the meaning of each bit, and about their side-effects. Examples of side-effects is whether various resets clear captures, and whether they clear either capture enable bits.

Some possible changes involve moving all must-have bits to lower bit positions, thus

[2022-11-11 23:31] matutem commented on #16281
This could be moved to M3? Setting priority high just to decide if and how we intend to deal with this.

[2022-11-11 23:50] martin-lueker commented on #16063
Hi Andreas,
   Somehow my commentary on this was lost. Trying again.

I'm really surprised that that the functional coverage dropped so much.  Here are my local results from last night:
![image](https://user-images.githubusercontent.com/47870387/201442875-0ed22185-c3e5-4e91-ad63-3883594533fd.png)

With better rate on the `entropy_src_fw_ov` test.   (5 failures as opposed to 7, same errors as befor

[2022-11-11 23:56] weicaiyang commented on #16280
If we want to add key request back, make sure we update TB to use the right key for sram backdoor write.

[2022-11-11 23:57] sriyerg commented on #15483
I reopened #14114 since the test technically is not complete (as described in the testplan) and has this task pending. By reopening that issue, this pending work item will show up in the test development tracking views for M2.

[2022-11-12 00:00] sriyerg commented on #15796
Looks like this test is already developed: https://github.com/lowRISC/opentitan/pull/15725

[2022-11-12 00:05] msfschaffner commented on #16280
no, the real ROM can't skip this, only the test ROM can.

I believe its mostly the SRAM init that takes a long time - the key update should be a bit faster (although OTP needs to churn the digest module for a couple of 100 cycles).

If we do what @weicaiyang says, we could technically request a key, but let the TB initialize its content to make it more speedy.

[2022-11-12 00:14] sriyerg commented on #15796
I am sorry I got confused by the title of PR #15725, which actually addresses #14152. Reassigning it back to myself.

[2022-11-12 00:20] sriyerg commented on #16269
I think there are two things to prove here (especially for the blocks that are strict about this, such as EDN, KMAC, OTBN etc) -

1. Prove all kinds of fatal alerts lead to a local escalation
2. Prove a local escalation kills all FSMs in the design
3. Investigate if there is a path to automation to cover the above bullets

[2022-11-12 01:56] tjaychen commented on #16281
i'll have a quick look to see if there's something i can do, but unfortunately i think there might not be enough time before m2.
can you elaborate a bit on what you think makes sense? The power glitch and other hardware resets actually behave similarly..so is it mainly ndm reset that's a bit different?

[2022-11-12 02:00] #16117 closed

[2022-11-12 02:08] tjaychen commented on #16280
actually the key update could take awhile because you take entropy from the entropy complex right?
That process goes through seed collection from ast, and the ast by default spits out seeds really slowly unless you set certain parameters.

That's why I think maybe we removed this to speed things up.  If we don't do key updates, we also don't do entropy requests.

[2022-11-12 02:42] ctopal commented on #16201
List of things written down in https://github.com/lowRISC/opentitan/pull/16116:
- [ ] genbits has had each bit set and unset at least once
  - We talked about this saying it'll show up in Toggle Coverage numbers (hence no need for FCOV implementation for V2)
- [ ] genbits_vld has seen all 4 possibilities
  - We did not specified this one but this is also an I/O signal and can be observed through T

[2022-11-12 02:45] ctopal commented on #15748
From 10th of November onwards almost all `csrng_cmds` tests fail with a mismatch between scoreboard prediction and actual generated bits. Needs further investigating.

[2022-11-12 07:34] matutem opened #16292 "[dv/pwrmgr] Fix handling of resets"
Add ndm reset stimulus to pwrmgr, and make sure the environment complies with https://docs.google.com/presentation/d/1kDKSQTSYhP-Q9GoQLcmapb00ovSeLP6lZ4l0lBfxW18/edit#slide=id.g16023b4cba7_0_0.

[2022-11-12 07:58] sriyerg commented on #14126
The next steps for this test is documented in comment https://github.com/lowRISC/opentitan/issues/16190#issuecomment-1311261407, in issue #16190. Now that PR #16193 is closed, I am reopening this issue to track progress on those next steps. Reassigning to @bilgiday to take over and complete those steps.

[2022-11-12 08:16] sriyerg opened #16293 "[test-triage] chip_sw_alert_handler_lpg_clkoff"
### Hierarchy of regression failure

Chip Level

### Failure Description

                UVM_ERROR @ 9506.127984 us: (sw_logger_if.sv:522) [alert_handler_lpg_clkoff_test_prog_sim_dv(sw/device/tests/alert_handler_lpg_clkoff_test.c:631)] CHECK-fail: is_cause for alert[46] should be 0 but we got 1
                UVM_INFO @ 9506.127984 us: (uvm_report_catcher.svh:705) [UVM/REPORT/CATCHER]

[2022-11-12 09:12] sriyerg opened #16295 "[dvsim] False pass indicated for a failed jaspergold run"
I ran a formal test but with no access to `jg` tool. The `build.log` reports "Error: jg: command not found`, but dvsim reports a passing run:

[code]

The `pass_rate` in the bottom table is `0.0%`, but the final outcome reported by dvsim on the last line is `P: 1`, which is misleading. I made one fix to address this in commit https://github.com/lowRISC/opentitan/pull/16294/commits/e8e4b24cc09d0203

[2022-11-12 09:15] sriyerg commented on #16295
To reproduce: run
[code]
in a machine in which `jg` is not available.

[2022-11-12 10:18] GregAC commented on #15427
Had a look at this in more detail, only easy assertions to add are just basic connectivity checks that only go down a level or hierarchy or two (within `ibex_top`), though I guess better than nothing: https://github.com/lowRISC/ibex/pull/1924

I think this combined with the `chip_sw_rstmgr_cpu_info` TLT @HU90m mentioned should be sufficient for M2, we can consider more detailed testing for M3 (e.g

[2022-11-12 10:19] GregAC commented on #15427
@msfschaffner @sriyerg please confirm you're happy with the above

[2022-11-12 17:16] arunthomas commented on #11499
Closed by #12671

[2022-11-12 17:16] #11499 closed

[2022-11-13 00:13] tjaychen opened #16296 "[test-triage] chip_padctrl_attributes"
### Hierarchy of regression failure

Chip Level

### Failure Description

  UVM_ERROR @ 2771.229664 us: (i2c_monitor.sv:66) [uvm_test_top.env.m_i2c_agent0.monitor] Check failed r_bit === 1'b0 (0x1 [1] vs 0x0 [0])
  UVM_INFO @ 2771.229664 us: (uvm_report_catcher.svh:705) [UVM/REPORT/CATCHER]
  --- UVM Report catcher Summary ---

### Steps to Reproduce

- GitHub Revision: [6352fed61](https://github.

[2022-11-13 00:15] tjaychen commented on #16296
@weicaiyang @jdonjdon @sriyerg
I think all these failures are very related to #16231.
I'm not sure what the agreed upon fix is, but I do think for chip level you probably need to disable the monitors by default (especially monitors connected to MIOs) and enable them only for the test in question (in this case the i2c tests).

[2022-11-13 09:55] #14497 closed

[2022-11-13 10:05] #14273 closed

[2022-11-13 10:28] #14499 closed

[2022-11-13 12:19] #14494 closed

[2022-11-13 21:53] tjaychen commented on #15227
It turns out nack-ing while fifo full was not considered as part of the original features.
This will be moved to M3 since the focus of M2 is that basic functionality of i2c is present.

There is an effort to slightly restructure i2c's fsm so that nack-ing can be more easily added in the near future.

[2022-11-13 22:19] tjaychen commented on #16178
@eunchan was this one resolved already?
if not, do we want to consider its completion for m3?

[2022-11-13 22:20] tjaychen commented on #16234
this is fixed in #16248

[2022-11-13 22:20] #16234 closed

[2022-11-13 22:23] tjaychen commented on #16067
@dmcardle / @alphan are we okay to move this to M3?
I think we've figured out there is no immediate breakage after the adapter delay, the rest I'm hoping is something we can clean up but doesn't have to be M2 blocking.

let me know what you think.

[2022-11-13 22:24] tjaychen commented on #16208
we do need to do something for this one because i think a similar reason is causing failures in #16296

[2022-11-13 22:29] tjaychen commented on #15170
@jdonjdon this all sounds good to me.
I think we should move this item to M3. Most of the items are not meant to be completed by M2.

Let me do that for now, please let me know if you object.

[2022-11-13 22:30] tjaychen commented on #16158
will be fixed by #16298, which is a companion documentation fix to a slate of clock stretching issues.

[2022-11-13 22:31] jdonjdon commented on #16208
@tjaychen I think the consensus was leave en_monitor = 1 as default and
disable on each test.
I can fix #16296

[2022-11-13 22:33] tjaychen commented on #16208
sounds good. I personally still think it should be the other way around since so few tests make use of `i2c monitor`... but whatever you guys think works should do.

[2022-11-13 23:28] tjaychen commented on #14814
@timothytrippel @arunthomas based on what we discussed, we're going to lower the priority of this test to M3 and also V3 (so it doesn't pop up on the dashboard).

Let me know if you disagree.

[2022-11-13 23:39] martin-lueker commented on #16063
`entropy_src_fw_ov` bugs are now fixed by #16301.  `entropy_src_fw_ov` test is now running at 100% (in 300 runs).
Some new errors however are cropping up in `entropy_src_rng` though the pass rate there is high: 97.33%

[2022-11-14 00:00] martin-lueker commented on #16063
In #16302, I've also made the constraint and regression changes mentioned above with the following coverage results.

## Coverage Results

|  Score  |  Block  |  Branch  |  Statement  |  Expression  |  Toggle  |   Fsm   |  Assertion  |  CoverGroup  |
|:-------:|:-------:|:--------:|:-----------:|:------------:|:--------:|:-------:|:-----------:|:------------:|
| 94.71 % | 98.76 % | 96.54 %  |   98

[2022-11-14 00:04] martin-lueker commented on #3512
We don't need this any more closing.

[2022-11-14 00:04] #3512 closed

[2022-11-14 00:08] tjaychen commented on #16281
okay, #16303 i think spiritually addresses the issue here, let me know.
It's mostly a documentation and enum update to better enable DV, so there's no "real" design change.

[2022-11-14 00:09] tjaychen commented on #13248
that sounds good to me.

[2022-11-14 03:54] tjaychen commented on #13307
if it comes to it, i think this is something we can punt to M3.
Our goal for M2 is really just to get all the tests written now..

[2022-11-14 08:08] abdullahvarici commented on #15075
With the PRs #16015 and #16253, the overall pass rate increased to 97% and the overall coverage score increased to 96%. Now I am working on fixing spi_host_stress_all test (pass rate = 64%). I hope it will be completed in 1 or 2 days. @johngt

[2022-11-14 09:35] #16201 closed

[2022-11-14 09:35] #15742 closed

[2022-11-14 09:47] vogelpi commented on #15748
This has top priority. I've now assigned @marnovandermaas , are you happy to take this one?

[2022-11-14 10:05] andreaskurth commented on #16063
That's fantastic, thanks a lot @martin-lueker! I'll resolve toggle coverage in https://github.com/lowRISC/opentitan/pull/16256 and https://github.com/lowRISC/opentitan/pull/16270.

[2022-11-14 10:13] johngt commented on #16146
To close out V2S we will need this issue and the related https://github.com/lowRISC/opentitan/issues/11315 closed out @martin-lueker . Thanks for all the help so far. Just need these two and then we will be soon able to close out V2 and then V2S

[2022-11-14 10:17] andreaskurth commented on #16238
`INTERSIG.MUBI` and `CONSTANTS.LC_GATED` are covered by https://github.com/lowRISC/opentitan/pull/16310; I'll next address `MAIN_SM.CTR.LOCAL_ESC`.

[2022-11-14 10:26] vrozic commented on #16065
remaining 2022-11-11-14

[2022-11-14 11:03] andreaskurth commented on #15078
Update:
- Pass rate of `spi_host_speed` is back to 100% after the merge of #16015. `spi_host_stress_all` is currently at 64% pass rate; the resolution of this is tracked in https://github.com/lowRISC/opentitan/issues/16014.
- Coverage is >= 90% for all criteria.
- Reviewing cover points / checking for missing cover points: I think this is not necessary for M2 since this module has been signed off

[2022-11-14 11:07] andreaskurth commented on #15075
`spi_host_speed` has been fixed by @abdullahvarici in #16015, so that part is complete.

`spi_host_speed_test` is already being tracked in https://github.com/lowRISC/opentitan/issues/16014, so I suggest @johngt to move the remaining estimate of 4 over there and close this issue.

[2022-11-14 12:36] johngt commented on #16014
Based on @andreaskurth  comment on https://github.com/lowRISC/opentitan/issues/15075 - estimate moved here so that 15075 can be closed out.

[2022-11-14 12:38] johngt commented on #15075
@andreaskurth / @abdullahvarici - I'm adjusting the effort to be 4 lower on this one, with the remaining effort shifted over to https://github.com/lowRISC/opentitan/issues/16014
Closing this issue out.

[2022-11-14 12:38] #15075 closed

[2022-11-14 12:49] johngt commented on #15078
@andreaskurth - I agree that given SPI_Host already passed V2S that getting back up to >90% coverage was the primary focus.
Do we have the cover-point levels for the items above so that I can capture the current status? I'd like to update the checkmark points above with the current levels and then close this out.
We can then close out this issue and have a related V3 issue put in the backlog.

[2022-11-14 12:56] marnovandermaas commented on #16203
Added updates to question 1 and 4 in the main description

[2022-11-14 13:06] andreaskurth commented on #15078
All tests listed in the checkmark points are at 100% pass rates.

[2022-11-14 13:53] johngt commented on #16146
@vogelpi highlighted that for V2 closeout we only need to root-cause the issue, which seems to be the case.
Given that the remaining task here is documentation related (window size is not going to be hard-coded) then I'm happy for it to go down to P2 and for it to be discussed in the V2S meeting as a post V2 task.

[2022-11-14 14:29] johngt opened #16317 "[SPI_Host] Cover points / checking for missing cover points"

[2022-11-14 14:32] johngt commented on #15078
Have created issue https://github.com/lowRISC/opentitan/issues/16317 for reviewing cover points of SPI_Host post M2.
As such believe we can close this out.

[2022-11-14 14:32] #15078 closed

[2022-11-14 14:35] vrozic commented on #16238
I created a draft PR #16316 to address `CONFIG.REGWEN`

[2022-11-14 14:50] #16218 closed

[2022-11-14 15:20] dmcardle commented on #16067
I think we can close this issue!

I checked the last ~15 CI runs since on master since merging #16179, none of them failed because of "Experimental CW310 JTAG Jobs".

@tjaychen I'm not actually sure what's left to clean up, but I'll move this issue to M3 and let you either close it or file a followup issue :)

[2022-11-14 15:34] #14484 closed

[2022-11-14 16:00] marnovandermaas commented on #15748
This specific comment has now been fixed with: https://github.com/lowRISC/opentitan/pull/16322

Next step is to check coverage level.

[2022-11-14 16:10] tjaychen commented on #16146
yeah i agree, let's do that.

[2022-11-14 16:12] tjaychen commented on #16067
@a-will has pointed out that the constraints for JTAG don't look great on fpga (and quite possibly asic), so that is still something to clean up.  Let me file that as a separate issue though since I don't want to hijack this one.

Then let's close this!

[2022-11-14 16:12] #16067 closed

[2022-11-14 16:14] tjaychen opened #16323 "[top] Clean up FPGA / synthesis constraints for JTAG"
The jtag constraints for fpga / synthesis deserve a second look.
On jtag specifically the `tdi/tdo` don't have an explicit relation defined to the clock, and the create clock point is also done inside the device instead of the pad, possibly missing some of the insertion delays.  This might not be super easy to clean-up because jtag is on muxed pins, but it is worth a second look.

[2022-11-14 16:37] vogelpi commented on #15748
Nice work @marnovandermaas , now we should check the impact of this fix on coverage. I'll kick off a coverage in about 30min.

[2022-11-14 16:44] marnovandermaas commented on #15748
I've started running one locally, but it's taking a while.

[2022-11-14 16:50] tjaychen commented on #16146
@martin-lueker / @moidx do we have to have the option be configurable? Because I'm not entirely certain we even need to revisit this for M3 now.

[2022-11-14 16:53] martin-lueker commented on #16146
That is the question, and if no, then the only thing to do is to reconfigure the register so that the module doesn't break (or breaks in predictable ways) if someone tries to change the config

[2022-11-14 17:03] eunchan commented on #16178
Done. Let me close this.

[2022-11-14 17:03] #16178 closed

[2022-11-14 17:04] tjaychen commented on #16146
so i think if 384 is the thing we have decided to stick with, then it probably needs to go into the software guidance.
We can probably add input checks on the dif side as well.

I feel like the boot mode entropy especially, is going to be more or less hardwired by ROM, so there's not really a case where someone else is going to change it imo.

[2022-11-14 17:04] moidx commented on #16146
I prefer if we use wording that doesn't make this a transient issue. Agreed we can add checks to the dif and software implementation guidelines.

[2022-11-14 17:10] andreaskurth commented on #15743
Taking current `master` (034eaeadf) with #16322 (test fix) and #16321 (AES coverage exclusion) applied, we currently get

|  Score  |  Block  |  Branch  |  Statement  |  Expression  |  Toggle  |   Fsm   |  Assertion  |  CoverGroup  |
|:-------:|:-------:|:--------:|:-----------:|:------------:|:--------:|:-------:|:-----------:|:------------:|
| 93.42 % | 96.07 % | 90.25 %  |   96.54 %   |   90.83

[2022-11-14 17:20] vogelpi commented on #15748
@andreaskurth was faster and posted the results in the coverage issue already: https://github.com/lowRISC/opentitan/issues/15743#issuecomment-1314097805

[2022-11-14 17:58] marnovandermaas commented on #15748
OK, shall we close this issue since the remaining coverage work is tracked in https://github.com/lowRISC/opentitan/issues/15743?

[2022-11-14 18:10] msfschaffner commented on #15427
That sounds good to me.

[2022-11-14 18:21] marnovandermaas opened #16326 "[csrng] Fix FIFO error testing"
Currently it is unclear whether the FIFO error tests are forcing a bit in the error code register instead of setting the FIFOs to full/empty/illegal and checking whether the error propagates correctly.

Besides this we need an assert that makes sure that if one of the SFIFO bits in the error code are set (15-0) that also one of the FIFO error types are set (30-28). Additionally, we need a cross be

[2022-11-14 18:21] weicaiyang commented on #16183
All AIs are addressed

[2022-11-14 18:21] #16183 closed

[2022-11-14 18:23] ctopal commented on #15745
I think we can close this one out as we are already started editing the codebase.

[2022-11-14 18:23] #15745 closed

[2022-11-14 18:45] cdgori commented on #16323
It's important to have these constrained, if just to make sure hold time is met when the shift chain is implemented.  The missing insertion delay could cause a surprise in post-layout timing too.

We should be able to constrain tdi/tdo under case_analysis to handle the muxing (I am probably speaking out of turn by suggesting this since I'm almost certainly not the one who has to figure out the cas

[2022-11-14 18:57] weicaiyang commented on #16271
I can take this one if no one is working on it.

[2022-11-14 19:42] tjaychen commented on #14158
since the actual instantiation of the flash model has been pushed to M3, it seems only reasonable to push this test to M3 as well.
@a-will / @weicaiyang let me know disagree, I'll make the change first.

[2022-11-14 19:58] alphan commented on #16278
SGTM, thanks for capturing this @dmcardle !

[2022-11-14 20:03] weicaiyang commented on #16296
I found we have 2 kinds of DUT - interface connection. We may need to treat them differently.

1. single direction, like uart. We can rely on the enable flag `__enable_uart`. Once it's off, we disconnect the interface with DUT IO as well as assigning an idle value to silence the monitor. When `__enable_uart` is off, we also keep the monitor on.
` assign uart_if.uart_tx = __enable_uart[i] ? mios[As

[2022-11-14 20:06] weicaiyang commented on #14158
oh, I mentioned we need to postpone this test in a PR too, but I forgot to update this issue. Thanks for the update.

[2022-11-14 20:09] tjaychen commented on #14158
thanks for confirming @weicaiyang !

[2022-11-14 20:12] vogelpi opened #16330 "[entropy_src] V2S review action items"
We just had the V2S review meeting today. The review notes can be found [here](https://docs.google.com/document/d/1jOz1VpWgqUagamhGgiQArTXN5F5aUmqjVIb2kOineis/edit#). The following action items have been identified:

- [x] V2 sign-off, all V2 AIs are done, see  #16308 -> @martin-lueker
- [x] Re-trigger FPV sec_cm tests to update [dashboard](https://reports.opentitan.org/hw/top_earlgrey/formal/sec_

[2022-11-14 20:22] sriyerg commented on #16296
There is already an internal mux inside `i2c_if`:
https://github.com/lowRISC/opentitan/blob/79301a5f799c7738afd74b26239291883427f56b/hw/dv/sv/i2c_agent/i2c_if.sv#L23

A yet another mux in `chip_if` will make things confusing. IMO it would be great if agents handled it internally. Since the "drivability" is already conditioned on the internal mux select. All we need is a condition on the monitoring

[2022-11-14 20:37] sriyerg commented on #14149
I am working on this test now. I will consider merging the intent of this test into the existing `chip_rv_dm_ndm_reset_req` test.

[2022-11-14 20:40] sriyerg opened #16331 "[pwrmgr dv] Move logic that resets the scoreboard data structures to the scoreboard"
Could we instead move this function to the scoreboard? the scoreboard can spawn off a thread that detects a reset event and invokes this function.

IMO it would be better to not introduce a cyclical lookup (scoreboard already references `cfg`). Plus, the list of things to reset here could easily go stale if / when more data structures are added. It will be good if the `cfg` class didn't have to kn

[2022-11-14 20:52] sriyerg commented on #16208
It is beneficial to add a config knob to enable / disable the monitor at runtime generally for all agents. In my comment above, I suggested adding it to the base class `dv_base_agent_cfg`. If we put it there, then it would have to default on to avoid churn for the blocks level testbenches.

Plus, the muxed interfaces issue is a chip level design artifact, so we can simply turn the I2C monitor off

[2022-11-14 20:54] sriyerg commented on #16271
@weicaiyang, note that the fix for https://github.com/lowRISC/opentitan/issues/16208 may clash with your changes that address this fix.

[2022-11-14 21:05] tjaychen commented on #16208
that sounds good to me.

[2022-11-14 21:50] msfschaffner commented on #16159
Good catch, thanks @bilgiday!

I have checked the remaining IPs, and the `usbdev` seems to be the only one that has this bug.

Fixed here: #16334

[2022-11-14 22:17] bilgiday opened #16336 "[chip-test, dv] Enhance chip_sw_alert_handler_lpg_clkoff"
Per https://github.com/lowRISC/opentitan/pull/16305#issuecomment-1314452844,

Enhance the test to check if the ping mechanism works correctly when multiple clocks are turned off at the same time.

[2022-11-14 22:21] sriyerg commented on #16293
This is fixed by PR https://github.com/lowRISC/opentitan/pull/16305.

[2022-11-14 22:40] cindychip commented on #16268
All items are done, just wait for coverage to reach 90%.

[2022-11-14 22:40] #16268 closed

[2022-11-14 22:54] tjaychen commented on #15132
This is no longer true, these registers are being used as part of i2c stretch fixing.
Closing.

[2022-11-14 22:54] #15132 closed

[2022-11-14 23:13] eunchan opened #16338 "[usbdev] Make IP reset to reset `usbdev_aon_wake` too"
Related issue: https://github.com/lowRISC/opentitan/pull/16337

CC: @tjaychen @msfschaffner @a-will

[2022-11-14 23:16] weicaiyang opened #16339 "[spi_device] SPI pass-through does not support mode 3"
**TLDR;** SCK doesn't return to idle for filtered commands in mode 3

I found we didn't set phase/polarity correctly in the device side of the SPI agent. When I tried to fix it, this issue came up.

In this waveform, the first sck is driven by host. The 2nd sck is what downstream sees. The `en_latch` is set too late and downstream misses the first falling edge of sck.
The `en_latch` is affected by

[2022-11-14 23:27] jdonjdon commented on #16296
This is fixed in #16333

[2022-11-14 23:27] #14495 closed

[2022-11-14 23:35] sriyerg commented on #16296
It is preferred to close `test-triage` issue only after it shows up as passing in the next nightly run.

[2022-11-14 23:41] a-will commented on #16338
We actually don't want these to be reset together: https://github.com/lowRISC/opentitan/pull/16337#issuecomment-1314552609

[2022-11-14 23:41] #16338 closed

[2022-11-14 23:57] cindychip commented on #16154
Hey @GregAC, are you still working on this or do you want to release the issue?

[2022-11-14 23:58] tjaychen commented on #14145
As discussed, this issue will be postponed to post M2.

[2022-11-14 23:59] sriyerg commented on #16208
Reassigning back to @yehuda-bejar. I believe @jdonjdon's PR #16333 addresses both concerns. PTAL and let us know if there are more fixes needed.

[2022-11-14 23:59] tjaychen commented on #14746
postponed to post M2, see #14145

[2022-11-14 23:59] cindychip opened #16342 "[test-triage] chip_sw_alert_handler_lpg_clkoff"
### Hierarchy of regression failure

Chip Level

### Failure Description

0.chip_sw_alert_handler_lpg_clkoff.3878308609
Line 509, in log /container/opentitan-public/scratch/os_regression/chip_earlgrey_asic-sim-vcs/0.chip_sw_alert_handler_lpg_clkoff/latest/run.log

  UVM_ERROR @ 10788.306084 us: (sw_logger_if.sv:522) [alert_handler_lpg_clkoff_test_prog_sim_dv(sw/device/tests/alert_handler_lpg_clkof

[2022-11-15 00:00] tjaychen commented on #15028
postponed to post M2, see #14145

[2022-11-15 00:01] cindychip commented on #16028
hey @msfschaffner are you working on it or do you want to release this issue :)

[2022-11-15 00:01] weicaiyang commented on #14330
@timothytrippel This test still fails with this error. Can you take another look?

Line 486, in log /container/opentitan-public/scratch/os_regression/chip_earlgrey_asic-sim-vcs/0.chip_sw_coremark/latest/run.log

  UVM_ERROR @ 22018.182637 us: (chip_sw_base_vseq.sv:237) uvm_test_top.env.virtual_sequencer [uvm_test_top.env.virtual_sequencer.chip_sw_base_vseq] SW TEST TIMED OUT. STATE: SwTestStatusIn

[2022-11-15 00:02] tjaychen commented on #11492
@msfschaffner @jeoongp i think it would be good to work on getting #16245 merged.
Even if not all the waivers are complete, merging it will allow this issue to be closed and others to have a common part to help with the waiver process.

[2022-11-15 00:03] #16281 closed

[2022-11-15 00:06] hcindyl opened #16343 "[dv, dpi] UART logfile location can't be specified via chip_sim.core"
UART log file location supposedly can be set via dv plusarg with https://github.com/lowRISC/opentitan/blob/37529086399d5e328bdc814175167e76fcd0437d/hw/dv/dpi/uartdpi/uartdpi.sv#L41

And its setting should be configurable via
https://github.com/lowRISC/opentitan/blob/37529086399d5e328bdc814175167e76fcd0437d/hw/top_earlgrey/dv/verilator/chip_sim.core#L61-L64

Aside from the typo of `UART_LOG_uart0`

[2022-11-15 00:07] hcindyl commented on #16343
@sriyerg @vogelpi could you please take a look?

[2022-11-15 00:08] cindychip commented on #15788
@msfschaffner  Hey michael, is this task marked to M3 or `TEST Triage`?

[2022-11-15 00:08] tjaychen commented on #14330
i'm honestly not sure this test can finish in a reasonable DV window... haha.
I hope the test hasn't locked up or something...

[2022-11-15 00:12] cindychip commented on #15679
Hey @HU90m are you still working on this? Is there anything we can help with?

[2022-11-15 00:17] tjaychen commented on #15788
this should probably be M3. This isn't a functional issue per se, nor does there need to be a new test.
More of a test / driver update (where appropriate) to disable the icache prior to running crypto commands on ibex.

[2022-11-15 00:46] vogelpi commented on #16238
I've pushed a PR to verify CTRL.MUBI here: #16344

Also, I've updated the remaining efforts in the first comments. Thanks everybody for having provided updates and of course PRs ;-)

[2022-11-15 01:51] #16060 closed

[2022-11-15 01:54] matutem commented on #13248
More recent developments: I uncommented the assertions that were commented out in https://github.com/lowRISC/opentitan/pull/13095, and got no rstmgr failures with a full regression. This means we have no cause for concern regarding these assertions, and it is safe to make this an M3 issue.

[2022-11-15 02:29] #16159 closed

[2022-11-15 02:40] tjaychen commented on #13307
fixed by #16324

[2022-11-15 02:40] #13307 closed

[2022-11-15 02:42] tjaychen commented on #16137
this has been passing for last several nightly, including monday. closing.

[2022-11-15 02:42] #16137 closed

[2022-11-15 02:42] #15980 closed

[2022-11-15 02:43] #15435 closed

[2022-11-15 02:55] msfschaffner commented on #11492
Indeed, we should get that one merged. Looks like the only outstanding issue is that hardcoded path.
CI failures seem intermittent.

[2022-11-15 03:18] tjaychen opened #16349 "[i2c] Agent setup time check"
@a-will pointed out a scenario in the current i2c stretch fixes that should have caused a setup violation.
The case is specifically when the device goes from address stretching into transmit directly.  We need to investigate a bit why the setup time violation wasn't caught.

The agent added an oversampling around the setup window to handle this, and it did catch some errors, so I don't know why th

[2022-11-15 04:59] msfschaffner commented on #16028
Yeah I am currently looking into it. I think I know what might be the issue. Will create a draft PR shortly.

[2022-11-15 07:30] timothytrippel commented on #16280
sorry late to the discussion here, but yes it was removed in #9316 and subsequently updated in #11857.

[2022-11-15 07:38] tjaychen commented on #16280
aha! so we have come full circle.  Thanks @timothytrippel

[2022-11-15 09:24] vogelpi commented on #11315
Closing as entropy_src is now V2.

[2022-11-15 09:24] #11315 closed

[2022-11-15 09:50] sriyerg commented on #16343
Over to @cfrantz, since this flow is predominantly used by the SW team.

[2022-11-15 10:36] alphan commented on #10970
SGTM

[2022-11-15 10:43] marnovandermaas commented on #15744
We need coverage of the handshake between EDN and CSRNG as well as CSRNG and entropy source.

[2022-11-15 10:54] alphan opened #16352 "[test] Add a ROM e2e test with default OTP values (all zeroes) in TEST_UNLOCK with execution enabled."
This reminds me: we should probably add a simple boot test with all default OTP values in TEST_UNLOCKED.

_Originally posted by @alphan in https://github.com/lowRISC/opentitan/issues/16192#issuecomment-1315136765_

[2022-11-15 11:31] johngt commented on #14505
@tjaychen / @mwbranstad I'm trying to go through older issues that may have an impact on M2.
This discussion potentially has impact on RTL so would just like an update here on if there are changes here that will need to go into the Engineering Sample and as such should be worked on.
Also flagging for attention of @andreaskurth / @vogelpi

If this is not urgent I'll tag it explicitly as M3.

[2022-11-15 11:34] drewmacrae commented on #15788
Sorry, looks like, I didn't update the tags after performing the triage.

[2022-11-15 11:35] johngt commented on #13342
@moidx - given that this was tagged as M3, I'm changing the dev stage to V3.
If though we want an RTL change late into the day then we will need to make it a P0/P1 issue. Based on the discussion though it looks like it will be a document only approach.

[2022-11-15 11:37] johngt commented on #10738
@moidx / @cdgori / @tjaychen - slightly older issue here, but just checking if this should be in M2?
I'm tagging as M3 but if this was something that needed to go in please change it back.

[2022-11-15 11:40] johngt commented on #15947
This one slipped the radar as it was tagged as M3.
@vogelpi / @andreaskurth - could you please respond to @cindychip 's questions.
If there is something that we need to do related to CSRNG for M2 coming out of this please tag me again and we will change to M2 etc.

[2022-11-15 11:48] johngt opened #16353 "[test-triage] rom_keymgr_functest timeout"
### Hierarchy of regression failure

Chip Level

### Failure Description

[code]

### Steps to Reproduce

- GitHub Revision: [47d4bfa34](https://github.com/lowrisc/opentitan/tree/47d4bfa34b424d29fcaf2d13e2a64ce1bd815ec7)
- dvsim invocation command to reproduce the failure, inclusive of build and run seeds:
  ./util/dvsim/dvsim.py hw/top_earlgrey/dv/chip_sim_cfg.hjson -i rom_keymgr_functest --build

[2022-11-15 11:50] johngt commented on #16353
This test is failing consistently with timeouts.
Would suggest increasing the timeout and seeing if this then passes once that has been increased.

|     | Tests               |   2022-11-14 08:10:42 |   2022-11-13 08:12:54 |   2022-11-12 08:04:45 |   2022-11-11 08:07:48 |   2022-11-10 08:10:06 |   2022-11-09 08:04:06 |   2022-11-08 08:03:42 |   2022-11-07 08:08:10 |   2022-11-06 07:11:02 |   2022

[2022-11-15 11:57] ballifatih commented on #16353
Correct me if I'm wrong, but I think that this is fixed by #16340. I think since we just merged it yesterday, it hasn't passed through the nightly yet.

[2022-11-15 11:58] johngt commented on #14330
The timeout was upped to 3hrs according to the PR that @timothytrippel set. This seems a very long time for coremark to need to run. Might be worth trying this in a local environment and check that there are no settings that are causing this to run an infinite amount of times and waiting for user input etc.

[2022-11-15 11:59] GregAC commented on #16154
No progress yet so happy to release it.

[2022-11-15 12:05] johngt commented on #14164
@jeoongp / @msfschaffner / @tjaychen - highlighting a test that now seems to be implemented - it's shown up in the nightlies recently but not yet passing. If this issue is duplicated by a more recent issue please just comment on the issue that duplicates this and close this issue.

|     | Tests                                          |   2022-11-14 08:10:42 |   2022-11-13 08:12:54 |   2022-11-12

[2022-11-15 12:08] johngt opened #16354 "[test-triage] chip_sw_sleep_pwm_pulses"
### Hierarchy of regression failure

Chip Level

### Failure Description

[code]

### Steps to Reproduce

- GitHub Revision: [47d4bfa34](https://github.com/lowrisc/opentitan/tree/47d4bfa34b424d29fcaf2d13e2a64ce1bd815ec7)
- dvsim invocation command to reproduce the failure, inclusive of build and run seeds:
  ./util/dvsim/dvsim.py hw/top_earlgrey/dv/chip_sim_cfg.hjson -i TEST_NAME --build-seed 4006

[2022-11-15 12:10] johngt commented on #16354
Recently the nightlies have started to not fully succeed. Last 3 nights have shown partial success.

|     | Tests                    |   2022-11-14 08:10:42 |   2022-11-13 08:12:54 |   2022-11-12 08:04:45 |   2022-11-11 08:07:48 |   2022-11-10 08:10:06 |   2022-11-09 08:04:06 |   2022-11-08 08:03:42 |   2022-11-07 08:08:10 |   2022-11-06 07:11:02 |   2022-11-05 07:11:23 |   2022-11-04 07:12:05 |

[2022-11-15 12:15] ballifatih commented on #16353
Also linked to ##16060 (for visibility).

[2022-11-15 12:18] ballifatih commented on #14193
Removing myself from the assignment, as I don't think I will be working on this soon.

[2022-11-15 12:18] johngt commented on #13543
Note - based on the linked #16280 from @msfschaffner Tim's comment: https://github.com/lowRISC/opentitan/issues/16280#issuecomment-1314898265
TimT: ...it was removed in https://github.com/lowRISC/opentitan/pull/9316 and subsequently updated in https://github.com/lowRISC/opentitan/pull/11857

[2022-11-15 12:21] johngt commented on #13543
@engdoreis is OoO so unassigning this for now, in case anyone can pick this up. Adding planned assignee.

[2022-11-15 12:26] johngt commented on #15911
Unassigning @engdoreis for now as he is OoO. If this is not picked up, I'll reassign to him on his return next week.

[2022-11-15 12:38] johngt commented on #16353
Thanks @ballifatih ! Let's leave this issue open for 3 regression runs and hope that the fixes resolve the issues

[2022-11-15 12:55] vogelpi commented on #14505
Thanks @johngt , I think this is a very interesting topic but certainly infeasible for M2. This would require RTL changes and DV effort. Let's tag it as M3 for now.

[2022-11-15 13:04] moidx commented on #14505
This was originally labeled as future release, so probably not even for M3. Most future release issues are been assigned to the backlog milestone.

[2022-11-15 13:05] moidx commented on #10738
Moving to backlog as this was set as future release.

[2022-11-15 13:06] vogelpi commented on #15947
Thanks @johngt, @marnovandermaas had asked a very similar question in #16203.

For CSRNG, it seems that only the 3 LSBs are being looked at at the moment. I agree we should test this and it seems the agent has now support for it thanks to @cindychip . However, I see it much less critical than other things we still need to verify/hit in CSRNG DV for M2. I don't think we get much out of this in term

[2022-11-15 14:19] johngt commented on #14111
@vrozic - just highlighting that this is now unblocked and can be worked on.

[2022-11-15 14:25] johngt commented on #14149
Referencing in https://github.com/lowRISC/opentitan/issues/14145#issuecomment-1314565971 that @tjaychen highlighted. Based on the discussion there about rv_dm work being post M2, this is not an immediate M2 essential task, but @sriyerg is already working on it.

[2022-11-15 14:58] johngt commented on #15764
@bilgiday - just a quick check to see how the work is going on writing this test?

[2022-11-15 14:59] johngt commented on #15765
@bilgiday - an update on the status of writing this test would also be appreciated.

[2022-11-15 15:04] andreaskurth opened #16355 "[csrng] `entropy_src_hw_if_o.es_req` drops before `es_ack` when CSRNG is disabled"
When SW disables CSRNG through the [`ENABLE` field of the `CTRL` register](https://docs.opentitan.org/hw/ip/csrng/doc/index.html#Reg_ctrl) while a request from CSRNG to `entropy_src` is not acknowledged yet (i.e., `entropy_src_hw_if_o.es_req == 1'b1 && entropy_src_hw_if_i.es_ack == 1'b0`), CSRNG drops the request and thereby violates the `ReqHighUntilAck_A` assertion of `push_pull_if`: https://git

[2022-11-15 15:07] johngt commented on #15033
@dkabely-ot just checking on the status of the writing of this test?

[2022-11-15 15:09] johngt commented on #14815
@tjaychen / @msfschaffner - based on comment https://github.com/lowRISC/opentitan/issues/14814#issuecomment-1312852161 should this also be moved to post M2?
Otherwise we will need an update on the status of this from @yehuda-bejar

[2022-11-15 15:13] johngt commented on #14474
@tjaychen / @msfschaffner - should there be a test that is run on the nightly for this, like there is for say rom_e2e_shutdown_exception_c and rom_e2e_smoke ? I'm a little less familiar with the ROM testing, but currently this is showing as an unimplemented test in the nightly regression tracker.

[2022-11-15 15:33] arunthomas commented on #14474
@johngt Adding the ROM E2E tests to nightly regressions is being tracked in #14634

[2022-11-15 15:50] martin-lueker commented on #16355
I understand your point.   This exception is here (IIUC) because in _most_ cases it would be considered very bad if a sample were dropped.   Looking at the `entropy_src` RTL closely, I believe that is also the biggest risk in this case.   In this application we really don't care, though.  The `entropy_src` drops seeds _all the time_ as it is required to be health checking the input data even if th

[2022-11-15 15:52] martin-lueker commented on #16355
Action item to be taken in M3: confirm in Unit sims that CSRNG request drops really don't effect entropy_src behavior.

[2022-11-15 15:52] ballifatih commented on #16154
I suspect the test is broken due to new assertions added by #16080 to `pwrmgr_ast_sva_if`. If I understand correctly, `CoreClkGlitchToEnOff_A` expects `pwr_ast_o.core_clk_en` to be pulled down 0 to 20 `clk_slow_i` cycles after reset. The test proceeds for a while before this happens and then this assertion times out and fails.

![image](https://user-images.githubusercontent.com/7850700/201963647-0

[2022-11-15 15:54] martin-lueker commented on #16355
Or to be more precise: that request drops do not lead to a latch up of `entropy_src`.  The `entropy_src` will most definitely drop a seed in this case, such an event is harmless.

[2022-11-15 15:58] bilgiday commented on #15765
@johngt, it is almost done. There is an active PR, I already got 2 approvals. After addressing a few comments and verifying that DV sim passes, it can be merged. I expect this to be merge-ready by EOD.

[2022-11-15 15:59] bilgiday commented on #15764
@johngt This is a work in progress. I plan to submit an initial PR today to get initial feedbacks.

[2022-11-15 16:15] tjaychen commented on #14111
there is one more PR currently in review #16304 that helps improve the stability and function of the i2c agent.
Please sync up with @jdonjdon for more details.

[2022-11-15 16:17] bilgiday opened #16356 "[chip-test, dv] Investigate alert 37 on FPGA"
In #16062, I was not able to clear the alert_cause_37 register on FPGA. The DV sim part was ok.

I would like to investigate this to figure out the root cause.

[2022-11-15 16:21] tjaychen commented on #14505
yeah what's described here i think would be a fairly substantial change of csrng. I dont think it's something we should try to take on for M3.

[2022-11-15 16:21] tjaychen commented on #14815
i think the one that was lowered is the max power concurrency test, but the not the idle load one.

[2022-11-15 16:25] tjaychen commented on #16355
@cindychip
@moidx

hi all, the disabling / enabling of the entropy complex has been an often discussed topic.
Where we currently stand is this..

Generally speaking, we do not expect to enable / disable only one of the 3 blocks.  That means entropy_src / csrng / edn in general will be enabled and disabled together.   So **for now**, as long as the disable doesn't permanently damage the blocks abil

[2022-11-15 17:32] cindychip commented on #11489
All items covered. Close this issue

[2022-11-15 17:46] andreaskurth commented on #16355
Understood, thanks @tjaychen and @martin-lueker.

I suggest to resolve this issue as follows:
- [ ] Write the conditions for disabling and re-enabling explicitly into the specification of each module. Is the assumption correct that the disable chain (first to last) is EDN -> CSRNG -> `entropy_src` and the enable chain is the reverse of that? (This has to be taken into account when modeling the res

[2022-11-15 17:57] tjaychen opened #16361 "[i2c] Convert tx_empty interrupt to status interrupt"
This will make it less error prone and the code more streamlined (ie we always fire when we are in stretch empty state).
A couple of bugs have been discovered using the event based interrupt, and it's a little like a wack a mole handling all of them.

[2022-11-15 18:02] tjaychen commented on #16361
@jdonjdon
@a-will

[2022-11-15 18:26] tjaychen commented on #16213
@ballifatih this seems like the same failure as the one you've encountered in #16154 right?

[2022-11-15 18:28] tjaychen commented on #16354
@jdonjdon
@weicaiyang
i think this is probably another one that should be fixed with `monitor_en`.
Should we just mark it as root caused?

[2022-11-15 18:34] jdonjdon commented on #16354
@tjaychen @weicaiyang Let me scan all share io agent to make sure it is properly disabled in chip_env.

[2022-11-15 18:47] tjaychen commented on #11492
closing since #16245 is merged.

[2022-11-15 18:47] #11492 closed

[2022-11-15 19:33] #15538 closed

[2022-11-15 20:00] GregAC commented on #16118
This is addressed by https://github.com/lowRISC/opentitan/pull/16156

[2022-11-15 20:01] #16014 closed

[2022-11-15 20:33] dmcardle commented on #15028
@sriyerg Here are debug logs for the RMA instances of the two tests we chatted about. CC: @timothytrippel and @alphan.

* [rom_e2e_debug_test_otp_rma.log](https://github.com/lowRISC/opentitan/files/10015976/rom_e2e_debug_test_otp_rma.log)
* [sram_program_fpga_cw310_test_otp_rma.log](https://github.com/lowRISC/opentitan/files/10015977/sram_program_fpga_cw310_test_otp_rma.log)

**Caveat 1**: I could

[2022-11-15 20:40] bilgiday commented on #16336
Per the discussion in https://github.com/lowRISC/opentitan/pull/16305#issuecomment-1315763731,

Add an SV check to verify that ping mechanism is active when an IP is clock gated.

[2022-11-15 21:13] vogelpi commented on #16238
At the moment, all CM are verified as part of CSRNG except for the ones inside the AES core. These have already been verified at the AES block level. For now I am unassigning everyone. Tomorrow it will be deciced how we move forward with this.

[2022-11-15 21:15] drewmacrae opened #16370 "rom_e2e_keymgr_init tests in DV"
because are setting the flash image like this, in DV, you need to add the `:ot_flash_binary` tag to the test description [here](https://cs.opensource.google/opentitan/opentitan/+/master:hw/top_earlgrey/dv/chip_rom_tests.hjson;drc=84aaf54d100214bd87212ff697c2f2d5c9013e14;l=309). Also you will need to:
1. update the dv SW image name to match
2. add a separate entry for the OTP SW image name in the `

[2022-11-15 21:19] vogelpi commented on #16326
This is currently being worked on by @ctopal.

[2022-11-15 21:24] vogelpi commented on #15744
We discussed today that this has also high priority. @ctopal has been looking into that. It would be great to get some update tomorrow. :-)

[2022-11-15 21:29] ballifatih commented on #16213
@tjaychen Yes I think the failure is similar (both coming from `pwrmgr_ast_sva_if`). However, I think this test started failing earlier than the one in #16154. Unfortunately, I haven't been able to identify the root cause for the other one yet.

[2022-11-15 21:31] vogelpi commented on #15747
I've now assigned @andreaskurth to this issue as he is doing a large chunk of work to bring FSM coverage up. This requires extending the DV infrastructure and thus best suits here. We need to test the disable/re-enable feature to hit all the transitions from any states into the Idle states of practically all FSM. Without this we can't get FSM coverage much beyond 60% (see #15743 for some more deta

[2022-11-15 21:44] HU90m commented on #14152
Making progress on this test. See the Draft PR https://github.com/lowRISC/opentitan/pull/15725 for the current state of the test.

[2022-11-15 22:14] jdonjdon commented on #16354
This is the same failure as #16296
Fixed by #16333

[2022-11-15 22:22] cindychip opened #16374 "[dv/alert_esc_agent] Handle auto_alert_response in agent"
- [ ] Current auto_alert_response is handled in cip_base_vseq.sv
I think a better place to handle it is directly in alert_esc_agent, so we can avoid to issue that alert_esc_agent and cip_base_vseq has different clock and reset input.

- [x] Separate ping and actual alert and enhance `bypass_alert_ready_to_end_check` in chip level test.

[2022-11-15 23:06] #14501 closed

[2022-11-15 23:09] HU90m commented on #15679
Sorry, I have been trying to close out https://github.com/lowRISC/opentitan/issues/14152 and neglected this issue.

I have only had a quick look at the failure seen in the 2022-11-09 report:

* revision: https://github.com/lowrisc/opentitan/commit/81bde034a7b21e3444342c96555fc63595a03c65
* build seed: 2742335380
* fixed seed: 229071523

The issue appears to be in the `PhaseOverrideOnes` of the tes

[2022-11-15 23:16] msfschaffner commented on #16204
@johngt are you planning to look into this one?

[2022-11-15 23:43] matutem commented on #9314
I am working on adding some more stimulus to the rstmgr_cnsty_chk environment in order to increase coverage to 90%.

[2022-11-16 00:08] martin-lueker commented on #16355
Sounds good with one tiny nit:

I don't think anything would need to be done at Earlgrey top level as the assertion is in the `push_pull_agent`, which does not exist at top.

[2022-11-16 00:49] msfschaffner commented on #14815
Yeah this idle test should be ready soon, see https://github.com/lowRISC/opentitan/pull/15923.

[2022-11-16 00:51] martin-lueker commented on #16017
Hi all,
   My apologies for the delay in response. This document was to be based on a presentation that I gave at the Google Mathilda campus many years ago now, and @cdgori asked me to convert it to Markdown.  It was a fairly straight forward summary of the various classes of RNG generator in AIS31 and SP-800 90A/B/C, listing their correspondences and laying out a strategy for some level of mutual

[2022-11-16 00:52] #16028 closed

[2022-11-16 00:53] timothytrippel commented on #14493
Should this be closed? it seems we still don't test ast init configs? See [here](https://cs.opensource.google/opentitan/opentitan/+/master:sw/host/tests/rom/e2e_chip_specific_startup/src/main.rs;drc=a1284fc01b5a8d6c081d458cdcb37ebb48202ef7;l=49) and [here](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/e2e/BUILD;drc=0b12c2242db75d65ad5201886a4e2ff8d7807933;

[2022-11-16 00:57] msfschaffner commented on #15033
We checked with @dkabely-ot today - the test is almost done (there were a couple of things we worked via Slack to unblock this).

[2022-11-16 00:59] msfschaffner commented on #14164
This test seems to be implemented now - but as you point out it is not passing. The issue is not duplicated - hence we can leave this open until we resolved the problem.

[2022-11-16 01:04] msfschaffner commented on #14164
There appear to be at least two different failure modes:
[code]

[2022-11-16 01:06] ctopal commented on #15744
Overall findings:

In the DV environment we have a transaction level model FIFO for EDN side of the communication named `csrng_cmd_fifo` which is has `NUM_HW_APPS` numbered FIFOs. Each of those FIFOs run a forever loop in parallel forks, waiting for an item generated from m_edn_agent (that is basically driven manually using `add_h_user_data` method for push_pull_agent).

As we are not configuring

[2022-11-16 01:06] msfschaffner commented on #14164
Repro instructions (with [5ebd4769b](https://github.com/lowrisc/opentitan/tree/5ebd4769beae91a2120307212173a951675fc3af)):
[code]

[2022-11-16 01:07] jeoongp commented on #14164
Thanks @msfschaffner. Let me reproduce these cases and see what's wrong

[2022-11-16 01:26] msfschaffner commented on #16017
Sounds good - although that document would be interesting to have on our page.
Maybe we can keep this issue around so that we do not forget in the future.

[2022-11-16 01:43] #14532 closed

[2022-11-16 02:42] vogelpi commented on #15748
I've fixed the csrng_err and csrng_intr tests. With PR #16382 the pass rate should now be nearly 100%.

[2022-11-16 03:26] sriyerg commented on #15796
Test development is now complete. Waves with JTAG DMI accesses before and after escalation reset:

![image](https://user-images.githubusercontent.com/46467186/202075986-392ad8d3-024d-47c9-8e74-656200e4f500.png)

I am running the CSR RW test on the DMI register space via JTAG on a loop. I have reused the SW test from `chip_sw_alert_handler_escalation` test for this test.

[2022-11-16 03:37] msfschaffner commented on #15970
Quick note: I am extending the all escalations test in #16380 and noted that while the SRAM controller correctly returns bus errors when it has escalated locally, Ibex does not read back 0xFFFFFFFF. From looking at the waves, this is not because the SRAM controller does not return 0xFFFFFFFF on bus errors (in fact it does), but because the Ibex LSU prevents writes from being committed to the regis

[2022-11-16 03:39] matutem opened #16384 "[rtl/rstmgr] Fix consistency checker"
The consistency checker should consider either parent_rst_ni or sw_rst_req_i as equally valid reset sources. But the state transitions treat them differently. Both Idle and WaitForParent use mostly sync_parent_rst instead of src_valid, where the latter combines both parent and software reset requests.

It is also weird that parent_rst_ni is both flopped and goes through synchronizers (the latter s

[2022-11-16 03:42] jeoongp commented on #14164
Timeout error was fixed in my local. But, the next error shows up as follows.

UVM_INFO @ 8704.353000 us: ([ast_supply_if.sv:57](http://ast_supply_if.sv:57/)) [ast_supply_if] forcing vcmain_pok_h_o to 1
"../src/lowrisc_dv_pwrmgr_ast_sva_if_0.1/[pwrmgr_ast_sva_if.sv](http://pwrmgr_ast_sva_if.sv/)", 48: tb.dut.top_earlgrey.pwrmgr_ast_sva_if.CoreClkGlitchToEnOff_A: started at 8679353000ps failed at 8

[2022-11-16 03:58] msfschaffner commented on #14164
Ok, thanks for debugging this. Let's fix the timeout for this test and then wait for resolution of https://github.com/lowRISC/opentitan/issues/16154.

[2022-11-16 04:15] #14275 closed

[2022-11-16 04:53] matutem commented on #16384
In software initiated resets the logic only transitions out of Idle when both sw_rst and child reset are valid, so the transition is to the WaitForSrcRelease, which is not subject to the difference between parent and software resets.

This weakens the checks because a software request is effectively ignored until the child reset is active. But if we consider the rstmgr_leaf_rst as a whole the dema

[2022-11-16 05:55] tjaychen commented on #16384
so let me try to explain..at least based on what I remember, and you can let me know if the answer is convincing.
First thing first, the `rstmgr_cnsty_chk` module works off of the `rstmgr` local clock, and not the leaf clock.
So this means the fsm is also in the local clock, and not the leaf clock.  Secondly, the `sw_req_ni` input, is ALSO on the local clock.

The software resets work is that the

[2022-11-16 06:13] tjaychen commented on #16384
one last thing i should add, the rstmgr_cnsty_check module is mostly about checking whether the child has asserted.
so it doesn't actually check for the case right now where the parent has asserted but the child has not...

the two cases i talked about above are meant to cover cdc ambiguity...and i guess that sort of covers parent reset also, although i did not think of it that way.  But taken in

[2022-11-16 09:48] johngt commented on #16204
@msfschaffner spoke with @abdullahvarici and he thinks that if there is someone with more experience that can rapidly close this out it would be preferable for them to look into it. If by the end of the day there is no assignment I'll re-assign back to Abdullah.

[2022-11-16 10:10] andreaskurth commented on #16063
Those two PRs are superseded by #16378. Merging the latter shall close this issue.

[2022-11-16 10:11] johngt commented on #15483
Related PR https://github.com/lowRISC/opentitan/pull/16364

[2022-11-16 10:16] andreaskurth commented on #16064
What is left of this issue is already tracked in #16063; I'm thus closing this issue.

[2022-11-16 10:16] #16064 closed

[2022-11-16 10:41] johngt commented on #14111
Thanks @tjaychen. @vrozic is assisting with CSRNG closeout but intends to work on I2C again this afternoon and will sync up with @jdonjdon to get the latest information to avoid any wasted effort.

[2022-11-16 11:31] andreaskurth commented on #15744
Thanks for summarizing your findings, @ctopal. The functional coverage that comes with `push_pull_agent` is already valuable as first-order measure of how well stalling behavior at interfaces is covered.

However, as those interfaces are connected to FIFOs and arbiters controlled by state machines within CSRNG, I think it's worth adding functional coverage on at least the FIFOs in `csrng_cmd_stage

[2022-11-16 11:40] yehuda-bejar commented on #16208
OK

[2022-11-16 14:22] johngt commented on #7826
@tjaychen / @weicaiyang I think that this is now a legacy issue.
If though we still want to address it we can keep it as a backlog item. Otherwise I suggest just closing it as deprecated.

[2022-11-16 14:36] marnovandermaas opened #16388 "[csrng] State machine error coverage"
There are 5 state machines inside CSRNG, 2 of those have no to very little coverage of the error state transitions. I have found a root cause for this.

For `csrng_cmd_stage` the error state is only reached when `u_prim_count_cmd_gen_cntr` outputs an error. Similarly in `main_sm` the error states are only reached when any of the redundant counter errors are raised. In `main_sm` the idle to error t

[2022-11-16 15:12] bilgiday commented on #15765
@johngt, @johannheyszl  The PR is merged, the test is passing on my local DV and FPGA environment. Waiting for nightly regression result to close the issue.

[2022-11-16 15:12] bilgiday commented on #14126
@johngt, @johannheyszl The PR is merged, the test is passing on my local DV and FPGA environment. Waiting for nightly regression result to close the issue.

[2022-11-16 15:14] bilgiday commented on #15764
@johngt, @johannheyszl Finalizing a PR for this one.

[2022-11-16 15:23] marnovandermaas commented on #16388
The solution would involve extending the `cmd_gen_cnt_err` case in `csrng_err_vseq.sv` to also send commands to the different apps so that they get into interesting states:
https://github.com/lowRISC/opentitan/blob/5050d25832b54ad79f07a48fd26bd2b84bbb8f72/hw/ip/csrng/dv/env/seq_lib/csrng_err_vseq.sv#L125

[2022-11-16 15:41] andreaskurth commented on #15743
Update:
- Most missing coverage is detailed in #16388
- FSM transitions to _Idle_ are related with disabling and re-enabling, which is tracked in #15747
- What remains to be tracked in this issue is functional coverage of `csrng_recov_alert_sts_cg`, where bins `ACMD_FLAG0_FIELD_ALERT`, `CS_BUS_CMP_ALERT`, and `CS_MAIN_SM_ALERT` are currently not getting hit.

[2022-11-16 15:45] johngt commented on #15765
Thanks @bilgiday - We normally wait for 3 passes before closing out the nightly regressions but will come back sooner if there is an issue reported.

[2022-11-16 16:04] Jacob-Levy opened #16392 "[prim] Missing 'dv_macros.svh' include in 'prim_cdc_rand_delay.sv'"
Need to add the include in SIMULATION case, else compilation fails when this file get read first...
[code]
Adding the following include solves the issue.
[code]

@arnonsha @tjaychen

[2022-11-16 16:10] ballifatih commented on #15530
Cross referencing an earlier (closed) issue that somewhat touched the same problem #14638, in case the discussions there might also be useful for later.

[2022-11-16 16:38] marnovandermaas commented on #16388
During the V2S meeting, it was suggested to that we also make a change to the FSM code similar to EDN: https://github.com/lowRISC/opentitan/pull/16307

[2022-11-16 16:52] alphan opened #16394 "Improve dif_otp_ctrl_read_blocking()"
This interface is non-ideal since our generated constants are relative to the start of the memory mapped window, not individual partitions. We should probably just remove the partition parameter from this function and perform the addition, if needed, at callsites.

_Originally posted by @alphan in https://github.com/lowRISC/opentitan/pull/16391#discussion_r1024260468_

[2022-11-16 17:26] jeoongp commented on #14164
SG. The timeout error is fixed in https://github.com/lowRISC/opentitan/pull/16395.

[2022-11-16 18:02] andreaskurth opened #16402 "[csrng] V2S review action items"
We just had the V2S review meeting for CSRNG today. The notes can be found [here](https://docs.google.com/document/d/1ydyVdA8c1CFU32qeYkVot03r2pWYqGNiJCBRovtD5vc/edit). The following action items have been identified:
- [x] AES CM verification: Extend the existing test (which forces one of the three FSM copies into an illegal state) to trigger the alert for each of the five remaining CMs. The idea

[2022-11-16 18:34] msfschaffner commented on #7826
Let's keep this as a backlog issue for now. We have some other enhancement issues for FIFOs like MUBI encoded handshakes, so we may want to go through these enhancement suggestions sometime in the future.

[2022-11-16 18:44] msfschaffner commented on #15481
The remaining action items above all affect toggle coverage.
Since that is already above 90%, the suggestion is to move this issue to V3/M3.

CC @sriyerg

[2022-11-16 19:00] matutem commented on #16384
We can revisit this post M2. Moving it to M3.

[2022-11-16 19:02] msfschaffner commented on #15970
The action items have now all been resolved, so we can close this issue.

[2022-11-16 19:02] #15970 closed

[2022-11-16 19:35] weicaiyang commented on #7826
Agree with @msfschaffner, let's revisit this later.

[2022-11-16 19:47] andreaskurth commented on #16355
Re-assigning to myself to complete the identified action items.

[2022-11-16 20:38] martin-lueker commented on #16063
FYI #16378 is merged.

[2022-11-16 20:39] #16292 closed

[2022-11-16 20:44] #14152 closed

[2022-11-16 21:35] msfschaffner commented on #16204
@weicaiyang mentioned that he can take a look at this in the meantime.

[2022-11-16 22:08] #16392 closed

[2022-11-16 22:11] dmcardle opened #16406 "Proposal: Create bisect tool that is aware of bitstream cache"
Given a pair of commits and a test command, [git bisect](https://git-scm.com/docs/git-bisect/) can find the first bad commit in logarithmic time. This is a generally useful capability for developers, and possibly worth automating for nightly regressions. However, there are a few gotchas surrounding the bitstream cache. Consider the following methods of obtaining bitstreams:

* Testing with [`--def

[2022-11-16 23:35] ballifatih opened #16410 "[cryptolib] KMAC driver progress tracking"
With #16180, KMAC driver implements SHA-3/SHAKE/cSHAKE/KMAC, however there is still a list of improvements to be done. The idea is to keep track of these small issues and address them in follow-up PRs.

Non-exhaustive list, in an arbitrary order:

- [ ] Revisit default configuration. In particular check that internal timer values are working. https://github.com/lowRISC/opentitan/pull/16180#discuss

[2022-11-16 23:44] msfschaffner commented on #15076
@johngt do you still expect to resolve this by M2?

[2022-11-16 23:51] msfschaffner commented on #16118
Looks like the associated PR has been merged, so I am closing this.
Please reopen if there is still some work pending.

[2022-11-16 23:51] #16118 closed

[2022-11-17 00:07] cindychip commented on #15679
Thank you for the information @HU90m
I think @weicaiyang mentioned something about the flash_wait function (the pseudo write should happen at everytime ibex compare data, not just the first time), I will try something on my end and update in this thread.

[2022-11-17 00:13] sriyerg commented on #15481
We decided to merge coverage across nightlies which will have different build constants, which is an M3 task.

[2022-11-17 00:49] a-will opened #16411 "[spi_device] Incoming address size cannot be validated"
In flash/passthrough modes, the spi_device IP does not give any indication of how long the transaction actually was, so transactions using the wrong address mode may pass through. This might only be of interest for invalidating shortened Sector Erase transactions, where 3 bytes of address was provided when the address mode required 4 bytes of address.

This is tagged for a future release. It falls

[2022-11-17 00:58] bilgiday commented on #16293
Closing this as this is resolved and the test is passing in the latest nightly regression https://reports.opentitan.org/hw/top_earlgrey/dv/latest/report.html

[2022-11-17 00:58] #16293 closed

[2022-11-17 00:59] bilgiday commented on #16342
PR #16305 resolved this one. Closing this as this is resolved and the test is passing in the latest nightly regression https://reports.opentitan.org/hw/top_earlgrey/dv/latest/report.html

[2022-11-17 00:59] #16342 closed

[2022-11-17 01:05] jeoongp opened #16412 "[CDC|SPI_DEVICE] CDC violation in rv_dm"
A CDC violation is detected in rv_dm by the tool as follows.
A signal from main_clk is used for mux select between io_div2_clk signal and io_div4_clk signal.
I am not clear if it's a static path or actual violation.
![Screen Shot 2022-11-16 at 5 01 03 PM](https://user-images.githubusercontent.com/103145460/202328676-c77fb597-ad8c-40d1-8af2-a886f4cb8aab.png)

![Screen Shot 2022-11-16 at 5 02 24 PM]

[2022-11-17 01:06] bilgiday opened #16413 "[test-triage] chip_sw_alert_handler_sleep_mode_pings"
### Hierarchy of regression failure

Chip Level

### Failure Description

[code]
This is related to PR #16062. It seems there was a problem with a few lines of the C code. Trying a fix on my local environment. Running with `reseed: 10` to make sure I get %100 coverage.

I will submit a new PR and update the issue.

### Steps to Reproduce

./util/dvsim/dvsim.py hw/top_earlgrey/dv/chip_sim_cfg.hjson

[2022-11-17 01:06] bilgiday commented on #16413
@msf, @cindychip, @sriyerg, just FYI. I am working on it: A few lines of fix in the C file.

[2022-11-17 01:34] eunchan commented on #16412
lc_en is mubi4 type. If `prim_mubi4_sync` module is used as the synchronizer, it is fine for reconvergence issue.

[2022-11-17 01:44] msfschaffner commented on #16412
This signal has similar functionality as the `lc_hw_debug_en_i` signal on this module.
I.e., this is the latched version coming from the pinmux strap sampling logic via `pinmux_hw_debug_en_i`.
This uses the `prim_lc_sync` synchronizer module and the signal should be quasi-static just as  `lc_hw_debug_en_i`.
Hence it should be ok to waive.

[2022-11-17 01:55] weicaiyang commented on #16204
I ran a test and checked the waves.
I see the rsp is received by driver correctly. However, rsp is randomized with a fixed size data [here](https://cs.opensource.google/opentitan/opentitan/+/master:hw/dv/sv/spi_agent/seq_lib/spi_device_cmd_rsp_seq.sv;l=90?q=rsp.data.size&ss=opentitan%2Fopentitan:hw%2F), but it may not be able to return all the data, as host could de-assert the CSB before device fi

[2022-11-17 02:22] jeoongp commented on #16412
Thanks for confirmation

[2022-11-17 02:22] #16412 closed

[2022-11-17 04:36] #14149 closed

[2022-11-17 04:36] #15796 closed

[2022-11-17 05:14] weicaiyang opened #16416 "[test-triage] chip_sw_sram_ctrl_scrambled_access"
### Hierarchy of regression failure

Chip Level

### Failure Description

      Offending 'alert_tx_o[2].alert_p'
  UVM_ERROR @ 3098.605900 us: (rv_core_ibex.sv:989) [ASSERT FAILED] FpvSecCmIbexLoadRespIntgErrCheck_A
  UVM_INFO @ 3098.605900 us: (uvm_report_catcher.svh:705) [UVM/REPORT/CATCHER]
  --- UVM Report catcher Summary ---

### Steps to Reproduce

- GitHub Revision: [feb3d3a15](https://git

[2022-11-17 05:49] weicaiyang commented on #16416
I suspect it's because ibex clock (100Mhz) is 4x faster than alert_handler clock.(24Mhz).

An alert may take >15 ibex clock to receive a response from alert_handler, so we may see 15 cycles alert_p high and then 15 cycles alert_p low. The SVA checks alert_p to be high within 7 cycles after an integrity error occurs, so we have a very high change to see SVA fails.

Let me increase to 30 cycles and

[2022-11-17 06:34] #16413 closed

[2022-11-17 06:54] sriyerg commented on #16416
Thanks @weicaiyang for taking this.

[2022-11-17 08:30] abdullahvarici commented on #16205
I have reviewed following lines: https://github.com/lowRISC/opentitan/commit/3ca6113491c8bb2317ff55cd5b9d288c0b8daf02/hw/ip/spi_host/dv/tb.sv#L100-L104
After removing Line 100 and 101, the spi_host_speed test is running succesfully. (`so_pulldown` in Line 101 was not being used in anywhere anyway.) After removing Line 103, a few assertions in `prim_fifo_sync.sv` and `spi_host.sv` were failing and

[2022-11-17 08:45] vogelpi commented on #16330
The updated exclusions have been merged already, Andreas is currently running a full regression and will share the results later today. We expect to close V2S with after this.

[2022-11-17 08:51] vogelpi commented on #16388
Thanks for looking into this and sharing your findings @marnovandermaas . The plan looks good to me. I think it would make the `csrng_err` test much stronger if in parallel commands would be sent to the different apps in general (also when testing other things than the `cmd_gen_cnt_err`). That's also what @rasmus-madsen did for AES.

[2022-11-17 09:02] andreaskurth commented on #16205
Thanks for investigating this @abdullahvarici. I think:

- Removing L101 is uncontroversial since `so_pulldown` is not used anywhere. When you remove it, please don't forget to also remove the signal declaration.
- Before removing L100, we should run each test of `spi_host` with at least 10 seeds to make sure we're not violating an obvious assumption in the other tests.
- To judge L103, which asse

[2022-11-17 09:02] sriyerg commented on #16416
Strange, I thought the `prim_alert_sender` generated alerts in the same clock domain as the sender. The CDC according to the doc below is implemented in `prim_alert_receiver` inside the alert_handler, so this assertion should have been satisfied within 1 clock cycle itself.
https://docs.opentitan.org/hw/top_earlgrey/ip_autogen/alert_handler/doc/index.html

[2022-11-17 09:07] abdullahvarici commented on #16205
Yeah, sure.

How about a full regression test?

The followings: `(prim_fifo_sync.sv:193) [ASSERT FAILED] DataKnown_A` and `(spi_host.sv:612) [ASSERT FAILED] CioSdKnownO_A`

[2022-11-17 09:12] andreaskurth commented on #16205
You can run it if you have time (that's why I wrote "at least" :slightly_smiling_face: ) -- I currently don't.

Could you assess whether those assertions are meaningful or overzealous in this scenario? That is, do the assertions fail because an assumption on which `prim_fifo_sync` or `spi_host` is built is violated? Or do they fail because they are written too narrowly?

[2022-11-17 09:21] abdullahvarici commented on #16204
For now, the test behaves correctly. But before, it wasn't. You can also reproduce it. If you use following commit `6df3c2b5df7e96f9de921d774276a25725dc6d3c` and add the following line after L64 in `spi_host_tx_rx_vseq.sv`: ``uvm_info(`gfn, $sformatf("Debug: transaction item = %s", trans.convert2string()), UVM_LOW)`. Then run following command: `util/dvsim/dvsim.py hw/ip/spi_host/dv/spi_host_sim_c

[2022-11-17 10:57] andreaskurth commented on #16063
Thanks @martin-lueker. With the current `master` (2807f454179b593fd978449c7af7ddab0946328e) plus the syntax fix for `entropy_src_UNR.vRefine` in #16421 applied, a full regression results in:

|  Score  |  Block  |  Branch  |  Statement  |  Expression  |  Toggle  |   Fsm   |  Assertion  |  CoverGroup  |
|:-------:|:-------:|:--------:|:-----------:|:------------:|:--------:|:-------:|:-----------:|

[2022-11-17 10:57] #16063 closed

[2022-11-17 11:16] johngt opened #16422 "[test-triage] chip_sw_otbn_mem_scramble"
### Hierarchy of regression failure

Chip Level

### Failure Description

[code]

### Steps to Reproduce

- GitHub Revision: [feb3d3a15](https://github.com/lowrisc/opentitan/tree/feb3d3a159fc3c5460e420a61678c040c3e367db)
- dvsim invocation command to reproduce the failure, inclusive of build and run seeds:
  ./util/dvsim/dvsim.py hw/top_earlgrey/dv/chip_sim_cfg.hjson -i chip_sw_otbn_mem_scramble -

[2022-11-17 11:18] johngt commented on #16422
There is potentially related working going on in https://github.com/lowRISC/opentitan/issues/16416 that may have affected this.
Flagging for awareness and highlighting degradation in a previously passing test.

|     | Tests                     |   2022-11-16 08:14:00 |   2022-11-15 08:11:58 |   2022-11-14 08:10:42 |   2022-11-13 08:12:54 |   2022-11-12 08:04:45 |   2022-11-11 08:07:48 |   2022-11

[2022-11-17 11:20] johngt commented on #16422
Different error to that highlighted in https://github.com//lowRISC/opentitan/issues/16416

[2022-11-17 11:23] johngt commented on #16422
Looks like this issue duplicates https://github.com/lowRISC/opentitan/issues/16416
Same
[code]
error. Closing as duplicated.

[2022-11-17 11:23] #16422 closed

[2022-11-17 11:27] johngt opened #16423 "[test-triage] chip_sw_rv_core_ibex_lockstep_glitch"
### Hierarchy of regression failure

Chip Level

### Failure Description

[code]

### Steps to Reproduce

- GitHub Revision: [feb3d3a15](https://github.com/lowrisc/opentitan/tree/feb3d3a159fc3c5460e420a61678c040c3e367db)
- dvsim invocation command to reproduce the failure, inclusive of build and run seeds:
  ./util/dvsim/dvsim.py hw/top_earlgrey/dv/chip_sim_cfg.hjson -i chip_sw_rv_core_ibex_lockst

[2022-11-17 11:29] johngt commented on #16423
Seems to be a different error to https://github.com/lowRISC/opentitan/issues/15538

|     | Tests                                |   2022-11-16 08:14:00 |   2022-11-15 08:11:58 |   2022-11-14 08:10:42 |   2022-11-13 08:12:54 |   2022-11-12 08:04:45 |   2022-11-11 08:07:48 |   2022-11-10 08:10:06 |   2022-11-09 08:04:06 |   2022-11-08 08:03:42 |   2022-11-07 08:08:10 |   2022-11-06 07:11:02 |   202

[2022-11-17 11:34] johngt commented on #15765
@bilgiday
The nightly came in and there seems to a be something flagged up. Copying the error report here for your convenience.

[code]

[2022-11-17 12:00] johngt commented on #14109
Per the discussion in https://github.com/lowRISC/opentitan/issues/14158#issuecomment-1314282712 - should this also be moved to post M2 @weicaiyang / @msfschaffner ?
Otherwise if needed for M2 without the WinBond BFM then we will need to make progress on this.

[2022-11-17 13:00] ctopal commented on #16326
Currently working on implementing the coverage implementation part of this task.

[2022-11-17 13:08] bilgiday commented on #15765
@johngt Thanks for the ping. Is this the one that came yesterday? (Wednesday November 16 2022 08:14:00 UTC, GitHub Revision: [feb3d3a15](https://github.com/lowrisc/opentitan/tree/feb3d3a159fc3c5460e420a61678c040c3e367db)).

If so, I noticed this, and we merged a fix for this, and currently waiting for today's results: #16413

Please let me know if this one is not resolved by #16413, and I can do f

[2022-11-17 13:17] ctopal commented on #16326
Opened up https://github.com/lowRISC/opentitan/pull/16426 for this task.

I think illegal bins in the cross should be enough for this, WDYT @marnovandermaas?

[2022-11-17 14:03] andreaskurth opened #16429 "[edn/dv] Test disable and re-enable of module"
Verify that EDN can be disabled and re-enabled multiple times and at any time (thus covering many different states) through a write to the `EDN_ENABLE` field in the `CTRL` CSR. Ideally, this would work like the `stress_all_with_rand_reset` test, although with disable and re-enable instead of reset, to show that EDN behaves correctly when being disabled at any time of use.

The enabling and disabli

[2022-11-17 14:06] andreaskurth opened #16430 "[csrng/dv] Test disable and re-enable of module"
Verify that CSRNG can be disabled and re-enabled multiple times and at any time (thus covering many different states) through a write to the `ENABLE` field in the `CTRL` CSR. Ideally, this would work like the `stress_all_with_rand_reset` test, although with disable and re-enable instead of reset, to show that CSRNG behaves correctly when being disabled at any time of use.

The enabling and disabli

[2022-11-17 14:08] andreaskurth opened #16431 "[entropy_src/dv] Test disable and re-enable of module"
Verify that `entropy_src` can be disabled and re-enabled multiple times and at any time (thus covering many different states) through a write to the `MODULE_ENABLE` field in the `MODULE_ENABLE` CSR. Ideally, this would work like the `stress_all_with_rand_reset` test, although with disable and re-enable instead of reset, to show that `entropy_src` behaves correctly when being disabled at any time o

[2022-11-17 14:08] johngt commented on #15076
Effort is still ongoing here and we expect that this should be met for the milestone.
@hcallahan-lowrisc expects to have something by the end of the day