[2021-09-07 23:41] cindychip commented on #8055
1) is easier from the DV side, but can support 2) if design has a preference :)

[2021-09-07 23:44] weicaiyang commented on #8100
From the spec, looks like we only transition to StInvalid after an operation.
For this case, since we capture the error, it will enter StInvalid when advance is issued. I think the behavior makes sense.
Let me close this issue. Thanks

[2021-09-07 23:44] #8100 closed

[2021-09-07 23:45] tjaychen commented on #8100
ah yes it should. let me know if it doesn't.
The latest PR should make it so if we register an error during reset, by the time we actually advance it would error back out.

[2021-09-07 23:46] weicaiyang commented on #8100
sounds great. Thanks

[2021-09-07 23:48] cindychip commented on #8055
Also 1) needs an exception for enabled regs (regwen enabled regs.. Not sure what is called)

[2021-09-07 23:55] msfschaffner commented on #8055
Afaik, reads always clear the phase register, hence the precending transaction must have been a write if you get to phase 1 - so I think its not needed to store the transaction type.

As for the attributes, let's run through the list of currently supported ones:
- `RW`: natively supported
- `RO`: since writes have no effect, this should work.
- `WO`: this should work as well, but since read-back i

[2021-09-07 23:56] msfschaffner commented on #8055
@cindychip are you referring to the fact that we're just ignoring any register writes if the REGWEN is 0?

[2021-09-07 23:59] cindychip commented on #8055
Yes! @msfschaffner

[2021-09-08 00:07] tjaychen commented on #8055
I'm completely okay with being overly restrictive for now and just mark the "gray area" attributes as not supported. If someone actually has a use case and runs into it, we can then explore it more.

For WO, it makes sense to me to support, because as an example, you can imagine someone wanting to shadow a key register that software cannot read.

[2021-09-08 00:45] msfschaffner commented on #8055
OK I see. in that case, let me remove RC for the time being.

[2021-09-08 00:58] msfschaffner commented on #8055
Alright, I have piled the commits implementing what we have discussed onto #8099. PTAL

[2021-09-08 08:02] imphil commented on #7946
Since I just stumbled across it: The RISC-V cryptography extension specifies a `seed` CSR, which provides 16 bits of entropy. See https://github.com/riscv/riscv-crypto/releases/tag/v1.0.0-rc2-scalar for details. That's harder to implement than what we ended up agreeing on here, but might be worth taking a look at in the future.

[2021-09-08 16:53] drewmacrae opened #8110 "Install `buildifier` for Bazel"
You might want to install `buildifier` and run it over your build files to get uniform/correct formatting.

We can also consider (in a future PR) adding a buildifier rule to our codebase to make formatting easier:
https://github.com/bazelbuild/buildtools/blob/master/buildifier/README.md

_Originally posted by @cfrantz in https://github.com/lowRISC/opentitan/issues/8096#issuecomment-915380130_

[2021-09-08 17:34] #7489 closed

[2021-09-08 17:35] #7924 closed

[2021-09-08 17:35] #7925 closed

[2021-09-08 17:49] #8014 closed

[2021-09-08 18:35] weicaiyang opened #8112 "[keymgr] using operation reserved values cause keymgr stuck"
@tjaychen

From the spec, operation reserved values should be treated as Disable. If I use those values, keymgr gets stuck without sending any data to KMAC
![Screen Shot 2021-09-08 at 11 32 32 AM](https://user-images.githubusercontent.com/49293026/132565473-5cfaafa7-d96f-4ca5-be7a-9d19b49948a3.png)

https://github.com/lowRISC/opentitan/blob/9c49ba8901b88bfd764014e265ab662797c6105c/hw/ip/keymgr/rtl

[2021-09-08 19:45] drewmacrae commented on #8110
Hmm, When I run it on corp I get go links http://go/buildifier-warnings#load-on-top. Does anyone know if it gives useful links when run externally?

[2021-09-08 19:59] tjaychen opened #8114 "[CI] Re-enable entropy_src test in CI"
entropy_src smoke tests are temporarily disabled due to the large number of changes ongoing in entropy complex.

Once the following PRs are all merged, revisit entropy tests.

- [x] #7349
- [x] #7497
- [x] #8094
- [x] #8101
- [x] #8216

[2021-09-08 21:16] #7928 closed

[2021-09-08 21:16] #7986 closed

[2021-09-08 21:46] vogelpi commented on #7988
Thanks for your input @imphil . I've rebased PR #1618 and top of that (re-)enabled boot ROM splicing for scrambled and unscrambled boot ROMs. I've directly pushed back into #1618 .

[2021-09-08 22:35] weicaiyang opened #8116 "[keymgr] fault at StDisable"
@tjaychen

I found a small inconsistency. When a fault occurs at StDisable during the first CDI of Advance operation, we don't enter KeyUpdateWipe, so the sideload key won't be wiped until we finish both CDI, which isn't consistent with other states.
https://github.com/lowRISC/opentitan/blob/9c49ba8901b88bfd764014e265ab662797c6105c/hw/ip/keymgr/rtl/keymgr_ctrl.sv#L700-L705

can we change to this?

[2021-09-08 22:51] tjaychen commented on #8116
no we can't do that, this will make the disabled / invalid state inconsistent in the presence of a fault.
When we transition to disabled, it's a graceful software transition. So while we are in that state, the behavior needs to be continuous update with garbage results from kmac.  When we encounter a fault, we wipe and transition into invalid, once we are in invalid, we always update with garbage

[2021-09-08 22:56] #8112 closed

[2021-09-09 04:12] #8116 closed

[2021-09-09 04:18] #7981 closed

[2021-09-09 04:19] tjaychen commented on #7870
This is implemented in #7752

[2021-09-09 04:19] #7870 closed

[2021-09-09 04:20] tjaychen commented on #7896
we discussed this during the security meeting and it was deemed okay as long as as different values are used to wipe each share.

[2021-09-09 04:20] #7896 closed

[2021-09-09 04:21] tjaychen opened #8120 "[keymgr] Security enhancement"
- for the random values used to wipe keys in key manager, we can consider additional permutation on one of the shares to ensure the values are diverse.

[2021-09-09 04:22] tjaychen commented on #7772
i believe this is fixed. @weicaiyang let me know if it isn't and we can re-open.

[2021-09-09 04:22] #7772 closed

[2021-09-09 16:00] vogelpi opened #8128 "[fpga] Excessive Vivado Implementation Time"
Since a couple of days we are observing strong variations in Vivado implementation time in CI. In some cases implementation runs through in a bit more than 1h, in other cases the time limit of 2h is reached (on local machines without a time limit run times of 5 hours can be sometimes observed).

The strong variation as well as the logs suggest that there is a place & route / congestion issue. Viva

[2021-09-09 16:01] vogelpi commented on #8128
FYI @tjaychen , @msfschaffner, @GregAC

[2021-09-09 16:08] rswarbrick opened #8129 "[otbn,dv] Add an explicit coverpoint for a straight-line instruction at top of memory"
"Falling off the top" should cause an error, but it's different from the normal "branch to an invalid address" situation so we should probably make sure we handle it properly.

[2021-09-09 16:47] weicaiyang commented on #7896
sounds good. Thanks Tim

[2021-09-09 16:49] tjaychen commented on #7896
weicai, would you mind adding a check that when a wipe happens, the two
shares are NOT the same?
or i can add a hardware assertion, that might be better.

On Thu, Sep 9, 2021 at 9:47 AM weicaiyang ***@***.***> wrote:

[2021-09-09 16:52] weicaiyang commented on #7896
Sure, let me add that. Feel free to add the assertion as well.

On Thu, Sep 9, 2021 at 9:50 AM tjaychen ***@***.***> wrote:

--
Thanks
Weicai

[2021-09-09 18:22] cdgori commented on #7896
Yep, exactly this.  Good to add the check(s) that the shares are not equal.

I added language to the secure design guidelines about this wiping action for multiple shares as well.

[2021-09-09 23:08] cindychip opened #8139 "[prim_esc] false alarm for sig_int_fail"
Hi Michael,

I think with the newly support feature for prim_esc_receiver, there is a corner case below that triggered a false signal integrity error.

Seq:
1). Send `ping_req` from `prim_esc_sender`
2). After three clock cycles, send `esc_req` from `prim_esc_sender`
3). After one clock cycle, `prim_esc_sender` reported a `signal_integrity_error`.

I think the issue comes from the `prim_esc_receiv

[2021-09-10 05:49] timothytrippel opened #8142 "[dif] IRQ DIFs should be autogenerated across all IPs"
# Overview

IRQ DIFs are inconsistent across IPs since some IP DIFs failed to make use of the header template that is (semi) autogenerated by the util/make_new_dif.py utility. To improve maintainability and uniformity, I propose auto-generating all IRQ DIF headers, implementations, and unit tests from predefined templates and IP-specific HJSON files.

# What components will be auto-generated?

All

[2021-09-10 14:28] #7976 closed

[2021-09-10 15:19] vogelpi commented on #5576
The option to bypass AES inside CSRNG has been removed with #7319. I am thus closing this issue.

[2021-09-10 15:19] #5576 closed

[2021-09-10 15:22] vogelpi commented on #5322
I forgot about this. The fix has been vendored into OpenTitan a long time ago. Thus closing the issue now.

[2021-09-10 15:22] #5322 closed

[2021-09-10 15:24] vogelpi commented on #4669
This also related to #4069.

[2021-09-10 15:46] vogelpi commented on #7988
#1618 has been merged, we now have support from splicing scrambled boot ROMs :-)

[2021-09-10 15:46] #7988 closed

[2021-09-10 15:46] rswarbrick commented on #7809
Ok, I've just spent quite a while doing cartesian products in my head... and I think these are the cases we have to consider. I make 45 of them in total, roughly half of which come from the complicated BN.LID/BN.SID instructions: I guess this is the price we pay for the clever "invalid GPR" behaviour we implemented :-(

LW
--

The possible errors are: underflow call stack, bogus addr, overflow cal

[2021-09-10 17:38] tjaychen commented on #8142
thanks @timothytrippel

A few things..

1. I think it does make sense to keep the generated files under an "autogen" directory.  This is mostly the convention we have been following on the hardware side, and I feel it gives a clear indication at a glance whether something should be hand modified.
2. For where the templates should be stored, @imphil started a trend where he began storing the templa

[2021-09-10 17:57] timothytrippel commented on #8142
sounds good, updated above to reflect this.

sounds good, the previous `dif_template.h.tpl` (used to semi generate all new DIF headers) was placed in sw/device/lib/dif/, but I can relocate it (and my new additions) to util/make_new_dif/ next to the util/make_new_dif.py script

Ah got it, thanks for clarifying, not big deal, either way I will make it work on the SW side, just curious.

Sorry, what

[2021-09-10 18:31] sriyerg commented on #8142
Since we would be deleting features from `rv_timer` (i.e. per hart parameterizations) and not adding new features, the DV impact should be minimal (probably ~<1 day effort).

[2021-09-10 18:35] tjaychen commented on #8142
to be honest, the RIGHT way to deal with this is probably using banked
registers.
Ie each HART would then see the "same address" for its timer, but based on
an incoming ID bank to separate physical set.

We would then get the benefit of actual isolation without different code
per HART.  I think the existing solution might also have a different
address / bit issue.

On Fri, Sep 10, 2021 at 11:31 AM

[2021-09-10 18:43] tjaychen commented on #7873
@weicaiyang @cindychip is this issue clearer now given the recent keymgr updates?
A shadow update error will show up in err_code, but shadow storage will show up in fault_status.

let me know what you guys think.

[2021-09-10 18:47] weicaiyang commented on #7873
This has been fixed. Let me close this issue now. Thanks Tim

[2021-09-10 18:47] #7873 closed

[2021-09-10 21:15] moidx opened #8152 "[ibex] DEFCON mtvec attack"
https://www.youtube.com/watch?v=iz_Y1lOtX08

This attack leverages (1) undefined default value specification for mtvec; and, (2) infinite exception behavior.

## Description of the attack

1. Attacker pre-fills IMEM with custom shellcode.
2. Attacker forces an early glitch before mtvec is initialized.
3. CPU jumps to the NULL page and enters an infinite exception loop (stable loop).
4. Attacker gl

[2021-09-10 21:16] moidx commented on #8152
Credit to @rbohn for bringing this up.

[2021-09-10 21:27] tjaychen commented on #8152
can this be generalized to any situation where we have executable regions that is in an unknown state?

Taking opentitan for an example, the rom has to define some default mtvec behavior, while having all other memories be non-executable from the start.  When it does mark other regions as executable, presumably this means all the content has already been verified.

Does this in someway already cov

[2021-09-10 21:29] tjaychen commented on #6504
I've thought a bit about this, and the right way to address it, i believe, is to have a handshake relationship between pwrmgr / clkmgr on each of these root clocks.

Is that an acceptable change to DV right now? Basically what would happen is that the pwrmgr `ip_clk_en` that goes to `clkmgr` would split into one for each root clock source (main, io, usb).  So if someone were to turn off the usb be

[2021-09-10 22:05] mundaym commented on #8152
Interesting stuff. The reset value of `mtvec` in OpenTitan's Ibex core is the base address of the ROM (with 1 set in the LSB to indicate vectored mode). My understanding is that `mtvec` never points to the null page. The default exception handler is written in assembly (so as to be safe to call immediately after reset) and will attempt to reset the device using the watchdog timer.

[2021-09-10 22:10] tjaychen opened #8154 "[rstmgr] Convert multireg use of regen to regwen_multi"
@matutem
@cindychip
@weicaiyang
@sriyerg

This should simplify DV and make things consistent with other modules.

[2021-09-13 10:43] rswarbrick commented on #7809
Hand-written tests to trigger each case now written: see https://github.com/lowRISC/opentitan/pull/8160.

[2021-09-13 14:49] imphil opened #8162 "[otbn] Specify writes to external CSRs during LOCKED state"
(At least) for testing purposes we need to specify what happens when OTBN is in LOCKED state (after it has seen a fatal error) and we see reads from the bus to the CSR nodes.

We have at least two registers which should remain accessible and return useful values even if OTBN is LOCKED: the STATUS register (which indicates that OTBN is locked), and the FATAL_ALERT_CAUSE register, which can be read

[2021-09-13 14:49] imphil commented on #8162
@tjaychen @cdgori Any preference from your side?

CC @GregAC @rswarbrick

[2021-09-13 16:48] #7167 closed

[2021-09-13 16:49] #7813 closed

[2021-09-13 17:24] tjaychen opened #8164 "[clkmgr] Double check clock manager frequency measurement precision"
Double check the clock manager's frequency measurement precision is high enough to cover normal oscillator deviations.

[2021-09-13 17:29] tjaychen opened #8165 "[rv_core_ibex] Double Fault Handling"
Double fault handling should be added into the ibex wrapper once lowrisc/ibex#1117 is ready

[2021-09-13 17:29] tjaychen commented on #8165
@tomroberts-lowrisc
@udinator
@sriyerg

[2021-09-13 17:48] tjaychen commented on #7848
@eunchan
@vbendeb

sorry i have a few question reading the exchange above.
@vbendeb mentioned being able to support transactions up to 2K, how would that work in this case? My understanding is that TPM protocol is not able to dynamically insert wait states, you can only do it at the end of the address bits, not wait->transfer->wait again-> transfer.  So how would up to 2K even work?

@eunchan it l

[2021-09-13 17:51] eunchan commented on #7848
Thanks for pointing out the typo. Yes. I should remove that part.

[2021-09-13 18:24] msfschaffner commented on #8142
CC @eunchan

Regarding the harts / timer mapping, we probably have to be careful to make sure this is aligned with how other RISC-V systems implement this.

I am not sure this is required anymore in the newest RISC-V privileged spec, but looking at some other systems from SiFive (e.g. [FU540](https://sifive.cdn.prismic.io/sifive%2F834354f0-08e6-423c-bf1f-0cb58ef14061_fu540-c000-v1.0.pdf)) it looks

[2021-09-13 18:33] tjaychen commented on #8142
i recall there was a discussion about sticking with the current interrupt
structure or switching to CLINT.  But I think the latter's spec may not
have been clear at the time?

On Mon, Sep 13, 2021 at 11:24 AM Michael Schaffner ***@***.***>
wrote:

[2021-09-13 18:35] eunchan commented on #8142
We'd better decide if we should follow SiFive memory map or not. If we decide to follow, then we probably need only one RV_TIMER and remove prescaler feature also. I think it is too simple so that SW could not have a consistent code across the generations or have more calculation inside the timer Interrupt Service Routine to correctly compute the next event time.

As of now, RV_TIMER has two knobs

[2021-09-13 18:35] eunchan commented on #8142
I think that one we discussed was `CLIC`.

[2021-09-13 18:47] msfschaffner commented on #8142
Right, the naming here does not make it easy to keep these things appart. The [`CLIC`](https://github.com/riscv/riscv-fast-interrupt/blob/master/clic.adoc#background-and-motivation) is yet another module that provides low-latency, vectored interrupts - which we do not support in OpenTitan at the moment.

[2021-09-13 20:10] tjaychen commented on #7848
thanks @eunchan , then in terms of interrupts, does it make sense for the write case to only interrupt at the END of write data depositing? Because otherwise the software is going to come in on the address / command and then have to wait around right?

[2021-09-13 20:15] vbendeb commented on #7848
On Mon, Sep 13, 2021 at 10:48 AM tjaychen ***@***.***> wrote:

The up to 2K use case is not for TPM traffic, it is for SPI traffic  in
general, for instance for firmware updates or tests, etc. In this case
there is no flow control at all, the device is expected to have a large
enough buffer to receive the full packet, no flow control is
required/expected.

-vb

@eunchan <https://github.com/eunchan

[2021-09-13 20:21] tjaychen commented on #7848
ooo okay, thanks for clarifying.

[2021-09-13 21:01] cindychip opened #8169 "[alert_handler] crashdump_o update"
Hi Michael,

I would like to confirm the behavior on `crashdump_o` register.
So I want to confirm -> looks like it updates the value when `accu_trig_i` is set to 1.
Related link: https://github.com/lowRISC/opentitan/blob/master/hw/ip/alert_handler/rtl/alert_handler_esc_timer.sv#L163.

The `crashdump_trigger_shadowed` registers are all configured to value 0. So the value latches as soon as it enter

[2021-09-13 21:27] msfschaffner commented on #8169
Hey @cindychip,

The crashdump is currently always latched right when moving into the next escalation phase.

But we can move this by one cycle such that the proper phase state is reflected in the crashdump status if you think that would make more sense.

The design change should be straightforward, since we already have a mechanism in place that ensures the crashdump is only sampled exactly once:

[2021-09-13 21:30] cindychip commented on #8169
Thanks Michael for the quick response, if not too much trouble, I think it makes sense to update the `esc_state` to reflect the actual escalation state, instead of one state before.

[2021-09-13 21:31] msfschaffner commented on #8169
Ok, sounds good. Can you have a look at #8173 and let me know if that addresses your concerns?

[2021-09-13 21:50] msfschaffner opened #8174 "[alert_handler] Low power features"
Due to the various clock and reset domains in our system, the alert handler ping mechanism needs to have additional logic to deal with alert senders that are either held in reset, or that are clock gated.
This is needed to ensure that no false alarms are produced when an alert channel does not respond due to the sender being either in reset or clock gated.
In addition, this mechanism needs to be a

[2021-09-13 22:05] tjaychen commented on #8174
hey michael,
just wondering if you've given any thought to the escalator type solution
where we put things on similar grouping of clocks (but not identical
clocks).
or are there too many drawbacks for that approach?

On Mon, Sep 13, 2021 at 2:51 PM Michael Schaffner ***@***.***>
wrote:

[2021-09-14 00:21] #8053 closed

[2021-09-14 00:21] #8055 closed

[2021-09-14 06:48] nicolast0604 opened #8178 "connect two nexys video FPGA board through PMOD connector to test UART/SPI/I2C"
Hi All
I would like to test the UART/SPI/I2C of Earl Grey. I noticed there are PMOD and FMC on the Nexys Video FPGA baord. Can I connect two nexys video FPGA through PMOD and test the UART/SPI/I2C with for host/device mode.

If this is possible, is there any suggestion for how to connect it? what is the 4 PMOD(X12) nodes mapping to the SOC pinmux/pinout?

Best Regards
Nicolas

[2021-09-14 08:07] rswarbrick commented on #8162
(1) sounds fine to me, but the implementation might be a bit gnarly for any non-ext registers. Are you imagining a single cycle where we assert `de` for all the registers to clear and pass them zeros?

[2021-09-14 08:50] GregAC commented on #8152
We have been working on a double fault detection mechanism: https://github.com/lowRISC/ibex/issues/1117

I believe the plan will be a rapid alert/reset when the double fault is detected so the window for step 4. of the attack is far smaller (no more stable loop of double faulting giving you all the time you want).

Ibex's `fetch_enable_i` input could be used to halt the core when the double fault

[2021-09-14 15:31] rswarbrick commented on #7809
I've now sorted out all the mismatches in the cases above except for CSRRS/CSRRW where (based on a conversation in Slack), @GregAC is going to look into modifying the RTL to match the ISS.

This issue started off as a question about multi-cycle instructions, but morphed into one about instructions that could raise multiple errors, possibly in a single cycle (oops).

Work still remaining:
- Think c

[2021-09-14 17:50] tjaychen commented on #8154
I remember now why this was done this way.
It was a specific request by software to have the reset controls compacted into one register.

We can either go back and make sure our reggen flow support this, or we can just have an exception test case for `rstmgr` for now.
Given the amount of tooling we'd need to add to both design and dv, it's probably better to stick with the latter for now.

[2021-09-14 18:31] #8169 closed

[2021-09-14 19:45] tjaychen opened #8185 "[reggen] Add support for compact regwen_multi type"
Right now, if a multireg needs to use regwen, it takes one of two forms.

1. All multi registers are locked with the same regwen
2. Each multi register is locked with a separate regwen.  In this case, both the reg and regwen have to be non-compact multi-regs.

While 2 works fine, it creates more burden on the software to have to manage multiple sets of registers.
Add an option to support compact m

[2021-09-14 19:45] tjaychen commented on #8185
@rswarbrick
@eunchan
@msfschaffner
@cindychip
@weicaiyang

please let me know what you guys think. This is directly related to #8154

[2021-09-14 20:37] weicaiyang commented on #8154
I think the latter approach is fine, given we have verified this regen already. @matutem WDYT?

[2021-09-14 21:30] weicaiyang opened #8187 "[keymgr] latch shadowed_storage_err"
@tjaychen
This is a minor issue, but want to confirm if it's fine

When we flip the shadow committed reg to trigger storage error and then flip it back, fatal alert will keep firing and fault_state will be updated correctly. But we didn't latch the shadowed_storage_err internally, and the fault_o is changed back to 0 after we flip committed value back, so the following operation is finished succes

[2021-09-14 22:13] tjaychen commented on #8187
yep this is a bug.
Notice how we do this for sync_fault (
https://github.com/lowRISC/opentitan/blob/master/hw/ip/keymgr/rtl/keymgr_ctrl.sv#L746),
I forgot to do it for the async faults.

On Tue, Sep 14, 2021 at 2:30 PM weicaiyang ***@***.***> wrote:

[2021-09-14 22:13] timothytrippel commented on #8142
Two more problem/solutions identified/added above (the last two, primarily SW focused). Additionally, above diagram has been updated.

[2021-09-14 22:16] weicaiyang commented on #8187
I see. Thanks Tim.

[2021-09-14 22:50] sriyerg commented on #4438
This has been implemented.

[2021-09-14 22:50] #4438 closed

[2021-09-14 22:59] sriyerg commented on #4562
Marking this issue as closed now.

[2021-09-14 22:59] #4562 closed

[2021-09-15 00:07] weicaiyang opened #8191 "[Private CI] clkmgr hangs"
clkmgr tests failed with `Segmentation fault` error, which I think it may be due to an infinite loop. Then I enabled `loopdetect` to rerun and now it has been stuck for over 1 hour.

Looks like we need some time to debug it. So temporarily remove clkmgr from smoke and nightly.

This is discussed at #8030

cc @tjaychen @matutem

[2021-09-15 09:08] rswarbrick commented on #2656
Ah, looks like we built `rom_ctrl` in the meantime. That's now at "D2 minus hardening", so I think this can be closed.

[2021-09-15 09:08] #2656 closed

[2021-09-15 11:55] rswarbrick commented on #8185
Sounds like a reasonable design, and not all that difficult. I assume the idea is that the regwen multiregister would then have 1 bit per register that it was enabling? And we'd still require the register that was being enabled to be non-compact?

[2021-09-15 12:26] mundaym commented on #7894
We also currently print the rom_ext entry point:
[code]
In addition, if an error is encountered the redactor error code is printed:
[code]

[2021-09-15 12:42] mundaym commented on #7894
I propose that we enable/disable logging (`base_printf` calls) explicitly via a new OTP configuration option (`ROM_LOG_EN`) and enable logging regardless in the `RAW`, `TEST_UNLOCKED` and `RMA` lifecycle states.

Logging should be restricted to:
* version
* lifecycle state*
* rom_ext entry point*
* redacted error messages

I am not sure if `ROM_LOG_EN` should suppress error messages or whether the

[2021-09-15 16:18] tjaychen commented on #8185
so that's kind of the part where this is getting annoying. When I went
through this with software some time ago, they wanted to have the regwen
and the register modulated by regwen all compact.
(you can kind of see this in the rstmgr dif design).

So that's where this is getting annoying. Because that means by the time we
do all the regwen processing, we need to look back for what the original
reg

[2021-09-15 16:35] cindychip commented on #8154
I see, I am fine with the second approach and maybe good to have some comments to document the special handling.

[2021-09-15 16:57] msfschaffner commented on #6083
Hey @imphil @GregAC, what is the status on this? Do we need an A/B synthesis comparison?

[2021-09-15 17:46] sha-ron opened #8204 "[dv,top] PR #8184 is a hack to allow AST registers to extend from ast_base_reg"
ast_base_reg (that extends dv_base_reg) is a class from which all of the 'real' AST register models extend from and it is visible only in Nuvoton's internal repo.
The chip level register model extend dv_base_reg class and there is no support to use a specific dv_base_my_prefix even if it was used in IP level.

[2021-09-15 19:12] sha-ron opened #8207 "[top] No option in top_earlgrey.hjson to use <module>.hjson that is not under hw/ip or hw/top_earlgrey"
Specifically AST attr in top_earlgrey.hjson is defined as "reggen_only" so ast.hjson is taken from hw/top_earlgrey/ip/ast/data.
When using the 'real' (not open source) AST need to use a private ast.hjson that is located somewhere else (under Nuvoton's private repository) .

[2021-09-15 19:52] msfschaffner commented on #7748
Hey @tjaychen, WDYT regarding 2. above?

[2021-09-15 20:37] tjaychen commented on #7748
ah yes! after reading your response, what you described is exactly what I had in mind.
However...do you think this is important to do?  This would only have value if an attacker were somehow able to glitch DIRECTLY to terminal_st while somehow skipping all the others (this should be REALLY hard).  This feels very defense in depth that could maybe be left as an enhancement for the future.

[2021-09-15 20:49] msfschaffner commented on #7748
yeah, given that these escalation FSMs are sparsely encoded, I believe this should be really hard to do. I would make the decision dependent on how easy it is to adapt the DV side of things (@cindychip WDYT). if this is not straightforward to do, I would say we punt this for later. @cdgori let us know if you think otherwise.

[2021-09-15 21:52] tjaychen commented on #8207
@sha-ron do you need for this for the full ral modeling at chip level?
We can certainly add a flag to look elsewhere is that is the cleanest solution.

@zi-v
@Jacob-Levy
Is there any way for you guys to expose a fully compatible (in terms of address map only) open source hjson?
You don't need to show any information on how any of it is used.  Ideally we would like the open source / closed source t

[2021-09-15 21:53] tjaychen commented on #8207
@msfschaffner this is a bit different from the prim_csr thing, since ast isn't sitting behind another hjson or anything.

[2021-09-15 22:00] udinator commented on #7716
Hi @eunchan, could you take a look at this issue if you have time?

[2021-09-15 23:06] msfschaffner commented on #8139
I think I found a fix for this. @cindychip can you take a look at #8212?

[2021-09-16 05:59] moidx commented on #3734
Superseded by #5955

[2021-09-16 05:59] #3734 closed

[2021-09-16 07:50] pt07L commented on #5810
Any update on this issue? I have the same problem with current master (5b842cd9f) on the NexysVideo board

UART output of the FPGA:

OpenOCD output:

[2021-09-16 08:56] rswarbrick opened #8219 "[otbn,dv] Teach ISS about operational states (locked)"
Teach the ISS about fatal errors and to lock itself. Probably also means we need to pass a reset signal (which, I suspect, will be "this is the first clock edge after coming out of reset").

[2021-09-16 13:39] sha-ron commented on #8207
@tjaychen
yes need this for the ral modeling at chip level. A flag can be great,

[2021-09-16 15:38] eunchan commented on #7716
OK Sorry for missed this! Let me take a look.

[2021-09-16 16:06] eunchan commented on #7716
I just read your description. It looks like the stimuli sent ManualRun without Start command. I expect that one could fall into both category. As the state machine won't move from StIdle to next states, the `kmac_errchk` logic only accepts Start command and hand over to kmac_app module.

The case we may see the `ErrSwIssuedCmdInAppActive` is when the SW sends Start command while the App Interface

[2021-09-16 16:39] #8187 closed

[2021-09-16 17:23] tjaychen commented on #8207
is it at all possible to align the register names / address space between
open source / closed source? Because that would be the easiest way i think.

On Thu, Sep 16, 2021 at 6:39 AM sha-ron ***@***.***> wrote:

[2021-09-16 17:40] cdgori commented on #7748
I think it would be really hard to do reach that specific terminal state directly given all the other protection we have.  It'd be a nice enhancement, but if the DV impact is high I'm ok to punt it.

(I think it's important to do what you said about invalid states above though, since those can be much more easily reached.)

[2021-09-16 18:29] tjaychen opened #8220 "[top] Peripheral memory grouping enhancements"
- Group all crypto modules together
- Group anything that controls flash access together
- i2c and spi device (maybe?) - nice to have
- check peripheral memory alignment, is it NAPOT friendly? (it might not be at the moment) - nice to have

[2021-09-16 19:11] #8139 closed

[2021-09-16 19:13] msfschaffner commented on #7748
Ok in that case, let's punt 2.. The invalid state handling is already implemented in the current design.

[2021-09-16 19:13] #7748 closed

[2021-09-16 19:29] mundaym opened #8223 "[doc] Vivado link in install instructions broken"
It looks like the documented version of Vivado (2020-1) has been removed from Xilinx's main downloads page (https://www.xilinx.com/support/download.html). The link in the installation guide appears to be broken: https://www.xilinx.com/support/download/index.html/content/xilinx/en/downloadNav/vivado-design-tools/2020-1.html.

The docs should probably be updated to at least 2020-2. That seems to be

[2021-09-16 20:01] felixmiller opened #8226 "[otbn] add end-to-end test for rsa_verify.s and rsa_verify_3072.s"
Currently we only have an end-to-end test for the full (modexp) RSA lib [here](https://github.com/lowRISC/opentitan/blob/master/sw/device/tests/otbn_rsa_test.c), but not for the optimzed versions for code verification.

Add a similar test for `rsa_verify.s` and `rsa_verify_3072.s`. The test should at least cover exponents 3 and F4.

[2021-09-17 00:20] msfschaffner opened #8231 "[kmac/doc] Clean up register refs"
There appear to be a couple of legacy `!!` register references in the KMAC spec.
We should clean this up and replace them with the new `{{< regref XXX >}}` format.

We should also check the other specs, since I have the feeling that we may have forgotten to update this in other places as well.

[2021-09-17 01:18] msfschaffner commented on #1920
OK this issue has been updated.
The only outstanding point now is that question about KMAC key clearing.
CC @eunchan @tjaychen

[2021-09-17 03:09] tjaychen commented on #295
latest status:

ast has been merged into fpga and verilator.
This means fpga / asic are mostly similar from a functional standpoint, although the we still need to sort out the pinout situation on cw310.

Verilator still has not merged into `chiplevel.sv.tpl`, but at least functionally it is now closer to asic, and we should be able to run ast related functions (entropy, power down/up etc) without

[2021-09-17 06:04] cindychip opened #8234 "[dv] csr exclusion issue"
https://github.com/lowRISC/opentitan/blob/master/hw/dv/sv/csr_utils/csr_utils_pkg.sv#L692
This mask does not return the right value if the excluded field's default value is not 0.

Issue from PR #8230

Thanks @tjaychen for finding this.

[2021-09-17 09:50] mundaym opened #8236 "[mask_rom] Call to base_printf in shutdown_finalize jumps out of .shutdown section"
PR #8237 places the `shutdown_finalize` function into the `.shutdown` section placed in the ROM after all other executable code. However the `shutdown_finalize` function makes a call to `base_printf` in order to report the redacted error message which means there is a call back into the `.text` section.

There are a few possible courses of action:

1) Leave as-is. The print will likely be disabled

[2021-09-17 11:05] imphil opened #8238 "[otbn] Define a list of errors to align ERR_BITS and FATAL_ALERT_CAUSE"
We currently have two external CSRs containing error information, `ERR_BITS` and `FATAL_ALERT_CAUSE`. `ERR_BITS` is only updated when an operation (one started by writing `CMD`) fails, while `FATAL_ALERT_CAUSE` only contains fatal errors.

Since we defined these registers we made smaller changes to the spec and the implementation, creating a bit of inconsistency and sources for confusion. For exam

[2021-09-17 11:16] rswarbrick commented on #8238
This sounds like a good idea to me.

[2021-09-17 12:40] vogelpi commented on #7842
Update: #8240 changes the way how we capture traces. `sha3_serial` now uses the FPGA SCA mode of KMAC. As for AES, Ibex configures the timer, starts the processing (with a delay), and then enters sleep (`wfi`).

[2021-09-17 12:57] #6993 closed

[2021-09-17 13:26] imphil opened #8242 "[otbn] Implement recoverable alerts"
Recoverable alerts exist in the interface currently, but are stubbed out.

[2021-09-17 16:11] GregAC commented on #8238
Sounds good to me also

[2021-09-17 16:37] vogelpi commented on #8223
I agree that we should fix the link, but I don't think it's absolutely needed to update the documentation. It's quite time consuming to re-install Vivado just to update the screenshots.

[2021-09-17 20:30] weicaiyang commented on #8191
According to Synopsys, this is a tool issue fixed in VCS 2020.12-SP2-2.

It appears with VCS 2020.12-SP2-1, but I tried with VCS 2020.12-SP2 (the default version used in OpenTitan) and it's also fine.

Let me add clkmgr test back and close this issue.

[2021-09-17 20:40] msfschaffner opened #8249 "[prim_lfsr] Improve statistics of non-linear output"
This discussion has been spun out from https://github.com/lowRISC/opentitan/pull/8222.

------------------------------------------------------
After looking into PRESENT_PERM32 and PRESENT_PERM64, I'm not sure that these are good choices for the aligned permutation.
e.g.
lfsr bits 63, 47, 31 and 15 connect to SBOX_0
lfsr bits 62, 46, 30 and 14 connect to SBOX_1

after shifting the LFSR data by 1,

[2021-09-17 20:40] msfschaffner commented on #8249
Good catch @vrozic.

The nice thing about this permutation is that it can be technically extended to work for any input vector size that is an integer multiple of 4. It just strides over the input vector and taps out SBox inputs at regular intervals, e.g. for a 16bit vector:
[code]
In order to break the shifting property that you identified, how about we make the following modification.
- Require

[2021-09-17 22:31] #8234 closed

[2021-09-18 00:29] weicaiyang opened #8256 "[keymgr] internal key_state"
@tjaychen
I found 2 small issues regarding the internal key_state, when I kept otp_root_key.valid low.

we need to keep random_req one cycle longer, otherwise, the last word of data are not wiped
![Screen Shot 2021-09-17 at 5 15 17 PM](https://user-images.githubusercontent.com/49293026/133865282-96276d81-b525-4d25-bed7-03427c4f2eb4.png)
[code]
----------
another issue:
When we advance to StInit, k

[2021-09-18 10:23] imphil opened #8259 "[otbn] Add BUS_INTG_VIOLATION to ERR_BITS?"
The only error which isn't present in ERR_BITS at the moment is BUS_INTG_VIOLATION. Is there a reason why we don't have it in ERR_BITS, but only in FATAL_ALERT_CAUSE?

@GregAC

[2021-09-19 12:06] rafpsiakis opened #8260 "External flash potential flow changes + analog components"
Hello all,

We are building a chip with opentitan as an ROT but the integration of flash is not possible. The flash will be external to the SoC.
Is that ok security wise? Is DiversificationKey ok to be provisioned in OTP instead? What else needs to change or it is violated in your opinion?

Another question we have is wrt the analog components. Is there any recommendation from opentitan community

[2021-09-19 13:38] sha-ron commented on #8207
Revealing the closed source names to the open source is problematic and using meaningless names in the closed makes it harder to debug and less readable.

[2021-09-20 09:17] GregAC commented on #8259
I can't think of a reason not to include it.

I guess at the time it was seen as an error not related to the execution of OTBN so wasn't included in ERR_BITS. We've already got two errors in ERR_BITS that aren't related to the execution of OTBN (fatal_illegal_bus and fatal_lifecycle) so we should add fatal_bus_intg_violation and keep things uniform.

[2021-09-20 09:24] imphil commented on #8259
Sounds good, I'll do a PR.

[2021-09-20 10:08] rswarbrick commented on #4200
RSA example converted and I have local changes that rip out the functionality from the RTL and ISS. Still to do: tidy up and push.

[2021-09-20 10:40] #8238 closed

[2021-09-20 12:54] imphil commented on #8024
I got the textual test plan entry (cover all external CSRs) and had an initial discussion with Rupert. Implementing the coverpoint will require wiring the operational state through to DV code, which is a bit more elaborate than we hoped it would be. Leaving the estimate at 8 for now to match this new reality.

[2021-09-20 13:29] imphil commented on #7340
First PR at https://github.com/lowRISC/opentitan/pull/8241

[2021-09-20 17:08] udinator commented on #2450
yup, this issue has been addressed.

[2021-09-20 17:08] #2450 closed

[2021-09-20 18:31] tjaychen opened #8273 "[fpga] Enhance ast model to also include adc functions"
now that ast is integrated in fpga, we can look into wrapping the adc functions as well.
Below is a snippet of code from @mdhayter on how he enabled this for a prototype.

[code]

[2021-09-20 19:07] timothytrippel opened #8274 "[hw/rv_timer] is not particularly aligned with other RISC-V systems"
The harts / timer mapping in the rv_timer block is not particularly aligned with how other RISC-V systems implement this.

According to the OpenTitan [rv_timer specification](https://docs.opentitan.org/hw/ip/rv_timer/doc/):

_"The timer IP supports more than one HART and/or more than one timer per hart. Each hart has a set of tick generator and counter. It means the timer IP has the same number of

[2021-09-20 19:10] timothytrippel commented on #8274
per @domrizz0's request, separated this (from #8142) into a separate issue.

[2021-09-20 21:01] vsukhoml opened #8277 "[all] need C/Rust register definitions for all releases and ToT"
OpenTitan evolves quickly and some registers are changing as a result. This complicates driver development as registers have to be reviewed with every sync. To support development of firmware solutions for OT we need to export register definitions, starting addresses into something which can be directly consumed by C and Rust.
Acceptable forms would defining constants for component's base address

[2021-09-20 21:05] msfschaffner commented on #8207
CC @moidx

[2021-09-20 21:12] msfschaffner commented on #8207
As @tjaychen noted, we would ideally just use one hjson in the open-source for this.
We know that this is not ideal from a closed-source documentation perspective - but it actually makes things simpler from a tooling, testing and SW perspective since we would not have multiple hjson sources that need to be tested. See also the [solution for the prims](https://docs.google.com/document/d/1pnDU3-V2Bw

[2021-09-20 22:20] tjaychen opened #8282 "[regtool] Separate q from other support structures in struct"
the reggen output right now packs a particular field's value and all associated values into a single struct.
For example `qe`, `err_update`, `err_storage` etc.

There's nothing wrong with this approach, but it makes the native register structure hard to re-use because most other consumers do not have a need for the secondary attributes.

It would be nice to split the packed structs in the future i

[2021-09-20 22:25] tjaychen commented on #8282
@rswarbrick let me know what you think.

[2021-09-21 01:25] sriyerg opened #8285 "[rstmgr] SW driven full-chip reset"
Filing an issue to see if it would make sense to add a CSR bit in rstmgr to cause a chip reset. The other option currently is the low power entry-exit, which involves a bunch of IPs (this is ok, but very slow for simulations).

Here's the link to a comment for reference:
https://github.com/lowRISC/opentitan/pull/8189/files#r712621281

This test takes the LC ctrl through a couple of `TEST_LOCKED*`

[2021-09-21 01:25] sriyerg commented on #8285
@tjaychen, @cfrantz, @moidx

[2021-09-21 04:16] Jacob-Levy commented on #8207
Hi Michael,

I already updated the OS ast.hjson to match the NTIL ast.hjson
as far at the number of register and the adress space tot match the NTIL.
The name I choose for the OS are generic  and all are 32-bit R/W.

I think Sharon issue relate to the full NTIL registers DV test and it is not different that the synthesis of the full chip (secure code included).
Arnon had to develupe a flow to addr

[2021-09-21 07:16] vogelpi commented on #8249
Thanks Michael for creating the issue. I think the proposed reverse-second-half + lrot-1-second-half scheme is fine.

From your draft PR one can observe that this gives the following assignment:
[code]
As you can see there is still a linear relationship in the first two bits. This is probably okay but we can avoid that by changing the pattern as follows (again for a 16-bit vector):
[code]
This sho

[2021-09-21 09:05] rswarbrick commented on #8282
Sounds like a good idea to me! I'm hoping that one day we'll be able to move some of those auxiliary signals (like `qe`) to the register level, which would make this sort of thing a little less painful. But there are definitely some auxiliary signals that need to be at field-level, so this sounds like a win either way.

[2021-09-21 10:05] vrozic commented on #8249
@vogelpi , I'm trying to figure out how this method would scale to a 32 bit case. Is it something like:
[code]

This should give the following assignment:
[code]

[2021-09-21 10:10] imphil opened #8287 "[otbn] Secure wipe not covering external CSRs"
OTBN has a small number (currently 2) of [external (bus-accessible) CSRs](https://docs.opentitan.org/hw/ip/otbn/doc/index.html#register-table), which are accessed from the host CPU (Ibex):
- `ERR_BITS` (the result of the previous operation)
- `INSN_CNT` (the number of instructions executed in the previous operation)

In contrast to internal state, IMEM, and DMEM, these two external CSRs retain the

[2021-09-21 12:48] #8259 closed

[2021-09-21 12:51] vogelpi commented on #8249
Thanks for weighing in @vrozic . For the 32-bit case one would have to increase the granularity as there will be 8 instead of just 4 S-Boxes, i.e., take bytes instead of 4-bit nibbles. So, the lrot would be applied at a byte level and the flipping would become a shuffle/zip/interlace (see e.g. [here for an illustration](https://programming.sirrida.de/bit_perm.html)):
[code]
The assignment then bec

[2021-09-21 13:02] mundaym opened #8288 "[mask_rom] Do something if `shutdown_init` reports an error"
Currently errors reported by `shutdown_init` are ignored by the mask ROM. We should decide what the correct behaviour should be if an error occurs (likely an issue setting up an alert) and whether we should be reporting other errors from `shutdown_init` such as an unexpected lifecycle state.

https://github.com/lowRISC/opentitan/blob/116fd728cfe0fc3feed4bb66a156e84a7b16a2b5/sw/device/silicon_creat

[2021-09-21 13:41] rswarbrick commented on #8287
Another option: Ibex SW writes zero to these two registers once it has read their contents. Simple and requires no HW changes: is there something I'm missing?

[2021-09-21 13:44] imphil commented on #8287
At the moment these registers are read-only from software. Making them read-write will require a bit of thought on access priorities from SW and HW, but it's certainly doable as well.

[2021-09-21 13:49] felixoberhansl opened #8290 "[sw/usbdev] OpenTitan USB HID support"
Hi,
as you describe [here](https://docs.opentitan.org/doc/security/use_cases/), some use cases for the OpenTitan require it to act as an USB Human Interface Device (HID).
Do you plan to release an USB HID library that can leverage the exisiting usbdev and the corresponding dif library? If so, do you have a rough timeline you could provide us with?
Or do you see that functionality out-of-scope for

[2021-09-21 14:12] vrozic commented on #8249
Thanks for the clarification @vogelpi , I think I understand now how it works.
However I still see the same type of 2-bit dependencies:
e.g. SBox4(n) = 0x0x       Sbox5(n+1) = 0x0x
       SBox4(n) = x0x0       Sbox0(n+1) = x0x0

It seems to be difficult to get rid of it in a simple way.

[2021-09-21 17:33] tjaychen commented on #8290
i think that functionality will come, but it's not super high on the priority list right now.
This is partially because the `usbdev` module itself has not received sufficient verification to begin any major development work based on it.

[2021-09-21 20:27] tjaychen opened #8298 "[dv] Alert name discrepancy between base reg and top dv"
When the shadow attribute it added a register, it needs a corresponding alert for the update and storage errors.
See [here](https://github.com/lowRISC/opentitan/blob/master/hw/ip/keymgr/data/keymgr.hjson#L428) for example.

However, if the block has multiple reg blocks (see [flash](https://github.com/lowRISC/opentitan/blob/master/hw/ip/flash_ctrl/data/flash_ctrl.hjson#L13) for example), there is a

[2021-09-21 21:44] cindychip opened #8300 "[dv/chip] Improve SW test pass/fail status logic"
From this comment: https://github.com/lowRISC/opentitan/pull/8189/files#r713434978

As Sri pointed out:
"The problem is with our test vseq - in SwTestStatusFailed case, it continues on to the next iteration, which causes the sw_test_status value to transition from a terminal state (fail) to under reset, triggering the error from line 53."

Need to revisit the SW status p/f logic.

[2021-09-21 22:46] tjaychen opened #8301 "[keymgr] Add some additional regwen"
During keymgr v2 review, it was discovered.

- `reseed_counter` is not locked down with `regwen`, this is not good
- it would be good to cover `sideload_clr` with transactional `regwen`, that way we remove the need to have to test `sideload_clr` under a bunch of conditions.

[2021-09-21 22:46] tjaychen commented on #8301
@cindychip
@weicaiyang
@sriyerg

let me know if this looks right to you.

[2021-09-22 04:56] weicaiyang commented on #8301
Thanks @tjaychen. this looks great.

[2021-09-22 09:27] imphil commented on #8027
Backed out in #8305 for a DV regression failure. The DV code needs updating to match the newer field names.

[2021-09-22 14:00] imphil commented on #8027
In-progress PR to update the naming available at https://github.com/lowRISC/opentitan/pull/8303.

@cindychip in the future, if you see failing CI, please do the backout first before attempting a fix. This buys everyone time to get a proper fix developed, reviewed, and merged.

[2021-09-22 14:41] #8023 closed

[2021-09-22 16:13] cindychip commented on #8027
Thanks, sounds good, will do the backout first next time .

Cindy

On Wed, Sep 22, 2021, 7:00 AM Philipp Wagner ***@***.***>
wrote:

[2021-09-22 16:47] msfschaffner commented on #8231
This is addressed in #8311. I checked the other IP specs as well, and they all appear to be up to date.

[2021-09-22 18:02] #8154 closed

[2021-09-22 18:07] tjaychen commented on #8035
i did a quick survey of all the other modules and they seem to all be using prim_intr_hw.
Closing.

[2021-09-22 18:08] #8035 closed

[2021-09-22 18:16] tjaychen commented on #8191
i think this is closed now, @weicaiyang let me know if you disagree.

[2021-09-22 18:16] #8191 closed

[2021-09-22 18:17] tjaychen commented on #8128
@vogelpi should we close this for now and open another the next time we have an fpga fire?

[2021-09-22 18:18] tjaychen commented on #8114
entropy tests will be re-enabled fully once #8216 is merged.

[2021-09-22 18:19] tjaychen commented on #8059
is this still an issue on latest? @vogelpi made some enhancements and i would be really surprised if ROM BRAM still cannot be found.

[2021-09-22 18:21] weicaiyang commented on #8191
I forgot to close this. Thanks @tjaychen.

[2021-09-22 18:43] tjaychen commented on #7786
@Jacob-Levy @arnonsha @sha-ron
It looks like the rng_fips signal is not used on the open source ast model, so at most we can do is just a connectivity test.
Will this be covered separately by a nuvoton specific test?

[2021-09-22 18:43] tjaychen commented on #7763
i believe this should have been fixed already.  `local_rst_n` is no longer present and the others should be matching the correct synchronizing domains.

[2021-09-22 18:43] #7763 closed

[2021-09-22 18:44] tjaychen commented on #7785
i think we can close this one now since the description is there.

[2021-09-22 18:44] #7785 closed

[2021-09-22 18:45] #8231 closed

[2021-09-22 19:18] tjaychen opened #8316 "[keymgr] keymgr_cfg_en issues"
A couple of minor bugs were discovered upon review:

1. even though cfg_regwen behavior is correct, internally the latched version does not correctly make use of the NonInitClr parameter
2. the sw_binding regwen uses the `NonInitClr` parameter, however, this means mask rom will not be able to lock any of the binding values before advancing to init.  This isn't how it's supposed to be used. @munday

[2021-09-22 19:19] tjaychen commented on #8316
@weicaiyang

[2021-09-22 19:40] sha-ron commented on #7786
Yes in chip level we will have some connectivity check for all those signals.
Is there some where documentation from which registers/pads those signals are sourced?

[2021-09-22 21:01] #8256 closed

[2021-09-22 23:21] cdgori commented on #8287
To the fundamental question, we need a ~better way to clear these two registers than running a dummy op.  I think it is OK for it to be something done by Ibex SW (though curious if @moidx sees any problems).

I'm not a fan of side-affecting reads (nor are most software/DV folks to my knowledge), so Ibex-SW-writes-0-to-clear (plus @rswarbrick 's comments about arb priority) seems the easiest.  I fi

[2021-09-22 23:32] tjaychen commented on #8287
yeah leaving it to ibex host clearing seems easiest to me.
This seems a lot like "transaction status" leftover for software to deal with right?

Although on that note, is it still the case that everything in ERR_BITS can only be set when otbn is running a transaction? I thought I read a PR somewhere where was an exception? Might be confusing with something else.

[2021-09-22 23:42] tjaychen commented on #5985
this is now done. Thanks ot @msfschaffner for doing the vast majority of them.

[2021-09-22 23:42] #5985 closed

[2021-09-22 23:43] tjaychen commented on #5134
@eunchan i think we can close this now right? This is something that's being handled on spi_device side.
I know we had some discussions about it, but i can't completely remember the resolution.

[2021-09-22 23:51] cdgori commented on #8162
(1) seems preferable.  (3) is bad.  If (1) is unworkable / too gnarly for some reason, I'd go for (2).  Though, I think (2) gets into that dynamic error modeling situation we discussed in another issue (?), so best to avoid if we can.

[2021-09-23 00:01] tjaychen commented on #8285
let me look into adding it, assuming it doesn't add too much of a burden on @matutem.
This will basically be a new CSR in rstmgr that acts like an "always enabled" version of a peripheral reset request.

What do you think?

[2021-09-23 00:02] tjaychen commented on #8207
so sounds like the conclusion is we have to have a way of picking alternative search paths, is that right?
does it make sense to say..in terms of search path priority..

alternative search path > top_earlgrey > ip?

[2021-09-23 00:08] tjaychen commented on #8162
i think as long as the system doesn't respond in a meaningful way, i'm not sure we absolutely have to zero the read path. I am not sure what anyone would gain from it, especially since all the secrets will have been wiped.  The most interesting bit is probably the FATAL_CAUSE (to see what triggered), and that we have to allow anyways.

If we are okay with that as a compromise, we could accomplish

[2021-09-23 00:13] #8027 closed

[2021-09-23 00:20] cdgori commented on #8162
I think (I hope?) we are agreed about blocking writes, and it's more "should reads (other than STATUS and FATAL_ALERT_CAUSE) behave consistently with any other memory spaces"

But you are right @tjaychen from a quick look at all the registers I can't see where anyone gains anything from reading them, so maybe not needed except for consistency.

[2021-09-23 02:57] nicolast0604 commented on #8059
I just tested the most update git repo.
with
/meson_init.sh
ninja -C build-out all
./hw/top_earlgrey/util/top_earlgrey_reduce.py --build
fusesoc --cores-root . run --flag=fileset_top --target=synth --no-export --setup lowrisc:systems:chip_earlgrey_nexysvideo

Then, move to
build/lowrisc_systems_chip_earlgrey_nexysvideo_0.1/synth-vivado/

and open vivaodo
source lowrisc_systems_chip_earlgrey_nexysv

[2021-09-23 03:12] Jacob-Levy commented on #8207
I asked @arnonsha to look into implementing  similar solution of the implementation flow for the DV as far as the ip/ast.

[2021-09-23 07:23] vogelpi commented on #7841
Yes, indeed. This can be closed. Thanks Tim.

[2021-09-23 07:23] #7841 closed

[2021-09-23 07:42] vogelpi commented on #8128
Yes Tim, we can close this. For the record, we've tried out several things that didn't notably improve the situation. What worked in the end is to enforce the placement of the local clock gate (BUFHCE) for AES into a separate clock region (see PR #8138 by @tjaychen ). Without this placement constraint Vivado did place all BUFHCEs and all flops driven by these into one single clock region while the

[2021-09-23 07:42] #8128 closed

[2021-09-23 08:07] vogelpi commented on #8059
Thanks @nicolast0604 for getting back. The new issue is no longer related to the ROM placement.

Regarding the issue you're seeing now: it seems you are using the NexysVideo FPGA board. We've used this board for a long time but as the OpenTitan design continued to grow we needed to switch to a bigger FPGA board (ChipWhisperer CW310). We still did keep the NexysVideo around using this `top_earlgrey

[2021-09-23 08:16] silvestrst commented on #8142
@timothytrippel what do you think about adding an error if `make_new_dif.py` is ran when DIF already exists? Or something like a warning, it could go ahead and create missing files but say "something.c already exists, skipping!".

[2021-09-23 09:53] GregAC commented on #8162
I'd note we already force returning 0s for dmem/imem reads after we've seen an illegal bus access (where Ibex tries to access them when OTBN is running). Though oddly seems the RTL still allows writes after this!

I think we should definitely return 0s on reads to imem/dmem after OTBN is locked and this is trivial to implement.

Perhaps you could argue INSN_CNT gives you something interesting (may

[2021-09-23 09:57] GregAC commented on #8287
+1 to write 0 to clear functionality for such registers (either we say any write just clears, or specifically write 0 clears and other writes are ignored so not general read/write).

That is the case, relevant para from the docs:

(Under the 'reaction to fatal errors' setion

[2021-09-23 13:19] imphil commented on #8287
The discussion on Slack between @timothytrippel and @tjaychen also brought up the option of using w1c: write 1s to clear the errors.

Since the goal is to clear the register, not to overwrite them with an Ibex-software-supplied value, we can actually avoid the discussion of "write 1 clear" vs "write 0 clear" and just go with what @GregAC suggested above: any write to INSN_CNT or ERR_BITS clears th

[2021-09-23 14:05] imphil opened #8326 "[doc] Write up how CI works"
* high level overview of what is there (e.g. the fact we have public/private CI, where the pipeline descriptions live etc)
* a few tips on what to do if there appear to be issues.

[2021-09-23 15:59] mundaym opened #8332 "[doc] Document OTP field configuration options"
Currently the Direct Access Memory Map in the [OTP documentation](https://docs.opentitan.org/hw/ip/otp_ctrl/doc/) lists the SW configuration fields but does not specify:

1) What the purpose is (beyond what can be inferred from the name of the field).
2) How the field is laid out (some large fields are arrays).
3) What the valid configuration field values are.

I've picked values for some configur

[2021-09-23 16:27] sha-ron commented on #8207
As I see it yes but we will also hold an internal discussion on Sunday to make sure.
Can the alternative path be a parameter or something we configure in the hjson file?
The NTIL ast.hjson is located under the Nuvoton repository and not under top_earlgrey>ip.

[2021-09-23 16:35] tjaychen commented on #8207
i was originally thinking it would be a script input argument.. but you
have a good point.
How exactly would this be used? If it's in an hjson file, which hjson file
would our topgen read to know that there is another search path?

On Thu, Sep 23, 2021 at 9:27 AM sha-ron ***@***.***> wrote:

[2021-09-23 16:50] Jacob-Levy commented on #8207
In NTIL, we have two version of ast.hjson. One in the non-secure domain and the final one in the secure domain.

The implmentation flow runs in the secure domain. for DV we can still do most of the testing in the non-secure domain but we still need to run the DV in the secure domain to check that
the implementation data  is fully tested.

[2021-09-23 16:54] tjaychen commented on #8287
yeah i think especially if the ERR_BITS cannot be set once the transaction has stopped (and presumably this is when software looks at the ERR_BITS), any write all clear sounds good to me.

The reason I was asking Greg about whether anything could set an ERR_BIT when not in transaction (for example a shadow update error) was basically whether we want any race handling, in which case a w1c like inte

[2021-09-23 16:55] sha-ron commented on #8207
I thought we will use a new hjson that will import_cfgs the foundry chip level cfg hjson and this new hjson will include the path definition.

[2021-09-23 16:57] tjaychen commented on #8207
okay sounds good, if there is a new hjson that would make sense.
Sri what do you think? I think effectively we need to be able to pass a new
topgen argument based on hjson args.

On Thu, Sep 23, 2021 at 9:55 AM sha-ron ***@***.***> wrote:

[2021-09-23 16:58] tjaychen commented on #8162
That sounds good to me.

[2021-09-23 17:58] #7665 closed

[2021-09-23 18:50] #7918 closed

[2021-09-23 20:20] msfschaffner commented on #8249
Thanks for digging deeper into this.

The goal of my first proposal above was really just to get rid of linear 4bit dependencies, which basically result in a situation where the Sbox outputs are just shifted as @vrozic has pointed out originally (since the sbox has 4 input bits).

If we want to get rid of sub-4bit linear dependencies as well, I also think that this will be difficult to achieve in

[2021-09-23 20:52] matutem opened #8337 "[doc/pwrmgr] Fix name of wakeup bit 5"
The generated pwrmgr hjson file lists PWRMGR_PARAM* names for each of the 6 wakeup bits.
The name for bit 5 is PWRMGR_PARAM_WKUP_REQ_IDX, but should be PWRMGR_PARAM_SENSOR_CTRL_WKUP_REQ_IDX.

[2021-09-23 20:52] #7749 closed

[2021-09-23 20:52] #8301 closed

[2021-09-23 20:53] cindychip commented on #8301
Sorry just saw it. LG :)

[2021-09-23 20:55] tjaychen commented on #8337
thanks @matutem for noticing this. The topgen process probably is not concating the instance name with the wkup name, this could cause problems later.

I will look at fixing this.

[2021-09-23 21:42] mundaym commented on #8288
@cfrantz @moidx

The current situation is that `shutdown_init` will only return an error if one or more alert configurations is invalid/corrupt. Note that the OTP reads will be going through `sec_mmio` if/when #8145 is merged which means that OTP read failures should result in immediate shutdown.

`shutdown_init` is called before the UART is configured so if we shutdown immediately no error will b

[2021-09-23 21:42] vogelpi commented on #8249
Yes I agree it's probably not required to get rid of all sub-4-bit relationships. In the end, it's still a non-linear element: if we flip two out of 4 input bits, the number of output bits that change can still varies, it depends on all of the input bits.

So for me its fine to go with your proposal Michael, especially as also Vladimir thinks it's okay.

[2021-09-23 22:55] cindychip opened #8343 "[prim_count] clarification"
Hi Tim,

A few questions for prim_count when i am doing FPV testbench for it.

1).https://github.com/lowRISC/opentitan/blob/master/hw/ip/prim/rtl/prim_count.sv#L102
   Should this line be:
  `down_cnt <= max_val;`
  Because max_val is used to check cross counter sum, and it was gated by `OutSelDnCnt` but this line 102 did not.

2). We would like to clarify the spec as for how to use `set_cnt_i`.

[2021-09-23 22:58] rswarbrick commented on #2661
Are we still considering this? Naively, I would have thought that we'd do any hashing/signing on "the segments that are loaded". This would mean that passing curve parameters in DMEM (like we're doing at the moment) would be absolutely fine.

[2021-09-23 23:00] rswarbrick commented on #4239
@GregAC: Am I right in thinking that the scrambling support you added to memutil means that (2) is much easier than we expected?

[2021-09-23 23:16] tjaychen commented on #8343
let me add some more comments to this later to clarify.

So this one is a bit odd... the `max_val` really only has utility for the `CrossCnt` case.
So when we are doing cross cnt, the `max_val` and the `down_cnt` are set at the same time.  I think we can't set `down_cnt` to `max_val` because it will be offset by one cycle and we "might" get an error that way.

This area is not super clean.. i need

[2021-09-23 23:27] tjaychen commented on #8343
does this #8345 help?

Also, i'm not sure if you guys want to wait on formally verifying this a bit.
When I added the prim count, I added it specifically for `keymgr` / `flash_ctrl`.  If we get everyone on board to use this for hardening, we most likely will need to add more features to it.

For example, I don't support cross count start of non-0 and non-max.

[2021-09-23 23:32] cindychip commented on #8343
Oh I see, I can wait until this is fully implemented :) Thanks for the heads up. Also I think this counter could be used for alert_handler. I believe there are some duplicated counters there.

[2021-09-23 23:53] tjaychen commented on #8343
yeah so i'm going to briefly go over this on monday. The ones to make sure
we match are alert_handler and aes (aes i think needs cross count, alert
handler needs dup cnt).
I'll need to check if other modules have something similar.  Kmac will
eventually need a version of this too I think.

On Thu, Sep 23, 2021 at 4:32 PM cindychip ***@***.***> wrote:

[2021-09-24 00:20] msfschaffner opened #8347 "[prim_mubi_pkg] Switch to common multibit types"
We have several IPs in the system that use some sort of redundantly encoded multibit signals for security purposes in order to signal "ON" or "OFF" states. Examples are multibit lock signals, life cycle control signals, etc.

It would be good to switch over to a common type, as this would be cleaner and also allows DV to properly assess these signals.

The PR https://github.com/lowRISC/opentitan/p

[2021-09-24 00:24] msfschaffner commented on #8347
CC: @GregAC @vogelpi @imphil @rswarbrick

[2021-09-24 01:38] msfschaffner commented on #8249
Ok, sounds good! I opened #8250 for reviews. Could you PTAL?

[2021-09-24 06:54] sriyerg commented on #8343
IMO it will be great to upstream the secure design guidelines (from @cdgori). I cannot seem to find the link, so I am not sure if it is still under review. We probably should also update it clarifying which prim addresses which hardening feature.

The design checklist (PR from Tom) already mandates the documentation & use of these prims. This will help get DV aligned in terms of how all secure har

[2021-09-24 07:02] timothytrippel commented on #8142
sure thing! added to burndown list above.

[2021-09-24 09:44] rswarbrick commented on #8142
Aren't these files checked in? I don't see any problem if we just trash them.

[2021-09-24 10:23] #7809 closed

[2021-09-24 10:36] #8024 closed

[2021-09-24 11:44] rswarbrick opened #8354 "[otbn] Bogus entries from the call stack get checked for register integrity on underflow"
If we underflow the call stack, I think we should probably mask out the corresponding integrity error signal.

For an example of this going wrong, run `util/dvsim/dvsim.py hw/ip/otbn/dv/uvm/otbn_sim_cfg.hjson -i otbn_single --fixed-seed 2909368110 -w` with commit ccca64c0e. The binary underflows the call stack and the Xs in the unused top call stack entry feed into `rf_base_rd_data_err_i` in the c

[2021-09-24 12:56] mundaym opened #8355 "Connect UART to IOC3/IOC4 rather than IOC10/11"
Right now the standard configuration (assumed by the test boot ROM, smoke tests, Verilator etc.) is that pins IOC10 (RX) and IOC11 (TX) are UART connections. For the mask ROM we will need to use IOC3 (RX) and IOC4 (TX) as the UART.

I'm wondering how arbitrary the existing IOC10/11 assignments are. Should we continue to support IOC10/11 as well or could we just switch everything to IOC3/4?

[2021-09-24 12:59] mundaym commented on #8355
@tjaychen @sriyerg any opinions?

[2021-09-24 13:18] mundaym commented on #8355
Using IOC3/4 as the UART is probably going to mean reconfiguring Verilator to use different pins as GPIO. I'm fairly certain that IOC10/11 were chosen because there are 32 GPIO pins and IOC10 and IOC11 are the first two pins following that allocation, pins 32 and 33 respectively.

[2021-09-24 15:32] silvestrst commented on #8142
It is a veeeeery minor nit pick from my side, just seems a bit nicer. However, it might be more hassle than it's worth.

[2021-09-24 17:11] tjaychen commented on #8355
@timothytrippel / @sriyerg  i think we talked some time ago (although we've not actualized this yet) that DV, verilator etc would primarily support the most stressful use case we have.  In all of our use cases so far we denote 3/4 as the native UART, so I think it is reasonable to switch to them as well.

[2021-09-24 17:17] #8316 closed

[2021-09-24 18:33] sriyerg commented on #8355
Pinmux is sufficiently verified with FPV, which, in conjunction with top level connectivity obviates the need to test for example, UART0 IO can be connected to every single pin.

We decided that our pinmux config for all usecases (CrOS, TI, etc.) will be extracted from a corresponding HJSon which will capture the configuration for that usecase, and we will only stick to that limited set, rather th

[2021-09-24 20:34] tjaychen commented on #8343
i believe @moidx is working through pushing it upstream.
and yes, part of next week's meetings I hope we will go through which prims we have for what, what additional ones we should consider creating, and thinking about what else can be made common.

[2021-09-24 20:34] tjaychen commented on #8343
@cindychip can this issue be closed based on the clarifications so far?

[2021-09-24 20:37] cindychip commented on #8343
Yeah, thanks for the information.

[2021-09-24 21:00] weicaiyang opened #8360 "[keymgr] SW can request EDN or cancel EDN req"
@tjaychen
This is due to the update at #8322
Since EDN request relies on `reseed_interval_i`, SW can set it to 0 to send EDN request before the counter starts, or even cancel an unfinished EDN req as shown in the waveform, which violates the handshaking protocol.
`  assign edn_req = (reseed_cnt == reseed_interval_i);
`
![Screen Shot 2021-09-24 at 1 54 55 PM](https://user-images.githubusercontent.c

[2021-09-24 21:10] tjaychen commented on #8360
regarding the cancelling, shouldn't that be covered by the `regwen`? Ie, if we set the count and lock it, there should be no changing it?

the other 0 case doesn't look right, i'll have a look.

[2021-09-24 21:20] weicaiyang commented on #8360
If it's locked, then it's fine. But lock is done by SW. If SW doesn't lock it, SW can request/cancel EDN. I feel SW should only set the interval, and should not have capability to directly control EDN in any way.

[2021-09-24 21:39] tjaychen commented on #8360
yeah but this basically controls the request interval though.. i'm not sure
it's worth putting in more logic to guard it.
Because I think the way it'll be used is simply..program/lock and go.

Otherwise we'll have to go down a road of..
when edn makes the request, latch the current reseed value so that it
cannot change, and only allow a change later.
That'll require extra storage that I'm really n

[2021-09-24 21:58] tjaychen opened #8363 "[pwrmgr] parameters for wakeup index"
Right now, the peripheral wakeup index is auto-generated at two places

- one in pwrmgr.hjson / pwrmgr_reg.h
- one in top_earlgrey.h

The latter should be the only place where this is needed, but since dif_pwrmgr.c / dif_pwrmgr_unittest.c use these parameters for assert checking, top specific information ends up getting bound into the DIF.  This is not quite right.

@timothytrippel suggestion is t

[2021-09-24 21:58] tjaychen commented on #8363
@matutem

[2021-09-24 22:16] tjaychen commented on #8220
the flash one is more a legacy of other projects.
It used to be that flash's own permission controls (since it effectively has its own pmp) wasn't contained inside the flash controller.

That's no longer the case now, so we should be okay.

I also think pmp region being larger than the actual space (as long as no overlap) is okay. Anything in that space that doesn't actually have a register backin

[2021-09-24 23:33] timothytrippel commented on #8355
+1, as @sriyerg stated, this won't matter in the long run since it will be transparent to each platform so assign how you need them.

We have a doc describing this, it just has not been actualized yet as you stated @tjaychen.

[2021-09-24 23:48] tjaychen commented on #8355
sorry quick question, in the top level dv TB though, won't we have to
physically connect the uart agents to IOC3/4?

On Fri, Sep 24, 2021 at 4:33 PM Timothy Trippel ***@***.***>
wrote:

[2021-09-25 00:30] sriyerg commented on #8355
Agreed, but that is trivial.

[2021-09-25 04:12] tjaychen commented on #8355
o yes agreed, i just meant in my original reply that's the "change" dv
should make to match.

On Fri, Sep 24, 2021 at 5:30 PM Srikrishna Iyer ***@***.***>
wrote:

[2021-09-25 05:12] sriyerg commented on #8355
Right - that should be ok. Once those pinmux config HJSons are ready, we will extract that info into an SV data structure which the TB top can use to know which port to connect the UART (and all the other) agents to.

[2021-09-25 07:07] timothytrippel commented on #8142
Yes, a _portion_ of them are. However, the util/make_new_dif.py also generates an initial header skeleton file to fill in (when you are starting to develop a completely new set of DIFs for a new IP). If someone had just begun working on such a new set of DIFs by invoking this tool, did a bunch of work manually editing the generated skeleton file, and accidentally re-invoked the util/make_new_dif.p

[2021-09-25 19:14] zeeshanrafique23 opened #8371 "Showing warnings related to core file while running simulation"
## Observed Behavior
The warning messages can be seen in Yellow color.

![image](https://user-images.githubusercontent.com/36025181/134783287-0ea29926-6872-46ad-9931-1eba63804fe2.png)

## Expected Behavior
TADA! Now they are gone.

![image](https://user-images.githubusercontent.com/36025181/134783610-94d544b9-55c4-476f-b808-0c712aca9920.png)

## Steps to reproduce the issue
I didn't make any modif

[2021-09-27 06:48] rafpsiakis commented on #8260
Hello @tjaychen,

Thanks for addressing my request. Your commit states that it fixes lowRISC#8260 but the fix is about edn. Is it a mistake or its something I dont get?

Thanks a lot,
Rafail

[2021-09-27 10:09] rswarbrick commented on #8142
Ah, ok, makes sense.

[2021-09-27 11:22] #3474 closed

[2021-09-27 15:05] #4200 closed

[2021-09-27 15:52] rswarbrick opened #8376 "[dv] tl_intg_err test sequence disables scoreboard but reads and checks register values"
OTBN has a STATUS register which switches value to "locked" if it there has been some sort of fatal error. The malformed writes generated by the `tl_intg_err` test cause such an error.

The predictor for the behaviour of the STATUS register lives in `otbn_scoreboard.sv` but this test sequence disables the scoreboard. However, it also runs the `csr_wr` sequence that has its own inbuilt scoreboard,

[2021-09-27 17:34] tjaychen commented on #8260
sorry that was a mistake on the PR.

[2021-09-27 17:58] weicaiyang commented on #8376
@rswarbrick
it may be a bit too much to disable checking for the entire parallel csr_wr sequence.

This `STATUS` is a HW-updated CSR. We can test its HW-update behavior in the automatic CSR tests. We have to test it separately. Perhaps we can just exclude this CSR with `excl:CsrNonInitTests:CsrExclCheck` to only check its initial value.

[2021-09-27 18:20] timothytrippel opened #8380 "[hw/sw] HJSON pinmux configurations"
There may be multiple intended use cases of the OpenTitan SoC, each using various (sub)sets of on-chip peripherals. Additionally, there are multiple supported targets for simulating/operating OpenTitan hardware on, each supporting various pinout configurations. We need a mechanism to configure the pinmux module, via its DIFs, based on intended use-case and target (DV and verilator sims, FPGA, and

[2021-09-27 18:20] timothytrippel commented on #8355
We did not, but I just created one: #8380.

[2021-09-27 20:16] rswarbrick commented on #8376
I guess so, but then we're weakening the checks that the normal CSR tests do in order that the `tl_intg_err` test (which is a pretty directed check: "poke something and check it shouts") shouldn't notice a problem. Do you think that's better than (more dramatically) weakening the check for just that test?

Or is there a way to exclude the hardware-updated registers for just the tests that will upd

[2021-09-27 20:22] msfschaffner commented on #8285
@sriyerg, one thing to note here is that the life cycle controller always renders the chip unusable (CPU disabled) once a transition has been performed - so even if this reset CSR is available in the reset manager, we would still have to rely on an external reset to reset the chip.

[2021-09-27 21:29] #8220 closed

[2021-09-27 21:31] tjaychen commented on #8355
thank you Tim!

On Mon, Sep 27, 2021 at 11:20 AM Timothy Trippel ***@***.***>
wrote:

[2021-09-27 21:52] weicaiyang commented on #8376
@cindychip is working on another CSR seq for shadow reg, what can cause a fatal alert. And we plan to cross that seq with csr_rw. IMO, disabling write-check for HW-update CSR is Okay, since it's meant to be tested in non-CSR tests. And I think we probably want to check csr_rw with other sequences if it's possible.

I prefer not to make the exclusion tag too complicated.
If you do want to only excl

[2021-09-27 22:20] #8260 closed

[2021-09-28 00:25] weicaiyang commented on #8376
@rswarbrick

BTW, IMO csr_rw actually has some values in tl_intg_err.
1. we want to prove when we write something to a CSR, intg_err occurs. We want to check write value won't be taken.
2. intg_err should not affect other CSR read/write. SW may want to read out something in CSRs to see what happens

I think we need to read back status to check by adding the code below after intg_err, if you haven'

[2021-09-28 03:15] #3385 closed

[2021-09-28 03:17] moidx commented on #5081
Deprecating this issue as we currently don't have an use case for peripheral lockdown.

[2021-09-28 08:06] rswarbrick commented on #8376
Ok, makes sense. Thanks for explaining.

[2021-09-28 09:56] GregAC commented on #4239
Yes, you should just be able to use the existing read functionality in memutil to read out the contents of a scrambled memory.

[2021-09-28 09:57] tomeroberts opened #8395 "[doc/checklist] Consider removing specific countermeasure guidance"
Continuing the discussion from #8198 on the issue of keeping specific countermeasure line items (such as SEC_NON_RESET_FLOPS) in the D3 checklist.

It was suggested to either list all such standard countermeasures in the checklist, or to remove them from the checklist and point to a separate guidance doc.

In addition, it was suggested to reword the existing point, or add a new one to cover the ex

[2021-09-28 10:58] tomeroberts opened #8397 "[doc/checklist] Update post-D2 blocks for checklist changes"
PR #8198 updates the checklists to match the current practice of deferring security countermeasure implementation to the D3 stage. All existing checklists have been updated to match the changes, but those blocks that have been through D2 already might have inconsistent text written against the security items in D2 and D3.

This issue tracks required updates to make the checklists consistent with t

[2021-09-28 14:40] mundaym commented on #8285
The proposed interface might be useful to simplify the exception handler in the mask ROM. It currently uses the watchdog timer to trigger a reset which requires multiple configuration steps: https://github.com/lowRISC/opentitan/blob/0f50b5fd7573a76ff786817c935982cb0e39d83a/sw/device/silicon_creator/lib/irq_asm.S#L25-L42.

[2021-09-28 15:50] rminnich commented on #8285
I think this is a great idea.
Earlier micros had a bit like this or an instruction. Intel has always relied on external magic to reset the chip, and reset on Intel has always been miserable. Just look at the hell of x86 in linux sometime.

I hope this goes in.

[2021-09-28 16:26] moidx commented on #8332
+ @jon-flatley  to cross-link issue associated with opentitantool changes.

[2021-09-28 16:39] moidx commented on #5232
Marking this issue as obsolete as we are currently tracking the manifest tasks in a separate burndown.

[2021-09-28 16:39] #5232 closed

[2021-09-28 16:45] moidx commented on #3563
Marking as duplicate of #264.

[2021-09-28 16:45] #3563 closed

[2021-09-28 17:05] matutem opened #8405 "[rtl/clkmgr] Add missing CDC"
The clock measurement logic is clocked by the clock being measured. Its outputs are used to drive logic in clkmgr_reg_top, which is clocked by the clkmgr clock, which is io_div4. It is clear there is missing cdc. The clkmgr_frequency test (being developed) is failing for this reason, since the pulse used to write the recoverable fault doesn't intersect a posedge clk_i in reg_top.

[2021-09-28 18:06] felixmiller commented on #7834
This issue has been discussed in the Security WG meeting on 2021-09-16. Group feedback:

1. Set ePMP registers to have non-zero reset values.
2. Add a register to explicitly enable flash execution. This is already supported in the flash controller.
- Need ROM support so that the assembly exception handler can reset the chip.
- @tjaychen: I recommend doing both 1. and 2. so that we can increase the

[2021-09-28 19:04] msfschaffner commented on #8249
The permutation update has now been merged - closing.

[2021-09-28 19:04] #8249 closed

[2021-09-28 19:05] felixmiller commented on #7117
This issue has been discussed in the Security WG meeting on 2021-09-16. Group feedback:

- The current layout of the peripherals makes it difficult to lockdown a particular set of MMIO regions.
- @rswarbrick: If reordering makes sense, we can totally do that.
- @tjaychen: The current memory layout is ordered by clock domain almost. If we want to group them by hierarchy that is probably ok too.
- T

[2021-09-28 19:33] sriyerg opened #8409 "[sw/dif] Integrate parameterized IP params into autogenerated IP context struct"
Taking `alert_handler` as an example, it seems like it should be possible to bake the parameters right into the autogenerated context:

[code]

The bottom two are added to a separate hand-written struct called `dif_alert_handler_params_t`. It should be reasonably straightforward to extract these params from the IP HJson instead and make them a part of the context, so that the DIFs will not longer

[2021-09-28 20:25] felixmiller commented on #7974
This issue was discussed in the Security WG meeting on 2021-09-02. Feedback/summary:

Tim: still need to think about protecting the register and the logic driving it but what if the content read out doesn’t make any sense?
Tim: its actually two issues: 1) reset value is wrong, 2) escalation process gets to ROM
Tim: escalation is currently persistent,
Rupert: could we instead to some hard to fake s

[2021-09-28 20:46] felixmiller commented on #7946
This issue was discussed in the Security WG meeting on 2021-09-02. Feedback/summary:

Miguel: Have the need for randomness already during the boot sequence, don’t have strict performance requirements, need a seed once a while but can stretch that in software
greg: planning to add a few registers to the ibex wrapper. It will be a polling interface to get data directly from the EDN0. There is an RND

[2021-09-28 20:56] sriyerg commented on #8409
After having a discussion with @tjaychen offline, IPs have an arrtibute called `templated`. The autogenerated portion of DIFs could use that information to know what parameters are to be set in the context.

It should also add a 'default' context const symbol that represents the parameter values that are already extracted and set in the generated `*_regs.h` header, which is a top-level specific. F

[2021-09-28 21:54] timothytrippel commented on #8409
I was thinking about this last week actually when implementing autogen'd IRQ DIFs. Definitely makes sense. I can add this to the to-do list after autogen'ing IRQ and Alert DIFs.

[2021-09-28 23:59] udinator commented on #7716
ahh got it, so SwIssuedCmdInAppActive is specifically when SW sends Start command during App interface.
Is it possible to update the specs to reflect this?

[2021-09-29 01:43] sriyerg commented on #8409
In the autogenerated IRQ test, I make the assumption that the templated IPs will always have parameterized DIFs:
https://github.com/lowRISC/opentitan/pull/8224/files#r718084941

We may want to discuss standardizing this.
@timothytrippel @tjaychen

[2021-09-29 06:53] timothytrippel commented on #8409
So I _was_ standardizing this, or at least making all IP DIFs consistent, as apart of implementing the autogen'd IRQ DIFs (see #8142). The way I was doing this was separating the IP's context struct---which I autogenerate and place in `sw/device/lib/dif/autogen/dif_<ip>_autogen.h`---from its *_params_t struct---which is currently manually defined in `sw/device/lib/dif/dif_<ip>.h`.

**Note**: with

[2021-09-29 07:05] #8376 closed

[2021-09-29 12:57] imphil opened #8425 "[ci] Re-enable Rust builds"
Rust building and testing has been disabled due to rustup infra issues in https://github.com/lowRISC/opentitan/pull/8424. Revert the patch once the issues are resolved upstream.

Upstream issue: https://github.com/rust-lang/rustup/issues/2855

[2021-09-29 12:58] #8044 closed

[2021-09-29 15:51] #4565 closed

[2021-09-29 16:20] mundaym commented on #5997
We might want to consider switching back to the assembly exception handler during ROM_EXT C runtime initialization since it will clobber the mask ROM's C runtime. I think it is safe to do that early in the ROM_EXT though, I don't think we need to do it before the jump.

[2021-09-29 16:24] mundaym commented on #7325
Marking this as complete (https://github.com/lowRISC/opentitan/pull/8036).

[2021-09-29 16:24] #7325 closed

[2021-09-29 16:30] mundaym commented on #6609
https://github.com/lowRISC/opentitan/pull/8145 doubles the size of the table. A size increase is necessary because the PR makes more OTP reads go through sec_mmio.

[2021-09-29 16:37] moidx opened #8430 "[rom] Mitigate slow or uncalibrated TRNG issues"
The entropy complex provides random bits which are consumed by hardware countermeasures. In general, unavailable or slow entropy should be escalated as an attack vector. However, during early manufacturing, we may need the ability to enable  secure boot even when the TRNG has not been fully calibrated.

This is issue is to track the investigation of mechanisms needed to mitigate any issues with un

[2021-09-29 17:21] #8425 closed

[2021-09-29 19:12] #8337 closed

[2021-09-29 20:07] matutem opened #8436 "[rtl/clkmgr] Fix frequency counters"
The frequency counters flag a bogus slow count when they start up. The following assignment is incorrect (prim_clock_meas.sv, line 122):
  assign slow_o = valid & (cnt < min_cnt);

The problem is that cnt is zero, which is less than min_cnt. A screenshot:

![Screenshot from 2021-09-29 13-05-02](https://user-images.githubusercontent.com/80294896/135341485-dc095f7a-ff69-438c-aa6e-3836d6a63d46.png)

[2021-09-29 20:11] tjaychen commented on #8436
@matutem can you give the instructions to reproduce this?

[2021-09-29 20:25] matutem commented on #8436
This can be reproduced merging your fix and my https://github.com/lowRISC/opentitan/pull/8387 together. I will commit PR #8387 to make everything easier.

[2021-09-29 20:32] tjaychen commented on #8436
sounds good, can you let me know what test / seed to run?

On Wed, Sep 29, 2021 at 1:25 PM Matute ***@***.***> wrote:

[2021-09-29 21:33] matutem commented on #8436
Just run clkmgr_frequency with any seed.

[2021-09-29 21:39] #8363 closed

[2021-09-29 21:39] #8298 closed

[2021-09-29 22:11] imphil opened #8440 "[tracking] Use ipgen to produce templated IPs"
The following IP blocks are actually templates at the moment and need to be converted to be using ipgen ([slides discussing motivation and general approach](https://docs.google.com/presentation/d/1x6YRgxdP1w9T-i0oApwelb782H4B5Pbyo4HnR6_Ei4s/edit?usp=sharing)).

- [x] alert_handler: https://github.com/lowRISC/opentitan/pull/8513
- [x] clkmgr
  - [x] Create ipgen files: https://github.com/lowRISC/op

[2021-09-29 23:19] msfschaffner opened #8442 "[rstmgr/clkmgr] Update DV environment and add SVAs"
The following two PRs add "clock gated" / "reset asserted" output to the clock and reset managers:

https://github.com/lowRISC/opentitan/pull/8418
https://github.com/lowRISC/opentitan/pull/8419

These are simple "ON / OFF" indication signals, but they are encoded with a multibit type for security reasons, since they are used by the alert handler to temporarily turn off the background ping checks (

[2021-09-29 23:35] msfschaffner commented on #8442
Note that the multibit type is `lc_tx_t` at the moment, but I will go through and replace all that with `mubi` types once the alert handler low-power feature has landed.

[2021-09-30 01:12] tjaychen opened #8444 "[top] Standardize prim countermeasures"
In an effort to streamline countermeasure testing, we are proposing to standardize the following:

- [Hardened counter](https://github.com/lowRISC/opentitan/blob/master/hw/ip/prim/rtl/prim_count.sv)
   - The counter currently has duplicate count (can be used by `alert_handler`) and cross count flavors (can be used by `aes`)
   - More additions can be made based on module needs

- Standardized spar

[2021-09-30 10:40] GregAC commented on #7889
Thanks to @msfschaffner for running the synthesis. As expected we cannot come close to meeting timing at 250 MHz however I do note that for the worst path, which goes through the base register file, the enable signal for the read it generated roughly half way through. Looking at the top few paths they all go through the read enable for the base RF, so presumably the address for the base RF is appe

[2021-09-30 15:37] moidx commented on #1112
Closing this as TPM functionality is something that can be implemented as an application in OpenTitan.

As a side note, there is now SPI TPM mode support available. Feedback is always welcomed. Please take a look at lowrisc/opentitan#7848.

https://docs.opentitan.org/hw/ip/spi_device/doc/#tpm-over-spi-1
https://docs.opentitan.org/hw/ip/spi_device/doc/#tpm-over-spi-2

[2021-09-30 15:37] #1112 closed

[2021-09-30 17:11] tjaychen commented on #7889
btw @GregAC , given the results you see here, do you still think this path is worth pursuing vs the prefetch idea you originally had?
It sounds like you see some light at the end of the tunnel? or am I misunderstanding?

[2021-09-30 17:12] imphil commented on #7889
With the light potentially being a train :-)

[2021-09-30 17:18] tjaychen commented on #7889
very possible :)

On Thu, Sep 30, 2021 at 10:12 AM Philipp Wagner ***@***.***>
wrote:

[2021-09-30 18:23] jon-flatley opened #8452 "[otbn/mask_rom] Use precomputed n0_inv value in rsa_verify"
The `rsa_verify.s` OTBN routine computes `n0_inv` at runtime whereas the ibex implementation uses a precomputed value. The sigverify mask_rom module accommodates 256 bit `n0_inv` values (see [sigverify_rsa_key.h](https://github.com/lowRISC/opentitan/blob/2d94748a97ad4a5eb74d72a52591fd07cbe8a0c2/sw/device/silicon_creator/lib/sigverify_rsa_key.h#L50).) If we're willing to store the extra 7 words, we

[2021-09-30 18:49] matutem commented on #8436
The clkmgr_frequency test was just committed, so rebase and you should be ready for testing.

[2021-09-30 18:53] jon-flatley opened #8454 "[mask_rom/otbn] Update RSA verification routines used in sigverify"
As a part of https://github.com/lowRISC/opentitan/pull/8170 a version of the OTBN RSA crypto routines are built and included as part of the mask_rom binary. These routines were never intended for RSA verification as it is done in #8170, and should be replaced with the appropriate, formally verified assembly once it is available. A version of this assembly exists now, but lacks the otbn-ibex interf

[2021-09-30 20:54] weicaiyang opened #8458 "Verify entropy from EDN is used correctly"
@tjaychen

As we discussed, it's good to prove EDN data are used to wipe the secrets in keymgr.

From EDN to the input of LFSR, we can check EDN data are sent to LSFR as seeds. But after LFSR, the value is scrambled. Sometimes, it's constantly scrambled for a period of time. Hence it's hard for DV to predict the correct outcome.

[2021-09-30 20:58] tjaychen commented on #8458
o you mean inside prim_lfsr the scrambling that's done?

On Thu, Sep 30, 2021 at 1:54 PM weicaiyang ***@***.***> wrote:

[2021-09-30 21:04] cindychip opened #8460 "[aes] shadow reg storage and update error status question"
Hi Pirmin,

I would like to confirm the AES status register behavior as below:
1). Write two shadow registers with different value to trigger an update error
2). Check status register -> ALERT_RECOV_CTRL_UPDATE_ERR is set to 1.
3). Probe design to make a storage error in shadow reg's committed val
4). Check status register -> ALERT_FATAL_FAULT is set to 1, but ALERT_RECOV_CTRL_UPDATE_ERR is reset

[2021-09-30 21:15] weicaiyang commented on #8458
yeah, need to know how the EDN input is scrambled by prim_lfsr and then used to wipe data. In invalid state, SW output and sideload output are wiped by random data from LFSR. If I can predict these random data based on the EDN input, then I can do end to end comparison.

[2021-09-30 23:15] tjaychen commented on #8460
should we try to make this behavior standard? ie if an update error
happens, we don't clear it unless software does it?

On Thu, Sep 30, 2021 at 2:04 PM cindychip ***@***.***> wrote:

[2021-09-30 23:18] cindychip commented on #8460
It would be ideal to standardize it (if not too much trouble on design side). Also aes status fields are all "RO" instead of "RW1C", that means SW cannot clear it.

[2021-09-30 23:38] weicaiyang opened #8464 "[keymgr] kmac_if.u_cnt.err_o is only checked in a particular state"
@tjaychen

you mentioned it may be better to always trigger alert if the cnt has an error, rather than only trigger in a particular state.
Let me know if we can update that.

[2021-09-30 23:48] tjaychen commented on #8464
yeah thanks for the reminder. I'll have a look.
I think it should be possible.

[2021-10-01 01:11] timothytrippel commented on #8409
@sriyerg (to summarize what we briefly discussed offline)
First, I want to say it is correct that only templated IPs (which as you point out have the `templated` attribute in the `<toplevel>.hjson` file) should have DIFs that **_may_** use extra bits of information related to the specific toplevel instantiation of said IP that is encapsulated in a `dif_<ip>_params_t` struct (as shown above in the

[2021-10-01 03:16] #8037 closed

[2021-10-01 12:43] vogelpi commented on #8460
Hey @cindychip ,
yes I can confirm that this is intended behavior. The idea is that whenever a fatal alert is occurring (no matter whether it's a storage error in the shadow register or some other fault inside the design), all status bits are cleared to 0.

The motivation for this behavior is that we don't want to give away potentially useful information to an adversary to refine an attack. For ex

[2021-10-01 20:30] tjaychen commented on #8460
hmmmm Pirmin since you have multiple fault error possibilities inside AES,
does that mean there's no way to dis-ambiguate which fault caused the error?
I think this is something we should discuss in upcoming silicon / security
meetings. I'm still not convinced that we need to "hide" software error
readbacks.

I still maintain that if an attacker has the ability to control arbitrary
software reads

[2021-10-02 00:02] sriyerg commented on #8444
Is this going to be more work than a simple mass search and replace?

What exactly is the counter measure that is being applied to these?

[2021-10-02 00:11] tjaychen commented on #8444
specifically for this one, i think there might actually be long term benefits to have the normally hardened signals and life cycle signals be separate.  I've not completely formulated this in my head yet..

The idea is to natively add support to reggen to support making these fields 'mutlbit'.
It basically means we natively support mubi for q (if it is currently a one bit signal) and qe / re.

[2021-10-02 03:04] msfschaffner commented on #8174
Block-level implementation of the low-power features: #8296, #8418, #8419
Top-level integration: #8369
Doc updates: #8490

[2021-10-02 05:15] #8405 closed

[2021-10-04 08:27] sha-ron commented on #8207
Talked about it internally and having a new argument will be great.

[2021-10-04 09:46] imphil commented on #6694
The relevant changes are now merged upstream, a new release should appear any day now, allowing us to switch back to a released version of pycryptodome.

[2021-10-04 13:26] vrozic commented on #7469
Continuing work at the separate PR #8498  for RTL changes behind the parameter.

[2021-10-04 13:28] GregAC opened #8500 "[otbn] Further evaluation for blanking calculation and negative edge flops"
Following on from the investigation in #7889 we'd like to do some more in-depth investigations:

1. Rerun the same experiment from #7889 with the indirect register paths removed to see if that provides sufficient slack to use negative edge flops with blanking  (pre negative edge) in the same cycle as execution (post negative edge)
2. If results from 1. look good do a mock-up of the design using ne

[2021-10-04 13:39] imphil commented on #6179
We agreed to not implement this feature.

[2021-10-04 13:39] #6179 closed

[2021-10-04 13:47] GregAC commented on #7889
Follow up work to be covered by #8500

[2021-10-04 13:47] #7889 closed

[2021-10-04 13:49] GregAC opened #8501 "[otbn] Implement software errors fatal mode"
Implement RTL and SW for the software errors fatal model specified in #8044

[2021-10-04 13:53] imphil opened #8502 "Document/specify feature in OTBN documentation"

[2021-10-04 13:57] imphil opened #8503 "Document/specify feature in OTBN documentation"

[2021-10-04 14:01] ctopal opened #8504 "[otbn,dv] Model EDN Request from OTBN Top Level"
We are using the EDN request from RTL only. Generating a model version of that request and asserting it is same with the RTL would be an enhancement.

Closes #7335

[2021-10-04 14:17] imphil opened #8505 "[otbn/dv] Corrupt IMEM in testing"
Corrupt IMEM in testing and ensure that we see a fatal error.

[2021-10-04 14:35] vogelpi commented on #8460
Yes, that is correct. But in AES, all error sources except one indicate that an FI attack is ongoing. They are all fatal. The only one error/alert that can be triggered by software is the shadow register update error.

I tend to agree with you but to be honest, I don't have the system-level picture required to really judge this. In my view, even if the attacker has control over software it doesn't

[2021-10-04 15:09] ctopal commented on #7340
Update:

#8241 Does work now and solves the problem with modelling the internal processing of OTBN top level. Remaining task is actually implement a model to generate actual random numbers with incoming requests from OTBN.

[2021-10-04 16:40] KVISDAOWNER opened #8506 "[hmac] Security issue? - Wipe of secret_key"
We have been looking through the OpenTitan code and documentation while using it as a case for a project on security verification through formal methods. In doing so, we believe to have found a potential security risk.

The documentation states that: “The internal variables will be reset to the written value” - https://docs.opentitan.org/hw/ip/hmac/doc/.

However, looking at https://github.com/low

[2021-10-04 17:29] msfschaffner opened #8511 "[mubi] True/false terminology"
i'm honestly not sure yet... it feels like the answer is yes, but for situations where i use this to represent transaction type (ie, instruction or data), it doesn't seem to quite fit either. I feel like HI/LO is more generic, at the expense of certain situations not completely mapping..

_Originally posted by @tjaychen in https://github.com/lowRISC/opentitan/issues/8462#issuecomment-932684249_

[2021-10-04 17:30] msfschaffner commented on #8511
@rswarbrick runs eagerly forwards with bikeshed paint... How about "yes / no"?

_Originally posted by @rswarbrick in https://github.com/lowRISC/opentitan/issues/8462#issuecomment-933268298_

[2021-10-04 17:34] msfschaffner commented on #8511
Some more bike shedding: I remember that one of our SW folks (@alphan?) implemented something similar for a SW boolean type with a high Hamming distance, and he just used true / false (and called them "truthy / falsey" values :)): https://docs.opentitan.org/sw/apis/hardened_8h.html

[2021-10-04 17:53] tjaychen commented on #8511
ah yes yes / no and true / false would too.
I would probably lean towards true / false since it's sound more binary-y

On Mon, Oct 4, 2021 at 10:34 AM Michael Schaffner ***@***.***>
wrote:

[2021-10-04 18:26] msfschaffner commented on #8511
Agreed. And it would be consistent with what SW does for hardened booleans.

[2021-10-04 18:26] tjaychen commented on #8511
o wait, does YES / NO or TRUE / FALSE make things more confusing with the
logical AND / OR?

On Mon, Oct 4, 2021 at 10:53 AM Timothy Chen ***@***.***> wrote:

[2021-10-04 18:47] msfschaffner commented on #8511
For the logical functions, we should probably change the terminology to active high / low instead of true / false in order to not make it more confusing:

E.g:
[code]

[2021-10-04 21:03] tjaychen commented on #8506
yeah this looks like something is inconsistent..thanks for pointing it out.
I'm not not quite sure why we decided to xor instead of of a direct wipe.

Although, even if we did a direct wipe, there's nothing in the hardware that enforces such a write, just as there is nothing that enforces we don't xor again with the same key and thus revealing the original key.. so i am not sure at the moment if i

[2021-10-04 21:48] tjaychen commented on #8207
adding @imphil to see if he has any opinions on this, and whether it would work better as part of the `ipgen` scheme.
I'm not completely certain yet..but i feel like there might be something there.

[2021-10-04 22:01] tjaychen opened #8514 "[reggen] Clarify async + regwen usage"
Automatically check in the tool to ensure `regwen` are not asynchronous registers.
`regwen` can be used to gate registers in other domains, but it is handled as part of `prim_reg_cdc` and does not need the user to declare it in the other domain.

When the user does this, the behavior is not "wrong" per se, but it is completely unnecessary.

[2021-10-05 00:22] tjaychen opened #8521 "[reggen] Introduce mubi concept to hjson"
Now that `mubi` has been introduced, it would be best if we can natively declare something as mubi in the hjson as well.

[2021-10-05 00:24] tjaychen commented on #8521
probably good to have the same understanding in DV / software.
@timothytrippel
@mundaym

see [mubi](https://github.com/lowRISC/opentitan/blob/master/hw/ip/prim/rtl/prim_mubi_pkg.sv)!

[2021-10-05 08:35] rswarbrick commented on #8511
Maybe we should just define an alias (or even just put 4 entries in the enum, with two entries for each value?) to allow a version that sounds less like true and false for the logical functions? Or (my preferred option) don't worry about it and just write a comment explaining what's going on :-)

[2021-10-05 10:32] imphil commented on #3712
@GregAC Is this RFC still relevant now that we implemented ePMP?

[2021-10-05 10:33] imphil commented on #3113
@moidx Is this RFC still relevant? (I don't think so.)

[2021-10-05 10:36] imphil commented on #1121
@eunchan @tjaychen I think both features proposed in this RFC have been implemented since. Can we close this issue?

[2021-10-05 10:36] GregAC commented on #3712
No

[2021-10-05 10:36] #3712 closed

[2021-10-05 10:39] imphil commented on #3204
The keymanager has been updated with the outcome of the chosen sideload approach, and the sideloading is also being implemented in other IP blocks, such as OTBN. Let's close this issue, since there are no real open questions around the fundamental workings of key sideload any more.

[2021-10-05 10:39] #3204 closed

[2021-10-05 12:16] rswarbrick opened #8525 "[otbn] New CTRL register can't be set by software"
Commit d151e08f78 added a new CTRL register, which causes lots of failures in our automated CSR testing. I think the design is that this register can be updated by software, but only when OTBN is idle. At the moment, it can't be updated at all:
[code]

@GregAC: Have I correctly understood what's going on?

[2021-10-05 12:36] GregAC commented on #8525
The actual implementation is found here: https://github.com/lowRISC/opentitan/pull/8509 the first commit was meant to be spec only so things were tied off.

[2021-10-05 13:28] alphan commented on #8511
I probably don't have all the context to have a strong opinion or suggestion, true/false sounds reasonable but true/false should ideally capture the meaning (not the physical value) to avoid confusion when active high/low signals are involved. I guess this is in line with @rswarbrick's comment above, i.e. 2 entries for each.

[2021-10-05 13:37] rswarbrick commented on #8525
Oh, I see. Unfortunately, the stubbed version broke our nightly testing :-) Could you chase up reviewers there and either get it merged or, if that's not going to be possible today, push up a patch that excludes this CSR from the automated tests?

[2021-10-05 15:08] GregAC commented on #8525
I'll do this

[2021-10-05 16:13] tjaychen commented on #1121
yes that's right, let's close this.

[2021-10-05 16:13] tjaychen commented on #3712
Just to clarify, the reason we are dropping this because we already have redundancy through shadow cores, is that right?

[2021-10-05 16:39] prajwalaputtappa opened #8528 "rnd_req_stable getting triggered and failing when junk data is written to imem to test the triggering of fatal alert when imem is corrupt"
Hi @GregAC ,

This is a testcase where we are corrupting the instructions present in imem in order to trigger the fatal error. When testcases are randomized, random data is written to the imem and hence it is not a valid instruction. As a result of this, rand_req goes low. Please find screenshot of the waveform below:
![Screenshot from 2021-10-05 17-36-17](https://user-images.githubusercontent.com

[2021-10-05 18:05] msfschaffner commented on #8511
we can make an alias, but it sounds like true/false or similar would actually fit well. since these are multibit signals, we are talking about labels for the logical interpretation, and not the physical values on the wires.

[2021-10-05 18:30] matutem commented on #6504
So you are saying a dedicated per clk ip_clk_en would trigger changes in clk_status. So if there is no change in a given clock then its contribution to clk_status doesn't need to change. Something like this would work, and the question is when we can get it fixed :)

[2021-10-05 19:28] #8525 closed

[2021-10-05 21:21] timothytrippel opened #8533 "[hw/aon_timer] HJSON 'interrupt_list' names do not match reg bits"
Every IP that can raise IRQs has an `interrupt_list` field in its HJSON file that lists the names (in snake case) and brief descriptions (in a full sentence/phrase) of each interrupt it produces. See [here](https://github.com/lowRISC/opentitan/blob/master/hw/ip/aon_timer/data/aon_timer.hjson#L14) for an example of the aon_timer.

Additionally, for IPs that raise IRQs, their HJSON usually defines t

[2021-10-05 22:45] tjaychen commented on #8533
@timothytrippel yes this looks good!
I think this is happening partially because `aon_timer` is one of the only modules that does not use interrupt auto creation.

I THINK the reason at the time was either because of clock domain issues, or because `aon_timer` simply did not have a use for one of the registers.

@tomroberts-lowrisc do you remember why? Any reason we can't convert them to just the

[2021-10-05 22:48] sriyerg commented on #8533
I'd probably rename it the other way around (`wdog_timer_bark`). Impact seems very minimal - will let Tom / Rupert confirm.

[2021-10-05 23:13] moidx opened #8536 "[sw/rom] Implement RND driver for mask_rom"
Implement RND driver to provide entropy for countermeasure development.

[2021-10-05 23:22] moidx commented on #3113
Hi @imphil, I agree we can close this. He have moved to consider an implementation in software leveraging bitmanip instructions.

[2021-10-05 23:22] #3113 closed

[2021-10-05 23:28] tjaychen opened #8537 "[ibex] Add anchor point for lock step cores"
We may want to add an anchor point for the [ibex core comparison](https://github.com/lowRISC/ibex/blob/master/rtl/ibex_lockstep.sv#L442).

It may also be good to consider hand instantiating the comparison cells here and duplicating them to ensure this is not a weakness.

[2021-10-05 23:30] tjaychen opened #8538 "[ibex] Shadow reset for shadow core"
Should we consider wiring a shadow reset to second lock step core?
It might not matter I think... if the reset net is hit, the two core results won't agree anyways, thus triggering an alert,

But I wanted to ask the question and see if everyone agrees.

[2021-10-05 23:30] tjaychen commented on #8538
@cdgori
@msfschaffner
@GregAC

[2021-10-06 00:41] msfschaffner commented on #8511
The names are going to be aligned in https://github.com/lowRISC/opentitan/pull/8535. PTAL.

[2021-10-06 07:39] silvestrst opened #8546 "[sw/sram_ctrl] Chip level tests tracking"
https://docs.opentitan.org/hw/top_earlgrey/doc/dv/

- chip_sw_sram_scrambled_access
   - [x] Retention RAM (#8547 )
   - [x] Run in DV
   - [x] Write larger chunks of data (for example, 128bytes instead of a single word)
   - [x] Add randomization via backdoor
   - [x] Introduce repetition (single retry)
   - [x] Main RAM
   - [x] Consider a variable buffer size as per [comment](https://github.com

[2021-10-06 08:49] berkguldiker opened #8548 "Simulating a USB Host"
Hello,

I am working on implementing a USB HID functionality and using Verilator for simulations. I can see the transfers in the 'usb.log'. However, I want to confirm if the board can be used as a HID device. Is there a way to simulate a USB host using the Verilator or connecting the verilated board to the PC or using Verilator with 'libusb' or a similar software?

Thanks in advance.

[2021-10-06 09:04] tomroberts-lowrisc commented on #8533
We didn't add the INTR_ENABLE since that would allow the watchdog (bark) to be trivially disabled. I don't know if this is really a big deal since the bite would still trigger so happy to add them in to make things more consistent. Any thoughts on this @tjaychen ?

Definitely makes sense to align the field names, and `wdog_timer_bark` sounds good to me but we should decide on whether we're happy w

[2021-10-06 10:59] imphil commented on #8290
There is no roadmap for this module right now, and I don't expect major changes to that during the remainder of this year. Of course, you're invited to jump in and drive the IP block forward: OpenTitan is open source and we're happy to accept contributions!

[2021-10-06 14:50] ctopal commented on #7340
Update:

#8550 Provides actual random data with randomised delays. After its merge, it would be safe to say RND will be fully implemented at ISS and UVM test-bench.

P.S. Verilator test-bench and `standalone.py` still returns a constant.

[2021-10-06 15:04] #8548 closed, assigned to nobody

[2021-10-06 15:34] timothytrippel commented on #8533
Just to clarify, no need for a INTR_ENABLE on the aon_timer from my DIF-autogeneration side of things (I already made it work in #8540. Was just stating something I noticed. Just need the interrupt names to match the bit field names. :)

Ok great, thanks @tomroberts-lowrisc ! I will update #8534 to use `wdog_timer_bark` instead of `wdog_timer_expired`.

[2021-10-06 16:20] imphil commented on #7287
Thanks @moffen for bringing this up. The Technical Committee looked at this request today and found that we don't need to get involved.

@moidx can you coordinate with @asb in case lowRISC should register for such a number, or alternatively propose to use another one (e.g. one from Google)? Thank you!

[2021-10-06 18:49] matutem opened #8556 "[rtl/clkmgr] Fix alert for clock measurement"
When a frequency measurement fails we issue an alert, but apparently alert sending should be edge triggered, and instead it is level in the clkmgr RTL, so we keep sending alerts for the failure. Weicai is more familiar with alerts, and he thinks this explains the DV exp_alert errors we keep getting for the frequency measurement test.

[2021-10-06 19:04] timothytrippel commented on #8533
@tomroberts-lowrisc @sriyerg
Updated #8534 to use `wdog_timer_bark` instead of `wdog_timer_expired`, as requested.

[2021-10-06 19:06] #8511 closed

[2021-10-06 22:24] matutem commented on #8556
Good question. If there was some counter for these alerts then it would be useful to send one per failed measurement. Otherwise the behavior is boolean in that we would only know there was a measurement error. This would argue to just send a single alert. Software can implement some counter, where upon receiving an alert it increments a counter and clears the recov_err_code and alert, starts anoth

[2021-10-06 22:59] matutem commented on #8436
This was fixed by https://github.com/lowRISC/opentitan/pull/8414

[2021-10-06 22:59] #8436 closed

[2021-10-07 00:16] weicaiyang commented on #8556
It makes sense to me if we trigger an alert after every measurement

[2021-10-07 04:59] #8537 closed

[2021-10-07 05:35] matutem commented on #8556
It seems sending one alert per incorrect measurement is the right approach. SW should set things up so that bad measurements should  be very rare. It should be possible to maintain a count of times it got out of spec and deterrmine what to do if the count is too high. So I agree with your comment quoted below.

tb/

[2021-10-07 12:57] #8354 closed

[2021-10-07 17:21] mcy opened #8566 "[lib] Write RISC-V assembly versions of some constant-time helpers"
#8510 adds constant-time helpers to `hardened.h`, many of which can be significantly compressed into RISC-V instructions. For example:

[code]

[2021-10-07 19:24] tjaychen opened #8569 "[docker] Docker build failures"
For whatever reason, when I attempt to build, I get the following error.
I build with the `--no-cache` option.

This error seems specific to my system, and will work as long as I take `USER dev` out (which however leads to other minor issues that can be worked around).

I can't figure out what's different about my setup that's causing this, so let me know if anyone has an idea.

[code]

[2021-10-08 00:04] udinator commented on #6964
Reassigning to @sriyerg for now.

[2021-10-08 00:04] #6843 closed

[2021-10-08 00:05] udinator commented on #6843
Adding @cindychip  for visibility.

[2021-10-08 00:05] udinator commented on #6842
adding @cindychip for visibility.

[2021-10-08 00:06] udinator commented on #6831
adding @cindychip for visibility

[2021-10-08 00:07] udinator commented on #6731
Reassigning to @weicaiyang as the linked task #6726 isn't quite done yet.

[2021-10-08 00:11] #5590 closed

[2021-10-08 00:18] udinator commented on #7177
adding @weicaiyang for visibility.

[2021-10-08 00:18] udinator commented on #7143
Reassigning to @cindychip

[2021-10-08 04:38] nicolast0604 opened #8577 "error: failed to run custom build command for `libudev-sys v0.1.4`"
opentitan master 2021-10-8
Ubuntu: 18.04.4

error: failed to run custom build command for `libudev-sys v0.1.4`

Caused by:
  process didn't exit successfully: `/home/nicolast0604/opentitan/build-out/sw/host/opentitantool/release/build/libudev-sys-0308a6720829dd60/build-script-build` (exit status: 101)
  --- stdout
  cargo:rerun-if-env-changed=LIBUDEV_NO_PKG_CONFIG
  cargo:rerun-if-env-changed=PKG_

[2021-10-08 04:57] timothytrippel commented on #8569
After cleaning out my cache and building from scratch I'm having the same probelm, now too. I looked into this further and got the image to build by moving the copying of the`rustup-init.sh` and `python-requirements.txt` into the Docker image (and setting the file permissions on those files) **before** the `USER dev` stage where the execution privileges change (after some debugging I realized that

[2021-10-08 16:51] tunghoang290780 opened #8582 "Error of top_earlgrey_reduce.py"
I run below command to reduce the OT size for Nexys board
[code]

Then I generate the bitstream file using Vivado 2020.1, fusesoc 1.11.dev57+g1fb8c93. However I face the follow
[code]

I checked the content of `hw/top_earlgrey/data/top_earlgrey.hjso`n which is supposed to be modified by `top_earlgrey_reduce.py ` script and found that the value of `pages_per_bank` is still 256 for CW310 instead of

[2021-10-08 17:17] tjaychen commented on #8582
i can take a quick look to see if i can get nexysvideo working.
the reduce script is a bit outdated due to the way flash is now templated.

On Fri, Oct 8, 2021 at 9:55 AM Philipp Wagner ***@***.***>
wrote:

[2021-10-08 17:57] tunghoang290780 commented on #8582
@tjaychen, thanks. If you can point me to the last commit that works with Nexys then it would be helpful.

[2021-10-08 19:06] sriyerg opened #8583 "[prim_{alert_receiver|dom_2_share}] Assertion memory footprint warnings"
Noticed these when running chip simulations:
[code]

[2021-10-08 19:59] timothytrippel opened #8585 "[hw/spi_device]"
In an attempt to auto-generate all IRQ DIFs in #8523, I noticed that the interrupt names in the SPI Device's HJSON are rather undescriptive, see [here](https://github.com/lowRISC/opentitan/blob/master/hw/ip/spi_device/data/spi_device.hjson#L27). As a result, using the `interrupt_list` field in an IP's HJSON to autogenerate the DIF enum type for IRQs produces enum names that are less descriptive th

[2021-10-08 20:31] #8556 closed, assigned to tjaychen, weicaiyang

[2021-10-08 21:02] imphil opened #8587 "[otbn] DV regression failure: Check failed (inc_both || call_stack_underflow || !local_x1_uflow)"
* GitHub Revision: b46a08d07
* Test and seed: 1.otbn_multi.2354483733

[code]

[2021-10-09 16:02] tunghoang290780 commented on #8582
@imphil @tjaychen thanks for help, i closed this issues

[2021-10-09 16:02] #8582 closed

[2021-10-11 12:30] rswarbrick opened #8596 "[otbn] INSN_CNT register zeroed on different cycle from STATUS change"
If you run OTBN with two jobs back-to-back, then there is a cycle where a read from STATUS will give you `StatusBusyExecute` and a read from INSN_CNT will give you the "old" count: the number of instructions that executed in the last run.

This is inconsistent: if we've started, we should also have zeroed out any reported state. I think we could "fix" things by flopping the STATUS register (possib

[2021-10-11 13:01] imphil commented on #8569
#8597 should fix the permission/user part of the problem.

I'm unable to reproduce the long delay when running the container that you experienced, @timothytrippel. Can you retry with #8597 applied? And can you check the subshell commands to ensure it's not them taking a long time?

[code]

[2021-10-11 14:53] GregAC commented on #8596
I'd say we care a little. Whilst practically it may not be an issue it's good to get these things consistent.

We could also mark `INSN_CNT` as external in the hjson to achieve the same thing. As it's fed directly from the flop in OTBN maybe this is a neater fix as currently we've just got a pointless extra copy of the instruction count.

[2021-10-11 15:45] rswarbrick commented on #8596
At the moment, both `INSN_CNT` and `STATUS` are external ("hwext"). If we made `STATUS` *not* be external (as I suggested above) then we'd introduce the 1-cycle delay that would make things line up. Is that what you mean?

[2021-10-11 15:59] rswarbrick commented on #8587
(For anyone following along at home, this is reported at https://reports.opentitan.org/hw/ip/otbn/dv/uvm/2021.10.09_13.53.53/results.html)

I can't reproduce this locally. Could it be a VCS version thing? (I was on VCS R-2020.12-SP2_Full64). Or some other flag used in the nightly runs?

@weicaiyang, @sriyerg: Can you see anything suspect in the command below?
[code]

[2021-10-11 16:45] timothytrippel commented on #8585
SG to me. Thanks @eunchan!

[2021-10-11 16:50] rswarbrick commented on #8596
Cool! Representing that on the ISS side will be awkward until https://github.com/lowRISC/opentitan/pull/8600 is merged so I propose we leave it until then.

[2021-10-11 17:54] eunchan commented on #8585
@timothytrippel How can I re-generate the DIF? After changing the SPI_DEVICE interrupts names, still `dif_spi_device_autogen.c` has old names in side.

[2021-10-11 18:41] sriyerg opened #8604 "[clang-format] Mismatch between clang-format on workstation and on CI"
The `topgen` and `make_new_dif` utils autogenerate some pieces of device SW and they run `clang-format`. This runs on the user's workstation, which may have a different version of `clang-format` than what runs in CI. This may result in intermittent CI failures reporting that the generated sources are stale.

A quick fix is to run `topgen` (i.e. `make -C hw top`) from within the OpenTitan docker im

[2021-10-11 18:50] tjaychen opened #8606 "[clkmgr] AST all bypass option"
The ast currently has only 1 clock bypass input.  It was originally thought that this input would bypass all clocks, but turns it out works on only the io_clock.

Another input is needed (driven by clkmgr) that would bypass all clocks.

This functionality needs to be added in both ast and clkmgr.

[2021-10-11 21:57] tjaychen opened #8610 "[clkmgr] Possible enhancement to peri"
This might be covered implicitly, but i wanted to state it.
For this [item](https://github.com/lowRISC/opentitan/blob/master/hw/top_earlgrey/data/chip_testplan.hjson#L692), we want to make sure that peripheral clocks can be turned off without killing the system. Ie, the software should be able to turn off peripheral clocks and still access memories / flash / bus, etc, anything necessary to turn th

[2021-10-11 22:49] #7566 closed

[2021-10-11 22:49] #8521 closed

[2021-10-11 22:54] cindychip commented on #8343
Hi Tim,

One more small question regarding prim_count.sv:
For `step_i` input, I believe the intention is that - once we set this value, it should not change unless we clear the counter.

If the assumption above is true, can we add some logic in design to ensure that step_i won't change, or ignore any changes of this input when counter is active?

Thanks,
Cindy

[2021-10-11 22:55] tjaychen opened #8611 "Anchor point additions"
- [x] rv_dm enable locations (implicitly covered by prim_lc_sync)
- [x] clkmgr clock bypass
- [x] aes critical registers? (covered by #10753)
- [x] kmac data register valid (covered by #6544)

[2021-10-11 23:09] tjaychen opened #8612 "[prim_count] switch to standardized use of prim count"
- [x] alert_handler ping timer (https://github.com/lowRISC/opentitan/pull/9594)
- [x] alert_handler escalator (https://github.com/lowRISC/opentitan/pull/9594)
- [x] alert_handler accumulator (https://github.com/lowRISC/opentitan/pull/9594)
- [x] prim_esc_receiver (https://github.com/lowRISC/opentitan/pull/9594)
- [x] otp_ctrl background check timer (https://github.com/lowRISC/opentitan/pull/9598)

[2021-10-11 23:22] msfschaffner commented on #8612
yeah, `lc_ctrl` does not really have traditional counters in its logic, and the transition count is modeled as part of the state transition logic (which is already hardened).

so yeah maybe you intended to put down `otp_ctrl` :). let's remove it...

[2021-10-12 03:30] cindychip commented on #8343
Hi Tim,

Sorry I have one more question regarding cross counter to clarify:

Right now the code does not gate `set_i` to set new `set_cnt_i` when counter is enabled.
I believe the code works fine for the duplicated counter, but might have cause fatal alert in the cross counter.
This is the related code: https://github.com/lowRISC/opentitan/blob/master/hw/ip/prim/rtl/prim_count.sv#L64

Sequence:

[2021-10-12 06:03] nicolast0604 commented on #8577
After sudo apt install libudev-dev
It works, but
ERROR: [Common 17-69] Command failed: Part 'xc7k410tfbg676-1' not found

[2021-10-12 06:05] nicolast0604 opened #8618 "ERROR: [Common 17-69] Command failed: Part 'xc7k410tfbg676-1' not found"
Should I connect the CW310 FPGA board before put the command  ?

<fusesoc --cores-root . run --flag=fileset_top --target=synth lowrisc:systems:chip_earlgrey_cw310>

****** Vivado v2020.2 (64-bit)
  **** SW Build 3064766 on Wed Nov 18 09:12:47 MST 2020
  **** IP Build 3064653 on Wed Nov 18 14:17:31 MST 2020
    ** Copyright 1986-2020 Xilinx, Inc. All Rights Reserved.

source lowrisc_systems_chip_ea

[2021-10-12 09:50] imphil commented on #8577
Good that you solved the first issue!

The second one is tracked in #8618.

[2021-10-12 09:50] #8577 closed

[2021-10-12 10:26] rasmus-madsen opened #8620 "SPI_HOST CSB raises CBS with CSAAT = 1"
Writing a 3 segment transaction to spi_host sometimes result in the host raising CSB after the second segment.

segment  0 (Command)![image](https://user-images.githubusercontent.com/53917183/136937935-c1064f97-6e9a-4244-a79a-eda729968dad.png)----| Command Register |----
 ----| Command: WriteStd
 ----| Segment Command
 ----| Length:   0
 ----| Mode: Standard
 ----| CSAAT: 1
 ----| Direction: Bidir

[2021-10-12 17:17] tjaychen opened #8623 "[prim] Add option for ECC inversion"
For ECC, in general data of all 0 generates check bits of all 0's.

This creates a situation where all 0's is a valid combination.
This has been known for some time, and we just need to add an option in the ECC primitives to have an inversion option such that all 0 data has an all 1 check.

[2021-10-12 20:37] cindychip commented on #8343
https://github.com/lowRISC/opentitan/issues/8343#issuecomment-940624263
This is solved via : https://github.com/lowRISC/opentitan/pull/8624

[2021-10-12 20:44] msfschaffner opened #8629 "[prim_double_lfsr] switch to standardized use of prim double lfsr"
- [x] alert_handler ping timer (https://github.com/lowRISC/opentitan/pull/8628)
- [x] otp_ctrl background check timer (https://github.com/lowRISC/opentitan/pull/8628)
- [x] others?

[2021-10-12 21:07] tjaychen opened #8630 "[sw, mubi] mubi software header locations"
Related to the [hardware package](https://github.com/lowRISC/opentitan/blob/master/hw/ip/prim/rtl/prim_mubi_pkg.sv#L20), we also need to add corresponding software headers such that the values can be easily reused.

After some discussions, it was determined that the best place for such code would be
`sw/device/lib/base/multibits.h`

let me know if there are any objections to this.

[2021-10-12 22:59] timothytrippel commented on #8569
Confirmed, above is just a local issue, closing this.

[2021-10-12 22:59] #8569 closed

[2021-10-13 00:26] matutem opened #8635 "[sw/clkmgr] params arg is redundant"
All function in dif_clkmgr take an extra argument `dif_clkmgr_params_t params`. This seems unnecessary, since params is also passed to `dif_clkmgr_init`, which could save it as a field in dif_clkmgr_t, and be done with the params.

[2021-10-13 01:45] msfschaffner opened #8638 "[cdc] Add Dvsim support for Verix CDC"
It has been decided to use Verix from RealIntent for signing off on CDC's.
In order to enable this tool flow, the following tasks need to be implemented:

- [x] Add the tool image to our internal Dvsim environment
- [ ] Create a `CdcCfg` class to Dvsim (derived from `OneShotCfg`)
- [ ] Add run scripts for Verix CDC
- [ ] Add Verix-specific results parser
- [ ] Tweak SDC for CDC runs
- [ ] Set up a

[2021-10-13 02:17] #8635 closed, assigned to mcy, moidx, timothytrippel, sriyerg

[2021-10-13 12:05] rasmus-madsen opened #8643 "SPI host Misses last Byte of Segment"
After #8620 was fixed another bug shows up - that wasn't there before.

after transmitting the segment 0 of 1 byte correctly - the DUT misses that last byte of segment 1

----| Command Register |----
----| Command: WriteStd
----| Segment Command
----| Length: 0
----| Mode: Standard
----| CSAAT: 1
----| Direction: Bidir
----| DATA |----
----| [ 0] fc |----

Segment 1 (address 32bit)
----| Command R

[2021-10-13 12:05] rasmus-madsen commented on #8620
hi @martin-lueker,
it seems that while #8627 does solve the reported bug - it has pushed some other things around such that the DUT now drops the last byte of the second segment.
see #8643

[2021-10-13 12:05] #8620 closed

[2021-10-13 13:14] rswarbrick opened #8645 "[otbn,rtl] A faulting instruction at 0xffc also sets the bad_insn_addr error bit"
This bit *would* mean "I ran off the top of memory" but if the instruction at `0xffc` faults, we're not supposed to get that far! To reproduce, run `hw/ip/otbn/dv/verilator/run-some.py --size=1500 --count=1 --seed=4 X`.

The final instruction in this case is:
[code]

I think the correct fix is probably to qualify the last branch in how we set `imem_addr_err` in `otbn_controller.sv` with whether th

[2021-10-13 13:18] rswarbrick commented on #8645
An alternative fix would be to make the PC 1 bit wider and have a special "this is an invalid IMEM address" value. Then things like branches to a bad address or running off the top of memory would execute just fine, but then explode on the following cycle. Maybe easier to spec and implement? (This would imply a small amount of DV work, but probably just half an hour).

[2021-10-13 16:35] GregAC commented on #8645
Having a new signal which gives us the appropriate subset of errors to suppress `imem_addr_err` with should be easy enough. I'll do a fix.

[2021-10-13 18:55] #8533 closed

[2021-10-13 21:02] sriyerg opened #8656 "[sw,plic irq test] Enable the autogen'ed PLIC IRQ test on Verilator and FPGA"
This test is auto-generated by `topgen`. It resides here: `sw/device/tests/autogen/plic_all_irqs_test.c`. It is already enabled and passing in DV. Since it touches (almost) all blocks, it will serve as a pretty good smoke test to run in CI.

I tried running it locally but it unfortunately fails on Verilator.
[code]

This basically means on the the Verilator build, some IP is generating a spurious

[2021-10-13 21:04] tjaychen opened #8657 "[ast / clkmgr] external clock switch support"
- [ ] rename lc_clk_byp_req to io_clk_byp_req/ack on ast
- [ ] add all_clk_byp_req/ack to both clkmgr / ast
- [ ] add test to top level testplan for connectivity or potential end to end test

[2021-10-13 21:06] tjaychen commented on #8606
replaced by #8657

[2021-10-13 23:11] msfschaffner opened #8658 "[pwrmgr] Add clk / rst checker for escalation receiver"
It has been decided to implement these checks at the integration level (i.e., not inside the escalation receiver primitive).

The idea is to sample the clock and reset tree leafs next to the escalation receiver instance inside the power manager, and have the power manager trigger a system wide reset in case the escalation receiver clock and reset are in an inconsistent state.

Drawing from the dis

[2021-10-14 00:28] timothytrippel commented on #8409
So I spent some time to really dig into this, and have come up with a third solution that will hopefully satisfy both @matutem and @sriyerg.

## Background
There are only two IPs---alert_handler and clkmgr---that currently define a `dif_<ip>_params_t` struct that is instantiated by the user of the DIFs, and passed in as an argument to a _subset_ of DIFs for said IPs. The DIFs that use information

[2021-10-14 03:26] moidx commented on #8444
This topic was discussed during the security wg 2021-09-30. The general consensus is that this is a good approach and there were no recorded objections.

[2021-10-14 08:02] theoneandonly-vector opened #8664 "where can I find google's attestation certificate for the titan stick?"
I know this is not google support.. but I really can't find google's attestation certificate to integrate in my SSO..

so maybe somone can tell me where to get it so I can import it to my root-trust.

[2021-10-14 09:18] #8664 closed, assigned to nobody

[2021-10-14 12:55] #8618 closed

[2021-10-14 17:47] tjaychen commented on #7591
this has been implemented.

[2021-10-14 17:48] tjaychen commented on #7591
@matutem i'll assign this issue to you for now so you can think about the DV consequences.

[2021-10-14 17:48] tjaychen commented on #7461
@tjaychen

[2021-10-14 17:49] #7168 closed

[2021-10-14 18:21] sriyerg commented on #8604
The following steps work:
[code]

[2021-10-14 18:43] sriyerg commented on #7168
Pending DV work tracked here:
https://github.com/lowRISC/opentitan/issues/7845

[2021-10-14 18:56] matutem opened #8673 "[dv/full_chip] Check rstmgr and pwrmgr assertions run at full_chip"
The rstmgr and pwrmgr_bind modules are made top-level modules for full_chip, which should cause their
assertions to have attempts, but the coverage reports don't show them.

[2021-10-14 19:04] #8604 closed, assigned to nobody

[2021-10-14 19:09] #3932 closed

[2021-10-14 23:52] timothytrippel opened #8681 "[rv_timer] Interrupt name is not very descriptive."
The RV timer can raise and IRQ for each timer within each hart. In the current configuration of the RV timer, we implement one timer and one hart, so the name of the (single) resulting IRQ signal is: `timer_expired_0_0`, where the `0_0` portion signifies hart-0, timer-0.

Since the IRQ names in an IP's HJSON are used to autogenerate IRQ DIFs and supporting enums (see #8142), it would be nice if th

[2021-10-15 11:47] GregAC commented on #3712
That's an orthogonal issue really. The sideload was just looking unwieldy and complex, it was felt better to use standardized features instead. Suitable hardening is required which will be a combination of the shadow core and software but then if we had side-load we'd also need to have hardened that.

[2021-10-15 12:54] rasmus-madsen opened #8686 "[spi_host/reg] make Command register write once"
To trigger a start in the DUT - the command register needs to be written.
most register firmware will look at the register content and deem if a write is needed for read/write register.

in the case that two identical commands is issued by verification - the second is not automatically written because the register content is the same.
currently I force the matter but I think a WO would be a better

[2021-10-15 14:21] imphil opened #8689 "[otbn] Potentially refactor otbn_start_stop_control into otbn_controller"
OTBN currently has a `otbn_start_stop_control` module which delays the "start an execute operation" signal to the main `otbn_controller` module until URND has received valid data from the EDN.

This setup makes it harder to reason about the behavior of OTBN, and I'm suggesting to fold the `otbn_start_stop_control` into the `otbn_controller`. This will become especially valuable as we add the secur

[2021-10-15 14:47] GregAC commented on #8689
I had intentionally split them as I didn't want to clutter the controller with all the start and stop stuff, instead having it focus exclusively on actual execution.

It is a bit awkward that we've got the two state machines that effectively need to be in 'sync'. Maybe instead of a single pulse from `controller_start_o` to start the controller we instead have an output to hold high whilst executio

[2021-10-15 14:57] imphil opened #8691 "Implementation"

[2021-10-15 14:58] imphil opened #8692 "[OTBN.H.KEY_SIDELOAD] Implement Key sideload in OTBN"
Implement key sideload as documented in #8502.

[2021-10-15 14:59] #8691 closed

[2021-10-15 17:04] tjaychen commented on #3712
sounds good.

[2021-10-15 22:06] Muqing-Liu commented on #8643
Hi @rasmus-madsen, thank you for pointing this out! I can reproduce the error, but I am wondering in this case, is the last segment data not successfully transmitted? It seems like the data in the first segment (data "cc") is not transmitted, since csb was asserted after tx_data_i was changed. Am I missing something here? Thanks!
![image](https://user-images.githubusercontent.com/83983643/13755849

[2021-10-15 22:26] tjaychen commented on #8630
we have decided to place the headers in `sw/lib/base/multibits.h`.

thanks everyone.

[2021-10-15 22:41] weicaiyang opened #8699 "[sram_ctrl] Integrity mismatch when d_size != 2"
@tjaychen

In this case, a/d_size are 0. But looks like internally we use size=2 to generate the rsp_intg
![Screen Shot 2021-10-15 at 3 37 36 PM](https://user-images.githubusercontent.com/49293026/137561519-2f37593f-6975-4713-998b-549aec680101.png)

Here is the place we change size to 2.
https://github.com/lowRISC/opentitan/blob/c9985cd6ce62a816e0da6306ab12f07f1c61e891/hw/ip/tlul/rtl/tlul_sram_byt

[2021-10-15 22:56] tjaychen opened #8700 "[boot_rom] flash program / erase before calibration"
Until clocks are calibrated, we technically should not be programming / erasing flash.
Should we add some kind of qualification into boot_rom so that it knows to not honor boot strap requests if it's not in the right state?

We will eventually be able to determine whether clocks are calibrated based on whether AST has been initialized.

[2021-10-15 22:56] tjaychen commented on #8700
@zi-v
@moidx
@cfrantz
@mundaym

[2021-10-15 23:06] tjaychen opened #8702 "[test] Add system level test for jtag initiated sram execution"
Add a test point for the case where jtag loads a program into sram and then jumps the ibex core to execute from sram.

[2021-10-15 23:06] tjaychen commented on #8702
@sriyerg this might be in the test plan already, i need to double check again, but i don't think i saw it.

[2021-10-15 23:10] moidx commented on #8700
We can probably use an OTP value to explicitly enable bootstrap functionality.

We will need a system test to load a test program via JTAG into SRAM and configure OTP to initialize AST and enable bootstrapping.

[2021-10-15 23:12] weicaiyang opened #8703 "[sram_ctrl] incorrect d_opcode for partial write"
@tjayche

for write, we should return AccessAck. But sram_ctrl returns AccessAckData for partial write. Looks like internally it's recognized as a read. May be because it's a read modify write.

![Screen Shot 2021-10-15 at 4 08 47 PM](https://user-images.githubusercontent.com/49293026/137563198-0276aa2d-a1f9-47e7-b71e-6ab285e11ea8.png)

This is found in the same test as #8699
Waves: ot_debug -j sm

[2021-10-15 23:42] tjaychen commented on #8699
okay this is one is not that straightforward.
the proposed fix won't work because it's the write portion of a full
read-modified-write. so the access has to be all of it.
we need to keep the original attribute and return that somehow.

On Fri, Oct 15, 2021 at 4:02 PM weicaiyang ***@***.***> wrote:

[2021-10-16 00:55] nicolast0604 opened #8705 "after modify the pins_nexysvideo.xdc -- Error-- [Place 30-58] IO placement is infeasible. Number of unplaced terminals (8) is greater than number of available sites (0)."
Modify in order to connect spi to pmod C but failed with [Place 30-58]
./hw/top_earlgrey/data/.pins_nexysvideo.xdc

from
## Pmod header JC -- When used for SPI
#set_property -dict { PACKAGE_PIN Y6    IOSTANDARD LVCMOS33 } [get_ports { IO_SDCK   }]; #IO_L18P_T2_34 Sch=jc_p[1]
#set_property -dict { PACKAGE_PIN AA6   IOSTANDARD LVCMOS33 } [get_ports { IO_SDCSB  }]; #IO_L18N_T2_34 Sch=jc_n[1]
#set_pro

[2021-10-16 06:49] tjaychen opened #8706 "[tlul_sram_adapter] Several issues"
while triaging #8699 and #8703, i came across several issues with `tlul_adapter_sram` and its included modules.
Some of these may be related to #7461, but I am not completely sure.

- [ ] The ordering of `tlul_intg_rsp_gen` and `tlul_sram_byte` are reversed.  The `tlul_intg_rsp_gen` is somehow downstream of the `tlul_sram_byte` module, meaning it can generate incorrect integrity data.
- [ ] The re

[2021-10-16 07:14] saki-osive opened #8707 "Can't build the repo with meson_init.sh"
While running the meson_init.sh in the OpenTitan repo, I'm getting the following error. Basically, I'm unable to build it, I think there is/are pre-requisite step(s) missing before the build can be invoked with meson-init.sh. Can I get a full list of dependencies/pre-requisites needed to build this on Ubuntu Server 20.04?

[code]

[2021-10-16 07:17] tjaychen commented on #8706
@weicaiyang

[2021-10-16 07:24] tjaychen commented on #8707
can you follow the instructions shown here?
https://docs.opentitan.org/doc/ug/install_instructions/

On Sat, Oct 16, 2021 at 12:14 AM saki-osive ***@***.***>
wrote:

[2021-10-16 08:27] tjaychen commented on #8707
o but to your question, if you're just trying to get the elf file, no you
don't need vivado.
just install the tool chain, the python modules etc.

On Sat, Oct 16, 2021 at 1:24 AM Timothy Chen ***@***.***> wrote:

[2021-10-16 11:21] nicolast0604 opened #8708 "setup SP1 for PMOD JA [Common 17-55] 'set_property' expects at least one object."
After remark the original package_pin for PMOD JA and set up it for SP1, there are warning messages, do SPI circuit included in top_ealgrey?

## Pmod header JA
#set_property -dict { PACKAGE_PIN AB22  IOSTANDARD LVCMOS33 } [get_ports { IOC2 }]; #IO_L10N_T1_D15_14 Sch=ja[1]
#set_property -dict { PACKAGE_PIN AB21  IOSTANDARD LVCMOS33 } [get_ports { IOC3 }]; #IO_L10P_T1_D14_14 Sch=ja[2]
#set_property

[2021-10-16 23:08] sriyerg opened #8715 "[usbdev,alert] Turning USBDEV clock off and back on results in sigint fault on outgoing alert"
![image](https://user-images.githubusercontent.com/46467186/137604118-2844e9a0-0ed5-426d-9023-3c27bf6f7ec7.png)

This is the failing clkmgr_smoketest at the chip level:
https://reports.opentitan.org/hw/top_earlgrey/dv/latest/results.html

All this test did (upto this point) was turn USB PERI clock off and back on as a part of the `test_gateable_clocks()` routine.

[code]

Steps to reproduce:
[code

[2021-10-16 23:35] martin-lueker commented on #5134
Hi all (including @eunchan), just another ping here.  Can we close this one?

[2021-10-17 01:04] moidx opened #8716 "[fpga] rom.mmi needs to be updated after increasing the ROM size to 32kB"
lowrisc/opentitan#8671 broke the FPGA ROM splicing flow. I was able to get it to work by making the following changes to the generated `rom.mmi` file:

1. Use 4-bit address ranges, e.g. `<DataWidth MSB="3" LSB="0"/>`.
2. Swap Placement nibbles to get the correct nibble order. For example:

Before:

[code]

After:
[code]

I suspect there are some changes required here: hw/top_earlgrey/util/vivado_h

[2021-10-17 06:20] saki-osive commented on #8707
While following this https://docs.opentitan.org/doc/ug/install_instructions/ in order, my build is still breaking at:

``./meson-init.ah``

Here is the output:

[code]

Please discuss this @tjaychen

[2021-10-18 08:19] rasmus-madsen commented on #8643
Hi @Muqing-Liu
I am not sure if you figured this out - but the CC is transmitted.
the CC you are point in to is from the bus - but the CSB circled in my drawing is related to the spi pins. which is why it comes later.

Since this is legal behavior it it needs to be verified that the DUT handles it correctly

[2021-10-18 13:20] imphil opened #8720 "[OTBN.H.DMEM_SCRATCHPAD] Document/specify feature in OTBN documentation"

[2021-10-18 13:24] #4239 closed

[2021-10-18 15:55] martin-lueker opened #8721 "[ CI ] Differences in Azure top files from locally generated files, even when using latest python packages"
We are having a doozy of a CI troubles:
https://dev.azure.com/lowrisc/opentitan/_build/results?buildId=55307&view=results

In this PR the system says that I have not been updating all the files properly.  It says I need to run `make -C hw top` (which I’ve done and committed everything).

I updated my python packages (as of 2021-10-16), and run  `make -C hw top` again.
I even tried running `./ci/sc

[2021-10-18 15:56] martin-lueker commented on #8721
@rasmus-madsen is having troubles with this in #8667.
My original PR was #8709

[2021-10-18 16:17] #8505 closed

[2021-10-18 16:48] #8162 closed, assigned to imphil

[2021-10-18 17:37] msfschaffner commented on #8207
@sha-ron I take it this is meant for top-level tests only, is that correct?

Please note that at the chip-level, SW like ROM code or drivers are relying on the open-source version of the AST register description (and all the generated constants).

We therefore need to make sure that the AST registers are correctly working using the generic open-source description only.
See [this document](https://

[2021-10-18 18:12] timothytrippel commented on #8721
@martin-lueker After looking at your PR it looks like there are three files/sets-of-files that are causing CI problems for you (all are related to the clang-format issue @imphil pointed out above):
1. `hw/ip/prim/dv/prim_secded/secded_enc.c`
2. the autogenerated IRQ chip-level test: `sw/device/tests/autogen/plic_all_irqs_test.c`
3. all of the autogenerated DIF unit tests: `sw/device/lib/dif/autoge

[2021-10-18 19:10] sha-ron commented on #8207
@msfschaffner
yes this is for top-level tests that use the proprietary AST.
Checking that the AST registers are working the open-source description is of course needed and we will have such tests.
But we also need to run top-level tests with the "real" AST registers (that some of them are proprietary/in the secure domain) and for that purpose we need the switch.

[2021-10-18 21:56] sriyerg opened #8729 "[usbdev] Low power wake up config is reset on low power entry"
The chip level DV test is failing in nightly regressions.
https://reports.opentitan.org/hw/top_earlgrey/dv/latest/results.html

To reproduce, run:
[code]

The sw test is located at:
`sw/device/tests/sim_dv/pwrmgr_usbdev_smoketest.c`

![image](https://user-images.githubusercontent.com/46467186/137811722-ceb330dd-cf06-4a9a-b8d3-5d90bf4ba788.png)

If I am reading this right, then it looks like the pr

[2021-10-19 09:06] GregAC commented on #8629
We may want something like this for OTBN for the LFSR backed URND but we're moving to a new PRNG @vrozic has been working on it.

[2021-10-19 12:28] imphil opened #8739 "[cw310] Enable debugging support through JTAG/OpenOCD"
The CW310 board doesn't currently provide software debugging support through GDB, as the Nexys Video board did. Implement that.

[2021-10-19 15:22] #6888 closed

[2021-10-19 15:22] msfschaffner opened #8743 "[kmac] Interrupt triggering"
Splitting out from #6888 to see whether we need to address this.

------------------------------------------------------------------

to @rswarbrick point, we should probably think about whether it makes sense that pure hardware triggered / response events really should be setting the interrupts though.

This might not matter for the `rom` case since it happens only at power up, but this could get

[2021-10-19 17:15] tjaychen commented on #8500
just FYI, the clock jitter really is meant to jitter from a max frequency
down to some other value.
So if we say for example nominal frequency is 100MHz, jitter means
100MHz-x% ~ 100MHz, not 100-x% ~ 100 + x%,

On Mon, Oct 18, 2021 at 5:50 AM Greg Chadwick ***@***.***>
wrote:

[2021-10-19 20:31] #8681 closed, assigned to tjaychen, eunchan, timothytrippel, msfschaffner, sriyerg

[2021-10-19 21:08] #8643 closed, assigned to martin-lueker, rasmus-madsen, Muqing-Liu

[2021-10-19 21:46] martin-lueker opened #8748 "[ top_earlgrey spi_host ] Move spi_host0 to main xbar"
From @tjachen's [comment made in #8709](https://github.com/lowRISC/opentitan/pull/8709#discussion_r732083731):

[code]

Now that spi_host0 is using a external CDC crossing we can do this simplification rather easily.
All of the issues surrounding the resets have been already dealt with in #8709, this would just be a topological change.

[2021-10-20 06:04] timothytrippel opened #8755 "[dif] Autogen dependency architecture does not match #8142."
The dependency architecture of the auto-genenerated DIFs does not match that described in #8142. Specifically, auto-generated C/C++ files, `dif_<ip>_autogen.c` and `dif_<ip>_autogen_unittest.cc`, should #include auto-generated header files, `dif_<ip>_autogen.h`, **_not_** manually implemented header files.

[2021-10-20 11:37] rswarbrick opened #8758 "[otbn] What requirements do we have on the relationship between edn_rst_ni and rst_ni?"
I just managed to generate a test where we applied the EDN reset slightly before the main reset while we were getting data back from the EDN interface for RND.

When this happens, we see a failing assertion (SyncReqAckDataHoldDst2Src). This assertion looks like:
[code]
Here, `clk_src_i` and `rst_src_ni` are the main clock and reset for OTBN (`clk_i` and `rst_ni`). The EDN clock and reset are `clk_

[2021-10-20 17:09] jesultra opened #8769 "[opentitantool] Add support for configuration files"
This issues tracks the implementation of feature of "Symbolic names for pins and ports" as discussed in [this brainstorming document](https://docs.google.com/document/d/1jEutTFPiE4HWxWMfTU4szy8ronS7nC_PPJOa5xOMWPg/edit?pli=1#heading=h.p6v6).

[2021-10-20 18:09] #8755 closed, assigned to timothytrippel

[2021-10-20 20:33] alphan opened #8777 "[sw/silicon_creator] Replace legacy flash_ctrl driver in boot_data with silicon_creator version"

[2021-10-20 20:38] alphan opened #8778 "[sw/silicon_creator] Default boot data"
During manufacturing we need to use a default boot data so that the chip can boot before the boot data is written to the info pages. We currently use the default boot data only if there are no valid entries in the info pages and the device is in a non-prod life cycle state, i.e. `TEST_UNLOCKED`, `DEV`, or `RMA`. Creating this issue to
* Review the life cycle states where the default boot data is a

[2021-10-20 20:42] alphan opened #8779 "[sw/silicon_creator] Possible recovery paths for missing boot data in prod life cycle states"
The current implementation favors security over availability since boot data includes security critical information such as `min_security_version_rom_ext`, and does not provide a way to recover a chip if it does not have any valid boot data entries in a prod life cycle state. Creating this issue to understand if we want/need a recovery path (in addition to the reliability measures we currently hav

[2021-10-21 05:10] #8409 closed

[2021-10-21 08:41] nicolast0604 opened #8796 "Is there any demo code for PWM and what's the base address of it ?"
Hi
Is there any demo code for the pwm in Earl Grey?

and, I can't find the base address of pwm in the link below.
https://docs.opentitan.org/hw/top_earlgrey/doc/

Could you please provide me this information?
Thanks a lot.

[2021-10-21 09:06] nicolast0604 opened #8797 "I2C in nexys video pinmux and xdc"
Hi I am very confused about the xdc and pinmux table, is there anything wrong ? It seems having discrepancy.
Or, any one who can help me understanding it.
Great thanks.

<html>
<body>

i2c0_sda | muxed | - | kTopEarlgreyPinmuxOutselI2c0Sda / kTopEarlgreyPinmuxPeripheralInI2c0Sda |  
-- | -- | -- | -- | --
i2c0_scl | muxed | - | kTopEarlgreyPinmuxOutselI2c0Scl / kTopEarlgreyPinmuxPeripheralInI2c0Sc

[2021-10-21 14:13] moidx opened #8800 "[sw/rom_ext] Implement ePMP initialization for ROM_EXT stage"
Implement ePMP initialization for the ROM_EXT stage.

[2021-10-21 15:47] imphil commented on #8796
There's neither a driver nor demo code at the moment for PWM.

You can find the base address of all modules e.g. in hw/top_earlgrey/sw/autogen/top_earlgrey.h:

[code]

[2021-10-21 15:49] #8708 closed

[2021-10-21 15:57] rswarbrick opened #8805 "[flash_ctrl,lint] Width mismatch errors in flash_phy_prog.sv"
Verilator lint currently complains about various width mismatches in `flash_phy_prog.sv`. The underlying cause is that the `MaxIdx` localparam has type `int` and is being compared with things of width `WordSelW`.

Confusingly, we fixed this once! Commit 3d70205 defined `MaxIdx` to have type `bit [WordSelW-1:0]`. This got reverted as part of 37eec2c and Verilator is warning again.

Rather than push

[2021-10-21 17:19] matutem opened #8808 "[rtl/rstmgr] Fix reset consistency"
Running rstmgr_smoke with seed 3668265746 results in the reset consistency alert firing. The reason seems to be that the state machine in rstmgr_cnsty_chk.sv should transition from Idle to WaitForSrcRelease in our case (because it is a sw_rst (thus no parent rst). However, the logic will transition to that if `sync_child_rst && src_valid`, but in this case it happens that they don't overlap, presu

[2021-10-21 17:41] tjaychen commented on #8796
@martin-lueker
do you guys have any dv code that could be used as a reference?

[2021-10-21 18:02] martin-lueker commented on #8796
Hi @tjaychen, @nicolast0604,
  It's all SystemVerilog right now, there no any c-examples yet.

[2021-10-21 18:11] tjaychen commented on #8796
i think that would be helpful too

On Thu, Oct 21, 2021 at 11:02 AM Martin Lueker-Boden <
***@***.***> wrote:

[2021-10-21 18:21] tjaychen commented on #8808
thanks for finding this @matutem. The problem is because I forgot to account for the synchronization delays on software asserted resets... let me think a bit about what's the best way to handle this.

[2021-10-21 18:27] #8729 closed, assigned to tjaychen

[2021-10-21 18:28] tjaychen opened #8811 "[sw] cleanup pwrmgr_usbdev_smoketest"
See [this link](https://github.com/lowRISC/opentitan/pull/8789#issuecomment-948097235) for more details.

[2021-10-21 18:28] tjaychen commented on #8811
@matutem
@sriyerg
FYI

[2021-10-21 19:09] tjaychen opened #8813 "[dv, clkmgr] update to support latest external clock switch scheme"
#8791 updates the external clock support scheme.
The current `clkmgr` DV does not fully support this since there is only a single `ast_clk_byp_req/ack`.
This is now split into `all/io_clk_byp_req/ack`, so corresponding dv updates will be needed.

[2021-10-21 20:50] cindychip opened #8814 "[dv/alert_handler] LPG TODOs for DV"
- [x] In alert_handler testbench, turn on `lpg_en` or `lpg_rst_en`, does not drive `alert_tx` and make sure ping timeout won't trigger.
- [x] In alert_handler testbench, turn off `lpg_en` or `lpg_rst_en`, does not drive `alert_tx` and make sure ping timeout does trigger.
- [x] In prim_alert_dv testbench, reset alert_receiver in between alert handshake (alert/ping/alert_test) and make sure alert_se

[2021-10-21 21:06] tjaychen opened #8815 "[tlul] tlul_sram_byte data integrity check"
When a byte write is issued to memory, `tlul_sram_byte` is responsible for doing a read first to generate the new word-wise integrity.

However, the read data integrity is not checked as part of this generation.  This potentially creates a security risk.

[2021-10-21 21:42] weicaiyang commented on #5484
@martin-lueker

As discussed, split it to 2 memories (one RO, and one WO) and use tlul_adapter_sram for them. Thanks

[2021-10-21 22:02] matutem commented on #8808
I agree it needs a fix, or else we will need to add all sorts of warnings to SV writers about how long things should be held, which can become a usability problem.

[2021-10-22 01:02] tjaychen commented on #7926
there is no need for an extra fixed clock for flash.

[2021-10-22 01:02] #7926 closed

[2021-10-22 01:16] colinoflynn commented on #8739
What hardware is actually needed for the debug - I was assuming a probe would just be attached to the JTAG port. Potentially it could be transported via the USB on the CW310 already (unrelated we had looked at implementing a 'FTDI clone mode' across all our boards to support FTDI-based tools, but not sure what is possible).

[2021-10-22 12:32] rasmus-madsen opened #8832 "spi_device CSR test fails for seed"
spi_device_csr_mem_rw_with_rand_reset -
fails on master and is blocking PRs

it also fails local runs with seed  2257198085
using xcelium (CI uses vcs)

could you look into this ASAP as it is blocking my PR

[2021-10-24 14:33] imphil opened #8849 "verible-lint GH Action reports violation for reggen-generated code"
With the verible-lint GH Action now enabled in reviews we get errors like the following one:

⚠️ **[verible-verilog-lint]** <sub>reported by [reviewdog](https://github.com/reviewdog/reviewdog) :dog:</sub><br>struct definitions always should be named using typedef. [Style typedef-structs-unions] [typedef-structs-unions]

This code is generated by reggen. We could either fix reggen to produce lint-p

[2021-10-25 09:29] imphil opened #8850 "[verible lint] Switch to `.rules.verible_lint` file extension"
We currently name Verible lint rules `.vbl`, the same extension we use for Verible lint waivers. We made up this file extension initially because there was no "standard", but since then Verible lint has added the ability to recursively search for rules files and looks for them under the `.rules.verible_lint` suffix. It would make sense for us to follow this example.

I didn't see an equivalent "st

[2021-10-25 13:38] #8645 closed, assigned to nobody

[2021-10-25 14:43] mundaym opened #8858 "[mask_rom] Consider skipping SRAM scrambling if AST is not configured"
If AST configuration is skipped (which may happen if the configuration has not yet been written to OTP) then we may want to have a mechanism to skip SRAM scrambling in order to avoid the key request stalling forever while it waits for entropy.

[2021-10-25 16:26] rswarbrick opened #8863 "[tooling] Stop auto-formatting checked-in code"
We're presumably doing this because then it passes lint, but it adds a burden on contributors to have the right version of `clang-format` (and maybe Verible in the future), even if they're not directly writing software.

This seems a bit pointless. Let's just spit out syntactically-valid-but-ugly autogenerated code and not lint it.

People who I know have run into this in the last few days: @Jacob

[2021-10-26 00:41] eunchan opened #8877 "[spi_device] TPM_CAP default value"
`TPM_CAP` should have a default value in `spi_device.hjson`.

[2021-10-26 01:10] weicaiyang opened #8878 "Default reset value in register document"
@rswarbrick
When reset value isn't specified in hjson file, should we use default reset value 0 in the rendered design spec?
Looks like it's changed to `x` if reset value is provided. See https://docs.opentitan.org/hw/ip/uart/doc/#register-table

Perhaps use 0 as default and use `x` only when it's explicitly provided as follows. WDTY?
https://github.com/lowRISC/opentitan/blob/613cfc1ac8863a7c6b47c

[2021-10-26 02:26] #8743 closed, assigned to rswarbrick, tjaychen, eunchan, cindychip, msfschaffner, sriyerg

[2021-10-26 02:43] timothytrippel opened #8879 "[dif] Alert force test DIFs should be autogenerated."
Like IRQ DIFs in #8142, the `dif_<ip>_alert_t` DIFs across all IPs can (and should) be autogenerated to both:
1. provide an alert test DIF for all IPs (most IPs are currently missing this functionality), and
2. to make the above consistent across all IPs to facilitate auto-generating an alert chip-level test.

# Tasks
To implement this, the following tasks must be completed:

(Addressed in #8880)

[2021-10-26 08:41] NigelScales opened #8884 "[lc_ctrl] coding issue for Cadence Xcelium"
## The lifecycle controller, lc_ctrl, builds but fails to simulate with Xcelium.

### To Reproduce:
./util/dvsim/dvsim.py hw/ip/lc_ctrl/dv/lc_ctrl_sim_cfg.hjson -i smoke --tool xcelium

### Syndrome:
Xcelium fails with the following error:
vsto_op_pdata - PARAMETER - no value, class 745, file: /projects/google/goo_opentitan/nigels/opentitan_ast_adc_agent/scratch/adc_ctrl_dv/lc_ctrl-sim-xcelium/def

[2021-10-26 12:51] #8850 closed, assigned to nobody

[2021-10-26 12:52] #8849 closed, assigned to nobody

[2021-10-26 14:40] GregAC opened #8898 "[otbn] Prefetch stage proposal"
To implement blanking for the register file in OTBN it is necessary to supply the register file inputs directly from flops. Otherwise glitches from the decode logic may produce the power signatures the blanking is aiming to prevent.

To achieve this in OTBN's single stage design an extra pre-fetch stage needs to be added. This will fetch the next instruction a cycle earlier to allow some pre-decod

[2021-10-26 16:51] patel-madhuri opened #8900 "[sysrst_ctrl] Address decoding for TLU register adapter looks incorrect"
###  Address decoding for TLU register adapter looks incorrect

**To Reproduce:**
./util/dvsim/dvsim.py hw/ip/sysrst_ctrl/dv/sysrst_ctrl_sim_cfg.hjson –i  sysrst_ctrl_csr_bit_bash –waves –gui –tool xcelium

**Description:**
The test fails giving assertion error:
**xmsim: *E,ASRTST (/projects/google/goo_opentitan/madhurip/opentitan/scratch/master/sysrst_ctrl-sim-xcelium/cover_reg_top/src/lowrisc_tl

[2021-10-26 17:29] moidx opened #8902 "[test] Enable secure boot end-end tests on the FPGA"
After lowrisc/opentitan#8697, ROM_EXT implements signature verification, which  requires refactoring the silicon_creator system tests to enable execution of signed tests.  Since tests will now include 2 sigverify operations, it makes sense  to try to run them on the FPGA.

[2021-10-26 22:55] #8686 closed, assigned to martin-lueker, Muqing-Liu

[2021-10-26 23:58] matutem opened #8904 "[sw/dif] Add parameters in autogen difs"
The dif of parameterized IPs need to hold the value of these parameters. For example, pwrmgr needs parameters to track both the number of reset requests it receives (2 for earlgrey), and the number of wakeups (6 for earlgrey). Rstmgr also needs the number of reset requests. Clkmgr may also have some parameters. I think the dif autogen flow should place these parameters in the generated dif.

I am

[2021-10-27 00:16] weicaiyang opened #8905 "[sram_ctrl] incorrect d_error when testing TLUL protocol errors"
@tjaychen

Looks like tlul_sram_adapter doesn't handle TLUL protocol errors correctly.
The `tl_i_int` that we supply for `tlul_err` is modified in `tlul_sram_byte`. In some cases, size and mark are changed to 2 and 'hf respectively. So that some incorrect size or mark can't trigger d_error.

[code]

There are a bunch of assertion errors in design, which shows some intermediate data are unknown.

w

[2021-10-27 06:05] #8904 closed, assigned to timothytrippel, sriyerg

[2021-10-27 08:58] imphil opened #8911 "[flash_ctrl] Fully purge flash_ctrl_wrapper"
`flash_ctrl_wrapper.sv` doesn't exist any more (https://github.com/lowRISC/opentitan/pull/7859#issuecomment-902872229), but it's still mentioned twice:

* https://github.com/lowRISC/opentitan/blob/master/hw/ip/flash_ctrl/doc/dv/index.md#design-features mentions

* https://github.com/lowRISC/opentitan/blob/e2f706ebafb34b84c81414b73ed7550b2ebf1e3c/hw/ip/flash_ctrl/dv/flash_ctrl_sim_cfg.hjson#L9

I c

[2021-10-27 09:36] vogelpi opened #8912 "[otbn, edn] Track fips status bit for RND"
I just noted that the OTBN EDN interface for RND doesn't track the `fips` bit of EDN. From the EDN spec:

Since we have some strict requirements on OTBN RND (AIS31-compliant class PTG.3 random number with guaranteed entropy and forward and backward secrecy) I thought we should maybe track the `fips` bit and if for any reason it gets de-asserted, keep requesting fresh entropy. However, at least in

[2021-10-27 14:12] jadephilipoom opened #8914 "[doc] Update directory structure overview"
As I was going through the documentation while onboarding, I've found that the directory structure described under `doc/ug/directory_structure.md` is a bit outdated and doesn't match the current codebase. In particular:
- Directories `top_englishbreakfast`, `syn`, `data`, and `ip_templates` are missing from "Directory structure under `hw`"
- Directories `silicon_creator`, `otp_img`, `riscv_complia

[2021-10-27 15:05] #8863 closed, assigned to rswarbrick, luismarques, imphil, mcy, moidx, timothytrippel, mundaym, arnonsha, sriyerg, martin-lueker

[2021-10-27 16:01] #8808 closed, assigned to tjaychen, sriyerg

[2021-10-27 17:46] silvestrst opened #8917 "[sram_ctrl] Multi-bit values contradicting `multibits.h`"
# Introduction

`sw/device/lib/base/multibits.h` values are contradicting the SRAM Controller multi-bit values. SRAM Controller suggests `kMubi4True = 0x5`, according to the "Code Execution from SRAM" in:
https://docs.opentitan.org/hw/ip/sram_ctrl/doc/index.html

The multi-bit values in the `multibits.h`:
[code]

[2021-10-27 21:18] tjaychen opened #8920 "[spi_host] default enable for sck and csb"
While reviewing #8866 , i noticed that the spi host by default drives both its [chip select and clock enables to 1](https://github.com/lowRISC/opentitan/blob/master/hw/ip/spi_host/rtl/spi_host.sv#L117).

can you confirm this behavior? I think we have seen issues in other systems at power-up where this becomes a problem.  If the spi lines are shared for example, we may come out of power on reset an

[2021-10-27 23:10] eunchan opened #8928 "[spi_device] Pending tasks for D2"
## Pending

- [x] Change Upload Command Interrupt #11871
- [ ] ~~Change CMD_INFO #10009~~ (Future Release)
- [ ] CG on SCK to control the sys reset release (discussed in #9344 ) (Not Yet Implemented)
- [x] Adding CSRs
  - [x]  Interrupts
  - [ ] ~~Read address update by SW (next_addr)~~ (Future Release)
- [ ] ~~Direct tests~~ (lower priority now)
  - [x] Upload
  - [x] Read SFDP
  - [x] EN4B/ EX4B

[2021-10-28 10:02] eshapira opened #8934 "[flash_ctrl] mass erase is blocked in flash_ctrl for info partition"
When request is sent to the flash_ctrl to do mass erase for info partition (flash_part_sel = 1), a recoverable error alert is asserted.
This means that mass erase to info partition is illegal at the moment in the flash_ctrl, even though the vendor is allowing it and it might be needed.

The reason the recov_err alert is issued is that the mass erase is not defined as a legal info transaction as de

[2021-10-28 12:40] colinoflynn opened #8935 "[otbn] Running p256_ecdsa_sign application twice in a row locks up"
In the `otbn_ecdsa_p256_test.c` file trying to run the sign operation twice in a row will lock up. The simplest test case is as follows:

[code]
This will give an output as follows:

[code]

And it will stick on the `CHECK(otbn_busy_wait_for_done(otbn_ctx) == kOtbnOk);` line.

Some other tests:

* Adjusting `test_ecdsa_p256_roundtrip` so it runs sign only once shows the verify operation can run tw

[2021-10-28 15:41] alphan opened #8937 "[sw/silicon_creator] Separate error space for crypto library"
@moidx's [comment](https://github.com/lowRISC/opentitan/pull/8685#discussion_r731413055) in #8685:

It looks like defining a separate error space for otbn and the crypto library and translating the errors to `rom_error_t` in `sigverify` (the only client in `silicon_creator`, this mapping does not need to be 1:1, can project N to 1-2 errors) can address this with minimal disturbance in `silicon_cre

[2021-10-28 15:51] alphan opened #8938 "[sw/silicon_creator] Move the definitions in `sigverify_rsa_key.h` to the crypto library"
Please see this [comment](https://github.com/lowRISC/opentitan/pull/8885#discussion_r738531354) for context.

[2021-10-28 16:37] rasmus-madsen opened #8944 "[Sideload/DV] Do we need a common agent for sideload?"
so A few modules are going to have a sideload port.
but currently, there are no plans to create a common agent that can be utilized.

should we make a task to build such one?

[2021-10-28 16:39] matutem opened #8945 "[rtl/rstmgr] Make cpu and alert info layout known to sw"
The alert_info contents is defined in alert_pkg::alert_crashdump_t, and cpu_info in ibex_pkg::crash_dump_t. The actual layout and size of these need to be known to software if we are ever to make use of these dumps. Maybe it can be piped via hjson?

[2021-10-28 17:07] tjaychen opened #8947 "[keymgr] input selection blanking"
Similar to otbn's current regfile, keymgr also has a situation where specific values are selected out of a large set of flops in one cycle.

Instead of allowing the selection to be purely one cycle as it is now, we should consider flopping these to ensure there are no spurious selections.  Ultimately this really only matters on the root key, so it may only matter for the cdi selection.

[2021-10-28 18:39] #8879 closed, assigned to timothytrippel, sriyerg

[2021-10-29 06:48] #8720 closed, assigned to nobody

[2021-10-29 17:34] sriyerg opened #8969 "[sram spec] Clarify instruction executability for retention SRAM"
SRAM main and ret share the same design. But, for retention SRAM, the instruction execution (which is controlled by a combination of OPT cfg, LC state and SW prog for the main SRAM) is completely disabled via a parameter.

This detail appears to be missing in the HW spec. PR #8955 attempts to capture all these scenarios that should be tested at the chip level for both, main and retention SRAM.

[2021-10-29 18:18] tjaychen commented on #8658
This implementation will make use of prim_clk_meas, but it must be enhanced to support clock timeout detection.

[2021-10-29 18:42] tjaychen opened #8970 "[sram_ctrl] regfile integrity error not used."
See below

https://github.com/lowRISC/opentitan/blob/ec466390bb137c9defceb13322d85642526eb732/hw/ip/sram_ctrl/rtl/sram_ctrl.sv#L66-L74

[2021-10-29 21:15] eunchan opened #8978 "[spi_device] Upload Payload SRAM strobe is always `F`"
Curren Upload module in the SPI_DEVICE always writes payload data with `F`. The payload is byte-granularity.

[2021-10-29 22:32] rswarbrick commented on #7021
Yep :-)

[2021-10-29 22:34] rswarbrick commented on #8945
Yep, I was imagining enhancing topgen. I don't think we've got a notion of "import" in reggen and I'm not sure that the crash dump structure would necessarily be specified in "reggen format" anyway.

[2021-10-29 22:36] tjaychen commented on #7021
nothing sounds better than something... especially since we will also have software redundancy.
Do you want to run this by the lowrisc side internally? I'm honestly good with what you've described here.

[2021-10-29 22:37] rswarbrick commented on #7021
@GregAC: Maybe this would be good for Monday's planning meeting? (@tjaychen: I'm actually on holiday next week, so I look forward to coming back and seeing what happened!)

[2021-10-29 22:42] tjaychen commented on #7021
@rswarbrick enjoy your vacation!

[2021-10-29 22:53] tjaychen opened #8980 "[clkmgr] Shadow configuration registers"
some of the more critical clkmgr registers (such as jitter enable) are not shadowed and therefore can potentially be disabled by an attack.

[2021-10-29 22:54] tjaychen opened #8981 "[pwrmgr, rom_ctrl] Enhance integrity test signaling to multibit"
This makes the early rom check signaling more robust between rom and pwrmgr.

[2021-10-29 23:00] tjaychen opened #8982 "[kmac] Security hardening"
- [x] Sparsely encode critical kmac fsms - this may already be complete
- [x] Add shadow registers to critical kmac configuration : (WIP) #7439
- [x] Replace critical counters with prim_count (for example key count / slicer index count)
- [x] Hook-up detected local faults (fsm in bad state, integrity error, shadow storage error, count consistency error) to local error escalation and alert output.

[2021-10-29 23:03] tjaychen opened #8983 "[all] Add prim mechanism to protect sensitive global constants in the design"
This primarily applies to

- [x] ~otp~
- [x] keymgr - in progress
- [x] lc_ctrl - state values?
- [x] optionally, also applies to default scramble keys - in progress
- [x] optionally, also applies to lfsr permutations / default seeds

[2021-10-29 23:05] tjaychen commented on #8610
@matutem i think this as you mentioned is implicitly covered.
If you agree, can you confirm and close this issue?

[2021-10-29 23:19] tjaychen opened #8984 "[flash] Security enhancement on scrambling"
Unlike other memories, flash's stored ECC is calculated over scrambled data to help with reliability.
This means the stored ECC cannot be used as part of end-to-end transmission integrity.

We should make use of the remaining spare flash space to address this issue.

[2021-10-29 23:20] tjaychen opened #8985 "[keymgr] enable / disable usage"
keymgr enable/disable checking is using strict instead of loose type.

This means as long as the enable is made to something that is "not disable", there could be unexpected behavior.
The check should be made more loose to cover this.

[2021-10-30 00:01] tjaychen commented on #8703
@weicaiyang i think this issue is addressed now right?

[2021-10-30 00:04] #8174 closed

[2021-10-30 04:40] eunchan commented on #8978
Addressed in #8986

[2021-10-30 12:06] matutem commented on #8610
So you wonder if we will be able to write clk_enables to disable and then to re-enable any peripherals? I believe that is the case, since the CPU should still be able to run code with all peripheral and transactional clocks turned off. We could close this issue and create one if the (to be created) full-chip test that disables clocks fails somehow. If you think this is a risky item we could raise

[2021-10-31 08:01] zi-v commented on #8858
Confirmed

[2021-10-31 16:35] alphan commented on #5954
These fields were added to the manifest in #6956 and are currently used in `mask_rom_boot()` to configure the key manager. I think this issue can be closed now, please let me know if you think otherwise.

[2021-10-31 16:35] #5954 closed

[2021-10-31 16:37] alphan commented on #6714
We currently configure the key manager in `mask_rom_boot()` and any returns from this function leads to a shutdown. Thus, I think that this issue can be closed now. PLMK if you think otherwise.

[2021-10-31 16:37] #6714 closed

[2021-10-31 22:34] mundaym commented on #6003
The MMWP bit is now set by the mask ROM (and probably will be part of the MSECCFG reset value too).

[2021-10-31 22:34] #6003 closed

[2021-11-01 11:48] rasmus-madsen commented on #8944
@weicaiyang  that should do the trick :)

[2021-11-01 13:55] GregAC commented on #8898
Following discussion in the security meeting we will be going ahead with implementing this.

We'll implement the initial proposal without any extras to improve `movr` performance as we don't feel the performance impact is of significance (in part because it can be worked around in critical cases).

[2021-11-01 14:10] #7469 closed

[2021-11-01 14:11] GregAC opened #8989 "[otbn] Implement internal secure wipe - non RTL work"
Implement the non RTL parts of internal secure wipe

[2021-11-01 14:13] #8898 closed

[2021-11-01 14:17] GregAC opened #8990 "[otbn] Resize DMem to 32 bits from 256 bits in ISS"
This work is required to enable DV around DMem integrity

[2021-11-01 14:19] GregAC opened #8991 "[otbn] Implement DMem integrity testing"

[2021-11-01 14:22] GregAC opened #8992 "[otbn] Finish up new PRNG"
New PRNG is available in a PR: https://github.com/lowRISC/opentitan/pull/7944 finish this up and get it merged

[2021-11-01 14:27] GregAC opened #8994 "[otbn] Implement prefetch stage"
This is to implement prefetch stage only. Implementing blanking will be a separate task

[2021-11-01 14:32] GregAC commented on #7021
We shall leave this as is (no specific functionality to poll if a key rotation is occurring as existing OTBN busy status suffices).

[2021-11-01 14:32] #7021 closed

[2021-11-01 15:33] weicaiyang commented on #8703
Yes, thanks @tjaychen

[2021-11-01 15:33] #8703 closed

[2021-11-01 15:59] weicaiyang commented on #8699
Fixed via #8706

[2021-11-01 15:59] #8699 closed

[2021-11-01 17:01] tjaychen commented on #8610
yeah so i should clarify, this particular function, being able to disable peripheral clocks and turn them back on, is more a "debug" feature than a real functional feature.

In reality, there will be almost no scenarios where we can turn off peripheral clocks and actually expect things to still work normally.  So this is largely more useful in determining the power consumption of the peripheral cl

[2021-11-01 17:44] #8970 closed

[2021-11-01 17:59] cindychip commented on #8715
The chip level test chip_sw_clkmgr_smoketest passed so I will close this issue.

[2021-11-01 17:59] #8715 closed

[2021-11-01 18:55] #8969 closed

[2021-11-01 22:44] #8706 closed

[2021-11-01 22:44] tjaychen commented on #8706
known issues addressed.

[2021-11-01 23:18] timothytrippel opened #9002 "[sw/testing] CHECK_BUFFER macro is inconsistent with other CHECK* macros."
The `CHECK_BUFFER(...)` macro in `sw/device/lib/testing/check.h` has a slightly different format than other `CHECK*(...)` macros. Specifically it does not set the test status directly, and does not support printing a user-supplied error message. The result tests having to call the `CHECK_BUFFER(...)` macro followed by the `CHECK(...)` macro in test code.

This issue was first discovered [here](htt

[2021-11-02 11:54] GregAC commented on #5445
This has been superseded by other spec work.

[2021-11-02 11:54] #5445 closed

[2021-11-02 11:54] #4996 closed

[2021-11-02 11:56] GregAC commented on #8994
Proposal to implement is here: https://github.com/lowRISC/opentitan/issues/8898

[2021-11-02 11:57] GregAC commented on #7883
The prefetch stage will be implemented, implementation issue is here: https://github.com/lowRISC/opentitan/issues/8994

[2021-11-02 11:57] #7883 closed

[2021-11-02 15:22] eunchan commented on #8978
Resolved in the PR

[2021-11-02 15:22] #8978 closed

[2021-11-02 15:22] eunchan commented on #8877
Resolved in the PR

[2021-11-02 15:22] #8877 closed

[2021-11-02 15:49] #8944 closed, assigned to rswarbrick, cindychip, sriyerg, weicaiyang, senelson7

[2021-11-02 17:07] GregAC opened #9011 "[tracking][otbn] New fatal alert for PRNG lockup"
The new xoshiro primitive (https://github.com/lowRISC/opentitan/pull/7944) detects when it reaches an all zero state. As used within OTBN this isn't possible with normal operation so is a sign of an attack. A lockup being detected should result in a fatal error.

- [ ] Document
- [ ] Implement
- [ ] Design Verification
- [ ] DIF/host SW (if necessary)

[2021-11-02 19:31] tjaychen opened #9012 "[clkmgr, dv] DV updates"
Due to recent `clkmgr` changes in #8791 and #9001, there are a couple of dv updates required

1. Since jitter enable has switched to a `mubi` value, it is now necessary to test to non-true / non-false values to ensure behavior is correct
2. External clock switch is now split between io_clk_byp_req and all_clk_byp_req variants, both would have to be tested.

[2021-11-02 20:33] #8980 closed

[2021-11-02 22:15] #8905 closed

[2021-11-02 22:47] weicaiyang opened #9017 "ASSERT_INIT doesn't work for Xcelium"
It's fine with VCS. But it looks like a race condition issue on Xcelium. Adding #0 can fix it. Not sure if it's a right approach.
Filed an issue with Cadence. Will update this issue once I get the answer from them.

Expand the macro, this is how we use in OT.
[code]

@sriyerg @matutem @cindychip @rasmus-madsen

[2021-11-02 22:49] cindychip commented on #9017
Thanks weicai for tracking and providing the fix.

  Cindy Chen

On Tue, Nov 2, 2021 at 3:47 PM weicaiyang ***@***.***> wrote:

[2021-11-03 01:14] #4122 closed

[2021-11-03 01:19] tjaychen commented on #5385
this has been fixed (although i dont' remember by whom..)

[2021-11-03 01:19] #5385 closed

[2021-11-03 01:20] tjaychen commented on #5041
closing out an old issue, this has already been addressed in the latest `sensor_ctrl`

[2021-11-03 01:20] #5041 closed

[2021-11-03 05:24] eunchan commented on #9017
I thought `ASSERT_INIT` is only for the parameter checking. Do you see the errors on the parameters too?

[2021-11-03 06:21] weicaiyang commented on #9017
If comparing a parameter with another parameter or constant value, it's fine.

In this case that I assign logic with parameter and compare this logic with the parameter, it's failed.
[code]

We have a similar case here.
https://github.com/lowRISC/opentitan/blob/0d25f96ef96dc33247f25b7ffb93e18f752c5299/hw/ip/keymgr/rtl/keymgr.sv#L649

[2021-11-03 06:52] #9002 closed

[2021-11-03 08:55] vpalatin opened #9023 "firmware linking fails with GCC 11 due to DWARF5 section"
When trying to build the firmwares with a GCC 11.1.0 riscv32 cross toolchain, we are getting the following warnings about the unhandled `.debug_loclists` and `.debug_rnglists` and `.debug_line_str` sections,
and these warnings fail the build.
e.g.
[code]

Those debug sections are defined in _DWARF5_.
So we likely want to add them in the `sw/device/info_sections.ld` linker script along with the oth

[2021-11-03 08:55] rasmus-madsen commented on #9017
@weicaiyang could you provide a method of reproducing this issue?

[2021-11-03 12:08] rasmus-madsen commented on #9017
@weicaiyang this is an interesting case.
I do think xcelium has the expected behavior - and VCS does not. and I don't think it is a "real" race condition

the assertions are sampled in the Preponed region i.e before the active region that handles the `initial `and `assign`
i.e it gets the value from the "previous" time slot - but there was no previous time slot. in which case I assume the assertio

[2021-11-03 12:23] rasmus-madsen commented on #9017
giving it some more thought I think your example should ALWAYS result in the assertion firering.
the scheduling of `assign b = P;` should always happen after an initial block.

but I assume in your kmac example the tb actually sets the "P" value in another initial block.
and in this case I think it is acceptable to push the evaluation of the assert to the re-active region

[2021-11-03 17:15] weicaiyang commented on #9017
Thanks @rasmus-madsen's inputs. I think you probably explain how the xcelium behaves

I got this reply from Cadence. I think both VCS and Xcelium are right. Adding #0 looks like a right approach to avoid this race condition issue.

![unnamed](https://user-images.githubusercontent.com/49293026/140136599-e739c007-2872-44ef-85eb-49c51f568919.jpeg)
 get required results and proceed ahead.

[2021-11-03 17:52] cfrantz opened #9027 "Move GlobalMock to a more universal location"
Currently, `GlobalMock<T>` exists under sw/device/silicon_creator, however it is a useful class for testing in other parts of the codebase.

Move/refactor GlobalMock into a more universal location.

[2021-11-03 17:57] cdgori commented on #8947
Yep, as we talked about offline, this would be ideally done to prevent spurious reads of key material.

[2021-11-03 18:06] cdgori commented on #7847
Agreed that this is nice-to-have.  @imphil 's proposed workaround looks OK if this is considered necessary for a specific OTBN crypto routine.

[2021-11-03 18:25] #9023 closed

[2021-11-03 21:39] msfschaffner opened #9036 "Extend `multibits.h` with conversion functions"
Should we inline this in `dif_base.h`? Other blocks will likely need this conversion too.

_Originally posted by @sriyerg in https://github.com/lowRISC/opentitan/pull/9034#discussion_r742348151_

[2021-11-03 21:40] msfschaffner commented on #9036
How about we replicate the `mubi?_test_(true|false)_(strict|loose)` functions in `multibits.h`, similar to what we do in RTL?

_Originally posted by @msfschaffner in https://github.com/lowRISC/opentitan/pull/9034#discussion_r742350339_

[2021-11-03 21:42] cfrantz opened #9037 "Migrate `ARRAYSIZE` to `macros.h`"
Migrate `ARRAYSIZE` to `macros.h` and fix includes in modules using ARRAYSIZE.

[2021-11-03 21:50] timothytrippel opened #9038 "[util] Add support to autogenerate ISR testutils functions."
# Overview

Many chip-level tests will need to service IRQs (the `[plic_all_irqs_test](https://github.com/lowRISC/opentitan/blob/master/sw/device/tests/autogen/plic_all_irqs_test.c)` is one example). This requires invoking several IRQ related DIFs, all of which are auto-generated (see #8142). The DV team has indicated that it would be useful if we could also auto-generate a higher-level testutils

[2021-11-03 22:07] timothytrippel commented on #9036
Yeah I think this makes sense to add to DIF base. Actually ether are also some `toggle_to_bool()` and `bool_to_toggle()` private functions floating around across many of the DIF libs.

[2021-11-03 22:14] timothytrippel commented on #9036
Task Burndown:

- [ ] add `bool_to_toggle()` and `toggle_to_bool()` functions to `dif_base` lib
- [ ] add `multibit_bool_{4,8,12,16}_to_toggle()`and `toggle_to_multibit_bool_{4,8,12,16}()` functions to `dif_base` lib
- [ ] deprecate DIF lib specific implementations of above and integrate the base versions across all IP DIF libs

[2021-11-03 22:18] eunchan opened #9041 "[kmac] Countermeasure and hardening"
- [x] Adding FSM sparse encoding for missing submodules
  - [x] Add local alerts for the invalid state encoding
- [x] Add global alert escalation input port
- [x] Add logic to stop operation and enter to dormant state when local alert or global escalation alert occurs.
- [x] Add logic to securely wipe the SW programmed secret key shares #1920
- [x] counter protection (key index & round count) #774

[2021-11-03 22:35] sriyerg commented on #9036
Sounds great!

[2021-11-03 23:09] cdgori commented on #9041
here, I would say "securely wipe" rather than "wipe out"

for the dormant state, should we think about resetting the keccak state?  (@tjaychen  should we ask some other folks to see if they have opinions?  We believe that the hamming weight leakage of something that wide is not problematic, and I feel like zeroing anything potentially sensitive and based on early-terminated operation isn't a bad i

[2021-11-03 23:38] tjaychen opened #9043 "[prim] Enhance sparse fsm script for DV compatability"
- create another primitive that wraps the prim_flop that can be used by DV to anchor
  - an input that indicates the state is "invalid"
  - this needs to be added by the designer

- Assertion at the ip top level has
  - hierarchical path to this prim module
  - associated alert

[2021-11-03 23:40] tjaychen commented on #9041
i also filed #8982 a few days ago, but I believe most of the points are already covered here.
@eunchan would you mind having a look and just closing the other issue if it's the case?

[2021-11-03 23:41] cdgori commented on #7747
See #9041

[2021-11-03 23:56] cdgori commented on #2661
Working through my backlog, tagging @felixmiller here to comment.  I feel like we settled on passing curve params via DMEM at some point, but early on Felix wasn't 100% sure that would be the solution.

[2021-11-04 00:03] moidx opened #9044 "[sw] Move DV sections into sw/device/info_dv_sections.ld"
Move DV definitions out of sw/device/info_sections.ld to improve code reuse in the `sw/device/silicon_creator` and `sw/device/silicon_owner` modules.

[2021-11-04 00:20] sriyerg commented on #9043
Few more notes: The signal indicating the FSM is in valid state can be hidden behind a macro. This will expose an unused signal `valid_state`.

The sparse FSM script will, in addition to generating the FSM state enum, dump the line below that the designer can stick into the module implementing the FSM.
[code]

This macro will be defined in `prim_sparse_fsm` module (or separate file in the same fus

[2021-11-04 00:24] moidx opened #9045 "[sw/silicon_creator] Move the ROM_EXT size definition into a common location."
`silicon_owner` boot stages start right after the end of the ROM_EXT. The ROM_EXT also needs to know the starting offset of the `silicon_owner` partitions.

[2021-11-04 00:35] weicaiyang commented on #9043
Good point. Internal signal also works and we can fully isolate it from synthesis.

seems like macro is not needed either, since it's only used once in prim_sparse_fsm.

we need to know the name of the prim_sparse_fsm instance too, right? It could be any arbitrary name.

[2021-11-04 00:38] tjaychen opened #9046 "[usb, top] Investigate method for double usb pads"
We may need to add a two pads for each USB_P and USB_N function.

If we were to do so, the output from usbdev would drive both sets.
The input we would arbitrarily pick one, and the pad controls would need to be unique.

Given these constraints, what is the easiest way to enable this function in top_earlgrey?

The USB pads are manual pads, so we can hook them up as we see fit.  However I believe o

[2021-11-04 00:47] eunchan commented on #9041
Thanks Tim, I didn't notice it. Looks like I missed the shadow register item here. Just added :) Thanks!

[2021-11-04 00:52] eunchan commented on #9041
Revised. :) thanks !

[2021-11-04 00:53] eunchan commented on #8982
Thanks for summarizing the pending items Tim. I will get back to this after SPI_DEVICE D2 stage :)

[2021-11-04 08:59] felixmiller commented on #2661
I think this can be closed now. In our curve-specific crypto code (P-256, P-384) we moved the constants to the data section a while ago. For the (yet to come) generic version, we will have to pass the domain parameters through the IBEX/DMEM interface anyways.

[2021-11-04 11:16] NigelScales commented on #8884
@msfschaffner
I've done a PR https://github.com/lowRISC/opentitan/pull/9052
The template generates `if(n)defs round the enums / parameters so by default the simulation uses enums.

[2021-11-04 16:05] msfschaffner commented on #9046
Ok, the easiest way would be to add two more manual pads as you describe - the only issue with that is that we get two more ports at the chiplevel (we can try to manually short the two ports with a wire so that they belong to the same net in RTL, though).

As for the pad attributes, do they have to be unique per pad instance or per pad group (D+/D-)?

Or do we only have to control the attributes o

[2021-11-04 16:27] sriyerg commented on #9017
Assigning b right at the time of declaration (i.e. during elab rather than runtime) also works. Agree with @rasmus-madsen, assertions are evaluated in observed region but uses signal values computed from the preponed region. At t = 0, the preponed does not exist, so it will use the declaration values.

[2021-11-04 16:39] tjaychen commented on #9046
per Ziv's request, the pad control should be unique.
As for having two chip level ports (that's kind of what I expected as well), I think that is acceptable as well, because we can always short in the package.

I just think for the upcoming milestones it's not worth trying to tweak the automation too much to accommodate an on-die shorting if it's a lot of work.

What do you think? You're a better

[2021-11-04 16:44] eunchan commented on #9017
assuming `ASSERT_INIT` being used in the design, assigning value at the declaration cannot be used. I don't recall the details but DC or some other tool fails if a module uses `logic sig = value;` So, if we really want to use `ASSERT_INIT` for signal, putting `#0` seems to be a solution.

[2021-11-04 17:00] msfschaffner commented on #9046
Yeah just adding two pads and making the rest of the connections manually is the most straightforward way to do this right now.

As for the pad attributes, we currently only have two registers in the pinmux (for D+ and D-).
I see on Ziv's block diagram that one pad in a pair has the attributes shorted to zero.
That case can be accommodated.

If this requirement has changed and we need the equivale

[2021-11-04 17:11] weicaiyang commented on #9017
In sec_cm assertion, we have to break it into 2 lines, declaring the logic in the prim and assign value in the assertion macro.
Since LRM doesn't enforce a consistent outcome for this, l think `#0` is the best solution I can find.

[2021-11-04 17:58] tjaychen commented on #9046
i could be mistaken, but i think Ziv wanted two sets of pad attributes
because he wanted to control drive strengths.

Ziv can you confirm?

On Thu, Nov 4, 2021 at 10:00 AM Michael Schaffner ***@***.***>
wrote:

[2021-11-04 18:02] eunchan commented on #8928
Created a PR #9054 for the Data swap feature CSR

[2021-11-04 18:43] alphan opened #9056 "[sw/silicon_creator] boot_data copies during write operations"
Given that `boot_data` is a complex type, this looks like an implicit copy operation. Since `boot_data_entry_write` copies the data into a buffer, I wonder if we should create an `union` type (ignoring endianness concerns).

_Originally posted by @moidx in https://github.com/lowRISC/opentitan/pull/9015#discussion_r742411456_

[2021-11-04 20:20] msfschaffner commented on #9046
I have prepared an initial draft in #9059 so that you can see how the solution I had in mind would look like.

[2021-11-04 22:07] eunchan commented on #8928
Created a PR #9060 for the port change in the passthrough module.

[2021-11-04 22:22] weicaiyang commented on #8884
Last week, I talked to Cadence AE regarding this issue. They suggested to use version 21-9 which might fix the issue. I finally got the tool installed today but it still has the same problem. Will keep this posted once I got update from them.

[2021-11-04 23:36] cindychip commented on #8814
make sure lpg_en connects to the correct alert_sender.

[2021-11-05 00:15] msfschaffner opened #9062 "[rom_ctrl] Security hardening ideas for ROM_CTRL"
I just recently had a look at `rom_ctrl` and noticed some signals that could benefit from multibit encoding, for example

1. the `good` signal here:
https://github.com/lowRISC/opentitan/blob/1a84e2dc27cf027cd26bdbcea31c5f79aa0f7d65/hw/ip/rom_ctrl/rtl/rom_ctrl.sv#L321

2. the `sel_q` register (and potentially the `sel_i` signal) here:
https://github.com/lowRISC/opentitan/blob/1a84e2dc27cf027cd26bdb

[2021-11-05 00:38] tjaychen commented on #9062
related, #8981

[2021-11-05 04:19] matutem opened #9064 "[ast,pwrmgr] Strange glitch in usb clock"
This is a strange issue, and may not be a problem at all, but it is weird enough we should consider it.

Imagine a low power transition when the usb clock was disabled in active mode, but is configured on when in low power. Yes, this is bizarre. On top of that, imagine we set main_pd_n to 0. So main power is off, yet we have the clocks configured on and main power off during low power.

Well, in t

[2021-11-05 06:44] sriyerg commented on #9017
Hmm. After reading the LRM more carefully regarding the immediate assertions in section 16.3:
[code]

My bad - only the concurrent assertion properties are evaluated in the observed region (with signals sampled from preponed region. LRM section 16.5.1 talks about sampling intricacies).

Adding #0 delay in ASSERT_INIT in this specific case is okay.

[2021-11-05 09:24] NigelScales commented on #8884
That's always the first response.
It's worth a try because more LRM features are being implemented with each release.

[2021-11-05 10:30] arnonsha opened #9068 "[VCS] missing type casting (mainly mubi)"
When trying to compile chipe_earlgrey_asic with VCS I get the following warnings, all related to missing type casting.
DC and LEC might not treat this missing casting the same way, which may lead to non equivalence logical checking. We are currently debugging such non-equiv result. I think these should be fixed:

Warning-[ENUMASSIGN] Illegal assignment to enum variable
...opentitan/hw/ip/otp_ctrl/

[2021-11-05 15:48] drewmacrae opened #9069 "[bazel] relevant files not checked for license headers"
bazel files with names: "BUILD" and "WORKSPACE" and "*.bzl" aren't checked for license headers
Checks would have to exclude a few vendored ones like the ones listed in .bazelignore

[2021-11-05 16:25] tjaychen commented on #9064
yeah this is indeed kind of odd. i wonder if it would be better if we just removed the lp / active indication for usb, and just leave one of them. Then we leave the control unambiguously in software's hand all the time.

Ie, if software wishes to have usb clock active for some reason, they will simply just leave it on all the time.

[2021-11-05 17:31] weicaiyang commented on #9017
Thanks for digging into this.

[2021-11-05 17:41] jadephilipoom opened #9072 "[sw/silicon_creator] Is the RSA modulus definitely > R / 2?"
The Ibex implementation of `sigverify` assumes that the RSA modulus (public key) is between R / 2 and R (R=2^3072); that is, the highest bit of the 3072-bit number must be set:
https://github.com/lowRISC/opentitan/blob/3d156ce35e0ba559b5246c96286c0568cfa559c0/sw/device/silicon_creator/lib/sigverify_mod_exp_ibex.c#L78-L80

However, I'm having trouble finding a reference that guarantees this is _def

[2021-11-05 17:53] jadephilipoom opened #9073 "[sw/silicon_creator] Possible speedup for Ibex Montgomery modexp"
Because the Ibex Montgomery implementation computes the constant R^2 on-the-fly rather than storing it, it's possible to save ~1 montgomery multiplication for each verification by transforming the signature to Montgomery form in a different way. Essentially, instead of computing:
[code]
...we can simply do:
[code]

Normally this wouldn't make sense because you'd compute R^2 once and then use it fo

[2021-11-05 22:56] #9017 closed

[2021-11-05 23:42] msfschaffner opened #9079 "[dvsim] merge lint parsing functionality into dvsim and remove individual parser scripts"
We should extend Dvsim with a generic parser library that can be used to parse arbitrary tool logs.
This will allow us to unify how result logs are parsed among different Dvsim flows, and to remove individual parser scripts (as for example done in the lint and synthesis flows).

The message categories, severities and patterns should become part of the Hjson configuration for Dvsim rather than bein

[2021-11-06 03:09] tjaychen opened #9083 "[csrng] prim_count error not hooked up to alert"
While working on #9082, it was discovered that the prim_count error does not appear to be hooked up to either a recoverable or fatal event.

@mwbranstad can you double check and let me know if I just misread?

[2021-11-06 03:11] tjaychen opened #9084 "[dv] prim_count assertion"
Blocks such as `csrng` and `edn` qualify their alert events with the respective module's enable.
Ie, if the module is not enabled, neither fatal or recoverable alerts can occur.

I think there are a few things we can discuss here:
1. It is probably worth adding an enable condition to the prim count alerts
2. should we consider certain error events to be always enabled in csrng / edn etc?

The alwa

[2021-11-06 03:12] tjaychen commented on #9084
@senelson7
@cdgori

for opinions.

[2021-11-06 03:59] #9046 closed

[2021-11-06 04:51] msfschaffner commented on #9068
Thanks @arnonsha. I will take a closer look next week.

[2021-11-06 05:17] matutem opened #9085 "[pwrmgr] Transfer pwrmgr programmers model from doc to markdown"
Something is not working with the wake_info CSR. It is meant to be rw1c, but I am getting test failures due to failing to clear it.

The pwrmgr_wakeup test is clearing the wake_info register at 11226192 ps
 but as you can see from the waves, it seems the data is all zeros one cycle
after  write enable

UVM_INFO @  11195580 ps: (pwrmgr_scoreboard.sv:198) uvm_test_top.env.scoreboard [uvm_test_top.en

[2021-11-06 05:59] tjaychen commented on #9085
@matutem sorry i don't completely remember the logic here, but did you disable wakeup recording before attempting to clear?  See [here](https://github.com/lowRISC/opentitan/blob/master/hw/ip/pwrmgr/data/pwrmgr.hjson#L443)

incidentally it looks like the register description is completely bogus, i need to update that.

[2021-11-06 07:12] matutem commented on #9085
So you mean unless capture is disabled this csr should be considered read-only for software? You are right, the doc should be clearer on this point.

Anyway, if I disable capture all works as expected. So this is a doc issue.