[2022-10-20 21:09] alphan commented on #15595
Thanks for looking at the code @dmcardle! I agree with your decision #15617, this is an implementation detail of OpenOCD so it's a good idea to `fence.i` just in case.

[2022-10-20 21:10] #15595 closed

[2022-10-20 21:37] cindychip commented on #15538
This test inject error at `tb.dut.top_earlgrey.u_rv_core_ibex.u_core.u_ibex_core.core_busy_o`, but did not see the major alert trigger. From the waves, looks like the `core_busy_o` paused the lockstep clock for one clock cycle. Hence we need one more clock cycle of delay.

The test seems to pass when I added one more cycle of delay.

![image](https://user-images.githubusercontent.com/11466553/1970

[2022-10-20 21:53] tjaychen commented on #15538
@GregAC
@vogelpi

can you guys have a look at this? I think the main issue is that `core_busy` is also used to control the architectural gating to both the normal and shadow cores, so we get this "one extra cycle" issue.

It actually feels like the small amount of glue logic that works to detect deltas between the two cores should probably be on logic that is not architecturally gated.  Let me kno

[2022-10-20 22:13] msfschaffner opened #15624 "[pwrmgr] Cleanup powerup sequence and strap sampling pulse"
Due to the reset domain reorganization #15317, there are a couple of things that should be cleaned up and simplified in the power manager FSM:

- the strap sampling pulse can be issued earlier, before the ROM check is started.
- TBD cleanup staggered resets of the previously named `lc` and `sys` domains

We can discuss the exact details of the change in a quick meeting if needed.

[2022-10-20 22:15] #15422 closed

[2022-10-20 22:49] matutem commented on #15599
The ast por_ni input goes inactive at after 10 microseconds, and the next relevant change is ast's ast_pwst_o output, which asserts aon_pok and main_pok at about 905 micros. This seems to be due to dly_cnt in rglts_pdm_3p3v, which counts down from LC2HCOC[8:0] down to zero on the aon clock. These are the 102 cycles you mention above, but the AON clock frequency starts uncalibrated, and in the part

[2022-10-20 23:11] matutem commented on #15423
There are close to 500 unused* signals under hw *sv files. I imagine some automation for disabling toggle for these is doable.

As for the snippets of assertion-only code, some of it is under `ifdef INC_ASSERT, which could also be easy. Not sure how much such code is not under this ifdef.

[2022-10-21 00:00] matutem commented on #15361
Same test, same seed, with and without dumping:

without dumps:
wall-clock time at start/end: 16:41:26/16:49:23 ==> 7:57

with dumps
wall-clock time at start/end: 16:24:08/16:33:58 ==> 9:50

So dumps takes about 25% more wall clock time. Notice the VCS reported CPU Time is misleading, since it represents the total by all threads, and VCS does all dump IO on a separate thread which runs concurrentl

[2022-10-21 00:04] matutem commented on #15361
This could make much more sense for other purposes, like reducing the generated artifacts that need to be shuffled along, since waves files can get big. It can also make sense for very long running sims that do nothing "interesting" for a long time, but I am sure many of you have had to rerun with more waves when tracing some problem.

[2022-10-21 00:17] cdgori commented on #15361
That's good data @matutem.

In the past, for the compiled simulators (VCS in particular I know for sure, but NCVerilog/Xcelium I believe as well) if you actually compiled the simulation binary without any waveform dumping linked in at all, you could see a pretty big speedup (versus compiled-in-but-not-dumping where you get the ~20% you saw) because the compilation of the DUT logic could be much mo

[2022-10-21 00:35] Jacob-Levy commented on #15599
@matutem The 102 was derived from the fastest AON clock which is the calibrated one for the switching back from PD. The AON clock does not loose calibration unless VCC is lost.

I will add a plusargs to accelerate only the Cold Power-up case.

[2022-10-21 00:37] cdgori commented on #15507
Thanks for the "roadmap" - looks great.

You almost certainly know this already, but for the avoidance of doubt: the hardened HMAC of 1b is potentially a lot of work to evaluate thoroughly :( - my recollection from previous work is that it took a great many iterations to get right.

[2022-10-21 03:18] matutem opened #15631 "[dv,top-level] Re-organize testplan for all_escalation_resets"
The chip_sw_all_escalation_resets test is only associated to the chip_sw_*_escalation_reset testpoints, for clkmgr, pwrmgr, and rstmgr. Rather than creating a testpoint for each unit's escalation resets it is better to add a generic testpoint.

In addition, we should add covergroups to record the alerts and specific fault bits being set.

[2022-10-21 03:41] tjaychen commented on #15624
it's probably worth pointing out that until we fix the strap sampling change, we could end up blocking entry into RMA in the worst case. @msfschaffner is there anything else you can see that might cause blockage? Outside of `otp_ctrl` and `lc_ctrl`.

[2022-10-21 03:44] tjaychen opened #15632 "[flash_ctrl] RMA burst ratio and flash endurance"
During rma entry, the flash controller currently writes one flash word at a time.
Depending on the flash technology, this level of writing may bring flash close to its endurance limit before an erase.

We should slightly increase the program burstiness to ensure this does not happen.
Ideally this should be a templated parameter, but an easier solution is probably better for now.

[2022-10-21 03:45] tjaychen commented on #15632
@jdonjdon

[2022-10-21 04:43] #15607 closed

[2022-10-21 05:48] cindychip commented on #15459
Fixed in PR #15605.

[2022-10-21 05:48] #15459 closed

[2022-10-21 08:26] vogelpi commented on #15538
It's on my list to harden the `core_busy` signal with a MuBi. I hope this should fix this as well.

[2022-10-21 08:41] jadephilipoom commented on #15507
Yep, we're aware this is a big one! We actually need it for the crypto library in general, though, so it doesn't change any plans massively to use it here.

[2022-10-21 12:01] abdullahvarici commented on #14115
I have completed the PR: https://github.com/lowRISC/opentitan/pull/15594 and now waiting for reviews. After merging I will check nightly regressions and close this issue.

[2022-10-21 12:23] drewmacrae opened #15640 "Fetching for Clippy fails and stalls airgapped environments for ~60s"
When rust rules fail to fetch https://static.rust-lang.org/dist/2022-03-22/rustc-nightly-x86_64-unknown-linux-gnu.tar.gz to build clippy they wait for the timeout to proceed before continuing which means each build stalls for ~60s

The build system kicks off a sequence of builds serially which means building n targets stalls for n*~60s which can be pretty significant.

Can we pin clippy to depend

[2022-10-21 13:33] vogelpi commented on #8460
When moving some shadow register bits around for #15641 I came again across this issue. I went through it again. The corresponding tests are passing, and the behavior of DV and RTL is documented (with links to this issue and lowRISC/OpenTitan#10617). I am now closing this issue.

Please feel free to re-open if you don't agree.

[2022-10-21 13:33] #8460 closed

[2022-10-21 13:33] vogelpi commented on #10617
When moving some shadow register bits around for #15641 I came again across this issue. I went through it again. The corresponding tests are passing, and the behavior of DV and RTL is documented (with links to this issue and lowRISC/OpenTitan#8460). I am now closing this issue.

Please feel free to re-open if you don't agree.

[2022-10-21 13:33] #10617 closed

[2022-10-21 13:36] drewmacrae opened #15642 "AES tests misconfigure one-hot fields of a transaction"
Many aes tests including the aes_smoketest and the entropy_src_edn_reqs_test configure the mask reseed field to a reserved value.

Because the transaction type is a c struct, the field is initialized to 0 and then unset and is therefore not a 1-hot value as it's supposed to be. Adding a check to the dif makes these tests fail. Initializing the value will fix them (and should also make them run fas

[2022-10-21 13:37] drewmacrae commented on #14193
AES tests misconfigure transaction #15642

[2022-10-21 13:44] vogelpi commented on #15642
Hi @drewmacrae ,
the reason for using 1 hot encodings here is security. Internally, the hardware will resolve invalid values to the safest setting (i.e., reseed on every block).

I just filed a PR that touches all these tests because it changes some bits in the control register. Let me quickly extend the PR to set a valid configuration for this field in every test.

[2022-10-21 14:00] vogelpi commented on #15642
Here is the PR #15641, I've now modified these tests such they all set a valid value.

[2022-10-21 15:27] msfschaffner commented on #13611
@msfschaffner

[2022-10-21 15:27] msfschaffner commented on #14049
Has this assertion been added yet?

[2022-10-21 15:29] msfschaffner commented on #14180
According to @GregAC this should be done, we just need to re-vendor Ibex.

[2022-10-21 15:30] GregAC opened #15644 "Primitives to hold errors high until reset"
A potential security issue in OTBN was discovered where some errors triggered by a fault being detected only asserted their error signal for a single cycle. When this occurred along with an OTBN start command this would allow the fault to be missed. The fix was to latch various errors, so once an error signal is raised it stays raised. See this PR for more detail: https://github.com/lowRISC/openti

[2022-10-21 15:31] msfschaffner commented on #14847
Related: [#14232](https://github.com/lowRISC/opentitan/issues/14232)

[2022-10-21 15:32] msfschaffner commented on #14232
Deferring this to M3 as part of V3 coverage closure. Related: #14847

[2022-10-21 15:42] msfschaffner commented on #15480
@alphan @dmcardle can you double check that the SRAM inject test cases do not run into this issue? If they do, we can solve this by calling the init function as @tjaychen mentioned above.

[2022-10-21 15:45] msfschaffner commented on #11968
@GregAC

[2022-10-21 15:47] msfschaffner commented on #11984
This will be handled implicitly once we move to Ubuntu 20 LTS. This is planned but may slip into M3.

[2022-10-21 15:47] drewmacrae commented on #11968
The compliance code is pretty old and it's been fixed BTW, we just need to update (which means solving a few other issues)

[2022-10-21 15:47] msfschaffner commented on #11794
@GregAC can we add this to the Ibex V2 review discussion.

[2022-10-21 15:48] drewmacrae commented on #11968
#12171 fixes it independantly but is left as a draft because we should just use the fix from upstream.

[2022-10-21 15:50] msfschaffner commented on #11520
@matutem, is this issue still relevant, or can it be closed / deferred to V3 (M3)?

[2022-10-21 15:51] msfschaffner commented on #11146
@arunthomas

[2022-10-21 15:52] msfschaffner commented on #11161
@matutem is this still pending?

[2022-10-21 15:52] msfschaffner commented on #10932
@martin-lueker is this something that still needs to be addressed?

[2022-10-21 15:53] msfschaffner commented on #11087
@tjaychen @msfschaffner @andreaskurth we should take another look at this issue and see whether something needs to be fixed for M2.

[2022-10-21 15:55] GregAC opened #15645 "[dv] Integrate latest riscv compliance test suite and run in CI"
The RISCV Compliance test suite has previously been used in OpenTitan but is currently broken (e.g. see issue https://github.com/lowRISC/opentitan/issues/11968). Significant change has occurred to the test suite since it was first integrated so we should integrate the latest version and start running it in CI again.

This is not needed for M2 but we should investigate for M3.

[2022-10-21 15:55] msfschaffner commented on #10714
@sriyerg can this be deferred to M3?

[2022-10-21 15:56] msfschaffner commented on #10328
@msfschaffner

[2022-10-21 15:56] martin-lueker commented on #10932
IIRC: This was opened in regard to this comment: https://github.com/lowRISC/opentitan/pull/9896#discussion_r799737476

There is now an `entropy_src_assert_if` to capture these.  So I believe this can be closed.  @Muqing-Liu can you confirm?

[2022-10-21 15:56] msfschaffner commented on #10395
@matutem has this been addressed? Can it be closed?

[2022-10-21 15:57] tjaychen commented on #15370
this is still failing in latest regressions, but i need to double check if the fix made it in.
I'll close / keep open once I can confirm.

[2022-10-21 16:01] msfschaffner commented on #9830
@jdonjdon @tjaychen @msfschaffner we should double check whether anything needs to be fixed here for M2.

[2022-10-21 16:01] tjaychen commented on #14969
I don't think this has to go into M2.

[2022-10-21 16:02] tjaychen commented on #11616
yeah i think that's fine.

[2022-10-21 16:02] msfschaffner commented on #9972
@msfschaffner

[2022-10-21 16:03] msfschaffner commented on #5907
Is this needed for M2 or can we defer into M3?

[2022-10-21 16:04] msfschaffner commented on #9613
@eunchan anything to be done here or can this be closed?

[2022-10-21 16:04] tjaychen commented on #11087
i don't think this is too critical for M2 as long as the "normal" case (correct integrity) is working for now.
The failed integrity will effectively mean somehow during debug we are being attacked. But during debug we are already wide open, so there seems little reason to chase this down.  I actually originally wanted to suggest that on the tlul_hosts for the debug interface we don't even bother c

[2022-10-21 16:05] msfschaffner commented on #9038
@timothytrippel can you update the status of this issue?

[2022-10-21 16:06] msfschaffner commented on #9314
@matutem anything to be done here or can this be closed?

[2022-10-21 16:06] msfschaffner commented on #6369
Deferring this into M3.

[2022-10-21 16:07] msfschaffner commented on #3275
@cindychip is this still relevant or can it be closed?

[2022-10-21 16:07] alphan commented on #15480
I didn't run into this during my trials. If needed, this should be trivial to handle in gdb, right @dmcardle? Also, `.text` is followed by `.bss`, so we can potentially handle this in the binary itself, right? I recommend keeping this in mind but not changing anything in the sram injection part unless we are sure that we need this in order not to introduce a dependency on the SRAM init function, w

[2022-10-21 16:19] vogelpi commented on #15538
I first PR to harden core_busy_o of Ibex is here lowRISC/Ibex#1865. It will take a couple of days before we can vendor that into OT though.

[2022-10-21 16:24] cindychip commented on #15538
Oh nice, and since this test only flip one bit, we should not see this issue anymore. I will close my draft and monitor the nightly regression once OT upstreamed the vendor file.

[2022-10-21 16:45] cindychip commented on #15538
Hey Pirmin, I have one more question - if you could help me understand. I am not very familiar with the design, could you help me understand or is there any doc explaining why we have an output signal `busy_core_o` that could potentially gate its own clock?

[2022-10-21 16:53] sriyerg commented on #10714
Yes

[2022-10-21 17:04] msfschaffner commented on #11087
Agreed, it should be ok to move this to M3.

From @sriyerg comment above it seems that there are two things that remain to be done here:
- expand the RV_DM documentation
- double check that the OR'ing of `intg_err` into `err` in `tlul_adapter_host` is intended

[2022-10-21 17:08] msfschaffner commented on #15624
No I don't think so.

[2022-10-21 17:09] tjaychen commented on #15624
maybe you and i can find some time to brainstorm hehe. Counting the discussion with Alphan, I feel like we've identified 3 RMA blocking things recently... who knows what else is hidden.

[2022-10-21 17:11] msfschaffner commented on #15624
True, let me think a bit more.
I only came across this issue because I ran into strap timing issues in the `rv_dm_lc_disable` test.

Is there anything around ext clock we should take a look at?

[2022-10-21 17:15] tjaychen commented on #15624
honestly i'm not sure... i feel like i need to get a cup of coffee, sit down and stare at the block diagram a bit hehe.

[2022-10-21 17:17] weicaiyang commented on #9613
once https://github.com/lowRISC/opentitan/pull/15628 is merged, this will be closed. (probably later today)
I want to figure out what causes the spi_device nightly failure, before merging new changes.

[2022-10-21 17:27] dmcardle commented on #15480
To my knowledge, I have not run into integrity alerts while mucking with SRAM in the GDB test ([`sram_program_fpga_cw310_test`](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/examples/sram_program/BUILD;l=41;drc=f87a62c7caac83d83b32fcd699b3d9de20bf9aac)), but I have to admit I'm not sure how I would know. I'm assuming the alert would be fatal, so my SRAM program would fail >0%

[2022-10-21 17:47] drewmacrae commented on #15642
Should we have a sort of "one-hot" macro that lets us enumerate and check one-hot types like this to avoid similar escapes? In general non-contiguous enums are problematic. For these things with reserved values are we interested in helping test/sw authors to configure things properly?

[2022-10-21 17:49] drewmacrae commented on #15642
We could emit something like the following function
[code]

[2022-10-21 18:07] alphan commented on #14498
Note: for this, we can either write a simple self-checking test or use the ujson library (the former is simpler but the latter is more scalable). See [chip_specific_startup](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/e2e/chip_specific_startup.c).

[2022-10-21 18:19] alphan commented on #15480
Thanks @dmcardle!

Just to be clear, @tjaychen, you are referring to the LFSR-based memory initialization feature, right?

[2022-10-21 18:49] matutem opened #15649 "[dv,top-level] Add tests for missing escalation resets"
The chip_sw_all_escalation_resets test covers the majority of alert causes using the one-hot write checkers. There are a few cases it cannot handle with the mechanism it uses, so the following may need other mechanisms to inject faults:

- [x] TopEarlgreyAlertIdFlashCtrlFatalErr @jdonjdon https://github.com/lowRISC/opentitan/pull/17023
- [x] TopEarlgreyAlertIdFlashCtrlFatalPrimFlashAlert @cindychi

[2022-10-21 19:08] matutem commented on #15324
Another case is pwrmgr_*sleep_all_reset_reqs_test.c.

[2022-10-21 19:53] msfschaffner commented on #15624
Carried over from https://github.com/lowRISC/opentitan/pull/15602:

[2022-10-21 19:58] tjaychen commented on #15624
@jeoongp and i sync'd up today and discussed the logic in this area.
We will probably need to follow up the exact mechanism for hardening next wednesday, but I believe we are on the same page now.

[2022-10-21 21:23] weicaiyang commented on #9613
closing this via #15628

[2022-10-21 21:23] #9613 closed

[2022-10-21 21:44] cdgori commented on #14180
For those following along at home (and who were on vacation for the security WG meeting where this was discussed :) ), what was actually chosen as the preferred implementation?  I just traced through the discussion here and agree with the idea of 1. guaranteeing a new scrambling key and 2. generally not stalling for `FENCE.I`, but if the nested `FENCE.I` stalled that seems reasonable to me.

If th

[2022-10-21 22:14] cdgori commented on #15480
Sorry, some questions.

@GregAC you said:

What does unmapped mean in this context?  The rest of this discussion seems to be regarding either non-execute or non-initialized regions.  But I think this is referring to literally an unpopulated part of the address space?

For the non-execute part, I believe I understood this comment

from @GregAC to mean that the PMP check will prevent the speculative

[2022-10-21 22:20] cdgori commented on #15538
I believe this is a good instinct, shutting down the comparator itself seems like it would be bad / potentially exploitable.  (But, seems like some gnarly boundary conditions on sleep/wake events are possible?)

[2022-10-21 22:20] tjaychen commented on #15480
@cdgori the initialization is the latter. Ie hardware function triggered by software. If some unfortunate soul were to skip this, the memory likely will be a mismatch of data and integrity.  Meaning if anyone tried to read from it, the integrity errors would likely trigger. This was the original case we were worried about for debug access.

re. flash yes i do. One of the first things we do, before

[2022-10-21 22:26] cdgori commented on #15480
Thanks, those are both reassuring results.  I can't see how to exploit the SRAM by skipping the init, and the flash, that matches my expectations and seems safe.

If someone caused the bootstrap to skip erasing one of the banks, when we read from the skipped bank later, those reads would presumably have bad integrity (with extremely high probability), right?

[2022-10-21 22:28] cdgori commented on #15644
Agreed, a new prim (or change to `prim_count`) to handle this consistently would be nice, but post-M2.

[2022-10-21 22:28] tjaychen commented on #15480
yeah, especially if they're jammed with random data.
But I want to say the wafer test people will probably do an erase of their own though..so maybe it'll look very erased?

But if it's not, i think the second layer of protection is that flash program and eventual verification are both going to fail.  So the image would for all practical purposes be bad.

[2022-10-21 22:29] cindychip opened #15654 "[rtl/rstmgr] corner case on using rw1c to fatal alert"
When @matutem and I debug the FPV rstmgr_sec_cm test, we found that design did not trigger fatal alert after invalid FSM value.

The reason is related to `err_code` is a `RW1C` register.
Seems like if user write to this `err_code` register right when HW sets the `fsm_err`, user might be able to clear this fatal alert.

[2022-10-21 22:29] cdgori commented on #6369
M3 is ok.

We probably want this hook (and to actually populate the hook with something useful) before final synthesis is done.

[2022-10-21 22:32] cdgori commented on #15480
Mostly I'm trying to come up with "what bad thing could an adversary do with a raw wafer that didn't go though wafer testing/erase" - I'm not getting anywhere though (which is good!)

[2022-10-21 22:35] tjaychen commented on #14180
here we go!
https://github.com/lowRISC/ibex/issues/1752#issuecomment-1226281773

[2022-10-21 22:36] matutem commented on #15654
And the expectation is that fatal errors should be Sw RO.

[2022-10-21 22:43] cdgori commented on #15507
Understood.

Sort of thinking this through from first principles - does this application/usage put any upper bound on the amount of information leakage we could tolerate in the hardened HMAC?  (Said differently, do we have an idea of what the "many times" you mentioned the attacker being able use k, either as scalar or inversion, practically might be?)

I ask because this feels like one of the rar

[2022-10-21 22:44] tjaychen commented on #15370
i've taken tip of tree and run all the tap strap test a minimum of 20 seeds in my local area.
Things appear to be okay. I will close this down for now.

[2022-10-21 22:44] #15370 closed

[2022-10-21 22:46] cdgori commented on #14180
Thanks for the cross-ref - then my question stands about what happens if software blunders forward and ignores the scramble key valid bit in CPUCTRL CSR.

[2022-10-21 22:47] tjaychen commented on #15533
re-open just to double check.

[2022-10-21 23:03] #14169 closed

[2022-10-21 23:05] cdgori commented on #10970
Just looking at those, I think the stress test will be needed for sure.

The CDC/sleep-wake part might be handled by some of the other ongoing CDC testing, not sure.  If not then it seems like general cross-module testing of clock gating behavior is desirable.  (Maybe this is more a "full chip" test than an "entropy complex" test though?)

I can argue that the max latency could be deferred (substa

[2022-10-21 23:13] cdgori commented on #15470
I believe we spoke about this one in the OT-SCA meeting earlier this week, I'm just catching up here.  Using the SHA3 mode sounds good for characterizing things.

Forgive me if this is obvious, but for the ES, you may be able to generate a low/medium-precision but definitive trigger just using one of the GPIOs?  Then it's just a matter of aligning the traces, and the power/EM trace shape should be

[2022-10-21 23:17] #15606 closed

[2022-10-21 23:28] cdgori commented on #15222
I have my usual cavalier attitude about SW misconfiguration not being something hardware should solve for :) but fully agree that statistical programming issues are real (and potentially painful to troubleshoot during initial bring-up).

But, I think (?) we can still sort out those issues with the `VENDOR_TEST` area to find our programming "recipe" before going on to the rest of the OTP.  If the p

[2022-10-21 23:31] tjaychen commented on #15222
I actually think i should close this down now, we settled on a solution in #15613.

[2022-10-21 23:31] #15222 closed

[2022-10-21 23:31] cdgori commented on #9541
This was one of the main things I was thinking about in #6369

[2022-10-21 23:33] tjaychen commented on #15533
this has also passed local runs of 10+. Closing it down now.

[2022-10-21 23:33] #15533 closed

[2022-10-21 23:35] cdgori commented on #15222
I want to make sure that #15613 captures what @zi-v was trying to get to - it still depends on being able to program some OTP values but that looks like the bare minimum to me.

[2022-10-22 00:05] #15392 closed

[2022-10-22 00:06] #15632 closed

[2022-10-22 00:07] tjaychen opened #15659 "[flash_ctrl] flash info page scramble"
There is a lingering TODO in flash
https://cs.opensource.google/opentitan/opentitan/+/master:hw/top_earlgrey/ip/flash_ctrl/rtl/autogen/flash_ctrl_pkg.sv;l=242-243

We should change this both ECC and scramble enabled. Once we do that, the testbench will need to be massaged a bit.

[2022-10-22 00:08] tjaychen commented on #15659
@jdonjdon
@moidx
@weicaiyang
this one was missed.. updating this one will likely impact the tests that rely on keymgr.

[2022-10-22 00:10] jdonjdon commented on #15659
@tjaychen Can you make ecc as a separate PR and check-in first?
ECC seems non-disruptive

[2022-10-22 00:16] tjaychen commented on #15654
@tjaychen

@jeoongp can you have a look at this one?

[2022-10-22 00:32] jeoongp commented on #15654
@cindychip can you give me the run command? If you have a waveform to be shared in mnt, it will be good.

[2022-10-22 00:45] tjaychen commented on #15654
@jeoongp this one is reproduced only in fpv, so that might be a bit difficult.
I think the request is basically to swap the attribute type on the rstmgr err_code register.

[2022-10-22 01:05] cindychip commented on #15654
We are not entirely sure if this will clean up all the failures, but if you want to try!
Get the latest repo (because I just merged this PR: https://github.com/lowRISC/opentitan/pull/15655)
And run:
./util/dvsim/dvsim.py hw/top_earlgrey/formal/top_earlgrey_fpv_sec_cm_cfgs.hjson --select-cfgs rstmgr_sec_cm --gui

[2022-10-22 02:56] alphan commented on #15222
I initially thought it could be but we discovered another dependency. I think the consensus that we reached (captured in #15613 as @tjaychen pointed out) is probably much safer than just relying on the bootstrap but we decided to include some additional OTP and lc_ctrl checks to limit the duration of the busy loop.

[2022-10-22 04:14] jdonjdon commented on #15340
item2: macro_error  is used in the closed source. There might be more updated based on closed source implementations.

[2022-10-23 18:12] johngt opened #15665 "[rv_dm] Verify that the debugger can issue a debug request to the CPU (debug_req) BLT"
Please see https://docs.google.com/document/d/1UDaaP3AGkrvUnTrCz1mJc6SNr2H51hMs6nrviKjMTzM/edit# for further details

This is a Block Level Test that has been discussed as potentially being waived for M2.
The process of documenting the waiver and getting it approved as a full waiver has not happened.
It is of lower priority than most of the other tasks. Setting to P3 as potential waived.

[2022-10-23 18:13] ballifatih commented on #14123
The test implementation is recently merged #14637, should we update the checklist above to reflect its progress?

[2022-10-23 18:13] johngt opened #15666 "[rv_dm,dv] Verify that the debugger can issue a non-debug reset to the rest of the system (`ndmreset_req` BLT)"
This issue tracks the implementation of the `ndmreset_req` block-level test, which is specified in the testplan for `rv_dm`.

[2022-10-23 18:14] johngt opened #15667 "[rv_dm,dv] Verify that the JTAG DMI register space cannot be accessed if lc_hw_debug_en is a non strict true value (`jtag_dmi_debug_disabled` BLT)"
This issue tracks the implementation of the `jtag_dmi_debug_disabled` block-level test, which is specified in the testplan for `rv_dm`.

[2022-10-23 18:14] johngt opened #15668 "[rv_dm,dv] Verify that access to SBA interface is disabled if lc_hw_debug_en is set to not strict true value (`sba_debug_disabled` BLT)"
This issue tracks the implementation of the `sba_debug_disabled` block-level test, which is specified in the testplan for `rv_dm`.

[2022-10-23 18:14] johngt opened #15669 "[rv_dm] Verify that access to the debug mem via TL host interface results in error response (debug_mem_debug_disabled) BLT"
Please see https://docs.google.com/document/d/1UDaaP3AGkrvUnTrCz1mJc6SNr2H51hMs6nrviKjMTzM/edit# for further details

This is a Block Level Test that has been discussed as potentially being waived for M2.
The process of documenting the waiver and getting it approved as a full waiver has not happened.
It is of lower priority than most of the other tasks. Setting to P3 as potential waived.

[2022-10-23 18:14] johngt opened #15670 "[rv_dm,dv] Verify that the debugger can cancel an on-going DMI transaction with a hard reset (`jtag_dtm_hard_reset` BLT)"
This issue tracks the implementation of the `jtag_dtm_hard_reset` block-level test, which is specified in the testplan for `rv_dm`.

[2022-10-23 18:14] johngt opened #15671 "[rv_dm] Verify that a halted hart can execute arbitrary set of instructions via program buffer (prog_buf)"
No further description of this testpoint exists yet. Verifying this to full coverage (as implied by arbitrary set of instructions) likely requires a fairly complete (model of a) RISC-V core in the TB, so this is better implemented as a top-level test

Effort estimate is between 32 and 64

[2022-10-23 18:14] johngt opened #15672 "[rv_dm] Verify the Access Register abstract command feature (abstract_cmd)"
Likely incorporated into the effort of prog_buf.

Only the Access Register abstract command will be verified (in a top-level test, as for prog_buf); the other two (optional) abstract commands are not implemented and ~~will~~ *could* be waived for DV.

[2022-10-24 06:30] johannheyszl commented on #15470
Thx @cdgori for pointing out. This sounds about right. Let's discuss in in the next OT SCA meeting to make sure we don't miss anything

[2022-10-24 07:07] johannheyszl commented on #15507
thx @cdgori. Summarizing: You are referring to deterministic ECC sigs where the HMAC is used to derive the ephemeral k from message m and longterm secret d. Being deterministic, signing the same message means repeating the generation of k using HMAC, and k's subsequent inversion. All handling of k is critical because the recovery of few bits in many sigs will lead to key recovery. Crucially though

[2022-10-24 09:23] johngt commented on #15504
@GregAC given https://github.com/lowRISC/opentitan/pull/15611 is merged - safe to close this out?

[2022-10-24 09:59] vogelpi commented on #15469
A first fix for this issue based on adding a FIFO has been merged with #15478, the DV part has been added with #15570. Issue #15561 is tracking the effort for reworking the handshakes to again remove the additional FIFO. I am thus closing this issue.

[2022-10-24 09:59] #15469 closed

[2022-10-24 10:31] vogelpi opened #15674 "[top, aes] Disable `SecAllowForcingMasks` parameter"
With #15639 we have enabled this parameter for ES (the reasoning is documented in #14240). For production, we will need to disable it again.

[2022-10-24 10:52] vogelpi commented on #15538
Right now, we enable the comparison logic once after reset and then it cannot be turned off again. The only thing that can happen is that if the clock is gated, the comparison logic will not get new values for some time (it will just keep comparing old outputs but the alert logic is on). After the clock resumes, the shadow core will finish the last instructions from before entering sleep and its o

[2022-10-24 12:16] HU90m commented on #13219
Passed three nightly regressions.

[2022-10-24 12:16] #13219 closed

[2022-10-24 12:17] HU90m commented on #13218
Passed three nightly regressions.

[2022-10-24 12:17] #13218 closed

[2022-10-24 13:49] #13336 closed

[2022-10-24 14:43] dmcardle commented on #14490
Just marked as blocked on #15653 — I can't currently write assertions in GDB scripts because the test script currently ignores GDB's exit status.

[2022-10-24 15:06] engdoreis commented on #15277
Closing as it is passing since Oct 14th.
Tests | latest | 2022.10.22 | 2022.10.21 | 2022.10.17/2 | 2022.10.17/1 | 2022.10.15 | 2022.10.14 | 2022.10.12/2 | 2022.10.12/1 | 2022.10.11 | Suite
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --
chip_sw_uart_rand_baudrate | 100.00 | 100.00 | 100.00 | 100.00 | 100.00 | 100.00 | 100.00 | 95.00 | 95.00 | 100.00 | chip_sw_uart_rand_baudrate

[2022-10-24 15:06] #15277 closed

[2022-10-24 15:12] alphan opened #15677 "[rom-e2e] rom_e2e_bootstrap_rma"
**Testpoint name:** [rom_bootstrap_rma](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/data/rom_e2e_testplan.hjson?q=rom_bootstrap_rma)

**Contact person:** @alphan

**Description:** End to end test to ensure RMA mode can be activated by halting ROM execution.

- This test must be run with the real ROM.
- Pre-load the device into PROD or PROD_END state.
- B

[2022-10-24 15:21] engdoreis commented on #15335
Closing as this test is passing for at least 10 executions

Tests | latest | 2022.10.22 | 2022.10.21 | 2022.10.17/2 | 2022.10.17/1 | 2022.10.15 | 2022.10.14 | 2022.10.12/2 | 2022.10.12/1 | 2022.10.11 | Suite
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --
chip_sw_aon_timer_irq | 100.00 | 100.00 | 100.00 | 100.00 | 100.00 | 100.00 | 100.00 | 100.00 | 100.00 | 100.00 | chip_sw_aon_timer_wa

[2022-10-24 15:21] #15335 closed

[2022-10-24 15:59] engdoreis commented on #14200
This error has returned

Tests | latest | 2022.10.22 | 2022.10.21 | 2022.10.17/2 | 2022.10.17/1 | 2022.10.15 | 2022.10.14 | 2022.10.12/2 | 2022.10.12/1 | 2022.10.11 | Suite
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --
chip_tl_errors | 10.00 | 16.67 | 100.00 | 100.00 | 100.00 | 100.00 | 100.00 | 100.00 | 100.00 | 100.00 | tl_d_oob_addr_access, tl_d_illegal_access

However the log signa

[2022-10-24 16:03] dmcardle commented on #14490
@alphan Where do you think we should place this test? Maybe `sw/device/tests/BUILD`?

I got a head start on this, it should be pretty simple (working test pasted below). I patched in #15653 so that `quit` works in the GDB script. Also cheated by patching in #15621 for OTP_IMAGES and pre-spliced bitstreams.

[code]

[2022-10-24 16:08] engdoreis opened #15679 "[test-triage] sysrst_ctrl_ec_rst_l_test assertion timeout"
### Hierarchy of regression failure

Chip Level

### Failure Description

 UVM_ERROR @ 14969.358000 us: (sw_logger_if.sv:522) [sysrst_ctrl_ec_rst_l_test_prog_sim_dv(w/device/tests/sim_dv/sysrst_ctrl_ec_rst_l_test.c:148)] CHECK-fail: Timed out after 2500 usec (250000 CPU cycles) waiting for current_phase != kTestPhase
  UVM_INFO @ 14969.358000 us: (uvm_report_catcher.svh:705) [UVM/REPORT/CATCHER]

[2022-10-24 16:12] engdoreis commented on #14501
The test `rom_keymgr_init` never passed on the nightly regression.
So I'm investigating.

[2022-10-24 16:18] engdoreis opened #15680 "[test-triage] Detected an X on IoC3"
### Hierarchy of regression failure

Chip Level

### Failure Description

  UVM_ERROR @ 2866.572107 us: (chip_if.sv:120) [tb.dut.chip_if] Detected an X on IoC3
  UVM_INFO @ 2866.572107 us: (uvm_report_catcher.svh:705) [UVM/REPORT/CATCHER]
  --- UVM Report catcher Summary ---

### Steps to Reproduce

- Commit hash where failure was observed [bd9f6d019](https://github.com/lowrisc/opentitan/tree/bd9f

[2022-10-24 16:22] engdoreis commented on #14147
Repening the issue as the test never passed on the nightly

Tests | latest | 2022.10.22 | 2022.10.21 | 2022.10.17/2 | 2022.10.17/1 | 2022.10.15 | 2022.10.14 | 2022.10.12/2 | 2022.10.12/1 | 2022.10.11 | 2022.10.10/2 | 2022.10.10/1 | 2022.10.08/2 | 2022.10.08/1 | 2022.10.06 | Suite
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --
chip_rv_dm_lc_disabled | 66.67 | 33.

[2022-10-24 16:31] engdoreis commented on #15278
This test is not passing consistently, so it is worth investigating

Tests | latest | 2022.10.22 | 2022.10.21 | 2022.10.17/2 | 2022.10.17/1 | 2022.10.15 | 2022.10.14 | 2022.10.12/2 | 2022.10.12/1 | 2022.10.11 | Suite
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --
chip_sw_pwrmgr_random_sleep_all_reset_reqs | 66.67 | 100.00 | 33.33 | 100.00 | 66.67 | 66.67 | 33.33 | 100.00 | 100.00 | 66.6

[2022-10-24 16:33] matutem commented on #13248
The RTL has sophisticated checks for cascading that will trigger alerts if violated. This means the cascading assertions could be removed.

[2022-10-24 16:40] engdoreis commented on #15280
This test is passing consistently, so I think it is worth spending more time investigating.

| Tests | latest | 2022.10.22 | 2022.10.21 | 2022.10.17/2 | 2022.10.17/1 | 2022.10.15 | 2022.10.14 | 2022.10.12/2 | 2022.10.12/1 | 2022.10.11 | Suite
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --
chip_sw_alert_handler_ping_timeout | 66.67 | 100.00 | 66.67 | 100.00 | 66.67 | 66.67 | 100.00 | 100

[2022-10-24 16:50] alphan commented on #14490
Is there a reason for not placing this in `sw/device/silicon_creator/rom/e2e/BUILD`?

[2022-10-24 16:52] tjaychen commented on #15470
i feel like the trigger alignment is okay right?
Originally I was asking whether we wanted to generate something directly from kmac, but if @vogelpi is okay without that, then I assume a trigger via software or just directly analyzing the trace would both be okay.  So we may not need to open it up for more discussion :)

[2022-10-24 16:59] dmcardle commented on #14490
Ah, that looks like the perfect place to put it. Thanks!

[2022-10-24 17:01] tjaychen commented on #15538
@vogelpi you guys have studied this more, so we don't have to belabor this issue too long. I'll just give one piece of feedback and leave it to you guys to decide what's best.

I think I understand what you're saying, but I feel like that could be a side effect of the core clock gating looking at only the core_busy coming out from the main core (is that right?)  So hypothetically, if the shadow co

[2022-10-24 17:06] #14486 closed

[2022-10-24 17:07] jeoongp commented on #15654
Thanks @cindychip and @tjaychen. I fixed this bug in #15682.

FYI, this failure did not occur in my run on the latest repo.
![Screen Shot 2022-10-24 at 10 02 27 AM](https://user-images.githubusercontent.com/103145460/197584644-be044eaa-b2c6-451f-b6bf-c0431759ef6a.png)

[2022-10-24 17:09] matutem commented on #15649
Jaedon can test the two flash_ctrl ones listed :)

[2022-10-24 17:11] jeoongp commented on #13248
Is it to remove the cascading assertion temporarily or permanently?

[2022-10-24 17:36] cindychip commented on #14123
Yes please @ballifatih! I think you can update them and close this issue;

[2022-10-24 17:56] weicaiyang commented on #14204
@engdoreis Thanks for opening this. I changed the max outstanding number to be 8 recently. Looks like the xbar may take 9 outstanding items. Need to dump a waveform and confirm it with designer.
If you haven't looked into this, I can take it.

[2022-10-24 17:58] #14123 closed

[2022-10-24 18:43] cindychip commented on #15654
Thanks! Let me take a look and I will update you :)

[2022-10-24 19:14] jdonjdon commented on #15649
ack

[2022-10-24 20:29] matutem commented on #15599
Thanks Jacob.

[2022-10-24 20:43] msfschaffner commented on #15280
Indeed, this looks flaky. Let me take a look.

[2022-10-24 20:48] msfschaffner commented on #14147
Thanks @engdoreis - will take a look to see what's going on.

[2022-10-24 21:12] matutem commented on #15093
Apparently there are no remaining issues here.

[2022-10-24 21:12] #15093 closed

[2022-10-24 21:23] cindychip commented on #15654
@jeoongp I rerun with the latest repo and got 100% passing rate. I think the fix is good!

[2022-10-24 21:27] #15654 closed

[2022-10-24 21:42] #7845 closed

[2022-10-24 22:14] msfschaffner commented on #14147
It looks like I made a rebase mistake before merging the PR and accidentally merged an outdated version. https://github.com/lowRISC/opentitan/pull/15692 fixes that.

[2022-10-24 22:39] Jacob-Levy commented on #15599
The code is done. Will test it and PR it next.

[2022-10-24 23:14] weicaiyang commented on #14204
@eunchan @tjaychen

Looks like the ibex TL data port (tb.dut.top_earlgrey.u_rv_core_ibex.tl_adapter_host_d_ibex.tl_o/tl_i) can actually take 9 outstanding items. Sounds like the async fifos in xbar takes 8 items and peripheral takes 1 item. Can you help confirm if this is expected? If so, I can make a PR to increase the max outstanding to 9.

I reproduced the failure here.

[2022-10-24 23:16] sriyerg commented on #14693
See related issue #10432 which tracks the CDC enablement effort in simulations.

[2022-10-24 23:19] sriyerg commented on #10432
Assigning to @matutem to close the effort of enabling CDC randomization in simulations.

Work items:

- [ ] Use clock cycle delays instead of raw pound delays
- [ ] Fixup SVAs as needed, if/when failures are seen in smoke regression (and subsequently, in nightly regression)

[2022-10-24 23:22] sriyerg commented on #10432
PR #14685 partially satisfies this.

[2022-10-24 23:56] tjaychen commented on #14204
hmm.. i'm not sure this was a conscious choice. It's more like the async fifo's are able to absorb a certain number of transactions to cover the clock crossing latency. I don't think it absorbs 8 though, (i thought it was either 2 or 4), so we'd have to take a look to see what's happening there.

[2022-10-25 00:08] eunchan commented on #14204
I checked the generated codes. As of now, TL async socket has 4 depth of req and rsp FIFOs. So total 8 req (4 + 4) can be outstanding inside xbar.

At that time the async FIFO should be greater than 2. So the depth is set to 4. I think current async FIFO can support depth of 2. We can revise Xbar and reduce the number of outstanding also.

[2022-10-25 00:31] msfschaffner commented on #15280
OK I think I understand now why this fails sometimes.

The ping timer pseudorandomly picks an alert ID to ping. Due to the way this is constructed today, the alert ID may be invalid if the total number of alerts is not a power of 2.

This means that there is a non-zero chance that no alert ID is valid within the simulated timeframe, and hence no alert is being pinged. The higher the timeout, the h

[2022-10-25 02:23] tjaychen commented on #15280
yeah this was the exact reason i came across also..so i tried to lengthen the time a bit.. i think we basically have a roughly 50% chance of being valid on every draw, so i was hoping that if we gave it enough iterations (say..10), the probability of continuously missing would be very low.

Yeah I originally thought about your option as well, but was concerned about the bias and didn't come up wit

[2022-10-25 02:42] tjaychen commented on #14204
hmm... i took a peek at the timestamp @weicaiyang pointed me to where the test was erroring, and at least the tlul async fifo's response and request fifos all had write depths of 0.

I think my larger question is..what exactly are we testing? Because usually when I think of outstanding capacity, I think about a host's ability to continually issue before it sees a response. So that would usually be

[2022-10-25 03:58] weicaiyang commented on #14204
Let me clarify. This is for a covergroup which comes from TL agent. Since we hijack the ibex data port with a TL agent, this coverage is added automatically.
Now we see our CSR tests can occasionally hit 9 outstanding items. At the time stamp of the error, it queues 9 outstanding reqs with 9 different source ID. These reqs are accepted in A channel, but D channel rsp haven't completed.

We could e

[2022-10-25 04:49] #15631 closed

[2022-10-25 05:15] #12504 closed

[2022-10-25 08:26] engdoreis commented on #14126
This test is passing since Oct 21th. Can we close this issue @tjaychen @msfschaffner?

|    | Tests                            |   latest |   2022.10.23 |   2022.10.22 |   2022.10.21 | 2022.10.17/2   | 2022.10.17/1   | 2022.10.15   | 2022.10.14/2   | 2022.10.14/1   | 2022.10.12   | Suite          |
|---:|:---------------------------------|---------:|-------------:|-------------:|-------------:|:--

[2022-10-25 08:31] engdoreis commented on #6923
The test `chip_csr_rw` is passing since October 21th, closing the issue.

|    | Tests       |   latest |   2022.10.23 |   2022.10.22 |   2022.10.21 |   2022.10.17/2 |   2022.10.17/1 |   2022.10.15 |   2022.10.14/2 |   2022.10.14/1 |   2022.10.12 | Suite                                                                                           |
|---:|:------------|---------:|-------------:|-------

[2022-10-25 08:31] #6923 closed

[2022-10-25 08:42] engdoreis commented on #15435
All the related tests are passing:

|     | Tests                                    |   latest |   2022.10.23 |   2022.10.22 |   2022.10.21 |   2022.10.17/2 |   2022.10.17/1 |   2022.10.15 |   2022.10.14/2 |   2022.10.14/1 | 2022.10.12   | Suite                                                            |
|----:|:-----------------------------------------|---------:|-------------:|-------------:|-

[2022-10-25 08:49] vrozic commented on #14111
I am currently working on this issue here: #15700

[2022-10-25 09:38] engdoreis commented on #15435
Repening because I didn't notice that there's still two test failing with the same signature:

|     | Tests                                     | latest   | 2022.10.23   | 2022.10.22   | 2022.10.21   | 2022.10.17/2   | 2022.10.17/1   | 2022.10.15   | 2022.10.14/2   | 2022.10.14/1   | 2022.10.12   | Suite                                     |
|----:|:------------------------------------------|:---

[2022-10-25 10:15] engdoreis commented on #14115
PR merged, waiting for the nightly reports to close this Issue in case the test passes.

[2022-10-25 11:04] engdoreis commented on #15280
In case we go with #15699 should the time lengthen made by @tjaychen be reverted?

[2022-10-25 11:06] engdoreis commented on #14204
Thanks @weicaiyang for working on this.

[2022-10-25 12:24] zi-v opened #15702 "[flash_ctrl] flash_macro_err leads to fatal alert although it can be triggered by SW misuse."
Consider changing flash_macro_err assignment to non-fatal alert.

Reference lines:
https://github.com/lowRISC/opentitan/blob/7a7139c8af345f423ac27a0186febdda027f7127/hw/ip/flash_ctrl/data/flash_ctrl.hjson#L1883
https://github.com/lowRISC/opentitan/blob/7a7139c8af345f423ac27a0186febdda027f7127/hw/ip/flash_ctrl/data/flash_ctrl.hjson#L1931

[2022-10-25 12:43] eshapira commented on #15702
@eshapira

[2022-10-25 12:55] johngt opened #15705 "[aes] Verify DATA_REG.KEY.SCA and KEY.MASKING countermeasures"
Per AES close-out tasks described in more detail at https://docs.google.com/document/d/1Uzq6qSqOFqk0fDv0J1eUvnpGMR1wsF-03WhZUgIDKdw/edit#

- DATA_REG.KEY.SCA implement new assertions checking that in last cycle of last round, state register is overwritten with something different to cipher output
- KEY.MASKING: implement assertions described [here](https://github.com/lowRISC/opentitan/issues/15433

[2022-10-25 12:59] johngt opened #15706 "[aes] Coverage review and closure"
Per the full AES closeout actions document described in more detail at https://docs.google.com/document/d/1Uzq6qSqOFqk0fDv0J1eUvnpGMR1wsF-03WhZUgIDKdw/edit#

- Coverage exclusions added in V2 (because AES has many FI CMs) have to be reviewed.
 - Exclusions that shall remain have to be justified.
 - Exclusions that will be removed may reduce coverage below the 90% threshold, which could require the

[2022-10-25 13:02] arunthomas commented on #14330
Bazel build support for CoreMark was merged yesterday. @timothytrippel  will be working on adding CoreMark to the nightly regressions.

[2022-10-25 13:03] johngt opened #15707 "[aes] Push/pull IF assertion violated after reset on fatal alert"
See related issue: https://github.com/lowRISC/opentitan/issues/13573

Tagged M2 and AES but really a more generic issue on reset sequencing. The problem is that the block-level test is not aware of the correct sequencing of resets (AES cannot be reset without also resetting EDN).

[2022-10-25 13:05] johngt commented on #15707
Requires further discussion with Google.
@andreaskurth / @vogelpi - best to ping the specific Google Engineer's we want feedback from after we have had a first discussion with @rasmus-madsen

[2022-10-25 13:06] johngt opened #15708 "[aes] Formal methods / Jasper on AES"
Per the AES closeout discussion document, with further details at https://docs.google.com/document/d/1Uzq6qSqOFqk0fDv0J1eUvnpGMR1wsF-03WhZUgIDKdw/edit#

Need to run Jasper Gold to check assertions related to standardised countermeasures prim_count/prim_fsm.

[2022-10-25 13:11] johngt opened #15709 "[aes] Create waivers for not creating fatal alerts"
Related to two fatal alerts not being created:

1. Forcing main FSM signals does not result in a fatal alert ([#13572](https://github.com/lowRISC/opentitan/issues/13572))
2. Forcing cipher core FSM signals does not result in fatal alert ([#13646](https://github.com/lowRISC/opentitan/issues/13646))

- Could potentially be waived for V2S because RTL is correct but test does not know when to expect a

[2022-10-25 13:13] johngt commented on #15709
If going down waiver route, change priority to P3.

[2022-10-25 13:18] ctopal opened #15710 "[otbn,dv] Model mismatch for URND in LOCKED state"
Injecting fatal errors that causes immediate locking behaviour causes mismatches between model and RTL. In the case of a fatal error causing immediate locking, model drops URND request while RTL continues to operate regardless of the state of the controller. Ideally, model should match RTL even in LOCKED state.

[2022-10-25 13:21] #15505 closed

[2022-10-25 13:31] johngt commented on #15642
@vogelpi - just tagging you here to see if this is still a valid issue for AES/M2?
If so - leave the issue open and we can keep it in the AES project + we will need to estimate effort. Otherwise we should add it to the backlog and de-prioritise accordingly.

[2022-10-25 14:01] drewmacrae commented on #15642
@alphan pointed out there are builtins in the bitfield library. So I'll add checks to the dif and file a PR with fixes for anything that's still broken after #15641 gets merged.

[2022-10-25 14:14] vrozic commented on #14200
I can reproduce this issue locally. It fails with almost every seed, always due to the `csr_size_err`.
It seems that the commit that caused the error is 120153126

@msfschaffner Do you perhaps have an idea how to fix it?

[2022-10-25 15:05] GregAC commented on #15504
Yes, we've got a 100% proved run in a nightly too

[2022-10-25 15:10] tjaychen commented on #14126
okay with me. @bilgiday should probably give the final answer on whether he expects things to be okay now though.

[2022-10-25 15:12] tjaychen commented on #15280
yes i think so.

[2022-10-25 15:14] tjaychen commented on #14204
@weicaiyang i might have to check in with you later. I'm not sure if i'm looking at the wrong thing. When I looked at the failing timestamp, it was claiming that none of the FIFO's had any entries, so I might be looking at the wrong place.

[2022-10-25 17:27] tjaychen commented on #15426
i'm a bit behind on this, but i'll hopefully take a look at this soon.

[2022-10-25 17:40] alphan opened #15715 "[sw/silicon_creator] Make bootstrap enabled by default"
Bootstrap is currently disabled by default and enabled only if the BOOTSTRAP_EN OTP item is true. We should invert the logic (and rename the entry) so that the bootstrap is disabled when the OTP item is true for ease of integration.

cc @moidx @tjaychen

[2022-10-25 17:41] msfschaffner commented on #15280
Yeah that is pretty much option 1 - although we should not stay inside the wait state if we haven't found an ID yet and a ping event is due, since that would affect some of the ping progress guarantees that the ping monitors in the escalation receiver rely upon.

No the assumptions are all still fulfilled. The important part is that we do not block progress if an ID is not valid (that is why we cu

[2022-10-25 17:41] msfschaffner commented on #15280
Yes, this can be reverted.

[2022-10-25 17:47] tjaychen commented on #15280
sounds good to me! thanks @msfschaffner

[2022-10-25 17:50] cindychip commented on #15280
Thanks @msfschaffner I am happy with this RTL approach too! It will make it easier for block level as well!

[2022-10-25 17:53] weicaiyang commented on #15408
Since all items are addressed, can we close this?

[2022-10-25 17:55] msfschaffner commented on #14126
I think this is left open in order to track another, SV-only component of this test point that has not been developed yet. See comments further above.

[2022-10-25 18:30] #15408 closed

[2022-10-25 18:35] alphan opened #15718 "[rom-e2e] rom_e2e_weak_straps"
**Testpoint name:** [rom_e2e_weak_straps](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/data/rom_e2e_testplan.hjson?q=rom_e2e_weak_straps)

**Contact person:** @alphan

**Description:** Verify that ROM can differentiate strong pull-ups/-downs from weak pull-ups/-downs.

- For `strap` in {all 64 strap values}
- Verify that ROM boots as usual unless `strap =

[2022-10-25 18:35] alphan commented on #15718
cc @tjaychen @jadephilipoom

[2022-10-25 18:53] msfschaffner opened #15720 "[alert_handler] Improve ping timer ID selection mechanism"
The alert channel ID selection mechanism currently has a bias towards lower IDs due to a fix (#15699) we made in order to reduce the amount of skipped IDs. For full context, see https://github.com/lowRISC/opentitan/issues/15280#issuecomment-1289816964.

This should be updated in the future to make the ID selection more fair, for example option 1 in https://github.com/lowRISC/opentitan/issues/15280

[2022-10-25 18:54] msfschaffner commented on #15720
CC @tjaychen @cindychip

[2022-10-25 18:54] tjaychen commented on #15720
thanks for filing!

[2022-10-25 19:00] weicaiyang opened #15721 "[spi_device] Dummy CSB may trigger an upload interrupt"
We test 3 types of dummy SPI transaction and hope it doesn't affect anything.
1. active CSB without sck
2. toggling sck without CSB
3. send request/opcode less than 1 bytes (only for Flash or TPM mode)

However, in flash mode, we rely on CSB falling edge with sck to clear a flag - csb_cmdfifo_set.
In this case, we only have CSB drop without sck, so `csb_cmdfifo_set` isn't cleared. However, we do d

[2022-10-25 21:14] weicaiyang commented on #15721
Another related issue:

After SW updates addr4b to 1, this update could be cleared if the next transaction is a dummy item.
In this case, the dummy item has one spi_clk cycle which isn't enough to sync up the SW programmed value to the final `spi_cfg_addr_4b_en_o`, as `spi_csb_asserted_pulse_i` remains 0.

[code]

However, `sys_csb_deasserted_pulse_i` is set after CSR is released, so this clears t

[2022-10-25 21:47] milesdai opened #15728 "[ROM/AST] AST initialization check in ROM fails on non-RMA LC states"
When the lifecycle state is set to anything other than RMA via the OTP, the [`ast_init_done`](https://github.com/lowRISC/opentitan/blob/4580a1765e7b5bd9a5f96c71f89e746e6c27c95d/sw/device/silicon_creator/lib/drivers/ast.c#L82) check fails.

To work around this temporarily, for tests that currently use non-RMA LC states in Bazel, we can apply the `otp_json_disable_ast_init` overlay which sets `CREAT

[2022-10-25 22:01] eunchan opened #15729 "[prim] Add sync clear input to `prim_fifo_async`"
Related Issue: https://github.com/lowRISC/opentitan/pull/15727

It is generally recommended to use same reset source (but synchronize to the port clock if needed) for both write/read ports of the asynchronous FIFO. When reset occurs, the read, write depths are reset abruptly as the reset is async reset. This may trigger metastability errors on Reset Domain Cross checker tools.

One solution is to

[2022-10-26 00:07] tjaychen commented on #14204
thanks @weicaiyang and @eunchan for explaining. I finally see what's happening.
It definitely makes sense to reduce the fifo depth...especially on the response side. I think our core in general does not issue new transactions until it sees a response to the previous (with the exception of a few cases that do not go to peripherals).

But we should probably double check with @GregAC to be sure befor

[2022-10-26 01:05] tjaychen commented on #14746
related to #14145.
I think we can actually close this one down, since it's already duplicated as a chip level test.
@sriyerg what do you think? I'll leave it to you to decide.

[2022-10-26 05:33] jadephilipoom commented on #15144
Is this issue safe to close now? It seems like #15178 has everything we needed.

[2022-10-26 05:36] jadephilipoom commented on #6546
Should we close this issue for now, or at least remove the M2 label, since there's no action required for M2?

[2022-10-26 05:45] weicaiyang commented on #14708
Since overflow/underflow are special cases, I will disable these SVAs when I test them. Hence we could keep the SVAs.

[2022-10-26 08:41] engdoreis commented on #14582
The tests are now passing:
|     | Tests                |   latest |   2022.10.24 |   2022.10.23 |   2022.10.22 |   2022.10.21 |   2022.10.17/12 |   2022.10.17/1 |   2022.10.15/12 |   2022.10.15/1 |   2022.10.14 | Suite                                                                                                          |
|----:|:---------------------|---------:|-------------:|-------------:|--

[2022-10-26 08:41] #14582 closed

[2022-10-26 13:27] johngt opened #15742 "[csrng] Err_test_cg implementation"
Coverage implementation needs to be finished
Err_test_cg implementation

[2022-10-26 13:28] johngt opened #15743 "[csrng] Coverage"
Coverage must be closed
- Over 90% for covergroup coverage, but some still to be implemented
- Code coverage below 90%, in particular branch/expression/FSM low
- Code coverage holes may reveal testplan holes or functional coverage plan holes that need addressing
- 6 days to close coverage (assuming no major holes revealed in tests/coverage plan)

original estimate: 24

[2022-10-26 13:29] johngt opened #15744 "[csrng] Coverage of stalling behaviour at interfaces"
Coverage of stalling behaviour at interfaces? Probably should include this as we’ve seen EDN issues around this

original estimate 4

[2022-10-26 13:29] johngt opened #15745 "[csrng] Familiarisation (non-task - for estimation purposes only)"
For effort estimation only

[2022-10-26 13:29] johngt opened #15746 "[csrng] New test cases (if cover level <90%)"
CSRNG - If major issues encountered (e.g. needing new tests and coverpoints, in turn having a knock on effect on regression pass rate)

[2022-10-26 13:29] johngt opened #15747 "[csrng] Extra cover plan work (if cover level <90%)"
CSRNG - If major issues encountered (e.g. needing new tests and coverpoints, in turn having a knock on effect on regression pass rate)

[2022-10-26 13:30] johngt opened #15748 "[csrng] Regression fixing (if cover level <90%)"
If major issues encountered (e.g. needing new tests and coverpoints, in turn having a knock on effect on regression pass rate)

[2022-10-26 15:11] ballifatih commented on #15679
Thanks @GregAC for digging out the cause of this issue. For the record, this issue is also a blocker for `chip_sw_sysrst_ctrl_ulp_z3_wakeup`, though it is not merged yet #15403.

[2022-10-26 15:25] tjaychen commented on #6546
o yes this should probably be future release. I don't think we intend to do this for M3 either since we've planned a keymgr KAT anyways.

[2022-10-26 16:24] dmcardle commented on #14491
@alphan I think the goal is to test that the watchdog's *bark* (not *bite*) generates an interrupt that throws us into `_asm_exception_handler`. If that's right, I see a couple issues:

1. Interrupts are disabled.
2. The bark threshold is set to the highest value. (See [rom_start.S:159-167](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/rom_start.S;l=159-16

[2022-10-26 16:57] dmcardle commented on #14273
execution halts at _rom_start_boot.

@alphan I think that we will lose the debugger connection after the reset. If we cut out the last step, this test is more or less equivalent to #14490. We could step outside of the GDB script, and assert that OpenOCD printed something indicating it lost the connection to the device. WDYT?

[2022-10-26 17:22] #14961 closed

[2022-10-26 17:35] engdoreis commented on #15679
Thanks @GregAC for the findings. In my opinion we should somehow fix the backdoor mechanism, because it may become a problem with new tests or even existing ones.
So for me, trying to invalidate the cache would be the first option and if that’s too risky we can then move the variable to SRAM, however we would have to review other tests using the same backdoor mechanism.
@tjaychen @weicaiyang @sriy

[2022-10-26 17:43] tjaychen commented on #15679
ah... the flash read only buffers will actually invalidate if you attempt a program to the same location.
So even though this will be somewhat annoying, we can employ a similar mechanism. Ie, before doing a read, just do a program of all 1's to that location (a program of all 1's is effectively a nop).

It's curious we've not encountered this issue elsewhere...

[2022-10-26 17:47] matutem commented on #13248
I think they should be removed permanently. I will send out a PR soon.

[2022-10-26 18:13] weicaiyang commented on #14708
closing via #15740

[2022-10-26 18:13] #14708 closed

[2022-10-26 18:17] msfschaffner commented on #15144
We still need to integrate the strong random class into the topgen, lifecycle and OTP scripts, but I think we can probably defer that to M3. WDYT, @tjaychen @moidx?

[2022-10-26 18:19] weicaiyang commented on #15721
Changed this to M3 and constrain sequence not to issue these dummy req for now

[2022-10-26 18:32] tjaychen commented on #14204
alright! i checked in with @GregAC. On ibex data side, we only issue 1 transaction at a time unless its a misaligned instruction. The instruction side can issue more, but that would never go through the async fifo path anyways.

So I think I will follow along @weicaiyang / @eunchan suggestion of shrinking the the async fifo depth.

[2022-10-26 18:34] tjaychen commented on #15144
yeah that sounds good to me.
There's no immediate need for the strong randoms ...yet.

On Wed, Oct 26, 2022 at 11:17 AM Michael Schaffner ***@***.***>
wrote:

[2022-10-26 18:40] tjaychen opened #15754 "[util/tlgen] Allow user to specify async fifo depth"
The asycn fifo depth inside tlgen is hardcoded right now, but it would be good if in the future top levels can specify how deep it should be directly.

[2022-10-26 18:43] weicaiyang commented on #14204
SG, thanks @tjaychen

[2022-10-26 20:11] engdoreis commented on #8546
Hi @weicaiyang, I've been working on this issue and I manage to do all the missing items besides this:
 - Add randomization via backdoor
Do you know what would that be exactly?

[2022-10-26 20:39] weicaiyang commented on #8546
This item is from @sriyerg's [comment](https://github.com/lowRISC/opentitan/pull/8547#issuecomment-942937209) to improve 2 things
- randomize the address
- run multiple iteration, iteration count is random

For randomization via backdoor, you can refer to this [doc](https://docs.google.com/document/d/1Rgeqx0PX8O7906NE-1j8kJ9vPbY50BZQVr5McJTVnxQ/edit#heading=h.bf1ex6xl59ka).

Since this test doesn'

[2022-10-26 20:53] tjaychen opened #15759 "[pwrmgr] strap_sampled signal update"
The strap sampled is currently looking at an OR of [rst_lc_req and rst_sys_req](https://cs.opensource.google/opentitan/opentitan/+/master:hw/ip/pwrmgr/rtl/pwrmgr_fsm.sv;l=164) to clear.
However with #15317 , this needs to be updated to ensure that ndm_reset_req does not trigger the strap to be resampled.

Ideally we want to clear this on POR and hw_reset, but we should not clear this indication on

[2022-10-26 21:09] abdullahvarici commented on #14780
Started to work on it and created the following PR: https://github.com/lowRISC/opentitan/pull/15760.

[2022-10-26 21:09] weicaiyang commented on #15679
Looks like we only use this polling for a SV backdoor update in sysrst_ctrl tests.
[code]

The other tests most likely just do one read on the location that SV may backdoor update.
Tim's approach SGTM - write a all 1's to it if SW needs to poll an update from SV.
We can make a macro and call `IBEX_SPIN_SV_UPDATE` or similar.

[2022-10-26 22:39] weicaiyang opened #15762 "[chip-test] chip_sw_ast_sys_clk_jitter"
### Test point name

[chip_sw_ast_sys_clk_jitter](https://cs.opensource.google/opentitan/opentitan/+/master:hw/top_earlgrey/data/chip_testplan.hjson?q=chip_sw_ast_sys_clk_jitter&ss=opentitan%2Fopentitan:hw%2F)

### Host side component

_No response_

### OpenTitanTool infrastructure implemented

_No response_

### Contact person

@tjaychen

### Checklist

Please fill out this checklist as items ar

[2022-10-26 22:40] weicaiyang commented on #15762
Looks like we haven't filed an issue for this test. @tjaychen could you tag a priority for this?

[2022-10-26 22:47] weicaiyang opened #15763 "[chip-test] chip_lc_test_locked"
### Test point name

[chip_lc_test_locked](https://cs.opensource.google/opentitan/opentitan/+/master:hw/top_earlgrey/data/chip_testplan.hjson;l=3124?q=chip_rv_dm_lc_disabled&ss=opentitan%2Fopentitan:hw%2F)

### Host side component

SystemVerilog

### OpenTitanTool infrastructure implemented

_No response_

### Contact person

@msfschaffner

### Checklist

Please fill out this checklist as items ar

[2022-10-26 22:50] weicaiyang commented on #15763
Create an issue for this test since it's not done in the chip_testplan.

@msfschaffner perhaps this test can be fully covered by `chip_rv_dm_lc_disabled`, which you added recently.
If so, we can just link this to that test.

[2022-10-26 22:50] cindychip opened #15764 "[chip-test] chip_sw_alert_handler_lpg_sleep_mode_alerts"
### Test point name

[chip_sw_alert_handler_lpg_sleep_mode_alerts](https://github.com/lowRISC/opentitan/blob/master/hw/top_earlgrey/data/chip_testplan.hjson#L1486)

### Host side component

_No response_

### OpenTitanTool infrastructure implemented

Yes

### Contact person

@cindychip

### Checklist

Please fill out this checklist as items are completed. Link to PRs and issues as appropriate.
- [

[2022-10-26 22:51] cindychip opened #15765 "[chip-test] chip_sw_alert_handler_lpg_sleep_mode_pings"
### Test point name

[chip_sw_alert_handler_lpg_sleep_mode_pings](https://github.com/lowRISC/opentitan/blob/master/hw/top_earlgrey/data/chip_testplan.hjson#L1415)

### Host side component

_No response_

### OpenTitanTool infrastructure implemented

Yes

### Contact person

@cindychip

### Checklist

Please fill out this checklist as items are completed. Link to PRs and issues as appropriate.
- [

[2022-10-26 23:36] tjaychen commented on #15762
hmmm... i believe this test is about verifying AST's jitter clock is actually fetching entropy and varying its frequency as expected.
So this would make it more of a closed source test than an open source test.

@sha-ron
@msfschaffner
can you guys confirm if this is what you remember?

[2022-10-26 23:39] tjaychen commented on #15763
Yeah this does feel like it's already been covered. Should we just remove it from the testplan? I'm not even sure how it's different right now. We probably added this to the testplan based on the manufacturing review, but I think this the spirit is already covered.

[2022-10-26 23:41] msfschaffner commented on #15763
Thanks for filing this @weicaiyang.
It looks like there are two aspects here: 1) availability of the RV_DM and 2) performing a transition from TEST_UNLOCKED to TEST_LOCKED. Both should be covered by `chip_sw_lc_walkthrough_testunlocks` and `chip_rv_dm_lc_disabled`.

The difference with other testpoints is really just that this ties 1) and 2) above together in one test point.
I am fine with removin

[2022-10-26 23:46] tjaychen commented on #15762
actually this was added a long time ago, I think the spirit of this test may have already been satisfied by the clkmgr_jitter test, so maybe this is something we can remove.

@sha-ron i think it's probably a valid question on how you guys want to verify the jitter is doing what it's supposed to on the closed source side thoughg.

[2022-10-26 23:51] weicaiyang commented on #15763
Thanks @tjaychen @msfschaffner.
Either removing it or linking those 2 tests LGTM

[2022-10-26 23:56] msfschaffner commented on #15763
let's just X'ref it then. that way we keep it around as "added documentation" for the manufacturing test plan.

[2022-10-27 00:01] tjaychen commented on #15763
yeah sounds good, i can x-ref it .

[2022-10-27 00:03] msfschaffner commented on #15763
Sorry about that :) saw your last msg too late.

[2022-10-27 00:04] tjaychen commented on #15763
no worries! thanks for submitting.

[2022-10-27 00:09] msfschaffner commented on #14200
#15737 should fix this issue.

[2022-10-27 02:12] #15763 closed

[2022-10-27 04:46] tjaychen commented on #14152
@HU90m , we actually are slightly changing the definition of this test due to an inbound reset domain fix. can you have a look at #15769?

[2022-10-27 05:45] sha-ron commented on #15762
Looks like clkmgr_jitter covers what it should in the open source and we will check the rest of the functionality in the closed source side so I think it can be closed.

[2022-10-27 08:24] johngt commented on #15278
As @vrozic is actively working on this, corrected status to 'In progress' and changed the organisation to lowRISC.

[2022-10-27 08:37] johngt commented on #15707
Further discussion needed between @vogelpi and @weicaiyang

[2022-10-27 09:06] vogelpi opened #15777 "[aes] Consider adding a repetition check for the EDN interface"
As part of #14240 we were thinking to adding repetition checks for the EDN interface of AES. At the moment there is no repetition check as AES doesn't require high-quality entropy. However, it would make it harder for someone to replicate the masking off analysis which requires all 32-bit LFSRs in the PRNG to be seeded to the same specific seed.

For future versions, we should consider adding this

[2022-10-27 09:09] vogelpi commented on #14240
In the meantime, all the RTL and software changes have been merged. The last PR to merge before we can close this is https://github.com/lowRISC/opentitan/pull/15732 which add the DV component to the top-level test to actually probe into AES and ensure the masking is indeed off.

To answer to @cdgori 's questions (we discussed this or some of it in a meeting but I forgot to share the outcome here,

[2022-10-27 10:06] engdoreis commented on #15679
SGTM as well as long as we have a common API (macro or function) to be used by all the sw tests to correctly read the backdoor variables.
@GregAC, feel free to assign this issue to me.

[2022-10-27 10:10] vogelpi commented on #15642
Hi @drewmacrae ,
this sounds good to me. FYI #15641 has now been merged.

@johngt , this is not actually related to the hardware or AES/M2 effort. I'll try to move this out of the corresponding view.

[2022-10-27 11:01] vogelpi commented on #14240
Also the last PR for this issue has been merged. I am thus closing it. If something else comes up related to this, feel free to re-open or add a new issue.

[2022-10-27 11:01] #14240 closed

[2022-10-27 11:06] vogelpi commented on #13573
Thanks @weicaiyang for your input. It seems we're sometimes resetting the DUT but not through the `apply_reset()` task. The failure can be reproduced with:
[code]

[2022-10-27 11:11] vogelpi commented on #13220
FYI, I've now added  a top-level test for the AES masking off feature (see https://github.com/lowRISC/opentitan/pull/15732). This will run instantiate (through the SW interface) and reseed (through reseed cmd FIFO) commands with 12 additional words of data (the maximum), the generated commands (through generate cmd FIFO) don't use additional data in this test.

[2022-10-27 14:28] drewmacrae commented on #15642
I'd like t0 make the aes_smoketest reseed less often to get better coverage and performance.

[2022-10-27 15:15] #15702 closed

[2022-10-27 15:27] tjaychen commented on #15762
sounds good. thanks Sha-ron.
@weicaiyang i'll remove this from the testplan and then we can close this issue.

[2022-10-27 15:36] tjaychen commented on #15777
yeah, we could increase the resolution at which edn does the repetition checks? I think it's 64b right now (could be wrong), and we could make it 32b for example.  Which is probably the width that most blocks fetch.

[2022-10-27 15:56] tjaychen opened #15783 "[flash_ctrl] Usability improvements"
- [x] The attributes for hardware access to creator/owner seed pages is different from software access. This does not really make sense since if the two sides do not agree, the contents in there would always be non-sense. We should consider streamlining this #16799
- [ ] The info pages currently do not have a "Default" config the way data pages do.  This may not make sense and deserves a second lo

[2022-10-27 15:56] tjaychen commented on #15783
@jadephilipoom

[2022-10-27 15:56] tjaychen commented on #15783
Assign this to M3 for now...but it could just as likely be backlog...

[2022-10-27 15:56] arunthomas commented on #14488
Assigning to @drewmacrae

[2022-10-27 16:00] msfschaffner commented on #15518
This RFC has been approved by the TC today.

[2022-10-27 16:32] eunchan opened #15785 "[spi_device] TPM interrupt for Write FIFO"
_Related Issue: https://github.com/lowRISC/opentitan/pull/15773_

Current TPM IP does not provide an interrupt about the write transaction completion. Absent of the interrupt results the SW to wait until the transaction completed by reading the WrFIFO depth or polling the TPM CS# de-assertion.

A TPM transaction may took up to 55 us (64B + 1 Wait + address + cmd @ 10MHz). By introducing the comple

[2022-10-27 16:38] abdullahvarici commented on #14780
The PR is completed and it is waiting for your review.

[2022-10-27 16:59] matutem opened #15786 "[dv/cdc] Make cdc instrumentation cycle based"
The prim_flop_2sync is instrumented to have random delays on the input, in the hope of causing some CDC delay in the change(s) of the incoming signal. A big drawback of the instrumentation is that it uses a random delay in time units in the incoming signal(s), but there is no information about the frequency of the clock driving the input. In general the prim_flop_2sync has a multi-bit input, so th

[2022-10-27 17:04] vogelpi commented on #13573
This is a little tricky. @weicaiyang I would be curious to get your opinion about this.

Here is what I have found so far. There are two threads in the test
- Thread a) is injecting the fault by forcing signals, listing for an alert. It waits until seeing the DUT being reset before finishing the test.
- Thread b) is trying to send the actual AES message, when being interrupted due to the fault, it

[2022-10-27 17:41] weicaiyang commented on #13573
@vogelpi For points 1) and 2), @cindychip has seen a similar issue - one reset is triggered earlier than the other, then we may see some assertion errors.
To solve this problem, we can use [apply_resets_concurrently](https://cs.opensource.google/search?q=apply_resets_concurrently&sq=). The rule is that if the block has multiple resets and we need to reset in the middle of simulation, use `apply_re

[2022-10-27 18:39] alphan commented on #14491
Discussed offline.

[2022-10-27 18:46] drewmacrae opened #15788 "[test-triage] //sw/device/tests/crypto:aes_gcm_timing_test broken"
### Hierarchy of regression failure

Chip Level

### Failure Description

Looks like something broke this test in master while it is lacking coverage in CI (it was incorrectly marked as long to save resources in CI)

I00002 aes_gcm_testutils.c:86] aes_gcm_decrypt took 19221 cycles^M^M
I00003 aes_gcm_testutils.c:86] aes_gcm_decrypt took 19034 cycles^M^M
I00004 aes_gcm_testutils.c:86] aes_gcm_decryp

[2022-10-27 18:47] drewmacrae commented on #15788
This was working when it was a test_rom test by default, but didn't get marked as a test_rom test when aff3a6d0f164dab4f41aad35a233a1701b6b1ff8 enabled rom tests more generally.

[2022-10-27 18:49] alphan commented on #14273
I'd suggest keeping that part for this test, since the goal is to verify that asm handler resets the chip. Please feel free to directly set PC to asm handler if it will simplify things. #14490 does not have to verify that the chip is reset.

[2022-10-27 18:56] jeoongp commented on #15721
Sorry for late reply. I will take a look

[2022-10-27 18:58] weicaiyang commented on #15721
Thanks @jeoongp

[2022-10-27 19:02] drewmacrae commented on #15788
This test should be marked as a default "short" test, and should target only the test_rom

[2022-10-27 19:04] #14148 closed

[2022-10-27 19:10] dmcardle commented on #14491
I just did the crudest possible test and confirmed this is working. If I enable the NMIs from the watchdog and swap the bite and bark thresholds, a GDB test can force execution by setting PC (after the `wfi`) and then check that it hits a breakpoint on `_rom_start_boot`, which is the NMI handler.

[2022-10-27 19:11] #14490 closed

[2022-10-27 19:18] cindychip opened #15789 "[edn] sync edn/csrng/entropy_src disablement"
If disable EDN in the `boot_req_mode` during EDN sending `GEN_BITS` command to CSRNG, if CSRNG is not being disabled in the same time, it will still keep this request.
Then when we enabled the EDN, EDN might receive CSRNG responses and store them in the FIFO, even though EDN did not requested it.
This might mis-align the EDN requests/FSMs.

For M2, we think the solution could be to request EDN/CSR

[2022-10-27 19:20] drewmacrae commented on #15788
Bisecting finds commit 68d16cf7c32b9edbc19828b90aa2ea9ad4833506 (HEAD)
Author: Eitan Shapira <eitanshapira89@gmail.com>
Date:   Thu Oct 20 17:30:55 2022 +0300

    Small updates to flash_ctrl_rand_ops_base_vseq

    Signed-off-by: Eitan Shapira <eitanshapira89@gmail.com>

But that seems wrong.

[2022-10-27 19:22] dmcardle commented on #14491
Disregard that, my test was flawed. I'm still having trouble hitting the NMI handler with the debugger.

[2022-10-27 20:08] cindychip commented on #15789
@tjaychen do you happen to know the chip level order?
Yeah that is the current assumption, but we just filing this issue in case other public user might not connect it to CSRNG :)

[2022-10-27 20:19] msfschaffner commented on #15280
This has been passing for three nightlies now - closing!

[2022-10-27 20:19] #15280 closed

[2022-10-27 20:20] msfschaffner commented on #14147
This has been passing for three nightlies now - closing!

[2022-10-27 20:20] #14147 closed

[2022-10-27 20:50] #15539 closed

[2022-10-27 20:56] vogelpi commented on #13573
Thanks a lot for the quick reply @weicaiyang , this makes a lot of sense!

Using `apply_resets_concurrenlty()` I have been able to fix all three points, just needed to insert where the DUT is recovered from the fatal alert. I've filed a PR here: #15791

[2022-10-27 21:02] vogelpi commented on #15707
Hi @johngt ,
I think I could solve this, I've filed a PR here #15791. I've also added an estimate (actually roughly based on how much time I've actually spent).

[2022-10-27 21:21] tjaychen opened #15795 "[chip-test] update chip_rv_dm_ndm_reset_req"
### Test point name

[chip_rv_dm_ndm_reset_req](https://github.com/lowRISC/opentitan/blob/b2df3d8c348364ae829b63f80a5a1b3e7ec5ba5c/hw/top_earlgrey/data/chip_testplan.hjson#L573)

### Host side component

SystemVerilog

### OpenTitanTool infrastructure implemented

_No response_

### Contact person

@tjaychen, @msf, @jeoongp

### Checklist

Please fill out this checklist as items are completed. Lin

[2022-10-27 21:23] tjaychen opened #15796 "[chip-test] chip_rv_dm_access_after_hw_reset"
### Test point name

[chip_rv_dm_access_after_hw_reset](https://github.com/lowRISC/opentitan/blob/b2df3d8c348364ae829b63f80a5a1b3e7ec5ba5c/hw/top_earlgrey/data/chip_testplan.hjson#L640)

### Host side component

_No response_

### OpenTitanTool infrastructure implemented

_No response_

### Contact person

@tjaychen, @msf, @jeoongp

### Checklist

Please fill out this checklist as items are comple

[2022-10-27 21:29] tjaychen commented on #15789
in our test code right now, we currently disable edn0/edn1/csrng/entropy_src in that order.

[2022-10-27 21:31] #15762 closed

[2022-10-27 22:29] eunchan commented on #15518
Implemented in #15580
Closing this issue.

[2022-10-27 22:29] #15518 closed

[2022-10-27 23:08] cindychip commented on #15349
![image](https://user-images.githubusercontent.com/11466553/198414323-12b3f024-40e6-4bc8-90c8-5c066918fc66.png)

[2022-10-28 02:49] msfschaffner opened #15803 "[dv] Knobs for ignoring TL errors in top-level sims"
As initially discovered in https://github.com/lowRISC/opentitan/issues/15737#issuecomment-1293644085_, some of the DV knobs to ignore TL error conditions do not work correctly in top-level sims.

DV has knobs to ignore these error conditions on RV_DM:
https://github.com/lowRISC/opentitan/blob/cb9bee67989b2c0ef31d47936ac9501c9e2b798f/hw/top_earlgrey/dv/env/chip_env_cfg.sv#L238-L248
They seem to wor

[2022-10-28 03:09] msfschaffner commented on #15803
CC @weicaiyang @sriyerg @andreaskurth @tjaychen

[2022-10-28 03:11] msfschaffner commented on #14200
Alright, I think I finally have a fix for this in https://github.com/lowRISC/opentitan/pull/15737.
A DV workaround would be possible as well, but since it did not seem straightforward I ended up fixing the design. I filed an issue for future DV improvements here: #15803.

[2022-10-28 03:15] sriyerg commented on #15803
Thanks for filing this issue. I will take a look soon.

[2022-10-28 03:45] msfschaffner commented on #8380
This seems to be out of date by now since we ended up dealing with this differently.
I.e., each software test configure the parts it cares about in the pinmux via the DIF.
Likewise, the DV environment has a way of muxing in interfaces in a coarse grained way, basing the pin locations on the primary use case.

It thus feels like this issue can be either closed, or deferred into the backlog if we in

[2022-10-28 03:47] msfschaffner commented on #7974
Have these action items been addressed or is there anything left to be done for this issue?

[2022-10-28 03:49] msfschaffner commented on #8015
@timothytrippel is there anything left to do here for M2? If not, can we close or defer into M3?

[2022-10-28 03:50] msfschaffner commented on #5820
This sounds like something we can defer into M3. Please relabel if that is not the case.

[2022-10-28 03:51] msfschaffner commented on #5907
@sriyerg is this something we need for M2 or can we do this as part of coverage closure in V3/M3?

[2022-10-28 03:52] msfschaffner commented on #13213
This sounds like something that can go into M3 - please relabel if that is incorrect.

[2022-10-28 03:53] msfschaffner commented on #14063
Deferring this into M3 since it is documentation only.

[2022-10-28 03:59] msfschaffner commented on #1028
@alphan @arunthomas is this issue still relevant or can we close it?

[2022-10-28 04:01] msfschaffner commented on #14966
Deferring into M3 since we have a workaround for this.

[2022-10-28 05:03] weicaiyang opened #15806 "[dv] cfg is a null object when randomizing dv_base_seq"
As @a-will and @tjaychen pointed out, cfg is a null object when randomizing a seq that extends from dv_base_seq.

This doesn't happen to [dv_base_vseq](https://cs.opensource.google/opentitan/opentitan/+/master:hw/dv/sv/dv_lib/dv_base_vseq.sv;l=57), as it gets the cfg handle in `pre_randomize`.
[code]
See the comment above. In order to achieve this, we force users to `set_sequencer` for the vseq be

[2022-10-28 05:21] matutem commented on #10395
Yes, this was fixed in #11444, 8 months ago. Thanks @msfschaffner. Closing it.

[2022-10-28 05:21] #10395 closed

[2022-10-28 05:45] timothytrippel commented on #8380
Yep this can be closed now.

[2022-10-28 05:45] #8380 closed

[2022-10-28 05:47] timothytrippel commented on #8015
nothing major left here for M2, just some final cleanups for M3. Moving to M3.

[2022-10-28 05:58] cindychip commented on #5907
Hey Michael, thanks for the reminder. I think this can be post-M2. But feel free to chime in Sri :)

[2022-10-28 07:17] #13573 closed

[2022-10-28 07:17] vogelpi commented on #15707
The PR has been merged. I am thus closing this issue.

[2022-10-28 07:17] #15707 closed

[2022-10-28 08:21] engdoreis commented on #14115
This test passing in the regression
|     | Tests                      |   latest |   2022.10.26 |   2022.10.25 | 2022.10.24   | 2022.10.23   | 2022.10.22   | 2022.10.21   | 2022.10.17/12   | 2022.10.17/1   | 2022.10.17   | Suite                      |
|----:|:---------------------------|---------:|-------------:|-------------:|:-------------|:-------------|:-------------|:-------------|:---------

[2022-10-28 08:21] #14115 closed

[2022-10-28 11:04] GregAC commented on #15679
@engdoreis though beware I ran a test using the fix @ballifatih had done, that just placed the variable in SRAM and that hit some different failure. If you could handle doing the change @tjaychen suggests and report back I can pick it up again if we're hitting another issue.

[2022-10-28 11:17] alphan commented on #1028
Depends, do we want to support the bootstrap flow in verilator? I don't have a use case for this atm.

[2022-10-28 13:51] ballifatih commented on #15679
About the fix @tjaychen  suggested, I wasn't able to write `0xff` from sw to the backdoored variable, which is defined like this:
https://github.com/lowRISC/opentitan/blob/64ea3bd268b0ad00e771aa65d735a3a89a7febcb/sw/device/tests/sim_dv/sysrst_ctrl_outputs_test.c#L78-L79
Since `kTestPhase` is const, it doesn't compile if I write `0xff` to it. If I drop const from the variable definition, then the v

[2022-10-28 13:51] drewmacrae commented on #15788
This test is definitely flaky I've seen ``` commit bd9f6d0199af9e3358289c0b3a3900921afe8d02 (HEAD)
Author: Timothy Chen <timothytim@google.com>
Date:   Fri Oct 21 11:10:12 2022 -0700  ``` both pass and fail. I wonder if there's an interaction with the sam3 in this test, though that it fails in verilator indicates that's not the only problem.

[2022-10-28 15:19] msfschaffner commented on #8300
Is this still an issue or can we close this?

[2022-10-28 15:21] msfschaffner commented on #9120
CC @jdonjdon

Is this still planned for M2 or can we defer it?

[2022-10-28 15:22] mundaym commented on #9218
Moving to backlog as this is a nice-to-have feature.

[2022-10-28 15:23] msfschaffner commented on #7894
@alphan, this is resolved right? Please reopen if that is not the case.

[2022-10-28 15:23] #7894 closed

[2022-10-28 15:25] msfschaffner commented on #7553
Closing this since we are only testing the taped out parameter set.

[2022-10-28 15:25] #7553 closed

[2022-10-28 15:27] msfschaffner commented on #6089
@cindychip what is the status of this? can it be closed or deferred to M3?

[2022-10-28 15:32] #2371 closed

[2022-10-28 15:36] msfschaffner commented on #12486
@drewmacrae any update on this? Is this still relevant?

[2022-10-28 15:37] vogelpi commented on #15705
I've written the assertions and created a PR here #15810.

[2022-10-28 15:38] msfschaffner commented on #12989
This may need a documentation update.
Also, we should probably double check whether it makes more sense to use the new status interrupt type that @eunchan has added (currently only used in spi_device for FIFO watermarks, AFAIK).

[2022-10-28 15:40] msfschaffner commented on #13307
Is this still relevant or can we close this?

[2022-10-28 15:41] msfschaffner commented on #13373
CC @ballifatih

[2022-10-28 15:42] msfschaffner commented on #13543
@weicaiyang @engdoreis can this be updated or closed?

[2022-10-28 15:43] msfschaffner commented on #13646
Has this been fixed by now or is this still occurring?

[2022-10-28 15:44] msfschaffner commented on #13796
CC @jdonjdon @tjaychen @msfschaffner

[2022-10-28 15:45] msfschaffner commented on #13960
@milesdai is this addressed? can we close the issue?

[2022-10-28 15:48] milesdai commented on #13960
Not yet -- I'm returning to this test soon and will deal with this issue then.

[2022-10-28 15:52] vogelpi commented on #13646
About 1 out of 10 runs fails because of this currently. It's not a problem in the RTL but the test. The test forces a signal which doesn't have an effect in a reasonable amount of time (see #13572). Since we have many passing seeds for these FI tests and coverage looks pretty good, I am proposing to fix the test after V2S/M2.

Since this is very similar to #13572, I am closing it and rename the ot

[2022-10-28 15:52] #13646 closed

[2022-10-28 15:54] msfschaffner commented on #14913
Can we defer to V3 or do we want to fix this for M2.

[2022-10-28 15:54] a-will commented on #12486
As the targets are not DV, I'd think this would be an M3 thing, not M2. However, I believe at least some of the broken tests are still broken. For some, it looked like bad assumptions about timing. For others, there was going to need to be a deeper investigation.

[2022-10-28 15:55] vogelpi commented on #13572
I've renamed the issue to make it representative for #13646 as well. The behavior of these tests is very similar.

It's not a problem in the RTL but the test. The test forces a signal which doesn't have an effect in a reasonable amount of time
At the moment, about 1 out of 10 FI test runs fail because of this. Since we have many passing seeds for these FI tests and coverage looks pretty good, I am

[2022-10-28 15:58] msfschaffner commented on #15051
Fixed - closing!

[2022-10-28 15:58] #15051 closed

[2022-10-28 15:59] msfschaffner commented on #15129
@jdonjdon up to you whether this is needed for V2 or not.

[2022-10-28 15:59] vogelpi commented on #15709
The two issues are boiling down to the same thing: the test forces a signal and expects an alert which sometimes isn't happening within a certain time frame as the RTL doesn't evaluate the forced signal at that point. Thus the fault is ineffective. The RTL behavior is correct.

Currently about 1 out of 10 FI tests fails because of this.

[2022-10-28 16:02] jdonjdon commented on #15129
ack. I will update nextweek.

[2022-10-28 16:02] #11447 closed

[2022-10-28 16:37] tjaychen commented on #9120
this one is already done but might have had a duplicated issue.
@jdonjdon can you close both if there was a duplicate?>

[2022-10-28 16:38] tjaychen commented on #13796
i think this is okay to close, @eunchan already added `prim_rst_sync`.

[2022-10-28 16:38] #13796 closed

[2022-10-28 17:11] weicaiyang commented on #13543
Looks like @engdoreis is working on this

[2022-10-28 17:17] sriyerg commented on #14913
TBH though, I would actually prefer to leave the DUT in a quiesced state at the end of simulation so that this would not be needed, especially given that we found only one occurrence if this (the AON wdog and timer continuing to count rather than being stopped). AFAICT, we have not seen this failure signature due to some other thing so far.

Deferred to  M3. @matutem, thoughts?

[2022-10-28 17:25] sriyerg commented on #5907
[code]
We have already addressed some of this (there are exclusions in place at the chip level for things that we verified with connectivity). I believe this is in-progress activity and I (we) will keep adding exclusions to address this. The chip level coverage is already looking pretty good, so at the time of M2 sign-off, we can take a repeat call.

[code]
I would consider this to be out of scope

[2022-10-28 17:26] cindychip commented on #5907
Sure, we can close it.

[2022-10-28 17:26] #5907 closed

[2022-10-28 17:28] tjaychen commented on #15679
ah, then maybe you can move this variable to the volatile scratch area that @alphan has defined.
That will allow us to explicitly declare this variable as part of flash, while still allowing for these backdoor attributes.

[2022-10-28 17:29] tjaychen commented on #13307
I think we haven't actually looked through all the tests yet.

[2022-10-28 17:30] cindychip commented on #6089
Sorry I totally missed this issue. We can re-evaluate it after M2. I think since we have the alert_sender/receiver pair, we do not need to test this in common sequence.
The alert_sender/receiver pair already has all the ping and error scenarios.

[2022-10-28 17:38] sriyerg commented on #15806
I'd recommend always following these steps for all types of sequences (interface sequences as well as virtual sequences):
- create sequence
- call`set_sequencer()`
- randomize the sequence

I believe `uvm_create_on()` does the first 2 steps (need to double check).

Is a massive update really needed? Perhaps we can just fix what needs fixing for now?

Alternately, we can demote the fatal error in `

[2022-10-28 17:40] cindychip commented on #8300
Thank you for reminding us.
I think this test is fixed via: https://github.com/lowRISC/opentitan/pull/8730
Please feel free to re-open it if I interpret it wrong.

[2022-10-28 17:40] #8300 closed

[2022-10-28 17:41] sriyerg commented on #8300
Agreed - this is now supported.

[2022-10-28 18:17] weicaiyang commented on #15806
yes, it does both `create` and `set_sequencer`

we didn't enforce that at the beginning, so even tl_agent seq doesn't set sequencer before randomize it.
https://cs.opensource.google/opentitan/opentitan/+/master:hw/dv/sv/tl_agent/dv/env/seq_lib/tl_agent_base_vseq.sv;l=22?q=start%5C(&ss=opentitan%2Fopentitan:hw%2Fdv%2F

demoting the error probably can't solve this. Without setting the sequencer, we

[2022-10-28 18:24] weicaiyang commented on #15679
I'm curious how to move the variable to that defined area, or is it documented somewhere?

[2022-10-28 18:26] drewmacrae commented on #14353
I wonder if the build of hw:verilator is scaling to use fewer threads because it's launched in parallel, or if the default for the -j option changed somehow. I'm seeing slow builds now too.

[2022-10-28 18:29] tjaychen commented on #15679
ah yes. Let me find an example.  I can never remember where it is.

[2022-10-28 18:30] tjaychen commented on #15679
see [here](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/tests/example_test_from_flash.c;l=73-84?q=non_volatile_scratch&ss=opentitan%2Fopentitan)

[2022-10-28 18:32] weicaiyang commented on #15679
Great! Thanks Tim.

[2022-10-28 19:56] sriyerg commented on #15806
I don't think this will work, because `p_sequencer` gets set to the desired sequencer when you pass the sequencer handle argument in `start()`. Before invoking `start()` (which is when we randomize the sequence), `p_sequencer` is `null`, so you will still get the NOA if you dont call `set_sequencer()` before randomizing it.

Aah sorry, my mistake - the issue is with `dv_base_seq` _NOT mandating_ t

[2022-10-28 20:03] msfschaffner commented on #13960
Ok sounds good, thanks!

[2022-10-28 20:07] alphan commented on #15679
Thanks @tjaychen!

[2022-10-28 20:14] alphan commented on #14038
@jon-flatley just needs to create a PR for exposing this in the CLI. Closing this since he implemented the actual logic in #14368

[2022-10-28 20:14] #14038 closed

[2022-10-28 20:15] msfschaffner commented on #15709
Looping in @sriyerg and @weicaiyang. For V2(S) purposes, I believe we require that 90% of the nightly regression tests are passing (see [here](https://docs.opentitan.org/doc/project/checklist/#sim_nightly_regression_v2)). So if that is fulfilled, I believe we can make this a V3 coverage closure issue and defer into M3 without needing a chairs / TC approved waiver.

[2022-10-28 20:16] alphan commented on #7894
Yes, resolved. We also decided to keep the boostrap message in the last security meeting.

[2022-10-28 20:38] weicaiyang commented on #15806
oops, I missed that part - we also need to set sequencer if we want to use `p_sequencer.cfg` in a constraint.

SGTM, in another word, we don't mandate when user has to provide the sequencer object for a seq, but they need to make sure cfg/p_sequencer is assigned correctly, if they use it in a constraint.

[2022-10-28 20:46] drewmacrae commented on #15788
Hmm, bisecting with verilator is showing some problems with:

[e5de5869cfd24ec6d23d19b2f75e89f7d9a61b7d] [test_rom] enable icache / Ibex security features
I bet that could be the one.

[2022-10-28 20:53] drewmacrae commented on #15788
@alphan @jadephilipoom If the icache is causing things not to be constant time, should this test disable the icache?  Should it prime the icache by running in a loop? What's OpenTitan's stance on the icache and constant time?

[2022-10-28 21:01] weicaiyang commented on #15709
SGTM, we can change this issue to M3 and address it after V2S.

[2022-10-28 21:02] alphan commented on #15788
I think this is the first time we have encountered this issue in tests since we enabled `icache` only recently. @jadephilipoom you've probably thought about this and was expecting this but I'm not sure if the `cryptolib` has any policy on this yet. Obviously, it feels like disabling `icache` is the safest option. `cryptolib` should probably do this in a push/pop fashion, i.e. store current config,

[2022-10-28 21:15] msfschaffner commented on #14041
Since this is only about a missing output check, and since we already have the toggle coverage, are we ok with deferring this into M3?

[2022-10-28 21:22] msfschaffner commented on #15262
Since pwrmgr is already beyond V2, is this something we could potentially defer to V3?

[2022-10-28 21:26] msfschaffner commented on #15423
Ideally, helper logic for assertions should always be wrapped with `ifdef INC_ASSERT.

However, if we were to add inline coverage exclusion pragmas to `ifdef INC_ASSERT, would that have any adverse effect on assertions that are part of the affected code section in terms of assertion coverage collection?

[2022-10-28 21:27] milesdai opened #15818 "[bitstreams] Detecting different bitstreams via the `usr_access` field"
We currently use the `usr_access` field in the bitstream to identify different versions of bitstreams (e.g. bitstreams with different ROMs or OTPs spliced in) when programming. By default, it contains the timestamp of the Vivado build, and currently, when we splice in different components, we update `usr_access` to contain the timestamp of the splicing operation.

The problem is that when Bazel sp

[2022-10-28 21:28] milesdai commented on #15818
Note that I have assigned this to the Backlog Milestone since we can temporarily use #15758 (which implements option 1 above) to unblock E2E tests.

[2022-10-28 21:28] milesdai commented on #15818
CC: @cfrantz @alphan @dmcardle

[2022-10-28 21:31] msfschaffner commented on #15463
Since this is mostly documentation cleanup in the spec, I will mark this as a D3 / M3 item.

[2022-10-28 21:32] msfschaffner commented on #15486
@sriyerg do you want to do this deprecation as part of M2, or can this wait until later?

[2022-10-28 21:33] msfschaffner commented on #15642
Ok sounds like this is not really needed for M2, so I'll relabel it to M3. Please correct if that is wrong.

[2022-10-28 21:36] msfschaffner commented on #15649
Looks like `TopEarlgreyAlertIdLcCtrlFatalProgError` is covered in `lc_ctrl_program_error.c`:
https://github.com/lowRISC/opentitan/blob/da1c2ed8171934c90d44a3b6f56e2c19b06a268d/sw/device/tests/sim_dv/lc_ctrl_program_error.c#L67-L71

CC @cindychip

[2022-10-28 21:38] msfschaffner commented on #15708
CC @cindychip

[2022-10-28 21:41] msfschaffner commented on #15728
CC @tjaychen what is the reason for this failure? should we check for `ast_init_done` if the `CREATOR_SW_CFG_AST_INIT_EN` is not set to True?

[2022-10-28 21:45] tjaychen commented on #15262
i think pwrmgr hasn't closed v2/v2s yet because of the reset domain change.

[2022-10-28 21:45] sriyerg commented on #15806
That is correct.

[2022-10-28 21:47] timothytrippel commented on #14814
# Test Checklist (WIP):

## (Task 0) Main:
- [x] configure GPIO pin (mapped to IOA2 pad) as output (#15717)
- [x] configure adc_ctrl to continuously sample (but do not enable) (#15717)
- [ ] configure entropy complex (beyond what test ROM does) to:
    - [ ] enable all entropy_src health tests (but keep IRQs disabled)
    - [ ] configure both EDNs (0 and 1) in auto request mode with appropriate MA

[2022-10-28 21:54] weicaiyang commented on #14041
SGTM, let's revisit this after M2.

[2022-10-28 21:55] weicaiyang commented on #15463
SG, thanks @msfschaffner

[2022-10-28 21:57] msfschaffner commented on #10970
Agreed that the CDC/sleep-wake part may already be handled as part of the existing tests and CDC tooling.

For the stress test, the max load test may actually suffice, since it exercises the entropy complex quite heavily: https://github.com/lowRISC/opentitan/issues/14814#issuecomment-1295498573

As for the max latency test - this came up as a question, but as you say this may not be needed if we h

[2022-10-28 21:59] msfschaffner commented on #15262
Ah yeah that's right - I was just going off the dashboard for this, where it currently says V2S.

[2022-10-28 21:59] sriyerg commented on #15423
No it wont - we would only be excluding the helper logic, not the assertions, so it should be safe. But that also means, each of these need to be carefully addressed (i.e this wouldn't be a quick search and replace thing). We could write a script that "finds" all instances of `ifdef INC_ASSERT`, then wraps all non-empty contiguous lines within that do not contain any `` `ASSERT_*`` statements in c

[2022-10-28 22:01] sriyerg commented on #15423
Moved to M3, since the block / chip level coverage requirements for M2 will be met without needing this.

[2022-10-28 22:05] msfschaffner commented on #14611
Seems like this can be closed since the newest Ibex patch above has been re-vendored into OpenTitan.
Please reopen if there is still something left to do here.

[2022-10-28 22:05] #14611 closed

[2022-10-28 22:06] msfschaffner commented on #15393
Moving this to M3, since we have a workaround for this in place (unused ports are excluded from coverage).

[2022-10-28 22:09] msfschaffner commented on #15480
@GregAC are you satisfied with the answers given here? Can we close this issue?

[2022-10-28 22:14] msfschaffner commented on #15423
Ok but if we made it part of the `INC_ASSERT` macro itself (in order to avoid having to go through this search/replace exercise), that would have an effect on the assertions, right?

[2022-10-28 22:14] tjaychen commented on #10970
@cindychip @eunchan
For the max latency, we should double check whether kmac enforces that check in hardware.
I think it does, which is why we had a kmac timeout test I believe.  That's the primary case to worry about here I think.

[2022-10-28 22:16] msfschaffner commented on #14180
Ibex has been re-vendored.

@GregAC can you take a look at @cdgori last question and close the issue if all is good?

[2022-10-28 22:18] msfschaffner commented on #10932
@Muqing-Liu @martin-lueker friendly ping to check and close, if possible.

[2022-10-28 22:37] Muqing-Liu commented on #10932
Sorry I missed this comment, yes, I think this can be closed.

[2022-10-28 22:43] msfschaffner commented on #10932
Thanks @Muqing-Liu - closing!

[2022-10-28 22:43] #10932 closed

[2022-10-28 22:47] matutem commented on #15427
Well, both dumps are essentially inactive, meaning they don't really trigger actions, and are simply captured to be read subsequently. This means each bit is independent of the others. Apparently they cannot be cleared either, they are just overwritten when another reset occurs.

A few rstmgr unit tests sets them to random and reads a few times to confirm the value is as expected, meaning they are

[2022-10-28 22:48] timothytrippel opened #15820 "[bazel,python] refactor `bitstreams_workspace.py` to make it easier to test"
As [mentioned](https://github.com/lowRISC/opentitan/pull/15807#discussion_r1008361637) in #15807, the `bitstreams_workspace.py` script could use some refactoring to make it easier to test.

Additionally, the test script needs to be refactored to make use of test fixtures.

[2022-10-28 23:03] msfschaffner opened #15822 "[tlul] Consider refactoring tlul_adapter_reg"
If we decide to refactor `tlul_adapter_sram` as part of #7462, we should probably also refactor other related modules such as `tlul_adapter_reg`, and align them.

See also this discussion here: https://github.com/lowRISC/opentitan/pull/15737#pullrequestreview-1160824397

CC @tjaychen

[2022-10-28 23:06] msfschaffner commented on #14200
The fix has been merged - let's observe the nightlies and close the issue if the test passes again.

[2022-10-28 23:06] msfschaffner commented on #10837
This should be addressed by #15737, hence we can close this issue.

[2022-10-28 23:06] #10837 closed

[2022-10-28 23:07] msfschaffner commented on #15506
Fixed in #15737.

[2022-10-28 23:07] #15506 closed

[2022-10-28 23:10] msfschaffner commented on #15427
Thanks @matutem! I think we are aligned on the fact that toggling all bits in the top-level tests is needed.

Given that the block-level environments check these outputs, the only thing left to do here appears to be the connectivity checks - I can do that.

[2022-10-28 23:15] cdgori commented on #15480
The only thing left for me was my clarifying question regarding what @GregAC meant by "unmapped" in his first comment above.

I guess also to double/triple-check that the PMP check prevents decode of data-fetched-beyond-the-boundary since that would be a serious problem.  (It's ~OK to fetch/pre-fetch into non-execute regions, but manipulating/decoding the data is the problem.)

[2022-10-28 23:23] msfschaffner commented on #15427
Double checked with @cindychip: the alert handler block level DV checks the crashdump outputs.

[2022-10-28 23:35] #14287 closed

[2022-10-28 23:39] tjaychen commented on #10241
yeah i think this one can be deferred. It isn't related to any of the reset domain change stuff.
Let's go ahead with it.

[2022-10-28 23:53] msfschaffner commented on #15480
Yeah let's wait for @GregAC to clarify.

RE prefetching from non-execute: yes, unless the region is not idempotent (e.g. a FIFO). we should probably make sure executable regions are placed far away from non-executable regions in the system memory map.

[2022-10-28 23:56] tjaychen commented on #15480
i think longer term we're going to want a PMA... right now the ibex can't tell these things apart, so as a result the memory access latency I think suffers since we technically need a response before issuing another. If we could actually tell apart IO/memory space, we could probably reap some benefits from it.  The PMA will also let us know to not fetch into IO space if they are close together.

[2022-10-29 00:04] sriyerg commented on #15423
I am not sure I understand how you are envisioning making this a part of the `INC_ASSERT` macro such that no search and replace would be needed. Could you elaborate more?

[2022-10-29 00:23] msfschaffner commented on #14407
I am deferring this bug to M3. The new policy file is now available in newer releases of AscentLint, but the tool still exhibits a problem with excessive runtimes on our top-level at the moment. We are following up with the vendor and will come back to this later.

[2022-10-29 00:48] msfschaffner commented on #15423
Nevermind my last comment - I had this backwards in my head. We are using `INC_ASSERT` only as a define here, and not as a macro with arguments containing the code section. If it were the latter, we could potentially do something like this:

[code]

[2022-10-29 00:56] #15066 closed

[2022-10-29 01:03] sriyerg commented on #15680
I may end up fixing this as a part of my PR https://github.com/lowRISC/opentitan/pull/15814.

[2022-10-29 03:57] moidx commented on #13220
Started implementation of this test in https://github.com/lowRISC/opentitan/pull/15830.

So far seeing some issues:

1. OTBN throws `rnd_fips_chk_fail` when the EDN1 generate len is set to 1, and reseed interval to 1.
2. If the reseed interval on EDN1 is greater than 1, the test seems to hang on the FPGA.
3. The test fails on the FPGA with the default `kEntropyFetchTimeoutMicros = 1000` value in `

[2022-10-29 11:58] Jacob-Levy commented on #15599
All changes done and awaits for PR approval & merge...

[2022-10-29 12:34] drewmacrae commented on #15788
I would expect the icache doesn't affect the block and that the constant-time property is supposed to be of-the-block, and that the test should have the icache off, so it can assess the timing of the block behavior better. So all our constant time tests should have it off.

I'll file a separate issue to ask the question about cryptolib.

[2022-10-29 12:37] drewmacrae opened #15832 "When should cryptolib disable icache to keep operations constant-time?"
Some constant-time cryptolib tests are failing when the icache is enabled by the test-rom.

Does the threat model include the timing of cryptolib code (in which case it should disable the icache when running)
or do we expect that previous accesses to cryptolib were made by similarly trusted code and we should prioritize the performance improvements offerred by the icache?

[2022-10-30 10:02] engdoreis commented on #13543
Yes, I am. I merged one PR #15612 addressing some of the pendings already.
The next PR will be filed soon.

[2022-10-30 18:49] jdonjdon opened #15838 "[chip-test] chip_sw_flash_ctrl_escalation_reset"
### Test point name

[chip_sw_flash_ctrl_escalation_reset](https://github.com/lowRISC/opentitan/blob/811cd61fd9637a4c72c162c04fae707dc869970a/hw/top_earlgrey/data/chip_testplan.hjson#L971)

### Host side component

SystemVerilog

### OpenTitanTool infrastructure implemented

_No response_

### Contact person

@jdonjdon

### Checklist

Please fill out this checklist as items are completed. Link to

[2022-10-30 20:53] jdonjdon commented on #15340
![image](https://user-images.githubusercontent.com/99843637/198900993-edaa6899-9896-4c89-966f-d4f96843a7af.png)
With the PR TBD, this is the latest numbers.

[2022-10-31 06:59] jadephilipoom commented on #15788
My feeling is that the cryptolib should disable icache to protect against cache-timing attacks, and the push/pop method that @alphan mentioned seems appropriate. It's fine with me to disable the icache in this test for now; once I've properly connected the AES-GCM implementation to the top-level API, I'll disable it in the top-level code and won't need to specifically disable it for the test.

[2022-10-31 07:02] jadephilipoom commented on #15832
Yes, the threat model includes timing attacks. As discussed in #15788, we should disable icache upon entry to all constant-time cryptolib functions, and re-enable it before returning. Thanks for raising this issue @drewmacrae !

[2022-10-31 09:16] #15705 closed

[2022-10-31 09:29] vogelpi commented on #15708
I wasn't aware but these tests are in the FPV dashboard as well: https://reports.opentitan.org/hw/top_earlgrey/formal/sec_cm/summary/latest/report.html

For AES, everything is passing. @cindychip is this sufficient? Or is there something we should check for V2S on top of this?

[2022-10-31 10:08] vogelpi commented on #15433
I've now merged PR #15589 , but we need to rework the assertion part / verification `sec_cm_data_reg_local_esc` a bit. I am now looking into this.

`sec_cm_key_masking` and `sec_cm_data_reg_key_sca` are done (see #15810).

[2022-10-31 11:15] engdoreis commented on #15679
@tjaychen I've implemented the solution you've proposed here https://github.com/lowRISC/opentitan/pull/15811.

[2022-10-31 17:07] vogelpi commented on #15433
The follow-up PR reworking `sec_cm_data_reg_local_esc` is here #15844.

[2022-10-31 17:46] tjaychen commented on #15832
@jadephilipoom just a quick question, does the icache timing usually end up being a big threat vector? I definitely understand it can be for data cache, but just wondering if the impact is less pronounced with icache, or is it every bit as dangerous?

@drewmacrae if we do plan on enabling / disabling icache dynamically, we probably also want to make sure we have test coverage for this somewhere ju

[2022-10-31 17:48] tjaychen commented on #15679
o did that actually solve the issue?

[2022-10-31 17:56] jadephilipoom commented on #15832
I think at any rate we should be very careful, and the fact that a constant-time test started failing because the timing was variable with icache on (#15788) is a worrying sign. I think to enable it we need some thorough evaluation of how to use it safely for crypto code and also how to evaluate that it's safe (e.g. if it just produces some harmless noise in cycle-counts, how do we check that thin

[2022-10-31 18:07] dmcardle opened #15846 "Fetch OpenOCD with rules_foreign_cc"
Currently, we use the system's `openocd` binary. CI installs OpenOCD 0.11.0 via apt, but my Debian machine has 0.12.0-rc1. This version mismatch is potentially preventing us from running GDB-based e2e tests on CI: https://github.com/lowRISC/opentitan/pull/15713#issuecomment-1295474666 .

Let's tie the OpenOCD dependency into Bazel with [`rules_foreign_cc`](https://github.com/bazelbuild/rules_forei

[2022-10-31 18:13] tjaychen commented on #15832
i see what you mean. So in the absence of a good way to really evaluate we are "safe", it's better to just be on the conservative side and make sure constant time really means constant time.

[2022-10-31 18:15] msfschaffner commented on #15708
If the FPV setup is correct and all assertions are written for AES, this should be sufficient, yes. I will let @cindychip confirm - then we should be able to close this bug.

[2022-10-31 18:20] weicaiyang commented on #14159
@gdessouky @tjaychen

Sorry, after a closer look, I think we can probably close this issue now without further action.

We already compare the correct sideload key is sent to Otbn [here](https://cs.opensource.google/opentitan/opentitan/+/master:hw/top_earlgrey/dv/env/seq_lib/chip_sw_keymgr_key_derivation_vseq.sv;l=177?q=chip_sw_keymgr_key_derivation_vseq&ss=opentitan%2Fopentitan:hw%2F). Ideally, w

[2022-10-31 18:22] tjaychen commented on #14159
@weicaiyang does this apply to all the other sideload test sequences? They can all make sure of keymgr_derivation?
Not doing the otbn check is fine with me.  I think as long as we can guarantee right "sideload" gets there, we can cover the rest in a variety of ways :)

[2022-10-31 18:30] jadephilipoom commented on #14159
One note here is that OTBN is more flexible model-wise than other blocks. I think we originally talked about the work required for a C model for KMAC, which is fairly high-effort, but for OTBN we can choose any operation for which we have an OTBN program. For instance, an OTBN SHA-512 implementation was recently merged -- we could perform HMAC with SHA-512. X25519, the operation currently used in

[2022-10-31 18:30] weicaiyang commented on #14159
I want to avoid just testing the key arrives at the IP boundary if possible
The best way to ensure right sideload key gets there, is to have kmac/otbn/aes use the key and check the digest output, which we really test the interaction. For kmac and aes, we have C mode, so that it's not very hard to do it
I wonder if you have some other way to guarantee right "sideload" gets there.

[2022-10-31 18:38] weicaiyang commented on #14159
@jadephilipoom we have a kmac C mode available in the DV testbench. With that, is it easy to calculate the output of X25519 operation?

[2022-10-31 18:42] moidx commented on #13220
@tjaychen is working on a couple of fixes to get the test to work in DV:

* [ ] https://github.com/lowRISC/opentitan/pull/15848
* [ ] https://github.com/lowRISC/opentitan/pull/15847

[2022-10-31 19:03] jadephilipoom commented on #14159
Ah, I didn't realize that there was already a KMAC C model available! Unfortunately, KMAC and X25519 are unrelated, and we don't have any OTBN implementations that overlap cryptographically with AES or KMAC.

[2022-10-31 19:13] weicaiyang commented on #14159
I see. Thanks for the clarification.
Given the difficulty of having a C mode for X25519 program, perhaps let's make an exception for otbn sideload - just check the sideload key on the IP boundary. @tjaychen Let me know if you have any concern.

[2022-10-31 19:19] tjaychen commented on #14159
sounds good to me!

On Mon, Oct 31, 2022 at 12:13 PM weicaiyang ***@***.***>
wrote:

[2022-10-31 20:51] cindychip commented on #15708
They are passing and all 100%, so I think we can close it. https://reports.opentitan.org/hw/top_earlgrey/formal/sec_cm/summary/latest/report.html

[2022-10-31 20:51] #15708 closed

[2022-10-31 20:58] #14159 closed

[2022-10-31 21:02] msfschaffner commented on #15486
I am moving this into M3 for now - please relabel if that is not accurate.

[2022-10-31 21:23] msfschaffner opened #15856 "[doc] RFC: Semantic Versioning Rules"
Carried over from [#15333](https://github.com/lowRISC/opentitan/issues/15333). See RFC doc here: [doc](https://docs.google.com/document/d/1LS9at9vMxwKIhBIsDbmR6guwJ-xftsax1Qx-vdkCg1Y/edit#heading=h.1qmc39dhqd9f)

[2022-10-31 21:24] msfschaffner commented on #15333
Splitting this issue into two RFCs. The first one is the register region format, and that one is required for M2 (see [doc](https://docs.google.com/document/d/1ItyPMpvtdb9gFIWLe-qVy5py6Qi8kA30r9it4uW6w4U/edit)).
The second RFC is about the versioning rules, and that needs more time to converge, hence it is deferred to after M3, see: #15856

[2022-10-31 21:27] cdgori commented on #14240
This makes me feel much better.  Especially the point about the 2nd share needing to be all-zero!  But also all the other alerts that will fire.

Thank you!

Understood.

Thanks for the detailed write-up!

[2022-10-31 21:33] cdgori commented on #15507
Ah, sounds like the usage is truly unbounded (other than by practical aspects of execution time).
I was hoping there was some usage bounds that we could then use to set the leakage-per-thousand-HMACs or something similar.  We are probably back to the (standard) "do the best you can" then, which is ok.

[2022-10-31 21:39] tjaychen opened #15857 "[edn] Generate / Reseed Command FIFO reduction"
This is something that was recently seen in a test.
Since the generate and reseed command fifos can be fully software written, it means that it is possible for software to write the "wrong" command into the fifo (ie, write a payload with the command as reseed into the generate fifo, or a payload with command as generate into the reseed fifo).  In fact this actually happened and caused the entire e

[2022-10-31 21:39] tjaychen commented on #15857
@cindychip
@moidx

[2022-10-31 21:58] cdgori commented on #15832
In theory, we might be able to flush/invalidate the whole icache before running cryptolib functions.  We should get deterministic cycle counts then.  (Some questions arise about interrupts / context switches though.)

Erring on the side of conservative here is a good idea.

[2022-10-31 22:13] weicaiyang opened #15858 "[keymgr] clarification for some countermeasures"
@tjaychen

as discussed, please clarify how it actually protects in this countermeasure - KEYMGR.SIDE_LOAD_SEL.CTRL.CONSISTENCY.

Also, the `KEYMGR.KMAC_IF_CMD.CTRL.CONSISTENCY` also does a consistency check [here](https://cs.opensource.google/opentitan/opentitan/+/master:hw/ip/keymgr/rtl/keymgr_kmac_if.sv;l=357?q=KMAC_IF_CMD.CTRL.CONSISTENCY%09%20&ss=opentitan%2Fopentitan:hw%2F) (during an operat

[2022-10-31 22:14] matutem commented on #15427
Wanted to clarify: @msfschaffner you said above "I think we are aligned on the fact that toggling all bits in the top-level tests is needed."... Did you misstate this? I thought we agreed we did *not* need all bits to toggle at top-level tests, rather all toggling at the three unit levels involved plus connectivity.

[2022-10-31 22:19] msfschaffner commented on #15427
woops, I may have stumbled over my fingers when writing this, thanks for pointing it out. there is a missing NOT in that sentence. I corrected the comment.

[2022-10-31 22:20] msfschaffner commented on #15427
The only part that remains to be confirmed is whether the Ibex crashdump is adequately tested. We can discuss this in the V2 meeting for Ibex tomorrow.

CC @GregAC @vogelpi @ctopal

[2022-10-31 22:43] #15838 closed

[2022-10-31 22:44] #15340 closed

[2022-10-31 22:46] #15659 closed

[2022-10-31 23:32] eunchan commented on #15463
@jeoongp could you please address the second item? You most likely knows better than I am onto the logic.

[2022-10-31 23:42] jrvanwhy commented on #14498
Here are some notes on my understanding so far (end of Monday). @alphan I'd appreciate if you glance over this and let me know if I'm on the right track.

I should create OTP images with varying values of `OWNER_SW_CFG_ROM_WATCHDOG_BITE_THRESHOLD_CYCLES`. This particular value is a plain 32-bit unsigned integer, with no hardening or fixed set of permissible values.

I should create a test image in

[2022-10-31 23:55] #14506 closed

[2022-11-01 00:22] weicaiyang opened #15862 "[keymgr] Should we latch sideload_sel_err"
@tjaychen
Current DUT only latches the error at the last cycle of the operation when done is set. If the error occurs like a glitch and disappears before the last cycle, it won't be caught.
Should we latch the error once it occurs?
![Screen Shot 2022-10-31 at 5 15 18 PM](https://user-images.githubusercontent.com/49293026/199132378-27c19693-55be-4701-aff7-b5eba28ccb7f.png)

Waves:
/mnt/disks/filest

[2022-11-01 00:27] tjaychen commented on #15862
If i remember right, i think this one is particular was meant to capture the moment the sideload key is actually updated.
So when we go through the key process and at the end we will update one of the key slots, at that moment, sideload_sel is also captured. So if you try to look at it prior, during normal operation, i think sideload_sel does not match dest_sel until the very end.  Can you confirm

[2022-11-01 01:15] timothytrippel commented on #15640
The previous fix did not completely resolve the issue. Reopening.

[2022-11-01 02:01] drewmacrae opened #15865 "Verilator has begun to make with 1 thread and is much slower"
Something in our bazel workspace, bazel, fusesoc or verilator has caused verilator to build with only a single thread, slowing it down significantly.

fusesoc's --make_options=-j x

appears to make a significant improvement and should be plumbed through bazel to let us build verlated images faster. I'm tempted to use the number of threads that the verilated model is built for because that wont cau

[2022-11-01 02:04] drewmacrae commented on #15865
@vogelpi observed and described the slowdown first and I can better debug it now that it's happened to me.

[2022-11-01 04:51] weicaiyang commented on #15862
So when we go through the key process and at the end we will update one of the key slots, at that moment, sideload_sel is also captured.

that's true, the sideload_sel is only used at the last cycle when `done` is set.

These 2 signals are created with the same condition, so they're identical in this case until I force one of them.
![Screen Shot 2022-10-31 at 9 48 07 PM](https://user-images.github

[2022-11-01 08:30] vogelpi commented on #15642
Hey @drewmacrae , the `aes_smoketest` just encrypts and decrypts 1 block each. Currently, it should be doing 5 reseeding operations:
1. Right after coming out of reset. This cannot be changed.
2. After writing the encryption key. This can be changed by setting `AUX_CONTROL_SHADOWED.KEY_TOUCH_FORCES_RESEED` to 0.
3. Before finishing the encryption of the block. This can be changed by setting `CTRL_

[2022-11-01 09:00] vogelpi commented on #15708
Great, thanks for confirming @cindychip and @msfschaffner !

[2022-11-01 11:59] vogelpi commented on #15433
All PRs related to this issue have been merged. I am thus closing the issue.

[2022-11-01 11:59] #15433 closed

[2022-11-01 12:22] vogelpi commented on #15470
Sorry @tjaychen , I completely forgot to reply to you here. Yes, I think it should be fine regarding the triggering. We anyway need some re-alignment because unlike on the ChipWhisperer setup, the target and scope won't be fully synchronized when measuring the ASIC. Also, we won't be able to switch of Ibex for actual KMAC measurements on the ASIC because Ibex first needs to configure the command,

[2022-11-01 12:47] gdessouky commented on #14141
@vrozic i'll be debugging a PR with the keymgr_sideload_* test and adding a digest check for KMAC sideloading test. The AES sideloading here will be pretty similar. Does it make sense that I take care of this one too and assign you as reviewer (as for the other test as well)?

[2022-11-01 13:44] GregAC commented on #15427
No testing for crashdump within Ibex DV currently, may just need some assertions to do it.

[2022-11-01 13:53] GregAC commented on #15480
By unmapped I mean addresses not physically present in the address map

The instruction bits will enter the IF stage, which has a compressed instruction decoder (uncompressing instructions into 32-bit instructions). The actual decoder lives in the ID/EX stage and the PMP won't let the prefetched instructions from the IF stage enter the ID/EX stage.

Yes definitely

Yeah I'd definitely like to look

[2022-11-01 13:55] GregAC commented on #14180
Nothing malicious beyond the scrambling key potentially not getting renewed.

[2022-11-01 13:58] vrozic commented on #14141
@gdessouky
Thanks a lot for offering help. I haven't yet started working on this issue, so if you have time and if the work is similar to your other task it makes sense that you take over.

[2022-11-01 14:11] vrozic commented on #15278
The timeout seems to be caused by the endless wait in the 'execute_reset()' task. This is sometimes caused by the hw por tests. I am working on the fix.

[2022-11-01 14:26] alphan commented on #14498
Correct, I think 2 different `OWNER_SW_CFG_ROM_WATCHDOG_BITE_THRESHOLD_CYCLES` values would be good:
1. `OWNER_SW_CFG_ROM_WATCHDOG_BITE_THRESHOLD_CYCLES = 0`, i.e. `kWatchdogMinThreshold - 1`. Watchdog should be disabled in all life cycle states, including `DEV`, `PROD`, `PROD_END`.
2. `OWNER_SW_CFG_ROM_WATCHDOG_BITE_THRESHOLD_CYCLES = 0xC350`, i.e. 50k cycles, 0.25 s assuming a clock freq of 200

[2022-11-01 14:33] alphan commented on #10970
We have something in our todo list to make sure the boot mode entropy will be enough for ROM. Is this what you are referring to?

[2022-11-01 14:53] johngt commented on #14141
Per discussion on the thread assigning to @gdessouky . Please update status to In Progress when you are able to start efforts on here and thanks!

[2022-11-01 15:43] GregAC commented on #15219
Fetch enable behaviour now vendored into OT

[2022-11-01 15:43] #15219 closed

[2022-11-01 15:58] drewmacrae opened #15877 "[test-triage] 33 failing tests in master not tagged as broken"
### Hierarchy of regression failure

Chip Level

### Failure Description

Ran: ```bazel test //... --test_tag_filters=-broken```
and found the following failures
[code]

### Steps to Reproduce

- Commit hash where failure was observed: 637313d14c387749321af3450b6c3d0c1dfbfc8a
Ran: ```bazel test //... --test_tag_filters=-broken```

but individual failures can likely be reproduced in isolations (exc

[2022-11-01 16:27] tjaychen commented on #15862
let me have a look at what i was intending to do here... something is weird.

[2022-11-01 16:31] vogelpi commented on #15706
Update: today @andreaskurth , @ctopal and I went through the coverage report. With updated exclusions and but still not too many runs we have the following numbers:
[code]
Branch and expression still needs to improve a bit. We've also discussed the outcome with Rasmus. What we should do:
1. Copy one of the existing FI interfaces but adapt it to also force one-hot encoded control signals such as `o

[2022-11-01 16:32] timothytrippel opened #15878 "[ci,bazel] create blocking CI check for `[new_]git_repository` rules"
`git_repository` and `new_git_repository` rules are not supported in our Bazel workspace for bringing in external dependencies from the Internet, as they have no `sha256` parameter, and thus are not cached in the repository cache, which breaks our airgapped build requirements. Moreover, having a missing `sha256` parameter breaks our security requirements as well.

We should create a blocking CI ch

[2022-11-01 16:42] weicaiyang commented on #14204
This test is still failing. Let me take a look.

[2022-11-01 17:04] weicaiyang commented on #14141
@gdessouky Thanks for taking this test.
As discussed in #15852, we just need to check the result of the AES operation with sideload key.
But for kmac sideload test, we already added the kmac C model in chip-level. For aes, we have [the aes C model](https://cs.opensource.google/opentitan/opentitan/+/master:hw/ip/aes/dv/aes_model_dpi/) in block-level, but we haven't added it in chip-level. Hence, we

[2022-11-01 17:14] milesdai commented on #14271
Reopening since not all comments from #15752 were addressed yet. That PR was merged early for convenience; the following tasks are still remaining:
- [ ] Address comments on the PR
- [ ] Enable the test in CI (there are still some issues with the tags that is keeping the FPGA tests from picking up the tests)

[2022-11-01 17:18] cfrantz opened #15880 "Remove cargo raze, replace with rules_rust's crate_universe"
Investigate rules_rust's crate universe.  If acceptable, remove cargo_raze in favor of crate_universe.

[2022-11-01 17:31] tjaychen commented on #15427
@GregAC when you say assertions, do you mean that we would check the dump output accurately reflects what is inside the core?

I guess the other thing is the double fault stuff, which is handled outside the core in `rv_core_ibex`.  We do have tests on that, but it'd be great if you guys can have a look at that top level test and see if you feel coverage is sufficient. I think @HU90m and @engdoreis

[2022-11-01 17:33] tjaychen commented on #10970
@alphan do you know if such tests are time bound?
The real check in the end, I think will have to be in Nuvoton's closed environment with the real AST (@sha-ron / @zi-v ).
Ie, we simulate that given AST start-up conditions we still are able to get entropy into sram_ctrl for scrambling setup in a timely manner.

We can't really do this testing very well in open source since we only have a model of

[2022-11-01 17:37] cindychip commented on #10970
Hey Tim, sorry for the late reply. For kmac, SW can configure a timeout value in CSR. If timeout reached, KMAC will return an interrupt and SW will need to reset the IP to get entropy working again.

[2022-11-01 17:45] tjaychen commented on #10970
ah sounds good. Thanks for reminding me, I always forget it's software configurable. Then maybe the max latency stuff is something we should just table to M3.  Kmac isn't used by ROM, so we don't really need to figure out how to configure this value early on.  The only thing where entropy latency matters a ton very early during boot is just sram_ctrl scrambling and memory initialization.

Let me k

[2022-11-01 17:46] msfschaffner commented on #11794
We discussed this in the Ibex V2 meeting.
Since the regressions are run nightly and can be audited, we're deferring this to V3 / M3 so that we can focus on more important tasks for M2.

CC: @tjaychen @moidx

[2022-11-01 17:48] tjaychen commented on #11794
agreed

[2022-11-01 17:48] msfschaffner commented on #15480
I am closing this issue now since it seems like all questions have been answered. Please reopen if you think otherwise.

[2022-11-01 17:48] #15480 closed

[2022-11-01 17:50] moidx commented on #11794
agreed

[2022-11-01 17:55] drewmacrae commented on #15878
Does something like a version snapshot let us use git_repositories: https://blog.bazel.build/2018/07/09/bazel-sync-and-resolved-file.html#using-version-snapshots

Looking at it it has a hash
[code]

I was investigating how to make a rule thit finds the git_repositories in the workspace and `bazel sync --experimental_repository_resolved_file=resolved.bzl` will generate a report that shows the git_r

[2022-11-01 18:20] timothytrippel opened #15882 "[verilator] make verilator sim binary buildable with foundry repo present"
At them moment, the Verilator simulation binary fails to build if the foundry repo is present.

Long term this should be fixed, e.g., by #ifdef-ing HDL blocks away that cause build failures), but in the short term, we can tell bazel to ignore files in `hw/foundry`.

[2022-11-01 18:36] msfschaffner commented on #10970
I agree, and think the max latency test can be deferred.
The other aspects should be mostly covered by the concurrency test and existing CDC infrastructure.
Do we want to reassess this entire issue as part of M3, or do you think anything needs to be done for M2?

[2022-11-01 18:38] tjaychen commented on #10970
I think most of this is okay to defer to M3, especially since the power virus is M2 already.
The only thing I think we want to check is the AST stuff and if Sha-ron / Ziv think that should land.

Because looking at the entropy consumers, AST is the only one that has the potential to be always on, meaning they could for example leave their request high when the edn gets reset.  This might be covere

[2022-11-01 19:08] msfschaffner commented on #10970
OK sounds good!

[2022-11-01 19:24] eunchan opened #15886 "[RDC] Check if CSb can be related to any generated clocks from SCK"
`SPI_DEV_{IN/OUT}_CLK` are generated clocks from `SPI_DEV_CLK`. Somehow, RDC tool reports `E_RST_METASTABILITY` for the path from flops resetting by CSb to the flops in the same clock category (`SPI_DEV*CLK`).

- [ ] Contact the tool vendor if the setup is wrong (sdc, env)

CC: @tjaychen @jeoongp

[2022-11-01 19:29] msfschaffner commented on #15795
This should be fixed after #15317, #15494, #15759 and #15624 have been addressed (all related to reset reorg).

[2022-11-01 20:21] sriyerg opened #15889 "[test ROM] Dont configure the pinmux to connect the UART pins for DV"
The test ROM currently programs the pinmux to connect IOC3 and 4 to the UART peripheral. It also enables a weak pull up on the RX port.

https://github.com/lowRISC/opentitan/blob/8aff88ccc12afd90179361987c611f07409e8410/sw/device/lib/testing/pinmux_testutils.c#L49

For DV, we dont use UART for logging, so this is not needed. We end up consuming IOs for peripherals that are unused for 99% of the te

[2022-11-01 20:32] msfschaffner commented on #15238
@cindychip did you have a chance to look at this one, or should we reassign this?

[2022-11-01 21:01] a-will commented on #15889
For what it's worth, I'd disagree with that change (though the RX pin arguably ought to go away). Ultimately, the chip's ROM is going to connect this pin and use, so I think it should be considered reserved even in the DV environment. Am I missing an important use case?

[2022-11-01 21:13] sriyerg commented on #15889
Sure, the ROM will connect and use these pins. But the tests that use ROM are also limited. For the tests that use the test ROM (which is almost all tests), these IOs get reserved but they are completely unused in DV (note that logging in DV uses a different mechanism).

There are a few pinmux / sleep related tests that require all MIOs to be usable for the tests' intent. The tests in https://gith

[2022-11-01 21:18] weicaiyang commented on #14204
2 observations
1. I set the max_outstanding_num to 3, but flash_ctrl mem adapter can support 2 outstanding req, so we need to at least change this value to 4.
2. there are many async fifo with depth = 2, should we reduce them to one? If not, we may need to increase the max_outstanding_num to 6. @tjaychen Any thoughts?
![Screen Shot 2022-11-01 at 2 10 30 PM](https://user-images.githubusercontent.co

[2022-11-01 21:20] a-will commented on #15889
That issue is about IOC3, which is the RX pin, and I'd agree with that one being eliminated. Neither ROM uses UART RX. (The DIF should also get updated to allow selectively enabling TX and RX independently. :) )

Is there a particular issue with keeping the TX pin?

[2022-11-01 21:26] msfschaffner opened #15893 "[test-triage] chip_rv_dm_lc_disabled"
### Hierarchy of regression failure

Chip Level

### Failure Description

[code]

### Steps to Reproduce
- GitHub Revision: [53874025b](https://github.com/lowrisc/opentitan/tree/53874025b840788d5e66ffddae8fe7840a9cf4df)
- dvsim invocation command to reproduce the failure, inclusive of build and run seeds:
  ./util/dvsim/dvsim.py hw/top_earlgrey/dv/chip_sim_cfg.hjson -i chip_rv_dm_lc_disabled --fix

[2022-11-01 21:30] sriyerg commented on #15889
Right - the issue is only with the UART RX port on IOC3. I am fine with leaving the TX (IOC4) as is.

[2022-11-01 21:51] tjaychen commented on #14204
These are actually sync FIFO's inside socketm1 and socket1n.
@eunchan and I actually went through this some time ago and reduced a lot of the depths to 0 [already](https://cs.opensource.google/opentitan/opentitan/+/master:hw/top_earlgrey/ip/xbar_main/rtl/autogen/xbar_main.sv;l=907-912)

Did we miss some of them..?

[2022-11-01 21:59] weicaiyang commented on #14204
This [one](https://cs.opensource.google/opentitan/opentitan/+/master:hw/ip/tlul/rtl/tlul_socket_m1.sv;l=33?q=tlul_socket_m1&ss=opentitan%2Fopentitan) in socket m1 is still using 2. So is this [one](https://cs.opensource.google/opentitan/opentitan/+/master:hw/ip/tlul/rtl/tlul_socket_1n.sv;l=50?q=tlul_soc&ss=opentitan%2Fopentitan) in socket n1.

[2022-11-01 22:06] tjaychen commented on #14204
i thought all the n1s were instantiated with 0's? is that not the case?
The m1 one does make sense to default it to 1.

[2022-11-01 22:13] weicaiyang commented on #14204
I'm afraid not. Not all the parameters are set in xbar_main. Please look at the lines I pointed in the links below. Those still use default parameters which set depth to 2. And the depth passes down to a fifo.

[2022-11-01 22:18] tjaychen commented on #14204
hm? but those just link to the socket1n module.  Is there an instantiation of socket1n where you do not see it being set to 0?
socketm1 i think that was indeed the case, but we can probably change the default.

[2022-11-01 22:23] eunchan commented on #14204
`xbar_main.sv` and `xbar_peri.sv` instantiates those modules with Depth 0 always, as far as I know. So, they are fine.

[2022-11-01 22:26] eunchan commented on #14204
let me correct. I checked `xbar_main.sv`. As Tim mentioned, `socket_m1` has D side FIFO (depth of 2).

[2022-11-01 22:26] ballifatih commented on #14110
@cindychip This is merged in #15403, I would appreciate if you could check the boxes accordingly (since I am not a committer). Thank you.

[2022-11-01 22:28] cindychip opened #15894 "[edn] Elevate CSRNG status errors to fatal alerts"
I would like to confirm the behavior when EDN encounters csrng errors (csrng_rsp_sts):

1). On the EDN side, upon receiving a `csrng_rsp_sts` error, it will report to `cmd_sts` register. But will still distribute the received data to all EDN requesters.

2). On CSRNG side, (only from reading the spec, I do not actually know the simulation results). It seems like CSRNG will fire an interrupt.

I wo

[2022-11-01 22:30] tjaychen commented on #15894
it seems like to me that if we encounter this situation, the only way to handle right now is to completely disable / re-enable the entropy complex. (or reboot).

It does feel like however this should be linked into recoverable alerts, but it doesn't seem like that right now.

[2022-11-01 22:52] msfschaffner opened #15895 "[test-triage] chip_sw_spi_device_tpm"
### Hierarchy of regression failure

Chip Level

### Failure Description

UVM_FATAL @ * us: (spi_monitor.sv:282) [monitor] timeout occurred! has 1 failures:

Test chip_sw_spi_device_tpm has 1 failures.
0.chip_sw_spi_device_tpm.1823713756
Line 534, in log /container/opentitan-public/scratch/os_regression/chip_earlgrey_asic-sim-vcs/0.chip_sw_spi_device_tpm/latest/run.log

  UVM_FATAL @ 12935.221612

[2022-11-01 22:53] eunchan commented on #14204
Above my comments are incorrect. Weicai will add a comment here for the summary of the offline discussion.

[2022-11-01 22:54] msfschaffner opened #15896 "[test-triage] chip_sw_rstmgr_alert_info"
### Hierarchy of regression failure

Chip Level

### Failure Description

UVM_ERROR @ * us: (sw_logger_if.sv:522) [rstmgr_alert_info_test_prog_sim_dv(sw/device/tests/rstmgr_alert_info_test.c:587)] CHECK-fail: alert_info.class_accum_cnt[*] mismatch exp:* obs:* has 1 failures:

Test chip_sw_rstmgr_alert_info has 1 failures.
2.chip_sw_rstmgr_alert_info.2354315608
Line 670, in log /container/opentitan

[2022-11-01 22:57] msfschaffner opened #15897 "[test-triage] chip_tap_straps_prod"
### Hierarchy of regression failure

Chip Level

### Failure Description

Offending '(dft_jtag_i == '0)' has 1 failures:

Test chip_tap_straps_prod has 1 failures.
2.chip_tap_straps_prod.2362425049
Line 5482, in log /container/opentitan-public/scratch/os_regression/chip_earlgrey_asic-sim-vcs/2.chip_tap_straps_prod/latest/run.log

      Offending '(dft_jtag_i == '0)'
  UVM_ERROR @ 5953.779972 us: (

[2022-11-01 22:59] msfschaffner opened #15898 "[test-triage] chip_csr_bit_bash"
### Hierarchy of regression failure

Chip Level

### Failure Description

Job chip_earlgrey_asic-sim-vcs_run_cover_reg_top killed due to: Exit reason: User job exceeded runlimit: User job timed out has 1 failures:

Test chip_csr_bit_bash has 1 failures.
2.chip_csr_bit_bash.680983478
Log /container/opentitan-public/scratch/os_regression/chip_earlgrey_asic-sim-vcs/2.chip_csr_bit_bash/latest/run.log

[2022-11-01 23:02] msfschaffner opened #15899 "[test-triage] chip_sw_all_escalation_resets"
### Hierarchy of regression failure

Chip Level

### Failure Description

UVM_ERROR @ * us: (sw_logger_if.sv:522) [all_escalation_resets_test_prog_sim_dv(w/device/tests/sim_dv/all_escalation_resets_test.c:957)] CHECK-fail: Expected at least one nmi has 2 failures:

Test chip_sw_all_escalation_resets has 2 failures.
32.chip_sw_all_escalation_resets.2098928650
Line 538, in log /container/opentitan-p

[2022-11-01 23:08] weicaiyang commented on #14204
As discussed with @eunchan offline, perhaps we need to update max_outstanding to 6

flash mem can take 2 outstanding req and it goes through this [m1](https://cs.opensource.google/opentitan/opentitan/+/master:hw/top_earlgrey/ip/xbar_main/rtl/autogen/xbar_main.sv;l=963?q=xbar_main&ss=opentitan%2Fopentitan) socket, which can take 2 items in each req and rsp fifo.
[code]

The other M1 don't have more

[2022-11-01 23:14] timothytrippel commented on #15357
I have identified the issue, and created a fix in #15901.

[2022-11-01 23:17] timothytrippel commented on #15882
The short term fix has been merged in #15885, but keep this open until the long term fix is complete.

[2022-11-01 23:38] sriyerg commented on #15680
Fixed in #15814 .

[2022-11-01 23:59] msfschaffner opened #15903 "[ast] Check whether AST register map can be autogenerated instead of checking it in"
The AST register table seems to be checked into the repo at the moment:
https://github.com/lowRISC/opentitan/blob/master/hw/top_earlgrey/ip/ast/doc/ast_regs.html

We should consider making this fully autogenerated as all other comportable IPs.

This is not urgent, I have hence moved this to M3.

CC @tjaychen @arnonsha @Jacob-Levy

[2022-11-02 00:11] tjaychen commented on #15538
@vogelpi can we assign this to you, and you can just close it down when the ibex side hardening is done?

[2022-11-02 00:17] Jacob-Levy commented on #15903
This are a place holder RW registers array that only there for address space and skip definition.

The are not connected to any logic at the OS AST.

[2022-11-02 00:24] sriyerg opened #15906 "[chip-test] chip_sw_adc_ctrl_debug_cable_irq"
### Test point name

chip_sw_adc_ctrl_debug_cable_irq

### Host side component

SystemVerilog

### OpenTitanTool infrastructure implemented

_No response_

### Contact person

_No response_

### Checklist

Please fill out this checklist as items are completed. Link to PRs and issues as appropriate.
- [ ] Check if existing test covers most or all of this testpoint (if so, either extend said test to

[2022-11-02 00:29] tjaychen commented on #15906
doesn't this test already exist?
https://cs.opensource.google/opentitan/opentitan/+/master:hw/top_earlgrey/dv/chip_sim_cfg.hjson;l=854-859?q=chip_sim_cfg.hjson&ss=opentitan%2Fopentitan

[2022-11-02 00:36] vogelpi commented on #15706
I've now filed a PR for 1. here: #15907 .

[2022-11-02 00:40] vogelpi commented on #15706
For 2. , we should add the state of the corresponding FSM to the bind interface. Alternatively, an `hdl_read` can be used to track the state. Note, the FSM enums are defined inside the `aes_*_fsm.sv` files rather than the package and I would leave it like that. Changing this to use the enums in DV code might require us to revise some state names which will cause quite some changes that we should a

[2022-11-02 00:41] msfschaffner commented on #15903
I think this is understood - I was only referring to the generated HTML file.
We generate that typically on-the fly from Hjson when building the documentation website.

[2022-11-02 00:48] tjaychen commented on #15906
gah, this might have been my mistake. I i think i enhanced one of the tests to support irq and forgot to update all the relevant notes.

[2022-11-02 01:00] tjaychen opened #15911 "[chip-test] chip_sw_flash_rma_unlocked"
### Test point name

[chip_sw_flash_rma_unlocked](https://github.com/lowRISC/opentitan/blob/f3e95c6d0bc66483c94bc07fed6aab8b9d38b25c/hw/top_earlgrey/data/chip_testplan.hjson#L2703)

### Host side component

SystemVerilog

### OpenTitanTool infrastructure implemented

_No response_

### Contact person

@tjaychen, @cindychip

### Checklist

Please fill out this checklist as items are completed. Link

[2022-11-02 01:34] sriyerg commented on #15906
Aah, someone pointed out in the last DV meeting that this was undeveloped and untracked, so I created this issue. I looked at the C test and it adequately covers the IRQ path to PLIC.

[2022-11-02 03:39] #15906 closed

[2022-11-02 05:17] Jacob-Levy commented on #15903
The one I shared has some styling header  added to it after the `regtool` generation.

[2022-11-02 09:31] #14452 closed

[2022-11-02 09:45] ctopal commented on #15706
Hey Pirmin, you might want to have a look at `otbn_escalate_vseq` to check how we wait for a specific state. I think AES could use a similar setup if I understood the problem correctly. I highlighted the interesting part below: https://github.com/lowRISC/opentitan/blob/971782fde76e9ae79cd4d4b44fadd770f94b6b82/hw/ip/otbn/dv/uvm/env/seq_lib/otbn_escalate_vseq.sv#L82-L101

So if we have an interface

[2022-11-02 10:23] johngt opened #15921 "[CI] Update OpenOCD to version 0.12 in CI containers"
Per November 1 meeting notes in CI sync call;
Need to build OpenOCD 0.12.0-rc1 with Bazel: https://github.com/lowRISC/opentitan/pull/15853

Ref: https://openocd.org/pages/getting-openocd.html
Uses GPL v2.0 (see https://sourceforge.net/p/openocd/code/ci/master/tree/LICENSES/license-rules.txt)

@dmcardle  is working on building OpenOCD in such a way that it works with the environment there. Once com

[2022-11-02 11:10] #14270 closed

[2022-11-02 11:17] alphan commented on #14453
Fixed in #15819

[2022-11-02 11:17] #14453 closed

[2022-11-02 11:59] engdoreis commented on #15679
Yes, and it passed in the latest regression.

[2022-11-02 12:58] mwbranstad commented on #15894
the only case where the sts bit will be on is when a silicon error occurs, or some attacker is driving this bit on. In other words there is no functional reason that this bit will set. I would probably rate this bit being set as more severe, such as a fatal alert.

[2022-11-02 13:44] #15865 closed

[2022-11-02 13:51] dmcardle commented on #15921
I think the only relevant container is the one that's used for running FPGA tests, right?

Once we merge #15853, nothing should be using the system's OpenOCD, so maybe you should just delete it from the container(s) entirely. WDYT, @jprendes?

[2022-11-02 14:51] drewmacrae commented on #15877
are a known issue addressed here https://github.com/lowRISC/opentitan/issues/15788
A resolution is planned for M3

[2022-11-02 15:40] sha-ron commented on #10970
@tjaychen All the chip level tests will run also with the real AST so if the tests check for latency I think we are covered. Is there additional configuration or check you think we should add only in the closed-source?

[2022-11-02 16:09] msfschaffner commented on #14130
Yes in that case we can close this.

[2022-11-02 16:09] #14130 closed

[2022-11-02 16:14] tjaychen commented on #15679
sounds great.

[2022-11-02 16:19] tjaychen commented on #15894
@mwbranstad if it's alright with you, i can go in and make that change.
To not disturb things further, we can leave the interrupt and also add the fatal indication.
What do you think?

[2022-11-02 16:39] #15895 closed

[2022-11-02 16:53] weicaiyang commented on #14204
Thanks to Tim, this should be fixed by #15918. the xbar can hold maximum 2 items now, plus another one in peripheral, the total is 3 which is what we set on DV side.

[2022-11-02 17:05] andreaskurth commented on #15706
PR for 2 and 3 up: https://github.com/lowRISC/opentitan/pull/15871

[2022-11-02 17:13] andreaskurth commented on #15706
(don't have the permission to update issue description)

[2022-11-02 17:14] johngt commented on #15076
@GregAC / @andreaskurth - wondering if you could help scope this out and detail a little bit more of what is needed to help @hcallahan-lowrisc commence this work. TIA

[2022-11-02 17:16] johngt commented on #15074
@GregAC / @andreaskurth - wondering if you could help scope this out and detail a little bit more of what is needed to help @hcallahan-lowrisc commence this work. TIA

[2022-11-02 17:26] mwbranstad commented on #15894
@tjaychen sounds good, just add function only at this point.

[2022-11-02 17:38] #14146 closed

[2022-11-02 17:39] hcallahan-lowrisc commented on #15076
I think it may have come from https://github.com/lowRISC/opentitan/issues/13582

[2022-11-02 17:39] tjaychen commented on #15894
sounds good.
If it is okay with everyone, let us keep this at M3 as Cindy has done.
I don't think this is something we absolutely have to get in now.

Let me know if there are any objections.

[2022-11-02 17:40] sriyerg commented on #14142
Test written and passing with #15908.

[2022-11-02 17:41] #14142 closed

[2022-11-02 17:42] #12103 closed

[2022-11-02 17:57] tjaychen commented on #14825
@jdonjdon i think we can postpone this to M3.
Because this issue is really about all the things in the i2c agent that need to be cleaned up, but perhaps it cannot be done in time for M2.

Let me know what you think.

[2022-11-02 18:01] tjaychen commented on #12103
big thanks to @sriyerg for closing this test down!
btw @sriyerg this test would also port well to closed environments right?

[2022-11-02 18:02] tjaychen commented on #14918
this is probably something that can't be deferred to M3 right? It sounds like if we don't fix this we might see random errors

[2022-11-02 18:03] tjaychen commented on #15333
@msfschaffner i think we can officially postpone this to M3 given the state of things.
What do you think?

[2022-11-02 18:04] tjaychen commented on #7954
the work has begun in #15601, but should we table the rest of this to post M2?
@moidx / @sriyerg let me know what you think.

[2022-11-02 18:05] tjaychen commented on #4244
quick question @msfschaffner / @arnonsha, should we check in a file in `top_earlgrey/data` or something to indicate what signals these are? I'm asking because the reset domain fix will introduce a couple more.

[2022-11-02 18:05] tjaychen commented on #11492
@jeoongp feel free to close this issue down when you think the ast cdc flow is solid and we no longer need to rely on the bypass_clk :)

[2022-11-02 18:09] #14271 closed

[2022-11-02 18:09] jdonjdon commented on #14825
Agree

[2022-11-02 18:11] jeoongp commented on #11492
Thanks @tjaychen. I will close this ticket once new AST CDC flow is committed on GitHub.

[2022-11-02 18:16] tjaychen commented on #14518
@matutem did these already get added as part of your all escalation test?
If not, are you okay with postponing this to M3? It doesn't seem like its immediately blocking anything in M2.

[2022-11-02 18:17] timothytrippel commented on #15209
I think #14474  (a rom E2E test that we want to run in DV, see #14634) will need the second bullet point above in order to load both flash banks. Unless I am missing something?

[2022-11-02 18:20] #15349 closed

[2022-11-02 18:21] tjaychen commented on #15624
this issue i believe is now superseded by #15494, which documents all the intended fixes and final decision.
@msfschaffner should we close this one down?

[2022-11-02 18:23] cindychip commented on #12736
Done with PR: https://github.com/lowRISC/opentitan/pull/15849

[2022-11-02 18:23] #12736 closed

[2022-11-02 18:24] tjaychen commented on #9322
i think we need to face reality and punt this one to M3. It's not going to make M2 but it also is not critical to M2 feature freeze.

[2022-11-02 18:28] cindychip commented on #14049
Sorry @msfschaffner @tjaychen I just saw this comment and about to clean up all the M2 Issues.
The #15919 only checks if the data is stable, but did not check the data is valid. I will add some assertion to `prim_edn_req` module soon today.

[2022-11-02 18:30] sriyerg commented on #12103
Yes it should. The test thoroughly covers all pad attrs (MIOs and DIOs), so (2), (3) (4) are good to have, but not needed.

[2022-11-02 18:32] tjaychen commented on #9120
i'm closing this down since the test is already here (https://cs.opensource.google/opentitan/opentitan/+/master:hw/ip/flash_ctrl/dv/env/seq_lib/flash_ctrl_filesystem_support_vseq.sv).

@jdonjdon please re-open if you object.

[2022-11-02 18:32] #9120 closed

[2022-11-02 18:32] cindychip commented on #11619
Opps, I do not think I did this. I can finish it soon!

[2022-11-02 18:34] sriyerg commented on #14918
AFAICT, there have not been any breakages related to this yet. Maybe we can defer to M3 if tests are largely passing. Its just that the DV sequences are waiting on clock events using a clock that has nothing to do with the chip.

[2022-11-02 18:43] moidx commented on #7954
Agreed

[2022-11-02 18:43] msfschaffner commented on #4244
@arnonsha and I talked this morning. we agreed that he will wait until the reset domain fix landed, and then we will send a list of the signal paths. not sure what the best way for this is... should we check in a UPF parseable file that can be hooked into the UPF flow for this under `hw/top_earlgrey/syn/`?

[2022-11-02 18:44] tjaychen commented on #4244
i was honestly thinking for now even an hjson file is fine. Although a tcl file with some struct is good too (since UPF is tcl compatible).  I was more or less thinking we just want to have somewhere to keep it in the code base and not rely on issues.

[2022-11-02 18:45] #15624 closed

[2022-11-02 18:45] tjaychen commented on #14918
that's kind of surprising there are no failures... alright, maybe let's defer like you said and see if anything catches fire hehe.

[2022-11-02 18:46] tjaychen commented on #15209
ah thanks for clarifying.

[2022-11-02 18:46] msfschaffner commented on #4244
yeah we could just make a TCL that defines a few constants.

[2022-11-02 18:47] msfschaffner commented on #15333
Yes that sounds good to me.

CC @alphan @cfrantz

[2022-11-02 18:48] moidx commented on #15333
SGTM

[2022-11-02 18:50] arnonsha commented on #4244
A TCL file that could be sourced by the main UPF sounds good to me

[2022-11-02 18:52] weicaiyang commented on #14918
most of the wait_clk just wants to add some delays. How big the delay is may not really matter.
For things we really care, we should make it wait for an event.

[2022-11-02 18:55] cindychip commented on #12286
This should be covered/closed once @matutem's CDC update comes in. It moves the assertions out of the prim_cdc_rand_delay module. I will update the close this issue once his PR Is merged.

[2022-11-02 19:02] drewmacrae opened #15934 "//sw/device/tests:entropy_src_ast_rng_req_test_sim_verilator Times out waiting for entropy"
Timed out after 1000 usec

üI00000 test_rom.c:133] Version: earlgrey_silver_release_v5-8368-g62844d571, Build Date: 2022-11-02 10:54:46^M^M
I00001 test_rom.c:235] Test ROM complete, jumping to flash (addr: 20000480)!^M^M
I00000 ottf_main.c:126] Running sw/device/tests/entropy_src_ast_rng_req_test.c^M^M
E00001 entropy_src_ast_rng_req_test.c:60] CHECK-fail: Timed out after 1000 usec (500 CPU cycles)

[2022-11-02 19:07] matutem commented on #11161
I think it is still pending. Feel free to increase the priority if needed.

[2022-11-02 19:10] msfschaffner commented on #11161
Ack, will do.

[2022-11-02 19:14] tjaychen commented on #14918
wait but i thought the issue was that the "clk" we're sitting on may not always be there, so if we wait on that clock, things might just stall?

[2022-11-02 19:20] tjaychen commented on #15728
@milesdai sorry about this.
@msfschaffner and I were looking at something else and wandered by why you might be seeing this.

Most of our otp defaults are in `otp_ctrl*.hjson`, but for some reason we left out `AST_INIT` as a default in the hjson and instead set that in the DV backdoor environments.

So this probably means when you guys migrated fully to this flow, without the default in there, you

[2022-11-02 19:21] dmcardle opened #15935 "Use GDB from Bazel-managed toolchain"
We should not be using the GDB installed in the /tools directory. Hopefully, fixing this and #15846 will resolve #15713.

[2022-11-02 19:24] weicaiyang commented on #14918
`cfg.clk_rst_if` is a TB clock, which is always on but not used by DUT. I think Sri's point is to replace it with an actually design clock like sys_clk.

[2022-11-02 19:28] tjaychen commented on #14918
ah sounds good, i think i misunderstood it to mean the clock was not always on.

[2022-11-02 19:30] #15896 closed

[2022-11-02 19:36] tjaychen opened #15939 "[test-triage] chip_sw_flash_crash_alert"
### Hierarchy of regression failure

Chip Level

### Failure Description

  UVM_ERROR @ 3496.978076 us: (sw_logger_if.sv:522) [flash_escalation_reset_test_prog_sim_dv(w/device/lib/testing/test_framework/ottf_isrs.c:60)] FAULT: Load Access Fault. MCAUSE=00000005 MEPC=20002dcc MTVAL=60000000
  UVM_INFO @ 3496.978076 us: (uvm_report_catcher.svh:705) [UVM/REPORT/CATCHER]
  --- UVM Report catcher Summa

[2022-11-02 19:37] tjaychen opened #15940 "[test-triage] chip_sw_rstmgr_cpu_info"
### Hierarchy of regression failure

Chip Level

### Failure Description

      Offending 'lc_ctrl_pkg::lc_tx_test_true_strict(fetch_enable)'
  UVM_ERROR @ 4739.125662 us: (rv_core_ibex.sv:908) [ASSERT FAILED] IbexFetchEnable3_A
  UVM_INFO @ 4739.125662 us: (uvm_report_catcher.svh:705) [UVM/REPORT/CATCHER]

### Steps to Reproduce

- GitHub Revision: [53874025b](https://github.com/lowrisc/opentitan

[2022-11-02 19:47] cindychip commented on #11619
https://github.com/lowRISC/opentitan/commit/428c6833c16b454fd7961e53bba62180438ca310 Actually finished here.

[2022-11-02 19:47] #11619 closed

[2022-11-02 20:14] msfschaffner commented on #11619
Thanks for checking!

[2022-11-02 20:18] drewmacrae commented on #15877
I've created an issue to track https://github.com/lowRISC/opentitan/issues/15934 for
//sw/device/tests:entropy_src_ast_rng_req_test_sim_verilator

[2022-11-02 20:23] msfschaffner commented on #15599
I believe this has been implemented in https://github.com/lowRISC/opentitan/pull/15701 which is now merged. Can we close this issue?

[2022-11-02 20:24] cindychip commented on #3275
I think we can re-evaluate this once the CDC model is enabled.

[2022-11-02 20:26] drewmacrae commented on #15934
The test can be run in 5m by adding
`--flags.append("--make_options=-j")`
 to rules/fusesoc.bzl after flags is initialized

[2022-11-02 20:32] milesdai commented on #15728
That makes sense. For now, I will set `CREATOR_SW_CFG_AST_INIT_EN` to 0x6 in the Bazel overlay to enable the AST initialization explicitly to bring the Bazel configuration in agreement with DV and close this issue. My understanding of the bug is that if the AST_INIT flag is set to enabled in OTP, then `rom_start.S` will initialize the AST. If the AST_INIT flag is disabled, then the C code skips th

[2022-11-02 20:50] moidx commented on #13220
Closed by https://github.com/lowRISC/opentitan/pull/15913. I will open additional issues to capture remaining debug work derived from https://github.com/lowRISC/opentitan/pull/15830.

[2022-11-02 20:50] #13220 closed

[2022-11-02 21:09] tjaychen commented on #15599
yeah let's close.

[2022-11-02 21:09] #15599 closed

[2022-11-02 21:17] msfschaffner commented on #15680
After the fix #15814 this is still failing, but with a different signature:

[code]

dvsim invocation command to reproduce the failure, inclusive of build and run seeds:
GitHub Revision: [53874025b](https://github.com/lowrisc/opentitan/tree/53874025b840788d5e66ffddae8fe7840a9cf4df)
./util/dvsim/dvsim.py hw/top_earlgrey/dv/chip_sim_cfg.hjson -i chip_sw_sleep_pin_wake --build-seed 137638316 --fixed-

[2022-11-02 21:19] msfschaffner commented on #14110
This test is passing in the nightlies - closing!

[2022-11-02 21:19] #14110 closed

[2022-11-02 21:21] sriyerg commented on #15680
Yeah I am debugging this. I have other tests with the same signature.

[2022-11-02 21:22] msfschaffner commented on #14200
This test has been passing with 100% success for a while - closing!

[code]

[2022-11-02 21:22] #14200 closed

[2022-11-02 22:04] cindychip opened #15947 "[csrng] invalid/unused commands"
CSRNG declared `acmd_e` with 8 values, but I believe only 5 of them are valid acmd.
https://github.com/lowRISC/opentitan/blob/master/hw/ip/csrng/rtl/csrng_pkg.sv#L37

As far as I understand:
1). In CSRNG testbench: it won't drive this invalid commands:
https://github.com/lowRISC/opentitan/blob/master/hw/ip/csrng/dv/cov/csrng_cov_if.sv#L57
But I wonder if we should try these error inputs and see if

[2022-11-02 23:23] msfschaffner opened #15954 "[test-triage] chip_sw_sleep_pin_wake"
### Hierarchy of regression failure

Chip Level

### Failure Description

UVM_FATAL @ * us: (chip_sw_sleep_pin_wake_vseq.sv:89) [chip_sw_sleep_pin_wake_vseq] wait timeout occurred! has 1 failures:

Test chip_sw_sleep_pin_wake has 1 failures.
0.chip_sw_sleep_pin_wake.1427533016
Line 631, in log /container/opentitan-public/scratch/os_regression/chip_earlgrey_asic-sim-vcs/0.chip_sw_sleep_pin_wake/lat

[2022-11-02 23:24] msfschaffner opened #15955 "[test-triage] chip_sw_sleep_pin_mio_dio_val"
### Hierarchy of regression failure

Chip Level

### Failure Description

Offending '(!w_sram_rvalid_i)' has 1 failures:

Test chip_sw_sleep_pin_mio_dio_val has 1 failures.
2.chip_sw_sleep_pin_mio_dio_val.4044822863
Line 763, in log /container/opentitan-public/scratch/os_regression/chip_earlgrey_asic-sim-vcs/2.chip_sw_sleep_pin_mio_dio_val/latest/run.log

      Offending '(!w_sram_rvalid_i)'
  UVM

[2022-11-02 23:28] msfschaffner opened #15956 "[test-triage] chip_sw_clkmgr_sleep_frequency"
### Hierarchy of regression failure

Chip Level

### Failure Description

Job chip_earlgrey_asic-sim-vcs_run_default killed due to: Exit reason: Pod abruptly killed. Check resource usage. has 3 failures:

Test chip_sw_clkmgr_sleep_frequency has 1 failures.

1.chip_sw_clkmgr_sleep_frequency.1597657190
Log /container/opentitan-public/scratch/os_regression/chip_earlgrey_asic-sim-vcs/1.chip_sw_clkmgr_

[2022-11-02 23:28] cdgori commented on #14180
sorry just making sure I understand: the first FENCE.I will trigger a scrambling key renewal - would the second FENCE.I disrupt that, or is it just that a second/nested FENCE.I doesn't cause a second renewal?  If the latter, that seems manageable, if the former, less so.

[2022-11-02 23:29] msfschaffner commented on #15956
CC @tjaychen @timothytrippel

Is this maybe infrastructure related and intermittent?

[2022-11-02 23:35] sriyerg commented on #15956
Let me dig a little deeper, since we have their job IDs.

[2022-11-02 23:38] sriyerg commented on #15954
This test and `chip_padctrl_attributes` have similar symptoms, but different root causes. Fix coming soon.

[2022-11-03 00:12] msfschaffner opened #15960 "[pwrmgr] Split Done/Good comparisons into separate FSM states"
In order to enforce proper sequencing of the done / good comparisons here:
https://github.com/lowRISC/opentitan/blob/b77dc2319ba57106c7617b7931326088405e951e/hw/ip/pwrmgr/rtl/pwrmgr_fsm.sv#L235-L237
we should sample them in distinct FSM states.

[2022-11-03 00:38] moidx commented on #10848
Taking a look at this now.

[2022-11-03 00:46] drewmacrae commented on #15934
... After bisecting, it's the icache... I wonder if something changed about the timing and we discovered a race condition in the test.

First bad commit:
commit e5de5869cfd24ec6d23d19b2f75e89f7d9a61b7d (HEAD)
Author: Timothy Trippel <ttrippel@google.com>
Date:   Wed Oct 12 18:41:55 2022 -0700

    [test_rom] enable icache / Ibex security features

    This updates the test ROM to enable the icache

[2022-11-03 01:17] msfschaffner opened #15963 "[lc_ctrl] Life cycle controller status is not `ready` when in invalid or scrap state"
This was discovered by @dkabely-ot in https://github.com/lowRISC/opentitan/pull/15938.

SW and JTAG sequences rely on the READY bit in the status register to determine whether the life cycle controller is ready to perform a transaction (via polling):

https://github.com/lowRISC/opentitan/blob/b77dc2319ba57106c7617b7931326088405e951e/hw/ip/lc_ctrl/data/lc_ctrl.hjson#L504-L509

For cases where we co

[2022-11-03 01:38] msfschaffner commented on #15963
Ah shoot, you are right - @alphan's mechanism is relying on that one. The READY would stay high as you said.

Unfortunately we can't use the TRANSITION_REGWEN to read IDLE status, since that one is only connected to the idle indication once the mutex is claimed (and we do not want to snatch away the mutex from the JTAG side in the RMA case).

So if we would like to add both notions, this would nee

[2022-11-03 02:38] #15893 closed

[2022-11-03 02:47] drewmacrae commented on #15934
It looks like the icache gets us to where this test looks for entropy and gives up before it's available 4ms later. I'm going to increase the timeout to 6ms.

[2022-11-03 03:22] msfschaffner commented on #15963
The change is straightforward, I have added it in a second commit to https://github.com/lowRISC/opentitan/pull/15962 so you can take a look.

[2022-11-03 03:24] moidx commented on #8430
CC @alphan not sure if we are tracking this already in a different place

[2022-11-03 03:33] drewmacrae commented on #15877
I'm not sure what in the driver should be sensitive to timing so I'm bisecting //sw/device/lib/crypto/drivers:entropy_test_sim_verilator to see if it's the icache again 🙃

[2022-11-03 03:53] #15897 closed

[2022-11-03 04:03] tjaychen commented on #15435
should we keep this open for a bit? The test does need a bit of tweaking also.

[2022-11-03 04:46] Sayeekumar-cisma opened #15967 "UART Standalone Reception Test"
Is there any way to make the smoketest code to receive a byte from the uartdpi.sv and display it on the terminal automatically?
If the uartdpi_can_read(ctx) api is included in uartdpi.sv , there is a explicit need to press "Enter" button , to make the byte received to display on the terminal

[2022-11-03 04:56] timothytrippel commented on #15357
<img width="1077" alt="Screen Shot 2022-11-02 at 9 54 47 PM" src="https://user-images.githubusercontent.com/5633066/199650179-8c2dbbe5-e23e-422c-b67e-736905911f7b.png">

Hmm this seems to be passing when I run it locally. Perhaps the dashboard is not reflecting the fix. Let's keep this open and see what the dashboard shows tomorrow.

[2022-11-03 05:07] #14049 closed

[2022-11-03 05:09] sriyerg commented on #15898
Fixed in #15968.

[2022-11-03 05:11] #12286 closed

[2022-11-03 05:14] sriyerg commented on #15956
These are likely happening because we recently set the cpu/ram/disk settings globally for all jobs to higher values. I will followup internally to pinpoint which resource exceeded our project-wide limits. Looks like we will need dvsim to support per-test cpu/ram/disk requirements asap.

[2022-11-03 05:19] sriyerg opened #15969 "[test-triage] chip_csr_hw_reset"
### Hierarchy of regression failure

Chip Level

### Failure Description

  UVM_ERROR @ 2823.589889 us: (chip_if.sv:146) [tb.dut.chip_if] Detected an X on MioPadIor13
  UVM_INFO @ 2823.589889 us: (uvm_report_catcher.svh:705) [UVM/REPORT/CATCHER]
  --- UVM Report catcher Summary ---

### Steps to Reproduce

- GitHub Revision: [32d4a1eef](https://github.com/lowrisc/opentitan/tree/32d4a1eefdbc2d6c440

[2022-11-03 05:20] sriyerg commented on #15969
Ficed in #15968.

[2022-11-03 05:28] weicaiyang opened #15970 "[chip-test] chip_sw_sram_lc_escalation"
### Test point name

[chip_sw_sram_lc_escalation](https://cs.opensource.google/opentitan/opentitan/+/master:hw/top_earlgrey/data/chip_testplan.hjson;l=2553?q=chip_sw_sram_lc_escalation&ss=opentitan%2Fopentitan:hw%2F)

### Host side component

_No response_

### OpenTitanTool infrastructure implemented

_No response_

### Contact person

@matutem @tjaychen

### Checklist

Please fill out this check

[2022-11-03 05:29] weicaiyang commented on #15970
AIs from the last DV meeting for this test

- [ ] [matute] Enhance all_escalation to read any location of the sram and expect it returns all 0s due to lc_esc
- [ ] [matute] update sw_data_integrity to test both sram

[2022-11-03 05:29] weicaiyang opened #15971 "[chip-test] chip_sw_flash_lc_escalate_en"
### Test point name

[chip_sw_flash_lc_escalate_en](https://cs.opensource.google/opentitan/opentitan/+/master:hw/top_earlgrey/data/chip_testplan.hjson;l=2853?q=chip_sw_sram_lc_escalation&ss=opentitan%2Fopentitan:hw%2Fa)

### Host side component

_No response_

### OpenTitanTool infrastructure implemented

_No response_

### Contact person

@tjaychen @matutem

### Checklist

Please fill out this ch

[2022-11-03 05:30] weicaiyang commented on #15971
AIs from the last DV meeting for this test

[matute] Update this testplan to map with all_escalation test and explain how this is actually tested.

[2022-11-03 05:39] #10848 closed

[2022-11-03 05:58] weicaiyang commented on #15971
I vaguely remember we wanted to test this test as follows. @matutem please correct me if it's wrong.

When lc_esc happens in a block, we increment a counter in flash mem. But if this happen to flash, the counter won't be incremented, which indicates that the flash is locked up. After the chip is reseted, SW reads the counter back to check the value is expected.
I'm not sure if the all_escalation t

[2022-11-03 06:19] tjaychen commented on #15971
the thing is, once life cycle controller escalate, no one will be able to run any code out of flash.
The flash doesn't allow access which means there is no code execution unless you run the test out of rom.

I think matute changed the all escalate test to prove that escalation happens even if we cannot access any code, but I think what this test specifically wants is that we check flash controller

[2022-11-03 07:23] timothytrippel commented on #15956
Just a heads up, I took a look at `rom_e2e_shutdown_exception_c`, this is failing for other reasons too (it is not configured correct hehe, it need its own sequence which I am currently developing).

[2022-11-03 08:52] GregAC commented on #14180
The second FENCE.I is effectively a no-op whilst the first is still fetching a new scrambling key. So yes the latter.

[2022-11-03 09:41] andreaskurth commented on #15076
I think so, too. #13582 originated from https://github.com/lowRISC/opentitan/issues/5158. Both issues say post V2, thus M3.

[2022-11-03 10:37] engdoreis commented on #15427
@HU90m will confirm, but as far as I can tell, we are testing most of the possible scenarios on the SW perspective in the `chip_sw_rstmgr_cpu_info`

[2022-11-03 10:51] johngt commented on #15077
Normally a V3 task / regression.

[2022-11-03 10:54] johngt commented on #15078
Functional coverage
91% cover group
Review cover points
Identify if there are missing major cover points
Expression Coverage barely over the limit (>90%)

DV Code pulled into expression coverage?
Sanity check.

[2022-11-03 11:03] abdullahvarici commented on #14780
The PR https://github.com/lowRISC/opentitan/pull/15760 is merged. Shall we close the issue?

[2022-11-03 12:01] drewmacrae commented on #15877
//sw/device/examples/sram_program:sram_program_fpga_cw310_test_otp_dev   FAILED in 0.8s
//sw/device/examples/sram_program:sram_program_fpga_cw310_test_otp_rma   FAILED in 0.8s
//sw/device/examples/sram_program:sram_program_fpga_cw310_test_otp_test_unlocked0 FAILED in 8.0s
are expected failures as I don't have a JTAG adapter connected. They should be tagged with JTAG by the test rule and filtered o

[2022-11-03 13:19] alphan commented on #15963
commented on the PR, thanks for mentioning me @msfschaffner And @tjaychen!

[2022-11-03 13:21] alphan commented on #8430
Thanks @moidx! I vaguely remember adding an item to the spreadsheet but let's keep this open as well just in case.

[2022-11-03 13:36] alphan commented on #15728
Discussed this offline, the complementary behavior of pre- and post-CRT code is intentional. post-CRT code also skips this check in TEST and RMA. The goal was to give us enough room to configure AST, but we will check and shutdown if it's not initialized unless it's explicitly disabled in OTP when the chip is in production life cycle states (dev, prod, prod_end).

[2022-11-03 13:37] alphan commented on #15333
SGTM, does this mean I have more time to look at the doc updates?

[2022-11-03 14:16] drewmacrae opened #15977 "//sw/device/silicon_creator/rom/e2e:boot_policy_bad_manifest*sim_verilator tests failing during setup"
//sw/device/silicon_creator/rom/e2e:boot_policy_bad_manifest_bad_identifier_a_sim_verilator FAILED in 60.2s
//sw/device/silicon_creator/rom/e2e:boot_policy_bad_manifest_bad_identifier_b_sim_verilator FAILED in 60.2s
//sw/device/silicon_creator/rom/e2e:boot_policy_bad_manifest_code_end_unaligned_a_sim_verilator FAILED in 60.2s
//sw/device/silicon_creator/rom/e2e:boot_policy_bad_manifest_code_end_un

[2022-11-03 14:17] drewmacrae commented on #15977
For now I'll remove verilator for the list of targets for these tests because we don't support it yet.

[2022-11-03 14:37] tjaychen commented on #14780
yes please do.

On Thu, Nov 3, 2022 at 4:03 AM Abdullah Varıcı ***@***.***>
wrote:

[2022-11-03 15:01] alphan commented on #15728
Not necessarily, but we need to set it before transitioning out of TEST* life cycle states.

[2022-11-03 15:08] #14780 closed

[2022-11-03 15:59] moidx opened #15980 "[test-triage] chip_sw_csrng_edn_concurrency"
### Hierarchy of regression failure

Chip Level

### Failure Description

* `UVM_FATAL @ * us: (uvm_phase.svh:1512) [PH_TIMEOUT] Explicit timeout of * us hit, indicating a probable testbench issue` has 3 failures:
    * Test chip_sw_csrng_edn_concurrency has 3 failures.
        * 0.chip_sw_csrng_edn_concurrency.3068938239\
                UVM_FATAL @ 100000.000000 us: (uvm_phase.svh:1512) [PH_TIME

[2022-11-03 16:15] cdgori commented on #14180
SGTM then, you can close this issue.

[2022-11-03 16:21] tjaychen commented on #14156
i'm sorry @alphan i'm kind lost. Are you saying the secure boot function will be covered by other tests already that need to run in DV, therefore there's no reason to specifically call this one out?

[2022-11-03 16:23] tjaychen commented on #14180
closing! @GregAC it would be nice to also document this behavior on ibex side if you guys haven't already.

[2022-11-03 16:23] tjaychen commented on #14156
ah yes then i totally agree. i guess in fact, since we don't have a way to bypass verification, ANY `rom` test would satisfy the secure boot requirement here right?

[2022-11-03 16:24] jadephilipoom commented on #14156
Yeah, it seems pretty unclear to me what we could cover here that's not covered in the ROM e2e tests.

[2022-11-03 16:24] jadephilipoom commented on #14156
Should we close this as the easiest `chip-test` issue ever solved?

[2022-11-03 16:24] tjaychen commented on #15728
ahhhhh, thank you for the reminder. I feel much better now. i keep forgetting we don't check certain things while in TEST states.

[2022-11-03 16:26] tjaychen commented on #14156
yes please do. I just remembered that on our end we went through a scrubbing of the testplan, and this was one of the items to remove or x-ref. But I completely forgot to do it. I'll submit a PR for that today.

[2022-11-03 16:35] tjaychen commented on #14156
actually jade let me re-open this and assign it to me.
Otherwise i might just forget again :)

[2022-11-03 16:49] engdoreis commented on #13543
It seems to me that the `sram_ctrl_main_scrambled_access_test.c` is not testing the main sram correctly.
This is how I understood the test:
1. Init ecc error counter in RET_SRAM to zero.
2. Prepare the main and retention sram for the test by writing a pattern to them.
3. Scramble the memory and reset.
4. Check that **RET_SRAM** doesn't match the patterns. [link](https://github.com/lowRISC/opentita

[2022-11-03 17:27] msfschaffner commented on #15494
1. indeed, it should not place requirements on the DFT TAP since we do not latch the DFT_EN signal. in any case, the DFT TAP itself has its own protection as an added layer - so this is not a concern anymore.
2. exactly.

Thanks for double checking!

[2022-11-03 17:29] msfschaffner commented on #15317
#15602 has been merged, so this issue can be closed.

[2022-11-03 17:29] #15317 closed

[2022-11-03 17:33] msfschaffner opened #15982 "[*mgr] Align documentation with reset domain reorg"
As title, to make sure the docs are consistent with https://github.com/lowRISC/opentitan/issues/15317.
Can be done post M2.

[2022-11-03 17:42] msfschaffner commented on #15494
Since the reset reorg in https://github.com/lowRISC/opentitan/issues/15317 has now been merged, I'll go on and make this strap sampling modification.

[2022-11-03 17:49] #15846 closed

[2022-11-03 17:52] matutem opened #15986 "[rtl,reset] Fix handling of main domain power glitches"
A voltage glitch in the main power domain should be handled more clearly. In response to such a glitch the power manager should detect it and request resets to other chip components as needed. The current implementation has rstmgr detecting the glitch, and informing power manager via one of its reset outputs, so in a way it creates a cyclic dependency, since reset outputs are in response to pwrmgr

[2022-11-03 17:55] matutem commented on #15986
Feel free to tweak the labels or project attributes.

[2022-11-03 18:04] matutem commented on #15971
Actually we don't need a new test for this, but just change the all_escalation_resets test to require the interrupt counter(s) not increment when the fault is for flash_ctrl. Otherwise the test currently checks that the alert is for the expected cause using alert_info dump.

[2022-11-03 18:06] msfschaffner commented on #15333
That is correct, yes.

[2022-11-03 18:38] milesdai commented on #13960
This problem is solved by creating an overlay that overwrites the the device ID in Bazel.

[2022-11-03 18:38] #13960 closed

[2022-11-03 18:48] #15934 closed

[2022-11-03 18:48] #15878 closed

[2022-11-03 18:59] moidx commented on #15980
Running with scoreboard logs enabled (dvsim `-v d`) we see that EDN0 and EDN1 are throwing a fatal alert:

[code]

[2022-11-03 19:09] sriyerg commented on #15954
Fixed in #15988.
The `chip_padctrl_attributes` was fixed in #15958.

[2022-11-03 19:10] sriyerg commented on #15955
Fixed in #15988.

[2022-11-03 21:24] #14474 closed

[2022-11-03 21:27] #15759 closed

[2022-11-03 21:27] msfschaffner commented on #15963
This is now fixed in https://github.com/lowRISC/opentitan/pull/15962 - closing!

[2022-11-03 21:27] #15963 closed

[2022-11-03 21:41] weicaiyang commented on #15862
fixed via #15904

[2022-11-03 21:41] #15862 closed

[2022-11-03 21:41] weicaiyang commented on #15806
Closing this as no further action is needed

[2022-11-03 21:41] #15806 closed

[2022-11-03 21:49] msfschaffner commented on #15435
Huh I don't remember closing this... was it maybe autoclosed via #15602?
In any case, yes let's keep it open.

[2022-11-03 21:52] moidx commented on #15980
Added the following change to catch the error in non-DV environments: https://github.com/lowRISC/opentitan/pull/15996

[2022-11-03 21:53] tjaychen commented on #15435
yeah in hindsight i think this was auto close. I'm going to quickly run the test just to see what's happening.

[2022-11-03 21:54] moidx commented on #15980
This produced the following errors:

[code]
This corresponds to `kDifEdnErrorFifoWrite`. Need to check which FIFO this is referring to.

[2022-11-03 22:04] #14481 closed

[2022-11-03 22:46] timothytrippel commented on #14501
#15974 got this working in DV.

[2022-11-03 22:57] #15971 closed

[2022-11-03 23:28] #14473 closed

[2022-11-03 23:53] moidx commented on #15980
After rebasing the change I also see the following assertion:

[code]

[2022-11-04 00:05] tjaychen commented on #15980
ah yes @cindychip just added those as part of our disable investigation.
we definitely need to have a look at what's causing this to fail.

[2022-11-04 00:33] cindychip opened #16000 "[edn] data stable during edn disablement"
Hey Tim and Mark,

Looks like there is some violation to the data stable assertion:
[code]

Looking at the waves, edn_0 finished four requests and was disabled.
Then after enablement, the data line went to 0.

To reproduce:
 ../../../../util/dvsim/dvsim.py edn_sim_cfg.hjson -i edn_disable --reseed 1 --seeds 2889220990

![image](https://user-images.githubusercontent.com/11466553/199860113-b13649cf-

[2022-11-04 00:46] cindychip commented on #15980
@tjaychen I think Miguel's testbench had the same issue: https://github.com/lowRISC/opentitan/issues/16000

Looks like when the state machine goes to "Idle" state, it will clear the fifo and output 0 data,
which will violate the assertion:
[code]

![image](https://user-images.githubusercontent.com/11466553/199861247-85b7206f-8310-4667-8c15-c80337c80223.png)

[2022-11-04 01:04] vogelpi commented on #15706
Update: #15907 and #15871 are both merged. These two PRs together led to some more test failures. Some of the FI tests were again down at 80% pass rate which isn't sufficient for V2S.

I've investigated the situation and have now filed #16001 which will also resolve #13572 which we initially hoped to postpone to D3.

[2022-11-04 01:10] vogelpi commented on #15706
@andreaskurth would you mind to do one more coverage run with #16001 applied? I just checked the pass rate of the individual tests and those looked very good. I've already prepared the sign-off PR here #16002. We should be able to land this once this issue here is closed.

[2022-11-04 01:23] moidx commented on #16000
CC @martin-lueker, @mwbranstad

[2022-11-04 01:35] timothytrippel opened #16004 "[rom-e2e] add selected V3 ROM E2E tests to DV sim nightly regression"
Similar to #14634, we want to run additional ROM E2E tests in DV sim nightly regressions by M3. This tracks which tests need to be adapted to run in DV (assuming they run on another platform, e.g. FPGA, or that at the very least, the device-side code is already complete).

- [ ] Tests that "must work" in DV for V3:
    - [ ] #15677
    - [ ] #15718
- [ ] Additional tests we have gotten running in

[2022-11-04 02:06] #15680 closed

[2022-11-04 02:10] tjaychen commented on #16000
hmm...shoot this probably is related to my change, it cleans on enable.. although i assume there shouldn't be an ack at that time.. i'll have to have a look.

[2022-11-04 02:12] tjaychen commented on #15980
ah i see, so it's from the previous ack prior to the disable.
Is it possible to qualify the assertion? I think basically the assertion isn't aware of the re-enabling that's happening.

[2022-11-04 02:19] tjaychen commented on #16000
okay thinking about this a bit more, i think i should move this assertion over to `prim_edn_req`. I can then narrow down the stable period from "forever" until next request to when module actually completes the handshake.

That would get around this issue.

[2022-11-04 02:26] cindychip commented on #16000
Yeah that should work. I can make a PR to move it over.
I guess in block level, I will try it change it to stable until next req or next enable? Does that sound reasonable?

[2022-11-04 02:43] tjaychen commented on #16000
actually cindy, could we change it to `throughout edn_req[->1] | enable[->1]`? assuming that means transition to positive edge?
would that solve this issue?

[2022-11-04 02:46] cindychip commented on #16000
Thanks!
I had a similar idea. I break it into two assertions.
Because enable is one when the assertion starts, so putting it in one assertion might be hard. Because we only want to disable it when: enable = 1 -> 0 -> 1
[code]

[2022-11-04 02:48] tjaychen commented on #16000
that looks good to me i think. But if you write those, i think you can keep them in `edn` right? although having the data stable until ack in `prim_edn_req` also seems good.

[2022-11-04 02:49] cindychip commented on #16000
Yeah! Putting them in EDN will be super helpful for block level checks! I will leave them in EDN. And adding one for prim_edn_req :)

[2022-11-04 05:06] cindychip commented on #15980
I checked the waves and this is what I traced:

The auto-request mode in EDN ended up having too many requests that the EDN fifo is full while auto-requesting a reseed. Finally it gives a fatal error here:
https://github.com/lowRISC/opentitan/blob/master/hw/ip/edn/rtl/edn_core.sv#L642
`{(sfifo_output_push && sfifo_output_full),`

Tracing back, I think I have one question to confirm:
Should we clea

[2022-11-04 05:08] #16000 closed

[2022-11-04 05:27] tjaychen commented on #15980
yes we definitely should. And I think @moidx intends to do that. Except my fix for fifo_clear still hasn't merged, and right now the clearing is done "after" the disable.  This makes the clearing useless and maybe part of the problem.

For now, in `dif_edn_stop`, we should probably change it to
[code]

that should help with this specific problem.

[2022-11-04 06:26] vogelpi commented on #15706
I ran a regression over night. Results are looking good:
[code]

[2022-11-04 06:44] msfschaffner commented on #13543
I had a look at both the C test and the associated vseq. As far as I can tell, it seems to do the right thing - although I agree that the test is a bit convoluted and not so straightforward to understand.

First, let me answer your two questions:
1. This sequence writes random data either to the retention memory or main memory once a scrambling key has been successfully obtained. You can see that

[2022-11-04 08:13] andreaskurth commented on #15706
Indeed! Your results and the ones I've just posted in #16001 confirm that we're meeting all coverage and pass rate requirements for V2S.

Let's close this as soon as #16001 is merged.

[2022-11-04 08:39] sriyerg opened #16013 "[chip dv] [cov] Improve chip_sw_rom_ctrl_integrity_check test"
This test is supposed to verify that the chip is able to boot up with a ROM image that has bad integrity in non-PROD LC state, and is unable to boot up in PROD LC state.

In the second phase of the test (post-reset), the test waits for 1ms before calling it a test-pass. As it turns out, that wait is insufficient - the rom check is still ongoing. The test has not progressed to the point where the r

[2022-11-04 09:45] johngt commented on #15072
Per various discussions on Winbond BFM model, moving this to a post M2 task.

[2022-11-04 09:52] johngt commented on #15073
Given that this requires a working BFM model this effort is shifted back, post M2.

[2022-11-04 09:58] johngt opened #16014 "[SPI_Host] spi_host_stress_all"
Part of the overall coverage efforts for SPI_Host to bring coverage above 90%

[2022-11-04 10:12] johngt commented on #15076
@tjaychen / @weicaiyang  there is a corner case as identified back at the time of the review.
See - https://github.com/lowRISC/opentitan/issues/5158#issuecomment-873458332
If we want to test for this corner case we could potentially do this on FPGA + EEPROM or without either BFM or FPGA+EEPROM.

If we don't need to address this corner case now, we can leave this as a V3 task. Otherwise I'll bring

[2022-11-04 10:18] johngt commented on #15074
Moving this effort to M3 given that the Winbond BFM integration task has moved post M2.

[2022-11-04 10:57] #13572 closed

[2022-11-04 11:24] abdullahvarici commented on #15075
I am still working on this issue. Started with spi_host_speed test and created a PR increasing pass rate 0% to 50%: https://github.com/lowRISC/opentitan/pull/16015

[2022-11-04 12:51] andreaskurth commented on #15706
Closing as completed in #16001.

[2022-11-04 12:51] #15706 closed

[2022-11-04 13:41] #15935 closed

[2022-11-04 13:48] GregAC commented on #14180
Was documented here when implemented: https://ibex-core.readthedocs.io/en/latest/03_reference/icache.html#scramble-key-renewal

[2022-11-04 13:51] m-temp commented on #15470
@wettermo and I are working on this issue. The corresponding PRs (https://github.com/lowRISC/ot-sca/pull/104 and https://github.com/lowRISC/opentitan/pull/15929) are still WIP and need some fine tuning. Nevertheless, the first tvla results look promising.

Using 5,000 traces we can see a huge difference between:
 - the masked version `CFG_SHADOWED.msg_mask = true` and `CFG_SHADOWED.entropy_fast_pr

[2022-11-04 14:17] alphan commented on #14501
Thanks @timothytrippel!

[2022-11-04 14:19] alphan commented on #14501
@engdoreis will you be able to add this part? You can find several examples in `e2e/BUILD` file. Please look for usages of `otp_json()`, `otp_image()`, `bitstream_splice()`, and `opentitan_functest()`.

[2022-11-04 14:34] alphan commented on #10970
No, the ones on our list are not time-bound. We just need to make sure the amount of entropy we consume during boot can be supplied with the initial configuration.

[2022-11-04 14:37] alphan commented on #10970
I think so. As long as it's under 1 s, the hardcoded initial watchdog bit threshold that we use pre-CRT [here](https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/rom/rom_start.S;drc=ff6f87515d0fac569fb32534b8fe78a329689ec4;l=164), we should be OK.

[2022-11-04 14:41] johngt commented on #15795
https://github.com/lowRISC/opentitan/issues/15494 is the final item needing closing out.

[2022-11-04 14:44] alphan opened #16016 "[test] Handle constants in ROM e2e tests in a platform agnostic way."
nit: Is there a way we can encode this in ms or us and convert to cycles based on the target (sim, fpga, silicon)?

_Originally posted by @moidx in https://github.com/lowRISC/opentitan/pull/16007#discussion_r1014095993_

[2022-11-04 14:47] johngt commented on #15939
@engdoreis and I have seen that Jaedon is the maintainer of this block which is new and hasn't passed in the nightlies.

|    | Tests                     |   2022-11-03 07:11:23 |   2022-11-02 07:03:26 |   2022-11-01 07:10:18 | 2022-10-27 07:09:48   | 2022-10-26 07:06:46   | 2022-10-25 07:06:33   | 2022-10-24 07:05:24   | 2022-10-23 07:07:12   | 2022-10-22 07:06:03   | 2022-10-20 07:06:48   | Suit

[2022-11-04 14:48] #14272 closed

[2022-11-04 15:17] #14475 closed

[2022-11-04 15:18] hcallahan-lowrisc commented on #16014
This test just chooses randomly between three sequences, one of which can be `spi_host_speed_vseq`, which currently has fixes pending in https://github.com/lowRISC/opentitan/pull/16015.
Testing locally on a couple of failing seeds from the nightlies, that PR also fixes this test. Will run a larger regression locally to confirm, but the current low pass rate for this test may just come down to the

[2022-11-04 15:42] msfschaffner commented on #13869
Moving to M3 as the remaining work is not blocking P1 M2 test cases.

[2022-11-04 15:58] msfschaffner commented on #13373
Is there anything left to do for this, or has this been addressed by the `chip_if` refactor?

[2022-11-04 16:00] msfschaffner commented on #14693
I think this can be closed since we have moved to inserting random clock cycles instead of delays.
Please reopen if there is still something left to do here.

[2022-11-04 16:00] #14693 closed

[2022-11-04 16:02] tjaychen commented on #14180
thank you Greg!

[2022-11-04 16:03] tjaychen commented on #15795
yeah @msfschaffner and i each have PRs open that are fixing a part of this picture.
I'm hoping today we will be able to combine them.

[2022-11-04 16:08] tjaychen commented on #16013
o wow good catch.
Let me add the chip test label to this one.

What priority do you think this should be?

[2022-11-04 16:20] tjaychen commented on #15075
thank you for taking this on!

[2022-11-04 16:22] tjaychen commented on #15470
this is great! it would be good to know about the initial parts more as you say :)
Because I thought the initial loading would at least do the keys in shares...

[2022-11-04 16:26] #15960 closed

[2022-11-04 16:29] hcallahan-lowrisc commented on #16014
I see an improvement running a regression locally after incorporating the changes in https://github.com/lowRISC/opentitan/pull/16015, up to 34% passing in 50 seeds. The failure buckets have changed from the nightlies, so this is now probably hitting a different bug.

[code]

[2022-11-04 16:32] marnovandermaas opened #16017 "[csrng,doc] RNG compliance strategy document?"
I was reading through the CSRNG documentation and was wondering where I can find the RNG compliance strategy document?
https://github.com/lowRISC/opentitan/blob/10e7b2251fc01f0bbf2934804f466310810c2f2f/hw/ip/csrng/doc/_index.md?plain=1#L10

[2022-11-04 16:33] tjaychen commented on #13373
looks like this is still using forcing.
Let's open this as a P2 issue in chipleveltest, since that can support both new tests and test improvements.

It will also open up to a larger pool of folks to help if we are too busy.

[2022-11-04 16:40] tjaychen commented on #14156
updated in #15994
we can close now!

[2022-11-04 16:40] #14156 closed

[2022-11-04 16:49] #14496 closed

[2022-11-04 16:54] matutem commented on #14518
I think this would be low risk for M2 if the hmac, keymgr, and otbn unit tests check the corresponding faults are captured in their CSRs. I would ping the unit owners. Not sure if the automated error injectors check CSRs...

[2022-11-04 16:59] tjaychen commented on #14518
ah, at the block level i think this is certainly checked. I'm not sure at chip level though.

[2022-11-04 17:27] m-temp commented on #15470
Well, in sha3 there are no keys. Thus, it cannot be provided in shares ;) The message itself shouldn't be critical.

The idea here is to use the sha3 mode to test the (un)masked Keccak core and to show later in the ES that our masking really changes the side-channel behavior. We do that in sha3 mode, because in kmac mode the key-masking cannot be disabled and thus we cannot show the difference.

@

[2022-11-04 17:28] tjaychen commented on #15470
o that's right, thanks for the reminder!

[2022-11-04 17:31] sriyerg commented on #13373
Fine with cleaning up in M3.

[2022-11-04 17:46] matutem commented on #15970
I just got very busy with the recent change in reset domains. Here is what is missing from this issue:
-[] Cross reference chip_sw_sram_lc_escalation to both chip_sw_all_escalation_resets and chip_sw_data_integrity
As for the pending issues above, checks are okay for the main_sram now, so only ret_sram is missing: the all_escalation test needs to read from ret_sram before incrementing the nmi_inte

[2022-11-04 18:05] weicaiyang commented on #15076
When we brought this last time, we were about to sign off V2 and the block maintainer was leaving the project (there were no time for them to do any more work). Also we didn't have a new maintainer for this block at that time. But the regression/coverage metrics were enough for V2.
Besides, it seemed some issues on the scb need to be fixed. Then @martin-lueker  and I agreed to push this to V3

I d

[2022-11-04 18:23] tjaychen commented on #15076
That sounds good to me. So prioritize 90% first, and if we can achieve that within schedule, then aim to resolve this in M2/V2?

[2022-11-04 18:37] #14493 closed

[2022-11-04 18:53] tjaychen opened #16018 "[test-triage] chip_sw_aon_timer_wdog_bite_reset"
### Hierarchy of regression failure

Chip Level

### Failure Description

      Offending '$fell(src_ack_o)'
  UVM_ERROR @ 5588.461329 us: (prim_sync_reqack.sv:192) [ASSERT FAILED] SyncReqAckHoldReq
  UVM_INFO @ 5588.461329 us: (uvm_report_catcher.svh:705) [UVM/REPORT/CATCHER]
  --- UVM Report catcher Summary ---

### Steps to Reproduce

- GitHub Revision: [3e32a31a2](https://github.com/lowrisc/op

[2022-11-04 18:53] timothytrippel commented on #15357
dashboard still shows this failing, I will dig in.

[2022-11-04 18:58] weicaiyang commented on #15076
Agree. SGTM

[2022-11-04 19:20] weicaiyang commented on #13543
Agree with @msfschaffner. Thanks for looking into this.

I tried to change the test but it failed (**the main sram content matches**) indicating that the main sram wasn't scrambled.

Comparing with kRetSramBaseAddr sounds right to me. But I don't think `sram_ctrl_main_scramble_buffer` can match with `kRamTestPattern1` after scrambling. If it does, I can't explain why.

[2022-11-04 19:41] jrvanwhy opened #16022 "[test] Add tests verifying the ROM/ROM-ext don't touch peripherals they shouldn't touch"
There are many pieces of functionality that the ROM should leave unconfigured. For example, it probably shouldn't configure wakeup interrupts in `aon_timer`. However, none of our existing tests in the test plan verify that.

We should probably add a test or tests that verify the ROM leaves things alone that it *should* leave alone.

[2022-11-04 19:52] martin-lueker commented on #15076
Agreed as well.

[2022-11-04 20:04] msfschaffner opened #16023 "[test-triage] chip_sw_uart_tx_rx_alt_clk_freq"
### Hierarchy of regression failure

Chip Level

### Failure Description

Test chip_sw_uart_tx_rx_alt_clk_freq_low_speed has 5 failures.
0.chip_sw_uart_tx_rx_alt_clk_freq_low_speed.4270074077
Line 622, in log /container/opentitan-public/scratch/os_regression/chip_earlgrey_asic-sim-vcs/0.chip_sw_uart_tx_rx_alt_clk_freq_low_speed/latest/run.log

      Offending '$stable(gen_check_clock.main_clk_cycl