[2021-12-15 09:06] msfschaffner commented on #9567
Hey @rasmus-madsen.
These are the output enable signals for all primary outputs that are connected to the pads (either directly as a DIO or through the pinmux as an MIO).
It allows the IP to tristate an output.
If an IP does not make use of that feature, these signals should just be tied to 1'b1 (always enabled).

[2021-12-15 09:09] msfschaffner commented on #9544
Agreed. If we do not want to handle mixed cases in RTL (or don't have the time to implement that), let's just add a check for this.

[2021-12-15 09:11] msfschaffner commented on #8920
@martin-lueker did you already make this change?
It really does not have to be complicated - we can just hook up the OE signals to a CSR as @tjaychen has suggested.

[2021-12-15 09:28] msfschaffner commented on #8623
This issue has been addressed.
We are now using a "inverted" Hsiao codes system-wide, where it is guaranteed that all-zero and all-one code words are invalid.

CC @moidx @cdgori

[2021-12-15 09:28] #8623 closed

[2021-12-15 09:29] msfschaffner commented on #6478
This issue has been addressed.
We are now using a "inverted" Hsiao codes system-wide, where it is guaranteed that all-zero and all-one code words are invalid.

CC @moidx @cdgori

[2021-12-15 09:29] #6478 closed

[2021-12-15 09:53] rasmus-madsen commented on #9661
@nikola-miladinovic
so I am now convinced the problem is in the flash_ctrl_lcmgr.

a temporary fix would be to add .--build-opts="-delay_trigger" to xcelium runs.
this will schedule the combinatorial process after the active region in the schedule and hence won't retrigger.
unfortunately this can reorder things where a race-condition is present (anywhere we have #1ps or similar)

@tjaychen verilat

[2021-12-15 09:55] msfschaffner opened #9706 "[top/pinmux/pads] Pull the IE signals into the pinmux and disable for unused inputs"
This is a low-power enhancement in the pinmux logic that unfortunately may have an impact on all comportable IP port lists if we were to implement this properly (i.e. pulling the IE signals all the way through the pinmux and into the comportable IPs, like the output enable signals). Another option would be to only pull the IE signals half the way and tie them off inside the pinmux or at the top-le

[2021-12-15 10:46] m-temp opened #9707 "[entropy_src] disconnected SHA3 state register due to sparse fsm encoding"
As discussed in #8982 and implemented in PR #9394, the FSM encodings of KMAC and SHA3 were changed to sparse encodings. Thus, the state requires more bits.

Entrpy_src exposes the state of sha3_fsm via the hw2reg.debug_status.sha3_fsm.d. Unfortunately, all bits in the corresponding 32 bit debug_status register are used and cannot hold the sparse encoding of the sha3_fsm_o output. Therefore, I disc

[2021-12-15 11:27] rasmus-madsen commented on #9661
@tjaychen @nikola-miladinovic
I have root caused the issue and xcelium is definitely correct in this case, the problem is there is a combinatorial loop between the two always_comb processes.
where
`rma_wipe_req` is set in the first and evaluated in the second
and
`rma_wipe_done` is evaluated in the first but set in the second.
written in short this is the loop
[code]

this does not cause any probl

[2021-12-15 11:45] rasmus-madsen commented on #9567
@msfschaffner thanks - but we should document this somewere

[2021-12-15 14:52] alphan opened #9710 "[sw/silicon_creator] flash_ctrl_info_page_t enum names for pages available post-manufacturing."
just a note `kFlashCtrlInfoPageWaferAuthSecret` is only defined as such during manufacturing. I am not sure if we want to call it something else for general use.

_Originally posted by @moidx in https://github.com/lowRISC/opentitan/pull/9680#discussion_r769137036_

Note: This also applies to `kFlashCtrlInfoPageFactoryId`.

[2021-12-15 16:47] patel-madhuri opened #9714 "[SYSRST_CTRL] No interrupt is raised when combo detect bat_disable action is set"
The combo interrupt status register reads 0 when the combo detect bat_disable action is set. This register gets updated only when the  COM_OUT_CTL_0.interrupt_0 action is set. Below is the piece of code which shows the register is updated only when interrupt to opentitan action is set:
  assign combo_bat_disable_pulse = cfg_bat_disable_en_i & combo_det_pulse;
  assign combo_ec_rst_pulse      = cfg

[2021-12-15 16:51] patel-madhuri commented on #9714
Command to run the test
./util/dvsim/dvsim.py hw/ip/sysrst_ctrl/dv/sysrst_ctrl_sim_cfg.hjson -i sysrst_ctrl_combo_detect --waves --tool xcelium --fixed-seed 4028571893

PR9586 can be used to generate the scenario.

[2021-12-15 17:20] martin-lueker commented on #9707
Thanks @m-temp.   I think this should not be so bad, I think there are about 6 reserved bits higher up in that Reg, so it should be okay.

[2021-12-15 18:31] msfschaffner commented on #9714
Indeed, I believe this is not a bug but intended behavior. I.e., if the interrupt is not configured as a combo action, the interrupt status register will not be updated.

[2021-12-15 22:54] mwbranstad commented on #9707
Can this issue be updated when the sparse fsm for sha3 has been merged?

[2021-12-16 00:04] #9154 closed

[2021-12-16 03:39] alphan opened #9729 "Question about flash_ctrl ECC, scrambling and write patterns"
In `boot_data.c`, we invalidate the previous entry in a flash info page after writing a new entry. Currently, this is implemented by writing `0` to a previously written 32-bit word in flash (see this [line](https://github.com/lowRISC/opentitan/blob/4f1f5740d1bad29053e7a2a6cdb1b6e3c78d5606/sw/device/silicon_creator/lib/boot_data.c#L236)). Since each entry has a digest, this change results in a dige

[2021-12-16 11:33] patel-madhuri commented on #9714
Ok got it. In order to check if the other combo action is raised when interrupt is not configured as a combo action can we use below signals from top level:
1. aon_bat_disable_hw  - To check if bat_disable action is raised after detecting the combos
2. aon_ec_rst_l_hw - To check ec_rst action
3. aon_sysrst_ctrl_rst_req_o - To check rst_req action
4. combo_status_register - To check interrupt actio

[2021-12-16 12:53] kosta-kojdic opened #9734 "[spi_device] TPM assertion CmdAddrAvailable_A"
During TPM read test scenario there is this assertion error popping up. @eunchan can you please take a look?
To reproduce, we have PR #9733 and command:
./util/dvsim/dvsim.py hw/ip/spi_device/dv/spi_device_sim_cfg.hjson -i spi_device_tpm_read --fixed-seed 1 --waves --xprop-off -v h --max-parallel 1

[2021-12-16 16:53] davidp135 commented on #9514
I can now view the internal signals and have been looking at the unknown `d_ready` signal after reset issue.

It turns out this has already been looked at in #4427. The fixes there still work now and the UART smoke test will pass. That is:

Add clocking to the d_ready signal at line 57 of `tl_host_driver.sv`
[code]
and the other h2d signals line 233 onwards:
[code]
@weicaiyang it looks like the la

[2021-12-16 16:55] prajwalaputtappa opened #9738 "key_invalid error bit is being set for CSRRS instructions."
Hi @GregAC,

Accesses to MOD5 register in CSR is setting the key_invalid bit. According to the specification, key_invalid bit is supposed to be set only for WSR registers.

Please find the screenshot of the waveform below:
![Screenshot from 2021-12-16 16-52-40](https://user-images.githubusercontent.com/91126414/146414390-081860ce-8556-4b80-aa5a-47f98036659d.png)

To reproduce, please fetch code fr

[2021-12-16 17:11] #9402 closed

[2021-12-16 19:15] cdgori commented on #5639
Since the PTG.3 is available at 1/3 the rate of PTG.2 I think that resolves my "concern" (which was more just noting that we needed to know what the use cases were if we were going to get close to any performance thresholds - seems like we have programmable workarounds for all of that now though.)

No objection to close here.

[2021-12-16 19:21] eunchan opened #9741 "[spi_device] Passthrough to use outclock-ed `addr_swap_en`, `payload_swap_en`"
The current data swap logic inside the passthrough module uses `cmd_info` data structure directly.
The `cmd_info` is latched in SPI Input clock when the 8th command is received.

So, STA analyzes the timing path from INPUT clock to SCK output clock. The output delay of the pads is greater than the half clock cycle due to the huge external delay (PCB -> downstream device and return).

The logic sha

[2021-12-16 19:22] eunchan commented on #8928
Issue #9741 is added. Need to resolve

[2021-12-16 19:43] weicaiyang commented on #9514
Thanks for trying that out.
Looks like Questa doesn't handle driving non-cb block like the other simulator. From my understanding, that should be OK and it should take effect immediately without waiting for next active edge. Can you check with the tool R&D team and see how they understand this behavior? Thanks

[2021-12-16 21:48] matutem opened #9742 "[rtl/pwrmgr] Fix wkup"
The wkup signal is used to enable wakeup interrupts. This signal is generated by the fast fsm based on pwrup_cause_i, which is generated by the slow_fsm: pwrup_cause is set to either Wake or Reset in state SlowPwrStateLowPower depending on reset_req_i. This means for regular resets this signal is unchanged since resets don't involve the slow fsm.

It follows that the fast fsm's wkup_o output can b

[2021-12-16 23:52] timothytrippel opened #9744 "[dv] Cleanup chip-level test point names to better indicate test type."
As indicated in #9717, the chip-level [test plan](https://docs.opentitan.org/hw/top_earlgrey/doc/dv/#testplan) contains a mix of the SW and connectivity test types. All _software_ tests have a test point name that begins with the prefix `chip_sw_`, while those that are not software tests just begin with the prefix `chip_`. Tests that are _not_  software level tests, are _implied_ to be connectivit

[2021-12-16 23:54] timothytrippel commented on #9744
CC @cindychip @sriyerg @davebwil

Just an FYI (I can make this change). Filing an issue to track.

[2021-12-17 00:22] matutem commented on #9742
This can be reproduced with the draft https://github.com/lowRISC/opentitan/pull/9746, running pwrmgr_smoke test.

[2021-12-17 01:00] matutem commented on #9742
By the way, I cannot find when interrupts are set in the pwrmgr functional spec. The code seems to suggest it is on any wakeup, even aborted and fall_through. But there is also a comment in pwrmgr.sv, line 556, that says it is asserted in any fast fsm transition to active state.

[2021-12-17 10:37] davidp135 commented on #9514
Sure, Il make a simplified example and send it off.

[2021-12-17 12:39] #9629 closed

[2021-12-17 14:33] vogelpi opened #9751 "[otbn] Verify that software doesn't assume pre-initialized register files"
In #9472 we ran into issues related to Vivado not correctly handling non-zero initialization constants for wide register files implemented with FPGA LUTRAM on OTBN. As a result, the ECC checking logic on the bignum RF was firing upon the first read of an improperly initialized wide register, causing a fatal alert. If the register is first written, the initialization doesn't matter. Interestingly s

[2021-12-17 14:34] vogelpi commented on #9751
@rswarbrick @GregAC @msfschaffner

[2021-12-17 15:35] #9738 closed

[2021-12-17 15:53] mwbranstad commented on #5639
Based on the above, closing now.

[2021-12-17 15:53] #5639 closed

[2021-12-17 16:11] mwbranstad commented on #7786
After removing the LFSR from ES, it was verified that the AST model worked with ES. At this point my involvement with this issue is done.

[2021-12-17 16:19] mwbranstad commented on #9637
Thinking about this some more, I suppose separating the master enable from other configuration fields may be useful, and perhaps not present any security issues. By design, turning the main enable off, will act like a functional reset, exception for registers like threshold settings. From a CI passing perpective, it would be best to keep the current register structure as is. Need consensus on this

[2021-12-17 19:49] martin-lueker opened #9753 "[entropy_src] Health test watermarks need to reflect non error values"
The entropy_src health check "watermarks" aim to present the highest (or lowest) health check value since reset (or disable?).
This is to be a diagnostic for lab testing, and it is also a very highly anticipated diagnostic for verification.

Currently however many of the health checks are only updated when the health check value is out of range.   This does not line up with their documented behavi

[2021-12-18 19:37] #9753 closed

[2021-12-19 13:51] martin-lueker opened #9757 "[entropy_src] Bucket health-test does not generate proper diagnostic outputs"
In `entropy_src` the "Bucket" Health test is supposed to make a histogram of recently observed 4-bit RNG symbols, and note a failure if any of them exceed the programmed thresholds.   The maximum value of the histogram is also supposed to be recorded by the watermark diagnostics.  Though the threshold calculation is being performed, the maximum values are not being output.

**UPDATE:** Proposed fi

[2021-12-19 14:04] martin-lueker commented on #9757
To reproduce this result (inside WDC) fetch the branch [issue_9757](https://github.com/martin-lueker/opentitan/tree/issue_9757) from my fork (`git@github.com:martin-lueker/opentitan.git`), and run the command:
[code]

[2021-12-19 14:22] martin-lueker commented on #9757
Further diagnostics:
Error from Simulation:
[code]

Log Excerpt (full verbosity): shows that bin "e" is the highest with 0xa (10) counts, raising the predicted watermark from 0 to 0xa.
[code]
Waveform taken from inside the DUT, showing the histogram being accumulated. In the end, it matches the scoreboard prediction above (**That's good!**), but test_cnt_o  (highlighted at bottom) is not being upd

[2021-12-19 23:20] martin-lueker opened #9759 "[entropy_src] Implementation & Documentation of Markov Test"
In the entropy_src the "Markov test" aims to detect either
1. Oversampling of AST/RNG outputs leading to "clustered" input values that eventually change, but often are just repeats of the previous sample.  For example the string: "00111111000011000111000111000001111" has roughly equal numbers of 1's and 0's, but no good entropy source should generate such strings, because each bit is likely just a

[2021-12-19 23:45] martin-lueker commented on #9759
For history, I can see now that this implementation choice has been in place since the [the very first commit of the Markov test](https://github.com/mwbranstad/opentitan/commit/cfd6d4181b92ab99d3a6024a76a8a2546aebfb74#diff-cd0b393e5e334df07777d36e8e8cd5965b924bb61245380c52356cd2d5f8c0da).

[2021-12-20 11:50] zi-v commented on #9759
@martin-lueker , I think the Markov choice is OK.
However, I now see that the "adaptive proportion" ES test actually takes the first approach which I am not sure is ideal. Here is why:

From FIPS perspective, both adaptive proportion test (APT) and repetition count test (RCT) are mandatory (Markov is not).
With regards to FIPS cert to our RNG, one could try to claim that the RNG comprises four sin

[2021-12-20 13:08] rasmus-madsen opened #9765 "[PWM] duty cycle does not match settings"
settings
clk_div = 32h1
dc_resn = 4hA
Duty Cycle = {16h0000, 16h1999}

a duty cycle of h1999 (dec 6553)
should give a duty cycle of appx 10%

with the resolution only the upper 11 bits of the register is used.
so the actual value for the duty cycle used should be
dutycycle[15:5] = hCC
and the pulse should be 2^11 = h800
hCC/h800 <=> 204/2048 so still roughly 1/10 or 10%
converting to clocks this w

[2021-12-20 15:08] sha-ron opened #9766 "[dv/foundry] Calculations for ROM ECC in foundry database"
The foundry ROM fails due to the following addition in PR #9245:
DV_CHECK_FATAL((this.width < bits_per_subword) || (this.width % bits_per_subword == 0),
"With multiple subwords, mem width must be a multiple of the ECC width")
cc: @tjaychen

[2021-12-20 16:00] msfschaffner commented on #9714
Indeed, signals 1. - 3. can be used to check whether the associated action is triggered or not.
Note however that 1. and 2. go through the output override module - so their value depends on whether the outputs are overridden or inverted.

As for 4.: these CSRs are only set if the interrupt combo action is configured, as far as I can tell from RTL.

[2021-12-20 16:36] mwbranstad commented on #9757
There is technically no issue here. The watermark for the bucket test is keeping track of the number of fails (buckets that exceed the threshold check) per window time. It was not intended to keep track of the actual size of each bucket, which is what i think the issue is addressing. There are probably two dimensions of things to keep track of here (bucket depth, number of buckets exceeding thresh

[2021-12-20 17:44] tjaychen commented on #9561
this looks good to me, thanks for the fix.

[2021-12-20 18:24] tjaychen commented on #9661
hmm... i'm not really convinced there is a loop. Especially since our other lint tools (both the ones we use for sign-off, and the one Nuvoton uses) has identified it as such. I also cannot identify at the moment, any area of the code where what you're saying is happening.  But I'll have a closer look.

[2021-12-20 18:35] tjaychen commented on #9661
actually..the fix you guys put in..pretty much very clearly states there isn't a real combinational loop, but a tool one.
Since you're literally just taking one signal and unconditionally assigning it to another... from a real circuit perspective there is no difference between the signals. Ie, synthesis would map them to the same thing.

So we're creating an artificial break for the tool, not a re

[2021-12-20 18:42] tjaychen commented on #9661
i double checked with ascentlint once more, there are no identified combo loops within flash controller.
We need to take this back with the vendors again, and ask for more details.

[2021-12-20 19:11] tjaychen commented on #9729
@alphan just to confirm, in the non-linear 32-bit case above, the writes to offset `0` and `4` are probably going to cause an issue, but the write to those starting at offset `8` should be correct right?

As you say, a write to another previously written flash word will cause an issue, and i can definitely enhance the spec to clarify that.

[2021-12-20 19:16] alphan commented on #9729
Yes, writing 64-bits in a _single_ transaction starting at offset `8` works.

Thanks @tjaychen!

[2021-12-20 19:20] tjaychen commented on #9541
yes i believe @msfschaffner has this in the tapeout checklist.  We will need to manually walk over the final synthesized netlist to make sure everything we intend to be there is still there.

In the past I have not personally done an exhaustive check, but more of a spot check. Shall we start maintaining a doc somewhere (or can it be open) on the things to check? I feel like open should be fine bec

[2021-12-20 19:21] tjaychen commented on #9568
@arnonsha
@Jacob-Levy

Arnon / Jacob / Michael,
If we haven't filed a solvenet ticket already, is this something Nuvoton can take on to confirm and let us konw? I think as @msfschaffner synopsys is probably the highest priority at the moment.

[2021-12-20 19:52] tjaychen commented on #9635
that sounds good to me.

[2021-12-20 19:58] tjaychen commented on #4179
@arnonsha
i did discuss with Arnon at some point.
So the bottom line is, synthesis will insert clock gates.
However it will only do so for the basic case.. ie

[code]

The tool will take the enable signal and use it to control a clock gate.
However, what we will NOT do, is do a data consistency check (XOR) of
the current data and the new data and use that to generate a clock gate.

Can you correct

[2021-12-20 20:05] arnonsha commented on #4179
Yes, I believe we have discussed this before:
We are not using XOR gating because of area and because these XORs are enablers for SCA.

[2021-12-20 20:32] martin-lueker commented on #9759
Hi @zi-v,
  You bring up some really good points.   This is another place where we have conflicting goals in the requirements, be they due to differences in priorities, speculation about lab requirements, desire for optimizations etc.   We've managed the other challenges before, so I'm optimistic we can come up with something flexible here.  Getting a full analysis of the trade-offs will take effo

[2021-12-20 20:42] martin-lueker commented on #9757
Thanks Mark.  To recap our offline conversation, there is challenge with using the count of bins over threshold as a diagnostic, because it then conflates the properties of the RNG source with the choice of threshold.   Just returning the largest count is useful even before you've decided on a threshold value.   Also the largest count is the one statistic that is used when calculating min-entropy,

[2021-12-20 21:38] rasmus-madsen opened #9775 "[SPI_HOST] does not zero-pad unused bytes in the RX FIFO"
@martin-lueker

my branch spi_host_dbg
run
./util/dvsim/dvsim.py hw/ip/spi_host/dv/spi_host_sim_cfg.hjson -i spi_host_smoke -r 1 -t xcelium --xprop-off --job-prefix="nc run -C ncsim_interactive -Il" -w=shm -s=1986845197

When running the following sequence

segment 1.
command 1 byte bidirectional
read data 0xFF

segment 2
address 4 bytes bidirection
read data 0xFF 0xFF 0xFF 0xFF

segment 3
read 10

[2021-12-20 21:48] mwbranstad commented on #4179
Ok, thanks. My take away is that for most flops (unless an enable is explicitly coded), there will be no clocking at all. For entropy complex blocks, it could the case that the system clock is relatively slow such that power is not a concern. We are taking that trade-off versus the XOR SCA exposure.

[2021-12-20 22:16] weicaiyang opened #9777 "[sram] question about escalation"
@msfschaffner
When escalation is set, SRAM will no longer accept any access. If the access is taken just before escalation occurs, sram won't respond with d_valid=1 (see the transaction with source=aa in below waveform).
![Screen Shot 2021-12-20 at 2 05 27 PM](https://user-images.githubusercontent.com/49293026/146839165-cb5a5c6b-e938-410b-9ae0-12d9e9bc0f83.png)

I'm curious if this happens in real

[2021-12-20 23:26] weicaiyang commented on #7461
@msfschaffner can we close this issue now?

[2021-12-21 00:15] #9757 closed

[2021-12-21 00:59] tjaychen commented on #8612
yeah if there's multi FSM already, i think just using a single count is fine. I added the cross count function to `prim_cnt` initially in case we wanted to use it for `AES`, but we don't have to.  By now, other places are also using cross count.

[2021-12-21 01:59] tjaychen commented on #4179
yeah, i think in the worst case, we MAY need to re-code some counters / data paths etc to conform to the dumb style.
This is typically why i have encourage people to have some kind of condition on the path, preferably a condition that is not always active, because the dumb approach will not be able to distinguish that.

[2021-12-21 06:34] zi-v commented on #9759
@martin-lueker , I think it is good if you have the time and resources.
Otherwise, it is a risk management decision. Per my view, it is likely that we'll be able to take the 4-symbol approach, in which case, it will not matter much what we do with the four RNGs tests as long as it is reasonable. The problem is that I am not completely sure I am right :)

[2021-12-21 14:32] drewmacrae opened #9784 "[bazel] mask rom verilator test hangs on uart output"
I'm not sure how to get a call stack, but if I look at the trace_core_00000000.log and a disassembly file, I see
mask_rom_main
called
shutdown_finalize
called
printf
called
uart_putchar
which never returned.

I can't tell if my console isn't working properly or if putchar (which appears to be polling for idle is examining a module with a stopped clock.)

[2021-12-21 14:50] drewmacrae commented on #9784
Looking at shutdown_finalize I think it's trying to report the error we expect here https://cs.opensource.google/opentitan/opentitan/+/master:sw/device/silicon_creator/lib/shutdown.c;drc=319dbc899c8fcab7bcf516ed756f291146696fd0;l=272

[2021-12-21 15:10] drewmacrae commented on #9784
This failure appears as a test timing out
`//sw/device/silicon_creator/mask_rom:verilator_mask_rom_test            TIMEOUT in 300`

[2021-12-21 15:10] rswarbrick commented on #9661
@tjaychen: This *is* a genuine loop at the SystemVerilog level, but will never cause problems in actual synthesised code (so presumably lint tools don't bother warning about it). For a simplified version, consider the following:
[code]

What happens if `i_am_x` is `x`? The first process runs, setting `a` to zero and then setting it to `x` (because the case statement is switching on an `x`). But th

[2021-12-21 15:40] drewmacrae commented on #9784
I'm hitting this in Verilator 4.210

[2021-12-21 16:41] #8355 closed

[2021-12-21 16:45] msfschaffner commented on #9777
Hey @weicaiyang - indeed, this is the currently specified behavior, see also [here in the spec](https://docs.opentitan.org/hw/ip/sram_ctrl/doc/index.html#lifecycle-escalation).

I am not sure we should change this. @tjaychen do you see any value in changing this behavior?

[2021-12-21 16:49] msfschaffner commented on #9568
Indeed, Synopsys would be the highest priority.
I have not filed the ticket just yet.

[2021-12-21 16:55] msfschaffner commented on #7461
Yes, this should be resolved now. Thanks for aligning the DV side in order to enable this!

[2021-12-21 16:55] #7461 closed

[2021-12-21 17:36] arnonsha commented on #9568
Michael
I think before going to snps with this, can you check what was imlemented in the netlist ? If I understamd correctly the logic is wrapped in a hierarchy which can be isolated from netlist and even simulated with legit and non kegit values.

[2021-12-21 19:01] tjaychen commented on #9777
i think this is okay.
@msfschaffner correct me if i'm wrong, but the usual alert escalation path goes interrupt -> nmi -> escalation / scrap -> reset.

So the time for software to respond and do something would have been in the interrupt / nmi group if things are configured that way. Once we get to escalation / scrap, there shouldn't really be any expectation for software to be able to gracefully

[2021-12-21 19:14] tjaychen commented on #9661
i don't really understand what you are arguing about. The first example you used, that IS a combinational loop in the design and the tool WILL flag it.  I plastered that example directly into lint, and here are the results.

The construction you are showing, even simplified, should not exist in `flash_ctrl` right now, otherwise it would have already been flagged by lint tools everywhere or even fp

[2021-12-21 19:29] weicaiyang commented on #9661
sorry, late to the party. Looks like this issue is similar to this one #1548 that we met 1.5 years ago. We ended up to change the code to avoid it. I think it's more like a tool bug, but Cadence doesn't believe so.
They provided an option `-delay_trigger`. Below is the description from Cadence.

If we believe our code is fine, we can consider to use this switch. @rasmus-madsen did you use this swi

[2021-12-21 19:39] tjaychen commented on #9661
@weicaiyang actually by adding an assignment outside of the always block, the problem goes away (if you follow my latest PR).
It would be good if someone can double check. @nikola-miladinovic said it was fine, but I couldn't tell by his comment if he meant with or without xprop.

My point in this case is that there is no real design combo loop.  Especially since `rma_wipe_req` is affected only by

[2021-12-21 19:46] kosta-kojdic commented on #9734
@eunchan PR was merged yesterday and in SPI regression most read tests are failing because of this assertion failure.

[2021-12-21 19:51] #2708 closed

[2021-12-21 20:07] timothytrippel opened #9787 "[sw/testing] Embed IRQ vector configs in test_rom<_ext> in startup `asm`."
The [test ROM](https://github.com/lowRISC/opentitan/tree/master/sw/device/lib/testing/test_rom) and [test ROM ext](https://github.com/lowRISC/opentitan/pull/9743) define the IRQ vectors for each relative (test-only) boot stage in a separate `asm` file (eg., [`test_rom<_ext>_irq_vector.S`](https://github.com/lowRISC/opentitan/blob/master/sw/device/lib/testing/test_rom/test_rom_irq_vector.S)). Howev

[2021-12-21 20:24] weicaiyang commented on #9661
I agree this is not a real loop. We can change the code to avoid it like you did in the PR. If you prefer not to change the code, then we can consider using the switch Cadence provides

[2021-12-21 20:29] tjaychen commented on #9661
no changing is fine... i just wish we could identify exactly what the
problem is.
And maybe update our style guide to not do something in the future.
Because I honestly can't tell right now.

On Tue, Dec 21, 2021 at 12:24 PM weicaiyang ***@***.***>
wrote:

[2021-12-21 21:27] rswarbrick commented on #9661
I'm not sure you're quite right in your diagnosis. In the version that was failing, there are processes starting on line 272 (let's call that one "process A") and on line 576 (let's call that one "process B").

Process A writes `rma_wipe_req` with the "set it to zero, and then set it to something else in one branch of a case statement" logic. If `state_q` happens to be X then every time process A

[2021-12-21 21:30] rswarbrick commented on #9661
Sorry, I didn't make it completely clear what I was replying to. @tjaychen: Please can you have a look at the code and check whether I'm talking nonsense? My super-simple example above was supposed to be a distillation of what was going on.

I think there are two possibilities: (1) I'm missing something and the code doesn't work the way I thought. (Totally possible!) (2) AscentLint isn't spotting

[2021-12-21 21:43] matutem commented on #9314
There are two main things to verify in this logic:
- It flags an error if a child reset occurs for no good reason (a tampering glitch),
- The logic is correct under various synchronization delays because of the many CDCs involved.
The former can be tested as you describe. I think the latter is more tricky, but could be tried using the CDC random delay instrumentation. It seems this may need a sepa

[2021-12-21 21:44] weicaiyang commented on #9777
Thanks @msfschaffner and @tjaychen. If we don't expect SW to do anything after escalation, the current design makes sense

[2021-12-21 23:27] tjaychen commented on #9661
There is no "real" combo loop here. There may be one as interpreted by the simulator, but I don't agree with it.
There is one very BIG difference between the example you used and the code in `flash_ctrl_lcmgr`

[code]

In the example you used, a is dependent on b.  However in the flash code, a is directly assigned to 1 whenever it is in that particular state.  The a = 0 above is a pretty typical w

[2021-12-21 23:32] tjaychen commented on #9661
lastly, i doubt whatever i typed here has convinced anyone.
If you all are that convinced i'm wrong, the linter is wrong, the synthesis results are wrong, let's just do whatever you guys prefer to move things along.

Have a look at #9771 and let me know if you are okay with that fix.
If not, we also cannot use any of the proposed fixes here, so we'll need to look for something else.

for option 1,

[2021-12-21 23:32] rasmus-madsen commented on #9661
`if we believe our code is fine, we can consider to use this switch`

Well the tool tells us it is not fine - why are we working so hard to modify the tool behavior when we can fix the code, and have the tools agree on the behavior?

I think the fact that we have two tools that agree is a big gain, and we should try to avoid adding special options, or workarounds on the tool itself if at all possi

[2021-12-22 00:02] tjaychen commented on #9661
i agree we don't need a switch.
However, i disagree that is a real loop.  As I'm trying to explain here, this is NOT a loop in terms of real circuits.  It might be from the perspective of the simulator, but that is my opinion an oddity, and again, this would not synthesize into a real loop.

Like i tried to explain, if by adding a buffer the "loop" goes away, then it is not REAL in the synthesized

[2021-12-22 00:28] tjaychen commented on #9661
summarizing a bit, I think what we're saying now is..

1. This is a real loop for cadence, based on how that simulator works.
2. This (i believe) is not a real loop for synthesis.

The first we can work around very easily, although it sounds like maybe we should add some style guide updates to not directly crisscross signals between FSMs without going through some kind of assign element.

The seco

[2021-12-22 00:31] tjaychen commented on #9766
huh... this is odd. I didn't think ROM would have this issue.

[2021-12-22 01:44] tjaychen commented on #8920
o not gating anything, just more for completion sake.

[2021-12-22 01:52] tjaychen commented on #9685
@zi-v are you okay with us pushing such disabling to `rom_ext`? I don't think that's something that HAS to be in rom right?

[2021-12-22 02:07] tjaychen opened #9792 "[flash] open source / closed source sizes are different"
The open source / closed source modeled flash sizes are slightly different.
This is because there are certain things the open source world does not model.
This led to the discovery of issues in #9791.

In the future, we should investigate whether these differences can be safely modeled in the open without revealing proprietary features.

[2021-12-22 06:04] zi-v commented on #9685
Yes, under the assumption that only the chip creator can authorize/sign changes in the ROM_EXT

[2021-12-22 10:28] msfschaffner commented on #9777
Yeah exactly.

[2021-12-22 10:41] msfschaffner commented on #9569
I think most of our enum typecasts are from logic vectors to enums and vice versa. Enum to enum is rather an exception, I believe...

[2021-12-22 11:21] #9642 closed

[2021-12-22 11:22] #9704 closed

[2021-12-22 11:58] NigelScales opened #9795 "JTAG RISCV Driver returns incorrect read data"
The JTAG RISCV driver returns read data with the upper 2 bits zeroed.
It has shown up during verification of the LC_CTRL JTAG registers.

I've found the cause and fixed it locally as shown below.
task send_csr_dr_req has the wrong size for field dout.

![image](https://user-images.githubusercontent.com/78102677/147089310-0d5ed90f-bfb8-4929-9348-48a28429587a.png)

[2021-12-22 14:16] rasmus-madsen commented on #9661
@tjaychen I think this is turning into a philosophical debate now.
following that logic X's aren't real in synthesis and therefore we should not use X-propagation.

at the end of the day - the very real problem is that the code is ambiguous in the case of X.
VCS makes an assumption that it can guess what it should do. - VCS is generally an optimistic simulator.
Xcelium does not. - xcelium is gener

[2021-12-22 15:59] #9765 closed

[2021-12-22 17:46] eunchan commented on #9734
OK. I will take a look. Thanks for the report.

[2021-12-22 17:49] rasmus-madsen commented on #9661
@tjaychen @rswarbrick
so after giving this some more thought I think there is a semantical difference here - which is why we disagree!

I think we all agree that this is a simulation issue - not a synthesis issue.
and the reason for this is depending on the scheduling - of which there is none in real hardware.

so the loop here is probably better named an EVENT LOOP rather than a combinatorial loo

[2021-12-22 17:53] eunchan commented on #9734
@kosta-kojdic The first error seems to be different.
[code]

[2021-12-22 17:57] kosta-kojdic commented on #9734
@eunchan do you get CmdAddrAvailable_A error at all? If not can you try different seed?

[2021-12-22 18:01] weicaiyang commented on #9777
Thanks @msfschaffner for the confirmation. Closing this issue.

[2021-12-22 18:01] #9777 closed

[2021-12-22 18:01] eunchan commented on #9734
That is different story. SW never popped the CMDFIFO entry at all. The error above occurred first.

[2021-12-22 18:02] eunchan commented on #9734
![image](https://user-images.githubusercontent.com/1192814/147135844-758cf119-ff41-4e0b-af8a-db55cc145b97.png)

[2021-12-22 18:14] #9742 closed

[2021-12-22 18:16] tjaychen commented on #9685
I believe that to be the case. @moidx @cfrantz @alphan please correct me if i am wrong.

[2021-12-22 18:18] tjaychen commented on #9569
yeah agreed. I think one of the biggest places where this is used is actually out of regfile (since our reggen doesn't currently understand enums). Long term I think it would be nice to absorb that understanding in.

I guess the other place this is used is mostly for padding out logic vectors like @msfschaffner pointed out.

[2021-12-22 18:20] tjaychen commented on #9795
@cindychip
@weicaiyang
@sha-ron

[2021-12-22 18:25] tjaychen commented on #9661
yes agreed I will update the code.  (please see my latest comment there, I will also reword the PR to remove mention of "tool" issues).

I also think per @rswarbrick examples earlier, we need to come up with some kind of style guide suggestion to head these things off in the future.  Can you guys think of any general description that would capture this well?

This sort of thing where one FSM trigg

[2021-12-22 18:31] alphan commented on #9685
Correct.

[2021-12-22 18:31] #9234 closed

[2021-12-22 18:32] tjaychen commented on #9685
great! so can we make an official decision here to not HAVE to include this in ROM? :)
Would you prefer that @alphan ?

[2021-12-22 18:36] tjaychen commented on #7786
o yes let's close this. I've also added [entropy source smoketest back into CI](https://github.com/lowRISC/opentitan/blob/master/test/systemtest/earlgrey/config.py#L102), so everything should be just fine now.

[2021-12-22 18:36] #7786 closed

[2021-12-22 18:37] weicaiyang commented on #9795
Thanks @NigelScales for finding the issue and the root cause. Can you push your local fix to a PR? Thanks

[2021-12-22 19:28] rasmus-madsen commented on #9661
not sure what the general recommendation would be.
but I would suggest using assigns or setting the other branch leg of an if.
the
a=0
if (b) a = 1

is causing the event loop - so rewriting this to
if(b) a = 1
else a = 0

would also fix the issue.

lastly splitting the processes into smaller independent ones would also solve this.

@rswarbrick any preferences or suggestions?

[2021-12-22 20:13] sha-ron commented on #9397
Closed via #9416

[2021-12-22 20:13] #9397 closed

[2021-12-22 20:41] #9795 closed

[2021-12-22 21:11] kosta-kojdic commented on #9734
Read of cmd_addr by SW before filling up read fifo added to tpm_read test as part of pull request #9687

[2021-12-22 23:13] drewmacrae commented on #9784
I don't see the UART transmitting or going idle when I look at a trace. The FIFO has a single byte but cio_tx_en_o appears to remain low through the test. I wonder if we need to set that somehow.

[2021-12-22 23:15] drewmacrae commented on #9784
Oooh, the dif_uart appears to set CTRL.LLPBK but the uart driver this test uses doesn't I bet that's the problem.

[2021-12-22 23:46] eunchan commented on #9734
I recommend you to create another PR for the fix.

[2021-12-23 03:09] drewmacrae commented on #9784
The NCO isn't set, so the baudrate generator is inactive.

[2021-12-23 03:47] drewmacrae commented on #9784
It looks like the driver expects that the uart get initialized before it's used, and tries to use it to report an unsigned flash image at the end of the mask rom test.

I don't see discussion of initializing the uart in the mask_rom.

[2021-12-23 09:52] patel-madhuri commented on #9714
I just noticed signals 1 and 2 are local signals to combo detect modules, so we can't use them to check in the tb as these are not brought up at the top level. Is there any other register/signals from the top level which can tell us that bat_disable or ec_rst combo action is set?

For 4. Can we add this point to specification document?

[2021-12-23 11:22] vogelpi commented on #8612
Okay cool, thanks for the feedback. So, I might indeed switch back to a single counter hardened through the multi-rail FSM. But anyway, having a shared primitive including cross count capability is really nice!

[2021-12-23 11:25] vogelpi commented on #9541
Starting a shared doc would be great. Maybe it's better to be cautious and not start it in the open right away though.

[2021-12-23 14:05] #9635 closed

[2021-12-23 14:45] rswarbrick commented on #9661
Yeah, I'm not sure about a good style suggestion here. In the case of this code, the best thing is probably to split out the `rma_wipe_req` signal, since there's nice way to write it without needing another case statement. I can definitely think of situations where it's not so obvious how to do this nicely. :-(

@tjaychen: I completely agree that this is a spurious silliness caused by an interacti

[2021-12-23 15:20] alphan commented on #9685
Yes, created #9810 for locking `CREATOR_SW_CFG` (the partition that holds AST configuration) in ROM_EXT.

[2021-12-24 00:44] martin-lueker opened #9819 "[Entropy_src] repcnt watermarks not recording statistical threshold"
DV has uncovered two challenges with the `repcnt` & `repcnts` health checks:
1. Similar to the Bucket test in issue #9757, the diagnostic being fed to the water mark is the number of failing counts, not the actual repetition counts.
2. Even though the repcnt test is continuous (i.e. has no concept of windows), the `repcnt` and `repcnts` watermarks are only being updated at the end of the health ch

[2021-12-24 01:35] martin-lueker commented on #9819
To reproduce this result (inside WDC) fetch the branch [issue_9819](https://github.com/martin-lueker/opentitan/tree/issue_9819) from my fork (`git@github.com:martin-lueker/opentitan.git`), and run the command:
[code]

[2021-12-24 09:19] kosta-kojdic opened #9822 "[spi_device] Abort feature description"
Please add more details in specification on the abort feature. Currently there is not enough info to create full scenario with meaningful checking.

[2021-12-24 09:22] kosta-kojdic opened #9823 "[spi_device] abort_done implementation"
abort_done is not implemented in the design. Add this functionality.

[2021-12-24 11:06] nikola-miladinovic commented on #9661
@weicaiyang @rasmus-madsen  Please do not forget to create and mention here VCS issue for XPROP settings. If I understood correctly, we should test XPROP inside all instances of DUT, not only at file DUT itself.

[2021-12-24 14:14] kosta-kojdic commented on #9734
After fixing scenario issue is removed

[2021-12-24 14:14] #9734 closed

[2021-12-24 15:26] msfschaffner commented on #9714
Hey @patel-madhuri,

`aon_bat_disable_hw`, `aon_ec_rst_l_hw` are indeed internal, but they are observable at the `sysrst_ctrl` output as well. I.e., these internal signals go through the override logic and inverter blocks, and are then output via `cio_bat_disable_o` and `cio_ec_rst_l_o`, see below:

![image](https://user-images.githubusercontent.com/41358501/147361307-20eb7d00-0efd-4294-96df-28c3a

[2021-12-24 15:35] vogelpi commented on #9200
I am closing this issue as the corresponding fix has been merged a while ago already.

[2021-12-24 16:39] msfschaffner commented on #8983
@tjaychen do we want to follow through with this enhancement, or postpone it?

[2021-12-27 10:17] nicolast0604 opened #9830 "PWM frequency testing and there is 6.75% error"
Is there anyone met the same problem with me for the PWM in opentitan?

clk_div | measured frequency | expected frequency
--         | --                               | --
0x8000 |     17.88                     | 19.07Hz
0x800   |     286                        | 305.03
0x80     | 4.543k                        | 4845
0x8       | 65.1k                          | 69444
0x0       | 586k

[2021-12-27 10:19] nicolast0604 opened #9831 "Is spi host 0 (directed) and spi host 1 (pinmux) have the same circuit/function?"
Hi
It seems that spi host0 is not completed yet and maybe due to the limit of FPGA.
Is spi host 1 compete in fucntion/register ?

Please confirm it.
Thanks a lot.

[2021-12-28 10:35] kosta-kojdic opened #9833 "[spi_device/passthrough] CMD_INFO slots 0-10 reset values"
CMD_INFO slots 0 to 10 are reserved for specific commands. If it is the case, why reset values (at least for opcodes) are not set to these command values instead of 0's ? Also, why are they writable?

As it stands now we can have illegal data written to these registers and provoke OnlyOneDatapath_A assertion error.

[2021-12-28 18:06] martin-lueker commented on #9759
Thanks @zi-v, "not being completely sure" seems par for the course for these decisions.   Which is all the more reason to put in software switching.

[2021-12-28 18:07] cindychip commented on #9831
CC: @tjaychen @msfschaffner

[2021-12-28 18:08] cindychip commented on #9830
CC: @tjaychen

[2021-12-28 18:41] weicaiyang commented on #9661
@nikola-miladinovic as I [replied earlier](https://github.com/lowRISC/opentitan/issues/9661#issuecomment-994084594), we already enabled all instances of DUT to test with xprop for VCS. VCS doesn't interpret this as a dead loop. It behaves more align with synthesis tools.

[2021-12-28 20:34] eunchan commented on #9833
That is due to the multireg feature not allowing arbitrary reset values per register. And the read commands may have different dummy size, and address requirements. So that's why those fields are configurable

Could you share me the waveform?

[2021-12-28 21:03] kosta-kojdic commented on #9833
#9834 PR - command:
./util/dvsim/dvsim.py hw/ip/spi_device/dv/spi_device_sim_cfg.hjson -i spi_device_pass_cmd_filtering --fixed-seed 3 --waves --xprop-off -v h --max-parallel 1

[2021-12-28 21:06] kosta-kojdic opened #9839 "[spi_device/passthrough] Passthrough mode additional explanations"
Couple of questions about passthrough mode:

1. Can you clarify the function of passthrough_i and passthrough_o signals? Do we need to drive data to passthrough_i input? What is the relation between them and sdi and sdo? Where we should expect data to go in passthrough mode?
2. In passthrough mode, when we have address bits coming from the input, do we receive LSB or MSB address bits first? If it

[2021-12-29 01:29] #9819 closed

[2021-12-29 11:46] nikola-miladinovic opened #9842 "[flash_ctrl] Data read directly by Host are different then Data read by SW controller"
Test for direct host reads has two parts, both initiating back to back reads. First part is with scramble disabled while second part is with scramble enabled. Second part of test is sometimes failing in small regression (i.e. for fixed seed 1 for VCS test is failing while for fixed seed 3552393510 for VCS test is passing). First read data by Host is matched with SW read data. Second data read by H

[2021-12-30 11:05] NigelScales opened #9847 "[lc_ctrl] Simultaneous mutex claim does not prioritize JTAG"
If a mutex claim is issued simultaneously from Tile Link and JTAG, JTAG is not prioritized.
In fact currently **both** are selected.
In the waves it can be seen that when simultaneous requests come then both claim_transition_if registers are set to 0x5a and both transition_regwen registers are set to 1.

To reproduce:
gh pr checkout 9846
./util/dvsim/dvsim.py hw/ip/lc_ctrl/dv/lc_ctrl_sim_cfg.hjson

[2021-12-30 14:11] NigelScales opened #9848 "[lc_ctrl] transition_regwen is not temporally set to 0 during transitions."
During the period between writing the transition_cmd register until the status register indicates completion, it's expected that transition_regwen should be 0 and writing to the transition specific registers should be disabled.
This doesn't appear to be the case.
Transition_regwen stays 1 throughout and writing is also enabled throughout.

To reproduce:
gh pr checkout 9846
./util/dvsim/dvsim.py hw

[2021-12-30 22:14] cindychip opened #9850 "[pinmux] sleep mode oe question"
Hi Michael,

I wanted to make sure if this is a typo or I missed something in the spec:
https://github.com/lowRISC/opentitan/blob/master/hw/ip/pinmux/rtl/pinmux.sv#L352
https://github.com/lowRISC/opentitan/blob/master/hw/ip/pinmux/rtl/pinmux.sv#L388

[code]

[code]
I thought mode 0 is drive low?

![image](https://user-images.githubusercontent.com/11466553/147792810-235afc7e-a260-4867-916d-43591cb6

[2022-01-02 22:48] martin-lueker commented on #9492
Thanks for opening this @tjaychen.  If we break this down fully we have three IPs that need to be configured (`entropy_src`, `csrng`, and `edn`), and for these three IP's there is are two portions to this issue (`ROM` and `ROM_EXT`).   I can start by enumerating these here, at least for the ROM. @mwbranstad, please confirm the following.

- `entropy_src`
    1. The following 16-bit register fields

[2022-01-02 22:53] martin-lueker opened #9853 "[entropy_src, security] Need to prevent generation of FIPS entropy before FIPS thresholds are set."
The `entropy_src` FSM has two modes of entropy "BOOT" and "FIPS".  The health checks for the two modes have different stringency requirements and are configured at different times in the boot process.
1. As indicated in #9492, the boot thresholds are meant to be very light, meant to catch very gross defects in the `entropy_src`.  These must be programmed in _OTP_ memory to allow for the creation o

[2022-01-03 14:40] mwbranstad commented on #9492
The list fields above look reasonable, except that we may not want to write the EXTHT thresholds since they are currently not used. Also, EDN0 will need to have the BOOT_REQ_MODE field set  (in ROM code). CSRNG will need to have SW_APP_ENABLE and READ_INT_STATE fields enabled in ROM_EXT in order to do KAT.

[2022-01-03 15:05] mwbranstad commented on #9853
Judging by the boot sequence in #9492, the case of FIPS entropy generated with "weak" thresholds can easily be avoided with the proper programming sequence. In the ROM phase, ES will be requested by EDN0 for a single seed, assume that only a single csrng gen command will be issued. Once the boot moves to ROM_EXT phase, then all blocks can be re-programmed, and ES will have strong thresholds set. T

[2022-01-03 17:36] Muqing-Liu opened #9856 "[entropy_src] No recov_alert_sts bit set for alert threshold"
There is no recov_alert_sts bit set for the case when alert_threshold_inv != ~alert_threshold.

[2022-01-03 20:49] rasmus-madsen commented on #9775
@martin-lueker @Muqing-Liu
could any of you take a look at this, it is blocking my PR for spi_host v1

[2022-01-03 21:08] martin-lueker commented on #9775
Hi Rasmus,
   Yes I was just getting to this today. -M

[2022-01-03 22:27] martin-lueker commented on #9398
Hi @nicolast0604,
  Can you please be more specific about the inconsistency you are seeing?

[2022-01-04 00:34] martin-lueker commented on #8920
Apologies for the delay folks, but #9858 should do the trick here.

[2022-01-04 04:26] matutem commented on #7127
Done a long time ago. Unfortunately I can't find the PR.

[2022-01-04 04:26] #7127 closed

[2022-01-04 11:24] msfschaffner commented on #9847
Thanks for reporting this, @NigelScales.
This does not look right - l made a fix for this in #9860.

[2022-01-04 11:25] msfschaffner commented on #9848
Thanks @NigelScales.
Looks like a simple 1 char bug ;) (default assignment is 1 instead of 0).
Fix is in #9860.

[2022-01-04 13:47] msfschaffner commented on #9850
Hey @cindychip,

In order to drive the output low, the corresponding pad driver needs to be enabled.
I.e., pad value needs to be 0, and output enable (OE) needs to be 1.

The lines that you have highlighted in the linked snippets do not represent the pad value, but the pad driver enable:
[code]

Does this answer your question or did I misunderstand it :)?

[2022-01-04 16:47] jadephilipoom opened #9865 "[sw,crypto] Add a CI check for default test vectors"
See https://github.com/lowRISC/opentitan/pull/9811#discussion_r778171126 for context.

In order to have a default set of test vectors for RSA that can be run without any additional steps, there's an autogenerated test vector file that's committed to the repository. We should have a CI check that re-generates (and `clang-format`s) the default tests from the underlying data and checks that everythin

[2022-01-04 17:20] cindychip commented on #9850
Oh I got it, yeah that makes sense, thanks Michael for clarifying!

[2022-01-04 17:20] #9850 closed

[2022-01-04 17:26] #761 closed

[2022-01-04 17:48] mwbranstad commented on #9707
@m-temp Has the logic state been propagated such that no change is needed for entropy_src register hook up?

[2022-01-04 17:53] eunchan commented on #9831
spi host 0 and 1 are identical (two instances from a design). Not sure the IP is ready for FPGA but as far as I can tell, the basic functionality works? Martin can comment more.

![image](https://user-images.githubusercontent.com/1192814/148102334-bdc3b6b6-4271-477a-8d5e-97994f5f6d6f.png)

[2022-01-04 17:55] #9847 closed

[2022-01-04 17:55] #9848 closed

[2022-01-04 17:57] eunchan commented on #9833
Looks like, the programmed opcode is not unique. The logic assumed the programmed opcode should be unique in each cmd slot.

By the way, after introducing the `valid` bit in CMD_INFO slot, I think the cmdparse should see the valid bit also. Let me quickly revise the design to check the validity.

Thanks!

[2022-01-04 18:57] martin-lueker commented on #9831
Hi @nicolast0604,
   Could you please elaborate what troubles you are seeing?  We've integrated SPI_HOST many months ago and @cfrantz has been able to use it to query SPI devices on the FPGA.    The latest bugs have only been minor technical gaps the IP and specification.

[2022-01-04 18:59] martin-lueker commented on #9830
Hi @nicolast0604, can you describe your measurement setup?

[2022-01-04 20:14] weicaiyang commented on #9546
Create a checklist to test passthrough integrity
- [ ] sram_ctrl #9871
- [ ] flash_ctrl
- [ ] rom_ctrl
- [ ] otbn

@rswarbrick @prajwalaputtappa @nikola-miladinovic please follow #9871 to create a integrity mem test to ensure that the integrity is stored in the memory and passed directly to CPU.

[2022-01-05 15:48] davidp135 commented on #9514
Hi, I have done a bit of digging and found that the issue isn't directly caused by the use of non clocking blocks. It is actually also to do with the use of packed structs for the tilelink signals.

In `tl_host_driver.sv`, `h2d_int` is of type `tlul_pkg::tl_h2d_t`. In reset the signals are set non clocking, and otherwise using clocking.

So at reset all of h2d_int is set at the same time, non cloc

[2022-01-05 20:45] weicaiyang commented on #9514
we need the valid signals to be known value right after reset. In top-level, we have multiple clock domain. If it's X after reset, it may cause X propagation.

It will be great if we can find a way that works for all the simulator. We basically need this clocking signal (valid) to be 0 right after reset, but reset is async and it is aligned with the clock.

[2022-01-05 21:48] cindychip opened #9890 "[pinmux] wkup detector mio pad selection"
Hi Michael,

I would like to clarify this code below:
https://github.com/lowRISC/opentitan/blob/master/hw/ip/pinmux/rtl/pinmux.sv#L408
From the code looks like we are directly assigning mio_in_i to wakeup detectors with index correspond 1:1.

From the documentation, looks like index 0 and 1 are reserved for value 0 and 1.
![image](https://user-images.githubusercontent.com/11466553/148294299-459f11

[2022-01-05 22:32] msfschaffner commented on #9890
Good catch, @cindychip.
The DIO and MIO indices are supposed to be aligned with the pinmux matrix - so this is a design bug.
Let me fix that.

[2022-01-05 22:43] msfschaffner commented on #9890
See #9892

[2022-01-06 01:19] eunchan commented on #9839
Sorry for late responses.

`passthrough_i` comes from the external flash device (downstream). SPI interface is inout interface. The SPI_DEVICE talks to pinmux unidirectionally. So the downstream interface consists of input/ output of same data line.

SPI Flash interface comes MSB first.

[2022-01-06 01:27] timothytrippel opened #9899 "[dif/alert_handler] DIF needs to be updated to match updated HW."
The alert_handler IP has changed since the DIF has last been implemented. There are several items that must be addressed to bring this DIF up to par with the HW. These are listed as tasks below:

- [ ] `dif_alert_handler_is_locked()` only checks if the ping timer CSRs are locked, and does not check either the (local) alert REGWENs are set or class assignment CSRs are locked, or the alert class REG

[2022-01-06 12:40] #9890 closed

[2022-01-06 13:29] msfschaffner opened #9905 "[pinmux/pwrmgr] Some clarification questions regarding sleep entry"
A few clarification questions that came up during a discussion with @cindychip in preparation for V1 (the implemented behavior is probably fine, we just want to double check).

1. The signal `sleep_en` input is connected to the `low_power_o` indication signal of the `pwrmgr`, which will be asserted whenever the system is in a sleep mode:
https://github.com/lowRISC/opentitan/blob/2eebef3247ac10bfa8

[2022-01-06 14:54] vogelpi commented on #9905
Regarding 2: I think this should be aligned with the pinmux wakeup detectors. For USB, there is a time limit for resume. It may take too much time for the system to both enter sleep and wakeup again in case the resume is signaled between usbdev is turned off and the system actually enters sleep mode. This will depend a lot on the software. I am also including @a-will who is working on USB.

[2022-01-06 14:57] vogelpi commented on #9905
Regarding 3: I think `wake_req_alw_o` can only be signaled by `usbdev` AFTER `low_power_o` from `pwrmgr` is seen.

[2022-01-06 18:35] weicaiyang commented on #9839
@eunchan

Kosta also asked the relationship between sdi/sdo and passthrough_i/o.
If I understand correctly, when a request is passthrough, we will observe sdi on passthrough_o and the returned data on passthrough_i will be received on sdo. Is it right? I guess there is no delay and no flip flop between sdi/sdo and passthrough_i/o, right?

Should we use Dual or Quad mode for passthrough? Or it also

[2022-01-06 18:43] eunchan commented on #9839
Right. They  are just the split signals of `inout` SD. Think about PAD input/output towards the digital logic.

Passthrough supports Single/Dual/ Quad SPI flash commands. For Dual/Quad, only output commands are supported not Dual IO/ Quad IO.

[2022-01-06 18:46] cindychip opened #9911 "[pinmux] Wkup counter"
Hi Michael,

Quick question on wkup high/low threshold counter - I know there is regwen to control wkup threshold register, but if the regwen is not locked, and if user changed the threshold on the fly, the counter might miss the wkup signal -

![image](https://user-images.githubusercontent.com/11466553/148434421-cefeb704-10ee-4be6-916d-9586ef2c4bdd.png)

The FPV run above shows if the threshold m

[2022-01-06 19:05] weicaiyang commented on #9839
Sorry, I don't understand this. Output commands are something like read command, which it has to be dual/quad mode, right? Non-output commands are like program/erase, and they don't have returned data, so these can be signal mode? Not sure if I understand it correctly?

[2022-01-06 19:23] eunchan commented on #9839
Right. Read command is mostly output command (the device returns data). But it can be IO command also. Dual/ Quad IO commands the host sends address field in two lanes or four lanes and receives the return data in two lanes or four lanes. The output commands the host sends the address field in SD[0] only.

[2022-01-06 19:56] weicaiyang commented on #9839
Got it. Thanks @eunchan

[2022-01-07 00:03] weicaiyang commented on #7177
We have tested both integrity for SRAM_CTRL.
1. sending request with integrity error on either cmd or data
2. hack data integrity in sram and read the memory location, the wrong integrity will be sent but no error/alert will be triggered.

I think we can close this issue now.

[2022-01-07 00:05] weicaiyang commented on #6726
Done, multi-ral has been implemented in #8701

[2022-01-07 00:05] #6726 closed

[2022-01-07 00:07] a-will commented on #9905
I agree. I think we ought to have the USB wakeup detector get enabled by software before entering sleep.

Ideally, we'd not gate the wakeup signaling (modulo a glitch filter), and if the time for power down is considerable, we'd try to abort before spending the bulk of it.

However, whether that's necessary depends on the maximum response time. The time to keep in mind is 30 ms: The end of resume

[2022-01-07 01:53] Muqing-Liu opened #9923 "[Entropy_src] FIFO write/read/state error description mismatch between the documentation and RTL"
The entropy_src fifo write/read/state error description in the ERR_CODE register documentation is not matched with the design, the write error should be from source bit 2, and read/state error should be from source bits 0 to 2.

[2022-01-07 10:52] doreis-lowrisc opened #9927 "[arch,aon] Create a set of target specific AON clock frequency constants"
The AON timer doesn't have a constant in `device.h` to hold the clock frequency.
Additionally it seems that the current frequency used for Verilator is the same as the rv_timer (125 kHz) rather than the specified in the documentation (200 kHz).

[2022-01-07 12:18] doreis-lowrisc commented on #9927
Tagging @silvestrst and @mundaym for visibility

[2022-01-07 13:29] msfschaffner commented on #7177
Yes indeed, let's close it.

[2022-01-07 13:29] #7177 closed

[2022-01-07 13:46] mundaym opened #9930 "[rom_ext] Use address translation to make ROM_EXT binary position independent"
Currently we generate two binaries for ROM_EXT, one statically linked for slot A and one statically linked for slot B. Ideally we would like to generate a single ROM_EXT binary that will work regardless of which position in flash it is placed in.

There are at least two approaches we could use for this:

1. Generate position independent code (PIC) for the ROM_EXT
2. Use the simple address translat

[2022-01-07 13:47] mundaym commented on #9930
cc @alphan @cfrantz @luismarques

[2022-01-07 13:53] m-temp commented on #9707
Yes, there shouldn't be any changes besides that there is now an additional error state for all invalid states of the sparse fsm. This additional state still fits into the 3 bit wide typedef and is at the last position of the enum. See the diff of the [relevant part](https://github.com/lowRISC/opentitan/pull/9394/files#diff-a230c6126922b02d762d7e9b1f590d8e5985305e70d6c18dd2bac2abe59e35ceL103-R180)

[2022-01-07 13:54] mwbranstad commented on #7140
After reviewing this issue again, I see three AIs:
1 - the comment on "lc_hw_debug_en" is true - the spec is wrong and needs updating. I will create a PR.
2 - update chip-level testplan for KAT test for ES and CSRNG. @martin-lueker are you doing this, or who?
3 - @zi-v comment is valid, and I believe is also addressed in issue #9637, so we can detach from this issue.

[2022-01-07 14:02] mwbranstad commented on #4179
At this point I think we can create new issues for specific changes. I think we can close this one.
@tjaychen does that sound ok?

[2022-01-07 14:08] rasmus-madsen opened #9932 "run_seq_with_rand_reset_vseq Generate unaligned register write"
when running the `spi_host_csr_mem_rw_with_rand_reset`
the sequence generate a write request to a register which is in fact a FIFO. the address is unaligned so the TLUL adapter flags an error in the response.

as can be seen in the wave below the TL UL address [1:0] is 2'b11
which triggers the unaling error check in the reg adapter.
is this expected behavior for this test? it looks like the regist

[2022-01-07 14:19] mwbranstad commented on #9707
ok thanks. I was hoping the logical version could be automated for general use, but not for the moment it seems.

[2022-01-07 14:49] rswarbrick commented on #9930
@GregAC: This probably ties in with system tests for `rv_core_ibex`: looks like a solution to this would also give a test for the address translation feature.

[2022-01-07 15:14] davidp135 commented on #9514
Sure ok, hopefully they will come back with something good. I have just had an email saying they are forwarding the issue to their SV expert.

I have a few other bits I am looking at now:

**Firstly `run_pass_patterns` in `common_sim_cfg.hjson `**

The log file output must be a slightly different format to the other tools, in that there is `# ` at the start of every line. For example
[code]
If I c

[2022-01-07 15:58] rswarbrick commented on #9514
For the run_pass_patterns / run_fail_patterns question: That sounds like a good idea to me. But I'd probably suggest generalising the fail patterns further to e.g. `"^.*UVM_ERROR\\s[^:].*$"` on general precautionary principles! You could always push those two changes up as a PR immediately: as you say, they shouldn't break anything and they are probably merge-able now.

[2022-01-07 16:29] msfschaffner commented on #9362
This RFC has been approved by the TC today.
Closing this issue since the checklists have been updated accordingly.

[2022-01-07 16:29] #9362 closed

[2022-01-07 17:02] matutem commented on #9905
My understanding is that any wakeup inputs to pwrmgr are only sensed during
sleep mode, more specifically, once the slow fsm has wound down to sleep
state. This also means the assertion of some wakeup prior to that state is
ignored.

Before getting too excited about changing this behavior, keep in mind the
slow fsm works on the aon clk, which runs with 5us period. This means 1 ms
is 200 ticks, whi

[2022-01-07 18:09] rswarbrick opened #9938 "[dv] Keys generated by the sideload interface are only 256b wide, but OTBN needs 384b"
The problem is that `key_sideload_item.sv` defines `key0` and `key1` like this:
[code]
where `keymgr_pkg.sv` has:
[code]

The easiest fix is probably to expand `key_sideload_item`'s keys out to 384 bits and then just take the lower bits for other users.

@prajwalaputtappa: Would you mind taking a look?

[2022-01-07 18:31] #9036 closed

[2022-01-07 18:46] sriyerg commented on #9514
I vaguely recall Questa having some kind of switch that disables prefixing all log lines with characters, but I could be wrong. Might be worth checking.

[2022-01-07 18:49] #9923 closed

[2022-01-07 18:51] weicaiyang commented on #8815
Let's review this in D2S meeting

[2022-01-07 18:51] #9856 closed

[2022-01-07 19:10] msfschaffner opened #9941 "[gpio] modify TB to account for 2 stage sync delay"
See #9826 for context.

[2022-01-07 21:13] matutem commented on #9012
The external clock changes were incorporated in the clkmgr_extclk some weeks ago in https://github.com/lowRISC/opentitan/pull/9413.

I am changing the clkmgr_smoke test to account for jitter_enable mubi type.

[2022-01-07 21:15] matutem commented on #8813
Fixed in https://github.com/lowRISC/opentitan/pull/9413.

[2022-01-07 21:15] #8813 closed

[2022-01-07 21:23] matutem commented on #8611
This issue is not descriptive enough. I think it should be clarified or closed.

[2022-01-07 21:35] matutem commented on #8610
Tim, I am trying to sort this out:
- If you are referring to turning peripherals off via clkmgr.clk_enables, then I think this is not an issue since the CPU and flash are still running, and will be trivial to test it in full chip tests that modify clkmgr.clk_enables.
- If you are instead referring to turning peripherals off via low power transitions, then wakeup needs to be correctly configured vi

[2022-01-07 21:49] matutem opened #9946 "[dv/clkmgr] Check cg_en_o outputs"
Check that these track the various clocks on/off status.

[2022-01-07 21:52] matutem opened #9947 "[dv/clkmgr] Add test for frequency measurement timeouts"
These will require "forcefully" stopping the clocks being measured, since stopping them normally disables the measurements.

[2022-01-07 23:03] weicaiyang commented on #9514
when reset occurs, tl_driver will immediately call finish_item(rsp) for all the request, so that these rsp will be put to the response queue. In the meanwhile, tl_seq will get the rsp from this queue. All of these happen at the same timestamp. Seems like in Questa, driver item put happens earlier than sequence item get, so the queue is overflow.

Can you try to remove this line or set it to `-1`?

[2022-01-08 01:08] weicaiyang commented on #9932
addr[1:0] = 2'b11 is actually allowed if it's memory and supports byte write.
In this case, size is 0 and mask is 'b1000. So it doesn't violate the TL protocol.

@martin-lueker last time, we tried to fix some memory issue in #8844, because we used tl_adapter_reg for memory instead of tl_adapter_sram. This is another case which is allowed for memory but it's prohibited in tl_adapter_reg.

not sure

[2022-01-08 19:57] cindychip opened #9953 "[pinmux] pad attribute table"
Hi Michael,

I would like to check if this table is up-to-date in terms of the sw access:
![image](https://user-images.githubusercontent.com/11466553/148657952-e7062b19-b74e-4e49-9295-bbb589d341ed.png)

From the prim_generic_pad_attr.sv: https://github.com/lowRISC/opentitan/blob/master/hw/ip/prim_generic/rtl/prim_generic_pad_attr.sv
looks like all the attr_warl_o will be 0 if the PadType is Analog

[2022-01-10 08:41] nicolast0604 commented on #9830
[PWM.zip](https://github.com/lowRISC/opentitan/files/7837600/PWM.zip)

This is the testing program for your reference.

[2022-01-10 10:05] doreis-lowrisc commented on #9930
@rswarbrick do you have suggestions to approach this task in order to also address the test?
I'm thinking of writing a function with address independent assembly and copying it to two different memory locations, then I would configure the Simple Address Translation and call both functions expecting them to return correctly.

[2022-01-10 11:00] rasmus-madsen commented on #9932
@weicaiyang I think this is the wrong way to go - to hack the RTL to make a test pass
we should fix the test.

if not I suggest just excluding the register in the test rather than hacking the code

[2022-01-10 11:15] davidp135 commented on #9514
**1**
I can't find a switch for questa unfortunately. Il like the idea of the more generic run/fail patterns. Unfortunately `"^.*UVM_ERROR\\s[^:].*$"` will see the final output report as an error:
[code]
I can't think of another way, unless there is a way of checking that ` reports   :    0` doesn't exist at the end of the string?

**2**
Thanks @welcalyang, removing `set_response_queue_depth(cfg.m

[2022-01-10 11:41] rswarbrick commented on #9514
Ah! Good point about the run/fail patterns. Boo :-)

About the response queue: I don't see any reason not to make it unbounded.

[2022-01-10 12:49] kosta-kojdic commented on #9833
@eunchan any updates on this issue? Did you make some design revisions?

[2022-01-10 15:16] patel-madhuri opened #9963 "[SYSRST_CTRL] ulp_status register is not updated when pwrb_det_pulse is detected"
The ulp_status register reads value 0 even when the pwrb_det_pulse is detected. The ulpfsm is at DONE_ST state. the pulse is detected when the bus clk is disable and I am reading the register after enabling the bus clock.

The command to run the test and re-generate the issue is
./util/dvsim/dvsim.py hw/ip/sysrst_ctrl/dv/sysrst_ctrl_sim_cfg.hjson -i sysrst_ctrl_ultra_low_pwr --waves --tool xcelium

[2022-01-10 15:22] patel-madhuri commented on #9963
@msfschaffner Could you please have a look at this issue?

[2022-01-10 16:20] eunchan commented on #9833
The pending PR addresses the valid bit issue. But firstly please make sure you programmed the cmd_info slot correctly.

[2022-01-10 16:26] kosta-kojdic commented on #9833
By programming CMD info slot correctly, do you mean programming all fixed slots (the ones before the slot I programmed) with proper values?

[2022-01-10 16:37] eunchan commented on #9833
Yes. Do not  program the same opcode value into two slots. Then the assertion won't fire.

[2022-01-10 16:38] kosta-kojdic commented on #9833
OK, so if we keep reset values for some slots, even if these slots are not enabled, assertion will fire?

[2022-01-10 16:48] a-will commented on #1403
Just piling on from more recent discussions.

- [ ] Disable pull-up when `vbus_detect` is low. (from https://github.com/lowRISC/opentitan/issues/7951#issuecomment-990896477)
- [ ] Document what firmware must do to implement suspend correctly w/ deep sleep.
- [ ] Review the test plan. Remove references to low-speed mode, which usbdev does not support.

[2022-01-10 17:11] martin-lueker commented on #9830
Hi @nicolast0604,
  Great thanks!  I'm presuming you ran this from within the OpenTitan test framework. Could you please send some explicit instructions how to reproduce the test?  Having the code is great, but's only part of the process.  You can take a look at this [issue description, particularly the part that the bottom where it says "to reproduce this issue"](https://github.com/lowRISC/openti

[2022-01-10 17:21] vogelpi commented on #9195
Hi @nicolast0604 ,
for OpenTitan we currently don't connect to the CW310 using the Vivado Hardware Manager and thus don't support this. The way to interface the FPGA on the CW310 is through the onboard SAM3X MCU using the `chipwhisperer` Python API. How you can load e.g. a bitstream using this infrastructure is outlined in our FPGA reference manual here: https://docs.opentitan.org/doc/rm/ref_manua

[2022-01-10 17:21] #9195 closed

[2022-01-10 17:26] vogelpi commented on #9165
I've never seen this problem. Does it still persist @nicolast0604 ? If not, can you please close the issue? Thanks!

[2022-01-10 17:55] vogelpi commented on #8705
Hi @nicolast0604 ,
it's not fully clear to me what you mean by "connect SPI to PMOD C". IIRC, OpenTitan EarlGrey has two SPI hosts and one SPI device. One host and the device are directly connected to IOs. The other host goes through the pinmux (an other issue related to setting up the pinmux is here: #8797). If you want to re-route the directly connected modules to PMOD C you can just change the

[2022-01-10 17:55] #8705 closed

[2022-01-10 18:01] vogelpi commented on #8797
Hi @nicolast0604 ,
is this still an issue?

Regarding the configuration of the pinmux for I2C, I recommend having a look at `pinmux_init()` in `sw/device/lib/pinmux.c`. This function configures the pinmux for the GPIOs as well as UART0 and UART1. This should help you to do the same for I2C.

[2022-01-10 18:14] #9792 closed

[2022-01-10 18:23] tjaychen commented on #9905
the usb wakeup behavior needs to be activated by software as well.
Please see [here](https://github.com/lowRISC/opentitan/blob/master/hw/top_earlgrey/rtl/autogen/top_earlgrey.sv#L1886). In theory, without software activating this, the usb fsm should not start.

the pwrmgr has a point of no return when software requests low power entry.  So if a wakeup asserts, there are fall through and immediate

[2022-01-10 18:29] matutem commented on #9164
I think the current behavior is okay. Closing this issue.

[2022-01-10 18:29] #9164 closed

[2022-01-10 18:38] matutem commented on #9227
Assigned myself to track the outcome of this.

[2022-01-10 18:43] matutem commented on #7942
I just checked the minimum wait is still 1 cycle:
   localparam int MIN_PDN_WAIT_CYCLES = 1;
If this is still failing we should set this localparam to 0, per this discussion.

[2022-01-10 18:52] tjaychen commented on #8610
yes that sounds good. Just to clarify, i was specifically referring to the first bullet point.
Ie to make sure the design did not accidentally place an infrastructural component (ie bus, memory) into peripheral category.
Thus making a peripheral "off" kind of like a suicide option.

[2022-01-10 18:52] tjaychen commented on #8611
so this was a bug to remind myself to add buffers (if needed) to anchor signals for the backend.

[2022-01-10 18:53] tjaychen commented on #9012
thanks @matutem

[2022-01-10 18:54] tjaychen commented on #5512
let me double check.
I did actually look at this again once when this issue was created, but i completely forgot what my conclusion was. (you are probably right that we should remove the comment).

[2022-01-10 18:55] tjaychen commented on #9464
i'm not too sure of the dv status now, but i would prefer not to change this if DV has progressed far enough already.
We could for now make it clear in the programmer's model that these should always be done at the same time and thus allow us to waive some potential coverage?

[2022-01-10 19:01] matutem commented on #7215
For the record: entering low power is triggered by the low_power_hint field in the pwrmgr CONTROL CSR. On the other hand, if rv_dm is active and the processor is running code that enters low power mode the debug session will seem to freeze until something wakes up the processor.

If the software team thinks this is undesirable we could add an extra input from rv_dm to the logic that enables low po

[2022-01-10 19:03] msfschaffner commented on #2126
This issue has been fixed upstream, hence we can close it.

[2022-01-10 19:03] #2126 closed

[2022-01-10 19:11] msfschaffner commented on #9464
Indeed, I would also prefer not touching the CSR interface anymore.

Just noting that a key request always incurs some latency due to EDN and OTP involvement.
Hence, being able to trigger these mechanisms individually may be useful if we ever have a case where the INIT / wiping should start right away.

[2022-01-10 19:12] msfschaffner commented on #9911
Good catch @cindychip!
Yes indeed, let's change this to `>=`.

[2022-01-10 19:17] matutem opened #9969 "[rtl/clkmgr] Tighten measurement timeout"
I created a test that turns off measured clocks to verify the timeout functionality. I found the clock can be off for a couple of AON cycles and no timeout will be generated, even though `ref_en` is active. In contrast, a regular measurement asserts `valid` almost concurrently with the assertion of `ref_en`.

I think this weakens the timeout mechanism, allowing the clock to be shut down for enough

[2022-01-10 19:18] msfschaffner commented on #9953
Thanks for double-checking @cindychip.
Indeed, the analog pads have been added later.
We should indicate that all of these are actually WARL indeed.

As for JTAG, this tying to 0 is done in the muxing logic and does not affect the padctrl registers here.
But we can add a sentence describing this special case.

[2022-01-10 19:20] tjaychen commented on #9969
sounds good.  If i understand correctly, you're saying there are scenarios where the clock is not there but timeout is not asserted?

[2022-01-10 19:24] cindychip commented on #9953
Thanks Michael!
One small thing if you can fix it together with the doc update:
![image](https://user-images.githubusercontent.com/11466553/148826419-3a29f054-242e-4e7c-a2ba-7ac97e7fe361.png)
Looks like we call it `pin_wkup_req_o` in pinmux.sv

[2022-01-10 19:25] weicaiyang commented on #9932
The hacking is just to experiment a design fix. Adding a parameter to disable the word-align check may also work
@martin-lueker can you take a look and see if we can fix it?

[2022-01-10 19:26] msfschaffner commented on #9953
Ah yes, this has gotten out of date as well.

[2022-01-10 19:26] weicaiyang commented on #9514
Agree with @rswarbrick. @davidp135 can you push a PR to make these changes? Thanks

[2022-01-10 19:34] timothytrippel opened #9971 "[sw/dif] Add `EXPECT_DIF_OK()` to DIF unit testing API."
As requested in #9948 by @mcy, adding an `EXPECT_DIF_OK()` function should cleanup the DIF unit tests a bit now that we have a unified error code space for the DIFs.

[2022-01-10 19:47] matutem commented on #9969
Correct. It seems the logic allows for too much time before it detects a timeout.

[2022-01-10 19:48] matutem commented on #9969
By the way, the code changes that triggers this behavior are in the ot_launch session that failed to send back a patch. I hope to retrieve it.

[2022-01-10 19:54] msfschaffner opened #9972 "[usbdev] Make sure wakeup and resume time is within spec"
We should assess whether the wakeup and resume timing is within the USB spec.
This will probably have to be a chip-level test, since it depends on a variety of system properties and not only on the `usbdev` alone.

This bug is to make sure we don't forget provisioning such a test in our testplans (it might already be there, in which case we can resolve this issue).

See also #9905 for reference.

[2022-01-10 19:58] msfschaffner commented on #9905
Thanks for the feedback!

Ah ok, got it thanks!
I think I misread the `sleep_en_i` connection mentioned in 2. above.
Specifically, it appears that this is not the actual enable for the USB wakeup, but rather an indication needed by the wakeup detector FSM to detect wakeup situations where the wakeup detector has been enabled, but the system has not entered sleep just yet.

This all makes sense, th

[2022-01-10 21:07] #5512 closed

[2022-01-10 21:18] matutem commented on #9969
It seems a timeout could be declared not much later than `valid` would be asserted.

[2022-01-10 21:21] eunchan commented on #9833
Yes, in the current design. After PR #9875 is merged, it won't.

[2022-01-10 21:21] cindychip opened #9973 "[pinmux/fpv] close source attributes"
As michael pointed out in this PR: https://github.com/lowRISC/opentitan/pull/9954
Close source will have a different pad attribute mask.

[2022-01-10 21:27] sriyerg commented on #9514
The pass / fail patterns are set less generically precisely due to the issue you are seeing. If we make it generic, we may end up with more unforeseen issues down the road. I just realized that it was Aldec Riviera simulator that had the same problem (it would prefix `KERNEL` in front of all log lines which interfered with the pass / fail pattern detection). The Aldec Riviera AE made the following

[2022-01-10 23:06] tjaychen commented on #4179
yep agreed.

[2022-01-10 23:06] #4179 closed

[2022-01-10 23:11] tjaychen commented on #9637
a bit late here. But i'm fine with this. I think we should keep the regwen in case in some use case it becomes useful.
For the cases we are discussing here, we will most lkely use it as a functional reset as you say.

[2022-01-10 23:20] tjaychen commented on #9546
just to clarify, `flash_ctrl` does not completely fall into this category. Because flash does not have enough space to store a plain text integrity. So that one is indeed generated on the fly.  However for flash, we need to check this mechanism still with the truncated integrity.

[2022-01-10 23:21] tjaychen commented on #9831
@nicolast0604 please clarify what issues you are seeing, maybe we missed something on our end.

[2022-01-10 23:23] tjaychen commented on #9842
sounds good, I will take a look.

[2022-01-10 23:24] tjaychen commented on #9759
@martin-lueker do you think this is something we need a quick meeting to finalize?

[2022-01-10 23:26] martin-lueker commented on #9759
It wouldn't hurt.  @mwbranstad and I are prepared to put in the software swtich, however if anyone has any objections it would be good to hear them.

[2022-01-10 23:27] tjaychen commented on #9661
coming back to this a bit late, but i will update per the suggestions and make it clearer in the code what was the problem we encountered.

[2022-01-10 23:28] tjaychen commented on #8983
i can't completely remember what i had in mind now...but i think i was really going to just use secure anchor buffers so that they can be identified and thus buried. What do you think?

[2022-01-10 23:30] tjaychen commented on #9541
yeah agreed. We are really close to feature complete, so i think after that we can start creating these check items.

[2022-01-10 23:31] tjaychen commented on #9759
o if you guys are okay with the software switch already, let's go with that.
No need to have more meetings.

[2022-01-11 00:51] tjaychen commented on #9492
thanks all!
@alphan @moidx we will probably want to provision fields for this in the OTP

[2022-01-11 01:23] msfschaffner commented on #9963
Hi @patel-madhuri, I took a look at the waves. The RTL seems to behave correctly. The problem we're seeing here is due to the fact that the TL-UL read transaction is issued at the same time as the bus clock. Hence, the status values have not had any time to propagate through the synchronizer to the bus clock domain and we are reading 0 therefore. I suggest to wait a couple of cycles (at least 2-3)

[2022-01-11 01:25] tjaychen commented on #9963
yes i think that's generally true. But just in case software needs to poll for any reason, is this something they could reasonably just keep reading until they get the right data?

[2022-01-11 01:48] weicaiyang commented on #9546
Thanks for the clarification. looks like we need to override the sequence a bit more in order to test flash_ctrl for this passthrough integrity

[2022-01-11 04:50] #9953 closed

[2022-01-11 10:27] ghost opened #9984 "[sw/ottf] Add timing API to the test framework"
The test `sw/device/tests/aon_timer_wakeup_irq_test.c` is using rv_timer to compute timing, however it may conflict with the FreeRTOS when`configUSE_PREEMPTION==1` since it also uses the rv_timer.
To prevent conflict in case the aon timer test need to be executed with preemption:

- An timing API shall be created by the Test framework (reference API in `sw/device/lib/runtime/ibex.h`);
- Refactor `

[2022-01-11 10:28] doreis-lowrisc commented on #9984
Tagging @silvestrst , @mundaym,@sriyerg and @timothytrippel for visibility.

[2022-01-11 10:35] rswarbrick opened #9985 "[doc] We don't document what the magic countermeasure names mean"
We've got a list of `CM_ASSETS` and `CM_TYPES` in `countermeasures.py` but we don't have a description of what they mean in any openly visible document. We probably should!

[2022-01-11 10:35] rswarbrick commented on #9985
@msfschaffner for visibility, but you don't necessarily have to be the person to do it! (Also, I wouldn't bother with anything automatic: we can just type out a table manually somewhere and leave a note at the top of the Python code to keep the two in sync)

[2022-01-11 12:34] vogelpi commented on #9985
I agree that we should do that after the D2S reviews, i.e., when the list of assets and types have stabilized. Right now the descriptions are in a Google doc.

[2022-01-11 12:41] vogelpi commented on #9972
Thanks for opening the issue. We have an item in the testplan to check the wakeup and resume feature but it doesn't state to measure the timing.

[2022-01-11 15:36] GregAC commented on #9911
Reopening this as I reverted the fix to unbreak CI (https://github.com/lowRISC/opentitan/pull/9986). We'll need to determine why fixing this breaks the CW310 build and address that before we can merge the fix again.

[2022-01-11 16:21] rswarbrick commented on #9985
Understood, but at the moment we're adding random words to the list in the Python file, which is kind of hard to review :-) I don't see any strong reason not to decide on what we mean now!

[2022-01-11 17:44] msfschaffner commented on #9972
Ok, thanks for checking. Can you copy paste the name of the item here?
@kosta-kojdic can we update that item accordingly?

[2022-01-11 17:49] msfschaffner commented on #9911
Thanks for letting us know, @GregAC.
It is a bit surprising to me that a simple comparison operator `==` -> `>=` in a feature that we do not use at the moment can actually break CI...
What were the symptoms exactly?

[2022-01-11 18:40] msfschaffner commented on #9271
We've discussed this in the silicon meeting, and we're generally fine with the trending opinion above.
To add some more detail:
- we're going to use the countermeasure list in the IP Hjson as the reference to do a gap analysis and determine whether additional tests have to be developed as part of V2S. example for such a list:
https://github.com/lowRISC/opentitan/blob/ad632a0c8b5586b310773f0bceff2c

[2022-01-11 18:41] tjaychen commented on #9972
it should be this one `chip_sw_usb_suspend`.
The test does not explicitly point out the suspend timing, it describes more the internal mechanism.

We should add a line to indicate this needs to be spec compliant during testing.

[2022-01-11 18:44] msfschaffner commented on #9271
@sriyerg do you have anything to add? Should we close this issue or keep it around?

[2022-01-11 18:46] tjaychen commented on #9905
yeah number 1 should be okay. Since both cases are a low power mode.
Although we should revisit this if we find any corner case that breaks under this assumption.

[2022-01-11 18:46] tjaychen commented on #9729
@alphan can we close this issue now? or is there anything open we have not answered?

[2022-01-11 18:53] cdgori commented on #9661
For whatever it is worth, this has been a major divergence point between VCS and $(Cadence sim) for many many years (10+ at least), because I have encountered this exact problem in the past (two interlocked always statements each using the set-output-to-default-at-the-top-of-the-block idiom).  VCS either recognizes this construction or does some kind of loop-squashing here.

I also agree with Tim

[2022-01-11 18:58] msfschaffner commented on #9905
Ok good, thanks @tjaychen.

I'll made a minor modification in the pinmux docs to reflect this (basically referring to `sleep` only instead of `deep sleep`): #9998

[2022-01-11 19:10] cdgori commented on #9637
Also coming to this late, sorry.

The typical security issue that comes to mind immediately is if somehow the entropy_src could be disabled but the rest of the EDN can be fooled into thinking it's capturing valid entropy (but in reality it's sampling all zeros).  The health checks should be failing like crazy at that point, for one, and there ought to be some other interlocks on not sampling a dis

[2022-01-11 20:33] rasmus-madsen opened #9999 "pwm specification should comment on the supported range of clocks"
The PWM specification should comment on what range of clocks are supported.
it should also comment on the relationship between TL <-> core clock.

this is needed to know what range the clocks should be used to verify the CDC

[2022-01-11 20:36] tjaychen commented on #9637
@cdgori so the way i view the enable... is that in a stricter system... should the entropy_src ever fail, we are just going to say "reboot, something terrible has happened".

In a more permissive system, (this is probably the point @zi-v was trying to raise), we will probably allow the software to recover without taking the whole system down.  I think @mwbranstad designed the enable with the inten

[2022-01-11 21:05] timothytrippel opened #10005 "[fpga] Improving Access to OpenTitan CW310 Bitstreams"
# Problem
Currently, only the CW310 board (with the Xilinx Kintex 7 XC7K410T FPGA) can fit the full OpenTitan Earlgrey toplevel design. [Building this bitstream](https://docs.opentitan.org/doc/ug/getting_started_fpga/) requires a Vivado installation _and_ license.[^1] This creates a usability barrier for project developers.

# Goal
Provide a solution to developers that allows them to run a script

[2022-01-11 21:42] alphan opened #10006 "Improve SHUTDOWN_CHECK()"
#10007 adds a fairly simple implementation for `SHUTDOWN_CHECK()` that will be used for implementing redundant checks. @mcy told me that he has an idea for hardening it further. Creating this issue to track this.

[2022-01-11 21:51] mundaym commented on #5653
@alphan I don't think this is a critical feature. We can enable MML in the ROM_EXT if we want to. I suggest we remove this from the milestone.

[2022-01-11 22:05] alistair23 commented on #5653
Tock enables MML when it starts up

[2022-01-11 22:28] msfschaffner commented on #8983
Indeed, I think we settled on burying these nets.
There was this other idea with muxes that I believe we have abandoned (for now).

[2022-01-11 22:43] rasmus-madsen commented on #9830
Hi @nicolast0604
I am trying to recreate your findings but I am not seeing the same issue as you see.

the easiest is to talk in clock vs frequency as the numbers will match no matter what frequency.

I did some simulations and my findings are that the output matches what I expect.
here are a few of my simulation results:

Clkdiv of 0, duty-cycle 1, resolution 15 - we would expect a pulse every 2^

[2022-01-11 23:06] #9842 closed

[2022-01-11 23:45] eunchan opened #10008 "[spi_device] HW to not cross the mailbox space"
- [ ] Check design if the HW does not cross the mailbox space in a transaction.

Reported in #9974

[2022-01-11 23:51] eunchan opened #10009 "[spi_device] Read Status, Read JEDEC ID, Read SFDP to have fixed value (read-only) in CMD_INFO"
As same as `EN4B` / `EX4B` , Read Status (1,2,3) , Read JEDEC ID, Read SFDP commands have fixe values in their command information entries. It is better to split out those entries into new CSRs like `CMD_INFO_EN4B` and only *valid* and *opcode* to be modifiable by SW.

Related #9974

[2022-01-12 00:13] #9905 closed

[2022-01-12 00:14] tjaychen commented on #9729
i'll close this for now, but let me know if there's anything pending and we can re-open.

[2022-01-12 00:14] #9729 closed

[2022-01-12 00:15] tjaychen commented on #9507
@Jacob-Levy i'm guessing this is fixed with your recent PR (if not already).
Could you have a look and close?

[2022-01-12 00:16] tjaychen commented on #9340
@arunthomas @moidx could you guys bring this up in a software forum and see if it's important to fix?

[2022-01-12 02:06] sriyerg commented on #9842
RTL bug, right?

[2022-01-12 02:23] tjaychen commented on #9842
yep! see #10001

[2022-01-12 02:40] msfschaffner commented on #9985
Documenting this sounds good to me.
This could go into the comportability spec here:
https://github.com/lowRISC/opentitan/blob/master/doc/rm/comportability_specification/index.md#alert-hardware-implementation

[2022-01-12 02:56] msfschaffner commented on #9911
Interesting... I rebuilt the CW310 locally and did not run into timing issues.

The fix is reapplied in this draft PR: #10012
Will not merge it back in just yet since we may want to do some more analysis.
@GregAC could you rebuild this PR on your side as well in order to double check?

[2022-01-12 07:33] Jacob-Levy commented on #9507
@arnonsha
The AST changes I plan to PR in stages include the to this issue.
The Ast PRs will include the following:
1  First PRs  to allign the AST I/F changes
2.  Second for Lint/Synt for OS.
3.  Third, New Regukators OS code (vcmain_pok)
4.  Last Misc changes

[2022-01-12 08:49] zi-v commented on #9637
Note that due to 90B's 'Continuous health tests' requirement, every time we stop the clock (e.g. as in sleep state) or the continuous health tests from any other reason, we essentially need to run 90B's 'Start-up health tests' in order to regain 'fips' level entropy generation capability. Is it possible to do that if the 'enable' bit is locked?

@cdgori a large portion of a module consumption come

[2022-01-12 10:26] kosta-kojdic commented on #9972
@msfschaffner Can you point me to the test plan you are referring to? For usbdev I am not aware of existing extensive testplan in OpenTitan hjson format.

[2022-01-12 13:51] davidp135 commented on #9514
Good news, I have found a command to remove the "# " from the start of log file lines in Questa. So the current run and fail patterns should now work.

Sure, Il set up a PR for the response queue.

I have just heard back from Siemens about the clocking + non-clocking issue. They are asking if it would be possible to always set all signals in the struct at the same time rather than individually at

[2022-01-12 15:17] mwbranstad commented on #9637
The real point of this issue to allow more options for the system (SW) to control this module.
@cdgori Tim's explanation above is what I envision as well. Turning the enable off after running for awhile allows the state of ES to "start over" when re-enabled. However, it is not a complete reset since it does not reset the register values. The original idea was that boot runs, enable is set. After b

[2022-01-12 15:48] martin-lueker commented on #9637
@zi-v: to clarify on Mark's point: setting enable will always go through the full 90B start sequence (and optionally add our boot sequence as well)

[2022-01-12 16:12] alphan opened #10022 "Update flash_ctrl.EXEC value for unlocking execution"
Hi @tjaychen, this is related to the signature verification hardening idea that I mentioned earlier. Could you please update the value that unlocks execution to `0xa26a38f7`?

It looks like three lines of source code will also need to be updated:
* [sw/device/lib/flash_ctrl.c](https://github.com/lowRISC/opentitan/blob/ee1634b6b26f59b40e35e5c6e310c783b267db5e/sw/device/lib/flash_ctrl.c#L300)
* [sw/

[2022-01-12 17:43] rswarbrick commented on #4793
Done with https://github.com/lowRISC/opentitan/pull/9903.

[2022-01-12 17:43] #4793 closed

[2022-01-12 17:44] #9927 closed

[2022-01-12 17:47] rswarbrick commented on #8991
Oops! We missed this one. Done in #9709.

[2022-01-12 17:47] #8991 closed

[2022-01-12 17:47] #6168 closed

[2022-01-12 17:49] rswarbrick commented on #9401
Done in #9709.

[2022-01-12 17:49] #9401 closed

[2022-01-12 17:49] #7279 closed

[2022-01-12 18:21] tjaychen opened #10028 "[dv, top] sram backdoor loading"
After removing sram init from the test_rom, the sram was backdoor loaded directly with initial values.
Unfortunately, the backdoor routine uses a direct `randomize_mem()` without taking into account sram scrambling, which is always active (even if a key / nonce was not requested).

In some software tests, there appear to be loads from such memory locations, and that causes an integrity check failu

[2022-01-12 18:21] tjaychen commented on #10028
@weicaiyang
@sriyerg
@cindychip
@matutem

[2022-01-12 18:36] #9787 closed

[2022-01-12 19:02] matutem commented on #7942
My miss: this was fixed by https://github.com/lowRISC/opentitan/pull/7943.

[2022-01-12 19:02] #7942 closed

[2022-01-12 19:16] msfschaffner commented on #9972
I believe this one is a chip-level integration test: https://docs.opentitan.org/hw/top_earlgrey/doc/dv/

[2022-01-12 19:31] msfschaffner commented on #9963
We probably can, if needed, since we're expecting the ULP status register to be set to 1 after getting a wakeup request from `sysrst_ctrl`.

[2022-01-12 19:32] cdgori commented on #9637
@mwbranstad thanks for clarifying the "reset" - it's more like "restart the FSM" (trying to find the right phrase, but I think you understand).  I think all is good and you should keep the current REGWEN but split out this enable to be under a separate REGWEN to allow this functionality (and the re-running of 90B on resume from sleep, which is a must).

@zi-v also understood about the clock power

[2022-01-12 20:10] rswarbrick commented on #10028
In case it helps, `rom_ctrl` has a similar problem. There, we cheat and randomise things word-by-word. See `rom_ctrl_mem_init` in `rom_ctrl_base_vseq.sv`.

[2022-01-12 20:11] tjaychen commented on #9963
sounds good.

[2022-01-12 20:17] tjaychen commented on #10028
thanks for the pointer! i did something almost identical.

[2022-01-12 20:34] cdgori commented on #8287
Sorry for massively delayed follow-up @GregAC, I am digging out of a deep email hole.

I can see that #9219 deals with ERR_BITS, presumably there was another change that made INSN_CNT write-any-value-to-clear as described here?

(I'm just trying to make sure there's no dangling loose end here.)

[2022-01-12 21:18] msfschaffner opened #10032 "[edn] update comment"
It looks like there is a copy-paste error or something in this comment.
Can this be corrected?
https://github.com/lowRISC/opentitan/blob/99cbf0c060642c0389dbf1710c9cc98673f1db86/hw/ip/edn/rtl/edn_core.sv#L660-L663
Specifically, I do not fully understand what `a counter meansure to entropy bus tampering` should mean.

[2022-01-12 21:18] mwbranstad commented on #9707
since #9394 got merged and there aren't any lint issues, I am closing now. Re-open if issues are seen elsewhere.

[2022-01-12 21:18] #9707 closed

[2022-01-12 21:21] weicaiyang commented on #9514
right, they follows the TLUL protocol and these signals won't always change at the same time.

[2022-01-12 21:39] mwbranstad commented on #10032
yep, needs to be changed.

[2022-01-12 21:45] zi-v commented on #9637
Thanks all. It sounds that we are fine if we don't lock the enable. What's the use case for locking the enable? If we do, does it mean that we must keep clock & health test running constantly from one boot to the next (or until health test eventually fails)?

[2022-01-12 21:47] alphan commented on #10022
@tjaychen, not sure if you've already seen this but can you wait a little bit before creating a PR for this? I think we want to update the value. I will update the description and add a new comment when we have it. Thanks!

[2022-01-12 21:53] tjaychen commented on #10022
@alphan right now the value is still `Mubi`, so just let me know when you've settled on something and we can update as needed.

[2022-01-12 21:56] mwbranstad commented on #9637
That scenario sounds correct. So for some usages the enable should never be locked. For some usages in the future, it may be deemed that it should be locked, at least that is the idea of a separate lock.

[2022-01-12 21:58] alphan commented on #10022
Thanks @tjaychen, just to confirm, we can use any 32-bit value, right?

[2022-01-12 22:11] msfschaffner commented on #9911
Thanks @a-will and @GregAC for helping with this issue.
This should now be resolved (otherwise we re-open again ;)).

[2022-01-12 22:11] #9911 closed

[2022-01-12 22:29] tjaychen commented on #10022
yes. just to confirm, is there any reason this value needs to be hidden from open source? my understanding is that it does not need to be right?

[2022-01-12 22:30] tjaychen commented on #9637
yeah i think there may be very restrictive usage in the future (beyond what we have planned now).

[2022-01-12 23:07] alphan commented on #10022
No, there is no reason to hide it. It would also be nice to have it as a
define in the generated flash_ctrl_regs.h if possible (for tests mostly).
Thanks @tjaychen!

On Wed, Jan 12, 2022, 17:30 tjaychen ***@***.***> wrote:

[2022-01-12 23:11] tjaychen commented on #10022
yeah we can do that.
Let me get some of the prep work ready for this and then we can make the
change whenever you're ready.

On Wed, Jan 12, 2022 at 3:07 PM Alphan Ulusoy ***@***.***>
wrote:

[2022-01-12 23:19] msfschaffner commented on #8815
Tim, should we just check ECC on all SRAM reads in this case (like we do on incoming TL-UL transactions)?
I.e., if we are adding this logic anyway, we might as let all read transactions benefir from it...

[2022-01-12 23:35] #9985 closed

[2022-01-12 23:37] tjaychen commented on #8815
o sorry, this is due to lack of a tagging scheme.
This is meant to be "future" improvement. I'm not too concerned about weaknesses in the byte case because we already KNOW it is weaker than a full word write / read.

[2022-01-12 23:46] #10028 closed

[2022-01-13 00:00] msfschaffner commented on #8815
Ah got it, thanks for the clarification!

FYI @moidx @cfrantz

[2022-01-13 00:05] tjaychen opened #10035 "[dv, flash_ctrl] Test instruction fetch into flash_ctrl"
This was missed during the flash test plan.

The flash has a feature where instruction execution can be [explicitly disabled / enabled](https://docs.opentitan.org/hw/ip/flash_ctrl/doc/index.html#Reg_exec).  This function is enabled / disabled by software, and can also be turned off as part of the escalation process.

We need to make sure to test this as ROM's secure boot / alert handling process i

[2022-01-13 00:05] tjaychen commented on #10035
@weicaiyang
@sriyerg
@cindychip
@matutem
@alphan

[2022-01-13 01:18] #7418 closed

[2022-01-13 01:18] #6365 closed

[2022-01-13 01:20] eunchan opened #10037 "[spi_device] Add an event for unexpected host behavior"
## Host jumps the read address

The SPI_DEVICE assumes the host reads the address relatively sequentially. If not, (read next 1kB then roll back to previous 1kB), it is worth to notify SW to handle the scenario.

[2022-01-13 01:23] eunchan opened #10038 "[spi_device] Recoverable last_read_addr"
## Last read Address

The last_read_address is for SW to check which address the host system accessed. It is reset when the IP is in reset. Considering the power down and up scenario, it is better to be recoverable by SW (writable).

[2022-01-13 02:13] nicolast0604 commented on #9830
Hi
Great thanks for your quick and detail response.
My PWM configurations is as below. and my testing procedure is in the word file.

[PWM testing procedure  en-US.docx](https://github.com/lowRISC/opentitan/files/7859286/PWM.testing.procedure.en-US.docx)

#ifndef _PWM_REG_DEFS_
#define _PWM_REG_DEFS_

#ifdef __cplusplus
extern "C" {
#endif
// Register width
#define PWM_PWM_PARAM_REG_WIDTH					32

[2022-01-13 02:15] weicaiyang opened #10039 "[dv] Create clock and reset connectivity test for all IPs in top-level"
Use FPV connectivity framework, so that we can eliminate this kind of SW tests.

@sriyerg @cindychip

[2022-01-13 03:09] nicolast0604 commented on #9398
In the SPI host documentation,
https://docs.opentitan.org/hw/ip/spi_host/doc/
The register address is :
spi_host.INTR_STATE @ 0x0
spi_host.INTR_ENABLE @ 0x4
spi_host.INTR_TEST @ 0x8
spi_host.ALERT_TEST @ 0xc
spi_host.CONTROL @ 0x10
spi_host.STATUS @ 0x14
spi_host.CONFIGOPTS @ 0x18
spi_host.CSID @ 0x1c
spi_host.COMMAND @ 0x20
spi_host.RXDATA @ + 0x24
spi_host.TXDATA @ + 0x28
spi_host.ERROR_ENABLE @

[2022-01-13 03:09] nicolast0604 commented on #9831
In the SPI host documentation,
https://docs.opentitan.org/hw/ip/spi_host/doc/
The register address is :
spi_host.INTR_STATE @ 0x0
spi_host.INTR_ENABLE @ 0x4
spi_host.INTR_TEST @ 0x8
spi_host.ALERT_TEST @ 0xc
spi_host.CONTROL @ 0x10
spi_host.STATUS @ 0x14
spi_host.CONFIGOPTS @ 0x18
spi_host.CSID @ 0x1c
spi_host.COMMAND @ 0x20
spi_host.RXDATA @ + 0x24
spi_host.TXDATA @ + 0x28
spi_host.ERROR_ENABLE @

[2022-01-13 03:13] #9165 closed

[2022-01-13 03:14] #8797 closed

[2022-01-13 03:45] nicolast0604 commented on #9831
Do you have the example code for spi host to query spi device?

[2022-01-13 03:47] nicolast0604 opened #10042 "example code for spi host"
Hi
Is there any spi host code example for reference.
I can't find it in
:~/mcqueen/opentitan/sw/device/lib/dif$ ls
autogen                        dif_clkmgr.h            dif_entropy_src.md           dif_keymgr.h             dif_otp_ctrl.c            dif_rstmgr.c              dif_spi_device_unittest.cc
dif_aes.c                      dif_clkmgr.md           dif_entropy_src_unittest.cc  dif_keymgr.md

[2022-01-13 03:49] #8920 closed

[2022-01-13 04:55] martin-lueker commented on #10042
It looks like its still lingering in review in #8872.   (@cfrantz, @mcy: Is there any think else that is needed for the SPI_HOST DIF?)  @nicolast0604, in the meantime you can pull #8872.

[2022-01-13 05:11] martin-lueker commented on #9398
I see.  Many thanks for your careful scrutiny here!

The only difference between the two is that RXDATA and TXDATA are not included in the register map, which is to be expected as these two addresses are technically not registers. They are implemented as memory windows and mapped to the TX & RX FIFOs.  So not being registers, they technically don't have "register offsets".   However both the docum

[2022-01-13 05:47] martin-lueker commented on #9831
Hi @nicolast0604, as I mentioned in #9398, your RTL table above is out of date.  If you are attempting to program the device in C, I recommend pulling the DIF from #8872, which will at least tools for generating the C-headers.

In answer to your question the two SPI devices should be identical except as you mention for their respective mappings to the pinmux, with SPI_HOST0 on dedicated pins.

Are

[2022-01-13 05:49] martin-lueker commented on #9831
@eunchan: SPI_HOST0 is functional in the CW310.  @cfrantz has tested it (at least partially) with #8872.

[2022-01-13 08:52] silvestrst commented on #9927
@sriyerg , just out of curiosity, why the AON clock frequency on verilator is 125kHz, whilst everywhere else its 200kHz?

[2022-01-13 09:28] rswarbrick commented on #8287
Yep, INSN_CNT clearing was done in commit 09e25ac82d. Still to do: model this properly in the UVM scoreboard (there's a TODO in the code, so we won't miss that) and define/hit coverage to see it happen. The existing coverage for these external CSRs turned out to be a bit spotty, but I've done a bit of an overhaul and it's pending in PR #10025.

[2022-01-13 13:52] NigelScales opened #10051 "[adc_ctrl] ADC CTRL interrupt value incorrect for channel 1 in oneshot mode"
The timing of the capture of the interrupt value for register adc_chn_val_1 is incorrect.
Tracing this I find the controlling signal is onshot_done in module adc_ctrl_core.
It can be seen in the waves that it is one aon_clk cycle too early to capture the correct value.
Instead it captures 0, in general captures the previous value.

To reproduce
gh pr checkout 10045
./util/dvsim/dvsim.py hw/ip/adc_

[2022-01-13 14:56] #10032 closed

[2022-01-13 15:00] nicolast0604 opened #10053 "Error transferring frame 0x00000000 @ 0x00000000. Transferring frame 0x00000000 @ same as #9200"
Transferring frame 0x00000000 @             0x00000000.
Transferring frame 0x00000001 @             0x000007D8.
Error transferring frame 0x00000000 @             0x00000000.
Transferring frame 0x00000000 @             0x00000000.
Transferring frame 0x00000001 @             0x000007D8.
Error transferring frame 0x00000000 @             0x00000000.
Transferring frame 0x00000000 @             0x000000

[2022-01-13 15:08] rswarbrick commented on #10053
I don't think I have the context to understand this issue. Please could you tidy up the title and also link to the surrounding discussion?

[2022-01-13 16:49] msfschaffner opened #10055 "[spi_host] Potential future enhancements"
This are "nice to have" enhancements, and are not intended to gate ES.

- Since we have the ability to declare muxed and dedicated IOs in a more granular way now, we could add more than one CS signal per SPI-host and route them through the pinmux. this would allow the SPI-host to interface with multiple devices.
- We may want to consider adding either a status indication or error condition for cas

[2022-01-13 17:28] matutem opened #10057 "[rtl/clkmgr] Connect measurement timeouts to alerts"
The frequency measurement timeout need to cause a recoverable alert. The RTL currently only updates
the timeout error CSRs, but does not generate an alert.

[2022-01-13 17:31] eunchan opened #10058 "[spi_device] Check if CSb deasserted in the middle of byte transfer in Generic Mode"
Current FwMode(GenericMode) ties `fwm_rxerr` to 0. The signal intended to catch the receiver error in FwMode, which is to catch the CSb de-assertion without completing the byte transfer.

I decided to icebox the feature and implement in next revisions (or removing Generic mode entirely).

This issue is to track the item.

[Effort estimate](https://github.com/lowRISC/opentitan/issues/10058#issuecom

[2022-01-13 18:43] sriyerg commented on #9514
Awesome, thanks!

[2022-01-13 18:44] #8164 closed

[2022-01-13 18:44] #9969 closed

[2022-01-13 19:01] rasmus-madsen opened #10062 "PWM does not get the duty cycle correct"
checkout `pwm_dbg`
reproduce run
```./util/dvsim/dvsim.py hw/ip/pwm/dv/pwm_sim_cfg.hjson -i pwm_smoke -r 1 -t xcelium --xprop-off --job-prefix="nc run -C ncsim_interactive -Il" -w=shm -s=1```

currently the settings are fixed to

[code]

if my calculations are correct each pulse should be
 2^13 = 8192 beats
 each beat is 2 clks wide
 and the duty cycle should be 6500>>3 = 812/8192 or 1624/16384 cl

[2022-01-13 19:24] sriyerg commented on #8702
This is not in the testplan yet. I will add it.

[2022-01-13 19:33] a-will opened #10063 "[usbdev] Check deadlines for responding to back-to-back packets"
This is mostly to surface potentially hazardous assumptions about the speed of the interrupt service routine. There are some cases of back-to-back packets that depend on the ISR being fast enough to respond to the first packet and modify registers in usbdev before it's time to send the appropriate response to the second packet.

Since full-speed USB isn't particularly fast, there might not be a si

[2022-01-13 20:11] eunchan opened #10065 "[spi_device] Guard SW access to DPSRAM while in SPI transaction w/ Flash / Passthrough mode"
If upload function is active, there's chance that the upload module tries to push entries to fetch from DPSRAM and SW to access the DPSRAM.

This condition should be handled.

1. upload module to use grant.
2. SW to lower the priority in the sram arbiter (prim_sram_arbiter to have Fixed Priority)

[2022-01-13 20:14] sriyerg commented on #9927
Verilator is a cycle accurate simulator (i.e. single-clock). We mimic async clock domains by integer-dividing a single source clock.

[2022-01-13 20:53] msfschaffner opened #10069 "[prim_fifo] Security Enhancement"
For certain security IP like the entropy complex, it would be nice if the FIFO primitive could be instantiated in a "secure" mode where the read / write pointers use a duplicated counter (`prim_count`). This however also implies that the FIFO primitives now gain an alert output. Considering the potential design impact at this stage, I would say we mark this as a future enhancement for now - but I

[2022-01-13 21:08] tjaychen commented on #10065
number 2 could be easy and hacky to do :)
you could just silence the software request whenever there is another non-software request hehe.

[2022-01-13 21:15] msfschaffner opened #10071 "[reggen] Add tooling for checking in-line countermeasure annotations"
As discussed in the `entropy_src` D2S review meeting today, it would be great if we could annotate the code with the countermeasure IDs.

These would not be exact annotations, but rather serve as hints where an auditor should look in order to audit a specific countermeasure. I.e., certain countermeasures can be pinpointed exactly  - think prim like instances like `prim_count`, whereas algorithmic

[2022-01-13 21:17] msfschaffner commented on #10071
CC @sriyerg

[2022-01-13 21:48] matutem opened #10072 "[dv/doc] Enhance dv CIP diagrams"
The diagrams need changes to the legend in order to explain the color scheme and CIP components.
The main template needs to be fully ungrouped.

I will make a pass at this, but adding Sri as reviewer to keep him in the loop.

[2022-01-13 22:00] cdgori commented on #10069
I haven't seen a case (yet) where it is must-have, so your proposal of future enhancement is ok for me (for now).

We'll see as we go through the various D2S reviews how many other blocks use fifo primitives.

[2022-01-13 22:06] cdgori commented on #8287
Great, thanks @rswarbrick !

[2022-01-13 22:16] cdgori commented on #9492
@mwbranstad / @martin-lueker can you guys comment on:

- basically which regs would be good to inspect here?

I want to make sure we have an idea of what to inspect/check before the REGWEN is ultimately set.  From this morning's discussion that should be in ROM_EXT, so these same checks should also occur in ROM_EXT up to the point the REGWEN is set.  I would think CONF, ENTROPY_CONTROL, FW_OV_CONT

[2022-01-13 22:48] martin-lueker commented on #9492
Hi @cdgori,
   I'm hesitant to insist on any monitor happening in the boot ROM, for fear we get it wrong (there is a lot we won't know about the RNG as it is an analog component).    We are already putting together a PR to ensure that the settings in established the boot ROM do not get used for fully-qualified entropy.  The IP will go through its minimal boot-grade health checks, but it will not c

[2022-01-13 23:50] #10057 closed

[2022-01-13 23:50] #9064 closed

[2022-01-13 23:54] tjaychen commented on #10071
that sounds good.
so hypothetically speaking, let's say there's something called `CTRL.MUBI`, but in the design there are actually multiple instances of such.

Each one would then probably match to the same entry in the hjson?

[2022-01-13 23:55] #9661 closed

[2022-01-14 00:22] nicolast0604 commented on #10053
#9200

Same issue but #9200 was closed.

However this issue seems not fixed yet.

[2022-01-14 00:30] msfschaffner commented on #10071
That is correct, unless we want to enforce a 1:1 correspondence.
Note that such 1:1 correspondence would then probably have to be checked on a per SV module basis, since reggen cannot elaborate generate loops that create multiple instances of the same module.
Do we have any preference?

[2022-01-14 00:31] tjaychen commented on #10071
i dont think so. I think 1 to many should be fine, especially when it comes to the more standard types.
If during the review process we find the need to split them up, then it might be up to the designer to actually tag them with separate prefixes so they can be separately identified.

[2022-01-14 00:45] msfschaffner commented on #10071
Yes, I think I am also leaning towards leaving more flexibility.
For the standardized ones, this would actually allow us to collapse them into one item, whereas for more custom stuff we probably want to call them out specifically.

This would eliminate quite some replication in blocks like OTP:
https://github.com/lowRISC/opentitan/blob/7df0097b04e67cda6797e3bfef3f9c7b99b638cf/hw/ip/otp_ctrl/data/o

[2022-01-14 01:08] eunchan commented on #10065
Sounds good :) I should do that until `prim_sram_arbiter` implements Fixed Priority

[2022-01-14 01:37] eunchan commented on #10065
Implemented in #10068 Thanks! I will also work on Hw Grant too.

[2022-01-14 02:27] nicolast0604 opened #10078 "boot sequnce and rom code"
Hi
Is there any information about boot sequence and rom code?

Is there source code for boot rom code in opentitan github?

Any information is welcome.

BR

[2022-01-14 02:32] tjaychen commented on #10078
are you curious what will be the eventual rom? or the rom that you currently see used in the FPGA?
That's currently a simplified version that does not represent the long term plan.

[2022-01-14 02:34] nicolast0604 commented on #10078
Firstly I would like to know the rom currenly seen in FPGA.
As I knew very little about that so could you please provide me more information?

So, I am curious about the long term plan or final.

Thanks for your quick response. :)

[2022-01-14 02:41] tjaychen commented on #10078
the rom used in fpga is quite simple.
Have a look [here](https://github.com/lowRISC/opentitan/tree/master/sw/device/lib/testing/test_rom)

There's not much documentation on it, since it is for test purpose purely.  All it does it execute enough instructions to jump to flash.  It also supports code flashing via SPI.

[2022-01-14 06:02] nicolast0604 commented on #10053
![IMG_20220113_225145](https://user-images.githubusercontent.com/6640005/149459500-d45c712f-4526-4217-8ef2-97cd34acbcae.jpg)

my FPGA board configuration and connection.

[2022-01-14 10:22] rswarbrick commented on #10072
You might be able to steal something from the OTBN one: https://docs.opentitan.org/hw/ip/otbn/doc/dv/index.html. That SVG has text (rather than paths) and also has legends at the top and bottom explaining what's going on.

[2022-01-14 10:46] vogelpi opened #10081 "csr_hw_reset_seq fails for registers initialized with pseudo-random data"
I am currently seeing quite some failures of automated CSR tests for AES. In particular `aes_csr_hw_reset` seems to fail quite often. I get failures like this:

[code]

Digging into the DV code it seems that the backdoor reads done as part of `csr_hw_reset_seq` don't respect the `swaccess` setting in the IPs hjson. For example, AES has quite many CSRs that are write-only for software. The register

[2022-01-14 11:19] rswarbrick commented on #10081
Yeah, I think the idea is that this sequence is supposed to be checking that a reset does indeed clear every register. So it sets all the registers to junk values (using a backdoor because they might be readonly from the bus), resets the block, then reads everything back again.

I think you just have to exclude these registers from the check.

[2022-01-14 11:54] arnonsha opened #10083 "missing type casting"
When trying to compile chipe_earlgrey_asic with VCS I get the following warnings, all related to missing type casting.
DC and LEC might not treat this missing casting the same way, which may lead to non equivalence logical checking:

[code]

[2022-01-14 12:01] arnonsha commented on #10083
By the way, we had such issues before. Also looking at the latest lint report I can't see such warning there.
Can you please add an ascent lint rule that will report such mismatches ?
Although VCS sees this as warning I'd although I think it should be ab error, because as said above, different tools can treat it differently.

thanks

[2022-01-14 12:04] rswarbrick commented on #10083
Gah! Looks like we're missing some casts. Also, see https://github.com/lowRISC/opentitan/pull/9391 where I suggested an approach where we wouldn't need to do this busy-work at all...

[2022-01-14 12:46] vogelpi commented on #10071
I definitely favor flexibility, too. Collapsing multiple standardized CM instances seems more acceptable with the annotations in the RTL. However, there may still be cases if the list of CM for a particular instance are different in which case giving individual names simplifies things . For example, you may have different FSMs in an IP that all use the same base hardening but only one FSM features

[2022-01-14 13:08] #9193 closed

[2022-01-14 13:10] kosta-kojdic commented on #9839
Thanks, I will close this now

[2022-01-14 13:10] #9839 closed

[2022-01-14 14:27] mwbranstad commented on #9492
i thought the original motivation to do periodic checks on ES registers was to save flops and not use the shadow reg feature. Instead, just verify the values written periodically. It seems simple enough to just check all written registers (probably exclude status registers). The scheme could apply to all entropy complex blocks.

[2022-01-14 14:51] mwbranstad commented on #10071
Initial thought was that 1:1 would be more effective, but after more consideration, maybe just having the broad CM listed in the hjson and the instance name in the RTL is sufficient.

[2022-01-14 17:46] alphan commented on #10022
@tjaychen we can define this value to be `0xa26a38f7` (unless I receive other comments in #10024 that require me to change it to something else).

[2022-01-14 18:49] matutem commented on #9947
Fixed by https://github.com/lowRISC/opentitan/pull/10000

[2022-01-14 18:49] #9947 closed

[2022-01-14 19:07] a-will commented on #6043
Just checking, but are there any changes in mindset here? It looks like a good idea to me.

According to the spec, `sense` should gate whether the pull-up is enabled, so it would be convenient if we had it go through the pinmux and get the overrides through ordinary MIO configuration (instead of the bits in `usbdev.phy_config`).

Even when usbdev is powered down in deep sleep, we'd likely want to

[2022-01-14 19:11] weicaiyang commented on #10081
exactly. We can just exclude those CSRs.
I wonder if design can just return 0 when reading these CSRs. since they are `wo`, we probably don't expect SW to read them.

[2022-01-14 19:21] msfschaffner commented on #10071
@mwbranstad since we would like to globally refer to the same CM IDs, I think we should not use different IDs in RTL.

I.e., either the annotator chooses to make instance names explicit, and then the list in Hjson should reflect that, or they choose to use the general ID, in which case you get multiple tags of the same name in RTL.

[2022-01-14 20:10] martin-lueker opened #10092 "[entropy_src, CI]: More stable health checks for entropy_src_smoketest.c"
In CI, `entropy_src_smoketest.c` seems prone to failure. It performs a complete binary check of a 384-bit seed, that it pulls from the ENTROPY_DATA register.   The numeric value [is listed as a constant in entropy_src_smoketest.c](https://github.com/lowRISC/opentitan/blob/7dbbbd5410f3aecf120d5d0ec1cbb3b3fd508feb/sw/device/tests/entropy_src_smoketest.c#L18)

   The output of this register is intend

[2022-01-14 21:05] tjaychen commented on #10092
@martin-lueker the test was definitely just done to pass the CI test (no expected result performed).
If there's a place in the entropy complex path where this makes more sense to do (for example CSRNG), that definitely makes sense.

At that point I guess it should be expanded to entropy complex smoketest?

One thing I don't follow though, if the entropy source read out isn't deterministic, wouldn'

[2022-01-14 21:14] sriyerg commented on #10071
+1 for flexibility - it will be useful to enforce for example, ALL instances of some critical counter measure `foo` are properly verified, once we start extracting testplan bits from these.

[2022-01-14 21:26] mwbranstad opened #10095 "CSRNG D2S Review AIs"
Action Items:

- [x] [mark, chris] discuss offline how to rename LOGIC.INTEGRITY -> ref: https://github.com/lowRISC/opentitan/pull/10118
- [x] [mark, chris] need to align standardized names with terminology in comportability spec ->  ref: https://github.com/lowRISC/opentitan/pull/10118
- [x] [chris] align countermeasure spreadsheet
- [x] [miguel] to follow up on {Key,v} register issue with labs ->

[2022-01-14 21:30] mwbranstad opened #10096 "Entropy_Src D2S Review AIs"
Action Items:
- [x] [Martin] Close on chip-level test issue (V1?)
- [x] [Martin] Update testbench to include entropy dropping event due to health check failure
- [x] [Tim, msf] need to add new asset (RNG) and countermeasure names (REGWEN) -> #10070
- [x] [Tim, msf] File issue for potential FIFO enhancement: add prim_count for pointers -> #10069
- [x] [Mark] Remove qualification of FSM invalid stat

[2022-01-14 21:41] martin-lueker commented on #10092
I see, well we can keep editing it as needed, and I'll stop trying to get to the bottom of this test.

It's a good question.  There is a small buffer in the entropy_src that can hold four seeds.  (And ow that I think about it, this should be enough for CI tests, so I am very perplexed)   Using the SW port on the CSRNG would have the advantage that it grabs the seed from the hardware port.  However

[2022-01-14 22:17] tjaychen commented on #10092
sounds good. Thank you Martin.

On Fri, Jan 14, 2022 at 1:41 PM Martin Lueker-Boden <
***@***.***> wrote:

[2022-01-15 00:22] weicaiyang opened #10099 "[sysrst/doc] add more details for ULP and wakeup"
@msfschaffner
As discussed offline, please add more details for ULP and wakeup stuff in the design spec.

cc @patel-madhuri

[2022-01-15 01:39] msfschaffner commented on #10083
@GregAC @vogelpi

I can investigate adding lint rules for this.
In the meantime (given that we have a US holiday on Monday), can maybe someone at LR look into fixing these? Otherwise I'll take a look on Tuesday.

@rswarbrick Yeah I know, but at this point I think we need to work with the choice that was made back then (there were pros and cons).

[2022-01-15 02:21] tjaychen commented on #10095
just curious, is this item "remove csrng_track_sm FSM, add observation points to existing sparse FSMs." a security item? Just want to be cognizant to not turn D2S review into a whole module code review..

[2022-01-15 02:23] tjaychen commented on #10095
hmmm... good catch on the `prim_count` and local escalation. I'm not entirely sure in some of my blocks i have a local reaction to that either.

[2022-01-15 23:30] mwbranstad commented on #10095
@tjaychen agree that scope should only be security. In this specific case, the "lifecyce_debug" signal was attached to these tracking state machines. Instead of questioning the security mechanism, I questioned the usefulness of the the state machine for debug based on priori use. So although it appears like a functional review item, it was truly related to security.

[2022-01-17 01:12] kianbeng-lim opened #10109 "[question] i2c SDA signal toggling for string on 1"
I had used the pinmux to map the i2c signal to PMOD connector on NexysVideo and CW310 board for testing.

I observed that OpenTitan i2c toggles the SDA signal when sending multiple bits of '1'.

![Screenshot from 2022-01-17 09-05-01](https://user-images.githubusercontent.com/69682790/149686004-8609c49d-c066-4b2b-907e-b1af72e092fd.png)

This differs from the behaviour observed on a STM32 microcontr

[2022-01-17 06:01] dbeitel-opentitan opened #10112 "[sw,meson,verilator,build] Support building on MacOS"
Add support for building meson project and Verilator executable.

[2022-01-17 10:15] rswarbrick commented on #10109
@igk8: I think you're working on this block?

[2022-01-17 10:30] NigelScales opened #10113 "[adc_ctrl] Set ADC_EN_CTRL to read only for CSR tests."
The ADC_CTRL CSR tests fail because ADC_EN_CTRL is being written leading to side effects.
I've tried adding the following tags to the register and this solved the problem,

[code]

[2022-01-17 11:06] rswarbrick commented on #10113
Sounds like the right thing to do. Could you open a PR?

[2022-01-17 14:03] rswarbrick opened #10115 "[dv,rstmgr] Missing ports when instantiating pwrmgr_rstmgr_sva_if in rstmgr_bind.sv"
This shows up when building a chip-level test, but probably also comes up for rstmgr-only tests. Example VCS log entry:
[code]

Looks like 029d20f forgot to update the bind file? (@matutem)

[2022-01-17 14:28] rswarbrick opened #10116 "[dv,chip] Missing OTP_EXT_VOLT connection in top_earlgrey/dv/tb"
This port was added to `chip_earlgrey_asic` in d13f442539 last April(!) and not connected up to the chip top-level testbench. This causes warnings when building the VCS simulation.

@msfschaffner (since you added the port!); @sriyerg (for visibility, since this is a little worrying! Hopefully toggle coverage would have caught it eventually).

[2022-01-17 14:56] rswarbrick opened #10119 "[dv,pwrmgr] Bogus indices in pwrmgr_rstmgr_sva_if assertions"
These cause compilation warnings at chip-level like this:
[code]

The problem seems to be that `rstreqs` is of type `logic[HwResetWidth-1:0]` and the SVA is assuming that it's of type `logic [TotalResetWidth-1:0]`. Looking at the code, it looks like we're getting bound in to RTL where the signal really is the narrower width, so I think the SVA is probably just wrong (or we're binding the interface

[2022-01-17 15:10] rswarbrick commented on #10083
I was wrong about this all being to do with mubi types :-) I've addressed the easy bugs in (#10120, #10122, #10123, #10124). There are also a couple of less trivial fixes needed and I've opened up issues and tagged the relevant people for them. See: #10115, #10116, #10119.

[2022-01-17 15:11] #9692 closed

[2022-01-17 15:48] davebwil opened #10125 "[kmac] ASSERT errors during KeyMgr operation"
While using the KeyMgr in a test I am getting the following assert errors (one or the other depending on which I comment out in RTL)
from the KMAC core block.

      Offending '(st == StKmacIdle)'
    UVM_ERROR @ 2941680000 ps: (kmac_core.sv:403) [ASSERT FAILED] KeyLengthStable_M
    UVM_INFO @ 2941680000 ps: (uvm_report_catcher.svh:705) [UVM/REPORT/CATCHER]
    --- UVM Report catcher Summary ---

[2022-01-17 22:19] dbeitel-opentitan opened #10131 "[mask_rom] OpenOCD fails to connect to Verilator when ePMP Whitelist Policy enabled"
I get the following error when I try to connect to Verilator running a mask_rom image:

[code]

I can successfully connect if I comment out this instruction in _mask_rom_epmp_init_:

[code]

[2022-01-18 01:19] martin-lueker opened #10133 "[entropy_src, security] entropy_src releases zero seed when disabled"
If the entropy source is disabled while the `entropy_src_ask_sm` is in the AckWait state, it releases an _all zero_ seed.

This can be reproduced by pulling the `issue_b` branch from my fork (`git@github.com:martin-lueker/opentitan.git`) and running the command (from `$OT_ROOT` on WD servers):
[code]

This issue can be fixed by removing [this line](https://github.com/lowRISC/opentitan/blob/53b9e7d

[2022-01-18 01:22] martin-lueker commented on #10133
FYI: @cdgori. @tjaychen.   I think it would be good to fix this bug.

[2022-01-18 02:44] martin-lueker opened #10134 "[entropy_src] Continuous assertion of state machine alerts"
When the `entropy_src` `main_fsm` transitions into the alert state (presumably due to excessive health check failures, it continuously asserts the `recov_alert` signal.    In verification, this is observed by the `cip_scoreboard` not as a single sustained alert, but as a sequence of repeated alerts.  As such this signal seems very hard to deal with in the current CIP DV framework.

To reproduce th

[2022-01-18 06:53] martin-lueker opened #10135 "[ entropy_src, dv ] RFC: RNG samples dropped along non-seed boundaries"
The `entropy_src` IP has no real backpressure on the RNG.  It must continuously accept RNG inputs to continue monitoring them, even when the "final FIFO" is full.   Thus it must any drop unused seeds at the input of the final FIFO.   However in order to maintain verifiability data is dropped _only_ at the final fifo, and _only_ as complete seeds.

The DV environment works around this by keeping li

[2022-01-18 07:23] martin-lueker commented on #10135
Note: this might be as simple as telling the scoreboard to discard all the RNG inputs when disabled.

[2022-01-18 09:21] rswarbrick opened #10137 "[dv] The #1ps delay in dut_init means we never start a sequence item on the first clock edge"
This seems like a bad idea because "valid is asserted on the first clock" is the sort of situation that could trigger a HW bug.

This delay (in `dv_base_vseq::dut_init`) dates back to an old commit (6d31a7c). I think I managed to trigger the problem that it's trying to work around last night. We've got a task in the TL host driver called `flush_during_reset()`. When we're in reset, this pops and d

[2022-01-18 09:55] patel-madhuri opened #10138 "[SYSRST_CTRL] Clear the stored_value when ultra low power feature is disabled"
We need to clear the update_stored_value and stored_value_q once the ultra low power feature is disable. If this is not clear the det_pulse is triggered again before the timer starts for the next iteration.
![ulp_issue](https://user-images.githubusercontent.com/92722737/149911014-6065aff8-77ad-4c19-8d45-2710ceb3cfa0.PNG)
From the waveform we can see the ac_present_det_pulse is triggered again befo

[2022-01-18 12:20] TimEwins opened #10142 "[flash_ctrl] Flash Bank Erase Seems To Give Errors"
Whilst deveoping the host_ctrl_if test, I have noticed an issue regarding Flash Bank Erase (note that Page Erase seems to be OK).

I have attempted to debug the issue, but now the same issue is being seen by @nikola-miladinovic so we think ths may be a Bug.

The test below is created to show this potential bug, other code has been commented out.

When I enable the Data Partitions for erase, and th

[2022-01-18 14:51] patel-madhuri opened #10144 "[SYSRST_CTRL] key_intr_status detects the wrong edge transition of input pin and before the debounce timer starts"
The l2h event is triggered before the key intr debouncer timer starts for h2l edge transition of ec_rst_l_in input pin. This is because the reset value of update_stored_value variable is 'h1 which generates l2h_detected_pulse_o.
![edge_detect_bug](https://user-images.githubusercontent.com/92722737/149959303-4cbfb486-e9e3-4317-868c-d4425f37f62c.PNG)
The waveform at timeA marker shows the key_intr_s

[2022-01-18 15:07] patel-madhuri commented on #10144
Draft PR #9962 can be used to regenerate the issue.

[2022-01-18 15:07] kosta-kojdic commented on #9822
@eunchan Any updates on this issue?

[2022-01-18 15:08] kosta-kojdic commented on #9823
@eunchan will this feature be implemented. If so, what is timeline?

[2022-01-18 16:30] a-will commented on #10109
It looks like the ClockLow state assumes it can start each new bit with SDA at 0, and that's causing these undesirable transitions:
https://github.com/lowRISC/opentitan/blob/master/hw/ip/i2c/rtl/i2c_fsm.sv#L421

[2022-01-18 16:44] rswarbrick commented on #10115
If I'd known how to fix it, I'd have fixed it yesterday :-)

[2022-01-18 17:12] #9667 closed

[2022-01-18 17:18] cindychip opened #10153 "[rv_dm] Spi_host does not have connect through rv_dm sba?"
Hi Tim,

I do not think RV_DM sba bus via JTAG has access to spi_host0 and spi_host1 CSRs. Looks like in top-level their TL buses are not connected to RV_DM sba. Just want to confirm if this is intended?

Thanks,
Cindy

[2022-01-18 17:41] eunchan commented on #10125
based on the waveform, `kmac_en` is set. KMAC will use the sideloaded key if application interface is used. But I see `keymgr_key_en_i` is not asserted. It means that keymanager does not give the valid secret key.

[2022-01-18 17:58] rswarbrick opened #10156 "[rom_ctrl] D2S action items"
We held a D2S review meeting for rom_ctrl on 18th Jan 2022. For project members, notes are [here](https://docs.google.com/document/d/1tAKdZTk2KkIcAjMk-heE3E6pedUiV3TAPqenXO7uYrY).

The review generated the following action items:
- [x] (Rupert) Document which FSMs are protected by FSM.SPARSE in the hjson file (#10286)
- [x] (Rupert) Add a `prim_mubi4_sender` at the source of the "good" signal in `

[2022-01-18 18:01] tjaychen commented on #10125
can you push the instructions to reproduce this?
In all likelihood the test has not populated the otp / flash_ctrl seeds, which leads to keymgr not being able to correctly generate a key.  That would lead to the situation @eunchan is describing.

@davebwil we have another test that goes through the procedure of how to correctly setup the keymgr to generate a key, I can point you to that if it help

[2022-01-18 18:02] sriyerg commented on #10137
We wanted to be able to apply reset at a random time from an independent thread, and have all sequences, drivers, monitors, scoreboard etc gracefully handle it. This actually turned out a lot harder than it should have been, and required a delicately placed sequence of events (where some things are triggered on the reset assertion and some on reset deassertion) that are triggered in these componen

[2022-01-18 18:04] davebwil commented on #10125
@tjaychen, if you could point me to the keymgr test that would be useful, I have probably done something wrong. Thanks

[2022-01-18 18:11] tjaychen commented on #10125
@davebwil please have a look [here](https://github.com/lowRISC/opentitan/blob/master/sw/device/silicon_creator/lib/drivers/keymgr_functest.c)

The main idea behind this test (it is written for ROM development) is that we go through multiple power cycles. We first populate the flash with a bit of content, then we populate the OTP (these are the seeds needed for keymgr).

From there we then push the

[2022-01-18 18:24] tjaychen commented on #10142
hi @TimEwins ,
can you make sure the [following](https://docs.opentitan.org/hw/ip/flash_ctrl/doc/index.html#Reg_mp_bank_cfg_shadowed) is set when doing bank erase? The bank erase uses a different "enable" from the normal mp controls since it applies to the entire bank.

[2022-01-18 18:29] tjaychen commented on #10153
thanks for the catch @cindychip. This is a bug, I forgot to add `spi_host` to the sba bus when I moved `spi_host` outside ofd the peripherals. I will fix.

[2022-01-18 18:29] eunchan commented on #10125
Thanks @tjaychen for the explanation. 👍

[2022-01-18 18:29] tjaychen commented on #10115
let me have a quick look. @matutem and my PR's must have crossed.

[2022-01-18 18:32] sriyerg commented on #10116
Aah, seems like you beat me to this @msfschaffner. I was about to address it. THanks.

[2022-01-18 18:35] martin-lueker opened #10160 "[entropy_src, rtl] Replace recursive modules in bucket_ht"
The Bucket test in entropy source currently uses a recursive comparator module (`entropy_src_comparator_tree`) to calculate the population of the largest bin.  This however is in violation of the style guide.   This should be replaced with either a function- or loop-based or a implementation

[2022-01-18 18:39] tjaychen commented on #10133
this sounds good to me (fix also looks good to me).
thanks for the find @martin-lueker and @mwbranstad for the fix.

[2022-01-18 19:20] weicaiyang commented on #10137
We have to discard all items that arrive in reset.

For example, assume there is a sequence: cfg -> wait for some delays to allow async clock crossing -> start_op -> check status.
If the reset occurs in the middle of "wait for some delays to allow async clock crossing" and `start_op` is also received by the driver but isn't discarded, we will see `start_op` starts right after reset, which isn't an

[2022-01-18 19:36] tjaychen commented on #10115
ah might need @matutem to chime in here
it looks like there are just multiple things bound to `rstmgr` each checking for different kinds of assertions, and thus only have a need for certain inputs.

[2022-01-18 19:42] cindychip opened #10167 "[dv] Change run option `create_jtag_map` to more generic name"
1. Change run option `create_jtag_map` to more generic name. https://github.com/lowRISC/opentitan/pull/10100
2. Add a description regarding how to use this argument in cip README.

[2022-01-18 20:38] timothytrippel commented on #10005
After discussion in the Software WG, we have decided to proceed with option B. Specifically, this solution will be rolled out in a very limited manner at first (i.e., a simple cloud-storage bucket will be stood up to host the last X recent FPGA bitstreams), until further attention can be directed towards this issue.

[2022-01-18 21:00] tjaychen commented on #10113
this sounds good to me as well.

[2022-01-18 21:57] #10116 closed

[2022-01-18 22:10] #9496 closed

[2022-01-18 22:12] tjaychen commented on #9062
@rswarbrick should we close this issue now?

[2022-01-18 22:13] vogelpi commented on #10081
Alright, thanks for the feedback guys. I've filed a PR to exclude these CSRs from the tests as you proposed.

[2022-01-18 22:14] rswarbrick commented on #10137
@sriyerg: It's a mid-test reset. The mistake at my end was using `apply_reset` instead of `dut_init` (which meant that I lost the 1ps delay). After an hour or so of debugging, I finally worked out what was going wrong :-)

@weicaiyang: Hmm, but every other component in the testbench has "stop immediately if we're in reset" logic. Wouldn't you expect your sequence to do the same thing? In which cas

[2022-01-18 22:23] mwbranstad commented on #7140
@martin-lueker updated the test plan here: https://github.com/lowRISC/opentitan/pull/10154
We can close this issue now.

[2022-01-18 22:23] #7140 closed

[2022-01-18 22:31] rswarbrick commented on #9062
Oh! Yes, probably: this is rather out of date :-)

[2022-01-18 22:31] #9062 closed

[2022-01-18 23:14] weicaiyang commented on #10137
for most of the drivers/monitors/scb, we make them "reset-aware" but we don't apply this "reset-aware" thing to sequence and sequence doesn't stop immediately when it's in reset. If we do, the sequence may become super complicated like this
[code]

The idea is that people can write the sequence without worrying about the reset, but later on, we can still cross that sequence with reset in stress_al

[2022-01-18 23:24] rswarbrick commented on #10137
Well, I guess the result is that we inject a dead cycle when coming out of reset each time. Personally, that doesn't seem like a good idea.

I'd still be interested to know which sequences keep going through reset: maybe there are only a few and they're easy to fix. After all, interesting vseqs for an entire block tend to have a certain amount of feedback built in so I suspect most of them handle

[2022-01-18 23:40] #10153 closed

[2022-01-18 23:47] moidx opened #10177 "[sw/rom] Enable `rnd_uint32()` testing with RV core registers"
The `rnd_uint32()` is currently not getting entropy from the RV Ibex wrapper peripheral.  This issue is to track integration tests once the the feature is implemented in hardware.

https://cs.opensource.google/opentitan/opentitan/+/master:hw/ip/rv_core_ibex/rtl/rv_core_ibex.sv?q=rnd_data

[2022-01-19 00:41] eunchan commented on #9823
I think, this can be P3 item, good to have. So, I probably work on this in next revision or later. Please waive this item.

[2022-01-19 00:42] eunchan commented on #9822
Updated the `abort` CSR description. waiting for review now.

[2022-01-19 00:49] weicaiyang commented on #10137
there are many sequences that run with reset, like those V2 blocks (uart, gpio, sram, xbar, hmac etc), they all have a `stress_all_with_rand_reset` test. (stress_all includes most of the sequences). We also have a `csr_mem_rw_with_rand_reset` which is csr/mem test with reset.

For the sequences in `stress_all`, we did a few small things to handle reset.
1. `csr_rd_check` skips checking if it's in

[2022-01-19 00:58] tjaychen commented on #10177
it seems [this PR](https://github.com/lowRISC/opentitan/issues/7946) defined the solution but it was never implemented beyond the register definition.

I will take a quick look.

[2022-01-19 01:57] msfschaffner commented on #10083
Thanks for taking a stab at these @rswarbrick.
As of now  #10115, #10119 are still pending, but I believe these are not `ENUMASSIGN` warnings.

@arnonsha can you check again if things are clean and close this bug if yes?

[2022-01-19 05:28] msfschaffner opened #10180 "[aes] Hierarchical paths in AES RTL won't synthesize in DC"
Hey @vogelpi - I just realized that we have added hierarchical paths in the AES RTL as part of the latest AES update:

https://github.com/lowRISC/opentitan/blob/3cc8d5a6c5cd222b32ef3ee0464b3650c8b80e15/hw/ip/aes/rtl/aes_sbox_dom.sv#L681-L684

This is not synthesizable and should only be used in TB code.
We need to fix this since otherwise DC errors out.

I can try and fix this tomorrow - but if an

[2022-01-19 05:32] cdgori commented on #10133
100% should fix.  Zero seeds are really not desirable.  I think the fix looks OK to me, but defer to @tjaychen

[2022-01-19 06:30] #9946 closed

[2022-01-19 06:51] sriyerg commented on #4694
@tjaychen, any thoughts on this one?

[2022-01-19 08:59] GregAC commented on #10177
Implementing this is one of the outstanding items for Ibex D2S, I was planning to implement it shortly.

[2022-01-19 09:09] sriyerg commented on #8656
The DV setup circumvents the use of on-device resources for logging, which the Verilator and FPGA setups cannot. The latter use UART0 for logging. Consequently, if the PLIC all IRQs test enables UART0 interrupts, the logging mechanism ends up triggering an interrupt (TX empty, for example, when UART0 is done transferring all characters in a log) inadvertently, when the test is expecting an interru

[2022-01-19 09:29] nicolast0604 commented on #9830
@rasmus-madsen rasmus-madsen

https://github.com/lowRISC/opentitan/files/7859286/PWM.testing.procedure.en-US.docx

[2022-01-19 11:04] mundaym commented on #10131
I don't think we want to support interactive debugging of the mask ROM. The memory protection scheme in use is deliberately restrictive and we shouldn't relax it just to enable debugger support. @moidx @alphan if you agree I suggest we close this issue?

@dbeitel-opentitan since you are using verilator you can make use of the instruction trace (`trace_core_00000000.log`) file that is created. If y

[2022-01-19 13:16] NigelScales commented on #10113
I've done a PR for just this change.
#10186

[2022-01-19 14:46] rasmus-madsen commented on #9830
@nicolast0604 this is interesting - although we currently have some wierd behavior with the never versions of PWM that is being looked into.
please see https://github.com/lowRISC/opentitan/issues/10062

once we have a stable PWM core I will see if I can reproduce your findings - since the problem also excist without the clock divider enabled I am thinking that this might actually be a problem with

[2022-01-19 15:14] TimEwins opened #10188 "[flash_ctrl] Questions On Secret Seeds (Creator and Owner) and OTP Seed Functionality"
The Spec says: -

Secret Information Partitions

Two information partition pages (one for creator and one for owner) in the design hold secret seeds for the key manager. These pages, when enabled by life cycle and otp, are read upon flash controller initialization (no software configuration is required). The read values are then fed to the key manager for later processing. There is a page for crea

[2022-01-19 15:26] TimEwins opened #10189 "[flash_ctrl] Flash CONTROL Register General"
This is just a Spec clarification Issue

Register FLASH_CTRL.CONTROL (0x20).  This is the main Flash Operation Control register.

The Description of the START bit in the specification reads: -

START	Start flash transaction. This bit shall only be set after the other fields of the CONTROL register and ADDR have been programmed

The verification environment does not do this as such.  Currently the

[2022-01-19 16:52] mwbranstad commented on #9853
After reading this issue closer, the above comment does not cover the hole. I am considering a change where the FIPS_ENABLE field is used to control a new boot option. When set, this field will operate in legacy mode. When not set, the boot sequence will complete (if boot_bypass is not set) like always, then the main sm will halt. It will wait until the main enable is cleared. Then once enabled ag

[2022-01-19 16:56] martin-lueker commented on #9853
Couldn't we just put something into to stall the FSM if it gets too far (and all the fifos).  Like in SPI_HOST?

[2022-01-19 17:00] mwbranstad commented on #9853
The proposal is to do exactly that, stall the FSM optionally.

[2022-01-19 17:01] martin-lueker commented on #9853
Though your approach works as well of course (and probably leads to a cleaner implementation).  If we go the route of having two separate pathways we should perhaps eliminate the `boot_bypass` switch,  and just always bypass the boot seed if we are starting in FIPS mode.

I would actually like that.  The whole thing would be very clean and simple, and the two pathways would be nicely separated.

T

[2022-01-19 17:04] martin-lueker commented on #9853
Oh, I meant a recoverable stall.  Where you can flip a switch and the whole IP just continues as if nothing happened.  Though it requires that _everything_ in the entire pipeline gets a "stall" signal, that can be asserted or deasserted.  That works for SPI_HOST, but your pipeline is much more complex here.  The SPI_HOST approach could lead to madness.  it would probably be better to do something

[2022-01-19 17:05] mwbranstad commented on #9853
We also need to maintain legacy mode for CI at this point (so the picture can stay). I am more interested in simple (limited) changes that solve the specific problem and maintain any current function. I think this implementation will solve both, but waiting on https://github.com/lowRISC/opentitan/pull/10150 to land first before implementing.

[2022-01-19 17:10] dbeitel-opentitan commented on #10112
Verilator support added, PR#10111

[2022-01-19 17:12] martin-lueker commented on #9853
Fair enough, but three points:
1. Nobody will _ever_ use `enable_fips && !boot_bypass`
2. I like the idea of a nice intuitive state machine diagram
3. I'm happy to thread the CI to make this change if it means a cleaner design.

[2022-01-19 17:13] martin-lueker commented on #9853
4. The picture needs some update to communitcate that boot-mode does not continue.

[2022-01-19 17:16] martin-lueker commented on #9853
Do you intend to try to land #9949 as is, or do you want to rebase that on top of #10150 and amend implement the new scheme in there?

[2022-01-19 17:37] sriyerg commented on #10113
Left a comment about moving the tag to a field rather than the whole register.

[2022-01-19 17:40] martin-lueker commented on #9853
Though I see your point.  Having a "BootStall" state or something would be fine.

[2022-01-19 18:40] NigelScales commented on #10051
Looks good.

[2022-01-19 18:40] #10051 closed

[2022-01-19 18:40] sriyerg commented on #9693
This issue can perhaps be closed? Xcelium tests are working now at the chip level.

[2022-01-19 18:52] #9693 closed

[2022-01-19 18:57] tjaychen opened #10194 "[rv_core_ibex] Random instruction reseeding"
The ibex instruction randomization must be reseeded by software via CSR.
Since there is no hardware mechanism for this reseed, it is important that software periodically obtains a new random value from its [local random register](https://docs.opentitan.org/hw/ip/rv_core_ibex/doc/index.html#Reg_rnd_data) and program it into the CSR.

For example, this can be done on every entry into an "idle" loop

[2022-01-19 19:09] msfschaffner opened #10195 "[sram_ctrl] D2S review opens"
- [x] [tim/msf] to double check what is returned upon an invalid instruction fetch. Check whether we can return an invalid instruction value in that case.
- [ ] [tim/msf] make sure standardized countermeasures are listed explicitly for each block (redun count, fsm, bus integrity)
- [x] [msf] Add recommended assets:
  - Add SRAM_CTRL.CTRL.REGWEN
  - Add SRAM_CTRL.EXEC.REGWEN
  - Add SRAM_CTRL.EXEC.

[2022-01-19 19:10] tjaychen commented on #10195
@GregAC do you have a suggestion for what the return value should be on an error?

[2022-01-19 19:21] msfschaffner commented on #10195
Maybe we can check wheter an all-zero value works?
That would be the simplest option - otherwise we have to add an RV specific value into the tlul adapter primitive,,,

[2022-01-19 19:24] tjaychen commented on #10189
ah yes.  Same time or later is fine. I will update the language of the spec.

[2022-01-19 19:26] tjaychen commented on #10195
i honestly wonder if i checked this at some point and just don't remember.
I'll have a quick look at the riscv spec.

On Wed, Jan 19, 2022 at 11:22 AM Michael Schaffner ***@***.***>
wrote:

[2022-01-19 19:29] cdgori commented on #10194
My immediate gut reaction was "well that means we have to trust the software to do this" - but I guess if the software image has been subverted, disabling the instruction randomization is the least of our worries ...

[2022-01-19 19:39] cdgori commented on #10071
As the reviewer, probably 1:1 would be easier to deal with.  But that basically makes the countermeasure lists unwieldy and forces a need for manual reconciliation which is not desirable.  So 1:many for things like MUBI is ok for me, I think.  We'll check the individual MUBIs in D2S and have to keep in mind that downstream changes to anything countermeasure-related (adding or removing) probably me

[2022-01-19 19:43] cdgori commented on #10071
One other comment, what I am finding in the review process is that we are pursuing two goals in parallel:

1) for annotated/stated countermeasures, are they present / properly used?
2) are any countermeasures *missing* that should be present - this usually by enumerating assets and trying to think about attacks / potential design weaknesses or single points of failure.

The second one is harder wi

[2022-01-19 20:07] tjaychen commented on #10194
yeah..i think ideally we do hardware, but it's more of a lack of time at this point..

[2022-01-19 20:15] cindychip opened #10199 "[dv/unr] blackbox security modules"
We have some security features that are unreachable unless forcing.
For example: prim_count errors and shadow register storage errors.
These will be marked as unreachable, but we can reach that in V2S, so we need to blackbox these items.

[2022-01-19 20:20] cdgori commented on #10194
understood and seems reasonable.  Should we leave hardware as future proposed enhancement?

[2022-01-19 20:27] cdgori commented on #10195
Just a comment, you all probably won't forget, but we agreed to make this invalid instruction value a param.

[2022-01-19 20:32] tjaychen commented on #10194
yes definitely, i will file an issue.

On Wed, Jan 19, 2022 at 12:20 PM Chris Gori ***@***.***>
wrote:

[2022-01-19 20:43] alphan commented on #10022
Done in #10061, thanks @tjaychen!

[2022-01-19 20:43] #10022 closed

[2022-01-19 21:27] tjaychen commented on #10188
I can update the language here. The init bit does 2 things:
1. it requests the address / data scramble keys from otp
2. it reads out the root seeds from flash and sends them to keymgr.

So this bit does control the initialization period.  Does that answer your question
The init is meant to be started by ROM.

yes that's right.  This actually seems like a bug I need to fix.
The INIT should gate the

[2022-01-19 22:21] vogelpi commented on #10180
This syntax worked fine both in Yosys and Vivado. But I understand that it needs to be fixed. I'll have a look and for sure will have a PR ready by tomorrow morning. Sorry for causing this issue!

[2022-01-19 22:33] cdgori commented on #10069
Further comment from offline discussion between @mwbranstad / me - in theory we could use a prim_fifo with mubi controls and status (i.e. a mubi4 for full, wvalid_i, wready_o, rvalid_o, rvalid_i ) then using "mubi gates" inside the prim.

This sort of makes sense for applications where the user of the fifo has all their controls already in mubi form (admittedly there are not many such cases, so th

[2022-01-19 23:56] tjaychen commented on #7946
edn connection has been implemented.

[2022-01-19 23:56] #7946 closed

[2022-01-20 00:53] tjaychen commented on #10180
sorry for missing this during the earlier review Pirmin.

On Wed, Jan 19, 2022 at 2:21 PM Pirmin Vogel ***@***.***>
wrote:

[2022-01-20 00:56] tjaychen commented on #8656
sounds great!

[2022-01-20 00:57] tjaychen commented on #4694
ah good catch. I will fix.

[2022-01-20 01:35] tjaychen opened #10204 "[flash_ctrl] Possible bug with Vivado 2020.2"
The Vivado PnR tool seems to create an unintended combo loop under specific conditions:

1. The fsm is sparsely encoded (not consecutive in value)
2. Not all the defined states are explicitly listed out (ie, absorbed into default state)

This problem manifested in both `flash_ctrl_lcmgr` and `flash_ctrl_arb`, where both cw305 and cw310 fpga builds claimed there was a combo loop when there was not.

[2022-01-20 01:35] tjaychen commented on #10204
@a-will

[2022-01-20 02:26] msfschaffner commented on #10180
Hey I missed it as well ;).

I drafted a fix here: https://github.com/lowRISC/opentitan/pull/10206

[2022-01-20 02:32] msfschaffner opened #10209 "[rom_ctrl] Align ROM width to 40bit"
We currently are experiencing issues in closed-source sims due to an SVA that fires due to width mismatches (the closed source uses an aligned ROM macro width of 40bit due to memory compiler limitations, whereas the open-source uses 39bit).

We determined that the easiest way to fix this would be to align the ROM to 40bit in opensource as well.

Implementation wise there are multiple options: only

[2022-01-20 02:37] tjaychen commented on #10209
the issues of interest are ..
#7033 (the original issue where we said screw it, let's keep it at 39) and #9766 where the closed source db reported the issue.

I think unfortunately in this case we just need to align to the closed source case, OR, make the checking slightly smarter only for ROM.  What do you think @rswarbrick

[2022-01-20 03:54] a-will commented on #10204
The top image is the "elaborated design" and the bottom is the synthesized design (with no hierarchy flattening, for easier analysis).

[2022-01-20 09:32] m-temp opened #10213 "[Question: (Fatal) alert_sender] Good practice for waveform of alert_req_i"
Hi,

can someone explain to me (point me to the right documents) what's the best way to wire up the trigger for the (fatal) alert_sender?
I'm asking because I saw (a lot of) different techniques and I don't see why they are used in the way they are used.
My understanding of the fatal [alert_sender](https://github.com/lowRISC/opentitan/blob/master/hw/ip/prim/rtl/prim_alert_sender.sv#L15-L18) is, th

[2022-01-20 09:51] GregAC commented on #1403
Small documentation fixes to do (copied from an email from @a-will):

- [ ] The phy_config register claims that only single-ended mode is supported for both RX and TX, but we support differential mode for both as well (at least for now).
- [ ] Typo referring to STATUS packets and transactions --> Should be SETUP.
- [ ]  If the documentation is correct for NAKing SETUP packets to endpoints that are

[2022-01-20 10:36] #10081 closed

[2022-01-20 10:46] vogelpi commented on #10180
This is kind of embarrassing: it turned out that Yosys also doesn't like the hierarchical reference. The resulting netlist (I've formally verified) was non functional :-(
On the new, correct netlist, formal masking verification takes much longer. At least we know that Vivado did the right thing (otherwise CI would have failed) and we also didn't see leakage in the FPGA experiments.

[2022-01-20 10:47] vogelpi commented on #10180
Sorry Michael, I should have pinged you about the PR I did a couple of hours before yours: #10202

[2022-01-20 12:27] mundaym opened #10215 "[rom] Determine appropriate value for initial watchdog bite timer"
The watchdog bite timer will be set in assembly prior to entropy complex setup and SRAM scrambling. The value is set early in assembly and so cannot easily depend on lifecycle state or an OTP configuration value which means it needs to be relatively conservative. Once the mask ROM C runtime is initialized the watchdog bite timer value can be updated to a more aggressive value.

[2022-01-20 14:47] semihalf-mazurek-michal opened #10217 "[opentitantool] Proposal - Simulator capability and simulated DUT control protocol"
I would like to discuss the possibility of extending the transport trait capabilities so it can support control of the simulated DUT.

Motivations:
During the implementation of 'HostEmulation' support for opentitantool, there was a problem with the lack of a 'session' concept on the opentitantool side. I think adding a general protocol for communicating between opentitantool and DUT (simulator/sim

[2022-01-20 15:38] eunchan commented on #10213
Added appropriate folks here.

[2022-01-20 15:56] TimEwins opened #10218 "[flash_ctrl] Bug Spotted In Module : flash_ctrl_lcmgr.sv"
I think there is a Bug in the flash_crl_lcmgr.sv code.  I think this is a cut-paste typo.

I have made a local change in my rpositry, and the code behaves as expected with the fix.

Original Code

  always_ff @(posedge clk_i or negedge rst_ni) begin
    if (!rst_ni) begin
      addr_key_o <= RndCnstAddrKey;
      data_key_o <= RndCnstDataKey;
    end else begin
      if (addr_key_req_d && addr_key

[2022-01-20 15:58] rswarbrick commented on #10209
I'm pretty strongly against hacking stuff to get the closed source version working. We could just loosen the check that's failing in the linked issue: it's only there as a sanity check.

[2022-01-20 16:34] #10134 closed

[2022-01-20 16:37] a-will commented on #2704
This is a fairly minor cleanup, so it doesn't need to take priority. However, I'd be in favor of removing it.

This seems pretty straightforward. Instead of hard-coding the enable for `se0` to 1, we can assign it based on the TX configuration register. Then an integration can use the enable at the top level to drive the transceiver's mode pin, if needed.

[2022-01-20 17:03] tjaychen commented on #10209
that sounds good too. I guess whoever has the time the next couple of days can have a look. I admittedly have not checked to see exactly which check is failing and why.

[2022-01-20 17:20] tjaychen commented on #10180
this is sort of a side topic. But does this mean we should file a bug on Yosys? If it actually doesn't like it, I feel like the flow should have error'd out instead of continuing to do something...weird.

[2022-01-20 17:27] martin-lueker opened #10226 "[ entropy_src ] Bucket Health Test not including last sample"
The Bucket health test looks for excessive correlations between RNG channels by maintaining a histogram of the RNG symbols coming and reporting an error if any symbols exceed a given threshold.

If the last RNG symbol pushes the test over the threshold, the histogram peak is recorded but not in time to register a test failure.

---

For example, in the following waveform (taken from signals within

[2022-01-20 17:48] martin-lueker opened #10227 "[ entropy_src rtl, dv ] Do not clear entropy_src statistics on disable"
The health check statistics registers (watermarks, test failure counts, alert counts etc.) have all proven to be essential tools for verification.    In DV these registers are read and scoreboarded
- At the end of every simulation, and
- Every time an alert occurs.
However these checks are made more complicated by the fact that these registers are cleared every time the IP is disabled.  Ideally DV

[2022-01-20 17:57] tjaychen commented on #1403
hi all,
given the list @a-will has pointed out, should we have a quick sync? Judging by the things @a-will has identified, i'm not entirely sure we can immediately declare D2 on usbdev.

[2022-01-20 18:53] arnonsha commented on #10083
no more ENUMASSIGN warnings in today's nightly run.

Thanks for fixing that.

[2022-01-20 18:54] #10083 closed

[2022-01-20 19:04] tjaychen commented on #1403
i should clarify that to me, the incorrect behavior of usbdev in suspend (not detecting all wakeup conditions, no mechanism to come back to the right state) seems especially problematic on the hw side.

The issues with endpoint / stall also seems like it would cause a lot of software usability issues.

[2022-01-20 19:11] tjaychen commented on #6108
@msfschaffner this is an old issue where I think all the items actually have been addressed.
I think when I filed this issue originally it was more about the enhancements needed on `alert_handler`.
let me know what you think.

[2022-01-20 19:14] GregAC commented on #10195
The RISC-V spec defines all 0s as a permanently reserved illegal instruction. So 0 should do the job nicely.

[2022-01-20 19:17] GregAC commented on #1403
As I see it D2 is a 'feature complete' milestone, it doesn't mean no known bugs.

Do we require actual new features to fix these issues? As I understood it they're more bugs in our current implementation.

[2022-01-20 19:21] tjaychen commented on #1403
I think the correct detection of all events in suspend can reasonably be
called a bug.
The software usability enhancements are to me features, same with the MIO
relocation.

Alex what do you think?

On Thu, Jan 20, 2022 at 11:17 AM Greg Chadwick ***@***.***>
wrote:

[2022-01-20 19:25] tjaychen commented on #10195
thanks Greg, I will try to have a look today and fix.

On Thu, Jan 20, 2022 at 11:15 AM Greg Chadwick ***@***.***>
wrote:

[2022-01-20 19:30] GregAC commented on #1403
Well it is possible to do post D2 feature changes.

What we should ask is how disruptive are these changes, what do they impact? The MIO relocation is obviously minor without large impact.

How about the software usability enhancements? Significant changes to the programming model or just minor register tweaks?

[2022-01-20 20:10] a-will commented on #1403
I expect the "software usability enhancements" are not going to be extremely disruptive, though they're fairly important to successfully implementing existing classes of communication protocols.

The endpoint enable bits are going to be new registers that qualify inputs to existing logic that determines whether an endpoint should respond to incoming packets. The "set stall/nak" bits are likely goi

[2022-01-20 20:32] msfschaffner opened #10230 "[alert_handler] D2S review opens"
- [x] Remove stale alert_handler_lp_ctrl
- [x] Add ESC_TIMER.FSM.GLOBAL_ESC
- [x] Fix documentation: lpg_rst_en_i is described as an output in the table, should be input
- [x] Change SIGNAL to INTERSIG in spreadsheet
- [x] Propagate BUS.INTEGRITY from wildcard to ALERT_HANDLER
- [x] Add 4 REGWEN as described in SEC_CM_ASSETS_LISTED
- [x] Annotate RTL with CM ID labels
- [x] Update spreadsheet

[2022-01-20 21:16] GregAC commented on #1403
Thanks for the extra info, does sound like we may need some more work before D2. A couple of things I'd like to clarify:

1. What does the proposed `out_endpoint_enable`and `in_endpoint_enable` add over what is available with the existing 'stall' https://docs.opentitan.org/hw/ip/usbdev/doc/index.html#Reg_stall register? It seems a stall response is produced for non-existent endpoints so forcing a

[2022-01-20 21:40] a-will commented on #1403
That's incorrect. Non-existent endpoints do not respond--They don't exist, remember? ;) That STALL response is simply a bug / a reading of the spec gone awry.

STALL is a particular kind of handshake in some protocols that is generally used for reporting error conditions back to the host. It is a message from the device's side of the pipe, and the pipe leads to nowhere and has no listener for requ

[2022-01-20 22:26] martin-lueker opened #10232 "[entropy_src] Outdated (ht-bad) seed released"
Due to a timing delay mismatch, the entropy source is releasing seeds that have been rejected by health tests.
This occurs particularly in boot/bypass mode.

To reproduce:  Pull branch `issue_10232` from my fork (`git@github.com:martin-lueker/opentitan.git`), and run the command:
[code]

[2022-01-20 22:43] #10180 closed

[2022-01-20 22:44] msfschaffner commented on #10180
No worries, I closed my PR.

[2022-01-20 22:44] msfschaffner commented on #10180
We probably should, yes. @vogelpi can you take care of this?

[2022-01-20 22:48] msfschaffner commented on #10209
I should probably correct myself above (since I was also the person who pointed out in #7033 that this could be a security risk). If possible we should find a fix on the DV side for this.

[2022-01-20 22:52] dbeitel-opentitan commented on #10112
Meson support added, PR #10164

[2022-01-21 00:03] tjaychen commented on #1403
To @a-will point, I would probably bet on latency being an issue in a real OS.  We are most likely not going to have interrupts that directly respond to an event, and instead filed away for later, so if we head that off now that would be best.  I think Pirmin (or someone else) also pointed out that the current usbdev sometimes needs the full attention of the processor to properly maintain a connec

[2022-01-21 00:28] a-will opened #10235 "[spi_device] Write Enable instruction not handled in hardware for flash emulation"
SPI flash devices typically have an immediate response to Write Enable / Write Disable instructions. Currently, this command must be uploaded to firmware, so subsequent Read Status commands may not see the effects of Write Enable, due to the latency of firmware's response.

We're not aware of flows in the wild that check the Write Enable Latch (WEL) after a WREN instruction, so the impact of this

[2022-01-21 03:12] nicolast0604 commented on #9830
Thanks for your help.

The input clock is set to 10Mhz as the same as the CPU clock.

Please feel free to let me know any recommendations.

[2022-01-21 05:28] matutem opened #10241 "[dv/pwrmgr] Check pwrmgr handling of rom inputs"
The transition to active state will be blocked depending on rom_ctrl_i and lc inputs. Consider adding a covergroup for this logic.
The logic is described at [ROM Integrity Checks](https://docs.opentitan.org/hw/ip/pwrmgr/doc/#fast-clock-domain-fsm).

[2022-01-21 07:40] GregAC commented on #1403
Well there's no precise definition of "feature complete". Generally I take it to mean all the functionality specified has been implemented but there's no guarantees it all works. It's a useful milestone as it means on the verification side you can test all specified features and know that issues found are bugs rather than planned but not yet complete implementation work.

Some bring-up work should

[2022-01-21 08:49] m-temp commented on #8460
As there was no time in the Security WG meeting:
KMAC behaves similar (does not clear the status, but also does not tell what happened). I favor this behavior, as I see no point to tell an attacker what was going on. However this is in contrast with the "Implementation Guidance"

If this is crucial for debugging, we should disable it in the prod-phase.
Or at least for faults that cannot be trigger

[2022-01-21 09:06] vogelpi commented on #1403
Hey @a-will ,
regarding the sending of STALL for unimplemented endpoints, this was discovered by my colleagues at ETH when they did the conformance testing for usbdev prior to their tapeout (see comment in https://github.com/lowRISC/opentitan/pull/1506#issuecomment-584521175). As I result of this discussion, I've implemented this behavior. The PR #2357 got also approved from Mark our USB expert.

[2022-01-21 09:35] vogelpi commented on #10180
After checking the sv2v output I can confirm it's a Yosys issue (and not our sv2v + Yosys flow). Checking the Yosys repository, it seems this is known (see YosysHQ/yosys#2266 and YosysHQ/yosys#647) and it produces at least warnings in the synthesis log:
[code]
The problem isn't easy to solve but @rswarbrick seems to have prepared a draft PR already that moves things in the right direction.

I will

[2022-01-21 09:43] GregAC commented on #1403
There's this sentence under Section 8.3.1

One reading of that is an unimplemented endpoint supports no transaction types so must never respond.

I'd also note earlier in the spec (Section 5.3.1)

So the host shouldn't be sending any transaction targeted at a non-existent endpoint anyway. Obviously we need to ensure poorly behaving hosts don't break things. Simply ignoring these bad host transacti

[2022-01-21 09:45] GregAC commented on #1403
@vogelpi did ETH run some 3rd party conformance test against their implementation which highlighted this issue in the first place? Could be a dodgy conformance test of course, but given the spec isn't hugely explicit I wouldn't be surprised if there's some defacto standards going on here....

[2022-01-21 11:37] stefanlippuner commented on #1403
I did most of the protocol stuff on the ETH side and I think this comment (https://github.com/lowRISC/opentitan/pull/1506#issuecomment-584521175) was based on my reading of the USB 2.0 spec, specifically section 8.4.6. We did run the conformance tests provided by the USB IF (USBCV), but I don't think that this is an issue that came up there (could be wrong though, it has been a while).

Looking at

[2022-01-21 12:03] NigelScales commented on #10113
Fixed by #10186

[2022-01-21 12:03] #10113 closed

[2022-01-21 12:36] stefanlippuner commented on #1403
After thinking about it a bit more, I agree with @GregAC that this should probably apply. The language seems reasonable clear and applicable, so it should override a vague reading of 8.4.6.1.

I also went back and saw that we ran the USB CV tests in January 2020, before https://github.com/lowRISC/opentitan/pull/2357 was authored. So going back to the original behaviour should not cause issues ther

[2022-01-21 14:31] a-will commented on #1403
Heh, yeah, there's some overthinking here. Remember that USB's model is a set of pipes which terminate at an endpoint, and packets strictly go over these pipes. An endpoint that isn't there cannot give a response.

Consider the SETUP transaction, and you'll see quickly that any response is not appropriate for what is a bad token packet. Neither STALL nor NAK are valid responses to SETUP

[2022-01-21 14:50] alphan commented on #10131
Yes, according to the [life cycle hwip spec](https://docs.opentitan.org/doc/security/specs/device_life_cycle/#manufacturing-states) JTAG is enabled in TEST_UNLOCKED_*, DEV, and RMA states (should see the table if you search for "HW_DEBUG_EN" in the page).

@tjaychen Please correct me if I'm wrong.

[2022-01-21 15:14] #10177 closed

[2022-01-21 16:29] jadephilipoom opened #10249 "[sw,crypto] Change crypto library drivers to use abs_mmio"
Related discussion on #9764

The crypto library drivers (`sw/device/lib/crypto/drivers`) should use `abs_mmio` instead of `mmio`, like the `silicon_creator` drivers they're based on. Accomplishing this will likely involve moving `abs_mmio` to `sw/device/lib/base` and then adjusting the mask ROM unit tests.

[2022-01-21 16:51] vogelpi commented on #10213
Hi @m-temp ,
The comportability specification contains useful information on this in the [Alert Handling section](https://docs.opentitan.org/doc/rm/comportability_specification/#alert-handling).

In particular, it says:

So IMHO the important thing is to ensure that if the fatal alert is high even just for one clock cycle, the module also takes a local action. This is why the AES feeds the fatal a

[2022-01-21 17:05] tjaychen commented on #10131
yes that's correct.

[2022-01-21 17:07] tjaychen commented on #8460
yeah i think there are opposing views on the project on this point right now.
I tend to fall into the camp that if we are worried about an attacker being able to read a status, then it implies that software is already compromised to some extent (since an attacker is able to control arbitrary reads).  If we go with that perspective, we are already in a world of trouble.

So for this version, I tend

[2022-01-21 17:22] NigelScales opened #10252 "[adc_ctrl] np_sample_cnt semantics differ from spec."
It appears that np_sample_cnt_q[15:0] is not being reset when the set of matching filters changes as required by the design spec.

If no filters are hit then the counter will reset to zero.
**If one or more filters are hit but the set hit differs from the previous evaluation the counter resets to zero.**
If one or more filters are hit and either none was hit in the previous evaluation or the same

[2022-01-21 17:56] GregAC commented on #1403
Added an item to track fixing the usbdev smoke test as it's currentl broken in the nightly regressions (see here: https://reports.opentitan.org/hw/ip/usbdev/dv/latest/results.html)

[2022-01-21 17:57] GregAC opened #10255 "[usbdev] Fix smoke test"

[2022-01-21 18:00] mdhayter commented on #6043
Based on previous experience, many use cases of the discrete OT will not need the voltage sense pin (and will be short on GPIOs because that is a rule of the universe). So having the pin available to be muxed seems like a good direction.

One reason to have the detection if you can even when bus powered is because (at least a couple of years ago when I last looked) if the Linux driver had trouble

[2022-01-21 18:05] tjaychen commented on #10180
thank you Pirmin and Rupert.

On Fri, Jan 21, 2022 at 1:35 AM Pirmin Vogel ***@***.***>
wrote:

[2022-01-21 18:13] tjaychen commented on #10213
to add to @vogelpi point.
For fatal alerts, we want to make sure the alert_sender has the `fatal` option set, and ideally also have the input always be 1.  That will give us two layers of protection in case one of them is attacked.  The fatal option basically captures the alert event inside the alert sender (but keeping a fatal event asserted outside makes doubly sure).

The local escalation is de

[2022-01-21 18:24] tjaychen commented on #10252
@NigelScales just making sure, this is meant for `adc_ctrl` and not `lc_ctrl` right?

[2022-01-21 18:50] matutem opened #10257 "[dv/cip] Fix and document mubi randomization"
The weights of true, false, and others should treat others as a group and be uniform.
The current scheme is flawed since it under-samples true and false.

[2022-01-21 19:13] cindychip opened #10258 "[dv/lc_ctrl] regression compile warnings"
Hi Nigel,

These are compile warnings from LC_CTRL, please take a look.

[code]

[2022-01-21 19:24] moidx opened #10259 "[sw/rom] Update ROM to configure entropy source in BOOT mode"
This issue is to track any potential changes to the mask ROM as a result of proposed changes in #9949 and #9853.

See reference issues and PR discussion for more details: https://github.com/lowRISC/opentitan/pull/9949#discussion_r789841304

[2022-01-21 19:28] cindychip opened #10260 "[lc_ctrl] V2 review meeting TODO list"
- [ ]  Nigel: add more coverpoints to LC_CTRL, for example: fsm transition groups.

- [ ] Msf: Provide more inputs regarding functional coverage for LC_CTRL in the PR.

- [ ] Nigel: add a test to cover toggle coverage: scan_rst_ni

- [ ] Nigel: add a test to cover toggle coverage: lc_otp_vendor_test_i.status. Randomize this input and read in CSRs. (In some certain lc states, it should be 0)

- [ ]

[2022-01-21 19:48] #10006 closed

[2022-01-21 20:09] tjaychen commented on #10218
@TimEwins can you elaborate why you say this is a bug? what behavior are you expecting?
The `rand_key` is meant to be a random value that the scramble function switches to in the event it encounters an error.

[2022-01-21 21:41] mwbranstad opened #10262 "EDN D2S Review AIs"
- [x] [msf] talk to tim about burying MUBI/LC signals, maybe add sec_buf to the sync?
- [x] [mark] use prim_mubiX_sync (flopless) to create multiple copies and consume the MUBI at the endpoints with multiple decoding functions (applies to CSRNG, entropy_src, EDN) -> https://github.com/lowRISC/opentitan/pull/10132, https://github.com/lowRISC/opentitan/pull/10448
- [x] [mark] consider describing in

[2022-01-21 21:56] #10232 closed

[2022-01-21 21:59] tjaychen commented on #10262
which mubi signals did you guys have in mind? If it's the lc sync ones those are already covered.
If it's the software configuration bits, I don't really think there's a need.
If it's the OTP allow read bits I also don't think there is a need since that will be double gated by a required software exploit.

Good point on adding the note for the security notes, but I think for the FIPS stuff, I'm pr

[2022-01-22 00:42] #10099 closed

[2022-01-22 00:58] msfschaffner commented on #10262
Oh so for the MUBI item above I just wanted to double check whether the `prim_mubi*_sync` and `prim_lc_sync` modules have sec buffers to create the buffered copies.

If they do, @mwbranstad can use a combinational version (no sync flop) of `prim_mubi*_sync` to create multiple MUBI copies and consume them in several places using the decode function.
This should obviate the need to do any additional

[2022-01-22 01:44] timothytrippel commented on #10217
In opentitantool today, their exists a [`console`](https://github.com/lowRISC/opentitan/blob/88db0fb5ac32d6dda2ecc1c99d52e061e0910cfb/sw/host/opentitantool/src/command/console.rs#L25-L43) command that is designed to launch an "interactive" UART session with various hardware backends, presuming you had some sort of console SW on the hardware that was monitoring the UART. But really it seems you wan

[2022-01-22 01:51] msfschaffner commented on #6108
I think this is also how I see it. I think we can close it.

[2022-01-22 01:51] #6108 closed

[2022-01-22 02:20] tjaychen commented on #10262
i actually purposefully left `sec_anchor_buf` outside of `mubi_sync`.  I don't think all `mubi_sync` qualify as critical nets we have to bury.  So if we go down that route I think that would be too many. The life cycle broadcast signals are a category of their own, that's why I buried them into `prim_lc_sync` directly.

We can make a reasonable argument that all mubi should fall into this category

[2022-01-22 02:21] tjaychen commented on #10071
btw i think one thing we "might" not be dealing with yet is the templated modules. I've run into a few cases where either the wrong hjson or maybe the wrong rtl was being inspected? do you happen to know?

[2022-01-22 03:01] msfschaffner commented on #10071
Ah, this is something we need to double check.

The regtool does the check on the files that live at `../rtl/` relative to the hjson, so it could be that this currently only works for generated IPs that are generated with IP gen, since that one copies the entire documentation over as well (and the docs are built from the generated folder)...

Could this be the issue?

[2022-01-22 03:04] msfschaffner commented on #10262
Yeah that is a good point and the occurences within CSRNG probably fall into this category as you mentioned above.

That being said, I think there may still be value in using `prim_mubi*_sync` to create multiple copies if there are multiple endpoints, in order to ensure these all use separate decoders. WDYT?

[2022-01-22 03:08] tjaychen commented on #10262
definitely agree. I actually thought that's what we were using them for.  I
think that's the reason you had the `Async` options on them right? So we
can choose to skip the synchronizers and just deploy a buffer.

On Fri, Jan 21, 2022 at 7:05 PM Michael Schaffner ***@***.***>
wrote:

[2022-01-22 03:28] msfschaffner commented on #10262
Indeed, that is the reason.

@mwbranstad, this means that you can go ahead with the solution we had discussed in the meeting today that uses the `prim_mubi*_sync` (with async parameter set to 0) to generate copies of the MUBI and then consume the copies at the individual endpoints using individual decode function calls.

[2022-01-22 03:29] msfschaffner commented on #10071
Dang, it looks like the checking currently does not work properly for generated IPs in general, no matter how they have been generated.

[2022-01-22 03:44] msfschaffner commented on #10071
Ok so #10271 should take care of IPs generated via IP gen.
Still need to figure out the ones that are generated with the legacy mechanism.

[2022-01-22 04:17] msfschaffner commented on #10071
I pushed another patch to #10271 which takes care of legacy-style generated IPs, too.

[2022-01-22 06:38] msfschaffner commented on #10195
I took a stab at the rdata blanking in #10274 as well.

[2022-01-22 15:54] drewmacrae opened #10277 "[bazel] sw/device/silicon_creator/lib:sigverify_dynamic_functest has undocumented dependencies"
sw/device/silicon_creator/lib:sigverify_dynamic_functest depends on files in :sigverify_mod_exp_ibex and :sigverify_mod_exp_otbn.

These dependencies are added to sw/device/silicon_creator/lib/BUILD in https://github.com/lowRISC/opentitan/pull/10041 to fix the build so it doesn't block CI

[2022-01-23 05:40] martin-lueker commented on #10227
In order to test prospective solutions to this issue the test have been modified to support this feature.

You can pull the branch `issue_10227` from my fork (`git@github.com:martin-lueker/opentitan.git`) and run the command:

`util/dvsim/dvsim.py hw/ip/entropy_src/dv/entropy_src_sim_cfg.hjson -t xcelium -i entropy_src_rng -r 1 --job-prefix 'nc run -C ncsim_interactive -Il' -w shm -v d --fixed-see

[2022-01-23 14:51] domrizz0 commented on #1403
Regarding feature completeness and D2, we are working on an exception process -- to be used sparingly -- to keep things moving forward. Documentation, including capture, justification, and remediation plans will be a part of that. @a-will, @arunthomas should have reached out to get that started.

[2022-01-23 20:52] mdhayter commented on #1403
On a quick review I agree with @stefanlippuner and @a-will that 8.3.1 is clear and the correct response is to ignore transactions to unimplemented functions.

In the case of this block there may be functions that are implemented in hardware (i.e. you config for 12 endpoints) but should be "unimplemented" for the device being provided by the software. Those should also ignore transactions, which mo

[2022-01-24 09:49] TimEwins commented on #10218
@tjaychen

Hi Tim

OK, I may have misunderstood the functionality here, which is not suprising as the Spec is not specific.

I will reverse my local change and re evaluate the situation with new knowledge.

[2022-01-24 10:29] NigelScales commented on #10252
@tjaychen Yes title was a typo.

[2022-01-24 11:10] GregAC commented on #8538
We've already got a delayed reset generation for the lockstep core, which resets it in lock step the appropriate number of cycles after the main core (https://github.com/lowRISC/ibex/blob/97fa5cf28024b882ffa1acbe81f6b6c865715840/rtl/ibex_lockstep.sv#L109-L159) does this achieve what you were looking for @tjaychen ?

[2022-01-24 12:55] vogelpi commented on #10204
Interesting. It seems that on CW305 the loop is still there even though all defined states have now been listed. CI is currently failing because of this.

[2022-01-24 13:35] vogelpi commented on #10204
I've now filed a PR to insert a prim_flop for `err_sts` (the signal connecting the the FSMs inside `flash_ctrl_lcmgr.sv`). Maybe this will stop the optimization that causes Vivado to infer the combo loop.

[2022-01-24 15:16] mwbranstad commented on #10262
Thanks @msfschaffner and @tjaychen for precise clarification on this point.

[2022-01-24 15:47] alphan opened #10294 "`launder32()` in `HARDENED_CHECK_*` macros"
@mcy, we discussed a similar case before the `HARDENED_CHECK_*` macros were updated but I noticed this when looking at the disassembly (`mask_rom_fpga_cw310.dis`) for the last `HARDENED_CHECK_EQ` in `sw/device/silicon_creator/lib/sigverify.c` in #10284 that compares `result` with `kResultOk`:

[code]

If I use `HARDENED_CHECK_EQ(launder32(result), kErrorOk)`, I get:
[code]
which doesn't seem to be

[2022-01-24 16:29] martin-lueker commented on #10135
Fixed by #10243

[2022-01-24 16:29] #10135 closed

[2022-01-24 16:35] #9668 closed

[2022-01-24 17:13] senelson7 opened #10296 "Reset in stress_all vseqs"
While reviewing my PR#10264, @rswarbrick suggested I never assert reset between vseqs. Since I inherited the stress_all vseq from other IP blocks, this might be a more global issue that pertains to all IP blocks, not just edn/entropy_src. Anyways, it seems to me that asserting reset between vseqs is really no different than running a vseq individually and doesn't buy us anything. Thoughts one way

[2022-01-24 20:27] cindychip opened #10303 "[lc_ctrl] D2S review opens"
Action Items:

- [x] [msf] Fix KMAC_IF CM description, mention that it triggers local escalation in the main FSM.
- [x] [msf] Local FSM to global FSM (one goes to EscalateSt and the other to InvalidSt), reword the descriptions of these countermeasures accordingly.
- [x] [msf]KMAC.CTR.REDUN, remove this CM from the Hjson list
- [x] [msf] we should think about changing the LC encoding on purpose the

[2022-01-24 21:17] tjaychen commented on #10218
which part do you think needs to be clarified? feel free to file an issue.

[2022-01-24 22:18] drewmacrae opened #10308 "Revert button doesn't populate with a Signed-Off-By field"
Using revert in github generates a commit without a Signed-Off-By in the commit message which gets it rejected by CI.

[2022-01-24 22:21] tjaychen commented on #8538
not completely. If i'm reading this right, if the normal `rst_ni` were glitched, both the normal core reset and the shadow reset would trigger right? The idea of that shadow reset is that unless you hit an upstream node, one reset should not impact the other.

However, this idea does not apply quite as cleanly to shadow core since I think you guys have exact cycle requirements. I would say let's t

[2022-01-24 22:21] alphan opened #10309 "Consider adding HARDENED_RETURN_IF_ERROR"
Should we add...
[code]
I think this will likely be replaced by other upcoming hardenings... but it still feels good to have. We could similarly have a
[code]

I'm almost tempted to add a loop version too, e.g. `HARDENED_RANGE(size_t, i, 0, num_keys, {...})` but that may be too cute to be worth it.

_Originally posted by @mcy in https://github.com/lowRISC/opentitan/pull/10298#discussion_r791109608

[2022-01-24 22:30] weicaiyang opened #10311 "TLUL Error Response and devmode"
1. when there is an error on the read, we currently respond all 1s for CSR read and all 0s for mem read (all 0s is an illegal instruction in RISC-V #10195). I'm fine with this. LMK if this is a concern.

2. We have defined a `devmode`, but looks like this port hasn't been exposed to the IP top and it's tied to 1 in all IPs. Is below spec still valid or should we remove it?

[2022-01-24 22:33] tjaychen commented on #10131
i think what @mundaym is saying is that we don't want too many conditional checks inside the ROM (if life cycle == blah, enable debug etc). So even though hardware allows all jtag access during RMA, the ROM can still choose to lock itself out.

@moidx / @alphan i do think early on, it might be helpful to have jtag access in ROM, it "can" be helpful for very early or low power exit kind of debug.

[2022-01-24 22:42] tjaychen commented on #10303
let me answer this one offline.

i'm still not sure what's the right way to document this. But if it feels too forced, don't worry about it.

[2022-01-24 23:10] cindychip opened #10313 "[otp_ctrl] V2 UNR review TODOs"
- [ ] Add assertions to ensure partition 0 (vendor test partition) even though found a ECC uncorrectable error, it still won't fire fatal alerts.

These TODOs are for post-v2 UNR rewiews:
The following UNRs that need review during V2S:

- [ ] partition_buf.....u_prim_count
- [ ] u_otp_ctrl_dai.u_prim_count
- [ ] u_otp_ctrl_kdi.u_prim_count_entropy
- [ ] u_otp_ctrl_kdi.u_prim_count_seed
- [ ] u_otp

[2022-01-24 23:25] #8656 closed

[2022-01-25 02:15] #10230 closed

[2022-01-25 02:29] tjaychen commented on #10311
@moidx
@felixmiller

let's bring this up in the next security meeting. This is very related to an issue that we ran out of time to discuss last week.
Which is basically, what level of debug detail do we give the software?

This is more or less a philosophical decision of the entire project. Early on we decided to show very little, but that trend is somewhat shifting in certain areas, and we need t

[2022-01-25 02:49] drewmacrae commented on #10308
I don't see a way to configure or remove the button so I guess maybe the button's just a trap we have to avoid.

[2022-01-25 02:49] #10308 closed

[2022-01-25 03:05] msfschaffner opened #10318 "[doc] How to document TODOs deferred to a future IP revision"
There are certain TODOs that we decide to not fix anymore in a current IP revision.
The corresponding labels in the code are then typically changed to something like `ICEBOX` , with an attached issue link describing the future enhancement:
[code]
->
[code]

I think we have not formally agreed to guidance around this matter, so the format above forms the proposal.
We can discuss this some more at o

[2022-01-25 04:02] martin-lueker commented on #9853
Note: #9949 is only a partial Fix to this issue.  [See the ongoing discussion or how this resolution will continue](https://github.com/lowRISC/opentitan/pull/9949#discussion_r789841304)

[2022-01-25 05:37] #10226 closed

[2022-01-25 08:00] #9267 closed

[2022-01-25 08:05] rswarbrick commented on #10296
My take is that it's worth resetting in the middle of sequences, but we should have a sequence that resets in the *middle* of operations, when signals are most likely to be in their "non reset state". Since we need that test either way, I think that adding resets between operations in the stress sequence will just have the effect of making that sequence less likely to find errors.

[2022-01-25 08:32] rswarbrick commented on #10318
Sounds like a reasonable plan to me.

[2022-01-25 09:04] rswarbrick opened #10323 "[rom_ext] Possibly check ROM digest against a known value?"
The `rom_ctrl` block computes a cSHAKE digest of the ROM contents when we come out of reset. This is used three ways:
- It is compared with an expected value (also burned into ROM) and `pwrmgr` might not boot if they don't match.
- It flows into [`CreatorRootKey`](https://docs.opentitan.org/doc/security/specs/identities_and_root_keys/#creator-root-key).
- It is exposed as the [DIGEST](https://docs

[2022-01-25 09:26] sha-ron opened #10324 "OTP/flash registers’ structure change"
for better compatibility between open source and close source.

[2022-01-25 09:33] sha-ron opened #10325 "Add some private CI when returning code to github"
to check it doesn't break the foundry database.

[2022-01-25 09:39] sha-ron opened #10326 "chip_sw_flash_ctrl_access test is failing on the foundry database"

[2022-01-25 09:45] sha-ron opened #10327 "Add a smoke test using the RV JTAG on the foundry database"
For example performing a few transactions to the closed source OTP.

[2022-01-25 10:34] vogelpi commented on #8912
Related to that, it has been concluded in the D2S review for EDN that all IPs requiring high-quality entropy from EDN should further implement a repetition check at the EDN-bus granularity. If two 32-bit words received from EDN are the same, a recoverable alert should fire but there is no need to skip either of the words.

As pointed out by Greg earlier, if for any reason the fips bit isn't set we

[2022-01-25 10:34] vogelpi commented on #8912
FYI @rswarbrick , @GregAC

[2022-01-25 11:48] nodix95 opened #10328 "num_req_outstanding might overflow in tlul_socket_1n"
Suppose a host has one outstanding request to some peripheral. In that case, the host's 1:N socket will have its `num_req_outstanding` set to "1" and `dev_select_outstanding` pointing to the appropriate device. The device responds by raising the `d_valid` signal, which is considered accepted if the host's `d_ready` signal is also HIGH. If the response is accepted, `num_req_outstanding` decrements

[2022-01-25 14:30] NigelScales opened #10332 "Xcelium toggle coverage ignores X->1,0 and Z->1,0 transitions"
By default Xcelium will ignore transitions from X->1, X->0, Z->1 and Z->0 for it's toggle coverage collection.
This means static signals which only transition from all Zs or Xs to something are ignored.
Also dynamic signals, such as busses, which transition to/from X or Z are also ignored.

The default behaviour can be overridden by the commands:
set_toggle_includex
set_toggle_includez

Therefore

[2022-01-25 14:43] vogelpi commented on #10204
It's not clear to me why Vivado thinks it would be a good idea to make `ctrl_op` depend on `done_i`. Having looked at the RTL it should be the other way round only. What I noticed is that some signals going into `ctrl_op` are driven from inside `flash_mp.sv` performing some checks of config properties against `phase` driven from inside `flash_ctrl_lcmgr.sv`. I suspect that if `phase` never takes o

[2022-01-25 15:42] martin-lueker commented on #10296
@rswarbrick: You have a point. This behavior would be a somewhat complicated change. However you could imagine updating the cip_base_virtual_sequencer to configurably & randomly reset in the middle and restart any vseq as part of all the tests.   That could be slick, but it would take a couple rounds of debugging, and I wouldn't want this feature enabled in the smoke tests.

[2022-01-25 15:51] martin-lueker opened #10335 "[doc] Bazel Installation in the getting started guides"
If users are required to use Bazel the installation procedure has to be documented in the [Installation Instructions Page](https://docs.opentitan.org/doc/ug/install_instructions/#system-preparation)

[2022-01-25 16:27] tjaychen commented on #10327
@cindychip

[2022-01-25 16:36] tjaychen commented on #10204
@vogelpi i wonder if that fix is sufficient.. I'll need to revisit the logic a bit more but I cannot remember if I actually need `PhaseInvalid` for any specific reason, or that I just wanted to have a separation between normal and a bad case.

On a separate note, I have another local one that's working now as well.  But the fix there involved me adding additional states so that `done_i` isn't dire

[2022-01-25 16:41] tjaychen commented on #10326
@sha-ron actually were you able to run this test successfully in open source? It would be good to compare the simulation differences in the open source and foundry databases.

[2022-01-25 17:09] #10227 closed

[2022-01-25 17:43] rswarbrick commented on #10332
I'm not sure. I mean, if we only go from X to 0 (say), I'd claim the signal hasn't toggled: the X value might be modelling something with value 0 in the first place!

[2022-01-25 17:45] rswarbrick commented on #10296
Yep, that's why I assumed every block would be adding an explicit "reset" test. See `otbn_reset`, for example.

[2022-01-25 18:13] TimEwins opened #10343 "[flash_ctrl] RMA Questions"
I have a few open questions on the RMA Functionality of the Flash Controller

Firstly, on the whole it seems to operate as expected.  Once RMA is entered, the Flash is Erased and then overwritten (as viewed in the waves, and our test for this feature.  This is good news.

**Question 1 - DUT Status after RMA Request**

Spec says: -
"Unlike the seed phase, after the RMA phase, the flash controller d