[2020-06-05 20:12] udinator commented on #2405
@tomroberts-lowrisc please correct me if I'm wrong, but from looking at the PR you opened in Ibex, one main issue seems to be having an interrupt asserted at the same time a load/store instruction is in the decode stage?
@sriyerg the current Ibex testplan has several tests that stress interrupt behavior in Ibex, my best guess as to why I haven't seen this issue before is due to the relatively smal

[2020-06-06 01:45] msfschaffner commented on #2401
That's a good idea @eunchan, I've been thinking about that as well! But I guess this is a task for after Bronze ;)...

[2020-06-07 06:12] ladmangesh805 commented on #2408
Yes got the desired results.
With Completely update the opentitan.

[2020-06-07 06:12] #2408 closed

[2020-06-08 01:03] nmoroze commented on #2315
Thanks @GregAC for your thoughts. I've opened PR #2420 based on your suggestions!

[2020-06-08 07:26] rswarbrick opened #2422 "Wave dumping broken on xcelium"
PR #2128 (mine) merged the VCS and xcelium code for dumping waves. This was probably a bad idea, because the two tools have different syntax. We need to split the code out again, either into a file per tool or a "base" file with an xcelium "override".

To get things working locally in the meantime, manually prefix the calls to `fsdb*` in waves.tcl with "`call `". The [original report](https://gith

[2020-06-08 07:28] rswarbrick commented on #2422
My personal preference is to have a file per tool (as the PR had originally). @sriyerg, what do you think?

[2020-06-08 07:44] tomroberts-lowrisc commented on #2405
That's correct @udinator it needs an interrupt on the same cycle as a load/store - there might be some other timing conditions to hit as well (maybe zero delays on the load/store interface?). The bug causes a second bogus load/store to be issued to a bad address.

The assertion firing was convenient to spot something going wrong, but it's incorrect (that's not how the bus protocol works).

[2020-06-08 10:12] silvestrst commented on #2292
I can add it, but I would like to get UART to S1.

[2020-06-08 10:17] lenary commented on #2292
S1 doesn't require the API to never be changed. Let's put it in the queue for after S1.

[2020-06-08 10:48] rasmus-madsen commented on #2370
@rswarbrick one question.
if two tests have different build time dependencies - then you would need recompilation in between wouldn't you?

[2020-06-08 11:08] rswarbrick commented on #2370
In the dvsim model, there is a single "build" phase that runs VCS/xcelium/whatever to build one or more tests (specified by test class & top-level sequence). Then there's a "run" phase, that runs the these tests with one or more random seeds.

Here, I'm talking about the order that we should run stuff that was generated by a single build, and arguing that we should interleave runs for different te

[2020-06-08 11:18] rasmus-madsen commented on #2370
@rswarbrick I agree TEST is used to widely here.
I think we could all be better as using the correct names.
what is typically called test in OpenTitan should be referred to as test sequence IMO.

[2020-06-08 12:14] lenary opened #2426 "CI Not Processing Jobs"
CI has stopped processing jobs again this morning.

Looking at https://dev.azure.com/lowrisc/_settings/agentpools?poolId=1&view=agents - all the custom build agents have been offline since yesterday.

[There are stalled jobs building `master`](https://github.com/lowRISC/opentitan/commits/master), which we need to get going again before too many PRs start landing for this week's work.

[2020-06-08 12:52] silvestrst opened #2427 "[sw, dif_uart] S1 signoff UART sanity check"
Me and @lenary last week have discussed whether DIF UART requires a sanity check. Initially @lenary was of an opinion that there should be a sanity check for DIF UART similar to other peripherals, however eventually we "half agreed" that DIF UART is sanity checked in terms of other tests. If UART doesn't work - none of the other checks will succeed, as CI is expecting `SUCCESS` output from the tes

[2020-06-08 12:52] silvestrst commented on #2427
@lenary @gkelly - some thoughts before S1 signoff procedure.

[2020-06-08 12:53] lenary commented on #2427
I had expected we would discuss this in the S1 signoff meeting.

[2020-06-08 12:55] silvestrst commented on #2427
It's in preparation for this meeting, so that we have this issue at hand.

[2020-06-08 13:52] imphil commented on #2426
@asb has restarted the agent and it's now churning through the backlog.

[2020-06-08 13:52] #2426 closed

[2020-06-08 15:16] GregAC opened #2428 "[sw,meson] Infinite ninja build loop"
I quite commonly encounter a situation where a `ninja -C ./built-out` causes some kind of infinite loop. This seems to occur when I run `ninja -C ./build-out` having had a successful build previously, changed some file and then run again. Here is an example of the output:

[code]
This repeats over and over

A `meson_init.sh -f` is required to fix it (the `-f` is needed a plain `meson_init.sh` does

[2020-06-08 15:23] lenary commented on #2427
We discussed this in the UART S1 Signoff meeting. We do think a sanity test would be useful, one that directly uses the uart dif (so that dv's printing infrastructure is bypassed) to print a simple string.

We discussed potentially using the loopback enable to check send and receive, but decided this could wait until later.

We did discuss how many changes to do to the CI infrastructure, and the f

[2020-06-08 15:39] imphil commented on #1941
https://github.com/lowRISC/opentitan/pull/2198 merged 64b wide flash and a series of preliminary patches laid the foundation for that, so we can consider this one closed.

[2020-06-08 15:39] #1941 closed

[2020-06-08 15:41] imphil commented on #76
@tjaychen @msfschaffner I think there has been some thinking on this issue recently, can you update this issue with the current status?

In terms of implementation, we now have `prim_ram_1p_adv` as a wrapper available for such functionality, and `prim_ram_2p_adv` as an example how to implement some of the ECC/Parity functionality, not yet considering write masks.

[2020-06-08 17:00] cdgori commented on #2382
I wouldn't apologize, I'm equally guilty of doing such things.  :)

But, it actually does prompt me to think, in general should we favor splitting such an issue up into multiple issues so they can be resolved in parallel threads?  I'm not sure of best practice here, since I think a lot of the topics you identified are documentation clarifications and should probably be bundled together in one pass

[2020-06-08 17:00] cindychip commented on #727
Hi Eunchan,

Sorry it took so long to address this issue.
I think by adding an assumption here for data (`data_i inside {...}`) does help reduce the run time. What makes it still runs very slow is the `mask_i` variable. Due to the size of `mask_i` (32 bits), formal engine has to run all the combinations, thus takes a very long time.
If you add another constraint for `mask_i`, the tb can converge v

[2020-06-08 17:19] lenary commented on #2428
Ninja will re-run meson when it thinks the generated ninja files are out of date. Presumably something in the meson generation process is making ninja think that the generated ninja files are immediately out of date when generated. Are you running on a nfs or something?

[2020-06-08 17:20] vogelpi commented on #2382
Thanks @silvestrst for opening up the issue and @cdgori for your replies.

I am still catching up on various things but hopefully will be able to get back to this thread later during the week. Ideally, we can resolve the simple points directly here and I'll probably open up parallel threads for some of the tougher ones.

[2020-06-08 17:22] imphil commented on #2382
General advise: Yes. Don't worry about the number of issues. One issue == one issue, as small as it might be. And it gives you increased gratification by closing more issues :smile:

[2020-06-08 17:32] GregAC commented on #2428
No nfs, just a normal ext4 file system.

[2020-06-08 17:46] tjaychen commented on #76
@imphil
thanks Phil will do. Sorry I need to document the memory scrambling / ecc / parity discussion we did a couple of months ago.

I just have not gotten to it.  It is in a way..somewhat on-hold because I am hoping to get some security lab guidance to make sure it is okay.

[2020-06-08 17:46] tjaychen commented on #76
assign to myself to documentation purposes

[2020-06-08 17:50] imphil commented on #76
@tjaychen no worries, we just got reminded of this one today when talking about the icache, but there's nothing blocked at the moment by this issue.

[2020-06-08 18:32] mcy opened #2433 "[sw] Add missing test for `dif_i2c_write_byte()`."

[2020-06-08 19:23] sriyerg commented on #2370
Build time dependencies are set using `build_mode` key. If this key is not present, it uses the `default` build mode (which is the 'vanilla' build without any extra options). If a test needs specific build options, it needs to wrap it in a unique `build_mode`. See example below:

[code]

When you specify tests that need to be run, `dvsim` will figure out how many builds are to be dispatched. Examp

[2020-06-08 19:35] sriyerg commented on #2422
My preference is to actually move the `$fsdvDump*` system calls to a SV code instead so that we can get rid of the tcl files (we will retain the per-tool tcl file for other tool-specific sim controls). The benefit of that is allowing run-time control of how to dump stuff via plusargs (which is tool agnostic). I am researching a bit on this - will get back with a prototype.

[2020-06-08 22:30] imphil opened #2434 "[doc] Development stages: "Active" stage?"
https://docs.opentitan.org/doc/project/development_stages/#life-stages mentions an "Active" stage.

"The final life stage is Signed Off. At this point, a design is frozen and not expected to be updated. There are exceptions if post-signoff bugs are found, in which case the stage returns to **Active** and the version number is not updated."

However, there's no such stage mentioned in the document.

[2020-06-08 23:44] sriyerg commented on #2405
Yeah, you're right. I think without the assertion error, we would have run into an issue somewhere else eventually since the CPU is already thrown out of whack.

[2020-06-08 23:57] sjgitty commented on #2434
Yep, let me fix that, thanks

[2020-06-09 00:47] cindychip commented on #2404
close this issue as both PRs are merged.

[2020-06-09 00:47] #2404 closed

[2020-06-09 00:57] tjaychen opened #2436 "[keymgr] Combine key_id and salt"
These are two separate, software configurable inputs to key manager right now.
However, it is okay for these two to be merged and only maintain 1.

[2020-06-09 00:58] tjaychen commented on #2436
@moidx

[2020-06-09 00:59] tjaychen opened #2437 "[top_earlgrey] Re-arrange peripherals by memory map"
Does anyone have any objections if i go through and re-arrange peripherals by memory address? I'm actually having a hard time figuring out where a new peripheral should go, since it's kind of arranged out of order.

@eunchan i'm guessing this is also on your radar since you are re-arranging the memory map.

[2020-06-09 01:06] sjgitty commented on #2437
sgtm

On Mon, Jun 8, 2020 at 5:59 PM tjaychen <notifications@github.com> wrote:

[2020-06-09 07:27] vogelpi commented on #2125
I am closing this issue as the corresponding PR has been merged. Please feel free to re-open if further questions arise.

[2020-06-09 07:27] #2125 closed

[2020-06-09 07:32] silvestrst commented on #2427
I had a look now, and It seems that my simple idea of printing out `SUCCESS` in the `dif_uart_sanitytest.c` won't work. Sanity tests don't directly print `SUCCESS/FAIL` string anymore - they are returning `bool`, and `sw/devices/tests/main.c`  -> `test_status_set`.

I think the loopback is probably the way to go, hence the questions for @lenary and @gkelly :
Shall I extend DIF_UART API to be able

[2020-06-09 08:06] rswarbrick commented on #2422
Sounds sensible to me.

[2020-06-09 09:29] lenary commented on #2427
Yes add the extension for enabling loopback (probably only one of them), and document that that API is only for testing. We still don't know how DV extensions will work so we can delay putting this into a DV extension until we do.

[2020-06-09 09:35] #1387 closed

[2020-06-09 10:15] imphil commented on #76
Not the solution, but an implementation step towards it, is in https://github.com/lowRISC/opentitan/pull/2418

[2020-06-09 10:23] GregAC commented on #2428
Yesterday I took a clean opentitan check and did a new build with `meson_init.sh` followed by `ninja -C ./build-out/`, I then left it. Today I ran `ninja -C ./build-out/` again (with no changes) and I got the infinite loop.

I am wondering if this is actually a meson bug? Possibly something to do with US/UK date mismatch so it ends up getting the same day as a string in DD/MM and MM/DD formats, th

[2020-06-09 18:40] eunchan commented on #2437
https://docs.google.com/spreadsheets/d/1ptfdrG5RWiYHKtjYyDO1ubGYPPlN_4YQfzRKO1G1Mls/edit#gid=0

Link for suggested memory map.

[2020-06-09 20:06] tjaychen opened #2445 "[mem] Add parameterizable option for multiple memory banks"
My thinking is that we can just add a parameter...and if the rest of the parameters can represent the characteristics of a single bank.. we would just then duplicate that across multiple banks.

What do you think?

[2020-06-09 20:37] cindychip opened #2446 "[prim_packer] overflow when InW > OutW"
Hi Eunchan,

Thank you for pointing out that prim_packer supports arbitrary InW/OutW.

I found if `InW` > `OutW`, `mask_o` does not seem to output correct values.
In my case, the InW=5 and OutW=4. Input `mask_i` is always `'h1f`, `flush_i` is always 0, but output is `mask_o` is not `'hf`.

![image](https://user-images.githubusercontent.com/11466553/84196699-729c2800-aa55-11ea-8938-8a4313087c5e.png

[2020-06-09 20:39] tjaychen commented on #2446
hmmm...Eunchan was prim_packer meant to downsize also? I guess I just
always assumed it was upsizing, but I could be wrong.

On Tue, Jun 9, 2020 at 1:38 PM cindychip <notifications@github.com> wrote:

[2020-06-09 20:40] cindychip commented on #2446
I could be wrong:)  I think Eunchan mentioned here in this PR: https://github.com/lowRISC/opentitan/pull/2431
[code]

[2020-06-09 20:45] tjaychen commented on #2446
ah okay sounds good. Yeah for some reason I just always assumed outw >
inw.. probably not the right assumption :)

On Tue, Jun 9, 2020 at 1:41 PM cindychip <notifications@github.com> wrote:

[2020-06-09 20:48] cindychip commented on #2446
Haha same here, I did not know until Eunchan commented on my PR today!

  Cindy Chen

On Tue, Jun 9, 2020 at 1:46 PM tjaychen <notifications@github.com> wrote:

[2020-06-10 00:26] msfschaffner opened #2450 "[prim_ram*] Support for Parity/ECC in memory loaders"
If we want to enable Parity or ECC on our main SRAM, we need support for that in our backdoor memory loading mechanisms.

This can be achieved in several ways, e.g. by either manipulating the binary before loading, or by directly incorporating that functionality into the backdoor interfaces themselves:

https://github.com/lowRISC/opentitan/blob/master/hw/dv/sv/mem_bkdr_if/mem_bkdr_if.sv
https://gi

[2020-06-10 00:41] sjgitty commented on #2450
One reason for the former is if we want to inject parity errors during the backdoor load, otherwise I recommend the latter. We could for that matter add a backdoor interface method that injects an error if we wanted to.

[2020-06-10 00:52] msfschaffner opened #2451 "[prim_ram*] Support for generating multiple physical tiles"
For ASIC implementations, it would be good if we had a parametric way to split up large logical RAMs into multiple physical RAM banks/tiles, mainly for two reasons:

1) the size of physical SRAM cuts that we can compile for ASIC has an upper limit,
2) for floorplanning reasons in physical design.

An instance of such a large memory is our main RAM. While in this case we could still compile one gia

[2020-06-10 00:53] msfschaffner commented on #2451
Also note that by doing it this way, ECC/Parity logic in the `*_adv` wrappers would be automatically shared among all tiles.

[2020-06-10 00:54] tjaychen commented on #2451
i actually filed a duplicate issue :) #2445
let me go close that one.

[2020-06-10 00:55] #2445 closed

[2020-06-10 00:56] tjaychen commented on #2451
so the width / depth, does that represent the overall size? Or individual tile size?  Are we basically going to take those, and if tile is > 1, re-calculate the per tile size?

[2020-06-10 00:56] msfschaffner commented on #2445
Sorry about that, looks like we had the same thought ;).

[2020-06-10 00:57] tjaychen commented on #2450
i think the last time i spoke to @imphil about this (when he was doing the 64b expansion), he seemed to prefer the approach of manipulating before loading.

@tomroberts-lowrisc also did some work here, so i'm adding him as well.

[2020-06-10 00:58] tjaychen commented on #2451
o i guess only depth is impacted in this case.

[2020-06-10 01:00] msfschaffner commented on #2451
yeah sorry about that :).

Yes that was the intent. I.e., you would specify the total size of the RAM that you want, and for ASIC prims the tiling parameter is used under the hood to split the RAM into multiple cuts.

[2020-06-10 01:00] tjaychen commented on #2451
sounds excellent to me.

[2020-06-10 01:01] msfschaffner commented on #2451
We could technically add a second tiling parameter for the RAM width, since sometimes in certain cases you cannot achieve a certain width/depth ratio with a single cut.

[2020-06-10 01:03] tjaychen commented on #2451
ah you mean like split entries across multiple rams, and also a word across
multiples rams?
That would certainly be good to add, but probably not something needed for
this project....yet...

On Tue, Jun 9, 2020 at 6:02 PM Michael Schaffner <notifications@github.com>
wrote:

[2020-06-10 01:18] msfschaffner commented on #2451
Yeah this would only be to make the prim wrappers a bit more generic (for now).

[2020-06-10 07:01] sriyerg commented on #2451
Sounds good to me, though it might need `hw/dv/sv/mem_bkdr_if` to be re-jigged perhaps, to fit this construct.

[2020-06-10 07:49] sriyerg opened #2455 "[fusesoc] prim_generic_flash dependency ram1p is not getting generated"
`lowrisc:prim_generic:flash` adds dependency on `lowrisc:prim:ram_1p`, however the generator for creating the generic version of ram1p does not kick in, causing compile error.

[2020-06-10 07:51] GregAC commented on #2451
So the tiling parameter would split it up into multiple banks of the same width and add some address decoding/muxing logic to set enables and route read data out from the right bank?

Sounds like a reasonable approach to me, though I do wonder if an option to expose the banking structure might be useful for the icache, it's possible we could have more efficient logic (as the icache is already doin

[2020-06-10 07:52] sriyerg commented on #2455
PR #2452 is a temporary workaround.

[2020-06-10 08:13] ladmangesh805 opened #2456 "To check functionality of SHA2 ,application for that."
Hello,
I want to check SHA2 working functionality in Opentitan .
I want to write application for that .
My issue is with
1.How to do it?
2.It is possible in opentitan to check separate part functionality.

link I am using
[https://github.com/lowRISC/opentitan/blob/master/sw/device/lib/hw_sha256.c](url)

https://github.com/lowRISC/opentitan/blob/master/sw/device/lib/hw_sha256.h

[2020-06-10 08:37] islengxw commented on #2316
OK, thank you for your reply~

[2020-06-10 09:17] imphil commented on #2455
Yes, that's a known limitation. I did file https://github.com/olofk/fusesoc/issues/404 to keep track of it on the FuseSoC side. Your workaround in #2452 is the currently recommended way to fix that.

[2020-06-10 09:17] #2455 closed

[2020-06-10 10:39] imphil commented on #2450
A couple of guiding questions I can think of:

- Where do we have the information of what kind of transformation is needed? We currently don't have it in `prim_ram_1p`/`prim_ram_2p`, which is the where `prim_util_memload.sv` is used (the ECC/Parity information is only in the advanced wrapper, the underlying RAM is unaware of it).
- How much "fancy transformation" do we want to do. If it's only ECC

[2020-06-10 15:52] luismarques opened #2459 "RFC: Completing the Migration to Clang/LLVM for RISC-V OpenTitan software builds"
As a follow-up to the previous proposal on migrating to Clang/LLVM for RISC-V OpenTitan software builds, we wrote a document that proposes completing this migration process. The document analyses the impact of the migration up to this date and details the next steps for completing the migration process. You can find the complete document here: [RFC: Completing the Migration to Clang/LLVM for RISC-

[2020-06-10 17:54] tjaychen opened #2461 "[Clocking] Glitchless clock switching"
Hi all,
Please have a look at this glitchless clock switching proposal currently required by a few blocks in the design.

https://docs.google.com/document/d/1UPBqYqOIrO9FPWCXQQMoGxSqq_6QAhxzoWM7L3_H00E/edit?usp=sharing

Currently, we are leaning towards the second option, but happy to hear everyone's input.

[2020-06-11 01:45] weicaiyang opened #2464 "[xbar] top-level xbar connection"
In current top-level xbar test bench, we connect to the wires between xbar and IPs. As @sriyerg  pointed out, there are potential issues, like misconnection or extra masking between IP port and the wire we drive, which may not be caught. @sriyerg may add more rational.

We decided to drive on the IP ports, but since some connections of some IPs are hand written, we need more info from xbar hjson (

[2020-06-11 03:50] islengxw opened #2466 "About TOOL_SRCS_DIR environment setting"
Hi,  when i run top_eargray prj with chip_sanity testcase. In the simulation step, it report not set TOOL_SRCS_DIR environment variable, then quit.
This error message produced by opentitan/hw/dv/tools/vcs/vcs.tcl, then i grep the "TOOL_SRCS_DIR" in the root forlder, i guess simulation will mkdir this forlder and copy the tcl files in the /hw/dv/tools/vcs and excution.
`if {[info exists ::env(TOOL_

[2020-06-11 06:04] ladmangesh805 commented on #2456
@silvestrst
Thank You.
I got my answer .

[2020-06-11 06:04] #2456 closed

[2020-06-11 06:53] sriyerg commented on #2464
Consider the connectivity of `tl_*_o.a_source[7:1]` from Ibex to XBAR (and hence, to all devices connected to the XBAR interconnect). With regular functional testing, Ibex can only wiggle the bit 0. The rest of the 7 bits shows up as uncovered on all hosts and devices and on the interconnect.

How can we prove that there is nothing in the design that could be gating or masking those upper bits? It

[2020-06-11 07:54] imphil opened #2467 "[CI] Default runner is backlogged"
The default runner isn't accepting new jobs since ~8h.

https://dev.azure.com/lowrisc/opentitan/_settings/agentqueues?queueId=1&view=jobs

@asb

[2020-06-11 08:05] asb commented on #2467
Fixed. Failure remains the same - no errors in logs, agent is "Listening for Jobs". Restarting fixes it.

[2020-06-11 08:05] #2467 closed

[2020-06-11 08:12] imphil commented on #2467
Looks on the surface like the same issue I've seen on the private runners.

[2020-06-11 13:44] imphil opened #2468 "[otbn] Create top-level wrapper"
Create top-level OTBN SV file with RAMs, interface definitions, etc.

The external interfaces are also part of the specification PR #2393 and may need to be copied into a separate PR to avoid blocking on the spec merging.

[2020-06-11 13:49] imphil opened #2469 "[otbn] Produce assembly for modulo exponentiation with OTBN v0.1 syntax"
Produce an assembly snippet for doing a modulo exponentiation in the OTBN v0.1 syntax as proposed in #2393.

[2020-06-11 15:47] asb commented on #2459
Thanks for posting this Luis. Just to note that @sjgitty have discussed and taking into consideration the fact this is an incremental follow-up to a previous widely circulated and accepted proposal have tentatively queued this for discussion at the Technical Committee meeting next Wednesday. The TC will be prepared to consider approval if there are no major concerns raised in this next week. If it

[2020-06-11 16:14] imphil opened #2470 "[OTBN] Evaluate multiply instructions against different cryptographic use cases"
The OTBN v0.1 specification defines a BN.MULQACC instruction, which combines a multiply with an accumulate and shift operation.

We need to try out using this instruction in the implementation of crypto algorithms to see how it fits in there, especially when used in loops (how much of the loop needs to be unrolled?)

Goal: Figure out if BN.MULQACC works as intended. If changes are needed beyond th

[2020-06-11 16:33] imphil opened #2471 "[OTBN] Make an instruction set simulator for the v0.1 spec available"
We'd like to have an instruction set simulator for OTBN.

The goal of this issue is to provide a starting point for such a simulator: the necessary framework, and the implementation of at least some of the v0.1 OTBN instructions.

[2020-06-11 16:34] imphil commented on #2471
@wallento and @felixmiller have started work on that.

[2020-06-11 16:37] imphil opened #2472 "[OTBN] Produce a minimal "assembler""
Produce a minimal "assembler" for OTBN instructions. This does not need to be integrated into any toolchain, a minimal script should do the trick to complete this task.

Dependencies:
- [x] Define initial OTBN instruction encoding #2391

[2020-06-11 16:41] imphil opened #2473 "[OTBN] Create area estimate for v1-bronze"
For bronze, we need an area estimate for OTBN. A rather rough (whatever that means in percent) is sufficient.

The IMEM and DMEM SRAMs have already been accounted for, so focus should be on:
- ALU
- Other blocks (decode, fetch, LSU, control flow)
- register files

[2020-06-11 18:47] eunchan commented on #2464
Want to clarify the intention. The purpose of driving from the module should be solely checking the connection between the module port and the Xbar port. One good thing is that TL-UL only uses typedef struct for h2d/d2h. So the scenario Sri mentioned is not possible, unless someone manually modifies in the top template (for those modules hand-instantiated).

Easiest way is to have manual force con

[2020-06-11 19:24] wallento commented on #2391
You can assign this to me. The straightforward mapping of the instructions to the available space in the custom encoding space can be found here: https://docs.google.com/spreadsheets/d/1zOSGkT0Hua3IS6u3bUk56FoGj8vfEf0-UNo8oydRC40

[2020-06-11 19:28] wallento commented on #2472
It is a side product of the Python RISC-V model I am building: https://github.com/wallento/riscv-python-model
Assembler programs can be
- Written programmatically: https://github.com/wallento/riscv-python-model/blob/master/riscvmodel/program/tests.py#L9, or
- given in text and converted to binary code (trivial, but tbd)
I am doing some crafting along with extending the model for OTBN to do it in a

[2020-06-11 19:30] wallento commented on #2471
The Python RISC-V Model is a proposal for this: https://github.com/wallento/riscv-python-model
The ISA is very easily overloaded by defining instruction types (https://github.com/wallento/riscv-python-model/blob/master/riscvmodel/insn.py#L123) and then the instructions using this type along with their modelling (https://github.com/wallento/riscv-python-model/blob/master/riscvmodel/isa.py#L29). We

[2020-06-11 19:34] eunchan commented on #727
Thanks for the follow-up. OK I should limit the mask_i too. in HMAC :) I will close this issue.

[2020-06-11 19:34] #727 closed

[2020-06-11 19:42] eunchan commented on #2451
If ECC is used in multi-bank SRAM macros, I think it should be two separate instance in current SRAM wrapper design. ECC, as I learned, shall be per bank, for instance, if we want to make 4x 32bit SRAMs for 128 wide bit, then ECC should be per SRAM so eventually the macro shall be 4x 39bit SRAMs. As OT's ECC applies prior to prim_ram_*p module, it is not doable unless the wrapper instantiates ram_

[2020-06-11 19:44] imphil opened #2477 "[otbn] Hook up ISS with top-level to give us a bus-functional model"
We want to create a bus-functional model (BFM) for OTBN. We can do that by hooking up our in-development instruction-set simulator to the toplevel of OTBN.

General idea:
- Have a otbn.sv toplevel containing IMEM, DMEM, the generated registers, and interrupts.
- Add logic to this file to
  - Wait for the "start" signal
  - Write the contents of IMEM and DMEM to a file
  - Probably through DPI: cal

[2020-06-11 19:47] imphil commented on #2471
I think I missed that we don't need any assembler or model extensions as a starting point, we can simply start with a bit of normal RV32 assembly in standard encoding.

So I think it would be a helpful starting point to just hook up the unmodified simulator first, we can then gradually extend it with the BN instructions.

[2020-06-11 21:48] eunchan opened #2482 "[topgen] TOP RAL generation error"
If the module name differ from instance, TOP RAL generation raises `TypeError` while assigning base addr.

Looks like the code below assumes that the instance name is same to the instance type and only one instance per type exists in a top.

https://github.com/lowRISC/opentitan/blob/e39f67d01a2fef4221ed534647a38bf7f148a127/util/topgen.py#L598-L602

It is reproducible in `v1-bronze` branch with the

[2020-06-11 22:50] sriyerg commented on #2206
I am working on GPIO test at the moment. Invoking PLIC DIFs 32 times is a little ugly. It will be nice to see a solution for this soon.

[2020-06-11 22:52] sriyerg commented on #2206
Actually nvm, I can just loop it.

[2020-06-12 06:32] sriyerg opened #2484 "[rtl] pinmux mio[16-19] functionality"
On the core<->pinmux side, mio[16-19] bits are connected to gpio[16-19] with no other alt functions muxed with those pins.

At the padring<->pinmux side, however, mio[16-19] maps to special chip inputs (jtag_spi_n, bootstrap, jtag_trst and jtag_srst).

This seems problematic - there is nothing preventing SW from configuring GPIO[16-19] and corrupt/modify those inputs (example, cause a JTAG reset).

[2020-06-12 07:27] silvestrst commented on #2206
@sriyerg could you point me at the PR please, It would be interesting to see how you are doing it.

Is it something like having an array/structure with IDs, etc... and looping through it in a `for` loop?

[2020-06-12 15:16] rswarbrick commented on #2370
Fixed by PR #2400.

[2020-06-12 15:16] #2370 closed

[2020-06-12 18:26] tjaychen commented on #2484
i think the padring<->pinmux stuff was a temporary patch by @msfschaffner.
The jtag stuff specifically, eventually needs to be tied into the life cycle behavior of the chip, which requires more modifications on the pinmux side.

The bootstrap on the other hand should just be a GPIO though, I'm less clear why that one is in the special category.

[2020-06-12 21:38] cdgori commented on #2470
While not exactly what this issue is covering, probably related because you'll have to try to profile the execution of the crypto algorithms: an actual cycle count for say, a RSA 2048 verify, or a ECC p256 verify would be a really, really helpful thing to be able to measure (either from an instruction set simulator or the current RTL design, once it reaches the point of maturity where it can do su

[2020-06-14 20:58] NilsGraf opened #2492 "Possible typo in pwrmgr_cdc.sv"
[Line 108 of pwrmgr_cdc.sv](https://github.com/lowRISC/opentitan/blob/master/hw/ip/pwrmgr/rtl/pwrmgr_cdc.sv#L108) assigns a multi-bit parameter to a 1-bit parameter, is this a typo?
[code]
Note that `PWR_AST_RSP_SYNC_DEFAULT` is multi-bit (see [here](https://github.com/lowRISC/opentitan/blob/master/hw/ip/pwrmgr/rtl/pwrmgr_pkg.sv#L46-L51)):
[code]
And `ResetValue` is only 1 bit wide (see [here](htt

[2020-06-14 23:13] felixmiller commented on #2470
You can assign this to me. Will be looking at this when converting the existing algorithms for modular exponentiation and ECDSA to the new ISA

[2020-06-15 08:45] GregAC commented on #2470
I wrote up a document explaining how the current instruction can be used exploring ways we could extend it if required: https://docs.google.com/document/d/1ZNF-GAfiYqIUiBveCHNw1VW-6im0JFZTPjoW-d3jECA/edit?usp=sharing (I think this should be accessible via any opentitan.org account, if you want access and it's not working let me know and I'll add you manually)

The current issue is the most efficie

[2020-06-15 09:00] #2434 closed

[2020-06-15 09:34] imphil opened #2494 "[prim_ram] Add reset signal to prim_ram_1p/prim_ram_2p?"
prim_ram_1p/prim_ram_2p currently don't have a reset signal input, as they don't need one. (Note that the `_adv` wrappers have a rst signal; this discussion is about the underlying primitives.)

For writing assertions, a reset signal, however, is helpful. Other use cases might come to mind.

I don't have a strong feeling either way, WDYT @tjaychen @msfschaffner @sjgitty @sriyerg?

[2020-06-15 09:55] rswarbrick commented on #2494
Another option might be to stick the assertions in a "protocol checker" module which you instantiate whenever you actually use the primitive (maybe with a macro or wrapper module; maybe not). That might make it a bit more obvious which bits are part of the actual design and which bits are just for sanity checks.

[2020-06-15 09:57] vogelpi commented on #2382
Hi @silvestrst ,
I went through all the questions and pushed a PR to clarify some of the points. In the following I am answering all questions that can be easily answered. For some, I will create a new issue.

[2020-06-15 09:57] vogelpi commented on #2382
If there is unread data in the aes.DATA_OUTn registers, will the flag be set?

The behavior of this flag is unrelated to any of the registers. This flag is set unless either:
- the cipher core is running,
- the module is busy with clearing registers,
- the module is busy with reseeding the PRNG.

No.

Yes, if the cipher core is stalled (meaning the cipher core is running but cannot finish the curr

[2020-06-15 09:58] vogelpi commented on #2382
I tried to clarify this in the doc.

[2020-06-15 09:58] vogelpi commented on #2382
As @cdgori  mentioned, AES-128 and AES-256 are much more similar. AES-192 requires a lot of additional muxing in the KeyExpand step (because 192 is not a power of two, you the key expanding is less regular and you need more multiplexers with more inputs). This is briefly explained in the KeyExpand section: "Key expanding is the only operation in the AES unit for which the functionality depends on

[2020-06-15 09:58] vogelpi commented on #2382
From a functionality point of view, there is no difference in writing 0 or a random value. But I think from a security point of view, a random number would be better. I will update the spec.

[2020-06-15 09:59] vogelpi commented on #2382
aes.STATUS.STALL, would be useful to annotate that it is only relevant in terms of automatic operation mode, and has no effect during the manual operation mode.

I agree and updated will update the spec.

[2020-06-15 10:00] vogelpi commented on #2382
The aes.TRIGGER.START bit is relevant only when in manual operation mode. All the other triggers are relevant for device de-initialization. aes.TRIGGER.PRNG_RESEED may also become relevant during normal operation. Even while a encryption/decryption is running, software may request a PRNG reseed to "refresh" the randomness. At the moment, this is not yet very relevant as the cipher core does not em

[2020-06-15 10:01] vogelpi commented on #2382
The input value is not "added" to the IV registers, but stored in the IV registers after the last round. This is already mentioned in the spec (see Datapath Architecture and Operation): "_If running in CBC mode, the IV registers are updated with the output data (encryption) or the value stored in the previous input data register (decryption)._"

[2020-06-15 10:03] vogelpi commented on #2382
"The specification of the CTR mode requires a unique counter block for each plaintext block that     is ever encrypted under a given key, across all messages."
    ...
    "There are two aspects to satisfying the uniqueness requirement. First, an incrementing function     for generating the counter blocks from any initial counter block can ensure that counter blocks do     not repeat within a give

[2020-06-15 10:04] vogelpi commented on #2382
The de-initialization should be performed whenever the AES unit is handed over to a different process/service. The reason is that it must be ensured that internal registers are cleared. Otherwise, the new user could try to infer the key or data of the previous user (even though most registers are write-only). I think this might be something initiated by the OS/driver.

[2020-06-15 10:04] vogelpi commented on #2382
My understanding is that even if the IV is going to be generated using a PRNG, this won't be done by the AES HW unit itself as the IV needs to be communicated to the receiver via a secure channel. I think this is a higher-level protocol thing that both HW and DIF don't need to care about.

[2020-06-15 10:05] vogelpi commented on #2382
This is a tricky one. It seems reasonable to me that software should always first write the config, the key and then IV + data. However, the hardware only checks if the key is written to determine if the decryption key needs to be derived (whenever the key changes and we are doing decryption, this needs to be done). But if software does not write the key, and provide everything else the module sta

[2020-06-15 10:05] vogelpi commented on #2382
In the current implementation, the AES unit (every line = 1 clock cycle):
1. Finishes the current encrypt or decrypt operation.
2. aes.STATUS.OUTPUT_VALID reads 1. If the next input data is available, the next encrypt/decrypt is started by loading the input data into the internal state.
3. aes.STATUS.INPUT_READY reads 1.

I'll clarify this in the spec (see Block Operation).

[2020-06-15 10:06] vogelpi commented on #2382
6. and 9. are related and will go into a new issue. I will open it later today.

[2020-06-15 10:28] silvestrst commented on #2382
@vogelpi thank you very much for the detailed answers, that helps a lot! Glad some of my comments were useful

[2020-06-15 13:48] imphil opened #2496 "[otbn] Revisit design of hardware loops"
Currently, the OTBN specification contains a LOOP and a LOOPI instruction, which are modeled to closely follow the other implementation.

While developing the specification we have identified some areas for improvements and potential clean-ups which we need to have a closer look at.

Options range from fully removing hardware loops, over simplifying their design to allow only (e.g.) one or two nes

[2020-06-15 13:53] #1911 closed

[2020-06-15 14:03] lenary opened #2497 "Dependency Management Scripts"
Building OpenTitan has a lot of dependencies. These are all of the lowrisc-related places where these are specified or checked (I cannot speak to how other organisations have configured their CI setups)
- `apt-requirements.txt`
- `python-requirements.txt`
- `util/get-toolchain.py`
- `util/build-docs.py`
- `util/check_tool_requirements.py`
- `ci/install-package-dependencies.yml`
- some individual r

[2020-06-15 14:04] imphil opened #2498 "[otbn] Specify hardening of hardware loop stack"
The hardware loop stack needs to be hardened.

Specify
- What kind of hardening programmers (users) can expect.
- How/if that is visible on the ISA level.

@cdgori wrote in https://github.com/lowRISC/opentitan/pull/2393#discussion_r438892442:

This discussion depends a bit on how we want hardware loops to ultimately look, see #2496.

[2020-06-15 16:18] imphil opened #2499 "[otbn] Provide programmer guidance on safely using hardware loops"
Hardware loops are dedicated control flow functionality, and we need to provide programmers with guidance how to safely use them.

The exact guidance will depend on how we ultimately choose to implement hardware loops, which is tracked in #2496.

@cdgori wrote in https://github.com/lowRISC/opentitan/pull/2393:

[2020-06-15 17:06] eunchan opened #2501 "[Xbar] Xbar_main is too big"
Based on the current area report of bronze, xbar_main occupies 45kGE, which is relatively big. As I see the area report in detail, still Socket 1:N , socket M:1 occupy quite big chunk of area and FIFO's are enabled.

[code]

CC: @tjaychen @sjgitty @msfschaffner

[2020-06-15 17:07] eunchan commented on #2501
Need to check if clock, pipelined configs are correct.

[2020-06-15 17:44] tjaychen commented on #2494
i'm not against adding a reset for assertion purposes.
If the reset really ends up being unloaded, in the final round of synthesis
it will be pruned anyways.

is this related to Michael's PR where he just uses a hardcoded 0 for one of
the memory assertions?

On Mon, Jun 15, 2020 at 2:55 AM Rupert Swarbrick <notifications@github.com>
wrote:

[2020-06-15 18:31] imphil commented on #2494
the memory assertions?

Yes, I filed this issue to discuss if we want resets, or not, and to unblock #2487 in the meantime.

[2020-06-15 18:43] tjaychen commented on #2492
ah...good catch. I did not notice that. I had assumed that in a multi-bit case all the values would be taken. Let me see if lint caught this.

Well this kind of sucks, I guess I'll have to break this up.

[2020-06-15 19:14] NilsGraf commented on #2492
Yes, this is confusing. I also would assume that the ResetValue parameter of prim_flop_2sync.sv is multi-bit. So I would suggest to change prim_flop_2sync.sv

[2020-06-15 22:14] sjgitty commented on #2501
We should review socket fifo depths; there could easily be slop in there
that won't affect performance to remove.

On Mon, Jun 15, 2020 at 10:07 AM Eunchan Kim <notifications@github.com>
wrote:

[2020-06-15 22:32] imphil opened #2504 "[memutil] Make it usable for 256b memories"
OTBN will have a 256b wide memory which should be loadable through memutil. This tool currently only supports 128b wide memories.

[2020-06-16 00:37] msfschaffner commented on #2494
I am also ok with adding a reset signal to these wrappers for assertion purposes, since as Tim mentioned, it will just be pruned away if unused. The protocol checker would also be an option, but for this one assertion I think we need not necessarily introduce another module...

[2020-06-16 00:41] cindychip commented on #2466
Hi,

The `tool_srcs_dir` should be set in the [`common_project_cfg.hjson`](https://github.com/lowRISC/opentitan/blob/master/hw/data/common_project_cfg.hjson) file automatically. In current flow I would not expect this error. May I know your run command?

Thanks,
Cindy

[2020-06-16 10:48] imphil opened #2508 "CI broken on master with FPGA not meeting timing any more"
The Nexys Video design has been close to the edge timing wise for quite a while now, but it seems like we've finally pushed it over the edge in https://github.com/lowRISC/opentitan/pull/2240 (the change itself looks innocent and did pass on its branch).

https://dev.azure.com/lowrisc/opentitan/_build?definitionId=9&_a=summary&repositoryFilter=5&branchFilter=566

CI is failing now on master, which

[2020-06-16 10:49] tomroberts-lowrisc commented on #2508
No sorry - I didn't have a board to test it on so didn't start that

[2020-06-16 10:51] tomroberts-lowrisc commented on #2508
We could just disable the check for now to get things moving

[2020-06-16 10:53] imphil commented on #2508
I'll give removing the timing check a try.

[2020-06-16 11:07] imphil opened #2510 "[DV] Duplicated top_pkg.sv caues sporadic synthesis failures"
WE do have two top_pkg.core files in our opentitan tree: one in opentitan, and another one vendored in through Ibex. Depending on your luck, fusesoc might pick either of them.

This wasn't a problem so far, as the two files did have the same content. With the merge of the flash info pages in #2240  that's no longer true.

Symptoms: FPGA synthesis shows

[code]

in the synthesis log.

[2020-06-16 11:55] imphil commented on #2508
The timing check is now removed, making CI "green" again (by cheating). We still need to figure out if we can fix the design, or need to lower the FPGA frequency. I have a feeling that lowering the FPGA frequency will come rather soon anyways, so we might want to go for that straight away.

[2020-06-16 12:46] imphil opened #2512 "[fusesoc] Warn/error if cores are duplicated"
If fusesoc finds two core files providing an identical core, it picks up the one it finds last. This behavior is sometimes wanted if we explicitly control the core search path (just like the PATH environment variable), but sometimes it's not.

#2511 is an example where a "loud warning" or some other mechanism would have helped.

[2020-06-16 12:51] imphil opened #2513 "DV/Ibex: Keep vendoring in Ibex DV into OT?"
Currently, we perform DV on Ibex in the Ibex repository. At the same time, we also vendor in the DV code from Ibex into OT. This is sometimes tricky, as we have duplicated some of our common DV infrastructure into Ibex, which give us, if we're not careful, slightly diverged versions of the same file. #2511 is one example.

The easiest solution to all of that would be the removal of all DV code whe

[2020-06-16 12:51] #2510 closed

[2020-06-16 13:41] vogelpi opened #2515 "[aes] Rework Datapath Architecture and Operation section in doc"
This documentation section describes how the different block cipher modes are mapped to the datapath architecture. At the moment, the description is kept as general as possible with mode-specific peculiarities in italics.

As pointed out in #2382 this may be not ideal:

And related to that:

Personally, I am against introducing further duplication in the documentation as it is tedious to maintain.

[2020-06-16 13:50] rswarbrick commented on #2513
Personally, I think that any "block-level" Ibex testing should be done in the Ibex repo, so removing the infrastructure for that when you vendor seems like a reasonable thing to do. Maybe others will feel differently.

[2020-06-16 14:54] imphil opened #2517 "[memutil] Allow compilation with memories > Width"
If memories are larger than Width bit Verilator fails to compile the design
with (example error message for Width == 128):

`%Error: prim_util_memload.sv:44:23: Extracting 256 bits from only
128 bit number`.

The expected behavior is to return `0` (false) in the DPI call for memories larger than Width, but still allow compilation.

We probably need a localparam "WidthMax" which is used in the part

[2020-06-16 14:55] #2504 closed

[2020-06-16 15:35] imphil opened #2518 "[OTBN] Choose a bus"
Should OTBN be connected to the main or peri crossbar? Latency doesn't matter for that device.

@eunchan

[2020-06-16 15:38] tjaychen commented on #2518
i feel like this should be the main xbar, since OTBN itself will most
likely be on the main system clock (the peri xbar will be on a slower
clock).
And I'm guessing it would be easier for the design to not have async
boundaries between OTBN configs and the internal logic.

On Tue, Jun 16, 2020 at 8:35 AM Philipp Wagner <notifications@github.com>
wrote:

[2020-06-16 15:40] imphil commented on #2518
Sounds good, thanks @tjaychen! (I thought it would be that way, but I wasn't sure that the exact motivation behind the partitioning was.)

[2020-06-16 15:52] #2518 closed

[2020-06-16 15:58] eunchan commented on #2518
Agree with Tim.

On Tue, Jun 16, 2020 at 08:40:16AM -0700, Philipp Wagner wrote:

[2020-06-16 16:23] tjaychen commented on #2508
thanks Phil!

On Tue, Jun 16, 2020 at 4:55 AM Philipp Wagner <notifications@github.com>
wrote:

[2020-06-16 16:24] tjaychen commented on #2508
On a separate note, Greg are having different discussions on just
increasing the latency on access to flash.
I believe that's where the worst case paths are, I could try doing that
also.

On Tue, Jun 16, 2020 at 9:23 AM Timothy Chen <timothytim@google.com> wrote:

[2020-06-16 17:19] sjgitty commented on #2513
repo

That feels like the right answer, but there might be issues of combined
code coverage or other subtleties that @udinator or @sriyerg might know of

On Tue, Jun 16, 2020 at 6:50 AM Rupert Swarbrick <notifications@github.com>
wrote:

[2020-06-16 18:46] sriyerg commented on #2513
TL; DR; very nice to have, but not absolutely necessary.

The original motivation was to be able to run it just like other IPs in OpenTitan, so that it also shows up in our summary page here:
https://reports.opentitan.org/hw/top_earlgrey/dv/summary.html

This will then become the complete dashboard for the regression results of everything the SoC is composed of, including the full chip level.

How

[2020-06-16 18:48] sriyerg commented on #2513
+ @msfschaffner for comments on lint / synthesis.

The dashboard argument applies for lint and synthesis as well.

[2020-06-17 04:10] islengxw commented on #2466
Hi Cindy,
Thanks for you reply, i appreciate it very much, i used find . -name "common_project_cfg.hjson" , i find two place about this file.  /hw/vendor/lowrisc_ibex/dv/uvm/data and /hw/data
i am not sure which common_project_cfg.hjson file was called. i guess this file calling failed. I will dig more.
And which command do you mean? you mean the simulatiuon cmd?
my simulation cmd is:
`Command: /h

[2020-06-17 04:40] cindychip commented on #2466
Hi Lengxw,

My apologize, we should really update our documents. Actually if you look into the folder call `opentitan/util/dvsim`, we are migrating to this new simulation tool.

So to run top_level code, you can try the following command:
1. go to folder `opentitan/hw/top_earlgrey/dv`
2. run command `../../../util/dvsim/dvsim.py chip_sim_cfg.hjson -i all_once`
- `chip_sim_cfg.hjson` is the config

[2020-06-17 05:10] islengxw commented on #2466
Hi Cindy,
Thanks for your answering, frankly speak, i am a pure HW verification guy, definitely not familiar with the hjson format file. I will keep learning your team excellent tooling.
I am sure it will be very helpful if your team update the document about this part.
Thanks for your sharing.

BR
lengxw

[2020-06-17 05:24] cindychip commented on #2466
For hjson testplan, you can refer to :
https://docs.opentitan.org/util/dvsim/testplanner/README/
Here is another doc about hjson format:
https://docs.opentitan.org/doc/rm/hjson_usage_style/
We do not have any detailed doc about dvsim yet, but should be there soon.

Also if you are running top_level test, make sure you have installed sw
testing as well (https://docs.opentitan.org/doc/ug/getting_sta

[2020-06-17 05:42] islengxw commented on #2466
Hi Cindy,
Thank your very much. :)

[2020-06-17 05:42] #2466 closed

[2020-06-17 06:03] udinator commented on #2513
Agree with @sriyerg, maybe just vendoring in the Ibex-specific DV code could be a possible solution.

[2020-06-17 08:58] imphil commented on #2513
Thanks for your input!

We already (try to) do that. However, we sometimes miss duplicated files, like `top_pkg.sv` recently, which causes problems.

Since we do not have a pressing need that would require removing the Ibex DV code currently, we can leave it in and revisit if we stumble over it again.

[2020-06-17 16:53] cdgori commented on #2382
I believe it's correct to say this that IV establishment is a protocol issue.

[2020-06-17 17:05] shrutimasaguppi opened #2527 "[usbuart] two drivers issue"
Hi Team,

In block usbuart: Even though the error states there are two drivers, the second drivers are open nets. There are no drivers to them. So effectively there is only one driver. If these variables are declared as wire instead of logic, there is no issue. Is there any reason why they are declared as logic?

Error message:
Error-[ICSD] Illegal combination of drivers
[code]
Cindy confirmed tha

[2020-06-17 17:18] sjgitty commented on #2527
@mdhayter @vogelpi

[2020-06-17 18:13] moidx opened #2528 "[fpga] Multiple top_pkg modules cause FPGA build to pick up Ibex UVM parameters"
In the process of integrating a new FPGA board, I started experimenting with the `FLASH_PAGES_PER_BANK` parameter as suggested in #2171.

I found that the `top_pkg.sv` picked up by the FPGA build lives in:
`hw/vendor/lowrisc_ibex/dv/uvm/icache/dv/top_pkg.sv`

The expected path is:
`hw/top_earlgrey/rtl/top_pkg.sv`

1. Is there a way to exclude the uvm folders from the FPGA build?
1. Looking at the

[2020-06-17 18:58] imphil commented on #2528
I fixed that yesterday in https://github.com/lowRISC/opentitan/pull/2511 (I think), do you have an up-to-date version of OT?

[2020-06-17 19:39] imphil opened #2531 "[docs] Preview builds broken with "Error: too many open files""
I'm currently unable to build documentation on my machine, it errors out with

[code]

This is most likely due to hugo picking up too many temporary build files in my working directory. We do set ignores in `config.toml`, however, they look quite fishy: the items should be regex matches, but we do use glob-style matches at times. It's also not quite clear what the base directory for those matches

[2020-06-17 22:04] cdgori commented on #2531
Is it possible your default soft-limit is set low on your machine?  Try `ulimit -Sn` (soft limit) and/or `ulimit -Hn` to check - if it's only 1k it might actually need to be raised.  If it's 4k or higher, your suspicions are probably correct about the globbing issues.

[2020-06-18 03:23] NilsGraf opened #2537 "Suggestion for prim_util.svh"
Would it make sense to combine [prim_util.svh](https://github.com/lowRISC/opentitan/blob/master/hw/ip/prim/rtl/prim_util.svh) with [prim_assert.sv](https://github.com/lowRISC/opentitan/blob/master/hw/ip/prim/rtl/prim_assert.sv) into one file?

My suggestion would be:

1. Rename `prim_assert.sv` to `prim_util.sv`.
2. Move contents from `prim_util.svh` into `prim_util.sv`.

That way, all helper func

[2020-06-18 05:33] asb commented on #1294
The Technical Committee voted yesterday to approve this RFC - thank you for all your work on this. There some discussion about presentational changes that we felt were non-blocking, as that can be discussed if and when this moves to a PR in the form of project documentation.

I'll leave this issue open as I think the plan would be to follow-up with a PR that adds a form of this content to docs.ope

[2020-06-18 05:36] asb commented on #2459
I'm pleased to report the Technical Committee voted to approve this RFC yesterday. We took into account the wide positive reception by software contributors to the project (either directly in response to this RFC or the earlier proposal) and the fact conversations had been had with the DV team. The TC noted that this toolchain transition process had surfaced the fact some contributors had not trie

[2020-06-18 05:39] tjaychen commented on #1294
thanks Alex!
There are some open questions for one of the committee members regarding
clarity of specific points.
If you can look at those points and let us know if the latest updates
addresses those concerns, we can probably move forward to markdown.

On Wed, Jun 17, 2020 at 10:33 PM Alex Bradbury <notifications@github.com>
wrote:

[2020-06-18 07:15] vogelpi commented on #2527
Thanks @shrutimasaguppi for opening the issue @sjgitty for pinging me.

I will look into this.

[2020-06-18 09:06] silvestrst commented on #1330
Done in #2154

[2020-06-18 11:13] imphil opened #2540 "[OTBN] Device memory map"
In the OTBN bus device we provide three areas of memory:
- Control/Status registers
- A window into OTBN instruction memory (IMEM)
- A window into OTBN data memory (DMEM)

IMEM and DMEM are currently both 4 kB in size.

This issue is about finding a good address space layout for OTBN as bus device (i.e., as seen from Ibex; this is *not* about how the OTBN core sees IMEM/DMEM from its side).

If we

[2020-06-18 11:14] imphil commented on #2540
@tomroberts-lowrisc @GregAC @lenary

[2020-06-18 11:17] rswarbrick commented on #2537
I don't think I understand the last comment. `prim_assert.sv` defines various macros. These definitely need to be included into files that use them. Maybe its filename should actually be `prim_assert.svh`: I'm not sure whether there's a good reason that it isn't.

Re combining the two: I don't really have strong feelings but I can't think of any benefit of doing so.

[2020-06-18 12:28] tomroberts-lowrisc commented on #2540
This might be asking something that's already been addressed (hah!), but does it need to expose all the memory directly? i.e. could the OTBN just provide a single address / data register that auto increments as you write to it / read from it?

[2020-06-18 12:58] GregAC commented on #2540
I'd be in favour of this kind of approach, I'd even say up the address space to something relatively huge (e.g. 1 MiB each). Unless there are any particular reasons to prefer a tight address map?

[2020-06-18 13:07] imphil commented on #2537
Thanks @NilsGraf for opening this issue, I wanted to get back to you on your email suggesting exactly that.

A couple points from my side:
- `prim_assert.sv` contains include file content, so it is an include file, and we need to keep it that way.
- It's named `.sv` instead of `.svh` for historic reasons, it would make sense to change that.
- `prim_assert.sv` currently also defines a package; this

[2020-06-18 13:18] imphil commented on #2540
It doesn't necessarily need to, but it makes things easier.

- Software on the main CPU reads the OTBN computation results back from DMEM in pre-defined areas, having it not fully mapped makes that harder to do so.
- We don't have a DMA engine today, but I see other peripherals, such as HMAC, also be designed in a way that occupies a larger address space (for a FIFO, in the HMAC case) to allow a p

[2020-06-18 13:38] lenary commented on #2540
I had a long reply typed out, and it got lost. Then @imphil wrote out part of my feelings in his comment.

@tomroberts-lowrisc I think an auto-incrementing approach would be a bad idea. It may prevent later adding DMA, and seeking around to extract information seems error-prone and probably won't give you much bandwidth for extracting info after the run completes.

--

I think the PLIC is not a go

[2020-06-18 13:49] imphil commented on #2540
Currently the one and only source for IMEM and DMEM size is the `window.items` field in the hjson -- it's passed as parameter to the hardware SRAM primitives, and it's used in my prototype DIF. So as long as we keep relying on that tooling, we're fine.

However, re-generating the address map is disruptive when we only want to change the size of the OTBN SRAMs. While it all *should* work, it increa

[2020-06-18 14:45] imphil commented on #2540
Whatever we decide here is relatively easily changed at this stage in the development cycle, so we don't need to come up with the ultimate answer. However, the "closer to right" we can get this, the less we need to think about it in the future :smile:

@gkelly @eunchan What's your take on that?

[2020-06-18 15:23] tomroberts-lowrisc commented on #2540
Has no bearing on DMA - any noddy DMA can access fixed and incrementing addresses, and the bandwidth is the same whatever (32b a cycle). Agree though it depends on the access patterns - lots of random access to smallish chunks would be a pain.

[2020-06-18 16:05] NilsGraf commented on #2537
Ah, I see. Originally, no RTL file had an `include prim_assert.sv` line. prim_assert.sv was just at the beginning of each filelist, which I think worked well. I didn't realize that nowadays all RTL files have an 'include prim_assert.sv` line. I personally like the old way better because it removes the need for the include line in each file.

[2020-06-18 16:15] imphil commented on #2537
The "old way" was working only by chance, unfortunately. For a the full story see https://github.com/lowRISC/ibex/commit/23d4243acd4973c27e92ef82b86c9e721026449f.

[2020-06-18 16:33] NilsGraf commented on #2537
Thank you for the link, I wasn't aware of this. The "old mechanism" has been used successfully for many chips, but I guess they were using commercial EDA tools.

Would it make sense to modify Fusesoc/edalize to support this? Adding @olofk

I believe the "old way" had the following advantages:
1. Less noisy source code as it doesn't require an `include` line in each file.
2. Doesn't need ifdef guar

[2020-06-18 18:02] olofk commented on #2537
@NilsGraf It's not so easy. Edalize support 20+ different tools and they all behave slighly different. Many tools, as you say, allow you to put include files first in a list (this is normally referred to as multi file compilation units) but not all. Some Edalize backends also have options to use multi or single file compilation units. Vivado for example requires you to declare these files specific

[2020-06-18 18:22] NilsGraf commented on #2537
Thanks for your response. Actually, prim_assert.sv is not setting `DATA_WIDTH` parameters. It's defining a few global macros such as `ASSERT_*`. But I could see an issue if another IP defines the same macro names.

I'm curious to know which EDA tools don't support implicit include files. Thanks!

[2020-06-18 18:25] eunchan opened #2544 "`top_pkg` for multiple tops in the repo"
A few modules refer `top_pkg` to creates logic. TL-UL is one thing, `flash_ctrl` is another.
The top_pkg has its own `.core` file to be added into dependency list in above packages.

Its VLNV is `"lowrisc:constants:top_pkg"`, which is independent of top name. So if multiple tops exist in the repo, it has two sets of top_pkg with same name. It means the top_pkg should be identical.

We need to have

[2020-06-18 18:44] sjgitty commented on #2540
I lean to this approach for future proofing, though no one should be addressing base addresses by hand, so even this probably doesn't matter.

[2020-06-18 18:45] olofk commented on #2537
As mentioned above, Vivado needs these to be explicitly marked as global include files through its tcl interface. QuestaSim (and I think RivieraPro) needs to be setup for mfcu mode. For Quartus I think it's supported in the Pro version, but not in the Standard and Lite versions. Synplify Pro has a switch for Multi file compilation units. Not sure if that applies here though

[2020-06-18 18:54] NilsGraf commented on #2537
Thinking about this some more: If another IP defined the same global macro `ASSERT` then this would be always an issue, even with explicit includes. The lint tool (and simulator) will flag macro redefinition.

Note that `prim_assert.sv` and `prim_util.svh` macros are global macros, they are included before the module in each file (see [here](https://github.com/lowRISC/opentitan/blob/master/hw/ip/p

[2020-06-18 19:06] NilsGraf commented on #2537
Could Fusesoc/edalize take care of this (e.g. set up QuestaSim for mfcu mode)? Thanks!

[2020-06-18 19:09] olofk commented on #2537
Yes. mfcu mode for questasim will be added as an option

[2020-06-18 23:59] weicaiyang opened #2551 "[aes/dv] Failure of aes_tl_errors"
@rasmus-madsen

In [nightly regression](https://reports.opentitan.org/hw/ip/aes/dv/latest/results.html), we saw below errors from aes_tl_errors.
[code]

in aes_tl_errors, it only drives illegal TL items and check some interrupt regs at the end.
But in aes scb, before end of sim, it sends an empty msg item to process, which involves some C function to allocate unexpected size memory (maybe 0 size).

[2020-06-19 00:41] weicaiyang opened #2553 "[dv] xcelium with fsdb doesn't work"
FYI
With recent update, we can't run Xcelium to dump fsdb waveform.

Here is working tcl command.
https://github.com/lowRISC/opentitan/blob/75ad5fea480cda8bb71f0052ca3cdc1ef4113cb0/hw/dv/tools/xcelium/xcelium_fsdb.tcl

Prefer to be able to dump fsdb. If no one fixes it, I will continue to work on this when I'm back

[2020-06-19 00:43] cindychip commented on #2553
Hi Weicai, I think this is a known issue: https://github.com/lowRISC/opentitan/issues/2422.
Seems like there is a solution, we just need to draft a PR for that.

[2020-06-19 00:57] weicaiyang commented on #2553
Thanks @cindychip let me close this one.

[2020-06-19 00:57] #2553 closed

[2020-06-19 02:30] tjaychen opened #2554 "[fusesoc / dev flow] Selective support for prim_impl"
As we start working with more and more 3p ips (flash / otp among them), there is a need to develop customized logic for these blocks that need to be both wrapped under `prim_` and close sourced.
The reason these need to be wrapped under `prim` is because we can't expose the proprietary interface of a vendor, instead we need to abstract to something generic, which automatically implies underneath t

[2020-06-19 06:45] vogelpi commented on #2551
Thanks @weicaiyang for filing this issue. I also noted these failures but did not get around to investigate it further. I would also prefer Option 1 but I can't estimate the amount of work required for this. @rasmus-madsen , what do you think?

[2020-06-19 08:24] vogelpi commented on #2527
@shrutimasaguppi ,
The driver conflict should have been fixed a while ago already (see 5c323ef52ef42785286da49a3a2919a35dce75d9 ). This should make the cited error message go away. Can you please check if you have this commit?

[2020-06-19 10:09] rswarbrick commented on #2422
Hi @sriyerg! I'm assigning this issue to you because you said you want to work on it. Given the duplicate issue from last night, it looks like someone (you or someone else) should probably fix it soonish. De-assign yourself if you don't want to do it, and I'll try to do something at the start of next week.

[2020-06-19 12:01] towoe commented on #2531
I think adding more rules to the ignores will not help as Hugo will probably need to check for all files and will apply the ignore filter after that. But this might not be true since it complains about open files.

Could you try the following to check if that might help?
[code]

The best would be to restrict '--contentDir' to apply only to a limited subset, but I did not see how that would be poss

[2020-06-19 15:12] lenary commented on #2459
Yesterday, in #2503, I merged the change that makes clang fail the build if it finds any errors (the next step in the document).

In order to address some issues we were seeing with the toolchain I have merged the update in #2557. This new version of the toolchain (it is built slightly differently, the llvm and gcc versions have not changed) should allow us to test this new toolchain in the privat

[2020-06-19 16:42] imphil opened #2563 "pwrmgr_reg_pkg.sv and pwrmgr_reg_top.sv are duplicated"
The two files pwrmgr_reg_pkg.sv and pwrmgr_reg_top.sv exist twice in our tree: once in ./hw/top_earlgrey/ip/pwrmgr/rtl/autogen, and once in ./hw/ip/pwrmgr/rtl.

One of them needs to go, but which one?

[2020-06-19 16:45] tjaychen commented on #2563
@imphil
This is actually the same thing being done as `alert_handler`, `pinmux`, `rv_plic` and `clkmgr` for templated files.

There exists an "ip" version for block level verification (if that is feasible, also acts as an example), and a top specific version.

Are you saying the `pwrmgr` setup is different from these?

[2020-06-19 16:45] tjaychen commented on #2563
Adding @msfschaffner also.

[2020-06-19 16:46] tjaychen commented on #2563
@msfschaffner and I have talked about how the way we handle top / ip splits is not the best, and that we need a better solution in the future.

[2020-06-19 16:53] imphil commented on #2563
Currently both modules get compiled, leading to

[code]

The others (alert_handler & co.) probably have a different setup in terms of how the auto-generated files are (not) included in FuseSoC core files.

[2020-06-19 16:55] tjaychen commented on #2563
o they both get compiled? that's not good.
Let me look into it, there's probably a dependency reference that I forgot
to remove.

What are you running though? I did have MODDUP issues earlier, but I
thought i had fixed them (i don't recall seeing lint warnings anymore)

On Fri, Jun 19, 2020 at 9:53 AM Philipp Wagner <notifications@github.com>
wrote:

[2020-06-19 16:59] imphil commented on #2563
It's defined once in https://github.com/lowRISC/opentitan/blob/master/hw/top_earlgrey/ip/pwrmgr/pwrmgr_only_reg.core and the other time in https://github.com/lowRISC/opentitan/blob/master/hw/ip/pwrmgr/pwrmgr_only_reg.core (since 4ba2531647c839052a20ff148cad07211b4051e4 yesterday)

[2020-06-19 17:01] tjaychen commented on #2563
yes as mentioned, the double definition is part of how our templated modules are splitting between top and ip.  The important part is to make sure `top_earlgrey.core` for example, doesn't have a dependency on both.

What are you running when see this warning? Because I don't see it in my lint `deps-after-generators.dot` or the `sources.f`

[2020-06-19 17:05] imphil commented on #2563
Hm, strange. I'll have a closer look.

[2020-06-19 17:08] tjaychen commented on #2563
yeah just let me know how you produced it, and i'll go try also and
investigate.
It's very likely I messed up something, because unlike all the other
template modules that just split it into reg + components, I'm splitting
into reg + pkg + components.
And there is some brittleness with how all this is handled (Michael and I
will probably file an issue later).

On Fri, Jun 19, 2020 at 10:05 AM Phil

[2020-06-19 17:10] imphil commented on #2563
Oh, I just ran `fusesoc --cores-root=. run --target=sim --no-export --setup --build lowrisc:systems:top_earlgrey_verilator`. But I might very well have a non-clean tree (even though git doesn't show anything), so I don't want to bother you with searching for a bug which might be on my side :smile:

[2020-06-19 17:11] imphil commented on #2563
Ah, I think I found it: `hw/ip/pwrmgr/pwrmgr.core` shouldn't depend on `lowrisc:ip:pwrmgr_only_reg`. I'll open a PR.

[2020-06-19 17:13] imphil commented on #2563
Wait, that might be wrong ... Looks like Friday afternoon.

[2020-06-19 17:14] tjaychen commented on #2563
wait hold on, that's actually intended.
Because top_earlgrey.core is not supposed to depend on
ip/pwrmgr/pwrmgr.core.

Is that what you have in your area?

On Fri, Jun 19, 2020 at 10:11 AM Philipp Wagner <notifications@github.com>
wrote:

[2020-06-19 17:14] tjaychen commented on #2563
do you mind attaching the fusesoc dependency yaml for whatever flow you're
running?
maybe we can track it down from there.

On Fri, Jun 19, 2020 at 10:13 AM Philipp Wagner <notifications@github.com>
wrote:

[2020-06-19 17:24] imphil commented on #2563
Argh, "Because top_earlgrey.core is not supposed to depend on" was the right comment -- I messed up a conflict resolution and added it back. Sorry for the noise, nothing is broken, except for my brain :smile:

Thanks Tim!

[2020-06-19 17:24] #2563 closed

[2020-06-19 17:28] tjaychen commented on #2563
thanks for tracking it down so quickly philip!
and rest assured, from where i stand, your brain is never broken :)

On Fri, Jun 19, 2020 at 10:25 AM Philipp Wagner <notifications@github.com>
wrote:

[2020-06-19 17:45] imphil commented on #2468
Status update: a working OTBN toplevel, a top_earlgrey integration, a DIF and a hello world application is at https://github.com/imphil/opentitan/commits/bignum-init. I need to clean up some things and get some preliminary PRs merged, but this should already be a starting point for you @wallento.

Output from the OTBN hello world application which writes to OTBN IMEM and DMEM, and reads the DMEM b

[2020-06-19 17:50] wallento commented on #2468
Nice, thanks, will pick it up as starting point today

[2020-06-19 20:46] msfschaffner commented on #2484
Yes, this is only a temporary fix.

Before instantiating the new `padctrl` module, some USB and JTAG muxing logic was hardcoded together with inferrable pad instances, which is not compatible with the way we intend to instantiate the pads in the `padring`. The `padring` is a completely structural module and we do not intend to have any synthesizable logic in there.

Hence, I had to move that custo

[2020-06-20 08:46] rasmus-madsen commented on #2551
@weicaiyang @vogelpi
The tl_errors is a V2 test - the code is at V1.
there should be no expectance to see V2 tests passing until we claim to be at V2. and no need to report the failures.

@weicaiyang if you want you can take V2 out of the nightly regressions.- but that might give a false indication for people not looking into the details.

[2020-06-21 01:11] felixmiller opened #2570 "[OTBN] sub(b) and cmp(b) instructions not fully identical in spec"
In the OTBN spec we write [here](https://github.com/lowRISC/opentitan/blob/master/hw/ip/otbn/doc/_index.md#bncmp) and [here](https://github.com/lowRISC/opentitan/blob/master/hw/ip/otbn/doc/_index.md#bncmpb) that the CMP and CMPB instructions were identical to the SUB and SUBB instructions, respectively.
However, in the current spec the SUB instructions allow immediate shift of the 2nd input regist

[2020-06-22 07:25] #2527 closed

[2020-06-22 08:42] imphil commented on #2570
Is the shift in CMP/CMPB ever used in existing software?

The implementation doesn't look different with shift tied to 0, so that's not really a concern to me.

I'm wondering if we need to be careful adding more functionality to CMP/CMPB. The current description of these instructions is fully driven by the implementation on the hardware side, making it a rather odd-looking instruction for software

[2020-06-22 13:49] felixmiller commented on #2570
The shift is currently not used in software and probably won't be needed in future.
Were I have currently an issue with is the statement that CMP behaved exactly like SUB with the only difference being that the result is not written to a register.
I agree that there is the problem with specifying functionality that is not used but adds complexity on the spec and test efforts. But on the other hand

[2020-06-22 15:50] imphil commented on #2554
I'm not sure I understand the issue correctly.

- If you want to choose a specific implementation for *all* primitives in a run, you can pass `--PRIM_DEFAULT_IMPL=prim_pkg::ImplSomething` to fusesoc. That's also true for DV/lint runs on IP level. You could run`fusesoc --cores-root=. run --target=lint lowrisc:ip:flash_ctrl --PRIM_DEFAULT_IMPL=prim_pkg::ImplSomething` [1] to run the lint flow for `f

[2020-06-22 15:55] imphil commented on #2544
You nicely summarized the options, and I don't know any further ones. One way or the other, the user must decide when running fusesoc which toplevel they want to build.

The two `--cores-root` option is probably the easiest to implement, but makes the command line slightly longer. Since fusesoc invocations are already slightly long, that's probably not making things worse :-)

[2020-06-22 15:55] imphil commented on #2544
Let me know if there's a pressing need to get that work done.

[2020-06-22 16:01] alphan commented on #2364
Just to confirm, if the host sends a clear feature ENDPOINT_HALT to an endpoint, will the data toggle bit cleared by the hardware?

[2020-06-22 17:12] imphil opened #2575 "[otbn] Write DIF"
OTBN needs a DIF. Fortunately, the interface is rather simple.

A working, but unfinished draft is available at https://github.com/lowRISC/opentitan/pull/2574.

[2020-06-22 17:17] imphil opened #2576 "[otbn] Write DIF unit tests"
Once we have a DIF for OTBN, we also need unit tests for it.

DIF: #2575

[2020-06-22 17:19] imphil opened #2577 "[otbn] Write DIF sanity test"
Once we have a DIF for OTBN we can add a sanity test to check that the OTBN device is doing something, similar to `sw/device/tests/dif/dif_plic_sanitytest.c`. This test can be based on our hello_otbn showcase example.

Dependencies:
- [x] #2575
- [x] https://github.com/lowRISC/opentitan/pull/3803
- [ ] #2936 (soft dependency)

[2020-06-22 17:46] cindychip opened #2579 "[rtl/prim_util] xcelium CFNOSF compile error"
Hi Phillip,

When we run Xcelium, here is a compile error related to prim_utils:
[code]
Seems like Xcelium does not allow using `$clog2` in a function, then assign the result of that function to a `parameter` or `localparam`.
Example usage that could cause this error here: https://github.com/lowRISC/opentitan/blob/master/hw/ip/prim/rtl/prim_fifo_sync.sv#L16

More detailed explanation about the err

[2020-06-22 17:51] imphil opened #2580 "[OTBN] Integrate OTBN into top_earlgrey"
Even though the OTBN implementation itself is still to be written, the device interface as it is seen from Ibex is reasonably stable already (https://docs.opentitan.org/hw/ip/otbn/doc/index.html#register-table).

When do people feel is a good time to enable OTBN in top_earlgrey?

- Enabling OTBN in top_earlgrey is non-invasive: it's a "dead" bus device until it is actually used by software, so exi

[2020-06-22 17:52] cindychip commented on #2579
@sriyerg @udi for visibility.

[2020-06-22 17:52] imphil commented on #2580
@sjgitty @eunchan what's your take on that?

[2020-06-22 17:55] imphil commented on #2579
@cindychip I do not have access to Xcelium, can you potentially try to find a fix? Potentially remove the `automatic`?

[2020-06-22 18:04] cdgori commented on #2580
@imphil - I agree with your take, enable ASAP - correspondence to final in master will be better, earlier.  It's a pretty "inert" bus device so the risk seems low.

[2020-06-22 18:04] tjaychen commented on #2580
@sriyerg adding Sri for DV perspective.

Just my opinon...I'm always in favor of early top level integration as long as it doesn't break the integration test cases.

[2020-06-22 18:07] cindychip commented on #2579
Okay sounds good. I will work on fixing this then.

[2020-06-22 18:15] cdgori commented on #2570
This is probably the key point for me too - even having it behave the same but with shift tied to zero would likely be enough to distinguish it.  The idea is that the underlying structure is identical (even if the shift-function is not used in CMP).

[2020-06-22 18:52] eunchan commented on #2580
Agree with Tim.

[2020-06-22 19:38] tjaychen commented on #2554
thanks @imphil !

Yes when I originally wrote this issue, I had the 3rd option in mind (so not switching everything, and not just prototyping). It would be good to hear from others their thoughts on this.  I just think there will be scenarios where it will be useful to have the environment support mix-match of primitives in an autonomous way.

I think your second option is probably more practical,

[2020-06-22 19:58] #2540 closed

[2020-06-22 20:55] sjgitty commented on #2580
Bring it in to master in stages (as I assume you would); making sure it
doesn't break the build (as I assume you would); and we can review the
pieces as they're ready.

On Mon, Jun 22, 2020 at 11:52 AM Eunchan Kim <notifications@github.com>
wrote:

[2020-06-22 22:06] sriyerg commented on #2554
Module parameters can be 'overridden' specific to an instance (example for VCS: `-gv tb.foo.bar.baz.Impl=custom`, while other instances use the default `generic`). VCS (and I'm sure other simulators) provide elab-time switch to facilitate this. This can be very easily handled within DVSim.

Lint/FPV/Synthesis flows can also be run with DVSim, so we could implement this approach for those flows as

[2020-06-22 22:08] imphil commented on #2554
@sriyerg oh, that's a nice VCS feature! If VCS supports it, fusesoc supports it as well, of course, since it can pass arbitrary parameters to VCS.

[2020-06-22 23:18] cindychip commented on #2579
After consulting with Sri, we found out if we change the [`prim_util.svh`](https://github.com/lowRISC/opentitan/blob/master/hw/ip/prim/rtl/prim_util.svh) from function to a macro define, then the issue is solved. @imphil are you okay with this solution?

Also as Sri pointed out from the error message, we are not able to find "10.3.5 IEEE". @rasmus-madsen @tunghoang290780 do you have any experience

[2020-06-23 06:14] mdhayter commented on #2364
I don't remember testing it, but that would be done with a SETUP control transaction which should always reset the toggle state.

[2020-06-23 07:01] tunghoang290780 commented on #2579
@cindychip Can we use $clog2 directly instead of vbit function (wrapper of $clog2)?
localparam int   DepthW  =  (Depth ==0) ? 1 : $clog(Depth+1)

Otherwise, using macro whould be fine

[2020-06-23 07:09] tunghoang290780 opened #2586 "[dv, cip] Compiler error due to mem_model"
@sriyerg @cindy @rasmus-madsen @senelson7
I have the following compiling error which might involve `mem_model` used in `cip_base_scoreboard`. I run dv in the upstream repo with various IPs (i.e. i2c, uart etc.). All runs are facing the same error (there is also a warning in `cip_base_scoreboard`)

`xmvlog: *E,TOOMAC (../src/lowrisc_dv_cip_lib_0/cip_base_scoreboard.sv,74|70): too many actual argume

[2020-06-23 07:16] moidx commented on #2528
Verified #2511 fix. Thanks @imphil!

[2020-06-23 07:16] #2528 closed

[2020-06-23 10:12] rswarbrick commented on #2579
The simulator message seems pretty odd to me. I'm not sure where they got the section numbering from, but "Constant functions" are described as 13.4.3 in IEEE 1800. In particular, that contains the following text:

This includes $bits and the array query functions. Calls to other system functions shall be illegal.

The text in 11.2.1 says:

Following *that* link, you find `$clog2` listed as a "Mat

[2020-06-23 10:23] rswarbrick commented on #2586
The problem is that we now have two classes called `mem_model` (one is vendored in from Ibex). It seems that your simulation is picking up the wrong one.

@imphil: I guess this isn't supposed to happen. Is there a way that we can poke fusesoc in a way that makes sure we get the right file?

[2020-06-23 13:39] imphil commented on #2579
Sri writes in https://github.com/lowRISC/opentitan/pull/2425#discussion_r443877467:

[2020-06-23 15:06] imphil commented on #2586
What command do you run to get this error message? Yes, there's a second `mem_model` in `hw/vendor/lowrisc_ibex/dv/uvm/icache`, but this shouldn't be picked up.

[2020-06-23 15:33] sriyerg commented on #2586
Can we prevent vendoring in common verification components that already exist in OT when vendoring in Ibex?

[2020-06-23 15:49] rswarbrick commented on #2586
We sort of do that already. The problem here is that we manually copied (I assume?) the `mem_model.sv` code from OT, rather than vendoring it properly.

[2020-06-23 15:59] tunghoang290780 commented on #2586
@imphil
My running command
`/wdc/proj/cto/top/work/hoang.tung/upstream_ot/util/dvsim/dvsim.py /wdc/proj/cto/top/work/hoang.tung/upstream_ot/hw/ip/uart/dv/uart_sim_cfg.hjson -i uart_sanity  --reseed 1 --dump vpd --waves  --verbosity l --verbose -t vcs --xprop-off --job-prefix "nc run -C ncsim_interactive -Il" -mp 1`

[2020-06-23 16:02] imphil commented on #2586
@tunghoang290780 thanks, I can reproduce the problem and will have a look now.

[2020-06-23 16:26] imphil commented on #2586
https://github.com/lowRISC/opentitan/pull/2590 proposes one possible solution to this which buys us some time to find a more fine-grained approach, without playing whack-a-mole on every Ibex update.

[2020-06-23 17:20] eunchan opened #2591 "[topgen] Intermodule feature to assign default value to vector signal"
If the dangling inter-module signal of an IP is  a vector signal (width more than 1) and input, then topgen intermodule doesn't assign the value correctly.

Example:

[code]

Result from topgen:
[code]

Expected result:

[code]

CC: @msfschaffner @tjaychen

[2020-06-23 18:32] #2586 closed

[2020-06-23 18:57] sriyerg commented on #2484
Thanks for the explanation, @tjaychen and @msfschaffner. I understand that the JTAG muxing is temporary and the boot strap pin only matters at the start of the simulation when the CPU is executing the boot rom image. Once it gets to the 'test' image, it can be treated as a regular GPIO. I just wanted to record this so that I remember to update the chip level GPIO test.

[2020-06-23 21:04] imphil opened #2595 "[CI] Default agent offline"
Currently, no CI jobs are being processed in the Default agent, it shows as offline in https://dev.azure.com/lowrisc/opentitan/_settings/agentqueues?queueId=1&view=agents.

@asb can you have a look?

[2020-06-23 21:26] rasmus-madsen commented on #2579
FYI this pretty much blocks anyone on WD side.
@imphil if you want help testing a resolution tomorrow ping me.

[2020-06-23 21:30] imphil commented on #2579
The solution is in #2589 which seems to work. Please test this PR if you have time, and apply it locally to unblock your work. I cannot merge at the moment due to a CI failure (#2595), but will do as soon as CI picks up again (probably tomorrow morning in Europe).

[2020-06-23 21:38] rasmus-madsen commented on #2579
This is verified the PR#2589 does infact resolve this.

[2020-06-23 21:40] #2579 closed

[2020-06-23 22:31] lenary commented on #1617
# Tool Quality

Meson has a lot of build quality issues, especially around cross compilation and native: true/false in build targets. One particularly wonderful edge-case is that we currently get the following warning in when running meson:
[code]
This is actually entirely incorrect! Meson does know those options, and is taking them into account (if they are deleted, the generated build rules lack

[2020-06-23 23:11] tunghoang290780 opened #2597 "Compilation error for prim_util a package in Xcelium"
This issue relates to PR #2589 (already merged)

Currently, Xcelium raises the below error for I2C simulation when the `vbits `function of `prim_util_pkg` is used in the parameter list of `prim_fifo_sync`. I tested with uart ip and got the same error. Those are ips that instantiate `prim_fifo_sync` in their RTL

[code]
I replace `DepthW = prim_util_pkg::vbits(Depth+1)` by `(Depth==0) ? 1 : $clog2(

[2020-06-23 23:42] alistair23 opened #2598 "[usbdev] No traffic over PMOD when testing usbdev on FPGA"
Using the PMOD device that was added to this repo in https://github.com/lowRISC/opentitan/pull/2238 I am unable to see any traffic or USB connections when running the `usbdev` example.

Is it possible to add some more detail to the documentation? For example it never describes which PMOD to connect to (I assumed JB).

Is anything else required to get a USB connection from the board?

@mdhayter

[2020-06-23 23:50] felixmiller opened #2599 "[OTBN] assembly format of JALR instruction"
I wonder which one is the correct assembly format of the JALR instruction and which one should we use in our OTBN spec [here](https://github.com/lowRISC/opentitan/blob/de59699a6640469a3e25a54675009488991fea62/hw/ip/otbn/doc/_index.md#jalr).

I see the two formats:
1. `JALR <rd>, <offset>(<rs>)`
2. `JALR <rd>, <rs>, <offset>`

Currently we use # 2, but apparently this was changed [here](https://git

[2020-06-24 03:01] alphan commented on #2203
I think we should consider prioritizing this in the context of #2293. If we move all bit manipulation logic to the `bitfield` library, it would be trivial to support shadow registers by introducing `mmio_shadowed_region_writeX(...)`.

Another concern that I had after looking at #2293 was about the alternative sequence in programmer's model that disables and enables interrupts. While `mmio` is not

[2020-06-24 03:54] asb commented on #2595
Same failure mode as again. Agent is live, "waiting for jobs", no errors, not receiving any. Gave it a kick.

[2020-06-24 03:54] #2595 closed

[2020-06-24 04:05] asb commented on #2599
Both formats are valid and supported by RISC-V assemblers. The argument for preferring 1) is that you're then addressing memory addresses consistently as `<offset>(reg)` across jalr, lw, sw, and so on.

[2020-06-24 07:01] rswarbrick commented on #2597
My preferred fix is to `ifdef XCELIUM in the function definition and write out a definition of $clog2 (not using a system function) for that simulator. Probably with a note of the form "This looks silly, but is because XCelium doesn't support constant functions properly. Remove this code when it does".

[2020-06-24 07:40] felixmiller commented on #2599
Thanks @asb . @imphil should we change this in the otbn spec, since we are using format # 2 for lw and sw?

[2020-06-24 08:04] silvestrst commented on #2203
I don't know much about shadow registers, what is different between normal `mmio` access and `shadow mmio`? I guess there is a difference, hence you have proposed a new `mmio_*_writeX(...)` API.

Could you please elaborate little bit more, I don't quite understand the issue. `mmio` at the moment is one of the allowed libraries for DIFs to link against. What exactly made you rethink it, and come to

[2020-06-24 08:26] rasmus-madsen commented on #2597
@tunghoang290780 I cannot reproduce this, what test are you running Tung?
@cindychip

[2020-06-24 08:46] rasmus-madsen commented on #2597
sorry I did not see the original message. I will look into it

[2020-06-24 08:49] imphil commented on #2597
Since this one has already caused enough confusion, let's be as specific as we can.

@rasmus-madsen @tunghoang290780 what versions of Xcelium are you using?

@tunghoang290780 what command are you running exactly to get the error output?

[2020-06-24 08:53] lenary commented on #2428
I'm not sure if #2596 will help with this, but it might/should (because we no longer edit `build.ninja` without meson/ninja "knowing" about it). How often has this come up again for you?

[2020-06-24 08:55] rasmus-madsen commented on #2597
@imphil  I can reproduce the issue yes.
I will check the PR in a second

[2020-06-24 08:56] rasmus-madsen commented on #2597
@rswarbrick I think they are actually handling them correctly
 Verilog LRM: IEEE Std 1364-2001, section 10.3.5:
All system function calls within a constant function shall be ignored.

Parameters and localparams are considered constants to my knowledge.

[2020-06-24 09:03] lenary commented on #2366
I need to read all the feedback above, though I think we might be converging on something.

One thing to note is how Tock separates init from config, which we should probably pay attention to.

One of the thoughts I've been having is that potentially `_init` should explicitly not be allowed to write anything out to hardware registers, and is only for configuring parameters which are relevant for a

[2020-06-24 09:47] rswarbrick commented on #2597
@rasmus-madsen: Maybe it depends on which spec the simulator supports? The IEEE 1800-2017 SystemVerilog spec explicitly writes that this should work. I don't have the 2012 version, so don't know whether it changed since then.

[2020-06-24 09:49] rasmus-madsen commented on #2597
@rswarbrick I agree I also updated my response a few minutes ago :D

[2020-06-24 10:21] rasmus-madsen commented on #2597
@imphil U can run Uart tests now - the build didn't work before this update

[2020-06-24 10:31] #2597 closed

[2020-06-24 10:32] vogelpi commented on #1136
I agree that:
- These review items should be added to the checklists. Given that in D3/V3, only bug fixes and improvements for coverage should happen, adding them to D2/V2 seems.
- We should in more detail describe what security testing means.

On the design side, I think we also also add a couple of security-related items (D2) such as:
- SEC_CM_IMPLEMENTED: Countermeasures implemented.
- SEC_NON_

[2020-06-24 11:00] vogelpi opened #2603 "[doc] Non-Reset vs. Reset Flops Rationale"
There have been many discussions on the pros and cons of non-reset vs. reset flops for registering security sensitive assets in OpenTitan IP. We have now concluded these discussions. I have summarized those and documented the rationale here:

https://docs.google.com/document/d/1PNyfKBteoVfaex-zPNg5nY8ny9hyeHII9eJvgK23gjI/edit

Please have a look.

In short, our conclusion is that we cannot give a

[2020-06-24 11:54] alphan commented on #2203
I think you should read the changes in `doc/rm/register_tool/index.md` in #2293 for a better explanation, but in a nutshell shadow registers are a form of protection against fault attacks. In addition to the actual register that is responsible for storage (this is called the _committed_ register in a shadow register), this new primitive has two more registers:  _staged_ register and _shadow_ regis

[2020-06-24 18:25] tjaychen commented on #2603
Thanks for pushing this through @vogelpi.
Does this also mean you'll act as the POC when questions come up on whether a particular block needs non-reset flops?

@moidx
Adding Miguel for his thoughts on where in the security docs he thinks this should go.

[2020-06-24 18:52] eunchan commented on #2544
yeah. I think Option 1 is easiest one as we can do it right now
`fusesoc --cores-root hw/ip --cores-root hw/top_earlgrey`

[2020-06-25 05:26] mdhayter commented on #2598
I have not had a chance to try it with a recent build. (And hello_usbdev has been converted to the new format since I tried.)  JB is correct.

[2020-06-25 07:38] wallento commented on #2477
The top level integration is done, next is finishing a demo with the plain RV32 simulator.

[2020-06-25 08:31] imphil opened #2614 "[OTBN] Architect inner block-level structure"
Create a block architecture for the otbn_core. It will probably look something like https://docs.opentitan.org/hw/ip/otbn/doc/index.html#block-diagram

Goal: a series of SV modules with defined interfaces between the blocks.

It would be nice if we can come up with consistent handshaking rules between the blocks.

[2020-06-25 08:35] imphil opened #2615 "[OTBN] Bring up UVM regression for toplevel"
Produce a basic UVM DV setup with CSR tests for OTBN's top-level interface.

Depends on #2468

[2020-06-25 08:44] imphil opened #2616 "[OTBN] Propose pre-dv approach for module-level testing"
Hardware designers need a pre-DV setup to be able to test individual modules during the development of these blocks.

Goal: Discuss, propose and potentially prototype (if it helps to argue about it) a pre-DV approach for this purpose.

Disclaimer: This is about *pre-DV*, *not* the sign-off DV. The primary audience for this testing are RTL designers.

We have in the past discussed approaches like c

[2020-06-25 09:14] wallento commented on #2477
There is the PoC: https://github.com/wallento/opentitan/tree/bignum-model

[2020-06-25 09:15] wallento commented on #2477
Adding timing is a no-brainer, I can return the number of executed instructions from the simulator, which is number of cycles in OTBN, right?

[2020-06-25 09:36] imphil commented on #2477
Yes, each instructions == cycles is accurate for now.

[2020-06-25 09:48] wallento opened #2617 "[otbn] Add timing accuracy to bus-functional model"
As discussed here: https://github.com/lowRISC/opentitan/issues/2477
Timing is cycles===instructions, hence we can move forward with just returning the cycles.

- [x] Add backchannel for this information, most easy is obviously a file
- [x] Count down from this return until the done goes up

[2020-06-25 09:56] wallento opened #2618 "[otbn] Automatically generate documentation from Python model"
If the Pseudo code is in Python, the code could be generated from the documentation.
Also the instruction coding could be generated from the documentation.
It would essentially be:
[code]
and translate this to:
[code]

[2020-06-25 10:42] felixmiller opened #2619 "[otbn] create generic ECC lib"
Currently we only have ECDSA for the p256. We have to modify this algorithm such that other curves are supported by making the domain parameters modifiable

Work in implementing P384 is tracked in https://github.com/lowRISC/opentitan/issues/2982

[2020-06-25 10:53] imphil commented on #2477
I did have a quick look at the bignum-model branch, nice work! Can you
- file a PR to master for the memutil change so we can get that out of the way?
- The other changes are blocked on the #2468 going into master, which should happen in the coming days. I did create a `otbn-dev` branch here on lowrisc/opentitan that we can use as integration branch to collaboratively work on features which aren't

[2020-06-25 11:05] imphil opened #2620 "[OTBN] Define memory map as seen from "inside" OTBN"
Code executing on OTBN needs to address instruction and data memory. We have defined that this addressing is using byte addresses, but we have not yet defined the memory layout.

Taken from dcrypto is the assumption that imem and dmem is a strict Harvard architecture with imem and dmem starting both at address 0.

There has also been thinking about a data rom and/or instruction rom.

Goal of this

[2020-06-25 12:48] wallento commented on #2472
Generate the following outputs:
- Binary string
- Binary file
- C-struct

[2020-06-25 12:48] imphil commented on #2473
@GregAC mentions: just the area estimate I think as the area will be estimated from that RTL plus other numbers ((Mock RTL Area + Ibex Area) * Security Hardening overhead * fudge factor was the plan)

[2020-06-25 13:05] imphil opened #2622 "[OTBN] Create minimal OTBN frontend in RTL"
Create minimal RTL frontend for OTBN: fetch and decode

[2020-06-25 13:06] imphil opened #2623 "[OTBN] Create minimal OTBN backend in RTL"
Create OTBN core "backend" modules in a minimal form: execute (with ALU), register file and  write-back.

[2020-06-25 13:16] imphil opened #2624 "[OTBN] Create instruction tracer"
Create an instruction tracer, similar to `ibex_tracer.sv`.

The output should be usable for scripts to do instruction-by-instruction comparisons against a golden model.

[2020-06-25 13:33] rswarbrick commented on #2472
I wouldn't worry too much about the C-struct bit: I suspect you can do that as a separate step from a binary with something like objcopy.

[2020-06-25 14:54] wallento commented on #2617
Ready for review in #2625

[2020-06-25 18:11] alistair23 commented on #2598
Thanks for confirming JB.

I can see the link status change when connecting to a USB host.

Any chance you know which commit works? It would be nice to sanity test my setup.

[2020-06-25 18:48] eunchan opened #2629 "[topgen] Reset manager to be more generic"
Reset manager in topgen/merge.py assumes the reset manager instance name to be `rstmgr`.

In Bronze, it is temporary revised to `rstmgr_aon` to make the IP being inside AON power domain. It would be better to have topgen to refer generic reset controller rather than fixed signal.

[2020-06-25 18:50] tjaychen commented on #2629
ah yes i've been wondering this for awhile, where in your opinion is a good place to define what that connection should be called? (there are a few other places like this too).

Should we add a field in `top_earlgrey.hjson` to specify this? and default to `rstmgr` otherwise?

[2020-06-25 19:09] tjaychen opened #2630 "[flash] Flash scrambling enable and address filter"
Need to determine how flash scrambling should be enabled / disabled.
The enabling could be left under software control, but there may need to be an OTP bit to inform the software whether the first code in flash is already scrambled. This is a topic to deserves a longer conversation with software to figure out what the right programmers model is.

A second issue is the flash scrambling address filt

[2020-06-25 19:10] tjaychen commented on #2630
@gkelly
@moidx
@cdgori
@zi-v
@alphan
@mcy
@lenary

[2020-06-25 19:16] wallento commented on #2171
What is your prefered way forward @moidx ?

[2020-06-25 19:23] tjaychen commented on #2171
just chiming in on the HW side. As you point out...the lack of parameterized package is kind of what got us in this unfortunate situation (further.. the registers also, because in our flow they are templated).

My plan all along had been to generate (option 3), I just have not gotten around to it yet.  In that world, the current dependency on `top_pkg.sv` would be removed, and the flash parameters

[2020-06-25 19:25] wallento commented on #2171
Yeah, that sounds reasonable. Taken that this part of OT is not my comfort zone, I would be happy if you move forward with this approach. Thanks!

[2020-06-25 19:33] tjaychen commented on #1291
Required by #2171

[2020-06-25 21:28] eunchan commented on #2629
Sounds good

[2020-06-26 04:53] asb opened #2634 "[doc] Hardware Designs Dashboard text unreadable unless in dark mode"
![Screenshot_2020-06-26 OpenTitan Documentation](https://user-images.githubusercontent.com/1900/85821781-48df4280-b771-11ea-9743-6fd543900ad0.png)
https://docs.opentitan.org/doc/project/hw_dashboard/
The table contents are all in white, and only visible if switching to dark mode.

[2020-06-26 09:01] felixmiller opened #2635 "[otbn] confirm wall-clock predictions with full crypto algorithms"
Once the simulator fully supports the otbn instruction set, we need to confirm in the simulation that we need all wall-clock requirements for the different algorithms

[2020-06-26 09:04] felixmiller opened #2636 "[otbn] done interrupt signaling"
In the [spec](https://github.com/lowRISC/opentitan/blob/916bca2fb6f66bff26467a284e3c751cc344ecd1/hw/ip/otbn/doc/_index.md#ecall) we define the ECALL instruction to fire the done interrupt.

This is an issue with existing code sequences since some subroutines are called from both within the bignum firmware and from the host CPU. (e.g. a modexp primitive)
In the existent architecture, the done inter

[2020-06-26 09:10] vogelpi commented on #2598
Hi @alistair23 ,
thanks for reporting this issue. I made some changes to the IO muxing inside usbdev but there were also quite a lot of changes in the various top-levels regarding pad control etc. Since there are multiple top-levels for the DV, Verilator and the FPGAs and we only test DV and Verilator in CI at the moment, I suspect there is an FPGA-specific issue related to the pad control changes

[2020-06-26 09:10] imphil commented on #2634
I don't find this document linked from https://docs.opentitan.org/doc/project/ either, so maybe it's an old page? The linked one is at https://docs.opentitan.org/hw/ and works just fine.

[2020-06-26 09:14] asb commented on #2634
Ah, the bug is likely that this old page is hanging around then. It's the first or second result on Google for opentitan dashboard.

[2020-06-26 09:18] imphil commented on #2634
@towoe or @gkelly might know more

[2020-06-26 09:21] imphil commented on #2636
Option 2 sounds much saner to me. I find it odd to rely on a programming model where we jump into arbitrary pieces of code and execute until we happen to return from the last function.

Creating `main()`-like wrappers for the designated entry points, which end with an ECALL, would be my preferred solution.

[2020-06-26 09:28] towoe commented on #2634
Interesting find. I do not see this page on a local instance. So might this be a deployment relic?

[2020-06-26 10:04] imphil commented on #2537
prim_util.svh is now prim_util_pkg.sv for different reasons.

[2020-06-26 10:04] #2537 closed

[2020-06-26 10:33] imphil opened #2638 "[OTBN] Feed randomness to the RND CSR/WSR"
The CSRNG block provides ports for consumers of random numbers, such as OTBN (or AES). The exact interface isn't defined yet, as is the bandwidth of this interface.

Also add a local LFSR within OTBN if needed.

[2020-06-26 11:13] GregAC commented on #2473
Mock RTL is now available in this PR: https://github.com/lowRISC/opentitan/pull/2639, have pinged @msfschaffner to run some implementation trials on it.

[2020-06-26 13:28] vogelpi commented on #2603
Yes @tjaychen, I will be the POC for such questions. Thanks for initiating this and for your support Tim :+1:

[2020-06-26 17:29] tjaychen opened #2646 "[OTBN] Idle signal feedback to clkmgr"
The clock manager needs an "idle" indication so that it can ensure the clock is not manipulated while operations are ongoing.  This is primarily to ensure software cannot inject clock glitches into a running design.

It would be preferable is such a signal were level.

[2020-06-26 17:29] tjaychen opened #2647 "[aes] Idle signal feedback to clkmgr"
The clock manager needs an "idle" indication so that it can ensure the clock is not manipulated while operations are ongoing. This is primarily to ensure software cannot inject clock glitches into a running design.

It would be preferable is such a signal were level.

[2020-06-26 17:30] tjaychen opened #2648 "[hmac] Idle signal feedback to clkmgr"
The clock manager needs an "idle" indication so that it can ensure the clock is not manipulated while operations are ongoing. This is primarily to ensure software cannot inject clock glitches into a running design.

It would be preferable is such a signal were level.

[2020-06-26 17:41] imphil commented on #2646
The current design has such a signal provisioned (https://github.com/lowRISC/opentitan/blob/bbfb0e02a34fe7898970096d43c54d916f43886b/hw/ip/otbn/data/otbn.hjson#L39). It's rather underspecified at the moment, so maybe we can take this issue to flesh things out.

For a start: Does "idle" only mean the core itself is idle, i.e. the bus device register interface doesn't matter? I.e. the clock manager

[2020-06-26 17:47] tjaychen commented on #2646
yes that's right. In my mind this is more related to when software starts
otbn on some operation, it cannot shut off the clock until otbn is done.
So a level signal that drops on a "start" and asserts on your "done" should
be more than enough.

Let me know what you think.

On Fri, Jun 26, 2020 at 10:41 AM Philipp Wagner <notifications@github.com>
wrote:

[2020-06-26 17:50] imphil commented on #2646
Sounds good, that's what I've implemented so far in https://github.com/lowRISC/opentitan/pull/2641. I'll update the spec to make it slightly clearer what the `idle` signal is about.

[2020-06-26 17:54] sjgitty commented on #2634
Yeah, that appears to be `https://docs.opentitan.org/doc/project/hw_dashboard/` which should have been deprecated. I can remove that with a PR

[2020-06-26 17:55] tjaychen commented on #2646
thanks! feel free to take yourself off the assign and i'll make sure to
hook it up before closing.

On Fri, Jun 26, 2020 at 10:50 AM Philipp Wagner <notifications@github.com>
wrote:

[2020-06-26 17:56] sjgitty commented on #2634
ooh I see, it is removed from our GH repo, yet it lingers in docs. @gkelly any idea what is going on there? Does hugo need a scrub before rendering?

[2020-06-26 18:01] gkelly commented on #2634
The way the docs push works is that it generates locally and then `gsutil rsync`s the tree over to the hosting bucket. When I first wrote the scripts I was worried that a bad generation run would potentially wipe the current documentation set out if the output directory was empty, so I didn't pass `--delete` to the rsync. Let me check the logs to see if it's ever happened, and if not I can just ad

[2020-06-26 18:09] vogelpi commented on #2647
Sounds reasonable. There is already a bit in the status register indicating that. I will expose this on the top level and connect it. Is there already a corresponding port in the clock manager?

[2020-06-26 18:13] tjaychen commented on #2647
I think there is (need to double check).
But I should also double check if i intended to change how that idle is
generated.

On Fri, Jun 26, 2020 at 11:10 AM Pirmin Vogel <notifications@github.com>
wrote:

[2020-06-26 19:08] msfschaffner opened #2650 "[ibex/otbn] Consider implementing large register files using latch arrays"
It sometimes makes sense to implement very large register files with latch-based arrays if they cannot be implemented with macros (e.g. due to # ports or aspect ratio), since that can lead to significant area (and power) savings.

The register files in `ibex` and `otbn` are candidates that could benefit from this optimization, since they are pretty large (`32 x 32 bit` and `32 x 256 bit`).

There

[2020-06-26 21:33] imphil commented on #2650
Ibex already has a latch based register file available; if you'd like to try it, switch out the ibex_register_file_ff.sv against the ibex_register_file_latch.sv. We can do the same for OTBN, of course.

[2020-06-26 22:57] martin-lueker opened #2652 "[CSRNG] Additional User Input Features"
In #2463, @moidx has requested two specific features that are currently not in the google doc.
1. User input for generate calls. This is specified as an optional feature in SP 800-90A. We need to evaluate whether the current interface proposal in Bronze can support this.
1. Fully deterministic instances made available from software.   Originally I envisioned that software would have access to a lo

[2020-06-26 23:05] cdgori commented on #2603
Thanks for producing this.  I made a couple comments on the doc but it looks very good in general.

[2020-06-26 23:26] msfschaffner commented on #2650
Yeah that is true. I'll give this a go (after Bronze). There are also some DFT and security implications we need to discuss with Nuvoton and @cdgori to see whether this would be feasible at all. I'll update this issue once we have more information.

[2020-06-27 06:41] moidx opened #2656 "[hw] ROM integrity checks"
Based on secure boot, attestation and identity conversations, we need a mechanism to check the integrity of the ROM. One proposal from @sjgitty is to implement a light weight integrity check before reset, and a more cryptographically strong after reset.

This issue is to track the design and implementation of such feature.

@tjaychen, @gkelly, @cdgori

[2020-06-27 07:24] tjaychen commented on #2656
is there any reason to not do the strong check before reset? Are we worried that it could be buggy?

[2020-06-27 22:12] sjgitty commented on #2656
Just a question of area and boot time. Not worried about bugginess.

On Sat, Jun 27, 2020 at 12:24 AM tjaychen <notifications@github.com> wrote:

[2020-06-27 23:40] sjgitty opened #2659 "[i2c] investigate and add MCTP mode to I2C"
@igk8 @tunghoang290780 @martin-lueker

It has been requested for us to look into adding MCTP mode into our I2C functionality. Please research and let us know the ramifications for adding this feature into the existing design.

[2020-06-28 00:06] tunghoang290780 commented on #2659
@sjgitty
Are you referring to  MCTP 1.2.0 specification?
https://www.dmtf.org/sites/default/files/standards/documents/DSP0237_1.2.0.pdf

[2020-06-28 04:14] sjgitty commented on #2659
I can check if that is the most appropriate version, but that appears to be the right one.

[2020-06-28 11:09] felixmiller opened #2661 "[otbn] loading cryptographic constants into wide register"
Maybe I am not seeing it but it seems to me that we are currently lacking a clean way of loading cryptographic constants into wide registers.

I am looking for replacements for sequences like [this one](https://chromium.googlesource.com/chromiumos/platform/ec/+/refs/heads/cr50_stab/chip/g/dcrypto/dcrypto_p256.c#50) (line 50 to 65).

@imphil You had a replacement sequence proposed for the `movi <re

[2020-06-28 22:06] mdhayter commented on #2659
A quick read of that in section 6.3 it indicates "All MCTP transactions are based on the SMBus Block Write bus protocol". We can support that (example in the util/i2csvg/smbus) so the basics are there. It uses PEC which is an 8-bit CRC we can calculate and check in software (although we need to understand how to react if it does not match).

The spec does (or at least can) make use of the SMBus AR

[2020-06-29 00:35] NilsGraf opened #2663 "[vendor/pulp_riscv_dbg] Possible issue in dm_csrs.sv"
While running LEC on `top_earlgrey` using script `syn_yosys.sh`, [line 92 of dm_csrs.sv (see below)](https://github.com/lowRISC/opentitan/blob/master/hw/vendor/pulp_riscv_dbg/src/dm_csrs.sv#L92) causes a warning:
[code]
`ProgBuf0 = 8'h20` and `ProgBufSize = 5'h8`, so the sum is `8'h28`, but this constant is not an element of the `dm_csr_e` enum defined in [dm_pkg.sv](https://github.com/lowRISC/ope

[2020-06-29 09:46] imphil commented on #2663
Thank you Nils for this issue. As you have noted in the title, the pulp_riscv_dbg is a vendored component, and fixes and discussions need to go upstream to https://github.com/pulp-platform/riscv-dbg/. Can you raise the issue there (or a pull request)?

[2020-06-29 13:09] vogelpi commented on #2335
After discussing with @rasmus-madsen, we figured that all those warnings are gone for AES. There are just 4 warnings left related to CSR and DV util packages.

@sriyerg , shall we close this issue?

[2020-06-29 13:25] vogelpi commented on #2603
Thanks for the feedback @cdgori and of course also for your support in these discussions.

[2020-06-29 14:43] imphil commented on #2661
Since GH was down before Felix and I discussed this issue in chat.

We need a solution which:
- Allows us to load constants into WREGs
- These constants need to be part of the (code) integrity check.

I can see two general approaches:

1. Put the constants into a "constant section" of DMEM (think .rodata), and load them together with the initial DMEM before starting OTBN. That's how "normal" softw

[2020-06-29 16:12] NilsGraf commented on #2663
Good point, I reposted it [here](https://github.com/pulp-platform/riscv-dbg/issues/69).

[2020-06-29 17:38] lenary commented on #2157
Is this resolved?

[2020-06-29 17:40] alistair23 commented on #2598
Thanks for getting back to me. Unfortunately there is no longer a package in the CI runner for https://github.com/lowRISC/opentitan/commit/e73e5befbc66fbae493b6fa24138ca44bac21792 so I can't test it.

[2020-06-29 17:43] #2157 closed

[2020-06-29 17:44] mdhayter commented on #2598
I'm trying to rebuild my FPGA so I can take a look. Unfortunately it looks like the build needs more memory now and all I'm doing is keeping the swap process busy.

[2020-06-29 17:57] alistair23 commented on #2598
Thanks. Let me know if I can help. I'm testing some old binaries I have lying around but they don't seem to be helping.

[2020-06-29 23:14] tjaychen opened #2676 "[FPGA] clock dividers on FPGA"
There is need to add local clock dividers inside the clock manager.
The divide is nothing complicated, just a divide by 4 and a divide by 2.  These do not need to synchronous to each other, or for that matter the source clock.

What might be the most FPGA friendly approach to do this?
So far I have gathered a few options, but wanted to see if people have other preferences

- just leave it as RTL a

[2020-06-29 23:15] tjaychen commented on #2676
if others not on the assignee's list want to chime in, please do so.
I'm not an fpga expert and I don't really know the right answer in this area.

[2020-06-30 00:30] mdhayter commented on #2676
Can you generate in https://github.com/mdhayter/opentitan/blob/master/hw/top_earlgrey/rtl/clkgen_xil7series.sv

The PLLE2_ADV has three unused outputs and if you are looking for /2 and /4 of the 50MHz clock then that should be easy with divide by 48 and 96?
    .CLKOUT2_DIVIDE       (48),
    .CLKOUT2_PHASE        (0.000),
    .CLKOUT2_DUTY_CYCLE   (0.500),
    .CLKOUT3_DIVIDE       (96),
    .CLK

[2020-06-30 00:41] tjaychen commented on #2676
I thought about it, but the problem is more hierarchy related.
The clkgen module lives outside top_earlgrey, and eventually inside ast.

While the clkmgr lives within top_earlgrey as a comportable module.  I
would prefer not to have the number of clock inputs change based on which
platform we are targeting.
Sorry I should have clarified that point first.

On Mon, Jun 29, 2020 at 5:30 PM mdhayter <

[2020-06-30 01:29] msfschaffner commented on #2676
the PLL option that @mdhayter mentioned would probably be the best / most performant way to implement this for FPGAs. but given the hierarchy issue that @tjaychen mentioned, I think we should opt for one of the other solutions, since we do not intend to route additional clock signals into the design that are platform dependent. also, we use the FPGA as an emulation platform for the ASIC design - s

[2020-06-30 01:35] tjaychen commented on #2676
yeah my personal preference are RTL divide or BUFR.
I don't really know what the larger implications of BUFR will be...or the
RTL divide.  I think I should try the RTL divide first and see what the
tool does, what do you think?

On Mon, Jun 29, 2020 at 6:30 PM Michael Schaffner <notifications@github.com>
wrote:

[2020-06-30 02:32] tjaychen opened #2679 "[primgen] Parameters not populated"
It seems like if a prim module has the following parameter format
`parameter logic [Width-1:0] ResetValue`

That paramater does not get populated when it is instantiated.

If instead I do
[code]

Then parameter is correctly populated during instantiation.

I've not looked into why this is happening at all yet.. hopefully will get a chance later today / tomorrow.

[2020-06-30 05:32] msfschaffner commented on #1831
FYI: I've double checked with the pad library that we just got. the PU/PD attribute enable signals are encoded such that no conflicts can occur. i.e., they have a pull enable (`pe`) and a pull select (`ps`) attribute. I am about to switch over to that convention in #2681.

[2020-06-30 05:57] msfschaffner commented on #2679
I am not 100% sure, but it looks like the corresponding regex expects an initial value assignment:
https://github.com/lowRISC/opentitan/blob/10013f4113d8ac494be743cef6c7dd3174e2a822/hw/ip/prim/util/primgen.py#L182
can you try with something like `parameter logic [Width-1:0] ResetValue = '0`?

[2020-06-30 08:33] rasmus-madsen commented on #1568
this thread is still on going in meetings - @sriyerg should we keep this until we have a common understanding or should we just go ahead and close it?

[2020-06-30 08:34] #606 closed

[2020-06-30 09:01] rasmus-madsen commented on #1713
@senelson7 can this issue be closed?

[2020-06-30 09:02] rasmus-madsen commented on #1705
@tunghoang290780 can this be closed?

[2020-06-30 09:05] rasmus-madsen commented on #1146
@msfschaffner is there a status on this?
if we cannot publish the lint flow - maybe just a small guide would be helpful for new contributers?
either way I think this issue can be closed once a decision to provide documentation or not.

[2020-06-30 09:09] rasmus-madsen commented on #914
@imphil can we close this? - we are still using the workaround.
and unfortunately we are still stuck with RHEL 6.
but I don't think there is any active effort on making a permanent fix .

[2020-06-30 09:10] #914 closed

[2020-06-30 13:34] #1713 closed

[2020-06-30 17:39] tjaychen commented on #2679
yeah what you have there was exactly what I had before.

On Mon, Jun 29, 2020 at 10:57 PM Michael Schaffner <notifications@github.com>
wrote:

[2020-06-30 18:11] msfschaffner commented on #2676
yeah let's try. as mentioned, we treat the FPGA as an emulation platform, so I think this should be fine for our purposes. we should just be aware that Vivado may spit out critical warnings, and it does not work well at higher clock speeds.

[2020-06-30 20:27] msfschaffner commented on #1146
Yes, the documentation is located here:

https://docs.opentitan.org/doc/ug/design/
https://docs.opentitan.org/hw/lint/doc/README/

I think I also sent out an announcement about 2 months ago, but forgot to close this issue.

[2020-06-30 20:27] #1146 closed

[2020-06-30 20:40] imphil commented on #2676
Pure RTL dividers are probably fine for a start, but won't work forever (Vivado hasn't inferred PLLs from that in the past in my experience).

So at one point, we'll need to wrap things in a prim_clock_divider-style module; if we can do that right from the start (even if we only do a RTL divide in there for now), things will get easier down the road. Really up to you how much time you can spend on

[2020-06-30 20:46] msfschaffner commented on #2676
Indeed, I am also in favor of putting this into a `prim_generic` from the beginning, since this will likely need an ASIC specific implementation with hand selected cells.

Note that I think the idea was really just to divide by powers of two and no other ratios.

[2020-06-30 21:25] tjaychen commented on #2676
yeah i think if we think long term there is a need to wrap it up using a
PLL, it makes sense to use a prim for it now.
That was the approach I was going to go anyways.

On Tue, Jun 30, 2020 at 1:46 PM Michael Schaffner <notifications@github.com>
wrote:

[2020-06-30 22:51] martin-lueker commented on #1921
Effort started with #2662

[2020-07-01 02:52] gorusso commented on #2676
My 2c: some PLL instances may be configured to have clk/2 outputs, so you
can use a single PLL for both of them.
The other thing that comes to mind, is to use a simple RTL divider and let
it drive a BUFG.

On Tue, Jun 30, 2020 at 2:26 PM tjaychen <notifications@github.com> wrote:

--
-Ohad

[2020-07-01 05:23] tjaychen commented on #2676
thanks @gorusso !
The RTL + BUFG is another I had in mind, except we get into a situation where there are cascaded BUFG's, and the tool seems to really have a problem with that.

This is partially because our clock dividers are implemented as BUFGCE's in fpga land.. and a few others and I have wondered for awhile if it would be better if these are just made passthrough.  Do you have any thoughts t

[2020-07-01 06:59] tunghoang290780 opened #2686 "[dv] Add test for V2 and run dvsim.py with option -i V2"
I want to run regression tests for V2 for I2C using `dvsim.py `with option `-i V2`. Below is what I did
 - Define V2 test names in `i2c_testplan.hjson` (with tag `milestone: V2`)
 - Define V2 test name and its `i2c_vseq` name in `i2c_sim_cfg.hjson`

However, when running <path>/dvsim.py  <path>/i2c_sim_cfg.hjson -i V2 ..., there is an error as below. I am aware that V2 test list has been built by

[2020-07-01 07:19] sriyerg commented on #2686
Can you try fixing these errors:
[code]
If tests are not yet developed, then they should not be added to the `i2c_testplan.hjson`. The corresponding `tests` entry in the testplan should be left empty. I will nevertheless, fix this issue.

[2020-07-01 07:33] sriyerg commented on #2686
Fix available in #2688.

[2020-07-01 09:43] rasmus-madsen commented on #1146
@msfschaffner thank you - sorry I must have missed that email.
thank you for the work and for closing the issue

[2020-07-01 16:00] tunghoang290780 commented on #2686
@sriyerg thanks for quick patch

[2020-07-01 16:00] igk8 commented on #1921
Implemented in https://github.com/lowRISC/opentitan/pull/2644

[2020-07-01 16:11] #2686 closed

[2020-07-01 18:27] imphil commented on #2679
It's very likely a bug in the regex, I'll have a look tomorrow morning.

[2020-07-01 18:33] imphil commented on #2473
Thanks to @msfschaffner we got implementation numbers back and are assuming 157 kGE without security hardening.

* #2690 contains the OTBN design for bronze
* https://docs.google.com/document/d/1kUcBXuquL6V06IkcmcEUROpudjw8UB_0EytumCC0WP4/edit# has been updated to contain the area estimate and how it was calculated.

[2020-07-01 19:25] msfschaffner commented on #2451
@eunchan is right that under some circumstances (e.g. when ECC is employed), tiling should be explicit.

Hence, based on the comments above I think we can proceed as follows:

1) in cases where multiple banks are functionally needed (e.g. because ECC needs to be separate, or because higher bandwidth is required as e.g. in the I$), the RAM tiles / banks shall be explicitly instantiated in RTL.

2)

[2020-07-01 19:25] #2451 closed

[2020-07-01 19:28] tjaychen commented on #2236
this has been done...and i HOPE it's now cleaner.
If anyone disagrees, please feel free to re-open. It is fixed in #2588

[2020-07-01 19:28] #2236 closed

[2020-07-01 19:30] tjaychen commented on #2221
Done in #2672.  In the end only 4KB was added.
Nothing special with this memory, it will just be plopped down in always on space.

There is a separate effort to wrap major memories up in comportable controllers, but that will be a separate discussion.

[2020-07-01 19:30] #2221 closed

[2020-07-01 19:32] tjaychen commented on #392
this was done by @GregAC.

[2020-07-01 19:32] #392 closed

[2020-07-01 19:32] #197 closed

[2020-07-02 09:46] imphil opened #2693 "Specify Entropy Distribution Network (EDN)"
Define peripheral interface to Random Number Generator distribution network to be used by AES and OTBN and potentially other users of randomness.

[2020-07-02 09:46] imphil commented on #2693
CC @mwbranstad

[2020-07-02 09:46] imphil commented on #2638
Depends on https://github.com/lowRISC/opentitan/issues/2693

[2020-07-02 09:49] imphil commented on #2693
Something along those lines could work (as done by @vogelpi in https://github.com/lowRISC/opentitan/pull/2140)

[code]

[2020-07-02 10:45] imphil commented on #2473
The mock RTL used for the area estimate is now also committed into `otbn-dev` as part of https://github.com/lowRISC/opentitan/pull/2639.

[2020-07-02 13:55] imphil commented on #2615
Seems like the auto-generated CSR tests are enabled by default and should be working with #2580.

[2020-07-03 10:49] GregAC opened #2696 "[OTBN/SW] Cause a bus error on access to OTBN memories whilst OTBN is active"
The initial OTBN implementation blocks any access to the OTBN I and D mem whilst the OTBN core is busy. This seems like a sensible design but has the side-effect that if Ibex attempts to access either of these memories whilst the OTBN core is busy it will stall until OTBN finishes.

I propose any access to the OTBN memories whilst it is running should result in a bus error. It seems any attempt by

[2020-07-03 11:04] imphil commented on #2
We have settled with Meson now and worked around the deficiencies to work well enough for our use case.

[2020-07-03 11:04] #2 closed

[2020-07-03 12:40] lenary commented on #20
In the move to our own toolchain, we chose the arguments `-march=rv32imc -mabi=ilp32 -mcmodel=medany`, which is the same that we recommend to people bringing their own toolchain: https://docs.opentitan.org/doc/ug/install_instructions/#option-2-compile-your-own-gcc-toolchain

- `-march=rv32imc` is correct for ibex.
- `-mabi=ilp32` is the only compatible ABI for this platform
- `-mcmodel=medany` see

[2020-07-03 12:55] asb commented on #20
Thanks for updating on this Sam. I propose we mark this issue closed.

[2020-07-03 13:01] lenary commented on #20
Yeah, I think we can close this. We'll open a new issue if we choose to move to `medlow`, or once we enable the bit manipulation instructions :)

[2020-07-03 13:01] #20 closed

[2020-07-03 14:16] lenary commented on #650
I think this has now been closed by 3c8ab3b so I'm going to close this issue.

[2020-07-03 14:16] #650 closed

[2020-07-03 15:51] #2580 closed

[2020-07-03 20:47] mdhayter commented on #2598
Ok, built from tree from 6/28. I'm using Vivado 2020.1 which solved my memory use problems (but who knows what other dragons have been let in).

I seem to have working hello_world. I had to fix hello_usbdev.c to add base_set_stdout(uart_stdout) after the uart_init before I got any output. But now I see the same as you. USB is being enabled (pullup is active) and when connected I see VBUS. In the h

[2020-07-03 23:06] martin-lueker commented on #2659
Hi @mdhayter, Thanks for the analysis!  I am unfamiliar with the MCTP protocol, but I'm optimistic that we should be able to do this given all the analysis you've already done in helping us support SMBus.   I'll continue to look this protocol over.
Meanwhile @igk8: Do you think there would be any issue with supporting the special cases (a), (b) & (c) that @mdhayter mentions above?

[2020-07-04 01:04] mdhayter commented on #2598
Have things working after adding a hack to push D+/D- through to usb_fs_rx. Reviewing the existing code I think it would work sometimes if the skew isn't too misaligned but since there is a module to align we should use it. Need to think some more about how to do this in case (3) where the differential is the truth as long as the line isn't at SE0 (or SE1), probably move some of the usbdev_iomux i

[2020-07-04 01:18] mdhayter commented on #2659
I have never encountered MCTP before, so a deeper review is probably needed than the one I did.

@sjgitty is there anyone who would be coding up the software side of the protocol who should review?

[2020-07-04 20:33] mdhayter opened #2703 "[usbdev] Hook tx_osc_test_mode to register bit?"
There is code in the usb transmitter to continually transmit J/K that is currently tied off in usbdev.sv with:
    .tx_osc_test_mode_i   (1'b0), // cdc ok: quasi-static & testmode only

This should probably go to a bit in phy_config since this will be useful in any real chip to check the USB clock.

[2020-07-05 21:05] mdhayter opened #2704 "[usbdev] Is tx_mode_se needed?"
Currently there is an output "tx_mode_se". Can we replace it by just controlling the enable on "se0"? If se0 enable is set then the tx is set to "differential" mode (i.e. d and se0) and if se0 is disabled then it is normal mode (dp and dn).

[2020-07-06 09:32] imphil commented on #56
We are now using Ibex as a test bed for Verible format, see lowrisc/ibex#687. Since Ibex and OT use the same coding style, but is significantly smaller, we should be able to iron out the main issues there before doing the same for OpenTitan.

[2020-07-06 09:33] lenary commented on #270
I think this was closed by #1149?

[2020-07-06 11:50] lenary commented on #11
I think we can close this. Our approach right now is "avoid exceptions as much as possible", which is enforced by reviews.

There are two exceptions in the codebase (so far) from before we became stricter, which I don't think we need to change just for the sake of being stricter (if that code changes, this might change).

[2020-07-06 11:50] #11 closed

[2020-07-06 11:51] lenary commented on #1115
I've looked at this for PLIC, and I know I need to extend that code for the other instantiated peripherals, but I haven't had time to get to it yet.

[2020-07-06 11:54] lenary commented on #113
Closed by 7564e0f

[2020-07-06 11:54] #113 closed

[2020-07-06 15:06] silvestrst opened #2707 "[hw, gpio/pinmux/padctrl] intended behaviour of the Pad Control Pad Wrapper"
https://docs.opentitan.org/hw/ip/padctrl/doc/generic_pad_wrapper.svg
https://docs.opentitan.org/hw/ip/padctrl/doc/padctrl_block_diagram.svg

My interpretation of the two above diagrams, taking GPIO inputs and outputs as an example, is following:
Via [Pinmux](https://docs.opentitan.org/hw/ip/pinmux/doc/index.html), if we connect GPIO0 output to MIO0 output, and GPIO1 input to MIO0 input. Then when

[2020-07-06 15:08] silvestrst commented on #2707
Hi @msfschaffner , I wasn't sure who to ask, `git log` showed that you have quite a few recent commits on Pad Control, so I have assigned this issue to you (formality). Thanks.

[2020-07-06 15:09] silvestrst commented on #2707
@GregAC @tomroberts-lowrisc

[2020-07-06 15:10] imphil commented on #1342
Verible lint is now enforced in Ibex, all blockers have been removed; the ot branch in lowrisc/edalize (which we use in OT as well) has necessary patches to enable waivers (https://github.com/olofk/edalize/pull/178).

[2020-07-06 15:23] vogelpi opened #2708 "[ibex] Enable bit-manipulation extension"
Thanks to the great work of @ganoam Ibex has now support for the RISC-V Bit-Manipulation Extension draft version 0.92 and the implementation is fully verified upstream using RISCV-DV. I think we can consider to enable it also in OpenTitan.

The implementation comes in two flavors that can be selected via parameter. The two flavors enable the following subgroups of the extension:

- Balanced: Expec

[2020-07-06 15:26] vogelpi commented on #2708
This is probably relevant for many people. To ping some: @sjgitty , @tomroberts-lowrisc, @tjaychen , @cdgori , @eunchan , @msfschaffner,  @moidx , @asb, @gkelly , @lenary , @alphan ...

[2020-07-06 15:34] lenary commented on #2708
This is approximately correct. We have been building a combined toolchain with support for the B extension for about a month now, and could switch to using it instead. It supports assembling B instructions, and in gcc's case, compiling to B instructions (support for this has not landed in LLVM upstream yet). All the toolchain's libraries are built without the use of the B extension so that they ca

[2020-07-06 16:28] silvestrst commented on #2707
@gkelly and @lenary for visibility

[2020-07-06 16:39] lenary commented on #2696
Yeah, a bus error sounds better than silently dropping the request or stalling (potentially forever).

I don't know if eventually we can set up a PMP region so you end up with a PMP error rather than a bus error, but that can come later.

[2020-07-06 16:46] cdgori commented on #2661
I am generally in favor of option #1 - these specific constants look to be curve-parameter related, and putting them into ".rodata"-like regions sounds good to me.  We might be able to enforce other access semantics (e.g. no writes once executing, or something like that, or perhaps some other continuous integrity check) on that region to keep software from mangling the curve parameters (which is a

[2020-07-06 18:33] msfschaffner commented on #1342
It looks like we are close to being able to enforce this on the master branch of opentitan as well:
https://reports.opentitan.org/hw/top_earlgrey/lint/veriblelint/summary.html
I'll take a crack at things on the opentitan side later this week.

[2020-07-06 18:40] senelson7 opened #2713 "Randomized efuse behavior"
Entropy_src has an input that comes from an efuse. I would like to verify the behavior with the fuse blown/not blown. I put a variable in the entropy_src_env_cfg but what is the preferred way to get that to the I/O in the tb? Is the env_cfg in the config_db and I can get it from the tb? Is there already an interface for these kind of things that I can get from the tb? Other ideas (new or existing)

[2020-07-06 20:45] vogelpi commented on #2598
Thanks @mdhayter for investigating this and for sharing your findings!

Looking at the git history I can see what you mean: before commit a17530f0a the D+, D- signals were directly fed into the protocol engine (and the `usb_fs_rx`) without synchronization. Now these signals are synchronized to the USB clock using a `prim_flop_2sync` primitive inside `usbdev_iomux`. Inside `usbdev_iomux` we now als

[2020-07-06 20:46] vogelpi commented on #2703
Hi @mdhayter,
yep, I can definitely connect that. This feature was added by @stefanlippuner originally. I will prepare a PR to get a bit in phy_config next week.

[2020-07-06 20:59] vogelpi commented on #2704
Hi @mdhayter ,
This change will be a bit more invasive as those signals propagate through the top level. But yes, this can be done. Right now the enable for both se0 and tx_mode_se is statically set to one.

I am out of office this week, but will look into this next week.

[2020-07-06 20:59] sriyerg commented on #2713
Yes, there is `[pins_if](https://github.com/lowRISC/opentitan/blob/master/hw/dv/sv/common_ifs/pins_if.sv)` abstraction for sideband signals.

You can add a `pins_if #(1) efuse_es_sw_reg_en_if(..)` instance in tb.sv and pass it to the config db just like the other interfaces. You would retrieve the handle to this interface in `entropy_src_env::build_phase`. I recommend putting the virtual interface

[2020-07-06 23:03] alistair23 commented on #2598
Thanks so much for looking into this!

Unfortunately I can't really comment on the hardware design. Is it possible to share the working bitstream you have @mdhayter? I would love to start testing it.

[2020-07-07 06:34] stefanlippuner commented on #2703
Hi all
Yes, that is one of the features that we decided not to upstream. If you'd like it should quite simple to add (e.g. sometime next week). We also excluded my observability and controllability additions to the transceiver interface. Should we also add those? We have since decided to use the controllability to implement remote wakup in software.

[2020-07-07 06:48] stefanlippuner commented on #2598
The input signals were previously also synchronized, this was just done in usb_fs_rx.sv (l. 50 ff.). The selection of the differential signal for clock recovery was deliberate, as using it should give the best performance. I tested both input modes on our FPGA testbed and they worked without problems.

[2020-07-07 08:54] rswarbrick opened #2719 "Pull OTBN instruction documentation into something more "machine readable""
Put the existing OTBN documentation into a YAML file that can be used as a database from which we can generate other stuff too (tags for the random instruction generator, for example).

[2020-07-07 08:56] rswarbrick commented on #2719
So far, I've done the tedious reformatting, moving the existing markdown code into YAML and extracting the structure. To do: a YAML -> Markdown script that we can use for putting this back into documentation. Work estimate left: A day or so.

[2020-07-07 08:57] imphil commented on #2570
From a "programmer's perspective", I'm not really a fan of CMP(B) and I think adding more functionality to it will make it harder to improve that later, but I see the motivation coming from the implementation as well. So let's get this change in for now, and see if it becomes a problem down the road.

[2020-07-07 08:57] imphil commented on #2570
Fixed by https://github.com/lowRISC/opentitan/pull/2571

[2020-07-07 08:57] #2570 closed

[2020-07-07 09:02] imphil commented on #2719
I assume this work can also be used as a starting point for https://github.com/lowRISC/opentitan/issues/2618?

[2020-07-07 13:26] #2679 closed

[2020-07-07 15:57] eunchan opened #2721 "[topgen] indication of subsystem"
Revise `top_{name}.hjson` to have indications of subsystems. Each IP instances, memories, crossbars will have `subsystem` field that indicates which subsystem it belongs. Top-level also has `subsystems` field which has details of the subsystem configs.

With these fields, topgen will be able to figure out what signal ports the subsystem has and create the subsystem RTL accordingly.

[2020-07-07 19:05] sriyerg opened #2724 "[rtl] Use CSR abstraction for FIFO windows wherever possible"
An example of this is in the `flash_ctrl` where the `prog_fifo` and `rd_fifo` are single 32-bit windows to a fifo implementation underneath.

https://github.com/lowRISC/opentitan/blob/00cad63f191454a95f97830a009de3a0381e84eb/hw/ip/flash_ctrl/data/flash_ctrl.hjson#L470

The UVM register abstraction automation uses the `window` keyword to create a memory, which makes scoreboard / checking logic deve

[2020-07-07 19:09] eunchan commented on #2724
I think @tjaychen can comment in detail but register interface doesn't
have back pressure mechanism. Reg interface would be safer but has
chance to lost the data.

On 7/7/20 12:05 PM, sriyerg wrote:

[2020-07-07 19:14] tjaychen commented on #2696
do you really want to error on all requests though? I know OTBN right now is interrupt driven, but it's conceivable the host processor may want to poll on some status or condition for the sake of some application or software work-around.

The way i've been thinking about it is that the internals of OTBN should not be modifiable while it is ongoing, but it should still be readable (at least portion

[2020-07-07 19:34] tjaychen commented on #2661
Sorry i'm a bit out of date here.  For what the integrity check you guys are talking about, is that supposed to be done by OTBN or the host processor? If it's the host, then I definitely agree with option 1... because the host will load the code / data as a block out of flash anyways.  Where it places everything inside OTBN i think is just semantics.

Am I missing something?

[2020-07-07 19:46] sriyerg commented on #2724
Aah, I see. Do you think we could add a `backpressured` field to the register hjson dict? Or, alternately, split `window` into two types of abstractions - one is a CSR backing a fifo and the other is a pure memory instance such as ram / rom / flash.

[2020-07-07 20:18] imphil commented on #2531
OK, I finally got to the bottom of this. Increasing ulimit was something I did before, but generally wasn't sufficient.

Turns out, (my configuration of) VS Code is rather excessively watching files, exceeding the limits. Closing VS Code solves the problem. I probably need to spend a bit more time excluding build output directories there.

[2020-07-07 20:18] #2531 closed

[2020-07-07 21:06] eunchan commented on #2724
Having type inside window field as you mentioned looks good idea.

On 7/7/20 12:46 PM, sriyerg wrote:

[2020-07-07 21:48] moidx opened #2727 "[RFC] Add support for AES CFB-128 and OFB-128 modes"
This issue proposes the addition of Cipher Feedback (CFB) and Output Feedback (OFB) cipher block modes to AES to meet the TPM2.0 specification requirements.

Note that CFB mode is the only cipher required by the TPM2.0 specification. We request support for OFB mode as well since it is very similar to CFB and may be potentially implemented via incremental changes.

Reference: [TPM Library Part 1 Ar

[2020-07-08 07:30] tjaychen commented on #2724
@sriyerg , for the `type` abstraction you're talking about, would that just be a note for DV? Because I can't quite tell based on the comment what would change in the design.  It sounds like in both cases it would still be a tlul going out, and we would rely on the design to do the right thing? (either FIFO or real memory)

Also, is there something about the `flash_ctrl` usage of fifo that is diff

[2020-07-08 07:59] sriyerg commented on #2724
I should have been clear - nothing would change in the design. This is more of a DV modeling issue. with `window` `rd_fifo` and `prog_fifo` in DV gets models as a UVM memory. It felt like they were better modeled as registers. I just wanted to see if we can update the ralgen automation in a way where that the design is not affected in any way, but for DV it creates a UVM register model rather than

[2020-07-08 09:38] rswarbrick commented on #2618
I think that it would probably be better to do this "the other way around", so we add magic comments in the golden model that the documentation can use to show the implementation. For the decode, however, I think it makes lots of sense to extract this from the "instruction database". Initial strawman database here: https://github.com/lowRISC/opentitan/issues/2719.

[2020-07-08 09:42] rswarbrick commented on #2696
That's a good point but would it be easier just to have some status registers, rather than a shared memory? That seems much easier to audit from a security point of view and if all you need is "have I finished phase N?", it's more than enough.

[2020-07-08 09:44] wallento commented on #2618
Yes, thinking about it, I think I agree, maybe docstring can be extended for this?

[2020-07-08 09:51] rswarbrick commented on #2618
Maybe. I was imagining something even stupider, where the extractor doesn't need to understand python syntax. So you'd have lines like this:

[code]

If it's easy to load up the Python code and do reflection to find the relevant stuff, maybe that would be neater, but I'm not sure it's required.

[2020-07-08 10:19] GregAC commented on #2696
I agree with @rswarbrick having some seperate space that can be used for OTBN to report status to that Ibex can read whilst it's running seems like a useful feature. Maybe just an extra set of CSRs that are visible to the memory system (either read-only or read-write, maybe these access permissions could be controlled by OTBN).

[2020-07-08 10:36] silvestrst opened #2737 "[sw, DIFs] unresolved PR comments and follow-ups"
I completely agree that DIFs don't have to be impeccable for the initial merge, and we can fix-up a lot of the comments as follow-ups. However, I think we should establish some procedures to capture the fact that some merged PRs have unresolved comments. This would allow to avoid wasting review effort (after several weeks, nobody remembers what review comments they have left, and would have to re-

[2020-07-08 10:37] silvestrst commented on #2737
I have noticed that there are a lot of suggested follow-up changes on I2C, and hence this issue.

[2020-07-08 10:48] lenary commented on #2696
Yeah, this does seem like the right compromise:
- Bus error on trying to access d/imem while OTBN is running.
- A few specific registers for signalling information between OTBN and the main ibex core (My view is these should probably be uni-directional for security, but have more than one for each direction).

[2020-07-08 11:25] felixmiller commented on #2661
- Yes, the constants in the linked code are curve domain parameters. I also agree that putting such constants into dmem is the more natural way. Nevertheless I wouldn't close the door on the possibility to have constants also in the instructions stream too early.
- Practically this is already possible with the current spec, since the mod register is mapped on CSR. We can therefore load constants i

[2020-07-08 11:26] felixmiller commented on #2636
Agreed, we have to consider though, that we sacrifice one position of the call stack (need to make the call stack one pos deeper)

[2020-07-08 11:33] felixmiller opened #2738 "[otbn] need shift left instructions for GPRs"
To support some loop calculations we need a shift left for GPRs. I would suggest to add SLLI and SLL. Actually adding SLLI would be sufficient but to keep it more general it makes probably sense to support both.

[2020-07-08 11:38] GregAC commented on #2738
Shall we add right shift as well? Even if there's no immediately obvious need seems sensible to add a full set of shifting instruction if we're adding some. Comes at a minor extra area cost but shouldn't be a big issue.

[2020-07-08 12:33] felixmiller commented on #2738
yes, probably makes sense to include the full set then

[2020-07-08 14:01] imphil commented on #2636
Given the size of bignum, an additional 32b register in the call stack isn't going to change its area significantly.

[2020-07-08 14:46] imphil commented on #2696
A status register already exists and can be used for polling. If desired, we can extend this status register to provide more fine-grained status (i.e. status within the run-to-completion operation). That hasn't been a requirement so far and would be a separate issue anyway.

The protocol how to use OTBN is as follows:
- Access IMEM and DMEM as you wish.
- Start the operation by writing the START b

[2020-07-08 15:17] alphan opened #2740 "Question about rv_timer register layout"
This came up in #1501. Currently, IRQ registers of rv_timer come after comparator registers, meaning that their addresses depend on the number of comparators, which is configurable. To support different configurations without requiring recompilation, #1501 uses a helper function but it could be eliminated if the irq registers were placed before the comparator registers. Just to be clear, this does

[2020-07-08 15:38] mcy opened #2741 "dif_rv_timer followups"
- [ ] Add comments to `dif_rv_timer_result_t`.
- [ ] Bring `_irq_` functions into consistent names (pending on https://github.com/lowRISC/opentitan/issues/2366#issuecomment-637071965).
- [ ] Remove `_reset()` call in `_init()` (pending on #2366, too).

[2020-07-08 15:50] lenary commented on #2741
- [ ] `_Static_assert` on member sizes in `dif_rv_timer_config`
- [ ] Update name of `dif_rv_timer_arm` to `dif_rv_timer_set_threshold`

[2020-07-08 17:44] msfschaffner commented on #2707
Hi @silvestrst,

Your interpretation is correct. Since we're using bidirectional pads, the value driven to a pad can be read back via the corresponding input signal.

Is there something that does not behave the way it should?

[2020-07-08 17:46] tjaychen commented on #2724
thanks @sriyerg
let me think about this some more also. I'll check in with the software team on the back-pressuring, because some members of the software team will be very against the idea of deadlocking.

[2020-07-08 17:54] tjaychen commented on #2696
sounds good. If there is already status registers or plan for more information, then i agree the memory should just error back. I'm still a bit hesitant to say that it should not even be readable, since I have seen ugly software work-arounds that relied on being able to poll memory, but hopefully that's not something that should ever come.

[2020-07-08 19:35] moidx commented on #2696
From a programming model perspective we are planning to rely on the done interrupt and the status register to manage execution.

One thing we have not added to the programming model yet is the ability to reset OTBN from Ibex. This may be used to simplify OTBN state management. Updating @imphil's flow (from ibex perspective):

* mutex lock
* Initialize OTBN by applying reset + secure initialization

[2020-07-08 19:48] tjaychen opened #2748 "[OTBN] Reset requirements"
Following a comment from @moidx [here](https://github.com/lowRISC/opentitan/issues/2696#issuecomment-655714103), I think it's worth discussing a bit the finer grain reset control for OTBN.

The current reset definition does not have an OTBN specific reset that can be manipulated by software, we can certainly add one here, or OTBN can provide one locally.

The original reason for not allowing a per

[2020-07-08 20:03] wallento commented on #2496
Maybe further clarification needed, in case I am not missing anything: `LOOP` will be executed once and iterations initialized with the gpr value. Changes to the gpr in the loop body will not be reflected in the loop iterations.
Correct? That could be an important difference to the suggested standard "soft" loop wrt. security (wild guess ;)

[2020-07-08 20:36] wallento commented on #2496
Another thing that comes to my mind about nested LOOP.
Consider the following code:
[code]
It is supposed to run the last instruction 64 times. Is OTBN supposed to execute each loop and check the condition for each loop statement or is this supposed to occur implicitly, i.e. count down instructions of the current loop and then start the next iteration at the first instruction of the body?
If that

[2020-07-08 23:48] #501 closed

[2020-07-09 00:59] msfschaffner commented on #2473
Hey @imphil, @GregAC,

We just got the new standard cells from Nuvoton, hence I repeated the synthesis sweep for OTBN.
A few things have changed, including the GE, since it turned out that we were not using the right factor for area normalization.
This is a bit unfortunate, since we probably have to update the estimates for Bronze.

I have updated the document linked above - can you PTAL?

[2020-07-09 01:10] mdhayter commented on #2598
Changed this in https://github.com/lowRISC/opentitan/pull/2753

I moved all the syncronization to usb_fs_rx and recover the differential and single ended data then select between them. That keeps the iomux to just a pin-flip mux on the input path.

Also added a bunch of testing for all the modes flip/not singleended/differential to the verilator dpi testbed. And for flipping to the nexus video FPG

[2020-07-09 02:54] sriyerg opened #2754 "[flash_ctrl] Flash ctrl errors when programming a region with no protection enabled"
Scenario:
- mp_region_cfg* CSRs are programmed with random values, but the en bit is 0 (memory protection not enabled).
- programmed flash_ctrl op: 1/10: '{partition:FlashCtrlPartitionData, op:FlashCtrlOpProgram, num_words:'h2b, addr:'h657a}

Issue:
The start addr for programming flash with `2b` words ends up matching multiple regions, rather than falling into the default region. This is due to th

[2020-07-09 03:11] tjaychen commented on #2754
good catch, i'll submit a fix soon.

[2020-07-09 03:44] moidx commented on #2748
Just to move the context to this thread, the OTBN reset discussed [here](https://github.com/lowRISC/opentitan/issues/2696#issuecomment-655714103) is mainly to enable handling of some error conditions without requiring a system reset, for example, unexpected timeouts. This reset could be reduced to reseting the OTBN control logic to be able to bring it back to ready state.

Is the concern that the

[2020-07-09 04:19] tjaychen commented on #2748
@moidx
yes what you say makes sense.
From my perspective, I do agree the host system is in the same trusted boundary, otherwise, the host would never be able to supply keys or see the results of a bignum operation.

Your points on secure clearing make sense also, although that sounds more like a managed sequence than it does a big reset button.  Maybe @imphil and @GregAC can comment a bit more on

[2020-07-09 04:41] sriyerg commented on #2580
Sorry, late to the party. There are test breakages at the chip level in the nightly regressions due to integration of OTBN without any qualification:
https://reports.opentitan.org/hw/top_earlgrey/dv/latest/results.html

From DV perspective, it is ideal to integrate IPs at the chip level after they reach D1 V1 quality. This ensures that the port list and the SW interface is solid, and the basic dat

[2020-07-09 07:57] silvestrst commented on #2707
Hi @msfschaffner , I am currently working on combined GPIO, Pinmux and Pad Control sanity test, essentially:

When I tried it on verilator, I didn't seem to get the driven signal on GPIO1 input (see the quote above). I have then dumped a Verilator trace (by launching it with "-t") and did not see expected changes in signals there either (I have accidentally deleted the trace, so can't specify the

[2020-07-09 08:56] sriyerg opened #2755 "[flash_ctrl] Size of the default region is set incorrectly"
In `flash_ctrl.sv`, the size of the default region is set as follows:
[code]
This is one less than what it should be. This causes the last page (#511) to be completely inaccessible. This is due to the way `region_end` and `region_match` are calculated in `flash_mp.sv`.

![image](https://user-images.githubusercontent.com/46467186/87018647-65727600-c186-11ea-80f5-33261cb52630.png)

In the snippet ab

[2020-07-09 09:23] silvestrst commented on #2292
Does this still hold for S2 checklist items?

[2020-07-09 11:32] rswarbrick commented on #2580
@sriyerg: I'll take a look at this later today. For what it's worth, a PR that was merged 6 days ago isn't a very good place for a bug report. Maybe raise an issue next time?

[2020-07-09 14:09] alistair23 commented on #2598
Thanks for doing that!

I have an OpenTitan account (alistair23@opentitan.org) but I'm not included in the team drive.

[2020-07-09 16:38] #2719 closed

[2020-07-09 16:42] gkelly commented on #2737
Just for clarity, the RFC proposal here is "Any PR merged with open comments must generate issues for each of the comments assigned to the PR author"?

[2020-07-09 17:35] sjgitty opened #2761 "[regr] channel and subject for reporting regression results"
In organizing the reporting of regression results, we're looking for the appropriate channel and subject line for easier viewing / filtering. Suggesting the following:

1. reports go to OT silicon team only
2. subject allows for filtering, gives the following information in the subject line

`[ot-silicon][cron] OpenTitan <reporttype> Regression report <date>`

Examples:

[code]

Weigh in if you th

[2020-07-09 17:48] sriyerg commented on #2761
@cindychip, @msfschaffner
All of these suggested changes SGTM.

[2020-07-09 17:59] sriyerg commented on #2580
This is not a bug report. I'm just catching up on reviews / issues where my opinion was sought. Seemed unnecessary to file yet another issue on the same topic.

[2020-07-09 18:33] sjgitty commented on #2659
I don't have a name for you at this time. The request was from an external interested party, so not native to our project. I'll see if they can formulate the request a bit more narrowly, but the first request was to keep this spec in mind while working on I2C as it has some features that aren't intrinsically obvious. @gkelly for visibility.

[2020-07-09 19:24] msfschaffner commented on #2761
This sounds good to me. I think our formats are mostly aligned with that.
@cindychip, I think we only have to add `` `date +"%Y-%m-%d"` `` to the email script argument.

[2020-07-09 19:24] msfschaffner commented on #2761
@lenary for visibility

[2020-07-09 20:02] lenary commented on #2761
@msfschaffner Thanks!

For my needs, a unique tag like `[cron]` in the subject is good enough to filter on. I think I'm not the only person filtering these emails :)

[2020-07-09 21:07] tunghoang290780 opened #2763 "[uart, dv] How is rx_overflow interrupt verified"
Hi,

I run uart_fifo_overflow test and got the waveform for interrupt (internal) event signals and output ports. From the waveform, it seems that rx_overflow interrupt is not asserted so how is that feature verified?

![image](https://user-images.githubusercontent.com/53881329/87090788-61c60a00-c1ed-11ea-8c9d-6c332f4526a2.png)

[2020-07-09 22:16] msfschaffner commented on #2761
Ok I have updated the cronjob scripts such that the regression date is appended to the email subject.

I'll leave this issue open until we get the next batch of regression reports, and close it down tomorrow if there are no objections.

[2020-07-10 00:15] tjaychen opened #2767 "[fusesoc] Templated modules top vs ip"
This is something @msfschaffner, @eunchan and I have observed for some time, so I wanted to file an issue to discuss the current solution and why it's not sustainable long term, as well as discuss what steps we can do to improve.

**Overview**
In opentitan, there are a fair number of modules (`alert_handler`, `rv_plic`, `pwrmgr`, `clkmgr`) that are templated.  This means these modules need to conf

[2020-07-10 00:18] tjaychen commented on #2767
I should mention one possibility is that for such templated modules we just forego the IP version, and just always have it depend on `top_*`.  That could certainly work too.

Using `alert_handler` as an example, the `hw/ip` level would not have any templated rtl files.  Those would all exist under the various `hw/top_*`, and the `alert_handler.core` would just be updated to reflect that fact.

[2020-07-10 01:04] eunchan commented on #2767
It is also related to #2544 , which can be a solution.

[2020-07-10 01:08] tjaychen commented on #2767
But i think what you discussed there is still part of the solution here though.

[2020-07-10 01:10] eunchan commented on #2767
The other solution is.. Just drop the checking-in the generated files and generate them on-the-fly.

[2020-07-10 01:33] tjaychen commented on #2767
indeed, that is another option :D
but if we do that, we'll need to come up with something different...because based on my experiments at least, fusesoc generators doesn't QUITE fit our needs.

[2020-07-10 04:07] msfschaffner commented on #2707
Ah I see. The issue is that you are running this on Verilator, since the chip-level module for Verilator (`top_earlgrey_verilator`) is different from the ASIC and FPGA chip-level modules (`top_earlgrey_asic`, `top_earlgrey_nexysvideo`). The Verilator top does not instantiate the padring, and hence it does also not simulate the pad wrapper.

This is a known issue. Also the FPGA and ASIC tops are sl

[2020-07-10 06:43] silvestrst commented on #2707
@msfschaffner thank you for clarifying this for me!

Am I understanding correctly that this is planned work, and verilator should be able to simulate this behaviour at some point in future?

I was mainly working on insel/outsel functionality, for which the CSRs will stay the same? Is this still holds true? But anyhow, I am  planning to hold off this work for now.

[2020-07-10 09:41] imphil commented on #2767
You can depend on the core that calls the generator. This is what we do for the primitives, a dependency on `lowrisc:prim:ram_1p` is an example (https://github.com/lowRISC/opentitan/blob/master/hw/ip/prim/prim_ram_1p.core).

I might be missing something that makes that impractical; in this case, fusesoc changes are always an option and typically not too hard to do.

That should work together or in

[2020-07-10 09:52] imphil commented on #2468
Implemented and merged in #2641

[2020-07-10 09:52] #2468 closed

[2020-07-10 09:53] imphil commented on #2473
Greg updated the numbers, and I updated the random gate generator parametrization in the bronze branch. Should be OK now.

[2020-07-10 09:53] #2473 closed

[2020-07-10 10:45] rasmus-madsen opened #2771 "[aes] going from 128b encode to 192 decode seem to cause a problem in manual mode"
hi @vogelpi

I have a few failing test in the alert_handler_branch.
the test is running in ECB mode only.
the first transaction is an ecryption of 16 bytes with a key len of 128b.
the second is a decryption of another 16 bytes with a keylen of 192b.
and in another test it goes from 256 to 192b

the second fails with the wrong output.
Running in 192b only does not provoke the issue.
so it seem to b

[2020-07-10 13:02] rasmus-madsen commented on #2771
@vogelpi
after doing some more debugging I have narrowed it down to be something related to the key or the change of key.
running the test with fixed data for each block makes no changes.
but running the test with random data and fixed key the test passes.

so everything but the key is static.

2 messages of 1 block.
message 1 Encode 128b.
message 2 Decode 192b.

mode, Key len and key changes betw

[2020-07-10 14:02] rswarbrick opened #2775 "Chip test failures: missing error code from the u_ram1p_ram_ret?"
The nightly chip regressions contain failures with error messages like this:
[code]

To reproduce, checkout version d54a450 (current head of master) and run:
[code]

A small amount of digging (mostly enabling verbose error messages) seems to show that this is caused by the scoreboard expecting an error with the following item. The generated address map seems to place this somewhere in "ram_ret", a

[2020-07-10 14:04] rswarbrick commented on #2775
@tjaychen: I notice you added the retention RAM. Could you have a look at this to see what's come unstuck? Presumably either the RTL is buggy and should be returning an error code for this request, or the test infrastructure needs to be told something different.

[2020-07-10 14:24] rswarbrick opened #2776 "Nightly regression results have rather odd-looking dates"
For example, the CHIP results list for yesterday (9th July, with URL https://reports.opentitan.org/hw/top_earlgrey/dv/2020.07.09_02.09.58/results.html) looks like this:

![ss0](https://user-images.githubusercontent.com/104845/87163657-9a361880-c2bf-11ea-8ee2-254f9f2cda01.png)

I assume that the time code in the URL (02:09 am on the 9th of July) corresponds to when the tests finished. I'm pretty ce

[2020-07-10 14:47] rswarbrick opened #2777 "[otbn] Would it make sense to split `bn.mulqacc` into several different instructions?"
The current syntax for `mulqacc` is this:
[code]

The `<wrd>` argument is required if and only if `<wb_variant>` is specified. This is a bit complicated. Would it make more sense to define one opcode for when writeback is enabled and one for when it's not? (This would not have any effect on the encoding or the hardware; just on assembly syntax).

[2020-07-10 14:48] rswarbrick commented on #2777
@GregAC: I know you specified this in the first place. Would this split make sense to you?

@felixmiller, @wallento

[2020-07-10 14:52] GregAC commented on #2777
Mentally I think I had seen it as three different instructions anyway `BN.MULQACC` `BN.MULQACC.SO` `BN.MULQACC.WO`

Perhaps we just need a documentation tweak so rather than having a `[<wb_variant>]` field we just list three different instruction mnemonics along with the current description with the appropriate tweaks? Preferably we don't want to replicate the rest of the instruction description t

[2020-07-10 14:58] GregAC opened #2778 "[otbn] Accumulator access instructions"
Do we want to add instructions to give easy access to the accumulator used by `BN.MULQACC`? You can already use the `BN.MULQACC` instruction for this purpose but it's a bit awkward (use a series of 1 * N multiplies with appropriate shifts to load desired value into the accumulator, use a 0*0 multiply with a write out to get the current accumulator value). Proposed instructions would be along the l

[2020-07-10 14:59] rswarbrick commented on #2777
Cool, sounds sensible to me. I'll try a documentation patch now.

[2020-07-10 15:02] imphil commented on #2778
With that instruction we could also remove the `.Z` variant from the BN.MULQACC instruction. (Not sure if that's good or bad.)

@felixmiller

[2020-07-10 15:02] GregAC opened #2779 "[otbn] BN.MULQ instruction"
Do we want a plain multiply instruction? We do effectively have one in the form of  `BN.MULQACC.WO.Z r2.l, r1.0, r0.0` and similar instructions (i.e. zero accumulator to start then write out result after multiply-accumulate giving you just the multiply result) but this zeros the accumulator.

[2020-07-10 15:04] GregAC commented on #2778
You would need an extra instruction to zero the accumulator though, the intent of the `.Z` was to avoid this but this may be a bit of a micro-optimisation ;)

[2020-07-10 15:41] rswarbrick commented on #2778
The Broadcom DSP I used to work with had a whole load of operations like "macss" (multiply accumulate, signed saturation), "mzcss" (multiply, accumulate from zero), "mncss" (multiple accumulate negative) and (I think) "mnzcss". There were other variants for different saturation options.

I think they basically went for the "encode all the flags in the mnemonic" approach. This makes the syntax nice

[2020-07-10 16:09] wallento commented on #2618
Are you planning to implement it in Python? I think I have a good idea how this can be done by enhancing the way that codings etc. are done

[2020-07-10 16:34] wallento commented on #2618
Woah, I have something incredibly elegant, based on https://docs.python.org/3/library/inspect.html
I will polish it over the weekend and put into the PR!

[2020-07-10 16:53] imphil commented on #2614
I'm on it now with the goal of a PR with the rough inner structure of OTBN.

[2020-07-10 16:54] GregAC opened #2782 "[otbn] Memory Access Alignment"
Currently I can't see anything in the OTBN spec that specifies whether memory access should be aligned or not.

I would propose that all accesses must be 4-byte aligned (both narrow and wide accesses). Any unaligned access would cause OTBN to halt with an error.

[2020-07-10 16:55] rswarbrick commented on #2782
Sounds reasonable to me. Should this also apply to bus accesses?

[2020-07-10 17:02] imphil commented on #2782
Yes, only aligned accesses. That should be added to the docs.

Rupert: What kind of bus accesses do you mean?

[2020-07-10 17:13] msfschaffner commented on #2707
This is something we will align eventually, yes. It just has not been very high up the priority list.
Note however that there will likely remain small differences between the platforms, since it is not always possible to make them completely identical.

The insel / outsel functionality will remain, but the CSR names and the corresponding indices will likely change.
I'll contact you before we go in

[2020-07-10 17:18] imphil commented on #2782
Actually, wide DMEM accesses also should be 256b-aligned.

[2020-07-10 17:20] rswarbrick commented on #2618
That sounds great! Yes, this will be in Python (an extension to the existing `yaml_to_doc.py`).

[2020-07-10 17:26] msfschaffner commented on #2544
I kind of like Option 1 since it is explicit and straightforward to implement.

Generators are nice and flexible, but also add more complexity to the build flow - so they sort of feel like a "last resort" to me :)...

[2020-07-10 17:29] cindychip commented on #2761
Sounds good, I will update the script for DV and FPV regressions.

[2020-07-10 17:37] wallento commented on #2782
Yes, I think both should be the case, alignment to XLEN

[2020-07-10 17:48] tjaychen commented on #2767
@imphil

let me describe why i thought that way was't quite going to work (although maybe I misunderstood fusesoc generator's full capability).

I was thinking about proceeding down the path you're describing, basically at the `hw/ip` level creating core files that would generate on the fly (`rstmgr_pkg.core` and `rstmgr_reg.core` in this case).  Since the contents of these core files need to chan

[2020-07-10 18:15] msfschaffner commented on #2767
Hi @tjaychen, thanks for prototyping this!

While I think both solutions could work, I am leaning towards the fusesoc switch + `--cores-root` option, for the following reasons:
1) complexity. I feel like the generators make things more complex and implicit, and hence they are kind of a last resort to me. adding these switches to new IPs that are top-dependent is in my view simpler and more straigh

[2020-07-10 18:28] msfschaffner commented on #2761
No worries, I'll wait.

[2020-07-10 19:13] felixmiller commented on #2777
I don't really have a preference here, @rswarbrick proposal lgtm and is probably a bit better readable on the asm level

[2020-07-10 19:42] tjaychen commented on #2775
o is this because we added a retention ram but this was not updated in the
dv environment somewhere? so it's still considered "empty" space?

On Fri, Jul 10, 2020 at 7:05 AM Rupert Swarbrick <notifications@github.com>
wrote:

[2020-07-10 20:08] tjaychen commented on #2775
nvm... it looks like the memories are auto-discovered..and i think the
error message is saying this is not an unmapped error? Is that right?

On Fri, Jul 10, 2020 at 12:42 PM Timothy Chen <timothytim@google.com> wrote:

[2020-07-10 21:21] sriyerg commented on #2763
@weicaiyang is on vacation until August. I will try to take a look tonight.

[2020-07-10 21:25] mdhayter commented on #2598
@alistair23 I shared a bitstream and program binary with you on the shared drive, It let me add your opentitan address for access so you should have email in you opentitan account.

[2020-07-10 21:39] alistair23 commented on #2598
Thanks, I have tested that but it didn't help. I still see no indication on the host

[2020-07-10 21:58] felixmiller commented on #2636
Let's move forward with option 2 then

[2020-07-10 21:58] #2636 closed

[2020-07-10 22:17] imphil commented on #2776
@msfschaffner @cindychip

[2020-07-10 22:30] cindychip commented on #2776
Hi Rupert,
I think you have a good point on it.
1). Yeah the nightly regression does run a long time (around 21 hours). I have been monitoring it. We started the regression around 7:30pm PDT Time, usually we do not get VCS license until next day around 9am PDT. That is why the time has been very long. I can contact license person internally to check if there is anything we can do to acquire licens

[2020-07-10 22:49] sriyerg commented on #2776
Lets discuss offline on how we can increase the throughput.

[2020-07-10 22:52] sriyerg commented on #2776
In the meantime, lets experiment with the test reseeds in each IP and find out if running fewer iterations is enabling us to get to the same level of coverage.

[2020-07-10 22:56] cindychip commented on #2776
Sounds good, I can try to play around with the current stable IPs.

[2020-07-11 01:21] msfschaffner commented on #2761
@cindychip can you close this issue once your updates are complete?

[2020-07-11 01:29] cindychip commented on #2761
Sure I will do that!

On Fri, Jul 10, 2020, 6:21 PM Michael Schaffner <notifications@github.com>
wrote:

[2020-07-11 11:56] rswarbrick opened #2799 "[otbn] Generate encoding documentation from insns.yml"
It would be good to specify the instruction encodings in the generated documentation. To do so, the nicest approach is probably to store the encoding in the YAML file and extract that for the documentation (and, hopefully, also the simulator and maybe even the decode RTL).

[2020-07-11 11:59] rswarbrick commented on #2799
I've done a bit of work on this and it's almost in working shape. The only remaining issue is fields that are encoded in a weird order (like the immediate for JAL). Probably just a hours or two's work left.

An example of things working well:

![ss0](https://user-images.githubusercontent.com/104845/87223601-476b6800-c376-11ea-94c5-aa55059a1d1c.png)

And of things not working quite right (notice th

[2020-07-11 12:01] rswarbrick commented on #2615
In fact, we do even better: the auto-generated tests also check memory access. This turned up a couple of bugs, but they should now be fixed.

[2020-07-11 12:03] rswarbrick commented on #2782
@imphil: I mean, can the TL-UL bus generate a read for address 0x123 within, say, our DMEM?

[2020-07-11 12:07] rswarbrick commented on #2775
@tjaychen: Your patch in #2787 looks like it should have fixed this. Did it? In which case, could you close the issue too?

[2020-07-11 12:10] rswarbrick commented on #2776
Forgetting about time differences with the UK, it sounds like you're saying that the tests don't actually start until 9am in the morning. I guess that addressing that is probably a higher priority than reducing reseed counts (even if it is harder to get working).

[2020-07-11 17:16] felixmiller commented on #2469
Assembly is here: https://github.com/felixmiller/ot-dsim/blob/new-isa/asm/otbn_bn.asm

[2020-07-11 17:46] felixmiller commented on #2778
If we think about adding such instructions as proposed above by @GregAC , wouldn't it be more straight forward to treat the accumulator just like another WSR, since we already have the required instructions then (BN.WSRRS and BN.WSRRW)? Or is this not a good idea from a hw design perspective?

[2020-07-11 17:53] felixmiller commented on #2779
If I am understanding this correctly this would only be helpful if we needed to nest some plain multiply within a longer sequence that is using the accumulator, right?
If we don't need this nested multiply, we could just add a pseudo instruction on the assembly level, right?

[2020-07-11 17:59] felixmiller opened #2800 "[otbn] register references in MULQACC example"
The assembly instructions in the 256x256 multiplication sequence example [here](https://github.com/lowRISC/opentitan/blob/master/hw/ip/otbn/doc/_index.md#algorithmic-example-multiplying-two-wlen-numbers-with-bnmulqacc) are supposed to show directly usable instructions, right? So I think there are probably typos with the additional 'r's.

So e.g. `BN.MULQACC.Z wr0.0, wr1.0, 0` should read `BN.MULQA

[2020-07-11 18:00] felixmiller commented on #2800
@GregAC

[2020-07-11 18:07] felixmiller commented on #2777
Also, the `<wrd_hwsel>` argument is only needed for the .SO variant not for the .WO variant, right?

[2020-07-11 18:35] rswarbrick commented on #2391
I think we have a problem with the encoding for the mulqacc instruction: the scheme currently in that document doesn't have space for `<zero_acc>` or `<wb_variant>`. I found this because the proposed encoding failed some automated checks in my YAML stuff (yay! programming!).

We could probably fit in one bit by shoving (say) `<zero_acc>` into bit 14. Then we'd need to rejig the `funct3` assignment

[2020-07-11 18:47] rswarbrick commented on #2391
Oh, also `bn.cmp` and `bn.cmpb` don't currently fit: both instructions are documented as having `<shift_type>` and `<shift_bytes>`, but we're using bits 30:25 for literal bits. Fortunately, we can shove the flags in question into the space where `<wrd>` would normally be, so that should be an easy fix.

[2020-07-12 06:13] tunghoang290780 commented on #2763
@sriyerg thanks

[2020-07-12 13:20] rswarbrick commented on #2391
I take it back: if you move stuff as I suggested for `bn.cmp` and `bn.cmpb`, the results are ambiguous with `bn.addi`. I think that `bn.cmp` and `bn.addi` are already ambiguous in the current proposal (e.g. for `32'b0011_0000_0000_0000_0100_0000_0000_1011`).

[2020-07-12 13:29] rswarbrick commented on #2391
If you want to sanity check new encodings, the code at #2801 should help. Fill in the relevant fields in `insns.yml` and then run e.g.
[code]
from the top of the OpenTitan tree.

If all is well, it will spit out a load of Markdown. If something is bad, it will instead print an error message to stderr. To see the rendered documentation (if that succeeds), you can run:
[code]
and point your browser

[2020-07-12 13:42] wallento commented on #2391
Hi,

I can now generate the information from the model. Did dinner further massive refactoring for that and now no information is specified twice, limiting the impact of mistakes.

Do you prefer it to generate yml or better directly integrate with the conversion tool?

Cheers,
Stefan

[2020-07-12 19:48] wallento commented on #2391
I have promoted RSHI to custom-2 and I we can squeeze mulacc into it too

[2020-07-12 21:22] wallento commented on #2391
Please see the update. MULQACC can get its two bits from funct3 and share custom-2 with the right shift. We still have one custom space left.

[2020-07-12 21:50] wallento commented on #2391
I agree with @rswarbrick that CMP and CMPB are aliases

[2020-07-12 21:52] wallento commented on #2391
No, they are not, w0 is not immutable in OTBN, right?

[2020-07-13 08:18] silvestrst commented on #2707
@msfschaffner no problem at all, it is likely that I will have to hold off work on this peripheral for some time anyway. Thank you for getting me up to speed with the RTL top level differences and in general the progress.

[2020-07-13 08:43] GregAC commented on #2391
Yes you have

Both of these are too constraining for building up arbitrary size multiply kernels, or rather would involve lots of extra instructions copying registers around

With the standard schoolbook multiply example I've done acc_shift_imm is only used in the writeback modes. It does only use 0 or 64 so we could move it down to 1 bit but I figured some extra flexibility would be good (unless

[2020-07-13 08:45] wallento commented on #2778
I think @felixmiller's is the best way to add it

[2020-07-13 08:51] rswarbrick commented on #2391
I'm not sure I completely follow Stefan's messages above but, yes, it sounds like he might have worked out how to rejig things.

Basically, the 2 opcodes we're using in the RISC-V instruction space allow 26 bits, so the counts above add up to 1/4 of the space. Since OTBN is super-specialised and doesn't actually have many instructions, maybe that's fine - at least it's less than 100%! :-D

[2020-07-13 09:09] GregAC commented on #2391
This was pretty much my feeling it's a bit of a monster instruction but the others aren't so huge so it should all fit.

[2020-07-13 09:11] wallento commented on #2618
There is some first work here: https://github.com/wallento/opentitan/blob/otbn-python-model/util/otbnsim/otbnsim/doc.py
It generates dicts and should be able to replace the yaml as drop-in, we should discuss the format

[2020-07-13 09:14] wallento commented on #2391
It has custom-2 opcode for itself now. @rswarbrick was missing `hwsel`, thats another bit. So it uses up all instructions now.

[2020-07-13 09:16] wallento commented on #2391
RSHI: It has custom-3 now, but only 1/4 of it, new field "funct2" [13:12]

[2020-07-13 09:16] wallento commented on #2391
CMP/CMPB: Fixed the coding to include the shift_bytes. Unfortunately the coding needed to get an update after the new spec.

[2020-07-13 09:18] wallento commented on #2391
general: Removed quirky parts of the coding, no real need to be so compact. We can now do most things in funct3, sometimes funct31 is used. I added the format dimension as color coding to make it easier to read.

[2020-07-13 09:23] GregAC commented on #2778
Sounds good to me, let's do that. I'll update the documentation.

[2020-07-13 09:26] imphil commented on #2776
If tests don't get licenses until 9am PDT, can you start them at 9am? This way we should get roughly the same end time, but with more recent commits tested (i.e. a lot of work done in morning and early afternoon in the UK).

[2020-07-13 09:38] imphil commented on #2782
For reads: sub-word accesses not crossing a word boundary are supported by the bus adapter.
For writes: only aligned word accesses.

For all "inside OTBN" accesses: only aligned word accesses; for DMEM, a word can be 32b when accessed from the base ISA side, or a 256b word when accessed fro the BN side.

[2020-07-13 10:04] #2477 closed

[2020-07-13 10:05] imphil commented on #2617
Did go into otbn-dev through 51ae3f3ac0b7a43af62ca751e70d4d487953bb9a

[2020-07-13 10:05] #2617 closed

[2020-07-13 10:08] imphil commented on #2614
We'll need a bit more time for this one. When I started on this I saw some opportunities to lay out modules in a way that makes it easier (or harder) to potentially prove some properties of data (not) flowing from the narrow to the wide side. I'll finish those thoughts and follow up with a discussion.

[2020-07-13 10:34] GregAC commented on #2782
From a hardware perspective we can happily support reading 32-bit aligned 256 bit words on the wide side.

Though a related question is do we want to increase the data bus width between OTBN and DMem to allow faster reads on the wide side? When we were doing the performance numbers how many cycles did we assume for a load and store?

[2020-07-13 10:38] rasmus-madsen commented on #2771
@vogelpi I think I have narrowed it down to the DPI interface.
exactly what goes on I am still unsure of - but independent on if I mask the key bits or not. the DUT gives the same output (as expected)
but the c_model changes its response so it looks like it is not respecting the key / key length.

after rerunning with different constraints and creating a dedicated test I can now see that the same

[2020-07-13 10:50] imphil commented on #2782
Yes, but there's no BN instruction using that functionality.

The dmem bus is already 256b wide. The performance numbers were assuming a single cycle for loads/stores.

[2020-07-13 11:42] GregAC commented on #2623
I have written an ALU and register file that when stitched together will allow us to execute all of the ALU ops. You can find this on my OT fork here: https://github.com/GregAC/opentitan/tree/otbn_backend_wip/hw/ip/otbn/rtl

I've done a scratch testbench that stitches the two together and runs a simple test on the available operations, which is working.

Next I need to implement memory access and

[2020-07-13 12:36] GregAC commented on #2782
Ah my mistake I had thought it was currently a 32-bit data bus, hence easily supported reads of 32-bit aligned 256 bit words.

In that case the original suggestion of 32-bit aligned narrow and 256-bit aligned wide accesses only is the way to go. I will add this to the docs.

[2020-07-13 12:43] GregAC commented on #2782
Ah on a closer look there's already mention of alignment on the LID/SID instructions, though the psuedo code for the instructions looks a bit odd

[code]
The `offset / WLEN / 8` is turning the offset into an address for  a WLEN width memory (i.e. the native addresses used by the DMem) but GPR[rs1] is indicated as a byte address. I think we want something like:

[code]

[2020-07-13 12:43] imphil commented on #2782
yes, it's a mistake I've made consistently in various places :-)

[2020-07-13 12:44] GregAC commented on #2782
Ok I'll have a look through and correct and ensure alignment requirements as suitably obvious.

[2020-07-13 13:10] #2615 closed

[2020-07-13 13:43] imphil opened #2804 "[otbn] Describe calling convention from Ibex"
Document a calling convention for how to call software on OTBN.

Starting point can be the other implementation.

@felixmiller  has a starting point from the other implementation.

[2020-07-13 13:47] imphil opened #2805 "[otbn] Put instruction coding into documentation"
The OTBN instruction encoding was done in https://github.com/lowRISC/opentitan/issues/2391, we now need to add it to the docs which are generated from insn.yml

[2020-07-13 13:48] imphil commented on #2469
Left to do: add it to the "snippet collection" in the hw/ip/otbn tree.

[2020-07-13 13:58] imphil commented on #2805
That's actually a duplicate of https://github.com/lowRISC/opentitan/issues/2799.

[2020-07-13 13:58] #2805 closed

[2020-07-13 14:00] imphil commented on #2470
Current status: BN.MULQACC is sufficient for RSA. @felixmiller is looking at ECC next.

[2020-07-13 14:33] rswarbrick opened #2806 "[otbn] Generate a "full" assembler, wrapping binutils"
This will essentially be a Python wrapper around riscv-unknown-elf-as, which goes through the input and replaces calls to OTBN-specific instructions with `.insn` lines.

[2020-07-13 14:35] rswarbrick opened #2807 "[otbn] Wrap objdump to make an OTBN disassembler"
This will essentially be a Python wrapper around `riscv-unknown-elf-objdump` (called `otbn-objdump`, probably). It should spot the `-d` flag (and `-D` and similar) and replace unknown instructions in the disassembly output with the OTBN disassembly.

[2020-07-13 14:38] rswarbrick opened #2808 "[otbn] No instruction group headings in ISA documentation TOC"
One regression caused by generating this documentation from the YAML is that the Hugo `markdown -> HTML template -> shortcode -> markdown -> HTML` pipeline(!!) only produces the group headings on step 4, which means they don't appear in the table of contents.

Maybe there's something clever we can do? Otherwise, we probably need to generate a snippet per instruction group and then name them explic

[2020-07-13 15:38] vogelpi commented on #2647
Hi @tjaychen,
sorry for my late response. I now did a first PR for bronze to add the connection. I am not sure if interconnection is done correctly and would be happy if you could take a look.

[2020-07-13 16:19] vogelpi commented on #2727
Thanks @moidx for opening this issue and adding a reference to the relevant TPM spec.

On top of the current architecture, these modes can be added at low hardware cost:

- CFB-128 meaning CFB with a feedback length or segment size of 128 bits can be added at zero hardware cost. (Theoretically, the feedback length can be any number between 1 and 128. But according to the referenced document TPM 2.

[2020-07-13 16:23] vogelpi commented on #2727
One more note on the feedback length or segment size: Common values are 1, 8 and 128. If we need support for values other than 128, the implementation is going to be much more costly as this requires a lot of additional muxing resources. Low-power devices I have seen so far usually only support 128 bits (what is needed for TPM 2.0). I thus suggest only to implement this version, i.e., CFB-128.

[2020-07-13 16:30] #2427 closed

[2020-07-13 16:32] cindychip commented on #2776
That could be an option too!

[2020-07-13 16:35] cindychip commented on #2761
Looks like DV, FPV, Lint, and Syn regression result all followed the proposed format. I am going to close this issue.

[2020-07-13 16:35] #2761 closed

[2020-07-13 16:46] silvestrst opened #2812 "[HW, UART] RXRST and TXRST clarification"
This question takes its roots from the following [discussion](https://github.com/lowRISC/opentitan/pull/2442#pullrequestreview-447303928).

I have read through UART RTL and could not find any indication that RXRST and TXRST have any effect on the data that
 is being transmitted/received. Is my understanding that If the data is being received, but the full byte has not been received fully yet - the

[2020-07-13 17:06] msfschaffner commented on #2776
Regarding the other regressions (lint, synth): these typically run fairly quickly. Both lint regressions take around 16min together (including result upload). Synthesis is somewhere around 30mins at the moment.

[2020-07-13 17:27] vogelpi commented on #2771
Hi @rasmus-madsen ,

thanks for opening the issue and for providing log files and VCD. I don't have access to Xcelium, so cannot really test this. Also, I get an error when opening the VCD that the file is malformed. I'll have to try with another tool.

In the meantime, can you add a `printf()` inside the DPI module (the `c_dpi_aes_crypt_block/message()` functions inside `hw/ip/aes/dv/aes_model_dp

[2020-07-13 17:31] imphil commented on #2776
It would be nice to have all these reports from roughly the same changeset; so it would be nice to start them roughly at the same time.

[2020-07-13 19:13] gkelly opened #2813 "[docs] `Render Documentation` stage can fail but indicate success"
Looking at [this build](https://dev.azure.com/lowrisc/opentitan/_build/results?buildId=16649&view=results) the `Render Documentation` step is showing success, and `Render Landing Site` is showing failure. Digging in, the `Render Documentation` step is failing during `gen_dif_listing.py` but not failing the entire step. The `Render Landing Site` step is then failing because the previous step never

[2020-07-13 19:16] sriyerg commented on #2776
This problem is not solved easily, considering there are several other hardware projects at Google that we are competing with for acquiring a license to run our tests. As I mentioned before, we will discuss internally and find the best way to mitigate this in the short term and in the long term.

[2020-07-13 20:06] cdgori commented on #2727
I think it's fair to refine the RFC to be only for CFB-128.  If we find another application in the future that needs say, CFB-8, we can make another RFC.

Given the small resources for CFB-128 (and the need for it in TPM) this is a pretty simple one to justify, I hope.  OFB basically comes "for free" with this, other than the DV cost.

[2020-07-13 20:10] cdgori commented on #2470
Could you comment a little bit more on what "sufficient" means in this context? Contains necessary arithmetic functionality? Meets performance goals?  Something else?  Thanks.

[2020-07-13 20:59] cdgori commented on #2748
My 2c:

-It seems like we are in a bit of a catch-22 because we don't want to allow this reset during an ongoing transaction, but one of the proposed uses of this reset is to clear a hung/stuck OTBN?  (At which time, OTBN is almost certainly going to think it's in the middle of a transaction).  I guess @tjaychen is proposing a watchdog that will accept the reset-vote when it times out?

-I was try

[2020-07-13 21:52] cdgori commented on #2650
Security-wise, I think the latches are safer than hard macros (they are definitely harder to probe, and probably harder to glitch).

Did you have any specific security issue beyond those two areas?  (OK to discuss post-bronze, just wanted to put some comments in here)

[2020-07-13 23:24] sjgitty opened #2814 "[FPGA] utilize NexysVideo ADC for AST"
The NexysVideo FPGA board has an ADC that we could use to model the functionality of the ADC portion of the AST. @mdhayter has trailblazed this and we can piggyback on that work at the appropriate time (post-bronze).

My recommendation for the order of events here would be:

 - [ ] @nimrodpeled et al complete their work for the behavioral model of the ADC within the AST code base
 - [ ] @esshiu wo

[2020-07-14 03:39] msfschaffner opened #2817 "OpenOCD compliance test suite not working anymore"
It looks like the OpenOCD compliance test suite can't be used anymore with the newest version of OpenOCD, since the `-rtos riscv` option has been deprecated and replaced by `-rtos hwthreads`. If you try to run the OpenOCD compliance test suite as described in our documentation

https://docs.opentitan.org/doc/ug/getting_started_verilator/

you get the following error: `Error: Please run with -rtos

[2020-07-14 09:35] rswarbrick commented on #2391
This looks close. I've updated the YAML code to match. The tooling still finds collisions (manually wrapped to make it easier to read):

[code]

[2020-07-14 09:40] rswarbrick commented on #2391
@wallento: Once you've come up with a fix, is there any chance you could try it out with the tooling, to avoid yet another go-around? If #2801 hasn't yet been merged, I think the following sequence of commands should work:

[code]

[2020-07-14 09:48] wallento commented on #2391
Yes, sorry, just found that I have a hiccup in the coding. Will fix ASAP

[2020-07-14 10:01] GregAC commented on #2817
Does sounds like they're not interested in the compliance test, but maybe they'd be happy to have a small PR to fix given it's still there.

Still probably not something we want to rely on for the future, bit of a shame really, perhaps we could provide our own smoke test  in OT that shows the debugger infrastructure is working?

[2020-07-14 10:04] imphil commented on #2817
The compliance test was never really supported (since it actually doesn't really test compliance), but it is still a very useful test which has uncovered a fair amount of issues in our integration. So if we can keep it working it would be helpful. As Greg said, upstream will most likely accept a patch to unbreak things, otherwise we can have it in our fork.

I can have a look at it some time if no

[2020-07-14 11:29] wallento opened #2820 "[otbn] write model trace to file"
Write the model trace to a file for better debugging capabilities

[2020-07-14 14:48] #2820 closed

[2020-07-14 14:50] wallento commented on #2471
Adding a trivial TODO item that does not significantly impact the effort:

- [ ] Write trace to file (needs extra argument and if given writes trace there)

[2020-07-14 14:52] #1386 closed

[2020-07-14 15:46] vogelpi commented on #2708
Thanks @lenary. If I understand this correctly, it means that using the current OpenTitan LLVM toolchain:
- We could start to use bitmanip instructions via inline assembly e.g. in mmio when dealing with peripherals.
- No bitmanip instructions would be automatically inserted as for example with the patched GCC (which can only add a small subset anyway at the moment).

[2020-07-14 16:29] tjaychen commented on #2775
yeah I think so. I will close this.

[2020-07-14 16:29] #2775 closed

[2020-07-14 17:29] vogelpi commented on #2703
I just created the PR for the osc test mode. I just needed to connect the bit in the phy_config register. Or do you think anything else is needed @stefanlippuner ?

Regarding the other features: could you elaborate a bit? Especially the observability could be interesting for us.

[2020-07-14 17:47] lenary commented on #2708
We have been building a toolchain. It is **not** the one that developers currently download, but a migration would not be as difficult as the one we just did to migrate to clang.

If we switched to it:
- We could use B instructions in inline assembly.
- GCC would generate B instructions when compiling C code.
- Clang would *not* generate B instructions when compiling C code.

---

I'm not sure how

[2020-07-14 19:45] msfschaffner commented on #2817
Yes indeed, I have also found it a good test to run whenever you make modifications to the debug infrastructure - be it just a new vendor-in as in the linked PR.

I meant to make a PR upstream to ask whether that could be a solution, but haven't gotten around to that yet. So if anyone finds some time to look into that, that would of course be great ;).

[2020-07-14 23:14] sjgitty commented on #34
Reviving this old issue so that we can address some of them then close. We would also have to revive the lint check to feel like we've covered enough to close it. So pinging @NilsGraf to see if he can remind us how to do that. I don't think we need to enable it for all time, but it would make sense to get a fresh accounting. This below is based upon the last run a year ago.

- [ ] `prim_subreg*.sv

[2020-07-14 23:17] sjgitty commented on #34
Feel free to weigh in to this or the PR (#2825) if you don't think it is worth the changes at this point.

[2020-07-15 10:41] rasmus-madsen commented on #2771
@vogelpi
I have traced down the issue which is only present for xcelium compiler.
it seems the key_len_i inside the c functions is getting corrupted by data from somewhere else.
[code]
from sv gets translated into
[code]
in C
obviously the key len should never be 10 (hex A / bin 1010) so the 3 bits turns into 4 bits in C
adding another clause to the key check immediately catches this.
[code]
makes

[2020-07-15 11:43] stefanlippuner commented on #2703
Yes, you can route the signal directly to usb_fs_tx. You could add some synchronization FFs, but I don't think that's strictly necessary here.

We have two additional registers that allow observation (phy_pins_sense) and controlling (phy_pins_drive) of the IO signals. These are then muxed in the usb_iomux with manually instantiated muxes (+synchronization FFs for the sense register). The idea is t

[2020-07-15 14:40] silvestrst commented on #2737
I was thinking that if we have unresolved comments, but we would like to merge the PR under question and address the remaining comments in the follow-up, or as a part of larger change. We open an issue, assigning it to the author of the PR with remaining comments, post a link to the PR with a description.

This was more or less what I was thinking, so that we don't loose track of unresolved commen

[2020-07-15 14:53] gkelly commented on #2737
Okay, so something like adding the language: "When approving a change a committer can request that the outstanding comments be transferred into a GitHub issues assigned to the original PR author. The timeline for resolving the issue should be agreed upon before the PR is submitted."? I chose "a committer can request" to differentiate drive-by reviews from non-project-members.

[2020-07-15 15:35] silvestrst commented on #2737
Sounds good to me!

[2020-07-15 16:52] GregAC commented on #2779
Indeed this is only useful if you care about the accumulator getting clobbered.

It is maybe a bit surprising for a BN.MULQ instruction to clobber the accumulator but given the specialised nature of the ISA a little bit of odd/surprising behavior may be ok.

Perhaps we want to use a mnemonic that makes it clear ACC gets clobbered? BN.MULQ.WACC or something?

[2020-07-15 17:10] cdgori commented on #2708
This seems correct to me.   The carry-less multiply would be the most appealing part of the full implementation, but I think all of our Galois-field stuff is going to be in (dedicated) hardware.

Do we have any idea of potential code size reductions from utilizing the balanced implementation?  Seems like DIFs could become smaller because of single-bit / bit-place instructions.  This alone might be

[2020-07-15 17:13] cdgori commented on #367
Just providing a pointer to a comment I made on issue #113 (on handling of default in state machine encodings) since it has been closed.

[2020-07-15 17:17] cdgori commented on #2661
@felixmiller for the integrity checks one way functions comment - do you imagine a local-to-OTBN hash (SHA2?) engine to do this?  Or something else?  Just trying sync up my understanding with yours.

[2020-07-15 18:33] tjaychen commented on #2755
shall we close this issue if it's fixed?

[2020-07-15 18:33] tjaychen commented on #2754
shall we close this issue if it's fixed?

[2020-07-15 18:34] tjaychen commented on #2492
o this was fixed, closing now.

[2020-07-15 18:34] #2492 closed

[2020-07-15 18:35] tjaychen commented on #2461
This is no longer needed..although the proposal is still valid if the need ever comes.

[2020-07-15 18:35] #2461 closed

[2020-07-15 18:35] tjaychen commented on #2436
this has already been done in the draft PR. Closing for now.

[2020-07-15 18:35] #2436 closed

[2020-07-15 18:37] tjaychen commented on #2220
@msfschaffner  / @zi-v

specifically for the second point, should we just directly connect them in `top_earlgrey_asic`? Seems like that would be sufficient, especially since the idea is that software / jtag would be used to tri-state the pads.

@zi-v
this does imply that by default AST should probably not drive the debug signals until enabled.  Does that work for you?

[2020-07-15 18:38] tjaychen commented on #1412
i'm most likely going to template the `flash_ctrl`, so this issue is moot.

[2020-07-15 18:38] #1412 closed

[2020-07-15 18:41] tjaychen commented on #57
@imphil i think you've already resolved this issue, I'll close it down.

[2020-07-15 18:41] #57 closed

[2020-07-15 18:42] tjaychen commented on #2110
This has already been addressed but forgot to close the issue.

[2020-07-15 18:42] #2110 closed

[2020-07-15 18:43] tjaychen commented on #1391
@vogelpi i think this issue has been resolved through the `clkmgr`.
Now the input clocks are sent to the clkmgr which then fans them out to the various submodules.

I'm closing this down, let me know if you object.